[2020-04-08 17:25] chrono2002 opened #5216 "Cannot create object store buckets after upgrade to 1.2.7"
Hello guys!

Recently I have upgraded rook-ceph from 1.1.6 to 1.2.7.
Everything is ok besides new bucket creation in object store I've created long ago. It just fails.

I'm creating a new ObjectBucketClaim and it goes like this:

`2020-04-08T20:10:33.912550280+03:00 stderr F 2020-04-08 17:10:33.912510 I | op-bucket-prov: creating Ceph user "ceph-user-rOhD3xPY`
`2020-04-08T20:10:33.912550280+03:00

[2020-04-08 19:15] Antiarchitect commented on #5173
Same issue for me:
[code]

[2020-04-08 20:36] chrono2002 commented on #5216
Looks like I've got it.

I have 2 stores.
One store just called "store".
Another one called "store-s3".
So when rgw pods starts for "store-s3" they somehow points to "store" realm:

`debug 2020-04-08 20:20:35.015 7f05d1883780  1 mgrc service_daemon_register rgw.store.s3.b metadata {arch=x86_64,ceph_release=nautilus,ceph_version=ceph version 14.2.8 (2d095e947a02261ce61424021bb43bd3022d35cb) nautilu

[2020-04-08 21:16] chrono2002 commented on #5216
Fixed this by editing rgw deployment and adding these params:

        - --rgw-zone=store-s3
        - --rgw-zonegroup=store-s3

Now it starts with correct zone.

[2020-04-08 22:52] #4517 closed

[2020-04-09 07:33] muhlba91 commented on #5173
i'm running into this with a fresh octopus installation.
however, generation keeps incrementing on the resource every few seconds.

[2020-04-09 08:18] leseb commented on #5173
@nickm924 @muhlba91 @Antiarchitect @rsliotta did you actually run `https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/upgrade-from-v1.2-crds.yaml`? before upgrading?

Please print your CR, `kubectl -n rook-ceph get cephblockpools -o yaml` thanks.

[2020-04-09 08:21] muhlba91 opened #5222 "1.3.0 - block pools not deletable"
Using the operator 1.3.0 (ceph nautilus and/or octopus) I am not able to delete block pools anymore. Trying to delete them results in the following error:

[code]

[2020-04-09 08:23] leseb commented on #5222
pool is not empty?

[2020-04-09 08:25] Madhu-1 commented on #5222
if you have PVC created in the pool you cannot delete it, you need to delete PVC first and then delete Pool

[2020-04-09 08:32] Antiarchitect commented on #5173
Before:
[code]

And after `curl -s -L https://raw.githubusercontent.com/rook/rook/master/cluster/examples/kubernetes/ceph/upgrade-from-v1.2-crds.yaml | kubectl -n core-rook apply -f -`:
[code]

[2020-04-09 08:34] muhlba91 commented on #5222
ah, this way to read the message. :+1:
(the error message is a bit misleading, in my opinion, as it says failed to check if pool has rbd images.)

is there a way to delete non-empty pools (kinda a force delete)?
anyways, we can close this ticket because the cause is found :)

[2020-04-09 08:40] Antiarchitect opened #5223 "Dashboard 500. Rook v1.3.0, Ceph 15.2.0"
Kubernetes 1.16.8
Centos 7 5.5.13-1.el7.elrepo.x86_64

After upgrade to Rook v1.3.0 and Ceph 15.2.0 the dashboard is partially unavailable and indicates HTTP 500 errors.
Logs of manager:
[code]

[2020-04-09 08:43] muhlba91 commented on #5173
for me it was a clean install: entirely new cluster and helm installation of the operator. once with octopus and also with nautilus. both times i get those logs:
[code]

however, as @Antiarchitect shows before, the generation always increments every few seconds.

[2020-04-09 08:44] leseb commented on #5173
@Antiarchitect thanks, so it looks you were missing the update.

@muhlba91 can you run `kubectl -n rook-ceph get crd cephblockpools.ceph.rook.io -o yaml`?

[2020-04-09 08:44] #5222 closed

[2020-04-09 08:45] muhlba91 commented on #5223
same here. also if i am able to login, the dashboard throws errors when communicating to the API. only a few pages are working fine.

[2020-04-09 08:49] muhlba91 commented on #5173
rook: 1.3.0
ceph: 14.2.8
k8s: 1.17.4 (rancher)

[code]

[2020-04-09 08:58] leseb commented on #5173
@muhlba91 got it, sending a fix! Thanks!
This only happens on helm installation.

[2020-04-09 09:07] Martin-Hogge commented on #3133
I agree that some documentation on the `rook` size would really help.
I tried to resize my volume using @phanhuy1502 method but I'm actually stuck on

[code]

Does anyone knows what could be the cause of this issue ? Thanks.

[2020-04-09 09:47] leseb commented on #5223
@alfonsomthd @epuertat any idea on these errors? Thanks!

[2020-04-09 11:38] nickm924 commented on #5173
Just to confirm - I was using the helm chart on a new installation with Octopus, not an upgrade. After the first few failures, I backed out helm and used the `cluster/examples/kubernetes` manifests and everything worked.

[2020-04-09 12:01] leseb commented on #5173
Yes yes it's (unfortunately) expected, fix is in #5224

[2020-04-09 12:02] #5213 closed

[2020-04-09 13:19] LenzGr commented on #5223
Can you please provide the mgr.log file of the node where the dashboard is running? We would need a backtrace from the dashboard to comment on this.

[2020-04-09 13:26] bk201 commented on #5223
`mds.core-rook` looks like a daemon name, ServiceSpec only accepts known service_types: https://github.com/ceph/ceph/blob/c5dd11b7ec658ffca6c3576e3a5966934298ab69/src/python-common/ceph/deployment/service_spec.py#L346-L348

[2020-04-09 13:32] alfonsomthd commented on #5223
I tested Dashboard ```ceph version 15.2.0 (dc6a0b5c3cbf6a5e1d6d4f20b5ad466d76b96247) octopus (rc)``` in a cluster (not deployed with rook) and it works fine.

Could it be related to upgrade/deploy?
@Antiarchitect can you provide more info about the cluster?

[2020-04-09 13:36] Antiarchitect commented on #5223
First of all, the namespace is not default its `core-rook`. What in particular do you need to know?

[2020-04-09 13:44] alfonsomthd commented on #5223
- ceph-mgr logs: see https://github.com/rook/rook/issues/5223#issuecomment-611523638
- ```ceph status```
- Any other info that can give us more context (upgrade steps, ...)

[2020-04-09 13:51] Antiarchitect commented on #5223
Here is a freshly started mgr log: https://gist.github.com/Antiarchitect/1ba477cf7c4b98c584616ddd43f8dc69

[code]
43 daemons - it was a week ago.

Upgrade steps:
1. From Rook v1.2.7 to v1.3.0 with Ceph 14.2.8 (untouched)
2. From Ceph 14.2.8 to 15.2.0 after a successful stage 1

[2020-04-09 14:08] lbogdan commented on #5173
I can confirm that (manually) adding `spec.subresources.status` to all CRDs in helm's output fixes this.

[2020-04-09 14:24] bk201 commented on #5223
The minimal health API of the Dashboard gets iSCSI services from orchestrator, which eventually invoke orchestrator's `describe_services()` function.

In 15.2.0, `describe_services()` asserts because it lists mds services with `mds.<namespace>` service type. A [PR](https://github.com/ceph/ceph/commit/b4c88196ffbfdf993834b14a888b30a50ec64a89#diff-7321803abaee10bdef98678b409fcf1bR314-R315) was merge

[2020-04-09 14:38] #5173 closed

[2020-04-09 14:54] travisn commented on #3683
Ah, this issue would be better opened in the Ceph dashboard instead of in Rook.
@LenzGr Where is the best place to report dashboard issues?

[2020-04-09 15:07] travisn commented on #4494
@joscollin Thanks for the confirmation, I believe #5087 addressed this issue and no longer sets the app name on the filesystem pools.

@stephan2012 Can you see if the Rook v1.3 release fixes the issue for you? Before closing this issue it would be great to confirm that there isn't something else lingering.

[2020-04-09 15:10] LenzGr commented on #5223
FWIW, this is the PR that fixes it: https://github.com/ceph/ceph/pull/34061

[2020-04-09 15:17] travisn commented on #5049
@binoue The existing Rook-Ceph helm chart is only for installing the operator. You are correct that it will already allow you to install the operator in any namespace.

The helm chart currently makes the assumption that a CephCluster CR will be installed in the same namespace as the operator. The helm chart will create the RBAC in the same namespace.

If you want the CephCluster CR in a different

[2020-04-09 15:30] joscollin commented on #4494
@travisn This is the fix https://github.com/rook/rook/pull/4740

[2020-04-09 16:07] muhlba91 commented on #5173
@leseb do you plan on releasing a fix version for the helm chart?

[2020-04-09 16:16] travisn commented on #5173
@muhlba91 Yes, we are planning on a v1.3.1 with this fix later today.

[2020-04-09 18:02] krbcmt opened #5228 "Operator unable to create new ObjectBuckets because rgw listening port changed"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Unable to create new `ObjectBuckets` because after upgrading from 1.2 to 1.3.0 rgw `targetPort` is not updated to reflect the [new default of 8080
](https://github.com/rook/rook/commit/f136105951bce432297a1a75d95e60d13566d706)

**Expected behavior:**
The rgw `targetPort` should update automatically or

[2020-04-09 18:46] #3336 closed

[2020-04-09 20:16] #5228 closed

[2020-04-09 22:53] #3144 closed

[2020-04-09 22:53] #2529 closed

[2020-04-10 00:08] zerkms opened #5235 "Cluster health check removes some field from the `CephCluster` objects, which leads to false-positives in kubectl apply reports"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I don't know the project source code yet, so my apologies if my assumptions point to the wrong place, but the observations are not wrong.

I have noticed that as long as the operator logs this line

    op-cluster: checking health of cluster

some properties of the `CephCluster` object disappear (pres

[2020-04-10 00:18] zerkms opened #5236 "chart: missing default `nodeSelector` value"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The default `nodeSelector` value in the chart should be `{}`, otherwise when one specifies their custom override - helm cannot type check it:

    coalesce.go:165: warning: skipped value for nodeSelector: Not a table.

**Expected behavior:**

It should be ok

**How to reproduce it (minimal and precise)

[2020-04-10 01:26] zerkms opened #5238 "Possible improvement for the controller finalizer handler"
**Is this a bug report or feature request?**
* Feature Request

At the moment finalizer handles the request this way:

[code]

So it looks that if the cluster object is not updated anymore (unlikely, given it was requested for deletion?) - then if `c.handleDelete` fails - then cluster deletion would stuck forever.

**What should the feature do:**

it should improve the finalizer error handling

**

[2020-04-10 05:12] travisn commented on #5223
@sebastian-philipp Did https://github.com/ceph/ceph/pull/34061 make it into v15.2.1 or will it be in v15.2.2? thanks

[2020-04-10 07:08] muhlba91 commented on #5223
as asked on the PR itself: `probably 15.2.2`
anyhow, do we know when approx. the ceph team expects the release to happen?

[2020-04-10 07:21] willfaught commented on #5211
I didn't see any "automating [...] scaling, upgrading, migration, disaster recovery, monitoring, and resource management" info for CockroachDB in https://rook.io/docs/rook/v1.3/cockroachdb-cluster-crd.html or https://rook.io/docs/rook/v1.3/cockroachdb.html. I couldn't find any other pages for CockroachDB. Did I miss a page? Sorry if so.

Regarding https://rook.github.io/docs/rook/v1.3/ceph-upgrade

[2020-04-10 07:56] #5236 closed

[2020-04-10 09:16] rushikeshjadhav opened #5241 "Incorrect RBD create when using Erasure Coded Pool"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Yes, newly created PV (RBD) missing `data_pool` property

**Expected behavior:**
newly created PV (RBD) should have `data_pool` property

**How to reproduce it (minimal and precise):**
kubectl create -f common.yaml
kubectl create -f operator.yaml
kubectl create -f cluster.yaml
kubectl create -f csi/rbd

[2020-04-10 09:18] binoue commented on #5049
@travisn

Thank you for your comment!

I think this is better than option 2 which creates a new helm chart for the namespace division of a ceph cluster and rook operator because keeping maintaining two different charts is hard work.

I made a PR #5240 for option 1.
I would be grateful if you give some comments.

[2020-04-10 10:21] binoue opened #5242 "Invalid link in the v1.3.0 release page"
**Is this a bug report or feature request?**
* Bug Report
In [the v1.3.0 release page](https://github.com/rook/rook/releases/tag/v1.3.0), "network configuration doc" is linked to "https://github.com/rook/rook/blob/v1.3.0/Documentation/ceph-cluster-crd.html#network-configuration-settings", but it should be "https://github.com/rook/rook/blob/v1.3.0/Documentation/ceph-cluster-crd.md#network-configura

[2020-04-10 13:27] philipp1992 commented on #1329
can someone exlain this please and how to fix?

TOO_FEW_PGS: too few PGs per OSD (26 < min 30)

[2020-04-10 13:27] galexrt commented on #5242
Thanks for the info!

Updated v1.3.0 release notes entry.

[2020-04-10 13:27] #5242 closed

[2020-04-10 13:40] galexrt commented on #1329
The warning is nothing to worry about as long as you are using a recent Ceph and Rook Ceph version (which enables the MGR (PG) balancer module).

The Ceph MGR (PG) balancer module will automatically increase (if I remember correctly even decrease) the amount of PGs per Pool as needed depending on how much data you store in the pools.

We should document this, though a new Ceph cluster will always

[2020-04-10 14:38] philipp1992 opened #5243 "Operator stuck upgrading from 1.2 to 1.3"
Hi,

i started to upgrade my 1.2 rook ceph cluster to 1.3.
It was installed with 1.2 so i started with applying the upgrade-from-1.2* yamls and then set the operator image to the new version.

Operator is now having these issues:

[code]

[2020-04-10 16:13] ShakataGaNai commented on #1329
@philipp1992 - Just spin up a 2nd CephBlockPool's (a dummy one with no data, if you want). I ended up using the [storageclass-ec.yaml](https://github.com/rook/rook/blob/release-1.3/cluster/examples/kubernetes/ceph/csi/rbd/storageclass-ec.yaml) example, it runs 2 CBP's which solved the "too few PG" warning.

[2020-04-10 22:55] #4436 closed

[2020-04-11 01:23] remiphilippe opened #5244 "Rook will not mark any disks as empty in 1.3 (works in 1.2)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Unable to configure disks in 1.3, disk will always show as Empty: false
[code]
Seems like in 1.3 the following field changed:
https://github.com/rook/rook/blob/release-1.3/pkg/clusterd/disk.go#L148 that was introduced in this commit: https://github.com/rook/rook/commit/ab83738aacf844c9727eadee699d41076

[2020-04-11 11:42] fjudith commented on #4724
Thank you for your feedback @muhlba91 .

Is it possible for you to share the workaround you implementend using `open-iscsi` ?

[2020-04-11 12:08] xonze opened #5245 "cephfs: rook-ceph.cephfs.csi.ceph.com RegisterPlugin error unknown service pluginregistration.Registration"
* Bug Report

K8S kubelet logs

I0411 11:59:23.181934    3310 reconciler.go:156] operationExecutor.RegisterPlugin started for plugin at "/var/lib/kubelet/plugins/rook-ceph.cephfs.csi.ceph.com/csi.sock" (plugin details: &{/var/lib/kubelet/plugins/rook-ceph.cephfs.csi.ceph.com/csi.sock true 2020-04-11 11:35:10.555429827 +0000 UTC m=+64138.903334050})
I0411 11:59:23.182031    3310 operation_generator

[2020-04-11 12:56] muhlba91 commented on #4724
Sure. Please find below my workaround for Debian based systems using `tgt` and `open-iscsi`.

[code]

Since I am using also a terraform module for bootstrapping our clusters automatically, this is one of the user-data scripts used for the nodes being OSDs and to distinguish the iscsi target I can automatically add the node name, although it can be the same on every node since we only mount on loca

[2020-04-11 13:18] Madhu-1 commented on #5245
This is not a bug, it's just a logging , it won't affect functionality. Closing

[2020-04-11 13:18] #5245 closed

[2020-04-12 07:20] rushikeshjadhav commented on #5241
This bug is fixed in release-1.3 and master. It would be great if someone can point exact commit that fixed this.

[2020-04-12 14:11] gizero commented on #5049
You may find [this real world example](https://github.com/authkeys/rook-ceph-multicluster) of a working multi cluster configuration useful. I was about to propose this work here when I noticed this issue which seems to have a broader scope, but still wanted to mention that as maybe a starting point for others.

[2020-04-12 20:29] ahilsend commented on #4591
This is still relevant, can we reopen this?

[2020-04-13 02:49] #5145 closed

[2020-04-13 09:23] stephan2012 commented on #4494
@travisn: All our existing cluster have the workaround applied described above so I cannot really confirm that the issue is resolved. Rook v1.3.1 runs without issues so far. So, I suggest to close this issue.

[2020-04-13 09:27] stephan2012 commented on #4814
@travisn: I've upgraded to Rook v1.3.1 and CSI driver v2.0 and removed the manually added ConfigMap update permission. Looks good so far. Tomorrow, I will update two other clusters but don't expect to see this issue anymore.

[2020-04-13 17:15] anmolsachan opened #5249 "Rooks marks external-cluster state as connected without actual connection."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Rooks marks external-cluster state as connected without actual connection. Once the connection fails due to wrong mon-IP provided, it fails and then marks the status as connecting again.
Due to this, the cephcluster state keeps flipping between 'connecting' and 'connected'.

**Expected behavior:**
Roo

[2020-04-13 19:03] travisn commented on #4494
I see now we do need another fix with #4740 that is related to #4433. Let's close this when #4740 merges.

[2020-04-13 19:05] travisn commented on #4548
Closing this as per discussion above we will keep running the integration tests on k8s 1.11 for some time. If there are more specific work items or requests for longer support we can track with separate issues.

[2020-04-13 19:05] #4548 closed

[2020-04-13 19:17] travisn commented on #4591
@ahilsend Before we reopen the issue I'd like to consider a bigger question. The cockroachdb team has focused on support for their helm charts, but not an operator. As I understand they don't expect to need management beyond the static helm configuration. Can you comment about how you're using the cockroachdb operator and how you see it being helpful going forward? This would potentially aid to ge

[2020-04-13 19:55] travisn commented on #4117
@kfox1111 With v1.3 there is now an option to use [multus](https://github.com/rook/rook/blob/release-1.3/cluster/examples/kubernetes/ceph/cluster.yaml#L73-L84) for more advanced networking. Is this an option?

[2020-04-13 20:31] kfox1111 commented on #4117
I'm not sure. the cluster is set to net=host so that all the networks are available.

rook though is using the node ip for building the ceph configs.

I don't think I can change net=host to net!=host after deployment, which I think would be needed for multus. When I tried to do net!=host to net=host it went really poorly. I had to burn down the cluster.

[2020-04-13 20:52] travisn commented on #4117
Yeah it would only apply to new clusters. Changing a mon endpoint for any reason doesn't work since it's a part of the mon identity.

[2020-04-13 22:30] SerialVelocity opened #5250 "Upgrade fails when a second crush root with only one OSD exists"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Upgrade fails with:
[code]

**Expected behavior:**
There to be downtime and the OSD to be restarted

**How to reproduce it (minimal and precise):**

[code]

You probably only need one extra root/osd (and a pool using it?)

**File(s) to submit**:

N/A. Above should be enough. Ask if more is required.

*

[2020-04-14 01:29] jbw976 commented on #1704
Hey there @Bessonov, thanks for your interest in this issue. I definitely see the value in this scenario, in fact we've dedicated an entire project to provisioning of resources beyond volumes in a dynamic, portable, self-service, separation of concerns approach in the [Crossplane project](https://crossplane.io/).

I don't see this issue getting much traction within Rook anymore, since there is a l

[2020-04-14 03:09] etrikp commented on #5244
Encountered the same issue when trying 1.3.x. Good catch!

[2020-04-14 03:12] dyusupov commented on #5244
Hit same issue. And also another EdgeFS user hit similar issue just now...

[2020-04-14 04:10] travisn commented on #5250
@SerialVelocity There are two settings that will allow the upgrade to proceed with different levels of checking. See the `skipUpgradeChecks` and `continueUpgradeAfterChecksEvenIfNotHealthy ` [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L34-L40). I would expect `skipUpgradeChecks: true` is likely what you want.

[2020-04-14 06:44] binoue opened #5252 "Invalid link in the v1.3.0 release page"
**Is this a bug report or feature request?**
* Bug Report
In [the v1.3.0 release page](https://github.com/rook/rook/releases/tag/v1.3.0), "read the design" is linked to "https://github.com/rook/rook/blob/master/design/ceph/ceph-cluster-cleanup.html", but it should be "https://github.com/rook/rook/blob/master/design/ceph/ceph-cluster-cleanup.md#ceph-cluster-clean-up-policy"

**Deviation from expect

[2020-04-14 07:45] ahilsend commented on #4591
Thanks for your reply!
I initially started looking into the rook-cockroachdb operator, because I had good experiences with the ceph one. After looking further into it, I decided it was supporting too little. I considered contributing with some improvements, but wanted to try out the official helm chart first. And I was quite happy with it. It works well, and has a lot built-in - including TLS.

Gi

[2020-04-14 07:46] galexrt commented on #5252
Thanks for the info!

The links if fixed and I checked the other links now as well.

[2020-04-14 07:46] #5252 closed

[2020-04-14 07:47] galexrt commented on #5244
@remiphilippe Is that with Rook EdgeFS or Rook Ceph?

[2020-04-14 09:59] SerialVelocity commented on #5250
Hey @travisn, I used `continueUpgradeAfterChecksEvenIfNotHealthy` to work around this issue for now but I am worried that having that flag set to true would cause the HA root to also upgrade even if it isn't healthy yet.

Shouldn't single replica roots be ignored in `osdDoNothing`?
https://github.com/rook/rook/blob/7caedefb4fd8de950634b1dccdd61e407587b129/pkg/daemon/ceph/client/upgrade.go#L369-L40

[2020-04-14 11:01] jtlayton commented on #5122
I think it'd probably be good to start by identifying the differences in recommended settings between FSAL_RGW and FSAL_CEPH deployments, and ensure that those can be tuned appropriately. Once you have the infrastructure in place for that, you can always expand it to include other settings as needed.

[2020-04-14 12:38] wanghualei commented on #4827
may clock synchronization,check date on all machine.

[2020-04-14 12:39] wanghualei commented on #5213
maybe clock synchronization,check date on all machine.

[2020-04-14 12:42] chrono2002 commented on #5216
Operator  deletes changes in deployment on daily basis.
Could you please fix this bug with dashes in next release?

[2020-04-14 16:10] remiphilippe commented on #5244
@galexrt I've seen it with EdgeFS, didn't try with Ceph

[2020-04-14 16:35] #4494 closed

[2020-04-14 17:11] k00p commented on #5223
Saw the same issue, and the steps in [this comment](https://github.com/rook/rook/issues/3106#issuecomment-489201188) got rid of the errors. If you need iSCSI in the dashboard, however, the PR is probably going to be a better option.

[2020-04-14 18:44] satoru-takeuchi commented on #3433
I'll do it. Currently, I'm working on adding a new test of OSD on LV-backed PVC. After that, I'll write add this document with the experience of that work.

[2020-04-14 18:47] ibotty commented on #5209
I did not find that documented and had to search quiet a bit to find that bug report.  Can this be included in the documentation please?

[2020-04-14 19:56] travisn commented on #5216
The rgw-zone and rgw-zonegroup are set in the mon store starting in the 1.2 release as opposed to using the ceph.conf. The settings can be seen [here](https://github.com/rook/rook/blob/release-1.2/pkg/operator/ceph/object/config.go#L124). It appears that the issue is that during upgrade these settings will not be applied [here](https://github.com/rook/rook/blob/release-1.2/pkg/operator/ceph/object

[2020-04-14 20:00] travisn commented on #5250
Rook is basically just querying ceph to know if it is safe to stop an osd, but doesn't analyze where that OSD is in the CRUSH map. @leseb any thoughts on how to handle this?

[2020-04-14 20:23] travisn commented on #5211
CockroachDB is still in alpha state, which means the upgrades are not there yet. The upgrades are available for EdgeFS and Ceph, which are declared stable.

The automation refers to the operator upgrading all the internal resources automatically. For example, the ceph operator upgrades all the ceph daemons (mon, mgr, osd, mds, rgw, ...). The manual steps are for what is outside the operator's cont

[2020-04-14 20:28] travisn commented on #5235
@zerkms This is a result of specifying `omitempty` in the [types.go](https://github.com/rook/rook/blob/master/pkg/apis/ceph.rook.io/v1/types.go) for serialization of the CRD types. Only the default values (false or empty) are omitted when the serialization occurs. I'm not sure we will gain much by removing the `omitempty` property from the types. In this case, the properties would show up where th

[2020-04-14 20:32] travisn commented on #5241
@rushikeshjadhav Were you testing on 1.2 when you hit the issue? In 1.3 the CSI driver is now v2.0. The CSI driver is the one that provisions the rbd image so you'll probably need to look in the [Ceph-CSI](https://github.com/ceph/ceph-csi) repo for the change.

[2020-04-14 20:38] travisn commented on #5243
@philipp1992 The extremely verbose logging makes it appear that there is a failure, but it actually is not a severe failure. Rook is querying Ceph to see if it is safe to stop an OSD during the upgrade. An OSD is safe to upgrade if it can be stopped and there are other replicas of the data available on other OSDs. In this case, Ceph is reporting that the OSDs are not safe to stop. If you look at `

[2020-04-14 21:05] travisn commented on #5209
@ibotty Hopefully #5256 will make it more discoverable

[2020-04-14 21:11] zerkms commented on #5235
@travisn the point is that `kubectl apply` is supposed to be idempotent - so that all the automation tools were able to run around this property.

At the moment it's broken due to healthcheck removing/mutating several properties, so at the moment it's impossible to distinguish between "nothing has changed" and "there has been changes" cases during running automation tools.

I don't diff manually,

[2020-04-14 21:22] travisn commented on #5235
There is nothing functionally different from the operator's perspective. A `false` omitted from the CR is the same as if it is specified. Idempotent means it behaves the same, but doesn't guarantee that yaml output is equivalent.

What I'm suggesting is that if your input yaml that originally creates the yaml didn't specify the `false` or empty values, they wouldn't disappear later.

[2020-04-14 21:27] zerkms commented on #5235
Yep, I understand I can only set values that don't equal to the defaults, thanks! :-)

The reason I posted this is to share my discovery that `CephCluster` entity type behaves differently to the built-in types.

`kubectl apply` thinks it has changed - it's impossible to tell whether one of the default field has changed between releases or I suddenly changed something or something else 🤷

[2020-04-14 21:36] travisn commented on #5235
It's a fair observation. If it's any consolation, by design Rook will never update the `spec` section of its CRs. The operator only updates the `status` section or `metadata` such as adding a finalizer. The `spec` is treated as sacred ground for the user's settings to control desired state.

[2020-04-14 21:37] zerkms commented on #5235
Right, closing as "works as designed then" :-)

Thanks again, and stay safe.

[2020-04-14 21:37] #5235 closed

[2020-04-14 21:46] fr3aker commented on #5209
@travisn #5256 doesn't really add much useful information for cases like mine where you've willingly and purposely labeled a partition with something including the word "ceph". That has nothing to do with "cleaning a device".

And I'd like to add that it's quite unexpected to have rook fail because a partition you intend to use for ceph has the word "ceph" in the partition label.

[2020-04-14 22:11] travisn commented on #5209
Yeah if you created the partition, understood it is unexpected. Rook and Ceph err on the side of skipping volumes if they appear to be in use and sometimes skips when unexpected.

[2020-04-14 22:59] travisn opened #5257 "Zap OSD devices during uninstall if the admin really intends to"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
During uninstall the data that was written to OSDs will remain on the OSDs. To clean up the devices, the admin has to connect to the host and zap the devices where the OSDs were running. To simplify the cleanup process during uninstall, the operator should start a job that will cleanup the devices. Rece

[2020-04-14 23:02] travisn opened #5258 "Simplify cleaning up a failed OSD with a job that can be launched by the admin"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
When the device underlying an OSD fails, the OSD needs to be removed from the cluster. Currently this requires a number of steps with both `ceph` commands in the toolbox and `kubectl` as described in the [OSD management](https://rook.github.io/docs/rook/v1.3/ceph-osd-mgmt.html#remove-an-osd) doc. This i

[2020-04-14 23:04] travisn commented on #5258
@xenolinux @rajatsingh25aug @jarrpa per our discussions, please review

[2020-04-15 00:46] piersharding opened #5259 "op-cluster: failed to configure external ceph cluster - failed to run ceph version"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When integrating with an External Ceph cluster, the Operator constantly launches jobs to Detected ceph image version for the external Ceph cluster, which appear to be failing.  The operator logs repeatedly issue errors like the following:
[code]
Even with this error, it is possible to create cephfs, an

[2020-04-15 01:57] maokofan commented on #2338
部署cluster.yml会在k8s上创建Job实例，其配置文件引用quay.io/cephcsi/cephcsi:v2.0.1，请问这个惊喜怎么修改呢，源码包中没有该镜像

[2020-04-15 05:22] jonashartwig commented on #3133
Hi, I got the same issue just a few days ago. Actually that step can be skipped completely. You just go on and resize the local kubernetes/docker mounts and you should be fine.

[2020-04-15 06:46] leojonathanoh commented on #5015
Agreed. Requests and limits should be set to guarantee these pods don't overload a node under resource pressure, and guarantee they dont get evicted. Seems like there's been a similar issue for csi plugins: https://github.com/rook/rook/issues/4113

I would add to the list:

rook-discover
- [rook-discover](https://github.com/rook/rook/blob/6f3db3df71b87de4f3950d2eda8a86aae720c8fe/pkg/operator/disco

[2020-04-15 06:47] Madhu-1 commented on #5015
am working making changes for CSI plugins, will send a PR soon

[2020-04-15 07:31] nagyclaudiu83 commented on #5243
I have run into this situation as well. I have a small test cluster and the ceph pool has a size of 2 and more important the min_size of 2 as well. In such a case no OSD can be taken down.  Just temporarily change min_size to 1.
$ ceph osd pool ls detail
$ ceph osd pool set mypool min_size 1
Force the operator to rerun the upgrade. I did it by deleting the operator pod, but there might be a better

[2020-04-15 07:39] #1329 closed

[2020-04-15 07:56] zoetrope opened #5260 "Missing requireSafeReplicaSize in CephObjectStore CRD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In this PR #4895, `requireSafeReplicaSize` field was introduced to some custom resources.
But, `CephObjectStore` CRD doesn't contain `requireSafeReplicaSize` field.

**Expected behavior:**
`CephObjectStore` CRD have to contain `requireSafeReplicaSize` field.

**Environment**:
Ceph

[2020-04-15 08:58] #5084 closed

[2020-04-15 11:19] cann0nf0dder commented on #4043
+1

[2020-04-15 11:25] Madhu-1 commented on #4912
dup of https://github.com/rook/rook/issues/4043

[2020-04-15 11:25] #4912 closed

[2020-04-15 11:29] Madhu-1 commented on #4043
a hacky way to migrate flex to CSI (confirmed by user it's working)

[code]
more info at https://rook-io.slack.com/archives/C46Q5UC05/p1585819976142800?thread_ts=1585734601.115000&cid=C46Q5UC05

try at own risk :P

[2020-04-15 13:31] leseb commented on #5259
Is the admin key you provided correct? Try to log into the operator and issue similar commands to `2020-04-14 21:12:52.523748 I | exec: Running command: ceph version --connect-timeout=15 --cluster=rook-ceph-external --conf=/var/lib/rook/rook-ceph-external/rook-ceph-external.config --keyring=/var/lib/rook/rook-ceph-external/client.admin.keyring`.

[2020-04-15 13:36] leseb commented on #5249
Will fix in https://github.com/rook/rook/pull/5227

[2020-04-15 14:13] leseb commented on #5250
`ok-to-stop` goes through CRUSH hierarchy so we don't need to, if it does not then a open should be opened on https://tracker.ceph.com/. Thanks!

[2020-04-15 14:15] ibotty opened #5264 "ceph objectstore not created on openshift: okd 4.4 with rook 1.3"
**Is this a bug report or feature request?**
* Bug Report

When creating any CephObjectStore (e.g cluster/examples/kubernetes/ceph/object-test.yaml) the operator does not create any rgw pods.  There is no log in the operator pod regarding rgw or a created CephObjectStore.

When a storageclass and a bucketrequest is created there is only (for s3 store):
[code]

**How to reproduce it (minimal and pr

[2020-04-15 14:28] leseb commented on #5264
What's the CR status? `oc get cephobjectstore -o yaml`?
If you log into the tool box, do you more pools in Ceph too?

Also, the operator definitely has logged this creation, so please look deeper.

[2020-04-15 15:01] ibotty commented on #5264
[code]
I (re)created the cephobjectstore a few times in between.  Ceph only has the device_health_metrics pool.

[2020-04-15 16:55] leseb commented on #5264
To be honest, I have no clue. Can you turn debug logging on?

[2020-04-15 18:27] ibotty commented on #5264
$ oc logs rook-ceph-operator-7dcb5876cd-fg4m7 |fpaste
Uploading (94.5KiB)...
https://paste.centos.org/view/fe23f57c

I also noticed that it did not create the CephBlockPool I defined (and I did not find it mentioned in the logs neither).  Maybe there is something fundamentally wrong.

[2020-04-15 20:00] deveshk0 opened #5265 "After Upgrade from 1.2.7 to 1.3.1 RGW with ssl are not working"
**Is this a bug report or feature request?**
* Bug Report

**After the rgw are not starting with ssl**

**After the upgrade rgw should work as it working before**

**How to reproduce it (minimal and precise):**
Have a cluster running with 1.2.7 rook and upgrade to 1.3.1 with ceph v15.2.0
rgw with ssl starts to fail

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.

[2020-04-15 21:31] travisn commented on #5264
A few ideas to investigate:
- Restart the operator to see if it will start reconciling object stores and pools after the fresh start
- Create an object-test.yaml or pool with a different `name` property
- Do other CRs get created? For example, try creating filesystem-test.yaml or object-user.yaml to see if the operator responds to those events.

[2020-04-15 21:33] travisn commented on #5265
@thotz Can you look into this issue?

[2020-04-15 21:55] piersharding commented on #5259
Hi - thanks for getting back to me.  I had a typo in my environment variables that had corrupted the fsid and the admin key.  Correcting this has fixed the problem.
Thanks for your help, and sorry for wasting your time.
Cheers,
Piers.

[2020-04-15 21:55] #5259 closed

[2020-04-16 00:58] zxdyumiao commented on #5213
It’s about host network.

[2020-04-16 02:32] lizongshen commented on #4827
I have same problem
kubernetes1.18.0
rook1.3
describe pod error message：
`nable to attach or mount volumes: unmounted volumes=[rook-ceph-crash-collector-keyring], unattached volumes=[rook-config-override rook-ceph-log rook-ceph-crash default-token-5485k rook-ceph-crash-collector-keyring]: timed out waiting for the condition`
Is there a solution? Please tell me，thinks

[2020-04-16 03:11] willfaught commented on #5211
Thanks for the help.

Based on the README, which was where the CNCF website pointed me to learn about Rook, it was unclear to me at a high level what Rook actually does. There are already Helm charts for installing and upgrading CockroachDB and Yugabyte, so it's unclear to me what an operator is adding to that. It was also unclear how things like monitoring, upgrading, and migrating are automated,

[2020-04-16 05:23] stephan2012 commented on #2079
Still open…

[2020-04-16 06:10] ibotty commented on #5264
I did try any of the things you proposed, but it did not pick any of them up.

I failed to mention that the operator was installed with 1.2.7's operator-openshift.yaml and before doing anything else updated with the upgrade-*.yaml files and the image set to 1.3.0, and then 1.3.1 when that became available.

I have now recreated the operator by using the new operator-openshift.yaml file and it work

[2020-04-16 09:23] SerialVelocity commented on #5250
@leseb `ok-to-stop` doesn't take into account single OSD roots. The `osdDoNothing` method in rook seems to deal with checking for things like that. Should that method check to see whether the OSD belongs to a crush root with less than 3 OSDs rather than there being less than 3 OSDs in general?

[2020-04-16 09:24] SerialVelocity commented on #5250
(also, as a sidenote that `err` check at the top seems a bit flawed. If there's a network blip you could end up with two OSDs shutdown and some pools going offline)

[2020-04-16 10:14] yu2003w opened #5270 "rook-ceph chart 1.2.6/1.2.7 using images rook/ceph:1.3.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After installed rook-ceph 1.2.6/1.2.7, operator deployment used image rook/ceph:1.3.1.
Actually image tag should be rook/ceph:1.2.7 or rook/ceph:1.2.6.

Below is output from `kceph describe deployment.apps/rook-ceph-operator` for chart v1.2.6.
[code]
**Expected behavior:**

**How to reproduce it (minim

[2020-04-16 12:13] zerkms opened #5271 "Podantiaffinity for `csi-rbdplugin-provisioner`"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

In my current cluster there is a `csi-rbdplugin-provisioner` deployment with 2 replicas. Both run on the same node.

I believe it would be better if it had `podAntiAffinity`, so that they at least were placed on different nodes (if > than 1 available).

**What is use case behind this feature:**

**Envi

[2020-04-16 13:22] agaoglu commented on #4642
Now that #4442 is released in 1.3 I'm retrying to see the updated behavior and it's a bit interesting.

[code]

That 2 second delay is gone, but it seems we're now waiting for a ceph auth key retrieval for about 0.8 seconds and another 0.4 seconds to check for differences. Not really sure if that auth key step can be avoided as it wasn't there in 1.2. I'll be checking it a bit more but if there ar

[2020-04-16 13:54] yu2003w commented on #5270
Sorry, I made a mistake. In values.yaml I set the wrong value for rook ceph version.

[2020-04-16 13:54] #5270 closed

[2020-04-16 14:20] lizongshen commented on #4827
you are right，I've solved the problem now

[2020-04-16 14:59] obeyler commented on #5265
@thotz @travisn @deveshk0 the dashboard doest work either with tls or without tls
It seem's that it not a service trouble because when I log inside the pod and just test it by a curl https://localhost:8443/ or without tls curl http://localhost/ the connection is refused

[code]

[2020-04-16 15:50] yanchicago opened #5274 "Support quota management for Ceph Object Gateway"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
1. Support quota settings on users and buckets owned by users. ( CephObjectStoreUser)
Please refer https://docs.ceph.com/docs/master/radosgw/admin/#quota-management
[code]
2. Support global quota settings. ( CephObjectStore)

**What is use case behind this feature:**
Co-ordinate the storage usage effect

[2020-04-16 16:44] #5260 closed

[2020-04-16 17:02] jarrpa commented on #5258
So rather than a standalone script or binary, just implement it in the rook-ceph operator... I like it! Certainly looks cleaner and makes feature delivery a no-brainer.

[2020-04-16 17:59] BlaineEXE commented on #5258
How are we handling the case where the rook operator might be doing OSD operations simultaneously to this imperative operation? Will this operation wait until OSD reconciliation is done in the main operator, and will the main operator wait if there is an osd rm op ongoing?

[2020-04-16 19:05] deveshk0 commented on #5265
@obeyler dashboard is working fine for me with ingress

[2020-04-17 01:01] dyusupov commented on #5244
@galexrt the code we use in discovery ds is shared between both EdgeFS and Ceph. So, a bit puzzled why we are not seeing it in Ceph. Did we change anything in discovery path in 1.3 that might potentially affect this?

[2020-04-17 08:58] rajatsingh25aug commented on #5258
Also, how are we going to clean the PV and PVC of the removed OSDs?. Do we also need to write a job for that?.

[2020-04-17 09:14] LenzGr commented on #3683
Sorry for the late reply. Please report Dashboard issues on the [Ceph tracker](https://tracker.ceph.com/projects/mgr/issues/new). Thank you!

[2020-04-17 09:45] deveshk0 commented on #5265
@travisn @thotz is there any way I can revert to older version? Since this is still pending

[2020-04-17 10:18] ashangit opened #5278 "ceph mds deactivate is not valid command"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When scaling down number of mds instances rook try to execute this command `2020-04-15 20:20:37.941817 D | exec: Running command: ceph mds deactivate myfs2:1 --connect-timeout=15 --cluster=rook-ceph --conf=/var/lib/rook/rook-ceph/rook-ceph.config --keyring=/var/lib/rook/rook-ceph/client.admin.keyring -

[2020-04-17 10:50] agaoglu commented on #4642
OK that's definitely not about creating a ceph key. It seems it was there all along and 1.3 only started logging it. I don't think there's much to improve here at this point. These are all designed for initial provisioning while I'm trying to optimize something else. Thanks.

[2020-04-17 10:50] #4642 closed

[2020-04-17 11:51] obeyler commented on #5265
@deveshk0 could you do a ps -ef inside your container to be able to compare why in my case the connection is refused ?

[2020-04-17 11:59] chrono2002 commented on #5216
didn't work
thanks anyway
decided to recreate storage with name without dashes and migrate there

[2020-04-17 12:05] thotz commented on #5265
I have never enabled ssl in rgw and let check whether it is happening in my setup. But from the looks like the ssl certificate got missing post upgrade, may be post upgrade new pod was not able to access the file

[2020-04-17 15:16] denysvitali commented on #1488
Watch out, this will patch everything rook.io related!

[code]

In my case it was:

[code]

[2020-04-17 16:16] rushikeshjadhav commented on #5241
@travisn Yes, I was running 1.2. I'd take a look at Ceph-CSI repo for the commit that fixed it. Closing this as it is unrelated to the project.

[2020-04-17 16:16] #5241 closed

[2020-04-17 16:53] travisn commented on #5258
Synchronizing with the operator would indeed be complex. If at all possible I'd like to avoid the need to block OSD orchestration while this job is running. This seems possible by:
- If the OSD was on a PVC, the operator will skip reconcile of the OSD as long as the PVC still exists. So if the job removes the PVC as the last step there wouldn't be any conflict.
- If the OSD was on a failed device

[2020-04-17 16:57] travisn commented on #1488
@denysvitali @leseb Given the finalizers that have been added recently to the other CRs, want to update [this doc](https://rook.github.io/docs/rook/v1.3/ceph-teardown.html#removing-the-cluster-crd-finalizer) with this cleanup step in case someone needs to force the remove?

[2020-04-17 17:15] BlaineEXE commented on #5258
Those sound reasonable, but I am concerned about what we might be missing in our analysis. But I think it makes sense to proceed with this general design for now, and if there are things we miss, we will eventually find them.

Something I wonder about is actual failed devices. We only have good devices to test with, and I think we tend to think about things in terms of good disks that we want to r

[2020-04-17 17:20] travisn commented on #5258
Agreed, we should keep this in mind. As long as the zapping is a separate argument, at least the admin could decide if they want rook to attempt it.

[2020-04-18 08:20] #5264 closed

[2020-04-18 09:09] galexrt commented on #4720
Thanks for reporting!

I have updated the v1.1.0 GitHub release notes, see https://github.com/rook/rook/releases/tag/v1.1.0.

[2020-04-18 09:09] #4720 closed

[2020-04-18 14:25] brightzheng100 commented on #4840
Encountered similar issue while installing in both `IKS` and `Minikube`:

[code]

It turned out that it was also caused by port conflict and changed the port in `operator.yaml` helped:

[code]

[2020-04-18 20:37] viveksinghggits opened #5285 "Applying cluster-on-pvc.yaml behaves strangely"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I am trying to setup rook-ceph on a 3 node digital ocean cluster, where I followed this guide to install the operator from `rook-master` at https://rook.io/docs/rook/v1.3/helm-operator.html
and then creating the `cephcluster` using this manifest (after changing the `storageClassName`s)
https://raw.gith

[2020-04-18 20:38] viveksinghggits commented on #5285
I dont have the other details of Environment as of now, I can spin up a new cluster and share the details if they are needed. Other details can be found at this slack thread.
https://rook-io.slack.com/archives/C46Q5UC05/p1587129296380000

[2020-04-19 15:59] #4091 closed

[2020-04-19 15:59] #4640 closed

[2020-04-19 23:17] fr3aker commented on #4914
The problem has been fixed in ceph-csi 2.1.0. Would be nice to have that as the default version in rook. This bug is really problematic.

[2020-04-20 07:38] denysvitali commented on #1488
@travisn Done :+1:

[2020-04-20 09:00] funky81 commented on #4183
i'm having the same problem for rook-cephfs 1.3.1
which file should i patch?

[2020-04-20 09:27] deveshk0 commented on #5265
@thotz have you got some time to look into this?

[2020-04-20 10:30] #4917 closed

[2020-04-20 11:40] archichen opened #5291 "Does docs provide demo that CephFS share same path with the multi pod ?"
I have read rook docs, the demo of CephFS use independent path mounted on each pod.

But I need to share a path with the multi pod, how can I do that?

[2020-04-20 11:42] archichen commented on #5291
I'm new to rook and ceph.

[2020-04-20 12:04] thotz commented on #5265
Can please tell me how you have enabled ssl(steps) for the object cluster. I was not able to find any where documented. Did u use CRDs options or configured via toolbox?

[2020-04-20 12:17] jhesketh opened #5293 "Deploying rook-ceph operator fails with runAsNonRoot"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After applying the `operator.yaml` manifest the rook-ceph-operator pod fails with:

`Error: container has runAsNonRoot and image will run as root`

**Expected behavior:**

The operator applies correctly and the pods start in running state.

**How to reproduce it (minimal and precise):**

1. On vanilla

[2020-04-20 12:36] deveshk0 commented on #5265
So for SSL you need to create a cert with following yml -
[code]

Note- cert should all things like root ca intermediate  ca and actual cert .

and then enable secure port -
[code]

[2020-04-20 12:48] viveksinghggits commented on #5285
It seems [this cluster manifest](https://raw.githubusercontent.com/rook/rook/master/cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml) with pvc doesn't work if the operator is installed from helm master.
What I did to resolve this is installed the operator using the release, instead of master
[code]
and the things seem to work now.

[2020-04-20 12:48] #5285 closed

[2020-04-20 16:21] travisn commented on #5291
@archichen Two pods in the same namespace can share the same path by using the same RWX PVC.

[2020-04-20 16:21] SerialVelocity opened #5296 "init-copy-binaries can leave container in a bad state"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
If the program crashes (due to OOM, segfault, etc), the restarting the container should not leave things in a bad state

**Expected behavior:**
If the copy fails, the copy is re-attempted on next init container run

**How to reproduce it (minimal and precise):**

1. Set a limit range on the namespace:

[2020-04-20 16:48] travisn commented on #5293
@jhesketh Are you saying this issue only happens with `rook/ceph:master`? But the `rook/ceph:v1.3.1` release works fine? I'm not sure what the difference would be in master. Did you change anything in the example operator.yaml?

[2020-04-20 18:54] litaobowl commented on #1653
@travisn I have the same question as @albertdb, would the disaster recovery guide handle that?

[2020-04-20 19:21] travisn commented on #1653
Today the disaster recovery guide does not document how to connect the PVs to the same application. As far as I'm aware, K8s does not have a way with dynamic provisioning to associate the same block image from a previous cluster with the new PV.

[2020-04-20 20:26] BlaineEXE commented on #5278
IIRC from looking back at the code, the scaling isn't needed for Nautilus+. @jan--f is the right person to say for certain I think.

[2020-04-20 22:55] travisn commented on #5271
@Madhu-1 the provisioners don't have anti-affinity?

[2020-04-21 03:27] manavtidhan opened #5298 "Rook-Operator is not able to create Ceph Block pool and MDS pods"
yes

**Is this a bug report or feature request?**
* Bug Report
Its a Bug Report

**Deviation from expected behavior:**

After deploying CephFileSystem and CephBlockPool

[code]

[code]

* Cluster CR (custom resource), typically called `cluster.yaml`, if

All configs file are attached
* Operator's logs, if necessary : attached

* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <na

[2020-04-21 03:33] manavtidhan commented on #5298
<cluster.yaml >

`apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  cephVersion:
    image: ceph/ceph:v14.2.8
    allowUnsupported: false
  dataDirHostPath: /var/lib/rook
  skipUpgradeChecks: false
  mon:
    count: 3
    allowMultiplePerNode: false
  # enable the ceph dashboard for viewing cluster status
  monitoring:
    enabled: true
    ru

[2020-04-21 03:37] manavtidhan commented on #5298
cluster.yaml

`apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  cephVersion:
    image: ceph/ceph:v14.2.8
    allowUnsupported: false
  dataDirHostPath: /var/lib/rook
  skipUpgradeChecks: false
  mon:
    count: 3
    allowMultiplePerNode: false
  # enable the ceph dashboard for viewing cluster status
  monitoring:
    enabled: true
    rules

[2020-04-21 03:59] jhesketh commented on #5293
Yes, that's correct.

No, I haven't changed anything in there. I just clone this repo straight from master and it fails to install (unless I check out the v1.3.1 tag).

I'm also unsure what it might be looking at the diff. I guess the question is whether others can reproduce or if this is something to do with my environment.

[2020-04-21 04:53] Madhu-1 commented on #5271
@travisn we have only node affinity and toleration for CSI pods.

[2020-04-21 06:09] jan--f commented on #5278
Unfortunately this is still necessary. Proper upgrades of multi-active MDS clusters is on the roadmap for pacific.

For nautilus and later the scale down is achieved by simply setting `max_mds` to one. This is a per filesystem command: `ceph fs set <fs_name> max_mds 1`

[2020-04-21 07:00] brightzheng100 opened #5299 "rook-ceph v1.2 couldn't work in Minikube"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

rook-ceph v1.2 couldn't work in Minikube because of OSD errors.

**Expected behavior:**

By simply following the docs, everything should work just fine in Minikube.

**How to reproduce it (minimal and precise):**

If we follow exactly the docs:

[code]

The `csi-rbdplugin` pod would fail because of po

[2020-04-21 07:05] leseb commented on #5298
Please format your code text using backticks.

[2020-04-21 07:12] manavtidhan commented on #5298
[code]

[2020-04-21 07:14] manavtidhan commented on #5298
operator.yaml

[code]

[2020-04-21 07:15] manavtidhan commented on #5298
operator.yaml

[code]

[2020-04-21 07:17] manavtidhan commented on #5298
Please help , I have been trying from last week , and I donot have clue what to on this, even I build up the cluster again but still the problem is same. i haven not seen any logs related to mds or cephfilesystem in operator log or in Mon pods log .

[2020-04-21 09:14] galexrt commented on #5298
@manavtidhan You are using a `master` build, you should switch to release build, e.g., `v1.3.1`.

The operator is waiting for OSD orchestration to finish. Update to v1.3.1 and hope that it works as updates from `master` to releases are not supported, see https://rook.io/docs/rook/v1.3/ceph-upgrade.html#supported-versions.

***
Relabeling as question for now.

[2020-04-21 09:16] shikhar7 opened #5300 "CephCluster CR is correct but the metadata device is applied incorrectly"
**Environment**:
* OS: RHEL 7.7
* Cloud provider or hardware configuration: Openshift
* Rook version: v1.3.1
* Storage backend version: ceph v15.2.0
* Kubernetes version : v1.11+
* Kubernetes cluster type (e.g. Tectonic, GKE, OpenShift):Openshift

When i am trying to use metadatadevice (which was working in rook 1.2.7 with ceph v14.2.8) it is the osd prepare pod is failing and giving the following

[2020-04-21 09:34] brightzheng100 opened #5301 "rook-ceph v1.3 couldn't work in Minikube without some must-have changes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

`rook-ceph` v1.3 couldn't work properly in Minikube because of errors or issues which include:
- port conflict on port `9090`
- no properly configured `cluster.yaml` file
- docs are not reflected on how to run `rook-ceph` in Minikube

**Expected behavior:**

By following the docs, we can easily setup

[2020-04-21 13:10] mohahmed13 commented on #4183
@funky81, you probably have a nodeAffinity or nodeSelector in your deployment of your rook-ceph pods. Your workload (whatever you’re trying to deploy) doesn’t have the same nodeAffinity or nodeSelector present so it’s being scheduled on a node that doesn’t have the CSI plugin running. So double check your deployment node selectors for both Rook and your workload

[2020-04-21 13:24] thotz commented on #5265
for me rgw pod was not coming up at (without ssl it was)

[code]
I have used following command to create cert secret
kubectl create secret generic s3-cert --from-file=<path> since I was not able to create with yaml

[2020-04-21 15:17] deveshk0 commented on #5265
@thotz Can you paste the logs?

[2020-04-21 17:29] yydzhou opened #5302 "ceph-spec: "ceph-file-controller": CephCluster resource "infra-rook-ceph" not found in namespace "infra-rook-ceph""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator is trying to get the CephCluster with the name of the namespace. instead of seaching the object in the namespace. as a results, the CephCluster with name that is different with namespace can't be found.

**Expected behavior:**
The CephCluster should be able to find regardless of what name

[2020-04-21 17:32] thotz commented on #5265
@deveshk0
There was no logs from rgw pod. The operator pod last log message was object was created.

Created cert and key using openssl command. And given that path while creating secret and it was not tls. Am I missing something?

[2020-04-21 18:11] yydzhou commented on #5302
with a quick search, looks the following code match the output
https://github.com/rook/rook/blob/master/pkg/operator/ceph/controller/controller_utils.go#L53
https://github.com/rook/rook/blob/master/pkg/operator/ceph/controller/controller_utils.go#L57

[2020-04-21 18:34] travisn commented on #1704
Closing based on the latest discussion that Rook is not planning the database provisioning.

[2020-04-21 18:34] #1704 closed

[2020-04-21 18:46] travisn commented on #5302
I see, it's a bug. The cluster CR name should not be expected to be the same as the namespace. The default settings use the same name so it was overlooked.

[2020-04-21 21:20] travisn commented on #5299
@brightzheng100 What else do you have running in minikube? I'm not able to repro the port conflict issue in my minikube. The operator starts fine with the default install of minikube for me. If there is nothing else installed, what version of minikube are you running?

[2020-04-21 21:22] travisn commented on #5301
@brightzheng100 The documentation is targeted for production, rather than a test minikube cluster.

I do agree that the cluster-test.yaml is a nice example and will open a PR to restore it similar to how we had it in 1.2. I'll also add a note to the quickstart guide that cluster-test.yaml can be used for minikube.

[2020-04-21 23:06] travisn commented on #5244
@dyusupov This must not be affecting Ceph since creating OSDs not directly consume the results of the discovery daemon.

[2020-04-22 00:13] kfox1111 opened #5307 "ceph tear down ssd"
the documentation on the website should be updated to suggest using blkdiscard instead of dding over the disk when its an ssd.

[2020-04-22 00:52] brightzheng100 commented on #5299
This was the command I spun up the Minikube:

[code]

[2020-04-22 00:55] brightzheng100 commented on #5301
After applying a series workaround and fixes, `rook-ceph` could actually work well in Minikube as per what I've tested.
So I'd say it's more on documentation issue with some missing manifest files.

Do you think adding a dedicated doc for Minikube would help -- and people would learn from Minikube and apply to whatever they're using for evaluation?

[2020-04-22 03:23] manavtidhan commented on #5298
thanks after upgrading the operator,MDS pods comes up .

I have one more question , I am receiving logs in operator pods  from previous rook-ceph cluster, how to get rid of them .

sample logs:

[code]

[2020-04-22 09:49] xin478 commented on #5300
me too
`  storage: # cluster level storage configuration and selection
    useAllNodes: true
    useAllDevices: false
    deviceFilter: ^sd[c-d]
    config:
      metadataDevice: "sdb"
      storeType: bluestore`

[2020-04-22 10:23] paalkr opened #5309 "Operator should expand OSD PVC size when the template size is increased in the cluster CR"
* Bug Report
A new feature was added in 1.3 to allow expansion of OSDs running on top of PVs
https://github.com/rook/rook/pull/4844

**Deviation from expected behavior:**
Modifying the
`.storageClassDeviceSets.volumeClaimTemplates.spec.resources.requests.storage`
by increasing the size has no effect
Refer to this discussion on Slack: https://rook-io.slack.com/archives/CK9CF5H2R/p1587544293418000

[2020-04-22 10:26] thotz commented on #5265
@deveshk0

I was able to setup ssl configured object store in rook. The name of certificate file(or the bundles) need to "cert" while creating the secret , then that will look like ur secret.

I have used minikube to set up rook cluster. Created cluster with rook version 1.2.7 and ceph version 14.2.7. Then upgraded to rook version 1.3.1. Didn't face any issues. It came up properly
can give kubectl

[2020-04-22 11:45] 273539918 opened #5310 "cephosd: no devices matched the storage settings for this node"
there is a problem :
[code]

deploy rook-ceph like this:
[code]

the result of lsblk in node:
[code]

[2020-04-22 12:12] deveshk0 commented on #5265
No not yet I will try that today.

[2020-04-22 12:13] #5310 closed

[2020-04-22 12:13] 273539918 commented on #5310
cephosd: 0 ceph-volume lvm osd devices configured on this node

link : https://github.com/rook/rook/issues/3602

[2020-04-22 13:16] viveksinghggits opened #5311 "volumeSnapshot's readyToUse is stuck in false state and volumeSnapshotContent is not created"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Creating the volumeSnapshot using [the manifest](https://github.com/rook/rook/blob/release-1.3/cluster/examples/kubernetes/ceph/csi/rbd/snapshot.yaml) should create a volumeSnapshotContent successfully and the `readyToUse` status for the volumeSnapshot should be true, readyToUse is stuck in false state

[2020-04-22 13:19] Madhu-1 commented on #5311
please provide csi-snapshotter logs from the rbd provisioner pod.

please feel the template with Environment details, without that its hard to figureout whats the exact issue

[2020-04-22 13:26] viveksinghggits commented on #5311
Hi @Madhu-1
below are the logs, which seems pretty clear
[code]
but i am still not able to figure out the exact issue.

[2020-04-22 13:39] viveksinghggits commented on #5311
This issue seems to be related to another issue https://github.com/rook/rook/issues/4178, but I didnt install any other version I have been installing release-1.3 for all CRDs.

[2020-04-22 16:33] chrono2002 opened #5312 "rgw doesn't treat mime.types right"
Cannot get .js file as application/javascript type.
Always got text/plain.
.png is working though.

root@test:~/scripts# ./s3_test.sh
INFO: Compiling list of local files...
INFO: Running stat() and reading/calculating MD5 values on 1 files, this may take some time...
INFO: Summary: 1 local files to upload
upload: 'test2.js' -> 's3://test-6dcb1fc7-9560-422c-9146-d347434d1252/test2.js'  [1 of 1]
 38

[2020-04-22 16:58] viveksinghggits commented on #5311
It does seem to be the `CRD` versions issue. I was installing CRDs separately and then the CRs. When I dont install the CRDs separately and let is install while creating cephcluster things work.

[2020-04-22 16:58] #5311 closed

[2020-04-22 18:19] guimou opened #5313 "CRD for Ceph bucket notifications"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
In its new release, Ceph has introduced bucket notifications features.
Setup of those notifications are normally done by sending HTTP requests to the RGW, either to create/delete topics pointing to specific endpoints, or create/delete bucket notifications based on those topics.
The purpose of this featu

[2020-04-22 19:33] rajatsingh25aug commented on #5278
Hi, I started looking into this issue and I tried reproducing it. Can you guys please provide some clarification?.

 I created a `FileSystem` on my `rook-ceph` cluster  (on minikube and it's a single node cluster) with `mds` equals to 3.

I tried the above command by @jan--f to scale it down via the ceph toolbox. But my `ACTIVEMDS` wont change after firing the command below.
`ceph fs set myfs max_

[2020-04-22 19:57] travisn commented on #5309
@paalkr Do you see the `expand-bluefs` init container on the OSDs? Can you share their log after resizing the PV and restarting the OSD? @leseb could give more pointers as well.

The operator does not currently resize the PVC if the cluster CR is updated, but that certainly would make sense to complete the feature.

[2020-04-22 20:09] paalkr commented on #5309
@travisn , thanks for the feedback. There are no expand-bluefs init container in the OSD deployment manifest. Only config-init and chown-container-data-dir.

The cluster has been upgraded from from 1.2.6 to 1.3.1. The OSDs was created at 1.2.6. Can this have anything to do with the init container missing? I thought that the operator would patch the deployments during upgrading?

It would for sure

[2020-04-22 20:26] travisn commented on #5309
Looks like the [expansion init container](https://github.com/rook/rook/blob/b8e0d8902ce87e9becf3b7e039ccac243cee8237/pkg/operator/ceph/cluster/osd/spec.go#L389) only applies to "raw" mode OSDs on PVs. Since you upgraded, the OSDs would have been created with a previous version of ceph-volume that created the OSD based on LVM. @leseb Correct me if wrong, but I don't think you can enable the resize

[2020-04-22 21:02] AntonioMeireles commented on #5300
same here too :(

[2020-04-22 21:17] paalkr commented on #5309
Thanks for the clarifying information. Migrating to a new set of OSDs should be no problem. I'll just add some more storageClassDeviceSets and take the old OSDs out.

[2020-04-22 21:49] paalkr commented on #5309
Seems like the new OSDs added to the cluster after the 1.3.1 upgrade, has all 4 init containers. Right now I'm testing migrating all data to the new OSDs, removing the old OSDs from the cluster, and then expanding the new OSDs.

[2020-04-22 22:08] travisn commented on #5300
Looks like the error indicates that the device vdc is being used as both a data device and metadata device. What is your cluster CR?
[code]

@xin478 You also see the error `Device lists are not disjoint`? This should be solvable with different cluster CR settings.

[2020-04-22 22:15] travisn commented on #5307
@kfox1111 Have a suggestion for what exactly the instructions should be in the case of the ssd? If you can verify the command that works for you it'll be quicker to get the docs updated.

[2020-04-22 22:16] paalkr commented on #5309
Excellent, this worked like a charm :)

![image](https://user-images.githubusercontent.com/9726307/80039018-1efe6b00-84f7-11ea-8aa7-29a4ec1a04d5.png)

But the process would be even smoother if the operator would patch the PVC, if the size of a volumeClaimTemplates was increased. Decrease should be rejected, as this is not allowed by neither K8s nor most cloud providers.

[2020-04-22 22:19] kfox1111 commented on #5307
When I did it yesterday, it was just:
blkdiscard /dev/sdX

[2020-04-22 22:20] #5302 closed

[2020-04-22 22:23] travisn commented on #5309
Good to hear it's working. I updated the title to reflect the improvement for the operator to update the PVC size.

[2020-04-22 22:28] travisn commented on #5299
Ok the port was actually in use. It would certainly be better to avoid a common port conflict like that, but not sure we would change it.

[2020-04-22 22:30] travisn commented on #5301
While I hope #5305 will help improve the documentation, I don't see us changing the documentation to dedicate a topic to minikube. But please do comment on #5305 with other suggesitons.

[2020-04-22 22:35] AntonioMeireles commented on #5300
yes... this one is subtle ...  fwiw snippet bellow seems to **work**
[code]
but compact one (that i had originally)...
[code]
gives  error that originated this issue. almost midnight here, will try to provide more usefull data tomorrow morning! (@travisn thanks for your quick reply!)

[2020-04-22 23:18] Obleskar commented on #5301
@brightzheng100, thanks for the storage tip!

[2020-04-23 00:29] HubertBos commented on #5293
Same problem

Debian 10 with k8s from kubspray 1.16 and Rook 1.3.1

`
╰─$ kubectl -n rook-ceph get pods
NAME                                  READY   STATUS                       RESTARTS   AGE
rook-ceph-operatorXXXXX   0/1     CreateContainerConfigError   0          7m53s
`

and

`
  Type     Reason     Age                   From               Message
  ----     ------     ----                  -

[2020-04-23 01:17] HubertBos commented on #5293
I'm sorry this was my bad

I was on branch 1.3, my bad, strong appologies.

[2020-04-23 01:19] jhesketh commented on #5293
That's interesting that you're seeing similar errors though. Are you able to reproduce this reliably? Have you tried against master?

[2020-04-23 01:21] HubertBos commented on #5293
On master when I use tag 1.3.1 I have working operator now ( but still waiting for cluster to start ? ) but when I was on branch 1.3 I had an error about running as root user

[2020-04-23 01:34] HubertBos commented on #5293
However, if I check out to master I have again issue with running container as root

`
Events:
  Type     Reason     Age                From               Message
  ----     ------     ----               ----               -------
  Normal   Scheduled  <unknown>          default-scheduler  Successfully assigned rook-ceph/rook-ceph-operator-67959c6f49-qkrwh to node4
  Normal   Pulling    41s

[2020-04-23 01:35] jhesketh commented on #5293
Great, thanks for that. Looks like the same issue that I've observed.

[2020-04-23 01:35] HubertBos commented on #5293
So looks like 1.3.1 works only on master branch when checkout to tag v1.3.1 however till now operator do not apply my cluster :-(

[2020-04-23 04:35] xin478 commented on #5300
@travisn thanks for reply. When I trying to config it like this,

[code]

I see log in rook-ceph-osd-prepare , as
[code]

[2020-04-23 04:52] #4695 closed

[2020-04-23 04:58] travisn commented on #2963
Fixed with #5058

[2020-04-23 04:58] #2963 closed

[2020-04-23 05:52] #4615 closed

[2020-04-23 05:57] jan--f commented on #5278
Hmm certainly no rook expert here, but this looks like output from rook or k8s? Can you check what ceph thinks about this? Just a `ceph -s` would do or alternatively `ceph fs status`.

[2020-04-23 06:28] psarossy opened #5315 "ceph-file-controller gets stuck in loops when having issues creating or deleting FS"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
ceph-file-controller get stuck trying to create or delete filesystem forever

**Expected behavior:**
If ceph-file-controller can't create the filesystem it should back out and/or stop and provide some sort of actionable error message.

**How to reproduce it (minimal and precise):**

So I managed to rep

[2020-04-23 07:18] paalkr commented on #5309
Thx!

[2020-04-23 08:23] rajatsingh25aug commented on #5278
This output is from the toolbox pod running in the rook ceph cluster.

ceph -s shows `HEALTH_WARN` as I'm running a single node cluster over Minikube.

[2020-04-23 09:01] sebastian-philipp commented on #5106
might relate to https://tracker.ceph.com/issues/45197

[2020-04-23 09:13] jan--f commented on #5278
I wasn't so much interested in the health status but rather the mds daemon line. Wondering if Ceph also still has 3 active MDS daemons in the cluster or if we're seeing a rook caused artifact.

[2020-04-23 09:41] peacocktrain opened #5316 "When the network fluctuates, the mount will report an error"
# Describe the bug #
When the network is suddenly disconnected and then restored, the file mount becomes unavailable.
**Here is the error report**

**the file on a physical machine**
![image](https://user-images.githubusercontent.com/15363932/80057012-36ba0b80-8558-11ea-9a41-37337a8fd717.png)

# Environment details #
- ceph
14.2.8
- rook
1.2.7
- Image/version of Ceph CSI driver
2.0.1
- Kubernetes

[2020-04-23 10:25] Madhu-1 commented on #5316
did the issue persist after restoring the network?

if yes please provide below details
* For how much time did you wait after restoring the network
* Provide csi-rbdplugin container logs from the node when the issue is happening
* Provide `mount |grep rbd` output from the csi-rbdplugin container from the node

[2020-04-23 14:32] shikhar7 commented on #5300
@travisn I am also seeing the same issue with same config as @xin478 .

[2020-04-23 14:40] yanchicago commented on #4371
It's still an issue on flex volume based rook cluster. Until the flex volume cluster is not supported, is there any plan to work on it? This is related to "multi-attach" issue, similar situation exists in csi based rook cluster.

[2020-04-23 14:41] yanchicago commented on #4371
[](url)

[2020-04-23 16:16] #5301 closed

[2020-04-23 16:21] leseb commented on #5312
Isn't this more a rgw issue than a rook one? I remember we do things where we inject mime types but I don't think we are breaking anything...

[2020-04-23 16:23] leseb commented on #5309
Watching for PVC in https://github.com/rook/rook/pull/5319 could fix that.

[2020-04-23 16:24] leseb commented on #5309
I don't how we can easily force restart the OSD deployment/changing its spec. in 1.3...

[2020-04-23 16:26] travisn commented on #5309
@leseb If the PVC already exists, the operator currently skips reconciling the PVC. I assume the watch in #5319 will only watch for deletion, not for updates, right? Anyway if they delete the PVC I assume the OSD will lose its data.

[2020-04-23 16:27] leseb commented on #5296
Since you looked at the code, could you point which portion of it? Which copy are you referring to?

[2020-04-23 16:28] leseb commented on #5309
No, we can watch for updates too. We do this for the Node and CM object already.

[2020-04-23 16:33] travisn commented on #5309
Actually the request for this improvement doesn't require watching the PVC. The request is that if the CephCluster CR is updated with a new size on the volumeClaimTemplate, then the operator needs to update the PVC size.

[2020-04-23 16:34] psarossy commented on #5315
Seems github didn't like my attachment, so pasting it instead.

[code]

[2020-04-23 16:41] leseb commented on #5315
What if you stop the operator so it stops reconciling, do some manual cleanup (just like you did) and then start the operator so that the CR can be deleted?

[2020-04-23 16:43] leseb commented on #5309
Got it!

[2020-04-23 17:14] HubertBos commented on #5293
So after waiting whole night rook operator do not created ceph cluster.

Rook 1.3.1 from master tag on k8s 1.16.8 from kubespray with podsecurity

[2020-04-23 17:15] psarossy commented on #5315
So the issue for this case is that I'm not sure what to clean up, the operator never managed to create the resource it's trying to get rid of... Or it can't create the new item, which I can fix, but not sure how to stop it from trying to create it until then. Should a kubectl apply with the correct config just fix that (little hazy on how this part works, and didn't have much luck)?

In the filesy

[2020-04-23 17:18] travisn commented on #5293
@HubertBos Can you share the operator log?
However, I'm confused when you say you have installed Rook 1.3.1 from the master tag. What do you mean? If you have checked out the release-1.3 branch, you would be installing v1.3.1. Or perhaps checkout the v1.3.1 tag instead of just the tip of release-1.3.

[2020-04-23 17:24] HubertBos commented on #5293
ok, so there is a problem with branch release-1.3 and master when you deploy operator from example YAML file you will have "Error: the container has runAsNonRoot and image will run as root" like the whole issue is about. To do not have this problem I did git checkout v1.3.1 and deploy operator there was a success. However, after applying cluster YAML nothing is happening.

Logs from operator pod:

[2020-04-23 17:33] Madhu-1 commented on #5293
Isn't something related to psp?

[2020-04-23 17:37] HubertBos commented on #5293
This is my second cluster and without psp rook was working fine, with psp there are problems. Right now I can't find anything wrong by myself so I'm asking/reporting problem here.

[2020-04-23 19:01] travisn commented on #5293
@jhesketh Are you also using PSP? That could explain the difference rather than it being a difference between master and v1.3.1.

[2020-04-23 19:32] dmittendorf opened #5323 "rook-edgefs-mgr fails to start due to EAFNOSUPPORT"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The `rook-edgefs-mgr` container within the `rook-edgefs-mgr` fails to start on a new install.

**Expected behavior:**
The `rook-edgefs-mgr` container starts successfully.

**How to reproduce it (minimal and precise):**
- Install version 1.2 .27 of rook-edgefs
- Deploy new Cluster

**File(s) to submit**

[2020-04-23 19:42] BlaineEXE commented on #5293
I'm seeing the same thing today starting with the manifests in master. Working on tracking this down.

[2020-04-23 20:05] dyusupov commented on #5323
Could you try with edgefs/edgefs:1.3.22 image?

[2020-04-23 22:06] travisn commented on #5278
@rajatsingh25aug When you run the ceph commands in the toolbox, the changes will not be reflected in the CRs. The "ActiveMDS" property in the CR will only show what the CR state is, rather than the ceph state.

During an upgrade, `client.SetNumMDSRanks()` is called with the last argument of `1`, meaning that the MDS daemons should be scaled down. When being scaled down, instead of calling `deactiv

[2020-04-23 22:13] BlaineEXE commented on #5293
@jhesketh I think I have figured out how to fix the issue. Can you verify that if you rename both instances of `rook-privileged` to `00-rook-privileged` the install succeeds?

[2020-04-23 23:30] HubertBos commented on #5293
@BlaineEXE on master, master with tag, branch, release-1.3?

[2020-04-23 23:34] HubertBos commented on #5293
I can confirm that if I checkout to release-1.3 and change the operator pod is running.

[2020-04-23 23:41] HubertBos commented on #5293
Good job to find this, if you will tell me why after applying cluster YAML noting happening I promise I will come back and update your docs page :-)

[2020-04-23 23:56] HubertBos commented on #5293
Ok, I have found what stop cluster to start:

in common from line 1261 to 1267 there is comment out option for:  allowedHostPaths

After changing this back operator start spinning rest of containers.

Thank all of you and case closed.

[2020-04-24 02:16] peacocktrain commented on #5316
* The bad points were kept for a long time such as a few days
* cephfs
* kernel

`I0424 02:14:59.247988       1 utils.go:157] ID: 50350 GRPC call: /csi.v1.Node/NodeGetCapabilities
I0424 02:14:59.248012       1 utils.go:158] ID: 50350 GRPC request: {}
I0424 02:14:59.248784       1 utils.go:163] ID: 50350 GRPC response: {"capabilities":[{"Type":{"Rpc":{"type":1}}},{"Type":{"Rpc":{"type":2}}}]}
I0424

[2020-04-24 03:52] kevinsingapore commented on #3764
and now ,how to sovle the problem? i also have meet the error, and the osds art not in & up，then how to deal with it? thank u!

[2020-04-24 06:10] jhesketh commented on #5293
Yes, I am using PSP.

Yep, performing that rename allows the deployment to work.

[2020-04-24 09:13] monester commented on #5243
Also hit this bug:
[code]

but in logs it says:

[code]

[2020-04-24 09:36] monester commented on #5243
Was able to fix with setting skipUpgradeChecks to true.

[2020-04-24 13:23] thotz commented on #5265
@deveshk0 : I checked colleagues in rgw team, apparently in ceph octopus the "/etc/ceph/private/rgw-cert.pem" need to accessible by user named "ceph", will confirm whether ssl broken entirely ceph v15 and let u know

[2020-04-24 13:25] thotz commented on #5250
@travisn : I have a minikube setup with three osds and I seeing similar upgrade problem for both rook and ceph images. And both   skipUpgradeChecks: false
  continueUpgradeAfterChecksEvenIfNotHealthy: false
is this fine as well

[2020-04-24 13:46] travisn commented on #3764
@kevinsingapore If the OSDs are not up, this is a different issue. Try the [troubleshooting guide](https://rook.github.io/docs/rook/v1.3/ceph-common-issues.html) or you can ask in the rook slack as well.

[2020-04-24 17:22] travisn commented on #5250
Rook doesn't analyze the crush hierarchy. The fix really should be made on the ceph side.

@leseb Can you take a look at this?

@thotz in minikube these checks should automatically be skipped when rook sees that there is only a single node. Are you saying your upgrade is blocked? That's unexpected in your single-node case.

[2020-04-25 02:51] dimm0 opened #5328 "Upgrading to 1.3.2 required a manual step for one pool"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During the upgrade I saw the error:

[code]

The pool had pg_num = 4. After I changed it manually to 8, the upgrade continued. When I tried manually setting the pg_num_min to 8, ceph said it has to be 4.

**Expected behavior:**
Upgrade procedure requires no human intervention

[2020-04-25 04:35] #4486 closed

[2020-04-25 04:35] #4685 closed

[2020-04-25 08:43] deveshk0 commented on #5265
Thank you so much @thotz  Please Let me if you find any quick fix

[2020-04-25 09:35] #4721 closed

[2020-04-25 11:39] SerialVelocity commented on #5296
Here's the code:
https://github.com/rook/rook/blob/8727807e49360a50c9e781daf6d52878e55274fa/pkg/daemon/util/copybins.go#L39-L72

So there were two things I mentioned in my bug report:
 - If the copy fails, the next run succeeds when it shouldn't
    - This can probably be solved by checking the file size and permissions instead of just if it just exists or not
 - Memory usage
    - I think I might

[2020-04-25 11:41] SerialVelocity commented on #5296
It's the `init-copy-binaries` init container which is used by the `rook-ceph-csi-detect-version` and `rook-ceph-detect-version` pods

[2020-04-25 11:49] SerialVelocity commented on #5250
I think the ceph side is correct since a single OSD root is never "ok-to-stop". I can see that some people may want single OSD roots to stay up always anyway so Rook may not want to implement it by analysing the crush hierarchy.

Maybe a better solution would be to allow specifying which OSDs or nodes `continueUpgradeAfterChecksEvenIfNotHealthy` should apply to?

[2020-04-25 14:20] SerialVelocity commented on #5296
Actually, `emptyDir` uses the disk by default, not tmpfs, so the memory usage is probably not related to that.

[2020-04-25 16:55] psarossy commented on #5315
I ended up brute force cleaning these up by editing the resource definitions, removing the finalizer and manually cleaning up the leftover ceph artifacts...

I do not think that approach is reasonable though as I have no idea what else rook does in the background to remove a filesystem or pool. This should be handled more gracefully...

[2020-04-25 17:30] HubertBos opened #5329 "AWS odd Rook behaviour with labels"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behaviour:**

Rook does not recognise node labels on the new cluster on version 1.3.1

**Expected behaviour:**

Rook recognise node labels on the new cluster like on version 1.3.0

**How to reproduce it (minimal and precise):**

3 host node with labels for CRUSH map for failover, nothing fancy just common, operato

[2020-04-25 18:02] HubertBos commented on #5329
After a restart of one node by AWS console ROOK expect to node comeback with already storge within, however, because AWS provides a new VM with new drive Rook 1.3.1 stuck with Init:CrashLoopBackOff state and Rook 1.3.0 will add new drives with different OSD ID. Version 1.3.1 does not do that. The restart was to try to apply the label from host to rook.

[2020-04-25 21:01] HubertBos commented on #5329
Looks like the problem with re-adding storage is related to https://github.com/rook/rook/issues/3189 and this might be related with https://tracker.ceph.com/issues/40937

[2020-04-25 21:29] HubertBos commented on #5293
Hello

Apologies but problem do not look like is 100% resolved, I sumped on other error what in 99% is related.

It started here https://github.com/rook/rook/issues/5329 with another issue however after hours of digging I have errors osd pods :+1:

[code]

The most important part is "MountVolume.SetUp failed for volume "rook-ceph-osd-token-nz8x6" : failed to sync secret cache: timed out waiting fo

[2020-04-25 21:33] HubertBos commented on #5293
And quick TL;DR

Node after restart MON is coming back to quorum however OSDs hang on crash loops.

3 node cluster with 6 OSDs, 3 mon, ceph 15.2, rook 1.3.2 with hot fix, k8s 1.16.8 from kubespraay, AWS i3en instances.

[2020-04-26 02:45] egulatee opened #5330 "Kubernetes node crash and power down of nodes left OSD in unrecoverable state"
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**
Rook OSD are in CrashLoopBackOff state and never recover.

**Expected behavior:**

**How to reproduce it (minimal and precise):**

Unknown.  Cause likely to be a forced power down of kubernetes cluster.

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary

[2020-04-26 04:54] aruniiird opened #5331 "Add JSON formatted output from 'create-external-cluster-resources.sh' script"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The script `cluster/examples/kubernetes/ceph/create-external-cluster-resources.sh` should be able to generate a json formatted output as well.

**What is use case behind this feature:**
This feature will help the Openshift UI to export/import of the ids and keys (generated by this script) in JSON format

[2020-04-26 05:07] abh commented on #1507
How do you see which node the system thinks the pod used to run on? I ran into this for my Postgres statefulsets (only, everything else recovered fine...).

The pods don't start with an error along the lines of

[code]

... of course the pod that's not starting in this case is `postgres/harbor-db-0`, so I don't get where kubernetes thinks the pod might be running.  We're still using flex volumes (

[2020-04-26 05:08] travisn commented on #5330
@egulatee Do you have lvm2 installed on the hosts? If not, the OSDs won't be able to start after the node reboot. See the [prerequisites topic](https://rook.github.io/docs/rook/v1.3/ceph-prerequisites.html#lvm-package). We are working to remove this dependency soon.

[2020-04-26 05:10] travisn commented on #5293
@HubertBos Do you have lvm2 installed on the hosts? If not, the OSDs can't restart when the node restarts. See the [prerequisites topic](https://rook.github.io/docs/rook/v1.3/ceph-prerequisites.html#lvm-package).

[2020-04-26 06:49] abh opened #5333 "CSI + flexvolumes"
Is it reasonable / supported to configure a storage class that uses flexvolumes (for existing PVCs) and another that uses CSI?

The migration instructions in #4043  seem complex, error prone and impossible to do without an extended outage (in particular without automation), so I was wondering if at least we could have new PVCs use CSI.

[2020-04-26 08:09] lukasmrtvy commented on #3858
I can confirm this ( not rook specific.. ), its happening with kubespray(v2.12.5) & openstack-helm ( openstack-helm-infra ceph deployment commit: bbfa55036174e4a9f325787197b822599a28c2ce) to me also.

[2020-04-26 08:48] stephan2012 commented on #3858
@lukasmrtvy, does this happen only to deployments that have a `nodeSelector` configures? And also to non-Rook deployments? In this case it looks more like a general Kubernetes issue.

[2020-04-26 10:01] lukasmrtvy commented on #3858
@stephan2012 again, I am not sure if its rook related ( and related to this issue .. ), but seems that after cluster restart, there is a problem if kubelet can not connect to kube-api-server -> this will produce pods with `MatchNodeSelector`  state ( new pods will be scheduled OK, MatchNodeSelector pods are not evicted  ), but there is a problem with pod ceph-pool-checkpgs: ( again openstack-helm

[2020-04-26 13:08] egulatee commented on #5330
@travisn Yeah I do have lvm2 installed on each node.  Rook & Ceph were working perfectly before and other pod's volume claims were being fulfilled and data was being persisted.

'[root@nuc9036 ~]# yum install lvm2
Loaded plugins: langpacks, versionlock
base

[2020-04-26 13:16] mykaul opened #5335 "Allow building using Podman"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow building without Docker, using Podman only.

**What is use case behind this feature:**

**Environment**:

[2020-04-26 13:45] egulatee commented on #5330
Unfortunately there's no logs in the osd pods.

`kubectl logs -n rook-ceph              rook-ceph-osd-1-8f8877d64-qzx74
`
return nothing.  The describe does show what I initially pasted while opening ticket.

The most logging I see is on the ceph-osd-prepare pods.

kubectl logs -n rook-ceph              rook-ceph-osd-prepare-nuc9036-bjhpt
[code]

[2020-04-26 13:48] egulatee commented on #5330
I attached the steps on how rook & Ceph were setup in case that matters.
===

helm repo add rook-release https://charts.rook.io/release

helm show values rook-release/rook-ceph
#helm install --namespace rook-ceph rook-release/rook-ceph
kubectl create ns rook-ceph
helm install --namespace rook-ceph rook-release/rook-ceph --generate-name

##NAME: rook-ceph-1587469295
#LAST DEPLOYED: Tue Apr 21 07:41

[2020-04-26 13:57] egulatee commented on #5330
Here are the journalctl logs from one node

[code]

[2020-04-26 14:00] egulatee commented on #5330
Checking the plugins on the host

[code]

[2020-04-26 14:02] egulatee commented on #5330
The errors on the lost seem similar to #4359

[2020-04-26 14:08] HubertBos commented on #5293
@travisn Thank you for the question.

Yes, my playbook is taking care of this but to be sure if that is a case I run the same scenario with and without lvm2.

I have the same behave

[code]

On node:

[code]

To get this working I have to remove OSDs from CLI, then remove deployments ( even if I have removeOSDsIfOutAndSafeToRemove set to true ), then I have to kill operator pod ( because 8 hours i

[2020-04-26 14:38] HubertBos commented on #5329
So after testing with other scenarios looks like rook can understand only one set of labels.

If I set on 3 nodes labels like: "pod: a pod: b and pod: c" only rook is able to correctly create CRUSH map and apply it to ceph, however, if I have second set of labels the same on all nodes like rack: 1  the rook will get random pod and apply all racks under the same pod.

[code]

Instead:

[code]

Acco

[2020-04-26 15:07] egulatee commented on #5330
Looking at the describe, there failure seems to be:
ceph-osd return exit code 143.

The only ceph-osd 143 I can find is:  [](https://bugzilla.redhat.com/show_bug.cgi?id=1413159)

[2020-04-26 15:12] satoru-takeuchi commented on #5330
[code]

Your csi pods may be missing. Are there csi-rbdplugin and csi-cephfsplugin?

Here is my cluster's output (csi-cephfsplugin is missing because I don't use cephfs).

[code]

[2020-04-26 15:14] egulatee commented on #5330
@satoru-takeuchi   No csi pods.

`rook-ceph              rook-ceph-crashcollector-nuc9035-75c4dcb44-ktfrj            1/1     Running             8          23h
rook-ceph              rook-ceph-crashcollector-nuc9036-6865445c45-brg4j           1/1     Running             9          3d13h
rook-ceph              rook-ceph-crashcollector-nuc9037-78ddc7455d-pxnvw           1/1     Running             9

[2020-04-26 15:21] satoru-takeuchi commented on #5330
csi pods are kicked by operator-pod, however, in this case, operator pod is also in CrashLoopBackoff. How about the result of the following two commands?

[code]

[2020-04-26 15:23] egulatee commented on #5330
`kubectl -n rook-ceph logs rook-ceph-operator-665fff7c74-6jgnd
`
[code]

`kubectl -n rook-ceph describe pod rook-ceph-operator-665fff7c74-6jgnd
`
[code]

[2020-04-26 15:28] egulatee commented on #5330
Note:

I did deploy [MetaLB](https://metallb.universe.tf/) before everything went down.
It requires setting [strictArp = true](https://metallb.universe.tf/installation/), which I have undone (Or so I believe) since after the reboot the calico nodes were down.
I only uninstalled metal.

[2020-04-26 15:30] #3522 closed

[2020-04-26 15:37] satoru-takeuchi commented on #5330
k8s tried to create operator pod 5 times and gave up to create it about 16 hours ago.

How about restarting the operator like the following?

[code]

[2020-04-26 15:39] egulatee commented on #5330
kubectl -n rook-ceph-system delete pod rook-ceph-operator-665fff7c74-6jgnd
`Error from server (NotFound): pods "rook-ceph-operator-665fff7c74-6jgnd" not found
`

[2020-04-26 15:42] egulatee commented on #5330
Got it.

[code]

[2020-04-26 15:44] egulatee commented on #5330
Same issue where it can't connect on port 443.  Would this be a firewall issue or a calico routing issue or something else?  I opened 443.

failed to get pod: Get https://10.233.0.1:443/api/v1/namespaces/rook-ceph/pods/rook-ceph-operator-665fff7c74-w5z5m: dial tcp 10.233.0.1:443: connect: no route to host

[code]

[2020-04-26 15:47] satoru-takeuchi commented on #5330
[code]

It would be related to this problem.

[code]

This kind of message is typically shown if there is some problems in your network configuration. Although I'm not sure in this field, `journalctl -u kubelet` may help you.

[2020-04-26 15:50] egulatee commented on #5330
Thank you, at least it's been identified as a calico issue.  Very much appreciate your help on this.

[2020-04-26 16:12] #5330 closed

[2020-04-26 16:13] egulatee commented on #5330
Identified as a calico issue causing the operator to fail to start and thus csi pods not starting (Presumably)

[2020-04-26 17:56] mecseid opened #5337 "The operator cannot upgrade OSDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator cannot upgrade the OSDs from v14.2.7-20200206 to v15.2.1-20200410.
The manager, the crash collectors and the monitor pods upgraded successfully.

Current state is:
[code]

**Expected behavior:**
The operator upgrade the OSDs to the excepted version.

**How to reproduce it (minimal and prec

[2020-04-27 05:09] Madhu-1 commented on #4753
This is fixed in cephcsi , closing

[2020-04-27 11:42] ashangit opened #5339 "Pool configurations not fully applied when operator stop"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During pool creation for a new CephObjectStore the operator pod has been updated.
Due to that update the pod has been terminated just after having created the pool but not applied all configuration (Application tag was not set, but it seems that it could happens fr other parameters like compression, ta

[2020-04-27 11:42] ashangit commented on #5339
Please assign this issue to me

[2020-04-27 11:45] galexrt commented on #5339
@ashangit assigned you.

[2020-04-27 12:26] thotz commented on #5250
Apparently my upgrades as seems to blocked in osds, both ceph and rook versions. I will open up different issue then

[2020-04-27 13:07] zeidlermicha commented on #4259
Same here! Any news on this?

[2020-04-27 14:20] #5185 closed

[2020-04-27 14:42] billimek opened #5341 "ceph: upgrading helm chart from 1.3.1 to 1.3.2 fails"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When trying to upgrade the rook-ceph helm chart from 1.3.1 to 1.3.2, helm is failing with the following error,

[code]

If I manually delete the `ClusterRole/psp:rook`, the helm, upgrade will now proceed without error,

e.g. `kubectl -n rook-ceph delete clusterrole psp:rook`

Speculation that [this re

[2020-04-27 14:49] travisn commented on #5293
@HubertBos Can you confirm what is happening to the SSD drives after the nodes are restarted? The devices are wiped clean during the restart? Or new devices are attached in place of the old devices? That's not expected with the aws ephemeral storage. If the same instance is restarted, the ssd should still have the data. Rook is expected to work well when the local data is persistent and you can re

[2020-04-27 14:53] travisn commented on #5337
@mecseid In what version of rook did you originally create the OSDs? Perhaps you have legacy OSDs? See [this section](https://rook.github.io/docs/rook/v1.3/ceph-upgrade.html#before-you-upgrade) of the upgrade topic. For example, "directory"-based OSDs are now legacy. The legacy OSDs will not be updated

[2020-04-27 14:55] travisn commented on #5341
@binoue Please take a look at this. How can we avoid this issue during the upgrade? Looks related to #5297.

[2020-04-27 14:58] travisn commented on #5333
@abh Yes both flex and csi storage classes will work at the same time so you can have the existing flex volumes, with new volumes created with csi.

[2020-04-27 15:01] mecseid commented on #5337
@travisn I created the OSDs originally with Rook v1.1.6 and I don't think I have a legacy OSD (based on the documentation I don't use the directory property and I have ceph- prefixed logical volumes).

For example:
[code]

[2020-04-27 16:02] travisn commented on #5329
@HubertBos If believe the issue you're hitting is that Ceph requires unique names for every level of the CRUSH hierarchy. So if you have multiple racks named `rack1`, Ceph will put them all under the same place in the CRUSH hierarchy instead of under the different pods as you expect. You'll need to name your racks differently if they belong to different pods.

[2020-04-27 16:11] HubertBos commented on #5329
@travisn Thank you for the update, this is not a Ceph limitation as setting up CRUSH map like this was able before dashboard was even available. ( good old times in datacenter )

So do you suggest to set up like this?

[code]

A little bit redundant but might work if Rook can't mark them correctly.

[2020-04-27 16:34] HubertBos commented on #5293
Hello

Let's make it clear:

1. Thank you all for fantastic work on Rook, this is an interesting piece of software.
2. Thank you all @travisn @BlaineEXE @jhesketh your time is precious and I'm grateful for your support.
3. I will open a new ticket to carry on the conversation about this case.

Hands down you guys are amazing. :pray:

[2020-04-27 16:38] travisn commented on #5329
Yes, that should work.
Rook is just passing the detected labels to the OSD and Ceph constructs the CRUSH map. Not sure if it was a change in CRUSH map behavior, but Ceph has required unique names in the CRUSH map as long as I've been aware.

[2020-04-27 16:44] HubertBos commented on #5329
Hello

Maybe my memory is rusted than I remember we have to drop crush map decode and upload back.

If that is a limitation of Rook or ceph will be a good idea to add this edge case as a hint to documentation, maybe someone will save time in future. :-)

[2020-04-27 17:23] #5293 closed

[2020-04-27 17:32] HubertBos opened #5346 "AWS i3en case for auto-discover of new drives on existing nodes after VM returning to pool."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Scenario:

AWS ( or any other cloud provider + cloudstack ) have VMs with host attached storage ( in this case i3en type ).

Every time when VM reboot happens ( like in UI you will issue a command to reboot your VM because host crashed or other random problems, not OS type reboot ) VM comeback with roo

[2020-04-27 17:53] #5329 closed

[2020-04-27 22:00] travisn opened #5348 "Portable OSDs get stuck if a node is terminated abruptly"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
If a node is goes down and portable OSDs are running on that node, we would expect the OSDs to move to another available node. When the node is drained, the OSDs are rescheduled as expected. However, when the node is abruptly terminated (e.g. power outage), the OSD pod will remain indefinitely in the `

[2020-04-27 22:27] travisn commented on #5328
@dimm0 a few questions
- Were you updating from Rook v1.2.x? Or were you already on v1.3?
- What version of Ceph? Are you on Nautilus v14.2.x?
- Had you ever changed the PG count of this pool before? Rook doesn't do PG management, so I'm not sure why this pool would be affected.

[2020-04-27 22:37] dimm0 commented on #5328
from Rook v1.2.x
Was nautilus 14.2.6 at that time (I think..)

I did a lot of manual management of PGs, and now a bunch of pools are complaining again, so I need to set those mins again

[2020-04-27 22:40] travisn commented on #5328
There were some PG changes in ceph 14.2.8 IIRC, so perhaps that update will help

[2020-04-27 22:48] travisn commented on #5315
@psarossy Are you able to create a filesystem with a single pool that is erasure coded? It's possible there is an issue with the filesystem EC pool since it's a less common scenario.
- When failing to "down" the filesystem, I believe #5342 will help with that

@leseb More ideas on why the CR can't be deleted or updated? With the controller runtime changes we should expect things to work more smoot

[2020-04-27 23:18] dimm0 commented on #5328
I updated to 14.2.9 right after
Want me to close the ticket?

[2020-04-27 23:27] travisn commented on #5328
Is your issue solved then after updating ceph? We'd need to rope in the right people from core ceph team or find a related Ceph issue to troubleshoot more.

[2020-04-28 00:25] dimm0 commented on #5328
Once I manually fixed the number, the update continued and finished fine. So my cluster is good now

[2020-04-28 00:26] dimm0 commented on #5328
Just wanted to warn you in case other people hit this (who don't watch the upgrade logs all the time..)

[2020-04-28 01:40] psarossy commented on #5315
@travisn Yes, I can create EC or replicated pools separately. This only surfaces when something does go with the creation. My hunch (didn't set up revision control for this file yet as I was testing) is that I had a typo of some sort in the second pool definition, which is why it got wedged.

The thing is, as I mentioned above, attempting to create the example FS twice with different names and ROO

[2020-04-28 02:26] psarossy opened #5350 "Document full CRDs in documentation"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The documentation and the example files only show less than half of the crd proto spec variables available to be set, and the examples don't show the valid formatting of how to add these even if the user figures out that they exist.

![Screen Shot 2020-04-27 at 10 24 37 PM](https://user-images.githubuse

[2020-04-28 04:11] binoue commented on #5341
@travisn

I will check immediately.

[2020-04-28 06:03] widdix123 commented on #3455
Is there a workaround for this ? How can i get the patch ?

[2020-04-28 06:56] briantopping opened #5351 "mdadm-based node cannot clean reboot if RBD PVCs are open"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When rebooting a node with `mdadm`-backed root disk, if RBD-backed PVCs are in use, the node will fail to cleanly reboot. My suspicion is the `/dev/rbd*` devices were previously managed by container-based agents, but those agents were killed and the orphan devices cause `mdadm` to be unable to get an e

[2020-04-28 08:13] binoue commented on #5341
@travisn @billimek

I checked helm source codes and issues.
This is probably the same issue as [this](https://github.com/helm/helm/issues/7697).

The problem is below
`helm upgrade` acts as follows:
- `helm upgrade` detects new resources between the old chart and the new chat.
- Before applying the new resources, check if they are already existing [here](https://github.com/helm/helm/blob/v3.1.3/pk

[2020-04-28 08:15] #4012 closed

[2020-04-28 09:56] vvkkhjt opened #5353 "External cluster configmap rook-ceph-mon-endpoints it will become an empty file"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When the ceph cluster is under stress and the state of the ceph cluster is not accessible, the contents of this file are changed to empty by rook-ceph-operator

**Expected behavior:**
When ceph is accessible, the rook-ceph-operator should restore this configuration file

**How to reproduce it (minimal

[2020-04-28 10:34] #4939 closed

[2020-04-28 14:07] buno047 opened #5355 "rook-ceph osd's is in CrashLoopBackOff state"
**Is this a bug report or feature request?**
Probable Bug

**Deviation from expected behavior:**
In this k8s cluster there are four nodes. The goal is to remove two nodes from the cluster. At first I
performed `ceph osd out osd.2` for one osd (kubenode4), then waited for re-balance. When its done I drained that node and deleted the osd.2 deployment. Then everything was okay. When I do the same pro

[2020-04-28 14:14] travisn commented on #5341
@binoue What about adding the annotations as described in the issue you linked in [this comment](https://github.com/helm/helm/issues/7697#issuecomment-613535044)? Does that not fix this?

[2020-04-28 14:33] leseb opened #5356 "Multus and CSI"
CSI templates need to see their annotation updated is Multus is detected as a provider.

[2020-04-28 18:02] travisn commented on #5355
@buno047 A few questions:
- You were following the guide for [OSD removal](https://rook.github.io/docs/rook/v1.3/ceph-osd-mgmt.html#remove-an-osd)?
- Did anything else happen in the cluster such as a node restart? That could cause OSDs to crash if [LVM is not installed](https://rook.github.io/docs/rook/v1.3/ceph-prerequisites.html#lvm-package).
- Do the pod logs for the crashing OSDs show anything

[2020-04-28 18:03] travisn commented on #5353
@leseb If the operator can't connect to the external cluster, it shouldn't update the configmap, correct? It should only update the configmap after a successful connection.

[2020-04-28 18:08] travisn commented on #5350
@psarossy What do you suggest for the examples? If all possible properties were added to the examples it would be confusing. For example, a pool can never be both replicated and erasure coded, so an example should only show one option or the other. The [Pool CRD doc](https://rook.github.io/docs/rook/v1.3/ceph-pool-crd.html) is intended to describe all the possible options.

We can certainly add mo

[2020-04-28 18:16] rmartinez3 opened #5358 "OSD crashloop after OSD gets created/job osd prepare finishes"
After OSD prepare finishes creating OSD device.

OSD pods start up but however goes into crashloop.
log
[code]

OSD prepare logs
[code]

Running Rook v1.3
ceph/ceph:v14.2.9

Expected OSD pods to run after OSD Prepare finishes

Partition /dev/sdb2 being used for OSD bluestore

Do let me know what other info i can provide. Looks like its ceph issue hitting this assert
https://github.com/ceph/ceph/bl

[2020-04-28 19:20] travisn commented on #5358
@leseb any ideas on this osd issue?

[2020-04-28 20:25] rmartinez3 commented on #5358
I will be running wipe to make sure partition is cleaned. Will update if I see anything new . As shown in doc https://github.com/rook/rook/blob/v1.3.2/Documentation/ceph-teardown.md#zapping-devices

[2020-04-28 21:57] dyusupov opened #5359 "EdgeFS: support for SMB Active Directory service"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Ability for EdgeFS SMB service to join Windows AD

**What is use case behind this feature:**

**Environment**:

[2020-04-28 22:04] rmartinez3 commented on #5358
Still saw issues after performing cleanup.

[2020-04-28 22:33] travisn commented on #5298
@manavtidhan Are you still seeing those failures? Do you see those pools still existing in the pool from the toolbox? For example: `rbd ls replicapool`. If the images don't exist, I would have expected a different error to be returned than what you are seeing, so the deletion keeps retrying.

If all else fails, here is the [cleanup guide](https://rook.github.io/docs/rook/v1.3/ceph-teardown.html) t

[2020-04-28 22:36] travisn commented on #5211
The readme really won't have the details you are looking for. Perhaps it would help to add links to the existing table in the [project status](https://github.com/rook/rook#project-status) section so it's easier to go find more details in the help docs for each operator.

[2020-04-28 22:50] travisn commented on #5090
I wonder if we should change the `UpdateDeploymentAndWait()` so it has a much shorter timeout and we just re-queue the event, but that's really a separate question from this issue. I'll close it for now since I didn't repro it either.

[2020-04-28 22:50] #5090 closed

[2020-04-28 23:00] travisn commented on #5041
@megian Sounds like you may have some legacy OSDs from the older version of Rook. They were expected to work at least until v1.2, but consider the [v1.3 upgrade guide](https://rook.github.io/docs/rook/v1.3/ceph-upgrade.html#before-you-upgrade) to migrate to newer OSDs.

The osd prepare job is not expected to affect the running OSDs. `ceph-volume` checks for the existence of the OSD before provisio

[2020-04-28 23:57] dyusupov opened #5361 "EdgeFS: support for Distributed SQL engine "DQLite""
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

EdgeFS DSQL feature enables RAFT based distributed SQL that is semantically compatible with SQLite.

**What is use case behind this feature:**

This feature is important for file-based protocol synchronizations across decentralized endpoints (e.g. EdgeFS clusters). Both SMB and NFS protocols do synchro

[2020-04-29 02:19] binoue commented on #5341
@travisn

Since helm v3.2.0 and  v2.16.6, the annotation becomes valid.
So, if users can upgrade their helm version to the newest version of v3 or v2, I think the solution works fine.

[2020-04-29 05:41] buno047 commented on #5355
- yes, I was following that guide.
- Node restart was done later when I saw the CrashLoopBackOff state. LVM is installed.
- the log shows fails

[2020-04-29 06:35] buno047 commented on #5355
@travisn Hi, thanks for the feedback, I am able to register osd's back to mon. But still they are showing down in ceph.

[code]

[2020-04-29 09:55] thotz commented on #5265
@deveshk0 I have proposed a fix. The fix is add 167 as FsGroup in pod configuration, so that cert file will be accessible for the "ceph" user and permission denied can be resolved

[2020-04-29 10:06] thotz commented on #4801
closing this issue, since I have seen it long time ago

[2020-04-29 10:06] #4801 closed

[2020-04-29 11:17] amiga23 opened #5365 "On KVM + k3os: /dev/sdb is not accepted"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Device /dev/sdb is skipped
[code]

**Expected behavior:**
Device /dev/sdb is accepted and will be configured and used as OSD.

**How to reproduce it (minimal and precise):**

/dev/sdb is wiped with `dd if=/dev/zero of=/dev/sdb bs=4M count=100`
Fresh installation of k3os and deploying rook 1.3.2 with co

[2020-04-29 11:32] amiga23 commented on #5365
Wiping first 400MB with dd is not enough:
[code]
needed to zap gpt with gdisk.
Not a bug in rook.

[2020-04-29 11:32] #5365 closed

[2020-04-29 11:40] paalkr opened #5366 "CephFS CSI PVCs are taking long time to attach"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
CephFS rwx PVCs are taking a very long time to attach, and pods are stuck at ContainerCreating for several minutes, up to hours in some cases.

**Expected behavior:**
CephFS PVCs to attach within a few seconds.

**Info**
Discussion on Slack: https://app.slack.com/client/T47C56S7Q/CG3HUV94J/thread/CG3HU

[2020-04-29 11:43] Madhu-1 commented on #5366
Please attach complete logs from csi-cephfsplugin container on the node where mount is taking time

[2020-04-29 12:15] thotz opened #5367 "osd upgrades from 1.2.7 to 1.3.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSDs are not getting upgraded either rook or ceph versions. Other pods are getting upgraded properly
**Expected behavior:**
OSDs should have upgraded
**How to reproduce it (minimal and precise):**

Create a set up in 1.2.7 and upgrade to 1.3.1, followed the steps mentioned in rook docs
**File(s) to sub

[2020-04-29 12:17] thotz commented on #5367
Don't have cluster atm, but I tried to collect as much as information as possible. It was easily reproducible in my enviroment

[2020-04-29 12:58] andersosthus commented on #5366
Hi, I'm a co-worker of @paalkr and I'm going to try and add some more information to this issue.

I've checked the csi-cephfsplugin on several of the nodes where mounting is taking time, but all the logs are empty.

I did find logs in some other csi-cephfsplugin, and they just repeat the following message:
[code]

The PVC referenced in that log message is a shared filesystem, mounted by about 40 p

[2020-04-29 14:09] #4113 closed

[2020-04-29 14:09] #5015 closed

[2020-04-29 16:27] #5359 closed

[2020-04-29 16:29] travisn commented on #5367
If you're updating from cluster-test.yaml in 1.2, it's expected that the osds won't be upgraded. The [OSDs on directories](https://github.com/rook/rook/blob/release-1.2/cluster/examples/kubernetes/ceph/cluster-test.yaml#L49) are not supported anymore. See the [upgrade doc](https://rook.github.io/docs/rook/v1.3/ceph-upgrade.html#before-you-upgrade) for more details.

[2020-04-29 17:00] krbcmt opened #5371 "Logger line `Info` should be `Infof` for correct log formatting"
https://github.com/rook/rook/blob/d963311dfe28beef668a7f370c87576f34c56626/pkg/operator/ceph/object/user.go#L216

[2020-04-29 17:02] leseb commented on #5371
Thanks, I have a PR coming touching this code I'll fix it! Thanks for reporting.

[2020-04-29 17:10] rmartinez3 commented on #5358
After some gdb debugging saw that error related to my setting of memory for OSD

osd_memory_target
[code]

would be nice to show errror via operator/or ceph osd instead of just assert log and no error specifying cause.

After fix and re-reading docs I have my ceph cluster running.

[2020-04-29 17:10] sagyvolkov commented on #5348
What happens is the node failing is where the operator is running and also how long we wait to make the "call" to allow usage of the PVC? I mean, if for some reason if its only 5 seconds, do we start the process after 1 second or wait the 5 seconds?

[2020-04-29 17:11] leseb commented on #5371
Included in https://github.com/rook/rook/pull/5372

[2020-04-29 17:11] #5371 closed

[2020-04-29 18:39] thotz commented on #5367
It was not osd based on directories, those osd are not actual storage disks

[2020-04-29 19:15] travisn commented on #5367
Ah, your operator log says the OSDs could not be stopped during upgrade because the PGs were not healthy.
[code]

You'll either need to start the upgrade with healthy PGs or change [these upgrade settings](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L34-L40) to true.

[2020-04-29 19:19] travisn commented on #5348
If the operator was running on the failed node, the operator should be rescheduled without a problem. The issue will only happen for pods that have an attached volume and k8s can't clean them up because of the potential split brain issue, which depends on the implementation of the underlying storage.

The proposal is only for the operator to force delete the OSD pod under certain conditions. It wi

[2020-04-29 20:00] krbcmt opened #5373 "Unable to delete `Retain`ed Ceph OBC"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When deleting an OBC the operator reports network connection errors to the rgw
[code]

The connection is being attempted on port 0 instead of the port defined in the rgw service manifest, which is 80.

**Expected behavior:**
The OBC is deleted and cleaned up.

**How to reproduce it (minimal and precise

[2020-04-29 21:10] #5244 closed

[2020-04-29 22:31] paalkr commented on #5366
We did face this issue https://github.com/kubernetes/kubernetes/issues/84169#issuecomment-545692734, and applied the suggested workaround by setting the kube-controller-manager flag `disable-attach-detach-reconcile-sync` to `true`

Now all volumes are attached and mounted within seconds

[2020-04-30 01:32] binoue commented on #5341
@travisn

Should I write this upgrade workaround(delete the ClusterRole or upgrade helm version and add annotation) on [helm-operator.md](https://github.com/rook/rook/blob/master/Documentation/helm-operator.md) or roll back the ClusterRole in the rook helm chart?

In my opinion, write the upgrade workaround on [helm-operator.md](https://github.com/rook/rook/blob/master/Documentation/helm-operator.

[2020-04-30 02:59] Jolin-blank opened #5375 "error while running "VolumeBinding" filter plugin for pod "wordpress-mysql-b9ddd6d4c-jk46c": pod has unbound immediate PersistentVolumeClaims"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:
kubectl  describe pods  wordpress-mysql-b9ddd6d4c-jk46c
Warning  FailedScheduling        31s (x2 over 33s)  default-scheduler        error while running "VolumeBinding" filter plugin for pod "wordpress-mysql

[2020-04-30 06:11] Madhu-1 commented on #4427
The upstream patch is not merged yet

[2020-04-30 12:08] xUnholy opened #5378 "Helm templating error: can't give argument to non-function"
I'm using the default values.yaml and getting the following errors.

version: v1.3.2

https://github.com/rook/rook/blob/6e5a6c45422c2c04e48bca22cf9a2d05f828082a/cluster/charts/rook-ceph/templates/clusterrole.yaml#L284

[code]

[2020-04-30 14:40] Antiarchitect opened #5379 "Enable allowVolumeExpansion provided secret is empty"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Operator crashes every 3 minuts

**Expected behavior:**
Operator stays stable. Volume expansion works

**How to reproduce it (minimal and precise):**
I've change my Storage class like this:
[code]
It now contains `allowVolumeExpansion: true` and
[code]

But now secret with name `rook-csi-expand-control

[2020-04-30 15:02] Antiarchitect commented on #5379
Just run operator with logLevel: DEBUG and it stays stable :))
Operator log: https://gist.github.com/Antiarchitect/b653382a9f1b213f9f2cf5189fa5f571

[2020-04-30 15:08] Madhu-1 commented on #5379
I don't understand the issue at all. The storageclass creation should not affect the operator.

[2020-04-30 15:10] Madhu-1 commented on #5379
The expand secret name you are using seems to be wrong, can you please verify it with storageclass.yaml in rook repo

[2020-04-30 15:12] Antiarchitect commented on #5379
Hi, what do you mean by wrong? I just set the secret name in StorageClass and rook tries to create it. Or I should use some existing secret from my k8s cluster that is created somewhere else by k8s itself?

[2020-04-30 15:16] Antiarchitect commented on #5379
OK saw this https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
Will fix and report

[2020-04-30 15:29] Antiarchitect commented on #5379
Operator is now stable. But I haven't noticed any signs of resizing my pvcs.

[2020-04-30 15:32] Madhu-1 commented on #5379
Operator is not responsible for resizing the pvc, there are CSI pods running. You need to mount your pvc to app pods to see resize in effect

[2020-04-30 16:02] Antiarchitect commented on #5379
Hmmmm, I've fixed:
[code]
Recreated deployment for csi-rbdplugin-provisioners, but still logs saying:
[code]

[2020-04-30 16:18] Madhu-1 commented on #5379
You can't resize the older pvc. If you create a new pvc with storageclass who has the expand secret than you can expand the pvc

[2020-04-30 16:21] #5379 closed

[2020-05-01 02:06] traceypooh commented on #4724
damn @muhlba91 thanks so much!
trying to rebuild main cluster this week, updating everything...
our VMs only have a single disk so was trying to loopback mount a disk-as-file setup (and ceph wouldn't go for it) but found your posts and doggedly tried to get a bunch of factors.  worked!

( https://gitlab.com/internetarchive/kre8/-/blob/master/persistent-volume/vm-mount-disk-for-osd.sh ) <= you, bas

[2020-05-01 05:08] jaredallard commented on #4753
Is there a certain version this is fixed in?

[2020-05-01 05:09] Madhu-1 commented on #4753
its available from cephcsi v2.0.0 onwards images are available at https://quay.io/repository/cephcsi/cephcsi

[2020-05-01 06:17] jaredallard commented on #4753
Thanks a bunch for the quick reply... for someone who hasn't worked with this project much yet.... would there be specific things I'd need to do to get rook-ceph v1.3.2 to have these fixes to get arm64 working? Right now it's not working for me, so just trying to figure it out.

[2020-05-01 06:20] Madhu-1 commented on #4753
https://github.com/rook/rook/issues/4051 might help you to run rook on arm64

[2020-05-01 10:56] billimek commented on #4753
I suggest that this issue raised by @onedr0p isn't solved by cephcsi v2.0.0 onward.  cephcsi 2.0.0 onward currently provides _separate_ arm64-based images.  @onedr0p can you clarify the ask?  I wonder if we prematurely closed this issue?

I believe that the issue is for a "multi-arch" image containing the ability to run in different architectures (e.g. arm64 & amd64).  This is different than an im

[2020-05-01 13:04] onedr0p commented on #4753
I would like multi-arch images, which I think is possible with quay, it just takes a little more effort compared to dockerhub.

@Madhu-1 can you please re-open this issue?

[2020-05-01 14:12] guimou commented on #5313
Documentation PR for comments: https://github.com/rook/rook/pull/5382

[2020-05-01 14:26] travisn commented on #4753
While there isn't a fix needed for this in Rook, reopening to track the issue in the CSI driver.

[2020-05-01 14:37] Madhu-1 commented on #4753
Quay doesn't support multi arch as of now. We need to wait till support is available in quay.io

[2020-05-01 14:39] #5348 closed

[2020-05-01 15:35] yanchicago opened #5383 "Rook 1.2.7 and Ceph 14.2.9 image have 18 Medium and 4 low vulnerabilities"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The image rook 1.2.7 and ceph 14.2.9 have 18 medium and 4 low vulnerabilities

**Expected behavior:**
The image should be rebuilt with the updated base image to eliminate the unnecessary vulnerabilities.
This will be an ongoing issues.

**How to reproduce it (minimal and precise):**

Clair Scan on the

[2020-05-01 16:16] thotz commented on #5367
I enabled option it worked for me. I guess unhealthy was due to there one directory based osd in my cluster. I will verify this part and close the big later

[2020-05-01 16:27] jaredallard commented on #4753
@Madhu-1 Am I mistaken, or do they not support it already? https://thenewstack.io/red-hats-quay-3-container-supports-multiple-architectures/

(I admittedly haven't looked into Quay in a long time so I could be off base)

[2020-05-01 16:59] travisn commented on #5383
@yanchicago Could you open an issue in the ceph/ceph-container repo for rebuilding with the new base image? Then we could rebuild rook to pick up the fixes in the base image. Thanks!

[2020-05-01 17:13] onedr0p commented on #4753
@Madhu-1 they sure do support multi-arch images now, take a look at cert-manager repo here: https://quay.io/repository/jetstack/cert-manager-controller?tab=tags

[2020-05-01 18:11] travisn commented on #5378
@xUnholy What version of helm are you using? I'm not able to repro and it's also succeeding in the rook CI.

[2020-05-01 21:13] gagipro opened #5387 "Advanced features for RBD and intercluster replication"
Yes I already tried setting up intercluster replication, it do work at Ceph level, not Rook level

**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow advanced RBD features which are prereq for intercluster pool replication
begin to test as kernel 5.4 with object-map and fast-diff supports now prereq for Ceph

**What is use case behind this feature

[2020-05-01 21:45] travisn commented on #5387
@gagipro Are you referring to rbd mirroring? Today Rook will start the rbd mirroring daemons with [this setting](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L85-L88), then you need to configure the pools and images for replication in the toolbox. Some are already using this in their clusters and it is a work item to provide a more complete solution in Roo

[2020-05-01 21:48] travisn commented on #5341
@binoue Agreed, sounds good to document to use the latest release. Also the upgrade guide ceph-upgrade.md could mention this failure. thanks

[2020-05-01 22:52] gagipro commented on #5387
Hi,

Yes RBD mirroring, it doesn't seem possible to setup other features than layering one at Rook level.

it seems exclusive-lock and journaling are prereq for rbd mirroring, you can set this up manually at Ceph level but it doesn't seem supported by Rook at the moment if I'm not wrong. Should it be in the roadmap for 1.4?

Thanks in advance for your help and clarification

[2020-05-01 23:28] gagipro commented on #5387
Perhaps duplicate of this one, and not rook related?

https://github.com/ceph/ceph-csi/pull/684

[2020-05-02 17:41] dyusupov commented on #3958
reopen - still need to think how to improve it.

[2020-05-02 18:18] michas2 commented on #3958
What do you think about?
Do you see any problem with the proposed solution of using two separate volumes?

[2020-05-03 04:52] dyusupov commented on #3958
I think it might work, but I want to estimate a scope of the change... not sure this is just rook operator that needs to be fixed.

[2020-05-03 07:46] tomassrnka commented on #4012
I ran into similar problem:
[code]

Fixed by createing csi subvolume group manually via toolbox:
[code]

[2020-05-03 20:04] jamesorlakin commented on #4051
@Madhu-1's images worked very well for me on my Pi 4 cluster, but the arch-specific tag approach would be difficult to handle in the case of a multi architecture cluster (AFAIK you can't set `NodeSelector`s on the sets the operator makes). I've rebuilt the latest CSI images from the official GitHub repos using `docker buildx` and published them on Docker Hub under a multiarch manifest.

As for the

[2020-05-03 21:37] Techinica opened #5389 "OSD's not starting with Ceph 15.2.x"
**Is this a bug report or feature request?**
* Bug Report
This is probably a ceph container issue, but not sure where to open an issue if that's the case.

**Deviation from expected behavior:**
OSD's not starting, activate container is failing.

`
+ OSD_ID=40
+ OSD_UUID=e8023d7c-0c31-45e8-b4a6-b9d3bb4820f0
+ OSD_STORE_FLAG=--bluestore
+ OSD_DATA_DIR=/var/lib/ceph/osd/ceph-40
+ CV_MODE=lvm
+ DEVICE

[2020-05-04 05:04] Madhu-1 commented on #4051
created an tracker issue in cephcsi https://github.com/ceph/ceph-csi/issues/1003

[2020-05-04 05:09] Madhu-1 commented on #4753
is this a free account?at least when I tried last time, quay free account doesn't support multi-architecture images

[2020-05-04 05:10] Madhu-1 commented on #4753
closing this as a duplicate of https://github.com/rook/rook/issues/4051, lets track it in one issue

[2020-05-04 05:10] #4753 closed

[2020-05-04 05:28] GuillaumeOuint commented on #5041
I've the same issue here with rook 1.2.7 from 1.1.6 and from v14.2.4-20191112 to v14.2.5-20191210 of ceph.

[2020-05-04 05:58] Madhu-1 commented on #5375
this is tracked here https://github.com/ceph/ceph-csi/issues/966

[2020-05-04 06:00] GuillaumeOuint commented on #5041
Same with rollback, this upgrade break my entire cluster right now...

[2020-05-04 06:29] megian commented on #5041
Unfortunately I have no more information anymore, than visible in this issue mentioned. If the prepare job doesn't override anything, then in theory  this is "only" caused by the OSD pods started with a different name. So disable the Rook management for OSDs reconfiguring the OSD deployments to the old name mentioned in the crushmap should give back the access to the data then.

As I'm not that de

[2020-05-04 06:44] megian commented on #5041
@GuillaumeOuint If you could share one of the OSD preparation pod logs, this would probably be helpful for others.

[2020-05-04 06:51] GuillaumeOuint commented on #5041
Hi, the preparation pod looks like normal. Downgrade luckuly finally worked for me and no data is lost, but unfortunaly I'll wait to have more osd than now for upgrading the cluster. And with 1.3 directory based osd will not work so I have to get myself HDD's on my servers instead of one only partition on one drive. (I was trying to update to 1.2 in order to update with 1.3 when applicable for my

[2020-05-04 07:44] manavtidhan commented on #5298
I just follow up the cleanup guide ..but the issue was same ..but when we do the k8s cluster is re-installation  all the logs are gone from previous rook-ceph. It may be held up by K8s contorollers. Thanks Team for you support

[2020-05-04 07:44] #5298 closed

[2020-05-04 08:14] leseb commented on #5389
Which container image are you using?

[2020-05-04 10:55] Techinica commented on #5389
image: ceph/ceph:v15.2.1

[2020-05-04 14:56] tvvignesh opened #5391 "Driver name not found in the list of registered CSI drivers"
Hi. I am facing this issue in my GKE cluster:
```Warning  FailedMount             94s (x21 over 28m)    kubelet, gke-tc-dev-1-default-pool-10e65eb9-0ck0  MountVolume.MountDevice failed for volume "pvc-a7dfc3f5-e719-442d-82cd-68da52c568b2" : driver name rook-ceph.cephfs.csi.ceph.com not found in the list of registered CSI drivers```

Went through github and slack, found these:
https://rook-io.slack

[2020-05-04 15:13] tvvignesh commented on #5391
@Madhu-1 helped me solve this problem. It was because of a conflicting port. I changed ports in my operator like this:

[code]

and deployed and it worked.

Closing this. Thanks.

[2020-05-04 15:13] #5391 closed

[2020-05-04 21:38] crazytera opened #5392 "Documentation Support Request for enabling SSO on Ceph Dashboard."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
There is no documentation **Rook Specific** that shows how to setup SSO on the rook dashboard.

**Expected behavior:**
Some sort of documentation on how to control pods better that would allow the enablement of SAML based SSO for ceph.

**How to reproduce it (minimal and precise):**
The [Ceph Documenta

[2020-05-04 22:00] RandyLevensalor commented on #5092
I'm seeing this with Rook 1.3 and Kubernetes 1.19 as well.

rook version
rook: v1.3.2
go: go1.13.8

The only line that I see in the rook-ceph-mgr-a log file is:
[code]

It looks like it is trying to re-create the existing subvolume and isn't issuing the resize command.

I updated this by changing the size PVC and running `kubectl apply -f my-pvc.yaml`

Thanks @sebschlue for posting the workaround.

[2020-05-04 22:06] zzztimbo commented on #3013
This is an issue for me at the moment.

I have a POC cluster that I'd like people to be able to access from a Jupyter notebook, for instance.

[2020-05-04 23:00] eknudtson opened #5393 "Upgrade from 1.2.x to 1.3.x legacy namespaces not accounted for"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When upgrading from 1.2.x to 1.3.x, the upgrade-from-v1.2-apply.yaml manifest has a few resources that are not adjusted for legacy namespaces like `rook-ceph-system` with the `sed` command in the upgrade instructions.

See:

https://github.com/rook/rook/blob/v1.3.2/cluster/examples/kubernetes/ceph/upgr

[2020-05-05 02:10] Madhu-1 commented on #5092
The user should not resize the subvolume manually, can you please provide below output
* Kubectl get pvc -o yaml
* Logs from the csi-cephfsplugin container of provisioner pod
* Log from the csi-cephfsplugin container from the csi-cephfs daemonset pod from the node where app pod is scheduled

[2020-05-05 07:15] #5335 closed

[2020-05-05 08:08] surajssd opened #5396 "Dead link to "Flexvolume config""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

In this page -> https://github.com/rook/rook/blob/master/Documentation/ceph-common-issues.md#possible-solutions-summary
in the section **Possible Solutions Summary** the link to **Flexvolume configuration pre-reqs** is dead.

It points to https://github.com/rook/rook/blob/master/Documentation/k8s-pre-

[2020-05-05 09:16] Madhu-1 commented on #5092
@joscollin PTAL

[2020-05-05 11:01] joscollin commented on #5092
@Madhu-1
We need to figure out which mounting method is used by csi. If it is kernel client, you need a version >= 4.17 and a mimic+ cluster to avail CephFS quota. `fs subvolume resize` command is only available from nautilus 14.2.8 or higher. However, the quota resize is possible by reissuing `fs subvolume create` command in versions older than nautilus 14.2.8.

We need to check:
1. Kernel client

[2020-05-05 11:03] Madhu-1 commented on #5092
@joscollin details are provided in https://github.com/rook/rook/issues/5092#issue-588367977

[2020-05-05 11:04] Madhu-1 commented on #5092
rook uses cephfs kernel client by default irrespective of kernel version to avoid transport endpoint not connected issue due fuse client.

[2020-05-05 11:14] joscollin commented on #5092
@Madhu-1 Then it is obvious. "3.10.0-1062.el7.x86_64" - that's the reason why it fails to automatically adjust quota limit. Use 4.17 or higher.

I think the cluster is upgraded to nautilus 14.2.8 or higher. But somehow the kernel is older than 4.17.

[2020-05-05 11:18] Madhu-1 commented on #5092
@joscollin if you look at the issue carefully user is claiming that he is able to resize the subvolume with `ceph fs subvolume resize` command and he is seeing expected size in app pod. in cephcsi we are using `ceph fs subvolume create` command to resize the PVC why it's not working as expected here? any idea

[2020-05-05 11:36] thotz commented on #5367
closing this issue as not a bug, verified earlier issue was related to having directory based osd in my setup

[2020-05-05 11:36] #5367 closed

[2020-05-05 11:46] HubertBos opened #5399 "Unable to delete bucket from rook and ceph"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Command to delete ObjectBucketClaim hangs forever, the bucket is not removed from ceph, secret with keys is k8s API but keys are removed from ceph make it all stuck in some limbo.

Non of objects are removed from k8s api, just access keys from ceph...

radosgw-admin bucket rm XXX does nothing, no erro

[2020-05-05 11:55] HubertBos commented on #5399
To add some logs from operator

[code]

but in ceph

[code]

[2020-05-05 12:20] surajssd opened #5400 "Ship monitoring config with the helm chart"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Right now the helm chart does not ship any **ServiceMonitor** or **PrometheusRule**. Add these configs to the chart and add a knob to install only these two.

**Note**: Other configs that installs prometheus operator can be optional because users might have such installations in place already.

Also sh

[2020-05-05 12:28] joscollin commented on #5092
@Madhu-1 As I mentioned earlier, Use kernel 4.17 or higher for quota to work properly in all situations. Additionally, use nautilus 14.2.8 or higher for the `fs subvolume resize` command availability.

Below are the basic requirements for quota to work properly:

`Quotas are implemented in the kernel client 4.17 and higher. Quotas are supported by the userspace client (libcephfs, ceph-fuse). Linux

[2020-05-05 13:58] leseb commented on #5353
How you tried upgrading your Rook version? `v1.1.6` is pretty old and I suspect the recent code has fixed that issue already.

Thanks.

[2020-05-05 16:25] RandyLevensalor commented on #5092
I'm running the 5.3 HWE kernel on Ubuntu 18.04.

I can reproduce this later today and capture the log files.

[code]

[2020-05-05 16:32] #5396 closed

[2020-05-05 17:25] #5375 closed

[2020-05-05 17:32] RandyLevensalor commented on #5092
@Madhu-1 The cephfs-csi plugin log files don't output anything when I increase the pvc size.

It looks like the manager is trying to create the existing subvolume and the resize operation is not being initiated.  This really looks like a rook-ceph orchestration issue and not a lower level ceph or kernel issue.

Here is the log from mgr-a.

[code]

Please let me know if there are any other log file

[2020-05-06 01:32] joscollin commented on #5092
Please explain how this magically happened now. You started this issue by claiming a different OS/Kernel [here](https://github.com/rook/rook/issues/5092#issue-588367977).

Show us the output of:
$ ceph versions

[2020-05-06 01:45] RandyLevensalor commented on #5092
@joscollin
Apologies for the confusion around kernel versions.  I didn't open this issue.  I was seeing the exact same behavior and thought that it was probably the same issue.  The workaround that was posted in the initial issue worked like a charm.

The manager issuing a create call instead of a resize call seems like an issue with the manager or higher-level call in the stack within rook-ceph a

[2020-05-06 02:40] #4749 closed

[2020-05-06 02:57] joscollin commented on #5092
@RandyLevensalor
You have all the prerequisites met from the back-end Ceph:
1. Kernel Version >= 4.17 (You have 5.3)
2. Ceph Version is mimic+ (You have Nautilus 14.2.9)
3. `fs subvolume resize` command is available since [Nautilus 14.2.8](https://docs.ceph.com/docs/master/releases/nautilus/#v14-2-8-nautilus). (You have Nautilus 14.2.9).

This clarifies why the `resize` command worked on your clus

[2020-05-06 04:40] #4761 closed

[2020-05-06 06:39] vvkkhjt commented on #5353
@leseb If I can't confirm that this problem has been resolved, I don't want to rush to upgrade, because this environment is already in use in the official environment

[2020-05-06 07:34] melnik13 commented on #4207
Thank you, @danilo404, somewhy I didn't see your comment, that's why I hadn't sent you my thanks for your attention.

[2020-05-06 07:34] #4207 closed

[2020-05-06 11:40] #4317 closed

[2020-05-06 13:08] #4848 closed

[2020-05-06 13:58] Madhu-1 commented on #5092
this is will fixed in https://github.com/ceph/ceph-csi/pull/1018 and will be available in next cephcsi release

[2020-05-06 14:02] yanchicago commented on #4044
Please keep it open. We do need some guidance on how to migrate two namespaces to one namespace. Eventually, the two name spaces will have to be dropped. All the examples in the delivery works well with one-name space. Quite some effort has to go with two namespaces, especially, RBAC. The upgrading with two namespaces is different from one namespace is also different. Would appreciate if some guid

[2020-05-06 16:08] yanchicago commented on #5383
@travisn FYI. The new ceph image is available. Could you please issue a rebuilt or updated rook release based new ceph 14.2.9?

[2020-05-06 17:01] RandyLevensalor commented on #5092
@Madhu-1 @joscollin Thanks for your help debugging and fixing this issue!

[2020-05-06 17:21] travisn commented on #4812
The intention was that the storageClassDeviceSets could be used in the same cluster as the non-PV OSDs, but wasn't tested and clearly needs changes to be supported. @michael-db Is this clearly a scenario you're interested in? Or how much of a priority?

[2020-05-06 17:27] travisn commented on #5383
@yanchicago To confirm, is this the image that has the vulnerabilities fixed? `ceph/ceph:v14.2.9-20200506`. We would need to release v1.2.8.

[2020-05-06 22:25] travisn opened #5416 "OSD on PVC will stay pending after reconcile where the OSD is down"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When the operator runs a reconcile (e.g. during upgrade), the OSD may stay pending indefinitely due to an invalid node selector:
[code]

This can happen if the following conditions are met:
- The OSD is configured on a PVC (with a storageClassDeviceSet)
- `portable: false`
- The existing OSD pod is dow

[2020-05-06 22:40] #4029 closed

[2020-05-07 00:11] yanchicago commented on #5383
@travisn Just get chance to scan the new ceph image ceph.v14.2.9-20200506.
Unfortunately, it has a few critical security issues as well. Will have to work with ceph container team.

[2020-05-07 01:41] #5316 closed

[2020-05-07 05:59] michael-db commented on #4812
It's not urgent from my point of view. It just cost a lot of time discovering what the problem was.
A workaround - provided you anticipate the need to add PVCs later - could be to turn local disks into PVs first day.

[2020-05-07 11:43] binoue commented on #5341
@travisn

Sorry for my late replay.
I took a vacation. I will make the PR mentioned in the comment above.

Thanks

[2020-05-07 13:49] leseb commented on #5389
@dsavineau thoughts on this lang issue?

[2020-05-07 14:10] dsavineau commented on #5389
This remains me https://github.com/ceph/ceph-ansible/commit/7e5e4229b794c354d9cc7a5951f00356ea3418c4 but I'm surprise that the issue wasn't present on nautilus first.

[2020-05-07 15:18] #5265 closed

[2020-05-07 17:28] travisn commented on #5383
Reopening for the follow up issues

[2020-05-07 18:25] #5416 closed

[2020-05-07 19:28] prksu commented on #5112
just reproduced this issue and got the same error.
@jbw976 @ashishranjan738 @rohan47 can i try to take this one?

[2020-05-07 21:24] yanchicago opened #5427 "The filesystem is created when ROOK_CSI_ENABLE_CEPHFS is set to "false""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Setting ROOK_CSI_ENABLE_CEPHFS to"false" triggers the operator to create filesystem the same way as setting it to "true"

**Expected behavior:**
Setting ROOK_CSI_ENABLE_CEPHFS to"false" should trigger the operator to delete the filesystem.

**How to reproduce it (minimal and precise):**

1). Deploy the

[2020-05-07 21:35] yanchicago commented on #5427
The operator will keep bringing up filesystem regardless ROOK_CSI_ENABLE_CEPHFS is set to false in configmap or the operator deploy. Restart the operator will lead to the same results.

[2020-05-07 21:47] travisn commented on #5427
@yanchicago Are you asking about disabling the CSI driver or the filesystem? This setting is about whether to create the CephFS CSI driver. Creating a filesystem CR is independent from this setting.

There is a known issue that the CSI driver is not disabled when it is changed to false, but at least if it is changed to false and you delete the csi driver deployment and daemonset, the operator won'

[2020-05-07 21:49] yanchicago commented on #5427
<you delete the csi driver deployment and daemonset, the operator won't re-create it.
@travisn Thanks for quick response.
 I have deleted the mds deployment manually but the operator keeps recreating it.

[2020-05-07 21:51] travisn commented on #5427
@yanchicago `ROOK_CSI_ENABLE_CEPHFS` does not control the mds. The mds daemon is completely controlled by the filesystem CR. If you don't want the mds, you need to delete the filesystem CR.

[2020-05-07 21:56] yanchicago commented on #5427
@travisn I did the below operator. But step 4) triggers the operator to re-create myfs CR.
1). delete mds deploy
2). delete the cephfs storageclass
3). delete cephfilesystem instance ( myfs )
4). Update ROOK_CSI_ENABLE_CEPHFS to false
5). delete the deploy/csi-cephfsplugin-provisioner ds/csi-cephfsplugin-provisioner and services

[2020-05-07 22:02] yanchicago commented on #5427
And I checked the operator code briefly and seemed that it always enable it. And "myfs" CR is not cleanly removed as the restarted operator pod still found it somewhere. I did patch finalizer to CR "myfs" to delete it successfully.

[2020-05-07 22:02] travisn commented on #5427
By design, step 1 will trigger a reconcile of the mds and it will get re-created, but then step 3 should result in the mds being deleted. If you're trying to uninstall mds, don't do step 1. It will be done automatically by step 3.

[2020-05-08 01:19] jc-lab opened #5430 "(FlexDriver) timeout expired waiting for volumes to attach or mount for pod"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

See https://rook.io/docs/rook/v1.2/ceph-block.html and create storageClasses.
Using CSI RBD works well, but using Flex Driver creates problems.

**How to reproduce it (minimal and precise):**
StorageClass:
[code]

Statefulset
[code]

**File(s) to submit**:
describe pod events
[code]

**Environment**:

[2020-05-08 02:01] jc-lab commented on #5430
... ROOK_ENABLE_FLEX_DRIVER was not true.

[2020-05-08 02:01] #5430 closed

[2020-05-08 06:06] jc-lab opened #5431 "(FlexDriver) expandfs command failed, status: Failure, reason: error resizing FS: exit status 1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Crash when restarting Pod after changing the capacity of PVC.

**How to reproduce it (minimal and precise):**

See https://rook.io/docs/rook/v1.2/ceph-block.html and create storage class.

StorageClass:
[code]

Statefulset
[code]

Change the spec.resources.requests.storage of PVC while it is running.

[2020-05-08 06:42] jbw976 commented on #5112
Yes @prksu, this would be great to start tackling and getting more familiar with Rook's development processes and community! 🙇‍♂️

[2020-05-08 08:03] ston1th opened #5432 "External cephfs expects 'adminID' and 'adminKey' in secrets"
* Bug Report

I used the `import-external-cluster.sh` script to connect rook to my external ceph cluster.

This script creates the `rook-csi-cephfs-node` and `rook-csi-cephfs-provisioner` secrets with userID and userKey.

**Deviation from expected behavior:**

Provisioner and mount logs:
[code]

To fix this I had to add the same secret values but with `adminID` and `adminKey`.

**Expected behavior

[2020-05-08 09:10] llamerada-jp opened #5434 "ceph: The operator continues to run in spite of errors when launching the controller."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
- The controller wasn't working because we missed to apply CRD(`CephRBDMirror`).
  - `status.phase` in `CephObjectStore` was not set.
  - Even though I prepared `ObjectBucketClaim`, `ConfigMap` was not created and S3 compatibility function was not available.
  - operator had output following error mess

[2020-05-08 10:12] thotz opened #5435 "Value for priority is missing in scc.yaml"
**Is this a bug report or feature request?**
* Bug Report (not 100% sure though)

**Deviation from expected behavior:**
[code]
Same with oc command succeeds.

This issue is missing value for Priority(if you pass any integer value it will succeed) in SecurityContextConstraints CR.

**Expected behavior:**
creation of scc.yaml(operator-openshift.yaml) should pass via kubectl

**How to reproduce it (m

[2020-05-08 11:46] thotz commented on #5373
@krbcmt can u please share details the yaml files storage-class, object-bucket-claims?

[2020-05-08 12:12] thotz commented on #5399
@HubertBos : is it fairly reproducible?
It looks deletion of bucket got stuck. Can u collect logs from rgw pod as well.

[2020-05-08 12:51] YiannisGkoufas opened #5437 "Allow to option to override arguments on CephObjectStore for radosgw command"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently the only way to pass configuration options for the radosgw pod which is created by modifying the rook-config-override configmap. However this configmap is mounted by all the pods and it can not be used on a single CephObjectStore.
I would like to have the option to pass additional or override

[2020-05-08 16:13] krbcmt commented on #5373
I've added the requested yaml to the issue. However, I just attempted the same scenario I originally described and the operator is behaving correctly, the bucket is cleaned up and the OBC removed. I haven't made any changes to the ceph cluster, that I can recall, since reporting this issue....

[2020-05-08 17:49] Zempashi opened #5439 "external cluster with management: mds and rgw pods in CreateContainerConfigError because missing `rook-ceph-config` secret"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
mds and rgw ( and crashcollector) in CreateContainerConfigError because of missing `rook-ceph-config`.
Cluster status is connected and rbd provionner works fine and I'm able to use block storage on pods

**Expected behavior:**
Should work ?

**How to reproduce it (minimal and precise):**
[code]

**File

[2020-05-08 18:36] yanchicago commented on #5427
@travisn Yes, the step 3) will trigger step 1. The operator didn't re-create the filesystem. the recreation was probably triggered by step 1).

After step 3, I added "ceph fs rm myfs --yes-i-really-mean-it". Now it's cleaned up.Not sure if rook needs to include this step or not. But I can proceed re-installing fs.

Thanks again for your support.

[2020-05-08 23:35] mecseid commented on #5337
@travisn
Should I update to v1.3.3 or how can I resolve the problem?

Here is the running pods in rook-ceph namespace with related image versions:
[code]

[2020-05-08 23:37] Techinica commented on #5389
For the sake of testing, I tried adding the PYTHONIOENCODING: utf-8 environment variable to the activiate container on one of my OSD's instead of the above-mentioned work-around. It wasn't sufficient.

This also illustrates the POSIX problem.

`$ docker run ceph/ceph:v15.2.1 locale
Unable to find image 'ceph/ceph:v15.2.1' locally
v15.2.1: Pulling from ceph/ceph
8a29a15cefae: Pull complete
c333427c

[2020-05-08 23:55] travisn commented on #5337
Could you share the logs for one of the osd prepare pods and the operator log? One of those logs should show why the osds were not upgraded. At least I see that the osd prepare pods were updated, so they likely show the reason.

[2020-05-09 00:06] mecseid commented on #5337
Log of the rook-ceph rook-ceph-osd-prepare-k8s-worker-1-tzs2z pod:
[code]

[2020-05-09 00:16] travisn commented on #5337
The end of the log indicates that the existing OSD was discovered, therefore a new osd wasn't configured.
[code]
According to this, the operator should have updated the existing osd. Anything interesting about the osds in the operator log?

[2020-05-09 00:24] mecseid commented on #5337
I attached the operator upgrade log in the first comment.
In the logs I only see that the operator cannot stop the osds:
[code]
After some minutes it's drop a long stacktrace.

[2020-05-09 00:30] travisn commented on #5337
Ah, we really need to get this into the common issues doc... Rook is being conservative about the upgrade when ceph doesn't indicate the OSD can be stopped without making the data unavailable. You can set one of [these two settings](https://github.com/rook/rook/blob/release-1.3/cluster/examples/kubernetes/ceph/cluster.yaml#L34-L40) to instruct rook to continue the upgrade.

[2020-05-09 00:45] mecseid commented on #5337
Ohh okay, thank you.
Another question to this:
How should I update my current settings to make osd update without downtime?
I have 2 zone with 2-2 hosts at the moment, and I set the CRUSH map related to this.  (So I have 8 PGs if I calculated correctly).
My first post contains the Cluster CR.

[2020-05-09 02:56] immesys opened #5442 "k8s/ceph: Recent change to priority classes introduces typo"
**Is this a bug report or feature request?**
* Bug Report

A recent PR (#5394) introduced some yaml syntax typos into the example k8s manifests for ceph.

In two places it reads:
[code]

But at that point in the file, it's yaml so it needs a `:` not `=`

Links:
[operator.yaml](https://github.com/rook/rook/commit/f82a07d44100473f7f7e99875cfdc4e1fd06d7c6#diff-fed38e73227bfb1e0c51f3621623fbf4R56-R61)

[2020-05-09 02:56] immesys commented on #5442
Incidentally, this made it into the 1.3.3 release, so this isn't just master

[2020-05-09 03:20] Madhu-1 commented on #5442
@immesys Thanks for pointing out , sent a patch for it.

[2020-05-09 14:32] travisn commented on #5337
@mecseid If you have two OSDs in each zone and your pool replication size is two, I would think the OSDs could be brought down during the upgrade one at a time without downtime.

[2020-05-09 15:16] mecseid commented on #5337
@travisn Thanks, I will try it at evening.
I have only one question:
Can I set the time between OSD updates or the operator will only update the next OSD if the upgraded one come back as healthy?
(What's the method of the upgrade if not the previously mentioned?)

[2020-05-10 05:00] #5442 closed

[2020-05-10 05:04] travisn commented on #5337
@mecseid The operator will update one osd at a time. After each osd, the operator will query to see if it is safe to upgrade the next one. The time between the osds isn't configurable though.

[2020-05-10 07:10] satoru-takeuchi commented on #5434
@llamerada-jp

Does it mean that you applied CephRBDMirror, which Rook v1.3.2 doesn't have, by mistake?

Can you provide the exact claster.yaml? As I said above, Rook v1.3.2 doesn't have CephRBDMirror CRD. So, "remove only CRD of CephRBDMirror" looks odd to me. Normally, there wouldn't be that CR in your resource.

[2020-05-10 08:43] Madhu-1 commented on #4841
Still need fix for this.

[2020-05-10 13:34] mecseid commented on #5337
@travisn I tried the upgrade process with _continueUpgradeAfterChecksEvenIfNotHealthy: true_ and its worked without any problem, so thank you your help and patience. :)

[2020-05-10 13:34] #5337 closed

[2020-05-10 16:21] Zempashi opened #5444 "error provisioning bucket: Provision: can't create ceph user: error creating ceph user"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
bucket creation fails because user creation failure. The failure seems related to a `username` being empty.
changing from:
[code]
to
[code]
On the operator pods, I'm able to create user manually.

Looking
at
`pkg/operator/ceph/object/admin.go`
and
`pkg/daemon/ceph/client/command.go` on v1.3.3,  My go-s

[2020-05-11 02:34] llamerada-jp commented on #5434
@satoru-takeuchi
Thank you for your reply.

I was mistaken. We used the master branch specified bellow (and it is v1.3.2 later.)
https://github.com/rook/rook/commit/382c6c3610caa2218f7ccbc51777bc5f15c667e3

I think cluster.yaml is not related to this error because the error occurred before applying claster.yaml.

[2020-05-11 04:16] satoru-takeuchi commented on #5434
@llamerada-jp

Ok.

Could you provide me which manifests did you apply? Is it as follows?

- common.yaml under cluster/example/kubernetes/ceph/common.yaml with removing the definition of CephRBDMirror CRD
- opetator.yaml under the dame directory as common.yaml

If not, please show me the exact manifests you applied.

[2020-05-11 05:33] llamerada-jp commented on #5434
@satoru-takeuchi

Thank you. I made a mistake with your intention.

I used `common.yaml` from the link below. And it is not containing CRD of CephRBDMirror.
https://github.com/cybozu-go/neco-apps/blob/2214fc52fb5b20c1d8873db138ce81ed84b0ddc8/rook/base/upstream/common.yaml

I used `operator.yaml` from the link below.
https://github.com/cybozu-go/neco-apps/blob/2214fc52fb5b20c1d8873db138ce81ed84b0dd

[2020-05-11 07:31] binoue commented on #5341
@travisn

I documented this workaround in #5445 .
For the documenting, I verified that it was valid with my Kubernetes by upgrading from rook v1.2.7 to v1.3.2 and  v1.3.1 to v1.3.2.

[2020-05-11 08:52] leseb commented on #5437
If you are looking at tweaking some options you could try with `ceph config set` but not all the options work, especially runtime options like `rgw-frontends`.

Ultimately I don't think this is something we want to support especially if it's just for experimentation.
You can still change the deployment spec with other options, the operator won't reconcile.

[2020-05-11 09:04] #5432 closed

[2020-05-11 10:10] #5341 closed

[2020-05-11 10:49] omkarprabhu-98 commented on #5301
@brightzheng100 @travisn, could you please let me know
1. how exactly to fix the problem of osd pod not coming up?
2. And why does this happen?

I am running `minikube` and using `cluster-test.yaml`, with `dataDirHostPath` changed as:
[code]
The osd prepare pod logs as follows:
[code]

[2020-05-11 11:25] thotz commented on #4907
@travisn : I can add goroutine to deletebucket in Delete() and obc deletion will happen fast, it won't block the new creation. But IMO that is not neat solution, I feel like solution may involve rook-operator and lib bucket provisioner.

@jeffvance @copejon : any thoughts?

[2020-05-11 12:34] leseb commented on #5444
One question, you mentioned the setup was similar to https://github.com/rook/rook/issues/5439, are you running an external cluster consuming CephObjectStore from another one?

[2020-05-11 12:40] Zempashi commented on #5444
I run a kubernetes cluster (without any rook/ceph inside) consuming an external cluster. It's purpose is to be accessed only by the kubernetes, so I would like to use all the management features offered by rook. Is that answering the question ?

[2020-05-11 12:53] leseb commented on #5444
Yes, thanks.

No worries, no need to break anything.

I'm still trying to figure out why the `username` gets lost.

[2020-05-11 13:14] leseb commented on #5444
@Zempashi wait, are you **only** running the operator and no CephCluster (even external?)?

[2020-05-11 13:17] Zempashi commented on #5444
No no, I do run a ceph cluster, but not managed by rook.

[2020-05-11 13:20] leseb commented on #5444
Ok so basically, let me summarize:

* you have one external ceph cluster without rgw
* you have a CephCluster CR injected connected to the external cluster
* you have injected a CephObjectStore CR so that you have rgw running on Kubernetes and not on the external cluster

Is the above correct?
Thanks.

[2020-05-11 13:35] Zempashi commented on #5444
Yes, correct ! CephCluster manifest is attached in #5439 (despite namespace change), CephObjectStore and storageClass attached in this one. Yes a rgw is now running (fixing the missing secret). I haven't attached logs of rgw because they appears to be not relevant to me:

[code]

[2020-05-11 15:13] copejon commented on #4907
Off the top of my head, executing provision CRUD ops in child threads is likely not the way forward.  Blocking until the delete completes is essential to logging and controlled API object deletions.

It would probably be cleaner (and potentially more useful) to enable threadiness configuration when the caller creates the controller.  Currently, objects are managed under a single thread, starting a

[2020-05-11 16:34] jsmouret commented on #1653
I was wondering if a PV identified by namespace/pv_name could be back by a directory namespace/pv_name on cephfs. In case of disaster, recreating the PV with the same namespace and name would end up using the same folder, hopefully kept by cephfs.

[2020-05-11 19:26] travisn commented on #1653
@jsmouret Yes, if you have a rwx volume with cephfs, you can mount it to another pod. Since you're using the same PVC, it would use the same folder as long as it is bound to the same PV. But whether it is rxo or rwx I believe you'll have the same issue with getting the PV re-created and bound to the expected PVC.

[2020-05-11 19:39] travisn commented on #5301
@omkarprabhu-98 Looks like you don't have a raw device or partition available for creating an OSD. See the [prerequisites](https://rook.github.io/docs/rook/v1.3/ceph-prerequisites.html#ceph-prerequisites) for more details.

[2020-05-11 20:19] #5439 closed

[2020-05-11 21:34] jsmouret commented on #1653
The idea was that a PV dynamically provisioned to satisfy a PVC `mynamespace/mypersistentvolume` should use a predictable directory path like `/mynamespace/mypersistentvolume` on cephfs instead of `/pv_generated_uuid`.
If the kubernetes cluster is lost, simply recreating a PVC with the same old name would provision a PV with the same old path and recover the data.

[2020-05-11 22:06] isehgu opened #5454 "csi-rbdplugin causes kubelet to die"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When csi-rdbplugin container is running on the node, kubelet keeps dying.
The key error in the log is
`Failed to start ContainerManager failed to initialize top level QOS containers: root container [kubepods] doesn't exist`.
Base on that error, I found an old issue with kubernetes that was patched 1 or

[2020-05-11 22:14] travisn commented on #5454
@isehgu Please open an issue in https://github.com/ceph/ceph-csi. Do you have more steps on the repro? Sounds like it requires more than starting the kubelet.

[2020-05-11 22:16] isehgu commented on #5454
Ok. will do. Thank you.
As long as csi-rbdplugin container is running on the node, it's literally just restarting kubelet. It will keep on dying.

[2020-05-12 01:18] jc-lab opened #5455 "The operator does not die normally after some trouble."
**Is this a bug report or feature request?**
* Bug Report

Sorry, but there is not much information.
mgr and mon crashed.
And the order is unknown, but there is only information that the problem occurred because the abnormal rook-ceph-operator Pod and the newly created rook-ceph-operator Pod coexisted because the operator did not die properly. At that time, certain PVCs could not be connected.

Af

[2020-05-12 07:11] thotz commented on #5373
I was able to hit similar issue, but operators logs are different.
IMO I figured out the issue, retain bucket policy is planned for brownfield use cases(meaning existing buckets  only). But we are trying to create  new bucket for the same.
Mean time if possible I request @krbcmt to create retain policy obc with existing bucket, in this case u need to mention existing bucket details in the storage

[2020-05-12 09:31] Zempashi commented on #5444
@leseb If you need to access my cluster I can provision your ssh public key if needed

[2020-05-12 09:53] leseb commented on #5444
Can you ping me on slack?

[2020-05-12 11:37] thotz commented on #5373
@travisn : What do you suggest, fix up doc or allow retain policy for green field cases as well

[2020-05-12 12:59] konvergence opened #5463 "not able to update deviceClass on an existing erasurecoded pool"
Hi,

I have created a erasurecoded pool without deviceClass .
the `ceph osd tree` show all disk as "hdd" class

[code]
I try to **update** the pool with : ` deviceClass: hdd`

[code]

Then the operator can not reconcile the pool

[code]

**notes:**
- It work on a  existing replicated pool but not on existing erasurecoded pool
- If I create directly a new erasurecoded pool with the deviceClass it w

[2020-05-12 13:25] thotz opened #5464 "OBC creation not working after updating from 1.3.1 to 1.3.3"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OBC creation failed in new version
**Expected behavior:**
OBC creation should pass
**How to reproduce it (minimal and precise):**

Create a cluster in 1.3.1 and upgrade to 1.3.3
Create a storageclass and obc out of it

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.ya

[2020-05-12 17:31] travisn commented on #5463
@konvergence The deviceClass can be set when you initially create the pool, correct? This only happens when you update the deviceClass after initial creation?

[2020-05-12 17:46] travisn commented on #5373
@thotz For greenfield, the retain policy makes sense to me. It just means we don't delete the bucket when the OBC is deleted, right? Are there any other implications of the retain policy?

[2020-05-12 17:52] thotz commented on #5373
Yes

Are there any other implications of the retain policy?
User will be deleted, his permissions revoked. And imo a single bucket can be attached to multiple obc's as well

[2020-05-12 17:57] konvergence commented on #5463
Yes, this only happens when I update the deviceClass after initial creation.
But I can update a replicated pool. but I cannot update an erasurecoded pool

[2020-05-12 18:09] travisn commented on #5373
@thotz Ok, so we agree greenfield buckets should not be deleted if the retain policy is set. To confirm,  the user will still be deleted and thus revoking the user access to the bucket, right?

[2020-05-12 18:10] thotz commented on #5373
Correct

[2020-05-12 18:16] travisn commented on #5455
@jc-lab Not sure what happened here. What do you mean there is an abnormal operator pod that coexisted? Instead of screenshots, please paste the contents of the logs.

If there are crashes in the mon and mgr pods, you'll need to reach out to the ceph community unless there is a Rook misconfiguration. But there is not enough info to test what happened.

[2020-05-12 20:50] travisn commented on #4845
@hightoxicity I believe you're hitting #1507. This is an old k8s problem. Development effort is being discussed in the CSI driver to solve this problem, but there are no plans to improve the flex driver.

[2020-05-12 20:58] travisn commented on #4645
@jteeg @PavloZabudskyi Are you setting the [resource requests and limits](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L128) for the OSDs in the cluster CR? Rook passes these limits on to the OSD daemons to set the memory limits as expected. Even then, the memory will fluctuate even above the limits depending on load and whether the kernel is reclaiming me

[2020-05-12 20:58] #4645 closed

[2020-05-12 22:04] rootfs opened #5468 "object store deployment failed to start on openshift"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
object store should be created
**Expected behavior:**
failed to start object store deployment

**How to reproduce it (minimal and precise):**

Deploy Rook 1.3.3 on OpenShift 4.3.18
follow instructions [here](https://rook.io/docs/rook/v1.3/ceph-openshift.html)
**File(s) to submit**:

* Cluster CR (custo

[2020-05-12 22:07] ganeshr2 opened #5469 "rook-ceph-mgr crash"
1. For issues or feature requests, please create an issue in this repository.
2. For general technical and non-technical questions, we are happy to help you on our [Rook.io Slack](https://slack.rook.io/).
3. Did you already search the existing open issues for anything similar?  Yes non found

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-ceph

[2020-05-12 22:23] travisn commented on #5468
@thotz The RGW is failing on OpenShift due to #5362. Can you take a look? There seems to be a conflict between the privileged container and the pod spec with a different security context. On OpenShift notice that the `mon.PodSecurityContext()` method returns a privileged container.

[2020-05-13 00:02] rstcruzo commented on #3754
@albertdb @benceszikora I have that issue too. Did you manage to fix it?

[2020-05-13 02:11] badone commented on #5455
Almost certainly https://tracker.ceph.com/issues/42026

[2020-05-13 03:27] #4622 closed

[2020-05-13 03:27] #4699 closed

[2020-05-13 04:27] #3557 closed

[2020-05-13 04:27] #4664 closed

[2020-05-13 04:55] jc-lab commented on #5455
Thank you

[2020-05-13 04:55] #5455 closed

[2020-05-13 06:08] zh168654 opened #5470 "rook on istio failed, a suggestion for adding annotations to rook created jobs"
**Describe the bug**

When install rook-ceph on istio-injection namespace, it eventually will fail and osds never come up
because of a well known k8s jobs and istio sidecar problem:
A Job is not considered complete until all containers have stopped running, and Istio Sidecars run indefinitely. So the jobs never complete.

A solution might be support add annotations(sidecar.istio.io/inject: "false"

[2020-05-13 06:24] mattirantakomi opened #5471 "CephFS CSI part of volume name/UUID missing from PVC details"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Volume "second" UUID is not listed on PV/PVC details.

**Expected behavior:**

Volume "second" UUID should be listed in PV/PVC details.

**How to reproduce it (minimal and precise):**

Create PVC with the following YAML:
[code]

Describe PVC and PV
[code]

[code]

Create deployment with PVC attached w

[2020-05-13 06:32] Madhu-1 commented on #5471
I don't think we need to consider this as a bug. Please open a separate feature request in cephcsi where we can discuss more about it.

[2020-05-13 06:40] mattirantakomi opened #5472 "Make full CephFS CSI volume details available on PVC details"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Full CephFS CSI volume details should be available through `kubectl describe pvc/pv`. At the moment second part of volume handle name/UUID is missing.

When PVC is mounted on pod, its path will be something like:

`/volumes/csi/csi-vol-211d8575-94df-11ea-9b70-ce3cc82ba7ff/83891b7f-4352-47ed-9575-2ab151

[2020-05-13 06:40] mattirantakomi commented on #5471
https://github.com/rook/rook/issues/5472

[2020-05-13 06:41] matti commented on #5471
@Madhu-1 but in a previous version there was no second UUID - so I consider this a bug becauee it breaks the behavior

[2020-05-13 06:53] Madhu-1 commented on #5471
@matti what was the previous version you are referring here? I want to verify it

[2020-05-13 06:55] mattirantakomi commented on #5471
Previous version was:

[code]

Rook version: `rook/ceph:v1.2.4`

[2020-05-13 06:58] Madhu-1 commented on #5471
let me check and get  back

[2020-05-13 08:20] leseb commented on #5373
FYI I recently fixed the deletion of the Retain OBC here: https://github.com/rook/rook/pull/5465
Now, the user is unliked and deleted but the bucket remains.

Should we close this or is there something different still?

[2020-05-13 08:32] leseb commented on #5469
Is crash looping or just assert and start working again?

[2020-05-13 10:04] Madhu-1 commented on #5471
here is my analysis

# Rook master

## Mount output from csi-cephfsplugin
[code]
## Command used by cephcsi to create subvolume
[code]

## Get subvolume path from toolbox pod
[code]
## ceph version
[code]
# Rook v1.2.4

## Mount output from csi-cephfsplugin
[code]
## Command used by cephcsi to create subvolume
[code]

## Get subvolume path from toolbox pod
[code]
## ceph version
[code]
from the ab

[2020-05-13 10:04] Madhu-1 commented on #5472
closing this as  we are  still analysing https://github.com/rook/rook/issues/5471

[2020-05-13 10:04] #5472 closed

[2020-05-13 12:10] thotz commented on #5468
@travisn :IMO mon.PodSecurityContext() should not conflict with my changes in #5362, since values represent in different fields of yaml file. But I found that when we set scc.yaml in openshift, it adds different value for security context
[code]
with my change I might overwrite this values. So I may to check whether existing value instead of blinding setting the fsgroup field.

Any idea what does

[2020-05-13 12:29] thotz commented on #4907
@copejon thanks for confirming the issue. What about starting with two threads one for delete and another create requests. It may not be scalable. IMO create requests won't take much time and if even for delete bottle neck is when user consume with OBC with "delete" policy

[2020-05-13 12:35] thotz commented on #5373
I need to verify, will conform by 2mrw. From initial look it may resolve this. But in mind the solution was fails creations of OBC with policy retain if the bucket found.

[2020-05-13 13:29] leseb commented on #5464
Was the OBC already holding buckets? Did you use a new Operator yaml for upgrading?

[2020-05-13 13:32] rootfs commented on #5468
I read the [rgw spec code](https://github.com/rook/rook/blob/master/pkg/operator/ceph/object/spec.go#L66), it doesn't set any service account, as it does in e.g. [OSD deployment](https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/osd/spec.go#L423). This makes rgw deployment very fragile. @thotz

[2020-05-13 13:40] travisn commented on #5468
@thotz Let's not rely on the fsGroup ID to be the same. In OpenShift it will have a different value as we are seeing. We need to do something similar to the `c.makeChownInitContainer()` that is already applied to the pod. This init container uses `ceph:ceph` instead of a specific ID. Let's create another init container if there is a cert that needs to be chowned.

[2020-05-13 15:28] leseb commented on #5468
I don't think this will make it work since the rgw process will still run under the 'ceph' user.

I believe it's generated per cluster? @rootfs do you know?

[2020-05-13 16:19] thotz commented on #5464
No

Post upgrade the provisioner for obc didn't change. Is this expected behavior
[code]
And new sc has `rook-ceph.ceph.rook.io/bucket`, hence obc created based new sc got failed

[2020-05-13 16:24] leseb commented on #5464
Oh ok, so you upgraded from the "old" provisioned with `"ceph.rook.io/bucket"` but you used the new SC that has `rook-ceph.ceph.rook.io/bucket`?

[2020-05-13 16:40] copejon commented on #4907
I think the bottleneck would actually be alleviated if we manage threads generically rather than per operation.  This way a delete op blocking wouldn't block follow on deletes (assuming they also don't block).  I _am_ concerned that we'll introduce race conditions with threads, but that should be something we test for.  At the very least, I think it will produce false errors in cases where objects

[2020-05-13 16:56] thotz commented on #5464
Yes

[2020-05-13 17:28] rootfs commented on #5468
@leseb

I think that's from openshift uid/gid range.

[2020-05-13 18:27] MikaelSmith commented on #4238
I think I ran into something similar to this. Specifically a master was removed and the osd purged from ceph, then re-added to my Kubernetes cluster so the rook-ceph operator tried to recreate it (and re-use existing data). That led to the recreated osd pod failing with
[code]

https://access.redhat.com/solutions/3524771 ended up being useful. I fixed it by re-adding the keyring to the operator co

[2020-05-13 19:54] yanchicago opened #5479 "Failed to update target_ratio by updating the CR CephObjectStore and cephfilesystem"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Update the target_ratio on the CR(CephObjectStore and cephfilesystem)  instance didn't take effect.

**Expected behavior:**
Expect the target_ratio of the corresponding pool being updated.

**How to reproduce it (minimal and precise):**

Failed test case 1). Update cephfilesystem CR.
[code]
Failed test

[2020-05-13 20:58] arminfelder opened #5480 "cannot create cephfs volumes"
If I try to create a cephfs volume, I get:
[code]
also
[code]
gets stuck

creation of block based volumes works fine

I did setup a rook with the following pools:
replicapool   -> replica 3
cephfs-metadata
cephfs-data0   ->replica 3
unreplicatedpool  -> replica 1

[code]

[code]

[code]

I have 3 Machines with 2 TB HDDs each, available to ceph

**Environment**:
* OS (e.g. from /etc/os-release): De

[2020-05-13 21:27] #4776 closed

[2020-05-13 21:27] #4775 closed

[2020-05-13 22:27] #4613 closed

[2020-05-13 22:27] #4278 closed

[2020-05-13 23:27] #4657 closed

[2020-05-13 23:38] pdf commented on #4614
I presume this is still a problem if nothing has changed.

[2020-05-14 00:03] #5468 closed

[2020-05-14 04:58] thotz commented on #5468
@rootfs : I am not openshift expert. But can please explain how service account will be useful and how it will be consume rgw pod. If I get more clarity I can work on that.

[2020-05-14 06:19] prksu commented on #5112
@chenlein seems it's not `rook-nfs` bug. tried to reproduce this issue again on GKE it's work fine. but got same error on other platforms (tested on DOKS and minikube). and i found interested discussion here https://github.com/kubernetes/minikube/issues/3417 it seems like it's a problem with the cluster itself that the host cannot resolve cluster service dns

[2020-05-14 06:24] thotz commented on #5373
@leseb : with this PR, the issue is no longer seen.
@travisn : May I go head restrict the `retain` policy OBC only for existing buckets?

[2020-05-14 08:21] leseb commented on #5464
Hum why? I mean if the OBC is already present, I assume you already had a SC `"ceph.rook.io/bucket"` so why injecting the new one?

[2020-05-14 08:38] Madhu-1 commented on #5480
@joscollin @kotreshhr any idea why ceph fs ls commands are struck?

[2020-05-14 09:31] cbluth opened #5482 "EdgeFS codebase is removed, missing docs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
broken github/docs links on http://edgefs.io/

**Expected behavior:**
existing codebase and docs

**How to reproduce it (minimal and precise):**
go to website
click here:
![image](https://user-images.githubusercontent.com/6709636/81917996-38667480-95d6-11ea-9fe3-c471d51f1ca6.png)

---
i was considering

[2020-05-14 10:18] chenxuc opened #5484 "Cannot detect error for not enough space"
**Is this a bug report or feature request?**

* Bug Report

**Bug Report**

**Expected behavior:**
Rook should detect and report error when the backend disk space is not enough for the PVC/PV

**Deviation from expected behavior:**
I use rook to create a ceph cluster in my single node k8s cluster. My backend total harddisk for the ceph cluster is only 10G size. But when I create a pod with 20G PVC/

[2020-05-14 10:24] leseb commented on #5484
It's by design, images are sparse so we oversubscribe all the time. Rook is not responsible for PV/PVC interaction, ceph-csi is so you should probably move that question out to https://github.com/ceph/ceph-csi. Thanks.

[2020-05-14 10:24] #5484 closed

[2020-05-14 10:51] thotz commented on #5464
So it is not recommended to use new one. There is no specific reason, I accidentally saw this issue. I was working with 1.3.2 and then switched to 1.3.3 ( in my local VM) then  obc was not working.

I was using yamls in git repo that's why encountered this issue

[2020-05-14 11:45] leseb commented on #5464
If you had an existing OBC running, then it's expected to keep on using the same SC.
Just like you said it's more an accident than a bug.

I'm closing this, feel free re-open if you have any more concerns.

[2020-05-14 11:45] #5464 closed

[2020-05-14 12:48] mykaul commented on #5482
@cbluth  - that doesn't sound like a Rook bug though?

[2020-05-14 15:02] travisn commented on #5482
@dyusupov @sabbot FYI, but closing since the EdgeFS site does not belong to Rook.

[2020-05-14 15:02] #5482 closed

[2020-05-14 15:14] travisn commented on #5484
@chenxuc You'll likely want to add quotas to the storage class to enforce this with the PVCs. See [this topic](https://kubernetes.io/docs/concepts/policy/resource-quotas/).

[2020-05-14 15:29] #5271 closed

[2020-05-14 16:48] travisn commented on #5373
@thotz The fix needed is that when an OBC is deleted, rook should skip bucket deletion if the policy is `retain`, right? This will fix the problem that was reported initially in this issue. Whether it was an existing bucket seems like it doesn't matter.

[2020-05-14 17:32] avoine commented on #5378
same here with latest helm.

[2020-05-14 19:06] rootfs commented on #5468
@thotz I was thinking the missing SA in rgw spec caused missing SCC settings, but later I found the default SA is actually bound to `rook-ceph` SCC [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator-openshift.yaml#L50).

[2020-05-15 00:59] chenxuc commented on #5484
@leseb @travisn Thanks a lot for your explanation. It's amazing that issues in ROOK are addressed so quickly.

[2020-05-15 05:12] #4727 closed

[2020-05-15 08:42] Zempashi commented on #5444
@leseb Tested: Reinstalling my cluster, adding some partition available on the the node and running an managed ceph cluster, user can be created, and I got my secret and configmap in the namespace. This bug seems really tied to the external cluster feature.

[2020-05-15 10:05] averi commented on #2953
I honestly believe this is related to the fact Kubernetes attempts to chown specific devices and storage classes behind the scenes. That would also explain why Kubernetes 1.18 introduced a flag to disable that specific behavior as per https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#configure-volume-permission-and-ownership-change-policy-for-pods.

Recently switched a spe

[2020-05-15 10:34] leseb commented on #4993
If we think it's a bug in Ceph, we should report it in https://tracker.ceph.com/ too.

[2020-05-15 10:34] thotz commented on #5373
@travisn : Sorry I didn't make it clear in early comment, retain policy was designed for existing bucket(brown field cases), but it is not documented anywhere properly . please refer code below
[code]
I guess above check was working not working properly. And plus we need to make few corrections for yaml files and doc

[2020-05-15 13:11] WestFarmer commented on #1488
for me, this one worked.
kubectl patch crd cephclusters.ceph.rook.io -p '{"metadata":{"finalizers": []}}' --type=merge

[2020-05-15 14:06] travisn commented on #4864
Since v1.3 the CSI driver is expected to be deleted when the operator deployment is removed, which would happen during helm install.

[2020-05-15 14:06] #4864 closed

[2020-05-15 14:14] travisn commented on #5373
The example storage class for retaining buckets has a [comment](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/storageclass-bucket-retain.yaml#L12-L16) that if you want it for brown field, you should uncomment the bucket name. So I'm not seeing why the [retain](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/storageclass-bucket-retain.yaml#L7) p

[2020-05-15 16:19] orblazer opened #5487 "mgr not created"
**Is this a bug report or feature request?**
* Bug Report ?

**Deviation from expected behavior:** The operator is stuck, mgr is never created

**Expected behavior:** Create the cluster without errors

**How to reproduce it (minimal and precise):**
I don't know, i just have follow the quickstart

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary

[2020-05-15 22:51] chrono2002 commented on #5312
Probably it's rgw issue, but I can't find where I can report it.
I dig into civetweb and beast. They are by design mime compatible but somehow crippled.
According to rgw documentation mime.types only works for swift but not s3.
Maybe there is an option to turn mime.types off completely instead of reporting incorrect ones?

[2020-05-16 01:53] satoru-takeuchi commented on #5487
It seems that monitors failed to reach quorum many times, so the operator gave up to create the cluster. It would be related to the count of desirable mon that you changed. I guess that there is something wrong in Rook about handing mon.

BTW, do you have any strong reason to set the count of mon to 2? In general, it is the odd numbers. If not, it's better to set 3 to the count.

[2020-05-16 10:32] orblazer commented on #5487
Ok, if i want set 3 i need to untaint the master because i have only 2 worker (for now).
With that issue (untaint master and mon set to 3) i have overload my cluster.

[2020-05-16 10:46] satoru-takeuchi commented on #5487
In this case,  `allowMultiplePerNode: true` is better than setting mon->count to 2, I think.

- `mon->count: 2` and `allowMultiplePerNode: false`
  - worker0: 1 mon: if this node down, the cluster can't work
  - worker1: 1 mon: if this node down, the cluster can't work
- `mon->count: 3` and `allowMultiplePerNode: true`
   - worker0: 2 mons: if this node down, the cluster can't work
   - worker1: 1

[2020-05-16 13:58] orblazer commented on #5487
Ok i have follow the case with 3 mon and `allowMultiplePerNode: true` and my bug its possible because i have only one node with available device ?

[2020-05-16 14:17] RJGhugo opened #5491 "helm --name"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

$ helm install --namespace rook-ceph --name rook-ceph rook-release/rook-ceph
Error: unknown flag: --name

**Environment**:
* OS (e.g. from /etc/os-release):
PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"
NAME="Raspbian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=raspbian

[2020-05-16 14:28] satoru-takeuchi commented on #5487
I'm not sure because I don't know the root cause of this problem.

[2020-05-16 16:00] retinio commented on #5480
I have the same problem

**test-pvc.yaml**
[code]
**kubectl describe pvc test-pvc**
[code]
 **kubectl logs csi-cephfsplugin-provisioner-6dc5b48684-4nnhf csi-provisioner -n rook-ceph**
[code]
**kubectl logs csi-cephfsplugin-provisioner-6dc5b48684-4nnhf csi-cephfsplugin -n rook-ceph**
[code]
**kubectl exec rook-ceph-tools-7bb5797c8-8btxq -n rook-ceph -it sh**
[code]
I have 3 Machines with 1 TB SSDs

[2020-05-16 18:20] psarossy opened #5492 "Setting NOUP during a cluster reboot results in broken OSDs in CrashLoopBackOff, due to too short livenessProbe.periodSeconds"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
* I had to move the cluster physically, which required a power down.
* After turning the cluster back up, several OSDs are in constant CrashLoopBackOff without generating any logs (we'll get to why).

**Expected behavior:**
The cluster to come back without errors.

**How to reproduce it (minimal and pr

[2020-05-16 18:51] psarossy commented on #5492
One more log, it seems to be related to the admin socket? (at the end of the log)

[rook-ceph-osd-11-77bc865f-tzfff.describe.log](https://github.com/rook/rook/files/4639054/rook-ceph-osd-11-77bc865f-tzfff.describe.log)

[2020-05-16 22:11] psarossy commented on #5492
A graceful power down and restart later, now I have 7 OSDs doing this...

Looking at the host processes, it looks like ceph-osd is never started in the container, then it tries to do the health check, which fails, then goes straight back to CrashLoopBackOff.

[2020-05-17 09:05] hezise opened #5494 "filesytem not installed when using kubespray 2.12"
* Bug Report
I'm using kubespary 2.9 and everything works fine with rook. when I upgraded to 2.12 I noticed that pods are in pending state waiting for pvc
looking in logs I see:

[code]

looking at operator log I see
[code]

in ceph status I don't see mds in services

[code]

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to

[2020-05-17 09:41] orblazer commented on #5487
I have update my message for full log of operator and mon

[2020-05-17 18:00] cortopy opened #5495 "Mon endpoint list using wrong interface"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I have a ceph cluster configured to use the host network. Each node has two interfaces: one public, and one private. I would like to use the private one. This interface is also the default one for all communication within the kubernetes cluster.

While ceph and kubernetes are properly configured to use

[2020-05-17 22:04] psarossy commented on #5492
So after 2 days of trying to figure out how to debug this, I found the source of the problem.
In some guides, for cluster reboots they also recommend for you to set "NOUP" on the OSDs.

Naturally this prevents the OSD from starting up properly:
[code]

The problem is that the liveliness check only gives 10 seconds for the logs to get populated, but it takes ~30 seconds for that error message to sh

[2020-05-18 01:59] aarononeal commented on #2959
@travisn I followed the topology topic to create multiple availability zones under the default root. How does one specify these zones using `crushRoot`?

I tried:
- location formats: `root=default zone=zone1`
- hierarchy paths: `default/zone1` and `/default/zone1`

Results in error: `ceph-block-pool-controller: failed to reconcile invalid pool CR "pool1" spec: unrecognized crush root root=default

[2020-05-18 02:26] aarononeal commented on #2959
It appears this maps to this [rule syntax](https://docs.ceph.com/docs/nautilus/rados/operations/crush-map/#creating-a-rule-for-a-replicated-pool):
`ceph osd crush rule create-replicated {name} {root} {failure-domain-type} [{class}]`

Which just accepts a single name. I guess that's fine if `{root}` is unique across the crush map. But if there are multiple datacenters each with a `rack1` and you wa

[2020-05-18 05:49] ganeshr2 commented on #5469
Yes k8 restarted the pod and it started working fine. Any idea on root cause. Why does it show Prometheus in log

[2020-05-18 07:30] leseb commented on #5469
The bug has been fixed in Ceph https://tracker.ceph.com/issues/44726, we just need the backport.

[2020-05-18 07:30] #5469 closed

[2020-05-18 07:46] leseb commented on #5312
@thotz thoughts on this?

[2020-05-18 09:50] TeroPihlaja opened #5498 "Upgrade fails from 1.2.7 to 1.3.X: invalid memory address or nil pointer dereference"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)

**Expected behavior:**
Operator doesn't crash and starts upgrade process

**How to reproduce it (minimal and precise):**
Not sure how to reproduce. I can reproduce i

[2020-05-18 09:57] thotz commented on #5312
Don't have much idea, @cbodley @mattbenjamin can u please validate [comment](https://github.com/rook/rook/issues/5312#issuecomment-629538761)

[2020-05-18 10:06] galexrt commented on #5494
@hezise You have the issue in the cluster you upgraded and now it reports n filesystem or is that a newly setup cluster?

Does Kubespray reinstall the servers / wipe disks during upgrade?

From the `ceph status` output you have posted Ceph doesn't know about a Ceph Filesystem (anymore?).

[2020-05-18 10:14] papdaniel commented on #1507
@abh Workaround to find it:
kubectl -n rook-ceph-system get volumes.rook.io <pvc/pv-name> -o yaml
[code]
In `mountDir: /var/lib/kubelet/pods/<pod-uid>/...`  there is your old pod-uid and in `node` its node too.

What I did (I'm not sure what happens in the background so, just careful, but I prayed :) and it worked with gitaly and a postgres cluster):
Changed the old pod-uid to the new pending pod-

[2020-05-18 10:46] saltFisher opened #5499 "no matches for kind "CephCluster" in version "ceph.rook.io/v1""
when i deploying a ceph cluster in k8s, i met an error, "error: unable to recognize "cluster.yaml": no matches for kind "CephCluster" in version "ceph.rook.io/v1"
i checked by using  "kubectl get crd cephclusters.ceph.rook.io" to check whether had created CephCluster kind, it was created.
it all looks right, but i can't create ceph cluster after i did common.yaml and operator.yaml

Env:
k8s: 1.17.

[2020-05-18 11:03] kotreshhr commented on #5471
@Madhu-1 @mattirantakomi
Yes, the subvolume path is changed in cephfs when the subvolume clone feature is introduced. But it should not cause any problems. The subvolume created with new version (with subvol clone feature) would return subvolume path with UUID and subvolume created in older version would return subvolume path with out UUID. I didn't quite understand how this is causing an issue at

[2020-05-18 11:09] mattirantakomi commented on #5471
We have had full backup (done by Duplicity and stored on S3) of CephFS and all PVC details (kubectl describe pvc), so we have been able to know eg. "index.php" file full path on CephFS backed PVC. Full path is needed when doing file level restore with Duplicity from CephFS backup stored on S3.

`ceph fs subvolume getpath` command can't be used in case PVC is already deleted and we have to restore

[2020-05-18 11:15] JessedeJonge opened #5500 "Ceph Dashboard Main Page Internal Server Error 500"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After logging in, the main "Dashboard" page is empty and an

`Internal Server Error, The server encountered an unexpected condition which prevented it from fulfilling the request.` error is shown. All the other pages like 'Cluster, Pools' etc work fine.

**Expected behavior:**

**How to reproduce it (m

[2020-05-18 11:20] JessedeJonge commented on #5500
Same issue as #5223, [This solves it for now.](https://github.com/rook/rook/issues/3106#issuecomment-489201188)

[2020-05-18 11:20] #5500 closed

[2020-05-18 11:54] thotz commented on #5373
Apparently libbucketprovisioner works based on CRD's in storageclass/obc and call functions accordingly. So I was wrong about the `retain` policy applicable only for brownfield cases. It is recommended for brownfield use cases but not restricting to green field as well.

[2020-05-18 12:03] kotreshhr commented on #5471
@Madhu-1 Can the CSI layer fill in that information to be displayed in kubectl describe pv/pvc ?

[2020-05-18 12:06] Madhu-1 commented on #5471
Yes, we can add a subvolume path to CSI attributes in the PV spec. we need a  feature request in https://github.com/ceph/ceph-csi repo with details.

[2020-05-18 12:22] mattirantakomi commented on #5471
https://github.com/ceph/ceph-csi/issues/1079

[2020-05-18 13:17] retinio opened #5501 "Rook operator doesn't set resource request and limit for CSI pods"
**Is this a bug report or feature request?**
* Bug Report

After changing values.yaml and adding resource request and limit for CSI pod rook operator doesn't set limits.

**helm upgrade --install rook-ceph rook-release/rook-ceph -f operator/values.production.yaml --wait --namespace rook-ceph --version v1.3.3**

**values.yaml**
[code]
rook operator pod contains define resources

[code]

But csi-cep

[2020-05-18 13:20] Madhu-1 commented on #5501
please provide the operator logs, to check what is  the issue

[2020-05-18 13:52] hezise commented on #5494
Hi,
it's a new deployment using kubespray 2.12
I actually have 2 different deployments one is using kubespray 2.9 and one is using kubespray 2.12
regarding the output of ceph status - this is also one of the reasons I raised it. the only thing that is different is the kubespray version and I couldn't find what is wrong.
rook version
rook: v1.2.6
go: go1.11

[2020-05-18 14:56] retinio commented on #5501
rook opreator logs from
 **kubectl logs rook-ceph-operator-665d56dff9-8js7p -n rook-ceph**
[rook-operator.log](https://github.com/rook/rook/files/4644847/rook-operator.log)

[2020-05-18 15:07] cbodley commented on #5312
radosgw just stores the `content-type` header given by the client during the upload, and serves that type back when it's downloaded

which s3 client is uploading the objects? it looks like s3cmd? s3cmd has several options that control what it sends for `content-type`:
[code]
you can add the -d flag during upload to see which content-type s3cmd chooses - in your case, it's choosing `text/plain`

[2020-05-18 15:21] travisn commented on #5499
@saltFisher Can you provide more details on your repro? Did you modify any of the examples? What commands exactly did you run?

[2020-05-18 16:42] travisn commented on #5498
The stack trace from v1.3.0 looks like [this line](https://github.com/rook/rook/blob/release-1.3/pkg/operator/ceph/cluster/controller.go#L551) with the issue in the latest release-1.3 branch. @leseb Thoughts on why the `cluster.Info` wouldn't be populated at this point? Seems like the cluster.Info should always be populated by `configureLocalCephCluster()`, right?

[2020-05-18 16:53] leseb commented on #5498
`cluster.Info` is probably initialized but not the CephVersion, looking.

[2020-05-18 16:55] leseb commented on #5498
Also this line seems to help:

`2020-05-18 09:39:46.047090 E | op-cluster: failed the ceph version check. the version does not meet the minimum version "14.2.5-0 nautilus"
`

[2020-05-18 16:57] leseb commented on #5498
Looks like we should not return `nil` here: https://github.com/rook/rook/blob/release-1.3/pkg/operator/ceph/cluster/controller.go#L463

[2020-05-18 16:58] travisn commented on #5498
Good catch, the error checking should have stopped the reconcile from continuing and hitting that issue.

[2020-05-18 17:00] leseb commented on #5498
master does not have the bug though

[2020-05-18 17:00] travisn commented on #2959
@aarononeal Ceph requires a unique name for every identifier in the CRUSH hierarchy, so you're correct that if you had `rack1` in multiple zones, you would need to rename them to be unique.

[2020-05-18 17:02] travisn commented on #5498
@TeroPihlaja Can you confirm that updating to a supported version of Ceph (14.2.5 or newer) will fix the issue? If so, I would suggest we close the issue since it's already fixed in master. It doesn't appear urgent to backport for 1.3.

[2020-05-18 17:23] FireDrunk opened #5504 "devicePathFilter doesn't work with /dev/disk/by-partlabel"
* Bug Report

**Deviation from expected behavior:**
Devices are ignored.
**Expected behavior:**
Devices are used in cluster.
**How to reproduce it (minimal and precise):**
Create a simple partition on a disk. Use gdisk to give the partition a label.
Use: "devicePathFilter: /dev/disk/by-partlabel/<the-label>"

**File(s) to submit**:

Fresh 1.2.7 deployment.

Log from the discovery (cut useless info

[2020-05-18 17:32] travisn commented on #5487
@orblazer For a production cluster you really should have 3 mons and `allowMultiplePerNode: false`. If you have two workers, it would be better to put the third mon on a master node. You can add the toleration to the mon with the `placement.mon.tolerations` element as seen [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L111).

[2020-05-18 18:23] TeroPihlaja commented on #5498
Looks like updating to 14.2.5 seems to fix the issue. Thanks.

[2020-05-18 19:16] orblazer commented on #5487
OK but i need untaint the `master` (i don't really want schedule some pods on master) ? and i think that issue become irrelevant

[2020-05-18 19:19] travisn commented on #5487
@orblazer You don't need to untaint the master, you just need to add a `toleration` to the Rook mons. Then the mon is the only resource that will be allowed to run on the master.

[2020-05-18 20:37] travisn commented on #5492
@leseb Shall we set the initial wait on the liveness probe to a couple minutes?

[2020-05-19 00:19] udayjalagam commented on #2079
Even I am trying to use cert-manager for certificate management for rgw . But can't do that because of how rook expect the certificates to be present.

[2020-05-19 01:24] 0xMH opened #5505 "Mongodb replicaset fails when using NFS"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
By using Mongodb repilcaset stable helm chart, Replicasets should be created. Instead I get permissions errors.

**Expected behavior:**
Replicasets should be created.

**How to reproduce it (minimal and precise):**

1.  Follow the NFS quick start guide
2.  ```helm repo add stable https://kubernetes-cha