[2021-05-28 00:29] uhthomas commented on #7746
For anyone who decides to fix this using a ConfigMap, ensure your config is suffixed with a new line. `init-mon-fs` gets very unhappy otherwise and will fail with

[code]

https://github.com/uhthomas/automata/commit/f0da04221bb3c73571bb2407db79ee5acb877040

[2021-05-28 04:22] jobcespedes opened #8013 "Add option to customize NFSServer service account name"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add option to set NFSServer service account name when creating CR
**What is use case behind this feature:**
Customize installation and use a different service account. "rook-nfs-server" service account is the only option for now.
https://github.com/rook/rook/blob/fcf634e3b7808e4338e7fd261c047aae4793e99b

[2021-05-28 20:20] #6894 closed

[2021-05-30 20:22] #7277 closed

[2021-05-31 02:55] huangyc-11 opened #8015 "rook-ceph upgrade from 1.0.6 to 1.1.9: MDS has slow request. The result is slow to return by using ls or mkdir command in the mounted cephfs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook upgraded from 1.0.6 to 1.1.9, although the cluster status is HEALTH_OK, but the read / write io of RBD and cephfs is very high, and the return time of ls, mkdir and other operations in cephfs is slow. After using RBD to mount PVC, it is observed that the read / write IO is very high, which leads t

[2021-05-31 04:43] jc-lab opened #8016 "operator startup too late."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Rook orchestration for ceph should be able to complete faster.

**What is use case behind this feature:**
* #4642 : Speedup orchestration
* #4442 : ceph: improve kubernetes deployment upgrade detection

I am using rook/ceph:v1.4.7 with #4442 applied.
However, even though the deployment upgrade is unnece

[2021-05-31 05:09] jc-lab commented on #8016
After upgrading to v1.5.11, it works normally and fast.

[2021-05-31 05:09] #8016 closed

[2021-05-31 05:16] Madhu-1 commented on #7987
@travisn it can lead to other compatibility problems. IMO it should be fine to wait for some time till we add the rbd namespace and cephfs subvolumegroup support in Rook.

[2021-05-31 05:17] hyperbolic2346 commented on #7854
I've run into this same issue on an upgrade. I have an error with IP 10.1.88.2, but otherwise this is the same. I believe this was the correct address at one point. Checking the config as requested results in `''` and and empty string, but with dump I get the following:
[code]
Running `ceph config rm mgr.a mgr/prometheus/a/server_addr` and `ceph config rm mgr.a mgr/dashboard/a/server_addr` has sol

[2021-05-31 07:45] #7999 closed

[2021-05-31 07:53] leseb commented on #8013
We don't allow this in any other CRD. Can you be more specific on the use case?

[2021-05-31 10:05] tibbe commented on #7720
Does this feature request make sense?

[2021-05-31 10:08] epuertat commented on #7854
@travisn: as @sebastian-philipp mentioned, if 'someone' set this `mgr/dashboard/a/server_addr` option in the past, it'll remain set. If unset, [this will be used instead](https://github.com/ceph/ceph/blob/731f4f70ee58a5df63e1a7f46540005d1e7206f8/src/pybind/mgr/mgr_util.py#L383-L399) for guessing the address to bind to.

[2021-06-01 03:45] samuelkimuli commented on #7970
So what is the solution? go back to the previous version? am having the same exact problem

[2021-06-01 07:13] satoru-takeuchi commented on #7970
This behavior isn't harmless at all. You can use your cluster as is.

[2021-06-01 07:34] dominic-p commented on #4207
I'm running into this same thing. All of a sudden I can't schedule pods that need persistent volumes:

When I run `ceph status` I get:

[code]

I'm not sure if it's related, but I'm getting the same thing as @FrelDX

[2021-06-01 08:00] thotz commented on #7804
@cpmoore: I was able to connect with SSL enabled RGW server in an external ceph cluster and the creation of OBC was also successful.
You need to authenticate the rgw-service running on k8s with CA with RGW for this need to work
after that u can pass `securePort` and `sslSecretRef` points to secret containing private.key, client.cert and cacert

[2021-06-01 09:20] subhamkrai commented on #6736
can we close or we want to investigate this?

[2021-06-01 10:27] avirampi commented on #7038
Hi facing the same issue any updates or soulution ?
using helm 3.5.2
k8s version v1.18.6

[2021-06-01 10:34] davidhiendl commented on #7038
@avirampi: Best bet is to upgrade to K8S 1.20+, this problem is most likely caused by a kube-api/helm problem. I have not been able to reproduce this since upgrading to a 1.20+ even with helm 3.4.

[2021-06-01 11:25] satoru-takeuchi opened #8023 "ceph: failed to initialize OSD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

OSD prepare pod sometimes fails when creating new OSD in PVC-based cluster.
It's due to the random failure of `ceph-volume raw prepare`.

I submitted an issue about this problem in Ceph issue tracker because I suspect it's a Ceph's problem.

https://tracker.ceph.com/issues/51034

For more details, ple

[2021-06-01 11:37] leseb commented on #8023
Nice report!

[2021-06-01 11:46] venkatsc commented on #6819
Looks like some clusters need `/v1beta1` instead of `/v1`. See [v1beta1 VolumeSnapshotClass](https://github.com/openebs/cstor-operators/blob/master/docs/tutorial/volumes/snapshot.md#note-in-some-cluster-like-openshiftocp-45-which-only-installs-the-v1beta1-version-of-volumesnapshotclass-as-supported-version-then-you-may-get-the-api-error-like)

[2021-06-01 11:55] leseb commented on #6736
I don't think we have experienced this recently

[2021-06-01 12:07] avirampi commented on #7038
@davidhiendl actually an upgrade is not possible at the moment
a WA is to use helm 3.3 …
But a cause and a solution would be great

[2021-06-01 12:17] davidhiendl commented on #7038
@avirampi Helm 3.4.2 worked for me on 1.19.x. I guess the best thing you can do while using an old K8S version is to keep using an old Helm version. This issue occurs in multiple charts and not just rook, I've experienced it with cert-manager and even some of our own.

[2021-06-01 12:20] avirampi commented on #7038
@davidhiendl
same here....

[2021-06-01 14:09] satoru-takeuchi commented on #6304
quoted from slack discussion

[code]

[2021-06-01 14:14] satoru-takeuchi commented on #6304
@mkogan1

[code]

Did you remember why "/" is inappropriate for healthcheck?

[2021-06-01 17:20] thotz commented on #7906
For getting a closure here,
@travisn : I will work on quota proposed by you in storageclass of OBC
@tumido : I will work on the quota feature for `CephObjectstoreUser`

Please share if there is any concerns

[2021-06-01 17:40] travisn commented on #6736
seems like I saw it recently, but it is rare enough, let's reopen if we see it again

[2021-06-01 17:40] #6736 closed

[2021-06-01 18:07] sethjones commented on #7968
I am seeing a similar issue.  @travisn directed me to this issue.

I have previously purged/removed osd.5 continues fail to be reused with new disks.

Always giving me:
`debug 2021-06-01T18:00:37.831+0000 7f68beecdf40 -1 auth: unable to find a keyring on /var/lib/ceph/osd/ceph-5/keyring: (2) No such file or directory
debug 2021-06-01T18:00:37.831+0000 7f68beecdf40 -1 AuthRegistry(0x5612b4582940) n

[2021-06-01 18:57] travisn commented on #8015
@huangyc-11 Can you continue updating to newer versions of Rook and Ceph, or is your cluster stuck? Rook v1.1 is quite old now.

[2021-06-01 22:23] travisn commented on #7720
If Rook just needs to create the loadbalancer service when the loadBalancerIP is set, I could see this being straight forward to implement. The question then becomes what else needs to be configured in ganesha as you mentioned to get it working end to end.

@tibbe Are you interested in implementing the feature? We are looking for more contributors to the nfs operator.

[2021-06-01 23:06] travisn opened #8026 "Operator stays in tight loop requeuing the reconcile after the cluster CR is deleted if the finalizer blocks deletion"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When the CephCluster is deleted, if there is something blocking the deletion (PVs or buckets exist), the operator will refuse to delete the cluster and also stay in a tight loop checking for the deletion. The event should be requeue'd with some level of backoff, rather than filling the log with many me

[2021-06-02 05:23] #7955 closed

[2021-06-02 05:33] #7876 closed

[2021-06-02 05:33] subhamkrai commented on #7876
#7996

[2021-06-02 08:06] mkogan1 commented on #6304
GET "/" is mapped to a list bucks operation that is propagated to the OSDs which depending on load (client load + deep scrub + backfill + etc...) can take longer time to respond than the health check timeout resulting in false failure indication.
The /swift/healthcheck API response is not dependant on OSD load.

[2021-06-02 09:08] huangyc-11 commented on #8015
Can I only try to upgrade to an updated version to solve this problem

[2021-06-02 12:52] #7991 closed

[2021-06-02 13:56] Madhu-1 commented on #7954
@idryomov can you please provide your feedback?

[2021-06-02 14:24] Rakshith-R opened #8032 "ceph: fetch `rook-ceph-operator` configmap once"
**Is this a bug report or feature request?**
* Enhancement

Rook currently fetches configmap for every getting operator setting.
https://github.com/rook/rook/blob/4cf43bef95621ae67af4d486940e1dfb05c88bbd/pkg/operator/k8sutil/configmap.go#L44-L50

Instead configmap can be fetched once and passed in to get  each operator setting.

[2021-06-02 14:24] Rakshith-R commented on #8032
/assign

[2021-06-02 14:47] parth-gr opened #8033 "OSDs size is not increased on updating volumeClaimTemplate spec"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

In a PVC-based cluster, if we increase the provisioned volume through volumeClaimTemplate spec, the PVC & PV size get increased but it fails to increase the size of OSDs.

One problem is `osdProps.pvcSize` provides the old PVC size.

https://github.com/rook/rook/blob/4cf43bef95621ae67af4d486940e1dfb05

[2021-06-02 15:11] uhthomas opened #8034 "ObjectBucketClaim: Subsequent credentials do not have access to bucket"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Any ObjectBucketClaims created after the initial claim do not have access to the bucket.

**Expected behavior:**

All ObjectBucketClaims should have appropriate access.

**How to reproduce it (minimal and precise):**

Create two ObjectBucketClaims

[code]

[code]

The first set of credentials work OK.

[2021-06-02 15:12] uhthomas commented on #8034
Additionally, as a followup. Is the correct way to provision new users via `CephObjectStoreUser`? If so, how is it used? It doesn't create any config maps or secrets.

[2021-06-02 15:28] #7950 closed

[2021-06-02 16:33] travisn commented on #8015
@huangyc-11 You would need to follow the [upgrade guide](https://rook.github.io/docs/rook/v1.6/ceph-upgrade.html#supported-versions) from one Rook version to the next. Skipping versions isn't supported. I'm not sure the underlying cause for what you're seeing though.

[2021-06-02 16:53] travisn commented on #8034
@uhthomas When creating an OBC, a unique user will be created for each bucket. Do you see a new secret generated for each bucket with the creds for the owner?

The `CephObjectStoreUser` is for creating the object store creds that are used for general object store access, but not for the buckets created by OBCs. A new secret should be created in the rook-ceph namespace for each object store user th

[2021-06-02 16:58] perezjasonr opened #8038 "helm - Ability to set security context for k8s resources"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

in the rook-ceph helm chart there is no way to set security contexts for any of the k8s resources.

**What is use case behind this feature:**

selinux, or wanting to set security context settings in general
so for example we might get AVC message:

`type=AVC msg=audit(1617807775.028:1878): avc:  denied

[2021-06-02 17:00] uhthomas commented on #8034
The operator log isn't telling me much unfortunately. From what you've said, my initial approach of creating two `ObjectBucketClaim`s for accessing the same bucket in different namespaces is correct?

I've verified that the credentials taken from the generated secret of the first claim work ok, but the second do not. Not really sure why.

The logs from the deployment managing the backing replicapo

[2021-06-02 17:00] uhthomas commented on #8034
Again to clarify to what extent these credentials work; s3cmd validates them as working fine but it cannot list any buckets, and does not have direct access to the bucket, either.

[2021-06-02 17:04] leseb opened #8039 "csi-rbdplugin-provisioner fails on master"
Looked into one of the runner and saw:

[code]

We are importing v1 CRDs so the error is expecting if the controller searches for v1alpha1.

@Madhu-1 did you miss something recently with the volume replication controller?

[2021-06-02 17:46] travisn commented on #8038
@perezjasonr Until more flexible security constraints are possible, does enabling [this setting](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L445-L449) get it working?

[2021-06-02 17:51] travisn commented on #8034
@BlaineEXE @thotz could you take a look?

[2021-06-02 17:53] perezjasonr commented on #8038
I will try it and report back

[2021-06-02 18:28] uhthomas commented on #8034
Just to be completely sure, I recreated the entire cluster from scratch. Reset the OSDs, deleted any trace of rook on the hosts.

Same thing.

[2021-06-02 18:34] perezjasonr commented on #8038
ok strange, that seems to have gotten past that and selinux didnt block it, but I'm confused as to why it would work, its not giving it an actual selinux context its just

[code]

unless its giving it spc_t or something and we just don't know about it.
(in which case this might still be a sort of relevant request in case we want to fine tune that)

[2021-06-02 19:13] perezjasonr commented on #8038
well i guess i should clarify, rook/ceph seems to be up and running which is an accomplishment in and of itself but it doesn't appear to be able to carry out some of its functionality:

was checking logs for some avc/denials and found this
[code]

[2021-06-02 20:46] travisn commented on #8038
With the privileged context, at least in theory the pods would have all the needed privileges.
What are you seeing that is not working? Is the CSI driver not able to mount the volumes? Not sure about those cephcsi messages.

[2021-06-02 20:46] #7120 closed

[2021-06-02 21:32] sdeoras commented on #7519
@travisn I am observing the same error with v1.6.3. if you have suggestions on anything i can try to debug, i'll be happy to look further into it and provide more details.

also sorry to piggyback on this thread. if there is another forum i should post this on, pl. advise. thanks.

[code]

[2021-06-02 23:18] satoru-takeuchi commented on #6304
[code]

Thank you for your reply. I understood.

As I described in the previous post, "/swift/healthcheck/" would have a problem that it doesn't respons during bucket index resharding. Although I don't know the reason yet. Please let me if you know anything or know more proper endpoint.

Possibly it's better to report this problem in Ceph community.

[2021-06-03 02:14] jeanchlopez commented on #6101
I do think that we should focus on expanding the cluster through an uodate of the count. If cloud based with dynamic provisioning it's an easy thing, if using LSO underneath it would just require pre-provisioning some LSO PVs and then expanding the cluster through the update of the count. All of this can easily be achieved by monitoring the alerts generated in K8S or OpenShift. I have put together

[2021-06-03 05:14] ntcong commented on #8034
As far as I understand:

- For each ObjectBucketClaim, rook will create an RGW user and assign that user as the owner to the bucket
- You are suppose to use a unique bucket name for each ObjectBucketClaim, by creating 2 claims with the same bucket name, rook might want to create a new user but can't assign it as the owner. That explains why the second cred doesn't work.
- If you want to use 2 user

[2021-06-03 05:19] subhamkrai opened #8041 "Use GitHub action for release build"
Use GitHub action for a release build(similar to master build) this last item left in order to stop using Jenkins completely.

[2021-06-03 05:23] thotz commented on #8034
@uthomas, can u please explain the steps followed to assign `second` OBC for `thanos` bucket?

We can have multiple OBC's pointing to the same bucket but we need to specify it in storage classes.

For providing access to the existing bucket user need to refer to it in `StorageClass` than OBC CRD.

For examples either u can create `thanos` bucket directly on the RGW with `CephObjectStoreUser` and t

[2021-06-03 07:29] leseb commented on #7519
What are the permissions on the block device?

[2021-06-03 09:16] mkogan1 commented on #6304
Seems like a CPU starvation related performance issue during resharding.
There were improvements upstream to the reshard since the check time (sep 2020, the exact rgw version is not specified)
which potentially could improve CPU contention starvation situations.
may be worth our while to re-check with a current version.

[2021-06-03 10:08] uhthomas commented on #8034
Ah, okay, that's an interesting process. It feels a little convoluted and the docs don't really explain this very well.

Could you clarify the steps I would need to create a new bucket with multiple users? I have created the backing [`CephObjectStore`](https://github.com/uhthomas/automata/blob/a9eade58802d8b509831f4b55f39a8c2c5aa602a/k8s/pillowtalk/rook_ceph/ceph_object_store_list.cue#L14-L129) an

[2021-06-03 10:32] idryomov commented on #7954
So far I don't see why host networking vs pod networking would play a role here.

If the original Ceph entity is blocklisted, that guarantees that the original pod wouldn't be able to come back online and cause corruption.  Unless we are considering the failed node going rogue to the extent where it can restart the original pod on its own, I don't see how two writers can arise -- blocklisting the

[2021-06-03 11:35] ShyamsundarR commented on #7954
What I see (unverified) is that pod network IPs can be assigned to pods across nodes at will. If a pod in a node is using `IP1` and the node is deemed unavailable, we would blocklist `IP1`. Nothing prevents `IP1` being reassigned to another pod in the cluster on another node. This is a denial of service rather than a potential data corruption issue.

If `IP1` was a node IP instead, this above not

[2021-06-03 12:08] satoru-takeuchi commented on #6304
Thank you! I encountered this issue recently. But it's octopus. I'll try to reproduce this problem with Pacific.

[2021-06-03 12:33] leseb opened #8046 "Rook eating up rootfs partition?"
This is a weird one, I thought I had a constant repro until I did not...

Here is the diff between the 2 prepare jobs, the one that used `/dev/vda1`, my VM's rootfs and the user which successfully skipped the device.

It's quite concerning since we can see the device property has a `Filesystem: ext4`, but somehow the code did not skipped it.

[code]

**EDIT: never mind I was looking at an outdated

[2021-06-03 12:35] leseb commented on #8046
Actually I can repro easily now.

[2021-06-03 12:43] leseb commented on #8046
**This is only affecting master**.

[2021-06-03 12:46] sdeoras commented on #7519
@leseb do you mean this?
[code]
everything was working fine and dynamic volume creation also worked well. as i reported earlier in this thread, the node reboot was also no longer an issue w/ v1.6.3. i am not sure at which point it started throwing the error "/var/lib/ceph/osd/ceph-1: No such file or directory"

[2021-06-03 13:07] perezjasonr commented on #8038
yeah let me see if I can track down where that's coming from.
the only thing i see if complaints from another app trying to use a token to authenticate to another, but I wasn't under the impression it'd involve csi driver calls like this.

[2021-06-03 13:12] #8046 closed

[2021-06-03 13:18] parth-gr commented on #8033
Closing this as it's working fine, the problem was AWS can only resize PVC once in 6 hours.
And `osdProps.pvcSize` worked was updating the size correctly after fetching the **master:latest** changes.

[2021-06-03 13:18] #8033 closed

[2021-06-03 14:20] idryomov commented on #7954
I was suggesting blocklisting a Ceph entity address instead of the entire IP address, precisely to avoid the potential denial of service scenario.  But ...

... if this is something we need to guard against, blocklisting at the IP level is the only option.

I have a hard time wrapping my head around this though.  If workers can restart pods on their own without talking to the control plane, what i

[2021-06-03 14:27] perezjasonr commented on #8038
ok here the avc denial and the process associated with it back to back:

[code]

this came up with that pid, including selinux context in output:

[code]

[2021-06-03 14:58] perezjasonr commented on #8038
it might also be noteworthy that, the timing 14:14:18 2021 is around right when i deploy rook/ceph and wait for the various ceph/rook related pods (managers and such) to come up and be ready. I don't see that message occur after that, this would suggest to me that its happening while rook/ceph is initializing, and not some app coming much after writing to use ceph or something to that effect (like

[2021-06-03 15:45] aasraoui commented on #7982
@Madhu-1 changing the port works, why is the default port is in use ?

[2021-06-03 15:50] thotz commented on #8034
For your case you need to create backend bucket `thanos`, either u can use `CephObjectStoreUser` credentials or u can use an `OBC`(dummy) for that.

Now refer to that in the new `storage class
[code]

Now you can create all the required OBCs from this new StorageClass

[2021-06-03 16:21] uhthomas commented on #8034
Thank you, I'll give it a try later.

It seems odd that I need two storage classes just for one bucket.

I guess there are two takeaways from this thread:
1. Errors provisioning a second OBC should be handled correctly.
2. The documentation for this use-case should be improved.

[2021-06-03 17:20] davesargrad opened #8050 "ROOK NFS autoprovisioned PV directory does not have execute bit set for group and other"
I am currently using rook-nfs as a temporary storage provisioner until I have rook-ceph fully up and running.

I have successfully used rook-nfs to provision storage that is used by my apps (e.g. nginx)

I migrated apps that were using local storage to use the rook-nfs provisioned storage.. That mostly worked. What I found however was that the PV directory that was automatically provisioned did no

[2021-06-03 17:48] #7312 closed

[2021-06-03 17:54] walkamongus opened #8052 "CephObjectStore with zone specified throws unmarshal json errors"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When creating a CephObjectStore with spec.zone.name set (after declaring a CephObjectRealm, CephObjectZoneGroup, and CephObjectZone), multiple errors are thrown around parsing/unmarshaling json. The object store is never successfully created.

**Expected behavior:**
Object store is created and joined t

[2021-06-03 18:34] travisn commented on #7214
This doc was already updated with the removal of the liveness probe in #7029.

[2021-06-03 18:34] #7214 closed

[2021-06-03 18:39] travisn commented on #8038
@perezjasonr Are you seeing volumes can be provisioned and mounted now, despite those errors in the logs?

[2021-06-03 19:30] rohan47 commented on #8050
Can you please share the NFSServer crd used to deploy the nfs server and `/etc/exports` from the nfs server.

[2021-06-03 20:27] davesargrad commented on #8050
Hi @rohan47

Which CRD file do you want? I created the crds using the commands:

[code]

Are those the files you want?

Thanks.

[2021-06-03 20:30] davesargrad commented on #8050
@rohan47 As you see here the server that is configured to be the NFS server has nothing in /etc/export

![image](https://user-images.githubusercontent.com/48793689/120707953-f03c1d80-c488-11eb-8fdf-b8027f33c8bc.png)

[2021-06-03 20:33] davesargrad commented on #8050
[code]

[2021-06-03 20:33] davesargrad commented on #8050
[code]

[2021-06-03 20:35] davesargrad commented on #8050
[code]

[2021-06-03 20:59] davesargrad commented on #8050
@rohan47

I think these are the files/views you requested.

Ty for your time with this.

Dave

[2021-06-03 21:03] davesargrad commented on #8050
Also.. in the following you see the chmod I had to do in order for the executable bit to be set:

![image](https://user-images.githubusercontent.com/48793689/120711617-968a2200-c48d-11eb-9f3c-1a836c05b00e.png)

[2021-06-04 00:31] uhthomas commented on #8034
Please refer to the linked commit;

Can you verify these changes are as you expected? I'm still observing the same behavior.

[2021-06-04 04:10] Madhu-1 commented on #7982
@aasraoui default ports might be used by some other process.

[2021-06-04 04:16] Madhu-1 commented on #7954
Two cases. If only kubelet (control plane) was dead/not reachable it will get auto-added when it comes back. if the node was dead and the admin has to fix the problems manually, AFAIC based on the application logs or pod health he needs to unblocklist as the blacklisting is a manual process.

[2021-06-04 04:35] Madhu-1 commented on #8039
@leseb the CRD is still alphav1 https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/crds.yaml#L7571. Not sure how this is hit. Is this happening on all PR?

[2021-06-04 05:12] thotz commented on #8034
@uhthomas Your changes look good to me, AFAIR if the `bucketName` is specified in storageclass then it should precedence over the OBC's `bucketName` (I checked the code confirmed the same).
Can please share the following:
1.) rook-operator logs
2.) CRs for OBC's and StroageClasses

[2021-06-04 06:31] sp98 commented on #7964
looking into it.

[2021-06-04 10:21] uhthomas commented on #8034
[code]

[2021-06-04 11:26] thotz commented on #8034
@uhthomas : are using same name again for OBC,
[code]
Or do you any obcs left from old set up
Please share OBCs and Storageclass CRDs
$kubectl describe obc "obc name"
$kubectl describe sc "storage class name"

[2021-06-04 11:31] uhthomas commented on #8034
So, I deleted all the OBCs and the StorageClass. I had to manually go into Ceph and delete any existing buckets also.

I reapplied the manifests and it seems okay now.

Thank you!

Can we leave this ticket open for the aforementioned reasons?

[2021-06-04 11:51] leseb commented on #8039
I think I get it. I saw the error on Kubernetes 1.15 in which we don't inject those new CRDs I believe.

[2021-06-04 12:32] perezjasonr commented on #8038
Yes, one app that came well after that error, which uses a volume provisioned from the rook/ceph setup, seems to be up and running. I am still having trouble figuring out what exactly that error is referring to, as it sounds critical, and having trouble pinning that to an exact container/pod. And again, the rook ceph pods seem to be up and running. So this selinux denial seems to not cause them to

[2021-06-04 16:13] BlaineEXE commented on #8026
I think maybe the controller-runtime always immediately calls `Reconcile()` again when the previous reconcile returns an error, even if it returns a `RequeueAfter` in the other return value.

To fix this, we might have to report the error as an event, then gobble up the error if there is a `RequeueAfter` also set and return from `Reconcile()` without an error. I don't think that is a problem for t

[2021-06-04 20:11] travisn commented on #6101
@jeanchlopez Nice to see an example of triggering a change to the CephCluster CR based on Ceph health warning, raised by a prometheus alert. This will be a good pattern that allows users to dynamically update the cluster CR based on alerts, without requiring a feature request and code change from Rook.

Still, if there is a specific feature like this one that upstream or downstream users are inter

[2021-06-04 22:58] voarsh2 commented on #4392
I've come across this. I've restarted everything and my new node doesn't get an OSd... :/

[2021-06-05 00:12] neumantm opened #8057 "Add docs about how to migrate a ceph cluster with disk encryption to a new kubernets cluster"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The following should be added to [the disaster recovery documentation under adopting an existing rook ceph cluster into a new kuberntes cluster](https://github.com/rook/rook/blob/master/Documentation/ceph-disaster-recovery.md#adopt-an-existing-rook-ceph-cluster-into-a-new-kubernetes-cluster):
How to do

[2021-06-05 22:52] somanysteves commented on #5330
Anyone know what happened with this or have the calico issue link? I'm pretty sure I'm seeing the same behavior.

[2021-06-06 01:15] voarsh2 opened #8058 "Maria Galera: 'fsck' found errors on device /dev/rbd0"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Running a Galera instance got me into this error:
[code]

**Expected behavior:**

Errors, something from monitor explaining how to correct - I looked at direct mount and checked for rbd0 - only 1-2-3, no 0
I could only think to remove the PVC....
Little did I know that Mariadb Galera had wiped out the

[2021-06-06 11:48] voarsh2 commented on #8058
I also removed the OSD and remove the disk, and removed the node/re-added and restarted rook operator and I always get this:

[code]

[2021-06-06 19:11] batrick opened #8059 "creating file system should not use --force"
https://github.com/rook/rook/blob/master/pkg/operator/ceph/file/filesystem.go#L278

This should not ever be done except during disaster recovery. I'm not sure why this code was written this way.

cc @ajarr

[2021-06-06 21:55] zerkms commented on #7365
Totally not stale

[2021-06-07 02:21] voarsh2 commented on #4772
I've ran into this problem too - this cmd isn't working -  Any pointers?

[2021-06-07 14:19] adeepsri opened #8062 "OSD pods in CrashLoopBackOff after Restoring it to new Cluster with PVC."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**
1, Restore ETCD snapshot to a new Cluster
2. Scale down rook-ceph-operator replica=0
3. Delete all deployment other than rook-ceph-operator
3. Restore PVC for rook-ceph-mon and rook-ceph-osd
4. Scale Up roo-ceph-operator replica=1

[2021-06-07 14:45] travisn commented on #8059
@batrick @ajarr This was the scenario we were trying to address with the --force is that during reinstall, the pools from the previous filesystem could be used again. I thought the intention was to also not delete the filesystem during uninstall, but looks like that is not the behavior. Rook does remove the filesystem [here](https://github.com/rook/rook/blob/2b9bd2af1a63e9e062e385c99eecda6a0d2a6a8

[2021-06-07 17:07] batrick commented on #8059
I agree: do not remove the file system during uninstall. Then `--force `will no longer be necessary.

[2021-06-07 19:54] preslavgerchev commented on #7940
I'm seeing this as well. I'm running on two identical nodes

**Environment**:

  * OS (e.g. from /etc/os-release): Ubuntu 18.04 LTS
  * Kernel (e.g. uname -a): Linux node-a 4.15.0-72-generic #81-Ubuntu SMP Tue Nov 26 12:20:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
  * Rook version (use rook version inside of a Rook Pod): chart version 1.6.3
  * Storage backend version (e.g. for ceph do ceph -v):

[2021-06-07 20:30] #7289 closed

[2021-06-07 20:47] travisn commented on #7365
@BlaineEXE related to proper detection of dependent resources...

[2021-06-07 22:57] BlaineEXE commented on #7365
Yes! I actually moved the priority of this one up and began working on it this morning.

[2021-06-07 23:00] BlaineEXE opened #8065 "Ceph: Dependencies: 1: track for CephClusters"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Block deletion of a CephCluster when there are other Rook-Ceph resources in the same namespace

Design: [design/ceph/resource-dependencies.md](https://github.com/rook/rook/blob/master/design/ceph/resource-dependencies.md)

**What is use case behind this feature:**

**Environment**:

[2021-06-07 23:03] BlaineEXE opened #8066 "Ceph: Dependencies: 2: CephObjectStore -> buckets/OBCs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Block deletion of a CephObjectStore when there is a user bucket present in the store.
   - This already has an implementation, but it blocks for unrelated OBs

Design: [design/ceph/resource-dependencies.md](https://github.com/rook/rook/blob/x/design/ceph/resource-dependencies.md)

**What is use case be

[2021-06-07 23:04] BlaineEXE opened #8067 "Ceph: Dependencies: 3: CephNFS uses another resource's Ceph pool(s)"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Block deletion of a CephBlockPool, CephFilesystem, CephObjectStore, or CephObjectZone when a CephNFS uses one of its pools.

Design: [design/ceph/resource-dependencies.md](https://github.com/rook/rook/blob/x/design/ceph/resource-dependencies.md)

**What is use case behind this feature:**

**Environment

[2021-06-07 23:05] BlaineEXE opened #8068 "Ceph: Dependencies: 4: CephBlockPool/CephFilesystem -> PersistentVolume"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Block deletion of a CephBlockPool or CephFilesystem when there is a PersistentVolume reliant on it

Design: [design/ceph/resource-dependencies.md](https://github.com/rook/rook/blob/master/design/ceph/resource-dependencies.md)

**What is use case behind this feature:**

**Environment**:

[2021-06-07 23:06] BlaineEXE opened #8069 "Ceph: Dependencies: 5: CephObjectStore -> CephObjectStoreUser"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Block deletion of a CephObjectStore when there is a CephObjectStoreUser reliant on it

Design: [design/ceph/resource-dependencies.md](https://github.com/rook/rook/blob/x/design/ceph/resource-dependencies.md)

**What is use case behind this feature:**

**Environment**:

[2021-06-07 23:07] BlaineEXE opened #8070 "Ceph: Dependencies: 6: Ceph[Filesystem/RBD]Mirror dependents"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Block deletion of a CephRBDMirror if a CephBlockPool has mirroring enabled, AND Block deletion of a CephFilesystemMirror if a CephFilesystem has mirroring enabled.

Design: [design/ceph/resource-dependencies.md](https://github.com/rook/rook/blob/master/design/ceph/resource-dependencies.md)

**What is u

[2021-06-07 23:08] BlaineEXE opened #8071 "Ceph: Dependencies: 7: Object multisite dependency hierarchy"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Block deletion of object multisite resources with their hierarchy:
 - CephObjectRealm -> CephObjectZoneGroup -> CephObjectZone -> CephObjectStore

Design: [design/ceph/resource-dependencies.md](https://github.com/rook/rook/blob/x/design/ceph/resource-dependencies.md)

**What is use case behind this fea

[2021-06-07 23:09] BlaineEXE opened #8072 "Ceph: Dependencies: 8: CephClient uses a resource's Ceph pool(s)"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Block deletion of a CephBlockPool, CephFilesystem, CephObjectStore, or CephObjectZone when a CephClient uses one of its pools.

Design: [design/ceph/resource-dependencies.md](https://github.com/rook/rook/blob/x/design/ceph/resource-dependencies.md)

**What is use case behind this feature:**

**Environm

[2021-06-07 23:10] BlaineEXE commented on #7365
Related to #8066

[2021-06-08 02:23] psavva commented on #6183
@Madhu-1  Could I please request that the case and workaround is documented?
It would avoid this issue from resurfacing again.

[2021-06-08 07:50] hezyse opened #8073 "osd and mds shared storage are in CrashLoopBackOff after reboot"
**Is this a bug report or feature request?**
* Bug Report
after rebooting the cluster the 3 osds and mds shared storage are keep crashing because of liveness failure
Liveness probe failed: admin_socket: exception getting command descriptions: [Errno 2] No such file or directory
when I install the cluster in the same network I don't see any issue.

what the liveness does?
exec [env -i sh -c ceph --

[2021-06-08 12:51] gokcesurenkok commented on #7063
when will be this feature merged ?

[2021-06-08 13:00] leseb commented on #7063
Soon after Ceph 16.2.5 is released.

[2021-06-08 13:40] hezyse commented on #8073
cluster was destroyed not relevant

[2021-06-08 13:40] #8073 closed

[2021-06-08 14:16] adeepsri commented on #8062
@ahmedTouati we dont have disk encrypted, we are restoring pvc and trying to restore OSD as per the document https://github.com/rook/rook/blob/master/Documentation/ceph-disaster-recovery.md

[2021-06-08 14:25] BlaineEXE opened #8076 "Remove deprecated FlexVolume driver"
We have been using CSI as the default driver for quite a while now, and it is now at feature parity with the FlexVolume or better. We can now stop supporting the old FlexVolume driver.

@Madhu-1 are you able to confirm CSI is at parity with FlexVolume?

[2021-06-08 15:01] #8007 closed

[2021-06-08 15:04] Madhu-1 commented on #8076
Yes, all the functionalities provided by FlexVolume are present in cephcsi and even more features like snapshots clones etc and many other features are available in cephcsi. But there is no way to handle PVC created from FlexDriver from cephcsi.

[2021-06-08 15:06] Madhu-1 commented on #8076
@BlaineEXE this means there will be no support for mounting the existing flexVolumes in the next release?

[2021-06-08 15:48] Madhu-1 opened #8080 "Check volumesnapshot before deleting ceph cluster"
Currently, we have only check for the PVC before deleting the ceph cluster its also good to check for the volume snapshot objects before deleting the ceph cluster.

[2021-06-08 15:49] Madhu-1 commented on #8080
/assign @yati1998

[2021-06-08 15:49] Madhu-1 commented on #8068
@BlaineEXE looks like the Design link is broken.

[2021-06-08 15:50] Madhu-1 commented on #8068
@BlaineEXE also need to consider volumesnapshots?

[2021-06-08 15:56] BlaineEXE commented on #8076
Migration steps: https://github.com/rook/rook/issues/4043

[2021-06-08 16:41] AzucenaL opened #8081 "Can't finish deploying rook-ceph v1.6"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I'm not able to finish deploying rook-ceph. Multiple pods won't create.

**Expected behavior:**
Normal deployment.

**How to reproduce it (minimal and precise):**
This only happens with rook-ceph version 1.6. wether I'm updating from 1.5 or installing from scratch. I get this error message in multiple

[2021-06-08 17:11] ajarr commented on #8059
@travisn just curious. is this what preserveFsOnDelete: True already does?
https://github.com/rook/rook/pull/6495/files#diff-e7e1952f91a34f216e61da44c952c796fc630097402dd4b06a1b75274b5bb837R132

[2021-06-08 17:21] travisn commented on #8059
@ajarr Good point, the filesystem should already be preserved by that flag, so we just need to remove the --force option. I see now that the preserve filesystem flag was added in v1.5, while the --force flag was added back in v1.2. So we probably wouldn't repro this issue where the force will be a problem on 1.5 or newer. Sounds like this was reported from Rook v1.4 (OCS 4.6), which wouldn't be pr

[2021-06-08 17:56] ajarr commented on #8059
@travisn got it. So to get around this issue, rook v1.4 users would have to upgrade to v1.5 (or later) or backport https://github.com/rook/rook/pull/6495 ?

[2021-06-08 18:15] travisn commented on #8081
@AzucenaL Is it only the cephfs provisioner pod where you see this error? Or what pods are all affected? What is the status of all the other Rook pods? The error does look out of the control of Rook though.

[2021-06-08 18:43] travisn opened #8084 "Update Rook's supported minimum K8s version to v1.16"
**Current Behavior:**
The minimum K8s version currently supported by Rook is v1.11. Supporting releases this old has meant continued support for the flex driver, support for v1beta1 CRDs, and the need to spend extra CI resource testing across many K8s releases from K8s 1.11 through recently-released K8s 1.21.

**Recommended behavior:**
Proposal for Rook v1.8: Bump the minimum supported K8s version

[2021-06-08 19:29] AzucenaL commented on #8081
@travisn

These are the pods I have right now:

<details>

[code]

</details>

both

csi-cephfsplugin-provisioner-6d5cf794f7-s67k8
rook-ceph-mon-a-6d67df6fb8-z25dn

have the Cilium error:

Warning  FailedCreatePodSandBox  2m51s      kubelet, worker-node-2  Failed create pod sandbox: rpc error: code = Unknown desc = failed to create pod network sandbox k8s_rook-ceph-mon-a-6d67df6fb8-z25dn_rook-ceph

[2021-06-08 22:36] sfynx opened #8085 "Rook 1.6.4 / cephcsi 3.3.1: shutting down csi-cepfhsplugin locks up all mounted volumes permanently"
**Deviation from expected behavior:**
I noticed that when you mount a CephFS volume in a Pod using Rook 1.6.4 / cephcsi 3.3.1 and then restart or terminate the CSI CephFS plugin (e.g. by restarting or deleting its DaemonSet), all operations on the volume become blocked, even after restarting the CSI pods.
Using Rook 1.6.0 / cephcsi 3.3.0 I cannot cause it to happen initially, however I can when fo

[2021-06-09 00:36] jobcespedes commented on #8013
This no longer required in our use case. I apologize

[2021-06-09 00:36] #8013 closed

[2021-06-09 04:09] travisn commented on #7746
Note that if a client such as the toolbox attempts to connect after the insecure global ID has been disabled, it will result in an error like this:
[code]

[2021-06-09 05:18] thotz commented on #8069
@BlaineEXE: The design link is pointing to "Not found"

[2021-06-09 07:06] leseb commented on #7746
Are you sure? Typically it means we are using an incorrect keyring but it could be another instance of it since this message is far from being clear...

[2021-06-09 07:59] idryomov commented on #7746
Yes, unfortunately this is the way it is. The monitor returns the same error code for most authentication failures and all the client can do is print the list of allowed protocols (`none`/`1` and `cephx`/`2`).  The real reason is buried in the monitor logs.

I think it could be improved to at least not give the impression that the protocol is somehow not supported.  When `none` is disabled, it wil

[2021-06-09 12:44] mykaul commented on #8065
The design link is giving me 404.

[2021-06-09 12:50] leseb commented on #8065
Fixed!

[2021-06-09 14:01] #7924 closed

[2021-06-09 16:14] travisn commented on #8059
Yes, and #6495 is rather large to backport at this point. This will only be hit if the filesystem CR is deleted, but the CephCluster CR is not deleted, which I'm not sure why that would happen in normal usage.

[2021-06-09 17:53] degorenko opened #8097 "ceph: prepareOsd job failed to parse devices list when it is empty"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
prepareOSD jobs can't be completed when node in Storage spec has no configured devices section

**Expected behavior:**
prepareOSD jobs completed

**How to reproduce it (minimal and precise):**

Do not specify devices section in node definition in Storage.Nodes block.

Looks like it was occasionally int

[2021-06-09 17:56] electrical commented on #7746
@idryomov on advice of @travisn in https://rook-io.slack.com/archives/CK9CF5H2R/p1623252358306800 i'm pinging you here.
I'm trying an upgrade from 15.2.11 to 15.2.13 but running into the issue that i get the error:
```monclient(hunting): handle_auth_bad_method server allowed_methods [2] but i only support [2,1]```

Currently the operator pod isn't progressing with anything.

[code]

[2021-06-09 18:49] travisn commented on #8085
@Rakshith-R Can you repro this issue?

[2021-06-09 19:09] electrical commented on #7746
After some digging with @travisn we found it's not related to the insecure global_id part.
Somehow the local cluster admin keyring is corrupt while the external cluster can still connect to it fine. the Ceph dashboard is working as well.

[2021-06-09 20:01] #7351 closed

[2021-06-09 20:01] #7321 closed

[2021-06-09 20:01] #6922 closed

[2021-06-09 20:44] ajarr commented on #8059
makes sense. thanks!

[2021-06-09 23:16] travisn commented on #7746
With #8089 planned for v1.6.5, the operator will disable the insecure global ID connections automatically. If there are any insecure clients that weren't online at the time, they not be able to connect to the cluster when they come back online.

If you need to re-enable the insecure connections temporarily until all clients are updated, see the [CVE](https://docs.ceph.com/en/latest/security/CVE-20

[2021-06-10 04:32] golgotow commented on #1523
is this any progress ? using rook with only 1 network from kubernetes place it on very slow storage provider

[2021-06-10 07:31] leseb commented on #1523
It's now possible via Mutlus CNI. https://rook.io/docs/rook/v1.6/ceph-cluster-crd.html#multus

[2021-06-10 07:41] sp98 opened #8100 "Use a more common pattern to parse the ceph --version output."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Use a more common pattern to extract `ceph --version` output

**What is use case behind this feature:**
`ceph --version` output looks like : `ceph version 14.2.11-139 (5c0dc966af809fd1d429ec7bac48962a746af243) nautilus (stable)`

Rook has three regex patterns to parse the `ceph --version` output.
`versi

[2021-06-10 07:53] #7964 closed

[2021-06-10 08:09] idryomov commented on #7746
This won't work.  Setting `auth_expose_insecure_global_id_reclaim` to false would only *appear* to enable the insecure connections.  The old client would be allowed in initially, but when it attempts to reclaim its global ID after a monitor restart or some kind of network disruption, it would be denied and eventually hang in a very weird state.

All `auth_expose_insecure_global_id_reclaim` does is

[2021-06-10 08:31] Madhu-1 commented on #8065
@BlaineEXE Like we are checking the PVC for both cephfs and rbd are we consider kubernetes volumesnapshots also?

[2021-06-10 09:05] leseb commented on #8023
@satoru-takeuchi I saw a random failure in one run, see the ceph-volume logs:

[code]

I reported an issue earlier https://github.com/rook/rook/issues/7728
Is it related?

[2021-06-10 09:56] Rakshith-R commented on #8085
@sfynx , can you please set the following to true and try (worked in my local testing)
https://github.com/rook/rook/blob/250aecde70c7b2c89bd7bb5e5666349b66fb4edd/cluster/examples/kubernetes/ceph/operator.yaml#L38
To summarize:

- cephfs volumes mounted with cephfsplugin using podnetwork and ceph version v15.2.12/13
- when cephfsplugin pod is restarted, cephfs volume hangs and blocks any activity w

[2021-06-10 10:11] Madhu-1 commented on #8085
@Rakshith-R Thanks for testing it out. @travisn @leseb for multus we use pod networking for the plugin pods. the same issue exists for multus also?

[2021-06-10 11:37] psavva commented on #7988
@travisn I'm trying to figure out which is the active manager.
I cannot find any labels to highlight this?

[code]

and

[code]

[2021-06-10 12:28] Madhu-1 commented on #8085
similar issue exists for RBD. For RBD write hangs

[2021-06-10 12:30] Madhu-1 commented on #8085
[code]
[code]
[code]

[2021-06-10 13:35] Madhu-1 commented on #8085
@idryomov @kotreshhr any idea what could be wrong with pod networking for plugin pods?

[2021-06-10 13:47] #8039 closed

[2021-06-10 13:55] leseb commented on #8085
I'd say yes but now that we have host networking enabled I wonder if Multus is broken, @rohan47 please confirm.

[2021-06-10 13:58] Madhu-1 commented on #8085
Looks like if multus is enabled we set host networking to false but we need to test this scenario and see we are able read and write after plugin restart

[2021-06-10 13:59] travisn commented on #7746
@idryomov  For step 1 I intended to document that `auth_allow_insecure_global_id_reclaim` would be set back to the default value of true. That should working, right?

[2021-06-10 14:15] idryomov commented on #7746
Yes, as long as `configureHealthSettings()` doesn't set it back to false the next time it runs...

[2021-06-10 16:37] #8065 closed

[2021-06-10 16:40] parth-gr commented on #6101
Hey @jeanchlopez thanks for providing the example script that is using Prometheus metrics,
I was not able to test the alerts for PVCs(`PersistentVolumeUsageCritical` ```PersistentVolumeUsageNearFull```) in OCP through the [script](https://gist.github.com/jeanchlopez/fc38710147ea738be6920d05c8c756da),
And I was checking the [rules](https://github.com/openshift/cluster-monitoring-operator/blob/relea

[2021-06-10 16:43] BlaineEXE opened #8106 "Ceph: investigate possible CephCluster delete memory leak"
https://github.com/rook/rook/blob/21e290e0037d83d9c5bcf1cf15299f63eea6e3b2/pkg/operator/ceph/cluster/controller.go#L355

The CephCluster controller uses the `stopCleanupCh` channel to stop cleanup if deletion fails, but the channel is not closed if deletion succeeds. This could be a memory leak. Merely using `defer close(stopCleanupCh)` will likely stop cleanup even on successful deletion, which t

[2021-06-10 16:50] travisn opened #8107 "MonStore and SetConfig implementations are redundant for applying ceph settings"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
As discussed [here](https://github.com/rook/rook/pull/8089#discussion_r648926228) the `MonStore` and `SetConfig()` are redundant helpers for applying ceph settings.

**Expected behavior:**
These should be refactored to a single implementation. Likely we can remove the `SetConfig()` since the `MonStore`

[2021-06-10 16:50] #7746 closed

[2021-06-10 16:52] jeanchlopez commented on #6101
NearFull in my OCS environment is defined as
(kubelet_volume_stats_used_bytes * on(namespace, persistentvolumeclaim) group_left(storageclass, provisioner) (kube_persistentvolumeclaim_info * on(storageclass) group_left(provisioner) kube_storageclass_info{provisioner=~"(.*rbd.csi.ceph.com)|(.*cephfs.csi.ceph.com)"})) / (kubelet_volume_stats_capacity_bytes * on(namespace, persistentvolumeclaim) group

[2021-06-10 17:08] BlaineEXE commented on #8026
Some amount of this is changed in my recent #8012. The delete reconcile can now return with `reconcile.Result.RequeueAfter = <something>` and and error, and the controller will log the error as an event and return the requeue result in a good way.

https://github.com/rook/rook/blob/21e290e0037d83d9c5bcf1cf15299f63eea6e3b2/pkg/operator/ceph/cluster/controller.go#L224-L244

It's possible that there

[2021-06-10 17:30] #8026 closed, assigned to BlaineEXE

[2021-06-10 17:33] neumantm commented on #8057
Thanks for the answer. Yes I think you are right. It's just it would be helpful to document how to transfer these keys from the old K/V store to the new K/V store.
We had serious problems with our old cluster, so we probably had no chance to recover the keys from it.
Due to time running out we opted to create a fresh cluster and restore the data from backups.
Our new cluster is based on PVCs, so I

[2021-06-10 17:41] #8097 closed

[2021-06-10 20:02] #7233 closed

[2021-06-10 22:00] travisn commented on #7988
@psavva The labels on the mgr pods are not updated when the active mgr changes, but the labels on the `rook-ceph-mgr` and `rook-ceph-mgr-dashboard` services are updated when the active mgr changes. What about this: `kubectl -n rook-ceph describe svc rook-ceph-mgr`

[2021-06-10 22:28] satoru-takeuchi commented on #8023
@leseb I'll answer next week because today is paid holiday.

[2021-06-10 22:39] travisn commented on #7746
With #8089 included in v1.6.5, the operator will disable the insecure global ID connections automatically. If there are any insecure clients that weren't online at the time, they not be able to connect to the cluster when they come back online.

If you need to re-enable the insecure connections temporarily until all clients are updated, see the [CVE](https://docs.ceph.com/en/latest/security/CVE-20

[2021-06-10 22:47] travisn commented on #8081
Just to see another data point on which pods are affected, try disabling the CSI driver and see if the mon and other pods can then get started. The CSI driver is only needed to mount volumes, but are not needed to get Ceph configured. See the [settings to disable CSI](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L29-L32).

[2021-06-11 00:28] sfynx commented on #8085
Thanks for all your effort so far. I can indeed confirm I can work around this issue with the latest Rook/CephCSI version when setting the `CSI_ENABLE_HOST_NETWORK` option (`.Values.csi.enableCSIHostNetwork` through the Helm chart) to `true`. Even when completely shutting down the CSI plugin all volumes now stay functional.

[2021-06-11 01:14] #8106 closed

[2021-06-11 03:20] robvanmieghem opened #8113 "ceph-mon volumeclaims are of type Filesystem"
* Bug Report

**Deviation from expected behavior:**
Using a Persistent volume with volumemode: Block
The ceph-mon persistent volume claim keeps in state pending ( it does not bind), which is logical since the volumemode is FileSystem

**Expected behavior:**
The pvc for the ceph mon is bound

**How to reproduce it (minimal and precise):**
helm install --namespace rook-ceph rook-ceph rook-release/ro

[2021-06-11 03:25] Rakshith-R commented on #8085
Rook v1.6.1 to 1.6.4 are affected by this issue.
Users using these versions should follow the following steps:
1  Unmount all volume provisioned by cephcsi driver working on pod network.
2 Only then set rook-ceph-operator-config configmap `ROOK_CSI_ENABLE_HOST_NETWORK` to true, because this change will still lead to a restart and ip change.

**Otherwise, driver nodeplugin restart will block volume

[2021-06-11 07:17] leseb commented on #8113
Monitors need a Filesystem to operate so the PVC mode must be Filesystem. Block is never going to work.
Please create a StorageClass with `volumeMode: Filesystem`.

[2021-06-11 07:17] #8113 closed

[2021-06-11 07:55] Antiarchitect commented on #8085
Okay my todays story:
I just upgraded to 1.6.5 from 1.6.4 and every pod had PV attached stopped working as if physical disk became unavailable. I rolled back to 1.6.4 ASAP and noticed that multiple pods cannot mount their PVs.

[2021-06-11 07:57] Rakshith-R commented on #8085
@Antiarchitect , all the volumes mounted at the time of update will be blocked. Please delete pods using these volumes before update.

Everything should work normally after the update and new cephcsi drivers are deployed.

[2021-06-11 08:09] Antiarchitect commented on #8085
Pods will be recreated immediately. Is there any way to do it after the upgrade?

[2021-06-11 08:27] Rakshith-R commented on #8085
@Antiarchitect
Mounts created by csi drivers running on pod networking(rook 1.6.1-4)  will hang if they are restarted.
Try scaling down deployment repliacs to 0 ?

Pod deletion after update will also hang. Only way to retrieve the volume and get it working is to force delete the pod( which is risky according to my experiments).

[2021-06-11 10:50] billimek commented on #8085
Confirming similar 'hang' issues after upgrading from rook 1.6.4 to 1.6.5 with all rook-ceph backed workloads (only running cephrbd here).

Checking `dmesg` output from one of the hosts reveals a lot of,

[code]

For reference, ceph chart config is [here](https://github.com/billimek/k8s-gitops/blob/8a8658cc437a9943fe42971960bcc9a76b8913b4/rook-ceph/chart/rook-ceph-chart.yaml) and ceph cluster conf

[2021-06-11 12:23] Antiarchitect commented on #8085
@billimek Confirm that reboot of nodes did the trick and that's horrible.

[2021-06-11 15:01] davesargrad commented on #8050
[code]

[2021-06-11 15:18] rsoika commented on #6155
did you found a solution? I have also the problem of the missing /var/lib/kubelet/plugins/rbd.csi.ceph.com/csi.sock

[2021-06-12 00:34] AzucenaL commented on #8081
Tried that and it didn't work. Decided to go back to rook 1.5.11. This must be a cilium compatibility issue. Thank you for the help!

[2021-06-12 00:34] #8081 closed

[2021-06-12 00:46] rohan47 commented on #8050
I will try to run and check if I am getting the same issue with the above NFSServer

[2021-06-12 04:26] dalingng opened #8119 "1.6 Damaged data , How to recover?"
Same problem as this one
[https://github.com/rook/rook/issues/7940](url)
#7940

[code]

### help mey !!!!

![image](https://user-images.githubusercontent.com/3541321/121764806-455aec00-cb79-11eb-859c-e1b0fa217c0e.png)

[2021-06-12 08:38] ieuD opened #8120 "Rook-Ceph Poor RBD Performance"
Hi. I'm having performance issue about ceph rbd. The performance is not i expected according to my node metrics. here're the metrics.
I've used Calico as CNI.
version: Rook-ceph 1.6
I've used stock yaml files and rook is not running on host network
Centos 8 Stream
[code]
[code]
[code]

[code]
[code]
[code]
[code]
[code]

[2021-06-12 15:34] golgotow opened #8121 "stuck during read from rbd"
**Is this a bug report or feature request?**
* Bug Report

Hello,

Main problem is that write to rbd with fs ext4 or xfs works without problem, I tried to fill 50G rbd and was ok.
Problem is that during copy files from rbd to local computer for example, this operation stuck and give no output, no errors, only rbd is frozen for some period of time +- 10 min, then process of copy can be canceled via

[2021-06-12 15:35] golgotow commented on #8121
[cluster.yaml.zip](https://github.com/rook/rook/files/6642447/cluster.yaml.zip)

[2021-06-12 19:44] diskun00 commented on #6155
I encountered similar issues today, yet it's due to arrange my pod on the master node which has noschedule taint. Though pod can be successfully assigned on the node, PVC can never be mounted. After I assign this pod to other nodes, the issue is gone:D therefore, we may also need to add tolerations for PVC or something

[2021-06-12 20:01] #7342 closed

[2021-06-13 03:11] icpenguins commented on #7994
I created an issue with the Ceph team [https://tracker.ceph.com/issues/51191](https://tracker.ceph.com/issues/51191). I was hopeful that upgrading to `rook-ceph 1.6.5` might have addressed the issue with [https://github.com/rook/rook/pull/8102](https://github.com/rook/rook/pull/8102), but it did not.

[2021-06-13 07:42] electrical commented on #8085
I ran into the same issue.
I already have configured host network to be used via the operator in https://github.com/rook/rook/blob/v1.6.4/cluster/examples/kubernetes/ceph/cluster.yaml#L81-L83
Is t here something else i have to configure?

[2021-06-13 09:51] dalingng commented on #8119
osd pod start
error
debug 2021-06-13T09:43:07.051+0000 7f2fa6406f40  0 set uid:gid to 167:167 (ceph:ceph)
debug 2021-06-13T09:43:07.051+0000 7f2fa6406f40  0 ceph version 15.2.11 (e3523634d9c2227df9af89a4eac33d16738c49cb) octopus (stable), process ceph-osd, pid 1
debug 2021-06-13T09:43:07.051+0000 7f2fa6406f40  0 pidfile_write: ignore empty --pid-file
debug 2021-06-13T09:43:07.055+0000 7f2fa6406f40

[2021-06-13 09:51] dalingng commented on #7734
#8119 8119

osd start
error
debug 2021-06-13T09:43:07.051+0000 7f2fa6406f40  0 set uid:gid to 167:167 (ceph:ceph)
debug 2021-06-13T09:43:07.051+0000 7f2fa6406f40  0 ceph version 15.2.11 (e3523634d9c2227df9af89a4eac33d16738c49cb) octopus (stable), process ceph-osd, pid 1
debug 2021-06-13T09:43:07.051+0000 7f2fa6406f40  0 pidfile_write: ignore empty --pid-file
debug 2021-06-13T09:43:07.055+0000 7f2f

[2021-06-14 05:13] satoru-takeuchi commented on #8023
@leseb

Your osd initialization failed a bit faster than mine[1]. However, if it's a kind of cache-sync-problem as I guessed, it might cause your problem.

I have some questions.

Q1. What version is your Ceph cluster? My problem happens in v16.2.x but not in v15.2.x
Q2. Could you try whether my mitigation, setting `bluefs_buffered_io=false` work?
Q3. Does Ceph team recognize this issue? I'm glad

[2021-06-14 12:27] surajssd commented on #5400
Not stale.

[2021-06-14 17:18] travisn commented on #5400
@surajssd We have released an [experimental helm chart](https://rook.github.io/docs/rook/v1.6/helm-ceph-cluster.html) for the cephcluster CR. Could you set `monitoring.enabled: true`? I believe that will satisfy your scenario.

[2021-06-14 18:23] travisn commented on #8121
@golgotow So the rbd reads and writes are ok when writing within the volume? The issue only happens when you are reading from rbd to some external host? What command are you using? It seems related to that instead of something inside rbd.

[2021-06-14 20:44] icpenguins commented on #8085
Could the issue I reported here (https://github.com/rook/rook/issues/7994) be related to this? From my understanding, it wouldn't be as the connection occurs but then does stay enabled. I am currently using Calico so I don't need to have `CSI_ENABLE_HOST_NETWORK` enabled from my understanding. However, it sounds like it will now be enabled by default?

[2021-06-15 05:05] subhamkrai opened #8126 "Canary CI test: Syntax error: "(" unexpected (expecting "do")"
Canary integration tests/canary ci run failing frequently with error
 `sh: 1: Syntax error: "(" unexpected (expecting "do")`

I suspect this related to file format
https://stackoverflow.com/questions/5491634/shell-script-error-expecting-do
https://unix.stackexchange.com/questions/440197/bash-for-loop-not-working?rq=1

example run https://github.com/rook/rook/pull/8114/checks?check_run_id=282605311

[2021-06-15 15:24] travisn commented on #7483
This should be fixed by #8020 in v1.6.5

[2021-06-15 15:24] #7483 closed

[2021-06-15 16:54] BlaineEXE commented on #7940
@preslavgerchev thanks for the really good info. It's really helpful to learn that the partitions only show up once OSDs begin. I will keep looking into this. I haven't been able to repro yet, which is making this very difficult.

[2021-06-15 17:16] BlaineEXE commented on #7940
I wonder if there are udev rules on the node set up to trim/discard the raw disks which the base system might think is empty. Are the disks affected mounted to fstab in any way on the host? Are there udev rules to discard disks?

[2021-06-15 17:30] mkhpalm opened #8128 "csi-provisioner crashes with invalid memory address or nil pointer dereference"
**Is this a bug report or feature request?**
* Bug Report

**Problem:**

Randomly throughout a day the leading csi-provisioner pod crashes with a nil pointer dereference on a cluster with lots of volumes. There are 8551 total in the cluster but only 22 of those are ceph volumes.

Similar sounding ticket: https://github.com/kubernetes-csi/external-provisioner/issues/582

**Expected behavior:**

Act

[2021-06-15 17:34] mkhpalm commented on #8128
I see the csi versions were already bumped in a PR: https://github.com/rook/rook/pull/8125

[2021-06-15 17:40] travisn commented on #8128
@mkhpalm Yes looks like the updated csi versions should fix the issue. Could you update the csi versions in your cluster and confirm? No need to wait for this in a rook release.

[2021-06-15 19:17] mkhpalm commented on #8128
I tried updating everything to match the above PR but the operator seems to have some issue detecting the ceph-csi version:

[code]

Should I just be trying to update the kubernetes-csi images?

[2021-06-15 19:20] travisn commented on #8128
Oh I see you're on Rook v1.5, which didn't get support for v3.3. For the cephcsi image try `v3.2.2`

[2021-06-16 03:55] idryomov commented on #8085
When CephFS filesystem is mounted from the plugin pod, the mount inherits its network namespace:

[code]

When the plugin pod is restarted, Kubernetes destroys most of that.  Technically the network namespace stays alive because it is held by the mount, but there is no connectivity because veth-host (the host end of the veth pair) is detached from the bridge and removed.

Correct.

[2021-06-16 04:13] Madhu-1 commented on #8085
Thank you for the great explanation @idryomov.

[2021-06-16 06:48] pkalever opened #8129 "pool status UNKNOWN"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]

[code]

**Expected behavior:**
pool status OK

**How to reproduce it (minimal and precise):**
Was running some automation scripts to setup mirroring:
Setup rook:
* https://github.com/iamniting/conf/blob/master/k8s/vr/setup-rook

Setup rbd pool:
* https://github.com/iamniting/conf/blob/master/k8

[2021-06-16 07:34] Madhu-1 commented on #8129
@pkalever what is the Rook version you are trying?

@leseb any idea what could be the issue?

[2021-06-16 07:37] sp98 commented on #6805
@SleepingShell  is the two step ceph ruleset mentioned in the doc still relevant.

It uses some sort of storage tier to classify `ssd` and `hdd`.  For example `root-ssd` and `root-hdd` in the sample ruleset mentioned in the doc.

[code]
Can we use the device class (like below) instead?

[code]

[2021-06-16 08:06] pkalever commented on #8129
sorry, this is with the latest rook master

[2021-06-16 15:00] Krast76 opened #8132 "Operator SIGSEGV when RGW has TLS enabled"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When RGW has TLS certificate set , rook-operator pod crash

[code]

**Expected behavior:**

rook-operator pod doesn't crash.

**How to reproduce it (minimal and precise):**

Create ObjectStore with TLS enable with a cert like that :

[code]

This issue occur since this commit d86681244e940d34e37b49308

[2021-06-16 17:07] travisn commented on #6805
LGTM, just one suggestion... instead of the `Enabled` property, how about if the `HybridStorage` is nullable like this?
[code]

[2021-06-16 19:22] sfynx opened #8135 "v1.6: CephCluster is now merging/appending OSD placements instead of overwriting, making OSDs unscheduleable"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In v1.5 of the operator it was possible to override the `all` placement settings for a different service, for example this configuraton will put all services on nodes with a `system` role, except for the mons which will get placed on nodes with a `storage` role:

[code]

This works because the `matchEx

[2021-06-16 19:32] sfynx commented on #8135
This issue also happens when trying to override OSD placement using the device sets.

[2021-06-16 20:55] dimm0 commented on #7427
🥺

[2021-06-16 20:59] travisn commented on #7427
The new [Cluster helm chart](https://rook.github.io/docs/rook/v1.6/helm-ceph-cluster.html) supports installing clusters in different namespaces with the needed RBAC.

If there is a cephcluster CR that is not managed by helm, it seems helm can take over the CR. This would allow future management of the RBAC to be handled by the helm chart. See #8136.

@dimm0 Would that cover it? Or still need instr

[2021-06-16 21:41] dimm0 commented on #7427
I don't need instructions, I just sit with a text editor, and I'm done in about an hour of heavy editing :)

And no, I'm not comfortable using helm on this..

Ok, I guess won't fix then.

[2021-06-16 21:48] travisn commented on #7427
Actually what about [these instructions](https://rook.github.io/docs/rook/v1.6/ceph-advanced-configuration.html#deploying-a-second-cluster)? Not too long ago we added the `common-second-cluster.yaml` to help with CI scenarios for multiple clusters, so it should be reliable.

[2021-06-16 21:56] dimm0 commented on #7427
Ok, have to check. How is it dealing with addressing multiple namespaces from the main operator one? That was the issue before. Will it create multiple roles for each such namespace?

[2021-06-16 22:18] travisn commented on #7427
Right, it does create different bindings for each namespace instead of appending to existing bindings, so there is still that issue. Looks like it also has a cluster role binding that would be an issue for multiple namespaces.

[2021-06-16 22:22] dimm0 commented on #7427
Soo.. Leave the ticket?

I see a simple solution by moving such role bindings to a separate file, so that I don't have to search for them at least

[2021-06-16 22:34] Dorsosiv commented on #3749
also happened to me on openshift 4.7

same error about the same object (scc)

[2021-06-16 23:23] mkhpalm commented on #8128
I've run some tests and updated a large cluster using the following versions.

- cephcsi: v3.2.2
- csi-provisioner:v2.2.2
- csi-snapshotter:v4.1.1
- csi-attacher:v3.2.1
- csi-resizer:v1.2.0

 It may take a day or so to be sure if it resolves the crash but I'll report back regardless.

[2021-06-16 23:42] travisn commented on #8135
@sfynx I wasn't able to repro this issue with any daemons other than the OSDs when using storageClassDeviceSets. When setting the node affinity for both `mon` and `all`, the mon pods only had the node affinity from the `mon` placement applied, when testing on v1.5, upgrading to v1.6, and on a clean install of v1.6. Can you confirm again if you see this issue for the case other than OSDs on storage

[2021-06-17 11:56] martin31821 commented on #8023
Seeing the same bug on a debian machine.
Seems to occur more likely when trying to provision more OSDs at once.

[2021-06-17 12:59] perezjasonr commented on #8038
although privileged seems to get rook/ceph up and running in an selinux enforced env for obvious reasons this isn't ideal are there plans to allow us to have a little more control over security context selinux options, or selinux in general? If theres an issue I can follow, or if this is the one let me know. I will continue to test things out and give feedback otherwise (like if theres volume issu

[2021-06-17 14:58] parth-gr commented on #6101
@jeanchlopez I have added the support for [expanding the cluster ](https://github.com/rook/rook/pull/8078)
But I still struggle to test this [script](https://gist.github.com/jeanchlopez/fc38710147ea738be6920d05c8c756da), I want to check can the percentage value mentioned above  `> 0.75` can be lowered somehow so the PVC near-full condition can hit earlier?
I am testing it on Rook-Ceph cluster-on-P

[2021-06-17 15:47] BlaineEXE opened #8141 "Use new CephObjectStore GetPort method for RGW service"
Replace [`setObjectStorePort()`](https://github.com/rook/rook/blob/c961d9f7acebf4369dfe233b453c248fff0c52f7/pkg/operator/ceph/object/bucket/provisioner.go#L543) with this function, currently, that function chose port from `rgw svc` and picks the first port, Other part of the code prefers for TLS, if it is enabled so for OBC's we end up having `https` endpoint with non-secure port.

_Originally pos

[2021-06-17 16:27] craslaw commented on #4772
Typo in `kubede`. It should be `kubectl`.

[code]

[2021-06-17 17:18] jeanchlopez commented on #6101
You will have to do an oc edit of your existing alerts and add the PVC alerts to the existing set of rules. e.g. oc edit prometheusrules prometheus-ceph-v14-rules -n {your-name-space}

[2021-06-17 18:53] pavilalopes opened #8143 "MDS configuration mds_cache_memory_limit is not set as expected"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a memory request, but not a limit, is defined for the MDS pods in the CephFilesystem CRD, the corresponding values are not applied to the MDS configuration key `mds_cache_memory_limit`.
Looking at the [source code](https://github.com/rook/rook/blob/fcf634e3b7808e4338e7fd261c047aae4793e99b/pkg/oper

[2021-06-17 19:58] travisn commented on #8038
Do you have a proposal for the flexibility that would work for you? For example, if the CephCluster CR had some settings for the `securityContext` that could be applied to each of the ceph daemon pods? This could be similar to the `placement`, which as settings for `all` daemons as well as individual daemons. The challenge with that level of flexibility is that it will also take some tuning to see

[2021-06-17 20:02] #7387 closed

[2021-06-17 20:02] #7338 closed

[2021-06-17 20:09] travisn commented on #7439
Already fixed by #7912

[2021-06-17 20:09] #7439 closed

[2021-06-17 20:52] satoru-takeuchi commented on #8023
@martin31821 Is your Ceph version v16.2? And what is the csi driver for OSD?

[2021-06-17 20:53] martin31821 commented on #8023
@satoru-takeuchi I'm on 16.2.4. I'm not having a PVC backed OSD, it's raw devices with bluestore.
I also don't have rbd or CephFS here deployed, this setup is only serving RGW.

[2021-06-17 20:55] mkhpalm commented on #8128
Seems it still shows up with the latest csi-provisioner version v2.2.2:

[code]

[2021-06-17 21:07] satoru-takeuchi commented on #8023
@martin31821 Interesting.

I'll report your case in Ceph's issue. Please tell me one more question.

Did you try many times in both cases(three decices and four devices)?

[2021-06-17 21:11] martin31821 commented on #8023
@satoru-takeuchi I tried four or five times with different device sets of four Devices (WD Red Pro if that matters), and one time with three devices which worked directly and then a single device afterwards which did work too.

[2021-06-17 22:17] dalingng commented on #7734
When osd stop working, hard disk will appear divided @BlaineEXE

[2021-06-18 04:06] golgotow commented on #8121
I will try with cephfs and back , now all test was via map rbd , format to ext4 or xfs and then mount and rsync files in both directions.
Same behavior is when rook mount pv from sc to pod, also write works, but when comes to read, this operation stuck after short time of start, and I have no idea where to look for any tip,

[2021-06-18 04:50] golgotow commented on #8121
there is exactly same behavior, transfer from cephfs to local mount starts, and stuck in short time +- 10 sec, during this via ceph -s no alerts or anything is pointed.

[2021-06-18 06:15] X-7r3em commented on #5114
bump

[2021-06-18 09:08] predakanga opened #8149 "Operator OOMKilled with default limit"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

With the default memory limit (256Mi), the operator enters a CrashLoopBackoff due to being OOMKilled.
After raising the limit to 512Mi, the operator runs as expected.

**Expected behavior:**

The default memory limit should be high enough to avoid being OOMKilled.

**How to reproduce it (minimal and p

[2021-06-18 09:08] predakanga commented on #8149
Oh, forgot to mention - installed via rook-operator helm chart, v1.6.5

[2021-06-18 14:06] travisn commented on #8128
@Madhu-1 @Rakshith-R Any ideas on this one? Seems like we need to report an issue in the k8s provisioner.

[2021-06-18 14:11] perezjasonr commented on #8038
sounds good.

that was exactly what I was thinking, or anything that results in a pod creation (deployment, daemonset, statefulset), the ability to tune the security context, this could be combined with a section in the docs as to what all prereqs (any combination of semanage/selinux context definitions/policy creation) are required.

Indeed thats always the balance although folks tuning the secur

[2021-06-18 14:37] Madhu-1 commented on #8128
@travisn yes this need to be reported at external-provisioner repo

[2021-06-18 15:12] travisn commented on #8149
Ah this must be related to the object store. In v1.6.5 there was a change #8082 that performed pool operations for the object store much more efficiently in parallel, but it also means running a number of ceph commands in parallel, which bumps up the memory temporarily whenever the object store is reconciled.

What about the following requests and limits by default? The operator does normally sit

[2021-06-18 15:22] parth-gr commented on #6101
Hey @jeanchlopez, thanks.
I investigated and got I was missing to [Enabling monitoring for user-defined projects ](https://docs.openshift.com/container-platform/4.6/monitoring/enabling-monitoring-for-user-defined-projects.html#enabling-monitoring-for-user-defined-projects_enabling-monitoring-for-user-defined-projects), which will be required to get the rook metrics alerts, for the PrometheusRule c

[2021-06-18 15:22] predakanga commented on #8149
That's pretty similar to what I landed on for my deployment (256Mi request, 512Mi limit).

For the record, my deployment only has 10 ObjectBucketClaims and 3 CephObjectStoreUsers - I assume this is on the low side, so it could be a problem for heavier users.

If that's the case, it might be better to limit the concurrency instead?

[2021-06-18 15:30] travisn commented on #8149
The resources during concurrency in the operator are affected more by the object store pools than the number of OBCs or users. In any case we need to look at making the operator less resource hungry. Before merging #8151 we will look at how to reduce the resource requirements instead of just increasing the limits as the only solution.

[2021-06-18 16:39] jimorsm commented on #6685
facing the same issue, have you solved it ?

[2021-06-18 18:17] travisn commented on #5114
@AceHack Which log is being flooded? After a basic install of the cassandra operator and creating the cluster I don't see these messages, but nothing is happening in the cluster yet either. Based on the other issue you opened, not sure what we can do about this in rook.

[2021-06-18 18:27] perezjasonr commented on #8038
possibly starting next week, I might take off the privileged option in the helm chart and take note of exactly what breaks, try to patch in an selinux context to see if that brings things up without privileged.

will report my findings here if so.

[2021-06-18 20:02] mkhpalm commented on #8128
I've mentioned it to them in what looks like a related ticket

[2021-06-19 15:10] dalingng commented on #7940
The partition will be displayed when osd is running, but the partition reappears after stopping the osd service

[2021-06-19 20:01] #6783 closed

[2021-06-20 17:03] voarsh2 commented on #5729
I'm getting this same problem. But I removed the disks and put new ones (VM's) and it still won't have the dashboard working.

[2021-06-20 20:02] #7401 closed

[2021-06-21 06:06] hackaholic opened #8153 "set numreplicas for provisioner pods"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
set numreplicas for provisioner pods

**What is use case behind this feature:**
 If the no of nodes is more than one but still one want provisioner pods replica to be 1.
**Environment**:
K8s environment
[code]
Setup: 1 master , 1 worker
[root@pwconfig-k8s-master0 ~]# kubectl get nodes
NAME

[2021-06-21 06:08] Madhu-1 commented on #8153
@hackaholic why you think it's a useful feature? Can you please provide more details?

[2021-06-21 08:27] tareqhs opened #8154 "Upgrading Chart from v1.5 to v1.6 fails on CRD preserveUnknownFields"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Chart fails to install when upgrading from v1.5.7 to v1.6.5

**Expected behavior:**

**How to reproduce it (minimal and precise):**
Existing v1.5.7 chart installed and RBD data exists so an upgrade is necessary (not clean installation). When upgrading to v1.6.5 some CRDs fail to apply with following er

[2021-06-21 08:30] subhamkrai commented on #8154
@tareqhs similar to this #7659

[2021-06-21 09:03] subhamkrai commented on #8154
@tareqhs did you try this https://github.com/rook/rook/issues/7659#issuecomment-849351883

[2021-06-21 09:40] hackaholic commented on #8153
@Madhu-1 numreplicas for provisioner pods is not configurable,
It can be made configurable, Like in my case I just wanted to run only one replica.

[2021-06-21 10:28] adorkkk commented on #6147
By the way, how should I create an export ?
As [here](https://docs.ceph.com/docs/master/cephfs/nfs/#configure-nfs-ganesha-exports) to create the NFS export, i edit /etc/ceph/ceph.conf in ceph toolbox pod as follows:
[code]
but it didn't work. tks

[2021-06-21 10:38] tareqhs commented on #8154
thanks @subhamkrai this helped but this is a very complicated workaround because we try to maintain helm-only installations

[2021-06-21 10:39] varshar16 commented on #6147
Please don't add export block to ceph conf file. It will not work. Use dashboard or [mgr nfs interface](https://docs.ceph.com/en/latest/cephfs/fs-nfs-exports/#cephfs-exports-over-nfs) to deploy nfs cluster and create exports.

[2021-06-21 10:58] subhamkrai commented on #8154
@travisn @BlaineEXE is there anything we can do to automate?

[2021-06-21 11:45] martin31821 opened #8156 "PrometheusRule CephMonQuorumAtRisk rule is wrong"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The CephMonQuorumAtRisk rule is wrong. It alerts in case of a single-mon deployment and alerts too late for five or more mons.

**Expected behavior:**
1 mon: should not alert at all
5 mons: should alert when 3/5 are reachable, alerts at two mons reachable (quorum lost)
7 mons: should alert when 4/7 are

[2021-06-21 11:54] pkalever commented on #8129
Looking at:
[code]

I had missed applying the CRDs, had applied cluster/examples/kubernetes/ceph/rbdmirror.yaml

Now it looks like:
[code]

Any Idea, why the states are unnown:1 and health says WARNING?

[2021-06-21 11:56] pkalever commented on #8129
Could this be the reason why the image is not mirrored on the second cluster

[code]

[2021-06-21 12:08] leseb commented on #8156
@anmolsachan PTAL

[2021-06-21 12:22] anmolsachan commented on #8156
@leseb Ack, Please assign this to me, I don't see the option. I will look into it.

[2021-06-21 12:48] Krast76 commented on #7940
Hi there 👋

I'm facing the same issue, but with an on-premise deployment. (Obviously i can't reduce the size of my physical disks).

After debugging for days, i think that i've found the root cause.

I saw on my kernel.log this message :

[code]

And i found on the kernel this :

[code]

It seems that our partitions are recognized as "ATARI" partition by the kernel.

You can find on your servers/i

[2021-06-21 13:42] #8132 closed

[2021-06-21 15:22] travisn commented on #8154
We haven't found how to automate this yet. The change to the auto-generated CRDs has made this a challenge.

@tareqhs To clarify, the workaround in #7659 does work for you? It would be a one-time workaround, not needed in future upgrades, but it's certainly something we would like to automate.

[2021-06-21 15:29] #7837 closed

[2021-06-21 16:32] tareqhs commented on #8154
@travisn yes it worked for me

[2021-06-21 16:32] #8154 closed

[2021-06-21 16:33] travisn opened #8163 "Private forks get a daily email about arm64 builds failing"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Forks that are updated since a couple weeks ago get a daily email indicating that the arm64 build failed.

See [my fork](https://github.com/travisn/rook/actions/workflows/canary-integration-test-arm64.yml) for example failures.

**Expected behavior:**
The `Canary integration tests ARM64` action is only

[2021-06-21 16:57] travisn commented on #8149
Instead of increasing the limits in #8151, further discussion with @leseb is that we could just disable the object store reconcile concurrency when any memory limits are set. This way, test clusters without the limits can benefit from the faster reconcile, while clusters with memory limits can wait a bit longer for the reconcile, which is not expected to be an issue for production clusters.

[2021-06-21 17:33] travisn commented on #8153
@hackaholic Can you expand on the scenario? Is the goal to run the minimal resources in the cluster instead of ensuring provisioning is HA? Or something else?

[2021-06-21 18:47] bberst opened #8165 "Hostnames should be allowed for PersistentVolume.spec.nfs.server to survive IP address changes."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Persistent volumes are created with the NFSServer service static IP address (nfsserversvc.Spec.ClusterIP) for the NFS server field (PersistentVolume.spec.nfs.server).  This link did not survive a node upgrade as the NFSServer service was assigned a new IP address.

https://github.com/rook/rook/blob/ma

[2021-06-21 19:41] travisn commented on #8165
@bberst The `clusterIP` of a K8s service is expected to be immutable and we rely on this in several places in Rook. For example, if you try to modify the clusterIP of the service, K8s will reject the request. Do you have more details on how you found the clusterIP changed? There could have been some other issue during the node upgrade that affected the PV, but it just shouldn't be a changing clust

[2021-06-21 20:06] #7461 closed

[2021-06-22 03:37] #8059 closed

[2021-06-22 06:10] subhamkrai opened #8169 "ci: helm test are failing frequently"
**Is this a bug report or feature request?**
* Bug Report

```Errors Encountered while executing helm command . WARNING: Kubernetes configuration file is group-readable. This is insecure. Location: /home/runner/.kube/config```. This error is coming from the helm only.

**Deviation from expected behavior:**
Integration test CephHelmSuite actions are failing
**Expected behavior:**
Integration test C

[2021-06-22 07:21] #8163 closed

[2021-06-22 07:22] #7212 closed

[2021-06-22 09:39] hackaholic commented on #8153
@travisn yes the goal is to run the minimum resources in the cluster without HA

[2021-06-22 09:49] electrical commented on #8085
I can confirm that after setting the `CSI_ENABLE_HOST_NETWORK` to true it's all working as expected.
Also verified with an old setup I still had running where all the CSI pods are indeed on host network.

[2021-06-22 16:02] linkvt opened #8179 "NFS Ganesha Daemon not responding in Ceph Dashboard"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When opening the NFS tab in the Ceph dashboard I can't configure the NFS Mounts anymore on one cluster, they just don't load. I'm not sure how the internal communication works, but I guess there is an issue with ganesha as an API request times out, see below.

The backend was correctly configured:
[cod

[2021-06-22 16:17] subhamkrai commented on #8143
@pavilalopes  can we explain more about your comment
[code]
I'm not clear about this.

[2021-06-22 17:53] travisn commented on #8179
@varshar16 thoughts on this one?

[2021-06-22 20:24] BlaineEXE commented on #7940
Thanks @Krast76. This is really helpful.

ATARI support is going to be removed from Ubuntu for AWS, but there is no indication I could find that it will be removed for non-cloud images.

The launchpad bug mentions that ATARI partitions have "very broad specifications", and this is a little more low-level info into that: https://bug-parted.gnu.narkive.com/UiVUXd5u/bug-31111-partition-table-wrongly-

[2021-06-22 20:28] satoru-takeuchi commented on #8023
@leseb

Could you answer these questions?

[2021-06-22 21:10] BlaineEXE commented on #7940
There is a Rook issue that has evidence of an ATARI partition here: https://github.com/rook/rook/issues/2047 which is listed from the `blkid` command.

Some tools (reportedly even versions of `blkid`) don't support ATARI partitions and thus can't recognize them as anything more than "partition" because the Linux kernel recognizes them (ref: https://bugs.launchpad.net/ubuntu/+source/util-linux/+bug

[2021-06-22 21:29] BlaineEXE commented on #7940
@Krast76 @dalingng @preslavgerchev @zzswang are any of you able to do a bit of data gathering for me?

From a Rook cluster with the partition issue present, could you `kubectl exec -it` into a `rook-ceph-osd-ID` pod and run some `blkid` (and other) commands for me? Preferably, on a cluster running Ceph v15.2.0 since that would likely have the oldest version of `blkid`.

- `ceph version`
- `cat /et

[2021-06-23 03:34] alimaredia commented on #8052
I wonder if this issue is related to: https://github.com/rook/rook/issues/7318 except the error went away on the reporters v1.5.9 rook cluster.

[2021-06-23 06:24] stepanovmm1992 commented on #3026
@ctrahey Thank you a lot!!! I setup Ceph and three days trying install RGW and have `RGW REST API failed request with status code 403
(b'{"Code":"InvalidAccessKeyId","RequestId":"tx000000000000000000017-005ecac06c'
b'-e349-eu-west-1","HostId":"e349-eu-west-1-default"}')!` Tonight I reset all and run command again and it run! I want child from you!!!)))

[2021-06-23 06:46] leseb commented on #8023
I saw this in the CI, which runs v16.2.

I can try?

I'll ask again the ceph team for more inputs.

[2021-06-23 06:46] leseb commented on #7471
Haven't seen this in a while.

[2021-06-23 06:46] #7471 closed

[2021-06-23 07:52] varshar16 commented on #8179
@linkvt please share the entire mgr log and nfs pods status

[2021-06-23 08:59] #8126 closed

[2021-06-23 09:18] pavilalopes commented on #8143
@subhamkrai What I mean is this statement in the comment: "MDS uses approximately 125% of the value of mds_cache_memory_limit in RAM."
That to me implies that the "discounting" factor that is going to be applied to the value of mds_cache_memory_limit is 125%, which would mean a value of 0.8 for the constant (1/1.25). But the constant is actually set to 0.5, which is much higher factor.

[2021-06-23 09:21] pavilalopes commented on #8143
Also, to  add to that: based on observation the 125% number seems  to be closer to reality. With the default value of mds_cache_memory_limit, which is 4GiB, the actual memory consumption of the daemon maxes out at around 5GiB.

[2021-06-23 09:34] subhamkrai commented on #8143
@pavilalopes I see now. thanks for explaining.  @leseb @travisn thoughts?

[2021-06-23 11:12] linkvt commented on #8179
@varshar16 sure, I deleted mgr and nfs pods, opened the dashboard, logged in and switched to the NFS tab.

[mgr.log](https://github.com/rook/rook/files/6701327/mgr.log)
[nfs-a.log](https://github.com/rook/rook/files/6701330/nfs-a.log)
[nfs-b.log](https://github.com/rook/rook/files/6701329/nfs-b.log)
[nfs-c.log](https://github.com/rook/rook/files/6701328/nfs-c.log)

[2021-06-23 12:57] sethjones commented on #7968
My issue has been resolved. Removing the resource constraints I had placed resolved the disk creation to function normally.

[2021-06-23 14:05] varshar16 commented on #8179
From the log, I see the cephfs export is successfully created. The error is more specific to dashboard. @alfonsomthd please look into it.

[2021-06-23 14:56] 4n4nd commented on #7146
still relevant

[2021-06-23 15:00] travisn commented on #8143
@batrick Is [this comment](https://github.com/rook/rook/blob/162fd1b4420ad5bb3649be74d5054b402212b9c9/pkg/operator/ceph/file/mds/spec.go#L37-L40) about setting `mds_cache_memory_limit` to half the available memory still accurate? For example, if the MDS pod is given 4Gi memory, its limit would be set to 2Gi, which seems a bit low. Would 75% give us closer to expected utilization instead of 50%?

[2021-06-23 15:29] #7728 closed

[2021-06-23 18:37] jhoblitt opened #8187 "Feature request: add toolbox pod to helm chart"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Create the toolbox pod which is used from some examples (and is handle to have running).

**What is use case behind this feature:**
The toolbox is helpful for administration and manual status checks outside of the operator.

[2021-06-23 18:40] jhoblitt opened #8188 "Feature request: add support for ingress resources for dashboard to helm chart."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Follow the defacto standard for managing ingress resources via a chart for the dashboard.  There is an in tree example of an ingress resource: https://github.com/rook/rook/blob/master/Documentation/ceph-dashboard.md

Note that on my clusters, I need slightly different annotations:

[code]

**What is us

[2021-06-23 18:43] travisn commented on #8187
@jhoblitt The toolbox can be enabled with the new [cluster helm chart](https://rook.github.io/docs/rook/v1.6/helm-ceph-cluster.html). Does that work for you? The chart is just considered experimental until v1.7.

[2021-06-23 19:03] BlaineEXE commented on #7940
I did some testing on an Ubuntu VM. I can create atari partitions with `parted`, but `lsblk` and `blkid` won't detect the type as atari. `blkid -k` does not list atari as supported using the version in the ceph/ceph:v15.2.0 container. The ceph container does seem to have parted installed, and it is possible to list a block device like below:

[code]

[2021-06-23 19:10] eknudtson opened #8189 "Operator panicking during upgrade from Rook 1.5.8 -> 1.6.5"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Operator crashes while applying upgrade from Rook 1.5.8 to Rook 1.6.5

**Expected behavior:**

Operator would complete the upgrade successfully.

**How to reproduce it (minimal and precise):**
Followed upgrade instructions, and upgraded operator to 1.6.5

**File(s) to submit**:

* Cluster CR (custom r

[2021-06-23 20:02] #7412 closed

[2021-06-23 20:19] travisn commented on #8189
Here's the crash of interest from the logs:
[code]

@eknudtson This is fixed by #8139 and we will plan on the v1.6.6 release tomorrow with it. If this is blocking your cluster, we can get an interim build sooner...

[2021-06-23 20:48] eknudtson commented on #8189
Our cluster is still in a healthy state, though the operator pod is crashlooping.  I'd prefer whatever you think the best route is, I can always scale our operator deployment to 0 replicas for now.

Thanks!

[2021-06-23 21:02] travisn commented on #8189
Right, the crashing operator isn't good, but at least the data plane is safe with Ceph. An interim release build just finished and pushed to `rook/ceph:v1.6.5-40.g564be28`. This contains the fix and will essentially be the same as v1.6.6 tomorrow. It's technically not a supported release, but in reality I would expect it to be just as stable as the official releases since it ran the same test suit

[2021-06-24 03:14] agarwal-mudit commented on #7989
One of the customer hit this issue (https://bugzilla.redhat.com/show_bug.cgi?id=1974959)
Can we move forward with this? @nixpanic @travisn

[2021-06-24 11:25] TaChao commented on #4877
+1

[2021-06-24 11:54] Madhu-1 commented on #4877
@TaChao what issue you are facing? can you please more details

[2021-06-24 21:50] travisn commented on #7989
`jq` would certainly be useful in the toolbox, for me it's just a question of whether to push it into the base Ceph image, or include it in Rook. @leseb wdyt?

[2021-06-25 03:11] agarwal-mudit commented on #7989
Thanks @travisn if we can fix this in 4.8 timeframe then it would be good. Adding @b-ranto in case we need help from build side.

[2021-06-25 06:31] devlifealways commented on #7175
Hi everyone,
  I'm not sure if it's still a relevant matter, but tweaking [Kubernetes' feature-gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) is not always an option, for instance, we're running Rook on OVH cloud, which is not an option. as all the control-plane is obfuscated (black-box). Is there anything else we can do ?

[2021-06-25 07:59] leseb commented on #7989
`jq` is already part of the upstream toolbox, so the request is really only for downstream. Closing this then. Let's follow up internally with the build team.

[2021-06-25 07:59] #7989 closed

[2021-06-25 08:42] satoru-takeuchi opened #8196 "ceph: changing the configuration of liveness probe results in OSDs CrashLoopBackOff"
**Is this a bug report or feature request?**
* Bug Report

Changing the fields of OSD's liveness probe causes CLBF of many OSDs. This change is as follows.

https://github.com/cybozu-go/neco-apps/blob/main/rook/poc/ceph-poc/cluster.yaml#L64-L69
[code]

I changed this field because I found that initialization of some OSD pods take long time.

**Deviation from expected behavior:**

Some OSDs result

[2021-06-25 09:30] obnoxxx commented on #7989
@leseb - from looking at the rook:images directory, do I get it right, that it is coming from the ceph base image?

[2021-06-25 09:37] toshipp commented on #8196
Here is my assumption.
`desiredProbe` updated [here](https://github.com/rook/rook/blob/master/pkg/operator/ceph/config/livenessprobe.go#L64) is gotten from healthCheck which is an argument of ConfigureLivenessProbe.
The argument is a value but the LivenessProbe field is a map, so it is shared across calls of makeDeployment.

[2021-06-25 09:55] leseb commented on #7989
Yes.

[2021-06-25 17:51] eknudtson commented on #8189
1.6.6 did the trick! Thanks for the quick response on that!

[2021-06-25 17:51] #8189 closed

[2021-06-25 19:37] BlaineEXE commented on #7940
@Krast76 @dalingng @preslavgerchev @zzswang @linkvt @brian-fa @dalingng

Thank you all for your patience with and help uncovering this issue. It has been really bizarre. I believe #8200 will solve the issue, and we will backport it to have it released with Rook v1.6.7. I'll keep you updated here once we have a test build for you to try and hopefully verify for us since we've been having trouble re

[2021-06-25 20:01] #7446 closed

[2021-06-25 20:01] #7426 closed

[2021-06-25 22:08] travisn opened #8202 "Helm test suites failing in master"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The helm suites are failing in master since #8182 merged. As seen in the [first build after the merge](https://github.com/rook/rook/actions/runs/970549954):

[code]

@subhamkrai Did we miss something in that merge? Strange that the CI was green before merge and now failing.

**Expected behavior:**
The

[2021-06-25 22:16] sfynx commented on #8135
@travisn Allright, I have started from scratch on a fresh installation, and I'm actually seeing the same. I must have been confused by an `osd` placement that I also had (which is actually not being used at all, and ignored in favor of the storageClassDeviceSets) and assumed the other placements would affect it in the same way. Sorry for the confusion.

So this issue *only* happens when trying to

[2021-06-25 23:20] jhoblitt commented on #8187
@travisn I'm afraid I was ignorant as to the purpose of the cluster helm chart.  I noticed that it appeared in the repo but I didn't... and I still don't... understand how it is different than the original flavor chart.  Is the intent that it will completely replace the existing stable chart?  Is there a summary anywhere of what has changed or does one need to inspect the templates?

[2021-06-25 23:36] jhoblitt commented on #8187
Aww, I just looked at the chart... it is clearly not a replacement, just automation for creation of a cephcluster resource.  I see that there is `rook-ceph-tools` in `deployment.yaml`.  It looks like that covers this use case but I have not tested it yet.

[2021-06-26 11:10] linkvt commented on #7940
Hi @BlaineEXE,  thanks for the update and thanks to the others here for finding the issue!

I have only one question that I didn't see answered in the PR, what should I do with my existing OSDs right now, should I scratch them and reinstall them with rook 1.6.7 running? I setup a device filter to exclude partitions which prevented the additional partitions of this bug, but not sure if my existing

[2021-06-26 20:06] batrick commented on #8143
50% of available memory (or the container pod limit) is chosen because MDS steady-state uses about ~130% of its cache size in RAM. In failure recovery situations, it can use much more.

[2021-06-27 19:04] telmich opened #8204 "rook seems to create outdated ext4 filesystems"
**Is this a bug report or feature request?**
* Bug Report

Warnings show up on the host when using rook:

[code]

**Deviation from expected behavior:**

Expected no warning. Below is the debug output:

[code]

**Expected behavior:**

No warnings

**How to reproduce it (minimal and precise):**

Created a PVC using

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.ya

[2021-06-28 04:58] subhamkrai commented on #8202
hmm...right. For PRs, it will green as I removed the changes from there but missed to remove the changes for the release. here

https://github.com/subhamkrai/rook/blob/f90050c5b2dbe528b4a2bdb8c87834a66c9ae949/.github/workflows/integration-tests-on-release.yaml#L83-L85

I'll revert this too

[2021-06-28 07:53] satoru-takeuchi opened #8209 "ceph: mark OSD as DOWN on node shutdown or reboot as maintenance"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

If we shutdown or reboot a node as maintenance, OSDs existing in this node will be marked as `DOWN` after a long time (15mins by default). During this time, I/Os, which primary replica is in these OSDs, will be blocked. This problem can be avoided if mark these OSDs as `DOWN` as soon as a node shutdown

[2021-06-28 08:46] SalvoRusso8 opened #8210 "EC filesystem fails to deploy with latest release of Rook-Ceph"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
EC filesystem is not created

**Expected behavior:**
Everything correctly created

**How to reproduce it (minimal and precise):**
I created on AKS a K8s cluster with 6 nodes. 3 OSDs. The deploy of normal filesystem works just fine, I used the example crds.yaml, common.yaml,

**File(s) to submit**:

* C

[2021-06-28 09:37] ymmt2005 commented on #8209
I'd add some more contexts.

In our MySQL operator, the controller watches Pods, and when it detects a Pod is being deleted
(i.e. `metadata.deletionTimestapm != nil`), it automatically starts a switchover operation.

Each Pod has a preStop hook that executes `sleep 5` before sending SIGTERM to containers to
allow the controller to do the switchover gracefully.

When we want to reboot a Node, we dr

[2021-06-28 11:46] #8196 closed

[2021-06-28 13:55] #8202 closed

[2021-06-28 14:38] travisn commented on #8209
@satoru-takeuchi Ceph is expected to mark OSDs `down` very quickly (seconds) after they go offline. The OSDs have [health checks](https://docs.ceph.com/en/latest/rados/operations/health-checks/#osd-down) against one another to detect these conditions. Have you perhaps set `nodown` or `noout` in the cluster?

deleting Pods, so our MySQL clusters can avoid sudden disruptions while maintaining Nodes.

[2021-06-28 14:58] travisn commented on #8204
@Rakshith-R Is this controlled by the csi driver?

[2021-06-28 15:10] travisn commented on #8143
@pavilalopes Based on the previous response, it seems clear now that the calculation for the mds memory cache is really a memory limit, which is why the ratio of 0.5 is so low to calculate the memory. To get the behavior you want for memory usage under normal conditions, you could set the memory limits to about double the memory requests. Or do you really want to not have limits on the mds for tho

[2021-06-28 15:12] travisn commented on #8187
Correct, it is a new chart and does not replace the other chart. The CRDs must be defined in a different chart from the CephCluster CR.

[2021-06-28 15:38] pavilalopes commented on #8143
@travisn I feel setting memory limits is a dangerous thing unless I completely understand the behavior of the process under all circumstances. The above comment "In failure recovery situations, it can use much more" is a great example of this - I don't know how much is "much more", and I don't want to make a bad situation worse by having unnecessary OOM kills due to badly set limits.

We do need t

[2021-06-28 16:43] travisn commented on #8143
@pavilalopes How about [this proposal](https://github.com/rook/rook/pull/8180#discussion_r659947794)?

[2021-06-28 19:18] pavilalopes commented on #8143
@travisn Makes sense in principle, but in this case we should use different factors, instead of a factor for limit a none for request.

As previously discussed, even in normal operation the total MDS memory usage is 25% to 30% higher than the mds_cache_memory_limit value. My limited experience bears this out.

So something like
[code]

If you wanted to get fancy, when the user gives both a request

[2021-06-28 19:25] travisn commented on #8143
Agreed, that's better with the two different factors. I'd lean towards keeping it simple and not worry about the minimum of them, and we should document the behavior so it's more clear.

[2021-06-28 21:37] kyle-rf commented on #7175
Hi @devlifealways,
The feature is enabled by default on Kubernetes v1.20.  So I believe if you're able to upgrade the Kubernetes cluster, then you will have fsGroupPolicy.  In the case of my own cluster, I later realized I had not completed the Kubernetes upgrade completely.  Though running a kubectl get nodes command would show a version 1.20.x, there were additional steps that needed to complete

[2021-06-29 04:11] Rakshith-R commented on #8204
@travisn , yes, those mounts are done by ceph csi driver.

@telmich , This warning is from linux ext4. Read more [here](https://www.spinics.net/lists/linux-ext4/msg72750.html) (interesting stuff )
Basically, for smaller size file mounts, they are using smaller inode which `supports timestamps until 2038`, hence the warning.
(just use larger size PVC to avoid this :slightly_smiling_face: )

[2021-06-29 08:51] telmich commented on #8204
@Rakshith-R Wow, I did not see that one coming. Size depending mkfs options? Really? There's no day you don't learn something.

While the proposal to go a bit bigger (seems like 1Gi would suffice from the link) is certainly feasible (ceph being thin provisioned), it comes with the drawback of actually allowing containers to use that space.

I guess maybe the right approach is to use cephfs backed

[2021-06-29 08:51] #8204 closed

[2021-06-29 14:22] fzhan opened #8217 "accidentally deleted rook-ceph-mgr-dashboard service"
**Is this a bug report or feature request?**
* Feature Request
* This rook-ceph-mgr-dashboard service does not have a yaml file, if it is accidentally deleted, ceph operator does not recreate this service, and there's no example yaml to restore it.

**What should the feature do:**
include an example of the service in yaml file

**What is use case behind this feature:**
in case of accidental deleti

[2021-06-29 16:16] BlaineEXE commented on #7940
If you are using that workaround, you should not need to scratch the OSDs. Only if Rook has created OSDs on both the main disk/partition and one of the "phantom" partitions will you need to scratch those OSDs.

[2021-06-29 17:11] travisn commented on #8217
@fzhan Restarting the operator should result in a full reconcile and the dashboard service will be created again.

[2021-06-30 03:26] huangming commented on #4207
I'm getting the same thing. After some steps everything is ok:
1. change ssl: true to false on cluster.yaml and apply it.
[code]
3. change ssl: false to true on cluster.yaml and apply it.

[2021-06-30 03:32] alimaredia commented on #8052
@walkamongus Are you still seeing the issue? I have not been able to recreate the issue myself on the same rook version, ceph version, and kubectl server version (client was 1.20.5) on minikube.

I'm anticipating https://github.com/rook/rook/pull/7883 will merge soon so issues like this could be caught in our CI from here on out.

[2021-06-30 04:11] satoru-takeuchi commented on #8209
@travisn Thank you for your comment. I'll confirm my configuration and will respond later.

[2021-06-30 07:30] #7804 closed

[2021-06-30 10:26] sp98 commented on #8210
This looks expected. Please check https://docs.ceph.com/en/latest/cephfs/createfs/#creating-pools ( last point).
Also, https://tracker.ceph.com/issues/42450

[2021-06-30 10:32] sp98 commented on #8209
`noout` could have been set on the failure domain, if podDisruptionBudget is enabled for the cluster.

[2021-06-30 10:38] SalvoRusso8 commented on #8210
So it is not enough to follow this documentation https://rook.io/docs/rook/v1.6/ceph-filesystem-crd.html#erasure-coded to deploy a working EC filesystem. Maybe some indications to solve the problem with metadata pool should be added.

[2021-06-30 12:43] hezise opened #8220 "after one node of cluster is rebooted health status is Module 'devicehealth' has failed: [errno 110] RADOS timed out (error connecting to the cluster)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

after one of the node was rebooted I saw that all is up but the status was health_err with description Module 'devicehealth' has failed: [errno 110] RADOS timed out (error connecting to the cluster)

after I rebooted the mgr healt

[2021-06-30 15:10] travisn commented on #8210
This is a result of #8130, a couple of users have also reported this in slack.
@subhamkrai We should look at reverting that in the case of an EC pool for the filesystem.

[2021-06-30 15:12] travisn commented on #8210
The workaround would be to use Rook v1.6.5 until this is fixed, since v1.6.6 removed the `--force` flag.

[2021-06-30 15:24] travisn commented on #8220
So the cluster is healthy again now? From the operator log it looks like mon quorum was down for a while, but then looks like it recovered again since the `ceph status` is healthy from the toolbox. Since the ceph health warning is cleared up now, is there anything remaining to investigate?

[2021-06-30 16:19] hezise commented on #8220
currently it's healthy again.
I couldn't understand from the logs what is causing it.
I also tried to understand how to debug it.
is there a flag I can set that will restart the MGR in such case?

[2021-06-30 17:29] #8169 closed

[2021-06-30 17:30] travisn commented on #8220
The mgr pod has a liveness probe that will restart it if it fails. But this is different from the health warning that is raised by the mgr.

[2021-06-30 18:45] #8066 closed

[2021-06-30 18:45] #8069 closed

[2021-06-30 18:52] walkamongus commented on #6432
I ran into the exact same issue mentioned above. The operator is using the internal ClusterIP for k8s services as Zone and Zone Group endpoint values. This won't work unless you've made the cluster services CIDR network routable and accessible between clusters. If I manually fix the zone and zone group endpoints to externally accessible URLs then everything starts working.

[2021-06-30 18:53] travisn commented on #6432
@alimaredia can you take a look?

[2021-06-30 20:08] FredNass commented on #4494
@troeger We faced the same issue with an already existing cephfs (on external RHCS 4 cluster). Our cluster was first installed (and cephfs initiated) in RHCS 1.3 (Hammer), and despite the engineering assistance that we had along on every upgrades, we never set these metadata flags on cephfs pools. So regarding @leseb 's question above about having both 'ceph osd pool application enable <pool name>

[2021-06-30 21:58] Jean-Daniel opened #8224 "Service created by rook-ceph-operator reference CSI containers without exposed ports"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When deploying a Ceph cluster, the rook-ceph-operator creates `daemonset.apps/csi-[rbd|cephfs]plugin`, `deployment.apps/csi-[rbd|cephfs]plugin-provisioner`.

Generated containers are started with `--metricsport=xxxx` parameters to expose the metrics, but none has a `Ports` section, so it is not possib

[2021-06-30 22:34] BlaineEXE commented on #7940
Backported to 1.6 in #8223

[2021-07-01 01:14] walkamongus commented on #8052
I'm going to close this as I found a config override set in the cluster and I have not seen this error after removing it.

[2021-07-01 01:14] #8052 closed

[2021-07-01 03:30] alimaredia commented on #8052
@walkamongus out of curiousity what was the config override? It would be great to know so I could investigate further and if someone else hit's this issue and stumbles upon this github issue.

[2021-07-01 03:37] #8217 closed

[2021-07-01 06:28] hezise commented on #8220
I currently testing ha.
I'm shutting down servers and verify that all is still up then turn it on again and verify that it has recovered and everything is fine again and this is where I found the health_err. it stayed in that state for a few hours until I rebooted the mgr.
is there something I can check when this error occurs?
I prefer not to reset the mgr just like that.

[2021-07-01 07:15] #6805 closed

[2021-07-01 09:27] satoru-takeuchi commented on #8209
@travisn

I checked my cluster but both flags are not set.

In addition, I failed to reproduce this problem by scaling down the replicas of an OSD pod, or by surprise node shutdown. I'll try this again later.

BTW, Could you tell me why `noout` afftects the transition `UP` and `DOWN? I thought it's only related to the transition between `IN` and `OUT`

@sp98 Thank you for letting me know! Does it

[2021-07-01 13:10] prazumovsky commented on #7212
@leseb @travisn Can we backport this patch to 1.6 release?

[2021-07-01 15:08] #8143 closed

[2021-07-01 15:28] travisn commented on #7212
I'm fine with the backport, our bot just can't open the PR since it includes a github action.
@abursavich Want to open the backport PR to release-1.6 with the commits cherry-picked?

[2021-07-01 16:10] BlaineEXE commented on #7940
@Krast76 @dalingng @preslavgerchev @zzswang @linkvt @brian-fa @dalingng

It would be good to verify the fix (now built into the rook/ceph:v1.6.0.508.g037945a image) is working on the real-world error. I did my best to test this using manually-created atari partitions, but things can always slip through.

[2021-07-01 16:11] walkamongus commented on #8052
Unfortunately I rage deleted it so I don't have the exact contents, but it was an ceph.conf configmap override that configured LDAP authentication for Ceph object gateways.

[2021-07-01 16:33] leseb commented on #8149
Small prototype

[code]

[2021-07-01 16:47] jhoblitt opened #8230 "Documentation: instructions on how to configure exports for a CephNFS resources"
As a ceph novice, it took me a considerable amount of fiddling to figure out that there was no default export of `/` created by the `CephNFS` CRD.

It also appears that there is no CRD or other means of automating the management of exports.  I would very much like to know how folks are managing the exports... is there a script to manage the rados config objects directly? An example of using the to

[2021-07-01 17:16] jhoblitt opened #8231 "Unable to create more than 2 working CephNFS resources"
Using a test cluster of 3 nodes with 4 OSDs configured per node, I am able to create at least 4 working `CephFilesystem` resources, which all show in the dashboard as working and the data/metadata pools are created successfully.  All FS are created using the same basic template of:

[code]

However, when I attempt to create a `CephNFS` resource per `CephFilessytem`, only the first two created work

[2021-07-01 17:22] travisn commented on #8220
The fundamental issue seems like the mons were out of quorum, not sure the health warning and the mgr are related to that. Did you only have a single node down? Could there have been two mons on the same node? You have `mon.allowMultiplePerNode: false` in the cluster CR, right?

[2021-07-01 17:29] jhoblitt opened #8232 "document how to mount CephNFS/ganesha exports into a pod"
It seems that the nfs driver as used via a pod spec inline ephemeral volume, does name resolution via the host and not through the k8s clusters internal name resolution.  At least this is true for rke.  Search engine results suggest this is true for most k8s distros but possibly not the case with gke.  In any event, this pod spec will fail:

[code]
It took me several hours to figure out a satisfac

[2021-07-01 17:52] jhoblitt opened #8233 "one svc that balances across all CephNFS server instances"
At present, `CephNFS` resources will result in an svc being created for each server instance:

[code]
[code]
The service selector is specific to each ganesha server:
[code]
In my environment, there are lots of pods being dynamically created and it isn't really feasible to configure all pod to use a specific server instance in order to distribute the load (there is also a name resolution issue, see

[2021-07-01 18:14] travisn commented on #8209
`noout` would not affect the `down` status, you're correct.
In my minikube test cluster with 3 OSDs, if I stop one of the OSDs it immediately is marked down (no longer marked `up` in the `ceph osd status`), so I'm not clear why ceph wouldn't be marking your osd as down.

[2021-07-01 18:24] jhoblitt opened #8234 "parameter to control CephNFS svc type"
I am manually creating a `type: loadbalancer` svc for `CephNFS` server instances in order to allow for access to NFS export external to k8s.  E.g.:
[code]

I would be convenient if it was possible to make an externally accessible export with a parameter on the `CephNFS` CRD.

Related to #8232 #8233

[2021-07-01 20:01] #7485 closed

[2021-07-01 22:17] jhoblitt commented on #8187
Is there a plan to publish a beta version of the `rook-ceph-cluster` chart? It does not appear to be published in the repo listed in the docs: https://github.com/rook/rook/blob/master/Documentation/helm-ceph-cluster.md

[code]

[2021-07-01 22:21] travisn commented on #8187
In v1.7 it's planned to be published to the `release` channel. In the meantime, it's in the `master` channel as found in [the release docs](https://rook.github.io/docs/rook/v1.6/helm-ceph-cluster.html#master-channel), which are slightly different from the master doc you referenced, which will become the v1.7 doc when it is released.

[2021-07-01 22:26] jhoblitt commented on #8187
@travisn Thank you yet again. I'm giving it a try now.

[2021-07-01 22:38] travisn opened #8235 "OSDs will fail to reconcile if their storageClassDeviceSet declaration is removed from CephCluster CR"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
If a storageClassDeviceSet declaration is removed from the cluster CR, Rook should be able to continue reconciling the OSDs based fully on the existing OSD deployment. However, the reconcile fails because the desired state is still expected by the operator.

[code]

The issue appears to be that the OSD

[2021-07-02 02:11] zzswang commented on #7940
@BlaineEXE

Thank you for fixing it.  I'm walk away for a while since some busy work.

I will test it as soon as possible.

[2021-07-02 03:03] subhamkrai opened #8239 "helm suite failing"
helm suite failing with error
[code]

[2021-07-02 03:05] subhamkrai commented on #8239
I was expecting this as mentioned [here](https://github.com/rook/rook/pull/8170#issuecomment-869445923) was waiting to happen in CI.

[2021-07-02 03:27] adorkkk commented on #6147
Sorry for getting back to you late, i have solved it by disabling rook. Thanks @varshar16

[2021-07-02 04:30] abursavich commented on #7212
Sure, I can open a PR for that.

[2021-07-02 05:46] #7020 closed

[2021-07-02 10:00] preslavgerchev commented on #7940
@BlaineEXE  I just tried a fresh deployment using rook/ceph:v1.6.0.508.g037945a. This time I set `useAllNodes` and `useAllDevices` to `true`. OSDs still got deployed on these freshly created partitions, however upon inspecting them with `parted` I get the following output (this is on an `Ubuntu 20.04.2`):
[code]

So in my case at least I would say it's expected that OSDs are deployed there since i

[2021-07-02 14:41] prazumovsky commented on #7212
@abursavich @travisn thanks!

[2021-07-02 14:56] subhamkrai opened #8245 "failed to delete bucket"
**Is this a bug report or feature request?**
* Bug Report
error deleting object
[code]

**How to reproduce it (minimal and precise):**

kubectl create -f crds.yaml -f common.yaml -f operator.yaml
kubectl create -f cluster-test.yaml
kubectl create -f object-test.yaml
kubectl delete -f object-test.yaml

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if neces

[2021-07-02 14:57] subhamkrai commented on #8245
operator logs
[code]

[2021-07-02 16:08] BlaineEXE commented on #7940
Thanks for the details @preslavgerchev. It seems this rabbit hole goes deeper, and this issue is not fixed. I'm reopening it.

My best guess for why this is happening is that parted has a stricter definition for Atari partitions than the kernel and therefore registers the partitions as `unknown` after the kernel sees them as Atari.

I have started working on #8200 which will change Rook's behavior

[2021-07-02 16:11] #8149 closed

[2021-07-02 16:11] #7872 closed

[2021-07-02 17:58] travisn commented on #8233
@jhoblitt Did you get it working in your environment by creating a single service as you described?

@jtlayton As I recall, the individual NFS services for each NFS pod were created so that the clients could have affinity to an individual service. But is that really needed? If a single service is created, would clients any bind to the NFS server pod for the lifetime of their connection?

[2021-07-02 18:01] travisn commented on #8234
@jhoblitt The external connections will depend on the environment, so Rook's approach has been to document different ways to connect to the services, such as seen in the [dashboard topic](https://rook.github.io/docs/rook/v1.6/ceph-dashboard.html#viewing-the-dashboard-external-to-the-cluster). Would similar documentation work in this case, or what solution are you suggestion rook could automate and

[2021-07-02 18:04] travisn commented on #8232
How was #8234 different from this issue? Seems like we need the same documentation solution for either one?

[2021-07-02 18:08] jhoblitt commented on #8232
This issue is requesting documentation on how to mount an export into a pod. AFAIK this is not currently mentioned in the docs.  #8234 is asking for a change in the the CephNFS CRD.

[2021-07-02 18:19] jhoblitt opened #8251 "rook-ceph-cluster chart toolbox.enabled causes template error if cephClusterSpec.network.provider is not set"
I am testing the version of `rook-ceph-cluster` currently published in the `rook-master` repo. Which is showing as version `0`.

I was able to sucessfully create clusters by migrating over my existing cephCluster.spec.  However, when I add the following block into the yaml:

[code]
I get this error from helm as `cephClusterSpec.network.provider` is undefined in my helm override values and is also

[2021-07-02 18:21] jhoblitt commented on #8187
I'm closing as this feature exists but there seems to be minor template bug. See #8251

[2021-07-02 18:21] #8187 closed

[2021-07-02 18:26] jtlayton commented on #8233
IIUC, you want to create a single service (addr/port combo) that will distribute the clients to the various NFS servers? How will this distribution be done? Is it stable across TCP connections for a single client?

The issue is that each ganesha head in the cluster acts semi-independently. They are not aware of the stateids that have been handed out by other servers, so if the client tries to recl

[2021-07-02 18:47] jhoblitt commented on #8233
@travisn Yes but only at the proof of concept level. I have not yet tried to hammer it with multiple active clients.

@jtlayton This is my first ever experience with ganesha and know very little about it.  Many years ago I setup load balanced nfs using GPFS.  GPFS has a feature called "cNFS" which puts state into a path on GPFS, so that it is visible to multiple linux kernel nfs servers.  I have f

[2021-07-02 19:03] jhoblitt commented on #8233
Looking at the docs, it sounds like out of the box `kube-proxy` (which I am using) will support `service.spec.sessionAffinity: ClientIP`.

https://kubernetes.io/docs/concepts/services-networking/service/

AFAIK a svc with `type: loadBalancer` still hands traffic off the instance of `kube-proxy` running on each node.  The question then is how to make which node the loadbalncer directs traffic to st

[2021-07-02 19:19] travisn commented on #8251
The network provider should not be necessary, and default to the pod network.
@henryzhangsta could you take a look?

[2021-07-02 19:21] jhoblitt commented on #8233
I had forgotten that I have access to a DDN appliance with does NFS exports of GPFS internally using multiple VMs.  It isn't at all clear to me what it is doing.  The `sunrpc` and `nfsd` filesystems are mounted in the usual places but it does have a `.ha` dir under the configured "cNFS" shared root with a bunch of stale files:

[code]

[2021-07-02 19:23] jhoblitt commented on #8233
The simple answer may be to run only a single nfs server instance...

[2021-07-02 19:37] jtlayton commented on #8233
Yes, it's a rather difficult problem actually. An NFS server is different than a lot of typical kubernetes services in that there is significant state that must be preserved and reclaimable across multiple connections, crashes, etc. rados_cluster is a scale-out solution, but distributing clients among those nodes is rather tricky.

The *simplest* solution to this problem is really to just use roun

[2021-07-02 21:51] jhoblitt commented on #8233
The problem with DNS load-balancing is that in the best case it takes 60s to overcome caching to remove an IP in the event of a failure.  Also, AFAIK there is no existing k8s automation to setup coredns to serve up multiple IPs based on a selector.

[2021-07-02 22:53] jtlayton commented on #8233
...and that is the point I'm trying to make.

You can't just remove an IP when there is a failure. The whole scheme is predicated on being able to (quickly) resurrect a server head that has gone down. IOW, rados_cluster is a scale-out solution, not a HA solution. If you want HA, you'll need to couple it with something to provide that.

In principle you could use rados_cluster to gang together a se

[2021-07-04 20:18] kondas opened #8255 "Can't create OSD when block is RAW, metadata is LVM"
**Is this a bug report or feature request?**
* Bug Report

**Environment**:
* OS (e.g. from /etc/os-release):  Debian GNU/Linux 10 (buster)
* Kernel (e.g. `uname -a`): Linux 4.19.0-17-amd64 SMP Debian 4.19.194-2 (2021-06-21) x86_64 GNU/Linux
* Cloud provider or hardware configuration: Baremetal
* Rook version (use `rook version` inside of a Rook Pod):  v1.6.7
* Storage backend version (e.g. for ce

[2021-07-04 20:49] kondas commented on #8255
If using device mapper path, privisioning results in different error.
[code]

[code]

[2021-07-04 21:02] hezise commented on #8220
Hi,
Yes I had only one node down.
and regarding the second question the answer is yes

[2021-07-05 07:18] leseb commented on #8245
Can you turn on DEBUG on the operator when you see this? Thanks!

[2021-07-05 08:33] leseb commented on #8255
It looks like a `ceph-volume` limitation, please consider opening a bug here https://tracker.ceph.com/projects/ceph-volume instead to whether this is a supported scenario.
Thanks!

[2021-07-05 08:33] #8255 closed

[2021-07-05 08:36] #7063 closed

[2021-07-05 09:19] #8231 closed

[2021-07-05 09:21] #8141 closed

[2021-07-05 09:23] #8251 closed

[2021-07-05 09:23] #7695 closed

[2021-07-05 10:33] suseether commented on #4772
i am facing similar issue. but while i run rbd umap command from the pod where rbdplugin is running i still get the below error

rbd: '/dev/rbd0/replicapool/csi-vol-525dda30-86ed-11eb-8ad0-02674f0df230' is not a block device
rbd: unmap failed: (22) Invalid argument

any help to identify the issue.

[2021-07-05 10:39] Madhu-1 commented on #4772
The command is wrong it should be either `/dev/rbd0` or `replicapool/csi-vol-525dda30-86ed-11eb-8ad0-02674f0df230` should be input for  rbd unmap command.

[2021-07-05 12:31] paxnil opened #8264 "LV-backed PVC OSD pods CrashLoopBackOff when upgrading from v1.5.5 to v1.6.7"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When I update operator image to v1.6.7, all OSD pods could not start.

**Expected behavior:**
OSD pods all started.

**How to reproduce it (minimal and precise):**

I noticed that updated osd deployment removed host path `/dev`.
[code]
Now I have to add it back manually to recover service.

**File(s) t

[2021-07-05 17:04] lyind commented on #6654
Just in case, I had this issue with LVM volumes for `--db-devices` (filled by rook's metadataDevice).

Looking through the Ceph ceph-volume source code, in particular class `ceph_volume.util.device.Device`, I found specifying the logical volume in "vg/lv" format works.

So use for example `metadataDevice: "vg-metadata-0/metadata-0-2"`
(instead of `metadataDevice: "/dev/vg-metadata-0/metadata-0-2"`

[2021-07-05 21:32] lyind opened #8266 "Rook volume.go initializeDevicesLVMMode() incompatible with ceph-volume"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Bogus error message emitted by pod/rook-ceph-osd-prepare-node-*, prevents OSD initialization:
[code]

**Expected behavior:**
Configuration with LVM metadataDevice is applied and OSD initialized.

**How to reproduce it (minimal and precise):**
Configure a dedicated, pre-assembled LV (logical volume) as

[2021-07-06 03:09] willzhang commented on #6406
but helm just install rook operator, not install ceph cluster

[2021-07-06 03:13] willzhang commented on #6406
in china , we can't pull k8s.gcr.io , for chinese install rook More difficult!

[code]

pull error
[code]

1.6.6 images
[code]

[2021-07-06 03:26] subhamkrai commented on #6406
@willzhang since rook 1.6.5 we have an experimental feature for helm Ceph Cluster too. https://github.com/rook/rook/releases/tag/v1.6.5

[2021-07-06 03:33] guqiu369 opened #8268 "mon status is CrashLoopBackOff, Last State: Reason: Completed"
Create a Rook Ceph Cluster fail.

mon Last State:

[code]

**mon Log：**

[code]

mon  pod status
[code]

[2021-07-06 04:54] subhamkrai commented on #8210
@batrick is there another way apart from using `--force`?

[2021-07-06 05:15] Madhu-1 commented on #6406
@willzhang images in `k8s.gcr.io` are not maintained by the Rook team, these are maintained by https://github.com/kubernetes-csi team. You may need to check with the kubernetes CSI team to provide an alternative to use these images?

[2021-07-06 06:25] zamnuts commented on #7753
Hit this bug today, while i don't have prepare logs, i can provide more details:

- `ceph -v`: `ceph version 16.2.2 (e8f22dde28889481f4dda2beb8a07788204821d3) pacific (stable)`
- `ceph health`: `HEALTH_OK`
- kubernetes: vanilla, 1.20.8
- No issues on rook@1.5 as the SSD OSDs had the proper device class.
- A fresh install of 1.6 now includes a nvme metadata device per host, which caused the OSD pre

[2021-07-06 07:14] fzhan commented on #7365
Any follow up on this issue?

I actually have a test cluster where the bucket / pool could not be removed. Any instruction to help with bucket deletion?

Thanks in advance,

[2021-07-06 07:40] willzhang commented on #6406
i can find k8s.gcr.io/sig-storage/xxx  image in values.yaml，values.yml variable should map to template/xx.yml，but why this image can not found in template files.

[code]

what i want is pull k8s.gcr.io/xx to my private registry then run follow command , i don't want to edit yaml file by hand
[code]

[2021-07-06 07:53] Madhu-1 commented on #6406
these images https://github.com/rook/rook/blob/master/cluster/charts/rook-ceph/values.yaml#L272-L283  will be added as an ENV variables in Rook deployment https://github.com/rook/rook/blob/master/cluster/charts/rook-ceph/templates/deployment.yaml#L153-L180. you can specify these images as you specify other options and documentation is available at https://github.com/rook/rook/blob/master/Documenta

[2021-07-06 09:04] willzhang commented on #6406
greate，thanks, I didn't see it before
[code]

[code]

[2021-07-06 09:47] willzhang commented on #6450
can you reopen it?

[2021-07-06 10:11] thotz commented on #7365
IMO this https://github.com/rook/rook/pull/8112 will fix above issue. It is merged in master. And is targetted for rook v1.7

[2021-07-06 12:42] golgotow opened #8271 "rook external on pi4, no csi driver"
Hello,

cluster microk8s 1.20.7, deployed on raspberry pi 4 8G with 3 nodes.

root@rpi8g-1:~# kubectl get nodes
NAME      STATUS   ROLES    AGE    VERSION
rpi8g-1   Ready    <none>   118d   v1.20.7-34+319a3a2dbb86f2
rpi8g-3   Ready    <none>   12d    v1.20.7-34+319a3a2dbb86f2
rpi8g-2   Ready    <none>   12d    v1.20.7-34+319a3a2dbb86f2

root@rpi8g-1:~# uname -a
Linux rpi8g-1 5.4.0-1038-raspi #41-U

[2021-07-06 12:45] Madhu-1 commented on #8271
https://github.com/rook/rook/issues/6772 or https://github.com/rook/rook/issues/6155#issuecomment-738786474 should help

[2021-07-06 12:49] #8271 closed

[2021-07-06 12:50] golgotow commented on #8271
thank you

[2021-07-06 14:43] batrick commented on #8210
@subhamkrai do not use ec pools for the default (primary) data pool. Add a directory layout on root for a secondary ec data pool instead.

[2021-07-06 14:56] #8239 closed

[2021-07-06 14:56] #2079 closed

[2021-07-07 08:29] Harisrini2020 opened #8273 "Rook-Ceph Storage less Performance"
Hi,

 - I am trying out some performance test for storage with rook ceph.
 - With default host based PV(Node directory), IOPS is very high.Whereas with rook ceph Cluster(Hostbased) IOPS are very low.
 - Eventhough I am using the local stroage(node), the read & wirte IOPS are very less in rook ceph.
 - Can I know why there is a huge difference. ?
 - Any other ways to increase performance of Storage

[2021-07-07 08:42] satoru-takeuchi opened #8275 "ceph: add pdb of mgr"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Create the PDB of MGR if its count is 2. Currently, Rook only creates PDBs of OSD, MON, RGW, and MDS.

**What is use case behind this feature:**

Improve the availability of services handled by mgr.

[2021-07-07 13:02] parth-gr commented on #8268
@guqiu369 Looks like the monitor is unable to join the quorum,
maybe because it is initialized with the wrong monitor keyring. I can see a similar [issue](https://github.com/ceph/ceph-ansible/issues/5863#issuecomment-723045322)  which was fixed by [PR](https://github.com/ceph/ceph-ansible/pull/6064).
Can I know which Rook version you are using?
And share your cluster CRD settings.

[2021-07-07 15:28] sharafcmr opened #8277 "Mon failover: post mon failover, wrong mon mappings updated in mon-endpoints configmap and secret"
**Is this a bug report or feature request?**
* Bug Report
We had three mons in a cluster(a,b & c), due to some issue operator detected mon-b as down  and failover by scaling down mon-b pod and creating mon-d. Post failover a,c & d are the mons running in cluster. However the rook-ceph-mon-endpoints config map and rook-ceph-config secret was showing 4 mons in the map as below.
configMap
[code]
rook

[2021-07-07 16:56] preslavgerchev opened #8279 "CephCluster deletion leads to orphaned CephBlockPool"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Deleting a `CephCluster` with a `CephBlockPool` present doesn't block until the pool is gone but rather deletes the cluster straight away.
**Expected behavior:**
I'd expect that the `CephCluster` reconciliation keeps retrying until the pool gets deleted as it's a [dependent](https://github.com/rook/roo

[2021-07-07 19:36] leseb opened #8280 "do proper error type assertion in exec package"
See this thread https://github.com/rook/rook/pull/8272#discussion_r665524183.
The goal is to get ride of:

[code]

And get the assertion on `kexec.CodeExitError` working properly.

[2021-07-08 19:05] tibbe opened #8284 "Using the same cephfs PVC twice in spec.volumes causes mount timeout"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Using the same cephfs PVC twice in `spec.volumes` on a single pod causing mounting to fail (timeout).

**Expected behavior:**
It should be possible to use the same cephfs  PVC twice in `spec.volumes` on a single pod.

**How to reproduce it (minimal and precise):**

Use the same cephfs, as per the examp

[2021-07-08 20:01] #7447 closed

[2021-07-09 01:48] satoru-takeuchi commented on #8209
@travisn @sp98 I found that PDB is not set in my cluster. So some pgs might be less than `min_osds` during node reboot. I close this PR for now.

[2021-07-09 01:48] #8209 closed

[2021-07-09 14:03] wyq984700527 opened #8290 "rook-nfs incorrect mount option"
is this a bug?
![image](https://user-images.githubusercontent.com/52362142/125089913-5ad41f00-e101-11eb-8891-2ab878f4b119.png)

[2021-07-09 14:12] wyq984700527 commented on #8290
how to config this ip?
![image](https://user-images.githubusercontent.com/52362142/125091135-bb179080-e102-11eb-8451-735a2d4fe8ed.png)

[2021-07-09 23:01] sangramnayak1 opened #8292 "Unable to create OSD pods for Rook-v1.6.7 and Ceph-v16 on k8s cluster."
I am unable to create OSD pods using **`Rook-v1.6.7`** build on below /dev/xvdc disk has ext4 FSTYPE where as **`Rook-v1.1.1`** works perfectly fine on same disk and fstype. I am using below cluster.yaml. Could you please help here to fix the issue when providing **`useAllDevices: false`**?

- **Environment**:
CentOS 7.6
Rook 1.6.7
Ceph v16
Kubernetes v1.19.11

- **cluster.yaml**
[code]

- **Devic

[2021-07-10 19:57] RyuunoAelia commented on #7746
I had this exact issue when updating my ceph cluster from 1.6.0 to 1.6.5 using rook-ceph 1.6.7. From what I have seen in the logs it tried to first disable the global_id and then restarted the OSD.0 which failed to restart. Enabling back the feature without silencing the warning seems to have fixed the issue.

[2021-07-11 11:44] Mutantt commented on #7940
Hi
I have the same problem and also used  deviceFilter: ^sd[a-z]+ but nothing changed.every time I deploy new cluster between 17 ~ 22 OSDs appear (we have 12 raw disk with 1.7 TB each). when I use ceph osd tree command the result is 12 OSDs are up and others are down.

[2021-07-12 03:35] satoru-takeuchi commented on #8292
c-p from slack.

Ceph has two types of data stores. One is BlueStore, which consumes raw block devices. The other is FileStore. It's created on top of a filesystem. Creating FileStore is no longer supported in v1.6. Empty raw block volume is needed to create an OSD.

[2021-07-12 04:51] prernasony commented on #4426
@ChanSays Are you still working on it ?

[2021-07-12 05:40] bluikko commented on #1523
https://github.com/rook/rook/blob/master/Documentation/ceph-advanced-configuration.md#use-hostnetwork-in-the-rook-ceph-cluster-configuration would make it look like it is possible using hostNetwork, is that not true and Multus is the only option?

[2021-07-12 05:48] subhamkrai commented on #8135
@travisn In the past also we have discussion if we want' to merge `all()` and `deviceset()` or not and also `deviceset()` and `spec.resources.osd` in case of both pvc's and non-pvc.

So, to confirm this is want to go with, overwriting other fields with `all()` if specified?

[2021-07-12 07:04] leseb commented on #1523
Both are possible.

[2021-07-12 09:28] sangramnayak1 commented on #8292
Thanks @satoru-takeuchi for your reply.

`Creating FileStore is no longer supported since v1.4` but on Ceph [storage-devices](https://docs.ceph.com/en/latest/rados/configuration/storage-devices/) it is mentioned that `BlueStore consumes raw block devices or partitions` not sure what does that partition mean.
.
Hence I kept my previous partition used over Rook-v1.1.1 as usual and made the change to

[2021-07-12 10:53] satoru-takeuchi commented on #8292
In this case, partition means empty raw partition.

[2021-07-12 12:24] hbahadorzadeh commented on #7940
We have the same problem and I've checked you code, you're using parted command to check disk partition table type which definitely does not recognize Atari file system(I've report this bug to parted team). Instead you cloud use blkid which give you a correct output.

[code]
I hope this helps you resolve the issue.

[2021-07-12 13:14] satoru-takeuchi commented on #8264
@paxnil Sorry for the late reply.

It's odd. This log shows that "/dev/devx/rook0" didn't exist.

I have some questions and requests.

## Q1

[code]

Do you mean that above-mentioned

[code]

was missing? In addition, the `name` field was "devi"? Or it was "devices"?

## Q2

I guess you have at least three PVs because your `cluster.yaml` declares three OSDs should exist. If its correct, could you

[2021-07-12 13:28] sangramnayak1 commented on #8292
I am closing this item as this isn't a BUG. There has been many changes happened between v1.1 to v1.6 and I as an user had no solid knowledge over migration to latest release version.

Thank a lot @satoru-takeuchi.

[2021-07-12 13:28] #8292 closed

[2021-07-12 14:12] nullps opened #8298 "Creating Ceph object stores broken after update"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When creating new CephObjectStores on our newly upgraded rook-ceph cluster it fails to create the deployments
**Expected behavior:**
It crates deployments for RGW daemons

**How to reproduce it (minimal and precise):**

Today we upgraded from rook-ceph 1.5.10 to 1.6.7, then upgraded the underlying Ceph

[2021-07-12 14:13] #8298 closed

[2021-07-12 14:14] timbuchwaldt opened #8299 "Creating RGW / ObjectStores fails after upgrade"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When creating new CephObjectStores on our newly upgraded rook-ceph cluster it fails to create the deployments
**Expected behavior:**
It crates deployments for RGW daemons

**How to reproduce it (minimal and precise):**

Today we upgraded from rook-ceph 1.5.10 to 1.6.7, then upgraded the underlying Ceph

[2021-07-12 16:29] CodingSpiderFox commented on #6519
... still no solution?

[2021-07-12 16:48] travisn commented on #7365
@BlaineEXE Is there a scoped fix for this issue we could backport to 1.6, or does this need to wait for 1.7?

[2021-07-12 16:52] travisn commented on #6450
Rook only creates the services that can be accessed within the cluster. There are so many other types of services, load balancers, etc, that Rook does not have those options in the CRs. Even though there is a helm chart now for the cluster CR, there is still not an option in the cluster CR for creating a nodeport service. This service will need to be created separately from Rook.

[2021-07-12 17:12] BlaineEXE commented on #7365
I could look into a scoped fix, but it would have to be a newly-created solution. The solution for 1.7 is based solely on bucket presence and doesn't actually use the k8s API to find OBCs.

Given that the issue is fixed in 1.7, I wonder if a workaround is acceptable for users of 1.6 where they remove the finalizer on the `CephObjectStore` when they want to delete it, and then remove the pools for

[2021-07-12 17:20] BlaineEXE commented on #8279
#8012 fixed this issue and will be released with Rook v1.7. You found the code in the master branch, but it is a breaking change to backport to v1.6. The [design document](https://github.com/rook/rook/blob/master/design/ceph/resource-dependencies.md) provides a lot more details and reports at the top that this is targeted for v1.7.

[2021-07-12 17:21] #8279 closed

[2021-07-12 17:50] voarsh2 commented on #4238
I still get this issue and haven't been able to get your workarounds working.

[2021-07-12 18:35] travisn commented on #8264
It looks like previous to 1.6, `/dev` was always mounted for [lvm mode](https://github.com/rook/rook/blob/release-1.5/pkg/operator/ceph/cluster/osd/spec.go#L315-L320), but since 1.6 it is only mounted for the [non-pvc mode](https://github.com/rook/rook/blob/release-1.6/pkg/operator/ceph/cluster/osd/spec.go#L342-L347). Seems like we need to add the mount for the lvm mode on PVC. @satoru-takeuchi Wa

[2021-07-12 18:46] travisn commented on #8135
Ok, it seems we need a setting in the cluster CR such as: `independentAllPlacement: false | true`, where the default is `false`. The setting only seems to apply to the OSDs, so perhaps it should go under the `storage` section.

@subhamkrai Agreed that this would apply to the placement merge behavior for both storageClassDeviceSets and non-pvcs.

[2021-07-12 19:33] Trackhe commented on #6519
Still yes

[2021-07-12 19:35] satoru-takeuchi commented on #8264
@travisn OK, I overlooked this change. I'll send a PR.

[2021-07-12 20:02] #7500 closed

[2021-07-12 21:59] travisn commented on #8284
@tibbe Please share the logs from the cephfs volume plugin on the node where it was mounted, it seems likely an error would be seen there
@Rakshith-R Is this scenario expected to work?

[2021-07-12 22:19] travisn commented on #8277
@sharafcmr Do you have the operator log from the time that the mon failover was completed? It is expected that there will be 4 mons in the configmap/secret temporarily, then the failed mon-b would be removed from the configmap/secret after the new mon-d starts and mon-b is removed from ceph quorum. It is not expected that all four mons would remain there after mon-b is removed from ceph quorum. Do

[2021-07-12 22:48] travisn commented on #8273
Comparing the local PV to a network software-defined storage system is not a fair direct comparison. The local PV is going to be much higher performance because it is just a local filesystem. Ceph has a network stack with multiple OSDs that gives you high data integrity, resilience, and replication to survive failure in a distributed system. Please see the [Ceph architecture doc](https://docs.ceph

[2021-07-12 23:00] travisn commented on #7753
@zamnuts Does your cluster CR specify the `nodes.devices.config.deviceClass` property similar to the original issue reported? I'm not clear if ceph's auto-detection for the device class is not working for you, or if the deviceClass from the cluster CR is not being applied.

[2021-07-12 23:05] travisn commented on #8266
Rook expects raw devices and partitions as specified in the [prerequisites](https://rook.github.io/docs/rook/v1.6/ceph-prerequisites.html#ceph-prerequisites), rather than providing an LV.

[2021-07-13 02:10] zamnuts commented on #7753
@travisn yes, I tried both with and without. I initially started _without_ explicit `deviceClass` and found that SSDs were being given the `hdd` class. I purged the cluster (as in all of rook, including zeroing disks, removing /var/rook, etc.), and tried again while explicitly declaring the `deviceClass` which still marked my SSDs as `hdd`.

I use an NVMe metadata device, automatically partitioned

[2021-07-13 02:58] paxnil commented on #8264
@satoru-takeuchi

# Q1
`volumeMounts` and `volume` are both missing.
The `name` field was `devices`.

# Q2

[code]

[code]

[code]

[2021-07-13 04:00] satoru-takeuchi commented on #8264
Thank you!

[2021-07-13 08:59] thotz commented on #8299
From the logs it looks like `generic cephobjectstore` got created. `Healthcheck` failed with an error. Can you check pods are up and running? if yes can u please share logs for rgw pods? And please share o/p of `kubectl -n rook-ceph  describe cephobjectstore`

[2021-07-13 10:44] mitchese commented on #8299
I think there's a bit of misunderstanding on this. We created the CephObjectStore, and expected the operator to create a Service + Deployment.

The service is created, but the deployment is not. The pods are not up and running because there is no deployment. This means the healthcheck failure you're seeing is because the ceph-object-controller is trying to reach the service (exists), but does not

[2021-07-13 13:05] Rakshith-R commented on #8284
Tried locally, there is no request that hangs or errors.
(I don't see this causing any issue as `Changing this to only have 1 entry in volumes (e.g. data) that's referred to twice in volumeMounts works.`)

For me, it seems like its timing out on kubelet's side.
(a deadlock maybe ?)
Adding @Madhu-1 @humblec if  they have any inputs on this.
[code]

[2021-07-13 14:06] ecusnir opened #8307 "OSDs failed to upgrade to 1.6.7 due to disabling the insecure global id reclaim prematurely"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After setting ceph version 15.2.13 from 15.2.7, all the pgs become inactive. This happens after the monitors and managers are upgraded.

**Expected behavior:**
It is expected that all the ceph components to be upgraded without disruptions.

**How to reproduce it (minimal and precise):**

I have created

[2021-07-13 14:30] lyind commented on #8266
I tried to use a GPT partition as `metadataDevice` again and the error message suggests using a LV (see below).

### Partition metadataDevice
[code]
[code]

*OHOH!*

### LV metadataDevice

[code]

[code]

[code]

As evident, the later case (with LV) works, while the former (partition) doesn't. With Ceph v16.2.4, that is.

This means I can only fully utilize the hardware I have by specifying the LV

[2021-07-13 14:37] lyind commented on #8266
I know current/future cluster builds may not wish to use LVM anymore, especially on NVMe-only nodes.

But for the time being, maybe a little fix here (see PR) can allow lower-cost builds to operate.

[2021-07-13 14:44] parth-gr opened #8308 "Update packages version"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
These warnings are frequent:

[code]
**Expected behavior:**

No such warnings should be displayed.

**How to reproduce it (minimal and precise):**

1. Setup Rook on K8s version v1.21+
2. Observe the operator logs.

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`,

[2021-07-13 14:45] travisn commented on #7563
@rohan47 Do we just need to document adding this annotation? Or might the issue be fixed now with #8272?

[2021-07-13 14:48] travisn commented on #5400
Please reopen if something more than `monitoring.enabled` is needed.

[2021-07-13 14:48] #5400 closed

[2021-07-13 14:52] parth-gr opened #8309 "Flakiness in the CI on CephObjectStores"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Integration test CephSmokeSuite fails with an error :
[code]

**Expected behavior:**

Integration test CephSmokeSuite should run as expected.

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operato

[2021-07-13 14:53] travisn commented on #7427
Seems like we need a script that would handle this case. Since the most common case is for a single cluster, I wouldn't want to move them to a new file.

[2021-07-13 14:59] rohan47 commented on #7563
The issue is fixed by #8272.
We don't need annotations on the operator pod.

[2021-07-13 15:09] leseb commented on #7563
It's not fixed by #8272 since in external mode the mgr pod is not running. Rook will likely never set the annotations on the operator pod, so it's still nice to document this.

[2021-07-13 18:30] travisn commented on #8307
@ecusnir What does the full `ceph status` show in the toolbox?

I wonder if the insecure global id connections were disabled prematurely before the OSDs were upgrades. See [this issue](https://github.com/rook/rook/issues/7746#issuecomment-859129752) if it needs to be reenabled for the upgrade to proceed.

[2021-07-13 19:29] sethjones commented on #7940
In order to work around this a bit, is there a config setting for forcing rook to use the legacy lvm method for formatting new disk?

[2021-07-13 20:01] #7533 closed

[2021-07-13 20:26] #8264 closed

[2021-07-13 20:54] travisn commented on #7940
@sethjones There is not currently. See [this comment](https://github.com/rook/rook/issues/7940#issuecomment-873106778) for a deviceFilter workaround

[2021-07-13 21:18] travisn commented on #8308
What version of Rook was running? I don't see this upstream, perhaps it was an older downstream version? The other two examples look like a valid issue.

[2021-07-13 21:38] satoru-takeuchi commented on #8264
@paxnil Your problem will be fixed in the next stable release.

[2021-07-13 21:45] travisn commented on #8299
Setting the rgw settings must be failing. We only see the first setting printed, but if they succeeded, they would continue and we would see all [these settings](https://github.com/rook/rook/blob/ba397ffeb455e3b3cb67b84f1af105bf428c8eb3/pkg/operator/ceph/object/config.go#L107-L111). It seems like the error is not printed to the log, or else it is filtered out. With the full log, you don't see any

[2021-07-13 21:50] travisn commented on #8266
Thanks for the all the detailed background, makes sense to go with #8267. At least it's a simple fix!

[2021-07-13 22:14] AbstractVersion commented on #4699
same here!

[2021-07-13 22:19] BlaineEXE commented on #7940
Not all versions of blkid support atari.

On Ubuntu 18.04, `blkid from util-linux 2.31.1  (libblkid 2.31.1, 19-Dec-2017)` does not support atari.
But on Centos 8, `blkid from util-linux 2.32.1  (libblkid 2.32.1, 16-Jul-2018)` does support atari.

[2021-07-14 00:04] BlaineEXE commented on #7940
I looked at the linux code ([header](https://github.com/torvalds/linux/blob/master/block/partitions/atari.h) & [code](https://github.com/torvalds/linux/blob/master/block/partitions/atari.c)) as well as the [Atari AHDI disk spec](https://info-coach.fr/atari/documents/_mydoc/Atari_HD_File_Sytem_Reference_Guide.pdf) (see PART II) and tracked down the source of our woes with a hexdump from an affected

[2021-07-14 03:07] subhamkrai commented on #8135
so here's my approach according to my understanding
[code]

[2021-07-14 03:50] Harisrini2020 commented on #8273
We have three types of Ceph Cluster in rook,

- PVC Based Ceph Cluster
- Host Based Ceph Cluster ( Node's local diectory)
- Stretch Ceph Cluster

In this, I used Host based Cluster.

[2021-07-14 05:50] putianhui opened #8314 "Unable to create cluster CEPH"
[code]

cluster.yaml
[code]

Use the following node configuration to succeed

[code]

[2021-07-14 06:00] thotz commented on #4315
@travisn : Sure I will take a look. The changes look straight forward, but it may require some amount of testing IMO

[2021-07-14 06:20] putianhui commented on #8314
I want to create a cluster by specifying datanode and device of datanode

However, once specified, it cannot be created successfully

Use all nodes and all devices to create successfully

[code]

[2021-07-14 08:25] timbuchwaldt commented on #8299
Hi Travis,
I pulled the logs from creating a new ObjectStore: https://gist.github.com/timbuchwaldt/48626ef9089bae02ffc056230e448b25

Ceph status is healthy, the example command worked without an error. I tried again a few times, also deleted the dashboard-admin & the rgw-admin-ops-user in radosgw-admin to ensure they are re-created with the correct settings (feared sth like permission change due t

[2021-07-14 08:34] lweberru opened #8315 "Creation of PVC stayes in pending (failed to provision volume with StorageClass...)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
creating of a pvc fails. PVC stays in state Pending with error message:
failed to provision volume with StorageClass "nfs-premium-perf4": nfsservers.nfs.rook.io "rook-nfs" not found

[code]

**Expected behavior:**
pvc is getting created without error message.

**How to reproduce it (minimal and precise

[2021-07-14 09:10] Mutantt commented on #7940
@travisn Unfortunately this doesn't work, I used  deviceFilter: ^sd[a-z]$ instead of deviceFilter: ^sd[a-z]+ and I got the number of OSDs that I expected to appear in cluster,but I faced with new problem. version detect pods appear in cluster every minute and prepared osd pods running again and again.is it ok ?

[2021-07-14 10:44] AliMD commented on #2775
Same issue
Delete all `rook-*-token-*` secrets solved my issue 👍

[2021-07-14 11:28] lweberru commented on #8315
found a stupid type:

nfs-storageclass.yaml:

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  labels:
    app: rook-nfs
  name: nfs-premium-perf4
parameters:
  exportName: premium-perf4-share
  nfsServerName: rook-nfs
  nfsServerNamespace: **rook**-nfs
provisioner: nfs.rook.io/rook-nfs-provisioner
reclaimPolicy: Delete
volumeBindingMode: Immediate

[2021-07-14 11:28] #8315 closed

[2021-07-14 11:36] ecusnir commented on #8307
[code]
This is how the logs were looking like.

I have checked that the clients are using the latest CSI version. This was a new rook deployment I used only for testing the upgrade.

[2021-07-14 12:54] sethjones commented on #7940
I can also confirm that the work around did not work for me as well.  I have a recent disk that was added to an unused node, running v1.6.7 with the device filter, and still have multiple partitions being created.  But it sounds like a fix might be on the horizon.

[2021-07-14 15:34] BlaineEXE commented on #7940
The workaround will not stop the extra partitions from being created. That is due to a series of bugs in the Linux kernel when Atari support is enabled. The workaround should stop Rook from running OSDs on the extra partitions, however, which will prevent corruption.

[2021-07-14 15:38] BlaineEXE commented on #7940
RE: @Mutantt

This sounds like the operator is having some sort of reconcile issue. This might be a bug, but it would be a separate one. If you like, you can open up a new issue. Please make sure to include the operator logs in with debug log level enabled.

[2021-07-14 15:49] subhamkrai commented on #8210
@batrick can you share more details about it or maybe a doc link from where I can get some ideas about directory layout and primary/secondary pools?

[2021-07-14 16:15] BlaineEXE commented on #7940
Sorry @Mutantt and @sethjones. I think the correct workaround should be `deviceFilter: ^sd[a-z]+$` to ensure it stops matching after the alpha characters. I updated the workaround recommendations posted previously.

[2021-07-14 18:52] jhoblitt commented on #4772
The command to list devices should be:

[code]

[2021-07-14 20:10] jhoblitt opened #8317 "rook-ceph-mgr-dashboard svc configured for http/port 7000 when cephcluster.spec.dashboard.ssl: true"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The dashboard svc is configured to connect to the mgr pod on port 7000, which is the default port for http.
[code]

[code]

**Expected behavior:**

The dashboard svc should be configured to connect to the mgr pod on port 8443, which is the default port for https.

**How to reproduce it (minimal and pre

[2021-07-14 20:31] birdiesanders opened #8318 "Rook 1.6.7 running on fresh kubeadm-provisioned k8s fails to reconcile objectStore CR."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook operator logs this error when an objectStore CR is applied to the cluster.

`
2021-07-14 20:24:03.144365 E | ceph-object-controller: failed to reconcile failed to create object store deployments: failed to configure multisite for object store: failed create ceph multisite for object-store "demo-st

[2021-07-14 21:06] travisn commented on #8318
@birdiesanders The issue is that you don't have any OSDs. From the ceph status:
[code]

The object store cannot complete configuration until there are three osds across different nodes. See [this topic](https://rook.github.io/docs/rook/v1.6/ceph-common-issues.html#osd-pods-are-not-created-on-my-devices) to create OSDs.

[2021-07-14 21:11] travisn commented on #8307
@ecusnir Have all the OSD pods been upgraded now? (What does the ceph version label on the OSD deployments show?) If they are not upgraded, I still suspect the Insecure global id issue which I linked in the previous comment.

[2021-07-14 21:27] travisn commented on #8299
Does creating an object store with a different name succeed? Or any object store has the same issue? If any object store fails, I would suspect something in the core ceph health, but if it's health_ok not sure what else would cause it. You have at least three OSDs across different nodes, right?

Or I wonder if there is something in the previous object store pools that is impacting the creation of

[2021-07-14 21:27] BlaineEXE commented on #7940
Update on this: 3 of the fixes I have tried have failed. Even if Rook doesn't allow Ceph to provision the "phantom" partitions with OSDs, `ceph-volume` still gets confused and reports only the phantom partitions in `ceph-volume raw inventory`. These phantom partitions are almost always 48GB in size (smaller than the actual disk), and they have malformed information. This will be a problem if any o

[2021-07-14 21:29] travisn commented on #8314
From the error it appears you have a yaml format error. It's possible you have `nodes` indented too far.

[2021-07-14 21:31] travisn commented on #4315
Since the code changes are small and testing may be the more challenging part, you could also open the PR before testing is complete and ask the community to help validate. If the community asks for a feature, it's good to get their validation. :)

[2021-07-14 21:43] sethjones commented on #7940
So the new behavior in 1.6.8 will revert to the previous for the time being?  Rook will detect empty disks and create an LVM?

[2021-07-14 21:51] BlaineEXE commented on #7940
@sethjones that is the plan, partially. Raw mode will still be used for partitions. But the old behavior will be reverted for whole disks.

[2021-07-14 21:58] travisn commented on #8135
How about `skipApplyAllPlacement` instead? I think it's more readable. Then the implementation would look like:
[code]

And the `GetOSDPlacement()` would need to implement skipping applying the all placement if it's true.

[2021-07-14 22:13] timbuchwaldt commented on #8299
Quick update on the go: any. We recreated multiple with previously unused
names.
OSD count: like 8 or so per node, definitely > 3.
FWIW: we migrated from drive groups (yep, we where the only ones using it
probably) but the rest works fine.

Preservation: nope. Nothing changed AFAIK.

On Wed 14. Jul 2021 at 23:27, Travis Nielsen ***@***.***>
wrote:

[2021-07-15 00:14] batrick commented on #8210
Create an erasure coded pool and then: https://docs.ceph.com/en/latest/cephfs/file-layouts/#adding-a-data-pool-to-the-file-system

[2021-07-15 01:30] putianhui commented on #8314
您好，nodes配置段是和config配置段对齐吗？
是否像下面一样？
[code]

[2021-07-15 02:51] subhamkrai commented on #8314
@putianhui yes `nodes` should to be aligned with `config` or `nodes` should be under `storage`, here a doc example https://rook.io/docs/rook/v1.4/ceph-cluster-crd.html#storage-configuration-specific-devices

[2021-07-15 02:52] putianhui commented on #8314
Thank you very much for your reply. Your reply is very useful to me. Thank you

[2021-07-15 02:53] putianhui opened #8320 "@putianhui yes `nodes` should to be aligned with `config` or `nodes` should be under `storage`, here a doc example https://rook.io/docs/rook/v1.6/ceph-cluster-crd.html#storage-configuration-specific-devices"
@putianhui yes `nodes` should to be aligned with `config` or `nodes` should be under `storage`, here a doc example https://rook.io/docs/rook/v1.6/ceph-cluster-crd.html#storage-configuration-specific-devices

_Originally posted by @subhamkrai in https://github.com/rook/rook/issues/8314#issuecomment-880348372_

[2021-07-15 02:53] #8320 closed

[2021-07-15 02:53] #8314 closed

[2021-07-15 03:06] subhamkrai commented on #8309
@parth-gr ci is failing on `CephHelmSuite` or `CephSmokeSuite`? I see they are failing in `CephSmokeSuite`.

[2021-07-15 05:40] thotz commented on #8299
atleast from previous comment https://github.com/rook/rook/issues/8299#issuecomment-878981011, The objectstore CR contains
`Preserve Pools On Delete:  true`.

[2021-07-15 05:51] parth-gr commented on #8309
Yes, Updated the test name

[2021-07-15 16:04] jhoblitt opened #8321 "rook-ceph-mgr-dashboard svc not recreated by operator after deletion"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The svc is not recreated by the operator after deletion.
[code]

**Expected behavior:**

The svc is recreated by the operator.

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
Identical to #8317
* Ope

[2021-07-15 18:13] jhoblitt commented on #8233
Should we close this issue then as the request is for a configuration which might be unstable?

[2021-07-15 18:27] rounakpr opened #8323 "Node-Selectors value not getting populated with setting CSI_PROVISIONER_NODE_AFFINITY"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
Setting the **CSI_PROVISIONER_NODE_AFFINITY** parameter should set the `Node-Selectors` however the it is showing empty

```CSI_PROVISIONER_NODE_AFFINITY: "kubernetes.io/os: linux"```

[code]

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (

[2021-07-15 19:02] travisn commented on #8323
I thought the node affinity for CSI would be applied to the csi version detection job, but I'm not seeing it now. Looks like only the tolerations are applied. @Rakshith-R could you take a look?

[2021-07-15 19:32] BlaineEXE commented on #7940
In order to get back to using raw mode, there are a couple of things we need to fix. A user found a raw mode implementation issue in #8316 recently for one.

Related to the Atari partition issue:  `ceph-volume raw inventory` reports the phantom partitions (with malformed OSD information) **instead** of the originally-created disk-based OSDs. If disks change their friendly names (e.g., 'sda' become

[2021-07-15 19:46] travisn commented on #4043
For the flex and in-tree volume migration to CSI, we need a tool that will help automate the process. Here are some thoughts about how to create the tool.

## Goals

For some high level goals I would propose:
- The admin should retain full control of his application pods. The admin owns stopping and starting the application. I don’t believe we want to get in the business of messing directly with t

[2021-07-15 20:01] #7565 closed

[2021-07-15 20:02] #7413 closed

[2021-07-16 04:31] Yuggupta27 commented on #4043
Thanks @travisn for capturing all the points :)

Sure, sounds good. Scaling down operation should be done by admins before migration, and migration tool should relay the message to the admin about the completion of the migration process, so that they can scale the apps back up.

Just to emphasize, this process comes with downtime involved, but the goal of the tool will be to minimize the downtime

[2021-07-16 04:48] Rakshith-R commented on #8323
Yes, only Tolerations are being applied.
https://github.com/rook/rook/blob/9092c584052e8bb96d3da5bf81744d538ce7043b/pkg/operator/ceph/csi/spec.go#L718-L726

:+1: I'll modify it to add node affinity for CSI version detection job too.

[2021-07-16 04:51] Madhu-1 commented on #4043
Instead of individual PVC's how about source storageclass (intree/felx) to destination storageclass?

``` migrate-to-csi  --src-storage-class <intree/flex sc> --dest-storage-class <csi-sc>```

As we are doing for both intree and flex, this can be a generic tool that can be used outside of rook? can this go to `ceph` project?

We need to check if PVC is in use to avoid user mistakes by checking the

[2021-07-16 05:11] farhaan-shamsee commented on #8050
Hi Team,
We are also facing the same issue where the volumes claimed (folder) are not having the adequate permissions. Even when the parent folder(mount point) is having the read and write permission for groups and others the pvc folder created inside are not having the same.
Kindly let us know if there is any resolution to this or if it is being worked upon.

[2021-07-16 11:09] ecusnir commented on #8307
The OSDs were not upgraded because the operator detected that the cluster is unhealthy.

I will try the fix in the issue mentioned above and come back with more details.

[2021-07-16 11:21] AliMD opened #8329 "Ceph cluster lost and any recovery solution not worked. All OSDs are `in` but all PGs are `unknown`."
We've had a serious problem with our production cluster & we need urgent help. Thanks in advance.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After updating our kubernetes and rebooting our servers, our OSDs have stopped working. We tried our best to restore them, using all different methods, checking all possibilities, issues, documents, and c

[2021-07-16 13:48] travisn commented on #4043
This option means that the admin must stop all their application pods, run the conversion, then start all the applications again. I would think in a production cluster the admin would want to do it more fine-grained so all applications don't need to be stopped at the same time. But I could certainly see that we could have several different options here for flexibility, such as 1) migrate a specifi

[2021-07-16 13:54] travisn commented on #8329
If all PGs are unknown, it usually means either the OSDs cannot communicate with each other or the mons (network change?) or there is an issue with the auth.
- Was this the same ceph status with all OSDs `down` immediately after the K8s upgrade and before you went through the restore process? Or was there some different state before you went through the restore?
- After the node maintenance, did a

[2021-07-16 14:23] AliMD commented on #8329
@travisn
After kubernetes upgrade networking crashed and all OSDs pods failed to start again.
Then after restoring the snapshot, we had the same probem (communication problem between the OSDs and MONs) pobably because of the authentication.
After fixing all of the cluster issues, we tested setting autentication to none, then all OSD pods became ready but the operator and OSDs kept freezing many ti

[2021-07-16 14:24] AliMD commented on #8329
any way to manualy recover PGs or Mon data ?

[2021-07-16 15:31] travisn commented on #8329
You may need to restore the cluster from the OSD metadata. [This PR](https://github.com/rook/rook/pull/7154/files) hasn't been merged yet, but the instructions should be in a reasonable place.

[2021-07-16 15:41] AliMD commented on #8329
Thats greate and thank you.
We are in the middle of restoring everything again to rollback the original MONs data.
After that we will test the method you mentioned.

[2021-07-16 16:12] BlaineEXE commented on #4043
I think the concern about standing up new CI is a good one, but I don't see why we would need to include this tool in an image. This could easily be a standalone go binary users download and run on their machines. Our Rook images are already huge.

If the tool is created in a different repo, it would be easy for the tool to use `github.com/rook/rook/pkg` code as a library, so I don't think it's ne

[2021-07-16 16:34] travisn commented on #8076
As proposed in #8084, the flex driver would be removed from Rook in v1.8 (targeted for Nov 2021). A conversion tool will be provided in the v1.7 timeframe as under discussion with #4043.

[2021-07-16 16:42] travisn commented on #4043
The tool needs access to the K8s api so it needs to be run inside the cluster. If you're downloading a tool, are you curling it into a container such as the toolbox?

Adding another go package to Rook isn't going to change the size of the image, or at least it will be insignificant. I don't see size or bloat as an issue here. I'm looking for engineering efficiency for a short-term tool.

Rook is t

[2021-07-16 17:01] icpenguins commented on #7994
I have upgraded the Ceph images to v16.2.5 and upgrade Rook to v1.6.7. The issue still remains.

[2021-07-16 17:01] AliMD commented on #8329
@travisn

After restoring all data include `dataDirHostPath` and `etcd`
All OSD Pods down

[code]

An OSD Pod logs (same for all)
[code]

We can curl all 3 mons from any nodes and pods container
`curl http://ip:6789`
[code]

Should I disable auth by make `configmaps/rook-config-override` with this content?
[code]

[2021-07-16 17:13] travisn commented on #8329
Yes, try disabling auth to see if anything changes. Does `ceph auth ls` list auth for all the OSDs?

[2021-07-16 17:17] AliMD commented on #8329
@travisn

`ceph auth ls`
[code]

[2021-07-16 17:19] travisn commented on #7994
@icpenguins Are you able to create a cephfs volume with the csi driver as described in [this topic](https://rook.github.io/docs/rook/v1.6/ceph-filesystem.html)? Mounting with the CSI driver is the expected approach. A test approach is also described in the [direct mount](https://rook.github.io/docs/rook/v1.6/direct-tools.html) topic, but it's expected to just be a test or temporary approach.

[2021-07-16 17:19] AliMD commented on #8329
`ceph -s`
[code]

[2021-07-16 17:22] travisn commented on #8329
Ok, the auth is missing for all the OSDs. You could try creating the auth and injecting it into the OSDs as described [here](https://github.com/rook/rook/issues/4238#issuecomment-664627282). That procedure may not work exactly since you're on an other v1.1 build though. But I'm still wondering if the mon database was lost and needs to be restored from the OSDs.

[2021-07-16 17:28] AliMD commented on #8329
If the problem is about auth why nothing changes after disabling auth ?`

[2021-07-16 17:37] travisn commented on #8321
Ok, if there is a single mgr, the service is re-created. But in your case, you have two mgrs configured. What happens with two mgrs is the responsibility of creating the dashboard service belongs to a sidecar container in the mgr pod, rather than the operator when there is a single mgr. The mgr sidecar is only reconciling the service fully if there is a mgr failover (if ceph changes the active mgr

[2021-07-16 17:39] travisn commented on #8329
If disabling the auth doesn't help, you're right that those other instructions for restoring the osd auth won't help. Thus, back to my point that it appears the mon db is lost and needs to be recovered as described with #7154.

[2021-07-16 17:42] AliMD commented on #8329
I think mon db is ok because we restored all mon data from an old backup and keyring and id and etc seem to be ok!

[2021-07-16 17:56] AliMD commented on #8329
@travisn
I dont know how can all of the  3 mons DBs were lost together!
Do you really think we still need to recover mons DBs from OSDs?!

[2021-07-16 18:07] travisn commented on #8329
Some very disruptive events have happened in your cluster, between restoring snapshots, and upgrading rook and ceph with significant version jumps from Rook v1.2 to v1.6 and Ceph v14.2.9 to v16.2.4. These upgrades are only supported from rook minor versions (without skipping), and the Ceph major versions should be taken one at a time, see the [upgrade guide](https://rook.github.io/docs/rook/v1.6/c

[2021-07-16 18:50] icpenguins commented on #7994
@travisn I appreciate you providing these details. I had created the CephFS with the CSI driver. I followed the direct mount instructions and I was able to mount the CephFS in the container. But I still cannot mount it in other locations, including on the same network. What is the secret sauce in the container that I should know about?

[2021-07-16 20:16] AliMD commented on #8329
@travisn
So many errors and bugs in #7154 script. but I run it step by step and copy line by line and skip/fix the errors. problem not solved for me 😢

[2021-07-16 20:56] AliMD commented on #8329
In all OSDs containers `ls /var/lib/ceph/osd/` is empty! how it posible?!

@travisn Any recovery solution?!

[2021-07-16 21:32] travisn commented on #7994
It's likely related to the pod network in which the ceph daemons are running. Try installing the cluster with [network.provider: host](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L83) so the ceph daemons would be running on the host network.

[2021-07-16 21:47] mitchese commented on #8299
Ok I've isolated the issue :tada:

In our old version running on our production cluster, we have a mistake in the CephObjectStore definition. We don't use the secure endpoint, and have never noticed the invalid configuration of:

[code]
(note the missing cert ref; there is also no annotation, so the cert is nonexistent to the deployment)

On rook version 1.5.10 (and with ceph 15.2.10 ), this will

[2021-07-17 13:06] KShivendu commented on #8323
@Rakshith-R please assign it to me.

[2021-07-17 14:30] AliMD commented on #8329
@travisn
We rolled back everything to the last stable version.
RancherOS to v1.5.5, Kubernetes to v1.17, all rook deployements to original states.
Rolled back `/var/lib/rook` and etc.

OSD0 Logs
[code]

Operator Logs
[code]

`ceph -s`
[code]

`ceph auth ls`
[code]

[2021-07-18 10:40] hezise opened #8333 "after one node is powered off and powered on sometimes it fails to mount pv"
we are testing stability and recovery.
one of the test we do is powering off one of the nodes and after a while powering it back on.
we have 2 topologies:

- all nodes are in the same network
- nodes are located at different subnets

we've noticed that sometimes where nodes are located at different subnets one of the pods stays in init state and one in Terminating state.  looking at the descriptio

[2021-07-18 20:01] #7497 closed

[2021-07-19 03:08] subhamkrai commented on #8210
@travisn adding this link in the doc only will work?

[2021-07-19 07:33] sfxworks commented on #7858
Even with deviceClass as nvme set, it still tries to assign a metadata device. This time, to a device that doesn't exist on the node, complicating things further.

Yaml config
[code]

Rook operator accepting
[code]

Prepare job failing
[code]

Note that there is no metadata device specified for this OSD, `MetadataDevice":""`, yet it still tries to use it
[code]

[2021-07-19 07:43] sfxworks commented on #7858
Another update,
Removed the global metaData device and specified them individually. All seems to work. I am unsure about provisioning, but seems to match up to the json object created during provisioning.

Though it still is odd to me that there is no metaData device for that osd, there is only 1 osd on that node and it still wishes to try to configure it.

[2021-07-19 13:21] Rakshith-R commented on #8333
hey @hezise ,
Can you try running cephcsi v3.3.0 by changing it here https://github.com/rook/rook/blob/b65e088ec3061f51fe146a5b0adbe4f4c9736cf6/cluster/examples/kubernetes/ceph/operator.yaml#L75
And this to true, if it throws (`unsupported version` in operator logs)
https://github.com/rook/rook/blob/b65e088ec3061f51fe146a5b0adbe4f4c9736cf6/cluster/examples/kubernetes/ceph/operator.yaml#L71
There w

[2021-07-19 14:12] leseb commented on #8129
This means the CRD definition has not been injected in the Cluster.

[2021-07-19 14:14] pkalever commented on #8129
Thanks, @leseb, please close the issue.

[2021-07-19 14:17] #8129 closed

[2021-07-19 15:13] leseb commented on #8235
If the new name is an existing one that was lost, I believe it makes sense, at least it's expected.

[2021-07-19 15:18] #4238 closed

[2021-07-19 16:09] aasraoui commented on #6323
i'm seeing a similar issue with a drive one of the worker nodes:
ceph version 15.2.13
Rook v1.6.7
[2021-07-16 15:16:20,927][ceph_volume.process][INFO  ] Running command: /usr/sbin/lvs --noheadings --readonly --separator=";" -a --units=b --nosuffix -S lv_path=/dev/sdb -o lv_tags,lv_path,lv_name,vg_name,lv_uuid,lv_size
[2021-07-16 15:16:20,952][ceph_volume.process][INFO  ] stderr Udev is running and

[2021-07-19 17:26] hezise commented on #8333
Hey @Rakshith-R ,
I'll schedule this.
just one question, shouldn't 3.3.1 include 3.3.0?

[2021-07-19 17:56] Escaflow opened #8335 "changing NFSServer name will keep PVC in Pending State"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
PersistentVolumeClaim stays Pending if NFSServer name is not rook-nfs.

**Expected behavior:**
PersistentVolumeClaim get Bound if NFSServer name is not rook-nfs.

**How to reproduce it (minimal and precise):**
Create all resources from the documentation till the PersistentVolumeClaim
kubectl apply -f c

[2021-07-19 20:04] travisn commented on #8210
First, let's update the [Filesystem EC example](https://github.com/rook/rook/blob/master/Documentation/ceph-filesystem-crd.md#erasure-coded) to have two data pools:
[code]

This way Rook will create the pools and add them to the filesystem.

Then I understand the user will need to go ahead and provision their cephfs volume, and inside the volume set this attribute, where `<ec-pool>` is named somet

[2021-07-19 20:28] travisn commented on #7858
@sfxworks So it's working now? I'm not following what happened. Here are a few overall comments that may or may not help:
- Do you have a mix of nvme and hdds? That's the real scenario for specifying a metadata device. Otherwise, I don't expect you would benefit from specifying the metadata device for an OSD.
- If you specify the global `metadataDevice`, the same device name would be expected on a

[2021-07-20 02:34] aaa8141 opened #8336 "Put PVC label(s) on persistent volumes"
Is is possible to have persistent volume labeled as the same label PVC has in provisioning state?

[2021-07-20 03:53] salanki commented on #8085
Thank you for catching and fixing this. This has been haunting us for a while now!

[2021-07-20 05:08] yyt6200 opened #8337 "osds status is down.how to fix？"
Please help to see how to deal with it.

**ceph status**
--------------------------------------------------------------------------------------------------------------------------------------------
cluster:
    id:     59678fb8-bbf5-43b6-97af-001e4b65baa0
    health: HEALTH_WARN
            clients are using insecure global_id reclaim
            mons are allowing insecure global_id reclaim

[2021-07-20 09:28] Rakshith-R commented on #8333
@hezise
Yes cephcsi `v3.3.1` also has the fix but it may throw `Mons are allowing insecure global_id reclaim` (not entirely sure though) from this issue https://github.com/rook/rook/issues/7746.
You can use `v3.3.1` and use the workaround(to mute warnings) https://github.com/rook/rook/issues/7746#issuecomment-859129752 if you encounter the same.
Please do collect the logs before and after the node

[2021-07-20 11:38] Rakshith-R commented on #8336
hey @aaa8141 , Can you be more elaborate about what is the feature you want and it's corresponding use cases ?

[2021-07-20 13:30] hezise commented on #8333
@Rakshith-R
I updated the driver, I'll update if it helped

[2021-07-20 14:19] #8321 closed

[2021-07-20 14:22] leseb opened #8343 "Simplify exec helpers especially ExecuteCommandWithOutputFile() and ExecuteCommandWithOutputFileTimeout()"
### Discussed in https://github.com/rook/rook/discussions/8338

<div type='discussions-op-text'>

<sup>Originally posted by **leseb** July 20, 2021</sup>
While browsing the exec package (again), I'm wondering what's the purpose of both ExecuteCommandWithOutputFile() and ExecuteCommandWithOutputFileTimeout()?
It feels unnecessary to write to a file, read it and return its content when everything ca

[2021-07-20 17:27] tareqhs opened #8345 "operator fails to delete cephcluster with non-csi osd/mon volumes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator fails to delete the cephcluster resource and prints these errors in a loop:

**Expected behavior:**

rook-ceph-operator should handle deletion of `cephcluster` resources with OSDs and Mons having PVCs provisioned by non-csi drivers, e.g. `kubernetes.io/aws-ebs`.

This started only after mi

[2021-07-21 00:06] BlaineEXE commented on #4043
I don't know where that assertion is coming from. It's not necessary to run the utility inside the k8s cluster. It just needs network access to the API server. Kubectl, for example, doesn't need to be run inside the k8s cluster. And the k8s golang APIs make it very easy to create a client based on a kubeconfig file and the like.

The CSI driver is independent of Rook, and users can deploy it manua

[2021-07-21 00:09] BlaineEXE commented on #4043
To put it another way, if we make this a separate repo, we don't have to triage and manage the GH issues and pull requests for the tool in this repository, which will not create extra work on the Rook maintainers.

[2021-07-21 07:55] chinaboy007 opened #8349 "failed to delete configmap rook-ceph-detect-version rook1.6.7"
kubernetes 1.20.0
rook 1.6.7

failed to delete configmap rook-ceph-detect-version

[2021-07-21 11:23] Madhu-1 commented on #8210
CSI sets pool layout when creating cephfs subvolume https://github.com/ceph/ceph-csi/blob/d85304c7c22de19e20efbcb34140f2c5b130bb70/internal/cephfs/volume.go#L175

[2021-07-21 13:36] travisn commented on #4043
In addition to the K8s api (which you're right could be used externally with the kubeconfig), I failed to point out that the tool also needs to run ceph commands and have that ceph context setup to access the ceph daemons. So access to the ceph tools and ceph context is the core reason the tool would run inside a container in the cluster.

If the tool is written in the ceph-csi repo I could see it

[2021-07-21 14:08] Madhu-1 commented on #4043
The tool needs to make both k8s API calls and ceph calls. we can ship only the binary/binary in the cephcsi container. we can document the pre-req to run the tool like (kubeconfig, rbd/ceph libraries, etc).

Am fine either having a new repo in Ceph or including it in the cephcsi repo itself.

[2021-07-21 14:08] Madhu-1 commented on #4043
CC @nixpanic @humblec

[2021-07-21 14:13] travisn commented on #4043
At least for the flex driver conversion, I don't see that we can ask the user to install ceph tools or assume access to the cluster. A container with all the tools will just solve that issue for us.

[2021-07-21 14:44] icpenguins commented on #7994
@travisn it is not possible to reinstall this cluster with `network.provider: host`. I have Calico on the nodes for BGP and the entire K8s cluster IP range is accessible without having to do any service configurations. From my reading, it seems like there would be a different issue in my case when reading the results in this issue (https://github.com/rook/rook/issues/3220). It isn't that the IP is

[2021-07-21 15:17] travisn commented on #8349
@chinaboy007 Please open an issue with the template details that explain how to repro and more details about the failure. There are not enough details to troubleshoot this issue.

[2021-07-21 15:17] #8349 closed

[2021-07-21 16:06] jmolmo commented on #6519
The dashboard monitoring feature is not working basically because the grafana pod is not being deployed. Setting monitoring=true does not include this task so maybe we need to implement this part (or remove the monitoring setting from cluster crd)
In this moment, we only have a document explaining monitorization using Prometheus:
https://rook.io/docs/rook/v1.4/ceph-monitoring.html
But this documen

[2021-07-21 16:56] treo commented on #7734
I think I've run into a similar error when restarting my cluster (small test cluster with just 3 nodes based on microk8s), but those additional osds have then in some cases have destroyed the underlying bluestore as they where trying to start up at the same time.

This is how it looks now:
[code]

Originally it was just osd.0 to osd.5.

And here's how the relevant output from the logs looks like f

[2021-07-21 18:11] travisn commented on #7994
The CSI driver has host networking enabled by default. Can you try disabling it by changing [this setting](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L38) to `false`? Then it would be using the pod network which should pick up on the calico config.

[2021-07-22 06:46] humblec commented on #4043
imo, Rook was shipping the flex driver and  Rook want a solution/tool/utility which helps on migrating  earlier rook flex driver PVC to new CSI based driver PVCs. Thats why this issue exist and discussions around it. So, `Rook` is the correct place to host the tool. `in tree` migration came in as an addon to this tool. There is no harm to extend the addon/capability of intree migration  in the uti

[2021-07-22 11:35] parth-gr opened #8360 "Remove legacy PDBs methods as we have stop using them."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

As discussed on this thread [here](https://github.com/rook/rook/pull/7977#discussion_r669114411)  `I think we can get rid of this method now since it's already been at least a release since we removed the legacy PDBs. ` & `We added this in rook 1.5 in this PR. So should be safe to remove now.`  we sho

[2021-07-22 11:38] parth-gr commented on #8308
I founded it on the GitHub action CI.

[2021-07-22 14:01] simu opened #8363 "Changes to CephCluster `spec.healthCheck.mon` don't propagate"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When changing the settings for the Rook mon health check (`.spec.healthCheck.mon`) in the `CephCluster` resource, the mon health check isn't reconfigured with the new values, unless I restart the rook-ceph operator.

**Expected behavior:**

Changes to `.spec.healthCheck.mon` are propagated to the heal

[2021-07-22 15:14] #7917 closed

[2021-07-22 17:17] #7940 closed

[2021-07-22 17:33] #7183 closed

[2021-07-22 18:46] travisn commented on #8363
Right, the mon health check should pick up the latest settings from the cephcluster CR instead of using the same value from initialization time.

[2021-07-22 20:02] #7638 closed

[2021-07-22 20:02] #7636 closed

[2021-07-22 23:49] icpenguins commented on #7994
@travisn I have updated the setting by uncommenting the variable, setting it to false, and then applying the change. I then drained and rebooted every node in the cluster in a rolling fashion (for general maintenance as well). Interestingly, one out of 5 external test machines can now connect to the instance, but cannot perform a great deal of I/O until the connection state appears to fail. On the

[2021-07-23 13:11] dotunolafunmiloye opened #8369 "Request to add [kubernetes.io/ceph-secrets-protection] annotation to protect Ceph secrets from mistaken deletion"
* Feature Request

Recently, the secrets and services for a Ceph cluster were deleted in error.  Yes, this should not have happened, but stuff happens. I was wondering if it possible to request a feature to add some protection to these secrets so it's not so easy to delete them.
For example, kubernetes pvc's already use the `Finalizers:    [kubernetes.io/pvc-protection]`  annotation as a form of p

[2021-07-23 13:57] leseb commented on #8369
Which Secret/Service was deleted? Typically, if they are the operator should re-generate them.

[2021-07-23 14:06] dotunolafunmiloye commented on #8369
Unfortunately, all secrets were deleted. Yes, the  operator re-created a number of secrets automatically. The following : osd's, mon,  mgr an rgw were all re-created based on entries in  keyring files on the running pods. I  have compared the # of secrets to that of another stable cluster and looks good. Just need guidance on sequence of restarting pods and what to look out for. I have opened  htt

[2021-07-23 16:12] #8343 closed

[2021-07-23 16:21] #8041 closed

[2021-07-23 22:43] travisn opened #8378 "Tagged release builds are not publishing and promoting"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The `v1.7.0-beta.0` tag was pushed to github, the build was triggered as expected, but the publish and promote actions were not completed. From the log it seems they are no-ops. See the [full log](https://github.com/rook/rook/runs/3147646826?check_suite_focus=true).

[code]

The `publish` function work

[2021-07-23 23:07] travisn commented on #8369
As much as I hesitate to add finalizers to resources, adding finalizers to the critical secrets and configmaps would make sense since the operator cannot regenerate them in a disaster. All the resources that can be regenerated would not need a finalizer.
@leseb @BlaineEXE thoughts?

[2021-07-23 23:13] travisn commented on #7994
@Rakshith-R can you take a look?

[2021-07-25 20:02] #7674 closed

[2021-07-25 20:02] #7673 closed

[2021-07-26 02:48] chinaboy007 commented on #8349
Thank you. I've solved this problem. I uninstall istio and then install it

[2021-07-26 02:48] chinaboy007 commented on #8349
Thank you. I've solved this problem. I uninstall istio and then install it

[2021-07-26 05:20] subhamkrai commented on #8378
@travisn @leseb I was looking to action run
one doubt,
here(on the unsuccessful run ) it should branch name https://github.com/rook/rook/runs/3147646826?check_suite_focus=true#step:8:1353 and to me looks like it picked the tag instead of the branch name.
`build/run make -C build/release build BRANCH_NAME=v1.7.0-beta.0 GIT_API_TOKEN=***`

on success full run [here](https://github.com/rook/rook/runs

[2021-07-26 05:38] subhamkrai commented on #8378
reading this
[code]
from Github docs says `github.ref` will pick `tag_name` for tags

[2021-07-26 10:23] ecusnir commented on #8307
I managed to successfully upgrade the ceph version by adding to rook-config-override the setting:
[code]
When I tried doing this using the toolbox, the operator was overwriting the value. Muting the alert didn't help, because it kept reappearing. Also, the alert can't be muted if it isn't triggered, so it is hard to prevent this issue using the toolbox.

In my opinion, the rook-operator should not

[2021-07-26 11:44] devlikai opened #8382 "mgr dashboard service support externalIPs."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

If there are external IPs that route to one or more cluster nodes, Kubernetes Services can be exposed on those externalIPs. Is it possiable to add externalIPs support for mgr dashboard service ?

**What is use case behind this feature:**

When the dashboard service use serviceType clusterIP, then can a

[2021-07-26 14:10] travisn commented on #8378
We do want to pull the repo based on the tag name, then use that tag of course to tag images. But I see now that the branch name was used in the Jenkins build and the tag was picked up in a separate place. The build really should be done based on the tag in case we need to build on it instead of the head of the release branch, but i'll dig a bit deeper...

[2021-07-26 14:14] subhamkrai commented on #8378
What I understand, what we need is the name of the branch from which tag was pushed. Let's discuss offline

[2021-07-26 14:27] Rakshith-R commented on #7994
@icpenguins
This seems to be caused due to very unstable network.
('Mons allowing Insecure global id access' issue would completely block out cephcsi, but reconnection is working in the given logs)

Are there any container workload successfully running with cephfs/rbd pvc on any nodes?

Ceph-csi follows the same steps as direct mount, it should work the same.

Can you try using less intensive file

[2021-07-26 14:57] icpenguins commented on #7994
@Rakshith-R hey, I appreciate the insights. Please help me understand what you mean by an `unstable network`. The k8s cluster runs all of my monitoring for Syslog, SNMP, and more. I also run all my WiFi management and bandwidth test solutions on the cluster. I have not had any issues using it with any UDP or TCP services and average a constant 6Mbps with low error rates.

The WiFi management stack

[2021-07-26 15:08] Rakshith-R commented on #7994
@icpenguins

Can please you try this https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/filesystem-test.yaml and see if it works ?

Both on host network and pod network.

[2021-07-26 15:28] travisn commented on #8307
It is expected that the operator wouldn't disable the allow insecure global id setting if any clients are still actively connected like the OSDs. The OSDs were up during the upgrade? If they were down I could see why the ceph wouldn't report any active clients still need in upgrade. In any case, agreed that the operator should at an extra version check ensure the daemons are upgraded before disabl

[2021-07-26 20:33] TiloGit commented on #5365
just for ref, had this today on OCS (OpenShift Container Storage)

first checked: ```sudo sgdisk --print /dev/sda```
and if corrupted ```sudo sgdisk --zap-all /dev/sda```

[code]

[2021-07-26 21:04] TomHellier commented on #8378
Could we get the helm chart released as well? interested in trying out the new rook-ceph-cluster chart before 1.7.0 is finished?

[2021-07-26 21:13] TomHellier opened #8384 "Additional rook-ceph-cluster helm features"
* Feature Request

**What should the feature do:**
I think it should be possible to:
* define a list of CephBlockPool, CephFilesystem, and CephObjectStore and associated storage classes as part of the rook-ceph-cluster helm chart.
* Define an ingress

**What is use case behind this feature:**
Whenever I deploy those CRDs, they are always deployed along with the CephCluster CRD whenever I use rook.

[2021-07-26 22:30] #8363 closed

[2021-07-26 23:38] travisn commented on #8378
@TomHellier Yes, i'm investigating getting the new helm chart published with v1.7.0-beta.0. The build is running now and fingers crossed we will have the chart published in the next half hour!

[2021-07-26 23:38] #8378 closed

[2021-07-27 00:48] travisn commented on #8378
I don't see it there, will keep looking for the fix...

[2021-07-27 03:32] fzhan opened #8392 "RGW fail to keep alive"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rgw container log:
RGWLC::process() failed to acquire lock on lc.3

**Expected behavior:**
rgw should be created and response to 80 port

**How to reproduce it (minimal and precise):**
github branch release-1.6
1. after creating cluster, and osds are ready
2. kubectl create -f object.yaml
3. kubectl cr

[2021-07-27 03:41] fzhan commented on #8392
after updated the storage name, here's the log for the pod:

[code]

[2021-07-27 07:47] kahirokunn commented on #1960
Is there any progress? 👀

[2021-07-27 08:04] KeithTt commented on #5245
I got similar message.

[code]

What is the matter?

[2021-07-27 08:29] kam1kaze commented on #7135
@travisn I could create a PR with NFS helm chart.

[2021-07-27 08:31] mecseid commented on #7135
Whoops, sorry @travisn I forgot to answer this issue. I didn't have so much time for OSS projects, but if @kam1kaze will create an NFS helm chart, I will be happy if I could review it.

[2021-07-27 09:51] fzhan commented on #8392
After switching "livenessprobe" in object.yaml to disabled. services seems to be able to continue.
[code]