[2019-11-05 19:37] NicolaiSchmid opened #4261 "PGs not starting up"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I'm creating a new cluster and pool with the provided yaml files in the current 1.1.4 release https://github.com/rook/rook/commit/7dfaf2c50a69a094db6fe0cdaafdd81218470055
**How to reproduce it (minimal and precise):**

I'm using a Ubuntu 16.04 LTS Server with latest HWE Kernel and the default yaml file

[2019-11-05 22:26] #4089 closed

[2019-11-05 22:32] udayjalagam commented on #4238
Thanks @leseb for your reply. How long rook will wait before marking OSDs are out of cluster ?  yesterday I when node was down for some period of time rook marked osds as out of cluster marked them for destroy.
Can I August the timings ? is the below setting in cluster CRD that controlling it ?

  disruptionManagement:
    managePodBudgets: false
    osdMaintenanceTimeout: 30

?

[2019-11-05 22:34] travisn commented on #4238
@udayjalagam This can only be controlled with the [removeOSDsIfOutAndSafeToRemove](https://github.com/rook/rook/blob/release-1.1/cluster/examples/kubernetes/ceph/cluster.yaml#L119) setting, either enabling or disabling it. We just recently disabled this functionality by default.

[2019-11-05 22:41] #3655 closed

[2019-11-06 00:38] udayjalagam commented on #4238
Thanks @travisn ,  is if we set removeOSDsIfOutAndSafeToRemove: false then it will not out OSD out also right ?

Thanks,
Uday

[2019-11-06 03:00] xiaoqge commented on #4251
In order to ensure that my operation is no problem，I deleted the previous version, but pvc has been unable to delete， I re-downloaded the latest version of the master branch for a new deployment

**Below is the status of my ceph cluster**
[code]

**I have seen the following error on my node node after executing common.yaml, operator.yaml, cluster.yaml
In my Node node, the message log sees the foll

[2019-11-06 03:24] travisn opened #4264 "Ability to trigger a release build based on a tag"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
We need the ability to trigger a release build based on a tag.

Today we tagged and were about to release v1.1.5. However, another commit was merged to the release branch before the official release was triggered (a doc change that was not actually needed in the 1.1.5 tag). The release build only takes

[2019-11-06 06:25] rushins opened #4266 "ceph dashboard nodeport is not accessable and secret missing."
Hello
I followed this https://www.suse.com/c/deploy-suse-enterprise-storage-on-kubernetes-in-just-7-easy-steps/ and deployed rook-ceph with suse caasp4 and all worked but the load balancer port i cannot access outside ( https://nodehost:32047/ ) though my client system though  it is showing available port from the services output.

kubectl -n rook-ceph get service
---------------------
rook-ceph-m

[2019-11-06 07:14] xenolinux commented on #4250
@leseb yes. In OSD pods the command runs well. I think we can close this issue.

[2019-11-06 07:14] #4250 closed

[2019-11-06 09:29] ygqygq2 opened #4270 "Out of kubernetes, ceph client how to connect to ceph monitors?"
I 've exposed the monitor service, and the port is open. But also can not to connect.

[code]

[2019-11-06 09:35] Madhu-1 commented on #4234
CSI Driver object which is added in https://github.com/rook/rook/pull/4172 needs to be removed when we are deleting CSI resources

[2019-11-06 09:45] leseb commented on #4270
try with `mon host = v1:172.16.138.37:6789`

[2019-11-06 09:48] ygqygq2 commented on #4270
@leseb

Thanks. Also fail.

[code]

[2019-11-06 09:56] mumrau commented on #3013
Up again.

[2019-11-06 10:00] xiaoqge commented on #4251
@leseb  Thanks, in order to ensure that my operation is no problem, I tried to download the latest version of rook-1.1.6 to reinstall the deployment, but the problem still exists.

Below is the specific information：
[code]

[code]

[code]

[code]
How can I solve this problem, thank you for your help.

[2019-11-06 10:03] Madhu-1 commented on #4251
the logs say storage-class not found please check

`  Warning    ProvisioningFailed    18s (x8 over 2m48s)   persistentvolume-controller                                                                        storageclass.storage.k8s.io "csi-cephfs" not found
`

[2019-11-06 10:15] xiaoqge commented on #4251
Thanks, I posted the error log that created the storageclass. Below is the error message that is now displayed.

[code]

[code]

[code]

**Below is the csi-provisioner error log**：
[code]

[2019-11-06 10:17] Madhu-1 commented on #4251
please provide cephfs-plugin container logs, am suspecting some commands are struck, if possible exec into the cephfs-plugin container and check current running process

[2019-11-06 10:29] xiaoqge commented on #4251
@Madhu-1  Thank you
**Below is the log of csi-cephfsplugin-provisioner-0**

[code]
**Below is the process and log of the node's cephfsplugin**
[code]

[code]

[2019-11-06 10:34] Madhu-1 commented on #4251
i dont see any  logs for command stuck ,can you try "ps -aux|grep rados" command in cephfs-plugin container

[2019-11-06 10:37] xiaoqge commented on #4251
@Madhu-1 Thank you，Below is the result of executing the "ps -aux|grep rados" command in the csi-cephfsplugin container of the k8s node.

[code]

[code]

[2019-11-06 10:40] Madhu-1 commented on #4251
have you created filesystem?

the above provided in https://github.com/rook/rook/issues/4251#issuecomment-550248198 is not complete because request logging starts from `ID: 70` we need logs from beginning to check what's going on

[2019-11-06 10:51] xiaoqge commented on #4251
@Madhu-1

1. I refer to cephfs created at https://github.com/rook/rook/blob/master/Documentation/ceph-filesystem.md

2. I reposted the #4251 (comment) log, hiding some of the same duplicate log content.

[2019-11-06 10:51] tzkoba opened #4271 "PVC status remains pending with PVC-based OSD."
**Expected behavior:**
PVC(cluster/examples/kubernetes/ceph/csi/rbd/pvc.yaml) status will turn to Bound.
Ceph is built as PVC-based cluster.

**Deviation from expected behavior:**
PVC status remains pending with PVC-based OSD.
And I confirmed unexpected logs in csi-rbdplugin-provisioner.

**How to reproduce it (minimal and precise):**
1. kubectl apply -f common.yaml
2. kubectl apply -f operator.ya

[2019-11-06 11:09] tzkoba commented on #4271
Here is Ceph Status.
I wonder Ceph cluster is broken.

[code]

[2019-11-06 13:30] Madhu-1 commented on #4251
form logs
`I1106 10:07:41.065910       1 util.go:48] ID: 61 cephfs: EXEC ceph [fs subvolumegroup create myfs csi -m 10.9.63.15:6789,10.9.63.153:6789,10.9.60.115:6789 -c /etc/ceph/ceph.conf -n client.csi-cephfs-provisioner --keyfile=***stripped***]
`
commands are stuck
@ajarr any idea

@xiaoqge please provide ceph version

[2019-11-06 13:54] xiaoqge commented on #4251
Version is as follows
[code]

[2019-11-06 14:01] skbki commented on #4212
The code from docs does not provision correctly. Topologykey seems to be in wrong place. When corrected affinity does not place osd on different nodes. Isn’t rook.io/cluster supposed to be rook-ceph?

[2019-11-06 15:25] galexrt commented on #4259
Ping @rohan47

[2019-11-06 15:59] Szpadel commented on #4014
I had very similar issue with `exit status 22: no valid command found` on had this issue on rook `1.1.4` and `ceph/ceph:v14.2.1-20190430` but after updating to `ceph/ceph:v14.2.4-20190917` and rook `1.1.6` it started to work correctly (not sure what helped exactly)

[2019-11-06 17:45] chadmayfield commented on #3589
+1 for a fix for this

[2019-11-06 19:38] mkhpalm opened #4274 "Rook becomes destructive during k8s control plane issues"
First, thanks for rook!

We had an incident with our k8s control plane that cascaded in an especially bad way with rook. We thought this ticket might help identify bugs or areas to improve in rook.

**Deviation from expected behavior:**

* Did not expect rook to restart when losing a leader election and enter an orchestration run when k8s api is returning errors.
* Did not expect rook to take erro

[2019-11-06 22:06] mkhpalm commented on #4274
Just realized this change in rook v1.1.6 would have possibly avoided the part where it clobbered our existing cluster. Assuming with that change it wouldn't have tried to orchestrate when it did or when rook operator restarted.

https://github.com/rook/rook/pull/4252

[2019-11-07 02:45] morimoto-cybozu opened #4275 "Support device selection for OSDs by udev device name patterns."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Support device filtering with udev DEVLINKS names, e.g. `/dev/disk/by-path/pci-.*-sas-.*`.

Related issue and pull request:

* https://github.com/rook/rook/issues/1228
* https://github.com/rook/rook/pull/2845

Though the issue above is similar to mine, the related pull request does not support regular

[2019-11-07 03:50] kevinfaguiar commented on #4251
Same here... PVC stays in pending and throws this error:
[code]

[2019-11-07 06:23] #3425 closed

[2019-11-07 07:11] galexrt commented on #4251
@kevinfaguiar @xiaoqge please post the `rook version` command output from inside the rook-ceph-operator Pod. Also which Kubernetes version is the Kubernetes cluster running.

@xiaoqge please use the documentation for the Rook version you are running instead of `master` branch documentation, e.g., https://rook.io/docs/rook/v1.1/ and / or the documentation and manifests from the `release-1.1` branch

[2019-11-07 07:15] galexrt commented on #4212
@skbki please post your CRD as an actual code block or snippet, so we can correctly see the indentation of it.

[2019-11-07 07:18] galexrt commented on #3557
We should look into either crashing or retrying and indicating the "NotReady" state of the agent through adding a Readiness and Liveness Probe.

[2019-11-07 07:47] xiaoqge commented on #4251
@galexrt  Thank you

The rook version I am using

[code]

I compared https://rook.io/docs/rook/v1.1/ceph-filesystem.html and the content is no different from the master.

[2019-11-07 11:14] skbki commented on #4212
**Environment**:
* Rook version 1.1
* Kubernetes version 1.15.5 Rancher
`apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  dataDirHostPath: /var/lib/rook-data-test-2
  mgr:
    modules:
    - name: pg_autoscaler
      enabled: true
  mon:
    count: 3
    allowMultiplePerNode: false
    volumeClaimTemplate:
      spec:
        storageClassName

[2019-11-07 12:09] kevinfaguiar commented on #4251
My Rook version is:
[code]
My Kubernetes version is (I'm using AWS EKS):
[code]

Also, for the running pods. there is some that are not running in a pending state... could be it affecting PVC provisioning?
[code]

As for events on rock-ceph-osd-{ID} pods, the ones in pending state:
[code]
How much CPU + Memory is needed for Rook? (There are some minimum values, right? Like 2Gi of memory...)

----

[2019-11-07 12:38] satwikk commented on #4006
Same happens for `ceph fs volume ls`

do_command function in `/usr/bin/ceph` is getting stuck. Following the stack-trace,
[code]

[2019-11-07 13:02] #3692 closed

[2019-11-07 13:48] satwikk commented on #4006
Are these the expected values,
[code]
that should be passed to `json_command` function from [ceph_argparse.py](https://github.com/ceph/ceph/blob/master/src/pybind/ceph_argparse.py#L1452)

[2019-11-07 15:28] foux opened #4278 "OSD not being created on a new node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
After adding a new node respecting storage settings, an OSD should be created on this node. It isn't, even the OSD discover pod isn't created (as referenced in [the docs](https://rook.io/docs/rook/v0.9/common-issues.html#osd-pods-are-not-created-on-my-devices)

**How to reproduc

[2019-11-07 20:08] danilorsilva opened #4282 "Pod problem using pvc provisioned by rook-ceph"
Hello,

I have a kubernetes (RKE) cluster installed and rook ceph deployed successfully.

When i try to create a pvc it works fine. I can see the pvc created.

When i use this pvc for a pod, the pod keep in ContainerCreating status forever.

Anyone experiencing this problem?

Thanks!

[2019-11-07 23:45] #3937 closed

[2019-11-08 05:35] zhangxpp commented on #4012
Hi guys,

have you got the  root cause? I encountered it too.

[2019-11-08 06:36] zhangxpp commented on #4012
for your reference,  I've successfully done it.
I used the yamls as attached.  And I encountered another error as below and fixed that by deleting and recreating all of csi-cephfsplugin-provisioner  :
lock is held by csi-cephfsplugin-provisioner-75c965db4f-6zzbt and has not yet expired.

kube-register.yaml --------------------------------------------
apiVersion: v1
kind: PersistentVolumeClaim
meta

[2019-11-08 07:37] ajarr commented on #4012
@zhangxpp so  you're able to create CephFS PVCs and you're **not** facing any issues?

[2019-11-08 07:48] zhangxpp commented on #4012
Yes. correct. @ajarr

[2019-11-08 09:10] rajatsingh25aug commented on #4282
@danilorsilva can you please describe the pod so it'll be easier to understand.
run `oc describe pod <podname>` scroll down and please tell the message that you get.
Thanks

[2019-11-08 12:24] foux commented on #4278
The issue really seems to be that the osd-prepare steps never gets done after the initial setup of the cluster. I'm using the helm operator with the default values

[2019-11-08 12:30] jmolmo commented on #3370
I cannot reproduce the issue. We will need more information in order to diagnose the problem.

In any case , taking into account that the mgr liveliness probe is failing, this points to some kind of problem starting the Prometheus Ceph manager module. (which uses the port 9283).
@zwindler used as a workaround to remove the liveliness probe, and it resulted in a "healthy" manager running. So this i

[2019-11-08 14:28] OwenTuz commented on #4232
Sorry for the delayed reply here - I had a quick look at this from your comments on https://github.com/rook/rook/pull/4128 and couldn't immediately reproduce.

However, I suspect the thing I was missing is a multipart upload to actually trigger the creation of the `non-ec` bucket on the cluster *before* trying to upgrade. So hoping to have time to write a "multipart upload" test and see if it caus

[2019-11-08 15:20] joshuacox commented on #3748
@Madhu-1 I am not certain why it is not working, hence the reason why I opened this issue in the first place.  I cannot get rook to operate consistently across many different scenarios.  It seems to fail the most often on bare-metal, and rarely now in the katacoda scenario.  However, I have seen failure intermittently across everything in the past month or so.  This prevents me from using rook in

[2019-11-08 15:35] r0bj opened #4290 "operator always deletes first PodDisruptionBudgets during node drain"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The Rook operator always deletes first PDB (rook-ceph-osd-0) during node drain.

**Expected behavior:**
The Rook operator deletes correct PDB based on canary pod during node drain.

**How to reproduce it (minimal and precise):**

Relevant workloads:
[code]

PodDisruptionBudgets:
[code]

Draining first

[2019-11-08 15:41] leseb commented on #4290
@rohantmp PTAL

[2019-11-08 18:50] #4205 closed

[2019-11-09 00:16] kevincoakley commented on #4271
I would verify that the 3 PVCs that are used for the OSDs are not attached to the same k8s node. Running `ceph osd tree` will also show if the 3 OSDs are on the same node.

[2019-11-09 04:36] rohantmp commented on #4290
@r0bj any logs from the rook operator pod with the line clusterdisruption would be useful, also the the output of `kubectl get deployments -l app=rook-ceph-drain-canary`

This could be an issue with stale drain-canary deployments, and if that is the case #4272 should fix this.

[2019-11-09 08:53] rushikeshjadhav commented on #3370
Here is my mgr logs which fails and reproducible of this bug

[code]

[code]

I think the ssl error can be ignored.

Another observation, the bug does not occur for small number of OSDs (probably < 10) but becomes prominent after > 100.

[2019-11-09 09:55] irikeish commented on #4282
@rajatsingh25aug  I am facing the same issue, here is the description of the pod which is failing to create:
`
        6m50s (x206 over 10h)  kubelet, c105599         Unable to attach or mount volumes: unmounted volumes=[mysql-persistent-storage], unattached volumes=[mysql-persistent-storage default-token-rbf2c]: timed out waiting for the condition

  Warning  FailedAttachVolume  6m26s (x159 over

[2019-11-09 10:08] gtcno commented on #2654
@nehaberry @clkao

Have you managed to find a solution. We are experiencing the same

[2019-11-09 10:36] r0bj commented on #4290
Logs from operator during drain:
[code]

deployments status:
[code]

[2019-11-09 11:02] tzkoba commented on #4271
Thaks, and you are right.
3 OSDs are in one node.
But is it wrong?
In a PVC-based cluster, I thought I could move osd to another node.
As a result, can there be multiple OSDs on one node?

[2019-11-10 09:51] #3386 closed

[2019-11-10 10:04] bars83 commented on #1488
`kubectl patch crd cephclusters.ceph.rook.io -p '{"metadata":{"finalizers": []}}' --type=merge`
works for me. rook was installed with helm "rook-master/rook-ceph   v1.1.0-beta.0.422.ga625a43"

[2019-11-11 02:15] bnerDY commented on #3370
Hi I have tried the followings in the toolbox and it works fine afterwards.

ceph config set mgr mgr/dashboard/server_addr 0.0.0.0
ceph config set mgr mgr/prometheus/server_addr 0.0.0.0
ceph config dump | grep dashboard
ceph config dump | grep prom
ceph mgr module disable dashboard
ceph mgr module disable prometheus
ceph mgr module enable dashboard
ceph mgr module enable prometheus

[2019-11-11 07:04] nizamial09 commented on #3465
@leseb What's your view on this?

[2019-11-11 07:17] rohantmp commented on #4290
Was the deployment status taken when the problem was occuring? It indicates that only one deployment was pending, but
[code]
implies that all 3 were pending.

[2019-11-11 09:18] jmolmo commented on #3370
@rushikeshjadhav : I think that you are describing another different problem of the one we are trying to solve in this bug. In any case thank you very much for your feedback.

In this bug we are diagnosing an issue that produces a continuous restart of the manager pod because the liveliness probe is failing. This probe is trying to connect port "9283" provided by the prometheus ceph manager plugin

[2019-11-11 10:00] rushikeshjadhav commented on #3370
Hi @jmolmo - thank you for giving the guidelines. I did not mean to hijack but I feel that its probably same bug that I have. My mgr was crashing after almost every 3 minutes until I changed the `timeoutSeconds` from 1 to 9. Restart counts were as high as 100+

O/p within POD
[code]

O/p from master host
[code]

Probably my problem has more to do with networking but editing the deployment of mgr l

[2019-11-11 11:27] r0bj commented on #4290
Yes, it was during draining one node `dev-k8s-storage-r3`. Not sure why it says `detected drains on hosts: [dev-k8s-storage-r2 dev-k8s-storage-r3 dev-k8s-storage-r4]`.

[2019-11-11 13:12] jmolmo commented on #3370
@rushikeshjadhav, check also: (maybe you are affected by this bug)
https://tracker.ceph.com/issues/38378

It has been resolved in:
https://github.com/ceph/ceph/pull/31190

That was merged past week in Nautilus.

[2019-11-11 14:10] travisn commented on #2624
Already completed in v1.1

[2019-11-11 14:10] #2624 closed

[2019-11-11 14:17] #3608 closed

[2019-11-11 15:33] sabbot opened #4293 "Provide EdgeFS ISGW service additional configuration"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Provides additional configuration for ISGW EdgeFS service
**What is use case behind this feature:**
Additional ISGW CRD option config: {server: "server service name", clients: ["client services names"]}
EFSISGW_CONFIGURATION: "configuration JSON"
Additional validation
**Environment**:

[2019-11-11 15:58] wanghaiqing2015 opened #4295 "How to add a new osd for ceph"
I didn't find a way .

[2019-11-11 17:13] caniszczyk opened #4296 "Add SECURITY.md + disclosure process"
This is required for CNCF graduation and the security audit.

[2019-11-11 17:35] travisn opened #4297 "Toolbox does not need to run privileged"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The toolbox doesn't have a need to run privileged. The toolbox should really only be used to execute `ceph` commands, rather than need to run privileged and access the host.

**Expected behavior:**
The changes suggested would include:
- The [toolbox](https://github.com/rook/rook/blob/master/cluster/exa

[2019-11-11 19:26] travisn opened #4298 "Ability to set device class on OSDs when on PVCs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The device class property on an OSD is currently detected automatically when c-v initializes an OSD. The properties of the devices may not always be accurate, particularly when running in a cloud environment and/or backed by a PVC. For example, a `gp2` volume is detected as `ssd`, but may want to be tre

[2019-11-11 20:04] #3579 closed

[2019-11-11 20:22] jbw976 commented on #4296
Thanks for opening this @caniszczyk, I'll be happy to take this on soon.

[2019-11-12 03:15] xiaoqge commented on #4251
@Madhu-1 Is there any good solution?

[2019-11-12 03:17] xiaoqge commented on #4251
@kevinfaguiar Your osd hangs, so it will Pending, first let your osd keep up and running.

[2019-11-12 06:58] xiaoqge commented on #4251
What could be the cause of this problem? I can try to verify the problem, I don't have any ideas at the moment. thank you very much

[2019-11-12 07:01] Madhu-1 commented on #4251
@xiaoqge looks like its cephfs core issue can you provide `ps  -ef|grep ceph` output from  cephcsi-plugin  container @ramana can you  please  check

[2019-11-12 07:23] xiaoqge commented on #4251
Thank You，Enter the k8s_csi-cephfsplugin_csi-cephfsplugin-provisioner container to execute the ps results as follows：

[code]

[2019-11-12 07:26] Madhu-1 commented on #4251
@xiaoqge thanks for sharing the output, I can confirm fs subvolume create commands are stuck

are you able to create subvolume from toolbox pod? if yes can you please check the same from the cephfs-plugin container.

[2019-11-12 07:46] xiaoqge commented on #4251
Thank you, the conclusion is correct

**Below is the result of my command**
[code]
[10.9.0.1:root@bj-jd-oam-k8smaster-test-0001:/opt/soft/ceph/rook-1.1.2]# kubectl -n rook-ceph exec -it $(kubectl -n rook-ceph get pod -l "app=rook-ceph-tools" -o jsonpath='{.items[0].metadata.name}') bash
[root@bj-jd-oam-k8snode-test-0014 /]# ceph osd pool create cephfs_data 20
pool 'cephfs_data' created
[root@bj-jd

[2019-11-12 07:57] xiaoqge commented on #4251
@Madhu-1 Is there any way I can rule out this problem, is my use incorrect or bug?

[2019-11-12 08:28] xiaoqge commented on #4251
Delete pvc, re-create it will see the following error
[code]

[2019-11-12 13:41] shivpathak commented on #1638
@muhlba91 I am also stuck in same problem with linkerd side-car proxy.

would helpful if we get fix on rook side.

[2019-11-12 13:54] paalkr opened #4299 "Not able to upgrade a PVC backed cluster from rook 1.1.2 to either 1.1.4 or 1.1.6"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
prepare osd jobs/pods fails to complete

**Expected behavior:**
That the cluster upgrade succeeded.

**How to reproduce it (minimal and precise):**

Create a pvc backed 1.1.2 cluster, and try to upgrade to any newer version.

**Environment**:
* OS (e.g. from /etc/os-release):
[code]
* Kernel (e.g. `una

[2019-11-12 14:03] sp98 commented on #4299
I believe this issue was fixed in https://github.com/rook/rook/pull/4277

[2019-11-12 14:04] paalkr commented on #4299
I tired to get help regarding this issue on slack, here is the thread
https://app.slack.com/client/T47C56S7Q/C46Q5UC05/thread/C46Q5UC05-1573548852.186400

[2019-11-12 14:06] paalkr commented on #4299
@sp98 thx for the info, but it looks like the problem still persists.

[2019-11-12 14:10] paalkr commented on #4299
@sp98 , that fix is not included in 1.1.4 or 1.1.6, right? So if I try master, upgrade should work? Is it generally safe to run rook out of master in production?

[2019-11-12 14:21] sp98 commented on #4299
@paalkr I can see that the fix was included in Rook v1.1.6 is a patch release (https://github.com/rook/rook/releases).  Its not advisable to use rook out of master in production

[2019-11-12 14:28] paalkr commented on #4299
@sp98 , upgrading to 1.1.6 still does not work. All logs provided in the OP are from upgrading to 1.1.6. So the issue is still present.

[2019-11-12 15:38] sp98 commented on #4299
@paalkr The PR is still not in 1.1.6. Sorry for the confusion. I was looking into a different PR.

[2019-11-12 15:56] travisn commented on #4299
@paalkr The fix is included in the latest release build, but it just isn't officially released yet. The upgrades are expected to work with these interim release builds as well. The tag is `rook/ceph:v1.1.6-14.ge69e952` if you want to test it. The v1.1.7 release may not officially be for another week or two.

[2019-11-12 16:20] redradrat opened #4300 "No annotation propagation to CmdReporter job"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Annotations are not propagated to the `CephCluster` owned job. In https://github.com/rook/rook/blob/0bb8000825055e45e6f58966ec1e47183391fa47/pkg/operator/k8sutil/cmdreporter/cmdreporter.go#L295-L299 I would expect annotations to be set or later enriched.

**Expected behavior:**
All of `CephCluster`s ow

[2019-11-12 17:03] redradrat opened #4301 "rook-ceph-detect-version job exits 0 on failure"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Job exited with 0 and is therefore not retried, resulting in the networking issue to not self-heal.

**Expected behavior:**
Job exits non-zero and thus is retried, as expected from a resilient implementation.

**How to reproduce it (minimal and precise):**

While experiencing network issues, the job in

[2019-11-12 17:05] kevincoakley commented on #4271
The pgs will stay undersized because Ceph cannot achieve 3 copy replication (the default) because all of the OSDs are in the same failure domain (node). If the one node with the 3 OSDs goes offline then all of your data will be inaccessible. You could set the size option for the pools to 1 or modify the CRUSH map so the failure domain is at the OSD level instead of the node level, but I don't reco

[2019-11-12 18:02] jdurgin commented on #4298
Overriding the device class doesn't change the tunings - since it is user customizable, the osd determines ssd vs hdd by looking at /sys/block/$dev/queue/rotational. Instead of changing the device class, I'd suggest directly setting the osd background io configuration for gp2 devices, namely:

[code]

[2019-11-12 18:44] #3541 closed

[2019-11-12 19:45] dimm0 commented on #4127
I've hit this on another node added recently..

[2019-11-12 19:59] paalkr commented on #4299
@travisn , thanks. I can test `rook/ceph:v1.1.6-14.ge69e952` and report back. Will it be possible to upgrade from `rook/ceph:v1.1.6-14.ge69e952` to `1.1.7`?

@sp98 , I appreciate your help, thanks!

[2019-11-12 20:05] paalkr commented on #4299
Upgrading to `rook/ceph:v1.1.6-14.ge69e952` worked!

[2019-11-12 20:11] travisn commented on #4299
@paalkr Great to hear it's working for you. Yes, it's expected that it will upgrade to v1.1.7

[2019-11-12 22:16] #2882 closed

[2019-11-12 22:19] mkhpalm commented on #4274
In testing v1.1.6 it does not appear as #4252 would have avoided the operator from clobbering a healthy ceph cluster.

* Rook always crashes on losing a leader lease
* Rook always orchestrates on startup regardless of whether there are any CR changes

[2019-11-12 22:48] travisn commented on #4274
It's expected that the operator will start a new orchestration when it restarts, and also in several other scenarios such as when the cluster CR is updated. This is to ensure the operator will maintain the desired state in the cluster.

The key lines in the log are here where we see the cluster get reset:
[code]

Walking through this code path, the k8s API must have returned `NotFound` for the sec

[2019-11-13 00:53] dimm0 commented on #3314
This is still not handled well

[2019-11-13 05:34] rohantmp commented on #4290
Oh, were these PVC based OSDs with `portable: true`?

[2019-11-13 08:48] leseb commented on #4297
@rajatsingh25aug PTAL

[2019-11-13 09:40] leseb commented on #4301
@egafford PTAL.

[2019-11-13 10:06] r0bj commented on #4290
I'm using host-based cluster, this is cluster definition:
[code]

Requested command output:
[code]

[2019-11-13 11:02] sokoow opened #4306 "how to use ceph-volume properly ?"
* Bug Report

**Deviation from expected behavior:**

ceph-volume is giving me this:

[code]
Also I'd expect for some step-by-step minimal readme on how to proceed if I want to create osds on VG/LVs.

**Expected behavior:**

I just expect that fsid label is finally there. I expected ceph-volume to work and give me OSDs

**How to reproduce it (minimal and precise):**
Take 3 nodes with one blank bloc

[2019-11-13 12:01] #3590 closed

[2019-11-13 13:07] satwikk commented on #4006
Seems like all commands with target `mgr` are failing as written [here](https://github.com/ceph/ceph/blob/master/src/pybind/ceph_argparse.py#L1380)

[2019-11-13 13:50] leseb opened #4307 "Stop adding CLI flag args to daemon startup"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

We still have daemons running via args like `rgw-zonegroup`, which makes them impossible to change.
Instead, we should use the ceph mon config store so that anyone can modify the flags.

[2019-11-13 16:01] sokoow commented on #4306
Seems like I got some progress, but still things are fuzzy:

[code]

[2019-11-13 16:22] denitol opened #4310 "Checking Ceph status: HEALTH_ERR Module 'rook' has failed: Service host/port is not set"
[code]

What It is  problem?

I don't any problem with rook-ceph, but I checking Ceph status and looking HEALTH_ERR

[2019-11-13 16:38] egafford commented on #4301
Ack; thanks Seb.

[2019-11-13 17:01] leseb commented on #4310
Please re-open using the issue template.

[2019-11-13 17:01] #4310 closed

[2019-11-13 17:13] yanchicago opened #4313 "csi-rbdplugin-metrics port is not configurable"
**Is this a bug report or feature request?**
* Bug Report
This is more like a feature request.
1). After deploy rook cluster with CSI. Below service is with some default ports.

NAME                    TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)             AGE
csi-rbdplugin-metrics   ClusterIP   10.254.209.109   <none>        8080/TCP,8081/TCP   7h57m

2). The ds csi-rbdplugin has below po

[2019-11-13 17:23] travisn commented on #4306
ceph-volume is not expected to be executed from the toolbox. It will be run by rook when creating the OSDs.

Step 1: Merge #4219 so this scenario would be supported :)

[2019-11-13 17:35] sokoow commented on #4306
Cool, thanks for explaining.

So, does that mean that currently rook isn't able to work with lvm just yet ?

[2019-11-13 17:36] travisn commented on #4306
@sokoow That's correct, hopefully it's coming soon!

[2019-11-13 17:41] sokoow commented on #4306
cool, nothing to see here then

[2019-11-13 17:41] #4306 closed

[2019-11-13 22:22] LouNauSRC opened #4315 "Support RGW LDAP integration"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The Ceph Object Gateway supports integrating with LDAP for authenticating and creating users, see: https://docs.ceph.com/docs/master/radosgw/ldap-auth/
It would be nice if this was directly supported in the "object" part of the rook-ceph integration.
**What is use case behind this feature:**
Providing t

[2019-11-13 23:27] travisn commented on #1638
@shivpathak You're getting the same error where the container must be specified? Could you actually open a new issue for that? And are you running rook v1.1? thanks

[2019-11-14 02:14] junhuihuang opened #4317 "v1.ConfigMap ended with: too old resource version"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrade rook from v0.8 to v1.1.6, rook operator has many warning logs.
[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing p

[2019-11-14 07:14] tuapuikia commented on #4012
Restart the cephfs provisioner should solve your problem.
kubectl delete pod  -l app=csi-cephfsplugin-provisioner --grace-period=0 --force

[2019-11-14 07:45] shivpathak commented on #1638
@travisn here is detailed issue description -

rook-operator deployment says ```starting Rook v1.1.0-beta.0.436.g0bb8000``` so it's ```v1.1 version```

We have already opened issue [4300](https://github.com/rook/rook/issues/4300) this issue is to get annotation feature to ```rook-ceph-detect-version``` so that we can exclude the linkerd proxy inject to jobs and this will resolve the problem we are

[2019-11-14 10:10] leseb commented on #3465
My view is that there is a bug yes, but it's not critical :) especially since the ceph config for OSD is not used anymore.

[2019-11-14 16:12] BlaineEXE commented on #4232
I believe #4316 creates a test that exposes the problem behavior.

[2019-11-14 16:42] aruniiird commented on #4300
Taking a look into the issue...

[2019-11-14 17:55] BlaineEXE commented on #4300
What annotations do you feel are specifically missing?

[2019-11-14 18:19] benwbooth opened #4324 ""exec: \"ceph-crash\": executable file not found in $PATH": unknown"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After installing rook/ceph, all the crashcollector pods are failing due to the following error:

[code]

**Expected behavior:**

Pods don't crash
[rook-ceph.yaml.txt](https://github.com/rook/rook/files/3847979/rook-ceph.yaml.txt)

**How to reproduce it (minimal and precise):**

cd cluster/examples/kub

[2019-11-14 19:51] leseb commented on #4324
Your Ceph version is too old. You need at least Nautilus. ceph-crash will come with Rook 1.2, which I believe will drop support for Mimic. @travisn thoughts?

[2019-11-14 22:30] #4293 closed

[2019-11-15 06:08] Madhu-1 commented on #4313
you are looking at service port  please check target port
https://github.com/rook/rook/blob/dd97c01682b49afb6f5ce53f7fd0777102f774ca/cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-svc.yaml#L12-L18

[2019-11-15 06:08] #4313 closed

[2019-11-15 14:42] yanchicago opened #4329 "Prep pod failed to run on a tainted node."
**Is this a bug report or feature request?**
* Bug Report
The preparation pod failed in a tainted node. After removing taint, the pod may succeed.

**Deviation from expected behavior:**
The preparation pod failed in a tainted node.
[code]

**Expected behavior:**
The preparation pod should succeed regardless of taint once it's scheduled. Or the preparation pod behaves differently related to taint?

[2019-11-15 18:15] mkhpalm commented on #4274
Thanks, I was trying to figure out exactly where it got onto another path but was never fully sure based on my limited understanding.

Curious about two things:
1. Is operator supposed to restart when it loses leader elections?
2. Is there a reason why rook keeps doing work it has already successfully completed before? E.g. updating deployments of changes it already successfully deployed previousl

[2019-11-15 22:21] travisn commented on #4274
1. The leader election is an internal detail of the controllers in the operator. When they get reset, then they might cause the operator to think it's time to start a new orchestration as if it was just restarted. Are you actually seeing the operator pod restarted? If so I'd like to see the previous logs from when the operator shut down. Or if the operator is just kicking off an orchestration, the

[2019-11-16 21:16] grimmthetallest commented on #1653
As someone with no prior knowledge of how Rook does things but presumes to have a decent understanding of Ceph internals, I'd like to point out that Ceph includes a scan tool for BlueStore devices that prints the cluster fsid and scanned OSD ID. There may be some additional prerequisites to scan the OSD storage devices if LVM or dmcrypt are also used.

[There's also some good documentation here](h

[2019-11-17 06:00] kzh commented on #4158
I'm having the same issue on my kubernetes cluster with rook-ceph v1.1.
[code]
These pods have been constantly crashing and restarting due to:
[code]
I'm running on a single node cluster. The specs are:
[code]

[2019-11-17 06:11] kzh commented on #4274
I'm having the same problem on my kubernetes cluster with rook-ceph v1.1.
[code]
These pods have been constantly crashing and restarting due to:
[code]
I'm running on a single node cluster (k8s v1.16). The machine specs are:
[code]

This seems related to #4158

[2019-11-17 06:35] patlachance commented on #1886
look at https://github.com/Alluxio/alluxio-csi

[2019-11-17 07:44] albertdb commented on #2959
Still relevant.

[2019-11-17 14:42] #3047 closed

[2019-11-17 15:42] #3344 closed

[2019-11-17 16:36] mykaul commented on #2959
I think regardless of the replica count, we wish to limit a pool to specific set of OSDs, that in turn will be running on specific (labeled?) nodes.

[2019-11-17 17:42] #2640 closed

[2019-11-17 21:08] #3508 closed

[2019-11-18 07:30] woohhan opened #4334 "Support iscsi Server CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
We have Rook-Ceph RBD for block storage with great scalability and durability. But the only problem is performance. If we do not care durability but care performance, using Ceph is not best idea. We have NFS Server CRD and I think we can offer iscsi server CRD too.

**What is use case behind this featur

[2019-11-18 07:33] WoohyungHan commented on #4334
If this is worth, I wish I could work on it. Thanks.

[2019-11-18 09:08] #3469 closed

[2019-11-18 09:08] #3129 closed

[2019-11-18 09:08] #3215 closed

[2019-11-18 13:38] likid0 commented on #3525
Hi,

I'm seeing rook-ceph-nfs CrashLoopBackOff on the  nfs-ganesha containers running OCP 4.2.2 and rook out of the master branch.

The config-init container runs and completes ok, but the nfs-ganesha cotainer fails with the following log:

$ oc logs pod/rook-ceph-nfs-my-nfs-a-55d54597c4-m2j6p -c nfs-ganesha
18/11/2019 13:28:07 : epoch 5dd29c67 : rook-ceph-nfs-my-nfs-a-55d54597c4-m2j6p : nfs-ganes

[2019-11-18 15:08] #2668 closed

[2019-11-18 15:12] stephan2012 commented on #3693
Facing the same issue after unplanned outage:

[code]

[2019-11-18 15:58] stephan2012 commented on #3693
Looks like LVM information is lost?

[code]

There is a Volume Group backup in `/etc/lvm/backup`  available:

[code]

However, restoring it does not really help:

[code]

Unfortunately, this does not really help:

[code]

[2019-11-18 18:27] #2787 closed

[2019-11-19 00:01] galexrt commented on #3640
Ping @rohan47 as discussed at Ceph + Rook day San Diego

[2019-11-19 01:44] MichaelZhao9824 commented on #4251
Got the same issue when use release-1.1. Any way to fix it?

[2019-11-19 04:07] dyusupov commented on #4334
meanwhile, there is Rook EdgeFS support for iSCSI + CSI

[2019-11-19 04:18] travisn commented on #4334
@WoohyungHan Have you tested the performance on a pool with replication of 1 [instead of 3](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/pool.yaml#L17)? As long as the rbd kernel driver is available on the client, I would think this would be highest performance rather than adding iscsi. @dillaman, other perspective on iscsi?

[2019-11-19 04:50] leseb commented on #4334
The only thing I know is that containerizing iSCSI is hard, even though I did it here https://github.com/ceph/ceph-container and it's working. Also, configuring iSCSI gw from containers is not possible yet AFAIR because the gwcli client cannot do it from within a container. Things might (have?) certainly changed.

[2019-11-19 05:34] WoohyungHan commented on #4334
@travisn I agree that rbd client would be higher performance rather than iscsi, and decreasing replication number can increase rbd performance. however, It still slow than raw device. Ceph has more write amplification to keep consistency object data with its metadata.

I believe that in the near future kubevirt will be the most popular VM orchestration framework, and using Ceph is enough in most o

[2019-11-19 05:36] WoohyungHan commented on #4334
@leseb Could you please explain what makes it hard? I think we can just provision iscsi target like nfs's case... or I underestimated it?

[2019-11-19 09:32] tarjintor opened #4341 "[cephobjectstore]change replicated.size then apply -f，nothing happened"
I use cephobjectstore,and at first,I only store 1 replicate.
Now I wish to replicated 3 times,but this doesn't work
But when I change CephBlockPool's replicated.size,then apply ,it works?

Is this a bug or cephobjectstore can't update replicated.size dynamic?

[2019-11-19 10:54] jmolmo opened #4342 "Improve restarting time for mgr,mon,toolbox pods running in a k8's "NotReady" node"
**Feature Request**

If one node is NotReady for Kubernetes it takes up to 5 minutes till the Pod eviction starts causing the MGR Pod to be unavailable for this time causes metrics to be lost which may be important to see what the issue is for a failure.

(For more info on Kubernetes node down detection and pod eviction, see https://fatalfailure.wordpress.com/2016/06/10/improving-kubernetes-reliab

[2019-11-19 11:00] jmolmo commented on #1796
After the Rook-Community meeting held pass 11/15/2019 , we decided to not continue adding two managers in the rook cluster to avoid problems between k8 load balancer, k8 resiliency policies and Ceph system.
However, we continue with the modification to improve the time needed to have a new mgr pod running when the node where this pod runs is "notReady"
This modification is in:
[Improve restarting

[2019-11-19 11:00] #1796 closed

[2019-11-19 13:31] dillaman commented on #4334
Assuming you are using LIO, you actually cannot truly containerize it since it's a kernel-hosted iSCSI target. The only thing that Ceph iSCSI containerized was the support daemons for configuring the LIO configfs (pulls its config from the Ceph cluster and has a REST API) and tcmu-runner for bridging from LIO to librbd in userspace. Neither of these two things would apply to a LIO target that was

[2019-11-19 14:08] mykaul commented on #4342
Is it taking the MONs 5 minutes as well?

[2019-11-19 15:55] jmolmo commented on #4342
Yes, the k8's DefaultTolerationSeconds admission controller adds a toleration for node.kubernetes.io/unreachable with tolerationSeconds=300 unless the pod configuration provided by the user already has a toleration for node.kubernetes.io/unreachable.
With #4243 this has been cahnge to 5 seconds in mgr, mon and cephtools pods.

See:
https://kubernetes.io/docs/concepts/configuration/taint-and-tolera

[2019-11-19 16:00] chechuironman commented on #4006
is there any solution for this?

[2019-11-19 16:05] benceszikora opened #4345 "CSI plugin registration failing and pods stuck in ContainerCreating"
* Bug Report

**Deviation from expected behavior:**
I have these messages logged every 2 minutes by the kubelet service:
[code]
Any pods that I attach a rook block PVC to are stuck in ContainerCreating and I see the following messages:
[code]

**Expected behavior:**
No error messages and pods successfully mounting and running rook block volumes.

**Environment**:
* OS (e.g. from /etc/os-release):

[2019-11-19 17:28] mkhpalm commented on #4274
Correct, it restarted with a new container hash. In the ticket above I gave the tail end of the crashed container logs and then the new container's logs after that. FWIW rook operator had been running without issue under that same hash for over a month since we last updated to 1.1.2.

This is what stood out in the old container's logs. `F` is for fatal?
[code]
Same behavior in the previous comment

[2019-11-19 18:56] BlaineEXE commented on #2959
I think this might be something one would need to do from the Ceph CLI in the toolbox pod. I would be wary to put this functionality into Rook as a first class citizen, because I don't see that it is within the 80% of normal users basis, and it would be complex to implement.

It's also not clear to me why Cassandra must be using Ceph underneath. Why not use a non-sharded database like Postgres or

[2019-11-19 19:01] BlaineEXE commented on #4329
It's not clear to me how a node taint can cause a problem with ceph-volume connecting to the Ceph monitors. Could this have been a coincidence during one run, or can you reproduce this regularly?

[2019-11-19 19:03] BlaineEXE commented on #3660
@leseb has this been resolved in a PR, or are you working on a resolution?

[2019-11-19 19:04] BlaineEXE commented on #3656
not stale

[2019-11-19 19:07] yanchicago commented on #4329
I can reproduce regularly.  Based on the log, the logic difference happened after 'lsblk'. Could you point me which function leads to "ceph--9e12xxx" being created?

Success case:
[code]
Failure case:
[code]

[2019-11-19 19:15] BlaineEXE commented on #4324
Closing as invalid

[2019-11-19 19:15] #4324 closed

[2019-11-19 20:06] benwbooth commented on #4324
Figured it out. I had tried to install rook using the master branch instead of one of the tags. Thanks!

[2019-11-20 10:28] r0bj commented on #4290
It seems that it's fixed in rook 1.1.7.

[2019-11-20 10:32] mykaul commented on #2959
I don't think it matters what the workload is really (Cassandra or other) - the requests are both legitimate:
1. Support replica 1 - you lose the data, you re-run the job (for example in CI) and you don't want to pay the replication tax (in performance and cost).
2. Have a pool per set of nodes - again, for various reasons, inc. separation of noisy neighbors (so infra storage and workload storage)

[2019-11-20 11:48] ajarr commented on #4006
@joscollin  take a look

[2019-11-20 11:54] ajarr commented on #4251
@joscollin take a look

[2019-11-20 13:28] benceszikora opened #4350 "Operator crashing on concurrent map read and map write"
* Bug Report

**Deviation from expected behavior:**
The operator is crashing sometimes shortly after coming up, sometimes later. I have attached the logs with a trace.
[rook-crash.txt](https://github.com/rook/rook/files/3869424/rook-crash.txt)

**Expected behavior:**
The operator does not crash.

**Environment**:
* OS (e.g. from /etc/os-release): RHEL 7.5
* Kernel (e.g. `uname -a`): `3.10.0-862.3.

[2019-11-20 14:18] satwikk commented on #4251
I have deployed rook-ceph v1.1 on CentOS7 with mainline kernel 5.3.11

And I cannot successfully create PVC/PV on csi-cephfs

Please find the `csi-cephfsplugin-provisioner` logs below,

[code]

[2019-11-20 14:26] satwikk commented on #4251
For your reference - There are cephfs secrets present under rook-ceph namespace

[code]

[code]

[code]

[2019-11-20 14:30] joscollin commented on #4006
@satwikk :
`UnboundLocalError: local variable 'ret' referenced before assignment` This happens because you pressed Ctrl+c. Additionally, `ret` was not initialized in `do_command` as it is supposed to be `ret        = 0, "", "" `

The issue we need to check here is why was it hanging. Looking at the logs provided [here](https://github.com/rook/rook/issues/4006#issuecomment-540428989) and `ceph stat

[2019-11-20 15:58] redradrat commented on #4300
@BlaineEXE
Yeah... you are right actually... Automatically propagating objectmeta to owned object should not be in scope for rook.

Basically the idea is to be able to add annotations to all pods created through rook... I get though that it might not really be rook's job.

https://github.com/rook/rook/blob/0bb8000825055e45e6f58966ec1e47183391fa47/pkg/operator/k8sutil/cmdreporter/cmdreporter.go#L30

[2019-11-20 17:33] rohantmp commented on #4290
Yeah, you're issue helped me find the cause! Sorry I forgot to update the issue after sending the patch!

[2019-11-20 17:33] #4290 closed

[2019-11-20 19:12] BlaineEXE commented on #4300
I understand the idea as a vague implementation, but in order for it to be considered for adding to Rook, we need to have a clear idea of how the feature would be used, what it would enable, and who would be using it. This helps us prioritize which features we can work on with the resources available.

[2019-11-20 19:22] BlaineEXE commented on #2959
I believe Rook already supports a replication factor of 1. via `spec:replicated:size` in the CRDs. Unless I am misunderstanding what you intend here.

As far as having a pool per set of nodes, this is possible to do today using Ceph's CLI directly from the toolbox. If implementing this in Rook directly, it would take some time and effort to propose a way to format requests for pools like this into

[2019-11-20 20:08] satoru-takeuchi commented on #3132
I have some comments as a Linux kernel developer's point of view.

I guess it's a kernel problem and Ceph hits it (I'll describe why I think so in detail later).

To confirm whether my hypothesis is right or not, could anyone give me the following information?

a. The output of `dmesg` in the node that the problematic OSDs exist. If it's impossible,
   Please run `echo 1 >/proc/sys/kernel/hung_tas

[2019-11-20 21:37] hmm01i opened #4351 "Custom annotations cause operator to panic: "assignment to entry in nil map""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Adding annotations to cluster.yaml causes Operator to crash with:
[code]

Relevant snip from cluster.yaml
[code]

**Expected behavior:**
Adding custom annotations to cluster.yaml should not panic the operator. Annotations should be added or the error should be handled more gracefully.

**How to reprodu

[2019-11-20 22:00] hmm01i commented on #4300
Could this be related to the annotations being set in cluster.yaml? I just open a issue because annotations are not being set on mgr as requested in cluster.yaml. Thought I remember finding something in the code that was not propagating annotations when declaring cluster. Will see if i can find the line...

[2019-11-20 22:04] hmm01i commented on #4351
Maybe this is resolved by https://github.com/rook/rook/pull/4195

[2019-11-20 22:10] BlaineEXE commented on #4351
Very likely this is fixed by #4195, yes. This is present in Rook v1.1.7. Could you try updating and checking again?

[2019-11-20 23:32] hmm01i commented on #4351
So I'm still getting error but it goes away if I add an annotation to `all:`. I'm wondering if the problem might happen when trying to merge component specific annotations with "all"  annotations if `all:` is empty or not defined.

[2019-11-21 04:10] #3629 closed

[2019-11-21 06:48] mykaul commented on #3132
Do we have any updates from any of the reporters here of the various issues?

[2019-11-21 07:31] travisn commented on #2959
In a related conversation today, there is a very real need for access to storage that is:
- Local to the node for highest performance possible
- No replication. The application manages its own redundancy if needed

Postgres was the example application for these requirements. With Ceph we are bound by the CRUSH rules for distributing the data. If we can't pick up sufficient topology information fro

[2019-11-21 07:41] mumrau commented on #2959
I am not pushing for this feature to be implemented right now, I totally understand the 80% of users rule @BlaineEXE.
There are multiple use cases involved, the one you quote @travisn , when you want to have the data as close as possible from the workload, but also having let's say 2 different pools, all using a whole disk on the machine, but one being on HDDs and the other one on SSDs.
If I try t

[2019-11-21 08:20] mykaul commented on #2959
This has several disadvantages:
1. It's not consistent, from the developer perspective - they need to use 2 different storages.
2. It is not expandable - you cannot easily begin with replica 1 and later on move to higher replica count.
3. It may or may not support all the additional goodies we have or may add (compression, encryption, etc.) - and again, per #1 - not in a consistent, abstract from

[2019-11-21 08:23] mykaul commented on #2959
Just replica 1 is good, but may not be enough - if you can ensure it is only running on specific OSDs, you can have more control (hopefully) on its uptime. You KNOW that if you bring down OSD x or y, then that pool will be down. Vs. if it is spread over all your OSDs, a single failure anywhere might bring it down - which you may not have expected.

I agree to everything said on complexity of the o

[2019-11-21 08:45] albertdb commented on #2959
That's the key. Once you have tens of OSD, the probability of experiencing a failure on one of the OSD and bringing down all PV with replica 1 rises considerably, up to the point of being an unreliable storage system.

[2019-11-21 09:10] #3636 closed

[2019-11-21 15:14] ctrysbita commented on #3683
Any update? Not resolved yet.

[2019-11-21 17:14] BlaineEXE commented on #4105
@shaas do you want to open a WIP PR for this with your current findings?

[2019-11-21 18:22] BlaineEXE opened #4357 "Crashcollector deployments should have Rook & Ceph version labels"
The new crashcollector deployments should get `rook-version` and `ceph-version` labels. This should be a pretty quick, easy fix that we should get in before v1.2 is released.

[2019-11-21 18:41] BlaineEXE commented on #2959
I have gotten the suggestion to create a CRUSH hierarchy based on kubernetes node labels--I believe this feature is planned for Rook but not implmented yet, @travisn? With that, one could create a pool (manually, currently) and assign it to a particular hierarchy tier. I think this would be the most idiomatic way of achieving what is requested here in Ceph's terminology.

I think it would be a rea

[2019-11-22 06:01] WoohyungHan commented on #4334
@dillaman If I understand correct, you are saying that we have an userspace nfs server(nfs-ganesha) but not for iscsi. So if we try to deploying iscsi server, it's not real 'containerized' because it is kernel-hosted server. am i right?

If so, Could you please explain what problem can be expected? and nevertheless how do you think about supporting iscsi deploying with rook? I think we can start l

[2019-11-22 06:57] #3860 closed

[2019-11-22 08:32] nalakawula opened #4359 "Kubelet log spamed by "Operation for "/var/lib/kubelet/plugins/rbd.csi.ceph.com/csi.sock" failed.""
**Is this a bug report or feature request?**
* Bug Report
Actually I'm not sure, this is a bug or normal behavior. I try rook v1.1 the did clean up as described in https://rook.io/docs/rook/v1.1/ceph-teardown.html

Now, now more rook's stuff in my cluster, but when I check kubelet log its spammed by:
[code]

**Environment**:
* OS (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
* Kernel (

[2019-11-22 10:50] iMartyn commented on #3132
Having removed xfs from the systems, I have managed to transfer >6Ti data to cephfs without solid locking up, which doesn't help narrow it down much but I concur this feels like a kernel bug to me.

Unfortunately even if I were able to reproduce, I wouldn't be able to issue any commands on the running systems and I think this is the source of the frustration here, it's not _just_ a hung task, it's

[2019-11-22 10:54] iMartyn commented on #3132
Another recommendation if you're in a memory-constrained system is to run earlyoom - https://github.com/rfjakob/earlyoom - This _should_ ensure that kswapd doesn't get invoked, even if I wish there was a way to turn off kswapd on systems that have no swap because there's very little benefit, swapping out executables that are just going to need to reload is a last-ditch attempt to continue running

[2019-11-22 11:39] #2541 closed

[2019-11-22 13:59] Madhu-1 commented on #2969
@travisn there is a  design doc in [1] and WIP PR in [2]  for the rbd block device encryption with LUKS

[1] https://github.com/ceph/ceph-csi/pull/448
[2] https://github.com/ceph/ceph-csi/pull/697

[2019-11-22 14:00] ajarr commented on #4006
@veezhang are you still facing this issue after upgrading to the latest rook v1.1.7 ?

From inside the rook tool box pod can you execute the following, and share their outputs
# ceph versions
# ceph fs ls
# ceph osd pool application get
# ceph fs volume ls

[2019-11-22 14:07] ajarr commented on #4006
@satwikk are you on latest rook, v1.1.7 ? Did you execute the command from inside the rook toolbox pod? Can you share the output of the following commands executed from the tool box pod?
[code]

[2019-11-22 14:33] ajarr commented on #4251
@xiaoqge the root cause is that your Ceph cluster isn't healthy

You need to fix that,
[code]

Please fix the too few PGs per OSD issue

[2019-11-22 14:36] ajarr commented on #4251
@satwikk, please share your ceph cluster status and ceph versions from within the rook tool box pod
[code]

[2019-11-22 15:13] darth-veitcher commented on #923
Is there any documentation available that explains how to setup rook and Ceph with encrypted devices? As @zlbabe highlighted there's no indication of how to use this feature. Thanks

[2019-11-22 15:30] travisn commented on #923
@darth-veitcher See the [encryptedDevice](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L139) property when creating the cluster. [This doc](https://rook.io/docs/rook/v1.1/ceph-cluster-crd.html) mentions it.

[2019-11-22 16:44] AXington commented on #4246
I had to delete the deployment, then use the ceph toolbox to manually remove it, and delete the data from /var/lib/rook on the node. I found this https://gist.github.com/cheethoe/49d9c1d0003e44423e54a060e0b3fbf1 but this is really manual and would love to see this be automated in the future

[2019-11-22 17:09] jeffvance commented on #3686
@thotz When you return from kubecon please add comment to this pr. It should remain active.

[2019-11-22 17:11] jeffvance commented on #3685
@travisn can this be closed? AFAIK we have greenfield tests but brownfield (@thotz ) are still in-progress.

[2019-11-22 17:28] #3685 closed

[2019-11-22 17:39] travisn commented on #4299
Fixed in v1.1.7

[2019-11-22 17:39] #4299 closed

[2019-11-22 17:42] travisn commented on #4212
@skbki There was a new anti-affinity example added to cluster-on-pvc.yaml. See [here](https://github.com/rook/rook/blob/release-1.1/cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml#L52-L76) if that helps give you an example of the anti-affinity.

[2019-11-22 17:42] #4212 closed

[2019-11-22 18:00] travisn opened #4361 "Mgr pod is restarted during a rook upgrade"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When the Rook operator is upgraded, the mgr pod is restarted even though the rook image is not included in the mgr pod spec. The reason is that the mgr pod spec includes this env var:
[code]

When the operator is upgraded, the version will change and the pod will be restarted. While this env var was ad

[2019-11-22 18:41] travisn opened #4362 "OSDs upgraded unnecessarily during rook upgrade due to topology detection"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During a Rook upgrade, there is no need to restart the Ceph daemons unless there is an important update to the daemon pod spec. If the rook image only changed, that only impacts the init container and basic daemon startup and there is not a need to restart the Ceph daemon.

One of the reasons we have r

[2019-11-22 18:46] darth-veitcher commented on #923
Thanks @travisn id found both of those references. Maybe I’m just missing something obvious (I’ll have a go later tonight).

Wasn’t clear to me whether Rook expects to manage the encrypt/decrypt or whether you’re just telling it that “I’ve got an encrypted LUKS device here that’s already unlocked at `/dev/dm-X`.

If it’s expecting to lifecycle manage the encryption where are the keys stored? In Ku

[2019-11-22 18:46] travisn opened #4363 "OSDs upgraded unnecessarily during rook upgrade due to requirement of activating LVM"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During a Rook upgrade, there is no need to restart the Ceph daemons unless there is an important update to the daemon pod spec. If the rook image only changed, that only impacts the init container and basic daemon startup and there is not a need to restart the Ceph daemon.

The remaining reason (after

[2019-11-22 18:56] travisn commented on #923
When Rook passes the option on to Ceph to encrypt the OSDs, it will generate its own keys and store them in the mon db. [Here](https://docs.ceph.com/docs/master/ceph-volume/lvm/encryption/) is the ceph documentation with some more details.

[2019-11-22 19:00] darth-veitcher commented on #923
Gotcha thanks @travisn I’ll try that tonight then.

If I end up with anything coherent is there a process for submitting back into the docs?

[2019-11-22 19:10] yanchicago opened #4364 "OSD upgrade failure from 1.0 to 1.1 with "managedFields" on"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During upgrade from 1.0.2 to 1.1.7 upgrade, the mon/mgr deploy were upgraded successfully but osd deployment failed. Seems that rook upgrade doesn't handle "managed field" included in the metadata.

**Expected behavior:**
OSD upgrade should succeed.

**How to reproduce it (minimal and precise):**

1).

[2019-11-22 20:45] travisn commented on #4350
@benceszikora Can you provide any more details on the repro such as how often you have seen it or if you can find a consistent repro? How much later after startup have you seen it? Minutes? Hours? Days?

[2019-11-22 21:06] travisn commented on #2959
It is not expandable - you cannot easily begin with replica 1 and later on move to higher replica count.

Agreed on the disadvantages. But the scenario has come up multiple times this week, particularly around postgres that needs to be optimized for a high performance database. @liewegas also sees this scenario as something better addressed with local storage than attempting to make Ceph fit the s

[2019-11-22 21:43] travisn commented on #4341
@tarjintor Agreed, this should be a supported scenario to change the replication size in the object store, similar to the pools. @rajatsingh25aug Could you take a look at this issue? When the object store CR is updated with a new replica size, the pools should be updated with the new size. We're probably just skipping all updates to the CR currently

[2019-11-22 21:44] rajatsingh25aug commented on #4341
sure @travisn  would love to look into it! 😇

[2019-11-22 22:41] paalkr commented on #4299
I can confirm that it works in 1.1.7. Thx!

[2019-11-22 23:03] satoru-takeuchi commented on #3132
@iMartyn Got it. So, how about the following information? Although I didn't say clear, it's not necessary to run any command after reproducing this problem.

[code]

[2019-11-22 23:16] udayjalagam opened #4365 "csi-cephfsplugin-provisioner trying to access PV created using Flexdriver"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I have enabled both CSI and Flexdriver in my rook ceph cluster and used Flexdriver for our default class.  When flexDriver created PVs I noticed csi-cephfsplugin-provisioner pod csi-attacher container trying to manage those existing PVs.

**Expected behavior:**
Flex driver supposed to ignore them since

[2019-11-23 18:45] weishiuchang opened #4367 "osd placement on wrong nodes"
**Is this a bug report or feature request?**

* Bug Report

**Bug Report**
rook-ceph-osd replicas are not being correctly placed on the right nodes, resulting in
[code]

**Expected behavior:**
Expected each rook-ceph-osd-0 through 3 to be placed on worker-0 through worker-3, as prepared by rook-ceph-osd-0 through 3. Each should be using the bluestore /dev/sdc, sdd, sde, and sdf respectively.

[cod

[2019-11-24 08:17] #3610 closed

[2019-11-24 13:17] #3577 closed

[2019-11-25 07:37] mohag commented on #2047
This is still an issue (aka comment spam to keep the bot from closing it)

[2019-11-25 10:33] fahmi-id commented on #4006
Hi @ajarr I have tried using the latest version, the result is still pending when creating pvc.
`ceph versions`
[code]
`ceph fs ls`
[code]
`ceph osd pool application get`
[code]

[2019-11-25 10:44] vvkkhjt commented on #3965
@galexrt if i want use other rook to connect ceph cluster with rook,what should i do?

[2019-11-25 10:51] benceszikora commented on #4350
@travisn I don't really have a way to reproduce this unfortunately. I happens sometimes instantly after startup, sometimes hours later. It has been running for 2 days now without crashing.

[2019-11-25 12:43] rajatsingh25aug commented on #3144
@areed can you please tell where exactly in the YAML you tried to change the replicated count?.
Or if you were trying to make changes via UI, please provide the steps.
Thanks!.

[2019-11-25 13:22] mattirantakomi opened #4368 "CephFS CSI configmaps and secrets missing when using external ceph cluster configuration"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

CephFS backed PVC provisioning is impossible because `rook-ceph-csi-config` configmap and `rook-csi-cephfs-provisioner` and `rook-csi-cephfs-node` secrets containing external Ceph cluster details are missing.

**Expected behavior:**

Configmap `rook-ceph-csi-config` and secrets `rook-csi-cephfs-provis

[2019-11-25 13:24] Madhu-1 commented on #4368
cc @leseb

[2019-11-25 13:28] bsakweson opened #4369 "Provisioning of secondary large hard drives 4T (Non Solid State)"
**Is this a bug report or feature request?**
* Bug Report
I believe I followed the documentation pretty closely but some how not getting the expected results, so it could be either a configuration challenge or a bug report.

**Deviation from expected behavior:**
I have my rook-ceph cluster settup properly but can hardly get a successful cluster up and running. As the logs will show, it tries to pr

[2019-11-25 16:26] travisn commented on #3706
The example toolbox is being updated with #4318.

[2019-11-25 16:55] travisn commented on #4361
Confirmed that the var is not needed in the mgr modules, will remove it...

[2019-11-25 17:00] travisn commented on #4363
After discussing with @liewegas @sebastian-philipp we should actually be able to workaround this with the following:
- Use an EmptyDir in both the init container and the main container that is mounted to the path where the `c-v activate` would work with the files.
- Call `c-v activate` from an init container. Since the directory will be found already, c-v will use the directory instead of creating

[2019-11-25 17:02] #3653 closed

[2019-11-25 20:12] areed commented on #3144
I changed both `dataPools[0].replicated.size` and `metadataPool.replicated.size` from 1 to 2 in this config:
[code]

[2019-11-25 20:16] yanchicago opened #4371 "Rescheduled pod in a statefulset is not allowed to attach a PVC"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a host failed, the pod running on that host was rescheduled. But the rescheduled pod failed to attach the PVC.

**Expected behavior:**
The rescheduled pod should be able to attach the pvc.

**How to reproduce it (minimal and precise):**

1. The pod 'testrookblk-1' is part of statefulset and runs o

[2019-11-25 20:17] rajatsingh25aug commented on #3144
and then you applied yaml simply by kubectl apply -f <thi yaml>? and the pool didn't changed right?

[2019-11-25 20:41] areed commented on #3144
right

[2019-11-25 21:05] travisn commented on #4371
If the rescheduled pod needs to start, the attachment CR needs to be cleaned up. How was the pod deleted manually? Can you delete the VolumeAttachment CR manually as well? This would free up the volume to be attached.

If the volume doesn't have a chance to detach properly, the flex driver will be at risk of causing corruption if the volume is mounted again before it knows the volume was detached

[2019-11-25 21:23] travisn commented on #4350
@rohantmp This appears related to the disruption budget controller starting in its own goroutine. Here are the two goroutines that hit the concurrent map issue:

[code]

and
[code]

[2019-11-25 21:29] kyschouv commented on #4208
We're seeing this too.

[2019-11-25 21:40] bsakweson commented on #4369
It turns out my issue was a combination of configuration and drives containing some gpt headers. Once I go the configuration going and blew those headers off using `gdisk --zap-all /dev/sdb` things started working as expected.

[2019-11-25 21:40] #4369 closed

[2019-11-25 21:45] travisn commented on #4367
@WeiShiuChang Could you capture the logs from the osd prepare pods on each node? The operator log indicates that they were started successfully:
[code]
The logs from the `provision` container in each of those pods should show if the devices were prepared successfully for the osds. It's certainly unexpected that the osd daemons were not started on the expected nodes.

Please also check if the pod s

[2019-11-25 22:06] travisn commented on #4208
This should have been fixed by #4277 in v1.1.7. Can you verify if that build is working for you?

[2019-11-25 22:09] travisn commented on #4364
@rohan47 Could you take a look at this to get a repro?

[2019-11-25 22:37] yanchicago commented on #4371
@travisn The pod in terminating state was deleted by "kubectl delete". How to find VolumeAttachment CR?
"Since the pod has the same name and was rescheduled to the new node, seems like we could relax the check for node. " I agree that the new pod on different node is less risky to allow attach.
"The new pod with the same name can't start on the requested node unless it has already been removed fro

[2019-11-25 22:53] travisn commented on #4371
The instances of the CRD `volumes.rook.io` are created by the flex driver in the same namespace as the operator (by default `rook-ceph`). As a workaround, try deleting the `volume` that corresponds to the volume with the issue. For example, confirm you found the correct attachment before deleting it:
[code]

[2019-11-26 00:04] WeiShiuChang commented on #4367
@travisn here are the logs for the prepare jobs and specs for the osds - it's a new run since I've been tearing down and spinning up new clusters daily. You can see from the specs that they all got themselves assigned to worker-2.

[code]

kubectl -n rook-ceph logs rook-ceph-osd-prepare-k3d-k3s-default-worker-0-9lbk4
[code]

kubectl -n rook-ceph logs rook-ceph-osd-prepare-k3d-k3s-default-worker-1-

[2019-11-26 02:41] xiaoqge commented on #4251
The problem cannot be solved temporarily, it has been abandoned, thank you for your help。

[2019-11-26 02:41] #4251 closed

[2019-11-26 07:14] dmeijboom commented on #4208
I updated to `1.1.7` yesterday, now one of the jobs is completed but the other two still have the same issue.

[2019-11-26 08:02] leseb commented on #3525
This seems unrelated to the original issue but there is clearly a problem. AFAIK `/var/run` is not bindmounted so any process should have access to it and thus be able to write a file.
Can reproduce this all the time?

Thanks.

[2019-11-26 10:37] iyurev opened #4372 "Missing securityContext for Init container"
I've tried install rook Ceph for test purposes , follow guide - https://rook.io/docs/rook/v1.1/ceph-examples.html

It looks like missing securityContext  for init container - **chown-container-data-dir** ,
that causes  permissions error:

[code]

This's my initContainers:

       "initContainers": [
          {
            "args": [
              "/var/lib/ceph/crash/posted"
            ],

[2019-11-26 11:15] leseb commented on #4372
Fix by https://github.com/rook/rook/pull/4344/files

[2019-11-26 11:15] #4372 closed

[2019-11-26 11:29] ajarr commented on #4006
@fahmi-id , what's the status of ceph cluster?
[code]

Also, set the following key on your FS data pool's tag,
[code]

Can you share the logs via pastebin links,
 - `csi-cephfsplugin` container in the `csi-cephfsplugin-provisioner-xxx` pod
 - `csi-cephfsplugin' container in the `csi-cephfsplugin-xxx` pod
- `ceph-mgr` pod

[2019-11-26 11:31] christianhuening commented on #1499
ping. anyone else interested in this?

[2019-11-26 11:41] Madhu-1 commented on #1499
@christianhuening is this same as https://github.com/ceph/ceph-csi/issues/521

[2019-11-26 12:48] iyurev opened #4374 "OSD crus loopback - unable to identify public interface 'eth0' numa node: (2) No such file or directory"
Good day!

My OSD pod  is crush loop backing  with  error messages in log:

[code]

I think root cause  -  **unable to identify public interface 'eth0' numa node: (2) No such file or  directory**   .

image: docker.io/ceph/ceph:v14.2.4-20190917

OCP 4.1

[2019-11-26 13:21] leseb commented on #3660
@BlaineEXE somehow I pushed something in my fork but I don't recall doing anything for this. Also, the commit is from @sebastian-philipp so I'll leave that to him :).

[2019-11-26 13:24] leseb commented on #4374
This is not a bug, I guess Ceph could try to handle that more elegantly but this is more a warning.

[2019-11-26 13:24] #4374 closed

[2019-11-26 13:28] leseb commented on #4368
Fixed in https://github.com/rook/rook/releases/tag/v1.1.7 already. Just upgrade.

[2019-11-26 13:28] #4368 closed

[2019-11-26 13:40] Antiarchitect commented on #4012
Having the same issue. K8s 1.14.8, Rook 1.1.7 - official chart. Ceph 14.2.4-20191112 InvalidValue: [Errno 22] error in setxattr

[2019-11-26 14:24] hannesrauhe opened #4376 "When upgrading 1.0 to 1.1 osd lifecycle hook is failing"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
two of the osd pods went into a crashloop

**File(s) to submit**:
Events in OSDs
[code]

In order to get the cluster back in a working state I followed a hunch and removed the `--verbose` from the lifecycle section of the affected OSD deployments

**Environment**:
* OS: Ubuntu 16.04.6 LTS
* Cloud provi

[2019-11-26 14:29] eddeh83 opened #4378 "Unable to pin rook-nfs pod to node using nodeSelector, but can pin rook-nfs-provisioner and rook-nfs-operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Applying

nodeSelector
   role: storage-node

under the pods spec should pin the pod to the node with that label - but it just floats between nodes.

I have attempted to use this on both the rook-nfs yaml and in the helm chart but to no avail.

**Expected behavior:**

rook-nfs pinned to the specified

[2019-11-26 14:31] aland-zhang commented on #4282
I encountered the same problem.
Unable to attach or mount volumes: unmounted volumes=[test], unattached volumes=[mon-endpoint-volume test default-token-x4d4b dev sysbus libmodules]: timed out waiting for the condition
rook/ceph:v1.1.7-6.g755b10a
Kubernetes v1.16.2

kind: StorageClass
metadata:
  annotations:
    storageclass.beta.kubernetes.io/is-default-class: "true"
    storageclass.kubernetes.i

[2019-11-26 14:45] eddeh83 commented on #4378
The attached rook-nfs-yaml.txt is what is running in the environment after deployment.
The initial yaml had

nodeSelector:
   role: storage-node

under spec - but at deployment this disappears.

That node does exist with that label

[code]

[centos@cva-builder:4.4.2-PR-1310-10 SANDBOX2 CVA-PR-1310 build]$ kubectl describe pod logstash-nfs-0 -n rook-nfs
Name:               logstash-nfs-0
Namespace:

[2019-11-26 14:55] aland-zhang commented on #4282
After I restart both services, the problem is gone.
systemctl restart docker
systemctl restart kubelet

[2019-11-26 16:30] leseb commented on #4376
I think the fix is in master but hasn't been backported. 1.2 will be out mid-december I guess we can wait for it.

[2019-11-26 17:09] leseb opened #4379 "On image change, always run the ok-to-stop checks"
Currently, we only run the tests if the ceph version is different, we should not do that.
So if a new image is injected AND if that image has >= version then let's proceed. We still don't allow downgrade.

[2019-11-26 17:18] BlaineEXE opened #4380 "Ceph: upgrade OSDs in parallel"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
When Rook orchestrates an update to Rook or to Ceph, it updates OSDs one-at-a-time in the cluster. This is maximally safe, but it is also the slowest option. For clusters with thousands of OSDs, upgrade/update orchestrations could take a VERY long time.

As a back-of-napkin calculation, if each OSD take

[2019-11-26 17:25] travisn commented on #4208
@dmeijboom Were the jobs already in that state before the upgrade to 1.1.7? The jobs will be skipped completely now after the osd is first created, so if they are already in that state you may need to delete them manually.

[2019-11-26 17:50] BlaineEXE commented on #3379
@leseb @galexrt @travisn please take a look at the latest updated description.

[2019-11-26 17:51] rohan47 commented on #4364
@travisn Looking into it

[2019-11-26 18:11] schantaraud commented on #2587
I'm still having the same issue with Rook v1.1.7 and Ceph v14.2.4-20191112.

The system recovers from the replacement of a node and after manually purging the lost osd the cluster is perfectly healthy but the operator loops over and over with the following error until it gives up:

`2019-11-26 18:07:15.271241 E | op-cluster: failed to create cluster in namespace rook-ceph. failed to start the osds

[2019-11-26 18:17] Brandon21318 commented on #3760
https://rook.io/docs/rook/master/disaster-recovery.html

Following these steps and editing the monmap on mon-b, the remaining good member from before rook upgrade from 0.9 to 1.0.x fixed the problem.

[2019-11-26 18:17] #3760 closed

[2019-11-26 18:17] #4361 closed

[2019-11-26 18:23] travisn commented on #2587
@schantaraud Do you see any configmaps in the `rook-ceph` namespace named `rook-ceph-osd-<node>-status` for that node that was removed? If so, go ahead and delete that configmap. If it's not there, I can't think why the operator would be stuck waiting for osds on that node.

[2019-11-26 18:35] schantaraud commented on #2587
@travisn Thank you, that was it.

The configmap name contained a shortened identifier for the node. Is there a way to get this identifier automatically?

[2019-11-26 18:49] yanchicago commented on #4371
@travisn Thanks and the workaround did work. Appreciate if the fix can be available soon.

[2019-11-26 19:31] #3665 closed

[2019-11-26 20:53] dimm0 commented on #4127
Keep hitting in new version

[2019-11-26 21:01] travisn commented on #4127
@dimm0 Can you share the ceph-volume.log from when this happens? It should be more detailed than the pod log from the osd prepare. You should find it on the host where the osd prepare pod ran such as `/var/lib/rook/log/rook-ceph/ceph-volume.log`.

[2019-11-26 21:06] dimm0 commented on #4127
https://nextcloud.nautilus.optiputer.net/s/F6AFJDQ8Hgpqy8Z

[2019-11-26 21:10] travisn commented on #4127
Wow that's a big log file. Do you know which device(s) is/are failing, and about what time it happened?

[2019-11-26 21:11] dimm0 commented on #4127
sdq and sdp, last 2 hours
I just deleted those from cephcluster and restarted the operator, so I guess right before that..
I'll try to find these

[2019-11-26 21:18] dimm0 commented on #4127
Line 455477
`[2019-11-26 21:00:07,854][ceph_volume.main][INFO  ] Running command: ceph-volume  lvm batch --prepare --bluestore --yes --osds-per-device 1 /dev/sdp /dev/sdg --db-devices /dev/nvme1n1 --report --format json`

[2019-11-26 21:52] rohan47 commented on #4364
@yanchicago can you please add more info on how to repro this?
In my case I update operator image using `kubectl -n rook-ceph set image deploy/rook-ceph-operator rook-ceph-operator=rook/ceph:v1.1.7` and only the operator, discover and agent pods gets updated.

[2019-11-26 21:55] dmeijboom commented on #4208
Yeah, they were. I guess that makes sense! So it looks like it's fixed then :) nice!

[2019-11-27 01:06] #4307 closed

[2019-11-27 02:36] yanchicago commented on #4364
When ‘ServerSideApply=true’ feature-gates turned on in k8s, "managedFields" will show.

[2019-11-27 03:47] fahmi-id commented on #4006
Hi guys, This seems to be a problem with the CNI Provider that I use, previously I used CNI weave net and currently I use CNI calico, as a result the cephfs run perfectly.

#cheers

[2019-11-27 04:34] rohantmp opened #4382 "Improve documentation, logging, and failure scenarios for invalid failure domains."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
- We should handle pool objects with invalid `failureDomain`s through either documentation or enforcement.
- Misconfigured pools should either be ignored when possible and made obvious in the logs.

**What is use case behind this feature:**

- Reduce possibility of breaking rook

[2019-11-27 07:05] hannesrauhe commented on #4376
The problem is that the osds are re-created by the operator on configuration changes and failures, so the `--verbose` is always re-added. Any idea how I can fix this without switching to the master branch?

[2019-11-27 07:10] ndik11 opened #4383 "Non-CSI storageclass for v1.1"
How to set this up? I mean CephBlockPool + StorageClass without CSI There are examples about setting up CSI StorageClass, but I couldnt find example how to setup StorageClass like in v1.0.
Also I tried with template from v1.0 with Rook cluster v1.1. No luck, getting error:

`MountVolume.SetUp failed for volume "pvc-eb6ff144-10ed-11ea-b550-005056baf32d" : mount command failed, status: Failure, reas

[2019-11-27 08:03] stephan2012 commented on #2517
Still not resolved.

[2019-11-27 11:05] Negashev commented on #4014
rook (v1.1.7)
Upgrade from `ceph/ceph:v14.2.1-20190430` to `ceph/ceph:v14.2.4-20191112` helped

[2019-11-27 11:28] leseb commented on #4376
Unfortunately no.

[2019-11-27 11:46] leseb commented on #4363
Unfortunately, this won't be enough, the last thing that cannot be fixed easily is the code that catches the stop signal and de-activate the LV and then kills the OSD process...
I can make it work with bash but that's over-engineering the solution.

[2019-11-27 13:29] pdf commented on #1228
Looks like this is released with v1.1?

[2019-11-27 13:42] galexrt commented on #4261
You have one host with 3 OSDs.
If you have used the `pool.yaml` it has `failureDomain: host` set, this means you must have at least 3 hosts with one (or more) OSDs for the PGs to start. That should be the reason why the PGs are not coming "online".
To "fix" this for your one host scenario, you can change it to: `failureDomain: osd`.

**References**:

* https://github.com/rook/rook/blob/release-1.1

[2019-11-27 13:42] #4261 closed

[2019-11-27 18:07] kringalf commented on #4012
it looked like this for me too: after checking

as suggested by @ajarr it turned out the pool name in the StorageClass was wrong, after adjusting that and restarting the provisioner it worked for me

[2019-11-27 21:43] houey commented on #1447
can you remove this from Github?

[2019-11-28 00:56] jbw976 commented on #1447
@houey what do you mean remove this from Github? The issue is already closed, what would you like accomplished? Thanks!

[2019-11-28 05:23] nokiatesting commented on #4006
I'm using flannel, and also facing the same problem.

[2019-11-28 07:54] alfonsomthd commented on #2722
@travisn label "wontfix" should be removed?

[2019-11-28 09:20] #3680 closed

[2019-11-28 10:20] #3477 closed

[2019-11-28 13:26] satoru-takeuchi opened #4384 "ceph example: topologyAware CRD option doesn't exist"
**Is this a bug report or feature request?**
* Bug Report

topologyAware CRD option doesn't exist. However, it appears in several cluster examples.
It should be removed.

[2019-11-28 13:30] leseb commented on #4363
This is not what I observed, c-v mounts the tmpfs even if the dir is already present.

[2019-11-28 13:50] #4384 closed

[2019-11-28 14:12] satoru-takeuchi commented on #4271
An additional explanation to Kevin's one.

Replacing preferredDuringSchedulingIgnoredDuringExecution with requiredDuringSchedulingIgnoredDuringExecution in cluster-on-pvc.yaml would help you. It enforces each OSD to the different nodes.

If your k8s cluster consists of just 1 node, the default setting doesn't work. You should remove `failureDomain` line from rbd/storageclass.yaml, or should change

[2019-11-28 14:37] satoru-takeuchi opened #4387 "Ceph: support topologySpreadConstraints"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

It's necessary to support topologySpreadConstraints to spread OSDs among failure domains as much as possible. The detail is written in the following document.
https://github.com/rook/rook/blob/369958e08bbbd8f0058a288e2f4444246d22a391/cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml#L54

In addition

[2019-11-28 15:23] leseb opened #4388 "Use a client.crash key instead of the admin key"
Currently, the ceph-crash pod uses the admin key to send crash logs to the ceph-mgr.
On Ceph upstream Octopus, a new client.crash key profile has been implemented in the mons.
The ceph-crash pod should use it.

In practice this means:

* creating the key on the mon with `ceph get-or-create-key client.crash mon 'allow profile crash' mgr 'allow profile crash'`
* store it in a secret
* mount it in th

[2019-11-28 20:02] stefanfritsch opened #4389 "Cephfs CSI volumes fail to attach with transport endpoint is not connected"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Cephfs csi volumes fail to attach. The error is `transport endpoint is not connected`. Sometimes the pod starts fine but trying to access the volume from within the pod results in the error.

**Expected behavior:**

Volumes attach successfully.

**How to reproduce it (minimal and precise):**

Hard to

[2019-11-28 22:32] soakes commented on #4006
I can confirm that this can be fixed with exactly what @ajarr has said.

1. delete pvc/pv's if you have them stuck in pending state
2. delete storageclass for cephfs
3. create toolbox and enter it
4. Issue following commands as stated by @ajarr inside the toolbox container

[code]
5. exit container and apply storageclass again
6. apply pv and pod yml examples
7. confirm its working.

If all went w

[2019-11-29 04:19] Madhu-1 commented on #4389
https://github.com/ceph/ceph-csi/issues/703

[2019-11-29 07:03] travisn commented on #2722
@thotz Could you take a look at this? Enabling the object store in the dashboard by default would be very helpful. It should be straight forward for the operator to automate the steps mentioned by @mitchellmaler. Thanks!

[2019-11-29 07:23] travisn commented on #4383
@ndik11 To create a volume based on the flex driver, see the [flex driver](https://rook.io/docs/rook/v1.1/ceph-block.html#flex-driver) section in the docs. You should also be able to use the examples from the v1.0 docs, except 1) you need to enable the operator setting for the flex driver, and the example storage class moved to the `flex` subdir in the examples.

[2019-11-29 08:07] leseb commented on #3379
@BlaineEXE this looks acceptable to me, although I'm not 100% sold on the loop device thing unless c-v supports it already. Thanks.

[2019-11-29 08:30] rohantmp commented on #4350
Just saw this. Checking.

[2019-11-29 08:55] rohantmp commented on #4350
@travisn How did you determine that `goroutine 190` hit the panic?

I only see it in `goroutine 94`. Investigating that.

[2019-11-29 09:04] rohantmp commented on #4350
Oh, I started `ctrl+f`ing random memory values in the panicing gorouting, and I see that the *runtime.Scheme `0xc000330b60` is listed in both goroutine's stacktraces as args to functions.

Is that how you did it?

[2019-11-29 09:56] rohantmp commented on #4350
One access to Scheme is from the operator's default clientset:

https://github.com/rook/rook/blob/v1.1.7/pkg/operator/ceph/agent/agent.go#L265 using `context.Kubeconfig`

That clientset is generated here:
https://github.com/rook/rook/blob/v1.1.7/cmd/rook/rook/rook.go#L150

The other is from the cr_manager adding the ceph scheme.

https://github.com/rook/rook/blob/v1.1.7/pkg/operator/ceph/disruptio

[2019-11-29 12:04] thotz commented on #2722
@travisn Yeah sure I will take look into this issue

[2019-11-30 11:42] stefanfritsch commented on #4389
Sorry, but if that's the case you need to put a warning in the release notes and/or amend the upgrade docs from

to include

[2019-11-30 18:10] RutgerKe commented on #4006
I ran into the same issue, all the debug commands suggested here gave similar output, and hung on the same tasks. @soakes steps unfortunately didn't work for me.

The comment from @fahmi-id about changing the CNI provider pointed me in the right direction. I am also using weave. Before changing to another one I tried the cluster setting `hostNetwork: true`, and it suddenly all started working. I a

[2019-12-01 01:16] #3219 closed

[2019-12-01 03:44] chz8494 opened #4392 "new added node not getting osd auto-created with useAllNodes true"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
k8s cluster just added a new node, it get following pod created on automatically:
[code]
but I'm not seeing osds or other pod created.

**Expected behavior:**
since I have `useAllNodes: true`, I'd expect new node get osd provisioned automatically.

**How to reproduce it (minimal and precise):**
add new

[2019-12-01 06:05] travisn commented on #4392
@chz8494 This sounds like the a similar issue to #2977. If you restart the rook operator, the OSDs will likely be configured on the new node.

[2019-12-01 09:42] leseb commented on #2716
Solved by the following, how to do it for a mon:

`kubectl -n rook-ceph patch deployment rook-ceph-mon-a -p '{"spec": {"template": {"spec": {"containers": [{"name": "mon", "command": ["sleep", "infinity"], "args": []}]}}}}'`.

[2019-12-01 09:42] #2716 closed

[2019-12-01 10:16] #3207 closed

[2019-12-01 10:55] likid0 commented on #3525
Hi,

Yes, I have done a several installs on different envs and hitting the same issue all the time.

Like you mention, It seems just an issue that the user doesn't have perms to write to the /run fs.

[root@helper ceph]# oc debug pod/rook-ceph-nfs-my-nfs-a-55d54597c4-bzs4j  -c  nfs-ganesha
Starting pod/rook-ceph-nfs-my-nfs-a-55d54597c4-bzs4j-debug, command was: ganesha.nfsd -F -L STDERR
If you don

[2019-12-01 14:53] jouve commented on #4210
i used this workaround:
[code]

and I connect to the dashboard on https://127.0.0.1:8443

[2019-12-01 23:01] Antiarchitect commented on #4012
I have the same values of pool:
[code]
[code]
And still get this errors

[2019-12-02 02:25] for-mat commented on #4062
I ran into the same problem. How did you solve it

[2019-12-02 06:19] #3639 closed

[2019-12-02 08:19] #2917 closed

[2019-12-02 09:02] leseb commented on #3525
@likid0 in your debug in non-root can you try setting `-p /var/run/ganesha/ganesha.pid` to the `ganesha.nfsd` CLI? Thanks

[2019-12-02 09:20] code-chris opened #4397 "PV based mon's do not fully respect affinity"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Not all mon instances can start successfully because their PVs are all in one zone (GKE) and the mon's are spread across hosts.
*Edit*: The StorageClassDeviceSets seem to have the same problem.

**Expected behavior:**
PVs are created with same topology restrictions as their mon's.

**How to reproduce i

[2019-12-02 09:44] mykaul commented on #1981
Bad bot. We still want to do it. @travisn  - can we reopen this?

[2019-12-02 12:29] satoru-takeuchi commented on #4387
I have a question about how to implement topologySpreadConstraints support.

I found that Rook and operator-kit depend on kubernetes 1.14. However, topologySpreadConstraints is defined in kubernetes 1.16 or later. So, could you give me advice about what is the preferred way to support this feature?

a. Update dependency of the kubernetes version to 1.16 and implement this feature's support.
b. Wri

[2019-12-02 13:19] #3318 closed

[2019-12-02 13:21] betermieux opened #4400 "Changing gateway port in CephObjectStore prevent ObjectBucketClaims from being created"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When I change `spec.gateway.port` from `80` to some other value, the rgw-object-store pods are correctly created. Whenever I create an `ObjectBucketClaim`, it gets picked up by the operator but the creation of the bucket hangs indefinitely (see last line of the operator logs).

**Expected behavior:**

[2019-12-02 13:59] likid0 commented on #3525
sh-4.2$ ls -lZ / | grep run
drwxr-xr-x. root root system_u:object_r:container_file_t:s0:c5,c25 run
sh-4.2$ ls -lZ /var/ | grep run
lrwxrwxrwx. root root system_u:object_r:container_file_t:s0:c5,c25 lock -> ../run/lock
lrwxrwxrwx. root root system_u:object_r:container_file_t:s0:c5,c25 run -> ../run
sh-4.2$ ganesha.nfsd -F -L STDERR -p /var/run/ganesha/ganesha.pid
02/12/2019 13:37:12 : epoch 5de5138

[2019-12-02 14:10] leseb commented on #3525
Ok so it seems `ganesha.nfsd` is not able to run with a different user than root. @likid0 pointed to https://github.com/nfs-ganesha/nfs-ganesha/issues/426. So we should wait a bit. In the meantime, my patch should solve your issue.

[2019-12-02 14:17] travisn opened #4401 "Ability to disable snapshotter sidecar from the csi driver pod spec"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The CSI snapshotter feature is still in alpha and is therefore not available unless a quality gate is enabled. Still, the CSI driver always enables the snapshotter sidecar.

**Expected behavior:**
The operator should expose an option to disable the snapshotter sidecar at least until the snapshotter CSI

[2019-12-02 15:27] D1abloRUS opened #4402 "Pods on different nodes mount Ceph RBD PVC stuck on ContainerCreating"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]

**Expected behavior:**
Pods on different nodes can mount ceph rbd volume.

**How to reproduce it (minimal and precise):**

[code]
create pod rw perm:
[code]

delete rw-pod and create 2 pod on different nodes:
[code]

kubectl get pod:
[code]

kubectl describe pod/csirbd-demo-pod-2:
[code]

**Env

[2019-12-02 15:30] Madhu-1 commented on #4402
@D1abloRUS I have a question why two access modes  are used in PVC

[code]

[2019-12-02 15:33] D1abloRUS commented on #4402
@Madhu-1 This is not forbidden, it can work only in one of them when I specify readOnly: false or readOnly: true in pods

[2019-12-02 15:39] Madhu-1 commented on #4402
rbd file mode can be used as only RWO PVC that why it's failing, this check may be missing in  ceph-csi I will check (you cannot use rbd file mode PVC as RWX)

[2019-12-02 15:45] D1abloRUS commented on #4402
I understand, but it should also work in ReadOnlyMany, but for some reason this does not happen

[2019-12-02 15:53] chz8494 commented on #4392
I think you are right, delete/recreate operator pod does fix this issue.
I was expecting rook to automatically add/remove ceph osds if we have `useAllNodes: true`.
Is there an official guide about best practice of how to add/remove osd node?

[2019-12-02 15:59] Madhu-1 commented on #4402
we have not implemented ReadOnlyMany for rbd

[2019-12-02 16:07] D1abloRUS commented on #4402
@Madhu-1 maybe I write a feature request in https://github.com/ceph/ceph-csi, and close it

[2019-12-02 16:15] Madhu-1 commented on #4402
sounds good :+1:

[2019-12-02 16:44] travisn commented on #4400
@thotz can you take a look?

[2019-12-02 16:50] D1abloRUS commented on #4402
https://github.com/ceph/ceph-csi/issues/725

[2019-12-02 16:50] #4402 closed

[2019-12-02 16:51] travisn commented on #4387
@satoru-takeuchi We can update the client to 1.16. I'll look at this update in the next day or two so we can have topology constraints in 1.2. thanks!

[2019-12-02 17:19] #3674 closed

[2019-12-02 17:19] #3676 closed

[2019-12-02 18:16] eknudtson opened #4405 "Errors upgrading Mimic to Nautilus on Rook 1.1.7"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During an upgrade from Ceph Mimic to Nautilus on Rook 1.1.7, I ran into a few issues resulting in a stuck upgrade process.  Mons are n, o, and p.

The first sign of trouble showed up with the following command in the operator logs:
[code]

which resulted in

```Error EINVAL: invalid command```

This re

[2019-12-02 18:18] eknudtson commented on #4405
This was in our staging k8s cluster, but we need to upgrade our production cluster safely at some point.

[2019-12-02 19:16] eknudtson commented on #4405
I was able to fix this by reverting our CRD to the mimic version.  The operator attempted to update mon-p and failed.  At this point I re-upgraded our CRD to Nautilus and the cluster processed the upgrade successfully (though it did fail over mon-p to mon-q when it was done).

I'm still curious why this happened in the first place.

[2019-12-02 19:22] travisn commented on #4405
@eknudtson Are you saying that it upgraded successfully on the second attempt of the same upgrade path? Or did anything else change on the second upgrade attempt? Do you have the operator log from the failed upgrade?

[2019-12-02 19:33] eknudtson commented on #4405
The second attempt did work successfully (reverting CRD, operator gets stuck, upgrade CRD again, restart operator).

Unfortunately I don't have the operator logs due to all the restarts.

[2019-12-02 19:34] eknudtson commented on #4405
FWIW the operator did play it safe even when it got stuck, my PVCs were available the entire time during the upgrade failure.

[2019-12-02 19:53] #4301 closed

[2019-12-02 19:58] eknudtson commented on #4405
Here is the operator log where it finally completed successfully.

Prior to this orchestration, I had set the CRD back to the Ceph Mimic version.  The operator got stuck at this point, but it seemed to break it out of the loop it had been in while trying to upgrade to Nautilus.

After setting the CRD back to Nautilus and restarting the operator again, here is the result :

https://gist.github.com/

[2019-12-02 20:00] eknudtson commented on #4405
It looks like it proceeded through the failed mon-p since it skipped the upgrade checks this time?  With mon-p being removed at the end in favor of mon-q.

[2019-12-02 20:21] BlaineEXE commented on #2959
Does this mean we can close this issue as resolved?

[2019-12-03 06:39] rohan47 commented on #4364
I was not able to repro this.
The steps that I followed are
1. checked release-1.0 branch changed the operator image to 1.0.2 from 1.0.6 in operator.yaml and deployed the rook cluster.
2. checked release-1.1 branch and followed instructions from the [upgrade doc](https://rook.io/docs/rook/v1.1/ceph-upgrade.html) with a change in **Update the Rook Operator** step `kubectl -n $ROOK_SYSTEM_NAMESPACE

[2019-12-03 06:41] travisn commented on #4364
@rohan47 Did you enable the `ServerSideApply` feature gate as mentioned above?

[2019-12-03 06:55] rohan47 commented on #4364
to enable the `ServerSideApply` feature gate I have to pass it to `kubeadm init` as `--feature-gates=ServerSideApply=true` right? I guess it not getting enabled.

[2019-12-03 08:55] tarjintor opened #4410 "Can't delete cephcluster rook-ceph even Removing the Cluster CRD Finalizer"
My rook version is 1.1.7
I am testing rook/ceph with bluestore, and clean up the cluster for serveral times,and I do the https://rook.io/docs/rook/v1.1/ceph-teardown.html process

And I can delete the rook-ceph namespace ,but every time I rebuild the cluster,I found
cephcluster is still there

and the pre cluster config is auto working after I apply comon.yaml

I try to delete the crd, use
`kubect

[2019-12-03 09:35] imoyao commented on #2298
hey,there!
I hit this problem while operate ceph mgr,then i tried [this](https://stackoverflow.com/questions/56696819/ceph-nautilus-how-to-enable-the-ceph-mgr-dashboard),but it not work for me,after read reply of @travisn  ,i try to use `ceph mgr module disable dashboard` and `ceph mgr module enable dashboard`,then it works.
[code]
English is not my native language,hope it is useful for somebody.

[2019-12-03 10:03] #4401 closed

[2019-12-03 10:25] WoohyungHan commented on #4410
I think some resources are remain in /var/lib/rook. You would remove the directory in all kubernetes nodes. (and volumegroup and logicalvolume if it exists)

[2019-12-03 10:52] #4383 closed

[2019-12-03 10:52] ndik11 commented on #4383
it helped me. thx

[2019-12-03 12:10] chaosaffe opened #4413 "New metadataDevice partitioned for single OSD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
New `metadataDevice` (1TB NVMe) specified at the node level is provisioned with a single partition using the whole device for a single OSD device (2.7TB HDD) when the OSD is removed and recreated.

**Expected behavior:**
A portion of the `metadataDevice` relative to the disk sync interval and expected

[2019-12-03 14:52] yanchicago commented on #4364
This feature gate will be true by default in kubernetes 1.16.
< ServerSideApply | true | Beta | 1.16

In my setup, I  updated  "/etc/kubernetes/manifests/kube-apiserver.yml" to add feature-gates with ServerSideApply=true. Then restart kubelet which will restart apiserver.

[2019-12-03 15:31] yanchicago opened #4414 "Please update rook base ceph image with the new image ceph:v14.2.4-20191203 for security issue"
**Is this a bug report or feature request?**
* Bug Report
Rook 1.1.7 with base ceph image  v14.2.4-20190917 has below security issue.
[code]

**Deviation from expected behavior:**

**Expected behavior:**
The newly built ceph image ceph.v14.2.4-20191203 eliminate the above security issue.
Please include the new ceph image as rook 1.1.x base.

**How to reproduce it (minimal and precise):**

**File(s

[2019-12-03 16:05] BlaineEXE commented on #3379
Jan reported that ceph-volume "doesn't support being passed loop devices but you can create an LV on a loop device and it'll take that." We don't *yet* support devices with LVs, but we may in the future, which we could possibly use for testing.

[2019-12-03 16:12] rohan47 commented on #4364
I am using kubernetes 1.16, so it should be true by default

[2019-12-03 16:23] jan--f commented on #3379
Fwiw I've had requests to support other not-so-production device types in c-v in the past (e.g. removable devices). If the demand is there this might be stuff for a new subcommand or something like that. I'd probably still argue for something lvm based but less strict when it comes to devices.
A feature request in https://tracker.ceph.com/projects/ceph-volume/issues?set_filter=1&tracker_id=2 would

[2019-12-03 16:40] yanchicago commented on #4364
Do you see "managedFields" for osd pod? It should apply to any k8s resources:  node, deploy? If not, you may enable it to make sure "managedFields" appear.
I'm testing with k8s 14.3 release.

[2019-12-03 17:40] BlaineEXE commented on #3379
https://github.com/rook/rook/pull/4219 might allow us to, in an unsupported way, use directories/files as backing for OSDs in test environments using `loop` devices.

[2019-12-03 19:53] travisn commented on #4387
@satoru-takeuchi Updating to the 1.16 client is going to take some time to work through the dependencies as mentioned in #4408. If you want to continue looking at this feature, it would be great to get some early testing even before it's available through rook directly.

[2019-12-03 19:57] #4350 closed

[2019-12-03 21:28] mwswindle commented on #4042
Experiencing the same issue, to band-aide:
`kubectl expose -n rook-ceph rook-ceph-mgr-a --port 7000 --type NodePort --name dashboard`
then `kubectl get svc dashboard` to see what NodePort is assigned.

[2019-12-04 01:28] tarjintor commented on #4410
I delete these files

=====================================
Finnally, I found a way to delete this:
I use
`kubectl -n rook-ceph edit cephcluster`
and then I delete all contents in nodes section,and delete the cluster again
This works.

[2019-12-04 01:28] #4410 closed

[2019-12-04 01:31] yq513 opened #4417 "kubectl operator.yaml，rook-ceph-agent-xxx Not running"
-----Bug Report
# kubectl create -f operator.yaml
rook-ceph-agent-xxx Not running
------should--------------------
[centos@k8s-master ~]$ kubectl get pod -n rook-ceph-system  -o wide
NAME                                  READY   STATUS    RESTARTS   AGE     IP              NODE         NOMINATED NODE   READINESS GATES
rook-ceph-agent-49w7t                 1/1     Running   0          7m48s   192.1

[2019-12-04 01:58] travisn commented on #4417
@yq513 In v1.1 the flex driver (agent) is disabled by default. If you need the agent instead of using the recommended CSI driver, you'll need to enable the `ROOK_ENABLE_FLEX_DRIVER ` setting in operator.yaml as described in the [docs](https://rook.io/docs/rook/v1.1/ceph-block.html#flex-driver).

[2019-12-04 02:05] satoru-takeuchi commented on #4387
@travisn Yes, of course. I'll test PR#4408 and make my PR on top of your PR soon.

[2019-12-04 02:37] tarjintor opened #4419 "Is there a doc describe details of how operator works when cluster.yaml changed?"
Hello,

I used rook a lot, and it great to use it work with kubernetes

Recently I find its hard to figure out how operator works when cluster.yaml changes

My old cluster is too small and there are hdd rather than ssd are used. I bought some more devices（ssd）,but failed to update the cluster easily.

For example:
1.Can I delete a device in nodes section,so the osd on that device will be deleted?

[2019-12-04 05:52] rohan47 commented on #4364
I am not seeing the managed fields even after enabling ServerSideApply
[code]

[2019-12-04 12:26] jmolmo opened #4426 "Add a new document for explain Operator CRD settings"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Create a new document to explain the different settiong and options available in the Operator CRD

**What is use case behind this feature:**
We do not have this document, and although we have most of the things explained in the CRD file, it could be interesting to have this information also as a part of

[2019-12-04 13:30] shaas commented on #4105
I will close this issue as it is not reproducible anymore with the latest release of rook.

[2019-12-04 13:30] #4105 closed

[2019-12-04 13:40] galexrt opened #4427 "Ceph CSI Lifecycle Hook fails"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The lifecycle `preStop` hook fails on container stop / exit because `/bin/sh` is not found in the driver registrar container image for some reason.

**Expected behavior:**

The lifecycle `preStop` to succeed and remove the csi driver sockets successfully.

**How to reproduce it (minimal and precise):*

[2019-12-04 13:45] galexrt commented on #4427
Ping @Madhu-1 could you please take a look at this? Seems like a minor thing but potentially "breaking" for the kubelet as it doesn't see the "driver socket" removed and is timing out "all the time".

[2019-12-04 13:51] Madhu-1 commented on #4427
@galexrt i will look into it

[2019-12-04 15:23] BostjanBozic opened #4428 "Prepare pods pending on OpenShift master and infra nodes"
**Is this a bug report or feature request?**
* Bug Report (I think, not sure if this is expected behaviour)

**Deviation from expected behavior:**
Ceph prepare pods are not scheduled on Openshift master/infrastructure nodes. Within job, `nodeSelector` is set correctly:
[code]
But pod itself recieves additional selector (combination is never there):
[code]

**Expected behavior:**
Prepare pods are r

[2019-12-04 16:05] #3287 closed

[2019-12-04 19:34] yanchicago opened #4429 "Detect pod failed with operating blocked for 15min"
**Is this a bug report or feature request?**
* Bug Report

During deploy stage, the detect pod failed and stayed in terminated state. The operator pod hung for 15 minutes till the detect pod timed out.
[code]

**Deviation from expected behavior:**
The detect pod failed but recovered after 15 min?

**Expected behavior:**
Seems 15 minutes is a very long time for detect job to fail. Can it be configu

[2019-12-04 20:38] salanki commented on #1507
What's the latest on this? Is any solution actively being worked on? I see it removed from any milestones.

[2019-12-04 21:17] travisn commented on #1507
This isn't actively being worked on for the flex driver since the focus has turned to the csi driver. Can you confirm if you've seen the same behavior with the csi driver?

@humblec @ShyamsundarR @dillaman Can you take a look at this issue? To summarize, how does the Ceph-CSI driver handle fencing? Does it use its own mechanism or query rbd directly if it is safe to attach a read-write-once volume

[2019-12-04 22:10] travisn commented on #4419
The OSD documentation that we have is mainly found on the [Cluster CRD](https://rook.io/docs/rook/v1.1/ceph-cluster-crd.html) topic. Agreed that the documentation is not clear on the advanced usage. OSDs are complicated enough that we should likely dedicate a new help doc to answer questions like this. Contributions welcome! :)

There are many ways to change the cluster.yaml. Some are supported an

[2019-12-04 22:43] salanki commented on #1507
I hit the same with CSI today. Node died and Pod refused to start on new node as PVC was still bound to the dead node.

[2019-12-04 22:46] travisn commented on #3235
Reopening until #4013 is merged

[2019-12-04 23:57] #4297 closed

[2019-12-05 00:40] #3525 closed

[2019-12-05 02:10] dimm0 commented on #4134
Getting:

`ceph_volume.exceptions.MultipleLVsError: Got more than 1 result looking for None with path: None`

if running `ceph-volume lvm activate --no-systemd $ROOK_OSD_ID`

and `RuntimeError: could not find osd.47 with fsid 90a5afad-c313-4e49-9b5f-317100c6930e`

for `ceph-volume lvm activate --no-systemd $ROOK_OSD_ID $ROOK_FSID`

[2019-12-05 02:31] dimm0 commented on #4134
Succeeded by actually running the original command, which failed, but created all files for me.

[2019-12-05 02:31] #4134 closed

[2019-12-05 03:00] #4234 closed

[2019-12-05 10:14] thotz commented on #4400
@travisn Sure

[2019-12-05 12:34] thotz commented on #4400
@betermieux : Thanks for testing out OBC. It is 100% reproducible.

following is the log post bucket request

op-bucket-prov: DEBUG: after s3 call, ok=true, aerr=RequestError: send request failed
caused by: Put http://rook-ceph-rgw-my-store.rook-ceph/ceph-bkt: dial tcp 10.99.75.185:80: i/o timeout
2019-12-05 12:23:18.342625 E | op-bucket-prov: error creating bucket "ceph-bkt". Bucket "ceph-bkt" co

[2019-12-05 13:25] yq513 commented on #4417
To make pods use block storage, how is yaml configured?
My yaml created pods gives an error：

Unable to attach or mount volumes: unmounted volumes=[wordpress-persistent-storage], unattached volumes=[default-token-gq92d wordpress-persistent-storage]: failed to get Plugin from volumeSpec for volume "pvc-c76c8cba-21d7-45da-ae8f-fadb97b28f83" err=no volume plugin matched

[2019-12-05 13:35] SergeyKaydalov opened #4431 "EdgeFS: data payload forwarding to an external S3 service"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Sometimes it is useful to keep the majority of data payloads on an external data store, for example, on an S3-compatible service. With this feature request, we want to add this capability to the EdgefFS engine. When configured trough a rook's cluster CRD, it will transfer data chunks which are larger th

[2019-12-05 14:48] gotiniens commented on #1507
I can confirm this also happens with the csi driver

[2019-12-05 14:54] #4275 closed

[2019-12-05 14:57] lorenz commented on #1507
Please have a look at my comments further up the thread, it's known why it's happening, it doesn't matter what driver you're using and it's not fixed currently. I've laid out some possible solutions, but I've personally moved away from rook to my own solution and nobody seems to work on it. More "Me Toos" don't really help though.

[2019-12-05 15:00] jmolmo commented on #3370
I close this issue because not possible to reproduce and nobody have added clues/logs/information to continue investigation

[2019-12-05 15:00] #3370 closed

[2019-12-05 15:20] dimm0 commented on #1507
CSI is now doing `rbd status ...` and checking if volume is already mounted (which is great)
The only part left is to remove the check on kubernetes side I guess..

[2019-12-05 15:59] #4362 closed

[2019-12-05 15:59] #4363 closed

[2019-12-05 16:02] pierreilki opened #4434 "ERROR : Module 'rook' has failed: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:618) ?"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When i install Rook on my K8S v1.16.3 cluster i got an error in ceph block storage.

I d'ont see any error on rook pods, but if i connect to the "toolbox" pod and run "ceph status", i got this:

[code]

**Expected behavior:**
I should have an healthy Rook Cluster and be very happy to play with it...

[2019-12-05 17:59] yanchicago commented on #4364
In 14.3, with  "AllAlpha=true" , the "managed fields" will show. And it's disabled by "AllAlpha=true, ServerSideApply=false".

[2019-12-05 18:15] yanchicago opened #4436 "The operator pod failed to recognize cephcluster image version change"
**Is this a bug report or feature request?**
* Bug Report
After cephcluster is patched with new image v14.2.4-20190917. The rook operator didn't recognized the update. When the operator is restarted, the image update is identified and upgrade action is performed.

**Deviation from expected behavior:**
1). Sunny day case operator log
[code]
2). Rainy day case operator log. The patch happened at "03

[2019-12-05 19:34] travisn opened #4437 "NFS integration tests failing in master"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The NFS integration tests are failing consistently in master since *.

[code]

**Expected behavior:**
Integration tests should pass

**How to reproduce it (minimal and precise):**

Look at the CI logs starting with master build [#1577](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/deta

[2019-12-05 19:41] betermieux commented on #4400
I have changed the port number of the CephObjectStore in the first place as a kind of workaround for another problem. If the s3 API doesn't allow requests to non port 80 servers, then you should remove `spec.gateway.port` the from the CephObjectStore definition.

[2019-12-05 21:26] #4185 closed

[2019-12-05 22:14] BlaineEXE commented on #4387
I think we should consider waiting to implement this until the feature goes into beta in k8s so we don't have to deal with any instabilities between alpha and beta.

[2019-12-05 22:42] satoru-takeuchi commented on #4387
I'll implement this feature soon in any case. It's because we're constructing a Ceph cluster and this feature is mandatory here. So sharing a draft PR here is nice, I think.

I expect the following scenario.

1. Make a PR on top of Travis's PR and use it for our cluster as a temporary solution.
2. After this feature goes beta, change my PR to conform to beta.
3. Try to merge the new version to ups

[2019-12-06 01:43] yq513 opened #4438 "ERROR：Unable to attach or mount volumes，err=no volume plugin matched"
I deployed ceph, after creating the storage, the pod cannot be mounted on the PV, prompt
Unable to attach or mount volumes, err = no volume plugin matched

The main error message is as follows. What is the problem? Thank you.

Main------------
Created directory：
[root@k8s-m kubernetes]# cd /var/lib/kubelet/volumeplugins/
[root@k8s-m volumeplugins]# pwd
/var/lib/kubelet/volumeplugins

Added volume-

[2019-12-06 04:32] dimm0 commented on #2031
The reason to do hostNetwork-attached ceph is to export cephFS to other hosts outside of the cluster, while still using rook to orchestrate ceph
Am I right that it's impossible to do if using the overlay network?

[2019-12-06 05:39] Madhu-1 commented on #4438
@yq513 any specific reason not to use CSI? please provide storageclass output you have used

[2019-12-06 07:27] yq513 commented on #4438
I use    rook+ceph

[root@dk-node01 /]# ceph osd lspools
6 wcl-pool
[root@k8s-m ceph]# kubectl get storageclasses
NAME              PROVISIONER          AGE
rook-ceph-block   ceph.rook.io/block   40s

[root@k8s-m kubernetes]# kubectl create -f wordpress.yaml
service/wordpress created
persistentvolumeclaim/wp-pv-claim created
deployment.apps/wordpress created
[root@k8s-m kubernetes]# kubectl create

[2019-12-06 07:55] manavtidhan opened #4440 "rook ceph Operator failed to create MDS pods"
yes

**Is this a bug report or feature request?**
It is a Bug Report

**Deviation from expected behavior:**
yes
**Expected behavior:**
rook operator should create the mds pods as soon as filesystem.yaml is created
**How to reproduce it (minimal and precise):**

to create cephfs

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs,

[2019-12-06 09:05] leseb commented on #2031
@dimm0 that's correct.

[2019-12-06 09:28] Madhu-1 commented on #4438
have you enabled the FLEX driver during operator deployment https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L161

[2019-12-06 12:19] yanniszark commented on #3796
@rohantmp this seems strange to me.
I haven't dealt him helm at all in my cassandra E2E tests.

[2019-12-06 14:23] yq513 commented on #4438
Yes, please see my kubelet and operator.ymal configuration below,
I created the directory and enabled the configuration. Is it correct?

Also, I execute kubectl create -f operator.yaml
Without rook-ceph-agent pods,

If my configuration is incorrect, what is the correct configuration?

Created directory：
[root@k8s-m kubernetes]# cd /var/lib/kubelet/volumeplugins/
[root@k8s-m volumeplugins]# pwd
/va

[2019-12-06 14:34] awalker125 opened #4441 "Cluster restart cause NFS based PVs to fail"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I'm seeing some weird behavior in a cluster which uses an NFS based PV. A pod is failing to come up and the event logs show it cant mount the volumes due to a timeout connecting the the nfs pod. The NFS pod is up and running but its service IP does not match the IP in the PV. I suspect the cluster was

[2019-12-06 14:55] travisn commented on #4440
@manavtidhan Can you share the operator log? It should show why the filesystem was not created.

[2019-12-06 15:04] travisn commented on #4248
@Madhu-1 Can we get documentation into Rook for this now? We should be clear on this since it's a severe issue for upgrades.

- On the ceph-filesystem.md page towards the top:
   - Users should be warned about using CephFS volumes with FUSE or rbd-nbd
   - Users should know how to detect if they can use the kernel driver or if they will hit this issue
- The upgrade guide should warn that they have

[2019-12-06 20:04] evannorstrand opened #4444 "Rook Operator not deploying ceph common.yaml"
**Is this a bug report or feature request?**

* Bug Report
**Bug Report**
Ceph cluster doesn't deploy with the necessary common.yaml secrets, crd's, etc.

579c546f5-78hrs_876f2eec-184d-11ea-b3be-bea1114cbc47  failed to provision volume with StorageClass "rook-ceph-block": error getting secret rook-ceph-csi in namespace rook-ceph: secrets "rook-ceph-csi" not found

**Expected behavior:**
Secrets ar

[2019-12-06 22:37] travisn commented on #4444
@evannorstrand What storageclass.yaml are you using? It's possible your yaml is out of date from the examples. The example uses a different secret name now as seen [here](https://github.com/rook/rook/blob/release-1.1/cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml#L32).

[2019-12-07 05:21] woohhan opened #4449 "Add wal/db device selection in cluster configuration"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
We have per node configuration for selecting device, but no wal/db device selection. We can add configuration for what device will be used for wal/db device.

[code]

**What is use case behind this feature:**
User can select wal/db device

**Environment**:
NONE

[2019-12-07 05:22] WoohyungHan commented on #4449
I try to find there is issue related with this, but I can't find anything. if this feature is worth, I can work on it.

[2019-12-07 14:22] yq513 commented on #4139
I have also encountered errors for this reason, such as:
Unable to attach or mount volumes: unmounted volumes = [wordpress-persistent-storage], unattached volumes = [default-token-gq92d wordpress-persistent-storage]: failed to get Plugin from volumeSpec for volume "pvc-56ba158b-d26d-486e -89e9-fac52bf28eca "err = no volume plugin matched

I hope the description of operator.yaml is more clear. For

[2019-12-07 14:28] yq513 commented on #4438
I researched it for two weeks and solved it. The reason is that in operator.yaml, you need to understand the difference between the drive modes of CSI and FLEX. When you choose FLEX, you need to annotate the CSI configuration.
I have seen https://github.com/rook/rook/issues/4139 during configuration, and also commented below after resolving

[2019-12-07 19:08] #3361 closed

[2019-12-08 07:11] travisn commented on #4449
@WoohyungHan Does the `metadataDevice` work for you? Both the db and wal will be placed on the same device, with the data on another device.
- [Here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L134) is an example
- See the `metadataDevice` in the [Cluster CRD](https://rook.io/docs/rook/v1.1/ceph-cluster-crd.html#osd-configuration-settings) doc.

We shoul

[2019-12-08 08:32] rohan47 commented on #4437
there is an issue with the writing of data to the nfs volume.

[2019-12-08 09:00] #3671 closed

[2019-12-08 09:00] #3749 closed

[2019-12-08 09:00] #2209 closed

[2019-12-08 11:00] #3252 closed

[2019-12-08 13:00] #3225 closed

[2019-12-09 03:12] scorbin commented on #2517
I am also having issues to gracefully shutdown the rook ceph cluster

[2019-12-09 03:40] manavtidhan commented on #4440
Hi @travisn ..I don't know but its very strange that there is no single log for the event " kubectl create -f filesystem.yaml" in operator pod.

[2019-12-09 05:54] manavtidhan commented on #4440
but there is repeated logs in operator pod

op-cluster: device lists are equal. skipping orchestration

[2019-12-09 05:58] sp98 commented on #4440
@manavtidhan can you please share the complete rook-ceph operator log here. That would help to debug the issue.

[2019-12-09 06:34] manavtidhan commented on #4440
[operator_log.txt](https://github.com/rook/rook/files/3938159/operator_log.txt)

[2019-12-09 07:04] rohan47 commented on #4437
NFS server is failing with the following error only in the Integration Test, It works locally.
`nfs-ganesha-22[main] main :MAIN :FATAL :Can't open pid file /var/run/ganesha/ganesha.pid for writing`
[nfs-server log on jenkins](https://jenkins.rook.io/job/rook/job/rook/job/master/1577/artifact/_output/tests/TestNfsSuite_aws_1.14.x_nfs-ns_nfs-ns-0_1575519186.log)

[2019-12-09 08:45] leseb commented on #4437
@rohan47 strange, this PR passed CI... https://github.com/rook/rook/pull/4396

[2019-12-09 08:46] leseb commented on #4437
I guess I'm confused, is it ceph-nfs or the nfs backend for rook?

[2019-12-09 08:54] leseb commented on #2517
Can you be more specific on your issue?

[2019-12-09 10:24] leseb commented on #3539
@liewegas I'm seeing a similar message `3 OSD(s) reporting legacy (not per-pool) BlueStore omap usage stats` form 14.2.4 to 15.0.0-7878-g080d550.

[2019-12-09 11:25] WoohyungHan commented on #4449
Hi @travisn, Thanks for the comment! The `metadataDevice` is working perfectly, but only concern is when the device name is different. How can we deal when some node are using /dev/nvme0 but other nodes /dev/nvme1?

[2019-12-09 12:27] lz006 commented on #2953
same here.

we've tried several versions:
ceph
- v14.2.4
- v14.2.2
- v13.2.7
they all behaved the same.

Could anyone help us out?
-> PVC binds immediate with success:
[code]
But pod creation stays in "ContainerCreation" which finally ends up with a timeout while trying to bind pvc/pv.

Operator prints no errors.

Can anyone help us out?

operator config:
[code]

[2019-12-09 13:56] gbartolini opened #4453 "Local storage support in Rook through a new LVM provider"
Add support in Rook for **dedicated Logical Volumes created using LVM**.

The primary use case is a **database management system like [PostgreSQL](https://www.postgresql.org/) that uses its own replication system for disaster recovery**. This also applies primarily in a private cloud context.

The basic idea is to define a **storage class for LVM that is able to manage LVM Volume Groups** as defin

[2019-12-09 14:38] travisn commented on #4449
You can add that property to the `config` at the node level instead of the outer `storage` level

[2019-12-09 14:54] travisn commented on #4437
It's the NFS operator, rather than CephNFS, so not sure why #4396 would have impacted it.

[2019-12-09 14:56] leseb commented on #4437
@rohan47's comment led me to think #4396 was related since I changed the PID path.

[2019-12-09 14:57] rohan47 commented on #4437
yes @leseb

[2019-12-09 14:58] rohan47 commented on #4437
Yes @leseb , but for https://github.com/rook/rook/pull/4450 the failures are not NFS operator related.

[2019-12-09 15:00] leseb commented on #4437
I guess I'm confused, is it related to my patch or not?

[2019-12-09 15:05] #3175 closed

[2019-12-09 15:05] #2587 closed

[2019-12-09 15:05] rohan47 commented on #4437
Yes its related as your patch updates `pkg/operator/nfs/server.go`

[2019-12-09 15:07] leseb commented on #4437
Woops I didn't realize that, my bad. So you're fixing this @rohan47?

[2019-12-09 15:09] rohan47 commented on #4437
@leseb  No, I just updated the nfs version, and you added the actual fix.

[2019-12-09 15:21] lz006 commented on #2953
ok finally got it working by downgrading kubernetes from 1.15.3 to **1.14.6**.

Is someone able to explain why rook doesn't seem to work on k8s 1.15?

[2019-12-09 16:30] leseb commented on #3539
As discussed, this will probably end up being documentation for an upgrade to 1.2.

[2019-12-09 17:46] evannorstrand commented on #4444
Turns out I was using an older version of the YAML from a previous deployment. Used the new YAML, all is good.

[2019-12-09 17:46] #4444 closed

[2019-12-09 18:46] #4054 closed

[2019-12-09 19:33] travisn commented on #4437
Even with #4450 merged to master, we're still seeing this failure. Seems like we need to revert the changes in `pkg/operator/nfs/server.go`

[2019-12-09 20:45] yydzhou commented on #4453
Will this come with a local volume dynamic provisioner?

[2019-12-09 21:22] macgyver603 opened #4459 "Ceph Object Store CRD is missing deviceClass for store pools in rook-ceph Helm Chart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Cannot specify the `deviceClass` for the data and metadata pools in a `CephObjectStore` resource. The operator has all the code necessary to interpret `deviceClass` and apply it to the CRUSH rules when deploying the pools, but the value will get filtered out and set to `default` before deployment since

[2019-12-09 22:26] #4357 closed

[2019-12-09 22:45] invidian commented on #3238
Not stale

[2019-12-09 23:16] #4437 closed

[2019-12-09 23:33] bwolf commented on #4051
Ho to address this? I'm willing go give it some time but I'm not sure how to proceed. I have here some aarch64 nodes waiting to be stressed :-)

[2019-12-10 02:10] cyb70289 commented on #4051
@bwolf , these images build cleanly on aarch64, you can build them yourself if you just want to evaluate rook+ceph on your aarch64 nodes. That's only for personal use.

To achieve full community support(use exactly same steps to deploy on both x86 and aarch64) is not easy. Currently, community only tests and publishes x86 based ceph-csi and k8s-csi sidecar images, aarch64 ones are missing.

[This

[2019-12-10 03:16] nokiatesting commented on #3140
In my deployed rook, ceph version is 14.2.4, but the problem is still there:

core@master3 ~ $ /opt/bin/kube/kubectl -n rook-ceph logs po/rook-ceph-osd-0-6b685b5478-nzsnt
2019-12-09 15:11:58.179 7f3478524dc0 -1 Falling back to public interface
2019-12-09 15:11:58.194 7f3478524dc0 -1  Processor -- bind unable to bind to v2:10.244.70.5:7300/0 on any port in range 6800-7300: (99) Cannot assign reques

[2019-12-10 03:39] manavtidhan commented on #4440
any solution please???

[2019-12-10 04:01] #4431 closed

[2019-12-10 04:22] cjyar commented on #4051
@cyb70289 The easiest way to perform the same build on multiple architectures is to embed the entire build process in a Dockerfile, then use multi-architecture Docker builds. There's a demonstration of two ways to do it at https://github.com/cjyar/docker-multi-arch/tree/buildx.

I'd like to help move this forward, but I don't want to step on anybody's toes. I thought I might start with a PR for `c

[2019-12-10 05:41] mykaul commented on #3765
Bad bot, how can I reopen this?

[2019-12-10 05:58] travisn commented on #4440
@manavtidhan The operator log is not complete. You could try restarting the operator (by deleting the operator pod) to get a fresh log. Sometimes that will also help get the operator going again in the small chance it was stuck on something else. After the restart, the log should also show something about processing the filesystem. There must be some error since it doesn't look like the filesystem

[2019-12-10 06:09] manavtidhan commented on #4440
@travisn curretly lot of apps are using the block storage from the rook-ceph block class so by restarting the operator pod can disrupt the rook-ceph storage ? or is it safe to restart the pod?.

version of Rook: 1.0.2

[2019-12-10 06:11] travisn commented on #4440
@manavtidhan The operator pod only creates/manages the cluster, but is not on the data path so it is safe to restart.

[2019-12-10 06:30] #2261 closed

[2019-12-10 06:30] #3761 closed

[2019-12-10 07:14] vvkkhjt commented on #3486
@chenyg0911 please tell the detail,thanks

[2019-12-10 07:19] manavtidhan commented on #4440
[operator-log-latest-after-restart.txt](https://github.com/rook/rook/files/3943470/operator-log-latest-after-restart.txt)
@travisn - After restart the operator pod ..still there is no log created for filesystem.yaml and there is no mds pods as well.

[2019-12-10 08:15] cyb70289 commented on #4051
@cjyar  Thanks for your tips. You are free to contribute to ceph-csi or k8s-csi projects.

Actually, the biggest problem I met is unable to test arm64 image in CI due to travis arm64 node limits. Details in my [ceph-csi pr](https://github.com/ceph/ceph-csi/pull/707), comments welcomed.

[2019-12-10 08:30] gbartolini commented on #4453
Ideally, in terms of LVM management, physical volumes and volume groups are manually managed by the Kubernetes cluster administrators. An idea is that storage classes somehow map volume groups and make them available to the cluster.

Logically speaking, the provisioner will need to manage LVMs Logical Volumes as Persistent Volumes for Pods.

[2019-12-10 10:02] manavtidhan commented on #4440
kubectl get pods -n rook-ceph
NAME                                  READY   STATUS    RESTARTS   AGE
prometheus-rook-prometheus-0          3/3     Running   578        17d
rook-ceph-agent-nrvdh                 1/1     Running   9          34d
rook-ceph-agent-xr2p2                 1/1     Running   22         53d
rook-ceph-mgr-a-7979578677-zj2vs      1/1     Running   1          17d
rook-ceph-mon-a

[2019-12-10 14:53] travisn commented on #4440
From the log it appears there are two nodes that are not responding to starting osds:
[code]
That would be preventing the operator from continuing to configure the OSDs. Did those nodes ever complete? If you've removed those two nodes or we otherwise want to unblock the operator, you may need to delete a configmap manually that the operator is waiting for. The configmaps are named `rook-ceph-osd-<

[2019-12-10 15:14] #4414 closed

[2019-12-10 15:16] karthikvee commented on #4438
Any ideas on how to resolve this: The error I posted is of a pod/of a deployment of redis.

[code]

I deployed rook+ceph as per official documentation

Tried few things like :
1. restarting kubelet
2. adding plugins directory to kubeadm config as part of kublet args
but still facing the issue

**sudo cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf**
[code]

**kubectl get nodes**
[code]
*

[2019-12-10 16:40] suvl commented on #3334
@jmolmo 's workaround worked for me just now.

[2019-12-10 21:11] kchakry opened #4468 "Issues related to plugin_watcher.go error could not find plugin for deleted file"
Yes , I did search but nothing coming up.

**Is this a bug report or feature request?**

* Bug Report
* Feature Request

**Bug Report**

**Expected behavior:**

Normally when pod is deleted another pod will be created and pvc will be attache without any problem.

**Deviation from expected behavior:**

We have done the kuberenetes upgrade in other environment but never experienced this kind of prob

[2019-12-10 21:15] robertrbruno commented on #3370
We just installed 1.1.7 and are seeing the same issue with the mgr liveness probe failing.  It seems to only happen for us when ceph is under a lot of load.

[2019-12-10 22:02] #2324 closed

[2019-12-10 22:03] Bessonov commented on #1704
....

[2019-12-10 23:02] #2945 closed

[2019-12-10 23:02] #2950 closed

[2019-12-11 00:02] #3473 closed

[2019-12-11 05:30] satoru-takeuchi commented on #4453
@yydzhou

Does it mean supporting LVM as the new storage provider? If true, what are the pros of supporting this feature not by normal CSI driver, but by Rook?

For example, there is a CSI driver for local volume. It also has a dynamic provisioner.
https://github.com/cybozu-go/topolvm

[2019-12-11 07:09] jmolmo commented on #3370
In any case is good to determine the root cause of the liveness probe failing. Can you describe better your environment/settings and the "lot of load" concept? Can  you provide your manager logs?

[2019-12-11 07:42] stellirin opened #4470 "Slow prepare due to 100% CPU usage causes operator timeout"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I am launching a K3S cluster with Fedora CoreOS on local hardware.

Starting at `exec: Running command: stdbuf -oL ceph-volume lvm batch --prepare --bluestore --yes --osds-per-device 1 /dev/sdb --report` the prepare pod has a single thread from `ceph-volume` at 100% CPU usage. This causes each subsequ

[2019-12-11 07:46] rohan47 commented on #4364
Was able to repro this in k8s release 1.14.9

[2019-12-11 09:28] rushikeshjadhav commented on #3370
In my case it seems to have related to smaller arp table in linux. When there are high number of drives per server, which causes high number of containers per server, the arp table can exhaust creating a liveness probe failure.

After applying following changes to sysctl, the issue did not happen.
[code]

Do check the ping response/latency for mgr and you may also want to increase mgr liveness tim

[2019-12-11 09:32] xenolinux commented on #4068
@jarrpa I want to work on this issue. Could you assign it to me?

[2019-12-11 09:48] tarjintor commented on #1228
hello,it seems I met the problem too.
My collegue add some new disks to my cluster,and restart the node
Then the disk name changed.
I used to use device: sdb
but now sdb is the new disk,and osd find the disk is empty and recovery now
Can we use uuid to select the osd device now?

[2019-12-11 10:05] minh-nguyenquang opened #4471 "Fail liveness probe on cephobjectstorage pod"
* Bug Report

**CephCluster and CephObjectStorage manifest**
https://gist.github.com/minh-nguyenquang/730c7e84f7d1c1d7293c3bfd75bd61cb

**How to reproduce it (minimal and precise):**
My cluster has worker nodes with instance type t2.xlarge. After I upgrade worker nodes to t2.2xlarge, I encounter the issue one of pod as below.

[code]
Continue to check and find that container failed because of live

[2019-12-11 10:06] valentin-krasontovitsch commented on #4044
We have the same issue, and this is very disconcerting - how does one get the system to update the path where the rook socket should be found? is it necessary to restart kubelet, or ... ?

[2019-12-11 10:33] valentin-krasontovitsch commented on #4044
Restarting kubelet was not enough - it seems rather that at least one thing that must be updated (perhaps the only thing) is the `driver` property in the persistent volumes, under `spec.flexVolume`...

[2019-12-11 10:42] valentin-krasontovitsch commented on #4044
hmm a hack workaround seems to be to symlink the socket expected to be found under the original path to the actual socket where the agent is listening - still hoping for a proper fix, this is quite ARGH we wouldn't wanna have to migrate all PVs by hand : /

[2019-12-11 10:54] jmolmo commented on #3764
Unfortunately it has not been possible to reproduce the bug. I have tested with 4 different scenarios and in all the cases the canary pods were deleted.

We will need more info in order to diagnose and find out what is wrong.
If anybody experiment this issue it will be nice to have at least the following information:
- kubernetes version
- Rook version
- The "description of the canary pod in Pendi

[2019-12-11 12:18] #3744 closed

[2019-12-11 12:37] leseb commented on #4471
i'm reproducing, see:

Describe:
[code]

Log:

[code]

[2019-12-11 12:39] leseb commented on #4471
I'm looking into this.

[2019-12-11 12:47] leseb commented on #4471
Alright, I think I know the issue.

[2019-12-11 12:51] leseb commented on #4471
It looks like rgw is not picking up the mon config, it's listening on the default port:

[code]

And here is the mon store config:

[code]

[2019-12-11 12:51] leseb commented on #4471
@cbodley is this expected? Thanks

[2019-12-11 13:59] leseb commented on #4471
It is and it makes sense actually, so I'm going to remove the `rgw_frontends` setting from the mon config store.

[2019-12-11 14:39] ashangit opened #4473 "Create a generic setPodPlacement to be used by mon and gateways"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Not really a feature more a refacto that can be extend to a feature if we enforce the pod anti affinity to the mds component.
With PR #4457 4457 the mon setPodPlacement method has been partially duplicated to manage pod anti affinity on gateways
We must refactor this to one generic method used by those

[2019-12-11 15:11] leseb commented on #4400
Fixed on https://github.com/rook/rook/pull/4472

[2019-12-11 15:22] travisn commented on #3335
The core Rook team is focusing on the CSI driver now, but contributions are always welcome.

[2019-12-11 15:33] #4271 closed

[2019-12-11 15:45] #4471 closed

[2019-12-11 15:50] leseb commented on #4400
Closing, will be in 1.2. Thanks.

[2019-12-11 15:50] #4400 closed

[2019-12-11 16:02] leseb opened #4474 "ceph: use more common keyring path"
Currently, all the daemons use a non-standard ceph path to mount the keyring secrets. Keys should either go into /etc/ceph including a proper naming or in /var/lib/ceph/$daemon/$id/.

[2019-12-11 16:04] travisn commented on #1011
With the feature of backing mons and OSDs by PVs, and [this guide](https://rook.io/docs/rook/v1.1/disaster-recovery.html) for disaster recovery when K8s completely fails, I believe we are covered for this original issue. There is certainly room for improvement in the disaster recovery guide, but let's close this original issue.

[2019-12-11 16:04] #1011 closed

[2019-12-11 16:15] leseb commented on #4474
Currently, we have `/etc/ceph` as a place holder for `rook-config-override` which forbids us to use this path to store keys...

[2019-12-11 18:44] travisn commented on #3764
@jmolmo Try the following scenario, similar to your last scenario:
- Start a cluster with three worker nodes, three mons and `allowMultiplePerNode: false`. There will be no nodes for failover
- Stop one of the nodes. All the pods from that node will go to terminating/pending
- Wait for the mon timeout of 10 minutes (note that you can reduce this timeout for faster testing with [these settings](htt

[2019-12-11 19:30] BlaineEXE commented on #4474
Correct. That is why it gets placed in `/etc/ceph/keyring`. I don't consider it wrong, and if we place it in `/var/lib/ceph/$daemon/$id`, then it will get persisted to disk for mons, an unnecessary security risk.

[2019-12-11 19:42] BlaineEXE commented on #1228
Is this resolved by #4285 ?

[2019-12-11 20:18] #3004 closed

[2019-12-11 22:05] PCatinean opened #4476 "Osd prepare pods stuck on limited resources"
During the upgrade process from 1.1.1 to 1.1.7 I had beforehand an osd-prepare-pod that did not have enough resources to get allocated and was in Pending state.

After upgrading to 1.1.7 and updating the cluster to adjust the prepareosd pods limits and requests the pending osd prepare pod was stuck with the old limits.

Restarting the operator did not work nor deleting the osd prepare pod manually

[2019-12-11 22:10] travisn commented on #4476
The issue is that the operator sometimes gets stuck retrying in the reconcile loop. A few possible remediations:
- The operator should check for updates to the CR before retrying the reconciliation. (this may require updating to the controller runtime)
- The operator should not retry in some error conditions where user intervention is needed. In this case, while the osd was stuck waiting for more

[2019-12-11 23:51] minh-nguyenquang commented on #4471
@leseb Can you please let me how to apply the fix? Do I have to use new image something like ``ceph/ceph:v14.2.4-20190917``?

[2019-12-12 00:02] travisn commented on #4471
@minh-nguyenquang What version of rook are you using? This issue should have only affected master builds, which are not technically supported for upgrades. If you pull the latest `rook/ceph:master` image it would be there.

[2019-12-12 00:24] minh-nguyenquang commented on #4471
@travisn I'm using this version ``rook: v1.1.0-beta.0.544.gab69d75``. Let me use the new image and update result in this ticket

[2019-12-12 01:38] manavtidhan commented on #4440
@travisn i have deleted the config maps and then also restart the operator . but there is no logs showing in operator log ....no effect on operator logs and no pods of mds when creating the filesystem.yaml.  One thing I wonder is there any CSI pods should be there?

[operator-log.txt](https://github.com/rook/rook/files/3953408/operator-log.txt)

[2019-12-12 08:07] huntunshule opened #4479 "Kubelet reports an error，But all pods are normal"
kubernetes version 1.15.2
I installed rook first, but there were some errors, so I uninstalled and reinstalled，Kubelet keeps getting error messages after the new installer
[code]
[code]
and the kubelet log messgae
![image](https://user-images.githubusercontent.com/52652738/70693939-6d099380-1cf9-11ea-93ee-740904f3db8e.png)

[2019-12-12 08:11] Madhu-1 commented on #4479
same as https://github.com/rook/rook/issues/4359, and this is fixed in kubernetes 1.17

[2019-12-12 08:11] #4479 closed

[2019-12-12 09:04] huntunshule commented on #4479
I wonder if my rook-ceph cluster is healthy,I see that my OSD is 0

[2019-12-12 09:06] Madhu-1 commented on #4479
the logs you provided is nothing to with osd, please open a new issue for it (don't forget to fill the issue template while filing an issue)

[2019-12-12 09:16] huntunshule opened #4480 "All pod is running and ceph cluster is health,but osd is 0"
[code]
I see that the state of the cluster is healthy, but the OSD is 0. When I go to create a storageclass, the state of the cluster becomes unhealthy

this is storageclass
[code]
[code]

environment:
kubernetes 1.15.2
rook 1.1

[2019-12-12 09:32] sunhuaxu opened #4481 "use rook v1.1.7 version errors"
kubectl get node
NAME              STATUS   ROLES    AGE     VERSION
192.168.123.141   Ready    master   7h25m   v1.15.6
192.168.123.142   Ready    node     31m     v1.15.6
192.168.123.143   Ready    node     31m     v1.15.6

kubectl apply -f common.yaml
kubectl apply -f operator.yaml
kubectl get pod -n rook-ceph-system -o wide
提示：No resources found.

[2019-12-12 09:33] leseb commented on #4481
Please re-open using the bug template.

[2019-12-12 09:33] #4481 closed

[2019-12-12 09:34] sunhuaxu commented on #4481
change template?

[2019-12-12 10:29] leseb commented on #3772
Closed via https://github.com/rook/rook/pull/4211.

[2019-12-12 10:29] #3772 closed

[2019-12-12 10:29] leseb commented on #2606
Closed via https://github.com/rook/rook/pull/4053.

[2019-12-12 10:29] #2606 closed

[2019-12-12 11:23] nizamial09 commented on #3765
@travisn This is being detected by the `gosec` because the variable contains the phrase Password right? So, for these kind of issues we can just comment `#nosec` and it will ignore the check for the variables. Is that will be enough or we want to change the variable name everywhere?

[2019-12-12 14:34] leseb commented on #4474
I think it's still nice to use a more conventional path for keys inside the container. Even though in practice we don't care :).

[2019-12-12 15:08] #3726 closed

[2019-12-12 16:42] #4474 closed

[2019-12-12 16:57] Doca commented on #4480
+1

[2019-12-12 17:55] egafford opened #4486 "Add a finalizer to the operator r/t the removal of RGW OBCs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

At present, Rook has a finalizer that checks for the removal of PVCs, but no such finalizer exists for OBCs created through RGW. In order to fully remove Rook and all managed resources, such a finalizer should be added.

**What is use case behind this feature:**

As a Rook user, I want Rook to ensure t

[2019-12-12 18:11] NicolaiSchmid opened #4487 "rook v1.1.7 seems broken on kube v1.17"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrading to Kube v1.17 there seems to be an issue with CSI. The node does not initialize `Failed to initialize CSINodeInfo: error updating CSINode annotation: timed out waiting for the condition; caused by: the server could not find the requested resource`
`driver-registrar_csi-rbdplugin` docker

[2019-12-12 18:23] travisn opened #4488 "Add K8s 1.17 to the Rook integration test matrix"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
With the release of K8s 1.17 this week, Rook should be running the integration tests there in addition to the other versions.

**What is use case behind this feature:**
All the latest K8s versions should be supported by rook.

[2019-12-12 18:29] #4388 closed

[2019-12-12 18:36] travisn commented on #3765
Adding `#nosec` sounds good if that will suppress it. Obviously this isn't a password. It's a password name :)

[2019-12-12 19:17] SergioTeco commented on #4487
downgrade to 16 works for me.

[2019-12-12 19:29] NicolaiSchmid commented on #4487
Im on Kubeadm. AFAIK downgrade is not possible?

[2019-12-12 20:13] rmartinez3 commented on #4440
I was having issues of mds not being created as well. However my case was because I set resource limit for osd.

`failed to create cluster in namespace storage. failed to start the osds. refuse to run the pod with 1024mb of ram, provide at least 2048mb`

That one issue caused the fs creation logic to not even start.

Don't think its related to your issue but just some input.

[2019-12-12 20:55] PCatinean opened #4490 "CSI and flex drivers are not removed when operator settings change"
I installed the operator via helm initially with the default arguments including csi.enableCephfsDriver = true.

After upgrade I changed this parameter to False but the pods for cephfs are still present.

If there are no active mounts on cephfs the operator should remove the pods.

[2019-12-12 22:14] #3421 closed

[2019-12-13 04:06] Madhu-1 commented on #4487
is it possible to reproduce, just by installing Rook on kube 1.17?

[2019-12-13 05:55] minh-nguyenquang commented on #4471
The issue is gone, thank you for your support @leseb and @travisn

[2019-12-13 07:07] nizamial09 commented on #3765
Obviosuly :D. I will make the necessary changes and push in a PR

[2019-12-13 08:33] ashangit opened #4492 "ceph: osd memory requested for pod is automatically computed if not set if IsAtLeastNautilus"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
If ceph release IsAtLeastNautilus and no memory resources have been requested for osd the operator should assign an appropriate memory resource to it something like : <memory available on the server> - <a safe % or/fallback fix size to keep for the server>/<nb osds on the server>

**What is use case beh

[2019-12-13 09:22] leseb commented on #4492
The problem with falling back with defaults if no resources are specified is that Rook has no idea which value to set. Setting this value requires a bit of knowledge like number of CPU, amount of memory, use case of the platform, expected load. It's just too much to compute and we prefer to leave that to the admin.
Thus, we decided this is not something the Rook operator will implement.

You can a

[2019-12-13 09:22] #4492 closed

[2019-12-13 10:12] stephan2012 opened #4494 "CephFS PV provisioning fails with: error getting omap value cephfs-metadata: Operation not permitted"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
CSI CephFS provisioner fails to provision a Persistent Volume after upgrading from Rook Ceph Operator 1.1.2 to 1.1.7:

[code]
Permissions seem to look good:

[code]

We do not see this issue on clusters that were initially deployed with 1.1.7.

**Expected behavior:**
Provisioner should have sufficient

[2019-12-13 10:25] stephan2012 opened #4495 "Stuck OSD prepare job prevents operator spin up"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a OSD prepare job is stuck for any reason the operator does not continue to spin up. For example, it does not process cephblockpool CRDs. In our case, there was a problem with the prepare job for one node that hung more many weeks for an unknown reason.

**Expected behavior:**
Operator should trea

[2019-12-13 10:27] Madhu-1 commented on #4494
@joscollin  can you also take a look?
cc @leseb

[2019-12-13 10:46] stephan2012 commented on #4246
I'm facing similar similar issues after a node failure test in a test cluster:

1. Killed storage node (Kubernetes worker node) VM
2. Deleted node from Kubernetes (`kubectl delete node`)
3. Re-created VM from snapshot and joined into the Kubernetes cluster (kubeadm).
    At this point, the block device used for Ceph was completely blank. Also, `/var/lib/rook` did not even exist on the node.
4. Roo

[2019-12-13 10:58] Madhu-1 commented on #4248
@travisn just now noticed you have self-assigned this one, as I have not completed by testing related to node draining, please feel free to close my PR

[2019-12-13 11:20] leseb commented on #4494
@ajarr looks like a perm issue, PTAL.

[2019-12-13 11:22] leseb commented on #4495
@travisn I believe you fixed this recently and it's coming in 1.2, right?

[2019-12-13 11:53] rajatsingh25aug commented on #4282
can I close this @aland-zhang ?

[2019-12-13 12:16] ashangit commented on #4492
Ok, so perhaps improving the documentation on that area will be fine as the osd resource memory limit doesn't seems to be optional with nautilus if there is more than one osd per host.
No?

[2019-12-13 12:22] leseb commented on #4492
What do you mean by "is not optional"? AFAIK it has always been optional.
If not running on Nautilus and memory limit is not set then we don't apply `--osd-memory-target`.

Am I missing something?

[2019-12-13 12:29] ashangit commented on #4492
What I mean is if running on nautilus the osd-memory-target is computed from the cgroup memory, right?
So if we don't set the resource memory it will ends up for each osd to automatically set osd-memory-target to 80% of the RAM available on the server. Which leads to thpose opsd beeing killed by oom killer when there are more than one running on a server
For ex. with a 376G server and 12 osd each

[2019-12-13 12:46] sp98 opened #4497 "failed to enable mgr module pg_autoscaler"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Error while enabling pg-autoscalar

**Expected behavior:**
pg-autoscaler should be enabled successfully

**How to reproduce it (minimal and precise):**

1. Kubectl apply common.yaml
2. Kubectl apply cluster-on-pvc.yaml
(Enable mgr in cluster-on-pvc.yaml file by adding following
[code]
)
3. Kubectl appl

[2019-12-13 14:26] leseb commented on #4492
No, if running on Nautilus `osd-memory-target` is computed from the env variable `POD_MEMORY_REQUEST` or `POD_MEMORY_LIMIT`. If nothing is set, the osd will calculate it based on the amount of memory, it's not looking at cgroup.

That's pure theory IMHO, it's up to 300G. I've never seen an OSD taking that amount of memory.

You're right this could happen, this behavior is not different from when r

[2019-12-13 14:56] travisn commented on #4497
I also saw this issue yesterday. The mgr modules defined in the CR don't have a retry. On the first run the modules will fail if they are enabled too soon after the mgr daemon is started. In my cluster enabling it a second time succeeded. Other mgr modules have a retry, but we need to add one for this.

[2019-12-13 15:15] travisn commented on #4495
Yes actually the fix will also be coming in v1.1.8 soon...

[2019-12-13 15:15] #4495 closed

[2019-12-13 16:24] travisn commented on #4248
@Madhu-1 Sounds good I hadn't started on it, so will look at yours. I may just push changes to your PR instead of waiting over the weekend, thanks.

[2019-12-13 17:24] dyusupov opened #4499 "EdgeFS 1.2 prep for docs"
Some due changes for the Rook EdgeFS docs before 1.2

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To

[2019-12-13 18:28] sabbot opened #4500 "Unable to pull edgefs-restapi image from local repository"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Unable to pull edgefs-restapi image from local repository during create/update. Edgefs-restapi image always points to edgefs repository.
**Expected behavior:**
If local repository specified as source for edgefs image, edgefs-restapi image should be taken from it as well
**How to reproduce it (minimal a

[2019-12-13 19:19] #1827 closed

[2019-12-13 23:39] #4500 closed

[2019-12-13 23:41] dimm0 opened #4506 "Refusing to upgrade with skipUpgradeChecks: true"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook is refusing to upgrade ceph with `skipUpgradeChecks: true`:

[code]

**Expected behavior:**
Rook performs upgrade

**How to reproduce it (minimal and precise):**
Have cluster unhealthy. Try upgrade ceph version.

**Environment**:
* Rook version (use `rook version` inside of a Rook Pod):
1.1.7
* Ku

[2019-12-14 01:22] #4499 closed

[2019-12-14 07:08] travisn commented on #3539
@leseb Does this only affect upgrade to octopus? In this case it wouldn't affect 1.2 since octopus won't be supported until 1.3.

[2019-12-14 16:48] #2402 closed

[2019-12-14 22:07] carpenike commented on #3962
I'm seeing a similar problem, I think it's due to the StorageClass not being able to find the secrets and configmap.

Is there a sample storageclass for external Ceph Clusters?

[2019-12-15 09:33] stellirin commented on #4470
I bumped the operator timeout (https://github.com/stellirin/rook/commit/a456ebfa00fbaf69086a38743719da6b80f082a2) and it appears that cluster provisioning does eventually go to completion.

[code]

`rook-ceph-osd` pods also appear extremely slow, but it seems they also go to completion as there is no CPU load and the dashboard show status as `HEALTH_OK` with 891GB raw capacity available.
[code]

[2019-12-15 10:12] mykaul commented on #4470
I wonder if it's related to K3S and/or the local HW. What's the hardware that you are using there?
Everything is really slow here (also the chown command above).

[2019-12-15 10:35] stellirin commented on #4470
The hardware is capable, Ivy Bridge Core i5, 12GB RAM, it doesn't have resource issues running anything else I throw at it.

I'm confident it's a software issue *somewhere* but I'm having trouble debugging as I'm new to Rook/Ceph and I don't really know what to look for right now.

Right now I suspect it is the OS as I find articles that set up a Ceph cluster with K3S (eg https://medium.com/@fdean

[2019-12-15 12:48] #3026 closed

[2019-12-15 16:18] mykaul commented on #4470
But this is why I've highlighted the chown being slow too - it's not just LVM.

[2019-12-15 16:37] #2788 closed

[2019-12-16 01:00] peterska commented on #4487
I'm running baremetal kubernetes 1.17 with rook 1.1.7 on Fedora 30 nodes and have no issues. Here's the output from one of my csi-rbdplugin pods:
[code]

[2019-12-16 08:00] leseb commented on #3539
Yes.

Yes.

[2019-12-16 08:10] #3853 closed

[2019-12-16 09:00] leseb commented on #4506
That's a different code path and perhaps `skipUpgradeChecks` is misleading here but `skipUpgradeChecks` means "Rook won't perform any `ok-to-stop` Ceph calls on each daemon before restarting it".

So Ceph being healthy is something different. So what's you're seeing is expected.

[2019-12-16 09:34] leseb commented on #3962
@carpenike Which storage class?

[2019-12-16 11:20] sabbot opened #4510 "Edgefs: Node configuration data removed by cluster update"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During update EdgeFS cluster with temporary inaccessible/Not Ready/Drained node - its node configuration deletes from configmap
**Expected behavior:**
Update must not delete node configuration data
**How to reproduce it (minimal and precise):**

Update EdgeFS cluster with drained node
**File(s) to subm

[2019-12-16 11:55] ryholt commented on #3962
Block and CephFS for automated provisioner. Similar to this one:

https://github.com/billimek/k8s-gitops/blob/master/rook-ceph/ceph-block/ceph-storageclass.yaml

[2019-12-16 11:57] carpenike commented on #3962
Both block and CephFS. Similar to the below:

https://github.com/billimek/k8s-gitops/blob/master/rook-ceph/ceph-block/ceph-storageclass.yaml

[2019-12-16 12:50] joscollin commented on #4494
@stephan2012
1. Can you try the fix mentioned in [1] and see if it resolves the issue?
2. Why your cluster is unhealthy? Please fix this: `HEALTH_WARN 1 pools have too few placement groups; too few PGs per OSD (16 < min 30)`

[1] https://github.dyf62976.workers.dev/rook/rook/issues/4086#issuecomment-544625669

[2019-12-16 13:31] stephan2012 commented on #4494
@joscollin, thanks for your hints, will try this.

The cluster reports a warning because the Placement Group autoscaler is enabled while it currently stores almost no data. If I remember right it was discussed here to adjust the warning threshold.

By the way, the link that you have posted raises a Phishing Alert in Firefox so here's the original link just for the records: https://github.com/rook/

[2019-12-16 13:36] joscollin commented on #4494
@stephan2012 Updated the link. I saw the link was different, but didn't expect an Alert.

[2019-12-16 13:37] #3821 closed

[2019-12-16 14:29] travisn commented on #4506
@dimm0 What ceph image are you using? I wouldn't expect the message `unknown ceph major version` with a `v14.2.5` ceph image.

[2019-12-16 15:02] travisn commented on #2591
Yes, closing since it is added to the docs now

[2019-12-16 15:02] #2591 closed

[2019-12-16 15:30] travisn commented on #4487
Integration tests are also succeeding on v1.17 as can be seen with #4503 to enable the integration tests there. The issue must be related to the upgrade.

[2019-12-16 16:06] dimm0 commented on #4506
I was using 14.2.4, and first time I think it detected correctly. Not sure what happened here

Can this option be also extended to the ceph upgrades? If ceph is broken, and new version is supposed to fix this, then I need an option to force the upgrade... Otherwise I'm stuck with the unhealthy cluster (or have to do it manually)

[2019-12-16 16:45] #4298 closed

[2019-12-16 17:10] leseb commented on #4506
It's the first time I'm seeing this, out of curiosity what's broken and what's the fix?
I think it makes sense to extend this if you really know what you're doing.

[2019-12-16 17:14] leseb commented on #4506
hum actually I was wrong, it's already the default behavior, you should be able to force the upgrade with `SkipUpgradeChecks` to true.

[2019-12-16 17:40] dimm0 commented on #4506
Ok, so why it didn't let me then? `unknown ceph major version`?

[2019-12-16 17:49] BlaineEXE commented on #4274
I'm having trouble repro-ing this reliably. `fstrim` isn't causing failures in my environment, and I've tried repeatedly deleting `kubeadm`'s `etcd-k8s-master-0`, `kube-apiserver-k8s-master-0`, and `kube-controller-manager-k8s-master-0` pods without luck.

[2019-12-16 17:50] travisn commented on #4506
Ah, it looks like in the code `unknown ceph major version` is just a generic message for any error, so we can ignore it. The key is that the cluster wasn't healthy. @leseb This error should be ignored if `skipUpgradeChecks: true`, right?

[2019-12-16 18:40] BlaineEXE commented on #4506
Adding this to v1.2 release.

[2019-12-16 18:45] dimm0 commented on #4506
@leseb

https://tracker.ceph.com/issues/42223

[2019-12-16 18:49] BlaineEXE commented on #4470
@leseb can we remove the chown from this code and use `--setuser-match-path` here?

[2019-12-16 18:54] erik-stephens commented on #4274
fstrim isn't the interesting bit here.  It happened to be what caused the kubernetes api to become unavailable.  The concern is that momentary loss of kubernetes api should not result in rook thinking it needs to create a new cluster.

[2019-12-16 19:26] stellirin commented on #4470
The disks themselves appear to be fine:

[code]

I didn't test writes yet but I don't expect there to be anything exeptional there either.

[2019-12-16 20:05] BlaineEXE commented on #4470
@leseb @jan--f is there any reason why LVM activate should take an hour for one disk? The disk speeds seem to be on par with some middling desktop spinner drives. Are there any kernel issues that come to mind?

Already linked, but just as an extra FYI, OP opened a bug regarding this with the Fedora CoreOS project yesterday: https://github.com/coreos/fedora-coreos-tracker/issues/329

[2019-12-16 20:06] BlaineEXE commented on #4274
I am aware that it's not interesting, but I do need a way to reliable repro the issue, and one poster mentioned fstrim caused the problem in their environment. Any help in finding a reliable way to repro would be appreciated.

[2019-12-16 20:13] BlaineEXE commented on #4506
From what is in the code, I don't see how the observed behavior is possible if `skipUpgradeChecks` is set. This was added with the commit that added the `skipUpgradeChecks` CR property and should have been there all along.

[code]

[2019-12-16 20:15] dimm0 commented on #4506
Is it possible that the operator is not re-reading the flag before updating?

[2019-12-16 20:16] BlaineEXE commented on #4506
Try an operator restart to check if you haven't already.

[2019-12-16 20:17] dimm0 commented on #4506
It already updated the cluster during the weekend, when it became healthy again.. So can't check unfortunately

[2019-12-16 20:19] BlaineEXE commented on #4506
Okay. Then I will close this issue since I don't see anything to fix. Please feel free to reopen if it happens again or if there is more relevant info.

[2019-12-16 20:19] #4506 closed

[2019-12-16 20:23] BlaineEXE commented on #3186
@travisn is/was this fixed by your changes to remove all code in Rook relating to OSD removal?

[2019-12-16 20:27] travisn commented on #3186
Yes, if the root cause was that rook removed the OSDs, this would be fixed. But since there is some mystery still about the cause of the disappearing OSDs it's difficult to say. Maybe we should close this as not necessary and reopen if someone hits it again.

[2019-12-16 20:54] #3474 closed

[2019-12-16 20:55] BlaineEXE commented on #3186
Let's do that. We believe the issue will be fixed by removing Rook's ability to delete OSDs from Ceph. Feel free to reopen if further information comes available that this is not fixed in Rook v1.3.

[2019-12-16 20:55] #3186 closed

[2019-12-16 21:13] BlaineEXE commented on #4379
Given this comment (https://github.com/rook/rook/pull/4442#issuecomment-565406807) are we waiting to do this in a v1.2 patch release?

[2019-12-16 21:13] leseb commented on #4506
Yes.

[2019-12-16 21:15] leseb commented on #4379
Yes, not in the initial 1.2 release, a one of the minor release.

[2019-12-16 21:15] BlaineEXE commented on #3539
Is there something in progress here that I don't see being tracked? Maybe this should be moved to project v1.3?

[2019-12-16 21:48] #4510 closed

[2019-12-17 00:20] rajha-korithrien opened #4517 "Rook Operator with Ceph hangs on "ceph orchestrator set backend rook""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After following https://rook.io/docs/rook/v1.1/disaster-recovery.html to get a new monitor quorum from my single good mon, I now have a working mon quorum as demonstrated in ```rook-ceph-tools```
[code]
However restart of the rook operator to get my osd nodes back hangs at
[code]
**Expected behavior:**

[2019-12-17 00:53] travisn opened #4519 "Recommendations for the Ceph operator upgrade"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
After reviewing the changes needed for #4518 and looking through the upgrade path in the Ceph operator, here are a few thoughts on how we can simplify the upgrade path.

1. The decision to call the upgrade checks should be based purely on whether the pod spec is going to be updated. If the pod spec is n

[2019-12-17 04:37] mkhpalm commented on #4274
In this case you just need to create enough disk io to increase etcd fsync duration until it starts timing out and logging things like `read-only range request`. You can use anything to do that (fio, dd, hdparm, etc) to increase it on the etcd host. Rook will "wake up" by crashing when trying to update its leader lease.

[2019-12-17 04:54] #3291 closed

[2019-12-17 06:15] #4342 closed

[2019-12-17 08:33] stephan2012 commented on #4494
@joscollin: Applying

[code]

helped and CephFS Persistent Volume can now be provisioned. Thanks for your help!

I'm wondering if Rook lacks some checks when upgrading from older versions?

[2019-12-17 08:34] stephan2012 commented on #3854
Will reopen when facing this issue again.

[2019-12-17 08:34] #3854 closed

[2019-12-17 08:36] stephan2012 commented on #3858
Still facing this problem occasionally especially after full Kubernetes cluster restart.

[2019-12-17 08:50] #4248 closed

[2019-12-17 08:52] joscollin commented on #4494
@stephan2012 I think this issue needs to be fixed on the Rook setup/upgrade.

@Madhu-1 @travisn Could you please suggest on this? Is there a fix available?

[2019-12-17 08:54] Madhu-1 commented on #4494
CC @leseb

[2019-12-17 08:58] leseb commented on #3888
We should decouple logs per daemon, that's easy to do. c-v already has an option for that?

[2019-12-17 09:57] carpenike commented on #3962
Perhaps I’ve misunderstood what Rook’s capabilities are as it relates to external clusters. Public documentation indicates that it can consume external Ceph clusters, does they also mean its dynamic provisioning also works too or do the images/etc need to be built in advance within Ceph and then static PV/PVCs to reference them?

[2019-12-17 10:52] Madhu-1 commented on #4490
@travisn do we need to remove cephfs/rbd and rbd deployment and daemonset?

[2019-12-17 10:59] sutarnilesh commented on #1314
This worked for me.  This is working even for running commands into pod.

[2019-12-17 11:16] Madhu-1 commented on #2969
ceph/ceph-csi#697 is merged in  master and  expected to be in release v2.0.0, but it is available for testing  if someone wants to test it out

[2019-12-17 11:38] #3873 closed

[2019-12-17 13:35] leseb commented on #3962
@carpenike CSI secrets are created with the external cluster and present since https://github.com/rook/rook/releases/tag/v1.1.7 so device classes should work. Let me know if that's not the case with this version. Thanks

[2019-12-17 13:39] leseb commented on #4494
@Madhu-1 we can handle that during the upgrade yes, I'll send a patch soon.

[2019-12-17 13:43] leseb commented on #4494
We already run `ceph osd pool application enable <pool name> cephfs --yes-i-really-mean-it` but looks like it's not enough. @joscollin is it still relevant? Or should we drop and replace with `ceph osd pool application set cephfs-metadata cephfs metadata cephfs` or have both?

Thanks.

[2019-12-17 13:49] hightoxicity commented on #4494
I had same issue (migrating rook from 1.0 to 1.1) and I gone further using the two adviced commands but now I got :

2715]: starting ceph client
2019-12-17 13:46:26.960 7f00d08b9700 -1 client.6071113 mds.0 rejected us (non-allowable root '/volumes/csi/csi-vol-9523407b-20d3-11ea-9bb7-26b5f91e0823')
ceph-fuse[2715]: ceph mount failed with (1) Operation not permitted

[2019-12-17 14:21] suvl commented on #2517
I just had this very issue yesterday. I was trying to reboot a node and it hang for quite a time. Here're the relevant logs:

[code]

k8s 1.16.3 docker 18.6.3 ubuntu 16.04.3

[2019-12-17 14:54] #3857 closed

[2019-12-17 16:03] travisn commented on #4490
The operator currently only enables the CSI drivers, but doesn't actively disable them.

[2019-12-17 16:09] jan--f commented on #4470
I can't think of a reason tbh. Looking at this log fragment from above
[code]

For some reason any bash command that ceph-volume runs takes several seconds to complete. Almost 3 seconds to create a symbolic link, ~7 seconds to call ceph-bluestore-tool.
While lvm volumes are involved in all these calls, say creating a symbolic link taking this long doesn't look like its lvm related to me.

What ll

[2019-12-17 16:43] tuchinsky opened #4521 "Enable dashboard with external ceph cluster"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

If use rook with external ceph cluster - ceph dashboard does not deploying by operator. Need possibility to use ceph dashboard with external cluster

**Environment**:

ceph 14.2.4

rook 1.1.8

[2019-12-17 16:48] rajha-korithrien commented on #4517
Additional information, there seems to be a Ceph issue about similar behavior.
https://tracker.ceph.com/issues/43153

[2019-12-17 16:53] tuchinsky opened #4522 "Prometheus monitoring rules don't install when using external ceph cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Prometheus monitoring rules don't install

**Expected behavior:**

Prometheus monitoring rules install in expected namespace

**How to reproduce it (minimal and precise):**

Deploy rook with ceph external cluster and add parameter in CR that enables monitoring

**File(s) to submit**:

cephclusters.cep

[2019-12-17 16:54] travisn commented on #4521
@tuchinsky Rook does not deploy the mons, mgr, or osds if it is an external cluster. So the dashboard will only be available with the mgr that is running in the external cluster. Is the dashboard not running in the external cluster?

[2019-12-17 18:56] #4497 closed

[2019-12-17 19:00] stellirin commented on #4470
That's actually +7 *minutes* to call ceph-bluestore-tool, and very similar delays between the other commands.

I have not set any resource constraints on the containers, so there would be constraints only if the Rook operator sets them itself.

I guess for now I will investigate the python interpreter, perhaps there is some incompatibility with it and FCOS and/or K3S that causes this.

[2019-12-17 21:09] carpenike commented on #3962
@leseb  -- Appreciate your feedback. Let me know if you'd like me to open up a separate issue if it's too different from the OP's.

I've been primarily following the guidance [here](https://rook.io/docs/rook/v1.1/ceph-cluster-crd.html#external-cluster) which calls out using the [import script](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/import-external-cluster.sh). I

[2019-12-17 21:51] #3831 closed

[2019-12-17 21:51] #3033 closed

[2019-12-17 22:09] carpenike commented on #3962
And to update to the above, I just walked through a clean deploy and it appears the operator does not create the secrets required for the provisioners, namely `csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner` and `csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node`. Here's the total of the secrets within rook-ceph.

[code]

Here is the storage class I'm attempting to

[2019-12-17 22:12] #4379 closed

[2019-12-18 03:11] carpenike commented on #3962
For my part, I fixed the issue. It appears that the monitor configuration does not like host names? Switched to IPs and issue was resolved. This is pretty cool.

[code]

[2019-12-18 04:57] joscollin commented on #4494
`Rook should not be setting the application on these pools; that is done for you by fs new.`
`But it's really better if Rook lets fs new do all this for you.`

@leseb I'd take the above statements from [Patrick's suggestion](https://github.com/rook/rook/pull/4086#issuecomment-544625669) and make appropriate changes on the Rook side.

[2019-12-18 06:26] vbnrh opened #4528 "Manager pod fails to update service monitor and deploy prometheus rule after rook-operator is restarted in the cluster."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook fails to update/deploy the prometheus rule and service monitor

**Expected behavior:**
Rook should successfully detect service monitor & prometheus and update/deploy them accordingly.

**How to reproduce it:**

1. Deploy rook onto kubernetes cluster and wait for all the pods to be up
2. Scale down

[2019-12-18 06:57] jmolmo commented on #4517
@rajha-korithrien : The referenced bz is about ssh orchestrator (a different on from Rook), and probably not related with this.
Would you mind to provide the log of the manager pod?

[2019-12-18 08:30] Emil-G commented on #1507
So no chance this will be fixed for FlexVolume?  @travisn

[2019-12-18 10:27] hightoxicity commented on #4494
Ok it is now working, setting this caps :

[2019-12-18 10:30] bmillemathias-1a opened #4529 "Ignore removable devices for OSD deployment"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
We have a set of HP servers that expose an virtual embedded USB storage 8Gb drive, which was used as storage for OSD when we deployed rook/ceph, but as removable drive it should not.
as a workaround we setup a udev rule to prevent access to this device, but I think it should not be necessary to do that

[2019-12-18 11:53] thotz commented on #2722
I was able above commands currently from toolbox. Even though I have created the user the dashboard for object gateway throws following error

Information
--
RGW REST API failed request with status code 403 '{"Code":"AccessDenied","RequestId":"tx00000000000000000036d-005dfa0ba1-11e8-my-store","HostId":"11e8-my-store-my-store"}'Please consult the documentation on how to configure and enable the Obj

[2019-12-18 11:55] Place1 commented on #4043
@yanchicago are the steps you've listed the correct way to do the migration?

[2019-12-18 12:34] leseb commented on #4494
@joscollin what about these caps? ^

[2019-12-18 12:39] leseb commented on #4522
It's expected since the external cluster does not manage the ceph-mgr daemon.
The external cluster functionality only connects and consumes an external cluster, it does not configure it.
Thanks.

[2019-12-18 12:39] #4522 closed

[2019-12-18 12:58] leseb commented on #3962
Oh, well if the name cannot be resolved I'd say it's expected. Glad to see it's working for you now :).
Closing this.

[2019-12-18 12:58] #3962 closed

[2019-12-18 13:08] tuchinsky commented on #4521
@travisn We want to have access to the ceph dashboard via kubernetes ingress and manage it from CR

[2019-12-18 13:11] joscollin commented on #4494
@leseb

It might work, but the `client.csi-cephfs-provisioner` caps is supposed to be:

[code]

[2019-12-18 13:16] hightoxicity commented on #4494
Totally, supposed to be like that, but it it did not work for me with exactly those caps (rook/ceph:v1.1.7 and ceph/ceph:v14.2.5-20191210)

[2019-12-18 14:27] rajha-korithrien commented on #4517
@jmolmo The logs of my manager pod named "rook-ceph-mgr-a" currently hold.
[code]
Repeated over and over for days.

When I restart the manager pod it has this in the logs:
[code]

Not having OSD at this point makes sense because I need the operator to create them.

[2019-12-18 14:40] leseb commented on #4521
@tuchinsky sorry but that's out of scope for the external functionality. Won't fix. Thanks.

[2019-12-18 14:40] #4521 closed

[2019-12-18 14:41] rajha-korithrien commented on #4517
Further information (apologies for the mistaken ssh orchestrator issue link) when using ```rook-ceph-tools``` I can get the ```tree``` or ```stat``` of OSDs, but I can not get the ```status``` as such:

[code]
The command ```ceph osd status``` also just hangs.

[2019-12-18 15:24] travisn commented on #4529
@bmillemathias-1a To configure which devices Rook uses to create OSDs, please see the options in the [storage selection](https://rook.io/docs/rook/v1.2/ceph-cluster-crd.html#storage-selection-settings) topic. The default cluster.yaml is just an example and you will need to configure the settings according to your needs.

[2019-12-18 15:38] jmolmo commented on #4517
@rajha-korithrien :
By the logs provided, It seems that the rook manager module is activated without problems... can you execute this commands ( this will restart the operator) and send the new operator log?
1.
 # kubectl scale deployment rook-ceph-operator --replicas=0 -n rook-ceph

2.
# kubectl scale deployment rook-ceph-operator --replicas=1 -n rook-ceph

3. Wait a few minutes and check if the

[2019-12-18 16:01] ShyamsundarR commented on #1507
Ceph-CSI also has this issue, as is discussed further in the comments above. There are various issues and active work/thoughts on getting this fixed as below, but till a variety of issues are resolved this needs admin intervention.

[1] ceph-CSI tracker for the issue: https://github.com/ceph/ceph-csi/issues/740
[2] Kubernetes storage SIG thread: https://groups.google.com/forum/#!topic/kubernetes-s

[2019-12-18 16:20] rajha-korithrien commented on #4517
@jmolmo I have done as you requested:
[code]

The logs from that operator restart are:
[code]
At this point the operator pod is still running fine:
[code]
but it has not completed the command: ```ceph orchestrator set backend rook```

when using ```rook-ceph-tools``` the command: ```ceph orchestrator status``` also hangs.

[2019-12-18 16:54] BlaineEXE commented on #4274
@mkhpalm can you rerun and get a new log with the log level set to `"DEBUG"`?

[2019-12-18 17:40] travisn opened #4531 "Operator should start all mons before checking quorum if all down"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
If all mons are down (e.g. set the replicas to 0 on all the mon deployments) and the operator is restarted, the operator will wait indefinitely for a single mon to start.

**Expected behavior:**
The operator should start all mons before checking for quorum. This will also help with disaster recovery sc

[2019-12-18 18:23] nizamial09 commented on #4531
@travisn Is there any particular reason the quorom check is being done after one mon is up?

[2019-12-18 18:26] travisn commented on #4531
The operator performs the quorum checks after each mon operation during new installs and upgrades. The operator just skips the quorum checks in some scenarios, so we need to detect this scenario and skip it.

[2019-12-18 19:15] dyusupov opened #4539 "EdgeFS: last minute doc fixes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`

[2019-12-18 19:22] #4539 closed

[2019-12-18 20:20] travisn opened #4543 "OSDs on PVCs are moved to wrong place in CRUSH map after upgrade or operator restart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The CRUSH hierarchy changes unexpectedly for portable OSDs on PVCs during either a Rook upgrade or an operator restart.

Hierarchy after cluster creation (expected):
[code]

Hierarchy after operator restart or upgrade (not expected):
[code]

**Expected behavior:**
The OSDs should remain in the correct

[2019-12-18 20:36] travisn commented on #4543
The `--crush-location` property is not being set on later orchestrations, so the osd pod spec is updated with this empty arg:
[code]

instead of the original expected arg:
[code]

[2019-12-18 21:23] BlaineEXE commented on #4274
I've been trying to test this with the latest master, and I can't repro this despite disk IO causing pretty regular leader election failures.

[2019-12-18 22:48] #4543 closed

[2019-12-19 12:49] bmillemathias-1a opened #4547 "cannot find osd.12 with fsid x"
Similar to issue #3693 it seems

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
We found that one of the OSD daemons pod was in constant LoopCrashBackOff since few days, it was working fine before.
The logs entries of the container are
[code]
we did not find any error at PV / VG / LVM level and the node state is OK, other OSDs on the same node are

[2019-12-19 13:16] #4547 closed

[2019-12-19 13:25] R-omk commented on #4185
@travisn, Please explain me.

Suppose I have two lvm groups vg-nvme and vg-hdd.

I can create PVs with different fast-block and slow-block classes and associate them with different lvs respectively vg-nvme / ceph-metadata and vg-hdd / ceph-data.

How can I configure CephCluster so that metadata (wal, db) is placed on the fast drive, and the data on the slow one.

Can I even use the existing lvm in

[2019-12-19 13:40] ron1 opened #4548 "Support k8s v1.11 and other versions still supported by cloud providers and major distros"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The Rook support policy for k8s versions should be based on the kubernetes support policy as well as the support policies of the cloud providers and major distros. The Kubernetes project maintains release branches for the most recent three minor releases. (https://kubernetes.io/docs/setup/release/versio

[2019-12-19 14:04] ghurel-redhat commented on #4547
It turned out that the cause was a hardware failure on the bare-metal node (the physical drive is dead).

One remark though:
The following line in the failing osd pod log output is a bit misleading for any ceph rookie:
[code]
The fsid in this line refers to the osd_fsid, not the ceph cluster fsid.
While in the  config file `/var/lib/rook/osd12/rook-ceph.config` on the  bare-metal node, the fsid fi

[2019-12-19 14:11] ashishranjan738 commented on #4531
I would to work on this @travisn @nizamial09

[2019-12-19 14:41] mykaul commented on #4547
Proposed to clarify the error message via https://github.com/ceph/ceph/pull/32351

[2019-12-19 15:54] DeamonMV commented on #4141
Hi

Can any one test it https://github.com/rook/rook/pull/4550 as a fix for this problem?

[2019-12-19 18:52] travisn commented on #4548
Before I dive into what versions Rook might be able to support, here are some overall thoughts on what we've done in Rook to increase compatibility with different versions of Kubernetes. We've been in the journey for a while since about K8s 1.5 and here is where Rook has landed:
1. Rook is dependent on the K8s [client-go API](https://github.com/kubernetes/client-go), which gives Rook the ability t

[2019-12-19 21:24] NicolaiSchmid commented on #4487
You are correct, it turned out to be another issue. The kubelet tried to register the csi plugins and access the socks locally, but the csi pods weren't running.
But the pods wouldn't be scheduled, if the node wasn't healthy.
Thanks to everyone for their time!

[2019-12-19 21:24] #4487 closed

[2019-12-19 22:06] NicolaiSchmid opened #4553 "rook-ceph-crash-collector-keyring secret not created for crash reporter"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
On a fresh Kubernetes v1.17 cluster I try to setup an example cluster
[code]
My only changes are rook/ceph:v1.2 tag for the operator and the following diff:
[code]
With version 1.2 the crashcollector was introduced. And this [PR](https://github.com/rook/rook/pull/4423) changed t

[2019-12-19 22:38] #3750 closed

[2019-12-19 22:49] BlaineEXE commented on #3336
Is this still present with v1.2.0?

[2019-12-19 23:12] leseb commented on #4553
This should happen after the mons orchestration sequence, can you restart the operator and share the logs?
Typically, the crash pod should hang a little, waiting for the volume, but this shouldn't take much time to reconcile.

Thanks.

[2019-12-19 23:37] travisn commented on #4185
@R-omk I believe what you're looking for isn't implemented yet with OSDs on PVCs. See "Example 5: Multiple devices per OSD" in the [design doc for storageClassDeviceSets](https://github.com/rook/rook/blob/master/design/ceph/storage-class-device-set.md). This work item is tracked by #3852. Until it is implemented, the separate of WAL/DB to a higher performance device is only available with raw devi

[2019-12-20 01:44] #3690 closed

[2019-12-20 05:44] #3849 closed

[2019-12-20 06:38] thotz commented on #2722
It was mistake from my end while configuring the user

[2019-12-20 08:05] pog2g opened #4554 "The StorageClass setting rootPath is not valid"
* The StorageClass setting rootPath is invalid, and other issue prompts need to set the staticVolume
* Can provide a full case of cephfs create staticVolume, according to this operation can't run successfully
[code]

* This is because web static pages need to be stored in a fixed directory in cephfs so that web pages can be passed between the host and the container to nginx

[2019-12-20 09:05] leseb commented on #4554
Please re-open the issue using the issue template.

[2019-12-20 09:05] #4554 closed

[2019-12-20 09:19] pog2g commented on #4554
* staticVolume template
[code]
*  'clusterID: rook-ceph' is my id
*  The userKey is obtained by running :
[code]
 directly in the rook-direct-mount container
* error info:
[code]

[2019-12-20 09:21] NicolaiSchmid commented on #4553
@BlaineEXE
[code]
Operator logs:
[code]
After that it just retries the ceph command but fails over and over

@leseb
I restarted the operator and these are the logs:
[code]
Again the crashcollector pod wants to mount the secret `rook-ceph-crash-collector-keyring`, but it doesn't exist in the namespace

[2019-12-20 09:37] #4049 closed

[2019-12-20 10:05] pog2g opened #4557 "The StaticVolume does not work properly"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]
**Expected behavior:**

**How to reproduce it (minimal and precise):**

Container running normally
**File(s) to submit**:
[code]

 To get logs, use `kubectl -n <namespace> logs <pod name>`
error info:
[code]

**Environment**:
* OS (e.g. from /etc/os-release): centos
* Kernel (e.g. `uname -a`): k

[2019-12-20 10:30] leseb commented on #4553
@NicolaiSchmid well it looks like you're having a different problem here, are the mons in quorum? It seems that the operator fails to run any Ceph command.

[2019-12-20 11:02] NicolaiSchmid commented on #4553
As usual, I forgot to zap my disks and the `/var/lib/rook directory` before recreating the cluster!
I had encryption enabled before, and the mons freaked out about it of course!
Thanks to everyone and their help!

[2019-12-20 11:02] #4553 closed

[2019-12-20 11:24] stefanfritsch opened #4558 "OSD pod fails to start when using disk encryption with rook 1.2"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After the upgrade from 1.1 to 1.2 the encrypted OSDs fail to come up.

**Expected behavior:**

The cluster works after the upgrade.

**How to reproduce it (minimal and precise):**

Create an encrypted cluster in 1.0 then upgrade to 1.1 and then to 1.2 following the docs.

**Logs of activate-osd**:

[c

[2019-12-20 13:53] beelzetron opened #4560 "Rook ceph agent not scheduled on OKD 3.11 master nodes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The rook-ceph-agent DaemonSet generates pod definition with `node-selector: node-role.kubernetes.io/compute=true` although this is not defined in the DaemonSet itself.
[code]
[code]

**Expected behavior:**
The rook-ceph-agent daemonset generates pod definition without node-selector and the rook-ceph-ag

[2019-12-20 15:55] leseb commented on #4558
Mouarf looks like the encrypted activate needs to read the config file. Looking into it.

[2019-12-20 16:08] travisn commented on #4517
@rajha-korithrien Are you running rook `v1.1.0`? There was a fix made in `v1.1.3` where a timeout was added to this command so that the operator should continue instead of getting stuck. Can you try upgrading the operator to this version and see if you can get past it?

[2019-12-20 16:12] travisn commented on #4560
@beelzetron To get the agents to run on the master nodes you will need to add more tolerations. See the settings [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator-openshift.yaml#L127-L133). And we certainly need better documentation around this...

[2019-12-20 16:38] rajha-korithrien commented on #4517
@travisn Currently using 1.1.2 ran the command:
[code]
To upgrade the operator to 1.1.8 and as you said the operator has moved on:
[code]

The operator has gone on to make my OSD pods so thanks for that!
The original problem however remains certain commands run in ```rook-ceph-tools``` hang. For example: ```ceph osd tree``` works but neither ```ceph osd status``` or ```ceph orchestrator status```

[2019-12-20 16:41] beelzetron commented on #4560
@travisn I tried to play around with those settings, but I was unable to make it work, do you have any suggestion on how should I set tolerations? Thanks!

[2019-12-20 17:48] BlaineEXE commented on #4529
I don't think we can say exclusively that there is no use case for removable USB devices.

[2019-12-20 19:10] travisn opened #4563 "Variable shadowing results in potential misconfiguration"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

Due to variable shadowing, a misconfiguration of a ​ConfigMap​’s values could occur. The serverIfName​ variable is defined in the top-level scope of the ​createClusterConfigMap function, but within a nested if statement,

[2019-12-20 19:13] travisn opened #4564 "EdgeFS: Ineffectual assignments result in unused variable values"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

Across the codebase, there are several instances in which ineffectual assignment could result in unintentional side effects due to unused variable values. While not all of these instances are directly problematic, future changes could result in undesirable ef

[2019-12-20 19:15] travisn opened #4565 "Ceph: Ineffectual assignments result in unused variable values"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

Across the codebase, there are several instances in which ineffectual assignment could result in unintentional side effects due to unused variable values. While not all of these instances are directly problematic, future changes could result in undesirable ef

[2019-12-20 19:17] travisn opened #4566 "Potential runtime panics from unhandled type assertions"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

When the syntax c​ astedValue, ok := someValue.(SomeType)​ is used, ​ok​ captures errors that may occur when ​someValue​ is casted. However, throughout the codebase the alternative syntax c​ astedValue := someValue.(SomeType)​ is used, where errors are not ca

[2019-12-20 19:19] travisn opened #4567 "Improperly handled type assertion error could result in invalid execution state"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

In the `o​nK8sNodeAdd​()` function, there is an attempt to assert the o​bj​ variable into a `v​1.Node` object. If this assertion fails, execution flow is not altered, and the error is only logged before continuing execution. This could result in an invalid ex

[2019-12-20 19:23] travisn opened #4568 "Logging of sensitive information in debug mode"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

The ​`rook/pkg/operator/ceph/cluster/mon.extractKey()`​ function attempts to parse secrets from arbitrary string inputs by using the `r​ook/pkg/util/sys.Grep()` function, which will log the input provided to it when debug logging is enabled.

<img width="855"

[2019-12-20 19:26] travisn opened #4569 "Mons log sensitive information in debug logs"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

When inspecting the logs of the `​rook-ceph-mon-*​` container, we observed logs including certificate data, keypair data, and administrator username and passwords. This may be coming from Ceph itself, but we should see how to disable logging it.

<img width="

[2019-12-20 19:30] travisn opened #4570 "Secrets names and usernames are written to the log"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

There are a number of locations where items such as secrets names and usernames are stored within the log above the ​Debugf​ level. We should evaluate if there is any user-sensitive information here.

[code]

[2019-12-20 19:33] travisn opened #4571 "Insecure PRNG used to generate dashboard password"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

When generating the Ceph dashboard username and password, the m​ ath/rand​ package is used to create the random values composing the password. However, the m​ ath/rand package is cryptographically insecure, which could allow an attacker to abuse the values it

[2019-12-20 19:37] travisn opened #4572 "Use a stronger hash algorithm for generating volume names"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

MD5 is used to generate part of a volume name. Due to the ease of creating an MD5 collision, an attacker could generate an input that collides with an existing volume.

<img width="855" alt="Screen Shot 2019-12-20 at 12 36 33 PM" src="https://user-images.gith

[2019-12-20 19:39] travisn opened #4573 "Failure in EdgeFS operator results in cluster creation failure loop"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

When an ​edgefs-cluster​ is quickly created and deleted, there appears to be a race condition that leads to a cluster creation failure loop when encountering a data validation error.
The problem occurs when the CRD object for the cluster is destroyed while th

[2019-12-20 19:42] travisn opened #4574 "Add range validation to ports in the Ceph CRDs"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

When creating a ​CephObjectStore​ entry, there is no validation for the CRD object’s gateway port​ attribute (Figure TOB-ROOK-010.1). Therefore, when one attempts to create a CRD entry with an invalid p​ ort​ value (Figure TOB-ROOK-010.2), it is accepted by t

[2019-12-20 19:44] travisn opened #4575 "Ceph: Missing input and output encodings"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

Across the Rook codebase there are components that will create structured content such as shell commands or JSON without a proper encoder, opting instead for ​sprintf​ or other similar construction methods. This could lead to an attacker-controlled input to i

[2019-12-20 19:46] travisn opened #4576 "EdgeFS: Missing input and output encodings"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

Across the Rook codebase there are components that will create structured content such as shell commands or JSON without a proper encoder, opting instead for ​sprintf​ or other similar construction methods. This could lead to an attacker-controlled input to i