[2019-09-18 17:44] thotz commented on #3792
The greenfield cases does not need to call PutBucketPolicy right, since the bucket is created by the user itself. In the code I saw PutBucketPolicy() is called from Grant() and Revoke(). Not from Provision() and Delete()

[2019-09-18 18:32] jeffvance commented on #3792
From the [code](https://github.com/rook/rook/blob/master/pkg/operator/ceph/object/bucket/provisioner.go#L167) we don't know if `PutBucketPolicy` returned an error.

[2019-09-18 19:23] travisn commented on #3826
@rohantmp Are you available to take a look at this?

[2019-09-18 21:41] #3210 closed

[2019-09-18 21:41] #1901 closed

[2019-09-18 21:41] #1315 closed

[2019-09-18 21:41] #1218 closed

[2019-09-18 21:46] copejon commented on #3792
@thotz can you describe how you've deployed minikube and rook-ceph?  I cannot get a stable environment deployed to reproduce the behavior.

[2019-09-18 22:06] alfredodeza commented on #3795
Ceph has released 14.2.4 which includes the fixes for stderr/stdout encoding, which may be related to some of the problems in this issue even though PR #3811 combines the output.

The relevant tracker issue is at https://tracker.ceph.com/issues/41660

[2019-09-19 03:58] ron1 commented on #2079
Do not auto-close this issue.

[2019-09-19 07:26] sebastian-philipp commented on #3881
Seems to be a duplicate of #3106

[2019-09-19 07:47] sebastian-philipp commented on #1581
duplicates #1796

[2019-09-19 10:24] yizhishang commented on #3595
what script？

[2019-09-19 12:37] rohantmp commented on #3826
yup: https://github.com/rook/rook/pull/3918

[2019-09-19 15:30] #3872 closed

[2019-09-19 15:49] thotz commented on #3792
I have master rook repo and the used the same yaml files present in it.
minikube version: v1.2.0, deployed minkube with vm-driver=none in my vm(I usually use this option than using vm drivers).
And ceph image -- v14.2.1-20190430

[2019-09-19 15:54] golpa opened #3921 "CSI driver needs a configurable directory in place of /var/lib/kubelet"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`

[2019-09-19 16:05] travisn commented on #3921
@golpa Are you referring to the csi or flex driver? Can you provide more details for the scenario where it is not working with the defaults?

[2019-09-19 17:31] golpa commented on #3921
@travisn this is weird. Is my view messed up or is my original bug report missing all the details I typed in? For me, I'm now only seeing the original template without it filled out at all.

[2019-09-19 17:43] golpa commented on #3921
@travisn This is what I thought I originally submitted. Hopefully it answers your question.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-ceph assumes kubernetes is running from `/var/lib/kubelet`. In our installation we run kubernetes outside of `/var/lib/kubelet`. As a result certain pods created by rook fail to start up because they attem

[2019-09-19 18:14] #3868 closed

[2019-09-19 18:37] joshuacox commented on #3748
ya let's re-open this issue, as I'm no longer able to get a bound condition on my personal cluster.  I'll see if I can't reproduce the borkage in a publicly available setting.

[2019-09-19 19:56] rajha-korithrien opened #3923 "Rook CSI RBD Plugin can't start on host nodes that lack the findmnt binary"
**Is this a bug report or feature request?**
* Bug Report
There is only one other issue that mentions ```findmnt``` #3726 but I don't think it is related.

**Deviation from expected behavior:**
csi-rdbplugin fails to start on any node in the cluster

**Expected behavior:**
csi-rbdplugin should start on all nodes in the cluster

**How to reproduce it (minimal and precise):**
Deploy Kubernetes via R

[2019-09-19 20:41] bobelev commented on #3921
I get same bad behaviour with installation outside `/var/lib/kubelet`

[2019-09-19 22:23] travisn commented on #3921
@golpa Thanks for all the details, that definitely explains the issue at hand. This does appear scoped to the csi driver. Sounds like we need the following:
- Env var in the operator.yaml such as `KUBELET_DIR_PATH`. The default would be `/var/lib/kubelet`
- When the CSI driver templates are evaluated, this variable should be used to replace the kubelet path
@Madhu-1 could you take a look?

[2019-09-20 03:48] martinlindner commented on #3923
I'm seeing exactly the same behavior with a fresh installation (via the helm chart) of rook-ceph v1.1.0 on a Rancher 2.2.8-provisioned lab cluster.

Is there any workaround to get this running on RancherOS (except for going non-CSI with v1.0.x)?

* OS:
[code]
* Kernel:
[code]
* Rook version:
[code]
* Storage backend version:
[code]
* Kubernetes version:
[code]
* Storage backend status:
[code]

[2019-09-20 04:10] junhuihuang opened #3926 "rook-config-override is ignored in Rook v1.1.0"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
* osd container did not binding cluster network
* Changing to Rook v1.0.4, osd is working well

**Expected behavior:**
* osd container should be binding cluster network

**How to reproduce it (minimal and precise):**

ConfigMap `rook-config-override` content

    config: |
       [global]
       public

[2019-09-20 04:32] Madhu-1 commented on #3748
@joshuacox how it was working earlier? what issue you are facing now. need detail logs and steps to analyze the issue (if present)

[2019-09-20 05:24] Madhu-1 commented on #3921
@travisn here is the PR https://github.com/rook/rook/pull/3927

[2019-09-20 05:32] Madhu-1 commented on #3923
@martinlindner @ajha-korithrien I have  never tried Rancher is there I way to  deploy it using vagrant  so that I can reproduce locally and to fix and test it

there is a flag in csi to disable use of `nsenter`, can you try it out https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml#L57
edit the daemon set and set the above value to false (t

[2019-09-20 07:54] n4zim commented on #2236
I @rocket1024, I have the exact same issue that you had but for me nothing works...

I tried several versions of Rook but it does the error all the time.

Maybe you have something that could help me? Thank you!

[2019-09-20 09:05] Liuxiayu opened #3929 "mon died"
if mon is dead, what happens，create a new mon?

[2019-09-20 09:10] leseb commented on #3929
https://rook.io/docs/rook/v1.1/ceph-storage.html

[2019-09-20 09:10] #3929 closed

[2019-09-20 09:15] 13567436138 opened #3930 "rook ceph pv error"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`

[2019-09-20 09:21] leseb commented on #3930
Is the `rbd` kernel module available on your host machine?

[2019-09-20 09:27] 13567436138 commented on #3930
the rbd is runing in the container ,does it has relate with my host machine

[2019-09-20 09:36] leseb commented on #3930
It doesn't matter, if the kernel does not have the module, nothing will work.

[2019-09-20 09:45] 13567436138 commented on #3930
how to solve my problem

[2019-09-20 09:52] leseb commented on #3930
https://rook.io/docs/rook/v1.1/k8s-pre-reqs.html
https://rook.io/docs/rook/v1.1/ceph-common-issues.html#rook-agent-modprobe-exec-format-error

[2019-09-20 09:56] 13567436138 commented on #3930
/reopen

[2019-09-20 09:57] 13567436138 commented on #3930
the probem is my rook is ok,sometime ago.so the rbd module is presence.

[2019-09-20 09:58] 13567436138 commented on #3930
please reopen this isusse,I still have problem

[2019-09-20 10:02] 13567436138 commented on #3930
[root@dev3 ~]# lsmod |grep rbd
rbd                    83728  2
libceph               301687  1 rbd

[2019-09-20 10:10] leseb commented on #3930
did you try what I linked in the doc?

[2019-09-20 10:32] 13567436138 commented on #3930
the doc tell me to recompile the kernel.but I think my kernel is ok.It works well a couple hours ago.I can mount the ceph volumns,but now I cannt ,I dont know why

[2019-09-20 10:38] 13567436138 commented on #3930
my system is ok now,thanks

[2019-09-20 10:38] #3930 closed

[2019-09-20 13:26] rajha-korithrien commented on #3923
@Madhu-1 I have never used vargrant to setup Rancher, but the project has instructions for how to do it.

https://rancher.com/docs/rancher/v2.x/en/quick-start-guide/deployment/quickstart-vagrant/

However I doubt it is Rancher the Kubernetes as a Service project that is the issue, I believe it is RancherOS the tiny Linux distro. There is an out of support Github project for Vargrant and RancherOS

[2019-09-20 13:33] Madhu-1 commented on #3923
https://github.com/rook/rook/pull/3931 removes the use of  `nsenter` which checks for binaries in rbd

[2019-09-20 13:36] rajha-korithrien commented on #3923
@Madhu-1 @martinlindner I can confirm that setting ```--containerized=false``` from the current default of ```--containerized=true``` does cause ```csi-rbdplugin``` to deploy properly. I will test that it correctly allocates volumes are report back.

[2019-09-20 14:04] umangachapagain commented on #3859
I meant OLM UI.

Yes. It does.

Agreed. We should look at enabling `status.Conditions` with necessary state information.

[2019-09-20 15:12] #3813 closed

[2019-09-20 15:38] BlaineEXE commented on #3750
OSDs do not fail over to other nodes because the OSDs require access to a particular disk which is likely still on the failed node. If the disk doesn't move to a new node, no failover can occur.

[2019-09-20 16:07] #3826 closed

[2019-09-20 16:45] #3921 closed

[2019-09-20 16:57] #3582 closed

[2019-09-20 17:01] rajha-korithrien commented on #3923
@Madhu-1 I doubt this is related but while I have running csi-rdbplugin pods, ```rook-ceph-osd-prepare-*``` pods fail with the following error in their logs:

[code]
At first glance this seems related to #2659 but it is not as I had a perfectly working 1.0.6 deployment before the upgrade.

[2019-09-20 17:26] #3305 closed

[2019-09-20 18:17] yanchicago commented on #3336
Any workaround on this?

[2019-09-20 18:17] ShyamsundarR commented on #3913
**Requirement:** The operator should check for volumes created by the csi driver and block the deletion if there are any active volumes. (copied from issue description)

**Steps to check for active volumes:**
1. Determine if Ceph-CSI is managed/deployed by Rook
    - No: nothing to be done?
        - [Question] There can be a non-rook deployed CSI instance, that uses the current rook instance Ceph

[2019-09-20 18:19] yanchicago commented on #3336
Here's another failure: one of the prepared pod failed. The rgw deployment is not started.

[2019-09-20 20:27] #3307 closed

[2019-09-20 22:50] travisn opened #3935 "Consider calling nsenter when configuring LVM"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
We should consider nsenter when configuring LVM for OSDs on PVs. Then we can revisit the changes in #3755 and hopefully remove the workaround to kill the osd process during shutdown.

Per @nixpanic's [comment](https://github.com/rook/rook/pull/3755#issuecomment-533460036):
Running LVM commands in a cont

[2019-09-21 02:54] luke243 opened #3936 "OSD Provision hangs with Alpine+encrypted OSDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD provisioning with encrypted device hangs on cryptsetup luksOpen command.
**Expected behavior:**
OSD provision should complete.
**How to reproduce it (minimal and precise):**
I've deployed a kubernetes v1.15.3 cluster on Alpine v3.10.2 nodes.
* mdev replaced by eudev.
* Cryptsetup, lvm2, findmnt and

[2019-09-21 12:03] stephan2012 commented on #3858
While I had no time yet to reproduce this issue with Rook 1.1.0, today I am facing the same issue on another cluster with Rook 1.0.x for Mon A after rebooting the host for updates:

[code]

[code]

[code]

[2019-09-21 13:43] michas2 opened #3937 "ObjectUser does not wait (reliably) on ObjectStore"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

With rook v1.1.1 and the yamls in `rook/cluster/examples/kubernetes/ceph` running
[code]
directly without waiting will not create the user (reliably).

**Expected behavior:**

Operator should wait until the object store is really up and running.

**How to reproduce it (minimal and precise):**
Clone ro

[2019-09-21 13:44] travisn commented on #3906
@dkrizic To consume the storage from nodes kube2 and kube3 you don't have to add them to the CephCluster. The only thing that's needed is that the CSI (or flex) drivers are running on kube2 and kube3. By default the rook operator will start the driver(s) on all the nodes in the cluster.

[2019-09-21 13:44] #3906 closed

[2019-09-21 13:48] travisn commented on #3937
@umangachapagain could you take a look? It seems we need to retry creating the user as it may fail if created too soon after the object store is created. One modification to the integration tests  that will help verify this is to move the [creation of the object user](https://github.com/rook/rook/blob/master/tests/integration/ceph_base_object_test.go#L59) up a few lines to be created immediately w

[2019-09-21 14:02] mjschmidt opened #3938 "Helm Chart Image Inccorect"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`

[2019-09-21 14:04] mjschmidt opened #3939 "Helm Chart Image Inccorect"
The index file found here:
https://charts.rook.io/release

Has a bug that has the image pointed at the old logo

Please replace this link:
https://rook.io/images/logos/rook/rook-logo-color-on-transparent.png

With this link so that it renders correctly when using helm visualization tooling:
https://rook.io/images/rook-logo.svg

[2019-09-21 14:56] galexrt commented on #3938
Closing as duplicate of #3939.

[2019-09-21 14:56] #3938 closed

[2019-09-21 15:24] mjschmidt commented on #3938
whoops, sorry

[2019-09-21 16:07] christianhuening commented on #3872
@leseb @travisn So I updated to `v1.1.1` and set `skipUpgradeChecks: true` in my CephCluster CRD, but the operator is still performing the checks:

[code]

[code]

[code]

Not sure whether I am doing something wrong, but I cannot find it.

Any pointers?

[2019-09-21 16:29] fedeostrit opened #3940 "run Cluster.yaml error"
hello

I have installed kubernetes with RKE rancher and I am installing Rook v1.1.1 from helm chart but when I try to build the cluster by running "kubectl create -f cluster.yaml" I have the following error:

error: unable to recognize "cluster.yaml": no matches for kind "CephCluster" in version "ceph.rook.io/v1"

my cluster.yaml is attached
[cluster.txt](https://github.com/rook/rook/files/3638863

[2019-09-21 17:50] galexrt commented on #3939
Ref: #3307 is about the same issue, but had been closed by the stale bot.

[2019-09-21 20:17] #3310 closed

[2019-09-21 23:30] #3308 closed

[2019-09-22 07:29] christianhuening commented on #3872
ok apparently this first failed and then started all over and then simply updated the cluster:

[code]

so eventually the flag worked as intended

[2019-09-22 13:54] rajha-korithrien commented on #3923
@Madhu-1 I can confirm that after fixing the "AttributeError: 'MixedType' issue, your fix for ```--containerized=false``` works correctly.

I now have a properly operating Rook 1.1.0 cluster using the CSI RBD Plugin system.

[2019-09-22 14:51] leojonathanoh opened #3942 "Tolerations for csi plugin pods"
Now that `rook v1.1.1` has now deprecated the flex driver, tolerations should be available for the `csi` plugin pods, just like they were available for the `rook-ceph-agent` pods in `rook < v1.1.1`.

[2019-09-22 16:30] #3286 closed

[2019-09-22 18:30] #2853 closed

[2019-09-22 21:45] rajha-korithrien commented on #3935
Be aware that using ```nsenter``` fails on hosts that do not have the ```findmnt``` and ```stat``` binaries installed. Very light weight OS sometimes do not ship these. I have an issue where disabling nsenter is the only way to get Rook to upgrade from 1.0.6 to 1.1.0. See #3923 for more details.

[2019-09-23 04:40] bradfitz commented on #2175
Ping stale bot to keep this open, considering there's a design doc for it.

[2019-09-23 04:57] Madhu-1 commented on #3923
@rajha-korithrien Thanks for testing this one. once https://github.com/rook/rook/pull/3931 is merged this will be fixed

[2019-09-23 04:58] Madhu-1 commented on #3923
seeing this for the first time. can you check the driver-register log in rbd plugin pod?

[2019-09-23 06:55] mykaul commented on #3764
Any updates on this one?

[2019-09-23 07:20] martinlindner commented on #3923
@Madhu-1 @rajha-korithrien
I finally had some time to play with this, too, and I can confirm that `--containerized=false` fixes the initial deployment issue with `csi-rdbplugin`.

Furthermore I'm also seeing the `driver .. not found` issue, for _both_ `cephfs` and `rbd`.

Apparently this is fairly specific to [RKE](https://github.com/rancher/rke) clusters:
RKE runs `kubelet` in a container with `-

[2019-09-23 07:37] Madhu-1 commented on #3923
@martinlindner we made kubelet path configurable during deployment in rook see https://github.com/rook/rook/pull/3927

[2019-09-23 08:01] #3816 closed

[2019-09-23 08:36] peterska commented on #3926
I have experienced the same issue after upgrading to rook 1.1.1, I had 2 networks, 192.168.3.0/24 for the public  network and 192.168.4.0/24 for the cluster network. After the upgrade all traffic goes through the 192.168.3.0/24 network  my rook-config-override is identical to the one show above

[2019-09-23 10:08] martinlindner commented on #3923
@Madhu-1:
Great. Sorry, I did't notice you had already added that.

I just did a a fresh deployment from `master`, with the following added to `operator.yaml`:

[code]

After putting `--containerized=false` into the `csi-rbdplugin` daemonset, things seem to work fine.

I did a quick test with rbd.csi and cephfs.csi storage classes and the PVs did provision **and** attach to pods as expected.

So,

[2019-09-23 10:11] jeffreyvdhondel commented on #3923
Having the same error when deploying to a digitalocean cluster 1.0 works fine.
Will wait for the 1.x fix for this 'problem'.

[2019-09-23 10:11] Madhu-1 commented on #3923
@martinlindner Thanks for testing it out, removal of `nsenter` is still under discussion in ceph-csi. will update PR once it's fixed.

[2019-09-23 10:14] leseb opened #3950 "Bump Rook-Ceph to Rook 1.1.1 on operatorhub.io"
https://github.com/operator-framework/community-operators/pull/705

[2019-09-23 10:27] ashishranjan738 opened #3952 "MachineDisruptionBudget controller uses wrong MachineDisruptionBudget CR"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The MachineDisruptionBudget controller is using openshift's healthing MDB CR for managing machine disruptions.

**Expected behavior:**
The MachineDisruptionBudget controller should use kubevirt's machineremediation MDB CR for managing machine disruption

**How to reproduce it (minimal and precise):**

[2019-09-23 12:05] junhuihuang opened #3953 "Cannot remove disk by editing cephcluster rook-ceph in Rook v1.1.0"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
My cephcluster rook-ceph file as beflow

[code]

Rook will start the osd for sda device, although i remove the sda device from YAML file.

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if

[2019-09-23 12:07] sp98 commented on #3935
Some comments to keep in mind while working on this PR:
https://github.com/rook/rook/pull/3755#discussion_r326984589
https://github.com/rook/rook/pull/3755#discussion_r326984589

[2019-09-23 13:06] travisn commented on #2473
This was fixed in v1.1 already with #3067

[2019-09-23 13:06] #2473 closed

[2019-09-23 13:53] galexrt commented on #3203
Closing as the question itself has been answered from my perspective.

To note, with Ceph CSI there is the possibility to do snapshots of volumes when certain "requirements" are met (e.g., Ceph version and others).

[2019-09-23 13:53] #3203 closed

[2019-09-23 14:20] ashishranjan738 opened #3956 "ceph operator doesn't reconcile on OSDs backed by pvc's"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
ceph operator doesn't reconcile over the osd deployment backed by PVC.

**Expected behavior:**
ceph operator should reconcile over the osd deployments backed by PVC if the deployments gets deleted or updated.

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom

[2019-09-23 15:23] michas2 opened #3958 "Do not use `subPath` for `hostPath` mounts for edgefs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Rook is not able to run edgefs clusters on systems like typhoon, where kubelet is containerized.

This is because it [uses](https://github.com/rook/rook/blob/master/pkg/operator/edgefs/cluster/target/pod.go#L64-L73) `subPath`s on `hostPath` mounts, which does not work reliably and can easily be avoide

[2019-09-23 16:40] rajha-korithrien commented on #3923
@martinlindner Thanks for tackling where RKE puts stuff. I was still trying to use the ```extra_binds``` configuration with ```/var/lib/kubelet``` and had not even realized that RKE deployed kublet to ```/opt/rke/var/lib/kubelet```.

@Madhu-1 I can confirm that with the changes you provided for ```--containerized=false``` on ```csi-rbdplugin``` and setting ```ROOK_CSI_KUBELET_DIR_PATH``` as provid

[2019-09-23 17:56] travisn commented on #3913
Overall I'd suggest the approach of looking at PVs to see if there are any for this instance of the local Ceph cluster. Hopefully the properties of the PVs can tell us sufficient info about the volumes for this cluster.

Not sure what we can do about this case. This seems the same as the external cluster case. If the user is consuming this storage from another cluster, we won't be able to detect t

[2019-09-23 21:20] ShyamsundarR commented on #3913
One alternate mechanism to detect if there are allocated PVs, would be to inspect the CSI OMap journals for count of entries and detect any allocations. This would be much faster than iterating over the PVs themselves, as we would need to make just a single call to fetch the said OMap from the pool, and if empty pass back a success from the finalizer check.

The con of the above approach would be

[2019-09-23 22:16] bhavyanshu commented on #3764
I am seeing the exact same thing in my deployment as @travisn explained. If I restart the operator, it brings back the mon pod. I upgraded from v1.0.4 to v1.1.0 and removed a node. Since then I am seeing a rook-ceph-mon-b-canary-66f788f58b-bctqg  in Pending state. It's surprising that I already have two monitors up:

[code]

[2019-09-24 01:18] champtar opened #3961 "rootfs mount need to use mountPropagation HostToContainer or Bidirectional"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Mounting `hostPath: /` with the default `mountPropagation: none` prevent container from terminating when using containerd (maybe other CRI)

**Expected behavior:**
I can use rook ceph in a containerd/CNI cluster

**How to reproduce it (minimal and precise):**
see https://github.com/containerd/container

[2019-09-24 03:22] MAHDTech opened #3962 "External Ceph Cluster stuck in "Connecting""
* Bug Report

**Expected behavior:**

CephCluster state is "CONNECTED"

**Actual behavior:**

CephCluster state is "CONNECTING"

**How to reproduce it (minimal and precise):**

kubectl create -f common.yaml
kubectl create -f operator.yaml
kubectl create -f common-external.yaml
kubectl create -f cluster-external.yaml
bash cluster/examples/kubernetes/ceph/import-external-cluster.sh

**File(s) to sub

[2019-09-24 04:03] #3302 closed

[2019-09-24 04:19] Velmuruganms12 commented on #3235
we would like to try Apache Hadoop Ozone using Rook on Kubernetes please let me know steps how this can be done.

[2019-09-24 04:21] #3923 closed

[2019-09-24 04:23] Madhu-1 commented on #3923
@rajha-korithrien @martinlindner @jeffreyvdhondel  this is now fixed in the master is it possible to give a try?

[2019-09-24 04:45] Madhu-1 commented on #3913
@ShyamsundarR @travisn can we check if images are present in the pool before deleting the pool instead of check PVC for deleting Pools? I believe this does not consume more time compare to  PV check

[2019-09-24 05:48] yizhishang opened #3965 "unable to get monitor info from DNS SRV with service name: ceph-mon"
* Bug Report
unable to get monitor info from DNS SRV with service name: ceph-mon

**Deviation from expected behavior:**

can point the detail mon-point rook-ceph-mon-a/b/c/d

**Expected behavior:**

**How to reproduce it (minimal and precise):**
kubectl create -f common.yaml
kubectl create -f operator.yaml
kubectl create -f cluster-test.yaml

then run "ceph -s " in the "rook-ceph-mgr-a" pod, get t

[2019-09-24 05:54] galexrt commented on #3965
You shouldn't use the cluster components Pods to access Ceph, use the Rook Ceph toolbox instead: https://rook.io/docs/rook/v1.1/ceph-toolbox.html

[2019-09-24 05:54] #3965 closed

[2019-09-24 07:07] mmgaggle opened #3966 "create admin socket for all ceph containers"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

For every Ceph container we should configure an admin socket

**What is use case behind this feature:**

This would be useful for both troubleshooting, and so that we could injectargs in emergency situations.

Example of troubleshooting might be inspecting the admin socket of the monitors to see why th

[2019-09-24 07:14] mmgaggle commented on #1584
Insofar as config override. How are we supporting different overrides for different clusters?

[2019-09-24 07:23] leseb commented on #3966
As far as I can tell only OSDs don't have the socket at this point, do you experience the same?

[2019-09-24 07:36] mmgaggle commented on #3966
I noticed it with OSDs, as I was trying to inspect the memory_target, so "all ceph containers" may be a bit presumptuous :)

Happy to change it to "OSDs"

[2019-09-24 07:38] leseb commented on #3966
No worries, thanks for the confirmation :)/

[2019-09-24 07:42] #3912 closed

[2019-09-24 07:46] leseb commented on #3966
Ok, so the socket is actually present, it's just a bit tricky, you can find it: `/var/lib/rook/osd$ID/ceph-osd.$ID.asok`. I'll fix that.

[2019-09-24 10:07] thotz commented on #3792
After discussing rgw folks there are a couple of issues wrt information present in the existing policy.
Value for the principal is wrong. "Principal": {
        "AWS": [
          "ceph-user-WryK1Kob"
        ]
      },
instead it need to be "arn:aws:iam:::user/ceph-user-WQT2yrOJ". After this I was able to list contents of the bucket but put was failing. So in the Action policy s3:PutObject was no

[2019-09-24 10:14] leseb commented on #3962
Did you set the correct namespace for the script? (should be `rook-ceph-external`). Thanks.

[2019-09-24 10:40] MAHDTech commented on #3962
Hi there,

I set the environment variable

```export NAMESPACE=rook-ceph```

I also updated the ````cluster-external.yaml`` to have the following object

[code]

Is the CephCluster resource required to be in a seperate namespace or can I use the same one. I have no intention of using an internal ceph cluster in this case, it will only ever have this single external one connected.

[2019-09-24 13:05] Madhu-1 commented on #3913
@travisn and @ShyamsundarR I think we can use
```rbd pool stats  <pool-name>``` to check  if  there are any images or snapshot present on  the Pool, here  is  the PR for the same https://github.com/rook/rook/pull/3972

do we have some command to check if `filesystem` is in use? if yes we  can use it to avoid deletion of the filesystem

instead of checking the PV objects  created by the driver, can

[2019-09-24 14:09] leseb commented on #3962
Then you don't need to run `kubectl create -f common-external.yaml`.
No the `CephCluster` cna be anywhere so if you have a single cluster you can use `rook-ceph`.

Can you run:

* `kubectl -n rook-ceph get cm`
* `kubectl -n rook-ceph get secret`

Thanks.

[2019-09-24 15:11] anuengineer commented on #3235
We will put some effort into this as soon as the current Ozone release is done. Sorry for being away for a while.

[2019-09-24 15:12] anuengineer commented on #3235
@Velmuruganms12 we are still working on Rook Support. if you are interested in normal deployment of Ozone on Kubernetes, please pick up the latest release in progress 0.4.1 -- you can watch the release on https://hadoop.apache.org/ozone/

Thanks

[2019-09-24 15:20] Velmuruganms12 commented on #3235
Thanks @anuengineer for quick response yes we have started exploring Ozone on Kubernetes.

[2019-09-24 16:35] leseb commented on #3950
Closed via https://github.com/operator-framework/community-operators/pull/705

[2019-09-24 16:35] #3950 closed

[2019-09-24 18:15] copejon commented on #3582
@Slutzky We had run into a bug that's since been fixed by  #29808.  The mirror daemon was looking in the wrong location for the config files.  I haven't tested it but it Should Work<sup>(TM)</sup>.  Ceph also added a bootstrap sub-command to automate the copy/paste of the files between rbd daemons:  https://docs.ceph.com/docs/master/rbd/rbd-mirroring/#bootstrap-peers.  Again, I've only been told t

[2019-09-24 18:17] copejon commented on #3792
Nice! That's a pretty straightforward fix. Good find :)

[2019-09-24 19:03] #3297 closed

[2019-09-24 19:20] Slutzky commented on #3582
@copejon I will try to use bootstrap. Thanks for the info!

[2019-09-24 19:45] dimm0 opened #3975 "Updating from 1.0.6 to 1.1.1 (bunch of updates before, from early rook versions) - clusterrole not updated"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After updating, operator was printing bunch of

[code]

I found that rook-ceph-global ClusterRole was old. Replaced with one from common, now operator is happy

I also have a set of other roles in kube-system, not sure which are still needed

**Expected behavior:**
All roles are updated properly

**How

[2019-09-24 21:54] travisn opened #3976 "Allow setting node affinity and tolerations on Ceph version detection job"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The cmd-reporter job for detecting the ceph version does not currently allow setting node affinity or tolerations. Thus, the admin cannot control on which nodes the job can run.

**Expected behavior:**
The admin should be able to set the node affinity or tolerations in the cluster CR just like for othe

[2019-09-24 23:16] MAHDTech commented on #3962
**Secrets**

[code]

**ConfigMaps**

[code]

**csi-provisioner logs**

[code]

[2019-09-25 00:58] zerkms commented on #1653
Please don't.

[2019-09-25 01:02] kawaja commented on #1653
If subscribers to this issue haven't noticed, @feisuzhu has improved the DR docs via PR https://github.com/rook/rook/pull/3555 which looks like it might satisfy this issue.

[2019-09-25 01:09] Queuecumber commented on #1653
Yeah kinda but it really should be a simpler process

[2019-09-25 03:01] dimm0 commented on #3200
Fixed in csi

[2019-09-25 03:01] #3200 closed

[2019-09-25 03:02] dimm0 commented on #3123
Fixed in csi

[2019-09-25 03:02] #3123 closed

[2019-09-25 03:03] dimm0 commented on #2254
Fixed in csi

[2019-09-25 03:03] #2254 closed

[2019-09-25 04:18] travisn commented on #1653
@Queuecumber What suggestion do you have for a simpler process? Do you want something like a wiki where it's simple and quick to collaborate and share solutions? For the official documentation we like to review it thoroughly, but understood that it's heavyweight.

[2019-09-25 04:37] Queuecumber commented on #1653
What I'd like to see is migration of an existing rook-ceph cluster to a new kubernetes cluster supported as a first class feature not requiring a complex error prone procedure to pull off. I believe this is already the case for edgefs right?

[2019-09-25 06:21] MAHDTech commented on #3962
I should also add that I am able to use a StorageClass with the "kubernetes.io/rbd" provisioner successfully, so it would seem to be some config I am missing on the Rook / Ceph CSI configuration side.

[2019-09-25 06:45] #3966 closed

[2019-09-25 07:00] #3846 closed

[2019-09-25 07:23] martinlindner commented on #3923
@Madhu-1 Sure, I wanted to try out the helm chart anyways.

I can confirm that this works great with Rancher v2.2.8 (RKE v0.2.8) + RancherOS v1.5.4:

[code]

Thanks a lot for getting this fixed so quickly.

[2019-09-25 12:34] danielb42 commented on #1653
@travisn It does not satisfy the wider issue. While it's nice to know there is any procedure to recover a rook-ceph cluster (under certain conditions) this does not help so much when your platform spins up new (resp. resets) clusters frequently and automated. In such use cases, one cannot go through any manual steps to re-integrate stored data each time. So having a procedure of *26 manual steps*

[2019-09-25 12:54] Queuecumber commented on #1653
Yeah that's very well said and exactly my issue as well. I'm actually not sure how rook can call itself 1.0 while missing this feature.

[2019-09-25 14:02] Queuecumber commented on #1653
@whereisaaron I'm curious if you tried edgefs with rook, I may be wrong but I think that can be migrated to a fresh cluster fairly hassle free

[2019-09-25 14:19] whereisaaron commented on #1653
No we didn't use EdgeFS except to poke at, but it still relies on the underlying structure of 'pet' nodes with [local `hostPaths` and Linux device names](https://rook.io/docs/rook/v1.1/edgefs-cluster-crd.html) so I think it has the same issues. I agree the multi-cluster support makes it easier to migrate data away from a cluster, but keeping it stable within each cluster still has the same challen

[2019-09-25 14:23] Queuecumber commented on #1653
Again I might be wrong but I was referring to the `devicesResurrectMode` setting of the Cluster CRD (https://rook.io/docs/rook/v1.1/edgefs-cluster-crd.html)

[2019-09-25 14:45] Confusingboat commented on #3687
I'm running into this exact same error and I can't figure out what's going on. Everything was working fine until it wasn't. I tried rebuilding the host entirely, including `sgdisk -Z /dev/x`ing all the disks, clearing out the old OSDs, etc from the crush map, but I still receive the same error. The other six nodes are fine.

[2019-09-25 14:46] whereisaaron commented on #1653
@Queuecumber looks useful! I personally haven't tested if `devicesResurrectMode: restore` can recover a failed cluster, I'm more focused on it not failing so easily 😄

[2019-09-25 16:19] #3480 closed

[2019-09-25 16:24] ron1 opened #3984 "Do not duplicate OCP SecurityContextConstraints in rook-ceph example files scc.yaml and operator-openshift.yaml"
* Bug Report

**Deviation from expected behavior:**
OCP SecurityContextConstraints are currently duplicated in rook-ceph example yaml files scc.yaml and operator-openshift.yaml.
**Expected behavior:**
OCP SecurityContextConstraints appear in an OCP-oriented yaml file only once. So either delete file scc.yaml or remove the SecurityContextConstraints from file operator-openshift.yaml. It is probably

[2019-09-25 16:45] travisn opened #3985 "Automate restoring of mon quorum for disaster recovery"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
If mon quorum is lost and at least one quorum is still running, mon quorum can be restored manually by following [these instructions](https://rook.io/docs/rook/v1.5/ceph-disaster-recovery.html#restoring-mon-quorum). This is a very tedious process. We need to automate this and add it to the integration t

[2019-09-25 16:50] #3072 closed

[2019-09-25 16:58] galexrt opened #3987 "Ceph CSI metrics ports should be configurable"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Ceph CSI metrics ports should be configurable.

**What is use case behind this feature:**

E.g., port 9090 is used by Prometheus (even though it is unlikely to have a Prometheus in `hostNetwork: true`, this is needed to allow multiple Ceph CSI drivers to run*).

*this is needed when one wants to run a

[2019-09-25 17:02] #3976 closed

[2019-09-25 18:31] yydzhou commented on #3370
Is there a root cause on this issue? and how to work around it in rook-ceph? I hit same issue.

[2019-09-26 01:22] dimm0 opened #3992 "OSDs crashlooping after being OOMKilled: bind unable to bind"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Updated ceph from v14.2.2-20190722 to v14.2.4-20190917, which seems to have made some changes in memory management, and nodes started getting system OOMKilles followed by OSDs crashlooping.

[code]

**How to reproduce it (minimal and precise):**
Get an OSD OOMKilled by system

* Rook version (use `rook

[2019-09-26 01:24] dimm0 commented on #2613
How can I downgrade? Urgent!!

[2019-09-26 03:10] dimm0 commented on #3992
Current status:
I started downgrading back to v14.2.2-20190722, and new pods started crashlooping with message:

[code]

I stopped downgrading by scaling down the operator.
Also both CEphFS MDS'es (still 14.2.4) started crashlooping, and I manually downgraded those to v14.2.2-20190722. Now both are in reserve status for some reason.

[2019-09-26 03:21] dimm0 commented on #3992
@liewegas I'd appreciate help in fixing this

[2019-09-26 04:21] dimm0 commented on #3992
Tried reverting one OSD back manually to 14.2.4 by changing the image, it stayed up for 5 mins. Trying to update all back to 14.2.4.

[2019-09-26 07:32] ashishranjan738 commented on #3956
@sp98 can you look into this ?

[2019-09-26 08:31] stephan2012 commented on #3858
Same issue for Rook 1.1.0: All Kubernetes nodes were shutdown, then startup worker nodes followed by the master nodes:

[code]

[code]

[code]

[2019-09-26 08:44] leseb commented on #3992
Are you using `rook-config-overrides`?

[2019-09-26 08:51] phanhuy1502 commented on #3133
I tried to resize ext4 format. Here the steps that work for me:

1. stop the pods which are currently using the volume

2. get the rbd image name
[code]

3. login to the rook ceph tool container

[code]

4. in the ceph tool container
[code]

5. restart the pod

[2019-09-26 08:58] yizhishang commented on #2286
Can you tell me what is it the commond to increase the warning threshold ?

[2019-09-26 09:17] leseb commented on #3926
If you exec into your osd pod, what do you see in your ceph.conf? Don't you see the settings? I just tried and I see them. In order to pick them up, you might need to restart the OSD process but if this was part of an upgrade this shouldn't be necessary.

[2019-09-26 09:29] junhuihuang commented on #3926
@leseb Thanks your reply.

After kubectl exec into my osd pod, I execute following command.

[code]

But the osd is using another configure file, `/var/lib/rook/osd34/rook-ceph.config`

[code]

[2019-09-26 09:39] leseb commented on #3926
Ahhh yes, good point, then something is wrong. Let me look into this.

[2019-09-26 11:16] splushii opened #3993 "Ceph osd prepare pod error when "topologyAware: true" due to insufficient ServiceAccount permissions"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

`rook-ceph-osd-prepare-...` pods error with:
[code]

**Expected behavior:**

`rook-ceph-osd-prepare-...` successfully prepare osd on host

**How to reproduce it (minimal and precise):**

- Install helm chart `rook-ceph` version `v1.1.1` from `https://charts.rook.io/release`
- Configure a `CephCluster`

[2019-09-26 12:03] alfredodeza commented on #2980
@travisn I guess this is what we found and fixed last week right? In the end, it wasn't the ceph-volume was hanging, it was LVM timing out trying to talk to udev since the /run/udev bind did not exist for the prepare job.

Can you add the details on when/where the fix went? I am not sure I have that info.

[2019-09-26 12:16] dimm0 commented on #3992
No, deleted all before that

[2019-09-26 12:35] marcstreeter commented on #3157
I don't see these issues any longer with v1.1.1

[2019-09-26 13:15] sp98 commented on #2980
@alfredodeza
The fix regarding the lvm issue you are referring to was addressed in the following PRs:
https://github.com/rook/rook/pull/3755
https://github.com/rook/rook/pull/3955

[2019-09-26 13:52] alfredodeza commented on #2980
@sp98 can you please close this issue then? I don't have permissions

[2019-09-26 13:58] #2980 closed

[2019-09-26 14:37] leseb commented on #3157
There was a regression in c-v which was fixed in 14.2.4, Rook 1.1.1 has that version so I suppose this bug is fixed.
Based on the last comment, I'm closing this, feel free to re-open if you have any more concerns.

Thanks.

[2019-09-26 14:37] #3157 closed

[2019-09-26 14:40] mrvnklm commented on #3522
@kd7lxl @MaxDiOrio Did you guys figure out a workaround? I am facing the same issue.

[2019-09-26 15:33] dyusupov opened #3997 "Support for Samsung KVSSD and other generic Key-Value backends"
**Is this a bug report or feature request?**
* Feature Request

With this feature, we'd like to enable generic backend functionality of EdgeFS so that it can be provisioned on top of any Key-Value backend device or existing database. Samsung KVSSDs pioneering approach of moving Key-Value processing inside the NVMe device itself and thus reducing overall CPU utilization associated with heavy I/O.

[2019-09-26 15:33] leseb commented on #3992
Can you share the ceph.conf from `/var/lib/rook/ceph`?

[2019-09-26 15:39] dimm0 commented on #3992
Here's rook.config from working (not crashlooping) /var/lib/rook/osd197/rook.config 14.2.4 :

[code]

I don't see /var/lib/rook/ceph

[2019-09-26 15:46] leseb commented on #3992
Are you using HostNetworking?
Ok, so the error here: `bind unable to bind to v2:10.244.15.18:7300/0`, is it a host or container IP?

[2019-09-26 15:48] dimm0 commented on #3992
That's private container IP, no HostNetworking

[2019-09-26 16:07] galexrt commented on #3360
@leseb Are you talking about the #3346 PR? If so, please close thanks! :slightly_smiling_face:

[2019-09-26 16:11] leseb commented on #3360
@galexrt yes! Thanks!

[2019-09-26 16:11] #3360 closed

[2019-09-26 17:13] #3913 closed

[2019-09-26 17:34] #3997 closed

[2019-09-26 18:17] travisn commented on #1653
Ok, there are a number of different scenarios being discussed here. Hopefully this helps clarify what is available in Rook today, how v1.1 helps address some of these scenarios, what is still planned, and set expectations about what is really possible.

## 1. Disaster Recovery
If you unintentionally lose your K8s cluster, you should be able to recover the data. Absolutely, this is a critical featu

[2019-09-26 18:52] jr200 commented on #3122
Can this be re-opened?  Like @hightoxicity, I have a kubernetes cluster with an external intermediate CA. I'm trying to run the ceph dashboard.  The [mgr page](https://docs.ceph.com/docs/mimic/mgr/dashboard/#ssl-tls-support) describes how one can import custom certificates signed and issued by a CA, rather than using a self-signed certificate.  My cluster does not have the PodPreset admission cont

[2019-09-26 19:09] dimm0 opened #4000 "Operator is deleting the OSDs which are out and safe-to-delete, even if in CRD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Operator can decide to remove an OSD which is defined in CRD, if it's out and safe-to-delete

**Expected behavior:**
All OSDs defined in CRD should stay in the cluster and not be removed until admin decides so

[2019-09-26 19:29] dimm0 commented on #3992
My current status: The operator updated all OSDs back to 14.2.4, and now I see the can't bind issue again.
Also 2nd problem: both my MDSs are in standby.

[2019-09-26 19:48] dimm0 commented on #3992
The error message with port bind shows a different (private) IP than the pod has
Maybe IP is not updated somehow? It would make sense it can't bind the port, since there's no such interface
What tells ceph the IP to bind to?

[2019-09-26 20:09] travisn commented on #3939
@mjschmidt The index.yaml is generated by the build scripts and it's expected to be updated when the build is published. Do you see something that is missing [here](https://github.com/rook/rook/blob/master/build/makelib/helm.mk#L25)?

[2019-09-26 20:11] travisn commented on #4000
This is a result of the change from #2741. There is some discussion there about the intention. But from this report it is obvious that we can't automatically remove the OSDs in this case either. If the cluster is experiencing health issues (in this case from #3992), it isn't expected to remove any OSDs. The OSDs should not be deleted if there is some temporary cluster health issue. The admin shoul

[2019-09-26 20:27] #3315 closed

[2019-09-26 21:15] champtar commented on #3961
This seems to only impact CentOS 7, with containerd, maybe also with cri-o, but not with docker

[2019-09-26 21:22] yanchicago commented on #3580
[https://github.com/rook/rook/pull/3955](url)

[2019-09-26 21:29] dimm0 commented on #3992
Ok, I think I know what's happening..
OSDs are getting killed with OOMKiller, the container restarts, and then ceph is trying to start on a wrong IP

[2019-09-26 21:32] dimm0 commented on #3992
Hmm... The good ones are also having the wrong IP in the config.
Where is the ceph map-to IP coming from?

[2019-09-26 22:10] champtar commented on #3961
Looking in rook sources, I just found out that HOST_ROOTFS mount is removed in  355840a491f7567b51ede4f8b78393c3086c86dd / 915bed0c3caba45833fc72157509cac9f278ba62
so this issue will be fixed by https://github.com/rook/rook/releases/tag/v1.1.2

[2019-09-26 22:10] #3961 closed

[2019-09-26 22:46] dimm0 commented on #3992
Ok, the issue was related to OSDs getting OOMKilled. I restarted all with MemoryLimit, and now there are no crashloops.

[2019-09-26 22:58] travisn commented on #3992
@batrick @ajarr What would cause both MDS daemons to stay in standby mode instead of one of them going to active? Could this related to OSDs going down? They are back up now though.

[2019-09-26 23:02] champtar opened #4002 "Publish CI container for release branch"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
If all integration tests pass, publish the containers build by the CI also for release branch, not just for master

**What is use case behind this feature:**
I just wanted to pick up a fix without waiting for a new release
https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-3964/2/p

[2019-09-26 23:11] travisn commented on #4002
@champtar the release builds for interim merges to the release branch will actually publish the images after the integration tests pass. If you're looking recently, we have been unlucky enough to be hit by about every random integration test failure, preventing any interim builds from being published. I've triggered the build to skip the integration tests and you should see new containers publishe

[2019-09-26 23:47] champtar commented on #4002
Hi @travisn, in the jenkins link everything is green but nothing was published it seems.
Does "Publish if Release" means publish if there is a tag or publish if it's from a release branch ?

[2019-09-27 00:02] travisn commented on #4002
Can you see the image now? Perhaps the view was out of date.
`rook/ceph:v1.1.1-31.g325131e`

[2019-09-27 00:04] dimm0 commented on #3992
As a result of high memory pressure, 2 OSDs got damaged rocksdb, and one PG is currently down. The PG belongs to cephFS, so cephFS is reported damaged

[code]

I'm not sure if I can mark the OSD lost without losing data... Please advise

@ukernel could you help plz?

[2019-09-27 00:13] champtar commented on #4002
I see it on dockerhub https://hub.docker.com/r/rook/ceph/tags?page=1&name=1.1.1
will try tomorrow, thanks

[2019-09-27 00:25] dimm0 commented on #3992
Trying to export the PG and re-import somewhere else. There's no PG 23.6d7, but there is 23.6d7s1, which is I suppose shard 1 of it. Is that right?

[2019-09-27 00:58] batrick commented on #3992
Only explanation is that no file system was created yet.

[2019-09-27 01:00] dimm0 commented on #3992
There's almost a petabyte of data in it..

[2019-09-27 01:43] batrick commented on #3992
Can you provide more information about this? Please include `ceph status`, `ceph fs dump`, and a snippet of the leader monitor's logs would be helpful.

[2019-09-27 01:45] dimm0 commented on #3992
As I wrote above, the PG 23.6d7 from cephFS data pool is missing something from corrupted OSD (which doesn't start)
I used the ceph-objectstore-tool to export the PG from corrupted OSD, and now importing it to a random other OSD. Is that a right thing to do?
Am I getting it right that ceph will magically discover that imported newer PG and will forget about the broken OSD?

[2019-09-27 01:54] dimm0 commented on #3992
Ok, the PG is imported to osd 51.. How can I tell ceph to find it there?

[2019-09-27 02:10] weisongf opened #4003 "Rook ceph cannot delete a single osd of an osd node"
Rook ceph cannot delete a single osd of an osd node

**Is this a bug report or feature request? **

* Bug Report
**Deviation from expected behavior:**

Osd node bad disk, modify the rook-ceph-cluster.yaml file to delete the problem osd, rook will not delete this osd。
**Expected behavior:**
Delete the osd node problem disk, rook can clean this OSD
**Environment**:
* Rook version (use rook version i

[2019-09-27 02:13] dimm0 commented on #3992
[code]

[code]

[code]

[2019-09-27 02:27] weisongf opened #4004 "It is expected that rook ceph can customize the public network, not necessarily using the node ip address of k8s (pod uses host network mode)"
**Is this a bug report or feature request?**

* feature request

**What should the feature do:**

I expect rook ceph to customize the public network, not necessarily using the node ip address of k8s (pod uses host network mode)

**What is use case behind this feature:**
[code]
Want to use a separate public storage network :172.16.4.0/24,cluster network:172.16.5.0/24

**Environment**:
* Rook versio

[2019-09-27 04:34] batrick commented on #3992
The MDS rank is damaged so no MDS will take the rank until it is marked repaired. You should only consider doing that after getting your PGs active. I don't have experience with that so I have no recommendations.

[2019-09-27 04:57] dimm0 commented on #3992
Thanks for clarifying this part

[2019-09-27 06:48] jerryhan77 commented on #3962
I have got same error.

**Environment**:
* OS: RHCOS 4.1
* Cloud provider or hardware configuration: Proxmox/KVM
* Rook version: 1.1.1
* Storage backend version: 12.2.11
* Kubernetes version : v1.13.4
* Kubernetes cluster type : Openshift 4.1
* Storage backend status : HEALTH_OK

I just want use rook to connect my externl ceph cluster, so no internal ceph.

**How to reproduce it (minimal and preci

[2019-09-27 07:28] splushii commented on #3987
This is also needed when other services use port 9090 on host network, for example Cilium's prometheus endpoint.

[2019-09-27 08:01] mjschmidt commented on #3939
I mean, I searched through the git repository for rook-logo-color-on-transparent.png and the only thing that came up was this file. If you guys are building your helm charts off the code I can only assume this is the file with the incorrect picture link.

https://github.com/rook/rook/blob/ff136d627e84bce1391eabdc36143f1519d42a2b/cluster/charts/rook-ceph/Chart.yaml

[2019-09-27 08:03] mjschmidt commented on #3939
I have company restrictions, or I'd put in the MR myself. Totally fair for you to ask me to find where the issue was (:

[2019-09-27 08:15] veezhang opened #4006 "cephfs storageclass does not work"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
 wp-pv-claim and mysql-pv-claim is Bound, but  the cephfs-pvc is  Pending

**Expected behavior:**
The cephfs-pvc works

**How to reproduce it (minimal and precise):**

[code]
**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if nece

[2019-09-27 08:36] Madhu-1 commented on #4006
@veezhang please provide the PVC describe output and also cephfs-plugin logs from provisioner pod to analyze the issue.

[2019-09-27 08:45] veezhang commented on #4006
@Madhu-1  Thanks, and I already pasted on the front.Please check
And if u want other infomations, I will provide.

[2019-09-27 08:49] Madhu-1 commented on #4006
@veezhang you have not provided cephfs-plugin logs

[2019-09-27 09:23] sebastian-philipp commented on #3122
Right, there is some work going on with https://github.com/ceph/ceph/pull/30482 . In a follow up PR, this could be made available for the dashboard, too.

[2019-09-27 09:26] veezhang commented on #4006
@Madhu-1
[code]

[2019-09-27 09:28] Madhu-1 commented on #4006
@veezhang as i  asked  here https://github.com/rook/rook/issues/4006#issuecomment-535848600 need csi-cephfsplugin container logs from provisioner pod, sorry for
[code]

[2019-09-27 09:34] veezhang commented on #4006
@Madhu-1 Oh, sorry, I found it's same with `kubectl -n rook-ceph logs csi-cephfsplugin-94jqn -c csi-cephfsplugin`, so I did not provided.
[code]

[2019-09-27 09:38] Madhu-1 commented on #4006
i don't see any volume create request logs in above one, can you provide another provisioner pod, rook deploys 2 provisioner pods fro cephfs

[2019-09-27 09:44] veezhang commented on #4006
@Madhu-1  Ok, here it is.
[code]

[2019-09-27 09:50] Madhu-1 commented on #4006
looks like the command is struck, is this cluster healthy? any  `ceph` containers are using high memory or cpu?`

[2019-09-27 09:51] leseb commented on #3992
It seems the original issue has been resolved, so I'm closing this.

[2019-09-27 09:57] leseb commented on #4003
Rook will eventually remove it, but an hour later AFAIR.

[2019-09-27 09:57] #4003 closed

[2019-09-27 10:00] veezhang commented on #4006
@Madhu-1  Yes, It is healthy. It seems not high, the top command failed.
[code]

[2019-09-27 10:10] Madhu-1 commented on #4006
csi provisioner not getting a response from the ceph cluster

* can  you execute  below command in the same csi-cephfsplugin container and check
[code]
get admin key from ceph cluster and replace `***stripped***` with that value

[2019-09-27 10:26] veezhang commented on #4006
@Madhu-1
[code]

[2019-09-27 10:30] Madhu-1 commented on #4006
can you try to create one more PVC and check

[2019-09-27 10:36] veezhang commented on #4006
@Madhu-1  emm..  it's as seem as before.
[code]

[2019-09-27 10:38] Madhu-1 commented on #4006
am not sure why some commands are getting struck, @ajarr can you take a look

[2019-09-27 11:23] sp98 opened #4008 "[OSD on PVC] Add check for minimum k8s version"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
- Update documents to reflect minimum k8s version (v1.13) required to start OSD on PVC.
- Add check to skip OSD on PVC provisioning if the k8s version does not meet the minimum required version (v1.13) criteria.

**What is use case behind this feature:**
- Raw block volume support is available starting

[2019-09-27 12:07] leseb commented on #4004
Rook cannot do this kind of decision for you. Rook has no idea that a particular interface should be used against another. You need to supply that information to Rook via a Config Override. Please read: https://rook.io/docs/rook/v1.1/ceph-advanced-configuration.html#custom-cephconf-settings

[2019-09-27 12:07] #4004 closed

[2019-09-27 12:49] leseb commented on #3962
@jerryhan77 your external cluster version is not supported, see the error message:

[code]

[2019-09-27 13:10] thotz opened #4010 "Deletion of obc fails for brownfield cases"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
 obc deletion fails for brownfield cases

**Expected behavior:**
obc should delete properly

**How to reproduce it (minimal and precise):**
kubectl delete -f <path for obc -retain.yaml>

RCA :
User unlink is performed on bucket before deleting the user fails.
The "user unlink" will only for the existin

[2019-09-27 13:19] dimm0 commented on #3992
The original issue is still there. I eliminated the cause of OOMKill, but if they are OOMKilled again, the OSDs will be unable to restart.

[2019-09-27 13:30] leseb commented on #3992
Why are they being OOMKilled?

[2019-09-27 13:41] leseb commented on #3940
Please re-open a bug with the bug template fulfilled. Thanks.

[2019-09-27 13:41] #3940 closed

[2019-09-27 13:56] leseb commented on #1584
Based on recent discussions, it seems @alimaredia is going to give this one a try.

[2019-09-27 14:09] dimm0 commented on #3992
Use too much memory, if container does not have mem limit

[2019-09-27 14:10] dimm0 commented on #3992
If there are too many writes and disk is slow, it goes to cache

[2019-09-27 14:11] leseb commented on #3992
Then I don't how that's an issue with Rook at this point 🤔

[2019-09-27 14:19] dimm0 commented on #3992
If process is killed by system the container restarts automatically, and should continue working.
But rook somehow makes it think it has a different IP than it really has, after the restart

[2019-09-27 14:21] dimm0 commented on #3992
The issue is not that OSDs are being OOMKilled, but that after they are OOMKilled, the whole pod needs to be manually deleted to start normally, while it should just restart the container and keep working

[2019-09-27 14:22] dimm0 commented on #3992
And it's not a new issue, I've seen it before occasionally. But it was rare, and I was killing pods manually without knowing what's causing this

[2019-09-27 14:24] leseb commented on #3992
So if I summarize:

* the ceph-osd process get OOM
* the pod restarts but the ceph.conf of the OSD has a wrong IP, thus it cannot bind

But I feel like you're saying pods don't get restarted, am I missing something? Why do you need to manually restart it? Doesn't Kubernetes do its job here?

[2019-09-27 14:25] dimm0 commented on #3992
containers inside the pod can restart without the whole pod restarting.. if main process dies, only that container restarts. pod keeps working.

[2019-09-27 14:26] dimm0 commented on #3992
since there can be many main (not init) containers in a pod, there's no point to kill them all I guess if one dies

[2019-09-27 14:36] leseb commented on #3992
But AFAIK, we only have one container per pod, one OSD per pod so is it really applicable here?

[2019-09-27 14:37] dimm0 commented on #3992
Yes, the pod does not restart. The container restarts.

[2019-09-27 14:39] dimm0 commented on #3992
That's what's called crashlooping... The container inside is crashing
You can run an ubuntu container without specifying a command. It will be crashlooping, but it will be the same pod

[2019-09-27 14:41] #3987 closed

[2019-09-27 14:45] leseb commented on #3992
So if the container only restarts then the IP shouldn't change and the config should still be right, so I'm not sure what's going on.

[2019-09-27 14:47] dimm0 commented on #3992
Me too, I haven't debugged that... I have problems with ceph still, because of rocksdb corruption

[2019-09-27 14:57] dimm0 commented on #3992
I can tell that IPs in OSD's rook config dir on nodes are always different from the actual ones, even in properly working pods. I don't know what exactly you do there and how this whole workflow is set up

[2019-09-27 16:07] #3926 closed

[2019-09-27 16:13] yanchicago commented on #3580
[https://github.com/rook/rook/pull/3755](url)

[2019-09-27 16:51] travisn commented on #3939
Oh, i misunderstood previously. Yes! We actually have this PR to fix the helm image issue: #3941, we just need to get it merged.

[2019-09-27 19:54] mjschmidt commented on #3939
Woo

[2019-09-27 22:35] kfox1111 commented on #2388
Curious if this has been solved now that pv mode is supported? Couldn't this be a problem still?

[2019-09-28 02:28] dingsongjie opened #4012 "PersistentVolumeClaim is pending when using Shared File System with csi"
version 1.1.1
**pvc logs**
[code]

[2019-09-28 02:36] Madhu-1 commented on #4012
Min ceph version requited is 14.2.2 https://github.com/ceph/ceph-csi#support-matrix

[2019-09-28 02:55] dingsongjie commented on #4012
I use  ceph/ceph:v14.2.4-20190917   as  [https://github.com/rook/rook/blob/v1.1.1/cluster/examples/kubernetes/ceph/cluster.yaml](https://github.com/rook/rook/blob/v1.1.1/cluster/examples/kubernetes/ceph/cluster.yaml)

[2019-09-28 06:31] Madhu-1 commented on #4012
Look like cephfs issue, @ajarr PTAL

[2019-09-28 07:42] dingsongjie commented on #4012
After I reset CephCluster ,errors are change.
[code]

[2019-09-28 08:00] Madhu-1 commented on #4012
Can you restart cephfs provision pods and try?

[2019-09-28 08:11] dingsongjie commented on #4012
I tried ,it  goes back to the previous error

[2019-09-28 08:33] luke243 commented on #3936
Sorry, should have done more digging into this before creating an issue. Turns out the lvm2 package in Alpine is compiled without udev support and so doesn't handle udevcookies, which is what is causing cryptsetup to hang.

[2019-09-28 08:33] #3936 closed

[2019-09-29 02:01] zhangqidong commented on #3885
[root@master ~]# kubectl edit deployment csi-rbdplugin-provisioner -n rook-ceph
replace "Always" with "IfNotPresent"

[2019-09-29 02:42] weisongf commented on #4003
I actually verified it but it was not deleted after an hour.
/dev/sdf device removed from configuration，but the rook did not delete the osd.
[code]

[2019-09-29 03:13] jgilfoil opened #4014 "PVC provision fails for existing filesystem using storageclass after upgrade"
2. For general technical and non-technical questions, we are happy to help you on our [Rook.io Slack](https://slack.rook.io/). https://rook-io.slack.com/archives/CG3HUV94J/p1569469599081200
3. Did you already search the existing open issues for anything similar? --> yes, nothing quite the exact same circumstances

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected

[2019-09-29 04:07] veezhang commented on #4006
@Madhu-1 @ajarr  I'vs reinstall some times, but nothing to help. Did you find any useful information?

[2019-09-29 07:13] Madhu-1 commented on #4014
@ajarr @humblec PTAL

[2019-09-29 07:14] Madhu-1 commented on #4006
@humblec PTAL

[2019-09-29 12:17] #3342 closed

[2019-09-29 12:34] iMartyn commented on #3376
Not stale. Still an issue.

[2019-09-29 15:17] #3343 closed

[2019-09-30 08:21] 13567436138 opened #4015 "restart one node ceph become avariable"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`

[2019-09-30 09:06] albertdb commented on #3132
Interestingly, we've run across this issue with a memory request of 512MB, which is honored as the osd_memory_target even with v14.2.2, as you can see:
[code]

The memory limit is set to 4GB, if that does matter. The OSD maxes at 759MB of memory usage (and it didn't rise before load skyrocketing), with plenty of memory available on the host.

I'm going to test with v14.2.4 and a memory request of

[2019-09-30 11:37] bengland2 commented on #3132
The Ceph OSD needs more memory to operate efficiently (i.e. cache metadata).
Which memory limit exactly are you referring to when you say "The memory limit is set to 4 GB"?    Which version of rook.io are you using?   osd_memory_target is supposed to be something like 0.8 * the OSD pod memory limit in newer releases.  Please attach the cluster.yaml.   Also please do kubectl describe pod on the OSD

[2019-09-30 11:43] leseb commented on #4015
Please re-open a bug with the template fulfilled.

[2019-09-30 11:43] #4015 closed

[2019-09-30 12:11] chenlein commented on #3885
@zhangqidong This is not the answer I want. I mean how to configure it before deployment. For now, I build my custom image：
[code]

[2019-09-30 12:11] albertdb commented on #3132
@bengland2

I know, but that's another matter :)

Kubernetes pod memory limit.

Rook v1.0.6 with Ceph v14.2.2 (now testing v14.2.4, I will report back in a few days when it is expected to crash)

True, but if the pod has memory request defined, the osd_memory_target is set to that amount, whatever the version used, as you can see in my previous comment. This is a fact and it the reason I don't und

[2019-09-30 12:20] bengland2 commented on #3132
Does it do the same thing if you set resources:osd:memory:requests to 4096Mi  ?    Or if you don't set it at all?   What is default value of resources:osd:memory:requests?    Perhaps that's the problem, that rook sets the osd_memory_target to the lower of the two values.    Why are there two parameters in cluster.yaml instead of 1?   @leseb ?

[2019-09-30 12:37] albertdb commented on #3132
Behaves as you discovered in this issue, depending on the version.

The default is no memory request. If no memory request is set, you depend on the memory limit (if any).

In fact, min(memory_request, 0.8*memory_limit).

It makes sense in Kubernetes world, I guess.

[2019-09-30 13:05] #3354 closed

[2019-09-30 14:35] bengland2 commented on #3132
On your last paragraph: If Ceph can't cache any data, then it will constantly be hitting RocksDB for that (read amplification) and this should increase CPU load.      I think it would be useful to show that this load problem occurs even when Ceph is getting the 4 GiB memory that is considered normal.    @markhpc care to add to this?    Also you hadn't mentioned the node crash above, is there a ker

[2019-09-30 15:05] #2982 closed

[2019-09-30 15:53] leseb opened #4017 "Enable commit linter bot"
I'd like to enable this bot: https://github.com/z0al/commitlint-bot, which goes through all the commits of a PR and ensures each commit has a `type` on the commit title (eg: `ceph: my change`) AND a commit message.

Having such bot will drastically improve the review experience of reviewers as well as focusing on what's matter in the PR.
Obviously, reviewers should keep on reading the commit messa

[2019-09-30 16:53] bengland2 commented on #3132
@albertdb  sorry if I wasn't understanding your post - there are a lot of layers in this system that can influence the result.

albertdb> the only way for me to replicate this issue is to let elasticsearch with a PVC do its things for 4 or 5 days and boom, machine crashed. Metrics show both system load and rbd device response time going nuts.

This sounds like some sort of a memory leak that might

[2019-09-30 17:32] travisn commented on #3992
After discussing offline with @dimm0, the issues have been resolved and the cluster is healthy again. There are some follow-up issues to investigate.

To summarize the sequence of events:
1. The cluster was running v14.2.2
1. Upgraded to v14.2.4
1. OSDs started crashlooping due to the OOMKill
1. OSDs failed to start back up because of binding to the wrong IP
1. The cluster CR was updated to apply

[2019-09-30 17:36] dimm0 commented on #3992
Yes, it's all correct.
Wanted to add that OSDs corrupted under high memory pressure is a known ceph issue (I saw it in mailing lists), and should be avoided at all costs

[2019-09-30 18:23] Queuecumber commented on #1653
I disagree with your assessment of use case 2b, that is exactly how I want to use ceph.

Speaking in general terms, our entire application stack is ephemeral and can be torn down to the point of rebuilding the root drives of the machines and rearchitected as necessary, but the underlying data that the application depends on shouldnt need to be rebuilt. We currently do this by having a dedicated st

[2019-09-30 18:42] travisn commented on #1653
@Queuecumber thanks for the feedback. I'm thinking of a way to make this scenario work. Would the following flow be possible for your scenario?
1. Before taking down the old cluster, export some k8s resources. For example, there are a few critical configmaps, secrets, and services that rook relies on for configuring the mons.
1. After the new K8s cluster is started, import the resources before cre

[2019-09-30 18:55] Queuecumber commented on #1653
This pretty much exactly the flow I had in mind, our deployment manifests can even include the k8s resources that rook expects to have

[2019-09-30 19:55] kfox1111 commented on #3190
Just hit this too. Was using loop back in minikube to test out rook on a small scale. Why is diskType loop unsupported?

[2019-09-30 21:47] yanchicago opened #4020 "radosgw failed to listen on the IPv6 port"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In a  IPv6 only k8s config, the radosgw listened on IPv4 TCP port.

**Expected behavior:**
Need a solution to have radosgw listening on IPv6 port instead of default IPv4.
Below command failed with "Connection refused" error.
s3cmd mb --no-ssl --host=${AWS_ENDPOINT} --host-bucket=  s3://rookbucket

**Ho

[2019-10-01 01:01] jeffvance commented on #3792
@thotz I don't see a pr for your suggested fix. Is there one?

[2019-10-01 01:37] travisn commented on #1653
@Queuecumber With a few minor fixes (see #4021), i was able to restore a cluster with the following steps.
1. Start minikube (k8s 1.16) and attach two devices
1. Start a rook cluster. The default settings were used from common.yaml, operator.yaml, and cluster.yaml. The only change was that multiple mons per node were allowed since running in a single node (`allowMultiplePerNode: true`)
1. Wait for

[2019-10-01 01:44] Queuecumber commented on #1653
Very cool, I think this must have something to do with moving the metadata from host directories to k8s resources right? I'd love to do the implantation of this but probably someone with more experience with rook should go the design e.g. what kind of interface should be exposed to the user? Also how could we debug the commands which timeout?

[2019-10-01 03:20] travisn commented on #1653
This was prototyped based on the mons persisting data to the dataDirHostPath and the OSDs persisting to devices under /dev. If the scenario were to base these on PVCs, it would actually be more complicated since more k8s metadata would need to be restored and the PVs would need to be preserved.

I’ll continue investigating the mgr timeouts, just wanted to point it out in case someone tried this ou

[2019-10-01 04:41] 13567436138 commented on #4015
restart the rook pod，solve my problem

[2019-10-01 07:19] #2206 closed

[2019-10-01 07:45] leseb commented on #3992
The operator (human) is encouraged to set whatever is best for their platform. Rook cannot guess nor do an accurate prediction of the value that needs to be set. That's too error-prone and should be left to the administrator. This should be based on the amount of OSDs and memory on the host, as well as other considerations such as the workload running, are node hyper-converged and probably more.

[2019-10-01 08:12] thotz commented on #3792
Initially, this change got mixed up with admin doc pr#3655. Created new PR for this issue.
Please review the same

[2019-10-01 09:00] leseb commented on #4020
Based on https://github.com/ceph/ceph/pull/27270, if you upgrade to Ceph 14.2.2, this issue should go away. I'm closing this, feel free to re-open if not fixed. Thanks.

[2019-10-01 09:00] #4020 closed

[2019-10-01 09:44] albertdb commented on #3132
Maybe, but I have monitoring data showing that at the time of the crash (more or less, the last time that the node answered metrics request), the used memory (minus caches and buffers) was only half of the node memory, with absolutely no rise in the previous hours.

One OSD per node. Initially, 4GB of total RAM per node. Now they have 8GB, I have no problem in going to 1GB, but no more than that i

[2019-10-01 13:05] leseb commented on #3832
If you upgrade to CSI 1.2, it'll use ext4 as a base fs and will mount with discard by default.

[2019-10-01 14:13] travisn commented on #3992
In v14.2.2 the OSDs were running fine without mem limits. Now with v14.2.4 the OSDs can get OOM killed if there is no limit. Either a fix is needed in Ceph or we need a default limit, right? We can't have them crashing with default config.

This is with the osd config fix we'll have in 1.1.2?

[2019-10-01 14:16] leseb commented on #3992
I understand your point, I think we need to narrow down this issue of the OSDs consuming memory and end up being OOM killed. @dimm0 do you have any monitoring graph that could show the increase of memory usage by the OSD?

Yes.

[2019-10-01 14:52] dimm0 commented on #3992
https://grafana.nautilus.optiputer.net/d/85a562078cdf77779eaa1add43ccec1e/kubernetes-compute-resources-namespace-pods?orgId=1&from=now-14d&to=now&var-datasource=prometheus&var-cluster=&var-namespace=rook

The update was on the 25th

<img width="1185" alt="Screen Shot 2019-10-01 at 7 52 20 AM" src="https://user-images.githubusercontent.com/1425007/65973585-6f5d9080-e420-11e9-9715-1ec6e3c9800b.png">

[2019-10-01 16:09] BlaineEXE commented on #1653
It sounds to me like what we are talking about here is cluster adoption. Extending the ideas here to the most extreme case, all a user has is some number of OSD disks on some number of nodes from a prior Ceph cluster, and this cluster may not even have been a Rook cluster but a baremetal one. What is the minimum set of information needed to create a Ceph cluster that can use those disks as part of

[2019-10-01 16:20] Queuecumber commented on #1653
Yeah I like that idea, e.g. instead of having rook automatically set things up for me I could provide the ceph metadata to rook and it can take over a previously existing cluster

[2019-10-01 16:36] mmgaggle commented on #3132
The tl;dr; is that when osds are on the same hosts consuming krbd pvs, sometimes you get a deadlock with the xfs on the krbd during memory reclaim. This doesn't appear to happen with ext4.

A heavy elastic workload might trigger these conditions, and you might be able to work around the issue by using ext4 (until a kernel fix is identified and merged).  You also might be able to work around this i

[2019-10-01 16:36] travisn commented on #1653
The question for cluster adoption is going to be around what is needed to get the mons to start and form quorum in rook. It might be possible already with the steps I outlined, but you would just have to create the yaml files yourself instead of first exporting them from a rook cluster. Once mon quorum is up, I expect Rook will pick up on the OSDs as long as they were created with `ceph-volume`.

[2019-10-01 16:45] yanchicago commented on #3580
The volume corruption observed again. And the volume can be reused after repair.
Is it possible that rook agent overwrites some part of the volume during detach/attach?

----------------------------------------------------------------------------------------------------
$ ls -l /var/lib/kubelet/plugins/ceph.rook.io/rook-ceph-system/mounts/
ls: cannot access /var/lib/kubelet/plugins/ceph.rook.io/ro

[2019-10-01 17:13] travisn commented on #3580
@yanchicago This sounds similar to #3298 which has been elusive to track down with the flex driver. Is it possible for you to test with the [CSI driver](https://rook.io/docs/rook/v1.1/ceph-block.html) instead of flex?

[2019-10-01 17:41] leojonathanoh commented on #3832
I see that in `operator.yaml` of `rook v1.1.x`, the `ROOK_CSI_*_IMAGE` env vars are all using tag `>= v1.2.0` except for `ROOK_CSI_REGISTRAR_IMAGE` which is using `v1.1.0`.  Does that mean `rook v1.1.0+` is already using CSI 1.2? If that's the case then I don't need to upgrade anything.

I've tried creating a new `rbd` `StorageClass` on `rook  v1.1.0` specifying parameters `csi.storage.k8s.io/fsty

[2019-10-01 19:02] yanchicago commented on #3580
@travisn Thanks for your quick response. Is there an upgrade path from flex to CSI? Flex deployment is already in the fields.

[2019-10-01 19:51] kfox1111 opened #4029 "CephBlockPool updating failureDomain"
running rook 1.1.1.

In minikube I launched ceph. created 3 osds. then created a CephBlockPool with no failureDomain specified. It defaulted to host apparently. The cluster became unstable as it couldn't fully provision. I updated failureDomain to be osd and it did not apply the update. I deleted the operator and it relaunched, resetting things up and it still didn't apply. Manually editing the cr

[2019-10-01 22:35] #3993 closed

[2019-10-02 05:16] Madhu-1 commented on #3832
ceph-csi v1.2.1 is available. and CSI  uses discard while formatting the image, you need to pass `mountOptions` in SC

@leojonathanoh can you provide the rbdplugin from logs from the same node where you are mounting?

[2019-10-02 05:17] Madhu-1 commented on #3832
why the `reclaimPolicy: Retain` is added in SC, can you add `reclaimPolicy: Delete` and try?

[2019-10-02 07:32] leojonathanoh commented on #3832
Just changed the `ROOK_CSI_CEPH_IMAGE` to `quay.io/cephcsi/cephcsi:v1.2.1` in `operator.yaml` on `rook v1.1.0`.

Created a `rbd` `StorageClass` with parameters `csi.storage.k8s.io/fstype: ext4` and `mountOptions: - discard` and `reclaimPolicy: Delete`:

[code]

Created a deployment using a `pvc` referencing this `storageClass`.

Logs on the `csi-rbdplugin` pod on the node where the deployment is r

[2019-10-02 07:42] Madhu-1 commented on #3832
I will look into the discard mount flag, btw new SC still contains `reclaimPolicy: Retain` if the reclaim policy is to retain the backend rbd image won't be deleted.

[2019-10-02 07:45] leojonathanoh commented on #3832
that was a mistake on my part. I have edited the post. I tried with both `reclaimPolicy: Delete` and `reclaimPolicy: Retain` on the `StorageClass`.

[2019-10-02 13:56] albertdb opened #4034 "CephBlockPool reuse safeness"
Hi,

Is it safe to use the same CephBlockPool for several StorageClass?  E.g. one with fsType xfs and other with ext4.

Is it the same answer true for erasure coded StorageClasses?

Sorry if these are basic concepts, but I don't see them documented anywhere.

Thanks.

[2019-10-02 14:02] #3366 closed

[2019-10-02 14:19] travisn commented on #4034
@albertdb Yes, it is fine to use the same CephBlockPool from multiple storage classes. As long as the same pool properties are desired, then you could use different storageclass properties to get the desired behavior. For quick questions in the future, feel free to join the [Rook Slack](https://slack.rook.io/)

[2019-10-02 14:19] #4034 closed

[2019-10-02 15:14] NahaliY opened #4035 "Ceph-OSD-prepare Issue"
H Rook community,
When attempting to deploy OSD pods, ceph-osd prepare launch the command  in all disks ````  lsblk --all --noheadings --list --output KNAME ```` , also when a filter on disks is created ```` deviceFilter: ^sd[b-c] ```` , In my case, the sod-prepare was blocked in checking a disk which is /dev/fd0 , https://gist.github.com/NahaliY/d50c466912daf892777c6c3fbce5d275
 I solved the prob

[2019-10-02 17:54] dimm0 commented on #3992
Can I get this fix soon plz?

[2019-10-02 18:28] BlaineEXE commented on #3132
Thanks for the info @mmgaggle; that's really great. If someone is able to repro the issue while running ext4, that could possibly eliminate xfs as the issue, though there always could be multiple things at play.

[2019-10-02 19:02] dimm0 commented on #3992
I still see pods go crashloop (about one-two per day)

Also I've got 2 OSDs corrupted after the upgrade:

[code]

I'm not sure what my strategy should be now. When I didn't have the mem limit, OSDs could burst to higher memory consumption when needed. Now they're limited to 5G, and according to https://tracker.ceph.com/issues/24968 "Some of them mentioned high memory pressure as one of the potenti

[2019-10-02 19:25] Bessonov commented on #2109
Activity!

[2019-10-02 19:39] BlaineEXE commented on #3379
@dexhorthy the goal is to remove support entirely. Developers spend a lot of time continuing to support a feature that is not--and cannot be made to be--suitable for production use. Even keeping support in for "unstable and not for production usage" at the user's own risk increases developer effort for OSDs fairly substantially. IMO, it is better to remove support entirely for something that both

[2019-10-02 20:44] kfox1111 opened #4037 "Helm chart optional crds"
I have seen many cases where crd's and helm don't play well with each other. Having helm to manage the rest of the chart still makes a lot of sense. It allows easy overriding of images, resource requests, etc.

Please provide a value that can disable the management of crds in the helm chart.

[2019-10-02 21:33] dimm0 commented on #3992
Talked to Sage, got a solution to try for now

[2019-10-03 08:30] leseb commented on #3992
Present in 1.1.2: https://github.com/rook/rook/releases/tag/v1.1.2

[2019-10-03 08:57] leseb commented on #4017
Done!

[2019-10-03 08:57] #4017 closed

[2019-10-03 08:57] leseb commented on #4035
This will likely go away once @jmolmo is done with https://github.com/rook/rook/issues/2606.

[2019-10-03 10:09] volvicoasis commented on #3580
Hello, same, here in production due to pods evictions. some of pvc was corrupted, so we lost data with xfs repair. Do you think we can have same behaviour with ext4 ?

CentOS Linux 7 (Core)
Linux  3.10.0-957.10.1.el7.x86_64 #1 SMP Mon Mar 18 15:06:45 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
ceph HEALTH_OK
kube : v1.14.6
rook: v0.9.0-102.g8e263cd
ceph version 13.2.2 (02899bfda814146b021136e9d8e80eba

[2019-10-03 12:48] leseb commented on #3962
@jerryhan77 your problem will be fixed in #4025

[2019-10-03 12:48] leseb commented on #3962
@MAHDTech are you still seeing the same issue?

[2019-10-03 14:04] albertdb commented on #3911
Subcase of https://github.com/rook/rook/issues/1653

[2019-10-03 14:16] albertdb commented on #1653
@travisn Would that prototype recover PVCs/PVs consuming Rook Ceph storage? The aim I think should be allowing using certain PVC (`mypersistentvolume`) from a Pod in the new Kubernetes cluster just as if it was deployed in the old cluster.

[2019-10-03 14:26] dimm0 commented on #3992
Closing the ticket then

[2019-10-03 14:26] #3992 closed

[2019-10-03 15:01] leojonathanoh opened #4042 "Dashboard service targetPort does not match the CephCluster dashboard ssl setting if it is unspecified or false"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Dashboard service `targetPort` is `8443`.

**Expected behavior:**

Dashboard service `targetPort` is `7000`.

**How to reproduce it (minimal and precise):**

## `CephCluster`

Apply the `CephCluster`

[code]
## `rook-ceph-mgr-dashboard` service

Notice the dashboard service `targetPort` is `8443`. Thi

[2019-10-03 15:15] yanchicago opened #4043 "Migration procedure from flexvolume to ceph-csi"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
With ceph-csi support, the field deployment with flexvolume needs to be upgraded/migrated to ceph-csi. There's no procedure available.

**Expected behavior:**
Procedure document or script to support the migration. A "hacky" procedure in the forum:
scale down replicas
1) create new SC using the same poo

[2019-10-03 15:22] yanchicago opened #4044 "Migration/upgrade procedure from two namespaces to one namespaces"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Starting v1.0, operator and cephcluster can be deployed within one namespace. The earlier deployment in the fields need a migration/update procedure to change from two namespaces to one namespace.

**Expected behavior:**
Procedure document or script to support the migration/upgrade from two namespaces

[2019-10-03 15:30] leojonathanoh commented on #4042
I suspect upgrades from `rook < v1.1.1` to `rook v1.1.1` to be bitten by this bug and have their dashboard service broken, since `rook v1.1.1` added #3626.

[2019-10-03 16:04] yanchicago commented on #4044
Did a quick testing on removing operator and two daemonsets in the rook-ceph-system and start a new one. All the CRDs are kept.
1). The new operator failed to monitor the resources that are created.
`2019-10-03 15:49:05.999562 E | op-cluster: failed finalizer for cluster. failed to get volume attachments for operator namespace rook-ceph: the server could not find the requested resource (get volume

[2019-10-03 18:11] eknudtson opened #4045 "OSD Provisioning Errors on Rook 1.1.2"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSDs being provisioned by rook v1.1.2 while using Ceph Mimic are failing to start (seems to be both encrypted and non-encrypted OSDs).  This is a cluster upgraded recently from 1.1.0.

**Expected behavior:**
OSDs are provisioned and started successfully

**How to reproduce it (minimal and precise):**
P

[2019-10-03 18:30] eknudtson commented on #4045
It appears manually editing the deployment for OSD 0 and setting `--osd-memory-target=6012954112` allows the OSD to start

[2019-10-04 07:55] surajssd opened #4047 "CephCluster CR does not accept metadataDevice in one `kubectl apply`"
**Is this a bug report or feature request?**

* Bug Report

**Deviation from expected behavior:**

When I create a `CephCluster` CR the `metadataDevice` is not accepted (there are no errors per se), it does not reflect in the `CephCluster` object stored on the cluster. But when I re-apply the same configuration again, it reflects correctly.

**Expected behavior:**

I expect that the `metadataDevic

[2019-10-04 08:00] surajssd commented on #4047
[code]

[2019-10-04 10:48] billimek commented on #3132
Is the possible relationship to xfs limited to **rbd** workloads, or is cephfs also encapsulated in this scenario?

The reason I ask, is that I believe these symptoms are also present with folks consuming cephfs.

[2019-10-04 12:15] MAHDTech commented on #3962
I haven't progressed any further with using Rook at this time, i've gone back to using the provisioner for the moment which is working.

I will have some time in the coming week to see if I can get any further so will report back then.

[2019-10-04 14:11] #2650 closed

[2019-10-04 14:11] #3763 closed

[2019-10-04 17:34] mmgaggle commented on #3132
A filesystem (xfs, ext4) isn't used on top of a CephFS share, like it would on top of a krbd block device, so a RWX PV shouldn't lead to the deadlock described in that BZ.

That said, CephFS is going to consume memory on the client side (both fuse and kernel cephfs), and if a node is tight on memory it might be cranky until the oomkiller does its thing to free some up.

[2019-10-04 18:28] ron1 opened #4049 "ObjectBucketClaim only binds to insecure port 80"
**Is this a bug report or feature request?**
* Bug

**Deviation from expected behavior:**
Object Bucket provisioner fails when CephObjectStore port is not set to port 80.

**Expected behavior:**
Object Bucket provisioner successfully provisions an insecure bucket when CephObjectStore port != 80 and successfully provisions a secure bucket when CephObjectStore securePort is set.

**How to reproduce

[2019-10-05 06:23] ron1 opened #4050 "Allow CephObjectStore/RGW service and container ports, both secure and insecure, to be defined separately"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow CephObjectStore/RGW service and container ports, both secure and insecure, to be defined separately.

**What is use case behind this feature:**
OpenShift prefers pod containerPort numbers > 1024. Since it is natural for in-cluster clients to communicate with RGW using ports 80 and 443, it is commo

[2019-10-05 13:52] #2447 closed

[2019-10-06 06:19] #2673 closed

[2019-10-06 15:19] #2151 closed

[2019-10-06 17:35] Glorf opened #4051 "Cannot run cephcsi in mix architecture kubernetes cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When deploying new CephCluster with latest Rook operator installed by helm chart on ARM64 (Raspberry PI 4, Ubuntu 18.04), the CSI plugins fail to run with `standard_init_linux.go:211: exec user process caused "exec format error"`. Apparently, there are no arm64 images for these plugins in the quay.io r

[2019-10-06 18:51] msfeghouli opened #4052 "Target pods on edgefs deployment wont create"
**Is this a bug report or feature request?**
**Bug Report**
I ran rook edgefs cluster on my kubernetes i have 2 nvme ssd on three nodes , when i ran
operator and cluster.yaml  the target pods dont show up on the rook-edgefs namespace

[Operator.log](https://github.com/rook/rook/files/3694748/Operator.log)

**Deviation from expected behavior:**
no target pods are running
**Expected behavior:**
targ

[2019-10-07 02:19] #3330 closed

[2019-10-07 08:36] leseb commented on #4051
Shouldn't this be a bug in ceph-csi first?

[2019-10-07 09:13] Glorf commented on #4051
More like an integration between rook and ceph-csi, as it makes rook unusable
Added this also as an issue in `ceph-csi`

[2019-10-07 09:19] leseb commented on #4051
Thanks!

[2019-10-07 13:42] ftab commented on #3132
Is it possible to change an existing volume from xfs to ext4 to check this, or would the volume have to be deleted, then the storageclass modified and the volume recreated?

[2019-10-07 14:40] leseb opened #4054 "Start using errors.Wrap() instead of fmt.Errorf"
Rook could benefit from using `errors.Wrap()` as well as `errors.Wrapf()` so the error formatting is handled by the package. Many projects under the Kubernetes umbrella use it. Also:

* from a formatting standpoint, the code will be cleaner
* reviews will be more focus since reviewers won't have to explicitly explain on to handle errors and which interface type to use (`%v` versus `+%` for example

[2019-10-07 15:07] #2923 closed

[2019-10-07 15:47] travisn commented on #4054
Agreed that this would be a better approach to error handling. Some thoughts:
- Can you show an example of what it looks like to print an error to the log? What will it look like compared to our current approach that has multiple sentences? For example, what do you see with err.String() if the error has been wrapped multiple times?
- Since this is such a big change we shouldn't backport it. This w

[2019-10-07 16:07] leseb commented on #4054
Inline:

Snippet:

[code]

This returns:

[code]

A more complex example:

[code]

Will produce:

`error calling readConfig: error opening config file: open foobar: no such file or directory`.

Agreed.

Yes, most of it *can* be automated but carefully verified.

Does that help?

[2019-10-07 16:18] leseb commented on #4054
Correct, probably at the end of a cycle? Which means keeping it in sync or at least build the automation for this.

wdyt?

[2019-10-07 16:27] travisn commented on #4054
What if we just wait 4-6 weeks? By then the backports should at least be much less often.

[2019-10-07 16:38] leseb commented on #4054
Yes!

[2019-10-07 16:56] travisn commented on #2913
The CSI driver was already added to the helm chart in v1.1

[2019-10-07 16:56] #2913 closed

[2019-10-07 17:08] kfox1111 commented on #2913
Its more of a question of auditability/security. If the helm chart launches the driver, you can easily peak at what the chart will load and see. With the operator, you can't see what its going to do until after its done. I get that that has other benefits. Its a tradeoff between visibility though and flexibility. I'm thinking the driver doesn't need the operator level of flexibility?

[2019-10-07 17:33] bengland2 commented on #3132
@ftab It's not easy to do with rook and K8S.   Ceph just offers a block device, it doesn't care what filesystem is on it or if you change filesystems, but the rook-ceph functionality provisions a block-device (RWO) PV (persistent volume) with a fs and provisions pods with a fs mountpoint as part of their startup, so it's not easy to change existing volumes in this way.   However, you can provision

[2019-10-07 17:33] travisn commented on #2913
@kfox1111 If you look at all the yamls under the [template folder](https://github.com/rook/rook/tree/master/cluster/examples/kubernetes/ceph/csi/template) you can see what variables can be substituted. The configurable settings are exposed to the [helm settings](https://github.com/rook/rook/blob/master/cluster/charts/rook-ceph/values.yaml#L53-L85).

If you don't want rook to install the CSI driver

[2019-10-07 17:51] kfox1111 commented on #2913
This is kind of one of those philosophical questions that hasn't been answered in the k8s community yet. Installation.

In Windows, they use to use an "installer" for everything. A piece of Turing complete software to install other software. It was really hard to see what it was going to do, and harder to ensure when removed that it would totally clean up after itself.

Linux machines went to pack

[2019-10-07 21:08] dimm0 commented on #2424
Creating activity here

[2019-10-08 01:36] dimm0 opened #4055 "CSI CephFS driver is loading fuse driver regardless of kernel"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In csi-cephfsplugin-* logs I get:

[code]

on nodes with 5.1.7 and 5.3.1 kernels

**Expected behavior:**
Use kernel client

**How to reproduce it (minimal and precise):**
Use CSI with 5.* kernels

**Environment**:
* OS (e.g. from /etc/os-release):
Centos 7.6
* Kernel (e.g. `uname -a`):
Linux k8s-haosu-

[2019-10-08 01:42] dimm0 commented on #4055
P.S. I'm getting 40 MB/s write speed in a cluster of 5 nodes with NVMEs 😂

[2019-10-08 01:49] dimm0 commented on #4055
And 2.4GB/s write with kernel mount from tools pod

[2019-10-08 05:29] travisn commented on #4055
@ajarr could you take a look? though i'm assuming we should move this to the ceph-csi repo

[2019-10-08 05:34] dimm0 commented on #4055
BTW having quotas isn't worth a 100x decrease in performance IMHO... I'd rather always use kernel, and disable features that it doesn't support

[2019-10-08 05:36] Madhu-1 commented on #4055
This is fixed in csi master, missed to backport to 1.2.2 release

[2019-10-08 05:38] Madhu-1 commented on #4055
We have added a parameter to force use kernel client, even if the kernel is less than 4. 17 this will be available in next csi release

[2019-10-08 05:43] dimm0 commented on #4055
Can I switch ROOK_CSI_CEPH_IMAGE then?
I'm looking at https://quay.io/repository/cephcsi/cephcsi?tab=tags

[2019-10-08 05:46] Madhu-1 commented on #4055
Canary image will be updated frequently and can break any time, if this is testing environment you can use it

[2019-10-08 05:51] dimm0 commented on #4055
No, it's production cluster..

[2019-10-08 05:52] Madhu-1 commented on #4055
Suggest to wait for next CSI release to fix this

[2019-10-08 05:53] dimm0 commented on #4055
How long? I've already switched a bunch of users to the csi...

[2019-10-08 05:59] Madhu-1 commented on #4055
https://github.com/ceph/ceph-csi/issues/639 csi 1.2.2 release date

[2019-10-08 06:06] dimm0 commented on #4055
Could you make a release with just this https://github.com/ceph/ceph-csi/commit/197c8fcfcc73864061e91be59fb44625d9ea4eeb fix on top of current one? Please?

[2019-10-08 09:01] 13567436138 opened #4057 "can not operate rbd command"
[code]

[2019-10-08 11:33] leseb commented on #4057
The key does not have the correct permission to list devices, also you're using the `client.admin` the user instead of the one provided in the keyring file.

Use the toolbox to access the cluster: https://rook.io/docs/rook/v1.1/ceph-toolbox.html

[2019-10-08 11:33] #4057 closed

[2019-10-08 13:34] 1605200517 opened #4059 "Does rook support S3?"
While S3 is an important storage interface, implementations being available not only from the original vendor, is it possible to use it with Rook?

[2019-10-08 13:50] leseb commented on #4059
You should **really** consider reading the doc: https://rook.io/docs/rook/v1.1/ceph-object.html. Thanks.

As mentioned before, GitHub issues are **only** for opening bugs or features. The rest is either in the documentation or on Slack: https://slack.rook.io/.

[2019-10-08 13:50] #4059 closed

[2019-10-08 17:13] dimm0 commented on #4055
Built my own. Closing.

[2019-10-08 17:13] #4055 closed

[2019-10-08 22:32] salanki commented on #2424
I have the same issue.

[2019-10-09 01:01] 13567436138 opened #4062 "resized the rbd size has no effect，pod still show no space"
[root@dev7 ~]# kubectl get pvc -n harbor
NAME                                     STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
data-harbor-harbor-redis-0               Bound    pvc-c122ef23-5555-4c60-b8be-4e98e4743760   1Gi        RWO            rook-block     19d
database-data-harbor-harbor-database-0   Bound    pvc-3d165940-52ee-45d4-acad-9b453

[2019-10-09 03:44] Madhu-1 commented on #4051
@leseb @travisn how rook is building a single image for multiple arch, can you guys point me there, want to adopt the same mechanism for ceph-csi also.

[2019-10-09 06:16] travisn commented on #4051
Rook basically does the following to push to dockerhub:
- Build the amd64 image and push to rook/ceph-amd64
- Build the arm64 image and push to rook/ceph-arm64
- Use the [manifest tool](https://github.com/rook/rook/blob/master/build/release/Makefile#L179) to publish the list of the architectures with the same tag in the rook/ceph repo

This should all be in the `publish` target of the [Makefile](h

[2019-10-09 06:49] k0da opened #4063 "rook-config-override still not injected in 1.1.2"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Despite having:
[code]
osd config-init doesn't put values into a config used by osd:

[code]
Generated deployment for pod have:
[code]
but override values are written to /etc/ceph/ceph.conf

/etc/rook/config/override.conf doesn't exist
**Expected behavior:**
values from rook-config-override are injecte

[2019-10-09 06:55] Madhu-1 commented on #4051
@travisn Thanks for the pointer

[2019-10-09 08:15] leseb commented on #4063
Once the OSD pod runs it will read `/etc/ceph/ceph.conf` which has your config overrides.
I'm closing this, if you see something different feel free to re-open, thanks.

[2019-10-09 09:00] #3118 closed

[2019-10-09 09:14] nokiatesting commented on #4006
I encountered the same problem in rook 1.1, and looking forward to the correction.

[2019-10-09 11:00] #1366 closed

[2019-10-09 12:19] k0da commented on #4063
osd started with --conf /var/lib/osdN/rook-ceph.config and when recovery starts see only tho PGs being recovered at the same time, If I use ceph config set osd .... recovery speed is increased immediately.

[code]
^^ doesn't have overrided options

[2019-10-09 12:21] leseb commented on #4063
@k0da what types of OSDs are you running? ceph-volume prepared? filestore? bluestore?

[2019-10-09 12:26] k0da commented on #4063
@leseb filestore

[2019-10-09 13:08] galexrt commented on #2543
We still need this if it hasn't been implemented yet.

@leseb do you know if has this already been implemented in a config rework / improvement PR?

[2019-10-09 14:11] stefanfritsch opened #4064 "provisionVolume: "false" ignored by cephfs-csi-provisioner"
**Did you already search the existing open issues for anything similar?**
* There is no result for provisionVolume regarding cephfs

**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**

Using
[code]
I assumed that `rook-ceph.cephfs.csi.ceph.com` would not provision a new volume but use the existing volume at the given path instead.

**Deviation from expected behavior:

[2019-10-09 14:52] dkrizic opened #4065 "Question: arm64 support"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Support for arm64 architecture

**What is use case behind this feature:**
I would like to run rook-ceph on a hybrid cluster that consists of amd64 and arm64 machines. It worked flawlessly for 1.0.x version, but the CSI images don't exist for arm64.

**Environment**:
I have a hybrid cluster that consists

[2019-10-09 14:58] #4065 closed

[2019-10-09 15:05] ajarr commented on #4006
@veezhang can you share the ceph-mgr pod's logs?

[2019-10-09 15:08] ShyamsundarR commented on #4064
The pre-provisioned volume or static-PV support in cephfs-csi has changed. The current method is to create a PV manifest ([example](https://gist.github.com/ShyamsundarR/f16d32e3edd5b38df50e90106674a943)) and mention (among other things) [`staticVolume`](https://gist.github.com/ShyamsundarR/f16d32e3edd5b38df50e90106674a943#file-ceph-csi-cephfs-staticpv-v1-2-0-L21-L23) boolean to use an already crea

[2019-10-09 15:17] ajarr commented on #4012
@dingsongjie, what are your Ceph filesystem's data pools? Check with
[code]

If the `pool` you set here,
https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/csi/cephfs/storageclass.yaml#L15

is not a CephFS data pool. You hit the error you see

[2019-10-09 16:12] yanchicago commented on #3580
We were able to reproduce the issue and observed the volume detach and attach activities in the agents. The application pod was evicted from node 20 and started on node 10.
**Agent 20 did the "unmount" 1 second **after** the agent 10 updated the volume attachment.**

The related code ( v0.9.3) is at  "controller.go". The "orphaned" is incorrect as the dying pod is still working on the cleanup. Wai

[2019-10-09 16:28] stefanfritsch commented on #4064
Works beautifully.

Is there a similar Gist for rbd volumes?

@Madhu-1 mentions

but I don't know if that means functionality or documentation.

Thank you very much. (I'll close the issue in an hour or so)

[2019-10-09 17:43] ShyamsundarR commented on #4064
Rbd does not support this yet, so there is missing functionality. Being tracked as a part of this issue: https://github.com/ceph/ceph-csi/issues/407

[2019-10-09 19:22] travisn commented on #1228
@mvollman Weren't you looking at configuring OSDs based on the full path for the device? I can't seem to find a related PR, but I was sure one was at least in progress.

[2019-10-09 20:05] udayjalagam opened #4068 "provide option to create multiple Standby MDS nodes in CephFilesystem CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Need option to create multiple Standby MDS nodes in CephFilesystem CRD currently it support only one active and one activeStandby . want mention if we need additional standby nodes .

**What is use case behind this feature:**
If we want to keep more than one standby in case the first 2 pods couldn't com

[2019-10-09 20:23] kfox1111 opened #4069 "detect-version job fails requirements"
There does not seem to be a way of specifying resource requests/limits for the version-detect job. On my cluster it needs to be specified to launch properly.

[2019-10-09 20:33] kfox1111 commented on #2852
I hit this too. please reopen.

ook-ceph-mon-a-canary fails to start:
message: 'pods "rook-ceph-mon-a-canary-7555fb4c68-" is forbidden: unable to validate
      against any pod security policy: [spec.securityContext.hostNetwork: Invalid
      value: true: Host network is not allowed to be used spec.volumes[2]: Invalid
      value: "hostPath": hostPath volumes are not allowed to be used spec.volume

[2019-10-09 20:34] kfox1111 commented on #2852
/reopen

[2019-10-09 20:58] bdnf commented on #4006
Hi everyone,

Having the same issue for some time, I tried to rebuild the cluster and double check everything.
The following steps are resolved the issue for Block Storage. But this might solve the issue for any fs.

1) Tear down the cluster correctly as described (in the docs)[https://rook.io/docs/rook/v1.1/ceph-teardown.html].
2) Ensure that paths in cluster.yaml under `spec.dataDirHostPath` and

[2019-10-09 21:10] kfox1111 commented on #2852
mgr's are failing to deploy too:
 Warning  FailedCreate  9m (x18 over 19m)  replicaset-controller  Error creating: pods "rook-ceph-mgr-a-7fd858476c-" is forbidden: unable to validate against any pod security policy: [spec.securityContext.hostNetwork: Invalid value: true: Host network is not allowed to be used spec.volumes[2]: Invalid value: "hostPath": hostPath volumes are not allowed to be used s

[2019-10-09 21:21] kfox1111 commented on #2852
And the osd prep jobs:
  Warning  FailedCreate  69s (x4 over 2m19s)  job-controller  Error creating: pods "rook-ceph-osd-prepare-xxxx-" is forbidden: unable to validate against any pod security policy: [spec.securityContext.hostNetwork: Invalid value: true: Host network is not allowed to be used spec.volumes[0]: Invalid value: "hostPath": hostPath volumes are not allowed to be used spec.volumes[2]

[2019-10-09 21:30] travisn commented on #2852
@kfox1111 You're installing through the helm chart? Are you setting [pspEnabled: true](https://github.com/rook/rook/blob/master/cluster/charts/rook-ceph/values.yaml#L49)? It doesn't seem to be picking up the [PSP settings](https://github.com/rook/rook/blob/master/cluster/charts/rook-ceph/templates/psp.yaml).

[2019-10-09 21:30] kfox1111 commented on #2852
I haven't overridden it and in the valuesfile in the chart, its:
pspEnable: true

[2019-10-09 21:31] kfox1111 commented on #2852
kubectl get psp | grep rook
00-rook-ceph-operator   true    SYS_ADMIN                     RunAsAny   RunAsAny           RunAsAny    RunAsAny    false            configMap,downwardAPI,emptyDir,persistentVolumeClaim,secret,projected,hostPath,flexVolume

[2019-10-09 21:36] kfox1111 commented on #2852
I see the psp installed. I see a clusterrole named psp:rook 'use'ing it. I see some clusterroles binding various csi driver sa's to it. But not the mons/osds/mgr's/etc.

[2019-10-09 21:41] travisn commented on #2852
I see, the bindings to the service accounts must be missing in the helm chart, this should be fixed. Have you tried installing rook without the helm chart? I see the psp bindings in common.yaml

[2019-10-09 21:42] kfox1111 commented on #2852
I have not. I prefer to use helm charts as much as possible. it simplifies the management greatly. I've worked around it for now by manually adding rolebindings for the serviceaccounts in question above.

[2019-10-09 21:46] travisn commented on #2852
got it, good to hear you could work around it.

[2019-10-09 22:12] kfox1111 commented on #2852
I had to add the rolebinding to default, rook-ceph-osd, and rook-ceph-osd.

[2019-10-10 02:17] veezhang commented on #4006
@ajarr Thanks for ur reply very much!!!!!!!!!!!!
[rook-ceph-mgr.log](https://github.com/rook/rook/files/3710141/rook-ceph-mgr.log)

[2019-10-10 04:08] jerryhan77 commented on #3962
After I upgrade external ceph to nautilus, it works very well.

Thanks!

[2019-10-10 06:46] glennodickson commented on #3664
Hi

I received the same error "waiting for..." when creating two Ceph clusters in two namespaces one for apps (app-rook-ceph) and the other for Infra storage (infra-rook-ceph) on an openshift4.1 cluster. The cause and solution was in the cluster.yaml file. I've it described below :

Cause:
`Provisioner: rook-ceph.rbd.csi.ceph.com`

Solution:
`Provisioner: app-rook-ceph.rbd.csi.ceph.com`

Note:
The

[2019-10-10 06:52] Madhu-1 commented on #3664
the provisioner namespace should be the namespace where operator pod is running not  the ceph cluster namespace

[2019-10-10 07:00] ajarr commented on #4006
@veezhang, did you re-try storage-class + PVC creation, before gathering the ceph-mgr log? I don't see any useful info in the ceph-mgr log.

[2019-10-10 07:23] veezhang commented on #4006
@ajarr If try with microk8s, maybe u can reproduce it.

[2019-10-10 07:24] Madhu-1 commented on #4006
[code]
myfs not found

[2019-10-10 07:27] #4045 closed

[2019-10-10 07:32] veezhang commented on #4006
@Madhu-1 Yes, but this is not the problem. I re-create the cephfs, so it is not found immediately, and then as same as [https://github.com/rook/rook/issues/4006#issuecomment-535879676]().

[2019-10-10 11:47] itsecforu commented on #3595
y

Yes, what script?

[2019-10-10 12:07] galexrt commented on #3595
https://github.com/rook/rook/blob/master/images/ceph/toolbox.sh and https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/toolbox.yaml#L22-L23

[2019-10-10 12:27] OwenTuz opened #4073 "Multipart uploads failing: RGW 'non-ec' pool should be configured as metadata pool"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When creating an RGW object store via the `CephObjectStore` CRD, the pool `<store_name>.rgw.buckets.non-ec` is created by Ceph but not configured by Rook.

We noticed this on a non-production device with only one OSD: since the default replication factor is > 1, the pool was under-replicated and would

[2019-10-10 12:44] dillaman opened #4074 "ceph-csi should not be using 'admin' user"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The ceph-csi is deployed using the "admin" CephX user instead of a locked-down user. For example, the RBD ceph-csi plugin should be using a user with "mon 'profile rbd' osd 'profile rbd'" caps.

**Expected behavior:**

**How to reproduce it (minimal and precise):**
https://github.com/rook/rook/blob/541

[2019-10-10 13:25] acalhounRH commented on #3832
+1 hitting this during testing as well, any suggestion as to how to reclaim?

[2019-10-10 15:09] albertdb commented on #3132
@ftab has any of your nodes crashed?

[2019-10-10 18:28] #3395 closed

[2019-10-10 21:48] #3792 closed

[2019-10-10 21:48] #4010 closed

[2019-10-10 23:54] dimm0 opened #4078 "Node provisioning fails in 1.1.2"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD provisioner keeps failing with:

[code]

**Expected behavior:**
Succeed

**How to reproduce it (minimal and precise):**
Not sure what's wrong..

**Environment**:
* OS (e.g. from /etc/os-release):
Centos 7.7
* Kernel (e.g. `uname -a`):
5.2.3
* Rook version (use `rook version` inside of a Rook Pod):

[2019-10-10 23:58] dimm0 commented on #4078
Succeeded on the 5th try. Is that expected?
Maybe increase the timeout?

[2019-10-11 01:49] yanchicago opened #4079 "The cluster is in "HEALTH_WARN" state after upgrade from v1.0.2 to v1.1.2"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The health state became "HEALTH_WARN" after upgrade. It was "HEALTH_OK" before upgrade.
1).  "crush map has legacy tunables"
2). Too many PGs per OSD.

[code]
**Expected behavior:**
Need workaround/procedure to make the cluster as "HEALTH_OK".
Also, adjusting/lowering the PG number may not be a good so

[2019-10-11 03:45] mkhpalm commented on #4063
rook-config-override is not working for us either with rook 1.1.2. We were using it to limit the osd_target_memory in nautilus after this change:

https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/osd/spec.go#L191-L198

Once upgraded from 1.0.4 -> 1.1.2 multiple OSDs targeted the full system memory of the host they shared and started OOMing. As a result we set resources.osd.limit.

[2019-10-11 04:26] nizamial09 commented on #3859
status.Conditions design document is being reviewed over here: https://github.com/rook/rook/pull/4066
Drop-in your suggestions over there. Thanks.

[2019-10-11 06:54] thotz opened #4080 "New buckets can be created using OBC credentials"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Using credentials provided by the obc, the application can able to create a new bucket in the object store
**Expected behavior:**
The application should only access the bucket provided by the obc

**How to reproduce it (minimal and precise):**
Kubectl create -f <path to obc>

Using the access credentia

[2019-10-11 08:37] leseb commented on #4078
Were the mons under heavy load or something?

[2019-10-11 10:47] ajarr commented on #4006
@veezhang from the rook ceph-tool box pod can you try issuing the following command, and check the output of,
[code]
that was the last ceph fs volumes command (https://docs.ceph.com/docs/master/cephfs/fs-volumes/#fs-subvolume-groups) executed as per logs in https://github.com/rook/rook/issues/4006#issuecomment-540428989

Can you share the corresponding ceph-mgr log for that command?

If the above

[2019-10-11 14:03] ftab commented on #3132
@albertdb not as bad as it was a few months ago (which could very well have been me running with xfs as per the default) - they do get very close to it when there's any disk activity beyond the noise floor though. e.g. backing up data: instantly kswapd0 jumps to the top of the list right as SSH stops responding, pods on affected nodes fail to serve web requests during that time. it comes back a fe

[2019-10-11 14:06] leseb commented on #4047
@mvollman do you mind looking into this? Thanks

[2019-10-11 14:40] stephan2012 commented on #3449
Still a wanted feature…

[2019-10-11 16:28] surajssd commented on #4047
I am sorry, should have closed this one. So the problem was that I was not providing the `metadataDevice` under `config` which is a map.

What I was doing is supported for the 1.1 version of the rook.

[2019-10-11 16:28] #4047 closed

[2019-10-11 16:30] OwenTuz opened #4088 "Improvements for running integration-tests on minikube"
**Is this a bug report or feature request?**
* Feature Request

Raising an issue to raise a PR against, hope this is ok.
While setting up to run the integration tests using Minikube on a Linux machine, I came across two issues:

- dataDir settings for minikube are only set when `GOOS=darwin`, so by default minikube won't work unless you're using a Mac.
- The smoke tests for the Ceph object store f

[2019-10-11 17:08] travisn opened #4089 "Generate keyrings before creating deployments that depend on them"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Per discussion [here](https://github.com/rook/rook/pull/3554#discussion_r333745066), we should be able to generate a keyring before creating a deployment that depends on the keyring. This will help us avoid an intermittent pod failure condition that looks awkward.

**Expected behavior:**
If we're just

[2019-10-11 17:17] dimm0 commented on #4078
Not really.. Don't see anything special
The operator was checking all OSDs during that time though

[2019-10-11 17:46] travisn commented on #2502
I agree with the premise of this issue that the osd prepare jobs should not inherit the resource constraints of the osd daemons for several reasons, some of which are already pointed out:
- The OSD prepare jobs are only a one-time run and should hardly require any memory or cpu.
- The OSD prepare jobs are per-node instead of per-osd
- We run the prepare jobs again periodically. The prepare jobs li

[2019-10-11 17:55] travisn commented on #3501
This was taken into account with #3668 and was included in v1.1.

[2019-10-11 17:55] #3501 closed

[2019-10-11 20:20] saretter commented on #4078
I am experiencing a similar behavior.
The first osd starts as expected but for the subsequent ones the osd-prepare pods seem to hang. The last log entries are:
` 2019-10-11 20:10:57.501744 I | cephosd: 0/0 pre-ceph-volume osd devices succeeded on this node
2019-10-11 20:10:57.502099 I | exec: Running command: ceph auth get-or-create-key client.bootstrap-osd mon allow profile bootstrap-osd --connec

[2019-10-11 20:47] travisn commented on #2969
@humblec @ShyamsundarR @Madhu-1 Is client-side encryption in the csi driver a possibility?

[2019-10-12 04:59] dingsongjie opened #4091 "rook-ceph-osd-prepare skipping xfs formatted partition"
**version 1.1.2**

I have two  xfs formatted  partition  with no filesystem on them ,/dev/sda3 ,/dev/sda4. but thay are skipping   by  rook-ceph-osd-prepare

**logs**

NAME="sda1" SIZE="1073741824" TYPE="part" PKNAME="sda"
NAME="sda2" SIZE="330523738112" TYPE="part" PKNAME="sda"
NAME="centos-root" SIZE="107374182400" TYPE="lvm" PKNAME="sda2"
NAME="centos-swap" SIZE="8388608000" TYPE="lvm" PKNAME="

[2019-10-12 06:30] Cohedrin commented on #4091
I believe it's expected for the operator to skip all formatted drives. See here: https://github.com/rook/rook/blob/43b5a9692edca7fffbea5928683cfefb184e5630/Documentation/ceph-common-issues.md

Specifically

[2019-10-12 07:35] veezhang commented on #4006
@ajarr The command(`ceph fs subvolumegroup create mycephfs csi`) gets stuck.

[2019-10-12 08:21] dingsongjie commented on #4091
How can I  add OSDs by partitions  ? Because I don't have Extra disk .

[2019-10-12 11:25] umagmrit commented on #1653
I have followed these instructions. But in  my case no of OSD's are increasing for every restore. First I have started with one OSD. I have taken backup and when trying to restore it, no of OSD becomes 2. Please help me on this.

[2019-10-12 21:19] #3444 closed

[2019-10-13 06:59] #2937 closed

[2019-10-14 02:40] fahmi-id commented on #4006
Hi guys I have the same problem, ceph v14.2.4
is there a temporary solution? I've tried downgrading but it's still the same

[2019-10-14 03:48] deep-cds opened #4093 "csi-cephfsplugin 启动失败"
[root@k8s-deploy ceph]# kubectl get pod -n rook-ceph
NAME                                           READY   STATUS             RESTARTS   AGE
csi-cephfsplugin-2nwzh                         2/3     CrashLoopBackOff   4          6m4s
csi-cephfsplugin-896hd                         2/3     Error              4          6m4s
csi-cephfsplugin-f5rhb                         2/3     CrashLoopBackOff   5

[2019-10-14 07:26] leseb commented on #4093
Please re-open an issue using the bug template.

[2019-10-14 07:26] #4093 closed

[2019-10-14 08:43] galexrt commented on #3439
@xenolinux Did you open a bug on the Ceph tracker? If so, please post the Ceph tracker issue link here so we can track it.

[2019-10-14 08:59] 13567436138 commented on #4062
I have solved my problem

[2019-10-14 08:59] #4062 closed

[2019-10-14 10:44] #2551 closed

[2019-10-14 12:44] #3387 closed

[2019-10-14 12:48] wdbasson commented on #3491
Experiencing the same issue on `Rook v0.9.3` and `Ceph v13.2.6`. Unable to do manual cleanup and cluster is filling up.

[2019-10-14 13:43] leseb commented on #4063
Please answer all my questions, was that OSD provisioned with c-v? (I don't think so but I'd like your confirmation). Thanks.

[2019-10-14 13:43] leseb commented on #4063
Same question, please tell me more, what types of OSDs are you running? ceph-volume prepared? filestore? bluestore? Thanks.

[2019-10-14 14:14] benceszikora commented on #4063
@leseb We are having the same issue, using bluestore for the OSDs.

[2019-10-14 15:40] k0da commented on #4063
@leseb OSDs are NOT ceph-volume provioned

[2019-10-14 16:08] kfox1111 commented on #4069
I have quota's and limitranges setup on the cluster.

In a production cluster, all limits and requests need to be specifiable so the sysadmin can properly configure the workload and that the scheduler can properly assign the workload.

I worked around it for now by adjusting the limitranges. but that applies to all pods not otherwise specified.

[2019-10-14 19:29] mkhpalm commented on #4063
I'm using bluestore, osd_memory_target is a setting for bluestore cache.

I was also suggesting it can easily be reproduced and verified by:

* Using nautilus with bluestore
* Don't set resources.osd.limits.memory in the cluster CRD
* Try to set osd_memory_target with with rook-ceph-override (due to the change linked previously)
* look at osd_memory_target value for ceph osd config, it will show y

[2019-10-15 03:53] travisn commented on #592
There is more to do to assist/automate disaster recovery...

[2019-10-15 05:28] Madhu-1 commented on #4006
@batrick @ajarr what could be wrong here?

[2019-10-15 09:10] splushii opened #4101 "Ceph OSD gets neither zone nor region when using topologyAware"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When using `topologyAware: true`

zone and region are not included in the ceph osd tree. The tree structure is
[code]

zone and region are not included in the ceph osd location.

**Expected behavior:**

zone and region are included in the ceph osd tree. The tree structure is
[code]

zone and region ar

[2019-10-15 09:21] FinnGu commented on #3923
Did you get rook to work with digitalocean eventually?

[2019-10-15 09:28] Madhu-1 commented on #3522
if you are using cephcsi and kubelet dir is other than `/var/lib/kubelet` you need to configure https://github.com/rook/rook/blob/release-1.1/cluster/examples/kubernetes/ceph/operator.yaml#L184-L186 in operator

[2019-10-15 11:56] sabbot opened #4103 "Rtlfs devices should be more then 3 on all nodes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Cluster creation failed with error: `edgefs-op-cluster: failed to create cluster in namespace rook-edgefs. Failed to create [rook-edgefs] EdgeFS cluster configuration. Error: Rtlfs devices should be more then 3 on all nodes summary`

**Expected behavior:**
If no devices specified in cluster.yaml then `

[2019-10-15 12:05] mvollman commented on #1228
@travisn I am not currently looking into it.  It did come up in the scope of another PR a while back, but I was unable to add the capability at that time.  I will try to find time to take another look at it.

[2019-10-15 16:34] travisn opened #4105 "Mon Canary pods sometimes take a long time to terminate"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The mon canary deployment is expected to be temporary. As soon as it starts, the operator tears it down so the mon daemon can be started. On occasion, it is seen that the canary pod can take over a minute to cleanup, which delays the operator unnecessarily.

Under normal execution the canary pods are d

[2019-10-15 16:37] Antiarchitect commented on #3370
Same here rook 1.1.2

[2019-10-15 18:26] hmm01i opened #4106 "Custom annotations not added to MGR deployment/pod"
Yes

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Custom annotations defined in CephCluster are not added to MGR deployment/pod. Only default Prometheus annotations are present.

**Expected behavior:**
Custom annotations should added to MGR deployment/Pod.

**How to reproduce it (minimal and precise):**

1. Add custom annotations to CephCluster (

[2019-10-15 22:01] travisn opened #4107 "Unmount of ceph filesystem sometimes fails when driver treats it as an rbd volume"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The flex driver looks at a mount to know whether to unmount as cephfs or rbd by executing:
[code]
If the command fails, it is assumed to be an rbd volume. The code is seen [here](https://github.com/rook/rook/blob/master/cmd/rookflex/cmd/unmount.go#L54-L58) for the detection of the CephFS mount.
@ajarr

[2019-10-15 22:12] travisn commented on #4088
@OwenTuz It would be great to fix the integration tests to support more environments and document what is needed for different environments where we can't automatit, thanks!

[2019-10-15 22:13] travisn commented on #4002
The release images should be there when the CI passes. Please let me know if you're not seeing this.

[2019-10-15 22:13] #4002 closed

[2019-10-15 22:16] travisn commented on #3757
This was fixed by #3762

[2019-10-15 22:16] #3757 closed

[2019-10-15 23:06] kfox1111 commented on #1523
I just tried this, and its failing for me too. in the osd logs, it has:
2019-10-15 22:53:57.162107 I | parse error setting 'cluster_addr' to ''
2019-10-15 22:53:57.163737 I | parse error setting 'public_addr' to ''

Which I think is related.

[2019-10-15 23:39] kfox1111 commented on #4063
after chatting with @travisn, I think I may be seeing this too. I'm trying to use separate frontend/backend networks and its failing to apply.

[2019-10-16 00:02] kfox1111 commented on #4063
I'm not convinced its not applying the config... I am running 1.1.2. When I have:
public addr = ""
cluster addr = ""
in the overrides file, I get a warning about:
2019-10-15 23:57:16.811587 I | parse error setting 'cluster_addr' to ''
2019-10-15 23:57:16.813106 I | parse error setting 'public_addr' to ''
right after ceph-osd is started. If I remove those two lines from the config, it stops complai

[2019-10-16 00:16] kfox1111 commented on #4063
I think the answer is, "it depends". It looks like the init container is uploading some config stuff to the mons? Maybe due to this https://ceph.com/community/new-mimic-centralized-configuration-management/?

The cluster addr/public addr stuff doesn't seem to  be. and now it seems like maybe in newer versions of ceph it doesn't like being an empty string?

[2019-10-16 00:20] kfox1111 commented on #4063
Hmm... unless its not liking the '' because it was previously defined to be an ip because the init container build the config file ignoring the overrides file? Still possible that it is the same issue.

[2019-10-16 00:40] #4101 closed

[2019-10-16 05:51] travisn commented on #4000
After giving it a bit more thought, this is my current view on the needed approach:
- OSDs can be removed automatically with the current mechanism if a new setting `removeOSDsIfDownAndSafeToRemove` is set to `true`. The default for all new or upgraded clusters should be `false`.
- OSDs should not be automatically be removed by default. OSDs can get into error states (initial configuration fails, u

[2019-10-16 09:11] #3885 closed

[2019-10-16 09:16] #2296 closed

[2019-10-16 09:25] leseb commented on #4106
I have a fix for this here: https://github.com/rook/rook/pull/4077/commits/02d34e5c300e1822dd84e5c8324d04f99f42bd7e

I will extract it from that PR since it's not ready yet.

[2019-10-16 09:44] leseb commented on #4000
Sounds acceptable to me as an initial step to fix that issue quickly.
The only thing that I'm not sure is that this might not be an all or nothing scenario.
There could be a desire to only remove particular OSDs that are "down and safe to remove" but not all of them.

Agreed.

Same thing, probably not all of them.

[2019-10-16 10:10] sebastian-philipp commented on #4000
If `false`, Rook simply won't remove OSDs?

I don't see how this works. If I want to remove an osd: `ceph orchestrator osd remove osd.0`, I need to enable `removeOSDsIfDownAndSafeToRemove` setting, otherwise I won't be able to remove that particular OSD, right? But now this has the side effect of removing **all** other osds in that state as well. This looks more like a per-osd setting to me? Secon

[2019-10-16 10:28] rohan47 commented on #4000
What about removing the deployment manually when `removeOSDsIfDownAndSafeToRemove` is false?

[2019-10-16 10:29] rohan47 commented on #4000
And it should be `removeOSDsIfOutAndSafeToRemove` right?

[2019-10-16 11:04] matti opened #4111 "Slow edgefs+nfs writes when compared to plain NFS pod"
* Bug Report (performance issue)

**Deviation from expected behavior:**

untarring time for `tar -xof linux-1.0.tar.gz`
AWS EFS: 28s (100mb/s provisioned)
rook+edgefs: 18s
nfs server pod + EBS: 5s
not directly related, but the same test in GKE with elastifile ($6500/mo)
elastifile (performance mode): 22s

**Expected behavior:**

rook+edgefs to be closer to NFS server pod + EBS - I understand that

[2019-10-16 12:38] sebastian-philipp commented on #4000
You mean, by omitting the osd in the CRD, OSDs are getting deleted, if  removeOSDsIfDownAndSafeToRemove = true and osd is out and safe-to-remove? IMO we should never delete OSDs by omitting them in the CRD. Or do you have something else in mind?

[2019-10-16 12:52] rohan47 commented on #4000
I meant `kubectl delete deployment <name of the OSD deployment>`  when `removeOSDsIfDownAndSafeToRemove = false`

When OSD is marked out and is safe to destroy, we use `k8sutil.DeleteDeployment()` function to delete the OSD deployment and we don't delete the osd from the crush map when `removeOSDsIfDownAndSafeToRemove = true`. So its like making the process manual in case of `false`

[2019-10-16 14:49] rohan47 commented on #4000
as per discussion in https://github.com/rook/rook/issues/2741#issuecomment-479219289 we were just removing the K8s artifacts when the OSD is cleaned up by Ceph and is safe-to-destroy

[2019-10-16 15:05] sfesfizh opened #4113 "Add ability to configure resource limits/requests for ceph-csi plugins"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
* I can define resource limits/requests for csi-cephfsplugin/csi-rbdplugin

**What is use case behind this feature:**
* For better resources control.

**Environment**:

* test k8s cluster deployed by kops (1.13), 3 worker nodes (m5a.xlarge), 1 master (c5.large), ceph cluster deployed by rook helm operat

[2019-10-16 16:26] #4106 closed

[2019-10-16 16:27] leseb commented on #4106
Will be in 1.1.3.

[2019-10-16 17:37] dyusupov commented on #4111
what is the ccow-replication-count is set in the output of `efscli bucket show path/to/bucket` ? You should expect replication_count times slower then NFS on EBS write results.

[2019-10-16 18:35] kfox1111 opened #4117 "hostnetwork public network"
In a rook 1.1.2 cluster, I tried to setup a public/private network as described in the manual.

I have a 3rd network though I was using for backend kubelet traffic (internal).

Rook is using the kubelet ip as the ip for the mons which isn't necessarily the public ip. There should be a way to decouple this.

[2019-10-16 18:50] #4107 closed

[2019-10-16 19:11] pavgup commented on #1827
Just parsing through the docs here -- definitely could use some 1.1 updates for deprovisioning OSDs (especially the use case of a full node being pulled out). There isn't an open update to the 0.8+ docs, are there? /me preps a pull request at some point soon if the latest and greatest doesn't already exist.

[2019-10-16 21:23] kfox1111 opened #4119 "prepare resources"
rook 1.1.2.

I setup my cluster to have the amount of resource dedicated to the osd's be in proportion to the amount of resource available on the node. This means there is not much spare capacity available on the node. When performing an upgrade, an osd-prepare-<nodename> jobs kicked in and tried to run with the same resource as the osd's consume. There was not enough spare capacity on the nodes t

[2019-10-16 21:28] kfox1111 commented on #4119
dup of #2502

[2019-10-16 21:28] #4119 closed

[2019-10-16 21:45] BlaineEXE opened #4120 "Ceph: CSI deployments/daemonsets should have "rook-version" label"
**Is this a bug report or feature request?**
* Bug Report

**Current behavior:**
[code]

**Expected behavior:**
The CSI daemonsets and deployments should probably have the `rook-version` label added to them just as the Ceph daemons.

[code]

@travisn @Madhu-1 does this make sense to you?

**How to reproduce it (minimal and precise):**
- Install Rook with CSI enabled

[2019-10-17 02:10] travisn commented on #2107
This implementation was completed in v1.1 for the Ceph operator. See the example [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml) with this [doc](https://rook.io/docs/rook/v1.1/ceph-cluster-crd.html#pvc-based-cluster) for more information.

I believe the other operators already support being backed by PVCs, Ceph was the last holdout. Please give

[2019-10-17 02:10] #2107 closed

[2019-10-17 02:42] Madhu-1 commented on #4120
makes sense when upgrading (to check upgrade is complete or not)

[2019-10-17 02:45] Madhu-1 commented on #4113
ceph fuse has some memory consumption and performance issue, with next CSI release  (v1.2.2) if the kernel version is greater than 4.17 we are defaulting kernel client instead of a fuse

cc @ajarr

[2019-10-17 03:56] xiaoqge opened #4122 "How to specify the apiserver address of the ceph connection"
Our kubernetes cluster prohibits the use of svc services, so all of our services specify the apiserver fixed address at startup, but whether rook-ceph can specify the api-server IP address before starting, instead of getting the default apiserver address。

` rook-discover: failed to update device configmap: Get https://10.9.60.1:443/api/v1/namespaces/rook-ceph/configmaps/local-devic-oam-k8snode-te

[2019-10-17 04:08] sfesfizh commented on #4113
Good to know! But agree it's good to have resource control for plugins also

[2019-10-17 04:29] Madhu-1 commented on #4113
yes, we currently don't have a recommendation for resource limit to put on CSI driver

[2019-10-17 05:09] travisn commented on #4122
@xiaoqge Rook gets the cluster from `rest.InClusterConfig()` [here](https://github.com/rook/rook/blob/master/cmd/rook/rook/rook.go#L106). Try setting the env variables on the operator to override the defaults: `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT`. However, Rook doesn't currently pass those onto other pods that access the k8s api (mgr and osd pods), so you may still run into an i

[2019-10-17 06:12] thotz commented on #4080
This issue is seen in brownfield cases in which max bucket size for the user is set to 0. In rgw, if the max bucket is zero then the user can create an unlimited no of buckets. We need set into negative for preventing users creating new buckets

[2019-10-17 06:31] jakolehm commented on #4111
I'm working with @matti on this test. Output shows `ccow-replication-count: 3` ... rook/edgefs 1.1.x does not allow to change replication count (unless I'm missing something).

[2019-10-17 09:52] sp98 opened #4124 "[OSD on PVC] orchestration restarts on device config map update."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
- Orchestration of OSD on PVC restarts even after successful completion. It runs twice.

**Expected behavior:**
- Orchestration should run only once if its completed successfully.

**How to reproduce it (minimal and precise):**

Start Rook ceph cluster by
1. Kubectl apply -f common.yaml.
2. Kubectl app

[2019-10-17 09:54] sp98 commented on #4124
possible root cause is `orchestrationNeeded` remains `true` even after completing the orchestration.

[2019-10-17 12:46] #3183 closed

[2019-10-17 12:46] #2954 closed

[2019-10-17 13:46] #3080 closed

[2019-10-17 15:40] kfox1111 opened #4126 "mon failover"
in rook 1.1.2 with hostnetworking true, I'm trying to force a failover of a mon. I made the mon unschedulable by unlabeling the node it was running on and killed the pod. the operator is not failing the mon to start a new one but waiting forever. there is still a quorum in the mons though.

[2019-10-17 17:17] airdos360 commented on #3138
I am running an upgraded install to 1.0.6 and  V14.2.4 and getting health warn: crush map has legacy tunables (require firefly, min is hammer)

How do I fix this error?

Should I run:
kubectl -n $ROOK_NAMESPACE exec -it $TOOLS_POD -- ceph stop creating initial crushmap

[2019-10-17 17:37] #4103 closed

[2019-10-17 18:15] dimm0 opened #4127 "Provisioned node keeps reprovisioning"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After adding a new node, everything seems fine, all OSDs are up, but operator still thinks the node is not provisioned and keeps trying to provision on restarts

**File(s) to submit**:

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configura

[2019-10-17 18:29] dimm0 commented on #4127
[code]

[2019-10-17 18:43] #4073 closed

[2019-10-17 23:27] kfox1111 commented on #4063
It looks like this is not related to the private network issue I was having. It was primarily related to the kubelet node ip not being in the public ip range

[2019-10-18 03:31] #3390 closed

[2019-10-18 09:39] galexrt commented on #1125
Thinking about it more, as Ceph CSI is a way to have dynamic provisioning of CephFS we can close this issue.

#3264 might bring Flexvolume support for dynamic provisioning as well in the future.

[2019-10-18 09:39] #1125 closed

[2019-10-18 12:39] NiekPeeters commented on #3011
Today I've also encountered this bug (`rook: v1.0.0-428.g1d28489`, `kubernetes v1.16.1`). Some interesting things to try (_and the resulting behavior_) in the scenario of a running cluster with RGW pods running:

1. Change the ConfigMap (_does not impose any changes on `/etc/ceph/ceph.conf` files on itself_)
2. Restart the RGW pods (_changes from 1. are **not** reflected in `/etc/ceph/ceph.conf`_)

[2019-10-18 13:04] leseb commented on #3011
@NiekPeeters please update to 1.1.2.

[2019-10-18 16:36] #2502 closed

[2019-10-19 04:31] midacts opened #4133 "Fresh Install: /var/lib/kubelet - Missing Directories"
* Bug Report

**Deviation from expected behavior:**

These containers stay in 'ContainerCreating'
[code]

Here is the errors:
[code]

**Expected behavior:**

Should just work

**How to reproduce it (minimal and precise):**

Running Linux mint 18.2 xfce on Hyper-V.
I installed k3s: `curl -sfL https://get.k3s.io | sh -`
then ran the following:
[code]

- [common.yaml](https://github.com/rook/rook/blo

[2019-10-19 04:35] midacts commented on #4133
After creating these directories:
- `/var/lib/kubelet/plugin_registry`
- `/var/lib/kubelet/pods`

The pods finally worked.

Is this something that should be manually created?
Or something that should be automatically done as part of the deploy?

[2019-10-19 04:46] Madhu-1 commented on #4133
dup of https://github.com/rook/rook/issues/3921

RKE runs kubelet in a container with --root-dir=/opt/rke/var/lib/kubelet , you need to configure the operator
[code]

please reopen if the issue presists

[2019-10-19 04:46] #4133 closed

[2019-10-19 04:56] midacts commented on #4133
Sorry for the duplicate issue. I wasn't sure if that issue was the same.

I checked my server and it doesn't have an `/opt/rke` directory?

[2019-10-19 06:42] Madhu-1 commented on #4133
Please check kubelet runtime directory path, we should not manually create these directories

[2019-10-19 08:39] matti commented on #4111
Not directly related to this issue, but elastifile.com+GKE (in performance mode): 22s

So rook+edgefs is with 3 replicas is faster than $6500/mo managed service, but still so slow that when I run wordpress on top of rook+edgefs it will time out when installing a plugin (which essentially unzips a file)

I think this issue could be closed, rook+edgefs is just "slow" as EFS etc for the same reasons.

[2019-10-19 14:37] midacts commented on #4133
How can I find the root path i am looking for?

[code]

[2019-10-19 18:14] dimm0 opened #4134 "Using ceph-objectstore-tool"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
How could I use the ceph-objectstore-tool with new style OSDs, when there's no datadir on the physical node, and everything is inside the pod? I need the OSD stopped when doing maintenance, and I can't find how I can run a container without actually starting an OSD

`/rook/rook ceph osd provision` seems

[2019-10-19 23:33] dimm0 commented on #4134
Copying files from running pod to the node helped

`kubectl exec rook-ceph-osd-106-6b98dc8b7f-kgwks -- tar cf - "/var/lib/ceph/osd/ceph-106/" > osd106.tar`

[2019-10-20 00:54] dyusupov commented on #4111
I'm ok with the results so far, i.e. not tuned rook-edgefs faster than tuned commercial offerings!
As I mentioned previously enabling of relaxed directories updates and setting 2 replicas would bring it closer to plain speeds at the cost of reduced availability/durability.

Closing this issue for now.

[2019-10-20 00:54] #4111 closed

[2019-10-20 04:20] midacts commented on #4133
kubelet before the k3s install:
[code]

k3s install:
[code]

kubelet after the k3s install:
[code]

Updating the `operator.yaml` file to this fixed it:
[code]

Thanks for your help on this

[2019-10-20 04:23] midacts commented on #3923
I am running Rancher k3s and I ran into this issue as well.
Updating the `operator.yaml` file with the below settings fixed the issue for me.

#4133 Thanks Madhu-1

[code]

[2019-10-21 08:16] xiaoqge commented on #4122
@travisn You are right, I am starting rook-discove and can't connect to the api-server address. Can I pass the KUBERNETES_SERVICE_HOST variable to the rook-discove Pod?

[2019-10-21 09:23] #4008 closed

[2019-10-21 15:50] travisn commented on #4122
Adding variables to the rook-discover (and other rook daemons) would require a code change unfortunately. But I’m surprised this would be needed. Are you not having similar issues with other K8s apps or operators?

Travis

[2019-10-21 20:33] kyschouv opened #4139 "No agents running"
I'm having a lot of trouble getting Rook running (on AKS, `1.14.6`). I seem to be getting close, but I'm having an issue with getting agents running. None ever seem to start up, no matter what I do, and I'm not seeing anything in logs that would help me. This is what I see after deploying `rook-release/rook-ceph` (`image.tag`: `v1.1.2`, `agent.flexVolumeDirPath`: `/etc/kubernetes/volumeplugins`) a

[2019-10-21 21:01] galexrt commented on #4139
Rook Ceph uses Ceph CSI since v1.1 as default. The rook-ceph-agents are for Flexvolume which is not used anymore unless the users manually activates it.

So everything looks fine from the output you posted. Be sure to use the new CSI StorageClass manifests and not the old Flexvolume StorageClassses.

If you want to use Flexvolume (recommendation is to use Ceph CSI thus the default for v1.1), you n

[2019-10-21 21:01] #4139 closed

[2019-10-21 22:51] mabushey commented on #3050
Affinity/tolerations are not working in 1.1. I can make the operator itself run on the correct nodes:
[code]

It probably doesn;t matter where the operator runs, however none of the pods it launches in the cluster.yaml script make it to the correct servers. The docs say to use
[code]
I think this is wrong, K8s syntax is (as in the operator example):
[code]

I'm also not sure what to make of the
[c

[2019-10-21 22:58] mabushey commented on #3681
I'm trying to do the same thing as you. Affinity/Tollerations are totally broke in Rook 1.1.

[code]

seems wrong. The K8s way is:
[code]

I can't tell what the comments are getting at with mgr, mon, and osd. I think you only want to set those if you want to override the values of `all`. I assume this is why it's called `all`.

[2019-10-21 23:53] travisn commented on #3050
To place all the rook-ceph daemons according to the same placement, see [this example](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L76-L85). It has this structure in the cluster CR:
[code]

If you want to be more specific about the node affinity for different daemons, you would replace `all` with those daemon names. For example, if you only cared that the

[2019-10-21 23:59] zanhsieh commented on #3681
@mabushey
Thank you. I will give a try today.

[2019-10-22 02:09] xiaoqge commented on #4122
I use other components, such as the log els filebeat component that supports the incoming KUBERNETES_SERVICE_HOST variable to modify the address of the api server.

[2019-10-22 02:10] xiaoqge commented on #4122
I currently use components around k8s, which support the KUBERNETES_SERVICE_HOST variable to modify the address of the api server.

[2019-10-22 02:16] xiaoqge commented on #4122
Because of the particularity of the business, our k8s cni components use macvlan, and the environment does not use k8s svc service at all, no need to go through iptables, so we start the service directly to specify the address and port of k8s api server. The filebeat or prometheus we currently use support incoming variables to modify the address of the api server.

[2019-10-22 04:21] travisn commented on #4122
Ok, we would need the operator to pass on these variables to the pod specs for all the deployments that would need to access the k8s api. This would include at least the discovery, agent, mgr, and osds.

[2019-10-22 05:23] yacinelazaar commented on #4139
If it is not used anymore then why its a prerequisite on the v1.1 docs?
For the activation, do we just need to configure the flexvolume path with the kubelet and the operator or is there something else?

Is there any template file for the new storageclass manifests we can follow?

[2019-10-22 06:20] matti opened #4140 "rook edgefs vs ceph write performance"
**Is this a bug report or feature request?**
* Bug Report (performance), continuing from #4111

**Deviation from expected behavior:**

edgefs is significantly slower, see microbenchmark:

`time tar -xof linux-1.0.tar.gz`:

- rook+edgefs: 18s (3 replicas)
- rook+ceph: 0.6s (3 replicas)

and for completeness (c/p from #4111):

- AWS EFS (100mb/s provisioned): 28s
- elastifile.com (performance mode):

[2019-10-22 06:58] Yisaer commented on #4120
Hi,I would like to assign this to me if there is no one assigned for now.

[2019-10-22 06:59] Madhu-1 commented on #4120
/assign @Yisaer please go  ahead and send a PR

[2019-10-22 08:11] cann0nf0dder opened #4141 "RBAC issues after 1.0.3 to 1.1.2 upgrade"
* Bug Report (missing upgrade step?)
[code]

Still looking into it but I thought I'll flag this if anyone has already ran into it.

**Expected behavior:**
No access issues

**How to reproduce it (minimal and precise):**
Follow the upgrade guide from 1.0.3 to 1.1.2

**File(s) to submit**:
[code]
**Environment**:
* OS (e.g. from /etc/os-release):
cat /etc/os-release
NAME=Fedora
VERSION="28 (Twenty E

[2019-10-22 09:20] lcooper40 opened #4142 "NFS Server resources disappear following ETCD restart."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Restarting ETCD in the k8s cluster appears to cause resources to disappear and nfs pod terminates without coming back.
Everything that has been developed deploys and works. I am able to write to the NFS share thats created and everything looks good up until the point ETCD is restarted.
Upon ETCD restar

[2019-10-22 09:29] #3881 closed

[2019-10-22 09:53] mykaul commented on #4140
@matti  - is there anything in Rook, or is it an EdgeFS issue (that might need to be filed there, not here?)
What are you using for Ceph? RBD or CephFS, btw?

[2019-10-22 10:01] matti commented on #4140
CephFS.

I'm not sure if it's EdgeFS only as I use both through Rook

[2019-10-22 10:44] gouki777 commented on #4141
I have the same problem.
https://rook.io/docs/rook/v1.1/ceph-upgrade.html to 3. Update the Rook Operator
Follow the upgrade guide from v1.0 to 1.1

I find same RBAC error for  rook-ceph-operator .

[code]

[2019-10-22 11:19] cann0nf0dder commented on #4141
I've retired the upgrade on clean slate (going from 1.0.3) and im getting the same results as you @gouki777
[code]

[2019-10-22 11:31] cann0nf0dder commented on #4141
I've disable the CSI drivers in operator, not sure if that's related to it in any way? @gouki777 did you update your operator or just bump the image keeping it default?

My rook state is healthy, those forbidden logs do make me a bit uneasy though (got to dig into those RBAC settings....)

[2019-10-22 12:01] galexrt commented on #4139
It can still be used, the documentation as of now today just doesn't express it too good that flexvolume prerequisites are only needed to be fullfilled when flexvolume is used.
For which activation? If you need to use Flexvolume instead of Ceph CSI (e.g., Kubernetes version lower 1.13), you would set the flexvolume dir path and disable the flexvolume parts (depending on which install method, manif

[2019-10-22 12:20] yacinelazaar commented on #4139
Running on K8s 1.15 using manifests. Followed the flexconfig config on the docs but the agent was never deployed.
PVCs and PVs are created and bound but they never mount on pods.
I resorted to using Ceph CSI and the drivers work and PVs are mounted.

[2019-10-22 12:56] cann0nf0dder commented on #4141
what appears to be the issue is the aggregation
rbac.ceph.rook.io/aggregate-to-rook-ceph-global: "true" in global-rules to rook-ceph-global
when i go to rook-ceph-global and set api and resource to wildcard it works... digging continues

[2019-10-22 13:30] cann0nf0dder commented on #4141
for now as workaround I've added this to the rook-ceph-global clusterrole:
[code]

[2019-10-22 14:55] #4074 closed

[2019-10-22 15:29] Antiarchitect commented on #1507
Having the same issue with rook 1.1.2 and ceph 14.2.4.
After node outage I have stalled watchers on my rbd images.

[2019-10-22 18:42] dimm0 opened #4145 "Operator thinks node provision is completed, while the node is still provisioning"
**Is this a bug report or feature request?**
* Bug Report
Was adding another node today.
While I see the provisioner container still going, operator suddenly thinks it's done:

[code]

Is there some sort of timeout? Is it expected that operator will restart and wait for provisioning to complete again?

**Expected behavior:**
Operator waits for node to finish provisioning

**Environment**:
* OS (e.

[2019-10-22 18:46] dimm0 commented on #4140
I saw the same... I was getting 6K IOPS on cephfs cluster, spinning drives + NVME journal, and maximum of 2K IOPS on edgefs, NVMEs only

[2019-10-22 20:14] travisn opened #4146 "Operator never continues at startup in a single mon pod fails to start"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator is failing to start if there is a mon pod stuck in Pending state. `updateMon()` will call `UpdateCephDeploymentAndWait()`, which will fail if the pod does not enter the `Running` state after some timeout. The orchestration will fail and be stuck in a retry loop.

**Expected behavior:**
The

[2019-10-22 20:40] mabushey opened #4147 "Tolerations do not get applied in Rook 1.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Pods do not run on the specified nodes

**Expected behavior:**
Specified toleration in `cluster.yaml` is applied to the pods.

**How to reproduce it (minimal and precise):**
I have a cluster on AWS provisioned via Kops, with an instance group of three i3 nodes in the cluster that I want to run rook on:

[2019-10-22 21:43] travisn commented on #4147
Some items to check:
- The tolerations and affinity for discovery can be added with [these properties](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L86-L102) in the operator.yaml
- Did you test it without adding the taints to the nodes? It seems the toleration is slightly different for the cluster CR than for the operator pod.
- Do you get mon, mgr, and o

[2019-10-22 22:18] mabushey commented on #4147
@travisn Thanks for the help! We've been evaluating Rook on and off for 6 months. We've come top the conclusion that the reason it wasn't working was due to the node types, so now we're putting it on dedicated storage nodes with fast SSD's.

From `cluster.yaml` I removed:
[code]

and added:
[code]

Applying the `cluster.yaml` looks like a step backwards:

[code]

The env var for toleration has bee

[2019-10-22 22:24] travisn commented on #4147
The variables you used have the `AGENT` prefix, so those only apply to the rook-agent daemon which is for the flex driver. I'd actually suggest disabling the discover daemon for now (`ROOK_ENABLE_DISCOVERY_DAEMON: false`) and see if you can get the other daemons started on the right nodes.
- The CSI driver uses [similar properties](https://github.com/rook/rook/blob/master/cluster/examples/kubernet

[2019-10-23 00:09] mabushey commented on #4147
I upgraded from 1.1.0 to 1.1.2. It looks like the main changes are going from Flex to CSI and also tolerations/affinity.  1.1.2 provided the config to set up the tolerations and affinity. I have the pods now running on the correct servers. I had to use my favorite ansible commands for cleaning up ceph:
`ansible all --key-file  ~/.ssh/orig_id_rsa -i "$(aws ec2 describe-instances --region us-west-2

[2019-10-23 00:12] mabushey commented on #4147
@travisn Thanks for all the help. :)

Would I want to enable it now? I'm not completely sure what it does or if it's related to the obsolete FLEX driver.

[2019-10-23 00:16] mabushey commented on #3681
@zanhsieh I was able to make some progress on this. Take a look at #4147. The 1.1.0 config is missing a bunch of extra affinity / toleration settings. 1.1.2 added this.

[2019-10-23 00:25] dyusupov commented on #4140
@matti with relaxedDirUpdates: true, I reliably getting 6s (3 replicas) - this is still a safe option to use, can sustain data center power failure and gets us closer to EBS+NFS native performance. The local disk, as well as cephfs data points, are likely invalid as they both do heavy in-memory write-back caching, i.e. a bit different use cases.

@dimm0 it looks like a different issue (i.e. not si

[2019-10-23 00:25] #4140 closed

[2019-10-23 01:44] xiaoqge commented on #4122
Thank you very much.

[2019-10-23 04:41] matti commented on #4140
@dyusupov but... 6s is not a good result, it makes edgefs unusable for many scenarios.

[2019-10-23 04:48] matti commented on #4140
@dyusupov also, can you help me to find a better way to get a local data point that you would be happy with. My local usecase is single threaded tarball extraction.

[2019-10-23 05:06] matti commented on #4140
and could you share your entire setup, would be easier for me to replicate the same number. We had relaxed dir updates on and still got 18s, not 6s

[2019-10-23 05:07] dyusupov commented on #4140
@matti use EdgeFS iSCSI CSI PVs if you need a better local write cache and do not care about durability or multi-user access.

Alternatively, if you really need to stick to NFS for such scratch-pad like use case, you can further reduce this down to like 3s if you set --sync-put=1 option on the NFS holding bucket so that it will only need to store 1 replica synchronously and 2 would go asynchronous

[2019-10-23 05:12] #1804 closed

[2019-10-23 05:26] matti commented on #4140
I believe these options can not be tuned through the kubernetes rook operator.

[2019-10-23 05:37] matti opened #4148 "Operator support for edgefs tuning options"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently operator does not support edgefs tuning options mentioned in: https://github.com/rook/rook/issues/4140#issuecomment-545268740

So currently `time tar -xof linux-1.0.tar.gz` is 18s instead of 6s.

[2019-10-23 08:55] galexrt commented on #4139
Flexvolume can still be used, the documentation as of now today just doesn't express it too good that flexvolume prerequisites are only needed to be fullfilled when flexvolume is used. We are working on that.

What do you want to activate exactly?
If you need to use Flexvolume instead of Ceph CSI (e.g., Kubernetes version lower 1.13), you need to set the flexvolume dir path and disable the Ceph CS

[2019-10-23 11:55] duiniwukenaihe opened #4154 "operator rook ceph rook-ceph-block has not create pv,pvc"
[my  environment is kubernetes 1.16.2 and rook commit is b7d8338d0c362ed7da5af28341ccc46410cb3e26  ,I have create rbd storageclass.yaml  default，but my pv,pvc i also pending .I have describe pvc

  Warning  ProvisioningFailed    66s (x9 over 3m14s)  rook-ceph.rbd.csi.ceph.com_csi-rbdplugin-provisioner-69c9869dc9-v4j7v_46988982-f585-11e9-82fc-7246f10449e2  failed to provision volume with StorageCla

[2019-10-23 12:07] Madhu-1 commented on #4154
please fill the bug template while reporting the bug

[2019-10-23 12:07] #4154 closed

[2019-10-23 12:36] lcooper40 commented on #4142
Hi,

Has anyone had a chance to pick this up and replicate the same issue ?

Thanks

[2019-10-23 14:26] zedtux opened #4156 "K8s logs spamming with "Failed to list *unstructured.Unstructured: the server could not find the requested resource" after deleting operator and common"
* Bug Report

When applying the `common.yaml`, `operator.yaml`,  and `cluster.yaml` files and then deleting them in the opposite order, on my kubernetes 1.15 cluster, `stern` starts to spam my screen with the following error:

[code]

I found [a similar issue](https://github.com/vmware-tanzu/octant/issues/117) about this error in another project which could give some hits.

**Expected behavior:**

[2019-10-23 14:27] zedtux commented on #4156
Applying again the `common.yaml` file stopped the log spamming.

[2019-10-23 14:52] #4000 closed

[2019-10-23 15:56] BlaineEXE opened #4158 "Ceph: ObjectBucket Provisioner leaderelection lost causing operator failure"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Operator log snippet:
[code]

When the operator encounters these errors, it crashes and restarts, and I have never seen the operator recover from the error after a restart; it keeps encountering the issue repeatedly.

**Expected behavior:**
The operator should be able to retry whatever is going on when

[2019-10-23 16:01] BlaineEXE commented on #4158
@travisn I'm not sure who to tag on this to take a look. I don't see Jeff Vance suggested on GitHub or in slack.

[2019-10-23 16:09] #3956 closed

[2019-10-23 16:19] travisn commented on #4158
Actually, i'm not seeing now that it would be related to the object bucket provisioner. The reference to endpoints includes the name `ceph.rook.io-block`, which looks more like a csi driver than related to object. There isn't anything else in the operator log indicating failure?

[2019-10-23 16:23] BlaineEXE commented on #4158
No. Here's the whole log. There is a `became leader` message early on, but nothing more about it until the failures.
[code]

[2019-10-23 16:29] travisn commented on #4158
Looks like there was a gap in the log, as if it's hung on setting the rook orchestrator backend.
[code]
The orchestrator module seems to be the one blocking continuing with the osd orchestration.

Interestingly, there is also an error starting the csi driver:
[code]

[2019-10-23 16:30] travisn commented on #4158
If it is caused by the mgr module hang, I would expect this to be fixed by #4021.

[2019-10-23 18:27] #4063 closed

[2019-10-23 19:02] yanchicago commented on #4079
Used below workaround in toolbox container:

1). ceph osd crush tunables optimal
2). for pool in `ceph osd pool ls` ; do ceph osd pool set $pool pg_autoscale_mode on ;  done
- Take some time to rebalance for ceph status to become "HEALTH_OK"

[2019-10-23 19:44] BlaineEXE commented on #4158
I'll pull the latest master and start trying to test again in my env with limited resources to see if it gets fixed.

[2019-10-23 20:51] BlaineEXE commented on #4158
Not caused by the mgr module hang. I repro-ed with masters' changes which include #4021.

[2019-10-23 21:43] travisn opened #4164 "Release v1.1.3: OSDs failing to start in integration tests"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
This is blocking the v1.1.3 release.

In the release branch, we are seeing a consistent integration test failure. The OSD in the test is failing to start and causing the following failures. Other failures will certainly be reported as well, but the tests haven't completed yet. See this [test log](https

[2019-10-23 21:52] BlaineEXE commented on #4164
I would guess that the dir-based OSDs *do* need the `--conf` flag when the changes from #3554 are not also present.

[2019-10-23 22:10] travisn commented on #4164
Instead of removing the `--conf` flag, in the release branch it would appear we need the changes as started in #4129. Those changes weren't deemed necessary in master since #3554 had been merged, but they are necessary in the release branch without #3554.

[2019-10-23 23:18] pavgup commented on #3911
I'm deep in the middle of exactly this strategy. Following this doc https://github.com/rook/rook/blob/master/Documentation/disaster-recovery.md you end up with a cluster that's maybe ready for consuming a previous ceph cluster, but when auth is finally removed and the mon is using the old fsid, the new cluster never attempts to attach previously functional OSDs.

[2019-10-24 01:27] gouki777 commented on #4141
Please update the official document. it will affect the use of ceph.

[2019-10-24 04:05] travisn commented on #4141
@cann0nf0dder @gouki777 In section "1. Update modified permisions" of the [upgrade guide](https://rook.io/docs/rook/v1.1/ceph-upgrade.html), it's expected that these permissions would have been appended to the `rook-ceph-global` clusterrole as seen on [these lines](https://github.com/rook/rook/blob/release-1.1/cluster/examples/kubernetes/ceph/upgrade-from-v1.0-apply.yaml#L63-L76) with this command

[2019-10-24 05:58] umangachapagain commented on #4147
Considering you switched to CSI Provisioner, you should not enable this.

[2019-10-24 06:16] umangachapagain commented on #3681
[code]
You should not have these empty specs when you are using `all`.
This should be used only when you need custom placement for each of the resources.

For using all devices on specific nodes, set
[code]
and then use, https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L158-L159 to select specific nodes based on Node name and device filter.

@travisn Do we hav

[2019-10-24 06:47] cann0nf0dder commented on #4141
hey @travisn my findings:
- rook-ceph-global is created during upgrade from v0.9 (works fine)
- kubectl apply -f upgrade-from-v1.0-apply.yaml (file from tag 1.2) - both create and apply commands have clean output
that results in:
[code]
I export the yaml for rook-ceph-global and add the needed permissions as workaround:
[code]
I've got another upgrade scheduled later today and ill try to get some

[2019-10-24 08:01] cann0nf0dder commented on #4141
I have then reverted rook-ceph-global by stripping out the
`- apiGroups:
  - policy
  - apps
  resources:
  - poddisruptionbudgets
  - deployments
  verbs:
  - '*'`
and recreated rook-ceph-global-rules from the v1.0 apply yaml:
issue comes back:
[code]

[2019-10-24 08:02] lcooper40 commented on #4142
@travisn

I have used the latest image (v1.1.0-beta.0.326.g0178724) and I still see the same issue. On restart of ETCD the resources are removed.
Provided below are the logs for the operator showing it bringing the resources up no problem untill the restart of etcd and then it gets into trouble trying to start a new stateful set.

[code]

[2019-10-24 12:11] umangachapagain commented on #3772
@travisn  @BlaineEXE  Do you think having a udevFilter env var with comma separated string (like "dm, rbd, nbd") be enough? We can parse this value into the regex we currently use (i.e. `(+i)dm-[0-9]+`) and use it for filtering.

[2019-10-24 12:13] cann0nf0dder commented on #4141
Tried another cluster rook upgrade, here the output:
RBAC updates
[code]
resulted in those logs in the operator after upgrade as before:
[code]
Cluster roles look to be there:
[code]
Applied the workaround as before by appending this to rook-ceph-global fix it.

[code]

[2019-10-24 14:10] AXington opened #4174 "Operator Helm Chart: Allow CSI plugin and provisioner affinities and tolerations"
[I this example yaml](https://github.com/rook/rook/blob/release-1.1/cluster/examples/kubernetes/ceph/operator.yaml), there are affinities and tolerations commented out that seem to allow taints and affinities for the csi provisioners/plugins. These are not present in the helm chart however. This has caused issues for us where almost all of our nodes have taints to keep things separate, but we do h

[2019-10-24 14:14] AXington commented on #4174
Uh, or I'm just blind and didn't see this in the Values.yaml file. This could be better documented on the help page: https://github.com/rook/rook/blob/master/Documentation/helm-operator.md

[2019-10-24 14:14] #4174 closed

[2019-10-24 15:10] travisn commented on #4147
@mabushey The discovery daemon is really only for proactively detecting when new devices are added to nodes so the operator knows when to trigger creating OSDs on them. If you don't need the proactive OSD creation, no need for the discovery

[2019-10-24 16:13] travisn commented on #3772
@umangachapagain Yes, that seems like it should be sufficient and keeps it nice and simple. If it is more complicated such as a regular expression it becomes much more difficult to use.

[2019-10-24 16:42] dimm0 commented on #4134
Maybe there's something easier than installing ceph on the node and copying files from the OSD?
(Also can't copy from crashlooping pods)

[2019-10-24 16:50] leseb commented on #4134
What if you override the deployment command of the OSD? Just like explained here: https://rook.io/docs/rook/master/disaster-recovery.html with the `patch`? With that, you will get the extract same context.

Then simply run `ceph-volume lvm activate --no-systemd $OSD_ID` inside the container.
You should be able to play with `ceph-objectstore-tool `.

[2019-10-24 16:53] dimm0 commented on #4134
Then the config folder is empty, tried that

[2019-10-24 16:53] dimm0 commented on #4134
Ah! I didn't know about ceph-volume lvm activate
Is that what creates the files?

[2019-10-24 16:56] leseb commented on #4134
Yup.

[2019-10-24 16:58] dimm0 commented on #4134
Great, will try. Thanks!

[2019-10-24 17:43] travisn opened #4176 "Helm chart index is delayed after a release due to caching"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The `promote` step in the CI pipeline will publish the helm chart and add it to the [index.yaml](https://charts.rook.io/release/index.yaml). However, the update to the index.yaml cannot be seen for some time period (~1 day) due to caching somewhere. We should find where this cache is so users can more

[2019-10-24 18:47] #3428 closed

[2019-10-24 19:30] yanchicago opened #4177 "Rook v1.1.4 chart deployment.yaml has wrong variable name"
**Is this a bug report or feature request?**
* Bug Report

Line 161: wrong variable in if statement.

{{- if .Values.csi.cephfsrbdGrpcMetricsPort }}
        - name: CSI_RBD_GRPC_METRICS_PORT
          value: {{ .Values.csi.rbdGrpcMetricsPort | quote }}
{{- end }}

should be ==>

{{- if .Values.csi.rbdGrpcMetricsPort }}
        - name: CSI_RBD_GRPC_METRICS_PORT
          value: {{ .Values.csi.rbdGr

[2019-10-24 19:50] mohahmed13 opened #4178 "VolumeSnapshots never go into Ready-To-Use state if using old CRDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behaviour:**

We experimented with the CephCSI drivers back in Rook v1.0 so our cluster had some old CRDs. Specifically:
* volumesnapshotclasses.snapshot.storage.k8s.io
* volumesnapshotcontents.snapshot.storage.k8s.io
* volumesnapshots.snapshot.storage.k8s.io

Upon running through an upgrade to Rook v1.1 and switc

[2019-10-24 19:50] mohahmed13 commented on #4178
I think a doc update would be sufficient. Since there is already a section about upgrading from previous Rook version when using CephCSI, it could be amended. Happy to draft up a PR for that if needed.

[2019-10-24 19:58] theonewolf commented on #2746
@ravibagri5 isn't that a bug if it **requires manual intervention**?

[2019-10-24 20:27] travisn commented on #4142
@lcooper40 Found the issue, #4179 will fix it...

[2019-10-24 20:47] #3426 closed

[2019-10-24 21:41] sabbot opened #4181 "EdgeFS: Validation for coupled failureDomain and sysRepCount props"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Detect inconsistent properties variations and prevent to deploy cluster in that case
**What is use case behind this feature:**
Do not allow to deploy EdgeFS cluster with inconsistent failureDomain, sysRepCount properties and specified Cluster Spec
**Environment**:

[2019-10-24 22:00] travisn commented on #4164
Fixed by #4165, though the v1.1.3 release was skipped because of this issue

[2019-10-24 22:00] #4164 closed

[2019-10-24 22:05] #4120 closed

[2019-10-24 22:58] dimm0 opened #4182 "osdPrepare resource limits are getting value from OSD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
prepare pods are starting with OSD rasources

**Expected behavior:**
prepare pods either run with minimal values or use the osdprepare from CRD

The problem is here: https://github.com/leseb/rook/blob/1765ad65083b55bab91c774081ff9ee12521e9bd/pkg/operator/ceph/cluster/osd/osd.go#L119

Should be prepareR

[2019-10-24 23:32] AXington opened #4183 "rook-ceph drivers not found in list of registered CSI drivers"
I honestly don't know where to begin. Our cluster was working as of two days ago. I spun up some new k8s nodes as a dedicated resource for the pods that would be consuming a cephfs shared file system. I began to see messages like the one here:

[code]
Long story short in a panic to get this environment up and running again, I have exhausted many many avenues trying to diagnose and fix this issue,

[2019-10-24 23:45] dimm0 commented on #2787
Would be very useful

[2019-10-25 02:54] satoru-takeuchi opened #4185 "OSD on PVC: Support LVM's logical volume"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Support LV with OSD on PVC.

**What is use case behind this feature:**

PV would be not only physical devices but also logical devices. For example,
there is a CSI plugin using LVM.

https://github.com/cybozu-go/topolvm

There is a PR to support LV with OSD. However, it's not for OSD on PVC,
but on nor

[2019-10-25 08:13] #3580 closed

[2019-10-25 08:21] #4142 closed

[2019-10-25 10:44] lcooper40 commented on #4142
This hasn't fixed my issue. The pod still terminates following a restart. Operator log below just to show I'm using the newest version which I assume has the updated code.

2019-10-25 10:41:20.932783 I | rookcmd: starting Rook v1.1.0-beta.0.336.g1f78304 with arguments '/usr/local/bin/rook nfs operator'
2019-10-25 10:41:20.932929 I | rookcmd: flag values: --add_dir_header=false, --alsologtostderr=f

[2019-10-25 10:51] #3479 closed

[2019-10-25 11:18] jmolmo commented on #2852
@Travisn: I cannot achieve to reproduce this issue. (with `rbacEnable` and `pspEnable` set to  true).

Apart of that, i have found that the following psp rolebindings can be found in common.yaml and not in the psp section of the clusterrolebindings: (more than the 3 reported by @kfox1111 )

rook-ceph-system-psp
rook-ceph-default-psp
rook-ceph-osd-psp
rook-ceph-mgr-psp
rook-ceph-cmd-reporter-psp

[2019-10-25 13:45] lcooper40 commented on #4142
@leseb  @travisn

We have since tried this version
v1.1.0.344.g30d019a

This was successful and the resources recreated successfully after restart k8s. Will this be built into a full release version ?

[2019-10-25 14:57] #4182 closed

[2019-10-25 15:05] travisn commented on #4142
@lcooper40 Great to hear it's working for you. Yes, this will be included in v1.1.5 when it is released. It could be a week or two depending on urgency of the release.

[2019-10-25 15:10] travisn commented on #4185
@satoru-takeuchi Can you add more details for this scenario? The CSI driver is independent from the OSDs, so I'm not sure what feature you're requesting. If this is for a feature request for  OSDs on PVCs, can you give an example for how it is related to the StorageClassDeviceSet in this [design doc](https://github.com/rook/rook/blob/master/design/storage-class-device-set.md)? Thanks!

[2019-10-25 17:36] #4181 closed

[2019-10-25 19:44] petre commented on #4079
If you'e running Ceph Nautilus you can enable pg_autoscaler module to fix this issue, more information here: https://rook.io/docs/rook/v1.1/ceph-configuration.html

[2019-10-26 02:10] laevilgenius commented on #3851
@travisn can we fix it in a patch release for `v1.1`?

[2019-10-26 05:28] travisn commented on #3851
@jmolmo Is investigating it. I'd expect it to be in the next patch release.

[2019-10-26 05:31] travisn commented on #2852
@jmolmo @kfox1111 Actually this issue with the helm chart is better tracked with #3851.

The original request for this issue I believe has actually been fixed already. The PSPs are included in the helm chart now since the last release. @lewismarshall Please reopen if the intention of the issue was not fixed in v1.1. Thanks!

[2019-10-26 05:31] #2852 closed

[2019-10-27 19:08] #3493 closed

[2019-10-27 19:08] #3082 closed

[2019-10-28 02:23] funkypenguin opened #4200 "detect-version fails when istio mtls is enabled in rook-ceph namespace w/ outboundTrafficPolicy set to REGISTRY_ONLY"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I'm using Istio mTls with outboundTrafficPolicy=REGISTRY_ONLY, which will prevent any pods from accessing URLs not defined in the istio service registry.

When deploying rook-ceph using the helm chart, the `rook-ceph-detect-version` pod never completes, logging the following:

[code]

**Expected behav

[2019-10-28 03:27] billimek opened #4201 "operator restarts the manager if the crd is "applied" even if nothing is changed"
When the `CephCluster` is 'applied' to the cluster it will cause the operator/manager to restart even when nothing has changed.  This seems to be directly related to the use of the `resources` section in the `CephCluster`

See [this slack thread](https://rook-io.slack.com/archives/C46Q5UC05/p1570908861035300) for the same report from another user.

[clusterChanged()](https://github.com/rook/rook/b

[2019-10-28 10:01] 13567436138 opened #4203 "Failed to complete 'rbd': signal: interrupt. . output:"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
mount command fail
**Expected behavior:**
mount command success
**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `

[2019-10-28 10:05] 13567436138 commented on #4203
[code]
Endpoints is missing

[2019-10-28 13:49] galexrt commented on #2984
Stil needs to be improved.

[2019-10-28 14:16] galexrt commented on #4203
@13567436138 You seem to be running a very old Rook Ceph version (your mons are still using numbers instead of characters for their name).
In addition to that you are running `master` tag which isn't stable so we can't know for sure if all your Nodes are using the same image tag.
What does `rook --version` command return inside the operator?

Your Ceph cluster's mons seem to be completely out of q

[2019-10-28 14:44] #3500 closed

[2019-10-28 19:40] #4080 closed

[2019-10-28 22:38] egafford opened #4205 "Default base test directory settings for integration test suite fails from VM host"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
By default, the integration test suite assumes a base test directory of os.Getwd(). This setting fails in the case that k8s is running in a VM and the test suite is running on the host, and the error message (OSD::mkfs: ObjectStore::mkfs failed with error (22) Invalid argument) does not readily suggest

[2019-10-28 22:49] egafford commented on #4205
I'd like to take this issue; it's a solid one for a new contributor.

[2019-10-29 00:02] 13567436138 commented on #4203
root@rook-operator-678d66bf6b-sl7hk:/# rook version
 rook: v0.7.0-136.gd13bc83

[2019-10-29 00:05] satoru-takeuchi commented on #4185
@travisn OK, I should explain this issue in detail.

There is no problem with StorageClassDeviceSet level. However, there are several problems
to use LV-based PVC as OSD.

First, LV is not regarded as valid block device in PopulateDeviceInfo.

https://github.com/rook/rook/blob/master/pkg/clusterd/disk.go#L84

So `rook-ceph-osd-prepare` pod fails with the following log.

[code]

Second, when execut

[2019-10-29 00:08] 13567436138 commented on #4203
how to upgrade rook

[2019-10-29 00:28] 13567436138 commented on #4203
can i update smoothly，with out lost data

[2019-10-29 01:03] 13567436138 commented on #4203
can i upgrade from 0.7 to 1.0 directly
Upgrade 0.9 to 1.0
Upgrade 0.8 to 0.9
Upgrade 0.7 to 0.8
Upgrade 0.6 to 0.7
Upgrade 0.5 to 0.6

[2019-10-29 02:16] travisn commented on #4203
@13567436138 Correct, you will need to upgrade rook one version at a time in each upgrade guide.

[2019-10-29 08:01] 13567436138 commented on #4203
create mon3 solved my problem

[2019-10-29 08:01] #4203 closed

[2019-10-29 08:12] melnik13 opened #4207 "Unhandled exception from module 'dashboard' while running on mgr.a: [('x509 certificate routines', 'X509_check_private_key', 'key values mismatch')]"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The dashboard module stopped working after a restart.

**Expected behavior:**
The dashboard module should keep working.

**How to reproduce it (minimal and precise):**
It's hard to say how to reproduce it. I restarted the pods of rook-ceph multiple times, but it didn't come to that result before.

* Cl

[2019-10-29 08:18] dmeijboom opened #4208 "rook-ceph-osd-prepare pods in init state after completion due to FailedMount"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
`rook-ceph-osd-prepare*` pods goes into init:0/2 stage with the `FailedMount` errors.

**Expected behavior:**
Not sure.. I think the `rook-ceph-osd-prepare*` pods should've remained completed right? Simply because the OSDs were already provisioned.

**How to reproduce it (minimal and precise):**
I'm us

[2019-10-29 08:27] stephan2012 opened #4209 "Secrets "rook-ceph-csi" not found (fresh install of Ceph 1.1.4)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Secret `rook-ceph-csi` not created by Rook Ceph operator causing CephFS volume provisioning to fail. Maybe a regression due to #3874?

**Expected behavior:**
Operator should create secret `rook-ceph-csi`

**How to reproduce it (minimal and precise):**

1. Setup Rook Ceph operator
2. Deploy Ceph cluster

[2019-10-29 08:29] stephan2012 commented on #4209
Hm… The operator reports

[code]

but there is no secret.

[2019-10-29 09:18] leseb commented on #4209
Did you use the storageclass example provided with 1.1.4?
Things changed with https://github.com/rook/rook/pull/4144

[2019-10-29 09:44] stephan2012 commented on #4209
Yes, I did. Adjusted secret name in StorageClass (in fact, it has to be deleted and recreated) and now it works.

[code]

Thanks for the pointer!

[2019-10-29 09:44] #4209 closed

[2019-10-29 12:00] zedtux opened #4210 "Dashboard authentication fails when using kubectl proxy"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Authenticating to the dashboard works but I'm then ejected so that I remain on the login page.

Looking at the web browser's console network tab, I can see a successful authentication:

![Screenshot 2019-10-29 at 12 45 23](https://user-images.githubusercontent.com/478564/67764332-03377200-fa4a-11e9-83

[2019-10-29 13:19] skbki opened #4212 "OSD getting provisioned on single node"
I run 3 node kubernetes cluster and I'm trying to get osd's to get provisioned on 3 different nodes.
When I try
`  storage:
    storageClassDeviceSets:
    - name: rook-ceph-ssd-data-x11
      count: 3
      resources:
         limits:
           cpu: "500m"
           memory: "4Gi"
         requests:
           cpu: "500m"
           memory: "4Gi"
      placement:
        podAntiAffinity:

[2019-10-29 17:00] #3549 closed

[2019-10-29 17:28] thotz opened #4215 "OSD is keep getting crashing while running integration test"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
integration tests are timing out and hence failing because osd is not coming up.

**Expected behavior:**
integration test able to pass

**How to reproduce it (minimal and precise):**

- minikube start --vm-driver=none
- run `make test-integration` in the rook repo

**File(s) to submit**:

* stdout whil

[2019-10-29 17:32] travisn commented on #4215
@thotz I believe this will actually be covered by #4205. As a workaround try removing [this line](https://github.com/rook/rook/blob/master/tests/framework/installer/installer.go#L85) that assumes you're running the tests from a mac.

[2019-10-29 18:49] #3515 closed

[2019-10-29 21:46] #3504 closed

[2019-10-29 22:45] #3484 closed

[2019-10-30 07:01] xiaoqge commented on #4122
Since the rook must use the k8s service function, we have already opened it and the problem is solved.

[2019-10-30 07:01] #4122 closed

[2019-10-30 07:03] thotz commented on #4215
My machine is rhel 7 box, not a mac

[2019-10-30 07:11] xiaoqge opened #4218 "Execute operator.yaml missing ceph-agnet pod"
I am using rook 1.1.4, kubernetes 1.13.7, centos 7.2. When I execute ceph operator.yaml and cluster.yaml in the k8s cluster, I don't see the pod of cook-ceph-agnet. The k8s node does not do any Taints configuration, but The rook-ceph-operator and rook-discover pod states are both running. What am I doing wrong?

[code]
[code]

Below is my operator.yaml configuration file

[code]

Below is the log

[2019-10-30 12:36] umangachapagain commented on #4218
Your cluster is configured to work with ceph-csi which does not require ceph-agent pods.

[2019-10-30 14:04] xiaoqge commented on #4218
@umangachapagain  Thank you very much for helping me.

I am currently executing mysql.yaml and can't mount the PVC. I want to refer to the documentation https://rook.io/docs/rook/master/ceph-common-issues.html for processing. The document has ceph-agent.Below is my mysql startup error

[code]
Below is my pool.yaml configuration：

[code]

Below is the pv of my current cluster：
[code]
[code]

I am u

[2019-10-30 14:46] #3524 closed

[2019-10-30 16:19] jmolmo opened #4227 "New integration test using PSP enabled cluster with Helm Chart"
* Feature Request
New integration test using PSP enabled cluster with Helm Chart

**What should the feature do:**
Modify the existent "tests/integration/ceph_helm_test.go" to make possible to execute the tests using a cluster where the admision controller "PodSecurityPolicy" is enabled.

**What is use case behind this feature:**
Test with PodSecurityPolicy enabled

**Environment**:
Use the same th

[2019-10-30 19:11] #4124 closed

[2019-10-30 19:13] #3851 closed

[2019-10-30 20:57] egafford commented on #4089
This issue comprises multiple commits across several daemons, and was closed by a somewhat overeager bot. Reopening to post new commits.

[2019-10-30 21:09] BlaineEXE opened #4232 "RGW upgrade may be broken on non-ec pool from #4087"
## Bug Report

**Deviation from expected behavior:**
Operator fails to update RGW when objectstore created with Ceph v13, Ceph is upgraded to v14, and then operator is upgraded to master.

Possibly related to #4073 & #4128

**Expected behavior:**
RGWs are upgraded successfully.

**How to reproduce it (minimal and precise):**
1. Install Rook v1.0.6 with Ceph v13.2.0
2. Upgrade Ceph version to v14
3

[2019-10-31 05:08] umangachapagain commented on #4218
@Madhu-1 Can you take a look, if it is related to csi or something else?

[2019-10-31 05:32] umangachapagain commented on #4212
The spec that you are using is incorrect.
Use https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml#L53-L64

[2019-10-31 05:34] Madhu-1 commented on #4218
you are using flex driver as per the storage class provided above its nothing related to CSI, Flex is disabled by default if you want to use flex driver please enable it while creating operator
[code]
if you want to use CSI please create a new storage class for  CSI from https://github.com/rook/rook/tree/master/cluster/examples/kubernetes/ceph/csi/rbd and use it

[2019-10-31 05:45] #3859 closed

[2019-10-31 10:01] Madhu-1 opened #4234 "Delete CSI driver when operator is deleted"
**Is this a bug report or feature request?**
* Bug Report
Currently, CSI driver (deployment/stateful and deamonset) is not deleted when the rook operator is deleted

**Expected behavior:**
Deletion of the operator should cleanup the CSI driver if has deployed

**How to reproduce it (minimal and precise):**

* Create rook operator
* Create ceph cluster
* Delete ceph cluster
* Delete rook operator

[2019-10-31 10:04] Madhu-1 commented on #4178
@mohahmed13 can you  please send a PR for the same

[2019-10-31 10:23] leseb commented on #4234
I'd do this when there is no `CephCluster` too.

[2019-10-31 11:33] #3535 closed

[2019-10-31 14:52] travisn commented on #4234
Currently we start the CSI driver when the first CephCluster CR is created. Agreed it would make sense to delete the CSI driver when the last CephCluster CR is deleted.

[2019-10-31 15:57] yanchicago commented on #4234
Doing an upgrade from earlier release to rook 1.1.4. The original deploy is with flexvolume. After upgrade, I would like to disable CSI related deploy,svc,ds as it's not being used.
So I patched the operator to set below env variables and restart the operator.

But "rbdplugin" was restarted after the operator restarts.  They were deleted before operator restarts.

Expects: With CSI flags turns off

[2019-10-31 17:14] mabushey commented on #4147
@travisn Thank you for your help in getting this straightened out, it's very much appreciated.

[2019-10-31 17:14] #4147 closed

[2019-10-31 17:33] #3218 closed

[2019-10-31 18:17] NicolaiSchmid commented on #3756
How was your problem resolved?

[2019-10-31 18:27] billimek commented on #4051
It looks like there is going to need to be more than just a ceph-csi solve for arm64 for this, based on what I've seen.

For example, the `csi-rbdplugin` and `csi-cephfsplugin` daemonsets run two containers composed of `quay.io/k8scsi/csi-node-driver-registrar` & `quay.io/cephcsi/cephcsi` images.

The `csi-node-driver-registrar` image appears to come from

The `csi-node-driver-registrar` image app

[2019-10-31 22:34] udayjalagam opened #4238 "When OSD pods removed from hosts they are not able add them back to ceph cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When I change placement in cluster CRD by mistake which removed all OSDs from master nodes and when I add CRD back it try to schedule OSD pods  back on those nodes but not able to do that since it deleted auth keys.

**Expected behavior:**
I would expect operator or prepare pod supposed to create those

[2019-11-01 02:44] travisn commented on #4238
@leseb If the osd keyrings are removed, how can they be re-created to allow the OSDs to start again? In this case `c-v activate` succeeds, but then the osd can't connect because the auth key is gone.

This is another instance of why osds should never automatically be removed... Unintentional changes to desired state in the CR with destructive side affects should be avoided.

[2019-11-01 03:30] funkypenguin commented on #4200
Closing this issue. Turned out to be a bad DestinationRoute in istio, causing the sidecar to attempt to mtls traffic towards the Kubernetes API

[2019-11-01 03:30] #4200 closed

[2019-11-01 17:53] egafford commented on #4215
Issue #4205 affects any user of the integration tests who:
a) Is running the tests in a virtualized environment like Minikube and
b) Is _not_ running them on a Mac (where runtime.GOOS == "darwin")
So your Minikube on RHEL7 environment would hit that issue (I found it in my Minikube on Fedora30 env). Hopefully the fix for issue #4205 will resolve this, by setting the default base test directory to

[2019-11-01 21:33] travisn opened #4241 "Rook build needs a stable yq tool"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Today the Rook CI became broken across all builds when the yq tool changed its install requirements.

The failure is in the `generate-rook-csv.sh` script.
[code]

For example: https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-3495/90/pipeline/

The related change in the yq repo c

[2019-11-01 22:31] travisn opened #4242 "generate-rook-csv.sh should run on all dev platforms"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The `generate-rook-csv.sh` script currently only runs on linux. There is a check [here](https://github.com/rook/rook/blob/master/images/ceph/Makefile#L28-L31) that will skip running this generation if not on linux. This is an issue because devs on mac won't run the same build process and can't troubles

[2019-11-01 23:03] travisn commented on #1218
This was accomplished by #4096

[2019-11-02 04:29] egafford commented on #4241
Further examination of yq confirms that we really do need to change out for another tool. It depends on companies as disparate as NYT and Uber, and a host of private repos with unknown maintenance, stability, and dependency management. It's handy, but it's not just following an enterprise dependency or release model.

Sadly, I don't see a fantastic pre-packaged alternative. This is one: https://gi

[2019-11-02 04:45] cyb70289 commented on #4051
@billimek , we see exactly the same problem, and are planning to add arm64 support to all these images. Definitely needs community help to make it happen.

[2019-11-03 07:42] #4241 closed

[2019-11-03 16:31] #3363 closed

[2019-11-03 20:31] #3362 closed

[2019-11-04 01:44] xiaoqge commented on #4218
Open flex driver, the problem has been solved, thank you very much

[2019-11-04 01:44] #4218 closed

[2019-11-04 08:16] #4177 closed

[2019-11-04 12:46] thotz commented on #4215
@egafford: It worked thanks, hence closing the issue

[2019-11-04 12:46] #4215 closed

[2019-11-04 14:45] leseb commented on #4238
To generate a new key you can run: `ceph auth get-or-create osd.0 mon 'profile osd' mgr 'profile osd' osd 'allow *'`.

[2019-11-04 15:01] #3542 closed

[2019-11-04 15:01] zedtux opened #4246 "OSD is keep getting crashing after deleting/adding back a Kubernetes node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Given a healthy kubernetes cluster, with a healthy Ceph cluster, I had to delete/re-install the OS/re-add the node as a Kubernetes worker, and all Rook/Ceph pods are coming back well, exception the OSD one.

I found the exact same logs out that #4215 but that issue is in another context.

**Expected be

[2019-11-04 15:39] nizamial09 commented on #4201
@travisn From the logs its clear that even if `diff= ` the clusterChanged() function returns a true value there. This can be fixed by checking if the difference thrown by comparing the new and old cluster is not null, then only return `true` value right?

[2019-11-04 15:43] travisn commented on #4201
@nizamial09 Originally we always wanted to trigger the orchestration if the cluster changed event was raised. But since we added the check to see if there is a difference, it would certainly be better to only trigger the orchestration if something changed. Thanks for digging into this!

[2019-11-04 15:44] AXington commented on #4183
turns out this was due to my Tolerations and Affinities. It was preventing the csi- daemonsets from running on the correct nodes. I have now specified a universal toleration, and no affinities. I think a bit of documentation around that, especially in the helm chart would be useful.

This is the toleration I added to fix it:
[code]

[2019-11-04 15:44] #4183 closed

[2019-11-04 15:45] nizamial09 commented on #4201
So can I make the changes and see if that works well. Add a condition so that orchestration gets triggered only when something has changed.

[2019-11-04 20:05] dsargent3220 opened #4247 "When topologyAware is true getting failed to add OSD to crush map exit status 22"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Attempting to create a new cluster with the topologyAware flag set to true and labels on the new nodes as outlined in the docs I get the error
`failed to configure dirs map[/mnt/data01:4]. failed to initialize OSD at /mnt/data01/osd4: failed adding osd.4 to crush map: exit status 22`
On my 4 worker nod

[2019-11-04 21:23] mohahmed13 commented on #4178
@Madhu-1 , I'll create a PR for the docs update to resolve this issue.

[2019-11-05 00:57] zyuyou commented on #3132
Same issue, wait for solution.

[2019-11-05 05:03] travisn commented on #3937
@umangachapagain I see in the test logs that the mon failover from the previous test is actually being detected incorrectly and is completing during the object test. It's not clear if this is related to the issue with the `realm list` command getting stuck, but could you look into the mon failover test and see if it improves the test?

Notice that the test identifies the new mon has started when i

[2019-11-05 05:04] travisn commented on #3525
No more reports of this, let's reopen if we can get a repro.

[2019-11-05 05:10] travisn commented on #3298
@dimm0 I believe this is fixed by #4180. It will be included in v1.1.5.

[2019-11-05 05:10] #3298 closed

[2019-11-05 06:30] Madhu-1 opened #4248 "Document upgrade procedure for CSI"
**Is this a bug report or feature request?**
* Bug Report
CSI nodeplugins, specifically when using `cephfs FUSE`  or `rbd-nbd` as the mounters, when upgraded, will cause existing mounts to become stale/not-reachable (usually connection timeout errors). This is due to losing the mount processes running within the CSI nodeplugin pods.

**Deviation from expected behavior:**

**Expected behavior:**
Af

[2019-11-05 06:30] Madhu-1 commented on #4248
https://github.com/ceph/ceph-csi/issues/703

[2019-11-05 06:30] Madhu-1 commented on #4248
cc @travisn

[2019-11-05 07:51] xenolinux commented on #3439
@galexrt Yes. I have opened a bug on Ceph tracker. Here's the link : https://tracker.ceph.com/issues/40785

[2019-11-05 08:03] xenolinux opened #4250 "`ceph-volume lvm list` doesn't work correctly inside ceph toolbox pod"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
`ceph-volume lvm list` doesn't work correctly in ceph toolbox pod

**Expected behavior:**
`ceph-volume lvm list` should work correctly in Rook Ceph toolbox pod. It should show all devices and logical volumes found in the system should be displayed.

**How to reproduce it (minimal and precise):**
Instal

[2019-11-05 08:28] xenolinux commented on #4250
The yaml file used to install Ceph toolbox : https://gist.github.com/xenolinux/c7c745647cbc11a8ac7bf90e5ce5ed09

[2019-11-05 09:18] leseb commented on #4250
What's your error?

`ceph-volume lvm list` is not a command you should run from the toolbox unless the toolbox is running on the host you are looking at listing OSDs.

I'd suggest, you exec into a running OSD pod and run the command.

[2019-11-05 09:52] xiaoqge opened #4251 "Pvc status is pending"
I am using rook 1.1.6，  kubernetes 1.13.7，CentOS Linux release 7.5.1804。I use the cephfs status to display pending,
Below is my specific configuration information:

**Filesystem configuration information**
[code]

[code]

**Storageclass configuration information**
[code]
[code]
**I tried to create a Pvc and there was a pending state.Below is my pvc information**
[code]

[code]

**My ceph cluster s

[2019-11-05 09:57] Madhu-1 commented on #4251
@xiaoqge please check csi-cephfs-provisioner logs for more details on  why its failing

[2019-11-05 10:24] xiaoqge commented on #4251
@Madhu-1 Thank you very much, I want to try to deploy from a new installation. In the process of deleting pvc, I checked the csi-cephfs-provisione log as you said, and I see the following error message:

[code]
[code]

Is such a mistake missing secrets? Is there a document for reference to fix?

[2019-11-05 10:40] Madhu-1 commented on #4251
rook should create this secret? can  you please provide the operator logs to check  whats happening

[2019-11-05 10:41] Madhu-1 commented on #4251
and also provide what rook version you are using

[2019-11-05 10:58] xiaoqge commented on #4218
@Madhu-1  I am using the current rook-ceph master branch，I tried to specify a namespace to create pvc, but the error log still exists。

[code]

[code]

**The following is the error log**
[code]

Thank you again。

[2019-11-05 11:02] xiaoqge commented on #4251
@Madhu-1 I am using the current rook-ceph master branch，I tried to specify a namespace to create pvc, but the error log still exists。

[code]

**The following is the error log**
[code]
Thank you again。

[2019-11-05 11:37] #4201 closed

[2019-11-05 11:47] Madhu-1 commented on #4251
@xiaoqge please provide rook operator pods logs

[2019-11-05 12:07] xiaoqge commented on #4251
@Madhu-1   This is some of the latest rook operator pods logs
[code]

[2019-11-05 12:15] Madhu-1 commented on #4251
@xiaoqge I don't see any error logs related to secret creation, make sure your rook image is up to date. if yes, can you please provide the list of all secrets in the rook-ceph namespace

@leseb PTAL

[2019-11-05 13:43] leseb commented on #4251
You're clearly not using rook master, the log message `created csi secret for cluster` is old and was before my refactor from https://github.com/rook/rook/pull/4086. Please exec into the operator and run `rook version` and paste the output. Thanks.

[2019-11-05 13:51] bengland2 commented on #3132
you may want to try turning off transparent hugepages, which do not benefit Ceph at present.  Check /sys/kernel/mm/transparent_hugepage/enabled value.   Also check KSM with /sys/kernel/mm/ksm/run is 0.   These make it harder for the kernel VM to recycle memory.

[2019-11-05 14:13] leseb commented on #4247
This will be fixed in https://github.com/rook/rook/pull/4131

[2019-11-05 14:42] #3547 closed

[2019-11-05 17:06] graham-web opened #4259 "NFS server memory leak"
**Is this a bug report or feature request?**
* Bug Report

**Bug Report**

After using a Rook-provisioned NFS server for a while, we have observed the memory usage growing very large - over 4GB in one case.

This is not the nfs-ganesha server itself, but the `rook` binary in the same container.

**How to reproduce it (minimal and precise):**

1. Deploy nfs operator and an NFSServer.
2. Create a wo