[2021-02-18 22:22] ron1 opened #7267 "Remove CephCluster status Progressing Condition when reconciliation is completed"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When CephCluster reconciliation is completed, the Progressing Condition is set to false

**Expected behavior:**
When CephCluster reconciliation is completed, the Progressing Condition is removed

**How to reproduce it (minimal and precise):**

Allow CephCluster reconciliation to complete.

**Environmen

[2021-02-18 23:22] Place1 commented on #7038
I've run into this issue upgrading from Rook `1.3.x` to `1.4.9`.

I was able to work around the issue but commenting out all the `minimum` and `maximum` properties from the helm chart's CRDs.

Here's the upstream Helm issue: https://github.com/helm/helm/issues/5806

Here's a related issue where cert-manager had to fix the same problem: https://github.com/jetstack/cert-manager/pull/3647/files

[2021-02-19 15:08] OPSTime commented on #7200
I found the cause of the problem. The created user does not have the permission to access any of the buckets. It is necessary to set the policy to the bucket through the "s3cmd setpolicy" command to allow the user to access. Or modify the bucket owner through the "radosgw admin bucket link" command. The new user is not associated with any buckets.

[2021-02-19 17:33] BlaineEXE commented on #7038
We are having users of Rook report this issue also. I don't necessarily see it as a problem that the schema expects a `*float64` for minimum and maximum. Mathematically speaking, `1` is just a special form of decimal (floating point). I would guess the problem could be solved in the code that parses/interprets the value to allow int forms of number to be read into a float value. I'm not sure where

[2021-02-19 17:34] BlaineEXE commented on #7038
Commented on the related Helm issue: https://github.com/helm/helm/issues/5806#issuecomment-782224318

[2021-02-19 18:02] BlaineEXE commented on #6776
I am concerned that this "best practice" is merely a workaround for Helm not having a good model for how to manage CRDs and is actually a "smell". I don't think we have a bad solution in Rook just because we don't follow what Helm has called here a best practice. For users who **don't** use Rancher for deploying charts, I think having one chart is a better experience for them. We eliminate one pat

[2021-02-19 19:09] ron1 commented on #6776
@BlaineEXE It is my understanding that Rook Helm Chart users want to deploy more than just the Rook Ceph Operator via Helm. They also want to use Helm Charts to deploy CephClusters and other CRs. It is impossible to deploy CRDs and CRs that depend upon them via a single Helm Chart. So, this issue assumes that the simplicity of a single chart does not meet the requirements of Rook Helm Chart users.

[2021-02-19 20:45] BlaineEXE opened #7275 "ceph: Deprecate creating/configuring OSDs via Drive Groups config"
## Proposal to deprecate configuring Ceph  OSDs via Drive Groups

Drive Groups were added to Rook-Ceph last July and included in Rook release v1.4 (https://github.com/rook/rook/pull/4916). Drive Groups give us another method for specifying how to configure OSDs on a node’s disks in a way that is quite complex but also flexible. We had hoped this would make integration with the Ceph [orchestrator f

[2021-02-19 21:11] BlaineEXE commented on #6776
We don't currently have any intentions of allowing Helm to deploy the CephCluster or any other CRs since that would mean duplicating parameters from those CRs to the Helm chart one-to-one. Currently, the Helm chart deploys CRDs, RBAC, and the Rook Operator, then the user can create CRs after. I think using kustomize makes sense for creating those CRs, but not Helm.

I do see benefit to allowing th

[2021-02-20 00:35] 2fst4u commented on #6894
I am having the same issue but I thought it was down to one of my Raspberry Pi nodes being armhf (old 3B model) that it keeps starting on. I've been searching for the syntax for node affinity for these pods because it's completely different in the operator.yaml to see if forcing them to only start on my arm64 nodes fixed it.

But if you're getting this error on a purely arm64 cluster then it must

[2021-02-20 15:36] OPSTime opened #7276 "radosgw-admin log show, return: error reading log: No such file or directory"
**radosgw-admin log show --bucket ceph-bkt --bucket-id "fd0477cc-2eea-42d3-8b98-868a73b63bdf.496709.3727" --date=2020-02-02**
`error reading log 2020-02-02-fd0477cc-2eea-42d3-8b98-868a73b63bdf.496709.3727-ceph-bkt: (2) No such file or directory`

**radosgw-admin log list**
[code]
**radosgw-admin --version**
`ceph version 15.2.8 (bdf3eebcd22d7d0b3dd4d5501bee5bac354d5b55) octopus (stable)`

[2021-02-20 15:39] #7200 closed

[2021-02-20 19:16] promasu commented on #2047
My osds seem to be created the way described in this issue here (a collegue of mine did this and it's not documented)
I now had to wipe one osd and I'm not able to get it added back by the osd-prepare-node pod.
The working one looks like this

[code]

with
[code]

and

[code]

When I try to add only the linear md

[code]

The prepare pod states

[code]

When I create a pv on it I get

[code]

With

[2021-02-21 03:42] seulichen commented on #6182
I think I'm having same issue after restart k8s cluster.
I fix the auth key then osds get running, but remain down status.
Is there any way to get osds up?

[2021-02-21 05:59] briantopping opened #7277 "Create ValidatingWebhookConfiguration to stop deletion of critical resources"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Critical resources such as `CephCluster` are easily deleted if the user is in the wrong context. While the finalizer will stop the actual deletion of the resource until all child resources such as `PersistentVolumeClaim`s are removed, it is a little unnerving that the resources remain in the `Terminatin

[2021-02-21 07:21] evankanderson commented on #6980
I was trying to customize `timeoutSeconds` and ran into this... the workaround of copying the probe values from an existing deployment turns out not to be such a good idea, as the probe encodes a particular `osd` or `mon` index in the health check, so you end up with *all* your health or liveness checks pointing to a single `osd` or `mon`, which doesn't work if it's not on the same host.

[2021-02-21 23:38] satoru-takeuchi opened #7278 "ceph: operator is kiled due to SIGSEGV in OBC creation"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Creating OBC wasn't finished . After that, operator is killed in ObjectStore reconciliation due to SEGSEGV.

The log in OBC creation.

[code]

After showing above logs, operator was killed with the following log.

[code]

In addition, after rebooting operator, it continued to fail with the following l

[2021-02-22 00:20] ycy1766 commented on #7276
ops log setting is disabled by default.  You can check it by adding the configuration to the rook-config-override configmap.
[code]

[2021-02-22 00:57] jshen28 opened #7279 "parallelize ceph auth create or update process"
**Is this a bug report or feature request?**
* Feature Request

parallelize ceph auth create or update process

**What should the feature do:**

parallelize ceph auth create or update process

**What is use case behind this feature:**

# Rook Update Cluster Time Consuming

## Problem Description

When updating `CephCluster` or restarting operator, synchronizing state of
osd deployment is time cons

[2021-02-22 01:11] jshen28 commented on #7279
Or could we move osd keyring creating to provision?

[2021-02-22 02:36] satoru-takeuchi commented on #7278
Although sigsegv will be fixed in #7280 , there still be a timeout problem described in this PR. I suspect that this behavior is related to #7075 . I'm investigating whether my assumtion is correct or not.

[2021-02-22 05:26] zamnuts commented on #7038
I came across this bug using helm@3.5.2 against k8s@1.19.3, when both upgrading from rook@1.4.6 to and freshly installing rook@1.5.7.

However, I did _not_ encounter this bug using helm@3.2.4 (k8s@1.19.3, rook@1.5.7).

[2021-02-22 06:01] ron1 commented on #6776
@BlaineEXE I think most Helm users have these expectations of a chart. First, a helm install of a chart should result in the deployment of a fully-functional workload configured with reasonable defaults. Second, values.yaml files are available to customize the workload to satisfy 90+ percent os users. The current rook-ceph helm chart meets neither of these requirements.

Whether a helm chart embed

[2021-02-22 06:33] jaxels10 commented on #6776
@ron1 I can weigh in here a bit since I made the comment you quoted.

I agree with you that most new users who use the Rook Helm charts will be looking for a solution that does not only bootstrap the operator. I, myself, was a bit confused, having first deployed my Ceph cluster following the standard Rook guide and everything deploying, to then trying to deploy a cluster through the Helm charts an

[2021-02-22 06:35] jshen28 commented on #7279
Why do we need to generate & save [osd keyring](https://github.com/rook/rook/blob/7404de7b38dbed930750ac601db67fd7d4920004/pkg/operator/ceph/cluster/osd/osd.go#L595). Looks like `lvm batch --prepare` will [create it](https://github.com/ceph/ceph/blob/2a9d726fbb6d0bb18020b79ac376839e5dd79067/src/ceph-volume/ceph_volume/util/prepare.py#L444)

[2021-02-22 06:48] ron1 commented on #6776
@jaxels10 Thanks for your feedback.

Using a separate helm chart just for crds seems to be a common pattern for crd-based workloads and is how we deploy Rook Ceph today via helm and kustomize.

[2021-02-22 06:51] jaxels10 commented on #6776
@ron1 That makes sense. How about when you update your Rook version. I assume you do it through the Helm charts? If so - every time there is an update, don't you need to "rearrange" the Helm chart to fit your structure before upgrading?

I am trying to make updating the Rook version as easy as possible which is why I am trying to figure out the "best" way to structure my Helm charts for that.

[2021-02-22 06:54] ron1 commented on #6776
Are you referring to patch version updates or minor version updates?

[2021-02-22 06:56] jaxels10 commented on #6776
For example going from Rook 1.4.x -> 1.5.x

[2021-02-22 07:07] ron1 commented on #6776
I would expect Rook helm chart maintainers to deliver a "rearranged" helm chart version with each quarterly rook version release. The new helm chart version would minimally expose CephCluster CR changes. It might make sense for CephFS and RGW to each have their own charts. It would be helpful to know what percentage of rook ceph users use file and object storage in order to make that decision.

[2021-02-22 07:21] jshen28 commented on #7279
Why do we need [this](https://github.com/rook/rook/blob/7404de7b38dbed930750ac601db67fd7d4920004/pkg/operator/ceph/cluster/osd/osd.go#L595)? because this [call](https://github.com/ceph/ceph/blob/2a9d726fbb6d0bb18020b79ac376839e5dd79067/src/ceph-volume/ceph_volume/util/prepare.py#L153) will create user and keyring automatically.

[code]

[2021-02-22 10:31] leseb commented on #7277
Adding suggestion from the Slack thread.

Just FYI, we have implemented a custom validating webhook for critical resources including CephCluster.

[2021-02-22 11:59] #7278 closed

[2021-02-22 12:22] OPSTime commented on #7276
I've modified the configuration, but I still get the same error. Is it necessary to restart rook-ceph-rgw-object-store pod?

[code]

[2021-02-22 12:28] OPSTime commented on #7200
@travisn  Do I have to manually associate users with buckets? When creating a bucket, can't I directly specify a user as the owner?

[2021-02-22 12:47] satoru-takeuchi commented on #7278
Timeout problem disappeared when expanding `CephConnectionTimeout`. Because the appropriate timeout seems to be different for each cluster, I'd like to send a PR to make this timeout configurable.

I'd also like to unify the two similar timeout value, `CephConnectionTimeout` and `CmdExecuteTimeout`. The former was introduced in #7075. The latter was introduced to set timeout of `rbd` command which

[2021-02-22 17:49] travisn commented on #7279
@jshen28 Is the concern here that adding OSDs takes too long for large clusters? If so, #6926 is expected to help with this. It was just merged and will be included in v1.5.8 later this week.

[2021-02-22 18:19] travisn opened #7287 "make codegen is not failing the CI action when changes are needed"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
`make codegen` in master currently leaves some files changed since #7264 was merged. The codegen CI action should have failed before the merge, but it did not identify the problem. When #7264 was backported, the CI failure was detected as expected in #7274. So the `make codegen` validation is only brok

[2021-02-22 19:24] BlaineEXE commented on #6776
I think I am hearing a proposal that Rook should have 3 helm charts:
- CRDs
- Operator
- CustomResources (e.g. CephCluster)

I still like the idea of keeping the CRDs and Operator in one chart as we currently have them. I think this allows us to be more certain that users will definitely get updates to their CRDs when the Rook cluster is updated. I am hearing that some users like @ron1 use Rancher

[2021-02-22 20:29] travisn commented on #7200
When a bucket is created with an OBC, a user is created for that bucket. If you want to add existing users to new buckets, then they wouldn't get access automatically.

[2021-02-22 20:31] travisn commented on #6980
@evankanderson This will be included in the 1.5.8 release later this week, it should fix this issue for you!

[2021-02-22 20:50] ron1 commented on #6776
@BlaineEXE I think 3 charts is too many. The Banzai Cloud Logging helm chart variants provide a good example of a popular Operator-based Helm Chart with a primary CR like CephCluster. The two variants of this helm chart each use only 2 charts.

Variant #1:
It sounds like @BlaineEXE prefers choice one where the CRDs and the Operator are packaged in one chart and the Logging CR is packaged in anothe

[2021-02-22 21:01] schantaraud opened #7288 "1.5.7: Object Gateway health checks fail when TLS is enabled + Cannot disable heath checks"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

`kubectl describe CephObjectStore ceph-object-store  -n rook-ceph`:
[code]

Note that the endpoint is correct but the error shows that the health check is trying to use HTTP on port 443.

Operator logs:
[code]

Also, setting `healthCheck.bucket.disabled: true` on the CRD is ignored (it doesn't show wh

[2021-02-22 21:23] BlaineEXE commented on #6776
In Banzai Cloud's case, it sounds like they have 4 Helm charts that they maintain independently.

I think it could make more sense in Rook to have 3 Helm charts (CRD, Operator, CR), and then have some parent charts that decide whether to combine them in ways that are best for users. I haven't played with parent/child charts, however, so this could be more complex than I am imagining.

https://helm

[2021-02-22 22:02] ahmedTouati opened #7289 "Terraform destroy doesn't work properly for Rook-operator helm chart"
I'm using terraform to deploy a helm release of Rook-operator, however when i try to destroy it some errors occur but when i try to uninstall it manually (helm uninstall rook-ceph) it works!

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
terraform destroy fails

**Expected behavior:**
terraform destroy uninstalls rook-operator helm release

**How

[2021-02-22 22:07] ahmedTouati commented on #7252
This works, Thanks!

[2021-02-22 22:08] ahmedTouati commented on #7252
1.18

[2021-02-22 22:08] ahmedTouati commented on #7252
This works, Thanks!

[2021-02-22 22:08] #7252 closed

[2021-02-22 22:35] travisn commented on #7289
@ahmedTouati In v1.5.7 annotations were added to the CRDs so that the helm chart would no longer delete them during uninstall. Perhaps terraform is failing due to that issue? See [this doc](https://rook.github.io/docs/rook/v1.5/helm-operator.html#uninstalling-the-chart) for uninstall of the helm chart.

[2021-02-23 00:17] jshen28 commented on #7279
@travisn great to know it has been solved for pvc mode. What about raw devices? Does the same logic also applies to raw device?

[2021-02-23 01:26] ycy1766 commented on #7276
rgw pod needs to be restarted.
And, you should refer to https://github.com/rook/rook/blob/master/Documentation/ceph-advanced-configuration.md#custom-cephconf-settings documentation.

example
[code]

[2021-02-23 03:13] OPSTime commented on #7276
**radosgw-admin log list | grep  ceph**
[code]

**radosgw-admin log show --bucket ceph-bkt --bucket-id fd0477cc-2eea-42d3-8b98-868a73b63bdf.496709.3727 --date=2021-02-23**
`error reading log 2021-02-23-fd0477cc-2eea-42d3-8b98-868a73b63bdf.496709.3727-ceph-bkt: (2) No such file or directory`

**radosgw-admin log show --bucket ceph-bkt --bucket-id fd0477cc-2eea-42d3-8b98-868a73b63bdf.496709.3727 --d

[2021-02-23 04:20] OPSTime commented on #7276
But new problems arise：

**kubectl logs deployment.apps/rook-ceph-mgr-a   --tail 100 -f  -n rook-ceph**
`debug 2021-02-23T04:12:50.474+0000 150cf356d700  0 [dashboard ERROR rest_client] RGW REST API failed GET, connection error (url=http://10.100.127.237:80/?format=json): [errno: 111] Connection refused`

**kubectl describe svc rook-ceph-rgw-object-store -n rook-ceph**
[code]

**kubectl get pods

[2021-02-23 04:24] ycy1766 commented on #7276
`radosgw-admin  log show  `command requires a specify date formatting .

[code]

[2021-02-23 04:52] panyang1217 commented on #7188
Thanks @travisn. I resoved it.
it's my bad. when using RC pool, I need to provide an replicate pool for metadata in storageclass specification.

[2021-02-23 04:52] #7188 closed

[2021-02-23 05:31] thotz commented on #7288
@schantaraud: if I understand correctly there are two issues:

1.) bucket health is not working if SSL is enabled
2.) Cannot disable a bucket health check

Will look into it and update shortly

[2021-02-23 05:37] thotz commented on #7276
Thanks @ycy1766 for helping out.

@OPSTime: This issue seems to be resolved, can you please close this one?
In the logs deployment.apps/rook-ceph-mgr-a, it was trying to reach to rgw wrong endpoint. Hence connection refused messages.
And as @ycy1766 mentioned earlier looks like that is different problem

[2021-02-23 06:37] ron1 commented on #6776
What are the 4 Banzai Cloud Logging charts to which you are referring?

Also, what is the value of managing the Operator and CephCluster CR in separate charts? Is this to support multiple CephCluster CRs per k8s cluster with a single Operator watching multiple namespaces? Would it be more straightforward to support this use case by co-locating the Operator and the CephCluster in specific namespace

[2021-02-23 12:28] OPSTime commented on #7276
The mgr problem occurred after I executed the following command:
`kubectl delete  pod -n rook-ceph -l app=rook-ceph-rgw`

[2021-02-23 14:16] schantaraud commented on #7288
@dulltz: Just to clarify, this is about the global object store health checks. Let me know if you'd rather I opened 2 separate issues.

I also realized that the liveness probe has the same problem but the other way around (HTTPS on port 8080, which is disabled):
[code]

In-between restart, manually running `curl -kv https://100.115.10.208:443/swift/healthcheck` succeeds.

[2021-02-23 14:20] dulltz commented on #7288
I think this mention was directed to @thotz

[2021-02-23 14:24] schantaraud commented on #7288
@dulltz My apologies. Not sure how this happened.

[2021-02-23 16:23] travisn commented on #6665
Haven't seen this for a while, let's reopen if we see it again.

[2021-02-23 16:30] leseb commented on #6665
Actually, it could still occur and the fix is in https://github.com/rook/rook/pull/7217

[2021-02-23 16:45] leseb commented on #7287
It's interesting that https://github.com/rook/rook/pull/7264/checks?check_run_id=1937702846 didn't see any files:

[code]

[2021-02-23 17:02] BlaineEXE commented on #6776
You linked to 4 charts from Banzai before. Operator, Logging, Rancher CRD, and Rancher Logging.

Yes. This is to support users who want one Rook Operator to manage multiple Ceph clusters.

We could force a 1:1 mapping from operator to cluster like you mention. On one hand this doesn't allow for a multi-tentant scenario where admins can create the operator and users can create clusters. On the othe

[2021-02-23 17:08] yanchicago commented on #7120
The release 1.5.7 still has the error.
[code]

[2021-02-23 18:44] BlaineEXE commented on #7120
Please attach full operator logs and the `cluster.yaml` to help debug.

[2021-02-23 18:47] BlaineEXE commented on #7279
@leseb do you know why we generate keyring every time? I know that it is an idempotent operation, so it may be that we do it just to make sure the keyring doesn't get out of sync in Rook if it changes in Ceph for any reason.

[2021-02-23 18:49] travisn commented on #7279
@jshen28 The same changes actually apply to both the raw devices and pvc devices to create new OSDs before updating existing OSDs, the description was just misleading on the PR.

[2021-02-23 19:05] BlaineEXE commented on #7279
@jshen28 I have it as a goal to complete work on parallelizing OSD updates in rook v1.6. See the design doc here: https://github.com/rook/rook/blob/master/design/ceph/update-osds-in-parallel.md

I think this work will go a lot further toward your concerns about 100+ node clusters than parallelizing the keyring generation. But it is good to have this analysis and know that we have another thing we

[2021-02-23 19:27] ron1 commented on #6776
Hi @BlaineEXE I apologize for the confusion.

Banzai distributes two charts to install Logging. The first Banzai chart applies crds and the operator. The second chart applies the Logging CR.

Rancher refactored the two Banzai charts into their own implementation. The first Rancher chart applies crds only. The second chart applies the operator and one or more Logging CRs.

The two charts from Banza

[2021-02-23 19:57] yanchicago commented on #7120
[cluster.yaml.txt](https://github.com/rook/rook/files/6031523/cluster.yaml.txt)
[operator.log0223.txt](https://github.com/rook/rook/files/6031524/operator.log0223.txt)

[2021-02-23 19:58] yanchicago commented on #7120
Attached is the cluster.yaml and operator log. This is a new deploy. Similar failure log is shown after upgrade.

[2021-02-23 20:06] #6439 closed

[2021-02-23 21:34] BlaineEXE commented on #7120
You say this happens after upgrade also. Is there a version of Rook you have running where this does work?

[2021-02-23 21:50] travisn commented on #6776
Before I get into thoughts about organization of the helm charts, first here are some higher level thoughts on Rook's resources and design concerns...

There are three basic categories of resources that need to be managed:
1. CRDs
2. Operator with all its related resources such as RBAC
3. CRs: CephCluster, CephObjectStore, CephFilesystem, CephBlockPool, CephObjectZone, and a number of others...

T

[2021-02-23 22:01] BlaineEXE commented on #6776
I see a potential option to benefit those who want the Rancher model and still give us what we need.
- Separate CRDs into a separate Helm chart
- In the Operator Helm chart, use the above CRDs chart as a child chart to version Operator and CRDs together as we do today. Provide an option to disable management of the CRDs child chart for the Rancher use-case requested.
- I think we can consider a CR

[2021-02-23 22:43] yanchicago commented on #7120
Could you please include the ticket about the above "k8s network config" ?

[2021-02-24 00:14] jshen28 commented on #7279
@BlaineEXE good to know update will be parallelized in future. About `generateKeyring`, I do feel it is more appropriate to put it
under provisioning job, because this keyring is actually generated by `ceph osd new` command.

[2021-02-24 00:34] jshen28 commented on #7279
@travisn hmm.... I saw new status `OrchestrationStatusAlreadyExists` is set only in `startProvisioningOverPVCs`. Is this method also affecting raw devices?

[2021-02-24 04:40] subhamkrai commented on #7287
@leseb right, it wired that  `git` var is empty which means `git status --porcelain` showing no changes :thinking:? looking more in this.

[2021-02-24 05:24] jshen28 commented on #7279
3@BlaineEXE looks like `generateSecret` is added by #70810dd55a, does this secret still being used?

[2021-02-24 14:15] leseb commented on #7279
Honestly, I think it's a relic from an ancient time when Rook was not using ceph-volume :)

[2021-02-24 15:25] yanchicago commented on #7120
rook 1.4.8 has below error messages when operator starts up. There's no other error messages. This was tested in the same k8s cluster as with rook 1.5.6/1.5.7.
[code]

[2021-02-24 20:06] #6577 closed

[2021-02-24 22:34] aasraoui opened #7303 "Rook Ceph osd crash"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

Setup a k8 cluster with 1 master & 4 workers
**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs,

[2021-02-25 00:26] ycy1766 commented on #7276
@OPSTime This issue seems to occur when the rgw pod is deleted.  I think ,It seems to be a general issue that occurs because the pod is created again.

[2021-02-25 04:10] ron1 commented on #6776
Has Rook had success in the past upgrading crd versions with the crds and operator in the same chart? This seems to be a scenario that Helm 3 explicitly does not support. Did rook support helm charts back when rook ceph upgraded to v1 crds?

[2021-02-25 06:50] briantopping opened #7305 "Separate dataDirHostPath from image version logic in external cluster validation"
**Is this a bug report or feature request?**
* Feature request

**What should the feature do:**
An external cluster configured with an image version will be rejected by [this code](https://github.com/rook/rook/blob/8b753e2923819dea8da6643e9355c5c461dbc685/pkg/operator/ceph/cluster/cluster_external.go#L180-L184) if `dataDirHostPath` is not defined. It does not matter if the features that require `d

[2021-02-25 08:18] leseb commented on #7303
Fill the template correctly and provide OSD logs. Thanks.

[2021-02-25 09:28] #6665 closed

[2021-02-25 13:51] #7279 closed

[2021-02-25 14:25] leseb commented on #7305
I think I'm confused. The only reason why you would pass an image version is if you are looking at deploying RGW/MDS on the control plane which does not seem to be your use case.
The issue you pointed reflects an OSD deployment issue, OSDs are **only** deployed and managed in converged mode, so again it looks like your use case is safe.

Am I missing something?

[2021-02-25 14:39] travisn commented on #6776
Rook has been on v1 CRDs since v0.9, while the helm chart was created perhaps back in v0.5. I don't recall hearing of any issues during that upgrade when the version was updated.

Rook's approach to the CRDs is that we will plan on keeping them at v1 and hold a backward compatibility promise. If there is a need to go to v2, it would be a major breaking change and we have no plans for such a change

[2021-02-25 16:36] BlaineEXE commented on #7120
Let's figure out what the issue is in your case, and then we can include information in the k8s network config section. What k8s distribution and CNI are you using?

[2021-02-25 18:11] briantopping commented on #7305
Thanks @leseb, I came to this use case initially because my external cluster wasn't loading, after looking at the code, I saw that it was because I was specifying a container version to get around #6849. My external clients don't need RGW and CephFS, but I believe the features are unlocked if `dataDirHostPath` is defined (this issue should be closed if that's not the case). It's unclear if some _o

[2021-02-25 19:23] ctrahey opened #7312 "Docs: ceph-teardown.md outdated and ignores cleanup-policy technique"
**Is this a bug report or feature request?**
* Bug Report (Docs)

**Deviation from expected behavior:**
[ceph-teardown.md](https://github.com/rook/rook/blob/master/Documentation/ceph-teardown.md) describes a painfully manual and outdated technique for cleaning disks.

**Expected behavior:**
Rook Docs, even early tutorials/walkthroughs, should include the latest, safest, idiomatic techniques.

**Ho

[2021-02-25 20:08] obi12341 commented on #6654
still no solution for this?

[2021-02-25 20:20] JamesLaverack commented on #4752
For anyone stumbling across this issue, as I did: This seems to have been fixed in Cilium, but requires kernel v5.8 or newer.

[2021-02-25 20:36] aasraoui commented on #7303
operator logs:

2021-02-24 19:38:47.560758 I | rookcmd: starting Rook v1.5.6 with arguments '/usr/local/bin/rook ceph operator'
2021-02-24 19:38:47.560973 I | rookcmd: flag values: --add_dir_header=false, --alsologtostderr=false, --csi-cephfs-plugin-template-path=/etc/ceph-csi/cephfs/csi-cephfsplugin.yaml, --csi-cephfs-provisioner-dep-template-path=/etc/ceph-csi/cephfs/csi-cephfsplugin-provisioner

[2021-02-25 21:34] ron1 commented on #6776
@travisn Since the Rook Operator deployment is more complex than most, it probably makes to limit the number of Rook Operators per k8s cluster to one. Furthermore, it seems some users want to manage multiple CephCluster CRs per k8s cluster, each in its own namespace. In order to support these more complex deployments, it makes sense to separate the Operator helm chart from the Ceph Cluster CRs hel

[2021-02-25 23:53] travisn commented on #7312
Yes, clearly we should be documenting in the cleanup procedure how to use the cleanup feature. :)

I'd suggest we still keep the existing sections on the cleanup in case the cluster cleanup feature is not used, but the cleanup feature would be the first recommendation.

[2021-02-25 23:58] travisn commented on #6654
There is a related discussion in #7121. There is a PR in progress in the ceph repo that at a glance will help with this scenario as well.

[2021-02-26 02:11] #7275 closed

[2021-02-26 07:01] ycy1766 opened #7318 "Zonegroup crd does not work on rook 1.5.7 or higher."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Zonegroup is not created using CephObjectZoneGroup crd.

**Expected behavior:**
Created a zonegroup using CephObjectZoneGroup crd.

**How to reproduce it (minimal and precise):**

I created a zonegroup using the CephObjectZoneGroup crd in rook 1.5.7 and 1.5.8.
[code]
However, realm is created, but zone

[2021-02-26 11:02] davralin opened #7319 "Unable to create erasure-coded cephfs presumable due to ceph-bug #1785465"
**Is this a bug report or feature request?**
* Bug Report

**Background:**
I had my bulkstorage cephfs pool created with replication, decided to recreate it with erasure-coded pools instead, to increase storage capacity.
Deleted all PVC's from cephfs, kubectl delete -f filesystem.yaml; kubectl delete -f csi/cephfs/storageclass.yaml.
kubectl apply -f csi/cephfs/storageclass.yaml; kubectl apply -f f

[2021-02-26 15:42] aasraoui commented on #7303
[osd-logs.txt](https://github.com/rook/rook/files/6050700/osd-logs.txt)

[2021-02-26 17:17] davralin commented on #7319
Think I found the culprit here, might not be a bug anyway - working on confirming. :-)

[2021-02-26 17:25] benjaminwinokur commented on #4896
I experienced this issue when running on GKE Ubuntu pools on a VPC. The system worked, but when upgrading our nodepool to a new api version we were unable to attach to to our PVCs. Upgrading ceph to v1.5.8 allowed us to reattach our pods to the PVCs. I don't know if this will fix the issue long-term or if it will break again. Its possible, it would have worked if I just patched all of the deployme

[2021-02-26 19:12] mecseid commented on #7038
Same issue with v1.5.6 -> v1.5.8 upgrade path.

[code]
[code]

[2021-02-26 20:06] #6636 closed

[2021-02-26 21:45] aasraoui commented on #7303
osd log attached..
Thanks!!

[2021-02-26 22:07] davralin commented on #7319
So, this was almost all me.
[code]

Wrong fsName in the cephfs-storageclass.

I did encounter #4006 also, but that was easily fixed by creating the subcolumes (remember to replace cephfs with myfs-ec).

That being said, would it make sense to have a separate `storageclass-ec.yaml` in the repo?

Since it's basically being this diff, I can create/PR it if wanted.

Consider the "bug" rejected and a q

[2021-02-27 00:16] travisn commented on #7319
@davralin Good to hear it's working now. Yes, sounds good if you want to open a PR for the cephfs storageclass-ec.yaml. We have one already for rbd, so an example would help for cephfs as well. Thanks!

[2021-02-27 00:18] travisn commented on #7318
@alimaredia Any ideas on this error?
[code]

[2021-02-27 00:39] travisn commented on #6776
@ron1 Thanks again for your perspective. What I'm still struggling with is the reason that the CRDs should be in their own chart instead of with the operator as it is today, since we treat the operator as a singleton and want it to be versioned with the CRDs. When researching the helm recommendations for CRDs a few months ago, the reasons to treat the CRDs differently and put them in the `crds` fo

[2021-02-27 12:23] rust84 commented on #7038
Make sure you are applying the latest version of the CRDs. Helm 3 does not update CRDs automatically.

`https://raw.githubusercontent.com/rook/rook/v1.5.8/cluster/examples/kubernetes/ceph/crds.yaml`

This fixed it for me.

[2021-02-27 12:58] abdelmonem17 commented on #5378
what was the problem and how did you fixed it I has the same problem?

[2021-02-28 04:29] briantopping commented on #7036
This would be essential in a multi-tenant environment that I'm trying to set up. Pacific has support for cephx caps on multiple CephFS deployments, either one of these solutions could provide the necessary isolation.

Question: Would it be possible to wrap existing upgrade existing CephFS PVCs with this functionality when it's ready? Or will everything need to be rebuilt?

[2021-02-28 12:39] carrio110 commented on #6865
I think it's ceph that's re-creating the lvm group for the SSD and then tripping over it later in the provisioning process. I'm having this same issue with some brand new SSDs that I pre-emptively prepared using the teardown steps, just in case the disks shipped with partitions and filesystems from the factory.
There are 2 disks on each node intended for storage, 1 rotational disk (/dev/sdb) and a

[2021-02-28 20:27] ahmedTouati opened #7321 "PGs are stuck in unkown state after adding new device sets"
I had a ceph cluster with 3 OSDs belong to the same device set (set1), then i added two other device sets (set2 and set3) each with one OSD, So i had to decrease the number of OSDs in set1 from 3 to 1, but what i got is a list of OSDs (osd0, osd1,osd2, osd3,osd4) and 5 PVCs (set1xxx, set1yyy, set1zzz, set2xxx, set3xxx). what i expected is 3 osd (osd1,osd2,osd3) and 3 PVCs (set1,set2,set3). I tried

[2021-02-28 20:37] ahmedTouati commented on #7289
@travisn i tried removing all CRDs created by rook helm chart beforing launching terraform destroy but i had the same issue

[2021-03-01 02:51] jmmaloney4 commented on #7038
The helm chart should probably manage CRDs automatically. https://helm.sh/docs/chart_best_practices/custom_resource_definitions/

[2021-03-01 04:44] subhamkrai opened #7322 "Use cert-manager for admission controller"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Use cert-manager for admission controller certificate.

[2021-03-01 09:06] #7276 closed

[2021-03-01 10:35] #7287 closed

[2021-03-01 12:26] ThomasTacke commented on #6865
I can confirm that it's seems to be an issue with the ceph.
I changed in `cluster.yaml` the version to `image: ceph/ceph:v14.2.8` and then everthing was created correctly.

[2021-03-01 15:30] leseb commented on #7321
Output of `ceph -s` please.

[2021-03-01 16:17] ahmedTouati commented on #7321
cluster:
    id:     104d8c52-5ccf-4069-8d19-1509db40020b
    health: HEALTH_WARN
            1 filesystem is degraded
            1 MDSs report slow metadata IOs
            1 osds exist in the crush map but not in the osdmap
            Reduced data availability: 65 pgs inactive
            6 daemons have recently crashed
            OSD count 0 < osd_pool_default_size 3

  services:
    mon: 3

[2021-03-01 16:18] ahmedTouati commented on #7321
cluster:
    id:     104d8c52-5ccf-4069-8d19-1509db40020b
    health: HEALTH_WARN
            1 filesystem is degraded
            1 MDSs report slow metadata IOs
            1 osds exist in the crush map but not in the osdmap
            Reduced data availability: 65 pgs inactive
            6 daemons have recently crashed
            OSD count 0 < osd_pool_default_size 3

  services:
    mon: 3

[2021-03-01 16:31] mmueen commented on #6865
@ThomasTacke , but it appears that falling back to an earlier version doesn't work for everyone. It didn't help when I tried it last.

[2021-03-01 17:16] leseb opened #7327 "CI failing for scenario including partitions"
Example failure:

[code]

I suspect something has changed in the Github action VMs...
I'll look soon.

[2021-03-01 17:18] leseb commented on #7327
Actually, it seems that the latest image has switched to 20.20 we were warned a few months back but never realized what the impact would be.

[2021-03-01 17:18] alimaredia commented on #7318
@travisn Let me see if I can recreate the issue. @ycy1766 Did you see this issue with any of the other multisite CRDs?

[2021-03-01 17:44] #7327 closed

[2021-03-01 18:58] BlaineEXE commented on #7321
It's hard to tell if any data will be recoverable. If you don't need to recover data, I might suggest deleting the whole rook cluster and creating a new one with the devices you want.

[2021-03-01 19:04] travisn commented on #7321
When removing the OSDs, this must be done very carefully to avoid data loss. Please see the guide on [removing OSDs](https://rook.github.io/docs/rook/v1.5/ceph-osd-mgmt.html#remove-an-osd).

[2021-03-01 19:10] travisn commented on #7038
@jmmaloney4 There is a discussion on helm design and best practices in #6776. Rook is treating the CRDs as templated resources and does not use the `crds` folder, so it is not expected to apply the updated CRDs resources separately.

If applying the latest CRD fixes it as mentioned in [this comment](https://github.com/rook/rook/issues/7038#issuecomment-787064984), the gap is still that it does not

[2021-03-01 20:03] davidhiendl commented on #7038
@travisn I was able to reproduce this consistently with the steps outlined when I opened this issue (several runs in CI + across different clusters)

[2021-03-01 20:22] travisn commented on #7038
@davidhiendl Thanks for the confirmation, I'll try again...

[2021-03-01 22:21] travisn commented on #7038
Ok, I was able to hit the error `cannot convert int64 to float64` consistently with the Rook upgrade when running on K8s 1.19.6. When I tried the exact upgrade scenario on K8s 1.20.4, it did not repro. My helm version is v3.5.1.

Applying the `crds.yaml` from the Rook release worked around the issue and allowed me to proceed to upgrade the helm chart. Has anyone else been able to repro this on K8s

[2021-03-01 22:28] davidhiendl commented on #7038
@travisn I'll try to reproduce it in our automated clusters & CI pipelines tomorrow, but I'll first have to get a RKE test version running as release version only supports 1.19.

[2021-03-02 00:23] ycy1766 commented on #7318
@alimaredia Yes, it happens on multisite crd.

[2021-03-02 01:15] briantopping commented on #5351
Followup: One solution I ended up finding for this was to wire systemd to ignore the situation via `systemctl mask dracut-shutdown`.

[2021-03-02 05:49] thotz commented on #7288
@schantaraud have posted two PRs for issues mentioned earlier
1.) --> https://github.com/rook/rook/pull/7330
2.) --> https://github.com/rook/rook/pull/7331

[2021-03-02 08:31] OPSTime commented on #7276
Thanks

[2021-03-02 08:34] leseb opened #7335 "Having a question? Use the Discussions space!"
We keep this [issues](https://github.com/rook/rook/issues) section for bug reports and feature enhancement **only**.

If you have a question about using Rook, you can use our [Discussion](https://github.com/rook/rook/discussions) section.

[2021-03-02 09:10] ahmedTouati commented on #7321
Is there any way to recover old data ?

[2021-03-02 09:12] ahmedTouati commented on #7321
Removing the whole cluster isn't an option because i need old data

[2021-03-02 09:46] leiw324 opened #7338 "Stuck on poweroff"
Hello,

I am using KVM in Linux CentOS 7.8  to deployed Kubernetes 1.17 cluster, also deployed rook-ceph 1.5.x three nodes in this cluster.

After I deployed Deployment to mount pvc, when poweroff Linux will stuck on the following screen:
image.png
![image](https://user-images.githubusercontent.com/33790160/109629752-206cdb00-7b7f-11eb-813a-41c04b7691c9.png)

I have to enforce a hard reset to shut

[2021-03-02 13:40] mathieu-rossignol commented on #6849
Hi,

I have rook-ceph-v1.5.8 and I'm getting this issue if I use anything else than ceph/ceph:v15.2.7.
At least with these versions of ceph I'm facing this issue:

- v15
- v15.2.8
- v15.2.9

I seems there is a regression after 15.2.7 :(. But in fact isn't it a pure ceph issue ?

[2021-03-02 13:41] rohan47 commented on #7338
Can you please add more details?
The above information is vague and the error can be due to other reasons.

[2021-03-02 18:35] travisn commented on #7203
@Madhu-1 @leseb Can we just always disable host networking on the CSI driver as long as the CSI driver and Ceph version numbers have the required fixes? Or is there any scenario where host networking is still required?

[2021-03-02 18:38] travisn commented on #7321
You need to bring back the OSDs. Did you completely delete all of them? This says that there are no more OSDs:
[code]

And from the status:
[code]

[2021-03-02 21:14] yanchicago opened #7342 "FailedMount with "timed out waiting for the condition""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When pod was rescheduled, its volume was failed in mount with messages " Warning  FailedMount  60s (x8 over 39m)    kubelet, n05cicompute-worker-04  Unable to attach or mount volumes: unmounted volumes=[data backup], unattached volumes=[ckng-ccas-apache data backup default-token-56hhf]: timed out waiti

[2021-03-02 22:19] ahmedTouati commented on #7321
I deleted all of them but i expected rook-operator will bring them back

[2021-03-02 22:47] jhoblitt commented on #4315
@LouNauSRC I appreciate you posting a workaround.

I to am interested in rook having native support for setting up ldap integration.

[2021-03-02 23:59] travisn commented on #7321
Rook will bring them back if the underlying disk is still there and they're still registered with Ceph. But it looks like they have been purged from Ceph as well since it shows 0 OSDs. Check in the OSD prepare logs, they should show if the disks are found again.

[2021-03-03 00:03] travisn commented on #4315
@jhoblitt Thanks for the reminder. What about this?

Seems like the following should be sufficient:
- In the CephObjectStore CR add a new property such as `enableLDAP: true`
- The operator would expect a secret to exist (e.g. rook-ceph-rgw-ldap-<storename>) and mount the secret into the rgw pod(s)
- The settings would be applied to the ceph config. Command line args on the pod spec could be used (

[2021-03-03 02:58] #6683 closed

[2021-03-03 03:44] Madhu-1 commented on #7342
@yanchicago please provide more details as below

* issue is in cephfs or rbd
* Is it happening frequently or always
* Provide logs from the plugin containers of the cephfs or rbd daemonset pod from the node where the mount is timing out
* provide dmesg logs from the node where mount is timing out.

[2021-03-03 03:53] Madhu-1 commented on #7203
No dependency with the cephcsi and ceph version because it's a CLI change as long as the base image of cephcsi has the flag it should work without any issue.

Hostnetworking might be required for some people https://github.com/rook/rook/pull/6310#issuecomment-697968329. we can disable it by default. if we don't provide the option to control it if someone wants to switch to hostnetworking either th

[2021-03-03 05:13] thotz commented on #7288
https://github.com/rook/rook/pull/7334/ address liveprobeness issue.

[2021-03-03 06:13] xuchenCN commented on #6922
CreateCrashCollectorSecret called after mon startup, here is the snippet, and I enable the DEBUG log from operator to track this function never called, may the secret could be create before the mon starup procedure?

[code]

[2021-03-03 06:19] kevindwei commented on #6893
me to ,after  reboot.      is  is successful!!!

[2021-03-03 09:55] denis256 opened #7346 "Rook helm chart linting errors"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Noticed that lint of rook-helm chart is not passing now because of invalid metadata names

[code]

**Expected behavior:**
Helm lint to pass

**How to reproduce it (minimal and precise):**
Use helm 3.4+, run:
[code]

[2021-03-03 10:27] Madhu-1 commented on #7346
this is a helm lint bug https://github.com/helm/helm/issues/9197 we are yet to add helm lint to rook CI https://github.com/rook/rook/pull/6868 waiting for the bug to get fixed in helm first.

[2021-03-03 10:28] Madhu-1 commented on #7346
duplicate of https://github.com/rook/rook/issues/6851

[2021-03-03 12:53] humblec commented on #7203
Yeah, imo, its good to disable it by default as we dont have the dependency any more for both of our plugins. But when we disable, its good to control it via knob so that if someone want to enable it, they could do so and we can also a fall back easily if needed by this  controlling option.

[2021-03-03 15:06] jav333 commented on #7338
Hello,

![image](https://user-images.githubusercontent.com/79013136/109824288-a5d1b780-7c73-11eb-8b29-b5aa8e44df66.png)
![image](https://user-images.githubusercontent.com/79013136/109824315-ad915c00-7c73-11eb-8610-708e40868e68.png)
![image](https://user-images.githubusercontent.com/79013136/109824467-d1ed3880-7c73-11eb-840f-045e615efa82.png)
![image](https://user-images.githubusercontent.com/79013

[2021-03-03 15:18] leseb commented on #6849
Let me summarize (hopefully) once and for all.

**Problem**:  ceph-volume lvm is not creating OSDs on partitions anymore **as of** Nautilus v14.2.13 and Octopus v15.2.8 and **onward**. The error can be seen from the osd prepare job logs and resemble:

[code]

**Solutions**:

1. Use full devices (e,g: `/dev/sda`) or Logical Volumes on top of your partition, Rook could happily propose LVs to ceph-vo

[2021-03-03 15:18] #6849 closed

[2021-03-03 15:24] travisn commented on #7203
To capture a separate discussion:
- The default will be to disable host networking for the csi driver, starting in Rook v1.6
- Upgraded clusters will still default to host networking enabled in the csi driver, just to ensure no surprises
- Example manifests will set host networking to be disabled by default in the csi driver
- A setting will be available in the `rook-ceph-operator-config` configma

[2021-03-03 15:32] leiw324 commented on #7338
Hello,

![image](https://user-images.githubusercontent.com/33790160/109829513-9012c100-7c78-11eb-96b6-b6dd4179a5ab.png)
![image](https://user-images.githubusercontent.com/33790160/109829528-943ede80-7c78-11eb-8c90-3957aa7c9cee.png)
![image](https://user-images.githubusercontent.com/33790160/109829545-986afc00-7c78-11eb-8da9-523fb1163fdd.png)
![image](https://user-images.githubusercontent.com/33790

[2021-03-03 16:06] yanchicago commented on #7342
1. Issue is in rbd
2. frequently
3. Rescheduled a pod with pvc ( pvc-dd4b03b3-29a2-4b68-a70a-1edf34ac631c and pvc-0c162899-e30e-47f9-aab4-d1c1a58482e1) to worker-05
4. Attached is the rbd-w05.log and dmesg.out on worker-05 node.
[w05.tar.gz](https://github.com/rook/rook/files/6077298/w05.tar.gz)

[code]

[2021-03-03 17:37] jhoblitt commented on #4315
@travisn That sounds about right. `CephObjectStore` is clearly the the right scope to set `rgw_ldap_uri`, etc.  My personal preference is to allow the secret holding the ldap credentials to be explicitly listed in the `CephObjectStore` resource rather than looking for it heuristically.

Maybe something like this?

[code]

[2021-03-03 17:55] #4768 closed

[2021-03-03 18:18] jhoblitt opened #7351 "Bug Report: Unable to delete ObjectBucketClaim / CephObjectStoreUser if StorageClass is missing"
* Bug Report

Consider the following yaml:

[code]

When running `kubectl apply -f foo.yaml && sleep 20 && kubectl delete -f foo.yaml` removal of the `CephObjectStoreUser` & `ObjectBucketClaim` resources hang infinitely (unless the finalizer is manually removed).

Log from operator:

[code]

Recreating the `sc` allows the operator to to cleanup:
[code]

**Expected behavior:**

The general expectat

[2021-03-03 19:07] travisn commented on #7351
The message looking for the storage class looks like it's from lib-bucket-provisioner, it may be looking at the sc to determine the object store to query for existing buckets. Agreed that we should just allow removal of the finalizer if the sc is gone unless I'm forgetting something critical. @BlaineEXE wdyt?

[2021-03-03 19:10] jhoblitt commented on #7351
@travisn As it is now, if I manually remove the finalizers then I have to also manually remove the user & bucket with `radosgw-admin`.

[2021-03-03 20:12] jstewart612 commented on #7233
bump

[2021-03-03 23:43] yanchicago opened #7353 "Failed on creating cephobjectstoreusers"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Failed on creating cephobjectstoreusers. After apply "object-user.yaml", there's cephobjectstoreusers created but its secret is not created. And within ceph, the user is not seen by "radosgw-admin user list".
[code]

**Expected behavior:**
The user and its secret are created together.

**How to reprodu

[2021-03-03 23:52] travisn commented on #7353
@yanchicago It appears the operator is not reconciling the object store users. Before the restart, there are errors about the watcher failing, then after the restart, the operator is getting stuck reconciling the OSDs. Back in Rook v1.2, the operator would wait for the OSDs to complete the reconcile before starting to reconcile the other CRs such as the object users.

So the question is why the OS

[2021-03-04 02:08] goshlanguage commented on #6865
experiencing the same with `image: ceph/ceph:v15.2`

[2021-03-04 03:01] subhamkrai commented on #7233
@jstewart612 can you make sure when you install cert-manager all the cert-manager pods are `running` and `ready` before running webhook.yaml .

[2021-03-04 12:18] alexcpn commented on #4896
For me it was a k8s bug

CSI Provisioning logs

[code]
kubelet logs

[code]

Others

[code]

Bug solution - https://github.com/kubernetes/kubernetes/issues/60987#issuecomment-673915505

However in our system we could not do this and restarted all the k8s nodes and then all Pending bound

[code]

[2021-03-04 13:52] Muyan0828 commented on #6183
I think the root case is that your filesystem was recreate, cephfs-csi stores a bool variable in memory for each cluster to mark whether a subvolumegroup has been created, cephfs-csi corresponds to a cluster via the clusterID field in StorageClass, which is set to the namespace of the cephcluster in rook, so when the CephFilesystem is rebuilt in the same namespace and StorageClass is recreated, in

[2021-03-04 15:54] paalkr commented on #7176
@travisn , unfortunately https://github.com/rook/rook/pull/7192 didn't fix this issue. Now with the 1.5.8 release the node affinity and toleration from the placement (device OSDs) are applied to the PVC OSDs, and the affinity and toleration in the deviceSet are totally ignored.

[2021-03-04 16:50] yanchicago commented on #7353
@travisn Yes, you're correct. After I deleted one of prepare job, the orchestrating completed and the object user was created successfully. Many thanks.

[2021-03-04 17:03] travisn commented on #7353
Ok sounds good, we can close this issue then?

[2021-03-04 17:07] yanchicago commented on #7353
Yes. Thanks.

[2021-03-04 18:10] stefanfritsch commented on #7064
Sorry for the late reply. #6147 does contain the solution. With the cluster name (rook-ceph) it works:

[code]

I still can't consume the exported volumes - I assume because I use net: host for ceph and haven't opened a node port. But that's a different issue. :)

[2021-03-04 18:20] stefanfritsch commented on #7064
Oops, closed that too early, the thread linked to the [design document](https://github.com/rook/rook/blob/master/design/ceph/ceph-nfs-ganesha.md) that contains an imho absolutely sufficient explanation of what to do and what to expect from ganesha.

But I just saw that the [docs for master](https://rook.io/docs/rook/master/ceph-nfs-crd.html) still don't reflect that.

If you could add the followin

[2021-03-04 19:44] travisn commented on #7176
Ok, the combinations are proving difficult... How about reopening this issue or opening a new one, also with a more detailed example of the unexpected behavior? thanks

[2021-03-04 20:03] travisn commented on #7267
Resolved by #7315 and will be included in v1.5.9...

[2021-03-04 20:03] #7267 closed

[2021-03-04 20:07] travisn commented on #6376
@sp98 So this is expected to be fixed with #4879?

[2021-03-04 20:08] travisn commented on #7213
The rate limiting is supposed to be lifted now for the Rook project. @ibotty Shall we close this or are you still seeing any issues

[2021-03-04 20:19] ibotty commented on #7213
I only see it when updating rook.  I can try to simulate it again, but I would trust your assertion and reopen if I run into it again.

[2021-03-04 20:19] #7213 closed

[2021-03-04 23:40] travisn opened #7359 "OSDs are being double processed and restarted immediately after creation"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The OSDs are being restarted immediately after creation. There are several manifestations of the cause:
- The OSD prepare log shows each OSD is duplicated in the results returned to the operator [1]
- The message in the operator log shows `op-osd: starting 6 osd daemons on node minikube`, when there sh

[2021-03-05 06:55] psavva commented on #6183
Are you able to reproduce this consistently with logs?
If so, please can you attach it here, and hopefully the rook team can have
a look, and produce a fix accordingly.

On Thu, Mar 4, 2021 at 3:53 PM Muyan0828 <notifications@github.com> wrote:

[2021-03-05 06:59] Madhu-1 commented on #6183
In production, Normally we don't expect the admin to delete and recreate the filesystem with the same name always.  keeping the performance of PVC creation in mind we just create a subvolume group once in cephcsi driver per subvolume. if you delete and recreate the filesystem you need to restart the csidriver.

[2021-03-05 07:12] #7346 closed

[2021-03-05 20:06] #5724 closed

[2021-03-05 21:32] yanchicago commented on #7342
Any clue on what it waits for with message " timed out waiting for the condition"?
Saw one scenario that the pod recovered after long time.

[2021-03-06 05:24] jav333 commented on #7338
Can someone help?

[2021-03-06 08:10] paalkr commented on #7176
Sorry, but I do not have the permission to reopen this issue

Given the cluster spec in the original message, the PVC OSD now ended up with
[code]
Which is only the nodeAffinity from the device OSD, not the PVC OSD.

[2021-03-06 14:07] advancedwebdeveloper opened #7361 "cluster.go:40:77: undefined: reflect2.DeepEqual"
I was unable to build rook, when patched the project, to target reflect2:

Here is a forked repo:

https://github.com/advancedwebdeveloper/rook

CC'ing to committers of reflect2 package:
@mythi @justinsb @taowen @jlauinger @nextzhou @paleozogt

[2021-03-07 12:34] hhy5861 opened #7362 "pool not found: pool (replicapool) not found in Ceph cluster"
rook ceph operator:  v1.5.8
ceph: v15.2.9

csi-rbdplugin-provisioner error messages:
[code]

Cluster Status:
[code]

[2021-03-07 14:26] Madhu-1 commented on #7362
Have you created the the pool named replicapool?

[2021-03-07 14:55] hhy5861 commented on #7362
Yes, I have created a replicapool

![image](https://user-images.githubusercontent.com/8274977/110244089-1dffec00-7f98-11eb-8303-765f837cd5ec.png)

[2021-03-07 14:56] Madhu-1 commented on #7362
Can you run 'ceph OSD lspools' from toolbox pod?

[2021-03-07 14:59] hhy5861 commented on #7362
It runs, but the replicapool is not found. All created manually.

[2021-03-07 15:01] Madhu-1 commented on #7362
If the replicapool is created you should be able to see it with above command. Check operator logs it might help you to see what is the exact issue

[2021-03-07 15:03] hhy5861 commented on #7362
You can find it if you create it manually. I saw that there is no abnormality when creating operator logs to refer to the log.

[2021-03-07 15:05] hhy5861 commented on #7362
This kind CephBlockPool cannot be deleted through kubectl. (kubernetes 1.8.x)

[2021-03-07 15:06] Madhu-1 commented on #7362
The operator is the one who creates the block pool. If you are not able to see the replicapool in toolbox, if there is any error during pool creation rook operator will log it.

[2021-03-07 15:07] Madhu-1 commented on #7362
Kubernetes 1.8.x? Without logs we cannot help much

[2021-03-07 15:10] hhy5861 commented on #7362
There is no error log during the creation process. So I think it should be a version compatibility issue.

[2021-03-07 16:07] Madhu-1 commented on #7362
@hhy5861 please attach the rook operator pod logs to check what is the issue

[2021-03-07 21:18] jmmaloney4 opened #7363 "Operator not reconciling due to "active+clean+remapped" PG"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Ceph cluster is in good health, except has one pg in "active+clean+remapped". However the MDS deployments are on the wrong ceph version. Rook continues to print this message:

[code]

I deleted one of the MDS deployments to see if that would trigger rook to recreate it, and it has not recreated it.

*

[2021-03-07 23:00] advancedwebdeveloper opened #7364 "gofmt failure, with Go 1.16 (Aarch64) + patching, on behalf of go-reflect package"
[rook_go-reflect.diff.zip](https://github.com/rook/rook/files/6098117/rook_go-reflect.diff.zip)

[2021-03-07 23:01] advancedwebdeveloper commented on #7364
[unit-tests.zip](https://github.com/rook/rook/files/6098119/unit-tests.zip)

[2021-03-08 00:10] advancedwebdeveloper commented on #7364
Hi.
I am using Go 1.16 on an Aarch64 server.

[2021-03-08 00:41] zerkms opened #7365 "cephobjectstore removal problem: too liberal label selector"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I run 5 `cephobjectstore`s (with quite a bunch of buckets there). Then I created another 6th `cephobjectstore`.

I did not use it for anything and after several minutes I decided I don't need it anymore.

I run a `kubectl delete` command which blocked in finalizer, and in the operator logs there is a

[2021-03-08 03:16] subhamkrai commented on #7176
@paalkr then please open a new issue as Travis said. Thanks.

[2021-03-08 04:29] hhy5861 commented on #7362
rook operarot logs:

[code]

[2021-03-08 09:40] ahmedTouati opened #7366 "How to extend the ceph filesystem if we reach the maximum size of OSD disks ?"
I'm running a rook-ceph cluster with 3 OSDs which span 3 EBSs, everything is running as expected but we know that the maximum size of those EBSs is 16TBs, we presume that in the future we'll hit that limit, in this case, all OSDs will be filled up, we think of using more OSDs  with grouped replication but i don't know if that possible.

[2021-03-08 15:55] travisn commented on #7366
@ahmedTouati How did you create the OSDs? When running in AWS, it's recommended to use the `storageClassDeviceSets` as found in the cluster-on-pvc.yaml example. This way you can add more OSDs simply by increasing the `count` of the device set, instead of expanding the individual OSD size.
For future questions, please see the [Discussions](https://github.com/rook/rook/discussions), it is preferred

[2021-03-08 15:55] #7366 closed

[2021-03-08 15:55] BlaineEXE commented on #7361
I'm a little confused by what is going on here. What is the purpose of migrating to reflect2 in Rook, and why is it a bug to not do so?

[2021-03-08 16:02] jmmaloney4 commented on #7363
No, just HEALTH_WARN because of the missing MDS.

[2021-03-08 16:05] travisn commented on #7363
Ok, HEALTH_WARN shouldn't block the reconcile. Could you share the full operator log after restarting the operator? Or did skipUpgradeChecks already fix it?

[2021-03-08 16:45] ahmedTouati commented on #7366
@travisn we are using the **cluster-on-pvc.yaml** with **storageClassDeviceSets** already but what is the difference if we add additional OSDs since all data is replicated across them or you mean using more OSDs than the actual **Replicated Data Pool** ??

[2021-03-08 16:49] jmmaloney4 commented on #7363
Now reading my logs more carefully, I'm realizing that I also updated my pools to have `deviceClass: hdd`, and there are some logs complaining about an ec profile. Is updating the device class after the creation of the pool not supported? Either way, here are my logs, and I'll try to revert those changes and see if that changes something.

[container.log](https://github.com/rook/rook/files/6102873

[2021-03-08 17:13] jmmaloney4 commented on #7363
After removing the `deviceClass: hdd` everything has figured itself out. Thanks for your help.

[2021-03-08 17:13] #7363 closed

[2021-03-08 17:21] BlaineEXE commented on #7361
Kubernetes uses `github.com/modern-go/reflect2` only in the JSON serializer and in only one file. (https://github.com/kubernetes/apimachinery/blob/master/pkg/runtime/serializer/json/json.go) Rook uses Kubernetes API types appropriately for things that relate to JSON, so Rook will automatically inherit reflect2 support in any generated code.

I don't see a good reason to convert Rook to use reflect

[2021-03-08 18:25] advancedwebdeveloper commented on #7361
@BlaineEXE , what is happening is a tryout to collect the advantages of alternative reflection APIs - so libgo's reflect package would be modified, to eliminate the cause of using any alternatives.

Reflect API has other specific, beyond speed - so please, explain Rook's usage of the reflection and engineering aspects, which you are facing.
Later you could migrate to a newer version of Golang - an

[2021-03-08 19:05] BlaineEXE commented on #7361
I am still confused about what the intent here is. Are you trying out different third party `reflect` packages in various projects to see which one is a good replacement for `reflect` in the Go standard library?

Rook does not use a `libgo` library/module. What are you referring to here?

Looking through Rook's code, we only use `reflect` to find object types and use `DeepEqual` as a basic check t

[2021-03-08 19:11] travisn commented on #7176
@paalkr A couple more questions:
1. What was the node affinity you expected on the PVC OSD?
2. Was the device OSD affinity correct?

[2021-03-08 20:07] #6715 closed

[2021-03-08 20:07] #6688 closed

[2021-03-08 20:07] #6663 closed

[2021-03-08 20:15] advancedwebdeveloper commented on #7361
I am trying reflect2, go-reflect to reveal the advantages and disadvantages in runtime. Same for engineering/development aspects of those APIs/underlying implementations.
So eventually any software, which would either use reflect2 or go-reflect, would migrate to the modified version of reflect package.
Also it would bring more productiveness, in sense of using reflection - the current approach is

[2021-03-08 20:51] BlaineEXE commented on #7361
I am still unsure what you are requesting from Rook's maintainers or community. It sounds like you are proving out reflect2 as a replacement for the go standard library's reflect implementation.

If you wish Rook to be a test for reflect2's implementation, you are free to do that as you wish on your own. To make a mainline change to Rook for that purpose that affects other users, in my opinion, br

[2021-03-08 21:15] travisn commented on #7364
@advancedwebdeveloper I didn't see any issues with `go vet` when building with 1.16. PR #7371 is opened with the changes that I made to enable it. Could there potentially be something else in your enlistment with your local changes causing that issue?

[2021-03-08 21:31] paalkr commented on #7176
Thanks for reopening @travisn

1. I expected the device OSD affinity and toleration to be
deployment for DeviceSet `zone-a`
[code]
deployment for DeviceSet `zone-b`
[code]

deployment for DeviceSet `zone-c`
[code]

2. The reconcile loop failed before modifying the device OSDs, so I'm not sure. I can try to execute another experiment, to see if the device ODSs are rendered correctly.

[2021-03-08 22:01] travisn commented on #7176
Ok, understood now. @subhamkrai Let's discuss, thanks.

[2021-03-08 23:31] advancedwebdeveloper commented on #7364
Well, the original source code (**before** I have patched anything), from a cloned master branch, allowed to build Rook (using minikube, minikube, k8s) and run some unit, integration tests.
So yes - I can try to reproduce all the steps, for the original source code, to see where I could find any problems.
Hence that not all tests where successful - so something could be missconfigured.

Well done,

[2021-03-08 23:49] advancedwebdeveloper commented on #7361
You do not accept my intentions, really.
I have opened another issue, where go-reflect was used, during the patching process.

I am repeating again: both go-reflect and reflect2 could be investigated, to find the reasons of using any of the alternatives (to the "reflect" package) unreasonable.
Consider preparing to migrate to the modified/future version of "reflect" package.

[2021-03-09 00:03] BlaineEXE commented on #7361
It is not that I do not accept your intentions; I do not understand them. I still do not understand what help you are seeking from the Rook community. Please be more clear about how we can help with whatever issue you are experiencing. I still do not understand why we would be concerned with using a different version of the reflect package.

[2021-03-09 03:13] jshen28 opened #7373 "set max_mds to 1 before upgrade cephfs"
**Is this a bug report or feature request?**
* Bug Report

By reading the official upgrade [guide](https://docs.ceph.com/en/latest/cephfs/upgrading/), it recommends to setting `max_mds` to 1 before upgrade. It also recommends to stop all standby daemons before upgrade active MDS. But it seems rook does not follow this pattern. Will this deviation cause unexpected behaviours?

**Deviation from expe

[2021-03-09 08:40] #6376 closed

[2021-03-09 09:38] #7322 closed

[2021-03-09 09:55] electrical commented on #5663
Following up on this after a discussion in slack ( https://rook-io.slack.com/archives/CK9CF5H2R/p1615168246331300 )
In my use case I want to create different buckets to hold different pieces of data but I have different users/apps that need access to the different buckets with different permissions ( read-only vs write access for example )

At the moment it's only possible to have ACL on the bucke

[2021-03-09 12:22] surajssd commented on #5400
@travisn is this in the roadmap? Should we reopen this?

[2021-03-09 13:46] adabuleanu opened #7375 "ceph operator creates more OSD than expected"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During installation of rook ceph using ceph operator in a 3 k8s node environment, some of our automatic pipelines reported a failure where the operator provisioned more OSD than expected.

**Expected behavior:**
The rook operator should have created (or keep) only 3 OSD (one for each node), instead of

[2021-03-09 14:20] sp98 commented on #7375
If I'm not wrong, rook will provision OSDs on that all available devices by default. Which is what happening in this case. User can used the advanced storage settings like `[devicefilter](https://rook.io/docs/rook/v1.5/ceph-cluster-crd.html#storage-selection-settings)` to override that.

[2021-03-09 14:22] leseb opened #7376 "ci: improve github action writing"
We have a lot of places where code is duplicated. It would be nice to factor everything into a bash script that will be called with arguments where each argument is the line we are looking at.

Something like:

[code]

Then `ci-helper.sh` will have functions that can be called independently.

[2021-03-09 16:29] #7211 closed

[2021-03-09 16:46] adabuleanu commented on #7375
So, I only have 3 nodes and it ended up with 9 OSD ( 3 on each device).
- first 3 were created on initial deployment (osd-0, osd-1, osd-2)
- somehow it triggered a deletion of the first 3 and created 3 more (osd-3, osd-4, osd-5)
[code]
- at a certain point the leader election was lost and it started the operator again which created 3 more osd:
[code]

The end result is that on 3 nodes there are 9

[2021-03-09 17:30] BlaineEXE commented on #7376
Will it be easier to maintain if it is several smaller scripts?

[2021-03-09 17:31] #7210 closed

[2021-03-09 17:34] BlaineEXE commented on #7375
I see that you are running Rook version 1.2 which we are no longer able to provide backport fixes for. Does the issue persist if you upgrade to at least Rook v1.4 (preferably v1.5)?

[2021-03-09 17:40] leseb commented on #7375
Also, these are directory-based OSDs, which we have stopped supporting in [1.3](https://github.com/rook/rook/releases/tag/v1.3.0) IIRC. So if you upgrade make you have disks available for Ceph.

[2021-03-09 17:47] leseb commented on #7376
I was thinking a single script with small functions might act as a central place instead of small scripts, but depending on the task it could have its script I suppose.

[2021-03-09 18:02] travisn commented on #7364
If you modify the previous line to use gofmt 1.16, does it fix the issue? We should really use the same version for gofmt as the build, I don't think it was intentional to use a different version.

[2021-03-09 18:04] advancedwebdeveloper commented on #7364
OK,
I see that this is about debugging a Makefile.

What would you like me to trace?
Please specify how could I collect some logs.

[2021-03-09 18:06] travisn commented on #7364
If you change [this line](https://github.com/rook/rook/blob/e320c31cc97930fedf4bac15011c04022f6e0a2d/build/makelib/golang.mk#L77) to 1.16, does it help?

[2021-03-09 18:08] BlaineEXE commented on #7373
Rook used to do this. I wrote the initial code that did that, but it seems like it was removed at some point, though the code that sets `max_mds` back to the user's desired value still exists. I was under the expectation that Ceph would eventually not require `max_mds` to be set to `1` for updates/upgrades, but that isn't reflected in the latest docs. I'll try to ask someone working on Ceph MDS to

[2021-03-09 18:10] BlaineEXE commented on #7373
Hey @batrick, would you be able to comment on whether setting `max_mds` to `1` is still necessary for MDS/cephfs upgrades?

[2021-03-09 18:12] advancedwebdeveloper commented on #7364
Change to which value?

[2021-03-09 18:18] travisn commented on #7364
`GOFMT_VERSION := 1.16`

[2021-03-09 18:19] BlaineEXE commented on #7373
This may have been the commit that removed the code. It's possible this was not the best thing. We may need to investigate this support again.
- https://github.com/rook/rook/commit/9feb0287c509dfead7245b8615ec9cafe03b5d7e

[2021-03-09 19:26] travisn commented on #7362
@hhy5861 Can you share the full operator log? Or if there is sensitive info, at least share all the lines that contain "`pool`". Attaching a log is preferred instead of the screenshots, thanks. There must be an error when the operator tries to create the pool.

[2021-03-09 20:07] #6233 closed

[2021-03-09 20:07] #5924 closed

[2021-03-09 20:42] batrick commented on #7373
It is.

[2021-03-09 23:07] advancedwebdeveloper commented on #7364
[rook_make_debug.log](https://github.com/rook/rook/files/6111917/rook_make_debug.log)
[rook_make_var.log](https://github.com/rook/rook/files/6111919/rook_make_var.log)

Not rely.

[2021-03-10 00:19] jshen28 commented on #7373
@batrick thank you for the clarification. After setting `max_mds` to **1** and wait for only rank 0, do I have to stop all standby MDS before upgrading active MDS? Or can I simply do a rolling upgrade on each of the existing MDS?

[2021-03-10 00:20] #6743 closed

[2021-03-10 03:13] hhy5861 commented on #7362
this is the log of the operator when I created the pool. I also want to see the error log, but no.
[code]

[2021-03-10 05:54] Madhu-1 opened #7378 "Disable GRPC metrics from the csi driver by default"
The GRPC metrics exposed by both the provisioner pod and the node plugin pod on some port. Provisioner pod is running on the pod network and the daemonset pods run on the host network. sometimes starting the GRPC metrics by default can lead to node plugin pods crashloopback state this is due to the port conflict. Moreover, the GRPC metrics are not for the user it's for the one which will help to d

[2021-03-10 09:17] kadomino commented on #7318
Hi, just in case you need another example - I have a similar thing in my logs (Rook v1.5.8, Ceph v15.2.9-20210224):
[code]
The zonegroup is created, but fails to reconcile:
[code]
The Multisite config is a leftover from my previous attempt (with Rook v1.5.4) to use it for its replication functionality across sites. That attempt failed because my 2 sites cannot "see" each other's Service networks a

[2021-03-10 10:48] hhy5861 commented on #7362
I manually created the pool'replicapool', and then the pvc bound succeeded. But the pool mount timed out.

pvc:
[code]

pods:
[code]

[2021-03-10 15:25] #7378 closed

[2021-03-10 16:35] BlaineEXE commented on #7373
I don't believe it's necessary to wait for OSDs to be updated for MDS updates. Ceph should have +/-2 versions compatibility between daemons. @batrick would have a more definite answer.

[2021-03-10 17:35] #6955 closed

[2021-03-10 18:01] batrick commented on #7373
That is the routine recommendation. What I would suggest is that you set max_mds to 1 for all file systems before upgrading the OSDs. For large deployments, it make take quite a while for the other ranks to stop. You want to start the process as early as possible.

It is currently necessary to stop all standbys before doing upgrades but I have a ticket to fix that: https://tracker.ceph.com/issues/

[2021-03-10 18:29] travisn commented on #7362
Not sure about the error from the csi provisioner, but could you try again to create the CephBlockPool CR and first enable debug logging in the rook operator? Set [ROOK_LOG_LEVEL: DEBUG](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L390-L392). This should show more info about the pool not being created. After you get the log, you may want to turn the log

[2021-03-10 19:24] BlaineEXE commented on #7373
Thanks, @batrick! It sounds like we need to do some work to adjust how MDSes are updated. I added this to the Rook v1.6 release milestone, and I'm hoping it's something that we'll be able to backport to v1.5 also.

Between v1.5 and v1.6, we will have to support upgrades for Nautilus, Octopus, and Pacific, so we'll still have to have a manual process for stopping standby replay daemons for N and O.

[2021-03-10 19:35] advancedwebdeveloper commented on #7364
Give me an hour - I shall re-check.

On Wed, Mar 10, 2021 at 6:43 PM Blaine Gardner ***@***.***>
wrote:

[2021-03-10 23:08] advancedwebdeveloper commented on #7364
I could build, run unit and some integration tests with such a patch:

[2021-03-10 23:12] advancedwebdeveloper commented on #7364
It might sound stupid but: perhaps I have patched source code.

I shall add few patched files (hence the original diff - it contains various modifications) and see whether gofmt would crash.

[2021-03-10 23:19] advancedwebdeveloper commented on #7364
It builds with a small patch:

[2021-03-10 23:47] advancedwebdeveloper commented on #7364
[transactional_diff4rook.log](https://github.com/rook/rook/files/6119453/transactional_diff4rook.log)

Adding some more modifications - and still able to build

[2021-03-10 23:50] advancedwebdeveloper commented on #7364
Aha! I think I found something:

[transactional2_diff4rook.log](https://github.com/rook/rook/files/6119492/transactional2_diff4rook.log)

[2021-03-11 01:39] haslersn commented on #2016
@jbw976 this is still an issue in release 1.5. Please reopen.

[2021-03-11 03:34] klayjaa opened #7387 "How to use the dump_historic_ops administration socket command to determine the type of a slow reques"
when use ceph daemon osd.x dump_historic_ops, ops in result is always blank
command like this :
kubectl exec rook-ceph-osd-16-75f9dcd6c4-phhdr ceph daemon osd.16 dump_historic_ops -n rook-ceph
result  :
{
    "size": 20,
    "duration": 600,
    "ops": []
}

[2021-03-11 03:59] hhy5861 commented on #7362
After changing the log level, the log still does not directly help me. Do you have any ideas?

[code]

[2021-03-11 10:38] subhamkrai commented on #7176
@travisn  I was looking into this and here I think we are overriding the device set placement with spec.placement.

https://github.com/rook/rook/blob/c0eacc89d50d4dbe4fc9b5606241a62c676ccca0/pkg/operator/ceph/cluster/osd/spec.go#L659-L663

First device set placement is applied and then it is overridden by spec.placement(if applied).

[2021-03-11 10:54] subhamkrai commented on #7176
I had this configuration
[code]

and I see my osd are on zone c and d only. I think this confirms my assumption on overriding? @travisn

[2021-03-11 13:07] jshen28 commented on #7373
@BlaineEXE Can I take this issue and implement the missing steps? we happen to have a internal use case and have to fix the steps...

[2021-03-11 14:03] maarsaks opened #7389 "Failed to list *v1alpha1.ObjectBucketClaim: the server could not find the requested resource and OSD PODS missing"
* Bug Report

**Deviation from expected behavior:**
- errors in PODs
- OSD pods doesn't appear
- created PVC stuck in pending state, events:
[code]
**How to reproduce it (minimal and precise):**
Add namespace rook-ceph and execute all yamls below. After this create a PVC using rook-ceph-block StorageClass.

**All YAMLS**:
[crds.txt](https://github.com/rook/rook/files/6123402/crds.txt)
[common.txt]

[2021-03-11 14:58] paalkr commented on #7176
I think you are absolutely correct @subhamkrai . The behavior you describe is exactly what I experienced.

[2021-03-11 16:51] BlaineEXE commented on #7373
I think that sounds good. I'll assign you to this issue. Feel free to reach out with questions either here or on the PR. I would suggest referencing https://github.com/rook/rook/commit/9feb0287c509dfead7245b8615ec9cafe03b5d7e as mentioned a couple days ago for what the code for this might look like.

[2021-03-11 18:50] travisn commented on #7389
@maarsaks Does `kubectl get crd` show the ObjectBucketClaim CRD? It seems the CRD is not there. That's odd though since the other Rook CRDs seem to be working fine.

[2021-03-11 19:14] travisn commented on #7362
The pool controller is waiting for the first reconcile of the CephCluster CR to complete before it will create any pools. It is looking for the `status` to be populated on the CephCluster CR. What does the `status` section show when you look at the `CephCluster` CR?

Based on messages like this one, the CephCluster reconcile seems to be failing: `failed to get osds on node`

[2021-03-11 20:07] #6775 closed

[2021-03-11 20:07] #6751 closed

[2021-03-11 20:07] #6155 closed

[2021-03-12 01:06] #6784 closed

[2021-03-12 07:59] parth-gr commented on #7364
Hy @advancedwebdeveloper , I faced the same bug before while building the `Ceph` image.

The issue is caused because of not **proper formatting** up the Go code while doing the changes.
Try building image with **no changes** then you will have **no errors**.

If your adding changes to it try to format your Go file  correctly by saving file with `**Ctrl+ s**` and deleting any auto save plugin if ad

[2021-03-12 08:33] subhamkrai commented on #7364
And, also some time mixing `space` with `tab` can cause this error too.

[2021-03-12 09:20] maarsaks commented on #7389
Okay, you're right - thanks! I deployed a cluster with the ObjectBucketClaim CRD one more time and it's better, but... **no OSD has been created.** :(

Every rook ceph operator has an error:

`2021-03-12 08:49:48.104347 E | ceph-crashcollector-controller: ceph version not found for image "ceph/ceph:v14.2.9" used by cluster "rook-ceph". attempt to determine ceph version for the current cluster imag

[2021-03-12 10:38] leiw324 commented on #7338
No one can help?

[2021-03-12 10:40] leiw324 commented on #6783
Hello all,

Because the stuck on poweroff issue https://github.com/rook/rook/issues/7338 , so I was trying cri-o, if can fix stuck on poweroff , I no need to try cri-o.

Thanks

[2021-03-12 10:46] advancedwebdeveloper commented on #7364
It did not help:

@ianlancetaylor, perhaps a patch for gofmt would help?

[2021-03-12 14:03] adabuleanu commented on #7375
This issue appeared after we upgrade from kubernetes 1.19.6 to 1.20.4. I can reproduce it constantly now in our pipelines on k8s 1.20.4, but never on 1.19.6

Is there something in k8s 1.20 that could have caused this behavior in rook? Can you take a look at the [k8s 1.20 upgrade notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#no-really-you-must-read-this-bef

[2021-03-12 15:14] travisn commented on #7389
Try [this help topic](https://rook.github.io/docs/rook/v1.5/ceph-common-issues.html#osd-pods-are-not-created-on-my-devices) to troubleshoot why the OSDs were not created. The OSD prepare logs likely show if devices are not available.

[2021-03-12 16:35] ianlancetaylor commented on #7364
I don't know what the problem is.  It's extremely unlikely that this will be fixed by a patch to gofmt.  It's much more likely that there is some sort of version discrepancy.

[2021-03-12 23:36] advancedwebdeveloper commented on #7364
How could I track it down?

On Fri, Mar 12, 2021 at 6:36 PM Ian Lance Taylor ***@***.***>
wrote:

[2021-03-13 23:29] advancedwebdeveloper commented on #7364
@ianlancetaylor , I had to use [goimports](https://pkg.go.dev/golang.org/x/tools/cmd/goimports) tool - and it allowed to get rid of the error, eventually.
Had to apply to each previously patched Go source file, with -w option.

Here is my latest summary:

[rook_go-reflect.zip](https://github.com/rook/rook/files/6135778/rook_go-reflect.zip)
(contains the .diff file)
.
Here are compressed source fol

[2021-03-14 20:07] #6741 closed

[2021-03-14 20:07] #6733 closed

[2021-03-15 03:34] panyang1217 opened #7401 "Raw device can not mount in pod, which is created by a pvc with volumeMode=Block"
I want to use rbd image as raw device in pod, the yaml file is like below, but it can not mound in container.

Commands that I ran in container.
[code]

The yaml
[code]

[2021-03-15 05:39] Madhu-1 commented on #7401
@panyang1217 try with privilege pod?

[2021-03-15 08:49] leseb opened #7405 "ci: smoke test times out on listing rbd images"
Seeing in multiples job like this one: https://github.com/rook/rook/pull/7103/checks?check_run_id=2096387561

Reported also here: https://github.com/rook/rook/pull/7400#issuecomment-799085217

Logs:

[code]

When logging into the runner I could see that the OSD was crash looping for the following reason:

[code]

However the permission seems correct:

[code]

Need to dive a bit more, for whoever i

[2021-03-15 10:07] leseb commented on #7405
Ok so I found the problem, the disk's permissions on the runner keeps changing (probably udev):

[code]

Will try to remove that rule.

[2021-03-15 11:02] leseb commented on #7405
Interestingly not all the runners have that issue.

[2021-03-15 12:32] hase1128 commented on #6342
user admin permits. Now everything works fine

I think this is not best solution.(just work around).
I hope normal user can do this without temporary admin permission.

@leseb
This Issue will be solved for v1.6?

[2021-03-15 13:11] leseb opened #7407 "Generate OB/OBC CRDs automatically"
This is a follow-up on https://github.com/rook/rook/pull/7103, which left some markers to auto-gen OB/OBC CRDs. The last issue we saw was during the upgrade suite:

[code]

We should introspect the auto-gen versus the current one we have.
We might need to send PRs to https://github.com/kube-object-storage/lib-bucket-provisioner to update the CRDs marker for controller-gen.

[2021-03-15 13:43] leseb commented on #6342
In one of the 1.6 releases probably not 1.6.0.

[2021-03-15 15:27] mickaeldimonte-bib commented on #1960
hello there,
would there be any updates on enabling ceph striping through rook?

[2021-03-15 16:20] travisn commented on #1960
It sounds like what's missing is the CSI driver would need to pick up the ceph.conf overrides to apply the settings during the rbd create. @Madhu-1 let's look at what it would take to get that working.

[2021-03-15 18:28] travisn commented on #7364
You'll want to use `goimports` to help auto-format and avoid the errors.

What's the request? If you need feedback on some changes, please open a PR so we can easily see the diff, then no need to attach the source here.

[2021-03-15 20:39] mleklund commented on #6741
Just to update.  This ended up being a kernel version issue.  Once I upgraded to a 5.x kernel the problem went away.

[2021-03-16 01:12] cclloyd opened #7411 "osd-prepare pod fails to create osd because of incomplete LVM member"
# **Is this a bug report or feature request?**
* Bug Report

# **Deviation from expected behavior:**

When the disk is discovered, it is passed to rook-ceph-osd-prepare-NODE pod and fails to create the OSD because it thinks it found an existing LVM member.

Having wiped the disk thoroughly, I was sure that the disk was empty before each time I tried this process.  I've wiped it trying (various com

[2021-03-16 02:03] liu304424818 opened #7412 "Error in demo file"
[code]

[code]

But when I set it to true, a new problem arises

[code]
[code]

[code]

[2021-03-16 05:14] aniket202 opened #7413 "OSD-Prepare pods fail when creating pvc-based Ceph cluster on SELinux enforcing Kubernetes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I am creating a PVC-based Ceph cluster on RKE2 Kubernetes. **SELinux** is enforced on the node, so I had to pass **ROOK_HOSTPATH_REQUIRES_PRIVILEGED** flag as true in the operator.yaml (otherwise init-containers were failing with the permission denied error). After this rest of the pods started succes

[2021-03-16 09:40] #7101 closed

[2021-03-16 14:49] #6945 closed

[2021-03-16 15:37] batrick commented on #7373
PSA: https://github.com/ceph/ceph/pull/40145

[2021-03-16 17:54] galexrt commented on #7412
Whcih default files are you using? Because there is no default `cluster.yaml` with a `mon.count: 5`.

Be sure to follow the quickstart guides https://rook.io/docs/rook/v1.5/ceph-quickstart.html and use the right files for the release you are deploying https://github.com/rook/rook/tree/release-1.5/cluster/examples/kubernetes/ceph

Also your cluster should fulfill all pre-requisites, see https://roo

[2021-03-16 17:55] travisn commented on #7413
The scenario sounds the same as running on OpenShift where SELinux is enabled and we have many clusters running with the on-PVC option. Something must be different with your env though. @leseb any ideas?

[2021-03-16 18:09] mkl262 opened #7423 "Ceph: PG errors and PVC stuck at pending"
Hi, I followed the instructions in [ceph-quickstart.md](https://github.com/rook/rook/blob/release-1.5/Documentation/ceph-quickstart.md), but the cluster starts with inactive and undersized PGs (the `ceph status` output is below), and when I try to create a pvc, it is stuck at pending, and I don’t see any errors in the logs.

edit: I noticed this error in the rook operator: `ceph-crashcollector-con

[2021-03-16 18:20] advancedwebdeveloper opened #7424 "Benchmarking Rook (on behalf of goccy/go-reflect)"
I doesn't look like a pull request, in sense of the assumed process ( not at this stage, at least) - so I am simply referencing an existing .diff file:

https://gist.github.com/advancedwebdeveloper/086c2479829949ca5075ccf3aed33f49

This PR is targets benchmarking of Rook itself - benchmarking the reflection API is another vector, before considering re-design of "reflect" package. You got your open

[2021-03-16 18:20] advancedwebdeveloper commented on #7364
Opened https://github.com/rook/rook/issues/7424

[2021-03-16 19:22] travisn commented on #7424
@advancedwebdeveloper Were you seeing the reflection API was performing slow? What are the results of your findings?

I'm not clear your goal with this issue. Do you want to discuss your findings before opening a PR with an improvement?

[2021-03-16 20:03] advancedwebdeveloper commented on #7424
@travisn , it is assumed that the build would be compared to your "default" (which targets the "reflect" package, in the master branch) build.

Yes, I pinged you on Slack.

[2021-03-16 20:07] #6795 closed

[2021-03-16 20:07] #6792 closed

[2021-03-16 20:07] #6258 closed

[2021-03-16 20:21] travisn commented on #7424
@advancedwebdeveloper What is the defect you are proposing to fix? Is there an issue with the `reflect` package we are currently using?

[2021-03-16 20:28] travisn commented on #7423
@mkl262 A few questions:
- What is your pool settings for `replicated.size`? Probably 3.
- What is the `failureDomain` for the pool? If you're using the default `host`, you need to have the OSDs spread across at least three nodes
- What does `ceph osd tree` show from the toolbox?

[2021-03-16 20:46] SHELA commented on #7411
Have the same issue

[2021-03-16 21:17] dimm0 commented on #6730
I'm going to update, and seems like this statement is not true.

[code]

This rolebinding will be wiped if I iterate over several clusters.

Should I manually copy and verify all 30+ definitions over my 5 ceph cluster? No clean way to upgrade?

[2021-03-16 21:21] dimm0 commented on #6730
BTW why isn't operator managing roles and CRDs?

[2021-03-16 21:39] advancedwebdeveloper commented on #7424
I am proposing to find a reasonable balance, among three known reflection
API implementations, to get a modified "reflect" package.

Performance issues are not the only reason - and nobody reported about
disadvantages of go-reflect and reflect2 packages, in opposition to their
improved performance.
Consider that in cause of Rook - you can take some virtual infrastructure,
perform some end-user (fi

[2021-03-16 22:10] travisn commented on #6730
Right, with multiple clusters managed by a single operator you would need a unique name on the resources in the operator namespace or else they would be overwritten. @BlaineEXE wdyt? Shall we add another replacement term such as this on the `name` of the applicable resources? Then a script could add a suffix to the name.
[code]

In the early days of Rook the operator actually had full cluster priv

[2021-03-16 22:24] dimm0 commented on #6730
I'd prefer having

[code]

rather than several bindings

Are those managed manually in the repo or there's some template now, like jsonnet or kustomize?

[2021-03-16 22:31] travisn commented on #6730
Oh right, that would be much better with multiple subjects. Currently they're just managed manually. We've talked about a tool like kustomize, but just haven't done it yet.

[2021-03-16 22:35] dimm0 commented on #6730
Ok, I guess I'll have to manually edit stuff and then fix whatever I miss...
My next upgrade will be a nightmare :(

[2021-03-16 23:43] dimm0 commented on #5997
I've hit this trying to upgrade from 1.4 to 1.5
I have 5 ceph clusters deployed

[2021-03-17 00:47] liu304424818 commented on #7412
I confirm that I have to meet conditions I use is https://rook.io/docs/rook/v1.5/ceph-cluster-crd.html Stretch Cluster file

[2021-03-17 00:49] liu304424818 commented on #7412
Host-based clusters can succeed.
Stretch Cluster failed

[2021-03-17 01:23] liu304424818 commented on #7412
[root@master01 ceph]#
[root@master01 ceph]# kubectl get po -n rook-ceph
NAME                                           READY   STATUS    RESTARTS   AGE
csi-cephfsplugin-bmzf5                         3/3     Running   0          7m1s
csi-cephfsplugin-mf5dn                         3/3     Running   0          7m2s
csi-cephfsplugin-provisioner-c68f789b8-f45f7   6/6     Running   0          7m1s
csi-c

[2021-03-17 01:29] galexrt commented on #7412
How many nodes do you have in your Kubernetes cluster? From what I can tell only 2 worker nodes and 1 master, right?

You need to have 5 or more nodes (that are eligible (no taints, e.g., kubeadm adds a taint to the master node(s) by default) to run the Ceph components) for running with `mon.count: 5` in your CephCluster CR (unless you set `allowMultiplePerNode: true`, which is not recommended for

[2021-03-17 01:30] liu304424818 commented on #7412
我有三个master 并且添加了污点

[2021-03-17 01:34] liu304424818 commented on #7412
[root@master01 ceph]# kubectl get node
NAME       STATUS   ROLES    AGE   VERSION
master01   Ready    master   22h   v1.18.5
master02   Ready    master   22h   v1.18.5
master03   Ready    master   22h   v1.18.5

[root@master01 ceph]# kubectl describe nodes | grep Taint
Taints:             <none>
Taints:             <none>
Taints:             <none>
[root@master01 ceph]#

[2021-03-17 01:37] liu304424818 commented on #7412
[root@master01 ceph]# cat cluster.yaml | grep true
    allowMultiplePerNode: true
        arbiter: true
    allowUnsupported: true
    useAllNodes: true
    useAllDevices: true
[root@master01 ceph]#

[2021-03-17 01:38] liu304424818 commented on #7412
Warning  FailedScheduling  <unknown>  default-scheduler  0/3 nodes are available: 3 node(s) didn't match node selector.
  Warning  FailedScheduling  <unknown>  default-scheduler  0/3 nodes are available: 3 node(s) didn't match node selector.

[2021-03-17 01:45] liu304424818 commented on #7412
kubectl get nodes
NAME       STATUS   ROLES    AGE   VERSION
master01   Ready    master   23h   v1.18.5
master02   Ready    master   23h   v1.18.5
master03   Ready    master   23h   v1.18.5

[root@master01 ceph]# kubectl describe nodes | grep Taint
Taints:             <none>
Taints:             <none>
Taints:             <none>

[root@master01 ceph]# cat cluster.yaml | grep true
    allowMultipleP

[2021-03-17 02:48] cclloyd commented on #7411
I finally found a crash log.  It was hard to get because the pod is immediately restarted when it crashes, deleting the log with it.  So I had to `logs -f` the instant the prepare pod came up to catch it.

Traceback included in log

[code]

[2021-03-17 07:59] parth-gr commented on #7064
Hy @travisn, I would like to work upon this issue and complete this [document](https://rook.io/docs/rook/master/ceph-nfs-crd.html) :)

[2021-03-17 08:12] mkl262 commented on #7423
- Yes, the size is 3
- Yes, I use the default, but I'm running on a single node
- `ceph osd tree` output:
`ID  CLASS  WEIGHT   TYPE NAME            STATUS  REWEIGHT  PRI-AFF
-1         4.36639  root default
-3         4.36639      host 10-50-11-2
 0    hdd  1.09160          osd.0            up   1.00000  1.00000
 1    hdd  1.09160          osd.1            up   1.00000  1.00000
 2    hdd  1.09160

[2021-03-17 08:22] mkl262 commented on #7423
I will try using the `cluster-test.yaml` because I run on single node.

[2021-03-17 08:22] #7423 closed

[2021-03-17 13:51] leseb commented on #7411
`[2021-03-17 02:42:58,555][ceph_volume.process][INFO  ] stderr Volume group "ceph-b74ca48b-b18f-4340-977b-8f10918a1157" has insufficient free space (57233 extents): 57234 required.`

[2021-03-17 17:59] aadeshpa opened #7426 "While setting up rook-cephfs storageclass the operator pod `rook-ceph-operator-xxx` gives error and none of the pv are created and all pvc remains in pending status"
**Is this a bug report or feature request?**

* Bug Report

**Bug Report**

We were following these instructions to setup `rook-cephfs` on our ocp clusters and it started giving us issues since yesterday.

[code]

However the operator pod `rook-ceph-operator` in namespace `rook-ceph` has below errors in the logs

[code]

As a workaround we changed the image as below and then the operator logs are

[2021-03-17 18:08] travisn commented on #7424
The reflect package is used by rook only in the operator, which is not on the data path. The real performance would be tested with Ceph data reads/writes, which would not be affected by the reflect package.

If there is some improvement with another library, sounds good to experiment and propose the changes with a PR.

[2021-03-17 18:12] travisn commented on #7412
For a stretch cluster like this:
[code]

You need 5 nodes: 1 node in zone a, 2 nodes in zone b, and 3 nodes in zone c. If you want to test with allowMultiplePerNode: true, you would still need at least 3 nodes, one in each zone. What zones do you have assigned to your nodes? But if you don't have 5 nodes, the stretch cluster is not recommended anyway unless you are just testing.

[2021-03-17 22:07] travisn commented on #6730
@dimm0 Would you mind opening a new issue to track improvements for the RBAC when managing multiple clusters?
I hope you survived the review...

[2021-03-18 00:51] liu304424818 commented on #7412
Yes, I was just testing it, but it failed

[2021-03-18 03:28] dimm0 opened #7427 "Improve RBAC rules for the case of several ceph clusters in one kubernetes cluster"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Currently upgrade and install instructions are assuming a single ceph cluster. Rook supports the case of several ceph clusters in different namespaces inside a single kubernetes cluster. The upgrade and install instructions and RBAC yamls should support this case.

[2021-03-18 03:28] dimm0 commented on #6730
https://github.com/rook/rook/issues/7427

Yeah, surprisingly everything is working very well after the upgrade, didn't screw up any rules :)

[2021-03-18 10:48] leseb opened #7433 "ci: create-external-cluster-resources.py randomly fails again"
[code]

Run example: https://github.com/rook/rook/pull/7431/checks?check_run_id=2138637908

[2021-03-18 11:43] linkvt opened #7434 "OSD removal docs and job seem incomplete"
Thanks for this project, really appreciate how much it eases the use of our storage nodes within kubernetes!

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Docs about OSD removal seem incomplete, I needed to delete the OSD deployment manually (removeOSDSIfOutAndSafeToRemove didn't work) and also needed to remove the auth entry for the OSD.
Link: h

[2021-03-18 13:16] stephan2012 commented on #6737
We do not have Kubernetes v1.15 anymore so I cannot provide any additional input. Closing.

[2021-03-18 13:16] #6737 closed

[2021-03-18 15:02] travisn commented on #7427
We need to look into Kustomize or similar tools for generating the manifests for multiple clusters.

[2021-03-18 15:18] BlaineEXE commented on #7427
Yes. This will be a good item to think about for upcoming Helm work also. https://github.com/rook/rook/issues/6776

[2021-03-18 16:10] ctrahey opened #7436 "Ceph+Multus: Support specifying only cluster selector (defer to primary CNI for public)"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:** Allow specifying a Multus NAD for only cluster selector, defer to default CNI plugin for public network.

Cluster operators should not need a Multus NAD for the public network.

Please advise if I am missing an important detail :-)

**What is use case behind this feature:** It seems the most common use

[2021-03-18 16:19] ctrahey commented on #7436
[This block of code](https://github.com/rook/rook/blob/master/pkg/operator/ceph/config/network.go#L51) assumes that a single key means "I am specifying public, please copy to cluster". What I would like is to only specify cluster, which means "let primary CNI attach to pod network, but add an appropriate Multus annotation for this network and configure OSDs/etc to use this as the cluster network"

[2021-03-18 18:33] #7176 closed

[2021-03-18 20:21] travisn commented on #7434
@linkvt Did you run the [OSD Purge job](https://rook.io/docs/rook/v1.5/ceph-osd-mgmt.html#purge-the-osd-from-the-ceph-cluster)? Even if you didn't run the job, the `ceph osd purge` command from the toolbox should have removed the OSD auth. It's not expected that the OSD auth would still be there. Immediately after you purge the OSD do you see the OSD auth still? It's possible that the OSD is being

[2021-03-18 20:21] ctrahey commented on #7436
For added context/colour:

Using this NAD for "public" (largely just copied from `cat /etc/cni/net.d/10-calico.conflist` on a node:
[code]
gets me these attachments (which technically works, but I get 2 attachments to the Pod network):
[code]

[2021-03-18 21:50] BlaineEXE opened #7439 "Remove `c.spec.Storage.VolumeSources` from the user config?"
What is the purpose of `c.spec.Storage.VolumeSources` to the user? Is it to support OSDs on PVC via brownfield cases? If it doesn't have a use to the user, Travis, Seb, and I talked about removing it from the cluster spec.

_Originally posted by @BlaineEXE in https://github.com/rook/rook/pull/7386#discussion_r592689508_

[2021-03-18 21:50] BlaineEXE commented on #7439
@jmolmo do you have any thoughts?

[2021-03-18 22:34] AceHack commented on #5114
Bump

[2021-03-19 13:02] ArvinB commented on #7426
@aadeshpa Are you using OCP 4.7? I believe I am having the exact same issue as you are here.

[2021-03-19 13:05] aadeshpa commented on #7426
@ArvinB : I am on OCP 4.6.9

[2021-03-19 13:31] ArvinB commented on #7426
Yeah I think that is the trick, **DO NOT** use what is in master. It's simply busted.

We have a [playbook](https://github.com/IBM/community-automation/tree/master/ansible/request-ocp-ceph-fyre-play) that uses an even older version `1.3.8` which is why it works normally.

[2021-03-19 14:48] linkvt commented on #7434
@travisn thanks for the quick reply, yes I tried it once manually and once with the purge job. It seems though that you are correct, directly after the removal the auth entry is missing:

[code]

Before doing that that downing the osd manually was not effective, after a few seconds something reverted it pretty quickly again, maybe the osd itself said it is up and ceph picked it up.
[code]

I will

[2021-03-19 20:46] aasraoui commented on #6258
i'm running into this issue with ceph version ceph/ceph:v15.2.8:
2021-03-19 20:24:17.632266 E | ceph-cluster-controller: failed to reconcile. failed to reconcile cluster "rook-ceph": failed to configure local ceph cluster: failed to create cluster: failed to start ceph monitors: failed to start mon pods: failed to check mon quorum a: failed to wait for mon quorum: exceeded max retry count waiting

[2021-03-19 20:58] travisn commented on #6258
If the mons aren't forming quorum it is commonly an issue with the network config that is preventing the operator and mons from communicating, whether ports aren't open, or something else. Try [the mon troubleshooting topic](https://rook.github.io/docs/rook/v1.5/ceph-common-issues.html#monitors-are-the-only-pods-running).

[2021-03-19 21:41] raz3k opened #7446 "CSI PersistentVolume with staticVolume: "true""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
Consumer pod can mount the pvc.

**How to reproduce it (minimal and precise):**

First of all, thanks for Rook!

I was previously using rook 1.2.7 and persistent csi volumes on cephfs with staticVolume: "true" were working in my case.

I have now tried using the pre-1.6.0(master

[2021-03-19 22:05] aasraoui commented on #6258
@travisn thank you!!!                                                                                                                                                                                   it was due to /var/lib/rook content files from previous deployment, once it is purged new cluster came up!!!

[2021-03-19 22:23] advancedwebdeveloper commented on #7424
@travisn , you didn't mention that Cassandra is assumed

https://github.com/rook/rook/blob/afcfe40b5e0efef01ca66a6569e36e482c990951/pkg/operator/cassandra/controller/controller.go

What i did not understand, in sense of Rook's functionality, is the purpose of the following:
https://github.com/rook/rook/blob/09b72e4c4a0fd85b5d4b427cf32da733a2273bdd/pkg/client/informers/externalversions/factory.go
h

[2021-03-20 04:22] KlavsKlavsen commented on #1584
@brian-maloney I have been trying to read on how to BEST setup rook w/ceph in multi-site setup - and examples are hard to find :(
Are you running a k8s cluster that spans the 2 sites? and then 2x Rook instances.. or is Rook also spanning the two sites and then how are you ensuring pods with "the active PVC" on site1 - stays on a node in site1 ? (and that failover to site2 works and pods rolled up

[2021-03-20 04:33] KlavsKlavsen commented on #6406
What I do - is just to use ```helm template rook/rook --values myvalues.yaml | grep image```
That renders the complete yamls and shows the images used..
For offline usage - I then override each of these image values with my own (in my values file) - and point them to my local Helm repo in artifactory. That works great.

[2021-03-20 04:52] KlavsKlavsen opened #7447 "Documentation: multi-site setup solutions supported?"
I have been trying to figure our WHICH multi-site setups is supported by Rook.

I see documentation explaining Ceph multi-site which is to have 2xCeph installations - one for each site - replicating to each other.
But I see absolutely no documentation of HOW to make this work with Rook - and failover?
Do you run 1 kubernetes cluster  across both sites (thats the norm described by  most that run mu

[2021-03-20 05:38] KlavsKlavsen commented on #7447
I assume setting volumeBindingMode for the storage class to WaitForFirstConsumer, which delays the dynamic provisioning of a volume until a pod using it is created - would be the best way for Rook to be able to work with a single-cluster spanning 2 locations (multi-site / multi-zone) - as Rook can then KNOW which site the pod is in - and assign the corresponding storage (or NOT - if the site is in

[2021-03-20 06:15] KlavsKlavsen commented on #7447
My current plan is to have a single server in Nurenburg (3rd Hetzner location) - and have that be a k8s-master.
This way - if just 2 of the datacenters can talk to each other - there will be no split-brain (and no lost quorum) and it'll be very cheap with just a single server in 3rd datacenter.

If ROOK - it could choose the Primary site (ceph wise) by asking which k8s-master is the lader - and ge

[2021-03-20 09:23] fkpwolf commented on #7411
I have same issue. And looks it is known issue of Cehp: https://tracker.ceph.com/issues/47758.

[2021-03-21 16:10] synarete opened #7448 "ceph: pass explicit value for OSD's initial weight"
Ceph-osd has a command line option which allows users to pass explicit CRUSH-weight of specific osd ('--osd-crush-initial-weight'). That is, instead of calculating the weight from capacity (in term of TiB units), define it as explicit value. This may be useful in the following cases:

- Some OSDs resides on a partition within a device, alongside other active partitions (e.g., OS)
- Not all devices

[2021-03-21 19:36] Confusingboat opened #7449 "One bad disk prevents any new OSDs from being created on node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a bad disk is present and selected for OSD deployment, the OSD prepare job for the node repeatedly fails. The job pod is never created, and the operator eventually logs a simple one-line error that the job failed because it could not initialize the devices due to an input/output error. Blank OSDs

[2021-03-22 09:16] NiekPeeters commented on #6916
May I kindly ask why this was removed from "Blocking Release"? If I'm not mistaken this issue completely refrains the user from setting up an object store, correct?

[2021-03-22 09:35] KlavsKlavsen opened #7452 "Idea: 10x READ performance increase for Ceph block reads?"
Under the assumption, that Ceph will serve a read from a block (such as a PVC created via rook/ceph) directly, if a replica exists on local node (where pod/docker instance is running) - at 10x higher speeds and lower latency (or more?) - because it does not need to do anything on the network for read case ?

Plan would be to either tell Ceph where to store atleast 1 of its block replicas (if that

[2021-03-22 09:58] leseb commented on #4238
@rohan47 please investigate :)

[2021-03-22 11:17] synarete commented on #7448
As an example, consider a 3-nodes cluster with 6 1TiB-OSDs, where each node hode has 1 osd with initial weight of 0.5:

[code]

[code]

[2021-03-22 13:00] mykaul commented on #7452
It's of course a very nice idea, but should be done in Ceph. There are (at least) two features that intend to deal with it - read from non primary is one of them (forgot what the 2nd one did) - and is in Pacific. It is very beneficial also in the cloud, where you actually pay for cross AZ traffic!

Note that we need to remember that pods may move and restart and re-run elsewhere, so we can't just

[2021-03-22 13:10] KlavsKlavsen commented on #7452
Can Rook "hint" to where Ceph should place a block / PVC device ? to make it place atleast ONE of the copies on the "hinted node" - where we're told the pod will start up ?
And then we can ask ceph WHERE the replica is located - and add a label to the PVC - and use affinity rules - to make the scheduler consider either of the X locations added in label on PVC - as possible nodes for scheduling of

[2021-03-22 13:13] KlavsKlavsen commented on #7452
Or Rook could implement a HintProvider for TopologyManager - to tell it where to "preferrably" place pods.. like CPU manager can do (based on CPU usage) https://github.com/kubernetes/kubernetes/pull/73920/files (if that API is flexible enough for this - otherwise I guesa labels FTW :)

[2021-03-22 13:46] mykaul commented on #7452
You assume the content of the PV that a pod is using is all in a single node, which is unlikely the case with Ceph, which distributes it all over.

[2021-03-22 13:52] KlavsKlavsen commented on #7452
I don't know the block size with which it would distribute them - but yes - each block would normally be on different hosts.. I don't know if ceph could be pursuaded to group blocks from same device/pvc "if asked".. this would decrease performance for "network reads" - as they would not be delivered from multiple hosts.. but if we KNOW we're going to use them "locally" - like this - it would be a

[2021-03-22 15:36] mykaul commented on #7452
Ceph uses RADOS blocks (which I believe are 4MB by default), so naturally, some of your data will be local and some not. This actually improves performance (bandwidth), as you'll get aggregated disk (and node - especially in the cloud you might be limited by disk and node limits!) performance.

[2021-03-22 18:01] fritchie commented on #7452
to be specific, RBD uses 4MB RADOS objects by default, other applications can use different sizes ... for RGW the default chunk and stripe size is also 4MB

[2021-03-22 20:07] #6210 closed

[2021-03-22 21:21] paalkr opened #7457 "OSD not created on AWS ephemeral disk"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
An OSD is not created for the ephemeral disk on an AWS i3en.xlarge instance. (probably the issue is not related to the instance type).

This is the log from the operator
[code]

This is the log from the prepare job.
[code]

BTW prior to the prepare job running the ephemeral device `nvme1n1` is totally

[2021-03-23 03:51] aniket202 commented on #7413
@travisn @leseb any other ideas please? Sorry to bother again. Please let me know if I can provide more information

[2021-03-23 07:00] KlavsKlavsen commented on #7452
This is not the case, when you're bound by 1gb network interfaces which is whats offered in all bare-metal setups from bare-metal cloud-providers.. Which is why it would - as far as I can tell - be a huge benefit, it RGW could be hinted to "keep segment of this block device" - on a single-node.. (and the replica as well) - and then Rook could hint to k8s scheduler - where these replicas are - so i

[2021-03-23 07:10] themonaminor opened #7458 "rook cockroachdb cluster"
hi i am not able to get cockroachdb cluster instances in running state.
the status for cluster instances are

[code]

[2021-03-23 08:18] mykaul commented on #7452
As I've explained earlier, this makes less sense due to several reasons: pod placement, the need to separate failure domains (you can't have all replicas on the same node, so it has to be over the network), the object size (not to mention, if it's RGW, other pools that are used, such as the index).
1Gb will give you very low performance anyway. We use multiple bare-metal cloud provider and they do

[2021-03-23 08:25] KlavsKlavsen commented on #7452
@mykaul which bare-metal providers provide 10gb networking? I have found none in europe (and due to european legislation I'm bound to only using european providers)
I would not have the replica on same node ofcourse - that would be stupid :) - the thought was merely to allow for normal reads to be served locally on the nodes that have "one of the copies" of the blockdevice. I'll go ask in Ceph.

[2021-03-23 08:25] #7452 closed

[2021-03-23 09:32] shibumi opened #7460 "Cluster not able to recover"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Multiple monitors and OSDs running in CrashLoopBackOff

**Expected behavior:**

I installed rook on a three node cluster. First it worked all fine, after a cluster update 2/3 of all monitors and OSDs started failing.
The rook ceph cluster should be reliable enough to make a cluster update.

**How to r

[2021-03-23 10:07] paalkr commented on #7457
So apparently two issues was causing the problem i faced
1. leftover osd auth config from previous experiments. Ref: https://github.com/rook/rook/issues/4761
2. I needed to upgrade ceph to 2.15.9

This seems to work now, and also the this https://github.com/rook/rook/issues/7176 seems to work now.
Thx

[2021-03-23 10:07] #7457 closed

[2021-03-23 11:23] shibumi commented on #7460
So I am trying to recover the cluster as proposed in: https://github.com/rook/rook/blob/master/Documentation/ceph-disaster-recovery.md

but the recovery guide is not working at all. The first command is not generating the `/tmp/monmap` file:
[code]

Output:
[code]

[2021-03-23 11:27] galexrt commented on #7460
Are you sure that your mon is not running anymore? Make sure you ran the commands to patch the mon to be running `sleep infinity`.

Then you can exec in and you should be able to run the command to retrieve the monmap.

[2021-03-23 11:31] shibumi commented on #7460
@galexrt  the json from the first command is not rendering properly:
[code]

[2021-03-23 11:39] shibumi commented on #7460
@galexrt I have manually patched the livenessprobe out of it via `kubectl edit deployment ...` instead.. This seem to worked.
But when I executed the command, the whole monitor is starting again:
[code]

Instead of generating a /tmp/monmap file the whole monitor is now running again..

[2021-03-23 11:52] tibbe opened #7461 "Broken markdown link in ceph-quickstart.md"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The HTML link generated from the markdown is broken.

**Expected behavior:**
Link should render properly.

**How to reproduce it (minimal and precise):**
Go to https://github.com/rook/rook/blob/master/Documentation/ceph-quickstart.md#tldr. Observe broken link.

[2021-03-23 12:07] paalkr opened #7462 "Rook 1.5.9 does not watch for added nodes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When adding new nodes to the k8s cluster, rook operator doesn't notice. OSDs are not launched on the newly added node. Restarting the operator causes the expected orchestration to happen.

Ref: https://rook-io.slack.com/archives/CK9CF5H2R/p1616494779156200

**Expected behavior:**
Rook should notice new

[2021-03-23 16:29] galexrt commented on #7460
Make sure all the vars that are being used there are available by, e.g., adding `echo` in front and then checking if all flags get a value otherwise the flag parsing might be off and a flag is "eaten".

I would recommend you to join the Rook slack as it is faster to respond there for us.

[2021-03-23 16:58] leseb commented on #7462
Was it working in 1.5.8?

[2021-03-23 17:18] leseb commented on #7461
@jbw976 any idea?

[2021-03-23 17:21] Zajda208 commented on #6210
I have had the same issue too in version 15.2.10. Problem is when you follow the Ceph manual for creating multizone setup there is a point to rename zonegroup named: "default" to something else e.g. us-east. In this case, is renamed the zonegroup name but not the api_name. Solution is following:
1. radosgw-admin zonegroup get --rgw-zonegroup=us-east
2. check the JSON output if "name" and "api_name

[2021-03-23 17:21] galexrt commented on #7461
@leseb That is expected, the docs are rendered to HTMl for the website. `{{ branchName }}` is the variable that returns the right "branch" name per release, same in the below `git clone` code snippet, etc.

The page looks good in the rendered docs: https://rook.io/docs/rook/v1.5/ceph-quickstart.html#tldr

[2021-03-23 19:14] paalkr commented on #7462
I really don't know, I skipped a few versions. I know it worked with 1.5.4 though.

[2021-03-23 20:07] #5843 closed

[2021-03-24 08:01] panyang1217 opened #7464 "is rook support to use btrfs for storageclass?"
When I mount huge ext4 volume (about 1pib ), it take serval minutes when pod start.
So I want to use btrfs for this huge volume, is rook support to using btrfs with storageclass?

[2021-03-24 09:44] satoru-takeuchi commented on #7405
debugging in #7404

[2021-03-24 09:49] leseb commented on #7462
Thanks, this helps.

[2021-03-24 10:51] shibumi commented on #7460
@galexrt  I just reinstalled the whole test cluster due to time pressure from the upper management. Sorry.
What we at least learned from this:

`kubectl -n rook-ceph patch deployment rook-ceph-mon-b -p '[{"op":"remove", "path":"/spec/template/spec/containers/0/livenessProbe"}]'`

needs to be fixed for k8s 1.19

[2021-03-24 12:33] galexrt commented on #7460
I'll look into the issue with the command. From a little bit of research seems to be either a quoting issue for some reason or that we have "too many" `[` `]` brackets.

[2021-03-24 13:10] galexrt commented on #7464
I have updated the title and labels, assuming @panyang1217 you are talking about Rook Ceph.

[2021-03-24 13:23] #7464 closed

[2021-03-24 15:49] #7460 closed

[2021-03-24 16:17] leseb opened #7471 "ci: run external script create-external-cluster-resources.py unit tests fails"
Error:

[code]

Seen in https://github.com/rook/rook/pull/7467/checks?check_run_id=2185851952
@aramisjohnson PTAL.

[2021-03-24 23:01] maarsaks commented on #7389
Okay, the reason was that disks were not empty.
I have a another question: how to remove rook/ceph from disks deleting LVM filesystem and all related data? The only option is just detach disk and attach a new empty one?

[2021-03-25 10:09] #7405 closed

[2021-03-25 10:47] fkpwolf commented on #7411
If I upgrade image of prepare pod to `ceph/ceph:v15.2.10`, then the pod can finish it's task successfully.

[2021-03-25 13:48] hhy5861 commented on #7362
All CRs are in Running state

[2021-03-25 17:36] #5732 closed

[2021-03-26 02:31] FrelDX commented on #4207
[root@rook-ceph-tools-fff8ccb89-qpqbr /]# ceph config-key rm mgr/dashboard/key
key deleted
[root@rook-ceph-tools-fff8ccb89-qpqbr /]# ceph config-key rm mgr/dashboard/crt
key deleted
[root@rook-ceph-tools-fff8ccb89-qpqbr /]# ceph dashboard create-self-signed-cert
Error EIO: Module 'dashboard' has experienced an error and cannot handle commands: [('x509 certificate routines', 'X509_check_private_key

[2021-03-26 05:04] satoru-takeuchi commented on #7405
@leseb FYI, I reported this behavior to github actions runner's issue tracker.
https://github.com/actions/runner/issues/1024

[2021-03-26 08:03] leseb commented on #7405
Great, I was actually looking into doing that too, I was just wondering whatever I could do it against Azure directly.
Hopefully, someone will respond, thanks!

[2021-03-26 08:38] hankedang opened #7479 "k8s pod mount cephfs pvc fail !"
**Environment**:
* OS (e.g. from /etc/os-release): centos7
* Kernel (e.g. `uname -a`): 3.10.0-693.2.2.el7.x86_64
* Rook version (use `rook version` inside of a Rook Pod): v1.5
* Storage backend version (e.g. for ceph do `ceph -v`): v15.2.9
* Kubernetes version (use `kubectl version`): v1.17.4
* Kubernetes cluster type (e.g. Tectonic, GKE, OpenShift): GKE

I can create a pvc success, but , when I m

[2021-03-26 09:11] leseb opened #7482 "ci: GitHub API rate limit"
Saw this in this run: https://github.com/rook/rook/pull/7480/checks?check_run_id=2200465941

Error:

[code]

[2021-03-26 10:07] adabuleanu opened #7483 "feature: retry with backoff if rook operator fails to create csi resources"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook operator did not create the csi resources

**Expected behavior:**
Rook operator should have created the csi resources

**How to reproduce it (minimal and precise):**
This does not reproduce every time. I reproduced it in some of our pipelines

**File(s) to submit**:

* Cluster CR (custom resource)

[2021-03-26 10:18] adabuleanu opened #7485 "ceph osd reports slow ops"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
On some of our deployments ceph health reports slow opts on some OSDs, although we are running in a high IOPS environment using SSDs.
**Expected behavior:**
I want to understand where this slow ops comes from. We recently moved from rook 1.2.7 and we never experienced this issue before.

**How to repro

[2021-03-26 10:30] leseb opened #7487 "ci: create LV fails"
Error:

[code]

Seen in https://github.com/rook/rook/pull/7486/checks?check_run_id=2200965905
Looks intermittent though...

@satoru-takeuchi FYI.

[2021-03-26 13:15] leseb commented on #7483
The error:

[code]

Probably this `failed to start csi-rbdplugin daemonset: Internal error occurred: resource quota evaluation timed out`. Looks more like a Kubernetes issue at this point.

[2021-03-26 13:30] leseb commented on #7303
The OSD asserted with:

[code]

Please open an issue on https://tracker.ceph.com/ for deeper investigation and sorry for the late reply.
I'm closing this since it's a Ceph issue.

[2021-03-26 13:30] #7303 closed

[2021-03-26 13:35] adabuleanu commented on #7483
In our deployment we do not alter k8s in any way before installing rook. It may be the case that there is an etcd timeout issue. Shouldn't the rook operator cope with this kind of issues, like using a retry mechanism?

[2021-03-26 13:44] leseb commented on #7483
We could retry with backoff indeed, we just don't at the moment. It's the first time we are seeing this.

[2021-03-26 14:13] fritchie commented on #7485
the command "ceph health detail" should indicate which osds have slow ops

[2021-03-26 15:24] panyang1217 opened #7491 "rbd in pod got very poor read performace"
I use rbd for my pod, and the rbd device read performance is very pool (just 50MiB/s), but on the same device the write performance is well ( can up to 700MiB/s or even more). The backen disk is 7200RMP HDD * 36 * 5 node.

Any one has the same problem, or some misconfig of my cluster can cause the this problem.

**Environment**:
* OS (e.g. from /etc/os-release):
[code]
* Kernel (e.g. `uname -a`):

[2021-03-26 17:48] vaskozl commented on #5538
I also ran into this, my masters have `PreferNoSchedule`, but have large NVME disks which I want to use for storage in my homelab.

Unfortunately op-osd doesn't consider them valid nodes, which means I have to untaint them, which is undesirable for the use case.

Could we re-open this issue?

[2021-03-27 01:21] AceHack commented on #3455
Bump

[2021-03-28 01:14] eyanulis opened #7494 "Mgr pod liveness fails in v6-first dual-stack clusters after #7151"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In an "IPv6-first" dual-stack cluster, the liveness check against the mgr pod consistently fails with "connection refused". This results in the pod repeatedly restarting and eventually going into `CrashLoopBackoff`. This can be worked-around by disabling the liveness check in the `CephCluster` CRD - I

[2021-03-28 02:59] eyanulis commented on #7494
(One note: this almost certainly only affects the 1.5 branch, since #7152 removes the init container entirely in master and therefore 1.6.)

[2021-03-28 17:09] haslersn commented on #2668
I experienced this problem many times when deleting a CephCluster CR, always without deleting the operator. I never deleted the operator.

Thus, I think this should be reopened.

[2021-03-29 04:06] subhamkrai commented on #2668
Please see https://rook.io/docs/rook/v1.0/ceph-teardown.html

[2021-03-29 08:33] leseb commented on #5538
If you wish to see support for taints (like `PreferNoSchedule`) being implemented, feel free to open a feature request. Thanks!

[2021-03-29 08:49] vaskozl commented on #5538
I was able to achieve OSD scheduling on the master with the following config in cluster.yaml:

[code]

Cheers :)

[2021-03-29 08:53] #7064 closed

[2021-03-29 09:03] leseb commented on #7491
For performance topics, I'd suggest reaching out to the [dev mailing list](https://ceph.io/resources/) or open a tracker issue on Ceph directly: https://tracker.ceph.com/.
Thanks!

[2021-03-29 09:03] #7491 closed

[2021-03-29 17:18] travisn commented on #7494
@eyanulis Did you try setting [ipFamily: v6](https://github.com/rook/rook/blob/release-1.5/cluster/examples/kubernetes/ceph/cluster.yaml#L93)? See [this doc](https://rook.github.io/docs/rook/v1.5/ceph-cluster-crd.html#ipfamily) as well. Not sure that will help with this specific issue, but I thought Ceph didn't support the dual stack.

[2021-03-29 17:34] travisn commented on #7362
@hhy5861 What does the `status` section show from the ceph cluster? For example: `kubectl -n rook-ceph get cephcluster -o yaml`. Is the `lastChanged` up to date, and the ceph health ok?

[2021-03-29 17:41] travisn commented on #7462
Rook has had a watcher for new nodes for quite a while. See the [onK8sNode() method](https://github.com/rook/rook/blob/afcfe40b5e0efef01ca66a6569e36e482c990951/pkg/operator/ceph/cluster/watcher.go#L51). If you enable debug logging in the operator, do you see any of the debug messages from that method that indicate why the node is being skipped? This method has not worked reliably such that sometim

[2021-03-29 17:45] travisn commented on #7458
@themonaminor The cockroachdb operator is not supported anymore. Please see the [project status](https://github.com/rook/rook#project-status).

[2021-03-29 17:45] #7458 closed

[2021-03-29 17:57] travisn commented on #7413
@aniket202 Could you share the following details?
- The job spec for the osd prepare that shows the mounts
- The deployment spec for the osd daemon that shows the mounts.

The init container failure you see seems like from the osd daemon container, not the osd prepare job

[2021-03-29 18:00] travisn commented on #7389
@maarsaks Did you see the [cleanup guide](https://rook.github.io/docs/rook/v1.5/ceph-teardown.html#delete-the-data-on-hosts)?

[2021-03-29 18:00] #7389 closed

[2021-03-29 18:03] travisn commented on #6916
@NiekPeeters It was only seen in the CI, so was not blocking object stores in production that we had seen. After the operator restart it is likely to succeed. Did you hit this in production?
@alimaredia PTAL

[2021-03-29 18:17] travisn commented on #7424
factory.go is generated code, I don't think we actually call it anywhere.
patcher.go is used by the nfs operator.
@advancedwebdeveloper Please elaborate on the performance issue you see. Performance of the operator is not commonly an issue since it's not on the data path.

[2021-03-29 18:36] travisn commented on #7447
@KlavsKlavsen What really is the goal for your scenario? You are referring to a few different scenarios, not sure exactly what you're looking for:
- Rook primarily configures Ceph inside a single K8s cluster. Any data that needs to replicate across K8s clusters would need to use rbd/cephfs mirroring, or rgw multisite features of Ceph. Rook has CRDs to help support these scenarios, but there are so

[2021-03-29 20:52] haslersn opened #7497 "Rook Ceph: "failed to fetch mon config" after node reboot"
**Bug report**:

I created a CephCluster ([see this gist file](https://gist.github.com/haslersn/b029e8f9abe7b0d36bc8f77476ba6e03#file-cluster-yaml)) on a 3-node bare metal k8s cluster with 5 OSDs per node. I created it in namespace `rook-ceph-ssd`, because I couldn't use namespace `rook-ceph`. Thus I first needed to deploy some RBAC resources ([see this gist file](https://gist.github.com/haslersn/

[2021-03-29 22:32] #4380 closed

[2021-03-29 23:22] BlaineEXE opened #7498 "Ceph dashboard credentials fail to set in latest Ceph releases"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Find this in the logs for Octopus v15 and Pacific v16.
[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**
Install with Ceph Octopus or Pacific.

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necess

[2021-03-29 23:30] travisn opened #7499 "Some messages in debug log are too verbose and not needed"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When [DEBUG logging](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L397-L399) is enabled in the operator, there are a number of overwhelming messages in the log that are very overwhelming and don't seem useful, which makes debug mode difficult to use. We should

[2021-03-30 01:30] Sangshaai opened #7500 "Deploy other exporters in rook-ceph, such as ceph-perf-exporter"
**Is this a bug report or feature request?**
request

**Feature Request**

**Are there any similar features already existing:**
https://gist.github.com/cheethoe/40b1f2d783a7a0b84e8891dccf8b6478

I tried, and failed. The error status is in the attachment below.
[describe-ceph-perf-exporter.txt](https://github.com/rook/rook/files/6225727/describe-ceph-perf-exporter.txt)

The following is the relevan

[2021-03-30 02:24] Sangshaai commented on #7500
The following is the relevant log information

# kubectl logs -n rook-ceph ceph-perf-exporter
error: a container name must be specified for pod ceph-perf-exporter, choose one of: [rook-ceph-tools ceph-perf-exporter]

# kubectl logs -n rook-ceph ceph-perf-exporter rook-ceph-tools
Usage:
  rook [command]

Available Commands:
  cassandra     Main command for cassandra controller pod.
  ceph

[2021-03-30 03:35] hankedang commented on #7479
@travisn @Madhu-1 Asking for help

[2021-03-30 03:56] Madhu-1 commented on #7479
@hankedang can you please run the command manually in cephfs-plugin container or plugin pod and see what is the error? And checking dmesg logs on the node where the mounting is failing should also help

[2021-03-30 06:59] hankedang commented on #7479
Sorry !  I'm not careful enough. my kernel version is 3.10, cephfs quota is not supported in kernel version < 4.17, set CSI_FORCE_CEPHFS_KERNEL_CLIENT= "false" in operator.yaml, then mount success.
@Madhu-1 Thanks for your reply!

[2021-03-30 07:00] #7479 closed

[2021-03-30 07:18] KlavsKlavsen commented on #7447
@travisn I was looking for how best to solve this multi-datacenter setup - and whats actually "in use/supported".. I did find some documents specifying mirroring.. but it was unclear how failover then worked (as I understood it - it would be to a ceph setup, managed by a rook in a different k8s cluster)..

And as I read it - the preferred way of doing this for k8s, is using multi-zone setups (like

[2021-03-30 07:49] Wang-Kai opened #7501 "Remove uesless paramter at setProject function"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Remove uesless paramter at [`setProject` function](https://github.com/rook/rook/blob/master/pkg/operator/nfs/quota.go#L221). I found the paramter `block` is not used.

**What is use case behind this feature:**

Make code more elegant

**Environment**:

[2021-03-30 08:31] NiekPeeters commented on #6916
We observed this behavior when creating a user for the object store. The object store was created without problems, but after creating the user crd the operator would hit this panic. Restarting the operator did not resolve the issue. We ended up downgrading from 1.5.8 to 1.4.9. The only short logline I kept was this one:

`runtime.go:78 "Observed a panic: "invalid memory address or nil pointer der

[2021-03-30 09:16] leseb commented on #7487
Another one here: https://github.com/rook/rook/pull/7503/checks?check_run_id=2226050752

[2021-03-30 13:00] #7482 closed

[2021-03-30 13:50] travisn commented on #7498
The commands to set passwords in the ceph dashboard has changed in:
Octopus:  >= v15.2.10
Nautilus:  >= v14.2.17
Pacific

The new commands look like this:
[code]

[2021-03-30 22:01] paalkr commented on #7462
Thanks for pointing me in the right direction. Enabling debug logging actually shows that the node watcher is working. But i believe the problem might be this piece of code
https://github.com/rook/rook/blob/afcfe40b5e0efef01ca66a6569e36e482c990951/pkg/operator/ceph/cluster/watcher.go#L75-L79

I'm simulating an AWS node failure by just terminating a random osd node, in a rook ceph cluster running *

[2021-03-30 22:29] batrick commented on #7373
PSA: https://github.com/ceph/ceph/pull/40511

[2021-03-31 01:10] jshen28 commented on #7373
@batrick is the upgrading process only necessary for a major ceph upgrade? for example when upgrading from 15.1.x -> 15.2.x, do I still need to stop standby-replay daemons?

[2021-03-31 04:12] eyanulis commented on #7494
Hey @travisn -

I believe you're correct regarding the lack of dual-stack support. Though the environment is dual stack, I'm running the Ceph cluster configured for single-stack IPv6 (including `ipFamily: IPv6` in the cluster CRD and an override of `ms_bind_ipv4 = false` in the `rook-config-override` configmap). With that in place the cluster is working perfectly except for this one issue. As far

[2021-03-31 08:12] leseb commented on #7494
Ceph's dual stack support will be in the upcoming Pacific release. I was discussing with @sp98 about this and he will followup on adding the missing pieces soon.

[2021-03-31 11:23] satoru-takeuchi commented on #6391
This failure seldom happens in recent CIs. So close it for now.

[2021-03-31 11:23] satoru-takeuchi commented on #6389
This failure seldom happens in recent CIs. So close it for now.

[2021-03-31 11:23] #6389 closed

[2021-03-31 11:26] adabuleanu commented on #7375
From the  [ceph-osd-jobs.log](https://github.com/rook/rook/files/6108862/ceph-osd-jobs.log) I managed to find out where this issue comes from
[code]

So it looks like it does not identify the existing OSDs during provisioning and uses a [default value](https://github.com/rook/rook/blob/v1.2.7/pkg/daemon/ceph/osd/agent.go#L46). The rook code area where the logic is handled it around [here](https://

[2021-03-31 12:51] weinformatics commented on #7497
i have the same issue when i delete a osd. @haslersn

[2021-03-31 13:42] haslersn commented on #7497
@weinformatics On which OSDs does the issue occur for you? On the OSDs on the same node as the deleted OSD?

[2021-03-31 14:47] batrick commented on #7373
No, it's necessary for all upgrades.

Yes.

[2021-03-31 19:07] travisn commented on #7494
I believe this is now fixed by #7515 and will be available in v1.6 soon. @leseb Or was some other change needed that you were referring to?

[2021-03-31 20:53] travisn commented on #7462
Ok, sounds like the events to start the reconcile are skipped because the new node is not ready. Then when the node is finally ready there must not be another event that indicates it is ready. Apparently the comment is correct to assume that the check is too strict
[code]

[2021-03-31 21:21] travisn commented on #7447
@KlavsKlavsen There is some work going on related to the csi driver to make reads [topology aware](https://github.com/ceph/ceph-csi/issues/440). If there is a single cluster spread across multiple zones, ceph will still replicate the data across all the zones, meaning it will always end up with writes to all three zones (if you have 3 replicas). See the `failureDomain` property on the pools and th

[2021-04-01 00:01] jshen28 commented on #7373
@batrick thank you. still wants to double check one thing: can osd & mds be upgraded at the same time? or do I need to wait until all osds are upgraded before performing mds upgrade?

[2021-04-01 08:55] adabuleanu commented on #7375
Looks like the issue is that the config map is created and deleted afterwards
[code]

[2021-04-01 09:03] linkvt commented on #7434
Tested again with the purge job, worked as it should, closing, Thanks!

[2021-04-01 09:03] #7434 closed

[2021-04-01 10:16] t3hmrman opened #7516 "Undocumented folder requirements during setup (k0s)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

- Could not install  `v1.5.9` due to missing host-level folders (`/var/lib/kubelet/pods` and `/var/lib/kubelet/plugins_registry`)

**Expected behavior:**

Successful install.

**How to reproduce it (minimal and precise):**

- Attempt to install Rook Ceph @ `v1.5.9`

**File(s) to submit**:

`csi-rbdplu

[2021-04-01 11:02] adabuleanu commented on #7375
It looks like the garbage collector is doing the config map deletion. Below is the lifecycle of the  rook-ceph-osd-node-0-config config map from the apiserver logs (verbosity level 10)
[code]

[2021-04-01 11:30] paalkr commented on #7462
There is something more going on here. The scenario I described above replacing an osd on a failed ephemeral node sort of works.

But adding another fresh new k8s node to extend the current ceph cluster with an additional osd, does not work at all. The new node (ip-10-4-139-125.eu-north-1.compute.internal) is recognized by the rook operator, but rook fails to orchestrate an osd creation process. I

[2021-04-01 11:43] johnstcn commented on #3132
For posterity: https://tracker.ceph.com/issues/43910

[2021-04-01 12:18] liggitt commented on #7375
The config map ownerReference is invalid. It is setting the owner name to `kube-system`, and since a Cluster with that name does not exist, the config map is cleaned up. If it set the ownerReference name to `paas-hostpath-ceph-cluster`, GC would find the owner and leave the config map alone

[2021-04-01 13:41] parth-gr commented on #7462
While looking into your Operator debug logs it says `2021-04-01 11:09:17.190979 D | exec: Error ENOENT: node 'ip-10-4-139-125.eu-north-1.compute.internal' does not exist`. It means cluster is not able to detect the newly created node.

May be the new Node created is still not in the ready state and so the osd's are not created on it.

I guess having the event(listener) for adding osd on node when

[2021-04-01 14:57] adabuleanu commented on #7375
Also, note that with k8s 1.20 the cleanup process is instant while in k8s 1.19 the invalid reference would have triggered the config map deletion arbitrarily when the controller manager was restarted. Now it consistently and immediately handles the config map as having an absent owner.

[2021-04-01 18:24] travisn commented on #7375
This issue is long gone in the latest release, but if you want to fix it, the easiest might be to disable the ownerref on this configmap. Since this is a very short-term configmap used during a reconcile, this bug was missed since the resource wasn't previously being deleted immediately.

The source of the issue was that the namespace was passed to the [clusterInfo.Name](https://github.com/rook/ro

[2021-04-01 18:36] travisn commented on #7462
I see now from the log that the operator got the event that the node is ready and it has proceeded to check if there are already OSDs on the node. If there are already OSDs on the node, the operator will not trigger the reconcile. But instead of finding OSDs, it of course finds there are no OSDs and gets the error about host not found in the crush map. So I believe on [this line](https://github.co

[2021-04-01 18:46] travisn commented on #7516
@t3hmrman Agreed, not sure that rook can control the environment and I haven't heard about this issue in other environments, but those dirs are required for the csi driver.

[2021-04-01 18:56] #7174 closed

[2021-04-01 20:44] brian-maloney commented on #1584
@KlavsKlavsen You would not want to build a single k8s cluster (or any kind of cluster that uses a RAFT-style consensus algorithm for cluster quorum, for example Zookeeper also suffers from this limitation) that spans regions, because those algorithms require short round-trip time.  In the environment I was working in at the time, we had 3 global regions (NA, EU, APAC) and had a k8s cluster in eac

[2021-04-01 20:53] paalkr commented on #7462
Looks like you are on to something there @travisn , but I'm not sure that's all it would take.

Or there might be other bugs as well. Because I also see the same error related to nodes that are already added to the cluster and actually runs an osd.

[code]

crush tree
osd 0,1 on 2 runs on PVCs as storageClassDeviceSets, and osd 3,4,and 5 runs as device OSDs on top op AWS EC2 ephemeral disks. I hav

[2021-04-02 01:01] t3hmrman commented on #7516
Hey @travisn appreciate the confirmation -- IMO this could be a documentation only fix (if you think that's fine, I'll make a PR on the documentation, a little alert bubble or line about it would probably go a long way).

So right now I have a second cluster that is `kubeadm` built-managed (I just did the series of upgrades to 1.20 on it from 1.17), and I can confirm that the folders are there (do

[2021-04-02 07:50] adabuleanu commented on #7375
How can I remove the ownerref in the configmap since it created and deleted instantly during OSD provision? Is there a configuration on the rook side to create the configmap without the ownerref or set the blockOwnerDeletion to false?

[2021-04-02 10:13] t3hmrman commented on #7516
I'm going to go ahead and close this -- [this is a k0s issue](https://github.com/k0sproject/k0s/issues/810) -- these folders should be almost guaranteed to exist, probably not worth trying to track down, though I guess hopefully if someone else has this issue they'll see this ticket.

[2021-04-02 10:13] #7516 closed

[2021-04-02 14:51] travisn commented on #7375
It would require a code change, hopefully as simple as commenting out the ownerref on that configmap. Let me get back to you soon on where that would be so we can get you unblocked...

[2021-04-02 16:07] t3hmrman opened #7519 "OSD pod permissions broken, unable to open OSD superblock after node restart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

`osd` pods fail to restart after node restart

**Expected behavior:**

OSD pods come back online

**How to reproduce it (minimal and precise):**

- Set up two pieces of storage -- a partition on one drive (in my example, one that holds the OS) and a full drive
- Set up a cluster using `k0s` ([there ar

[2021-04-02 17:56] t3hmrman opened #7520 "PVs not mounted due to kubernetes.io/csi/pv/*/globalmount is missing, with possibly related omap errors"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After a successful (seeming) install of Rook:

- PVCs work and are Bound
- PVs are created by Pods which have PVCs (also Bound)
- Ceph Dashboard confirms the block device has been created
- Pod is able to attach to the PV
- **Pod cannot mount the PV itself**

**Expected behavior:**

The pod should be

[2021-04-02 23:21] ctrahey commented on #4896
I am experiencing this today, even after upgrading to 1.20.5 on all nodes in attempt to fix (they added some orphaned pod cleanup to 1.20.5).

See my comment [on this ceph issue](https://github.com/ceph/ceph-csi/issues/1062#issuecomment-812751202) for more details, I have ruled out (I think) networking issues.

[2021-04-04 06:38] t3hmrman commented on #7520
OK so I fixed this issue (and others) by doing a few things:

- Reverting to Ceph 15.2.6 (instead of 15.2.9, since partition support is [broken/removed there](https://github.com/ceph/ceph/pull/38280))
- Changed `ROOK_CSI_KUBELET_DIR_PATH` to `/var/lib/k0s/kubelet`, *rather* than adding a symlink -- I updated a related ticket in the k0s project warning against the use of symlinks for this as well.

[2021-04-04 06:38] #7520 closed

[2021-04-04 09:12] haslersn commented on #7519
It seems there are now multiple problems that appear after node restarts: see #7497.

[2021-04-04 09:13] haslersn commented on #7497
@leseb do you have any idea where I can start to debug?

[2021-04-04 14:32] t3hmrman commented on #7519
Ah so I should have posted here but I've been working on this all day and just made what I *think* is a breakthrough in my own case, it looks like Ceph implicitly depends on some udev changes or GPT to change permissions for drives properly.

What's weird is that everything I see on the folders and disk states that the folder is owned by the `ceph` user (uid 167) that is trying to write to it (and

[2021-04-04 14:51] t3hmrman commented on #7519
Found some similar issues, I think this might be a network thing? It seems like everything in the script actually happens *twice*. Everything is going great until the `-1` (return code?) line where it "falls back to the public interface".

https://github.com/rook/rook/issues/3140

[2021-04-04 15:35] t3hmrman commented on #7519
Oh and re: https://github.com/rook/rook/issues/7497

I can actually trigger that by `su`ing to the `ceph` user inside an OSD pod and trying to start the OSD myself with the same command. I can write to the disk directory, but the script spits out that error exactly when it starts up (after letting me know it doesn't have to switch user because it's not root).

[2021-04-04 16:07] t3hmrman commented on #7519
Another note for anyone who might look at this who wants to chase the udev angle -- there are already some rules that *seem to apply* (according to `udevadm test`):

[code]

It doesn't work even with this but it's worth mentioning that these rules are there (technically they wouldn't target partitions but they're there).

After turning on `provider: host` and `ROOK_HOSTPATH_REQUIRES_PRIVILEGED: tr

[2021-04-04 16:35] t3hmrman commented on #7519
OK so this is definitely the wrong way, but I figured out a way that works -- I removed the `setuser` and `setgroup` arguments from the OSD pods, and they worked immediately. On disk, the files are still owned by UID/GID 167, so I tried `runAsUser: 167` and that did *not* work.

Removing `setuser` and `setgroup` instantly fixed all the osd pods, and I'm getting logs like normal. I'm not sure exact

[2021-04-04 17:02] galexrt commented on #7519
@t3hmrman Do you have any `ceph*` packages installed on your nodes? E.g., `dpkg --list ceph*` or so.

Post the list and / or go ahead and remove the packages from the nodes.

[2021-04-04 17:07] t3hmrman commented on #7519
Ah I definitely do -- I pre-installed `ceph` and `ceph-mds` since it's Ubuntu 20.04 -- Am I seeing the collision of the `apt` installed `ceph`-created user and Rook's?

I'm in the middle of that build (it's ansible so it's a bit slow) so I will try that as well.

[2021-04-04 17:27] galexrt commented on #7519
@t3hmrman You don't need to install any of the `ceph*` packages on the nodes as they would conflict with the Ceph user ids of the CentOS Ceph base image conflict with the Ubuntu / Debian packages unless you pre-create the users (which I wouldn't recommend..).

Any reason you install them on the nodes at the moment?

[2021-04-04 17:30] t3hmrman commented on #7519
Nope -- I looked and I replaced my `ceph-volume lvm zap` commands with `sgdisk` commands a while back, so I'm actually not using the packages at all.

I don't particularly need the packages, so I'll take them out once the build is done -- was this a part of the documentation I overlooked? If not, maybe updating it would be good because I don't feel like I've seen this discussed before, I've looked

[2021-04-04 20:02] #6886 closed

[2021-04-04 23:34] dseomn opened #7522 "ceph-mon uses IPv4 address for --public-bind-addr in `ipFamily: IPv6` cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The ceph cluster seems to be stuck in phase `Progressing` with message `Configuring Ceph Mons`.

**Expected behavior:**

The ceph cluster should start working.

**How to reproduce it (minimal and precise):**

I have a dual-stack kubernetes cluster, and I tried to create a ceph cluster using `ipFamily:

[2021-04-04 23:55] dseomn commented on #7522
It looks like there's a relevant, but closed, bug in kubernetes: https://github.com/kubernetes/kubernetes/issues/95251

That bug says "Calico always send IPv4 first" which matches what I'm seeing here. (I forgot to mention that I'm using Calico.) And [one comment](https://github.com/kubernetes/kubernetes/issues/95251#issuecomment-774418479) mentions Rook.

[2021-04-05 14:42] t3hmrman commented on #7519
OK closing this for now -- if someone runs into this they'll probably see this ticket if they search for the exact phrases.

[2021-04-05 14:42] #7519 closed

[2021-04-05 18:55] travisn commented on #7375
Remove [this ownerref](https://github.com/rook/rook/blob/release-1.2/pkg/operator/k8sutil/kvstore.go#L78) should fix the issue. This helper is used by other configmaps as well, but removing the ownerref ultimately won't affect anything except during uninstall they might be left behind. Can you try building this change?

[2021-04-05 19:21] batrick commented on #7373
Yes, they could be. In fact, it's probably wise to at least do the MDS pre-upgrade sequence while the OSDs are being upgraded.

[2021-04-06 02:19] Sangshaai commented on #7500
yes, I have tired ceph monitoring, but there are not some metrics that I want, such as ceph_radosgw_rgw_req, ceph_radosgw_rgw_qactive and so on.

[2021-04-06 02:19] Sangshaai commented on #7500
yes, I have tired ceph monitoring, but there are not some metrics that I want, such as ceph_radosgw_rgw_req, ceph_radosgw_rgw_qactive and so on.

[2021-04-06 02:20] zzswang commented on #3491
same issue

[2021-04-06 13:07] leseb commented on #7494
Most of it is in  #7515, also the configuration of the `server_addr` disappeared in https://github.com/rook/rook/commit/7dc36e0f4605cc9f3cf7d41f1815998f0e69d2ca. For the liveness probe nothing has changed.

Also, now that we don't set it anymore (in Rook 1.6), we will leave the mgr module figure out the network stack, see: https://github.com/ceph/ceph/blob/octopus/src/pybind/mgr/mgr_util.py#L108-L

[2021-04-06 13:07] #7494 closed

[2021-04-06 14:42] subhamkrai commented on #7498
@BlaineEXE @travisn I was trying to repo in `v15.2.10` I saw
[code]
for me, it was not showing the credential and if commands have changed it should show command failed not the credentials right? Let me know if I'm missing something.

[2021-04-06 14:44] subhamkrai commented on #7498
FYI, I have the changes locally with the new command and it is working.

[2021-04-06 15:22] travisn opened #7528 "Update the Ceph upgrade guide for the 1.6 release"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
For the v1.6 release we need to update the upgrade guide and manually test the upgrades.

[2021-04-06 18:39] travisn opened #7531 "Crash collector pods should not be created until the rook-ceph-crash-collector-keyring secret exists"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The crash collector controller creates the pods immediately whenever any ceph daemon is created on a node. However, the pods cannot start until after the mons have created quorum and the `rook-ceph-crash-collector-keyring` secret is created in the cluster namespace. This causes confusion for users who

[2021-04-06 19:58] travisn commented on #7462
@paalkr Yes great analysis, agreed we need both those fixes.
1. If there is an error on those lines I previously mentioned, assume it's a new node without OSDs
2. Before querying for the node in the crush map, call the helper `NormalizeCrushName(name)` to make sure the node name can match the name in the crush map.

For example:
[code]

[2021-04-06 20:11] aasraoui opened #7533 "Monitor nodes failing over"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Monitor nodes keep on reseting

**Expected behavior:**
All monitor nodes should reach quorum

**How to reproduce it (minimal and precise):**

issue commands to create the cluster:

kubectl -f create crds.yaml
kubectl -f create operator.yaml
kubectl -f create cluster.yaml

**File(s) to submit**:

* Clus

[2021-04-06 20:13] aasraoui commented on #7533
cluster.yaml
[cluster.yaml.txt](https://github.com/rook/rook/files/6267291/cluster.yaml.txt)

[2021-04-06 20:14] aasraoui commented on #7533
oprator logs
[operator-logs.txt](https://github.com/rook/rook/files/6267300/operator-logs.txt)

[2021-04-06 20:14] travisn opened #7534 "Allow disabling the node watcher that triggers configuring OSDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator always watches for node events and starts a reconcile when a node is ready and does not have any OSDs (after #7462 is fixed). If the cluster is deployed with `storageClassDeviceSets` or if the admin has any other reason not to trigger the reconcile with new nodes, there should be an option

[2021-04-06 20:36] paalkr commented on #7534
Is this actually true for ceph clusters with both PVC OSDs and Device OSDs? I would imagine that "mixed clusters" would benefit from  watching nodes even with `storageClassDeviceSets `specified in the cluster manifest. Wouldn't just relying on the existing `storage.useAllNodes: false` be enough to stop reconcile when a new node is added?

[2021-04-06 20:39] paalkr commented on #7462
@travisn , I appreciate that you spend time to follow up on the issues I have reported. Thx!

[2021-04-06 20:47] travisn commented on #7534
Title is updated now to better represent the suggestion. It would be best to enable by default, and clusters with device sets likely want to disable it.

[2021-04-06 20:56] paalkr commented on #7462
Please let me know if you have a docker image with the fixes applied, that you would like me to test.

[2021-04-07 08:00] leseb commented on #7531
This seems like a low optimization IMO with potentially more complex code to handle that. I understand it can cause confusion but it's really a matter of minutes until the pod will start running. Also, this only happens during the initial cluster creation. If the mons are not in quorum it's clearly indicated in our operator logs. I'm not sure if changing anything is worth it.

[2021-04-07 08:04] leseb commented on #7533
The mon never gets into quorum as per:

[code]

Make sure `dataDirHostPath` is purged and try creating the cluster again. Also the mon logs probably have this answer too, please paste the mon logs.

[2021-04-07 11:25] subhamkrai commented on #7498
on openshift I'm seeing
[code]

[2021-04-07 12:56] subhamkrai commented on #7498
Ok, after removing the file I'm not seeing this anymore.

[2021-04-07 15:15] aasraoui commented on #7533
i have purged dataDirHostPath on all the nodes prior to creating the cluster. logs of one of the mon d is attached. how is the selection of the mon endpts made, cause the ip range for this are not in the same subnet as the host network ( refer to operator logs).

[2021-04-07 15:16] aasraoui commented on #7533
[mon-d-logs.txt](https://github.com/rook/rook/files/6272644/mon-d-logs.txt)

[2021-04-07 16:36] travisn commented on #7531
If it's a simple implementation such as not to create the crash collector if the secret doesn't exist, there is enough confusion around the crash collectors getting stuck initializing that it will be worth it.

[2021-04-07 16:46] leseb opened #7542 "ci: minikube setup on master branch fails"
See https://github.com/rook/rook/runs/2289475337?check_suite_focus=true

[2021-04-07 16:46] leseb commented on #7542
It's the same for all the other suites.

[2021-04-07 17:08] mleklund opened #7543 "Failed to get device "sda2" info on grub partition"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Sometimes I receive the following error from a crashing `rook-ceph-osd-prepare-` after node reboot:
[code]
In this case I am running flatcar linux and `/dev/sda2` is a grub partition for booting the operating system.  Further `/dev/sda2` is not in my list of devices for ceph consideration.

**Expected

[2021-04-07 21:45] mazocode opened #7550 "Unable to expose ceph mgr outside the cluster (advertises with pod address)."
* Bug Report

**Deviation from expected behavior:**
cep-mgr is getting started with foreground public address set to the pod network.

**Expected behavior:**
ceph-mgr started with foreground public addr set to cluster ip.

**How to reproduce it (minimal and precise):**
Install a cluster and see the args passed to ceph-mgr. Here is an example with (172... being the pod network):
[code]
This won't c

[2021-04-07 22:09] travisn commented on #7498
What do you mean you removed the file? We need to use the file with the new api, right?

[2021-04-08 05:04] subhamkrai commented on #7498
by removed  file I mean [this](https://github.com/rook/rook/pull/7552/files#diff-43c3d0859d9ed8d1441f048beade7512b8a2d434a71de5381c2d1201534d660aR217-R219)

[2021-04-08 06:46] subhamkrai commented on #7542
for
1. `flex suite` in k8s version test passed(v1.15.12, v1.16.15) but in all other version minikube setup failed https://github.com/rook/rook/runs/2291718450?check_suite_focus=true
2. `smoke suite` test passing for all except k8s v1.20.2 https://github.com/rook/rook/actions/runs/727486999 (failed because cluster in bad state)
3.  `multiclusterdeploy suite` passing for all k8s versions https://git

[2021-04-08 09:35] #7542 closed

[2021-04-08 09:37] leseb commented on #7542
Looks better now: https://github.com/rook/rook/runs/2295496503?check_suite_focus=true

[2021-04-08 11:56] parth-gr commented on #7499
I am attaching the Operator Debug Logs file so we can discuss further on the DEBUG logging and decide which logs to be removed and cut down.

Here I have attached operator-debug-logs file which is the result of 3 nodes cluster by applying cluster.yaml file.

`(kubectl logs -nrook-ceph [operator-name] | grep -i D)`[operator-debug-logs.txt](https://github.com/rook/rook/files/6278362/operator-debug-l

[2021-04-08 13:40] pkddacoliat opened #7554 "rook-ceph-operator failed to run - no matches for kind "CephFilesystemMirror" in version "ceph.rook.io/v1""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Rook ceph operator is in crashing state.

**Expected behavior:**

Rook ceph operator is running.

**How to reproduce it (minimal and precise):**
Rook v1.5.8 was deployed using the following script:
[code]

**File(s) to submit**:

Logs from the operator:
[code]

**Environment**:
* OS (e.g. from /etc/os

[2021-04-08 13:51] leseb commented on #7554
You are not running 1.5.8 but master code, but likely the CRDs from 1.5.X.
ceph-filesystem-mirror is a 1.6 feature.

[2021-04-08 13:51] #7554 closed

[2021-04-08 17:57] travisn commented on #6673
Reopening since the original fix has been reverted. See #7556 for more background.

[2021-04-08 21:14] mazocode commented on #7550
Looks like this is a bit more complicated than anticipated. The mon daemons are started with --public-addr=<ClusterIP> --public-bind-addr=<podIP>. Unfortunately this does not work with ceph-mgr. The mgr seems to ignore the --public-bind-addr and tries to bind to the --public-addr which fails with a ClusterIP.

[2021-04-09 00:31] mazocode commented on #7550
Here is some ugly hack I came up with as a temporary work around. Unfortunately, this only lasts as long as the deployment does not get recreated by the operator.

This patch creates a wrapper script for calling ceph-mgr with --public-addr set to the address of the specified interface (replace net1 with whatever interface you need):

The wrapper script:
[code]

Patch to call the script:
[code]

An

[2021-04-09 01:42] mazocode opened #7563 "Operator pod is missing multus nework annotation with external -> enabled: true"
* Bug Report

**Deviation from expected behavior:**
The operator is using the pod network to contact the external ceph cluster instead of the specified multus network.

**Expected behavior:**
Operator deployment template including the multus network annotation.

**How to reproduce it (minimal and precise):**
Try to use rook to access an external cluster trough a multus network. Example configurati

[2021-04-09 03:41] OPSTime opened #7565 "Problems caused by removing duplicate configurations"
**version：v1.5.9
file: operator.yml
Turn on DISCOVER_TOLERATIONS、DISCOVER_AGENT_NODE_AFFINITY
There is a duplicate discover_ AGENT_ NODE_ Affinity configuration，then，Run：
kubectl apply -f operator.yaml**
[code]

**When a configuration problem is found, remove the duplicate configuration and apply it again. DISCOVER_AGENT_NODE_AFFINITY configuration content disappears.
kubectl get daemonset/rook-di

[2021-04-09 05:20] dseomn commented on #7522
As of kubernetes 1.21 with https://github.com/kubernetes/kubernetes/pull/97979, it looks like there's a workaround. Manually passing an IPv6 address to the kubelet with `--node-ip` makes the `podIP` field use the IPv6 address. It would still be nice to have a fix though, so that a `CephCluster`'s `ipFamily` doesn't have to match the kubelet's IP address. Also, I'm guessing this should listen on bo

[2021-04-09 11:05] aniket202 commented on #7413
@travisn sorry for the delay in getting back, I was having different issues on the env. Following is the osd-prepare job, I see that osd daemon is still not created. And attaching logs screenshot.

I have only set ROOK_HOSTPATH_REQUIRES_PRIVILEGED to true and using cluster-on-pvc.yaml

<img width="1020" alt="image" src="https://user-images.githubusercontent.com/64406697/114170953-45f4bd80-9951-11e

[2021-04-09 12:36] parth-gr commented on #7462
Hey @paalkr , I have created a PR for the changes.
If you want to test before the Rook release you can use image `partharora1010/rook-ceph:v2`  and update this in operator.yaml at [line](https://github.com/rook/rook/blob/0373171617dc80a04acd19f7cdd42e49a4336c66/cluster/examples/kubernetes/ceph/operator.yaml#L318).

[2021-04-09 14:02] travisn opened #7569 "Cassandra integration tests are failing consistently"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The Cassandra integration tests are failing since yesterday in `master` and `release-1.6` branches. For example, in [this release build](https://jenkins.rook.io/blue/rest/organizations/jenkins/pipelines/rook/pipelines/rook/branches/release-1.6/runs/6/nodes/51/steps/131/log/?start=0), the failure shows:

[2021-04-09 16:59] travisn commented on #7499
Here are a couple messages that also don't seem necessary from that debug log:
1. ceph-spec: object "rook-ceph-detect-version" did not match on delete
2. ceph-spec: update event from a CR

[2021-04-09 19:15] travisn commented on #7543
Interesting that it fails intermittently and not consistently. Seems like the call to [CheckIfDeviceAvailable()](https://github.com/rook/rook/blob/fcf634e3b7808e4338e7fd261c047aae4793e99b/pkg/daemon/ceph/osd/daemon.go#L355) should set `isAvailable = false` and just log the error instead of failing the whole pod. Then the prepare job could finish its work instead of failing intermittently. @BlaineE

[2021-04-09 22:01] mleklund commented on #7543
I don’t have an idea why it fails, but once it starts failing it is not intermittent, it will continue to fail unt after reboot.

[2021-04-09 22:42] BlaineEXE opened #7573 "Ceph: ObjectStoreUser failures on update to 1.6"
**Is this a bug report or feature request?**
* Bug Report

Upgrading from Rook v1.5.x (tested v1.5.0 and v1.5.9) to `release-1.6` branch yields the below errors updating the CephObjectStoreUser.

[code]

This issues is not fixed if the operator is restarted. It does not seem to be an issue with the cluster not responding while an upgrade is in progress.

This does not seem to be an issue with CRDs

[2021-04-10 19:57] fritchie commented on #7573
fyi, running this command manually also fails due to the display name not being quoted:

2021-04-09 22:35:31.554928 D | exec: Running command: radosgw-admin user create --uid my-user **--display-name my display name** --rgw-realm=my-store --rgw-zonegroup=my-store --rgw-zone=my-store --cluster=rook-ceph --conf=/var/lib/rook/rook-ceph/rook-ceph.config --name=client.admin --keyring=/var/lib/rook/rook

[2021-04-11 05:33] solacelost opened #7575 "PVs not being SELinux relabelled on enforcing system"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a PV is attached to a pod, it is not having SELinux labels set to match the pod.

**Expected behavior:**
The SELinux labels for that pod should be applied, as is configured.

**How to reproduce it (minimal and precise):**

1. Deploy Kubernetes and Rook 1.6.0-beta.0 on an SELinux enforcing system
2

[2021-04-11 05:55] vasanthaganeshk commented on #3664
@glennodickson, thank you. You saved so much time for me.

[2021-04-11 13:10] CodingSpiderFox opened #7576 "Ceph dashboard not showing up"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I cannot access the ceph dashboard from outside the cluster.

**Expected behavior:**
I want to be able to access the dashboard from all computers on my local network (not only the nodes in the kubernetes cluster)

**How to reproduce it (minimal and precise):**
Install 3 node cluster with kubespray. VMs

[2021-04-11 15:31] fritchie commented on #7573
fwiw, this is probably:

https://tracker.ceph.com/issues/50169

adding

rgw_data_log_backing = omap

to the config allows the user to be created.

[2021-04-11 16:22] galexrt commented on #7576
Your `NodePort` service is pointing at port `8443` and not `7000` which the Rook Ceph MGR dashboard is running on.

Check your CephCluster object for the `dashboard:` section and use the port which is specified there, and use that one in your NodePort service, see https://rook.io/docs/rook/v1.5/ceph-cluster-crd.html#cluster-settings.

Also checkout https://rook.io/docs/rook/v1.5/ceph-dashboard.htm

[2021-04-11 19:53] CodingSpiderFox commented on #7576
Yes, figured that out with a friend, too, thanks :)

[2021-04-11 19:53] #7576 closed

[2021-04-11 19:56] CodingSpiderFox commented on #6519
same problem here

[2021-04-11 20:15] CodingSpiderFox opened #7577 "Orchestrator not available after deploying rook-ceph with helm"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I cannot create OSDs from the dashboard. When clicking the "Create" button in the OSD section I get the following message

[code]
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL

[2021-04-12 07:31] subhamkrai opened #7578 "Error executing object-openshift.yaml"
**Is this a bug report or feature request?**
* Bug Report

Executing object-openshift.yaml throughs error
`The CephObjectStore "my-store" is invalid: spec.gateway.sslCertificateRef: Invalid value: "null": spec.gateway.sslCertificateRef in body must be of type string: "null"`

[2021-04-12 08:03] leseb commented on #7497
@haslersn can you look at the auth keys for the OSDs? Please paste the output of  `ceph auth list` (by logging into the [toolbox](https://rook.io/docs/rook/v1.5/ceph-toolbox.html)). Thanks.

[2021-04-12 10:06] leseb commented on #7550
Isn't the POD_IP not the one coming from `net1` in your case? So basically the request is to have the `public-addr` set to a different IP? What about the mons, are they working?

[2021-04-12 10:10] leseb commented on #4238
@timhughes @ShyamsundarR for the Minikube case I believe this is expected. My Minikube mounts with:

[code]

Because of `tmpfs` restarting the node does not persist any Ceph data. At the restart, the Mons will initialize like a new cluster.

[2021-04-12 10:20] leseb commented on #7522
@dseomn can you show the POD_IP for the Mon? Especially because of your comment here: ` It looks like the pod's podIP is IPv4, but the podIPs field has both addresses.`

[2021-04-12 11:05] ShyamsundarR commented on #4238
@leseb I do preserve `/var/lib/rook` in all my setups like so,

`minikube ssh "sudo mkdir -p /mnt/vda1/rook/ && sudo ln -sf /mnt/vda1/rook/ /var/lib/" --profile=rook1`

[code]

and still see the problem.

Also, I would expect the OSD init container scripts to copy the new credentials over to the OSD keyring, but I see that it copies the older content over always (in the minikube case). Getting som

[2021-04-12 11:09] leseb commented on #4238
I used to do that too but I just realized that on reboot the symlink goes away. Can you verify?

[2021-04-12 11:22] ShyamsundarR commented on #4238
Duh! 🤦🏾 yes the symlink is on `/` which is tmpfs, and so the minikube reboot takes it away...

Did you find a better way to preserve `/var/lib/rook` on minikube setups?

[2021-04-12 11:42] leseb commented on #4238
So far no, any changes in `/etc` will never persist, editing the initramfs could be an option but that's not really suitable.

[2021-04-12 12:01] ShyamsundarR commented on #4238
My current workaround to preserve `/var/lib/rook` is as follows, (using the kvm2 driver and hence `virsh` and friends where appropriate), leaving it here if it helps others:

[code]

[2021-04-12 12:07] #7578 closed

[2021-04-12 12:33] mazocode commented on #7550
My net1 interface (storage network) is within the 10.132/15 range.

I stumbled across this problem while trying to use a healthy rook ceph cluster as a storage backend with another k8 cluster. The mons are created with their POD address specified as public bind address but they are advertised with their service address. The external client can talk to the mon pods successfully using the cluster ne

[2021-04-12 12:44] leseb commented on #7550
Ok thanks, I feel like if we add a service to the mgr this could help in "some" circumstances like running mon/mgr commands. However, interacting with OSDs via ceph-csi won't work since again we would need to add a service for each OSDs.

How are you planning on consuming that cluster?

[2021-04-12 15:18] dseomn commented on #7522
Do you mean the `ROOK_POD_IP` environment variable? That's the same as the `podIP` field, right?

[code]

I already did the workaround I mentioned above, so I'd have to spin up a new cluster to get the bug again, but I could do that if it would help.

[2021-04-12 16:01] BlaineEXE commented on #7573
Fix for this should also add regression test to verify that the `CephObjectStoreUser` is in the ready state after the upgrade.

[2021-04-12 16:37] BlaineEXE commented on #7573
@thotz and/or @mattbenjamin does using the workaround suggested `rgw_data_log_backing = omap` have any side-effects that might break things for users?

[2021-04-12 16:47] fritchie commented on #7573
fyi, this link indicated the variable name may change:

https://lists.ceph.io/hyperkitty/list/ceph-users@ceph.io/thread/ZQNA65QMUOPJKBPNLHAOSI5W4BXYWC73/

[code]

[2021-04-12 17:55] travisn commented on #7575
@Rakshith-R can you take a look?

[2021-04-12 18:00] travisn commented on #7577
@CodingSpiderFox You want to create OSDs from the Ceph dashboard? This is not currently supported. Using the CephCluster CR is still required.

[2021-04-12 18:12] BlaineEXE commented on #7573
Thanks @fritchie. Do you have any more information about what the side-effects might be?

Given the change from `rgw_data_log_backing` to `rgw_default_data_log_backing`, I may need to test applying the workaround to Rook for the current `16.2.0` and development branch of Ceph Pacific.

[2021-04-12 18:20] CodingSpiderFox commented on #7577
Oh OK. What does CR stand for?

[2021-04-12 18:22] travisn commented on #7577
Custom Resource. The [docs](https://rook.github.io/docs/rook/v1.5/ceph-quickstart.html) walk through the setup, and see the example [CephCluster CR](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml), aka cluster.yaml.

[2021-04-12 18:32] fritchie commented on #7573
@BlaineEXE I am not aware of any side-effects. I am just an end-user though.

[2021-04-12 19:20] CodingSpiderFox commented on #7577
OK thanks :)

[2021-04-12 19:20] #7577 closed

[2021-04-12 20:02] #6867 closed

[2021-04-12 20:02] #6257 closed

[2021-04-12 20:53] travisn commented on #6867
@paalkr This is working for you now, right? We must have missed closing the issue, unless I'm forgetting something else...

[2021-04-12 20:53] BlaineEXE commented on #7573
Ceph v15.2.10 output withOUTOMAP backend flag.
[code]

Ceph v15.2.10 output WITH OMAP backend flag.
[code]

Both outputs report `unable to open FIFO`, but without the flag also outputs `Error when starting backend`.

[2021-04-12 20:58] jproig commented on #6896
I think this is still a nice feature to have

[2021-04-12 20:59] fritchie commented on #7573
interesting, I added the option to ceph.conf when I tested

[2021-04-12 21:10] fritchie commented on #7573
fwiw, what I see when testing without "rgw_data_log_backing = omap" in ceph.conf

[2021-04-12 21:18] fritchie commented on #7573
It looks like the operator starts having reconcile errors again when ```rgw_data_log_backing = omap``` is removed from ceph.conf though.

[2021-04-12 21:29] BlaineEXE commented on #7573
I'm working on implementing a workaround for this in Rook. The current goal is to issue the `--rgw-data-log-backing=omap` or `--rgw-default-data-log-backing=omap` when there are issues with a `radosgw-admin` command. I'm not sure if we can determine programmatically from the output whether it is a FIFO issue. The only commonality I see is the `failed to start datalog_rados service` error, but I am

[2021-04-12 21:30] huats commented on #6896
I clearly agree. I am using it quite often with a need to manually edit the statefulset to add that.

[2021-04-12 21:35] fritchie commented on #7573
fwiw, the exit code is correct (0) when using the flag even though FIFO errors are reported ... without the flag it will be 5

[2021-04-13 00:08] #4951 closed

[2021-04-13 00:27] travisn commented on #2066
Haven't seen this for a while

[2021-04-13 00:27] #2066 closed

[2021-04-13 01:09] BlaineEXE commented on #7449
Please post logs from both the `rook-ceph-operator` and failing `rook-ceph-osd-prepare` pods.

[2021-04-13 01:59] satoru-takeuchi commented on #7543
@travisn I guess it's enough to leave log than returning error.

This error handling code was introduced in this commit.
https://github.com/rook/rook/commit/fbd1a0ce91b663c6d71bffb3668852db4a5080a#diff-fec75260852a95ce5e6fff3db6aec0db4cc5fca300edef6ba8f02a9e73ab0241R90

It seems not to treat some bugs.

[2021-04-13 06:42] paalkr commented on #6867
Hi, I believe so. But testing has been a little hard because of https://github.com/rook/rook/issues/7462

[2021-04-13 06:52] paalkr commented on #7462
@parth-gr, the custom image you mentioned,` partharora1010/rook-ceph:v2`, seems to be built on top of rook 1.6 code base, and requires new CRDs. I could update my test env to reflect the needed changes, but I would preferably keep the test env at the same version as in production, to make sure any tests I execute actually would apply to our prod clusters as well.

[2021-04-13 06:56] subhamkrai commented on #7462
@paalkr, please wait until #7568 is merged and I'll suggest using the official rook image. Thanks

[2021-04-13 13:33] #7364 closed

[2021-04-13 13:45] schantaraud commented on #7288
Thank you very much, I can confirm that the protocol mismatch issues were fixed. Keeping both ports open (the unsecured one being currently required for health checks) is a viable workaround until #7331 lands.

[2021-04-13 13:50] leseb commented on #7550
Stay tuned, once Rook 1.6 is out it will include Ceph-CSI 3.3 which has all we need to support Multus properly. Also, make sure you use at least Ceph V15.2.8. Once in place along with Multus/Whereabouts, the NADs will be propagated to Ceph-CSI pods. So no matter how many clusters you have they will all get the NAD attached and will be able to consume the external Ceph. So we don't need to expose m

[2021-04-13 14:00] mleklund commented on #7543
It seems to be more frequent after an Omaha update of flatcar, to my knowledge the partition never gets rewritten after initial install and is a grub second stage partition for boot. ([partition info here](https://kinvolk.io/docs/flatcar-container-linux/latest/reference/developer-guides/sdk-disk-partitions/))

[2021-04-13 14:51] satoru-takeuchi commented on #7543
@mleklund I created a PR to fix this problem. I'll backport it to both v1.5 and v1.6.

[2021-04-13 16:14] mazocode commented on #7550
Sounds awesome! Is there a timeline for this?

[2021-04-13 16:50] leseb commented on #7550
Within the next week or so.

[2021-04-13 16:50] leseb commented on #7550
I'm closing this for now. Thanks!

[2021-04-13 16:50] #7550 closed

[2021-04-13 17:30] BlaineEXE opened #7609 "Make use of Go v1.16 `embed` feature"
**Is this a bug report or feature request?**
* Feature Request

Go v1.16 introduces a new `embed` feature that can embed files into Go binaries. We should consider doing this for the CSI template manifests since they are a strict requirement for the Go binary.

This is not something we **have** to do if having the files on the filesystem is a "feature," but it could be beneficial.

https://blog.go

[2021-04-13 17:40] travisn commented on #7609
Agreed that would be nice for the csi driver, easier to manage them as an embedded resource than assume a file structure in the image.

[2021-04-13 20:02] #6892 closed

[2021-04-13 20:02] #6890 closed

[2021-04-13 20:02] #6878 closed

[2021-04-13 20:02] #6826 closed

[2021-04-13 21:20] BlaineEXE commented on #7543
I wonder if this is also what is behind https://github.com/rook/rook/issues/7449.

[2021-04-13 21:38] BlaineEXE commented on #6874
Kubernetes isn't built for the mips64le platform. I don't personally see a strong need for Rook upstream to support building for a platform that Kubernetes itself doesn't support.

[2021-04-13 21:38] #6874 closed

[2021-04-13 21:43] BlaineEXE commented on #7522
@dseomn if you could, that would be great. Collecting the rook-ceph-operator logs with `ROOK_LOG_LEVEL: DEBUG` and `kubectl describe` of the mon deployments from the cluster would also be helpful.

[2021-04-13 21:57] dseomn commented on #7522
Ok, I can probably do that some time in the next few days. But I'm not sure how any of that would help. [This code](https://github.com/rook/rook/blob/056150484f4792cff7bf14665af83fc16ea7e105/pkg/operator/ceph/cluster/mon/spec.go#L325) shows that `--public-bind-addr` is set from the `podIP` field, right? What else is there to find out from looking at logs? I'm pretty sure the solution is to just ig

[2021-04-14 03:13] #7528 closed

[2021-04-14 03:19] dseomn commented on #7522
Here's the requested info (plus a bit more that seemed relevant), with a dual-stack k8s cluster, IPv4 `podIP` fields, and `ipFamily: IPv6` in the CephCluster. I only got mon-a, because it takes a while for the other mon deployments to come up with this bug.

<details>
<summary>rook-ceph-operator-779fcbbb84-6fmxq logs</summary>

[code]

</details>

<details>
<summary>rook-ceph-mon-a deployment</sum

[2021-04-14 05:49] CodingSpiderFox commented on #7577
Doesn't the helm chart install a default cluster.yml?

[2021-04-14 07:10] #7543 closed

[2021-04-14 09:53] Rakshith-R commented on #7575
Hey @solacelost , can make sure the following options are set to true.
https://github.com/rook/rook/blob/fcf634e3b7808e4338e7fd261c047aae4793e99b/cluster/examples/kubernetes/ceph/operator.yaml#L405-L410
https://github.com/rook/rook/blob/fcf634e3b7808e4338e7fd261c047aae4793e99b/cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml#L37-L38
In cephfs and rbd provi

[2021-04-14 14:00] solacelost commented on #7575
[code]

[code]

With SELinux enforcing, I created the following:

[code]

[code]

Here are the entirety of the logs I got from the kubelet regarding this pod:

[code]

[2021-04-14 16:10] BlaineEXE opened #7624 "Rook should not log secret data when reconciling"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Rook reconciles on changes it makes to daemon keyrings. It also outputs messages that contain the keyring, which is a security leak.

Example (operator log):
[code]

**Expected behavior:**

Rook should ignore `rook-ceph-<daemon>-*-keyring` secrets during reconciles.

[2021-04-14 16:13] leseb commented on #7624
I think it's fine to reconcile if the secret is modified so we can always have the correct state.
We should just not print the diff if it contains `keyring` in it?

[2021-04-14 16:15] BlaineEXE commented on #7624
That may be a good point. We do have to sometimes have people make manual changes to the keyrings if something gets out of sync. Or if the keyring accidentally gets deleted. I'll fix the logging to sanitize the keyrings.

[2021-04-14 16:51] travisn commented on #7577
No, the helm chart creates the equivalent of crds.yaml, common.yaml, and operator.yaml

[2021-04-14 17:04] travisn opened #7628 "Update Ceph-CSI driver to 3.3.0 release"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The Ceph-CSI 3.3.0 release is expected in time for the v1.6 release, so let's pick it up.

**What is use case behind this feature:**
Use the latest CSI driver with the latest Rook release.

[2021-04-14 17:14] travisn opened #7629 "Metadata on the storageClassDeviceSet.volumeClaimTemplate is not being persisted"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When creating the cluster-on-pvc.yaml with the `annotations` property uncommented, the `name` and `crushDeviceClass` properties are ignored and not persisted to the cephcluster CR.

The schema generation to preserveUnknownFields is not being honored, complicated by pulling in a type that we don't own.

[2021-04-14 18:24] CodingSpiderFox commented on #7577
OK thanks for the clarification

[2021-04-14 20:02] #6895 closed

[2021-04-14 20:02] #6877 closed

[2021-04-14 20:02] #6876 closed

[2021-04-14 20:02] #6871 closed

[2021-04-14 20:02] #6862 closed

[2021-04-14 20:02] #6861 closed

[2021-04-14 20:02] #6738 closed

[2021-04-14 20:02] #6244 closed

[2021-04-14 20:05] travisn commented on #6971
Already fixed by #6972

[2021-04-14 20:05] #6971 closed

[2021-04-14 22:05] travisn commented on #7629
Adding the `x-kubernetes-preserve-unknown-fields: true` to the `metadata` on [this line](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/crds.yaml#L2842) works around it. The trick is to generate it.

[2021-04-14 23:24] electrical commented on #6976
This should remain open as it's still an issue

[2021-04-15 02:46] hhy5861 commented on #7362
[code]

[2021-04-15 04:21] #7629 closed

[2021-04-15 04:23] #7569 closed

[2021-04-15 05:30] Madhu-1 commented on #7203
/assign @Rakshith-R

[2021-04-15 05:32] Madhu-1 commented on #4841
/assign @Yuggupta27

[2021-04-15 05:43] Madhu-1 commented on #7005
/assign @Rakshith-R

[2021-04-15 05:44] Madhu-1 commented on #7020
/assign @Yuggupta27

[2021-04-15 05:44] Madhu-1 commented on #7033
/assign @Yuggupta27

[2021-04-15 05:45] Madhu-1 commented on #7034
/assign @Yuggupta27

[2021-04-15 05:46] Madhu-1 commented on #7032
/assign @Rakshith-R

Note:- we have added different types of encryption, we need to cover those also

cc @nixpanic

[2021-04-15 05:47] Madhu-1 commented on #7036
/assign @Rakshith-R For CSI work

[2021-04-15 05:47] Madhu-1 commented on #7035
/assign @Yuggupta27  for CSI integeration work.

[2021-04-15 07:16] leseb commented on #7035
@Madhu-1 I have code for this already.

[2021-04-15 07:16] leseb commented on #7035
I'll submit it soon.

[2021-04-15 07:21] Madhu-1 commented on #7035
@leseb Thank you. Assigned Yug to handle the CSI side of things to support multiple namespaces.

[2021-04-15 07:32] leseb commented on #7035
Sounds good!

[2021-04-15 12:21] subhamkrai opened #7636 "'prometheus' service not found, is the exporter enabled'."
Canary test failing with
[code]

example run: https://github.com/rook/rook/runs/2352543882?check_suite_focus=true

[2021-04-15 12:23] leseb commented on #7636
I wonder if this was intermittent, ran the CI again to confirm.

[2021-04-15 13:06] leseb opened #7638 "ci: test our CSV in the CI"
We need to setup a CI job to run our CSV and make sure it can deploy a basic cluster. Pasting a few links found from various sources, it looks like the community repo from the operatorhub.io has some githubactions:

* https://github.com/mvalarh/op-action-examples/blob/master/.github/workflows/main.yml#L24-L37
* https://github.com/operator-framework/community-operators/blob/master/.github/workflows

[2021-04-15 13:49] #7498 closed

[2021-04-15 14:46] #7624 closed

[2021-04-15 15:42] #7628 closed

[2021-04-15 16:39] #4670 closed

[2021-04-16 00:13] travisn opened #7654 "Upgrade test failing in release-1.5 branch"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The upgrade test suite is failing fairly consistently in the release-1.5 branch. The test is failing when first installing v1.4.7 and doesn't even get to the steps where the upgrade is actually tested.

A manual upgrade from v1.4.7 to v1.5.10 is successful, and no issues observed. This appears to only

[2021-04-16 00:31] travisn opened #7655 "Intermittent build failure when generating the csv"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Builds need to complete consistently. Two consecutive builds failed in the release-1.6 branch.

This [release-1.6 log](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/release-1.6/22/pipeline/) shows:
[code]

**Expected behavior:**
Builds must pass consistently

**How to reproduce

[2021-04-16 01:51] travisn opened #7657 "Build should fail if there are any modified files after the build (e.g. go.sum)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The v1.5.10 build succeeded, but then created the `v1.5.10-dirty` tag due to a modified file `go.sum`, thus invalidating the release.

**Expected behavior:**
The CI should fail if there is any change to files such as go.sum.

**How to reproduce it (minimal and precise):**

See the release-1.5 build whe

[2021-04-16 03:24] alimaredia opened #7658 "Builds failing on Fedora 33 due to yq"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]

**Expected behavior:**
Running make with or without `INCLUDE_CSV_TEMPLATES=""` should succeed.

**How to reproduce it (minimal and precise):**

Build rook on Fedora 33.

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if n

[2021-04-16 04:27] subhamkrai commented on #7638
sure @leseb

[2021-04-16 06:07] ibotty opened #7659 "rook-ceph upgrade from 1.5.9 to 1.6.0: CustomResourceDefinition "cephblockpools.ceph.rook.io" is invalid: spec.preserveUnknownFields"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configuration:
* Rook version (use `rook version` inside of a Rook Pod): 1.5.9
* Storage backend version (e.g. for ceph do `ceph -v`):
* Ku

[2021-04-16 06:22] subhamkrai commented on #7659
@ibotty please follow this [doc](https://rook.github.io/docs/rook/v1.6/ceph-upgrade.html) to upgrade. Thanks

[2021-04-16 07:46] ibotty commented on #7659
I did.  `kubectl apply -f common.yaml -f crds.yaml` is the step that fails with

[code]

This installation has been steadily upgraded from Rook v1.3 afair so it might be some leftover.  Should I `replace -f`?

[2021-04-16 08:20] ibotty commented on #7659
I had to remove `spec.preserveUnknownFields` from most `*.ceph.rook.io` CRDs manually.  I could apply `crds.yaml` after doing that.

[2021-04-16 09:33] Rakshith-R commented on #7575
hey @solacelost, this setting is only used by rook flex agent and not the CSI.
https://github.com/rook/rook/blob/432e42e04a36f8ab2626ca8de479020472800d44/cluster/examples/kubernetes/ceph/operator.yaml#L417-L418

Ceph-CSI does not do any selinux relabeling. Try setting security context of the created pod  https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#assign-selinux-labe

[2021-04-16 12:54] ClaudiuLSH opened #7660 "v1.6.0 clean deploy fails to create bucket"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Creating ObjectBucketClaim fails with:
[code]

**How to reproduce it (minimal and precise):**
Apply the following manifest in a new namespace.
[code]

**Environment**:
* Newly deployed rook v1.6.0 following quickstart, no custom configs.
* OS (e.g. from /etc/os-release): Ubuntu 20.04.2 LTS
* Kernel (e.

[2021-04-16 13:20] solacelost commented on #7575
Ceph-CSI should be setting the runtime to volume mount with `:Z` or `:z` modes as appropriate. Something specific about this particular setup or in the 1.6 beta is causing it to not pass that option to the CRI. I could manually set the context and it would work. I don't believe I should have to modify all volumes to indicate the SELinux context when I bind them.

Here's another example to demonstr

[2021-04-16 13:56] travisn commented on #7660
@BlaineEXE Looks like a follow up from #7600 is needed, if you could take a look. I wonder if the pre-Pacific Ceph deployments are still all affected by this issue. In an upgrade test I also see a similar message where the operator keeps trying to reconcile:
[code]

[2021-04-16 14:29] travisn commented on #7659
The `spec.preserveUnknownFields` seems to be an artifact leftover from converting from the v1beta1 to v1 CRDs. In v1  the tag to preserve unknown fields is `x-kubernetes-preserve-unknown-fields: true`. We made this conversion in v1.5, so I'm unclear why you are hitting this with v1.6 and not previously. Good to hear you could work around it by removing that from your CRDs, but that certainly is te

[2021-04-16 14:31] ClaudiuLSH commented on #7660
While creating CephObjectStore following the [documentation](https://rook.io/docs/rook/v1.6/ceph-object.html) I see the following error:
[code]

I am assuming the documentation is not yet updated? I deleted CephObjectStore, upgraded to ceph 1.6.0, recreated with corrected manifest and everything is back to normal now.

[2021-04-16 14:38] travisn commented on #7660
The docs look correct to me. Perhaps you have invalid whitespace from copying the example? Or did you use the [object-ec.yaml](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/object-ec.yaml) from the examples folder? If you see the issue again, please open a separate issue. Thanks!

[2021-04-16 15:58] BlaineEXE commented on #7660
Please attach additional logs:
1. FULL Rook Operator logs with `ROOK_DEBUG_LEVEL: DEBUG`
2. CephObjectStore manifest
3. StorageClass for the above object store
4. ObjectBucketClaim manifest
5. CephCluster manifest

[2021-04-16 16:46] cyrilcros opened #7661 "Can't create an erasure coded CephBlockPool, CephObjectStore, or CephFilesystem"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Can't create a CephFileSystem with erasure coding for my data pools. Really looks like a regression of #4750
See operator's logs below

**Expected behavior:**
The CephFileSystem is accepted as valid by the operator even if `spec.dataPools.replicated.size` is 0 (replicated: 0 / erasure coded 4 data chun

[2021-04-16 17:05] travisn commented on #7661
I see, this affects EC pools for all types of CephBlockPool, CephObjectStore, and CephFilesystem. We will need to get this fixed in v1.6.1. In the meantime, a workaround should be to change the `minimum: 1` property for pool size in crds.yaml to `minimum: 0`

[2021-04-16 17:07] cyrilcros commented on #7661
@travisn Thanks for looking into this!

[2021-04-16 17:16] ClaudiuLSH commented on #7660
For now this cluster was fixed. I will deploy a new cluster with the same configuration on Monday or Tuesday, will get back with requested logs then. I will come back with a comment even if I can't reproduce the issue.

[2021-04-16 18:34] BlaineEXE commented on #7660
Thanks @ClaudiuLSH! I haven't been able to repro myself.

[2021-04-16 19:02] MikaelSmith commented on #7113
I ran into this as well, which seems to match https://github.com/rook/rook/issues/5602, https://github.com/rook/rook/issues/4911, and https://github.com/rook/rook/issues/4761.

I've been running Rook 1.4.3 the whole time. At some point osd.{0,1,2} got replaced by osd.{3,4} (5 was never created, I ran with only 2 nodes for a bit), but auth keys were left for osd.{0,1,2}. Any idea why that happens,

[2021-04-16 19:40] #7661 closed

[2021-04-16 19:52] travisn commented on #7113
@MikaelSmith Did you take action to remove OSDs {0,1,2}? If OSDs are being removed, see the [OSD Management Guide](https://rook.github.io/docs/rook/v1.6/ceph-osd-mgmt.html#remove-an-osd), maybe the OSD wasn't fully purged to delete the auth.

[2021-04-16 20:36] MikaelSmith commented on #7113
I believe I followed https://rook.github.io/docs/rook/v1.6/ceph-osd-mgmt.html#purge-the-osd-manually, but don't have records of it anymore. It would have been done via https://github.com/replicatedhq/ekco/blob/master/pkg/cluster/rook_ceph.go#L419-L431, which does
[code]

[2021-04-16 20:45] travisn commented on #7113
ok, curious then if the osd auth was still remaining. The purge should have removed it.

[2021-04-16 22:31] travisn opened #7669 "Nautilus and Octopus tests should use latest images"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The nautilus and octopus integration tests are still using v14.2.12 and v15.2.7 because the versions later than than would not work with partitions, as required for certain test environments. With the latest releases and Rook 1.6 we can again use the latest v14 and v15 images when testing since we woul

[2021-04-16 22:51] travisn commented on #7449
This may be fixed by #7608, which was included in v1.5.10 and v1.6.0. @Confusingboat Do you see an improvement with that fix?

[2021-04-16 23:13] Confusingboat commented on #7449
I'll try to test this again/get logs sometime this weekend and update this issue with my findings.

[2021-04-17 07:12] christianhuening opened #7670 "Cluster creation fails with rook 1.6.0 and ceph 16 with metadata drives configured"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When configuring metadata drives, the cluster creation fails with rook `1.6.0` and ceph `16.0.2`
**Expected behavior:**
Cluster is created normally
**How to reproduce it (minimal and precise):**

* deploy rook-operator `1.6.0`
* specify a cluster resource which uses metadata devices
* deploy that
* obs

[2021-04-17 07:13] christianhuening commented on #7670
@travisn as discussed on slack

[2021-04-17 08:53] tibbe opened #7671 "CephNFS example fails to start pod with: "ganesha.nfsd": executable file not found in $PATH: unknown"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Ganesha NFS job didn't start when using example the `rook/cluster/examples/kubernetes/ceph/nfs.yaml` config. Fails with:

[code]

**Expected behavior:**

Expected ganesha job to start.

**How to reproduce it (minimal and precise):**

Set up a rook-ceph cluster using the exact configs provided in the [

[2021-04-17 09:32] christianhuening opened #7672 "Operator in 1.6.0 fails to check RGW ObjectStore when SSL is enabled for RGW"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
the rook operator attempts to check the readiness of RGW. This fails if `sslSecretRef` and `SecurePort` are specified in the ObjectStore config CRD.
**Expected behavior:**
rook-operator also uses the ssl secret provided to connect to RGW to check readiness.
**How to reproduce it (minimal and precise):*

[2021-04-18 04:24] huangyingxian commented on #3940
thanks

[2021-04-18 12:07] ron1 opened #7673 "Set tls ciphers and options for rgw beast frontend"
<!-- **Are you in the right place?**
* Feature Request

**What should the feature do:**
Set tls ciphers and options for rgw beast frontend

**What is use case behind this feature:**
Control tls configuration for rgw endpoint

**Environment**:
Rook 1.6.0
Ceph 16.2.0

[2021-04-18 13:46] marklester opened #7674 "Configure CephNFS service as a loadbalancer"
**Is this a bug report or feature request?**

* Feature Request

**Feature Request**

**What should the feature do:**
Allow for  cephnfs service to be configured as a loadbalancer

**What would be solved through this feature:**

expose nfs outside the cluster through an ip