[2019-04-15 20:33] travisn commented on #2980
@alfredodeza Any idea what would cause all the udev timeouts when calling `c-v`? This is new to me.

[2019-04-15 20:48] andrewrynhard commented on #2980
FWIW we run an implementation of `udev` written in go. It does not have feature parity with the C version. Not sure if you guys rely on the host for that at all.

[2019-04-15 21:08] travisn commented on #2916
@dazhaoyu Did you try [the common issues page](https://rook.io/docs/rook/v0.9/common-issues.html) to troubleshoot why the osds weren't starting? The most common issue is a networking issue for the operator pod to connect to the mons. If using host networking, the firewall might be blocking the ports, or if you have a network plugin that blocks access across namespaces, you would need to enable it.

[2019-04-15 21:18] alfredodeza commented on #2980
Maybe try not using a different `udev` and see if that fixes the problem?

There is this though: https://bugzilla.redhat.com/show_bug.cgi?id=1696860 not sure if it is related to how the container is exposed to the host or LVM-specific

[2019-04-15 22:06] yanchicago commented on #2992
@travisn,  Thanks for quick response.
Yes, my ceph version is 13.2.4. So if it's configured as 1024M and the osd size is 1TB, the block.db size will be automatically calculated in this release? Just want to make sure it behaves when deployed in the field.
I assume "not necessary" means the size is automatically calculated by ceph. If user wants to define a faster device for block.db, use metadataD

[2019-04-16 03:28] travisn commented on #2992
@yanchicago correct, the metadataDevice should be used if you have a faster device. `ceph-volume` will calculate the expected sizes when it is creating the LVs.

[2019-04-16 06:31] #2948 closed

[2019-04-16 06:36] caisan opened #2994 "why i just add a logger.Infof() then build failed ?"
i just add another logger.Infof() for testing build. here it is:
[code]
then, i gonna to build a new image:
[code]
what is wrong? somebody can help me?

[2019-04-16 06:42] caisan commented on #2994
@galexrt @travisn cloud you help me?

[2019-04-16 06:52] sp98 commented on #2994
@caisan looks like a case of bad indentation.

[2019-04-16 07:05] caisan commented on #2994
cool, thanks a lot. you are right.

[2019-04-16 07:05] #2994 closed

[2019-04-16 07:40] sebastian-philipp commented on #2529
Just make sure, rbd mirroring actually works with profile mgr :smile:

[2019-04-16 07:50] sebastian-philipp commented on #2988
My workaround right now is to remove the finalizer manually:

https://github.com/sebastian-philipp/test-rook-orchestrator/blob/082b0667114fc279355fd8206edb618a3f529b17/undeploy-rook-ceph.sh#L10

[2019-04-16 08:47] orbsfoc commented on #2384
I'm not sure if these help, i seem to be having a similar problem:

[root@rook-ceph-operator-9fd97cb48-9926q /]# rook version
 rook: v0.9.0-409.gb1b77d8

Name:               cd-kub-rook-data4
Roles:              rookDataStorageNode
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/os=linux
                    kubernetes.io/arch=amd64
                    kuber

[2019-04-16 08:48] orbsfoc commented on #2384
I'm not sure if this will help, i seem to be having the same issue
`
[root@rook-ceph-operator-9fd97cb48-9926q /]# rook version
 rook: v0.9.0-409.gb1b77d8

Name:               cd-kub-rook-data4
Roles:              rookDataStorageNode
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/os=linux
                    kubernetes.io/arch=amd64
                    kube

[2019-04-16 08:58] orbsfoc commented on #2384
Not sure if this is any help, i seem to having the same issue..
<pre>
[root@rook-ceph-operator-9fd97cb48-9926q /]# rook version
 rook: v0.9.0-409.gb1b77d8

Name:               cd-kub-rook-data4
Roles:              rookDataStorageNode
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/os=linux
                    kubernetes.io/arch=amd64
                    kub

[2019-04-16 10:04] sharkymcdongles commented on #2941
[cephmgr.log](https://github.com/rook/rook/files/3084229/cephmgr.log)

Attached is the complete log from the most recent occurrence of this issue.

@sebastian-philipp

[2019-04-16 10:24] sebastian-philipp commented on #2941
[code]
Maybe related to #2784 @noahdesu ?

[2019-04-16 10:37] PCatinean opened #2997 "Disk resize after OSD provisioning"
I am not sure if this is a feature request or a bug report.

When one attaches a disk to a VM that rook then picks up if one would resize the disk later rook does not pick up the extra space. Restarting the operator or cluster did not help.

Resized attached device from 80Gi to 100Gi and `ceph osd status` still shows 3 OSDs with 78.0 available space.

**Environment**:
* OS (e.g. from /etc/os-relea

[2019-04-16 12:46] alfredodeza commented on #2628
@travisn we are just trying to identify what cluster does a node (server/pod/container) belongs to. If using `ceph.conf` is no longer feasible, what would be the better way to do this? I don't know know how to look at the arguments on how a daemon is launched (perhaps parsing `ps` ?)

[2019-04-16 12:56] #2881 closed

[2019-04-16 13:52] yanchicago commented on #2992
Thanks again. I've seen 1G has been allocated for block.db in my test. And it will change based on disk size. What's the minimum disk size to see more than 1G is allocated?

[2019-04-16 14:31] shaas commented on #2977
Unfortunately, I cannot reproduce this issue.
In my test-clusters the nodes get added at latest when it is not marked as `Unschedulable` anymore (see `onK8sNodeUpdate()`)

@travisn Do you have the log-file of the operator available?

[2019-04-16 14:44] travisn commented on #2977
I don't have the log anymore, but was looking at the operator log when it happened and have these notes:
- The cluster was configured with 7 nodes, where 3 of the nodes were running OSDs
- The cluster was in a healthy state
- A new node was added to the cluster and the new node was expected to deploy an OSD
- The rook orchestration was triggered automatically as expected
- During OSD orchestration

[2019-04-16 15:13] ktdreyer commented on #2914
We are tracking the crushtool bug at http://tracker.ceph.com/issues/39174

The way that we debugged this was to run `crushtool` entirely outside of Rook (or containers), so we could manually capture backtraces. For the next Ceph crash we are not going to be that lucky; imagine if it was an Mon/OSD/Mgr crash.

This issue shows us we need a standard procedure for capturing Ceph crash information ins

[2019-04-16 15:13] dpaks opened #2998 "Unable to successfully apply minio object-store"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** _Minio object-store creation is not properly starting minio service._
**ubuntu@worker:~$ kubectl get po -n rook-minio**
NAME         READY   STATUS             RESTARTS   AGE
my-store-0   1/1     Running            2          9m41s
my-store-1   1/1     Running            1          7m6s
my-store-2   0/

[2019-04-16 15:52] yanchicago opened #2999 "Could you rebuild the docker image with the new python rpm?"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

There's an security issue (https://access.redhat.com/errata/RHSA-2019:0710) which presents in both rook-ceph v0.9.3 image and ceph v13.2.4-20190109 image. Could you please rebuild them with new "python-2.7.5-77" rpm? Quick response is appreciated.

**Expected behavior:**

**How to reproduce it (minima

[2019-04-16 16:10] alfredodeza commented on #2914
@ktdreyer ceph-medic should just limit to capture runtime details of a ceph cluster, I think that capturing core dumps is a bit out of scope.

I am not sure what could be done here. @travisn isn't there something that Ceph already has for capturing these? I can't remember if this is a systemd unit or something else that can capture and store

[2019-04-16 16:27] noahdesu commented on #2941
thanks @sebastian-philipp it's possible. #2784 doesn't have much context so this is helpful

[2019-04-16 17:15] travisn commented on #2628
How is ceph medic connecting to a node? According to the [docs](http://docs.ceph.com/ceph-medic/master/), looks like you can give it ssh info for bare metal clusters. How does it work for containerized or k8s deployments? Ceph medic connects to the containers? Instead of connecting to the containers, my impression is that ceph medic could look at the k8s api to get args to the pods, but that's a m

[2019-04-16 17:34] noahdesu opened #3001 "rook/op-cluster: runtime error: invalid memory address or nil pointer dereference"
[code]

From @travisn

"I see where this could happen if an event to add a node to the cluster is raised before the mons are configured. We need to skip triggering an orchestration if `cluster.Info` isn't initialized yet."

[2019-04-16 18:24] jmreicha commented on #2404
Just ran into this, what is the fix?  Here's the error I'm seeing repeatedly in the logs.

[code]

[2019-04-16 19:21] travisn opened #3004 "Document running Rook on OpenShift on nodes other than worker nodes"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
In OpenShift when a new namespace is created, by default it will have an annotation that indicates to run all the pods in that namespace only on the `worker` nodes. However, the admin commonly wants to run the rook pods on the master or infra nodes as well.

The recommendation to work well on nodes othe

[2019-04-16 19:23] travisn commented on #2997
@alfredodeza @dmick What would it take to get the OSD to pick up on the additional space added to the volume?

[2019-04-16 19:31] travisn commented on #2994
@caisan To catch this in the future, setting up `goreturns` in your IDE is really helpful. Here's a section buried in our docs on [dev env](https://rook.io/docs/rook/master/development-flow.html#development-settings)

[2019-04-16 20:28] dmick commented on #2997
I don't think there's any provision for doing this.  Easier to blow away the OSD, reprovision, and let backfill take its course.  I could be wrong, but I've never heard of any 'expand' operations.

[2019-04-16 20:30] alfredodeza commented on #2628
@travisn for kubernetes and openshift, ceph-medic uses the `exec` sub-command and shells out into the containers. To retrieve all the known containers we get all the ones that match the namespace, and then we do poke inside the JSON returned to understand what container is member of what group (OSD, MON, etc...).

Ideally, the way we collect information wouldn't change from containers to baremetal

[2019-04-16 21:15] robsclark opened #3007 "Update rook artwork - logo and icons"
Update the rook logo and icon artwork, for rook 1.0 launch

[2019-04-16 21:17] dab-q commented on #2918
My apologies, I was looking at the tickets and accidentally clicked on the button that closed this issue.

[2019-04-16 21:18] travisn commented on #2628
Higher level question... Ceph medic is trying to catch user misconfiguration, right? If so, would it make sense to skip some checks if Rook configured the cluster? Certain settings like the FSID would already be automated for you and wouldn't be a cause for misconfiguration. It may not be worth the effort to jump through hoops to check something that isn't ever going to be incorrect.

[2019-04-16 21:41] #3001 closed

[2019-04-16 22:59] #2989 closed

[2019-04-16 23:19] kfox1111 commented on #796
unstale please

[2019-04-17 03:31] #1435 closed

[2019-04-17 07:05] mkogan1 commented on #2945
The root cause is that the rook image is using ceph version 14.x to create the zones and the users whereas the rgw image is running ceph version 13.x
This is an unsupported configuration.
The correct way to install is to allighn the versions and install the ceph/rgw version 14.x:
[code]

[2019-04-17 07:38] mkogan1 opened #3011 "Objectstore: rook-config-override custom ceph.conf settings are not applied in the rgw pod"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Following the procedure at
https://github.com/rook/rook/blob/master/Documentation/advanced-configuration.md#custom-cephconf-settings
the rook-config-override ceph.conf settings are applied on the osd pod but not on the rgw pod

**Expected behavior:**
The rook-config-override settings should be applied

[2019-04-17 08:27] #2308 closed

[2019-04-17 09:11] caisan opened #3012 "How to run operator in local ?"
when i change or add some code of operator. i have to do those step below to check if it works:
1) build a new binary file: ```make -j4```
2) docker build a new operator image: **rook/ceph**: ```docker build -t rook/ceph .```
3) launch operator and cluster by running: ```kubectl create -f operator.yaml```and ```kubectl create -f cluster.yaml```
IF something wrong or IF not works as expected. i hav

[2019-04-17 09:14] caisan commented on #3012
if ```rook``` can run in ```bash```, it is convenient for developer to debug or check error quickly. dont need make docker images.

[2019-04-17 10:28] mykaul commented on #2883
@jarrpa - any updates?

[2019-04-17 12:07] invidian commented on #2896
What do you mean?

- For operator, it's already possible.
- Detect and agent nodes are covered by my patch.
- mgr, mon and ost, are supported from cluster CRD
- I'm not sure about rgw, but it seems it also supports `placement` configuration, so I'd expect to support tolerations as well.

[2019-04-17 12:59] marcstreeter commented on #2953
@jbmcfarlin31 could you look at your events to tell how long the linking took?  I am having a similar problem but I recall it not taking so long.

[2019-04-17 14:07] mumrau opened #3013 "Cluster services type specification (to allow for LoadBalancer)"
Hello

I am using both `ceph` and `cassandra` with `rook` on multiple clusters.
Nonetheless, I am facing an issue that, I believe, many people could face. We are migrating our entire infrastucture and orchestated containers under Kubernetes.
Sadly, to allow for a transition, you need to get into that state where... you're using both your legacy system and kubernetes.
That means, most of the times,

[2019-04-17 14:48] travisn commented on #3012
@caisan Great question, having an efficient development environment like that would be awesome. Unfortunately, there are just too many dependencies on K8s resources, ceph configuration, etc that makes it feasible. The only option to run outside a full environment is in the unit tests which mock k8s, process creation, etc.

[2019-04-17 15:01] travisn commented on #2945
@mkogan1 Is the zone creation the only issue here with the differing versions, or does the unsupported configuration include any mismatched version of the `radowgw-admin` command? If this is the case, rook will need to launch a job to run the correct version of the commands. This is different from my understanding that the ceph client tools were compatible within a couple versions of the server si

[2019-04-17 15:56] #2825 closed

[2019-04-17 15:57] #2634 closed

[2019-04-17 16:40] BlaineEXE opened #3014 "Ceph noout - reliable check for node cordoned status does not exist"
**Is this a bug report or feature request?**
* Bug Report

The binary check `k8sutil.GetNodeSchedulable(*newNode)` introduced in #2986 to test for node schedulability will also return true if the node has been tainted as having memory or disk pressure or any number of other well-known taints.

There is an unschedulable taint applied when `kubectl cordon` is used, but according to the k8s codebase,

[2019-04-17 17:50] travisn commented on #3014
@BlaineEXE Thanks for raising the issue. Knowing that an admin has intentionally put a node into maintenance mode vs a node being marked unschedulable is an important distinction to make. Without the ability to differentiate, it does seem we need to revert #2986.

@rohantmp Any other thoughts on how to approach this?

[2019-04-17 18:40] alfredodeza commented on #2628
ceph-medic can be configured to ignore errors or warnings. The reason this is a check is because there have been deployments of clusters that have a mismatched FSID, which is a problem. Having something that makes sure that the cluster as a whole has the same FSID has been very useful in the past.

Are you confirming that it is impossible to run more than 1 cluster with Rook? If so, there might no

[2019-04-17 18:53] dimm0 commented on #2973
While everyone is looking, is there a way to fix this in 0.9 and ceph v13?
I'm getting a bunch of errors about using v1 protocol in toolkit... If I run `ceph mon enable-msgr2`, will it break anything?

[2019-04-17 19:27] travisn commented on #2973
@dimm0 If you're using 0.9 and ceph v13 everything should be on v1. The `enable-msgr2` only applies to ceph v14. Did you launch the toolbox from master perhaps?

[2019-04-17 19:29] travisn commented on #2628
Rook will allow running multiple ceph clusters in the same K8s cluster. The point of separation is that they all run in their own k8s namespace. So all the ceph daemon pods running in the same namespace would be expected to have the same fsid.

[2019-04-17 19:55] noahdesu commented on #2784
It's hard to say exactly what happened in this ticket without additional information, but I can identify an entire class of scenarios into which this issue may fall that we might want to create an approach for dealing with.

When the operator starts the managers only a few things that may go wrong would result in the operator aborting the startup operation. These are things like encountering error

[2019-04-17 20:15] dimm0 commented on #2973
Ah!! That explains it 😁 thanks

Indeed..

[2019-04-18 00:11] #3007 closed

[2019-04-18 02:03] rohantmp commented on #3014
Perhaps we could use a specific taint as a way of signaling maintenance?

[2019-04-18 02:06] rohantmp commented on #3014
Or we could check to see if the node is unschedulable AND all osds on the node are down.

[2019-04-18 02:08] rohantmp commented on #3014
To prevent rook from reverting a manual nout, we could also use a key set in the `ceph config key` key-value store with no out-set-by and set it only if it's set by rook.

[2019-04-18 02:34] wanghkkk commented on #2591
yes,install the lvm,after reboot,is running.
yum install -y lvm2

[2019-04-18 09:09] mykaul commented on #2621
I believe Ceph strongly prefers host network. That being said, it'd still be interesting to support multi-home there (assuming there's no bond configured), but I'm not sure how much Ceph supports this.

[2019-04-18 10:24] leseb commented on #2824
Closed via https://github.com/rook/rook/pull/2938

[2019-04-18 10:24] #2824 closed

[2019-04-18 10:43] galexrt commented on #2079
I think we can do that in an init container. Take the certs and make them into pem / `cat` them together.

I'll look into it.

[2019-04-18 11:02] sebastian-philipp commented on #2784
:+1: for not waiting indefinitely for any calls and instead log them

[2019-04-18 11:39] i7clock commented on #1809
Hey, so does secure work if I approve the csr manually?

[2019-04-18 11:50] mkogan1 commented on #2945
@travisn speaking strictly for radosgw-admin, we try to keep compatibility for one version and a fix for this issue is being worked on (http://tracker.ceph.com/issues/39380)
But the permutation matrix for compatibility within couple versions is not being tested
and the risk grows when going from simple day 1 operation like creating a bucket to a day 2
operations which are more complex (and beyond)

[2019-04-18 12:43] jarrpa commented on #2883
None at this time.

[2019-04-18 14:45] leseb commented on #919
@galexrt any updates on this? Thanks :)

[2019-04-18 15:31] krizhan commented on #1804
Hey @jbw976 I can give this task a shot.

[2019-04-18 16:13] jbw976 commented on #1804
That would be great @krizhan! I'll send you an invite to join the Rook organization so we can assign this issue to you :)

[2019-04-18 16:22] BlaineEXE commented on #3014
This was brought up in the huddle meeting, but I don't really like it. It's kind of indirect, and I don't think that makes for a good user interface. Again, if it is to be a manual step, I think we might want to use a Ceph command to set noout on all the osds of a particular node. We might have to make an issue to get that added to Ceph.

Not good if a node is marked as having disk pressure due to

[2019-04-18 17:22] jbw976 commented on #1804
@krizhan please let me know when you've accepted the invitation to join the Rook organization and I'll assign this issue to you, thanks!

[2019-04-18 18:32] travisn commented on #2784
Agreed, the calls to configure the mgr modules should be cancelled after some timeout if we see them not responding for too long. The operator needs to not block for too long or else the rest of the orchestration will suffer.

[2019-04-18 19:09] jbmcfarlin31 commented on #2953
@marcstreeter the timeout length appears to vary depending on what application pod is trying to connect. My nginx test examples took a few minutes, and my other were less then a minute. I'm not sure if this is a bug on Rook's end, or if I need to increase the timeout thresholds in the `operator.yml` file.

[2019-04-18 19:51] stephan2012 commented on #2079
That's a good start, at the moment I'm doing this externally with a script. However, an init container does not monitor the certificate for updates. This becomes important when short-living certificates are in use as suggested by Vault.

[code]

However, a rolling update for the pods would be better. Since there's no generic solution available in Kubernetes patching the deployment seems to be the

[2019-04-18 23:03] rogaha commented on #2987
same here:

[code]

[2019-04-18 23:08] rogaha commented on #2987
<img width="1576" alt="Screenshot of Google Chrome (4-18-19, 4-07-48 PM)" src="https://user-images.githubusercontent.com/4483394/56396546-3a53dd80-61f4-11e9-904d-46ba23b27caf.png">

[2019-04-18 23:26] krizhan commented on #1804
Just did and thanks! I'll have a look at everything over the long weekend.

[2019-04-19 03:41] rohantmp commented on #3014
I think it has to be indirect because there needs to be a common way of setting node maintenance that all operators can respond to. I guess manual intervention is not a solved problem in the operator model because infra needs manual intervention.

There are operators like the [Node Maintenance operator](https://github.com/kubevirt/node-maintenance-operator) that take care of that, but I don't know

[2019-04-19 06:28] rogaha commented on #2987
problem solved -- the `attacher` was missing in my cluster. :)

[2019-04-19 08:09] mjschmidt opened #3021 "Ceph clock skew errors"
**Is this a bug report or feature request?**
* Bug Report
**Deviation from expected behavior:**

**Expected behavior:**
Persistent Volumes deleteEvents:
But
[code]
**How to reproduce it (minimal and precise):**
helm install a bunch of charts and then delete them?

**Environment**:
* OS (e.g. from /etc/os-release): CentOS7.4
* Kernel (e.g. `uname -a`): 3.10.0-957.5.1.el7.x86_64
* Cloud provider or

[2019-04-19 08:11] mjschmidt commented on #3021
Also from ceph dashboard
Overall status: HEALTH_WARN
                MON_CLOCK_SKEW: clock skew detected on mon.a

[2019-04-19 08:29] mjschmidt commented on #3021
[code]

[2019-04-19 08:32] mjschmidt commented on #3021
[code]

[2019-04-19 11:57] q3k commented on #2875
I just hit the same issue after upgrading ceph to `ceph/ceph:v14` and ceph-operator `rook/ceph:v0.9.0-465.g5f6de03`. The following config was set by the operator:

[code]

Yet, the mgr dashboard was still listening on the default `:8443` port with TLS enabled. I had to manually run `ceph config set mgr.a mgr/dashboard/server_port 8080` and `ceph config set mgr.a mgr/dashboard/ssl false` for the da

[2019-04-19 14:09] abrekhov commented on #1565
I have the same issue. Right now I'm using two nodes, and I had to decrease number of replicas to 1. (I applied filsystem-test.yaml in kubernetes examples).

[2019-04-19 18:27] jseguillon commented on #1610
Hi there. Sorry to be late but it is unclear to me if #2048 made this available : choose which interface    in Pod should route/listen for Cephs traffic ?

If nothing available "in the box", does anyone know if it's feasible if we tune routes and start command lines or is there no way to achieve this ?

(Interfaces provisioned by multus, one 1G on control plane, the other one on 10 G interface)

[2019-04-20 15:54] caitlinbestler commented on #1610
The Pod has a need to connect with an "internal storage network" with a certain QoS, and one or mroe "client networks" which provide service for a set of tenants.

Those are matchanable attributes.

________________________________
From: Joel Seguillon <notifications@github.com>
Sent: Friday, April 19, 2019 11:28:12 AM
To: rook/rook
Cc: Caitlin Bestler; Mention
Subject: Re: [rook/rook] Support for

[2019-04-20 15:54] #2485 closed

[2019-04-21 14:45] Bessonov commented on #2107
unstale

[2019-04-21 23:56] colinkelly commented on #1733
Why is this closed? We have now metadatapool and datapool but same issue.

Can somebody correct me if I'm wrong?

[2019-04-22 06:20] meirhazonAnyVision opened #3026 "Ceph object store dashboard cannot be enabled"
**Is this a bug report or feature request?** BUG
* Bug Report

**Deviation from expected behavior:**
No matter what I try I cannot make the object storage part in the dashboard work.
The Object Gateway seems to be working properly, buckets, files etc.
The other parts in the dashboard also work properly.

I am getting,
500 - Internal Server Error
RGW rest api failed request with status code 403

**

[2019-04-22 07:34] caisan commented on #3012
@travisn thanks for your reply, you are right, run rook needs more dependencies than running a rbd-provisioner.

[2019-04-22 07:34] #3012 closed

[2019-04-22 08:47] rohantmp commented on #3014
Working on a quickfix to use a specific taint for now. Will initiate further discussion soon after.

We still need to check if the operator is the one who set noout to avoid undoing a user noout.
@leseb is it safe for rook to use the arbitrary ceph key-value store manipulated by ceph config? For example:
[code]

[2019-04-22 09:30] galexrt commented on #2958
Closing in favor of the newly created issue #3026.

[2019-04-22 09:30] #2958 closed

[2019-04-22 10:26] wangxiao86 commented on #1796
I think I have get the reason of the issue( one of two mgrs responds "Connection refused" due to the module failed to start. ):
"
[18/Apr/2019:12:36:34] ENGINE Error in 'start' listener <bound method Server.start of <cherrypy._cpserver.Server object at 0x7f978f94d050>>
Traceback (most recent call last):
 File "/usr/lib/python2.7/site-packages/cherrypy/process/wspbus.py", line 197, in publish
   ou

[2019-04-22 13:29] galexrt commented on #919
@leseb Sadly not. I had a working version but due to many changes to the OSD code, I haven't got it working anymore and other topics came up.

You can pick it up if you want @leseb.

***

**Quick summary**:

Most users see two points in this issue:
1. Allowing to use PVCs for `dataDirHostPath`
2. Allowing to use a list of PVCs for OSDs, cluster wide and per node.

[2019-04-22 14:19] travisn commented on #2945
@mkogan1 When this error happens, is there a workaround? Worst case, I assume you could delete the zones and pools for the object store, then re-create them with the matching version of the tools. Is there any simpler workaround?

[2019-04-22 16:19] jsunj0nes commented on #2674
I'm having this same issue.  Using CoreOS 2023.5.0, K8s 1.12.5, & Rook 0.9.3 w/ Ceph v13.2.4-20190109.  If I use Ceph v13.2.2-20181023 I don't encounter this.

In my situation, OSDs deploy/create fine and go into Running state for a number of hours before it goes into a CrashLoopBackOff state with the following error:
"failed to copy rook binaries for filestore device. open /rook/rook: text file b

[2019-04-22 17:05] travisn commented on #2674
@ekuric @jsunj0nes If you delete one of the OSD pods, does it restart ok after that? The error `text file busy` indicates that the `rook` binary is in use. This isn't expected when the pod is starting up, but since the pod is in crashloopbackoff, something must not have been cleaned up before the pod was restarted. If the osd pod is deleted, this should be cleaned up.

The original cause for the O

[2019-04-22 17:29] alfredodeza commented on #2674
We have never seen any reports of OSDs going down after a certain period of time.

[2019-04-22 19:44] dab-q commented on #2175
I am very interested in this feature.  Unfortunately we are currently transitioning away from Rook to a model of an external Ceph cluster that isn't dependent on k8s being up and running, for resiliency and segmentation of services.  When Rook has the ability to use an external Ceph cluster, we could bring Rook back in and replace using the external rbd/cephfs provisioners (e.g., https://github.co

[2019-04-22 19:50] mattbenjamin commented on #2945
@travisn It's basically not the case that we can or in the past have assumed that mixed rgw/librgw/OSD cluster versions could be mixed.  There's no formal definition of "couple of versions" and I don't forsee creating one right now.

[2019-04-22 21:53] travisn commented on #2696
Per discussion in slack, this error `failed to fetch mon config (--no-mon-config to skip)` can happen when the daemon keyring is incorrect, missing, or otherwise corrupt. If this is hit again, let's check if the keyring in `ceph auth ls` matches what is found in the rook config.

[2019-04-22 22:26] travisn commented on #3026
@mattbenjamin @mkogan1 What does it take to enable the object tab in the dashboard? I also tried recently without success so I'm wondering if we're missing something in the rook configuration that would allow it to be enabled. Could someone on rgw team try it out with rook and see what we're missing? thanks

[2019-04-22 22:28] travisn commented on #2945
@mattbenjamin Ok, understood that we can't make that assumption for radosgw. Until the change to match versions, there is no workaround for this specific error, right?

[2019-04-22 22:43] mattbenjamin commented on #2945
@travisn that's true, if we are solving that point issue, we may be ok?

[2019-04-23 10:15] dicarlo2 commented on #2984
@travisn yes, exactly. Unless I'm missing something, the `version` attribute only allows specifying the tag, right?

[2019-04-23 13:12] umangachapagain opened #3029 "osd prepare pod goes into reconcile loop"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
osd prepare pod goes into reconcile loop even if there is no change in OSD or Disks.

**Expected behavior:**
osd prepare pod should go into completed state once it's job is done.

**How to reproduce it (minimal and precise):**
1. Deploy an OCP 4 cluster.
2. Deploy Rook + Ceph as documented.

**Environm

[2019-04-23 13:12] umangachapagain commented on #3029
@leseb @travisn

[2019-04-23 13:14] jsunj0nes commented on #2674
@travisn I deleted one of the OSD pods, it exhibited the behavior I've been seeing where it goes "Running" for a number of hours and then returns to the CrashLoopBackOff state

[2019-04-23 14:19] travisn commented on #3029
Rook is detecting a device change and triggering the orchestration. @umangachapagain Could you look at the discover pod logs and see if there are any more messages about the devices that are changing? Here is the message from the operator log found many times:
[code]

[2019-04-23 14:22] galexrt commented on #2741
@noahdesu there is no (object) history in Kubernetes. If an object is deleted it is deleted, no coming back.

I would "vote" for using the `ceph osd tree` output and based on that do removals.
For clusters having external OSDs (not 100% sure if we are / were going to support that scenario) that should not be done automatically in that case due to the "not in Kubernetes but external" existing nodes

[2019-04-23 14:25] monester opened #3030 "Failed upgrading from Mimic to Nautilus - mgr unable to perform ceph config set"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Upgrade stopped in middle of upgrading ceph version. In logs of init containers for rook-ceph-mgr-a it says:

[code]

prometheus is enabled in mgr, I've tried to disable and enable it back - it doesn't help

[code]

and container is doing crash loops.

**Expected behavior:**

Upgrade worked with no pro

[2019-04-23 14:43] travisn commented on #2984
@yanniszark If the `version` allows specifying the full image name, other docker registries, hash, etc, could be specified as requested, similar to the [ceph version spec](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L23)

[2019-04-23 14:57] PaulSka commented on #2955
Hi,

I bump this issues.

[2019-04-23 15:04] wiwiwa opened #3031 "No OSD created for a new ceph deployment with version 0.9.3"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After adding a new block device, No OSD created for new device.

**Expected behavior:**
Ceph should create an osd configured in my cluster.yaml

**How to reproduce it (minimal and precise):**
Command to reproduce problem:
[code]
As you can see, no osd instance for sdb

more information:
[code]

**Envir

[2019-04-23 15:20] yanniszark commented on #2984
@travisn not exactly.
Version is the tag indeed, but you can also specify repository.
A workaround for now would be to specify:
[code]

[2019-04-23 15:40] jbw976 commented on #2283
Added a comment to the PR @tsullens @rohan47

https://github.com/rook/rook/pull/2315#issuecomment-485858273

[2019-04-23 15:45] mkogan1 commented on #3026
@travisn , I follow the instruction at http://docs.ceph.com/docs/master/mgr/dashboard/#enabling-the-object-gateway-management-frontend to enable the object tab in the dashboard

[2019-04-23 15:48] umangachapagain commented on #3029
Discover Pod logs:
http://pastefile.fr/6b286c6a6e7e4d4485a26a77897f12e2
http://pastefile.fr/53ac838b5ae4e64b6d22d9b56ef6def9
http://pastefile.fr/c6c1100e27499a29ae796d1029904cc3

[2019-04-23 15:49] muhlba91 commented on #3026
I have a similar issue. First, I received 500 errors and after going through the instructions on the Ceph site (the ones @mkogan1 posted) I receive 404 errors.

[2019-04-23 15:57] noahdesu commented on #3029
we should probably add blacklist filters somewhere they can be configured. in the crd yaml file?

[2019-04-23 16:02] mkogan1 commented on #3026
@muhlba91, as far as I can remember for vstart cluster I just set the keys to the keys that vstart has assigned to the testsid user with the commands below and then logout and re-login to the dashboard
[code]

[2019-04-23 17:07] galexrt commented on #2955
This Helm chart issue has been fixed in #1423, but as we are soon at the 1.0 release there will be no backport of this fix.

You can try to use a `master` helm chart "version" (`--version <version>`, see https://rook.io/docs/rook/v0.9/helm-operator.html) to workaround the issue till 1.0 has been released. When doing that make sure you have set the `image.tag` variable to, e.g., `v0.9.3` or the upc

[2019-04-23 17:13] travisn commented on #3029
@noahdesu The discover pod can actually feed multiple ceph clusters (although the common case is only a single cluster), so this maps better to a setting in the operator, for example as an environment var in operator.yaml. What about a comma-separated blacklist var or else a regex that would get passed down to the discover pod? Or what about the opposite approach where it's a white list? Then the

[2019-04-23 19:48] noahdesu commented on #3029
Update from an out-of-band discussion with @travisn

The discovery logs show that orchestrations are being kicked off by the detection of `rbd` devices. Like device mapper devices it makes sense to blacklist `rbd` devices from detection for the purpose of creating new osds. This is resolved here https://github.com/rook/rook/pull/3032.

We've also added in the previous PR an operator configuration

[2019-04-23 21:27] #2379 closed

[2019-04-23 21:36] noahdesu opened #3033 "ceph: allow udevmonitor filtering to be configured"
The udevmonitor filtering should be configurable. The current specification is a disjunction of regexes that must match, and a conjunction of regexes that must not match. This is used to filter events like `add` and reject events like adding an `rbd` device.

[code]

The two open questions are, do we want something with different semantics (e.g. a basic whitelist/blacklist), and given a specificat

[2019-04-23 22:02] travisn commented on #3026
@mkogan1 In another attempt with the 14.2.0 client tools and configuring a 14.2.0 cluster with rgw, I still can't get it to load. I first get a 403 before I follow the guide. After setting up the rgw user, I get a 500.

Here are the settings I applied after configuring rgw through rook:
[code]

Here is the full mgr log, which shows a crash when the 500 error is shown in the dashboard.
[mgr.log](ht

[2019-04-23 22:18] #1552 closed

[2019-04-23 22:18] #701 closed

[2019-04-24 00:56] travisn commented on #3029
This was fixed by #3032

[2019-04-24 00:56] #3029 closed

[2019-04-24 03:27] meirhazonAnyVision commented on #3026
Hi. I did so too about 5 times and it didn’t work. Can you please share the commands that you used?
Thanks so much.
Meir

Sent from my iPhone

[2019-04-24 05:26] meirhazonAnyVision commented on #3026
Hi. Please believe my when I say that I’ve done it. I will do it again next week and email you with screen shots. Done it more than once. Didn’t work.
Thanks.

Sent from my iPhone

[2019-04-24 05:54] sp98 opened #3034 "k8s-vagrant-multi-node.sh fails due to syntax error"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
k8s-vagrant-multi-node.sh script does not execute.

**Expected behavior:**
k8s-vagrant-multi-node.sh should execute and create a local multi node environment.

**How to reproduce it (minimal and precise):**
 - change directory to /test/scripts
 - execute the k8s-vagrant-multi-node.sh file using the com

[2019-04-24 06:55] chicofranchico commented on #2696
I've a similar problem and I realized that two of my OSDs are also missing keys. How do I properly recreate them?

[2019-04-24 09:19] ashishranjan738 opened #3038 "Add dynamic provisioning integration test for nfs"
**Feature Request**
The PR https://github.com/rook/rook/pull/2758 implements dynamic provisioning for NFS but currently, there is no integration test available for this feature. So there needs to be some integration test present for testing this.

**What should the feature do:**
It should test different scenarios for NFS.

**What would be solved through this feature:**
Add some more test coverage

[2019-04-24 12:51] atagunduzalp commented on #2917
I have the same error over here when I try to install keycloak with rook-ceph file system
Error below:
[code]

[2019-04-24 13:08] soromamadou commented on #1383
I got the same issue.
To solve it, i have comment this line in "storageclass.yaml".
fstype: xfs

like this rook is using ext4 and not xfs.

Hope it can help someone :)

[2019-04-24 13:17] leseb commented on #3030
You need to wait for Rook 1.0 which will contain Ceph Nautilus.

[2019-04-24 14:06] #2973 closed

[2019-04-24 14:55] yanniszark commented on #3013
Hey @mumrau, I'd love to help add this functionality to the Cassandra Operator.
In essence, what you want to do is expose the Cassandra cluster outside Kubernetes.
You can use load-balancer to expose the Cassandra cluster, however most cassandra clients require that all Members are available through the `broadcast_address`, which is now a ClusterIP, which is not available outside the Kubernetes cl

[2019-04-24 15:01] TimMacho opened #3039 "Error: failed to start container "provision": Error response from daemon: OCI runtime create failed: container_linux.go:344: starting container process caused "exec: \"/rook/tini\": stat /rook/tini: no such file or directory": unknown"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
Osd should running!
**How to reproduce it (minimal and precise):**
kubectl create -f common.yaml
kubectl create -f operator.yaml
kubectl create -f cluster.yaml

**Environment**:
* OS (e.g. from /etc/os-release): Centos 7
* Rook version (use `rook version` inside of a Rook Pod):

[2019-04-24 15:11] jbw976 opened #3040 "Minio quick-start fails to initialize Minio on Minikube"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** Walking through the Minio quick-start using Minikube, the Minio cluster fails to initialize.
[code]
It looks like this pod is failing its readiness probe.
[code]

**Expected behavior:** I expect the Minio cluster to initialize and all replicas in the statefulSet to be running.

**How to reproduce it (m

[2019-04-24 15:51] anmolsachan opened #3041 "PG Autoscalar not working as expected"
On a fresh rook-ceph install with 3 nodes and 6 osd's (20 GB each), the autoscalar was not working as expected. Status as follows:

[code]

After adding a new pool with 100p  PG's the cluster went into Healthy state but after some time, the cluster again went into the Warning state.

[2019-04-24 15:53] anmolsachan commented on #3041
@liewegas @travisn Please have a look . Is this expected ?

[2019-04-24 15:56] liewegas commented on #3041
Not expected.  Let me reproduce.

[2019-04-24 16:01] leseb commented on #3041
I don't think that's a Rook bug but anyway...

[2019-04-24 16:14] jbw976 commented on #2074
Just saw this a couple times again this morning, even with the local change to only use `2Gi` for both the mysql and wordpress PVCs.

[2019-04-24 16:20] stephen-dahl opened #3042 "use nvme2n1 on all nodes with label rook=true"
Hello, I tried to join the slack to ask this but it is locked down to emails @rook.io
I have the following configuration working however my nodes are in autoscale groups so I want to select nodes based on labels. How should I change my config to do this?

[code]

I tried these settings and more
[code]
[code]

[2019-04-24 16:22] jbw976 opened #3043 "Minio RBAC permissions are missing the update verb"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** The minio quick-start fails to create the minio cluster due to missing RBAC permissions:

[code]
After fixing that, I then see:
[code]

**Expected behavior:** For the minio cluster to start successfully

**How to reproduce it (minimal and precise):**
https://rook.io/docs/rook/master/minio-object-store.

[2019-04-24 16:22] travisn commented on #3039
@TimMacho The error in the title `stat /rook/tini: no such file or directory` sometimes happens, but then the pod restarts automatically and continues successfully. In your log, this is the case since the provision pod was able to continue and analyze the devices.

The log indicates there are no devices on which to configure osds:
[code]

Minikube does not have any devices attached by default. You

[2019-04-24 16:22] noahdesu commented on #2074
@jbw976 thanks for the data point. i'm curious if you've tried the latest minikube but with k8s downgraded? I've mostly abandoned minikube at this point, but I can't shake the feeling that this is an OS issue.

[2019-04-24 18:00] #3043 closed

[2019-04-24 18:39] liewegas commented on #3041
To work around this, just add this to the [global] section of the configmap:
[code]

[2019-04-24 18:41] liewegas commented on #3041
IIUC, the root cause here is that the existing pools have their target_ratio set such that the sum of all pools' targets does not add to 1.0, so the sizing for the pools that *do* exist doesn't meet the configured min warning threshold.  This isn't a huge problem in general since the cluster isn't full and having a somewhat smaller number of PGs isn't that big a deal, so just lowering the warning

[2019-04-24 20:30] travisn commented on #3042
@stephen-dahl it isn't expected that the rook slack is limited by email address. Could you try again and share the error message?

A few options to try:
- When setting the `deviceFilter`, set `useAllDevices: true`. The device filter should override.
- As a quick test, have you tried `useAllDevices: true` and `useAllNodes: true`? Only raw devices would be used so it is considered a safe testing opt

[2019-04-24 20:35] travisn commented on #3031
@wiwiwa Please try setting `useAllNodes: false`. Otherwise rook will ignore the `nodes` section of the OSD where you are specifying which devices are to be configured.

[2019-04-24 20:40] travisn commented on #2932
@Batarian711 Note that the logo has recently been updated in the artwork repo. https://github.com/rook/artwork

[2019-04-24 20:40] #2932 closed

[2019-04-24 20:44] #2875 closed

[2019-04-24 20:52] stephen-dahl commented on #3042
![image](https://user-images.githubusercontent.com/6061073/56692518-382bcc00-6697-11e9-9161-26667566e79f.png)
is what I am seeing on the slack signup page

I will try that, dont remember if I tried that combination or not. I was seeing rook using nvme1n1 that was already formated and mounted to /var/lib/rook for the journel so it is not restricting itself to raw devices for me.

[2019-04-24 20:54] travisn commented on #2806
The dependencies have been updated to 1.14 with #3000. Does that work for you?

[2019-04-24 20:59] travisn commented on #3042
Did you go to [https://slack.rook.io](https://slack.rook.io/)? I don't see the requirement for the `@rook.io` domain when I use that link.

If it was creating an OSD in the formatted volume, this is a behavior that was in place in the 0.9 release to simplify testing. In the 1.0 release it won't be created by default. You might try `rook/ceph:master` to get the latest behavior.

[2019-04-24 21:02] #3014 closed

[2019-04-24 21:05] stephen-dahl commented on #3042
I followed the link in the message when you create a new bug. it has https://Rook-io.slack.com. your link looks good so maybe the link in the default issue text needs updated

[2019-04-24 21:06] stephen-dahl commented on #3042
I was able to get in the slack, we can close this so I can take my questions there. Thanks for the help so far!

[2019-04-24 21:06] #3042 closed

[2019-04-24 21:10] travisn commented on #2856
I'm liking the option for `[all logs]` as suggested in the second bullet. Having the option to collect all logs would still be helpful, but to have only the failed logs by default would make troubleshooting the builds much better. The changes for this are likely limited to the [Jenkinsfile](https://github.com/rook/rook/blob/master/Jenkinsfile).

[2019-04-24 21:17] travisn opened #3046 "Github templates point to incorrect slack links."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The [github templates](https://github.com/rook/rook/tree/master/.github) point to an incorrect URL. They should be pointing to `https://slack.rook.io/`.

**Expected behavior:**
Links in the templates should work.

[2019-04-24 22:02] wiwiwa commented on #3031
@travisn Thanks for your help. It works great. A new osd `rook-ceph-osd-1` was created.

But original osd was not deleted, and in CrashLoopBackOff status.
[code]

[2019-04-24 22:04] travisn commented on #3031
Yeah, that's an artifact of the 0.9 release creating a default OSD in the dataDirHostPath. The 1.0 won't have that "feature". Assuming you hadn't added any data to the cluster, you can delete the `rook-ceph-osd-0` deployment.

[2019-04-24 22:06] wiwiwa commented on #3031
OK. Noted. Thank you very much

[2019-04-24 22:06] #3031 closed

[2019-04-24 22:20] travisn opened #3047 "Failed CephCluster CR configuration continues looping even if update is committed"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When editing the CephCluster CR and an incorrect configuration is edited, the orchestration will continue in a failing loop. If the user fixes the config, the operator should notice the update and try again with the new config instead of continuing with the outdated, incorrect, config.

The bad configu

[2019-04-25 05:18] travisn opened #3048 "Upgrade from v0.9 to master fills operator logs with msgrv1 messages"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Upgrading form v0.9 to master when running on a mimic cluster results in the logs being filled with msgrv1 messages. While I'm not seeing any negative side effects, we do need to keep a cleaner operator log.

[code]

@leseb is this perhaps related to the port being 6790 instead of 6789?

**Expected beh

[2019-04-25 05:28] travisn opened #3049 "Mgr won't start when upgrading from v0.9 to 1.0, then upgrading to Nautilus"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When following the upgrade guide (#2965) to upgrade from v0.9.3 to v1.0 (latest master), and then upgrading the ceph version from 13.2.4 mimic to 14.2.0 nautilus, the mgr is failing to start.

The mgr is stuck on the `init-set-dashboard-server-addr` init container, indefinitely waiting for the command

[2019-04-25 05:45] franznemeth commented on #2591
We ran into the exact same issue on a stripped down ubuntu 18.04 without the lvm2 package.

Installing the lvm2 package and rebooting the node fixed the issue.

[2019-04-25 06:37] monester commented on #3030
Oh, I didn't know that Nautilus isn't supported by 0.9.3. And in my configuration it says:
[code]
So I thought it is supported. Do you know when 1.0 would be released?

[2019-04-25 07:03] #3040 closed

[2019-04-25 08:48] leseb commented on #3030
That's for the Cluster image, I'm talking about the operator image :).
Hopefully this week.

Thanks!

[2019-04-25 10:39] lbogdan opened #3050 "Operator doesn't honor cluster placement tolerations"
**Is this a bug report or feature request?**
* Bug Report

My (development) setup is a single storage node `storage-0`, labeled `node-role.kubernetes.io/storage=""` and tainted `role.kubernetes.io/storage:NoSchedule`.

When adding a cluster with the following definition:
[code]
the operator will just sit in a loop saying `2019-04-24 06:47:02.137648 E | op-cluster: failed to create cluster in names

[2019-04-25 14:57] clkao commented on #2654
we see this from time to time. could it be that some of the osd pods got recreated and got new IPs? but the other OSDs still try to check heartbeat with the old IPs?

[2019-04-25 15:28] galexrt opened #3052 "Ceph MGR Dashboard NFS access returns with 401"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When trying to access the Ceph MGR dashboard "NFS" tab and the `/api/nfs-ganesha/export` API using the latest `master` manifests and Rook images, fails with 401 error.
API returned error:
[code]

I'm only seeing "normal" access logs in the mgr logs:

[code]

**Expected behavior:**

Dashboard page for

[2019-04-25 15:53] jtlayton commented on #3052
This looks more like a bug in ceph-mgr or (more likely) one of its modules. I'd suggest moving this to a ceph bug instead. It's not clear to me what version of ceph you're running here either, so please do provide that info as well.

[2019-04-25 16:53] #2506 closed

[2019-04-25 18:15] #3048 closed

[2019-04-25 18:25] travisn commented on #3049
Also fixed with #3051

[2019-04-25 18:25] #3049 closed

[2019-04-25 19:42] sabbot opened #3054 "Docs: Edgefs Follow-up"
Small EdgeFS documentation fixes

[2019-04-25 19:54] jbw976 opened #3056 "v1.0 release blog post"
We will want to publish a blog post on https://blog.rook.io/ that captures all the great work we've done for the v1.0 release.

[2019-04-25 19:56] yanchicago commented on #2696
I can reproduce the issue easily. This time, only osd-2 is crashed with "failed to fetch mon config (--no-mon-config to skip) failed to start osd. Failed to complete '': exit status 1.".

1). kubectl -n rook-ceph2 get pods

NAME                                          READY   STATUS             RESTARTS   AGE
ceph-oam-6888b674bd-94z45                     2/2     Running            0          15m

[2019-04-25 19:56] jbw976 opened #3057 "CNCF blog post about the v1.0 release"
Similar to #3056, we want to publish a blog post to the CNCF blog about the v1.0 release: https://www.cncf.io/newsroom/blog/

This post should be more streamlined than the https://blog.rook.io/ post and also drive traffic to the full Rook blog.

[2019-04-25 19:58] jbw976 opened #3058 "rook.io website redesign for v1.0"
We want to update the rook.io website content, messaging, artwork, etc. for the v1.0 release.  A PR has been opened in the `rook/rook.github.io` repo: https://github.com/rook/rook.github.io/pull/54

[2019-04-25 20:59] noahdesu opened #3059 "ceph: device configmap watch ends unexpectedly"
related to: https://github.com/rook/rook/issues/3029

[code]
frequency

[code]

@travisn

[2019-04-25 21:05] travisn commented on #3059
See the full operator log:
[operator.log](https://github.com/rook/rook/files/3118875/operator.log)

[2019-04-25 21:35] galexrt commented on #3052
@jtlayton I have added the Ceph version (`ceph/ceph:v14.2.0-20190410`) to the `environment` section of the description. I'll open an issue tomorrow.

This is from current `master` branch 5f16f8e27f568bd4f6952450180538ba0d43b246 / 62dadab2ba8e69b4cdda5ca7340f2954228bf409 of the Rook repo.

[2019-04-26 02:38] jbw976 commented on #2074
@noahdesu I reproduced this with Minikube v1.0.0 and k8s v1.13.1.  What versions do you think I should try this with?

I just got bit twice in a row while presenting to a meetup audience, definitely very painful :(

If folks aren't using minikube anymore, what do you recommend for giving demos on your laptop with? or daily development work?

[2019-04-26 03:51] travisn commented on #3050
Per conversation in slack, the [GetNodeSchedulable()](https://github.com/rook/rook/blob/master/pkg/operator/k8sutil/node.go#L117-L122) method is not looking at tolerations for the `NoSchedule` taint before returning that the node is not schedulable.

The call to GetNodeSchedulable on [line 34](https://github.com/rook/rook/blob/master/pkg/operator/k8sutil/node.go#L34) is returning before the placem

[2019-04-26 05:11] jbw976 opened #3062 "Final copy (content) for rook.io website redesign"
As part of updating the rook.io website for v1.0 in #3058, we need to author the final content and messaging for the site.  @robsclark is taking this on.

[2019-04-26 05:13] jbw976 commented on #3062
@robsclark please accept the invitation to join the Rook organization, so that this issue can be assigned to you :)

[2019-04-26 06:31] lbogdan commented on #3050
@travisn No, because `NoSchedule` is the taint I need. 🙂 But reading the code, I'd expect for other taints to work, indeed.

[2019-04-26 06:38] lbogdan commented on #3050
I think replacing `if !GetNodeSchedulable(node)` with `if node.Spec.Unschedulable` in `ValidNode()` would fix this, because the following `NodeMeetsPlacementTerms(...)` already checks for taints.

[2019-04-26 13:56] #2918 closed

[2019-04-26 15:32] travisn commented on #1703
The ceph health warnings caused by disabling scrubbing is causing questions to be raised on whether this is necessary. Users of the Ceph dashboard are seeing these warnings as there are more reasons for the orchestrator to trigger orchestration as nodes/devices are being added to the cluster.

@liewegas Is there any scenario where rook should disable scrubbing when configuring OSDs? Or per our dis

[2019-04-26 15:37] #3054 closed

[2019-04-26 15:38] liewegas commented on #1703
I don't think there is any good reason to disable scrubbing.  Let's take that out.

[2019-04-26 17:08] #1703 closed

[2019-04-26 17:09] #2062 closed

[2019-04-27 01:58] dyusupov opened #3069 "Regression in ISGW service configuration with Metadata-Only cached syncing"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Operator code isn't consistent with edgefs v1.1.x change.
It cannot be used to enable ISGW MD syncing feature

**Expected behavior:**

Need to be able to enable it via specifying dynamicFetchAddr CRD parameter

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-re

[2019-04-27 10:37] tlvenn opened #3071 "Ceph cluster deployment is missing designation for critical pods"
The Ceph cluster deployment must use the scheduler.alpha.kubernetes.io/critical-pod annotation to prevent these critical pods to be evicted when a node reaches capacity.

[2019-04-27 10:38] ashishranjan738 opened #3072 "Support NFS CRD update event"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Currently, NFS operator doesn't support the update event of NFS CRD. The update event has to be supported as this will be very useful for day2 operations.

**Expected behavior:**
The NFSServer deployment should get updated based on the new configuration of NFS CRD during update.

**How to reproduce it

[2019-04-27 10:44] ashishranjan738 opened #3073 "Add configuration validation for NFS CRD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Currently, we don't have any validation for NFS CRD regarding export configurations.
One possible validation can be:
-> Duplicate export should not be allowed.

**Expected behavior:**
Invalid configurations should be rejected during the object creation.

[2019-04-27 10:52] ashishranjan738 opened #3074 "Support deletion of PV in NFS provisioner"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Currently, DELETE event of PVC is not handled by the NFS provisioner. So stale PVs can come into the picture during. This needs to be avoided.

**Expected behavior:**
PV provisioned by the NFS provisioner should get addressed by the provisioner for PVC DELETE event.

**How to reproduce it (minimal and

[2019-04-28 04:27] travisn commented on #3071
Thanks for pointing this out, we should add these annotations to the mons and osds.

[2019-04-28 09:16] Timoses commented on #2526
Agreed, `kubectl port-forward` was my initial idea to access the dashboard in a test environment. NodePort works fine as well, though.

[2019-04-28 09:18] tlvenn commented on #3071
Happy to take care of this simple PR

[2019-04-28 09:47] lbogdan commented on #2526
You can also access the dashboard using `kubectl proxy` and an [apiserver proxy URL](https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-services/#manually-constructing-apiserver-proxy-urls):
- run
[code]
- open `http://localhost:8001/api/v1/namespaces/rook-ceph/services/https:rook-ceph-mgr-dashboard:https-dashboard/proxy/` in the browser.

[2019-04-28 14:36] yanivroz commented on #2274
I'm also having the same problem:

rook-ceph-operator logs:
[code]
PVC:
[code]
rook: v0.9.3
kubernetes: v1.13.5

Help anyone?

[2019-04-28 23:06] #1885 closed

[2019-04-29 10:54] #3034 closed

[2019-04-29 12:28] marcstreeter opened #3080 "Ceph Dashboard showing deleted persistent volumes"
**Bug Report**
After deleting persistent volume instance, it is still showing in the rook dashboard
**Expected behavior:**
After deleting persistent volume instance, it does not show in the rook dashboard.
**Deviation from expected behavior:**
It shows in the rook dashboard.
**How to reproduce it (minimal and precise):**

1. Create dynamically provisioned persistent volume claim (set to retain aft

[2019-04-29 13:58] #3046 closed

[2019-04-29 14:06] sepich commented on #2517
For now we have to solve ceph nodes restart with:
[code]
So, unmount all the remain cephfs mounts when docker already stopped and network is still available. This solves endless shutdown/restart issue.
Would be nice if rook itself could handle this.

[2019-04-29 14:08] sp98 commented on #2856
@travisn Can you please confirm if my understanding of the requirement is correct ?
- By default, user should only see all logs (GatherAll<>Logs) only when there is a failure. (this would involve reverting the changes made in #2793)
- Also, there would be an '[all logs]' option that would help the user see all the logs (GatherAll<>Logs), even if there is no failure.

[2019-04-29 14:21] travisn commented on #2856
@sp98 Yes, that sounds good. For the second bullet, it will probably require setting an env var (in the Jenkinsfile) that the tests will look for when they decide whether to collect all logs or only when there are errors

[2019-04-29 14:53] marcstreeter commented on #2887
@vincent927 I tried that, but it still has the same issue. I tried it also with `/var/lib/kubelet/volume-plugins` and same issue too (ofcourse I'm also using kubespray so I may need to open a separate ticket).

[2019-04-29 18:03] travisn commented on #2977
@shaas Any ideas on this? Here is the operator log with debug logging enabled when a new node `ip-10-0-162-11` was added
[rook-ceph-operator-add-storage-node.txt](https://github.com/rook/rook/files/3128604/rook-ceph-operator-add-storage-node.txt)

We see that the node was added and an orchestration was started:
[code]

We see that the new node is not considered valid for OSDs during the orchestrat

[2019-04-29 18:15] jsunj0nes commented on #2674
@travisn I've found that running 'docker system prune -a -f' causes the OSD to go into this state.  We were running this daily.

[2019-04-29 18:52] travisn commented on #2674
@jsunj0nes Any more clues about why is this affecting the running osds? The docker system prune should only clean up resources not in use, right?

[2019-04-29 18:55] travisn commented on #2977
Also I see a logging entry that needs to be fixed (should be `Infof` instead of `Info`) [here](https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/controller.go#L203).
[code]

[2019-04-29 18:56] #2566 closed

[2019-04-29 19:19] jsunj0nes commented on #2674
@travisn only thing I can think of is that the OSD prepare job/pod is being purged since it runs to completion?  I'm not sure why that would matter though

[2019-04-29 19:51] #3069 closed

[2019-04-29 20:09] davidkarlsen opened #3081 "cluster did not want to start - stuck job"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Cluster did not reach a started state

**Expected behavior:**
Cluster should be in started state

**How to reproduce it (minimal and precise):**
Unsure what triggered it.

**Environment**:
* OS (e.g. from /etc/os-release):
[code]

* Kernel (e.g. `uname -a`):
[code]

* Cloud provider or hardware configu

[2019-04-29 20:21] travisn commented on #3081
When the operator is detecting the ceph version, we should create a clean job instead of waiting for an existing one if found. This was in the log:
[code]

The [RunReplaceableJob](https://github.com/rook/rook/blob/master/pkg/operator/k8sutil/job.go#L32) method should delete the job if it is found instead of waiting for it. The job to detect the ceph version doesn't have any state that would be at

[2019-04-29 23:14] #2436 closed

[2019-04-30 01:20] #2887 closed

[2019-04-30 05:45] thundertiger825 opened #3082 "ceph mon,OSD pods are not created after excecuting cluster.yaml file"
Emvironment:
OS   :4 fedora 29 server virtual machines
RAM: 2GB
Storage: 20 GB with two 8GB extra storage attached for OSD

*****Cluster.yaml file***************

No osd and mon pods are created after executing cluster.yaml

kubectl get pods -n rook-ceph
NAME                                  READY   STATUS    RESTARTS   AGE
rook-ceph-agent-5f8vh                 1/1     Running   1          19h
roo

[2019-04-30 07:09] devyanikota commented on #2206
Hi, @jan--f @leseb @bassam any other thoughts?
Can I go ahead with this solution?

[2019-04-30 07:32] caisan commented on #1523
restart monitor (by delete mon pods) does not work. When mon running, it still listen on 192.168.250.172:6789, which is k8s node ip, not along to the public network write in the configmap.

[2019-04-30 07:42] caisan commented on #1523
@hacor i have view the source of rook operator. when the cluster uses the hostNetwork, monitor ip is k8s node ip. and this will write to monmap, so restart mon(pod) does not work.

[2019-04-30 07:52] sp98 commented on #3082
@thundertiger825 Can you please add rook-ceph-operator logs as well.

[2019-04-30 09:03] thundertiger825 commented on #3082
2019-04-29 09:22:59.105161 I | rookcmd: starting Rook v0.9.0-526.gb35615f with arguments '/usr/local/bin/rook ceph operator'
2019-04-29 09:22:59.106182 I | rookcmd: flag values: --alsologtostderr=false, --csi-attacher-image=quay.io/k8scsi/csi-attacher:v1.0.1, --csi-cephfs-image=quay.io/cephcsi/cephfsplugin:v1.0.0, --csi-cephfs-plugin-template-path=/etc/ceph-csi/cephfs/csi-cephfsplugin.yaml, --csi-

[2019-04-30 11:26] kshlm commented on #3081
@travisn If the param isn't set, and an existing job is found, then we need wait like as we do now. Right?

[2019-04-30 11:39] vitobotta commented on #2526
Thanks @lbogdan - very useful. I wasn't aware you could access services this way, it makes it possible to expose them via ingress etc.

[2019-04-30 12:14] #1802 closed

[2019-04-30 12:47] shaas commented on #2977
Thanks for the log-file. I will have a look.

[2019-04-30 13:18] travisn commented on #3081
@kshlm Yes, let's leave the osd and mds jobs remain unaffected for now, thanks.

[2019-04-30 16:36] travisn commented on #2270
@christianhuening What would it take to revive #2271? Having a liveness probe on the mgr will be helpful to ensure it doesn't get stuck. Thanks!

[2019-04-30 17:32] travisn commented on #2892
I see now what the issue is... Environment variables cannot be used in the context of `rookflex init` because it's not running inside the agent pod, it's being invoked by the kubelet. When the rook agent installs the flex driver it will need to write a config file alongside the rookflex binary.

[2019-04-30 17:43] christianhuening commented on #2270
@travisn it took your message. I totally forgot about it.

[2019-04-30 18:20] yanchicago commented on #2686
Will this issue be resolved in the upcoming 1.0?

[2019-04-30 19:28] sabbot opened #3087 "Add additions containers count for Edgefs cluster restore/zap"
* Bug Report

**Deviation from expected behavior:**
Currently we can't restore or zap EdgeFS cluster with additional targets containers
**Expected behavior:**
All disks must be zapped after restoreZapWait

**How to reproduce it (minimal and precise):**
Create cluster with additional containers and try to restoreZapWait

[2019-04-30 20:27] noahdesu commented on #2941
This doesn't look like it is related to #2784

https://github.com/rook/rook/issues/2888
https://tracker.ceph.com/issues/23460

[2019-04-30 20:30] #2492 closed

[2019-04-30 21:09] travisn commented on #2960
@BlaineEXE This was documented in #2965, right?

[2019-04-30 22:49] travisn commented on #2977
@shaas Did you find any more clues? I took a look and it looks like the issue isn't that the event isn't triggered correctly when the node is ready, but the operator is not looking at the latest node information and is missing the new node when the osds are configured. The [ListDevices](https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/osd/osd.go#L149) method is only listing nodes

[2019-04-30 23:31] #2892 closed

[2019-05-01 15:22] clkao opened #3092 "ceph-volume should reject metadataDevice which has same storage class as data devices"
(Followup to #2777)

OSDs are now bootstrapped with `ceph-volume`, with optional metadataDevice.   `ceph-volume` does all the magic putting db volume onto metadataDevice, if it is a faster device (eg ssd).  If one specify hdd for both metadataDevice, and device, `ceph-volume` will actually create two hdd OSDs, which is not what the user would expected.  In this case, the metadataDevice config shou

[2019-05-01 16:07] dab-q commented on #2674
We've run into this issue, an osd pod previous in Running state has been restarted and is stuck in the init:CrashLoopBackoff state.  Normally pods don't rerun initContainers if they restart, but there are some instances in which they can be rerun.  See https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#pod-restart-reasons

[2019-05-01 16:16] #3081 closed

[2019-05-01 16:29] travisn commented on #2674
Agreed, as a start at least we could add a check to the [copyBinary](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/osd/init.go#L87) method so it doesn't fail to copy if the file is already there from a previous run of the init container. However, from the error, I wonder if we will also get an error when trying to check for the existence of the file. @kshlm Could you investigate this?

[2019-05-01 20:13] hdave commented on #2890
Would this ultimately result in multiple storage classes in k8s?  We are looking to have at least two -- for example:  `StorageClass:  nvme-retain` and maybe `StorageClass:  sata-retain`

If so, I give this issue a big +1.

[2019-05-01 20:23] travisn commented on #2890
Yes, a storage class maps to a single ceph pool (unless you're using erasure coding, in which case there are two pools for a storage class).

[2019-05-01 21:40] #3087 closed

[2019-05-02 11:53] rohantmp opened #3095 "Ceph: Recognise osd when reattached to a different machine/place."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Recognize an osd by the content on the disk.
**What is use case behind this feature:**

A machine/node goes down, but its disk is reattached to another node and rook/ceph handles it automatically. This would be useful if a node is reprovisioned using the cluster-api.

**Environment**:

AWS: This could b

[2019-05-02 11:54] rohantmp commented on #3095
@liewegas I'm assuming this will require changes in ceph. Is RADOS where I should create an issue?

[2019-05-02 12:19] sebastian-philipp commented on #2941
@noahdesu maybe http://tracker.ceph.com/issues/39335 is related?

[2019-05-02 13:21] rjbez17 commented on #2674
If you change the init container to ignore the copyBinary if the binary already exists wont this prevent upgrades (new binary version)? Or is that not an acceptable usecase?

[2019-05-02 13:36] rjbez17 commented on #2674
Looking further at the code, it looks like the usecase for the file existing is handled:

the [os.Create](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/osd/init.go#L98) called should truncate the destination file if it exists:

I'm wondering if the error is actually coming from the stat of the source file?

[2019-05-02 13:37] nehaberry opened #3096 "Discover,Agent and Ceph Pods deployments fail on running operator-openshift-with-csi.yaml followed by cluster.yaml"
Description of problem:
==========================

Rook-ceph installation issue on OCP - following pods do not come up upon running deployment in following order:

Deployment order
---------------------
1. oc create -f common.yaml
2. oc apply -f csi/rbac/rbd
3. oc apply -f csi/rbac/cephfs/
4. oc create -f operator-openshift-with-csi.yaml
5. oc create -f cluster.yaml

Pods not coming up
----------

[2019-05-02 13:53] kshlm commented on #2674
@rjbez17 You're right. Skipping copyBinary when files exist would break version upgrades. The new pod would use the older binaries in the shared volume.

Stat shouldn't cause problems unless the permissions on the file or the containing directory prevent it from reading the file info.

The error above 'text file busy' is returned when a user tries to modify a file under execution. os.Create modifi

[2019-05-02 15:55] travisn commented on #3095
@rohantmp This will work in theory already. Since Rook is using `ceph-volume` to provision the OSDs it is expected that it will recognize the existing OSD even if the device is moved to another node as in this scenario. Did you test this out and observe that it did not work? If so, do you have logs from the osd prepare job on the node where you expected the OSD to be recognized?

[2019-05-02 16:15] sabbot opened #3097 "Edgefs: Inject K8S_NAMESPACE env to specific Edgefs containers"
**Expected behavior:**
EdgeFS pods should has K8S_NAMESPACE env variable with current pod namespace

[2019-05-02 17:42] #3097 closed

[2019-05-02 17:55] #3050 closed

[2019-05-02 22:25] noahdesu commented on #2074
I just tried with 1.14.1 in my vagrant-based setup and didn't experience this issue. The next test I'd like to do in minikube is to run k8s and all pods with very restrictive memory and cpu limits so that perhaps we can run some diagnostic tools.

[2019-05-03 02:49] travisn commented on #3030
@monester v1.0 is released. Let us know if you see any issues with the [upgrade](https://rook.io/docs/rook/v1.0/ceph-upgrade.html)!

[2019-05-03 02:49] #3030 closed

[2019-05-03 02:57] sinqinc opened #3104 "Ceph Nautilus does not use msgr2 protocol if port is 6790 after upgrade from 0.9.3 to 1.0.0"
Bug Report

After upgrade from Rook 0.9.3 to 1.0.0 Ceph complain that monitors can't use msgr2 protocol.

**Environment**:
* OS (e.g. from /etc/os-release):
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=2079.3.0
VERSION_ID=2079.3.0
BUILD_ID=2019-04-22-2119
PRETTY_NAME="Container Linux by CoreOS 2079.3.0 (Rhyolite)"
ANSI_COLOR="38;5;75"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://is

[2019-05-03 03:18] sinqinc commented on #3104
According to http://docs.ceph.com/docs/master/rados/operations/health-checks/?highlight=backfillfull%20ratio

If a monitor is configured to listen for v1 connections on a non-standard port (not 6789), then the monmap will need to be modified manually.

[2019-05-03 03:26] travisn commented on #3104
I also just repro'd this when upgrading from 0.9 to 1.0, then from mimic to nautilus. This upgrade scenario was tested, but missed the health warning after the upgrades.
[code]

[2019-05-03 03:34] travisn commented on #3104
To enable msgr2 and clear up this health warning, per discussion on #3051 it looks like we need to first failover the mons in order to get them onto the default msgr1 port. We will need to add manual steps to the upgrade guide if/until we get it automated.
@leseb @liewegas any other suggestions to workaround the default port issue after upgrade?

For each of the mons running on the non-default por

[2019-05-03 07:37] kshlm commented on #2674
@rjbez17 The shared volume that the binaries are copied into is a EmptyDir volume, which only exists for the particular pods lifecycle. During upgrades, one pod is replace with another pod, and the new pod gets its own empty EmptyDir volumes. So skipping the copy when the destination is found is not going to be a problem.

[2019-05-03 08:07] rohantmp commented on #3095
Oh sorry, I thought this was not yet implemented.

[2019-05-03 08:07] #3095 closed

[2019-05-03 11:12] Negashev commented on #1584
@travisn @galexrt
Will there be any documentation? or promotion?

[2019-05-03 11:16] mmack opened #3106 "ceph: Dashboard throws errors"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Dashboard home does not work

**Expected behavior:**
Dashboard home page should work

**How to reproduce it (minimal and precise):**
Update ceph from v14.2.0-20190410 to v14.2.1-20190430

**Log on the mgr pod:**
[code]

**ceph's status (i went to the dashboard to actually increase the pgs):**
[code]

*

[2019-05-03 12:03] sandrich opened #3107 "rook-agent binding on public ip"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-agent is binding to the public ips

[code]

While the communication should go through the internal ip 10.0.0.1 - 10.0.0.3

[code]

**Expected behavior:**
Should bind to the same ip as the nodes connect to the cluster.

**How to reproduce it (minimal and precise):**
I have 1 physical interface

enp

[2019-05-03 12:36] monester commented on #3106
Have the same problem with dashboard module. Rook version is 1.0.0.

[2019-05-03 13:09] sandrich commented on #3107
Actually this problem is not related to rook. Kubelet was picking up the wrong IP. Adding `--node-ip` to the kubelet command has cured the issue.

[2019-05-03 13:09] #3107 closed

[2019-05-03 13:16] HaveFun83 opened #3108 "rook-ceph no osd provisioning with metadata device config"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When the metadata device is set within the cluster-config the osd and metadata device don't get provisioned and configured
**Expected behavior:**
The osd and metadata device should provisioned and configured properly
**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/

[2019-05-03 13:47] marcstreeter commented on #3106
I'm running a fresh install of v1.0 having followed the flex volume steps for RKE and I notice this error in the browser console
[code]

[2019-05-03 14:06] #3096 closed

[2019-05-03 14:29] yanchicago commented on #2722
@arctiqtim
1). "Login to the rgw pod" to run "radosgw-admin" command will fail with below message.
[root@rook-ceph-rgw-rook-ceph-store-c75587d4b-qldtn /]# radosgw-admin user create --uid=dashboard --display-name=dashboard --system
2019-05-02 21:46:37.224 7fabdb8dc680 -1 auth: unable to find a keyring on /etc/ceph/ceph.client.admin.keyring,/etc/ceph/ceph.keyring,/etc/ceph/keyring,/etc/ceph/keyring.

[2019-05-03 14:32] yanchicago commented on #3026
Had similar issue and put my logs at https://github.com/rook/rook/issues/2722

[2019-05-03 14:38] sandrich opened #3109 "Cluster does not create OSDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Cluster is not creating any osd

[code]
I have removed all rooks related stuff in the cluster and deleted everything in /var/lib/rooks and then redeployed using Helm chart. Get the same outcome

[code]

operator log

[code]
**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Envir

[2019-05-03 15:43] #2856 closed

[2019-05-03 15:58] vitobotta commented on #3106
Same here after upgrading to v1.0 - `AssertionError: iscsi unsupported`

[2019-05-03 16:14] galexrt commented on #3082
@thundertiger825 Can you post your Ceph `cluster.yaml`?

[2019-05-03 17:37] noahdesu commented on #3106
confirmed that this is an issue in my environment.

[2019-05-03 17:47] andrewwebber commented on #3109
I get the same issue when upgrading an 0.9.3 cluster to 1.0.0.
Connection refused on monitors port 6790/6789

## Setup
OS: CoreOS Container Linux (2023.4.0)
K8-Distro: kubeadm (1.14.0)
CNI: Calico
Ceph Version: v13.2.5-20190410
Hardware: KVM virtualization on laptop

## Pre-upgrade

### Namespaces (v0.9.3)
[code]

### Ceph Status
[code]

### rook-ceph-mon-endpoints
[code]

### Ceph config
[code]

[2019-05-03 18:07] dimm0 commented on #2960
Is it safe to do having some older kernel clients? Like 3.10?

[2019-05-03 18:08] travisn commented on #3109
@sandrich The mons aren't forming quorum so the operator is not continuing with the next steps to configure other daemons. Please see [this help topic](https://rook.io/docs/rook/v1.0/ceph-common-issues.html#monitors-are-the-only-pods-running) for a possible resolution.

[2019-05-03 18:13] noahdesu commented on #3106
@ricardoasmarques @jtlayton @sebastian-philipp this is related to dashboard and orchestrators. I've filed an issue upstream in ceph, too: http://tracker.ceph.com/issues/39586

The issue here is that orchestrator manager modules (rook and deepsea) are asserting that iscsi is not a type of service they deal with, but the dashboard appears to be expecting a result (perhaps an empty result, but not an

[2019-05-03 18:16] sandrich commented on #3109
@travisn I have done the steps already

- removed rook completely
- deleted all files in /var/lib/rook
- installed again using helm chart

[2019-05-03 18:16] andrewwebber commented on #3109
Monitor logs
[code]

[2019-05-03 18:20] rjbez17 commented on #2674
I'm not sure if there is an issue for the root cause of the initial cause of restart, if so I'm happy to add context there. However, we are seeing these restarts (which triggers this init crashloopbackoff) when we have a kubernetes job use a rook PV. One the job completes successfully, the PV is unmounted (but the PVC remains). It seems that this unmounting is triggering rook to restart for some r

[2019-05-03 18:36] andrewwebber opened #3111 "Upgrade from v0.9.3 to v1.0.0 with host networking - Monitors no longer reachable"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Monitors are not reachable after changing the operator image

**Expected behavior:**
Would expect monitors to still be reachable after changing the operator image

**How to reproduce it (minimal and precise):**
- Install a 0.9.3 ceph cluster
- Change the operator image to 1.0.0

**Environment**:
## Set

[2019-05-03 18:42] andrewwebber commented on #3111
Monitor logs
[code]

[2019-05-03 18:48] noahdesu commented on #3106
the only workaround i've managed to come up with is to create a new copy of the built-in administrator role, remove iscsi permissions from this role, and assign this new role to the admin. presumably once the issue is fixed upstream one can delete the new role and reassign the administrator role to the admin user.

[code]

[2019-05-03 19:09] vitobotta commented on #3106
Thanks @noahdesu , the workaround works for me.

[2019-05-03 19:10] travisn commented on #3111
I was able to repro locally in minikube when host networking is enabled. Looking for a fix...

[2019-05-03 19:29] travisn commented on #3111
I see the mon with host networking is listening on the correct (non-default) port after upgrade:
[code]

In the mon pod spec, the ports appear correct:
[code]

Yet port 6790 is not responding, while port 6789 seems to be:
[code]

@BlaineEXE @leseb What are we missing for the mon configuration when using the non-default port with host networking?

[2019-05-03 20:52] dimm0 opened #3113 "0.9.3 -> 1.0.0: Cluster keeps updating with no devices changed"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Update went well, but not operator keeps updating the cluster.
From logs:
[code]

**Expected behavior:**
Operator doesn't do updates if nothing changed

**Environment**:
* Rook version (use `rook version` inside of a Rook Pod): v1.0.0
* Kubernetes version (use `kubectl version`): 1.13.5
* Kubernetes cl

[2019-05-03 22:12] Keithsc commented on #3106
Workaround works for me also, thanks @noahdesu

[2019-05-04 06:33] conet commented on #2632
I was able to recover the cluster after updating to `v1.0.0` and a few manual steps.

[2019-05-04 07:08] conet commented on #3104
@travisn are you sure that the above steps work? I ran them for one mon and it fails to join the quorum list after step 4, probably because it tries to connect to the old mons using the new `6789` port while they are still using `6790`, any ideas how to get around this?

[2019-05-04 07:27] conet commented on #3104
I figured it out by adding both `6790` and `6789` to the service definitions during this process.

[2019-05-04 17:41] Duneyr commented on #1501
Dirty but immediately after I ran this on all of my three nodes, everything started to ran as it should:

`ln -s /usr/libexec/kubernetes/kubelet-plugins/volume/exec/rook.io~rook /var/lib/kubelet/volume-plugins/`

[2019-05-04 17:53] galexrt commented on #1501
@Duneyr In your case the issue is not a bug, but that your flexvolume path for your kubelet is different to the one configured on the Rook Ceph Operator. See https://rook.io/docs/rook/v1.0/flexvolume.html.

[2019-05-04 17:56] Duneyr commented on #1501
@galexrt I see it even is quite well documented... Thanks!

[2019-05-04 21:09] #2674 closed

[2019-05-05 01:16] cr1cr1 commented on #3109
I had the same symptoms as you describe, not only with ceph, but with other deployed apps as well, like cassandra.
For me, the culprit was having set MTU 1400 instead of 1500 on the vlan interface that I use as default for Kubernetes with Calico deployment.

[2019-05-05 03:29] yjdwbj opened #3114 "git Rook does't create Mon,OSD Pods."
Hi,All.
     I got root from github, then using kubectl create pods from yaml ,but not create mon,osd pods.
[code]

**Environment**:
* OS
* OS
[code]

* Kernel (Linux k8s-master 4.9.0-9-amd64 #1 SMP Debian 4.9.168-1 (2019-04-12) x86_64 GNU/Linux):

* Cloud provider or hardware configuration: VirtualBox
* Rook version (use `rook version` inside of a Rook Pod):
[code]
* Kubernetes version :
[code]
*

[2019-05-05 06:59] wangxiao86 commented on #1048
@travisn  After I modify the mgr code according to  #3028 and I set the mgr Replicas to 2,  my test result is : The active mgr daemon return the prometheus metrics, another standby mgr daemon return an empty answer.

[2019-05-05 10:11] sandrich commented on #3109
I just changed MTU from 1400 to 1500, removed everything, cleared the folders and reinstalled. Still with no success. Is there a way how to further debug the containers?

[code]

[2019-05-05 10:15] sandrich commented on #3109
Looks like I cannot ping another container of a different host from the operator

[code]
[code]

[2019-05-05 12:07] andrewwebber commented on #3109
@sandrich  Are you using **hostNetwork: true**?

[2019-05-05 17:40] sandrich commented on #3109
No. But I fixed the issue now. Flannel was binding to the wrong interfaces. After having changed that it works like a charm now.

[2019-05-05 18:15] obeleh commented on #1693
What should i do if i get this?

[code]

[2019-05-05 22:54] galexrt commented on #3109
@sandrich From what you wrote this was a network issue in your Kubernetes cluster and not related to Rook, right?
Can the issue be closed then?

[2019-05-05 23:29] sandrich commented on #3109
@galexrt that is correct. Closing this case.

[2019-05-05 23:29] #3109 closed

[2019-05-06 01:01] jeffvance commented on #1488
as a note to @d-horner 's patch: I had to add `--type merge` to avoid this error:
`Error from server (BadRequest): json: cannot unmarshal string into Go value of type map[string]interface {}`
My patch cmd is: `CRD=`kubectl get crd | grep cluster | cut -d" " -f1` && kubectl patch crd $CRD --type merge -p '{"metadata":{"finalizers": [null]}}'`

[2019-05-06 06:00] umangachapagain commented on #3114
If you could provide the logs from `rook-ceph-operator`, it would be easier to debug.

[2019-05-06 10:33] pennpeng opened #3116 "ceph-volume lvm batch: error: GPT headers found, they must be removed on: /dev/sdb"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):  CentOS Linux release 7.5.1804 (Core)
* Kernel (e.g. `uname -a`): Linux k8s11-1 3.10.0-862.11.6.el7.x86_64
* Cloud provider or hardware configuration: openstack
* Rook version (us

[2019-05-06 11:30] kglushchenko commented on #3114
Hi

`$ kubectl get po -n rook-ceph -o wide
NAME                                      READY   STATUS      RESTARTS   AGE   IP             NODE          NOMINATED NODE   READINESS GATES
rook-ceph-agent-bqtft                     1/1     Running     0          70m   10.201.1.33    201-sv-k8s3   <none>           <none>
rook-ceph-agent-hwvhj                     1/1     Running     0          70m   10.20

[2019-05-06 12:05] mmack opened #3118 "ceph: crush map wrong with more than 2 types"
**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**
Crush map should respect more than one bucket type

**How to reproduce it (minimal and precise):**
This rook setup:
[code]

Produces a crush map where all osd's are placed in the same datacenter:
[code]

I expect something like that (osd's stipped):
[code]

[2019-05-06 12:47] mumrau commented on #3013
Yes I do believe that this would cover my use perfectly.

I did it manually on my installation, i.e I manually edited all of the services on top of the cassandra cluster to switch them to `LoadBalancer`, which is basically what would the "editable" serviceType field would make possible.
Thanks !

(Sorry for the late response, wasn't available for 2 weeks.)

[2019-05-06 14:49] BlaineEXE commented on #3021
Clock skew warnings suggest that the hardware running the k8s cluster is not set up properly with time synchronization.

[2019-05-06 15:44] sebastian-philipp commented on #3106
another idea would be to instead run
[code]
which disables the rook integration into the Ceph Dashboard.

[2019-05-06 16:36] whereisaaron commented on #919
Being able to use PVs for Ceph is the feature I am waiting on. It is the missing link to make Rook/Ceph to fully support k8s.

Right now took/ceph relies on directly referencing devices external to k8s. This turns k8s nodes into pets, as although nodes are redundant, they aren’t cattle. If you delete a node, k8s can’t just reschedule the OSD and mount the PV on a new node. Manual intervention is r

[2019-05-06 16:50] immesys commented on #919
@whereisaaron is exactly right. There are two situations that are very difficult to handle right now. The first is the rolling cluster upgrade where nodes get killed and replaced with a new version. The second is making and restoring backups where you need to manually snapshot and restore/reattach external volumes because solutions like Velero won't do that for you.

Both would be a ton easier if

[2019-05-06 16:57] whereisaaron commented on #2005
@davi5e this was my use case too, to keep separate pool just for Ubuntu+Ceph.

Also, even if all Ubuntu, still need way to schedule only on nodes where the disks are mounted. Right now rook doesn’t support PVs. So since disks have to managed manually external to k8s, you need to be able to schedule Ceph to those specific nodes.

Since k8s doesn’t know where the Ceph local disks are, and it can’t m

[2019-05-06 17:32] noahdesu commented on #2941
@sebastian-philipp actually this might be related to #2784 but it could also be related to the tracker ticket you posted, too. It's tough to tell if this issue is related to authorization issues (seen in the log) or some other hang. There is a _class_ of hangs that can occur if a manager module tries to write to the monitors at _just the right moment_ https://github.com/noahdesu/rook/commit/e33eb9

[2019-05-06 18:34] yanchicago opened #3120 "The rook/ceph:v1.0.0 image has 3 high security vulnerabilities."
**Is this a bug report or feature request?**
* Bug Report

Below 3 high vulnerabilities are identified with rook/ceph:v1.0.0 image.
1). https://access.redhat.com/errata/RHSA-2019:0710
package_name: python-libs
installed_version: 2.7.5-76.el7
cve_fixed_version:0:2.7.5-77.el7_6

2).  https://access.redhat.com/errata/RHSA-2019:0679
package_name: libssh2
installed_version: 1.4.3-12.el7
cve_fixed_versi

[2019-05-06 18:39] #2784 closed

[2019-05-06 18:40] diontje opened #3121 "rook toolbox: reports multiple ceph versions"
the ceph binary inside the toolbox reports multiple versions of ceph depending on how ceph version is called.

s1:~ # kubectl exec -n rook-ceph rook-ceph-tools-77fb5d749-bnnmp -- ceph version
ceph version 12.2.11 (26dc3775efc7bb286a1d6d66faee0ba30ea23eee) luminous (stable)
s1:~ # kubectl exec -n rook-ceph rook-ceph-tools-77fb5d749-bnnmp -- /usr/bin/ceph --version
ceph version 13.2.2 (02899bfda8141

[2019-05-06 18:58] NickUfer opened #3122 "rook mgr SSL: CERTIFICATE_VERIFY_FAILED"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The mgr opens with the dashboard but it has just an empty page. After some time the web panel crashes. Something with the "rook" ceph module is not right. It cannot verify some certificate.
SSL/TLS is turned on for the mgr and it creates a new certificate on every pod recreation.

[code]

**Expected b

[2019-05-06 19:23] dimm0 opened #3123 "ROOK_ENABLE_FSGROUP prevents changing the root folder permissions of rook-block"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Running a simple pod with rook-block PVC and user changed:

[code]

The mounted block device belongs to root.

The operator has ROOK_ENABLE_FSGROUP=false

**Expected behavior:**
The root folder should be chown'ed, the rest of folders should stay untouched

**How to reproduce it (minimal and precise):**

[2019-05-06 19:44] travisn commented on #3123
@dimm0 Thanks for the reminder on this, we need to revive #2564. Since #3086 was masking testing this issue, hopefully this will be more straight forward now.

[2019-05-06 19:46] dimm0 commented on #3123
This was working ok in 0.9.3.. Some chowning was already fixed, and at least the rook folder was properly chowned. Now it's broken again...

[2019-05-06 19:46] dimm0 commented on #3123
Just to remind: we want root folder to be chowned always, and all children depending on the flag

[2019-05-06 20:05] travisn commented on #3123
Since #2557 was backported to 0.9 and released with 0.9.3, I thought those options to disable fsgroup and selinux relabeling were broken. Are you sure 0.9.3 wasn't still always recursively labeling everything?

[2019-05-06 20:25] dimm0 commented on #3123
Ah!! Makes sense now, yes, I think it was broken, and our users learned to get around it..

[2019-05-06 20:35] travisn commented on #3120
@yanchicago The `rook/ceph` image is based on the `ceph/ceph` image. Could you open this issue in the [ceph/ceph-container](https://github.com/ceph/ceph-container) repo? Thanks!

[2019-05-06 20:49] conet commented on #966
Is it possible to do this for an existing cluster? I'm using `v1.0.0`, changed `hostNetwork: false` to `hostNetwork: true` but only the OSDs were properly recreated, the MONs still do no use the host network, I also tried to failover a MON to get it recreated only to find that it still did not use the host network. I'm trying to mount a cephfs from outside of the cluster.

[2019-05-06 20:53] dimm0 commented on #3123
Hmm... I'm trying to disable those now, and it's still not chowning the folder..

[2019-05-06 21:02] dimm0 commented on #3123
Nevermind, I'm not patient enough, disabled fine.

[2019-05-06 22:32] BlaineEXE commented on #3111
I'm not able to repro this on my cluster. Is it possible that port 3300 or port 6789 aren't allowed by a pod security policy? I don't have any more ideas about what could be causing the behavior in a different environment.

[2019-05-07 00:45] dimm0 opened #3124 "Sometimes can't unmount cephFS volumes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]

**Expected behavior:**
Unmount regardless of permissions

**How to reproduce it (minimal and precise):**
Not sure.. Just happens on some nodes

**Environment**:
* Rook version (use `rook version` inside of a Rook Pod):
1.0 and before
* Kubernetes version (use `kubectl version`):
1.13.5

[2019-05-07 02:20] yjdwbj commented on #3114
Hi
[code]

[code]

[code]

[2019-05-07 02:29] solohin commented on #3116
Hi guys! I have the same problem. With rook v1.0 and Kubernetes  v1.13.5

I found this topic by query `exec: Error ENOENT: error obtaining 'mgr/dashboard/server_addr': (2) No such file or directory`

I've created a brand new  cluster in Rancher. Then updated it's Yaml http://joxi.ru/4AkENgsoKg9Rmq?d=1 . And only after this change I added 3 nodes to this cluster.

I initialized Ceph with
[code]

``

[2019-05-07 02:40] SeanChristopherConway opened #3125 "NFS-ganesha crashing OSDs"
Operator version: v0.9.0-467.gb999605
Cluster ceph version: v14.2.0-20190410

Cluster running on two nodes with bluestore and ceph filesystem with following configs:
[code]
[code]
This all works fine. However, once I try to install nfs-ganesha two things happen, (1) the nfs-ganesha pods crash, however, (2) later on the OSD pods crash.  Here is my ganesha config:

[code]

[2019-05-07 02:50] travisn commented on #3125
@SeanChristopherConway How many OSDs do you have? With your erasure coding setting in the filesystem, you need at least 3 osds. From your settings in the cluster.yaml you may only have 2 osds. The `ceph status` from the rook toolbox would show for sure. Even so, I wouldn't think it would be related to the ganesha pods dying. Are there any logs for the failed ganesha pods? If so, @jtlayton could yo

[2019-05-07 03:19] pennpeng commented on #3116
@solohin Hi guys,i have fixed my problem。
[code]

[2019-05-07 03:19] #3116 closed

[2019-05-07 03:29] travisn commented on #3121
@diontje There are several documented version arguments to `ceph`. While confusing at first glance, I believe what you're seeing is expected:
- `ceph --version`: The version of the client tools in the local container (will be constant for the toolbox pod in a given release of rook... mimic for 0.9 and nautilus for 1.0)
- `ceph version`: The version of running ceph mon daemons
- `ceph versions`: Th

[2019-05-07 04:12] SeanChristopherConway commented on #3125
Okay, so after reading the docs again and realizing you are right about needing 3 osds I rebuilt the filesystem using 2 osds and things are working now with nfs-ganesha, I used:

[code]

Yet, despite running the erasure coding  setting with only 2 osds it didn't seem to crash the OSDs until the NFS ganesha servers came online. Anyhow, thanks!

[2019-05-07 04:12] #3125 closed

[2019-05-07 05:29] thundertiger825 commented on #3082
#################################################################################################################
# Define the settings for the rook-ceph cluster with common settings for a production cluster.
# All nodes with available raw devices will be used for the Ceph cluster. At least three nodes are required
# in this example. See the documentation for more details on storage settings avail

[2019-05-07 05:32] thundertiger825 commented on #3082
`#################################################################################################################
# Define the settings for the rook-ceph cluster with common settings for a production cluster.
# All nodes with available raw devices will be used for the Ceph cluster. At least three nodes are required
# in this example. See the documentation for more details on storage settings avai

[2019-05-07 05:33] thundertiger825 commented on #3082
Here fed-worker is name of node for osd

[2019-05-07 06:04] cerw commented on #2525
After upgrading to v1.0.0 following https://rook.io/docs/rook/v1.0/ceph-upgrade.html, it seem my mon_host did not update and ceph status complaining about :

[code]

mon_host:

[code]

[2019-05-07 06:04] cerw commented on #2525
Just noticed this one https://github.com/rook/rook/issues/3104

[2019-05-07 09:17] andrewwebber commented on #3111
I am running on a stock kubeadm cluster. I am not aware that a pod security policy is deployed by kubeadm or rook.

I was able to upgrade only when my 0.9.3 cluster had hostNetwork=false, then the upgrade completed successfully.

Unfortunately I don't believe it is supported to transition the hostNetworking in Rook.
@travisn was able to reproduce this in minikube, @BlaineEXE are you using also min

[2019-05-07 13:11] sandrich opened #3126 "OSD unable to bind to"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
One out of 3 osd fails to start. It is the one running on the master node. My cluster consists out of 1 master and 2 worker nodes
[code]

[code]

**cluster config:**

[code]
**Expected behavior:**
3rd osd to start as well.

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. fro

[2019-05-07 13:20] itmuckel opened #3127 "OSD fails in minikube"
**Is this a bug report or feature request?**
* Bug Report

I have two servers, a master and a slave and want to have replicated storage for kubernetes. To test rook-ceph I use minikube.

More specific I want ceph to use a specific directory on each server to store the data.

**Deviation from expected behavior:**
The osd logs:
[code]
Also the operator is in status "CrashLoopBackOff".

Using ceph to

[2019-05-07 14:41] BlaineEXE commented on #3111
@travisn I can't repro, and minikube fails install on my system. Can you take this issue?

[2019-05-07 15:18] jansmets opened #3129 "per node rook-config-override"
This would be useful to set some node specific flags like
[code]

[2019-05-07 15:58] jbw976 commented on #3057
Published at https://www.cncf.io/blog/2019/05/02/rook-releases-its-first-major-milestone-v1-0/

[2019-05-07 15:58] #3057 closed

[2019-05-07 15:58] jbw976 commented on #3058
The beautiful new website has been published to https://rook.io/

[2019-05-07 15:58] #3058 closed

[2019-05-07 15:58] #3062 closed

[2019-05-07 15:58] jbw976 commented on #3056
v1.0 blog post published to https://blog.rook.io/rook-v1-0-a-major-milestone-689ca4c75508

[2019-05-07 15:58] #3056 closed

[2019-05-07 16:14] jtlayton commented on #3125
@SeanChristopherConway : Glad you got it sorted out. Ganesha doesn't do anything too exotic here -- mostly just simple reads and writes to a Probably, the OSD crashed once you actually got to the point where it needed to store things. If you are still able to get to the logs from the OSD pod that crashed, that might be helpful. It's quite possibly a ceph-osd bug, which would be something the ceph

[2019-05-07 16:42] jbw976 opened #3130 "Increase the number of CI runners"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:** The CI system has more work than it's current number of parallel runners can keep up with.  We should increase the number of CI runners from 2 -> 4.

**What is use case behind this feature:** Having more CI processing power will keep the CI queue running and allow moving features into master and release

[2019-05-07 16:43] jbw976 commented on #3130
What exactly is involved in supporting this change? Is it just increasing a single number field or is it more involved?

[2019-05-07 16:53] noahdesu opened #3131 "ceph: ignore certain partition changes in device hotplug"
Device hotplug detection should ignore certain aspects of the set of partitions. Here the file system is all that is changing (notice the end: `zfs_member` vs ""):

[code]

Perhaps we should simply ignore all content of the partitions, and only perform equality on the number of partitions. My first reaction is to ignore partitions completely, but I'm wondering about a scenario like (1) insert devi

[2019-05-07 17:08] Defilan commented on #3130
This is usually a really simple fix. In fact, I just changed the number of runners from 2 -> 4. That being said, this config of Jenkins is unique and I want to make sure to monitor it to see if that did the trick or if something else might be needed.

[2019-05-07 17:55] diontje commented on #3121
awesome. thanks for clarification.

[2019-05-07 17:55] #3121 closed

[2019-05-07 19:01] JohnStrunk commented on #2987
I've also encountered this bug. When installing the CSI drivers via the Rook docs: https://rook.io/docs/rook/master/ceph-csi-drivers.html, there is no attacher running for cephfs.

For RBD, it's in the provisioner pod, but for cephfs, it's missing.

This leads to:

[code]

And there are no logs in any of the cephfs CSI containers that indicate ongoing requests.

[2019-05-07 19:09] ShyamsundarR commented on #2987
@Madhu-1 attacher side car needs to be running. As discussed [here](https://github.com/ceph/ceph-csi/issues/278#issue-424372544) we need the attacher running alongside the controller service pods (IOW the provisioner pod) for kubernetes attach to progress beyond the controller to reach the node service.

[2019-05-07 21:01] sandrich commented on #3126
The problem was that firewalld had masquerading turned on for the trusted zone. I had all cluster networks inside the trusted zone. Only on the node where OSDs was failing. It is now fixed.

[2019-05-07 21:01] #3126 closed

[2019-05-07 23:10] vitobotta opened #3132 "Very high CPU usage on Ceph OSDs (v1.0, v1.1)"
I am not sure where the problem is but I am seeing very high CPU usage since I started using v1.0.0. With three small clusters load average skyrockets to the 10s quite quickly making the nodes unusable. This happens while copying quite a bit of data to a volume mapped on the host bypassing k8s (to restore data from an existing non-k8s server). Nothing else is happening with the clusters at all. I

[2019-05-07 23:23] davidkarlsen commented on #3132
I see the same (but chart v0.9.3) - it will just freeze and system load will increase and increase.

doing `iostat -x 1` you will see 100% util on the RDB devices, but not actually any I/O

[2019-05-08 04:10] Madhu-1 commented on #2987
i will send a patch to fix this one

[2019-05-08 04:37] ghost opened #3133 "How can I resize pv created by "ceph.rook.io/block""
How can I resize a pv with preserving data. PV is created dynamically through storageclass.
`provisioner: ceph.rook.io/block`

[2019-05-08 07:32] tzkoba opened #3135 "After 3 MONs created, but any OSDs don't run."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After an operator run MONs quorum, any OSDs did not run.

**Expected behavior:**
I had 3 nodes for OSDs, so each OSD pod would be run in all nodes.

**How to reproduce it (minimal and precise):**

I executed as shown below following Ceph Storage Quickstart.

1. kubectl apply -f common.yaml
   -> common

[2019-05-08 07:46] sebastian-philipp commented on #2884
@yan636

* the `mirror_mode` exception should be fixe fixed https://github.com/ceph/ceph/pull/26009
* `SSLV3_ALERT_CERTIFICATE_UNKNOWN` looks like an issue with the certificate used by the dashboard. (Similar, but I guess unrelated: https://tracker.ceph.com/issues/38378 )

[2019-05-08 07:50] sebastian-philipp commented on #2404
Looks like the dashboard cannot get the mirror_mode, but it no  longer causes an internal server error. See https://github.com/ceph/ceph/pull/26009

[2019-05-08 07:51] mr00wka commented on #2987
Also tested against k8s version:
```GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290"```

Pods using cephfs volume claims still do fail trying to attach the volume:
[code]

Additionally to rook's documentation, applying `attacher` RBAC and POD as described in `ceph/ceph-csi` does fix that problem: https://github.com/ceph/ceph-csi/blob/csi-v1.0/docs/deploy-cephfs.md

[2019-05-08 09:09] muhlba91 opened #3136 "Update 0.9.3 -> 1.0.0: all PGs unknown, mgr waiting for OSDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After updating the rook version from 0.9.3 to 1.0.0 following the [guide](https://rook.io/docs/rook/v1.0/ceph-upgrade.html) the cluster is in a `HEALTH_WARN` state and all PGs are marked as unknown.
The logs of the mgr pod shows `Not sending PG status to monitor yet, waiting for OSDs`.

**Expected beha

[2019-05-08 10:52] vitobotta commented on #3132
I have tried with a new single-node  cluster from scratch this time with 4 cores from UpCloud, which also happens to have the fastest disks (by far) I've seen with the cloud providers I have tried, so it's unlikely a problem with disks. Well, exactly the same problem. :( After a little while downloading many largish files like videos, the server became totally unresponsive I couldn't even SSH into

[2019-05-08 10:57] vitobotta commented on #3132
Also, since I couldn't SSH into the servers I checked the web console from UpCloud and saw this:

<img width="792" alt="Screenshot 2019-05-08 at 13 54 31" src="https://user-images.githubusercontent.com/283811/57370483-ec9a1780-7198-11e9-87c0-e2a023ffd9e7.png">

Not sure if it's helpful.... I was also wondering whether there are issues using Rook v1.0 with K3S, since I've used K3S with these cluste

[2019-05-08 13:37] sebastian-philipp opened #3137 "Panic after changing AllowUnsupported"
[code]

**Is this a bug report or feature request?**
* Bug Report

**Environment**:
* Cloud provider or hardware configuration: kubic
* Rook version (use `rook version` inside of a Rook Pod): v1.0.0-13.g05b0166
* Kubernetes version (use `kubectl version`): v1.14.1
* Kubernetes cluster type (e.g. Tectonic, GKE, OpenShift): Kubic

[2019-05-08 14:52] sebastian-philipp commented on #3122
Looks like the mgr pod cannot validate the kubernetes ssl certificate. Could you verify that the kubernetes certificate can be validated from within the pods?

https://github.com/kubernetes-client/python/issues?utf8=%E2%9C%93&q=is%3Aissue+%22certificate+verify+failed%22

[2019-05-08 14:55] sebastian-philipp commented on #3052
@galexrt can you open a ticket in the ceph tracker?

[2019-05-08 14:59] sebastian-philipp opened #3138 "Ceph Octopus: HEALTH_WARN: crush map has legacy tunables (require firefly, min is hammer)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

[code]

relates to #743

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
* Cloud provider or hardware configuration: Kubic
* Rook version (use `rook version` inside of a Rook Pod): 1.0
* Kubernetes version (use `kubectl version`): 1.14
* Kubernetes cluster type

[2019-05-08 15:15] sp98 commented on #2890
One query:
Is there any difference between "create-simple" and "create-replicated" in "ceph osd crush rule create-*" command [here](https://github.com/rook/rook/blob/05b0166e4d2a1ab2dbdc0cb51a7c1ae8886d35e0/pkg/daemon/ceph/client/pool.go#L257)  ?
(Currently the code base uses "create-simple" but I think that option does not support device classes. I changed that to "create-replicated" and it works

[2019-05-08 15:41] sebastian-philipp opened #3139 "rook-ceph-nfs failed: read-only file system"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**

Found by QA: https://github.com/sebastian-philipp/test-rook-orchestrator

**Environment**:
* Cloud provider or hardware configuration: Kubic
* Rook version (use `rook version` inside of a Rook Pod): 1.0
* Kubernetes versio

[2019-05-08 15:47] sebastian-philipp commented on #3139
cc @jtlayton

[2019-05-08 16:27] jtlayton commented on #3139
Thanks. I just set one up on a clean v13.x kubernetes cluster and it seemed to work just fine.

It's not clear to me where that Event message comes from. I don't see any log messages that read "failed to mkdir" in rook, ceph-container, or ceph itself. That leads me to think that this comes from k8s, so maybe the pod that rook is trying to spin up is not suitable for this environment for some reaso

[2019-05-08 16:56] sebastian-philipp commented on #3139
Might actually be related to my Kubernetes. Going to investigate this tomorrow or Friday.

[2019-05-08 17:01] noahdesu commented on #2890
It looks to me that if the optional device-class parameter is not specified when using `create-replicated` then it is equivalent to using `create-simple` with a fixed `firstn` mode. The use case you cited above is appears to be using the default mode (`firstn`), so I think your substitution of `create-simple` with `create-replicated` is correct. @liewegas ?

[2019-05-08 17:22] NickUfer commented on #3122
@sebastian-philipp Thanks :+1: That hint helped me to find the real problem. I've created the kubernetes CA as an intermediate CA of my own root CA and somehow this didn't work.

[2019-05-08 17:30] NickUfer commented on #3106
Thanks that worked. :+1: What was the default role called in case I want to remove this workaround once it is fixed?

[2019-05-08 17:44] bengland2 commented on #3132
@vitobotta , I've seen this hung-task message when something like RBD or Cephfs is unresponsive and a VM thinks that the I/O subsystem is hung.  So the question then becomes why is Ceph unresponsive?   Is the Ceph cluster healthy when this happens?   ceph health detail.   Can you get a dump of your ceph parameters using the admin socket, something like "ceph daemon osd.5 config show".   Does K8S s

[2019-05-08 18:05] noahdesu commented on #3106
@NickUfer `administrator`

[2019-05-08 18:17] grzechukol opened #3140 "OSD Processor -- bind unable to bind to IP on any port in range 6800-7300: (99) Cannot assign requested address"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I'm running OpenShift v3.11.82 on 3 nodes using RHEL7 with FLEXVOLUME_DIR_PATH set to /usr/libexec/kubernetes/kubelet-plugins/volume/exec(no other changes to *.yml files).
I've encountered OSD error  "Processor -- bind unable to bind to v2:IP:7300/2027 on any port in range 6800-7300: (99) Cannot assig

[2019-05-08 18:45] vitobotta commented on #3132
Hi @bengland2, yes the clusters (I have tried with several) were healthy etc when I was doing these tests.

In the meantime I have recreated the whole thing again but this time with OpenEBS instead of Rook just to test, and while OpenEBS was slower I didn't have any issues at all, with load never above 4.

With Rook, same test on same specs it reached 40 or even more until I had to forcefully rebo

[2019-05-08 18:46] MaxDiOrio opened #3141 "Minio pods not creating"
* Bug Report

Deviation from expected behavior:  No Minio pods are created after deploying object-store.yaml

rook-minio-operator logs shows:

Expected behavior: Minio pods would be turned up

How to reproduce it (minimal and precise):  Used example yaml files from v1 release per the Quickstart.  Only changes made to the yaml files were:

object store yaml:  access keys, changed nodeCount to 3, an

[2019-05-08 19:10] dimm0 opened #3142 "rook-block PVs stay pending after upate to k8s 1.14.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Provisioned rook-block PV's stay pending

**Expected behavior:**
Those become available after being provisioned

**How to reproduce it (minimal and precise):**
Create PVC:
[code]

See it stay pending.

Logs:
[code]

[code]

**Environment**:
* Rook version (use `rook version` inside of a Rook Pod): 1.0

[2019-05-08 19:23] dimm0 commented on #2918
https://github.com/rook/rook/issues/3142

[2019-05-08 19:28] MaxDiOrio commented on #3141
So after digging through the operator code, it seems that the problem I ran into is:

[code]

However the operator doesn't actually log this output.  It logs the more generic "failed to validate object store config" error.

Nowhere that I've seen has stated that it needs 4 nodes, so I dropped it to 3 as I only had 3 worker nodes in my K8S cluster.  As soon as I changed it back to 4 nodes, it deplo

[2019-05-08 19:32] martin31821 commented on #2447
Just ran into this issue in v1.0, the fix worked fine for me, too.

[2019-05-08 19:37] dimm0 commented on #3142
Controller-manager logs are full of:
[code]

[2019-05-08 19:38] dimm0 commented on #3142
Also I found that volumes are not formatted. I formatted one manually, but it's still pending

[2019-05-08 20:17] bengland2 commented on #3132
@vitobotta Sounds like you are copying files to an RBD volume.   Try lowering your kernel dirty pages way down (e.g. sysctl -w vm.dirty_ratio=3 vm.dirty_background_ratio=1) on your RBD client and see if that makes write response times more reasonable.    Also, maybe you need to give your OSDs more RAM, in rook this is done with resources: parameter.  A Bluestore OSD expects to have > 4 GiB of RAM

[2019-05-08 20:20] jtfogarty commented on #3135
I'm seeing this same issue.  Here are my specs;
Bare metal servers
 uname -m && cat /etc/*release
x86_64
CentOS Linux release 7.6.1810 (Core)
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENT

[2019-05-08 20:27] vitobotta commented on #3132
The weird thing is that I didn't seem to have these issues with the previous version, using the same specs and config. Not sure of what rbd client you mean, I just mounted the /dev/rbX device into a directory :)

[2019-05-08 20:32] bengland2 commented on #3132
@vitobotta by "RBD client" I meant the host where you mounted /dev/rbdX.  Also I expect you are using Bluestore not Filestore OSDs.

[2019-05-08 20:50] vitobotta commented on #3132
I think Filestore since I was using a directory on the main disk rather than additional disks.

[2019-05-08 20:59] bengland2 commented on #3132
Filestore is basically in maintenance mode at this point, you should be using Bluestore, which has much more predictable write latency.    Let us know if Bluestore is giving you trouble.

[2019-05-08 22:16] areed opened #3144 "Edits to CephFilesystem pools replicated size are ignored"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Changing the metadataPool and dataPools replicated size from 1 to 2 has no effect.

**Expected behavior:**
After editing the CephFilesystem config the dashboard should show the new replica size for the pools, like it does when editing the replicated size of a CephBlockPool.

**How to reproduce it (mini

[2019-05-08 23:25] travisn commented on #3142
From the operator logs reported in slack:
[code]

These messages about the PVC already existing come from the external provisioner [here](https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/release-1.14/controller/controller.go#L1205). We did update the version of the external provisioner we're using in rook 1.0. It is the same version that is supposed to work with 1.14. S

[2019-05-09 02:59] jcuzzi commented on #3136
I ran into the same issue. Mgr and Mon nodes upgraded successfully, but the OSDs and MDSes did not upgrade automatically.  I manually update the image tag in the deployments for those but still, ceph is complaining that all the PGs are unknown.

CephCluster resource is stuck in a "Creating" state as well.

[2019-05-09 03:18] travisn commented on #3135
Please look at the `provision` container logs for the osd prepare pod, for example:
[code]

This log will indicate why the OSDs were not created on the nodes. Devices will be skipped if they have partitions or formatted filesystems. The OSDs can only be created on raw devices.

[2019-05-09 03:25] travisn commented on #3136
@muhlba91 @jcuzzi Can you share the `storage` section of your cephcluster CR?
[code]

I wonder if you had created the cluster with the "default OSD" in v0.9 where rook automatically created a filestore osd in the `dataDirHostPath`. This was an option that was only intended to be used for ease-of-use in test clusters. In 1.0 this automatic OSD is no longer created. Creating the OSD under the `dataD

[2019-05-09 04:27] travisn commented on #3104
@conet I don't see why it would be necessary to add both ports to the service definition. When the new mons start they will be listening on 6789, while the old mons will be listening on 6790. I would expect that these single ports on their respective services would be sufficient. A couple other users also verified the original steps worked for them, but I must be missing something.

[2019-05-09 04:55] travisn commented on #3114
@yjdwbj Please see the [troubleshooting section](https://rook.io/docs/rook/v1.0/ceph-common-issues.html#monitors-are-the-only-pods-running) of the docs for reasons why the mons might not be forming quorum. Typically this is a network or firewall issue.

[2019-05-09 05:40] muhlba91 commented on #3136
@travisn my CR is defined like this and also contains this `/var/lib/rook` directory as storage.

[code]

[2019-05-09 11:27] sinqinc commented on #3104
@conet did you replace all mon deployment?

[2019-05-09 11:36] conet commented on #3104
@travisn I think the explanation for why I needed to manually add the `6789` port to the old mon service definitions so that the new mon would join the quorum is that, contrary to [your guide](https://github.com/rook/rook/pull/3145/files#diff-3de4d43beba101be122197d34b432653R268) I was already running Nautilus. So it might be a good idea to mention this case. As I said, running Nautilus with mons

[2019-05-09 13:57] sandrich opened #3147 "Prometheus in rook-ceph not working due to missing rolebinding"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After installing prometheus for rook-ceph I get the following errors in prometheus

[code]

[code]
**Expected behavior:**
Prometheus being able to function

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release): centos-7
* Kernel (e.g. `uname -a`):
* Cloud pr

[2019-05-09 14:42] galexrt commented on #3147
@sandrich Which Manifests did you use? These https://github.com/rook/rook/tree/master/cluster/examples/kubernetes/ceph/monitoring.

[2019-05-09 14:48] galexrt opened #3148 "Ceph Teardown instructions need updating due to manifest changes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The https://rook.io/docs/rook/v1.0/ceph-teardown.html page is outdated for the splitted manifest files.

[2019-05-09 15:50] jcuzzi commented on #3136
@travisn

`
apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  creationTimestamp: 2019-03-25T22:56:36Z
  finalizers:
  - cephcluster.ceph.rook.io
  generation: 16
  name: rook-ceph
  namespace: rook-ceph
  resourceVersion: "13255804"
  selfLink: /apis/ceph.rook.io/v1/namespaces/rook-ceph/cephclusters/rook-ceph
  uid: 3e2cc739-4f51-11e9-b2eb-005056860972
spec:
  cephVersion:
    image: ceph/

[2019-05-09 16:05] sebastian-philipp commented on #3148
fyi, https://github.com/sebastian-philipp/test-rook-orchestrator/blob/master/undeploy-rook-ceph.sh  for my use case.

[2019-05-09 16:36] sandrich commented on #3147
@galexrt no actially from the 1.0 release branch

https://github.com/rook/rook/tree/release-1.0?files=1

[2019-05-09 17:08] dimm0 commented on #3142
Any hope to get this looked at today? Appreciate your help

[2019-05-09 17:59] sandrich commented on #3147
@galexrt I checked out the master branch and applied the monitoring manifests. Now it works

[code]

[2019-05-09 18:43] jtfogarty commented on #3135
I've reinstalled several times with no luck
here are a few logs
https://gist.github.com/jtfogarty/ac612d50847662151681b860fa531bf3

[2019-05-09 19:20] travisn commented on #3108
@clkao Adding the `--report` option to the c-v batch option resulted in osds only printing the report and not getting provisioned. In addition to running the report, we'll need to run the same command again without the `--report` option. Are you available to take a look? It would be great to get the fix into v1.0.1

[2019-05-09 19:32] travisn commented on #3135
@jtfogarty As discussed in slack you are hitting #3108.
@tzkoba After you have the `provision` logs as mentioned above we can take another look.

[2019-05-09 19:42] travisn commented on #3142
Can someone running k8s 1.14 confirm that PVCs are working ok for them? If we can find more clues about the repro steps it would help find and verify a fix.

Time is short while I'm traveling today so if someone else familiar with the provisioner could take a look it would be very helpful. @jbw976? As soon as we find the fix I'd like to get 1.0.1 released with this and a couple other fixes.

[2019-05-09 19:49] travisn commented on #3147
the monitoring manifests are still the same between the release-1.0 branch and master. Is it possible you had some other version when it was failing?

[2019-05-09 19:54] sandrich commented on #3147
All I can think of is that I might forgot to apply a manifest. This time I did an apply to all manifest.

If you want I can try to reproduce it again

[2019-05-09 20:37] sandrich commented on #3147
@travisn I can't even reproduce myself. Removed all and reinstalled. Works like a charm.

[2019-05-09 20:37] #3147 closed

[2019-05-09 22:14] BlaineEXE commented on #2591
Do we know why `lvm2` is required on hosts? Lvm is installed in containers, but is there something else we can do to remove this dependency from the host?

[2019-05-10 00:53] tzkoba commented on #3135
Hi, @travisn

I got provision logs as below.

[code]

3 nodes had similar logs.

You said the OSDs can create on only raw device. Is that changed with Rook v1.0?
I remember the OSDs were able to create on existing filesystem in previous version.
Can I create the OSDs on filesystem?
Should I prepare unformatted device for the OSD nodes?

[2019-05-10 01:48] liewegas commented on #2890
Agree!

[2019-05-10 02:11] clkao commented on #3108
oops, this seemed to slip in the last squash of #3149

[2019-05-10 11:14] jay-rawal commented on #3135
we've the same issues as @tzkoba no luck with any common troubleshooting pages.

We're running rook-ceph on a kubernetes cluster on AWS (using KOPS).

[2019-05-10 11:19] sebastian-philipp commented on #3139
[code]

[2019-05-10 13:03] sebastian-philipp commented on #3139
found it: the spec looks like so:
[code]
But path should actually be `/var/lib/rook/log/rook-ceph` instead which is correct in the OSD pod bug wrong in the NFS pods.

[2019-05-10 13:09] lbogdan commented on #2833
I ended up opening an issue in kubernetes: https://github.com/kubernetes/kubernetes/issues/77737 .

[2019-05-10 13:40] tzkoba commented on #3135
Hi, @travisn @jay-rawal

After attached new disk(EBS) to my OSD nodes, OSD pods worked well.
As raw device, I did not format new disk.

I guess it causes from the lack of understanding Ceph.
I unconciously used FileStore of Ceph with previous version of Rook but the recommendation is using BlueStore in Rook v1.0(Ceph 14).
And BlueStore seems to need unformatted device(=raw device).

[2019-05-10 14:08] yanchicago commented on #3120
@travisn I've scanned ceph image v14.2.1-20190430 and it doesn't have the above vulnerability.
My understanding is that the rook image has "v14.2.0-20190319" as base which has the above issues.
If you may build with v14.2.1, the issue should go away. Below is the Makefile.  Unfortunately, I haven't setup my dev env. Otherwise, I would help to fix it.
---------------------------------------------
g

[2019-05-10 14:16] Russell-IO commented on #2388
This would be handful for manager, when prometheus is enabled, it makes the ceph provided grafana / prometheus graphs go all funny as the pod id has changed, if we used statefulset, then this wouldn't happen

[2019-05-10 14:24] grzechukol commented on #3140
This issue may be connected with this issues:
#3127
#586

Additionally this may refer to:
- https://github.com/ceph/ceph/blob/master/src/common/pick_address.cc#L511
- https://github.com/ceph/ceph/blob/master/src/osd/OSD.cc#L2257

[2019-05-10 15:18] SeanChristopherConway commented on #2526
I have followed the same tutorial from https://ceph.com/community/deploying-a-cephnfs-server-cluster-with-rook and am having a similar issue, ie. when I try to connect from inside the mgr container I get:
`curl: (7) Failed to connect to ::1: Cannot assign requested address`

[2019-05-10 16:00] travisn commented on #3142
I just created over 100 pvcs in minikube 1.14.1 and they were all bound. Still digging, but if anyone has more repro steps or an environment I can take a closer look at, let me know!

[2019-05-10 16:25] grzechukol commented on #3127
Can you confirm that if you apply below changes this error disappears?

`image: ceph/ceph:v14.2.1-20190430` -> `image: ceph/ceph:v13.2.3-20190430`
`dashboard:  enabled: true` -> `dashboard:  enabled: false`

[2019-05-10 17:50] dimm0 commented on #3142
Found that it started magically working again at some point, probably after the operator restart (not sure about that). Now PVC's are bound properly.
Closing until can reproduce

[2019-05-10 17:50] #3120 closed

[2019-05-10 17:59] dimm0 commented on #3142
Another case is still available

[2019-05-10 18:21] #3108 closed

[2019-05-10 20:19] sandrich commented on #3142
I had similar issues. I found an error in my PVC declaration. I was using `10G` instead of `10Gi` which seems to cause the issue.

[2019-05-10 20:21] travisn commented on #3142
@dimm0 @sandrich thanks, let's close this for now until we hear if there is another repro

[2019-05-10 20:21] #3142 closed

[2019-05-10 20:22] lbogdan commented on #2833
Closing this, as it's kubernetes related, and not rook's fault. For more details, see how I fixed it here: https://github.com/kubernetes/kubernetes/issues/77737#issuecomment-491414797 .

[2019-05-10 20:22] #2833 closed

[2019-05-10 20:38] mhaluska commented on #2591
@BlaineEXE: I'm not sure, but I think docker guest is not priviledged to modify devs. Actually you can try force lvm scan, but docker will not be able create/link new devs.

[2019-05-11 03:44] yjdwbj opened #3156 "rook-ceph can't ping nameserver 10.96.0.10 but 8.8.8.8"
Hi All.

* here is my k8s services.
[code]

[code]
* entry ceph-mon node
[code]
* display it's dns nameserver, **2 packets transmitted, 0 received, 100% packet loss, time 1024ms**,can't ping it's nameserver
[code]
* try ping 8.8.8.8 and  ping --apiserver-advertise-address=192.168.99.100 it's OK.
[code]

* check rook-ceph-operator logs
[code]

[2019-05-11 14:22] terry0924 opened #3157 "rook-ceph-osd pods in CrashLoopBackOff"
**Is this a bug report or feature request?**
* Bug Report
When I reinstall rook-ceph cluster in my k8s with this doc： https://rook.github.io/docs/rook/v1.0/ceph-quickstart.html, the rook-ceph-osd-* pods are in CrashLoopBackOff state:
[code]
I get the logs of one of the rook-ceph-osd-0-6f787df69b-lgwnq pod are following (other pods gave me similar logs):
[code]
**How to reproduce it (minimal and pr

[2019-05-11 18:49] vitobotta commented on #3132
Hi @bengland2, I didn't read anywhere that Filestore (thus directories support?) is in not in active development, I must have missed it... I will try with additional disks instead of directories so I can test with Bluestore when I have time.

Today I had a chance to repeat the test with that 25GB of mixed data with a new 3-node cluster with Rook 1.0 installed. The test started well until it was ex

[2019-05-11 21:54] vitobotta commented on #2997
Hi, I was just wondering about this. With OpenEBS I can easily live expand/resize a pool when I resize the disks with my cloud provider. If this is not possible, what should I do in order to increase capacity without downtime/loss of data? Thanks!

[2019-05-11 22:00] vitobotta commented on #2997
I just tried adding volumes with DigitalOcean and it seems to be creating the new OSDs automatically without me doing anything. Is this the right approach to add storage?

[2019-05-11 22:59] vitobotta commented on #3132
I can't believe it! :D

I decided to try Bluestore now because I want to understand what's going on, so I set up a new cluster this time with DigitalOcean (3x 4 cores, 8GB ram) and added volumes to the droplets, so to use these disks with Ceph instead of a directory on the main disk. I was able to complete the usual test and the load never went above 5 when extracting videos!

I don't think it's b

[2019-05-12 06:02] RainFlying commented on #3133
For now I guess you need to create a new PV and migrate the data to the new PV.
Resizing of Ceph PVs provisioned by rook will be available in Rook 1.1, according to this

https://github.com/rook/rook/milestone/12

[2019-05-12 07:35] shivendrapro0 commented on #2979
Hi
I am also facing this issue.
Was this resolved ?

[2019-05-12 08:42] vitobotta commented on #3132
Tried again and had the same problem. :(

[2019-05-12 17:00] sajal commented on #3157
I have a similar issue, except that everything works fine with `hostNetwork: false`, but `hostNetwork: true` produces the log similar to OP containing `failed to fetch mon config`

OS
[code]
Kernel
[code]
Kubernetes
[code]
Rook version
[code]

[2019-05-12 18:37] #2429 closed

[2019-05-12 19:37] #562 closed

[2019-05-13 07:35] sebastian-philipp commented on #3106
I'm going to fix this in the dashboard.

[2019-05-13 09:11] kshlm commented on #3047
@travisn I'd like to take this issue up. Can you assign it to me please?

[2019-05-13 09:48] leseb commented on #2686
@yanchicago no.

[2019-05-13 12:30] TerryTab commented on #2460
I have the same issue for v1.0.0 rook/ceph. Did anyone know how to solve this?

[2019-05-13 13:08] xiak commented on #3127
Can't find ceph/ceph:v13.2.3-20190430 on DockHUB

[2019-05-13 13:13] SteveKeller commented on #2460
same issue here (v1.0.0 rook/ceph)

are there any logs while creating these ceph-osd pods?

[2019-05-13 13:47] SteveKeller commented on #2460
ok, it works with separate raw devices.

My previous setup *dataDirHostPath: /var/lib/rook* with filesystem ext4 and at least 5g free space didn't worked.

*Solution:*
1. attached on each kubernetes worker a new disk (raw), no partition, no filesystem upon.
2. After that cleaned config dir /var/lib/rook on each node
3. kubectl create -f cluster.yaml

[2019-05-13 14:20] muhlba91 commented on #3136
@travisn any updates already? :)

[2019-05-13 14:38] travisn commented on #3136
In the logs attached to this issue, I see there is only one node with an OSD:
[code]

The status shows a warning about the mons being low on disk space, but not about the PGs being in an unknown state. Are the logs from a different test cluster? It seems from your yaml that you expect there to be three nodes, each with one OSD. Can you share the logs from that cluster?

[2019-05-13 14:43] itmuckel commented on #3127
I tried `ceph/ceph:v13.2.3-20190410` (@xiak search on DockerHub if you don't know what versions exist).
The ceph operator outputs that the provisioning succeeded:
[code]

But my application is still pending and when I describe the pvc, I get:
[code]

Why doesn't the PVC bind to the PV?

[2019-05-13 14:45] muhlba91 commented on #3136
@travisn did you mean @jcuzzi with the 3 node cluster?

In my test cluster I only have 1 OSD node (actually it's a cluster with only 1 node at all) and 2 mons defined and I expect it being low on resources due to it being only a test cluster for testing the upgrade:
[code]

I believe my logs are correct when they mention 1 storage node or did I oversee anything?

[2019-05-13 15:22] yanchicago commented on #2696
I have encountered similar issue in rook 1.0 as well. If there's a guidance/documentation to help to setup 2 clusters, it will be really helpful.

[2019-05-13 15:33] travisn commented on #2696
To setup two instances of rook on the same K8s cluster the separation would be simplest if the different rook clusters were running mons and osds on a different set of nodes. But if you're using the same nodes, you'll need to be very careful with the following:
- A unique `dataDirHostPath` for each cluster.yaml is required
- A unique set of OSDs must be specified in the cluster.yaml. The operator

[2019-05-13 15:34] #3111 closed

[2019-05-13 15:46] yanchicago commented on #2696
Thanks for quick response.
1). I have used different dataDirHostPath: one is /data0/rook and the other is /data0/rook2
2). Unique set of OSDs:  I have specified storedevices as "vdd" in one cluster and "vdf" for the other cluster.
Here're cluster.yaml and cluster2.yaml file I used.

`cat cluster.yaml
---
apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
  namespace: rook-ce

[2019-05-13 16:07] Negashev opened #3162 "All osd down when I update CephCluster spec and add resources.osd"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

osd on device (/dev/mapper/ceph*) down with resorce memory reservation/limit

[code]

**Expected behavior:**

osd continue work with reserv and limit memory

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="18.04.1 LTS (Bionic Be

[2019-05-13 16:08] Negashev commented on #3162
Duplicate https://github.com/rook/rook/issues/3157

[2019-05-13 16:22] travisn commented on #2696
What OSD pods are created? If the OSDs are being created with ceph-volume, I wonder if there is an issue where both clusters will attempt to start the OSD pods even if they belong to the other cluster. If both clusters are starting the OSDs we would certainly run into issues.

[2019-05-13 16:41] yanchicago commented on #2696
I have tried to bring up the 2nd cluster after the 1st cluster is up and running. The similar issue would occur for the 2nd cluster. If I restart the operator after the 2nd cluster is deployed, the osd in the 1st cluster sometimes would be crashed. There's conflict between the two clusters. But can't figure out from the log.

[2019-05-13 17:15] travisn commented on #3011
@BlaineEXE Since the rework of the configuration override, can you take a look at this issue? Are we missing [instructions](https://rook.io/docs/rook/v1.0/ceph-advanced-configuration.html#custom-cephconf-settings) on how to apply the ceph.conf settings? The instructions at least work for OSDs which haven't been converted, but not for the other daemons.

[2019-05-13 18:12] #3104 closed

[2019-05-13 18:44] hansbogert commented on #3127
I think he meant `ceph/ceph:v13.2.3-20190410`

[2019-05-13 18:49] dimm0 commented on #3133
Login to rook toolbox pod, run `rbd resize <pv_id> --size=<size, f.e. 1T>`
Then either go to a node where this PV is mapped to, if it's being used, or `rbd map <pv> && mount /dev/... /mnt` in toolbox pod
Then `xfs_growfs mount_point`
Unmount, unmap if that was in toolbox. For running pods no need to stop pod - can be done on active one

Now sure how to do for ext4, I've done it for XFS only

[2019-05-13 20:12] travisn commented on #3127
@itmuckel Can you share the operator logs? If the operator is crash looping, the PVC won't be bound.

[2019-05-13 22:06] d-luu opened #3166 "ceph (nautilus): OSD crashloops due to panic on unexportable field in cluster resource"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSDs CrashLooping
[code]
In the rook operator logs, you can see that a panic is thrown:
[code]

**Expected behavior:**
OSDs running

**How to reproduce it (minimal and precise):**
* Set resource requests and limits for Rook components in cluster.yaml
* Set rook cross cluster related stuff namespace to

[2019-05-13 22:54] dimm0 commented on #3142
Same here. The user said he was using "10G" in the previous version fine. Seems like it changed.

[2019-05-14 06:56] itmuckel commented on #3127
In my last post I included the operator logs.

[2019-05-14 08:05] itmuckel commented on #3127
Wow. Check this out: https://github.com/rook/rook/issues/3142#issuecomment-491417884

It turned out that rook has problems with the units. Changing "8G" to "8Gi" in my PVC definition solved the problem.

[2019-05-14 08:32] liuyongqing1 opened #3167 "Only reboot can add extra osd disk to ceph cluster"
yes
**Is this a bug report or feature request?**
* Bug Report

rook-ceph v0.9.3

I encountered the same problem with this issue, https://github.com/rook/rook/issues/2830, but I don't know how to solve it. Please help me solve it. I don't know much about how https://github.com/rook/rook/pull/2780 is solved.

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minim

[2019-05-14 08:43] andrewwebber commented on #3111
@travisn NOOB question here about rook backports? Does this mean the same rook container operator image can be just "re-pulled" or is there a 1.0.1 image that we should use?

[2019-05-14 10:43] #3135 closed

[2019-05-14 10:44] xiak commented on #3140
Any update?

[2019-05-14 11:31] galexrt commented on #3162
@Negashev #3157 is not a duplicate. You are having `segmentation fault` and #3157 has `failed to fetch mon config (--no-mon-config to skip` and then just fails.

[2019-05-14 11:39] tzkoba opened #3168 "Ceph-CSI RBD PVC is Pending."
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**

Following [this document](https://rook.io/docs/rook/v1.0/ceph-csi-drivers.html), I tried to create PVC by Ceph-CSI.
But PVC was "Pending" and did not turn on to "Bound".

The result of "kubectl describe pvc" is shown below.

[code]

It seems that a timeout has occurred somewhere.
So I checked

[2019-05-14 11:42] tzkoba commented on #3168
My enviroment(pod,svc,etc) is shown as below.

[code]

[2019-05-14 11:44] itmuckel commented on #3127
Now I have the problem that the volume is mounted as root. I tried fixing that by using `runAsUser`, `runAsGroup` and `fsGroup`. I used `exec` to get into the container and could even write files into the mounted volume, but as soon as the application tried to do that, my minikube cluster hanged and I needed to rebuild it, because it wouldn't start anymore. :man_facepalming:

[2019-05-14 12:39] ShyamsundarR commented on #3168
I suspect you are facing an incarnation of issue https://github.com/ceph/ceph-csi/issues/284 with the rbd plugin. Request you to pass along logs from the rbdplugin in addition to provided logs from the provisioner `kubectl -n rook-ceph logs csi-rbdplugin-provisioner-0 -c csi-rbdplugin`

[2019-05-14 13:05] mkogan1 commented on #2945
@travisn just updating, the fix got merged (https://github.com/ceph/ceph/pull/27676)

[2019-05-14 13:08] travisn commented on #3111
@andrewwebber We will release a v1.0.1 image with the fix. The release should be today, just need to finalize if there is anything else going into the release.

[2019-05-14 13:58] travisn commented on #3167
@liuyongqing1 Can you provide more details about your scenario? Did you physically attach a new device to a node? Did you add the device to the cluster CR? Was the disk already there, but you decided later to add it to the cluster CR?

If you update the cluster CR or you attach a new device, with the v1.0 release Rook will automatically create an OSD for the device if it matches the settings in th

[2019-05-14 14:21] galexrt commented on #3140
@grzechukol Are you using `hostNetwork: true`?

[2019-05-14 14:54] tzkoba commented on #3168
Hi, @ShyamsundarR

I got csi-rbdplugin logs in csi-rbdplugin-provisioner-0 below.

[code]

Some messages are similar to ceph/ceph-csi#284 , but I don't make sure I faced the same problem.

[2019-05-14 15:00] travisn commented on #3162
@Negashev  The CephCluster CR above doesn't show any limits set. What are the limits and how did you set them?

[2019-05-14 15:01] Negashev commented on #3162
@travisn osd 4Gb (request/limit)

[2019-05-14 15:14] ShyamsundarR commented on #3168
Thank you!

This is a different problem, there seems to be a stuck lock, causing requests to pile up behind the same.

same here and for the rest.

Looks like a bad lock that is stuck. I have not encountered this as yet and possibly needs some code inspection to understand why this occurred.

Is it possible to pass on the entire logs for this container? To analyze the first request that possibly t

[2019-05-14 15:32] Negashev commented on #3162
Repeat with filestore
[code]

[2019-05-14 15:38] leseb commented on #3162
Can you send the osd pod log so we can read the coredump? Thanks.

[2019-05-14 15:45] Negashev commented on #3162
I remove cluster, by append logs from one osd (device mount) in https://github.com/rook/rook/issues/3162#issue-443482665

[code]

[2019-05-14 15:56] marcstreeter commented on #3157
I'm not sure how helpful this will be but these are the exact steps I took to install Kubernetes and Rook on a fresh install of Ubuntu 18.04 https://github.com/marcstreeter/kubewhistle taking the rancher RKE path.  I had followed these steps previously and rook was working for me under 1.0.0 ...so I'm not sure what has changed.

[2019-05-14 16:03] dyusupov opened #3169 "S3X not selecting correct EdgeFS version and not starting proxy"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

S3X Protocol designed for High-Performance AI/ML workloads. It is backward compatible with S3 and adds some key functionality on top, i.e. access to S3 object via Key-Value interface, Range Versioned Writes, POSIX-like semantics (Open, Read/Write, Close) and more.

Currently, Rook CRD is broken and ne

[2019-05-14 18:20] BlaineEXE commented on #3156
`10.96.0.10` is the default Kube DNS service for the cluster. If it's not reachable, there is most likely an issue with networking in k8s. @galexrt has recommended a k8s network tester a few times, but I forget what it's called.

[2019-05-14 18:59] galexrt commented on #3156
https://github.com/apprenda/kuberang is the tool.

[2019-05-14 19:00] #3148 closed

[2019-05-14 19:03] #3169 closed

[2019-05-14 19:35] q3k commented on #3059
We're having the same issues here, with a full orchestration running every minute or so:

[code]

All of these due to the `too old resource version` message. We're running etcd 3.3.1 with default compaction settings (eg., no auto compaction).

[2019-05-14 19:52] noahdesu commented on #3059
@q3k would you mind posting an output from the operator log with debug logging level? we've identified most sources, but have one remaining one to fix (zfs partitions changing). it'd be nice to see if you have a different setup.

[2019-05-14 20:01] q3k commented on #3059
No ZFS on my Rook/Ceph nodes. I've restarted my operator with DEBUG logging, but so far it hasn't spuriously reran orchestration yet. Will post logs once I observe this happening again.

[2019-05-14 20:07] #2883 closed

[2019-05-14 20:12] q3k commented on #3059
One just happened. Here's the log: [flap.txt](https://github.com/rook/rook/files/3179646/flap.txt)

[2019-05-14 20:44] noahdesu commented on #3059
Thanks. It looks like debug logging wasn't turned on (or running a version without the debug output). Just to confirm, what version of Rook are you running (should be printed at the top of the operator log)?

[2019-05-14 20:49] q3k commented on #3059
Oh apologies, I truncated the log. I've since flipped it back to INFO, and here's the log head from that:

[code]

[2019-05-14 20:53] invidian opened #3175 "Create Client CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

It should be possible to create new `CephClient` resource, which will [create ceph cluster user](http://docs.ceph.com/docs/mimic/rados/operations/user-management/#add-a-user) with capabilities (`caps`) specified in specification (`spec`) section of the resource. Once operator detects such resource, it

[2019-05-14 22:41] travisn commented on #3175
@invidian There is a work item in progress for automating the [mon endpoints for the csi driver](https://github.com/rook/rook/issues/2649), including dealing with the ceph clients and secrets. It is expected that the admin should not need to deal with the cephx users. All of this should be handled by the CSI driver. And if we need a migration tool, we should be able to integrate it with the CSI dr

[2019-05-14 23:06] invidian commented on #3175
For my particular use case, I will not need it when CSI is automated.

However, I know people who may need it and if any project which uses librados (like https://github.com/ceph-dovecot/dovecot-ceph-plugin) wants to run on Kubernetes with Rook, then they would also need it, or at least benefit from it (secrets can be created by hand, but this is not the optimal way). Please let me know what you t

[2019-05-14 23:13] travisn commented on #3175
@invidian The CSI automation is planned in the 1.1 release, so the work is currently starting since 1.0 was released. Also related is the [external cluster](https://github.com/rook/rook/blob/master/design/ceph-external-cluster.md) feature, which will improve the experience around CSI connecting to a Ceph cluster that is running outside the local K8s cluster.

[2019-05-14 23:53] travisn opened #3177 "CI failing randomly with ChannelClosedException"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Several builds have failed in the last few days with the following error. It seems to happen at the end of a pipeline stage, either the build, unit tests, or integration tests.
[code]

For example, this [release-1.0](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/release-1.0/9/pi

[2019-05-15 02:33] erulabs opened #3178 "Failure on ceph pg dump pgs_brief -> PGDumpBrief unmarshal issue"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
It appears a failed node (which has been removed and cannot be re-added) can send rook-operator into a loop wherein it seems to never remove the OSD / node (even after being removed from the cluster list)

From the operator logs:
[code]

**Expected behavior:**
I expect either the pgs_brief can be succe

[2019-05-15 02:49] erulabs commented on #3178
Ah, calling PURGE on the OSD successfully removed it and operator was able to move on. Feel free to close if this is expected behavior

[2019-05-15 02:58] erulabs commented on #3178
One probably worthwhile note: I have recently upgraded from v0.9 to v1.0.1

[2019-05-15 03:12] liuyongqing1 commented on #3167
@travisn
I solved it, I use the zstack virtual machine, the newly added hard disk can be seen in lsblk. But apply -f cluster.yaml prepare is skipped. After that I tried to restore the cluster.yaml configuration, then apply -f cluster.yaml and then add the new disk to cluster.yaml and then apply -f will take effect.

[2019-05-15 03:13] liuyongqing1 commented on #3167
I can't use rook ceph 1.0 because I am using kubernetes 1.9.11

[2019-05-15 03:20] liuyongqing1 commented on #3167
In addition, I also found a problem. After configuring Separate Storage Groups, everything works fine, but after the three nodes are restarted, it becomes the following result. I don't know what is going on, and my data has been lost.

 rook-ceph -- ceph  osd tree
ID  CLASS WEIGHT  TYPE NAME               STATUS REWEIGHT PRI-AFF
 -9             0 root ssd
-10             0     host 192.168.100.12

[2019-05-15 03:47] bogeit commented on #966
You can do these steps to meet your needs:
1. Create a cephfs by referring to https://rook.github.io/docs/rook/v0.9/ceph-filesystem.html
2, modify the hostNetwork: true in cluster.yaml, the default is:
   Network:
     # toggle to use hostNetwork
     hostNetwork: false

[2019-05-15 06:22] liuyongqing1 commented on #3167
I re-added the previous three osds to the crush ssd, and that's fine. But I don't know why the whole cluster will be lost when it restarts together.

[2019-05-15 06:53] tzkoba commented on #3168
Hi, @ShyamsundarR

After restart csi-rbdplugin-provisioner-0 pod, I got csi-rbdplugin logs again.

[code]

`I0515 06:45:20.404169 1 cachepersister.go:50] cache-perister: using kubernetes configmap as metadata cache persister`
seemed to be the point of log starting.

[2019-05-15 09:38] ShyamsundarR commented on #3168
@Madhu-1 @humblec any thoughts based on the logs above?

[2019-05-15 09:46] Madhu-1 commented on #3168
@ShyamsundarR @tzkoba
looks like mon IP issue
* From svc
[code]
* From storage Class
[code]
* i sugguest you to use service name  to reach mon.

[2019-05-15 10:10] humblec commented on #3168
yep, Try using svc names.

[2019-05-15 10:57] Miouge1 commented on #2945
I ran into this error while following the RadosGW tutorial, I made a PR #3179 to add the `--region :default-placement` which solved the problem of the bucket creation. I hope it can help others.

[2019-05-15 11:10] itmuckel commented on #2074
Same problem here. I cannot reproduce it reliably. I used `minikube ssh` and `toolbox`, installed htop there and the VM uses roughly 1.5GB RAM. 800Mb of it are my own kubernetes apps. Using `minikube dashboard` I can see that the whole rook-ceph namespace uses about 850Mb RAM. So I'm not sure about where the crash originates from, but it's not from a lack of resources.

[2019-05-15 11:16] tzkoba commented on #3168
Hi, @Madhu-1 @humblec

Thanks for your comment.
My storageclass.yaml is below.

[code]

Should the monitors parameters use service IP:port?
Or service name:port? e.g. rook-ceph-mon-a:6789

[2019-05-15 11:24] Madhu-1 commented on #3168
@tzkoba  `<service-name>.<rook-namespace>.svc.cluster.local:port` or `svcIP:port` should also work

[2019-05-15 13:43] Negashev commented on #2254
@dimm0
Did you find a temporary solution?

[2019-05-15 14:52] grzechukol commented on #3140
I've tried also to enable `hostNetwork: true` but no success - different errors occurred. I've found out that if I change ceph version to `v13.2.5-20190410` things start to work but I have to disable dashboard in order to make it work.

[2019-05-15 15:31] d-luu opened #3180 "ceph (nautilus): OSDs crashloop due to pod memory environment variable settings when setting cluster resources"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSDs crashlooping

**Expected behavior:**
OSDs running

**How to reproduce it (minimal and precise):**
* Setup filestore and set resource requests and limits for Rook components in cluster.yaml
* Set rook cross cluster related stuff namespace to rook-ceph-system and cluster components to rook-ceph (not

[2019-05-15 15:51] leseb commented on #3180
Dup of https://github.com/rook/rook/issues/3162?

[2019-05-15 15:52] leseb commented on #3162
Arf, it's too bad we can't catch the dump in the log. I'll look into this in 2 weeks, if someone wants to pick that earlier that fine.

[2019-05-15 15:55] galexrt commented on #3180
@d-luu Please post the logs of the crashing OSDs and / or verify if you also get the segmentation fault error mentioned in #3162. Please close if it is the same error. Thanks!

[2019-05-15 16:04] d-luu commented on #3180
The pods do not output any logs (even when using the previous -p flag) when crashlooping.

[2019-05-15 16:11] leseb commented on #3180
@d-luu what about `docker logs` directly? same?

[2019-05-15 16:12] d-luu commented on #3180
@leseb also empty

[2019-05-15 16:34] d-luu commented on #3180
at the moment, for the nautilus filestore case at least, it seems as though removing both POD_MEMORY_REQUEST and POD_MEMORY_LIMIT environment variables brings up the OSD

I will be checking if it crashes or not but it seems to be lasting longer than the previous workaround I mentioned

[2019-05-15 18:15] dimm0 commented on #3106
Are we still waiting for the fix? Better not to update in rook 1.0.1?

[2019-05-15 18:21] noahdesu commented on #3106
If you are running 1.0.0 already, I don't think there is any reason to avoid 1.0.1. The fix for this still has to be merged upstream in Ceph and have containers built etc... though there are some workarounds listed above in this issue. @travisn  ?

[2019-05-15 18:21] dimm0 commented on #2254
Tar big folders before container shutdown, untar while working with those.. Or untar to emptyDir folder
No real solution.. =(

[2019-05-15 18:22] dimm0 commented on #3106
I'm asking about the update to nautilus
Not clear if it's easy to return to original state after those workarounds

[2019-05-15 18:24] noahdesu commented on #3106
I don't have any reason to think that these workarounds would be difficult to undo.

[2019-05-15 18:25] noahdesu commented on #3106
They'll involve some commands in the toolbox, and maybe a mgr pod restart.

[2019-05-15 18:32] sabbot opened #3181 "Prevent multiple EdgeFS targets deployment on the same node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During node drain, target pod migrating to node with existing EdgeFS target pod
**Expected behavior:**
Migration of the target pod to node with already existing target pod not allowed
**How to reproduce it (minimal and precise):**

1. Deploy operator and cluster on a number of nodes
2. Drain one of a n

[2019-05-15 18:49] #2890 closed

[2019-05-15 19:16] yanchicago commented on #2613
Rollback is useful whenever upgrade presents. Please keep the ticket open.

[2019-05-15 19:34] Capitrium commented on #3136
Having the same issue upgrading our cluster from v0.9.x to v1.0.0 (tried from both v0.9.1 and v0.9.3).

The upgrade to v1.0.0 hangs indefinitely if the dashboard is enabled, getting stuck while creating the self-signed cert for the dashboard. Disabling the dashboard allows the operator to upgrade all the pods, but the mgr pod fails to receive PG info from the OSDs.

`ceph status` reports all servi

[2019-05-15 20:31] #3181 closed

[2019-05-15 20:34] jjasghar opened #3183 "CephCluster: storage.nodes.devices.name: Make the `/` optional"
It seems that the `/` is not required. Unfortunately, this requires the use like:

[code]

People will put `/dev/loop6` instead of `dev/loop6`. We need to either add a note in the Documentation or make it optional for the UX in attempting to locate the Ceph mount points.

[2019-05-15 20:35] jjasghar commented on #3183
https://github.com/rook/rook/blob/master/pkg/client/listers/ceph.rook.io/v1/cephfilesystem.go#L86

[2019-05-15 20:47] dab-q opened #3185 "Rook operator looping on initialization"
* Bug Report

When bringing up Rook/Ceph, the operator got stuck in a loop redoing the cluster initialization.  The osd-prepare pods were being restarted multiple times.  It didn't get to the point where it was watching for CRDs to create storageclasses, pools or filesystems.  The Ceph cluster itself came up, and all the OSDs joined the ceph cluster.

When I set ROOK_DISABLE_DEVICE_HOTPLUG=true, e

[2019-05-15 23:25] dkowsley opened #3186 "Init containers do not ensure ceph OSD has registered credentials in ceph"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Something caused my cluster to lose OSD credentials for 36 of my 91 OSDs. The operator pod may have been deleted by someone running an improperly scoped command (edit: or, more likely, the node/rack it was in lost connectivity and it was rescheduled). When it came back online it fired off all of the w

[2019-05-16 00:29] dimm0 commented on #3108
After updating to 1.0.1 it created the OSDs, but I'm struggling to verify it actually used the NVME for metadata device
Seems like the OSD structure changed, and there are no more symlinks in /var/lib/rook/osd*?

I found some links in /dev/mapper/ceph--block--dbs--, but those are not showing devices, and I don't see WAL
In node provision logs I had:

[code]

How can I verify it actually used one?

[2019-05-16 02:02] clkao commented on #3108
@dimm0 are your sd[a-j] ssd or rotational? the way we invoke ceph-volume only actually use metadatadevice when it's non-rotational and the data devices are rotational.

[2019-05-16 02:06] clkao commented on #3108
To verify, check the osd dirs, there should be config files pointing the wal to ceph--block--dbs--*

[2019-05-16 09:05] tzkoba commented on #3168
Hi, @Madhu-1

I modified storageclass.yaml using "svcIP:port".
The pvc was still "Pending".
And then csi-rbdplugin log was changing below.

[code]

This seemed to show that ceph.conf could not find.
Ceph status command returned fine,  but ceph.conf did not configure well?
Or auth problem?

[2019-05-16 09:58] ShyamsundarR commented on #3168
Those are harmless, there is no ceph.conf present in the container and hence the errors

I am puzzled about this as well, but unable to test this at the moment.

The problem or actual error strings seem to be,
[code]

Request you to check and confirm if pool named `rbd` is created and present on the Ceph cluster.

[2019-05-16 10:25] Madhu-1 commented on #3168
Yes rbd pool is missing, please create rbd pool

[2019-05-16 10:29] Harold2017 commented on #3081
same problem but can NOT succeed to start after delete job and re-create rook-ceph pods.
got this log:
[code]
- rook image: rook/ceph:master
- ceph image: ceph/ceph:v14.2.1-20190430

[2019-05-16 11:49] HaveFun83 commented on #3108
@dimm0
you can run `lsblk` on your k8s nodes or check the osd metadata tab within the ceph dashboard

[2019-05-16 12:04] nehaberry commented on #3096
@umangachapagain I see similar problem in the rook release-1.0 branch's  "operator-openshift-with-csi.yaml" file. The separator is not present. Is there a separate process to raise issue for that ?

@travisn ^^

[2019-05-16 13:03] grzechukol commented on #3140
Log from events
`(combined from similar events): MountVolume.SetUp failed for volume "hello" : mount command failed, status: Failure, reason: failed to mount filesystem myfs to /var/lib/origin/openshift.local.volumes/pods/523f86e6-765a-11e9-a30b-0000c0a8700d/volumes/ceph.rook.io~rook/hello with monitor 172.30.129.144:6789,172.30.16.163:6789,172.30.133.200:6789:/ and options [name=admin secret=AQCg

[2019-05-16 13:54] tzkoba commented on #3168
@Madhu-1 , @ShyamsundarR

Thanks for your comments.
I got it. The PVC has turned to "Bound".

[code]

I missed a part of ceph-csi-drivers document below. Furthermore, the link of rook pool CRD is disabled.

It would be better that the ceph-csi-drivers document might show the procedure for using CSI on one page.
I feel documents are scattered now.

[2019-05-16 18:22] dimm0 commented on #3108
The drives are rotational.
OSD config doesn't have anything about wal:
[code]

lsblk gave some partitions, but only db, not wal. Is that expected?
[code]

Are those supposed to be only 20G?

In dashboard the only reference I see is:
[code]

I guess I'm good? Is db now combined with the journal?

[2019-05-16 18:40] sandrich opened #3189 "osd broken after adding node back"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I removed a kubernetes node from the cluster, reinstalled and then added it back. Since then I am having issues with the OSDs

[code]

[code]

Second OSD

[code]
**Expected behavior:**
Having ceph back to a healthy state

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from

[2019-05-16 19:32] conet commented on #966
@bogeit I did that:
[code]
But the mon pods are still not using host network. The osd pods are recreated and use it but not the mons:

[code]

Operator logs mention changing osds but never touch mons, from what I know for mounting I need the mons to be running on the host network, are you sure that toggling this flag is supported for existing clusters?

[2019-05-16 19:39] solohin opened #3190 "skipping device loop0: Failed to complete 'lsblk /dev/loop0': exit status 1."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
PVC is not provisioning

**Expected behavior:**
PVC provisioning

**How to reproduce it (minimal and precise):**

create a new rke cluster o clean ubuntu 18.04
[code]

Apply demo configs
[code]

**Environment**:
* OS (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="18.04.2 LTS (Bionic Beaver)"
* Ker

[2019-05-16 19:39] solohin commented on #3190
# Check all pods health
`kubectl get pod -n rook-ceph -o wide`

[code]

# Logs for operator
`kubectl logs -n rook-ceph -l app=rook-ceph-operator | grep -i error -C 3`

[code]

# Operator logs after provisioning started
`kubectl logs -n rook-ceph -l app=rook-ceph-operator --since=360s`
[code]

# nodes logs
`kubectl logs -n rook-ceph -l app=rook-ceph-mon --since=360s`
No errors, no warnings

# disco

[2019-05-16 20:30] travisn commented on #3186
It's not clear what the root cause of this issue is, but being able to recover automatically shouldn't be a stretch.
@alfredodeza Could `c-v --activate` verify that the auth exists for the osd each time the osd is started? Since c-v is creating the osd auth when the osd is provisioned, it seems natural that the osd could be healed if something happens to the auth.

[2019-05-16 20:32] travisn commented on #3108
@dimm0 Yes, that looks like it worked. There is only a single LV for the db and journal since rook is using ceph-volume now to provision the OSDs instead of its own partitioning.

[2019-05-16 20:34] travisn commented on #3081
@Harold2017 Are the logs available for the rook-ceph-detect-version job pod?

[2019-05-16 20:52] dimm0 commented on #3108
Awesome, thanks all!

[2019-05-16 21:38] travisn commented on #3167
With rook 0.9, you will need to restart the operator in order to install the OSDs on new devices. Note that 1.0 should still technically run on K8s 1.9, we just don't run the tests on that version anymore.

It certainly is not expected for the data to be lost in any reboot scenario. Did all the pods come back up? According to your screenshot it appears all the osds are up so the data should be ava

[2019-05-16 21:40] travisn commented on #3178
@erulabs Did you also update to Nautilus or just the rook upgrade? (ceph v14) @rohan47 is looking into this issue and it looks like a format change in Nautilus.

[2019-05-16 21:50] travisn commented on #2979
@sswangifly Can you share the logs for the osd prepare pod? It may show more details about the failure. A common failure for mkfs with filestore is if there is not at least 5GB free, alhthough hard to know if this is the same issue.

[2019-05-16 22:49] bogeit commented on #966
@conet
If this is the case, you can edit the service directly and change the type: ClustIP to NodePort.

[2019-05-16 23:08] travisn commented on #1584
@Negashev This is in the [roadmap](https://github.com/rook/rook/blob/master/ROADMAP.md), although still needs an owner to drive it.

[2019-05-16 23:31] 0xf2 commented on #1677
@tobru did Armbian make any progress in this regard? Hitting this issue with Stretch.

[2019-05-17 01:18] solohin commented on #3190
Hi @xiaods !
Thanks for help. I sent kubectl config to your personal email. Please comment here steps you take to find and fix the issue& Thanks!

[2019-05-17 02:12] Harold2017 commented on #3081
@travisn no, since the pod is stuck at pending status, no logs for this pod.
always stuck here as following...
[code]

[2019-05-17 02:29] travisn commented on #3081
What does kubectl describe tell you about the pending pod?

[2019-05-17 03:26] Harold2017 commented on #3081
Thanks for your fast response, i found if i turn change `hostNetwork` to `false`, it will not stuck here now..

[2019-05-17 05:49] xiaods commented on #3190
@solohin firstly, need zap the disk for clean MBR headers.

[code]

[2019-05-17 06:25] aquavitae commented on #3180
I'm seeing this issue too - and it does seem to be resolved by removing the POD_MEMORY_* envvars from the osd deployments. It doesn't seem like a great fix though since it looks like it needs to be a manual step after the osds have started up.

[2019-05-17 09:57] Ferdinanddb commented on #2274
Hello, I got the exact same problem as @yanivroz described right above. I'm using 3 Vagrant VMs. Did anyone manage to find something about that issue?
I'm using :
- rook : v1.0.0
- kubernetes : v1.14

[2019-05-17 11:14] shaas commented on #2288
I am not able to re-produce this issue with v1.0 anymore.

[2019-05-17 12:01] #3168 closed

[2019-05-17 12:30] schmitch opened #3195 "upgradeing from rook-stable helm chart to rook-release"
Hello, currently I've installed rook-ceph via the rook-stable release chart, however I probably don't want to start all over and wanted to know if there is a way to migrate from rook-stable to rook-release.

if I try to upgrade it brings the following error:
[code]

[2019-05-17 12:31] #3195 closed

[2019-05-17 13:03] scroogie commented on #3136
Were you able to fix this? We are hitting the same issue. The pg query shows active+clean but ceph -s still shows all pgs inactive.

[2019-05-17 13:35] solohin commented on #3190
Hi @xiaods
I have only one disk on my vms. sda, no sdb
[code]

[2019-05-17 13:36] solohin commented on #3190
@xiaods I can give you root access to servers, email me your public key

[2019-05-17 16:11] travisn commented on #3177
Another [example](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/release-1.0/12/pipeline/) of the failure today.

[2019-05-17 17:11] d-luu commented on #3180
I will be making a PR to the code base soon to address it

[2019-05-17 18:23] schantaraud commented on #2587
Same problem in 1.0.1

[2019-05-17 19:50] sdiebler-f9 commented on #3189
I have the same issue on a brand new cluster where the OSD daemon tries to bind to the .1 IP address of the network instead of the IP of the pod, ie if pod IP=10.131.4.6, my log shows OSD trying to bind on 10.131.4.1.
I am using ceph/ceph:v14.2.1-20190430 and rook:v1.0.1

[2019-05-17 23:47] xiaods commented on #3190
first issue:
## 1. check ceph status
[code]

[code]

ceph health is HEALTH_WARN,  you will notice the osd is not correct created. because the environment is  based in container, i will continue dig the case and found the reason the osd daemon not starting.

[2019-05-18 00:00] xiaods commented on #3190
@solohin  could you please use below possible solution:

[code]

[2019-05-18 01:37] solohin commented on #3190
@xiaods thanks for your investigation
1. I cant attach separate disks to these VMs. The point is using current disks. Can we add a new partition instead? I didn't see in rook requirements a separate disk. Should I have one?

2,3 - let's continue after solving one

[2019-05-18 04:44] ron1 opened #3197 "Contribute rook-ceph operator to Community OKD/OpenShift Operators"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Include the rook-ceph operator as a Community OpenShift Operator in the OKD and OCP OperatorHub.

**What is use case behind this feature:**
As a OKD/OCP user, I want to install the rook-ceph operator on my cluster.

**Environment**:

OKD/OCP 3.11 or 4.1

I see PR https://github.com/operator-framework/co

[2019-05-18 08:25] #1627 closed

[2019-05-18 08:31] xiaods commented on #3190
@solohin please check here: https://rook.io/docs/rook/v1.0/ceph-cluster-crd.html#storage-selection-settings , this is ceph context knowledge, it should be give a device to feed ceph to create osd.  rook just only simplified the config way, but the another disk is must.

[2019-05-18 08:41] xiaods commented on #3190
@solohin for your concerns, please open the cluster.yaml, see the top comments:

please notice the sentence:  **All nodes with available raw devices will be used for the Ceph cluster. At least three nodes are required**

[code]

[2019-05-18 08:49] xiaods commented on #3190
before create the cluster, we need clean the meta. please use blow command.
[code]

[2019-05-18 21:33] marcstreeter commented on #3157
issue persists with 1.0.1 (fresh install), looking at the OSD logs I see this

[code]

[2019-05-19 12:42] leseb commented on #3197
Fixed via https://github.com/operator-framework/community-operators/pull/348

[2019-05-19 12:43] leseb commented on #2750
Fixed via https://github.com/operator-framework/community-operators/pull/348

[2019-05-19 12:43] #2750 closed

[2019-05-19 13:07] solohin commented on #3190
Hi @xiaods
This is crucial to not mount any extra disk and using existing disk space. That's why I need rook.  Actually this rook deployment https://github.com/wardviaene/on-prem-or-cloud-agnostic-kubernetes/tree/master/rook works good without attaching additional devices.

[2019-05-19 13:08] solohin commented on #3190
Feel free to execute this on nodes since you have a full root access

[2019-05-19 14:11] leseb commented on #3180
I can reproduce, it's a bug in Ceph, please wait.

[2019-05-19 14:35] xiaods commented on #3190
@solohin got it,  you need resolve the rook issue  without any extra disk.

[2019-05-19 15:12] leseb commented on #3180
Fix proposed here: https://github.com/ceph/ceph/pull/28159, so we have to wait for 14.2.2.

[2019-05-19 15:28] tibkiss commented on #3157
I have also encountered this issue on Kubernetes 1.14.1 with Rook 1.0.1.
After re-installing the cluster & rook the OSDs starts to CrashLoop:

`2019-05-19 15:21:44.164806 I | Running command: /bin/chown -h ceph:ceph /var/lib/ceph/osd/ceph-1/block
2019-05-19 15:21:44.547666 I | Running command: /bin/chown -R ceph:ceph /dev/dm-1
2019-05-19 15:21:44.925180 I | Running command: /bin/chown -R ceph:ceph

[2019-05-19 16:17] brown2rl commented on #3190
Hello @xiaods it looks like I was recently approved.  What is your estimation for completion?  It says 4 hours  from now.  @solohin Any chance of modifying the bounty for a time extension?

[2019-05-19 16:50] xiaods commented on #3190
@solohin  i have resolve this issue, this is not bug. just a default storage change.

resolve: cluster.yml config

[code]
because the rook v1.0 default  storeType is change to bluestore, so i update it to filestore to use exist disk with folder.

current, the pv, pvc is work like a charm.

[code]

[2019-05-19 18:19] #3139 closed

[2019-05-19 19:48] solohin commented on #3190
amazing @xiaods
Thanks!

[2019-05-19 19:48] #3190 closed

[2019-05-20 01:07] #1869 closed

[2019-05-20 04:22] Harold2017 commented on #1790
same issue, but with `wrong fs type`. i have to change fstype from `xfs` to `ext4`  to sucecssfully mount.

[2019-05-20 05:55] calder commented on #2162
Still an issue, just a minor one.

[2019-05-20 06:48] liuyongqing1 commented on #3167
ceph status is

HEALTH_WARN 13740/72930 objects misplaced (18.840%); Reduced data availability: 100 pgs inactive, 3 pgs peering

[2019-05-20 12:12] albertdb commented on #2959
+1 for this feature. In fact, it could be more general. Think about ephemeral volumes (the concept, you could still use PVC). You don't want to replicate them (so a volume failure is equivalent to a pod failure), but you don't want that potentially all of them fail in case of OSD failure.

So it would be great to be able to limit the parallelism of data stripping across a configurable amount of OS

[2019-05-20 14:01] marcstreeter commented on #3157
My install uses Kubernetes version 1.13.5

[2019-05-20 14:30] ron1 commented on #3197
PR https://github.com/operator-framework/community-operators/pull/348 only committed a Rook "Upstream Community Operator" for deployment on Kubernetes. This issue requests that a Rook "Community Operator" for be submitted for deployment on OKD/OCP, not Kubernetes. This PR would include OKD/OCP specific artifacts including SecurityContextConstraints, etc., that are generated when make target 'csv-c

[2019-05-20 16:13] jprukner commented on #2922
Same issue here. Deleting flexvolume dir does not help. @BlaineEXE
Ubuntu 18.04, Kubernetes 1.14.1.
However, it only fails when there is fsGroup set to 26. Please see https://github.com/CrunchyData/postgres-operator/blob/master/conf/postgres-operator/pgo.yaml#L69.
 When I deploy the mysql.yaml from the ceph example, everything is ok. Gonna check apparmor.

[2019-05-20 17:12] jprukner commented on #2922
@BlaineEXE Ok, so it was caused by capacity of pvc being configured in GB instead of GiB. Changing to GiB solved the issue. @BlaineEXE

[2019-05-20 17:19] dimm0 opened #3200 "Rook allows mounting ReadWriteMany rook-block volumes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When creating a ReadWriteMany PVC for rook-block volume, it successfully starts

**Expected behavior:**
Give an error saying it can only be used by a single pod at a time

**How to reproduce it (minimal and precise):**
Create a PVC with ReadWriteMany mode

**Environment**:
* Rook version (use `rook ver

[2019-05-20 18:09] jbmcfarlin31 opened #3201 "Rook not deploying OSD pods"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Trying to deploy the newest v1.0.1 Rook operator and associated Ceph cluster - but noticed according to the documentation that my OSD pods are not coming up. Instead, I see the following:
[code]
In the same output above, I tend to see a `rook-ceph-mon-d` pod coming up and deleting itself on and off - e

[2019-05-20 20:17] jbmcfarlin31 commented on #3201
Adding more information to this, as I got my toolbox to finally come up...

The command `ceph osd status` returns:
[code]

[2019-05-20 21:49] travisn commented on #3201
@jbmcfarlin31 You will need storage devices attached to your nodes in order to configure OSDs with cluster.yaml. If you don't have devices on your nodes, instead try creating cluster-test.yaml, which is for a testing environment (not production) and doesn't require devices.

[2019-05-20 21:58] travisn commented on #3197
@ron1 Stay tuned for Rook-Ceph operator to be included in the downstream product with OpenShift, rather than this being done with a community operator. It is being actively worked on, but since it's downstream we don't need to track it here. Thanks!

[2019-05-20 22:37] schmitch commented on #2079
@galexrt I would also prefer if the secret would be watched so that short living certificates could be used.

[2019-05-21 00:02] ron1 commented on #3197
@travisn It makes complete sense for Red Hat to distribute a downstream Red Hat-certified Rook-Ceph Operator, maybe under its downstream RHOCS brand. Nevertheless, the rook-ceph community should consider making its operator available to the widest audience possible, including making a non-Red-Hat-Certified variant of the operator available to the OKD community as a Community Operator.

Again, the

[2019-05-21 05:03] Harold2017 commented on #2917
i have a similar error as follows:

[code]

I think it may be caused by lack of `xfsprogs` in the pod. But after i add it into my image, this error still exists...

[code]

Finally my solution is using `ext4` instead of `xfs`, and this works well...
Is it a problem with ceph format process if my disk is not a raw format?
Wish anyone can help, thanks.

[2019-05-21 07:49] Stolr commented on #2551
Hi there ,

Same issue on my side from a fresh install , my pvc are staying in pending state.

[code]

[2019-05-21 09:59] windworship commented on #2922
@BlaineEXE Same issue here. In my case, it was caused by the check of devices configmaps. Disable the device hotplug solved the issue.
It turns out that only filtered out the rbd* devices is not enough to get rid of endless osds orchestrating due to device changing. There are other storages such as openebs which creates new volumes mounted as sd*.

[2019-05-21 10:01] windworship commented on #2922
Besides, I also followed @jprukner to change `GB` to `GiB`

[2019-05-21 10:26] itmuckel opened #3203 "How to backup PVs and PVCs?"
I set up Rook-Ceph with CSI.
I can create and restore VolumeSnapshots like described in the docs https://rook.io/docs/rook/v1.0/ceph-csi-drivers.html.

What is the preferred way to make a backup of the snapshots?

In https://kubernetes.io/blog/2018/10/09/introducing-volume-snapshot-alpha-for-kubernetes/ under "Importing an existing snapshot with Kubernetes" a procedure is described. Does that mean

[2019-05-21 12:39] RikuXan commented on #3157
I have the same issue, could you post the logs of the provision container in one of your osd-prepare pods?
Mine said, that the drive I'm using for rook is already used by something else and I can imagine that this leads to the OSDs crashing.

[2019-05-21 14:46] jbmcfarlin31 commented on #3201
@travisn thank you for the reply. Could you elaborate on what exactly you would need for a "storage device"? Or if there is already documentation somewhere, can you point me to that? When I was running rook v0.9.3, the OSD's came up and I think they were just using the k8s worker disks as they devices.

[2019-05-21 16:45] strowi opened #3204 "rook-ceph-mgr: Prometheus-Annotations in wrong place"
* Bug Report

**Deviation from expected behavior:**
Default Configuration puts prometheus annotations at the deployment-leve of the rook-ceph-mgr pod, which won't get picked up by "default" prometheus-config.

[code]

**Expected behavior:**
Annotation should be either in the pod-template or at the service-level for prometheus to scrape all the pods or only the service.

**How to reproduce it (mini

[2019-05-21 16:49] RikuXan opened #3205 "MountVolume.SetUp fail for PVC with RBD CSI provisioning"
When trying to use a block PVC dynamically provisioned through the CSI provisioner, the PVC is bound and attached correctly, but the mount fails with the error message

    MountVolume.SetUp failed for volume "pvc-38573ec3-7be4-11e9-8075-005056a65bc4" : rpc error: code = Unknown desc = fail to check rbd image status with: (exit status 1), rbd output: (did not load config file, using default settin

[2019-05-21 18:57] chadmayfield commented on #3204
I am seeing this as well in v1.0

[2019-05-21 21:46] stekylsha commented on #2917
I had this problem and found that it's a limitation with xfs:
[code]
The most important parts being `The minimum allocation group size is 16 MiB...` and `... must be at least 16MiB ...`.  The same small size (10Mi) works fine with ext4.

[2019-05-21 21:58] #2643 closed

[2019-05-21 22:14] chadmayfield commented on #3204
Patching the annotations on the mgr pod works;

`kubectl patch pod -n rook-ceph $(kubectl get pods -n rook-ceph -l app=rook-ceph-mgr -o jsonpath='{.items[0].metadata.name}') --type='json' -p='[{"op":"add","path":"/metadata/annotations", "value":{"prometheus.io/port":"9283","prometheus.io/scrape":"true"}}]'`

[2019-05-21 22:15] stekylsha opened #3207 "Document ceph block provisioner xfs minimum size limitation."
**Is this a bug report or feature request?**
* Feature Request
Add documentation regarding minimum persistent volume size for ceph block provisioner when fsyype is xfs.

**What should the feature do:**
Document that rook-ceph xfs persistent volumes must be at least 16Mi or formatting will fail, leaving the volume unformatted.   The volume mount will then fail since it is not xfs formatted.

**What

[2019-05-22 01:37] caisan commented on #3167
@liuyongqing1 this issue may help you : https://github.com/rook/rook/issues/2830

[2019-05-22 01:38] caisan commented on #3167
@liuyongqing1 you can also refer to this PR https://github.com/rook/rook/pull/2780

[2019-05-22 03:57] Madhu-1 opened #3208 "Failed to bring up kube using minikube"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
not able to deploy Kube cluster  using minikube script in the tests folder

**Expected behavior:**
should be able to bring up single node kube cluster using minikube

**How to reproduce it (minimal and precise):**

starting minikube is failing with below error  message
[code]
**Environment**:
* OS (e.g

[2019-05-22 03:59] Madhu-1 commented on #3208
@travisn @kshlm I think am facing issue may be  because of https://github.com/rook/rook/commit/24d7c3059b8f5cf8fc92ce7659b31ebe6a151953

[2019-05-22 04:02] iainlbc commented on #3178
Running into this as well!
- Terminated a storage node that was part of a kops provisioned auto scaling group
- New node came up with a new volume (new ip/kube node)
- Operator ran discovery, provisioned a mon on it, joined that to the quorum
- Discovery pods for some reason thought a FS was present on the new node -- im thinking this kept the OSD from being provisioned?:
``````2019-05-21 19:41:38

[2019-05-22 04:43] kshlm commented on #3208
Sorry! I'll fix that today.

On Wed, May 22, 2019 at 9:30 AM Madhu Rajanna <notifications@github.com>
wrote:

[2019-05-22 06:45] #2626 closed

[2019-05-22 07:35] hightoxicity commented on #3122
Hi, I'm on the same boat here.
I use An intermediate CA signed under my company root CA.

The tools container is complaining the following:

I was wondering if the problem was not just my root CA (it should work with only this one) or intermediate CA missing in the mgr container cert trust bundle (/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem).

I imagine that the mgr container is using pod en

[2019-05-22 08:17] kshlm commented on #3208
@Madhu-1 can you test the updated script?

[2019-05-22 08:24] mjrepo2 opened #3210 "Ceph MGR re-initializes every 60 seconds"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** Ceph mgr resets every minute, resetting dashboard/flags, etc

**Expected behavior:** Ceph mgr stays stable

**How to reproduce it (minimal and precise):**
Rook/Ceph was simply deployed with common.yaml cluster.yaml & operator.yaml
We have two clusters, one of which is stable and one keeps resetting.
Th

[2019-05-22 09:19] chrono2002 commented on #1754
same here for rook-ceph v1.0
0.8.3 works fine

[2019-05-22 09:42] vavuthu opened #3211 "Difference in operator-openshift-with-csi.yaml and operator-openshift.yaml"
I see a difference in parameters in rook/cluster/examples/kubernetes/ceph/operator-openshift-with-csi.yaml and rook/cluster/examples/kubernetes/ceph/operator-openshift.yaml

Mainly I am interested in parameters ROOK_LOG_LEVEL, ROOK_MON_HEALTHCHECK_INTERVAL, ROOK_MON_OUT_TIMEOUT, etc.. which are present in Flex based operator-openshift.yaml but not in operator-openshift-with-csi.yaml.

Are those re

[2019-05-22 09:53] nabokihms commented on #2530
@BlaineEXE is work on the issue in progress? I can take a look and do necessary changes if nobody minds.

[2019-05-22 09:58] BlaineEXE commented on #2517
A couple people have stopped by at the Kubecon booth to mention this issue. I wonder if it is something that might be an issue in FlexVolume that moving to CSI might fix. Our priorities for things like this have been to prioritize getting CSI out as the official fix. If anyone runs Rook with CSI and can confirm this issue with CSI, this seems like something we should dig deeper into.

[2019-05-22 11:58] petr-balogh commented on #3211
I am also interested about some documentation which we can follow for those parameters.
When I looked at github repository and used search like this:
https://github.com/rook/rook/search?q=ROOK_LOG_LEVEL&unscoped_q=ROOK_LOG_LEVEL

But didn't find any documentation for this ENV parameter. I think that documentation [here](https://rook.io/docs/rook/v1.0/) is generated from the same repository. Is the

[2019-05-22 15:13] schmitch commented on #2997
@dmick what would be a common workflow to do that?

[2019-05-22 15:23] nzoueidi commented on #3071
@tlvenn are you working on it? I am in the queue of taking this.

[2019-05-22 15:25] tlvenn commented on #3071
Please do @nzoueidi , thanks !

[2019-05-22 17:41] sebastian-philipp commented on #3122
The rook orchestrator is new in nautilus. With Nautilus, the mgr pod uses the Python client libraries within the rook-ceph-mgr pod to talk to the k8s API. And this failed.

[2019-05-22 18:05] sebastian-philipp opened #3214 "Rook on Mimic should not generate Nautilus configs"
**Bug Report**

This happens when running Rook from a Mimic image and Ceph from a Nautilus image:

[code]

[code]

[code]

Mimic cannot parse `v1:` addresses and therefor cannot connect to the cluster.

(Found by @denisok )

[2019-05-22 23:58] marcstreeter commented on #3201
if this is a new install of 1.0.1 I wouldn't be surprised that the problem is Ceph Nautilus per https://github.com/rook/rook/issues/3180

[2019-05-23 02:07] menkeyi opened #3215 "rook ceph Wal device cannot be created"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configuration:
* Rook version (use `rook version` inside of a Rook Pod):
* Kubernetes version (use `kubectl version`):
* K

[2019-05-23 02:52] intelliguy opened #3216 "Add support for openstack-helm usage"
hi, all

* Feature Request

**What should the feature do:**
I suggest a feature to support Prometheus in openstack-helm(aka. osh) project.
https://docs.openstack.org/openstack-helm/latest/readme.html

**What is use case behind this feature:**
osh provide some module to support operations and Prometheus is provided for monitoring infra based on metric.
Prometheus in osh basically uses annotations f

[2019-05-23 06:18] mumrau commented on #2197
I still face the same issue. I have 5 mons running but it shouldn't have anything to deal with it.

[code]

I have plenty of space available it just feels like not enough space gets allocated to my monitor.

[2019-05-23 07:27] strowi commented on #3204
Yes, it does.. until the mgr gets re-deployed.
I tried patching the deployment, but that seems to get removed after a while by the operator.

[2019-05-23 08:25] Timoses opened #3217 "Non-standard Helm Chart prevents usage with Ship"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[Ship](https://github.com/replicatedhq/ship) fails because:
1. there is no `values.yaml` file (only a template)
2. `values.yaml.tmpl` contains a field `tag: %%VERSION%%` which does not work out-of-the-box for Helm nor Ship

**Expected behavior:**
The Helm Chart Repo should yield a working Helm Chart (h

[2019-05-23 08:34] evrardjp commented on #3216
I would also like to see this at the service level.

[2019-05-23 08:35] evrardjp commented on #3204
As mentioned in the #3216 issue, an annotation at service level would be nice for us.

[2019-05-23 11:01] liuyongqing1 commented on #3167
I still don't know what caused this reason until now. I didn't understand the two problems. As I wrote the first one

[2019-05-23 11:01] #3167 closed

[2019-05-23 14:48] yanchicago opened #3218 "rook v1.0.1 has Clair security scan issue on python-jinja2 package"
**Is this a bug report or feature request?**
* Bug Report
Besides #3120 , there's an additional security issue. see https://github.com/ceph/ceph-container/issues/1382

**Deviation from expected behavior:**
{
"namespace_name": "centos:7",
"installed_version": "2.7.2-2.el7",
"cve_fixed_version": "0:2.7.2-3.el7_6",
"package_name": "python-jinja2",
"cve_severity": "High",
"cve_name": "RHSA-2019:1022",

[2019-05-23 15:09] yanchicago opened #3219 "Rook v1.0.1 OSD pod based on directories fails to be brought up."
**Is this a bug report or feature request?**
* Bug Report
The directory based osd pod fails with "Init:CrashLoopBackOff".

**Deviation from expected behavior:**
The disk based osds (0, 1, 2) are all up and running. The directory based osds(3, 4, 5) failed to be brought up.

 kubectl -n rook-ceph get pods -o wide | grep 'rook-ceph-osd-.-'
rook-ceph-osd-0-68ffc8b75b-5gslj                1/1     Runn

[2019-05-23 15:57] hightoxicity commented on #3122
OK, I would have thought that the kube python client was just using a wrapper to the openssl library of the image, but I do not know much about python ... And since this version of openssl (centos) is a fips version, it is problematic for some CA roots depending how they have been generated...

[2019-05-23 21:22] #3208 closed

[2019-05-23 21:45] iExalt opened #3220 "Rook v1.0.1 Unable to use Ceph CLI tool against mons from outside K8s cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

An external machine is unable to use the Ceph CLI tool to access the mons through a NodePort without a static route of `ip route add <ClusterIP>/32 dev ens3 via <kube_node_ip>>`. See https://github.com/rook/rook/issues/561#issuecomment-293979632:
"Unfortunately Ceph clients don't like to talk to Mons

[2019-05-23 22:06] travisn commented on #3220
@iExalt If you want to connect from outside the cluster you will need to set `hostNetwork: true` in the cephcluster CR. Does that work for you?

[2019-05-24 05:08] mkurzydlowski commented on #2696
I also am trying to use multiples clusters on a common set of nodes. Every cluster will use it's own device (it will have the same name on every node). But during second cluster installation I see that Ceph volumes are correctly initialized but the newly created OSD sometimes tries to use the wrong Ceph volume.

In fact also the older cluster suffers as some OSD start trying to use the wrong Ceph

[2019-05-24 08:32] travisn commented on #2696
Ok, I see the bug in the osd creation. The sequence for OSD creation is the following:
-

The cluster fsid is returned by `ceph-volume list` so rook needs to match it to the current cluster fsid instead of assuming it already belongs to the cluster.
[code]

The [getCephVolumeOSDs](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/osd/volume.go#L191) method should only return the OSDs that c

[2019-05-24 10:03] BarthV commented on #3157
+1 here.
This issue hit us too ! :(

I can provide any logs from any kube / rook components since I'm handling the entire plateform.

Thanks !

[2019-05-24 12:29] marcstreeter commented on #3157
I've been looking around at some of the other tickets this is probably caused by https://github.com/rook/rook/issues/3180

[2019-05-24 13:39] nehaberry opened #3221 "Ceph pod not cleaned up after deleting cephcluster(oc delete -f cluster.yaml)"
Description of problem:
============================

Ceph pods are not deleted/removed automatically on deleting the cephcluster resource.

In a rook+ceph+csi environment on OCP, we wanted to remove the Ceph related pods ( MONs, MGR, OSDs). Hence, for cleanup, ran "oc delete -f cluster.yaml". But it only deleted the cephcluster , but none of the ceph pods were removed.

Hence, what is the recomme

[2019-05-24 13:41] nehaberry commented on #3221
Added logs here:
[logs-bz-1713670.zip](https://github.com/rook/rook/files/3217112/logs-bz-1713670.zip)

[2019-05-24 15:13] JohnStrunk opened #3222 "Rook should properly clean up when CRs and/or operator are deleted"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
When the CRs managed by rook are removed either by deleting them specifically or by deleting their containing namespace (which may also contain the rook operator), rook should properly clean up persistent state.
- The devices used should have LVM info removed so that they can be used again by rook/ceph

[2019-05-24 15:30] yanchicago opened #3223 "Rook directory based deployment failed with osd pod in crash state in rook v0.9.3"
**Is this a bug report or feature request?**
* Bug Report
kubectl -n rook-ceph get pods -l app=rook-ceph-osd -o wide
NAME                               READY   STATUS             RESTARTS   AGE   IP             NODE                NOMINATED NODE   READINESS GATES
rook-ceph-osd-0-56cc5c576c-q8stq   0/1     CrashLoopBackOff   143        12h   192.168.1.46   olive-08-w-e-s-02   <none>           <none

[2019-05-24 15:55] nodox commented on #2922
I am having this issues as well on GKE.

[2019-05-24 20:57] iExalt commented on #3220
`hostNetwork: true` works as a quick and dirty fix, however it isn't ideal. Only the nodes running the mons will expose port 6789.

However I was able to hack together a method to allow the Ceph CLI to connect even without `hostNetwork: true`: I created a static route for the ClusterIP via a K8s master/worker.

[2019-05-25 16:00] yanniszark commented on #2530
I should give a little bit more context around this issue, since I have tried some things.
The problem isn't so much in integrating an exporter as in finding a good Grafana dashboard to go along with it.

The problem with the Cassandra metrics is that when exporting to Prometheus, the names aren't standard.
So two different exporters might generate a slightly different name for the same metric.
Th

[2019-05-26 18:04] #1788 closed

[2019-05-27 02:04] #2665 closed

[2019-05-27 03:04] #2672 closed

[2019-05-27 08:30] chatman commented on #3106
I just installed Kubernetes, followed https://rook.io/docs/rook/v1.0/ceph-quickstart.html and ran into this same (500 Internal Server Error) issue with the Dashboard.
1) When will this be fixed?
2) How do I execute the workaround mentioned here?
Thanks!

[2019-05-27 08:44] noahdesu commented on #3106
The fix for this I believe is merged upstream so the fix should be in the next point release probably max month or two.

Thebcommands can be run in the toolbox container. Instructions for that are in the rook docs on the ceph toolbox page.

[2019-05-27 13:45] muhlba91 commented on #3136
@scroogie no, still facing the same issue, unfortunately which prevents us from updating our rook (and ceph) version.
@travisn any further updates/information already?

[2019-05-27 15:22] calmacara commented on #1030
I'm having a similar issue in which the `attachments` array inside the `volumes.rook.io` crd is filling up. For some reason the history of all the pods that mounted the volume stay there forever and the object grows until it's not accepted by the `etcd` api. Any news on this issue?

[2019-05-27 18:20] #1744 closed

[2019-05-28 00:37] bsord commented on #2286
I am also seeing the same. Fresh deployment of 3 nodes on version 1.0.0. Confirmed all show the same time. Also specified NTP servers and ntpupdate to config all that. and still an issue.

[2019-05-28 11:56] sp98 commented on #2696
@yan636 @yanchicago Need some help to reproduce it.  Can you please share the common.yaml, operator.yaml files that you are using. Thanks.

[2019-05-28 13:06] userguy commented on #2274
Having Same Issue

[2019-05-28 13:10] albertdb opened #3225 "Ephemeral/volatile/non-persistent volumes"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Provide ephemeral/volatile/non-persistent volumes (those associated with the lifecycle of a pod) when declared inline like in-tree plugins: https://kubernetes.io/docs/concepts/storage/volumes

**What is use case behind this feature:**

Avoid using PVC for Pods that need large but volatile storage. Ceph

[2019-05-28 14:08] jonashartwig commented on #1169
Hi, I see that dynamic resizing is not available yet. My PVC is full and i would like to replace the PVC of some pod with a new one and keeping the content. Can you give me some ideas on how to do this please? regards!!!

[2019-05-28 14:16] yanchicago commented on #2696
The cluster.yaml is listed earlier. Attached is the operator.yaml that is installed through helm chart. cluster_common.yaml and cluster_common2.yaml are also attached.

[2cluster.zip](https://github.com/rook/rook/files/3228057/2cluster.zip)

[2019-05-28 15:03] jhutar opened #3227 "Retry detecting the Ceph version when the check fails"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I have deployed Rook using script below and it failed waiting to "rook-ceph-tools" to come up:

https://github.com/openshift-metal3/dev-scripts/blob/master/10_deploy_rook.sh#L47

Problem was rook-ceph-tools pod hanged in "ContainerCreating" state, see:
[oc_get_pods_n_openshift_stroage.log](https://gith

[2019-05-28 15:07] dimm0 commented on #1169
https://github.com/rook/rook/issues/3133#issuecomment-491941697

[2019-05-28 21:26] yanchicago commented on #3223
Similar issue in v1.0.1
https://github.com/rook/rook/issues/3219

[2019-05-28 23:25] #2987 closed

[2019-05-28 23:26] #2270 closed

[2019-05-29 03:41] dmick commented on #2997
@schmitch not sure off the top of my head with Rook, but I'd assume "add/remove OSD" has to be in the documentation?

[2019-05-29 04:54] christianhuening commented on #3186
@dkowsley I have the same issue! Yesterday we had network issues and after the dust settled, the rook operator had restarted and 2 OSDs are now crashlooping. Their auth keys indeed are missing now.
My cluster's also healthy now with 70/72 OSDs up and in.

How did you resolve the situation? Simply removing the OSDs and have them readded by the operator?