[2017-11-06 16:25] travisn commented on #1193
@lorenz agreed, would be great to take failure domains into account. Would you actually open a new issue for that? It seems independent from this issue.

[2017-11-06 16:33] jbw976 opened #1195 "rook-api pod is using a high amount of CPU"
We've been hearing reports recently of the rook-api pod using a lot of CPU.  This sounds like a recent regression, but i don't know the cause.  Will update this ticket when we have more information, but it definitely sounds like an issue that people are running into.

[2017-11-06 16:34] travisn commented on #1113
My view in this area is that we should make rook flexible to work for the most environments possible and be generous with our assumptions. The admin will then have to manage that flexibility according to best practices, or else manage the complexity himself. For example, a best practice would be that you should only use one directory on a dedicated volume and Rook should allow you to use 100% of t

[2017-11-06 16:40] jbw976 opened #1196 "when integration tests panic the pod logs should still be collected"
from slack: obviously we shouldn’t panic if some state isn’t expected in the integration tests, but in general when a panic does happen, it would be really nice to recover and then capture all the pod logs like we do for general test failures.  recovering from panics to collect the logs would also cover the scenario where the tests take too long and time out.

this would help a lot with test debug

[2017-11-06 16:48] kokhang commented on #1192
I think most people will use minikube to start trying out rook so we should make it work. Running a script  that we create is probably not sufficient and may raise flags. Can the example yaml be reverted back to using emptdir like before. We can have reference examples for production deployment

[2017-11-06 16:49] jbw976 commented on #1192
a few random ideas:
* allow a value for `dataDirHostPath` for "auto" that will cause the operator to look around for a filesystem with freespace, then pass that along to the pods for their `dataDirHostPath`
* make a `rook-cluster-minikube.yaml` that uses a better default for the minikube environment

i really want to avoid going back to an emptyDir by default, that just hurts people's clusters dow

[2017-11-06 18:22] jbw976 commented on #1101
Adding this to the 0.7 milestone as it fits within the theme of "adding / removing nodes and disk drives (lifecycle issues, failures, etc.)".  We should get a design written up for this soon.

[2017-11-06 18:47] lorenz commented on #1193
@travisn I mean the issue is pretty much that instead of having (in terms of affinities, I know this is not an affinity) a fixed topologyKey of `kubernetes.io/hostname` for mons that topologyKey needs to be configurable. At least to me this seems to directly affect the algorithm that will be implemented to solve this issue. If you want I'll happily open a separate issue though.

[2017-11-06 18:51] kokhang commented on #1192
@jbw976 agree. I think having minikube not work when an user is trying rook for the first time could leave a bad first impression.
Instead of having `rook-cluster-minikube.yaml`? can we split our example folder into `/simple/` and `/durable/` or something along those lines? We could even make the yaml in `simple/` work with emptyDir and environments where high privilege is not allowed. Such as @ph

[2017-11-06 19:03] phsiao commented on #1192
#1188 should go a long way in making `simple/` possible, and I agree having that distinction is more useful than the specific minikube one.

[2017-11-06 22:37] galexrt commented on #1193
I'm seeing failure domains also as an independent issue. This issue is for adding a logic to the health check to detect if more than one mon is running on a node and then to reschedule/failover the mon to a new/other ready node.

To add "custom" failure domains there would be a change in the placement logic needed and not the health check logic which is here more in focus.

@lorenz Could you pleas

[2017-11-06 22:47] dangula opened #1198 "Deleting one object store(via api or crd) is deleting all object stores in the cluster."
Deleting a single object store is deleting all object stores crds in the cluster.

**Repro steps  :**
1. set up rook cluster
2. Create 2 object stores via crd or api - objectstore1 and objectstore2
3. verify that there are 2 object stores - run `rookctl object ls`
4. delete objectstore 2
5.  run `rookctl object ls`  on rook-tools

**Expected result**  : objectstore2 is deleted, objectstore1 still

[2017-11-06 23:22] #400 closed

[2017-11-06 23:22] #1186 closed

[2017-11-06 23:51] jbw976 commented on #1113
I know this makes sense for bluestore because you can directly influence the size of the backing store with `bluestore_block_size`: https://github.com/rook/ceph/blob/rook-luminous/src/common/options.cc#L3153

But does filestore have something similar? can you set a quota like this for filestore?

[2017-11-07 00:16] phsiao commented on #1192
Follow up PR #1197 (of #1188) should also help with this.

[2017-11-07 00:52] kokhang opened #1200 "Rookctl filesystem mount does not work with kernel older than 4.7"
Similar to issue https://github.com/rook/rook/issues/1044, `rookctl filesystem mount` does not work when executing in a node with kernel version older than 4.7. The workaround is to execute the `mount` command manually and not pass the `mds_namespace`.

[2017-11-07 02:42] mossinfan opened #1201 "when rook can support adding / removing an OSD node(host) by yaml or command?"
Now I meet a problem that I have set up a ceph cluster by rook with 10 OSDs node, each node has 200GB capacity, after one month, 200 GB * 10 node was not met my requirement, I want to scale out my storage, but now, rook has not the ability.
So I want to ask , when rook can support adding / removing an OSD node(host) by yaml or command?

Thanks.

[2017-11-07 06:01] jbw976 commented on #1201
Hi @mossinfan, this is a feature we've been hearing about from more than just a couple users recently and I'm starting the design work this week.  You can track this effort in #1101 which will be in the 0.7 milestone.

If you have `useAllNodes:true` or `useAllDevices: true` then you could workaround this a bit as suggested in https://github.com/rook/rook/issues/1101#issuecomment-337533887.

Let us

[2017-11-07 06:01] #1201 closed

[2017-11-07 07:08] mossinfan commented on #1201
good news, thank you very much.

[2017-11-07 15:43] jpds commented on #1195
I also noticed that on my two clusters, rook-api was consistently using 1 CPU core.

[2017-11-07 15:44] jpds opened #1202 "rook-tools fails with mon-endpoints no such file"
I've just updated my cluster to the latest `rook/rook:master` and when I spin up `rook-tools` I get:

[code]

[2017-11-07 16:03] jpds commented on #1202
Needed update of rook-tools manifest.

[2017-11-07 16:03] #1202 closed

[2017-11-07 16:06] jpds opened #1203 "rook-tools ceph no longer works"
After updating my `rook-tools` manifest, I can no longer use ceph commands from the `rook-tools` pod:

[code]

`rookctl status` is fine.

[2017-11-07 16:26] travisn opened #1204 "Allow pools to use a non-default root in the crush map"
When pools are created through the pool, object, or file CRD, they currently use the default root in the CRUSH map. If the ceph tools have been used to create a new root (see the advanced configuration docs), the pools should have the option to be created in any root.

[2017-11-07 17:56] travisn commented on #1203
@jpds sounds like there is some formatting problem with the script that initializes the toolbox.
- What are the contents of `/etc/rook/mon-endpoints`?
- What is the output of this command? `cat /etc/rook/mon-endpoints | sed 's/rook-ceph-mon[0-9]=//g'`

[2017-11-07 18:20] travisn commented on #1198
the problem is that the `.rgw.root` pool is deleted. This pool should only be deleted after the last object store is deleted.
[code]

[2017-11-07 18:22] jpds commented on #1203
[code]

And:

[code]

[2017-11-07 18:25] travisn commented on #1203
aha, the bug is that the mons have double digit names

[2017-11-07 18:59] #1044 closed

[2017-11-07 19:16] #1203 closed

[2017-11-07 20:57] xetys commented on #1147
I have the same issue in my environment. A node did a reboot and since then it fails to recover

[2017-11-08 02:31] jbw976 commented on #1204
why was this closed @kokhang?

[2017-11-08 02:47] bassam commented on #1177
It looks like `dep ensure` updates the timestamps on the `/vendor` directory causing a full rebuild every time:

[code]

[2017-11-08 02:52] bassam commented on #1177
this will not get fixed until vendor verification is implemented in `dep`:

also see https://github.com/golang/dep/issues/121

[2017-11-08 03:10] bassam commented on #1177
One possibly workaround is to do the following:

[code]

this will only run ensure if the Gopkg.lock file has changed. This will not catch the case where files in the vendor directory have really changed or are non-existent, but these seem like infrequent cases.

[2017-11-08 03:52] bassam opened #1208 "git describe semver expression is wrong"
[code]

it looks like the semver expression here https://github.com/rook/rook/blob/master/build/makelib/common.mk#L78 does not handle the case where git describe has not changes from the last tag but is dirty:

[code]

[2017-11-08 05:03] jbw976 opened #1209 "OSD pods do not start on k8s 1.6.4 and lower"
In master (and v0.6.0), OSD pods fail to start with the following message when running on Kuberenets 1.6.4 or lower:
[code]

This is a regression associated with #1188

This appears to be the upstream Kuberentes issue: https://github.com/kubernetes/kubernetes/issues/46996

[2017-11-08 05:06] bassam commented on #1209
The fix happened here: https://github.com/kubernetes/kubernetes/commit/07a67c252cacdb64da6dd951fcb0357aa1a10f75#diff-08c8f9ff3cc05ba7009dc6a00cba8fa7R76

It looks like we can remove this line and we would be OK: https://github.com/phsiao/rook/blob/master/pkg/operator/osd/osd.go#L292

@phsiao can you please take a look and test on < 1.6.4 and > 1.7

[2017-11-08 14:32] phsiao commented on #1209
Taking a look in a bit.

[2017-11-08 16:19] beatlejuse commented on #1162
@galexrt are you shure that you are using kubernetes 1.8.1 and coreoc 1520.8.0 ?
its not work for me.

[2017-11-08 16:27] galexrt commented on #1162
@beatlejuse I'm using the current Tectonic `master` with K8s `v1.7.9` and Container Linux `1520.8.0`.

[2017-11-09 01:05] dimm0 opened #1214 "Volume can't be mounted if already exists in volume attachments list and was not removed from it when pod was stopped"
After a volume has been created and mounted to a pod, and after a pod node died or something else prevented volume from detaching clearly, the record remains in volume attachments list. The record prevents the volume from being attached again to a new pod from the same group.

[2017-11-09 01:25] bassam commented on #1214
@dimm0 what cases lead to a pod diring and the volume not detaching cleanly? Would be great to see steps for reproducing this.

[2017-11-09 01:45] dimm0 commented on #1214
I'll update the ticket once I can reproduce this

[2017-11-09 07:16] beatlejuse commented on #1162
@galexrt  it's amazing!
in first message i wrote that i get error after update to version 1.8.1
in older version i have not get this error ))
can you test this in kubernetes 1.8.1 ?

[2017-11-09 10:32] Blasterdick commented on #824
@isaldarriaga I [faced](https://github.com/istio/istio/issues/1621) `readdirent: invalid argument` with Istio on Xenial local lxd kubernetes-core cluster (by conjure-up).

How did you fix this, if you did? Thanks in advance.

[2017-11-09 16:51] dgonzalezruiz commented on #1195
For the records, this also happens after upgrading to 0.6. The API pod takes exactly one CPU core after some transient time. At the beginning, after restarting the pod, the consumption is just as expected from a cluster with very little usage.

[2017-11-09 17:21] dab-q opened #1215 "Multiple places to specify the rook version should be simplified."
The rook version has to be specified in two places.  In rook-operator.yaml there is the `image:` field, and then again in rook-cluster.yaml there is a `versionTag` field.  If these don't match, then the osd, mon, etc. pods won't be started with the same version of rook as was used to start the rook operator.  It would be simpler if the operator could pick up it's own version of rook and use that f

[2017-11-09 17:32] travisn commented on #1215
agreed, this is a common issue that errors happen in the cluster when they are different. The intent was originally that you might want to support clusters of different versions. The only realistic way to support versioning is for the cluster to be running the same version as the operator.

For upgrades, the operator would be upgraded first. Then it could notice the cluster pods are an older versi

[2017-11-09 18:10] jbw976 commented on #1215
The current upgrade design allows for each Rook cluster to be independently upgraded (the user starts the upgrade when they want to) by editing the `versionTag` field in each cluster CRD.  We could instead make it more automatic by the operator trigging cluster upgrades when its own version has been updated, but do note that the current design for upgrade was going to be triggered from each cluste

[2017-11-09 18:26] travisn commented on #1215
right, the upgrade design would need to be updated. I'm thinking that we would want an `upgradePolicy` property on the cluster.yaml. The default would be to upgrade immediately when the operator is upgraded.

[2017-11-09 19:36] kokhang commented on #1147
@xetys what were the logs in the agents? also what did the `describe pod` logs say?

[2017-11-09 21:16] dangula opened #1216 "Implement Performance Test for Block and object Storage."
Performance test for Block Storage would include tweaking the long haul test and converting it into a load test and Collecting metrics.  The plan is to use Prometheus to gather node, pod and ceph metrics and then user Grafana to vizualize them.  We Also need to implement a solution to take periodic snapshtos of Grafana and archive them along with test logs.

[2017-11-09 21:26] dangula opened #1217 "Improve integration test coverage or block storage."
We need to improve test coverage for block storage (specially around mount/unmount secnarios). Here are some tests areas/cases that could use better coverage.

1. Intgration tests for fencing - mount with ReadwriteOnce, ReadOnly and ReadWriteMany
2. Integration tests around multiple mount and unmount. eg - mount bock storage, write data, unmount, then mount again. Make sure old data is present.

[2017-11-09 21:30] dangula opened #1218 "Consolidate and parallelize integration tests to reduce run time"
Integration tests usually create a Rook cluster, perfrom some tests and then uninstall rook cluster.
Intalling and uninstalling Rook cluster for each test suite is taking up a major chunk of time. We need to consolidate so test fun faster and reduce CI pipeline time.
 We can consolidate test by not installing and unistalling Rook per suite, or by combining multiple tests into single suite.

[2017-11-09 21:56] jbw976 commented on #1217
we can also consider testing a StatefulSet that is using a Rook PVC.  Create StatefulSet, scale it up, failover a pod, scale it down, delete the StatefulSet.  The pods should all get to the running state and have functional data, no data loss during failover, and all artifacts should be completely cleaned up (PVs, PVCs, VolumeAttachment CRDs, etc.) by the Rook volume plugin by the end (no resource

[2017-11-09 22:40] Ascendance opened #1220 "default install rookctl returns mount: wrong fs type, bad option, bad superblock"
Hello all,

I followed the instructions [here](https://rook.github.io/docs/rook/master/kubernetes.html ) and [here](https://rook.github.io/docs/rook/master/k8s-filesystem.html) on a brand new K8S 1.8 cluster and when testing the cluster rookctl gave me this when attempting to test mount as per the guide (Shared filesystem):

[code]

Upon inspecting the ceph status:

[code]

All pods are running fi

[2017-11-09 22:46] travisn commented on #1220
The hangs are likely happening because the pools in the file system were created with too much redundancy. You only have one osd in the cluster, which means you can only have one replica, and you can't use erasure coding.

That means that the file system spec would need to look like this:
[code]

[2017-11-09 23:11] Ascendance commented on #1220
Thank you.

But now rookctl complains rook-api is not running?

[code]

Does rook-api service need to be run in another namespace?

[2017-11-09 23:39] Ascendance commented on #1220
Hmm... doesn't seem to be working.

If I leave the filesystem spec as is without mds rookctl complains no api endpoints even though the api endpoints are up and running just fine.

If I leave the filesystem spec like this:

[code]

rookctl gives me exactly the same error

[code]

[2017-11-09 23:46] kokhang commented on #1220
@Ascendance what kernel version is the node using?

[2017-11-09 23:53] Ascendance commented on #1220
[code]
4.4.0

[2017-11-10 00:34] Ascendance commented on #1220
I kept tearing down and creating new rook cluster, here's how it went so far:

[code]

with this as the filesystem spec

[code]

Any ideas what went wrong?

[2017-11-10 00:49] Ascendance commented on #1220
:D

I figured this is just an issue with rookctl. I bashed into my other nodes with the volume mounted and it works fine!

@travisn Quick question. The official guide assumes that the K8S cluster has > 1 worker nodes, correct? My cluster currently has only 1 master and 1 worker. If I scale up the filesystem specs in the guide would work just fine?

[2017-11-10 01:01] travisn commented on #1220
yes, the documentation and samples do actually require 3 nodes to work. We should likely change the samples to work for a single node by default.

[2017-11-10 01:32] kokhang commented on #1220
@Ascendance I think you might be running into https://github.com/rook/rook/issues/1200.

Are you using rookctl or Flexvolume mount in the pod?

[2017-11-10 01:34] kokhang commented on #1220
If you use the Flexvolume to mount, it should work.  Are you running 0.6.0?

[2017-11-10 01:43] kokhang commented on #1183
@hacor we are aiming 0.7 to be available right after the kubecon

[2017-11-10 01:56] #1209 closed

[2017-11-10 02:31] citywander opened #1221 "Allow running Rook when RBAC is disabled"
In k8s 1.8.X, I want to disable RBAC and deploy rook-operator. It failed. I found in agent.go, RBAC must be enabled, maybe RBAC can be disabled.

[2017-11-10 03:10] travisn commented on #1221
@citywander it is expected that if rbac is not enabled, the rbac artifacts in rook will have no effect. Are you seeing an error in the agent when rbac is disabled?

[2017-11-10 03:36] travisn commented on #1068
not sure we have control over this, but will take a look

[2017-11-10 03:38] travisn commented on #1091
@jpds should this be closed in favor of #1111?

[2017-11-10 03:43] travisn commented on #705
not sure i've seen this in luminous. please reopen if hit again.

[2017-11-10 03:43] #705 closed

[2017-11-10 03:47] Ascendance commented on #1220
I'm using rookctl :) it's working now.

[2017-11-10 03:47] #1220 closed

[2017-11-10 04:36] travisn commented on #669
we can get the version of the operator pod container

[2017-11-10 04:36] #669 closed

[2017-11-10 04:37] travisn commented on #636
@kokhang please reopen if still an issue

[2017-11-10 04:37] #636 closed

[2017-11-10 04:39] travisn commented on #606
with the dynamic provisioner this is done differently now. Closing since the api has been deprecated

[2017-11-10 04:39] #606 closed

[2017-11-10 04:50] travisn commented on #307
you can use ceph pools for advanced functionality. let's reopen if we hear a customer request

[2017-11-10 04:50] #307 closed

[2017-11-10 04:51] travisn commented on #296
there is no sleep anymore since the toolbox.sh script never exits

[2017-11-10 04:51] #296 closed

[2017-11-10 04:56] travisn commented on #265
@bassam does this make sense for the toolbox? if you want to benchmark file and block you need to create a pod with pvc, then run the appropriate tools such as `fio`. This seems out of the scope of the toolbox. Seems like we could just provide a yaml with the pvc and document how to run perf tests

[2017-11-10 04:57] travisn commented on #196
with this being old and `mimic` moving to centralized settings, doesn't seem worth a change here.

[2017-11-10 04:57] #196 closed

[2017-11-10 04:59] travisn commented on #179
with pvcs and the deprecation of api/cli, this seems obsolete, or else we should reopen with a scenario and repro relevant to the new world

[2017-11-10 04:59] #179 closed

[2017-11-10 05:00] travisn commented on #146
@bassam this was only relevant to embedded ceph, right?

[2017-11-10 05:00] #146 closed

[2017-11-10 05:00] travisn commented on #145
@bassam this was only relevant to embedded ceph, right?

[2017-11-10 05:00] #145 closed

[2017-11-10 05:28] citywander commented on #1221
Throw exception: failed to init RBAC for rook-agents. The commit: https://github.com/rook/rook/commit/544b208ac74f367f0585e5ef4f06c33e31260964#diff-530ab6493977bf91e16203c361e8ddd5.
I found when creating an agent, RBAC must be enabled.

[2017-11-10 05:46] travisn commented on #1221
@kokhang can you take a look? if it's blocking deployments where rbac is disabled we should consider a fix for 0.6.1

[2017-11-10 07:04] jbw976 commented on #363
closing this old perf issue.  block testing performance will be a focus in the 0.7+ roadmap and we will get new tickets opened soon with our current direction and plans.

[2017-11-10 07:04] #363 closed

[2017-11-10 07:04] jbw976 commented on #364
closing this old perf issue.  block testing performance will be a focus in the 0.7+ roadmap and we will get new tickets opened soon with our current direction and plans.

[2017-11-10 07:04] #364 closed

[2017-11-10 07:04] jbw976 commented on #365
closing this old perf issue.  block testing performance will be a focus in the 0.7+ roadmap and we will get new tickets opened soon with our current direction and plans.

[2017-11-10 07:04] #365 closed

[2017-11-10 07:08] jbw976 commented on #346
yes i agree @travisn that this is not the experience i envision for Rook with its declarative interface.

[2017-11-10 07:08] #346 closed

[2017-11-10 07:11] jbw976 commented on #341
i think this idea/algorithm still has some merit for intelligently using the devices on a node when there is more than 1 SSD/NVMe.  With the upcoming cluster topology/placement efforts, I'd like to keep this one around still, until it becomes conclusively superseded by a new issue with more details.

[2017-11-10 16:29] jbw976 commented on #1177
I would love to see any improvement we can make here @bassam to trim down the dev build iteration loop again.  Your workaround looks pretty reasonable to me.

[2017-11-10 18:29] #1177 closed

[2017-11-10 18:38] kokhang commented on #1221
ill look into it.

[2017-11-10 21:31] kokhang commented on #1221
@citywander what does your `--authorization-mode` look like in your environment?

[2017-11-11 00:41] bassam commented on #265
as long as we can make it easy for folks to benchmark the perf of the cluster, I think this could be an independent pod.

[2017-11-11 04:57] leenux commented on #1195
Same.
I already used the Resources limit to limit CPU=100m by updating all yaml file,but CPU used 180-200% on 2 CPU core.

[2017-11-11 06:06] jbw976 commented on #1195
@jpds @dgonzalezruiz @leenux

do all of you have monitoring set up such that prometheus is hitting the rook-api pod on `/metrics`? i'm definitely curious if you all are seeing this without any monitoring set up.  in any case, sharing your rook-api pod logs here will be helpful.  thanks!

[2017-11-11 12:54] leenux opened #1224 "How to get secret of Shared File System"
Steps:
[code]
Issue:All pods of `kube-registry` were `ContainerCreating` status long time.
[code]
How to fix the error:`kubelet, minikube  MountVolume.NewMounter initialization failed for volume "image-store" : Couldn't get secret kube-system/rook-admin err: secrets "rook-admin" not found`

Env:
[code]
minikube's VM is VirtualBox

[2017-11-11 13:19] galexrt commented on #1113
@jbw976 I haven't found an option for filestore on the link you provided and also here http://docs.ceph.com/docs/giant/rados/configuration/filestore-config-ref/. It seems that filestore normally uses "100%" of the directory provided.

How should we continue on this? Adding the option for bluestore only?

[2017-11-12 14:56] kahkhang commented on #1162
I believe I'm having the same error as well when testing on kubernetes 1.8.1. Here is the PR i am trying to do kahkhang/kube-linode#53

[2017-11-12 14:59] galexrt commented on #1162
@beatlejuse I just upgrade my cluster to K8s `1.8.2`. I had to add the env var `FLEXVOLUME_DIR_PATH: /var/lib/kubelet/volumeplugins` (with the volume plugins path) to the rook operator or else the operator started the agents with the default path `/usr/libexec/...`.
[code]

[2017-11-12 16:07] beatlejuse commented on #1162
@galexrt yes, it;s working! Thank you!

[2017-11-12 19:11] kahkhang commented on #1162
Can confirm this is working too :) Maybe the extra environment variable should be documented somewhere or perhaps put into the manifest https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-operator.yaml

[2017-11-13 02:46] citywander commented on #1221
we didn't config the option, so the default value is AlwaysAllow.
All API Options.
  - kube-apiserver
    - --bind-address={{$iface}}
    - --etcd-servers={{use "etcd_ep" .}}
    - --allow-privileged=true
    - --service-cluster-ip-range=10.3.0.0/16
    - --secure-port=443
    - --advertise-address={{$iface}}
    - --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,ResourceQuota,Def

[2017-11-13 15:05] jbw976 commented on #1162
Something doesn't seem right here still.  If you told the Kubelet to use `/var/lib/kubelet/volumeplugins` then at runtime, when the operator queries its node's configz endpoint, then that same value should be returned.  You shouldn't have to tell the operator explicitly to use that path via its `FLEXVOLUME_DIR_PATH ` env var at all because the configz API should tell the operator the right value.

[2017-11-13 15:45] jpds opened #1226 "Leverage multi stage builds"
We should use multi stage builds to potentially reduce the final docker image size:

- https://docs.docker.com/engine/userguide/eng-image/multistage-build/

[2017-11-13 15:46] jpds commented on #1195
@jbw976 In my case, one cluster has metrics enabled, but the other doesn't.

[2017-11-13 15:46] jpds commented on #1091
@travisn Yes, indeed!

[2017-11-13 15:46] #1091 closed

[2017-11-13 16:46] kokhang commented on #1224
@leenux the secret was only used prior the Rook flexvolume plugin. You might be using the incorrect plugin, which was `cephfs`. Make sure you use the `Flexvolume` plugin. Here is a example. https://github.com/rook/rook/blob/master/Documentation/k8s-filesystem.md#consume-the-file-system

[2017-11-13 21:13] galexrt commented on #1162
@jbw976 I don't have the exact logs, but the operator was telling that it defaulted to the operator default of `FLEXVOLUME_DIR_PATH` (`/usr/libexec/...`) instead of using my volume plugins flag value.

[2017-11-13 21:38] dangula opened #1227 "Update CI pipeline - run integration tests on oldest and newest versions of k8s"
During CI, we are currently running integration tests aganist latest version of k8s for 1.6,1.7 and 1.8(1.6.11,1.7.9 and 1.8.3 as of 11/13/7). We need to update the integration test so that we run  tests aganist the oldest and newest minor version of k8s 1.6,1.7 and 1.8.

[2017-11-13 21:42] travisn commented on #1227
Let's not double the test matrix. What if we just run on the latest (1.6.11, 1.7.9, 1.8.3), and now add one more version, which is the oldest supported version? In this case I would believe that to be 1.6.0 since we have had issues running the tests on 1.5.x.

[2017-11-13 22:07] kokhang commented on #1221
@citywander i used minikube to start a cluster with authorization mode `AlwaysAllow` as follows
`minikube start --extra-config=apiserver.Authorization.Mode=AlwaysAllow`

I am not able to see an issue and the agents come up fine. What is the errors that you see from the Operator log?

[2017-11-14 00:25] lorenz opened #1228 "support other options besides device names since those change across reboots"
Currently Rook does not work with symlinked devices (/dev/zvol, /dev/disk/by-id, LVM, ...), it requires a real device inode. This makes it hard to use on block device providers (I'm personally interested in LVM and ZFS zvol) for which these inodes are not consistent across reboots. Rook code extensively works with raw inode names, so I don't really know where support for that should be implemented

[2017-11-14 02:27] lorenz commented on #1195
Happens here on 0.6 without Prometheus

[2017-11-14 03:55] mossinfan commented on #1221
@kokhang
after adjust the starting parameter of api-server as your suggest, the operator still can;t be deployed successfully

2017-11-14 03:52:14.862717 I | rook: starting Rook v0.6.0 with arguments '/usr/local/bin/rook operator'
2017-11-14 03:52:14.862802 I | rook: flag values: --help=false, --log-level=INFO, --mon-healthcheck-interval=20s, --mon-out-timeout=5m0s
2017-11-14 03:52:14.865553 I | r

[2017-11-14 15:25] sordfish commented on #1195
I can also confirm this is taking 1 cpu without Prometheus on 0.6. Deployed in Rancher.

[2017-11-14 16:08] travisn commented on #1195
@jpds @dgonzalezruiz @leenux @lorenz @sordfish do you see any more evidence of the cpu usage?
- If you `kubectl exec` to the pod, does `top` show what process is the culprit?
- Do you have any non-default settings in your cluster.yaml? For example, is host networking enabled?
- Does the rook-api log show any repeated or high frequency api requests?
- If you were running the 0.5.x build, did you ev

[2017-11-14 16:18] jpds commented on #1195
@travisn Yes, I first noticed this through heapster via the kubernetes-dashboard, my rook-api pod is consistently around 1000-1024m in `kubectl top pods -n rook`. top shows:

[code]

I don't use anything fancy in cluster.yaml.

There is nothing in my rook-api log for the last 6h apart from a single rookctl status call that I just ran.

0.5 had this issue, but I've always been on master.

I think f

[2017-11-14 17:05] tailtwo commented on #1162
Same problem with CoreOS 1520.8.0, kubernetes 1.8.3 and rook 0.6.0. I'm using the kubelet flag like this : `--volume-plugin-dir=/var/lib/kubelet/volumeplugins` but it gets ignored as I can see in the rook-agent daemon set JSON :
[code]

[2017-11-14 17:08] jbw976 commented on #1162
@tailtwo can you share your rook-operator pod logs? I am curious what it's seeing from its perspective when it is asking kubernetes what path to use for plugins?

[2017-11-14 17:31] travisn commented on #1195
@jpds @dgonzalezruiz thanks for the input. #704 is actually tracking making the api server optional as well.

[2017-11-14 19:42] jbw976 commented on #1214
I just sat down with @dimm0 while he patiently worked with me to walk through his repro scenario.  It looks like we can reproduce this by attempting to attach a massive volume to a pod, e.g. 5 TB.  What appears to happen is that `rbd map` will take a long time (@dimm0 said this was normal for the in-tree rbd plugin also), but our agent will kill rbd before it's done.  Then when the user deletes th

[2017-11-14 20:02] bassam commented on #1214
does it make sense for us to remove the CRD instance on failures like this? Or is there a different way to trigger K8S to detach? Also it sounds like we need to adjust the timeouts.

I think we should consider back porting this 0.6

[2017-11-14 20:37] kokhang commented on #1221
@mossinfan is the the same k8s cluster as @citywander?

[2017-11-14 20:40] kokhang commented on #1214
I think we should do both.
1- Increase rbd timeout. Currently is 1min. What is a good timeout that will handle rbd command to map a massive volume? 3mins?
2- Delete VolumeAttachment CRD record if attachment failed.

[2017-11-14 21:46] paha commented on #1214
Can the timeout be dynamic, calculating timeout based on the size etc. So that we wouldn't hit the issue later on even bigger volumes?

[2017-11-15 00:14] #961 closed

[2017-11-15 00:14] #1193 closed

[2017-11-15 00:45] kokhang commented on #1162
@kahkhang @tailtwo Can you execute the following `kubectl get --raw=/api/v1/nodes/<nodename>/proxy/configz`? And tell me the value of `volumePluginDir`?

@jbw976 you are right. Rook should auto discover this value from the /configz api. I am not sure why this is happen in that CoreOS environment since this has worked on other CoreOS... One thing i can think of is that Rook doesnt have access or pr

[2017-11-15 00:45] kokhang commented on #1162
@paha just ran into this when he deployed K8s in GCE.

[2017-11-15 05:41] mossinfan opened #1233 "command "ceph mon_status" has no response in rook-operator 0.6.0"
Now I meet a problem in the processing of installing rook.
it is that operator can't create the second ceph mon node in k8s cluster.

My k8s node and pod:
[code]

ceph-mon0
[code]

the log of rook-operator
[code]
-----------------------------------------------------------------------------------------------------
command "Running command: `ceph mon_status --cluster=rook --conf=/var/lib/rook/rook/r

[2017-11-15 06:16] travisn commented on #1233
@mossinfan Could this be the issue? What is the last message in the log for the mon pod?
 https://rook.io/docs/rook/master/common-problems.html#only-a-single-monitor-pod-starts-after-redeploy

[2017-11-15 06:27] mossinfan commented on #1233
@travisn I think my problem is  not the same as in the wiki.
the first mon pod was successful in my case.

the log of mon pod:
2017-11-15 06:23:25.564009 I | rook-ceph-mon0: 2017-11-15 06:23:25.563814 7f3eae530700  0 mon.rook-ceph-mon0@0(leader).data_health(3) update_stats avail 82%!t(MISSING)otal 27399 MB, used 3653 MB, avail 22535 MB

[2017-11-15 06:44] travisn commented on #1233
it looks like you started the rook-tools pod. Are you able to connect to it and execute commands? If so, what is the output of `rookctl status` or `ceph status`?
https://rook.io/docs/rook/master/common-problems.html#troubleshooting-techniques

[2017-11-15 08:37] mossinfan commented on #1233
@travisn
after I create the rook-agent 's role and role-binding manually, the cluster has been setup successful.

[2017-11-15 15:12] kokhang commented on #1233
The operator should have created the role and binding at startup. Can you show me the logs from the operator? The beginning logs is more interesting.

[2017-11-15 17:21] travisn commented on #1221
@citywander @mossinfan if you have the option set for `--authorization-mode=AlwaysAllow`, you should not see any errors about `forbidden: attempt to grant extra privileges`. Can you check your settings again? It appears you do have RBAC enabled and it is denying access to these components which are required to run Rook.

[2017-11-15 18:13] travisn commented on #1146
While upgrading the operator-kit to the 1.8 client, I verified that the sample walkthrough was able to be deployed on 1.6 with TPRs as well. So it is looking like we can continue to support TPRs on 1.6 with this change

[2017-11-15 18:51] dangula opened #1235 "Build failures should be notified on slack channel."
We need to send a automated nofitication out to Rook slack on build failurs.

[2017-11-15 19:20] bassam commented on #1146
@travisn let's proceed with completing the PR then, and then extract the pieces to go into the operator-kit. what do you think?

[2017-11-16 00:47] kokhang commented on #796
@travisn @jbw976 @bassam @DanKerns: I need some guidance on how we want to proceed with this.

I started to play with local-storage and its [external provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume).

There are a few things that makes the usage of local-storage not too trivial for Rook.
1- Local-storage is alpha on 1.8 and perhaps on 1.9. So users wil

[2017-11-16 09:01] tailtwo commented on #1162
@jbw976

Here is my operator logs :

[code]

Also, here is a sample of my kubelet log during the helm deployment.

[code]

@kokhang This is the result on my 3 node cluster :
Node 1 (slave) : `"volumePluginDir":"/var/lib/kubelet/volumeplugins"`
Node 2 (slave) : `"volumePluginDir":"/var/lib/kubelet/volumeplugins"`
Node 2 (slave) : `"volumePluginDir":"/var/lib/kubelet/volumeplugins"`

[2017-11-16 17:36] rimusz opened #1237 "Improve install/setup/usage docs"
I find install/setup/use docs are bit confusing for new comers.
Would be nice to make it a bit more clear ones and better examples.

[2017-11-16 17:40] rimusz commented on #1237
E.g.
GKE use helm chart to install Rook
How to setup block/file/object storage
How to use those storages with Kubernetes
Clear short simple examples in one place

[2017-11-16 18:20] dangula opened #1238 "Integration Test - create an interface to setup Rook for tests."
Currently, each integration test is setting up rook, and there is lots of code duplication. We need to refactor the tests by creating a interface to set up rook, and have tests use the common interface.

[2017-11-16 20:06] dimm0 commented on #1214
I just hit this recently: http://lists.ceph.com/pipermail/ceph-users-ceph.com/2017-October/022000.html
Looks like the issue we're having here... But not sure how I can test whether this is the solution

[2017-11-16 21:29] wilreichert opened #1239 "rook-agent fails to load kernel modules on non glibc linux"
When running rook on variants kubernetes nodes that are not glibc based (i.e. alpine's musl) the rbd / ceph kernel modules will not auto load. modinfo & modprobe are mounted off a hostpath so they are unable to run if the C libraries differ.

[2017-11-16 22:18] galexrt commented on #1194
First part of the design has been full filled, by PR #1207. Users can now specify their own requests/limits on the rook components.
The second part will be to create an automated logic to calculate these values depending on an user given "Quality of Service" class from which the values are calculated (user values take precedence over calculated values).

[2017-11-16 22:20] kokhang commented on #796
OK.. after talking to Michelle, i got local-volume working.

I think the only limitation is the fact that local-volume is an alpha feature and has to be enable via feature-gate. Michelle mentioned that a realistic target for beta is 1.10.

One option is to support both local-volume and hostpath. Rook would use local-volume to persist the cluster metadata or fallback to using hostpath if local-volu

[2017-11-16 22:23] galexrt commented on #1195
Additionally to the high CPU usage, there seems to be a memory leak in the rook-api, see https://snapshot.raintank.io/dashboard/snapshot/U4gIjT4oWfYjp9oSuyc711mckJRgi4xR?orgId=2
In the graphs you can also see that the rook-api takes up one CPU core from the start on.

[2017-11-16 22:27] galexrt commented on #1113
@travisn @jbw976 @kokhang Do you see anything against setting the `bluestoreDirBlockSizeRatio` to `1`?
Setting it to `1` wouldn't make a difference to `filestore`, as it seems to be thinly provisioned.

[2017-11-16 22:56] aknuds1 opened #1241 "Impossible to join Slack at the moment"
For the moment, it's impossible to join the Rook [Slack workspace](https://rook-slackin.herokuapp.com/) - I get a page with the following error displayed:

[2017-11-16 23:11] bassam commented on #1241
@aknuds1 I'm on it. check back in a bit.

[2017-11-16 23:27] bassam commented on #1241
looks like the slack token expired. fixed.

[2017-11-16 23:27] #1241 closed

[2017-11-16 23:28] aknuds1 commented on #1241
Thanks!

[2017-11-17 00:35] kokhang commented on #796
Another issue found is that OSDs are deployed via a daemonset. Local-storage are just like any other persistent volume, where it doesnt work well with group of stateless pods.

So two options:
1- Create a statefulset and use anti-affinity to ensure it is deployed on all nodes
2-Create multiple replicaset (one of each node), each of size one. For every replicaset, we use anti-affinity to deploy it

[2017-11-17 00:38] #1235 closed

[2017-11-17 00:48] #1170 closed

[2017-11-17 17:11] jbw976 commented on #796
@kokhang in the case where individual nodes are specified in the Cluster CRD storage spec, we already go the path of using a replicaset per node.  Taking option 2 from above could unify those 2 code paths, but I'd be even more interested in that option with the work I'm doing on adding/removing storage to the cluster.  In the design I'm writing, it's beneficial to add 1 node at a time to slowly ha

[2017-11-17 17:51] #1239 closed

[2017-11-17 18:25] wilreichert opened #1243 "build fails on macOS using GNU sed"
On macs that use the GNU tooling over BSD, the build fails with the following error. The date error below seems to be a symptom of the sed issue.

[code]

[2017-11-18 01:21] jbw976 commented on #743
All usage of the `rbd` tool in Rook should now be inside the `rook/rook` container, so we should be able to fix this.  Please correct me if I'm wrong.

[2017-11-18 23:45] leenux commented on #1224
@kokhang
Thank you and  I will try it

[2017-11-18 23:45] #1224 closed

[2017-11-20 11:58] isaldarriaga commented on #824
@Blasterdick I haven't tried the latest versions yet. Planning to do so before the end of the year.

Take a look a the linked issues and their statuses.

[2017-11-20 16:32] jbw976 opened #1247 "Design for cluster CRD updates"
This issue is for the design document for dynamic Cluster CRD updates (#1101)

[2017-11-20 16:36] galexrt commented on #1101
With changes made to the health check in https://github.com/rook/rook/commit/e7d20647aa120dda0145a116b89943c83315f55b, updating the `placement` is now possible.

[2017-11-20 17:11] bassam commented on #1162
consider fixing in v0.6.1

[2017-11-20 17:22] bassam commented on #1195
possibly fix in v0.6.1

[2017-11-20 17:24] bassam commented on #1198
possibly fix in v.0.6.1

[2017-11-20 17:36] #1243 closed

[2017-11-20 17:46] jbw976 commented on #1113
Yes, I think the original intent of this value (to prevent the disk from filling up) isn't actually being met because there are no checks later on to prevent other usage of the disk from filling it up before the bluestore block file has filled it up itself. OSDs also have a near-full and full ratio that would start turning away requests before the disk is full.

This const isn't really providing v

[2017-11-20 18:20] Ulexus opened #1250 "trivial mismatch of logging arguments"
rbac creation log argument mismatch when role already exists (missing namespace in string)

[2017-11-20 18:52] #1250 closed

[2017-11-20 21:37] jbw976 commented on #1113
I believe the true intent of this issue has been addressed with #1249.  I don't think this setting needs to be exposed to users.

[2017-11-20 21:37] #1113 closed

[2017-11-20 23:45] jbw976 commented on #1196
Fixed in #1223

[2017-11-20 23:45] #1196 closed

[2017-11-21 00:15] jbw976 commented on #1214
@dimm0 i think that issue is actually different (even though it's useful information) because it is referring to the formatting of the disk using `mkfs`.  we are seeing a very long hang on the `rbd map` operation, before we even get to formatting it.

@bassam had asked about how the in-tree rbd plugin behaves.  it looks like when it executes `rbd map`, it does not have any timeout logic at all, so

[2017-11-21 00:18] jbw976 commented on #1195
@bassam suggested that the CPU usage could be directly related to the potential memory leak that @galexrt showed in the graph above.

in addition to the profiling and debugging that we need to accomplish to find root cause for this issue, @galexrt suggested potentially adding a flag so that profiling could be turned on for containers without having to build a special container image.  this may be

[2017-11-21 00:21] jbw976 commented on #1192
I don't believe that the general issue of a good experience for "simple" and "durable" environments has been solved yet, even though your specific problem was solved @leenux, so I am going to re-open this issue to keep tracking a resolution.  Thanks!

[2017-11-21 02:46] Ulexus opened #1252 "Deleting old (non-flexvolume) volume causes panic"
There is no checking that the FlexVolume is actually populated, [here](https://github.com/rook/rook/blob/master/pkg/operator/provisioner/provisioner.go#L144).   FlexVolume happens to not be populated if the PersistentVolume in question was created using the pre-0.6.0 rook.

[2017-11-21 06:32] jbw976 commented on #1162
Root cause for this issue appears to be that with the dynamic kubelet config work in 1.8, the type returned from the configz API has been changed, so our marshaling is not working for 1.8.

Old type: https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/apis/componentconfig/types.go#L316
New type: https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/kubelet/apis/kubeletconfig/type

[2017-11-21 14:03] costrouc commented on #1228
Bump. I have had the same issue and would really like to use `/dev/disk/by-id/*` symlinked devices. There is no way to guarantee consistent naming to `/dev/sd* `

[2017-11-21 16:01] travisn commented on #1162
Great work @jbw976. Rather than , this change looks good for a couple reasons:
- Would work across kubernetes versions
- Simple to backport to 0.6.1 rather wait for the big work item #1153, which we don't want to backport

[2017-11-21 17:00] bassam commented on #1162
so this was a breaking change in 1.8? Also there were concerns about it only happening for 1.8.1+, do we have clarity on that now?

[2017-11-21 17:09] travisn commented on #1221
please reopen if you can confirm the repro with rbac disabled

[2017-11-21 17:12] travisn commented on #1194
@galexrt @phsiao how about if we close this issue now since #1207 is in? Its original purpose seems fulfilled. Then you could open a new ticket to automatically set the values, which can likely wait until after 0.7

[2017-11-21 17:42] phsiao commented on #1194
SGTM.

[2017-11-21 21:13] jbw976 commented on #1162
Yes @bassam, this was a breaking change for 1.8.0 (all 1.8.x versions are affected), but it is somewhat up to debate because I don't think the configz API is formally documented.  We may want to think about a way to improve that going forward, but in the meantime I want to understand why we didn't hit this in our tests.  Perhaps in our test environment, the default under `/usr/libexec/...` just wo

[2017-11-21 22:04] costrouc commented on #1195
Can confirm that I have same issue 100% cpu usage on single cpu from rook api. I am running a single node cluster without Prometheus.

[2017-11-21 22:51] bassam commented on #1162
How did we pass integration testing on 1.8? Do we have gaps in testing?

[2017-11-21 22:56] Ulexus commented on #1162
This is only an issue with the non-default location, which might explain the coverage gap.

[2017-11-21 22:58] jbw976 commented on #1162
This operator log file from an integration test on 1.8 actually does show us hitting this condition: https://jenkins.rook.io/job/rook/job/rook/job/master/362/artifact/_output/tests/TestSmokeSuite_gce_1.8_rook-operator-544c5df9dc-65x9l_smoke-ns-system_1509561923.log

however, falling back to the default location actually works in that environment (we can install to it and the Kubelet will be lookin

[2017-11-24 14:41] jbguerraz commented on #1221
We face the same issue here, we don't have RBAC enabled and so we can't run Rook anymore.
This on Kubernetes 1.8.3 / CoreOS (alpha).

```root      5651  1.8  0.3 1386492 372876 ?      Ssl  Nov16 206:21 /hyperkube apiserver --bind-address=*.*.*.* --etcd-servers=http://*.*.*.*:****,http://*.*.*.*:****,http://*.*.*.*:**** --allow-privileged=true --service-cluster-ip-range=10.4.0.0/14 --secure-port=44

[2017-11-24 16:40] travisn commented on #1221
the api server is acting as if RBAC is enabled. If the policy is set to `AlwaysAllow`, my understanding is that you shouldn't see this error about access being forbidden. All requests should be granted.
[code]

When you created the rook-operator.yaml, did you remove the `ClusterRole` definition? I'm assuming you would get a similar error with that.

I'm not seeing a command that gets the actual RB

[2017-11-26 10:23] galexrt opened #1256 "Allow OSD data directories to be set cluster wide"
There needs to be a way to set a directories list on a Cluster wide level and then allow override per node.

The override behavior should be like this:
[code]

[2017-11-26 10:54] #1194 closed

[2017-11-26 16:37] galexrt opened #1258 "Operator should set resource requests/limits automatically if not specified"
The design can be found here: https://github.com/rook/rook/blob/master/design/resource-constraints.md

Previous issue that implemented the first part of the design can be found here: https://github.com/rook/rook/issues/1194

[2017-11-26 22:37] costrouc opened #1259 "Rook StorageClass ignores reclaimPolicy attribute"
A kubernetes StorageClass has a default relaimPolicy value of `Delete`. I would like to set the value to `Retain` however rook appears to ignore this attribute. In the [documentation](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reclaiming) the allowable values are `Delete`, `Recycle`, `Retain`.  My rook setup closely follows the [quickstart](https://rook.io/docs/rook/master/kub

[2017-11-27 03:06] costrouc commented on #1259
Are there any workarounds before this feature is implemented to prevent deletion of the pvclaim/pv? I want to prevent accedental delation of the PV data from my own stupidity.

[2017-11-27 14:42] beatlejuse commented on #470
I think it's not working at the moment.
I used this guide to do it:
https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-cluster.yaml
and I found that the following keys:

#  placement:
#    all:
#      nodeAffinity:
#        requiredDuringSchedulingIgnoredDuringExecution:
#          nodeSelectorTerms:
#          - matchExpressions:
#            - key: role
#              oper

[2017-11-27 14:47] galexrt commented on #470
@beatlejuse Please create a new issue for the problems you are experiencing. Additionally please post which pods aren't spawning/deploying in the issue. Thank you!

[2017-11-27 17:24] galexrt opened #1261 "Add Recovery guide for "Mon Quorum loss""
Add a recovery guide for "recovering from a mon quorum loss" (worst case).

The work in progress gist can be found here: https://gist.github.com/galexrt/5d49ef1122ee53d0caf3970a04ea82e9

[2017-11-27 18:13] jbw976 opened #1262 "unable to run a specific integration test: "flag provided but not defined: -testify.m""
The `testify` flags no longer seem to be initialized, so I am not able to run a specific integration test on my laptop:
[code]

[2017-11-27 18:25] kokhang commented on #1259
I am not sure if if the `reclaimPolicy` on the PV is editable but if it is, try to update it. That could be a workaround.
Keep in mind that if the underneath ceph volume is not deleted, you would have to use something like the rook toolbox or a ceph rbd command to delete it.

Also, if you want to make the PV available again, you would have to manually create the PV object and reference the underne

[2017-11-27 18:33] kokhang commented on #1252
@bassam @jbw976 @travisn. This is a result of an API change in Rook. This happens when Rook provisioned a volume to use the old rbd-plugin (0.5.x or older), and after upgrade, the same volume is trying to delete.

Since Rook is still alpha, which means API changes could still happen and since 0.6.x is the first version of Rook to be upgradable, should this issue be solved? If so, Rook would have t

[2017-11-27 18:41] kokhang commented on #796
@jbw976 one thing that i forgot to say is that using a statefulset would allow Kubernetes to also manage the volume. Since the volume is backed by the node, this is probably not an issue. So yes, that makes sense.

[2017-11-27 19:17] costrouc commented on #1185
I got the same error.

[code]

[2017-11-27 21:34] jbw976 commented on #1252
@kokhang in general, while we are still in alpha, it is not necessary to add logic for how to handle legacy conditions.  However, for this issue, the result is a panic which crashes the operator.  The fix @Ulexus added in #1253 to simply check for nil and avoid panicking looks good enough to me.

[2017-11-28 00:44] charleslieferando opened #1264 "Mon pods should have affinity to node hostname label rather than node name"
Hi,

I just tried setting up rook 0.6.0 on my k8s 1.8.3 cluster on AWS. The ceph-mon pods hang in a pending state with the following `No nodes are available that match all of the predicates: MatchNodeSelector (5)`

[code]

And here's the section from the describe pods command

[code]

[code]

Does someone know whats going on here?

[2017-11-28 06:24] travisn commented on #1264
In the output of the `describe` command, what does the `Node-Selectors:` show? It sounds like there is an issue with the host name and the k8s scheduler isn't matching the node where Rook wanted to place the mon. Did you by chance specify any placement rules for the `mon` in the `rook-cluster.yaml`?

[2017-11-28 09:37] charleslieferando commented on #1264
I think I see the problem now.

Here is a bit more from the describe pods command including the Node-Selectors

[code]

and heres the output of get nodes --show-labels

[code]

As you can see, the nodes are named according to the ec2 instance metadata private hostname however those nodes are labelled with the custom private dns names I assigned to my instances in Route53.

[2017-11-28 11:46] mhulscher commented on #1228
I too would like to be able to use `/dev/disk/by-id/*` instead of the `/dev/xxx` ...

[2017-11-28 13:18] costrouc commented on #1228
@mhulsher I forgot to update my response in this issue. I talked with the devs on slack and I looks like rook uses the `/dev/disk/by-partuuid/` once it has created the osds. This guarantees that once the osds are prepared the correct osd is always selected even if `/dev/sd*` changes. But I do agree that `by-id` would be nice to use.

[2017-11-28 15:49] travisn commented on #1264
I see, we need to use the hostname label instead of the name of the node since they can be different.

[2017-11-28 18:56] jbw976 commented on #1162
This has been fixed in both master and the release-0.6 branch.

[2017-11-28 19:44] #1252 closed

[2017-11-28 20:15] dab-q opened #1267 "rook-tools does not work out-of-the-box with hostNetworking=true"
I set up a 3 node k8s 1.7.5 cluster, modified `cluster/examples/kubernetes/rook-cluster.yaml` to set "hostNetwork: true", then brought up rook and the wordpress example, along with rook-tools.  When I attempted to use rook-tools, the `$ROOK_API_SERVICE_HOST` and `$ROOK_API_SERVICE_PORT` environment variables were not set up, so rookctl didn't work.  When I manually set them, rookctl worked.

[code

[2017-11-28 20:51] dab-q commented on #1267
BTW, I'm using `rook/rook:master` and `rook/toolbox:master` for my image.

[2017-11-28 22:29] kokhang commented on #796
@bassam how do you advice to proceed on this? Currently `LocalVolume` is an alpha feature on 1.8 and possible on 1.9, which means it requires user intervention and kubelet restart to enable it.

In the mean time, we could alleviate some of the current issues. For example, we could have Rook delete the `dataDirHostPath` when a cluster is being deleted so that when the cluster is redeploy, it doesnt

[2017-11-28 22:35] kokhang commented on #1214
@jbw976 @bassam i believe Rook and the on-tree RBD would result on the same behavior. Both uses the RBD command to map the image. Here is how rook does it: https://github.com/rook/rook/blob/4509ecab4a9b88d252c7ebbb0c4bdba03bd4735e/pkg/ceph/client/image.go#L109. And this is where it hangs.

[2017-11-29 00:32] jbw976 commented on #1195
The profiling/tracing data clearly shows that the rook-api pod is in a tight loop in the `WatchMonConfig` function: https://github.com/rook/rook/blob/028d70d4ec58653055d615b9031b1bf5aa735fc2/pkg/api/daemon.go#L78

Attaching a trace file that can be viewed interactively with `go tool trace trace.txt`:
[trace.txt](https://github.com/rook/rook/files/1512090/trace.txt).

[2017-11-29 00:51] #1185 closed

[2017-11-29 10:56] galexrt commented on #1267
@dab-q Could you freshly enter the `rook-tools` Pod and run `echo $ROOK_API_SERVICE_HOST - $ROOK_API_SERVICE_PORT`.
Additionally could you ensure that the `rook-api` is up'n'running/ready?

[2017-11-29 14:39] jbguerraz commented on #1221
I discussed that with Jordan Liggitt from sig-auth (see https://gist.github.com/jbguerraz/cfdf8c13705d76e4e4ed92389f9cd884) and it appears as it Rook won't work without RBAC enabled. To get it working it would require non-rbac users to prepare their clusters by either granting the, at least, same RBAC permissions of the rook RBAC roles to the used user or by using the insecure port to create those

[2017-11-29 15:21] dab-q commented on #1267
Yes, rook-api is running.  Neither ROOK_API_SERVICE_HOST or ROOK_API_SERVICE_PORT are set in the environment, and so additionally `ROOK_API_SERVER_ENDPOINT=`.

There was code in images/toolbox/toolbox.sh to set `ROOK_API_SERVER_ENDPOINT="rook-api:8124"` when neither of those variables are set, but that code was removed by https://github.com/rook/rook/commit/46d1483468a535853608c6a902aa5c322b0d5663

[2017-11-29 15:37] galexrt commented on #1267
The env vars get generated by Kubernetes.

What does `kubectl get -n rook svc rook-api` and `kubectl get -n rook ep rook-api` output?
Also did you already try deleting and recreating the rook toolbox Pod?

[2017-11-29 15:51] dab-q commented on #1267
This appears to be a bigger issue than just these two variables.  With `hostNetwork: true`:
[code]
but with `hostNetwork: false`
[code]
So most of the ROOK* environment variables are not getting configured with `hostNetwork: true`

[2017-11-29 15:53] galexrt commented on #1267
@dab-q That is totally fine. Rook doesn't rely on env vars. Only the rook-api "detection" does.

[2017-11-29 15:59] dab-q commented on #1267
[code]

[2017-11-29 16:38] travisn commented on #1221
thanks @jbguerraz this discussion with sig-auth explains it. Now I see why we are seeing failures even when the mode is AlwaysAllow. When we are requesting the RBAC permissions, we should just log that it failed and make a best effort to continue.

[2017-11-29 19:37] #1267 closed

[2017-11-29 21:50] kokhang commented on #1214
@jbw976 @dimm0 I have started working on a cleanup but i am started asking myself if it's really needed. Perhaps i am not quite sure how to repro the issue you are experiencing.

Correct that this will leave an orphaned VolumeAttachment record in the CRD.
@jbw976 but when you says "the pod moves", does that mean that it is deleted and a new pod (with new ID) is created somewhere else? If so, the c

[2017-11-29 22:55] kokhang commented on #1221
so should i reopen my fix?

[2017-11-29 23:10] dimm0 commented on #1214
@kokhang I first saw this on statefulset, but mostly because those take longer to init and are easier to break. I think I also saw this on deployments.
Pretty much any error mode, when pod soesn't fully start, will cause it. That's why it's hard to reproduce - you need another error to get this error :)

[2017-11-29 23:23] travisn commented on #1221
@kokhang yes, looks like we need it. Were you able to repro the issue to start with? With the PR I just want to make sure we get all the RBAC permissions covered. For example, the operator creates RBAC roles for both the api service and the agent. Also, can we add an e2e test for rbac being disabled?

[2017-11-29 23:24] dimm0 commented on #1101
Are we any closer to adding nodes to an existing cluster? 😊

[2017-11-29 23:35] jbw976 commented on #1101
Yes @dimm0, I need to incorporate the feedback on the design in #1248 then I will start on the implementation.  Those will happen as soon as I get my bug fixes in for an upcoming 0.6.1 minor release, such as #1195.  Thanks for your patience! :)

[2017-11-30 00:02] kokhang commented on #1214
i am able to generate the first error and i can see that the VolumeAttachment are not deleted. But that is already handled by the logic if the original pod is deleted.

[2017-11-30 00:05] dimm0 commented on #1214
Is that a recent change? Maybe it's really fixed in a recent rook release, if you're clearing an orphaned attachments

[2017-11-30 00:47] kokhang commented on #1214
i dont think there was a recent change. This issue is handled here https://github.com/rook/rook/blob/master/pkg/agent/flexvolume/controller.go#L104.

So i created a statefulset and mocked the `rbd` command to hang in order to reproduce the error. This is the log im getting:

[code]

[2017-11-30 01:42] jbw976 opened #1274 "optionally enable profiling for pods"
As originally suggested in https://github.com/rook/rook/issues/1195#issuecomment-345874730, it would be nice to have optional profiling capabilities built into the rook pods that can be enabled dynamically.  Currently to set up profiling, a developer must add code, compile, deploy and hopefully be able to reproduce the issue.

In my recent profiling efforts for #1195, I found the http profiling wa

[2017-11-30 05:25] dimm0 commented on #1214
Ok, I've got the working one :)
Here's the yaml: https://github.com/dimm0/prp_k8s_config/blob/master/volume-example.yaml
Replace "storage: 20Gi" with some large number, I used "50Ti"
[code]
Then wait until it fails to mount:
<img width="985" alt="screen shot 2017-11-29 at 9 17 38 pm" src="https://user-images.githubusercontent.com/1425007/33415410-34420bba-d54b-11e7-979b-b94867a58d65.png">

Delete

[2017-11-30 05:36] dimm0 commented on #1214
By the way, after deleting both pod and its claim, the volume is still hanging there. As I remember it will never be deleted...

[code]

<img width="996" alt="screen shot 2017-11-29 at 9 34 22 pm" src="https://user-images.githubusercontent.com/1425007/33415709-3cc45890-d54d-11e7-9708-2c530465a787.png">

[code]

[2017-11-30 06:49] #1195 closed

[2017-11-30 15:11] bassam commented on #1195
nice work @jbw976

[2017-11-30 15:12] bassam commented on #1195
are we backporting this to 0.6?

[2017-11-30 17:34] jbw976 commented on #1195
yes @bassam, backporting to 0.6 with #1275

[2017-11-30 22:22] kokhang commented on #1214
@dimm0 ahh you are using the Pod resource. Since the pod name remains the same but the ID differs, the fencing logic doesnt know whether the pods are the same. Ok i have a fix for this. Thanks!

[2017-11-30 23:17] dimm0 commented on #1214
As I said, same applies to deleting a pod inside a deployment

[2017-12-01 05:39] jbw976 commented on #1256
Fixed with #1257

[2017-12-01 05:39] #1256 closed

[2017-12-01 08:55] beatlejuse opened #1278 "rook cluster fails after restart k8s node"
i'm created operator, cluster and filesystem:
[code]
and try to connect to it:
[code]
and have such error:
[code]

[2017-12-01 09:02] beatlejuse commented on #1278
in logs i see:
`with monitor 10.3.183.65:6790,10.3.65.12:6790,10.3.131.61:6790:/ `
but in "kubectl get svc" i see:
[code]
I did reboot some of the nodes in the cluster, resulting in a changed monitors. and now the file system connect does not work

[2017-12-01 18:04] kokhang opened #1280 "Volume mapping hangs when trying to mount a large volume > 5TB"
This issue was found by @dimm0 which triggered a side effect issue which is tracked in https://github.com/rook/rook/issues/1214.

From https://github.com/rook/rook/issues/1214#issuecomment-344374292, the RBD command hangs(or take too long) when mapping the large volume. After sometime, Rook times out and issue a SIGTERM on the RBD command and try again.

[2017-12-01 18:53] kokhang commented on #1278
@beatlejuse the filesystem mount logic gets its monitoring endpoint from the configmap.
If you still have this environment, can you run `kubectl -n rook get configmaps rook-ceph-mon-endpoints -o yaml`?

Are the endpoints in the configmaps correct or stale? Rook has logic to update those when a new monitor gets added.

[2017-12-01 18:55] kokhang commented on #1214
I will use this issue to track the VolumeAttachment leak issue since it has a lot of the content. I have created #1281 to track the RBD mapping hang on large volume issue.

[2017-12-01 19:43] beatlejuse commented on #1278
Yes, here it is:
[code]
but listed here addresses - 10.1.29.21","10.1.29.22","10.1.29.25" - it's address of hardware cluster nodes.

[2017-12-01 20:02] beatlejuse commented on #1278
yes, configmap updated:
[code]

[2017-12-01 21:09] kokhang commented on #1278
@beatlejuse Is the filesystem mount still trying to use old monitor endpoints even though the configmap has been updated?

[2017-12-01 22:05] kokhang opened #1282 "Rook can no longer auto detect the Kubelet root directory in 1.8.x"
Rook needs the kubelet root directory in order to determine where to do a global mount of devices. The global mount is then bind-mounted to the pod directory. This is consistent with how other K8s storage plugins work.

Prior to 1.8, Rook was using the `node/proxy/configz` api to determine where the root kubelet directory is. This is normally defaulted to `/var/lib/kubelet` but it can be user conf

[2017-12-01 22:31] jbw976 commented on #1282
This is a very similar issue to #1162, right?  Hopefully it'll be a very easy fix that is basically the same as #1255, where the kubelet root dir is added as a field to the `KubeletConfiguration` struct.

Also, I suspect the impact of this is limited because the Kubelet root dir isn't overridden by many folks, right?

[2017-12-01 22:38] kokhang commented on #1282
@jbw976 i checked the configz/ api and it is not showing there. I think there is a new way or api to get this since the change that broke was part of the new dynamic kubelet configuration feature: https://github.com/kubernetes/features/issues/281.

You are also right that not many people change the Root Directory so it probably wont have a much of an impact as the flexvolume plugin dir.

[2017-12-01 23:21] jbw976 commented on #1282
Yeah, I don't see it in the upstream KubeletConfiguration type either: https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/kubelet/apis/kubeletconfig/types.go#L55

Hopefully there is a new API to get the root dir then.

[2017-12-01 23:39] #1214 closed

[2017-12-02 00:43] kokhang commented on #1221
i was not able to reproduce the exact same issue but i was able to test that with this patch, Rook will work when the authentication is AlwaysAllow. If you use RBAC and set the USE_RBAC to false, then rook will correctly fail.
To disable RBAC, you would have to modify kubelet and would require a new pipeline. So it would probably be more involved.

[2017-12-02 00:47] kokhang commented on #1237
@rimusz how would you organize the docs? There is quickstart docs for setting up the cluster in https://github.com/rook/rook/blob/master/Documentation/kubernetes.md#quickstart and also quick guide for setting up storage. For example: https://github.com/rook/rook/blob/master/Documentation/k8s-block.md.

Feel free to submit a PR in way to make the docs more organized.

[2017-12-02 00:51] travisn commented on #1221
@jbguerraz maybe you could verify the fix if @kokhang could publish a build for you?

[2017-12-02 06:02] amitkumarj441 commented on #1183
@kokhang I am willing to take up this task (if it's not assigned) and I guess existing Ceph kernel client has the following drawbacks:

•	Kernel client does not support client-enforced quotas.
•	Kernel CephFS doesn't support quota or capacity, capacity requested by PVC is not enforced or validated.
•	Kernel CephFS doesn't work with SELinux, setting SELinux label in Pod's security context will not

[2017-12-02 08:59] jbguerraz commented on #1221
Sure thing! :-)

[2017-12-02 18:55] bassam commented on #1183
@amitkumarj441 that would be great! adding fuse support will help tremendously.

[2017-12-04 11:49] beatlejuse commented on #1278
no, if i try to use the file system (when i deploy the pod, using it) on a physical node fell down Docker

[2017-12-04 13:33] jbguerraz commented on #1221
@kokhang could you publish a build ?

[2017-12-04 18:17] kokhang commented on #1221
Done. The image is `kokhang/rook:rbacfix`. Make sure you use this image in the rook-operator.yaml in the `image` and also in the rook-cluster.yaml in `versionTag` use `rbacfix`. Thank you @jbguerraz

[2017-12-04 18:31] kokhang commented on #1183
@amitkumarj441 yes. Feel free to take it. I started experimenting with ceph-fuse. But you do need to have [mount propagation](https://kubernetes.io/docs/concepts/storage/volumes/#mount-propagation) enabled in order for agents to perform and mount and become visible in the nodes. This feature is gated since it is alpha so users will have to enable it.

[2017-12-04 19:04] charleslieferando commented on #1264
so is this something which is to be changed on the side of rook? @travisn

[2017-12-05 11:03] jbguerraz commented on #1221
That build works well! GG @kokhang !
Is that possible to release a 0.6.2 as 0.6.1 is already out (https://github.com/rook/rook/issues/1221#issuecomment-343380744). That would be super cool (so we can save up some time from our current sprint)

[2017-12-05 13:15] cboothe opened #1291 "Object Store not uploading files after creating new user and new bucket"
Trying to create an S3 user and after creating the S3 bucket I am not able to upload a file.
Tried using with and without the access key and access secret both fail.

[code]

[2017-12-05 18:08] bhvr-fmarceau opened #1292 "Rook v0.6.0 DiskPressure issue (filling HDDs)"
Hello everyone,

I've been using Rook v0.6.0 for about a month and yesterday Prometheus alerted us about a DiskPressure issue on our nodes.

After verification, it appears that the "bluestore-block" file (/var/lib/rook/osdX/) uses 390GB / 453GB on one of our nodes and the disk usage is about the same on the other nodes. Still on that node, with the rest of the OS, we are using a total of 395GB / 4

[2017-12-07 17:36] dgonzalezruiz opened #1293 "Specifying a cluster-wide directory name for OSDs on Cluster CRD does not work"
As specified in the title, this does not work. I used the following syntax in the CRD:

[code]
But the created OSDs ignore this property. I have seen this feature documented. I will take care of the implementation of a solution if no one else decides to do so in the following days.

[2017-12-07 17:53] dgonzalezruiz commented on #1293
The podSpec created for daemonSets is not correctly set; it should be:
[code]
instead of
[code]

[2017-12-07 22:30] jbw976 commented on #1221
I would not be against backporting this fix to the 0.6 release branch (once #1231 is in master) since it is blocking deployments without RBAC.  I've added this ticket to the v0.6 project board: https://github.com/rook/rook/projects/7

[2017-12-08 16:29] jefflaplante commented on #293
I agree with @jbw976 in that OSDs are taking up more ram than I'd like in a small Kubernetes cluster with 2GB ram per host node. The OSD can easily take +700Mi which is daunting. Can this be tuned? What are the ramifications of limiting an OSD to less ram?

[code]

[2017-12-08 16:37] abh opened #1295 "Add option to operator to "tolerate" rook-agents to run on masters"
I have the opposite request of what was done in #1168, so making it an option for the operator would be helpful.  We have some regular work loads that we allow to run on the masters, so it'd make sense to have rook-agents running there, too.

[2017-12-11 20:44] travisn commented on #1295
I believe what we want is to add an `agent` section to the `placement` element of the cluster.yaml, similar to the other daemon types. Then you can specify all the attributes desired for node and pod affinity, pod anti-affinity, and tolerations.

[2017-12-11 22:03] travisn commented on #1291
@cboothe try adding the `--host-bucket=` to your `put` command. I am able to repro your issue if you remove that parameter from the example. It is certainly odd to me that this empty parameter is required.

[2017-12-11 22:15] #1262 closed

[2017-12-11 22:23] christhomas commented on #944
Using the following command worked for me too
[code]

Seems the versioning of the latest release is broken? should it start with 'v' ?

[2017-12-12 00:08] #1221 closed

[2017-12-12 08:39] jbguerraz commented on #1221
@jbw976 @DanKerns could we backport it to 0.6 ( #1298 )  ? thank you a lot!

[2017-12-12 15:35] DanKerns commented on #1221
@jbguerraz that's the plan.

[2017-12-12 17:46] kokhang commented on #1295
@travisn the problem with that is that the agents are not deployed when a cluster is created. They are deployed when operator is created. Since the operator is not a CRD type (is a deployment type), we cant add custom specs.

[2017-12-12 19:43] travisn commented on #1295
ha, of course we don't have that option. So the best we can do is an env var on the operator pod that would set the toleration on the agent pod. What would we call the property? How about `AGENT_TOLERATE_NO_SCHEDULE`?

[2017-12-12 20:56] travisn commented on #1146
Fixed by #1153. With this change the TPRs are still supported by Rook

[2017-12-12 20:56] #1146 closed

[2017-12-12 21:33] kokhang commented on #1295
@travisn i submitted a PR. I elected to have the toleration user specified. Take a look

[2017-12-12 22:29] kokhang opened #1302 "Need doc page for Rook Operator"
The Rook-operator is becoming more flexible and user configurable. However, there is no formal documentation about it. All configurable parameters are currently documented as comments in the rook-operator.yaml manifest. https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-operator.yaml#L126

There should be a document for Rook-operator similar to the Rook-cluster https://githu

[2017-12-13 11:37] abh opened #1305 "Can't avoid having bluestore in the data directory"
I started out my test cluster using bluestore in plain directories, not understanding that it'd basically take all the disk space. I wanted to migrate to block devices, so I added those (so far so good), but now I can't seem to get ceph or rook to "forget" the directory osd's.

I do "ceph osd down 6; ceph osd rm 6", delete the directory on disk and restart the pod, but as soon as the pod comes up

[2017-12-13 12:12] abh opened #1306 "mon crashes on 'ceph osd perf'"
It was working before, but now the active(?) mon consistently crashes when I run 'ceph osd mon'.

[code]

[2017-12-13 13:57] beatlejuse commented on #1278
@kokhang @hunter @weekface @dclausen @phsiao
I have a limited amount of time can test a connection error CEPH!
after a reboot one of the node cluster, the container with the Prometheus can not access the data. in the logs container no errors, but if i go inside the container and do "ls /data/mount" command just freeze.
I have the day to explore the issue, then I have to erase the cluster and rebui

[2017-12-13 13:58] beatlejuse commented on #1278
... and restart prometheus pod does not solve the problem

[2017-12-13 14:00] galexrt commented on #1278
@beatlejuse Could you please hop on our Slack so we can help you faster with the CephFS issue?
Addtionally could you enter one of the rook Pods (mon, OSD, any rook Pod would do) and run `rook version` and post that in the Slack then please :)

[2017-12-13 14:11] beatlejuse commented on #1278
@galexrt  yes, i'm in slack!

[2017-12-13 15:50] galexrt commented on #1305
@abh Could you post the logs of the OSD that has this problem?

[2017-12-13 15:51] galexrt commented on #1306
@abh Taking a guess as I had a similar issue, do you have monitoring through the rook-api enabled?

[2017-12-13 15:57] travisn commented on #1305
@abh how did you specify the directories originally? Was it by specifying them under the `nodes` in the `cluster.yaml`? If so, it is baked into the pod spec for the osd. I can see that it would re-create the directory each time the pod starts. You would need to modify the pod spec to have it stop creating the directory again.

In the 0.7 release we are working on the ability to modify the cluster

[2017-12-13 16:04] galexrt opened #1307 "Create Issue and Pull Request template"
The issue template should ask for basic information such as:
* rook version currently running
* Kubernetes version
* Ask for logs (show the commands in html comments)
* OS (CoreOS, Atomic, Ubuntu, etc)
* Kernel version `uname -a`
* Ceph status `ceph -s` + `ceph mon_status`
* Other infos?

The pull request template should contain information such as:
* Link to contributing/development flow doc
* Ot

[2017-12-13 16:23] abh commented on #1306
I didn’t change anything for that, so only if it’s the default... it was working for a little bit and then stopped, fwiw.

[2017-12-13 16:29] jbw976 commented on #1306
I believe this is the same crash being seen in #1111.  It would be good to finish off that work soon to enable the prometheus metrics module, although I don't have a proper fix for the standby mgr instances showing as DOWN.  Perhaps that's an acceptable condition for the time being so that we can at least get those metrics going/enabled, as long as the Grafana dashboards are also working and showi

[2017-12-13 16:35] abh commented on #1305
I'm running from master (the docker image tag), so that's probably making it more confusing...  The osd's showed up in the dataDirectory rather than the "global", so I changed to doing "per host" configuration (and then deleted the deployment after the operator created individual replicaSets, so for a few minutes I had two running).

I'm posting the log from a pod where I'd deleted the rs for that

[2017-12-13 17:46] #1295 closed

[2017-12-13 18:33] kokhang commented on #1278
@beatlejuse can you explain how you repo this? It seems you took a node which made the cephfs not able to connect to the cluster anymore. Is there more to it?

[2017-12-13 18:40] #1215 closed

[2017-12-13 23:11] dgonzalezruiz opened #1310 "Make ObjectStore sign themselves."
Right now we leverage the creation of a certificate to use together with an objectStore to the user. This requires some extra-work, that could be automated by rook. We could make the CRD create a certificate for the user if some of the security options are set, but the security certificate is left unset. This would combine with #1296 , and would add the array of dns addresses given as a SAN, toget

[2017-12-14 00:10] abh commented on #1310
Could you use the [k8s certificate authority](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/) feature for this?

[2017-12-14 00:17] abh commented on #1305
@travisn Yeah, I started out having it configured with just a default directory (though it used the dataDirectory rather than the storage.storeConfig.directories.path configuration).

Then I changed it to have individual node configs, with the directory and the device specified (to migrate the data). I marked the old osd's with 0 weight and the data got copied to the block devices. Now getting rid

[2017-12-14 00:21] abh commented on #1292
I solved this by using block devices instead of the directories (though that led to other problems, #1305). I tried also getting the "mon osd full ratio" in the override config, but I think I'd have to clear the osd's and start over for that to (maybe?) take effect.

[2017-12-14 03:39] dgonzalezruiz commented on #1310
Hi @abh ! It definitely seems feasible, but requires extra set-up in the k8s cluster (non-default opts in the controller manager from what I can see), and therefore will be only usable for a subset of the users. I would go a more generic approach, but please, feel free to disagree and prove me wrong. I would love to learn more about that feature.

[2017-12-14 08:55] beatlejuse commented on #1278
@galexrt
I tested today the cluster - the problem no longer occurs! ))

@kokhang
I have kubernet cluster with 3 master nodes and one minion. on top of it deployed rook and monitoring. I tested the fault tolerance of multi-master cluster schema and selectively reboot one node. after the first reboot the node on which Prometheus was connected to the file system ceph, pod Prometheus was unable to sta

[2017-12-14 17:19] leseb opened #1312 "OpenShift: can not modprobe rbd"
**Bug Report**

What happened:

rook-agent is not able to `modprobe rbd`, see:

[code]

What you expected to happen:

Successfull `modprobe rbd`.

How to reproduce it (minimal and precise):

Start a pod operator and wait for the pod rook-agent to start.

**Environment**:
* OS (e.g. from /etc/os-release): CentOS Linux release 7.4.1708 (Core)
* Kernel (e.g. `uname -a`): Linux k8s-master.example.com

[2017-12-14 17:20] leseb opened #1313 "OpenShift: Error getting claim "openshift-ansible-service-broker/etcd""
**Bug Report**

What happened:
.
rook-operator log:

[code]

What you expected to happen:

Find the StorageClass field

How to reproduce it (minimal and precise):

Just start the rook-operator pod on OpenShift.

**Environment**:
* OS (e.g. from /etc/os-release): CentOS Linux release 7.4.1708 (Core)
* Kernel (e.g. `uname -a`): Linux k8s-master.example.com 3.10.0-693.11.1.el7.x86_64 #1 SMP Mon Dec 4

[2017-12-14 17:21] leseb opened #1314 "OpenShift: insufficient permission inside the containers"
**Bug Report**

What happened:

When trying to create a cluster the operator fails with:

[code]

What you expected to happen:

Cluster creation should succeed.

Additional information:

OpenShift uses the following feature to get fewer user privileges on application development where the expected user is 'root', see https://blog.openshift.com/jupyter-on-openshift-part-6-running-as-an-assigned-use

[2017-12-14 17:26] galexrt commented on #1292
@bhvr-fmarceau @abh What filesystem do you have under the directory/directories you experience this issue with?

[2017-12-14 17:54] leseb commented on #1314
More info:

* using priviledged does not help
* tried to change the security context to `runAsUser: 0` and ended up with an error from OpenShift:

[code]

[2017-12-14 17:59] galexrt commented on #1314
We need to add the `runAsUser` to every component so that `PodSecurityPolicy`s know what we need and users get an issue like @leseb is getting then.

@leseb the issue you are getting is caused by OpenShift's `PodSecurityPolicy`s, you need to either modify or create a PSP that allows Pods to run with `runAsUser: 0` and `privileged: true` (Kubernetes docs https://kubernetes.io/docs/concepts/policy/p

[2017-12-14 18:04] leseb commented on #1314
`runAsUser` works by editing Security Context Constraints (`oc edit scc restricted`)  then change the context: `MustRunAsRange` to `RunAsAny`.

Additionally set `runAsUser: 0` in the pod definition.

After this, the operator successfully run as root:

[code]

[2017-12-14 18:07] abh commented on #1292
ext4, just the default CoreOS file system (I use /data/ for hostPath’s usually, so I used /data/rook-data/ for this — I was trying to make the storage stuff go in /data/rook-storage/ but with my initial config that didn’t get used).

[2017-12-14 18:11] leseb commented on #1314
I'm now at the stage where the operator now deploys the first monitor. However, this one loopcrashed because of the same error. This requires code fix though.

[2017-12-14 18:14] bhvr-fmarceau commented on #1292
@galexrt ext4!

[2017-12-14 18:36] bassam commented on #1314
So disabling the policy in open shift does not help?

[code]

[2017-12-14 18:39] jbw976 opened #1315 "test: include more environments in our CI pipelines"
Is this a bug report or feature request?

* Feature Request

**Feature Request**

Are there any similar features already existing: Yes, we have existing CI pipelines for Amazon and Google (GCE).

What should the feature do:  We should add CI pipelines for more environments that our users are running Rook in.  Some environments to include:
* OpenShift Online: https://manage.openshift.com/ #1841
* T

[2017-12-14 18:42] galexrt commented on #1314
@bassam This is something we need to fix on our side by providing a broader `securityContext` and every user of OpenShift needs to change their `PodSecurityPolicy` to allow the rook `securityContext`.

[2017-12-14 18:52] bassam commented on #1314
so if we change our container images to run as a random user we can avoid all of this?

[2017-12-14 18:54] galexrt commented on #1314
@bassam Most of our containers need to run as root. Adding a "correct" `SecurityContext` allows us to do that as long as the users PSPs allow it, for which we can add a doc about it.

[2017-12-14 18:58] bassam commented on #1314
I was thinking of supporting the guidelines OpenShift declares here: https://docs.openshift.org/latest/creating_images/guidelines.html (see "Support Arbitrary User IDs")

[2017-12-14 20:57] leseb commented on #1314
I'm supporting @bassam on this. I think we should comply with security instead of working around it and asking users to change their setup.

[2017-12-14 22:02] dangula opened #1316 "Test flags are not being initialized."
Test flags are not being initialized. Test flags are showing up but they are always asociated with the default values. this happed after fixing https://github.com/rook/rook/issues/1262.  where we removed flags.Parse() test EnvironmentManifest. Testify depenency is calling flag.Parse() defore the test flags are called. But calling flags.Parse() in EnvironmentManifest is causing Testify flags to not

[2017-12-14 22:32] #1227 closed

[2017-12-14 22:41] jbw976 commented on #1316
ah, this sounds like a bit of a circular dependency between our flags being declared and parsed and the testify flags being declared and parsed.  do you understand the fix yet that would work for all sets of flags @dangula? (are there other flags we need to worry about to?)

[2017-12-15 00:02] tangfeixiong opened #1317 "make ceph image failure as my VM just has one core"
**Bug Report**

What happened:

In _./images/ceph/build-ceph.sh_, line 20, make ceph failed as passing invalid jobs: -j0
[code]

How to reproduce it (minimal and precise):

[code]

[2017-12-15 00:39] dangula commented on #1316
i think i understand the fix, i was reading about flags and init online, people there was recomending not using flag.Parse and init() in a general purpose package, they suggest using it in a package that will be only called once.  I moved the init () from installer package to  objects package and looks like all the flags are bing declared parsed correctly, i will do some more testing and open a PR

[2017-12-15 00:41] kraman opened #1318 "API server crash asking for POD_NAME and POD_NAMESPACE envs"
**Bug Report**

What happened:

api server error:
[code]

What you expected to happen:

API server should start succesfully

How to reproduce it (minimal and precise):

installed with:
[code]

cluster def:
[code]

pod status
[code]

**Environment**:
* OS (e.g. from /etc/os-release):
ubuntu 16.04
* Kernel (e.g. `uname -a`):
Linux node1 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x

[2017-12-15 07:59] #1238 closed

[2017-12-15 16:13] kokhang commented on #1318
@travisn this smells like it could be a regression from https://github.com/rook/rook/pull/1299. Can you verify?

[2017-12-15 16:20] travisn commented on #1318
Yes, it is related to #1299. If you upgrade you will hit this. The new api container expects to have these new properties in the pod spec, but the pod spec won't be upgraded without another step. I will think through this upgrade scenario to make it more smooth.

For now, the workaround to get the rook-api pod running again would be:
- `kubectl -n rook delete deploy rook-api`
- `kubectl delete -f

[2017-12-15 17:13] #1247 closed

[2017-12-15 17:35] patrickstjohn opened #1320 "docs: Include loading kernel module rbd required for block storage mount"
Running RHEL 7.3 with Kubernetes 1.8.3 and latest rook master (v0.6.0). PCV's stuck in pending and rook toolbox mount command failed with errors relating to missing kernel module. A simple "modprobe rbd" on the host solves the problem. Might be worth adding it to the troubleshooting page or include documentation in the prerequisites section to document assumptions that are made for what is install

[2017-12-15 18:02] bassam commented on #1314
You can reproduce this with [`minishift`](https://docs.openshift.org/latest/minishift/getting-started/quickstart.html) easily:

[code]

[2017-12-15 18:15] kokhang commented on #1320
@patrickstjohn this is a workaround but i would like to know what the root cause is. The rook-agent should be able to do this operation here: https://github.com/rook/rook/blob/master/pkg/daemon/agent/flexvolume/manager/ceph/manager.go#L80

I would like to know what in openshift is causing this to fail.

[2017-12-15 21:30] bassam commented on #1314
FWIW, I got Rook running on openshift (minishift) by doing the following:

[code]

Now edit the restricted SCC policy as follows:

[code]

chance the following values:

[code]

Now launch the rook operator:

[code]

finally modify the dataDirHostPath to point to /mnt/sda1/rook since this is the only path in minishift that actually has space (vs. tmpfs).

and then run

[code]

the Rook cluster is u

[2017-12-15 21:34] bassam commented on #1314
@leseb I think we can remove the `RunAsAny` policy by modifying the rook images to support running as `uid != 0`.

`allowHostDirVolumePlugin` should eventually be removed when we support local storage.

`allowHostNetwork` is optional.

`allowPrivilegedContainer` might also go away if we can get local storage to do disk prep, but we are still going to need it for rook-agent I think. Would love to f

[2017-12-15 22:19] #1316 closed

[2017-12-16 05:59] kraman commented on #1318
@travisn I was doing a completely new installation of rook when I encountered this issue so Its not an upgrade problem. Ive currently worked around it by editing the deployment and manually adding the required env vars

[2017-12-16 06:47] dangula opened #1323 "Build CI : Add K8s 1.9 to build pipeline"
*CI update

Add k8s 1.9.0 to Integration tests stage of build pipeline

[2017-12-16 18:37] patrickstjohn commented on #1320
Sorry, I should have mentioned this is a Rancher deployment on stock RHEL 7.3. We're running the most recent stable build of Rancher. I'll do some more testing this week and see if I can track down root cause or at least better error tracing.

[2017-12-17 07:37] AceHack opened #1324 "Please support K8s on windows"
Please add support for K8s on windows

[2017-12-17 18:20] AceHack opened #1325 "rook-api Error syncing pod on Azure AKS"
**Bug Report**

What happened:
rook-api failed to start

What you expected to happen:
rook-api to start

How to reproduce it (minimal and precise):

Create AKS cluster 1.8.1 on Azure, 5 node, 300GB SSD OS Drive
Upgrade AKS cluster to 1.8.2
helm install --name rook --namespace rook-system rook-alpha/rook --set rbacEnable=false
kubectl create -f rook-cluster.yaml

Files included

[RookError.zip](htt

[2017-12-17 18:22] galexrt commented on #1325
@AceHack Are there any logs produced for the rook-api Pod when it crashes?

[2017-12-17 18:40] AceHack commented on #1325
root@rook-tools:/# ceph status
  cluster:
    id:     3d3e5578-0b99-4529-bc2c-adfeeaacbc87
    health: HEALTH_OK

  services:
    mon: 3 daemons, quorum rook-ceph-mon1,rook-ceph-mon0,rook-ceph-mon2
    mgr: rook-ceph-mgr0(active), standbys: rook-ceph-mgr1
    osd: 5 osds: 5 up, 5 in

  data:
    pools:   0 pools, 0 pgs
    objects: 0 objects, 0 bytes
    usage:   105 GB used, 1448 GB / 1553 GB ava

[2017-12-17 18:42] AceHack commented on #1325
2017-12-17 18:37:57.483751 I | rook: starting Rook v0.6.0-96.g043cd8b with arguments '/usr/local/bin/rook api --config-dir=/var/lib/rook --port=8124 --hostnetwork=false'
2017-12-17 18:37:57.483839 I | rook: flag values: --admin-secret=*****, --ceph-config-override=, --cluster-name=rook, --config-dir=/var/lib/rook, --fsid=, --help=false, --hostnetwork=false, --log-level=INFO, --mon-endpoints=rook-c

[2017-12-17 19:01] AceHack opened #1326 "Create tools to autocleanup dataDirHostPath"
Please create in tools a way to run a single command line to clean up all dataDirHostPath from all hosts when reinstalling.

[2017-12-17 23:50] kokhang commented on #1326
I think a better way to handle this would be to have the cluster listen for sig term signal and cleanup this directory when it happens

[2017-12-17 23:52] kokhang commented on #1325
This may be a dup of https://github.com/rook/rook/issues/1318.

Can you try the workaround steps on that issue?

[2017-12-17 23:53] kokhang commented on #1324
What errors are you seeing on Azure Container Service? I believe it should work.

[2017-12-18 03:35] AceHack commented on #1324
I'm using AKS right now, not ACS.  AKS only has linux worker nodes until the first of the year.  I didn't think ceph or this was supported on windows worker nodes which is why I asked.  I'll try and setup a ACS cluster with windows worker nodes for testing and let you know once I get the AKS linux worker nodes working first.

Thanks.

[2017-12-18 03:38] AceHack commented on #1325
I don't see the work around.

He says "I was doing a completely new installation of rook when I encountered this issue so Its not an upgrade problem. Ive currently worked around it by editing the deployment and manually adding the required env vars"

But does not mention what env vars to add.

[2017-12-18 03:39] AceHack commented on #1318
@kraman I'm having similar issue, can you show me exactly what you changed so I can test it out?

[2017-12-18 07:43] beatlejuse commented on #1278
the problem came back again.
i'm restarting one node and after this, service can't connect to ceph.
`kubectl get po --all-namespaces -o wide
NAMESPACE      NAME                                    READY     STATUS              RESTARTS   AGE       IP           NODE
monitoring     prometheus-54968887c9-k9fjm             0/1       ContainerCreating   0          5m        <none>       10.1.29.22
rook-

[2017-12-18 08:10] abh commented on #1305
FWIW, I only had a few PV's in use, so I backed them up, deleted everything rook and started over using the block devices from the beginning.

[2017-12-18 09:01] AceHack commented on #1325
I got it working when using master helm chart instead of alpha helm chart

[2017-12-18 09:29] AceHack opened #1327 "rabbitmq not binding to block storage"
**Bug Report**

What happened:
rabbitmq failed with:
PersistentVolumeClaim is not bound: "rabbitmq-rabbitmq" (repeated 5 times)

What you expected to happen:
rabbit to start sucessfully

How to reproduce it (minimal and precise):

Create AKS cluster 1.8.2 on Azure, 5 node, 300GB SSD OS Drive
[code]
Logs
[code]

[2017-12-18 09:40] AceHack commented on #1327
Here is what rabbit logged:

NAME:   rabbitmq
LAST DEPLOYED: Mon Dec 18 04:14:11 2017
NAMESPACE: default
STATUS: DEPLOYED

RESOURCES:
==> v1beta1/Deployment
NAME               DESIRED  CURRENT  UP-TO-DATE  AVAILABLE  AGE
rabbitmq-rabbitmq  1        1        1           0          1s

==> v1/Pod(related)
NAME                                READY  STATUS   RESTARTS  AGE
rabbitmq-rabbitmq-8549bd9556-

[2017-12-18 09:44] AceHack commented on #1327
Here is the claim:

{
  "kind": "PersistentVolumeClaim",
  "apiVersion": "v1",
  "metadata": {
    "name": "rabbitmq-rabbitmq",
    "namespace": "default",
    "selfLink": "/api/v1/namespaces/default/persistentvolumeclaims/rabbitmq-rabbitmq",
    "uid": "cf720778-e3d3-11e7-84fd-0a58ac1f0abb",
    "resourceVersion": "20589",
    "creationTimestamp": "2017-12-18T09:14:11Z",
    "annotations": {

[2017-12-18 10:05] galexrt commented on #1327
@AceHack Please also post the logs of the rook-operator as a gist.

[2017-12-18 13:40] leseb commented on #1314
@bassam I couldn't get it working with your procedure. I already had most the options except:
[code]
Which does not seem to improve the situation.
I'm still stuck on `failed to generate mon config files. failed to create keyring directory for /var/lib/rook/rook-ceph-mon0/keyring: mkdir /var/lib/rook/rook-ceph-mon0: permission denied`.

Which seems valid to me.
What did I miss?

[2017-12-18 14:26] AceHack commented on #1327
@galexrt https://gist.github.com/AceHack/d0779b9f9935f2ad412e2dc0afe77a3a

[2017-12-18 14:29] AceHack commented on #1327
Okay thanks for pointing me to your logs. I may have found the issue.

pool missing required overwrite support

http://tracker.ceph.com/projects/ceph/wiki/Osd_-_erasure_coding_pool_overwrite_support

I'm going to try a replica pool instead of ec pool, I'll let you know how it goes.
Thanks.

[2017-12-18 15:31] bassam commented on #1326
When we move to local storage #796 the admin would need to remove the PV for the OSD explicitly, and that can be done from kubectl.

[2017-12-18 15:32] bassam commented on #1314
@leseb are you sure you modified the restricted oss policy `oc edit scc restricted`?

[2017-12-18 15:43] DanKerns commented on #1327
@AceHack , @galexrt : It looks like this is supported but you need to enable it.  See: http://ceph.com/community/new-luminous-erasure-coding-rbd-cephfs/

You need to run a command like `ceph osd pool set POOL_NAME allow_ec_overwrites true`

I wonder how Rook should enable this through the CRD's or if it should always be enabled.

[2017-12-18 15:58] AceHack commented on #1327
Using replica worked great, thanks for all the help!!

[2017-12-18 15:59] AceHack commented on #1327
@galexrt I would rather use ecpool, would love to know how to enable that!!  Thanks.

[2017-12-18 16:00] leseb commented on #1314
@bassam yup,

[code]

[2017-12-18 16:07] DanKerns opened #1328 "Object store metadata should have the same durability as object store data"
**Feature Request**

What should the feature do:

When you create an object store various ceph pools are created. The data pool(s) are created with the durability settings from the CRD but the metadata pools are always replicated. The metadata pools should have the same durability settings as the data pools by default (could be overridden for performance?)

What would be solved through this featur

[2017-12-18 16:08] bassam commented on #1314
@leseb did you make other changes to the cluster from prior runs? For example `oc adm policy add-scc-to-user anyuid -z default -n rook` and others? I started with a clean minishift cluster.

[2017-12-18 16:12] leseb commented on #1314
@bassam I might have done all sort of things like yes...

[2017-12-18 16:15] galexrt commented on #1327
@AceHack I suggest you checkout https://rook.io/docs/rook/master/toolbox.html to run the rook toolbox, which allows you to run the command written by @DanKerns.
If you can join our Slack, I can guide you through the procedure.

[2017-12-18 17:40] kokhang commented on #1048
Needs to revert this issue in order to get prometheus metrics thru the ceph-mgr working.

[2017-12-18 17:47] travisn commented on #1204
@dgonzalezruiz do you have a new PR for this issue? Would be great to have this soon. Thanks!

[2017-12-18 17:48] travisn commented on #1068
need to check with the ceph team if there is any way we can accelerate the deletion of the bucket.

[2017-12-18 17:55] kokhang commented on #1324
@AceHack sorry for the confusion. Azure Container Service is AKS. I got it to work a few months back. Azure was spinning debian based VMs to create the kubernetes clusters.

What errors are you seeing from AKS?

[2017-12-18 17:55] #1293 closed

[2017-12-18 17:59] jbw976 commented on #1315
Adding to the 0.7 milestone so we can perhaps address some of the higher priority pipeline.  The openshift one is sounding more important and the Ceph guys may be able to get us set up with an env for our CI.

[2017-12-18 18:03] travisn commented on #1325
Ok, if you are using the alpha helm chart, you would need to use the alpha rook-cluster.yaml that still has the `versionTag` property. For example, see https://github.com/rook/rook/blob/release-0.6/cluster/examples/kubernetes/rook-cluster.yaml

[2017-12-18 18:03] jbw976 opened #1329 "docs: explain "too few PGs per OSD" warning"
In a lot of scenarios, the ceph status will show something like `too few PGs per OSD (25 < min 30)`, which can be fairly benign.  The consequences of too few PGs is much less severe than the consequences of too **many** PGs, as explained in this ceph blog post:
http://ceph.com/community/new-luminous-pg-overdose-protection/

We should mention this in the docs/FAQs somewhere.

[2017-12-19 01:41] dangula opened #1330 "Agent cannot discover flexvolume directory in K8s 1.9"
**Bug Report**

What happened:
 Cannot mount volumes on k8s 1.9.0. Rook Flexvolume is not being installed on k8s 1.9.0. Integration smoke test  is failing on k8s 1.9.0. Please see attached kubelet and rook pod logs.
For the logs it looks like rook operator pod is not finding the flexvolume dir.
[kubelet.log](https://github.com/rook/rook/files/1570014/kubelet.log)
[Operator.log](https://github.com/

[2017-12-19 01:51] solarhess commented on #1318
@kraman i am having the same problem as well. When I create the operator using the cluster/examples/kubernetesrook-operator.yaml, it seems to work fine. However when I use the helm chart, the api fails to run.

[2017-12-19 02:21] AceHack commented on #1327
Is there any reason this can't be turned on by default or at least with a flag when creating the pool?

[2017-12-19 02:36] travisn commented on #1318
@AceHack @solarhess Can you confirm if you are using the same version of helm chart and manifests? It sounds like you are using the alpha helm chart with the manifests from master.

If you are using the alpha helm chart, you would need to use the alpha rook-cluster.yaml that still has the `versionTag` property. For example, see https://github.com/rook/rook/blob/release-0.6/cluster/examples/kuberne

[2017-12-19 03:51] jbw976 commented on #1330
I wonder if the format of the configz response changed again, or if there is a new type that captures the volume plugin dir.  I hope this doesn't have the same root cause as #1282, where the Kubelet root dir isn't returned at all anymore.

We should be able to debug this fairly easily by hitting the configz endpoint manually, or by adding some temp logging to https://github.com/rook/rook/blob/c1a8

[2017-12-19 05:55] AceHack commented on #1318
Which one is the newer of the two?  alpha or master?

[2017-12-19 05:58] AceHack commented on #1325
which one is the newer of the two?  master or alpha?

[2017-12-19 05:59] AceHack commented on #1324
I got rook working in AKS in Q1 they are adding windows server 2016 worker roles.  I would like to be able to use rook then.  Thanks.

[2017-12-19 06:09] travisn commented on #1318
alpha is the latest release (v0.6.2). Master is the latest that has been committed and will eventually become the v0.7 release.

[2017-12-19 06:27] travisn commented on #1053
We need to publish the yaml files with the release. #1318 and #1325 are both a result of the same underlying cause of users who run the `alpha` version of the operator and then use the yaml from `master`. Since master is not backward compatible with the current `alpha`, users are seeing errors.

[2017-12-19 06:37] travisn commented on #1327
We do set this property for EC pools that are used by the file system. I believe we should just set it automatically by default as well for any EC pool, but still need to read the docs closer to confirm if there is a reason not to do that.

[2017-12-19 06:40] travisn commented on #1325
Let's track this issue with #1318

[2017-12-19 06:40] #1325 closed

[2017-12-19 06:41] travisn commented on #1318
#1053 is the fix for this issue so we make sure the correct versions of the yamls are available

[2017-12-19 07:20] AceHack commented on #1327
@travisn @galexrt

I just ran the command and got a new error

ERROR: logging before flag.Parse: E1219 07:18:54.728748       8 goroutinemap.go:165] Operation for "provision-default/test-pv-claim[db845fce-e48c-11e7-84fd-0a58ac1f0abb]" failed. No retries permitted until 2017-12-19 07:18:55.728730578 +0000 UTC m=+81378.587054464 (durationBeforeRetry 1s). Error: Failed to create rook block image ec-bl

[2017-12-19 07:25] AceHack commented on #1327
If it's any help I have my sc yaml too

apiVersion: rook.io/v1alpha1
kind: Pool
metadata:
  name: ec-block-pool
  namespace: rook
spec:
  erasureCoded:
    dataChunks: 2
    codingChunks: 1
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: rook-ec-block
provisioner: rook.io/block
parameters:
  pool: ec-block-pool

[2017-12-19 08:48] leseb commented on #1314
I'm just not sure how is this impacting the deployment.

[2017-12-19 14:34] beatlejuse commented on #1278
it's real big problem.
today in another k8s cluster appear this problem WITHOUT any changes, after 4 days of clucter was build.
i'm rebuild cluster and this problem appear immediateli after cluster was build and some services was deploying into it.
when i'm deploing another service, it's can't connect to ceph fs.
after this, any services can't connect to ceph:
https://gist.github.com/beatlejuse/63

[2017-12-19 15:14] beatlejuse commented on #1278
logs1:
https://gist.github.com/beatlejuse/93b13a12a33e84b2d901faa7db8fabb5
logs2:
https://gist.github.com/beatlejuse/262517d18666b81df16f469343355320
ceph osd tree:
https://gist.github.com/beatlejuse/737a2119f197baa82ec0f60b4de929a1

[2017-12-19 16:33] bassam commented on #1314
it's likely that that OpenShift is binding the service account to a different scc. Can you try on a fresh install? Does it work for you on minishift?

[2017-12-19 19:00] aramisjohnson opened #1331 "Bad disk should not cause osd pod to crash loop"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
The osd pod on the node that contains the bad disk will crashloop with the following error in its log

[code]

What you expected to happen:
Rook should notify that there is a bad disk, continue starting osd processes and the osd pod should be in a running state.

How to reproduce it (minimal and precise):
Instal

[2017-12-19 20:14] kokhang commented on #1278
Hi @beatlejuse one thing that i noticed from the log is that you are running Rook v0.6.0-38.gdf22444. This build does not have a fix for an issue that causes the rook-api to use 100% cpu. This causes the whole node to be degraded and a lot of other issues could come from it. This is the bug: https://github.com/rook/rook/issues/1195. I suggest you to use Rook v0.6.1 at a minimum.

From the logs i s

[2017-12-20 01:30] patrickstjohn commented on #1320
It looks like this was an error with an older kernel that RHEL was on. We upgraded from 3.x to 4.x and this kernel module loaded right up without a problem.

[2017-12-20 02:42] kokhang opened #1332 "Deleting a object store with erasure code does not delete the erasure code profile"
When deleting a object store CRD which was created with a erasureCoded profile, the erasureCoded profile is not deleted. ErasureCoded profile to be deleted as well.

How to reproduce it (minimal and precise):

1- Create object store CRD. Ensure it has erasure code settings like data and coding chunks.
2- Delete the object store CRD
3-  Using the rook-tools, execute `kubectl -n rook exec rook-tools

[2017-12-20 10:33] beatlejuse commented on #1278
I upgraded to 0.6.2.
CPU loading API has decreased significantly.
reset successively all three master nodes.
the problem with the connection to the file system are not observed.
I will try to conduct all the tests again in a few days.

[2017-12-20 11:21] leseb commented on #1314
Retried from a scratch OpenShift and I'm still getting the permission denied problem. I'm not sure how changing `dataDirHostPath` to point to `/mnt/sda1/rook` solves anything. I use the default location. Even in your case

`failed to generate mon config files. failed to create keyring directory for /var/lib/rook/rook-ceph-mon0/keyring: mkdir /var/lib/rook/rook-ceph-mon0: permission denied`.

[2017-12-20 15:54] bassam commented on #1314
@leseb I agree the `dataDirHostPath` is independent and only needed for minishift. Are you on open shift `v3.6.0`? I only tried with `v3.7.0`. I think we should just proceed with making sure the containers can run with any uid.

[2017-12-20 15:57] galexrt commented on #1327
@AceHack Could you try the same with a `replicated` pool, see https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-pool.yaml#L10-L11.

I'm guessing that there is more than just this one command to watch out for when using an erasure coded pool for RBD (and CephFS) as can be seen in this section in the Ceph docs see http://docs.ceph.com/docs/master/rados/operations/erasure-code

[2017-12-20 16:00] AceHack commented on #1327
@galexrt yeah replicated pool works fine, I was just really hoping to use EC pool.  Is this expected to be supported in the future?

[2017-12-20 16:40] leseb commented on #1314
@bassam agreed, let's fix the container image and stop the thread here :).

[2017-12-20 16:44] kokhang commented on #1324
Rook currently uses ceph for its backend storage solution and ceph is primarily run in Linux and depends on kernel modules. I'm not sure if ceph could run on windows

[2017-12-20 18:28] galexrt commented on #1331
I think a good way for a notification to the user would be through the already existing metrics for the OSD status (up in this case), this in combination as @aramisjohnson wrote that the other OSDs are still started would do the trick to see failed disks then.

[2017-12-20 19:11] #1332 closed

[2017-12-21 02:37] jefflaplante opened #1335 "Add Resource limits to rook component pods"
Pods don't have resource requests/limits in place. This allows the various rook components to consume inordinate amounts of host resources - especially RAM.

Please reference this issue that hasn't been touched since 2016: https://github.com/rook/rook/issues/293

Can we please have sane limits applied to the rook component pods as per this documentation on pod resource limits?:
https://kubernetes.

[2017-12-21 02:58] jbw976 commented on #1335
Hi @jefflaplante, did you already try out the fairly new resource limiting features in your Rook Cluster yaml?
Docs: https://rook.io/docs/rook/master/cluster-crd.html#resource-requirementslimits
Sample: https://rook.io/docs/rook/master/cluster-crd.html#resource-requestslimits

[2017-12-21 04:43] jefflaplante commented on #1335
Hi @jbw976 - No, I didn't see this. I'm sorry I missed it. Excellent! Looks like it's already been taken care of with that. I see in the cephs docs that they recommend 1G of ram per daemon - what can be done to tune this for systems with ram constraints (digital ocean droplets don't have gobs of ram available to them for modest 2vcpu VMs.)

Secondly - what is the preferred method for adding these

[2017-12-21 09:57] beatlejuse commented on #1278
after testing reboot the node, there is a problem with the mons:
ceph -s
https://gist.github.com/beatlejuse/089507aee7c56318b9ef3e8206ba3831
ceph osd tree
https://gist.github.com/beatlejuse/b6d5534d9313802ccc29e6100dae2b6a
logs1
http://www.filehosting.org/file/details/714825/rook-logs.gz
logs2
https://gist.github.com/beatlejuse/18070675f9833c4d06790f3a32bf1cba

[2017-12-21 09:59] beatlejuse commented on #1278
how can I fix this until we fix the automatic rebuilding of OSD?

[2017-12-21 10:19] lorenz commented on #815
Still happening on 0.6.1:
[code]

[2017-12-21 10:33] jpds commented on #1335
Your pod's status will go from `Running` to `OOMKilled`.

[2017-12-21 10:42] christianhuening opened #1336 "Documentation missing for required PSP mapping for rook-agent ServiceAccount"
Is this a bug report or feature request?

* Feature Request

**Feature Request**

We have a privileged PodSecurityPolicy running in our cluster and we also have the PodSecurityPolicy (PSP) Controller activated. So we had to figure out that we need to create a ClusterRoleBinding for the 'rook-agent' ServiceAccount in our setup. I think this information is lacking from the docs and would be very hel

[2017-12-21 11:38] christianhuening opened #1337 "Allow to change the ServiceAccount with which the rook mon,osd,mgr pods are created"
Is this a bug report or feature request?

* Feature Request

**Feature Request**

Are there any similar features already existing:
no
What should the feature do:
Allow users to specify a ServiceAccount other than "default" to run the rook mon, mgr etc. Pods in the desired namespace.

What would be solved through this feature:
It would allow to explicitly bind RBAC rules and PSP Roles to that servi

[2017-12-21 12:58] jpds opened #1338 "Object store instance fails to initialize: invalid character '-' after top-level value"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:

I tried to bring up an object store instance with:

[code]

It failed to come up with this in the operator logs:

[code]

The only way I could see this failng was because the `rgw` pod didn't come up, `rookctl status` and `ceph health` were fine.

**Environment**:
* OS (e.g. from /etc/os-release): Debian 9
* Ker

[2017-12-21 13:01] jpds opened #1339 "Removing object store causing operator to crash"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened: My object store creation failed so I tried to remove it with:

`kubectl delete -f rook-object.yaml`

I noticed that the operator then went and did:

[code]

**Environment**:
* OS (e.g. from /etc/os-release): Debian 9
* Kernel (e.g. `uname -a`): 4.13
* Cloud provider or hardware configuration: Bare metal
* Rook ve

[2017-12-21 13:07] jpds opened #1340 "Example object store YAML not working on 1.8"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened: The example object store config at: https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-object.yaml#L2 states:

[code]

But when I try and run this on my 1.8.2 cluster, I get:

[code]

Changing `ObjectStore` to `Objectstore` makes it succeed (and later causes #1339, I believe).

**Environmen

[2017-12-21 13:15] leseb opened #1341 "osd: use one osd per pod"
**Feature Request**

Are there any similar features already existing: yes, in ceph-helm

What should the feature do: bootstrap one osd per pod

What would be solved through this feature: debugging an osd would be easier, we will just `kubectl exec <pod>` and get into the container

Does this have an impact on existing features: a migration procedure is needed

[2017-12-21 13:17] leseb opened #1342 "osd: use ceph-volume to bootstrap osd"
**Feature Request**

Are there any similar features already existing: no

What should the feature do:

What would be solved through this feature: we should use the `ceph-volume` utility to bootstrap the osds instead of the manual method currently in place

Does this have an impact on existing features: yes, rework the way Rook knows its devices (no more 'ROOK' partlabel)

[2017-12-21 13:18] leseb opened #1343 "ci: add openshift origin provider"
**Feature Request**

Are there any similar features already existing: no

What should the feature do: test Rook on OpenShift

What would be solved through this feature: running/testing Rook on OpenShift

Does this have an impact on existing features: no

[2017-12-21 13:21] leseb opened #1344 "image: reconcile upstream ceph-container image with rook image"
**Feature Request**

Are there any similar features already existing: no

What should the feature do: change the current rook image to use some of the content of the image present in https://github.com/ceph/ceph-container

What would be solved through this feature:

Does this have an impact on existing features: should not, we are going to split the https://github.com/ceph/ceph-container image int

[2017-12-21 13:26] leseb opened #1345 "osd: split osd bootstrap into 2 container"
**Feature Request**

Are there any similar features already existing: yes, in https://github.com/ceph/ceph-ansible

What should the feature do: it should use an init container to do the 'prepare' of the osd and then use another container for the 'activation' only

What would be solved through this feature: might solve the privilege container for osd

Does this have an impact on existing features:

[2017-12-21 13:31] jpds commented on #1323
Could also be useful to enable another pipeline with the IPv6 alpha feature in 1.9 enabled to catch bugs with that.

[2017-12-21 13:36] galexrt commented on #1343
@leseb There is already issue to do that, see https://github.com/rook/rook/issues/1315

[2017-12-21 13:41] leseb commented on #1343
@galexrt sorry about that, closing this in favour of #1315

[2017-12-21 13:41] #1343 closed

[2017-12-21 13:49] galexrt commented on #1327
@AceHack I personally wouldn't use EC pools for any other use cases than object store because I think that there is a good reason why the Ceph docs state:

I think that we should discuss this topic further to see we should really support EC pools for other uses than object store.

[2017-12-21 14:02] galexrt commented on #815
@lorenz Could you please enter the rook Ceph mgr pod (or any other Pod on the same node as the crashing mgr Pod), run `rook version` in it and post the output here.

[2017-12-21 14:31] lorenz commented on #815
It stopped happening as soon as I recreated the ObjectStore I just created. But here you go:
[code]

[2017-12-21 15:20] jpds commented on #1340
This works fine on my new test 1.8.5-based Kubernetes with 0.6.2 rook.

[2017-12-21 16:40] travisn commented on #1340
The only time I would expect that error is if the operator has not been started. If you see this again can you check if the operator is running. Otherwise, want to close this?

[2017-12-21 16:41] jpds commented on #1340
The operator was running at the time, but I'll close this for now as the new cluster is fine.

[2017-12-21 16:41] #1340 closed

[2017-12-21 16:44] DanKerns commented on #1327
@galexrt the very next sentence in the document you reference indicates that since Luminous they are supported with some caveats.  These are things the operator can easily support.

[2017-12-21 17:44] liewegas commented on #1344
@bassam I don't think it is worth the effort to manually maintain a dependency list to reduce the container size.  How much does this really matter, and is it worth slowing us down at this point?

Do you have numbers on how much of a difference it makes?  Qualitative sense?

Perhaps we can remove some stuff entirely from mimic (e.g., fcgi) to help out some?

[2017-12-21 17:47] liewegas commented on #1341
This is probably a pre-req for #1342 and #1345?

[2017-12-21 17:56] liewegas opened #1347 "Ceph: config: revisit cluster CRD defaults (paths, namespaces, ...)"
Several things stood out when looking at the cluster CRD:

- the default path, if not specified, makes rook use emptyDir.  defaulting to an emphemeral clsuter seems like a very dangerous/bad default!
- /var/lib/ceph/$namespace for the default instead of /var/lib/rook?  makes it very confusing (esp inside containers) when things are in default locations.
- drop cluster name inside ceph container?

[2017-12-21 18:37] kokhang commented on #1341
Wouldnt this make it hard to manage on large clusters with multiple hosts and each hosts with multiple devices? We could have 100s of pods on just regular 3-5 node-clusters each with ~20 devices.

How about running one osd per container?. That way we can group all the osd containers in one pod.

Another reason we run one osd pod per host is to have the support for auto-discoverability of devices.

[2017-12-21 18:57] kokhang commented on #1335
@galexrt @jpds would the pod be evicted as a result of the resource limitation? And when that happens, wouldnt kubernetes controller deploy a new OSD or a new mon in order to satisfy the state?

[2017-12-21 19:06] dmick commented on #1336
...and by PSP you mean Pod Security Policy.

[2017-12-21 19:20] jpds commented on #1335
@kokhang Yes, but it would come up and eventually hit the same resource limit ceiliing once more and repeat.

[2017-12-21 19:36] kokhang commented on #1347
@liewegas one thing Rook is doing with the cluster CRD is to avoid exposing information about the underlying storage backend. Even though ceph is currently the only storage backend, I would like to make the Rook API (CRD) generic enough so that more storage backends can be added in the future.

You are right about the need to revisit the CRD. How about having a `ceph` element under `spec` for all

[2017-12-21 19:50] kokhang commented on #1339
@jpds the issue with `Objectstore` vs `ObjectStore` is that the former was created using TPR and the latter, it is expecting to find a CRD.

Did you deploy rook and the object store on a k8s 1.6 and then upgraded k8s?
We have a doc on this. https://github.com/rook/rook/blob/master/Documentation/upgrade.md#upgrading-kubernetes

I am hoping that once we have automatic upgrade done, we can solve this

[2017-12-21 20:00] liewegas commented on #1341
Note that we need device enumeration that is visible to external agents no matter what.  The dashboard will want to present devices and allow a user to manage them (deploy osds, replace failed or failing devices, etc.).  Doing this within the osd pod was probably a convenient shortcut to avoid that until now, but makes less sense going forward.

[2017-12-21 20:02] kokhang commented on #1338
@jpds i noticed you are using `kind: Objectstore`. Since you are running on 1.8.2, your kind should be kind: ObjectStore. But i doubt this is the issue.

Can you attach to the operator-pod and run `radosgw-admin realm list --cluster=rook --conf=/var/lib/rook/rook/rook.config --keyring=/var/lib/rook/rook/client.admin.keyring --format json
`? What do you get?

[2017-12-21 21:09] liewegas commented on #1347
Yeah that makes sense.

Does hostNetwork affect rook, or just ceph?  Seems like it might just be ceph?

Ceph's dataDir should probably be dataDirHostPath?  There is no reason to make it anything else inside the container.  Is this the host path it binds to (e.g., with a namespace subdirectory inside it, then bind mounted to the container's /var/lib/ceph)?

[2017-12-21 21:34] christianhuening commented on #1336
yes, updated it in the description

[2017-12-21 21:46] jbw976 commented on #679
This appears to be fixed nowadays, I see glog statements in the operator logs.  I'm not sure of a specific change that fixed it though, any ideas?

[2017-12-21 22:47] christianhuening commented on #1336
I added documentation for PodSecurityPolicies and created a PR: https://github.com/rook/rook/pull/1348

[2017-12-21 23:29] jpds opened #1349 "Integration for RGW host style bucket domains"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: No

What should the feature do: AWS has a concept of a "host style bucket" domains, where clients can be configured to go to:

[code]

- https://github.com/aws/aws-sdk-go/blob/master/service/s3/host_style_bucket.go

Rook could potential implement this with the help of a

[2017-12-21 23:32] jpds commented on #1349
Seems Kubernetes does not support wildcard ingress definitions (kubernetes/kubernetes#41881). For now, I'd be happy to have separate ingress definitions which point to the same RGW instance (which using wildcard DNS).

[2017-12-21 23:35] jpds commented on #1349
I came across this while trying to find a fix for the issue I have in https://github.com/hashicorp/vault/issues/3728 .

[2017-12-21 23:40] jpds commented on #1339
I did upgrade this cluster from a 1.7 version (can't remember which to 1.8).

I'm not seeing this issue with my new 1.8 based cluster, so I'm going to close this.

[2017-12-21 23:40] #1339 closed

[2017-12-21 23:44] jpds commented on #1349
Potentially already implemented: https://github.com/rook/rook/blob/master/pkg/daemon/ceph/rgw/daemon.go#L89

Prehaps `Host` needs to be added to the YAML/documentation?

[2017-12-22 00:16] jefflaplante commented on #1335
So, the question remains - how do we 'right size' these pods based on projected usage of the Ceph cluster the pod components create? I restarted one of the host nodes on my small k8s cluster today and the memory usage of the ceph pods that were on it went down dramatically upon restart.

[2017-12-22 00:29] kokhang commented on #1162
@jbw976 this issue has come back with k8s 1.9.x. The node/proxy query doesnt give you the flexvolume dir. I think some of this work was refactor when adding the dynamic kubelet config support. Ill reopen this issue.

[2017-12-22 00:31] kokhang commented on #1330
I brought up a k8s 1.9.x and was able to verify that the volume gets mounted by the agent. There is an issue thought. @jbw976 the auto-discoverability of the flexvolume dir broke on 1.9. I reopened https://github.com/rook/rook/issues/1162.

Perhaps that is what @dangula is running into. @dangula did you change the flexvolume dir to a different one in the kubelet settings?

[2017-12-22 03:25] jbw976 commented on #1330
Thanks @kokhang, I'd prefer to track this k8s 1.9 issue in just one issue, so I'm going to leave this one open and close #1162 again.

[2017-12-22 03:25] jbw976 commented on #1162
A fix for k8s 1.9 will be tracked in #1330 where it was first observed that we can't detect the flexvolume dir at runtime in 1.9.

[2017-12-22 03:25] #1162 closed

[2017-12-22 08:46] abh opened #1350 "Filesystem mounts limited to a namespace"
**Feature Request**

What should the feature do:

It seems like a filesystem can be mounted by any pod in any namespace. It'd be nice if it was possible to limit a filesystem to only be mounted by pods in a certain namespace.

What would be solved through this feature:

Seperation of applications.

[2017-12-22 10:19] jpds commented on #1335
I suspect Ceph is doing a lot of caching for its day-to-day operations. In `rook-cluster.yaml` we already provide the user with the ability to specify resource limits - Helm as an example also does the same thing with not selecting defaults for their charts:

- https://github.com/kubernetes/charts/pull/1745#pullrequestreview-57125655

What would work for your 2 core droplets, isn't going to work f

[2017-12-23 01:01] pdgetrf opened #1351 "make build failure"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
"make build" failed on a t2.micro ubuntu

What you expected to happen:
everything built

How to reproduce it (minimal and precise):

t2.micro, ubuntu, master branch from rook.

sha256:5c0f368fb38b97f9fb64b62a60c82a301c3c6df1b3ac787ac1bc77f8e26eafbf
=== caching image build-8a9e159f/base-amd64
=== caching image bu

[2017-12-23 01:05] galexrt commented on #1351
The problem seems to be that the `build-ceph.sh` script does take the count of the CPU (`nproc`) and does minus one, which causes this to fail as seen above for machines with one CPU only.
https://github.com/rook/rook/blob/8491c1e7f62711386fa543a9a12660432c2e156b/images/ceph/build-ceph.sh#L20
This is the line where this happens.

[2017-12-23 18:43] galexrt commented on #1351
@pdgetrf I pushed a PR that should fix that by directly using `nproc` and doesn't do minus 1 on it.
See https://github.com/rook/rook/pull/1352

[2017-12-25 04:21] #1192 closed

[2017-12-25 08:32] beatlejuse commented on #1278
today I re-tested the reboot a node in the cluster.
the connection to the file system СЕРН is still not working.
https://gist.github.com/beatlejuse/fb7a225317d6d225a2aa9a1ccb920d7a
https://gist.github.com/beatlejuse/1aef1995955ed9e99db6604b7c7c6882
kubectl get svc --all-namespaces
https://gist.github.com/beatlejuse/0daa528cf0ddc4639bbc7e559e9237ed
ceph -s
https://gist.github.com/beatlejuse/a6305cd

[2017-12-26 02:22] StianOvrevage commented on #944
This should REALLY be present in the documentation. I came here to file this exact issue after messing around for an hour trying to find out what I was doing wrong.

[2017-12-26 12:10] jpds commented on #1341
I don't think this is an issue either, https://github.com/kubernetes/community/blob/master/sig-scalability/goals.md states that the goal for pods per machine is 500.

[2017-12-26 12:14] jpds commented on #1341
This would also tie in nicely with a bug I reported a while back about drive initialization errors (#718) where Rook can't directly detect drives failing within an 'jumbo' OSD pod managing multiple drives. A pod managing one drive could go into `Error` state while the rest of the pods on the hosts could carry on as normal.

[2017-12-26 12:16] jpds commented on #1331
This is a sort of duplicate of #718.

[2017-12-26 13:57] n-sviridenko opened #1354 "Ceph mons in CrashLoopBackOff"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:

After a NAS unit crash in the datacenter I use and a hard reboot after, the `rook-ceph-mon*` pods are in `CrashLoopBackOff` state:

[code]

The logs of one of the `rook-ceph-mon0-c5d9f` pod are following (other pods gave me similar logs):

[code]

What you expected to happen:

A successful recovery.

How to rep

[2017-12-26 15:09] galexrt commented on #1354
From our discussion on Slack:
I think that the Ceph Mon data may has become corrupted:
[code]
This seems to have happened for at least the Ceph mon the logs got posted for above.
@n-sviridenko Is currently running `smartctl` tests (seems to have directly attached disks and not a HW Raid controller) to see if one of the disks is marked as bad.

[2017-12-26 16:39] n-sviridenko commented on #1354
I uploaded rook logs on [Google Drive](https://drive.google.com/file/d/1gDwW-qYQGb49vq1i0q9QxTH8DAro_3aJ/view?usp=sharing).

[2017-12-26 16:40] travisn commented on #679
I saw the log statements when we moved to the k8s 1.8 client, but not sure what part of that update triggered the log statements

[2017-12-26 22:54] Ichbinjoe opened #1356 "PVC is pending with StorageClass "rook-block" not found"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
Rook complains that the `rook-block` storageclass does not exist.

What you expected to happen:
Rook creates the persistent volume claim for use.

How to reproduce it (minimal and precise):
Deploy rook (cluster/examples/kubernetes/rook-operator.yaml)
Create rook namespace
Deploy a rook clulster: https://gist.gith

[2017-12-27 04:00] jbw976 commented on #679
Ah okay thanks @travisn, there were a lot of moving parts in the update to k8s 1.8 client.  I'm glad whatever it was in there fixed it though, it's useful to have k8s logging in our components too.  Closing this issue.

[2017-12-27 04:00] #679 closed

[2017-12-27 18:41] travisn commented on #1278
To summarize the latest slack conversation...

Repro:
- Start the cluster (0.6.2)
- Verify the ceph health, all the mons are healthy and osds are `up` and `in`
- Create a filesystem
- Connect a pod to the filesystem
- Verify everything is healthy
- Start rebooting the nodes to verify resiliency.
- Observe the mons will become unhealthy and failover, and some osds will be `out`

@beatlejuse could y

[2017-12-28 02:22] jbw976 opened #1357 "rook.io docs site should link to Slack, not to gitter"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened: rook.io docs still have a link to gitter.

What you expected to happen: rook.io docs should be updated to point to Slack.

How to reproduce it (minimal and precise):
Navigate to https://rook.io/docs/rook/master/, see link in header that goes to gitter.

Offending code can be found at https://github.com/rook/rook.

[2017-12-28 07:50] beatlejuse commented on #1278
yes, i restarting the nodes one at a time.
I'll try to make a video ))

[2017-12-29 08:56] AceHack commented on #1327
@galexrt Should I make another top-level issue for EC pools and block storage?

[2017-12-29 16:55] galexrt commented on #1327
@AceHack Yes, that would be good.
I think we can close this issue as it seems to be caused by the operator not having the feature to enable the EC overwrite flag/toggle (`allow_ec_overwrites`) on Pools.
Is that okay for you?

[2017-12-29 17:06] travisn commented on #1327
Sounds good to open a new issue and reference this one. I was looking at a design for the changes so will comment on the new issue, thanks.

[2017-12-29 18:31] AceHack opened #1360 "Consider supporting EC pools for block storage class"
See https://github.com/rook/rook/issues/1327 for known issues with this scenario.

Looks like a few things would need to happen for this to work

Allow optional creation of EC pools that have "ceph osd pool set POOL_NAME allow_ec_overwrites true" enabled

This alone is not enough to support EC pools for block storage class, looks like there are two options to fully enabled it and it would be great

[2017-12-29 18:32] AceHack commented on #1327
Closing this issue and opening a feature request
https://github.com/rook/rook/issues/1360

[2017-12-29 18:32] #1327 closed

[2017-12-29 19:23] travisn commented on #490
Closing since `rookctl` is deprecated with the api service

[2017-12-29 19:23] #490 closed

[2017-12-29 19:50] travisn commented on #1360
Here are some thoughts on the Rook design to support the erasure coded pools for rbd:
1. Set all erasure coded pools to `allow_ec_overwrites true`. According to ceph docs, this should only be set on `bluestore` osds. Setting this on filestore is unsafe for writes.
1. Add `metadataPool` and `cacheTierPool `properties to the rook storage class, in addition to the `pool` property.
    - If only `pool

[2017-12-29 19:52] travisn commented on #1328
based on documentation linked from #1360 and investigating its design, it doesn't appear possible to use erasure coded pools for metadata, but I will try it to confirm.

[2017-12-29 20:01] liewegas commented on #1328
Correct: some EC pools do not support omap and cannot be used for rgw indexes or rbd metadata.

[2017-12-29 20:01] liewegas commented on #1328
or cephfs metadata

[2017-12-29 20:06] AceHack commented on #1360
This is very well thought out.  Thanks.

[2017-12-29 20:28] travisn commented on #1328
thanks @liewegas for confirming

[2017-12-29 20:29] #1328 closed

[2017-12-30 05:09] bassam commented on #1344
@liewegas the breakdown for rook images is as follows (all uncompressed sizes on amd64):

1. ubuntu base ~55MB
2. ceph runtime dependencies ~84MB (libboost, libcurl, libpython, etc.) see [here](https://github.com/rook/rook/blob/master/images/rook/Dockerfile.base#L23) for full list
3. ceph daemons ~155MB (these are built from source using cmake [dependency](https://github.com/rook/rook/blob/master/

[2017-12-30 06:41] bassam commented on #1344
Opened #1362 as a proof of concept of using published upstream ceph packages instead of building our own.

[2017-12-30 07:51] AceHack opened #1363 "I would like to preform some benchmarks in Azure"
I would like to compare Azure's managed disks in AKS vs rook on local temporary disks i.e. /dev/sdb1.

Two questions, can you suggest a good benchmark tool that I can install easily like with a helm chart in Kubernetes.  Second is there a way to force rook to use /dev/sdb1?

Also, do you have any suggestions for optimizing these tests?

https://docs.microsoft.com/en-us/azure/cloud-services/cloud-s

[2017-12-30 07:54] AceHack opened #1364 "Consider allow changing default block/chunk size in ceph"
According to this article, ceph speed could be increased for certain workloads by increasing the block/chunk size.  Please allow this to be configured in rook.io

https://www.networkcomputing.com/storage/gluster-vs-ceph-open-source-storage-goes-head-head/8824853

[2017-12-30 08:39] AceHack opened #1365 "Consider support for Local Persistent Storage PVCs"
It would be very interesting if rook.io could use Local Persistent Storage PVCs for ceph storage.

https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume

[2017-12-30 10:11] galexrt commented on #1365
There is already an issue for that to allow to utilize local storage for storage, see https://github.com/rook/rook/issues/796.

[2017-12-30 10:11] #1365 closed

[2017-12-30 10:16] galexrt commented on #1363
1. `fio` is a good tool to do rand read/write and I think also sequential read/write tests. I don't think there is a helm tool, but why not spawn the rook-toolbox with a PVC from Azure attached and then use the installed `fio` on the disk (examples https://github.com/axboe/fio/tree/master/examples).
2. Currently you can only use a full disk or a mounted directory. `sdb` would need to be empty (not

[2017-12-30 15:42] #1351 closed

[2018-01-01 04:31] sdboyer commented on #1177
hi folks - just saw this on a backlink on one of the dep issues. re: @bassam's workaround, https://github.com/rook/rook/issues/1177#issuecomment-342697060, i just wanted to quickly point you all to a [draft plan](https://docs.google.com/document/d/1j_Hka8eFKqWwGJWFSFedtBsNkFaRN3yvL4g8k30PLmg/edit#) for a command that will obviate the need for a hack like that.

hopefully we'll be able to get that

[2018-01-01 19:48] jpds opened #1366 "Leverage node labels for OSD CRUSH locations"
Is this a bug report or feature request?
**Feature Request**

Are there any similar features already existing: N/A

What should the feature do:

It would be good to have a way of setting node labels on Kubernetes nodes which the operator can then use to set OSD CRUSH locations: http://docs.ceph.com/docs/master/rados/operations/crush-map/#crush-location

This could also use `failure-domain.beta.kub

[2018-01-01 20:00] galexrt commented on #1366
Note: We need to keep in mind when adding a label for this to rook that this is a Ceph specific setting.

[2018-01-02 15:05] leseb commented on #1344
@bassam are you sure the error is with `armhf` and not `ceph-mgr` not being found?
See: `E: Unable to locate package ceph-mgr`.

[2018-01-02 15:17] bassam commented on #1344
I dont see armhf packages here: `http://download.ceph.com/debian-luminous/pool/main/c/ceph/`. Maybe I'm missing something.

[2018-01-02 17:30] bassam opened #1368 "Ceph: config: use default /var/lib/ceph path for ceph inside the rook container"
* Feature Request

Are there any similar features already existing: no.

What should the feature do:
Inside rook containers ceph should use the default data dir `/var/lib/ceph` and config dir `/etc/ceph`. When we add other backends they should also use their default data dirs.

Rook itself could have a data dir `/var/lib/rook` if needed but it should not overlap with `/var/lib/ceph` or other backe

[2018-01-02 19:46] travisn commented on #1363
For reference, we ran some FIO tests against AWS, documented in our [blog](https://blog.rook.io/run-your-own-high-performance-ebs-wherever-kubernetes-runs-798a136bd808). We had similar results in GCE, although didn't make it to the blog yet.

@AceHack Is there a change still needed in Rook to support the tests, or can we close the issue? We can follow up with questions in Slack.

[2018-01-02 19:56] BlaineEXE commented on #1368
I think we also want to make sure that the path used on the host continues to be configurable, and I think `/var/lib/rook/$backend/$namespace/{lib,etc}` is a sensible default value.

[2018-01-02 20:10] AceHack commented on #1363
Yeah, I can come to slack, I still don't really understand how to get rook to use my local temporary drive on the Azure VMs though.  Thanks.

[2018-01-02 21:17] travisn commented on #1349
agreed, it seems we need to expose the dns name to the object.yaml.

[2018-01-02 22:26] jbw976 commented on #1357
Fixed with https://github.com/rook/rook.github.io/pull/39

[2018-01-02 22:26] #1357 closed

[2018-01-03 03:08] jpds commented on #815
On `0.6.2`, enabling a multi-instance RGW object store causes the MGRs to crash similarly:

[code]

[2018-01-03 05:35] #1307 closed

[2018-01-03 05:46] bassam commented on #1314
another complication here is that if `dataDirHostPath` will typically not have the right permissions set on the host leading to permission denied failures despite the `chmode -R g=u` inside the image.

For example, in a minikube cluster I set `dataDirHostPath` to `/data/rook` and kubernetes/docker create the host path with the following perms:

[code]

which is not writeable by the root group.

[2018-01-03 05:56] bassam commented on #1314
here's a simple experiment that shows the issue above. Consider the following Dockerfile:

[code]

build it:

```docker build -t test .```

run `docker run -it test` and `ls -hal /var/lib`

[code]

Note that `w` is set for the root group.

Run it again with a bind mounted volume `docker run -it -v /tmp/foo:/var/lib/rook test` and run `lls -hal /var/lib`

[code]

Note the missing `w` perms.

I don'

[2018-01-03 06:08] bassam commented on #1314
we might be able to use `fsGroup` to workaround this. See https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

[2018-01-03 10:27] leseb commented on #1344
@bassam Could this be a one time issue?
I successfully built an image using your Dockerfile and just replaced `BASEIMAGE` with `ubuntu:zesty`.

[2018-01-03 13:32] leseb commented on #1314
@bassam why don't we give our rook user ownership on `/var/lib/rook`, wouldn't it be easier? Later it will be able to create anything under `/var/lib/rook`.

[2018-01-03 14:07] leseb commented on #1314
The only problem is with the `ceph` user to run ceph processes. We could decide to run them under the rook user, @liewegas any objections to that? I know it's not ideal but right now I can't think of any other way to fix this. The Rook binary is the entrypoint of the container, it's now running as user `12345` which is part of the root group. So this is fixing the permission denied and allow Rook

[2018-01-03 14:30] liewegas commented on #1314
Can we instead assign rook the same uid as the ceph user and skirt around this issue for now?  The packaging and selinux policy expect the ceph uid, for instance.  I think we will be better off the closer we make the container environment look like a "normal" install.

(Side note: the one other uid oddity is that rgw defers it's setuid to the ceph user (when run as root) so that it can bind to por

[2018-01-03 14:34] bassam commented on #1314
the problem is that openshift runs the rook container with a randomly generated uid.

[2018-01-03 14:34] leseb commented on #1314
@liewegas that will work, **only** for Ubuntu though. Red Hat systems will be broken (different uid).

[2018-01-03 14:35] leseb commented on #1314
@bassam oh right :/

[2018-01-03 14:36] leseb commented on #1314
@bassam but I thought forcing the user inside the Dockerfile was fixing this. Isn't that the case?

[2018-01-03 14:41] bassam commented on #1314
@leseb no, openshift effectively run `docker run -u <random-uid> rook/rook` which overrides any `USER` directives in the Dockerfile. I think there might be a way around this with `fsgroup` that I'll try out later today.

[2018-01-03 14:48] leseb commented on #1314
@bassam alright so the current approach in #1346 is wrong. I'll have a look as well.

[2018-01-03 15:08] leseb commented on #1314
It seems that `fsGroup` could help by setting a gid and then allow us to run. However, I just don't see how we can get the ceph directories with the right ownership unless we give rook the same gid than ceph.

Pushed another wip version of the Dockerfile in #1346.

[2018-01-03 17:29] jpds opened #1373 "RGW TLS configuration with cert-manager certificates"
Is this a bug report or feature request?
* Feature Request

I'm trying to use a cert-manager (https://github.com/jetstack/cert-manager) created TLS certificate that came from Let's Encrypt. cert-manager stores the files in a secret which looks like this:

[code]

However, the rgw pod that rook spins up expects a `cert` variable which contains everything.

[2018-01-03 18:25] dab-q opened #1374 "RGW Deployment should have pod anti-affinity against itself"
**Bug Report**

What happened:
On a 5 node cluster, I changed the RGW deployment scale to 10, and 10 RGW pods were created across 4 nodes:
[code]
What you expected to happen:
The rgw pods should have anti-affinity against themselves, so that no more than one rgw pod would get scheduled on any given node.  If hostnetworking is enabled, multiple rgw pods running on the same node will clash with each

[2018-01-03 18:34] travisn commented on #1374
Today you can set the anti-affinity in the object CRD under the placement, podAntiAffinity. I believe you would want something like this:
[code]

[2018-01-03 18:58] travisn opened #1375 "Design doc for enabling multiple backends in Rook"
There are a number of changes needed to support multiple backends in Rook. Currently with only Ceph, some ceph-specified naming and design have seeped in. We need a design doc that lays out the basic approach that will be used in Rook.
- CRDs should be factored
- Source tree layout should have backend-specific folders

#1358 started the refactoring effort. Related efforts are happening in #1346.

[2018-01-03 19:00] travisn commented on #1121
Will be fixed by #1372

[2018-01-03 19:33] #1121 closed

[2018-01-03 19:43] dab-q commented on #1374
I'm thinking specifically about the code in pkg/operator/rgw/rgw.go where it creates the RGW Deployment, as where the AntiAffinity needs to be added.

[2018-01-04 00:06] travisn opened #1376 "flag.Parse errors found in the operator log"
Since the move to the k8s 1.8 client, we are seeing messages in the operator log with the prefix:
[code]

Need to clean these up so they don't fill the log unnecessarily. For example:
[code]

[2018-01-04 08:14] leseb commented on #1344
@bassam my bad, I just noticed you were building on arm. I believe that `armhf` could be added as a package. @ktdreyer is it something you can help us with? Thanks.

[2018-01-04 19:02] galexrt opened #1378 "versionTag still in documentation even though it got removed"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
The docs still contain `versionTag` field in the Cluster CRD.

What you expected to happen:
The docs with Cluster CRDs to not contain the removed field `versionTag`.

How to reproduce it (minimal and precise):
[code]

**Environment**:
* OS (e.g. from /etc/os-release): N/A
* Kernel (e.g. `uname -a`): N/A
* Cloud p

[2018-01-04 20:11] dangula commented on #1323
This issue currenlty blocked by #1330.

[2018-01-04 20:50] #1111 closed

[2018-01-04 21:07] jpds commented on #815
I think that this has been fixed by #1154. @galexrt ?

[2018-01-04 21:44] galexrt commented on #815
@jpds I don't think that the `No module ...` issue is resolved by the changes in #1154.
This really more or less seems to me like an issue that maybe just because the mgr component is so "new", still yes this may already resolved by our update to Ceph `12.2.2`.

[2018-01-05 00:56] #1378 closed

[2018-01-05 05:23] travisn opened #1380 "Use consistent logger instead of glog"
The provisioner packages in the operator write to the log with `glog` instead of the `logger` that is used elsewhere in rook. The `glog` logs go to the tmp folder inside the operator container so they are harder to track down and aren't collected by the `kubectl logs` command.

[2018-01-05 18:36] travisn commented on #919
Based on slack conversation with @StianOvrevage and @jbw976 , the design might look like the following:
- Volume claims can be specified in the cluster CRD under the `storage` element.
- Claims will be a list under a `volumeClaims` element, and would be a sibling of the `nodes` and `directories` elements.
- The operator will create one osd per claim. The osd will assume usage of the entire volume.

[2018-01-05 19:12] #1217 closed

[2018-01-05 21:37] BlaineEXE opened #1381 "Go client should call CoreV1() instead of Core()"
While trying to debug an issue I'm having, I noticed that there are a couple of issues with the kubernetes go client that might impact the stability of Rook builds.

Firstly, the import for `k8s.io/client-go/kubernetes`, as noted by client-go's readme, will pull the unstable master version of the client.
https://github.com/rook/rook/blob/c93d4dadebc0dd27fe5199983342ec6b90a7fbaf/pkg/operator/agent/

[2018-01-05 21:43] travisn commented on #1381
The go `dep` tool is expected to pull a particular version of the client-go package, which is found in the toml file. Does that satisfy your concern or is there another aspect I am missing?
https://github.com/rook/rook/blob/master/Gopkg.toml#L102

We definitely should be using CoreV1(), thanks for catching

[2018-01-05 21:47] #909 closed

[2018-01-05 21:49] travisn commented on #846
Actually, let's stick with #347

[2018-01-05 21:49] #846 closed

[2018-01-05 21:52] travisn commented on #683
Closing since #1026 and #1303 will help with this

[2018-01-05 21:52] #683 closed

[2018-01-05 21:54] BlaineEXE commented on #1381
Indeed it does! I didn't know about Toml. Thank you. I can make a patch for the `Core()` -> `CoreV1`, but it will be a little while, as I am still trying to figure out how to build containers and use those dev containers in my test env. Any tips would be appreciated.

[2018-01-05 21:56] travisn commented on #953
This is completed by #1303

[2018-01-05 21:56] #953 closed

[2018-01-05 21:57] liewegas commented on #347
Note that this is exactly what ceph-volume does (with lvm labels).  I'm hoping we can use ceph-volume across the board so that rook isn't doing something unique here.

[2018-01-05 22:01] travisn commented on #1324
Since Ceph doesn't support windows, not sure what we can do here. http://docs.ceph.com/docs/cuttlefish/faq/#do-ceph-clients-run-on-windows

[2018-01-05 22:01] #1324 closed

[2018-01-05 22:12] travisn commented on #1381
You can see dev instructions [here](https://github.com/rook/rook/blob/master/INSTALL.md), and join our Rook slack group for any questions so we can help you get going!

[2018-01-06 02:32] adarshaj commented on #1147
I had the same problem (thrice so far), each time the cluster goes into warning state and only part of PGs come back, as a result all the containers using rook won't get created. Only reliable way I found was to get into every node and restart kubelet, one by one. It would take 5~10mins after that to recover 100% and then after it becomes healthy and operates usually.

The k8s setup was on Tectoni

[2018-01-06 06:25] abh opened #1382 "mon crashing after reboot"
**Bug Report**

After rebooting two of our three rook-ceph-mon's are crashing, log attached.

[rook-ceph-mon.log](https://github.com/rook/rook/files/1608517/rook-ceph-mon.log)

Running rook/rook:v0.6.1 on Kubernetes v1.7.9+coreos.0 (tectonic).

[2018-01-06 07:44] abh commented on #1382
My issue seems similar to #1354. Is it that the operator started new mons (with fresh databases) and if it did this to more than one at a time the data gets lost?  The servers have a bunch of  "rook-ceph-monX" directories (several updated around/after it stopped working)

[2018-01-07 03:28] bassam commented on #1336
I believe this one can be closed. Thanks @christianhuening!

[2018-01-07 03:28] #1336 closed

[2018-01-07 03:32] bassam commented on #1337
As it stands the rook operator creates the service accounts dynamically for each rook namespace/cluster it creates. To better support PSP, I wonder if the rook operator should do the role binding to PSP dynamically.

In this approach the PSP Roles would have to be specified on the rook Cluster yaml.

[2018-01-07 04:56] bassam commented on #1314
It looks like if the rook container is running as a non-root user and using hostPath volumes there is no way to write to the bind-mounted directory. The hostPath volume provider always creates the directory on the host and set the owner as `root:root` and `0750` perms. There is no way to change that currently -- hostPath does not honor `securityContext.fsFlags`

This means that running rook contai

[2018-01-07 06:17] bassam commented on #1314
I'm able to run rook on OpenShift 3.7 by adding the appropriate SCC policy to rook's serviceaccounts:

[code]

also if you're running on `minishift` remember to change the `dataDirHostPath` to `/data/rook` since disk space is limited on minishift just like minikube.

Just as with #1337 I wonder if the rook operator should understand SCC and PSP policies and configure them correctly when it starts

[2018-01-07 10:51] christianhuening commented on #1337
Hm, yes I think configuring the PSP role would also be sufficient and maybe even better.

Is there any argument against being able to override the default ServiceAccount names?

[2018-01-07 19:32] bassam commented on #1337
we can go either way. as I think more about this, I think the cluster-admin should have full control of the RBAC and PSP policy that Rook uses including service account names etc. Rook should not be opinionated like it currently is. I'm going to write up a separate issue on this.

[2018-01-08 00:00] HBO2 opened #1383 "MountVolume.SetUp failed for volume | /var/lib/kubelet/volumeplugins/rook.io~rook/.rook.sock: connect: no such file or directory`"
**Bug Report**
1. Kubernetes cluster created with 1 master and 2 nodes on CoreOs vm's. Created with Kubadm and followed all the instruction because CoreOs is rather specific, like the path of the volumePlugin. But it is working. in the sense of working Cephs block volumes.

What happened: Created successfully rook cluster, agent & operator. Checked with toolbox and every status is OK.
Next step is

[2018-01-08 10:47] leseb commented on #1314
I think we should try to reduce the number of operations that the operator has to type manually. So yes, the rook operator should understand SCC and PSP policies.

[2018-01-08 18:30] kokhang commented on #1383
@HBO2 I think this is the same issue as https://github.com/rook/rook/issues/1330. There was a K8s 1.9.x change that broke the rook plugin auto discovery. To workaround this issue, you have to set the FLEXVOLUME_DIR _PATH env in the rook-operator.yaml. Here is an example: https://github.com/rook/rook/issues/1162#issuecomment-343743163.

[2018-01-08 20:46] camflan commented on #1382
I had our rook/ceph cluster come down today after a node reboot. What I noticed, while in full panic mode, was that ceph-monN were all on the same node. I wonder if this caused an issue because the backing hostDir was being read from 3 ceph-mons. Not only were they all reading the same data, but there was N-1 other nodes data that wans't being read.

I remember seeing something in the logs about a

[2018-01-08 21:31] kokhang commented on #1380
This was introduced when @bassam moved the provisioner library to Rook in https://github.com/rook/rook/pull/1151.

[2018-01-08 21:40] kokhang opened #1385 "Rook CSI plugin"
Rook needs to have a CSI plugin. Currently Rook uses a flexvolume plugin to integrate with Kubernetes. New storage features in Kubernetes are being added to support CSI based plugins and not to Flexvolume.

Using CSI will also solve some limitations we have been seeing with flexvolume. Such as https://github.com/rook/rook/issues/1330, https://github.com/rook/rook/issues/1128, https://github.com/ro

[2018-01-08 21:41] kokhang commented on #1385
@rootfs perhaps we can start a design documentation and have it submitted to https://github.com/rook/rook/tree/master/design.

[2018-01-08 22:00] travisn opened #1386 "Mons should never be placed on a node with another mon"
For mon stability, the operator needs to ensure that multiple mons are not placed on the same node. If you were to lose a node with multiple mons, the cluster would be lost if there are only three mons.
- If the crd specifies more mons than the number of nodes, the operator will cap the number of mons at the number of nodes (or subtract one if there is an even number of nodes)
- If a mon fails and

[2018-01-08 22:41] galexrt commented on #1386
@travisn and I had a talk about overall mon stability and those are all the points we found:
1. Maximum one mon per node:
    * Even more of a single point of failure when there is more than one mon on one node.
    * One should use more than three mons (5) to prevent failures in a production cluster (/ allow failure of more two mons before it gets critical).
        * Potentially the operator cou

[2018-01-08 22:53] galexrt opened #1387 "Mons should have one stable identity per node"
Each node has an own unique (not changing) identity for a mon (an ID):
* Prevents data pile up from mon failover due to changed mon IDs on each mon failover.
* More stability due to the identity staying the same on each node and not having to catch up to all changes but only to the changes the last time since the mon was available.

This is the second point which has been separated from #1386, see

[2018-01-09 00:30] kokhang commented on #1356
i havent seen this issue before. Is your storageclass created? Can you do `kubectl get storageclass`?

[2018-01-09 05:35] bassam opened #1389 "Improve Rook's Security Model"
Rook currently uses multiple namespaces and service accounts. The rook operator can create and delete namespaces, service accounts, roles and role bindings on the fly. As a result rook requires a *very* privileged service account (see [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-operator.yaml#L9)).

For production clusters this not going to work. We need to expl

[2018-01-09 08:15] HBO2 commented on #1383
@kokhang Thx, for help. But, l did this already. Otherwise the agent and will not start.

So, I also used the ENV trick to point to a writable dir.
The issue I have is the fact the MySql pod is not able to find the socket in the /var/lib/rook/..
dir.
I also found out after @galexrt asked me to show log of agent pod, I have an issue with "system:serviceaccount:default:rook-agent" see below:

`2018-

[2018-01-09 14:56] christianhuening opened #1390 "Release new version including the AGENT_TOLERATION feature"
Rook 0.6.2 does not include the changes made to support the AGENT_TOLERATION ENV var (https://github.com/rook/rook/pull/1300). Sadly that is already "documented" in the example file for the rook-operator.yaml. So, could we create a new minor release to incorporate that feature? I am very dependent on it.

[2018-01-09 16:07] travisn opened #1391 "Restructure the TOC in the docs"
The table of contents in the documentation does not flow naturally and still has artifacts related to standalone.

- The link to "Using Rook on Tectonic Bare Metal" is the very first link in the page, which is out of place. We either need to restructure the TOC or include this content on the "Prerequisites" page.
- We really don't need a top-level "Rook" or "Kubernetes" node
- Flexvolume config is

[2018-01-09 17:16] jbw976 commented on #1391
Do you know of a good way to test changes like this before it goes through the docs pipeline and gets published to the docs site?

[2018-01-09 18:21] jbw976 commented on #1390
Hi @christianhuening, just to clarify, you are saying that you do require the agent toleration functionality in Rook?

Is it possible at all for you to use `rook/rook:master` instead of one of the 0.6 releases? Thanks!

[2018-01-09 18:26] jpds commented on #1389
Another one that would be beneficial is #1117.

[2018-01-09 22:00] HBO2 commented on #1383
HI everybody,
in order to give more context to the issue please find below the steps to recreate the error I stumbled on:

**Steps to reproduce:**

**1**. provision 3 CoreOS vm on any platform (Azure, Digital Ocean etc). I used
Container Linux by CoreOS stable (1576.4.0)

**2.** Using Kubeadm to Create a Cluster (https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/) One master and

[2018-01-09 22:41] jbw976 commented on #1383
Nice writeup @HBO2 :)  The rook-agent RBAC issue does look of interest.
1. Is this causing the rook-agent pods to crash/restart?
1. does this file exist on the host's filesystem? `/var/lib/kubelet/volumeplugins/rook.io~rook/.rook.sock`
1. I notice that the rook-agent pod log indicates it's using the service account from the default namespace, which is unexpected to me.  Is the rook-agent pod runni

[2018-01-09 22:43] kokhang commented on #1068
Rook-api is being deprecated. I did try deleting a bucket with a few objects with 10G. It went pretty quick. But i did use an S3 client and not via the API.

[2018-01-09 22:50] HBO2 commented on #1383
HI @jbw976

1. NO!! I don't understand why everybody is asking because as noted at the start of the issue agents and operators are running like a baby :-). Otherwise it would be impossible to have the PV and PVC bound.
2. No, that's the problem I am trying to explain
3. Yes I decided to run all in the default namespace because why should i create 2 extra namespaces, like rook-system and rook.

oh,

[2018-01-10 06:00] christianhuening commented on #1390
Hi @jbw976 , yes I require the agent toleration functionality, as I have 6 dedicated nodes I want to use for rook and for rook only. At the same time as I want to make sure that the rook-agents do run on these nodes (which have taints so as to not run anything else), I want to make sure rook-agent does *not* run on the master nodes. I therefore talked to @bassam yesterday and I agreed to make a PR

[2018-01-10 11:17] christianhuening opened #1392 "Add AGENT_TOLERATION_KEY to rook-operator to allow tolerations for specific keys only"
Is this a bug report or feature request?

* Feature Request

**Feature Request**

Are there any similar features already existing:
Yes AGENT_TOLERATION, which would tolerate taints with *all* keys

What should the feature do:
Add an optional ENV var to allow setting a specific key for the toleration

What would be solved through this feature:
i.e. rook-agent running on master nodes without need

D

[2018-01-10 16:32] fabianvf commented on #1313
The error here is because the etcd pvc is created with no StorageClass, which means that it won't consume any PVC that has a StorageClass set. Even if you set the default StorageClass to your rook storage, it won't update the existing PVCs out there. AFAIK, the only way to get the etcd pvc to consume your rook storage is to update it or delete/recreate it with the proper StorageClass set.

[2018-01-10 19:18] #1068 closed

[2018-01-10 21:35] #1026 closed

[2018-01-10 22:45] HBO2 commented on #1383
Hi @jbw976 @galexrt
I have provisioned a new cluster like described above.
Now I used all the default setting as described on the website. (namespace: rook-system & rook)
I checked the pod agent logs and there are no errors:

both pod logs are showing this:
`2018-01-10 21:59:50.284949 I | rook: starting Rook v0.6.0-136.gc93d4da with arguments '/usr/local/bin/rook agent'
2018-01-10 21:59:50.285028

[2018-01-10 23:35] elemental-lf commented on #1330
I also ran into this and it seems that the configz endpoint doesn't include the volume directory any more. This is with K8s 1.9.1 on CoreOS 1576.5.0. I had to resort to setting FLEXVOLUME_DIR_PATH as well.

So the question is if this as been removed on purpose or if it just went missing due to further changes for the DynamicKubeletConfig feature and could be readded. The documentation at https://k

[2018-01-11 00:23] kokhang commented on #1330
@elemental-lf good observation. It seems that the `volume-pluging-dir` field was purposely excluded due to the the author thinking that flexvolume was "alpha". Flexvolume is now GA (as of 1.9) https://github.com/kubernetes/kubernetes/pull/57075

Here is the change that broke it: https://github.com/kubernetes/kubernetes/pull/55562

@elemental-lf could you file an issue in Kubernetes and have them a

[2018-01-11 00:29] travisn commented on #1391
I've pushed the changes for viewing here: https://ilovett.github.io/docs/rook/master/tools.html. Feedback?

[2018-01-11 00:50] kokhang commented on #1391
Im kinda not feeling it about having the title `CRDs`. Rook does use CRD (and TPR) for extending Kubernetes api but i feel that is just an implementation details. How about calling it Objects or Resources?

[2018-01-11 00:57] kokhang commented on #1383
@HBO2 from `{pool:rbd clusterName:default fstype:}`, your cluster name is `default` but it should be `rook` since you are now deploying the cluster under the `rook` namespace. If this is the issue, we should have a more clear and concise error message.

[2018-01-11 08:16] HBO2 commented on #1383
@kokhang Yes, a few minutes after I rote above comment, I noticed in the Kubernetes Dashboard the same and adapted the storageclass file. ...
And boem  ... everything was working!
So, issue can be closed.

**To summarise:**
1. Combination of CoreOS, Kubeadm and Kubernetes 1.9.1 makes it not possible to use the Helm method -> because you need the ENV with the path "--volume-plugin-dir"
2. When doin

[2018-01-11 08:19] #1383 closed

[2018-01-11 09:27] hoanhdo opened #1394 "cluster create only one disk per node"
**Bug Report**
What happened:
rook cluster config has 3 disk per node

[code]

What you expected to happen:
cluster create 9 osd

**Environment**:
* OS (e.g. from /etc/os-release): centos 7.4
* Kernel (e.g. `uname -a`):   3.10.0-693.5.2.el7.x86_64
* Cloud provider or hardware configuration:
* Rook version (use `rook version` inside of a Rook Pod): v0.6.0-98.gc1a87fa
* Kubernetes version (use `kube

[2018-01-11 12:20] beatlejuse commented on #1278
I made a video!
https://youtu.be/6wLk9Ey581o
legend.
in the beginning it is shown that in case of breakage ceph Prometheus cannot mount a folder to connect to ceph.
4:06 - stop all the node in the cluster, wipe their hdd and start.
next, the nodes need to download the CoreOS PXE image and the script of the matchbox set.
14:25 - deploy ceph and creation of the ceph-fs
16:27 - deploy ceph-tools (roo

[2018-01-11 12:28] elemental-lf commented on #1330
@kokhang I've opened https://github.com/kubernetes/kubernetes/issues/58151.

[2018-01-11 13:01] mmailand opened #1396 "It should be possilbe to use annotations for the osd pods"
* Feature Request

Are there any similar features already existing:
NO

What should the feature do:
This feature should give users the possibility to create annotations for the ceph pods.
We need annotions for sysctls, to manipulate the TCP behavior within the osd pods.
https://kubernetes.io/docs/concepts/cluster-administration/sysctl-cluster/

What would be solved through this feature:
We could a

[2018-01-11 13:13] beatlejuse opened #1397 "bluestore OSD does not reclaim the disk space"
Is this a bug report or feature request?

* Bug Report
**Bug Report**

What happened:
after deleting data of ceph-fs, file ceph-osd is not reduced.
when the permanent record in the ceph-fs (monitoring and logging) is very quickly running out of disk space and the cluster falls down.

What you expected to happen:
run fstrim -a on the nodes of the cluster does not affect the free space on the disks.

[2018-01-11 17:42] kokhang commented on #1383
@HBO2 even though you got it to work, I'd still like to open up issues in order to improve the experience.

For 1, there is a bug https://github.com/rook/rook/issues/1330.
For 2, that seems to be a bug. Rook clusters should be able to deployed on any namespace. Could you file one?
For 3, feel free to submit an issue. Seems it is something we can also improve on.

For 4 and 5, I am not sure what th

[2018-01-11 18:31] kokhang commented on #1394
@hoanhdo Rook deploys one osd pod per node. But each osd pod may run one or more osd processes. Can you use the [rook-tool](https://rook.io/docs/rook/master/toolbox.html) and run `rookctl status`. That should tell you how many osd processes are running.

[2018-01-11 18:32] kokhang commented on #1394
@hoanhdo Rook checks if these devices are available for rook (ie no partition in these drives). Can you post the logs from one of the OSD pod?

[2018-01-11 21:37] mtaufen commented on #1330
Re-posting here as it seems a lot of people aren't aware: configz has never carried any sort of API guarantee and is intended for debugging/testing only. It should not be used as a source of information for *any* production component.

[2018-01-12 02:27] hoanhdo commented on #1394
@kokhang

This is my logs.
[log.txt](https://github.com/rook/rook/files/1624779/log.txt)

[2018-01-12 02:37] mtaufen commented on #1330
Can you just expose a configuration knob for that and make sure it's set the same as the Kubelet's?

I'm sorry, I'm not very familiar with rook's architecture, so I'm not sure what you need to auto-detect and when you need to do it, so the simplest thing that comes to mind is just to pass in the data you need.

[2018-01-12 07:45] hoanhdo commented on #1394
Yes.
After i use ceph-disk zap all disk.
ceph cluster create 9 osd.

If i deleted my cluster. How i can reuse this disk ?

Thanks.

[2018-01-12 10:21] jpds commented on #1397
*Maybe* related to http://tracker.ceph.com/issues/21243

[2018-01-12 13:15] beatlejuse commented on #1397
@jpds
it's not like.
besides, any decision, I have not seen.
since ceph-fs is not able to release Unallocated space, I believe that I need some command that will do this.

[2018-01-12 13:42] beatlejuse opened #1403 "connect to seph fs from another k8s cluster"
How can i connect to my ceph-fs from another k8s cluster (both not in federation) ?

**Environment**:
* OS (e.g. from /etc/os-release): CoreOS 1520.8.0
* Kernel (e.g. `uname -a`): Linux wd-test-m1 4.13.9-coreos #1 SMP Thu Oct 26 03:21:00 UTC 2017 x86_64 Intel(R) Xeon(R) CPU E5-2670 v3 @ 2.30GHz GenuineIntel GNU/Linux
* Cloud provider or hardware configuration: hardware  (vmware)
* Rook version (us

[2018-01-12 14:06] galexrt commented on #1403
There is already an issue open that covers this topic: https://github.com/rook/rook/issues/966.

[2018-01-12 14:06] #1403 closed

[2018-01-12 15:14] kokhang commented on #1394
I believe Rook will detect that these disks have 'Rook' partition and will be used. @jbw976 might have more information on this.

[2018-01-12 15:33] travisn commented on #1394
if you want to create a new cluster with the same devices, just make sure to follow the [teardown instructions](https://rook.io/docs/rook/master/kubernetes.html#teardown). Also, make sure to delete the files under the `dataDirHostPath` on each of the hosts. Then the next time you create a cluster, Rook will overwrite the previous OSDs when it sees they have a rook partition name

[2018-01-12 16:03] bassam opened #1404 "Consider using images from ceph-container project"
With #1362 the Rook project has switched to using ceph Debian packages instead of building it from source. The goal is more alignment between Rook and upstream Ceph.

The image hierarchy is as follows:

[code]

The `amd64` image ends up being ~180MB compressed with this approach.

The ceph-container project has also been working on size reductions in https://github.com/ceph/ceph-container/pull/877

[2018-01-12 16:50] bassam commented on #1404
I'm in agreement. Would like to make that happen.

If we are willing for Rook to manage multiple images then we could move the `image` section underneath `backend` cluster yaml. This will reduce the image size when a kubernetes is using a single rook backend, and increase it if multiple backends are deployed in the same kubernetes cluster. I suspect that latter is not going to be common.

What if

[2018-01-12 18:25] kokhang commented on #1396
Are these annotations only applicable for OSD pods (for the ECN)? Im wondering if it would be enough to have a generic annotation for all our cluster pods. The cluster CRD is getting bigger and difficult to manage. We already have settings for placements and resources at a per component level. So adding support for this will add to the complexity. However this is a bigger issues and outside the sc

[2018-01-12 19:22] mmailand commented on #1396
In my use case I only need it on the OSD pods, but this annotation (ECN )wouldn't hurt if it get applied to all rook pods.
But I can think of situations where sysctl should only be applied to a specific pod group (OSD or MON or MGR)
I think we should keep this in mind and make the interface for annotations quite flexible.

My Issue here doesn't have any urgency, I just hard coded the value I need

[2018-01-13 00:59] #1391 closed

[2018-01-13 01:00] kokhang commented on #1330
@mtaufen that is the workaround we have now. However, in most cases, users will not now (or it would be hard to figure out) what this value should be. I think having this field added back to the KubeletConfiguration will solve our use case since Rook can configure this automatically on behalf of the user.

[2018-01-13 01:10] #1344 closed

[2018-01-13 17:18] beatlejuse commented on #1403
ie i need to connect by the IP addresses of the mons? and the ability to obtain a list of monitors (in case they change) from the API kubernetes does not exist?

[2018-01-13 18:25] galexrt commented on #1403
When using `hostNetwork: true`, the IPs of the mon nodes and the Ceph secret token taken from the cluster namespace can be used to connect to Ceph from another cluster (as long as firewalling, etc allows cluster to cluster communication).
For `hostNetwork: false` there is currently no well working way to connect to the in cluster Ceph from another cluster without in some way interconnecting them.

[2018-01-14 15:34] mvording opened #1407 "initial installation failed: imagepullbackoff for rook-ceph-mon (0.6.2)"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:

Installed rook following the instructions for the rook alpha helm chart,  created a cluster based on the example yaml, only changing the host path.    Various kubernetes rook components deployed succesfully, however the rook-ceph-mon pod did not, returning the following error message:

"Failed to pull image "roo

[2018-01-14 15:59] bassam commented on #1407
@mvording we don't publish a `latest` tag. Try setting the versionTag to `v0.6.2`

[2018-01-14 18:17] beatlejuse commented on #1403
i set "hostNetwork: true."
never saw visual changes.
how to check that the key is "hostNetwork: true" work?
And how now to connect to the file system? What i need to write in the deployment?

[2018-01-14 18:32] galexrt commented on #1403
`hostNetwork: true` can only be set when initially creating the cluster, changing it during runtime won't work and probably cause issues for the already running cluster.

When you have a cluster with `hostNetwork: true` you then use the current mon nodes IPs to connect to the FS, so you can't use the Rook flexvolume plugin inside the other K8s Cluster as the info isn't there.

[2018-01-14 19:26] beatlejuse commented on #1403
@galexrt  yes, i destroy my k8s claster and recreate it with new config.
do you have a sample config or a guide on how to mount the FS using the current mon nodes IPs?

[2018-01-14 19:50] r-moiseev commented on #1407
Same error. Im using rook-alpha chart

[2018-01-15 03:22] abh commented on #1382
I think part of what happened to me was that as tectonic was rebooting nodes two mons ended up on one host (and then later that node rebooted and boom). #1386

[2018-01-15 11:32] beatlejuse commented on #1278
@kokhang  @travisn  @galexrt there is a chance to solve my problem?

[2018-01-15 13:54] galexrt commented on #1278
@beatlejuse I just noticed you are using `erasureCoded` for the `dataPools`. The issue with data deletion/overwrite is related to the operator not setting the overwrite "flag" for CephFS.
I suggest you try to replicate the issue with `replicated` for the `dataPools`.

Another point just as a recommendation is that for something like Prometheus, MySQL, Postgres, etc (applications that can't access

[2018-01-15 14:00] galexrt commented on #1382
@abh The fix to not place more than one mon on one node, is being tracked by #1386 and #1387, the PR is available at #1406 but is still work in progress.

[2018-01-15 14:04] galexrt commented on #1335
I'm going to close this issue as the feature for resource limits/requests is already implemented.
The question about Ceph using "a lot of" resources should be cleared up by the Ceph doc page about hardware/resource recommendations: http://docs.ceph.com/docs/kraken/start/hardware-recommendations/
The Ceph doc page should help you find the "right size" for the nodes/Pods resources.

[2018-01-15 14:04] #1335 closed

[2018-01-15 14:06] galexrt commented on #1320
@patrickstjohn Is this still an issue for you or was it just an issue with an old kernel as you wrote in last comment?

[2018-01-15 14:11] galexrt commented on #543
@luxas @kokhang @jbw976 @bassam As far as I understand the topic from the comments, this is about being able to create/use CephFS/Filesystem by a StorageClass and PVCs.
Anything against closing this issue and using #1125 to track this feature?
Also there has been a design doc (#1152) by @kokhang which is mentioned in #1125.

[2018-01-15 14:15] galexrt commented on #1306
I'm closing this as issue #1111 has been closed by merged PR #1154.
This should not appear/happen when using the Ceph MGR monitoring.

[2018-01-15 14:15] #1306 closed

[2018-01-15 14:17] galexrt commented on #1317
Fixed by #1352.

[2018-01-15 14:17] #1317 closed

[2018-01-15 14:37] beatlejuse commented on #1278
это странно. я вроде бы не использую erasureCoded.
конфиг файловой системы выглядит у меня так:
[code]
на какой минуте видно erasureCoded?

[2018-01-15 16:35] leseb commented on #1404
Approach looks good tom me, let's followup on https://github.com/ceph/ceph-container/pull/878

[2018-01-16 01:40] lorenz commented on #1386
Just wanted to say that I'd really like if I could force the use of a specific node label (in my case `failure-domain.beta.kubernetes.io/zone`) to split the mons, since I have some sites which have more than one node but have very correlated failure modes. I wouldn't want multiple mons ending up on these since it will basically kill my cluster if two mons (I only have enough nodes for 3, not for 5

[2018-01-16 07:08] beatlejuse commented on #1397
you have a real big problem.
file bluestore-block in osd in dataDirHostPath when writing data in ceph-fs only increases and never decreases when you delete the data.
this leads to an overflow of the disk and the fall of the cluster.
judging by the fact that the documentation does not describe how to reduce the size of the file you previously did not know about this problem.
though without a soluti

[2018-01-16 09:06] galexrt commented on #1278
@beatlejuse You have posted your manifests in your first comment (see https://github.com/rook/rook/issues/1278#issue-278397981) and in that `erasureCoded` is used in `dataPools`.

[2018-01-16 09:23] beatlejuse commented on #1278
@galexrt it was a very long time. I often change the configs trying to configure the system

[2018-01-16 14:22] patrickstjohn commented on #1320
@galexrt That's correct. It was an old kernel problem. As soon as we upgraded our kernels everything worked as expected.

[2018-01-16 14:54] galexrt commented on #1320
Thanks for the feedback on this! I think we can go ahead and close this then.

[2018-01-16 14:54] #1320 closed

[2018-01-16 15:56] jbw976 commented on #508
Although this was the earlier opened ticket, I'm going to close this one as a dupe of #1341 since that one has some architectural and design discussion with members of the Ceph team.

[2018-01-16 15:56] #508 closed

[2018-01-16 16:01] jbw976 opened #1408 "design 1-pager for 0.8 milestone features"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

We need a 1-pager written to cover some of the related 0.7 architectural changes, so that the entire vision can be described in 1 place.  It would be good to start on this as a shared doc so that the community can collaborate easily, as opposed to a PR to the design folder (that approach usually has just 1 person hand

[2018-01-16 22:33] travisn commented on #1407
@r-moiseev After you install the rook-alpha chart, you create the cluster as a separate step. Can you confirm what the value of the `versionTag` setting is in the rook-cluster.yaml? If it is not set, you will need to set it to `v0.6.2` to match the version of the helm chart.

[2018-01-16 23:37] kfox1111 commented on #1385
There is a project going on here too that may interest you: https://github.com/ceph/ceph-csi/

[2018-01-17 00:20] #1323 closed

[2018-01-17 02:38] mvording commented on #1407
I am not sure where to put the tag in the yaml,  also it looks like versionTag was removed a few days back, is this related?

https://github.com/rook/rook/search?utf8=%E2%9C%93&q=versionTag&type=

[2018-01-17 02:41] jbw976 commented on #1407
Hi @mvording, since you are using the 0.6.x release, the rook cluster yaml of interest to you would be from the release-0.6 branch.  Take a look at how the `versionTag` field is used in that branch here: https://github.com/rook/rook/blob/release-0.6/cluster/examples/kubernetes/rook-cluster.yaml#L12

You are correct that in master and going forward that `versionTag` no longer exists.  It does exist

[2018-01-17 06:18] kokhang commented on #1278
@beatlejuse do you have a set of steps to reproduce this issue and get it to this state? Or does it become apparent after a while of usage? Your ceph cluster doesnt look good in https://github.com/rook/rook/issues/1278#issuecomment-353848520.

[2018-01-17 07:00] beatlejuse commented on #1278
@kokhang  of course there is!
I even made the video all the steps: https://github.com/rook/rook/issues/1278#issuecomment-356918438

[2018-01-17 14:25] Sh4d1 opened #1411 "Could not download docker rook image on ARM"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
I tried to deploy rook-operator with `kubectl create -f /tmp/rook-operator.yml`.
When I describe the pod, I get:
[code]

What you expected to happen:

I expected to have a running rook-operator pod.

How to reproduce it (minimal and precise):

Deploy a fresh kubernetes cluster on ARM and execute `kubectl create

[2018-01-17 15:55] beatlejuse commented on #1278
@kokhang also you can shutdown k8s cluster (all nodes) and start it again.
you will see many interesting errors))

[2018-01-17 17:33] kokhang commented on #1411
@Sh4d1 Support for for arm32 in master was recently dropped since it is not supported by ceph upstream. I believe arm64 support continues. @bassam can comment more on this. Here is the https://github.com/rook/rook/.

[2018-01-17 22:05] jbw976 opened #1414 "rook-agent logging before flag.Parse"
The rook-agent pod seems to have the same logging issue that the operator did in #1376 that was fixed in #1377.

From the rook-agent pod logs:
[code]

[2018-01-17 22:27] jbw976 opened #1415 "rook-agent fails to unmount PV because the PV is not found"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
When deleting a postgres instance that uses a Rook block PVC using `kubectl delete -f postgres.yaml`, the postgres pod gets stuck in the terminating state.

The operator is failing to delete the rbd block image because `image has watchers - not removing`.

The agent is failing to unmount/unmap the rbd device beca

[2018-01-17 23:51] kokhang commented on #1415
This might be a bigger issue than we think. There is on-going work to make this being handled better in Kubernetes with finalizers. https://github.com/kubernetes/features/issues/498.

More details here: https://github.com/kubernetes/kubernetes/issues/45143

[2018-01-18 00:01] travisn opened #1416 "Garbage collection of Filesystem and ObjectStore should use ownerReference"
With #1303 the garbage collection of rook resources happens by setting the `ownerReference` on each resource owned by the CRDs. Currently the resources created by the filesystem and objectstore CRDs also set an ownerReference that corresponds to the cluster. This should be changed such that:
- The `ownerReference` on the mds and rgw resources are set to their filesystem and objectstore CRD owners

[2018-01-18 01:05] dmick opened #1417 "ubuntu:zesty has been EOLed, image won't apt-update"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:

make failed with 404s accessing archive.ubuntu.com during cross container build

What you expected to happen:

make to succeed

How to reproduce it (minimal and precise):
make

This can be worked around with, at least, OSBASE=ubuntu:artful make.  I don't know if xenial was avoided on purpose or not, and figured

[2018-01-18 01:20] bassam commented on #1417
we used zesty to for new gcc and tools (especially to support cross compiling). Now that we are no longer building ceph xenial is a better choice. I'll fix.

[2018-01-18 02:08] #1417 closed

[2018-01-18 06:04] bassam commented on #1411
@Sh4d1 can you please describe your scenario for using 32-bit arm? Is this a production cluster? Have you run rook successfully on arm before? Do you see good performance?

We removed arm support since upstream ceph does not build or test it. If there is enough community support for armhf we can ask if the ceph team would add support for it.

arm64 support continues to exist.

[2018-01-18 07:33] Sh4d1 commented on #1411
Hey @bassam !
I want to set up a kubernetes cluster for my personal use which will host my blog, my mailserver, and some other more or less production stuff. It is a 4 node cluster, on bare metal ARM. It's my first time with ARM in the cloud and I haven't tried rook before.
For the performance I haven't really have the occasion to test it but I don't really need heavy performance yet :)

I underst

[2018-01-18 11:50] jbguerraz commented on #720
Facing the same issue with "large block" PV.

For the record: deleting the rook API's pod wouldn't helps as it turned out the watcher IP was the flannel interface of one of the cluster nodes. Instead we blacklisted (temporarily) the IP at the OSD level (`ceph osd blacklist add <WATCHER-IP>`) and that did the trick, we have then deleted the rbd image.

Could be related to https://github.com/rook/ro

[2018-01-18 12:52] BlaineEXE opened #1419 "Docker `armhf` deprecation"
There is a deprecation warning in the `armhf` org on DockerHub.

It seems that it might make sense to change the arm builds (see `images/image.mk`) to:
`arm32v7` and `arm64v8`.

I'm not sure if adding `arm32v5` or `arm32v6` also makes sense. It depends on what platforms Rook wants to target. v6 is R-Pi FWIW. I wouldn't think that R-Pi needs to be supported, but some people do want to run clusters

[2018-01-18 14:13] BlaineEXE commented on #1419
I'm still trying to make sure I understand how the builds work. I'm a bit confused. Is the `images/image.mk` file used as part of the rook build? It seems like this file could be for/by your Jenkins setup?

[2018-01-18 14:57] bassam commented on #1419
@BlaineEXE agree that we should use `arm64v8` base images going forward. `rook/rook` images are multi-arch and built using [manifest-tool](https://github.com/estesp/manifest-tool), so that would need to altered too (at a minimum to set the v8 variation).

[2018-01-18 15:06] BlaineEXE commented on #1419
I thought I could look into making these changes myself, and I started by making sure I could do the image builds as-is, and I've been running into issues.

I've cd'ed to the `images/` dir, and I am executing `make`. Are there any steps I'm missing? It seems as thought the `_output/` dir isn't getting created.

[2018-01-18 15:10] BlaineEXE commented on #1419
I'm also a little curious about why the docker builds are so complex. The rook container has both a .base and a regular dockerfile, as does the toolbox. And the base container is created based, then its filesystem is exported to another scratch container, and then that is used as a base to build the official base. It seems like it would be cleaner for some of these to be merged into one Dockerfile

[2018-01-18 15:23] bassam commented on #1419
I would just build from the root dir using `make build.all` which builds all platforms.

the docker images are more complex than usual due to the fact that we were building ceph from source inside containers, leveraging docker image caching for that, and supporting things like ccache and apt-caching. As of #1362 we moved away from this approach and I did a first take on simplifying. Its likely due

[2018-01-18 17:48] kokhang commented on #720
@jbguerraz i think this is more related to https://github.com/rook/rook/issues/1415. My question is why the rook-api is watching this block volume. @travisn do you know why?

[2018-01-18 17:55] travisn commented on #720
the rook-api and rookctl are deprecated so I'm not sure it's worth spending time on. Can we repro this outside of `rookctl`?

[2018-01-19 12:30] christianhuening commented on #1392
#1393 was merged, so i will close this

[2018-01-19 16:57] #1392 closed

[2018-01-19 18:36] kokhang opened #1421 "Drop support for Kubernetes 1.6.x"
Rook officially maintains support for 1.6.x and a YMMV support for 1.5.x. I think it is time to drop support for both of them. Rook strives to run natively and to be deeply integrated on Kubernetes. Rook does this by leveraging the K8S extensibility via CRDs.

CRDs were introduced on 1.7. Prior to that, Rook relied on TPRs which has been deprecated and removed from Kubernetes.

Dropping support fo

[2018-01-19 20:44] travisn commented on #1421
Didn't we document the steps for upgrading the TPRs? I didn't think it was complicated.

[2018-01-19 21:01] kokhang commented on #1421
@travisn i havent got through the docs to verify if its simple or complicated this but why have users bother with it? Also i dont think it is that simple. We currently have 5 type of CRDs. Cluster, ObjectStore, FileSystem, Pool and VolumeAttachment. The volumeattachment worries me since it will affect the mount path. So we gotta do this right. Also remember the whole camelCase issue we have with T

[2018-01-20 00:39] #1264 closed

[2018-01-20 01:07] #944 closed

[2018-01-20 01:21] #1216 closed

[2018-01-20 08:00] r-moiseev commented on #1407
I guess you need tto write about version tag in docs. Because there is example without it.

[2018-01-20 15:51] travisn commented on #1407
Hi @r-moiseev for 0.6.2 docs, please see https://rook.io/docs/rook/v0.6/cluster-crd.html where the `versionTag` is mentioned.

[2018-01-21 11:55] TimJones opened #1424 "Operator cannot verify mon health: connection timed out"
* Bug Report

**Bug Report**

What happened:

Installed rook from master (K8S v1.9.2 on ContainerLinux/CoreOS) via Helm chart

    $ helm install --name rook --namespace rook-system rook-master/rook --version v0.6.0-164.gf61daf9 --set agent.flexVolumeDirPath=/var/lib/kubelet/volumeplugins --set image.tag=master

Defined a basic cluster to test, not the lack of specified `monCount` which by [the do

[2018-01-21 12:12] albp opened #1425 "rook env FLEXVOLUME_DIR_PATH over kubeletConfiguration VolumePluginDir when deploying rook."
Hi,

coreos, tectonic,deploying rook.
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa3134ff92f7d55f812", GitTreeState:"clean", BuildDate:"2018-01-04T11:52:23Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.4+coreos.0", GitCommit:"4292f9682595afddbb4f8b14836

[2018-01-21 16:17] galexrt commented on #1424
The warning message needs to be improved, because the `monCount` is correctly set to the default of `3`.
This can be seen by looking at the posted log line begining with "saved mon endpoints to config map".

Code ref:
https://github.com/rook/rook/blob/c7e9b0f51988f61d7a06cb85ce58091e08624769/pkg/operator/cluster/controller.go#L141-L144

[2018-01-21 16:25] kokhang commented on #1425
@albp if using coreos, you also have to set the FLEXVOLUME_DIR_PATH env in the rook-operator.yaml. See here https://rook.github.io/docs/rook/master/flexvolume.html

[2018-01-21 16:54] TimJones commented on #1424
Hmm, then something else was wrong as one one mon came up... I'll recreate it and post the logs..

[2018-01-21 16:59] galexrt commented on #1424
@TimJones Did only one mon Pod start? Could you please as you wrote recreate it and post the logs when only one mon Pod comes up.

[2018-01-21 17:38] albp commented on #1425
@kokhang thx, but my message was about that, or i dont undestrand something, read this in my previous message:

I have set in rook-operator.yaml the path
... env: - name: FLEXVOLUME_DIR_PATH value: "/var/lib/kubelet/volumeplugins" ...

but in the agent.go code if kubeletconfig.volumePluginDir exists, then it has preference over FLEXVOLUME_DIR_PATH in rook operator.

[2018-01-21 22:10] TimJones commented on #1424
@galexrt with the same config as above on a fresh cluster, I get the following...

[code]
A mon pod is created with the following log:
[code]
and no other mons come up
[code]

I noticed during the teardown of the previous cluser (following [these instructions](https://rook.io/docs/rook/master/quickstart.html#teardown)), that I have no Secret named `rook-admin` in either the `rook-system` or `rook`

[2018-01-22 16:02] BlaineEXE commented on #1419
You can assign me to this if you like. I have a load of meetings this week, but I'm working on getting builds working on my own as I have time.

[2018-01-22 16:33] bassam commented on #1419
all yours :-) Would be good to follow some of the simplification in https://github.com/ceph/ceph-container/pull/878. find me on slack if you have questions.

[2018-01-22 18:01] jbw976 opened #1428 "builds from master are dirty"
Recent builds published to docker hub have `dirty` in their tag, implying there is a local change on the Jenkins build server.  This should not be happening and we need to figure out what the cause is.

https://hub.docker.com/r/rook/rook/tags/
Example: v0.6.0-164.gf61daf9.dirty

[2018-01-22 18:21] kokhang commented on #1425
@albp Ahh.. This is an issue in Kubernetes 1.9 that was introduced. With the feature addition of dynamic kubelet configuration, there were a lot of changes and it affected the `node/proxy`  API.

Here is more information about it. https://github.com/rook/rook/issues/1330

[2018-01-22 19:40] albp commented on #1425
thx @kokhang but i dont think my case was a problem of kubernetes version, or the thread you linked,  in my kubernetes i can see this volumePluginDir

kubectl get --raw=/api/v1/nodes/<here one of my node names>/proxy/configz |jq
.kubeletconfig.volumePluginDir "/usr/libexec/kubernetes/kubelet-plugins/volume/exec/"

Perhaps i understood bad the FLEXVOLUME_DIR_PATH?

FLEXVOLUME_DIR_PATH is programmed

[2018-01-22 19:48] galexrt commented on #1421
We need to keep OpenShift in mind, depending on which K8s version it is based on now. Still I think it is a good idea to remove support for 1.6 and lower.
Latest OpenShift `3.7` seems to be based on K8s version `1.7`.

[2018-01-22 21:30] jbw976 commented on #1428
@dangula found that the `Gopkg.lock` file is updated in the local working copy on Jenkins:
[code]

strange that only the inputs-digest would change and nothing else.  this is the first commit where this started happening, but i see no dependency changes in that commit: https://github.com/rook/rook/commit/86c4962900b7dde9780c35a03ef42d299e46b9e5 (edited)

this looks helpful: https://github.com/gola

[2018-01-22 21:39] kokhang commented on #1425
OK now i understand. The rook operator does not set/override the system configuration. You have to set it manually using the `--volume-plugin-dir=/var/lib/kubelet/volumeplugins` flag. What the rook-operator allows you to do is to self-discover what this system config is set to.

However, as of K8s 1.9, rook was not able to do this auto-discovery. So the workaround to tell rook what this value is.

[2018-01-22 21:56] TimJones commented on #1424
@travisn Should I open a different issue for the `mons` issue?

[2018-01-22 21:59] travisn commented on #1424
oh, let's just reopen this. it was closed automatically unintentionally with the PR

[2018-01-22 22:05] travisn commented on #1424
@TimJones the operator will start a cluster by first starting a single mon. After it detects that the mon is healthy, it will add two more mons to have a quorum size of 3.

You're seeing just one mon because the operator never detects that it is healthy. The contents of the mon log make it look healthy, but the operator log shows that there is a problem connecting. Can you verify that there is net

[2018-01-22 23:51] albp commented on #1425
@kokhang thanks for the detailed explanation, please close this issue.

[2018-01-22 23:52] #1425 closed

[2018-01-23 20:46] #1204 closed

[2018-01-24 08:43] TimJones commented on #1424
@travisn Looks like you're right. I set up a simple nginx pod and tried to talk to it from a busybox pod and I was getting timeouts. So I'll go back into that before trying rook out again.

Thanks for the help!

[2018-01-24 08:43] #1424 closed

[2018-01-24 09:58] TimJones commented on #1424
Just to confirm, it was a networking issue in my bare-metal cluster.
Multiple network interfaces configured by DHCP via systemd creating multiple default routes in the routing table throwing all communications off!

[2018-01-24 16:20] travisn commented on #1428
can we just revert the file and see if the change comes back?

[2018-01-24 16:38] jbw976 commented on #1428
@travisn i don't *think* there's anything to revert though.  I *believe* that each build starts with a "fresh" cloned repo and then during the build process this change gets introduced, I assume during the vendor makefile target.  I wonder if this would repo locally if we ran the same build command that Jenkins runs.

[2018-01-24 18:17] lorenz opened #1433 "PV autoprovisioning fails on K8s 1.9 with VolumeScheduling gate enabled"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
When creating a PVC to provision Rook Block Storage the PVC and the PV stay pending.

Reason (excerpt from controller-manager loop):
[code]

Workaround:
[code]

What you expected to happen:
The PV should go to Bound state and the PVC should bind to it

How to reproduce it (minimal and precise):
Run K8s 1.9.x with

[2018-01-24 18:33] lorenz commented on #1433
Was an issue with not all API servers havin VolumeScheduling enabled

[2018-01-24 18:33] #1433 closed

[2018-01-24 18:42] travisn commented on #1424
@TimJones thanks for confirming the network issue. I opened #1430 to help with troubleshooting documentation. Your feedback on that doc would be great, thanks.

[2018-01-24 23:06] travisn commented on #1428
i ran `dep ensure` and hit the same issue locally. I'll open a PR with it.

[2018-01-25 00:31] #1101 closed

[2018-01-25 11:29] mpashka commented on #1082
We are having the same problem using rook 0.6.0. We have stateful set pod.
[code]

After StatefulSet update all pods were removed. And then during creation first pod stuck in init state:

[code]

And in rook agent logs each 2 minutes:
[code]

[2018-01-25 16:35] #1428 closed

[2018-01-25 18:01] jbw976 opened #1435 "Support disks/dirs to be added or removed"
Is this a bug report or feature request?

* Feature Request

**Feature Request**

Are there any similar features already existing: #1101 was the implementation for adding/removing storage at then node level.

What should the feature do:  This feature would allow the user to update a cluster CRD to add and remove disks and directories.

What would be solved through this feature:  Storage resources