[2019-03-05 12:38] karmab opened #2765 "raw volume support in ceph backend"
**Feature type :**
* Feature Request

**What should the feature do:**
support for raw volumes in ceph backend

**What is use case behind this feature:**
consuming ceph raw volumes from rook

**Environment**:
master

[2019-03-05 14:23] galexrt commented on #1540
@jbw976 I opened a PR for a basic script, see #2763.

[2019-03-05 14:41] batrick opened #2768 "In Nautilus, CephFS standby-replay is now a setting on the file system"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

From the Nautilus release notes:

[code]

**Expected behavior:**

Rook should stop using `mds_standby_for` configs (if it does) and use a setting on the file system to enable standby-replay.

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e

[2019-03-05 14:42] batrick commented on #2725
Does Rook actually know how to remove a file system? Or did you mean reduce `max_mds`?

[2019-03-05 14:43] batrick commented on #2725
See also the new commands `ceph fs fail <foo>` and `ceph fs set <foo> down true`.

[2019-03-05 14:44] batrick commented on #2768
Ceph PR that changed this behavior: https://github.com/ceph/ceph/pull/26638

[2019-03-05 15:35] yan636 commented on #2560
Yes, please close the issue.

[2019-03-05 15:42] #2560 closed

[2019-03-05 15:45] leseb commented on #2768
@batrick so we don't need to set MDS ranks anymore too?

[2019-03-05 15:50] travisn commented on #2308
Makes sense to me as well to only set it on the daemon deployments and related resources, but not all resources.

[2019-03-05 16:36] zhangdaxian2017 opened #2771 "Mon"
I used kubectl apply -f https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml,,created a rook-ceph-cluster.
But the pod is not running.
[root@master ~]# kubectl get pod -n rook-ceph
NAME                               READY   STATUS                  RESTARTS   AGE
rook-ceph-mon-a-88df95bf-kd7dh     0/1     Init:CrashLoopBackOff   10         29m
rook-ceph-mon-d-684d7

[2019-03-05 16:36] zhangdaxian2017 opened #2772 "Mon is not running"
I used kubectl apply -f https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml,,created a rook-ceph-cluster.
But the pod is not running.
[root@master ~]# kubectl get pod -n rook-ceph
NAME                               READY   STATUS                  RESTARTS   AGE
rook-ceph-mon-a-88df95bf-kd7dh     0/1     Init:CrashLoopBackOff   10         29m
rook-ceph-mon-d-684d7

[2019-03-05 16:36] zhangdaxian2017 commented on #2772
docker info:

[2019-03-05 16:59] ajarr commented on #2768
are you talking about this setting that is no longer possible?
https://github.com/ceph/ceph/pull/26638/files#diff-2e5efbe2fdd0c77602a636291aefc637L12

[2019-03-05 17:30] mhaluska commented on #2591
Version 0.9.2, it was latest in time I created this issue.

[2019-03-05 17:34] mhaluska commented on #2591
@galexrt and sorry, logs are already removed after redploy. Machine was CentOS without LVM installed.

[2019-03-05 17:45] raghavendra-talur commented on #2699
It would certainly be very tempting to merge the operator, provisioner and mounter code into one binary. As a developer it would simplify the workflow.

As an admin, however, it would be very restrictive. An admin would want the following options:

- Ability to provision and mount volumes from manually deployed Ceph.
- Ability to check the version of ceph-csi independent of rook version.
- Ability

[2019-03-05 18:23] travisn commented on #2699
One question that would answer it definitely is if we need the ability to support different versions of the CSI driver depending on K8s version. For example, if ceph-csi:v1.0 is needed when running on k8s 1.13, and in the future csi:v1.1 would be necessary to run on 1.14, Rook would need to deploy different versions of the csi driver. If Rook were to include the csi driver in its package, we would

[2019-03-05 18:32] batrick commented on #2768
What do you mean "set MDS ranks"? `standby_for_rank`?

[2019-03-05 18:33] batrick commented on #2768
@leseb if you mean this `ceph-mds` flag ^, then yes, you don't need to set the MDS rank.

[2019-03-05 18:52] galexrt commented on #2771
@zhangdaxian2017 It seems that you created two issues with the same content. Can this one be closed in favor of #2772?

[2019-03-05 18:54] phlogistonjohn commented on #2699
I agree. While it does seem that the CSI spec has solidified recently I personally think it's a enough of a concern that we don't over-couple these components.

Agreed.

That seems quite reasonable to me. The code is shared to a large degree and the roles they play are conceptually similar from a k8s viewpoint. While what they request from the ceph side isn't exactly the same that's more of an imp

[2019-03-05 19:08] rootfs commented on #2699
I believe the goal is to allow Rook to deploy and run CSI drivers, and protect Rook from breaking changes in ceph-csi.

Currently Rook deploys ceph-csi through templates, admin can fine tune those templates and ceph-csi images to stay away from any potential breaking changes in ceph-csi. However, with more integration underway, we'll have to expose more details to Rook, e.g.:

- In #2729, the new

[2019-03-05 20:21] dyusupov commented on #2383
This no longer can be reproduced. Closing.

[2019-03-05 20:21] #2383 closed

[2019-03-05 20:22] dyusupov commented on #2681
this issue no longer can be reproduced with the latest operator in master. closing it tentatively.

[2019-03-05 20:22] #2681 closed

[2019-03-05 20:36] leseb commented on #2768
Thanks @batrick @ajarr basically, we have this code: https://github.com/rook/rook/pull/2770/files#diff-88e122c59d793314e266aa0c55b610b9R87

I was wondering if we should ignore it for Nautilus and above too.

Here is the full function: https://github.com/rook/rook/blob/2af0be2cecc101a5dad5bfff454043bbe3d3726c/pkg/daemon/ceph/client/filesystem.go#L160

[2019-03-05 21:13] BlaineEXE commented on #2686
@phlogistonjohn

This idea seems like it might be feasible and a reasonable amount of effort and complexity, even if still more complex than ideal. Thank you for the input about scaling performance with `exec`s.

I would like to solve the general "centralized logs" case all in one go when we go in for this fix. I'd rather not rely on the `CEPH_VERSION` env var being available not because we don't

[2019-03-05 21:19] BlaineEXE commented on #2760
I'll start trying to debug this.

[2019-03-05 22:08] noahdesu commented on #2740
Exposing a configuration setting for the number of monitors (i.e. `count`) makes total sense, but I tend to resonate with the comment by @leseb that `preferredCount` may not be required. Perhaps I'm not understanding the requirement exactly, but for me the source of misunderstanding stems from this statement:

In a cluster where it makes sense to have `count=5`, if node failures occur such that 2

[2019-03-05 23:47] travisn commented on #2740
In your example, the operator would be making things more stable by reducing the quorum to 3... If you have 5 mons and 2 are offline, you cannot tolerate any more mons going down. If the operator then removes the 2 offline mons and reduces the quorum size to 3, then the cluster would be able to tolerate another mon going down. When the nodes are repaired or replaced, then the operator could increa

[2019-03-06 01:57] noahdesu commented on #2740
I don't see any reason why the scenario you're describing would be problematic from a correctness point of view in isolation, and indeed the failure tolerance benefit is compelling. The issue I'm trying to surface for discussion (or maybe just my education) is that even though the operator can respond instantaneously where a person may be delayed in their response, the same underlying decisions ex

[2019-03-06 02:53] zhangdaxian2017 commented on #2771
oh,i mistake

[2019-03-06 02:53] #2771 closed

[2019-03-06 05:55] mingxingshi opened #2775 "failed to get pod. Unauthorized"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
`CentOS Linux release 7.5.1804 (Core)`
* Kernel (e.g. `uname -a`):
`Linux 3.10.0-862.14.4.el7.x86_64 #1 SMP Wed Sep 26 15:12:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
* Cloud pr

[2019-03-06 06:49] l10xbin commented on #2731
@galexrt  I not sure if the behavior will be same in minikube and the real kube. But after I clean the cache and http-cache. The problem still exist.  Maybe we did not based on the same gitcommit.

![image](https://user-images.githubusercontent.com/40697655/53861329-e2d02880-401e-11e9-9b1f-e22755411703.png)

Anyway, this issue does not block me, just in case some guy like me have the same issue ca

[2019-03-06 06:49] mingxingshi commented on #2775
I retried again with the bellow operator.yaml file:
[code]
hit the same issue:
[code]

[2019-03-06 08:45] leseb commented on #2740
Glad to read that we are not going to add another option in the CRD :).

[2019-03-06 09:45] fentas commented on #2526
@sfxworks you have to deploy https://github.com/rook/rook/blob/master/Documentation/ceph-toolbox.md

[2019-03-06 13:40] sepich opened #2776 "Expose operator metrics"
**Is this a bug report or feature request?**
* Bug Report
I've noticed that CephCluster CRD got to error state
[code]
And there is no way to know about it.
I've found these related issues:
https://github.com/rook/rook/issues/704
https://github.com/rook/rook/issues/713
So, it seems previously there were some internal metrics exposed.
I've checked the operator pod, and it doesn't listen on any port.

[2019-03-06 16:52] zlbabe commented on #923
Can you plz update the wiki page as there is no indication on how to use this feature https://rook.io/docs/rook/v0.9/ceph-cluster-crd.html#osd-configuration-settings

Thanks

[2019-03-06 19:40] noahdesu opened #2779 "ceph: add documentation for using dmcrypt feature"

[2019-03-06 19:40] noahdesu commented on #923
@zlbabe thanks for the note. i've added a ticket to track this https://github.com/rook/rook/issues/2779

[2019-03-06 23:09] q2dg commented on #2044
Well, glusterd2 reached v5.0 past year. Maybe it's "stable and relased" already.
On the other hand, please disable the stale bot: it does much more harm than good.

[2019-03-07 04:14] travisn commented on #2686
@leseb If docker inspect worked without needing to pull an image, it would be ideal, but since docker inspect requires pulling the image I'm not seeing how it would help.

Another approach is modeled after our OSD daemons, credit to @BlaineEXE . I believe it would solve all the issues around this. The "version detect" job will be run with two containers.
1. The first container will copy the `rook`

[2019-03-07 06:01] noahdesu commented on #2686
@travisn this is probably obvious to everyone but me, but is this 3 step 2 container process for getting the ceph version a means to avoid stdout being eaten by docker logging?

The use of `exec` does seem quite attractive. It appears (in this specific instance) to be no less antithetical to k8s-native-purity than container inspection, and the mechanism would also be general enough to handle scena

[2019-03-07 09:53] shayshahak commented on #2755
i got it!
the problem was with the CephCluster configuration.

when using your example here for some reason only 1 Node is able to use the Shared FileSystem:
https://rook.io/docs/rook/v0.9/ceph-quickstart.html

when using your example here all Node are able to use the shared FileSystem:
https://raw.githubusercontent.com/rook/rook/master/cluster/examples/kubernetes/ceph/cluster.yaml

not sure what

[2019-03-07 10:51] gouki777 opened #2781 "K8S osd pod was not created [rook-ceph-operator]"
hi
i look https://rook.github.io/docs/rook/v0.9/ceph-quickstart.html
but,i don't know. osd pod was not created.
my -labels  node{1,2,3} is ceph-mon
                   node{4,5,6} is ceph-osd
                   node1 is ceph-mgr
help..
<pre>
**Environment**:
* OS (e.g. from /etc/os-release):  centos 7.5
* Kernel (e.g. `uname -a`): 4.19.6-1.el7.elrepo.x86_64
* Cloud provider or hardware configuratio

[2019-03-07 11:15] lewismarshall commented on #2274
I've just seen the same problem after testing a complete kubernetes cluster restart. The rook-ceph cluster recovered but the operator came up with the same logs.

Environment:
Rook version (use rook version inside of a Rook Pod): rook: v0.9.3
Kubernetes version (use kubectl version): v1.12.3
Storage backend status (e.g. for Ceph use ceph health in the Rook Ceph toolbox): HEALTH_OK

New PVC's were

[2019-03-07 11:24] ajarr commented on #2725
Meant reduce 'max_mds'

[2019-03-07 15:32] ajarr commented on #2725
I meant to reduce 'max_mds'.

[2019-03-07 16:35] #2768 closed

[2019-03-07 17:16] dsavineau commented on #2686
@travisn maybe I'm out of context there but did you consider to use skopeo [1] instead of docker in order to inspect container images remotely ?

[1] https://github.com/containers/skopeo

[2019-03-07 18:31] dimm0 commented on #2221
I see a command to deal with those in 12.2.11
https://ceph.com/releases/v12-2-11-luminous-released/

[code]

Any way to get that version? The rook toolkit pod doesn't seem to have this command

[2019-03-07 18:31] dimm0 commented on #2221
Having 160 such objects now

[2019-03-07 18:46] travisn commented on #2686
To summarize some separate discussion:
- Need investigation to know if there is any way to not have the logs be removed from the pods by graylog, or other tools. This seems broken if it changes the k8s behavior of logs being available.
- If we do make a change, we should keep it simple and not so involved change as my [earlier comments](https://github.com/rook/rook/issues/2686#issuecomment-4703781

[2019-03-07 19:03] rootfs commented on #1169
For CSI driver, there was a dependency to wait for external-resizer. Now that dependency is resolved. once ceph-csi supports volume expansion, Rook should be able to pick it up.

cc @travisn

[2019-03-07 21:07] arctiqtim opened #2784 "Operator hanging on creation of self-signed cert for the mgr dashboard"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Dashboard will not deploy with building the Ceph cluster.  You need to disable dashboard, deploy the cluster, then enable dashboard.

**Expected behavior:**
Dashboard should be able to deploy with the cluster.

**How to reproduce it (minimal and precise):**
Attempt to create a Ceph cluster with the Roo

[2019-03-07 21:26] travisn commented on #2784
I have seen this before that creating the self-signed cert would hang when initially configuring the dashboard. Can you share the operator log to confirm this?

[2019-03-07 22:13] travisn commented on #1435
Let's focus this issue on adding a disk to a running node. Some design points to consider:
- The operator would have a new goroutine that watches for a k8s event on a configmap that indicates a new device was added. The configmap is the one that we already have in the rook-ceph-system namespace that saves the devices detected on a node
- The discovery service should watch for a hardware event that

[2019-03-07 23:13] hassenius opened #2785 "osd fails when reprovisioning a cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
All osd pods in a Error or CrashLoopBackOff state

Very similar result to #2696 except all my osd pods fail.

**Expected behavior:**
All osd pods should be in "Running" state.

**How to reproduce it (minimal and precise):**
Failure scenario:
- 3. storage nodes with 2 dedicated disks
- hostnetwork enabl

[2019-03-08 00:28] travisn commented on #1870
Looks like another instance [today](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/master/992/pipeline)

[2019-03-08 02:24] mingxingshi commented on #2775
After reboot the server, the deployment was successful. I think that just restarting the relevant components of kubernetes should solve this problem. But I don't know what happened.

[2019-03-08 02:24] #2775 closed

[2019-03-08 02:26] gouki777 commented on #2781
I false dashboard   is good.
<pre>
error log. rook version 0.9 dashboard  is true.
-------------
2019-03-08 01:52:21.312758 I | op-mon: mons running: [a b c]
2019-03-08 01:52:21.312992 I | exec: Running command: ceph mon_status --connect-timeout=15 --cluster=rook-ceph --conf=/var/lib/rook/rook-ceph/rook-ceph.config --keyring=/var/lib/rook/rook-ceph/client.admin.keyring --format json --out-file /tm

[2019-03-08 02:28] gouki777 commented on #2784
rook version 0.9
I have the same problem.
you need cluster.yaml  dashboard = false。
#2781

[2019-03-08 04:21] #1813 closed

[2019-03-08 08:32] salkin commented on #2785
I can confirm the same issue on k8s v1.11.5 and rook v0.9.2

[2019-03-08 08:40] HaveFun83 commented on #2731
I had the similar issue on k8s 1.13.4:
Adding a selector in the deployment.specs fixed this issue:
[code]

[2019-03-08 08:55] clkao commented on #2553
This appears to be caused by rbd not properly unmounted and unmapped by agent after pod termination.
do you have the logs from agent?

we've also seen cases that rbd is umounted but not unmapped after pod termination, which causes fllesystem corruption as the pvc might be remounted by another node by a new pod.

[2019-03-08 09:14] leseb commented on #2785
Can you `cat /var/lib/rook/osd0/rook-ceph.config`? Also, this is running Mimic right?

[2019-03-08 10:04] salkin commented on #2785
Here is rook-ceph.config:

[global]
fsid                      = dc3cd680-7c78-4484-94b2-eb8f9c3f40b5
run dir                   = /var/lib/rook/osd0
mon initial members       = b c a
mon host                  = 172.21.36.102:6790,172.21.36.103:6790,172.21.36.101:6790
log file                  = /dev/stderr
mon cluster log file      = /dev/stderr
public addr               = 172.21.36.102
cluster add

[2019-03-08 10:50] devyanikota commented on #2206
Hi, am a new contributor to ceph and rook. Working on my rook setup.
@travisn can I pick this issue up?
Thank you.

[2019-03-08 11:00] leseb commented on #2206
@devyanikota Please go ahead.

[2019-03-08 11:39] lbogdan commented on #1870
I think adding `if not exists` to both database and table create should solve this.

[2019-03-08 12:30] hassenius commented on #2785
Actually, I've been brining up and tearing down this cluster a few times since this, with minor variations.   It's now up and running again, and _it seems_ the thing that fixed it for me was to do some additional cleanup on each node:
[code]

I'll need to do some more tests to validate that this was actually the thing that fixed it, and that the current success is in fact related to this and not j

[2019-03-08 13:11] hassenius commented on #2785
Just ran a redeploy, but manually cleaning up `storage2` as described in previous post, leaving storage1 and storage3 "unchanged"
Here's the result:
[code]

[code]
While `storage2` now looks completely healthy:
[code]

[2019-03-08 13:24] leseb commented on #1435
I think the should replace bullet 2 with "call c-v inventory" and detect newly added drives. c-v is the source of truth here, it should be able to tell us if the disk that was added is usable or not and then we can take action. Sorta addressed by https://github.com/rook/rook/issues/2606

[2019-03-08 13:43] hassenius commented on #2785
ok, so after a few reprovision attempts the conclusion is that the only bug was me not reading the `Delete the data on hosts` section in https://rook.io/docs/rook/v0.9/ceph-teardown.html properly.
@salkin I'll close this one and let you open a separate if you issue is different

[2019-03-08 14:36] ZYecho commented on #1810
/assign

[2019-03-08 14:56] travisn commented on #1435
Agreed that c-v inventory should be the source of truth for available devices. And to be event driven, we will want to watch a hardware event of attaching the device so we don't need to poll frequently.

[2019-03-08 15:10] travisn commented on #2206
@devyanikota sounds good, i sent an invite so we can assign to you.

There are some related discussions to this issue if you could refer to them. There is a [design doc](https://github.com/rook/rook/blob/master/design/external-management.md) that describes how the filesystem CRD is designed to allow for the dashboard to control when the pools are created and deleted. It is a different scenario tha

[2019-03-08 22:17] vreon opened #2787 "PriorityClass support"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

The `CephCluster` CRD should have fields for setting `priorityClassName` on pods created by the operator. Ideally, users would be able to set `priorityClassName` for `mgr`, `mon`, and `osd` pods independently, just as they can today with `resources`.

**What is use case behind this feature:**

I'd like

[2019-03-08 22:55] arctiqtim opened #2788 "Ceph block storage not mount on pods schedule on infra nodes in OCP"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
With a working Ceph cluster it's anticipated to mount storage in any pod.

**Expected behavior:**
With OCP, by default block devices can't be mounted by pods running on Openshift Infra nodes

**How to reproduce it (minimal and precise):**
Deploy the operator and rook-ceph cluster as per directions.  Wh

[2019-03-09 04:01] drakonstein commented on #2514
Since Luminous it has been against recommended guidelines to use multiple CRUSH roots as opposed to using device classes for CRUSH placement rules.  The above documentation should be replaced with instructions for device classes and creating CRUSH rules to utilize them.

However, more to the point of this ticket, there is a ceph.conf option osd_crush_update_on_start that is required to set to fals

[2019-03-09 05:50] travisn opened #2790 "Collect CI logs even when build is successful"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently in the CI the logs are only collected if the build fails. As a comparison point, it would also be helpful to gather the logs when the builds are successful.

The change would be needed in the `Teardown()` methods of the integration test installers where the following methods are called: `Gathe

[2019-03-09 06:17] travisn opened #2791 "Integration tests for EdgeFS"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The integration tests currently do not run the EdgeFS. This means that we don't have checks in place to know if a change will break EdgeFS with each PR that merges. With each PR there will be a risk of regression until the integration tests are added.
@dyusupov are these already in the plan?

**What is

[2019-03-09 06:18] ZYecho commented on #1810
@jbw976 Hi, I find that there's already have a helm charts for cockroachdb which developed by cockroachdbLab, Could we reuse it?

[2019-03-09 06:52] dyusupov commented on #2791
ack. I was just thinking about the same. thanks for bringing this up.

[2019-03-10 02:12] ZYecho commented on #2790
/assign

[2019-03-10 06:00] dimm0 opened #2794 "Edgefs-ui 1.0.0 container does not exist"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When creating the edgefs cluster:

[code]

**Expected behavior:**
According to https://github.com/rook/rook/blob/master/Documentation/edgefs-cluster-crd.md#cluster-metadata, "We recommend to specify particular image version for production use, for example edgefs/edgefs:1.0.0." - expect 1.0.0 version to

[2019-03-10 06:23] dimm0 opened #2795 "EdgeFS is missing PSP rolebinding for rook-edgefs-cluster serviceaccount"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-edgefs-mgr can't start due to missing rook-edgefs-cluster PSP rolebinding

**Expected behavior:**
rook-edgefs-mgr starts with provided yamls

**How to reproduce it (minimal and precise):**
Follow instructions in a cluster with restricted PSP

[2019-03-10 06:24] zlbabe opened #2796 "document Ceph dashboard credentials in k8s secret"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow dashboard credentials to be defined in k8s secret.
maybe add a field `auth-secret` in the Ceph Cluster CRD config fie as follows:
[code]

**What is use case behind this feature:**
Customization of dashboard credentials.

**Environment**:
Ceph

[2019-03-10 06:27] dimm0 opened #2797 "EdgeFS target CrashLoop"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Target pod's corosync container is in crashloop

[code]

Can't even find this class in rook sources...

**Expected behavior:**
Target pods starts

**How to reproduce it (minimal and precise):**
Here's my config:

[code]

[2019-03-10 07:11] dimm0 commented on #2274
Seeing this after updating to 0.9.3:

[code]

[code]

[2019-03-10 07:18] dyusupov commented on #2794
Thank you for reporting the issue. It is possible that ui:1.0.0 wasn't tagged at the moment we marked 0.9. Could you please switch to master operator and edgefs/edgefs:1.0.1 version?

[2019-03-10 07:21] dimm0 commented on #2794
I've left the latest, and there are 2 more issues... Now stuck with the latest I submitted

[2019-03-10 07:33] dyusupov commented on #2794
Ok. I tagged missing 1.0.0. Tentatively closing the issue and we will continue troubleshooting in the other one you reported. Thanks again.

[2019-03-10 07:33] #2794 closed

[2019-03-10 07:35] dyusupov commented on #2797
Anything suspicious in the operator log?

[2019-03-10 07:50] dimm0 commented on #2797
Nope, all happy...
Where is this /opt/edgefs/src/efscli/config/config.go class source? Which config line it doesn't like?

[2019-03-10 07:56] dyusupov commented on #2797
I think I might know what is going on. Operator generated incorrect configuration for efscli. Can you move useAllNodes: "false" to the storage section and remove double quotes?

[2019-03-10 07:59] dyusupov commented on #2797
also, can you for now remove nvme device from the list, so that to simplify configuration?

[2019-03-10 08:05] dimm0 commented on #2797
https://gitlab.nautilus.optiputer.net/prp/rook/blob/master/rook-edgefs-cluster.yaml#L104

error parsing https://gitlab.nautilus.optiputer.net/prp/rook/raw/master/rook-edgefs-cluster.yaml: error converting YAML to JSON: yaml: line 19: did not find expected key

[2019-03-10 08:09] dyusupov commented on #2797
ah, shift that line two symbols to the left i think.

[2019-03-10 09:19] nakabonne commented on #1315
@jbw976 Please tell me more about the environment Jenkins is running in, the information I want to know especially is as follows:
- How is the environment in which the integration test of each cloud provider is executed constructed?
- Instruction set architecture of each machine (amd64?)

Thanks.

[2019-03-10 22:12] feffi opened #2800 "FlexVolume: driver call failed - failed to mount filesystem cephfs - mount error 2 = No such file or directory"
**Are you in the right place?**
I contacted via [Rook.io Slack](https://Rook-io.slack.com) in #general for help. They redirected me here to open an issue. Sorry, this will be a very detailed report.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
A shared filesystem based on Ceph can be created but not mounted in any pod.

Error message is:
[code]

[2019-03-11 00:35] #2286 closed

[2019-03-11 03:41] gouki777 commented on #2781
/ceph

[2019-03-11 03:54] aisensiy commented on #877
So it means just reboot the machine without handling ceph will not cause any error for rook ceph?

[2019-03-11 11:17] gouki777 opened #2801 "pgs is unkown [rook-ceph-operator-0.9]"
hi
i look https://rook.github.io/docs/rook/v0.9/ceph-quickstart.html.
why?my pgs is unkown. help me.

my -labels node{1,2,3} is ceph-mon
node{4,5,6,7} is ceph-osd
node1 is ceph-mgr

<pre>
# ceph -s
  cluster:
    id:     022a5b4a-f26d-4b29-b801-9a782a9ee5d2
    health: HEALTH_WARN
            Reduced data availability: 128 pgs inactive
  services:
    mon: 3 daemons, quorum b,a,c
    mgr: a(active

[2019-03-11 11:32] omidraha commented on #2433
I got 404 error.

This is my `ingress.yaml` file:

[code]

When I browse to https://rook-ceph.example.com/

And click on the browser warning button:

```Proceed to rook-ceph.example.com (unsafe)```

I get this error on browser:

```default backend - 404```

**Info:**
[code]

[2019-03-11 12:39] omidraha commented on #2433
When I change dashboard settings in ``cluster.yaml`` and set `ssl: false`, to disable ssl for dashboard :
[code]
Now there is no `rook-ceph-mgr-dashboard` on the services:

$ kubectl -n rook-ceph get service
[code]
Any idea?

[2019-03-11 17:04] umangachapagain commented on #2005
Looking at it. Will put up a fix soon.

[2019-03-11 18:35] hongkailiu commented on #2684
@leseb and @travisn Any idea when we could get someone looking into this?

[2019-03-11 18:53] yan636 commented on #2696
I have referenced #2785 about the cleanup. I've the same issue when "hostNetwork" is "false" or "true". Also I've done all the steps on https://rook.io/docs/rook/v0.9/ceph-teardown.html.

In below case, one of the osds failed to be up.
-------------------------
kubectl -n rook-ceph2 get pods
NAME                                          READY   STATUS             RESTARTS   AGE
ceph-oam-7ffc6458f8

[2019-03-11 19:16] hongkailiu commented on #2684
It seems working with this combination: [my-changes](https://github.com/hongkailiu/rook/commit/ccde82e5966225924f46e85b5cf28bde7d53e9c9) on top of it stays the same as before.

[code]

Notice that there are TWO osd pods on each storage node on master branch while only ONE on 0.9 branch.

[2019-03-11 19:16] #2684 closed

[2019-03-11 20:13] BlaineEXE commented on #2686
@travisn and @firaxis, my k8s sysadmin friend says

[2019-03-11 21:39] hongkailiu commented on #2667
70196e5f (origin/master, origin/HEAD, master) Merge pull request #2786 from nakabonne/add-wget

# oc get clusterversion
NAME      VERSION                             AVAILABLE   PROGRESSING   SINCE   STATUS
version   4.0.0-0.nightly-2019-03-06-074438   True        False         3h2m    Cluster version is 4.0.0-0.nightly-2019-03-06-074438

600 PVC creating/deleting works fine on both block and shar

[2019-03-11 21:39] #2667 closed

[2019-03-11 22:19] leseb commented on #2686
@BlaineEXE I don't think we need the `>` but anyway. So IIUC, we execute something like `ceph version | tee ceph_version.txt` and then we read the `ceph_version.txt`'s content? But at this point, the container stopped so how do we retrieve the content of this file?
I have the impression I'm missing something...

However, this complicates things a little bit since we now log inside the container to

[2019-03-12 00:14] ldcastell opened #2805 "Client pods can't write to NFS mount"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Client pods can't write files to NFS mount. Getting 'Invalid argument' error on client pod.
NFS server returning:
[code]
**Expected behavior:**
Client pods should be able to write files to NFS mount
**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Ker

[2019-03-12 03:44] nakabonne commented on #1901
Hey @jbw976 Can you tell me which architectures are currently supported?
I found the following definition in `build/makelib/common.mk`:

[code]
Does this mean they are supported? Thanks.

[2019-03-12 05:04] dimm0 commented on #2797
That fixed it.
Now another error... Will write in Slack I suppose
Should I close the ticket, or you'll fix config parsing?

[2019-03-12 05:43] dyusupov commented on #2797
let's keep this one open for now, maybe we can re-think why usage was confusing and improve it.

[2019-03-12 07:42] jbw976 opened #2806 "Update Kubernetes packages references to 1.13+"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:** Currently, our Kubernetes dependencies are using 1.12: https://github.com/rook/rook/blob/master/Gopkg.toml#L56-L95.   At some point, we will want to upgrade to a newer version of the Kubernetes clients/dependencies/etc.

**What is use case behind this feature:** . The Rook references to Kubernetes packa

[2019-03-12 08:10] leseb commented on #2684
@hongkailiu Glad to see you have it working now. AFAICS your changes do not diverge from what's documented here: https://github.com/rook/rook/blob/master/Documentation/openshift.md. If you believe something is unclear, do not hesitate to tell us or even better send a PR to improve the documentation.

Thanks!

[2019-03-12 08:22] leseb commented on #2805
@jtlayton can you help with this? Thanks!

[2019-03-12 08:37] #2795 closed

[2019-03-12 09:22] jbw976 opened #2807 "glog should not be used directly in Rook"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The rook main entry point binary crashes with the following while I'm trying to upgrade the Kubernetes references to 1.13 as described in #2806:
[code]

The cause appears to be the EdgeFS operator's single usage of `glog`: https://github.com/rook/rook/blob/master/pkg/operator/edgefs/cluster/utils.go#L2

[2019-03-12 09:25] jbw976 commented on #2807
This looks related: https://github.com/kubeless/kubeless/issues/46#issuecomment-282746612

Kubernetes actually forked `glog` because of issues with it and are now using `klog`: https://github.com/kubernetes/klog

Other interesting references:
* https://github.com/kubernetes/kubernetes/issues/61006
* https://twitter.com/davecheney/status/994405759784906757

[2019-03-12 09:36] omidraha commented on #592
Is there any draft or ready document about this?

[2019-03-12 10:36] jtlayton commented on #2805
@ldcastell : can you attach the ganesha.conf file from your ganesha pod here? Also if you have any configs that are included from RADOS, please copy those into files and paste them here as well.

[2019-03-12 10:55] tombarron commented on #2805
This *might* be the same issue [1]  we saw from manila serving shares to k8s from cephfs via ganesha where cephfs volumes had to be created mode 0775 instead of the default 0755 to be successfully mounted in k8s.

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1643167

[2019-03-12 11:58] jbw976 commented on #2731
I was able to repro this today with minikube.  Both wordpress.yaml and mysql.yaml should be using `apps/v1` and they should both include selectors as @HaveFun83 suggested.

[2019-03-12 12:00] jbw976 commented on #2074
@noahdesu I ran into this multiple times in a row this morning getting ready for demos today in London.  Your suggestion of bumping down the PVC storage size from 20Gi to 2Gi seemed to help.  Thanks!

[2019-03-12 12:47] hongkailiu commented on #2684
@leseb The changes I made followed the docs and the Q/A with @travisn.
They work fine with 0.9 branch and however, it did not with master earlier.
But master is good now although i do not know which part fixed it (or even the fix is on the OCP side).

[2019-03-12 15:14] omidraha commented on #2800
Hi,
In this [line](https://github.com/k911/rook/blob/cf7d13d13d6c4934e2fdb615ffd2bce60da3abff/cluster/examples/kubernetes/ceph/kube-registry.yaml#L62), said:

[code]
How can I create a folder inside cephfs?

[2019-03-12 15:55] yan636 commented on #2696
Has been blocked for several weeks and it's critical for our production deployment.

[2019-03-12 16:00] jbw976 opened #2808 "minikube.sh up fails while creating symbolic link"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
`minikube.sh up` is failing for me on https://github.com/rook/rook/blob/master/tests/scripts/minikube.sh#L132:
[code]

Output:
[code]

I had to comment out this line in order to proceed.

**Expected behavior:**
`minikube.sh up` to succeed and Rook images to be copied to VM

**How to reproduce it (minim

[2019-03-12 16:01] michas2 opened #2809 "ceph: dashboard set-credentials is not retried"
(Already discussed that issue with lbogdan in slack.)

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Ceph dashboard does not activate.

**Expected behavior:**

Dashboard should activate, when requested in the CephCluster object.

**How to reproduce it (minimal and precise):**

I am using v0.9.2 of rook to run ceph on a bare metal typhoon cluster.

[2019-03-12 16:01] dyusupov opened #2810 "EdgeFS: support for embedded use cases"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

EdgeFS supports the target ability to run in a small memory footprint devices.

**What is use case behind this feature:**

 It can be enabled via CCOW_EMBEDDED=1 option in the target's daemon container environment. Once enabled, it will:

- operate in 256MB of cgroup controlled environment with 1 devic

[2019-03-12 16:10] leseb commented on #2809
@noahdesu is it related to your current PR?

[2019-03-12 16:12] leseb commented on #2808
`ln -sf`?

[2019-03-12 16:23] michas2 commented on #2809
Could it be some timing issue or race condition?
The cluster needs quite some time until it is ready to provision pvc or provide an s3 endpoint.
Maybe it tries to run some command before some service is ready?

But that would probably not explain the "invalid command"...

[2019-03-12 16:28] jbw976 commented on #2074
@galexrt suggested tailing dmesg output in another terminal when trying to repro this

[2019-03-12 16:58] leseb opened #2811 "rbd-mirror does not have any resource limit/request implemented"
Currently, we can not restrict the resources of the rbd-mirror pod.

[2019-03-12 17:20] travisn commented on #2696
@yan636 Can you share the `storage` section from your cluster CRDs where you're seeing the issue? If you have multiple clusters on the same nodes you will need to be very careful to make sure the devices in the CRD for one cluster do not overlap with the devices in the other cluster. For example, if one cluster uses xvdd, the other cluster cannot use xvdd. Only one cluster can use each device.

[2019-03-12 17:42] noahdesu commented on #2809
@michas2 could you post the log output for the `mgr` pod? the dashboard command failure does appear to be a race condition (since it works later when the command works with the toolbox), but i think it more likely to be some other issue.

@leseb this doesn't appear to be related the version of rook/ceph being reported would seem to predate dashboard stuff, so it might be a repeat of past issues.

[2019-03-12 18:26] noahdesu commented on #2433
@omidraha thanks for the bug report. would you mind submitting your report again as a new issue instead of attaching it to this closed issue?

[2019-03-12 19:02] #2790 closed

[2019-03-12 19:38] dyusupov opened #2812 "EdgeFS directories backend needs to be configurable similarly to raw disk backend"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Enable better configuration support for directories

**What is use case behind this feature:**

Add support to PLevelOverride, Psize and VerifyChid.

**Environment**:

[2019-03-12 20:04] galexrt commented on #2332
Reopening that we add it to the Ceph FAQ page, see #2766 or a later PR.

Also as #1191 covers automatic the calculation and Ceph is/will soon support PG down/resizing we should be good on this topic then.

[2019-03-12 20:12] #2042 closed

[2019-03-12 20:16] dimm0 commented on #2254
FYI
https://github.com/kubernetes/community/pull/2595
https://github.com/kubernetes/enhancements/pull/696

[2019-03-12 20:47] travisn commented on #2044
While the stale bot may be aggressive, it's a way to prune work that nobody is picking up. If nobody is actively work on this feature request, then why keep it open? In this case, we need somebody from the community to step up and do the design and implementation work. @MartinForReal @q2dg If you're volunteering for this effort, then we can certainly reopen it.

For bugs, I fully agree that we nee

[2019-03-12 23:05] michas2 commented on #2809
@noahdesu Here is the condensed log of the pod:
[code]

[2019-03-12 23:58] noahdesu commented on #2809
thanks @michas2 could you post the whole log? you can dump it to something like https://paste.fedoraproject.org/. Also, does the full log also cover the time when you setup things and observed the dashboard configuration failure (command not found)?

[2019-03-13 01:00] michas2 commented on #2809
Not sure what kind of details you are looking for, but here is the huge boring mgr log:
https://paste.fedoraproject.org/paste/7SCnXT8mK~ujZc7ScEoKsA

Here is also the log of the operator showing the error:
https://paste.fedoraproject.org/paste/bPO1JycCWllqO6vmkQCQTw

[2019-03-13 01:29] noahdesu commented on #2809
You're right, that is a pretty boring log :) The error in the operator log definitely looks like a race condition in which there is a delay after the manager deployment starts in which the operator attempts to configure the dashboard the manager process hasn't yet fully setup/paired with the monitors. Maybe @travisn can confirm that this is possible.

Regarding the other issue you mentioned with t

[2019-03-13 01:52] michas2 commented on #2809
Not sure if it really is a race condition. The error message looks more like a typo in the command.

There actually is no "other" issue.
[code]
The container declares the dashboard port, but the binary inside does not serve the dashboard. This is probably because of the `failed to enable mgr dashboard` message in the operator log.

The only question is: Why did the operator fail to enable the dash

[2019-03-13 02:17] noahdesu commented on #2809
It’s true a typo would produce this error, but this same error will also be produced if the manager process has not yet announced/published its commands on startup (including the dashboard commands) before the time a client attempts to configure the dashboard. The dashboard is generally working in 0.9 release, so a race condition seems like the most probable scenario.

I definitely sympathize w us

[2019-03-13 07:43] ulrichSchreiner opened #2816 "edgefs Repo not found"
In the documentation there are  links to [EdgeFS Wiki](https://github.com/Nexenta/edgefs/wiki) but this links are dead. It would be great to update the links.

The whole repository for [edgefs](https://github.com/Nexenta/edgefs) returns a NotFound. Is this repo open or closed source?

[2019-03-13 07:57] galexrt commented on #2816
Ping @dyusupov

[2019-03-13 08:20] omidraha commented on #2800
Any help please?
Thanks.

[2019-03-13 08:25] michas2 commented on #2809
The "instructions" simply tell to set `spec.dashboard.enabled=true` to enable the dashboard inside of the container and then to "connect" it to the outside using services.
If there is no dashboard running inside the container, then the service cannot pull some dashboard out of thin air.

For debugging I already used `kubectl port-forward` to access the service and the pod directly and did not get

[2019-03-13 08:52] michas2 commented on #2809
I now tried to manually run the steps in the code inside the operator pod:
[code]
The logs (as expected) noticed this. But the dashboard still does not come up.

I noticed this line:
[code]
I deactivated ssl als already written in the report (because my ingress controller already takes care of it), maybe this is why the dashboard is unhappy?

[2019-03-13 09:30] michas2 commented on #2809
Oh, seems like the error message in the operator is unrelated to the dashboard. I tried to create a pvc (default/test) at the same time before the cluster was ready. Therefore the operator probably tried to access osds which were not available, yet. - Maybe we could see that as a tiny (unrelated) bug, but it does not help with the dashboard.

[2019-03-13 09:31] lbogdan commented on #2809
Did you also disable the dashboard SSL?
[code]
(see http://docs.ceph.com/docs/mimic/mgr/dashboard/#ssl-tls-support)

[2019-03-13 09:51] michas2 commented on #2809
@lbogdan Bingo. That was exactly the missing piece!
As soon as I set that option, port 8080 comes up serving the dashboard.

Looks like rook does not set this option and also does not wire the correct port:
https://github.com/rook/rook/blob/v0.9.2/pkg/operator/ceph/cluster/mgr/mgr.go#L96
(But the master version of that file seems to handle things differently.)

[2019-03-13 13:49] yan636 commented on #2696
I've tried several cases for several times. The two clusters have no overlapping at all. Generally, I'm using "/dev/vdc" in the first cluster and "/dev/vdd" in the 2nd cluster on the same set of nodes. The devices are "clean"( as I tried the new volumes ). The odd part is that the failed osd is very random.  Any log or debugging method that I can use to find out more clues.

[2019-03-13 14:17] michas2 commented on #2809
I just reinstalled my cluster and double checked the dashboard issue:
[code]
Indeed I need to wait quite a bit until `dashboard set-login-credentials` is working.

[2019-03-13 14:38] noahdesu commented on #2809
@michas2 I'm glad you have a working dashboard now! The issue you are seeing is related to changes we've made recently related to how ports/ssl settings are handled, but this seems like a new issue. Ideally you shouldn't need to issue any ceph commands directly (e.g. settings ssl to false or updating username/passwords).

[2019-03-13 14:42] noahdesu commented on #2809
@michas2 What does `ss` have to say about your ports now that it's working?

[2019-03-13 15:27] michas2 commented on #2809
[code]
The 8080 port comes up as soon as you do `ceph config set mgr mgr/dashboard/ssl false`.
Then you need to expose that port in your pod:
[code]
(I needed to set that port explicitly in my cluster config as the default is currently broken.)

[2019-03-13 16:00] #2331 closed

[2019-03-13 16:02] dyusupov commented on #2816
still working on fixing it. not rook's issue.

[2019-03-13 16:02] #2816 closed

[2019-03-13 17:21] #2755 closed

[2019-03-13 17:22] shayshahak commented on #2755
a tutorial for AKS can be found here:
https://cloudblogs.microsoft.com/opensource/2019/03/13/scaling-wordpress-using-rook-azure-kubernetes-service/

[2019-03-13 18:17] BlaineEXE commented on #2686
@leseb that's not how I interpreted it. From my understanding: The believe the root issue is that stdout is being sent to graylog in the user's environment, which is problematic, because we expect stdout to exist. What should be happening is that graylog collect logs for applications via `tee` so that it doesn't clobber stdout.

[2019-03-13 18:19] noahdesu commented on #2809
@michas2 the picture of what's happening here is becoming much clearer here. Thanks a lot for all your feedback. Here is what is occuring:

The dashboard _is_ running but configuration doesn't fully complete after the failure you saw in the operator log with setting the credentials. Immediately the operator sets credentials the ports are configured. Since that doesn't happen the default 8080 port

[2019-03-13 18:20] noahdesu commented on #2809
Changing the title to accurately reflect the root cause here.

[2019-03-13 19:28] #2461 closed

[2019-03-13 22:06] jxadro commented on #2280
I can not be sure of this but my problem was that the hyperkube image I configured was not the one used in my k8s cluster.

[2019-03-13 22:09] travisn commented on #1870
This happened twice today, once in [master](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/master/1004/pipeline) and once in [PR 2780](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-2780/4/pipeline). Anyone want to pick this up?

[2019-03-13 23:06] michas2 commented on #2809
Not sure if that is really the root cause. - Simply retrying will probably not fix the situation of an activated dashboard without ssl.

In that case you probably should at least also:
* change the default port to 8080
* set `ceph config set mgr mgr/dashboard/ssl false`

Also is there a good reason why a retry is better than simply activating the dashboard only *after* the cluster is up?

[2019-03-13 23:44] noahdesu commented on #2809
Rook will automatically configure ssl (enable/disable) and the ports. But because of the failure observed when setting the credentials Rook did not complete its configuration. Please clarify your point if I'm missing something subtle. Port 8080 seems to be mentioned here a lot, but I think that is a distraction that has only arisen as a result of the error in the operator. Rook configures alternat

[2019-03-14 00:01] michas2 commented on #2809
http://docs.ceph.com/docs/mimic/mgr/dashboard/#host-name-and-port

Therefore the pod should expose 8443 or 8080 depending on whether ssl is enabled or not.

[2019-03-14 01:06] noahdesu commented on #2809
Rook will configure different ports for ssl/non-ssl scenarios:

https://github.com/rook/rook/blob/e4d42eece1821a39611d90a9be0ff6f4e4f0406f/pkg/operator/ceph/cluster/mgr/dashboard.go#L39

Changes to the dashboard defaults would need to be done on the Ceph side outside of Rook.

[2019-03-14 01:17] michas2 commented on #2809
Actually no: https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/mgr/config.go#L48-L54

The code seems to only look at the ceph version not if ssl is requested.

[2019-03-14 02:26] noahdesu commented on #2809
I think there is some confusion (at least for me!) between what the code seems to imply and what the docs state are supported. Here are the docs:

[code]

On Mimic and newer you should be able to turn off SSL and the port should stay the same (8443). That seems to match up with what the code is doing.

Whether or not ports should change when SSL is turned on/off is a valid topic, but I think the p

[2019-03-14 05:27] travisn commented on #2700
Helm charts would generally be the way to approach simplifying the settings, but if you already have a tool, it would certainly be useful to share.

[2019-03-14 08:02] michas2 commented on #2809
Whenever I see some traffic on port 80 I would expect to find http traffic there. (i.e. ssl turned off)
Whenever I see some traffic on port 443 I would expect to find https traffic there. (i.e. ssl turned on)
It would be to a very big surprise to me, if someone decides to break with that rule.  (Sometimes people do to circumvent simple firewall rules.)

Similarly on a high port 8080 somehow implie

[2019-03-14 08:15] nakabonne commented on #1870
@travisn May I deal with it?

[2019-03-14 09:26] jbw976 commented on #1870
yes @nakabonne, very glad to see you address this :)

i'll send you an invitation to the Rook organization so that we can assign issues to you!

[2019-03-14 09:44] rohantmp opened #2824 "Ceph: Add details about cluster health and osd availability to CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Automated fencing and upgrade of nodes using things like the [cluster-api](https://github.com/kubernetes-sigs/cluster-api) should respect the availability of storage/osds. For this, I propose monitoring the cluster health and updating the CRD with details like how many osds are down currently and which

[2019-03-14 09:44] rohantmp commented on #2824
I would like to be assigned to this.

[2019-03-14 09:55] rohantmp opened #2825 "Ceph: Mechanism to prevent ceph from marking osds out during upgrade"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Expose a mechanism to mark a node containing osds as "in-maintenance" to prevent osds from being marked out during planned downtime.

**What is use case behind this feature:**
Node upgrade.

[2019-03-14 09:59] residentsummer opened #2826 "Mons scheduled on the same node despite the allowMultiplePerNode setting"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
On a k8s cluster with only 2 worker nodes, 2 mons are scheduled on the same node, despite `mon.allowMultiplePerNode: false`.

**Expected behavior:**
No more that 1 mon is scheduled per node.

**How to reproduce it (minimal and precise):**

I'm trying to deploy rook 0.9.3 in our k8s cluster (v1.12.5; 3

[2019-03-14 10:01] residentsummer commented on #2826
**Operator log**:

[code]

[2019-03-14 10:19] nakabonne commented on #1870
Thanks! I'm proud to become a member of Rock!!

[2019-03-14 10:46] residentsummer commented on #2826
As it turns out, mon was not scheduled due to masters being not only tainted, but cordoned as well:

[code]

Doing `kubectl uncordon` fixes the problem.

But it remains unclear why two mons were scheduled on one of the nodes. I guess it's still a bug?

[2019-03-14 13:01] nehaberry opened #2827 "rook-ceph pod deployment issues with rook(latest master branch) and rhel8-nautilus ceph versions"
rook-ceph pod deployment issues on using rook(latest master branch) and rhel8-nautilus ceph versions

**Bug Report**
On using  rook/ceph:masterand along with a nautilus-rhel8 ceph image, issues observed in ceph pod creations in rook-ceph namespace. The mon pods come up,  but fail to reach operator. The mon pod sequence is a,b,c rather as a,d,f (due to [errno 22] error connecting to the cluster mes

[2019-03-14 13:56] leseb commented on #2827
That's normal, you're using a mimic based operator image and trying to boot a nautilus image. The binary in the operator cannot parse the new msgr2 format.
That's a known issue, this will go away once we have the Nautilus container build so please be patient.

[2019-03-14 14:09] nehaberry commented on #2827
Thanks for the clarification.

[2019-03-14 14:23] leseb commented on #2827
That was before my msgr2 patch: https://github.com/rook/rook/pull/2559

[2019-03-14 14:43] noahdesu commented on #2809
Thanks for this. Super informative. The container that runs the dashboard also happens to run other web services, and could in principle run even more if new services were added. I believe there has been discussion about breaking some of these out into separate containers, but until that happens it seems like these services will have to divide up the port space anyway.

[2019-03-14 15:44] leseb commented on #2827
To unlock this situation, Rook has to start using these flags temporarily: https://cloud.docker.com/u/ceph/repository/registry-1.docker.io/ceph/ceph-amd64/tags

[2019-03-14 15:51] leseb commented on #2686
It seems not everyone is on the same page :).

@firaxis how was graylog setup? My understanding was that it replaced the logging mechanism of the container runtime. This means that for instance the journal log engine of Docker is not journald anymore but graylog. In that case, any logs from the container (stdout/stderr) are swallowed by graylog thus not visible if you request the container logs (b

[2019-03-14 16:37] #2760 closed

[2019-03-14 16:50] travisn commented on #2826
Yes, looks like this is still an issue that mons were scheduled on the same node, I was able to repro it on minikube with `allowMultiplePerNode: false` and mon count of 3.

[2019-03-14 16:59] leseb opened #2828 "Run more comprehensive tests with a daily CI test suite"
Currently, Rook tests only stable versions of Ceph, which means no testing is being done for the up-coming Ceph version. Developers have to locally build and test the next Ceph version. For this, no coordination is done so it's really up to the devs to do some tests when they think about it. That's far from ideal. Fortunately, so far, nothing major araised and transitions have been smooth. Althoug

[2019-03-14 18:00] firaxis commented on #2686
@leseb the kubernetes cluster being deployed by kubespray, where I specify docker_log_opts, e.g.

And it comes to systemd drop-in into Environment=DOCKER_OPTS=bla-bla
So, yes, any logs are being redirected to graylog.

Error response from daemon: configured logging driver does not support reading

It's a docker configuration, and yes, it's possible to collect logs from syslog, but I can't say it's

[2019-03-14 18:51] Capitrium commented on #2590
The issue appears to have been resolved by partitioning the NVMe drives on the i3.2xlarge instances (i.e. with `osdsPerDevice: 2`) and using a dedicated group of OSDs for each of the filesystem's metadata and data pools.

[2019-03-14 18:51] #2590 closed

[2019-03-14 19:01] #2208 closed

[2019-03-14 19:19] #1870 closed

[2019-03-14 20:00] michael-st commented on #2800
I don't know if this bug is related to the subdirectory in cephfs.

If it is the subdirectory - either rook should automatically create directories in cephfs - or you could create the subpath in an init container by yourself.

Example
[code]

However, if it is not related to the "/hello" subdirectory it could be something else:

I'm also running into the "cephfs - mount error 2" problem, since I t

[2019-03-14 21:29] #2507 closed

[2019-03-14 22:03] travisn commented on #2828
These suggestions are the perfect scenario for a nightly build. Today we only have builds for PRs, master, and release branches. All of the CI today is focused around what we are supporting in the releases. Already the test matrix is growing and we need to refactor this so we get better test coverage without increasing the time to run the typical CI with every PR. I could see the nightly build bei

[2019-03-14 22:43] travisn commented on #2074
I'd suggest we just set this to 2Gi as suggested, then verify that it doesn't repro anymore. If so, then we can troubleshoot further with the dmesg output

[2019-03-14 22:54] ldcastell commented on #2805
I've found what was wrong. I was following the guide at: https://rook.io/docs/rook/v0.9/nfs.html#accessing-the-export and I used the yaml file from there which is missing an annotation `volume.beta.kubernetes.io/mount-options: "vers=4.1"`. I noticed it once I look into the source, so this time used the yaml from nfs directory in source code and this time pods were able to write to the NFS mount.

[2019-03-14 23:08] #2337 closed

[2019-03-15 00:05] noahdesu commented on #2074
![image](https://user-images.githubusercontent.com/242417/54399276-e4cb6480-467a-11e9-887f-47b88a18522a.png)

there minikube just doing productive stuff

[2019-03-15 00:59] noahdesu commented on #2074
If I give kvm another CPU it happily eats up 300% CPU utilization. Inside the VM everything is totally unresponsive, even when running something like top with nice -20. So it is hard to even observe what process is eating up this CPU.

Is there a way to run the entire k8s stack / pods with a custom CPU priority?

What's so unique about this setup, anyway? I'd say it's ceph, and in particular the o

[2019-03-15 03:14] travisn commented on #2796
@zlbabe The generated dashboard password is currently stored in a secret named `rook-ceph-dashboard-password`. For example:
[code]

If you don't want the generated password, you could update this secret with your desired password. The new password would be set upon restart. Alternatively, you could also create this secret before creating the cluster CRD and the operator would apply it the first ti

[2019-03-15 08:12] caisan opened #2830 "Only reboot can add extra osd disk to ceph cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Nothing changes in the rook and ceph cluster.
Only i reboot the k8s host, rook will prepare new osd, and add new osd to ceph cluster.
**Expected behavior:**
creating a new osd, and run a new osd.

**How to reproduce it (minimal and precise):**
edit cluster.yml,
Before:
[code]
After:
[code]
 after new d

[2019-03-15 09:41] leseb commented on #2686
Based on all the answers above, I believe the image inspection is still a valid fallback in case we can not get anything from the logs, as the best effort. I haven't found anything in Kubernetes to help us doing this so I guess @dsavineau option with podman is nice. That means however including the podman binary in our image...

[2019-03-15 13:59] #2809 closed

[2019-03-15 14:50] travisn commented on #2830
@caisan I would have expected the new OSD to be added automatically after updating the CRD. Was the device `vdc` already attached to the node before the restart? As long as the device was showing up with `lsblk`, the "osd prepare" job should have found the device after the CRD was updated. If you're able to repro again, it would be helpful to share the log from the `provision` container in the osd

[2019-03-15 17:15] zlbabe commented on #2796
Yes, I think we can start by updating the documentation in the first place.

I'm wondering if it's not more convenient to define directly the password in the cluster CRD directly and let the operator generate/update the secret with the defined password ? something like:
[code]
If the password field is not set, then a random one would be generated and stored in the secret `rook-ceph-dashboard-passw

[2019-03-15 17:36] BlaineEXE commented on #2324
This will be completed once the config rework is complete.

[2019-03-15 17:48] travisn commented on #2123
Is this an issue with csi or just flex? @ShyamsundarR @phlogistonjohn do you know?

[2019-03-15 18:04] lbogdan opened #2833 "ceph PVC provisioning delay up to 15s"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
ceph PVCs are provisioned with a delay ranging from 0.2s to ~15s

**Expected behavior:**
ceph PVCs are provisioned in reasonable time (say max. 2s)

**How to reproduce it (minimal and precise):**
Create a PVC having a storage class managed by rook-ceph, measure the time it takes to reach "Bound" status

[2019-03-15 18:09] BlaineEXE commented on #1169
Ceph CSI will be beta in Rook v1.0 release with the goal of stable in v1.1. We are therefore expecting that as long as the CSI beta goes well, this feature will be stable in v1.1, though it may not be available in the v1.0 release.

[2019-03-15 18:16] BlaineEXE commented on #2634
Adding Ceph label so that we can track it easily w/ Ceph tag filter.

[2019-03-15 18:18] #2712 closed

[2019-03-15 18:31] BlaineEXE opened #2834 "Ceph: config: support mon kv store for default configs & eliminate `ceph.conf`"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Ceph configuration should eliminate the `ceph.conf` file as much as possible. With Mimic, Ceph supports a central KV store for configs, and Rook should use this for all configs which the user might wish to change during runtime. Configs which Rook requires to be set should be set by commandline flags in

[2019-03-15 18:50] BlaineEXE commented on #1827
You reopened this recently, @travisn. Do you have any updated context around this since OSDs are now no longer all in a single pod?

[2019-03-15 18:58] travisn commented on #1827
This really boils down to documenting what the user needs to do to properly remove or replace a disk. The instructions might have changed since the one-osd-per-pod redesign, but there are still a number of steps. The automation for this should all be covered by #2741 and #1435, but we should still get some documentation around what to look for in these scenarios.

[2019-03-15 19:01] yan636 commented on #2696
@travisn Appreciate if you can provide some support.

[2019-03-15 19:11] #2812 closed

[2019-03-15 19:50] feffi commented on #2800
Thank you! You were right: If I use an InitContainer to create the directory beforehand, the mount does not fail. Maybe it would be possible to add a argument (`createDirectory: true`) to the FlexVolume implementation of rook? Sounds somewhat legit.

The complete working example:

[code]

[2019-03-15 19:51] feffi commented on #2800
For my initial question, this issue is resolved. It may although be a issue for incomplete documentation?

[2019-03-15 19:51] #2800 closed

[2019-03-15 20:06] #2807 closed

[2019-03-15 23:05] BlaineEXE commented on #2686
I think that image inspection isn't a very robust solution, and it also involves including the podman binary. I would sooner implement the store-version-into-configmap solution which would fix any problems and not rely on the presence of tags or a specific tag format on the image.

[2019-03-16 00:23] aisensiy opened #2838 "Ceph rbd filesystem crash for specific file patterns"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I am using `rsync` to sync data from `ceph rbd` to `cephfs`. Because the `rbd` is a workspace, it will be deleted after the pod finished.

The running rbd pv which is created by the default rook storage class like this:

[code]

And when starting a new pod, it got stuck in `ContainrCreating` status fo

[2019-03-16 01:28] nakabonne commented on #2826
@travisn is it all right if I address it?

[2019-03-16 10:12] Bessonov commented on #2109
@stale bot leave it open

[2019-03-16 12:10] Amos-85 commented on #2174
@christianhuening ,
I found something mysterious,
I had the same issue now,
3 rgw instances and the mgr is failed,
with 1 rgw the mgr is function properly,

if I scale to 3 rgw & redploy them, then the mgr back to normal state.

[2019-03-16 16:22] leseb commented on #2686
@BlaineEXE I thought we were against the configmap solution because it'll require more RBAC?

[2019-03-16 19:10] feffi commented on #2800
Some more Info: I deployed exactly the same scenario from above on Ubuntu Xenial and Bionic. The mounting on Bionic alway times out with the initial error. The Xenial install works fine. I hope this helps.

[2019-03-17 01:23] ZYecho commented on #2363
/assign

[2019-03-17 17:03] hokiegeek2 commented on #2072
I am getting the same behavior with version 0.9

[2019-03-18 02:21] caisan commented on #2830
@travisn
1)the device ```vdc``` is already attaached to the node(for testing, the node is based on qemu-kvm).
2) yes, the newly-attached device can be shown up with command ```lsblk```.
 The log is from ```provision``` container after i add new  disk(```vdf```), and then apply the cluster.yml.
Note: vdf is the newly-added disk to the rook-ceph cluster.yml.
[code]

[2019-03-18 08:05] leseb commented on #1435
That also means we have to zap devices I suppose.

[2019-03-18 08:57] paulmorabito opened #2840 "Invalid characters in local volume name"
Hi,

I'm using Rancher 2.1.7 with Kubernetes 1.13.4 on a baremetal cluster. Both of my nodes are running Ubuntu 18.04.

I tried to install rook/ceph using the how to on your site and was having issues mounting. I uninstalled everything (again, using the steps on your site) and it was then that I noticed there was extra changes required for kubelet for Rancher users. I added these to the cluster ya

[2019-03-18 11:07] ajarr opened #2841 "CephFS 'cluster_down' is deprecated in mimic and nautilus"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The  'cluster_down' flag was deprecated in mimic,
https://github.com/ceph/ceph/commit/ab4f33bd248bf192c1a81fea05a81c7f85ede52d

The flag isn't removed in nautilus, but is still deprecated.

 The operator is currently using [this](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/client/filesyste

[2019-03-18 12:31] ajarr commented on #2725
@batrick, when deleting a filesystem, rook brings down the MDS cluster by setting 'cluster_down' flag to true and failing the MDS daemons individually.
https://github.com/rook/rook/blob/master/pkg/operator/ceph/file/filesystem.go#L221
https://github.com/rook/rook/blob/master/pkg/operator/ceph/file/filesystem.go#L102
Is this procedure OK for at least luminous? I see the luminous doc has a more comp

[2019-03-18 12:31] #2725 closed

[2019-03-18 14:24] noahdesu commented on #1435
I'm assuming here that this should handle all of the crd `storage:` configurations such as `useAllDevices` and explicit device selection via filtering or the `devices:` list. I haven't dug into the exact mechanisms for how all this works, but if `c-v inventory` becomes the source of truth, then interestingly it would seem that the explicit `devices:` list also acts as a device filter.

[2019-03-18 14:35] batrick commented on #2725
Yes, it still works for Nautilus too.

Ya, it's not really necessary to do that (deactivate MDS) if you're going to just delete the FS.

It's probably not worth changing the code for Mimic. However, I'd recommend `fs fail` for nautilus as there is less MDSMap churn due to multiple separate updates.

[2019-03-18 14:35] BlaineEXE commented on #2686
I know we were against the `exec` solution because it would require more RBAC. If we use the `rook-ceph-system` role for the version job, then no extra permissions would be required to use the configmap. If that role can't be used, I think we might want to create a job role that would have configmap get/create/update permissions. The operator already has all these configmap permissions, so I don't

[2019-03-18 14:54] #1540 closed

[2019-03-18 15:10] sebastian-philipp commented on #2263
so, this is basically fixed, but needs to be verify with the Ceph n release

[2019-03-18 15:44] jtlayton opened #2843 "pass env vars with rook-ceph-system namespace and API version to ceph-mgr containers"
The rook orchestrator in ceph-mgr has the following hardcoded values in it:
[code]
We probably should have rook pass both of these values to the ceph-mgr container via a environment variable when starting it up. Once rook passes in the appropriate values in an environment var, we'll need to fix up the rook orchestrator in ceph to consume them.

[2019-03-18 15:56] 0xADD1E opened #2844 "rbd: pool rbd does not exist - Unable to mount volumes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When attempting to attach an RBD volume to a pod, it fails with `Rook: Mount volume failed: failed to attach volume replicapool-durable/: failed to map image replicapool-durable/ cluster rook-ceph. failed to map image replicapool-durable/: Failed to complete rbd: exit status 2. . output: rbd: sysfs wri

[2019-03-18 18:24] travisn opened #2846 "Use pre-release tags leading up to a release"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
As we are nearing a release, we should have pre-release versions for users to test out. For example, kubernetes has tags such as `1.14.0-alpha.1`, `1.14.0-alpha.2`, `1.14.0-beta.1` leading up to the 1.14 release. It would be helpful to track stability of master as we tag alpha and beta releases.

This i

[2019-03-18 20:00] galexrt commented on #2844
@0xADD1E Have you created a CephBlockPool object named `rbd` as described (with another name in the examples) in the Rook Ceph Block Quickstart documentation https://rook.io/docs/rook/v0.9/ceph-block.html ?

[2019-03-18 20:36] phlogistonjohn commented on #2123
I didn't know before but I was curious and looked.
Currently it appears that ceph-csi uses a mount command with secret=xxx, like so: https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/cephfs/volumemounter.go#L171
But then it tries to hide the secrets from the output via the function util.StripSecretInArgs. So while I can't say if it works on not it's trying to hide the secret.
Personally, this app

[2019-03-18 20:57] 0xADD1E commented on #2844
I've done it both ways - The first attempt was with a CephBlockPool named `replicapool-durable`, the second was with the same configuration, this time labeled `rbd`

[2019-03-19 01:37] caisan commented on #2830
@travisn
#2780 works for me, thanks.

[2019-03-19 05:45] #2801 closed

[2019-03-19 07:49] fisherwei commented on #2286
i have a cluster with 3 nodes. all of nodes are same time, but rook still report clock skew.

[2019-03-19 08:24] leseb opened #2849 "Do not allow merging PR that are not rebased on top of master"
Currently, Rook's Github is not configured to show that a branch is not up to date with master. That's a big problem because some not up to date with master is not guaranteed to work.
So we need to display (setting on Github) the status of the branch and also implement a strict policy merging, for this we could use mergify.io.

[2019-03-19 08:25] feisuzhu opened #2850 "Reproducible RBD data loss"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Our filesystems on k8s PV occasionally corrupts when teared down in a proper manner.
Have to `xfs_repair /dev/rbdX` to recover.

**Expected behavior:**
Filesystems on k8s PV will always be consistent if teared down properly.

**How to reproduce it (minimal and precise):**

Here's a `argo` workflow, whi

[2019-03-19 10:07] paulmorabito commented on #2840
I fixed this. The problem was that I commented out dataDirHostPath.

[2019-03-19 10:07] #2840 closed

[2019-03-19 11:57] lewismarshall opened #2852 "Simplify required PSPs and add hostPorts required to operator Chart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The Chart defined PSP which seems intended for Ceph clusters, specifies hostNetworking but doesn't specify the required hostPorts.

The [rook docs for Cluster CRD PSP](https://github.com/rook/rook/blob/master/Documentation/rbac.md#rbac-for-podsecuritypolicies) is almost identical to the the PSP in the

[2019-03-19 12:59] lewismarshall opened #2853 "Wrong apiGroup specified in operator clusterRole in Chart v0.9"
**Is this a bug report or feature request?**
* Bug Report
The apiGroup specified here:
https://github.com/rook/rook/blob/1fa68b368098da56e11cb2c027a487abca517809/cluster/charts/rook-ceph/templates/clusterrole.yaml#L147-L157
...needed to be changed to `policy` to prevent access problems with the operator.

I suspect this PR #2661 has fixed this for the v1.0 release but I suspect anyone deploying v0

[2019-03-19 14:26] travisn opened #2854 "mons bind to default port after upgrade from legacy, causing upgrade failure"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In 0.9 and previous we were using port 6790 as a non-default port for the mons.  In master we are now using the default port of 6789. The upgrade from 0.9 to master is failing due to the following sequence:
- 0.9 starts mons on port 6790
- The cluster is upgraded to master
- The new mon pod spec correc

[2019-03-19 14:31] travisn commented on #2853
@lewismarshall I wouldn't think this would affect the 0.9 release since the change from extensions to apps was only done in master since that release. Can you confirm if you are using the yamls all from the release-0.9 branch? If you're using the yamls from master you could certainly hit this issue though.

[2019-03-19 14:55] travisn commented on #2849
In the past we had enabled the policy where everything had to be rebased on top before merging. However, this placed a restriction of re-running the CI between every merge and really slowed things down. Sounds great to have a merge tool help us out with this, although if it isn't triggering CI when it rebases before the merge to master, is there still a benefit?

[2019-03-19 14:56] travisn commented on #2830
@caisan Ok great, shall we close this issue?

[2019-03-19 16:31] travisn opened #2856 "Optionally collect successful logs from CI integration tests"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Since #2793 merged, I'm finding that when there is a failure, it is a lot more difficult to find the logs with the failure, than the behavior we had before where we only collected logs upon failure. While it is nice to have the successful logs on occasion, I'm wondering if we can do this so that it's st

[2019-03-19 16:48] mitchellmaler commented on #2722
I just tested these commands as well but ran them from the operator.

1. Exec into operator pod
2. Run this command to generate system object storage user providing the required variables

[code]
That command will dump the access key and secret key in json

3. Run these commands to setup the dashboard providing the required variables

[code]

4. Log into the dashboard and verify it can connect to

[2019-03-19 18:13] travisn opened #2858 "Multiple orchestrations are allowed at the same time"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Multiple orchestrations are allowed at a time, which has undesired side effects.
[This line](https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/cluster.go#L148) allows every goroutine to start an orchestration at the same time.

**Expected behavior:**
Only one orchestration should be al

[2019-03-20 04:18] leseb commented on #2849
Yes, always rebasing will re-trigger the CI, however, this will greatly improve the quality of the project. So yes, it costs more CI resources and slows things down but the outcome is a highly qualified and robust product so I'm personally willing to accept that trade-off.

The tool can do more than that, it can also do the backport for us and merge them once the CI passes which has proven to be e

[2019-03-20 04:42] leseb commented on #2854
Yes, we stopped enforcing any ports for `public_bind_ addr` because it does not behave well with msgr2. If we force a particular port then we can only have one so no port for msgr2...
This is tricky, we might need to disable msgr2 for "old" cluster that was running on a non-standard port. However, msgr1 might disappear in Octopus so we won't be helping them by doing this...

[2019-03-20 04:44] leseb commented on #2854
Another option I guess will be to migrate the monitors to new ones so they can pickup the 6789 port then do the upgrade. So basically, the procedure will be:

* Destroy monitor one by one
* New monitors will listen on msgr1
* Upgrade to master or 1.0

[2019-03-20 09:06] #2830 closed

[2019-03-20 11:56] ajarr commented on #2841
Discussion on how to bring down a Ceph filesystem
https://github.com/rook/rook/issues/2725#issuecomment-473890729

[2019-03-20 14:11] shaas commented on #2858
As you expected, this does not work as the for-loop in `createInstance()` will not get executed a second time (e.g. when adding a node or updating a crd). I will come up with a changed solution.

All methods which handle CRD changes (`handleUpdate()` & `onAdd()`) or Node changes (`onK8sNodeUpdate()` & `onK8sNodeAdd()`) are calling `createInstance()` which does the `setOrchestrationPending()` call.

[2019-03-20 14:22] lewismarshall commented on #2853
Hi @travisn I can confirm I'm using the chart source from v0.9.3 with rook v0.9.3.

v0.9.3 chart source incorrectly specifies `extensions` (as tested on k8 v1.12.3) it needed to be changed to `policy` to work with rook v0.9.3. I acknowledge that this issue won't affect future releases (due to pr #2661) but would be an issue if any more v0.9.x releases are planned or the branch needs a patch.

[2019-03-20 16:14] dimthe opened #2865 "cephx: verify_authorizer could not decrypt ticket info: error: bad magic in decode_decrypt"
OS (e.g. from /etc/os-release):
"Ubuntu 16.04.5 LTS"
Kernel (e.g. uname -a):
Linux node1 4.4.0-143-generic #169-Ubuntu
Cloud provider or hardware configuration:
4 instances on openstack
Rook version (use rook version inside of a Rook Pod):
rook version
 rook: v0.9.2
Kubernetes version (use kubectl version):
kubectl version
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", G

[2019-03-20 16:22] mmariani commented on #2775
Same thing just happened to me. Unauthorized, policy bla bla, found this ticket and tried to reset each node. Now I can deploy.

Rook v0.9.3, k8s installed with juju deploy canonical-kubernetes

[2019-03-20 16:44] #2380 closed

[2019-03-20 18:28] dimm0 opened #2868 "Deleting a non-initialized cluster causes operator crash"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Deleting a non-initialized cluster causes operator crash

[code]
**Expected behavior:**
Operator doesn't crash, cluster us deleted

**How to reproduce it (minimal and precise):**
Create a second edgefs cluster in namespace with existing one (it's not created, but exists)
Then delete one

[2019-03-20 18:33] dimm0 commented on #2868
Latest image, deployed Feb 16th

[2019-03-20 18:36] dimm0 commented on #2868
Actually same crash with an initialized cluster too

[2019-03-20 20:00] travisn commented on #2723
Agreed, let's add this to the openshift.md topic as well:
```oc adm pod-network make-projects-global rook-ceph```

[2019-03-20 21:17] #2740 closed

[2019-03-20 21:37] travisn commented on #2849
I could see this working with these steps:
1. The PR is approved
1. The maintainer clicks to merge
1. The tool rebased the PR if needed, kicks off the build, then merges automatically when the CI is done.

With the length and unreliability of the integration tests, we would need to skip those. Only running the build and unit test steps would need to be sufficient.

Alternatively, I would argue tha

[2019-03-20 21:44] travisn commented on #2263
With nautilus as the base image (included in #2633), I see the nautilus modules loading correctly now. Since that's about to merge I'll go ahead and close this.

[2019-03-20 21:44] #2263 closed

[2019-03-21 02:41] dimm0 opened #2869 "Unable to create edgefs ISGW service"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
ISGW service fails to create

Error in operator:

[code]

**Expected behavior:**
ISGW service creates

**How to reproduce it (minimal and precise):**
Try create the service from the UI

[2019-03-21 04:06] leseb commented on #2849
I'm sure to understand your suggestion, with mergify the steps will be:

1. The PR is approved
2. If the branch is up-to-date, we run the CI, if the CI passes it gets merged automatically
If the branch is not up-to-date, mergify rebases it, run the CI and if the CI passes it gets merged automatically

IMHO if the integration tests are unreliable then we should work on fixing that.

It's not about

[2019-03-21 14:47] mmack opened #2873 "rook master / nautilus fails to start"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
mgr does not start

**Expected behavior:**
mgr should start

**How to reproduce it (minimal and precise):**
I've tested rook master with nautilus and came that far. The config works 0.9.3.

[code]

My cluster crd:
[code]

My best guess is that's it's a bug with `hostNetwork: true`

**Environment**:
* O

[2019-03-21 14:53] mmack commented on #2873
Same with  `v0.9.0-318.g233c321`. Btw, i'm not sure if you guys want to see bug reports on latest master. I hope it helps :)

[2019-03-21 15:13] #2513 closed

[2019-03-21 16:05] travisn commented on #2873
@mmack please try the latest master build. #2633 just merged that will get nautilus working again.

[2019-03-21 16:11] yan636 commented on #2696
I've seen hard-coded "rook_cluster: rook-ceph" in mgr, mon, olsd, rgw deployments.  It's used in both labels and selector section. Please evaluate the impact.

[2019-03-21 16:12] susanxhuynh commented on #2427
Here is a potential workaround for (1) & (2): instead of referencing the PV from the PVC, remove the "claimRef" section from the PV template. When the PV is created with no "claimRef", it will show up as STATUS=available. Now create the PVC, with no reference to any PV, and the pod. If the PV is the only Ceph PV available in the cluster, then the PVC and pod will automatically bind to it. I was ab

[2019-03-21 16:39] travisn commented on #2696
@yan636 Are the rook cluster crds in different namespaces? If they are in the same namespace you should see an error. If there is no error in that case, we need to add one. Multiple cluster crds in the same namespace is not supported

[2019-03-21 23:48] ghaering commented on #2175
@galexrt it would be very interesting to get this to work. At EOS we want something like this, like we talked about when you where here.

[2019-03-22 06:55] akkie commented on #1507
I've the same issue during the update of helm charts. Due to kubernetes rolling update feature, it happens that if the updated version of a pod gets deployed on another node, then it cannot mount the volume, because it's still mounted by the running pod.

[2019-03-22 06:57] dimm0 commented on #2221
Fixed in ceph 13.2.5

`radosgw-admin reshard stale-instances rm`

[2019-03-22 06:57] #2221 closed

[2019-03-22 07:54] mmack commented on #2873
@travisn thanks, that worked!

[2019-03-22 07:54] #2873 closed

[2019-03-22 07:54] rohantmp opened #2874 "Ceph: Operator can only access one (colocated) of three mons."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Ceph can only access the mon with which it shares the host
All mons are up: `[root@rook-ceph-operator-b996864dd-bzl55 /]# ceph -s`
[code]
But I can only ping mon.c. I bring mon.c down or bring the operator up on another node, ceph commands cease to work. mon.c is the mon that is on the same node as the

[2019-03-22 08:41] mmack opened #2875 "master - Wrong ssl and port config on mgr"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
MGR starts on host port 8443 with ssl enabled

**Expected behavior:**
MGR starts on host port 8080 with ssl disabled

**How to reproduce it (minimal and precise):**

[code]

The Pod is configured correct:
[code]

However the mgr listens on port 8443:
[code]

See curl:
[code]

[code]

**Environment:**
O

[2019-03-22 12:08] davidhiendl commented on #1507
@akkie That does not sound related to this issue (which is volumes are locked once a server fails). A regular Block Volumes can only be rw mounted once (unlike the CephFS which is a multi rw volume). If you have a pod using a block volume you need to make sure it is stopped first and then start a new one: For example with the deployment strategy like recreate.

[2019-03-22 13:01] zlbabe commented on #2779
any updates here ?
thanks

[2019-03-22 13:16] mmack commented on #2875
Another fact, if i use hostNetwork: false and redeploy the cluster no dashboard comes up at all:
``

[code]

[2019-03-22 13:21] mjschmidt opened #2876 "Quick question about the operator"
Should the end state of the operator create a ceph cluster in the ceph-rook ns? Or does this only create the operator, discovery pods, and ceph-agents in the rook-ceph-system namespace.

Thanks!

[2019-03-22 15:10] NahaliY opened #2877 "Ceph -Pools Dashboard Grafana -Prometheus [ Key - values don't match]"
There is an issue with the Input/Output graphs (IOPS).
The parameters in Prometheus dashboard and Grafana don't match.

To solve the problem:
Edit the configuration of the IOPS graph
update configuration :
-  irate(ceph_pool_rd_bytes{pool_id=~"$pool"}[3m])
-  irate(ceph_pool_wr_bytes{pool_id=~"$pool"}[3m])
<img width="947" alt="IOPS" src="https://user-images.githubusercontent.com/25417617/54832681

[2019-03-22 16:30] #2877 closed

[2019-03-22 19:39] 0xADD1E commented on #2844
It appears to be worth noting that this issue seems to only present itself when PersistentVolumes are being manually provisioned, and possibly only with a malformed StorageClass (namely, trying to override the reclaimPolicy).

[code]

I'm uncertain whether this should be categorized as a bug, but in any case the logs are rather misleading

[2019-03-22 20:58] sabbot opened #2878 "Edgefs's CSI driver should support multiple Edgefs clusters"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Edgefs CSI driver should be able to process requests to different EdgeFS clusters, deployed in one Kubernetes cluster

[2019-03-22 22:46] dimm0 commented on #2174
Fixed in mimic 13.2.5
This can be closed

[2019-03-23 09:03] #2509 closed

[2019-03-23 10:01] liewegas opened #2881 "Set up ceph log directory, with log_to_file disabled"
Starting in Nautilus, there is a new boolean ``log_to_file`` option that enables or disables logging to a file.

1. On cluster creation, set ``--default-log-to-file=false`` on CLI to each daemon
2. Leave ``log_file`` alone on the command line, so that ceph retains it's default log file names (``/var/log/ceph/$name.log`` inside the container)
3. Bind ``/var/log/ceph/$cluster_namespace`` on the host

[2019-03-23 10:07] liewegas opened #2882 "Gather Ceph crash reports"
When a Ceph daemon crashes, it writes a report to ``/var/lib/ceph/crash/$uniqueid/``.  The ``ceph-crash`` script is normally run by systemd every 10 minutes to scrape any new reports and send them to the monitor/manager.  (See ``ceph crash -h`` for what these look like.)

When deploying with rook, there is no systemd, and these crash reports are lost inside the individual daemon pods.

1. Bind the

[2019-03-23 10:15] liewegas opened #2883 "Translate node labels into crush_location when creating OSDs"
There are several standard-ish and not-yet-conventional node labels used to indicate node location, failure domain, and so forth that we should pass through to Ceph so that the CRUSH hierarchy is built properly.

These labels include, on AWS,

- failure-domain.beta.kubernetes.io/region
- failure-domain.beta.kubernetes.io/zone

For bare metal, we might create our own convention, if there is not yet

[2019-03-23 16:25] #2868 closed

[2019-03-23 16:26] #2869 closed

[2019-03-23 16:28] dyusupov commented on #2797
We reviewed this. Looks logical wrt. to what we have, so we going to keep current behavior. Closing for now.

[2019-03-23 16:28] #2797 closed

[2019-03-23 22:36] yan636 opened #2884 "ceph dashboard pops "500 error internal server error" after upgrade from v0.8.3 to v0.9.3"
Similar to the ticket 2492/2523.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The dashboard pops "500 error internal server error" periodically after upgrade. The issue seems the same as ticket 2492/2523.
The new deployment v0.9.3 doesn't have the issue.

**Expected behavior:**
After upgrade, the dashboard would work the same as new deployment.

[2019-03-24 20:49] anmolsachan commented on #1659
@travisn This is much required for ceph-csi for integration with Openshift and OCS, since there metrics will be required to show the PV and PVC usage. I have been looking around for these metrics for monitoring use-cases. It would be great if this could be prioritized.

[2019-03-25 05:02] feisuzhu commented on #2850
Tried switching filesystem to `ext4` and `fsck` the offending rbd, all of the inconsistencies seems to be the same:

[code]

[2019-03-25 08:19] vincent927 opened #2887 "Ceph storage class Unable to mount volumes for pod timeout expired waiting for volumes to attach or mount for pod list of unmounted volumes"
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**

When i deploy rook on Rancher2.1.6 by [doc1](https://rook.github.io/docs/rook/master/ceph-quickstart.html#deploy-the-rook-operator),[doc2](https://rook.github.io/docs/rook/master/ceph-block.html),and deploy a wordpress sample , pod start error:
[code]

**Environment**:
* OS (e.g. from /etc/os

[2019-03-25 09:11] sp98 commented on #2887
Hi @vincent927

Please see the  pre-requisites under the  "Flex Configuration" section in case of Rancher at  https://rook.io/docs/rook/v0.6/k8s-pre-reqs.html

[2019-03-25 09:37] vincent927 commented on #2887
I found this document https://rook.io/docs/rook/v0.9/flexvolume.html , but I still can't find how to modify cluster.yml with Rancher. @sp98

[2019-03-25 10:38] RobHofmann commented on #2431
Hi all,

We ran into this same issue running on a VMWare cluster. We arent the administrators of the VMWare cluster itself, so we had to improvise.

In the end we got this fixed by simply defining the disks like this:
`apiVersion: edgefs.rook.io/v1alpha1
kind: Cluster
metadata:
  name: rook-edgefs
  namespace: rook-edgefs
spec:
  edgefsImageName: edgefs/edgefs:latest   # specify version here, i.e.

[2019-03-25 11:16] leseb commented on #2876
The end state of the operator is to be deployed, running discovery pods and agents. Basically waiting for a CR request. You will only get a cluster if you ask for one via a CR.

[2019-03-25 11:16] #2876 closed

[2019-03-25 11:19] mjschmidt commented on #2876
Thanks!

[2019-03-25 12:38] kanjie128 commented on #2591
I have the same problem after node reboot.
the osd pod has the CrashLoopBackOff status on the reboot node.
`kubectl get pods -n rook-ceph -o wide`
[code]

`kubectl logs  rook-ceph-osd-2-785c774b6d-6xkp4 -n rook-ceph`
[code]
Besides, I'm using `/dev/vdb` as the device storage in cluster.yaml.
[code]
Is there any way to solve or debug this problem? thanks.

[2019-03-25 14:05] mykaul commented on #2883
Why can't we extend Kube's?
For example:
failure-domain.beta.kubernetes.io/rack
failure-domain.beta.kubernetes.io/room

(and I'm not sure we need datacenter? I'd argue it's a zone in AWS terms?)

[2019-03-25 14:17] liewegas commented on #2883
Yeah, extending the kube ones sounds much better!

[2019-03-25 14:28] JohnStrunk commented on #2883
Labels prefixed w/ DNS names are created specifically to avoid potential naming conflicts (i.e., to provide a namespace owned by a particular entity). We should not unilaterally add labels to the kubernetes.io namespace. That needs to be done as a community decision to avoid conflicts and incompatibilities in the future.

[2019-03-25 14:34] shtripat opened #2888 "IMP - The rook-ceph-mgr endpoint gets disappeared after few minutes (~5mins)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Endpoint created in the start gets dis-apperaed after sometime .

**Expected behavior:**
Endpoint once created should not keep changing and retain.

**How to reproduce it (minimal and precise):**

1. Deploy a OCP 4.0 cluster in AWS
2. Deploy Rook+Ceph in this OCP
3. Change the endpoint as required
4. W

[2019-03-25 14:35] shtripat commented on #2888
@travisn @galexrt

[2019-03-25 14:36] liewegas commented on #2883
found this: https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/

[2019-03-25 15:02] yan636 commented on #2884
Found all 3 mon deployment after upgrade has "privileged: false" but the the mon deployment with new deployment has "privileged: true". But after manually upgrade the mon deployment and restart the mon and mgr pods, the issue still exists.

[2019-03-25 15:04] leseb commented on #2888
Endpoint for? The dashboard?

[2019-03-25 15:04] yan636 commented on #2884
The mgr logs:
--------------------------
[25/Mar/2019:14:34:58] ENGINE Error in HTTPServer.tick
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/cherrypy/wsgiserver/wsgiserver2.py", line 1837, in start
    self.tick()
  File "/usr/lib/python2.7/site-packages/cherrypy/wsgiserver/wsgiserver2.py", line 1902, in tick
    s, ssl_env = self.ssl_adapter.wrap(s)
  File "/usr/lib

[2019-03-25 15:22] leseb commented on #2881
It seems that `18df18aa4d69232f1e898c99522aad7444c9ff12` commit where `log_to_file` was introduced is not part of the `v14.2.0` tag, so that's difficult to test.

IIUC, `log_to_file` is set to `True` by default, and Rook forces `log_file` to null. We can change that. However, I believe the `ceph.conf` takes precedence over kv flags. So if we remove `log_file` and set `ceph config set global log_to

[2019-03-25 15:28] liewegas opened #2889 "Improve Ceph upgrade pod recreation gates"
When doing an upgrade, each pod is recreated with the updated image.  We should gate each pod recreate with the Ceph status to make sure we are giving Ceph enough time to settle between these restarts.

For monitor, restarts are fast, so it is usually not an issue.  However, we have a new command pending ``ceph mon ok-to-stop <id>`` to check whether stopping a given monitor will break quorum.  Som

[2019-03-25 15:33] leseb commented on #2889
I guess, the only thing missing is a reasonable timeout for OSDs :). Is it really safe pursuing anyway if the number of PGs never settles?

[2019-03-25 15:34] mykaul commented on #2883
Yes, of course we need to extend via Kube, not just add - my proposal is to push it via its community.

[2019-03-25 15:35] liewegas opened #2890 "Add crushDeviceClass pool property"
The CephPool CRD (and probably others?) currently has ``crushRoot`` and ``failureDomain`` properties.  Add a ``crushDeviceClass`` or ``deviceClass`` to go with this.  This ultimately should map to the ``ceph osd crush rule create-* ...`` command, which takes a device class argument.

[2019-03-25 15:41] liewegas commented on #2881
It'll be backported to nautilus shortly

[2019-03-25 15:42] liewegas commented on #2881
Hmm, yeah, the mons are awkward to bootstrap.  We could set log_to_file=false on teh comand line for the mons until we do the config set command, and then recreate the mon pods...

[2019-03-25 15:59] leseb commented on #2881
Or detect in Ceph that we run in a container and then apply `log_to_file=false`? Obviously, this has to:

* happen before the daemon starts logging
* only if the kv store does not have a different value
* only if the ceph.conf does not have a different value

Is it possible?

[2019-03-25 16:02] liewegas commented on #2881
Yeah.. but it's really a rook-behavior, not a container behavior.

Let me think more about this.  It would be nice to have the ability to set something on the commadn line but with a low config priority, so it could still be overridden by the mon.

[2019-03-25 16:09] leseb commented on #2881
All the containerized deployment of Ceph whether it's orchestrating by k8s or something else agree that logs are collected outside of the containers and that no log should happen inside the container. So I suspect it's safe to assume that's a container behavior.
Alternatively, we can override this with (yet...) another config option? :)

[2019-03-25 16:10] Inamatus commented on #2887
I have this problem too.  Use kubespray and deploy on Ubuntu 18.04 LTS. This problem appear when i updated to v. 0.93

[2019-03-25 16:19] schmaustech opened #2891 "Master Rook Operator Goes to CrashLoopBackOff on Fresh K8s Install"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Operator POD does not go to running state.  Get the following error: failed to run operator. Error starting agent daemonset: error starting agent daemonset: failed to create rook-ceph-agent daemon set. daemonsets.extensions is forbidden: User "system:serviceaccount:rook-ceph-system:rook-ceph-system" ca

[2019-03-25 16:20] #2399 closed

[2019-03-25 16:23] schmaustech commented on #2891
If I go in and edit the operator.yaml or operator-with-csi.yaml and edit the RBAC for rook-ceph-system to this:

# The role for the operator to manage resources in the system namespace
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  name: rook-ceph-system
  namespace: rook-ceph-system
  labels:
    operator: rook
    storage-backend: ceph
rules:
- apiGroups:
  - "*"
  resource

[2019-03-25 18:07] shawnj opened #2892 "SELinux relabeling enabled on mount even though ENV variables for ROOK_ENABLE_SELINUX_RELABELING is set ‘false’."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
SELinux Relabeling is enabled on mounted ceph flexvolume, even though ROOK_ENABLE_SELINUX_RELABELING is set ‘false’ on Operator manifest.

**Expected behavior:**
SELinux should be disabled on ceph flexvolume mounted on Pod/container.

**How to reproduce it (minimal and precise):**
Using v0.9.3 of Rook/

[2019-03-25 18:18] BlaineEXE commented on #2854
Okay. I was having some environment issues while trying to get set up to run the `TestUpgradeSuite` integration test. Everything is good now, and I'm starting to look into this. I think I would rather do something along the lines of Seb's second option, to automatically move from port 6790 to 6789.

If a user is using a direct connection to Ceph's mons via host networking, this would require them

[2019-03-25 18:24] leseb commented on #2882
I think a sidecar container that runs the `ceph-crash` process is acceptable since it's tightened to any Ceph daemon.
The daemon itself scrapes for crash logs every 10 minutes, so we just need to run it forever in a container.

[2019-03-25 18:27] liewegas commented on #2882
We only need one scraper per host.  Also, we want to scrape even if the daemon pod is killed off for some reason.  I'm a bit worried about the sidecar not capturing that case.

[2019-03-25 18:36] leseb commented on #2882
Only one? What if we have more than one cluster per host? AFAIU `ceph-crash` needs to know to which `ceph-mgr` it should send out the crashes.

You're right it's probably better to have it outside of the pod, the sidecar has side-effects that might not get captured.
I'm just not sure how we can run that daemon alongside Ceph nodes since they might have different placement policy, running that pod

[2019-03-25 18:47] liewegas commented on #2882
ceph-crash is a one-shot script, not a daemon, if that helps.  Having the
rook operator do the equivalent of the systemd unit or cron would suffice.
It would just need to pay attention to the set of all nodes we have had
pods on during the last interval, and schedule a job every N minutes on
that set.

[2019-03-25 18:52] leseb commented on #2882
It's not a daemon but running it with `-d 100000000000000000` makes it scrap for a veeeeeery long time, but after further investigation, it seems it'd be easier to simply rewrite `ceph-crash` scrapping logic in Go and simply call `ceph crash post -i`, the reason being that `ceph-crash` expects a `ceph.conf` to find mons etc and we don't provide any.

I was thinking having a pod running a daemon th

[2019-03-25 18:58] liewegas commented on #2882
Yeah, it will need ``mon_host`` and a key, provided either via a file or via the environment.  Whatever works!  I figured a periodic job would be lower overhead but that is probably in the noise.

[2019-03-25 19:00] liewegas commented on #2882
Some preference for re-using ceph-crash instead of reimplementing, though, just to avoid confusion around multiple implementations of the same thing (trivial as they may be).

[2019-03-25 19:07] leseb commented on #2882
Yup, in that case, I'll see how we can make `ceph-crash` inheriting options from its parent when calling `ceph crash post`.

[2019-03-25 20:47] shawnj commented on #2892
Where is this os variable getting set?

`rookEnableSelinuxRelabeling, err := strconv.ParseBool(os.Getenv(agent.RookEnableSelinuxRelabelingEnv))`

[2019-03-26 00:50] satoru-takeuchi commented on #2887
Which version you updated from? Is it v0.9.2?

[2019-03-26 01:44] Inamatus commented on #2887
I updated its from 0.90. This link i tried to configure with this step. It wasn't work for me.
There're many bug for Rook and Kubespray. Kubespray had a problem with hostfile its changed from host.ini to host.yaml but no had any notice for this changed very very bad.

[2019-03-26 02:19] JoshuaAndrew commented on #2431
Nice cool!

[code]

[2019-03-26 06:28] shtripat commented on #2888
@leseb The endpoint I refer here is one created for rook ceph mgr which is used as target from prometheus to pull metrics from ceph.

Regarding dashboard, under `Status --> Service Discovery` in prometheus we get a target with name `openshift-storage/rook-ceph-mgr/0` (we deploy rook-ceph in openshift-storage namespace to make sure OCP prometheus instance picks metrics for ceph as well). Here is en

[2019-03-26 07:18] deeply commented on #1653
Is it possible to read data directly from node disks , saying node machine and everything under `dataDirHostPath` are not corrupted.

[2019-03-26 09:03] sebastian-philipp commented on #2888
do you have any errors in the mgr log?

[2019-03-26 09:07] shtripat commented on #2888
@sebastian-philipp a snippet from ceph mgr log is as below

[code]

[2019-03-26 09:09] sebastian-philipp commented on #2888
This looks quite normal. Any Python Tracebacks (e.g. `grep -C 20 Traceback`) or any log messages from the prometheus module?

[2019-03-26 10:37] rohantmp commented on #2889
I think it would be very useful to have an `ok-to-stop` for any level on the osd tree. Especially host. It would be the perfect for node level disruptions like kernel upgrade or fencing.

[2019-03-26 15:03] #1897 closed

[2019-03-26 15:10] davesargrad opened #2895 "helm install pod fails with a tcp timeout"
**I've attempted to install the helm rook-ceph-system chart as follows**
Reference Page [see install here](https://rook.io/docs/rook/master/ceph-quickstart.html)

` helm install --namespace rook-ceph-system rook-stable/rook-ceph`

[code]

**I have a healthy k8s cluster:**

[code]

**Yet my rook-ceph-pod starts then fails**

[code]

**This is my failed pod**
[code]

I can ping 10.96.0.1, both from

[2019-03-26 15:25] yan636 opened #2896 "Support multiple tolerations for all pods on rook-ceph deployment"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Looked at the code, it seems only one toleration can be specified for all rook-ceph pods ( rook v0.9.3 ). If not, please clarify.

**What is use case behind this feature:**

We need rook to be deployed on a node with several taints. Note "Toleration for all taints" is not an option for us.

"worker-01":

[2019-03-26 16:10] umangachapagain commented on #2530
@yanniszark I could look into it. But, since I do not have any idea on cassandra-exporter and javaagent etc, I will require some help setting things up and it definitely will take some time to have a complete feature.

[2019-03-26 16:12] sebastian-philipp commented on #2784
the question is why? There may be a condition when the mon is not yet aware that all mgr daemons support the dashboard

[2019-03-26 16:14] BlaineEXE commented on #592
Due to an issue with a GitHub organization invite, I will comment here that @druonysus is looking into this item. We'd like this item to make it into Rook v1.0, but it is expected this may not be ready for the v1.0 release.

[2019-03-26 16:16] sebastian-philipp commented on #560
please keep in mind that the pg_autoscale mgr module is fairly new. (newly introduced in nautilus).

[2019-03-26 16:27] liewegas commented on #2889
@rohan47 that's a good point.  The current ok-to-stop command takes a list of OSDs, so you can currently do ``ceph osd ok-to-stop $(ceph osd crush ls $HOSTNAME)``.  This could be collapsed into a single command, perhaps.  Note that that also only covers the OSDs (which, to be fair, are usually the primary concern). Perhaps a host-level check for all daemons that checks whether a host restart is sa

[2019-03-26 16:50] shawnj commented on #2892
Confirmed if I manually set this to "false" and build/deploy the SELinux Relabeling is disabled.

https://github.com/rook/rook/blob/c696ce22f9a1e8bc28ae53b291fd304622e9ce22/cmd/rookflex/cmd/init.go#L59

[2019-03-26 20:06] tux-00 commented on #2384
Same here. Cluster definition :
[code]
Labels/taints :
[code]

I tried with this but pods don't schedule on master :
[code]

[2019-03-26 23:13] #2878 closed

[2019-03-27 00:32] satoru-takeuchi commented on #2887
Unfortunately it doesn't work for me.

In my case, I don't use kubespray. I use my own k8s management engine on CoreOS container linux.

I dug into this problem. Please let me know if you have any idea.

# summary

volume mount fails due to ".../rook-ceph-system mount ..." failure with exit code 2.
I guess /dev/rbd0 failed to be formatted due to it, but, unfortunately, I didn't know the detail yet

[2019-03-27 08:42] rohantmp commented on #2889
@liewegas That command combination fulfils the exact function I was thinking of. Thanks!

P.S. I'm @rohantmp :P

[2019-03-27 09:02] AsherShoshan opened #2898 "mgr-pod, pod-osd not created in rook-ceph namespace with cluster-minimal"
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
Ability to create pvc

**How to reproduce it (minimal and precise):**
kubectl create -f cluster-minimal.yaml

**Environment**:
* OS (e.g. from /etc/os-release):
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=2023.5.0
VERSION_ID=2023.5.0
BUILD_ID=2019-03-09-0138
PRETTY_NAME="Container Linux by CoreOS 2023.5.0 (Rhyolite)

[2019-03-27 10:23] clkao opened #2899 "flexvolume attach/detach mountdevice/unmountdevice not implemented"
Currently `rookflex` only implements init/mount/unmount. This causes two issues:

1. the globalMountPath does not respect what kubernetes wants the flexvolume driver to do, [given by the MountDevice call](https://github.com/kubernetes/kubernetes/pull/75019#issuecomment-476918608). This ultimately leads to https://github.com/kubernetes/kubernetes/issues/74669 and #2568, as rook mounts rbd under kub

[2019-03-27 12:39] BenChand opened #2902 "Flexvolume: Mount special device doesn't exist in rook-ceph-agent"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Doesn't mount flex volume. Logs of rook-ceph-agent:

[code]

**Expected behavior:**
Should mount flex volume

**How to reproduce it (minimal and precise):**

1) `helm install --namespace rook-ceph-system rook-stable/rook-ceph`
2) Apply `cluster.yaml` from this page: https://rook.io/docs/rook/v0.9/ceph-

[2019-03-27 13:47] yan636 commented on #2884
Anyone may provide a hint where the issue might be at?

[2019-03-27 15:47] clkao commented on #2902
it looks like you are trying to mount cephfs. but did you create a `CephFilesystem` object? if so `ceph status` should show mds in addition to mon/mgr/osd, and there should be pools created.

[2019-03-27 18:28] #2171 closed

[2019-03-27 19:13] rohan47 commented on #2843
@jtlayton are you referring to the hardcoded value here https://github.com/ceph/ceph/blob/7ba6bece4187eda5d05a9b84211fe6ba8dd287bd/src/pybind/mgr/rook/rook_cluster.py#L29 right?

[2019-03-27 20:06] jtlayton commented on #2843
Yes, both values actually. ROOK_SYSTEM_NS and ROOK_API_VERSION should both be provided by environment variables.

[2019-03-27 20:58] noahdesu opened #2904 "ceph: osd up events should be logged if they transition from down"
**Is this a bug report or feature request?**

* Feature Request

**What should the feature do:**

Sometimes Ceph OSD take a while to spin up and they logged as being marked down in the operator log:

[code]

Once they come back up, they aren't logged at the standard log level and so the log looks a bit alarming.

To avoid noise from healthy osds, down->up transitions should be logged at the normal

[2019-03-28 00:50] ksingh7 opened #2905 "minikube : monitor data filesystem reached concerning levels of available storage space"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]

[code]
**Expected behavior:**
rook ceph should get install in a minikube environment

**How to reproduce it (minimal and precise):**

- setup minikube
- git clone rook-ceph
- kubectl create -f operator.yaml
- update dataDirHostPath in ``cluster.yaml`` was set to ``/data/rook``
- kubectl create

[2019-03-28 00:51] ksingh7 commented on #2905
#1192 similar but didn't worked after setting dataDirHostPath in cluster.yaml to /data/rook

[2019-03-28 04:33] shtripat commented on #2888
Sorry @sebastian-philipp the AWS setup is gone now. Will setup once more and share any details regarding this soon.

[2019-03-28 05:19] JoshuaAndrew commented on #1865
any progress ?

[2019-03-28 08:54] leseb commented on #2905
That's what I do to overcome this on my dev env:

`minikube ssh "sudo rm -rf /mnt/vda1/rook/ /var/lib/rook && sudo mkdir /mnt/vda1/rook/ && sudo ln -sf /mnt/vda1/rook/ /var/lib/"`

With that you have enough space to deploy mons and osds.

I'm closing this, feel free to re-open if you have more concern.

[2019-03-28 08:54] #2905 closed

[2019-03-28 14:44] ksingh7 commented on #2905
Thanks @leseb , your on-liner works like charm

[2019-03-28 15:49] robwithhair commented on #923
Any indication of if this is stable and if so has the fix got into the 0.9 release?  Has anyone tested?  I only reach out because I am under tight deadline right now, otherwise would perform testing myself and contribute.

[2019-03-28 16:16] tux-00 commented on #2384
My bad, I'm able to schedule on master with this definition of tolerations :
[code]

[2019-03-28 16:27] Defilan opened #2906 "Jenkins Integration Tests Fail because of missing kubernetes-cni component"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
All integration tests fail with the following error:
[code]

**Expected behavior:**
Successful CI/CD run

**How to reproduce it (minimal and precise):**
Run the pipeline with integration tests enabled

[2019-03-28 17:38] gjcarneiro commented on #2902
I got this error too, and in the end was because I had created `CephFilesystem`, but it was not the first `CephFilesystem`, and by default the operator only allows one filesystem.  I needed to change this env. var to true:

[code]

Not sure it's the same problem you had, just leaving this here in the hope that it will help.

[2019-03-28 17:42] noahdesu commented on #923
Hi @robwithhair this fix is in 0.9 (https://github.com/rook/rook/pull/2747) and I've talked with one person that's tested this independently with success.

[2019-03-28 18:17] BenChand commented on #2902
Interesting, I will try tomorrow and let you know

[2019-03-28 20:49] mhaluska commented on #2591
Try to install lvm on system, this solved my problem. What is your system? What is # lvs outpout?

[2019-03-29 08:26] kanjie128 commented on #2591
@mhaluska tks for response. True that, I missed the LVM on centos7.
The first time I installed rook-ceph without LVM on my system.
When the node reboot, the VG created by ceph was not mounted by default because of the missing of LVM. So, ceph-osd can not find the VG correctly.
After I installed LVM, lvscan told me the LV was inactive:
[code]
I guess the node need reboot again for LVM to find the V

[2019-03-29 10:13] feresberbeche opened #2909 "No osd prepare pods created"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
No osd prepare pod created, to provison storage and create osd pods

**Expected behavior:**

**How to reproduce it (minimal and precise):**
oc create -f scc.yaml
oc create -f operator.yaml
oc create -f cluster.yaml

changed inthe operator.yaml

Storage config in the cluster.yaml changed to:

[code]
I t

[2019-03-29 13:54] BenChand commented on #2902
I have seen it come up with the `ROOK_ALLOW_MULTIPLE_FILESYSTEMS`, but it is intermittent. When it does fail I see the same problem discussed in https://github.com/rook/rook/issues/1996

[2019-03-29 15:30] BenChand commented on #1996
My rook pods look like this:

[code]

I attempt to delete the pods and create new ones but the problem persists.

Ceph status:

[code]

[2019-03-29 21:55] conet commented on #2397
I think that the fix for this issue broke my setup, after a ceph image upgrade I the mgr fails to start with this error:
[code]

[2019-03-29 22:11] conet commented on #2397
Any ideas how to get around this issue? I'm running rook `v0.9.3` and I was trying to upgrade ceph from a healthy `ceph/ceph:v13.2.4-20190109` to `ceph/ceph:v14.2.0-20190319`.

[2019-03-29 22:45] conet commented on #2397
I think that all I would need is that the config set command to use `--force` since the cluster is already in `14.2.0` nautilus, unfortunately the currently released rook does not support that, it would be nice if the rook operator would not start ceph upgrades which it can't handle.

[2019-03-30 07:33] conet commented on #2632
If this is implemented I assume that it would mean that the operator would refuse to upgrade to a version of ceph which is not supported. I would avoid cases [like this](https://github.com/rook/rook/issues/2397#issuecomment-478161551) where one would end up with a partially working cluster without any immediate fix available:
- running the latest rook release `0.9.3`
- upgraded ceph from `ceph/cep

[2019-03-30 09:12] satoru-takeuchi commented on #2887
In my case, the root cause is that /tmp is mounted as read-only. So rook-ceph-system mount tries to
output its error log, due to mkfs failure output, to read-only /tmp.

This problem can be fixed by appending bind mount from host's /tmp to kubelet container's /tmp

[2019-03-30 13:41] liewegas commented on #2881
Description updated to use ``--default-log-to-file=false``, which will work once https://github.com/ceph/ceph/pull/27278 merges

[2019-03-30 13:42] liewegas commented on #2883
@childsb ?

[2019-03-30 19:34] #2810 closed

[2019-03-31 04:51] travisn commented on #2397
@conet There is not a plan to release v0.9.4 with support for nautilus. Rook v1.0 will be the first release with support for nautilus.

When you tried to run v0.9.3 and upgrade to the nautilus image, did you also set the `allowUnsupported` flag in the cluster crd? The operator should have detected you were attempting to run an unsupported version and failed. The only way to get the operator runnin

[2019-03-31 04:53] travisn commented on #2632
@conet Could you open an issue for this upgrade issue you hit? It's not expected that any upgrade would be performed by the operator if you use a nautilus image unless you set the `allowUnsupported` flag. With v0.9 releases nautilus isn't planned to be supported. v1.0 is planned to supported nautilus.

[2019-03-31 05:06] travisn commented on #2853
@lewismarshall I'm still having a hard time seeing how this affects the v0.9 release. The changes you mentioned would only affect the sources in the `master` branch, which will be part of the v1.0 release. If you're using [these yamls](https://github.com/rook/rook/tree/release-0.9/cluster/examples/kubernetes/ceph) with the v0.9.3 helm chart, I wouldn't expect you'll hit this issue. I would have th

[2019-03-31 05:09] travisn commented on #2175
Reopening... We have recently discussed an approach for this and have a [design document](https://github.com/rook/rook/blob/master/design/ceph-external-cluster.md).

[2019-03-31 07:21] conet commented on #2632
@travisn I haven't set that flag so the question is what is the default behaviour, the doc states that:

There is no default value specified, if you think that an issues still needs to be opened let me know. I would be also curious about this: when `v1.0` is release will I be able to upgrade from this state? Currently the cluster is in `state: Updating` (still usable) and I see no other way to fix

[2019-03-31 14:40] clkao commented on #2909
Do you not see the prepare jobs at all? if things previously fail, you might need to delete the -status configmaps, and/or restart the operator.

Also loop0 is unlikely a block device that rook can work with.

[2019-03-31 19:14] devyanikota commented on #2206
@travisn @jcsp what I understood from the design doc is that we want the 'pools' fields(both metada and data pools) modified later to nil, post removal of rook filesystem for the operator to understand that the pools can be omitted.
Correct me if am wrong. Thanks.
[Diff](https://github.com/devyanikota/rook/commit/92f6dae694a534e4c9d61532e0b7c0bcad5ce02f)

[2019-03-31 21:02] andrewwebber commented on #2031
My favorite use case for host networking is the following.

A production setup might be a separate pool of Kubernetes clusters dedicated to Rook. Reasons include separate Kubernetes life-cycle management operations without effecting Rook clusters. Operations include control plane and kubelet upgrades, occurring independently in a more volatile application tier cluster.

The the hostNetworking flag

[2019-04-01 01:41] vincent927 commented on #2887
Maybe can try this method，update operator.yaml change the "FLEXVOLUME_DIR_PATH"

[code]

[2019-04-01 07:27] paulmorabito opened #2912 "Can't delete name spaces"
Hi,

I ran through the rook and ceph quick start guide and ended up adding a node and also removing one in my Rancher K8S cluster (Rancher 2.20 and kubernetes 1.13.4). The rook cluster pods were all failing so I thought I would remove my cluster and re-add as it was only being used for evaluation and only on one deployment.

I ran through the remove instructions and can confirm the PV, PVC, CRD et

[2019-04-01 09:54] leseb commented on #2175
I've started looking into this.

[2019-04-01 10:46] aland-zhang commented on #2912
exec   kubectl -n rook-ceph patch cephclusters.ceph.rook.io rook-ceph -p '{"metadata":{"finalizers": []}}' --type=merge

[2019-04-01 11:49] paulmorabito commented on #2912
paul@s:~$ exec kubectl -n rook-ceph patch cephclusters.ceph.rook.io
rook-ceph -p '{"metadata":{"finalizers": []}}' --type=merge
error: the server doesn't have a resource type "cephclusters"

Name spaces are still there.

On Mon, 1 Apr 2019 at 19:46, aland-zhang <notifications@github.com> wrote:

[2019-04-01 12:00] mmack opened #2913 "Helm chart support for csi drivers"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Install CSI version of ceph / rook

**Environment**:

[2019-04-01 12:15] paulmorabito commented on #2912
kubectl get ns | grep Terminating | awk '{print $1}' | gxargs  -n1 -- bash -c 'kubectl get ns "$0" -o json | jq "del(.spec.finalizers[0])" > "$0.json"; curl -k -H "Content-Type: application/json" -X PUT --data-binary @"$0.json" "http://127.0.0.1:8001/api/v1/namespaces/$0/finalize" '

This worked.

[2019-04-01 12:15] #2912 closed

[2019-04-01 13:27] alfredodeza opened #2914 "Ceph core dumps trying to compile crush map"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** Rook fails to compile the crush map, causes Ceph to core dump:

    2019-03-29 12:26:03.777311 I | exec: Running command: ceph mon_status --connect-timeout=15 --cluster=rook-ceph --conf=/var/lib/rook/rook-ceph/rook-ceph.config --keyring=/var/lib/rook/rook-ceph/client.admin.keyring --format json --out-f

[2019-04-01 16:31] travisn commented on #2206
@devyanikota Correct, if the crd does not specify pools, then the operator should not delete them. I think this scenario is already covered by [this check](https://github.com/rook/rook/blob/master/pkg/operator/ceph/file/filesystem.go#L111). Deleting both the filesystem and the pools will be skipped in this case. Does that work for you?

[2019-04-01 20:10] travisn commented on #2206
What I'd suggest is that we need a reclaim policy on our filesystem, objectstore, and pool CRDs. Taking the PV [reclaim policy](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reclaim-policy) as an example, the property might be:
[code]

This property would be added to the [PoolSpec](https://github.com/rook/rook/blob/master/pkg/apis/ceph.rook.io/v1/types.go#L143) type, which means

[2019-04-01 21:02] BlaineEXE commented on #2854
@travis and @leseb I am observing that in the `TestUpgradeSuite` test, the monitors (according to their logs) still listen on port 6790 with only the IP set on the commandline. Joao confirmed that this behavior is expected, as the mons have their monmap stored on disk in their database.

The buggy behavior I am seeing is defined below.

#### The operator still uses the 6790 ports for connection
[c

[2019-04-01 22:36] BlaineEXE commented on #2854
@travisn what is the process for addressing this:
[code]

[2019-04-01 22:53] dyusupov opened #2915 "Integration tests for all CRD types"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

As of 1.1 we want to make sure that all CRD types will be an integration test covered.
This is blocked by #1218

**What is use case behind this feature:**

**Environment**:

[2019-04-01 23:32] travisn commented on #2849
Per earlier conversation, agreed that it would be great to have a bot help us manage this process.

The integration tests will always be imperfect as long as we are making changes. As soon as you work out the bugs from one integration test, another integration test is added that needs stabilization. No matter how much time we have spent fixing integration tests, there is always another random fail

[2019-04-02 02:24] dazhaoyu opened #2916 "no osd or osd prepare pods can be created, only ceph mon pods created"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release): CentOS Linux release 7.5.1804
* Kernel (e.g. `uname -a`): 3.10.0-862.el7.x86_64
* Cloud provider or hardware configuration: one k8s master and two k8s nodes
* Rook version (use `r

[2019-04-02 05:59] dazhaoyu commented on #2916
![image](https://user-images.githubusercontent.com/13358163/55379338-5c403580-554f-11e9-9b19-0d5a645c997e.png)
from ceph-operator logs， always have “Cluster connection interrupted or timed out” message

[2019-04-02 07:32] zeyongTsai opened #2917 "MountVolume.SetUp failed for volume"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
* Mount failed

**Expected behavior:**
* Mount successfully

**How to reproduce it (minimal and precise):**

below is the pod event:
[code]
the storageclass status
[code]

the pvc status
[code]
the pod yaml
[code]
the rook cluster status
[code]
**Environment**:
* OS : CentOS 7
* Kernel: 3.10.0-957.el7.

[2019-04-02 09:08] mingxingshi commented on #2916
`git checkout -b release-0.9 remotes/origin/release-0.9`<br>and then try to deploy again

[2019-04-02 09:52] dazhaoyu commented on #2916
hi  ming，
     I checkout the rook to release-0.9， after “create cluster.yaml”,  still not osd pods, only one mon pod be created, so could you  share your step and cluster.yaml info?

[2019-04-02 13:08] yasinlachiny commented on #2917
I have the same problem with wordpress that is in examples
and also i get this error
  Unable to mount volumes for pod "wordpress-595685cc49-872g2_default(8a5b9b57-553c-11e9-a229-52540076d16c)": timeout expired waiting for volumes to attach or mount for pod "default"/"wordpress-595685cc49-872g2". list of unmounted volumes=[wordpress-persistent-storage default-token-nj8xw]. list of unattached volum

[2019-04-02 14:29] rohantmp opened #2918 "Support and integration for Kubernetes 1.14"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Make sure rook is working and tested on Kubernetes 1.14

[2019-04-02 14:30] rohantmp commented on #2918
Currently trying to deploy using the operator yaml results in SchemaErrors

[2019-04-02 16:45] holoGDM opened #2919 "Operator 0.9.3 not starting"
Im trying to start operator on kubernetes 1.14 cluster. When i will start opertator.yaml (without changes from 0.9.3 ceph example) im getting such error:

[code]

On our other 1.14 it is working as it should. Why on that new one it doesn't?

[2019-04-02 19:26] BlaineEXE commented on #2881
@liewegas or @leseb how does Ceph handle flags that it doesn't recognize? Can `--default-log-to-file=false` be specified on the command line for Luminous/Mimic without daemons failing?

[2019-04-02 19:35] liewegas commented on #2881
I think the result in a warning.  That doesn't help, though, since for older versions we need to do the same ``--log-file=`` thing we do now to turn the logging off the old way.

[2019-04-02 20:53] BlaineEXE commented on #2235
Seems to be a duplicate of https://github.com/rook/rook/issues/2208. Marking as such.

[2019-04-02 21:06] #2779 closed

[2019-04-02 21:06] BlaineEXE commented on #2741
Additional point of clarification: Should Rook be able to handle the case where the deployment is deleted but the operator was stopped before the OSD could be removed from the crush map?

[2019-04-02 21:18] galexrt commented on #2919
@holoGDM The error is about the operator being unable to talk to the Kubernetes API server.
Are you using NetworkPolicies that block traffic to the apiserver? Is your Kubernetes internal network working?

You can use https://github.com/apprenda/kuberang to verify the Kubernetes cluster network.

[2019-04-02 21:39] holoGDM commented on #2919
@galexrt I just figure it out. It was not Rook problem but my OS configuration. Im using Kubernetes with systemd-networkd and there was need to add to all .network files IPForward option like in bellow example .network file:

[code]
systemd-networkd without that option will force interface to disable forwarding even if you will set it globally or for interface with sysctl. Now my syscalls looks li

[2019-04-02 21:49] travisn commented on #2741
To clarify, the Rook approach should be to clean up the K8s artifacts around the OSD that has already been cleaned up by Ceph and marked as safe-to-remove. Rook shouldn't likely be removing the osd from the crush map, per slack conversation.

[2019-04-02 21:57] BlaineEXE commented on #2741
I'd like to continue a discussion @travisn @noahdesu and I were having on Slack and try to get some community feedback here if possible. There are a few core questions that I think we should answer for implementing the most appropriate automatic OSD handling in the long-term view. It will be many small steps to eventually get to the end.

### Questions:
- The larger question is, when is it safe fo

[2019-04-03 00:42] tbe opened #2922 "Ceph RBD PVC Pending forever"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After creating a new PVC, the controller provisions the PV instand:

[code]

But the PV and PVC stay pending forever:
[code]

**Expected behavior:**
The PVC becomse availible

**How to reproduce it (minimal and precise):**
Create a PVC having a storage class managed by rook-ceph

Maybe related to #2833

[2019-04-03 07:55] jackyalbo opened #2923 "Adding NooBaa support to Rook operators"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
* Add the capability to add a NooBaa server and agents using the rook infrastructure.

**What is use case behind this feature:**
* Adding NooBaa data platform capabilities too rook

**Environment**:

[2019-04-03 07:58] mingxingshi commented on #2916
**My steps are as follows, only for reference：**
### My k8s env:

hostname | OS | IP | Storage device
-- | -- | -- | --
Huawei-0001 | CentOS 7.5 64bit | 172.16.192.127 |  
Huawei-0002 | CentOS 7.5 64bit | 172.16.192.25 |  
Huawei-0003 | CentOS 7.5 64bit | 172.16.192.121 |  
Huawei-0004 | CentOS 7.5 64bit | 172.16.192.243 | /dev/vdb
Huawei-0005 | CentOS 7.5 64bit | 172.16.192.226 | /dev/vdb
[code]

[2019-04-03 08:48] rohan47 commented on #2741
https://github.com/rook/rook/issues/2825 and https://tracker.ceph.com/issues/38940 are issues tracking the mechanism to mark ods as "in-maintenance" to prevent osds from being marked out during planned downtime.

[2019-04-03 09:50] leseb commented on #2881
If the flag does not exist Ceph fails with `too many arguments: [--log-to-file=true]`. So my patch adds version support too.

[2019-04-03 09:51] obnoxxx commented on #2883
@jarrpa @humblec - any comments / ideas / inputs?

[2019-04-03 14:06] yan636 opened #2924 "cephcluster CRD is missing properties in upgrade-from-v0.8-create.yaml file"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The dashboard config becomes empty after upgrade by following the upgrade procedure (https://rook.io/docs/rook/v0.9/ceph-upgrade.html)

**Expected behavior:**
The dashboard config can be carried forward during upgrade.

**How to reproduce it (minimal and precise):**

There're 3 definitions  in rook v0.

[2019-04-03 17:08] jarrpa commented on #2883
This should be fairly doable. I can start asking around and looking into how to get into the API process.

[2019-04-03 18:07] shamimgeek opened #2925 "Is there any plan to support openstack cinder volume ?"
How is rook different than rexray project ?

https://github.com/rexray/rexray

[2019-04-03 18:44] jimmyjones2 commented on #2779
Sorry I'm a bit late to this, but can you also document where the keys are held? Shall I raise a separate issue?

[2019-04-03 19:03] childsb commented on #2883
@liewegas this sounds like topology aware scheduling:
https://kubernetes.io/blog/2018/10/11/topology-aware-volume-provisioning-in-kubernetes/

[2019-04-03 21:27] noahdesu opened #2926 "ceph: document encryption key handling"
I believe that the encrypted device support in rook/ceph handles keys according to: http://docs.ceph.com/docs/master/ceph-volume/lvm/encryption/

[2019-04-03 21:27] noahdesu commented on #2779
https://github.com/rook/rook/issues/2926

[2019-04-04 00:33] jarrpa commented on #2883
I just looked into this, too, and yeah we could make this work with topology aware provisioning. This would involve Rook setting it's labels on the node objects while coordinating with the Ceph-CSI driver to have it know how to translate the labels into Ceph topology.

[2019-04-04 05:25] #2843 closed

[2019-04-04 06:38] clook opened #2927 "Helm chart binds `DISCOVER_TOLERATION` to `.Values.agent.toleration`"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The following error message:
[code]

**Expected behavior:**
Helm chart installed with the right node toleration for discover.

**How to reproduce it (minimal and precise):**
[code]

**Environment**:
* OS (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
* Kernel (e.g. `uname -a`): 4.9.0-7-amd64

[2019-04-04 06:50] konvergence commented on #1125
Hi All

I use actually the projet : https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/cephfs
To create create a storageclass on cephfs managed by rook v0.9.2

So actually each PVC created by kuberbetes is a folder on the cephfs but there is is no option to enable quotas on the cephfs folders  to limit the usage on the size defined on the PVC.

Quota is a feature ever availa

[2019-04-04 07:18] BenChand commented on #2902
Update, I solved this issue with both the use of `ROOK_ALLOW_MULTIPLE_FILESYSTEMS` and ensuring that any previous rook data was cleared. So each time I rebuild our Kubernetes test cluster, after installing the rook operator and rook cluster, I apply the rook-cleanup-data yaml file. Afterwards I see no problems with container creation!

[2019-04-04 07:18] #2902 closed

[2019-04-04 08:15] humblec commented on #2883
@childsb @jarrpa afaict, this is different from `topology aware provisioning` , that said, topology aware provisioning lifecycle is mainly on provisioning of a volume/lwhen pod is scheduled. iiu @liewegas's request, the requirement or action of pool creation is before the ( pod/pvc lifecycle or IOW, it is when the pool (crush map) is formed in a cluster.  Please feel free to correct me if I misint

[2019-04-04 09:30] nixpanic opened #2929 "Consume deployment manifests from the Ceph-CSI project"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Reduce the [duplication of the manifests to deploy Ceph-CSI](https://github.com/rook/rook/tree/master/cluster/examples/kubernetes/ceph/csi). Documentation should link to the Ceph-CSI project for deployment.

**What is use case behind this feature:**
Single source of manifests, maintained by the Ceph-CSI

[2019-04-04 11:07] liewegas commented on #2883
Bare metal location properties like rack, room, or datacenter seem like generic properties--more generic than aws zone and region--and perfect candidates for extending the kubernetes.io namespace.  I think key point is that the first step to doing so is probably a pull request to the kubernetes documentation to add them.

We can use a rook.io property in the meantime until that happens, or just st

[2019-04-04 13:02] mykaul commented on #2883
Now that I'm reading again the topology aware provisioning - if we wait for the pod to be scheduled, it's up to use to create the PV properly, in the right location:
[code]
So if the PVC waits for the PV to be scheduled, I *think* we might be OK.
It just sounds all backwards to me - the POD should be scheduled next to where its storage, not the other way around ;-)

Does that mean we can and shoul

[2019-04-04 13:22] jarrpa commented on #2883
I'm with @liewegas in that the on-prem properties are generic enough to be of use to the scheduler as well. However, there is the concern of where we draw the line on what level of tags to define. "rack" and "datacenter" may both apply to most cases, but "room" might not and some may want something like "row".

While there is a distinction between provisioning and storage topology, I believe there

[2019-04-04 13:54] travisn commented on #2394
Let's fix this in the 1.0 upgrade guide.

[2019-04-04 14:15] mykaul commented on #2883
@jarrpa - another use case:
3. Restrict replication to a specific rack / room / data-center / zone, to avoid inter rack / room / data-center / zone traffic. Or if a melt-down in a specific rack occurs (TOR switch dies), only specific pools are unavailable, etc.

[2019-04-04 14:33] travisn commented on #2926
Since Rook doesn't do any handling of the keys and it's all handled by Ceph (osds, ceph-volume, etc), Ceph docs would hopefully be clear on this topic and Rook docs would just need a pointer to the ceph topic.

[2019-04-04 15:42] BlaineEXE commented on #2925
At a brief glance, rexray seems to be focused on providing existing storage to kubernetes via CSI drivers. https://github.com/rexray/rexray/blob/master/.docs/user-guide/storage-providers/ceph.md suggests that rexray does not use existing node storage to provide a Ceph cluster as Rook does. Rather, it simply manages a driver.

It's unclear what you mean by support for openstack cinder volume.

For

[2019-04-04 15:44] BlaineEXE commented on #2925
For a formal feature request, please use the feature request issue template.

[2019-04-04 15:46] JohnStrunk commented on #2883
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md provides an in-depth discussion of topology for CSI & kubernetes. The doc seems to be written from an "accessibility" standpoint--- This is understandable as that's what the cloud providers need it for.

An interesting question is if/how we could use this for our purposes of dep

[2019-04-04 15:48] BlaineEXE commented on #2922
A PV needs to be created for a claim (PVC) to be made against it.

This sounds like it ma be an issue with the flexvolume driver configuration in the Rook-Ceph operator or in Kubernetes itself. Make sure that the flex volume storage location is the same for both. If it is omitted for `kubelet`, it should be omitted for Rook as well, as Rook uses kubelet's default.

[2019-04-04 15:51] BlaineEXE commented on #2917
I wonder if this is a flex volume issue as mentioned here https://github.com/rook/rook/issues/2922#issuecomment-479954094

[2019-04-04 15:52] BlaineEXE commented on #2918
Are you able to get the same cluster configuration working with k8s 1.13.x?

[2019-04-04 15:53] tbe commented on #2922
The paths are the same for both. Using the flexvolume for cephfs works, only RBD is affected

[2019-04-04 16:01] BlaineEXE commented on #2922
I'm not sure how I could repro this to figure out why it's an RBD only issue. You could try deleting the flexvolume dir on the hosts and restarting the operator and agents, but I'm not very hopeful that would fix the issue.

[2019-04-04 16:04] BlaineEXE commented on #2915
Could you expound on this? Which CRDs still need integration tests?

[2019-04-04 17:44] BlaineEXE commented on #2741
@travisn @noahdesu as far as I can tell, there isn't an easy way to tell whether a node in k8s has been removed permanently or removed for maintenance. It seems to me that to remove OSDs safely, we would have to rely on the user to remove individual nodes or disks from the CRD. (Ruling out if we can safely remove using the `safe-to-remove` feature). From a production perspective, this is the safes

[2019-04-04 17:51] travisn commented on #2741
Ok, do these two cases summarize it?
1. If the cluster crd specifies nodes and devices individually, we can remove OSDs when those nodes or devices are removed. (This is already implemented when nodes are removed from the crd.)
1. If for any reason an osd is marked `out` and ceph migrates its data and we determine it is `safe-to-remove`, then rook would remove the K8s artifacts for those OSDs. (Th

[2019-04-04 17:58] BlaineEXE commented on #2741
I agree with those. :+1:

[2019-04-04 18:35] #2927 closed

[2019-04-04 18:42] kfox1111 commented on #2929
having ceph-csi helm chart be a conditional dependency in the rook helm chart would also be good.

[2019-04-04 18:43] kfox1111 commented on #2913
Does it need anything that these https://hub.helm.sh/charts?q=ceph-csi don't provide?

[2019-04-04 19:07] #2430 closed

[2019-04-04 19:27] noahdesu commented on #2741
Can we not watch for delete events on the node resource, and handle maintenance with tainting?

[2019-04-04 19:56] BlaineEXE commented on #2253
Noting test cases:
- `useAllNodes: true` and `useAllDevices: true`: Rook should continue its current behavior. #2741 will eventually make Rook remove osds from nodes more gracefully.

- `useAllDevices: false` (don't care value of `useAllNodes`)
  - user changes global device filter in CRD: Rook removes osds for disks that no longer apply on all nodes
  - user changes global devices specified in CR

[2019-04-04 20:32] travisn commented on #2253
To summarize the code changes for this issue, is all we need to do is ensure that we only remove OSDs that are a result of the user updating the CRD `nodes` or `devices` list *and* `useAllNodes: false`? Or in other words, if the K8s node status changes, we should never automatically remove an OSD.

[2019-04-04 20:33] hansbogert commented on #2668
this gave me a lot of info as to why namespaces weren't automatically removed:

[code]

in my case for example, it were the secrets and ingresses which I hadn't cleaned up yet.

[2019-04-04 22:01] #2700 closed

[2019-04-04 22:23] travisn commented on #2109
With #2820 merged, we can now plan on adding the cluster spec to the existing rook-ceph helm chart instead of creating a whole new chart. This will be a great simplification since users generally want to manage a single cluster with a single operator.

We can leverage the changes in #1676 and now apply it to the existing helm chart and we will be most of the way there. The cluster crd has changed

[2019-04-04 22:46] travisn commented on #2929
Agreed that the duplication is not a good thing and hopefully is only temporary. The goal is for install of the CSI driver to be as automated as possible. When the rook operator starts and creates the Ceph cluster, it should be able to automate the CSI driver so the user doesn't have to think about it. [This topic](https://rook.io/docs/rook/master/ceph-csi-drivers.html) was intended to be temporar

[2019-04-04 22:48] Batarian711 opened #2932 "logo"
I want to contribute voluntarily to the project. I want to give you a logo. What do you say?

[2019-04-04 22:56] travisn commented on #2924
@yan636 Were you updating from v0.9.3 to master? That is not supported yet. We are now starting to update the upgrade guide and these yaml files to support the upgrade from v0.9. Those yaml files you mentioned are for the upgrade from v0.8 -> v0.9

[2019-04-05 00:01] kfox1111 commented on #2929
Please see https://github.com/kubernetes-csi/cluster-driver-registrar/issues/44 for a tangentially related issue. When deploying the rook operator with helm, deploying the csi driver with helm has the potential to help reduce the amount of privilege the operator needs in addition to reducing duplication.

[2019-04-05 01:42] childsb commented on #2883
It just sounds all backwards to me - the POD should be scheduled next to where its storage, not the other way around

To provide some history..... The reason for this design is that it guarantees that a POD is initially
scheduleable to a node with available resources. With traditional DP/binding a nodes compute resources may be consumed in the time between PV provision, bind and POD use resulting

[2019-04-05 04:05] thotz opened #2933 "Rook(0.9) was not coming up in minishift(1.33)"
I have followed the steps mentioned in https://rook.io/docs/rook/v0.8/openshift.html to deploy rook in openshift environment.

oc create -f ../rook/cluster/examples/kubernetes/ceph/scc.yaml
securitycontextconstraints "rook-ceph" created

oc create -f ../rook/cluster/examples/kubernetes/ceph/operator.yaml
namespace "rook-ceph-system" created
customresourcedefinition "cephclusters.ceph.rook.io" crea

[2019-04-05 05:37] thotz commented on #2933
@sp98 suggested me to add following in operator.yaml file
  selector:
    matchLabels:
     app: rook-ceph-operator
just in spec block below replica, it worked hence closing this issue

[2019-04-05 05:37] #2933 closed

[2019-04-05 08:46] rohantmp commented on #2253
@travisn I think we need to be able to modify the OSD timeout based on predictions of the downtime. Eg: We know a node is going to be down for ~15 minutes for maintenance. However, to do this, we need to be able to mark noout on the osd level: https://tracker.ceph.com/issues/38940

[2019-04-05 09:15] vitobotta opened #2935 "Unable to create operator with CSI"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I have just cloned the repo and have tried to create the operator with CSI enabled (ceph/operator-with-csi.yaml) but rook-ceph-operator remains stuck at "ContainerCreating" indefinitely. Before that I have created the other resources with ceph/common.yaml.

**Expected behavior:**

The Ceph based opera

[2019-04-05 10:25] rohantmp commented on #2918
Yup

[2019-04-05 11:11] yasinlachiny commented on #2917
it is not flex volume issue.because by default it is mount correctly in baremetal

[2019-04-05 11:14] galexrt commented on #2917
@yasinlachiny  In what environment do you have the mount timeout issue?

[2019-04-05 11:23] yasinlachiny commented on #2917
I have 4 baremetal ubuntu and 1 of them is master and 3 of them are worker _

[2019-04-05 13:27] liewegas commented on #2883
I don't think the topology-aware scheduling is necessarily that helpful for us, except in the (somewhat) special case where we have localized pools.  That is going to be rare in all but large clusters.  In most cases, the pools will be spread across the entire cluster.

But this is all unrelated to this issue!

The only goal here is to pass any metadata that kube has about the physical layout of t

[2019-04-05 15:54] yanchicago commented on #2924
No. The file is used on upgrade from v0.8 -> v0.9. And the link I have referred is also for v0.8-> v0.9.
Understand those files will not be used for future upgrade.

[2019-04-05 16:30] BlaineEXE commented on #2741
`kubectl uncordon` seems to be the recommended way to prepare a k8s node for maintenance. Although you bring up a really great point; I asked a k8s sysadmin friend of mine if he thinks many admins use taints for preparing to do node maintenance.

Watching for node delete events is also a really great idea IMO.

[2019-04-05 16:40] BlaineEXE commented on #2621
Related: https://github.com/rook/rook/issues/2031

[2019-04-05 17:05] jarrpa commented on #2883
Best I know the only way kube exposes that is via node labels. Currently I believe that the only cloud providers that provide any topology information are AWS and GCE. I'm considering submitting a proposal whereby cloud/platform providers could provide their own arbitrary topology information. It would then be up to the application developer and admin to know about and understand these labels (to

[2019-04-05 17:09] travisn commented on #2935
@vitobotta Did you see the instructions for configuring csi [here](https://rook.io/docs/rook/master/ceph-csi-drivers.html)? The steps at the top of the operator-with-csi.yaml are over-simplified. The operator is likely stuck waiting for the configmaps to be created as listed in those csi instructions.

[2019-04-05 17:14] travisn commented on #2924
Ah right, the `port` property was added after the initial 0.9 release. Were you able to get it working then? Want to open a PR with the fix? In this case, the PR could be opened directly against the release-0.9 branch since the upgrade won't apply to master. I believe `port:` and `ssl:` were both backported and should be added to `upgrade-from-v0.8-create.yaml`.  @noahdesu does that sound right?

[2019-04-05 17:33] travisn commented on #2253
@rohantmp This is a specific issue about rook aggressively removing OSDs when it is not intended. Let's track the behavior around maintenance and marking osds as `noout` with #2825. Also #2741 is related.

[2019-04-05 17:40] BlaineEXE commented on #2253
Agreed, @rohantmp. I think this feature fits pretty squarely in the realm of Ceph's responsibilities. I imagine a user setting `noout` for a node's osds via Ceph's admin CLI (or the dashboard), doing maintenance, and then unsetting `noout` via the same method.

[2019-04-05 17:44] #2660 closed

[2019-04-05 17:46] BlaineEXE commented on #2825
Agreed, @rohantmp. I think this feature fits pretty squarely in the realm of Ceph's responsibilities. I imagine a user setting `noout` for a node's osds via Ceph's admin CLI (or the dashboard), doing maintenance, and then unsetting `noout` via the same method.

There is a corresponding Ceph issue here: https://tracker.ceph.com/issues/38940

[2019-04-05 18:15] jarrpa commented on #2883
After talking with @liewegas for a bit, I now have a better understanding of how CRUSH maps use crush_location and how they are configured. Sounds like it should be fairly straightforward, I can take this on and look into it.

[2019-04-05 18:17] jarrpa commented on #2649
I was waiting for https://github.com/rook/rook/pull/2857 to merge before getting started on this Issue. I can probably get started on this early next week.

[2019-04-05 18:36] yanchicago commented on #2924
Not sure if others care. In my case, I've updated the CRD to make dashboard accessible. But after upgrade, the dashboard has 500 issue ( ticket #2884). And I believe it's a different issue. May need to re-create/update a couple of secrets? Hopefully, there's some workaround.

[2019-04-05 18:54] travisn commented on #2649
Ok great, we need this for 1.0.

[2019-04-05 19:28] erictcgs commented on #2379
I just hit same issue - had been running rook v0.8.3, followed upgrade docs to upgrade to v0.9.3 - mon, mgr, and osd upgrades proceeded successfully, mds upgrade never started.  Deleted rook operator pod, when it came up it checked the mon/mgr/osd (no change), then proceeded to upgrade mds successfully.

[2019-04-05 19:41] travisn commented on #2379
@erictcgs This specific issue should only affect when the version of ceph is changed after already running the 0.9 release. I wonder if the operator was stuck on some other action such as waiting for all the osds to finish. Any chance you looked at the operator log before restarting it? It should have shown if the operator was done, or if was waiting for something.

[2019-04-05 20:34] erictcgs commented on #2379
I'd started with a rook 0.7 release, upgraded to rook 0.8.3, then to 0.9.  Ceph version was preserved at 12.2.x (12.2.4 with rook 0.7, 12.2.5 with 0.8, then 12.2.9 with rook 0.9) - all of those upgrades went fine.  Once things had stabilized with rook 0.9 I followed the [guide](https://rook.io/docs/rook/v0.9/ceph-upgrade.html) updated the cluster CRD image to ceph:v13.2.4-20190109 - mon, mgr, and

[2019-04-05 21:45] valentin-krasontovitsch commented on #2924
Same as @yanchicago - had to manually go in and set dashboard props, it became empty for us as well. we did an upgrade from 0.8.? to 0.9.0.
and we're also getting the 500 errors...

so we would have definitely appreciated a fix, even though it was easy enough to fix ourselves, after short debugging.

[2019-04-05 22:39] noahdesu commented on #2924
@travisn yeh, that's right. i didn't know about the upgrade file.

[2019-04-06 07:39] dimm0 commented on #560
https://ceph.com/rados/new-in-nautilus-pg-merging-and-autotuning/

[2019-04-06 09:00] Stefanbs23 opened #2937 "fsName no Effect"
I want to use more filesystems in my Ceph cluster.

With the option

ROOK_ALLOW_MULTIPLE_FILESYSTEMS defined in operator.yaml

Works great I can now create more filesystems with Ceph 13.2.4 version without problems and rook v0.9.3.

But the option fsName in the pods have now effect, when I change this to something random it always mount the first filesystem its don't check of it exist or other fil

[2019-04-07 09:33] vitobotta commented on #2935
Hi, thanks and sorry for the late reply - I hadn't seen the notification. I tried many things but I ended up just using the 0.9 release instead of master and the standard deployment as described in the docs and the yaml files, instead of CSI. Got it working eventually. Thanks :)

[2019-04-07 09:33] #2935 closed

[2019-04-07 19:55] immesys commented on #2587
@travisn ping, I just tried this again with 0.9.3 and it is still doing the exact same thing.

This is somewhat critical for us, because we have no way of removing a node (and therefore no way of applying rolling updates to the nodes) as rook completely breaks when you try remove a node by cordoning it.

In addition to the message above, rook also does not move the mon off the cordoned node. Even

[2019-04-07 23:31] sharkymcdongles opened #2941 "Manager Pod Dies in Cluster with 10 OSDs per node"
**Is this a bug report or feature request?**
* Bug Report
**Deviation from expected behavior:**

**How to reproduce it (minimal and precise):**
In my cluster I am seeing my manager pod stop working but remaining in running state. After which, ceph becomes unhealthy until I manually restart the manager pod. I have a cluster with 15 nodes with 2 nvmes each that I split into 10 osds per node(5 per de

[2019-04-08 09:25] sharkymcdongles commented on #2941
`apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  cephVersion:
    # The container image used to launch the Ceph daemon pods (mon, mgr, osd, mds, rgw).
    # v12 is luminous, v13 is mimic, and v14 is nautilus.
    # RECOMMENDATION: In production, use a specific version tag instead of the general v13 flag, which pulls the latest release and co

[2019-04-08 12:24] jparrill opened #2943 "Error deploying Rook Ceph Cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Cluster unstable, continously getting down and up on OSD pods:

[code]

**Expected behavior:**
Cluster deployed and working

**How to reproduce it (minimal and precise):**
Follow the openshift.md (openshift 4) creating a new cluster from scratch

**Environment**:
* OS (e.g. from /etc/os-release): CentO

[2019-04-08 12:40] jparrill opened #2944 "Rook operator fails managing the cephclusters.ceph.rook.io CR on deletion"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The resources from cephclusters.ceph.rook.io CR stays after CR deletion

**Expected behavior:**
Resources deletion when you delete the cephclusters.ceph.rook.io CR which include pods from this new cluster.

**How to reproduce it (minimal and precise):**
Deploy Ceph cluster following the openshift.md an

[2019-04-08 15:09] travisn commented on #2941
@sebastian-philipp @leseb This is the second time I've seen this behavior in the last week where the mgr shows as down in the ceph status, but its pod is still running. How to diagnose the mgr in this state? And why would it affect the cluster health?

[2019-04-08 15:27] leseb commented on #2941
@travisn If the mgr is down we won't have any PG tracking. We need to logs of the pods dying in this case. @sharkymcdongles can you please provide that?

[2019-04-08 15:44] jparrill commented on #2944
More details about this bug:

The deployment of operator and cluster was fine, but when rook-ceph-osd-prepare-master pods appear does not detect right (or this is what I see) the free disk. This is the log of the osd-prepare pod:

[code]

If you go to the master node you could see this:
[code]

This does not make sense for me, if you cannot detect a disk why did you prepare the lvm over it?.... we

[2019-04-08 15:48] jparrill commented on #2943
More details about this bug:

The deployment of operator and cluster was fine, but when rook-ceph-osd-prepare-master pods appear does not detect right (or this is what I see) the free disk. This is the log of the osd-prepare pod:

[code]

But if you go to the master node you could see this:
[code]

This does not make sense for me, if you cannot detect a disk why did you prepare the lvm over it?...

[2019-04-08 15:51] mkogan1 opened #2945 "Objectstore: s3cmd make bucket returns error InvalidLocationConstraint"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Following installation of rook master branch with objectstore, there is an error when creating a bucket:
[code]
This is a regressing from `release-0.9` branch where the s3 make bucket command succeeds.

**Expected behavior:**
s3cmd is able to create buckets
[code]

**How to reproduce it (minimal and pr

[2019-04-08 17:21] sebastian-philipp commented on #2941
And having only one mgr is also not really a good idea. There won't be any failover possible with only one mgr.

[2019-04-08 18:26] sharkymcdongles commented on #2941
How can I have more than one? I don't see a way to configure that like
mons.

On Mon, 8 Apr 2019, 7:21 PM Sebastian Wagner <notifications@github.com>
wrote:

[2019-04-08 21:23] BlaineEXE commented on #2701
Fixed in #2835

[2019-04-08 21:23] #2701 closed

[2019-04-08 21:45] jparrill commented on #2943
Ok, it seems like there was some trash on the libvirt disk and was not empty at all.

Cleaning the disk and redeploying works fine.

Closing.

[2019-04-08 21:45] #2943 closed

[2019-04-08 23:11] #2854 closed

[2019-04-09 01:04] dyusupov opened #2947 "Support for configurable Transaction Log parameters"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Ability to configure EdgeFS transaction log processing delay and expiration time.

**What is use case behind this feature:**
Cluster CRD needs to expose trlogProcessingInterval (in seconds) and trlogKeepDays (in time that will be converted to seconds internally) parameters. These are creation-only param

[2019-04-09 02:01] #2791 closed

[2019-04-09 03:58] travisn commented on #2944
@jparrill In the Rook operator log, can you search to see if the following message is present?
[code]

If so, there is still an issue with setting the OwnerReferences in OpenShift when the owner is a custom resource. Rook intentionally skips setting the owner refs when they fail [here](https://github.com/rook/rook/blob/master/pkg/operator/k8sutil/resources.go#L90-L110). If that is the case, [this

[2019-04-09 04:33] dimm0 commented on #2918
Is it safe to update? Or I better wait?

[2019-04-09 04:39] travisn commented on #2918
@dimm0 I'd recommend waiting at least until #2920 is merged, which would confirm that our integration tests are succeeding on 1.14. I was just actually taking a look at that issue tonight. It's still not clear if there is a product issue or just a test issue.

[2019-04-09 05:59] jparrill commented on #2944
Ahh ok, there it is:

[code]

But I am using openshift 4 master (after the 1.13 k8s rebase) branch over libvirt, I think that the code must be there, isn't it?

[2019-04-09 08:06] caisan opened #2948 "why rook can't deploy more than one mon on the same machine with host networking?"
This is question is about the rook design.
when i read the source code of the rook operator. i see
[code]
but as we know, we can use vstart.sh to deploy an all-in-one , even it is a dev env.
so, i think that rook should also support deploy more than one Mon on the same machine with all-in-one mode.

[2019-04-09 09:16] sharkymcdongles commented on #2941
@sebastian-philipp

[2019-04-09 09:26] sebastian-philipp commented on #2941
Well, that's more like a thing that Rook needs to fix.

[2019-04-09 13:22] Informatic commented on #2945
Hey, It seems like I'm stumbling upon the same issue, while also using CephStoreUser CRD. (deployed using `rook/ceph:master` docker image)
[code]

[2019-04-09 17:06] BlaineEXE opened #2950 "Defining a Rook release schedule"
**Is this a bug report or feature request?**
* Feature Request I guess?

**What should the feature do:**
Establish a release schedule/timeline for Rook

**What is use case behind this feature:**
We need to have a better idea of when to cut off features in order to release Rook in such a way that it is stable and we have time to fix bugs and update documentation.

-----

### Background

Although Ro

[2019-04-09 17:07] BlaineEXE commented on #2950
@jbw976 @travisn @liewegas @leseb @yanniszark @dyusupov @galexrt

[2019-04-09 17:09] BlaineEXE commented on #2950
Whatever we decide, I think we should plan to consider our release schedules based around major holidays. Planning to release the first week of January, for example, is likely to result in scrambling.

[2019-04-09 19:03] Informatic commented on #2945
OK, I think I've figured it out. In my case my rgw was throwing:
[code]
Default palcement can be chosen by appending `:default-placement` to region name (per http://docs.ceph.com/docs/master/radosgw/placement/#s3-bucket-placement).

[2019-04-09 20:25] BlaineEXE opened #2951 "Node updates need different behavior around unschedulable detection"
The `onK8sNodeAdd` method uses `GetNodeSchedulable` to determine if pods can be scheduled on the node, but it does nothing to test if nodes are executable (tainted with `NoExecute`). Similarly, it does nothing about `PreferNoSchedule`. I think the thing we want to check here is whether the node meets Rook's placement definition, ignoring "well known"  taints (more in my PR below).

Kubernetes can

[2019-04-09 20:29] BlaineEXE commented on #2951
I'm not sure this is really that important ... something to note at least.

[2019-04-09 20:29] #2951 closed

[2019-04-09 22:58] jmreicha commented on #2492
Just ran into this issue running the dashboard behind an ingress, don't know if it is 100% the same thing so let me know if it needs to be a separate issue.  So far I am able to login to the dashboard but getting the 500 internal server error others have mentioned.

Here are the logs from the ceph-mgr pod.

[code]

Here is what the ceph config looks like (after following the suggestion from above

[2019-04-09 23:00] jbmcfarlin31 opened #2953 "Timeout expired waiting for volumes to attach or mount for pod"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I was running through the mysql tutorial with slight variations (mainly instead of deploying mysql deploying busybox) and my pod is stuck in the following state:
[code]

I am running kubernetes through RKE - in which I found a Rancher specific configuration for FlexVolume on the pre-reqs docs page. I m

[2019-04-09 23:42] dimm0 commented on #2424
Still there after updating to newest mimic

[2019-04-09 23:49] noahdesu commented on #2492
@jmreicha would you mind submitting a separate request? this does look different.

[2019-04-10 02:23] jmreicha opened #2954 ""500 Internal Server Error" accessing dashboard behind ingress"
**Is this a bug report or feature request?**

* Bug Report

**Deviation from expected behavior:**

Carrying over discussion from https://github.com/rook/rook/issues/2492, as the issue I am seeing is slightly different.

I ran into this while running the dashboard behind an ingress and turning off SSL for the dashboard.  I am able to login to the dashboard but getting the 500 internal server errors

[2019-04-10 03:41] travisn commented on #2914
@alfredodeza Everything in your config sounds like a standard openshift deployment. There is no expected/known reason that we would be seeing the coredump. The one variable that looks different from other working deployments is the rhel8 base image.
- Is this the first time running `crushtool` on rhel8? Or do we have other test environments on rhel8?
- Any chance we have a ceph-container build on

[2019-04-10 04:13] travisn commented on #2944
@jparrill Correct, we certainly must have the latest merges that I had referenced where this was supposedly fixed and my only explanation is that it isn't fixed and we haven't followed up on that yet. This has always been working in Kubernetes, but not OpenShift. It would be very helpful if you could follow up with OpenShift on this. For the repro, it should be straight forward to see that any res

[2019-04-10 04:17] travisn commented on #2948
@caisan There are a couple of options in the test scenario you described:
- You only need to create a single mon to create a test cluster. This can be set with the `mon.count: 1` in the cephcluster custom resource.
- If you are not using host networking, you can create multiple mons on the same node if desired to test multiple mons in a single-node cluster.

Does that help with your scenario, or c

[2019-04-10 04:24] travisn commented on #2941
Long ago in #1048 and #1581 we had been running two mgrs with one in standby, but there was some issue with the prometheus module. It seems we should revisit that and figure out what the issue was so we can run a standby.

Currently I can't think of a way to get rook to run another mgr without a code change.

Fundamentally the issue of the mgr hanging still exists and needs to be investigated. Oth

[2019-04-10 05:01] kshlm commented on #2634
Can I get this assigned to me? I'd like to take it up.

[2019-04-10 05:20] travisn commented on #2587
@immesys If you have 3 mons and more than 3 nodes, when a node goes down for maintenance and the mon is stopped, I would expect that the operator would move the mon to another node after a timeout (default is 5 minutes). You're still seeing issues with the mons in 0.9.3? There were some significant improvements in 0.9.3 for handling the failover so I would expect better behavior.

From the log, is

[2019-04-10 06:46] dazhaoyu commented on #2916
install as provided steps,  still only mon pods can be created,  I dont not know why, I gave up to use rook.

[2019-04-10 07:14] sebastian-philipp commented on #2941
Yep, that's why we need the mgr logs here.

[2019-04-10 08:40] caisan commented on #2948
hi, @travisn ,thanks for your comments. i have tried  you mentioned two above in your comments.
what i need is using host networking, and create multiple mons on the same node . So now, this is the limitation of rook . btw, does this scenario i need is meaningful ? thx

[2019-04-10 08:45] caisan commented on #2948
@travisn If you have the experience of use ceph [vstart.sh](https://github.com/ceph/ceph/blob/master/src/vstart.sh), you can build a ceph cluster on a single node, and the 3 mons(for example) bind different port(like 6789,6790,6791). rook also support this scenario, should we?

[2019-04-10 09:01] leseb commented on #2948
@caisan this is a scenario we are not willing to support at this point. People typically use hostnetworking with a single cluster only. If you want to run multiple clusters/mon on the same machine you need to use the overlay network.

`vstarts.sh` is a developer tool, Rook is intended to work on a realistic, production environment.
Thanks.

[2019-04-10 09:21] PaulSka opened #2955 "Helm install rook operator, tolerationKey not used ?"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
TolerationKey is not used ?

**Expected behavior:**

Agent and Discord on specific node with toleration

**How to reproduce it (minimal and precise):**
3 Nodes
Taint a node : kubectl taint nodes NODE1 is_storage=true:NoSchedule
Use a values.yaml :
[code]
Install rook chart : helm install ... rook-stabl

[2019-04-10 09:27] PaulSka commented on #2955
Daemont Set (Agent or Discover)

![image](https://user-images.githubusercontent.com/1415425/55867848-8dd68380-5b83-11e9-9e6b-3c17acff7087.png)

[2019-04-10 11:04] rohantmp commented on #2919
Can we close this?

[2019-04-10 11:11] monester opened #2956 "Unable to delete OSD which isn't present in crush map"
**Is this a bug report or feature request?**
* Bug Report

Possible duplicate of: #1689

**Deviation from expected behavior:**

Unable to delete OSD which is not present in crush map. CephCluster is stuck in "Updating".

**Expected behavior:**

OSD is deleted from cluster.

**How to reproduce it (minimal and precise):**

Was used chaos kube to test stability.

**Environment**:
* OS (e.g. from /etc

[2019-04-10 11:27] christianhuening opened #2957 "Increasing rgw pod count restarts all rgw pods"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I would expect to simply see 2 additional pods when increasing the RGW pod in the CRD from 3 to 5. Instead the 3 present pods were killed and then 5 new were started.
**Expected behavior:**

**How to reproduce it (minimal and precise):**

Use rook 0.9 and increase the instance count for a CephObjectSto

[2019-04-10 11:54] alfredodeza commented on #2914
I would assume this is the first time running crushtool on rhel8, other distros are fine (haven't been able to replicate).

How can we produce a full stack trace? What can we add to our job to get this?

[2019-04-10 12:10] giovanism commented on #2296
@travisn , Can I work on this issue?

[2019-04-10 13:07] travisn commented on #2296
Yes thanks! In the link above, I believe it may be sufficient to replace the call to [Get()](https://github.com/rook/rook/blob/0a8e1096ffd4efa51527a3da6af44222353e20bf/pkg/operator/ceph/object/spec.go#L191) on line 191 with a call to `Update()`

[2019-04-10 13:23] meirhazonAnyVision opened #2958 "Rook v0.9.3 Ceph object store dashboard"
Hello,

We are using Rook Ceph v0.9.3 (Ceph image: `v13.2.4-20190109`) on kubernetes v1.13.5 Ubuntu 18.4

No matter what I try I cannot make the object storage part in the dashboard work.

The Object Gateway seems to be working properly, buckets, files etc.

The other parts in the dashboard also work properly.

I am getting,
500 - Internal Server Error
RGW rest api failed request with status code

[2019-04-10 13:50] mumrau opened #2959 "Restrict a ceph pool to a subset of OSDs"
Hello.

I'm using rook for ceph right now, and I have different policies depending on the storage I desire, with each level corresponding to a `CephBlockPool` and it's associated `StorageClass`.
On the other hand, we have some business using `ceph` as a storage backend, a subset of these (let's say a cassandra cluster) already has replication included directly _into_ the business.

For this busine

[2019-04-10 13:59] mkogan1 commented on #2945
Yep, s3cmd works when specifying location like:
[code]
But it should work with the default placement as well, it is configured in the zonegroup/zone so it should not be necessary to specify it explicitly
[code]

[2019-04-10 15:56] caisan commented on #1523
hi, @hacor  could you please give more detail about how separate cluster network?
for exmaple:
Step 1:
Step 2:
....
you mean edit the configmap rook-config-override when the cluster is running? but when i do this, nothing works. rook version: 0.9.3, am i wrong?

[2019-04-10 16:08] liewegas commented on #560
I think all we need is a CRD property (cluster or pool?) to enable/disable pg autoscaling.

[2019-04-10 16:10] liewegas commented on #560
(or, rather, set the mode.. off, warn, on)

[2019-04-10 16:31] BlaineEXE opened #2960 "Document or automate `ceph osd require-osd-release nautilus` for upgrade to Nautilus"
Upgrade docs for v1.0 need to have the user issue the command `ceph osd require-osd-release nautilus` manually or automate issuing the command from the operator after Ceph cluster's OSDs are all healthy. Ceph's upgrade docs have full context:
http://docs.ceph.com/docs/master/releases/nautilus/#upgrading-from-mimic-or-luminous

[2019-04-10 16:38] BlaineEXE commented on #1507
We believe this issue will be fixed with CSI, which we intend to be a total replacement for FlexVolume as soon as CSI is ready. CSI will be in beta status for the v1.0 release targeted in the next few weeks, and CSI features are still being finalized.

This issue was just moved to the v1.1 release milestone, as we hope CSI will be at a stable release by then. As part of the CSI stable release, we

[2019-04-10 16:44] sebastian-philipp commented on #560
do we need a generic way to enable or disable mgr modues? e.g. dashboard, prometheus, diskprediction, crash, influx, pg_autoscaler, etc.

[2019-04-10 19:33] jmreicha commented on #2659
I just ran into this while testing things on a local minikube cluster using a new Ceph version.  Tried removing `deviceFilter` and adding it back but doesn't seem to make a difference.  Maybe I'm missing something else?

[code]

Here's the ceph cluster definition.

[code]

[2019-04-10 19:45] travisn commented on #2659
@jmreicha This looks like a different issue. In the provisioning output it appears that there are no devices available on which to create OSDs. Minikube doesn't have any devices attached by default. Instead, you could try using `cluster-test.yaml`, which uses a directory to configure an osd rather than a device.

[2019-04-10 20:06] jmreicha commented on #2659
@travisn Ah that makes sense, I was thinking I had configured something incorrectly.  I'll give the `cluster-test.yaml` a try, thanks.

[2019-04-10 20:15] dimm0 commented on #560
I had to enable the OSDs balancer in mgr manually... That's a super useful thing to have

[2019-04-10 21:09] dimm0 commented on #560
Although this stuff is heavily dependent on ceph features currently used...
After upgrading the ceph version, I had to update the straw to straw2 (whatever it means) and set the reweight-compat... And I'm still behind of what the newest features are. Not sure how you can deal with those updates in rook

[2019-04-10 21:15] ktdreyer commented on #2943
I doubt you are the first or last person to hit a similar issue.

This seems like a good thing to add to the Rook troubleshooting guide.

[2019-04-10 21:24] liewegas commented on #560
:+1: on adding a CRD property to enable mgr modules, as long as specifying some set of modules to enable does not make rook disable any modules not explicitly called out (since we tend to add new modules with each release).

As for converting straw to straw2, I think that's something that rook could do (as an opinionated operator), but it's also something that ceph-mgr could do for the benefit of

[2019-04-10 21:26] travisn commented on #2959
@mumrau If there is only a single OSD with the data and its node is lost, would cassandra instances be able to recover after the backing store is lost? I am imagining what you want is that each instance of cassandra points to its own block PVC, then each instance of cassandra would be independent and function in master/slave mode?

[2019-04-10 21:55] jmreicha commented on #2954
This issue does appear to be related to the OSD issues.  After getting OSDs up and running the 500 internal errors seem to have stopped.

[2019-04-10 22:06] liewegas commented on #560
Ha, ceph already has a CLI command to do this: ``ceph osd crush set-all-straw-buckets-to-straw2``.  Rook could just run this at the end of an upgrade.  If existing buckets were straw there may be a small amount of data movement but it is generally pretty minimal.

[2019-04-10 23:18] #2494 closed

[2019-04-10 23:18] #2947 closed

[2019-04-11 07:23] sebastian-philipp opened #2963 "Make pool creation in `CephObjectStore` CRD optional"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
When creating a `CephObjectStore`  CR, I also have to specify Ceph pool definitions. There should a setting to disable this.

I don't know how to handle realm, zone, and zone group here. this needs further discussion.

**What is use case behind this feature:**

There are three reasons to make pool creat

[2019-04-11 07:34] mumrau commented on #2959
Cassandra instance would be able to recover and tolerate a node failure because cassandra system itself has a factor of replication (let's assume it's 2), when the node will come back online after the storage node has been completely destroyed, the other cassandra nodes would re-assigne and stream data to the replacement cassandra, which would come with a fresh PV. I hope it makes sense to you @tr

[2019-04-11 13:53] hacor commented on #1523
@caisan It's been some time since I experimented with this setup, but I'll try my best to document as much as possible:
Interesting might be [this link](https://rook.io/docs/rook/v0.9/advanced-configuration.html#custom-cephconf-settings) to the documentation website of Rook. Let's try to take it down in steps:

- Create the following configmap in the  `rook-ceph` namespace before launching the clu

[2019-04-11 14:19] kshlm commented on #2634
I've been looking into this. One thing to note is that aggregated roles are only possible for ClusterRoles. It's pretty simple to add a `aggregationRule` with a specific labels property to the existing ClusterRole definitions. In future releases, to add new rules to a role, a new ClusterRole definitions can be created with correct labels, which will be aggregated with the existing roles.

Is this

[2019-04-11 15:24] #2858 closed

[2019-04-11 15:44] BlaineEXE commented on #1435
@travis Is this work accomplished in #2936?

[2019-04-11 15:47] travisn commented on #1435
#2946 I would expect to cover these scenarios for add/remove of devices and triggering the orchestration. #2946 won't change the behavior about which devices are added/removed, but will essentially remove the need to restart the operator to pick up new devices.

[2019-04-11 15:53] jbmcfarlin31 commented on #2953
Just to update this thread - it looks like on initial provisioning of the Pod and the PVC, there is this timeout error. However after some time passes (not sure on how long exactly) the Pod eventually attaches to the volume and spins up successfully.

I don't know if that is a bottleneck or limitation from my current environment, or if that is just a timeout bug within Rook connecting itself. It w

[2019-04-11 16:09] erictcgs commented on #2854
Hi @BlaineEXE - I'm testing with an image after these changes but still getting the errors you got, what did you have to do in the end to get the operator to not time out?

Test description: Upgraded a test cluster from rook 0.8 to rook v0.9.0-374.g2ca611a (should include all recent changes, just a few days old?), then luminous to mimic, mimic to nautilus.

Luminous to mimic was fine, but mimic to

[2019-04-11 17:07] travisn commented on #2634
@kshlm Yes, sounds great to have these labels added to all of the ClusterRole definitions. This will improve the upgrade guide in future releases. And if it's simple to add to ClusterRole definitions of other providers, makes sense to do it at the same time. Now if only they also applied to Roles instead of only ClusterRoles...

[2019-04-11 17:11] travisn commented on #2959
Perhaps what you want is the `crushRoot` property on the pool. See https://rook.io/docs/rook/v0.9/ceph-pool-crd.html

[2019-04-11 18:34] #2253 closed

[2019-04-11 18:35] #2926 closed

[2019-04-11 19:14] BlaineEXE commented on #2394
I don't believe the toolbox needs updating from v0.9 to v1.0, so I think this is fixed automatically. #2965 is the core upgrade update PR for v1.0

[2019-04-11 19:32] dimm0 commented on #560
Yup, but as I said it's heavily dependent on tunables version, which is dependent on versions of client kernels.. Which you can see the current ones, but you don't know what user will want to connect

[2019-04-11 19:42] rjemanuele opened #2968 "Multiple Clusters conflict with their host paths"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Multiple Ceph Clusters conflict with their host paths when brought up by the operator.

I have two Ceph Clusters CRDs, each in their own namespace.  Cluster 1, named `rook-ceph` is a filestore cluster based in `/var/lib/rook` on the nodes.  Cluster 2, named `rook-ceph-ssd` is a bluestore cluster based

[2019-04-11 19:45] jimmyjones2 opened #2969 "Is rook robust enough againt a container escape?"
It's great that rook now support encrypted ceph volumes, but does it protect against enough of the realistic threats to cluster?

From my understanding of ceph (which is almost certainly incomplete) all the mon pods will know all the decryption keys, and each OSD pods will know its own. In addition all the mon pods will know the shared secrets for cephx authentication.

Therefore if there is a con

[2019-04-11 20:30] travisn commented on #2968
@rjemanuele This scenario should be working as long as the two clusters have different paths for the `dataDirHostPath`, which you have done as expected.
- On the host everything should be independent for the two clusters under `/var/lib/rook` and `/var/lib/rook-ssd`. If you look at the pod spec for the mons, you should see them mounted at the different paths for the different clusters.
- All the k

[2019-04-11 20:44] travisn commented on #2969
@liewegas What are the thoughts on Ceph support for client-side encryption? I'm not aware of it today.

[2019-04-11 20:57] liewegas commented on #2969
In openstack there is some support for this via cinder/nova and (i think) barbican for key management.  Basically it's just dm-crypt layered in at the side side with some automation to make it transparent.

At a high level this seems like it would be pretty straightforward for RWO RBD PVs, since there is already some generic kubelet infra that is laying down the file system, and/or some ceph-csi i

[2019-04-11 21:43] shaozi opened #2970 "root-edgefs cluster deploy error"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Ran `kubectl create -f operator.yaml` succesfully, then ran `kubectl create -f cluster.yaml` and the `mgr` and `target` pods were not created.

[code]

**Expected behavior:**

Should work as documented.

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):

[2019-04-11 21:55] dyusupov commented on #2970
Thanks for the report. What errors do you see in the operator log? How is your Cluster CRD looks like (only Cluster CRD kind)?

[2019-04-11 22:47] noahdesu commented on #2741
Thanks for this summary @BlaineEXE. Super interesting.

I'm not familiar enough with the operator to be able to know what happens today in this scenario, but if either cluster configuration snapshots are taken (either by rook, or versioned by k8s automatically) or some type of log is available for examining recent history, then would seem sufficient for detecting this case.

[2019-04-11 23:59] shaozi commented on #2970
It's my first try. Can you tell me the command to get what you want?

[2019-04-12 00:12] dyusupov commented on #2970
No worries. It probably would be best if we continue the discussion on our Rook slack channel so to keep other people mailboxes sane.

[2019-04-12 00:12] #2970 closed

[2019-04-12 01:37] caisan commented on #1523
@hacor cool, this is as same as i thought, which create configmap before `kubectl apply -f cluster.yaml`.  i will try it later. thanks a lot. Best regards

[2019-04-12 03:41] travisn opened #2973 "Operator cannot connect to mons after Ceph upgrade to Nautilus"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrading from Mimic to Nautilus, the operator is not able to connect to the mons.

The operator log is full of these messages about msgr1:
[code]

Here is the connection found in the ceph.conf in the operator pod:
[code]

The mon service endpoints are updated properly to have ports for both msgr

[2019-04-12 05:24] hacor commented on #1523
@caisan have you tried to restart the monitors one by one (delete the pods one by one)? If you do this always look in the toolbox with the `ceph - s` command for each mon to become stable before rebooting another.

[2019-04-12 06:39] rjemanuele commented on #2968
@travisn You're right it does all work.  In my case it took deleting the `rook-ceph-ssd` namespace (and all of its objects) and then rebooting to clear out the failed settings from a previous run.  The reboot was needed since some failed process was holding onto `sdb`.

I published the helm chart I developed if there's any interest: https://github.com/rjemanuele/helm-rook-ceph-cluster

[2019-04-12 10:31] mmariani commented on #2217
Ok, I can confirm the last comment, but this was counter-intuitive to me. I am working with the CDK bundle in juju. Deploying rook with helm.

After checking everything wrt rbac etc, the only thing that worked for me was

$ juju config kubernetes-master allow-privileged=true

I said counter-intuitive because it works on another cluster where I have allow-privileged=auto

I do not have gpu anywhere

[2019-04-12 11:49] liewegas commented on #2973
"6789/TCP,3300/TCP" ... does 6789 forward to teh container's 6789, and 3300 forward to the containers 3300? That error means that there is a connection to 3300 that is speaking the v1 (6789) protocol.

What does ``ceph mon dump`` report?

[2019-04-12 13:02] #2731 closed

[2019-04-12 14:15] travisn commented on #2968
@rjemanuele good to hear it is working now.

Nice helm chart. We have been needing assistance with our helm charts. See the latest comment in #2109. What would you think about merging your work with the existing rook helm chart? Thanks!

[2019-04-12 15:56] mumrau commented on #2959
Thing is, with the crushRoot way, I would be forced to have a completely dedicated osd for every simulated "availability zone" (sort of).
It would great to be able to "share" the same osd but I feel like it would kinda screw the underlying ceph model.
I will probably give it a shot and see if it's that complicated, maybe I'll have multiple OSDs on the same node, like one for the classic replicated

[2019-04-12 16:13] Kralor-Guldan commented on #2756
We are running into this as well, any solution to this problem?

[2019-04-12 17:37] noahdesu commented on #2954
thanks @jmreicha for the update.

[2019-04-12 17:41] noahdesu commented on #2954
@rjfd have you seen this sort of thing? sometimes it takes a while for the OSDs and other daemons to spin-up relative to the dashboard. And it seems that the dashboard has some issues when certain daemons aren't running. Is this something I should add to ceph upstream as an issue?

[2019-04-12 19:03] galexrt commented on #2673
@shamalco @hSATAC I have created a PR, https://github.com/rook/rook/pull/2976 which tries to use `clusterName` when `clusterNamespace` is not set anymore.

Could you please try that one out.

[2019-04-12 19:30] rjemanuele commented on #2968
@travisn I'm good with incorporating it into the other helm charts.  Carry on that discussion in #2109?  (I have questions about the namespace creation/usage/removal within the helm charts given some of their practices.)

[2019-04-12 19:31] jimmyjones2 commented on #2969
For block devices, I agree it would make sense to do it at the kubelet level, so all block types could benefit from encryption. The added benefit of secrets in etcd is lots of effort has already been put into protecting that - only kubelets hosting the relevant pod are allowed to retrieve the secret and you've got various options for secret encryption with KMS.

I hadn't particularly focussed on v

[2019-04-12 19:48] #2841 closed

[2019-04-12 20:14] #2968 closed

[2019-04-12 21:26] BlaineEXE commented on #2960
This has been documented though untested in the current draft of #2965. I think we need to have #2973 fixed before we can call the documentation complete and is an obvious priority. I'm hopeful we will still have time to automate this command and be able to remove it from the guide before release.

[2019-04-12 21:40] travisn opened #2977 "Orchestration wasn't triggered when node changed to Ready state"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a node is added, it transitions through several states. It typically starts as not schedulable, then it's not ready, then it's finally marked as Ready. With the new event that triggers an orchestration when a new node is added, we observed that OSDs were not installed on the node because the node

[2019-04-12 22:39] travisn commented on #2973
After running this command, the mons immediately started responding:
[code]

How about the following procedure for updating to nautilus?
- The user updates the ceph version to `v14`
- The operator starts the orchestration
- The operator updates each mon to v14, but continues using the msgrv1 while the mons are updated
- After all the mons are updated and in quorum, the operator runs the above comm

[2019-04-13 03:54] sswangifly opened #2979 "cluster failed to create osds in one of nodes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Use  release v0.9.3 cluster.yaml to create a ceph cluster. then only one node get the following error logs:
[code]
This node retry to create osds and no one success. other node create only one osd and successed.
<pre>
[root@node-03 ceph]# ls
osd10  osd12  osd14  osd16  osd18  osd20  osd22  osd24  osd26

[2019-04-13 09:49] 2ZZ commented on #2458
These resources allow the chart RBAC to work, based on https://rook.io/docs/rook/v0.9/ceph-cluster-crd.html#sample

`apiVersion: v1
kind: Namespace
metadata:
  name: rook-ceph
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-ceph-osd
  namespace: rook-ceph
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-ceph-mgr
  namespace: rook-ceph
---
kind: Role
apiVersion: rbac.au

[2019-04-13 13:30] sepich commented on #2502
Just a clarification for this issue.
Suppose i have 8Gb RAM nodes, and default `osd_memory_target` is 4Gb, so i'm setting:
[code]
In this case operator restart fails on:
[code]
Because `osd-prepare` jobs are in Pending state:
[code]
`osd-prepare` jobs should not inherit `osd` resources.

[2019-04-13 15:03] andrewrynhard opened #2980 "OSD prepare job hangs"
* Bug Report

**Deviation from expected behavior:**
I expect the OSD prepare jobs to complete. Checking the logs of a prepare job:
[code]

The job has been hanging on
[code]

**Expected behavior:**
OSD prepare job to succeed.

**How to reproduce it (minimal and precise):**
Apply the manifests in the `cluster/examples/kubernetes` [directory](https://github.com/rook/rook/tree/master/cluster/examples

[2019-04-13 16:39] andrewrynhard opened #2981 "CSI RBD plugin connect timeout"
* Bug Report

**Deviation from expected behavior:**
The `csi-rbdplugin` crashes:
[code]

here is what `/var/lib/kubelet/plugins` looks like:
[code]
**Expected behavior:**
I expect the `csi-rbdplugin` pod to run successfully.

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release): https://github.com/talos-systems/talos
* Kernel (e.g. `uname -a`): `4.19.31

[2019-04-13 18:33] andrewrynhard commented on #2981
Looks like it might be an issue here: https://github.com/ceph/ceph-csi/blob/csi-v1.0/pkg/rbd/rbd.go#L74-L88

I can close this and followup there if this is not a rook issue.

[2019-04-13 19:03] andrewrynhard commented on #2981
Ok it looks like some binaries are required on the host: https://github.com/kubernetes/utils/blob/89eadab27aac99f9173f14fda2ae30050beaa0a0/nsenter/nsenter.go#L94-L125

Talos is a super minimal distro and does not have those on the host. Regardless, closing because this looks like this issue is not a bug in rook.

[2019-04-13 19:03] #2981 closed

[2019-04-13 19:41] andrewrynhard commented on #2980
[code]

[2019-04-13 19:43] andrewrynhard commented on #2980
Running `vgcreate` manual in the container:

[code]

[2019-04-13 20:27] lucj opened #2982 "Cannot mount Ceph block volume in DigitalOcean managed cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Mongo deployment cannot mount volume created against
`ceph.rook.io/block` storageclass.

[code]

**Expected behavior:**

Workload can mount volume

**How to reproduce it (minimal and precise):**

**Environment**:

* Cloud provider or hardware configuration:
DigitalOcean

* Rook version (use `rook vers

[2019-04-13 20:39] andrewrynhard commented on #2980
[code]

[2019-04-14 04:58] dicarlo2 opened #2984 "Support specifying images by sha256"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow specifying a specific sha for a given image repository in the operators (in particular, the cassandra operator)

**What is use case behind this feature:**
Specifying a sha is more secure and in some environments the only way to specify an image.

[2019-04-14 15:50] invidian commented on #2896
That should actually be very simply to do. I'd add new environmental variable `AGENT_TOLERATIONS` which would have YAML array of tolerations. Then in Go code simply unmarshal it and append to spec.

[2019-04-14 15:52] mykaul commented on #2175
@leseb - any updates?

[2019-04-15 01:57] davi5e commented on #2005
Just to add to the current discourse, our company wishes to separate the whole Rook installation in its own Node Pool in GKE so we can use Ubuntu only in these Nodes.

If you guys need someone to test this feature, I'd be very much obliged :)

[2019-04-15 06:31] Madhu-1 opened #2987 "failed to mount PVC to pod using cephfs-csi"
**Is this a bug report or feature request?**
* Bug Report
failed to attach pvc to pods

**Deviation from expected behavior:**
**Expected behavior:**
Mounting of PVC to pod should be successful

**How to reproduce it (minimal and precise):**

* deploy ceph-csi using operator
* create PVC using cephfs-csi
* mount PVC to pod

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a

[2019-04-15 06:41] Madhu-1 commented on #2987
I remember @rootfs told we don't need attacher pod for cephfs-csi https://rook-io.slack.com/archives/CG3HUV94J/p1551360632001300

[2019-04-15 08:39] leseb commented on #2175
@mykaul I'm busy on other PRs so no updates yet.

[2019-04-15 09:10] rjfd commented on #2954
@noahdesu yes, I think we should create an upstream ticket for this. The dashboard should be able to cope with a cluster that does not have OSDs yet.

[2019-04-15 09:37] #2781 closed

[2019-04-15 10:38] sebastian-philipp opened #2988 "Please remove use of the finalizer in CephCluster"
I ran into the same deadlock and removing the finalizer fixed the issue for me.

See reasoning behind https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/pull/339 and kubernetes/kubernetes#60538

[2019-04-15 14:29] alfredodeza commented on #2628
If rook is going to allow more than one cluster, then the FSID should be defined in `ceph.conf`. @travisn I believe you said that the missing FSID doesn't create any issues, but how would one go about identifying what cluster does a pod belong to without an FSID?

In any case, if this should *not* be considered a problem and rook is not going to support multiple clusters ever, we should close this

[2019-04-15 14:39] leseb commented on #2628
@alfredodeza almost all the daemons (excluding the OSDs) are using Ceph params in the CLI call, for instance a monitor will be:

[code]

And the `ceph.conf` has:

[code]

So parsing the `ceph.conf` will never work as a validation.

[2019-04-15 14:49] yanchicago commented on #2896
Thanks for quick action. Could you specify the user interface/configuration? Also could you please enhance it for other pods as well: operator, mgr, mon, osd, detect, rgw?

[2019-04-15 14:52] yanchicago commented on #2696
@travisn The rook cluster crds are in different namespace ( rook-ceph2).

[2019-04-15 15:56] leseb commented on #2973
@travisn I know what's going on, working on a fix, perhaps as part of https://github.com/rook/rook/pull/2901/.

[2019-04-15 16:02] alfredodeza commented on #2628
If looking at the `ceph.conf` isn't a good way to do this, would looking into the socket a preferred alternative? or what would be the suggestion here?

[2019-04-15 16:55] BlaineEXE opened #2989 "Ceph 1.0 upgrade: mds failure - keyring secret not found / deployment never ready"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
mds daemons after upgrade to Rook 1.0 (locally-built master currently) fail.

Rook doesn't seem to be correctly determining correctly when the deployment is updated.

**Expected behavior:**
Rook upgrade should upgrade mds daemons without issue.

**How to reproduce it (minimal and precise):**
- Install

[2019-04-15 17:03] travisn commented on #2988
The finalizer certainly causes headaches sometimes so if we can remove the requirement it would much better. The requirement for using the finalizer is that the operator needs to be running to unmount/detach the rbd volumes before the cephcluster CR is deleted. If the mon/osd pods are delected before the volumes are cleaned up, they will be hung until the host is restarted. I am not sure if CSI wi

[2019-04-15 17:15] travisn commented on #2984
@dicarlo2 Can you provide an example of what isn't working? Are you referring to specifying the image using hte sha256 in the [cassandra CR](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/cassandra/cluster.yaml#L73)?

[2019-04-15 17:59] dyusupov opened #2990 "EdgeFS Rolling Upgrade support"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
This is to support Rook EdgeFS cluster upgrades without service interruption.

**What is use case behind this feature:**
1. Enhance operator to handle upgrade scenarios in graceful ways
2. Provide extended documentation and troubleshooting section

**Environment**:

[2019-04-15 18:28] travisn commented on #2628
@alfredodeza If the fsid is specified as a CLI arg as @leseb mentioned, should that fix the issue? I believe that was added in master since this issue was opened. Rook doesn't generate much in the ceph.conf anymore since we're moving to the CLI args. Does ceph medic look at those args?

[2019-04-15 18:56] noahdesu commented on #2954
Thanks for the triage @rjfd http://tracker.ceph.com/issues/39303

[2019-04-15 19:07] yanchicago opened #2992 "ROOK_OSD_DATABASE_SIZE is not correctly configured in the ceph"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
For cephcluster cluster, the configured "Database Size MB:  2048" is not reflected in the OSD devices. Instead, the default 1G is used.

[code]

**Expected behavior:**
Expect 2G is used for block.db.

**How to reproduce it (minimal and precise):**
No special setup is needed.

1). Here's the cluster.yam

[2019-04-15 20:06] travisn commented on #2992
@yanchicago I believe the `databaseSizeMB` setting is obsolete since we started using `ceph-volume` to provision the osds. What scenario are you trying to address? Assuming your version of ceph in cluster.yaml is 13.2.4 or newer, I don't believe this setting is necessary anymore.