[2019-01-21 15:17] Capitrium opened #2527 "Potential race condition in rook-ceph-agent"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
While load testing Rook, I've had some nodes come up (about 1 in 150, it doesn't happen frequently) that are unable to mount CephFS volumes. There are no errors in the rook-ceph-agent pod logs and the pod stays in the `Running` state, but restarting the pod on the affected node fixes the issue.

**Expe

[2019-01-21 16:04] christianhuening commented on #2174
@Amos-85 i am on the same version now and for me the issue still persists. Multiple RGW's are causing the mgr to die:
[code]

[2019-01-21 17:19] ben-webber commented on #1960
I too would like to be able to enable fancy striping for ceph using rook. According to this:

http://lists.ceph.com/pipermail/ceph-users-ceph.com/2018-January/024230.html

Since luminous, ceph now ignores the default rbd_default_stripe_count and rbd_default_stripe_unit that can be set in ceph.conf and requires that for striping to be enabled you need to specify stripe-count and stipe-unit as argum

[2019-01-21 17:50] Amos-85 commented on #2174
@christianhuening  ,
what is the rook operator docker image & chart version you are using?

[2019-01-21 18:09] travisn opened #2529 "Revert mgr to minimal privs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The mgr was given privileges for `mon "allow *"` instead of `mon "allow profile mgr"` temporarily to enable the dashboard to continue working until the [ceph fix]() has been released. We can revert #2523 after users move off ceph images that have this issue.

**Expected behavior:**
Mgr privileges shoul

[2019-01-21 18:10] #2404 closed

[2019-01-21 18:12] christianhuening commented on #2174
@Amos-85 I am using v0.9.0-79.g1a1ffdd
Chart is latest stable

[2019-01-21 18:16] #2475 closed

[2019-01-21 19:16] yanniszark opened #2530 "[cassandra] Add support for Prometheus/Grafana monitoring"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The cassandra operator should install the necessary plugins, in order for cassandra to export prometheus metrics. We only use plugins that will work as a javaagent. Currently there are various plugins doing that:
- [cassandra-exporter by Instaclustr](https://github.com/instaclustr/cassandra-exporter): S

[2019-01-21 19:23] yanniszark opened #2531 "[cassandra] Integrate a solution for cluster repair"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

If a node is down or unavailable, when it comes up it needs to discover the writes it missed. To deal with inconsistencies, Cassandra has a mechanism called [repair](http://cassandra.apache.org/doc/4.0/operating/repair.html) that will compare data between replicas and make sure everything is consistent

[2019-01-21 19:29] yanniszark opened #2532 "[cassandra] Minor Version Upgrades"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Cassandra operator will be able to upgrade the cassandra version to a later minor version.

**What is use case behind this feature:**
Users can upgrade their cassandra clusters (minor version upgrade) automatically just by changing the cluster CRD.

[2019-01-21 19:34] yanniszark opened #2533 "[cassandra] Deal with loss of persistence for local storage"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Each time a Cassandra member starts, it will ask a cluster member if it's address is in the cluster. If it is, the member is started with the [`replace_address_first_boot`](http://cassandra.apache.org/doc/4.0/operating/topo_changes.html#replacing-a-dead-node) option. Then the member will do the followin

[2019-01-21 20:56] kfox1111 commented on #2406
I was able to deploy an arm64 cluster yesterday with rook successfully. Thanks again for fixing this. :)

[2019-01-21 21:22] patrickstjohn commented on #2174
@christianhuening something else you may want to try that we have with our setup is using the Beast RGW frontend instead of the standard Civetweb. We've gotten better performance with our gateway's with the newer frontend.

http://docs.ceph.com/docs/master/radosgw/config-ref/
http://docs.ceph.com/docs/master/radosgw/frontends/

Otherwise, our primary difference from what I think you are running is

[2019-01-22 04:16] zerkms opened #2535 "PVC cannot be mounted anymore after series of pod deletes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
To elaborate what I'm doing: I'm researching how reliable rook/ceph is to act as a PVC provisioner for the bare metal cluster. To do that I created a tiny php application that just increments a counter in the database (postgresql), and postgresql is backed up by a PVC.

The relevant yamls for postgresq

[2019-01-22 05:15] christianhuening commented on #2174
@patrickstjohn thanks! I've been on 0.9.1, but we required TLS on RGW to be working, so i switched over to the latest build, which contains a fix for the TLS mount.

Can you quantify the performance gain you get from Beast?

[2019-01-22 06:12] dylanzr opened #2536 "OSDs constantly being marked as down"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSDs are repeatedly being marked as down. Behavior is similar to http://lists.ceph.com/pipermail/ceph-users-ceph.com/2018-July/028158.html

**Expected behavior:**
This cluster is currently idle with no rbd images and no clients. I'd expect OSDs to not fail healthchecks.

**How to reproduce it (minimal

[2019-01-22 13:15] litaxc commented on #592
Also need the instruction of recovering data from local datadir.

[2019-01-22 16:29] rsd35410 opened #2538 "[ceph] having ceph-mgr with a replica of 2 (with node anti-affinity) is not working"
I'm using rook v0.9 and I can't succeed to have the 'ceph' dashboard pod with a replica of 2 (and node anti-affinity) in order to always have the GUI available in case of a node become down.

I'm using the Helm chart for deploying the "Ceph Operator": https://rook.io/docs/rook/v0.9/helm-operator.html
I'm also using the rook cluster deployment explain here: https://rook.io/docs/rook/v0.9/ceph-quick

[2019-01-22 18:19] JohnStrunk commented on #2254
Gluster made the choice to not chown on mount, so the in-tree gluster driver doesn't have this problem. It was a major headache for OSIO where we used flex though. For that, we got a [change for flex](https://github.com/kubernetes/kubernetes/pull/68680) merged that allows chown to be disabled.

The question that requires some thought is what the permission model is.
- For OSIO, we have a consisten

[2019-01-22 19:07] dimm0 commented on #2254
For me the most natural way seems to chown the root folder to the pod's group and user, and let the internal folders and files be sorted out by user
This creates some problem when a single volume gets mounted by different pods with different permissions in different times, but that again can be solved by the user.

[2019-01-22 19:08] dimm0 commented on #2254
@travisn did you try that "SupportsFSGroup bool `json:"supportsFSGroup"`" thing? Would it solve the problem in rook to disable chown?

[2019-01-22 19:18] #779 closed

[2019-01-22 19:33] JohnStrunk commented on #2254
Just for completeness, usage from the flex side is: https://github.com/gluster/gluster-subvol/commit/deffad71d5687cce2bcc6238ef23cd75789ef0c4

Add `fsGroup: false` to the list of capabilities returned from the flex init call.

[2019-01-22 20:55] jbw976 commented on #2436
This is unexpected @joshuacox, sorry for the troubles.  When the Minio operator is deployed, I'd expect the associated Minio CRD to also be deployed.  Can you share the output of `kubectl get crd -o yaml`?

Can you also share the logs for the Minio operator pod?  it should be in the `rook-minio-system` namespace. `kubectl -n rook-minio-system logs -l app=rook-minio-operator` should get its logs.

[2019-01-22 20:57] dimm0 commented on #2174
Updated to v13.2.4-20190109, still the same problem

[2019-01-22 21:32] joshuacox commented on #2436
adding requested info

[code]

[code]

[2019-01-23 00:31] #2224 closed

[2019-01-23 02:47] immesys commented on #919
If there is a way for me to help out, please mention me. I am not familiar with the codebase, but I am willing to contribute time to testing etc.

[2019-01-23 02:50] aisensiy commented on #2492
I am using traefik ingress which seems that it do not support ssl passthrough. And then I upgrade ceph to v13.2.4 and set `ssl: false` for the dashboard but the error message shows below:

[code]

[2019-01-23 03:20] travisn commented on #2254
@JohnStrunk Ah that's working now? Based on the merge date I assume it's only been in since k8s 1.13. When I tried it back in Nov I would have been using 1.12 so it didn't work for me. I'll try again, thanks!

[2019-01-23 03:32] dimm0 commented on #2254
_Updating to 1.13 tomorrow..._
@jjgraham

[2019-01-23 07:08] ramkiperiy opened #2541 "some pv mounts are failing on the pods with "Failed to complete 'rbd': Timeout waiting for the command rbd to return" error"
**Bug Report**
some pv mounts are failing on the pods with "Failed to complete 'rbd': Timeout waiting for the command rbd to return" error

**log message from oc_events**
[code]

**oc describe pod content:**
[code]

**Additional Info**
Mapping "pvc-95b5368b-1ecb-11e9-ba40-063df0a8d040" image in toolbox pod rbd map command worked without any issues.
**cmd:** rbd map pvc-95b5368b-1ecb-11e9-ba40-063d

[2019-01-23 07:38] #2401 closed

[2019-01-23 09:41] ramkiperiy opened #2542 "-Operator log reports lot of mon failover messages but in ceph there is no mon failover."
**Bug Report**
In rook-operator logs there is lot of ceph mon failover messages but in ceph there is no failover initiated, also operator reports that new mon i.e. mon.d is running at Node:6789 but in ceph there is no mon.d daemon.

[code]

**Ceph status:**
[code]

rook image used: travisn/ceph:openshift-test

[2019-01-23 10:01] ramkiperiy opened #2543 "min_size calculation is wrong"
**RFE Request**
Rook always creates ceph pools with min_size value 1 irrespective of whatever the replica size.

The min_size should be calculated based on the replica size.
i.e. min_size = ceiling(size - (size/2))

[2019-01-23 10:12] ramkiperiy opened #2544 "‘Unmount volume at mount dir xxx “pvcxxx” not found’ messages seen in rook-agent logs for non-existent pvcs"
[rook-ceph-operator-5c7756cdd7-wncwc.log](https://github.com/rook/rook/files/2786666/rook-ceph-operator-5c7756cdd7-wncwc.log)

**Bug Report**
Observed  lot of unmount request for pv which not exist in the ceph or OC

**Steps to reproduce:**

1. PVC creation was running in a loop of 100
2. Started mapping the already existing rbd pvcs to cirros pods in a loop of 50( in parallel to #1)
3. We are see

[2019-01-23 10:36] galexrt commented on #1802
@jbw976
1. In directories (with "empty" `_index.md`), see https://github.com/galexrt/rook/tree/hugo_doc/Documentation for the file/dir layout currently to be seen at https://rook-new-site-design.github.io/docs/master/.
2. Are you insulting my grammar skills? :stuck_out_tongue_winking_eye: No, I just named the first `_index.md` page I created (https://github.com/galexrt/rook/blob/hugo_doc/Documenta

[2019-01-23 12:50] galexrt commented on #919
@immesys Awesome! I should hopefully have some time to work on the Ceph part finally again on Friday/weekend.
I'll ping you here/in the PR, when I need your help testing it. Thanks!

[2019-01-23 15:06] patrickstjohn commented on #2174
@christianhuening We were seeing roughly 2Gbit/sec on our r/w throughput with a tuned civetweb and with the beast frontend we are getting 3Gbit/sec throughput.

Additionally, we're deploying with 12 RGW's off the bat. We are not deploying with 1 and then scaling it to 12. I don't know if that differs from anyone else's deployment model.

[2019-01-23 15:11] christianhuening commented on #2174
Whether starting out with 1 and then scaling or directly starting at scale doesn't matter for the crash. I tested that.

[2019-01-23 17:15] clkao commented on #2445
The problem is [Provision using deviceConfigured as deviceSpecified]( https://github.com/rook/rook/blob/a85aa847198663fba38b38953eb6c381a5b05cde/pkg/daemon/ceph/osd/daemon.go#L136) incorrectly. when a no-op orchestration is triggered where all devices are configured, the provisioner runs the node as if the user did not specify any device and wanted to use the default hostDir.

[2019-01-23 17:22] sebastian-philipp opened #2545 "CI: verify OSD API within the CephCluster CRD still works"
in the Rook orchestrator, at

https://github.com/ceph/ceph/blob/7e6783b8a82747c1ff66de391b95ad38a7da16f6/src/pybind/mgr/rook/rook_cluster.py#L340

we're using the

[code]

API in the `CephCluster` CRD.

1. Does this API still work, and
2. is this part of the CI, and
3. does `storeConfig` support advances c-v features, like `encrypted, `db_slots` or `osds_per_device`?

**Is this a bug report or fea

[2019-01-23 20:24] travisn commented on #2479
The issue seems to be in the following scenario, only affecting a certain type of osd:
- On builds where `ceph-volume` is available (12.2.10, 13.2.4, and newer), rook provisions the osd
- Rook starts the osd pod with the entrypoint of `rook`.
- Rook creates [two processes](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/osd/daemon.go#L42):
  - `ceph-volume activate`, which creates a tmpfs

[2019-01-23 20:45] travisn commented on #2445
@NickUfer @jmaerki @clkao I tried to repro, but don't see another OSD created yet. What am I missing?

1. Create the cluster with these osd settings:
[code]
2. Wait for the osd to start and the operator log shows the orchestration is completed
3. Restart the operator

[2019-01-23 21:05] zerkms opened #2547 "ceph mount freezes almost instantly after generating IO"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I've created the simplest setup to assess rook: a kubernetes cluster with 1 master, 2 worker nodes and 1 node allocated to run rook/ceph.

I used the provided `cluster/examples/kubernetes/ceph` configs to run operator and a cluster.

Then I used the provided `mysql` deployment to deploy the workload.

[2019-01-23 21:21] zerkms commented on #2547
Ok, now - restarting `osd` pod unstuck it.

Now it's something

[2019-01-23 22:10] zerkms commented on #2547
Ok, and now after some time (15 minutes after previous osd pod restart)

```kernel: [86374.156292] libceph: osd0 down```

[2019-01-23 22:44] zerkms commented on #2547
And now I see that this `up-down` flickering happens exactly 15 minutes after, every time, regardless whether there is any IO or not :-S

[2019-01-23 23:12] zerkms commented on #2547
UPD: osd does not send beacons, so mon's mark it as down after 900 second timeout

[2019-01-24 00:02] zerkms commented on #2547
And after it has frozen that's how the corresponding strace looks on the osd process:

[code]

[2019-01-24 00:52] zerkms commented on #2547
Another update: I have found that it only happens when osd is configured with

[code]

[2019-01-24 01:01] zerkms commented on #2479
It looks like this problem is relevant to mine https://github.com/rook/rook/issues/2547

It looks like the `/rook/rook` process after it starts `ceph-osd` it does not forward the `stderr` wherever it should and after couple minutes of running under IO load - some of its buffers fills and `ceph-osd` blocks forever.

[2019-01-24 01:30] noahdesu commented on #2479
@zerkms https://github.com/noahdesu/rook/commit/8f13ccf102854339b7214b93c79d3cd4566356d2

[2019-01-24 01:31] zerkms commented on #2479
@noahdesu exactly. It's curious the problem was not spotted for more than 2 years o_O

[2019-01-24 01:43] zerkms commented on #2479
@noahdesu right, I did not spot a PR was already sent to address it, sorry.

[2019-01-24 05:46] Defilan opened #2549 "Jenkins CI/CD Process Failed Integration Tests in GCE"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When the Jenkins pipeline runs integration tests, the GCE build fails due to a timeout that occurs.
**Expected behavior:**
The GCE run should pass the configuration stage and start running the integration tests
**How to reproduce it (minimal and precise):**
Run the pipeline with full tests.
**Environme

[2019-01-24 06:45] travisn commented on #2274
@botzill
- What version of Rook are you running?
- Any other clues from your side on what might have changed to cause it so we can repro it?
- Is your cluster still in this state or did you recover already? If it's still in this state, can you see what files are in the operator pod under `/var/lib/rook`?

[2019-01-24 10:14] fhchina opened #2551 "unable to open config file from search list /var/lib/rook/rook-ceph/rook-ceph.config"
**Is this a bug report or feature request?**
*Bug Report

**Deviation from expected behavior:**
pvc pending state. error event: persistentvolume-controller  waiting for a volume to be created, either by external provisioner "ceph.rook.io/block" or manually created by system administrator

**Expected behavior:**
pvc get created, not pending.

**How to reproduce it (minimal and precise):**

**Enviro

[2019-01-24 10:15] fhchina commented on #2551
kubectl describe pvc jenkins
Name:          jenkins
Namespace:     jx
StorageClass:  rook-ceph
Status:        Pending
Volume:
Labels:        app=jenkins
               chart=jenkins-0.10.32
               heritage=Tiller
               release=jenkins-x
Annotations:   control-plane.alpha.kubernetes.io/leader:
                 {"holderIdentity":"bfedb076-1efe-11e9-b697-56e96830e2e1","leaseDurationS

[2019-01-24 10:16] fhchina commented on #2551
kubectl describe storageclasses.storage.k8s.io rook-ceph
Name:            rook-ceph
IsDefaultClass:  Yes
Annotations:     kubectl.kubernetes.io/last-applied-configuration={"apiVersion":"storage.k8s.io/v1","kind":"StorageClass","metadata":{"annotations":{"storageclass.kubernetes.io/is-default-class":"true"},"name":"rook-ceph"},"parameters":{"blockPool":"replicapool","clusterNamespace":"rook-ceph","

[2019-01-24 10:56] fhchina commented on #2551
The rook/ceph cluster works at first. But after I delete all of the block images using Ceph Dashboard. The pvc binding is always pending.

[2019-01-24 11:14] fhchina commented on #2551
almost all the operation in rook-operator's log will print:
Failed to complete '': exit status 1. global_init: unable to open config file from search list /var/lib/rook/rook-ceph/rook-ceph.config

I use the following command to view log:
kubectl -n rook-ceph-system logs `kubectl -n rook-ceph-system -l app=rook-operator get pods -o jsonpath='{.items[*].metadata.name}'`

[2019-01-24 11:15] fhchina commented on #2551
2019-01-23 11:05:07.679681 I | rookcmd: starting Rook v0.9.1 with arguments '/usr/local/bin/rook ceph operator'
2019-01-23 11:05:07.680220 I | rookcmd: flag values: --alsologtostderr=false, --help=false, --log-level=INFO, --log_backtrace_at=:0, --log_dir=, --logtostderr=true, --mon-healthcheck-interval=45s, --mon-out-timeout=5m0s, --stderrthreshold=2, --v=0, --vmodule=
2019-01-23 11:05:07.764261 I

[2019-01-24 13:52] chh315 commented on #2492
I got this error too! installed by helm and using traefik ingress.

  dashboard:
    enabled: true
    # serve the dashboard under a subpath (useful when you are accessing the dashboard via a reverse proxy)
    # urlPrefix: /ceph-dashboard
    # serve the dashboard at the given port.
    port: 8080
    # serve the dashboard using SSL
    ssl: false

like port and ssl is not effected.

[2019-01-24 14:18] #2549 closed

[2019-01-24 15:24] travisn commented on #2492
I believe this is the same root cause as #2404. The fix is in master and I'd like to have it in a v0.9.2 release by tomorrow.

[2019-01-24 16:09] aisensiy opened #2552 "Ceph osd get down without any error messge in logs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

2 hosts (include 6 osds) down in my cluster and after I delete the osd pod, it will restart and still mark as down. But the log shows nothing.

`ceph -s`:

[code]

`ceph osd tree`:

[code]

`kubectl logs osd-3`:

[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environ

[2019-01-24 16:19] ramkiperiy opened #2553 "Batch deletion of all the pvs in oc doesnot delete all the rbd image in ceph side."
[rook-ceph-operator-5c77c4bc4c-29m4b.log](https://github.com/rook/rook/files/2792895/rook-ceph-operator-5c77c4bc4c-29m4b.log)

[rbd_image__which_not_removed_in_ceph.log](https://github.com/rook/rook/files/2792901/rbd_image__which_not_removed_in_ceph.log)

**Bug Report**

Batch deletion of all the pvs in oc which has data got removed from OC but from ceph side observed around 25 rbd images not dele

[2019-01-24 16:36] dimm0 commented on #2243
Still an issue

[2019-01-24 19:14] NickUfer commented on #2445
I just updated the ceph version to `v13.2.4-20190109`. Now on server01 with my specified nvme1n1 as a bluestore OSD it created a new filestore OSD, which is not specified, and it didn't created the specified osd on nvme1n1.
I don't know what's happening here :D

[2019-01-24 19:24] travisn commented on #2536
It looks like the issue with osds going down is actually related to the logging issue, #2479. I had seen a repro Monday on a cluster with the osds going down. After including a workaround for the logging issue in that cluster, we haven't seen the osds go down since. I'd suggest we get the 0.9.2 release out with the logging fix and confirm that it works for other clusters as well.

[2019-01-24 21:32] zerkms commented on #2547
Presumably now it's fixed via https://github.com/rook/rook/pull/2496

[2019-01-24 21:32] #2547 closed

[2019-01-24 21:34] #2233 closed

[2019-01-24 22:00] jbw976 commented on #2479
Does this need to be backported to 0.9? it's in the 0.9 project.

[2019-01-24 22:04] noahdesu commented on #2479
yes

[2019-01-25 01:11] clkao commented on #2445
@NickUfer can you paste the logs from the prepare-server* job pod?

[2019-01-25 01:12] clkao commented on #2445
@travisn can you try triggering an re-orchestration by setting osd resources?

[2019-01-25 01:47] gejiwei opened #2556 "K8s cluster deployment root error"
Hello，My k8s cluster
![image](https://user-images.githubusercontent.com/39801390/51719851-1c0f9300-2086-11e9-80fc-b871743df57f.png)

I want to deploy sitewhere and do something about it.
![image](https://user-images.githubusercontent.com/39801390/51719851-1c0f9300-2086-11e9-80fc-b871743df57f.png)

But root misreported, "rook-ceph-agent" has been restarted
![image](https://user-images.githubusercon

[2019-01-25 01:47] gejiwei commented on #2556
![image](https://user-images.githubusercontent.com/39801390/51719899-495c4100-2086-11e9-8831-ede4d02bee29.png)

[2019-01-25 01:52] gejiwei commented on #2556
Node log information

![image](https://user-images.githubusercontent.com/39801390/51720050-f1720a00-2086-11e9-8890-71ce55802347.png)

[2019-01-25 02:11] gejiwei commented on #2556
![image](https://user-images.githubusercontent.com/39801390/51720694-9beb2c80-2089-11e9-8d1d-975bd5d27e74.png)

[2019-01-25 02:38] jbw976 commented on #2556
hi @gejiwei, do you have the pod logs for the rook-ceph-agent pod? it looks like it's in a crash loop backoff right now and that would definitely account for the pending volumes.

[2019-01-25 02:42] gejiwei commented on #2556
The pod log shows so much
![image](https://user-images.githubusercontent.com/39801390/51721681-c2ab6200-208d-11e9-8a0c-2bfa3b6fb258.png)
![image](https://user-images.githubusercontent.com/39801390/51721691-ca6b0680-208d-11e9-8fb9-e2c2731b8a48.png)

[2019-01-25 02:43] gejiwei commented on #2556
This is the details.
[root@k8s-master ~]# kubectl -n rook-ceph-system describe pod rook-ceph-agent-ft57h
Name:               rook-ceph-agent-ft57h
Namespace:          rook-ceph-system
Priority:           0
PriorityClassName:  <none>
Node:               192.168.2.7/192.168.2.7
Start Time:         Thu, 24 Jan 2019 17:59:11 +0800
Labels:             app=rook-ceph-agent
                    controller-

[2019-01-25 02:50] zerkms commented on #2536
@travisn I confirm that - my original investigation of the `/dev/stderr` problem started with discovery that monitors mark osd's as down.

[2019-01-25 03:02] aisensiy commented on #2536
So we have to wait for the `v0.9.2`? Or can we use the master branch for a quick fix?

[2019-01-25 03:09] zerkms commented on #2536
@aisensiy

Add

[code]

as a `rook-ceph/rook-config-override` ConfigMap's `config` attribute.

[2019-01-25 03:14] travisn commented on #2536
Thanks @zerkms i was about to mention the same workaround. This will give an outlet for the log file until we get the release out. @aisensiy For your reference, [this help topic](https://rook.io/docs/rook/v0.9/advanced-configuration.html#custom-cephconf-settings) explains the config override.

[2019-01-25 03:37] gejiwei commented on #2556
[root@k8s-master sitewhere-k8s]# kubectl -n rook-ceph get all
NAME                                   READY   STATUS    RESTARTS   AGE
pod/rook-ceph-mgr-a-6c79786fc6-tfwf8   1/1     Running   0          42h
pod/rook-ceph-mon-a-66cdfc556c-jmmt2   1/1     Running   0          42h
pod/rook-ceph-mon-b-674f5d86d6-rfh58   1/1     Running   0          42h
pod/rook-ceph-mon-c-78cc56c76f-hc6j7   1/1     Run

[2019-01-25 06:04] zerkms commented on #1507
Hi,

I'm a novice rook and kubernetes user yet, and while assessing k8s+rook as a platform for my new infrastructure I also experienced this problem while trying various scenarios.

From what @lorenz suggested it looks like Ceph also needs to introduce some changes to RBD, which may take long time or not happen ever.

I understand that what I'm about to suggest is naive, but I believe being option

[2019-01-25 07:15] gejiwei commented on #2556
hello，@jbw976，My k8s cluster is two nodes, and now OSD can't respond，What is the problem? How to solve it? Thank you。
![image](https://user-images.githubusercontent.com/39801390/51730797-c4881c00-20b3-11e9-8ce4-24b178a09380.png)

[2019-01-25 08:20] gejiwei commented on #2556
This is operator log messages

[root@k8s-master rook]# kubectl -n rook-ceph-system logs rook-ceph-operator-67f585458f-dxn2r

2019-01-25 07:22:09.329937 I | cephconfig: writing config file /var/lib/rook/rook-ceph/rook-ceph.config
2019-01-25 07:22:09.330114 I | cephconfig: copying config to /etc/ceph/ceph.conf
2019-01-25 07:22:09.330282 I | cephconfig: generated admin config in /var/lib/rook/rook-ce

[2019-01-25 12:21] Lexing commented on #2297
Thanks @fkpwolf  and @BlaineEXE  for the answers, I can understand it better now. I do have a follow up though, @fkpwolf mentioned that one namespace is created for one ceph cluster, doesn't that mean multiple namespaces will be created for multiple clusters ? I'm not quite familiar with ceph so not sure if multi-ceph cluster setup is a common thing.

[2019-01-25 13:21] dimthe opened #2558 "rook-ceph-POD fails to start"
Hello

I have cloned tag 0.9.1 and I am trying to create a rook cluster following the docs. I have completed all the pod security policies from here : https://rook.io/docs/rook/v0.8/rbac.html#rbac-for-podsecuritypolicies

and all pods are running but one.

[code]

errors from the failing pod

`Events:
  Type     Reason          Age   From               Message
  ----     ------          ----  ----

[2019-01-25 13:57] fkpwolf commented on #2297
yes @Lexing namespaces in k8s is some like multi-tenancy technology.

[2019-01-25 14:49] NickUfer commented on #2445
Okay I think I now know why it created the filestore OSDs. `server01` is a special one...it is the only server where `nvme0n1` is the OSD instead of `nvme1n1` and I forgot that when I changed some things.
So the mistake was that I defined a wrong OSD.

But I think it is still a bug that when you specify a wrong OSD and so the device list with all found drives is empty it creates a filestore OSD (o

[2019-01-25 15:17] dimthe commented on #2558
i solved this by creating this yaml

`apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: rook-rbac
  namespace: rook-ceph
subjects:
  - kind: ServiceAccount
    # Reference to upper's `metadata.name`
    name: rook-ceph-mgr
    # Reference to upper's `metadata.namespace`
    namespace: rook-ceph
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rb

[2019-01-25 16:05] dimthe commented on #2460
hello @GanKanTechnology  did you find a solution to this ?
osd pods did not create for my cluster too

[2019-01-25 17:02] yanchicago opened #2560 "rook-ceph v0.9.1 monitor failure on "service-monitor.yaml""
Yes

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

# kubectl create -f service-monitor.yaml
error: unable to recognize "service-monitor.yaml": no matches for kind "ServiceMonitor" in version "monitoring.coreos.com/v1"

**Expected behavior:**

"ServiceMonitor" should be created.

Note:

**How to reproduce it (minimal and precise):**

**Environment

[2019-01-25 19:18] dylanzr commented on #2536
Adding this option does appear to have helped. After half an hour only 2 OSDs are reporting down. Both have logs like this:

[code]

There are other scrubs higher in the log that seem to complete quickly. The latest log entries in these are about 10 minutes old. I'll continue to look into this, but did want to note that there was an improvement.

[2019-01-25 23:25] dyusupov opened #2563 "EdgeFS dynamic HDD/SSD detection logic can crash operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

In the case of 11:2 ratio, we want 12345,123456. I.e. 2 SSDs needs to be split unequally.
The workaround is to exclude one of HDDs to make groups even.

**How to reproduce it (minimal and precise):**

11 HDDs and 2 SSDs can cause this:

2019-01-25 21:42:00.871022 I | op-k8sutil

[2019-01-26 10:36] ruzickap commented on #2492
Hello.

I tried to install rook v0.9.2 to freshly installed k8s cluster:

[code]

Then I tried the port redirection to `rook-ceph-mgr`:

[code]

but I'm still getting errors when trying to access dashboard on `https://localhost:8443`:

[code]

Was this issue really fixed in v0.9.2 ? Is it working for anybody who is using v0.9.2 ?

[2019-01-26 17:07] clkao opened #2566 "support metadataDevice for osd provisioning with ceph-volume"
When the cluster's ceph version supports ceph-volume, rook-ceph still uses traditional sgdisk-based provision for device when metadataDevice is specified: https://github.com/rook/rook/pull/2269/files#diff-d422456f63710f6140fbb62ba3b6ae8aR155 and there seems no followup issue on this.

Currently our use of `ceph-volume lvm batch` is per-device, as we need to support the osdsPerDevice param. this ma

[2019-01-26 17:15] clkao opened #2567 "rook-ceph-osd-prepare jobs log level not set by operator"
rook-ceph-osd-prepare-* job pods should be more verbose when LogLevel: DEBUG is set.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

install rook-ceph operator will helm with `logLevel: DEBUG` set, and configure a cluster. Notice that the rook-ceph-osd-prepare-* job pods still

[2019-01-26 18:55] Bessonov commented on #2458
@galexrt I spend couple of hours to get it working with helm and give up, bacause this information is missing. Look at https://github.com/rook/rook/blob/master/Documentation/helm-operator.md . There is no mention about additional rules. It's really bad. The idea behind helm is to get software working and don't bother with additional steps. Why don't not allow setting variables for namespaces?

[2019-01-26 21:40] immesys commented on #2378
Hmm I think I am observing this too.

I had a healthy cluster, then I cordoned a node running `mon a`. The rook operator noticed and started a new mon, but then left `mon a` running. So now the ceph cluster has 4 mons in quorum. I would have expected it to remove the "failed" mon. I haven't left it for very long (only 15 mins) so perhaps it will remove it after a few more minutes?

[2019-01-26 21:42] immesys commented on #2378
Even restarting the operator is not helping here.

[2019-01-26 21:43] immesys commented on #2378
I am on 0.9.2

[2019-01-26 22:38] LittleFox94 opened #2568 "Kubelet not starting: traversing plugins directory"
**Is this a bug report or feature request?**
* Bug Report

I'm not entirely sure if this is a kubernetes/kubelet or rook bug.

**Deviation from expected behavior:**

Error logged by kubelet, kubelet then crashed.

[code]

**Expected behavior:**

Kubelet not crashing due to lots of files in plugins directory.

**How to reproduce it (minimal and precise):**

* Have pods running on node which use vol

[2019-01-26 23:03] immesys opened #2569 "Rook using root volume as OSD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Even though I have no directories listed in the cluster CRD, if a node in the k8s cluster has no disks suitable for becoming OSDs, the prepare process randomly makes a directory-type OSD from the root volume

**Expected behavior:**
On a kubernetes cluster, for nodes that do not yet have disks suitable

[2019-01-27 02:00] immesys commented on #2569
To give an idea of why this is so bad, what happened to me was the following:

I needed to upgrade the AMI for my 4-node ceph cluster, so my process was:

- Attach 4 new nodes with the new AMI
- Run the rook operator to install on the new machines
- Detach the EBS volumes from the old machines and attach to the new machines
- Restart rook operator it finds the OSDs, automatically adjusting the OSD

[2019-01-27 02:13] immesys opened #2570 "MON failover not removing failed mon"
**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**
When a Mon is on a node that is being cordoned+drained, we expect that rook-operator will notice and start a new mon, then once quorum is reached, the old mon will be stopped and removed.

**Deviation from expected behavior:**
The rook operator notices that a new mon is needed and starts it (`mon-d` in my case). The

[2019-01-27 04:41] clkao commented on #2569
are you using ceph-volume based osd? seems similar to #2445. see also #2546

[2019-01-27 05:30] immesys commented on #2569
I am using ceph-volume osds, yes. This issue looks similar to both of those issues.

[2019-01-27 06:20] fanux opened #2571 "pvc deleted but PV still exists."
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
when delete PVC, PV delete automatic

**How to reproduce it (minimal and precise):**
[code]
as you can see pv already exists:
[code]

**Environment**:
* Rook version (use `rook version` inside of a Rook Pod):
 rook: v0.9.0-79.g1a1ffdd
* Kubernetes version (use `kubectl version`):
1.13.2

[2019-01-27 13:44] Bessonov commented on #2460
Have a similar problem, if inject istio to rook-ceph-system.

[2019-01-27 17:54] clkao commented on #2566
Well it turns out there's already a placeholder for making use of `ceph-volume lvm batch` with multiple  devices. #2572 is a proof of concept bringing metadataDevice back to new OSDs provisioned with ceph-volume.

[2019-01-27 18:57] immesys commented on #2571
What does your storage class yaml look like?

[2019-01-27 19:01] dyusupov opened #2573 "Document EdgeFS Raw VDEV replacement procedure"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Mostly documentation on how EdgeFS handles Raw VDEV (raw disk virtual device) replacement in Rook way.

**What is use case behind this feature:**

**Environment**:

[2019-01-27 21:59] zerkms commented on #2536
@dylanzr I'm in no way a ceph or rook expert (so take what I write with a grain of salt), but when I was in a similar situation - I started `tcpdump` to collect `osd<->mon` traffic, to ensure that osd does or does not sent heartbeats (in my case they haven't been sent - so it guided me to the root of the problem eventually).

[2019-01-27 23:00] immesys commented on #2570
This might be a separate issue, but after manually removing the mon, the operator gets stuck because it is trying to run the prepare job on a cordoned node, obviously the pod doesn't schedule there. The operator then gets stuck with ` op-osd: waiting on orchestration status update from 1 remaining nodes` and doesn't proceed

[2019-01-28 01:05] fanux commented on #2571
[code]

[2019-01-28 01:06] #2571 closed

[2019-01-28 05:15] pierreozoux commented on #2480
Happy to see this feature being worked on.
I'm working on this [repo](https://github.com/libresh/StandardResourceDefinitions/tree/master/ObjectStoreBucket) as a solution for this [KEP - portable service definition](https://github.com/kubernetes/enhancements/issues/706)
If you want to join sig-apps tonight to discuss about that?

I believe that the standard has to live upstream if we want it to be

[2019-01-28 09:32] leseb opened #2574 "[ceph] add a timeout to the quorum check"
**Deviation from expected behavior:**

The operator checks for the monitor to be in quorum with the following command:

[code]

If the monitor doesn't get in quorum, we would have to wait for the command to return 1, which by default takes either 300 or 600sec I believe (I don't exactly remember). We shouldn't wait such amount of time to figure out something's wrong.

**Expected behavior:**

Fail

[2019-01-28 09:41] leseb opened #2576 "[ceph] do not create a monitor map"
**Is this a bug report or feature request?**
* Bug Report

Given that we have mon_host and mon_initial_members sections in our ceph.conf, building a monitor map is not needed. During the monitor mkfs a monmap will get generated on the fly based on the section mentioned above.

**Deviation from expected behavior:**

Rook creates a monitor map.

**Expected behavior:**

Rook does not create a monitor

[2019-01-28 15:08] travisn commented on #2492
@aisensiy @ruzickap Is the scenario that you're trying to turn off ssl termination inside ceph and have the ssl termination handled by the ingress controller? Or connecting to the controller in any way is not working for you? By disabling ssl in the cluster crd, i would expect you'd be able to accomplish that.

@noahdesu If ssl is disabled, is the dashboard going to be listening on a different por

[2019-01-28 15:09] travisn commented on #2412
If this error comes up, #2468 allows the port to be configured to avoid the conflict

[2019-01-28 15:09] #2412 closed

[2019-01-28 15:15] ruzickap commented on #2492
Actually it is not the case...
I do not want to use ingress at all. I just want to start the dashboard and be able to connect there using "kubectl port forwarding" (like it is here: https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/)

If I use port 7000 I got the same issue/errors `... an error occurred forwarding 7000 -> 7000: error forwarding por

[2019-01-28 15:52] gejiwei opened #2579 "rook-ceph-agent CrashLoopBackOff"
**This is my k8s cluster, operator log, and my other two nodes are always restarted**

[root@k8s-master sitewhere-k8s]# kubectl  -n rook-ceph-system logs rook-ceph-operator-67f585458f-pzg4x
2019-01-28 15:36:18.504897 I | rookcmd: starting Rook v0.9.0 with arguments '/usr/local/bin/rook ceph operator'
2019-01-28 15:36:18.506000 I | rookcmd: flag values: --alsologtostderr=false, --help=false, --log-

[2019-01-28 16:56] jbw976 commented on #2579
Hi @gejiwei, this looks like the same issue as #2556.
[code]
I think that failure to get the server version is the root cause for any components in your cluster failing.  Let's continue tracking that on #2556

[2019-01-28 16:56] #2579 closed

[2019-01-28 17:00] jbw976 commented on #2556
Hi @gejiwei, it looks like the root cause here is that the agent (and I think the osd-prepare pod to) is failing to make the network connection to get the kubernetes server version.
[code]
This is odd because I'd expect the operator pod to run into this issue too.  Is something going on with the pod networking that is causing certain pods to not reach the Kubernetes API server to retrieve the k8s

[2019-01-28 17:36] BlaineEXE commented on #2288
Thanks for the input @immesys. It's on my to-do list, and I hope to have it in master by the Rook's v1.0 release.

[2019-01-28 17:52] BlaineEXE commented on #2297
While Ceph's flexibility makes it easy to run one cluster for supporting many different use-cases, multi-ceph cluster setups are sometimes desirable. With Kubernetes and Rook, Ceph-on-demand for users becomes much easier, and I believe this idea will result in a good number of kubernetes clusters wishing to run multiple independent Ceph clusters. I will also note that it would be best to use separ

[2019-01-28 17:54] BlaineEXE commented on #2406
Thanks for the confirmation @kfox1111 :)

[2019-01-28 18:14] #2576 closed

[2019-01-28 18:23] immesys commented on #2570
Can someone give me an idea what the expected failover case is meant to look like? I suspect that my "cordon a mon's node" is not lining up with what the rook devs expected. I could potentially come up with a workaround for our case if I could make this look more like something rook supports.

[2019-01-28 18:38] travisn commented on #2536
@aisensiy You are not seeing this issue anymore when you used the workaround, correct? Please reopen this issue if you still see it with the v0.9.2 release.

[2019-01-28 18:38] #2536 closed

[2019-01-28 18:38] noahdesu commented on #2492
the ssl setting doesn't affect the port that is used, and if no port is explicitly requested, the port selection is based on ceph version (7000 for luminous, 8443 >= mimic).

[2019-01-28 20:02] travisn commented on #2570
I tried a quick mon failover in minikube and found that the mon removal failed on the first health check, but then was successfully removed on the second loop. @galexrt could you take a look?

[code]

[2019-01-28 20:12] chey commented on #2526
We should be able to `port-forward` the service but it's not working for me either. That being said as a work around the `NodePort` option does work as described [here](https://rook.github.io/docs/rook/master/ceph-dashboard.html).

[2019-01-28 20:33] zerkms opened #2581 "Monitors are not rebalanced"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
This is relevant to https://github.com/rook/rook/pull/1212 and may have some relations to https://github.com/rook/rook/issues/2570

I have found that the operator does not re-balances monitors.

Test scenario:

1. I created a cluster of 3 storage nodes. All nodes run monitors
2. I shut down the node 1

[2019-01-28 20:54] zerkms commented on #2581
Okay, I found that `allowMultiplePerNode` is `true` by default. Switched to `false` and if rebalanced it straight away.

Sorry.

[2019-01-28 20:56] zerkms commented on #2581
Okay, it _attempted_ to rebalance, but did not succeed:

[code]

[2019-01-28 20:59] immesys commented on #2570
In the interests of providing you everything you might need to reproduce, I logged the entire session of me reproducing it. Sorry if this is verbose:

[code]
That was a little premature, the final 4 osds weren't up, but they came up shortly afterwards:

[code]

Now we drain the node running `mon-a`:

[code]

Watch the operator logs:

[code]

Verify the 4 mons are in quorum:

[code]

Now lets try r

[2019-01-28 21:01] travisn commented on #2581
The mon removal issue sounds the same as #2570

[2019-01-28 21:02] immesys commented on #2581
Yeah that looks preeetty similar to what I am experiencing. It gets stuck in the "waiting for pods to start"

[2019-01-28 21:03] zerkms commented on #2581
Yep, it looks like identical, closing it in favour of #2570

[2019-01-28 21:04] r0bj opened #2582 "nodeAffinity: op-osd: no valid node available to run an osd in namespace rook-ceph"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSDs are not running. Operator generates warning:
[code]

**Expected behavior:**
OSDs are running using nodeAffinity definition.

**How to reproduce it (minimal and precise):**

I used operator.yaml (https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml) and cluster.ya

[2019-01-28 21:06] immesys commented on #2570
Also in my reproducing example, one thing that might be different from what @travisn did on minikube: my `mon-a` is still running, I didn't kill it, just cordoned that node:

[code]

[2019-01-28 21:06] zerkms commented on #2570
I have got to the same problem from rebalancing monitors

[code]

So it tries to create a new monitor, ends up generating the existing monitor name `mon-d` and given it already exists - gives up.

[2019-01-28 21:09] immesys commented on #2570
@zerkms my guess is that it's not that it gave up because `mod-d` existed, if you take a look at `ceph -s` it probably did start the new mon on the correct node, it's just not progressing afterwards. Can you check if I'm right?

[2019-01-28 21:11] zerkms commented on #2570
[code]

it runs 3 monitors. And you see that `a` is missing. It's because I'm testing rebalancing now.

`mon-a` was evicted and operator created `mon-d`.

All the details were in my original report.

[2019-01-28 21:14] zerkms commented on #2570
Isn't it because `maxMonId` should normally be 1 greater than existing? While when operator loads the state from the cluster it just takes the _current_ maximum value.

[2019-01-28 21:16] zerkms commented on #2570
Given

[code]

and

[code]

It looks to me that cluster's `maxMonId` was loaded with the value `2` while it should have been loaded with `3`

[2019-01-28 21:17] zerkms commented on #2570
Yep, confirming it

[code]

Here is where it starts being wrong

[2019-01-28 21:19] zerkms commented on #2570
[code]

that's how it initialises it: instead of using the name of the monitor, it uses the name of the node:

[code]

[2019-01-28 21:20] zerkms commented on #2570
I'm reopening my report - it looks like they are a bit irrelevant.

[2019-01-28 21:22] zerkms commented on #2581
After further research I found that the original problem lies in the incorrect cluster `maxMonID` value initialisation:

[code]

As you see it's initialised with the value `2` while it should be 3 (because of `d`)

[code]

that's how it's being initialised: instead of using the name of the monitor, it uses the name of the node:

[code]

[2019-01-28 21:34] BlaineEXE opened #2584 "ceph concern: mons share the same keyring"
Currently, Rook configures the mons to all share the same keyring. Is this practice recommended or recommended against? It may (or may not) be good to give them separate keys for better security.

[2019-01-28 22:31] dimthe commented on #2558
do we have an idea as to why osd pods are never created and there are no logs in kubectl events ?
i tried to redeploy from master with the same results

[2019-01-28 22:58] travisn commented on #2558
@dimthe The operator logs likely show an error why the osds were not created. There may also be an issue with your cluster crd. Could you share the cluster.yaml and the operator log?

[2019-01-28 23:38] #2231 closed

[2019-01-29 01:20] immesys opened #2587 "Cordoned node hangs operator"
**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**
When a node in a cluster is cordoned and drained, the cluster should continue operating OK. Exactly what should happen to the OSDs on the "failed" node is up for debate, I don't really have an opinion on that, but whatever happens the operator should not get stuck in an endless loop

**Deviation from expected behavio

[2019-01-29 03:35] terrykong opened #2588 "Restart CephObjectStore gateway (s3)"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Redeploy the deployment that creates the object store gateway pods.

**What is use case behind this feature:**
I changed the pod affinity of the gateway pods and deleted the deployment thinking that the operator would restart the deployment, but I'm not having any luck trying to restart the rgw deployme

[2019-01-29 08:18] GanKanTechnology commented on #2460
Hi , @dimthe  it's a long time.  I remember that I'v made two mistakes about rook. Let me think about them :

1. About  linux kernel version:
At first it was "3.10.0-123.el7.x86_64"(check it with 'uname -r') because the OS was CentOS 7.0. This make the rbd module unavailable. I change the OS to "CentOS Linux release 7.3.1611 (Core) " which with the kernel version "3.10.0-514.el7.x86_64". And there

[2019-01-29 08:19] GanKanTechnology commented on #2460
Hi @Bessonov   I've wrote them above. Hope that can help.

[2019-01-29 10:20] #2235 closed

[2019-01-29 10:20] #2237 closed

[2019-01-29 10:39] #2508 closed

[2019-01-29 13:49] volvicoasis commented on #2526
Test on my side, same result, can't port forward dashboard svc.

[2019-01-29 14:28] lastessa opened #2589 "filesystem error on some nodes permission denied"
[code]

**Environment**:
* OS (e.g. from /etc/os-release):lsb_release  -a
[code]
* Kernel (e.g. `uname -a`):
`4.18.0-13-generic #14-Ubuntu SMP Wed Dec 5 09:04:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
`* Cloud provider or hardware configuration:
* Rook version  rook:
` v0.9.0-35.gc6b25b7`
* Kubernetes version (use `kubectl version`):
[code]
* Kubernetes cluster type (e.g. Tectonic, GKE, OpenShift

[2019-01-29 14:50] #2563 closed

[2019-01-29 19:21] Capitrium opened #2590 "Help Needed: Rook/CephFS Doesn't Scale Above 600 Client Pods"
I'm running into issues when trying to scale applications which mount Rook/CephFS volumes above 600 pods / 300 nodes (2 pods per node).

I have a simple test application that reads all the files in a given directory every 4 minutes. This application runs in 2 pods per node and is a rough approximation of our actual target application, which reads a large subset of the same files to render dynamic

[2019-01-29 20:22] r0bj commented on #2582
@immesys yes

Example deployment with affinity:
[code]

Pods running on storage node:
[code]

[2019-01-29 20:23] batrick commented on #2590
What version of Ceph is this? What `mds_cache_memory_limit` are you using? Any other Ceph configurations from the defaults?

You can try using subtree pinning if the MDS balancer is not functioning well: https://ceph.com/community/new-luminous-cephfs-subtree-pinning/

I don't know of a Rook user doing the same scale as you but the issue is unlikely to be related to Rook. It's more likely an issue

[2019-01-29 20:51] Capitrium commented on #2590
We're using Ceph `v12.2.9-20181026`. I have tried with a memory limit up to 3GB, but I'm currently using the default limit with multiple active MDS; no other settings are configured with non-default values.

Our video rendering application often uses randomized source clips from a large pool, so it would be difficult to identify which directories would benefit from subtree pinning for those campai

[2019-01-29 21:07] batrick commented on #2590
I'd recommend at least ~16GB for the cache size of the MDS to support that number of clients.

The reason I'm asking for `ceph fs dump` is that I'm concerned you/Rook is just adding more standby MDS to the cluster and not actually increasing the number of actives. See also: http://docs.ceph.com/docs/luminous/cephfs/multimds/

[2019-01-29 22:02] Capitrium commented on #2590
Ah, gotcha - here is the output from `ceph fs dump`:
[code]

[2019-01-29 22:54] batrick commented on #2590
Looks like you have 2 actives and at some point had 5. So I guess that looks good. Try increasing the memory limit to 16GB.

[2019-01-30 01:59] caisan commented on #376
nice ,this is helpful

[2019-01-30 05:47] mhaluska opened #2591 "LVM prereq in doc missing"
Please update documentation. On my CentOS 7.6 non-LVM install I ended without OSDs after node reboot.

2019-01-30 05:17:56.749669 I |  stderr: failed to read label for /dev/ceph-839de169-4203-4156-811e-931a05741e95/osd-data-cec8622b-290f-49fd-84fa-29420d025686: (2) No such file or directory
2019-01-30 05:17:56.749673 I | 2019-01-30 05:17:56.744 7f2471a25a00 -1 bluestore(/dev/ceph-839de169-4203-415

[2019-01-30 10:50] #2223 closed

[2019-01-30 14:36] zedtux commented on #2492
I'm facing this issue too with a fresh Kubernetes cluster (v 1.13) and followed the same procedure than @ruzickap in order to install rook, and I'm using the `Kubectl proxy` command in order to access the dashboard but it wait forever and I have the error in the pod's log.

Is there anyway to access that dashboard without SSL/TLS?

[2019-01-30 15:15] dimthe opened #2592 "v0.9.2. , storage devices issues"
3. Did you already search the existing open issues for anything similar? -->
i did but no help
**Is this a bug report or feature request?**
* maybe bug

**Expected behavior:**
rook-ceph-detect-version to run
**How to reproduce it (minimal and precise):**

setup a cluster with kubespray and set podsecuritypolicy: true and kubernetes 1.12.2

i am trying to get rook-ceph up and running .

the operato

[2019-01-30 15:34] travisn commented on #2492
I suspect the ingress controller will work at least when the rook cluster is configured with `hostNetwork: true`. @galexrt any ideas on this one?

[2019-01-30 17:01] immesys commented on #2570
@travisn I'm not familiar with the code base, but I am willing to try contribute a fix. Do you have any pointers on what the issue might be and where I should start looking in the code?

[2019-01-30 18:12] #2574 closed

[2019-01-30 23:31] dyusupov opened #2593 "EdgeFS support for Geo-Transparent inter-cluster segment links CRDs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

EdgeFS provides a way to configure full Data I/O flow mesh routing by connecting multiple segments (cluster installations) into a global namespace. These CRDs will provide Rook Operator way of configuring things.

**What is use case behind this feature:**

Introduce  ISGW (Inter-Segment Gateway) and IS

[2019-01-30 23:45] dimthe commented on #2592
i gave it another try and started from scratch
this time i have added loop0 devices for storage  and i have pasted my cluster.yaml here
https://pastebin.com/awEh5V1z
[code]

what is wrong in my crd please
thanks

[2019-01-31 00:18] travisn commented on #2592
@dimthe a few thoughts to consider...
- in the cluster.yaml, if you want to specify individual nodes in the `nodes` element, you'll need to set `useAllNodes: false`. Otherwise, the operator will ignore the `nodes` section of the crd.
- Rook won't recognize `loop0` as a valid device. In the log you pasted above, notice this message. Only raw block devices are recognized.
[code]
- If you want to get

[2019-01-31 00:30] dimthe commented on #2592
it will work as this is for testing now . So if i simply leave   dataDirHostPath: /var/lib/rook as is , is going to work ?

can i edit the running pods or i should start from zero again

thank you

[2019-01-31 00:32] travisn commented on #2592
This line in your log shows that you already have the dataDirHostPath configured, so it looks like you're already running:
[code]

You can check the health of the cluster by starting the rook toolbox and running `ceph status`

[2019-01-31 00:33] dimthe commented on #2592
i should start the rook toolbox even with rook-osd-prepare-pods in 0/2 status ?

[2019-01-31 00:37] dimthe commented on #2592
here we are

[code]

[2019-01-31 00:39] dimthe commented on #2592
look ok to me  now i need to figure out how to have dynamic pvs with ceph

[2019-01-31 00:40] kfox1111 commented on #2505
https://github.com/kubernetes/kubernetes/issues/22368#issuecomment-459030528 may help.

[2019-01-31 01:42] fanux opened #2594 "can't init ceph cluster when using host network"
* Bug Report

**How to reproduce it (minimal and precise):**
using host network cluster.yaml:
[code]
then only start ceph mon pod:
[code]
the ceph-mon log:
[code]
[code]
The operator logs:
[code]
**Environment**:
* Rook version (use `rook version` inside of a Rook Pod):
 rook: v0.9.0-79.g1a1ffdd
* Kubernetes version (use `kubectl version`):
1.13.2

[2019-01-31 01:49] fanux commented on #2594
And if I don't use the host network, everything works fine:
[code]

[2019-01-31 01:58] fanux commented on #2594
[code]
I start one mon with host network, then success start the cluster too, it seems allowMultiplePerNode not work?

[2019-01-31 06:21] aisensiy commented on #2536
@travisn Sorry for response soooo late. My fault. And thanks for your guys to give the work around solution and bug fix.

I do use that work around in the cluster which have problems. And it works for me. But as I [asked](https://github.com/rook/rook/issues/2536#issuecomment-457800699), not all of my clusters have this issue with version `v0.9.1` and `v0.9.0`. So I can not tell you that the upgrad

[2019-01-31 06:34] zerkms commented on #2536
@aisensiy for the sake of completeness do you mind to share how you worked it around

[2019-01-31 06:37] aisensiy commented on #2536
Follow your solution [here](https://github.com/rook/rook/issues/2536#issuecomment-457440169) 😄

[2019-01-31 06:44] zerkms commented on #2536
tbh it's the @travisn 's solution from somewhere else :-D

[2019-01-31 08:08] fanux opened #2595 "useAllNodes: true , when new node join k8s cluster, auto add it to ceph cluster"
When I join a new node in kubernetes cluster, ceph osd does not extend to the new node.
[code]

[2019-01-31 10:25] dimthe opened #2596 "ceph dashboard is not loading"
hello
i have this set to true in cluster.yaml

[code]
should at this point see a dashboard pod running in the rook namespace? If yes ,  there is not one .

i have created the service from the existing yamls

[code]

telnet 10.100.1.201 31530
Trying 10.100.1.201...
telnet: Unable to connect to remote host: Connection refused

thanks

[2019-01-31 11:48] jtlayton commented on #2505
@kfox1111 thanks. I'm actually taking a different approach here and am working on a patchset to teach ganesha how to watch a RADOS object and reread its config when it gets a notification on that object. I think that's probably safer than doing any sort of signaling across containers. I'll go ahead and close this bug out for now.

[2019-01-31 11:48] #2505 closed

[2019-01-31 12:21] #1957 closed

[2019-01-31 14:59] travisn commented on #2592
@dimthe For an example of creating a storage class and provisioning the storage, see the [block storage docs](https://rook.io/docs/rook/v0.9/ceph-block.html). For more questions, I'd recommend the rook slack channel.

[2019-01-31 19:09] dimm0 commented on #2241
Related to https://github.com/rook/rook/issues/2254

[2019-01-31 19:09] #2241 closed

[2019-01-31 19:44] mhaluska opened #2597 "pod has unbound immediate PersistentVolumeClaims"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
pod has unbound immediate PersistentVolumeClaims. Just tried to reboot node where wordpress has been scheduled with pv claim.

**Expected behavior:**
pod should be able to bound pv in case of node failure, unbound pv in case of node failure

**How to reproduce it (minimal and precise):**

1. deploy roo

[2019-01-31 20:38] travisn commented on #2592
Sounds like this is resolved now.

[2019-01-31 20:38] #2592 closed

[2019-01-31 20:42] travisn commented on #2569
@immesys Thanks for taking a look. The conditional is wrong when checking for mon quorum [here](https://github.com/rook/rook/blob/ac0dfe12678c20c50dd61bc5b63f101fafb97399/pkg/operator/ceph/cluster/mon/mon.go#L606). We should likely be checking with `>=` instead of '!='. I still want to dig a bit more to see if there would be other side effects of that change.

[2019-01-31 20:54] immesys commented on #2569
@travisn are you perhaps referring to #2570? I'll try making that change and seeing what happens, but any time you spend on this is very appreciated

[2019-01-31 20:55] travisn commented on #2569
Ha, yes it was intended for #2570 thanks. Too many issues open...

[2019-02-01 00:27] travisn opened #2599 "OSD pods should not allow running multiple instances"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
A Rook cluster started with an OSD provisioned by ceph-volume (v13.2.4). To simulate running multiple instances of the same OSD ID, I increased the replica count of the osd deployment to 2. If the locking were effective, I would expect the second pod to either crash or be in a locked state. What I see

[2019-02-01 07:18] skippie81 opened #2600 "When upgrading ceph to new version wait for OSD to be up again before removing next one"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When upgrading to newer ceph version by changing the image in the CephCluster.rook.io crd data. the osd's all restarted using the new image. This is done one by one, and the next one is restated when the previous one has a pod status ready (or running). But this does not mean the osd is completely up a

[2019-02-01 12:33] mhaluska commented on #2597
My fault, enough is delete terminated pod:
kubectl delete pods <pod name> --force --grace-period=0

Seems on kubernetes issue not removed terminated pods and in my case blocking pv:
https://github.com/kubernetes/kubernetes/issues/51835

[2019-02-01 12:33] #2597 closed

[2019-02-01 13:35] rootfs opened #2601 "Migrate from Kubernetes extensions/v1beta1 to apps/v1"
**Is this a bug report or feature request?**
* Bug Report

Kubernetes extensions/v1beta1 API group is depreciated, apps/v1 is the new API group.

See https://github.com/kubernetes/kubernetes/issues/61430

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Clo

[2019-02-01 13:36] rootfs commented on #2601
cc @jbw976 @travisn

[2019-02-01 15:54] leseb commented on #2031
I'm resurrecting this topic since the implementation of https://github.com/rook/rook/pull/2559 might have some impact on the `HostNetworking` feature.

Even though `HostNetworking` seems appealing to easily expose nics from the host, it generates a lot more complexity in Rook's code.
I believe using `HostNetworking` mainly comes from the *unverified* assumption that overlay networking is causing p

[2019-02-01 16:55] travisn commented on #2599
Looking into the /proc/locks, the following is observed initially when running two OSDs
- As expected, each OSD process has an advisory lock
- OSD0 is pid 13178
- OSD1 is pid 13192
[code]

When I started the second OSD pod for OSD0, a new lock is observed for OSD0 on pid 15166:
[code]

Because the OSD pods have PID sharing enabled, the same set of locks are visible inside the container as on the h

[2019-02-01 17:00] mykaul commented on #2031
@leseb - few comments:
- it is VERIFIED that overlay networking causes performance degradation. We've seen it happening.
- There is work in progress to expose multiple NICs to containers. I don't know what the status is, I can find out.

Due to the 1st bullet, which I doubt is going away, I think we may have to stick with host network (btw, OCS 3.x uses it as well).

[2019-02-01 17:00] BlaineEXE commented on #2031
I would rather have supporting evidence for whether or not host networking does or doesn't improve performance before making that decision. I think going all-in on containerization is a good thing, and I think we should strive to get there.

And I also think that in order to get anywhere close to bare metal performance, we are going to need to have access to some parts of the host. I think @sebast

[2019-02-01 17:17] BlaineEXE commented on #2599
Notes from huddle:
Mounts fs on temp fs, osd is acquiring lock on fsid file. If run multiple containers from block device multiple times they will mount metadata on tmpfs, and then acquire lock on file in tmpfs. Kernel device also takes block on actual device, so the host's kernel should not allow other containers to make the lock. Could this be a kernel bug?

[2019-02-01 17:34] mykaul commented on #2031
@BlaineEXE - we have supporting evidence. We've seen inconsistent behavior on a load test (running on Amazon though, so YMMV) which was vastly improved as we moved to host networking.

OCS stands for OpenShift Container Storage, a product from Red Hat that has been running for several years in similar setups and we have seen there the importance of host networking, as overlay was ... err...

[2019-02-01 17:36] leseb commented on #2031
Based on our huddle discussion, we decided to keep the support for host networking around under the following circumstances:

* do not allow more than one monitor with hostnetworking enabled on the same machine
* do not support multiple cluster on the same machine when hostnetworking is enabled

With that, we can keep decent support without introducing too much complexity in Rook's code.

[2019-02-01 17:41] liewegas commented on #2599
see https://github.com/ceph/ceph/pull/26245

[2019-02-01 18:37] liewegas commented on #2031
I was hoping/expecting that we could avoid any problems with overlapping clusters as long as we chose unique monitor ports for each cluster and/or monitor.  Are there any known issues with non-monitors overlapping on the same host?

[2019-02-01 20:45] BlaineEXE commented on #2031
If we use the overlay network, we can have as many clusters per node as we like. I am inclined to agree with Seb at present and focus on support for a bare minimum requirement for host networking. I think this is something we will want to revisit down the road, and I think we can have better velocity between now and then not having to worry about testing/breaking multi-cluster-plus-host-networking

[2019-02-01 21:06] travisn commented on #2031
@liewegas i believe the mons are the only area that would conflict with host networking.

I believe this scenario would already fail today if you tried to have multiple mons on the same host from different clusters with host networking. The operator doesn't coordinate the mon ports across clusters and nobody has raised this as an issue. So I don't see the need to support multiple mons per node wit

[2019-02-01 21:22] #2569 closed

[2019-02-01 22:43] dyusupov commented on #2031
the biggest issues with usage of host network besides some obvious loss of
flexibility are security and breakage of isolation. It can be a deal
breaker for many *-converged environments. But I can see that this can be
OK in cases where k8s nodes fully dedicated to run storage function only
and some non-security critical pods. Perhaps if we require (or highly
recommend) to enable IPsec when storage

[2019-02-02 05:15] vreon opened #2603 "Mon placement should respect failure domains"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

The operator can avoid placing two mons on the same host, but those hosts could still be in the same failure domain. The operator should take the `failure-domain.beta.kubernetes.io/region` and `failure-domain.beta.kubernetes.io/zone` labels into account when placing mons.

This feature was kicked aroun

[2019-02-02 07:45] mykaul commented on #2603
Does that relate in any way, btw, to the CRUSH map? Will we be using logic and placement from K8S or Ceph (or both) ?

[2019-02-02 07:55] vreon commented on #2603
@mykaul it's similar but independent, I think. #1366 is the one for the CRUSH map

[2019-02-03 15:54] dimm0 commented on #2429
Hitting this from time to time, need to manually kill the pod

[2019-02-04 05:11] #2246 closed

[2019-02-04 08:46] leseb opened #2604 "Reduce support scope of Host Networking"
As discussed in https://github.com/rook/rook/issues/2031, we decided to lower-down the supported scope of the Host Networking functionality.

Decision:

* do not allow more than one monitor with hostnetworking enabled on the same machine
* do not support multiple cluster on the same machine when hostnetworking is enabled
With that, we can keep decent support without introducing too much complexity

[2019-02-04 12:12] ramkiperiy commented on #2474
Some more observations when creating 2 rgw pods. Please note in the replicaset(i.e. replicaset.apps/rook-ceph-rgw-my-store-68b65d5854) for one of rgw, the value for desired and current state is "0" as highlighted below.

Rook image: travisn/ceph:openshift-test

[code]
yaml file used to create 2 rgw services.

[code]

[2019-02-04 14:53] leseb opened #2606 "Implement ceph-volume inventory command"
In recent development versions of c-v, a new sub-command has been introduced:

`ceph-volume inventory` which lists devices on a particular machine and report their availability by applying some filters.

The idea is to eventually replace the existing discovery code from `discover.go` with the new `ceph-volume inventory` command. Although both will co-exist depending on the Ceph version we are runn

[2019-02-04 16:40] leseb opened #2607 "Enhance ceph-volume batch mode"
Several enhancements to the `ceph-volume` batch command have merged, see https://github.com/ceph/ceph/pull/25542. So we have to consume that in Rook.

[2019-02-04 17:34] Bfoster-melrok commented on #2429
Also running into this issue

Can confirm deleting the pod manually fixes it temporarily.

Environment:
OS (e.g. from /etc/os-release): Ubuntu 18.04.1 LTS
Kernel (e.g. uname -a): Linux dev-kube-1 4.15.0-42-generic #45-Ubuntu SMP Thu Nov 15 19:32:57 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Cloud provider or hardware configuration: bare metal
Rook version (use rook version inside of a Rook Pod): v0.9

[2019-02-04 17:42] dyusupov opened #2608 "increase docs weight base"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

it would be nice to come up with some intermediate solution while we working on the long term one so that we could keep adding *.md files without waiting for final one to arrive

**What is use case behind this feature:**

for now, we could just add two ending 00 to a current “weight:” number in *.md fi

[2019-02-04 18:27] jamstar opened #2610 "client pods unable to connect to cephfs."
* Bug Report

Background.  We run several dev clusters on a single machine.  The machine crashed over the weekend.  When we brought it back up, one of the clusters is having cephfs problems.   The other clusters seem ok.

**Deviation from expected behavior:**
This is one pod attempting to use the cephfs.  all pods have the same error, system has been restarted, pods have been scaled to rebuild.

M

[2019-02-04 18:42] travisn commented on #2604
Agreed on this change. If someone really wants to run multiple clusters with host networking, they would need more nodes so they could partition the mons and osds that would belong to each cluster. But my impression is that users generally only have a single cluster when using host networking.

[2019-02-04 18:43] travisn commented on #1350
yes, fixed by #2216

[2019-02-04 18:43] #1350 closed

[2019-02-04 20:04] travisn commented on #2596
@dimthe You should see a dashboard service such as this:
[code]

There is not an independent pod for the dashboard, as it is running as a module in the mgr pod. The operator must be failing to start the dashboard. What is your cephVersion.image in the cluster.yaml? What version of rook? Can you share the operator log?

[2019-02-04 20:32] hongkailiu opened #2612 "agent pod: `/usr/libexec/kubernetes: read-only file system`"
**Is this a bug report or feature request?**
* Bug Report

[code]

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
[code]

* OS (e.g. from /etc/os-release):
[code]
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configuration:
* Rook version (use `rook version` inside of a Rook Pod):
* Kubernetes version (use

[2019-02-04 20:48] immesys commented on #2595
You need to restart the rook operator for it to add the new node.

I think this is expected (and acceptable) behavior.

[2019-02-04 21:05] hongkailiu commented on #2612
Also ssh to one of the node, I cannot create that folder either manually.

[code]

[2019-02-04 21:36] yanchicago opened #2613 "A downgrade procedure/guide is needed"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
A downgrade guide is needed for backout, which can  backout the upgrade procedure ( https://rook.github.io/docs/rook/v0.9/ceph-upgrade.html).

**What is use case behind this feature:**
If upgrade failed, the user can backout to its previous version.

**Environment**:

[2019-02-04 21:40] dimthe commented on #2596
hello
i am using the latest rook version with image: ceph/ceph:v13.2.4-20190109

the dashboard is now working. I had an error in the cluster yaml but i don't know if this was the cause for the dashboard not loading .

i was using loop0 devices for storage and these were not working. i found out later when i used directories for storage and that time the dashboard worked

[2019-02-04 21:40] #2596 closed

[2019-02-04 21:43] travisn commented on #2612
You're on OCP 4.0? This sounds related to flex being broken on 4.0 as well, although I don't see any details on that issue:
https://bugzilla.redhat.com/show_bug.cgi?id=1667606

[2019-02-04 21:49] hongkailiu commented on #2612
@travisn Thanks for the reply.
Yes, I am on OCP 4.0.
I will watch that bug and give it another try when we have a version with fix.

[2019-02-04 21:50] JohnStrunk commented on #2612
The host dir for flex had to be changed to a writable location in RHCOS. Hemant owns the related Jira ticket.

[2019-02-04 22:32] #2604 closed

[2019-02-04 22:48] travisn commented on #1885
@galexrt @bassam @jbw976 Now that it has been a few days for our conversation to settle, here are my notes. Please clarify any area where there was different perspective.

The basic concern is that the current usage of alpha/beta/stable channels does not match the actual workflow of the rook release. The current release process is more precisely the following
- All new changes go into the `master`

[2019-02-05 19:05] davidkarlsen commented on #1082
Same here, rook thinks it is mounted:
[code]

But the pod is waiting for the pvc!
[code]

[2019-02-05 19:50] jtlayton opened #2616 "ceph-mgr dashboard also needs to have its backend set to "rook""
For reasons that are not completely clear to me, we have to set the orchestrator backend in two different places. We already set it for the command line (`ceph orchestrator set backend rook`), but the dashboard also needs to be informed about the backend. Can we add this command to the mgr setup?

[code]
This may not be merged into ceph just yet, as I think it's being done as part of this PR: http

[2019-02-05 19:54] jtlayton opened #2617 "ceph orchestrator set backend rook sometimes fails"
This command routinely fails when starting up a ceph-mgr:

[code]

The issue is that it gets run too quickly after the module enablement, before the command is properly registered by the manager. The simple fix would probably be to just retry if this happens.

[2019-02-05 22:47] jbw976 commented on #1540
What's left for this issue now that the https://github.com/galexrt/k8s-vagrant-multi-node repo is established?  Adding documentation in Rook to point at the project and summarize the developer focused workflow?

[2019-02-05 23:07] travisn opened #2619 "Master build failing to create OSDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Starting a cluster with today's master build is resulting in failing to create OSDs. The operator log shows:

[code]

**Expected behavior:**
Creating OSDs should succeed.

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cl

[2019-02-05 23:38] travisn commented on #2619
The device-based OSDs appear to work fine, it is just the directory-based OSDs that fail.

If the dataDirHostPath matches the Directory path, we get the original error above. If the dataDirHostPath does not match the Directory path, we get this error when the osd is provisioned:
[code]

[2019-02-06 04:00] jbw976 commented on #1610
There has been recent discussion on this (related) topic for providing support for multiple network interfaces, not necessarily from the multi-tenant perspective, but from a perspective of a storage solution being able to separate it's backend (internal) traffic from its frontend (client) traffic.  This is related to this issue, but perhaps would fit better in a new issue altogether.

Recent discu

[2019-02-06 04:38] travisn commented on #2262
@subicura this is related to #2570 and is a high priority item. For a workaround, you can do the following when the operator gets stuck like this:
1. Delete the deployment for the failed mon
2. Edit the configmap `rook-ceph-mon-endpoints` and (carefully) remove the failed mon from the list
3. Restart the operator

[2019-02-06 05:08] dyusupov opened #2621 "Generic support for multi-homed Rook clusters"
**Is this a bug report or feature request?**
* Feature Request

Both EdgeFS and Ceph Rook operators will benefit from generic API to enable multi-homed network via existing Kubernetes solutions. One of them is https://github.com/intel/multus-cni.

**What should the feature do:**

Provide generic Rook API that would be called by EdgeFS and Ceph operators to enable multi-homed cluster namespaces.

*

[2019-02-06 07:37] caitlinbestler commented on #1610
The precise relationship is that there is one internal network and one or more public/client networks (ideally one for each tenant).

The reason for keeping them separate is that the lifespans of the networks are different. Internal vs external networks can be specified statically. Multiple client networks have to be created and provisioned as tenants are added or dropped, which requires more conf

[2019-02-06 07:44] #2619 closed

[2019-02-06 15:50] #2251 closed

[2019-02-06 16:00] thlassche commented on #1659
Is there an update on this?

[2019-02-06 16:40] travisn commented on #1659
@rootfs something to consider for ceph-csi, or is it already planned?

[2019-02-06 17:10] sebastian-philipp commented on #2616
if possible, Id prefer, if we have only one setting. I expect some kind of confusion when the cli and volumes module uses a different backend that the dashboard.

[2019-02-06 18:43] jbw976 commented on #1540
possibly, but i'm wondering if the right integration point should be similar to minikube, i.e. a script under `./test/scripts` instead of Makefile integration.

[2019-02-06 18:50] #2252 closed

[2019-02-06 19:14] akashkov commented on #2335
Hi,
If somebody still interested, I had similar dashboard issue for mimic. Mon nodes run mgr roles in mimic.
Apparently there are some IPv6 dependency for dashboard module, and IPv6 should be enable on mom nodes during installation/configuration. I usually disable IPv6 and as result run into dashboard and Prometheus issues. To fix an issues you need to:
1. Enable IPv6 on all monitor nodes
2. You n

[2019-02-06 23:09] meirhazonAnyVision opened #2623 "mount.nfs connection refused"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configuration:
* Rook version (use `rook version` inside of a Rook Pod):
* Kubernetes version (use `kubectl version`):
* K

[2019-02-06 23:09] meirhazonAnyVision commented on #2623
Hello,
I am using rook nfs and I am getting the following, what is the cause?

Thanks

ok-nfs-pv
Feb 6 22:19:49 ceph-2 kubelet: Output: Running scope as unit run-17427.scope.
Feb 6 22:19:49 ceph-2 kubelet: mount.nfs: Connection refused
Feb 6 22:19:49 ceph-2 kubelet: E0206 22:19:49.177344 28654 nestedpendingoperations.go:267] Operation for ""kubernetes.io/nfs/b5860e94-2a5c-11e9-85d8-42010a840fd5-ro

[2019-02-06 23:39] copejon commented on #2480
@pierreozoux
Thanks for your interest in this!  We've met with Jared last week and reached the same conclusion: a general solution belongs in a project with broader k8s visibility.  As such, I'm closing this issue (and PR) and opening another with a more in-scope focus (Rook-Ceph bucket provisioning).

This is exactly what I've been struggling with for the last few weeks.  Crossplane's approach is

[2019-02-06 23:39] #2480 closed

[2019-02-06 23:46] copejon opened #2624 "Design Proposal: Rook-Ceph Object Bucket Provisioning"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Describe the purpose and implementation of dynamic bucket provisioning in the Rook-Ceph operator.

**What is use case behind this feature:**

As a Rook-Ceph user, I can already provision object stores and object store users via the Kubernetes API.  I want to provision a bucket in an object that I've cr

[2019-02-06 23:56] meirhazonAnyVision commented on #2623
Hi, some Env info,

[root@ceph-1 ceph]# cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)
[root@ceph-1 ceph]# uname -a
Linux ceph-1 3.10.0-957.5.1.el7.x86_64 #1 SMP Fri Feb 1 14:54:57 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
[root@ceph-1 ceph]# rpm -qa|grep kube
kubeadm-1.13.3-0.x86_64
kubernetes-cni-0.6.0-0.x86_64
kubectl-1.13.3-0.x86_64
kubelet-1.13.3-0.x86_64
[root@ceph-1 ceph]# rpm -

[2019-02-07 14:02] jamstar commented on #2610
this is resolved.  ended up not being a ceph issue.

[2019-02-07 14:02] #2610 closed

[2019-02-07 14:13] jtlayton commented on #2616
Ok, let me close this out and we can look at doing that instead.

[2019-02-07 14:13] #2616 closed

[2019-02-07 14:28] sebastian-philipp commented on #2616
See http://tracker.ceph.com/issues/38223

[2019-02-07 14:42] mmack commented on #2568
Nearly the same problem here. Kubelet crashes and does not came back.

[code]

fdisk states it's not full:
[code]

Version infos:
[code]

[2019-02-07 14:59] mmack commented on #2568
For the record, i ran a fscheck over the device, and it was corrupted. After repairing it it works again:

[code]

[2019-02-07 15:06] LittleFox94 commented on #2568
It works for me if the volume is not mounted before kubelet starts, may that be the same for you?

[2019-02-07 15:07] mmack commented on #2568
Yes same here...

[2019-02-07 15:07] LittleFox94 commented on #2568
I suspect fsck only helped because of the side effect of unmounting the fs, hence my question. Is this possible?

[2019-02-07 15:10] mmack commented on #2568
Got you, good point. Restarting kubelet again does not work. Same error again:

[code]

umount the device and kubelet comes up again.

[2019-02-07 16:21] copejon commented on #2624
cc @jvance @eboyd @liewegas @travisn @jbw976

[2019-02-07 18:11] KaelBaldwin commented on #2447
I'm having the same issue as @daohoangson described after setting it up via the helm chart v9.2

trying to do his workaround

[2019-02-07 20:39] yanchicago opened #2626 "The Helm chart upgrade from 0.8.3 to 0.9.2 failed on the ceph operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The scenario is as below.
a). Install ceph-cluster with version v0.8.3. And verify the rook-ceph cluster is healthy.
b). Create and update the resources

# kubectl create -f ./upgrade-from-v0.8-create.yaml
# kubectl replace -f ./upgrade-from-v0.8-replace.yaml
# kubectl -n $ROOK_NAMESPACE patch rolebind

[2019-02-07 20:53] KaelBaldwin commented on #2447
I'm not sure if it was adding this:

[code]

to the rules section of the rook-ceph-global clusterrole, or if it was just the act of remove the mentioned daemonset and then resetting the operator, but it's working for me now.

[2019-02-07 20:56] Capitrium commented on #2590
@batrick doesn't look like increasing the memory limit to 16GB made any difference. The actual memory used by the MDS containers during the load test isn't anywhere near 16GB either. 😕

I've been working on this for most of this week, here's what I've found so far:
- CoreOS instances use `systemd-timesyncd` for synchronizing system clocks by default, which apparently is not accurate enough and fre

[2019-02-07 20:57] ssube commented on #2514
The device classes appear to be usable with the current version of rook, provided that the block pool uses a custom crush_rule (where rook will not reset the class). The rule only needs to differ on the class:

[code]

Then `ceph osd pool set home-rust crush_rule home-rust-class` will associate the pool (all run from the toolbox). This method seems to survive operator restarts, although I have not

[2019-02-07 21:08] hongkailiu opened #2627 "s3cmd: 403 (InvalidAccessKeyId)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I am trying to follow [ceph-object doc](https://rook.io/docs/rook/v0.9/ceph-object.html).

[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configuration: AWS
* Ro

[2019-02-07 21:09] hongkailiu commented on #2627
Repo commit:

[code]

[2019-02-07 21:14] travisn commented on #2627
@hongkailiu DNS may not be working in the pod. Can you try the endpoint instead? For example:
[code]

[2019-02-07 21:19] hongkailiu commented on #2627
@travisn Thanks for the reply.

How can I verify which user is allowed from the ceph sever side?

[code]

[code]

[2019-02-07 21:34] alfredodeza opened #2628 "cluster FSID is not defined in mgr pod"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** the cluster FSID is not defined in mgr pods

**Expected behavior:**

**How to reproduce it (minimal and precise):** Dumping the /etc/ceph/ceph.conf will show that there is no fsid defined in the global section

**Environment**:
* OS (e.g. from /etc/os-release): minikube v0.33.1
* Kernel (e.g. `uname -a

[2019-02-08 02:39] #2487 closed

[2019-02-08 10:18] leseb opened #2632 "Ceph version management with Rook version"
Since I've started my work on implementing msgr2 support in Rook (https://github.com/rook/rook/pull/2559), I add to implement a Ceph version check, to perform certain operations whether we run Nautilus and above or earlier versions.
Currently Rook support Luminous, Mimic and Nautilus (let's say partially)

The exceptions are going to grow over time, that's a given. The more they grow the more comp

[2019-02-08 13:23] leseb commented on #2627
From any mon container pod you can run `radosgw-admin user list`. This way you'll see the S3 users.

[2019-02-08 15:09] jarrpa commented on #2461
I'll take a crack at this. It may take me a while, so please let me know if this becomes more urgent / higher priority.

[2019-02-08 15:45] travisn commented on #2632
Great discussion to start. My initial thoughts on this would be:
- The latest two releases of Ceph are supported.
- Example yamls would use the latest supported release
- We need a transition release when we stop supporting a version. For example, this means in v1.0 we stop supporting Luminous, but since users upgrade Rook before updating Ceph, we still need supporting code in 1.0 for Luminous.

T

[2019-02-08 16:47] travisn opened #2634 "Rook should use aggregated roles to improve upgrades"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
During the upgrade between releases of Rook, we have to remove and create new Roles/ClusterRoles whenever there is an RBAC setting that changes, whether rook needs a new privilege or a privilege changes to a new api object, etc. Rook can use [aggregated roles](https://kubernetes.io/docs/reference/access

[2019-02-08 23:18] Bessonov commented on #2632
Just an offtopic comment from a beginner rook user: please, don't support everything. Please support less, but well. I've experienced multiple troubles and instability of rook on my test cluster and sometime I just throw away and setup rook again, because nothing worked. I definitely don't welcome support of CockroachDB (although I'm on the way to migrate to it), cassandra and others. I really wis

[2019-02-09 00:37] travisn commented on #2632
@Bessonov Did you find if there are issues tracking the problems you hit? We are certainly very interested in fixing the issues that have caused you to restart the cluster, whether it is better documentation for new users, or other fixes.

From my view, we wouldn't provide official support for experimental releases. It is really only allowed for the development community to test the upcoming versi

[2019-02-09 02:43] ssube commented on #966
I'm trying to do this as well, specifically `rbd map`ping to some of the cluster hosts. The problem I'm facing is the unpredictable IPs used by the mon services and pods after they restart, so any updates break volumes elsewhere.

I tried creating a set of services to route traffic to the mons on predictable addresses:

[code]

But running `rbd` commands prints this error:

[code]

and `dmesg | ta

[2019-02-09 06:53] travisn commented on #966
@ssube I would recommend the following configuration to get this working:
- In operator.yaml set `ROOK_MON_OUT_TIMEOUT` to something really large. This way the mons will never be automatically failed over and you can maintain the same set of mons.
- In cluster.yaml set `hostNetwork: true`, which will give the mons the IP of the host machine

[2019-02-09 10:05] christianhuening opened #2635 "Add more detailed documentation on how to use CRUSH location setting"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add more detailed documentation on how to use CRUSH location setting

**What is use case behind this feature:**
I tried to setup cross dc replication via the CRUSH location field and found it hard to gather how to achieve this with rook

**Environment**:

N/A

[2019-02-09 11:33] galexrt commented on #2261
@aisensiy @hydratim What `replicated.size` are you using in your CephBlockPool?

[2019-02-09 12:00] #2635 closed

[2019-02-09 13:40] aisensiy commented on #2261
Mine is `2`

[2019-02-09 13:53] ksingh7 commented on #2612
Hitting the exact same issue with OCP 4.0

[2019-02-09 13:59] Bessonov commented on #2632
@travisn I see multiple strange things, but it can be a miss-configuration from my side. Just ignore it for now. Now I have much less movement in my cluster and will take care of such things :+1:

[2019-02-09 14:01] ksingh7 commented on #2612
@JohnStrunk  is there a way I can apply this as a hotfix to my existing OCP 4.0 cluster? If yes can you give me some pointers on how to do that?

I have deployed my cluster using

[code]

[2019-02-10 07:26] christianhuening commented on #1627
Hey, I just ran into this with Rook 0.9.2 and Ceph 13.2.4. So assuming i am already using `ceph-volume` as this cluster was created with Rook 0.9.1. I had to remove and re-add all of my nodes one-by-one and then for the last 2 of them this error happened.

How is this recoverable?

[2019-02-11 05:44] #1364 closed

[2019-02-11 05:44] #756 closed

[2019-02-11 05:44] #1116 closed

[2019-02-11 05:44] #1886 closed

[2019-02-11 05:44] #1495 closed

[2019-02-11 15:30] darcyllingyan opened #2639 "rook-toolbox container couldn't be started"
Hi,
I install the rook-ceph with version v0.8.3.
Now the rook pod are started:
[code]

The ```rook-ceph-tools                                   1/1     Running     0          14m``` is Running, but the toolbox container isn't started.
After check the rook-ceph-tools:
[code]
Seems it reports the ```configmap "rook-ceph-mon-endpoints" not found```, but the configmap has been created.
[code]

Anyone

[2019-02-11 15:38] hongkailiu commented on #2627
Tested with a new cluster. Seems everything working now. Not sure what happened to the cluster last week.

Two minor items need to be confirmed:

* `${AWS_HOST}.svc.cluster.local:8080` works while `${AWS_HOST}:8080` not
*  `radosgw-admin user list` works in the tool-box pod while not in the mon pods.

[code]

[2019-02-11 15:48] #2627 closed

[2019-02-11 16:14] gnufied commented on #2612
I somehow missed this issue. Sorry about it.  I have updated the BZ - https://bugzilla.redhat.com/show_bug.cgi?id=1667606 with some more details.

Basically, `/etc/kubernetes/kubelet-plugins/volume/exec` is new location for flexvolume plugins in RHCOS.  Kubelet, apiserver and controller-manager has been configured with this location.

[2019-02-11 16:16] gnufied commented on #2612
You can verify that kubelet and controller-manager is using this location by inspecting their configuration on the nodes.

[2019-02-11 16:45] whereisaaron commented on #2005
Still an important issue

[2019-02-11 17:40] #2411 closed

[2019-02-11 18:54] travisn commented on #2639
@darcyllingyan If you delete the toolbox and create it again, does it work? If the toolbox is started before the mons are running, it may hit this error. Could you try starting a cluster from the release v0.9.2 instead of v0.8.3?

[2019-02-11 19:08] travisn commented on #1347
This is already implemented for mons and mgr, and other daemons in progress by @BlaineEXE

[2019-02-11 20:54] allen13 commented on #2632
Here's quick example of a multi-version support bug caused by the complexities of detecting versions via a kubernetes job:

2019-02-11 20:38:53.679468 I \| op-k8sutil: Removing previous job rook-ceph-detect-version to start a new one
--
  | 2019-02-11 20:38:53.691917 I \| op-k8sutil: batch job rook-ceph-detect-version still exists

Fix:
kubectl delete jobs --all -n rook-ceph
job.batch "rook-ceph-d

[2019-02-12 00:52] #2595 closed

[2019-02-12 01:01] darcyllingyan commented on #2639
@travisn  Thanks very much for the response.
I delete the toolbox and crate it again, there isn't the mount error, but the toolbox container still isn't started.
[code]
When use ```docker ps|grep tool```, no container is shown.

As now the project we use

[2019-02-12 01:02] travisn opened #2640 "Multiple OSDs per device should only apply to fast device types"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The setting `osdsPerDevice` is only expected to be greater than 1 for fast devices such as NVMe. This setting will currently be applied to all devices at the scope of the setting. This would be much improved if we only applied this setting to fast devices.

[code]

The rook discovery pod retrieves prope

[2019-02-12 01:16] darcyllingyan commented on #2639
The toolbox is started in another node in the cluster, my fault. The issue could be closed.

[2019-02-12 01:16] #2639 closed

[2019-02-12 08:37] leseb opened #2641 "Flex driver permissions errors"
It looks like the RBAC needs to be updated on 1.13. However CSI is coming with 1.13 so perhaps we would let this as is and switch to CSI on 1.13.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

[code]

**Expected behavior:**

Correct access to ressources.

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-rel

[2019-02-12 10:00] GanKanTechnology opened #2642 "How to migrate the whole pvc provided by rook to another server?"
Hi guys, as the topic says,
I have two k8s clusters which both based on rook.io, if I want to copy the whole pvc from one k8s cluster to another, how to do that , do you have any idea please?

[2019-02-12 10:17] galexrt commented on #1540
A script like `minikube.sh` would certainly be a good idea as one doesn't have to remember the commands then.
@jbw976 @travisn is that fine with you?

[2019-02-12 11:36] mykaul commented on #1540
I wonder if we can use Kubespray or some similar standard way to deploy K8S, then add on top of it Rook?
It has already Vagrant support (https://github.com/kubernetes-sigs/kubespray/blob/master/Vagrantfile) for example.

[2019-02-12 15:44] #2262 closed

[2019-02-12 15:45] BlaineEXE opened #2643 "Ceph mon should do cleanup before starting deployment"
When the operator creates a mon on a node, it could run a job on that node to erase the contents of the data dir which the upcoming pod is going to use. This would solve the issue of mons failing due to the dataDirHostPath not being cleaned up properly, and it still leaves all control to the operator.

_Originally posted by @BlaineEXE in https://github.com/rook/rook/pull/2631/review_comment/create

[2019-02-12 15:48] jtlayton opened #2644 "cephnfs object does not respond to changes in "active" count"
If I create a cephnfs object with the active count set to 1 then I'll get a single daemon. If I then increase the spec.server.active count, new nodes are not started.

If I then kill off the operator (a'la kubectl delete pod), then when it's restarted it will fire up the other servers.

[2019-02-12 15:49] jtlayton commented on #2505
FWIW, the patches for this have been merged into ganesha for v2.8, and the following PR should make rook add the necessary directive to its config file:

https://github.com/rook/rook/pull/2615

[2019-02-12 15:50] batrick commented on #2590
This would indicate one or more of the clients may be buggy because it's not releasing its capabilities. The other possibility is that the MDS cache size isn't being configured correctly. Can you check that output of `ceph tell mds.* config get mds_cache_memory_limit`?

That could be related but wouldn't explain your issues on 1 active MDS. You can try upgrading to 12.2.11.

[2019-02-12 21:10] hongkailiu commented on #2612
I used the latest OCP 4.0 build. The problem is still there.

[code]

Seems the new location is picked by k8s but somehow rook does not. @gnufied let me know what I missed.

[code]

[2019-02-12 21:11] jtlayton opened #2645 "scaling up ceph mon count doesn't always work"
I've been using the files under cluster/examples/kubernetes/ceph to bring up rook clusters, and I've found that sometimes when I try to scale out the mon count after starting the cluster, it doesn't work.

Start by modifying the files under cluster/examples/kubernetes/ceph to start only a single monitor and a manager daemon. Set useAllNodes and useAllDevices to false so that no osd is created. Sta

[2019-02-12 21:18] gnufied commented on #2612
@hongkailiu yeah it looks like, rook is still trying to install the flexvolume plugin in old location. This has to be fixed by rook or rook configuration, so as it can pick updated location.

[2019-02-12 21:22] jtlayton commented on #2645
@travisn asked for the operator log:

[operator-log.txt](https://github.com/rook/rook/files/2857711/operator-log.txt)

[2019-02-12 21:24] hongkailiu commented on #2612
@travisn Can you help to proceed? Thanks.

[2019-02-12 21:34] travisn commented on #2612
@hongkailiu Can you try setting the `FLEXVOLUME_DIR_PATH` in operator.yaml? See the [flexvolume config](https://rook.io/docs/rook/v0.9/flexvolume.html) topic for more details.

[2019-02-12 21:44] jtlayton commented on #2645
Debug level logging. Looks like the health check ran a couple of times after I edited the mon count:

[operator-debug.txt](https://github.com/rook/rook/files/2857795/operator-debug.txt)

[2019-02-12 21:48] travisn commented on #2645
The changing value from 1 to 3 seems to be lost by the health monitoring goroutine. The critical part of the log:
[code]

[2019-02-12 22:07] hongkailiu commented on #2612
@travisn cool. Thanks.
How did I miss it. Stupid me.

[2019-02-12 22:11] travisn commented on #2612
No worries, there are too many details like this buried in the docs. If only K8s would let us detect this...

[2019-02-12 23:37] lbogdan commented on #2641
I've been playing with rook on `1.11.3` for a few days, and everything's seems to be working fine so far.

[2019-02-13 01:13] noahdesu commented on #1540
@mykaul i spent a full day trying to get kubespray to work with vagrant and filed / updated new tickets. https://github.com/galexrt/k8s-vagrant-multi-node worked for me on fc29 out of the box.

[2019-02-13 04:43] jbw976 commented on #1540
yes @galexrt, i'd be supportive of a script like that for the multi-node setup.

@mykaul, the k8s-vagrant-multi-node project uses `kubeadm` to create/init the k8s cluster, which I believe to be a very standard way now.

[2019-02-13 11:43] umangachapagain commented on #2530
Not experienced with Cassandra monitoring or cassandra-exporter, but with little experience that I have on monitoring with Prometheus & Grafana,  `cassandra-exporter` seems like a safe bet on long term.
Alerting and Dashboards can be maintained as a separate project and can mature parallel to the exporter.

This is the way [kubernetes-mixin](https://github.com/kubernetes-monitoring/kubernetes-mixi

[2019-02-13 14:32] brian-maloney commented on #1584
@travisn I just recently manually configured Rook for multisite successfully using the ceph docs (and lots of radosgw-admin commands from the toolbox).  The RGWs needed NodePort and Ingress set up so they could communicate with each other in my config since they were in different clusters.

The trick besides manual config per the ceph docs was to exec into the rgw instance and edit /etc/ceph/ceph.

[2019-02-13 14:49] hongkailiu commented on #2612
oh yeah!

[code]

[2019-02-13 14:49] #2612 closed

[2019-02-13 14:58] galexrt commented on #1584
@brian-maloney The manual changes to `ceph.conf` should be overriden by the init container(s) right now at Pod "restart" (e.g., when Kubelet is recreating Pod, normal Pod deletion).
Have you tried to use the Rook Ceph Custom Config override https://rook.io/docs/rook/v0.9/advanced-configuration.html#custom-cephconf-settings ?

[2019-02-13 15:31] #1385 closed

[2019-02-13 15:56] brian-maloney commented on #1584
@galexrt Yep, that did the trick!  Thanks for the hint, I'm new to Rook and haven't read all the docs yet.  Now I can scale my RGW deployment down to 0 and back up and the RGWs come back up and sync resumes automatically.

[2019-02-13 18:10] hongkailiu opened #2648 "Add `s3cmd` into rook-ceph-tools image"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add `s3cmd` into rook-ceph-tools image.

Current workaround:
[code]

**What is use case behind this feature:**
On OCP 4.0, since we usually do not have network access on the jump node (a node where oc-client works) to svc `rook-ceph-rgw-my-store` or pod's (ip and port), eg, `172.30.178.33:8080`, we need

[2019-02-13 18:24] travisn commented on #2648
@hongkailiu Until the 0.8 release, rook actually produced a separate image for the toolbox that contained s3cmd. Since 0.9, the toolbox now just uses the same image as the rook operator so we aren't able to add other tools to the image that aren't core to the functionality of rook and ceph. You might consider running a different container for s3cmd instead of the toolbox. Searching dockerhub I see

[2019-02-13 19:12] hongkailiu commented on #2648
@travisn
I actually containerized `m3cmd` already.
Just thought it would be more convenient if tool box has it by default.

[code]

Thanks for the reply.

Last try, object storage is part of ceph and s3cmd is the client to test its function. :)

[2019-02-13 19:21] #2648 closed

[2019-02-13 21:10] rootfs opened #2649 "Ceph CSI feature parity: support mon failover"
**Is this a bug report or feature request?**
feature request

* Feature Request

**What should the feature do:**
Support mon failover. Ceph csi supports embedding mon in Secret. Rook operator can update monitors in the Secret.

**What is use case behind this feature:**

**Environment**:

[2019-02-13 21:18] rootfs opened #2650 "Ceph CSI feature parity: StorageClass"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

New CSI StorageClass that is compatible with existing Rook Block/File StorageClass. Rook operator can have its own provisioner that is able to resolve Pool and Filesystem CRD in StorageClass.

**To do**:
- [ ] Support for different metadata and data pools in RBD StorageClass (#3763)

[2019-02-13 21:19] rootfs opened #2651 "Ceph CSI feature parity: client-go"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Switch CSI driver from template to client-go. Once CSI stabilizes, Rook can switch to client go instead of templates.

**What is use case behind this feature:**

**Environment**:

[2019-02-13 23:02] travisn commented on #2641
@leseb It looks like you're adding [this line](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L283) in operator.yaml that was added recently in master. Do you not see it in your deployment?

[2019-02-13 23:09] travisn commented on #2594
@fanux When using host network, it is only supported to run one mon on each node. With host networking you will either need to use 1 mon as you saw working, or have at least three nodes for 3 mons.

[2019-02-13 23:09] #2594 closed

[2019-02-13 23:50] travisn commented on #2588
@terrykong To work around this, could you try restarting the operator pod? It should go through the orchestration again fully at that point.

[2019-02-13 23:54] travisn commented on #2581
@zerkms Since #2631 is merged now, can you try again if you have a test cluster available to run the latest master build? I believe this would be fixed now.

[2019-02-13 23:59] travisn commented on #2558
@dimthe I see in your cluster CRD you're setting the device name to be `/dev/loop0`. Rook actually needs to consume raw devices such as `sda` rather than a loopback. The devices cannot have any partitions or formatted filesystem either. Do you have a device to try that? You also don't need to specify the `/dev` prefix, so it would look like this in the CRD:
[code]

If you don't have a raw device,

[2019-02-14 00:01] travisn commented on #2545
@sebastian-philipp should this issue be open in the ceph repo to track with the mgr modules?

[2019-02-14 00:01] dimthe commented on #2558
hello

i did not have other devices to try that . These are virtual machines  and i ended up using a directory path for storage and all is good

[2019-02-14 00:01] #2558 closed

[2019-02-14 00:03] travisn commented on #2542
@ramkiperiy I believe this is now fixed by #2631. Please reopen if you're able to repro when you have that fix.

[2019-02-14 00:03] #2542 closed

[2019-02-14 00:03] zerkms commented on #2581
@travisn oh, awesome. It was assessing/trialing rook+k8s. At the moment the test cluster is destroyed, but I'm going to run another attempt soon and I added a note to check it

[2019-02-14 00:03] zerkms commented on #2581
I will close it, and reopen with details if necessary.

Thank you :-)

[2019-02-14 00:03] #2581 closed

[2019-02-14 00:13] travisn commented on #2378
Fixed by #2631

[2019-02-14 00:13] #2378 closed

[2019-02-14 00:26] travisn commented on #2327
@sprdeepesh I believe this will be covered by #2208. Please reopen if there is another scenario missed.

[2019-02-14 00:26] #2327 closed

[2019-02-14 00:29] travisn commented on #2300
@dylanzr I believe this would be covered by #1125. Please reopen if this is not the case.

[2019-02-14 00:29] #2300 closed

[2019-02-14 00:35] travisn commented on #2570
#2631 is expected to fix this. Please reopen if you see any hint of this behavior again.

[2019-02-14 00:35] #2570 closed

[2019-02-14 00:37] travisn commented on #2238
With the merge of #2580 I believe we're well past this issue

[2019-02-14 00:37] #2238 closed

[2019-02-14 00:38] immesys commented on #2570
Thank you for fixing this. I'll give it a try as soon as containers are built

[2019-02-14 00:41] travisn commented on #2197
@airdos360 @pennpeng Is it intended to have four mons running? Typically there would only be three. Perhaps #2631 will help resolve this issue. If you're still having troubles with this, please reopen.

[2019-02-14 00:41] #2197 closed

[2019-02-14 00:41] dimm0 commented on #2221
Still suffering from it. Cluster is never 100% healthy

[2019-02-14 05:15] travisn commented on #2613
The upgrade is not transactional, so it is difficult to reverse an upgrade once it has started. Have you seen an issue with upgrade where it was necessary to stop and roll back? If so, I'd like to understand what went wrong so we can improve the upgrade.

[2019-02-14 05:19] travisn commented on #2623
@meirhazonAnyVision It appears the ceph cluster was not initialized correctly, so you will not be able to mount the storage until it is healthy. Your main symptom is that the only pods running in the `rook-ceph` namespace are the mons. [This help topic](https://rook.io/docs/rook/master/common-issues.html#monitors-are-the-only-pods-running) may help explain why the mons are not forming quorum. Afte

[2019-02-14 07:45] #2276 closed

[2019-02-14 08:39] nehaberry opened #2654 "ceph status reports OSD "down" even though OSD process is running in the pod"
**Description:**
After full cluster restart, even though all the rook-ceph pods are UP, ceph status reports one particular OSD( here OSD.1) as down. It is seen that the OSD process is running.

**Following is the log seen in the OSD node**
[code]
**Ceph-conf**
[code]

**Expected behavior:**
If the OSD process & pod is UP, cluster should not report that OSD as DOWN.

Note: The workaround mentioned

[2019-02-14 09:07] elvinasp commented on #2517
Guidance is needed as simple host shutdown results in race conditions and errors/forced process kills at host level due to libceph is not able to connect to OSD pod (which is already long gone at that time). Not sure how those are critical, i.e. if there would be any data to write to disk or not, however killing an established network session does not look nice.

[2019-02-14 10:34] #2593 closed

[2019-02-14 10:41] leseb commented on #2641
Thanks @travisn my `operator.yaml` was missing this.

[2019-02-14 10:41] #2641 closed

[2019-02-14 13:59] lbogdan commented on #2650
I'm a bit confused of how would that work, though. Will rook provision PVs backed by RBD images (which it already does, for `StorageClass`es with `provisioner: ceph.rook.io/block`, so will it also do it for `provisioner: csi-rbdplugin`? If yes, how would you tell the CSI RBD provisioner to ignore those? Or you wouldn't run the CSI RBD provisioner at all?), instead of the ceph CSI plugin?

[2019-02-14 14:34] leseb commented on #2648
@hongkailiu FYI this image has s3cmd as well ceph binaries: https://cloud.docker.com/u/ceph/repository/docker/ceph/daemon

[2019-02-14 15:12] hongkailiu commented on #2648
@leseb thanks for reply.
I got 404 on the link.
BTW, Is the image you pointed out deployable by rook in some way? Or it is some container as part of rook-ceph already? I will look into this today.

[2019-02-14 15:27] leseb commented on #2648
Oops that was the private link sorry, here is the public view: https://hub.docker.com/r/ceph/daemon
Yes, you can use it in Rook, change your `cluster.yaml` with `ceph/daemon:latest-master` (for Nautilus dev) or `latest-{luminous,mimic}` tag.

[2019-02-14 15:54] hongkailiu commented on #2648
OK. Thanks. @leseb
Is it changing the content of [L164](https://github.com/rook/rook/blob/release-0.9/cluster/examples/kubernetes/ceph/cluster.yaml#L164)?
`image: ceph/ceph:v13.2.4-20190109` to eg, `image: ceph/daemon:latest-luminous`?

[2019-02-14 15:55] leseb commented on #2648
@hongkailiu Yup!

[2019-02-14 16:55] yan636 commented on #2613
In production, the rook-ceph will be upgraded with other application. If the application fails and needs to be backed out, rook-ceph has to be backed out as part of the release.

[2019-02-14 17:10] Rizbe opened #2659 "osds-per-device setting to 0"
**Is this a bug report or feature request?**
* Bug Report

* Issue
rook-ceph-osd-prepare fails

[code]

osd per device is set correctly
[code]

[code]

Setting the osd device to 0
[code]

**Environment**:
* Cloud provider or hardware configuration: AWS
* Rook version: ceph/ceph:v13
* Kubernetes version (use `kubectl version`): v1.10.12
* Kubernetes cluster type (e.g. Tectonic, GKE, OpenShift): KOP

[2019-02-14 17:13] BlaineEXE commented on #2208
I believe @shaas has been working on this issue and has a PR nearing ready.

[2019-02-14 17:49] #2443 closed

[2019-02-14 18:01] leseb commented on #2208
@BlaineEXE great! We were just discussing this with @travisn earlier today :-).

[2019-02-14 18:59] MaZhuoFan commented on #2486
Hi, I'm new to open source. Is it okay if take this issue? I want to get better at Go and programming in general and contribute to the community at the same time.

[2019-02-14 20:56] colonwq opened #2660 "Deleting CephObjectStoreUser does not delete secret"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Deleting the CephObjectStoreUser does not delete the generated secret.

**Expected behavior:**
The generated secret should be deleted.

**How to reproduce it (minimal and precise):**

$ kubectl create -f operator.yaml
$ kubectl create -f cluster.yaml
$ kubectl create -f toolbox.yaml
$ kubectl create ob

[2019-02-14 22:37] travisn commented on #2654
@nehaberry Since the heartbeats are failing from osd.1 to connect to osd 0 and 2, there is some network connectivity issue. The logs from osd 0 and 2 likely show that they cannot connect osd.1 and therefore are reporting it as down. Do you see that in the other osd logs as well?

If you restart the osd.1 pod, does it start working again or is it permanently in this state?

A potential improvement

[2019-02-14 23:25] #2601 closed

[2019-02-15 04:32] kc004 opened #2662 "Documentation update in Flexvolume config Rancher"
You can see extra_binds flag is in the extra_args but actually, it is outside of exta_args.

[https://rook.io/docs/rook/v0.9/flexvolume.html#rancher](https://rook.io/docs/rook/v0.9/flexvolume.html#rancher)

Actual configuration:

<pre><code>extra_args:
  volume-plugin-dir: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
extra_binds:
  - /usr/libexec/kubernetes/kubelet-plugins/volume/exec:/usr/

[2019-02-15 05:09] luxcn commented on #1169
Yeah, i need too.

[2019-02-15 05:21] jbw976 commented on #2443
Did we want to backport this to 0.9? I'm thinking that perhaps we can just wait until 1.0 (late march timeframe) unless @yanniszark or @galexrt have a strong desire to backport to 0.9.

[2019-02-15 10:30] leseb opened #2663 "Q: why are 'rook ceph' CLI args hidden?"
In the `rook ceph`CLI, all the flags are hidden, is there any particular reason behind that?
Making flags visible could help curious user who don't want to look at the Cobra code.

[2019-02-15 10:32] leseb opened #2664 "ceph processes must run as 'ceph' user not 'root'"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Ceph processes must run as 'ceph' instead of 'root'.

**Expected behavior:**

Ceph processes running as 'ceph'

**How to reproduce it (minimal and precise):**

Deploy a minimal cluster, go inside pod, run `ps aux` and notice the ceph daemon running under 'root'.

[2019-02-15 11:34] yanniszark commented on #2443
@jbw976 I'd prefer backporting this to v0.9.
It is a simple bug with annoying consequences, so the quicker we fix it the better.

[2019-02-15 12:03] #2545 closed

[2019-02-15 12:18] yanniszark commented on #2530
@umangachapagain thanks for the input!
`cassandra-exporter` seems promising indeed, we could try to integrate it.

An outline of the changes for this feature is:
1. Add `cassandra-exporter` plugin in the operator image (`images/cassandra/Dockerfile`).
2. Add `cassandra-exporter` as a javaagent (`-javaagent:<plugin-dir-name>/cassandra-exporter.jar=--listen=:9180`) in [the sidecar's config setup cod

[2019-02-15 12:58] Ludea opened #2665 "Storageclass with minio"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Create StorageClass when deploying Minio operator

**What is use case behind this feature:**
I need storageclass with other plugin (KubeDB)

**Environment**:

Minio as backend store

Storageclass already existe for ceph :
https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/ec-stora

[2019-02-15 14:45] travisn commented on #2663
This dates back to the original version of rook when we had a cmd line tool `rookctl` and we wanted to make it clear that the flags for running daemons weren't intended to be run. But now that we expect users to do everything with kubectl or ceph tools, I'd say it would be fine to show all the args. Only developers would be expected to view them and it would certainly be more convenient.

[2019-02-15 15:56] leseb commented on #2663
Sounds good let make them visible for developers then :).

[2019-02-15 16:15] copejon opened #2666 "Update cluster/examples (Cluster)Roles apiGroups"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
ClusterRoles and Roles under [./cluster/*](https://github.com/rook/rook/tree/master/cluster/examples) should be updated to reflect latest K8s API.  Currently the `apiGroups` is set to `extensions`; should be `apps`.

Attempting to create these resources results in the respective operator failing to sta

[2019-02-15 16:21] travisn commented on #2659
This issue will happen when `deviceFilter:` is set in the CRD. In your case, it was `deviceFilter: nvm`.

When the filter is applied to the devices, the OSDsPerDevice setting is not applied and remains set as 0. I am not seeing a workaround other than not using the device filter until we release a build with this fix.

[2019-02-15 16:50] Rizbe commented on #2659
I will comment out device filter and try again

[2019-02-15 17:17] leseb commented on #2664
https://github.com/ceph/ceph/commit/8f3185bade4b67876ca305e2ce9238626796fb11

[2019-02-15 17:25] Rizbe commented on #2659
I removed that and now seeing
[code]

[2019-02-15 17:26] Rizbe commented on #2659
also to be safe, started with a new cluster

[2019-02-15 17:28] Rizbe commented on #2659
[code]

Above is the operator + cluster manifest I have applied

[2019-02-15 17:54] travisn commented on #2659
After removing the device filter, to configure the OSDs you'll need to set either `useAllDevices: true`, or list individual devices on each node by name. For example something like this:
[code]

However, I see that in the osd prepare log there is an error that the nvme0n1 is not a valid device. Can you show the output for `lsblk` on the node or see why it's not considered a raw device?

[2019-02-15 19:51] Rizbe commented on #2659
[code]

[2019-02-15 20:01] hongkailiu opened #2667 "Bulk PVC creation failed for sc `rook-ceph-block`"
**Is this a bug report or feature request?**
* Bug Report

[code]

The number of PVCs stops at 34, 41, 237 on 3 different clusters (wait at least 20 minutes).

When `export sc_name=cephfs`, it works for 300.

**Deviation from expected behavior:**

**Expected behavior:**
All 300 PVCs should be created successfully in a reasonable time.

**How to reproduce it (minimal and precise):**

**Environment*

[2019-02-15 22:10] travisn commented on #2659
Ok, those basic properties look like they should be ok.

As a workaround to the issue with 0 osds per device, you could still use a device filter if you set the ceph image to a slightly older version where rook does not support ceph-volume. It would be set in the [cluster.yaml](https://github.com/rook/rook/blob/release-0.9/cluster/examples/kubernetes/ceph/cluster.yaml#L164), such as:
[code]

[2019-02-16 00:40] travisn commented on #2659
Another issue I found in this investigation is that the deviceFilter is sometimes ignored. If there are any devices found by the discovery pod, the list of available devices will be used and the filter will be ignored. `discover.GetAvailableDevices()` is being called from osd.go and does not take the filtering into account. The problem is that we are evaluating the desired devices in two places: t

[2019-02-16 01:05] ksingh7 opened #2668 "rook-ceph stuck in Terminating state : unable to delete"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]
[code]
[code]
[code]
I have also gone throuth the comments https://github.com/rook/rook/issues/1488#issuecomment-397336663 however i do not have resources to run the patch command

[code]
[code]
**Expected behavior:**

Should be able to delete ``rook-ceph-system`` namespace

**How to reproduce i

[2019-02-16 01:07] ksingh7 commented on #2668
Hi @travisn  i tried following your comment  https://github.com/rook/rook/issues/1488#issuecomment-397336663  but i do no have CRD and resources to patch this, so i am unable to delete ``rook-ceph-system`` namespace

[2019-02-16 01:20] travisn commented on #2668
@ksingh7 Where does the `kubernetes` finalizer come from? Rook doesn't create it. OpenShift must be adding it. As a workaround you should be able to remove the finalizer manually by editing the namespace.

[2019-02-16 01:36] ksingh7 commented on #2668
@travisn  you might be correct. kubernetes finalizer must be added by openshift, but i don't know how it did that. I just ran ``scc.yaml`` and ``operator.yaml`` files and after that i tried to delete the namespace.

Anyways, can you help me how to delete that manually. As of now i tried the following steps

[code]
[code]
- Removed ``kubernetes`` finalizer
[code]
- Login with system:admin
[code]
[c

[2019-02-16 01:38] ksingh7 commented on #2668
BTW i followed this method https://github.com/kubernetes/kubernetes/issues/19317#issuecomment-180003984

[2019-02-16 04:30] devthane commented on #1754
I had this same issue happen recently on 0.9, but I'm not sure what caused it, maybe my own mistake?

Anyways just recreating the cluster wasn't an option for me (that I liked).
Instead deleted the OSD and MON deployments that were set to run on the affected node.
I then removed the rook related directory (/var/lib/rook) and I also ran wipefs -a on the drive that was affected.
Finally I deleted th

[2019-02-16 04:38] devthane commented on #1754
I did a quick reboot and everything started up fine...

[2019-02-16 16:08] MiticoBerna commented on #2492
I've tried to configure ingress with traefik and, me too, I still get Internal Server Error.
With nodeport works.

As @travisn suggest, I've put `hostNetwork:true` but still doesn't work with ingress.

rook: `v0.9.2`
ceph: `v13.2 (latest)`
EKS 10.11.5

[2019-02-17 05:48] voron commented on #1228
/removestale

[2019-02-17 10:49] unsubtleguy commented on #2514
Adding a question/ I just got bitten by this :laughing: :

Under https://github.com/rook/rook/blob/master/Documentation/advanced-configuration.md#separate-storage-groups it doesn't warn users regarding this behaviour - and OSDs will be re-added to the crush-root rather than any modifications.

Should a warning be added for the interim to the documentation?

[2019-02-17 16:03] kfox1111 commented on #2123
Why is an admin key being used for mount? Shouldn't it be a user key?

[2019-02-17 21:57] #2255 closed

[2019-02-17 23:02] eknudtson commented on #2568
We ran into this with elasticsearch pods using rook/ceph RBD backed storage.  Our current workaround is to increase the `fs.inotify.max_user_instances` and `fs.inotify.max_user_watches` sysctls.

[2019-02-18 01:57] #2281 closed

[2019-02-18 07:45] hansbogert opened #2669 "Operator refuses to start after k8s node restart"
* Bug Report
After restarting a k8s node, the operator was restarted, but crashes, as can be seen by `kubectl get --all-namespaces pods`

**Deviation from expected behavior:**
Operator crashes. Operator show the following log:

[code]

Problem seems to be that the operator suddenly uses the wrong IP to address the k8s master, to my knowledge, I haven't changed anything regarding IPs and such. The

[2019-02-18 08:34] leseb commented on #1841
/keepalive

[2019-02-18 12:38] nehaberry commented on #2654
@travisn thet setup has been up for quite a few days. A reboot of the osd pod did bring the OSD back "IN" but after some time, same issue was observed.

[2019-02-18 15:54] mmack commented on #2632
Exact same thoughts here...  Ceph is a beast at it's own, just look at the open issues: 5 cockroach, 7 cassandra and 212 ceph.

[2019-02-18 16:44] jbw976 commented on #1788
/keepalive

[2019-02-18 16:51] yan636 opened #2670 "Need updated scale down procedure for v0.9.3 ( i.e., delete a to-be-deleted osd )"
**Is this a bug report or feature request?**
* Bug Report

The existing scale down procedure that works for v0.8.3 doesn't work for v0.9.2. ( refer https://github.com/rook/rook/issues/2025)

**Deviation from expected behavior:**
The config map for v0.8.3 doesn't exist on v0.9.2. Without configmap cleanup, the osd can't be deleted cleanly.

**Expected behavior:**
Need a procedure to cleanly scale d

[2019-02-18 17:09] noahdesu commented on #2492
@MiticoBerna i can try to reproduce this today. can you share your yaml configs?

[2019-02-18 17:27] ruzickap commented on #2492
If you want to reproduce this issue please follow the steps mentioned here: https://github.com/rook/rook/issues/2492#issuecomment-457820437
(It's just few commands)

If you need something more - please let me know.

In my case I'm not using ingress, but only `kubectl port-forward`.

[2019-02-18 17:28] noahdesu commented on #2492
thanks @ruzickap

[2019-02-18 18:27] leseb commented on #2664
Facilitator here: https://github.com/ceph/ceph/pull/26487

[2019-02-18 20:49] damoon commented on #255
this could be useful because of https://github.com/docker/distribution/issues/2189
docker registry seams to be incompatible with s3 rwg of ceph.
it looks like using swift is the common workaround.

[2019-02-18 23:34] #2644 closed

[2019-02-18 23:38] MiticoBerna commented on #2492
@ruzickap in this comment https://github.com/rook/rook/issues/2526#issuecomment-458289145 @galexrt says that port-forward could not working anymore due "to the fact that the dashboard is only listening on the Pod IP and not localhost".

With the ingress could be the same problem? I don't believe...

@noahdesu following my ingress.yml
[code]

[2019-02-19 00:24] ksingh7 opened #2672 "cannot create resource "daemonsets" in API group "apps" in the namespace "rook-ceph-system""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

- Creating rook operator

[code]

[code]

- Error while creating rook operator
[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**

Here are the scc and operator configuration files i am using
[scc.yaml](https://github.com/ksingh7/ocp-rook/blob/master/scc.yaml)
[operator.yam

[2019-02-19 00:25] ksingh7 commented on #2672
@travisn can you please help with this.

[2019-02-19 00:44] travisn commented on #2672
@ksingh7 If you're going to use the `rook/ceph:master` image, you'll need to refresh your yaml files from master since #2611 merged. Your yaml files are outdated compared to the latest `rook/ceph:master` image.

[2019-02-19 00:52] travisn commented on #2666
@copejon I believe this was just completed with #2611. Please reopen if anything was missed.

[2019-02-19 00:52] #2666 closed

[2019-02-19 00:56] travisn commented on #2667
@hongkailiu What version of rook were you using? If you were running a v0.9 release version, this sounds like a known issue that has been fixed by #2522 in master. It was decided not to backport this to the 0.9 release as it was a more complicated change.

[2019-02-19 01:00] travisn commented on #2668
@ksingh7 You might try the following command, delete the finalizer in the editor, and save your results: `oc edit namespace rook-ceph-system`. But I'm not sure that will help more than what you've already tried.

[2019-02-19 01:08] travisn commented on #2669
@hansbogert I would suspect there is some issue with the kubelet configuration if the pod isn't started with the correct info for the operator pod to contact the api server.

[2019-02-19 03:38] hongkailiu commented on #2667
@travisn Yes. V0.9.
Let me try master tomorrow.
Thanks for the reply.

[2019-02-19 06:17] ashishranjan738 commented on #2038
Hi @rohan47 @jbw976 can i work on this

[2019-02-19 07:52] hansbogert commented on #2669
Seems it's a more fundamental problem with my cluster indeed and the error is just a symptom. Sorry for the noise.

[2019-02-19 07:52] #2669 closed

[2019-02-19 08:26] hSATAC opened #2673 "PV deletion failed after upgrade from 0.7 to 0.9 (empty ClusterNamespace in PV CRD)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The persistent volumes migrated from 0.7 to 0.9 could not be deleted due to missing the `ClusterNamespace` options in pv CRD.

**Expected behavior:**

Migrated PVs can be deleted.

**How to reproduce it (minimal and precise):**
- Create a 0.7 cluster
- Create pvc & pv
- Migrate to 0.8 and to 0.9
- Del

[2019-02-19 08:45] ruzickap commented on #2492
Ok...
Isn't it a bug, that you can not use `kubectl port-forward` to access the dashboard?
I believe it should be possible to access the dashboard with both `ingress` and `kubectl port-forward` like in other projects.

[2019-02-19 09:15] galexrt commented on #2673
Did you upgrade from v0.7 straight to v0.9 or with v0.8 between as a middle step?

[2019-02-19 09:33] sebastian-philipp commented on #2492
yeah, it should not depend on the forwarding mechanism.

[2019-02-19 09:39] sebastian-philipp commented on #2492
Upstream Ceph issue: http://tracker.ceph.com/issues/38378

[2019-02-19 09:41] sebastian-philipp commented on #2492
Could you please provide some more log context of the MGR log in the vicinity of the `SSLError`?

[2019-02-19 09:50] sebastian-philipp commented on #2492
Just a guess: are you trying to access the HTTPS endpoint with plain HTTP?

[2019-02-19 11:41] hSATAC commented on #2673
Hi, it's migrated to 0.8 and than to 0.9.

[2019-02-19 12:24] ekuric opened #2674 "osd pods goes in Init:CrashLoopBackOff status"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD pods after start ends in ```Init:CrashLoopBackOff``` status
[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**

- Install CEPH with rook on OCP v3.11
- in this configuration there are 60 OSDs

**Environment**:
* OS (e.g. from /etc/os-release):
[code]

* Kernel (e.g. `una

[2019-02-19 12:25] ekuric commented on #2674
log from one of problematic osds
[code]

[2019-02-19 12:28] ekuric commented on #2674
describe pod
[code]

[2019-02-19 13:29] ksingh7 commented on #2668
I can reproduce this on another OCP 4.0 cluster
- Tried ``oc edit namespace rook-ceph-system`` and deleted the finalizer but it didn't help

Side Note : Since my OCP4.0 is on AWS, to save cost i have powered off my OCP 4.0 instances and today morning i powered them on again. Tried deleting `` oc delete -f operator.yaml `` and it got stuck. I am not sure if this is a combination of stopping the OCP

[2019-02-19 13:37] ashishranjan738 commented on #2486
Maybe since we are installing the drivers in that location https://github.com/rook/rook/blob/18b2da5fc5d7a303b9a48119ce55108b55af7f0e/pkg/daemon/ceph/agent/flexvolume/server.go#L71 we don't need to locate it from $PATH.

[2019-02-19 13:52] graham-web commented on #2274
I'm currently seeing this too. `/var/lib/rook` is an empty directory on the operator pod.

rook v0.9.2

We're mostly using ceph filesystem rather than persistent volumes, so can't really pinpoint when/why this broke am afraid.

[2019-02-19 14:16] ruzickap commented on #2492
Actually no. Here are the steps + errors I'm getting:

[code]

Actually in this case it doesn't matter what protocol you are using, because `kubectl port-forward` can not connect to the pod:port - see the errors:

[code]

What I described above is probably only related to port forwarding with `kubectl` (and not using ingress - not sure).

[2019-02-19 14:25] sebastian-philipp commented on #2492
@ruzickap could you also add some more log output of the mgr daemon?

[2019-02-19 14:48] ruzickap commented on #2492
Here it is:

[code]

Looks like the request coming through tunnel is is not reaching the daemon on port 8443.

I also checked what is listening on port 8443 inside the `rook-ceph-mgr` container:

[code]

Not sure if `10.244.2.6:8443` is correct - shouldn't it be `*:8443` ?

[2019-02-19 14:52] sebastian-philipp commented on #2492
Hm, that is a bit in contradiction with the initial error (`SSLError: [SSL: HTTP_REQUEST] http request (_ssl.c:579)`).

[2019-02-19 15:04] graham-web commented on #2274
The operator logs are kinda interesting during startup here, particularly the part

Full output, before it starts failing to provision volumes:

"2019-02-13 09:35:30.792162 I | rookcmd: flag values: --alsologtostderr=false, --help=false, --log-level=INFO, --log_backtrace_at=:0, --log_dir=, --logtostderr=true, --mon-healthcheck-interval=45s, --mon-out-timeout=5m0s, --stderrthreshold=2, --v=0, --vmo

[2019-02-19 16:20] colonwq commented on #2660
#2676
PR submitted.

[2019-02-19 18:16] jtlayton commented on #2313
Fixed quite some time ago.

[2019-02-19 18:16] #2313 closed

[2019-02-19 21:57] travisn commented on #2670
@yan636 Is this a correct summary?
- You want to remove OSD with IDs 0, 1, 2.
- After going through the instructions to remove them, their pods get started up again after the operator is restarted.
- They are in a failed state.
- The rest of the cluster is still healthy, but these unexpected osd pods are still created unexpectedly.

Can you share the full log for the osd prepare job?

[2019-02-20 00:51] noahdesu commented on #2492
Setting `ceph config set mgr mgr/dashboard/server_addr 0.0.0.0` and then restarting the `ceph-mgr` pod enables the `port-forward` approach and the `NodePort` approach still works too.

Is there any particular reason to bind to the pod IP if all the access is through one of these two methods?

cc #2526

[2019-02-20 06:15] dimm0 commented on #2254
This is still not resolved
https://github.com/rook/rook/pull/2540#issuecomment-458668486

[2019-02-20 07:28] Mengkzhaoyun commented on #1169
+1 i need

[2019-02-20 08:44] maurya-m commented on #2431
hi @dyusupov , i am getting the same error on AWS (kops) K8s cluster. do you know of any way to troubleshoot this?

Also below is the output of  kubectl describe cm edgefs-config -n rook-edgefs

{"ip-172-20-33-193.ca-central-1.compute.internal":{"ccow":{"tenant":{"failure_domain":1},"network":{"broker_interfaces":"eth0","server_unix_socket":"/opt/nedge/var/run/sock/ccowd.sock"}},"ccowd":{"network"

[2019-02-20 11:52] ruzickap commented on #2492
Thank you @noahdesu
Your way is working fine for `kubectl port-forward`:

[code]

[2019-02-20 11:53] ruzickap commented on #2526
Maybe check this: https://github.com/rook/rook/issues/2492#issuecomment-465543730
It may help...

[2019-02-20 13:03] robwithhair commented on #1895
Anyone else who comes across the same problem I just did scheduling osd's on nodes with taints.  You need to update the operator.yaml and ensure that DISCOVER_TOLERATION and AGENT_TOLERATION are set correctly.  In my case they should be `NoExecute` and so the operator was saying there were no valid nodes to launch OSD's.  Working as expected now.

[2019-02-20 14:44] dyusupov commented on #2431
What’s your cluster CRD looks like?

What is the output of lsblk on the target nodes?

[2019-02-20 16:31] yan636 commented on #2670
Yes, your summary is correct. I've re-run the above procedure. In this test, a device "vdf" is removed.

1). kubectl -n rook-ceph log job.batch/rook-ceph-osd-prepare-rook-control-02  -c copy-bins
2019-02-20 16:20:50.035980 I | cephosd: copying /usr/local/bin/rook to /rook/rook
2019-02-20 16:20:50.274580 I | cephosd: copying /tini to /rook/tini
2019-02-20 16:20:50.275397 I | cephcmd: successfully c

[2019-02-20 16:55] sourabh1031 commented on #1810
can i work on this @jbw976 . to be true i am currently learning and have basic knowledge of go and k8s. can you please tell me the resources that i must learn to solve this. any link or reference guide would be highly beneficial

[2019-02-20 17:54] maurya-m opened #2681 "Edgefs : error: unable to recognize "cluster.yaml": no matches for kind "PodSecurityPolicy" in version "apps/v1""
Getting this error when running on K8s cluster with ssd volumes attached.
kubectl apply -f cluster.yaml

**error: unable to recognize "cluster.yaml": no matches for kind "PodSecurityPolicy" in version "apps/v1"**

Contents of cluster.yaml

apiVersion: v1
kind: Namespace
metadata:
  name: rook-edgefs
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-edgefs-cluster
  namespace: rook-edg

[2019-02-20 18:17] dyusupov commented on #2681
thanks. meanwhile, change line 58 in cluster.yaml to namespace policy/v1beta1

[2019-02-20 18:51] jtlayton opened #2683 "RBAC permissions issue when running ceph-mgr under minikube"
When trying to start up a rook cluster under minikube, I hit the following set of backtraces in the mgr when running "ceph orchestrator device ls" from the toolbox. It looks like a problem with RBAC:

[code]
Do we need some special setup for this configuration? Or have I deployed minikube in the wrong way?

[2019-02-20 18:57] travisn commented on #2683
The error makes it look like the `rook-ceph-mgr-system` Role does not exist, which is defined in cluster.yaml [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L32). Do you see that role and role binding existing?
[code]

[2019-02-20 19:00] jtlayton commented on #2683
They seem to be present:
[code]

[2019-02-20 19:00] hongkailiu commented on #2667
Verified with OCP 311 cluster and rook master branch.
300 and 600 PVCs work fine: both creating and deleting.

However, installation of rook with master branch did not work with OCP 4.0.
I will create another issue for this.

Since this issue were found OCP 4.0, I would suggest to close it when I can verify it on OCP 4.0.

[code]

[2019-02-20 19:24] hongkailiu opened #2684 "[ceph] Installation failed with master branch and OCP 4.0"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

1. create OCP 4 cluster (in the test: build `4.0.0-0.nightly-2019-02-19-195128` is used)
2. create 3 `m5.4xlarge` nodes in the same zone, attaching an additional block device (1000G of gp2) to each node, label them with `role=stor

[2019-02-20 19:56] jtlayton commented on #2683
I wonder if this is wrong:
[code]
The namespace in that Role is set to rook-ceph. Shouldn't that be rook-ceph-system? Changing that seems to allow ceph orchestrator device ls to work, but it still fails later when trying to do a get on a node object.

[2019-02-20 20:07] travisn commented on #2683
The role can be defined in the rook-ceph namespace. It's the namespace in the `RoleBinding` that should matter, which looks like it is already rook-ceph-system.

I believe what's missing is the namespace on the roleRef. Does this work for you?

[code]

[2019-02-20 20:15] jtlayton commented on #2683
That didn't seem to work:
[code]

[2019-02-20 20:51] travisn commented on #2683
Ok, to reach into the other namespace, looks like we need a ClusterRole instead of Role:

[code]

[2019-02-20 20:58] mffiedler commented on #2684
The marketplace pods cycling is a known issue.   See https://bugzilla.redhat.com/show_bug.cgi?id=1678654.

[2019-02-20 20:59] leseb commented on #2684
Did you inject the correct SCCs?

[2019-02-20 21:05] firaxis opened #2686 "Ability to specify ceph version"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
You should be able to specify ceph version to deploy

**What is use case behind this feature:**
If you are using some sort of centralized log storage, your docker shouldn't produce output in stdout/json-file, so ceph-detect fails to determine ceph version,  e.g.

**Environment**:
I'm using graylog, and

[2019-02-20 21:35] hongkailiu commented on #2684
Yes, I did.

[code]

[2019-02-20 23:19] noahdesu commented on #2492
@ruzickap does the solution continue to work after some time? according to this cherrypy report https://github.com/cherrypy/cherrypy/issues/1100 it looks like this solution might not be robust and it also matches a similar report here https://github.com/rook/rook/issues/2335#issuecomment-446032672 with the problem reoccurring.

[2019-02-21 06:01] maurya-m commented on #2681
@dyusupov thanks for responding back, do i need to re-intialize the efscli system init, also i am not able to the run "efscli cluster create cltest", where can i check for the logs?

[2019-02-21 06:06] ZYecho commented on #2400
/assign

[2019-02-21 06:11] dyusupov commented on #2681
If you cannot do cluster I/O you'll likely need to review if networking.
There are 2 types of logs you can look at:

target level logs of the daemon that handles VDEVs:

kubectl logs -n rook-edgefs rook-edgefs-target-0 -c daemon

and client level logs which can be viewed by exporting some environment variables:

export CCOW_LOG_STDOUT=1
export CCOW_LOG_LEVEL=3
export CCOW_LOG_COLORS=1

and then ru

[2019-02-21 07:41] adtrytech opened #2689 "Unexpected number of osd pods in a ceph cluster"
**Is this a bug report or feature request?**
* Bug Report
**Deviation from expected behavior:**
There are two nodes in the ceph cluster, one has two HDD devices and the other has one HDD. (All HDDs are empty, no partition)
After creating the ceph cluster by using "kubectl create -f cluster.yaml" (cluster.yaml is the default YAML file within the code base, and I modified the "useAllDevices: true"),

[2019-02-21 08:08] adtrytech commented on #2674
Hi,
Can you share your cluster YAML file?

[2019-02-21 09:50] deanzz commented on #1854
Bad bot +1

[2019-02-21 10:10] maurya-m commented on #2681
Output of kubectl logs -n rook-edgefs rook-edgefs-target-0 -c daemon ( too long) so here is the last few lines:

Feb 21 10:02:40.499 rook-edgefs-target-0 ccowd[1] error   [2880] putcommon_client.c:2072 : failing I/O 0x7f7e9c86d658 type 3 error -5: status 0
Feb 21 10:02:40.499 rook-edgefs-target-0 ccowd[1] error   [2880]         ccow.c:3848 : failing I/O 0x7f7e9c86d550 (CCOW_PUT) error -5
Feb 21 10

[2019-02-21 10:14] maurya-m commented on #2681
Also here are the logs after export the log levels:

λ kubectl exec -it -n rook-edgefs rook-edgefs-target-0 -c daemon -- env COLUMNS=$COLUMNS LINES=$LINES TERM=linux toolbox

Welcome to EdgeFS Toolbox.
Hint: type efscli to begin

root@rook-edgefs-target-0:/opt/nedge# export CCOW_LOG_STDOUT=1
root@rook-edgefs-target-0:/opt/nedge# export CCOW_LOG_LEVEL=3
root@rook-edgefs-target-0:/opt/nedge# export

[2019-02-21 10:18] maurya-m commented on #2681
@dyusupov , having a 1master +3 worker nodes (100GB SSD provisioned ) and then ran the operator.yaml & cluster.yaml scripts.

[2019-02-21 11:03] maurya-m commented on #2681
some more logs when it timeout

Feb 21 10:22:40.422 rook-edgefs-target-0 ccow[14204] error   [14210] putcommon_client.c:2070 : PUT PROPOSAL request timed out after 200 attempts seq id: 4.200. Failing
I/O
Feb 21 10:22:40.422 rook-edgefs-target-0 ccow[14204] error   [14210]         ccow.c:497  : Affected OID: cltest///, hashmask=7
Feb 21 10:22:40.422 rook-edgefs-target-0 ccow[14204] error   [14210]

[2019-02-21 14:34] jamborta commented on #1468
It would be great if the operator cleaned up `rook-ceph-agent`, as it was created by the operator not the by helm. So needs to be cleaned up in the code.

[2019-02-21 15:02] BlaineEXE commented on #2632
Seb has a good point, and I share his concerns. I think it seems feasible to support 2 versions of Ceph per release. I think it's important to note that Rook's release schedule differs quite a bit from Ceph's. Rook is released quarterly while Ceph is released on a 9-month cadence if I remember correctly.

**My thoughts on a possible support cadence:**
Rook v0.9 supports Luminous and Mimic
Rook v1.

[2019-02-21 15:20] travisn commented on #1854
@deanzz Do you have more details on how you hit this? Do your error messages match all the details described above, or just the title? The most common reason for the unbound PVC is the [flex volume configuration](https://rook.io/docs/rook/v0.9/flexvolume.html). But if you have the same details in the operator log about the failed image creation, we should reopen this issue.

[2019-02-21 15:29] fisherwei opened #2694 "after creating ceph object store, cluster doesn't any effect"
I ran `kubectl create -f object.yaml` by example settings, but there is not new pod in cluster.

block storage is working fine.

how to troubleshooting or where can I find error log?

BTW:
I upgraded rook from master to 0.9.2 by `kubectl replace -f operator.yaml` and `cluster.yaml`.
before upgrading, object store is working fine.

[2019-02-21 16:31] yan636 opened #2696 "The osd pod failed randomly when creating 2 rook-ceph clusters on the same set of storage nodes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
One of two osd pods failed randomly.

**Expected behavior:**
All osd pods should be in "Running" state consistently.

**How to reproduce it (minimal and precise):**

1). Failure case:  Two clusters with one cluster with 1 device 'vdd' and the other cluster with 1 device 'vde'. The two clusters are usin

[2019-02-21 17:05] dyusupov commented on #2681
OK. I think you'll need to wait for https://github.com/rook/rook/pull/2685 merged into the master. Then rebuild the setup using master operator. Do not forget to cleanup dataDirHostPath on all the target hosts!

Prior to re-running `efscli system init` make sure that `efscli system status -v1` looks sane.

[2019-02-21 17:23] BlaineEXE commented on #2686
It would be helpful if you could show the output of what `ceph version` and `ceph -v` are for the Ceph that you are running. We'd like to be able to support things we haven't yet seen.

[2019-02-21 18:27] jbw976 commented on #2400
@ZYecho I've sent you an invitation to the Assignees team of the Rook organization, so that we can assign you to this issue.  You can't assign issues in Github unless that user is a member of the organization.

[2019-02-21 18:41] firaxis commented on #2686
The issue is that rook-ceph-detect-version container doesn't produce output, because it's sent to graylog. So rook can't detect the version.

[2019-02-21 18:59] travisn opened #2699 "Include ceph-csi in the rook image"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Today ceph-csi is built into two separate images for rbd and cephfs, each containing their own build of the ceph-csi go binary. The docker images are almost the same as well, with only a couple packages different for cephfs and rbd. Do we really need these separate images when integrated with rook? I'm

[2019-02-21 20:23] travisn opened #2700 "Add CRD sample yamls to clarify usage"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The sample files under `cluster/examples/kubernetes/ceph` currently cause confusion and user error in the following ways:
- Only a single example is provided for most CRDs even though there are many use cases
- The examples are tedious to read with the comments that explain all the possible settings
- T

[2019-02-21 20:43] BlaineEXE opened #2701 "Ceph security: debug message leaks mon+admin keys"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
log contains
[code]

**Expected behavior:**
If `ClusterInfo` is logged, it should obfuscate the secret keys. `pkg/daemon/ceph/config` has a method for doing this.

**How to reproduce it (minimal and precise):**
Enable debug logging

[2019-02-21 21:52] travisn commented on #2694
@fisherwei Can you clarify the repro of this issue? You had the object store working ok, and then you changed the build from master to 0.9.2? This is actually a downgrade and not officially supported, although in this case I'm not sure that's related to your issue.

You might try restarting the operator pod to see if the object store is created again.

[2019-02-21 21:55] travisn commented on #2689
@adtrytech Is it possible a device had a partition or formatted filesystem? In that case, rook will skip creating osds on those devices. Can you share the logs for the osd prepare pod on each of the two nodes? They would indicate what is happening. Towards the top of those logs, there should be messages about whether the devices were used for osds or whether they were skipped.

[2019-02-22 00:55] fisherwei commented on #2694
emmm, back to master, resolved.

but master version has another issue, i teardowned and recreate by 0.9.2, all problem resolved. :)

[2019-02-22 01:00] adtrytech commented on #2689
Hi travisn,

Thanks for your response. Provide some logs for your reference.
The HDD devices are all empty and no partitions. FYI.
There are sdb and sdc attach to 8310-n2(ceph cluster node 1) and sdb attach to 8310-n3(ceph cluster node 2)

The pod information of ceph cluster:
kubectl -n rook-ceph get pod -o wide
NAME                                  READY   STATUS      RESTARTS   AGE     IP

[2019-02-22 01:40] adtrytech commented on #2689
Hi travisn,

Thanks for your help and I already let the OSD setup completely after using the "sgdisk --zap-all /dev/sdb" to clear backup GTP tables.

Regards

[2019-02-22 18:49] #2525 closed

[2019-02-22 21:11] #2663 closed

[2019-02-22 21:29] #2400 closed

[2019-02-23 06:21] tibkiss commented on #1657
This issue is still present in rook 0.9.

Initial write:
[code]

Overwrite:
[code]

The only modification made to the config on my end was to explicitly set `bluestore` in `storage.config.storeType`.

I tried to enable `allow_ec_overwrites` but it did not have any performance benefit.

Some pointer would be appreciated to resolve this performance issue. Thanks!

[2019-02-23 06:24] maurya-m commented on #2681
@dyusupov , ok, when do think this merge will come into master? will re-test once you can confirm , will close thereafter.

[2019-02-23 08:36] maurya-m commented on #1383
@kokhang , i am getting this error on my cluster setup on AWS, with 1 master , 3 nodes, check for the

- name: FLEXVOLUME_DIR_PATH while creating the operator using the operator.yaml , no issues there.

but i am getting this similar error :
![image](https://user-images.githubusercontent.com/46669717/53284020-25b71400-3774-11e9-8983-d5dca2e1b236.png)

Do i need to re-create the operator? what else

[2019-02-23 08:44] maurya-m commented on #1383
@kokhang , please ignore the above comment, i had to change the sc created of fs ext4 type!

[2019-02-23 22:21] #2510 closed

[2019-02-24 11:32] mykaul commented on #1657
For various reason, this is not the right way to test performance.
1. you might be running out of entropy (especially if you are running in a VM!) - can you make sure this is not the case?
2. You are using buffered writes (try adding oflag=direct to the 'dd' command line).
3. dd is slow, synchronous. It doesn't really exercise the storage. It does have multiple threads and queues. Better look at f

[2019-02-24 12:15] tibkiss commented on #1657
@mykaul : thanks for the suggestions.

1. I'm running on a three node bare metal cluster, the entropy on all nodes are above 3500 (via `/proc/sys/kernel/random/entropy_avail`). As far as I know /dev/urandom should not be affected by lack of entropy, only /dev/random has such behavior.

2. Bypassing the page cache slows things further down:
[code]
3. If dd would be generally slow, it would be true

[2019-02-24 12:16] galexrt commented on #1657
@tibkiss Post the Pool object yaml you are using for the tests.

[2019-02-24 12:19] tibkiss commented on #1657
@galexrt : Here it comes!

[code]

[2019-02-24 13:21] mykaul commented on #1657
Do you have a real need for EC pool? it's certainly slower. It seems we are enabling the partial overwrites  (https://github.com/rook/rook/blob/fb2c20897864a3a6b9297c91b29593e18454a9f8/pkg/daemon/ceph/client/pool.go#L147 ) and the rbd metadata is on a different pool, so that's good. I wonder what other parameters can affect performance (XFS vs. EXT4, etc.)

[2019-02-24 14:54] tibkiss commented on #1657
@mykaul : I have chosen EC as I don't have uniform disk size in the nodes. Going with replicated would severely limit the space available in this cluster. I measure 230MB/s (initial) write speed and 60 MB/s read speed, which would be suitable for my needs.

The only jinx here is the severely degraded re-write speed.

[2019-02-24 16:21] leseb opened #2707 "ceph rgw: use "beast' frontend as of Nautilus"
On Nautilus the default fronted will be "beast" so let's change that appropriately.

[2019-02-25 00:51] noahdesu commented on #2074
still exists in minikube v0.34.1 and whatever the default kubernetes is there v1.13.x on kvm2 vm driver.

[2019-02-25 07:56] mykaul commented on #2074
4GB sounds very small to me for everything in a VM. I had a worker with 4GB and a Master with 4GB and it hardly worked. Can you try increasing the memory dramatically, just to see where we are at?

[2019-02-25 08:37] Madhu-1 opened #2710 "Failed to deploy ceph-csi"
**Is this a bug report or feature request?**
* Bug Report

as per the [documentation](https://github.com/rook/rook/blob/master/Documentation/ceph-csi-drivers.md#create-rbac-used-by-csi-drivers-in-the-same-namespace-as-rook-ceph-operator) we need to create the namespace `rook-ceph-system` before deploying the CSI driver, but rook-ceph-system namespace is created as part of the operator [deployment]

[2019-02-25 08:38] Madhu-1 commented on #2710
even am getting warning messages for using `kubectl apply`

[code]

[2019-02-25 11:15] leseb opened #2712 "Tune container memory usage"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

People might apply memory and CPU limits to the containers. CPU limitation is not an issue, but memory is different.
Some of the Ceph daemons manage their memory cache (OSD and MDS), so their memory consumption grows over time. This might lead to OOM kill issues on Pod if the ceph-{osd,mds} process con

[2019-02-25 11:39] Madhu-1 commented on #2710
Facing issue while creating an user
[code]

i can see `/var/lib/rook/rook-ceph/rook-ceph.config` is present on all nodes , i havent made any changes to cluster.yaml used for ceph cluster creation.

[2019-02-25 11:42] Madhu-1 commented on #2710
pod spec
[code]

[2019-02-25 13:24] humblec commented on #1981
Indeed migrating rook to operator-sdk will be awesome! . OLM and sdk wrappers would make rook bit more readable and easy implementation.

[2019-02-25 13:24] colonwq opened #2713 "shasum required for development build but make will run without"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Make will attempt to build containers if the shasum command output is not available. This will result in some build parameters being incorrect. Example: BUILD_ROOT will be set to "build-" if shasum is not available in build/common.sh

shasum does not seem to be installed by default on fedora 29

**Expe

[2019-02-25 13:32] colonwq opened #2714 "Build user needs rights to interact with docker"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The make process will attempt to build and push images to the local repo but does not check to see if the build user has sufficient rights. This results in a build failure when interacting with docker

**Expected behavior:**
Make should exit if the build user is not able to interact with docker. ie: 'd

[2019-02-25 14:12] noahdesu commented on #2074
I tried 8 GB with minikube and it fell over. This is quite problematic for developers running minikube on a laptop / desktop. I'll investigate this some more today

[2019-02-25 15:13] EdSchouten commented on #1007
It looks like this issue hasn't been resolved at all. We still see Rook spinning up filestores on systems without any spare SSDs. This is with Rook 0.9.

[2019-02-25 16:29] noahdesu commented on #2074
Root cause here is still a bot of a mystery. But using the very latest minikube/k8s I've gotten things to work alright by reducing the rbd image size in mysql.yaml and wordpress.yaml from 20GB to 2GB. If anybody wants to give that a shot, it'd be nice to have another data point or two.

[2019-02-25 16:59] jbw976 commented on #2074
anecdotally, I've seen more reliable behavior when I want a few mins after deploying the ceph cluster before creating the mysql PVC.  No idea what would "settle" in that time period to make it more reliable, but it does feel that seems to work better.

[2019-02-25 17:06] noahdesu commented on #2074
same experience. inside the minikube vm it is total chaos. most processes' memory utilization seem reasonable, especially at 8GB allocated. it seems like something is bursty.

[2019-02-25 17:31] rootfs commented on #2699
This is really good. It should be way to go. To make this happen, ceph-csi will have its own releases for Rook's Gopkg.toml to reference.

[2019-02-25 17:34] leseb opened #2716 "Ability to maintain containers alive if they fail"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

If a container dies then we should have an option to keep alive so we can jump into it and debug the env further.
Something similar to https://github.com/ceph/ceph-container/blob/master/src/daemon/docker_exec.sh

**What is use case behind this feature:**

Debugging.

[2019-02-25 18:37] travisn commented on #923
To summarize the issue...
- When `--dmcrypt` is passed to ceph-volume by the osd prepare job, ceph-volume hangs when it is running cryptsetup. It is suspected that the pod is missing a mount or something else related to udev required in a containerized environment. This scenario is working in ceph-container scenarios, so only rook is hitting this issue. Taking a look at the ceph-ansible integratio

[2019-02-25 18:57] travisn commented on #2670
According to the log, ceph-volume thinks that two osds are still configured for osds 1 and 3:
[code]

So rook must be creating the osds based on that configuration. Besides cleaning the data dir, can you also zap the devices where the devices were running? An example of cleaning a device is found in this topic: https://rook.io/docs/rook/v0.9/ceph-teardown.html#delete-the-data-on-hosts

[2019-02-25 19:54] alfredodeza commented on #923
@travisn containers do require a few special binds, see for example https://github.com/ceph/ceph-ansible/commit/7ade0328072896e99817b070b6a82448024bfb84

I am not sure if that commit is already backported and available, otherwise it might suggest some sort of issue there.

[2019-02-25 21:12] noahdesu commented on #2492
This patch https://github.com/ceph/ceph/pull/26635/files should provide a transparent fix for this issue. Once it's merged we'll backport.

[2019-02-25 23:48] travisn commented on #923
Here are the mounts for the osd prepare pod. I just added the mount for `/var/run/udev`, but it didn't help yet.
[code]

If I run the cryptsetup command directly in the pod, I see a prompt for the passphrase. As I recall, this wasn't the fundamental issue as I just had to pipe the password to continue. Where does the passphrase come from?
[code]

[2019-02-25 23:57] alfredodeza commented on #923
@travisn in ceph-volume it is sent via `STDIN`. Using your example, this call:

    Running command: /usr/sbin/cryptsetup --batch-mode --key-file - luksFormat /dev/ceph-c926425c-4975-4963-804b-41a90804f0e0/osd-data-fca0713c-8e9b-4cbb-b5bf-10058d00a907

Is using `--key-file -` which indicates that the key is coming via `STDIN`. The implementation can be seen here:

https://github.com/alfredodeza/ce

[2019-02-26 03:31] humblec commented on #2699
I do second this thought. The maintenance and dependency management becomes easy from rook pov. More or less, as we moving towards `csi` as the provisioner and mounter for rook ceph, this is a good thought.  The only overhead here is, when ceph cluster upgrade is performed by rook, it has to think about csi driver upgrade as well or iow, csi driver upgrade should be handled by rook.

[2019-02-26 06:35] apacoco9861 opened #2718 "pgs inactive after long network outage"
**Is this a bug report or feature request?**
* Bug Report
Yes

**Deviation from expected behavior:**
All OSD up, but some PG in unknown state.

**Expected behavior:**
OSD up and PG in active+clean state

**How to reproduce it (minimal and precise):**

After long network and power outage, our test environment rook-ceph cluster osd has 3 outage osd.1 osd.2, osd.3 and mon.b out of 5 osd.

Tried, firs

[2019-02-26 09:19] nehaberry commented on #2553
We are seeing similar issue again on a 3 node setup where infra, master and compute are all co-located.

Steps performed:

1. Initiated a delete of project with 200 pods and pvcs
2. Once the project is deleted, checked the pv list

Found some pvs in Released state but still present in OC. Corresponding rbd volumes were also existent in the ceph pods

**pvs not deleted from ceph side**

[code]

**R

[2019-02-26 09:48] leseb opened #2720 "use 'batch report' with c-v"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

`ceph-volume` has a `batch report` subcommand which tells you what's going to happen so I think at some point it will be nice to have it. So the logs would tell us: "here what c-v is going to do to your drives".

**What is use case behind this feature:**

Better information collection.

[2019-02-26 10:21] leseb commented on #2700
One thing that bugged the first time I looked at `cluster.yaml` is the amount of pre-requisite user don't care about. For instance, if we take https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster-minimal.yaml, which is supposed to represent a minimum cluster then all of that https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster-minimal.yaml#

[2019-02-26 13:58] leseb commented on #923
I don't think this will help much `cryptsetup` here but we need `/run/lvm/` to be bindmounted too. We need more verbosity on the `cryptsetup` command or jump into the container to further debug this.

[2019-02-26 14:42] rrooscoo opened #2721 "Failed to deploy nfs-server on Openshift"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
NFS pod doesn't start.
In the nfs operator log I got those errors:
[code]

**Expected behavior:**
NFS server available

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
centos 7.5
* Kernel (e.g. `uname -a`):
3.10.0-862.2.3.el7.x86_64
* Cloud provider or

[2019-02-26 15:06] arctiqtim opened #2722 "Add support for object gateway in the dashboard"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
An option for Rook to integrate the object gateway management capability in the Ceph dashboard.

**What is use case behind this feature:**
The Ceph Dashboard is a great visual tool for managing Ceph.  A strong use case for Ceph is as an object store for things like registry etc, and as such it's useful

[2019-02-26 15:12] travisn commented on #2720
Would rook simply run this command and write it to the logs and then proceed? Or is there something more we could use it for?

[2019-02-26 15:18] arctiqtim opened #2723 "Openshift with ovs-multitenant SDN plugin"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In an Openshift environment where ovs-multitenant plugin is used for SDN, by default pods can not communicate between namespaces/projects.  Due to this the example configurations don't work completely out of the box, in that the rook-ceph-system project where the operator lives can't communicate to the

[2019-02-26 15:22] travisn commented on #2722
For the operator to automate this, what versions of ceph is it needed for? Is it mimic and newer? I don't recall seeing object in the luminous dashboard.

[2019-02-26 15:25] travisn commented on #2723
Thanks, it would be great to add a section for this in the [OpenShift doc](https://rook.io/docs/rook/master/openshift.html).

In addition to opening the networking between rook-ceph and rook-ceph-system, we would also need to open it between any namespace that wants to consume the Ceph storage, and the `rook-ceph` namespace so the Ceph daemons will be accessible to the clients. So the admin would

[2019-02-26 15:29] leseb commented on #2720
Just run and print for now. We could use it for idempotency too but I don't think that needed in the context of Rook.

[2019-02-26 15:32] travisn commented on #923
I'm suspecting there is an interaction with how rook is dealing with stdin/stdout/stderr when launching processes. Similarly, we had a recent bug around this where the osd logs weren't showing up in the osd pod. A multi stream reader was blocking on stdout, while logs were being written to stderr, and eventually the osds were going down. @noahdesu Any idea if we could have a similar issue here wit

[2019-02-26 15:32] arctiqtim commented on #2723
@travisn for block, I was able to consume storage from a different non-connected namespace no problem.  I haven't tried file.  Likely the better bet is to make the rook-ceph namespace/project a global project in the SDN to allow communication from all projects.

[2019-02-26 15:33] arctiqtim commented on #2722
I've only tested mimic with the steps above

[2019-02-26 17:02] yan636 commented on #2670
Agree that the config info is still saved somewhere. The key is where this piece of info is saved. The missing part comparing between v8 and v9 is the configmap.

I've cleaned up the device ( sgdisk ). dataDirHostPath is cleaned as wekk. But it doesn't help.

This is a sunny day case. Will you be able to try the steps and gives more support?

[2019-02-26 17:06] jbw976 commented on #2443
@yanniszark can you go ahead and open a pull request to backport this change to 0.9?

[2019-02-26 17:25] leseb commented on #2716
This might be fixed in tini itself here: https://github.com/krallin/tini/pull/129.

[2019-02-26 17:55] BlaineEXE commented on #2686
@travisn I want to make sure my answer here is correct, but I believe there will be many more issues with Rook if output is not sent to `stdout`. Rook uses `stdout` from running Ceph commands to interact with the Ceph cluster.

[2019-02-26 17:58] travisn commented on #2686
The difference in this case is that the operator starts another pod, then looks at the pod's output. I don't believe we have other cases where this pattern is followed. Everywhere else, we're capturing the stdout from starting a process, rather than a pod.

[2019-02-26 18:03] #2147 closed

[2019-02-26 18:18] #2710 closed

[2019-02-26 18:45] BlaineEXE commented on #2686
It seems like a pattern that we might want to reuse in the future. If Rook can't get stdout, how else could it get the output of running a command in a container?

[2019-02-26 18:57] BlaineEXE commented on #2686
^ Perhaps using `kubectl exec ...` functionality is the right way to do this? We could start a deployment or a job (or deployment?) with a long sleep command (five minutes?), and `kubectl exec <the deployment's container> -- ceph version` to get the version, and then delete the deployment?

[2019-02-26 19:05] travisn commented on #2686
Since the creation of the operator, I've been trying to avoid `kubectl exec` because it feels ssh-like and non-k8s-native. However, I can't think of another way to accomplish this either. It would also require a rule to be added to the rbac for `pods/exec`, which would be preferable to avoid.

[2019-02-26 19:44] rohan47 commented on #2721
I checked, NFS operator is not working on Openshift. Looking into it.

[2019-02-26 21:09] travisn opened #2725 "CephFS deactivate is obsolete in nautilus"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
According to the [Nautilus release notes](https://github.com/ceph/ceph/blob/ae95aebf155064427fb9df2e1b442e4687395268/doc/releases/nautilus.rst), the `ceph mds deactivate` command is obsolete. The operator is currently using this command to remove a filesystem [here](https://github.com/rook/rook/blob/ma

[2019-02-26 22:00] noahdesu commented on #923
this doesn't look like a stdin/stdout issue. the key is being fed to cryptsetup via stdin by ceph-volume, but that occurs before this stack trace that blocks on udev_wait.

[code]

[2019-02-26 22:41] noahdesu commented on #923
if the host is handling udev stuff, then maybe this means the container needs to run with --ipc=host. that's not the case with ceph-ansible, but it runs with --priv --net=host and maybe those imply --ipc=host?

[2019-02-26 23:00] BlaineEXE commented on #2686
Agreed.

I do have one more thought, but I'm not sure if it will actually work. I considered that we might be able to create an empty configmap key and mount it read-write into the container and do `ceph version > /my/ceph/version/result/file.txt`. The operator could read the configmap afterwards assuming that writing to the configmap file in the container would make changes to the configmap in ku

[2019-02-26 23:37] BlaineEXE commented on #2686
Looking at the Kubernetes docs for jobs, I don't find an indication that the stdout is intended to be used for communicating data. The k8s doc below suggests a work queue using RabbitMQ or something similar to send work items *to* the jobs. I presume that the reader is expected to assume that the same thing should be used to get information *from* jobs, but I can only guess.

https://kubernetes.io

[2019-02-26 23:55] noahdesu commented on #923
Giving this a shot combined with also running in priv mode with `/var/run/udev`. Perhaps we dont' need all that, but its what ceph-ansibel is using. If it works we can pair it down.

[code]

[2019-02-27 04:14] RiaanLab commented on #1169
+1 For resizing in Rook. The rest of Rook is GREAT, though :-)

[2019-02-27 05:29] #2573 closed

[2019-02-27 08:42] aisensiy commented on #1953
I have similar errors and I am not lucky enough. The pod hang there and showing `creating` for more than one day.

Here is the log from `rook-ceph-agent`:

[code]

And here is the pod events, it is quite similar with the above logs.

[code]

[2019-02-27 12:20] shayshahak opened #2727 "Unable to mount volumes for pod "kube-registry-v0-5dlgz_rook-ceph(0b2ba978-3a84-11e9-9ecc-0a58ac1f0329)": timeout expired waiting for volumes to attach or mount for pod "rook-ceph"/"kube-registry-v0-5dlgz"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
unable to mount a Shared FileSystem to a client
**Expected behavior:**
a successful mount
**How to reproduce it (minimal and precise):**

I followed the tutorial on AKS:
https://rook.github.io/docs/rook/v0.9/ceph-filesystem.html

**Environment**:
* OS (e.g. from /etc/os-release): Ubuntu
* Kernel (e.g.

[2019-02-27 12:31] shayshahak commented on #2727
i tried both to the namespace of which the cluster is located ("rook-ceph") and also to the default namespace with the same results

[2019-02-27 13:12] jtlayton commented on #2727
From where did you try to mount it? (The toolbox container?)

How did you try to mount it and what happened? (please paste in the command line you used and the resulting output)

[2019-02-27 13:18] shayshahak commented on #2727
no, not the toolbox container.
from the sample K8s Registry Sample:
https://rook.io/docs/rook/v0.9/ceph-filesystem.html

the output is:

Unable to mount volumes for pod "kube-registry-v0-5dlgz_rook-ceph(0b2ba978-3a84-11e9-9ecc-0a58ac1f0329)": timeout expired waiting for volumes to attach or mount for pod "rook-ceph"/"kube-registry-v0-5dlgz

[2019-02-27 13:20] galexrt commented on #2727
@shayshahak Have you configured the flexvolume correctly for AKS? See https://rook.io/docs/rook/v0.9/flexvolume.html.
From Slack to another AKS user:

[2019-02-27 13:26] shayshahak commented on #2727
@galexrt AKS is not on the list of that article.
i followed FlexVol installation instructions here:
https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume

[2019-02-27 13:31] galexrt commented on #2727
@shayshahak So you have configured your kubelet as shown in the docs you linked, and you have also set `/etc/kubernetes/volumeplugins` as the flexvolume directory on the Rook Ceph operator? As shown in the documentation and/or https://github.com/rook/rook/blob/release-0.9/cluster/examples/kubernetes/ceph/operator.yaml#L418-L419.

[2019-02-27 13:45] shayshahak commented on #2727
no, i haven't. sorry.
I'll do that and update. thanks

[2019-02-27 14:11] shayshahak commented on #2727
ok, i have a progress but now i see a new error on the client pod:

Warning  FailedMount  48s  kubelet, aks-agentpool-21100262-0  MountVolume.SetUp failed for volume "volume" : mount command failed, status: Failure, reason: failed to mount filesystem myfs to /var/lib/kubelet/pods/c0955691-3a98-11e9-9ecc-0a58ac1f0329/volumes/ceph.rook.io~rook/volume with monitor 10.0.174.182:6789,10.0.109.223:6789,

[2019-02-27 14:56] shamalco commented on #2673
Hi, I migrated from 0.7 to 0.8 have the same issue. And error reading /var/lib/rook/{clustername}.config

[code]

[2019-02-27 17:13] clkao commented on #2568
Apparently kubelet tries to probe for CSI registration socket in the plugin dir, and tries to watch recursively: https://github.com/kubernetes/kubernetes/issues/74669

[2019-02-27 18:08] shayshahak commented on #2727
I'm having hard time understanding how to "Configuring the Kubernetes kubelet"
I know with AKS it should be --volume-plugin-dir="/etc/kubernetes/volumeplugins"
but i don't know how to update it

[2019-02-27 18:38] shayshahak commented on #2727
i deleted my cluster, made sure i followed the steps carefully with the operator settings:
- name: FLEXVOLUME_DIR_PATH
  value: "/etc/kubernetes/volumeplugins"
(no need to perform "Configuring the Kubernetes kubelet" on AKS)

and now everything is working just fine.

perhaps my problem was related to:
"if you reinstall the cluster, make sure you delete this directory from each host or else the mon

[2019-02-27 18:38] #2727 closed

[2019-02-27 19:42] mykaul commented on #2727
@shayshahak - if there are any steps that need to be documented to support AKS properly, we'd love to know!

[2019-02-27 19:59] shayshahak commented on #2727
hi @mykaul
with regards to AKS the one action to be taken care of is setting the right "FLEXVOLUME_DIR_PATH" under the Operator exactly as described under:
 https://rook.io/docs/rook/v0.9/flexvolume.html#most-common-readwrite-flexvolume-path

the step of "Configuring the Kubernetes kubelet" is not necessary for AKS as mentioned here:
https://github.com/Azure/kubernetes-volume-drivers/tree/master/f

[2019-02-27 20:57] jtlayton commented on #2683
This got resolved in this PR: https://github.com/rook/rook/pull/2697

[2019-02-27 20:57] #2683 closed

[2019-02-27 21:01] rootfs commented on #2650
@lbogdan see #2729

[2019-02-27 21:53] alfredodeza commented on #923
Seems like this might be a wide-spread problem, ceph-ansible is having issues as well: https://bugzilla.redhat.com/show_bug.cgi?id=1683770

From the ceph-volume side of things, I have to say that we haven't had any failures or any changes recently that might cause this

[2019-02-27 23:17] travisn commented on #2670
@yan636 Did you also follow this instruction in the link as well? ceph-volume should not remember the OSD if the device is completely wiped.
[code]

[2019-02-27 23:22] #2617 closed

[2019-02-28 04:27] #2038 closed

[2019-02-28 07:01] #2718 closed

[2019-02-28 07:02] apacoco9861 commented on #2718
reset cluster already

[2019-02-28 07:30] mykaul commented on #923
@noahdesu - our long term goal is not to run privileged of course. If needed, and I don't know if it's feasible, we'll have a specific ('sidecar') container for this, which may be privileged?

[2019-02-28 09:39] leseb commented on #923
@mykaul if by "sidecar" you meant an init container that only prepares the OSD, then that's what we do already.

[2019-02-28 10:15] l10xbin opened #2731 "Wordpress/MySQL example yamls should use apps/v1 deployment with a required selector"
Failed with error information

error: error validating "wordpress.yaml": error validating data: [ValidationError(Deployment.spec.selector): unknown field "app" in io.k8s.apimachinery.pkg.apis.meta.v1.LabelSelector, ValidationError(Deployment.spec.selector): unknown field "tier" in io.k8s.apimachinery.pkg.apis.meta.v1.LabelSelector]; if you choose to ignore these errors, turn validation off with --

[2019-02-28 10:20] galexrt commented on #2731
@l10xbin What Kubernetes/OpenShift and Rook version are you running?

[2019-02-28 10:22] l10xbin commented on #2731
Here is my environment information:

Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.3", GitCommit:"435f92c719f279a3a67808c80521ea17d5715c66", GitTreeState:"clean", BuildDate:"2018-11-26T12:57:14Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.3", GitCommit:"435f92c719f279a3a67808c80521ea17d

[2019-02-28 10:25] l10xbin commented on #2731
Rook is the latest one

[2019-02-28 14:46] ajarr commented on #2725
Basically need to stop manually descaling the MDS for versions greater than luminous, as descaling is done automatically from mimic onwards by setting max_mds with the desired number of MDSs.

Fixing the below TODO should fix the issue.
https://github.com/rook/rook/commit/96f9a9c4ad72057237b4c210bb8d31a890a73323#diff-3e7c210118e974b0c8c447ccf512e8e2R172

[2019-02-28 14:52] yan636 commented on #1653
This is a basic heal function that's critical for production.

[2019-02-28 15:30] hassenius opened #2733 "Deleted cluster resource may still affect new cluster"
**Is this a bug report or feature request?**
* Bug Report

I've been experimenting with my first rook-ceph deployment, and noticed that doing
`kubectl delete -f cluster.yaml` is not sufficient to be able to modify `cluster.yaml` to do a new `kubectl create -f cluster.yaml`.
I've needed to also delete the operator for several changes to be picked up in the cluster deployment.

I've observed this fo

[2019-02-28 16:31] yan636 opened #2735 ""ROOK_HOSTPATH_REQUIRES_PRIVILEGED" doesn't exist for operator chart."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Deploy the operator chart and met similar issue as #1911. The solution seems available in operator.yaml with "ROOK_HOSTPATH_REQUIRES_PRIVILEGED" configured as true.  But it's not available in operator helm chart.

**Expected behavior:**
Operator helm chart has similar configurable param.

**How to repr

[2019-02-28 17:12] yan636 commented on #2670
Thanks for your quick response. Is there any quick way to associate the file/dir with the to-be-deleted osd? There're two devices,  vdc and vdd in this case and vdd is to be scaled out.

[root@rook-worker-01 ~]# ls /dev/mapper/ceph-*
/dev/mapper/ceph--1ed20639--ecaa--4511--9d10--984031b3fb9e-osd--data--693b65c6--b05b--4c67--9cd5--2e58aa63ed62
/dev/mapper/ceph--7936c088--d075--4a0e--9fc9--443da6aed

[2019-02-28 18:25] BlaineEXE commented on #1368
This work is being done along with the rejiggering of the daemons to be configured in the operator as much as possible. I think we can consider this completed once we have support for the mon kv store in mimic+.

[2019-02-28 21:09] #2735 closed

[2019-02-28 21:59] phlogistonjohn commented on #2699
Maybe I'm not very informed about this subject but this strikes me as rather strange. Especially `ceph-csi would be built into rook's go binary.`
It seems to me that this would actually multiply the number of things that need to get tested and tracked by users.

Trying on my imaginary admin hat for a moment I don't think I'd like not knowing whether the ceph-csi I was using came from version X or

[2019-02-28 22:25] phlogistonjohn commented on #2686
Two (wacky) thoughts:
1. Instead of going in for the heavyweight approach of setting up a message queue, perhaps the pod could run a single-url http server that exports the output of `ceph --version`. Once rook has queried the pod it can tear it down (or perhaps a job could still be used... just have the binary self-terminate after some timeout)
2. If the needed check is more binary (apologies, I

[2019-02-28 23:45] travisn opened #2740 "Set dynamic number of mons based on node count"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The desired number of mons could change depending on the number of nodes in a cluster. For example, three mons would be the min number of mons in a production cluster with at least three nodes. If there are five or more nodes, the number of mons could increase to five in order to increase the failure to

[2019-03-01 00:30] travisn opened #2741 "Clean up the OSD after the OSD is marked "out""
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
When an OSD is marked `out`, the operator currently only writes a message to the log that the OSD is down and takes no further action. When the OSD is out, we should consider removing the OSD:
- When the OSD is safe to remove (`ceph safe-to-remove`):
  - Delete the OSD deployment
  - Remove the OSD from

[2019-03-01 04:14] noahdesu commented on #923
please see here for a fix that can be tested: https://github.com/rook/rook/pull/2742

@mykaul anecdotally it did not appear that the fix for this issue required privileged containers, though in rook the container related to this issue appears to be run as privileged for other reasons.

[2019-03-01 05:22] nehaberry opened #2743 "Some rook discover pods go in CrashloopBack state after a OCP cluster shutdown and power ON"
Some rook discover pods go in CrashloopBack state after a OCP cluster shutdown and power ON

**Bug Report**

In a setup configured with rook pods, on a full cluster shutdown and power ON, some of the rook-discover pods fail to come up in Running state. They keep restarting and going into CrashLoopBackOff or Error state

**Some observations**

1. This issue is seen almost on every cluster shutdown

[2019-03-01 09:20] lbogdan commented on #2743
Looks like the discover pod is not able to connect to the kubernetes API server, so it's most likely a network issue.

Things to check:
- the API server really has the IP `172.30.0.1` - `kubectl -n default describe svc kubernetes`, look for `CLUSTER-IP`
- you can ping the API IP from inside the discover pod
- you can `curl https://kubernetes.default` from inside the discover pod - it should error

[2019-03-01 10:34] leseb commented on #2740
I'm not sure it's necessary to introduce a new variable for this, it might confuse users. IMHO we could try to solve that without user's input. Also, I believe the operator should do what we believe is the right thing to do.
I can see there is a use case, I'm just not sure it's realistic and we have ways to improve that without asking users. I believe one added value to the proposal is to not edit

[2019-03-01 10:55] leseb commented on #2686
Can't we simply inspect the container image instead? We do trust our builds, don't we?

We currently have this in our Ceph images:

[code]

We could easily enhance this if needed.

The only caveat is that this wouldn't work for people using other images or a different build mechanism than the one provided by https://github.com/ceph/ceph-container.
In the end, Ceph images provided by https://github

[2019-03-01 11:13] leseb commented on #2686
More thoughts, since this is not affecting everyone perhaps the image inspection could be used as a best effort instead of primary detection. If the detection fails then we try to inspect the image.

[2019-03-01 11:50] sfxworks commented on #2447
Yeah daohoangson's solution solved my issue multiple times. Possibly need to update  https://rook.io/docs/rook/v0.9/ceph-quickstart.html ?

[2019-03-01 12:27] zhangyelong commented on #2285
@boxuan666 Hi, have you solved this problem?

[2019-03-01 12:58] galexrt commented on #2731
@l10xbin What do you understand as "Rook is the latest one"? A Rook image that uses `master` as the tag? The latest release `v0.9.2`?

[2019-03-01 14:56] jtlayton commented on #2645
Doing a bit of printf debugging here. This is what I see when I try to scale up the mon count after adding an OSD:
[code]
The pointer value in the op-cluster line is different from the ones in the op-mon line. If I do the scaling before adding an OSD, it's the same value.

Looking over the code, it looks like the healthCheck is spawned in onAdd(), but the createInstance() call is also done in onUp

[2019-03-01 15:39] travisn commented on #2740
While we want to do everything automatically we can in the operator, the CRD is where we need to expose some flexibility in what state the admin desires. In this case, the admin might desire a different number of mons depending on his tolerance for loss. It's the solutions built around rook that will understand the requirements and set the CRD settings appropriately.

Originally in the crd we didn

[2019-03-01 15:47] travisn commented on #2645
When I was looking at #2740 last night, I found some references to c.Count that may be causing these issues. Instead of the health check referencing the c.Count, I think we should set variables on an independent health check object so that the constantly changing crd wouldn't impact the values the health check is working on.

[2019-03-01 15:51] jtlayton commented on #2645
That sounds sensible.

[2019-03-01 15:58] travisn commented on #2686
@leseb Are you saying to use a `docker inspect` command to look at the version instead of running `ceph version`? That does seem reasonable to expect those image properties. However, I'm not seeing how this would help the problem where the operator needs to start a job and collect the logs to get the output, since the logs may not be available. Or are you saying the operator could inspect the imag

[2019-03-01 16:09] leseb commented on #2686
@travisn Yes, I'm suggesting to use something similar to `docker inspect` (if docker is being used or the equivalent for other runtimes) but I'd think there is a lib for this in k8s that can inspect for us without caring about the container runtime :). I'm suggesting to do this as a fallback option in case the ceph version we return is empty.

I guess what my suggestion fixes is the current issue,

[2019-03-01 17:25] jarrpa commented on #2699
I'm also of the mind that we shouldn't be just bundling all the binaries into one single container image. It feels dirty. I second John's idea to just have Rook deploy and manage independent releases of the CSI driver.

[2019-03-01 19:28] SkinyMonkey opened #2746 "pvc stuck in terminating state"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Block storage PVC get stuck in terminating state after being attached to a completed/failed job and explicitely deleted.
removing the job/pod to which it's attached unblock the situation immediately though.

**Expected behavior:**
Block storage PVC should be deleted as soon as possible after the kubele

[2019-03-01 19:32] SkinyMonkey commented on #2746
could be related to https://github.com/kubernetes/kubernetes/issues/69697 ?

[2019-03-01 20:21] #923 closed

[2019-03-01 20:48] SkinyMonkey commented on #2746
[code]
when handling delete event: "/var/lib/kubelet/plugins/ceph.rook.io/rook-ceph-system/mounts/pvc-2c0cf7b1-3c45-11e9-b109-06d2222521f6": REMOVE

[2019-03-02 01:13] Prodian0013 opened #2750 "Publish Rook to OperatorHub.io"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Publish rook operator on operatorhub.io

**What is use case behind this feature:**
Ease of distribution

**Environment**:

[2019-03-02 06:51] mykaul commented on #2750
https://github.com/operator-framework/community-operators/pull/78

[2019-03-02 13:16] ZYecho commented on #1813
hey @jbw976, i'm trying to fix this issue, and I find the cockroachdb pod didn't need to talk to api-server, seems we can assign a empty servicecount to it to restrict it, not sure it's right, just ping to confirm, thanks. :)

[2019-03-02 16:15] sharkymcdongles opened #2751 "osdsperdevice does not work as intended"
When I set the osdsperdevice setting to 5 for my nvmes per documentation, I see the rookcmd passes the setting at cluster creation:

However only 1 osd is created per device.

Below are my settings.

[code]

I tried this on 0.9.2 rook and v13.2.4-20190109 and v12.2.11-20190201.

Documentation says this should work on either version:

[2019-03-02 19:57] sharkymcdongles commented on #2751
I have pulled the image and run the container locally. The ceph-volume inside does have the --osds-per-device setting. I also tried with different journal and database sizes with no success.

[2019-03-02 20:04] travisn commented on #2751
@sharkymcdongles i believe you're running into a bug in the `deviceFilter`. The v0.9.3 release coming out in the next hour or two will fix that issue. In the meantime, you could either try `useAllDevices: true` or list the individual devices under nodes in the `nodes` section.

[2019-03-02 20:56] travisn commented on #2751
My bad, i take that back. I was thinking of #2703, which is not merged yet and won't be in 0.9.3

[2019-03-03 12:37] ZYecho commented on #1809
hey @jbw976 I'm trying to fix this issue, since the secure installation need csr support, seems we need write a custom csr controller which help us to auto-approve the csr?

Refer
1. [ectd-operator issue](https://github.com/coreos/etcd-operator/issues/1465)
2. [etcd-operator kapprover](https://github.com/coreos/kapprover)

[2019-03-03 17:31] cuisongliu opened #2754 "ceph ssl disabled but dashboard service port name is still https-dashboard"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
when i use http dashboard. the svc.spec.ports[0].name is https-dashboard.

**How to reproduce it (minimal and precise):**
[code]
**Environment**:
* OS (e.g. from /etc/os-release): centos7
* Kernel (e.g. `uname -a`): 4.10
* Rook version (use `rook version` inside of a Rook Pod): v0.9.3
* Kubernetes vers

[2019-03-03 21:20] shayshahak opened #2755 "only one client (k8s node) is connected to the Ceph FileSystem"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
even though i have 3 workers in my cluster and the OSD, MON and MDS are running on all of them. only one node is able to be a client of the FileSystem. thus i have to use a nodeSelector and force all of my pods to run on the same Node
**Expected behavior:**
having all the nodes in the k8s cluster to be

[2019-03-03 21:39] sfxworks commented on #2526
[root@k1 ~]# kubectl get pods -n rook-ceph -l "app=rook-ceph-tools"
No resources found.
[root@k1 ~]# kubectl get pods -n rook-ceph-system -l "app=rook-ceph-tools"
No resources found.

Which pod am I looking for here? Using the same config and the doc and running into this same issue.

[2019-03-04 02:06] l10xbin commented on #2731
@galexrt I mean I used master branch(the latest code).  I did not hit a problem when loading image. Just the yaml(wordpress.yaml) file can't be apply in my k8s environment.

Anyway, I checked the rook-ceph-operator docker image which used  `Image: rook/ceph:master`

[2019-03-04 02:27] sourabh1031 commented on #2283
@rohan47 can i work on it

[2019-03-04 07:33] ganeshmaharaj commented on #2751
@sharkymcdongles not sure if this will help, but i just tested this with `v0.9.3` and it works. One caveat being i had to set multiple `osdsPerDevice` at a different location.
This is my sample cluster.yaml
[code]
With that i have 9 osds running in my cluster.
[code]

[2019-03-04 09:11] bordeo commented on #1125
I'm really interested in this feature because many helm chart (eg: jenkins) ask for existing persistent volume claim name and not for flexvolume.

[2019-03-04 09:27] mykaul commented on #1125
@bordeo - just for my curiosity, why would you use CephFS and not RBD for Jenkins jobs?

[2019-03-04 09:36] bordeo commented on #1125
Cause we need to share workspace across job pods that can run on multiple nodes. RBD is ReadWriteOnce or I'm wrong?

[2019-03-04 09:44] rohan47 commented on #2283
@sourabh1031 there is a PR by @tsullens for this https://github.com/rook/rook/pull/2315. We haven't seen any activity from him for a month. @jbw976 what do you suggest?

[2019-03-04 10:52] mykaul commented on #1125
@bordeo - no, you are not wrong - that's a good use case. I was just wondering as many times Jenkins jobs do not share workspace and then performance is quite likely be better using their own RBD backed XFS file system.

[2019-03-04 14:58] #2659 closed

[2019-03-04 15:53] #1750 closed

[2019-03-04 15:55] travisn commented on #1750
I believe this would be fixed already by #2631 and it was also included in the v0.9.3 release.

[2019-03-04 16:12] KashifSaadat opened #2756 "Deleting a PVC seems to be triggered twice by the Operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
On deleting a PVC, the Operator executes the command `rbd rm replicapool/...`, which succeeds, but then it executes a second time and fails because it doesn't exist anymore.

**Expected behavior:**
On deleting a PVC, the Operator should attempt the deletion and on success, not retry the execution again

[2019-03-04 18:02] #2373 closed

[2019-03-04 22:00] tsullens commented on #2283
@sourabh1031 @rohan47 I apologize as I've gotten a bit busy and never finished this up.
The PR as-is adds this functionality but lacks an appropriate integration test for it. I'm more than fine with @sourabh1031 finishing up the PR and maybe we should have a separate issue for the integration test?

[2019-03-04 22:42] galexrt commented on #2755
@shayshahak Could you post your Filesystem object yaml and an example application manifest.

Are you using a `volumes` entry for mounting the filesystem or "self made" CephFS PVCs?

[2019-03-04 22:44] galexrt commented on #2308
@travisn @jbw976 What about adding a `annotations` "list" like we currently have with the `placement` spec/structure?

[2019-03-04 22:46] galexrt commented on #2681
@dyusupov @maurya-m #2685 was merged. Could you please test again with current `master` and verify if the change fixes your issue.

[2019-03-04 22:47] galexrt commented on #2713
@colonwq Would you be up to provide a PR with a fix for this issue?

[2019-03-04 22:49] noahdesu commented on #2492
* luminous https://github.com/ceph/ceph/pull/26751
* mimic https://github.com/ceph/ceph/pull/26750
* (merged) nautilus https://github.com/ceph/ceph/pull/26635

[2019-03-04 23:02] galexrt commented on #2228
Added in #2737 and backported to v0.9 in #2739.

[2019-03-04 23:02] #2228 closed

[2019-03-04 23:05] galexrt commented on #2336
@travisn Added to 1.0 milestone, to ensure this has either been fixed or needs to be fixed.

[2019-03-04 23:07] #2662 closed

[2019-03-04 23:13] galexrt commented on #2377
Closing as issue is resolved for @planeo1105 and the issue is already pretty old.

***

@still-L If you should still have the issue and have ensured that you are using a tagged release and not, e.g., `master`, please open a new issue with logs and/or events of the crashing Pods.

[2019-03-04 23:13] #2377 closed

[2019-03-04 23:17] galexrt commented on #2538
@rsd35410 Currently Rook Ceph only runs one MGR Pod/instance due to previous issues with some modules, so it is not supported to scale up the service manually right now.

There is/was an issue to look into running more than one Ceph MGR though right now, it is not seen as a priority as Kubernetes will in normal cluster reschedule a Pod from a failed node in around 5m and 40s.

[2019-03-04 23:18] galexrt commented on #2329
Closing as the issue seems to be resolved.
Please comment if the issue still appears for you in the latest tagged release (`v0.9.3`).

[2019-03-04 23:18] #2329 closed

[2019-03-05 00:43] travisn opened #2760 "Intermittent failure with fs mount in TestFileStorageMountUser_SmokeTest"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
On March 1st, we started seeing intermittent failures in the master builds in the test `TestFileStorageMountUser_SmokeTest`.

The issue has been seen in builds 977, 978, 979, and [984](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/master/984/pipeline/41/) thus far. Builds 980-98

[2019-03-05 00:47] anguslees commented on #1125
So just to clear something up: **rook/cephfs works just fine via PVCs**, and has done so for several releases.

Here's a rook/cephfs PVC I use daily (from jenkins workers as it happens):
[code]

The PVC can also be created from within a StatefulSet `volumeClaimTemplate` or anywhere else that PVCs show up in the k8s API.

**What doesn't work** (right now) with rook/cephfs is _dynamic provisioning_.

[2019-03-05 01:04] travisn commented on #2336
The device filter was actually just fixed with #2703, which will be included in 1.0.

[2019-03-05 01:04] #2336 closed

[2019-03-05 01:20] travisn commented on #2308
@galexrt agreed, looks like it would follow the same pattern

[2019-03-05 04:58] shayshahak commented on #2755
@galexrt
the Filesystem yaml: https://raw.githubusercontent.com/shayshahak/Rook-for-AKS/master/filesystem.yaml
application example: https://raw.githubusercontent.com/shayshahak/Rook-for-AKS/master/deploy.yaml

I'm using Volumes for the entry mounting, as shown in the "K8s Registry Sample"

[2019-03-05 07:37] galexrt commented on #2560
This is not a Rook issue.

Have you followed the docs and created/applied the Prometheus operator manifest(s)? https://rook.io/docs/rook/v0.9/ceph-monitoring.html

[2019-03-05 07:44] galexrt commented on #2396
Closing as question has been answered.

[2019-03-05 07:44] #2396 closed

[2019-03-05 07:52] galexrt commented on #2731
@l10xbin I was unable to reproduce the issue in Minikube 1.12.3.
Could you please check if your Kubernetes cluster is not having issues? The `apps/v1` APIs are already in K8S since around 1.9 - 1.10 or so (if not longer).

Also be sure to verify that it is not a "cache" problem, by deleting the `$HOME/.kube/cache/` and `$HOME/.kube/http-cache/` directories.

[2019-03-05 08:57] galexrt commented on #2591
@mhaluska Can you please post the whole logs. LVM package(s) are installed inside the Ceph container image used.

What Rook version are you running?

[2019-03-05 10:21] galexrt commented on #2308
@travisn @jbw976 One more question is open, is On which objects should the annotations be set? Only Deployments, StatefulSet, etc. and their corresponding Pods or on "all" objects, e.g, Services, ConfigMaps too?

I'm personally favoring the former, as normally the use case with annotations is to have information on the actual workload for e.g., DataDog, Prometheus (we set those in the MGR right no