[2019-07-03 08:19] ekuric opened #3386 "PVc created on top of csi-cephfs are not removed from system after PVCs they were bound to are removed."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
PVs created on top of `csi-cephfs` storage class are not deleted in timely fashion ( I mean `kubectl get pv` will show PVs hours after project with pods / pvc is removed.

**Expected behavior:**
PVs to be deleted.

**How to reproduce it (minimal and precise):**

Create many pods and bound one PVC to ea

[2019-07-03 08:24] sfxworks commented on #3178
Thanks! I checked out release-1.0 before I started the upgrade. Experience among repositories has taught me to not use master, but I'll make an exception this time. Thanks for clarifying!

[2019-07-03 15:20] noahdesu commented on #3178
@sfxworks it appears the fix is in v1.0.2. Why would you use master?

[2019-07-03 15:25] rohan47 commented on #3178
The fix was backported into release 1.0
https://github.com/rook/rook/pull/3272

[2019-07-03 16:27] w1ndy commented on #2047
I wonder if it's possible to use a specific partition (e.g. sda2) on a disk to bootstrap Ceph with Rook?

[2019-07-03 16:53] Madhu-1 commented on #3386
@ekuric if there a functionality issue related to  ceph-csi please raise it in the ceph-csi repo, if some things related to deployment please  create an issue in rook

[2019-07-03 18:30] dimm0 commented on #3383
Ok, closing. Thanks

[2019-07-03 18:30] #3383 closed

[2019-07-03 18:33] sfxworks commented on #3178
[code]
Interesting! So to confirm, I'd just
[code]

[2019-07-03 18:37] noahdesu commented on #3337
In 1.0 when I install with devices, I get an extra OSD if the directories entry is in the cluster yaml. You could look in the dataDirHostPath directory on a node and see if it is populated with files.

[2019-07-03 18:40] noahdesu commented on #3178
Looks like that is the recommended method:

https://github.com/rook/rook/blob/master/Documentation/ceph-upgrade.md#patch-release-upgrades

[2019-07-03 18:53] dimm0 commented on #3337
I see standard files like before in it...
Ok, I guess it's expected then. Closing.

[2019-07-03 18:53] #3337 closed

[2019-07-03 19:36] phlogistonjohn opened #3387 "Automatically manage secrets for Ceph-CSI"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

As previously lightly discussed in #3373 and #3358 as part of making Ceph-CSI well integrated with Rook, Rook should automatically handle the secrets that need to be consumed by ceph-csi in order to provision volumes, etc.

Currently the workflow requires the human to run ceph commands (in a toolbox po

[2019-07-03 19:38] phlogistonjohn commented on #3387
Ping: @ShyamsundarR @Madhu-1 @travisn @humblec et al.

[2019-07-03 20:08] travisn commented on #2913
This should just be a matter of adding the csi settings to the operator as seen [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator-with-csi.yaml#L43-L54). When these become the default in operator.yaml, they will also be set in the rook-ceph helm chart. This is expected with the 1.1 release.

[2019-07-03 21:39] BlaineEXE commented on #3379
Directory-based OSDs have never been supported in Ceph for production, and they are problematic for the reasons detailed in the document. This was only ever meant to be a means of testing Ceph clusters locally via `vstart`. I haven't heard anything about planned Filestore deprecation, though it is in sustaining mode at this time.

As for the try-it-out experience, I think we have done users a diss

[2019-07-03 21:46] BlaineEXE commented on #3379
Bluestore has the **very unsupported** ability to install OSDs into files. This is something we have considered incorporating for testing, and the discussion is largely captured alongside this comment: https://github.com/rook/rook/pull/3247#discussion_r294401090

This isn't out of the question, but the implementation would likely be a file fixed to a 10GB size and enabled via an environment variab

[2019-07-03 22:07] jbw976 commented on #3379
What document are you referring to @BlaineEXE? I don't see a link to it anywhere, could be blind :)

[2019-07-03 22:20] BlaineEXE commented on #3379
Sorry. This initially was a document, and then I just copied it into what is now the main body of the issue I created, and I was still thinking of it as a document.

[2019-07-04 00:38] kfox1111 commented on #2913
Is it possible to have the rook-ceph helm chart just depend on the ceph-csi chart directly rather then load up the driver out of band?

[2019-07-04 05:05] jbw976 commented on #3379
@dexhorthy can you point this issue towards whoever at Replicated may want to know about this proposal to deprecate directory based OSDs?  I'm not sure if Replicated is still using Rook-Ceph and directory based OSDs, but I wanted to make sure you all at least got a chance to weigh in if you are.  Thanks!

[2019-07-04 06:07] #1659 closed

[2019-07-04 06:08] travisn commented on #1659
Will be included in v1.0.3

[2019-07-04 06:08] travisn commented on #2944
Will be included in v1.0.3

[2019-07-04 06:08] #2944 closed

[2019-07-04 06:08] travisn commented on #3140
Will be included in v1.0.3

[2019-07-04 06:08] #3140 closed

[2019-07-04 06:55] leseb commented on #3140
We still need this https://github.com/rook/rook/pull/3389 and its backport.

[2019-07-04 06:56] #3357 closed

[2019-07-04 07:31] leseb commented on #3118
@noahdesu might be but I doubt.

[2019-07-04 07:37] rohan47 commented on #3178
@sfxworks Is it solved for you? If it is then I will close the issue.

[2019-07-04 07:57] humblec commented on #3387
@phlogistonjohn Thanks for the abstract of the issue.

As discussed earlier, Indeed taking the control of secret to "Rook" would be the desired way.

I think the approach of controlling `secret` based on  pool cr looks fine.  Are we foreseeing any issues with this approach? One caveat I can see here is, the lifecycle of these objects are not depended on each other , so there is a possibility for a

[2019-07-04 07:59] leseb commented on #2543
Again, yes, please let's not enforce/set `min size` in any way. Just let Ceph do it and the dev/admin change it if necessary.

[2019-07-04 09:05] #3178 closed

[2019-07-04 09:12] #3384 closed

[2019-07-04 09:16] zhangxingdeppon opened #3390 "configuring osd dirs: map[ceph-storage-dir -1]"
**Is this a bug report or feature request?**
* Bug Report
Good afternoon,buddy,I have faced a problem about rook ceph ,can you help me?
**Deviation from expected behavior:**
I want to add storage node,but rook-ceph-osd-prepare always running not Completed
The situation is as follows

![image](https://user-images.githubusercontent.com/16789841/60653769-42c7c600-9e7d-11e9-9b3b-98e1f10204f0.png)

 th

[2019-07-04 09:29] leseb commented on #3390
Can you paste your cluster CR?

[2019-07-04 09:30] leseb commented on #1366
Agreed, and this is currently being fixed here :-) https://bugzilla.redhat.com/show_bug.cgi?id=1725256

[2019-07-04 09:43] ashishranjan738 commented on #2865
This issue needs to be reopened.

[2019-07-04 09:58] leseb commented on #2865
@ashishranjan738 why?

[2019-07-04 11:49] mmack opened #3391 "ceph: PV created with 500M always in pending state"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Block device is never in ready state

**Expected behavior:**
PV should become ready

**How to reproduce it (minimal and precise):**
1. Create a PVC with "storage: **500M**"
2. wait until the end of the world. Ceph created the block device, but the PV is never getting ready.
3. Create another PVC with "

[2019-07-04 11:55] sfxworks commented on #3178
This solved my issue, thanks!

[2019-07-04 12:11] zhangxingdeppon commented on #3390
I'm sorry,I don't known the meaning “CR”,I guess it means "cluster  status" ,
<pre><code>
[root@D21114U24-61-149 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:39:04Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: versio

[2019-07-04 12:23] leseb commented on #3390
Cr = Custom Ressource, the yaml file you used to create your cluster. Thanks.

[2019-07-04 12:31] leseb commented on #3138
@djgalloway it'll be in 1.0.3.

[2019-07-04 12:33] #3381 closed

[2019-07-04 14:17] zhangxingdeppon commented on #3390
ok,I got it.
this is my yaml file.

<pre><code>
[root@D21114U24-61-149 ceph]# cat cluster.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: rook-ceph
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-ceph-osd
  namespace: rook-ceph
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-ceph-mgr
  namespace: rook-ceph
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1b

[2019-07-04 15:01] dexhorthy commented on #3379
Hi @jbw976 -- thanks for the ping. I believe we're still using directory-backed OSDs. Gonna ping @areed and @emosbaugh on this one as well

[2019-07-04 15:34] leseb commented on #3379
Sorry to be picky but I think we need 2 issues, one for deprecating osd based directory and one for deprecated old fashioned prepared filestore OSDs.

Everything I've read so far makes sense and as always there are pros and cons. Even if someone users will suffer from our decision, I'm still in favor of bringing the best possible experience to deploy Ceph properly in a Kubernetes environment. Even

[2019-07-04 18:05] ashishranjan738 commented on #2865
ahh we faced this today in a setup

[2019-07-04 18:06] ashishranjan738 commented on #2865
a mon pod log ```2019-07-04T04:54:51.001673877Z debug 2019-07-04 04:54:50.999 7fb4129c4180  0 ceph version 14.2.1 (d555a9489eb35f84f2e1ef49b77e19da9d113972) nautilus (stable), process ceph-mon, pid 1
2019-07-04T04:54:51.001673877Z debug 2019-07-04 04:54:50.999 7fb4129c4180  0 pidfile_write: ignore empty --pid-file
2019-07-04T04:54:51.041567273Z debug 2019-07-04 04:54:51.039 7fb4129c4180  0 load: j

[2019-07-04 18:08] ashishranjan738 commented on #2865
operator pod logs
[code]

[2019-07-05 06:00] travisn commented on #3130
We have more runners now!

[2019-07-05 06:00] #3130 closed

[2019-07-05 08:33] zhangxingdeppon commented on #3390
And I want to know other problem’s answer
How do I delete  rook-ceph-osd-prepare？for example rook-ceph-osd-prepare-d21112u04-61-142-kdzvl.
I have tryed to delete the job "rook-ceph-osd-prepare-d21112u04-61-142" , the cm "rook-ceph-osd-d21112u04-61-142-status" ,
In addition ,I have already commented on the clsuter yaml file section.
<pre><code>
###############################################
#    -

[2019-07-05 08:37] #2005 closed

[2019-07-05 08:58] felixx opened #3394 "no osd and mgr created"
`k8s version: v1.15.0`
`rook version: latest`
all operations are following the quick start guide, but no mgr and osd created, how to troubleshoot this problem, thanks!
[code]
operator logs:
[code]

[2019-07-05 09:12] leseb commented on #3394
Monitor logs please.

[2019-07-05 09:26] felixx commented on #3394
[root@host1 ceph]# kubectl logs rook-ceph-mon-a-5c866f5d8d-tb9cg -n rook-ceph
debug 2019-07-05 21:56:36.339 7f9cc0242180  0 ceph version 14.2.1 (d555a9489eb35f84f2e1ef49b77e19da9d113972) nautilus (stable), process ceph-mon, pid 1
debug 2019-07-05 21:56:36.339 7f9cc0242180  0 pidfile_write: ignore empty --pid-file
debug 2019-07-05 21:56:36.382 7f9cc0242180  0 load: jerasure load: lrc load: isa
debu

[2019-07-05 09:41] leseb commented on #2865
@rjfd any idea? Thanks!

[2019-07-05 09:50] ashishranjan738 commented on #3362
facing this issue aswell

[2019-07-05 10:02] ashishranjan738 commented on #3362
logs
[code]

[2019-07-05 10:06] xieyanker opened #3395 "ceph: scale down osd does not work"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Hello, I deployed rook with 3 osd devices at the beginning, each node has 1 `sdd` device.
[code]
[code]
Then, I added a device `sde` to master1, I got 4 osds, no problem.
[code]
[code]

Finally, I wanted to remove `sde` osd, I recovered rook-ceph-cluster.yaml to begin, and I used `kubectl apply -f roo

[2019-07-05 12:50] davi5e commented on #2005
Is it possible to do this now? :)

@leseb

[2019-07-05 13:04] leseb commented on #2005
@davi5e yes, when Rook 1.1 will be out.

[2019-07-05 13:33] l4z4rus opened #3397 "rook-ceph-osd-prepare skipping all devices"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-ceph-osd-prepare skips all devices and osd are not created

**Expected behavior:**
rook-ceph-osd-prepare creates and configures ceph volumes

**How to reproduce it (minimal and precise):**

rook-ceph-osd-prepare pod logs:

2019-07-05 13:23:19.216150 I | cephosd: creating and starting the osds
2019

[2019-07-05 13:37] leseb commented on #3397
Please share your `cluster.yaml`.

[2019-07-05 13:43] leseb commented on #3390
Are you actually using `Rook v0.9.0-190.g818bf38`, could you update to a more recent version?

[2019-07-05 14:28] #3137 closed

[2019-07-05 14:40] #3374 closed

[2019-07-05 14:56] l4z4rus commented on #3397
I solved this issue attaching a new disk without partitions and filesystem.

[2019-07-05 14:56] #3397 closed

[2019-07-05 16:00] travisn commented on #3245
Will be included in v1.0.3. Merged with #3393

[2019-07-05 16:00] #3245 closed

[2019-07-05 16:28] ryholt opened #3404 "LoadBalancer IPs rather than ServiceIPs"
Similar to #966, I'm looking for ways to access the rook-ceph storage inside of my k8s cluster from external. I'm using Metallb and would prefer to expose the service via a LoadBalancer IP configuration rather than using HostNetwork.

I don't believe this is currently an option as the [cluster.yaml](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L44-L46) onl

[2019-07-05 17:11] djgalloway commented on #3138
https://github.com/rook/rook/commit/18cca312059f9699dd89165558c91b721ec5878b

[2019-07-05 17:39] noahdesu commented on #3362
@ashishranjan738 do you think we could sync up and share access to the cluster that's experiencing this to debug it?

[2019-07-05 19:35] noahdesu commented on #3391
I can confirm this is happening locally. I suspect it is a matter of a mismatched sizes during the binding process. Still trying to figure out how all that works.

[2019-07-05 20:01] nabokihms commented on #3391
https://github.com/rook/rook/issues/2922
Same problem here

[2019-07-05 20:04] travisn commented on #2274
Ok, let's reopen if we can repro on v1.0.2 or newer!

[2019-07-05 20:04] #2274 closed

[2019-07-05 20:22] noahdesu commented on #3391
thanks @nabokihms i was looking for that ticket. i think i know what's happening, so maybe we can get a fix in quickly.

[2019-07-05 20:44] noahdesu commented on #3391
I believe that the issue here is caused by rook's rounding of PV sizes.

`500M = 500,000,000 bytes`

however, when the PV is created after Rook adjusts the size, the quantity for the PV is

`quantity={i:{value:499122176 scale:0} = 499,122,176 bytes`

and according to the documentation on PV/PVC binding, the PVC will wait around for a sufficiently large PV.

[2019-07-05 21:20] travisn commented on #2913
The current approach is that when the operator starts, it should start related components so things work out of the box with a supported version, making it so the admin shouldn't have to worry about an extra step for the csi driver configuration. If the csi driver configuration is separate, it's another possibility for misconfiguration and headache. Do you have a suggestion for how to keep it inde

[2019-07-05 21:44] netzzer opened #3408 "HEALTH_WARN crush map has legacy tunables (require firefly, min is hammer)"
Ceph in Warn state using image: ceph/daemon-base:latest-nautilus-devel with rook:master branch.

**Is this a bug report or feature request?**
* Bug Report
[code]

**Environment**:
[code]

[2019-07-05 21:47] travisn commented on #3387
What about the following flow?
- The operator creates the rook-ceph cluster
- The operator generates a cephx user called `client.rook-rbd` (or similar)
- The operator saves the user key in a secret called `csi-rbd-secret` in the same namespace as the cluster
- All storage classes would use the same well-known `csi-rbd-secret` for accessing pools in the cluster.

Seems like we can trust the csi dri

[2019-07-05 22:10] dimm0 commented on #3106
Are we still waiting here?

[2019-07-05 22:52] jack4it commented on #2865
Saw this exact error today in a cluster. `ceph mon_status` timed out always

[2019-07-06 06:27] nabokihms commented on #3106
PR was merged 17 days ago, so... I think now We are waiting for new docker nautilis image here https://hub.docker.com/r/ceph/ceph/tags

[2019-07-06 15:35] #2909 closed

[2019-07-07 09:36] mykaul commented on #3408
Dup of https://github.com/rook/rook/issues/3138 ?

[2019-07-07 11:13] hansbogert commented on #3304
Not sure if this can be explained by #3140, but the non-deterministic behaviour I saw actually sort of deterministic:

As long as my OSDs were co-scheduled with a monitor on a node, then the problem did not arise.

[2019-07-07 13:19] zhangxingdeppon commented on #3390
yes, the version is rook: v0.9.0-190.g818bf38
<pre><code>
sh-4.2# rook version
 rook: v0.9.0-190.g818bf38
</code></pre>

[2019-07-07 13:59] strowi opened #3411 "rgw-store-main: error parsing int: 80+443s"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
object-store not available
[code]

**Expected behavior:**
s3 should be accessible

**How to reproduce it (minimal and precise):**
- have working ceph-object-store config on 1.0.2  (see here https://github.com/rook/rook/issues/3245), upgrade image to 1.0.3
- above error shows up in rgw-store logs and ob

[2019-07-07 20:46] galexrt commented on #3411
@strowi Could you post your Ceph ObjectStore yaml here.

[2019-07-07 21:18] strowi commented on #3411
@galexrt here it is. The rest of the configuration can also be found in the above linked issue.

[code]

[2019-07-08 02:15] felixx commented on #3394
when I redo all the operations, it works now
[code]

[2019-07-08 02:15] #3394 closed

[2019-07-08 03:01] zhangxingdeppon commented on #3390
Could you give me some ideas ?How do I operate it?
I can't find  more knownledge from internet document,I am bad at it，Thanks .

[2019-07-08 05:38] galexrt commented on #2937
@Stefanbs23 Check the logs of the Rook (Ceph) Agent and search for warning messages.

What kernel are the machines mounting the CephFS running? Below 4.7?

[2019-07-08 06:02] galexrt commented on #2849
Still a good to have

[2019-07-08 07:35] leseb commented on #3390
You might be hitting a bug that was resolved long ago, please see: https://rook.io/docs/rook/v1.0/ceph-upgrade.html

[2019-07-08 09:23] zhangxingdeppon commented on #3390
ok，I have seen it,thank you  very much
I'm not sure if I have understood it,means if i want to resolve it,the only operation is to do the upgrade. in fact，because of production env，so it will take some time before we can upgrade it，if there are other ways to avoid it,and what is the condition triggered by the bug?
I am sorry that I have so many questions to ask.LOL，thanks.

[2019-07-08 10:05] leseb commented on #3138
@djgalloway new fix incoming.`

[2019-07-08 10:05] leseb commented on #3408
Indeed @mykaul , dup of #3138.

[2019-07-08 10:05] #3408 closed

[2019-07-08 10:21] clkao commented on #2047
@hSATAC did some more digging on this. while #2100 would allow the dm-0 device to be passed to osd preparation, `ceph-volume lvm batch` does not like a LV in two places that requires patching.
- dm name resolution & rotational metadata population bug triggering KeyError: 'rotational'
- there's a condition to skip LV altogether

However, it is possible to create a linear md0 device on top of the LV

[2019-07-08 10:30] wusphinx commented on #1854
@travisn you are right, I solved it by set
[code]
in `operator.yaml`

[2019-07-08 10:38] rjfd commented on #2865
Can you provide the ceph version of all daemons and clients? Is this easily reproducible?

[2019-07-08 11:25] ron1 commented on #3351
Pls make this an optional feature in order to continue supporting older, non-cloud deployments without pvs.

[2019-07-08 13:06] ron1 commented on #3411
According to the Ceph RGW http frontends doc http://docs.ceph.com/docs/master/radosgw/frontends/#id4, the beast frontend supports separate port properties named port and ssl_port while civetweb supports a single port property with 's' suffix to indicate ssl and '+' to separate multiple ports. Rook version 1.0.3 is the first to enable the beast frontend. In order to fix this problem, the operator w

[2019-07-08 13:40] leseb commented on #3411
@ron1 your analysis is correct, I'm writing a patch as we speak. Unfortunately, there is no workaround at this point, our only option is to release 1.0.4 rapidly.

[2019-07-08 15:03] sdiebler-f9 commented on #3140
I have tried every combination of rook 1.0.3/master and cephalopods 14.2.1/latest-nautilus and I still have the same problem with OSD trying to bind to the wrong IP address.
If the fix is depending on https://github.com/ceph/ceph/pull/28589 to be resolved, then it makes sense that I still see the issue and maybe this should not be marked closed.

[2019-07-08 15:06] leseb commented on #3140
@sdiebler-f9 you need to test against an Octopus image at this point. We are still waiting for the backport. So the only place that has the fix is Ceph master at this point.

[2019-07-08 15:11] sdiebler-f9 commented on #3140
Right, I tried ceph-master too but rook flags octopus as unsupported and won't install it. Is there a way to force it at least for testing (can't use dev code in production) ?

[2019-07-08 15:12] leseb commented on #3140
Set `allowUnsupported: true` in your CRD.

[2019-07-08 16:55] noahdesu commented on #3351
@ron1 we plan to still support local devices using PVCs bound to devices in local storage classes. any issue there for your environment?

[2019-07-08 17:13] ron1 commented on #3351
@noahdesu Local Persistent Volumes did not GA in Kubernetes until 1.14. I would hope Rook continues to support Kubernetes 1.11+ for a significant period of time. Is the Rook plan for supporting Kubernetes versions documented anywhere?

[2019-07-08 17:38] whereisaaron commented on #3351
@ron1 there is a handy tool that will create the local PV's for you:
    https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner

Good point about GA, although local PVs have been beta since 1.10 a year ago, so not too new-fangled 😄
    https://kubernetes.io/blog/2018/04/13/local-persistent-volumes-beta/

1.15 is GA, so 1.11 is EOL already and no longer supported, by the [Kubernete

[2019-07-08 17:43] gtorre commented on #3140
So we shouldn't upgrade to 1.0.3 if we're plagued by this issue? Right now we're running `ceph/daemon-base:latest-nautilus-devel` and `rook/ceph:master`.

[2019-07-08 17:43] noahdesu commented on #3351
I believe that sig-storage-local-static-provisioner is going to be used for the OSD persistent volume work (https://github.com/rook/rook/blob/master/design/storage-class-device-set.md), and for monitors we don't actually need raw volumes--just a directory on the host will be fine.

[2019-07-09 00:27] #3294 closed

[2019-07-09 03:57] Cloudzp commented on #3157
How to temporarily deal with this problem, I also encountered this problem, when I restart the docker, cash back rook-ceph-osd pods status is CrashLoopBackOff, check the pod log only get log `failed to fetch mon config (--no-mon- Config to skip)`
![image](https://user-images.githubusercontent.com/25190767/60858312-576eda00-a240-11e9-9160-0bf028ba64c5.png)

rook-version:
[code]
kubernetes-version:

[2019-07-09 04:41] hSATAC commented on #2047
Created #3418

By creating a linear raid on the lv and passing the linear disk to `ceph-volume`, we could use the logical volume as OSD device without patching `ceph-volume` command.

**Create a linear device**
[code]

**Final result after ceph-volume provision**
[code]

Tested against `ceph/ceph:v13.2.4-20190109` image.

[2019-07-09 06:18] rohan47 opened #3421 "Add ceph version check for osd safe-to-destroy"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
It's not 100% safe since before Nautilus [`osd safe-to-destroy`](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/client/osd.go#L157) command didn't have any json output. A version check would have been nice.
As discussed [here](https://github.com/rook/rook/pull/3117#discussion_r298617694)
**Ex

[2019-07-09 07:38] #2922 closed

[2019-07-09 07:38] #3391 closed

[2019-07-09 07:39] #3138 closed

[2019-07-09 07:53] leseb commented on #3140
@gtorre you should always upgrade if a new version is available :-). Right now, the only Ceph version that has the fix is Ceph master (Octopus dev), without that you don't have any fix.

When https://github.com/ceph/ceph/pull/28589 gets merged, `ceph/daemon-base:latest-nautilus-devel` will get the fix and eventually/hopefully Ceph 14.2.2 which is imminent.

[2019-07-09 08:32] leseb commented on #3390
Perhaps this rings a bell @travisn?

[2019-07-09 08:58] caisan opened #3423 "rook delete osd without reason"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
1. ceph mark osd.x as out
2. rook delete the pod without any log or reason.

**Expected behavior:**
osd run as normal
**How to reproduce it (minimal and precise):**

1. create a rook cluster with multi-node by below command:
```kubectl create -f operator.yml```
```kubectl create -f cluster.yml```

**En

[2019-07-09 09:34] #3411 closed

[2019-07-09 09:38] pkavajin commented on #2551
Actually, I'm already running v1.0.2.
Feels a bit fishy, seems like the operator can provision volumes either for one cluster or another, either I'm getting the error for the one cluster or the other, with a restart sometimes switching the cluster it handles. (Can still be total unrelated tho).

Is there some debug information I could provide which might help to give some clearness whats up here?

[2019-07-09 09:51] leseb commented on #2551
It'll be helpful to get a reply to that question. Thanks.

[2019-07-09 09:51] leseb commented on #3423
Please share your operator's log.

[2019-07-09 11:33] ShyamsundarR commented on #3387
Overall @phlogistonjohn I agree with the need and secret generation, to ease total steps before a StorageClass is created :+1:

I would say we can use this as the default, assuming we can grant this single user more rights as needed when other pools are created (in the RBD case).

For the advanced user (security conscious?) we possibly want an option to create a per rbd pool (or cephFS fs, in the

[2019-07-09 13:29] leseb commented on #2296
@giovanism still interested to work on that?

[2019-07-09 13:30] ron1 commented on #3351
@whereisaaron I would expect projects like Rook to support deprecated Kubernetes releases as long as the release is supported in at least one of the major Kubernetes distributions. I see Rook CI continues to test against Kubernetes 1.10+.

It seems like the community treats Kubernetes 1.11 in particular as an informal Long-Term Support version. On OperatorHub.io, I could only find one Operator tha

[2019-07-09 13:37] UnixBoy1 commented on #3351
Yes this would be great to have both.

[2019-07-09 14:30] carlinhos700 commented on #3356
I have the same problem

[2019-07-09 14:52] ktdreyer commented on #2628
@alfredodeza , looks like a fix went into ceph-medic instead. Should we close this rook ticket now?

[2019-07-09 15:04] #2628 closed

[2019-07-09 15:06] BarthV commented on #1584
:+1:

[2019-07-09 15:25] #2670 closed

[2019-07-09 16:11] BlaineEXE commented on #2587
@travisn I think our handling of `kubectl cordon` is in a reasonable place. But I haven't tested `kubectl drain`. We should consider what proper handling of a drain is for a Ceph cluster. Likely, everything should be rescheduled to different nodes when possible. OSDs couldn't be rescheduled, and we shouldn't assume that drain means we should delete OSDs. I'm honestly not sure about mons though.

I

[2019-07-09 16:27] immesys commented on #2587
My opinion on what cordon/drain should mean: move all movable services off that node (reschedule mon/mgr pods) and out/down (but don't delete) the OSDs.

This is what you would want if you are cordoning for the purposes of upgrade and want your system to remain healthy during the upgrade. (Kops upgrade kills the old node and makes a new one, but presumably the user has a script that re-attaches th

[2019-07-09 17:28] whereisaaron commented on #3351
That's great @ron1. So if Rook tests local PV support with the automatic local provisioner on current CI, you'll know it will work for you too.

Yep, that makes sense. But I personally don't see 1.11 support making it to Christmas 😄

I had a quick look around at Cloud providers this morning. Azure has the longest tail, supporting four minor versions, everyone else I checked supports three minor ve

[2019-07-09 19:05] dimm0 commented on #2254
@travisn is this broken again in 1.0.3? My root folders are not chown'ed

[2019-07-09 19:18] dimm0 commented on #2254
Hm... Seems like it stopped chown'ing the root folder 2 weeks ago. I'm looking at the PVC's created

[2019-07-09 19:30] dimm0 commented on #2254
From agent logs:

[code]

FsGroup is empty, while pod has:

[code]

[2019-07-09 19:38] dimm0 commented on #2254
Could be update to k8s 1.15 that broke this...

[2019-07-09 19:54] djgalloway commented on #3138
Fix confirmed! :champagne:

[2019-07-09 20:40] dimm0 commented on #2424
Still the same :(

[code]

[code]

[2019-07-09 21:14] ron1 commented on #3351
@whereisaaron At least one relevant, non-cloud K8s provider plans to support their 1.11-based distribution until June 2022 according to https://access.redhat.com/support/policy/updates/openshift.

[2019-07-09 21:52] Bessonov commented on #592
Activity!

[2019-07-09 22:44] omidraha commented on #592
Github, Developers, Robots

[2019-07-10 00:34] mabushey opened #3424 "Rook 1.0.3 throws 500 errors in the ceph dashboard"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In 0.9.3, the dashboard worked correctly. In 1.0.3, it comes up and somewhat works, but throws 500 errors in the application:
![2019-07-09_Ceph_Dashboard_500s](https://user-images.githubusercontent.com/7863135/60931241-bac33100-a26d-11e9-9ad3-cde8be82aed3.png)

**Expected behavior:**
No red 500 error b

[2019-07-10 00:41] jordanfowler commented on #3424
I'm also seeing this while not using istio.

[2019-07-10 01:04] noahdesu commented on #3424
Please provide the operator and mgr pod logs

[2019-07-10 02:11] dingsongjie opened #3425 "Rook-ceph-osd Back-off restarting"
I don't know how he works, I can only come here to ask for help.
**my-cluster-yaml**
[code]
**config-init log**
[code]

**copy-bins log**
[code]
**mar logs**

[code]
**operator logs**

[code]
thare are no log in osd container

[2019-07-10 02:52] billimek commented on #3132
@vitobotta this sounds like a situation where the client workloads and rbd (OSDs) are co-located in the same kernel space?

There is apparently a 'commonly known' issue with ceph when you run clients doing heavy IO in the same kernel space as ceph (OSD) itself. Here is some additional information:

From the [ceph documentation](http://docs.ceph.com/docs/master/rados/troubleshooting/troubleshooting

[2019-07-10 07:05] Simiil opened #3426 "Rook OSDs for ceph fails to start after reboot"
After rebooting the kubernetes cluster, the OSD nodes do not start correctly.

I followed the getting started guide for ceph, and set a device (`sdb` in my case).
The kubernetes cluster had to reboot for unrelated reasons, and after that the OSD nodes are not starting up.
The logs of the prepare nodes all look like this:

[code]

which seems to indicate that `sdb` is not used by the cluster. The O

[2019-07-10 07:07] leseb commented on #2587
I wouldn't expect Rook to move any pods from a node that has been "cordoned", cordoning a node could a pre-step to maintenance but not necessarily. Someone could also cordon a node to isolate it and investigate a potential issue.

However, the cordor + drain combination is still valid to reduce the number of pod to move before maintenance.

In the end, I wouldn't move anything if a node is not dra

[2019-07-10 07:11] Simiil commented on #3426
my `cluster.yaml` looks like this:

[code]

[2019-07-10 10:09] llussy opened #3427 "k8s pvc and ceph-rbd image How to correspond?"
* Feature Request

**I use ceph Storageclass. through storageclass created pvc How to correspond ceph rbd image?**

### in k8s
[code]

# in ceph
[code]

**I can't find the correspondence between k8s pvc and ceph-rbd image.   Looking for help**

[2019-07-10 10:56] bengland2 commented on #3132
@vitobotta  It is not clear to me why there would be such conflicts with Bluestore, since Bluestore is not competing for memory with kernel clients (except in TCP stack perhaps).   Perhaps the documentation referenced above is now obsolete for bluestore, will take a look.   But look out for CGroup memory and CPU limits - you can control these for Ceph daemons in your cluster.yaml, kubectl describe

[2019-07-10 12:45] mykaul commented on #3359
@rohan47 - any updates?

[2019-07-10 12:47] rohan47 commented on #3359
Will address the comments on https://github.com/rook/rook/pull/3420 by EOD

[2019-07-10 13:41] k0da opened #3428 "rook schedules a prepare job after node is removed"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
after a node got removed from rook, rook realizes OSD needs to be removed from a node, osd deleted but operator creates a job which fails to run.
https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/osd/osd.go#L420

After the node is back, osd is not configured in a desired way, osd fails

[2019-07-10 14:19] galexrt commented on #3427
@llussy The mapping in Kubernetes is the following:
[code]

`kubectl get pv` will give you the list of PersistentVolumes in your Kubernetes cluster.

[2019-07-10 14:37] whereisaaron commented on #3351
Thanks @ron1, I have added Redhat in above. Nice to have a summary like this in one place.

That post explains that with OpenShift 4.x Redhat are also supporting only three minor versions at a time, same as other providers. It is true that the old OpenShift 3.x offered multi-year support for minor releases. Something they apparently regret doing. 😄

[2019-07-10 14:38] llussy commented on #3427
@galexrt   thanks,Maybe I didn't describe it clearly.

 I can get PV list,But I don't know pv name it matches which ceph RBD？

The following  PV name is `pvc-0a4ed4af-87fe-11e9-acde-005056bd5fee` ,I can't find it in ceph.

[code]

[2019-07-10 15:22] leojonathanoh commented on #2917
@stekylsha @Harold2017 I had the same error on rook `0.9.3` on ubuntu 18.04 although my volume claim was 1Gi. Reading [this issue](https://github.com/rook/rook/issues/1758#issuecomment-397279641) I realized I needed to make sure the kubelet node running the `StatefulSet` had `xfsprogs` package installed: `apt-get install xfsprogs`. For centos the package would be `e4fsprogs`.

I deleted my `Statef

[2019-07-10 16:39] #2925 closed

[2019-07-10 17:20] galexrt commented on #3427
@llussy Have you already looked at the PV object in its entirety?

For Flexvolume, example:
[code]
The `.spec.flexVolume.options.image` is the PV name which normally should also be the name of the RBD volume.

In your case the RBD volumes are having `kubernetes-image-` as a prefix instead of just `pvc-` for some reason. Are you using Ceph CSI instead of Flexvolume to dynamicly provision the RBD vo

[2019-07-10 17:39] #2915 closed

[2019-07-10 17:42] noahdesu commented on #3132
Related to #2074 ?

[2019-07-10 17:46] noahdesu commented on #3426
duplicate ? https://github.com/rook/rook/issues/3289

[2019-07-10 17:55] noahdesu commented on #3425
please provide the full operator log, ceph status from the toolbox, and the osd prepare and normal osd logs (try --previous if they crashed).

[2019-07-10 18:02] mabushey commented on #3424
[2019-07-10_rook-ceph-mgr-a.log](https://github.com/rook/rook/files/3378846/2019-07-10_rook-ceph-mgr-a.log)
[2019-07-10_rook-ceph-operator.log](https://github.com/rook/rook/files/3378847/2019-07-10_rook-ceph-operator.log)

[2019-07-10 18:27] noahdesu commented on #3424
@mabushey thanks. a couple things.

1) can you confirm that the manager pod is running the updated v14.0.1 version of ceph? you should be able to do this by either looking at the beginning of the mgr pod log (the one you posted didn't have the beginning of the log), or in the tool box you can run `ceph versions` to get the version of all the daemons in the cluster.

2) this looks like the mgr is i

[2019-07-10 19:02] mabushey commented on #3424
1.
[code]
2. I have the exact same 500 error issue with both Chromium and Firefox, and receive the same in a Chromium Incognito session.

[2019-07-10 19:02] vitobotta commented on #3132
Hi @billimek, I am not sure of what you mean, but if I understood rightly yes, both storage with Rook and workloads were running on the same servers. How would I go about separating the OSD runtimes from the applications? Not sure of what you mean. My goal is to use small clusters were all nodes also run the storage.

In the meantime since nobody reproduced my issue I had basically given up and ha

[2019-07-10 19:51] noahdesu commented on #3424
do you see multiple manager pods running?

it does appear that there is some sort of caching occurring. for example, in the v13 anv v14 containers that contain the code for the clients and for the server, we can see that the string 'stay_signed_in' doesn't actually appear in newer versions.

[code]

[2019-07-10 20:02] noahdesu commented on #3424
was this an upgrade, or a fresh cluster setup?

[2019-07-10 20:21] mmgaggle opened #3430 "topologyAware functionality not working"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Setting topologyAware to true inside specs section of a cluster.yaml does not result in a cluster that has OSDs under zone or region buckets in the CRUSH map. As such, pools can be created that map replicas or EC chunks to a zone or region osd-failure-domain.

One problem is the 'zone' type is missing

[2019-07-10 21:46] travisn commented on #2296
@leseb With your recent updates to the rgw daemon I wonder if this may already be fixed. The object store orchestration is triggering `[Update()][https://github.com/rook/rook/blob/master/pkg/operator/ceph/object/spec.go#L63]`, where in the past it was not. @jhzhu89 Could you check if it is fixed already in master?

[2019-07-10 22:03] mabushey commented on #3424
I had 0.9.3 installed previously, however I blew it all away, including the namespace and all CRD's, then ran: `ansible all -i "$(aws ec2 describe-instances --region us-west-2  --query "Reservations[*].Instances[*].PrivateIpAddress" --output=text --filters "Name=tag:Name,Values=nodes.${NAME}" | awk '{ printf "%s,", $1 }')" -u core -m raw -a 'sudo rm -rf /var/lib/rook/*'` before creating the new 1.

[2019-07-11 00:39] #2929 closed

[2019-07-11 01:12] llussy commented on #3427
@galexrt  thank you very much. original it can be seen through pv yaml.   This has bothered me for a long time.
[code]

[2019-07-11 01:13] #3427 closed

[2019-07-11 02:45] dingsongjie commented on #3425
I tried kubectl logs podname  --previous , It still no log. And I  try
[code]
in toolbox ,the osd up success ,

[2019-07-11 03:14] noahdesu commented on #3425
without more information like the full logs and other things like ceph status and the set of pods that are running, etc... it's going to be hard to debug. it looks like the osds aren't starting up, but they do seem to be _known_ so they are crashing or not getting scheduled for some reason.

the crd looks ok, but maybe someone else sees something.

starting the osd process in the toolbox should be

[2019-07-11 05:43] dingsongjie commented on #3425
After I remove resourse limit ,I saw the osd log
[code]

[2019-07-11 06:23] dingsongjie commented on #3425
Now I use  _ceph/daemon-base:latest-nautilus-devel_ and _rook/ceph:master_ , It works fine . but which version should i use in production ?

[2019-07-11 07:03] mykaul commented on #3430
@noahdesu  - you have something around this for the MONs, right?

[2019-07-11 08:12] leseb commented on #3430
dup of https://github.com/rook/rook/issues/3118?

[2019-07-11 08:15] leseb commented on #2296
@travisn yes I believe this is fixed and definitely with 60a860cab2b10ad50a27188596181c0635d4effa pending in https://github.com/rook/rook/pull/2901.

[2019-07-11 08:20] leseb commented on #3425
Which rook version were you using prior to master?

[2019-07-11 08:40] epuertat commented on #3424
It seems that starting with 14.1.0 (with JWT authentication) that param was removed (see https://github.com/ceph/ceph/pull/22833/files#diff-9ab52cedf031887d0bae2595e5175486R18) from the back-end as well as from the front-end (https://github.com/ceph/ceph/pull/22833/files?file-filters%5B%5D=.html#diff-38f6be359ad26179bb4a6e823b9687fbL59).

So yes, it seems to be some kind of caching, the question i

[2019-07-11 09:31] HaveFun83 commented on #3424
maybe related to https://github.com/rook/rook/issues/3106

[2019-07-11 12:35] leseb opened #3433 "Document how to add integration tests"
For people adding a feature, it is important to have some documentation/guidance on how to get started writing integration test so we can get coverage for new features in the CI.

[2019-07-11 13:04] leseb commented on #2865
@rjfd `ceph version 14.2.1`, yes we see more people hitting this. Especially on OpenShift.

[2019-07-11 13:29] jarrpa commented on #3430
I'd say related, but not dup.

[2019-07-11 14:01] nabokihms commented on #3433
Thanks :)

[2019-07-11 14:15] shaas opened #3434 "Rook adds labels to Kubernetes objects with invalid characters"
`func addRookVersionLabel()` adds unchecked strings as labels to Kubernetes.
Kubernetes allows only a certain set of characters for labels (`'(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?')`.
A Rook-Version string like `1.0.0+git1697.ga265cdfd` attached to an object e.g. the `rook-ceph-detect-version` batch-job will cause a failure and a broken rook-operator.

[2019-07-11 18:08] noahdesu commented on #3430
@mykaul correct. #3355 allows rook to use k8s AZ labels when placing monitor pods.

[2019-07-11 18:13] noahdesu commented on #3424
@mabushey would it be possible for you to load the dashboard through port forwarding directly into the mgr pod? rook should not be performing any caching, so searching for where this cached data is being served from is the most important next step.

[2019-07-11 18:15] noahdesu commented on #3424
@epuertat thanks for looking at this. does the dashboard server do any sort of cache invalidation, either by adding expirations to the headers or maybe even better serving the static assets with unique names specific to the version?

[2019-07-11 18:41] epuertat commented on #3424
@noahdesu currently ceph-dashboard doesn't have any HTTP server-side caching in place.

Nevertheless, I just checked with my Chrome and saw that for main JS files (where all the front-end logic lies) the Network Inspector (CTRL+SHIFT+i) shows `"Status Code: 200 OK (from memory cache)"`. It seems that, as long as we are not specifying any `Cache-Control`/`Expires`/`Pragma: no-cache` HTTP Header, th

[2019-07-11 18:47] noahdesu commented on #3424
@epuertat i didn't mean server side caching, i was referring to server side mechanisms for controlling caching at intermediate levels (e.g. proxies), which even browser cache invalidation won't fix. for example

index.html -> includes `assets.git-sha1.js` plus no-cache on the index. i guess there are several approaches to handling this.

[2019-07-11 19:54] allen13 opened #3437 "Panic during cluster creation"
**Deviation from expected behavior:**
invalid memory address or nil pointer dereference during cluster creation

**Expected behavior:**
Operator doesn't crash during mon orchestration

**How to reproduce it (minimal and precise):**
Create new cluster with these versions:

rook/ceph:v1.0.3 or v1.0.2
ceph:v14.2.1-20190430

[code]

**Environment**:
* OS (e.g. from /etc/os-release): openshift 3.11 on

[2019-07-11 22:05] #2686 closed

[2019-07-11 22:10] #3359 closed

[2019-07-11 23:52] #2924 closed

[2019-07-12 06:12] mmgaggle commented on #2603
For consideration:

https://github.com/kubernetes/kubernetes/issues/68981

[2019-07-12 08:11] xenolinux opened #3439 "In case of osd full scenario 100% pgs went to unknown state, when added more storage"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After populating the more data, osds were being nearfull and full. When added more storage in this situation, all pgs went into unknown state.

**Expected behavior:**
Cluster should be rebalanced. Data movement should happen.  100% pgs should not be going in unknown state.

**How to reproduce it (minim

[2019-07-12 09:32] leseb commented on #3439
I don't think this is a Rook issue, it's more a Ceph problem at this point, would you mind opening a tracker bug at https://tracker.ceph.com instead?
Thanks.

I'm leaving this open to see if in the intermediate Rook can do anything to mitigate that, but I doubt.

[2019-07-12 09:35] #3434 closed

[2019-07-12 09:42] WanLinghao commented on #2884
my log in ceph-mgr:
[code]

I deployed my ceph cluster in kubernetes using image ceph/ceph:v14.2.1-20190430

[2019-07-12 10:26] xenolinux commented on #3439
Sure. I will open a bug on Ceph tracker.

[2019-07-12 12:03] sebastian-philipp commented on #2606
The Ceph orchestrator need a reliable way to gather the ceph inventory for the Ceph Dasbhaord.

I can think of three reasons:

1. Right now, the Ceph orchestrator uses the private config maps with `app=rook-discover`.
2. It also [blocks](https://trello.com/c/b5EBVEMp/87-change-inventorydevice-itself-to-mirror-c-v-inventory-closely) a refactoring within the Ceph orchestrator, as Rook is the only or

[2019-07-12 12:14] epuertat commented on #3424
Yeah, those headers I mention (but not present in Dashboard static files) might influence intermediate HTTP caching. Cherrypy by default provides `Last-Modified` header (based on `mtime`). According to what I understand from [RFC7234](https://tools.ietf.org/html/rfc7234#page-5), default caching behaviour when no cache control headers are present is:

However [RFC7234](https://tools.ietf.org/html/r

[2019-07-12 12:24] epuertat commented on #3424
[Ceph Tracker#40754](https://tracker.ceph.com/issues/40754): **mgr/dashboard: configure HTTP caching for static files (JS/Angular)**

[2019-07-12 12:47] alfonsomthd commented on #3080
@sebastian-philipp Provided rook version is 0.9.3 and for this version only ceph luminous and mimic are supported:
https://github.com/rook/rook/blob/v0.9.3/cluster/examples/kubernetes/ceph/cluster.yaml
We should determine which ceph version was running in order to know what dashboard version is.

[2019-07-12 14:04] Negashev commented on #2502
Activity

[2019-07-12 15:14] allen13 commented on #3437
Turns out this happens when you don't include the emptyDir mounts in Openshift. It became obvious when I switch back to 0.9.2 with the same configs and got the correct /var/lib/rook permission errors. Openshift is read only in unmounted folders.

[code]

[2019-07-12 15:14] #3437 closed

[2019-07-12 15:56] allen13 commented on #3424
Also seeing this issue in Openshift 3.11. I guess the best way to handle this is to just use ceph:v13 until this issue is resolved?

[2019-07-12 15:58] noahdesu commented on #3424
If you are seeing this as well it'd be great to identify where the caching is occurring, whether it is in the browser or in some intermediate location like a proxy or cdn. clearing the cache at that level is the workaround. @allen13 are you able to verify this?

[2019-07-12 16:03] allen13 commented on #3424
I cleared browser cache so the only other place it could be is in the Openshift controlled Haproxy routes. We are running on baremetal so there isn't anything else that could interfere.

[2019-07-12 16:11] noahdesu commented on #3424
DId you try a different browser? Can you verify if it is being cached in
the proxy? The other thing I've noticed is that if I view the source for
the page, click on the javascript assets link, then refresh, it sometimes
breaks loose something and starts using the latest version.

On Fri, Jul 12, 2019 at 9:03 AM allen13 <notifications@github.com> wrote:

[2019-07-12 16:12] noahdesu commented on #3424
The check I was hoping someone would do is to serve the dashboard directly
via port forwarding into the mgr pod. One could also GET the pages using
curl or something like that to rule out browser caching.

On Fri, Jul 12, 2019 at 9:11 AM Noah Watkins <notifications@github.com>
wrote:

[2019-07-12 16:18] pierreozoux opened #3444 "Standard Resource Definition - Postgres"
I'm trying to standardize the way we describe PostreSQL instances in kubernetes resources, and make this part of upstream, [in alpha for the 1.16 version](https://github.com/libresh/StandardResourceDefinitions/issues/6).

As one PG operator provider, I'd love your feedback on this.

As a user of your operator, would you find it useful to have a standard resource definition for PG (the same as ingr

[2019-07-12 20:36] noahdesu commented on #2603
hey @mmgaggle thanks. the plan is to first adjust the existing explicit scheduling to handle AZ spreading. that code is done and under review. after (or during) the transition to running monitors on PVs, we're gonna look at ripping all the scheduling out and using k8s scheduling affinity features that you referenced. it's not immediately clear how hard/easy that is going to be.

[2019-07-12 22:39] travisn commented on #3390
If this is the last line in the log, it seems the `ceph osd` command has hung.
[code]
If you connect to the osd prepare pod, can you access the path for the osd?

But it really is a concern to run production on a non-supported release build as was already mentioned. Upgrades aren't technically supported if you're running a master build like this, but hopefully the upgrade will still work for you.

[2019-07-12 23:00] nnachefski opened #3447 "serviceaccount "rook-ceph-cmd-reporter" not found"
I've been able to deploy rook-ceph on Openshift 4.1 for the past week (using operator-openshift.yaml), but that all changed this morning.  Now, i get this error:

20s   Warning   FailedCreate   job/rook-ceph-detect-version   Error creating: pods "rook-ceph-detect-version-" is forbidden: error looking up service account rook-ceph/rook-ceph-cmd-reporter: serviceaccount "rook-ceph-cmd-reporter" not f

[2019-07-12 23:08] travisn commented on #3447
@nnachefski You'll need to create the latest common.yaml in order to get the missing service account and related resources. If you are running with the `rook/ceph:master` image you may have experienced an unintentional upgrade, which is why upgrades are not supported build-to-build from master.

[2019-07-12 23:13] nnachefski commented on #3447
ah, got it.  Thanks!  closing...

[2019-07-12 23:13] #3447 closed

[2019-07-12 23:35] dimm0 opened #3448 "WAL and DB optimization"
**Is this a bug report or feature request?**
* Feature Request
Today I updated to Nautilus, and now every OSD is complaining:

`osd.32 spilled over 11 GiB metadata from 'db' device (1.9 GiB used of 20 GiB) to slow device`

I found this thread:

http://lists.ceph.com/pipermail/ceph-users-ceph.com/2019-February/033286.html

[code]

Rook by default creates a 20GB partitions, from which only 3 are act

[2019-07-12 23:36] dimm0 commented on #3448
@travisn

[2019-07-13 03:04] zhangxingdeppon commented on #3390
emm，yes，i can access the path and manually create files and folders，and if  `ceph osd` command has hung，It  maybe return to normal by restarting，but it still failed same as before，it's very strange；
in addition，the “map[ceph-storage-dir -1]” what's meaning about “-1”，I have a lot of doubts about it，I have seen the nomal  logs，uaually the number  is integer great than zero，the above questions are j

[2019-07-13 13:38] stephan2012 opened #3449 "Allow use of any metadataDevice characteristics"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently it is not possible to place an OSD on a zvol (ZFS) hosted on a rotational zpool and use a different zvol hosted on a SSD zpool because Rook takes both as having identical storage characteristics. And indeed, zvols currently report non-rotational (see https://github.com/zfsonlinux/zfs/issues/90

[2019-07-13 19:56] jimmyjones2 commented on #2969
This is still an issue

[2019-07-14 21:58] #2532 closed

[2019-07-15 13:33] travisn commented on #2650
I believe this is already done with the automation of mons in the ceph-csi storage class.

[2019-07-15 13:52] travisn commented on #3448
Hmm, what I see in in the docs is the only way to reconfigure the spillover size is to create new OSDs. This [link](https://github.com/ceph/ceph/blob/master/doc/rados/operations/health-checks.rst#bluefs_spillover) also mentions how to suppress the warning.

@liewegas What is the background on the 3/30GB step limit for spillover? There's no setting to use more of the space before spilling over if y

[2019-07-15 14:01] rohantmp commented on #3430
I've slightly narrowed down the problem. I see that the osd initContainer is not being passed the ROOK_LOCATION environment variable. I see all the logic in place to pass it that variable, but I'm guessing there's a bug in there somewhere.

I tested with three nodes labeled with the key `failure-domain.beta.kubernetes.io/region` and distinct values.

[2019-07-15 14:02] liewegas commented on #3448
- Short term solution is to just disable the warning.
- Allocating more flash is (almost) always better, but it is difficult to change after the OSD is provisioned.  Simplest way to add more flash to each OSD is to remove them and reprovision a new one; this is slow and time consuming :(.
- We're working on some bluestore changes that will be better behaved and use the available flash more effecti

[2019-07-15 14:17] klinamen commented on #3157
I have a similar problem occurred during re-provisioning after a power failure of the host. Might it be related to #2785? I posted my logs on that issue, but I got no answer yet.

[2019-07-15 15:07] dimm0 commented on #3448
I actually have more space on the NVMEs to enable 30-GB partitions, and I can use more than one NVME. This is really critical for the cluster, now it explains why the writes are still slow and nodes sometimes restart with OOMKill - they're almost not using the NVME WAL (1-2 GB out of 20 allocated)

[2019-07-15 17:16] BlaineEXE commented on #2606
I'm not sure `ceph-volume` is appropriate for the discover daemon, as that is backend-agnostic. For getting `ceph-volume inventory` information to the Ceph mgr, I think the `cmd-reporter` may be the right way forward.

[2019-07-15 19:05] mabushey commented on #3424
Doesn't using a browser on a different computer that has never pulled up the dashboard before meet this criteria?

[2019-07-15 19:28] travisn commented on #2606
I could see the discovery daemonset being enabled to have a backend-specific extension that runs with the device discovery. We already have this daemonset in place so extending it is a natural progression.

Using the cmd-reporter would require running the job on each node to gather the device info. I'd like to avoid that if we already have the discovery daemonset running everywhere.

[2019-07-15 20:30] noahdesu commented on #3424
yeh, it should. it won't rule out the proxy caching.

[2019-07-15 22:17] nabokihms opened #3455 "[cassandra] cassandra.yaml override configmap or cluster crd option"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
There are a lot of options in cassandra.yaml config file. According to the code, we load the file from container, replace some options and put it back.
Code reference here:
https://github.com/rook/rook/blob/master/pkg/operator/cassandra/sidecar/config.go#L316

But if we want to change another settings,

[2019-07-15 22:17] nabokihms commented on #3455
If feature is ok, I will do the PR.

[2019-07-15 23:42] travisn commented on #1549
I believe this is already implemented by #3093 (in v1.1)

[2019-07-15 23:42] #1549 closed

[2019-07-15 23:42] travisn commented on #2288
Let's reopen if it is hit again...

[2019-07-15 23:42] #2288 closed

[2019-07-16 09:17] stephan2012 opened #3459 "Rook 1.0 does not create Write-Ahead-Log for Ceph OSD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook 1.0 does not configure Write-Ahead-Log (WAL) when requested.

**Expected behavior:**
Rook configures Ceph OSD with Write-Ahead-Log (WAL) when configured

**How to reproduce it (minimal and precise):**

Setup Ceph cluster, configure OSD on rotational disk, define metadataDevice on non-rotational di

[2019-07-16 11:03] epuertat commented on #3424
After reviewing this with other ceph-dashboard folks (@ricardoasmarques), it seems that the JS files have per-build unique names (hence no way to be cached across versions). So only `index.html` could be causing this issue... but at least my browser (Chrome) is sending `Cache-Control: max-age=0` on `GET /`, so that should force intermediate caches to revalidate their copies (via `If-Modified`, whi

[2019-07-16 12:45] #2919 closed

[2019-07-16 13:45] #2956 closed

[2019-07-16 14:01] sebastian-philipp commented on #2884
The fix will be in 14.2.2

[2019-07-16 14:20] leseb commented on #2606
I've been thinking about this one and never actually updated this one. You're right @BlaineEXE, `discovery.go` using ceph-volume is not a good idea. That's why I was leaning towards extracting the discovery daemon into the Rook-Ceph piece and keep the existing one for other backends.

[2019-07-16 15:06] NullOranje opened #3461 "rook-edgefs-target stuck in CrashLoopBackOff"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** Attempting to deploy a new rook-edgefs cluster into an on-prem Kubernetes cluster fails.  The pods in `statefulset.apps/rook-edgefs-target` are stuck in a CrashLoopBackOff due to the liveness/readiness tests failing.

**Expected behavior:** Deploy new rook-edgefs cluster

**How to reproduce it (minimal

[2019-07-16 15:07] sabbot opened #3462 "EdgeFS custer node add/remove via CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Customer be able to add/remove node via EdgeFS Cluster CRD with automatic pods update if needed. Additionally add update handlers to all EdgeFS 'services' CRDs
**What is use case behind this feature:**
1. Enhance operator to handle CRD's update  scenarios in graceful ways
2. Provide additional documenta

[2019-07-16 15:52] sebastian-philipp commented on #3424
One idea is that there are multiple unrelated issues causing those internal server errors. So, having a mgr log would make things more clear. there is a bug that is going to be fixed in 14.2.2

[2019-07-16 15:58] noahdesu commented on #3424
@sebastian-philipp did you see https://github.com/rook/rook/issues/3424#issuecomment-510203515 ? it looks as though the 500 error is caused by a browser client submitted requests from an older version than the server that is running.

[2019-07-16 16:00] noahdesu commented on #3424
thanks @epuertat. could be an intermediate layer just ignoring caching directives.

@mabushey @jordanfowler @allen13 if anyone is able to run a few more exploratory experiments that'd be great.

[2019-07-16 16:03] sebastian-philipp commented on #3424
you're right, of course. But I've seen too many different bugs in this tracker merged together in different issues called "Dashboard throws 500 error"

[2019-07-16 16:45] #2599 closed

[2019-07-16 17:20] leojonathanoh commented on #2517
Same issue on `v0.9.3`, this needs to be fixed. This makes cleanly bringing down any node for maintenance very difficult. Using `CSI` would be ideal if it fixes this, but according to #3315 it's relatively unperformant as compared to `FlexVolume`, though I haven't tested if thats true.

[2019-07-16 17:45] #2321 closed

[2019-07-16 18:03] travisn commented on #2321
This should be covered by #2901

[2019-07-16 18:16] BlaineEXE commented on #3379
This is already a recreation of a subset of another design. I'd rather not split this again and add even more cognitive load to these issues. I think we can make separate decisions about directories and filestore here just as well as we could in separate issues.

[2019-07-16 18:25] gtorre commented on #2977
I'm running into the same issue. I simply wanted to test some of my provisioning code (wiping a disk preparing for ceph use) and at the same time wanted to test a failure scenario.

A few hours later, when I re-provisioned the server, all of the kubernetes services came up and the node moved to Ready (this took about 8-9 hours due to some internal issues I was dealing with.) When the node moved to

[2019-07-16 20:03] NullOranje commented on #3461
There was an issue with the storage block.  Creating a new, empty device seems to have resolved the issue.

[2019-07-16 20:03] #3461 closed

[2019-07-16 20:43] ivzhh commented on #3157
Is it because of the `cep monmap` is not created?

In file `pkg/daemon/ceph/osd/device.go`, if `initializeOSD()` finds that the folder exists, then it runs `repairOSDFileSystem()`; otherwise runs `createOSDFileSystem()`.  The func `createOSDFileSystem()` calls `getMonMap()` but `repairOSDFileSystem()` doesn't.

[2019-07-16 20:47] #2603 closed

[2019-07-16 20:47] mabushey commented on #3424
Exact same issue using port forwarding:
`kubectl -n rook-ceph port-forward service/rook-ceph-mgr-dashboard 8443:8443`
![2019-07-16_ceph_500_port_forward](https://user-images.githubusercontent.com/7863135/61328597-33773f80-a7d0-11e9-9696-ff7842d21414.png)

[2019-07-16 20:53] noahdesu commented on #3424
thanks @mabushey can you confirm that with port-forwarding the manager is logging the same instance of the error, and that it isn't a separate 500 issue?

[2019-07-16 22:15] klinamen commented on #3157
I took a look at the source code, and I don't think `repairOSDFileSystem()` gets even called in my case. If it was, I should have "Repairing OSD ..." log line as per the following line.
https://github.com/rook/rook/blob/02accb5d62142de07c20842b37593c5d982c9a3d/pkg/daemon/ceph/osd/filesystem.go#L198

[2019-07-16 22:44] ivzhh commented on #3157
@klinamen I think the default is file store, not bluestore. So the monmap won’t be set anyway.

[2019-07-16 22:46] #3204 closed

[2019-07-17 01:53] #3365 closed

[2019-07-17 03:31] Hughen opened #3465 "osd is bluestore but the rook-ceph.config offers always filestore"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Every osd storage type is filestore after do `kubectl create -f cluster.yaml`.
the cluster.yaml content:
[code]

ceph override configmap:
[code]

And the osd config:
[code]

**Expected behavior:**
[code]

**How to reproduce it (minimal and precise):**
[code]

* Operator's logs, if necessary
[code]

**E

[2019-07-17 03:49] travisn commented on #2977
@gtorre Did you get the osd prepare job to run on that node? If not, what are your CephCluster CR settings for the `storage`? Do you have `useAllNodes: true` or something else for node selection? As long as the node selection is correct I would expect this job to run. The next thing to look at would be how to get the OSD started if it isn't started after the osd prepare job runs.

[2019-07-17 03:54] ron1 opened #3466 "[ceph] Prepare OSD job cannot create rook-ceph-osd-config ConfigMap due to missing RBAC"
* Bug Report

**Deviation from expected behavior:**
osd-prepare job fails with the following error:
[code]
This is caused by rook-ceph-osd service account missing the following RBAC:
[code]
**Expected behavior:**
osd-prepare job completes successfully

**How to reproduce it (minimal and precise):**
Define a CephCluster using Rook v1.0.4 on OCP 3.11.98.

**File(s) to submit**:
I fixed this bug by a

[2019-07-17 07:20] rajatsingh25aug commented on #3466
I see you have fixed the bug, why don't you raise a PR?.

[2019-07-17 08:10] #3423 closed

[2019-07-17 08:24] caisan opened #3468 "set pool size fail after reboot rook node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
set pool size fail after restart rook node
**Expected behavior:**
pool size is set as Expected after reboot
**How to reproduce it (minimal and precise):**

1. when rook cluster run(single node) and ceph health ok
2. check pool size before reboot
```ceph osd pool get replicapool size```
[code]
3. log in

[2019-07-17 09:50] leseb opened #3469 "CI job fails to remove configmap of cmd-reporter"
CI seems to be failing randomly on this:

[code]

Example log: https://jenkins.rook.io/job/rook/job/rook/job/master/1218/artifact/_output/tests/TestUpgradeSuite_aws_1.13.x_rook-ceph-operator-f5c8bb6c9-sw22q_upgrade-ns-system_1563294543.log

@BlaineEXE any idea?

[2019-07-17 09:54] #2889 closed

[2019-07-17 10:58] hdimitriou commented on #3092
So what if we have an SSD for OSD and a faster SSD we want to use for metadataDevice?
My VM perceived both as rotational, so I used udev to change the medatadata volume as non-rotational, i guess that works?

[2019-07-17 14:16] ivzhh commented on #3157
@klinamen You are right, logic in agent.go only writes configuration file, instead of initializing the folder.

https://github.com/rook/rook/blob/02accb5d62142de07c20842b37593c5d982c9a3d/pkg/daemon/ceph/osd/agent.go#L433

[2019-07-17 14:35] noahdesu commented on #3468
I'm guessing that the pool size is being reset based on a setting in a crd. Can you provide the operator log produced after the operator reboot?

[2019-07-17 15:35] klinamen commented on #3157
To sum up, my (limited) understanding is that ceph-osd expects to find the mon_map file in a certain location and rook takes care of creating the map in `createOSDFileSystem()`. This method is called in the osd provisioning phase, specifically in `configureDevices()` and `configureDirs()` steps.
I tried to follow the flow keeping logs and code side by side, and realized that `getAvailableDevices()

[2019-07-17 15:49] BlaineEXE commented on #3469
I was seeing some issues like this in one of my test environments, and it would be fixed if I deleted and restarted the operator. I suspected that my ETCD was using a slow disk and that the RBAC was taking longer to propagate than the test was giving it. Let me open up a PR that adds a short sleep before creating the Ceph cluster CR, and we can see if this error continues to repeat.

[2019-07-17 16:52] gtorre commented on #2977
@travisn here are my cluster storage settings:

[code]

Yes, it would be nice to kickstart the osd-prepare job.

[2019-07-17 17:33] ivzhh commented on #3157
I am testing with `kind: CephCluster: spec.directories.path` instead of block devices and `configureDirs()` is called in this case.

[code]

[2019-07-17 17:44] travisn commented on #2977
@gtorre What is the hostname for the node where the osd prepare job is not being triggered? With your settings, Rook will only deploy the OSDs on nodes that match the `kubernetes.io/hostname` label with those node names. Any chance the hostname label doesn't match on the node of interest?

[2019-07-17 17:52] gtorre commented on #2977
The hostname is `k8s-6cd46365.example.net` so it's one of the listed nodes.

[2019-07-17 17:58] travisn commented on #2977
Can you share the operator log after restarting the operator? It should be triggering the node so something isn't matching up. Do you see the osd prepare jobs being re-triggered on the other nodes? Perhaps the operator is getting stuck on some other operation before it gets to the OSDs.

[2019-07-17 19:36] klinamen commented on #3157
In my case, even though rook recognize the partition as owned, `fs != ''` is a sufficient condition for the following test to fail and the device to be skipped.
https://github.com/rook/rook/blob/1562fdd7d944453ef363a2c9b793e9041b6ee109/pkg/daemon/ceph/osd/daemon.go#L197
At this point I really don't' know if this behavior is expected or not.

[2019-07-17 19:48] jbmcfarlin31 commented on #2953
Update: still having lengthy times connecting pods to pv's. The pv's and pvc's bind in no time, but the linkage for the pod to storage takes forever. Haven't figured out what the cause of this.. and am running in `rook v1.0.2`

[2019-07-17 20:35] travisn commented on #2953
@jbmcfarlin31 Do you have large PVCs? The increased mount time can be due to a recursive chown. You might check out these properties in the operator to see if it helps turning them off: https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L113-L121

[2019-07-17 21:01] #3462 closed

[2019-07-17 21:09] mmgaggle commented on #2603
Sounds good, that link has some examples of how day 2 operations can be kinda sketchy so I wanted to let ya'll know there be dragons. :)

[2019-07-17 21:11] sabbot opened #3472 "EdgeFS: Transitions to Stable 1.0 API"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
As we working with some v1Beta1 users and adding more polishing. We also finalizing our CRDs to get ready for stable v1 status.
**What is use case behind this feature:**
Feature to upgrade cluster from v1beta1 to v1

**Environment**:

[2019-07-17 21:20] sabbot opened #3473 "EdgeFS: Add add liveness probes to all EdgeFS services pods"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Check health status for every service pod in EdgeFS cluster

**What is use case behind this feature:**

**Environment**:

[2019-07-17 21:47] yanchicago opened #3474 "The dashboard module shows "No socket could be created" with hostnetwork=true"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
"ceph status" shows "HEALTH_ERR" with message "Module 'dashboard' has failed: error('No socket could be created',)"

**Expected behavior:**
The dashboard port can be customized to an un-used port. The default port 8443 has been used by other containers in the system.

**How to reproduce it (minimal and

[2019-07-17 22:12] mabushey commented on #3424
[code]

[2019-07-17 22:26] noahdesu commented on #3424
@mabushey looks like your cache has cleared. this error is a known error with a fix in the pipeline: https://github.com/rook/rook/issues/3106

[2019-07-17 23:51] noahdesu commented on #3474
this might be a dupe of this: https://github.com/rook/rook/issues/3334 if so let's close this one

[2019-07-18 00:27] mabushey commented on #3424
@noahdesu

Yes, that workaround worked. Thank you.

[2019-07-18 07:56] #2896 closed

[2019-07-18 08:57] rajatsingh25aug commented on #3466
@ron1 I see the change that you mentioned is already in [here](https://github.com/rook/rook/blob/2878e3d2db0d56e2aea9d69f20394c913f2116c5/cluster/examples/kubernetes/ceph/common.yaml#L480).
Closing this issue.

[2019-07-18 09:02] leseb commented on #3468
@noahdesu is right, @caisan I don't see this as a bug, in this case, Rook simply honors the desired state provided by the CR. Instead, you should update your CR and set a different pool size.

[2019-07-18 09:05] leseb commented on #3468
I'm closing this, feel free to re-open if you have any more concerns.

[2019-07-18 09:05] #3468 closed

[2019-07-18 09:29] leseb commented on #3466
@ron1 please submit a PR and we will take it from there.

[2019-07-18 13:21] albertdb commented on #2541
This happens 100% times since v1.0.4. Please reopen.

Kubernetes 1.15

Deploy PVC and Pod using it. The PVC gets provisioned (sometimes it does not) but Pod cannot get it mounted:

[code]
Going back to v1.0.3 solves the issue.

[2019-07-18 14:28] yanchicago commented on #3474
The hosts in my testing are IPv6 enabled, which is not the same as #3334

[2019-07-18 16:25] travisn commented on #3466
@rajatsingh25aug The delete permission for configmaps was actually needed for a different `apiGroup`: `ceph.rook.io` instead of the blank api group in your link.

I'd still be curious on the repro. If this was hitting all versions of openshift, I would have thought we would hear more about this issue.

[2019-07-18 16:39] BlaineEXE commented on #3428
How many nodes are in the cluster this issue is coming from?

[2019-07-18 17:06] rajatsingh25aug commented on #3466
@travisn
I tried it on openshift 4.1 and I see that osd job is getting created successfully.
I try and if it's hitting it on other versions on Openshift and raise a PR.

[2019-07-18 17:25] #2756 closed

[2019-07-18 17:26] noahdesu commented on #3474
@yanchicago could you provide the output of `ip addr`?

[2019-07-18 17:34] #3424 closed

[2019-07-18 18:10] ben-le commented on #2916
The issue is still existing; the operator.yaml and cluster.yaml files provided by @mingxingshi do not resolve the issue.

[2019-07-18 18:16] k0da commented on #3428
@BlaineEXE we have four node to eight node cluster and we redeploy one by one. At the moment we have a workaround this by manually removing osd-prepare-job, if we don't, once node is back, newly created osd stuck on boot. 4 up, 3 in.

Note host name of the kubernetes node still the same, while node redeployed from scratch.

[2019-07-18 18:21] robertrbruno opened #3477 "Prometheus annotations on MGR have moved and no longer work with default prometheus config"
In previous versions of Rook the prometheus annotations on the MGR deployment were in one of the metadata sections of a template section in the yaml (a few levels deep).  In Rook 1.0.4 (using ceph 14.2.1), the prometheus annotations are now at the top most annotation section of the deployment.

This location of annotations does not work with the default jobs in the prometheus helm chart while the

[2019-07-18 18:31] yanchicago commented on #3474
Below is the output from mon-a pod.
`
[root@ceph-control-01 /]# ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MUL

[2019-07-18 18:56] ron1 commented on #3466
@travisn It would be great if the rook-ceph CI/CD infrastructure included an OKD or OCP 3.11 cluster since this kubernetes distribution has unique security requirements and is scheduled to be around for an extended period of time.

It seems this issue may be unique to OKD/OCP 3.x. I'll go ahead and raise a PR for it. Note the issue did not exist in v1.0.2.

[2019-07-18 19:53] danilorsilva commented on #3371
I have the same problem here:
50m         Warning   FailedMount         Pod          Unable to mount volumes for pod "rook-ceph-mon-a-58f9c5b7d9-2lwr5_rook-ceph(9a8740b7-a98d-11e9-be4c-42010a8e0fcf)": timeout expired waiting for volumes to attach or mount for pod "rook-ceph"/"rook-ceph-mon-a-58f9c5b7d9-2lwr5". list of unmounted volumes=[rook-ceph-config rook-ceph-mons-keyring rook-ceph-log ceph-da

[2019-07-18 21:59] travisn commented on #3466
Yeah, i would love to have every reasonable version/distro as part of the CI. It's just a matter of finding someone to get that done upstream.

If this only affects 3.11, perhaps we could have a separate manifest such as common-ocp-3.11.yaml instead of adding it to the common.yaml for everyone.

[2019-07-18 22:02] travisn commented on #2916
@ben-le This is typically an environmental issue where the networking needs to be configured differently. There is not a general known issue with OSDs not being created. Did you try the common issues page linked above?

[2019-07-18 22:09] travisn commented on #3428
@k0da Can you remove the node from the CephCluster CR **before** turning off the node? That was the intended scenario for cleaning up the node.

[2019-07-18 22:31] jbmcfarlin31 opened #3478 "Minio custom access keys won't allow login to dashboard"
**Is this a bug report or feature request?**

* Bug Report

**Bug Report**
When using a custom generated access key and secret key to access the minio object store, I get an error saying `The access key ID you provided does not exist in our records`.

**Expected behavior:**
I would be able to login with the generated access keys.

**Deviation from expected behavior:**
I was deploying the sample co

[2019-07-19 01:32] ron1 commented on #3466
The Kubernetes code in question is here: https://github.com/kubernetes/kubernetes/blob/3f1cb97f9ad7b84176be30f85c7e10cc7bb1ff56/plugin/pkg/admission/gc/gc_admission.go#L120. If this issue is indeed the result of an OCP 3.x shortcoming, then I agree a separate common-openshift-3.x.yaml manifest should be created.

Based on the patch for a very similar issue encountered by the spotahome redis-operat

[2019-07-19 04:34] galexrt commented on #3477
The issue has been fixed on `master` and backported to `release-1.0` branch, see below refs, by moving the MGR default annotations to be correctly set and moved down to the Pod Template Spec.

So seems like a duplicate of #3204. Related PRs: #3453 and #3464

[2019-07-19 05:50] logan2211 commented on #2047
Thank you @hSATAC for that insight! The mdraid linear device workaround also enables the use of partition devices (`/dev/sda3`) as OSDs. This can be done by building the linear mdraid on top of the partition device rather than a logvol.

Building single device mdraids feels very hacky though.. hopefully ceph-volume can eventually accept logvols instead. Is there an upstream bug/issue tracking the

[2019-07-19 07:30] albertdb commented on #2541
@galexrt Please reopen as per last comment. Thanks.

[2019-07-19 08:07] stephan2012 commented on #3459
Seems to be related or duplicate of #3215

[2019-07-19 09:26] zhangxingdeppon opened #3479 "rbd unmap -o force device hung，can't unmap successful,but rbd image no longer exists"
**Is this a bug report or feature request?**
* Bug Report
Hi,buddy,I have encountered difficulties on a issue. when I did “rbd unmap -o force device” ，the command status  was hung,I have no idea about it,can you help me ,thanks.
Look at the screenshot below
![image](https://user-images.githubusercontent.com/16789841/61524055-2795b280-aa48-11e9-9951-a371c1aa04b9.png)

for example mapped "/dev/rbd0"

[2019-07-19 12:10] leseb commented on #3479
Why is the image gone in the first place? Did you remove the image while it was mapped onto a node?

[2019-07-19 12:26] leseb commented on #3459
Indeed dup of #3215

[2019-07-19 12:26] #3459 closed

[2019-07-19 12:31] leseb commented on #3215
We don't expose all the batch option for that, so this is valid. We just need to expand our support for `lvm batch` subcommands.

[2019-07-19 13:52] travisn commented on #3428
I thought the remove job was only scheduled when the node was removed from the `storage.nodes` section of the CephCluster CR. But you are seeing that the removal is also being done when a node is removed from the placement.

Your scenario is node maintenance? Recovering the data every time the node needs to be updated is a heavy cost for the maintenance. Does the same node not come back up after m

[2019-07-19 14:04] k0da commented on #3428
@travisn yes, we wait for data sync every time. I tried noout option but for some reason it is ignored and data recalculation starts eitherway, which blocks rook node removal (cluster health is warn).

Our maintenance is redeploy node completely, it comesback with data wiped.

[2019-07-19 14:08] travisn commented on #3428
@leseb with your recent changes, setting `noout` wouldn't block the removal, right?

[2019-07-19 14:21] leseb commented on #3428
@travisn correct `noout` won't block the orchestration.

[2019-07-19 14:22] #2664 closed

[2019-07-19 14:54] k0da commented on #3428
[code]

[2019-07-19 15:38] jbmcfarlin31 commented on #2953
@travisn my PVCs range in size. They vary between 1024Mb to 8Gi - doesn't seem to make a difference to kubernetes though, both sizes and everything in between takes anywhere from 8-45 minutes. I've seen this issue with NFS in kubernetes also.

Does anyone else see such slow binding times?

[2019-07-19 16:30] travisn opened #3480 "Ceph: Add schema validation to all CRDs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
If a CR is created with an invalid type (e.g. string instead of int), the operator will continuously print errors to the log and will not be able to process other CRs of that type until the bad CR is deleted.

For example, when creating the CephBlockPool with replicated.size that is not a number, we see

[2019-07-19 17:00] dyusupov commented on #3246
The fix for it is on its way - https://github.com/Nexenta/edgefs/issues/279

[2019-07-19 17:02] dyusupov opened #3481 "ISGW CRD is broken with latest 1.2.19+"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

ISGW link pod is in crash loop

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom ressource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubect

[2019-07-19 19:57] klinamen commented on #3426
Same problem here. There is a discussion going on about that on #3157

[2019-07-19 20:03] klinamen commented on #3426
I am sorry, I did not check the last log that presents a different error from mine.
However, it seems that the root cause of my problem is that after the first time, the preparation phase does not consider sdb since it is used by LVM and the code that is supposed to build the mon_map is not called in this case. I don't' know if your problem may be somehow related.

[2019-07-19 20:54] jbmcfarlin31 commented on #3478
Got this resolved. I actually found the fix for it on the minio/minio github project as a related issue. The problem seemed to be that when base64 encoding the values, you need to be sure that newlines and feeds do not get into it. I am not sure how that occurred for me but my command looked something like `echo "supsersecretpassword" | base64` and that was failing.

What I had to do instead was:

[2019-07-19 20:54] #3478 closed

[2019-07-19 21:38] noahdesu opened #3483 "ceph: shush device discovery log messages 🤫🤫🤫"
Make this statement debug log level to keep the operator log clean.

[code]

[2019-07-20 01:47] dyusupov commented on #3246
The issue was fixed in https://github.com/Nexenta/edgefs/releases/tag/v1.2.23 . Reopen if still happens.

[2019-07-20 01:47] #3246 closed

[2019-07-20 09:56] zhangxingdeppon commented on #3479
sorry.I also don't know when the image was deleted.but I want to  delete the dirty data about “map”，how can i do that?"force" is invalid,thanks

[2019-07-20 13:59] schantaraud commented on #2587
I'm trying to come up with a `kops rolling-update` alternative but I still can't get the operator to get out of this loop, which ultimately always ends with it giving up. Here are the detailed steps I have been following:

(In this setup, storage nodes have the label `rook-ceph: enabled` and the cluster is setup with a matching placement/all/nodeAffinity rule. Also: rook v1.0.4, kubernetes v1.13.5

[2019-07-21 00:23] Bessonov commented on #2107
Activity!

[2019-07-21 18:05] leojonathanoh commented on #3215
Got the same issue. Is there any workaround?

[2019-07-21 19:26] iMartyn opened #3484 "Operator looks for missing nodes forever"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-ceph-opperator sits waiting for a node that doesn't exist in `kubectl get nodes` forever

**Expected behavior:**
rook-ceph-operator should check the list of nodes that actually exist even if it did at one point know about a node.

**How to reproduce it (minimal and precise):**
* Create a rook-ceph

[2019-07-22 06:28] rajatsingh25aug commented on #3480
@travisn Can you please assign this to me?.
Thanks!

[2019-07-22 07:13] nehaberry opened #3485 "Deployment failure - First mon pod gets into Init:CrashLoopBackOff"
Description:

During rook-ceph deployment, mon deployment is failing with following error message:

[code]
[code]
**Environment**:
* OS (e.g. from /etc/os-release): **Red Hat Enterprise Linux CoreOS 410.8.20190627.0 (Ootpa)**

* Kernel (e.g. `uname -a`): **Linux ip-10-0-146-110 4.18.0-80.4.2.el8_0.x86_64 #1 SMP Fri Jun 14 13:20:24 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux**

*** Cloud provider or ha

[2019-07-22 07:21] nehaberry commented on #3485
[logs.zip](https://github.com/rook/rook/files/3416140/logs.zip)

[2019-07-22 08:00] chenyg0911 opened #3486 "nfs on rgw. Daemons not exists."
**Environment**:
* OS (e.g. from /etc/os-release):  CentOS Linux release 7.6.1810
* Kernel (e.g. `uname -a`): 3.10.0-957.5.1.el7.x86_64
* Cloud provider or hardware configuration: virtaul box vm
* Rook version (use `rook version` inside of a Rook Pod): v1.0.0-265.g0141cfe
* Storage backend version (e.g. for ceph do `ceph -v`): ceph version 14.2.1-636-g64f035c
* Kubernetes version (use `kubectl ver

[2019-07-22 08:06] galexrt commented on #3478
@jbmcfarlin31 Would you be up to document on Rook's side so other people are not running into this as well? :slightly_smiling_face:

[2019-07-22 08:20] nehaberry commented on #3485
Steps Performed:

1.  Created an OCP cluster
2. Cloned rook-ceph master branch . yamls are attached here for reference.
3. Created rook ceph cluster
    $oc create -f common.yaml
     $ oc create -f operator-openshift-with-csi.yaml
     $ oc apply -f csi/rbac/rbd ; oc apply -f csi/rbac/cephfs
     $ oc create -f cluster.yaml.

We didn't  make any changes in the above yamls.
[yamls.zip](https://git

[2019-07-22 08:42] nehaberry commented on #3485
Please note: On changing the rook image to "rook/ceph:v1.0.4" in operator-openshift-with-csi.yaml, all mon and ceph pods came up.

Hence, the problem is introduced in latest **rook/ceph:master** image

$ oc describe pod rook-ceph-operator-869b77695c-t5j44 -n rook-ceph|grep Image
    Image:         rook/ceph:v1.0.4
    Image ID:      docker.io/rook/ceph@sha256:823c302113bd1a6d97ce18685888962192adf1

[2019-07-22 08:47] leseb commented on #3485
Can we get the logs from the init container `chown-container-data-dir`? Thanks.

[2019-07-22 08:48] atagunduzalp commented on #3082
Anything new on this topic ?

[2019-07-22 08:51] nehaberry commented on #3485
I deleted the setup.
BTW, since the mon pod was stuck in Init failure, I was not able to collect any log from that pod. So how would I have collected the log from the "chown-container-data-dir" ? Please help as to how to get this specific log

**Error from server (BadRequest): container "mon" in pod "rook-ceph-mon-a-7bcd58b586-4mbjh" is waiting to start: PodInitializing**

[2019-07-22 08:54] #2988 closed

[2019-07-22 08:57] nehaberry commented on #3485
@leseb  will sharing the setup info help ? If yes, let me know, I shall share it on PM .

Thanks,
Neha

[2019-07-22 09:00] leseb commented on #3485
@nehaberry typically you should be able to get the log using `-c chown-container-data-dir`.

[2019-07-22 09:00] umangachapagain commented on #3485
@leseb I see
[code]

[2019-07-22 09:07] nehaberry commented on #3485
[nberry@localhost logs]$ **oc get scc  rook-ceph -o yaml**
allowHostDirVolumePlugin: true
allowHostIPC: true
allowHostNetwork: true
allowHostPID: true
allowHostPorts: true
allowPrivilegeEscalation: true
allowPrivilegedContainer: true
allowedCapabilities: []
allowedFlexVolumes:
- driver: ceph.rook.io/rook
- driver: ceph.rook.io/rook-ceph
apiVersion: security.openshift.io/v1
defaultAddCapabilities:

[2019-07-22 09:08] mykaul commented on #3363
@noahdesu - any updates?

[2019-07-22 11:08] robinbraemer opened #3490 "Ceph: Cluster iniziali"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom ressource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>

[2019-07-22 11:10] #3490 closed

[2019-07-22 11:18] matthiasritter commented on #1117
Hi,
we'd be interested, too.
I've tested a few things but haven't found a working solution yet.
Thanks,
Matthias

[2019-07-22 12:07] foux commented on #3082
I have the same issue with this cluster configuration :
[code]

Output of `kubectl -n rook-ceph get cephcluster.ceph.rook.io rook-ceph` :
[code]

@thundertiger825 did you manage to find the issue?

[2019-07-22 12:39] yeganx commented on #3485
same issue need help...

[2019-07-22 13:49] pranavgaikwad commented on #3485
I am seeing this issue on OpenShift 4.1.0 env deployed using `openshift-install`.

[2019-07-22 14:06] leseb commented on #3485
@yeganx @pranavgaikwad if you look at this issue, you will see that a PR with a fix is attached to it.

[2019-07-22 14:26] pranavgaikwad commented on #3485
@leseb thank you for such a quick turnaround. cheers !

[2019-07-22 14:41] jbmcfarlin31 commented on #3478
@galexrt Sure, I don't mind at all! Please let me know where to go / what to do and I will get started on it.

[2019-07-22 14:56] atagunduzalp commented on #3082
I have same issue, osd pods never starts running. Then I realized that the paths which are given in .yaml file does not exist on my nodes.
Normally, it creates if does not exist but I dont why, it didnt.
So, after I added paths manually, it worked for me.

[2019-07-22 16:05] davi5e commented on #1169
Broken link, not working anymore...

Also, it would appear [ceph: Add dynamic flexvolume resize · Issue #3417](https://github.com/rook/rook/issues/3417) is also broken and could hep this issue...

[2019-07-22 16:19] #3430 closed

[2019-07-22 16:52] foux commented on #3082
Thanks @atagunduzalp. But what `path` are you talking about, the `dataDirHostPath` or the directories `path`? Because I d'ont have a directory `path` (I'm using devices), ans my `dataDirHostPath` exists on all nodes, but I still get the error :
[code]
Thanks.

[2019-07-22 17:49] robinbraemer opened #3491 "Ceph: intermediately manually deleting persistent volume will not delete associated block image in ceph cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Associated block image remains in ceph pool

**Expected behavior:**
Delete the associated block image

**How to reproduce it (minimal and precise):**
Apply following yaml:
[code]
---------
**TL;DR**
[code]
---------

All is fine an the rook-operator is creating the block image.

First delete the mypod

[2019-07-22 18:01] #2999 closed

[2019-07-22 18:01] #2914 closed

[2019-07-22 18:01] #2992 closed

[2019-07-22 18:01] #2384 closed

[2019-07-22 18:10] atagunduzalp commented on #3082
For me, on my nodes missing one is:

Also make sure nothing left from previous deployment trials.
You may check:

Also in your operator yaml, check:
[code]
If you did not specified a path, default one is:

Here is the link: [https://github.com/rook/rook/blob/master/Documentation/flexvolume.md](url)
After I deleted everything under these folder, it worked for me.

[2019-07-22 18:12] sabbot opened #3492 "EdgeFS: add liveness probe to edgefs manager pod"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add liveness probe to EdgeFS mgr pod

**What is use case behind this feature:**
1. Prevent start mgr pod over non operational EdgeFS target pod
2. Schedule mgr pod over correct target pod
**Environment**:

[2019-07-22 18:12] titilambert opened #3493 "Add Minio gateway support"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Add Minio gateway mode support

**What is use case behind this feature:**

Provider an operator to manager minio gateways

**Environment**:

[2019-07-22 18:27] galexrt commented on #3478
@jbmcfarlin31 Thanks!
That would be this page https://rook.io/docs/rook/v1.0/minio-object-store-crd.html, so this file https://github.com/rook/rook/blob/master/Documentation/minio-object-store-crd.md.

For more info https://github.com/rook/rook/blob/master/CONTRIBUTING.md and / or hit me up on the Rook Slack, see https://slack.rook.io/.

[2019-07-22 18:51] #3481 closed

[2019-07-22 19:26] iExalt commented on #3215
Same issue as well, DB is created and used but WAL is neither created nor used. metadataDevice is specified, databaseSizeMB and walSizeMB are specified.

[2019-07-22 19:51] leseb commented on #3215
Unfortunately, there is no workaround since the functionality is not present. So please be patient, someone will fix this eventually.

Thanks.

[2019-07-22 19:51] noahdesu commented on #3363
@mykaul seems to be an upstream ceph issue. i've updated https://bugzilla.redhat.com/show_bug.cgi?id=1724428 with details.

[2019-07-22 21:26] aleks-mariusz commented on #1169
neither.. [issues with github](https://www.githubstatus.com/incidents/tq7pm7mn9b1k) are the culrit

[2019-07-22 22:10] jasonbrooks commented on #3485
I'm getting a similar with the rook-ceph-mgr pod. I want to test with privileged but I can't figure out how to change / override the operator! :)

[code]

[2019-07-22 22:31] travisn commented on #3485
@leseb We need the fix like #3487 for all daemons, not just the mons, right? Otherwise, any of the chowing will fail on the logging host paths, for example for mgr and mds as well, right?

[2019-07-23 05:48] leseb commented on #3485
@jasonbrooks last fix here: https://github.com/rook/rook/pull/3498

[2019-07-23 06:22] prsurve opened #3499 "Deployment failure - mgr and mds pod gets into Init:CrashLoopBackOff"
**Description**:

During rook-ceph deployment mrg,mds deployment is failing with following error message:
[code]
[code]

**Environment**:
* OS (e.g. from /etc/os-release): Red Hat Enterprise Linux CoreOS 410.8.20190718.1 (Ootpa)
* Kernel (e.g. `uname -a`): Linux ip-10-0-165-66 4.18.0-80.4.2.el8_0.x86_64 #1 SMP Fri Jun 14 13:20:24 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
* Cloud provider or hardware

[2019-07-23 06:23] leseb commented on #3485
Closing since https://github.com/rook/rook/issues/3499

[2019-07-23 06:23] #3485 closed

[2019-07-23 06:23] leseb commented on #3499
Patch here: https://github.com/rook/rook/pull/3498

[2019-07-23 07:01] #2998 closed

[2019-07-23 08:21] nehaberry commented on #3499
Same issue in latest rook -  rook: v1.0.0-280.geb5fffa

[code]

[2019-07-23 09:08] galexrt commented on #3363
@noahdesu Do you got a public bug for that as well? :wink:

[2019-07-23 09:49] wzorgdrager opened #3500 "Unable to mount shared filesystem on untainted master node."
**Is this a bug report or feature request?**
* Bug Report

I have a 4 node bare-metal Kubernetes cluster in which the master node is untainted and used as worker. The 3 non-master nodes run OSD's for CEPH, the master does not. I configured a shared filesystem. Initially, this worked like a charm for all nodes but presumably after a pod restart (and DNS failure) the master node was not able to moun

[2019-07-23 10:24] galexrt commented on #3500
About these errors:

@wzorgdrager Did you delete the `flink-storage` PersistentVolume? Are you using a PersistentVolumeClaim to "select" / use the PersistentVolume or directly consuming the PersistentVolume in some way?

[2019-07-23 10:40] leseb commented on #3363
@galexrt http://tracker.ceph.com/issues/40871

[2019-07-23 11:03] wzorgdrager commented on #3500
@galexrt So the `flink-storage` refers to the flexVolume I defined like this:
[code]
whereas sharedfs is a `CephFileSystem`
[code]

[2019-07-23 11:04] muhlba91 commented on #3106
I can confirm it works with the new nautilus image `v14.2.2-20190722`.

[2019-07-23 11:48] robinbraemer opened #3501 "Ceph: mon scheduling bug!"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Mon pod schedule on k8s nodes that are not fulfilling specified (in CephCluster config) requirements (such as enough RAM)

**Expected behavior:**
[scheduleMonitor func](https://github.com/rook/rook/blob/50ef726ad34da4f2683d5f4304eb4e7910bdb938/pkg/operator/ceph/cluster/mon/mon.go#L388) should let the [

[2019-07-23 12:46] Aisuko commented on #2434
Is there have any solutions with this?  I have the same issue `Unable to mount volumes for pod "dev-mysql-mysqlha-0_dev-mysql(d29b8e34-ad20-11e9-a46c-1e5e3e3b2aca)": timeout expired waiting for volumes to attach or mount for pod "dev-mysql"/"dev-mysql-mysqlha-0". list of unmounted volumes=[data]. list of unattached volumes=[data conf config-map scripts default-token-w5wzr]`

[2019-07-23 13:37] Aisuko commented on #2953
Is there have any solution? I have the same issue here. And I was deploying the helm incubator/mysqlha, pvc size "10G"

[2019-07-23 13:47] mykaul commented on #3363
@galexrt - please see if you can access the BZ - it should not be private to Red Hat, as far a I can see.

[2019-07-23 13:56] jpiper commented on #3138
I had this on upgrading to `1.0.4` and ceph version `14.2.2`

running `ceph osd crush tunables optimal` from the tools pod sorted it

[2019-07-23 14:06] wzorgdrager commented on #3500
Okay something interesting I found in my kubelet log of my _master_ node:
[code]

[2019-07-23 15:05] jbmcfarlin31 commented on #3478
@galexrt I just submitted the PR today. Please let me know if anything needs to change.

[2019-07-23 15:54] leseb opened #3504 "Fewer privileged on pod for chown"
After https://github.com/rook/rook/pull/3498 pods running on OCP need `privileged` container. Let's see if we can allow CHOWN as a cap instead.

[2019-07-23 15:57] #3499 closed

[2019-07-23 17:00] travisn commented on #2434
@Aisuko Here are a couple resources you could check. Most commonly the flex driver needs configuration.
- https://rook.io/docs/rook/v1.0/ceph-common-issues.html
- https://rook.io/docs/rook/v1.0/flexvolume.html

[2019-07-23 17:21] travisn commented on #3501
#3475 would take this issue into account

[2019-07-23 18:20] leojonathanoh commented on #2517
I've just tried `CSI` on `v1.0.4` and same thing happens - indefinite hang:

[code]

[2019-07-23 19:41] #3492 closed

[2019-07-23 20:58] yanchicago opened #3508 "The customized ceph mgr port ( except 8443 ) is not working"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
1). The dashboard can't be accessed if the mgr's port is configured as 8444.
2). With port "8444" the mgr pod log still shows serving on 8443.
<
[23/Jul/2019:15:54:58] ENGINE Started monitor thread '_TimeoutMonitor'.
[23/Jul/2019:15:54:58] ENGINE Serving on :::9283
[23/Jul/2019:15:54:58] ENGINE Bus STA

[2019-07-24 02:10] chenyg0911 commented on #3486
Does anybody success expoorts ObjectGateway through NFS ganesha?

[2019-07-24 02:20] Aisuko commented on #2434
@travisn Thanks for your quick replay sir, but I have no idea on this currently.

[code]

[code]

[code]

[code]

[2019-07-24 06:02] chenyg0911 commented on #3486
probe the pod ganesha.conf, the config is effect on the first nfs server which is cephfs backend. Delete this nfs, it work. Maybe need to research more about how to config multi server.

[2019-07-24 06:02] #3486 closed

[2019-07-24 08:57] Aisuko commented on #2434
After I set `extra_args` to RKE config

[code]
the ceph cluster can not be started. And the rook-ceph-detect-version always in terminating status. And check ceph status didn't work.

[code]

[2019-07-24 09:44] humblec commented on #3386
@ekuric can you please check this behavior with "canary" image as we are using `subvolume` based mounts. So, deploying it from "rook" master should get the environment to verify.

[2019-07-24 10:13] mmariani opened #3510 "dynamic provisioning w/ containerd"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Of two clusters: one with docker, one with containerd, only the first one has dynamic provisioning.
All the components are the same (version numbers, same vm and networking setup, same rook configuration).

**How to reproduce it (minimal and precise):**

Create a [CDK cluster](https://jaas.ai/canonica

[2019-07-24 10:25] ftab commented on #3132
I don't understand why it's this bad. I was using an older version of rook (I believe 0.7) with the applications and OSDs happily coexisting on the same boxes.

[2019-07-24 14:19] Aisuko opened #3512 "The pod mgr and osd did not can be create"
**Is this a bug report or feature request?**
* Bug Report

 Have a talk on #2434 , and I got some log like below:

[code]

from pods

[code]

**Deviation from expected behavior:**
And now the StorageClass can not be used with any PVC.
**Expected behavior:**
The StorageClass Can be mount as PVC.
**How to reproduce it (minimal and precise):**

Use the RKE deploy the cluster and follow the rook offic

[2019-07-24 14:20] travisn commented on #3480
Thanks @rajatsingh25aug for taking this. Here are a few more details for the approach to this... We need to add the validation to the CRD. We already have some [validation on the CephCluster](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/common.yaml#L34-L86) CRD. Now we need validation for the pool, filesystem, and object store. Basically, look at pool.yaml, object.yaml

[2019-07-24 14:27] yanchicago commented on #3474
Related issue: https://github.com/rook/rook/issues/3508
The customized ceph mgr port doesn't work regardless hostnetwork is true of false.

[2019-07-24 17:46] NicolaiSchmid opened #3515 "Cluster not starting"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The cluster is not started

**How to reproduce it (minimal and precise):**
I applied the following cluster configuration

[code]
The logs of the operator:
[code]
But no additional pods get started. The cluster is not creating and nothing happens

**Environment**:
* OS (e.g. from /etc/os-release):
[code

[2019-07-24 19:19] djgalloway commented on #3504
@leseb Am I seeing the following error in OCP 4.2 because of this issue?

[code]

[2019-07-24 19:31] travisn commented on #3504
@djgalloway Can you check if you have the latest build? Looks like you're hitting #3499, which was fixed yesterday

[2019-07-24 20:28] djgalloway commented on #3504
Yep, this appears to be fixed in `rook-1.0.0-290.g72b9ec3a`.  Thanks @travisn!

[2019-07-24 20:59] travisn commented on #2434
These are your only pods? The operator must be stuck on detecting the version of ceph. The operator log would show more details. In order for your PVCs to work, you'll need to see pods at least for mons, mgr, osds. The `ceph status` in the toolbox would indicate if it's up and running.

[2019-07-24 21:19] travisn commented on #3484
Specifically, the operator was waiting for an OSD to be installed. The configmap `rook-ceph-osd-<node>-status` existed for the missing node, but the node was never going to respond. The operator shouldn't stay blocked on a node that isn't responding, whether or not the node has been removed. A timeout should be sufficient here to remove the configmap and continue.

[2019-07-24 21:27] #3092 closed

[2019-07-24 22:06] ben-le commented on #2916
@dazhaoyu to resolve the issue; you just need to replace the IP addresses with hostnames in your cluster.yaml file

[2019-07-24 23:46] travisn opened #3517 "Ceph-CSI Integration tests are constantly failing without raising an error"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The test log from a recent 1.15 [CI run](https://jenkins.rook.io/blue/rest/organizations/jenkins/pipelines/rook/pipelines/rook/branches/PR-3514/runs/1/nodes/55/steps/114/log/?start=0) in PR #3514 shows the following:
[code]

On 1.11 where we don't expect the CSI tests to run, they are taking 200s befo

[2019-07-25 02:25] Madhu-1 commented on #3517
@travisn sure let me check

[2019-07-25 03:29] Aisuko commented on #2434
Here is the operator logs from the operator was deployed to the cluster was deployed, and I find there `exec` command was a timeout.
[code]

[code]

[2019-07-25 04:09] travisn opened #3518 "Ceph-CSI integration test needs to clean up resources"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The CSI integration test (see `runCephCSIE2ETest()`)is creating resources, but not cleaning them up. Each integration test needs to remove the resources that it creates when it is finished.

One side effect is that a filesystem is created during the csi test, then later another test attempts to create

[2019-07-25 07:02] rajatsingh25aug commented on #3480
Okay, @travisn I'll look into it.
Thanks again!

[2019-07-25 09:19] iMartyn commented on #3132
I have had this issue multiple times, rebuilt my cluster with v13 and v14 bluestore because of it multiple times, it's actually beyond tolerable.  I just get PVCs working nicely, everything running, get to working and then any large data transfer kills the workers.

Latest test : v13 OSDs on two worker nodes but not on the master. create pod that mounts the cephfs on the master.  rsync using the h

[2019-07-25 09:26] mykaul commented on #3132
@iMartyn  - are you using host network with Ceph?

[2019-07-25 09:44] Aisuko commented on #3512
Oh, I have to log in to cluster's nodes, and manually delete the folder `/var/lib/rook`. These mgr
,osd pod can be created

[2019-07-25 09:49] Aisuko commented on #2434
Oh, I have to log in to cluster's nodes, and manually delete the folder `/var/lib/rook`. These mgr
,osd pod can be created and the tool can be work well.

[code]

[2019-07-25 10:21] Madhu-1 commented on #3517
@travisn this is failing due to the issue mentioned in https://github.com/rook/rook/pull/3324#issuecomment-503542313. I believe this will be fixed by https://github.com/rook/rook/pull/3373

[2019-07-25 10:30] markhpc commented on #3132
Hi Folks,

The way I would approach this now is to try and get some more information about the root cause for the slowdown on an OSD showing high CPU utilization.  It might be a bit harder to do this on an OSD inside a container, but here are some ideas:

1) To start out with just look at all of your osd and system logs to see if there's anything obvious like timeouts, tainted kernel, driver issue

[2019-07-25 10:41] alexcpn commented on #2597
In my case the storage.yaml missed a space in key value and the logs of the rook operartor was complaining ; Please check logs `kubectl -n rook-ceph logs --tail=10  rook-ceph-operator-xxxx`
Error
`github.com/rook/operator-kit/watcher.go:76: Failed to list *v1.CephBlockPool: v1.CephBlockPoolList.Items: []v1.CephBlockPool: v1.CephBlockPool.Spec: v1.PoolSpec.Replicated: readObjectStart: expect { or n

[2019-07-25 10:49] alexcpn commented on #3480
Maybe yaml should be validated; I was getting this error as I missed a space  during edit ( I am also new to yamls and missed the trend of spaces before values followed)

`spec:
  replicated:
    size:1
`
`kubectl -n rook-ceph logs --tail=10  rook-ceph-operator-..`

Corrected to

`spec:
  replicated:
    size: 1
`
and things are fine

d

[2019-07-25 10:55] umangachapagain opened #3521 "OSD Pod marked OUT immediately after creation and cleaned"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD got created and immediately terminated.

**Expected behavior:**
OSD once created should not be terminated immediately after creation.

**How to reproduce it (minimal and precise):**

Deploy rook/ceph:master on OCP 4.1. Create a ceph cluster and add disk after that.

**File(s) to submit**:

* Cluste

[2019-07-25 13:14] billimek commented on #3132
@markhpc,

Do you know if it is acceptable or proper to run ceph client workloads (e.g. pods with PVCs residing in ceph/rbd storage) in the same kernel space (same k8s node) where the ceph OSDs are also running?

Is the same true if running heavy IO workloads?

[2019-07-25 13:21] markhpc commented on #3132
@billimek From what I recall, the problem with doing that in the past was that in low memory scenarios you could end up using memory to create client requests and then not have enough memory to actually perform the OSD side writes leading to a deadlock.  BlueStore may be more resilient to it vs filestore but it's possible it could still happen if you are very memory constrained.

I doubt it's caus

[2019-07-25 13:25] MaxDiOrio opened #3522 "Rancher: wrong directory being used and FlexVol doc wrong"
Rancher 2.3-alpha5, but this existed long before this version.

Documentation is wrong here:  https://rook.io/docs/rook/v1.0/flexvolume.html

Rancher's default FlexVol path is /var/lib/kubelet/volumeplugins

During Rook Operator Deployment, specify :

env:
[...]
- name: FLEXVOLUME_DIR_PATH
  value: "/var/lib/kubelet/volumeplugins"

(In the operator.yaml manifest replace <PathToFlexVolumes> with th

[2019-07-25 14:03] teralype opened #3524 "Add Prometheus support to Rook Operator"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add Prometheus support to the Rook Operator so that the operator itself can be monitored using Prometheus.

**What is use case behind this feature:**
I can't seem to find a way to monitor the Rook Operator using kube-prometheus because it does not `/metrics` (mostly because it does not expose any port).

[2019-07-25 14:09] klinamen commented on #3157
Is there anyone who can confirm what the expected behavior is in case an existing owned LVM volume is found?

[2019-07-25 14:56] travisn opened #3525 "Ceph NFS fails to start on OpenShift"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
NFS fails to start on OpenShift due to the recent change to run as the ceph user.

For example, the pod `rook-ceph-nfs-my-nfs-a-57bfb4bc95-sncvg` is in pending state due to:
[code]

**Expected behavior:**
The NFS pod spec needs the following, similar to #3498
[code]

**How to reproduce it (minimal and

[2019-07-25 14:58] mmariani commented on #3510
Oh well, I have recreated the cluster and could not reproduce anymore.

Rook+ceph works well with containerd too. I will be more careful in future deployments to see where the problem came from.

[2019-07-25 14:58] #3510 closed

[2019-07-25 16:35] BlaineEXE commented on #1796
Commenting to remove staleness. This is still something we want to do, but the priority isn't as high as other things at this time.

[2019-07-25 17:45] travisn commented on #3521
@rohan47 Looks like cleaning up the OSDs is too aggressive. Instead of adding back in something that keeps track for how long the osd has been out, what if we checked on the age of the pod? For example, when we get the deployment [here](https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/osd/health.go#L117) to delete it, we could check its age. If it's "new", we should not remove it

[2019-07-25 18:30] iMartyn commented on #3132
@mykaul I can confirm the same happens with hostnetwork and without.

[2019-07-25 18:31] dimm0 commented on #2254
Still hitting this, manually chowning all new volumes for new users
All new jupyter notebooks are broken

[2019-07-25 18:45] iMartyn commented on #3132
@markhpc it's kinda impossible to do any debugging in these scenarios.  The load goes into the 10s and then beyond.  I can't login with kb+mouse on the physical machine.  I have checked the logs and the only errors are those such as are shown in @vitobotta's screenshot above.  I'm running on exactly the same distro on all machines (debian 9).  I was on a mixed debian 9/10 at one point and the erro

[2019-07-25 19:01] rohan47 commented on #3521
Yes makes sense

I guess we should at least wait for around 20 to 30 min, Need suggestions here

[2019-07-25 19:07] billimek commented on #3132
Agreed @iMartyn, my observations were extremely high load (mostly caused my blocked IO it seemed) but relatively low CPU utilization in comparison.  I actually [captured screenshots](https://github.com/billimek/k8s-gitops/issues/3#issuecomment-455007882) of netdata and glances during these times when it was happening.

[2019-07-25 19:13] iMartyn commented on #3132
Further data point : I just restarted my dead due to load node `worker`, and as it came back up, the load on the second worker machine `fuji` skyrocketed.  Just restarting it and I'll see what collectl shows.  For info, ceph status at this point shows :
[code]
and `ceph osd tree`
[code]
It seems your commands above don't work in the toolbox though :
[code]

[2019-07-25 19:26] markhpc commented on #3132
Hi iMaryn

I was just basing that off this line from the original issue:

If it's high load with associated high iowait then I agree we are probably more interesting in what's happen on the disks.

I think you are missing the id after "osd.".  Try something like "osd.0"?

The collectl data should be useful.  Is there any chance these nodes are hitting swap? (sorry if the answer is in the graphs/sy

[2019-07-25 19:26] iMartyn commented on #3132
Collectl raw log : https://nextcloud.martyn.berlin/s/GN7gAzK7szk59Ar - I'm not very sure how to read this, and I hope you can download it before my cluster goes down due to high load again!

[2019-07-25 19:27] iMartyn commented on #3132
Yeah I tried with numbers and still get
[code]

[2019-07-25 19:28] iMartyn commented on #3132
And no, swap is disabled on these nodes as k8s and swap are mostly incompatible (kubeadm refuses to install on swap-enabled machines)

[2019-07-25 19:50] markhpc commented on #3132
To get disk stats:

collectl -sD -oT -p fuji-20190725-211504.raw.gz

A couple of interesting bits.  sda is showing high util with lots of large read IO that tapered off toward the end of the collection period:

collectl -sD -oT -p fuji-20190725-211504.raw.gz | grep -E "Pct|Util|sda"
[code]

I also noticed that sdc had a high wait time spike toward the beginning of the collection period and then go

[2019-07-25 19:57] iMartyn commented on #3132
nope, all default rook settings.  That machine isn't _very_ well endowed memory wise - 8Gb in total.  I would expect both disks to be fairly slow (sda is a wd red 4tb and sdc is a 10tb WD mybook disk).  sdb is an ssd boot drive and therefore not in the ceph cluster.

[2019-07-25 20:13] markhpc commented on #3132
When you say SDC is a 10TB WD mybook, do you mean this?

https://www.amazon.com/10TB-Desktop-External-Drive-WDBBGB0100HBK-NESN/dp/B07CMH78R5

After a quick glance through reddit it looks like that's a 5400rpm helium drive (basically a WD red) in a USB3 enclosure.  Is it connected to the system via USB?  Any chance that could be playing a part in that wait spike on SDC we are seeing?

[2019-07-25 20:35] vitobotta commented on #3132
I'm happy to see that it wasn't just me and that this discussion is developing :)

As said on Slack I had given up on Kubernetes a couple of days ago because I'm not happy with OpenEBS' performance and I don't want to risk problems with a project I'm working on. So I even moved my personal stuff (Nextcloud and several other apps with data) from Kubernetes back to some hosted services for now. I wa

[2019-07-25 20:48] iMartyn commented on #3132
It is currently and it could but I have seen exactly the same result with the disks connected over sata.  Currently that's tricky because the bios doesn't wait long enough for the disk to spin up so I can only get it to boot 2/3 times, so I reverted back to USB.

[2019-07-25 20:49] travisn opened #3529 "Mon pod fails to start when dataDirHostPath includes a symlink"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When I have a symlink in minikube from /var/lib/rook --> /mnt/sda1/var/lib/rook, I see the following error when the mon attempts to start:
[code]

The workaround is to just use `/mnt/sda1/var/lib/rook` as the `dataDirHostPath`. Not a big deal for development, but I wonder if others might be using symli

[2019-07-25 21:54] vitobotta commented on #3132
I installed Rook 1.0.4 and tried to copy/extract 42GB of mixed photos and videos into a volume. As soon as it was extracting a large video, load went to 40 (and climbing) and everything is stalled.

[2019-07-25 21:58] vitobotta commented on #3132
The weird thing is that when this happens I don't see any processes using a lot of CPU:

[code]

[2019-07-25 22:02] vitobotta commented on #3132
I enabled block dump and in syslog I see this kind of stuff:

[code]

What are dirtied inodes?

[2019-07-25 22:45] iMartyn commented on #3132
Well, after some hard-core hacking (involving a soldering iron and some cheap voltage adapters, the disks are now all connected directly via sata.  I don't want to hammer (well `ionice -c2 -n7 rsync --bwlimit=50000`) the filesystem now because if it goes iowait stuck that will again leave me with no access to the cluster whilst I'm at work tomorrow.  I probably won't get another chance to hit it w

[2019-07-25 23:29] markhpc commented on #3132
It's probably iowait.  If you can install collectl and grab a log like iMartyn did I can take a look at it.

So two parts to that question:

1) An inode is metadata about a file: permissions, size, modification time, extended attributes, etc.  So when you do something that might change one these fields, you must update the inode.

2) Dirty data is data that needs to be synced to disk.  So dirty in

[2019-07-25 23:49] yydzhou opened #3531 "csi pv creation error: failed to provision volume with StorageClass "csi-cephfs": rpc error: code = InvalidArgument desc = error creating a temporary keyfile (open /tmp/csi/keys/keyfile-853935555: no such file or directory)"
Searched online, but didn't find similar report. was able to succeed yesterday. today just retry same code, then failed. After failure, pulled the most recent code and still see the issue.

**Is this a bug report or feature request?**
* Bug Report
**Deviation from expected behavior:**

**Expected behavior:**
Expecting the pv creation success
**How to reproduce it (minimal and precise):**

On the r

[2019-07-26 02:16] Aisuko commented on #3512
So, Let's make a review

1. I use RKE to deploy a cluster HA, but I did not make a config with `FlexVolume ` first time. Please follow the document for your cloud provider https://rook.github.io/docs/rook/v1.0/flexvolume.html  Although the mgr and mon-[q,b,c] ,osd pods were deployed succeed. But if you create StorageClass and want to bind the sc, the chart pod would be stuck. Because you do not se

[2019-07-26 10:10] ajax-2 opened #3535 "Cephfs: file will be cleared"
**Environment**:
* Rook version : 1.0.3
* Storage backend version : ceph
* Kubernetes version : v1.14.1
* Kubernetes cluster type : kubeadm
* Storage backend status : HEALTH OK
* Container : tomcat
* Install : common.yaml operator.yaml ,cluster.yaml, filesystem.yaml
* Mount method :
[code]
** Details **
[code]

** Log & Picture **
1, I cannot get any log of the problem, and my pvc(kubernetes)'s mo

[2019-07-26 13:05] srinivas7143 opened #3536 "osdmap problems"
**Is this a bug report or feature request?**

* Bug Report
* Feature Request

**Bug Report**

**Expected behavior:**

**Deviation from expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom ressource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kub

[2019-07-26 13:06] srinivas7143 commented on #3536
2019-07-26 13:03:23.156 7fb6befc6d80 -1 Falling back to public interface
2019-07-26 13:03:23.220 7fb6befc6d80 -1 journal FileJournal::_open: disabling aio for non-block journal.  Use journal_force_aio to force use of aio anyway
2019-07-26 13:03:23.228 7fb6befc6d80 -1 journal do_read_entry(8192): bad header magic
2019-07-26 13:03:23.228 7fb6befc6d80 -1 journal do_read_entry(8192): bad header magic

[2019-07-26 13:11] karolgil commented on #2953
I'm experiencing same issues, running rook version `v0.9.3` on EKS version `1.13.7`. For 40 and 50 GB PVCs it takes 3-4 minutes for mount to timeout. After some time then pod mounts the volumes and starts normally.

[2019-07-26 13:27] karolgil commented on #2254
@dimm0 I suppose it's not 1.15 - we're sitting on `1.13.7` and still hitting it.

[2019-07-26 14:58] yanchicago commented on #3362
Here's additional info and it hangs at "blkid"

`
[root@rook-ceph-osd-prepare-ceph-control-01-n2q7g /]# ps auxf
USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root       545  0.0  0.0  11820  1960 pts/2    Ss   14:51   0:00 bash
root       563  0.0  0.0  51740  1712 pts/2    R+   14:53   0:00  \_ ps auxf
root         1  0.0  0.0   4352   356 ?        Ss   14:31   0:00 /ro

[2019-07-26 16:03] yanchicago commented on #3218
Could rook 1.0.x be rebuilt with ceph 14.2.2 to eliminate the security issue?

[2019-07-26 16:19] travisn commented on #3218
@yanchicago Could you verify the scan is successful in the `rook/ceph:master` image? This update was made with #3489. We would need to backport this to the 1.0 release. Let's discuss in the next [community meeting](https://github.com/rook/rook#community-meeting) on Tuesday the urgency to release this before the 1.1 release.

[2019-07-26 16:46] yanchicago commented on #3218
@travisn I've scanned the ceph 14.2.2 already and it eliminated the 2 security issues found in 14.2.1.
Rook 1.0.2 just inherit them from 14.2.2 so it should be clear once it's built upon 14.2.2.
Note: Rook1.0.4 has the same 2 security issues as ceph 14.2.1.

[2019-07-26 20:03] robinbraemer commented on #3536
Got errors in a mon when creating a new cluster in rook 1.0.4
[code]

[2019-07-26 20:06] robinbraemer commented on #3536
Other errors on another mon
[code]

[2019-07-26 20:09] robinbraemer commented on #3536
And again other errors on another mon
[code]

[2019-07-26 23:16] thomasjm commented on #1125
One interesting note about the external provisioner: I noticed that the `PersistentVolume` created `cephfs-provisioner` is actually a CephFS persistent volume, which K8S evidently has native support for (see [here](https://kubernetes.io/docs/concepts/storage/persistent-volumes/)).

On the other hand, the manually created PV given by @anguslees above uses FlexVolume.

They both seem to work okay, n

[2019-07-27 11:51] iMartyn commented on #3132
@markhpc I now have a collectl where usb is not in the equation and I was able to see it happen again : https://nextcloud.martyn.berlin/s/j77s22M6fYXwF9c

I had the rsync on the screen and it chugged merrily through big files and small and then at about 13:20 it stopped (on a 3mb file so not actually anything hard to deal with) and load skyrocketed.

Just to be clear - I'm sure that there might be

[2019-07-27 11:56] iMartyn commented on #3132
Oh, and syslog from that time :
[code]
That's 13:22:15 when I was just about getting a response so I tried a clean restart, which never happened so 13:28 was when it booted from the hard reboot.

[2019-07-27 19:13] MikeDaniel18 commented on #1125
What's the progress of this feature? It's been nearly 2 years since it was picked up, and though there seems to have been initial momentum it doesn't appear to have had development done on it. Can we track the progress somewhere?

[2019-07-28 02:57] thomasjm commented on #1125
FWIW, there's an open PR to more or less bring `cephfs-provisioner` into Rook: https://github.com/rook/rook/pull/3264

There's some discussion over there about whether to finish that PR or wait for the CSI driver, which would have dynamic provisioning. From that thread:

I'm hoping that this solution works the same as `cephfs-provisioner` by making each PV a subfolder of a Ceph filesystem. I haven

[2019-07-28 08:54] MikeDaniel18 commented on #1125
@thomasjm Thank you for digging that one up. That does seem to imply things are making progress one way or another.

Perhaps I'll hold off using it until 1.1 is released.

[2019-07-28 19:45] megian commented on #3106
Can confirm it too. Dashboard is working with the image `v14.2.2-20190722`, without any configuration changes.

[2019-07-28 20:21] hansbogert commented on #3138
this messed up my cluster even more, since my worker nodes, ubuntu 16.04 with kernel 4.4, could no longer mount rbd's since kernel 4.4 is only hammer-compatible.

after a long debug, the only thing I had to do was decompile my crush map, and change all the `straw` buckets to, `straw2`. The warnings in ceph are really bad in explaining that `straw` is a firefly setting.
Imo, this is the real fix wi

[2019-07-28 20:42] jpiper commented on #3138
Ah, I’m on 4.14. I’ll edit my comment to highlight it could mess things up

[2019-07-28 22:52] iMartyn commented on #3132
I hate to sound like a broken record here but this is a *CRITICAL* issue for ceph/rook.  Three times over the weekend I had IO Spike until one of the machines died.  And just now, again, the cluster just hasn't recovered.  I now have 300 unknown PGs and no data yet again. 4 OSDs, 4 Up, 4 In, just pgs nowhere to be seen.  I appreciate how difficult this is to debug but rook and ceph is haemorrhagin

[2019-07-28 23:14] luisrico commented on #3466
I faced same issue with Rook v1.0.4 and OCP 4.1, after creating common.yml + operator-openshift.yaml + cluster-test.yaml, rook-ceph-osd-prepare fails and reach backoff limit so osd pods are not created. Slightly different log error  found in oc logs rook-ceph-operator- for all dataDirHostPath OSDs:
[code]
Applied the fix by modifying common.yaml and got Ceph cluster up and running.

[2019-07-29 00:09] ron1 commented on #3466
Did you use the original patch or the narrowed patch?

[2019-07-29 00:18] luisrico commented on #3466
I applied original patch: adding these 3 lines after line 480 in common.yaml:
[code]

[2019-07-29 04:39] Madhu-1 commented on #3531
Fixed in #3528

[2019-07-29 04:39] #3531 closed

[2019-07-29 07:04] #3106 closed

[2019-07-29 07:12] sebastian-philipp commented on #3138
@dillaman  fyi. Is something were we can improve the usability?

[2019-07-29 08:18] mumrau commented on #3106
It would maybe interesting to give the commands for the `rollback` of @noahdesu workaround which has probably been used my tons of people.

[2019-07-29 09:05] vishal-biyani opened #3537 "YugaByte DB Rook operator"
* Feature Request

**What should the feature do:**

YugaByte DB is a high-performance distributed transactional database. (More information [here](https://docs.yugabyte.com/latest/introduction/)). This issue outlines design and interfaces for a Rook YugaByte operator for running YugaByte on Kubernetes with Rook as the underlying storage engine.

**What is use case behind this feature:**

A cluster

[2019-07-29 11:04] dillaman commented on #3138
@sebastian-philipp This isn't really my area of expertise in Ceph

[2019-07-29 11:33] markhpc commented on #3132
@iMartyn I can't download your file.  It's claiming the document could not be found on the server.

[2019-07-29 11:38] iMartyn commented on #3132
@markhpc I _think_ it should work again now.  it is a file hosted on cephfs so it's not resilient to the problems I've been having.

[2019-07-29 11:44] nabokihms commented on #3455
Now I use configMapName option for rack with some  generated config map with external python script, so... I will close it and configMapOption for jmx_exporter.

[2019-07-29 12:45] markhpc commented on #3132
Got it.  Looking at it now.  I think you are basically running out of RAM before the OOM killer can be invoked.  First I'm seeing some big latency spikes on the underlying disk:

[code]

This corresponds to a big spike in page faults and page outs from the memory statistics:

[code]

One thing I'm seeing is that the container is set to 8GB of memory and the commit memory (ie how much is needed to

[2019-07-29 13:00] billimek commented on #3132
Thanks for that hint, @markhpc - the low memory situation seems like a good thread to chase here.

For others following this issue, some additional reading related to this setting may be:

* [bluestore config ref documentation](https://docs.ceph.com/docs/mimic/rados/configuration/bluestore-config-ref/#automatic-cache-sizing)
* Ceph PR [#26856](https://github.com/ceph/ceph/pull/26856)
* Rook PR [#2

[2019-07-29 13:02] bengland2 commented on #3132
@iMartyn @markhpc  I think [rook is setting CGroup limits for memory and CPU here, in the resources/limits YAML section](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L125).   You might want to find out what your CGroup memory limits are for your mons and OSDs and make sure that they are consistent with the osd_memory_target that Ceph is expecting, [as desc

[2019-07-29 13:26] iMartyn commented on #3132
So sure, on `fuji` (which has 8Gb ram) I can see that potentially being an explanation, but the same is happening on `worker` (which has 16Gb).  Of course there are other workloads in the picture there as well.

The CGroup limits (resources in k8s world) are unset (0), so it's not being killed for overstepping there, and that would indicate that yes, it's using the default of 4G.

If I'm reading t

[2019-07-29 13:32] mykaul commented on #560
@travisn  - I assume the above is still relevant? Should we open this item? (it's not clear to me why it's 'done' under 1.1)

[2019-07-29 13:56] travisn commented on #560
Agreed, reopening... the bot just closed it and marked it as done

[2019-07-29 13:59] iMartyn commented on #3132
Looks like I can't do that because rook won't let me :'(
https://github.com/rook/rook/blob/d774fec858d9817d428111742c75696debda5d97/pkg/operator/ceph/cluster/osd/osd.go#L60

[2019-07-29 15:05] markhpc commented on #3132
FWIW, I think you are going to need to go even smaller.  The OSDs didn't even hit 2GB of RSS memory usage.  You might want to start out with just 1 OSD at 2GB and see how it does.  If that works, try 2 OSDs with 2GB.

[2019-07-29 15:16] iMartyn commented on #3132
Well, it's gonna take a while to get back in sync anyway, so I doubt I'll get the stats for you today, the tunables change from mimic to luminous pretty much made every pg need shuffling.  That's actually a fair bit of I/O in itself so we'll see if it recovers.  If it doesn't kill itself, I'll see about removing the smaller OSDs, and seeing if I can trigger the failure mode.

And yes, I've killed

[2019-07-29 15:17] sebastian-philipp commented on #560
@lenzgr this might create conflicts between what the dashboard things and what rook things are enabled modules

[2019-07-29 15:20] markhpc commented on #3132
If you want to stick with an older version of ceph (prior to the memory autotuner) you can set the bluestore cache size to something small like 128MB.  That will likely hurt performance because much fewer onodes will be cached (and rocksdb might struggle to cache indexes/filters), but it's one way you could see if it helps with the load issue.

[2019-07-29 15:49] travisn commented on #3466
@ron1 Given the repro on OCSP 4.1, sounds like we can go ahead and add this to common.yaml instead of keeping it separate. You're planning on opening a PR then?

[2019-07-29 16:03] noahdesu commented on #3363
@galexrt sorry about that. thought it was public :)

[2019-07-29 17:10] iMartyn commented on #3132
Ooooh interesting data point, at some point whilst I was travelling home, load spiked again, but this time, it actually recovered!  I'm looking at a load of 3.71, 3.74. 7.05 on `worker` (the 16G machine) and in prometheus, I see a spike of 71!.  This seems to indicate that the new memory target has actually let it recover, which it never did before.

[2019-07-29 17:27] vitobotta commented on #3132
How can I reproduce your tests with the modified image? BTW I also had this problem with both 2cores/8GB and 4cores/16GB.

[2019-07-29 17:34] iMartyn commented on #3132
Okay, to test if you are seeing the same :

- acknowledge that I am not responsible if this messes everything up for you! ;-)
- ensure you are using ceph >= 14.2.0 for the cgroup-aware memory autotuner
- change your rook-ceph-operator deployment to `imartyn/rook-ceph-test:latest-102`
- set limits of 2Gb or more (my image set that as the minimum) for your osd in your cluster CRD
- check that it flo

[2019-07-29 17:37] markhpc commented on #3132
You may also want to consider enabling swap.  That would let the kernel move rarely used pages out to disk and you might see better behavior overall.  Alternately more RAM would of course be helpful and it's pretty cheap right now. :-)

I'd recommend something like 4GB base RAM + 4*1.2 GB RAM per OSD as sort of a generic goal.  In reality, you want to keep as many bluestore onodes and as much OMAP

[2019-07-29 17:38] iMartyn commented on #3132
Unfortunately swap is a no go with kubernetes.

[2019-07-29 17:39] markhpc commented on #3132
Ah, scratch that then.  More RAM. :-D

[2019-07-29 17:43] vitobotta commented on #3132
Sure, I'll try with a disposable cluster when I am home. Thanks!

[2019-07-29 17:44] vitobotta commented on #3132
BTW how can I log load with Prometheus during my tests?

[2019-07-29 17:45] iMartyn commented on #3132
Well, I run node-exporter and then just graph node_load1.

[2019-07-29 17:47] vitobotta commented on #3132
Ok. Rancher (which I use) also has cluster monitoring so perhaps I can try
that too.

On Mon, 29 Jul 2019, 20.46 Martyn Ranyard, <notifications@github.com> wrote:

[2019-07-29 17:54] billimek commented on #3132
For a kubernetes 'bare metal' node running one OSD, do we have any levers to 'reserve' the minimum 4.8GB of memory (using the 4*1.2 GB RAM per OSD formula) for the OSD, so that kubernetes doesn't try to schedule workload on the node?

This seems to be a requirement to have in place so that the OSD won't run out of memory and result in a system lockup.

Unless I'm misinterpreting the path we're goi

[2019-07-29 18:02] markhpc commented on #3132
FYI, this is a very good thread talking about kubernetes and swap:

https://github.com/kubernetes/kubernetes/issues/53533

note specifically these comments:

https://github.com/kubernetes/kubernetes/issues/53533#issuecomment-355526636
https://github.com/kubernetes/kubernetes/issues/53533#issuecomment-385654997
https://github.com/kubernetes/kubernetes/issues/53533#issuecomment-426261343
https://git

[2019-07-29 18:13] markhpc commented on #3132
I'm afraid I don't know kubernetes particularly well, but my very simplistic view would be to set the container to ~5GB, the osd_memory_target to 4GB, and then make sure you have enough memory in the bare metal node to handle whatever processes are running there (ie the 4GB I mentioned, but maybe you need more if you are doing something crazy).

Based on that thread I linked it sounds like kuberne

[2019-07-29 18:22] bengland2 commented on #3132
+1.  Kubernetes is doing nothing more than implementing Linux CGroup memory limits, and if Linux can't swap then the only penalty for exceeding memory limit is death ;-) OOM kill.   If swap was enabled, then I think it would just swap out parts of the process to bring RSS down in size to the CGroup limit, still a bad situation from a performance perspective.   This is very unlike CPU limits, where

[2019-07-29 18:28] iMartyn commented on #3132
So the thing is that yes, you can reserve that memory, if you specify requests on absolutely everything.

That's not a standard way to run kube though, usually you tetris as much as possible because frankly 99% of workloads don't actually need their limits all the time.

So, if you have requests and limits on everything, you end up with guaranteed scheduling at the loss of being able to share reso

[2019-07-29 18:30] iMartyn commented on #3132
For the above : https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/ and https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/ are the official references for this stuff.

[2019-07-29 18:48] markhpc commented on #3132
So if you look at that last link I provided a couple of posts back, the gist of it is that disabling swap only prevents anonymous pages from being swapped, but that doesn't prevent the kernel from swapping out executable code associated with file pages when under memory pressure.  IE we can't swap out random anonymous stuff from the heap, but the kernel is still perfectly content to swap out porti

[2019-07-29 18:52] iMartyn commented on #3132
Oh yes, that is annoying, swapd is often showing up on kube nodes even though there's no swap, and it's eating cpu, flailing about, upsetting things.  I wish there was a way of just saying "Just OOM kill things if you are not happy." because swapd with no swap always seems to lead to trouble.  Not just talking about this cluster fwiw, I've seen it in others.

[2019-07-29 19:00] travisn opened #3539 "Update bluestore OSDs with new format in v14.2.2"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
When the underlying data format changes in the OSDs, we need to perform a long running operation to update the OSDs. The requirement as seen [here](https://github.com/ceph/ceph/pull/29011/files#diff-662a7de9ea1019d168ac10d9a198c4c9R25) in certain upgrade scenarios is:
- Stop the OSD
- Run the repair on

[2019-07-29 19:13] bengland2 commented on #3132
Mark, a) Sounds like that's not going to help you much - how much RAM does that save you?      b) Do you really want the kernel swapping out your code all the time, including shared libraries used by other processes?   What's that going to do to your performance?

@iMartyn , We've seen OOM kills in both OpenStack (with containerized Ceph) and K8S as well when CGroup limits weren't set right, with

[2019-07-29 19:23] yanchicago commented on #3362
strace -o blkid_strace2.out blkid -t PARTUUID="bzqR4A-cgGV-OXDC-pnVx-IbPk-Yn7z-S7NxUK" -o device

[blkid_strace2.out.txt](https://github.com/rook/rook/files/3443976/blkid_strace2.out.txt)

[2019-07-29 19:31] markhpc commented on #3132
@bengland2 I mean that with swap disabled, the only thing the kernel can (and will!) swap out is file pages rather than anon pages.  So instead of swapping out seldom-used heap memory, it's going to swap out portions of the ceph executable or shared libraries or whatever.  I suspect this is why the whole system basically goes unresponsive before the OOM killer is invoked.

Having said that, I susp

[2019-07-29 20:31] vitobotta commented on #3132
@iMartyn Just installed 1.0.2 with your image and set the OSD memory to 2Gi. It doesn't start because of 'segmentation fault'. What should I do?

[2019-07-29 21:42] #2283 closed

[2019-07-29 21:42] #2955 closed

[2019-07-29 21:46] markcb2 commented on #2526
Experiencing the same issue as sebastain-phillip

[2019-07-29 22:03] vitobotta commented on #3132
@iMartyn OMG it's looking good! :D So I created a CentOS Vagrant VM on my Mac with 2 cores and 8 GB of ram (I would try with a VPS with more memory if needed), using your image for the operator and setting the memory for the OSD to 2Gi. To test both reads and writes I first extracted a 40 GB archive of photos/videos into a Ceph volume, and then created an archive from the content of the volume to

[2019-07-29 22:23] markhpc commented on #3132
@vitobotta Sounds hopeful so far!  I do want to mention that running the OSD with 2GB can be pretty inefficient, especially if you have large disks.  That generally doesn't leave very much memory for caches and you can end up with a lot of extra metadata reads during IO.  If possible, I would definitely recommend upgrading so you can hit a 4GB+ osd_memory_target (and actually see the OSD using the

[2019-07-29 22:33] vitobotta commented on #3132
Hi Mark, the reason I would like to use smaller servers is to save a few
bucks since I don't have a job at the moment 🙂 My project will start with
100GB disks on the nodes but starting with basically no data, so I guess I
should be OK in the beginning? For the cluster hosting my code/nextcloud
data and several other things I will use 4cores/16GB of ram instead.

BTW another round repeating the sam

[2019-07-29 23:02] davidkarlsen commented on #3132
@markhpc Why the large memory size? https://docs.ceph.com/docs/jewel/start/hardware-recommendations/ states ~1GB per 1TB disk?

[2019-07-29 23:34] markhpc commented on #3132
@davidkarlsen

Those recommendations were always flawed imho.  They sort of make sense in the middle (4GB for a 4TB HDD was reasonable back in the jewel days) but they are totally wrong at the extremes.  You don't really need 10GB per OSD for a 10TB HDD and you can't run an OSD with 0.5GB of RAM no matter how small the disk is (those recommendations would claim 500GB)

The real answer is:

1) You

[2019-07-30 08:48] vitobotta commented on #3132
I have repeated the same tests 3 times and all were successful. Funny thing is that for the cluster I used in the last test I set the memory of the VM to 5 GB by mistake instead of 8GB. It worked fine even with that low memory and took roughly the same time.

Now I have another problem.... after rebooting the server the OSD is not starting because it can't find the /dev/ceph* directory/device. lsb

[2019-07-30 08:50] iMartyn commented on #3132
If you're using a debian base, install lvm2 and on reboot, the /dev/ceph-* device will come up.  Ceph 1.x needs that, I believe 0.9.x doesn't.

[2019-07-30 08:54] vitobotta commented on #3132
I had to install lvm2 on CentOS as per https://github.com/rook/rook/issues/3289

[2019-07-30 08:55] vitobotta commented on #3132
Sorry didn't see your message. Yeah that fixed it

[2019-07-30 10:54] vitobotta commented on #3132
The last test didn't go well. :( I'm creating an archive from the content of the volume and it's kinda stalled. Load is low, but iowait is high and with iostat I see this:

[code]

Not sure what to think now...

[2019-07-30 12:05] markhpc commented on #3132
@vitobotta Not sure we can infer much from the high %util on the rbd device.  Have you been watching the memory utilization during the test when it started stalling?  It's possible there are still memory related issues, but we should probably try to check.  collectl would tell us if you want to try getting it installed and attach the data archive.  Be mindful that apparently some of the collectl p

[2019-07-30 12:52] james58899 opened #3540 "rook will not ignore nbd block device"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook refresh ceph cluster on mount volume using nbd block device

**Expected behavior:**
RBD can mount using nbd, so rook should be ignore nbd device and skip refresh cluster

**How to reproduce it (minimal and precise):**

Using ceph-csi and set mounter to rbd-nbd, rook will refresh ceph cluster every

[2019-07-30 13:10] raffaelespazzoli opened #3541 "go panic when starting ceph on OpenShift"
* Bug Report

**Deviation from expected behavior:**
When I create a ceph cluster I get the following go panic:
here is the log:
[code]

This behavior is highly reproduceable.
Here is my recipee for deploying rook: https://github.com/raffaelespazzoli/openshift-enablement-exam/tree/master/misc4.0/rook
please let me know if doing something wrong.

I'm deploying on OCP 4.1.7 running on AWS.

[2019-07-30 13:36] noahdesu commented on #3541
looks like a bug in the code where c.clusterInfo can be set to nil, but notice the error condition is checked before that return pointer is dereferenced.

[code]

[2019-07-30 13:41] noahdesu commented on #3541
@raffaelespazzoli looks like this has been fixed in master branch via https://github.com/rook/rook/commit/2ce2382676400f7afea591efd80b1ea4d43100d4#diff-8dabbe87d9ef76d84c1a4c06db5adfc2. Are you able to run master? @travisn should this be back ported?

[2019-07-30 13:49] jansmets opened #3542 "Label selector for rook-ceph namespace"
Hi
Could you please add a label selector for the rook-ceph namespace (common.yaml)

[code]

Thanks

[2019-07-30 13:52] sebastian-philipp commented on #2963
For future reference: onlyManageDameon was never implemented. See rook/rook#1900 and https://github.com/ceph/ceph/commit/4a45b67a8c8b079a373e334f8bfd72cd97259853

[2019-07-30 13:59] vitobotta commented on #3132
I am soon going to try with a VPS with 16 GB of ram just to see if 8GB wasn't enough... How do I use collectl for these tests? Thanks

[2019-07-30 15:35] sebastian-philipp opened #3543 "Client Code Generation for Python"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Automatically generate Python client code

**What is use case behind this feature:**
Rook APIs are brittle
https://github.com/rook/rook/pull/3283#issuecomment-516419300
https://github.com/ceph/ceph/commit/4a45b67a8c8b079a373e334f8bfd72cd97259853
was never implemented in https://github.com/rook/rook/pull

[2019-07-30 16:46] noahdesu commented on #3540
This can be fixed by adding a regex string to match on ndb and ignore such updates. Here is where we do the same thing for RBD https://github.com/rook/rook/blob/master/pkg/daemon/discover/discover.go#L172.

I'll note that this might be a good time to factor out this ignore list and put it in the CRD so we can control this without altering any code.

[2019-07-30 17:12] raffaelespazzoli commented on #3541
@noahdesu how do I run master? can set latest in the image tag of the helm chart?

[2019-07-30 17:35] jbmcfarlin31 commented on #2953
@karolgil This is the same case for me no matter what size PVC I choose - whether it is 1024Mb or 8Gi. I am using xfs for my fstype and the default options for deployment of rook/ceph.

[2019-07-30 17:42] #3039 closed

[2019-07-30 17:42] #3038 closed

[2019-07-30 17:48] travisn commented on #3541
@raffaelespazzoli I'm surprised you would be seeing this in a new cluster. Can you check if you have cleaned up the cluster from a previous cluster? See the [cleanup steps](https://rook.io/docs/rook/v1.0/ceph-teardown.html). The only reason this should fail is if the metadata is in an expected state. In that case, running a master build might get past this error, but run into another error down th

[2019-07-30 18:01] noahdesu commented on #3541
It looks to me like CreateOrLoadClusterInfo could fail for a wide variety of reasons including failing to run some ceph CLI commands.

[2019-07-30 18:07] robinbraemer commented on #3501
Also when changing mon count of the cluster the operator is not removing those mons that are ina pending state (mons that can't be scheduled).

[2019-07-30 18:24] iMartyn commented on #3132
I also think that rook should have the option of not having the `/var/lib/ceph` on tmpfs because in low memory environments, that's going to impact, a lot.

[2019-07-30 18:25] erikjanhofstede commented on #3136
Hi. I was also plagued by this issue (Rook 1.04, Ceph v13.2.6-20190604)

After some investigating I found out the manager binds to the IP address of the default gateway (IP of tun0 on the node), like @scroogie also mentioned. I forced the manager to bind on the pod's IP and everything seems to be working find now. This is what I did to fix/work around the issue:

1. Edit the deployment: `kubectl e

[2019-07-30 18:25] mjschmidt opened #3544 "index.yaml needs updating in https://charts.rook.io/release/index.yaml"
Please update the image link to a working link
[code]

[2019-07-30 18:33] travisn commented on #3544
@mjschmidt You're referring to the icon, right? Yeah, the 1.0 website rework must have changed that.
[code]

[2019-07-30 19:09] vitobotta commented on #3132
I saw the fix is planned for 1.1... when is it expected to be out? I think this issue is quite important...

[2019-07-30 19:30] travisn commented on #3132
Is this a fair summary for the changes recommended? Or what else is needed?
- Lower the minimum memory limits for OSDs from 4GB to 2GB to allow for running in smaller environments
- The default examples should set the memory requests and limits. They can always be changed by the admin, but the examples should allow a cluster to reasonably run.
   - cluster.yaml: Set the OSD memory limits to someth

[2019-07-30 19:38] travisn commented on #3537
@vishal-biyani Could you open a PR with this content in the [design](https://github.com/rook/rook/tree/master/design) folder? It will be simpler to give feedback on the design this way. Thanks!

[2019-07-30 19:49] vitobotta commented on #3132
Hi @travisn so if I use say nodes with 16 GB of ram and set the limit for OSD to 4 GB I should be good even with the default images? Is that what you mean? :)

[2019-07-30 20:33] noahdesu opened #3545 "ceph: mon creation does not halt"
3 nodes. worker1 has NoSchedule taint and zone label. All other nodes are scheduable and have no zone labels.

Each time the health check runs it bounces a monitor across nodes trying to resolve an overloaded zone.

[code]

[2019-07-30 20:35] travisn commented on #3132
@vitobotta Yes, I would hope that the 4GB limit would be sufficient. How many OSDs do you have on each node?

[2019-07-30 20:41] vitobotta commented on #3132
Just one. I am planning to have one 100GB disk on each node, which should be more than enough in the beginning (and for a long while I think) for my project. Because of all the storage issue I had given up on using Kubernetes to also self host stuff like Nextcloud etc... that was a few 100s of GBs but for now I will use K8s for my project only, meaning that I will start with virtually no data. In

[2019-07-30 20:42] noahdesu commented on #3545
looks like the issue is that we do not check that failing over a monitor from a overloaded zone creates a different overloaded zone. solution is to add a validity check post scheduling.

[2019-07-30 22:19] #2806 closed

[2019-07-30 22:54] iMartyn commented on #3132
Well... I'm now getting beyond hoping that this is fixable now.  Even with Guaranteed QoS from k8s and even down to 1Gi in the cgroup and it can't recover from the removal of the other OSD.  The IO load of just getting back to healthy just kicks itself in the head and I have just had to reset 3 times in the past hour.  Given that, I'm not so convinced it's memory that does this.

[2019-07-30 23:36] raffaelespazzoli commented on #3541
@travisn I cleaned up the nodes and deleted all the ceph related resource, but I can still reproduce the error.

[2019-07-30 23:41] noahdesu commented on #3541
@raffaelespazzoli are you able to test with master?

[2019-07-31 01:46] markhpc commented on #3132
@iMartyn mind including the collectl data from that time period?

[2019-07-31 01:50] markhpc commented on #3132
@vitobotta  most distributions have a collectl package, though as @iMartyn said it appears that some may install apache.  You should probably disable the apache service if that's the case on your setup.  Once it's installed, you can typically see the logs in /var/log/collectl.  Those can be played back in various ways using the -p flag, or you can run collectl directly yourself like "collectl -sD

[2019-07-31 05:05] echel0n opened #3547 "Upgrade from v0.9.3 to v1.0.x using helm chart"
Currently using old helm chart from repo https://charts.rook.io/stable
Attempted to upgrade to v1.0.2 by adding repo https://charts.rook.io/release

Results in error: ```UPGRADE FAILED: no ServiceAccount with the name "rook-ceph-osd" found```

Is there a workaround for this without loosing any data ?

Never tried this, but would I be safe to just delete without purging the existing helm chart then

[2019-07-31 08:47] iMartyn commented on #3132
I'm running out of options hosting this so hopefully I'm not exposing my backups setup too much :
https://objects.martyn.berlin/public/fuji-20190731-002430.raw.gz?AWSAccessKeyId=BRN19F16P9HV1D6A3SNM&Expires=1565167313&Signature=naLtclfGZf1QFCJU3JaDIkjFq5c%3D
https://objects.martyn.berlin/public/fuji-20190731-003314.raw.gz?AWSAccessKeyId=BRN19F16P9HV1D6A3SNM&Expires=1565167391&Signature=04uQQDnNzWv

[2019-07-31 10:24] surajssd opened #3549 "Wrong owner references cause problems with clean up of resources"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When I create a certain CRD (`x`) which in return creates other objects (`y`) the `ownerReferences` of `y` should point to `x`. But rather it points to some other object.

So I created `CephObjectStoreUser` which creates a corresponding secret. So the secret's `ownerReferences` should pont to the `Cep

[2019-07-31 11:24] markhpc commented on #3132
@iMartyn just to narrow things down, what time period should I be looking at?

[2019-07-31 11:57] vishal-biyani commented on #3537
Sure, I have raised a PR https://github.com/rook/rook/pull/3550, will close this issue in favor of the PR.

[2019-07-31 11:57] #3537 closed

[2019-07-31 12:08] mjschmidt commented on #3544
correct! do you think that the index file could be updated to point to the correct place?

[2019-07-31 12:08] iMartyn commented on #3132
@markhpc about 5-10 minutes before the reboots.  I mean before the 10:25 one, load was in the thousands so yeah, probably around 00:45/00:50 for when that one went off climbing I think.

[2019-07-31 12:13] mjschmidt commented on #3544
https://rook.io/images/rook-logo.svg would this work?

[2019-07-31 13:33] mykaul commented on #3549
Is it somehow related to https://github.com/rook/rook/pull/3530 ?

[2019-07-31 13:39] e-minguez commented on #3344
Just in case https://github.com/rook/rook/blob/master/pkg/operator/ceph/object/user/controller.go#L172

[2019-07-31 13:59] travisn commented on #3344
The `name` can be different from the `namespace`, but consider that the `name` is effectively ignored by rook. To clarify the rook requirement here:
- Only one rook cluster is supported per namespace. This requirement simplifies rook in a number of ways.
- Rook does not require the `name` to be the same as the `namespace`. Rather, rook will internally ignore the `name` and base all of the naming o

[2019-07-31 14:53] markhpc commented on #3132
One thought: you could stop the other OSD, and instead run a long fio *read* (non-destructive) workload against one or both of the OSD disks.  See if you see any similar stalls with ceph out of the picture.  That doesn't guarantee anything (it might not be ceph's fault if something like fadvise is super slow), but it might at least help narrow things down a bit.

[2019-07-31 15:00] mumrau opened #3552 "OSD maintenance impossible due to OSD daemon running (legacy bluestore statfs)"
Hello everyone.

**What happened?**
I upgraded on one of my clusters the ceph version, from `v14.2.1-20190430` to `v14.2.2-20190722`, the upgrade was rolled-out flawlessly by the operator. It might be important to note that the cluster has previously been upgraded from `v13.x`, under which it was created.
Nonetheless, a few warnings appeared, all of them were extremely easy to fix except for one:

[2019-07-31 15:19] #2654 closed

[2019-07-31 15:54] travisn commented on #3552
@mumrau The approach for this issue with the osd warning is outlined in #3539 as it was just discovered a couple days ago from the v14.2.2 release. For now it is safe to ignore the warning, but we need to get the full solution automated since as you noted the osd maintenance is challenging today. Could you review #3539? thanks!

[2019-07-31 16:01] surajssd commented on #3549
I don't think so, it seems different!

[2019-07-31 16:03] travisn commented on #3549
Agreed that we need to set the owner reference to be the object user CRD instead of the cephcluster CRD. Then we wouldn't even need [this code](https://github.com/rook/rook/blob/master/pkg/operator/ceph/object/user/controller.go#L201) to cleanup the resources ourselves.

There is an old pattern of setting the cephcluster as the ownerReference that also needs to be changed for other CRDs as well su

[2019-07-31 16:08] travisn commented on #3544
@mjschmidt Yes, that should work. Do you want to open a PR for this? If so, here is the [development guide](https://rook.io/docs/rook/v1.0/development-flow.html)

[2019-07-31 18:13] markhpc commented on #3132
Ok, so a bit more.  Right before we saw the stall at 00:47:00, the time spent in iowait shifted from being evenly distributed across all cores to core 3 spending nearly all of it's time in iowait while the other cores sat around twiddling their thumbs.  When we came back, we had an initial period if slight chaos and then everything was evenly spread again:

[code]

That pattern happens again and a

[2019-07-31 19:01] iMartyn commented on #3132
Yeah, USB2 has the ethernet on it because the on-board Ethernet on that board is a shonky realtek that doesn't work well in linux :
[code]
But the machine `worker` is on-board all the way.  The 1f.2 pci device is indeed the Sata controller.
[code]
The machine is a fujitsu (yeah, inventive naming) Eesprimo P2760 - i3 550 @3.2Ghz and worker is a similar (albeit much more powerful) intel based machin

[2019-07-31 19:33] travisn commented on #3521
I'd suggest we set the default to an hour

[2019-07-31 19:38] markhpc commented on #3132
I sort of had a premonition you were going to say this was an old core2 system.  At least it's clarkdale! :-D Still, that processor is nearly 10 years old now.  Out of curiosity did you see anything in dmesg/syslog/etc?

There's a bunch of bug reports from the late 2000s to early 2010s about buggy apic and freezes/stalls with ehci_hcd but I don't know if they are actually relevant for you, especia

[2019-07-31 20:02] noahdesu commented on #3545
Precise reproducer. Create three nodes and start 2 monitors. Add NoSchedule to a node without a monitor, and put it in a zone of its own. The remaining two nodes are treated as a single zone which is overloaded compared to the zone containing the node with NoSchedule. The health check will then enter a loop choosing a mon from the overloaded zone, create a mon in the same overloaded zone, deletes

[2019-07-31 20:03] iMartyn commented on #3132
Yeah, the fuji machine is a cheap second hand machine but yeah, running `Linux worker 4.9.0-8-amd64 #1 SMP Debian 4.9.110-3+deb9u6 (2018-10-08) x86_64 GNU/Linux` so I don't think that's the same thing and as always no, nothing in the syslog/dmesg :(

**HOWEVER**, I did just get another datapoint - because I'm pushing everything off the slower machine, it overloads the faster one and so I manually

[2019-07-31 20:06] noahdesu commented on #3545
but if we disable allowing co-located monitors then it doesn't happen. seems like we just need to check noschedule on our scheduling replacement decision.

[code]

[2019-07-31 20:12] markhpc commented on #3132
@iMartyn Maybe, but this sure feels like something below Ceph is misbehaving (or perhaps Ceph is causing something below it to misbehave).  When you say you ran the machines with nothing but ceph on them, does that mean you are now running ceph without the containers?

[2019-07-31 20:23] iMartyn commented on #3132
no, I just tainted the machines so no other containers were on there other than the ceph ones.  It is definitely triggered by ceph. I've never had either machine do this when the disks were mounted over nfs from the k8s master which is a hilariously underpowered amd turion with just 4gb or ram that was running 4 disks in mdraid5.

I managed to kill the samba container and the load recovered.... th

[2019-07-31 21:33] jcuzzi commented on #3136
This seemed to resolve the issues I was having as well.

[2019-07-31 21:49] iMartyn commented on #3132
*sigh* I just tried non-cephfs mount (block not filestore) and it looked like it was gonna be better, but then it did the usual, all this on the "big" machine.  So that's that ruled out.

[2019-07-31 21:54] markhpc commented on #3132
Ok, do you have collectl data from that machine as well?  Let's see if we see the same underlying behavior.  Alternately (or concurrently) you could try the fio read workload against an OSD disk without ceph running and see what happens.  Just be careful not to overwrite anything!

[2019-08-01 06:01] mmgaggle commented on #919
It's also worth noting that if a PV moves to another cloud instance and the OSD pod starts there, it'll report the new host name as its parent bucket in the crush topography and this will trigger data rebalancing. While crush will try to minimize data movement, it's still going to happen unnecessarily if someone is using topologyAware: true in conjunction with a pool that uses osd-failure-domian:

[2019-08-01 06:36] mumrau commented on #3552
Damn it's exactly what I wanted to underline.
I apologize, I started writing this issue 4 days ago but it took time for me to start playing around and I haven't done a new research before posting the issue.
I'm closing this one in favor of #3539 . Thanks.

[2019-08-01 06:36] #3552 closed

[2019-08-01 06:46] mumrau commented on #3539
I wonder wether a fully automatic process fits the use case. I think a way of triggering it manually would make sense as well. Because in our case (`bluestore legacy stat fs`), the documentation is extremely clear that we need to proceed on a rolling repair on OSDs.
On the other hand, I can easily imagine someone having an inconsistency of some sort, which cannot be completely analyzed automatical

[2019-08-01 08:49] mumrau commented on #3327
@travisn You're the one that moved the logic from 2 namespaces back into one as a simplification of deployment, see here: https://github.com/rook/rook/commit/eb74bf5547d6056938376988dea64ecfba82af0e .

Nonetheless, I do believe than on upgrade using helm, which works pretty much flawlessly, users can be quite surprised to not see any activity once the daemonsets in `rook-ceph-system` are updated.

[2019-08-01 09:49] Deepak1100 opened #3557 "Rook agent is getting hung if not able to connect to kube api server even once"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Agent was not able to connect to kube-api server. In this case either agent should exit so kube will restart it or it should retry to connect to kube api server. but it just got hung and all the pods got stuck in ContainerCreating state for hours.

[code]

**Expected behavior:**
So either it Need Backo

[2019-08-01 09:55] karolgil commented on #2953
@jbmcfarlin31 I think at this point it's obvious that this is about `fsgroup` setting. I removed this option and mounted exactly the same volumes - it took little to no time to complete, about 10 seconds.

[2019-08-01 12:42] jmolmo commented on #3233
Solved in: https://github.com/rook/rook/pull/3559

When the activeCount attribute is set to 0, rook operator aborts the operation, (func filesystem.validateFilesystem check values before creation). Unfortunately the invalid value is stored in the cephfilesystem.metadataServer.activeCount property.
Apart of the confusion caused to the final user ( it does not receive any warn message of the wrong v

[2019-08-01 12:58] Shrivaibavi commented on #3233
When I reduced the count to 0, The 2 MDS pods did not get removed as I noted from the "oc get pods". But when I checked the "oc get cephfilesystem", the MDSCOUNT was 0.
I found some inconsistency. Either it should not allow me to reduce the mds count to 0, should throw some warning message or the MDS pods should be removed from the backend.

[2019-08-01 14:36] jbmcfarlin31 commented on #2953
@karolgil by chance where did you remove that setting at?

[2019-08-01 17:37] iMartyn commented on #3132
I'll try and work out timelines and upload useful files, in the meantime here's the fio output, which whilst I was watching never went below 200iops but did spike up to nearly 800.  Quite a range there.    Also Load never went above 4 so it didn't spiral like ceph does.
[code]
What I'll try now is a longer read workload, restarting collectl first so we get a nice concise log along with the fio nex

[2019-08-01 18:07] sabbot opened #3560 "Edgefs: Add minimal validation and extra columns for CRDs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
1. Add minimal openAPIV3Schema validation
2. Additional CRD's columns

[2019-08-01 20:31] #3545 closed

[2019-08-01 20:31] #3483 closed

[2019-08-02 04:44] alexcpn commented on #3425
I got a similar stack when I removed a node from k8s cluster (kubectl drain and delete) , but did not use the ceph-tool box to explicitly remove the osd. Then I added the node back (recreated the vm with same name and Ip) , added the node back to the cluster and got this error

[code]
[code]
Then I saw this thread and this time removed the node from ceph via ceph-tool box conatiner
[code]
After th

[2019-08-02 10:51] albertdb opened #3564 "Rook operator fails to launch pods when memory request is set (but no memory limit)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Launching a cluster with certain memory request but no memory limit throws the following error:

[code]

The source of the error is in this function: https://github.com/rook/rook/blob/master/pkg/operator/ceph/spec/spec.go#L183

**Expected behavior:**

Rook should be able to run in Burstable mode as ex

[2019-08-02 12:05] vitobotta commented on #3132
I don't understand much of the numbers etc you've posted.... anyway I've repeated several tests with 4 cores / 16 GB / 4 GB limit on CentOS. Many tests were successful without any problems, then I tried to restore a volume with Velero/Restic and at around half of the process the iowait skyrocketed in the 80s and everything was stalled again.

Can someone summarise your findings so far? Please ELI5

[2019-08-02 12:17] markhpc commented on #3132
@vitobotta

No worries, those numbers are all sort of open to interpretation anyway.  The gist of it:  @iMartyn's system became so bogged down that collectl stopped reporting anything during the stalls.  Right before the stall we can see the load starting to spike up, but the OSD isn't doing more work, it's doing less.  The OSD's memory usage is low, the CPU usage is low, it doesn't appear to be t

[2019-08-02 12:21] lz006 commented on #3227
Also getting: "**op-cluster: unknown ceph major version. failed to complete ceph version job**" in conjunction with mon & osd pods not getting up.

Changing operator image from **rook/ceph:master** to **rook/ceph:v1.04** fixed it on kubernetes 1.14.3.

[2019-08-02 13:11] iMartyn commented on #3132
I can do that, unfortunately my client pc crashed on the very long load test although the machine didn't fall over at all.

So : I'll do OSD with finer interval, no problem.  I've also dropped to 1 OSD in each machine, so I can actually do a write test on the disk that is not in service if you like.  Could you give me a fio line for that though, I'm not so great at using that tool.  I think load 4

[2019-08-02 14:36] travisn commented on #3227
@lz006 Any chance you could repro the failure on rook/ceph:master again? It would be helpful to get the output for `kubectl describe <cephVersionJobPod>` to see what the failure was. There was a change in master in how the version is detected so it would be helpful to know if there is a lingering issue there. Thanks!

[2019-08-02 14:52] vitobotta commented on #3132
Thanks @markhpc for the explanation!

[2019-08-02 14:54] iMartyn commented on #3132
@markhpc https://public.objects.martyn.berlin/worker-20190802-162242.raw.gz?AWSAccessKeyId=BRN19F16P9HV1D6A3SNM&Expires=1565362367&Signature=BW2u2CCPMcviINOpV9ISqaaLrB4%3D
We have another capture, this one at 1s intervals.  On the bigger machine, and only samba running.

[2019-08-02 15:09] benceszikora commented on #2772
I am having the same issue while trying to upgrade from 0.9 to 1.0. Did you find a solution to this?

[2019-08-02 15:15] lz006 commented on #3227
@travisn  when I change it the other way from rook/ceph:v1.04 to rook/ceph:master no error occurs. sorry. But once I'm setting up a new cluster from scratch I'll try to repro it and place the output here. (Probably next week)

PS: Saw you in Barca/kubecon this May, was a interesting session... little world :)

[2019-08-03 04:25] #3351 closed

[2019-08-03 05:16] AkshatM commented on #3404
After digging into this issue, I believe this can be done.

Clients connect to Ceph monitors (`mons`) which are currently created as a Kubernetes service [here](https://github.com/rook/rook/blob/18cca312059f9699dd89165558c91b721ec5878b/pkg/operator/ceph/cluster/mon/service.go#L60).  The service definition in that file has access to the YAML definition, and can easily have a `loadBalancerIP` added

[2019-08-04 14:45] iMartyn commented on #3132
So I can't cause the problem on the out-of-service OSD, so I don't think this is going to be that useful but here it is just in case :

[code]
That's with :
[code]
And here's the collectl for that : https://public.objects.martyn.berlin/worker-20190804-163713.raw.gz?AWSAccessKeyId=BRN19F16P9HV1D6A3SNM&Expires=1565534677&Signature=PCAIV0lkxy%2FYc6Zb2J2ZTMptY9E%3D

[2019-08-04 15:13] iMartyn commented on #3132
Hold the phones! I think I managed to trigger it on a big fio r/w :

If you note my last message, I managed to typo 5120M into 512M0, this is a rerun with more runtime and a 5120M size.
[code]

It started with four jobs but if I'm reading it right, one of them stalled `_(1)` and it sat around at 100% done for ages.

Here's the collectl : https://public.objects.martyn.berlin/worker-20190804-170145.

[2019-08-04 17:11] vitobotta commented on #3132
Hey guys, a user on Slack suggested to override a memory setting in Rook's configuration by changing this configmap (or creating it before creating the cluster):

[code]

The guy had set it for 8GB so I halved his value for 4GB which is the limit I set for the OSD in the cluster.yaml. I am about to do my simple tests. Has anyone tried tweaking this setting already?

[2019-08-04 20:06] bootc commented on #3361
I hate to do this, but I'm also experiencing this problem following some disruption in my cluster. My hosts are Debian Buster, Debian's 4.19.37-5+deb10u1 kernel. Bare metal install using RKE. Rook 1.0.4. Kubernetes 1.14.4. Ceph health fine except "HEALTH_WARN Legacy BlueStore stats reporting detected on 10 OSD(s)".

[2019-08-04 20:14] bootc commented on #3361
This may well be because I've got mounted CephFS volumes that don't have an associated storage class; they look like this:

[code]

[2019-08-05 01:10] pavgup commented on #2042
I'm also interested in this, but it looks like this may be better handled outside of Rook? New CSI? Perhaps chasing the flexvolume deprecation to hack around this? To be fair, I could see Rook implementing the full beegfs setup, but I suspect that's a larger project...

[2019-08-05 09:15] nixpanic commented on #3386
PR #3565 will probably prevent the fork/exec problem from happening.

[2019-08-05 10:39] iranzo opened #3570 "[DOC] Create a 'simple' try-it configuration"
**Is this a bug report or feature request?**
* Feature Request

Documentation and webpage at rook.io includes a 'try it' link which points to the github repo.

**What should the feature do:**

It should point to a step-by-step to  test rook on a demo environment with whatever links might be needed to 'dig deeper' on that area, but still provide a simple scenario to test.

**What is use case behind

[2019-08-05 11:25] AliMD commented on #2640
+1

[2019-08-05 12:42] ceyhunn commented on #3109
Hi @sandrich , What have youdone for flannel? I have also this problem.

[2019-08-05 13:21] travisn commented on #3570
@iranzo Agreed, the "Try it out now" should point to the quickstart guides, similar to the "Get Started" link in the top right corner of [rook.io](https://rook.io). Thanks for pointing this out!

[2019-08-05 13:22] iranzo commented on #3570
Want me to PR it?

[2019-08-05 14:46] BlaineEXE commented on #3356
For users running Docker enterprise, this may be the cuprit.

From: https://docs.docker.com/ee/ucp/authorization/

Part of the error text from the description includes "...  is not an admin...", which I don't recall seeing in my PSP work, but this text shows up here in the Docker EE docs.

[2019-08-05 15:23] iMartyn commented on #3132
As I understand it @vitobotta if you leave it set to 0, on the latest ceph image, osd_memory_target will be 0.8*(whatever limit you set in k8s).

[2019-08-05 15:24] vitobotta commented on #3132
OK. I repeated my usual tests many times and while with these settings it seems more stable, I had to forcefully reset the server twice due to the system being stalled with high io wait.

[2019-08-05 15:54] ron1 commented on #3132
@iMartyn @vitobotta My take on the comment below from JoeT on the slack channel is that the latest ceph image is using the wrong value for this computation.

https://rook-io.slack.com/archives/CK9CF5H2R/p1564691290223900

... it is a ceph bug ...  instead of looking at the system cgroup memory.limit it should look at the process limit

Am I interpreting his comment correctly? Like @vitobotta my 1.

[2019-08-05 15:58] bengland2 commented on #3132
see [ceph tracker 41037](https://tracker.ceph.com/issues/41037)

[2019-08-05 16:31] ron1 commented on #3132
@bengland2 Thanks for the link. The link includes the following comment:
[code]
Is the comment true for Rook-Ceph-based containerized deployments? Or does Rook-Ceph indeed allow the override via the rook-ceph-override ConfigMap?

[2019-08-05 16:58] travisn commented on #3570
@iranzo Yes, thanks! You probably already found it, but the website repo is here: https://github.com/rook/rook.github.io

[2019-08-05 17:01] iMartyn commented on #3132
@ron1 my guess it is it not true :
[code]
in https://github.com/ceph/ceph/commit/fc3bdad87597066a813a3734b2a79e803340be36#diff-a9faffcf40600fd57aea5451cef5abe9 indicates that it will set the default, and the conf file (which is what the configmap is) should override it.

[2019-08-05 17:19] markhpc commented on #3132
<snip>

@imartyn I don't seem to be able to download the collectl data unfortunately.  Happy to take a look though!

[2019-08-05 17:22] iMartyn commented on #3132
sorry, cyberduck isn't ceph-os aware! : https://objects.martyn.berlin/public/worker-20190804-170145.raw.gz?AWSAccessKeyId=BRN19F16P9HV1D6A3SNM&Expires=1565536274&Signature=zDpyKuGwOVQwnbOqUMJ60xq5Uf8%3D

[2019-08-05 17:56] bengland2 commented on #3132
No, I don't think there is a way to override osd_memory_target.   I just checked by deploying Ceph.  My OSD 18 has a 6-GiB memory limit as displayed by OpenShift "oc get nodes" (like kubectl get nodes), and Ceph osd_memory_target is set to

[code]
Even though I set this config map in rook prior to deploying the OSDs:

[code]

[2019-08-05 18:03] ron1 commented on #3132
@bengland2 The ConfigMap must be named "rook-config-override". See https://github.com/rook/rook/blob/master/Documentation/ceph-advanced-configuration.md#kubernetes-1

[2019-08-05 18:30] bengland2 commented on #3132
So the YAML that I used in operator-openshift-with-csi.yaml was:
[code]
I think it merges this config map into the other one.

[2019-08-05 19:39] ron1 commented on #3132
@bengland2 I am using filestore osds and not bluestore osds. Is it possible that filestore osds honor the rook-config-override osd_memory_target value and bluestore osds do not?

When I exec into the osd pod, the rook-ceph.config file referenced by process parameter ceph-osd --conf indeed has the rook-config-override osd_memory_target value.

[2019-08-05 19:43] vitobotta commented on #3132
@ron1 What kind of tests are you running with your set up? Have you had any problems at all with that setting? I am confused at it seems it's not needed?

[2019-08-05 19:47] bengland2 commented on #3132
@ron1, I think its the other way around.   Bluestore OSDs honor osd_memory_target and filestore OSDs do not.   Filestore uses the Linux buffer cache and doesn't cache data in the OSD, so there is not as much memory pressure on Filestore OSDs (until Linux buffer cache runs out of free memory).   However, Bluestore OSDs need to actually control how much memory they utilize for their data, including

[2019-08-05 19:47] markhpc commented on #3132
@iMartyn Looked through the collectl data.  Load peaks around 5.2 and while the disk is super busy with a big queue, it doesn't look like the same kind of big stalls we saw previously.  I also noticed lower commit memory and fewer major pagefaults.  I think we're still missing something.

@ron1 What bengland2 said!

[2019-08-05 19:51] iMartyn commented on #3132
@markhpc damn, was hoping we caught it.  I have added the override and I haven't had a crash yet, but the read-write test stomped over everything like we knew it would and so rook on next boot said "Oooh, new fresh disk, lemme osd that for you" which then made it shuffle things around and I'm just waiting for the reshuffle back so I only have one OSD (keeping things simple here).  So I haven't tri

[2019-08-05 20:25] ron1 commented on #3132
@bengland2 It makes sense that bluestore would be more sensitive to osd_memory_target than filestore. Nevertheless, using filestore, the rook-config-override is indeed working in that the osd_memory_target value is being correctly injected into the pod rook-ceph.config file in my environment.

Your previous comment led me to believe that using the rook-config-override to explicitly set osd_memory_

[2019-08-05 20:31] noahdesu commented on #3501
@robinbraemer can you please create a ticket for your new observation?

[2019-08-05 20:33] noahdesu commented on #3501
@travisn did this behavior ever work in which the mon scheduler was looking for nodes that satisfied the resource constraint in the crd? I do not recall encountering this when reworking the scheduler, but if so, perhaps I missed something and need add this back in.

[2019-08-05 20:52] travisn commented on #3501
@noahdesu No, I don't believe the resource constraints have been taken into account when rook is scheduling the mons, so I would expect this issue is not new. But assuming we can rely on k8s for mon scheduling, we would get this for free of course.

[2019-08-06 05:29] umangachapagain commented on #3540
What are your thoughts on this? @travisn @BlaineEXE @leseb

[2019-08-06 07:24] smtisipp opened #3574 "operator fails to append new mon to ceph after upgrade"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrading from 0.9.x to 1.0.x, the operator creates new monitor after a planned mon failover, but does not appear in ceph mon map, the monitor mon.b disappears

**Expected behavior:**
The monitor is deployed and can be used from ceph cluster

**How to reproduce it (minimal and precise):**

- kube

[2019-08-06 07:33] mmack opened #3575 "[1.0.4] Operator destroys healthy ceph cluster after restart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Operator, after a restart / reschedule destroys a healthy cluster

**Expected behavior:**
Should not happen

**How to reproduce it (minimal and precise):**
We tried to deploy a fresh v1.0.4 ceph cluster with our battletested config which is running 3 clusters over a year now. It works all out until the

[2019-08-06 09:40] karolgil commented on #2953
@jbmcfarlin31 we were setting `fsgroup` in `securityContext` field in `pod` definition, just like [explained in the docs](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod).

In our case removing:
[code]
did the trick.

[2019-08-06 09:53] giorgio076 commented on #3356
Thank you very much @BlaineEXE for tip!
Yes we've deployed Kubernetes cluster using UCP, so I've fixed all ClusterRoleBindings using cluster-admin as Cluster Role:
[code]
in `common.yaml`, I've also change Clusterolebindings name cause no more referencing to `psp`.
Thanks again for hint!

[2019-08-06 09:53] #3356 closed

[2019-08-06 11:14] rohantmp opened #3577 "Orchestration is Add/Update/Delete triggered. It should check current state of the system."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The orchestrators I've seen in the code all have different behaviour for Add/Update/Delete generated by a kubernetes client-go informer. The informer's [event handler](https://godoc.org/k8s.io/client-go/tools/cache#ResourceEventHandler) documentation states that several events are often coalesced, and

[2019-08-06 11:32] rohantmp commented on #3577
I'm currently implementing a controller for [managedPDBs](https://github.com/rook/rook/blob/master/design/ceph-managed-disruptionbudgets.md). I'm going to follow the current goroutine pattern while accounting for coalesced update events.

Eventually, I want to propose a design for a new framework within rook for a controller-runtime based controllers. We can then slowly move the reconcile logic of

[2019-08-06 12:24] mmack commented on #3577
I'm not sure if that fits here but i always wondered what the reason is that rook creates multiple deployments for example for the mons and does not use kubernetes default ways of doing it. Like a deployment or daemonset for all mons...

I think it would remove a lot of "scheduling" complexity of the operator... But maybe there's a damn good reason for this i'm currently not aware of...

[2019-08-06 12:28] xieyanker opened #3578 ""failed to wait for mon quorum" on arm64"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I deployed rook on arm64, but it created 3 mons not normal. `failed to wait for mon quorum`.
[code]
And it not continue to create mgr with osd, I have no idea.
[code]
I execed into operator's pod and run `ceph -s`, I got no response.
And I found mon's 3 pods are `a,d,f`, I refered to rook docs's common

[2019-08-06 14:05] mmack commented on #3575
ok it's getting really strange here... don't know how to describe that technically, but i had a running cluster. health OK. Everything working. If delete a mon deployment (for example mon-a) and what happens is that all other deployments are getting deleted also, including all osd deployments. Left is a cephcluster in state "Creating".

The operator log is not helpfull at all: https://gist.github.

[2019-08-06 15:27] jbw976 commented on #3570
Fixed in https://github.com/rook/rook.github.io/pull/68

[2019-08-06 15:27] #3570 closed

[2019-08-06 19:01] aplex opened #3579 "Cannot delete persistent volume when Ceph cluster is full"
Our test cluster filled up, and I want to delete some PVCs to free up the space. However, volumes cannot be deleted by rook with a message "not enough space left".  StorageClass reclaim policy is set to "Delete", so I would expect them to be immediately deleted from Ceph. But, from the logs it looks like Rook is trying to move them to some kind of recycle bin, instead of deleting them.

I'm runnin

[2019-08-06 19:35] yanchicago opened #3580 "Unable to mount volume for pod - mount command failed, structure needs cleaning"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The pod failed to mount its pvc after restarting randomly
**Expected behavior:**
The pod should be able to mount its pvc after restarting consistently

**How to reproduce it (minimal and precise):**

The similar issue has been in discussion in rook slack ( https://app.slack.com/client/T47C56S7Q/C46Q5UC

[2019-08-06 19:51] markhpc commented on #3132
Hi Folks,

A very interesting thread from 2 days ago that sounds very familiar over on LKML:

https://lkml.org/lkml/2019/8/4/15

[2019-08-06 20:52] bengland2 commented on #3132
@ron1, there is a difference between having the osd_memory_target set in the pod and having the Ceph code actually releasing memory to enforce it.    Bluestore enforces the OSD memory target, but the enforcement doesn't kick in until it has exceeded the target.  Unfortunately because of the bug described in the above tracker, it's too late and the CGroup limit has been exceeded.  However, there is

[2019-08-06 21:16] jbmcfarlin31 commented on #2953
@karolgil Ah, you were setting that in the `pod` spec. I don't have any `securityContext` specified in my pod specs and I still see this slow mount time. I did manage to find a setting in the `operator.yaml` file:
[code]

It was enabled by default, so I disabled it here and rebuilt the operator however I still see incredibly slow mount times.

The other thing I noticed is when I tried connecting p

[2019-08-06 22:39] noahdesu commented on #3540
@umangachapagain see:

https://github.com/rook/rook/issues/3033
https://github.com/rook/rook/pull/3032/files#r277854515

[2019-08-06 23:18] copejon opened #3582 "Ceph Mirroring: Cannot read conf file, Permission Denied"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Executing the following does not produce an error at the CLI.
`[root@ip-172-20-36-253 ceph]# rbd mirror pool peer add replicapool client.admin@remote
f9f5a20a-038c-48ae-96e1-5090d2cf276b`

However, `kubectl logs -f -n rook-ceph rook-ceph-rbd-mirror-a-7b465b89cc-zsj22 --context=c1` shows

[code]

The r

[2019-08-06 23:24] travisn commented on #3582
How did the experiment go to connect to the remote cluster from the toolbox using the remote ceph.conf and keyring? Was that successful?

[2019-08-06 23:33] copejon commented on #3582
@travisn i fat-thumbed some hot-key.  am finishing the issue body now

[2019-08-06 23:41] copejon commented on #3582
cc @screeley44 @jvance @erinboyd

Our working theory is that by working within the toolbox pod, files created there aren't accessible to the mons or rbd work pods.

[2019-08-07 00:17] screeley44 commented on #3582
and from the `rbd mirror pod/daemon` AND `mon pod/daemon` the directory that the instructions state (see below) are also not accessible or writable as it's mounted as a read-only filesystem. So seems two fold - the dir where we place the {cluster}.conf and key for remote systems needs to be accessible and writable and the `rbd mirror peer add` command if containing the optional parameters should o

[2019-08-07 00:27] raffaelespazzoli commented on #3541
@noahdesu I tested with master, got the same error.
One weird thing: the latest chart version on the master repo is v1.0.0, I was using v1.0.4 from the official chart repo...

[2019-08-07 00:30] noahdesu commented on #3541
could you post the full operator log output running with master when it hits the error?

[2019-08-07 01:03] raffaelespazzoli commented on #3541
using the master tag for the image I was able to pass that error, now I see the following:
on daemonset/rook-ceph-agent
[code]
on daemonset rook-discover
[code]
on job/rook-ceph-detect-version
[code]

I am running with the option: `ROOK_HOSTPATH_REQUIRES_PRIVILEGED=true`

so it looks that the wya I installed rook misses a bunch of stuff.
if it helps I am running helm in a tillerless way as this:
`

[2019-08-07 01:55] markhpc commented on #3132
If anyone happens to have a kernel with PSI available that is experiencing these stalls, that might be a next step to try and get evidence of the specific resources being contended (and it appears that we can get it per cgroup):

https://lwn.net/Articles/759658/

[2019-08-07 02:35] raffaelespazzoli commented on #3541
I fixed most of the issues. A couple of questions:
1. what role should the rook-ceph-cmd-reporter service account have?
2. how can I make sure that the whole rook eco system run on specific nodes? nodeSelectors do not seems to be available for the daemonsets...

[2019-08-07 03:36] travisn opened #3583 "After operator restart, orchestration gets stuck if a mon is down"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When the operator restarts, an orchestration is triggered to ensure the cluster is in the desired state. If a mon is down, the orchestration is blocked from continuing and will attempt indefinitely to check if a mon can be stopped. The check is in case there is an upgrade, but there is no upgrade in th

[2019-08-07 05:26] travisn commented on #3582
@screeley44 What about the alternative that doesn't require the config files?
[code]

This says that you can use the options `--remote-mon-host` and `--remote-key-file` to store the settings in the mon config-key store for the remote cluster.

Another question is if you're able to connect successfully with a simple `ceph status` command to the remote cluster using that config and keyring to the re

[2019-08-07 05:50] leojonathanoh commented on #3106
Yes, dashboard no longer throws errors in `v14.2.2-20190722`. So no longer need this workaround if you're using that image

[2019-08-07 06:52] AliMD commented on #3157
+1 Same issue, Any solution?

[2019-08-07 07:47] mmack commented on #3583
@travisn can you please try that with v1.0.4 again?
It looks pretty similar to my issue #3575. Wonder what happens with the cluster if you use that image.
However the image you're using here v1.0.0-319.g48c4fedd4 is not on dockerhub, so i can't do the cross check...

[2019-08-07 13:10] ron1 commented on #3132
@bengland2 As long as the explicit osd_memory_target is being set in the pod and if it is set to a low enough value, would that not reduce the occurrence of the CGroup limit being exceeded as a work-around until a Nautilus backport is released?

[2019-08-07 13:35] screeley44 commented on #3582
@travisn - we've used both ways, and neither work, the errors that you saw yesterday and what @copejon posted above (permission denied) is the result of using the `--remote-mon-host` and `--remote-key-file`.

for your other question, that experiment didn't work, however, the difference between the operator fs structure and config files are a bit different, so there might be something missing in my

[2019-08-07 13:45] screeley44 commented on #3582
Also, not sure if this helps or not, but from the toolbox on cluster1 I did do a `curl -v` to a monitor on cluster2 and this was the result (which I think means we connected)?

[code]

[2019-08-07 14:25] bengland2 commented on #3132
As I recall the CGroup limit is **overriding** the osd_memory_target set in the configmap, and therein lies the problem.   We want osd_memory_target to be set in relation to the CGroup limit so that we can easily control it with resources/osd/limits/memory field, but we don't want it to be set **equal** to the Cgroup limit.  The proposed fix should do that.

[2019-08-07 15:47] ron1 commented on #3132
@bengland2 What does "overriding" the osd_memory_target value look like?

Again, I seem to be able to successfully use the rook-ceph-override ConfigMap to set the osd_memory_target in the rook-ceph.config file referenced by the ceph-osd process in the osd pod.

Are you saying that the ceph-osd process itself is ignoring the osd_memory_target value in the config file and internally setting it to th

[2019-08-07 16:12] mmack commented on #3575
for the record, here three log files:
1. multiple operator logs combined (there are 3 restarts or so)
2. `while true; do kubectl get configmap rook-ceph-mon-endpoints -o yaml >> rook-ceph-mon-endpoints.yaml; sleep 1; done; ` : https://gist.github.com/mmack/7b3e8423964e4573b69f47fff4d9ed0a
3. ceph -w while testing: https://gist.github.com/mmack/3dbcfd4bb495144b7738294bdc782f9c

[2019-08-07 16:29] raffaelespazzoli commented on #3541
found the permissions for the `rook-ceph-cmd-reporter ` service account, they are not in the helm chart.
now the `rook-ceph-detect-version` job starts, but the job does not complete. the `init-copy-binaries` init container dies. It dies so fast that I am not able to capture the logs

[2019-08-07 16:32] ClareChu commented on #2912
[code]

[2019-08-07 17:02] travisn commented on #3541
It looks like #3369 added the permissions for the cmd-reporter to the helm chart. Which ones were missing? @BlaineEXE could you take a look?

[2019-08-07 17:52] BlaineEXE commented on #3541
I added the serviceaccount, role, and rolebinding necessary. I was confused at the time IIRC about why a lot of the resources didn't have namespaces associated with them, but I followed the existing trend. So it could be an issue with the namespaces in the chart. That's my first guess.

[2019-08-07 21:04] #3466 closed

[2019-08-08 04:57] gauravbist opened #3588 "Please update the NFS Docker Image with latest Version"
I found that Rook NFS  image still using the Old version of NFS-Ganesh ver 2.5.5

https://github.com/rook/rook/blob/master/images/nfs/Dockerfile

"&& echo "deb http://ppa.launchpad.net/gluster/nfs-ganesha-2.5/ubuntu xenial main" > /etc/apt/sources.list.d/nfs-ganesha-2.5.list \ "

Could you please update it with latest version:
Link: https://launchpad.net/~nfs-ganesha/+archive/ubuntu/nfs-ganesha-2.

[2019-08-08 05:26] ClareChu commented on #2668
kubectl -n rook-ceph patch cephclusters.ceph.rook.io rook-ceph -p '{"metadata":{"finalizers": []}}' --type=merge

[2019-08-08 07:03] sandrich commented on #3109
Flannel was using the wrong interface. I forced the interface by modifying the kube-flannel.yml file by adding the option `--iface=`

[code]

[2019-08-08 07:38] mumrau commented on #3013
Up. I do believe some work could be around this.

[2019-08-08 09:54] mumrau opened #3589 "Helm Chart appVersion for rook-ceph"
Hello,

I believe some updates could be done concerning the `Chart.yaml` definitiont of the rook-ceph-operator chart.

Indeed, it doens't have any `appVersion`, which is now very common accross the helm community. It could probably be quite useful, as outputs of `helm ls` states the `appVersion` and it's only missing for rook-ceph on my clusters.

I am not very familiar with the build and release

[2019-08-08 10:21] jmolmo opened #3590 "Configure Default Memory Requests and Limits for rook-ceph namespace"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Set by default the values used for limiting/requesting memory/cpu use. In this way we set a safe default environment with the minimum requirements.

Using the LimitRange object in the common.yaml file this defaults can be easily set:

[code]

The _spec. CheckMemoryPod_ function probably should be remove

[2019-08-08 13:29] smtisipp commented on #3574
After investigating the problem in further detail, i found an issue caused by the new port mapping as mentioned in #3104 . After manually editing the service port mapping, the quorum was able to be restored and new mons were added to quorum automatically by rook operator itself.

[2019-08-08 13:29] #3574 closed

[2019-08-08 13:33] vitobotta commented on #3132
Hi guys... I am finding it difficult to follow at times :D Are there any other settings etc I could try? Thanks!

[2019-08-08 14:56] travisn opened #3591 "Ceph Mons on PVs fail to start in OpenShift"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When starting a cluster in OpenShift with the VolumeClaimTemplate for mons, the mons fail to start.

The mon log shows:
[code]

The pod description shows a couple errors:
[code]

There appears to be an issue with the pod lifecycle hook to run with the ceph user.

**Expected behavior:**
The mons should

[2019-08-08 15:06] noahdesu commented on #3591
What's the volumeClaimTemplate used?

[2019-08-08 15:10] travisn commented on #3591
Here is the template used in aws:
[code]

[2019-08-08 15:36] kfox1111 commented on #2388
Still relevant I think.

[2019-08-09 04:17] Hughen opened #3595 "unable to get monitor info from DNS SRV with service name: ceph-mon"
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**
after logining in rook-ceph-tools container:
[code]
but `ceph -s` is normal.
the toolbox yaml configuration is the same as that provided on [rook.io](https://rook.io/docs/rook/v1.0/ceph-toolbox.html)

**Environment**:
* OS (e.g. from /etc/os-release): `Container Linux by CoreOS 1855.5.0 (Rhyol

[2019-08-09 05:23] #3591 closed

[2019-08-09 06:21] mmack commented on #3575
We redeployed 1.0.1 and the problem is gone. fyi

[2019-08-09 10:25] tripledes commented on #3578
I think I'm having a similar issue, if it's not the same the behaviour is very similar. I'm deploying rook (from master as of today), running on:

* OS: Debian 10
* Kubernetes: 1.15.2
* 1 Schedulable master + 2 worker nodes

I start the deployment following the instructions:

* common.yaml
* operator.yaml
* cluster.yaml

Everything works well, the 3 mons are created, then the OSDs, etc...the probl

[2019-08-09 13:37] LeoAdamek commented on #3318
I'm also having this exact same issue using CSI for CephFS. I've checked the `csi-cephfsplugin-provisioner-0` is able to resolve the mon addresses `rook-ceph-mon-{a,b,c}` and is able to connect to them. But I still get a timeout provisioning a new PVC>

[2019-08-09 16:58] #3564 closed

[2019-08-09 18:39] noahdesu commented on #3583
I think there is another failure mode I've been seeing that is very closely related. Start a new cluster but arrange for the monitors to not come up. This could simulate some storage issue, for example. After timeouts occur and one tries to resolve this potentially be restarting the operator, the cluster will enter a state I was never able to get it out of.

It appears to believe that a monitor ex

[2019-08-09 18:48] travisn commented on #3583
This particular issue is related to #2901, which is only in master and not backported to 1.0. But I'm looking at #3575 now too!

[2019-08-09 19:54] dexhorthy commented on #3379
@BlaineEXE @jbw976 is the goal to completely remove support for directory-based OSDs? Or is there any thought toward keeping support and just calling it "unstable and not for production usage" or something along those lines?

For us its super valuable to be able to spin up something that works for minimal use cases/proof-of-concept, without needing it be fully production grade. For a lot of folks

[2019-08-09 21:06] galexrt commented on #3595
@Hughen Rook Ceph does not create a Kubernetes Service named `ceph-mon`.

The toolbox has a script running that takes the ConfigMap `rook-ceph-mon-endpoints` to generate a `ceph.conf` at `/etc/ceph/ceph.conf`.
Is there a specific need for you to use the `--conf /dev/null` flag? If you leave that out, you should be able run `ceph` commands without a problem.

[2019-08-09 23:12] travisn commented on #3575
@mmack Can you clarify what you mean by the cluster being destroyed? All the mon and osd pods are disappearing? I'm not seeing in the logs were that happened, only that the mons are calling "update" and trying to failover at unexpected times. Overall I'm struggling to follow what happened here.

Update is called as a regular part of the orchestration, even though nothing is actually updated in the

[2019-08-10 02:37] Hughen commented on #3595
@galexrt
Thank you very much for your reply
I want to get all the default configuration of the current ceph cluster, so I used this command.