[2018-07-27 03:03] travisn commented on #1949
@deveshk0 It looks like you are running the `rook/ceph:master` image from 24 days ago. When you tried to start the three new nodes, you actually started a newer version of `master` on those nodes. The `master` image changes daily, so it really shouldn't be used except for temporary test clusters. The build changed and running different versions of master caused the issue. We have attempted to make

[2018-07-27 03:21] aland-zhang opened #1953 "When mount rbd image rook-ceph-agent show "failed: exit status 32 ""
Environment:
Rook version (use rook version inside of a Rook Pod): v0.8.0
ceph status is OK.
uname -r
4.17.2-1.el7.elrepo.x86_64

Is this a bug report or feature request?
Bug Report.

Deviation from expected behavior:
When mount rbd image rook-ceph-agent show "failed: exit status 32 ".
Rook-ceph-agent reports an error when automatically producing rbd image with storageClassName, but eventually doc

[2018-07-27 07:54] PierrickI3 commented on #1951
@galexrt Done.

[2018-07-27 07:59] ivanovaleksandar opened #1955 "FIlestore does not reclaim space after data deletion."
**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**
The OSDs should reclaim the space after data deleted.

**How to reproduce it (minimal and precise):**
Applying cluster configuration creates all mon/mgr/osd pods without an issue (as I am aware of) and the cluster look fine, but when I try to delete data from the pvc, the space is not reclaimed.

I tried to avoid usi

[2018-07-27 14:20] travisn commented on #1955
Rook is not on the data path for the data maintenance and garbage collection, so we would need to follow up with [upstream ceph](http://docs.ceph.com/docs/mimic/start/get-involved/) on this issue. Others have reported the cleanup working on filestore in Rook, not clear why you're not seeing it.

[2018-07-27 15:15] ivanovaleksandar commented on #1955
On the other hand, how to figure out that for sure filestore was deployed/setup on that osd (just for sanity check)?

As I can see, according to the docs, that `storage.config.storeType: filestore` is forwarded downstream if no explicit modifications are made, but the `null` value is throwing me off. I am not sure at what am I looking at, so maybe the value defaulted to `bluestore`?!?!?
[code]

[2018-07-27 16:36] travisn opened #1957 "Default OSD gets deleted when more OSDs are added to the node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
Once an osd is created, it should not be removed unless it was explicitly requested by the user, such as removing a whole node.

**How to reproduce it (minimal and precise):**

On Rook v0.8.0:
- Create a cluster with the sample crd. This will create one osd in the dataDirHostPat

[2018-07-27 17:22] allen13 commented on #1790
I was able to resolve this by changing the FLEXVOLUME_DIR_PATH var to /etc/origin/kubelet-plugins/volume/exec .

Apparently, the type of openshift install you use affects where the plugin path resides: https://docs.openshift.org/latest/install_config/persistent_storage/persistent_storage_flex_volume.html

[2018-07-27 19:14] jbw976 commented on #1790
This speaks to the big disappointment of no longer being able to "discover" the right path the Kubelet will be looking in for flexvolumes, as discussed in https://github.com/rook/rook/issues/1330#issuecomment-369346395.  We cannot do it programmatically from the agent, but I'm wondering if we can improve our documentation to help users figure out where the Kubelet will be looking, so that they kno

[2018-07-28 10:47] galexrt commented on #1790
@jbw976 I'm working on an overhaul of the flexvolume docs which will also add OpenShift doc links and readd Atomic.

[2018-07-28 12:42] galexrt commented on #1733
I had some time this weekend to create a PR that can "fix" this, see #1959.

[2018-07-28 12:58] jomeier opened #1960 "Enable striping in rook"
Hi,

we use rook in kubernetes clusters at Microsoft Azure.

Because of ceph is able to stripe data over several disks (which increases data throughput a lot) it would be great if rook also would be able to use striping.

At first it would be sufficient in my opinion if default ceph paramters are used.

For more info:
• https://stackoverflow.com/a/28698595
• http://programmability.us/mantle/blog3-

[2018-07-28 13:22] galexrt commented on #1953
@aland-zhang That is expected behavior.
There is a reason the "error" message(s) is as follows:
[code]

It is all fine.
Also the Pod events show that the volume successfully mounted.

[2018-07-30 09:45] snowmansora commented on #1507
Hi @galexrt ,

I have tried the settings you mentioned in https://fatalfailure.wordpress.com/2016/06/10/improving-kubernetes-reliability-quicker-detection-of-a-node-down/ with just a little change on one of the values:
[code]

I am using rook ceph block v0.8.0, and I still see the problem reported in this issue.

Below contains the details of my setup.

- OS: CentOS Linux release 7.5.1804 (Core)
-

[2018-07-30 12:33] foldingbeauty commented on #1523
Hi,

I tried to run Ceph through Rook with separated networks and found out that both environment variables (**ROOK_PRIVATE_IP** and **ROOK_PUBLIC_IP**) are set to PodIP. This means both EnvVars have the same IP.

The Rook operator set both EnvVars to PodIP here:
https://github.com/rook/rook/blob/add4bd2fd252d6b78d4f93f15d96ea6f57150f24/pkg/operator/ceph/cluster/osd/pod.go#L114-L119

But the comma

[2018-07-30 16:38] fjudith opened #1963 "Rook 0.8 missing many ceph-mgr prometheus metrics"
**Is this a bug report or feature request?**
* Bug Report

Many metrics suchas as `ceph_client_io_write_ops`, `ceph_client_io_read_ops`  and ceph_osds_*`are still missing in Rook v0.8

**Deviation from expected behavior:**

Missing metrics

[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**

From `rook-ceph-mgr`pod, search for `ceph_client_io_write_ops` metric

[code]

[2018-07-30 20:10] fjudith commented on #1963
I think i've spotted the issue.
Many of these metrics are in fact coming from [ceph-node-exporter](https://github.com/digitalocean/ceph_exporter).

I tried to implement it, but unfortunatly it relies on `ceph.conf`.
Would be great to get it implemented in rook as it allows fine [grained monitoring](https://computingforgeeks.com/monitoring-ceph-cluster-with-prometheus-and-grafana/) using prometheus

[2018-07-30 20:36] travisn commented on #1960
@jomeier do you have more details on what settings would be needed to implement striping? Some of the settings have defaults that currently should be working in Rook.

If a setting is needed in ceph.conf, a workaround is to apply the setting according to [these instructions](https://rook.io/docs/rook/v0.8/advanced-configuration.html#custom-cephconf-settings). For example, it looks like an rgw sett

[2018-07-30 22:59] jomeier commented on #1960
@travisn
The default stripe_count is set to one. Other stripe_counts require the kernel to have the stripingv2 (aka fancy stripe) feature which was introduced in Linux Kernel v4.17.

This are the parameters (description taken from the rbd documentation):

‘‘‘
The striping is controlled by three parameters:

object-size
The size of objects we stripe over is a power of two. It will be rounded up the

[2018-07-31 04:45] travisn commented on #1949
@deveshk0 were you able to resolve this? If not, please let us know in the slack channel. Please reopen if you see this issue again on the 0.8 build.

[2018-07-31 04:45] #1949 closed

[2018-07-31 07:06] day1118 opened #1965 "Minikube - timeout expired waiting for volumes to attach or mount for pod"
Yes - I can see a number of people with similar symptoms, but I've set the FlexVolumeDirPath and still not resolved the issue

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
* I'm following the Rook-ceph-block tutorial, and up to creating the mysql pod, but it get's stuck in "ContainerCreating".
* My rook pods are not restarting or crashing
* In th

[2018-07-31 08:55] rtnpro commented on #1652
I am also facing similar issue on CentOS servers on Scaleway. I tried booting a new Scaleway CentOS server today, however it is missing `/dev/disk/by-partuuid`.

[2018-07-31 09:46] rtnpro commented on #1652
I found a workaround this here: https://git.ceph.com/?p=ceph.git;a=blob;f=udev/60-ceph-partuuid-workaround.rules;h=c41a27204406aa2e9047e39f5b0b18c19ee73bc1;hb=HEAD

I removed `nbd*` from line 16: ` KERNEL=="fd*|mtd*|nbd*|gnbd*|btibm*|dm-*|md*", GOTO="persistent_storage_end_two"`

and I have `/dev/disk/by-partuuid/`after a system reboot.

[2018-07-31 13:15] liewegas commented on #923
It should be come trivial with ceph-volume, at least doing it the ceph way.

If/when kubernetes has its own notion of encrypted volumes we might consider using that in addition to/instead of ceph-volume's.

[2018-07-31 13:34] #1953 closed

[2018-07-31 16:27] #1925 closed

[2018-07-31 16:27] travisn commented on #1925
Backported by #1956

[2018-07-31 16:52] galexrt opened #1966 "Create initial code "style" guide in development flow doc"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
As we talked in the community meeting, I'll add the two style points:
* removal of unnecessary spaces
* adding a new line to the end of the file

This should be added with "docs" for VS Code and Atom Editor.

[2018-07-31 21:40] travisn commented on #1919
reopening for backport

[2018-07-31 22:35] #1840 closed

[2018-07-31 22:47] cheethoe commented on #1827
In case this helps anyone, here's a quick gist I wrote up with an outline of steps to replace an osd in v0.8.0 of rook using ceph. https://gist.github.com/cheethoe/49d9c1d0003e44423e54a060e0b3fbf1

[2018-08-01 05:06] travisn opened #1970 "1.11 integration tests take too long"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The integration tests on K8s 1.11 take about 10 minutes longer than other versions. This even caused a timeout in one of the slower builds that hit 40 minutes for the integration tests.

**Expected behavior:**
Integration tests should run in a similar timeframe across versions.

[2018-08-01 07:34] nucleusv opened #1971 "mount command failed, status: Failure, reason: Rook: Error getting RPC client: error connecting to socket /usr/libexec/kubernetes/kubelet-plugins/volume/exec/ceph.rook.io~rook-ceph-system/.rook.sock: dial unix"
Hi All,
I have an issue containers can mount dynamic provisioned volumes through persistent volume claim:
Such error:

`MountVolume.SetUp failed for volume "pvc-b3b99140-94cf-11e8-b147-000d3a38d199" : mount command failed, status: Failure, reason: Rook: Error getting RPC client: error connecting to socket /usr/libexec/kubernetes/kubelet-plugins/volume/exec/ceph.rook.io~rook-ceph-system/.rook.sock:

[2018-08-01 09:11] farhaanbukhsh commented on #1810
Hey I am new to this community and I really find this project challenging, would like to contribute to this project, how can I start?

[2018-08-01 09:18] nucleusv commented on #1971
Another question: dynamically provisioned volumes are created with Delete not Retain reclaim policy
pvc-b3b99140-94cf-11e8-b147-000d3a38d199
Annotations:
pv.kubernetes.io/provisioned-by:  ceph.rook.io/block
Creation Time:
2018-07-31T14:40 UTC
Status:
Bound
Claim:
default/stash-test-pvc
**Reclaim policy:
Delete**
Access modes:
ReadWriteOnce
Storage class:
rook-ceph-block
Reason:
-
Message:
-

[2018-08-01 10:18] sdkfzv opened #1972 "Ths osd should not be created if the device name is wrong."
* Bug Report
What happened

If I create a ceph cluster with a wrong device name, the osd still can be created in the path "/var/lib/rook/osd.*"
This path is in the "/", so it will consume the system space.
My understanding is the osd should not be created if the device is not exist.
Is that correct ?

cluster.yaml
[code]
the osd:
[code]

**Environment**:
* OS (e.g. from /etc/os-release): centos 7.

[2018-08-01 11:07] laevilgenius opened #1973 "[rook-agent] Add an option to tolerate all taint effects"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add an option to make rook agent tolerate all taint effects, i.e.:
[code]

[2018-08-01 11:16] nucleusv commented on #1971
The problem is solved by removing these lines from ceph-operator deployment:
`- name: FLEXVOLUME_DIR_PATH
  value: "/var/lib/kubelet/volumeplugins`

[2018-08-01 14:49] travisn commented on #1827
@cheethoe thanks for the writeup for replacing the osd!

[2018-08-01 17:58] travisn commented on #1939
Backported with #1969

[2018-08-01 17:58] #1939 closed

[2018-08-01 17:59] travisn commented on #1919
Backported to 0.8 with #1969

[2018-08-01 17:59] #1919 closed

[2018-08-02 12:22] bjornryden opened #1979 "mgr crashing on startup after upgrading to 0.8.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrading to v0.8.1 the mgr pod keeps crashing on startup.

**Expected behavior:**
mgr should be running ;)

**How to reproduce it (minimal and precise):**
It seems others have not run into this, following the upgrade guide (https://rook.io/docs/rook/v0.8/upgrade-patch.html) so unsure if this is

[2018-08-02 13:09] bjornryden commented on #1979
Somehow the mgr came into function shortly after I raised this bug. The only possible things I've changed around that time, was to make a config override and restart the RGWs. After removing the config override from the configmap again and restarting the mgr, it still works.

[code]

[2018-08-02 13:10] #1979 closed

[2018-08-02 14:56] travisn opened #1981 "Build Rook on the controller runtime"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The [operator sdk](https://coreos.com/blog/introducing-operator-framework) is a better long term solution for the community. The [operator kit](https://github.com/rook/operator-kit) has not had dedicated resources and hasn't been developed in some time.

[2018-08-02 16:31] bassam commented on #1981
The other option is kubebuilder. Would be good to understand the pros/cons for each before proceeding.

[2018-08-02 19:53] travisn commented on #1583
Here are some thoughts in case someone wants to jump into getting this done...

### Design

An example CRD:
[code]

The elements of the CRD include:
- `apiVersion` & `kind`: newly defined in the CRD definition in operator.yaml.
- `name`: The name of the crd object to be created, which corresponds to the `--uid` of the radosgw-admin command
- `namespace`: Must be the same as where the rook cluster

[2018-08-02 22:59] #1445 closed

[2018-08-02 23:35] jmreicha opened #1985 "modprobe: FATAL: Module rbd not found on ARM"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I get the following logs from `kubectl get events`

[code]

**Expected behavior:**

Following the instructions from the documentation I was able to create spin everything up and create all the resources.  The problems only start happening when I attempt to mount a Ceph volume.

**How to reproduce it (

[2018-08-03 01:48] arm64b commented on #1985
it's probably that your system doesn't have the `rbd` module available no matter it's a builtin or a loadable one, currently the Rook will not check this and assume it's always there and can work, which means the `agent` is always OK in the cluster even the `rbd` is missed, consequently you will encounter the `rbd` related issue later just like the one you mentioned.  Please see #1947

[2018-08-03 01:52] jbw976 commented on #1985
our of curiosity, what does running `modprobe rbd` on the **host machine** say?

[2018-08-03 01:58] jbw976 commented on #1827
Thanks @cheethoe, i edited the original description for this issue to point to your gist since it is for 0.8 and much more relevant now :)

[2018-08-03 03:37] arm64b commented on #1985
@jbw976 If the `rbd` module doesn't  build into the kernel statically nor it's an external loadable kmod in the system, then the `modprobe rbd` will complain like this:
[code]
So, @jmreicha, would you please try to run the `modprobe rbd` in your host machine?

[2018-08-03 05:35] bassam opened #1986 "build/run on macOS causes errors"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

`docker: Error response from daemon: Bad response from Docker engine.` when running build/run on macOS.

**Expected behavior:**

build succeeds

**How to reproduce it (minimal and precise):**

on macOS with docker for Mac run `build/run echo x`

**Environment**:
* OS (e.g. from /etc/os-release): macos

[2018-08-03 06:49] arm64b opened #1988 "No `osd` pods running inside the ceph cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
There's no `osd` pod(s) running inside the ceph cluster
**Expected behavior:**
The `osd` should be running inside the ceph cluster started up by the Rook
**How to reproduce it (minimal and precise):**
Change the cluster.yml file as below:
[code]
Then create the cluster:
[code]
There's no osd pod(s) run

[2018-08-03 15:04] jmreicha commented on #1985
@jbw976 @arm64b

[code]

Looks like you're right, the module isn't built into the kernel I'm using.  I found an upstream issue for adding the `rbd` module in https://github.com/ayufan-rock64/linux-build/issues/211.

I will follow that issue.  Thanks for the help.

[2018-08-03 15:04] #1985 closed

[2018-08-03 16:11] allen13 opened #1991 "Flexvolume mount silently failing [Openshift Enterprise 3.9.33]"
Having mounting issues in openshift 3.9 when using the flexvolume strorageclass provisioner. I have worked around this by using the traditional kubernetes.io/rbd provisioner. Additionally I have verified that the flexvolume plugin works in the recently released openshift 3.10. I would like to simply forget about this problem and move on to 3.10 but unfortunately it takes several months to upgrade

[2018-08-03 16:29] jbw976 commented on #1991
Do you happen to have the full logs from the rook-ceph-agent pod on that node also?

[2018-08-03 17:11] allen13 commented on #1991
Here they are. The last error repeats indefinitely.

[code]

[2018-08-03 18:28] HighwayofLife commented on #1850
@mmack can you elaborate on what you meant by kubelet running as a docker container needs `/dev` mounted inside?

Thanks!

[2018-08-03 18:46] HighwayofLife commented on #1965
I just created a new Kubernetes cluster and installed rook 0.8.1 on it, I noticed that I was getting the `timeout expired waiting for volumes to attach or mount` error on the pod using a rook filesystem, and the error in the kubelet logs was:
```E0803 18:32:35.005270    2132 desired_state_of_world_populator.go:311] Failed to add volume "jenkins-jobs" (specName: "jenkins-jobs") for pod "c16cbeae-97

[2018-08-03 20:26] galexrt commented on #1965
To document here it @HighwayofLife's problem was fixed by changing the `clusterName` to `clusterNamespace` and having the driver as `ceph.rook.io/rook`.

[2018-08-03 23:23] jbw976 opened #1993 "FOSSA license scanning should be done on all PRs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:** The FOSSA Status license scanning should be done as a status check on every PR, to make sure that no invalid licenses are merged into master. See scan results at https://app.fossa.io/projects/git%2Bgithub.com%2Frook%2Frook

[2018-08-03 23:29] jbw976 commented on #1539
We will not be using API aggregation (as mentioned in https://github.com/rook/rook/issues/1535#issuecomment-375491643), but there is an increasing amount of support in upstream CRDs for these types of features and we should continue to make more use of them in order to enrich the user experience for Rook users.

[2018-08-03 23:40] jbw976 commented on #1810
Hi @farhaanbukhsh, here are some links for getting started as a contributor to the Rook project:
* https://github.com/rook/rook/blob/master/CONTRIBUTING.md
* https://rook.io/docs/rook/v0.8/development-flow.html

I would recommend joining our Slack and talking to us on the #dev channel, or using the mailing list.  Links can be found in https://github.com/rook/rook/#contact.

If you have discussion/

[2018-08-04 13:59] rtnpro commented on #1259
I am using rook 0.8, and I still see that the persistent volume does not respect the `reclaimPolicy` set in `StorageClass`. Here's my `storageclass.yaml`:

[code]

**kubectl get pvc**

[code]

**kubectl get pv**

[code]

[2018-08-04 14:05] galexrt commented on #1259
@rtnpro This issue tracks exactly that the `reclaimPolicy` is currently not respected.
The feature to respect the `reclaimPolicy` has not been implemented yet (as this issue is not closed).

Though it is up for the taking and we are happy to help implement this feature.

[2018-08-04 14:31] rtnpro commented on #1259
@galexrt I'd be happy to work on this. Could you point me to the related areas in the codebase where I should start looking to work on a fix for it?

[2018-08-04 14:43] galexrt commented on #1259
@rtnpro Best would be to hop on the Rook.io Slack (https://rook-slackin.herokuapp.com/).

As @hickey wrote, you probably need to change the logic inside the [`provisioner.go`](https://github.com/rook/rook/blob/master/pkg/operator/ceph/provisioner/provisioner.go#L148).

[2018-08-06 13:28] ivanovaleksandar opened #1996 "OSD pods stuck in crush loop due to authentication failure"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD pods stuck in crush loop due to authentication failure.

**Expected behavior:**
The `/var/lib/rook` was populated with keyring and the volume is mounted in the OSD pods, still the a crush loop occurs. The cluster was created after helm operator deployment (v0.8.1). Reverted to v0.8.0 and everything

[2018-08-06 13:33] galexrt commented on #1996
@ivanovaleksandar Please also post your Ceph Cluster manifest.

[2018-08-06 13:37] galexrt commented on #1988
@arm64b I have assigned the issue to you as you create the PR to fix this.

[2018-08-06 13:43] ivanovaleksandar commented on #1996
Here is the cluster manifest:
[code]

[2018-08-06 13:47] galexrt commented on #1356
@Ichbinjoe @saravanakumar-periyasamy Please try upgrading to the latest Rook version.

If you should be on `v0.6.1` please first upgrade to `v0.7.x` and then when you are on `v0.7.x`, to `v0.8.1`.

For info to upgrade, please refer to the Rook.io documentation, e.g. for v0.8.x update https://rook.io/docs/rook/v0.8/upgrade.html.

[2018-08-06 13:48] #1356 closed

[2018-08-06 13:55] galexrt commented on #1037
I'm going to close this issue as there was no response till now, Rook version v0.8.1 has been released and this issue has not been reported with v0.8 (and possibly v0.7 already).

/cc @grebois @jpds

[2018-08-06 13:55] #1037 closed

[2018-08-06 14:43] galexrt commented on #1942
I added this to the v0.9 milestone as this seems to be a small fix to do.
@BlaineEXE Do you want to do it?

[2018-08-06 14:59] galexrt commented on #1292
**To document here**:
If you are using a version before v0.7, the default store type for OSDs was `bluestore`.
Bluestore won't reduce in size, as it expects either the whole device or filesystem (not recommend in general that is why the default is now dynamically in v0.7 and up) to be useable.

For users of directories with OSDs it is recommended to use `filestore` instead.

[2018-08-06 15:33] galexrt commented on #1595
I think the docs cover the cleanup steps https://rook.io/docs/rook/v0.8/ceph-teardown.html.

Also it seems that the objects which could not be removed with the finalizers were only stuck on older versions of Kubernetes (around < 1.7) (and uneditable to fix the deletion).

If you should run into this problem again, please reopen this issue.

[2018-08-06 15:33] #1595 closed

[2018-08-06 15:51] #1986 closed

[2018-08-06 16:40] galexrt commented on #980
@travisn Ping
Is this still needed?

[2018-08-06 16:42] #980 closed

[2018-08-06 16:45] galexrt commented on #1200
`rookctl` has been removed in v0.8. Closing.

[2018-08-06 16:45] #1200 closed

[2018-08-06 19:28] gokulpch commented on #1507
@galexrt @snowmansora I am seeing this issue on Kubernetes-1.11.1-0 with replicapool replication set to 3 and  not using StatefulSet. The functionality (mapping/re-mapping of volumes) works without issues if a Cordon and Drain is performed on the node, but the same fails in the case of reboot and the node pauses while booting with the message below:

<img width="822" alt="screen shot 2018-08-05 at

[2018-08-06 23:08] travisn commented on #1552
Keeping alive since it's in the roadmap

[2018-08-07 01:13] jbw976 commented on #1532
Keeping open as Nexenta support is in the roadmap.

[2018-08-07 03:09] hunter commented on #1584
Related to #1588 which might be worth considering for designing more general replication configuration/APIs

[2018-08-07 05:32] #1988 closed

[2018-08-07 07:25] galexrt commented on #1993
@jbw976 For that to work we seem to need to manually install the FOSSA plugin on the Jenkins (see https://github.com/fossas/fossa-jenkins-plugin).

How about we reinstall the Jenkins on the latest version and then install the plugin with this task?

[2018-08-07 10:33] #1970 closed

[2018-08-07 11:08] snowmansora opened #1998 "No new OSD on new nodes when useAllNodes set to true until rook-ceph-operator is restarted"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
No new OSD on new nodes when useAllNodes set to true

**Expected behavior:**
New OSD is started on new nodes when useAllNodes set to true

**How to reproduce it (minimal and precise):**

1. K8s cluster with 3 nodes
2. Deploy https://github.com/rook/rook/blob/release-0.8/cluster/examples/kubernetes/ceph

[2018-08-07 15:33] bassam commented on #1993
I thought there was a way to add another status check via FOSSA at the GitHub level for PR. This would not involve Jenkins which is preferable.

[2018-08-07 15:35] galexrt commented on #1993
Mhh right it seems that there is a `fossa-cli` (see https://github.com/rook/rook/pull/1441#issue-165421526) so we probably need to use that to trigger scans for PRs it seems.

[2018-08-07 15:37] galexrt commented on #1920
Closing as the fix has been merged and backported.

[2018-08-07 15:37] #1920 closed

[2018-08-07 15:40] galexrt commented on #1790
The docs have been overhauled, please give it a look here: https://rook.io/docs/rook/v0.8/flexvolume.html.
I'm closing this for now as I believe the docs have been updated to better the user experience.
Please create a new issue if you think the flexvolume docs can be further improved. Thank you!

[2018-08-07 15:40] #1790 closed

[2018-08-07 15:52] dimm0 commented on #1350
Would be nice to have this feature

[2018-08-07 17:24] travisn opened #2003 "Ceph config should be created with an init container"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The rook daemon pods that run the ceph daemons primarily have two purposes: Generate ceph config and then start the ceph daemon. Instead, an init container should be used to generate the config and then the ceph daemon can be started directly. This allows rook to get out of the business of any process m

[2018-08-08 04:26] travisn opened #2004 "Design doc for orchestrating different versions of Ceph"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The version of Ceph deployed by the Rook operator should be flexible and specified by the admin in the cluster CRD. This change will allow Rook's version to be independent of the ceph version.
- In production clusters, admins want to very carefully control when they upgrade their ceph clusters since the

[2018-08-08 06:45] snowmansora commented on #1998
Also, I have tried similar procedure with rook 0.7.1, and new OSD is started on new nodes.
So, it may be a bug in 0.8.X?

[2018-08-08 07:14] galexrt commented on #1998
@snowmansora Currently the operator does not pick up new nodes until restarted.
This is partly tracked in #1435.

/cc @travisn Is that the tracking issue?

[2018-08-08 08:24] zmlcc opened #2005 "Agent and Discovery daemons should support placement options"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
[jbw976] The agent and discovery pods should support more advanced placement options, such as `nodeAffinity`, to control which nodes these pods are run on.  This could mean to not even run them at all if that's what the user desires.

**What is use case behind this feature:**
The discovery daemonset  us

[2018-08-08 09:31] zmlcc opened #2006 "Support user-space driver"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
I have tried to use `rbd-nbd` feature-rich client to support ceph rbd image. But I noticed it was restricted by existing mechanisms. When using rbd-nbd to map rbd image,  it would create a  user-space  process to deal with network IO.  Currently ceph client map rbd image in the agent pod. If I use  `rbd

[2018-08-08 09:34] galexrt commented on #2006
@zmlcc I think this will be done with the Ceph CSI plugin that is currently developed.

[2018-08-08 10:36] zmlcc commented on #2006
@galexrt  If the Ceph CSI plugin was deployed in container,  I think the problem still exists

[2018-08-08 13:51] bjornryden opened #2007 "Parallel tasks causes the operator into a crash loop"
**Environment**:
* OS (e.g. from /etc/os-release): CoreOS 1800.6
* Kernel (e.g. `uname -a`): Linux k8s-01.devops.recordsure.com 4.14.59-coreos-r2 #1 SMP Sat Aug 4 02:49:25 UTC 2018 x86_64 Intel(R) Xeon(R) Gold 6154 CPU @ 3.00GHz GenuineIntel GNU/Linux
* Cloud provider or hardware configuration: Baremetal
* Rook version (use `rook version` inside of a Rook Pod): v0.8.1
* Kubernetes version (use `ku

[2018-08-08 14:05] sebastian-philipp commented on #1192
Yep. I also got this issue.

Steps to reproduce:

1. Start minicube
2. Follow quickstart to run a new cluster.
3. Look into the mon logs to find the error message mentioning critical storage.
4. Google the error message and find this issue that points to the documentation.

[2018-08-08 14:06] travisn commented on #2007
@bjornryden a few questions:
- Is this a consistent repro in your environment, or did it just happen once?
- Did you find a workaround to get the operator running again?
- Was the `newosproc` error in the operator log, or where did you find that error?
- Do you have more repro steps to hit this issue? It's not clear how to repro. You created a cluster? How long was it running? How many mons/osds d

[2018-08-08 14:13] travisn commented on #2007
From the slack conversation, it sounds like you have a lot of OSDs being created and we need to limit how many we attempt in parallel.

[2018-08-08 14:16] travisn commented on #2005
@zmlcc Do you see some side effect of the frequent refresh? The idea was that we want to detect new devices that get added to a node. Certainly we need to improve this such as with a udev notification so we don't have to poll periodically.

[2018-08-08 15:37] bjornryden commented on #2007
Hi @travisn
- Is this a consistent repro in your environment, or did it just happen once?
This has happened two times and seems to be consistent when a lot of PVCs are created or deleted at the same time.
- Did you find a workaround to get the operator running again?
Removing the PVs manually (sometime having to remove the finalizer). Then when operator is up again, we can deleted the rbd images
-

[2018-08-08 15:38] bjornryden commented on #2007
And now the operator is in a crash loop with this:
[code]

[2018-08-08 17:05] rootfs opened #2009 "RFE: a single and permanent ceph mon service name"
**Is this a bug report or feature request?**
* Feature Request
Currently each mon has its own service, rook-ceph-mon0/rook-ceph-mon1/etc. Once a mon fails or new mon added, the names are updated or added. This is a problem for using rbd/cephfs PVs where the mon are set in the PV.
**What should the feature do:**
A single and permanent mon service name, e.g. rook-ceph-mon, so all PVs use this name.

[2018-08-09 00:03] lbogdan commented on #1536
So, because I was very eager to test mimic (mostly because of the dashboard, as the luminous dashboard is pretty much useless), here's what I did:
- created an image from `ceph/daemon-base:v3.1.0rc1-stable-3.1-mimic-centos-7` and copied over the rook binaries from `rook/ceph:v0.8.1-4.g3faf61b` and pushed it on Docker Hub as [`lbogdan/rook-ceph:latest`](https://hub.docker.com/r/lbogdan/rook-ceph/ta

[2018-08-09 00:37] lbogdan opened #2011 "Incorrect application name for RBD pools"
Note: I've noticed this because in the ceph dashboard (mimic version, [here's how I got it working](https://github.com/rook/rook/issues/1536#issuecomment-411593090)) block images are only listed if they belong to a pool with application name "rbd".

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Application name for an RBD pool provisioned by creat

[2018-08-09 02:14] zmlcc commented on #2005
@travisn  Actually I noticed  serious bug.  Docker overlay filesystem was broken when `docker pull image` and `sgdisk --print /dev/sdX` were executed at the same time. This bug destroyed my evevry node with kernel `4.1.0.el7.x86_64`  after I updated rook to v0.8 !!!
Fortunately, it was fixed when kernel  were upgraded to `4.14.0.el7.x86_64`

My point is that we can let  the final user to choose wh

[2018-08-09 06:48] galexrt commented on #2007
Marking as a bug because it doesn't seem right to try delete "so many" images at once (from one point, the operator).
I think exposing a flag to control the max parallel tasks (with a default of 15) would be good from my perspective.
What do you think about that or do you see other ways that we can look into too?

[2018-08-09 06:52] galexrt commented on #2009
A so called headless Service should be used then as seen in the ceph/ceph-docker repository: https://github.com/ceph/ceph-container/blob/4506d3a903c6658ab77d911763f0d222dd371933/examples/kubernetes/ceph-mon-v1-svc.yaml

The CSI driver is running as a container inside Kubernetes, right?
If that isn't the case the CSI driver can't resolve the DNS record for the service (unless you add the kube_dns S

[2018-08-09 09:18] clkao opened #2012 "cordoned nodes causing mon respawn"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

op-mon checks for validNode continuously, and when a node is cordoned, it becomes invalid because it's unscheduleable.  mon pod is then immediately killed and respawned on another node.

**Expected behavior:**

mon pods should continue to live on cordoned node, and only recreated on eviction.

**How t

[2018-08-09 09:52] clkao commented on #2009
+1 on the unified mon service name.  This would mean the CNI layer will be doing the dispatching for us. Is there session affinity assumption that should be taken into account in the ceph layer?

re @galexrt: the CSI driver is indeed running as container. the ceph-csi example deployment however uses `hostNetwork: true` which prevents the dns resolution from working. changing that to false actually

[2018-08-09 10:02] galexrt commented on #2009
@clkao That shouldn't be too much of a problem as long as the CSI container runs in Kubernetes then one can simply set `dnsPolicy` to `ClusterFirstWithHostNet`[1] so it uses the in-cluster dns first.
`ClusterFirstWithHostNet` is exactly made for `hostNetwork: true` so that dns resolving is still available.

Also as far as I know Ceph/RBD just "reads" all A records from a DNS endpoint and uses them

[2018-08-09 11:55] discostur commented on #1037
seeing this issue also with rook operator v0.8.1

[2018-08-09 11:57] galexrt commented on #1037
@discostur Are you experiencing this with a newly setup Rook Ceph Cluster or with an upgrade Rook Ceph Cluster?

[2018-08-09 11:58] discostur commented on #1037
Just created a new Rook Ceph Cluster from scratch

[2018-08-09 12:11] galexrt commented on #1037
@discostur You seem to be experiencing a different issue. The issue here is that for some reason the `default` ServiceAccount is used and not a `rook-ceph-*` ServiceAccount.

Your issue seems to be that the `rook-ceph-system` ServiceAccount does not have the required (Cluster)Role bound to it.
Please make sure you have created the RBAC rules that are required for a Rook Ceph Cluster, see https://r

[2018-08-09 12:13] discostur commented on #1037
Rook Ceph Helm Chart is installed in the namespace/rook-ceph-system and my ceph cluster is installed in the namespace/rook-ceph (like in the official documentation). Problem is, that Rook Helm Chart creates a clusterrole/rook-ceph-cluster-mgmt but no clusterrolebinding/rook-ceph-cluster-mgmt. After manually creating a binding and pointing it to the rook service account everything is working now:

[2018-08-09 16:35] travisn commented on #1536
Thanks @lbogdan for documenting how to get mimic running!

Note that #2004 is proposing to decouple the version of ceph from the version of Rook. This means the user could choose to run luminous, mimic, nautilus, or a private build of Ceph. This issue will still be helpful to track the details of what rook needs for mimic.

[2018-08-09 20:03] ToroNZ commented on #1790
Future travelers:

I had all these symptoms but in my case it was resolved by restarting the kubelet.
K8s 1.11
Fedora 28

I followed an old guide for k8s 1.7 https://github.com/rook/rook/blob/master/Documentation/common-issues.md#kubelet-restart

[2018-08-10 13:53] discostur opened #2016 "Error on recreating Erasure Coded Pool with different Settings"
* Bug Report
When you create an erasure coded pool, delete it, adjust your settings and recreate it rook fails, because rook didn't delete the erasure code profile:

[code]

**Deviation from expected behavior:**

Rook should delete the erasure code profile or use unique names.

**How to reproduce it (minimal and precise):**

- Create erasure coded pool:

[code]

- Delete erasure coded pool
- Adjus

[2018-08-10 21:00] jbw976 opened #2017 "Minio operator ignores placement in objectstores.minio.rook.io spec"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** If placement information is specified in the the spec for a `objectstores.minio.rook.io` instance, then it should be applied by the operator to the minio resources that it creates.

https://github.com/rook/rook/blob/release-0.8/pkg/apis/minio.rook.io/v1alpha1/types.go#L56

[2018-08-11 00:28] agill17 commented on #2017
+1 Would appreciate this!

[2018-08-11 18:50] davidhiendl commented on #1507
Is there any way to manually mark a volume as detached (if it is not possible automatically at the moment)? This is a real problem for applications that do not support HA directly.

[2018-08-12 08:35] lorenz commented on #1507
@davidhiendl You can delete the VolumeAttachment Resource but that is very dangerous since there is no fencing on the corresponding RBD.

[2018-08-13 02:32] tujian opened #2019 "SetVolumeOwnership operation may cause timeout when volume has lots of subdirectories and files"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The behavior is weird. I have a filesystem created with rook. Initially, I mounted both subpaths on different pods `successfully`, when `Path 2` is almost empty.

`Pod 1` with `Path 1` (/cloud).
[code]

`Pod 2` with `Path 2` (/cloud/data/john/files/fs), which is a descendant of `Path 1`.
[code]

**Eve

[2018-08-13 08:27] hunter commented on #1342
Since dmcrypt support was raised on Twitter in a larger discussion on Kubernetes storage encryption, it would be good to combine this with #923.

[2018-08-13 10:58] MartinForReal opened #2020 "Failed to create ceph cluster using rook operator which is deployed by helm."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
the service account which is associated with operator pod don't have access to creating configmap in target namespace

**Expected behavior:**
create a ceph cluster after cluster resource is created

[code]
**How to reproduce it (minimal and precise):**

[code]

**Environment**:
* OS (e.g. from /etc/os-

[2018-08-13 11:01] MartinForReal commented on #2020
I think this is because clusterrole/rook-ceph-global don't have access to configmaps,services
and prepare job may failed because sa/rook-ceph-cluster  is not defined and bind to rook-ceph-cluster-mgmt

[2018-08-13 11:11] galexrt commented on #2020
@MartinForReal Have you also created the RBAC necessary for the operator to be able to create the Ceph Cluster?
If not, please try to create the RBAC rules that are shown in the docs and the example `cluster.yaml`, see https://rook.io/docs/rook/v0.8/ceph-cluster-crd.html#common-cluster-resources or https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L6-L50.

Let

[2018-08-13 12:14] alfredodeza commented on #1342
@dmick @travisn do we need to allow a way to provide a custom (or non`ceph.conf` based) cluster fsid in ceph-volume? This wouldn't be that complicated, probably would mean an extra flag when bootstraping (`prepare` or `create` sub-commands)

[2018-08-13 12:43] lbogdan opened #2021 ""rbd map" hangs in toolbox"
As stated in the [docs](https://rook.io/docs/rook/v0.8/direct-tools.html), `rbd map` hangs (while still succeeding) when running it in the toolbox:
[code]

Because I was a bit annoyed by this, I decided to look into it. With a bit of help from #ceph-devel on IRC, I found that, after mapping the block image, "rbd map" [waits for an udev add event](https://github.com/ceph/ceph/blob/master/src/krbd.c

[2018-08-13 16:19] yanchicago opened #2022 "Minio object store creation failure due to unspecified storage class in rook 0.8.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The minio object store pod can't be brought up ( Pending state)  successfully.
It looks for the unspecified storageclass as stated in the ceph-operator log.

$ kubectl -n rook-minio get all
NAME                   READY     STATUS    RESTARTS   AGE
pod/my-minio-store-0   0/1       Pending   0          2

[2018-08-13 16:32] MartinForReal commented on #2020
2018-08-13 16:27:43.988102 E | agent-cluster: failed to get volume attachments for agent namespace rook-ceph-system: volumes.rook.io is forbidden: User "system:serviceaccount:rook-ceph-system:rook-ceph-system" cannot list volumes.rook.io in the namespace "rook-ceph-system": [clusterrole.rbac.authorization.k8s.io "rook-ceph-global" not found, role.rbac.authorization.k8s.io "rook-ceph-cluster-mgmt"

[2018-08-13 18:56] jbw976 commented on #2021
Looks like a similar line of thinking from a very old (and since closed) issue on this same topic: https://github.com/rook/rook/issues/481#issuecomment-298372871

A PR to use hostNetworking in the toolbox should be fine @lbogdan.  Please do try some other scenarios in the toolbox and make sure there are no unexpected regressions:
https://rook.io/docs/rook/v0.8/toolbox.html
https://rook.io/docs/roo

[2018-08-13 23:57] #1455 closed

[2018-08-13 23:57] #347 closed

[2018-08-13 23:57] #966 closed

[2018-08-13 23:57] #1380 closed

[2018-08-13 23:57] #1053 closed

[2018-08-13 23:57] #1128 closed

[2018-08-13 23:57] #1127 closed

[2018-08-13 23:57] #1374 closed

[2018-08-13 23:58] #954 closed

[2018-08-13 23:58] #766 closed

[2018-08-13 23:58] #743 closed

[2018-08-13 23:58] #495 closed

[2018-08-13 23:58] #257 closed

[2018-08-13 23:58] #1568 closed

[2018-08-13 23:58] #1278 closed

[2018-08-13 23:58] #1183 closed

[2018-08-13 23:58] #1387 closed

[2018-08-13 23:58] #1606 closed

[2018-08-13 23:58] #1601 closed

[2018-08-13 23:58] #1544 closed

[2018-08-14 00:50] #866 closed

[2018-08-14 00:50] #905 closed

[2018-08-14 00:50] #926 closed

[2018-08-14 00:50] #940 closed

[2018-08-14 00:50] #1038 closed

[2018-08-14 00:50] #341 closed

[2018-08-14 00:50] #265 closed

[2018-08-14 00:50] #1258 closed

[2018-08-14 00:50] #1282 closed

[2018-08-14 00:51] #293 closed

[2018-08-14 00:51] #1302 closed

[2018-08-14 00:51] #1015 closed

[2018-08-14 00:51] #1415 closed

[2018-08-14 00:51] #1416 closed

[2018-08-14 02:26] arm64b commented on #1972
AFAIK, if the device name is wrong for that node, the OSD will not succeed to run on that node, would you please give more details of step how to reproduce this?

[2018-08-14 08:05] vvangestel opened #2025 "Procedure for Cluster Downscale"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Document the procedure to cleanly reduce the size of the ceph cluster.
If manual steps are required, maybe add support for a node annotation to indicate to the operator that a specific node should be cleaned up (no longer used for storage).

**What is use case behind this feature:**
Cleanly remove fault

[2018-08-14 11:34] lbogdan commented on #1342
So, I wanted to play around with `ceph-volume` and learn how it works, here are my findings:

### Initial setup
I have a one node test cluster with 2 4TB drives, `sda` and `sdb`. `sda` is split into 5 partitions, first 3 are used by the OS (`sda1` - boot, `sda2` - root, `sda3` - bios boot), and the last 2, aprox. 1.8TB each, are xfs formatted, mounted and used for directory OSDs (I split the remai

[2018-08-14 14:59] jbw976 commented on #2025
Thanks for this suggestion @vvangestel.  Do you think this issue is describing anything beyond what #1827 is already attempting to capture? I'd like to consolidate these tickets if possible, but there may be a clear difference between them.

[2018-08-14 15:05] travisn commented on #1921
Note that this is a doc bug now given the investigation mentioned [here](https://github.com/rook/rook/pull/1930#issuecomment-411513655) about mount propagation issues on openshift when running in a container. Thanks for the investigation @fabianvf!

[2018-08-14 15:33] jbw976 commented on #2022
Thanks for reporting this! This is very similar to the issue that cockroachdb has when there is no default storageClass.  Relevant discussion can be found on #1807.

[2018-08-14 15:57] #2011 closed

[2018-08-14 16:04] jbw976 commented on #1064
@galexrt will follow up to see what it takes to be added to the catalog.

[2018-08-14 16:25] yanchicago commented on #2022
Followed #1807 to create the default storage class:
$ kubectl get sc
NAME                 PROVISIONER   AGE
hostpath (default)   hostpath      15m

$ kubectl get all -n rook-minio
NAME                   READY     STATUS    RESTARTS   AGE
pod/my-minio-store-0   0/1       Pending   0          33s

NAME                     TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)          AGE
service/minio-s

[2018-08-14 19:07] lbogdan commented on #2021
I tried all the toolbox scenarios, everything worked as expected.

I also created the PR, I'm not really sure about the comments / wording, though. Please let me know.

[2018-08-14 22:02] #2021 closed

[2018-08-14 23:35] jbw976 commented on #1646
I believe this has been fixed, please let us know if this can be reproduced with v0.8+ builds. thanks!

[2018-08-14 23:35] #1646 closed

[2018-08-15 00:25] jbw976 commented on #1755
Thank you for reporting your findings @jomeier

[2018-08-15 00:25] #1755 closed

[2018-08-15 00:31] jbw976 commented on #1501
We ran into an issue with the 1.11 integration tests that I believe to be the same root cause.  Details of that discussion are captured in https://gist.github.com/jbw976/358b67f5c0822cd6d424cdfd2961d748

[2018-08-15 00:43] jbw976 commented on #1890
The operator.yaml link from https://rook.io/docs/rook/v0.8/flexvolume.html has been fixed with https://github.com/rook/rook/commit/688674f0f87bb3ae385191b723bd09ef302fd441.  The 1.5 folder link in the 0.7 docs is still broken, but I don't think a fix for that is very pressing.

[2018-08-15 06:46] rm-rf-etc commented on #1604
For anyone else experiencing this issue...

After following the quick start guide, I was getting the errors,
[code]

For me, the fix was to uncomment `storeType: bluestore` in [cluster.yaml](https://github.com/rook/rook/blob/v0.8.1/cluster/examples/kubernetes/ceph/cluster.yaml).

To recreate the filesystem, don't forget to `rm -rf /var/lib/rook` (dataDirHostPath) on each node after `kubectl delete

[2018-08-15 06:58] jbw976 commented on #1523
Great debugging @foldingbeauty, thanks for sharing your findings.  Do you want to take a stab at submitting a PR for a code fix for this?  We are always accepting PRs :)  Here's a few useful links to help with the contributor workflow:
https://github.com/rook/rook/blob/master/CONTRIBUTING.md
https://github.com/rook/rook/blob/master/Documentation/development-flow.md

[2018-08-15 09:55] arm64b commented on #2005
@zmlcc  so is this a kernel issue?

[2018-08-15 13:04] #1688 closed

[2018-08-15 13:04] #851 closed

[2018-08-15 13:04] #1657 closed

[2018-08-15 13:04] #1673 closed

[2018-08-15 13:10] #1208 closed

[2018-08-15 15:18] travisn commented on #1890
thanks @jbw976, i missed looking into this again. @galexrt shall we close this issue then?

[2018-08-15 15:38] BlaineEXE commented on #1342
I think it's also worth discussing that because supporting ceph-volume is such a huge task, figuring out a minimum-acceptable feature set to target for the first PR is a good idea. @dmick @travisn @liewegas @jcsp

Minimal feature ideas:
- Able to prepare single-disk OSDs as well as disk+metadata-partition OSDs
- Prepare disks with the most minimal amount of tooling/setup needed. If disks can be pr

[2018-08-15 15:48] lbogdan commented on #1342
Not everything in my write-up (like OSD purging) should go into this feature, I just wanted to document a full step-by-step process for replacing a rook prepared directory OSD to a `ceph-volume` prepared device OSD, on the same partition the directory used to be mounted.

I'd also add
- Able to prepare partitions (which is actually the thing I'm most interested in 🙂)

About your point

that's what

[2018-08-15 16:03] #1550 closed

[2018-08-15 16:52] alfredodeza commented on #1342
ceph-volume doesn't create OSDs unless it is with LVM (for now). There are no current plans to support anything but LVM at the moment.
Preparing disks with dmcrypt means using `--dmcrypt` in ceph-volume, nothing else. Unsure what that means for rook internals though, happy to accommodate things to help out here.

[2018-08-15 16:54] alfredodeza commented on #1228
Once rook stats using ceph-volume, this will not be a problem since LVM takes care of matching a device to its logical volume name

[2018-08-15 17:00] lorenz commented on #1228
Honestly an even better idea would be to rely on Kubernetes volumes and block devices which would make the whole detection and identity thing just go away. Security-wise it's also pretty nice since it woud forego the requirement to have any sort of privileged access.

I'm working on a CSI ZFS provisioner which can provision local volumes and block devices which could then be used to run Rook on to

[2018-08-15 18:49] BlaineEXE opened #2031 "Investigation: Host network security improvements for Ceph"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Collect requirements, and research options for improving the security of using the k8s hosts' network interfaces for Ceph data traffic. Once requirements and research are completed, a plan can be drafted and implemented.

**What is use case behind this feature:**
Using `hostNetwork`ing in Kubernetes exp

[2018-08-15 20:30] galexrt commented on #1890
@travisn Sure, if I should find other links that are broken I'll just go ahead and fix them (probably like here: https://github.com/rook/rook/pull/1959/files#diff-88af7af825258952a731f1fc21f53557).

[2018-08-15 20:30] #1890 closed

[2018-08-15 22:14] liewegas commented on #1342
Yeah, I think if we do this right then enabling various ceph-volume features should just mean mapping properties to ceph-volume flags.  If there is additional magic needed to the rook side to make e.g. dmcrypt work then we're probably doing it wrong!

[2018-08-16 07:59] jcsp commented on #1342
The minimum feature set would be just to implement whatever Rook can already do, but via ceph-volume, right?

[2018-08-16 12:06] lbogdan commented on #1342
@alfredodeza Is it possible to specify an existing path for the OSD config dir? Right now I see it mounts a tmpfs in `/var/lib/ceph/osd/ceph-ID`, and there's no command line arguments for changing that.

[2018-08-16 12:17] alfredodeza commented on #1342
@lbogdan we don't accept custom locations because it is easy to misconfigure and hard to do it robustly. This was a design decision from the start. Is it a hard requirement for rook?

[2018-08-16 12:34] sdnetwork opened #2033 "Failed to create shared filesystem with default example"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Filesystem not created
**Expected behavior:**
Create a new filsystem
**How to reproduce it (minimal and precise):**

Apply default manifest rook/cluster/examples/kubernetes/ceph/filesystem.yaml

found this error in rook-operator log :

    exec: Running command: ceph osd pool create myfs-data0 0 replic

[2018-08-16 12:50] sdnetwork commented on #2033
entire logs from rook-operator

    2018-08-16 12:41:23.959385 I | rookcmd: starting Rook v0.8.0-84.gc019991 with arguments '/usr/local/bin/rook ceph operator'
    2018-08-16 12:41:23.959934 I | rookcmd: flag values: --help=false, --log-level=INFO, --mon-healthcheck-interval=45s, --mon-out-timeout=5m0s
    2018-08-16 12:41:23.961742 I | cephcmd: starting operator
    2018-08-16 12:41:24.042297 I |

[2018-08-16 13:39] jansmets opened #2034 "adding drives on nodes without persitent storage fails to rediscover previous osds"
Rook version: 0.8.1
I have one node (named node2) with 3 drives. They originally were on  sda/sdb/sdc This is a CoreOS/containerlinux booted node without any persistent storage. I previously tested that (pre-0.8) that OSD pods came up perfectly fine when that node was rebooted.

Today I wanted to insert another drive to provide persistent storage for rook/ceph. This is primarly for the MON data to

[2018-08-16 15:34] davidhiendl commented on #1507
@lorenz Thanks for the info.

So basically there is currently no way with a Ceph cluster managed by Rook to make a single-instance application failover to an other node when using rbd, right? This is a huge problem for us and for many other people I think. Unfortunately some legacy applications simply don't scale horizontally or support failover ...

As far as I understand it this problem does not

[2018-08-16 15:36] travisn commented on #2033
@sdnetwork was the filesystem previous created before you created the filesystem crd? See this log statement:
[code]
I believe the invalid argument error happens if it already exists.

[2018-08-16 16:26] lorenz commented on #1507
@davidhiendl I totally agree with you that this is a fairly substantial issue (for the same reasons you mentioned). I'm going to write my thoughts down on how I think this could work (take this with a grain of salt, I have a fair bit of experience with distributed systems but I'm not part of Rook or Ceph).

The following cases need to be considered:
1. Node blows up (Triple-fault, Kernel Panic, CP

[2018-08-16 16:38] sdnetwork commented on #2033
thx, i have do that

    ceph osd crush rule rm myfs-data0

and restart operator and it works !!

[2018-08-16 17:12] liewegas commented on #1342
Maybe a combination of

- map /var/lib/rook/... to /var/lib/ceph in the container so that the "standard" paths are always presented to ceph tools and daemons
- add a ceph-volume option to skip the tmpfs mount and instead just write the files to the correct location.  the fact that we're inside a container serves essentially the same purpose the tmpfs did

[2018-08-16 17:15] rohan47 opened #2036 "Validate accessibility permissions for NFS volumes"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently, the Rook NFS operator has no validation for `exports.server.accessMode` parameter.
This feature should validate `ReadWrite`, `ReadOnly` and `none` options as mentioned in the [NFS CRD design](https://github.com/rook/rook/blob/master/design/nfs.md#nfs-crd) as the supported parameters and shoul

[2018-08-16 17:17] lbogdan commented on #1342
All ceph tools and daemons (except `ceph-volume`) take the path as an argument, so this is not really an issue,

This would be nice, but not a hard requirement; as I was saying above, we can just copy the files from where `ceph-volume` writes them to where we need them after preparing.

[2018-08-16 17:20] rohan47 opened #2037 "Validate squash option specified in the resource definition for NFS server"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently, the Rook NFS operator does't have code to validate the squash option specified in the resource definition.
This feature should add code to validate `none`, `rootId`, `root` and `all` as squash options as mentioned in the [NFS CRD design](https://github.com/rook/rook/blob/master/design/nfs.md#

[2018-08-16 17:33] rohan47 opened #2038 "Integration test to check the support for more than one export in NFS server."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The Rook NFS operator supports multiple exports per NFS server.
This feature should add integration tests to verify the support for more than one export per NFS server as per [NFS CRD design](https://github.com/rook/rook/blob/master/design/nfs.md#nfs-crd)

**What is use case behind this feature:**
This

[2018-08-16 17:53] liewegas commented on #1342
On Thu, 16 Aug 2018, Bogdan Luca wrote:

It's an issue for ceph-volume, though, and using default paths will simplify usage for the ceph tools, and avoid the possibility of a path dependency we just haven't noticed yet or one that is newly introduced in the future.

Is there a reason *not* to map to the standard location?

[2018-08-16 18:02] lbogdan commented on #1342
I guess it depends on what you mean by *map*.

[2018-08-16 18:12] liewegas commented on #1342
I'm probably using the wrong words.. I'm talking about a bind mount from /var/lib/rook/ceph/$cluster (or whatever it is) on the host to /var/lib/ceph inside the container.  I forget what docker and/or kubernetes call that :)

[2018-08-16 18:16] BlaineEXE commented on #2031
I collected some preliminary requirements from Lars Marowsky-Bree:

- Must be able to restrict Pod access to the interface(s) used for the overlay network
- Must be able to give pods access to a subset of up to 3 separate networks configurable depending on the pod's role:
   1. 'cluster' network for OSD replication traffic
   2. 'public' network for RGW / MDS / MON <-> OSD communication
   3. 'con

[2018-08-16 18:39] mailtoraja18 opened #2039 "Warning FailedMount MountVolume.SetUp failed for volume"
Hello , I setup rook on aws kops cluster with local persistance. Get the below issue when i try to mount the pv claim to an image.

Warning  FailedMount            18s (x14 over 12m)  kubelet, ip-172-20-39-84.ec2.internal  MountVolume.SetUp failed for volume "pvc-33b41077-a17e-11e8-a060-0ef229784bb2" : mount command failed, status: Failure, reason: failed to mount volume /dev/rbd1 [xfs] to /var/li

[2018-08-16 19:07] lbogdan commented on #2039
Check if you have a `rook-ceph-agent-xxx` (in the `rook-ceph-system` namespace) running on the node on which the pod trying to mount the PVC is scheduled, and look at its logs for more info on why the mount failed.

[2018-08-16 19:26] lbogdan commented on #2039
Looks like it can't format it on first use, you need `mkfs.xfs` (it's in the package `xfsprogs` in Ubuntu) on all nodes you want to mount rook-ceph PVCs.

[2018-08-16 19:50] mailtoraja18 commented on #2039
Installed xfsprogs on the nodes and now the pods are running fine. Thanks

[2018-08-16 19:54] lbogdan commented on #2039
Nice!

I'm gonna close this, if you have further issues also take a look at the [Common Issues](https://rook.io/docs/rook/v0.8/common-issues.html) section of the documentation.

[2018-08-16 19:54] #2039 closed

[2018-08-16 23:11] travisn opened #2040 "Update K8s minimum version supported by Rook from 1.7 to 1.8"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Given the dwindling user base on 1.7 especially in the timeframe that Rook 0.9 would be released, there is not a compelling reason to keep supporting 1.7. There is some support/dev cost to maintaining each release. As an example, #1995 would require test code to workaround a feature that is not availabl

[2018-08-16 23:27] bassam commented on #2040
what version of Kubernetes do OpenShift support?

[2018-08-17 00:45] dimm0 opened #2041 "After upgrade the cluster CRD still exists"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrading from 0.7.1 to 0.8.1, I see:

[code]

**Expected behavior:**
[code]

**Environment**:
* Cloud provider or hardware configuration:
kubeadm, baremetal
* Kubernetes version (use `kubectl version`):
0.11.2

[2018-08-17 00:50] dimm0 opened #2042 "BeeGFS support?"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Did you think about adding the support for external BeeGFS cluster as a Persistent Volume?

**What is use case behind this feature:**
Attach to existing BeeGFS clusters

[2018-08-17 01:26] jbw976 commented on #2042
hi @dimm0, what would be needed here for the support that you envision? You said external BeeGFS cluster, so would Rook not be involved in the orchestration/deployment of that cluster at all?  Are you looking for the dynamic provisioning and attaching/detaching parts?

[2018-08-17 01:28] dimm0 opened #2043 "Operator not happy after upgrade"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When restarted, operator checks all OSDs are running, but at some point fails with:

[code]

After this it keeps printing this message about channel closed.

**Expected behavior:**
Operator function normally after the upgrade 0.7.1->0.8.1

**Environment**:
* OS (e.g. from /etc/os-release):
CentOS 7.5
*

[2018-08-17 01:29] jbw976 commented on #2041
As per https://rook.io/docs/rook/v0.8/upgrade.html#legacy-custom-resource-definitions-crds, the operator should have migrated and cleaned up the legacy `clusters.rook.io` instances.  Do you have your operator logs to see what might be happening?

[2018-08-17 01:36] dimm0 commented on #2043
Related to https://github.com/rook/rook/issues/1544

[2018-08-17 02:55] dimm0 commented on #2041
Could be related to https://github.com/rook/rook/issues/2043

[2018-08-17 02:57] dimm0 commented on #2041
[op.logs.gz](https://github.com/rook/rook/files/2295824/op.logs.gz)

[2018-08-17 03:01] dimm0 commented on #2042
Right, currently I'm looking for a way to attach an external BeeGFS storage to the pods, and the problem is that BeeGFS requires clients to have UDP ports open from outside. So seems like it would require writing some CSI plugins, installing kernel modules, etc, all what you currently have for ceph.

Creating a BeeGFS cluster inside kubernetes is another cool option, and we'll find a use for it as

[2018-08-17 03:03] dimm0 commented on #2042
I'm trying to figure how to make this possible: https://www.beegfs.io/wiki/NetworkTuning#hn_59ca4f8bbb_4

Also I've found a docker BeeGFS volume implementation: https://github.com/RedCoolBeans/docker-volume-beegfs

[2018-08-17 05:25] travisn commented on #2043
What does the operator log show after upgrade? There is or isn't an error now?

[2018-08-17 05:43] dimm0 commented on #2043
[code]

5-7 times per second

[2018-08-17 07:52] MartinForReal opened #2044 "support glusterfs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
rook operator can provision glusterfs cluster on k8s
**What is use case behind this feature:**
glusterfs consumes less resource(cpu memory) but still takes time to manage a cluster
**Environment**:
on k8s environment.

[2018-08-17 07:54] ksingh7 opened #2045 "Rook operator unable to launch second and third MON pods on OpenShift Infrastructure"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After following step by step instructions from [here](https://rook.io/docs/rook/v0.8/openshift.html) and [here](https://rook.io/docs/rook/v0.8/ceph-quickstart.html). I am unable to get Rook Ceph cluster up and running on top of OpenShift cluster. Rook operator unable to launch second and third MON pods

[2018-08-17 07:56] ksingh7 commented on #2045
- Rook Operator Logs
[code]

[2018-08-17 08:00] ksingh7 commented on #2045
I am recreating my openshift cluster (from scratch), it seems like OpenShift SDN networking across the  rook namespaces need to be fixed. I will try that soon and update my findings here.

[2018-08-17 09:25] lbogdan commented on #2034
Afaik, rook needs `/var/lib/rook` to be persistent on the OSD nodes, hence the error `[...] failed to open /var/lib/rook/osd0/block: (2) No such file or directory`. I think what happened is editing the operator led to the operator restarting, which in turn led to running the OSD prepare job, which recovered the *lost* OSD dirs in `/var/lib/rook/osdID`.

[2018-08-17 09:41] jansmets commented on #2034
but if /block{.wal,.db} is missing it can look at it's ceph-config in the osd directory, or at the cluster cm, (rook-ceph-osd-<xyz>-config).
All the info is there, so I don't see the requirement for persistent storage for OSD's.

[2018-08-17 10:04] lbogdan commented on #2034
That's how it works now - when an OSD starts, the init container only (re)generates `/var/lib/rook/osdID/rook-ceph.config` (and copies it to `/etc/ceph/ceph.conf`), although you're right, it has all the info to regenerate **all** required files in `/var/lib/rook/osdID`, if they are missing. Maybe open a feature request issue?

[2018-08-17 10:06] ksingh7 opened #2046 "Rook Monitoring : Prometheus operator failed : Unhandled error received. Exiting"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
By following Rook monitoring documentation https://rook.io/docs/rook/v0.8/monitoring.html

**Expected behavior:**

Should able to create prometheus operator

**How to reproduce it (minimal and precise):**

Follow the documentation https://rook.io/docs/rook/v0.8/monitoring.html

``kubectl apply -f https

[2018-08-17 10:07] ksingh7 commented on #2046
- **Logs**

[code]

[2018-08-17 12:16] rclsilver opened #2047 "LVM devices aren't picked up"
**Bug Report**
LVM devices aren't picked up by monitor.

Discovering logs: [discover.txt](https://github.com/rook/rook/files/2297148/discover.txt)

[code]

**Expected behavior:**
LVM devices added.

**How to reproduce it (minimal and precise):**
[code]

**Environment**:
* OS (e.g. from /etc/os-release):
[code]

* Kernel (e.g. `uname -a`):
```Linux proliant.chatillon.mydomain.net 3.10.0-862.11.6.el

[2018-08-17 21:01] jbw976 opened #2049 "Remove support for quay.io"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:** Remove support for quay.io, the Rook container images will only be published to docker hub going forward.

**What is use case behind this feature:** There is no real use case for the Rook container images being published on quay.io anymore, all manifests are pulling from docker hub.  Maintaining the sup

[2018-08-17 21:09] jbw976 commented on #2044
+1, I would love to see support for Gluster in Rook as well! There has been discussion in the past about this and I know there was some enthusiasm and demand.  Adding the "help wanted" label to hopefully get an owner for this.

[2018-08-17 21:59] cheethoe commented on #1963
@fjudith I implemented it in my setup by using the rook toolbox as a sidecar to provide the ceph.conf
https://gist.github.com/cheethoe/40b1f2d783a7a0b84e8891dccf8b6478
Then you just have to point a prometheus servicemonitor at the service in that gist and you have yourself a working grafana dashboard.

[2018-08-18 00:30] dimm0 commented on #2043
With Alexander Trost's debugging in the operator:

[code]

[2018-08-18 01:33] #2049 closed

[2018-08-18 03:51] MartinForReal commented on #2044
I would like to write a draft for crd definition.

[2018-08-18 06:04] travisn commented on #2044
@MartinForReal great to hear of your interest in this. Before you go too far, @JohnStrunk and @jarrpa have been working on an operator and crd for gluster and we have been discussing integration with Rook.

[2018-08-18 07:43] galexrt commented on #2043
Some more logs with the second debug output: https://gist.github.com/galexrt/1c918e0123f6c382aa1bb414c97a7644

[2018-08-18 22:37] jbw976 commented on #1440
I made a big pass at updating the compliance status for the majority of items, we are at 80% now (up from ~18%).  PR #2051 adds the badge to the main README.  There are a few bigger outstanding areas that we will still need to address:

* Security disclosure process
  * The project MUST publish the process for reporting vulnerabilities on the project site.
  * If private vulnerability reports are

[2018-08-19 14:57] farhaanbukhsh commented on #1810
Hey @jbw976 I have been lurking around in the slack channel 😄 I am trying to setup rook and really interested to learn and implement this feature a little guidance would be really appreciated. Thanks a lot in advance.

P.S: I have asked my doubt about setting up rook in the slack channel

[2018-08-20 02:41] MartinForReal commented on #2044
I don't find any document or discussion for record. Could you please share your idea with me? @Johnstruct @jarrpa Thank you!

[2018-08-20 12:33] gtcno commented on #2005
Would a simple nodeSelector environment variable for agents and discovery be enough?
Together with the toleration environment variable you can cover the following usecases:

- Run on all nodes: no tolerations/annotaitions
- Run on dedicated nodes: label the nodes and set nodeSelector on the daemonset
- Run on on isolated, dedicated nodes(no other workloads are allowed on the nodes:  set label and

[2018-08-20 13:42] caniszczyk commented on #1440
For the security disclosure process, I recommend taking a look at the process in Envoy:
https://github.com/envoyproxy/envoy#security

For dynamic code analysis, there are a variety of options out there, from https://goreportcard.com to code climate etc :)

[2018-08-20 14:28] tujian commented on #2019
After reading some source code, I think the `SetVolumeOwnership` operation is the cause of the mount timeout.

[`SetVolumeOwnership`](https://github.com/kubernetes/kubernetes/blob/e9e190c57c61a88a2ba96c4b0688b8eb3a8945a8/pkg/volume/volume_linux.go#L38) is called in [`mounter.go#L96`](https://github.com/kubernetes/kubernetes/blob/7d716e4e910d8780c0a3b745d637cb63b8169d00/pkg/volume/flexvolume/mounte

[2018-08-20 14:40] tujian commented on #2019
As stated in [bug#1515907](https://bugzilla.redhat.com/show_bug.cgi?id=1515907), this is a known issue with no workaround known yet.

It would be helpful to add this edge case to the document somewhere.

I am closing this issue now. Feel free to reopen it if there is any update in the upstream.

[2018-08-20 14:40] #2019 closed

[2018-08-20 16:26] paalkr opened #2053 "Proper cleanup after lost nodes/OSDs"
* Bug Report

**Deviation from expected behavior:**
Configmaps and deployments related to terminated k8s nodes are left dangling, and OSDs are not taken out of the ceph cluster.

**Expected behavior:**
I would expect that configmaps and deployments for deleted/terminated/missing nodes to be removed by the operator.

**How to reproduce it (minimal and precise):**
Create a multi node K8s cluster, an

[2018-08-20 19:48] zieg8301 commented on #1583
I've got a standalone controller working with similar functionality to this. I'll see if I can integrate it with the existing ceph operator successfully and may be able to get a PR opened if I can tweak mine to offer the behavior laid out above.

[2018-08-20 23:05] jbw976 commented on #2043
Does the channel get closed right away after the operator pod starts up, or does it take ~30 minutes?  If it takes a while for this channel close to happen, it could be related to:
https://github.com/rook/rook/issues/1195#issuecomment-347711772
https://github.com/kubernetes/client-go/issues/334

[2018-08-20 23:38] dimm0 commented on #2043
It takes a while, around 20 mins

[2018-08-20 23:39] dimm0 commented on #2043
So.. What should I do?

[2018-08-20 23:55] dimm0 commented on #2041
Found this in controller logs:

`E0820 23:53:31.577505       1 garbagecollector.go:617] removeOrphanFinalizer for [v1alpha1/Cluster, namespace: rook, name: rook, uid: 4dd7a505-3913-11e8-96aa-0cc47a6be994] failed with cannot finalize owner [v1alpha1/Cluster, namespace: rook, name: rook, uid: 4dd7a505-3913-11e8-96aa-0cc47a6be994], because cannot get it: unable to get REST mapping for v1alpha1/Cluste

[2018-08-21 14:14] it-monkey commented on #1850
@HighwayofLife, if not already answered. I guess it was meant that you will need to add the binding for /dev. So you can see /dev of your host inside the kubelet container.

Verfiy with the following command on one of your hosts:
`docker inspect nameorcodeofyourkubelet`

there should be a mount similiar to this:
`{
                "Type": "bind",
                "Source": "/dev",
                "

[2018-08-21 14:44] leseb commented on #1944
With `ceph-volume` there is the dm aspect too, and I believe bindmounting `/dev/` is mandatory.

[2018-08-21 15:14] travisn commented on #1583
@zieg8301 It will be great to see your implementation integrated with Rook. If you have other design suggestions, my thoughts above certainly are open for discussion. Thanks!

[2018-08-21 16:19] zieg8301 commented on #1583
I've used a lot of the above for inspiration, and am on the same page. The only piece I'm not 100% certain on is the namespace placement of the objectstoreuser object/secret. In our use case we only have one rook-ceph cluster running in the k8s cluster, and multiple app teams with their own namespaces.

My standalone controller currently has the user create the objectstoreuser in their own namespa

[2018-08-21 18:19] travisn commented on #1583
@zieg8301 i'm struggling with that question too. An object store user really is something that belongs to a consumer and you likely want to create a different user for each namespace that is consuming the storage. If we followed the pattern for other k8s storage, it's as if the admin should create an "object store storageclass" that allows an object store user to be created, then an "object store

[2018-08-22 03:42] Tee0125 opened #2057 "Performance tuning issue"
Hi, we tried rook to make a elastic filesystem cluster w/ ceph, and deployed to 5 nodes.

Setup was done easily, but we met performance issue. When check performance with dd, write speed is too slow (20MB/s). Since IO load and cpu load were not high while testing, I think the reason of low performance is not on cpu or disk. (when checking hdd performance at bare metal 130MB/s was measured)

How ca

[2018-08-22 04:28] jbw976 commented on #2040
The latest Openshift Origin 3.10 and Openshift Container Platform 3.10 use Kubernetes 1.10 according to the [Openshift docs](https://docs.openshift.com/container-platform/3.10/architecture/infrastructure_components/kubernetes_infrastructure.html#overview).

Openshift 3.7, which was [released Nov 2017](https://github.com/openshift/origin/releases/tag/v3.7.0), uses [Kubernetes 1.7](https://docs.open

[2018-08-22 08:25] voron commented on #2047
It looks like a missing `sys.LVMType` in [disk.go#L79](https://github.com/rook/rook/blob/1e8ff26a52cf15dad227575d5e8889ce318551e1/pkg/clusterd/disk.go#L79) to me

[2018-08-22 09:03] #1733 closed

[2018-08-22 10:45] galexrt commented on #2033
@travisn Seems that the operator is either a) not cleaning up the crush rule (on deletion) or b) tries to create it even though it exists.

[2018-08-22 10:47] galexrt commented on #2045
@ksingh7 As I understand this is needed when `NetworkSecurityPolicy` are used, right?
Please go ahead and send a PR to add this to the documentation.

[2018-08-22 10:51] galexrt commented on #2057
@Tee0125 Could you please give us more context and info.
What hardware/virtualization are you using?
What `dd` command did you use?
How fast is the Network speed between nodes `netperf`?

Please provide these and more information about the tests and test environment.

[2018-08-22 10:54] galexrt commented on #2046
For help with the Prometheus operator, please refer to the https://github.com/coreos/prometheus-operator project.

As @cheethoe it is better to use the latest manifest or Helm chart from the prometheus-operator project.

[2018-08-22 12:13] rohan47 commented on #2044
I came across this old google doc. Not sure if this is still being considered. https://docs.google.com/document/d/13-xsk0DazYCWrsgXqnEEOYMbiqQJxL1GV6dWTpqGvwM/edit#heading=h.sp44z9itvyja

[2018-08-22 13:39] patrickstjohn commented on #2043
This is happening to us as well (rook v0.8.1). We're trying from a clean installation however. We have tried RHEL kernels 4.4, 4.17, 4.18 in order to try and diagnose it. Here are the operator logs when this happens. It's after osd-prepare and during osd provision by the operator:

[code]
The last two lines then repeat forever and we don't get any further in cluster deployment.

We have had some s

[2018-08-22 14:57] patrickstjohn commented on #2043
On operator restart we get down to the point in the process where this happens and this it repeats forever.

[code]

[2018-08-22 16:00] ksingh7 commented on #2045
@galexrt Thanks, i will

[2018-08-22 16:14] rootfs commented on #2043
@patrickstjohn do you happen to have k8s api server logs?

[2018-08-22 16:56] patrickstjohn commented on #2043
@rootfs We backed down to v0.7.1 for the large cluster for now. We're getting one of our dev clusters back online. I'll deploy v0.8.1 and try to reproduce. When I do that what specifically would you like to see?

[2018-08-22 17:04] rootfs commented on #2043
@patrickstjohn just a hunch, the api server may give us ideas why the configmap channels closed. In the end that's what api server does. If you can grep the logs and look for keywords like configmap, status, etc, that'll give some idea.

btw, what's your k8s version?

[2018-08-22 17:14] patrickstjohn commented on #2043
@rootfs We're on 1.11.2. I was able to track down the api logs from some of our previous runs. There seems to be a fair bit of this:

[code]
And a fair bit of this:
[code]

The only errors related to configmaps I'm seeing are these:
[code]

[2018-08-22 19:50] dimm0 commented on #2043
I've checked apiserver logs and didn't find anything interesting related to this

[2018-08-22 19:51] dimm0 commented on #2043
I'm on 1.11.2 as well. Have you tested rook on that version?

[2018-08-22 21:29] jbw976 opened #2062 "Dynamic provisioning for NFS storage"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:** Currently, the NFS support in Rook requires the user to statically provision a PersistentVolume to represent the NFS volume that will be consumed by a pod.  The user has to look up the IP address of the NFS pod, copy/paste it into a PV declaration, etc., which is a cumbersome experience.  This could be

[2018-08-22 21:37] #1551 closed

[2018-08-23 06:31] trevex commented on #1501
We also ran into the same issue on our 1.11.2 test cluster. Same symptoms as described in this issue and restarting the kubelet on the affected node helped.

@laevilgenius I noticed you fixed https://github.com/kubernetes/kubernetes/issues/60694 locally. Can you confirm this is indeed the root cause?

[2018-08-23 13:46] Queuecumber commented on #779
I was actually able to make this work without a zvol by including the following configmap in the manifest for my cluster:

[code]

This disables the journal direct write. I don't know if this is a bad idea though

[2018-08-23 14:12] sinqinc commented on #1553
Yesterday i got that issue with an rbd volume with a lot of small files. If the pod Is rescheduled docker completly freeze and the node become « unavailable » for minutes and then the  volume got formated . It happen every Time with only that volume. It’s a 300gb volume filled with ~50k files

[2018-08-23 14:36] sinqinc commented on #1553
@christianhuening 0.8.1

4 Nodes
CoresOS (stable channel)
Rancher 2.0.7

`cluster:
    id:     8157e138-3969-4fbb-bed3-6a74c77432c6
    health: HEALTH_OK

  services:
    mon: 3 daemons, quorum rook-ceph-mon15,rook-ceph-mon17,rook-ceph-mon11
    mgr: a(active)
    mds: share-1/1/1 up  {0=share-564b7c4664-jprdn=up:active}, 1 up:standby-replay
    osd: 16 osds: 16 up, 16 in

  data:
    pools:   4 p

[2018-08-23 15:07] jbw976 commented on #1744
I think this still has value

[2018-08-23 15:30] BlaineEXE commented on #1385
@rootfs Do you have some information you could provide here for me to get started looking into what kind of efforts it would require for us to help out with this?

[2018-08-23 15:58] BlaineEXE commented on #1942
@galexrt Yes. I'll take it.

[2018-08-23 16:04] obnoxxx commented on #2044
Nice to see some interest here! Let's get discussing about possible approaches and designs, etc.

@rohan47 writes:

Well, there are certainly several good starting points in that doc. One of the main problems originally, were (imho) that there were a couple of misconceptions or just lack of context, where we want to move with gluster. My main point of criticism for the originial document was that

[2018-08-23 16:04] BlaineEXE commented on #1368
I was actually thinking about this yesterday as I was working on https://github.com/rook/rook/pull/2048. I like the idea of changing the internal config dir to the default(s) and making sure multiple clusters can coexist safely.

[2018-08-23 16:09] bassam commented on #2044
@obnoxxx the document predates glusterD2 and I agree that we should explore using glusterd2. One question that came up with the use of heketi was it's need for a backing store for it's own config. Does glusterd2 require a backing store for config too?

[2018-08-23 16:56] obnoxxx commented on #2044
@bassam writes:

Is the document more than 3 years old? (glusterd2 was started in 2015. ;-) )

But glusterd2 was not in a product then, and it is not yet. It will take some time until it is. It just made it into upstream gluster 4.0 as a tech perview feature, so yeah, in that sense glusterd2 is now more there than it was before.

Well, we can change almost antyhing. But heketi needs to store some

[2018-08-23 19:09] zieg8301 commented on #1583
@travisn I've got some working code in the project, the image builds just fine (integration tests and secret extraction have yet to be implemented), however once I launch the operator in our k8s cluster, I get the following error:

`E0823 19:07:51.448877       7 reflector.go:205] github.com/rook/rook/vendor/github.com/rook/operator-kit/watcher.go:76: Failed to list *v1beta1.ObjectStoreUser: no kin

[2018-08-23 19:53] travisn opened #2064 "Installing multiple Rook flex drivers fails sometimes due to race condition"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook currently installs flex drivers under four different names for backward compatibility reasons: ceph.rook.io/<namespace>, ceph.rook.io/rook, rook.io/<namespace>, and rook.io/rook. Only the first one is expected to be used going forward, but the others are installed in case PVCs are still referencin

[2018-08-23 20:34] cushingw opened #2065 "Object store instance fails to initialize: invalid character '-' after top-level value"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The object store fails to come up properly. All of the pools are created, but the pods never spin up. This appears to be the same error reported in issue #1338.

![screenshot from 2018-08-23 16-19-00](https://user-images.githubusercontent.com/668880/44550005-dfafc380-a6f0-11e8-883d-6e5a180d8c9d.png)

!

[2018-08-23 20:40] travisn opened #2066 "Integration tests sometimes hang during init with kubeadm.sh script"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The integration tests are failing frequently in the last day getting stuck during
[code]

For example, see [this build](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-2029/10/pipeline/47).

A [healthy build](https://jenkins.rook.io/blue/rest/organizations/jenkins/pipelines/roo

[2018-08-23 21:19] yanchicago opened #2067 "The discover and cep-agent pods can't be installed based on nodeSelector and tolerations configuration."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The discover and ceph-agent pods can only be installed on the worker nodes.
**Expected behavior:**
The discover and ceph-agent pods can be installed based on nodeSelector and tolerations configuration as operator pod.

**How to reproduce it (minimal and precise):**

1. Have a k8s cluster with below nod

[2018-08-23 23:58] laevilgenius commented on #1501
@trevex I'm not 100% positive, but I've never had this issue ever since. Didn't notice any side effects as well.

[2018-08-24 05:03] travisn commented on #2066
This issue does not appear to happen if the Jenkins build was triggered when there are no other builds running. If there is another build already running, the second build seems to fail consistently with this error. I wonder if the second build is not getting its own fresh GCE instance.

[2018-08-24 05:54] ksingh7 commented on #2057
@Tee0125
- By elastic filesystem cluster w/ Ceph, you mean CephFS share mounted to PODs ?
- How many OSDs ? Does the OSDs have SSD media for bluestore db/wal ?
- ``dd`` is single threaded, can you try using ``fio`` with multi-threads say 8 or 16 threads. Also while running test keep an eye on the `` ceph -s`` and look for any warnings there if there are any

[2018-08-24 15:18] cushingw commented on #2065
On the off chance that it was getting hung up on the dash in the object store name, I tried creating it with a different name. Same error occurs.
[code]

[code]

[2018-08-24 15:26] travisn commented on #2065
Have you changed the logging levels? That actually looks like it could be the cause. Rook has several places like this where we don't handle the debug logging, unfortunately.

[2018-08-24 16:04] cushingw commented on #2065
Here's the output of ```radosgw-admin realm get```

[code]

I'm trying to figure out how to disable the debug logging and will rebuild the store.

[2018-08-24 16:18] travisn commented on #2065
after you disable the debug logging, restarting the operator pod should pick up the new logging settings and also attempt again to create the object store.

[2018-08-24 16:35] lbogdan commented on #2065
I think that debugging output is on `stderr`, and the actual JSON output is on `stdout` (at least that's how it should be, @cushingw can confirm). From what I see, `runAdminCommand()` uses `ExecuteCommandWithCombinedOutput()`, is there any reason for that?

[2018-08-24 16:41] cushingw commented on #2065
Yup, changing the log level from DEBUG to INFO allowed the object store pods to spin up correctly. Thanks!

[2018-08-24 16:41] #2065 closed

[2018-08-24 16:43] lbogdan commented on #2065
@cushingw Out of curiosity, can you run `radosgw-admin realm get 2>/dev/null` with debugging turned on?

[2018-08-24 16:48] cushingw commented on #2065
Sure, here you go:

[code]

[2018-08-24 16:51] cushingw commented on #2065
Sure thing...
[code]

[2018-08-24 18:27] #1588 closed

[2018-08-24 19:30] travisn commented on #2064
Looks like others have actually hit this besides the integration tests. See #1501

[2018-08-24 19:41] yanchicago commented on #2067
With further testing, the main issue is that the "node-selectors" can be configured for both rook-ceph-agent and rook-discover pods.

So the request is similar to the existing issue #2005

[2018-08-24 20:57] #2064 closed

[2018-08-24 23:38] #1942 closed

[2018-08-25 07:14] MartinForReal commented on #2020
Thanks!

[2018-08-25 07:14] #2020 closed

[2018-08-26 16:54] MartinForReal commented on #2044
I think this internal storage makes it harder for storage controller (heketi in this case) to achieve HA
I've opened https://github.com/heketi/heketi/issues/1333 #

[2018-08-27 15:18] cwolfinger opened #2072 "Rook Operator Exits Creating PVC"
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**
Rook operator exits in creation of PVC and then enters loop of unable to create PVC.
**Expected behavior:**
PVC created properly.
**How to reproduce it (minimal and precise):**
Create numerous PVC (>5) at the same time (in a single kubectl apply) on a rook cluster
**Environment**:
* OS (e.g. from /etc/os

[2018-08-27 15:40] obnoxxx commented on #2044
@MartinForReal writes:

Well first of all, heketi is not a storage controller in the more narrow kubernetes sense, but it is a component of core gluster which in this case runs inside kubernetes. :-)

Can you be more specific how this makes it more difficult to achieve HA?

We currently have two (kind of hacky) ways to achieve HA, both based on where to store that internal state:
1. store the db o

[2018-08-27 16:07] deflax opened #2073 "sys: non-rook partition in rook-ceph-osd-prepare after reattaching failed nodes"
**Is this a bug report or feature request?**
* Bug Report

I was trying to delete two nodes using kubectl delete node <name> from my 5 node k8s cluster and then i've re-added the same machines and i was expecting that rook-ceph-osd-prepare witll find my existing partitions as OSD's and place them back in the cluster. If I did a simple reboot i wouldnt have any issues as the osds are back as they s

[2018-08-27 16:46] jbw976 opened #2074 "minikube 0.28+ VM dies after installing wordpress/mysql"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** After installing mysql/wordpress, the wordpress site should be functional and accessible.  Instead, the entire minikube VM dies and things like `minikube ssh` and `minikube ip` just hang.  `kubectl` commands hang as well.

**Expected behavior:** Minikube to be functional after wordpress/mysql are insta

[2018-08-27 17:08] rohan47 commented on #2074
I faced this issue but after restarting minikube it worked fine

[2018-08-28 01:27] zmlcc commented on #2005
@arm64b   It seems so

[2018-08-28 14:01] travisn commented on #1501
Let's consider backporting #2068 to 0.8 to resolve this issue

[2018-08-28 14:15] trevex commented on #1501
As previously reported in slack, the PR #2068 fixes this issue for us. Since deploying the image containing the PR every node in the cluster went through multiple restarts and the issue did not reappear.

Previously a manual kubelet restart (or multiple) where necessary to get the volume plugin to load.

[2018-08-28 15:08] jbw976 commented on #1501
Thank you very much for that validation @trevex.  We will discuss backporting the fix to 0.8 today in the community meeting :)

[2018-08-28 15:21] galexrt commented on #1478
Closing as written in https://github.com/rook/rook/pull/2061#issuecomment-416628159.

[2018-08-28 15:21] #1478 closed

[2018-08-28 16:16] jbw976 commented on #1553
We need to reproduce this behavior, potentially following the scenario described in https://github.com/rook/rook/issues/1553#issuecomment-415428583:

[2018-08-28 16:19] jbw976 commented on #2043
I will take a look into this soon, sorry for the hassles you've seen @dimm0

[2018-08-28 17:36] jbw976 commented on #1583
@zieg8301 i sent you an invite to the rook organization so that we can assign this issue to you, since you have started the implementation with #2076

[2018-08-28 18:30] #2040 closed

[2018-08-28 19:01] zieg8301 commented on #1583
With the PR opened, I've assigned this task to myself. Open to any feedback on #2076

Currently I've only coded actions in the operator for create/delete events. Once more specs have been added, such as the ones referenced by @dgonzalezruiz above, update event handling would likely need to be added as well. Not sure if that is worth holding the initial release for or not.

[2018-08-28 20:56] liewegas opened #2078 "ceph: expose hostname of hosts (not container names) for benefit of dashboard, crush hierarchy, etc."
If you look at the host/daemons view on the dashboard, every daemon is on its own "host" (with the hostname matching the pod name).  This isn't the reality of the cluster; the user (as least this user!) expects to see what physical hosts the daemons are on.

Similarly, this is what is used to populate the crush hierarchy, which *does* need to map to the physical hardware in order to be useful.

**

[2018-08-28 21:04] liewegas commented on #2078
This might be a pure ceph issue: perhasp teh collect_metadata method the daemons use should be extracting the (physical) host name from the environment and passing the container/pod name via a different metadata field?

[2018-08-28 21:49] #1706 closed

[2018-08-28 22:08] jbw976 commented on #1501
I think with the combination of only probing for the specific plugin that a filesystem event was raised for (https://github.com/kubernetes/kubernetes/pull/58519/files) and bailing out on the first plugin loading failure (https://github.com/kubernetes/kubernetes/issues/60694) is causing this behavior to happen more for us now, even with some sleeps we added.

It looks like the plugin discovery/prob

[2018-08-28 22:41] dimm0 commented on #2043
Ok, looking forward to! So many plans to do with storage now

[2018-08-29 02:43] MartinForReal commented on #2044
heketi use boltdb to store metadata (such as cluster info, node info, device list and bricks list). And boltdb can't be opened by two or more process at the same time. So we can't use share db pattern ( which is not a good way to achieve ha).

[2018-08-29 05:46] travisn commented on #1501
Before we add another workaround I'd like to see if we can get traction on the upstream issue (which I just commented on) so the full fix would hopefully make it in soon. Otherwise, it does sound promising to write the dummy file, although it still seem like we could have a timing issue around when to write that file. Thanks for looking more into it.

[2018-08-29 12:10] scher200 opened #2079 "allow ObjectStore -> sslCertificateRef with standard kubernetes.io/tls certificates"
Allow ObjectStore -> sslCertificateRef to use cert-manager genereated certificates.
Right now the certificate looks like:
[code]
according to the docs it only eats combined pem certificates.

It would be awesome it would directly convert or eat those standardly generated acme cert-manager certificates. Because we have loads of them freely.

[2018-08-29 12:48] liewegas commented on #2078
Can we pass these values into the pod environment?
[code]
The ceph daemons can then pick that up to fully understand their environment and include that in the daemon metadata...

[2018-08-29 13:13] liewegas commented on #2078
See https://github.com/ceph/ceph/pull/23798/files

[2018-08-29 14:46] travisn commented on #2078
Great, we can certainly pass the `NODE_NAME` env var as you mentioned. We are already passing it to some containers as `ROOK_NODE_NAME`, but we can certainly change the variable to `NODE_NAME` for the daemons to consume.

[2018-08-29 15:01] travisn commented on #2078
With the change in #2003 to use init containers, that would be a good time to also set these variables on the daemon containers.

[2018-08-29 16:45] jbw976 commented on #2043
@dimm0 @patrickstjohn i'm digging into this now and the following information could help:
* full k8s api server logs so i can sift through those myself fully (upload in a https://gist.github.com/)
* rook-ceph-operator pod logs for the same time period, so we can correlate timestamps easier

I'm trying to think of some code workarounds and/or logging that I can add on the Rook side, I may have a de

[2018-08-29 17:14] Queuecumber commented on #2079
cert-manager is actually just using a standard kubernetes tls secret (type `kubernetes.io/tls`) so definitely Rook should be using the standard kubernetes over anything else.

[2018-08-29 17:25] Queuecumber commented on #1827
This is good for a single OSD, but what about if I want to migrate *all* the OSDs. In other words, assume for arguments sake that I have a single node cluster, and I want to completely reprovision it (OS upgrade, change distro, something like that). How can I bring the OSD disks back up on the new fresh cluster without losing data (e.g. I have a cephfs and some RBDs that cannot be lost during this

[2018-08-29 19:30] travisn commented on #2078
@liewegas Yes, agreed on the variables. To be clear, as part of #2003 we should plan on setting `NODE_NAME`, `POD_NAME`, and `POD_NAMESPACE` on each of the daemon pods.

[2018-08-29 19:36] travisn commented on #1827
@Queuecumber It sounds like what you want is #1653. The idea is certainly that you could restore a cluster from what is on disk even though all K8s metadata is lost.

[2018-08-29 19:43] Queuecumber commented on #1827
Yeah that sounds right thanks

[2018-08-29 19:45] Queuecumber commented on #1653
@travisn  It's extremely important for me to be able to bring a cluster up and down at a whim without losing our persistent which is currently in cephfs, so I'm wondering if you know of any method for doing this now or is it considered impossible?

[2018-08-29 19:53] Paxa commented on #1463
How to check what is current backend, bluestore or filestore?

[2018-08-29 19:54] travisn commented on #1653
I believe all the data needed could be found in the mon and osd config directories to restore the core cluster. What we will need is a tool that would extract the needed config and re-populate the ConfigMap and Secrets that Rook uses to keep track of the cluster. The critical resources to repopulate would include:
- rook-ceph-mon-endpoints (ConfigMap)
- rook-ceph-osd-<node>-config (ConfigMap)
- ro

[2018-08-29 20:03] Queuecumber commented on #1653
If I get some time I might try to give this a shot, thought I'll need to set up an environment for testing it.. My initial thought is that I can use kubectl to dump the namespace that rook created to yaml, then re-create it on the new cluster. As long as the files in /var/lib/rook are still there and the devices are all correct it may just work. Then I would say bring rook itself up to take over t

[2018-08-29 20:44] dimm0 commented on #2043
@jbw976 I compressed 1.3GB of rook comlaints into an archive at https://nextcloud.nautilus.optiputer.net/s/t2x2tfb3y3WYG8j

[2018-08-29 20:50] travisn commented on #1653
@Queuecumber Great, it will be great to hear how the experiment goes!

[2018-08-29 20:50] dimm0 commented on #2043
Btw, make sure you're testing 1.11.2. I have a feeling it worked fine even with 1.11.1

[2018-08-29 20:59] travisn commented on #1653
One area to look at closely is the mon services. They should have the same ClusterIP or else it will change the identity of the mon and the mons will fail to form quorum. I'm hoping when you restore the K8s services in the `rook-ceph` namespace that it will allow them to keep their IPs.

[2018-08-29 23:04] Queuecumber commented on #1653
Thats interesting, I dont know much about the inner workings of ceph so I wouldnt have thought of that. If/when I give it a shot I will probablty set the cluser IP manually then, to whatever it gets after rook creates it the first time. For a production tool the previously assigned cluster IP would need to be stored in configuration somewhere so that it could automatically be applied when recreati

[2018-08-30 03:57] arm64b opened #2080 "Operator running on non-master node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook operator stuck to run on a slave node in the k8s cluster (IMO, operator always run on master node?)
**Expected behavior:**
Rook operator can run normally  on the master node
**How to reproduce it (minimal and precise):**

[code]
[code]
The `operator` will be always in `ContainerCreating` status. I

[2018-08-30 15:08] jbw976 commented on #2080
do you have more information maybe from `kubectl describe pod -n rook-ceph-system rook-ceph-operator-78d498c68c-trnfx`?

i don't think there should necessarily be any requirement for the operator pod to run on the master node always, in fact lots of clusters don't want pods scheduled on the master node(s), but the fact that it's been scheduled to a worker node and it's not in the running state cer

[2018-08-30 15:10] galexrt commented on #2080
@arm64b That the operator is only running on a node and not the master<, is probably simply caused by the Kubernetes master (by default) having a taint preventing "anything" to run on them. Try removing the `master` taint, https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#master-isolation.

[2018-08-30 21:37] BlaineEXE commented on #2031
@liewegas @dmick @travisn @rootfs  - I'm not sure who at Red Hat would be best to tag here to look over the network requirements I've gathered so far. I'd like to get networking requirements to our networking team by ... say Sept 12, which will give 8 full business days from now to look into it.

[2018-08-31 01:42] jbw976 commented on #2043
@dimm0 @patrickstjohn I was able to reproduce this locally, but it's tough to verify a fix since it doesn't reproduce for like 40-60 minutes.  Let me know if this dev image I just pushed fixes this issue: `jbw976/ceph:2043`.

You should be able to update the image version of operator pod with the commands below:
[code]

Let me know what you see with this new dev image.  Fingers crossed  🤞

[2018-08-31 02:09] arm64b commented on #2080
The `kubectl describe pod -n rook-ceph-system rook-ceph-operator-78d498c68c-trnfx` output:

[code]

Seems the problem is related with network, I am using `flannel`.
@jbw976 @galexrt , hmm, you're right, the operator pod should be scheduled by k8s, my misunderstanding 😄

[2018-08-31 03:10] arm64b commented on #2080
close it since it's a flannel issue has been resolved.

[2018-08-31 03:10] #2080 closed

[2018-08-31 03:11] arm64b commented on #2080
`kubeadm init --pod-network-cidr=10.244.0.0`

[2018-08-31 07:05] dimm0 commented on #2043
It seems to work fine! Great!!

[2018-08-31 12:52] bend commented on #1653
I'm also looking for a tool to backup and restore my rook shared file system. This is a must have

[2018-08-31 15:03] dimm0 commented on #2043
After I installed the new operator last night, I didn't see the error, but seems like it was trying to delete all OSDs from the cluster one by one
I thought that was because when it was broken, I removed and re-added 2 nodes to the cluster. But now it's trying to remove OSDs which were always in the cluster
Right now the cluster is not in healthy state, and so it's not trying to remove further...

[2018-08-31 15:10] dimm0 commented on #2043
[new_op.log.zip](https://github.com/rook/rook/files/2340589/new_op.log.zip)
logs

[2018-08-31 17:40] jbw976 commented on #2043
this is pretty concerning, and I wonder if it's a regression with the 0.8 release handling complicated or large deployments.  it shouldn't be related to my patch since that just changed the way we watch for status updates, it didn't change any scheduling decisions.

to look into this further, i think we need to do the following:
* turn off all the exhaustive DEBUG logging that is filling up the lo

[2018-08-31 17:41] jbw976 commented on #2043
@rootfs it may be useful to have you take a look at the items i've asked @dimm0 for above, there may be a regression with the 0.8 OSD per pod scheduling/provisioning logic, so having your opinion will help.

[2018-08-31 18:01] dimm0 commented on #2043
New pods that use PVCs can't start with an error:

Since I upgraded, my stuff is in "rook" namespace.

Maybe that's the problem?

[2018-08-31 18:09] travisn commented on #2043
@dimm0 what are your storage class settings? The default did change from `rook` to `rook-ceph`, so it sounds like you need to set `clusterNamespace: rook-ceph` in your storage class

[2018-08-31 18:10] dimm0 commented on #2043
But my stuff is in "rook" namespace, not in "rook-ceph"

[2018-08-31 18:11] travisn commented on #2043
bah, that was a typo, fixed now

[2018-08-31 18:11] dimm0 commented on #2043
[code]

[2018-08-31 18:13] travisn commented on #2043
ok, thanks for confirming it's missing. It is a setting under `parameters` as seen [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/storageclass.yaml#L20).

[2018-08-31 19:02] dimm0 commented on #2043
@jbw976 Here's the cluster and configmaps:
[configmaps.zip](https://github.com/rook/rook/files/2341247/configmaps.zip)
[cluster.zip](https://github.com/rook/rook/files/2341248/cluster.zip)

I've changed operator logs to "info", it restarted, and now I'm waiting for operator to do some more decisions, since it's waiting for data to be migrated from OSD it deleted last

[2018-08-31 19:31] dimm0 commented on #2043
After I restarted the operator, and data migrated from the OSD, the operator is not deleting any more OSDs, and health is back to normal. The OSD is still with weight 0.
I'm considering deleting the node and then re-adding again to the cluster, since the storage is reduced now, but will wait for more suggestions from you first

[2018-08-31 19:51] dimm0 commented on #2043
Now the cluster status is:
[code]

[2018-08-31 20:22] sedlund opened #2082 "osd fails to start on btrfs directory"
cluster.yaml:
[code]
[code]
changing the rook-ceph-osd deployment to start the pod as **privileged: false** allows the OSD pod to start.

kubectl edit -n rook-ceph deployments.extensions rook-ceph-osd-id-0

[2018-08-31 21:12] jbw976 commented on #2043
the operator has a 5 min timeout for completing the cluster creation process.  in a cluster with 100's of OSDs, that may not be nearly long enough.  I'm wondering if I should give you a build with those timeouts removed and see what the operator and OSD orchestration do if given more time.

[2018-08-31 21:18] jbw976 commented on #2043
Just to test that idea out, I have pushed the docker image `jbw976/ceph:2043-2018-08-31` that shouldn't have any short timeouts for cluster creation and OSD orchestration.  Would be good to see what the operator does given more time to get through all the OSDs.  Instructions for updating the image in https://github.com/rook/rook/issues/2043#issuecomment-417522796, make sure to use new image tag of

[2018-08-31 23:18] travisn commented on #2043
Wow, we need to increase that timeout. I'm not sure how such a short 5 minute timeout snuck in there. The timeout for updating the cluster is an hour. Seems like these should be the same.

[2018-08-31 23:54] travisn commented on #2043
Agreed, a timeout is not really what we want here. The original intention was to retry upon failure, but looks like it has morphed to a timeout.

At a glance it looks like this timeout will not cancel anything, but may start another goroutine even while the other one is still going. I need to look closer later though...

[2018-09-01 00:43] dimm0 commented on #2043
I did the update. It started from:
`2018-09-01 00:36:04.334774 I | op-osd: 12 of the 14 storage nodes are valid`
Now it's waiting for something from 1 of 3 nodes it's not happy about, and I'm not sure what exactly it's doing..
The state is:
[code]

[2018-09-01 00:44] dimm0 commented on #2043
`2018-09-01 00:43:04.372988 I | op-osd: waiting on orchestration status update from 1 remaining nodes`

[2018-09-01 00:53] dimm0 commented on #2043
Discover logs from that unhappy node:
[discover.zip](https://github.com/rook/rook/files/2341935/discover.zip)
Doesn't seem to be doing any progress with discover. I killed the discover pod, new one is doing the same pretty much

[2018-09-01 01:03] dimm0 commented on #2043
I haven't looked at the code of the operator, but in general I have a feeling there's something fundamentally wrong with the logic... I like how kubernetes drives the current state of the cluster towards the desired state, set by config files. In rook I constantly hit some hidden states, which I don't have a way to modify. For example, now I have the OSDs set in cluster CRD for some nodes, which d

[2018-09-01 01:25] jbw976 commented on #2043
RE: valid nodes, that's interesting that the operator thought only 12 of your 14 nodes are valid.  From the code, it looks like the reasons for an "invalid" node could be:
* Node name returned from k8s api doesn't match the name of the node as specified in the cluster CRD
* node is unscheduable
* Cluster CRD specifies placement affinity and that affinity does not match the node
* Node has a taint

[2018-09-01 01:32] dimm0 commented on #2043
@jbw976 You have access already. Everybody else I'll need to login to https://nautilus.optiputer.net

I deleted the "*-state" configmap for that (un)happy node, and now the operator is replacing the OSD pods for other nodes I think

[2018-09-01 02:08] dimm0 commented on #2043
HEre are configmaps I have in rook:
[code]

Operator is now waiting for 2 nodes (on the bottom) to finish provisioning, while no provisioning is happening. My guess is that it will continue if I delete those *-status configmaps. I'll try it next wee, don't want to break the cluster more before the weekend.

[2018-09-01 16:02] jjgraham commented on #2043
This issue is disrupting us badly
 @jbw976, @rootfs, @travisn
I think the fastest way to solve this is for you all to login and poke around.
https://nautilus.optiputer.net

[2018-09-01 18:08] jbw976 commented on #2043
I'm digging into the system this morning @jjgraham and @dimm0, I see the following:
* the operator is still waiting on 3 nodes with OSDs to "complete"
* the status for these nodes is actually completed, but for some reason the operator doesn't realize that
* the ceph cluster status (`ceph -s`) shows 164 osds up/in, there are no OSDs down/out.
* all 2560 placement groups are active+clean
* client I

[2018-09-02 05:32] dimm0 commented on #2043
The cluster is healthy (which is great), but we can't add any more storage since I did the upgrade, because operator is not healthy. Also for some reason operator removed 2 nodes with ~15 OSDs (the nodes are still in cluster definition, but not in crash map)

[2018-09-02 07:36] christianhuening commented on #1703
AFAIK this has not changed in 0.8.1, or has it?

[2018-09-02 07:37] christianhuening commented on #1553
@sinqinc are you still having that problem? What did you do to overcome / work around it?

[2018-09-03 05:03] jbw976 commented on #2043
I believe I have found root cause for why the operator cannot finish the OSD orchestration.  After starting all the osd-prepare jobs on each node, the operator lists all config maps with their current statuses: https://github.com/rook/rook/blob/release-0.8/pkg/operator/ceph/cluster/osd/status.go#L138

It will iterate through this list to check the current status of each node's osd-prepare job.  Wh

[2018-09-03 07:09] christianhuening commented on #923
In an ideal world we would be able to consume the required secrets for the encryption out of Hashicorp Vault to have an integrated and holistic security solutionfor the whole setup.

[2018-09-03 11:25] arm64b opened #2084 "Rook nfs docker image build failed on AArch64"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The rook nfs docker image can't succeed to build on AArch64
**Expected behavior:**
The rook nfs image should be built on AArch64 successfully

**How to reproduce it (minimal and precise):**

[code]
**Environment**:
* OS (e.g. from /etc/os-release):
[code]
* Kernel (e.g. `uname -a`):
`Linux huawei-d05 4

[2018-09-04 10:33] jcsp commented on #1716
@rootfs I think this got improved somewhat in the "pod per OSD" PR, how robust would you say it is now?

[2018-09-04 12:31] danielcb commented on #1713
Just found this issue and tried the suggested solution. Works as expected. If you give me a hint regarding the best place for this documentation snippet, I'll add it and possibly extend the `./cluster/kubernetes/ceph` example.

[2018-09-04 12:34] danielcb commented on #2047
Had a look at this, but with only limited understanding of ceph I'm stuck. As far as I understand it the correct way of deploying OSDs on LVM volumes seems to be ceph-volume (currently ceph-osd is used, when bypassing the mentioned `sys.LVMType` problem) which is also on the 0.9 roadmap. So, at least as far as I could test it, it's not as simple as fixing the check in `disk.go`.

[2018-09-04 14:18] travisn commented on #1713
@danielcb What all was needed for it to work? Looks like a `kubectl patch serviceaccount` command? Perhaps you could update the docs in ceph-quickstart.md as a subsection of "Deploy the Rook Operator". Thanks!

[2018-09-04 15:10] delubi opened #2087 "no resources created under rook-ceph namespace"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I'm new to rook. Trying to create a rook cluster but not able to get resources created under rook-ceph namespace.

Below were the steps performed.

kubectl --namespace kube-system create sa tiller
kubectl create clusterrolebinding tiller --clusterrole cluster-admin --serviceaccount=kube-system:tiller

[2018-09-04 16:06] liewegas commented on #2078
merged into ceph master https://github.com/ceph/ceph/pull/23798.  i'll backport this to luminous and mimic.

[2018-09-04 16:22] galexrt opened #2088 "Improve log parsing using prefix or find alternate ways to parse output/use stable API"
We need to improve the way we parse log output (prefixing of Ceph log outputs #1388) from commands or directly use the Ceph API through the Ceph MGR component, to reduce issues when command outputs change for new Ceph versions.

This goes hand-in-hand with #2014 which would potentially cause more of these issues in the future (when it has been implemented).

[2018-09-04 17:38] rootfs commented on #2043
offline chatting with @dimm0 and some analysis of the etcd logs, there are notable issues on etcd, many operations took hundreds of ms or even seconds (see below) to finish
[code]

[2018-09-04 17:58] jbw976 commented on #2043
@rootfs we gathering/waiting for OSD orchestration status in a fundamentally incorrect way as described in https://github.com/rook/rook/issues/2043#issuecomment-418000933, any etcd slowdown would not be the root cause here.  we need to update the way that we are waiting for completion so that we do not look at stale status and miss completion updates.

[2018-09-04 18:12] travisn commented on #2043
@jbw976 Since we're basing the watch on the [ResourceVersion](https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/osd/status.go#L163), it was expected that the watch would give us all updates to the resources after the point in time where we queried for the status. It's not clear to me why this fundamentally shouldn't work since the watch should give us all events after the Resource

[2018-09-04 18:57] rootfs commented on #2043
after reading the operator logs and orchestration status configmap, orchestration on the last three nodes started but operator failed to detect changes in the status configmap. Yet in the configmap, all three nodes were completed. This confirms the fix is to get operator able to watch configmap correctly.

@jbw976 @travisn My understanding is the status configmap was getting pounced during orchest

[2018-09-04 19:09] jbw976 commented on #2043
A key part here that I don't think I explained earlier is that the list operation gives us a list of config maps, which doesn't have a resource version itself (it's an empty string).  This is a key part of the regression in 0.8, before that we were watching a single config map which does have a resource version.  Therefore we are not telling the watch to start from any version in the past, we are

[2018-09-04 19:52] jbw976 commented on #2043
that's odd because one of the first things I logged in my debugging was the resource version of the config maps list and I recall it printing an empty string.  Either way, I think we're both in agreement that we should not solely rely on the watch after iterating through the list results once.  We also need to increase the create cluster timeout value too.  Summary of the changes I think we need:

[2018-09-04 20:00] jbw976 commented on #2043
One more thing, @dimm0 earlier logs showed a tight loop where the watcher's results channel was closed and we'd start it back up again very quickly (we only sleep for 100 ms): https://github.com/rook/rook/blob/release-0.8/pkg/operator/ceph/cluster/osd/status.go#L188

When I removed the resource version from the watch request options, we no longer saw that behavior.  I'm wondering if there's interp

[2018-09-04 20:12] dimm0 commented on #2043
I just found what was loading the apiserver, my admission controller was misbehaving for one pod and was trying to update it in a loop. Now it's fine, and I'm not sure if that was the case all the time when I was updating rook. But I guess that revealed the problem with high loaded apiserver anyway.

[2018-09-04 20:35] travisn commented on #2043
@jbw976 sounds good, thanks for the summary on the changes to harden this.

@dimm0 does that mean the operator might be completing now? Or is the operator still blocked? Just wondering if we need to get a fix into an 0.8 release, or if it could wait for the next release if you're not blocked anymore.

[2018-09-04 21:38] jlaw90 commented on #1553
I just wanted to chime in and say that I've had this issue multiple times and lost data - I'm going to be moving back to longhorn for a while until this has been resolved.

I've always managed to do it the same way (and still haven't learnt):
* Create a deployment with a pod and large volume provisioned by rook, set the policy to delete all pod replicas before recreating (otherwise it will hang)
*

[2018-09-04 22:51] ptylenda commented on #2043
I am running into similar problems as @dimm0. After switching to image I still get
[code]
for 2 LAST nodes in the cluster list. At the beginning it was 4 last nodes, but restarting operator has reduced this to 2. Further restarts do not change anything. What is odd, is the configmaps with status for these nodes:

[code]

It looks that they are completed but nothing happens in watcher loop...

[2018-09-04 23:02] ptylenda commented on #2043
BTW looking at the code I assumed that a simple
[code]
and save should resolve the watcher issue and it indeed got past the loop part immediately. Looks like some race condition?

[2018-09-04 23:06] dimm0 commented on #2043
@travisn I restarted the operator, but I believe it will get to the same broken state

[2018-09-04 23:26] dimm0 commented on #2043
Yeah, same.

[2018-09-04 23:27] travisn commented on #2043
Ok, thanks for confirming.

[2018-09-05 00:34] sinqinc commented on #1828
I think you should link this to #1553

it's seems to be related.

[2018-09-05 00:38] sinqinc commented on #1553
@christianhuening We still have this issue but it doesn't happen every time like I thought. I opened another issue some time ago and it seems to a relation between them #1828

[2018-09-05 06:13] christianhuening commented on #1553
@jlaw90 thanks! can you also provide your versions of Kubernetes, Operating System and rook?

[2018-09-05 09:28] sanverm2 opened #2091 "Ceph OSD prepare Job Pod is unable to access the block devices"
I am using rook on my kubernetes cluster. For storage, I am using disks. But what I am seeing in /var/lib/rook/osd dirs that disks are not being used.

There is
[code]
entry in this dir.

It looks like the Ceph OSD prepare Job Pod is unable to access the block devices.

My cluster manifest:
[code]

osd-prepare log:
[osd-prepare.txt](https://github.com/rook/rook/files/2352131/osd-prepare.txt)

osd

[2018-09-05 13:47] travisn commented on #2091
@sanverm2 try setting `useAllNodes: false`. Otherwise, rook will ignore everything under the `nodes` element. We need to implement CRD validation (#1000) to help catch this.

[2018-09-05 13:56] travisn opened #2092 "Set Pod and Node variables on daemon containers"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Rook should set `NODE_NAME`, `POD_NAME`, and `POD_NAMESPACE` on each of the Ceph daemon containers. This can be done at the same time as #2003 when the init containers are split from the main daemon container.

The daemons will pick up on these variables, for example to override `hostname` since https:/

[2018-09-05 14:06] danielcb commented on #1713
Added some docs. Let me know if it's okay this way and that's the correct spot.

[2018-09-05 15:22] #2004 closed

[2018-09-06 14:06] billimek commented on #1523
@foldingbeauty are you thinking of submitting a PR for this?  If not, I'm happy to.  I also desperately need this feature to leverage a dedicated 10GB network for rook/ceph.

[2018-09-06 14:20] galexrt commented on #1998
Closing this as duplicate of #1435.

[2018-09-06 14:20] #1998 closed

[2018-09-06 14:23] #2067 closed, assigned to nobody

[2018-09-06 14:27] galexrt commented on #2087
@delubi Could you please add code tags to your comment. I'm unable to see how the indent in the cluster.yaml is you posted.

[2018-09-06 15:01] galexrt commented on #2006
@zmlcc Mhh I think this is not a problem of Rook though.

Could you please raise your concerns at the https://github.com/ceph/ceph-csi project because as far as the proposal/design for Rook to use ceph-csi is Rook would simply run the ceph-csi as is, see https://github.com/rook/rook/pull/2059.

@rootfs What do you think?

[2018-09-06 15:04] delubi commented on #2087
@galexrt Please see the content of cluster.yaml as below. Thanks!
`
apiVersion: v1
kind: Namespace
metadata:
  name: rook-ceph
---
apiVersion: ceph.rook.io/v1beta1
kind: Cluster
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  dataDirHostPath: /var/lib/rook
  dashboard:
    enabled: true
  storage:
    useAllNodes: true
    useAllDevices: false
    config:
      databaseSizeMB: "4096"

[2018-09-06 15:07] galexrt commented on #2087
@delubi You need to write it like that:
\```
CODE
\```

Please edit your comment with those code blocks so the indent is visible on each line.

[2018-09-06 15:09] delubi commented on #2087
[cluster.zip](https://github.com/rook/rook/files/2357587/cluster.zip)

@galexrt Let me try again as below. Also attached is the zip file that contains the cluster.yaml file.

[code]

[2018-09-06 15:10] galexrt commented on #2087
@delubi Try to create the RBAC definitions from here https://rook.io/docs/rook/v0.8/ceph-cluster-crd.html#common-cluster-resources and check that after a Rook Ceph operator restart (delete the Pod) the Cluster is successfully starting. If not, please let us know and attach the Rook Ceph operator logs.

[2018-09-06 15:17] rootfs commented on #2006
I don't have rbd-nbd handy (I am running centos), @krmayankk any input? thanks.

[2018-09-06 18:29] ianchakeres commented on #2006
+ @shyam-an who's an expert.

[2018-09-06 19:30] #1759 closed

[2018-09-06 22:39] travisn commented on #1921
@fabianvf want to add your notes here on the openshift configuration until we can get the docs updated?

[2018-09-06 22:44] travisn commented on #2092
This is already tracked with #2078

[2018-09-06 22:44] #2092 closed

[2018-09-07 06:43] #2084 closed

[2018-09-07 10:57] guidoilbaldo commented on #2087
Hi, I have the same problem.
Running minikube v0.28.2 on MacOS (freshly installed) and kubectl version `1.11`.
I'm able to start operator, agent and discovery pods, then I simply try to start the cluster with the example posted here -> https://rook.github.io/docs/rook/master/ceph-quickstart.html
with `kubectl create -f cluster.yaml`.

[code]

but then `no resources found` keeps popping up.
Any ide

[2018-09-07 13:10] delubi commented on #2087
@galexrt Looks good now. Thank you!

[root@k8smaster rook]# kubectl get pod -n rook-ceph
NAME                                    READY     STATUS      RESTARTS   AGE
rook-ceph-mgr-a-88d56c679-w5pzt         1/1       Running     0          14m
rook-ceph-mon0-5xc7t                    1/1       Running     0          15m
rook-ceph-mon1-xbp4b                    1/1       Running     0          15m
roo

[2018-09-07 14:00] travisn commented on #2091
@sanverm2 ok, that worked for you? Just wanted to confirm if there is anything else before closing the ticket.

[2018-09-07 15:42] yanniszark commented on #919
I think this is a necessary feature for supporting other Storage Providers seamlessly and benefiting from type reuse.
**Assumption:** Many storage providers, including Cassandra, will choose to leverage `StatefulSets` to build their operator, as it is the de-facto way of running stateful apps on Kubernetes and also provides plenty of useful functionality out-of-the-box.

StatefulSets use a field c

[2018-09-07 16:30] jbw976 opened #2105 "glog logging level should be configurable"
There are a lot of `glog` statements in the Rook codebase, either from code that came from Kubernetes or from vendored code.  Currently, we cannot get `glog` output at any configurable level, which makes debugging more difficult.

Attached is a patch that will enable `glog` logging output at a level of `V=10`.  A couple things to note from the patch:
* the [workaround](https://github.com/rook/rook

[2018-09-07 17:56] fabianvf commented on #1921
Yeah, sorry for the radio silence. The issue is pretty narrow, if you are running OpenShift on a normal OS then you should have no issues, but if you're running OpenShift (and maybe Kubernetes?) on atomic (or I assume CoreOS) based distributions, or running the node process in a container, then all the filesystem operations for flexvolumes will be performed inside the container and not propagate t

[2018-09-07 22:24] tcf909 opened #2107 "Support Google Kubernetes Engine (and all other dynamic clusters)"
**What should the feature do:**
The feature would allow you to deploy Rook in to an existing Google Kubernetes Engine cluster. Currently there are a lot of local node requirements that don't allow someone working in a dynamic environment (auto-scaling, dynamic node naming, no local storage, etc) to take advantage of Rook.

**What is use case behind this feature:**
Fewer and fewer clusters are bein

[2018-09-07 22:59] ganeshmaharaj commented on #2072
@cwolfinger i tried to reproduce the issue and i was not able to cause the operator to crash (even with 12 PVClaims in a single file). But on simulating the crash, i did see the error you are reporting. I am hoping the proposed fix might address that issue. Will keep you posted.

[2018-09-08 06:00] jbw976 commented on #2107
Thank you for writing up this scenario and improvements @tcf909.  I believe the first one is covered by https://github.com/rook/rook/issues/919#issuecomment-419480399, which we'd love to get in for the 0.9 milestone.  @yanniszark had expressed interest in that for the Cassandra operator too.

[2018-09-08 12:00] #1727 closed

[2018-09-08 12:00] #1731 closed

[2018-09-08 12:00] #1717 closed

[2018-09-08 20:53] rgiordani71 commented on #1988
Hi,
I've got the same issue during the first creation of cluster with 3 nodes.
"op-osd: no valid node available to run an osd in namespace rook-ceph"
Is this issue already fixed?
Thanks

[2018-09-09 13:51] sanverm2 commented on #2091
@travisn, I worked for me. But looks like there is something missing around this functionality.  Do you have any pointer to document that  mentions this behavior? May be I am missing something.

[2018-09-10 10:25] maver1ck opened #2109 "Helm chart for cluster provisioning"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
I'd like to have helm chart for cluster creating. Both for sc and cluster itself
https://rook.io/docs/rook/master/block.html
https://github.com/rook/rook/blob/master/Documentation/ceph-quickstart.md#create-a-rook-cluster

**What is use case behind this feature:**
I can have all the parts of the env mana

[2018-09-10 10:32] arm64b opened #2110 "Potential issue for the docker image created by cross-build"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
We may expect the final docker image is for other architecture like `arm64` when cross-building it on a different platform like `amd64`, but actually the cross-build will pull the base image of `amd64` instead of `arm64`. For example, if we inspect the `nfs-arm64` image generated by `make build.all` on

[2018-09-10 14:19] bassam commented on #2110
@arm64b thanks for looking into this. this looks like a recent regression, as this was working in the past.

[2018-09-11 13:10] drake7707 commented on #1015
Any updates on this? I've run into an issue where I can't use block storage devices because I'm running from a separate network namespace and the kernel driver only supports the initial network namespace and I can't specify --net=host to circumvent this.

[2018-09-11 13:41] arm64b commented on #2110
@bassam, although we can build those different-Arch docker images on `amd64` with help of `binfmt` and `qemu`, but if the base image is from `amd64` and have some binaries pre-installed within that base image, we'll encounter problem if we `docker run` the final built image on, for example, `arm64` in case of binaries from `x86_64` is launched because it's `x86 64` instruction.
IOW, we can cross-b

[2018-09-11 14:14] bassam commented on #2110
@arm64b agree we need to select the right base image. Looking at https://github.com/rook/rook/blob/master/images/nfs/Dockerfile#L17 it seems to only pull `amd64`. For ceph we do the right thing: https://github.com/rook/rook/blob/master/images/ceph/Makefile#L23

[2018-09-11 14:14] bassam commented on #2110
looks like similar issues with cockroachdb and minio images.

[2018-09-11 15:15] clkao commented on #2072
I can reproduce this quite reliably when creating multiple PVCs of 200G with 0.7.1

The proposed fixes should make the created rbd image bound, but do we know why it failed in the first place?  the logs suggested potential conflict when updating the pvc for binding.

[2018-09-11 15:33] ganeshmaharaj commented on #2072
@clkao will you be able to try this out on a cluster which is 0.8.1? I tested with latest master and i was not able to get the operator to crash. I will see if i can spin up a system where i can create create 200G volumes.  Will also see if i can do this on a 0.7.1 cluster.

[2018-09-11 17:12] dimm0 commented on #2041
I did not read the docs right. The instances were gone, and I had to delete the CRD definitions manually. Closing the tocket.

[2018-09-11 17:12] #2041 closed

[2018-09-11 17:38] dimm0 opened #2112 "Nodes defined in cluster are not getting init by operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I have 14 nodes defined in rook cluster:
[code]
Note knuron.calit2.optiputer.net and k8s-gpu-03.sdsc.optiputer.net in the list.
Now listing the crush map:
[code]
These 2 hosts are not defined.

No configmap for those 2 hosts in rook, some devices configmaps for these in rook-system. Nothing about those

[2018-09-11 18:30] rootfs commented on #2112
/assign

[2018-09-12 08:39] arm64b commented on #2110
We need to figure out the specific arm64 docker image for those 2 components since there're not corresponding equivalent one like `nfs` under `arm64v8` prefix.

[2018-09-12 08:46] sebastian-philipp commented on #1536
Using your howto and  https://github.com/ceph/ceph-container/pull/1183 , it also worked for Nautilus.

[2018-09-12 14:12] travisn opened #2118 "Integration test fails when retrying after deletion of crd"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The [master build](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/master/764/pipeline) failed due to a crd existing from a previous test. The test attempts to delete the crd, remove the finalizer from the crd, and try again. After the finalizer is removed, other resources are als

[2018-09-12 15:40] jbw976 commented on #2110
Reopening this issue since it still exists for cockroachdb/minio.

[2018-09-12 15:44] #2072 closed

[2018-09-12 16:26] travisn commented on #1342
@leseb would be great to discuss this more when you are back online

[2018-09-12 18:02] rootfs commented on #2031
cc @leseb

[2018-09-12 19:10] zehicle commented on #1798
If this is an ongoing issue, it may be good to update the documentation to not rely on the short links.

[2018-09-13 02:46] kaoet opened #2123 "Admin secret is leaked if CephFS mount failed"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Ceph `admin` secret is leaked via error message if CephFS mount failed:

[code]

Note the secret is leaked in `and options [name=admin secret=balabala]`.

**Expected behavior:**
Ceph `admin` secret shouldn't be leaked.

**How to reproduce it (minimal and precise):**

Mount a volume with the `flexVolume

[2018-09-13 12:48] galexrt commented on #2074
Do we know if it is "just" an issue of the minikube VM running out of memory during the initial start of "everything"?

[2018-09-13 15:57] bassam commented on #1981
Ignoring the dev tooling around operators, I wonder if we should focus on using the [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime) project instead of operator-kit as a first step. Honestly I think tools like kubebuilder, and operator-sdk might be a bit too opinionated for a project like Rook that has multiple groups/kinds, storage providers etc.

/cc @ichekrygin @jbw97

[2018-09-13 22:38] travisn commented on #2112
@dimm0 any chance you still have the operator log from the upgrade? Definitely would like to understand why the operator thought it should remove two nodes. Can you also share your cluster CRD to see what the settings are for configuring the osds?

[2018-09-13 22:46] rootfs commented on #2112
I was under the impression those 3 nodes were the same ones that operator failed to watch (fixed in #2111)

[2018-09-13 23:03] mrpity commented on #1693
hi! how did you solve this problem?

[2018-09-14 02:41] kaoet commented on #1125
We also want this feature.

I think the [`CephVolumeClient`](https://github.com/ceph/ceph/blob/master/src/pybind/ceph_volume_client.py) in the official client is a good reference.

[2018-09-14 04:51] dimm0 commented on #2112
@travisn Nope.. No logs
[cluster.zip](https://github.com/rook/rook/files/2381918/cluster.zip)
@rootfs those are different nodes

[2018-09-14 04:51] dimm0 commented on #2112
I guess I'll go ahead and try to delete-add one of the nodes... Wish me luck :-D

[2018-09-14 06:34] anguslees opened #2128 "Should configure PodDisruptionBudgets to defend replicas from node drains"
**Is this a bug report or feature request?**
* Bug Report

I consider lack of this configuration to be a bug, since it is a necessary part of operating a stateful service in a k8s environment - but I understand if someone wants to re-label this as a new feature instead.

**Deviation from expected behavior:**

I have a basic n+1 host redundancy rook configuration (ie: replicated pool with failureDo

[2018-09-14 15:48] jbw976 commented on #2043
#2111 needs to be backported to release-0.8 branch, right?

[2018-09-14 15:53] travisn commented on #2043
yes, #2129 is the backport PR

[2018-09-14 17:02] #1259 closed

[2018-09-14 17:15] travisn opened #2130 "Operator can fail to initialize mons after restart if allowMultiplePerNode is false"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When the operator is restarted, if you have the same number of nodes as the number of mons, and `allowMultiplePerNode: false` in the cluster crd, the operator will fail with the message:
[code]

**Expected behavior:**
The operator should start mons every time it starts. If the mons are already started,

[2018-09-14 20:16] #2043 closed

[2018-09-15 21:43] Ulexus commented on #1487
I appear to have this problem: using multiple storage classes inside a single Pod.  I according to `dmesg` on the underlying node, Rook is attempting to find the rbd in the wrong pool.

For instance, I have a Pod which has a need for some not-all-that-important data which I used with my `standard` storage class, which uses an rbd pool with no replication.  That same Pod also needs a place for its

[2018-09-16 05:37] #1724 closed

[2018-09-16 05:37] #1728 closed

[2018-09-17 12:41] galexrt commented on #2007
@travisn One possibility would be to switch from using `cache.NewInformer()` to "manually" building the "Controller" and injecting a rate-limited queue into it.
Example can be found here: https://github.com/kubernetes/client-go/blob/master/examples/workqueue/main.go#L168-L197.

[2018-09-17 13:50] galexrt commented on #919
@yanniszark I had a look at this now and will work on this.
Exactly as you wrote I began modifying the Rook StorageSpec added a `volumeClaimTemplates` list, now I just have to add logic for the operators/controllers to consume these PVCs in addition to `devices` and `directories`.
From my knowledge of the code that should not be too hard to do as most code parts, just need a `for` loop added to th

[2018-09-17 16:11] #2118 closed

[2018-09-17 17:39] #1868 closed

[2018-09-18 06:02] shoaibjdev commented on #1494
How to add new kubernetes nodes for OSD to existing rook cluster?

[2018-09-18 08:36] fkpwolf opened #2134 "Have to re-create operator to make OSD pods created on new node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I have to delete operator pods as [Common Issues](https://github.com/rook/rook/blob/master/Documentation/common-issues.md#osd-pods-are-not-created-on-my-devices) page suggested.

**Expected behavior:**

prepare and osd pod should be created automatically.

**How to reproduce it (minimal and precise):*

[2018-09-18 16:50] travisn opened #2136 "Service accounts should be specific to ceph daemons"
**Is this a bug report or feature request?**
* Feature

**Deviation from expected behavior:**
There is currently the `rook-ceph-cluster` service account defined and it is only used by OSD daemons. For #2001 another SA is being added for the mgr since it needs very different access. We should name the service accounts specific to each daemon so it is clear, as seen in [this comment](https://github.

[2018-09-18 17:13] travisn commented on #1553
We believe this will be fixed by #2121 since Rook was not picking up the 1.10 version of the k8s client packages. Updating the client libraries is a rather large change so we will need to let it stabilize in master before we look at backporting.

[2018-09-18 17:37] BlaineEXE commented on #1368
@travisn, This is related to my comment https://github.com/rook/rook/pull/2114#discussion_r218525336

Since I have a lot of this info in my head from the init container refactor work, I'll pick this up next, since it seems fairly straightforward. Can you add this to 0.9 milestone?

[2018-09-18 17:38] travisn commented on #1368
Sounds good, as I mentioned separately, the challenge with this change may be around upgrades.

[2018-09-18 17:56] BlaineEXE commented on #1368
Due to the challenge with upgrades, this probably isn't worth changing, even if it's not 100% ideal. Conversation snippet logged here for future reference. Closing issue.

[code]

[2018-09-18 17:57] liewegas commented on #1368
Hmm... my preference would definitely to be to fix this.  It is always going to be easier to fix sooner rather than later as the install base is only going to grow.

[2018-09-18 18:01] travisn commented on #1368
@liewegas what is the side effect of not changing this? I imagine it impacts troubleshooting since the files are in a different place than expected.

[2018-09-18 18:10] liewegas commented on #1368
Yeah.. I think the it is primarily just going to be friction when anyone looks behind the curtain.  There is also some possibility of bugs (in various tools, scripts) due to the non-standard location.

[2018-09-18 18:10] liewegas commented on #1368
Can we just update the CRD on upgrade so that legacy clusters get an explicit property specifying the old default path, and any new clusters/CRDs use a new default?

[2018-09-18 18:16] travisn commented on #1368
instead of a setting in the crd, we could write the setting to a configmap since it should be an internal implementation detail. @BlaineEXE could you take a look at this then?

[2018-09-18 19:43] #1589 closed

[2018-09-18 20:15] christianhuening commented on #1553
@travisn oh that would be great! any help needed?

[2018-09-18 20:30] exodussystem commented on #1203
I have the same issue with v0.8.1. In my case, server prefix is not 'rook-ceph-mon', just 'a','b','c'

# **ceph status**
server name not found: a=10.233.28.142 (Name or service not known)
unable to parse addrs in 'a=10.233.28.142:6790,b=10.233.8.33:6790,c=10.233.10.79:6790'
InvalidArgumentError does not take keyword arguments

#  **cat /etc/rook/mon-endpoints**
a=10.233.28.142:6790,b=10.233.8.33:6

[2018-09-18 20:44] galexrt commented on #1203
@exodussystem Your toolbox image seems to be too old.
If you are using `master` as the toolbox image tag, try setting it to `v0.8.1` and/or (re-)pulling the currently used image (tag) on all your nodes.
Let us know if that fixes your issue.

[2018-09-19 10:37] malins opened #2137 "Cluster down after Kubernetes evicting pods"
Hello,

my Kubernetes cluster started "evicting" pods because of low disk memory. However, this somehow damaged my rook cluster. I think the problem is related to the monitors not able to contact each other.

I can see the following error messages (when execing into the pods and executing dmesg):

[code]

In the logs of rook-manager I can see the following:

[code]

The logs of the monitors look l

[2018-09-19 13:57] KrzysztofWloch commented on #1203
Same here, on v0.8.1

[2018-09-19 15:24] rootfs opened #2140 "[ceph] create a single mon service"
**Is this a bug report or feature request?**
* Feature Request
currently there are multiple ceph mon services (see below). For storage classes to track these ever changing services is hard.
[code]
**What should the feature do:**
in addition to the numbered mon services, we need an immutable service name that tracks all active mon endpoints. We can then refer to this service in storage classes.
**W

[2018-09-19 16:00] #1758 closed

[2018-09-19 18:11] travisn opened #2141 "OSD pod spec changes to support decoupled ceph version"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
There are two places in the osd pod spec that need to be changed before the [ceph version decoupling](https://github.com/rook/rook/blob/master/design/decouple-ceph-version.md) changes can be made.
- `tini` is called in the osd command to evaluate the env vars. We should be able to just remove these env

[2018-09-19 18:15] travisn opened #2142 "Only include ceph tools in the operator image"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Once the Ceph version is [decoupled from the Rook version](https://github.com/rook/rook/blob/master/design/decouple-ceph-version.md), the Rook image no longer needs to contain the ceph daemons. Only the Ceph tools needed by the operator need to be included in the image.

[2018-09-19 18:17] travisn opened #2143 "Ceph daemon pods should be started with ceph base image"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
With the work to [decouple the Ceph version from Rook](https://github.com/rook/rook/blob/master/design/decouple-ceph-version.md), the daemon pods will run the ceph image. The rook image will be run in the operator, agent, discovery, and config containers, but will not be run with the Ceph daemons.

This

[2018-09-19 19:55] exodussystem commented on #1203
@galexrt Thanks, I tried to pull the latest docker image with :master tag, it worked.

[2018-09-19 21:57] strowi commented on #1659
Hi,

looks like at least Flexvolume might gain that ability in 1.13. https://github.com/kubernetes/kubernetes/pull/67508

[2018-09-20 12:43] taemon1337 commented on #1991
I found the missing rbd in /var/lib/kubelet/... which is NOT mounted into the kubelet container, we use a custom /var/lib/<project>/kubelet...so is there a setting that rook/ceph uses to overwrite the default /var/lib/kubelet so it will correctly mount it back to the outside host?

[2018-09-20 18:28] #2140 closed

[2018-09-21 12:21] rgiordani71 commented on #1849
@galexrt how can access on Rook.io Slack? Could you send me an invitation?
Thanks

[2018-09-21 14:14] jbw976 commented on #1849
@rgiordani71 you can join the slack workspace with this link: https://rook-slackin.herokuapp.com/

[2018-09-21 14:28] kcao3 opened #2147 "Draining a rook node automatically before reboot"
Hello,
I am currently having issue while rebooting a CentOS7-based node. It turns out this is one of the common Rook issues:
https://github.com/rook/rook/blob/master/Documentation/common-issues.md#node-hangs-after-reboot

The node needs to be drained before reboot.
After the successful drain, the node can be rebooted as usual.

IMHO, this is a really pain if a k8s node has to be drained manually.

[2018-09-21 14:52] travisn commented on #2047
This will be dependent on #1342

[2018-09-21 15:18] lbogdan commented on #1342
Hey guys, I know I said I'm gonna look into this and then disappeared into thin air - I was busy working on the project I use rook for. 🙂 I'll have a bit of time next week, so please let me know how should I go about this.

[2018-09-21 15:26] slayerjain opened #2148 "Mismatch between kubernetes.io/hostname label between nodes and Cluster CRD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:Failure in deploying OSD via Cluster CRD**

**Expected behavior: Successful deployment of the Cluster CRD**

**How to reproduce it (minimal and precise): Use kops to setup kubernetes on AWS and try to install rook 0.8.2**

**Environment**:
* OS (e.g. from /etc/os-release): Debain Jessi (kops stable channe

[2018-09-21 16:27] jbw976 commented on #2148
hi @slayerjain, can you share the output of the following?
[code]

[2018-09-21 17:30] taemon1337 commented on #1991
So I got the rbd successfully mounted from the containerized kubelet to the host /dev/rbd0; however, the pod is STILL not using it, it still mapping the underlying logical volume. :(

[2018-09-21 17:51] taemon1337 commented on #1991
https://github.com/rook/rook/issues/1330

[2018-09-21 18:20] slayerjain commented on #2148
**kubectl get node --show-labels**

`ip-172-10-113-68.ap-southeast-1.compute.internal    Ready     node      6h        v1.10.8   beta.kubernetes.io/arch=amd64,beta.kubernetes.io/instance-type=r4.large,beta.kubernetes.io/os=linux,failure-domain.beta.kubernetes.io/region=ap-southeast-1,failure-domain.beta.kubernetes.io/zone=ap-southeast-1c,kops.k8s.io/instancegroup=nodes,kubernetes.io/hostname=ip-17

[2018-09-21 18:59] dimm0 opened #2149 "Volume ownership change according to fsGroup not working in 0.8.2"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Starting pod with:
[code]

The PVC volume belongs to root

**Expected behavior:**
The PVC volume belongs to group 100

**How to reproduce it (minimal and precise):**
Run a container with PVC attached, change default root user to some other one

**Environment**:
* OS (e.g. from /etc/os-release):
Centos

[2018-09-21 19:49] travisn commented on #2149
I'm not seeing a change in 0.8.2 that would impact this, and setting this security context is not in rook's code path that i'm aware. The kubelet sets this context when the pvc is attached. Could you confirm on a test cluster that this change only affects 0.8.2 or if it also exists in master or 0.8.1?

[2018-09-21 19:59] dimm0 commented on #2149
With rook 0.8.1 and kubernetes 1.9.0:

[code]

I don't have a cluster with kubernetes 1.11.3 and rook 0.8.1 unfortunately

[2018-09-21 20:08] travisn commented on #2149
@rootfs since you investigated the related security context for openshift, any ideas on this one?

[2018-09-21 23:14] #1553 closed

[2018-09-24 14:24] travisn opened #2151 "CRD support for printing additional columns"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
As of K8s 1.11, CRDs have the ability to define additional columns that can be printed with the `kubectl get` command. See the [documentation](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns). The CRDs would be more friendly

[2018-09-24 19:04] billimek commented on #1523
#2154 submitted for this.

[2018-09-24 20:29] #1468 closed

[2018-09-24 23:11] #2078 closed

[2018-09-25 05:04] #2105 closed

[2018-09-25 13:57] yanchicago opened #2155 "Please use "COPY" instead of "ADD" in Dockerfile"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#add-or-copy

Below Dockerfile has used "ADD" instead of "COPY"
./images/cockroachdb/Dockerfile:ADD rook /usr/local/bin/
./images/minio/Dockerfile:ADD rook /usr/local/bin/
./images/cross/Dockerfile:ADD https://github.com/krallin/

[2018-09-25 15:00] #2087 closed

[2018-09-25 15:00] galexrt commented on #2087
Closing as this issue has been resolved.

[2018-09-25 15:02] galexrt commented on #2033
This will be fixed by #2144.

[2018-09-25 15:03] galexrt commented on #1914
Closing as there has been no response.

It is probably that bluestore is used and bluestore does not work well with directories in terms of bluestore not "cleaning up after each itself".

[2018-09-25 15:03] #1914 closed

[2018-09-25 16:44] travisn commented on #1636
still need this...

[2018-09-25 17:05] dimm0 commented on #2149
Another issue which seems to be connected is error:
`MountVolume.SetUp failed for volume "pvc-f25d643b-bd51-11e8-8085-0cc47a6be994" : invalid character '-' after top-level value` when attaching a new PVC

[2018-09-25 17:06] dimm0 commented on #2149
@jbw976,  @rootfs  wanted you to be called here as well :)

[2018-09-25 17:55] rootfs commented on #2149
the cause of the problem is that there is a spilled over console message printed just before the json status returned to flex volume driver call and thus confuses the driver. Flex driver believes the mount failed and then skips chown. In the following retry, the mount point is detected and no more mount or chown is performed.

[2018-09-25 21:28] #1806 closed

[2018-09-25 21:41] travisn commented on #1813
we have a pattern to follow here...

[2018-09-26 01:28] #1815 closed

[2018-09-26 12:23] Vanuan opened #2158 "Specify block device by id"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Currently devices can be specified like these:

[code]

I'd like to be able to specify them like this

[code]

**What is use case behind this feature:**

I believe this will allow hotswapping disks in any order.

On the other hand, disk replacements would require configuration to be changed.

**Environ

[2018-09-26 14:09] jpiper commented on #2005
I also encountered an issue where the discover daemon was causing disk IO issues with an application I have running. I recompiled and deployed rook without the discover daemon (by removing https://github.com/rook/rook/blob/master/pkg/operator/ceph/operator.go#L121-L124) and everything behaves as expected now. I think this feature would be good to have for those of us that have statically defined d

[2018-09-26 15:27] Vanuan commented on #1203
BTW, this is documented here:

https://rook.io/docs/rook/v0.8/toolbox.html

Does it mean that 0.8.2 is too old? There's no newer release.
`:master` works OTOH

[2018-09-26 15:40] galexrt commented on #1203
@exodussystem @Vanuan @KrzysztofWloch Which Rook version are you running?
You are probably running an image tag which is not `v0.8.2` (or another `v0.8.x` release), but a build from `master`.

If you are running a `master` build (everything not just having `v0.8.2` as a tag name, you also must use the `master` build tag toolbox and also switch back to a tagged release Rook version ASAP (e.g., upco

[2018-09-26 16:09] jbw976 commented on #2158
hi @Vanuan thanks for your suggestion, I think this is being tracked in #1228 already, take a look at that.  The ceph OSD orchestrator under the covers points Ceph at the specific/unique UUID for the device, so even if the device name changes from say sda to sdb, the OSD will never start using the wrong device.  So data integrity will be protected.

However, as #1228 gets into, the user experience

[2018-09-26 16:09] #2158 closed

[2018-09-26 16:44] travisn commented on #2149
a couple of users in slack also reported this issue in k8s 1.11.3, so it doesn't just affect openshift.

[2018-09-26 16:50] travisn commented on #2066
Here are some more instances:
- https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-2160/1/pipeline
- https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-2159/4/pipeline/

[2018-09-26 17:06] travisn commented on #2149
reopening for backport

[2018-09-26 17:41] galexrt commented on #2066
Are we caching the downloaded packages (of minikube)?
Maybe the instances we build on are getting blocked causing the `apt-get update` to never return for whatever reason.
I think the error could be around here: https://github.com/rook/rook/blob/master/tests/scripts/kubeadm-install.sh#L34-L37

[2018-09-26 18:11] travisn commented on #2148
This is a regression in 0.8. With the redesign in osd pods, it was missed in some places that we need to use the `kubernetes.io/hostname` label to identify a node rather than it's node name. This needs to be set in several places.
- ConfigMap name `local-device-<nodeName>` in the `rook-ceph-system` namespace, written by the discovery pod and read by the operator.
- ConfigMap name `rook-ceph-osd-<n

[2018-09-26 19:19] #2141 closed

[2018-09-26 19:27] calder opened #2162 "Tag release branch after updating versions in yamls"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
YAMLs at the `v0.8.2` tag should pin only `v0.8.2` container images. Instead, they pin `v0.8.1` images: https://github.com/rook/rook/blob/v0.8.2/cluster/examples/kubernetes/ceph/operator.yaml#L292

**Expected behavior:**
YAMLs at version X should pin container images at version X.

**How to reproduce i

[2018-09-26 19:29] calder commented on #2162
To clarify, the bug isn't that this specific version is wrong. It's that the process used for bumping versions and creating version tags makes this possible.

[2018-09-26 20:08] jbw976 commented on #2162
you are totally right @calder, thanks for opening an issue on this. @galexrt has mentioned this a couple times too.  one way to deal with this would be to bump the versions of the yamls before we tag the release branch, that would work for patch builds, but I don't think that would work for the first creation of the release branch since that tag and branch creation comes directly off of master (wh

[2018-09-27 03:51] fkpwolf commented on #2134
Just checked code and found rook only watch Cluster CRD currently. This CRD is rook's resource and doesn't related with k8s cluster. So when new node joined k8s cluster, the Ceph Cluster CRD will be treated as unmodified. But when I set `useAllDevices: ture` , the Ceph Cluster should be same as k8s cluster.

[2018-09-27 05:15] anguslees commented on #2147
It's almost never safe to just reboot a k8s node locally without some sort of external coordination.  Consider what would happen to distributed consensus services (like rook's mon servers) if they all rebooted simultaneously.

I respectfully suggest you switch your workflow/tools to either:
- reboot "externally" using a script that does `kubectl drain` + `ssh reboot` + `kubectl uncordon`
- "reques

[2018-09-27 23:33] travisn commented on #2112
@dimm0 the operator does not currently watch the nodes to see when they are added. Can you restart the operator? Then I would expect the operator to configure the new nodes. There is an issue tracking this somewhere...

[2018-09-27 23:36] dimm0 opened #2164 "Shared FS client path restriction"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Since multiple filesystems are not recommended, there should be a way to restrict namespaces tp accessing only certain folders in Ceph FS. This is supported by ceph: http://docs.ceph.com/docs/mimic/cephfs/client-auth/#path-restriction but rook is not allowing to provide credentials for the mount.

**Wha

[2018-09-28 01:34] anguslees opened #2165 "`df --type ceph`: invalid character '-' after top-level value"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

(I see this error mentioned in passing in other issues, but I didn't find one that tackled this directly)

kubelet logs include:
[code]

**Expected behavior:**

This command should produce (pure json) output that can be parsed by kubelet (ie: just the json output), and there should be no such error lo

[2018-09-28 02:33] dimm0 commented on #2112
I did restart multiple times, no effect

[2018-09-28 07:53] jjgraham commented on #2112
Hi All. Classes are starting again here on campus and we have several hundred users looking forward to a stable rook release and working shared filesystems.

What resources do you need to improve your release testing on large distributed clusters ?

[2018-09-28 10:33] clkao commented on #2072
We found the root cause being the operator process got OOM killed when there are concurrent and multiple PVs being created.  Increasing the memory limit to 512Mi (from the current default 128Mi) can sustain 200 concurrent 100Mi PVs.

This might be also related to #2007, as each (unfinished) PV creation brings about 24M memory pressure.

[2018-09-28 14:51] travisn opened #2168 "Add Kubernetes 1.12 to Jenkins tests"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
With the release of K8s 1.12, we need to test rook on 1.12 as part of our integration tests in jenkins.

[2018-09-28 18:42] tarioch commented on #2082
I'm using the workaround with privileged: false and I'm encountering lots of permission issues on various charts (e.g. redis, mariadb, prometheus) which are all tied to stuff run as non root, if I change those charts to use root user it works. Could this be caused by this workaround? Or is this another issue?

e.g. I'm then running into issues like:

https://github.com/helm/charts/issues/5041
http

[2018-09-28 20:44] calder commented on #1415
Still seeing this with Rook v0.8.2 on Kubernetes v1.10.3:
[code]

[2018-09-29 04:35] MartinForReal commented on #2044
I think it is reasonable to wait until glusterd2 is stable and released.

[2018-09-30 00:01] kcao3 opened #2171 "Ceph dashboard failed to start within the ceph-mgr pod when IPv6 is disabled on host"
**Is this a bug report or feature request?**
* Bug Report

Does anyone run into any issue with the ceph's dashboard (listening at port tcp/7000 inside the rook-ceph-mgr pod) in an environment where IPv6 is disabled on hosts?

The following are errors captured in the ceph-mgr log:
[code]

Does anyone know how to config the ceph-mgr pod so the cepth dashboard will use ipv4 only?

[2018-09-30 03:15] MartinForReal commented on #1822
How about execute following command to check if Gopkg.lock should be updated and if it is abort the ci build when ci flag is set?
[code]

[2018-09-30 16:43] bassam opened #2173 "make sure all vendor dependencies have constraints"
* Bug Report

currently make vendor complains about:

[code]

**Deviation from expected behavior:**

**Expected behavior:**

there should not be any warnings.

**How to reproduce it (minimal and precise):**
make vendor.check

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configuration:
* Rook version (use `rook version` inside of a Rook

[2018-09-30 20:12] bjornryden opened #2174 "mgr pod in CrashLoop in 0.8.x"
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**
After rescheduling the mgr pod, it goes into a CrashLoop with the following:
[code]

**Expected behavior:**
No crash loop ;)

**How to reproduce it (minimal and precise):**
Personally I've experienced it in several test clusters, but haven't had time to dig into it until tonight.
Another user mentioned t

[2018-09-30 23:37] #1824 closed

[2018-10-01 09:29] galexrt commented on #2165
@anguslees This should be fixed by #2161. Which will end up in v0.8.3, which will probably be released in the next days this week.

[2018-10-01 09:29] galexrt commented on #2123
Added to v0.9 milestone/project to fix this security issue.

[2018-10-01 10:11] galexrt commented on #1822
Assigned @bassam as he has opened a PR to close this issue.

[2018-10-01 10:19] galexrt commented on #2123
My observation right now is that we can probably not fix this issue in Rook, but need to search/create an issue at the Kubernetes project as we simply use the `k8smount.SafeFormatAndMount` (see https://github.com/rook/rook/blob/1ed0b6772b3903a638d4a93f4bd600b44f0d39b5/cmd/rookflex/cmd/root.go#L27-L76).

[2018-10-01 10:40] galexrt commented on #2155
@yanchicago We are happy to take a PR to change that to the Docker best practices.
Though I have to question if ADD/COPY are allowing environment variables in the paths/URLs, at least the docs don't state too much about it..

[2018-10-01 10:49] galexrt commented on #2134
Closing as #1435 is tracking this feature/topic.

[2018-10-01 10:49] #2134 closed

[2018-10-01 10:52] galexrt commented on #2171
@dmick @liewegas @travisn any idea what might cause this issue? Only thing I can think of would be that either Rook or Ceph explicitly request to listen on, e.g., `[::]:7000` instead of seeing that no IPv6 is available and using `0.0.0.0:7000`.

@kcao3 Out of personal interest, may I ask why IPv6 is disabled? I find it rather uncommon that one has IPv6 disabled on the servers (e.g., instead of jus

[2018-10-01 11:02] galexrt commented on #1435
To note here, this in general means to add more dynamic to Rook in point of handling new/removed nodes.

Relates to at least: #2107.

[2018-10-01 11:05] galexrt commented on #1858
@jomeier Yes, normally `--force` and `--grace-period=0` should do the job though Kubernetes seems to behave differently with `finalizers` it seems.

[2018-10-01 11:10] galexrt commented on #1292
I'm going to close this issue as it is as written in my previous comment a bluestore "problem" (bluestore was simply not made for being used on top of filesystems).

The default for directories since `>= v0.8` is `filestore` and devices is `bluestore`.

A fix for people in this situation would be to remove the node (as it is required with v0.7) and then recreate the node with the default/"correct"

[2018-10-01 11:10] #1292 closed

[2018-10-01 12:35] galexrt opened #2175 "Enable external Ceph cluster volume provisioning"
**Is this a bug report or feature request?**
* Feature Request

**Feature Request**

**What should the feature do:**
The feature should allow the existing Rook Ceph mounting logic to be used with "external" Ceph cluster (~ not managed by Rook Ceph operator).

**What would be solved through this feature:**
Allowing to use the Rook Ceph mounting logic for non in Kubernetes Rook Ceph clusters.

**Doe

[2018-10-01 12:53] kcao3 commented on #2171
Here's what I found: https://github.com/ceph/ceph/blob/master/src/pybind/mgr/dashboard/module.py#L119
server_addr = self.get_localized_config('server_addr', '::')
Is there a way to set the localized config in rook's Ceph so that the server_addr variable is set to '0.0.0.0' instead of '::' when the ceph-mgr pod is launched?

[2018-10-01 17:27] soakes commented on #2174
I can confirm that I also expernce this same issue but didnt manage to track it down to RGW's causing the problem until Bjorn kindly contacted me on Slack last night.

The only solution I had was to switch to 0.7.1 for now which has been stable as a rock for many months on other clusters.

I will give this another whirl just with cephfs+rbd which hopefully should cure this (for now).  Thankfully I

[2018-10-01 17:29] jbw976 commented on #2165
I'm not sure about that @galexrt, the output says `Failed to unmarshal output for command: unmount` and the change in #2161 only affects the mount path. This may be something different.  @anguslees do you have debug logging turned on?

[2018-10-01 17:51] #1822 closed

[2018-10-01 17:51] #2173 closed

[2018-10-01 18:41] jbw976 commented on #2123
could this be fixed with using a secretFile instead? http://docs.ceph.com/docs/mimic/cephfs/kernel/

e.g.:
[code]

#257 to use the kernel keyring would be another option.

To open upstream kubernetes issues, you can open an issue then just cc/tag sig-storage in it, I think that's a good way to call attention to it, e.g. https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3

[2018-10-01 20:15] dmick commented on #2171
So, I'm a bit confused; the server port defaults to 8443 for SSL and 8080 for non-SSL; unless it's set in the ceph configuration, which I don't see, those ports should be the local listening ports.  It's entirely possible I'm missing where it's set.

[2018-10-01 20:43] dmick commented on #2171
in any event, you can certainly explicitly set the server_addr config value, too, although I'm surprised cherrypy fails rather than simply listening on the v4 address.

[2018-10-01 21:00] travisn commented on #2148
Reopening for backport

[2018-10-01 21:17] kcao3 commented on #2171
How to explicitly set the server_address value? Can this be set in a config file somewhere when starting the rook-ceph-mgr pod? Right now I have to hack the dashboard module.py by mounting in as a k8s ConfigMap.

[2018-10-01 22:47] dmick commented on #2171
You can set it with a "ceph config" command.  I'm looking for mechanisms to run such commands defined in the container and not finding anything yet, but you can certainly use the ceph CLI "by hand" from the ceph toolbox pod to set the values.  ```ceph config set mgr mgr/dashboard/a/server_addr 0.0.0.0``` should do it, and then you'll need to restart the ceph-mgr.

[2018-10-02 03:46] anguslees opened #2177 "cephfs volume times out during container start, due to recursive selinux relabelling"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I have a rook/cephfs volume that used to work fine, but now takes ~10 minutes per container, which hits all manner of timeouts and the pod now fails to start.

I believe (due to the below) the trigger was copying a bunch of existing data into the cephfs volume - it now contains ~60k files.

I'm new to

[2018-10-02 05:09] dimm0 commented on #2112
Any way for us to add some storage?

[2018-10-02 07:12] dimm0 commented on #2112
Node is schedulable

[code]

Not in cluster

[code]
Adding node definition

[code]

Remains in CRD:

[code]

Restarting operator

[code]

Prepare is not done

[code]

Operator logs, zero mentions of knuron:
[op.logs.zip](https://github.com/rook/rook/files/2436811/op.logs.zip)

[2018-10-02 07:42] galexrt commented on #2162
@TimJones Not really as most users directly pull the manifests from the repo.
To break it down: the git tag is made before the yamls have been updated to use the new tag.

[2018-10-02 08:39] galexrt commented on #2165
@jbw976 @dimm0 mentioned he had this issue too https://github.com/rook/rook/issues/2149#issuecomment-424424133 but as he closed the issue now I assumed the error was also solved by that as far as I understand.

[2018-10-02 08:52] anguslees commented on #2165
I still see this in the kubelet logs (3 minutes ago) after the upgrade to rook 0.8.3 earlier today:
[code]

[2018-10-02 09:11] TimJones commented on #2162
@galexrt I see.
It feels a bit hacky to me, but would a sed + commit command in https://github.com/rook/rook/blob/v0.8.2/build/release/Makefile#L100-L111 work?

[2018-10-02 09:56] galexrt opened #2178 "Readme does not contain info that Rook is a CNCF incubating project now"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The readme does not have info that Rook is a CNCF incubating project now.

**Expected behavior:**
The readme should have info that Rook is a CNCF incubating project now.

**How to reproduce it (minimal and precise):**
Look at the README.md.

/cc @bassam

[2018-10-02 14:56] #2178 closed

[2018-10-02 15:01] jbguerraz commented on #2168
@mickymiek is actively working on it now

[2018-10-02 16:07] rootfs commented on #2165
@anguslees were you using cephfs by any chance?

[2018-10-02 16:40] mickymiek commented on #2168
I ran integration tests on all test suites on a single node k8s 1.12.0 cluster using kubeadm
`BlockCreateSuite` and `NfsSuite` passed, all others failed

`CockroachDBSuite`: https://gist.github.com/db39dd5434e181350ad978b09673e229

`HelmSuite`: https://gist.github.com/1801b0f2d171b4b26950d81cc91cbd87

`SmokeSuite`: https://gist.github.com/03cc3db06c923c28122bd87465c4a0d6

`UpgradeSuite`: https://g

[2018-10-02 18:47] dimm0 commented on #2174
Same here right after deploying an object storage additional to block storage

[code]

[2018-10-02 18:49] galexrt commented on #2174
@dmick @liewegas @rootfs I have the feeling this could be because of the "applications" we assign to the pools during the creation process by the Rook operator. Could that be an issue?

[2018-10-02 21:42] BlaineEXE opened #2181 "Rook begins terminating next OSD before current OSD pod is running"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Output from `kubectl get pods` below (some pods removed to reduce output) shows that while osd-2's pod is still in `Init` stage, Rook has already begun terminating osd-6. In a cluster with a replication factor of 2, this could easily result in data loss unless there is some health checking going on du

[2018-10-02 21:46] BlaineEXE commented on #2181
@travisn I observed this behavior while testing my mds upgrade. I haven't poked at the code that defines this, so I'm not certain that there is any danger of rook actually bringing 2 osds down at the same time. If it is, that might be a problem we need to fix soon.

If it's not, it's less of an issue, but I think from a user standpoint, they would rather see the behavior I was expecting, which wou

[2018-10-02 21:47] dmick commented on #2174
I don't think Cherrypy's terminology is related to Ceph's.  There doesn't seem to be enough information in the log to tell which manager plugin caused that issue; prometheus and dashboard both use it.

[2018-10-02 21:49] dmick commented on #2174
I'd probably try increasing the manager debug level.  "debug mgr = 10" or so in a ceph.conf, or a conf override, or whatever the easiest thing is

[2018-10-02 21:53] travisn commented on #2181
@BlaineEXE Do you still have the operator logs? If so, do you see messages like the following in the log?
```gave up waiting for deployment rook-ceph-osd-0 to update"```

In [this function](https://github.com/rook/rook/blob/master/pkg/operator/k8sutil/deployment.go#L89), the operator will wait up to two minutes for an osd deployment to be updated. If it does not update in that amount of time, it w

[2018-10-02 23:10] BlaineEXE commented on #2181
I do see some of those in the log, yes. As far as the osds go, I'm not sure if I can say whether that value is reasonable or not. As I am watching the most recent upgrade happen now, it seems that the behavior may be that the old osd doesn't actually finish terminating until the new one is initialized. Maybe what needs to happen is to terminate the old/current osd and then start bringing the new o

[2018-10-03 02:00] anguslees commented on #2165
Yes, this is a cephfs volume (and it is mounting successfully at the host level, but then containers fail to run due to #2177. Containers are going straight from "creating" to "terminating", just in case that edge on the state machine is relevant here)

I have every reason to believe the command is this line of code:
https://github.com/rook/rook/blob/d7b03a59c1ade92077117ba702fab2075a3ec236/cmd/ro

[2018-10-03 06:03] dimm0 commented on #2174
Are you saying that it works fine in your test environment and you can't reproduce?

[2018-10-03 06:16] bjornryden commented on #2174
Worth noting: If you follow the thread @ ceph (https://tracker.ceph.com/issues/24982), people specifically note that it's a prometheus/metrics problem. It seems disabling metrics being pushed from the rgw's to the mgr alleviates the situation.
There's no merged fix it seems?

[2018-10-03 11:32] maximilize opened #2183 "OSD setup on new device fails"
**Is this a bug report or feature request?**
* Bug Report

**Bug Report**

**Expected behavior:**
rook-ceph-osd-prepare job will succeed.

**Deviation from expected behavior:**
When rook is setting up a new device it happens that the links to the device partitions are not created in /dev/disk/by-partuuid. Instead there will be created one 10 GB empty file with the desired uuid as filename.
The oth

[2018-10-03 20:22] BlaineEXE opened #2185 "Ceph state "watcher(s)""
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
There are several places in the Ceph operator where the operator will report an error message to the log but will continue with its intended action. I believe this behavior to be correct. This seems like it could result in resource leakage by old Kubernetes resources left around or could result in Ceph

[2018-10-03 22:07] mabushey opened #2186 "rook-ceph-agent in CrashLoopBackOff"
2. For general technical and non-technical questions, we are happy to help you on our [Rook.io Slack](https://Rook-io.slack.com).
Sounds great, how would I get the required @rook.io email address?

3. Did you already search the existing open issues for anything similar?
yes

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-ceph-agent-nhjmt

[2018-10-03 22:11] travisn commented on #2186
@mabushey can you share the logs for one of the crashlooping agents? Also `kubectl describe` on the pod may be helpful.

[2018-10-03 22:17] mabushey commented on #2186
$ `kubectl -n rook-ceph-system logs rook-ceph-agent-nhjmt`
failed to open log file "/var/log/pods/7f041868-c756-11e8-8fa0-064ce4bb95ae/rook-ceph-agent/9.log": open /var/log/pods/7f041868-c756-11e8-8fa0-064ce4bb95ae/rook-ceph-agent/9.log: no such file or directory

$ `kubectl -n rook-ceph-system describe pod rook-ceph-agent-nhjmt`
[code]

[2018-10-03 22:29] travisn commented on #2186
ok, looks like this is the key error:
[code]

[2018-10-03 22:49] mabushey commented on #2186
Thank you. I have CoreOS, so the default path is RO.
I added
[code]
to operator.yml and the agents come up now.

There's a section `Configuring the Kubernetes kubelet` that makes no sense, I don't know what `You need to add the flexvolume flag with the path to all nodes’s kubelet in the Kubernetes cluster`. What is an `all nodes’s kubelet`?

[2018-10-03 22:58] mabushey commented on #2186
I found https://github.com/kubernetes/kops/issues/5539:

`kops update cluster --state=s3://myco-k8s`
add to spec:
[code]
`kops update cluster --state=s3://myco-k8s --yes`

`kops rolling-update cluster --state=s3://myco-k8s`
`kops rolling-update cluster --state=s3://myco-k8s --yes`

[2018-10-04 01:51] BlaineEXE opened #2188 "Ceph CRD hangs / deadlock on deletion"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Deletion of crd `clusters.ceph.rook.io` hangs

[code]

I believe this may be related to https://github.com/kubernetes/kubernetes/issues/60538#issuecomment-369099998
stating that crds with finalizers can deadlock.

**Expected behavior:**
Crd is deleted.

**How to reproduce it (minimal and precise):**
I'

[2018-10-04 02:08] anguslees commented on #2177
After some brief [slack discussion](https://kubernetes.slack.com/archives/C09QZFCE5/p1538408298000100) with @gnufied, it was pointed out that the in-tree `cephfs` volume types does _not_ do selinux relabelling.  Following this line of thought, the below patch immediately fixes the above issue for me:

[code]

I suspect a real patch would want to declare `selinuxRelabel=false` only for cephfs, not

[2018-10-04 10:58] johnae opened #2189 "Rook ceph agent crashloops on NixOS"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-ceph-agent crashlooping

**Expected behavior:**
rook-ceph-agent starts up as expected

**How to reproduce it (minimal and precise):**
install [NixOS](https://nixos.org) and run kubernetes on it then
try creating the rook operator

**Environment**:
* OS (e.g. from /etc/os-release):
NAME=NixOS
ID=ni

[2018-10-04 17:38] dimm0 commented on #2112
Any update on this? We have more storage to add to the cluster...

[2018-10-04 19:34] travisn commented on #2112
@dimm0 here is a clue from the operator log:
[code]

The nodes not being applied must be the other two considered not valid by Rook. [Here](https://github.com/rook/rook/blob/release-0.8/pkg/operator/k8sutil/node.go#L32) is the `ValidNode()` function that determines the validity. The node must be schedulable, ready, not have taints, or have node affinity. Did you specify any `placement` element for

[2018-10-04 21:13] gnufied commented on #2177
in-tree has two separate drivers for cephfs and RBD. Can we not do something like that. I am not familiar with rook so apology if it is unworkable. cc @rootfs

[2018-10-04 22:39] dimm0 commented on #2112
Ok, that's looking like the cause.

I have several PreferNoSchedule taints on my nodes (after restart the operator started deleting another node which I recently tainted)

In my operator I have:

        - name: DISCOVER_TOLERATION
          value: "PreferNoSchedule"
        - name: AGENT_TOLERATION
          value: "PreferNoSchedule"

Which doesn't seem to help

[2018-10-04 22:50] dimm0 commented on #2112
Added OSD tolerations to cluster, now all nodes are in. Thanks!

[2018-10-04 22:50] #2112 closed

[2018-10-04 23:12] dimm0 commented on #2174
Is there a way to disable metrics for S3, and only have blockdev working? (like it worked before enabling s3)

[2018-10-05 01:31] dimm0 commented on #1996
Same here when adding new node. 4 out of 12 OSDs are crashlooping and staying out of node in crash tree

[2018-10-05 03:33] travisn commented on #1996
@dimm0 a few questions:
- Are all 12 OSDs on the same node?
- Is there any association between the 4 OSDs?
- You're running on `v0.8.3`?
- Is it the same error in the log that is seen above?
[code]

[2018-10-05 03:34] travisn commented on #2148
Already backported with #2176

[2018-10-05 03:34] #2148 closed

[2018-10-05 04:49] dimm0 commented on #1996
Are all 12 OSDs on the same node? - yes
Is there any association between the 4 OSDs? - not really... looked like some race condition when provisioning
You're running on v0.8.3? - no, didn't switch yet. Between 8.2 and 8.3
Is it the same error in the osd log that is seen above? - didn't check

I restarted the operator again, and it created more OSDs instead of these faulty ones. There remained in t

[2018-10-05 07:11] galexrt commented on #2188
@BlaineEXE Yes, it is documented, see https://rook.io/docs/rook/v0.8/ceph-teardown.html#troubleshooting.
I don't think we can really do anything more about this.
Problem at least for some users, is that the cleanup is not done in the correct order (e.g., deleting the operator first) causing the "process" of deleting PVC and stuff that will be deleted by the operator on delete to not happen and/or

[2018-10-05 15:30] rootfs commented on #2177
@anguslees  check this out https://tracker.ceph.com/issues/5486

cc @batrick for cephfs selinux latest status

[2018-10-05 16:30] #2165 closed

[2018-10-05 16:58] travisn commented on #2175
Today the rook dynamic provisioner translates to the rook flex driver. Are you saying the dynamic provisioner would also now be able to translate to the in-tree rbd and cephfs drivers? That could be an interesting feature for users who still need to use those drivers.

[2018-10-05 17:41] travisn commented on #2175
I'm thinking of the PersistentVolume being generated, just with a different PersistentVolumeSource. [Here](https://github.com/rook/rook/blob/master/pkg/operator/ceph/provisioner/provisioner.go#L117) we generate it with the Rook flex driver as the PersistentVolumeSource. Would the source in this case be the in-tree rbd or cephfs driver? If not, I must not be understanding the feature.

[2018-10-05 21:19] elthariel commented on #2174
Having the same issue on a RKE cluster running K8s 1.11.1

It's been working happily for 20 days, then a node reboot had the mgr re-scheduled on another box, then this crash loop started.

[2018-10-05 21:37] travisn commented on #2174
@elthariel if you scale the RGW services back to one, does the mgr start after that? The issue described in https://tracker.ceph.com/issues/24982 sounds like scaling the RGW services down temporarily should help workaround this.

[2018-10-05 22:08] BlaineEXE opened #2193 "Ceph mdses scale up but not down"
**Is this a bug report or feature request?**
* Both

**Deviation from expected behavior:**
When updating a ceph filesystem in Rook with a lower active mds count, the mdses no longer scale down.
https://github.com/rook/rook/pull/2153#discussion_r223146862

**Expected behavior:**
mdses should scale down if the number of active daemons decreases. As well, their secrets need deleting.
Fixing this shou

[2018-10-05 23:51] dimm0 commented on #2174
Hmm.. I modified the s3 objectstore operator to scale RGW to one, and it deleted the deployment and never recreated. Is there a way to create one again?

[2018-10-06 00:16] anguslees commented on #2177
@rootfs: I think you might misunderstand the nature of my bug report.  Afaict cphfs _supports_ selinux labels just fine (setxattr).  The issue is that we don't _want_ docker to relabel cephfs volumes when they're used as kubernetes ReadWriteMany PVs.  As prior art, I offer the in-tree [nfs](https://github.com/kubernetes/kubernetes/blob/a4aab0e1e7fee44c712bd7031e118919389df2b3/pkg/volume/nfs/nfs.go

[2018-10-06 17:58] drake7707 commented on #1125
Would also like to see this. We're running kubernetes inside a docker container (using a docker-in-docker solution) for a clean setup/teardown and rapid on premise deployment. This causes issues with mounting the RBDs to the pods as the libceph used in the kernel expects the context to be the initial network namespace  and --net=host is not an option.

[2018-10-06 18:37] #1812 closed

[2018-10-07 16:40] airdos360 opened #2196 "After node restart OSD down, in"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After node shutdown for maintenance, the node comes back online and all the monitors start up correctly and agents but the OSD goes into a state of down, in.   The OSD then goes into backoff.    To get the OSD back, I have to delete the OSD pod and it comes right back.

**Environment**:
CENTOS 7
Kuber

[2018-10-07 16:50] airdos360 opened #2197 "Rook Mon Low on Disk Space"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After deploying rook and adding 6Gb on a 500Gb cluster, I am continually getting this error on 1 of 4 mons.  On the system, there is 56% of the storage free (/var) so there is plenty of available space and on the Rook directory, only 3% used.

2018-10-06 20:05:09.019463 [INF]  Cluster is now healthy
2

[2018-10-08 09:36] daiyoung commented on #1693
@mrpity see https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/rbd/README.md

[code]

or see https://github.com/kubernetes-incubator/external-storage/issues/885

[2018-10-08 11:23] Tabrizian opened #2198 "cluster.ceph.rook.io never deletes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
```cluster.ceph.rook.io``` never gets deleted.

**Expected behavior:**
```cluster.ceph.rook.io``` becomes deleted after a couple of time.

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="16.04.5 LTS (Xenial Xerus)"
ID=ubuntu
ID_L

[2018-10-08 14:12] #1713 closed

[2018-10-08 18:33] travisn commented on #2198
@Tabrizian Did you try out the uninstall guide? https://rook.io/docs/rook/v0.8/ceph-teardown.html

[2018-10-09 07:09] MartinForReal commented on #2062
How about adding a field in CRD to indicate if operator should create nfs provisioner, and create a deployment for https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client ?

[2018-10-09 08:04] MartinForReal opened #2201 "failed to mount pv because volume mode is missing"
**Is this a bug report or feature request?**
* Bug Report
Failed to mount pvc which is provisioned by rook rbd provisioner.

**Deviation from expected behavior:**
Failed to mount pvc which is provisioned by rook rbd provisioner.

[code]
Got pv
[code]

And following messages are found in the log of kubelet

[code]

**Expected behavior:**
Should mount pvc without error

**How to reproduce it (minima

[2018-10-09 12:55] galexrt opened #2203 "Add node/OSD count requirements to examples/docs"
**Is this a bug report or feature request?**
* Feature Request

Add notes about cluster size to the Rook Ceph docs.
Example: the Ceph object store doc page does not contain info about how many nodes/OSDs are needed to run the example https://rook.io/docs/rook/v0.8/object.html.
Same goes partially for the example files in `cluster/examples/...`.

[2018-10-09 13:04] Tabrizian commented on #2198
No, I just found it and it helped. Thank you very much!

[2018-10-09 13:04] #2198 closed

[2018-10-09 13:31] galexrt commented on #2201
Have you enabled the `BlockVolume` feature flag in your cluster? See https://github.com/kubernetes-incubator/external-storage/issues/670.
Also make sure if you have enabled it, that it is enabled on all your apiservers and/or other Kubernetes components that require it.

[2018-10-09 17:10] jbw976 commented on #1507
@travisn @rootfs is there anyone at redhat that is an RBD expert that can comment on any possible updates in this scenario.  To summarize, if contact with a node in the cluster is lost, is there any way for another node in the cluster to confidently know that it is safe to start up a new client to that same RBD volume?  Can the new node "forcefully" remove the old client?

[2018-10-09 17:11] jbw976 commented on #1507
Adding to 0.9 since this is hurting production deployments such as @dimm0

[2018-10-09 17:49] dimm0 commented on #2174
Got it working with 1 RGW

[2018-10-09 18:11] #1789 closed

[2018-10-09 18:36] #2186 closed

[2018-10-09 19:52] jbw976 commented on #2038
it looks like the NFS operator also iterates through all the given export specs, implying that multiple exports are supported: https://github.com/rook/rook/blob/master/pkg/operator/nfs/controller.go#L120

what other work to support multiple exports would there be remaining @rohan47?

[2018-10-09 22:06] travisn commented on #2174
@dimm0 What got it working again? You had to wait for the cluster to get healthy again before the operator would start rgw?

[2018-10-10 04:34] dimm0 commented on #2174
Healthy cluster is not what it wanted. I had to manually clear some configmaps for non-existent nodes and kill prepare jobs which were not going to run for various reasons, so that the operator init would succeed (it's taking more than an hour on our cluster), only after that it created the RGW

I was going to suggest, could you separate different processes, which are independent of each other, in

[2018-10-10 06:53] sebastien-prudhomme commented on #796
@galexrt Any news on this feature now that local storage is in beta since Kubernetes 1.10

[2018-10-10 06:59] galexrt commented on #796
This will probably be handled by #919.

[2018-10-10 07:18] elthariel commented on #2174
@travisn It's also working on my cluster when I scale the rgw to 1

[2018-10-10 07:44] jan--f opened #2205 "ceph/mds: don't set mds_standby_for_fscid"
For standby MDS the option ```mds_standby_for_fscid``` is set. This has no effect as long as the multi-fs feature is not used. Once this feature is available this setting will limit a deployments flexibility.

This option should not be set to allow standby MDS to take over for any active daemon.

[2018-10-10 08:12] jan--f opened #2206 "ceph/mds: RemoveFilesystem deletes pools"
```RemoveFilesystem``` removes a file system _and_ deletes the involved pools. Either the functions is badly named or it does too much. Imho it should be an option the remove the pools. One should be able to remove an fs instance but keep the pools (this should actually be the default).  Otherwise this might lead to unexpected data loss, if a user would like to, say rename a fs instance.

[2018-10-10 14:22] dab-q opened #2208 "OSDs not automatically started when adding nodes to existing cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I started up a 4 node k8s VM cluster, 1 k8s master node and 3 worker nodes.  Each VM has an additional 30GB virtual disk for Rook/Ceph to use.  Rook came up and the Ceph cluster was created, and OSDs were started on the 3 worker nodes.  Later on, after everything was up, I removed the master taint from

[2018-10-10 14:55] travisn commented on #2003
@BlaineEXE anything left for this issue? I believe we have covered it with:
- mon: #2095
- mgr: #2114
- osd: #2146
- mds: #2153
- rgw: #2191

[2018-10-10 15:44] BlaineEXE commented on #2003
I think that's everything, yes. =)

One thing I want to add just for documentation purposes is that #2193 (mdses don't scale down) is an issue that was introduced in #2153 and is a regression. That's my next development goal.

[2018-10-10 15:45] #2003 closed

[2018-10-10 17:23] alfredodeza opened #2209 "CI needs nightly tests for release branches"
There needs to be nightly verification of release branches from Ceph (e.g. luminous, mimic), including master. This will help when tools like ceph-volume inadvertently cause breakage.

Related to: https://github.com/ceph/ceph-container/issues/1200

[2018-10-10 18:56] galexrt commented on #2164
As a first thing to implement a kind of restriction here, as we talked in the community meeting adding a parameter to the StorageClass to control the user and the key/secret that used to do the mounting should be enough to help @dimm0 solve their problematic with their (NFS) workaround.

[2018-10-10 19:34] travisn commented on #2164
wait, scratch my last comment... As discussed in slack, we're not using an SC for filesystem. We probably have to just add the username/secret to the Flex volume settings.

[2018-10-10 20:00] #2168 closed

[2018-10-10 22:07] #2188 closed

[2018-10-11 08:44] LittleFox94 commented on #1897
Some more information I just found out:

* I might have deleted a mon manually some time, it seems like the old IP of that mon is still around somewhere and the new one is confused from the new IP. I definitely deleted the data dir on the host

* WORKAROUND I just found: in the rook-ceph-mon-endpoints I incremented maxMonId. I then deleted the replicaset of the failing mon and restarted the rook-c

[2018-10-11 15:33] travisn commented on #1802
still very much needed

[2018-10-11 22:51] jmccormick2001 commented on #2045
I was getting this error today on ocp 3.10, I was not using the ovs multitenate plugin, so what I did was just specify all rook resources to be created in the rook-ceph-system namespace instead of both namespaces.  That got me past this error.

[2018-10-11 23:04] jmccormick2001 commented on #1991
I think I've hit this on ocp 3.10...using the storageclass I can create the PVC, but the Deployment fails to create a replica that uses that PVC.  If I create the pvc manually and reference it by name within
a pod it appears to work.  Here is an error from the agent log:
2018-10-11 22:52:55.227877 I | exec: Running command: rbd map replicapool/pvc-633b3973-cda8-11e8-8b69-52540096603f --id admin --

[2018-10-12 09:20] snowmansora commented on #1501
Hi, recently I have upgraded my setup to use K8s 1.11.3.

Also, I have automation that deploys a 3 nodes K8s cluster, deploys rook-ceph, and deploys a StatefulSet that uses rook-ceph block storage on each nodes. I ran the automation multiple times, and the StatefulSet pods can never scale to all nodes because 1 or more nodes have the problem mentioned in this issue.

I am using rook 0.8.3 which I

[2018-10-12 10:17] sebastian-philipp opened #2213 "Ceph Nautilus: rook should enable the mgr/orchestrator modules"
**Is this a bug report or feature request?**

✓ Feature Request

**What should the feature do:**
When creating a new cluster, Rook should enable the orchestror modules automatically:
[code]

**What is use case behind this feature:**
The Rook module is especially designed to run within a Rook context. As it is a key-feature, we should start that module automatically. Especially with a possible inte

[2018-10-12 14:55] travisn commented on #1501
@snowmansora looking forward to hear if writing the dummy file works for you. Before we get a fix from upstream (https://github.com/kubernetes/kubernetes/issues/60694), we will need a workaround.

[2018-10-12 16:33] travisn commented on #2174
@dimm0 agreed, there is no need for rgw to wait for osd orchestration. We've just kept the operator mostly single-threaded to keep it simple. I'd like to understand better why it takes so long for the orchestration to complete. It's taking a hour to process all the OSDs? Can you see anything in the logs that is slowing down the OSDs, or there are just that many OSDs?

[2018-10-12 18:06] dimm0 commented on #2174
We have 180 OSDs currently, and going to have even more.

[2018-10-12 23:16] galexrt commented on #2164
@dimm0 and I had a chat about this issue and we came to the following way to implement this feature as follows:

Two (security) modes (flag/env var on operator, will be given to rook-ceph-agent DaemonSet):
1. Any (default) - just use admin as the current behavior
2. Restricted - User must set id and secret name (secret is per namespace) for mounting

PVC/Volume parameters are used to set `mountUse

[2018-10-12 23:49] travisn commented on #2164
Some questions on the proposal:
- Why do we need a default secret name? Is this just a convenience to have a default so it doesn't have to be specified on the volume? I'd lean towards not having a default. Kubernetes resources usually follow a pattern of being very explicit.
- Since the secret must be accessible by the agent, we will need a RoleBinding for each namespace where the privilege is nee

[2018-10-13 02:18] kfox1111 opened #2215 "Partition support"
I have a very small embedded 3 node arm cluster I would like to run rook on. It does have disks but I need to share them with the os. I would like to use bluestore as the cluster will be slow to begin with. So the reduced overhead would be noticeable. I need a way to specify partitions to use with bluestore.

[2018-10-13 13:45] #2193 closed

[2018-10-14 10:39] galexrt commented on #2164
@travisn to your points:
1. It would be just for convenience but yes as you wrote Kubernetes pattern is if being very explicit.
2. I added RBAC roles in the doc section. The user can either create a ClusterRoleBinding and is good to go or use a RoleBinding per Namespace.

I will update my previous comment with these changes.

[2018-10-14 11:36] rohan47 commented on #2038
Sorry for the late response.
@MartinForReal I tried out multiple exports with a similar resource definition like the one you mentioned and it works fine. Multiple exports are supported as mentioned by  @jbw976 .

@jbw976 there should be integration tests to confirm the same.

[2018-10-14 16:10] #1860 closed

[2018-10-14 16:10] #1859 closed

[2018-10-15 01:48] rocket1024 opened #2217 "failed to run operator:privileged: Forbidden: disallowed by cluster policy"
is there some policy security steps needed set for running the operator?
"failed to run operator. Error starting agent daemonset: Error starting agent daemonset: failed to create rook-agent daemon set. DaemonSet.apps "rook-agent" is invalid: spec.template.spec.containers[0].securityContext.privileged: Forbidden: disallowed by cluster policy
"
steps 1:
kubectl create -f rook-operator.yaml
steps 2:

[2018-10-15 09:45] nemesis09 commented on #2038
Can I work on this issue, if no one is already working?

[2018-10-15 09:51] rohan47 commented on #2038
https://github.com/rook/rook/blob/master/tests/framework/installer/nfs_manifests.go#L174 adding a new export here and making necessary changes will help.

[2018-10-15 21:32] gadelkareem opened #2220 "Rook: Mount volume failed: failed to get persistent volume pvc-XXX: Unauthorized"
* Bug Report
Unauthorised error when using storageClass with minikude

**Deviation from expected behavior:**
Getting error `pvc-0661bf29-d0c0-11e8-970a-000c29f4c648" : mount command failed, status: Failure, reason: Rook: Mount volume failed: failed to get persistent volume pvc-0661bf29-d0c0-11e8-970a-000c29f4c648: Unauthorized`

**Expected behavior:**
Same setup works correctly on ubuntu VM on the

[2018-10-15 21:36] gadelkareem commented on #1830
#2220

[2018-10-16 00:42] dimm0 opened #2221 "HEALTH_WARN 1 large omap objects"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When creating a large S3 bucket, I see the error in cluster health:

[code]

**Expected behavior:**
I expect the dynamic resharding feature to take care of shards.

https://tracker.ceph.com/issues/24457

http://docs.ceph.com/docs/mimic/radosgw/dynamicresharding/ is mentioning the "rgw_dynamic_reshardin

[2018-10-16 01:54] tsullens commented on #2037
Is this still a valid feature request?

[2018-10-16 10:45] #2155 closed

[2018-10-16 13:39] liewegas commented on #2181
Two things:

- Ideally we should leverage the 'ceph osd ok-to-stop' to know if it's fine to upgrade the next osd.  it's smart enough to say no if stopping the osd would make pgs unable to peer.  There is some risk, though, that a poorly set up cluster will simply be unable to proceed with restarts because the osd can't be stopped, maybe because another osd is down.
- After an osd is started, we pr