[2017-08-10 03:53] jbw976 opened #889 "rookctl status warning for " application not enabled on 1 pool(s)""
With Rook v0.5 (using Ceph Luminous), the following warning is shown from `rookctl status` when a pool has objects in it but no application tag:
[code]

From the ceph docs, this happens when "A pool exists that contains one or more objects but has not been tagged for use by a particular application.":
http://docs.ceph.com/docs/master/rados/operations/health-checks/#pool-app-not-enabled

It's not e

[2017-08-10 03:58] jbw976 commented on #889
This comment on a ceph bug indicates that the ceph core doesn't care what the application tag is: http://tracker.ceph.com/issues/20891#note-14

[2017-08-10 07:54] alirezaDavid opened #890 "Affinity doesn't apply to mds and mgr"
We set `placement` property in rook-cluster.yaml like this:

[code]
Then check all auto generate obbject (api, mgr, mds, osd) like this:
` kubectl -n rook get deployment rook-ceph-mds -o yaml`
` kubectl -n rook get deployment rook-ceph-api -o yaml`
` kubectl -n rook get deployment rook-ceph-mgr0 -o yaml`

for example, `affinity` exists in `rook-ceph-mgr0` object yaml file:
[code]

But in `mds` and

[2017-08-10 12:34] galexrt opened #891 "IOPS and Throughput metric always zero"
After some testing around it seems that the metrics for IOPS and throughput are always zero, as can be seen here: https://snapshot.raintank.io/dashboard/snapshot/KiMnh4syynFvqYdu3akRPWqngjlgq8z6?refresh=10s&orgId=2 (ignore the bad latency :grin:).

The prometheus used here is started from the `demo/kubernetes/monitoring/` directory.

Also the `rook-api-*` pod metrics endpoint also reports zeros, o

[2017-08-10 14:31] galexrt commented on #849
Is #891 also possibly related to this?

[2017-08-10 19:21] jbw976 commented on #796
There is potentially some overlap with #726 where perhaps all pod configuration could be stored in configmaps or other kubernetes facilities, instead of relying on ceph config files to be persisted on the host of the pod using the new "local storage" feature.

Note that wouldn't solve the issue of ceph (mon, osd) metadata that is generated by ceph and is needs to be persisted to local disk no matt

[2017-08-10 19:56] jbw976 commented on #849
It very well may be related @galexrt, thanks for reporting.  I'm going to be looking into these metrics regressions for a potential v0.5.1 minor release.

[2017-08-10 21:05] dylanjohnsonsfo opened #892 "Error starting ceph monitor"
For some reason one of the nodes in my k8 cluster won't bring up ceph and throws the following error. the monitor pod are coming up fine on the other nodes which should be identical as regards version / configs etc.

Her is the error ...

rook error: mon-endpoints,mon-secret,admin-secret are required for mgr

[2017-08-10 21:18] travisn commented on #892
Something seems corrupted in the rook-ceph-mgr pod spec. What does the spec show in the environment variables? This error is complaining that the ROOK_MON_ENDPOINTS, ROOK_MON_SECRET, and ROOK_ADMIN_SECRET variables are not found.
[code]

[2017-08-10 21:32] dylanjohnsonsfo commented on #892
`djoh-mbr-11464:~` djohnson$ kubectl -n rook describe po/rook-ceph-mgr0-562916904-1gjmf
Name:		rook-ceph-mgr0-562916904-1gjmf
Namespace:	rook
Node:		ip-172-17-22-63/172.17.22.63
Start Time:	Thu, 10 Aug 2017 14:24:56 -0700
Labels:		app=rook-ceph-mgr
		pod-template-hash=562916904
		rook_cluster=rook
Annotations:	kubernetes.io/created-by={"kind":"SerializedReference","apiVersion":"v1","reference":{"k

[2017-08-10 21:34] dylanjohnsonsfo commented on #892
not sure why they are empty vars as this did work once upon a time.

[2017-08-10 21:40] travisn commented on #892
Did you upgrade the cluster? It looks like the variables have the `ROOKD` prefix instead of `ROOK`. This is a change we made recently. You must have a pod spec from a previous run, but a new version of the daemon.

[2017-08-11 03:05] #844 closed

[2017-08-11 03:17] dangula commented on #696
This is solved by stashing results logs on slaves, un stashing them on master and converting them to junit results. Close this issue(fixed with PR 888

[2017-08-11 03:17] #696 closed

[2017-08-11 03:18] dangula commented on #842
This is sloved by moving to kubeadm

[2017-08-11 03:18] #842 closed

[2017-08-11 03:19] dangula commented on #845
Closing this ticket, by moving to Kubeadm, there is no need to preload images.

[2017-08-11 03:19] #845 closed

[2017-08-11 03:20] dangula commented on #687
Closing this issue. Test framework has gone through a lot of changes and this ticket is obsolete now.

[2017-08-11 03:20] #687 closed

[2017-08-11 03:23] dangula opened #895 "Update jenkins pipeline - convert integration test results to junit format and archive them."

[2017-08-11 15:13] travisn commented on #890
Ok, #896 will apply the mgr affinity. The rgw and mds placement, however, are more complicated right now. We really need to implement CRDs for those services to apply the affinity. See #697 and #698

[2017-08-11 16:03] jbw976 commented on #659
This is fixed now with https://github.com/rook/rook/commit/ec181c039087f93272b3ba2b788fcd7b84e5a162 right @travisn?

[2017-08-11 16:05] jbw976 opened #897 "Rook logs should be collected upon integration test failure"
When an integration test fails, it would be very helpful if the Rook logs are collected to aid in debugging before the environment is torn down.

example: https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-894/1/pipeline/#step-55-log-193

This should help with how to collect the logs: https://github.com/rook/rook/blob/master/Documentation/advanced-configuration.md#log-collect

[2017-08-11 16:05] travisn commented on #659
Yes, fixed with #878

[2017-08-11 16:05] #659 closed

[2017-08-11 17:23] #890 closed

[2017-08-11 18:28] travisn commented on #686
This code path changed with #835 so not an issue anymore

[2017-08-11 18:28] #686 closed

[2017-08-11 22:48] jbw976 opened #905 "Integration test for metrics and monitoring"
The format of status output in Ceph Luminous changed and broke a lot of our metrics collection.  It even changed between patch builds (12.1.2 -> 12.1.3).

See #849 and #891 for examples of regressions.

We have unit tests, but since those mock the responses from Ceph, they can't capture when Ceph has changed output formats/structure of its status responses.

We need an integration test to verify t

[2017-08-11 23:19] #891 closed

[2017-08-12 00:02] jbw976 opened #907 "test: unable to run smoke tests with minikube: "insecure flag is not allowed""
After running ` tests/scripts/minikube.sh up` to get minikube running, then trying to run the smoke tests, I see an issue with using the "insecure flag":
[code]

This looks to be a regression from: https://github.com/rook/rook/commit/1c1470e28cadb6ba0273988545ffd21c00c166cd#diff-383b6743d9365674d5e23f7395a1b606R167

I commented out that hardcoding of `config.Insecure = true` and was able to run th

[2017-08-12 03:32] valentin2105 opened #908 "Helm repo - 404"
Hi,

I try to use Rook with helm but it seem that the repo described on Rook's docs seem doesn't work.

https://rook.io/docs/rook/master/helm-operator.html

[code]

Thanks !

[2017-08-12 03:44] bassam commented on #908
thanks! we're working on a fix. should be out in 0.5.1 shortly.

[2017-08-12 03:45] valentin2105 commented on #908
Thanks a lot, I will try directly from yaml files for the moment.  :)

[2017-08-12 03:45] #908 closed

[2017-08-12 04:01] bassam opened #909 "intermittent build failures on jenkins"
this keeps happening:

[code]

[2017-08-12 04:01] bassam commented on #909
https://jenkins.rook.io/blue/rest/organizations/jenkins/pipelines/rook/pipelines/rook/branches/master/runs/211/nodes/15/steps/16/log/?start=0

[2017-08-14 16:42] #889 closed

[2017-08-14 18:59] #849 closed

[2017-08-15 14:36] travisn opened #919 "Support for arbitrary PersistentVolumes as backing storage"
To run more smoothly in various cloud providers, the OSDs should be able to run on top of arbitrary volumes. Persisted config folders for mons and osds should also use the same volumes, which is related to #796.

[2017-08-15 14:51] travisn opened #920 "Failover of mon does not delete the old mon"
An RBAC permissions error prevents the operator from cleaning up the dead mon.
[code]

[2017-08-15 14:53] travisn commented on #920
There is an end to end test for failover, but did not catch this issue because the test deletes the replicaset to simulate the failure instead of waiting for the operator to do it in a real failure case.

[2017-08-15 15:07] travisn commented on #920
Working on a repro... The operator does have access to delete the replicaset.
https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-operator.yaml#L33

[2017-08-15 15:23] travisn commented on #920
Not able to repro, the replicaset was deleted as expected by the operator. Seems like the rbac permissions were not set correctly on the operator

[2017-08-15 16:07] travisn commented on #920
The permissions were lost on that node with the repro. None of the permissions are showing up for the operator. Closing this for now.
[code]

[2017-08-15 16:07] #920 closed

[2017-08-16 03:39] hunter commented on #561
Is it possible to bump this into 0.6? We'll try to contribute if we can get some spare cycles. For now we can't do any production hardware testing until we can run on the hostNetwork.

[2017-08-16 03:42] hunter opened #923 "dmcrypt support"
Ceph supports encrypting the OSDs using dmcrypt.

We currently use for some of our deployments. Is this something that rook would consider supporting?

[2017-08-16 20:05] flemzord commented on #475
A workaround for this problem?

[2017-08-16 20:40] jbw976 commented on #475
Here's some documentation to help you copy the secret from the default namespace to the namespace that you will be declaring the PVC in: https://rook.io/docs/rook/master/k8s-block.html#secrets

[2017-08-17 17:01] travisn commented on #923
Yes, would make sense for Rook to support it. Do you have more details on what it would take? Looks like an option on ceph-deploy, but I haven't looked further than that yet.

[2017-08-18 00:38] hunter commented on #923
From memory most of the work is in the partitioning. Its only the key that gets stored in the MON's KV store

[2017-08-18 04:37] bassam commented on #561
this would be a good addition to 0.6. @hunter do you think you can help with the implementation?

[2017-08-18 04:39] bassam commented on #923
makes me wonder if kubernetes should support encrypted volumes. Given that we are moving to using local storage via #796 maybe the encryption should happen at that level. maybe something to bring up with sig-storage.

[2017-08-18 06:39] hunter commented on #561
Our team is pretty busy but I'll see what can be done to help!

[2017-08-19 00:27] jbw976 opened #925 "minikube should use RBAC"
the handy `./tests/scripts/minikube.sh` script does not specify that minikube should use RBAC when it starts up minikube: https://github.com/rook/rook/blob/master/tests/scripts/minikube.sh#L58

It's useful to always be running with RBAC on so that we can catch any permissions regressions, new required permissions for new code, etc.

I thought this would be a simple fix to just pass `--extra-config

[2017-08-19 00:32] jbw976 opened #926 "OSDs that fail to initialize should be retried"
@dimm0 ran into an issue where some of the OSDs within their OSD pod failed to initialize, due to `failed with EAGAIN; try increasing /proc/sys/fs/aio-max-nr`.  Gitter discussion starts here: https://gitter.im/rook/rook?at=59976e98a7b406262da335b6

After rectifying that issue, there was not a clean path for the OSDs that failed initialization to go through the init path again.  The OSD pod as a wh

[2017-08-19 00:58] jbw976 opened #927 "A stale dataDirHostPath should be handled more gracefully"
If a Rook cluster has been run on a node before and it used `dataDirHostPath` then the stale/outdated config and metadata from the old cluster will still be present and pods will not be able to start OK on that node.

We may be able to handle this more gracefully by detecting that the metadata is truly in fact from an old cluster.  One way to determine would be if the FSID in the existing config f

[2017-08-19 01:07] jbw976 opened #928 "Bluestore OSD initialization is not idempotent"
Related to the error seen in #926, when we manually tried to restart the pod, the retry of the OSD initialization failed the 2nd time with:
[code]

It appears that the OSD mkfs was successful on the first try for all OSDs but then some OSDs failed later on in the init flow with the error seen in #926 (`failed with EAGAIN; try increasing /proc/sys/fs/aio-max-nr`).  I'm not sure why on the 2nd try t

[2017-08-21 18:59] dangula opened #930 "Add automated e2e test for rook helm charts"
add an automated test to deploy rook via helm chats so we don't regress.

[2017-08-21 19:19] dangula opened #931 "CI Integration tests should gather logs and archive them on test failues."
We need to gather logs and archive them on integration test failures to help with troubleshooting and investigating.

[2017-08-21 20:19] jbw976 commented on #931
This looks like a dupe of #897

[2017-08-21 20:40] jbw976 opened #932 "Log Rook version and arguments at start up"
When any Rook pod starts up, if should log:
* version number of Rook software (e.g., `v0.5.0-28.ge619fde`)
* arguments that Rook was started with

This will make troubleshooting and debugging easier (especially with corefiles)

[2017-08-22 14:25] galexrt opened #933 "OSDs go into "Unknown" state when host is rebooted"
See the original messages here: https://gitter.im/rook/rook?at=599beefdee5c9a4c5fe848bf

[code]

I attached the logs from the rook components: [rook-logs.log.gz](https://github.com/rook/rook/files/1243019/rook-logs.log.gz)

***

**`ceph status` Output**:
[code]

[2017-08-22 15:50] jbw976 commented on #554
This is actually fixed with Rook v0.5.0 that is using Ceph Luminous by default.  The `rbd` pool is no longer created by default.

[2017-08-22 15:50] #554 closed

[2017-08-22 15:53] jbw976 opened #934 "Cluster TPR/CRD should support update so storage can be added and removed dynamically"
Updating a Rook Cluster TPR/CRD is not currently implemented:
https://github.com/rook/rook/blob/9d855e5bfe671ffa9328de3042cc416b58356033/pkg/operator/cluster/controller.go#L143

The Cluster TPR/CRD should be able to be updated over time so that more storage can be added to the cluster dynamically.

[2017-08-22 21:45] DanKerns commented on #698
It should be possible to specify Erasure Coding or Replication for the object store along with the usual parameters for each.

[2017-08-23 15:11] jbw976 commented on #934
Clarification from @travisn:

[2017-08-23 17:16] jbw976 commented on #475
Note that this work won't be needed with the local agent design that handles Flexvolume requests described in #924

[2017-08-23 17:25] jbw976 commented on #897
Closing as dupe of #931

[2017-08-23 17:25] #897 closed

[2017-08-23 17:25] jbw976 commented on #931
This should help with how to collect the logs: https://github.com/rook/rook/blob/master/Documentation/advanced-configuration.md#log-collection

[2017-08-23 17:27] jbw976 commented on #693
Can this issue be closed now @bassam?

[2017-08-23 17:28] jbw976 commented on #644
Fixed with #935

[2017-08-23 17:28] #644 closed

[2017-08-23 21:18] #895 closed

[2017-08-23 21:18] #841 closed

[2017-08-23 21:32] jbw976 commented on #927
This should be fixed by #796 according to @travisn in https://github.com/rook/rook/pull/924#discussion_r134855614

[2017-08-23 21:32] #927 closed

[2017-08-23 23:52] #303 closed

[2017-08-23 23:55] jbw976 commented on #698
#310 may cover the work to support multiple object stores
#334 may cover the work to specify EC or replication config for the pools used by the object store being created

[2017-08-24 01:18] jbw976 commented on #932
Dupe of #286

[2017-08-24 01:18] #932 closed

[2017-08-24 13:10] mrahbar opened #939 "Provisioner wants to access config files which are not present"
#### Problem description
When creating a rbd volume via storage-class and Persistentvolumeclaim I notice following error pattern:

Digging in into the shell out command I found that neither /var/lib/rook/rook/rook.config nor /var/lib/rook/rook/client.admin.keyring are present in the rook.operator pod where the provisioner is running.

#### How is this supposed to work?
Of course those files are pr

[2017-08-24 15:55] travisn commented on #939
@mrahbar those config files are stored in an `emptyDir` in the operator pod when the cluster is created and in several scenarios where the cluster is updated. The config files are also generated if the operator restarts. I cannot repro the issue of those files not being present in the operator. Could you share your entire operator log on gist.github.com?

[2017-08-24 18:08] jbw976 commented on #939
docs to help you collect logs: https://rook.io/docs/rook/master/advanced-configuration.html#log-collection

[2017-08-24 18:37] travisn opened #940 "Prevent multiple clusters in the same namespace"
Each Rook cluster must be defined in its own Kubernetes namespace. When multiple clusters are defined in the same namespace, Rook should reject all but the first instance of the CRD in that namespace. The current behavior is that multiple instances of the CRD are allowed in the same namespace, but Rook effectively only treats them as a single cluster. Rook will initialize the first cluster and eff

[2017-08-24 19:48] mrahbar commented on #939
Unfortunately I cant share the logs because if have already teared down the faulty cluster and redeployed it. I recreated the cluster (this time in the namespace **rook** instead of **rook-cluster** This time the files are there as expected:

mazad@kubernetesnode1:~/external-storage$ kubectl --namespace=rook exec -it rook-operator-3061223979-6zx95 -- ls -l /var/lib/rook/rook/
total 12
-rw------- 1

[2017-08-24 19:48] #939 closed

[2017-08-24 20:14] jbw976 opened #942 "rbd commands fail if extra logging is on"
As @mrahbar found in https://gitter.im/rook/rook?at=599f301fa7b406262dc32732, extra logging turned on will cause `rbd` commands to fail.  This is because `rbd` does not support `--out-file` and both its logging and its output/result go to stdout.  We fail to parse the result that is mixed in with the logging.

It would be nice if upstream Ceph's `rbd` could support the `--out-file` argument.

[2017-08-24 21:00] mrahbar commented on #942
### Suggesting
Simple brackets regex with the assumption that the stdout contains the relevant informations as a json-block

### Working snippet
https://play.golang.org/p/v7Mvu_FOtc

[2017-08-24 21:02] #931 closed

[2017-08-24 21:23] jbw976 commented on #942
that seems fairly reasonable, thanks for trying that out!  it looks like that's the only spot in the code that we are unmarshalling output from `rbd`, so i think that's the only spot where that update would be needed.

[2017-08-24 21:40] #286 closed

[2017-08-25 03:58] bassam commented on #693
yes.

[2017-08-25 03:58] #693 closed

[2017-08-25 16:12] jbw976 opened #944 "helm install rook-master/rook fails if --version isn't specified"
The semantic version parsing/matching doesn't appear to work for helm charts from our master channel:
[code]

This helm issue is tracking it on their side:
https://github.com/kubernetes/helm/issues/2797

A workaround for now is to specify the `--version` flag to a specific value from https://charts.rook.io/master/:
[code]

[2017-08-25 20:42] travisn opened #945 "Test for cluster in a namespace other than rook"
`rook` is the default namespace where clusters are created by default, including the smoke tests. We need a smoke test that will create a cluster in a namespace with a different name.

[2017-08-25 20:44] travisn opened #946 "Test for multiple running clusters"
Need an e2e test for running multiple rook clusters at the same time. For example, create rook clusters in namespace `rook1` and `rook2`, then validate that the block/file/object storage is utilized from the intended cluster.

[2017-08-25 21:49] mrahbar commented on #942
PR #947

[2017-08-25 23:29] #942 closed

[2017-08-27 22:21] hansbogert opened #948 "[question] Is the default replication size 1?"
Did I miss some parts in the introductionary documentation? I created RGWs by using rookctl, and all the pools necessary were created with replication 1.

/edit

Only now I see the following docs: [1]
What would be idiomatic for Rook? First create a pools  which are necessary for a working RGW with CRD and replication size -- and then run the `rookctl object` create command? Though I wouldn't know

[2017-08-28 10:35] hansbogert opened #949 "Allow exposing the ceph-mgr dashboard"
Does the current operator provide a way to see the ceph-mgr dashboard [1]?
If not, what would be a/the way to do this with Rook?

[1] http://docs.ceph.com/docs/master/mgr/dashboard/

[2017-08-28 16:30] travisn commented on #611
looks like this is resolved

[2017-08-28 16:30] #611 closed

[2017-08-28 16:34] travisn commented on #726
Are we saying we would periodically snapshot and backup the metadata from the config folders? Seems like a fully consistent solution would require ceph to write metadata to kubernetes.

[2017-08-28 16:40] jbw976 commented on #583
Can this be closed with our Flexvolume and Rook agent design @kokhang?

[2017-08-28 16:45] jbw976 commented on #284
We have helm support in Rook now.

[2017-08-28 16:45] #284 closed

[2017-08-28 16:47] #102 closed

[2017-08-28 19:50] jbw976 commented on #948
hi @hansbogert, yes the default replicated pool size is 1, but this default can be changed with the config override support described in https://rook.io/docs/rook/master/advanced-configuration.html#kubernetes-1.

A pool replica size can also be changed after it's created as described in https://rook.io/docs/rook/master/advanced-configuration.html#setting-the-number-of-replicas

We'll be working on

[2017-08-28 21:07] hansbogert commented on #948
https://github.com/rook/rook/pull/951

[2017-08-28 21:07] #948 closed

[2017-08-29 05:39] jbw976 opened #953 "Cluster CRD should support DELETE to clean up a cluster"
Similar to #934, the Cluster CRD/TPR should support DELETE, so that a cluster can be completely deleted and cleaned up with `kubectl delete`.

The Rook agent can perform node specific clean up tasks as needed.

[2017-08-29 05:44] jbw976 opened #954 "Cluster creation error experience needs improvement"
Currently the Rook operator has no experience (or ability) to surface errors while a cluster is being created/deployed.  This gives no indication if something went wrong and then forces the user to look into the logs themselves to find the issue.  Not an ideal experience.

This can be improved now though, as CRD's will support validation in Kubernetes 1.8: https://github.com/kubernetes/community/b

[2017-08-29 15:09] kminehart commented on #284
Question for you guys:

Any reason you're hosting your own charts repo instead of merging this chart into github.com/kubernetes/charts ?

[2017-08-29 16:45] bassam commented on #284
@kminehart we eventually would like to publish to the official charts repo. A few things that motivated our own repo initially, 1) we can rev it quicker, 2) we can support different release channels (master, alpha, beta and stable).

[2017-08-31 20:52] travisn commented on #933
the osd health checks seem to be failing after the reboot. The osd processes are all running on the nodes even after reboot and the processes seem healthy. However, the health checks are failing as seen by the osd logs being full of messages like this
[code]

I was not able to repro when rebooting just one node.

When I rebooted three nodes (hosts 1, 5, and 6), I was able to get a repro. The inter

[2017-08-31 20:58] bassam commented on #933
I'm assuming the OSDs get a new cluster IP on restart. Is that registered with the mons after restart?

[2017-08-31 20:59] travisn commented on #933
yes, the ip's look correct after restart

[2017-08-31 21:15] bassam commented on #933
what happens when you manually set them back to up? It could be just OSDs flapping.

[2017-08-31 21:24] galexrt commented on #697
It would be desired to allow the count (/replicas) for the MDS servers per filesystem to be set in the CDR.

[2017-08-31 21:34] travisn commented on #933
It does look like flapping where some health checks are good and others can't reach it. However, the environment is getting reset now so I can't confirm.

[2017-08-31 21:35] bassam commented on #933
there are lots of settings that impact flapping and we might need to make it a little more forgiving in a K8S environment.

[2017-08-31 22:11] galexrt commented on #933
The issue seems to be related to the Calico networking. After switching to Flannel only, the issue disappeared.

[2017-08-31 22:17] travisn opened #957 "Mon failover needs to be smarter instead of so agressive"
Every 10s the operator performs a health check. If a mon is found out of quorum, it is immediately assumed to be dead. The operator will start a new mon, then after it is in quorum the bad mon will be removed from quorum. A few thoughts on making this smarter:
- Allow a longer grace period, such as 30s
- Detect the host node is rebooting, wait a bit longer for the node to come back up
- If using t

[2017-09-01 07:23] galexrt commented on #957
I'll try to write a logic for the second point you mentioned. If the node with the mon is in state "NotReady" it'll wait a configurable longer timeout (a bit like the Ceph variables `mon osd report timeout` and/or`mon osd down out interval`  for OSDs).

[2017-09-01 21:13] mafzst opened #959 "Failed to create new file system '{...}': HTTP status code 500 for query filesystem: ''"
Hi all!

I've created a rook cluster on a kubeadm kubernetes cluster by following the docs.

When I want to create my first file system with the toolbox pod by running `rookctl filesystem create --name influx` I run into this issue `failed to create new file system '{Name:influx PoolName:influx}': HTTP status code 500 for query filesystem: ''`

I've tried to get logs from API or OSD by running `ku

[2017-09-01 21:20] jbw976 commented on #959
Hi @mafzst, you had the right instincts to try to get the logs from the API pod.  That would give us more details about the 500 error you saw from the `rookctl filesystem create` command.  I'm not sure what's up with the connection refused error when trying to get the logs though, that'd odd.

Can you share the output from the following commands?
[code]

[2017-09-01 21:28] mafzst commented on #959
Hi @jbw976

Thanks for your fast reply ;)

Here the outputs:
[code]
[code]

[2017-09-01 21:30] galexrt commented on #959
The `kubectl logs ...` error should be an issue with the Kubelet on your cluster, could you run `kubectl get nodes` and make sure all nodes are in `Ready` state?

[2017-09-01 21:38] mafzst commented on #959
Yes my node seems to be ok

[code]

[2017-09-01 21:51] galexrt commented on #959
Do you have a firewall in place between the servers?
From the master server(s), can you run `curl https://2.nodes.oma.ovh:10250/metrics -k`. If the command does not work, there seems to be an issue between the connectivity between your Kubernetes apiserver to the node(s) kubelet.

[2017-09-01 22:04] mafzst commented on #959
Nope I haven't any firewall

When I curl :
[code]
Sounds like a clue.
I'll get a look to my role bindings

[2017-09-01 22:08] galexrt commented on #959
The "error" is okay. It just tells you that you/curl accessed the kubelet as user `system:anonymous` page `/metrics` as a `GET` request.

It seems weird, that the apiserver returns the error it can't connect to the kubelet port 10250, but you are able to reach it manually.

You can try running a tool like https://github.com/heptio/sonobuoy to check if there is any other issue within your K8s clust

[2017-09-01 22:17] mafzst commented on #959
Ok I've a problem with the ClusterRoleBinding. It was in the wrong namespace. But it wasn't the root cause of the problem.

I'll get a look at sonobuoy.

Thanks for your help

[2017-09-01 22:19] galexrt commented on #959
Are you able to access logs from other Pods than rook with the `kubectl logs` command?

[2017-09-01 22:24] mafzst commented on #959
Yes.

I've have also access to rook operators's logs. But none of api, osd, mons or mgr

[2017-09-01 23:04] mafzst commented on #959
I've ran the sonobuoy quick start pod. Lot's of stuff !

I've rapidly browse results but I didn't find suspicious things except

- `hosts/2.nodes.oma.ovh/configz.json` contains only `null` while other nodes contain a big JSON
- `hosts/2.nodes.oma.ovh/healthz.json` contains `{}` while others contains `{200}`

I'll try to schedule pods to an other node to see if this can explain the problem
(But not

[2017-09-02 12:21] mafzst commented on #959
Ok, my node 2 have a problem. It not seems to be rook.

I've scheduled the API on another node and it becomes reachable. I now can view logs and rookctl can post queries.

I'll try to

- Reinstall the node 2

- Create a rook cluster again

[2017-09-02 12:21] #959 closed

[2017-09-02 21:07] mafzst commented on #959
It works with a freshly installed node

[2017-09-03 02:34] jfelten commented on #944
same issue here:

helm version
Client: &version.Version{SemVer:"v2.6.0", GitCommit:"5bc7c619f85d74702e810a8325e0a24f729aa11a", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.6.0", GitCommit:"5bc7c619f85d74702e810a8325e0a24f729aa11a", GitTreeState:"clean"}

kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.6", GitCommit:"7fa1c1756d8bc963f1a389f4a6937dc71

[2017-09-04 13:34] yagooar opened #961 "If mons are on the same node one of them should be rescheduled to an available node"
I've ran into the following issue: I deployed rook on a 2-worker-node setup, and it worked fine. Then, I removed the node with IP `10.10.116.115` and added a new one. Since the new worker node has a different IP address, the `Node-Selectors` bit does not match anymore, thus scheduling the `mon` pod is impossible and fails.

I'm not sure where to start debugging this, or what solution would be poss

[2017-09-04 14:58] travisn commented on #961
@yagooar Rook is intended to be run on a least 3 worker nodes. The node selector pins the mons to specific nodes so that if the `dataDirHostPath` is used, the mons can survive a node restart.

If there are only two workers, two of the mons will be scheduled on the same node. If you lose/replace the worker with two mons, you will lose the mon quorum and will be difficult to recover the cluster.

If

[2017-09-04 15:59] jfelten opened #962 "ceph mon crashes"
Hi,

I attempted to run rook on a bare metal kubernetes cluster without success.  I followed the quick start directions for a pod to consume block storage.  When the pod requests storage rook-ceph-mon pod spins up but crashes.  The node is running in a centos7 guest vm with the ceph-common package and rbd installed.  A quick search shows a ceph issue which may be related: http://tracker.ceph.com/i

[2017-09-05 07:18] yagooar commented on #961
Thank you @travisn

We will try to test our setup with one additional worker node. It would be great if this was documented somewhere, though. It's not obvious from reading the docs, that there is a quorum requirement.

Still, the issue seems to be a different one, at least this is how I understand it. It's not that `ceph` complains about the quorum, it's `kubernetes` who refuses to start the `mon

[2017-09-05 15:32] travisn commented on #961
I'll look into writing a doc on the behavior of the monitors, you're right it's missing.

Does the rook-operator log show any errors? I would expect it to indicate either that it can't connect to perform a health check (quorum is lost), or that it fails to start a new mon (quorum is still available).

[2017-09-05 16:54] DanKerns commented on #961
@travisn documenting mon functionality/requirements is a good thing. I wonder if we need a section on system requirements that talks about the number of nodes, disks, etc.

[2017-09-05 16:59] travisn commented on #961
@DanKerns agreed, i was thinking about a whole topic that addresses all the areas of reliability and durability that should be considered when setting up the storage cluster.

[2017-09-05 17:20] DanKerns commented on #645
Could you try and reproduce this with Rook 0.5.1 (Ceph Luminous) and reopen if it's reproducable?

[2017-09-05 17:20] #645 closed

[2017-09-05 18:32] kokhang commented on #767
This due to the fact that the creation of the pool and creation of the image is in the same manifest.
When Pool CRDs are created, it is watched by the Rook and a request is sent to the Rook cluster to create it.

If we want to solve this, we can add status to the Pool CRD and set it to `ready` state when it is created. But i see this as a low priority since the admin is the one setting up the clus

[2017-09-05 18:34] jbw976 commented on #767
it's worth noting that all our documentation and examples are structured that way too, where the storageclass (and pool) are created before any PVCs (and in a separate manifest)

[2017-09-05 18:46] #840 closed

[2017-09-05 18:47] jbw976 commented on #840
Design document added in #924

[2017-09-05 20:56] DanKerns commented on #767
Let me just flag my concern around this.

I have deep deep scars from nearly every time I've made a timing assumption in my code. Just because we manually enter two manifests doesn't mean someone else won't this in a script or a single manifest and dramatically change the timing.

Ignoring a race condition, in my experience, just hides it until the worst possible time.

[2017-09-06 09:10] yagooar opened #964 "rbd image locked by other nodes"
I've been working on implementing rook on top of our Kubernetes cluster. The MVP of it would be the following:

(Our cluster runs on Kubernetes 1.7.5, and has 3 worker nodes, A, B & C)

- a PVC is created
- a Postgres pod is scheduled on node A
- data is written in Postgres
- the pod affinity is changed to node B
- the pod gets terminated on node A, and boots on node B
- data created in the Postgr

[2017-09-06 15:30] jbw976 commented on #962
Hi @jfelten , you are correct that http://tracker.ceph.com/issues/20529 looks very related to what you are seeing, especially considering the last output before the illegal instruction is from rocksdb.

Can you share the output of `cat /proc/cpuinfo` from the system you are seeing this on?  I'm expecting to not see `sse4_2` in the output.

Do you know what type of processor that machine has?

It l

[2017-09-06 15:56] bassam commented on #962
Ouch, I believe SSE4.2 was introduced in Intel processor circa 2008.

Didn't realize rocksdb assumes this now. we should back port the fix the luminous and pickup in rook/master.

[2017-09-06 17:33] kokhang commented on #964
@yagooar This is definitely a bug. During the fail-over, Kubernete should've issued an `Detach()` on nodeA and thus, it should have removed the lock. Here is the code. https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L357

Perhaps some error happened after detaching but before unlocking? Could you look at the kubelet.log?

You might also be running into https://githu

[2017-09-06 17:58] #930 closed

[2017-09-06 22:11] calvix commented on #475
Is there any solution coming up? work around with copying secret is not a good solution for dynamic environments where namespaces are generated.

[2017-09-06 22:14] galexrt commented on #475
@calvix I think the good thing about having to copy the secrets to every namespace in which you want to use storage is, that you have the control about who can create/use storage. Else this would be a problem for shared cluster in which not everyone may should have storage access.

[2017-09-06 22:27] liggitt commented on #475
https://github.com/kubernetes/kubernetes/pull/49502 allows putting ceph secrets for provisioned PVs in a namespace separate from the PVC namespaces

[2017-09-06 22:41] jbw976 commented on #475
@calvix yes, with the ongoing work on the Rook volume plugin, there will no longer be a need to copy secrets to other namespaces.  You can read about the design here:
https://github.com/rook/rook/blob/master/design/local-node-agent.md#improvements-over-rooks-current-support-for-persistent-volumes

The pull request for the code implementation (work in progress) can be found here:
https://github.com

[2017-09-07 00:18] #310 closed

[2017-09-07 11:29] yagooar commented on #964
Thanks @kokhang

It definitely doesn't work correctly. I created the pod on node A, then removed the deployment + pods altogether. Changed the manifest to ensure it gets scheduled on node B next time and when creating the deployment + pod, it hangs again.

This is what `kubelet` logged when deleting the postgres pod:

But when starting on the new node, the following error is logged:

[2017-09-07 13:14] timclu opened #966 "Mount the ceph file system outside k8s"
The device we used is not in the k8s clusters and is already added into the calico network.
We need to find a way to mount the ceph file system created by rook.

Here are the rook cluster info
Services:
[code]

Pods:
[code]

The Pod IPs were used to mount the ceph monitors.
[code]
But we got this error message `mount error 5 = Input/output error`

The `dmseg | tail` shows:
[code]
Does rook provide

[2017-09-07 13:49] yagooar commented on #961
One more question: if 2 mons get scheduled on one node (because one node out of three becomes unavailable), and then the cluster becomes healthy again (with 3 nodes), shouldn't the operator make sure that one of the mons get re-scheduled on the third node?

Otherwise, making something like a rolling update of worker nodes requires additional logic, such as killing one of the two mons on one node s

[2017-09-07 13:52] yagooar commented on #964
I've tried different things, and the lock stays there no matter what I do. Unless there is a fix that will become available in a few days, how would one proceed with working around this problem?

I thought about watching pods wiht a volume claim to make sure the lock is removed when the pod dies, but that is a fairly complex workaround as it would require deploying a script / application that woul

[2017-09-07 17:59] travisn commented on #334
Fixed by #960

[2017-09-07 17:59] #334 closed

[2017-09-07 18:14] jbw976 commented on #966
Hi @timclu, what happens if you use the IP addresses of the mon services instead of the mon pods when you are running the `mount -t ceph` command?  the mons are supposed to be bound/listening on the service addresses, so I'm hoping that will help you.

[2017-09-07 18:34] thephred opened #967 "RGW Certificate double base64 encoded"
If I run `rookctl create object --certificate=some.pem` it creates a secret with the pem file base64 encoded in kubernetes.
Problem is that somehow the pem file is double encoded which makes starting the rgw instance fail.

[code]

[2017-09-07 20:30] #967 closed

[2017-09-07 21:29] dangula opened #970 "FileSystem and objectStore are being created successfully only on first cluster in a multiple rook cluster environment"
When deploying multiple rook cluster (different cluster name and namespace), FileSystem and objectStore are being successfully created in the first cluster that was deployed, and failing in other clusters.

**Repro Steps**
1. Install Rook Operator
2. Install 2 Rook clusters  - with different cluster names and in different name spaces.
3. Create FileSystem and ObjectStore for cluster 1
4. Create Fi

[2017-09-07 23:53] galexrt commented on #933
**Update**:
I redeployed the cluster with Calico (updated from `v2.4.1` to `v2.5.1`), the PGS still went into "Unknown" state while rebooting a server, but after the rebooted server came up again, the OSD(s) also came back up and are now in `active+clean` state again. For now I'll rule out network issues in this.

I'm still wondering why the `Unknown` state appears for the PGs. In the test I drain

[2017-09-08 01:48] timclu commented on #966
Hi @jbw976, the limitation is that the device could not reach the service ip of mons.
The service IPs(ClusterIP) are only available in k8s. This is why I try to use the pods IP instead of service ip.
If there is no officially design to expose the ceph to external device. Maybe I should find some workarounds.

[2017-09-08 04:34] hunter commented on #966
Sounds like similar issues we faced with ceph-docker and using Ceph outside of the Kubernetes network (in our case for Openstack). The only real solution we found was to expose the pods on the hostnetwork.

[2017-09-08 06:18] travisn commented on #966
agreed, sounds like we need #561 for hostnetwork

[2017-09-08 06:46] timclu commented on #966
@travisn  is there any one help on this feature? @hunter?

[2017-09-08 07:06] hunter commented on #966
Unfortunately we've not had the time to look at it yet

[2017-09-08 11:08] timclu commented on #966
1. I'm not familiar with ceph. I'll take a look into this and see if I could contribure a PR.

2. Loop back into this issue, I thought my case was not complicated.
My device is already added into calico network. So there is no problem to access the **`Pod IP`** of mons.
But I still could not mount CephFS on my device due to the mons ip mismatched.
If I could change the Ceph server to bind mons wit

[2017-09-08 17:56] DanKerns commented on #964
@kokhang isn't this something we're specifically fixing with the flex volume plugin work?

[2017-09-08 19:23] jbw976 commented on #966
@timclu the purpose of #806 was to make Monitors IP addresses stable even when the pod is terminated and recreated with a new IP.  The service IP is consistent and will always point to the pod IP even if the pod IP changes.  This is very useful for a healthy cluster because all clients and daemons always know where to find the monitors.

This is the first scenario I've personally seen where a clie

[2017-09-08 20:29] jbw976 commented on #667
@fury_twitter ran into a scenario that may make implementing this even more valuable.  some details from gitter can be found at https://gitter.im/rook/rook?at=59b2f98a162adb6d2e8088f3

[2017-09-08 22:40] travisn commented on #704
With changes coming in #974 the dependency on the operator will be removed (#703). This makes the api service an optional component. Because it is still required for standalone and other scenarios, we can keep it as an option on the cluster CRD.

[2017-09-08 22:41] bassam commented on #704
cluster or operator CRD?

[2017-09-08 22:47] travisn commented on #704
the api service today belongs to the cluster instance. If we want the api to be single instance with the operator, it would require some redesign of the api service.

[2017-09-09 16:02] galexrt commented on #561
Has anyone worked on adding `hostNetwork` feature? I have some time to try to add this.

[2017-09-09 16:03] bassam commented on #561
@galexrt that would be awesome. its much needed!

[2017-09-09 16:17] galexrt commented on #561
https://github.com/rook/rook/pull/975
As written in the PR, I couldn't test it yet. I'll try to upload a version to my Docker namespace, so anyone can test it :)

[2017-09-11 06:49] galexrt commented on #933
As written, I updated the Calico and it now works for me. I also wasn't able to reproduce the OSDs staying in the "Unknown" state anymore. The OSDs came back up as normal and went through the "normal" Ceph OSD states until they were `active+clean`.

***

Closing because I can't reproduce this anymore.

[2017-09-11 06:49] #933 closed

[2017-09-11 15:32] jbw976 opened #976 "docs: Create upgrade user guide"
Until we have automated upgrade support, we should have a user guide with the manual steps of completing an upgrade of the Rook software.

PR open in #969

[2017-09-11 16:06] #976 closed

[2017-09-11 17:10] DanKerns opened #977 "Need fencing support for new Rook volume plugin"
The old RBD plugin had support for fencing and this functionality needs to be implemented in the new rook flex plugin.

[2017-09-11 21:41] valentin2105 opened #978 "Unable to create a volume"
Hi,

I'm trying Rook in my single node cluster,
I have deployed Rook-storageclass, Rook-Operator and Rook-cluster, everything seem to run fine.

When I create a volume (simple mysql) from the documentation example,

I got a lot of errors and the volume can't be created ,

[code]
Any idea what's append ?

[2017-09-12 00:28] kokhang commented on #964
@yagooar This should've definitely have worked. One issue with the RBD plugin is that the `is locked by other nodes` message could be misleading. This also happens when you dont have the rbd (or ceph-tools) installed. https://github.com/kubernetes/kubernetes/pull/48457#issuecomment-324288319. Make sure that all nodes have the `rbd` tool installed. on debian, you can do `apt-get install ceph-common

[2017-09-12 00:51] kokhang commented on #964
@yagooar if you are feeling adventurous enough, you can try an early preview of the rook flexvolume plugin. Use these manifests: https://github.com/kokhang/rook/tree/rook-flex/cluster/examples/kubernetes but change this line https://github.com/kokhang/rook/blob/rook-flex/cluster/examples/kubernetes/rook-operator.yaml#L119 to `kokhang:rook:master` and this https://github.com/kokhang/rook/blob/rook-

[2017-09-12 11:52] yagooar commented on #964
Thank you @kokhang

I tried the new flexvolume plugin and it works like a charm :)

If the flexvolume plugin is the future, I guess we should wait for it to become available once K8S 1.8 is out. What is your roadmap for this?

Another slightly unrelated question. I created all the rook resources. Moving pods around would be no issue and the volumes would get properly mounted every time. Then, to t

[2017-09-12 12:35] bassam commented on #964
The flex volume will work for K8S 1.7 and 1.6 too but it will require a kubelet restart as @kokhang described above. The flex volume will be part of our 0.6 release (see https://github.com/rook/rook/blob/master/ROADMAP.md)

[2017-09-12 16:24] travisn commented on #970
looks like an RBAC issue. Is this fixed now in #972? I thought i saw some rbac permissions created for other namespaces.

[2017-09-12 16:58] travisn opened #979 "An error starting an e2e test cluster needs more debug info"
When the test cluster fails to start, whether failed mon or osd pods, the tests will time out waiting for the rook-api pod to start. A couple thoughts to improve this:
- The test could print the status of all the rook pods to the log
- The logs were not collected for the daemon pods.

There is also bug in `GetPodHostID()` where the podNames[0] can be the empty string.
https://github.com/rook/rook/

[2017-09-12 17:53] jbw976 commented on #964
That's actually a really good question.  We were having a conversation yesterday about the scope of #726 for the 0.6 timeframe.  Perhaps that's the scenario we should start with: you have data disks but your Rook config/metadata disk was destroyed.  How would you get the cluster going again and reuse the data?

It might be a good place to start with some documentation around that scenario as well

[2017-09-12 17:58] jbw976 commented on #726
The scenario described here may be a good starting scope for this issue: https://github.com/rook/rook/issues/964#issuecomment-328931743

[2017-09-12 19:42] jbw976 commented on #978
@valentin2105 can you share the rest of the logs for your cluster?
https://rook.io/docs/rook/master/advanced-configuration.html#log-collection

Have you already been able to launch the Rook toolbox to get more status information about the cluster?
https://rook.io/docs/rook/master/toolbox.html

[code]

[2017-09-12 21:59] valentin2105 commented on #978
Hi @jbw976 , Here is my  `rookctl status`

[code]
( I try to create a 2Gig volume only )

Here is the logs :  (at the end, I create the mysql example with PV) :

https://pastebin.com/Pf6gBi1V

[2017-09-12 23:16] kokhang opened #980 "Capture logs for test-pod and kubelet"
We need to capture the logs from the test pod in order to better debug if a failure happens.
I think 3 things we need:
- Kubeclt get logs test-pod
- kubeclt describe pod test-pod
- journalctl -u kubelet

[2017-09-12 23:18] kokhang opened #981 "Not require sudo to run helm.sh script"
helm.sh script requires to do sudo to copy the helm binary to /usr/local/bin.
I dont think we should be messing with the user's system. We should call the helm binary with a relative path just like we do with the other artifact we build (glide, golint etc)

[2017-09-12 23:42] jbw976 commented on #978
I notice there aren't any placement groups created which implies there has been no storage pool created.  Did you run the step to create the Rook storage class (which also creates the storage pool)?

From https://rook.io/docs/rook/master/k8s-block.html#provision-storage:
[code]

[2017-09-12 23:59] valentin2105 commented on #978
Great, I was missing this part !
My Mysql PVC is bounded and the pod correctly mount the volume.

Small last question,

Why I got this PVC who stay in Pending mode :

`data-redis-cluster-0   Pending                                                                       ceph-rbd`

Thanks for the Awesome Rook, It's Rocks ! 👍

[2017-09-13 01:03] jbw976 commented on #978
Glad your mysql PVC is working now.  I'm not quite sure about the `data-redis-cluster-0` PVC, I didn't see any references to it in the logs you shared on pastebin earlier.  Did you see references to it in the Kubelet journal/logs?

Can you share the following output?
[code]

[2017-09-13 01:04] valentin2105 commented on #978
Sorry, my fault, just an old PVC who stayed here.

Thanks !

[2017-09-13 01:04] #978 closed

[2017-09-13 04:32] valentin2105 commented on #966
I'm really interested too about mounting Rook's volumes to Backup purpose.
From a pod, it's possible to mount any volume already bounded to a PVC ?

Thanks !

[2017-09-13 08:44] timclu commented on #966
@jbw976
Our system is not purely microservice now. It needs time to migrate all services into k8s. In this transition, We'll need to a way to access the file storage both inside and outside k8s.

Now we used NFS to handle files in our system. Of course, services are no problem to access files with NFS (inside and outside k8s), but we met some performance issues. This issue made our system unstable

[2017-09-13 18:43] blingwang commented on #925
Some workaround mentioned here: https://github.com/kubernetes/minikube/issues/1734

[2017-09-13 19:39] dangula commented on #970
I am seeing service account created for both clusters, but clusterrolebinding created only for cluster 1. Service accounts, cluster roles are clusterrole bindings are created during cluster deploy time.
[code]

[code]

[code]

[2017-09-14 05:36] kokhang opened #984 "index out of range error when using skip_install_rook flag when running integration test"
Run int tests with `skip_install_rook` flag without creating rook.
I should expect an error saying "Rook not found" or something. But i get a panic with index out of range exception.

Also, i get the same if my rook-cluster is in a different namespace than the `defaultNamespace`.

[code]

[2017-09-14 17:22] #946 closed

[2017-09-14 17:22] #945 closed

[2017-09-15 16:30] travisn opened #985 "Remove support for the Standalone scenario"
Standalone Rook is deprecated and will be removed in the 0.6 timeframe. This clearly is the direction to take going forward.
- The community has not shown interest in the standalone scenario. Kubernetes is the focus and the future for Rook.
- The standalone codebase has been on life support for the past few months, with no hope of being resuscitated.
- For standalone to ever be production-ready it

[2017-09-15 16:40] koalalorenzo commented on #964
I just ran into the same problem. (with kubernetes 1.7.5)
Do we know when the plugin will be released properly? Should I still fix it manually?

[2017-09-17 05:34] jbw976 commented on #823
This will be going away with #882, the Rook flexvolume does not need any kubelet mounting for kernel modules (the agent will handle all that)

[2017-09-17 05:34] #823 closed

[2017-09-17 16:31] sean-brandt commented on #964
Same issue here, as well. An idea on the 0.6 release plan/schedule would be very helpful.

[2017-09-18 16:54] travisn commented on #320
Closing all tickets related to standalone. See #985.

[2017-09-18 16:54] #320 closed

[2017-09-18 16:54] travisn commented on #313
Closing all tickets related to standalone. See #985.

[2017-09-18 16:54] #313 closed

[2017-09-18 16:54] travisn commented on #311
Closing all tickets related to standalone. See #985.

[2017-09-18 16:54] #311 closed

[2017-09-18 16:54] travisn commented on #257
Closing all tickets related to standalone. See #985.

[2017-09-18 16:54] travisn commented on #251
Closing all tickets related to standalone. See #985.

[2017-09-18 16:54] #251 closed

[2017-09-18 16:55] travisn commented on #238
Closing all tickets related to standalone. See #985.

[2017-09-18 16:55] #238 closed

[2017-09-18 16:55] travisn commented on #232
Closing all tickets related to standalone. See #985.

[2017-09-18 16:55] #232 closed

[2017-09-18 16:55] travisn commented on #180
Closing all tickets related to standalone. See #985.

[2017-09-18 16:55] #180 closed

[2017-09-18 16:55] travisn commented on #127
Closing all tickets related to standalone. See #985.

[2017-09-18 16:55] #127 closed

[2017-09-18 16:56] travisn commented on #64
Closing all tickets related to standalone. See #985.

[2017-09-18 16:56] #64 closed

[2017-09-18 16:56] travisn commented on #123
Closing all tickets related to standalone. See #985.

[2017-09-18 16:56] #123 closed

[2017-09-18 16:56] travisn commented on #112
Closing all tickets related to standalone. See #985.

[2017-09-18 16:56] #112 closed

[2017-09-18 16:56] travisn commented on #76
Closing all tickets related to standalone. See #985.

[2017-09-18 16:56] #76 closed

[2017-09-18 16:57] travisn commented on #74
Closing all tickets related to standalone. See #985.

[2017-09-18 16:57] #74 closed

[2017-09-18 16:57] travisn commented on #65
Closing all tickets related to standalone. See #985.

[2017-09-18 16:57] #65 closed

[2017-09-18 16:57] travisn commented on #62
Closing all tickets related to standalone. See #985.

[2017-09-18 16:57] #62 closed

[2017-09-18 17:01] jbw976 commented on #257
I think this still has merit outside of the standalone scenario (e.g. when using `rookctl` or maybe the volume plugin could do it too)

[2017-09-18 18:48] galexrt commented on #561
The `hostNetwork` feature has now been implemented in https://github.com/rook/rook/pull/975.

***

Closed by https://github.com/rook/rook/pull/975.

[2017-09-18 18:48] #561 closed

[2017-09-18 20:44] ftab opened #989 "On edit of replica pool manifest, operator should resize pool accordingly"
From [discussion on slack](https://rook-io.slack.com/archives/C46Q5UC05/p1505765559000473)

Steps:
1. kubectl edit -n rook pool _replicapool_
1. Change spec\replication\size parameter to something else, say 3

Expected result:
It does the `ceph osd pool set replicapool size 3` for you

[2017-09-18 20:47] travisn commented on #989
note that the size can only be changed for pools that are already configured for replication. If you have an erasure-coded pool, you won't be able to change it to a replicated pool.

[2017-09-18 20:51] kokhang commented on #989
CRDs should have validation we can leverage for this. https://github.com/kubernetes/kubernetes/pull/47263

[2017-09-18 21:35] jbw976 opened #990 "API service does not keep up with monmap changes"
From discussion on Slack, it appears that the API pod will continue to use the list of monitors it was first created with.  If those monitors change over time, then it may try to connect to dead mons and time out, greatly increasing the time it takes to handle a request such as `rookctl status`.

The API service should use updated mon endpoints when handling requests.

Slack link:
https://rook-io.

[2017-09-19 08:03] dangula opened #992 "Integration Test CI Updates"
- Build binaries for integration tests and longhaul tests
 - Run smoke test for PR and Full regression for master merge
 - Add support for running individual test/tests in a test suite.

[2017-09-19 17:35] travisn opened #993 "Doc updates should have ability to skip the build"
Doc and other text updates have no need to build. When there is a [skip_ci] tag on the PR, the build should not be run.

[2017-09-19 19:59] dangula opened #994 "Integration test framework : remove all refrences to standalone mode"
Standalone mode is not going to be supported anymore. We need to remove all references to standalone mode from test framework.

[2017-09-19 21:49] galexrt commented on #989
@kokhang Are you sure we already want to use this feature? The docs read:

[2017-09-20 15:24] kokhang commented on #964
@koalalorenzo @sean-brandt unfortunately there could be a number of things that could raise this error. The first thing `rbd` plugin in kubernetes does is to call `rbd lock`. So any error would result in 'rbd image is locked by'. Common problems are rbd tools not installed in the node, rbd kernel modules not loaded, user secret is invalid, mon IP is not valid etc. There was a fix in kubernetes for

[2017-09-20 16:21] koalalorenzo commented on #964
I will wait for the plugin then :) Hopefully that will fix it...
Is there a better way to debug it?

[2017-09-20 17:19] #698 closed

[2017-09-20 17:21] travisn commented on #703
Fixed with #974

[2017-09-20 17:21] #703 closed

[2017-09-20 17:21] travisn commented on #256
Fixed with #974

[2017-09-20 17:21] #256 closed

[2017-09-20 18:57] kokhang commented on #544
With the addition of the external-provisioner, the user doesnt need to provide monitor IPs. Also we also allow the flexibility to the user to create their own pools (along with their erasurecode config). If we make the operator create the storageclass, how would the user specify their pool.

[2017-09-20 19:47] jbw976 commented on #277
The design for upgrades in Rook as been merged with #983

[2017-09-20 19:50] #277 closed

[2017-09-20 19:52] jbw976 opened #997 "Implement Rook software upgrade automation"
The design has been written up and fleshed out with #983

Next steps would be to get an implementation of upgrade automation, as described in:
https://github.com/rook/rook/blob/master/design/upgrade.md#next-steps

[2017-09-20 20:33] levidehaan opened #998 "the ceph-mgr-pod is loosing its config on restart"
It appears that the ceph-mgr-pod is loosing it's configuration on restart:

[code]
the problem seems to be that even though you set dataDirHostPath in the rook-cluster.yaml it is still setting emptyDir on rook-data for the ceph-mgr-pod.

[2017-09-20 20:44] travisn commented on #998
@levidehaan thanks for raising this issue, the mgr indeed does not have the hostPath option implemented. I'm not sure I understand the error message though. The keyring was regenerated in the config after the restart.

[2017-09-20 21:28] galexrt commented on #998
@travisn The #999 only adds `hostPath` to the mgr deployment.
But there may still be an issue with the keyring, when the mgr pod gets scheduled to another server. Then on the other server there would be no keyring. Would that be an issue or would the keyring simply be recreated?

[2017-09-20 21:37] galexrt opened #1000 "Implement Kubernetes 1.8 CRD validation"
Kubernetes 1.8 has a (alpha) feature for CRD validation making it possible to validate CRD values.

This would allow to prevent bad user input for CRDs.

Thanks to @kokhang for bringing this new feature up in #991!

[2017-09-20 21:37] travisn commented on #998
the keyring is stored in a secret, and all mgr pods will inherit that same keyring. So that shouldn't be an issue if the pod is restarted.

The bigger question is if there is persistent state that is important to the mgr and it is rescheduled, that state would be lost even with hostPath.

[2017-09-20 21:55] galexrt commented on #998
@levidehaan Could you post the rook version you are using?

I just started a clean cluster, delete the mgr pod and the new one came up healthy and working.

[2017-09-20 22:13] levidehaan commented on #998
@galexrt  I am using master
here is the output from rook-ceph-mgr0

[code]

[2017-09-20 23:37] thephred opened #1001 "Deleting an object store or a pool CRD does not clean up its data"
When you delete an object store (either through the Rook API or CRD) it does not clean up the pools. Creating a new object store with the same name as the old one will pick up the old buckets and data but it will be inaccessible through S3 because those buckets are tied to a realm that got deleted (or at least it isn't the new realm)
Deleting pool CRD entries does not actually delete the pool.

[2017-09-21 06:39] galexrt commented on #998
@levidehaan Could you please login to the node with the ceph-mgr running, repull the `rook/rook:master` image and delete the rook-ceph-mgr0 container (not the pause container and don't delete the pod in K8s).

Check the logs of the ceph mgr after deleting the container and check if the issue persists. I'll try to reproduce on another cluster.

[2017-09-21 16:20] #989 closed

[2017-09-21 18:11] thephred opened #1002 "Support for node level failure domain for erasure coded pools"
In particular support for creating an object store with the data pool backed by an erasure coded pool that has a node level failure domain.

[2017-09-21 23:17] #992 closed

[2017-09-22 04:48] #993 closed

[2017-09-22 17:47] lucasvel commented on #756
Any updates on this one? I'd like to use this feature for example when creating a k8s StatefulSet for running a MySQL Galera cluster and getting each pod (mysql-0, mysql-1, etc) to get its own block storage.

Thanks!

[2017-09-22 19:56] Ulexus opened #1005 "PV definitions do not get updated when mon IPs change"
When monitors change IPs, the PV defintions do not get their `spec.rbd.monitors` lists updated.  This causes the kubelet's execution of the related `rbd` commands to fail, which causes the volumes to timeout waiting to mount.

Manually updating the PV definitions causes them to start working again.

[2017-09-22 19:59] galexrt commented on #1005
@Ulexus This will be fixed by the rook flex volume plugin from @kokhang  https://github.com/rook/rook/pull/882 that will be included in the v0.6 release.

/cc @travisn @kokhang

[2017-09-22 20:02] Ulexus commented on #1005
I was thinking that was probably the case, but I figured it would be best to log it.

[2017-09-23 00:40] jbw976 commented on #726
I've been working on the scenario where an OSD's data devices still exist but it's metadata/config `/var/lib/rook` has been lost, trying to get the OSD running again using the data that still exists.

I'm to the point where a bluestore OSD can recreate its metadata (`whoami`, `fsid`, `keyring`, etc.), start running and return to both `UP` and `IN`.  However, all placement groups that were assigned

[2017-09-23 07:48] jpds opened #1007 "Rook creates OSD on node with no spare block devices"
Hello,

I've deployed rook with:

[code]

This worked fine with my first three nodes when it took the `sdb`s from those nodes and created a cluster fine.

I then added a node with two disks that were in an `mdadm` RAID with LVM on that for the system partitions, but no spare block devices. I expected nothing to be added from Rook to this system. However to my surprise, it had decided to create one

[2017-09-23 08:09] jpds commented on #1007
I've just experimented with:

[code]

And:

[code]

But for some reason, rook insists on creating an OSD on the node with no drives in it spare.

[2017-09-25 16:35] kokhang opened #1008 "Add cephfs support to the Rook volume plugin"
With the new rook flexvolume plugin (https://github.com/rook/rook/pull/882), most of that work focusses on block volumes. Support should be added for cephfs.

[2017-09-25 17:06] kokhang commented on #767
I believe this is handled by Kubernetes's controller and state-watching. If a pvc gets created before a pool object, yes it will fail but the next time around, it would succeed.

[2017-09-25 17:14] jbw976 commented on #819
We should document how a user would upgrade their Rook TPRs to CRDs after they have upgraded their Kubernetes cluster to 1.6 to 1.7+.

[2017-09-25 17:24] travisn opened #1010 "ObjectStore CRD naming should support TPRs"
The name of the CRD should be `ObjectStore` instead of `Objectstore`. Support for TPRs should be done in the code rather than choosing the suboptimal naming scheme.

[2017-09-25 17:29] jbw976 opened #1011 "All Rook metadata should be durable"
This builds on #726, where the longer term solution would be to ensure that the metadata and configuration of the entire cluster is “durable”.  Everything should be regenerateable or backed by a volume. The cluster can live on volumes and operator state.

Imagine running Rook in AWS, the user should be able to specify that all Mon/OSD metadata gets stored on underlying volumes (local storage, EBS,

[2017-09-27 12:45] demonister opened #1014 "Unable to create a pv"
install by instruction https://rook.io/docs/rook/master/kubernetes.html

and when I create PVC, Storage Classes no create PV

[code]

[code]
[code]
[code]
[code]
[code]

Exec in node

[code]
[code]
[code]

[2017-09-27 15:42] galexrt commented on #1014
@demonister Even though the operator log doesn't seem to miss the secrets. Did you create the rook secret(s) in the `mysql` k8s namespace?

Which version of rook did you use to create the cluster?

[2017-09-27 16:42] jbw976 commented on #1007
Hi @jpds, thanks for reporting this issue.  After looking at the code, I think I understand why it is behaving this way.  On the following lines, it looks like if Rook was unable to find/use any available devices, and no directories were specified either, then it'll use default to creating an OSD in the default `/var/lib/rook` directory:
https://github.com/rook/rook/blob/a4a1a98e2bbe795bb8cdde2d95

[2017-09-27 16:59] DanKerns commented on #767
If that was try, then why did it fail?  Let's get serious about fixing this.

[2017-09-27 17:16] jbw976 commented on #767
I believe the last 2 statements in the log above show the image (PV) being created successfully.  If we had more of the log here I think we'd see the rest of the flow did succeed OK after the eventual consistency is reached.

I feel confident that the machinery is in place to handle this scenario and that it's not a true race condition that will never be recovered from.  I believe this is more of

[2017-09-27 18:33] kokhang commented on #1014
@demonister which version of Rook are you using? I think @paha ran unto an issue where the pool was not being constructed. Can you see in the operator logs if there is an error about creating the pool.

[2017-09-27 20:13] kokhang commented on #1008
After talking with @bassam, the initial support of cephfs would be with kernel. That means to be able to specify a non-default FS, Rook would have to be running on kernel 4.7+. https://github.com/torvalds/linux/commit/235a09821c2bc71d9d07f12217ce2ac00db99eba.

If an user specify a FS and rook is running on an older kernel, the mounting with fail with an error.

[2017-09-27 20:15] kokhang opened #1015 "Support for ceph-fuse"
In the very immediate future, rook will rely on ceph-fuse to mount cephfs. Currently it is using the kernel driver.

In order to do this, we need to add ceph-fuse to the container image.

[2017-09-27 21:02] Ulexus commented on #1005
Good to hear.  Thanks!

[2017-09-28 06:52] demonister commented on #1014
@galexrt yes, i create rook secret(s) in the mysql namespace. version Rook v0.5.0-76.g772a138.

@kokhang may be, I reinstall (clean all disk, dir rook and Teardown rook). And now is good

issue  can close

[2017-09-28 08:44] demonister opened #1018 "Problems reboot node with rook"
I have the infrastructure
[code]
and rook
[code]
version
[code]
[code]

bound pv with mysql statefulsets
[code]

And now send reboot in node2
[code]
node never reboot . Last log
[code]

if unbound mysql pvc - reboot ok

[2017-09-28 13:22] jpds commented on #1007
Hello @jbw976 - that sounds very close. There is also the case where I specify `useAllNodes` and `useAllDevices` to `true` and there are no block devices without a local filesystem on the node - in this scenerio Rook shouldn't provision anything on the node either.

[2017-09-28 15:42] #1014 closed

[2017-09-28 17:39] #695 closed

[2017-09-28 20:42] jbw976 commented on #1007
that's correct @jpds, thanks. I'm actually touching this logic right now while working on #726 and it's a very simple change, so I'll go ahead and make it now.  There's a lot of testing that needs to be done for #726 so the testing on this small change will be amortized in that effort.  Thanks!

[2017-09-29 00:12] kokhang commented on #1018
@demonister When the PV is mounted (im guessing that is the case), you will it as a device in `/dev/rbd*`.  im not familiar with `locksmithctl` so i am not sure how it is trying to restart the node.

[2017-09-29 00:50] kokhang opened #1022 "rook-ceph-mgr needs to be HA"
The rook-ceph-mgr deployment is currently deploying one ceph-mgr pod. From today's ceph talk, it was suggested to have more than one in order to do an active-backup HA.

It was also suggested to be placed along side the monitors.

[2017-09-29 00:58] bassam commented on #1022
I don't think thats needed in a K8S deployment. The advice is great when you are deploying ceph directly on nodes.

[2017-09-29 07:08] demonister commented on #1018
if run on node `reboot` , then also the problem.

`locksmithctl` works through `"reboot"`

[code]

[2017-09-29 11:45] demonister commented on #1018
maybe this is a problem in coreos + ceph

can have ideas where to look

logs, from reboot

[code]

[2017-09-29 12:04] demonister commented on #1018
and after reboot missing `/dev/rbd0`
and cluster ceph is down
[code]
[code]

[2017-09-29 15:09] bassam commented on #1018
Looks like something went wrong with the shutdown sequence, here's are some of the interesting events in the log:

[code]
It looks like the kubelet was shutdown without unmapping the krbd device, and then the network was shutdown and krbd was struggling to talk to the MONs then hung (see #376).

/cc @jbw976 @idryomov who might be able to give more hints.

[2017-09-29 17:16] travisn commented on #998
@galexrt @levidehaan any luck with the repro on this?

[2017-09-29 17:22] galexrt commented on #998
@travisn I didn't had the time yet to try to repro on another cluster. I'm able to test it out on the weekend.

[2017-09-29 17:26] jbw976 opened #1023 "test: Add bluestore coverage in the integration tests"
We currently only use filestore in the integration tests, but we should also be testing bluestore as well, as that is now the default data path in Luminous.

The issue is that Rook only supports block devices (not directories) for bluestore and our integration test environments (kubeadm, minikube, AWS, GCE) don't all have available block devices for bluestore.  This could be made easier with #398,

[2017-09-29 17:59] DanKerns commented on #1023
This isn't just a test issue. It's something the cluster needs to support that it doesn't today.

[2017-09-29 20:53] travisn opened #1026 "Set owner on all resources created by CRDs"
With K8s 1.8, there is a new feature that allows you to set a resource's owner such that all resources in the dependency tree will be deleted when the parent object is deleted. This will be a very nice thing for our CRDs.
https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/
https://blog.openshift.com/garbage-collection-custom-resources-available-kubernetes-1-8/

[2017-09-29 22:07] travisn opened #1027 "Failed mon assert when mds standby replay is assigned with multiple file systems"
While testing multiple file systems with varying standby and replay settings, two of the mons core dumped with the following assert:
[code]

It would appear there is an issue with the standby being assigned by the mon after adding a third filesystem. The configuration of the file systems in the cluster was:
- `myfs`: two mds active, two mds on standby-replay
- `yourfs`: three mds active, three mds

[2017-09-29 23:29] #1010 closed

[2017-09-30 14:00] galexrt commented on #998
@travisn I can't reproduce this issue with the latest `master` image.

@levidehaan Could you please repull the `rook/rook:master` on all your nodes and delete the `rook-ceph-mgr0*` pod to see if the issue persists for you.

[2017-10-02 10:16] FaKod commented on #543
[kubernetes/kubernetes#46843]( kubernetes/kubernetes#46843) has been closed by stating that the rook team will use a flexvolume. So ReadWriteMany will still be available with K8s 1.8? Or is the timeline independent from K8s now?

[2017-10-02 14:32] bassam commented on #543
@FaKod yes we are going to use a flex volume (the work is well underway see #882). ReadWriteMany will be support by the flex volume and is independent of K8S. One feature that would help RWM is the ability to mount devices directly into containers which looks like will come in v1.9.

What is you scenario for RWM? How do you plan to use it?

[2017-10-02 14:39] luxas commented on #543
@bassam When is the next Rook release scheduled?

[2017-10-02 16:28] jbw976 commented on #767
As discussed, the machinery should be in place to get the pod to a good state (PVC bound, mounted and pod running).  The integration tests should only wait on that final outcome, they shouldn't have to wait for the intermediate steps to get there, such as the PVC becoming bound.  @dangula will update the tests to give us confidence that we have the machinery in place to handle the timing and retri

[2017-10-02 16:30] kokhang commented on #544
@luxas i think we all the new additions we have made to Rook, i believe this use case is been solved.  I will close this. Please feel free to reopen it if you have any other concern. Thanks

[2017-10-02 16:30] #544 closed

[2017-10-02 21:55] dangula commented on #979
1)  log files collected in integration tests need to say what test the pod log is from and what env the pod log file was from (GCE or AWS).  when you look at the test artifacts its just a big mixed list with no indication of what each pod log is for besides the suite it belongs to.
2) cluster health should be checked after cluster setup before moving on with the test case steps.  if the cluster’s

[2017-10-02 22:19] kokhang opened #1030 "Cleanup orphaned attachments in VolumeAttachment CRDs"
During multiple attachments on ReadOnly case, there could be cases where pods are failed over to other nodes. Since we allow multiple attachment in RO, there could be cases where the attachment records for these failed over pods are still persisted on the CRDs.

We need a cronjob that runs daily to go over every VolumeAttachment CRDs and make them in sync. Which means going over the list of attach

[2017-10-02 23:32] jbw976 commented on #1030
@kokhang could you provide a more clear scenario (sequence of steps) where this could happen?

[2017-10-03 06:25] FaKod commented on #543
@bassam I think there is no use case in microservice architectures. However, some customers are using file transfer from one container to another, are implementing distributed locks via filesystem or use a specific common (and slow) file store for pictures/videos. What I tested is to grab html files from a repository, store them in a "shared" volume and use it in a nginx container (just for testin

[2017-10-03 15:32] kokhang commented on #543
@FaKod The thing about RWX is that Kubernetes does not support returning raw block volumes. It is always expects a block volume formatted and mounted with a filesystem. So it cannot support RWX for block. Here is the feature that tracks this. https://github.com/kubernetes/features/issues/351

However, we rook you can create ceph filesystems. These are RWX. Can you leverage this for your use case i

[2017-10-03 17:50] dangula opened #1031 "Improve coverage for Block Longhaul test"
Need to modify the existing test to test two scenarios a.) mount a volume once and use it(read/write data) for extended period of time and b.)create multiple other ephemeral volumes i.e.- create volume, attach and detach

Also, need to add a new test to test fencing.

[2017-10-03 23:39] #726 closed

[2017-10-03 23:39] #1007 closed

[2017-10-03 23:41] jbw976 commented on #1007
@jpds a fix for this has been merged to master with #1024.  let me know if you still see this behavior on any build after that merge. Thanks again for reporting this!

[2017-10-04 06:46] galexrt commented on #1018
When using Container Linux there currently is a PR underway that kind of fixes this. The PR waits for the Pods to be drained of the node before initiating the reboot: https://github.com/coreos/container-linux-update-operator/pull/137

[2017-10-04 15:44] FaKod commented on #543
@kokhang "with rook you can create ceph filesystems". Do you have an example how to do that?

[2017-10-04 16:58] dangula opened #1032 "Add coverage for k8s 1.8 to the build pipeline"
We need to run integration tests on k8s 1.8

[2017-10-04 17:41] kokhang commented on #543
@FaKod This is how you can setup and consume a filesystem. https://github.com/kokhang/rook/blob/master/Documentation/k8s-filesystem.md.

This is changing very soon and it is being made easier via CRD. https://github.com/rook/rook/pull/1029

[2017-10-04 17:48] kokhang commented on #1030
With the new rook flexvolume you can only have one RW attachment. However you can have multiple RO attachments.

In the case of multi RO attachments, for every attachment, a VolumeAttachment CRD is created. These CRDs could go stale and become orphans if the pods that attached this volumes are evicted due to, for example, node failures. When the evicted pods are failed over to another nodes, they

[2017-10-04 18:59] kokhang opened #1033 "Log level is not inherited by Rook components other than Rook-operator"
If the rook operator is started with a non-default log-level, pods that are created by the operator such as mon, osd, rgw etc are not passed the log-level and use the default.

Thanks @galexrt for finding this issue in https://github.com/rook/rook/pull/882#issuecomment-333365055.

[2017-10-04 19:01] kokhang commented on #1033
There are two ways being discussed to solve it. One to have a single argument that is applied on all the components or having separate arguments for each components. For example

ROOK_LOG_LEVEL = "Debug"
vs
ROOK_OPERATOR_LOG_LEVEL = "Debug"
ROOK_MON_LOG_LEVEL = "Debug"
ROOK_OSD_LOG_LEVEL = "Debug"
ROOK_AGENT_LOG_LEVEL = "Debug"
...

[2017-10-04 19:09] travisn commented on #1033
Besides the rook daemon log settings, we need to consider how we can pass different log levels to the ceph daemons. Individual components of ceph can be enabled at different log levels within a given daemon. See http://docs.ceph.com/docs/kraken/rados/troubleshooting/log-and-debug/#subsystem-log-and-debug-settings

Some requirements for logging that would be ideal:
- The log settings can be specifi

[2017-10-04 19:12] kokhang commented on #1033
Ahh i see your point. Perhaps we can have two args. One to control the Rook log level and another to control the "backend" (in this case ceph) log level.
The rook log level would just be applied to Rook, which include operators, mds, mons, osd etc.
The rook log level arg can be set in the operator manifest whereas the "backend" log level can be set in the Cluster CRD.

[2017-10-04 19:21] travisn commented on #1033
it's still important to make the settings granular. we shouldn't just assume the same logging level is desired for all components. I don't think this should be exposed in the CRD either. Debug log levels are more of a short-term troubleshooting task that don't seem like a part of the crds.

[2017-10-04 22:46] #1032 closed

[2017-10-05 03:52] jbw976 commented on #1033
Ignoring the topic of granularity (rook components and ceph components), I did just want to make sure it's know that we already have a simplistic conversion from the user specified Rook log level to the corresponding Ceph log level that will in turn be set: https://github.com/rook/rook/blob/master/pkg/ceph/mon/config.go#L324

e.g., if the user specifies DEBUG to a Rook daemon, then it will set the

[2017-10-05 03:56] jbw976 commented on #1033
Also, to specify ceph log levels more directly, the config file override can be used.  That may very well be an easy, straightforward, granular means for the user to specify exactly the Ceph logging level they want for the Ceph components they want, without us having to write any more code or design any new features.

[2017-10-05 13:13] grebois opened #1037 "User "system:serviceaccount:rook:default" cannot get configmaps"
Using kube 1.8 and installing like;

[code]

with  rook-cluster.yaml as;

[code]

I'm getting;

`
failed to get data dirs. failed to load OSD dir map: configmaps "rook-ceph-osd-******-config" is forbidden: User "system:serviceaccount:rook:default" cannot get configmaps in the namespace "rook"
`

on rook-ceph-osd pods

[2017-10-05 15:20] jbw976 commented on #1037
This is unexpected because while the OSD pods do now access configmap resources in the latest master builds, we also should be generating the correct RBAC roles/bindings to allow them to do so.  I wonder if something went wrong with creating the RBAC objects by the operator.

Can you share you operator pod log?

Can you also share the output of these commands?
[code]

[2017-10-05 15:40] travisn commented on #1033
@jbw976 good point, we already have the flexibility for ceph logging with the config file override. So it's really a question of log level for the rook components

[2017-10-05 16:00] grebois commented on #1037
@jbw976 Here is the operator pod log;

[code]

And the output of the commands;

[code]

[2017-10-05 16:17] jbw976 commented on #1037
Hmm, the operator logs don't show it even trying to create the rook-ceph-osd RBAC stuff.  Maybe there is a version mismatch between the operator and the OSD pod?  What does this output for you?
[code]

If the operator has a different version than the OSD pods, perhaps you need to do a `docker pull rook/rook:master` on your nodes and then restart the operator pod?

[2017-10-05 16:39] grebois commented on #1037
Operator is running rook/rook:v0.5.1 and the OSDs are running rook/rook:master

[2017-10-05 17:14] jbw976 opened #1038 "add integration test for OSD metadata recovery"
It would be wise to have an integration test for OSD metadata recovery.  The feature implementation can be found in #1024.

Note that this scenario is only really useful (in a practical sense) when using bluestore devices.  When using a directory, the data and metadata is collocated, so if you've lost the metadata you've also lost the data, making the recovery of the metadata not useful.

We can a

[2017-10-05 17:16] jbw976 opened #1039 "add integration test coverage for raw block devices"
We only run integration tests with local directories for the backing storage, we do not have any coverage of provisioning and running with raw block devices.  This is a hole that would be nice to fill to get broader coverage on our code base, but it is tricky to ensure that devices are available in all our integration test environments.

[2017-10-05 17:31] jbw976 commented on #543
@kokhang do we also have documentation for the current way (before Rook flexvolume plugin gets CephFS support) to use CephFS with a persistent volume claim for a pod?

[2017-10-05 17:55] jbw976 commented on #1030
I see.  And just to be clear, since CRD instances are per volume, we are talking about stale attachments inside a single CRD's attachment list.  Brand new top level CRDs would not be created in this scenario because they are all for the same underlying volume, right?

[2017-10-05 18:11] jbw976 commented on #1037
Oh I see, thank you for clarifying @grebois.  This is an incompatibility between the 0.5.1 operator and the OSDs from latest master.  I should update the [pending release notes](./PendingReleaseNotes.md) to capture this breaking change better.

Was there a specific scenario you were trying to accomplish by having an older version for the operator than for the storage cluster?

I believe that it wi

[2017-10-05 18:54] jbw976 opened #1041 "RBAC permissions for operator vs cluster components"
Rook currently uses 3 different service accounts: rook-operator, rook-api, rook-ceph-osd.  We need to straighten out the following:
* Should cluster components (OSDs, mons, etc.) each have their own service account, or just 1 service account that they all use?
    * rook-operator needs to be cross namespace and it should only be used by the operator and agents.
* rook-ceph-osd should be scoped to

[2017-10-05 18:59] kokhang commented on #1041
I propose to have two roles. One for the operator (which includes agents) and one for Clusters (osd, mon, api, rgw etc). I think it just makes it easier to manage. A rook cluster is seems as a unit and created as a unit (via the CRD) that encompasses mons, osds, api etc. So it seems naturally to have a role/service account that is applicable at a cluster level.

[2017-10-05 19:07] travisn commented on #1041
@jbw976  yes, rook-api should be scoped to a single namespace like the osds

[2017-10-05 19:48] DanKerns commented on #1037
Yesterday I saw a different but similar error running in the same version configuration as @grebois. The fix for me was setting both to v0.5.1.

[2017-10-05 21:51] #697 closed

[2017-10-05 21:57] jpds opened #1042 "External RGW example should use ingress resource"
Hello,

The external RGW example should use an Ingress resource instead of the NodePort hack it uses.

Here's an example ingress definition I made for my test cluster:

[code]

[2017-10-06 01:04] #1002 closed

[2017-10-06 10:53] jpds commented on #1037
Hmm, I'm running `master` on both my operator and OSDs and they're hitting this same RBAC issue (on oddly - only one of the OSDs).

[2017-10-06 11:06] grebois commented on #1037
@jbw976 no real reason, probably ignorance, I was under the impression that alpha would be ahead of master, as the charts for master are v0.5.0, nevertheless I have updated the cluster to alpha as;

[code]

And it looks better now, still I have a doubt, is rook/rook:alpha same as rook/rook:v0.5.1 ?  can the cluster work with versionTag: v.0.5.1 ? I tried it but nothing got created. The documentati

[2017-10-06 11:38] grebois commented on #1037
Got it working with @DanKerns suggestion of setting versionTag to v0.5.1

[2017-10-06 13:38] jpds commented on #717
Hello, I've been using `wipefs` for some time now and this works for me.

[2017-10-06 14:07] jpds commented on #718
Interestingly, I've ran into this on a separate cluster from the original bug report I wrote.

I see this in the `kubectl logs`:

[code]

And it's stuck there. And `rookctl status` shows:

[code]

However the pod just shows as `Ready`:

[code]

[2017-10-06 15:48] jbw976 commented on #1037
@jpds i wonder if the one OSD that is hitting hasn't been updated to use the new `rook-ceph-osd` service account in its spec.  What does this look like for you (it will print out the name and service account of all OSDs)?
[code]

[2017-10-06 16:49] kokhang commented on #1030
Correct.

[2017-10-06 17:32] jbw976 commented on #1038
Actually, this may be possible to do without having raw block devices in the integration test environment.  Bluestore symlinks the block/db/wal to either a device or a directory (I think), so we could just symlink to directories that are outside of the config dir.  Then blow away the config dir and restart the OSD, verifying that it recreates its metadata and filesystem.

[2017-10-06 19:39] alhafoudh commented on #964
Any news?

[2017-10-06 20:39] kokhang opened #1044 "Rook filesystem mount does not work with kernel older than 4.7"
When trying to mount a filesystem, i get the following error:

[code]

This is how my cluster looks like:
[code]

However, if i run the mount command manually and remove the `mds_namespace` option, it works. It attaches the `myfs` filesystem.
[code]
Kernel version:
[code]
Ubuntu version
[code]

[2017-10-06 21:26] koalalorenzo commented on #964
How long should we wait for this?

[2017-10-06 22:00] kokhang commented on #964
@koalalorenzo @alhafoudh the PR is pretty much ready and has been reviewed thoroughly by core reviewers. I just need one more approval and it should be in. https://github.com/rook/rook/pull/882

@koalalorenzo about debugging rbd plugin, unfortunately the best way to just to look at the kubelet logs. Making sure you have the ceph-tools installed. But the new flexvolume should address this issues

[2017-10-06 22:07] koalalorenzo commented on #964
@kokhang ETA for the flex volume? :) 👍 well done btw

[2017-10-06 22:11] kokhang commented on #964
@koalalorenzo just as soon as @bassam reviews it and approves it. He is the only one left who requested a change. :)

[2017-10-06 23:34] jbw976 commented on #667
A couple thoughts on a simple implementation for this:
* A simple monitoring loop within the OSD pod that checks on the state of its OSDs (up/in) and if they are down/out for too long then just restart them
* Only bring down a single OSD at a time within a pod.  The OSD pod should manage this itself (as opposed to the operator) because restarting the entire pod to fix 1 OSD would be too disruptive

[2017-10-07 02:50] jbw976 commented on #1038
Nevermind, this integration test doesn't actually make sense without having support for block devices in our test environments.  The whole feature of OSD metadata recovery revolves around losing the config volume while the data remains safe on other volumes.  This can only really be tested once we have some external volumes available in our test environments.  Currently, only ephemeral pod storage

[2017-10-07 02:56] grebois commented on #1037
[code]

which at least correlates with the initial error :)

[code]

[2017-10-07 03:01] jbw976 commented on #1037
@grebois you are running OK now using v0.5.1, right?  if so, your output showing that the OSDs are using the default service account is expected.  Let me know if you are still having issues though.

I was mostly curious about @jpds experience where only 1 OSDs is having this issue.  I expect in his setup that we'd see one of the OSDs using the default service account while the other OSDs are using

[2017-10-08 12:37] jpds opened #1045 "Rescheduled pods fail to mount PVCs"
Hello,

I'm running a fully HA Kubernetes 1.7.5 deployment with three Rook OSDs on the worker nodes of the Kubernetes deployment. I'm using Debian 9 as my host OS and the deployment was done with kubespray.

I've noticed that my pods backed by Rook volumes fail to be rescheduled to new nodes if the node fails/if I delete the pod from the deployment. However, this doesn't affect non-persistent pods

[2017-10-08 12:49] jpds commented on #1045
In the `daemon.log` file for nodea itself, I see:

[code]

[2017-10-08 13:00] galexrt commented on #1045
@jpds Could you provide the manifest of the storageclass and pod you created?
You can get the storageclass manifest by running: `kubectl get storageclass NAME -o yaml` and for the pod `kubectl get po NAME -o yaml`.
Also post the list of the secrets in the namespace, I assume default from the logs, would be good (`kubectl get secrets`).

There seems to be something "wrong" about the ceph config use

[2017-10-08 13:12] jpds commented on #1045
StorageClass is:

[code]

Pod itself is:

[code]

Rook secrets are:

[code]

[2017-10-08 13:39] galexrt commented on #1045
For me this really seems like that a) the rbd image is still locked by the other node and b) Kubernetes has some issue with the keyring and tries to release the lock on the image but fails because of `Oct  8 10:56:37 nodea kubelet[7037]: rbd: releasing lock failed: (13) Permission denied`.

@travisn @jbw976 Should be able to tell more from the logs and outputs.

[2017-10-08 14:36] jpds commented on #1045
I'm trying to find out where this `Permission denied` came from - does this connection depend on the `rook-api` pod being up? I can see that it restarted at the same time the affected pod came up so they were probably both on the previous node:

[code]

[2017-10-08 14:42] jpds commented on #1045
This doesn't appear to be a problem specific to the kubespray deployment, I have this occuring on another Kubernetes cluster which I deployed with `kubeadm` (both are verion 1.7.5).

`kubectl describe` for the new pod shows:

[code]

[2017-10-08 14:45] galexrt commented on #1045
@jpds The last line you sent, means that the rbd image is simply still locked by another node that "failed" and because of that didn't release the lock on the image.

[2017-10-08 14:46] jpds commented on #1045
The previous node hadn't 'failed', I just did a quick `kubectl delete` on the pod, and the deployment moved it to another node.

[2017-10-08 14:48] galexrt commented on #1045
This really seems like an issue with the ceph config the kubelet uses. The kubelet isn't able to release locks but seem to mount rbd images (you wrote that the pods work fine first time, right?).

[2017-10-08 14:49] jpds commented on #1045
Yep, they work the first time but then fail to migrate.

[2017-10-09 09:08] finillo opened #1046 "How create rook-rook-user secret"
Hi,

I have deleted rook-rook-user secret accidentally. Is there a way of recreate without destroy the cluster?

[2017-10-09 09:13] finillo commented on #1046
I will close:

Editing rook-operator recreates the secret

[2017-10-09 09:13] #1046 closed

[2017-10-09 09:32] tomciaaa commented on #964
I am experiencing a similar issue with the image being locked after following the demo setup, and am getting similar kubelet. Importantly I'm also getting 'Permission denied (13)' in kubelet logs when it's trying to release the lock as well as corresponding access denied logs in ceph-mon logs for the rook-rook-user. Seems like others are running into the same issue as well: (e.g. #1045).

Maybe it

[2017-10-09 14:20] bassam commented on #1042
@jpds which versions of Kubernetes support ingress? it would be great if we switch to ingress.

[2017-10-09 14:22] bassam commented on #1041
we also need to consider the rook-agent now. I think we should use the principle of least privileged to sort these. The operator is highly privileged (it can start pods in different namespaces, etc.), if the other roles have the same level of privileges then lets group them (i.e. they can use the same service account), otherwise lets use difference service accounts for the sub-groups.

[2017-10-09 14:23] bassam commented on #1039
this is a big gap in coverage.

[2017-10-09 14:27] bassam commented on #1030
Is that really expensive? I'd imaging that there would be a handful of these. I prefer a model where we are actively cleaning up on the next attach (for RO and RW), and only have to do a batch clean job infrequently.

[2017-10-09 14:29] bassam commented on #1030
also can the new owner feature help with this cleanup? https://blog.openshift.com/garbage-collection-custom-resources-available-kubernetes-1-8/

i.e. can the volume attachment CRD set as it's owner the pod?

[2017-10-09 14:32] bassam commented on #1015
repurposing the ticket to support ceph-fuse.

[2017-10-09 14:34] bassam commented on #1011
Said differently, if the cluster is completely destroyed and a new cluster is brought back up with the same Rook state that was in etcd (CRDs, etc.), and the persistent volumes (underneath MON, OSDs), the cluster should look and behave like the old cluster before it was destroyed.

[2017-10-09 14:39] bassam commented on #1000
This would be a great addition for 0.7, also note that there is a new working group forming to address CRD shortcomings and we should get involved there:

https://groups.google.com/forum/m/#!msg/kubernetes-sig-cli/axv_RxpyX3k/U_6-_wlRAAAJ

[2017-10-09 14:40] bassam commented on #998
can this be closed now?

[2017-10-09 14:43] bassam commented on #977
I assume this will be closed when #882 is merged.

[2017-10-09 14:45] bassam commented on #966
I wonder if exposing NFS outside the Rook cluster is a better approach than relying on hostNetwork support for this.

[2017-10-09 14:55] bassam commented on #962
this looks like it was [fixed](http://tracker.ceph.com/issues/20529) but might not be back ported to luminous. we might need to backport this in our branch.

[2017-10-09 15:08] bassam commented on #925
is this still the case? its not realistic to run with RBAC anymore.

[2017-10-09 15:10] bassam commented on #892
closing. @dylanjohnsonsfo please reopen if this still an issue.

[2017-10-09 15:10] #892 closed

[2017-10-09 15:11] jbw976 commented on #667
Assigning to @paha for now since I'm hoping he can pick this up this week.  @paha please reach out to me for any questions about this implementation or that part of the codebase in general. Thanks!

[2017-10-09 15:12] jbw976 commented on #925
Do you mean it's unrealistic to run without RBAC?  Using minikube without RBAC is letting RBAC permissions issues slip through the cracks until a dev runs on another environment that uses RBAC.  It would be great to fix this so we are always running with RBAC on.

[2017-10-09 15:16] #721 closed

[2017-10-09 15:17] bassam commented on #717
one thing I'm struggling with is when would Rook know that its OK to zap/wipe the disks? I would assume that the admin would have to explicitly tell us to do so.

[2017-10-09 15:18] bassam commented on #704
whats the plan for this?

[2017-10-09 15:20] #632 closed

[2017-10-09 15:21] #547 closed

[2017-10-09 15:22] bassam commented on #380
@travisn @jbw976 is this still the case?

[2017-10-09 15:23] bassam commented on #328
closing as we've not seen this and is likely to an old version of ceph.

[2017-10-09 15:23] #328 closed

[2017-10-09 15:24] bassam commented on #265
Repurposing the ticket to rook toolbox.

[2017-10-09 15:25] bassam commented on #252
@travisn can this be closed?

[2017-10-09 15:26] bassam commented on #231
@travisn can this be closed?

[2017-10-09 15:26] bassam commented on #209
I believe our plan is to rely on RBAC and K8S authorization going forward.

[2017-10-09 15:26] #209 closed

[2017-10-09 15:27] travisn commented on #380
let's close this, i don't know of any cases where we have missed the output from a child process.

[2017-10-09 15:27] #380 closed

[2017-10-09 15:28] bassam commented on #101
no longer needed after the 0.5 release

[2017-10-09 15:28] #101 closed

[2017-10-09 15:28] travisn commented on #252
Yes, this was done with #1029

[2017-10-09 15:28] #252 closed

[2017-10-09 15:29] bassam commented on #82
closing this in favor of #400.

[2017-10-09 15:29] #82 closed

[2017-10-09 15:29] travisn commented on #231
Yes, done with #1029

[2017-10-09 15:29] #231 closed

[2017-10-09 15:38] bassam commented on #701
examples to follow: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L186

[2017-10-09 15:39] travisn commented on #1037
@jbw976 we can close this, right?

[2017-10-09 15:42] travisn commented on #998
@levidehaan please reopen if you are able to repro. The mgr isn't expected to have any state, so restarting the pod should work.

[2017-10-09 15:42] #998 closed

[2017-10-09 15:46] travisn commented on #970
@dangula does this still repro since #1029

[2017-10-09 15:47] travisn commented on #985
Support has been removed for standalone. There is still some legacy code under the covers, but I'll open a new issue to clean that up.

[2017-10-09 15:47] #985 closed

[2017-10-09 15:49] travisn opened #1047 "Remove remaining legacy standalone code"
Standalone support was removed in #985, and more code removed in #1029. There is still more legacy code to remove in the ceph daemons and clusterd packages.

[2017-10-09 15:52] travisn commented on #957
Since #958 was merged, I'm less clear on the scenario where we really need a change here. Let's open a more specific issue when the scenario is clear.

[2017-10-09 15:52] #957 closed

[2017-10-09 15:58] travisn opened #1048 "Run two MGRs to have one in standby mode"
Currently Rook is only running a single MGR pod. We should run two so one is in standby mode and provide faster failover than if we have to wait for kubernetes to bring up another pod.

[2017-10-09 16:11] jpds commented on #1042
@bassam It's been available since 1.1.

[2017-10-09 16:55] #432 closed

[2017-10-09 16:59] jpds commented on #1037
@jbw976 I haven't had the chance to readd a new node to my cluster, but I will be doing this in the next few days.

[2017-10-09 17:17] galexrt commented on #1048
@travisn Should this be configurable or simply set the replicas to 2?

[2017-10-09 17:19] kokhang commented on #1045
@jpds The PR for rook to use a flexvolume plugin has just been merged. https://github.com/rook/rook/issues/432

You shouldnt see this issue anymore. Please report back if you see any more issues. Thanks

[2017-10-09 17:19] #1045 closed

[2017-10-09 17:20] kokhang commented on #964
@koalalorenzo @tomciaaa @alhafoudh @sean-brandt @yagooar  The PR for rook to use a flexvolume plugin has just been merged. This will use a different way to attach rbd volumes and no longer will use the kubernetes rbd plugin. https://github.com/rook/rook/issues/432

You shouldnt see this issue anymore. Please report back if you see any more issues. Thanks

[2017-10-09 17:20] #964 closed

[2017-10-09 17:23] kokhang commented on #1005
@Ulexus the PR for rook to use a flexvolume plugin has just been merged. This will use a different way to attach rbd volumes and no longer will use the kubernetes rbd plugin. https://github.com/rook/rook/issues/432

The new flexvolume also ensures that the mon-ip used are the latest.
You shouldnt see this issue anymore. Please report back if you see any more issues. Thanks

[2017-10-09 17:23] #1005 closed

[2017-10-09 17:24] kokhang commented on #977
This is done with #882

[2017-10-09 17:24] #977 closed

[2017-10-09 17:31] kokhang commented on #824
@isaldarriaga the modprobe rbd issue will only occur when you have a pod consuming storage. In this case it seems that the OSD pod failed to run. Can you provide the logs from the osd pods ?

Also there has been quite a few changes since July on Rook. Can you see if this is still happening for you?

[2017-10-09 17:32] kokhang commented on #800
standalone has been deprecated

[2017-10-09 17:32] #800 closed

[2017-10-09 17:34] kokhang commented on #759
done with #882

[2017-10-09 17:34] #759 closed

[2017-10-09 17:35] kokhang commented on #756
@lucasvel ill take a look on this. Thanks

[2017-10-09 17:40] kokhang commented on #583
with #882 merged, this should not happen

[2017-10-09 17:40] #583 closed

[2017-10-09 17:43] kokhang commented on #543
@jbw976 ceph filesystem cannot be dynamically created with pvc.  This is created using a CRD. https://github.com/rook/rook/blob/master/Documentation/filesystem-crd.md

Now that we support multiple filesystem, perhaps we should leverage the PVC instead of CRD. But that is a different discussion.

[2017-10-09 17:43] jbw976 commented on #721
@bassam is there another ticket tracking the snapshotting/publishing with version numbers of our yaml files too?

[2017-10-09 17:45] kokhang commented on #475
With #882, this is no longer needed

[2017-10-09 17:45] #475 closed

[2017-10-09 17:46] kokhang commented on #423
With #882, this should be addressed

[2017-10-09 17:46] #423 closed

[2017-10-09 18:03] kokhang opened #1050 "Address doc issues to reflect the rook flexvolume PR"
This is to address an issues brought here https://github.com/rook/rook/pull/882#discussion_r143330744
https://github.com/rook/rook/pull/882#discussion_r143330799

[2017-10-09 18:08] kokhang opened #1051 "Need a new Rook architecture image to include the new rook-agents and rook-flexvolumes"
This is the current image that needs to be updated. https://github.com/rook/rook/blob/master/Documentation/media/kubernetes.png

[2017-10-09 18:09] travisn commented on #1048
I haven't seen a reason that it would need to be configurable. Having 2 replicas seems sufficient for HA.

[2017-10-09 18:09] kokhang opened #1052 "Rename flexvolume to rookflex"
This is to address comment https://github.com/rook/rook/pull/882/#discussion_r143330864
and https://github.com/rook/rook/pull/882#discussion_r143331724

[2017-10-09 18:10] bassam commented on #721
no. I'll create one.

[2017-10-09 18:11] bassam opened #1053 "build: snapshot and publish yaml files and other artifacts"
We should also consider snapshotting all our yaml files, replacing the version numbers etc. and pushing them to our S3 bucket.

[2017-10-09 18:12] kokhang opened #1054 "Have the agents perform initialization of volume backends instead of the flexvolume driver"
Address this comment
https://github.com/rook/rook/pull/882#discussion_r143331199

[2017-10-09 18:15] kokhang opened #1055 "Perform mount and format in the agent pods rather than the flexvolume driver"
Addressing these comments:
https://github.com/rook/rook/pull/882#discussion_r143331278
https://github.com/rook/rook/pull/882#discussion_r143340506
https://github.com/rook/rook/pull/882#discussion_r143331597
https://github.com/rook/rook/pull/882#discussion_r143331646

[2017-10-09 18:15] Ulexus commented on #1005
@kokhang Thanks; I've been monitoring the flexvolume PR.  I'm looking forward to trying v0.6

[2017-10-09 18:16] kokhang opened #1056 "Move rbd util fuctions out of device.go"
Addresses this comment https://github.com/rook/rook/pull/882#discussion_r143331839

[2017-10-09 18:18] bassam commented on #1051
how about this one:

<img width="1622" alt="screen shot 2017-10-09 at 11 18 16 am" src="https://user-images.githubusercontent.com/1463491/31352424-9237989c-ace3-11e7-8cfe-3500cde9e57d.png">

[2017-10-09 18:21] kokhang opened #1057 "Improve kubeadm.sh script when it comes to modifying kubelet args"
Addresses https://github.com/rook/rook/pull/882#discussion_r143331873

[2017-10-09 18:23] kokhang commented on #1051
That is also outdated. The rook volume plugin is not part of kubelet. It lives in two places. Hosts (driver) and agent pods (logic).

[2017-10-09 23:24] kokhang opened #1062 "Execute modprobe in agent pod"
Currently modprobe is being done in the driver. It is more desirable to do this in the agent pod so that we dont have to change the driver when we support other path like nbd.

This was raised by https://github.com/rook/rook/pull/882#discussion_r143331199

[2017-10-09 23:33] DanKerns opened #1064 "Add Rook to the Rancher Catalog"
Rancher has a catalog of applications that you can install with the click of a button. This makes those applications super accessible on Rancher.

In the interests of getting Rook available to more people we should add it to the Rancher Catalog.

[2017-10-10 04:49] FaKod commented on #543
@kokhang Which version do you mean? In the last release, there is no CRD other than cluster, right?

[2017-10-10 08:01] grebois commented on #1037
@travisn I will try this again from scratch during this week, if you could keep it this open a bit longer.

[2017-10-10 08:02] FaKod commented on #1018
Ok, tested the PR. Result: No change.
The update-operator (respective the agent) waits for pod termination (f.e. my ElasticSearch pods), but he deleted the rook pods before :-) That results (imho) in pods that never terminate. So obviously there is still work to do.

[2017-10-10 10:10] galexrt commented on #1018
@FaKod DaemonSets aren't deleted when a drain is called, so the rook-agent remains on the node. Which then should normally handle the unmount. This is only a problem for OSDs and the other services which don't run as a DaemonSet.
I drained a node (in a 8 node cluster) and the pods got moved to other nodes without a problem (I'm still using the rook flex volume plugin build from the PR and the "off

[2017-10-10 10:13] galexrt commented on #1018
Oh sorry, I just found out that it isn't a call to `kubectl drain` but actually a `kubectl delete` for all pods on the node see https://github.com/coreos/container-linux-update-operator/blob/f4db85b2201fe5bafc5019da6aace0891db8e9f0/pkg/agent/agent.go#L151-L159.

[2017-10-10 10:51] FaKod commented on #1018
Yes, that's what I am talking about.

[2017-10-10 11:14] galexrt commented on #1018
@FaKod I think one way to solve this would be to raise an issue at container-linux-update-operator to not delete the pods but instead run a drain.

[2017-10-10 18:50] travisn commented on #1001
After discussion in slack, we will treat the CRD as API, which does not typically ask for confirmation of actions, and go ahead and delete the underlying pools when file, object, or pools CRDs are deleted. At the same time, we will push for CRDs to provide the ability to confirm a delete.

[2017-10-10 22:20] travisn opened #1067 "GET on a large file from rgw intermittently hits flush_read_list error"
When running a GET on a large (1GB file) repeatedly for an hour, the following error was hit 44 times.
[code]

Here is some more context around the first instance of the failure.
[code]

There are a few Ceph threads with this error message, however I don't see a resolution to any of them. We need to follow up with Ceph.
http://lists.ceph.com/pipermail/ceph-users-ceph.com/2016-February/007756.html

[2017-10-10 23:41] dangula opened #1068 "Deleting a bucket on object store is taking a long time via Rook API"
Calling the delete bucket API to delete is taking a long time. It is very noticeable when there is a large number of objects in the bucket.  The API deleting all the objects from the bucket before deleting the bucket. As a result, the bucket might be available for hours even after delete bucket API is called.   We need to look at ways to speed up delete bucket.

[2017-10-11 08:38] fatduo commented on #799
Hi @jbw976  @travisn

As the description in https://github.com/rook/rook/blob/master/Documentation/cluster-crd.md

`dataDirHostPath`: The host path where config and data should be stored for each of the services. If the directory does not exist, it will be created. Because this directory persists on the host, it will remain after pods are deleted. Therefore, for test scenarios, the path must be de

[2017-10-11 12:28] bassam commented on #796
@travisn does this remove the need for dataDirHostPath completely?

[2017-10-11 15:26] travisn commented on #799
@fatduo Yes you would absolutely want to use `dataDirHostPath` in a production environment. This way the mon and osd pods can be more resilient to restarts. Without this set, the cluster will not survive a reboot. We should clarify the docs on this. The following doc just mentions it briefly: https://rook.io/docs/rook/master/kubernetes.html
`For the cluster to survive reboots, make sure you set th

[2017-10-11 15:28] travisn commented on #799
also note that we hope #796 will make it so persistence on the host is the default

[2017-10-11 15:29] travisn commented on #796
yes, that is the hope, i just haven't been able to put together a prototype yet

[2017-10-11 16:08] bassam commented on #796
would be great to get rid of dataDirHostPath in 0.6. Its confusing and with it not being the default it means we don't survive reboots by default :-(

[2017-10-11 16:19] travisn commented on #796
yes, very much would like to make that happen, i'm working on it next. Also to consider is that local storage is still in alpha

[2017-10-11 18:40] paha commented on #819
Kubernetes has excellent [documentation](https://kubernetes.io/docs/tasks/access-kubernetes-api/migrate-third-party-resource/) on TPR to CRD migration. I don't think we need to document such migration for Rook.

A small section linking to the Kubernetes documentation can be added to the Rook upgrade documentation. Alternatively we can simply refer to this issue, which I think might be sufficient.

[2017-10-11 20:33] jpds opened #1071 "Automated OSD removal"
Rook requires an automated way to remove an OSD from the cluster. I have a phantom one in one of my clusters and I'm not sure where it came from.

Code from the standalone version of Rook can be used for this at: https://github.com/rook/rook/blob/6795f08990e197db7965cb8cdf2bb3c75422e8de/pkg/ceph/osd/agent.go#L238

[2017-10-11 20:44] galexrt commented on #1071
@jpds I also had a phantom OSD and you can try running the following commands (to temporarily fix it):
Replace `<ID>` with the OSD ID from the following command:
[code]
Run the commands even if one errors.
[code]
(Source: https://www.sebastien-han.fr/blog/2015/12/11/ceph-properly-remove-an-osd/)

These commands removed the OSD successfully from the osd tree map and "fixed" the cluster to go back i

[2017-10-12 03:53] kokhang commented on #1055
For this to work, we need mount propagation in k8s, which became alpha in 1.8. https://kubernetes.io/docs/concepts/storage/volumes/#mount-propagation

Agents run in a pod. So in order for the agents' mounts to propagate to the host, it needs mount propagation.

[2017-10-12 15:38] jpds opened #1073 "Rook operator doesn't recreate third mon"
I upgraded my rook cluster from 1.7.5 to 1.8 with kubespray and as part of its upgrade process, it drains the nodes and cordons them before readding them to the cluster, post-upgrade.

This appears to have taken out my third rook mon, and the health checks from the operator expect and find the other two, but it isn't recreating the third monitor.

[2017-10-12 15:49] jbw976 commented on #543
@FaKod in the last release (0.5.1) we only had cluster and pool CRDs.  But now in the latest master builds, we have added a couple new CRDs very recently to declaratively create other objects in a Rook cluster, such as object storage and shared filesystems.

Object store: https://rook.io/docs/rook/master/object-store-crd.html
Shared filesystem: https://rook.io/docs/rook/master/filesystem-crd.html

[2017-10-12 16:33] jbw976 commented on #1018
@FaKod can you help clarify the behavior you are seeing when you tested the CoreSO update-operator PR?

In a multi node cluster, even if all pods are simply deleted on the node that is being rebooted, I would expect all pods to terminate OK and get rescheduled elsewhere.  I would expect the Elasticsearch pod to have its persistent volume detached and then reattached on another node, allowing the E

[2017-10-12 16:44] travisn commented on #1073
From the logs, we see that there are two healthy quorum members: mon3 and mon4:
[code]

But Rook thinks there are three mons: mon1, mon2, and mon3:
[code]
A couple of issues here:
- The configmap is missing mon4 and should not include mon1 or mon2. The operator needs to reconcile the configmap with the authoritative monmap.
- The operator is not adding a third monitor. The health check only loops

[2017-10-12 17:01] #767 closed

[2017-10-12 17:03] jpds opened #1074 "Allow mon count to be configurable"
For some larger clusters I run, I'd like to increase the mon count to 5.

The rook-operator should have a user tweakable vaule that allows users to set the count to an odd number.

[2017-10-12 18:38] #1050 closed

[2017-10-12 18:53] travisn opened #1075 "Run a bot to automatically rebase before merge"
When multiple PRs need to be merged, there is a significant delay while each one must be rebased manually after the previous one is merged. Then the PR must wait for CI again. We need an automated approach for rebasing when we're ready for merge that does not have to wait on the manual rebase and CI. If there are merge conflicts, of course the merge would need to be manual.

Perhaps a bot such as

[2017-10-12 21:38] #1052 closed

[2017-10-12 21:42] kokhang commented on #1075
I prefer to take it a step further. I would like the bot to rebase for me and run CI tests. And then if ci passes, it merges the PR with the latest rebase. It should only need user intervention if there is conflict during the rbase.

[2017-10-12 22:21] #1062 closed

[2017-10-12 22:22] kokhang commented on #1054
fixed with https://github.com/rook/rook/pull/1063

[2017-10-12 22:22] #1054 closed

[2017-10-12 23:56] #1056 closed

[2017-10-13 01:08] #1057 closed

[2017-10-13 15:59] #1001 closed

[2017-10-13 16:49] travisn opened #1079 "Random test failure for block image deletion"
In several builds recently there has been a random e2e test failure in `runBlockE2ETestLite()`. For example: https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-1069/11/pipeline/43

Instead of a sleep, we need a retry:
[code]

[2017-10-13 17:25] travisn commented on #1075
the urgency of this is less now that we have found the github option that does not require rebasing before merge to master

[2017-10-13 17:26] #990 closed

[2017-10-13 20:51] travisn commented on #1042
@jpds were you running in GCE? If outside GCE, looks like we would need to deploy an ingress controller, which itself would need a node port defined. https://kubernetes.io/docs/concepts/services-networking/ingress/#prerequisites

So perhaps we add this example as GCE-specific, or else include with the example how to start the ingress controller. The latter full example would be great if you have i

[2017-10-13 20:53] travisn commented on #1022
This was actually fixed by #1048. Now we have a standby mgr

[2017-10-13 20:53] #1022 closed

[2017-10-13 20:59] jpds commented on #1042
@travisn I run rook on bare-metal. You do indeed require an ingress controller to run ingresses, the two popular ones are nginx and traefik - these run as pods which run on "ingress nodes" so they sit on port 80/443 and they are essentially reverse HTTP proxies which match domain names to deployment endpoints.

A simple way to deploy the nginx ingress is through the helm chart:

[code]

Where `ngi

[2017-10-13 20:59] travisn commented on #961
@yagooar correct, one of the mons should be ideally rescheduled after the third node comes back. Currently that is not the case since a mon is only rescheduled when an issue is found with the quorum. I'll update the title of this issue to make that change.

[2017-10-13 21:09] jpds opened #1082 "Rescheduling issue with rookflex"
I noticed that one of my pods had restarted on another node but didn't go to `Ready` state after a few minutes. I found this in in `kubectl describe po/...`:

[code]

The `rook-agent` on the node is in `Running` state. However I do see it complaining about this in its logs:

[code]

[2017-10-13 21:10] jpds commented on #1082
I deleted the pod that was failing on `node-a` and it went back to where it was at `node-b` and it's happy again.

[2017-10-13 21:17] kokhang commented on #1082
@jpds Yes. If the rook-agent detects that the RW volume you are trying to mount is already mounted on a pod, it will raise this error. This is to prevent a volume to be mounted as RW on multiple pods since this could cause data corruption. So this is an intended behaviour.

[2017-10-13 21:17] jpds commented on #1082
Another bit of interesting log from the `rook-agent` on `node-a`:

[code]

Might be good to note that this is the same cluster affected by #1073.

[2017-10-13 21:19] jpds commented on #1082
@kokhang The issue is that the pod didn't go from `ContainerCreating` to `Running` and had been stuck like that for `29m` - even though the old pod was gone.

[2017-10-13 21:20] kokhang commented on #1082
the agent will query the old  pod and it will only allow the attachment if that old pod is gone. So even if the pod is in `terminating` state, it will still complain.

[2017-10-13 21:21] jpds commented on #1082
The pod wasn't in terminating state: it was gone completely:

[code]

[2017-10-13 21:22] kokhang commented on #1082
@jpds are these endpoint correct rook-ceph-mon2=10.233.11.106:6790,rook-ceph-mon3=10.233.28.73:6790,rook-ceph-mon1=10.233.59.71:6790?

The agent always looks at the mon configmaps for the mon endpoints. So perhaps the endpoints in the configmaps are not in sync

[2017-10-13 21:22] jpds commented on #1082
@kokhang No, they are not - that's something that needs to be fixed by #1073.

[2017-10-13 21:23] kokhang commented on #1082
from the log, it says `pod default/kissable-manta-prometheus-server-697cb4c4cb-rrzrb. Status Pending`.. So that pod is still there with status `pending`

[2017-10-13 22:22] #819 closed

[2017-10-14 03:40] kokhang commented on #1082
i was able to reproduce this. This happens randomly if the `rbd map` fails to return. I will work on a fix soon

[2017-10-14 21:06] bassam commented on #944
passing the `--devel` flag seems to help.

[2017-10-15 06:15] andrewmyhre opened #1086 "Block storage volumes aren't mounting to pods in kubernetes v1.8.0"
I have a kubernetes v1.8.0 cluster running in AWS and I've installed the helm chart, configured a cluster, StorageClass, Pool.

I apply the following manifest:

[code]

The pod stays in the ContainerCreating state. When i `kubectl describe` the pod here is the output:
[code]

I'm not sure where /etc/ceph/rook.conf is expected to be. Do I need to install anything on my nodes?

[2017-10-15 06:18] andrewmyhre commented on #1086
I'm curious about `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/rook.io~rook/.rook.sock`.

On one of the hosts:
[code]

What process should be creating the `.rook.sock` socket?

[2017-10-15 07:56] hickey opened #1087 "Rook api server being started with invalid switch"
Kubernetes version: 1.8.0
Rook.io version: v0.5.0-168.g89911b0

Found difficulty and inconsistancies with creating PVs. In looking at the Rook pods I found that the Rook api server was crashing.

[code]

Looking at the logs for the api server, it looks like the rook-operator is creating the rook-api deployment with an invalid switch.

[code]

Here is the deployment that rook-operator is creating:

[2017-10-15 08:20] hickey commented on #1086
I have had similar failures today after installing Rook.io (v0.5.0-168.g89911b0) from scratch today.

[code]

[2017-10-15 13:20] andrewmyhre commented on #1086
`v0.5.0-168.g89911b0` here too

[2017-10-15 17:07] andrewmyhre commented on #1086
Reproduced in `v0.5.0-49.g652f88e` also

[2017-10-16 05:08] hickey commented on #1086
I am also getting these messages when starting the rook.io toolbox.

[2017-10-16 10:27] roynalnaruto commented on #653
@dkoshkin can you please provide the URL where the pre-requisites are mentioned?

[2017-10-16 15:56] jbw976 commented on #1087
@hickey are the affected pods both on the same node?  They may have an older `rook/rook:master` image that doesn't have this relatively new switch.  Can you connect to that node and try a `docker pull rook/rook:master`? That may get the pods running again.

[2017-10-16 16:07] DanKerns commented on #1055
@bassam you were going to look into this. Is there any update?

[2017-10-16 16:15] jbw976 commented on #1086
I believe that this is the same underlying cause as #1082 which @kokhang is working on now.  We are expecting a fix for this issue soon.

[2017-10-16 16:15] #1086 closed

[2017-10-16 19:25] hickey commented on #1087
I pulled rook/rook:master across all nodes this morning and they all had the latest image. Attempted to restart everything and rook-operator is hanging after a single mon is started. Everything is acting like /var/lib/rook was not cleared out, but it was cleared out on all nodes.

[2017-10-17 00:23] kokhang commented on #1082
To summarize:

- an attachment was attempted for a given pod on a given node
- an attachment CRD to capture that pod and node was created
- the rbd map command hung, so it was cancelled with SIGINT and failed the attach/mount request
- kubernetes retried the attachment operation
- the flexvolume plugin sees that the CRD was already created. So it fails thinking the attachment CRD is for a differen

[2017-10-17 04:24] jbw976 commented on #970
I just updated the integration tests in my PR branch #1077 and it would be really nice to have this test, which would install one filestore cluster and one bluestore cluster.  I'm going to try to enable it and see if it now passes.

[2017-10-17 17:01] #1079 closed

[2017-10-17 17:09] jbw976 commented on #970
I was able to get multiple clusters working and the integration test for it, so I'm adding this to 0.6

[2017-10-17 17:11] jbw976 commented on #925
Is this just working now?  Was there an update to minikube?  Running the integration tests today locally with minikube showed signs that RBAC was in place (the operator didn't have permissions to get roles in a namespace, so I had to update the operator's RBAC config).

I'm running minikube `v0.22.2`

[2017-10-17 18:21] #1073 closed

[2017-10-17 18:50] jpds opened #1091 "rook-api should use prometheus annotations"
rook-api currently uses this[1] configuration to configure a monitoring endpoint. However it would be better if the service definition had these annotations from here in its metadata:

- https://github.com/prometheus/prometheus/blob/5ab8834befbd92241a88976c790ace7543edcd59/documentation/examples/prometheus-kubernetes.yml#L133

This way a Prometheus instance that's monitoring kubernetes-services ca

[2017-10-17 19:07] #1082 closed

[2017-10-17 19:12] travisn opened #1092 "Object store e2e random test failure"
This PR has run the tests successfully a number of times, but on this build hit a failure in the object store tests.
https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-1072/8/pipeline/

[code]
From the api service log, the object store took just over a minute to configure so we need a longer timeout.
[code]

[2017-10-17 20:11] jbw976 opened #1094 "TestFileStoreOnRookInstalledViaHelm failing intermittently"
We are seeing intermittent failures in the TestFileStoreOnRookInstalledViaHelm test recently.
[code]

A couple builds that had this behavior:
https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/master/300/pipeline/37/
https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-1077/19/pipeline/

[2017-10-17 20:23] #1047 closed

[2017-10-17 20:52] travisn opened #1095 "e2e random test failure checking for a deleted pool"
The block store test failed when checking that a pool was deleted.
[code]

The api log shows that the rookpool status was not found. Likely it was in the middle of being deleted when the api service was querying for details since it returned error `2`.
[code]

[2017-10-17 21:19] jpds commented on #1091
I found an easy way to enable this:

[code]

However my Prometheus instance deployed through the `stable/prometheus` chart isn't able to poll the /metrics URL.

[2017-10-17 22:11] jpds commented on #1091
I've tried this with `curl` from the `rook-tools` container and it seems that prometheus is timing out on the endpoint before the values are successfully returned.

[2017-10-17 22:34] jbw976 commented on #1091
hitting the `/metrics` endpoint on the API pod from the toolbox pod with `curl` is timing out @jpds?  Does `rookctl status` show any issues with the cluster?  Do the API pod logs show any calls taking a very long time to complete?

[2017-10-17 22:41] jpds commented on #1091
`curl` and `rookctl status` from the `rook-tools` on occasion fail talking to the `rook-api` endpoint:

[code]

However if I try again a few seconds later, everything is fine and `status` shows that the cluster is fine.

The API logs sometimes show:

[code]

I think Prometheus times out at 10s...

[2017-10-17 23:02] jpds commented on #1091
This little trick appears to have helped:

[code]

[2017-10-17 23:10] #1095 closed

[2017-10-18 00:29] jbw976 commented on #1091
wow, those response times are WAY longer than i would expect.  I wonder what is taking so long inside the API pod before it returns a response finally.  Do you have the full api pod log to share?

[2017-10-18 06:50] galexrt opened #1101 "Allow Updates to Cluster CRD for dynamic storage"
It would be nice to be able to change certain properties about the cluster on the fly.
What should be allowed to be updated in the cluster CRD?

I was thinking for the first step about `monCount` to be updatable.

[2017-10-18 09:36] jpds opened #1102 "rook-api doesn't update monmap"
Hello,

I noticed that my rook-api pod seemed to be reading data from my old mons (1, 2, 3) and not what was in the monmap which were 3,4,5.

After deleting the rook-api pod, it reread the monmap correctly.

[2017-10-18 09:43] galexrt commented on #1102
@jpds This should had been fixed by #1069 but an issue caused this to be first correctly fixed in #1080 (see [pkg/api/daemon.go Line 80-82](https://github.com/rook/rook/pull/1080/files#diff-9c28ce19d2d3cdbaecd218d04572d969R80)).

[2017-10-18 09:56] jpds commented on #1091
Checked over the log and saw that it was using an old mon map, filed #1102 about this. Now my `/metrics` endpoint returns in 2s.

[2017-10-18 09:59] jpds commented on #1101
Another thing I would like is to have the static hosts/devices list to be updatable. Right now I work around this by `useAllNodes` and `useAllDevices` to `true` and making sure by block devices are OK to wipe.

[2017-10-18 14:16] bassam opened #1104 "Upgrade glide to 0.13 or switch to dep"
We should upgrade glide to https://github.com/Masterminds/glide/releases/tag/v0.13.0. Its looks like the community is switching to department however and we should consider doing that.

[2017-10-18 14:59] travisn commented on #1101
This would be great to put in a design document under /design folder. Deciding what is updateable is definitely an explicit decision. Some properties can be updated, while others will be ignored if updated. It would be good to open a separate ticket for each of the properties that we plan to update.

Here is just a sample of thoughts on the properties.

Properties we absolutely need to be updateab

[2017-10-18 15:12] cmcarey opened #1105 "Operator doesn't create MDS pods automatically"
I'm following the guide to create a filesystem here: https://rook.io/docs/rook/master/k8s-filesystem.html

After creating and applying the file system the guide states that the Rook operator will automatically launch the MDS ceph pods:
[code]

After I run the create command, it says that the filesystem has been created, but no MDS pods are created.

`rookctl status`:
[code]

`rookctl pool list`:
[

[2017-10-18 15:20] travisn commented on #1105
@cmcarey after the file system is created, there should be two pools, in this case `gitea-fs-metadata` and `gitea-fs-data`. There must have been some issue creating the data pool. Can you share the logs from the rook-operator pod?

[2017-10-18 15:29] cmcarey commented on #1105
@travisn I just recreated the situation and these are the logs from the operator -
[code]

[2017-10-18 15:39] travisn commented on #1105
ok, it thinks the erasure code settings are changing from m=0 to m=2.
[code]
Is it possible you set `codingChunks: 0`, then deleted the file system and tried creating it again with `codingChunks: 2`?

This issue might be that the erasure code profile was not cleaned up between file systems.

Could you try creating a file system with a different name and see if it succeeds?

[2017-10-18 15:41] cmcarey commented on #1105
@travisn

Created using this new config:
[code]

[code]

[2017-10-18 15:48] travisn commented on #1105
ok, now it looks like a different error.
[code]
To use erasure-coded pools with the file system, it requires using bluestore. Do you have bluestore set in your cluster.yaml? #1077 should be merged today and will make bluestore the default, so that will help with this.

[2017-10-18 16:05] cmcarey commented on #1105
@travisn
Tore down, changed file system, build back up, and this occurs when trying to create the filesystem still -

[code]

[2017-10-18 16:33] travisn commented on #1105
with bluestore you will want to set `useAllDevices: true` (until #1077 is merged). If you launch the rook toolbox and run `rookctl status`, you will likely see that you don't have any OSDs up and in. Definitely an opportunity to improve error reporting here so you don't have to go through all these issues...

[2017-10-18 16:34] cmcarey commented on #1105
@travisn
Understood.  I'm not comfortable using this on all devices, so I should not use an erasure coded pool then?

[2017-10-18 16:37] travisn commented on #1105
use you could use the deviceFilter to specify which devices. But yes, you could use the replicated pool instead of the erasure coded pool and avoid this issue.

[2017-10-18 16:38] cmcarey commented on #1105
Okay, thank you so much for your help!

[2017-10-18 16:46] travisn commented on #1105
ok, i'll use this ticket to clarify docs and possibly improve error handling.

[2017-10-18 16:50] cmcarey commented on #1105
Works as expected using filestore and replicated instead of erasure.
[code]
Thank you so much!

[2017-10-18 16:50] #1105 closed

[2017-10-18 17:47] #1094 closed

[2017-10-18 20:24] travisn commented on #909
reduced build concurrency with #1103 to help reduce the odds of this, but will reopen if this happens again

[2017-10-18 20:40] jbw976 commented on #1102
Closing this as a duplicate of #990 since @galexrt has now fixed it.  Let us know if you still see this in the latest master builds. Thanks!

[2017-10-18 20:40] #1102 closed

[2017-10-18 21:45] #398 closed

[2017-10-18 21:45] #1023 closed

[2017-10-18 21:47] jbw976 commented on #970
Fixed in #1077

[2017-10-18 21:47] #970 closed

[2017-10-18 21:50] jbw976 commented on #1041
Note that with #1077 I have made it so that the RBAC permissions for API and OSD are now just scoped to the namespace they are running in.  Them having k8s cluster wide permissions was actually preventing our integration test for multiple rook clusters from passing.

I still vote for the principle of least privileges such that each component that needs RBAC should have its own set of permissions.

[2017-10-18 21:52] bassam commented on #1041
@jbw976 completely agree. Let’s make it happen :-)

[2017-10-18 22:21] #1074 closed

[2017-10-18 22:45] travisn commented on #796
I don't see it feasible to remove the `dataDirHostPath` at this time while local storage is in alpha. Nearly everything in the "what doesn't work" and "future features" sections are necessary for rook to effectively use the local storage on the mon and osd pods.

The documentation for [local storage](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume#feature-status)

[2017-10-18 23:38] #979 closed

[2017-10-18 23:45] travisn commented on #1087
@hickey any more clues on this? it does sound like there is some inconsistent state in the cluster.

[2017-10-18 23:47] travisn commented on #1075
closing this for now. The behavior of not requiring a rebase as long as there are no merge conflicts seems exactly what we want, at least until we have much higher volume of merges.

[2017-10-18 23:47] #1075 closed

[2017-10-18 23:50] travisn commented on #1071
@galexrt @jpds any more steps for a repro? not sure how to detect when to automatically remove the osd. Shall we document the cleanup steps in the advanced configuration page?

[2017-10-18 23:51] travisn commented on #1067
based on feedback from ceph team and further investigation, it appears we had some network congestion on the 1g network.

[2017-10-18 23:51] #1067 closed

[2017-10-19 00:04] travisn commented on #1033
i think a simple solution is to add new settings to the config override ConfigMap. Right now there is a value for `config`, which is for ceph. What if we added the following?
- `mon-log-level`
- `mgr-logl-level`
- `osd-log-level`
- `rgw-log-level`
- `mds-log-level`

We can map it into the pods with an environment variable that is transparent to the daemon that it comes from a CM.

[2017-10-19 00:31] dangula commented on #994
closed via  PR-1090

[2017-10-19 00:31] #994 closed

[2017-10-19 03:36] dangula commented on #1092
increased the rest client time out to 90s(from 60s) via PR 1090. closing issue.

[2017-10-19 03:36] #1092 closed

[2017-10-19 05:54] FaKod commented on #1018
@jbw976 Trying to help (with limited time)

Using:
- Kubernetes 1.7.7
- Rook v0.5.1
- CoreOS
- CoreOS Reboot Operator v0.4.0

Your questions:
1. No, all Pods that are using a persistent volume (Mongo, Kafka, Prometheus etc.). Rebooting masters has no issues
1. Sure, 3 masters 5 workers

I can see the detaching of volumes in kubelets logs, but only secrets, tokens, configmaps etc. no other volumes.

[2017-10-19 06:38] galexrt commented on #1071
@travisn I'm not sure if we can safely automate this.
But yes we should definitely document these cleanup steps in case of a phantom OSD.
I could document it.

[2017-10-19 17:46] DanKerns commented on #796
Is local storage in 1.9 viable? If not we should comment on the plan and see if we can get someting that would work for us.

[2017-10-19 18:46] dangula commented on #925
i am running minikube v0.22.3 with RBAC enabled and integration tests are passing, even though the kube-dns pod going into CrashLoopBackOff.  Following the workaround mentioned  in  kubernetes/minikube#1734 is fixing the kube-dns crash loop.

[2017-10-19 18:46] travisn commented on #796
@bassam I don't see how we can do this before 1.9, sound ok to move it out to 0.7?

[2017-10-19 19:37] dangula opened #1108 "Create common helper package for integration test helper definitions."
Currently each test suite is handling its own storageClass, pool and PVC definition  leading to code duplication. We need to put then in a common package so muiple test suites including load test suite can access them.

[2017-10-19 20:24] #1031 closed

[2017-10-19 20:50] galexrt commented on #1087
This evening I setup a new rook cluster with `hostNetwork: true` mode. No previous rook data on the nodes. I got a working rook cluster up'n'running. No restarts of API pod.

[2017-10-19 20:54] travisn opened #1109 "Replace Pool CRD with a PoolTemplate CRD"
To improve the design of pools and their usage from storage classes, object stores, and file systems, the design question was raised about whether the Pool CRD should actually create pools, or whether it should just be a template for creating pools.

This topic is related to the point of discussion around the file and object stores that consume multiple pools. The pools must be created with certai

[2017-10-20 07:26] galexrt commented on #1071
I should be ready with a PR for documenting this and adding some documentation about `hostNetwork` by this evening.

[2017-10-20 13:19] jpds opened #1110 "rbd error on pod reschedule"
Hello,

On one of my rescheduled pods, I'm getting this error in `kubectl describe po/`:

[code]

Interestingly, there's nothing related to rbd in the hosts dmesg.

[2017-10-20 14:21] jpds opened #1111 "Enable Ceph Prometheus metrics on MGRs"
I have a mon that comes up fine, works for about an hour, and then starts going into a pod restart loop with this failure message:

[code]

The other two mons in my cluster are fine.

[2017-10-20 14:27] jpds commented on #1101
Another thing that could be useful here is increasing the size of a replicated pool.

[2017-10-20 14:42] jpds opened #1112 "Remove rook.conf missing error messages"
These messages are appearing everywhere with the rookflex integration:

[code]

We need to do something to solve them.

[2017-10-20 15:30] jbw976 commented on #1111
Hmm, search results for `Failed to load mgr commands: (2) No such file or directory` don't show too much beyond some gists/pastebins from other Rook logs.  I did notice though that this message will show up earlier in the logs without crashing and then also show up right before the crash, so when it happens it doesn't cause a crash immediately every time.  Also, looking in the Ceph code base, this

[2017-10-20 15:35] jbw976 commented on #1112
agreed @jpds these red herrings have been annoying me too, it makes reading/scanning for real errors more difficult.  It should be simple to just pass a temporary `--conf` file to `rbd` whenever we are calling map and unmap.

[2017-10-20 15:43] jbw976 commented on #1111
If there are no coredumps to look at, another alternative would be to increase the ceph logging for the `mon` and `mgr` subsystems.  You can increase the logging by using the ceph config override described in https://rook.io/docs/rook/master/advanced-configuration.html#custom-cephconf-settings.

These settings in that config map would probably work:
[code]

[2017-10-20 16:01] jpds commented on #1111
Attached are the last 250 lines of the log.
[rook-mon-debug-20.log](https://github.com/rook/rook/files/1402560/rook-mon-debug-20.log)
I find it interesting that `osd pref` shows up just before the crash.

[2017-10-20 16:29] kokhang commented on #1110
@jpds what os is this node running and what kernel version?

[2017-10-20 16:31] jpds commented on #1110
Debian 9 with `4.12.0-0.bpo.1-amd64` kernel, has been running rook for a few weeks now.

[2017-10-20 16:42] jpds commented on #1110
[code]

[2017-10-20 16:45] kokhang commented on #1110
Looks like you are using an older version. This fix was in last week

[2017-10-20 17:01] jpds commented on #1110
Fixed by updating rook image on nodes, deleting `rook-system` namespace and redeploying operator.

[2017-10-20 17:01] #1110 closed

[2017-10-20 17:10] jbw976 commented on #1109
If a StorageClass is simply referring to a pool template, what does that mean for pool reuse?  Two examples I can think of:
1. Two PVC's use the same StorageClass.  The first PVC has the pool automatically created.  Does the second PVC see that the pool already exists and reuses it?
1. Two StorageClasses use the same PoolTemplate.  Does each StorageClass create independent pools with the identical

[2017-10-20 17:37] travisn commented on #1109
Good questions, the lifecycle doesn't seem to make sense with the pool inside a storage class as your first question indicates. Also, if you delete a storage class, our code wouldn't be triggered in order to delete the pool.

For the second question, I would expect two different pools to be created. For the last question, you could still use the ceph tools to create a pool if you have some unexpec

[2017-10-20 17:45] jbw976 commented on #1111
It's also interesting to me that the last log statement is backwards in time:
[code]
`2017-10-20 15:57:36` is followed by `2017-10-20 15:56:18`.

When you ran `coredumpctl list`, you are sure it was on the same node where this mon is crashing?  This is very odd...

[2017-10-20 17:56] galexrt opened #1113 "Allow setting bluestoreDirBlockSizeRatio for bluestore"
I redeployed a cluster yesterday and just noticed that previously I had about 57TB cluster capacity and now "only" 54TB storage.
After finding https://github.com/rook/rook/pull/1077#discussion-diff-145284151R47 and talking to @jbw976:

***

**Chat Log**:

Alexander Trost [9:24 AM]
I just redeployed my cluster and was wondering why I now have 3TB less storage (before redeploy 57.5TB, after 54.8TB).

[2017-10-20 18:26] kokhang commented on #1113
if we need the swap space, instead of a % value, should it be actual size? like 500mb or something?

[2017-10-20 19:50] travisn commented on #144
`rookctl` is not a mainline scenario anymore so doesn't seem like we should worry about this

[2017-10-20 19:50] #144 closed

[2017-10-20 19:51] travisn commented on #165
the CRDs are our API now

[2017-10-20 19:51] #165 closed

[2017-10-20 19:51] travisn commented on #166
the CRDs are our API now

[2017-10-20 19:51] #166 closed

[2017-10-20 19:52] travisn commented on #167
we have documentation now for rookctl that seems sufficient

[2017-10-20 19:52] #167 closed

[2017-10-20 20:00] travisn commented on #346
@jbw976 is this still relevant? Seems like the declarative nature of the CRD is different from this approach.

[2017-10-20 20:01] travisn commented on #341
@jbw976 do we still need this?

[2017-10-20 20:02] travisn commented on #312
with kubernetes the log collection is not a problem. This should only apply to standalone, which is gone now

[2017-10-20 20:02] #312 closed

[2017-10-20 20:03] travisn commented on #300
with the pool CRD i'd recommend we not worry about this anymore. In fact, we should consider removing the pool create from `rookctl`

[2017-10-20 20:03] #300 closed

[2017-10-20 20:06] travisn commented on #258
we can accomplish this now by watching kubernetes objects. not sure there is more to do here

[2017-10-20 20:06] #258 closed

[2017-10-20 20:09] travisn commented on #257
@jbw976 where would we use this? since we're following k8s patterns, not sure what else there is to do

[2017-10-20 20:11] travisn commented on #253
@jbw976 is this still relevant without standalone? we could use ceph tools now for more details as well.

[2017-10-20 20:13] jbw976 commented on #257
We would use this in the rook-agents volume plugin when it is performing a mount.  This is still valid.

[2017-10-20 20:13] travisn commented on #704
this plan is to make it optional for now. It's still needed for the toolbox

[2017-10-20 20:14] travisn commented on #247
with the REST api becoming optional with #704, rgw port is configurable through the crd, and we no longer use etcd ports, not seeing a reason to change this

[2017-10-20 20:14] #247 closed

[2017-10-20 20:15] travisn commented on #246
ceph logging levels can all be set now with the configmap for overriding ceph settings

[2017-10-20 20:15] #246 closed

[2017-10-20 20:16] #170 closed

[2017-10-20 20:19] travisn commented on #195
our logging is quite a bit improved since this ticket and we also have other tickets such as #1033 to track the improvements.

[2017-10-20 20:19] #195 closed

[2017-10-20 20:21] travisn commented on #236
this doesn't seem necessary, particularly without standalone scenarios. Kubernetes provides our core api

[2017-10-20 20:21] #236 closed

[2017-10-20 20:22] travisn commented on #245
this has already been fixed with #1066

[2017-10-20 20:22] #245 closed

[2017-10-20 20:27] travisn commented on #457
we already have this

[2017-10-20 20:27] #457 closed

[2017-10-20 20:29] travisn commented on #481
@jbw976 is this an issue or do we even need to worry about it anymore with the new flex volume plugin?

[2017-10-20 20:30] travisn commented on #500
since the CRDs are the core api for rook, no need to make this change

[2017-10-20 20:30] #500 closed

[2017-10-20 20:31] travisn commented on #501
since the CRDs are the core api for rook, no need for this

[2017-10-20 20:31] #501 closed

[2017-10-20 20:31] travisn commented on #514
@gaurav36 our build has changed quite a bit in the last few months. Please re-open if it is still an issue for you.

[2017-10-20 20:31] #514 closed

[2017-10-20 20:35] travisn commented on #605
@matejc please re-open if you are still seeing the issue in your environment.

[2017-10-20 20:35] #605 closed

[2017-10-20 20:36] travisn commented on #628
not relevant anymore

[2017-10-20 20:36] #628 closed

[2017-10-20 20:37] travisn commented on #636
@kokhang is this still an issue, especially since we have the dynamic provisioner merged now?

[2017-10-20 20:43] travisn commented on #683
#1026 will help greatly with this

[2017-10-20 20:44] travisn commented on #690
this effort would be outside the rook repo, so no need to track it here. The Rook Slack channel would be a great place to discuss though.

[2017-10-20 20:44] #690 closed

[2017-10-20 20:54] travisn commented on #846
this would be simpler once #347 is done, so that an osd could work with a single partition. Then you could tell rook to use a partition such as `/dev/sdd3`.

[2017-10-20 20:55] #825 closed

[2017-10-20 20:56] galexrt commented on #846
@travisn Then I'm going to close this and follow #347. Thanks for the info!

[2017-10-20 20:57] travisn commented on #824
@isaldarriaga please reopen if you can repro on the latest build. The new rook volume provisioner fixed a lot of related issues

[2017-10-20 20:57] #824 closed

[2017-10-20 21:00] travisn commented on #815
@Abdelsalam-Abbas can you try to repro this on the latest master build? A lot has improved in 0.5 and now 0.6 about ready to release

[2017-10-20 21:04] travisn commented on #799
@fatduo please reopen if you are able to repro when you have dataDirHostPath set

[2017-10-20 21:04] #799 closed

[2017-10-20 21:06] jpds commented on #1111
The mon's pod restarted at `20:19:33`, and then failed in a similiar fashion at `20:21:36`.

I had turned off the prometheus scrape target at this point and the pod restarted at `20:21:39`, and is still running right now. I've also passed the core dump to @jbw976.

[2017-10-20 21:23] jpds opened #1116 "rook-agent should clean up unused directories"
The `rook-agent` should removed directories which are no longer in use by Ceph components such as mons which are no longer considered by the operator to be alive.

[2017-10-20 21:25] jpds opened #1117 "NetworkPolicy implementation"
Rook should have a Kubernetes NetworkPolicy defined to control traffic travelling between different Rook components.

An easy way to test this would be to use canal as a CNI to enforce the policies.

[2017-10-20 21:32] travisn commented on #846
actually this might be a separate work item to be able to specify a partition, so let's keep it open until it's confirmed with #347

[2017-10-20 21:44] travisn commented on #949
would definitely be a nice-to-have. I could imagine a setting on the cluster.yaml that indicates the dashboard should be enabled. Not sure what it would take to include the module though.

[2017-10-20 21:48] travisn commented on #719
@jpds are you saying space was reported unexpectedly in one of the mon logs? Those logs are written by ceph daemons, we don't have much control over them. Can you clarify if you see something Rook could fix here?

[2017-10-20 21:55] travisn commented on #750
This is already fixed. The remaining work item is to make the api service optional

[2017-10-20 21:55] #750 closed

[2017-10-20 22:03] travisn commented on #781
@barakmich due to monitors being failed over when they are healthy, the list of monitor endpoints could change over time. So if you generate a config file, it will need to be re-generated over time if the mons fail. I'd recommend generating the config file with a script, similar to `toolbox.sh`, each time your pod starts. Or if you could clarify the scenario feel free to re-open the issue.

[2017-10-20 22:03] #781 closed

[2017-10-20 22:06] travisn commented on #907
smoke tests seem to work fine with minikube now

[2017-10-20 22:06] #907 closed

[2017-10-20 22:10] travisn commented on #934
how about if we track this with #1101.

[2017-10-20 22:10] #934 closed

[2017-10-20 22:17] travisn commented on #980
@kokhang what pod are you referring to? I don't see any pod called `test-pod` in the repo

[2017-10-21 03:03] jbw976 commented on #481
`rookctl` can map rbd block images inside the toolbox and that is sufficient for me.  i don't see a use case where we really need to worry about `rbd map` working.

[2017-10-21 03:03] #481 closed

[2017-10-21 03:04] jbw976 commented on #253
good point, this really isn't strictly necessary without the standalone scenario.  if a user is already in the rook toolbox, they have access to the full suite of ceph tools to augment `rookctl` functionality.

[2017-10-21 03:04] #253 closed

[2017-10-23 09:29] hansbogert commented on #949
@travisn you mean the actual module loaded by the manager? It is included with standard install of Ceph since Luminous. Isn't in there in the packages/images Rook uses?

[2017-10-23 10:56] xetys opened #1119 "timeout expired waiting for volumes to attach/mount for pod on rancher"
Hey rook guys,

I struggled the whole weekend on trying to bring up a rook cluster with dynamic provisioning on my rancher 1.6 managed kubernetes cluster.

## the issue

When I try to deploy the mysql-wordpress example, the PV is created like charm, but the pod fails to start because of

[code]

## What I already tried

* I installed RBD to my host
* I installed all CRDs, like Cluster and Pool, an

[2017-10-23 11:33] beatlejuse opened #1120 "rook-operator.yaml start failed"
after `kubectl create -f rook-operator.yaml` i have 3 pods with status
[code]

how can i change use directory /usr/libexec/kubernetes to another (with read-write rights) ?

[2017-10-23 12:06] galexrt commented on #1120
@beatlejuse The `/usr/libexec/kubernetes` is the Kubernetes directory for volume plugins. Rook tries to install the rook flexvolume plugin but fails because the directory is read-only on your node(s).
Are you using CoreOS on your node(s)? Then their needs to be a changed done to the kubelet flags. The change is to change the flexvolume plugin path to a read-writeable directory on your node(s), lik

[2017-10-23 14:18] bassam commented on #704
which part of the toolbox needs it? health and status? if so can we switch these to use ceph tools directly.

[2017-10-23 14:35] bassam opened #1121 "Clarify docs for pod affinity and anti-affinity"
The Rook operator should manage the count of MONs in the cluster and automatically set the anti-affinity rules as needed. There could a few discrete steps:

- Less that 3 nodes in the cluster -- the Operator should just run 1 MON with no anti-affinity
- 3 nodes or more -- the Operator should create 3 MONs by default and set anti-affinity. It should also manage adding more MONs as the cluster grows

[2017-10-23 14:36] beatlejuse commented on #1120
@galexrt  yes, i'm using CoreOS (1409.7.0) ))
thank you for answer!
i'm added the key "--volume-plugin-dir" but it doesn't help for me ((

[2017-10-23 14:38] bassam commented on #796
@travisn given that local storage is in the external-storage repo (and not part of Kubernetes core), could we make these changes necessary to support rook scenarios?

[2017-10-23 14:53] bassam commented on #919
Not sure I follow. Is this not a local storage scenario #796 ?

[2017-10-23 15:16] travisn commented on #919
@bassam as i recall from a discussion we had a while back, the thought was that instead of hostPath or local storage under the OSD, the OSD would be able to mount any type of PV. But I don't recall why that was interesting since you could just mount the device from my previous comment, so I'll close this issue unless you recall something else.

[2017-10-23 15:18] travisn commented on #704
specifically, `rookctl` uses the toolbox. If we get rid of the api i think we're saying we get rid of the majority of functionality in `rookctl`

[2017-10-23 15:20] travisn commented on #1121
The operator does explicit placement of mons on nodes. I'm not sure why the ant-affinity to other mons would be interesting since the operator is already placing the mons on different nodes, as long as there are enough nodes.

[2017-10-23 15:22] bassam commented on #1121
@travisn why do we document anti-affinity rules in our yaml then?

[2017-10-23 15:23] bassam commented on #1055
is there a minimum kernel version needed for mount propagation? Can we proceed with making these changes and ask users running K8S 1.7 and prior to make `/var/lib/kubelet` shared?

[2017-10-23 15:25] travisn commented on #1121
the anti-affinity could still be used for avoiding placement of mons on the same nodes as other types of pods that the admin is aware of. It just doesn't need to be set for the mons themselves.

[2017-10-23 15:27] bassam commented on #1121
@travisn ok. so by default the operator will do the right thing for MONs, OSDs etc. If there are other interactions the admin can set their own affinity. Sound right? Would be good to document.

[2017-10-23 15:30] DanKerns commented on #1121
Sounds like an opportunity to improve the documentation...

[2017-10-23 15:31] travisn commented on #1121
Sure, we can add more description to https://rook.io/docs/rook/master/cluster-crd.html#placement-configuration-settings

[2017-10-23 15:34] bassam commented on #704
ahh ok, I'm an advocate of removing `rookctl` in favor of just `ceph` tools. and removing the rook API completely.

[2017-10-23 15:37] bassam commented on #919
Sorry not being clear. I think the OSDs should use any PV including local storage PVs. If someone wants to run OSDs onto of EBS, for example, they can. If they want to use instance storage then they can just use local storage PVs. This issue and #796 seem to cover the same work, no?

[2017-10-23 15:40] bassam commented on #1055
also I'm assuming that distos that run kubelet in a container (coreos, atomic, rancher) will have a problem with this approach too, unless they use mount propagation in the kubelet container too. Right?

[2017-10-23 15:44] galexrt commented on #1121
**monCount**:
If not specified by the user, I would like the idea to start one mon per node in a cluster with 3 or less nodes. The default if not specified with 3 or more nodes should be `3`.

**Affinity, Placement**:
I don't see that there is any commonly used "account zone and region information" which is reliable across platforms.
@bassam comment to find "labels" for this information together w

[2017-10-23 15:46] galexrt commented on #1120
@beatlejuse Does the user you are deploying with has enough permissions to create ClusterRoles? It seems that the user you are trying to deploy rook with, doesn't have enough permissions, see the error message explanation here: https://github.com/kubernetes/kubernetes/issues/26909#issuecomment-315106868.

[2017-10-23 15:46] travisn commented on #704
@bassam is removing the API completely really feasible? The crds and kubectl api are great for creating, deleting, and updating resources. They also have the ability to provide basic status info (which we aren't using right now), but they don't appear to be a fit for more detailed or dynamic status. If there is a client that needs an API, it's not feasible to go launch the toolbox to run ceph tool

[2017-10-23 15:49] bassam commented on #1109
this is a tricky one. I think its worth having a longer design discussion on our use of CRDs, validation, reuse, dependencies, status, etc. SIG-API is looking to invest here and I think we should figure out what improvements we'd like to make.

[2017-10-23 15:53] travisn commented on #919
I see #796 specifically for local storage. If we're going to support other PVs it seems, each type would have its own parameters that would need to be exposed in some way in the CRD. Wouldn't that be a work item for each type of PV to support? What would be the scenario to support this? Rook's strength is that it can use local storage. And if you did need other volumes, could you mount them in a p

[2017-10-23 15:56] bassam commented on #919
I've heard from a number of users that they would feel better about running onto of EBS even initially. Other cloud-native storage systems support this too.

I think we should avoid any operations that assume paths on the host or really anything about the host.

[2017-10-23 15:57] travisn commented on #796
@bassam it would appear that 1.9 which is just around the corner so I don't see how we could accelerate that very much.

[2017-10-23 17:38] jbw976 commented on #704
we discussed this in the Rook meeting this morning.  We want to get to a place where we only rely on CRDs, Ceph tools, and the Ceph REST API.  Those should be the only interaction points for users of Rook.

An unanswered question would be how best to expose metrics/status to prometheus.  That is currently done through the Rook REST API's `/metrics` endpoint.

We should update the docs saying that

[2017-10-23 17:40] bassam commented on #704
there is a ceph-mgr module to export prometheus metrics. is that an option?

[2017-10-23 17:40] jbw976 opened #1122 "Remove rookctl and rook-api"
As mentioned in https://github.com/rook/rook/issues/704#issuecomment-338738511,  we should update the docs saying that rookctl and the Rook REST API will be deprecated.

[2017-10-23 17:42] jbw976 commented on #704
ah right, i forgot about that new ceph-mgr module.  would we need to add that to our CMakeLists so it gets compiled and included in the image?

[2017-10-23 17:47] #1071 closed

[2017-10-23 19:11] DanKerns commented on #704
We also discussed coordinating with Sig-API as that makes sense.

[2017-10-23 21:25] kokhang commented on #1119
@xetys are you using coreos? and can you share the logs of the `rook-agents`. `kubectl -n rook-system logs <rook-agent pod>`

[2017-10-23 21:48] paha opened #1124 "ProcMan should send SIGTERM as a default stop process signal"
Currently ProcMan.Stop() sends SIGKILL to a process not letting cleanup routines to execute. We should have the ability to send both signals SIGTERM and SIGKILL, but SIGTERM should be a default.

Note: Sending SIGTERM might result in a process not exiting at all.

[2017-10-23 22:08] jpds opened #1125 "CephFS volumes handling via PVCs (dynamic provisioning)"
Per #1115, it'd be interesting if CephFS volumes could be handled by storage classes and PVCs, I think this would make it a lot easier to deploy these volumes to helm charts for instance where people would just need to set the `storageClass` to something like `rook-filesystem` and then the `accessModes` to `ReadWriteMany` rather than hacking in YAML which is specific to Rook itself.

[2017-10-23 23:46] jpds commented on #560
Ceph appears to be recommending the following on my Luminous cluster:

```too few PGs per OSD (25 < min 30)```

Prehaps it'd be worth using the data from `ceph osd df tree` and the above to calculate the next power of two to use for the recommended PGs in a cluster?

[2017-10-23 23:53] jbw976 commented on #796
We discussed just simply setting a reasonable default for `dataDirHostPath` in the 0.6 milestone.  Maybe `/var/lib/rook`?  It is doubtful that just setting that default in the sample `rook-cluster.yaml` would make us any worse off than we are right now where Rook is not by default persistent.

[2017-10-24 06:37] beatlejuse commented on #1120
@galexrt yes, i'm deploy by admin.
i'm rebuild my cluster and it started to work))
Thank you!

[2017-10-24 06:37] #1120 closed

[2017-10-24 10:20] xetys commented on #1119
I'm using ubuntu 16.04

[code]

[2017-10-24 14:28] bassam commented on #909
reducing build concurrency did not resolve the issue. Here's another example of when it happens:

I can reproduce it by doing the following:

[code]

and it seems to fail here:
[code]

looking at `github.com/rook/rook/vendor/k8s.io/apimachinery/pkg/apis/meta/v1
vendor/k8s.io/apimachinery/pkg/apis/meta/v1/zz_generated.defaults.go` it does import `github.com/rook/rook/vendor/k8s.io/apimachinery/pkg/

[2017-10-24 15:52] bassam commented on #909
Here's another failure with verbose logging this time (see build log here https://gist.github.com/bassam/7de0c6c19dca172912d3992c468afb40)

The error happens at line 16373:

[code]

This is a `windows_amd64` compile that is not able to find `/home/rook/go/pkg/windows_amd64_static/github.com/rook/rook/tests/framework/contracts.a` yet that package is being built twice earlier in the log at line 1563

[2017-10-24 16:41] bassam commented on #909
In another instance it does look like a race in the go build:

[code]

The note the missing `github.com/rook/rook/vendor/k8s.io/api/core/v1.a` is being copied to the package directory two lines after the compile error.

[2017-10-24 17:46] kokhang opened #1127 "Rook Flexvolume needs to improve to be able to run in all K8S cluster without admin intervention"
We have seen numerous issues with Rook not being able to map volumes when Kubelet is configured or deployed in certain ways. Here are the issues I have seen so far:

CoreOS:
- Kubelet runs in a container. The default flexvolume plugin dir is not host bind mounted.
- CoreOs has `/usr` directory readOnly. Thus the K8S default flexvolume plugin dir (`/usr/libexec/kubernetes/kubelet-plugins/volume/exe

[2017-10-24 17:54] kokhang opened #1128 "Rook Flexvolume does not work properly on non-homogenous K8S cluster"
The rook-agents needs to hostpath mount the flexvolume plugin dir in order to be able to install the flexvolume driver. The operator self-discovers the flexvolume plugin dir from its own kubelet's configuration (kubelet that is running the operator) and uses this directory to hostpath mount as it  deploys the rook-agents via daemonset.

The issue happens if another node's kubelet is configured to

[2017-10-24 17:59] kokhang commented on #1128
Two solutions that i can think of:

1- Improve flexvolume in K8S in a way where the individual pods are told of the flexvolume plugin dir and have it automatically hostpath mounted. This is kind of similar to the downward API but aside from getting the flexvolume directory in an enviroment variable, the pod also hostpath mounts it so that the flexvolume driver can be installed.

2- Instead of usin

[2017-10-24 18:01] kokhang commented on #1119
Looks like the agents installed propertly. But no attachment requests have been detected. Can you give me more information about the volume you are trying to use. Do `kubectl get pv <pv name>`

[2017-10-24 18:22] jbw976 opened #1129 "Support erasure coding for block and shared filesystem"
In Luminous, erasure coding is supported for RBD and CephFS now (in addition to the RGW support that has been there since firefly):
http://ceph.com/community/new-luminous-erasure-coding-rbd-cephfs/

We'd need to make a couple updates to take advantage of this (full steps are in the article).

[2017-10-24 18:29] travisn commented on #1129
i believe our file system crd is already following these steps to set the EC pools up as expected. Seems like we should set the overwrites for all EC pools

[2017-10-24 18:53] bassam commented on #909
I opened an issue in the go repo https://github.com/golang/go/issues/22423

[2017-10-24 19:54] kokhang commented on #1119
@xetys please head over to our rook slack in https://github.com/rook/rook#contact.  You will find us there and should be able to assist you better.

[2017-10-24 22:02] #925 closed

[2017-10-25 08:28] xetys commented on #1119
Here is the solution we figured out on slack:

[code]

and then redeploy the kubernetes stack with additional kubelet flag: `--volume-plugin-dir=/var/lib/rancher/etc/vol-plugins`

Maybe an upgrade to the docs to close this issue?

[2017-10-25 13:18] beatlejuse opened #1133 "specify filesystem name in ReplicationController"
i'm creating Filesystem with name "myfs"
https://github.com/rook/rook/blob/master/Documentation/k8s-filesystem.md#create-the-file-system
and use it by pod in ReplicationController
https://github.com/rook/rook/blob/master/Documentation/k8s-filesystem.md#consume-the-file-system
please help me to understand, how can i specify filesystem name (in ReplicationController config), if i create many filesys

[2017-10-25 14:58] andrewmyhre opened #1134 "Rook operator v0.5.0-204 failing to start"
When I deploy the rook helm chart with tag=`v0.5.0-204.gd6c72f6` the operator pod outputs the following:

[code]

Previous versions (e.g: 168) don't do this.

[2017-10-25 15:06] andrewmyhre commented on #1134
Closing because I reproduced this with older versions after all. This is something to do with network configuration in our cluster.

[2017-10-25 15:06] #1134 closed

[2017-10-25 15:14] travisn commented on #1133
The CephFS volume plugin does not support multiple file systems. We are adding a rook filesystem dynamic provisioner, which will be merged any day now, that will support multiple file systems by name.
https://github.com/rook/rook/pull/1115

For the new documentation in the PR, see:
https://github.com/kokhang/rook/blob/6b9b914142befee26e9534517319819966006de2/Documentation/k8s-filesystem.md

[2017-10-25 15:18] dedsm opened #1135 "Rook OSD daemon changes all the nodes hostnames"
In my cluster, it seems the OSD daemon is changing the node hostname, causing kubelet restarts to fail when trying to register the node.

hostnames are changed according to this code https://github.com/rook/rook/blob/307adad72982257bbb11bbd48342fc4d6760d3f7/pkg/ceph/osd/daemon.go#L98, don't know if it's actually there but it rings all the bells.

my nodes FQDN go from host.domain.com to host-domai

[2017-10-25 15:33] beatlejuse commented on #1133
thank you! I'll be waiting!

[2017-10-25 15:33] #1133 closed

[2017-10-25 15:57] travisn commented on #1135
Hmm, changing the node name was only intended to affect the osd pod, for the purpose of naming the node in the crush map. If it's affecting the naming on the host it is very unexpected and we will need to find another way to accomplish this.

[2017-10-25 16:11] dgonzalezruiz commented on #1135
I support this. This will potentially mess up your cluster. In my case, it did mess up the monitoring, since the hostnames where changed and I used hostname filtering. (issue fixed now).\
It only affected me when setting `hostNetwork` to true.

[2017-10-25 17:27] jbw976 commented on #1119
I believe we have determined that the bind mount is not needed.  For Rancher, this should be all that's needed according to @kokhang on Slack:

[2017-10-25 17:29] travisn commented on #1135
ok, looks like we can set a `crush location` in the ceph config file on the osd without messing with the hostname, which will not have any unintended side effects.
http://docs.ceph.com/docs/master/rados/operations/crush-map/#crush-location

[2017-10-25 17:36] jbw976 commented on #1135
are we not already specifying the crush location when adding the OSD to the crush map @travisn? https://github.com/rook/rook/blob/master/pkg/ceph/osd/device.go#L622

i recall in the past that even when we set `host=` that Ceph would use a name with dashes instead.  you may run into that, just a heads up.

[2017-10-25 17:56] jbw976 opened #1136 "Improve messages to user for flexvolume issues"
@DanKerns had some good ideas for how to improve the current negative experience with deploying and consuming storage via the flexvolume.

When the rook-agent fails to install the driver (e.g. because its a read-only filesystem), we should log a USEFUL message that says how to work around it and link to our useful docs.

Even on a successful driver deploy, log a reminder to restart the kubelet (if

[2017-10-25 18:28] bassam commented on #1041
I think this should be in 0.6, right?

[2017-10-25 23:29] kokhang commented on #1125
I think this is something we should do and aligns well with our block scenario. But one thing about Cephfs is that it allows you to provide "path" so that you can mount a path within the cephfs on a pod.

In kubernetes, mount options are only given during provisioner. So I am not sure how we could pass the `path` options during mount time. Ideally, on the spec we should have:

[code]

But I don't

[2017-10-26 00:47] jbw976 commented on #1111
@jpds suggested moving to using the ceph-mgr prometheus module sooner rather than later, which may be wise.  that would help with future breaking changes in metrics format like we got bit by in Luminous as well.   we would probably need to run rook-api /metrics side by side while it's deprecated to give time for users to migrate their prometheus setups.

[2017-10-26 02:20] vinay-g commented on #1044
Hi @kokhang I am getting the same error, can you explain how to remove `mds_namespace` option ?

[2017-10-26 07:18] galexrt commented on #1125
@kokhang From what I understand is that the `path` is essential for applications that share more than one directory.

**Example**: an application having `dataABC/` and `dataXYZ/` directories, this would require to "mount" both to the CephFS using the `path` option in two `volumeMounts`.

Also having one CephFS "per claim" would blow up the Ceph PG count too (From what I know about Ceph there is a

[2017-10-26 08:27] jbguerraz commented on #1109
- Two PVC's use the same StorageClass. The first PVC has the pool automatically created. Does the second PVC see that the pool already exists and reuses it?
  - I'd say yes (as the relations are currently : pool -1-1-> storageclass -1-n-> pvc)
- Two StorageClasses use the same PoolTemplate. Does each StorageClass create independent pools with the identical properties? Or do they both use the same

[2017-10-26 12:30] xetys commented on #1119
Hey, I did a test with a fresh environment to prove that fact. It's sufficient just to add the kubelet flag, and it works.

[2017-10-26 14:54] jbw976 opened #1141 "Consider passing a conf file to rbd tool"
Because we do not pass a config file to the `rbd` tool, there are a lot of error messages in the logs about trying to parse the config file, which are distractions and can be red herrings to our users:
[code]

[2017-10-26 15:06] jbw976 commented on #1119
Thanks for confirming and for all your help @xetys.  The documentation for pre-reqs has been updated in master: https://github.com/rook/rook/blob/master/Documentation/k8s-pre-reqs.md#rancher

[2017-10-26 15:07] #1119 closed

[2017-10-26 15:10] jbw976 commented on #1128
Here's a snippet from a design proposal draft that briefly addressed heterogeneous environments:

[2017-10-26 15:10] galexrt commented on #1141
@jbw976 Maybe passing `/dev/null` as the config would be enough for the errors to disappear.

[2017-10-26 15:22] galexrt commented on #1136
Can we use the termination log for that? See https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/#setting-the-termination-log-file.

Running the example from the Kubernetes documentation the output of a `kubectl describe` looks like this after exit: https://gist.github.com/galexrt/2e4f9324c6df630f139073659fa1e031

[2017-10-26 17:45] kokhang commented on #1125
What if we can have just one cephFS and we share that? So every claim will just use a path.
So the path can be `pvc-cephfs-1/` for one pvc and  `pvc-cephfs-2/` for the other. But the issue with sharing a filesystem between users is that there is no separation (other than the mount path)

[2017-10-26 18:12] jbw976 commented on #1112
From @galexrt comment on #1141

[2017-10-26 18:12] jbw976 commented on #1141
Dupe of #1112

[2017-10-26 18:12] #1141 closed

[2017-10-26 20:10] jbw976 commented on #1136
Good question @galexrt.  After some debugging yesterday, I actually found that when the flexvolume plugin dir is on a read-only filesystem, the error message below is actually coming from the container runtime when it is attempting to bindmount the plugin dir, getting ready for the agent pod to consume it.  The agent pod actually never gets to launch at all:
[code]
`daemon` in that message means t

[2017-10-26 20:37] kokhang commented on #1136
@jbw976 i think you can get the permissions using https://golang.org/pkg/os/#File.Stat. That will tell you whether the directory is RW or RO. But you are right about the operator having to bind mouth this first.

Now that im thinking about it, perhaps having the rook-agents crashlooping if the plugin-dir is RO may be ok. We could document to users to ensure rook-agents are `running` just like we d

[2017-10-26 20:58] jpds commented on #1111
I've tried enabling the prometheus module for mgr per the docs but I can't seem to do this:

[code]

[2017-10-26 21:04] jpds commented on #1111
I eventually found that I could do:

[code]

...from a mon, but got:

[code]

[2017-10-26 21:21] jpds commented on #1111
I had to go back and do:

[code]

...on the mon to make mgr happy again. And then do on mgr:

[code]

Now I get:

[code]

[2017-10-26 21:28] jpds commented on #1111
Use `python-cherrypy3`, not just `cherrypy` and result:

[code]

[code]

[2017-10-26 21:39] jpds commented on #1111
Oddly this doesn't work:

[code]

...for some reason, prometheus' `kubernetes-pods` definition goes to port 80 instead.

[2017-10-26 21:50] jpds commented on #1125
Is it possible to have one CephFS (the same way that we have one 'rook-block', ie: 'rook-filesystem') that has multiple PVCs inside of it, which in turn are mounted by a deployment?

That deployment can then give it a path in its volumeMount for the volume.

[2017-10-26 22:04] jpds commented on #560
Interesting and very relevant:

- http://ceph.com/community/new-luminous-pg-overdose-protection/

[2017-10-26 22:12] jpds commented on #1125
No, looks like it's one CephFS per PV but I feel that the issue with PGs would happen with or without rook.

[2017-10-26 23:08] travisn commented on #1136
agreed, makes sense to crashloop to follow the k8s pattern of retrying, and allowing rook to continue for all other scenarios. Blocking the scenarios unnecessarily isn't a good thing.

[2017-10-27 00:51] jbw976 commented on #1136
The intent is to instead of getting a crashloop message for the agent pod which is not user friendly,
 we wanted to show a crashloop message that is much more friendly (i.e. it tells the user exactly what to do and links to our Rook docs).  Since no Rook code gets to run before the crashloop happens, that isn't directly possible.

Alternatives such as sending out an init container to all nodes in

[2017-10-27 00:54] #1135 closed

[2017-10-27 00:54] #1108 closed

[2017-10-27 03:15] #1039 closed

[2017-10-27 09:09] galexrt commented on #1111
@jpds The problem seems to be that the mrg Pods don't expose any port. So Prometheus may gets confused because of that.
@travisn Should we go ahead and add a Port to the mgr Pods for Prometheus metrics already?

[2017-10-27 16:04] travisn opened #1146 "Generate CRD types with 1.8 generator"
K8s 1.8 comes with a new code generator for CRDs to use the same code generation as in-tree types. See https://blog.openshift.com/kubernetes-deep-dive-code-generation-customresources/

We may need to hold off doing this until we are ready to stop supporting TPRs (pre-1.7).

[2017-10-27 17:36] jbw976 commented on #1127
A Kubernetes feature has been opened to track this work: https://github.com/kubernetes/features/issues/500

[2017-10-27 18:51] jpds opened #1147 "rook flexvolume failing to attach volumes"
I had some issues late this afternoon with pod rescheduling after doing some maintanance on some hosts, when I noticed that some pods were failing to reschedule.

I pulled the latest `rook/rook:master` image deleted the `rook-system` namespace then redeployed the latest operator+rook-agent set.

My pods are now failing to reschedule with the following in a `rook-agent` log:

[code]

[2017-10-27 18:54] jpds commented on #1147
Event log for a failing pod:

[code]

[2017-10-27 19:02] kokhang commented on #1147
RBD command keeps on hanging. ```2017-10-27 18:42:59.329527 I | exec: Timeout waiting for process rbd to return. Sending interrupt signal to the process```

can you ssh to the node that the pod is scheduled to and run `dmsg`?
Also what kernel version is this node running? There is a known issue in Kernel 3.14 or lower where ceph features dont match. And OSDs need to disable tunable 3 features. I w

[2017-10-27 19:18] jpds commented on #1147
My hosts are running `4.12` or `4.13` kernels and I cannot see anything out of the ordinary in `dmesg`.

Interestingly, I had a number of osds down when this error occured that I hadn't noticed before. I recreated the osd pods and the cluster recovered and then the pods started rescheduling.

[2017-10-27 20:01] kokhang commented on #1147
were the monitors also down? I think that could also cause rbd to hang since it is trying to get to the monitors.

[2017-10-27 20:05] jpds commented on #1147
I was at `2/3` mons, but `4/10` OSDs.

[2017-10-28 00:12] kokhang commented on #1125
Submitted a design proposal to https://github.com/rook/rook/pull/1152. Please chime in there.

[2017-10-28 04:39] kokhang commented on #1147
Did the pod recover once the mons and osds were back up?

[2017-10-28 08:57] jpds commented on #1111
@galexrt I think the mgr's should expose port 6800 in a service definition for the pair of them. I can then do the annotations for prometheus at that level.

[2017-10-28 09:47] galexrt commented on #1111
@jpds Yes that is what I thought about.
I'll re-purpose this issue to "Enable Prometheus metrics on the Ceph MGRs".

[2017-10-30 16:36] #741 closed

[2017-10-30 16:42] jbw976 commented on #1127
I'm beginning to think that it would be a worthwhile effort, independent of whether we can get something into upstream Kubernetes, to find and fix the Kubelet deployments/manifests in upstream OSs and environments also.  For example, can we open a PR in the following upstreams:
* CoreOS: update the kubelet.service unit file to pass the `--volume-plugin-dir` flag.  All CoreOS users would get a defa

[2017-10-30 18:15] travisn opened #1155 "Set a default dataDirHostPath"
For mon and osd pods to support restart, the `dataDirHostPath` must currently be set on the cluster.yaml. The real solution is to build on the K8s local storage feature as described in #796. In the meantime, setting the host path is a necessary tradeoff.

With the host path set, the challenge is that if the cluster is torn down and a new cluster created, the path on the host must be deleted. Other

[2017-10-30 19:06] travisn opened #1157 "CRDs are updated every few minutes on K8s 1.8"
Every 5-10 minutes, it is seen in the operator log that the CRDs are triggered for an update by K8s. It is not yet clear why this is, when nothing is happening in the cluster.

For the cluster CRD, it is currently a no-op since a cluster update is not implemented. In the log, the message is seen:
[code]

For object store, the side effect is more severe. When the update is triggered, the RGW pod is

[2017-10-30 19:51] #1051 closed

[2017-10-31 00:05] dangula opened #1160 "Add support for k8s 1.8.x for load test"
kubeadm 1.8.x updated the join command.  we need to update our test script to handle this.

[2017-10-31 02:09] dimm0 commented on #1147
@kokhang What should be dono on the nodes with 3.10 kernel?

[2017-10-31 15:47] beatlejuse opened #1162 "rook-agent using default volume plugin path when a non-default has been set on the Kubelet"
I update CoreOS from 1409.7.0 to 1520.8.0 and kubernters from 1.6.1 to 1.8.1 and now i have error when "rook-agent" conteiners running.
all (3) rook-agent conteiners have status RunContainerError.
And in conteiners logs i see this:
kubectl -n rook-system logs rook-agent-mklwd
failed to open log file "/var/log/pods/7a5eb042-be51-11e7-8ce2-0050569d04a3/rook-agent_1.log": open /var/log/pods/7a5eb042-

[2017-10-31 15:53] travisn commented on #796
@bassam per slack discussion, would suggest we move this out of 0.6

[2017-10-31 18:09] jbw976 commented on #1162
@beatlejuse what does the following show (it will try to get the last termination message for the rook-agent pods)?
[code]

[2017-10-31 19:03] beatlejuse commented on #1162
kubectl -n rook-system get pod -l app=rook-agent -o jsonpath='{range .items[*]}{.metadata.name}{"\t"}{.status.containerStatuses[0].lastState.terminated.message}{"\n"}{end}'
rook-agent-c4wj8        mkdir /usr/libexec/kubernetes: read-only file system
rook-agent-fm64q        mkdir /usr/libexec/kubernetes: read-only file system
rook-agent-mklwd        mkdir /usr/libexec/kubernetes: read-only file sys

[2017-10-31 20:18] jbw976 commented on #1162
Thank you for gathering that information @beatlejuse.  On CoreOS, we've seen this before where the Kubernetes default for volume plug-ins isn't actually writeable.

I suspect this documentation will help you: https://rook.io/docs/rook/master/k8s-pre-reqs.html#flexvolume-configuration

Also this documentation I've been working on, but haven't released yet, could help you even more: https://github.c

[2017-11-01 00:10] #1136 closed

[2017-11-01 07:51] beatlejuse commented on #1162
Thank you!
i'm read the manual, but i'm already configure "volume-plugin-dir".
How can i ensure that this option is really works?

[2017-11-01 17:49] #1008 closed

[2017-11-01 17:50] #1112 closed

[2017-11-01 17:54] #1155 closed

[2017-11-01 19:53] travisn opened #1168 "Remove agent toleration for TaintEffectNoSchedule"
The rook agent has a toleration for TaintEffectNoSchedule. This means that the agent will also be installed on the master node. This came as a surprise to some users, who didn't expect to see the agent running on the master. Other pods can't be scheduled there either, so the agent should not have this toleration.
https://github.com/rook/rook/blob/master/pkg/operator/agent/agent.go#L177

[2017-11-01 20:04] carldanley opened #1169 "Add support for dynamically resizing volumes provisioned with rook"
Kubernetes 1.8 added the ability to resize persistent volume claims (https://kubernetes.io/docs/admin/admission-controllers/#persistentvolumeclaimresize). I think it would be really nice to have support for dynamically growing (and maybe shrinking, if possible) volumes provisioned with rook.

[2017-11-01 20:10] kokhang commented on #1169
More info here: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims

[2017-11-01 20:14] kokhang commented on #1162
@beatlejuse the value of `volume-plugin-dir` should be a directory in the host that is writable (as supposed to the default `/usr/libexec` which is not)
Also since kubelet in coreos runs in a container, it needs to be bind mounted. `/var/lib/kubelet` is normally bind mounted in coreos, so we recommend using this directory as `volume-plugin-dir`

[2017-11-01 21:44] #667 closed

[2017-11-01 22:52] DanKerns commented on #1169
+1. I think this is a super natural thing for the Rook Operator:  The underlying mechanism is complex and needs to be carefully orchestrated.

[2017-11-01 22:54] #1160 closed

[2017-11-01 23:02] dangula opened #1170 "Add longhaul test for object store."
we need to add longhaul test for object store, that creates a object store, object users and buckets. And then perfor CURD operations on buckets for extended period of time under load.

[2017-11-01 23:14] jbguerraz opened #1171 "Documentation - object storage - s3cmd commands"
s3cmd won't work with AWS_ENDPOINT env var as used in documentation except if using signature V2 : https://rook.github.io/docs/rook/master/client.html#object-storage
AWS_HOST env var should be used instead.

[code]

[2017-11-01 23:21] jbw976 commented on #1169
@kokhang so with the `ExpandPersistentVolumes` feature gate set, when a user edits a PVC to update the size, does the flexvolume plugin get called? what part of the flexvolume interface would handle that? I'm not sure how this all works under the covers.

[2017-11-01 23:34] jbguerraz opened #1173 "Documentation - Pool settings"
Current settings wouldn't work on a small cluster (mini 3 nodes).
ErasureCoded settings could be set to 2 data chunks + 1 coding chunkf and replicated size one to 3 so it would works for any cluster

[2017-11-02 05:42] kokhang opened #1175 "Add check for Volumeattachment CRD when block volume is mounted."
When a block volume is mounted, a Volumeattachment object is created. The integration test is currently not checking for this object being created.

[2017-11-02 08:56] beatlejuse commented on #1162
Yes, folder "/var/lib/kubelet/volumeplugins/" created and key "volume-plugin-dir" link to this folder.
I'm using this manual to up cluster: https://coreos.com/kubernetes/docs/1.6.1/deploy-master.html
I'm rebuild cluster and have no changes((
I think, new version of coreos (even hyperkube) can't recognize key "volume-plugin-dir"

[2017-11-02 16:22] #1173 closed

[2017-11-02 16:39] jbw976 opened #1177 "build: all golang dependencies seem to be built every time"
Build times seem to have increased recently and it appears that all packages (especially vendored ones) are being built every time.  We expected a bit of a longer build because we are using `dep ensure` to ensure that our dependencies are always up to date, but that may have caused a regression (see #1149).

My local build time seems to have increased to about 2 min every build, even when there ar

[2017-11-02 16:41] #1171 closed

[2017-11-02 16:52] travisn commented on #1104
This was done with #1149

[2017-11-02 16:52] #1104 closed

[2017-11-02 16:53] travisn commented on #1087
@hickey sounds like the issue was resolved, please reactivate if misunderstood

[2017-11-02 16:53] #1087 closed

[2017-11-02 17:03] travisn commented on #949
I believe we just need to get the right python modules added to the image, similar to the work being done in #1154 to enable the prometheus module.

[2017-11-02 23:30] #1168 closed

[2017-11-03 04:23] kokhang commented on #1169
@jbw976 the flexvolume is not in the path of resizing. It would be something handled by the provisioner. We might have to add this support to the external-provisioner library.

[2017-11-03 04:27] kokhang commented on #1162
can you ensure that /var/lib/kubelet/volumeplugins is host mounted in the kubelet container? Can you try using `--volume-plugin-dir=/etc/kubernetes/volumeplugins` and see if that works?

[2017-11-03 04:28] kokhang commented on #1147
@jpds what is the state of this issue? Is this still an issue or a local environment problem?

[2017-11-03 11:35] beatlejuse commented on #1162
yes, i'm already tested folder "/etc/kubernetes/volumeplugins".
but in coreos kubelet started in rkt and i can't ensure that the folder is mounted because rkt don't have exec command.
i try run kubelet in docker, but this is too difficult for me.

[2017-11-03 12:13] galexrt commented on #1162
I'm running with Container Linux and made those changes to make the kubelet pickup the K8s volume plugin(s) for me.
I think you need to add the following lines to the `kubelet.service` you are using.
In the `ExecStartPre` block add the line:
[code]
and in the `ExecStart` command add:
[code]

The `/var/lib/kubelet` directory gets mounted by the `kubelet-wrapper` command.

Could you try that and see

[2017-11-03 12:45] hacor opened #1183 "Ceph-fuse support for --client-quota"
Hello,

As stated in #1015 there will be a future implementation for the ceph-fuse client to mount cephfs.
This way I want to ask if it could be possible to implement the `--client-quota` option for the fuse client, so the  [quota option from CephFS](http://docs.ceph.com/docs/jewel/cephfs/quota/) could be used in pods using the @galexrt  proposed method on Slack using [postStart handles](https://k

[2017-11-03 12:50] galexrt commented on #1183
An implementation to tell the `ceph-fuse` to use the `--client-quota` arg could be to add an arg/paramter to the flexvolume mount "specification".

When the CephFS is mounted by rook and the arg from above is added/set one could use a) an K8s privileged init container in the manifest to set the quota or b) a logic on rook' side to automatically set a quota on a path.

[2017-11-03 15:15] beatlejuse commented on #1162
yes, folders created and key "--volume-plugin-dir=/var/lib/kubelet/volumeplugins" include in kubelet-wrapper, but it dont take effect for me after update.
today i'm portable kubelet from rkt (kubelet-wrapper) to docker.
i run kubelet as hyperkube from quay.io/coreos/hyperkube:v1.8.1_coreos.0
adn now i cen exec to container and ensure as folders mounting

but i have the same error:
rook-agent-c4wj8

[2017-11-03 15:33] jbw976 commented on #1162
@beatlejuse do the rook-agent pods need to get regenerated to pick up the new `--volume-plugin-dir` value from the Kubelet after it was restarted?  Described in recent docs here: https://rook.io/docs/rook/master/common-problems.html#rook-agent-deployment

[2017-11-03 15:39] jbw976 opened #1185 "rookctl pool create failed due to rule not existing"
I just tried creating a pool in the toolbox and it failed:
[code]

The API pod logs show that the pool could not be created because the specified CRUSH rule did not exist:
[code]

[2017-11-03 16:41] phsiao opened #1186 "Don't mount /dev hostPath when cluster runs with emptyDir for osd"
When spec.dataDirHostPath is empty, the cluster will build osd pods that uses emptyDir for backing store.   rook still tries to mount /dev via hostPath in that case, even though there is no need for that because osd does not need to discover devices.

I think mounting /dev should be avoided when spec.dataDirHostPath is empty.

[2017-11-03 16:48] travisn commented on #1186
I believe we will also need to put restrictions in place for other properties that refer to devices. If `dataDirHostPath` is set to empty for a least privilege environment, it could also have the following implications:
- OSD pods don't need to run privileged
- `useAllDevices` must be false, `deviceFilter` and `metadataDevice` would be ignored, and `devices` underneath the `nodes` would be ignored

[2017-11-03 16:51] jbw976 commented on #1186
Yes @travisn that sounds about right.  Note that this general idea is also related to #400.

[2017-11-03 16:55] phsiao commented on #1186
Yes, I am reviewing the conditions/combinations, and would be happy to include the idea from #400 as well, so that it does not run as privileged when it does not need to.

[2017-11-03 17:25] kokhang commented on #1183
@hacor quota is not yet supported but im formulating a design to get filesystem dynamically provisioned. https://github.com/rook/rook/pull/1152

This will add quota support for Filesystem. The quota would be designed similar https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/cephfs, which is setting the `ceph.quota.max_bytes`.

[2017-11-03 17:29] marioava commented on #886
Docs pages have been updated with darker text to increase contrast/readability.

[2017-11-03 17:33] kokhang commented on #1162
also all the kubelet has to be modified. If you are running multiple nodes, make sure you set this flag to all kubelet on all nodes and restart them. We know its a bit tedious currently on coreos but we are working into making that more pleasant :)

[2017-11-03 17:35] #886 closed

[2017-11-03 18:01] galexrt commented on #1185
@jbw976 The `0` seems out of place here. It should be a valid pg count, see http://docs.ceph.com/docs/jewel/rados/operations/pools/#create-a-pool. Maybe that is the problem there.

[2017-11-03 19:00] kokhang commented on #1122
This should be added to the pending release notes.

[2017-11-03 20:19] kokhang commented on #1044
@vinay-g i have a PR to update the docs to detail the workaround for this problem. https://github.com/rook/rook/pull/1189.

But to overcome this issue, you would have to revert back to using the cephFS plugin. Details can be found at https://github.com/rook/rook/blob/release-0.5/Documentation/k8s-filesystem.md#deploy-the-application

[2017-11-03 20:22] kokhang commented on #1044
This is the same behaviour with the new Flexvolume plugin.

[2017-11-03 20:37] beatlejuse commented on #1162
No, its very easy for me! my cluster is boot and configure from PXE. Every time i erase all nodes and after 15 min i have a new cluster configurated by new configuration files)))

[2017-11-03 20:42] beatlejuse commented on #1162
yes, i set this key on all (3) nodes.
now i again tested both keys:  "/var/lib/kubelet/volumeplugins" and "/etc/kubernetes/volumeplugins"
and saw the same error.
this is logs from kubelet container:
`I1103 23:32:30.284421    1468 kuberuntime_manager.go:499] Container {Name:rook-agent Image:registry.xxx.ru/k8s/rook:latest Command:[] Args:[agent] WorkingDir: Ports:[] EnvFrom:[] Env:[{Name:POD_NAMESP

[2017-11-03 20:58] #1041 closed

[2017-11-04 01:24] jbw976 commented on #376
Fixed in #1179

[2017-11-04 01:24] #376 closed

[2017-11-04 05:04] #1175 closed

[2017-11-04 21:32] andrewmyhre opened #1191 "Ability to specify pg_num and pgp_num in replicapool storage class"
When creating a ceph pool I want to be able to specify appropriate `pg_num` and `pgp_num` values for my cluster.

Proposal:

[code]

`pgp_num` should always ==`pg_num` so perhaps that's redundant.

This would make it easier to author scripts to provision ceph clusters via rook without having to execute a command from the rook-tools pod, given you first have to wait for the rook-api to be deployed

[2017-11-04 22:58] DanKerns commented on #1191
I think a far better thing would be to have Rook pick the right number for your cluster then you don't need to be an expert in PG semantics. This is part of the 0.7 milestone and we can use this ticket to track that feature.

[2017-11-04 23:46] leenux opened #1192 "Can't work on minikube"
env:
[code]
issue:`rook-ceph-mon0-hprzn 0/1 CrashLoopBackOff`
step:
[code]

[2017-11-04 23:55] leenux commented on #1192
add logs for the error:`rook-ceph-mon0-hprzn   0/1       CrashLoopBackOff`
[code]

[2017-11-05 01:46] kokhang commented on #1192
Hmm i have the same version of minikube and I havent seen this issue. Granted im using a macbook with virtualbox.

It seems to complain about lack of space. Can you verify the minikube VM has adequate space? What virtualization driver are you using? Virtualbox, kvm?

[2017-11-05 03:26] leenux commented on #1192
@kokhang
Hi,
The virtual driver is Virtualbox same to you.
The minikube VM's space should be enough.
[code]

[2017-11-05 03:44] leenux commented on #1192
After change the `rook-cluster.yaml` from `dataDirHostPath: /var/lib/rook` to `dataDirHostPath: /data/rook`,it work fine.
From `https://github.com/kubernetes/minikube/blob/master/docs/persistent_volumes.md`
[code]
Closing plz.

[2017-11-05 04:10] kokhang commented on #1192
@travisn is this the reason to create the dir and add a symbolic link? If so, we need to think of a more complete solution. Or at least document it

[2017-11-05 04:29] leenux commented on #1192
Yes, maybe it's better to change the path and I am leenux:)

[2017-11-05 15:17] galexrt opened #1193 "Rebalance mon when more than one per node"
The operator should rebalance/failover a mon to another node, when there are more than one mons on one node and a node is available again to run mons.

This should happen in the mon health check loop.

**Example behavior**:
* node1: mon0
* node2: mon1
* node3: mon2

node3 fails, after mon out timeout the failover of mon2 happens and the mon2 gets failovered to node2
* node1: mon0
* node2: mon1 mon

[2017-11-05 16:10] galexrt commented on #1113
Anyone having something against for now using other defaults for paths other than `/var/lib/rook`?

One question when going for using other default would then be, what percentage should be used?
In my case the directory is a single partition dedicated for rook, so I'd prefer a percentage of `1` or to leave a little bit of space `0.99` or even `0.999`.
Should the directory given for rook OSD be ass

[2017-11-05 16:44] lorenz commented on #1193
I would also really like support for failure domains. I have a setup where there is one or more nodes at a single location which share a single internet connections (the cluster is built on a few residential 1Gbps symmetrical connections). I'm using failure domain zones to keep redundant workloads on at least two zones. If rook only looks at hostnames the mons could end up in one zone and the clus

[2017-11-06 09:00] hacor commented on #1183
@kokhang Thanks for the reply! It sounds very interesting!
I read in #1152 that the current milestone is 0.7. Any idea about the release date?

Best regards!

[2017-11-06 14:17] phsiao opened #1194 "Support use of resource requests/limits in pod spec for all rook pod types"
For fair resource consumption and resource isolation, rook should support resource requests and limits in pod spec for all rook pod types, including osd, mon, rgw, and so on.

In some environment the use of best effort pods (pods without resource requests) is restricted because it is very difficult to schedule these pods and calculate utilization of the cluster, so it may become a friction for roo

[2017-11-06 16:20] travisn commented on #1192
we could potentially check for free disk space and give an improved message. The error coming back from ceph definitely isn't the most clear.
@leenux if you use the `tests/scripts/minikube.sh` script to bring up minikube, it will work by default with `/var/lib/rook`. Not sure what more we can do though unless we decide to revert the default set in #1158