[2021-12-08 20:17] jdurgin commented on #9298
Generally I'd advise against using cache tiering - it's not often going to give the performance benefits you might expect (see https://docs.ceph.com/en/latest/rados/operations/cache-tiering/#known-bad-workloads)

In terms of separating SSD and HDD, assuming you're doing this to benefit from the SSDs for read performance, the best approach today would be to use a standard single-level crush rule, e

[2021-12-08 22:35] #9355 closed

[2021-12-09 02:04] sunmiao0301 commented on #3940
for rook v1.2, the link is:[https://raw.githubusercontent.com/rook/rook/master/deploy/examples/crds.yaml](https://raw.githubusercontent.com/rook/rook/master/deploy/examples/crds.yaml)

[2021-12-09 02:04] zsping1989 commented on #3940
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2021-12-09 07:06] #9248 closed

[2021-12-09 07:33] sunmiao0301 opened #9366 "rook-ceph-operator 's STATUS is CrashLoopBackOff"
**Is this a bug report or feature request?**
* Bug Report

Yes I think so

**Deviation from expected behavior:**

[root@ceph57 ceph]# kubectl -n rook-ceph get pod
NAME                                  READY   STATUS             RESTARTS          AGE
rook-ceph-operator-649f6f47c8-vsjcd   0/1     CrashLoopBackOff   284 (4m41s ago)   23h

**Expected behavior:**

[root@ceph57 ceph]# kubectl -n rook-ce

[2021-12-09 11:08] degorenko commented on #4012
Also ran into this issue with rook v1.7.6. Fixed by restarting cephfs-csi-provisioner pods.

[2021-12-09 11:11] prazumovsky commented on #6183
Please re-open this bug. We're facing the same issue during cephfs recreating. cephfs recreating could be useful during ceph cluster initial deploying and configuration, when something going wrong. The issue will make more headache of this.

Why then rbd csi works another way? If I remove ceph cluster from the cloud - csi rbd provisioner and csi rbd plugin removed also. Then when I'm creating new

[2021-12-09 12:15] prazumovsky commented on #7988
@travisn any updates on this?

[2021-12-09 12:53] #8458 closed

[2021-12-09 13:40] #9349 closed

[2021-12-09 16:10] travisn commented on #6183
@prazumovsky To summarize, the issue is that the csi driver needs to be restarted in the filesystem is re-created, right? Is the request to document this?

[2021-12-09 18:25] travisn opened #9373 "Upgrade to Ceph v16.2.7 may need to set mon_mds_skip_sanity"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In the Ceph thread [here](https://lists.ceph.io/hyperkitty/list/ceph-users@ceph.io/thread/7KSPSUE4VO274H5XQYNFCT7HKWT75BCY/), the recommendation is to set the following before the upgrade:
[code]
Then after the upgrade remove the setting:
[code]

If this is not done, the mons may crash and these settin

[2021-12-09 18:37] oguzdag commented on #9294
Hi, thanks for the fix, we tested with `rook/ceph:v1.7.9-5.ga56f8a1` and observed the problem has gone, we can now run osd-prepare on any node. Thanks again

[2021-12-09 19:00] travisn opened #9374 "Add K8s 1.23 to the CI test matrix for supportability"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
With K8s 1.23 released, Rook needs to run the CI on that version.
- PR workflows should run against the latest 1.16.x and 1.23.x
- Master/release workflows should run against the latest 1.16.x, 1.18.x, 1.21.x, and 1.23.x

**What is use case behind this feature:**
K8s supportability

[2021-12-09 19:32] travisn opened #9375 "Cleanup job fails to run c-v due to requiring privileged permissions"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The node cleanup job is failing when the cluster is being destroyed. `ceph-volume` is failing with `SuperUserError: This command needs to be executed with sudo or as root`.

When setting the cleanup policy `yes-really-destroy-data` on the cluster CR, then deleting the CR, the cleanup job runs, but fail

[2021-12-09 19:43] travisn commented on #9373
I'm not able to repro this issue with the mons crashing during upgrade in several attempts with the follow upgrades of the Ceph version with the latest Rook:
- 15.2.15 --> 16.2.5 --> 16.2.7
- 16.2.5 --> 16.2.7

I'd still like to know better what cephfs clusters could potentially hit this issue so we know either to include these steps in the upgrade guide, or to automate it in rook.

[2021-12-09 23:26] travisn commented on #7988
I'm hoping to look at it next week now.

[2021-12-09 23:37] travisn commented on #9366
@sunmiao0301 To troubleshoot this, we will need to see the reason for the operator failure. Either `kubectl describe` or `kubectl logs` of the operator log should show the failure details.

[2021-12-09 23:42] travisn commented on #9298
@jdurgin Thanks for the insight into the cache tiering, crush rules, and primary affinity!

[2021-12-10 01:26] sunmiao0301 commented on #9366
Thanks for your reply, actually, I had solved this problem, by:

[root@master ceph]# ↓
`rm -f /common.yaml`
`kubectl create -f common.yaml`
`kubectl apply -f common.yaml`

It looks weird but effective

[2021-12-10 05:19] Madhu-1 commented on #6183
IMO If the admin recreates filesystem with the same name, I suggest we just document this one. we don't want to check if the subvolume group always exists for each PVC creation which will impact the PVC creation performance.

in rbd, we just create the rbd images. For cephcsi, it's a different case we create a subvolumegroup and update the local cache that subvolumegroup is created and no need to

[2021-12-10 06:21] jav333 commented on #9265
@travisn ,

After scale all pods to 0, the worker nodes successfully shutdown !!! this problem is around one year ....

Thanks!!!

[2021-12-10 08:54] yinmin2020 opened #9379 "The Ceph cluster does not have a POD for OSD"
**Is this a bug report or feature request?**
* Bug Report
When Ceph is deployed in RoOK mode, the cluster automatically adds data disks on nodes to initialize the OSD node. However, the POD of the OSD node is not generated. Disks on the host host have been detected by the cluster and successfully initialized to the LVM state, but the OSD state is still 0
* Crashing pod(s) logs, if necessary
![imag

[2021-12-10 09:00] leseb commented on #9375
Right, the operator runs as `rook` now and I'm waiting for this https://github.com/ceph/ceph/pull/44239 to be backported. I'm going to send a patch.

[2021-12-10 12:16] irizzant opened #9381 "Grafana Ceph dashboard not working"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Grafana dasboards for Ceph reported [here](https://rook.io/docs/rook/v1.8/ceph-monitoring.html#grafana-dashboards) are all returning error in Grafana 8.3.1:
[code]

This is because of the Min Step reported in each panel:
![image](https://user-images.githubusercontent.com/15982257/145572603-11f963d1-87

[2021-12-10 12:25] jmolmo commented on #9381
@irizzant : Just for your information. There is an opened PR #8891, where you can find the instructions to setup the complete monitoring stack needed in the Ceph dashboard.
The Ceph dashboard provides a complete set of Grafana dashboards specially suited to monitor the whole Ceph cluster.
So if it is useful for you, and you want to try it, It would be nice to have feedback about the documentation

[2021-12-10 13:14] onedr0p opened #9382 "Direct mount toolbox example does not work on 1.8.0 due to tini being removed and the container not running as root"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Toolbox example does not work on 1.8.0 due to tini being removed and the container not running as root

https://github.com/rook/rook/blob/v1.8.0/deploy/examples/direct-mount.yaml

**Expected behavior:**

The toolbox example to work.

**How to reproduce it (minimal and precise):**

Try to apply this ht

[2021-12-10 13:35] irizzant commented on #9381
@jmolmo My monitoring stack is already in place and Prometheus is collecting metrics as expected, it's just a visualization issue in Grafana dashboard provided.

[2021-12-10 14:46] travisn commented on #9265
@jav333 Sounds good, then I'll go ahead and close this issue.

[2021-12-10 14:46] #9265 closed

[2021-12-10 14:51] travisn commented on #9366
Was it an upgraded cluster? In any case, I would expect `kubectl apply` would be sufficient instead of also creating. Shall we close this issue?

[2021-12-10 15:05] sunmiao0301 commented on #9366
I don't remember about it because I had deleted them all to deploy again.
Thank you anyway!
feel free to close it.

[2021-12-10 15:15] #9366 closed

[2021-12-10 15:28] onedr0p opened #9385 "watch-active sidecar /var/lib/rook: permission denied on 1.8.0"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

[code]

**Expected behavior:**

Upgrade to 1.8.0 to be successful

**How to reproduce it (minimal and precise):**

Attempt to upgrade to 1.8.0

**File(s) to submit**: N/A

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) lo

[2021-12-10 15:35] travisn commented on #9385
Until this is fixed in v1.8.1, the workaround would be to run a single mgr instead of two.

[2021-12-10 16:53] travisn commented on #9379
@yinmin2020 In the first log that you highlighted, the error message is that an OSD was configured for a different cluster. Did you reinstall the rook cluster? If so, you need to [cleanup the previous devices](https://rook.github.io/docs/rook/v1.8/ceph-teardown.html) before reinstalling.

[2021-12-10 16:53] manjo-git opened #9387 "aarch64: toolbox: s5cmd bash: /usr/local/bin/s5cmd: cannot execute binary file: Exec format error"
On aarch64 / arm64 the s5cmd command in toolbox seems to be for a wrong architecture?

rook version: commit 6a10adc4fb19f7832f56f1aa81144ac69e85f92a (HEAD -> master, origin/master, origin/HEAD)

[code]

Looks like this command shipped in toolbox is intel binary.
[code]

[2021-12-10 17:26] #9375 closed

[2021-12-11 02:50] y1r commented on #8700
I think I've finished this issue by above PRs.

[2021-12-11 05:00] leiw324 commented on #9265
Thanks!!

[2021-12-11 14:33] batrick commented on #9373
v16.2.4 and older.

[2021-12-11 14:38] batrick commented on #9373
How many monitors does the rook cluster have? You need at least 2. I would try upgrades from v16.2.4 to v16.2.7 to reproduce.

[2021-12-11 20:02] yleiymei commented on #4896
这是来自QQ邮箱的假期自动回复邮件。邮件已收到，我会尽快回复您!

[2021-12-11 23:58] wjentner opened #9398 "v1.8.0: missing RBAC to GET resource servicemonitors"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Upgrade process fails with error:
[code]

**Expected behavior:**

Successfully reconciling the cluster.

**How to reproduce it (minimal and precise):**

Helm chart version 1.8.0 with default values.yaml

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necess

[2021-12-12 05:32] allenporter commented on #9132
I would recommend re-opening.

I had this same issue when upgrading the helm chart from `1.7.9` to `1.8.0`. My impression is that the helm chart is handling CRD upgrades.

Happy to provide additional details, though i don't know how to find out # of ObjectBucketClaims for example so could use some guidance there.

[2021-12-12 11:17] zhangxingdeppon opened #9399 "Did the rook version 1.2.7 supported the kuberbetes version 1.19,1.20,1.21,1.22,1.23?"
**Is this a bug report or feature request?**

Hi, team, I have a doubt about the rook version 1.2.7, did  the rook version 1.2.7 supported the kuberbetes version  1.19,1.20,1.21,1.22,1.23?, I have seen the office document `quick start`, just describe:
[code]
**What is use case behind this feature:**

**Environment**:

[2021-12-12 18:54] JensErat commented on #9283
This also hit me, and increasing the liveness probe timeout resolved the issue. This is a homelab cluster with older desktop hardware and a USB hard drive for this OSD, so I'm pretty much accepting a variety of unexpected issues here (and wouldn't wonder OSD startup takes longer than usual).

90 seconds seemed to be fine for me. I ended up defining a startupProbe with 30*10 seconds timeout, and ke

[2021-12-12 19:04] JensErat opened #9401 "Allow defining startupProbes, like we have livenessProbes"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Allow [defining a startupProbe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes) for all daemons, exactly as already implemented for livenessProbes.

**What is use case behind this feature:**

Startup might take longer for some

[2021-12-12 20:02] #8926 closed

[2021-12-13 00:16] fengjiankui121 commented on #9275
Yes, I would like @parth-gr

[2021-12-13 07:09] yinmin2020 commented on #9379
Thank you, I have cleaned the data disk through the script and remounted it successfully

[2021-12-13 07:09] #9379 closed

[2021-12-13 08:39] ibotty commented on #9398
Re b85df0f: It would be great to ship the roles that allow the servicemonitors instead of disabling them.

[2021-12-13 10:45] leseb commented on #8701
Closed in #9023

[2021-12-13 10:45] kotreshhr commented on #9227
@CO-lhagman @parth-gr Sorry I could not get to this issue as I was busy with other things.
Yes, the issue is with caps restriction.  The caps setting for the users were incorrect w.r.t osd application tag.
The osd application tag takes the key value pair which `'data|metadata'=<filesystem-name>` not `data|metadata=<pool-name>`

Original user caps in your case
[code]
Change above to below caps
[cod

[2021-12-13 10:46] #8700 closed

[2021-12-13 12:50] CO-lhagman commented on #9227
@kotreshhr This does indeed work! Thank you very much for your support, I will create a PR.

[2021-12-13 13:12] parth-gr commented on #9227
@kotreshhr thanks for finding it.

@CO-lhagman sure

[2021-12-13 13:36] leseb commented on #8701
We still have some.

[2021-12-13 14:03] leseb commented on #9132
Re-opening, I'm also seeing this here https://github.com/rook/rook/pull/9384

[2021-12-13 14:32] leseb commented on #9132
I might have a repro when the scheme is missing an object. For instance, I was missing `CephFilesystemSubVolumeGroupList`.

[2021-12-13 14:44] #9227 closed

[2021-12-13 18:32] mikabytes commented on #6654
@lyind this comment to the rescue! Been trying to find a solution for this for many hours. This trick did it, thanks!

[2021-12-13 19:19] travisn commented on #9373
With three mons on 16.2.4, upgrading to v16.2.7 works for me. The mons were all on the same node with minikube, but not sure that's a factor.

There was already a [Slack report of a rook user hitting this](https://rook-io.slack.com/archives/C46Q5UC05/p1639183554216100) in their upgrade to 16.2.7, so in any case we need to automate it.

[2021-12-14 07:19] baznikin opened #9419 "Validate cluster topology before creating"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Validate basic topology rules (no same name elsewhere else allowed) and refuse to create or update cluster with error.

**What is use case behind this feature:**

I run Kubernetes cluster on baremetal and virtualised machines. Since some VMs co-located on same hardware I mindlessly set up this topology

[2021-12-14 08:29] #9374 closed

[2021-12-14 09:18] baznikin opened #9422 "primaryAffinity ignored"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I set up store config like this:

[code]

deviceClass and osdsPerDevice works as expected, but primaryAffinity do not change for 'hdd' class devices:

[code]

**Expected behavior:**

Primary affinity should change according to primaryAffinity setting

**How to reproduce it (minimal and precise):**

**

[2021-12-14 09:55] leseb commented on #9422
@synarete PTAL :)

[2021-12-14 11:30] francesco995 commented on #9298
i was talking about the failureDomain, if you configure a hybrid storage pool like the example here https://github.com/rook/rook/blob/master/Documentation/ceph-pool-crd.md#hybrid-storage-pools , you get the same situation where you can't write as soon as you lose one osd. maybe it should be clarified.
the only situation i can see where you don't lose writes is if you have nodes with only ssd or hd

[2021-12-14 13:32] rkrzewski commented on #2997
I'm running a bare metal cluster using microk8s. The hosts don't have dedicated disks that I can use for Ceph but have a LVM setup and there are VGs with space I can use. I'm running TopoLVM as the local provisioner in the cluster and then I'm running PVC based rook-ceph on top of that to provide redundant, network attached storage to the apps.

Resizing worked fine for me out of the box. After pr

[2021-12-14 15:01] Jiawei0227 commented on #7032
Gentle ping, any update on this?

[2021-12-14 15:04] Jiawei0227 opened #9424 "Enable per-volume encryption for RBD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

RBD has encryption per Volume. However, this is not integrated with rook. It would be good to either integrate it with rook or make some documentation on how to make it work for rook.

Checking the ceph-csi rbd template: https://github.com/rook/rook/blob/master/pkg/operator/ceph/csi/template/rbd/csi-rb

[2021-12-14 15:08] Madhu-1 commented on #9424
@Jiawei0227 what do you mean by per-volume encryption? in cephcsi we do support per-volume encryption for some KMS providers. how this is different from https://github.com/rook/rook/issues/7032

cc @nixpanic

[2021-12-14 15:09] Jiawei0227 commented on #9424
This is very similiar to #7032
But just want to mention that it seems the ceph-csi template is missing kms config file. So I think maybe it is worth adding it?

[2021-12-14 15:13] Madhu-1 commented on #9424
@Jiawei0227 all encryption work will be covered in #7032

[2021-12-14 15:25] #9424 closed

[2021-12-14 15:26] Jiawei0227 commented on #7032
Checking the ceph-csi rbd template: https://github.com/rook/rook/blob/master/pkg/operator/ceph/csi/template/rbd/csi-rbdplugin.yaml

It seems ceph-csi-encryption-kms-config is missing. Wondering if this is intentional or something?

[2021-12-14 15:28] Madhu-1 commented on #7032
We have two options mount it as a file or create a configmap with predefined names. i have updated the issue description to convert the template changes also.

[2021-12-14 17:35] laptimus commented on #8085
@Madhu-1

@Madhu-1 was this verified with rest of the ceph being on multus network ? i.e. changing CSI_ENABLE_HOST_NETWORK: "true"

[2021-12-14 17:54] #9382 closed

[2021-12-14 18:08] travisn commented on #9419
@baznikin Are you saying the fix was to not set the chassis name to a node name? It is certainly an unhelpful message coming from Ceph. I see that Rook could validate the topology labels don't match node names, or other conflicts across the topology.

[2021-12-14 18:14] travisn commented on #9298
Right, we will clarify this in the docs.

Agreed, would you mind opening a new issue to track this feature? thanks!

[2021-12-14 20:02] #8932 closed

[2021-12-14 21:59] travisn commented on #9295
This was resolved by #9296 and will be included in v1.8.1

[2021-12-14 21:59] #9295 closed

[2021-12-14 22:35] #9398 closed

[2021-12-15 05:25] baznikin commented on #9419
@travisn yes, you are right, my mistake was same name for different hierarchy tiers. Thanks, this feature will help someone in the future.

[2021-12-15 06:15] kumabuchi opened #9429 "Unable to see the log for rook-ceph-purge-job"
**Is this a bug report or feature request?**
* Bug Report (document)

**Deviation from expected behavior:**
* The command in the following document (step.2) could not see the log for rook-ceph-purge-osd job.
  * https://github.com/rook/rook/blob/master/Documentation/ceph-osd-mgmt.md#purge-the-osd-from-the-ceph-cluster
[code]

**Expected behavior:**
* The log should be displayed.

**How to reproduc

[2021-12-15 06:19] dkeven commented on #9283
Ran into this same issue, only in my case it isn't only just startup, but also after the osd pod has been running for a while.

My environment is 6 nodes, each 24C/128G, and the resource utilization is very low, so it seems not like a resource pressure problem.

[2021-12-15 07:17] humblec commented on #7032
@Jiawei0227 you are correct, as the template changes were/are not in place, the admin has to create a configmap in the namespace of ceph csi pods in that name with the details. We should have it documented here though. By this issue we can get it addressed. thanks.

[2021-12-15 07:24] mikabytes opened #9430 "metadataDevice cannot be specified per node (or device)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Specifying a `metadataDevice` for a node in the cluster definition is ignored. No error occurs, OSDs are created without it.

If a `metadataDevice` is specified in cluster-level config then it will be used. Override does not work.

**Expected behavior:**
It should use the metadataDevice, as described i

[2021-12-15 07:41] mikabytes opened #9431 "host-based clusters can't have more than one OSD with metadataDevice"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Currently metadataDevice must be an LV due to [bug discussed here](https://github.com/rook/rook/discussions/7349).

This works as long as it's only one OSD in the node.

However, when 2 or more OSDs are in the system, ceph must have a partition in order to split it into LVs. An LV cannot be split furth

[2021-12-15 11:28] mikabytes opened #9432 "Can't mount PV: globalmount does not exist on node"
This seems to already be reported #7520 however with different version and author closed their issue.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I set up Rook, `ceph status` reports everything is fine, then create the [K8s Registry Sample](https://rook.io/docs/rook/v1.8/ceph-filesystem.html) (scroll down) from documentation.

I see in Lens tha

[2021-12-15 11:30] Madhu-1 commented on #9432
have you configured https://github.com/rook/rook/blob/master/deploy/examples/operator.yaml#L102-L103 Kubelet path to point to `/var/snap/microk8s/common/var/lib/kubelet`

[2021-12-15 11:36] mikabytes commented on #9432
@Madhu-1 Wow, I would never have found that on my own. Thanks, it works now!

[2021-12-15 11:36] #9432 closed

[2021-12-15 11:45] slow-zhang opened #9433 "helm upgrade failed after adding csi.pluginTolerations"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
added the toleration but helm upgrade failed

**Expected behavior:**
added and no error

**deploy cluster**

helm install rook-ceph-admin operator/rook-ceph --create-namespace --namespace rook-ceph-admin -f value.yaml
helm install rook-ceph cluster/rook-ceph-cluster --create-namespace --namespace rook-

[2021-12-15 11:46] slow-zhang commented on #9433
helm error msg
start
[code]

end
[code]

[2021-12-15 14:35] travisn commented on #9430
To override at the node or device level try adding it under the `config` section:
[code]

[2021-12-15 14:42] travisn commented on #9431
There are multiple limitations with the non-PV approach of creating OSDs. The recommended way to handle the complex metadata scenarios is to use the [storageClassDeviceSets that are backed by PVs](https://rook.github.io/docs/rook/v1.8/ceph-cluster-crd.html#dedicated-metadata-and-wal-device-for-osd-on-pvc). For bare metal, you can use a PV provider such as [TopoLVM](https://github.com/topolvm/topol

[2021-12-15 14:45] travisn commented on #9429
@kumabuchi What labels do you see on the osd purge pod? That query should work according to the label that is specified [here](https://github.com/rook/rook/blob/master/deploy/examples/osd-purge.yaml#L20-L21). In any case, another way to see the logs would be: `kubectl -n rook-ceph logs <pod>`

[2021-12-15 15:35] Jiawei0227 commented on #7032
I am also getting this:

[code]

Seems another thing to fix

[2021-12-15 15:55] Jiawei0227 commented on #7032
Seems it has been fixed in 1.8.0

[2021-12-15 17:31] travisn commented on #9433
This seems like a formatting issue with your value.yaml. Can you share that file that caused the upgrade to fail with the operator helm chart upgrade? The rook-ceph-cluster values.yaml should not be related, if it's the other chart upgrade that failed.

[2021-12-15 19:20] #9385 closed

[2021-12-15 19:26] travisn commented on #9373
@batrick To clarify, would the mon_mds_skip_sanity need to be set during upgrades if upgrading in the future from any previous Ceph to any future Pacific version greater than or equal to v16.2.7? For example, in the future what if someone upgrades directly from v16.2.4 to v16.2.9? Should Rook just always set the flag during the ceph upgrade to be safe?

[2021-12-15 19:30] bradtgmurray opened #9436 "Pods failing to start with "special device <path> does not exist" message"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Occassionally when rebooting pods we see the persistentvolumes fail to mount again with the message
`special device /var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-be08ad1c-8c22-4efa-afb2-c2151691bd95/globalmount/0001-0011-system--rook-ceph-0000000000000002-602245d9-be5a-11eb-ab28-ea5cc6d5c625 does n

[2021-12-15 20:02] #7808 closed

[2021-12-15 23:03] #9209 closed

[2021-12-16 01:57] slow-zhang commented on #9433
here is the operator helm file
[code]

[2021-12-16 03:31] y1r opened #9438 "Unable to start osd prepare job due to missing PSP capability"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Preparing OSD job cannot create pods due to PodSecurityPolicy. Following events are occuring:
[code]

I think adding `CAP_MKNOD` to `00-rook-priviledged` will solve the issue.

**Expected behavior:**
Preparing OSD pods are created.

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

[2021-12-16 04:07] kumabuchi commented on #9429
@travisn  As shown below, the job level was labeled, but the pod level was not.
[code]

By modifying `osd-purge.yaml` as shown below, I was able to add the label to pod as well and get the log using the command described in the document.
[code]

[code]

[2021-12-16 08:02] kumabuchi opened #9440 "Cannot remove a healthy OSD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
* I ran the following command to remove a healthy OSD on a PVC-based cluster, but the OSD pod is automatically restarted and cannot be stopped.

[code]

* After a short time...

[code]

* The Operator log is shown below.
  * The reconciling will not be triggered by editing the OSD deployment, but it ap

[2021-12-16 08:26] mikabytes commented on #9430
🤦‍♂️ I must be blind. Thanks!

Tried your suggestion and it works perfectly, both node and device levels are overridden as expected. I looked through the documentation again and it clearly states the keys should be in a config object.

For others who end up here, please see the complete code below. I'm specifying metadata volume for each OSD. Keep in mind that the metadata device has to be a physi

[2021-12-16 08:26] #9430 closed

[2021-12-16 08:28] mikabytes commented on #1663
`metadataDevice` must be placed in a `config` object, i.e. not a sibling to the `devices` key. See [this comment](https://github.com/rook/rook/issues/9430#issuecomment-995546886) for more information. The suggestion above might have been correct for an earlier version of Rook (I'm not sure), but for 1.8.0 it won't work.

[2021-12-16 08:39] mikabytes commented on #9431
Those are some very nice suggestions. I will evaluate TopoLVM and if all goes smooth I'll make a PR for the docs :+1:

Meanwhile, I did manage to get multiple OSDs per node to work with metadata devices today, thanks to your comment on my other issue #9430 , so I'll close this as it's no longer an issue for my host-based cluster.

[2021-12-16 08:39] #9431 closed

[2021-12-16 09:14] ITG001 opened #9442 "rbd error output: rbd: sysfs write failed"
[rook@rook-ceph-tools-6cccf8dc7b-gwfbz /]$ ceph status
  cluster:
    id:     d6ea27bf-589d-4cb1-ba29-e1533e352528
    health: HEALTH_OK

  services:
    mon: 3 daemons, quorum a,b,c (age 108m)
    mgr: a(active, since 107m)
    osd: 12 osds: 12 up (since 107m), 12 in (since 108m)

  data:
    pools:   2 pools, 33 pgs
    objects: 8 objects, 35 B
    usage:   86 MiB used, 24 TiB / 24 TiB avail

[2021-12-16 09:16] ITG001 commented on #9442
storageclass path :rook-1.8.0/deploy/examples/csi/rbd/storageclass.yaml

[2021-12-16 09:21] Madhu-1 commented on #9442
@ITG001 can you please check dmesg logs on the node where the map is failing?

[2021-12-16 09:33] ITG001 commented on #9442
Thank you for your reply
dmesg:
[91160.217139] IPVS: rr: TCP 192.168.34.238:3300 - no destination available
[91161.218584] IPVS: rr: TCP 192.168.34.238:3300 - no destination available
[91161.420622] IPVS: rr: TCP 192.168.34.238:3300 - no destination available
[91162.422495] IPVS: rr: TCP 192.168.34.238:3300 - no destination available
[91162.823489] IPVS: rr: TCP 192.168.34.238:3300 - no destinatio

[2021-12-16 09:42] zerkms opened #9443 "dataPool and metadataPool parameters are not propagated"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I have set

[code]

And apply it - the operator says the cluster was reconciled, but the min_size is not changed and still shows `replicated size 3 min_size 2` in `ceph osd pool ls detail`.

The corresponding properties for the `CephBlockPool` work fine

**Expected behavior:**

I think it should recon

[2021-12-16 09:47] sebastianriese commented on #9088
We've added a PR with a first draft of the design document: #9444.

[2021-12-16 09:48] brovoca commented on #9433
Aren't you missing the `key` in your array? Here's mine:

[code]

[2021-12-16 10:26] brovoca opened #9445 "Helm: CephFilesystem, CephObjectStore & CrashCollector doesn't respect tolerations and affinity in cephClusterSpec.placement.all"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

All pods are scheduled on nodes labeled `app=system` and tainted `CriticalAddonsOnly=true:NoSchedule` except for the CephFilesystem (`rook-ceph-mds-ceph-filesystem-a`, `rook-ceph-mds-ceph-filesystem-b`), CephObjectStore (`rook-ceph-rgw-ceph-objectstore-a`) & CrashCollector (`rook-ceph-crashcollector-a

[2021-12-16 14:57] kbmanseau commented on #9110
Thank you @BlaineEXE for the additional info. I am not sure what can be done to avoid this confusion by others in the future but thanks to everyone's help we resolved our issue.

For others that may be interested we did some qualification of the affects setting limits on these pods has on the cluster performance. The specs of our cluster:

- 3xnodes with 524GB of memory each
- Each node has 4 OSDs

[2021-12-16 14:57] #9110 closed

[2021-12-16 15:41] travisn commented on #9443
@zerkms Do you see any errors in the operator log? Please confirm the setting is applied in the CR by querying `kubectl -n rook-ceph get cephobjectstore -o yaml`. I suspect it isn't actually applied since the parameters are strings and the min_size value is an integer. So you may need to specify quotes like this: `min_size: "1"`, or maybe the indentation is just off.

[2021-12-16 15:46] travisn commented on #9440
Are the only Rook/Ceph pods on the node that one OSD and the crash collector? If so, I can see how the operator would see the OSD is scaled down, then delete the crash collector, then trigger a new reconcile, which would scale up the OSD again. To prevent this reconcile, you can scale down the operator until after you have purged the OSD.

[2021-12-16 15:54] Fizzadar commented on #9436
Further context on this, on the affected node's we're seeing log entries indicating a failure to connect to the rest of the ceph cluster - curl-ing these endpoints directly works fine both on the node and within the `rbdplugin` container:

[code]

[2021-12-16 15:55] travisn commented on #9445
@brovoca Try adding the placement settings to the [filesystem CR](https://github.com/rook/rook/blob/master/deploy/examples/filesystem.yaml#L53) and the [objectstore CR](https://github.com/rook/rook/blob/master/deploy/examples/object.yaml#L58). Agreed it would make more sense if `all` also applied to the separate CRs, but today `all` doesn't apply to those daemons.

[2021-12-16 16:53] #9373 closed

[2021-12-16 17:57] #9438 closed

[2021-12-16 21:05] zerkms commented on #9443
There were no errors.

And my apologies - in my infrastructure the yaml manifests are generated from templates, in template they are surely strings (otherwise it does not pass the crd validation), and I made a mistake when crafting an example for report.

So, yes, `CephObjectStore` in the API has those parameters applied, and no errors in the operator log and the values are indeed strings.

[2021-12-16 21:18] travisn opened #9452 "Multiple clusters in the same namespace should be prevented"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator is attempting to reconcile the cephcluster CRs even when defined in the same namespace. Rook has had a check for a long time to prevent this from happening, but the check must have been lost recently.

**Expected behavior:**
The operator should refuse to reconcile when there are multiple c

[2021-12-16 22:44] BlaineEXE commented on #9297
@leseb is this behavior expected? For external clusters, do we expect that users will create a service for the MDS or something?

[2021-12-16 22:56] BlaineEXE commented on #9244
Closing since this seems like it has been resolved now with #8452.

[2021-12-16 22:56] #9244 closed

[2021-12-16 23:08] BlaineEXE commented on #9320
I'm curious why nothing returned an error like "packet too big". It's my understanding that most networking hardware should understand how to split packets that are too big if they aren't configured for larger packets, or they should return a connection error.

[2021-12-16 23:44] onedr0p commented on #9324
Hi @leseb I run a 6 node cluster, 3 master and 3 workers (rook-ceph on workers) and I recently added taints to my master nodes. I noticed that the crash collector is still trying to run on on of the master nodes. I have tried your suggestion to disable and re-enable the crashcollector from the helm chart but after I re-enable crash collecter is still tries to create a pod on a master.

[code]

A d

[2021-12-17 00:04] travisn commented on #9443
@zerkms I was able to see the min_size set to 1 on the object store data pool with the following:
[code]

Do you see a message similar to this in the operator log?
[code]

[2021-12-17 02:03] zerkms commented on #9443
No

[code]

Perhaps it's a 1.7.7 bug which does not exist in 1.8.x may be then?

[2021-12-17 02:07] 1998729 opened #9454 "How to find my disk in rook and mount it automatically?"
hi I started the rook service in a k8s cluster, and during the first initialization, rook-ceph-osd-prepare worked successfully and found a usable disk and mounted it, but he did not automatically discover the new disk in the future.

[2021-12-17 02:08] 1998729 commented on #9454
![image](https://user-images.githubusercontent.com/88186802/146477111-b9c9b3ea-e4cb-49b6-9596-fcbdf7634a3f.png)

[2021-12-17 02:09] 1998729 commented on #9454
![image](https://user-images.githubusercontent.com/88186802/146477192-37ba5dc1-0840-4194-9b13-9ed010a98ea5.png)

[2021-12-17 02:28] satoru-takeuchi commented on #8245
I encountered the same problem and captured the operator's DEBUG log.

[operator.log](https://github.com/rook/rook/files/7731681/operator.log)

[2021-12-17 04:10] ghilman27 commented on #9283
I ran into the same issue, I guess it was caused by me running velero restore before all the rook component coming back online after a reboot. The symptoms were exactly the same as described before by @zestysoft, an OSD down and the `describe` command shows the pod seems to execute a command that doesn't exists (`admin_socket`). And because I'm using CephFS, one MDS pod was also down. So an OSD an

[2021-12-17 04:10] kumabuchi commented on #9440
Yes. If there are other pods on the node, such as other OSDs or MONs, the pod restart will not occur.

It worked fine. Thank you.

[2021-12-17 05:23] mmueen commented on #9320
Thats right. I was also expecting that MTU discovery process would ensure packet fragmentation but apparently it didn't.

[2021-12-17 07:33] zestysoft commented on #9283
Good eye -- that was a typo I made transposing from describe.  While I think this may be a red herring to the original issue of this thread, here's the liveness prob line from describe:
`Liveness:       exec [env -i sh -c ceph --admin-daemon /run/ceph/ceph-osd.0.asok status] delay=45s timeout=1s period=10s #success=1 #failure=3`

Here's me executing the correct command and what I get when the clus

[2021-12-17 07:56] arnesacnussem commented on #9283
@zestysoft @dkeven  you got that command failed because executing command via `kubectl exec` and liveness probe are bit different

if you got "error connecting to the cluster", you can try turn the command into this:  `k -n rook-ceph exec rook-ceph-osd-0-6b48dcbdc5-xx9kj --container osd -it -- env -iS 'ceph --admin-daemon /run/ceph/ceph-osd.0.asok status'`, notice the `env -i sh -c command -arg` t

[2021-12-17 08:59] slow-zhang commented on #9433
we have talked about this: https://rook-io.slack.com/archives/CG3HUV94J/p1639558423113700

[2021-12-17 09:53] brovoca commented on #9445
@travisn I've ended up patching it using Kustomize, as I want to avoid changing the defaults.

[2021-12-17 11:48] satoru-takeuchi commented on #9433
@slow-zhang I couldn't try your reproduce steps because your helm chart is unsure (I guess operator/rook-ceph directory and cluster/rook-ceph-cluster directory).

Instead, I tried to reproduce your problem with the plain v1.7.5 helm charts and it succeeded with no error.

[code]

I guess that there seems to be something wrong with your steps as @travisn said. I suggest you try my steps first and t

[2021-12-17 12:37] Rakshith-R commented on #8085
@laptimus , https://github.com/rook/rook/pull/8686 This is being proposed as a fix and is in progress.

This issue was caused when pod network was chosen as default for csi daemon pods and thus causing the trouble.

It would make more sense to open a fresh issue regarding multus setup.

[2021-12-17 12:37] Rakshith-R commented on #9436
hey @bradtgmurray @Fizzadar  , Do you have host Network: set to true ?
here
https://github.com/rook/rook/blob/97978b5d24da70572c76a5f9a8aa6e6ce68dba26/deploy/examples/operator.yaml#L38

refer https://github.com/rook/rook/issues/8085 for more details
This bug affected rook  v1.6.1 to 1.6.5

[2021-12-17 13:33] #9320 closed

[2021-12-17 13:48] leseb opened #9462 "Update statuses and/or record events when deletion is blocked"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Update the CR status, and optionally report an event for that CR if it is being deleted and the deletion is blocked due to the finalizer being present. The finalizer is not a problem since it prevents us from removing resources when they should not be. For example, if we try to remove a CephBlockPool b

[2021-12-17 13:49] bradtgmurray commented on #9436
Nope, we still have it commented out.

[code]

[2021-12-17 16:01] #8899 closed

[2021-12-17 16:24] travisn commented on #9440
Ok sounds like we can close the issue now, thanks.

[2021-12-17 16:24] #9440 closed

[2021-12-17 16:37] travisn commented on #9454
@1998729 You will need to enable the discovery daemonset, which is disabled by default. See the [discovery operator setting](https://github.com/rook/rook/blob/master/deploy/examples/operator.yaml#L328-L330).

[2021-12-17 19:27] travisn commented on #9443
Do you have a test cluster you could try v1.8.x? But I don't think this pool configuration has changed since 1.7.x so it seems like something else must be happening.

[2021-12-17 20:02] #8949 closed

[2021-12-17 21:02] zerkms commented on #9443
I'm going to upgrade to 1.8 in January everywhere :-)

I may close it now, and reopen when I try to reproduce again in case if it's reproducible on the latest stable version.

[2021-12-17 23:09] snagiel opened #9466 "Block storage mode results in RBD Read-Only file system error"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I provisioned a fresh AWS EC2 node running CentOS 7, EBS volumes, and the latest kernel (5.15), Docker, Kubernetes (1.22), Minikube, and Rook (1.8) releases. Following the provided sample manifests and documentation for block storage, I am able to bind storage (PVCs) for a sample application (e.g. MyS

[2021-12-17 23:14] snagiel commented on #9466
Worth noting: Following the thread from https://github.com/kubernetes-sigs/kind/issues/745, I likewise found that switching to CephFS allowed things to work (i.e. full R/W permissions). However, block storage is a more appropriate model for our use-case, and obviously the sample configurations/apps should work out-of-the-box...

[2021-12-17 23:54] onedr0p commented on #9324
The logs from the operator when I try to manually delete the deployment for that crashcollector

[code]

[2021-12-18 00:12] onedr0p commented on #9324
Operator logs after re-enabling the crashcollector in my helm values:

[code]

[2021-12-18 01:43] aronchick opened #9469 "Integrating IPFS?"
* Feature Request
Has anyone looked at integrating IPFS?

**What should the feature do:**
Ideally, there would be an IPFS provider, using the UnixFS feature, that would allow trivial read/write via UnixFS to the globally distributed filecoin network. (https://github.com/ipfs/go-unixfs)

**What is use case behind this feature:**
There are large and useful datasets on IPFS, and enabling native Kuber

[2021-12-18 17:26] adamcstephens commented on #8999
I'd like to second this. It's also a requirement for https://github.com/mittwald/kubernetes-replicator

[2021-12-18 18:35] travisn commented on #8999
@fritchie @adamcstephens Is it really just this one secret and configmap that needs the annotation? There are several other secrets and configmaps that are just basic configuration that likely don't need to be annotated.

What about a new category under annotations such as:
[code]

Then we could define exactly which configmaps/secrets make sense to be in that category.

[2021-12-18 20:02] #8498 closed

[2021-12-19 01:24] ghost opened #9470 "Do NOT install Rook in a Kind/k3os cluster(s) (it'll destroy your volumes)"
I was testing out rook in a `kind` cluster on my Linux laptop. I setup the CRDs and installed `cluster-test.yaml` last night. Today, I noticed that my drives started to behave weird (couldnt decrypt anymore, couldnt mount). I decided to reboot. My root volume and my other volume were converted into `ceph_bluestore` volumes, and therefore unmountable. Literally destroyed over 3TB of data.

A wild g

[2021-12-19 02:24] withernet commented on #9470
https://github.com/rook/rook/blob/master/deploy/examples/cluster-test.yaml#L43-L45

[2021-12-19 20:02] #7753 closed

[2021-12-19 20:23] craigminihan commented on #9165
@leseb I've reset and updated my configuration for 3 Linux and 3 Windows nodes. I added `cephClusterSpec.placement.all` with `nodeAffinity` set as above. I've noted issue #9445 which matches `rook-ceph-mds-ceph-filesystem-a`, `rook-ceph-mds-ceph-filesystem-b` and `rook-ceph-rgw-ceph-objectstore-a` behaviour, these are still placed on Windows nodes.

This time `rook-ceph-osd-0` thru 3 are placed on

[2021-12-20 04:43] Rakshith-R commented on #9436
@bradtgmurray , I'd suggest you please enable that option with lot of caution, you can read about the consequences of not enabling and upgrading to >=1.6.5 [here](https://github.com/rook/rook/issues/8085#issuecomment-859234755)

`Mounting command: mount
Mounting arguments: -t ext4 -o bind,_netdev /var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-be08ad1c-8c22-4efa-afb2-c2151691bd95/globalmount/000

[2021-12-20 06:57] clcc2019 opened #9471 "reraise_fatal: default handler for signal 6 didn't terminate the process"
<img width="1235" alt="image" src="https://user-images.githubusercontent.com/46099295/146724905-0ae6ec96-add5-4a4f-bcef-63ac0e57ad1d.png">

What is the reason for the error of mgr and osd?
<img width="1317" alt="image" src="https://user-images.githubusercontent.com/46099295/146725041-8d367e49-aa36-43aa-90d0-4af2f6121bae.png">

version 16.2.5

[2021-12-20 07:56] #9298 closed

[2021-12-20 07:57] #9429 closed

[2021-12-20 08:47] leseb commented on #9470
Hi @withernet, sorry about this, indeed we had similar reports in the past with Kind. Our dev env guide reflects this https://rook.io/docs/rook/v1.8/development-environment.html#minikube.
We would like to avoid such issues as much as possible and always encourage users to use virtual machines instead of testing directly on their machines.

By any chance, do you have the logs from the prepare job?

[2021-12-20 09:26] leseb commented on #9165
For the OSDs, did the prepare job run successfully?

[2021-12-20 10:56] leseb commented on #9297
We don't really support creating resources when the external mode is turned on. It is somewhat possible but the implementation has holes I think.
When external mode is enabled, it is more a producer/consumer relationship and rook does not create resources.

[2021-12-20 11:12] leseb commented on #9324
It looks like one mon is running on a master node:

[code]

So that's why the crash collector tries to run there.

[2021-12-20 11:15] leseb commented on #9471
Can we get the complete OSD crash log?

[2021-12-20 16:18] #9452 closed

[2021-12-20 18:50] withernet commented on #9470
Unfortunately I did not.  I do remember seeing in the web UI that there was 3.9TB available and I thought that was weird. But... both the volumes I had added up to about 3.9TB.

I also want to say that it was _all_ attached disks. It reformatted my NVMe root volume and my USB drive.

[2021-12-20 22:16] adamcstephens commented on #8999
@travisn I'm currently trying to annotate secret `rook-ceph-mon` and configmap `rook-ceph-mon-endpoints` for running benji backup in another namespace.

[2021-12-21 02:02] cangyin commented on #5941
@travisn I tried that config with no luck, unfortunately. this is my `toolbox.yaml`
[code]

[2021-12-21 05:19] clcc2019 commented on #9471
/home/jenkins-build/build/workspace/ceph-build/ARCH/x86_64/AVAILABLE_ARCH/x86_64/AVAILABLE_DIST/centos8/DIST/centos8/MACHINE_SIZE/gigantic/release/16.2.5/rpm/el8/BUILD/ceph-16.2.5/src/mon/MonMap.h: In function 'void MonMap::add(const mon_info_t&)' thread 7f8a74f7b080 time 2021-12-21T05:13:03.817927+0000
/home/jenkins-build/build/workspace/ceph-build/ARCH/x86_64/AVAILABLE_ARCH/x86_64/AVAILABLE_DIST

[2021-12-21 07:14] Rakshith-R commented on #9466
@nixpanic @Madhu-1 @humblec , Any clue on how to handle this issue?
I am not sure about this error (especially on first mount)
`rbd error output: rbd: sysfs write failed rbd: map failed: (30) Read-only file system`

[2021-12-21 07:20] cfuntis commented on #9471
we have the same issue in our production environment, running ceph version ceph/ceph:v15.2.13-20210526

**crash info:**

ceph crash info 2021-12-21T07:11:10.662566Z_2674a4f5-a84e-4474-8875-5b3ed8243b86
{
    "assert_condition": "abort",
    "assert_file": "/home/jenkins-build/build/workspace/ceph-build/ARCH/x86_64/AVAILABLE_ARCH/x86_64/AVAILABLE_DIST/centos8/DIST/centos8/MACHINE_SIZE/gigantic/rele

[2021-12-21 08:39] leseb commented on #5941
What's the issue with the current template?

[2021-12-21 08:45] cangyin commented on #5941
I am running a kubernetes v1.22.4 cluster, and deployed rook v1.8

this is my retry steps:
![image](https://user-images.githubusercontent.com/50256182/146899141-82ad4ea6-3ddd-42ea-83d9-4ef18569f01a.png)

my modifications to `toolbox.yaml` is annotated in the screenshot.

[2021-12-21 08:47] leseb commented on #9470
Is Kind aggregating the storage and presenting it differently somewhat?

Yes, that makes sense with `useAllDevices: true`.

[2021-12-21 08:53] leseb commented on #5941
The user is `rook` because this is the default user in the container image. See:
https://github.com/rook/rook/blob/7a4f3966c48fb9253c18d6958294249fdde22d76/images/ceph/Dockerfile#L33-L34

But what is the issue precisely? Thanks

[2021-12-21 08:57] cangyin commented on #5941
Just that I can't use `sudo` or `su` commands
![image](https://user-images.githubusercontent.com/50256182/146901063-ae038de4-d46c-49b7-b4a5-c01e9ae8e836.png)

Maybe I should turn to direct tools as @travisn suggested.

[2021-12-21 09:02] leseb commented on #5941
You can use `runAsUser: 0` in this case.

[2021-12-21 09:04] cangyin commented on #5941
@leseb Thanks! It works!

[2021-12-21 10:58] 1998729 commented on #9454
![image](https://user-images.githubusercontent.com/88186802/146918946-e723a32c-638c-4dac-acc2-8b27163b87dc.png)

I have set it to true in operator.yml, but I still don’t find out. The available size of my cluster is already very small, and the current status is warning

[2021-12-21 11:10] 1998729 commented on #9454
And I also tried to delete the ods pod of the current machine, but still to no avail

[2021-12-21 12:01] nixpanic commented on #9466
I guess that CentOS 7 does not allow `rbd map` to succeed, possibly due to SELinux. I am not sure what permissions are exactly required though...

[2021-12-21 12:27] snagiel commented on #9466
Thanks, @nixpanic. Is there a list of Linux distros that are tested/supported/recommended?

[2021-12-21 15:48] jgilfoil commented on #9132
Upon upgrading from 1.7.9 to  1.8.1, I'm encountering this issue as well.

**File(s) to submit:**

- Operator helm values used: https://github.com/jgilfoil/k8s-gitops/blob/8a947a6653757e00699396a52f3a16464a22b733/cluster/core/rook-ceph/helm-release.yaml
- Cluster helm values used: https://github.com/jgilfoil/k8s-gitops/blob/8a947a6653757e00699396a52f3a16464a22b733/cluster/core/rook-ceph/storage/he

[2021-12-21 17:24] #7036 closed

[2021-12-21 20:07] dimm0 commented on #2047
👀

[2021-12-21 21:00] jelmer commented on #3039
I'm consistently getting this error on one of my nodes - the prepare job won't even start:

failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "/rook/tini": stat /rook/tini: no such file or directory: unknown

from "kubectl describe pods -n rook-ceph rook-ceph-osd-prepare-....":

...
Containers:
  provision:
    Container ID:  docker:

[2021-12-22 10:21] bootc opened #9483 "Rook discover daemon cannot see any disks"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook `discover` daemon cannot see any disks.

**Expected behavior:**
Rook `discover` daemon should be able to discover available devices.

**How to reproduce it (minimal and precise):**
Rook 1.8.x now runs `discover` as non-root, which means it cannot correctly list available devices.

**File(s) to sub

[2021-12-22 10:31] ElkRom commented on #6233
Any updates?

[2021-12-22 17:04] BlaineEXE commented on #4896
It seems that users are having to disable host networking to get CSI working with host networking. But as @Madhu-1 pointed out "Running CSI daemonset pods on pod networking is not suggested as it's having another issue." @Madhu-1 would you mind linking or clarifying the issue using pod networking for users?

What are the risks of not using host networking, so users might better make their own deci

[2021-12-22 17:14] BlaineEXE commented on #9238
I am mostly referencing the ceph health detail reported.
[code]

Likely culprits for slow ops on osd.0 could be:
- the disk backing osd.0 is somewhat failed and should be removed
- networking to the node on which osd.0 is placed (assuming osd is alone on the node) may be configured improperly (doesn't match other nodes) or is failed somehow
- the node on which osd.0 is running is running low on CP

[2021-12-23 11:04] mayzyo opened #9486 "Object Bucket Claim stuck on pending"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Using any value other than **us-east-1** for region in StorageClass as shown in Object Store quick start documentation would result in the ObjectBucketClaim getting stuck on pending.
**Expected behavior:**
Using a value other than **us-east-1** will result in ObjectBucketClaim being bound. e.g. region:

[2021-12-23 22:24] rexagod commented on #9025
/assign

[2021-12-23 22:26] rexagod commented on #9025
@leseb I'm trying to pick something up to work on. Can you please assign me to this issue?

Thanks!

[2021-12-24 03:12] subhamkrai commented on #9025
done.

[2021-12-25 15:03] lhzw commented on #2047
![image](https://user-images.githubusercontent.com/17211510/147387867-bce2494a-9b6f-45f7-8734-87e64d16ee58.png)

[2021-12-25 20:02] #8551 closed

[2021-12-25 22:15] TroyDota opened #9487 "Provisioner Pods not created when using helm chart"
**Deviation from expected behavior:**
None
**Expected behavior:**
The provisioner pods to be created
**How to reproduce it (minimal and precise):**
Apply the helm charts.

The rook-csi pods are not created at all, the cluster is created and the osd pods are created and complete assigning the OSDs to the physical disks but the provisioners are never created. Perhaps I am doing something wrong?

[2021-12-26 16:16] ky-ma opened #9488 "MON Application inside POD don't appear to be binding to NAD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
whereabouts cluster IP is bound to MON pods, but Application doesn't seem to be binding to it.
Port 6789 and 3300

Quick test by lauching SSH using the same NAD and was able to SSH into it.

**Expected behavior:**
should be able to mount query cluster monitor from outside using the external IP of monti

[2021-12-27 06:53] olddriver4 opened #9493 "sgdisk "rook-discover" run without permission"
Running in rook-discover "sgdisk --print /dev/vdb" prompts that there is no root permission, and DaemonSet yaml needs to set "securityContext.runAsUser:0", otherwise I cannot automatically discover the hard disk ！

[2021-12-27 07:28] satoru-takeuchi opened #9494 "rgw: can not delete OBC when when trying to remove non-existent bucket"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Ceph's "remove bucket" API[1] returns ENOENT(NoSuchKey) when the target bucket doesn't exist. However, Rook expects NoSuchBucket here. Due to this problem, Rook always fails in the following code.

https://github.com/rook/rook/blob/90bea8a560355b829a257b5e1b0b44349c22f864/pkg/operator/ceph/object/buck

[2021-12-27 07:37] satoru-takeuchi commented on #9494
Please let me know if anyone has a good way to bypass this problem.

My ideas that I did not adopt:
- Analyze RemoveBucket()'s output: It's hard because go-ceph doesn't return a command log.
- Regard NoSuchKey(ENOENT) as "bucket doesn't exist": Ceph might return ENOENT when bucket exists.

The last resort is to use radosgw-admin command again.

[2021-12-27 09:24] jaywayjayway opened #9495 "OSD metadatadevice can support use udev path"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
[code]
**What is use case behind this feature:**

**Environment**:

[2021-12-27 09:44] TroyDota commented on #9487
It turns out that https://github.com/rook/rook/blob/f746b502e0e570732b65b252423c9c92aa6b8d76/pkg/operator/ceph/cr_manager.go#L218 this line never completes it blocks for ever

[2021-12-27 10:31] fengjiankui121 opened #9496 "The reason for the rook prepare job exception is unclear."
**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`
When pasting logs, always surround them with backticks or use the `insert code` button from the Github UI.
Read [Github documentation if you need help](https://help.gith

[2021-12-27 10:33] #9496 closed

[2021-12-27 10:33] fengjiankui121 opened #9497 "The reason for the rook prepare job exception is unclear."
**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`
When pasting logs, always surround them with backticks or use the `insert code` button from the Github UI.
Read [Github documentation if you need help](https://help.gith

[2021-12-27 10:34] #9497 closed

[2021-12-27 10:34] fengjiankui121 opened #9498 "The reason for the rook prepare job exception is unclear."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

rook prepare-job failed to update configmp during the process of creating osd, but there was no specific information that caused the exception in the exception information.

The code is as follows:
'''rook\

[2021-12-27 10:38] fengjiankui121 opened #9499 "rook-discovery should not put disks that can be used to create osd in configmap"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

rook-discovery should put the disks that can be used to create osd in the configmap to avoid the deletion and addition of some disks that cannot be created to cause the operator to start

 To get logs, use

[2021-12-27 12:43] TroyDota commented on #9487
I applied a dirty hack here, https://github.com/SevenTV/rook to get around the bug issue.

[2021-12-27 14:51] parth-gr commented on #9498
Is the next update was successful?
this code is used to retry the update status process, can you also log the `exception log : 2021-12-13 03:00:30.263088 E | op-osd: failed to set node "master4" status to "completed" for osd orchestration.  ` error message after this?

And what version of rook you are in?

[2021-12-27 15:01] parth-gr commented on #9487
Can you provide the operator logs?

And on which rook version you are using?

[2021-12-28 02:00] satoru-takeuchi opened #9500 "core: support priorityClass to crashcollector pods"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Support `priorityClass` to crashcollectos as mons, mgrs, and osds.

https://rook.io/docs/rook/v1.8/ceph-cluster-crd.html#priority-class-names-configuration-settings

**What is use case behind this feature:**

Applying high priority to crashcollectors to preempt normal pods under heavy load. Without thi

[2021-12-28 02:14] 1998729 opened #9501 "the discovery service did not discover my disk and ignored it"
I have enabled the daemonset function according to the disk discovery mechanism, and the service is running normally, but there is obviously a new disk on my current machine and it has not been initialized, but he always does not mount it for me

![image](https://user-images.githubusercontent.com/88186802/147520249-3362fbc2-f73f-4c90-8cd5-7490aaa4cafb.png)

[2021-12-28 02:14] 1998729 commented on #9501
![image](https://user-images.githubusercontent.com/88186802/147520276-1fe5fd04-439d-4c14-a985-7eab8388e3df.png)

[2021-12-28 02:15] 1998729 commented on #9501
![image](https://user-images.githubusercontent.com/88186802/147520347-8d9c6253-6e79-429b-9e02-f2bdde5b0f55.png)

[2021-12-28 02:19] 1998729 commented on #9501
![image](https://user-images.githubusercontent.com/88186802/147520598-b395c988-0a50-4a1c-b50d-68611b76df05.png)

[2021-12-28 02:37] satoru-takeuchi commented on #9500
I overlooked this PR. Sorry for noise.

https://github.com/rook/rook/pull/9044

[2021-12-28 06:01] slow-zhang commented on #9433
it's hard to get the steps to reproduce it for the cluster had been created for several months.

[2021-12-28 06:02] slow-zhang commented on #9433
is there some useful info for me to provide like describe pod/cluster

[2021-12-28 07:24] satoru-takeuchi commented on #9433
@slow-zhang Unfortunately I have no idea. How about comparing your helm chart with the official chart to find the root cause of massive helm upgrade errors?

[2021-12-28 13:49] ttonyh commented on #9471
Having the same problem as the others on this issue; OSD pod keeps restarting.

Is there a way to fix or restore the pod?

[2021-12-28 20:02] #9017 closed

[2021-12-29 07:50] qkfrksvl opened #9505 "ceph-mon-a pod is trying to get wrong IP address when host network was enabled."
****Is this a bug report or feature request?****
* Bug Report

****Deviation from expected behavior:****
ceph-mon-a pod is trying to get a pod network, not a host network.

****Expected behavior:****
host network ip address will be assigned

**How to reproduce it (minimal and precise):**

when I configure the network provider to host in cluster.yaml then apply, the only one mon(a) did try to get p

[2021-12-29 07:56] qkfrksvl commented on #9505
ceph-mon-a pod information is corrected with public ip address.
![image](https://user-images.githubusercontent.com/86870268/147639769-bc670e1f-992b-4848-af9c-e061dff5a575.png)

[2021-12-29 08:01] qkfrksvl commented on #9505
also checked that whether host where ceph-mon-a pod running already use monitor pod port 3300, 6789
![image](https://user-images.githubusercontent.com/86870268/147640192-ab32f3e9-ef42-48b1-a900-2bd018fbd9db.png)

[2021-12-29 08:04] qkfrksvl commented on #9505
correct ip address that mon-a suppose to use is assigned to host interface.
![image](https://user-images.githubusercontent.com/86870268/147640479-fac94567-ea96-4d45-acb0-4167671e6037.png)

[2021-12-29 11:34] SerialVelocity commented on #5296
Haven't had time to try reducing the general memory limit yet

[2021-12-29 13:12] mhaddon opened #9506 "rook-ceph-osd - CrashLoopBackOff (unhelpful error)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
rook-ceph-osd's do not crash

**How to reproduce it (minimal and precise):**
I am just installing a new clean cluster, no previous data
I am installing the operator with the default helm values
The underlying node has llvm2

**File(s) to submit**:

* Cluster CR:
[code]

* Operat

[2021-12-29 15:29] qkfrksvl opened #9507 "How can I configure multiple metadata devices ?"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

**What is use case behind this feature:**

**Environment**:

As far as I know, cluster crd does not allow the array value on storage.metadataDevice.
In my case, my server has 2 nvme disks and 8 ssd disks so then I need to use 2 nvme as metadata devices.

[2021-12-29 17:16] craigminihan commented on #9165
@leseb the OSD issue was likely due to memory pressure causing the pods to be evicted. This is probably due to the `rook/ceph` image size (~1.27GB) causing the node to allocate disk cache and reducing free memory. I'm not sure why the node sees this as low memory tho.

The good news is I can now run `rook/ceph` 1.8.1 on 1.23.1 and all the deployments, daemonsets and jobs are scheduled on the Linux

[2021-12-30 00:07] jbw976 opened #9508 "Sunset and close the rook-dev forums"
As discussed in the [Dec 14 2022 community meeting](https://docs.google.com/document/d/1exd8_IG6DkdvyA0eiTtL2z5K2Ra-y68VByUUgwP7I9A/edit#heading=h.dyaekoir5r4l), it makes sense to sunset the rook-dev forums (google group).

Link to group: https://groups.google.com/g/rook-dev

We discussed that the activity is quite low and we should be promoting Slack and Github in an effort to consolidate the pla

[2021-12-30 11:18] mayank-reynencourt commented on #6183
Hi ,

i'm also facing this same issue when i import external ceph (16.2.6) inside rke2(1.22.4) rook version (v1.8.1) , OS Verion Ubuntu 20.04 and also disabled ufw on all rke2 nodes and external ceph nodes.

[code]

i can provide more details if you want to.

[2021-12-30 17:39] mayank-reynencourt commented on #6183
Hi,

Related to above issue my observation was like below:

I can successfully create PVC if i create CephFS filesystem (volume) directly from external ceph cluster using below command
[code]

but

When i use below [filesystem.yaml](https://github.com/rook/rook/blob/v1.8.1/deploy/examples/filesystem.yaml) file to do the same thing but via rook i got same error i described in this [link].(https://g

[2021-12-31 21:47] dimm0 commented on #4999
👀

[2022-01-01 16:47] kolovo opened #9509 "Create s3 buckets with predefined credentials"
**Feature Request**
Allow the creation of s3 buckets with predefined credentials(AWS_ACCESS_KEY_ID , AWS_SECRET_ACCESS_KEY)

**What should the feature do:**
When creating an s3 bucket via objectbucketclaim or objectbucket it should be allowed to the end user to manual add AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY credentials

**What is use case behind this feature:**
Right now with the current imple

[2022-01-01 20:02] #9024 closed

[2022-01-01 20:02] #9022 closed

[2022-01-03 09:32] leseb commented on #9488
It's normal since monitors are using service IPs and these are not supported by Multus. So the NAD is attached but the daemon still binds to the internal/default SDN address. Once Multus supports kube-services we will change that. I'll send a PR to clarify this in the documentation.

[2022-01-03 10:03] mayank-reynencourt commented on #6183
Hi @Madhu-1 , what will be to solution for this , do we need to remember that don't create FS with same using CR,

or we can expect a fix on this?

[2022-01-03 11:25] leseb commented on #9506
For crashes like this please directly open an issue on the ceph project https://tracker.ceph.com/. Thanks!

[2022-01-03 11:25] #9506 closed

[2022-01-03 12:10] ghabarid opened #9513 "External cluster - Objectstore can t detect the CEPH Image version"
We have an external Ceph cluster, which is created with ROOK operator. We have created a "client" rook/ceph cluster that connects to that external cluster.
Things worked fine under:
ROOK version: 1.7.9
Ceph version: 16.2.5
We could create pv/pvc volumes and buckets and objestusers.

After upgrading to
ROOK version: 1.8.1
Ceph image: quay.io/ceph/ceph:v16.2.7-20211208
the RBD work fine, we still ca

[2022-01-03 13:34] ghabarid commented on #9513
It seems that in the cephcluster we have to specify the ceph image version, just like the following:
cephVersion:
      image: quay.io/ceph/ceph:v16.2.7-20211208
This was not "necessary" in older versions.
I would suggest that this field should be mandatory.
Thx.

[2022-01-03 13:43] leseb commented on #9513
Thanks, the field cannot be mandatory since not everyone deploys rgw/mds in the Kubernetes cluster. Most of the users are connecting to the external cluster and just consuming what's available. In this scenario, the image field is not mandatory.
I'm closing this since the issue is now fixed. Thanks.

[2022-01-03 13:43] #9513 closed

[2022-01-03 13:49] leseb commented on #9507
I don't think this is supported today. However, if you had the NVMe and SSDs as PVs you can use the cluster-on-pvc.yaml example or even take inspiration from https://github.com/rook/rook/blob/master/deploy/examples/cluster-on-local-pvc.yaml. Then you will have all the flexibility you need to deploy on both NVMe, they will need to be partitioned **beforehand**.

[2022-01-03 13:55] leseb commented on #9501
This is probably a duplicate of https://github.com/rook/rook/issues/9493.

[2022-01-03 13:55] leseb commented on #9501
Which Rook version are you running on?

[2022-01-03 14:12] leseb commented on #9505
Please share the mon pod spec too. Also the op logs are truncated so it's missing some important logs.

[2022-01-03 14:17] leseb commented on #9499
Can you describe a bit more the problem?

[2022-01-03 14:23] leseb commented on #9494
Yes, go-ceph just returns whatever the API returns. https://github.com/ceph/go-ceph/blob/0e3ed2982fed0628efab22238ad91e7be9b39dd9/rgw/admin/errors.go#L121

Why not use `errors.Is(err, admin.ErrNoSuchKey) || errors.Is(err, admin. ErrNoSuchBucket){` for this special case? It's not 100% accurate but better than using the radosgs-admin CLI again...

[2022-01-03 14:30] leseb commented on #9483
Probably a dup of https://github.com/rook/rook/issues/9493

[2022-01-03 14:39] ghabarid commented on #9513
OK.
I would suggest working on a better message/event on the cephobject that gives more guides of the problem. Not just as warning.

[2022-01-03 14:50] leseb commented on #9471
Sorry, I'm not sure what's causing this failure. To take this further I would suggest opening an issue on the ceph project directly https://tracker.ceph.com/. Thanks.

[2022-01-03 14:50] #9471 closed

[2022-01-03 14:53] leseb commented on #9165
@craigminihan glad to see it is working now.

Do you think this is something you could send a PR for? Thanks

[2022-01-03 20:02] #9043 closed

[2022-01-03 20:02] #8062 closed

[2022-01-03 20:02] #5026 closed

[2022-01-04 08:16] Madhu-1 commented on #6183
@mayank-reynencourt if you are creating filesystem using Rook CRD you should expect Rook to create the filesystem. please check rook operator logs and filesystem CR -oyaml for more details.

Yes if the filesystems are not created using Rook CRD the admin is expected to create the filesystem manually before creating the PVC.

[2022-01-04 09:23] mayank-reynencourt commented on #6183
@Madhu-1 , thanks for your reply , i'm still facing issue where my rook can create cephfilesystem on external ceph using CR but PVC is in pending state(Error: Connection timed out: "error calling ceph_mount"),

[code]
 little help will be appreciated

[2022-01-04 09:29] Madhu-1 commented on #6183
can you paste the cephfileystem CR -oyaml output and also the `ceph fs ls` output from the toolbox pod?

[2022-01-04 12:36] 2like opened #9514 "rbd: sysfs write failed rbd: map failed: (95) Operation not supported"
**Is this a bug report or feature request?**
* Bug Report
I follow quickstart document to create mysql.yaml,exception:

MountVolume.MountDevice failed for volume "pvc-021d828d-19e5-445a-8c8e-bef914b025fd" : rpc error: code = Internal desc = rbd: map failed with error an error (exit status 95) occurred while running rbd args: [--id csi-rbd-node -m 10.109.238.11:6789,10.96.238.208:6789,10.103.168.93

[2022-01-04 12:45] subhamkrai commented on #9514
@2like please use the issue template for opening an issue. Thanks

[2022-01-04 12:49] satoru-takeuchi commented on #9494
I'll check whether it's really safe. I'm afraid of the possibility of disaster when the target bucket exists but Ceph returns ENOENT(ErrNoSuckKey).

[2022-01-04 13:09] 2like commented on #9514
I use direct-mount.yaml, create pool->create image->map。then error is same。

[2022-01-04 13:11] Madhu-1 commented on #9514
check dmesg logs on the node or in direct-mount pod for more details.

[2022-01-04 13:17] 2like commented on #9514
*dmesg logs in direct-mount *
[4930416.784419] IPv6: ADDRCONF(NETDEV_UP): eth0: link is not ready
[4930416.793570] cni0: port 12(veth890358bd) entered blocking state
[4930416.793577] cni0: port 12(veth890358bd) entered disabled state
[4930416.793693] device veth890358bd entered promiscuous mode
[4930416.793766] cni0: port 12(veth890358bd) entered blocking state
[4930416.793770] cni0: port 12(veth8

[2022-01-04 13:21] mayank-reynencourt commented on #6183
Hi @Madhu-1 ,

please fine below `ceph fs ls` output from toolbox container and here is the link for [filesystem.yaml](https://github.com/rook/rook/blob/v1.8.1/deploy/examples/filesystem.yaml) i deployed

[code]

[code]

[code]

[2022-01-04 13:29] 2like commented on #8451
how to slove?

[2022-01-04 13:40] parth-gr commented on #9387
@leseb I was not able to reproduce this type of behavior,

I verified it using printing S5CMD args used in [Dockerfile](https://github.com/rook/rook/blob/master/images/ceph/Dockerfile).

Added an extra step that prints the S5CMD_ARCH & S5CMD_VERSION:
[code]
I got the correct variable data output.

@manjo-git  request you to provide more information if you still face it, and can you provide the out

[2022-01-04 13:47] leseb commented on #9513
Please elaborate on what you would like to see clarified.

[2022-01-04 13:55] mayank-reynencourt commented on #6183
@Madhu-1 , also below command hangs on external ceph cluster as well as from toolbox
[code]

i tried with CNI:calico and with default CNI: canal, in both cases its stuck

[2022-01-04 16:12] subhamkrai commented on #9445
@brovoca changing across multiple CR from one CR(cephCluster) is not good practice, in past, we tried to merge/change a few placements we had multiple follow-up issues. I would suggest using a specific CR for placement and close this issue. Thanks.

[2022-01-04 16:53] #9483 closed

[2022-01-04 16:53] #9493 closed

[2022-01-04 16:53] #9501 closed

[2022-01-04 17:59] BlaineEXE commented on #9082
I'm not so sure the CephCluster CRD is the best place to set custom prometheus metrics for Rook. Maybe it was a design flaw initially that Rook deployed Prometheus rules. I think it's good for Rook to have recommended rules (as examples or docs) that go pair with Ceph, but I'm not sure it's Rook's place to have such a tight coupling between Ceph and Prometheus by actually deploying and managing th

[2022-01-04 18:01] travisn commented on #9445
While we could choose to merge the placement across CRs since the cluster CR is considered the parent for all the other CRs in the namespace, beyond the implementation concern, it could also cause duplicate merges if we now implemented this feature and existing clusters had already specified the affinity/tolerations in the filesystem and object CRs.
@brovoca You have it working with the current ap

[2022-01-04 18:02] BlaineEXE opened #9519 "Override mds startup/liveness probes from CephFilesystem CR, not CephCluster CR"
Rook code allows overriding the probes for `mds` from the CephCluster, but this should really come from the CephFilesystem CR.

[2022-01-04 18:03] #9401 closed

[2022-01-04 18:43] travisn commented on #9519
Does this issue only affect mds, or also rgw?

[2022-01-04 20:01] BlaineEXE commented on #9519
Just MDS. Satoru fixed this for the RGW some time ago.

[2022-01-04 20:52] travisn commented on #9005
This would be resolved by #9503, which is in progress

[2022-01-04 21:41] travisn commented on #4999
Oh i missed this question earlier... The storageClassDeviceSet will create one OSD per db/wal/data device combination, so you no longer need to share the metadata devices with multiple OSDs. See the [storageClassDeviceSet examples in the docs](https://rook.github.io/docs/rook/v1.8/ceph-cluster-crd.html#using-storageclassdevicesets).

In the cloud environments this is simple since the devices can b

[2022-01-04 21:53] BlaineEXE commented on #9509
Currently, the lib-bucket-provisioner library used to provide functionality for ObjectBucket{,Claims} is not in active development, and they are not taking new features unless they are critically necessary. As a replacement for lib-bucket-provisioner, Rook will be integrating with Container Object Storage Interface (COSI) as soon as we can once COSI is available: https://github.com/kubernetes/enha

[2022-01-04 21:57] BlaineEXE commented on #9509
Closing this as a wontfix since there is a way to accomplish cross-namespace access currently and with the upcoming COSI designs.

[2022-01-04 21:57] #9509 closed

[2022-01-05 06:12] slow-zhang commented on #9433
plan to check it in next week

[2022-01-05 08:32] subhamkrai commented on #9066
@leseb go-ceph 0.13 is out should we re-run #9058?

[2022-01-05 09:16] leseb commented on #9066
Yes we can give it a try.

[2022-01-05 14:51] travisn commented on #9132
Discussing with @leseb, we cannot repro in the latest master, it may be fixed from #9384 with v1.8.2 (targeted for tomorrow).

[2022-01-05 15:10] parth-gr commented on #9495
I see we already have this functionality added by this PR https://github.com/rook/rook/pull/6696,
Just this needs to document.

@leseb @travisn?

[2022-01-05 15:45] leseb commented on #9495
@jaywayjayway the issue is unclear, is it a question? A request for a feature? Like @parth-gr mentioned it looks like it's there already. If there is a bug let's describe what the issue is, by providing logs.

[2022-01-05 19:16] dimm0 commented on #4999
Interesting! Got it, thanks!

[2022-01-05 19:16] #4999 closed

[2022-01-06 04:32] jclab-joseph opened #9532 "Create OSD deployment before update."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Create OSD deployment before update.

**What is use case behind this feature:**

1. There were 3 OSDs. & The pool's replicas are 3, and min_size is 2.
2. One of the OSDs died and became unusable.
3. So I changed CephCluster to add new OSD.
4. But I get the error below and I can't create a new OSD.
(OSD

[2022-01-06 06:35] 2like commented on #9442
Has the issue been solved? I have the same issue.

[2022-01-06 10:21] 2like commented on #9514
OS is CentOS 7.5, kernel upgrade to 5.15.13。problem solved

[2022-01-06 10:22] #9514 closed

[2022-01-06 11:29] parth-gr commented on #9532
`last error: deployment rook-ceph-osd-0 cannot be stopped:` why the other OSDs are stopping, doesn't seem like they are updating,

Can you describe your problem a little more, what you did for adding new OSD, why other OSD are stopping,
I may guess updating would be given precedence when we need to retain our data from the lost devices, instead of adding a new disk.
And also plz share the logs of

[2022-01-06 11:30] parth-gr commented on #9519
@BlaineEXE can I work upon this?

[2022-01-06 11:54] c-yco commented on #9182
I can reproduce that dashboard settings are not applied all as they should from the cluster cr:
[code]

In ceph toolbox:
[code]
Therefore the dashboard is not available as no cert is configured, but tls is enabled.

My complete helm chart value is here: [https://github.com/c-yco/k3s-homecluster/blob/ee5f4ccced9d2c340d75cc21b0c79d6ded8b54ee/cluster/core/rook-ceph/cluster/helm-release.yaml]

Cluster

[2022-01-06 13:21] leseb commented on #9519
Go for it.

[2022-01-06 13:42] parth-gr commented on #9422
[code]

I can see `hdd: ,{"id":"/dev/disk/by-id/wwn-0x5000c500d5eecfe4","storeConfig {"osdsPerDevice":1,"deviceClass":"hdd","primaryAffinity":"0"}},`

`sdd: {"id":"/dev/disk/by-id/wwn-0x500a07512d76fe8c","storeConfig":{"osdsPerDevice":3,"deviceClass":"ssd","primaryAffinity":"1"}}],`

in prepare OSDs pod logs, Which seems they are assigned with correct primaryAffinity.

Can you please share the ope

[2022-01-06 15:55] travisn commented on #9532
@jclab-joseph To disable the checks for healthy OSDs during upgrade, set the `skipUpgradeChecks: true` in the cluster CR. This is not enabled by default to avoid upgrading if the cluster is in a bad state.

[2022-01-06 20:02] #4807 closed

[2022-01-07 00:23] jclab-joseph commented on #9532
@parth-gr I changed placement while adding osd to CR. So osd update was triggered.
rook image version is `rook/ceph:v1.5.11`.

@travisn Currently, if even one OSD dies, downtime is caused by min_size.
So Wouldn't it be better to do something like the following instead of changing skipUpgradeChecks?

1. The rook-ceph-operator first creates a new OSD.
2. (ceph itself duplicates the degraded object t

[2022-01-07 02:34] longtian commented on #9470
😿  same problem last year on my desktop. I lost all ext4 drivers while NTFS drivers remain untouched

[2022-01-07 02:35] withernet commented on #9470
Finally, independent confirmation ;)

[2022-01-07 03:56] jaywayjayway opened #9542 "OSD based VG/LV create ERR"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD lv_tags is NULL. create osd error
[code]
### summay
the `sdb` is clear, I use `if=/dev/zero of=/dev/sdb     bs=1M count=100 oflag=direct,dsync` and `sgdisk --zap  /dev/sdb`

device in  cluster.yml
[code]

`osd-prepare` logs show， it just create vg and then skipping (dm-0)
[code]

**Expected behavio

[2022-01-07 04:59] subhamkrai commented on #9542
can you share complete logs, above logs indicates that it is skipping sda1 and nvme due existing filesystem
[code]

[2022-01-07 05:31] dimm0 commented on #8726
I'm hitting this as well on an existing cluster which worked fine before the upgrade. In several pools 1 OSD prepare is failing with this error.

[2022-01-07 06:30] jaywayjayway commented on #9542
[code]

@subhamkrai  as show :
I can  confirm `sdb`   clear  (no pv/vg/lv ) before  restarting  rook-ceph-operator 。

[2022-01-07 06:41] subhamkrai commented on #9542
`2022-01-07 03:31:51.847082 I | inventory: skipping device "sdb" because it has child, considering the child instead.`
The error looks similar to this https://github.com/rook/rook/issues/7113 did you look at this issue?

[2022-01-07 08:10] hackaholic opened #9543 "ceph device ls show no output"
**Is this a bug report or feature request?**

* Bug Report

**Bug Report**

**Expected behavior:**
Should list all disk devices

**Deviation from expected behavior:**
Empty output
**How to reproduce it (minimal and precise):**

lsblk output from ceph node:
[code]

vda4 is used by osd

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary

* Operator'

[2022-01-07 08:20] nixpanic commented on #9466
For ceph-csi testing, we use CentOS-8. I think other users deploy with (recent versions of?) Ubuntu as that is sometimes mentioned in bug reports.

[2022-01-07 09:18] jaywayjayway commented on #9542
@subhamkrai  https://github.com/rook/rook/issues/6865  it look like as me , but maybe not  be solved.

[2022-01-07 09:22] subhamkrai commented on #9542
@leseb @travisn can help here

[2022-01-07 09:25] jaywayjayway commented on #6865
I also met it      :(   . How to fix it ?

[2022-01-07 09:38] nelson3219 opened #9544 "Cannot create ObjectStore with external cluster management in rook 1.8.X with Ceph 15.2.15"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Ceph-object-controller is not able to create ObjectStore. Instead it is stuck with the follwing error message:
`ceph-object-controller: failed to reconcile CephObjectStore "rook-ceph-external/object-store". waiting for ceph monitors upgrade to finish. current version: 15.2.15-0 octopus. expected versi

[2022-01-07 09:59] jmolmo commented on #9182
I think that it does not work because in k3s the port 8443 is used:
https://rancher.com/docs/rancher/v2.5/en/installation/requirements/ports/#commonly-used-ports

Using another port must work, as @travisn has pointed in his [comment](https://github.com/rook/rook/issues/9182#issuecomment-971838357)

@c-yco : can you verify that dashboard works using:
[code]

and:
[code]

[2022-01-07 19:05] travisn commented on #9542
So the issue is that sdb is not being used? It does look like you zapped it so it is clean, but not sure what's happening. You already followed the cleanup guide to [zap the disk](https://rook.github.io/docs/rook/v1.8/ceph-teardown.html#zapping-devices)?

[2022-01-07 19:13] travisn commented on #9532
Agreed that ideally the operator would create new OSDs before getting stuck updating existing OSDs, which perhaps could otherwise get into a healthy state if the new OSD was created first. The reality is that the OSD reconcile is a complex process so I don't expect that to change anytime soon.

Another option is to reduce min_size to 1. This can be done on the pool with:
[code]

[2022-01-07 20:02] #7862 closed

[2022-01-09 20:02] #8980 closed

[2022-01-10 02:51] subhamkrai commented on #8999
@adamcstephens @fritchie one question, we don't need to merge these annotations with `annotation.all` [this](https://github.com/rook/rook/blob/master/deploy/examples/cluster.yaml#L164) which are basically annotations for pods. right?

[2022-01-10 02:54] adamcstephens commented on #8999
@subhamkrai correct, this request is only to add them for secrets and configmaps

[2022-01-10 06:21] thotz commented on #9486
This may be related to https://github.com/rook/rook/discussions/9142

[2022-01-10 06:29] mayzyo commented on #9486
Yup, I think this is the same issue as in the discussion.

Would it be possible to add a comment in the quick start guide or examples to not mess with it? It was just not mentioned anywhere to leave it alone. The error was cryptic and it took hours to figure out this was the reason Object Store wasn't working for beginner :/

[2022-01-10 06:52] thotz commented on #9494
Sorry, I am a bit confused here. If RGW is sending `ENOENT` instead of `ERR_NO_SUCH_BUCKET` for bucket delete, then it is a bug in RGW, right?

[2022-01-10 07:36] crdnl commented on #9470
Leaving my mark here.

Environment: Bare Metal + `k3os`
Spun up a new instance, applied MetalLB, and

[code]

Went to go grab a drink from the fridge and chat with the fiancee. Came back to the console (iDRAC) spitting errors that k3s couldn't log to /var/log/.

Rebooted and got the grub screen.

@withernet Can you modify the title a bit to be specific to `useAllDevices: true `? Seems like this is

[2022-01-10 08:20] subhamkrai commented on #9470
@crdnl sorry to hear that.
Regarding adding `deviceSelector`, we have field `deviceSelector` which accept regex. See [this](https://github.com/rook/rook/blob/master/design/ceph/cluster-update.md#supported-fields). Did you look at that?

[2022-01-10 08:40] crdnl commented on #9470
@subhamkrai

Thankfully, it was a dev cluster so there wasn't anything on it (yet). I did add a `devices` block to my `nodes` config.

I was more-so referencing modifying the provided sample file (in deploy/examples/) to _not_ use `useAllDevices: true` by default, but set it to something sane like adding a default device selector.

---

As for why it happened, I did some digging through my prepare

[2022-01-10 09:20] jmolmo commented on #9182
@skycyan :Have you verified if using a port different from 8443 it works? (need to explicitly set the port in the CRD, if you do not set it, the default is 8443)

[2022-01-10 11:09] brovoca commented on #9445
@travisn Yes, the current approach is working, but it's inconvenient. I would prefer to keep this dialogue open for a little while to see what can be done.

The question which must be asked is; Should everyone have to patch using Kustomize if they don't want to maintain their own CR? Setting the affinity/tolerations for the MDS is an important thing considering the high load of the service. One is

[2022-01-10 13:18] setiseta commented on #9487
same here. after the upgrade from the operator v1.7.10 to 1.8.2 the csi daemonsets are gone.

I'm now back to 1.7.10.
It happened only on 1 of 3 installations.

[2022-01-10 15:12] #9192 closed

[2022-01-10 15:14] travisn commented on #9487
@TroyDota @setiseta You have [enabled the csi driver(s) in the values.yaml](https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph/values.yaml#L58-L59), right? This is the default so I assume so. Please do provide the rook operator log. The links above for the workaround give a 404.

[2022-01-10 15:35] setiseta commented on #9487
yes the csi drivers are enabled by default, and was not changed.
since I'm gone back to 1.7.10, i have not saved the operator log.
I will do the update again later and provide the logs.

[2022-01-10 16:11] CO-lhageman opened #9551 "Security: Use subvolumegroups instead of new cephfs instances in scenario with external cluster"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
In a scenario with a single external Ceph cluster and n K8s clusters, you should be able to use a single CephFS with n subvolumegroups instead of n CephFS instances with one subvolumegroup ("csi") each.

**What is use case behind this feature:**
Creating multiple CephFS instances requires a lot of pools

[2022-01-10 16:46] TroyDota commented on #9487
The only thing i changed in the yaml was the placement of nodes and drives.
I too reverted back and the CSI driver was created successfully.
The work around I did was to call the function (that created csi driver daemon set) manually 20s after the operator pod had started.

I also redid my ceph cluster and no longer have the operator logs from the previous attempt at 1.8.2, i am currently running

[2022-01-10 17:59] travisn commented on #9487
Did you by chance try restarting the operator to see if it would create the csi driver after that? Anyway, looking forward to the operator logs next time it repros, thanks.

[2022-01-10 18:01] TroyDota commented on #9487
I did, i thought it was strange so i restarted the operator and also then deleted the helm deployment and tried to redeploy. (i also removed the ceph folder on each host machine if it was present)

[2022-01-10 18:18] c-yco commented on #9182
Rancher != K3s

But still a port in pod should never collide with the used ports on the node (unless you use nodeport, which I dont)

Anyway, my issue was not that i couldnt define a custom port, I didnt actually test this.
My issue was the service created by the operator tried to connect to port 7000 on the mgr pod, but the ceph dashboard was configured to use 8443 which is the default. So my pro

[2022-01-10 18:20] crdnl opened #9552 "[Bug] Prepare doesn't match against all disks in the intended regex"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Given disks `sda` -> `sdi`, and a device filter of `^sd[b-h]`, `sdb` isn't matched against

**Expected behavior:**
`sdb` through `sdh` is within the device filter regex, and should be included in OSD matching.

**How to reproduce it (minimal and precise):**
1. Modify `cluster-test.yaml` to disable `use

[2022-01-10 18:32] travisn commented on #9552
Try setting the `deviceFilter` instead of the specific device name:
[code]

[2022-01-10 20:43] crdnl commented on #9552
Yeah, that works.

[2022-01-10 20:43] #9552 closed

[2022-01-10 21:37] MiningPickaxe commented on #9551
I just went over the Project board for 1.8 and noticed this might be somewhat of a duplicate to https://github.com/rook/rook/issues/7036

What is missing though is the support for this in the create-external-cluster-resources.py script - It did get support for rados namespaces which is awesome, but the subvolumegroups are missing.

[2022-01-10 22:26] travisn commented on #9551
Did you try the v1.8.2 release? The [subvolume group](https://rook.github.io/docs/rook/v1.8/ceph-fs-subvolumegroup.html) configuration was included there.

[2022-01-11 01:52] henryzhangsta opened #9553 "helm: error on reconciliation when operator and cluster are deployed to different namespaces"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When using the Helm chart(s) for operator and cluster, where the cluster is not deployed in the same namespace as the operator, and monitoring is enabled, the reconciliation process errors with the following error while trying to upgrade the `mgr`s

[code]

This prevents the upgrade from continuing an

[2022-01-11 02:14] zerkms opened #9555 "Removing a bucket with significant number of files fails in v1.7.7"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

Preamble: I'm running rook 1.7.7 and understand that it's not the latest, so if it's known and/or was fixed already - my apologies.

I have found that if a bucket removal is not instant and takes time - then rook does not handle t

[2022-01-11 05:22] thotz commented on #9555
The bucket removal takes time, since it needs to delete all the contents. What was the size of the bucket and the number of objects in the bucket? So that we can work on something to improve the timeouts or something. Can you check rgw pods logs why delete was failing for the bucket

[2022-01-11 05:25] zerkms commented on #9555
It was a timeout, it was around 6Gb and 1k of files.

Does it really need to be timeouts tuning or instead it just should reconcile it in some other way? Eg: if it requested for deletion, but the deletion timed out - then wait til it disappears.

[2022-01-11 05:26] jaywayjayway commented on #9542
@travisn  Yes , I do it [zap the disk](https://rook.github.io/docs/rook/v1.8/ceph-teardown.html#zapping-devices). But no used. So, I only  to reboot the node , then it  can create OK.

[2022-01-11 05:38] jaywayjayway commented on #9542
[code]

@travisn  in the clean script,it will alos  destroy  healthy  OSD
[code]

[2022-01-11 06:57] setiseta commented on #9487
I have also restarted the operator without success.

Now I've retried the update, and the csi driver is not gone. very strange.
So I don't have any logs.

I've always done this with the rancher UI, maybe there was something wrong there on the first try.

[2022-01-11 07:00] Madhu-1 commented on #9487
@setiseta what is the rook version you are using? can you please provide below to debug it

* rook operator pod logs
* `kubectl get deployment -nrook-ceph` output to check the deployment is created?

[2022-01-11 07:02] setiseta commented on #9487
@Madhu-1 its ok now. it was not ok on the first try. and a restart of the operator has not fixed it.
on the second try there was no error anymore, so I don't have any log, I've not saved it on the first try.

[2022-01-11 07:12] satoru-takeuchi commented on #9494
@thotz Yes, It's a Ceph's bug. I sent a PR to fix this bug in Ceph.

https://github.com/ceph/ceph/pull/44413

I'm considering how to mitigate this bug in Rook.

[2022-01-11 08:53] michalskrivanek commented on #3197
we managed to test with OKD manually and it worked, so it would be handy to have this so rook can be integrated cleanly

[2022-01-11 13:14] oopoopoop commented on #9506
I think I saw this exact error, in the crashing pod's log, when I did not assign enough memory to one of my worker nodes.

The issue went away right after I increased the node's memory.

[2022-01-11 14:39] leseb commented on #9551
What are you expecting from the script? To create the subvolumegroup? How are you using the script? For ceph-csi to consume the subvolumegroup, we need to update the `rook-ceph-csi-config` configmap. I have this PR https://github.com/rook/rook/pull/9484 but it's for converged mode. For external mode we don't have anything despite updating the CM manually for now.

[2022-01-11 14:47] leseb commented on #9544
Not sure what's happening here, `reflect.DeepEqual()` believes the versions are different. Maybe we should use a string comparison instead of struct.

[2022-01-11 15:07] #9553 closed

[2022-01-11 15:57] CO-lhageman commented on #9551
I would expect to do the following things manually:
Create a cephfs
Create a subvolumegroup

I would pass this along to the script; the script would generate the users with the correct caps and generate me the StorageClass with the subvolumegroup as a parameter - Or thats what I thought when I without a lot of research beforehand opened this issue.

I don't see a parameter in the StorageClass for

[2022-01-11 16:52] parth-gr opened #9563 "`Make Crd` generation output differ with rook:master crds"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Running `make crd` in latest master, differ in the output generation
One Instance of local fedora: https://github.com/rook/rook/commit/58146670da222674001c862ed2fec07169574a2c

**Expected behavior:**

CRD generation should be the same as the master.

**How to reproduce it (minimal and precise):**

**F

[2022-01-11 20:02] #9096 closed

[2022-01-11 20:02] #9083 closed

[2022-01-11 20:02] #4334 closed

[2022-01-12 08:14] Madhu-1 opened #9564 "cephfs: filesystem deletion is allowed even if we have PVC"
**Is this a bug report or feature request?**
* Bug Report

Even if we have the cephfs PVC, the cephfs filesystem deletion is allowed. this will leave stale resources in the kubernetes.

**Expected behavior:**

Filesystem deletion should be blocked till the PVC is deleted.

**How to reproduce it (minimal and precise):**

* Create a filesystem
* Create CephFS PVC
* Delete the filesystem

[code]
[cod

[2022-01-12 08:15] Madhu-1 commented on #9564
cc @BlaineEXE

[2022-01-12 08:34] leseb commented on #9564
I think today we check if there is a subvolumegroup CRD and that's it. We can certainly do better at least for the `csi` subvolumegroup.

[2022-01-12 08:37] Madhu-1 commented on #9564
Yes, we need both checks. for default csi created subvolumegroup we need to check subvolumegroup exists and it's empty or not.

[2022-01-12 08:46] leseb commented on #9564
I think it will be closed with https://github.com/rook/rook/issues/9564 (+subvolumegroup)

[2022-01-12 08:46] leseb commented on #8068
Go for it.

[2022-01-12 08:52] Madhu-1 commented on #8068
@BlaineEXE @leseb Instead of PV objects dont we need to rely on check the images/subvolumes in the pool as a user can still use blockPools for 3 things

* Static provisioning ( the image will be created in the pool first and when it's required they will create the PVC and PV objects)
* User can create storageclass with retain policy. even if the PVC and PV are deleted the rbd images will be left i

[2022-01-12 12:58] skycyan commented on #9182
I have configured different ports, but the result is still an error.

I can reproduce this error anytime.

Finally solved the problem by turning off 'Dashboard SSL (ceph config set mgr mgr/dashboard/ssl false)'.

[2022-01-12 13:05] skycyan commented on #9182
@jmolmo
Cause of failure：config not ready to serve, waiting: no certificate configured.

I have configured different ports, but the result is still an error.

I can reproduce this error anytime.

Finally solved the problem by turning off 'Dashboard SSL (ceph config set mgr mgr/dashboard/ssl false)'.

[2022-01-12 13:59] leseb commented on #9470
@crdnl Thanks for the detailed analysis. It's surprising that even if `/dev/sda1` is mounted it appears as available. If you still have access to this reproducer. Could you also add the `CEPH_VOLUME_DEBUG` env var, run ceph-volume again and collect the `ceph-volume.log` content? That will be really useful to understand why this device is made available.

[2022-01-12 14:15] brovoca opened #9566 "Deploy VolumeSnapshotClass with Helm release"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Automatically deploy the VolumeSnapshotClass during a Helm release deployment.

**What is use case behind this feature:**

Users manually need to deploy the VolumeSnapshotClass, but I would expect this to be a part of the Helm release [now that Volume Snapshots have been promoted to GA in K8s 1.20](htt

[2022-01-12 14:17] travisn commented on #9433
@slow-zhang What version of K8s are you using? I was able to repro this on K8s 1.16 and 1.18 when testing helm upgrades for #9546.

[2022-01-12 14:20] Madhu-1 commented on #9566
what do you mean by VolumeSnapshot?
 even if required from Rook we can only create VolumeSnapshotClass.
Today even we don't create default storageclass by default for both cephfs and rbd as filesystem and block pool need to be created.

cc @leseb @travisn can you please confirm?

[2022-01-12 14:21] Madhu-1 commented on #9566
Even to create the VolumeSnapshotClass the VolumeSnapshotClass CRD should be first installed as its not installed by default in kubernetes

[2022-01-12 14:24] brovoca commented on #9566
@Madhu-1 please ignore the "VolumeSnapshot" part. I removed it. I was too quick during writing and so my brain lagged behind :-)

[2022-01-12 14:26] brovoca commented on #9566
@Madhu-1 Can't the VolumeSnapshotClass be created prior to the creation of the pools? I assume the Helm chart already has necessary data about the to-be-created pools in order to create a VolumeSnapshotClass in anticipation of them.

[2022-01-12 14:28] Madhu-1 commented on #9566
okay we do have storageclasses created by default https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/values.yaml#L319-L398 @travisn @leseb please ignore the above comment. Yes, it's possible to create the VSC also.

[2022-01-12 15:27] akalenyu opened #9568 "Allow disabling of PersistentVolumeUsageNearFull/PersistentVolumeUsageCritical alerts on workloads that are expected to be fully utilized"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow components to add a label to a PVC that prevents `PersistentVolumeUsageNearFull/PersistentVolumeUsageCritical` alerts from firing.
(Similar to https://github.com/openshift/cluster-monitoring-operator/pull/1493, can/should use the same key/value pair?)

**What is use case behind this feature:**
The

[2022-01-12 15:36] leseb opened #9569 "Implement rate limit for Object User"
**Is this a bug report or feature request?**
* Feature Request

https://docs.ceph.com/en/latest/radosgw/admin/#rate-limit-management

**What should the feature do:**

**What is use case behind this feature:**

**Environment**:

[2022-01-12 18:06] travisn commented on #9566
Yes, the helm chart will create a storage class for rbd or cephfs, depending on those settings in the chart. Similarly, I see the VolumeSnapshotClass could be created by the rook-ceph-cluster helm chart.

[2022-01-12 19:04] BlaineEXE commented on #9563
I was able to verify this behavior on a fresh Fedora VM locally also. I suspected it could be a region/locality issue, but that doesn't seem to be the case. It is working fine in our Ubuntu CI, but Fedora has a different behavior for some reason.

The CRD generator doesn't use filename sorting like `gen-rbac` does, so it isn't likely to be that issue. It's possible that `controller-gen` or `yq` ar

[2022-01-12 20:21] travisn commented on #9445
@brovoca Since you can define the nodeAffinity and tolerations as part of the CephFilesystem CR, everything can be included in the cluster helm chart today, right? For example:
[code]

The placement for the metadataServer was not included in the example values.yaml, so maybe that wasn't clear. But if you're saying something else, can you clarify the need to use kustomize?

[2022-01-12 20:44] BlaineEXE commented on #9532
@jclab-joseph The OSD code is designed so that it **should** create new OSDs before updating existing OSDs. However, it will also try to opportunistically update existing OSDs while waiting on new OSDs to be provisioned. I'd like to understand more about the scenario you are seeing so I can figure out where a possible corner case might be existing.

1. Can you show us the CephCluster resource/mani

[2022-01-12 20:54] BlaineEXE commented on #9543
I don't think we really have enough information to understand the issue at hand. It looks like the cluster has 6 OSDs, and the lsblk command has output. What are you expecting to see differently?

[2022-01-12 23:28] BlaineEXE commented on #9563
I downloaded an Ubuntu 20.04 image and also found that the issue appears there. CI uses Ubuntu 18.04, so it may be that something has changed between Ubuntu 18.04 and 20.04. Otherwise, I'm not sure how CI and MacOS would be giving one result -- and Fedora (latest) and Ubuntu 20.04 a different result.

[2022-01-13 00:03] BlaineEXE commented on #9563
Even testing this on a quick Ubuntu 18.04 install, I see the same behavior Parth mentioned. How is this working in our CI at all?

[2022-01-13 00:04] jgilfoil commented on #9132
No dice for me, same error after going from 1.7.10 > 1.8.2.

File(s) to submit:

- Operator helm values used: https://github.com/jgilfoil/k8s-gitops/blob/0bf1385de5a3fd642250887d716648470dc78cc6/cluster/core/rook-ceph/helm-release.yaml
- Cluster helm values used: https://github.com/jgilfoil/k8s-gitops/blob/0bf1385de5a3fd642250887d716648470dc78cc6/cluster/core/rook-ceph/storage/helm-release.yaml
-

[2022-01-13 00:18] BlaineEXE commented on #9563
From what I can tell, this is likely to be a system issue.

The `build-crds.sh` script processes the files with the following line.
[code]
Here, you can see there is a slight difference in ordering between MacOS (left) and Ubuntu 18.04 (right) at `...cephfilesystems` vs. `...cephfilessytemsubvolumegroups`.
![image](https://user-images.githubusercontent.com/3989526/149243435-33c34df7-e3cf-4bbd-ab92

[2022-01-13 05:24] kasim457 commented on #9487
csi-rbdplugin and csi-cepfsplugin pods did not create in new  storage cluster configured using v1.8.0 version.

[operator-logs.txt](https://github.com/rook/rook/files/7860126/operator-logs.txt)

[2022-01-13 06:07] thotz commented on #9555
The error was 125, the operation was cancelled from the RGW, but I am wondering why what happens in the next deletion for reconciliation , the rgw pod does not give any errors but Rook-operator says unknown error. So do you remove the bucket manually from the backend after applying finaliser on OBC?

[2022-01-13 06:12] thotz commented on #9569
This can be applied to OBC if needed, OBC points unique ceph object user

[2022-01-13 07:15] zerkms commented on #9555
No, when I checked the bucket manually using rgw cli the bucket has already been removed.

After that I removed OBC finaliser, and also removed the rgw user (that is created by default for every user).

[2022-01-13 08:59] thotz commented on #9555
Oh I see so may be this issue related to https://github.com/rook/rook/issues/9494

[2022-01-13 09:47] brovoca commented on #9445
@travisn I am aware that I can specify `cephFilesystems` in the cluster Helm values, but in that case I need to provide a full config of a CephFilesystem/CephObjectStore, rather than _only_ supplying the affinity and toleration. Since I prefer not to touch the default values, I used a Kustomize patch (through FluxCD) in order to add the affinity and tolerations to the default CephFilesystem and Ce

[2022-01-13 11:16] satoru-takeuchi commented on #9494
@leseb @thotz

I found that [GET BUCKET](https://docs.ceph.com/en/latest/radosgw/s3/bucketops/#get-bucket) returns ERR_NO_SUCH_BUCKET correctly.

https://github.com/ceph/ceph/blob/375c22aba3ea1d4af6b05a3c83b0aee6ad2a0b6a/src/rgw/rgw_bucket.cc#L1249

I'll make a PR to bypass this problem by calling GET BUCKET after failing REMOVE BUCKET with ENOENT.

[2022-01-13 17:05] #9563 closed

[2022-01-13 19:21] #7988 closed

[2022-01-13 22:57] BlaineEXE commented on #5296
Of note, it's also used by the `rook-ceph-osd-prepare-*` pods.

[2022-01-13 23:15] BlaineEXE commented on #9445
None of the research or suggestions I have seen in the Kubernetes community say that it is wrong to use Kustomize with Helm as you are doing. On the contrary, I often see it being recommended, and so I think you are using the best solution available currently. See where this is recommended by the Helm project here: https://helm.sh/docs/topics/advanced/#post-rendering

[2022-01-13 23:22] BlaineEXE commented on #9569
I think we should consider applying this to OBCs out of scope and only focus on limits for users. Since OBCs are in sustaining development with intent to be deprecated in favor of COSI (which has no plans for rate limits currently, as far as I'm aware), we don't gain a lot by implementing this for OBCs.

That said, I think the OBC/COSI ability to request buckets by resource is the future, and I wo

[2022-01-13 23:24] BlaineEXE commented on #9487
@kasim457 would you also care to show the `kubectl -n rook-ceph describe deploy rook-ceph-operator` as created by Helm?

[2022-01-13 23:33] BlaineEXE commented on #9132
@jgilfoil would it be possible to get gists of the CRDs (`kubectl describe crds`) and the operator logs with `ROOK_LOG_LEVEL=DEBUG`. I see in your case it's the BucketTopic that is having trouble sync-ing, but I'm not sure why that would be. I'm wondering if there could be some issue with the new CRDs or with something in the new controllers that I hope this info can help us troubleshoot.

[2022-01-13 23:45] BlaineEXE commented on #9542
Ah, I see the teardown docs aren't explicitly clear that the commands related to `/dev/mapper` will clobber LVM info for all disks and that the teardown therefore isn't suitable for removing only a single OSD.

@travisn perhaps we should document the OSD removal job?

[2022-01-13 23:49] BlaineEXE commented on #9121
@qingtianlanyue please provide the following as gists to help us debug:
-  logs from the failing rgw pod
- `kubectl -n rook-ceph describe pod` from the failing rgw pod

[2022-01-14 08:07] brovoca commented on #9445
@BlaineEXE I know this is a suggested approach in cases where the Helm chart doesn't provide some functionality in itself, but in this case I think this should be incorporated and we could avoid using the postRenderer.

[2022-01-14 08:10] czhfe opened #9575 "pvc mount failure"
pvc mount failure。

[2022-01-14 08:10] czhfe commented on #9575
![image](https://user-images.githubusercontent.com/19341806/149473505-2f0f30f8-0952-4bbf-ae00-37334196b8f1.png)

[2022-01-14 16:29] jgilfoil commented on #9132
@BlaineEXE  thanks for giving this attention. Based on your hint to look at the crds, i did some comparing and it seems the crds in my system aren't getting updated as expected to the versions for v1.8.x. I expected flux to pull them in after updating [this line](https://github.com/jgilfoil/k8s-gitops/commit/f14454cd883bd193ec70e0409139a3bb46505588#diff-181a8be532b771c5c8ba389fa2b06764c6a17cf0998b

[2022-01-14 17:22] travisn commented on #9575
Not sure the issue, can you provide more repro steps? Here are some ideas:
- [PVCs staying in pending state](https://rook.github.io/docs/rook/v1.8/ceph-common-issues.html#pvcs-stay-in-pending-state)
- [CSI common issues](https://rook.github.io/docs/rook/v1.8/ceph-csi-troubleshooting.html)
- Is your ceph cluster healthy? What does `ceph status` in the toolbox show?

[2022-01-14 17:24] travisn commented on #9542
Agreed, we need cleanup instructions for a specific disk in case not all OSDs are being destroyed on the node.

[2022-01-14 17:45] travisn commented on #9445
Ok that helps understand your goal of using the defaults as much as possible, then only overriding certain values.

There is a basic assumption with the cluster chart that default values won't apply to most clusters, and it is just an example. This sentence in the [helm install guide](https://rook.github.io/docs/rook/v1.8/helm-ceph-cluster.html#installing) attempts to summarize that point: "The de

[2022-01-14 21:30] crdnl commented on #9470
@leseb Just ran `CEPH_VOLUME_DEBUG=1 ceph-volume inventory /dev/sda1`
[code]

[2022-01-15 16:10] allenporter commented on #9132
Thanks @jgilfoil, my issue was also about crds not being upgraded, so my fault. I had crds disabled in the helm chart and forgot about it when reading the upgrade instructions, and didn't get the hint based on the error messages.

I'm good with marking resolved also.

[2022-01-15 20:02] #9103 closed

[2022-01-16 14:08] hezise commented on #9254
Hi @leseb ,
sorry for my late response.
unfortunately the cluster was removed. currently I don't have a reproduction. once I have one, I'll update

[2022-01-16 14:08] #9254 closed

[2022-01-16 15:32] hezise opened #9579 "CSI drivers are not upgraded in 1.8.2"
**Is this a bug report or feature request?**
* Bug Report
I performed an upgrade. rook and ceph were upgraded but not the ceph drivers. I saw in documentation that the new version are stored in a config-map but I didn't see any config map called rook-ceph-operator-config
rook-ceph-mds-shared-storage-a          req/upd/avl: 1/1/1      ceph-version=16.2.7-0
rook-ceph-mds-shared-storage-b          re

[2022-01-16 16:27] Jiawei0227 opened #9580 "Configure Audit logging"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The CephCluster API should include a field to enable audit logging. This should filter audit log from the mon logs and able to set log level.

For example, something like this need to be configured on mon side:

[code]

Also, for the log collector feature, it should consider audit logging into logrotate

[2022-01-16 20:01] #9131 closed

[2022-01-16 20:01] #9129 closed

[2022-01-16 20:01] #9052 closed

[2022-01-17 01:31] czhfe commented on #9575
- cephfs mount occasionally fails to mount and prompts permission issues, check pvc mount path on kubernetes node prompts permission issues
- ceph cluster status is healthy

Detailed exceptions are as follows:
![image](https://user-images.githubusercontent.com/19341806/149687386-fb4ab513-9303-4478-a0c9-cc382d06e4a4.png)

![image](https://user-images.githubusercontent.com/19341806/149687326-a332eea

[2022-01-17 01:33] czhfe commented on #9575
![image](https://user-images.githubusercontent.com/19341806/149687518-438fa495-6737-45e1-9130-3aaaab66f68e.png)

[2022-01-17 01:42] czhfe commented on #9575
![image](https://user-images.githubusercontent.com/19341806/149688123-efa9d091-ba5b-4f75-add5-ae7153562ad5.png)

[2022-01-17 05:20] Madhu-1 commented on #9575
@czhfe are you using kernel mount or the fuse mount? and is SELinux enabled in your setup? it could be due to selinux

[2022-01-17 05:26] Madhu-1 commented on #9579
This is not by default. if the configmap is created by the user the new configuration will be fetched from the configmap or else it will be read from ENV or defaults will be used. @travisn can you please correct me if am wrong?

[2022-01-17 06:50] czhfe commented on #9575
- This is a pod mount in kubernetes, which is mounted via kubelet and should use kernel mount
- Selinux is closed

![image](https://user-images.githubusercontent.com/19341806/149721162-625a7e89-3e50-4830-b36a-7591eacad4fc.png)

[2022-01-17 08:10] brovoca commented on #9445
@travisn I understand. In the end I still would wish for the tolerations and affinity to be applied to these specs too. I hope that is something that will find its way into the chart. Thank you for the good work on this project!

[2022-01-17 09:56] leseb commented on #9470
@crdnl thanks but this isn't the full output, is it?

[2022-01-17 10:17] degorenko opened #9583 "CephRGW Keycloak integration problems"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Following official Ceph docs for Rgw+Keycloak integration https://docs.ceph.com/en/octopus/radosgw/keycloak/ and https://docs.ceph.com/en/octopus/radosgw/STS/ , i'm able to invoke AssumeRole. But AssumeRoleWithWebIdentity is getting 403. Rgw log from pod (debug level: debug_rgw 20): https://paste.opens

[2022-01-17 11:10] leseb commented on #9580
Thanks I have a few questions inline:

I'm fine with that, we can easily add it. In the meantime, you can access the toolbox and run:

[code]

[2022-01-17 11:15] Madhu-1 commented on #8068
Yes, even with static PVC users can mount the `/` Root of the filesystem and mount it to the application pods.

Am not aware of such functionality, @kotreshhr can you please help here?

[2022-01-17 11:20] kotreshhr commented on #8068
Not sure about CephNFS, @ajarr could you help here ?

[2022-01-17 11:27] jmolmo commented on #9182
@skycyan : I will try to reproduce in a test,  but meanwhile and if you want to use ssl, i think that probably it will work for you if you generate a self signed certificate or use your own one.

[code]

More info in [dashboard configuration](https://docs.ceph.com/en/latest/mgr/dashboard/#ssl-tls-support)

[2022-01-17 11:31] leseb commented on #9580
Oh, I actually missed something, today, the audit logs and mon logs are merged into a single stream. So the `ceph.audit.log` content is in `ceph-mon.a.log`. Also, all of this is being logged rotated.

I'm not sure if there is anything to do.

[2022-01-17 12:32] eringet opened #9584 "Ceph multisite replication with ssl untrusted certs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow self signed certificates to be used for ceph objectstore endpoint urls with multisite replication.

**What is use case behind this feature:**
Using ssl for all ceph object traffic improves security.

**Environment**:
Rook 1.7.9
Ceph 16.2.6-0
OS of K9s cluster nodes: RedHat 8.5
Kubernetes version:

[2022-01-17 12:39] Jiawei0227 commented on #9580
In production, i will impact the performance from my understanding. And I found even enable it on the config file, it still print debug log to the container.

From what I observed, without this, mon will merge cluster log and audit log together. And that does not seem to be the default value from my experiment.

Yes, it is true if the output log is merged as ceph-mon.a.log that we rotated the log.

[2022-01-17 13:09] leseb commented on #9584
@alimaredia is it something you can look into? Thanks

[2022-01-17 15:52] subhamkrai opened #9588 "split unit test and original code of python script in different file"
It's better to split the unit test and original code of the [python](https://github.com/rook/rook/blob/master/deploy/examples/create-external-cluster-resources.py) script into a different file.

[2022-01-17 16:19] parth-gr opened #9589 "--upgrade flag in external cluster should be capable of upgrading clients."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

--upgrade flag should be robust

**What is use case behind this feature:**

https://github.com/rook/rook/pull/9571#issuecomment-1012331479
The upgrade function doesn't seem to be that smart for now so it can update the new auth caps listed with the existing one, it only compares the value of the curren

[2022-01-17 16:33] parth-gr opened #9591 "make use of create-external-cluster-resources.py upstream"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:** **What is use case behind this feature:**
we use create-external-cluster-resources.py for downstream, get rid of create-external-cluster-resources.sh and use  create-external-cluster-resources.py for eternal cluster

And also refactor document, so user can easily create external cluster upstream.

**Env

[2022-01-17 16:40] stevefan1999-personal commented on #8442
Please reopen this issue. Now, I have a slightly different setup that my fscID is now 1 instead of what is expected by the CSI, 2. So I want to find a way to reset the fscID in the CSI.

[2022-01-17 16:42] stevefan1999-personal commented on #8442
I instead followed the steps [here](https://docs.ceph.com/en/latest/cephfs/disaster-recovery-experts/). I modified toolbox to run this

[2022-01-17 16:43] hezise commented on #9579
hi @Madhu-1 and @travisn

I rebooted the operator to see if it solve it.
I got the following error:

ceph-spec: failed to update cluster condition to {Type:Ready Status:True Reason:ClusterCreated Message:Cluster created successfully LastHeartbeatTime:2022-01-17 08:59:40.77117636 +0000 UTC m=+146.332337159 LastTransitionTime:2022-01-16 09:47:44 +0000 UTC}. failed to update object "rook-ceph/rook-ce

[2022-01-17 17:01] stevefan1999-personal commented on #8442
I tried to create a mapping in rook-ceph-csi-mapping-config as key `csi-mapping-config-json`
[code]
However it will get reset ever ytime I restart the provisioner

[2022-01-17 17:27] stevefan1999-personal commented on #8442
so, this is one of my volume ID captured:
[code]
as you can see, because the location id is set to 2, this obviously coincide with the code here:
https://github.com/ceph/ceph-csi/blob/0bd1d44dc07bc9ec3762a3f966dd501b4e382262/internal/cephfs/core/volumeoptions.go#L275-L283

@travisn wonder if you wanted to take a look?

[2022-01-17 20:35] travisn commented on #9579
This sounds like the same issue as #9487. The CSI driver is just not updating in some clusters, not clear yet why.

That failure in the log looks independent and should be benign.

[2022-01-17 21:55] BlaineEXE commented on #9579
I just noticed that the default update policy for CSI DaemonSets is `OnDelete`. Does CSI update automatically if the configs `CSI_CEPHFS_PLUGIN_UPDATE_STRATEGY` and `CSI_RBD_PLUGIN_UPDATE_STRATEGY` are changed to `RollingUpdate`?

[2022-01-17 22:12] travisn commented on #8442
@Madhu-1 Is there any way to apply the remapping of the pool IDs like that and have it stick?

[2022-01-18 00:41] ajarr commented on #8068
You can check the CephFS paths and FS volume name exported by a ganesha service/cluster.  Execute the following to get detailed information about all the exports of a NFS cluster/service.
$ ceph nfs export ls <nfs-cluster-name> --detailed --format=json

e.g.
[code]

Look at each of the each of export dictionary's ["path"] and ["fsal"]["fs_name"] to determine the exported path and its file system (

[2022-01-18 06:44] thotz commented on #9583
@degorenko : I am copy-pasting comment from ceph engineer :
` configure the token to have a field called client_id or clientId set to "my-test"`

[2022-01-18 08:59] Madhu-1 commented on #8442
it's only available for rbd now. it's not implemented for cephfs. @stevefan1999-personal one option is to recreate the PV with new volumeHandle which has the correct filesystem ID.

[2022-01-18 09:19] degorenko commented on #9583
@thotz Hey, thanks for response. It's strange, but when i'm invoking token introspect manually i see that field (call inside RGW container):

[code]

When i'm checking RGW logs, with the same URL in config for token introspection, i dont see that field:

[code]

As you see, "jti", "session_state" fields are the same. So, i'm not sure why RGW can't decode token with client_id field. Any suggestions

[2022-01-18 09:47] degorenko commented on #9583
Ok, so i switched from "grant_type=password" to "grant_type=client_credentials" for token request and now it is working. But this is a way for service account. For end user it still is not working. What should be changed in configuration to work with end user tokens?

[2022-01-18 11:36] thotz commented on #9583
@degorenko again copy-pasting reply from ceph developer
[code]

[2022-01-18 14:56] parth-gr commented on #9589
@leseb
I want to understand why[ MIN_USER_CAP_PERMISSIONS](https://github.com/rook/rook/blob/7bfa3205280ff2fd01e7f4ceabf88b0dfa0e8641/deploy/examples/create-external-cluster-resources.py#L342), is listed like this,

Do we need to have this?

And why `--rgw-pool-prefix` flag is there, what does it depict?

[2022-01-18 15:08] parth-gr commented on #9589
And for upgrading the caps,
I am thinking to have a separate function for `gettingCaps()` for every user,

And so while using the upgrade we can get the information of current caps that are listed.

[2022-01-18 15:08] degorenko commented on #9583
Thanks for response. Sadly, for Octopus this is not working. So, the only way is using only client_credentials grant_type for getting token, right?

[2022-01-18 15:29] leseb commented on #9589
@aruniiird please help since you wrote this.

[2022-01-18 20:02] #8912 closed

[2022-01-18 21:38] avekrivoy opened #9602 "Rook cluster chart not creating all resources"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I'm using rook-ceph operator and rook-ceph-cluster charts v1.8.1 to create a cluster. From time to time on different environments I face an issue that resources like ceph-fs provisioner and csi-driver are not being created

[code]

[code]
Looks like ceph cluster is healthy and alive
[code]
[code]
[code

[2022-01-18 21:49] travisn commented on #9602
This sounds like the same issue as #9487, still trying to track that down...

[2022-01-19 05:18] thotz commented on #9583
@degorenko : Okay please try that workaround as well, if it is not working then I reach out to the ceph devs again

[2022-01-19 06:34] yati1998 opened #9604 "19 ports open for csiaddons while only 1 is required."
Restrict the csiaddons to only 1 port for security issues.
For more details:
https://github.com/rook/rook/pull/9534#discussion_r787140142

[2022-01-19 08:23] degorenko commented on #9583
@thotz additionally, to provided example in link, i've added to user attribute "client_id" with actual id. Now i'm able to invoke AssumeRoleWithWebIdentity for particular user. I think, now we can close issue. Thank you very much.

[2022-01-19 08:33] avekrivoy commented on #9602
Yeah, looks same.
And I think first time provision failed because I specified wrong block device in cluster config. Dunno if it's important.
Also, I found a weird error in logs:
[code]
Didn't expect to see Jenkins there

[2022-01-19 08:49] thotz commented on #9583
@degorenko Thanks.
Closing this issue based on last comment

[2022-01-19 08:49] #9583 closed

[2022-01-19 12:46] hezise commented on #9579
# CSI CephFS plugin daemonset update strategy, supported values are OnDelete and RollingUpdate.
  # Default value is RollingUpdate.

[2022-01-19 13:11] DavidSpek commented on #8999
This would also be very useful for the secret and configmap created by the operator when provisioning an ObjectBucketClaim.

[2022-01-19 14:43] #9604 closed

[2022-01-19 14:51] #8999 closed, assigned to subhamkrai

[2022-01-19 14:52] travisn commented on #8999
@DavidSpek Good idea, would you mind opening a new issue for this? Thanks!

[2022-01-19 15:00] DavidSpek opened #9608 "Feature request: Add labels and annotations to ObjectBucketClaim secrets and configmaps created by operator"
Related to https://github.com/rook/rook/issues/8999, it would be very useful to be able to add Labels and Annotations to the secret and ConfigMap that are created when provisioning an ObjectBucketClaim.

The specific use case we have is to be able to sync the secret with the connection credentials between namespaces.

I think a good implementation might be to propagate the labels and annotations o

[2022-01-19 15:00] DavidSpek commented on #8999
@travisn I've just created https://github.com/rook/rook/issues/9608. Hopefully it contains enough information.

[2022-01-19 16:59] #9566 closed

[2022-01-19 17:38] #9500 closed

[2022-01-19 17:44] travisn commented on #9602
Which log is that from? The reference to Jenkins is just from the ceph build.

[2022-01-19 18:44] ozzieba commented on #9470
Just ran into this as well on k3os, will try to provide a log after I reinstall the affected hosts; a couple hosts were unaffected, probably because they used GPT.
Some preliminary analysis:
- rook is calling ceph-volume, which [checks](https://github.com/ceph/ceph/blob/master/src/ceph-volume/ceph_volume/util/disk.py#L705-L724) for locked volumes by trying to open the device in read-write/exclusiv

[2022-01-19 19:06] avekrivoy commented on #9602
I think it’s from the mgr

[2022-01-19 20:14] avekrivoy commented on #9602
@travisn I managed to reproduce an issue. Deployed the rook-ceph-cluster chart with missing block device (might be misconfigured in values.yaml as well) on one of the nodes. Then added block device and redeployed chart. Ceph cluster went from HEALTH_WARN to HEALTH_OK, but operator didn't deploy csi drivers

[2022-01-19 20:35] avekrivoy commented on #9602
attaching operator logs
[rook-operator-logs.txt](https://github.com/rook/rook/files/7900403/rook-operator-logs.txt)

[2022-01-19 21:34] avekrivoy commented on #9602
I decided to reinstall rook operator and rook cluster.
- in values.yaml set cleanupPolicy.confirmation to "yes-really-destroy-data"
- applied chart and then deleted it
- removed operator
- removed CRDs, CMs and Secrets
- double checked and wiped /var/lib/rook and LVM on storage disks
[code]
Tried to install operator and cluster again - still no CSI drivers.
Operator logs look different, though
[co

[2022-01-19 22:48] Hell-Fire commented on #9487
I deleted my provisioner deployments, the daemonset, etc hoping to have the operator redeploy, but no such luck (while debugging another issue).  Restarted operator pod, changed ROOK_CSI_ENABLE_RBD and ROOK_CSI_ENABLE_CEPHFS through true > false, then false > true, changing CSI_PROVISIONER_REPLICAS, but nothing seems to get the reconcile to work.

I was hoping to trigger the delete driver path, th

[2022-01-19 22:54] travisn commented on #9487
@leseb and I were discussing, he had some idea of what it is and will see if we can get a fix into v1.8.3 tomorrow...

[2022-01-20 04:26] Falconx1000 opened #9612 "Operator looping on reconciling object store deployment"
Bug Report

**Deviation from expected behavior:**
Upgrade Rook operator from 1.7.5 to 1.8.2
my-store-a was not upgraded

**Expected behavior:**
Cluster will finish reconciling and will upgrade the rgw as well

**How to reproduce it (minimal and precise):**
Started with Operator version of 1.7.5 and Ceph version was 16.2.5
I started the upgrade process buy upgrading the operator and rook according

[2022-01-20 08:55] leseb commented on #9487
Don't you use the CM to configure the operator? `rook-ceph-operator-config`? Thanks

[2022-01-20 08:55] avekrivoy commented on #9602
I tried to downgrade ceph-operator version by version. Last working version of operator for me is 1.7.9. So apparently something went wrong on 1.8.0 +. Dunno if it helps
@travisn

[2022-01-20 09:08] leseb commented on #9602
Just create the CM `rook-ceph-operator-config` to store your config and the op should reconcile. I have a patch for this in 1.8.3.

[2022-01-20 09:17] avekrivoy commented on #9602
@leseb I'm not going to use 1.8.2 because of this bug, anyway. Just wanted to provide more details

[2022-01-20 09:18] leseb commented on #9602
If you really want to use 1.8.2 you can start using the CM instead of the env variables too. It's more flexible IMO.

[2022-01-20 09:20] avekrivoy commented on #9602
@leseb I'm new to rook. Could you please explain what do you mean?

[2022-01-20 09:45] subhamkrai commented on #9462
For some CR like, cephCluster, CephObjecstore I think we have good CR status. Example,
 In CephCluster CR it has  something like

[code]
something like similar we have in Objecstore inside `bucketstatus`

But in some we have phase
[code]
just phase only.

[2022-01-20 11:19] leseb commented on #9602
Sorry and no worries. We have an example here: https://github.com/rook/rook/blob/master/deploy/examples/operator.yaml#L18-L341, this configmap contains the operator settings. It's more flexible than using operator's pod env var since changing any var means restarting the pod.

[2022-01-20 11:44] svolland-csgroup opened #9614 "Crash collector deployment fails when 2 ceph clusters are managed by the operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
We are running 2 ceph clusters in different namespaces on the same kubernetes cluster. The rook operator is also located in one of the namespace.
Crash collectors were initially enabled. When we deployed the second ceph cluster, several crash collectors began to start on the same nodes, failing to star

[2022-01-20 13:04] subhamkrai commented on #9462
@leseb fyi ^^^

[2022-01-20 16:53] #9602 closed

[2022-01-20 17:00] svolland-csgroup opened #9618 "Enable further customization of prometheus metrics labels"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The operator actually supports an undocumented (?) monitoring label `rook.io/managedBy` that is used to add a `managedBy` label to the prometheus metrics.
[code]
The operator adds a relabeling to the ServiceMonitor for this specific label, this is implemented in function [`applyMonitoringLabels` in mgr.

[2022-01-20 17:08] travisn opened #9619 "Pick up the Ceph-CSI 3.5.1 release"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The CSI base image is from an old Ceph image, see https://github.com/ceph/ceph-csi/pull/2798, so Rook should pick up 3.5.1 with this fix.

**Expected behavior:**
CSI base image should be on the latest pacific release.

[2022-01-20 17:27] Hell-Fire commented on #9487
Honestly didn't realise it as an option, couldn't see in the chart that it deployed a CM and the operator doesn't make one.  Is just a little test Pi cluster I'm running at home so other than the time to reconsile on restart, not a big loss editing the deployment :)

[2022-01-20 17:31] travisn commented on #9614
I believe the crash collectors need to start, one for each namespace on each node, and they would pick up crashes from a subdirectory for that namespace. But there is certainly an issue here, we'll take a look...

[2022-01-20 17:40] travisn commented on #9618
@svolland-csgroup The `monitoring` labels are currently only applied if the label is `rook.io/mangedBy`, but I don't recall why that was so strict with #8355. Would it solve the issue if we just allow any label to be applied instead of only that specific label? That makes sense to me for most flexibility, unless you're saying another change is also needed for `targetLabgels`.

@anmolsachan Do you

[2022-01-20 19:52] travisn commented on #9612
It looks like the object controller (that updates rgw) is waiting for the cephcluster reconcile to complete. Since the PGs are not healthy, the operator may be taking a long time to update the OSDs. Do you see that all your OSDs are updated? What does `ceph versions` show from the toolbox? If it's stuck there, you might consider changing the cluster CR setting `skipUpgradeChecks: true` at least te

[2022-01-20 19:58] travisn commented on #9487
Now targeting the release for Friday, with the combination of #9613 and #9704 to fix this

[2022-01-20 20:30] seimsel commented on #4133
For microk8s you need to change the following in the operator.yaml

ROOK_CSI_KUBELET_DIR_PATH: "/var/snap/microk8s/common/var/lib/kubelet"

[2022-01-20 21:58] tonygilkerson opened #9620 "Need ability to set priorityClassName in the rook-ceph-operator deployment manifest file"
* Feature Request

**What should the feature do:**

Allow the user to specify `priorityClassName` in a `values.yaml` file when doing a `helm install` of the charts in this project.

In order to enable this the deployment manifest files, see [operator](https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph/templates/deployment.yaml) and [toolbox](https://github.com/rook/rook/blob/master/d

[2022-01-20 22:00] travisn commented on #4315
@LouNauSRC PR #8750 needs to be updated and needs more testing. Before we spend more time on it, could you confirm if you are still interested in this feature and can help test it? thanks

[2022-01-20 22:01] travisn commented on #8235
@josephsawaya Is this issue still a concern?

[2022-01-20 22:37] #9487 closed

[2022-01-20 22:39] travisn commented on #9579
Fixed with the combination of #9613 and #9074, targeting v1.8.3 tomorrow...

[2022-01-20 22:39] #9579 closed

[2022-01-20 23:09] BlaineEXE opened #9623 "Operator CLBO when modifying `device-health-metrics` from `cluster-test.yaml` and using multus"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**
1. Install minikube with --cni=flannel
2. Install multus on minikube with the following script and file:</br>
**networks.yaml**
[code]
[code]
3. Deploy rook using `CSI_ENABLE_HOST_NETWORK: "false"`
4. Deploy Ceph from `cluster-test

[2022-01-20 23:51] travisn commented on #9623
Looks like a bug in rook's executor [here](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/client/command.go#L169-L171):
[code]
It appears `err` is nil, but we're crashing when trying to access `err.Error()`. So the condition should be:
[code]

[2022-01-21 03:14] Falconx1000 commented on #9612
So `skipUpgrageChecks: true` is already enabled.
[code]
Everything that is running has the same ceph version. The only thing I can see about the PGs is that a few of them are scrubbing, I even tried pausing the scrubbing so all the PGs showed active+clean but the same result.

[2022-01-21 09:02] leseb commented on #9462
Like mentioned in the huddle if CR status are already present, adding event recording would be nice too, thanks!

[2022-01-21 09:11] svolland-csgroup commented on #9618
Applying any label would solve the issue and only require little code changes.

Leveraging the `targetLabels` feature would be a nicer solution because it uses the prometheus operator functionality that would generate appropriate configuration (instead of directly generating custom prometheus relabeling configurations), but it requires more changes:
- the monitoring labels must be added to the mgr

[2022-01-21 11:27] panteparak opened #9625 "Cannot Create Object Bucket (can't create ceph user)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Attempt to deploy Ceph Object Storage Bucket but getting error
`error syncing 'default/ceph-bucket': error provisioning bucket: Provision: can't create ceph user: no user name provided and unable to generate a unique name: failed to get ceph user "ceph-user-l2H5R5WX": NoSuchBucket tx00000dc1562d40fc4c1

[2022-01-21 16:42] BlaineEXE commented on #9625
Is the operator log chopped off? I don't see any error to go along with the error mentioned first in the description.

The only thing I see that might be an issue is that I don't see all the storageclass parameters that might be needed. The example below from the docs includes `objectStoreName`, which I see missing in your report. If you add this parameter (`objectStoreName: asia-southeast-1` in y

[2022-01-21 16:55] #9494 closed

[2022-01-21 17:31] panteparak commented on #9625
I did chopped off some part. Attached [here](https://pastebin.com/Mak6G4bM) are the complete log.

To Reference missing `objectStoreName` issue. The current version of helm chart does in fact append the KV behind the scene as specify within the docs (to my knowledge) and i've confirmed it that the parameter is specified by doing

`kubectl describe storageclass rook-ceph-bucket`
[code]

[2022-01-21 17:32] panteparak commented on #9625
@BlaineEXE

Attached below are additional details requested
`kubectl describe ObjectBucketClaim ceph-bucket`

[code]

Full Operator Log with DEBUG Log level [here](https://pastebin.com/611Bdv3N). I may commit a sin if i pasted the logs here.

[2022-01-21 18:29] #9619 closed

[2022-01-21 19:17] travisn commented on #9612
What do you see in the ceph status of the cephcluster CR? `kubectl -n rook-ceph get cephcluster -o yaml` --> ceph status section. Looks like we're hitting [this code](https://github.com/rook/rook/blob/master/pkg/operator/ceph/controller/controller_utils.go#L152-L155) that aborts the rgw reconcile if the ceph status is still initializing.

[2022-01-21 19:31] Falconx1000 commented on #9612
This is from the cephcluster CR. (just the status section, same as the rest of the cephcluster CR in the original issue)
[code]
None of the warnings are actually applicable to this cluster both the toolbox and the mgd dashboard say HEALTH_OK

[2022-01-21 19:37] travisn commented on #9612
Ok, I do see a couple other places where that same message would be raised, it seems where the rgw controller just can't run a ceph command, which should mean the ceph config is not initialized. But if other ceph commands are working ok and you've restarted the operator that error doesn't make sense to me either. @leseb any ideas?

[2022-01-21 21:42] travisn commented on #9618
How will it help the ServiceMonitor if the targetLabels support a custom label? Don't the labels already on the rook-ceph-mgr service already uniquely identify the service that prometheus needs to scrape? Or what is different about the custom targetLabels?

[2022-01-21 21:43] travisn commented on #9618
Ah, it must be as you said in the initial post that the targetLabels will help in this case:
 "This is particularly useful when the operator is managing more than one cluster, to distinguish the metrics by using more functional label meanings than the currently available labels that might serve this purpose (e.g. namespace, instance or pod)"

[2022-01-21 22:22] dimm0 commented on #6830
👀

[2022-01-22 07:35] fengjiankui121 opened #9636 "ceph-osd: Failed to delete osd deploy"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

Before executing ceph osd reweight, you should check whether the osd still exists. If it does not exist, you can delete the deploy directly.

* Cluster CR (custom resource), typically called `cluster.yaml`,

[2022-01-22 07:40] fengjiankui121 opened #9637 "ceph-mds: support modify mds livenessprobe"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently unable to modify the livenessprobe of mds, including periodSeconds, hope to support modification

**What is use case behind this feature:**

**Environment**:

[2022-01-24 05:28] thotz commented on #9625
@panteparak : from error mentioned in the log
[code]
I am assuming the following has happened, `Provision()` calls the `createCephUser()` to create the ceph-user corresponding for the obc, it tries to created random name via `genUserName()`. This API checks randomly generated name exists or not on backend via `userExists()` which fails with `NoSuchBucket` instead of `ErrNoSuchUser` and ends up in

[2022-01-24 09:21] zerkms commented on #8735
Not stale.

[2022-01-24 10:14] elchenberg opened #9639 "helm: rook-ceph: helm lint is unable to parse rolebinding.yaml"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When I run `helm lint` on the `rook-ceph` chart I get the following error:

[code]

**Expected behavior:**

[code]

**How to reproduce it (minimal and precise):**

[code]

**Environment**:

[code]

[2022-01-24 10:29] elchenberg commented on #9639
This change fixes the issue for me but I don't have time (yet) to read all the documentation/instruction in order to create a pull request:

[code]

[2022-01-24 13:47] CO-lhageman commented on #9551
Hello, its been a couple of weeks since the last message.
Is there any new documentation on this I didn't find?

[2022-01-24 13:52] leseb commented on #9551
No updates so far, this has yet to be addressed. The SC from the JSON blob could certainly have the subvolumegroup but this won't solve the `rook-ceph-csi-config` ConfigMap aspect.

[2022-01-24 13:54] leseb commented on #9612
Could you turn on DEBUG level for the operator and print the logs? Thanks

[2022-01-24 14:06] leseb commented on #9470
Thanks for the report. If we don't even have Python it will be hard to simulate an `O_EXCL` on a device. But honestly what we need is a DEBUG log from the ceph-volume inventory, to really understand why the device is marked as available.

[2022-01-24 15:00] leseb commented on #9543
Weird we had that fixed in https://github.com/rook/rook/pull/5001 already. I can repro on a local cluster too. Not sure what's missing yet.

[2022-01-24 15:07] leseb commented on #9543
@hackaholic is this a virtual machine?

[2022-01-24 15:12] travisn commented on #9637
The liveness probe actually can be modified for mds today, but it is in the cephcluster CR configuration. There is an effort in progress to move this properly to the filesystem CR with #9519, but you should not be blocked for now.

[2022-01-24 15:12] #9637 closed

[2022-01-24 15:16] Falconx1000 commented on #9612
Operator logs are here
<script src="https://gist.github.com/Falconx1000/b32e773833e247841894b37892d320e7.js"></script>

[2022-01-24 15:18] leseb commented on #9543
My repro might just be an issue with my VM, Ceph looks for udev first and falls back to `sys/block` if fails, my udev reports:

[code]

And Ceph is searching for `ID_SERIAL`, my sys path is pretty lame too:

[code]

What does your env say @hackaholic ?

Thanks

[2022-01-24 15:43] leseb commented on #9612
It looks like multisite is enabled but there is no `CephObjectZone` object?

[2022-01-24 15:52] Falconx1000 commented on #9612
I didn't intend to enable multisite so CephObjectZone hasn't been created. I will dig into that and see what comes of that.

[2022-01-24 15:58] panteparak commented on #9625
@thotz @BlaineEXE
The RGW Pod log [https://pastebin.com/dufCfhtN](url).

and for the zoning question. No i did not configure any additional zone. The attached values files in my original post should be what I've deployed.

i had previously encountered problem of not specifying the region within storage class and it cause the status of OBC to stuck as pending.
(i read somewhere within the issue and

[2022-01-24 18:55] Falconx1000 commented on #9612
Looks like that was the issue. There was a zone flag in the `cephobjectstores` CRD. Removed that option from the CRD and it recreated the rgw-store. I'll have to go and see if I can find where that got added.
Thanks for your help

[2022-01-24 18:55] #9612 closed

[2022-01-24 20:02] #8752 closed

[2022-01-24 20:55] travisn commented on #6830
@humblec Any update on this issue?

[2022-01-24 21:16] travisn commented on #9639
Thanks for pointing this out, I went ahead and opened a PR to update to the latest helm and get this fixed.

[2022-01-24 23:46] #9639 closed

[2022-01-25 01:46] Xsy2002 commented on #2338
Failed connect to 10.244.235.209:7000; 拒绝连接
部署的mgr dashboard的svc curl不通，看了下自己环境的网络，没问题，1.1版本rook，pod里也没有对应7000端口存活，

[2022-01-25 04:39] weirdwiz commented on #8701
I would like to take this up, if it's not been worked upon by someone else.

[2022-01-25 05:15] subhamkrai commented on #8701
@weirdwiz it's all yours now.

[2022-01-25 11:26] aruniiird commented on #9589
`MIN_USER_CAP_PERMISSIONS` provides a minimum set of permissions required for each item (`mgr` , `mon` or `osd`) for the given user entity(provided by `--run-as-user` flag). That means, the provided user, require at least (minimum) those permissions to do the needed operations on the given pool (provided by `--rgw-pool-prefix` flag).

The function `upgrade_user_permissions()`, checks whether the u

[2022-01-25 12:45] parth-gr commented on #9589
Thanks, @aruniiird for the information,
I don't think so `upgrade_user_permissions()` we are using for upgrading it with minimum permission as we directly create the users by running the script,
And as far as the upgrade function is concerned it should be used during the user's upgrades while upgrading.

Will be good if you can look at the changes and also review https://github.com/rook/rook/pull/

[2022-01-25 12:46] paul-bormans opened #9646 "Missing OSD's (some raw devices have "BlueStore device label") but aren't in ceph-volume raw list"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
On a "test" cluster with 10 nodes on which Ceph runs, each node having 3 additional raw devices, so expecting 30 OSD's in total we see only for some of the raw devices an OSD is run. About 50%, but each new run seems to yield different results. Also we observe that for some hosts all 3 devices are take

[2022-01-25 13:46] leseb commented on #9646
If the prepare job fails into a loop, we need the initial (very first) error log that was produced. It should be in the operator's log.

[2022-01-25 14:35] anmolsachan commented on #9618
Hey Travis. Apologies for the late reply on this.

There was no strictness for using rook.io/managedBy, but there was only one use case at that moment.

Use case: "As a Kubernetes Admin I should be able to identify the metrics coming from the cephclusters uniquely, when on the same K8s cluster I create multiple cephclusters at the same time".

Adding an extra managedBy label in the Service Monitor

[2022-01-25 15:59] paul-bormans commented on #9646
From a different test/run i'm seeing these sections in the operator logging
`Running command: /usr/bin/ceph --cluster ceph --name client.bootstrap-osd --keyring /var/lib/ceph/bootstrap-osd/ceph.keyring mon getmap -o /var/lib/ceph/osd/ceph-0/activate.monmap
 stderr: got monmap epoch 3
Running command: /usr/bin/ceph-authtool /var/lib/ceph/osd/ceph-0/keyring --create-keyring --name osd.0 --add-key AQ

[2022-01-25 16:23] paul-bormans commented on #9646
Could this be same as? : https://github.com/rook/rook/issues/8023

[2022-01-25 17:42] sbskas opened #9648 "Add support for topologyConstrainedPools to rook"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
In the ceph-csi, there is an alpha feature present since 2020 called topologyContrainedPools. It allows to select the proper pool according to some conditions specified in the storageclass.
The requested feature is to activate this feature through some attributes in the rook crd.
This request is linked

[2022-01-25 18:54] paul-bormans commented on #9646
Running rook v1.8.3 (ceph 16.2.7) yields the same results so far.

[code]
[operator2.log](https://github.com/rook/rook/files/7936372/operator2.log)

[2022-01-25 22:20] travisn commented on #9648
@sbskas Are you installing rook with the helm charts? This seems like a great use case where the building blocks are already there in the CRs, and we could enable this in the helm chart without even touching the operator code.

[2022-01-26 08:30] brovoca commented on #9566
Kindly see my comment in [#9586](https://github.com/rook/rook/pull/9586#issuecomment-1021972710).

[2022-01-26 09:33] paul-bormans commented on #9646
I have retested with:

[root@rook-ceph-osd-4-fc8d7c788-hffgr ceph]# ceph --version
ceph version 16.2.7 (dd0603118f56ab514f133c8d2e3adfc983942503) pacific (stable)

And i can confirm that:
- rook 1.8.3 / 16.2.7 still have this issue  [operator.log](https://github.com/rook/rook/files/7940459/operator.log)
- rook 1.8.3 / 16.2.7 + bluefs_buffered_io = false does not experience this issue.  [operator-n

[2022-01-26 09:40] paul-bormans commented on #8023
Notice we have also seen this issue (in fact running rook 1.7.7 we actually never seen all raw devices being picked up by ceph, usually 50% is used).

Also 16.2.7 still has this issue; i retested and seen this issue again happening on all hosts.

We did run a test with the bluefs_buffered_io = false override and i can confirm that i did not get any crashes during osd prepare and i get all osd's i

[2022-01-26 10:59] leseb commented on #9646
We might consider adding `bluefs_buffered_io = false`as a default flag then...

[2022-01-26 11:26] sprat opened #9653 "Cluster network using Multus+SRIOV: can't specify sriov resources requests/limits"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I am trying to use Multus+SR-IOV to set up a cluster network. The SR-IOV plugin requires that SR-IOV resources requests/limits are defined in the target pods. However, when I try to define the SR-IOV resources in the OSD resources definition of the cluster, they do not seem to be passed into the OSD p

[2022-01-26 11:28] sprat commented on #9653
Result of `kubectl describe` on a OSD pod:
[code]

[2022-01-26 13:12] paul-bormans commented on #9646
@leseb Well, i certainly can't make a usefull proposal about this since i'm too new when it comes to Rook and Ceph.

Notice we are running Centos7 (kernel 3.10) and we have 3 spinning disks attached to each host. Maybe that combination triggered the issue somehow.

I will be opening a ticket for this on the Ceph ticket repository as well to see if i can assist with further debugging.

One more thi

[2022-01-26 15:06] brovoca opened #9655 "Add configurable labels and annotations for VolumeSnapshotClasses created by Helm"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Allow users to define labels and annotations for the `cephFileSystemVolumeSnapshotClass` and `cephBlockPoolsVolumeSnapshotClass` through the values.yaml.

https://github.com/rook/rook/blob/4ef7981b8873c7866bf2671a77f5a961d7117cad/deploy/charts/rook-ceph-cluster/values.yaml#L401-L415

**What is use case

[2022-01-26 17:22] travisn commented on #9653
I see this is due to the [MergeResourceRequirements()](https://github.com/rook/rook/blob/78ef8768c255813f227a6e9e80f85aed9220fc97/pkg/operator/k8sutil/resources.go#L150) method that is only called by the OSDs for their more complex resources and merging with `all`. That method needs to allow for any resource, not just the cpu and limits. Other daemons such as mon, mgr, rgw, mds are not affected by

[2022-01-26 17:53] electrical commented on #8538
This is still an active issue. Can this please be reopened.

[2022-01-26 17:53] travisn commented on #8538
@leseb any more ideas?

[2022-01-26 21:01] satoru-takeuchi opened #9659 "Enable raw mode osd on disk."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Use raw mode when creating OSDs on disk.

**What is use case behind this feature:**

Raw mode is simpler than the traditional LVM mode. #7967 depends on this feature to avoid the problem written in #5939.

** Additional Information **

Raw mode osd on disk was once implemented in #7381. However, it was

[2022-01-26 22:41] travisn opened #9660 "Object Storage page does not load in the Ceph dashboard by default"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The object store pages in the Ceph dashboard are not loading. This seems a regression since #4676 was implemented to set the rgw creds as required for the dashboard. I'm not seeing what is missing now so the dashboard will work for the object store.

**Expected behavior:**
When the object store CR is c

[2022-01-27 09:01] sprat commented on #9653
Thanks for the answer and the really quick fix. Do you plan to release the fix in the next few days? We need to decide if we wait for the fix to be released or use another strategy for cluster networking in the mean time.

[2022-01-27 09:03] leseb commented on #9653
The fix will be in the next pin-point release 1.8.4, which should be the end of next week.

[2022-01-27 09:09] #9653 closed

[2022-01-27 09:34] thotz commented on #9660
@travisn can you please give details about the ceph version in which this issue is seen?

[2022-01-27 09:36] leseb commented on #9580
No modifying the config from the toolbox using `ceph config set` will actually affect all daemons.

[2022-01-27 10:17] thotz commented on #9625
The same error can be found in rgw pod log. If possible can you increase the log level for RGW pod, currently It logs will level 1

This somewhat true but not entirely, The default value for region is `us-east-1` and it works fine for the storage class. AFAIR if the region value is skipped then Rook will go with the default value.
The region value need to map with the zonegroup value(not object st

[2022-01-27 18:51] #9655 closed

[2022-01-27 18:58] travisn commented on #9625
If the cephcluster CR is deleted, it's expected that the data is destroyed. There would be a few options with the [disaster recovery guide](https://rook.github.io/docs/rook/v1.8/ceph-disaster-recovery.html) as a last resort, but it's much preferred to troubleshoot the cluster without deleting it.

[2022-01-27 18:59] travisn commented on #9660
@thotz  This is with the latest rook master and Ceph 16.2.7.

[2022-01-27 20:08] travisn opened #9670 "VolumeSnapshot integration test failing on K8s 1.18"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Two issues seen since merging #9665:
1. The snapshot test is failing on K8s 1.18. The [schema does not appear compatible](https://github.com/rook/rook/runs/4971289473?check_suite_focus=true). Do we need to bump up the supported K8s version for snapshots?
[code]

2. The test timeout may not be long enou

[2022-01-28 01:49] snagiel opened #9671 "Error mounting device (FS): running modprobe args: [ceph]"
**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**
Pod with storage class utilizing Ceph FS (e.g. Elasticsearch) starts successfully and mounts the volume.

**Deviation from expected behavior:**
Pod stuck in init phase and reports:

`Warning  FailedMount             3s (x6 over 20s)  kubelet                  MountVolume.MountDevice failed for volume "pvc-6bf68acb-b15

[2022-01-28 01:58] snagiel commented on #9671
Also per [8575](https://github.com/rook/rook/issues/8575), I saw @Preisschild's comment:

... but I don't see that documented as a variable at https://rook.io/docs/rook/v1.8/helm-operator.html?

[2022-01-28 02:12] Madhu-1 commented on #9671
@snagiel the `agent.libModulesDirPath` is for Rook flex its not applicable  for cephcsi. can you please exec into the csi-cephfsplugin container and run the mod probe manually and if it works?

[2022-01-28 03:27] snagiel commented on #9671
Hmm...

[code]

... yet when I execute this directly on the host/node (as captured in the ticket above), that path exists and the module is available. So does this suggest I need to mount the `/lib/modules/5.15.9-1.el7.elrepo.x86_64` directory as a volume for the K3D cluster for all the modules to be available? Or maybe configure it somehow in Rook similar to the `agent.libModulesDirPath` variable

[2022-01-28 04:56] Madhu-1 commented on #9671
I haven't tried k3d no idea about it.

[2022-01-28 05:25] thotz commented on #9625
@panteparak  u need mention block name as ceph client used for RGW, for ex. if your object store name is `my-store` then most probably
`[client.rgw.my.store.a]` is the block name, u get it from toolbox pod via `ceph auth ls` command

[2022-01-28 09:28] leseb opened #9673 "Add ObservedGeneration to our status field?"
Using an `ObservedGeneration` field in our status field could be a piece of useful information to share on where the controller loop has left off. For instance, if the spec is updated by the user and the controller is reconciling, we can determine that the controller is working by looking at the Progressing state but also on the `ObservedGeneration`. It will be more precise and we know that the co

[2022-01-28 10:20] #9544 closed

[2022-01-28 14:47] #9670 closed

[2022-01-28 14:53] travisn commented on #9673
Will this help us skip reconciles that aren't necessary or what is the goal? I'd rather reconcile too often than skip reconciles. Particularly on operator restart it's good to have a full reconcile of all CRs.

[2022-01-28 15:03] leseb commented on #9673
The goal wouldn't so much of skipping reconciles but giving a good indication of the state of the reconcile. Essentially if `Generation` and `ObservedGeneration` are identical we know we have achieved the desired state, if they don't match then we don't. It's a more accurate way to surface that the reconcile is up to date and that the desired state has been achieved.

Makes sense?

[2022-01-28 15:13] travisn commented on #9673
Sounds good if it's for more accurate status on the reconcile.

[2022-01-28 17:20] travisn commented on #1507
While the [node loss documentation](https://rook.github.io/docs/rook/latest/ceph-csi-troubleshooting.html#node-loss) is help for visibility and attempt to recover, reopening since this is still fundamentally an issue.

[2022-01-28 18:41] travisn opened #9679 "Daily CI smoke test suite against Ceph Master is failing when csi rbd provisioner tries to to delete an rbd image"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The [daily CI smoke test suite](https://github.com/travisn/rook/runs/4974651984?check_suite_focus=true) running against Ceph Master is failing. The [daily CI history](https://github.com/rook/rook/actions/workflows/daily-nightly-jobs.yml) shows it has been failing for the past 10 days.

The error is:
[c

[2022-01-28 19:46] idryomov commented on #9679
No, nothing that could cause something like that comes to mind.

Is `ceph --version` or `rbd --version` logged anywhere?  I couldn't find anything but the container digest and the history at https://quay.io/repository/ceph/daemon-base?tab=history doesn't go that far.

[2022-01-28 19:46] panteparak commented on #9625
@thotz thank for the reply.

I've decided to go back and looked at the earlier attached log. I've found an error code 2002
[code]

I've lookup the error and found that a mis-configuration specifically how RGW and Ceph are communicated. REF [http://lists.ceph.com/pipermail/ceph-users-ceph.com/2017-August/020101.html](here)

and within my override config i have a line that override `rgw_dns_name` to

[2022-01-28 20:28] travisn commented on #9679
The CSI driver version since 7 days ago is v3.5, which is based on Ceph v16.2.7. Prior that that update, we had the CSI version 3.4 and I believe its base Ceph image was v16.2.5. So this appears to be unrelated to the CSI version update since it started a few days before that.
@Madhu-1 other thoughts?

[2022-01-28 20:45] idryomov commented on #9679
I think I see the bug, but it's not a recent (as in a few days old) change.  It's getting late here, I'll confirm and report back tomorrow.

[2022-01-28 21:01] snagiel commented on #9671
The comment above helped point me in the right direction, and made me realize that this `csi-cephfsplugin` container required access to the list of available modules, which by default is not exposed to containers running within the k3d cluster. To fix that, you can mount it as a volume when launching the k3d cluster, e.g.

[code]

(The other volume being mounted here relates to another problem dis

[2022-01-28 21:01] #9671 closed

[2022-01-28 21:02] snagiel commented on #8575
See https://github.com/rook/rook/issues/9671 for a likely resolution.

[2022-01-28 21:36] JensErat commented on #9419
I experienced similar issues, but with `topology.kubernetes.io/region` and `topology.kubernetes.io/zone` set to the same value. In the end, I only realized what's going on when I started to read source code and running the commands manually.

This is "pretty nasty to debug", especially to those new to Ceph. I'd expect region=zone not to be too uncommon in many setups. rook printing a warning/error

[2022-01-28 22:09] travisn commented on #9419
@JensErat Thanks for taking a look at this validation. I'm thinking the following steps would be necessary:
- Query the K8s API for all the nodes and their labels.
- If there is a nodeAffinity for OSDs, filter the nodes accordingly
- Analyze the topology labels across all the nodes
- If different levels of the topology (zone, datacenter, rack, etc) have the same value as another level, return an e

[2022-01-28 22:29] JensErat commented on #9419
I have the feeling I might have catched some "more easy special case" with zone=region _on the same OSD_ -- validating this seems pretty trivial. Maybe it is even in the original poster's case (hostname=chassis in the same OSD)?

I assumed ceph's restriction is "a value must be unique among all topology keys for a given OSD". In this case, I would assume checking this during OSD "deployment" or wh

[2022-01-29 14:22] idryomov commented on #9679
Addressed in https://github.com/ceph/ceph/pull/44834.

[2022-01-29 20:02] #9219 closed

[2022-01-29 20:02] #9218 closed

[2022-01-29 20:02] #9204 closed

[2022-01-29 20:02] #9172 closed

[2022-01-31 04:59] thotz commented on #9625
@panteparak If I understand correctly, for your use case the `BUCKET_HOST` value must be the publicly available URL that gets mapped to rgw pod. If OBC is designed to consume for applications in k8s, May I ask why this is a requirement.
And to resolve your with RGW configs, honestly, I don't have an answer, because I don't have much experience in DNS resolving with in ceph

[2022-01-31 07:17] Madhu-1 commented on #9679
@idryomov We haven't seen this in cephcsi CI as we test with released ceph versions. this is only with the ceph master?

[2022-01-31 07:26] idryomov commented on #9679
Yes, only on master.  What isn't clear is that according to @travisn the CI job broke only 10 days ago -- the root cause is 11 months old.

[2022-01-31 08:38] manasjain0699 opened #9681 "rook-ceph.cephfs.csi.ceph.com_csi-cephfsplugin-provisioner-xxx External provisioner is provisioning volume for claim "claim_name"""
getting the following error while looking at logs. not able to attach the volume to the new pods.
already attached pods is working fine

![test](https://user-images.githubusercontent.com/75062591/151762262-677a1e4a-0967-49c8-852a-3b577afeb79d.jpg)

any help would be appreciated

[2022-01-31 09:16] panteparak commented on #9625
@thotz so that when I tried to generate pre-signed url, the returned url would be one that is publicly accessible. rather that an internal k8s service url. and having to rewrite the url before returning via some backend services.

[2022-01-31 10:14] thotz commented on #9660
@travisn : I tried with latest master and ceph v16.2.7, not able to reproduce this issue
![image](https://user-images.githubusercontent.com/2588766/151775601-1f3c0ccd-b83d-4528-8853-6b2165745717.png)

[2022-01-31 10:42] Madhu-1 commented on #9681
@manasjain0699 is the ceph cluster healthy? what are the Rook and cephcsi versions you are using?

[2022-01-31 14:54] travisn commented on #9032
@romoh Are you still working on #9325? Thanks!

[2022-01-31 16:38] romoh commented on #9032
yes, I'm still working on this and also key rotation support for PVC based clusters. I paused for a while after the holidays but should be resuming on that next week.

[2022-01-31 18:39] travisn commented on #9419
@JensErat Ah, you're right we can simplify this check and catch the most common mistakes. Even if it does not catch all cases, a simple check at least for the topology of a single OSD can catch if there are any duplicates for that OSD.

I'm thinking a check could be added to the [updateLocationWithNodeLabels()](https://github.com/rook/rook/blob/c5783a77cfeda17725c756f5e0e2cc1a7bd9b5a6/pkg/operator

[2022-01-31 18:40] travisn commented on #9679
@idryomov Thanks for the quick fix! We will look forward to picking that up after it's merged to verify. I can't think what would have changed in the Rook tests recently either that would have caused the failure.

[2022-01-31 21:09] threepw00d commented on #4315
I am interested in this feature and am willing to help test it.

[2022-01-31 23:43] travisn commented on #9660
@thotz What is your environment? Testing in a fresh minikube, I get the same issue.

I should have attached the mgr logs before, looks like there is an exception being hit in the mgr. Attached is the full log.
[mgr-a.log](https://github.com/rook/rook/files/7974870/mgr-a.log).
Where is it getting the endpoint `172.17.0.1:8080`? I don't see any K8s services or pod IPs with that ip.

[code]

[2022-02-01 00:54] nyarly commented on #8235
I'm encountering this issue today @travisn

[2022-02-01 01:12] josephsawaya commented on #8235
Yes I just took a look and this issue is still happening using quay.ceph.io/ceph-ci/ceph:master for the cluster and rook/ceph:master for the operator

[2022-02-01 04:39] thotz commented on #4315
@threepw00d Let me know if you want a rook image based on the above changes? You can need to update the CRs for objectstore manually. I don't have much experience in creating helms or bundle images

[2022-02-01 11:12] idryomov commented on #9679
I have just merged it.

[2022-02-01 12:45] thotz commented on #9660
@travisn:  Mine setup is with minikube but it bit old version

Even I don't have much idea. I fell like `172.17.0.1:8080` set from mgr module itself. The from `src/pybind/mgr/dashboard/services/rgw_client.py` it tries to find daemon server address and port from a `service map` of the manager, not sure how it is populated

Before the above exception there was another occurred from your logs
debug 2

[2022-02-01 15:15] travisn commented on #8235
The question is really how important it is to support this scenario. It's a significant change, so I really want to understand why it's necessary.

[2022-02-01 15:35] josephsawaya commented on #8235
Sorry I was unclear, this issue is not a concern. I believe it came up because of the work I was doing with OSD removal using the orchestrator, where if the count of a device set were to drop to 0, I would remove the device set instead of lowering the count (https://github.com/rook/rook/blob/master/Documentation/ceph-osd-mgmt.md#pvc-based-cluster). I don't think that's in the scope of the orchestr

[2022-02-01 16:15] parth-gr opened #9689 "make codegen is not working"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I can see CI failing in my 2 recent PR  https://github.com/rook/rook/pull/9550, https://github.com/rook/rook/pull/9687
With the same error, in both the PRs I am updating the CR fields.
And running `make crds` and `make codegen`.
I guess the `make codegen` is not working as expected as I cannot see `pk

[2022-02-01 20:02] #9217 closed

[2022-02-01 21:40] travisn commented on #9689
I'm not able to repro this and the CI for #9550 and #9687 looks ok now for the codegen and make crds.

[2022-02-02 00:18] nyarly opened #9691 "During Ceph upgrade, fix OMAP reporting"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Update OMAP reporting as part of Ceph upgrades.

**What is use case behind this feature:**
I've just updated a few Rook 1.6 clusters from Ceph v14 to v16. The update completed cleanly, but now all my OSDs are reporting `BLUESTORE_NO_PER_POOL_OMAP` - from what I can tell I now need to scale each OSD to 0

[2022-02-02 08:45] jmolmo commented on #9660
@travisn:  As @thotz commented the [Ceph dashboard retrieves the list of rgw endpoints](https://github.com/ceph/ceph/blob/40a71744915433ab436ff9663e040e0768b4d53e/src/pybind/mgr/dashboard/services/rgw_client.py#L60) from the ceph service_map.

The error found in the manager log points towards two different possibilities:

1. The RGW daemon is in 172.17.0.1:8080 and "something" blocks communication

[2022-02-02 11:21] epuertat commented on #9660
@travisn have you checked if running [`ceph dashboard set-rgw-credentials`](https://docs.ceph.com/en/latest/mgr/dashboard/#enabling-the-object-gateway-management-frontend) does the trick? That was a change introduced in 16.2.6 and cephadm uses it for configuring Dashboard-RGW. I just grepped the Rook repo and saw it still uses the old way (`set-rgw-api-access-key` and `set-rgw-api-secret-key`).

[2022-02-02 13:45] brovoca opened #9692 "AKS reports: Detected the use of APIs that will be deprecated in Kubernetes v1.22"
**Is this a bug report or feature request?**

* Bug Report

**Deviation from expected behavior:**

Deprecated APIs appear to be used in either Rook 1.8.0 or 1.8.3. Unable to determine the version which caused this warning to appear as we upgraded the same day, but most likely 1.8.0 given the last seen timestamp in the image below. Madhu R. mentioned that this check seems to look wrong [operator/ce

[2022-02-02 14:28] parth-gr commented on #9689
Thanks, closing as it is not an issue.

[2022-02-02 14:28] #9689 closed

[2022-02-02 14:34] travisn commented on #9692
I see, this is a `delete` command for the v1beta1 csi driver. You have the correct v1 csi driver installed, and Rook is just ensuring the old v1beta1 has been removed in case it was an upgrade. So this delete action is expected and benign.

[2022-02-02 14:42] Rakshith-R opened #9693 "CSI: CSI driver deployment and daemon set must be cleaned up when no CephCluster CR exists"
Currently Rook deploy CSI driver deployment and daemonset when it detects a CephCluster CR.
When CephCluster CR is deleted, the driver is not deleted.

https://github.com/rook/rook/blob/d24eab2229a73a844ab8c5b3db9066e52051baee/pkg/operator/ceph/csi/controller.go#L108-L125

We should be cleaning up the driver deployment and daemonsets when number of CephCluster CR is zero.

---
Scenario where it ca

[2022-02-02 14:53] travisn commented on #9692
@Madhu-1 From your comment in Slack, maybe there is something you want to follow up on with this?

[2022-02-02 14:57] Madhu-1 commented on #9692
@travisn I will test this once and make sure everything is fine and will close it.

[2022-02-02 15:10] leseb commented on #9551
@CO-lhageman we are getting therewith https://github.com/rook/rook/pull/9694, if you create an external cephFilesystemSubVolumeGroup the ceph-csi will be done. I think this should solve your use case (despite the missing piece in the python script).

[2022-02-02 17:48] ifalex commented on #9442
I have encountered the same problem. Is there any fix to this?

[2022-02-02 17:56] nyarly opened #9695 "ceph orch osd rm"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
I'd like to be able to issue `ceph orch osd rm` and clean out OSDs for storageClassDeviceSets that have been removed from a CephCluster. If #8235 is being closed, which seems reasonable, a single command to remove the stray OSDs would be useful.

**What is use case behind this feature:**

I needed to up

[2022-02-02 18:25] travisn commented on #9695
@nyarly The recommended way to remove an OSD in rook is documented in the [OSD removal](https://rook.github.io/docs/rook/v1.8/ceph-osd-mgmt.html#remove-an-osd), and more specifically there is an example of how to use the [OSD purge job](https://rook.github.io/docs/rook/v1.8/ceph-osd-mgmt.html#purge-the-osd-from-the-ceph-cluster). Using the `orch` commands really doesn't seem like the right approac

[2022-02-02 19:42] travisn commented on #9691
In the past there have been examples of where OSDs needed to be repaired, but Ceph found a way to repair them automatically, for example see #3539. As discussed in that issue, it would be quite complex for rook to detect this case and perform the operation. I'm surprised we haven't had this issue reported previously though since it should have affected upgrades to octopus/pacific long before now.

[2022-02-02 20:23] jdurgin commented on #9691
It's fine to disable the warning, the only impact is lack of finer-grained stats and missing some performance improvements for pg deletion.

Agree there are challenges to this sort of on-disk upgrade - at some point it'd be nice to have these sorts of time consuming upgrade steps automated in a way that doesn't impact the users of the cluster too much.

[2022-02-02 21:20] zerkms commented on #9443
Okay, finally holidays are over and I have upgraded the cluster to 1.8.3

Behaviour is the same for the same scenario: I change `min_size` for both data and metadata pools, and it's not altered:

[code]
[code]

[2022-02-02 22:24] travisn commented on #9660
@epuertat The `set-rgw-credentials` fails in the rook toolbox. Perhaps the way rook names the realm, zone, and zonegroup isn't compatible? Would you expect the old way to be broken though? At least those calls to `set-rgw-api-access-key` and `set-rgw-api-secret-key` are succeeding.
[code]

@jmolmo `beast` doesn't seem to be the correct setting, this isn't working for me, I don't see documentation

[2022-02-02 22:41] travisn commented on #9443
I see now where the object store controller is not updating the properties for an existing pool, except the replica count. Working on a fix now to apply the pool properties when any of the parameters are changed.

[2022-02-02 23:47] nyarly commented on #9695
I'll need to look at the purge job; reviewing those docs, I'm not sure I can reduce the number of OSDs to 0 in a set.

What happened in my case as that I'd removed the sets entirely, leaving the OSD Pods orphaned. When I tried to recreate a set with a count of 0, the change was rejected because the count was not `> 0`. It's possible I could have created with 1 and then updated to 0; I wound up pro

[2022-02-03 00:31] travisn commented on #9695
@nyarly Ok, so you really just want to remove all the OSDs in a device set? How about the following?
- Remove the device set from the cluster CR. The operator will error out as described in #8235 (temporarily)
- Remove each of the OSDs that were in the device set, according to the OSD removal instructions mentioned previously.
- The operator should no longer cause errors after the OSDs are removed

[2022-02-03 01:04] nyarly commented on #9695
Okay; I'll stick with the approach I've been following so far, which is what you've laid out here.

It does seem like is, in part, the "delete" case of declarative configuration. When an OSD is missing its corresponding configuration, it's not clear how Rook should handle that - leaving it up to the human operator makes sense.

I'm understanding you to say "this might be nice to have, but it's not

[2022-02-03 04:50] Madhu-1 commented on #9693
Yes, this is one for the solution, and am not sure this is the right one. because we cannot enforce the dependency of other components which are outside of the ceph/rook on the Rook components.

This problem is because of adding the finalizers on the CSIAddonsNode object, if the namespace is deleted the order of deletion is not defined hence the `CSIAddons controller` might get deleted first and w

[2022-02-03 04:59] Rakshith-R commented on #9693
Correction, the ownerRef does not have blockOwnerDeleteion set to true, so csidrivers will be deleted, only `CSIAddonsNode` CR will left with in terminating state with finalizer blocking deletion.

Keeping the CSIAddons part out of this, It still is a good idea to cleanup CSI driver deployment and daemonset when there is no CephCluster CR IMO.
It will prevent unnecessary consumption of resources(2

[2022-02-03 05:00] Madhu-1 commented on #9692
Looks like I overlooked something but am clear now. below is my update.
As the kubernetes version is still `v1.21.2`  which is in this case and we are still allowed the use the `v1beta1` CSI CRD as its till not been deprecated yet in the kubernetes v1.21. But if the Kubernetes cluster is v1.22 and if you are seeing this deprecation then it's a problem. Once you upgrade your kubernetes cluster to `

[2022-02-03 05:02] Madhu-1 commented on #9693
:+1: great Thanks for the correction.  but what is the point in keeping the CRD when you have no users?

It's a  different problem but we should not worry about that one. open a separate issue to track it. it might be done for a reason

[2022-02-03 05:03] #9692 closed

[2022-02-03 05:10] Rakshith-R opened #9697 "CSI: CSI driver deployment and daemon set must be cleaned up when no CephCluster CR exists"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Currently Rook deploy CSI driver deployment and daemonset when it detects a CephCluster CR.
When CephCluster CR is deleted, the driver is not deleted.

https://github.com/rook/rook/blob/d24eab2229a73a844ab8c5b3db9066e52051baee/pkg/operator/ceph/csi/controller.go#L108-L125

**Expected behavior:**

We sh

[2022-02-03 05:10] Rakshith-R commented on #9693
Opened a new issue https://github.com/rook/rook/issues/9697, closing this one.

[2022-02-03 05:10] #9693 closed

[2022-02-03 07:18] gmartynov commented on #8883
@Madhu-1 hello, no it's not, i found clone name in .meta file /cephfs/volumes/csi/<vol-name>
[clone snaps]
07aa8314-683e-4035-8dae-788a58cbaebe = csi-snap-5874942e-7b8f-11ec-882f-e6dab1b9e9d3

but command still not working, i cant see stats of clone, cant cancel it and snapshot seems is stuck in cephfs forever:
ceph fs clone status --group_name=csi myfs csi-vol-ad90f921-049e-11ec-a8dd-8e3cfc20cbd4

[2022-02-03 07:22] Madhu-1 commented on #8883
@kotreshhr any idea about the above error message?

[2022-02-03 10:37] kotreshhr commented on #8883
The metadata file stores
[code]

The user would generally know the clone name. If not, you could list all the subvolumes using below command and
find out the clone name. Please make sure to provide the correct group name where the clone is created.
[code]

[2022-02-03 12:46] raz3k opened #9698 "rook-ceph-osd-1 deployment not created"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-ceph-osd-1 deployment not created

**Expected behavior:**
rook-ceph-osd-1 deployment created

**How to reproduce it (minimal and precise):**
I only saw it twice, even after restarting the operator the osd deployment still was not created, I had to do a full uninstall.

**File(s) to submit**:

* Op

[2022-02-03 16:59] #9551 closed

[2022-02-03 18:09] travisn commented on #9698
How about the logs for the osd prepare job on nodename-2? That's where the osd-1 was likely created. The nodename-1 log shows that osd.2 was successfully created.

[2022-02-03 18:25] travisn commented on #9695
In the early days of Rook the operator would automatically remove OSDs that were no longer part of the desired state in some scenarios (using devices explicitly listed in the `nodes` section). What we found is that even if those devices were removed from the cluster CR, sometimes it wasn't intentional, and then the operator would cause data loss by automatically removing the OSDs. So our approach

[2022-02-03 18:25] #9695 closed

[2022-02-03 19:33] epuertat commented on #9660
@travisn that last error message [point to this code](https://github.com/ceph/ceph/blob/75c4960abf3b81ff7c6f36e816e1c6a29ceabc9e/src/pybind/mgr/dashboard/services/rgw_client.py#L267). As you may see it's mostly consuming the radosgw-admin from the CLI. That failure might mean that the CLI tool is not accessible there or it failed to start. The radosgw-admin command performed are:
* `realm list`
*

[2022-02-03 22:23] travisn commented on #9660
Rook does have a realm:
[code]
And three users:
[code]
Which uid is being queried?

So Rook is missing to set the RGW endpoint in the service map? Which command is that?

The Rook CI runs daily against the Ceph master build, but we don't have a way to run against a Ceph PR since we would need a published image. While the Rook CI enables the dashboard, there is no validation of the dashboard done i

[2022-02-04 08:18] efenex commented on #4896
I appear to have this issue on a newly deployed cluster after wiping it and configuring it with hostNetwork true. The deployed kubernetes cluster is created with kubespray. All 3 worker nodes appear to be able to reach kubernetes services, and volumes fail on each of them (daemonset with volume attached fails to deploy and each volume remains pending).

Server Version: version.Info{Major:"1", Mino

[2022-02-04 08:19] yleiymei commented on #4896
这是来自QQ邮箱的假期自动回复邮件。邮件已收到，我会尽快回复您!

[2022-02-04 11:12] epuertat commented on #9660
That might be it: the [expected user is `dashboard`](https://github.com/ceph/ceph/blob/75c4960abf3b81ff7c6f36e816e1c6a29ceabc9e/src/pybind/mgr/dashboard/services/rgw_client.py#L238).

I'd assume that rgw sets that itself (there have been recent changes on that part, but only on daemon names/ids).

Sure! BTW we have e2e tests (simulating user actions on a browser) that technically should be indepen

[2022-02-04 14:08] raz3k commented on #9698
Unfortunately, I had to trash those machines. I will keep an eye open if it happens again. Thanks for the quick response.

[2022-02-04 17:36] electrical commented on #8538
Hi, just a friendly ping to keep it alive and check if there are any idea's or solutions. Thanks.

[2022-02-04 20:45] travisn commented on #9660
So the `ceph dashboard set-rgw-credentials` should be creating the `dashboard` user when it isn't found, right?

[2022-02-05 20:02] #9270 closed

[2022-02-06 14:59] xuguangyuansh opened #9705 "MountVolume.SetUp failed for volume "rook-ceph-admin-keyring""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When the node where the osd is located is powered off and restarted, the osd cannot be recovered.
rook-ceph-osd-2-76fb8594bb-x7htx                         0/1     Init:CrashLoopBackOff

**Expected behavior:**
rook-ceph-osd-2-76fb8594bb-x7htx                         1/1     Running

**How to reproduce i

[2022-02-06 21:52] efenex commented on #4896
Wanted to add that this is on Ubuntu 20.04.3 LTS, and I checked for any active firewalling just in case but there is nothing besides the default docker/kubernetes rules. Every chain is set to accept. Including the complete set here in case the "KUBE-FIREWALL" drop rules could prove relevant (but unlikely since there are no hits):

[code]

[2022-02-07 10:38] leseb commented on #9705
The OSD process terminated because it received a termination signal, I don't think this is related to the `MountVolume.SetUp failed for volume "rook-ceph-admin-keyring"`. Can you send a deployment describe so we can see if maybe the probe is failing?

[2022-02-07 11:07] Madhu-1 commented on #8538
The above error will occur if the ceph cluster is not healthy of cephcsi is not able to reach the cephcluster.@electrical Do you check the [network connectivity](https://github.com/rook/rook/blob/master/Documentation/ceph-csi-troubleshooting.md#network-connectivity) b/w cephcsi and the ceph cluster? If it's working do you have the filesystem created?

[2022-02-07 11:33] CO-lhageman commented on #9551
How and where do you specify the Subvolumegroup when consuming it? Havent found that part in the docs yet

[2022-02-07 14:34] #9443 closed

[2022-02-07 14:51] travisn opened #9709 "Canary arm64 daily integration test is skipping OSD creation since udevadm is missing"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The Canary arm64 daily integration test is failing to create OSDs for the past week or two. The latest [log](https://github.com/rook/rook/runs/5086535249?check_suite_focus=true) shows this status waiting for the cluster to start:
[code]

The operator log shows that no OSDs were created, but the key is

[2022-02-07 15:22] leseb commented on #9709
@guits do you know if new images have been rebuilt for arm64? Thanks!

[2022-02-07 16:00] guits commented on #9709
i've just pushed new images. That should work

[code]

[2022-02-07 16:25] travisn commented on #9709
@guits Thanks! I'll just wait until the next CI run to close this issue.

[2022-02-07 16:32] electrical commented on #8538
Current versions because we did some upgrades since the original post:

Ceph: 16.2.6
Rook: 1.7.5
Kubernetes: v1.19.15

[2022-02-07 19:29] epuertat commented on #9660
Looks so... Since it's not there, it might mean that the radosgw-admin command didn't work (permissions, roles, ?), but in that case we would get a "Unable to create rgw use".

[2022-02-07 20:02] #9194 closed

[2022-02-07 20:02] #9011 closed

[2022-02-07 20:02] #9001 closed

[2022-02-07 20:02] #8761 closed

[2022-02-08 14:31] electrical commented on #8538
Updated log level to 5 and got this for log info: https://gist.github.com/electrical/498d5bfcf230ccbf1282d047969de1c1

[2022-02-08 15:11] Madhu-1 commented on #8538
@kotreshhr @ajarr can someone from cephfs help here?

[2022-02-08 15:31] leseb commented on #9551
Can you clarify the question? You need to create a CR and Rook will handle the rest. What's missing is the script creating the subvolumegroup in the external cluster. You can create it manually and use the same name for the CephFilesystemSubVolumeGroup CR name.

[2022-02-08 15:46] Madhu-1 commented on #9551
@leseb the handling of storageclass creation with proper cluster-ID is missing in doc or external script? without knowing what clusterID they need to use in storageclass makes it hard to consume this one.

[2022-02-08 16:08] leseb commented on #9551
The clusterID is in the CephFilesystemSubVolumeGroup status. But true, it's not written anywhere :), will try to change that.

[2022-02-08 16:51] travisn commented on #4315
@thotz How about if you resolve the merge conflicts in #8750 then push an image to dockerhub that can be tested? Thanks

[2022-02-08 17:00] CO-lhageman commented on #9551
ooh ok, so the cluster-id changes in the StorageClass, there is no additional parameter.
So if my subvolumegroup looks like this:
[code]
I use the cluster ID generated by this in the Storage Class. Instead of `rook-ceph-external` it is now `4037d54a320a2d81d241414546f4e106`

Yes that was exactly my question, I had no idea this is how it works.
Is the ClusterID generated by the subvolumegroup predi

[2022-02-08 17:26] enajeeb opened #9711 "Support DoesNotExist and NotIn node selector operators in NODE_AFFINITY"
**Feature Request**
The current implementation of [GenerateNodeAffinity](https://github.com/rook/rook/blob/master/pkg/operator/k8sutil/node.go#L324-L328) support following matchExpressions operators:
- key=value (operator: In)
- key=value1,value2 (operator: In)
- key (operator: Exists)

Feature request is to also support `DoesNotExist` and `NotIn` node selector operator.
- !key (operator: DoesNotE

[2022-02-08 23:42] bzakhar opened #9712 "Unable to upgrade from v1.6.7 to any later release - OSD pods can't initialize"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Current Rook Operator version is 1.6.7. Running

`helm upgrade -n rook-ceph rook-ceph rook-release/rook-ceph --version v1.6.8`

or any other later version. As part of the upgrade OSDs are recreated and enter CrashLoopBackOff due to

[code]

in `activate` container and OSD pod can't start. Rolling back

[2022-02-09 11:42] leseb commented on #9551
Yes, if you are familiar with Go: https://github.com/rook/rook/blob/4c637858676dad5b5c7e2f3ddf2d87caa6b5d53b/pkg/operator/ceph/file/subvolumegroup/controller.go#L332-L335

Otherwise, it's a truncated (first 16 bytes) sha256 sum of `cephFilesystemSubVolumeGroup.Namespace-cephFilesystemSubVolumeGroup.Spec.FilesystemName-cephFilesystemSubVolumeGroup.Name`.

Hope that helps. Thanks!

[2022-02-09 13:50] TomHellier opened #9714 "operator panic on v1.8.4"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Operator crashing

**Expected behavior:**
Operator doesn't crash

**How to reproduce it (minimal and precise):**

I've attempted to deploy a v1.8.4 version of rook to a fresh k8s cluster,

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
[code]
* Ope

[2022-02-09 14:38] leseb commented on #9714
I'm not sure how we missed it in the CI but here is the fix for this https://github.com/rook/rook/pull/9715

[2022-02-09 16:09] AlexisDucastel opened #9716 "Add debug info to explain that node are not eligible to have OSDs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently operator does have an information log to show how many nodes are eligible for OSDs :
[code]

We think that it would help users to add a debug log level with every node found, indicating if it is eligible or not. (There is a similar behavior when node is under taint constraint (Ex : `ceph-clust

[2022-02-09 16:11] mhcastro commented on #3485
@leseb at all, I think this issue needs to be re-opened. Noticed the error again ... but now on OpenShift 4.8.25. I used the latest code base from yesterday, Feb 8th 2021.

[code]

[2022-02-09 16:58] mhcastro commented on #3485
Found the fix. Need to change the `ROOK_HOSTPATH_REQUIRES_PRIVILEGED` value from `false` to `true` in the `operator.yaml`.

[2022-02-09 18:03] xuguangyuansh commented on #9705
This issue could be kept temporarily, and I am trying to reproduce it recently. Next time this happens, I'll come back and add the `describe` information.

[2022-02-09 21:38] AlexisDucastel commented on #9716
Just awesome !!

I think "INFO" level should be better, in production it would be better to not have to go DEBUG, else it would really overhelm with unwanted logs :)

Thanks a lot for your reactivity !!

[2022-02-09 22:18] travisn commented on #9712
@bzakhar You must have an older version of rook that created the OSDs with different auth so we will need to find how to update the auth so you can upgrade.

What does `ceph auth ls` show for your OSD? In my test cluster the OSD auth shows:
[code]

[2022-02-09 22:32] bzakhar commented on #9712
@travisn Weird as it is, I'm getting this error:

[code]
but the cluster operates normally.

[2022-02-09 23:14] travisn commented on #9712
Actually, try it from the toolbox instead of the osd pod

[2022-02-09 23:16] travisn commented on #9709
The daily runs are passing now, thanks

[2022-02-09 23:16] #9709 closed

[2022-02-09 23:30] bzakhar commented on #9712
[code]
So looks like mgr caps are missing altogether. This is the same for all 81 OSDs in the cluster...

[2022-02-09 23:51] bzakhar commented on #9712
Here's what I did to make my osd.N caps to look like yours:

`for i in {0..80}; do ceph auth caps osd.$i mon 'allow profile osd' mgr 'allow profile osd' osd 'allow *'; done`

I then initiated helm upgrade to 1.6.8 and this time OSD pods are restarting without errors.

Thanks for pointing me in the right direction!

Bob

[2022-02-09 23:51] #9712 closed

[2022-02-09 23:51] travisn commented on #9716
Ok, I updated it so the messages would always be logged at info level when they are skipped. I guess today I needed to work on something simple and useful. :)

[2022-02-09 23:54] travisn commented on #9712
Ok great to hear it's working now! To understand what clusters might be affect, do you recall from what version of Rook you first created the cluster?

[2022-02-09 23:57] AlexisDucastel commented on #9716
Maybe that's not the feature of the year, but I bet it will at least save a lot of time for every admin like us searching why the hell this damned node is not seen by operator :D

I think this issue can be closed as it is 100% covered by your actions :)

Thanks again :)

[2022-02-10 00:01] bzakhar commented on #9712
It was almost two years ago, Helm didn't even retain the history that far, but I seem to recall it was v1.4.x, not sure about the x. Ceph itself was upgraded multiple times, all the way from Mimic if memory serves me right.

[2022-02-10 06:45] themonaminor opened #9719 "ceph cluster does not created properly"
**hi attached some data disk to my k8s nodes and ran crds.yaml, common.yaml, operator.yaml and cluster.yaml.

first time everything got deployed , i got mons, mgrs, osds all working fine.

then i deleted all crds, common.yaml, operator and cluster.yaml and again tried to deploy the cluster.
but this time it does not deploy the cluster properly.

here are the listed components of ceph only got depl

[2022-02-10 08:02] toabi commented on #9714
I upgraded an existing 1.8.2 to 1.8.4 and I'm seeing the same issue. Glad there's a fix or it and I only did it in dev-env :D

[2022-02-10 09:48] raj-katonic commented on #5821
Facing the same issue, every osd pod is consuming 4GB RAM on average. Please can anyone let me know why it needs so much ?

[2022-02-10 12:40] LiZhang19817 commented on #4780
how to find the "id_rgw => is the id arg of each rgw command line"

[2022-02-10 15:10] mhcastro opened #9721 "Failed to provision volume with StorageClass "rook-cephfs""
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**
When creating a PVC in OpenShift using the sample Rook/Ceph cluster quick start published at https://github.com/rook/rook/blob/master/Documentation/quickstart.md, the PVC is still in Pending state and it is throwing the following event error.

[code]

**Expected behavior:**
PVC to be created and bound to

[2022-02-10 15:39] sebastianriese commented on #9088
I started working on the code and I discovered the issue, that go-ceph does not support all required RGW Admin Ops calls that are needed to implement the changes from the design document.

I've started [a discussion there](https://github.com/ceph/go-ceph/discussions/641) and hope to implement the required features.

[2022-02-10 16:44] travisn commented on #5821
@raj-katonic Did you set memory requests/limits on the OSDs? See [this topic](https://rook.github.io/docs/rook/v1.8/ceph-cluster-crd.html#cluster-wide-resources-configuration-settings). The recommended memory is generally 4GB per osd in production, but smaller clusters could set it lower if needed. But if these limits are not set, the osd will potentially use a lot more memory since it is not awar

[2022-02-10 18:17] travisn commented on #9719
If the reinstall fails to create the mon quorum, likely some data on the hosts wasn't cleaned up. Please verify the host path was cleaned up, and the disks from the OSDs were wiped. See the [cleanup guide](https://rook.github.io/docs/rook/v1.8/ceph-teardown.html#delete-the-data-on-hosts) for more details.

[2022-02-11 04:49] Madhu-1 commented on #7035
@leseb are you working on this one? if not I can take care of this one.

[2022-02-11 05:26] Madhu-1 commented on #9721
As @travisn mentioned you have not created any filesystem. please create the filesystem and try again. feel free to close it if everything works as expected.

[2022-02-11 11:24] Placeboy opened #9731 "rook-ceph-operator pod is always ContianerCreating"
Hey, I'm having some trouble here.
I typed commands below:
`kubectl create -f crds.yaml -f common.yaml -f operator.yaml`

And my pod is always in the status: "ContainerCreating"

![image](https://user-images.githubusercontent.com/95399864/153582631-2d943e8d-45d0-4ae9-a9f3-c1e691669486.png)

When I describe this pod, I got this:
[code]

It seems that there is something wrong with my cni.However, my

[2022-02-11 12:36] degorenko commented on #6291
Reproduced on v1.7.6 - W/A restart Rook operator pod.

[2022-02-11 14:44] degorenko commented on #6291
So in logs i see next:

[code]

And there are no other tries to re-run this csi detection.

[2022-02-11 15:06] degorenko commented on #6291
Looks like this issue should be totally resolved by https://github.com/rook/rook/pull/8607 in Rook v1.8+.

[2022-02-13 20:02] #9348 closed

[2022-02-13 20:02] #8753 closed

[2022-02-14 06:24] zhucan commented on #3220
The same issue on rook v1.8.2

[2022-02-14 06:25] zhucan commented on #3220
![image](https://user-images.githubusercontent.com/13997135/153811161-0afccbc6-1594-48b6-99fa-4ad511ff0e05.png)

[2022-02-14 07:54] zhucan commented on #3220
Can not resolve the problem.

[2022-02-14 08:56] zhucan commented on #3220
It doesn't work for me.

[2022-02-14 09:34] stemid commented on #3133
Sorry for adding on to this thread but I found it through google having the same issue as everyone else, I wasn't aware that Rook Ceph CSI driver could not do volume expansion.

The methods listed do not work for me using kubernetes 1.21 and rook ceph release 1.8.

This method is for when you have a running Pod with the PVC mounted, otherwise you could probably use rbd map to mount the PVC inside

[2022-02-14 12:44] mhcastro commented on #9721
Thanks folks, this looks good now. I added the Filesystem per recommendation and it is now working.

[2022-02-14 12:44] #9721 closed

[2022-02-14 12:44] mhcastro commented on #9721
Closing the issue as it was solved based on the recommendation above.

[2022-02-14 13:53] mulbc opened #9736 "Allow replica=1 replicated pools"
https://github.com/rook/rook/blob/07f101e1576828c832fd76843f510b0de3b009bf/pkg/operator/ceph/pool/validate.go#L131

Allow for p.Replicated.Size == 1 and p.Replicated.ReplicasPerFailureDomain == 1 at the same time for replica=1 work