[2021-04-18 19:22] jmmaloney4 opened #7675 "Error when applying v1.6.0 `crds.yaml` to `1.5.9` cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When applying the `crds.yaml` file from the `v1.6.0` tag, get a large number of errors. Full output is attached here: [log.txt](https://github.com/rook/rook/files/6332034/log.txt).

[code]

**Expected behavior:**

`crds.yaml` should update without issue.

**How to reproduce it (minimal and precise):**

[2021-04-19 01:52] travisn commented on #7675
@jmmaloney4 This looks like the same as #7659. For now the workaround is to manually remove `preserveUnknownFields` from the CRDs before upgrading, still looking for an automated fix for this...

[2021-04-19 01:52] #7675 closed

[2021-04-19 03:56] taupiknr26 commented on #4985
hello can you please tell me how you restart the pods, on my cluster just pod and daemonset, there is no deployment for rollout. Thanks for your help

[2021-04-19 06:50] tibbe commented on #7661
Where exactly in `crds.yaml` is that? Greping for `minimum: 1` doesn't make it easy to find (due to huge CRD definitions in that file).

[2021-04-19 06:51] tfedyanin commented on #5938
I got the same problem on rook 1.5.4 after change flannel to Weavenet.
Thanks to @lotress, `patch-mds.yaml` fixed this problem.

[2021-04-19 09:06] mankuen commented on #7659
I encountered the same situation, which was also solved by remove spec.preserveUnknownFields from *.ceph.rook.io CRDs manually. It seems to be left over.

[2021-04-19 10:22] Madhu-1 commented on #7575
in cephcsi, we don't deal with the SELinux labels? AFAIK  it is done by the kubelet.

[2021-04-19 11:13] lotress commented on #5938
@tfedyanin

Not later than Rook 1.5.8 included equivalent patch and it can be managed by Rook operator. So you shouldn't patch manually, instead you should update Rook to a new version.

[2021-04-19 12:08] leseb commented on #7670
At first glance, it looks like the JSON output changed on the c-v side.

[2021-04-19 12:10] christianhuening commented on #7670
"c-v side"?

[2021-04-19 12:17] cyrilcros commented on #7661
@tibbe See https://github.com/rook/rook/pull/7662/files if needed.

[2021-04-19 12:20] leseb commented on #7670
ceph-volume :)

[2021-04-19 12:35] leseb commented on #7655
It seems to be failing on `[2021-04-16T00:00:25.209Z] === container build build-7a6af924/nfs-arm64`, why are we running the CSV gen on nfs anyway?

[2021-04-19 13:42] tibbe commented on #7671
I've debugged a little further: `/bin/ganesha.nfsd` seems to be simply missing in the arm64 image but it's present in the amd64 image. Seems like a broken arm64 release.

[2021-04-19 13:45] leseb commented on #7671
Where things different in 1.5?

[2021-04-19 13:48] tibbe commented on #7671
This is the first image of ceph I've ever tried so I don't know (yet).

[2021-04-19 15:15] leseb commented on #7671
Ah, so you might also be the first one to try ceph-nfs on arm64 :-). The answer might be as simple as they are no arm64 builds.

[2021-04-19 15:16] leseb commented on #7671
@dsavineau do you know?

[2021-04-19 15:18] tibbe commented on #7671
The issue persists in ceph/ceph:v16.2.0. There's definitely an arm64 image and someone must have gone through the effort to at least create it. I might be the first person to actually test it however. :)

[2021-04-19 15:26] tibbe commented on #7671
It struck me that since this is a generic "ceph" image rather than a NFS-specific one it could well be that there's just a "build rule" missing for ganesha somewhere in the build system.

[2021-04-19 15:35] tibbe commented on #7671
Also filed https://github.com/ceph/ceph-container/issues/1878 as I'm unclear who's responsible for building these images.

[2021-04-19 15:43] dsavineau commented on #7671
Yes I do.

nfs-ganesha packages aren't available on arm64 architecture on download.ceph.com, we explicitly disable ganesha on arm64 during the container image build.

[2021-04-19 15:49] #7671 closed

[2021-04-19 17:25] ClaudiuLSH commented on #7660
Everything started from this:
[code]

Which is in the docs [here](https://rook.io/docs/rook/v1.6/ceph-object.html).

That causes this error:
[code]

If I use the example located at: `rook/cluster/examples/kubernetes/ceph/object.yaml` everything works fine.

So the initial report from this issue is due to this error, this worked fine with rook v1.5.9 and I did not bother to check logs of the operat

[2021-04-19 17:25] #7660 closed

[2021-04-19 17:26] travisn commented on #7655
Yes, it's just the output entangled from `make -j2` with the nfs build in parallel of the ceph csv generation being completed.

[2021-04-19 18:29] travisn commented on #7672
@thotz This should be fixed by #7331 or is that a different issue?

[2021-04-19 18:33] BlaineEXE commented on #7660
I also believe this is a duplicate of #7661 .

[2021-04-19 20:02] #6946 closed

[2021-04-19 21:32] tibbe commented on #5960
I definitely have `dashboard: True` as the service exists but looking at open ports in the mgr pod doesn't show the dashboard port:

[code]

[2021-04-20 08:39] #7203 closed

[2021-04-20 09:27] leseb opened #7695 "ci: add integration test for ceph object store TLS"
Set up rgw with TLS needs to be added in the CI.

[2021-04-20 11:15] thotz commented on #7672
Yeah it should be fixed by above PR

[2021-04-20 13:06] chrispduck opened #7696 "Crashes Docker Kubernetes"
### Overview
Following the quickstart guide, I tried to install release 1.6 to my a Docker for Desktop Kubernetes cluster. After applying cluster.yaml, the kubernetes cluster ceases to function, with basic kubernetes commands such as ` kubectl get pods ` timing out or returning internal errors (see below).

After applying the appropriate rook-ceph YAML files, the kubectl command stopped working
[c

[2021-04-20 15:20] #6957 closed

[2021-04-20 15:21] #7669 closed

[2021-04-20 15:46] #7657 closed

[2021-04-20 16:13] leseb commented on #7655
I think this could be solved by just running `make crds` before hand.

[2021-04-20 16:22] SleepingShell commented on #6805
Hi is this feature still being planned? I see it is tagged "dontfix" in the v1.6 milestones @sp98

[2021-04-20 16:47] leseb commented on #7672
Closed by https://github.com/rook/rook/pull/7331. Dup of https://github.com/rook/rook/issues/7288

[2021-04-20 16:47] #7672 closed

[2021-04-20 16:50] leseb commented on #7658
I think the issue goes away if you run `make crds`, can you confirm?

[2021-04-20 16:55] tibbe commented on #7671
Filed an issue against ceph: https://tracker.ceph.com/issues/50437

[2021-04-20 16:58] SleepingShell opened #7700 "Cannot add new OSDs to cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** Cannot add new devices/OSDs to the cluster. Unsure if this is the same problem as #7121.

**Expected behavior:** Ability to add new devices to CephCluster

**How to reproduce it (minimal and precise):**

I have my devices mapped with a udev rule to provide human-friendly names. For example:
[code]

**F

[2021-04-20 17:23] travisn commented on #7655
Isn't `make crds` already being triggered? Or you're saying it should be part of a separate make execution?

[2021-04-20 17:35] aasraoui opened #7701 "rook-ceph: failed to configure local ceph cluster with 1 monitor node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook ceph fail to create ceph cluster with 1 monitor.
**Expected behavior:**
Ceph cluster
**How to reproduce it (minimal and precise):**

Configure cluster.yaml with 1 mon node and enable host networking

cluster.yaml config snapshots:

network:
    # enable host networking
        provider: host

mon:

[2021-04-20 17:46] rohan47 commented on #7563
@mazocode Currently, we are not applying the public network to the rook-ceph-operator pod on purpose as we know that the pod network is sufficient for the rook-ceph-operator pod. Also can you please point out a use-case where it is a must that rook-ceph-operator uses the public network?

It will be good to have the operator pod use multus annotations.
It can be done in two ways:
1. Apply the publi

[2021-04-20 18:29] BenoitKnecht commented on #7411
I can confirm that Ceph 15.2.10 fixes this "insufficient free space" (with the number of extents off by one) issue. https://tracker.ceph.com/issues/47758 was fixed in ceph/ceph#39271, which made it into `v15.2.10`.

It would be nice if https://github.com/rook/rook/blob/release-1.5/cluster/examples/kubernetes/ceph/cluster.yaml#L24 was updated to 15.2.10, I'm not sure why it has been, as part of 396

[2021-04-20 18:34] #7448 closed

[2021-04-20 18:44] travisn commented on #7701
@aasraoui What failure are you seeing? I was able to bring up a minikube cluster with host networking and didn't see any immediate issues.

[2021-04-20 19:06] aasraoui commented on #7701
from the operator log:
 ceph-cluster-controller: failed to reconcile. failed to reconcile cluster "rook-ceph": failed to configure local ceph cluster: failed to create cluster: failed to start ceph monitors: failed to start mon pods: failed to check mon quorum a: failed to wait for mon quorum: exceeded max retry count waiting for monitors to reach quorum

ceph operator + monitor log attached:

[ce

[2021-04-20 20:00] mazocode commented on #7563
I am trying to expose a rook-ceph cluster for acces from different clusters on the network. They all can talk trough a dedicated storage network (attached using multus) and trough the cluster network. The POD network does not get routed outside a cluster.

There are several issues we've encountered when trying to expose the ceph services for access from outside the cluster. This particular issue r

[2021-04-20 20:02] #6834 closed

[2021-04-20 21:04] travisn commented on #7696
Not sure you'll want to run Rook with docker in desktop anyway. Rook requires dedicated disk(s), which if you are just testing would be much safer in a VM. Ceph and Windows also don't get along, but not sure that plays into this issue since it's still on the linux kernel.

[2021-04-20 21:05] travisn commented on #6805
yes, still a good feature, the stale bot just caught up with it

[2021-04-20 21:15] travisn commented on #7700
@SleepingShell If you're trying to specify the same `metadataDevice` to be used by additional OSDs created at a later time, this looks the same as #7121.

[2021-04-20 21:16] #7670 closed

[2021-04-20 21:18] travisn commented on #7701
It seems the operator can't connect to the mon to confirm quorum is initialized. Do you have a firewall enabled? Or this [troubleshooting topic](https://rook.github.io/docs/rook/v1.6/ceph-common-issues.html#monitors-are-the-only-pods-running) may help.

[2021-04-20 21:25] aasraoui opened #7706 "failed to set login credentials for the ceph dashboard"
**Is this a bug report or feature request?**
* Bug Report
operator fails to initialize dashboard
op-mgr: failed modules: "dashboard". failed to initialize dashboard: failed to set login credentials for the ceph dashboard: failed to set login creds on mgr: failed to complete command for set dashboard creds
**Deviation from expected behavior:**

**Expected behavior:**
Cluster should be accessible vi

[2021-04-20 22:00] travisn opened #7707 "Github actions for helm test suite in master are consistently failing"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The helm suite is almost always failing in master on every version of K8s for the new github actions.
See [this example master test run](https://github.com/rook/rook/runs/2394844171?check_suite_focus=true).

**Expected behavior:**
Tests in master should pass consistently.

**How to reproduce it (minima

[2021-04-21 00:14] rohan47 commented on #7563
Have you tried appling the annotations manually to the rook-ceph-operator pod in the `rook-ceph-operator` deployment to confirm applying public network to the rook-ceph-operator pod works as a workaround

Something like:
[code]

Okay, so we need a fix for this.

[2021-04-21 00:34] DWSR commented on #6132
Running into this as well: Custom Resource and logs from the `mgr` and `osd` pods: https://gist.github.com/DWSR/35c22f7773bb827d61bfde593f0cdc04

Debug logs from an OSD pod: https://gist.github.com/DWSR/9a61a254f74fc3ac2e36548de6979bbc

[2021-04-21 04:05] subhamkrai commented on #7706
@aasraoui please paste debug logs and the above log is not complete. thanks

[2021-04-21 07:19] sp98 commented on #7244
This was fixed in https://github.com/rook/rook/pull/7128.  @mecseid  do you still see this issue?

[2021-04-21 13:48] vaisov commented on #6439
I'm getting the same issue on freshly installed cluster:

[code]

[2021-04-21 13:56] sp98 commented on #6439
you don't seem to have any OSDs running in the cluster.

[2021-04-21 14:04] aasraoui commented on #7706
@subhamkrai operator log attached here ..

[operator-full-log.txt](https://github.com/rook/rook/files/6351423/operator-full-log.txt)

[2021-04-21 14:15] aasraoui commented on #7701
@travisn yes firewall is enabled and 6789 and 3300 ports are open . i already re-started the cluster with 3 mons and they are in quorum. Perhaps this happens only with 1 mon..

[2021-04-21 14:34] subhamkrai commented on #7706
@aasraoui sorry if I was not clear, can you please change https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L407 this to `DEBUG`

[2021-04-21 15:25] travisn commented on #7701
Mons are created one at a time and join quorum before adding the next one. So if 3 mons worked, 1 mon must work as well. Something else must be happening to prevent the 1 mon case.

[2021-04-21 16:50] travisn commented on #6132
@DWSR Can you also share the mon logs after increasing the mon log level?

[2021-04-21 17:08] aasraoui commented on #7706
is operator restart needed to capture the debug log ?

[2021-04-21 17:11] travisn commented on #7706
When you update that setting on the operator deployment, the operator will automatically restart

[2021-04-21 18:32] travisn commented on #7707
Connecting to a [test runner](https://github.com/rook/rook/runs/2402689275?check_suite_focus=true), I see the osd pod is crash looping with this log:

[code]

@leseb it seems to be the same race condition you were investigating?

[2021-04-21 19:46] satoru-takeuchi commented on #7707
Yes it's very similar to what he investigated (#7405) and if it's the same problem, it would be fixed by my recent PR (#7708 ). Hmm?

[2021-04-21 20:02] #6973 closed

[2021-04-21 20:31] tibbe opened #7720 "Allow the NFS service to be configured as a load balancer"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow for the NFS service, generated implicitly by the NFS operator from the NFS configs [described in Network Filesystem (NFS)](https://rook.io/docs/rook/v1.6/nfs.html), to be configured as a load balancer with an IP set through `spec.loadBalancerIP`. As a consequence of allowing an external IP, the ge

[2021-04-21 21:09] travisn commented on #7707
The test build I linked in the previous comment already had the fix for #7708, so it must be a different issue

[2021-04-21 22:46] aasraoui commented on #7706
i had to re-start the operator to see any changes in the log  , now the mons are not in quorum!!! attached are the logs:
[operator-log-full2.txt](https://github.com/rook/rook/files/6354321/operator-log-full2.txt)

[2021-04-22 00:37] billimek commented on #6776
FWIW, The [Velero](https://github.com/vmware-tanzu/helm-charts) project helm chart is handling upgrading of helm-installed CRDs using a special kubernetes job, via this PR: https://github.com/vmware-tanzu/helm-charts/pull/246.

Granted, the job is leveraging the `velero` CLI, but it's an interesting take nonetheless and may provide some inspiration to this issue on the rook side.

[2021-04-22 01:25] DWSR commented on #6132
@travisn https://gist.github.com/DWSR/86cce02894909066a96c3456605a282f

[2021-04-22 12:09] leseb commented on #7707
I think this https://github.com/rook/rook/pull/7716/commits/a59df3c4dd7a2eb43d6ee878955eacf876a2bf48 (thanks @subhamkrai !) will fix the issue.

[2021-04-22 12:12] leseb opened #7727 "ci: flapping mirroring test"
The mirroring test is flappy since we have 2 OSDs with the same ID on the same machine, thus `ceph-volume raw list` is confused and only reports one of them. Sometimes we get the correct one sometimes we get the one from the other cluster.

I have a patch here https://github.com/ceph/ceph/pull/40979 which will hopefully make it in v16.2.2.

[2021-04-22 12:23] leseb opened #7728 "ci: I/O errors in runners?!"
Seen in https://github.com/rook/rook/pull/7716/checks?check_run_id=2409905847

[code]

Runner is still alive so I'm looking into this.

[2021-04-22 12:51] leseb commented on #7728
[code]

[2021-04-22 12:58] leseb commented on #7728
@liewegas any idea?

[2021-04-22 13:18] ruruiye opened #7731 "Failed to create cluster with Rook 1.6 and Ceph 15.2.9"
I am trying to create a new cluster for bear metal environment for 3 nodes. I use helm chat for the operator, and create a cluster with cluster.yaml. the 3 nodes has 3 disks, and I want to use the /dev/sdc, which is a large disk about 220 TB, the under hold is raid 5. but the cluster failed at prepare OSD job.

**Is this a bug report or feature request?**
* Bug Report
[code]

**Deviation from expe

[2021-04-22 13:24] leseb commented on #7731
Looks like a ceph-volume issue, already reported here: https://tracker.ceph.com/issues/43398.
There is nothing we can do in Rook until that tracker gets fixed.

[2021-04-22 13:24] #7731 closed

[2021-04-22 13:26] ruruiye commented on #7731
@leseb  thanks! exactly the problem!

[2021-04-22 13:37] leseb commented on #7655
@subhamkrai PATL.

[2021-04-22 14:13] leseb commented on #7707
All GREEN! https://github.com/rook/rook/actions/runs/774386033 so indeed it is fixed!

[2021-04-22 14:13] #7707 closed

[2021-04-22 14:49] linkvt opened #7732 "CRDs require erasure-coded BlockPools to have replicated.size: 1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Despite using an erasure coded blockpool the CRD requires a min of 1 replica.

**Expected behavior:**
When erasure coding is used the min replica size of a BlockPool should be 0. I guess the minimum should be set to 0 as it was done before with another resource in https://github.com/rook/rook/pull/4833

[2021-04-22 15:18] linkvt opened #7734 "Duplicate OSDs for already included disks/partitions with rook 1.6"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook create OSDs for partitions of disks that are already included in the cluster with the new non-LVM method.
Also the operator is constantly reconciling.

**Expected behavior:**
rook should include disks once and not create new OSDs for the partitions it created earlier, also the operator should stop

[2021-04-22 15:42] dbarreda commented on #3491
Same issue with

Using 15.2.9 (357616cbf726abb779ca75a551e8d02568e15b17)
Running on Openshift 4.6.22
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0+d46d32f", GitCommit:"d46d32fbc3f0c35d2855a4589062aaf6335acd48", GitTreeState:"clean", BuildDate:"2021-03-11T01:16:36Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}

[2021-04-22 16:40] aasraoui commented on #7706
any other logs we need to capture ??

[2021-04-22 16:59] travisn opened #7736 "Option for auto-expansion of the volume backing the mons"
**Is this a bug report or feature request?**
* Feature Request
To track the suggestion in the [mon PVC expansion](https://github.com/rook/rook/pull/7715#pullrequestreview-642449588), Rook should automatically expand the mon PVC if it is filling up.

We could treat the `volumeClaimTemplate.storage` as the initial size of the PVC, then have new settings to control the auto expansion such as:
[code]

[2021-04-22 18:11] #7462 closed

[2021-04-22 18:11] #7534 closed

[2021-04-22 18:35] linkvt commented on #7734
@travisn thanks for the quick response, will try to provide everything you need.
As the operator is always reconciling this is the current log output of the prepare container of an affected node, if required I can try to get the logs of the first prepare containers before they are being recreated.

<details>
<summary>prepare logs</summary>

[code]

</details>

I had the following setup, all nodes

[2021-04-22 18:40] alimaredia commented on #7658
@leseb it does not :(. I get the same output:
[amaredia@fedora30alirook ~]$ git clone https://github.com/rook/rook.git ; cd rook
Cloning into 'rook'...
remote: Enumerating objects: 76392, done.
remote: Counting objects: 100% (1796/1796), done.
remote: Compressing objects: 100% (768/768), done.
remote: Total 76392 (delta 1064), reused 1490 (delta 940), pack-reused 74596
Receiving objects: 100% (763

[2021-04-22 20:24] satoru-takeuchi commented on #7707
Oh, my PR was insufficient, I should read code carefully. Thanks @subhamkrai !

[2021-04-22 20:25] satoru-takeuchi commented on #7049
I've already submitterd PR and it's under review.

[2021-04-22 21:25] aasraoui commented on #7706
@subhamkrai @travisn
on cluster re-build, osds orchestration is failing:
below is operator log
[operator-log-osds.txt](https://github.com/rook/rook/files/6361350/operator-log-osds.txt)

[2021-04-22 21:29] travisn commented on #6132
@neha-ojha Anything helpful in these mon or other logs for the cause of OSDs not coming back in?

[2021-04-22 21:55] BlaineEXE commented on #7734
I usually wait for pods to start running and then use `kubectl logs --follow` to watch the log until the pod stops running to get the whole log. Or you can scale the deployment replicas to 0 for `rook-ceph-operator` to stop the operator from running for a short while.

[2021-04-22 22:01] BlaineEXE commented on #7734
From the prepare logs you provided, it seems everything is working appropriately in the prepare pod.

To help me debug, could you show the output of `kubectl -n rook-ceph get deployments`, `kubectl -n rook-ceph describe deployments`, and `ls /dev/sd*` from one of your nodes?

Also, can you be a little more descriptive about the situation leading to the failures?
What was the first Rook version you

[2021-04-22 22:18] neha-ojha commented on #6132
unfortunately, it doesn't tell us much, perhaps also having debug_ms=1 on the mons and osds, can tell us more about the communication between them.

Also, what is the procedure being used to bring osds down/up? Can we reproduce this easily?

[2021-04-22 22:56] DWSR commented on #6132
@neha-ojha My case matches the OP. The OSDs are down because the Kubernetes cluster was offline for an extended period of time (I was re-racking my home lab). When I brought the K cluster back online, the OSDs were missing auth information. I reset the auth info as outlined [in this comment](https://github.com/rook/rook/issues/4238#issuecomment-664627282), but the OSDs are still not joining the cl

[2021-04-23 00:20] travisn commented on #7706
In the log, looks like the mons are in quorum. What does `ceph status` show in the toolbox? And do you see failures in the osd-prepare pod logs?

[2021-04-23 01:15] #7700 closed

[2021-04-23 03:12] aasraoui commented on #7706
@travisn they were heart beat ping issues between osds ..
When ports are open cluster is ready, but toolbox for ceph commands hangs:
NAME        DATADIRHOSTPATH   MONCOUNT   AGE     PHASE   MESSAGE                        HEALTH
rook-ceph   /var/lib/rook     3          6h51m   Ready   Cluster created successfully   HEALTH_OK

[root@rook-ceph-tools-664b7555b8-mzrfj /]# ceph status

[2021-04-23 05:57] ChanSays commented on #4426
Hi can I take on this issue?

[2021-04-23 07:14] linkvt commented on #7734
Hi @BlaineEXE
describing all deployments creates a huge log output, I will attach the output of a few selected ones as the 100 OSD deployments would not be interesting I guess.

Are you available for a session where we can look at our systems? I am relatively flexible and can setup everything you need, e.g. scratch everything so that we install it together (takes a few minutes) or reinstall everyt

[2021-04-23 07:36] unixtommy opened #7745 "Can not remove cephcluster in k8s"
**Environment**:
* OS (e.g. from /etc/os-release): CentOS 7.5
* Kernel (e.g. `uname -a`): 3.10.0-862.el7.x86_64
* Cloud provider or hardware configuration: pve
* Rook version (use `rook version` inside of a Rook Pod): 1.15
* Storage backend version (e.g. for ceph do `ceph -v`): pacific
* Kubernetes version (use `kubectl version`): 1.18.15
* Kubernetes cluster type (e.g. Tectonic, GKE, OpenShift):

[2021-04-23 08:00] unixtommy commented on #7745
solved .

kubectl edit  cephcluster.ceph.rook.io -n rook-ceph

remove finalizers's value

[2021-04-23 08:00] #7745 closed

[2021-04-23 08:33] linkvt commented on #7732
Ah I just noticed that this was already fixed but not released in https://github.com/rook/rook/commit/9da066eb3f6350cc9844b128b9362585acb14d85

Not sure how you proceed with issues that are fixed in master so I'm leaving it open.

[2021-04-23 09:50] psavva commented on #7659
I have faced the same issue

[2021-04-23 10:30] ruruiye commented on #4012
run into this issue with rook v.16.0

[2021-04-23 10:30] linkvt commented on #7732
Ah closed in https://github.com/rook/rook/releases/tag/v1.6.1

[2021-04-23 10:30] #7732 closed

[2021-04-23 10:56] psavva opened #7746 "ceph: Mons are allowing insecure global_id reclaim"
Bug Report

**Current Behaviour:**
ceph status return "HEALTH_WARN"
with reason: mons are allowing insecure global_id reclaim

**Expected behavior:**
ceph status return "HEALTH_OK"

**How to reproduce it (minimal and precise):**
Upgraded Ceph from 1.4 -> 1.5 -> 1.6.1
All OK.

Upgrade ceph using: https://rook.io/docs/rook/v1.6/ceph-upgrade.html#ceph-version-upgrades
to version: **ceph/ceph:v15.2.11

[2021-04-23 11:10] mosesdd commented on #7746
this seems to be related to
https://docs.ceph.com/en/latest/security/CVE-2021-20288/

[2021-04-23 11:16] psavva commented on #7746
Correct, this must be handled in rook-ceph I guess

[2021-04-23 13:47] travisn commented on #4426
@ChanSays Yes, thanks! We have just been documenting the settings directly in the operator.yaml, but it would really be better if we could convert that to the documentation.

I'd suggest a new document be created with a header like this, which will add the new topic in the table of contents after "CSI Common Issues" and before "Monitor Health":
[code]

[2021-04-23 16:42] BlaineEXE commented on #7734
To start off, would you like to ping me on the Rook slack `@Blaine Gardner` to schedule time to have a chat?

Could you also include Rook operator logs showing the OSD setup? I forgot to ask for that yesterday.

Have you sanitized the output in `osd-92-deployment.txt`? I see some things that might be strange if you haven't (see in comments below)
[code]

I think this is going to be hard to root ca

[2021-04-23 18:17] aasraoui commented on #7706
@travisn ceph osd prep log for ceph-worker5 shows osd0 and osd1 are being skipped : 2021-04-23 16:40:20.851580 I | cephosd: skipping osd0: "f37529aa-ed24-422c-92b4-b200c6e935ab" running on a different ceph cluster "74d50638-f6d6-42fb-84ed-213109388990"
2021-04-23 16:40:20.851591 I | cephosd: Skipping osd0 as no instances are running on ceph cluster "ab65b727-c21b-4005-982e-deebd5665001"
2021-04-23

[2021-04-23 18:38] ChanSays commented on #4426
thanks for reply!
 will look into asap

[2021-04-23 19:18] travisn commented on #7706
Did you reinstall the cluster? The OSDs still belong to a different cluster. I'd suggest you follow the [cleanup guide](https://rook.github.io/docs/rook/v1.6/ceph-teardown.html#delete-the-data-on-hosts) and then reinstall.

[2021-04-23 20:02] #5877 closed

[2021-04-23 20:42] linkvt commented on #7734
Hi @BlaineEXE , thanks for the contact info, will contact you on monday as this is completely work related for me. This is also the reason why I sanitized the topology infos as I shouldn't share internal server names or locations from a security perspective.

We use `useAllNodes` and `...Devices`. We installed rook 1.5.9 at first but after multiple reinstalls and also the update to 1.6.1 today the

[2021-04-23 20:52] travisn commented on #7746
I can confirm this is happening in all clusters, whether a clean install or upgraded cluster, running at least versions: v14.2.20, v15.2.11 or v16.2.1.

According to the [CVE](https://docs.ceph.com/en/latest/security/CVE-2021-20288/) also previously mentioned, there is a security issue where clients need to be upgraded to the releases mentioned. Once all the clients are updated (e.g. the rook daem

[2021-04-24 07:48] psavva commented on #7746
Thank you for your analysis and confirmation.
I will proceed with the update on my cluster as suggested.

[2021-04-24 10:30] psavva opened #7750 "osd are not upgrading from version 1.5.10 -> 1.6.1"
* Bug Report
OSD is not upgrading, even after 24 hours, still showing mixed versions

Every 2.0s: kubectl -n rook-ceph get deployments -l rook_cluster=rook-ceph -o jsonpath={range .items[*]}{.metadata.name}{"  \tr...  Sat Apr 24 13:24:35 2021

[code]

Same also applies to the ceph version

Every 2.0s: kubectl -n rook-ceph get deployments -l rook_cluster=rook-ceph -o jsonpath={range .items[*]}{.met

[2021-04-24 10:33] psavva commented on #7750
I have the following errors in the Operator:

[code]

[2021-04-24 11:08] psavva commented on #7750
I see that I started updating the Ceph version, without realising the rook-ceph installation did not complete.
I am rolling back the version of ceph to version "ceph/ceph:v15.2.11-20210419" and re-run the upgrade of rook-ceph again to 1.6.1 to try and resolve.

[2021-04-24 11:14] psavva commented on #7750
The rollback does not work.  i get the following crash loop on the mon:

** Compaction Stats [default] **
Priority    Files   Size     Score Read(GB)  Rn(GB) Rnp1(GB) Write(GB) Wnew(GB) Moved(GB) W-Amp Rd(MB/s) Wr(MB/s) Comp(sec) CompMergeCPU(sec) Comp(cnt) Avg(sec) KeyIn KeyDrop
-----------------------------------------------------------------------------------------------------------------------

[2021-04-24 14:38] travisn commented on #7750
@psavva Did you apply the latest common.yaml according to the [upgrade guide](https://rook.github.io/docs/rook/v1.6/ceph-upgrade.html)? If you still hit that error about the monitoring, you might try setting [monitoring.enabled: false](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L72-L74) as a temporary workaround, to move past this issue and complete the

[2021-04-24 15:32] cyclops8456 commented on #7750
@psavva As @travisn mentioned above, if you either disable monitoring (edit your cluster config) as a workaround
[code]
or add RBAC config to resolve the issue you're seeing in the operator logs (example below, taken from the monitoring example)
[code]
I hit the same issue when upgrading a test cluster.  Setting it up from new showed the issue up in a more obvious manner as the operator couldn't g

[2021-04-24 15:37] cyclops8456 commented on #7746
@psavva @travisn Hit the same issue earlier on a test cluster, setting `ceph config set mon mon_warn_on_insecure_global_id_reclaim_allowed false` resulted in the toolbox losing connectivity to the cluster (and presumably the operator as well).  Not sure if they need the ceph client used in those images updating as well.

[2021-04-24 15:37] DWSR commented on #6132
So I just checked my Ceph Cluster this morning and it's reporting that all the OSDs are now up and in....

[code]

[2021-04-24 15:39] cyclops8456 commented on #7746
Adding this setting to the `rook-config-override` configmap resulted in the cluster not coming up at all (stuck at configuring mons); configmap applied before applying the cluster yaml.

[2021-04-24 15:42] psavva commented on #7750
I have disabled the monitoring, and also created the new Role.
The upgrade of rook-ceph, and Ceph version are successfully completed.
Thank you very much for your help on this.

I suggest putting this fix in and document this for people who may face the same issue.

[2021-04-24 18:03] cyclops8456 commented on #7750
@psavva You should be able to re-enable monitoring with the above RBAC in place, on the assumption that you've got prometheus set up in your cluster (and so have the required CRDs for service monitor etc in place).

[2021-04-24 20:02] #6542 closed

[2021-04-24 20:02] #5782 closed

[2021-04-24 22:55] Lemonn commented on #7107
I have the same problem. If an OSD-Deployment get's deleted, it's never recreated again, even if the manager is restarted.

At some point, I was confused why an OSD was missing. So I tried to delete another OSD-Deployment, to see if it gets recreated, but that wasn't the case. The logs of the OSD-Prepare do not show any significant differnce between devices whit deleted OSD-Deployment and such one

[2021-04-25 01:12] LittleFox94 commented on #7750
was bitten by this, too

as an additional info: I had monitoring enabled but do not use prometheus operator yet. In prior versions of rook, this enabled the prometheus module in mgr as intended, warned about not being able to create the rules and continued - now it errors instead of warning.

I know having prometheus operator is nice and plan to migrate to it, but maybe a way to enable the metrics

[2021-04-25 01:35] LittleFox94 opened #7751 "Operator being timeout sensitive"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The rook-ceph-operator is kinda timeout sensitive, `panic`ing on lost leaderelection, when `radosgw-admin` takes too much time to exit

The operator exiting makes the problem worse, because it will have to scan a lot of things again after it's started again. It will also update things again (seeing not

[2021-04-25 02:36] jianhaiqing commented on #5366
I face the same issue ;
[code]
I found pvc can't be attached  to node because one of the ceph failed to connect; After we fix the failure ceph, the attachment is recovered automatically

[2021-04-25 07:31] #7362 closed

[2021-04-25 07:54] ArmitageW commented on #7573
Using rook 1.6 version examples deployment still has this problem, prompting FIFO error, but the view user has been created. How to circumvent this problem?

[2021-04-25 09:00] cyclops8456 commented on #7746
@psavva @travisn Further to the comments from yesterday, flattened everything to confirm, and applying the configmap below looks to resolve the issue for 1.6.x but breaks 1.5.x.  If this configmap is applied before the cluster yaml is applied then the monitors get this setting; applying it after will require the pods to be deleted / restarted.

[code]

[2021-04-25 11:17] cyclops8456 commented on #7746
@psavva @travisn Further to the above, adding the configmap above to 1.5.x resolves the issue there as well; there must have been something I didn't completely remove during testing of the above changes.

[2021-04-25 11:34] cyclops8456 commented on #7746
@psavva @travisn Looks like I was hasty in saying the above configmap resolves the issue for 1.5.x after all (previous comment removed); I should have left the setup for longer.  It appears the client needs to be updated in the 1.5.10 operator, as `ceph status` is reporting `clients are using insecure global_id reclaim`

[2021-04-25 13:23] cyclops8456 commented on #7750
@LittleFox94 I've been experimenting with this a bit today, and with monitoring set to false in the cluster CR, the metrics are still available with the appropriate service monitors set up for prometheus, so the metrics endpoint is available in the mgr pod.

[code]
Looking through the code in relation to the monitoring option, it looks like this is more to automatically create service monitors and

[2021-04-25 14:33] cyclops8456 opened #7753 "OSDs not having the expected device class applied from the cluster config in version 1.6"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Setting a cluster up with version 1.5.10 of the Rook operator with device classes specified in the cluster CR results in the OSDs having the device class as expected.  Using the same cluster config for version 1.6.1 of the operator results in the OSDs all having the device class of hdd.

[code]
[code]

[2021-04-25 14:49] cyclops8456 commented on #7753
From the OSD prepare logs, it looks like the deviceClass is still being passed in correctly.

[code]

[2021-04-25 15:07] cyclops8456 commented on #7753
Using Ceph image version 15.2.11 results in:

1) Wrong device class set against the OSD
2) Status down
3) HEALTH_WARN

Using Ceph image version 16.2.1 results in:

1) Wrong device class set against the OSD
2) Status down
3) HEALTH_OK

[2021-04-25 16:30] psavva commented on #7746
I had updated to 1.5.10 and also set the flag as suggested.  HEALTH OK after that.

[2021-04-25 18:53] LittleFox94 commented on #7750
@cyclops8456 yes seems like enabling monitoring isn't anymore required to have the prometheus module enabled in the manager. I'm pretty sure it was, but I'm using rook since 0.4 or something x)

[2021-04-25 20:02] #6964 closed

[2021-04-25 21:22] cyclops8456 commented on #7746
@psavva I had that initially, which is why I thought it was working as expected, but as soon as I provisioned a PVC, it showed up with `clients are using insecure global_id reclaim`.  Presuming it was triggered by the CSI plugins, but haven't been able to check further.

[2021-04-26 03:30] ikogan commented on #5732
I'm still encountering this on v1.6 with the latest script. I don't believe just changing the secret type fixes the issue, you have to omit the other secrets and the username and secret keys from the mon secret as per the workaround.

[2021-04-26 06:36] Rakshith-R commented on #7575
Source : https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1710-selinux-relabeling#volumes

From the logs, rbd and cephfs both have `seclabel`:
[code]
It's kublet/container runtime's responsibility to relabel and set ":Z" option.

[2021-04-26 10:18] hankedang opened #7754 "failed to check if the device "vdc" is available"
* Bug Report

The server have one raw device vdc.
use `lsblk`
[code]

but rook-ceph-osd-prepare job does't deploy osd deployment
rook-ceph-osd-prepare logs:

[code]

**Environment**:
* OS (e.g. from /etc/os-release): centos7
* Kernel (e.g. `uname -a`): 3.10.0-693.2.2.el7.x86_64
* Rook version (use `rook version` inside of a Rook Pod): v1.6.1
* Storage backend version (e.g. for ceph do `ceph -v`):

[2021-04-26 12:42] parth-gr commented on #6976
@electrical, By [changing](https://github.com/rook/rook/blob/ccb4221cb3396d159e94553472777ccfe2f4d925/cluster/examples/kubernetes/ceph/cluster.yaml#L70) `ssl: false` and updating this change by `kubectl apply -f cluster.yaml ` , recreate the rook-ceph-mgr pod and also updates the service rook-ceph-mgr-dashboard PORT(S) to  7000/TCP  from 8443/TCP and now we can access the dashboard with HTTP at po

[2021-04-26 15:04] solacelost commented on #7575
Agreed - Closing as I'll be tracking it down another route. Meatspace problems have kept me from getting at this before now, but I don't believe it's a Rook problem any further.

[2021-04-26 15:04] #7575 closed

[2021-04-26 15:24] parth-gr commented on #7107
@Lemonn  Looking into the logs of `rook-ceph-osd-prepare` pod it says  `W | cephosd: skipping OSD configuration as no devices matched the storage settings` in both the files you mentioned. And it's because you haven't attached any raw disk on the Node.
Refer: https://rook.github.io/docs/rook/v1.6/ceph-prerequisites.html#ceph-prerequisites ,https://rook.github.io/docs/rook/v1.6/ceph-common-issues.h

[2021-04-26 16:11] aasraoui commented on #7706
@travisn yes that is correct. re-zapping the disks. osds are back in service  thank you!

[2021-04-26 16:20] aasraoui opened #7756 "pvc provisionning fails under k8"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`

[2021-04-26 16:24] Madhu-1 commented on #7756
Please provide 'ceph -s' and 'ceph osd lspools' output from toolbox pod

[2021-04-26 16:30] aasraoui commented on #7756
below ceph -s + osd lspools :
 ceph -s
  cluster:
    id:     ab65b727-c21b-4005-982e-deebd5665001
    health: HEALTH_WARN
            mon d is low on available space

  services:
    mon: 3 daemons, quorum a,c,d (age 2d)
    mgr: a(active, since 2d)
    osd: 10 osds: 10 up (since 2d), 10 in (since 2d)

  data:
    pools:   2 pools, 33 pgs
    objects: 0 objects, 0 B
    usage:   10 GiB used, 190

[2021-04-26 16:53] Madhu-1 commented on #7756
Ceph cluster is not In healthy state, fixing it should solve the issue. Please refer https://rook.io/docs/rook/v1.6/ceph-csi-troubleshooting.html for more details

[2021-04-26 17:36] travisn commented on #7753
Since the correct device class is still seen in the osd prepare logs, the CRD schema must be preserving the value. The CRD schema also looks correct for preserving the config settings under `nodes`.
@cyclops8456 Please share more of the osd prepare log, in particular where the ceph-volume command is called and should specify the device class.

[2021-04-26 17:55] travisn commented on #7754
@hankedang There may be more details in the ceph-volume log. Do you see this log on the host? `/var/lib/rook/rook-ceph/log/ceph-volume.log`

[2021-04-26 17:58] neha-ojha commented on #6132
do you know what changed?

[2021-04-26 18:00] DWSR commented on #6132
I changed nothing and have since destroyed the cluster, so no.

[2021-04-26 18:15] aasraoui commented on #7756
The cluster is actually healthy, there was a warning for high disk space usage on the server but that does not seem  to be relevant..  ceph health detail
HEALTH_OK
    ceph osd lspools
1 device_health_metrics
2 replicapool

controller.go:966] error syncing claim "61190385-aeb0-40b2-adf0-b79ac1623c93": failed to provision volume with StorageClass "rook-ceph-block": rpc error: code = DeadlineExceede

[2021-04-26 18:45] travisn commented on #7746
@psavva @cyclops8456 On a test cluster where I had rook v1.6.1, ceph pacific v16.2.1, and the latest csi driver v3.3.1, disabling the insecure global_id resulted in the cluster working fine. I was able to create new PVs, run the toolbox commands, and the operator was functioning as expected.

Note that the toolbox is not automatically upgraded, so if the toolbox commands are failing after disablin

[2021-04-26 20:33] BlaineEXE commented on #7659
My findings:
- using `kubectl replace` works but will not create new resources
- using `kubectl apply` creates new resources but fails with this bug
- using `kubectl apply --force` deletes and then re-creates resources
  - this could be a good solution, or it could cause accidental deletion of custom resources **NEED TO INVESTIGATE THIS**

[2021-04-26 22:32] mecseid commented on #7244
@sp98 Sorry for late response.
Checked the logs, and I didn't see any message about this error, so I think it's closable.

Thanks a lot! 🎉

[2021-04-26 22:32] #7244 closed

[2021-04-27 00:22] ycy1766 opened #7760 "Cannot use both lvm mode and raw mode on rook 1.6.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I decided to use lvm mode because metadata is needed for some nodes while distributing from rook 1.6.1 to ceph ceph:v16.2.1.
However, metadata has been added to nodes that do not need metadata.
In my opinion, the metadata attribute doesn't seem to be applied to the device.

**Expected behavior:**
Both

[2021-04-27 00:26] travisn commented on #7751
This sounds similar to some reports in the past such as #3754, unfortunately it has certainly been difficult to repro. Is your cluster resource constrained such as small nodes running low on cpu/memory? Is it an option to try nodes with more resources?

[2021-04-27 02:08] hankedang commented on #7754
@travisn log file `ceph-volume.log` does not exist in `/var/lib/rook/rook-ceph/log/`.  so I can't get other message for error.
prepare job's error , failed to open  ceph-volume log file `/tmp/ceph-log/ceph-volume.log`

[2021-04-27 02:22] ycy1766 opened #7761 "ceph.conf cannot be configured in rgw pod"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I created rgw pod using cephobjectsore in rook 1.6.1 (ceph pacific).
By the way, `rgw_dns_name`  and `rgw_dns_s3website_name` are set in rook-config-override.yaml, but check using ` radosgw-admin --show-config `in rgw pod, it is not applied.
However, it was confirmed that it is applied in rook.1.5.10 w

[2021-04-27 05:54] suraciii opened #7762 "Allow to attach an existing CephObjectStoreUser as the owner when creating an ObjectBucketClaim"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Specific an CephObjectStoreUser as the bucket owner when creating ObjectBucketClaim

**What is use case behind this feature:**
Currently, for each ObjectBucketClaim, rook will create a rgw user for it (as the bucket owner), and each bucket can only be accessed by its owner (please correct me if I'm wron

[2021-04-27 07:22] #7761 closed

[2021-04-27 07:22] ycy1766 commented on #7761
My bad,

[2021-04-27 08:23] #7659 closed

[2021-04-27 10:30] LittleFox94 commented on #7751
Faster nodes would definitely help, I think the biggest problem is I/O load on the nodes with HDDs. I plan to upgrade them to SSDs anyway and replacing a controller node by one with a SSD helped a lot already. Rook is definitely not at fault here, strictly, but I can think it might be able to be more tolerant and less reinforcing the problem.

More tolerance for leader elections for example: maybe

[2021-04-27 13:56] parth-gr commented on #7499
For catching the debug logs that are highly frequent.
Have mapped the log messages with their number of occurrences.

<details>
  <summary>operator-debug-logs arranged by their frequency(descending order)</summary>

[code]

</details>

Any thoughts/suggestion for removing unimportant and noisy messages :)

[2021-04-27 14:57] travisn commented on #7499
Good to see the analysis! I'd suggest for now we just consider removing these since they don't provide details of what is happening:
[code]

[2021-04-27 15:17] #6748 closed

[2021-04-27 15:33] #7376 closed

[2021-04-27 15:44] BlaineEXE commented on #7499
I see a lot of these messages that might actually leak security details if used for other purposes. I think this is an easy message to remove:
[code]

[2021-04-27 15:51] BlaineEXE commented on #7499
I'm not sure about the ordering of logs, but I also see duplicated information from these 2 lines. It seems likely that we could remove one of the lines and for the other only print a subset of the status (e.g., just `HEALTH_[WARN,ERR,OK]`)

[code]

[2021-04-27 16:03] parth-gr commented on #6976
Closing this issue as it's not reproducible and the SSL setting is working fine.
Please re-open with more details if still hitting this issue.

[2021-04-27 16:04] parth-gr commented on #6976
Closing this issue as it's not reproducible and the SSL setting is working fine.
Please re-open with more details if still hitting this issue.

[2021-04-27 16:04] #6976 closed

[2021-04-27 16:47] leseb commented on #7760
Please share the prepare job logs from the node that did not need metadata. So `metadata-00{1,2,3}` it seems. Thanks!

[2021-04-27 17:38] BlaineEXE commented on #7734
I don't notice anything that looks wrong to me in either prepare log. One node seems to have 5 disks while the other has 20 though. Do you have the first prepare logs that show 97 and 98 being provisioned?

[2021-04-27 17:54] is6769 opened #7769 "Mons not forming quorum"
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**
1)initialize k8s
2)do all instructions in docs(without changing anything)

- get pods  (kubectl get pod -n rook-ceph)

`
NAME                                               READY   STATUS     RESTARTS   AGE
`
`
csi-cephfsplugin-2j8np                             3/3     Running    0          13m

[2021-04-27 18:00] deveshk0 commented on #7288
@travisn  Will it be back ported to 1.5.x ?

[2021-04-27 18:05] travisn commented on #7751
Agreed, greater tolerance would certainly help here so Rook wouldn't restart unnecessarily. We are at the mercy of the controller runtime, not sure how much flexibility we have here.
@leseb Are you aware of any options that would allow us to recover better from etcd leader election issues?

[2021-04-27 18:17] travisn commented on #7769
@is6769 The mons are not forming quorum. Most often this is a network issue between the operator and the mons. See the [troubleshooting guide](https://rook.github.io/docs/rook/v1.6/ceph-common-issues.html#monitors-are-the-only-pods-running). If you need help troubleshooting further, please open a [discussion item](https://github.com/rook/rook/discussions) or join the Rook slack. Good luck!

[2021-04-27 18:17] #7769 closed

[2021-04-27 20:02] #6280 closed

[2021-04-27 22:02] BlaineEXE commented on #7751
You could try this also: https://etcd.io/docs/v3.4/tuning/#disk

[2021-04-27 22:15] BlaineEXE commented on #7756
Please provide logs from the rook-ceph-operator.

[2021-04-27 23:41] aasraoui commented on #7756
[operator-full-log.txt](https://github.com/rook/rook/files/6388203/operator-full-log.txt)

@BlaineEXE  operator log attached

[2021-04-28 06:03] hankedang commented on #7754
Maybe my docker image download is in complete.  I clean docker containers and images and reboot server, redeploy k8s worker node, then everything will be fine!

[2021-04-28 06:03] #7754 closed

[2021-04-28 08:58] Lemonn commented on #7107
@parth-gr One of the nodes was the working one [existingOSD-osd-prepare-storage-log.txt](https://github.com/rook/rook/files/6370891/existingOSD-osd-prepare-storage-log.txt), the other one worked as well until I deleted the OSD-Deployment. There was a raw disk attached to each node, at least it was one, before the rook deployment.
![image](https://user-images.githubusercontent.com/1345251/116375748

[2021-04-28 12:15] ycy1766 commented on #7760
I did two tests.
First, metadata was declared and deployed in the storage.config section.

cluster.yaml
[code]

stg1-obs- metadata001 (did not need metadata)  prepare log
[code]

[2021-04-28 12:18] ycy1766 commented on #7760
Second, it was deployed without declaring metadata in the storage.config section.

cluster.yaml

[code]
stg1-obs- metadata001 (did not need metadata) prepare log

[code]

[2021-04-28 12:19] ycy1766 commented on #7760
Through the tests, I separately distributed lvm mode and raw mode and proceeded. I hope this bug will be resolved.

[2021-04-28 13:08] synarete opened #7773 "ceph: pass explicit value for OSD's primary-affinity"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow passing upon osd deployment an explicit primary-affinity value (within the range [0, 1])

**What is use case behind this feature:**
Ceph users with unbalanced system (e.g., some OSDs use a partition which resides on a device along-side OS partition) may want to have a fine-grained control on the o

[2021-04-28 13:39] leseb commented on #7751
I am not.

[2021-04-28 13:59] Madhu-1 commented on #7746
@travisn sorry I missed the ping. we don't have one yet. we can make a new cephcsi v3.2.x release with the updated base image.

[2021-04-28 14:00] humblec commented on #7746
The CVE fix has only made into 3.3.1 release till now.  If there is a compatibility issue, we have to look into the possibility of a release in 3.2.x.  Have to check the ceph compatibility against 3.2 branch though.

[2021-04-28 15:02] leseb commented on #7760
@ycy1766 thanks for the great details. I think scenario number 1 could be avoided but it seems that scenario 2 is correct way to setup the cluster. It's really confusing the way this is done right now.

[2021-04-28 15:31] idryomov commented on #7746
That would disable the warning about insecure reclaim.  `mon_warn_*` settings should stay on.

To disallow insecure reclaim you want:

[code]

but only after *everything* has been upgraded, including all toolbox pods etc.

[2021-04-28 16:02] BlaineEXE commented on #7734
Could you also provide the output from `ls /etc/udev/rules.d/` on your nodes, especially if any of the nodes have different files from others. It's possible there is a process running on nodes that might be modifying disk partitions at the same time Rook is running.

[2021-04-28 16:36] travisn commented on #7746
@idryomov Right, thanks for the correction, I'll update the original comment so the wrong command isn't found

[2021-04-28 17:50] is6769 commented on #7769
problem was in cni,so i changed it from calico to flannel, and all worked

[2021-04-28 20:02] #6908 closed

[2021-04-28 20:02] #6889 closed

[2021-04-28 20:02] #6314 closed

[2021-04-28 20:43] bengland2 commented on #6313
@rohan47 I don't have a convenient cluster to try multus on right now, do you?   If so, could you see if it's still not working?

[2021-04-28 20:58] rohan47 commented on #6313
Hi @bengland2 I don't have a cluster to test this

[2021-04-28 21:02] travisn opened #7776 "Mon failover should not be triggered during a node drain until a longer timeout"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During a node drain, a node may commonly be down 10-15 minutes until it is ready again. With the default mon failover timeout of 10 minutes, this means frequently the mon on that drained node would be down for longer than the timeout and then it would be failed over.

**Expected behavior:**
During a dr

[2021-04-29 01:49] alimaredia commented on #7658
This issue went away after I removed the golang package I installed via `dnf` and installed go via `wget` like these instructions: https://tecadmin.net/install-go-on-centos/. Should I close the issue?

[2021-04-29 06:28] marklester opened #7779 "Creating NFS Exports in dashboard don't work after upgrading to ceph 16.2.0"
when I tried to create an export I get a 500 error in the dashboard
logs in mgr
repeating

[code]

and when I click the create button with dashboard debug on

[code]

[2021-04-29 07:00] leseb commented on #7658
Glad the issue is gone, let's close. Thanks!

[2021-04-29 07:00] #7658 closed

[2021-04-29 07:01] #6916 closed

[2021-04-29 07:13] thotz commented on #7695
@leseb : May I extend existing [ceph_base_object_test.go](https://github.com/rook/rook/blob/master/tests/integration/ceph_base_object_test.go) to include TLS cases than having entire new github action ?

[2021-04-29 07:24] leseb commented on #7695
Whatever is easier. For instance, ` ceph_base_object_test.go` could remain the way it is but the canary action here: https://github.com/rook/rook/blob/1e7f1b4ae0b49cba2e251ceb8fb6f27e8bb3874c/.github/workflows/canary-integration-test.yml#L15 could set up rgw with TLS.

What do you think?

[2021-04-29 07:34] 2fst4u commented on #3370
I'm seeing this happen on very low power devices comparatively (raspberry pi 4s) and I cannot find a way to edit the liveness probe. Is this possible at all? I don't want to disable it I just want to increase the timeout.

[2021-04-29 07:41] subhamkrai commented on #3370
@2fst4u Yes we can edit the liveness probe. see this [doc](https://github.com/subhamkrai/rook/blob/4ef4be019bb40494b45da21221bd8230bdfb9553/Documentation/ceph-cluster-crd.md#health-settings)

[2021-04-29 07:45] #7727 closed

[2021-04-29 07:53] 2fst4u commented on #3370
Forgive me but the documentation seems to only mention disabling the liveness probe, unless I'm misreading an missing something obscure, there are no other settings under the liveness probe part to increase it from 1 second.

[2021-04-29 08:59] subhamkrai commented on #3370
@2fst4u are you confused by `disabled: false`?

[2021-04-29 09:00] 2fst4u commented on #3370
Well, no, I want to change the amount of time the liveness probe takes to timeout. I don't want to disable it.

[2021-04-29 09:08] subhamkrai commented on #3370
yeah, I believe you can do that, look at this syntax if it clears
[code]

[2021-04-29 12:19] bengland2 commented on #6313
I just requested one from the Alias lab, hopefully available Mon next week.

[2021-04-29 12:24] rohan47 commented on #6313
Great, Thanks :)

[2021-04-29 12:49] bengland2 commented on #6313
Actually not until May 9 at earliest, here's the ticket: https://projects.engineering.redhat.com/browse/ALIAS-576

[2021-04-29 12:54] #7319 closed

[2021-04-29 13:00] adabuleanu commented on #7375
We managed to implement two workarounds without introducing a change in the rook code:
- on scratch install we create the cephCluster resource identical with the namespace
- on upgrade (the workaround from above cannot be applied) we create the osd configmaps with the existing osd if they do not exist before starting the rook operator

[2021-04-29 13:10] parth-gr commented on #7107
The rook-ceph-osd-prepare logs are, ``` 2021-04-24 22:20:26.171583 I | cephosd: 0 ceph-volume raw osd devices configured on this node
2021-04-24 22:20:26.171606 W | cephosd: skipping OSD configuration as no devices matched the storage settings for this node "storage-pi2" ``` which means disk was not attached to the nodes. Have you seen the `rook-ceph-osd` daemon pods created before and rook-ceph-o

[2021-04-29 13:21] #7373 closed

[2021-04-29 13:33] adabuleanu opened #7787 "rbd: unmap failed: (16) Device or resource busy"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During Deployment/StatefulSet updates (Recreate or RollingUpdate strategy) that have PVC attached (ceph RBD) , the PVC cannot be unmounted from the old pod and mounted to the new pod.

k8s error message
[code]
csi-rbdplugin error message
[code]
**Expected behavior:**
Be able to unmount the RBD image an

[2021-04-29 14:41] electrical opened #7788 "rook-ceph 1.6.1 CRD requires spec.mon.count for external cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
CephCluster CRD doesn't work anymore for external cluster.
It requires spec.mon.count value while this is not expected

**Expected behavior:**
To work :-)

**How to reproduce it (minimal and precise):**
Apply simple external cluster resource:

[code]

**File(s) to submit**:

relevant change of the CRD

[2021-04-29 14:54] electrical commented on #7788
After some debugging found the following. Some older version of rook-ceph must have added a lot of empty fields to the CephCluster resource after creation since I had this as the resulting spec:

[code]

These fields are not used and confused the updated CRD.

Solution was to remove everything under the `spec` key and replace it with the original content of my cluster definition.
This solved the i

[2021-04-29 14:54] #7788 closed

[2021-04-29 14:57] linkvt commented on #7734
Hi @BlaineEXE , thanks for the session yesterday I collected everything we discussed:

I did as we discussed yesterday and after triggering the deployment I scaled the operator to 0 after the prepare jobs started.
After collecting all logs I started it again and it seemed to run 4 times at least in total as I noticed 4 times that the prepare jobs were started. I also collected the logs here and co

[2021-04-29 16:24] #7655 closed

[2021-04-29 18:27] kfox1111 opened #7794 "documentation link broken"
https://rook.io/docs/rook/v1.5/ceph-upgrade.html#replace-lvm-mode-osds-with-raw-mode-if-you-use-lv-backed-pvc refers to a broken link.

[2021-04-29 20:02] #7004 closed

[2021-04-29 20:02] #6983 closed

[2021-04-29 20:36] BlaineEXE commented on #7750
There is also a `cluster/examples/kubernetes/ceph/monitoring/rbac.yaml`. Does the upgrade succeed if you apply that and restart the operator (delete the operator Pod, the operator Deployment will re-create (re-start) the operator Pod)?

[2021-04-29 21:16] travisn commented on #6872
There is a consideration for the CSI driver supporting Windows worker nodes in the K8s cluster, but not the core Ceph daemons. Reopening this to keep track of that effort, but the timeline for this feature is still unknown.

[2021-04-29 22:02] travisn commented on #6865
Starting in Rook v1.6 the LVM is not expected to be a common issue since LVM is no longer used for most scenarios. See [this discussion](https://github.com/rook/rook/discussions/7349#discussioncomment-425956) for more details and further comments

[2021-04-29 22:27] yydzhou commented on #6865
I am hitting the same issue. with rook 1.5.9 and ceph 15.2.7.

The osd was in crashloop for some reason and I removed from ceph so that ceph cluster can reach health status. (follow this manual https://github.com/rook/rook/blob/master/Documentation/ceph-osd-mgmt.md)
Then I cleaned the volume with script from here https://github.com/rook/rook/blob/master/Documentation/ceph-teardown.md#zapping-devic

[2021-04-30 00:13] satoru-takeuchi commented on #6414
Still investigating.

[2021-04-30 01:29] ArmitageW commented on #7573
@BlaineEXE
The results of my test are consistent with @fritchie fritchie's test. In ceph v16.2.0 and below, when using the --rgw-data-log-backing=omap parameter directly after the radosgw-admin command, although the FIFO error is reported, the return is successful. At this time, the FIFO error was captured in the code, so it was modified to the parameter --rgw-default-data-log-backing=omap, but th

[2021-04-30 01:30] ycy1766 commented on #7760
Additionally, in 1.5.10, it was deployed in the desired mode.

[2021-04-30 02:54] jshen28 commented on #6865
https://github.com/ceph/ceph/pull/38687

[2021-04-30 03:19] travisn opened #7797 "Mon failover can cause mons to fall out of quorum if the operator is disrupted in the middle of the failover"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
There is a timing issue during mon failover such that if the operator dies at the wrong time and the original mon does not come back up, mon quorum can be lost. In a test cluster, the following sequence appears to have occurred.
1. A cluster was installed
2. Node maintenance was started and nodes were

[2021-04-30 05:19] sp98 commented on #7776
Yes, it looks like a good approach to avoid mon failover if node is down for maintenance.

[2021-04-30 06:02] 2fst4u commented on #3370
Unfortunately this causes the following error and W crashloopbackoff for the pods:

`Liveness probe failed: admin_socket: exception getting command descriptions: [Errno 2] No such file or directory`

[2021-04-30 06:02] #7794 closed

[2021-04-30 07:05] aasraoui commented on #7706
@travisn still not able to access dashboard rook ceph-mgr is not listening on port 8443:
 k -n rook-ceph logs rook-ceph-mgr-a-78c45f5c46-sql85 | grep Serving
[23/Apr/2021:16:40:26] ENGINE Serving on http://10.x.x.x:9283
not sure if there is a workaround for this ..

[2021-04-30 07:17] matthiasr commented on #6865
It looks like #7411 is another instance of this (via the ceph issue that @jshen28 referenced)

[2021-04-30 07:21] jshen28 commented on #6865
emm.. can you run `pvdisplay`?

[2021-04-30 07:24] matthiasr commented on #6865
[code]

Preparing the upgrade to Ceph 15.2.11 now

[2021-04-30 07:28] jshen28 commented on #6865
https://github.com/ceph/ceph/blob/88e41c6c49beb18add4fdb6b4326ca466d931db8/src/ceph-volume/ceph_volume/api/lvm.py#L582

[2021-04-30 07:50] matthiasr commented on #6865
Yes, I think these are all the same underlying reason, thank you for pointing out the Ceph issue! I hadn't found the other issue yet and just wanted to make sure everything is linked together.

[2021-04-30 07:56] yydzhou commented on #6865
I have ran the pvdisplay and lvdisplay after cleaning. However, nothing shows up, and my host didn't use lvm on other partition/disk neither.

[2021-04-30 08:03] jshen28 commented on #6865
emm, is the problem 100% reproducible, or occurs occasionally?

[2021-04-30 09:36] matthiasr commented on #6865
For me, it's 100% reproducible (with these particular nodes and SSDs)

[2021-04-30 09:48] jshen28 commented on #6865
then I suggest to upgrade image and try again. for me, I have to modify ceph image to bypass the ceph bug linked above...

[2021-04-30 11:26] sp98 commented on #7776
How about we prevent mon failover if the mon pod is not assigned to any node ?

[2021-04-30 13:41] travisn commented on #7776
This is the state that the mon will be in after a node drain and until the node comes back up, right? I think we still need a timeout. If the node doesn't come up for a really long time, it's better to attempt to start another mon to ensure full quorum. Or is there another aspect of this scenario you're thinking?

[2021-04-30 13:47] sp98 commented on #7776
Yes

The new failed over mon  might still be pending if there are no new nodes for it to be scheduled on.

[2021-04-30 13:56] travisn commented on #7776
Agreed, if there is not another node available, the mon failover won't be able to start a new mon anyway. In that case, the new mon canary would get stuck pending. But if another node is available, we would still want to go ahead with the failover. The mon failover can deal with that detection.

[2021-04-30 14:09] sdeoras commented on #4827
i am running into this issue as well trying to run on RPi/arm64:
[code]

[code]

[2021-04-30 14:20] sp98 commented on #7776
Agreed. And when the new node is available, we won't have the situation that the current mon is pending waiting to be scheduled on a node. Failover would happen in that case. We only prevent mon failover if have a situation like `monPOD.spec.nodeName` is empty after the timeout.

[2021-04-30 14:34] travisn commented on #7776
Two scenarios to clarify:
1. If the mon is portable (using a PV that can move to another node like in AWS), mon failover likely won't be needed anyway since the mon could immediately be scheduled on another node if one is available.
2. If the mon is not portable (using a local PV or dataDirHostPath), the original mon can't start again until the same node comes back online. In this case, mon failov

[2021-04-30 14:54] poul1x opened #7803 "Rook-ceph crds forbid deploying s3 storage without secure options"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I had successfully deployed object store in rook-ceph cluster with version `release-1.4`.
But in `release-1.6` deploy fails with error:

[code]

**Expected behavior:**

Object storage is deployed successfully.

**Note**: This [sample](https://github.com/rook/rook/blob/release-1.6/cluster/examples/kube

[2021-04-30 15:17] aasraoui commented on #7756
@BlaineEXE so far we have csi-provisonner, operator logs. Are there any other logs we need to capture ? thanks!

[2021-04-30 17:51] cpmoore opened #7804 "Connect to External RGW Using SSL?"
This is really just a question, but i wasn't sure where else to ask.
We're in the process of implementing OpenShift Container Storage in our OpenShift cluster.  Having some issues connecting to the external RGW endpoint for object bucket provisioning using ssl.

If securePort is configured in the rook operator, does that mean it will connect to the external rgw endpoint using ssl as well?
Couldn't

[2021-04-30 18:06] travisn commented on #7803
@poul1x Are you seeing this in a fresh v1.6.1 cluster, or this cluster was upgraded? Can you share the object_storage.yaml where you hit this issue?

[2021-04-30 20:02] #7048 closed

[2021-04-30 23:11] utp887 commented on #7776
Downstream BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1955834

[2021-04-30 23:14] utp887 commented on #7797
Downstream BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1955831

[2021-05-01 14:35] marklester commented on #7779
ok so I think I figure this out. on ubuntu 20.04.2 nfs looks to default to 4.2 which has issues. I can mount the nfs service if I set the version to 4.1.
`mount -v -t nfs -o nfsvers=4.1,proto=tcp ceph-nfs:/cephfs /mnt/ceph`

since you can't set mount options on nfs volumes. I got around this by setting this version as the default for all the nodes in the cluster. To do this you need to create a fi

[2021-05-01 23:58] henryzhangsta opened #7806 "ceph: osd-prepare skips udev devLinks specified in metadataDevice"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

In the storage configuration block, both Name and metadataDevice should be able to be specified with devLinks.
However, right now, the `osd-prepare` task will skip devices that are specified on metadataDevice and not Name.

I believe the bug is caused by https://github.com/rook/rook/blob/512d77de61897

[2021-05-02 03:20] 2fst4u commented on #6980
Now that we're well past this release, could you please elaborate on how to implement this? I've tried the above changes and I also get errors on v1.6 with pods failing. Removing the changes gets them to work again.

[2021-05-02 16:30] mazocode opened #7808 "MGR and MDS daemons not bound to multus interface address"
**Deviation from expected behavior:**

The ceph-mgr and ceph-mds daemons are using the POD network instead of the specified multus interface.

**Expected behavior:**

Both daemons should advertise with the multus interface address in case a multus network was specified.

**How to reproduce it (minimal and precise):**

Check the ceph-mgr and ceph-mds deployment. The value of --public-addr is set to

[2021-05-02 16:52] OPSTime opened #7809 "osd status is CrashLoopBackOff, osd crash log: "No space left on device not handled on operation 10 (op 0, counting from 0)""
**osd crash log:**
[code]

**osd pod status**
[code]

**kubectl -n rook-ceph exec -it deploy/rook-ceph-tools -- ceph osd df**
[code]

**pvresize /dev/sdc
lvresize -L +3G /dev/mapper/ceph--xxx**

**The disk capacity has been expanded, and the utilization rate is still 100%**
**kubectl -n rook-ceph exec -it deploy/rook-ceph-tools -- ceph osd df**
[code]

[2021-05-02 18:04] mmalcek commented on #5751
This issue in ceph (https://tracker.ceph.com/issues/43209  fixed in 15.2.9 ) seems to be closed but latest rook still ignore dm devices in daemon.go

[2021-05-03 07:17] leseb commented on #7804
If `securePort` is configured, the rgw process will listen on TLS (port 443). Does that answer your question?

@thotz FYI

[2021-05-03 07:21] leseb commented on #7809
Did you restart the OSD deployment after resizing the disk?

[2021-05-03 13:19] cpmoore commented on #7804
I saw that note in the documentation regarding the rook process itself but my question was what port/protocol is used to connect to the external object storage listed in the `externalRgwEndpoints` section?

[2021-05-03 14:02] paalkr opened #7811 "deviceClass is not configured correctly for device OSDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The OSD is registered with ssd device class, instead of nvme as specified in the cluster manifest.
OSD 0,1,2,3,4 and 5 was added with rook version 1.5.9. OSD 6 was added after upgrading to rook 1.6.1
![image](https://user-images.githubusercontent.com/9726307/116885231-f50e7700-ac27-11eb-8314-03352ee1e5

[2021-05-03 14:03] marklester commented on #7750
I tried this suggestion and it allowed the osd upgrade to proceed thanks!. Now I just have a
AUTH_INSECURE_GLOBAL_ID_RECLAIM_ALLOWED warning that I am not sure how to resolve.

[2021-05-03 17:39] psavva commented on #7750
Hi @marklester
See here how to resolve:
https://github.com/rook/rook/issues/7746

More specific:
https://github.com/rook/rook/issues/7746#issuecomment-825919401

[2021-05-03 18:04] travisn commented on #6980
@2fst4u It is expected to work as in the example at the top of this issue:
[code]

[2021-05-03 18:12] travisn commented on #7811
@paalkr Can you show the CephCluster CR snippet where the nvme is specified for the device set? In that example, looks like it's `crushDeviceClass: ssd`, which could be the reason you're seeing `ssd`?

[2021-05-03 18:17] 2fst4u commented on #6980
I see. I was adding the `probe` line too. Would that break it now that this syntax is supported? It caused continual errors when I tried it with probe.

[2021-05-03 19:37] travisn commented on #6980
@2fst4u What is your yaml that is failing?

[2021-05-03 19:44] 2fst4u commented on #6980
It's [https://www.github.com/rook/rook/tree/master/cluster%2Fexamples%2Fkubernetes%2Fceph%2Fcluster.yaml](The example cluster.yaml) With only minor changes to other fields. That line is the beginning of the changes you note, adding `timeoutSeconds` and `failureThreshold`. Removing those back out lets the file parse.

[2021-05-03 19:50] yan636 opened #7814 "Rebuild rook v1.5.10 with ceph release v15.2.11"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
ceph 15.2.11 fixed a security issue "CVE-2021-20288". Need rook-ceph image v1.5.10 to be rebuilt based on ceph v15.2.11 to eliminate the above security issue.

**Expected behavior:**
Eliminate the "CVE-2021-20288" security issue.

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

[2021-05-03 19:56] travisn commented on #7814
v1.5.11 is planned for tomorrow, which will pick up the CVE.

[2021-05-03 20:11] paalkr commented on #7811
The `storageClassDeviceSets` are suppose to be `ssd`, which they are due to the `crushDeviceClass: ssd`. The problem is the device OSDs on top of the EC2 ephemeral volumes which I would like to register as `nvme`, and I have specified `storage.config.deviceClass: nvme` (see snippet in OP) for this to happen. With rook 1.5.9 the device OSDs (3,4 and 5) was correctly registered as `nvme`.

OSD 0,1 a

[2021-05-03 20:21] travisn commented on #7811
Ah, I overlooked the `storage.config.deviceClass`. Do you see that property if you get the cluster with `kubectl -n rook-ceph get cephcluster -o yaml`? The v1.6 schema looks like it should preserve that property. If it's there, it must be a code bug instead of a schema bug.

[2021-05-03 20:30] paalkr commented on #7811
Thanks for the quick response to this issue @travisn.

Yes, the `storage.config.deviceClass` is present in the CephCluster CR object.

[code]

BTW, I haven't done any changes to CephCluster CR, which was deployed before upgrading to 1.6.1.

[2021-05-03 23:05] travisn commented on #7811
I am able to repro this as well, the storage.config.deviceClass is not getting picked up even though the schema is persisted in the CephCluster CR.

In the OSD prepare log I see the option was passed:
[code]

But the `ceph-volume raw` command was not given the crush device arg. It seems the `DeviceClass` property is empty in the devices struct:
[code]

[2021-05-04 00:16] travisn commented on #6980
@2fst4u The syntax failure only happens when you specify the probe? If you don't specify the probe, does it let you specify the other properties such as `failureThreshold`? If only the probe fails, do you see a need to override the probe? Or you're just reporting that the probe failed?

[2021-05-04 00:48] 2fst4u commented on #6980
No sorry let me clarify.

The following syntax does not parse:

[code]

As it gives the error `error converting YAML to JSON: yaml: line 284: mapping values are not allowed in this context` line 284 in this instance is the "mgr" line so it looks like it doesn't like the timeoutSeconds and failureThreshold.

Ignore the addition of `probe` like I mentioned before, last time I tried that may have bee

[2021-05-04 01:16] 2fst4u commented on #6980
Sorry I deleted the previous comment to avoid incorrect information. I think there might be a sy tax issue in the example you pasted (tabs potentially?) So I just typed it from scratch and it parses.

But after changing the yaml to the following:

[code]

It doesn't change it in the pod when I do a `kubectl describe pod`. It gives the following under "liveness"

[code]

Which appears to still be d

[2021-05-04 05:49] PugTheBlack opened #7817 "Issue creating persistent storage for /var/lib/awx/projects and postgresql - using awx-operator 0.8.0 + rook-ceph branch 1.16"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
_My PVC does not get mounted_

**Expected behavior:**
_My PVC gets mounted globally - and the awx-operator continues provisioning awx in my Microk8s cluster_

**How to reproduce it (minimal and precise):**

_Read info below_

**File(s) to submit**:

* Cluster CR (custom resource), typically called `clu

[2021-05-04 06:01] Madhu-1 commented on #7817
ROOK_CSI_KUBELET_DIR_PATH in https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L93 need to be changed from `/var/lib/kubelet` to `/var/snap/microk8s/common/var/lib/kubelet`

[2021-05-04 06:46] PugTheBlack commented on #7817
Awesome thanks 👍  Why is it though that it needs the full path - since /var/lib/kubelet links to /var/snap/microk8s/common/var/lib/kubelet ?

[2021-05-04 06:49] themonaminor commented on #6872
hi is there any solution to consume PVC backed by ceph on windows nodes?
is there any attcaher/driver/provisioner for windows nodes that will mount PVC to windows node

[2021-05-04 06:50] #6872 closed

[2021-05-04 06:53] paalkr commented on #7811
Thx for confirming the bug.

[2021-05-04 15:15] parth-gr commented on #6101
For keeping the cluster balanced we should have equal growth rates for different `storageClassDeviceSet`.
 So we can have the following configuration present to store data in a balanced way so as to have equal growth rates for different `storageClassDeviceSet`.

1. [Automatic Balancing](https://docs.ceph.com/en/latest/rados/operations/balancer/#automatic-balancing) and [Automatic Scaling](https://

[2021-05-04 18:26] travisn commented on #6980
@subhamkrai Can you take a look at whether the values override the defaults in this case?

[2021-05-04 18:54] travisn commented on #6101
The autobalancer and autoscaler modules are already enabled by default in Rook, so I think we're already ok from the Ceph perspective. I'm not sure we can optimize for weight sets. The default OSD weight is just based on the size of the OSD. We just need to confirm that weight grows when the OSD grows, or if we need to update it.

If those limits are reached we would expect a Ceph health warning o

[2021-05-04 19:28] travisn commented on #7654
The upgrade tests are no longer failing in release-1.5 branch since [build 265](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/release-1.5/265/pipeline/55/) starting 12 days ago. There does not appear to be a related fix, but must have been an environmental issue with jenkins.

[2021-05-04 19:28] #7654 closed

[2021-05-04 20:02] #7016 closed

[2021-05-04 20:03] paalkr commented on #6101
Auto resize of the pools should be already handled I believe. If anyone edit the PVC spec of a `storageClassDeviceSet` the underlying EBS volume is increased, the PVC is increased, the OSD is increased and the pool is increased. So mostly everything related to actually grow the storage should already work out of the box.

To the algorithm / threshold to decide when to increase the PVC spec part of

[2021-05-04 20:16] Born2Bake commented on #7573
Guys, can anyone suggest what steps should be done in order to fix this?

I have upgraded ceph-operator via `helm upgrade --install --namespace rook-ceph rook-ceph rook-release/rook-ceph -f ceph-operator.yaml` to 1.6.1 from 1.5.9. Everything went smoothly without any issues.

Then I ve updated ceph,
`NEW_CEPH_IMAGE='ceph/ceph:v16.2.1-20210419'`
`kubectl -n $ROOK_CLUSTER_NAMESPACE patch CephCluster

[2021-05-04 21:16] Born2Bake commented on #7573
Okay, fix would be to run this from tools-pod -  `ceph config set client.rgw rgw_data_log_backing omap` However, should I use configmap-override for this? Also, according to this https://www.mail-archive.com/ceph-users@ceph.io/msg09680.html this parameter will be changed from 'rgw_data_log_backing' to 'rgw_default_data_log_backing';

[2021-05-04 23:29] travisn opened #7824 "CephMultiClusterSuite is failing related to the external cluster validation"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The TestCephMultiClusterDeploySuite is hanging during cleanup in Jenkins since the merge of #7789, which added a check for the external cluster connection. The master builds are failing consistently since then.

See the test log [here](https://jenkins.rook.io/blue/rest/organizations/jenkins/pipelines/r

[2021-05-05 05:44] alexcpn commented on #7788
I installed rook 1.6.1 latest and am getting the same error; So it is not the old rook version that is adding this

[code]

Error in rook-operator logs

[code]

@electrical  can you please reopen this bug

[2021-05-05 06:40] leseb commented on #7788
@alexcpn fixed in https://github.com/rook/rook/pull/7789, will be in 1.6.2 this week.

[2021-05-05 06:42] #7811 closed

[2021-05-05 07:43] nixpanic commented on #1507
There is a proposal to include node/volume fencing to the CSI specification. Kubernetes (and Ceph-CSI) would be able to initiate a more reliable fail-over when a node becomes unresponsive.

container-storage-interface/spec#477

[2021-05-05 08:48] subhamkrai commented on #6980
@2fst4u there was a problem with the syntax missing `probe`, I tried with the following it is working as expected
[code]
[code]

[2021-05-05 11:02] alexcpn opened #7826 "Not able to connect to external Ceph Cluster which has mon_host bracketed syntax / msgr2"
**Is this a bug report or feature request?**
* Bug Report

Was trying to connect to an External Ceph Cluster (nautilus stable). The mon list in that is in bracketed form.

**Deviation from expected behaviour:**

export ROOK_EXTERNAL_CEPH_MON_DATA=a=da-cicd-r5-storage-1.da.nsn-rdnet.net:6789

[code]
Tried with port 3300

export ROOK_EXTERNAL_CEPH_MON_DATA=a=da-cicd-r5-storage-1.da.nsn-rdnet.net:330

[2021-05-05 12:07] thomaswoeckinger opened #7827 "No Metrics on OKD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
No metrics found by prometheus. No cursor with name ceph_* available.

**Expected behavior:**
Metrics with name ceph_* available in prometheus.

**How to reproduce it (minimal and precise):**

Fresh setup of rook-ceph 1.6.1 (montoring in cluster.yaml is enabled) on OKD 4.7.

**Environment**:
* OS (e.g.

[2021-05-05 12:21] thomaswoeckinger commented on #7827
Forgot to mention that https://github.com/rook/rook/raw/release-1.6/cluster/examples/kubernetes/ceph/monitoring/rbac.yaml was applied before cluster creation

[2021-05-05 14:26] mecseid commented on #7134
It's still a bug.

[2021-05-05 14:27] mecseid commented on #7135
It's still a missing feature.

[2021-05-05 14:30] travisn commented on #7135
@mecseid Would you be interested in contributing the nfs helm chart?

[2021-05-05 15:00] BlaineEXE commented on #7573
@ArmitageW or @Born2Bake, could someone please provide me with logs from the operator showing the error and 20 log lines before and after the error? It would be most helpful to enable debug logging via the ROOK_LOG_LEVEL env var on the operator deployment to give more info. I need good logs to be able to debug the issue.

[2021-05-05 16:30] BlaineEXE commented on #7573
I'm unable to reproduce the issue as @Born2Bake has described it. I will need some additional information to figure out what is wrong here.

1. Please provide me with the full rook-ceph-operator logs at ROOK_LOG_LEVEL=DEBUG.
2. Please also attach a `kubectl describe deploy rook-ceph-rgw-*` for one of the failing RGWs.
3. Please attach the `ceph config dump` output.
4. Please provide the output fro

[2021-05-05 17:51] alimaredia commented on #7318
@kadomino @ycy1766 Could you give me steps to reproduce this issue or Rook and Ceph versions? I would think this issue occurs when you just try to create a new Zonegroup CR. I did that on the master branch of Rook (v1.6.1 I think) and the Zonegroup CR came back up just fine.

[2021-05-05 17:58] anish-gupta1811 opened #7830 "How to Recover OSD data on Rook-Ceph in Kubernetes Cluster"
**Is this a bug report or feature request?**

* Bug Report
Our master nodes went down to "NotReady" state and thus all application pods and rook-ceph pods went to Terminating state.

Now after kubelet and docker service restart on both master nodes - our rook-ceph Pods are not Running but going either in Pending State or ContainerCreating or Terminating.

Need to make sure we haven't lost our OSD

[2021-05-05 18:39] #7776 closed

[2021-05-05 20:24] yan636 commented on #7814
@travisn Many thanks!

[2021-05-05 20:27] thomaswoeckinger commented on #7827
After enabling user defined project monitoring i had to delete and recreate the service monitor as found by https://github.com/rook/rook/raw/release-1.6/cluster/examples/kubernetes/ceph/monitoring/service-monitor.yaml.

I would suggest an OKD section in monitoring.md to describe the differences.

[2021-05-05 20:55] travisn commented on #7814
Closing since the release is completed

[2021-05-05 20:55] #7814 closed

[2021-05-05 20:57] travisn commented on #7827
@thomaswoeckinger So there is an ordering issue when creating the service monitor for OKD? Want to provide the text that would help for OKD?

[2021-05-05 21:07] travisn commented on #7830
Did the rest of the K8s cluster recover after the masters came back online? It's expected that the rook pods would all start back up after a total outage, and the mons and osds would find the same data since those pods are tied to their local disks (assuming you are using the cluster.yaml example, or if using the cluster-on-pvc.yaml example they would find their PVs).

What does the operator log s

[2021-05-06 00:45] travisn opened #7837 "CronJob needs to be updated from v1beta1 to v1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In K8s 1.21, the operator log shows the following warning:
[code]

The crash collector cron job needs to be updated to v1 on K8s 1.21 and newer.

**Expected behavior:**
No warnings in the log about cron job v1beta1 being deprecated.

**How to reproduce it (minimal and precise):**

Install on K8s 1.21 a

[2021-05-06 06:20] namaiiee2222 commented on #2197
couldn't we change the storage path? store on osds?

[2021-05-06 06:36] alexcpn commented on #5561
Same error in v1.5.10 version.

[code]

[code]

[2021-05-06 07:31] 2fst4u commented on #6980
That parses but it causes other issues. I'll create a new issue.

[2021-05-06 07:32] alexcpn commented on #7826
Tried giving CephImageVersion in CephCluster (+ this work around for the bug that detect version was hanging https://github.com/rook/rook/issues/5561#issuecomment-635491766)

[code]

Tried with 6789 port also; Below log is with 3300
[code]

Operator log
[code]

[2021-05-06 07:53] 2fst4u opened #7842 "Changing liveness probe values causes pod crashes"
**Is this a bug report or feature request?**
* Bug Report *

**Deviation from expected behaviour**

When changing the liveness probe fields from default, the relevant pods go into crashloopbackoff with the error `Liveness probe failed: admin_socket: exception getting command descriptions: [Errno 2] No such file or directory`

The settings do apply, as can be shown when doing a `kubectl describe` o

[2021-05-06 07:55] 2fst4u commented on #7842
[kubectl log.txt](https://github.com/rook/rook/files/6432788/kubectl.log.txt)

[cluster.yaml.txt](https://github.com/rook/rook/files/6432794/cluster.yaml.txt)

[2021-05-06 09:05] subhamkrai commented on #7842
@2fst4u please check your syntax, I tried with the same value

`rook-ceph-mon-a-85cbcf5c96-4wxrz                         1/1     Running    0          50s`
[code]
my schema
[code]
the problem is your syntax you are putting `probe` field inside `disabled`

[2021-05-06 09:08] 2fst4u commented on #7842
You may just be seeing the values commented out. They're commented a bit messily but I assure when I apply it they aren't inside `disabled`, probe is inline with it.

The values do apply, as you've shown. I have no issue with them applying and I can confirm it applies.

The issue is what happens after it applies.

[2021-05-06 09:18] subhamkrai commented on #7842
@2fst4u okay I was able to repo this...I'll get back to this

[2021-05-06 09:19] 2fst4u commented on #7842
Awesome (I mean not really, it's terrible haha) but it's good that it's not just me being an idiot. Will be great to see what causes this.

[2021-05-06 09:28] kadomino commented on #7318
Thanks for following up on this, @alimaredia. Unfortunately, I moved on since and no longer have an environment to reproduce it.

I was trying to use the multisite functionality to replicate some buckets to a remote site over the Internet for Disaster Recovery purposes. As I wrote before, I realized that this cannot be done because my two sites cannot access their respective K8S service networks a

[2021-05-06 10:45] alexcpn commented on #5732
In v1.5.10 this workaround is still needed, after 'bash rook/cluster/examples/kubernetes/ceph/import-external-cluster.sh' step as it starts complaining about empty ceph-username

[code]

[2021-05-06 12:04] thotz commented on #7804
The rook v1.6 has a lot of SSL fixes for connecting with RGW, but honestly, I didn't test it on the ceph external cluster. As per [documentation](https://rook.io/docs/rook/v1.6/ceph-object-store-crd.html#gateway-settings) u need to provide `securePort` and `sslSecretRef` secret which contains certs and intermediate cafiles(I guess for external cluster only cafile might be required)  need to be pas

[2021-05-06 12:20] thotz opened #7843 "Deploy COSI driver in Rook"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The Kubernetes 1.22 is planned to provide a new standard way for provisioning object store via [COSI](https://github.com/kubernetes-sigs/container-object-storage-interface-spec/blob/master/spec.md). Rook needs to deploy COSI driver to handle the incoming `BucketRequest` and `BucketAccessRequest` similar

[2021-05-06 12:23] thotz commented on #7804
@cpmoore : Let me know if u face any issue while connecting to the external endpoint via RGW

[2021-05-06 14:29] aasraoui commented on #5960
@tibbe i'm having a similar issue wthere mgr pod doesn't show the dashboard port, was this resolved ? thanks!

[2021-05-06 15:11] poul1x commented on #7803
Fresh cluster.

You can use default: https://github.com/rook/rook/blob/release-1.6/cluster/examples/kubernetes/ceph/object.yaml
It will fail with error:
[code]

I inspected object storage CRD and found that these fields are mandatory.
So, I patched them [here](https://github.com/rook/rook/blob/release-1.6/cluster/examples/kubernetes/ceph/crds.yaml#L6040) and [here](https://github.com/rook/rook/blo

[2021-05-06 15:35] tibbe commented on #5960
@aasraoui it works now and IIRC the issue was the traefik doesn't work as an ingress for the dashboard as it doesn't (easily) support (self-signed) SSL traffic between the ingress server and the dashboard server. Switching to nginx ingress solved the issue.

After enabling the dashboard in the CRD and applying https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/dashboard-ingr

[2021-05-06 15:50] liewegas opened #7845 "Plan ingress controller behavior (for NFS and/or RGW)"
Currently the ceph orchestrator abstractions for RGW and NFS deploy the backend services (radosgw zone or ganesha daemon(s)).  A new orchestrator ``ingress`` service abstracts an HA front-end.  In the case of cephadm, that is a combination of haproxy and keepalived.  In the case of kubernetes, this will presumably map to an ingress controller to provide HA, load-balanced access to the service to c

[2021-05-06 15:52] briantopping commented on #6394
/lifecycle frozen

[2021-05-06 16:41] #7499 closed

[2021-05-06 18:07] abh commented on #3831
See also #4334

[2021-05-06 19:27] travisn opened #7851 "Master builds are failing to publish with new github action"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The github action is failing to publish the master build, see this [example log](https://github.com/rook/rook/runs/2521381654?check_suite_focus=true).

[code]

**Expected behavior:**
Publish from the github action must succeed, or else we will need to revert #6667 soon.

**How to reproduce it (minimal

[2021-05-06 20:02] #7087 closed

[2021-05-06 20:02] #6472 closed

[2021-05-06 21:25] #7824 closed

[2021-05-06 23:32] SleepingShell opened #7854 "ceph mgr attempts to bind to the wrong pod IP for prometheus+dashboard"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** The rook-ceph-mgr cannot start the prometheus or dashboard endpoints, as they are attempting to bind to a different IP address than what the pod is currently running as.

**Expected behavior:** Bind to the correct pod IP

**How to reproduce it (minimal and precise):** Not sure how this situation happen

[2021-05-07 00:24] ycy1766 commented on #7318
Thanks for following up on this ,@alimaredia . I did the same in rook 1.5.9, but it was confirmed that it works normally.
[code]
There is no error in the operator.
[code]

[2021-05-07 01:52] #7851 closed

[2021-05-07 02:24] alimaredia commented on #7318
@ycy1766 @kadomino Thanks for the responses. I'm going to go ahead a close the issue. If you'd like it reopened or have additional feedback let me know.

[2021-05-07 02:24] #7318 closed

[2021-05-07 05:22] alexcpn commented on #7826
Seems connected to https://github.com/lxc/lxd/issues/8018

[2021-05-07 09:26] alexcpn commented on #7826
Seems to be bug in rados library; it cannot read the hostnames in bracketed form. from the rook code; rook was calling rados and ceph commands via os.exec

I exec into rook-ceph operator container and copied the 'ceph.conf' and 'client.admin.keyring` from the ceph server to `/etc/ceph/ceph.conf` and `etc/ceph/ceph.client.admin.keyring` respectively

With  the below in ceph.conf, `rados df` was wor

[2021-05-07 09:26] #7826 closed

[2021-05-07 10:31] Rakshith-R commented on #7060
Hey @travisn, @Madhu-1 , is this still required ? if so I can work on it.

[2021-05-07 10:39] Madhu-1 commented on #7060
then we don't need to run both plugins we can disable the deployment of the plugin which is not needed.

@travisn do we need this one? if yes, we need to make sure we are backward compatible :)

[2021-05-07 14:36] travisn commented on #7060
This would still be nice to have. If someone needs both CSI plugins, but only needs each of them on a subset of nodes, we don't have a way to separate them today. I'll reopen, thanks.

[2021-05-07 14:38] travisn commented on #7060
With backward compatibility in mind, what about something like the following?
- If only `CSI_PROVISIONER_NODE_AFFINITY` is specified, apply it to both drivers
- If both `CSI_PROVISIONER_NODE_AFFINITY` and a new setting `CSI_PROVISIONER_NODE_AFFINITY_CEPHFS` are specified, apply the first one only to the rbd driver and the new one to cephfs.

[2021-05-07 16:18] travisn commented on #7803
@poul1x We could add nullable to those fields, but I'm wondering why I can't repro that error. There have been similar issues for other settings, but only observed during upgrades.

[2021-05-07 16:19] linkvt commented on #7734
Small update after scratching and reinstalling with rook 1.6.2 and ceph 16.2.3, I see now only SSDs with these duplicate OSDs (additional info, we only have the SSDs in one host due to reusing old hardware). Not sure if something was fixed but I saw the same behaviour after scratching and reinstalling again. Will report back in a week (due to vacation) if more OSDs were spawned on HDD OSDs of if t

[2021-05-07 18:10] travisn commented on #5960
There is also a discussion in #7854 that may be related.

[2021-05-07 18:16] travisn commented on #5561
@alexcpn This issue with the multi-arch csi driver has been resolved, looks like you are hitting an intermittent issue with the version detection timing out in the operator. If you see it again, please open a new issue.

[2021-05-07 19:41] SleepingShell commented on #7854
the dashboard addr returns as 0.0.0.0, the prometheus address returns blank

[2021-05-07 19:58] aasraoui commented on #7854
i'm having issues accessing the dashaboard, this might be similar, prometheus is returning blank and  dashboard  has ::                                                                                                                                                                [root@rook-ceph-tools-664b7555b8-jndss /]# ceph config get mgr.a mgr/prometheus/server_addr

[root@rook-ceph-tools-664b75

[2021-05-07 20:01] #7091 closed

[2021-05-07 20:02] #6903 closed

[2021-05-07 20:04] SleepingShell commented on #7854
Have you confirmed this is the same issue? Have you checked your mgr logs?

[2021-05-08 02:23] ArmitageW commented on #6155
I deployed ceph according to rook1.6, the version of kubernetes is 1.19, and the working directory of kubernetes is /var/lib/kubelet. But also encountered this problem. There is no error log for csi-rbdplugin. The csi driver name cannot be found when pvc is mounted.

![image](https://user-images.githubusercontent.com/40707671/117522550-b3dee400-afe6-11eb-9756-75babe559561.png)

Error log:
`Warning

[2021-05-08 09:45] sfxworks opened #7858 "Rook thinks NVMEs are SSDs and assigns them slots in a metadata device"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Rook thinks NVMEs are SSDs and assigns them slots in a metadata device

**Expected behavior:**

Rook allows for assigning of osds to classes before preparation or correctly identifies nvmes

**How to reproduce it (minimal and precise):**
1. Add 4 nvmes in any slot on host, possibly in bifurcation
2. S

[2021-05-08 09:51] sfxworks commented on #7858
It looks like I can specify the device class https://github.com/rook/rook/blob/master/Documentation/ceph-cluster-crd.md#osd-configuration-settings similar to how it's done here, https://github.com/rook/rook/issues/7753#issue-867026342 so I suppose this can manually be done.

[2021-05-08 10:54] timbuchwaldt opened #7859 "Documentation of recovering encrypted OSDs"
# Feature Request

**What should the feature do:**
Improve documentation around disaster recovery for OSDs using disk encryption.

**What is use case behind this feature:**
After an accidental delete of the ceph namespace we recovered it following the great documentation here: https://github.com/rook/rook/blob/master/Documentation/ceph-disaster-recovery.md
However, we felt like it missed documenta

[2021-05-08 14:55] OPSTime opened #7860 "The 'ceph du' command shows that the usage of RDB image space is inconsistent"
**The space usage of RDB image can be viewed by "ceph du" command, which is different from the space usage by "df -h" command in the system where the corresponding image is mounted**

[code]

[code]

**Compared with the above query results through the "ceph du" command, it is inconsistent:**
[code]
**There is also a problem with the result returned by the following command. The other two images ar

[2021-05-08 21:54] PiotrKlimczak opened #7861 "Openshift 4.7 pods fail to stop after csi-rbdplugin restart, VM hangs and do not shutdown"
**Deviation from expected behavior:**
After csi-rbdplugin restart, pods which are using storage on that node where csi-rbdplugin was restarted are hanging endlessly.
Force deleting pods, doesn't solve the problem as then compute machine (VM) fails to shutdown hanging.
This is 100% reproducible.

**Expected behavior:**
If csi-rbdplugin restart happens, it should not affect pods nor VM in any way.

[2021-05-08 22:01] richardelling commented on #7845
There are many ways to do this. I can share what we normally do.
1. use MetalLB load balancer
2. in Layer2 mode https://metallb.universe.tf/concepts/layer2/
3. IP addresses are manually assigned when we create the ingress

There are various constraints to understand wrt how the internal cluster proxy works, but it can be done.

[2021-05-09 03:16] OPSTime commented on #7809
Yes, it's a virtual disk

[2021-05-09 20:34] psarossy opened #7862 "Upgrade from 1.3 to 1.4 to 1.5 fails with loop: Error initializing cluster client: ObjectNotFound('error calling conf_read_file',)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When following the [official doc](https://rook.io/docs/rook/v1.5/ceph-upgrade.html) to upgrade from 1.4 to 1.5, after I applied the new common/crd config and updating the operator image (rook-ceph-operator=rook/ceph:v1.5.11) it went into an error loop:

[code]

The cluster stayed healthy and kept servi

[2021-05-10 05:03] Madhu-1 commented on #7860
If you delete the files from the application pods the size won't be reflected on the ceph cluster. you need to run `fstrim` or some kind of tools on the mount point to free up the utilization space on the ceph cluster.

[2021-05-10 07:44] #7803 closed

[2021-05-10 08:36] NeilW opened #7866 "Host networking requires private network"
* Bug Report

**Deviation from expected behavior:**

Due to the fix for #5495  https://github.com/rook/rook/pull/5594 Rook requires an 'Internal IP' to operate. This means it will not work with correctly configured default Host networking on a cloud, unless there is an allocated private network.

Networking is defined in K8s as:

https://kubernetes.io/docs/concepts/architecture/nodes/#addresses

W

[2021-05-10 13:07] mumrau commented on #2531
:no_good:

[2021-05-10 15:32] Madhu-1 commented on #7787
@adabuleanu can you please provide complete logs of rbdplugin container from the node where the mount is failing. let me check if we have any issues with the CSI driver.

[2021-05-10 16:06] adabuleanu commented on #7787
@Madhu-1  I have already attached the logs in the initial post. Please see [csi-rbdplugin.log](https://github.com/rook/rook/files/6398901/csi-rbdplugin.log)

Also, I managed to reproduce it today, so here are some fresh logs

[code]
We have a cluster of 3 nodes
[code]
Here are the csi-rbdplugin logs for each of them
[csi-rbdplugin-nodename-0.log](https://github.com/rook/rook/files/6453429/csi-rbdp

[2021-05-10 17:22] travisn commented on #7859
@timbuchwaldt The recommended approach for encrypted OSDs now is with a [KMS (Vault)](https://rook.github.io/docs/rook/v1.6/ceph-cluster-crd.html#security).
@leseb If not using vault, what is your feedback on the approach to recover the OSDs if the secrets were deleted?

[2021-05-10 17:40] iogrids opened #7870 "Showing OSD 0 after installing rook-ceph in kubernetes cluster"
I have set up 3 node kubernetes using 3 VPS and installed rook/ceph.

when I run

[code]

I get the below result

[code]

I tried

[code]

and the result is

[code]

```ceph osd status``` gives me no result

This is the yaml file that I used

[code]
When I use the below command

[code]

results are

[code]

My disk partition

[code]

What am I doing wrong here or is this a bug?

[2021-05-10 17:49] travisn commented on #7870
@iogrids Please see the [Ceph Prerequisites](https://rook.github.io/docs/rook/v1.6/ceph-prerequisites.html#ceph-prerequisites). You don't have any available disks on which to create OSDs.

[2021-05-10 17:49] #7870 closed

[2021-05-10 18:31] timbuchwaldt commented on #7859
@travisn We were aware but chose not to use another system, especially because a migration of Vault onto k8s is a possibility which would be an obvious no-go.

Just to understand: It's saved in a K8S secret, then rendered to the nodes? If so I guess I have a secret to restore, as just restoring the _dev_* folder seemed to have been enough for the OSDs to come back up.

[2021-05-10 18:32] travisn opened #7871 "Pushing to the master branch of a private fork results in triggering github actions"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When pushing to the master branch of my private fork I saw a github action report failure. This was confusing since I only expect them to be run on the `rook` fork.

![Screen Shot 2021-05-10 at 12 24 49 PM](https://user-images.githubusercontent.com/1048514/117706620-c4c85a80-b18a-11eb-9908-fa2a5fd5ec90

[2021-05-10 18:41] travisn opened #7872 "Editing the CephCluster CR is sometimes ignored"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When creating a cluster if the settings are invalid, the user will attempt to edit the cephcluster CR. The operator gets the event for the update, but ignores processing because it only thinks it needs to cancel the current reconcile.

[code]

The workaround is to restart the operator.

**Expected beha

[2021-05-10 20:02] #7099 closed

[2021-05-10 20:02] #7065 closed

[2021-05-10 20:08] #7165 closed

[2021-05-10 20:30] BlaineEXE commented on #7866
I can think of a couple options to fix this issue:
1. By default, Rook can use the internalIP (current behavior). if the internal IP doesn't exist, it should then choose the externalIP (behavior to add)
2. Rook can offer a networking option for users to select which IP type to use.

It's also possible to implement both options since 1 deals with defaults and 2 deals with overrides. TBH, I'm not su

[2021-05-10 20:50] travisn commented on #7854
@sebastian-philipp Why would the dashboard/prometheus modules be remembering an old ip address to bind to?

[2021-05-10 21:22] travisn commented on #7845
@liewegas Is the question ultimately how Rook can be aware of the RGW or NFS endpoint so it can orchestrate those services? I'm thinking Rook would require that a `virtualIP` property be specified in the CephObjectStore or CephNFS CRs. The admin would have to create the ingress first, then configure the object store or nfs with those IPs.

Rook is largely unaware of the routing configuration exter

[2021-05-11 03:07] subhamkrai commented on #7871
@travisn [this](https://github.com/subhamkrai/rook/commit/ead876a8ab344d344088d35a18bf0b9daba922dc) changes I did while testing in the forked repo. Make sure `DOCKER_REGISTRY ?=` this is changed to right docker hub ID and I see the action failed when trying to login in container registry make sure these are set```username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSW

[2021-05-11 05:46] travisn commented on #7871
@subhamkrai Not sure we need to change variables or secrets. We need to just disable this action on all forks except `rook`.

[2021-05-11 06:20] OPSTime commented on #7860
After running the fstrim command, the following error is returned:

[code]

[2021-05-11 06:28] kingudk opened #7874 "Crashlooping components during v1.5.10 -> v1.6.1 upgrade"
During upgrade from Rook v1.5.10 -> v1.6.1 the process have gotten stuck with crash looping pods. The current state is as follows:
[code]

What the above does not show is that the crashcollectors are also in a crash loop. Also there is an additional mon (mon-p is replacing mon-o).
All in all both mds, the mgr, mon-p (mon-o) and the v1.6.1 crash collectors is crashlooping (the running crashcollecto

[2021-05-11 07:00] Madhu-1 commented on #7787
Here is my analysis on the problem

[code]

as the subsuquent request starts failing with `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-85de0c54-3860-401b-9583-8a92a603a010/globalmount/0001-000b-kube-system-0000000000000001-eed72b89-90bc-11eb-b34b-22bafeaa9e92f does not exists` this directory gets created during the NodeStage request, as the unmount is partially done in NodeUnstage, Kubernete

[2021-05-11 07:14] leseb commented on #7871
I think it's because your fork is even with rook/rook so it's expected. We could do this in Rook https://github.community/t/stop-github-actions-running-on-a-fork/17965/2 to avoid confusion.

[2021-05-11 08:20] leseb opened #7876 "Intermittent integration test failures related to the admission controller"
See:

[code]

Coming from https://github.com/rook/rook/pull/7875/checks?check_run_id=2553517134

[2021-05-11 08:21] leseb commented on #6242
How far are we from doing this? @subhamkrai @travisn?

[2021-05-11 09:34] satoru-takeuchi opened #7878 "ceph: hostPath for OSD is constructed from kernel device name though udev persistent device name is specified"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Although udev device name is specified in host-based cluster, the corresponding hostPath is from kernel device name. So if the device name changes, user data will corrupt.

CephCluster CRD:
[code]

Directory:
[code]

Reported in the following slack channel.
https://rook-io.slack.com/archives/CK9CF5H2R

[2021-05-11 09:38] satoru-takeuchi commented on #7878
@travisn I guess that it's straightforward to use OSD's fsid to constract hostPaths. Do you have any concern to leak this ID as directory name?

[2021-05-11 13:02] liewegas commented on #7845
I have no opinion about whether rook should be involved.  I think the ``mgr/rook`` module needs to be aware, though, so that it can set this up for the user.  That is the current plan, at least; if it turns out there are 100 different ingress options to worry about (and none that are more common than others) then perhaps this is a bust.  I'm guessing there are just a handful of common controllers,

[2021-05-11 14:26] travisn commented on #7845
I assume AWS, GCE, and nginx are the most common according to [this doc](https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/), but the list of possible controllers is certainly long. For upstream, though I wonder how much we can generalize it. There are many K8s configurations out there. To get focus, it almost feels like we need downstream scenarios to drive what happens

[2021-05-11 14:48] parth-gr commented on #6101
For increasing the OSDs size by this [feature ](https://github.com/rook/rook/pull/5613), we should increase the PVC template and also need to restart the OSD?

Do we need to also update the [memory utilization](https://github.com/rook/rook/blob/master/design/ceph/storage-class-device-set.md#example-1-aws-cross-az)(resources->request->memory) as it depends on [Storage](https://github.com/rook/rook/

[2021-05-11 15:33] onedr0p opened #7881 "Provide alternate image registry to dockerhub"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Hello,

In order to combat dockerhub's imposed rate limits it would be great to host these images on ghcr or quay.io. It would be great to also use this new alternative location in the helm charts

**What is use case behind this feature:**

Dockerhubs 100/6hr pull rate-limits

[2021-05-11 17:18] travisn commented on #6101
The flow already implemented is basically:
- The admin updates the CephCluster CR with the new expected OSD size on the volumeClaimTemplate
- The operator updates the size of the PVC for the OSD
- The operator updates a size var on the OSD pod spec, which will cause the OSD to be restarted
- The OSD will apply the new volume size at pod start

The difference now is that the desired size of the OSD

[2021-05-11 17:25] travisn commented on #7871
To capture my thoughts from discussion, I still see that this action should not be executed on a private fork. Only official builds (master/release branches on the main `rook` fork) should even attempt to publish.

[2021-05-11 17:35] matthew-mcdermott commented on #4896
@ctrahey Did you ever get this worked out? For anyone who comes here after upgrading to 1.20.5 and still can't get it to go, here is what it was for me. After I did the upgrade, the orphaned pods were gone. I upgraded rook to v1.6.0 and ceph to v16.2.1. I also upgraded my CNI, which is Calico. The problem changed from "an operation with the given Volume Id already exists" to just timing out while

[2021-05-11 19:34] travisn commented on #7874
@kingudk What does the `ROOK_HOSTPATH_REQUIRES_PRIVILEGED` env var setting on the rook operator deployment show? If you're installing on openshift it must have been `true`. Could you just confirm that it is still set to `true`?

[2021-05-11 20:07] travisn commented on #6943
@thotz What is the latest thought on this?

[2021-05-11 22:10] richardelling commented on #7845
A `virtualIP` might be better as an EndPoint or EndPointSlice reference

[2021-05-11 23:38] sdeoras commented on #7519
hi folks, i am running into possible similar issue where `rook-ceph-osd` pod is in crashloop after node reboot. i am happy to start from scratch and wondering if there is a recommendation on what needs to change in the yaml files so node-reboot goes fine. I am using `v1.6.1` of https://github.com/rook/rook.git on a single node ARM64 cluster spawned via k0s. Thanks.

[code]

[2021-05-11 23:51] satoru-takeuchi commented on #7878
@travisn

Here.
https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/osd/spec.go#L741

It's for exclusive control among multiple osd daemons.

Here is the detail.
https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/osd/volumes.go#L97-L101

[2021-05-12 05:09] thotz commented on #6943
We can close this one. The required fix merged upstream and Rook also consumed it in 20c302f72d. Hence closing this one

[2021-05-12 05:09] #6943 closed

[2021-05-12 06:41] kingudk commented on #7874
It is plainly missing.
During the upgrade I applied an updated version of the operator definition to the cluster (not just replacing the image, may have been a bad choice).

The version of openshift-operator.yaml that I applied is the one found in the v1.6.1 tag in the repository. Comparing to the old version I could see that the ENV definitions have been shifted around, but is seem to be set: htt

[2021-05-12 11:13] davesargrad commented on #2668
This is also a problem for me. I think this should be reopened.

I was able to cleanly stand up a ceph cluster. However I followed the rip down procedures, and I see several resources hanging.

[2021-05-12 11:18] timbuchwaldt commented on #7859
Interesting, we did reboot the machines because the opened volumes stopped responding, spamming the kernel log with constant errors that reaching the ceph-mons didn't succeed.

We are running rook v1.5.10 with Ceph version v15.2.10

[2021-05-12 11:21] davesargrad opened #7890 "Cant cleanly delete rook-ceph resources."
My issue is exactly the issue that is documented [here](https://github.com/rook/rook/issues/2668), yet this has been closed.

I installed the lastest rook-ceph just 20 days ago. I had no problems installing. I used the [provided documentation](https://rook.io/docs/rook/v1.6/ceph-quickstart.html) and that worked quite well.

However I tried to follow up the [teardown steps](https://github.com/rook/

[2021-05-12 11:23] Madhu-1 commented on #7890
Do you have any PVC created using rbd storageclass?

[2021-05-12 11:24] davesargrad commented on #7890
Thanks for your quick response.. No I dont.

[2021-05-12 13:06] davesargrad commented on #7890
The following two commands eliminated my problem
[code]

[2021-05-12 13:09] davesargrad commented on #7890
I'll close this issue. The documentation actually made it clear that order was critical. I did not properly follow this order.

[2021-05-12 13:09] #7890 closed

[2021-05-12 14:12] OPSTime commented on #7860
**After the fstrim command is executed, some space should be reclaimed, but it is still inconsistent with the actual space size.**
**And it doesn't seem to be the final solution.**

**kubectl -n rook-ceph exec -it deploy/rook-ceph-tools -- rbd du -p monitoring**
[code]

**kubectl -n rook-ceph exec -it  csi-rbdplugin-hdbq6   -c csi-rbdplugin  -- fstrim /var/lib/kubelet/plugins/kubernetes.io/csi/pv/

[2021-05-12 14:47] travisn commented on #7874
@kingudk Strange, since you applied that `operator-openshift.yaml` with the v1.6.1 it should have the setting. Does re-applying the manifest update it? Or is there any possibility you applied `operator.yaml` instead of `operator-openshift.yaml`?

You could try editing the deployment manually (`kubectl -n rook-ceph edit deploy rook-ceph-operator`), but I wonder if there are any other settings dropp

[2021-05-12 14:58] #7842 closed

[2021-05-12 15:38] leseb commented on #7859
Hum did you recover the secrets somehow? The one that has the encryption key.

[2021-05-12 16:06] davesargrad opened #7894 "Why is my NFS pod and PVC pending"
I've followed [the instructions](https://rook.github.io/docs/rook/master/nfs.html) for establishing ROOK/NFS.

It seems to have worked yet I cant seem to see PVC's get bound, using the automatic provisioner

![image](https://user-images.githubusercontent.com/48793689/118007753-6c27c780-b31a-11eb-9329-5b1a475310d0.png)

![image](https://user-images.githubusercontent.com/48793689/118007830-82ce1e80-

[2021-05-12 16:42] #7797 closed

[2021-05-12 18:34] davesargrad commented on #7894
I created a PV for the local-storage.. The PVC for the NFS Server got a little further. I now see a rook-nfs-0 pod:
![image](https://user-images.githubusercontent.com/48793689/118026622-009c2500-b32f-11eb-82a1-f19318ad5cf4.png)

[code]

[2021-05-12 18:39] davesargrad commented on #7894
Ah.. I got it working.. the PV was referencing a PVC in the wrong namespace.

[code]

[2021-05-12 18:44] aasraoui commented on #7756
@travisn any ideas, why volume creation is pending:
[root@abdel-ceph-master ~]# k -n rook-ceph get pvc
NAME       STATUS    VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS      AGE
firstpvc   Pending                                      rook-ceph-block   16d
[root@ceph-master ~]# k -n rook-ceph describe firstpvc
error: the server doesn't have a resource type "firstpvc"
[root@ceph-master ~]# k -n r

[2021-05-12 20:02] #7124 closed

[2021-05-12 20:15] travisn commented on #7894
@davesargrad Great to hear you got it working!

[2021-05-12 20:15] #7894 closed

[2021-05-12 20:46] travisn commented on #7519
@sdeoras This sounds like #7878, which has a fix in progress

[2021-05-13 06:57] subhamkrai commented on #7837
we also see this
[code]
in the log...will create a new issue

[2021-05-13 14:49] #7878 closed

[2021-05-13 16:20] subhamkrai opened #7903 "Tags are missing from master push"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Since we started using GitHub action for master push tags are missing.
for example,
it is showing like this e06c36d it should have tag+sha-id something v1.6.2-12.gd60ee0d

**Expected behavior:**
tags should be added in the master push

[2021-05-13 16:20] subhamkrai commented on #7903
@travisn ^^

[2021-05-13 16:35] pzoxiuv commented on #4367
I'm also running into this issue: I have two nodes `kubes-stor` and `kubes-worker` and two osds.  Both of the osd-prepare pods run successfully (each on different nodes), but then both osd pods are run on the same node.  This causes osd-0 to fail, with the same error as the OP (ceph-bluestore-tool fails since it can't find the /dev/ceph-... file it's expecting).

The `failure-domain ` and `topolog

[2021-05-13 20:02] #7171 closed

[2021-05-13 20:11] travisn commented on #7903
The tag should be set by [this line](https://github.com/rook/rook/blob/49b5adda7dd8c31e39906f01855b96afd2805965/build/makelib/common.mk#L74) in the makefile:
[code]

I'd suggest adding some logging in the action to see what the output of `git describe` is from the job, or if `VERSION` is somehow being overridden.

[2021-05-13 20:23] travisn commented on #7212
@abursavich Ddi you work through the rat's nest already? I don't see the refactoring happening unless there is more demand for it. Working with a single repo simplifies a lot of aspects.

[2021-05-13 23:39] AzucenaL opened #7904 "OSD(s) reporting legacy (not per-pool) BlueStore omap usage stats"
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**
HEALTH_WARN
OSD(s) reporting legacy (not per-pool) BlueStore omap usage stats

**Expected behavior:**
HEALTH_OK

How to reproduce it (minimal and precise):
I upgraded from ceph version Nautilus 14.2.9 to Pacific 16.2.3 (following this procedure https://rook.io/docs/rook/v1.6/ceph-upgrade.html#ceph-versio

[2021-05-14 00:15] travisn commented on #7904
@AzucenaL I believe this health warning will resolve itself after the OSDs have had a chance to do some internal conversion. See [this issue](https://github.com/rook/rook/issues/3539#issuecomment-531287051). Let us know if it doesn't resolve itself soon.

[2021-05-14 06:41] fzhan opened #7905 "update Ingress to apiVersion: networking.k8s.io/v1"
**Is this a bug report or feature request?**
* Feature Request
update ingress yaml to adept apiVersion: networking.k8s.io/v1
**What should the feature do:**
- current setup doesn't work under k8s 1.20

**What is use case behind this feature:**
- after update to the following code, URL responded with code 503
***Sample Code***
[code]

**Environment**:
rook-ceph v release-1.6
k8s: 1.20.4

[2021-05-14 11:17] tumido opened #7906 "Set object storage quota per namespace/project via a `ResourceQuota` resource"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Cluster admins should be allowed to limit maximal total bucket sizes per project - no matter how many buckets are created in the project or what size limit is specified in the bucket claim.

**What is use case behind this feature:**
Currently any project can starve others out of the storage capacity, be

[2021-05-14 14:01] travisn commented on #7905
@fzhan Rook doesn't create the ingress, Rook just creates the internal service for the dashboard. Are you able to get a response from the dashboard if you connect to the service from inside the cluster? For example, from the toolbox can you curl the service? If so, the dashboard is working as expected and you need to find the ingress settings that will work in your environment.

[2021-05-14 14:14] AzucenaL commented on #7904
@travisn Well, I did this update on Tuesday. Also I deleted the OSD pods one by one and the warning remains. So I'm not sure it will go away by itself.

[2021-05-14 14:20] travisn commented on #7906
@thotz Is it possible to add the bucket quotas to the object storage class? From this [related discussion](https://github.com/rook/rook/pull/5674/files#r451930301) I thought we either had it or would be adding it.

[2021-05-14 15:20] travisn commented on #7904
@liewegas Should the OSDs be automatically resolving their warnings about "OSD(s) reporting legacy (not per-pool) BlueStore omap usage stats", or what action is needed?

[2021-05-14 15:26] OPSTime opened #7907 "Error ENOENT: No orchestrator configured (try `ceph orch set backend`)"
**Error:**
[code]

**$ ceph -v**
`ceph version 15.2.11 (e3523634d9c2227df9af89a4eac33d16738c49cb) octopus (stable)`

**$ rook version**
[code]

**$ ceph mgr module enable orchestrator**
`module 'orchestrator' is already enabled (always-on)`

**$ ceph mgr module ls**
[code]

[2021-05-14 15:29] travisn commented on #4367
@pzoxiuv I see the following:
- In the osd-prepare-kubes-worker log, two OSDs were created with IDs 0 and 1, on `sde` and `sdf`.
- In the osd-prepare-kubes-stor log, one OSD was created with ID 0 on device `sde`.

However, the interesting thing about the first log is that OSD 0 on sde seems like it already existed. It wasn't created, but it was discovered. The prepare job even sees that it's not e

[2021-05-14 16:06] pzoxiuv commented on #4367
It's possible, and I can try recreating the cluster after wiping sde.  But in my cluster.yaml I specify that only sdf on kubes-worker and sde on kubes-stor should be used, so I assumed that other disks would be ignored.  Or am I misunderstanding how the storage.nodes section of the CephCluster spec works?

[cluster.yaml.txt](https://github.com/rook/rook/files/6479893/cluster.yaml.txt)

[2021-05-14 16:17] travisn commented on #4367
Yes the logs showed that only `sdf` was used for creating new OSDs as expected, but Rook also queries all the disks for existing OSDs. This is to maintain existing OSDs even if the settings change.

[2021-05-14 16:48] varshar16 commented on #7907
@OPSTime you need to enable `rook` module
[code]

[2021-05-14 16:56] BlaineEXE commented on #4367
It also might be important to remember that systems usually don't guarantee that any given `sdf` will be the same disk between reboots. It's possible you could be seeing the effects of that as well.

[2021-05-14 16:57] pzoxiuv commented on #4367
How do I wipe a disk that was previously used for an OSD?  I wrote 1GB of zeros to sde with `dd`, ran `wipefs -a /dev/sde`, deleted all of /var/lib/rook, deleted all of the ceph* files in /dev/ and /dev/mapper/, but when I rebuilt the cluster the prepare job still seemed to find a previous OSD on sde.

[rook-ceph-osd-prepare-kubes-worker-phgsl.log](https://github.com/rook/rook/files/6480159/rook-c

[2021-05-14 17:09] BlaineEXE commented on #4367
Are you using a JBOD or something that is shared between both nodes? The sde created on stor node is the same sde that is found to already be existing on the worker node.

[2021-05-14 17:27] abursavich commented on #7212
I did pull out `k8s.io/kubernetes` ~3mo ago: https://github.com/abursavich/rook/commits/remove-kk

I'll try to sync it up with master soon and send a PR if it'd be welcome.

[2021-05-14 17:37] travisn commented on #7212
@abursavich Looking at your branch, it is much simpler than I was imagining, or maybe I didn't follow what you were proposing initially. Yes please do open a PR, thanks!

[2021-05-14 17:40] pzoxiuv commented on #4367
OK, seems to be working now.  I did two things: the disks are iSCSI disks, so I made sure that the OSD disks on each node were logged out/disconnected on the other node.  And then I used the full /dev/disk/by-id/ path for the disks in my cluster definition, rather than just using the sde/sdf identifiers.

Thanks for the help, I don't know if this was the cause of OP's issue but as far as I'm conce

[2021-05-14 18:03] #4367 closed

[2021-05-14 18:03] travisn commented on #7904
@AzucenaL Please try applying the following setting in the toolbox, then restarting the OSDs one by one. This causes the OSDs to perform an internal conversion during startup.
[code]

If that fixes the issue you can then disable the setting again. I understand this setting is `false` by default in Pacific, but was `true` by default in Octopus. Did you upgrade directly from Nautilus to Pacific, or

[2021-05-14 18:25] AzucenaL commented on #7904
@travisn Yup I totally skipped Octopus. I did what you suggested and it worked!

health: HEALTH_OK

Thank you!

[2021-05-14 18:25] #7904 closed

[2021-05-14 20:02] #5745 closed

[2021-05-14 20:02] #3433 closed

[2021-05-14 20:44] travisn commented on #2828
With the github actions we are already able to more easily add new tests and expand test coverage.

[2021-05-14 20:44] #2828 closed

[2021-05-14 20:54] travisn commented on #7449
Please reopen if you find it is still needed

[2021-05-14 20:54] #7449 closed

[2021-05-14 21:07] travisn opened #7908 "Remove support for Ceph Nautilus in v1.7"
**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**
In v1.6 support was added for Pacific, in addition to Nautilus and Octopus.
In v1.7, we plan to remove support for Nautilus (~July 2021), allowing greater focus on support for Octopus and Pacific.

Before upgrading to v1.7 in the future, please upgrade your Ceph version to Octopus (v15.2.x) or Pacific (v16.2.x).

[2021-05-14 21:18] travisn opened #7909 "Allow operator log level to be changed without restarting the operator"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The operator log leveI is currently set by an env var on the operator deployment:
[code]

An update to this will require restarting the operator. Instead, we should read the setting from the configmap `rook-ceph-operator-config` similar to the CSI settings, watch for changes to this value, and change th

[2021-05-15 00:14] abursavich commented on #7212
Moving the API to a module with minimal dependencies would be the ideal solution for users of the API, but understandably it's a pain to manage. Getting rid of `k8s.io/kubernetes` helps a lot, but I think there's still a hairy dependency left behind on `github.com/kubernetes-incubator/external-storage`. It's been deprecated and is being replaced out with another module, but I haven't been able to

[2021-05-15 00:40] stefanfritsch opened #7914 "CSI volumes freeze cluster: PLEG is not healthy"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I upgraded a rook cluster from v1.5.9 to v1.6.2 and ceph from 15.2 to 16.2 following the docs on rook.io. The upgrade completed successfully.

Since the upgrade the cluster is unusable. Nodes freeze with the message from the subject:

[code]

If I ssh into the nodes `df` hangs and `strace df` shows th

[2021-05-15 01:26] OPSTime commented on #7907
**enable rook module：**
[code]

[2021-05-15 18:28] psarossy commented on #7862
Pre image update: [1.4.9.log](https://github.com/rook/rook/files/6487998/1.4.9.log)
Post image update for 5 minutes: [1.5.11.log](https://github.com/rook/rook/files/6487999/1.5.11.log)
Live `CephCluster` config  (yay for yaml uploads begin filtered): [CephCluster-live.yaml.txt](https://github.com/rook/rook/files/6488002/CephCluster-live.yaml.txt)
Unified log from fluentd: [rook operator 15 min.csv

[2021-05-15 20:01] #6514 closed

[2021-05-16 13:15] OPSTime opened #7915 "ERROR: Daemon not found: osd.1. See `cephadm ls`"
The previous access address of CEPH dashboard is https://ceph-node1: 8443, but now it's https://ceph-node2:443, to check the log, I found that some of the daemon's logs can't be checked.

**$ ceph -v**
`ceph version 16.2.3 (381b476cb3900f9a92eb95d03b4850b953cfd79a) pacific (stable)`

**$ ceph orch ps**
[code]

[code]

[2021-05-16 13:48] satoru-takeuchi commented on #7915
You can't use `cephadm` command to access rook. It's to manage Ceph clusters created by this command itself.

[2021-05-16 13:59] OPSTime commented on #7915
@satoru-takeuchi  sorry，I just made a mistake. This is a cluster deployed through cephadm.

[2021-05-16 14:02] #7915 closed

[2021-05-16 14:03] OPSTime opened #7916 "ERROR: Daemon not found: mgr.ceph-node1.ruuwlz. See `cephadm ls`"
The previous access address of CEPH dashboard is https://ceph-node1: 8443, but now it's https://ceph-node2:443, to check the log, I found that some of the daemon's logs can't be checked.

**$ cephadm version**
[code]

**$ ceph -v**
`ceph version 16.2.3 (381b476cb3900f9a92eb95d03b4850b953cfd79a) pacific (stable)`

**$ ceph orch ps**
[code]

[code]

[2021-05-16 20:02] #5471 closed

[2021-05-16 20:47] haslersn commented on #7198
This is still relevant.

[2021-05-17 04:55] Madhu-1 commented on #7914
@stefanfritsch looks like you are using static PV

* can you please paste the PV yaml?
* Provide cephfsplugin container logs from the node where the mount is failing (cephfs-plugin-xxx pod)
* kernel version from the node.
* ceph cluster health

[2021-05-17 05:15] sp98 opened #7917 "use policy/v1 PodDisruptionBudget"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
- Frequently seeing the warnings
` W0517 04:55:19.102329       8 warnings.go:70] policy/v1beta1 PodDisruptionBudget is deprecated in v1.21+, unavailable in v1.25+; use policy/v1 PodDisruptionBudget `

**Expected behavior:**
- No such warnings should be displayed.

**How to reproduce it (minimal and pre

[2021-05-17 06:18] thotz commented on #7906
@travisn : Idea behind `bucketquotas` to `storage class` is to limit the usage of bucket specified in `storageclass`(only valid for existing buckets). So that in case of multiple references to this bucket in different `OBC's/storage class` can be limited specifically. The current quota support for OBC is based on user scope.
Saying that @tumido request is more or like limiting usage for object sto

[2021-05-17 07:15] kingudk commented on #7874
Re-applying operator-openshift.yaml did get some additional env:
[code]

Now the operator is trying to do some work, but is hampered as the filesystem is degraded:
[code]

Plainly deleting the pod (rook-ceph-mds-myfs-ec-a-XXXX) does not allow the operator to move forward.
The various pods are still crash-looping, I suppose due to the operator not being allowed to do it's work on a non-healthy clus

[2021-05-17 07:23] leseb commented on #7916
Closing, just like https://github.com/rook/rook/issues/7915

[2021-05-17 07:23] #7916 closed

[2021-05-17 07:34] leseb commented on #7907
Please open a bug on https://tracker.ceph.com/ instead under the mgr module component, thanks!

[2021-05-17 07:34] #7907 closed

[2021-05-17 07:45] christianhuening opened #7918 "Two OSDs on same node have their IDs mixed and cannot start"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I found 2 OSDs in CrashLoopBackOff on our Rook 1.6.0 / Ceph 15.2.10 Cluster:
Apparently they think they have the OSD ID of the respective other? Both OSDs are on the same Node.
[code]

I had a look and the mounts configured on both pods and they seem to be the wrong way around. The pod OSD7 mounts /dev

[2021-05-17 07:47] christianhuening commented on #7918
CC @iss0

[2021-05-17 07:57] iss0 commented on #7918
I was able to fix the problem by editing the deployments of both OSDs and change the mount points and ROOK_BLOCK_PATH environment variable to the correct devices.

[2021-05-17 08:19] leseb commented on #7881
We can explore quay.io but GHCR does not seem to be an option for now since it will require a paid plan.

[2021-05-17 08:23] leseb commented on #6242
Why not? I remember we explored a lot of different options for this. Running a script or an operator as a dependency, isn't that the same thing? Also, cert-manager can also use self-signed certificates.

[2021-05-17 09:14] kingudk commented on #7874
Setting continueUpgradeAfterChecksEvenIfNotHealthy to true let the upgrade proceed. One of the worker nodes was in a bad state, that specific node behaves strangely from time to other, it got a reboot. Now the file-system is back-online:
[code]
Now the mons a and n are both running on the same node (the one with the wonky state). Should node affinity not ensure that one node only runs a single mon

[2021-05-17 09:27] mengjinmm commented on #5782
Same problem. we create 6osd+3mon

[2021-05-17 09:59] fzhan commented on #7905
Thanks for the update, I'm currently using the service from inside the cluster, above ingress configuration came with the example, just thought it'd be best to update to support a newer version of k8s.

[2021-05-17 10:21] leseb commented on #7918
Just to make sure I understand, the ceph-volume output is correct but the pod definition is messed up, right?

[2021-05-17 10:27] iss0 commented on #7918
The pod definition is messed up/wrong. The pods are mounting each others device instead of their own.
I tried to use ceph-volume within the tools pod but the output was empty. We're using CV_MODE=raw.

What is weird is that ceph osd metadata shows the wrong configuration as well:
`[root@rook-ceph-tools-59c6d647d4-rzp2k /]# sudo ceph osd metadata osd.7 | egrep "id|objectstore"
    "id": 7,
    "dev

[2021-05-17 10:41] onedr0p commented on #7881
I'm using GHCR in a bunch of open source projects for free, what makes you think you'll need to pay for it?

[2021-05-17 11:56] subhamkrai commented on #7903
I did add a log
[code]

[2021-05-17 12:13] leseb commented on #7881
Oh wait I actually misread the billing page, it seems to be free for all open source projects :). I guess we will look into that then 👍🏻 . Thanks!

[2021-05-17 12:30] leseb commented on #7881
@subhamkrai please investigate https://ghcr.io, it looks like multi-arch support is available so that's the main thing to support. Thanks.

[2021-05-17 13:03] #7436 closed

[2021-05-17 13:19] subhamkrai commented on #7881
@leseb I had quick look on multi-arch...and yes multi-arch is supported https://github.com/docker/build-push-action/blob/master/docs/advanced/multi-platform.md

[2021-05-17 13:23] leseb commented on #7881
Yes, thanks for confirming, let's go ahead with a small prototype. Also, let's see if we can migrate most of our images to GHRC too, that could be beneficial.

[2021-05-17 13:29] onedr0p commented on #7881
I can confirm that multi-arch is definitely supported, I also do multi-arch container builds with open source projects.

[2021-05-17 13:50] leseb commented on #7918
If you want to look at the ceph-volume output you need to run it on a machine with OSDs. It's a local call that scans disks. It's the source of truth, can you run it on a node and paste the output?

[2021-05-17 15:28] travisn commented on #7874
@kingudk Good to hear the cluster is healthy again.

You have the setting `allowMultiplePerNode: false` in the CephCluster CR, right? Yes, it is expected that the mons would be enforced on separate nodes in that case. There must be a bug in you have that setting and still see them on the same node. To fix this, you can scale down one of the mons and wait for the operator to failover to a new node

[2021-05-17 17:01] travisn commented on #7881
@onedr0p The rook repos actually are not expected to be rate limited since a few months back. Just to be clear, you're seeing the rate limiting on the rook image and/or ceph image?

@jbw976 Can you give more details on the rate limits that should not exist anymore? I don't see it tracked in an issue, but maybe I'm overlooking it.

[2021-05-17 17:04] travisn commented on #7905
Oh right, I see now, we have a couple examples with the `apiVersion: extensions/v1beta1` for the Ingress type. Did it work for you if you just changed to `v1`? Or was any other change needed to the example? thanks

[2021-05-17 17:10] travisn commented on #6242
We currently have two methods for install:
1. Helm chart + create yamls
2. Create yamls

If we require something more than this, we need a really good reason. As much as I want to see the admission controller enabled by default, it doesn't seem like a critical requirement to justify adding a new dependency unless most clusters would already have that dependency enabled. For example, if the cert ma

[2021-05-17 17:32] travisn commented on #7906
@thotz I'm not clear on the expected behavior. Here is the scenario:
- The admin wants to put a quota on buckets (the number of objects in the bucket and the size of the bucket)
- The admin would set the quota on the object storage class
- When the bucket is provisioned, the quota on the storage class would be applied. If a quota is specified on the OBC, it would be ignored since the admin has ove

[2021-05-17 17:58] travisn commented on #7198
On a related note, we have a two step CRUSH rule for stretch clusters as seen [here](https://github.com/rook/rook/blob/fcf634e3b7808e4338e7fd261c047aae4793e99b/pkg/daemon/ceph/client/crush_rule.go#L94-L124). Perhaps we could implement the `subFailureDomain` under the `erasureCoded` pool element in a similar way.

This feature does seem specific to EC, not sure why it would be desirable with replic

[2021-05-17 18:01] travisn commented on #2079
@thotz Could you take a look at this? Perhaps some of your recent work with rgw config and tls support will already help.

[2021-05-17 19:52] onedr0p commented on #7881
I did not know rook was part of Dockerhubs "Open-source" program. They don't make it easy for people to see this information.

[2021-05-17 20:02] #7156 closed

[2021-05-17 20:02] #7121 closed

[2021-05-18 03:26] fzhan commented on #7905
@travisn That's what I did, I've also followed the official guideline and added pathType, service name, ingressClass etc. Unfortunately I could not access gist, so the code pasted in the thread looks messy.

[2021-05-18 06:22] kingudk commented on #7874
@travisn yes from the cephcluster CR on the OpenShift cluster:
[code]
I'll try to scale down one of the mons to see if that moves things around.

I'll follow your advice in #7746 once the full quorum is back again.

[2021-05-18 07:06] zzswang commented on #5095
Yes, it sometimes run into the error

[code]

[2021-05-18 07:34] leseb commented on #7881
@onedr0p based on your initial comment I was really under the impression you were hitting a limit. Anyway, I think we can close this.

[2021-05-18 07:34] #7881 closed

[2021-05-18 08:03] leseb opened #7924 "Use RGW admin ops API to interact with Object Store"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Rook should start using the go-ceph binding (currently proposed here https://github.com/ceph/go-ceph/pull/496) in order to interact with the object store.
Especially when creating S3 users.

**What is use case behind this feature:**

Address some issues with external mode and the radosgw-admin CLI when

[2021-05-18 08:08] leseb opened #7925 "Implement encryption key rotation for cluster-wide (OSDs) encryption"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Ability to rotate OSDs key-encryption keys.

**What is use case behind this feature:**

Increase security.

**Environment**:

[2021-05-18 08:54] leseb opened #7927 "ci: fails to retry manifest"
Error:

[code]

Seen in https://github.com/rook/rook/pull/7926/checks?check_run_id=2608511114

[2021-05-18 10:26] iss0 commented on #7918
The tools container I executed ceph-volume in was running on the node the OSDs are on and was privileged. On the node itself I do not have ceph-volume binary available. Since we're using a very basic image for the nodes (flatcar) I was not able to  run ceph-volume directly on the node. I will try to use the rook image as https://github.com/kinvolk/toolbox.

Thanks, I attached logs and manifest her

[2021-05-18 11:50] timbuchwaldt commented on #7859
We have since migrated to a new set of machines, removing the old OSDs. `/etc/ceph/luks_key` wasn't present on the nodes, still unlocking worked after reboots.

[2021-05-18 12:57] djkazic commented on #7918
I can confirm I've run into this bug. After a reboot, my drives changed names (nvme0n1 -> nvme1n1 for example). The OSDs then tried to start up with the wrong ROOK_BLOCK_DEVICE defined. Once I changed that in two places in the deployment where it's referenced, the OSDs started up fine. Almost gave me a heart attack to see 4/5 OSDs on that node CrashLoopBackoffing.

[2021-05-18 13:58] SerialVelocity commented on #7659
@BlaineEXE @leseb How can I apply the workaround when using Helm? Since the CRDs are owned by Helm, I can't just apply the CRD yaml from your examples folder.

[2021-05-18 16:52] #7927 closed

[2021-05-18 16:58] BlaineEXE commented on #7918
I have a theory for why this may be happening, especially knowing that it occurs when disks change names.

The short of it is that `ceph-volume` reports disks as `/dev/sdX` which can change between reboots. It's my hope that we can do some further processing in the osd-prepare job to find the `/dev/disk/by-id` path which won't change across reboots.

[2021-05-18 17:05] travisn commented on #7918
In the past we had been immune to the device renamed during reboot because ceph was supposed to not rely on the device name after initial OSD creation. Any insight into what caused this regression? Sounds like it is just starting with v1.6?

[2021-05-18 17:10] #7903 closed

[2021-05-18 17:20] BlaineEXE commented on #7918
One part of the issue is the latest changes to update OSDs in parallel. Before we updated OSDs in parallel, any time the osd-prepare job would run, it would update OSD deployments based on the latest prepare-job output, which would fix any issues caused by disks having different names after boot.

However, this would not prevent disks from failing for a time after the node was rebooted. I wonder i

[2021-05-18 17:22] travisn commented on #7905
@fzhan Ok this would be addressed now by #7933. For the formatting, the triple tick ``` does the trick. :)

[2021-05-18 17:30] travisn commented on #7706
@aasraoui There have been multiple issues in your cluster and it's not clear what the latest status of your cluster is. Is your cluster working, except for the dashboard? Are you just seeing that error for the dashboard in the operator log? Or what happens if you curl the dashboard endpoint from the toolbox? See the [troubleshooting guide](https://rook.github.io/docs/rook/v1.6/ceph-common-issues.h

[2021-05-18 17:34] travisn opened #7934 "Convert NFS integration tests to run in a github action"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The NFS integration tests should be run by a github action. For example, the NFS tests can follow the same pattern as the Cassandra tests that were converted in #7601.

**What is use case behind this feature:**
The goal is to run all tests in github actions and turn off Jenkins CI soon. The NFS tests ar

[2021-05-18 17:37] travisn commented on #7871
Reopening since we need to revert #7887 after causing builds to not be pushed for master either.

[2021-05-18 17:49] travisn commented on #7918
I see, the raw mode change does explain the fundamental issue, thanks.

[2021-05-18 18:34] travisn commented on #7756
@aasraoui Can you also share the following?
- `ceph osd tree`: This will show if the OSDs are spread across nodes in the CRUSH map as expected
- What are your pool.yaml (CephBlockPool) settings? Did you create the default example `csi/rbd/storageclass.yaml` or something else?

[2021-05-18 18:49] aasraoui commented on #7756
@travisn        ceph osd tree:
ceph osd tree
ID   CLASS  WEIGHT   TYPE NAME                             STATUS  REWEIGHT  PRI-AFF
 -1         0.19485  root default
 -3         0.03897      host ceph-worker1
  1    hdd  0.01949          osd.1                             up   1.00000  1.00000
  4    hdd  0.01949          osd.4                             up   1.00000  1.00000
 -5         0.03897

[2021-05-18 18:50] aasraoui commented on #7756
I'm using the default csi/rbd/storageclass.yaml: apiVersion: ceph.rook.io/v1
kind: CephBlockPool
metadata:
  name: replicapool
  namespace: rook-ceph
spec:
  failureDomain: host
  replicated:
    size: 3
    # Disallow setting pool with replica 1, this could lead to data loss without recovery.
    # Make sure you're *ABSOLUTELY CERTAIN* that is what you want
    requireSafeReplicaSize: true
    #

[2021-05-18 19:03] aasraoui commented on #7706
@travisn the cluster looks healthy: cluster:
    id:     ab65b727-c21b-4005-98-xxxxx
    health: HEALTH_OK

  services:
    mon: 3 daemons, quorum a,c,d (age 2h)
    mgr: a(active, since 3w)
    osd: 10 osds: 10 up (since 8h), 10 in (since 3w)

  data:
    pools:   3 pools, 65 pgs
    objects: 0 objects, 0 B
    usage:   10 GiB used, 190 GiB / 200 GiB avail
    pgs:     65 active+clean
k -n rook-c

[2021-05-18 19:48] aasraoui commented on #7756
@travisn earlier the osds were not peering had to open up the ports for them to peer up. Should not Rook open these ports ?
We are using calico network plugin, the ceph-mg is serving on this port 9283, should it be serving on port 8483 as well ?

[2021-05-18 20:02] #7164 closed

[2021-05-18 20:31] travisn commented on #7756
Yes, go ahead and open the ports that are required by the different services. The mon, osd, dashboard, and monitoring ports are required. Also see the [Ceph network reference](https://docs.ceph.com/en/latest/rados/configuration/network-config-ref/) for more details.

[2021-05-18 20:54] aasraoui commented on #7756
@travisn we have all the ports open for the corresponding ceph services at this point, what does the log from the pvc provisionner indicates : Normal ExternalProvisioning 2m21s (x6861 over 28h) persistentvolume-controller waiting for a volume to be created, either by external provisioner "rook-ceph.rbd.csi.ceph.com" or manually created by system administrator
Normal Provisioning 79s (x1348 over 4d

[2021-05-18 20:55] travisn commented on #7706
Similar to #7756 it could be an issue with opening the port

[2021-05-18 21:03] aasraoui commented on #7706
@travis both ports: 9283 & 8443 are Open.

[2021-05-18 21:42] travisn opened #7938 "Build with golang 1.16"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
It's time to move to golang 1.16 in the builds as a requirement. The builds currently allow for either 1.15 or 1.16 for flexibility while 1.16 was recently out, but now we need to take advantage of 1.16 for issues such as #7609 and #7913.

This should be as simple as:
- Update the github actions to use

[2021-05-18 22:31] #7905 closed

[2021-05-19 06:14] zzswang opened #7940 "unexpected partition on disks >= 1TB (atari partitions)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

[code]

**Expected behavior:**

[code]

**How to reproduce it (minimal and precise):**

1. An empty data disk >= 1TiB
2. Prepare disk, using following script https://github.com/rook/rook/blob/master/Documentation/ceph-teardown.md#zapping-devices
until now there still no child partitions in vdb, looks

[2021-05-19 06:17] subhamkrai opened #7941 "upgrade storage.k8s.io/v1beta1 to storage.k8s.io/v1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
the operator log shows the following warning:
[code]

**Expected behavior:**
No warning in the operator log expected

[2021-05-19 06:17] subhamkrai commented on #7837
#7941

[2021-05-19 06:18] zzswang commented on #7940
What I find now, if change the disk init script from

[code]

to

[code]

48GiB extra parition will gone, everything works fine until now (less than a day)

I don't think it might not the problem of teardown scripts, but there should be something wrong with partition table.

[2021-05-19 06:18] Madhu-1 commented on #7941
Duplicate of https://github.com/rook/rook/issues/7020?

[2021-05-19 06:27] subhamkrai commented on #7941
right, I missed that.

[2021-05-19 06:27] #7941 closed

[2021-05-19 06:49] ankur-gupta-guavus opened #7943 "Rook ceph OSD pods in Init:CrashLoopBackOff"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook ceph osd pods are in Init:CrashLoopBackOff, after provisioning one pvc.

**Expected behavior:**
Pods should not be in Init:CrashLoopBackOff

**How to reproduce it (minimal and precise):**
Create a rook cluster on pvc. Create a pvc using rook storage class, osd pods enter in Init:CrashLoopBackOff s

[2021-05-19 06:50] #6042 closed

[2021-05-19 06:54] sp98 commented on #7940
are you expecting OSDs on disk (`vdb`)  with child disks?
Rook does not create OSDs on disks with child devices. [See](https://github.com/rook/rook/blob/fcf634e3b7808e4338e7fd261c047aae4793e99b/pkg/clusterd/disk.go#L99)

[2021-05-19 06:55] ankur-gupta-guavus commented on #7943
@satoru-takeuchi your thoughts on this please ?

[2021-05-19 07:02] zzswang commented on #7940
No, what I'm expecting is one OSD on vdb of the whole disk.

But after step 3, the child partitions come up. Have no idea.

[2021-05-19 07:34] ankur-gupta-guavus commented on #7943
[code]

[2021-05-19 07:59] zzswang commented on #7940
![image](https://user-images.githubusercontent.com/1524745/118776961-255a4480-b8bb-11eb-8c21-9edd3fc45089.png)

[2021-05-19 08:22] tumido commented on #7906
Yeah, my usecase was mainly around "How can a cluster admin limit how much of the object storage can be consumed by a certain namespace?"

This is a big problem in multitenant clusters for us. As @travisn mentioned, users usually don't have any motivation to restrict themselves in the amount of consumed resources and the only way for us to maintain clusters in shape (not to starve other users from

[2021-05-19 08:41] cyclops8456 commented on #7746
This has been added to the 3.2.2 release, so it looks to be resolved for the 1.5 branch now, providing the operator and toolbox are updated to use the 1.5.11 image, and then the cluster CR is updated to use the 15.2.11 image.  @travisn This can probably be closed now?

@travisn Yeah, I must have missed updating one of the image versions; PEBKAC on this one, while bouncing back and forth between 1.

[2021-05-19 08:45] cyclops8456 commented on #7746
Connected to the earlier comment on the configmap, this will now work (providing all pods are been upgraded to the latest version before it's applied; or starting from scratch from the latest images).

[code]
It will require the mon pods to be restarted if it's applied when they're already running.

**Ensure everything has been updated to the latest version before applying the above**

[2021-05-19 13:05] sp98 commented on #7940
not sure about this one. I didn't see any partitions when I tried the tear down steps on a 2.4T HDD.

[code]

[2021-05-19 13:36] travisn commented on #7746
Running this command from the toolbox will have the same effect as well, but may be simpler for the one-time action instead of maintaining the configmap:
[code]

[2021-05-19 13:55] #7871 closed

[2021-05-19 14:13] cyclops8456 commented on #7746
Agreed.  Looking through the documentation, this does seem the way to go.  It would be nice to have this working out of the box without having to do that, but a one time set of this is easier to do than maintain the configmap; as you've said.

[2021-05-19 14:46] Rakshith-R opened #7950 "CSI pods fail to start if the rook operator fails to read `rook-ceph-operator-config`configmap."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
CSI pods are not started if an error is encountered while reading the `rook-ceph-operator-config`configmap.

**Expected behavior:**
Rook operator must retry starting CSI Drivers when it encounters an error.

**How to reproduce it (minimal and precise):**
NA

**File(s) to submit**:
NA

* Cluster CR (cus

[2021-05-19 14:50] zzswang commented on #7940
Thanks for your tests.

It is ok, after teardown scripts. The weird thing is only happened after rook-ceph cluster setup.

When rook-ceph is ready, the wrong partitions will come up. If you didn't see it, just try to allocate some PVCs to make sure prepare step is finished.

[2021-05-19 16:00] BlaineEXE commented on #7940
This seems like it might be a duplicate of https://github.com/rook/rook/issues/7734

[2021-05-19 16:15] bengland2 commented on #6313
@rohan47  I have this running, no ceph command works because the annotations for Multus are not applied to the toolbox pod.   Does this need a separate bz?  [See bz comment here](https://bugzilla.redhat.com/show_bug.cgi?id=1957457#c4).

[2021-05-19 16:22] BlaineEXE commented on #7940
Neither Rook nor the `ceph-volume` tool that Rook uses for preparing disks for OSDs create partitions. From what I could see from #7734 the partitions are not created by Rook's `rook-ceph-osd-prepare-` jobs.

This means that either (a) Ceph daemons are somehow creating the partitions (unlikely given the extensive testing Ceph receives from Teuthology) or (b) there is a system daemon interfering wi

[2021-05-19 16:22] rohan47 commented on #6313
@bengland2 are there any particular ceph commands that you were not able to run?
When I tested on your cluster I was able to run ceph commands from the toolbox with and without multus annotations.

[2021-05-19 16:38] aasraoui commented on #7756
@travisn why is the csi provsionner aborting, the pvc has not been created:
**k -n rook-ceph logs  csi-rbdplugin-provisioner-6c75466c49-bswgd csi-rbdplugin | more**
W0423 16:17:52.639672       1 driver.go:173] EnableGRPCMetrics is deprecated
E0426 03:16:40.169746       1 controllerserver.go:239] ID: 3556 Req-ID: pvc-61190385-aeb0-40b2-adf0-b79ac1623c93 an operat
ion with the given Volume ID pvc-61

[2021-05-19 16:51] travisn commented on #7756
This commonly means that the CSI driver is not able to connect to ceph to create the rbd volume. Can you disable the firewall temporarily to test if that resolves the issue in your cluster? If so, then there must be some ports not open in the firewall yet.

[2021-05-19 17:02] bengland2 commented on #6313
today's symptom was:

[code]

[2021-05-19 20:02] #6600 closed

[2021-05-19 20:02] #6147 closed

[2021-05-19 20:02] #5250 closed

[2021-05-20 06:05] satoru-takeuchi commented on #7943
Could you provide the output of `kubectl get pv`?

[2021-05-20 06:06] ankur-gupta-guavus commented on #7943
Here you go

[code]

[2021-05-20 06:08] satoru-takeuchi commented on #7943
Oops, sorry. The correst command is `kubectl get pv -o yaml`. Sorry for inconvenience.

[2021-05-20 06:10] ankur-gupta-guavus commented on #7943
@satoru-takeuchi No probs , here you go

[code]

[2021-05-20 06:13] satoru-takeuchi commented on #7943
All your local volumes are on top /dev/vdd. I guess that you copy-and-paste a PV manifest three times and didn't update them.

[code]

[2021-05-20 06:14] ankur-gupta-guavus commented on #7943
I have three servers having same disk `/dev/vdd` , there is one PV per host.

[2021-05-20 06:30] kingudk commented on #7874
So I went ahead upgrading the sibling cluster (the one that actually matters most), and hit the same issue.
The procedure followed was to:
1) Make sure the deployment is healthy prior to starting the upgrade
2) `oc apply -f common.yaml -f crds.yaml`
3) `oc replace -f crds.yaml`
4) `oc apply -f crds.yaml`
5) `oc apply -f openshift-operator.yaml`
6) Discover the crasslooping pods, check rook-ceph-op

[2021-05-20 06:38] satoru-takeuchi commented on #7943
The log seems to be similar to what I found before (https://github.com/rook/rook/issues/6530), but this problem was fixed in v1.6.

...

Could you tell me what you did in detail? For example...

1. Create three PVCs from `rook-local-storage` storage class.
2. Create a new Rook (v1.6.2) cluster and all three OSD pods worked fine.
3. Create a new RBD PVC from this cluster
4. All three OSD pods sudde

[2021-05-20 06:40] ankur-gupta-guavus commented on #7943
@satoru-takeuchi Yes the steps you mentioned are absolutely correct. That is exactly what i did. As long as there was no pvc, OSD pods were running fine.

[2021-05-20 06:42] satoru-takeuchi commented on #7943
OK, I'll try to reproduce what you did. Please wait for a while. It will be tomorrow or later.

[2021-05-20 07:08] ankur-gupta-guavus commented on #7943
Sure will wait for you to come back

[2021-05-20 08:06] Madhu-1 opened #7954 "Fencing Question for rbd and cephfs to recover from node lost"
Recently cephcsi pods in Rook have been updated to move away from host networking. I don't know we can/cannot hit this problem with multus networking.

As we are talking about recovery from node loss as mentioned at https://github.com/rook/rook/pull/7282. The node loss can happen for many reasons (Either kubelet is dead or whole node is dead etc)

The below problem might exist for both cephfs and

[2021-05-20 08:09] Madhu-1 commented on #7954
CC @travisn @leseb @nixpanic @humblec @ShyamsundarR

[2021-05-20 08:11] leseb opened #7955 "ci: intermittent failure on webhook cert"
See:

[code]

Seen in https://github.com/rook/rook/pull/7953/checks?check_run_id=2627814259

[2021-05-20 08:17] subhamkrai commented on #7955
@leseb duplicate of #7876?
and to update I was talking with @vbnrh about this ...we'll try to repo and update.

[2021-05-20 08:19] leseb commented on #7955
The error looks different.

[2021-05-20 08:24] subhamkrai commented on #7955
right...I'll look into both issues.

[2021-05-20 08:27] nixpanic commented on #7954
Storage fencing (force detach) has been a proposal in the CSI Spec. We would get the node-id (ip-address or hostname) of the Pod that needs to be fenced. When using host-networking this should be stable and we can imagine this functioning correctly. However with non-hostnetworking it becomes questionable (asked for guidance at https://github.com/container-storage-interface/spec/pull/477#issuecomme

[2021-05-20 09:02] sp98 commented on #7872
@travisn I haven't been able to reproduce this so far. I don't see the operator being stuck with the scenario mentioned in the description.
I do hit the error
`op-k8sutil: Reporting Event my-cluster:Warning:FailedReconcile:failed to reconcile cluster "my-cluster": failed to configure local ceph cluster: failed to create cluster: failed to start ceph monitors: failed to assign pods to mons: CANCELL

[2021-05-20 12:06] parth-gr commented on #6101
Hey @paalkr, We were discussing on feature for `Auto Growing the OSDs size`,  Wanted to know some scenarios when the functionality will be required/useful because Ceph performs better if we scale it Horizontally rather than Vertically, so if OSDs reached **Nearfull_Full** it's better to **add more OSDs** to it, rather than provisioning more Storage on the **same OSD**.

[2021-05-20 15:20] fzhan commented on #7905
@travisn brilliant! Thanks~

[2021-05-20 15:37] #7934 closed

[2021-05-20 16:04] zzswang commented on #7940
@BlaineEXE  OK

Currently the machines have been used for deploying project. I'll test it later once have some nodes free.

[2021-05-20 19:01] #7918 closed

[2021-05-20 19:04] christianhuening commented on #7918
Awesome! Thanks a ton!

[2021-05-20 19:15] travisn commented on #6101
For a bit more perspective, today it is possible to update the cluster CR to add more OSDs (horizontal), or to grow the OSD sizes (vertical). Both could be valid to automate, depending on the real scenario. To keep it simple, we should just be clear about what scenarios really should be automated. The concern with growing the same OSDs is that they could get larger than will work well with Ceph. H

[2021-05-20 20:12] bengland2 commented on #6313
This was caused by incomplete deployment, not what I thought.  Will retry ceph tell osd.* cache drop next.

[2021-05-20 21:22] abh opened #7962 ""Upgrade" CephFS storage class to support resizing"
I have a rook / ceph installation that was installed about two years ago and incrementally upgraded since.

Our CephFS storageclass doesn't have the now required `csi.storage.k8s.io/controller-expand-secret-name` and `-namespace` parameters and kubernetes won't let us add them (`updates to parameters are forbidden`).

Is there an "upgrade path" for this? We've upgraded recently to Ceph v16, so I u

[2021-05-20 21:33] aasraoui commented on #7756
@travisn  Persistent volume seems to work without the storageClassName: rook-ceph-block
does your setup have firewalld disabled ?
ceph-master ceph]# kubectl -n rook-ceph get pvc
NAME         STATUS    VOLUME    CAPACITY   ACCESS MODES   STORAGECLASS      AGE
**ceph-claim   Bound     ceph-pv   2Gi        RWO                              3h8m**
**rbd-pvc      Pending

[2021-05-21 01:13] andrewm-aero commented on #4274
I'd like to contribute my two cents. We were hit by this a month ago, and unfortunately, did not know about this issue at that time, and it was more important for the cluster in question to resume service than to recover the data, so we started from scratch and have no logs to contribute. What we can contribute, however, is that we are almost 100% certain this was triggered by an upgrade to the cl

[2021-05-21 02:43] satoru-takeuchi commented on #7943
Could you show me the result of 'kubectl get sc rook-local-storage'?

In addition, It would take a bit long time to reproduce this problem in my environment since I don't have CentOS7 system. So, could you try to reproduce this problem in your environment? I suspect your /dev/sdd's had some gabages.

1. Delete the current ceph cluster completely as written in the following document.

https://githu

[2021-05-21 04:33] davidhiendl commented on #7038
I'm sorry for not reporting the results of the CI tests earlier: As far as I can report the issue seems to be resolved for 1.20+ clusters, even existing 1.19 clusters that previously experienced the issue can upgrade the Helm chart in 1.20.

[2021-05-21 04:35] abh commented on #7962
From other issues I cut'n'pasted the patch command below (adjust if your cephfs storage class doesn't end in 'cephfs') that works for fixing each PV, but not any new ones of course.

[code]

[2021-05-21 05:39] Madhu-1 commented on #7962
https://github.com/rook/rook/issues/5670#issuecomment-646071304 PV patching is allowed for namespace update is not allowed. You need to delete and recreate the storageclass with the same details.

[2021-05-21 05:54] abh commented on #7962
Does deleting the storageclass affect the existing PVCs or PVs?

[2021-05-21 05:58] Madhu-1 commented on #7962
@abh if you delete and recreate the storageclass, it won't. Don't change any other parameters except `allowExpansion`

[2021-05-21 06:41] Antiarchitect opened #7963 "1.6.3 panic runtime error"
1.6.2 -> 1.6.3 Operator upgrade:

[code]

[2021-05-21 08:50] ArunaLakmal commented on #5960
I'm also having the same issue, my ceph cluster is working as expected but not the dashboard.
[code]
getting the exact error. Any fix for this?

[2021-05-21 11:03] idryomov commented on #7954
What is meant by "we can fence"?  If blocklisting via `ceph osd blocklist add` then you would be blocklisting a Ceph entity address (IP + unique nonce), not the entire IP address.  Blocklisting the entire IP address is also possible, but not common because the purpose of OSD-level blocklisting is to deal with split-brain scenarios: prevent a particular client instance that is _already_ connected t

[2021-05-21 11:03] idryomov commented on #7954
Also, what is a watcher?  Are you talking about RADOS watches or something else?

[2021-05-21 11:18] idryomov commented on #7954
After skimming through linked issues, I see that it is RADOS watches.  Please note that relying on RADOS watches for telling what needs to be blocklisted is unreliable.  An image may still be mapped somewhere (and be written to!) with no watchers listed in `rbd status` output.

And there are no watches in the CephFS case at all.

[2021-05-21 11:45] Madhu-1 commented on #7954
We do check watchers at the CSI level before mapping an RWO(ReadWriteOnly) rbd PVC. Is there any way to block the client from reading and write access to the rbd image from a particular node in case of node lost scenerio?

Yes for CephFS I was talking about  https://docs.ceph.com/en/latest/cephfs/eviction/#manual-client-eviction client evection.

[2021-05-21 12:34] idryomov commented on #7954
Yes, blocklisting.  The issue is knowing what to blocklist.  If you do the entire IP address, you run into IP address reuse issues.
Doing individual clients instances is much better but you need to know their entity addresses in advance.  Getting them right before blocklisting from `rbd status` or `rados listwatchers` is not reliable.

[2021-05-21 12:37] Madhu-1 commented on #7954
With individual client instance blacklisting , Due to restart of rbdplugin ( pod ip might get change) and application pod will their be any chance to get read and write access again?

[2021-05-21 13:58] idryomov commented on #7954
If the pod is restarted, it will be able to read and write again even if the IP address remains the same because it will get a new Ceph entity address (same IP but different nonce).

[2021-05-21 14:15] Madhu-1 commented on #7954
Then using pod networking for CSI would be a problem? If we switch back to host networking and blacklist the IP will that problem be solved ( I think even in the case of some cloud providers the VM's (kubernetes nodes) might get the same IP even in the case of hostnetworking) or there any other solutions to fix this issue?

[2021-05-21 14:17] Madhu-1 commented on #7954
What I meant here was the inconsistent data as the application might writing some data from the disconnected node, Which will lead to inconsistent data on the RBD/CephFS volume.

[2021-05-21 16:51] travisn commented on #7872
This issue of not reconciling immediately after cancelling appears related to the expontential backoff. Now I am seeing the reconcile started, but I have to wait minutes sometimes for it to be triggered. Usually it is quick, but waiting minutes isn't right. I wonder if we can reconcile immediately after the cancellation without waiting for the backed of timeout.

For example, here is the log that

[2021-05-21 17:00] travisn opened #7964 "Child controllers should reconcile if the ceph image changed"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Currently the reconcile for child controllers such as file and object are only triggered if the Ceph version changed.

The version check is currently only based on the build number.

In the repro seen where mds and rgw were not updated, the two versions before/after the upgrade were:
[code]

The build

[2021-05-21 17:04] travisn commented on #7964
The child controllers are triggered based on [this code block](https://github.com/rook/rook/blob/e115e0ada8507a506ddbc8adeb1e6e3bbd6389b5/pkg/operator/ceph/cluster/cluster.go#L127-L133). It seems `c.isUpgrade` also should be true if the image changed, not just if the ceph version changed.

[2021-05-21 17:11] travisn commented on #7963
@Antiarchitect A few questions:
- This is an external cluster configuration, correct?
- Does the operator log show this error? `failed to get mgr map.` Are there other details with that error message?
- Have you specified the `monitoring.externalMgrEndpoints` in the CephCluster CR? This shouldn't be required, but it looks like the issue. If you specify a value here, hopefully it will workaround un

[2021-05-21 18:41] Antiarchitect commented on #7963
1. External ceph cluster - yes.
2. Sorry rolled back to 1.6.2 and didn't save full log
3. I didn't find this in my Helm chart configs and templates. Should I?

[2021-05-21 20:01] #7209 closed

[2021-05-21 20:16] travisn commented on #7954
I believe the goal of this discussion is to determine:
1. Is it ok to use pod networking, or do we need to use host networking as before?
2. Is there any risk of corruption when using pod networking, that we wouldn't see with host networking?
3. Document steps for an admin to ensure data safety when a node is lost.

If a pod is force deleted, after some timeout (~11 minutes), the pod will be allow

[2021-05-21 20:20] travisn commented on #7874
@kingudk The upgrade guide mentions only to patch the operator image so that other settings would be preserved. If you have changed any of the other defaults, they would be lost if you applied the full example yaml. But if the default settings are desired, then applying the full yaml should work as expected. Since `ROOK_HOSTPATH_REQUIRES_PRIVILEGED: true` is the default in operator-openshift.yaml,

[2021-05-21 20:47] dimm0 commented on #2047
Still an issue

[2021-05-22 07:30] sfxworks opened #7968 "Rook still tries to readd a removed osd, making new osd additions error"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Rook continues to add deployment for osd that was removed manually per guide at https://github.com/rook/rook/blob/master/Documentation/ceph-osd-mgmt.md#purge-the-osd-manually

**Expected behavior:**

Rook does not remake an OSD deployment for a disk that was purged from the cluster while `removeOSDsIf

[2021-05-23 10:27] niwenjie996 opened #7970 "osd success, and cluster is available, but not a lvm2_member on device"
### log
`
[root@infra-layer01 ~]# lsblk -f
NAME   FSTYPE LABEL UUID                                 MOUNTPOINT
vdb
vda
└─vda1 xfs          c84e8310-14db-4544-9241-7c2c9f03201c /

`
`
### kubectl logs -f rook-ceph-osd-prepare-infra-layer01-9jc7n -n rook-ceph
021-05-23 09:55:47.109455 I | cephcmd: desired devices to configure osds: [{Name:vdb OSDsPerDevice:1 MetadataDevice: DatabaseSizeMB:0 DeviceCl

[2021-05-24 00:24] sdeoras commented on #7519
@travisn i just tested v1.6.3 on arm64 based cluster running k0s and all pods in `rook-ceph` namespace came back fine after reboot! things are looking very good so far, thanks :+1:

[2021-05-24 01:16] satoru-takeuchi commented on #7970
It's no problem because LVM is no longer used in v1.6.0.

https://github.com/rook/rook/releases/tag/v1.6.0

[2021-05-24 02:26] niwenjie996 commented on #7941
oh, i see, Thanks for your reply

[2021-05-24 02:27] niwenjie996 commented on #7970
oh, i see, Thanks for your reply

[2021-05-24 02:27] #7970 closed

[2021-05-24 03:59] sdeoras opened #7971 "v1.6.3 on arm64: rook-ceph-osd-0 exhibiting Init:CrashLoopBackOff after node reboot"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The issue occurred on node reboot, prior to which dynamic volume creation was succeeding. I had MinIO running 4 volumes using `rook-ceph-block` storage class and all was working well. I wanted to test the node reboot scenario, which triggered this issue.

[code]

**Expected behavior:**
Expected all pod

[2021-05-24 04:37] sdeoras commented on #7971
power cycling HDD (connected via USB3) seems to have fixed the issue. If this is an expected behavior pl. close the issue. Alternatively, is there anything I am missing in my setup? Thanks.

[2021-05-24 10:58] thotz commented on #2079
This can be worked on IMO and I hope it is okay to include third part ca(if exists) in `tls.cert` of this secret. @travisn Do you like to depreciate existing `cert` mechanism at some point?

[2021-05-24 11:22] thotz commented on #7906
Good to know.

So I guess u have `ceph user` created using `cephobjectstoreuser` CRD in Rook and u need to limit quota for that user for the bucket, size etc? If yes u can raise RFE for that which can be done easily I guess.

[2021-05-24 11:42] jpsn123 opened #7973 "Restricted security mount mode isn't working"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
can't mounting with specified user, and always mounting with default user, no error report, just like i never set `mountSecurityMode=Restricted`.

**Expected behavior:**
mounting with specified user.

**How to reproduce it (minimal and precise):**

i import external cluster, install rook with helm way.

[2021-05-24 12:09] psavva commented on #7917
Following

[2021-05-24 12:52] leseb commented on #7973
What is `mountSecurityMode` supposed to do?

[2021-05-24 13:09] leseb opened #7975 "cephfs-mirror: followup items"
A few follow-up items once the patches in Ceph are ready:

* reporting snapshot status is blocked by https://tracker.ceph.com/issues/50954

[2021-05-24 14:07] sp98 commented on #7872
I was able to reproduce the issue of operator being stuck.
- Started with `mon.AllowMultiplePerNode` as `false` on a single node minikube cluster.
- Operator was throwing error which is expected.
- Updated the mon count to 5.
- Operator was still throwing error which is expected.
- Update CR to use `mon.AllowMultiplePerNode` as `true`.

The operator was stuck for a good 11 minutes.

[code]

[2021-05-24 14:50] bengland2 commented on #6313
am still seeing this error, I think this is because the Ceph OSDs are on Multus interfaces, and the toolbox is not.   What do you think?  sorry this isn't vanilla upstream rook-ceph.   I got OCS 4.7,9 =  ceph-version=14.2.11-147
 to deploy with multus, but I had to define this before injecting the OCS CR:

[code]
Otherwise OCS ignores Multus during install.   It did deploy successfully, from OSD 1

[2021-05-24 17:50] brian-fa commented on #7940
I'm seeing this issue as well.  There is a lot more data and context in [this](https://github.com/rook/rook/issues/7940) slack thread.

In my testing, the additional partitions [show up](https://rook-io.slack.com/archives/CK9CF5H2R/p1621003250322400?thread_ts=1619618746.137100&cid=CK9CF5H2R) during the `prepare` step.  I know that doesn't mean that it's the prepare job or `ceph-volume` creating th

[2021-05-24 19:56] #7963 closed

[2021-05-24 21:34] aasraoui opened #7982 "cephfs plugin restarting"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
 k -n rook-ceph logs csi-cephfsplugin-x4tj4 liveness-prometheus
I0524 21:21:50.352838       1 connection.go:153] Connecting to u

[2021-05-24 21:44] aasraoui commented on #7982
attached csi-cephfsplugin;
[csi-cephfsplugin-log.txt](https://github.com/rook/rook/files/6535149/csi-cephfsplugin-log.txt)

[2021-05-25 01:51] jpsn123 opened #7984 "Restricted security mount mode isn't working"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
can't mounting with specified user, and always mounting with default user, no error report, just like i never set `mountSecurityMode=Restricted`.

**Expected behavior:**
mounting with specified user.

**How to reproduce it (minimal and precise):**

i import external cluster, install rook with helm way.

[2021-05-25 01:53] #7984 closed

[2021-05-25 02:02] jpsn123 commented on #7973
@leseb https://rook.io/docs/rook/v1.6/ceph-advanced-configuration.html#use-custom-ceph-user-and-secret-for-mounting

[2021-05-25 04:14] travisn commented on #7982
Try at least Rook version v1.5.9 where the grpc metrics port was disabled by default with #7379, or you could change that setting to disable the metrics.

[2021-05-25 04:20] Madhu-1 commented on #7982
If you want to change the port number you can change it to something else here https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L273

[2021-05-25 04:47] Rakshith-R commented on #7973
Hey @jpsn123 , `mountSecurityMode=Restricted` setting is for rook flex volume which is deprecated in favour of CSI.
Refer to https://github.com/ceph/ceph-csi/blob/devel/docs/capabilities.md for manually creating user secrets with required capabilities and modify storageclass parameters.
https://github.com/rook/rook/blob/d3c18d001b2f036b0a5ab2dd2780bb5761bf4793/cluster/examples/kubernetes/ceph/csi/

[2021-05-25 05:20] #7938 closed

[2021-05-25 05:27] jpsn123 commented on #7973
@Rakshith-R  @leseb  Thank you very much. I was so confused by the documentation that I missed such an obvious parameter.

[2021-05-25 05:27] #7973 closed

[2021-05-25 06:04] thotz commented on #7906
This is a good approach much simpler than what in my mind(as parameter inherited to OBC and make much more sense)

Sorry for the confusion, the admin has control over setting the quota on OBC, what I meant was internally RGW enforces user quota when admin sets quota on an OBC(on `user` created as part of OBC request).

What I was trying to communicate was, we cannot set quota on the object store u

[2021-05-25 07:19] irizzant commented on #6448
activity!

[2021-05-25 10:59] jpsn123 opened #7987 "configmap:rook-ceph-csi-config be changed by rook-ceph-operator when operator restart."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
operator should init csi config at first start, but it will always reconfig configmap for me, and delete my modification, i add field like `radosNamespace` , `cephFS.subvolumeGroup`.

**How to reproduce it (minimal and precise):**
just restart it. then watch configmap changes.

[2021-05-25 11:08] Madhu-1 commented on #7987
@jpsn123 CSI configmap is not meant for manual editing, There is a separate issue opened for subvolumegroup and rados namespace https://github.com/rook/rook/issues/7035 https://github.com/rook/rook/issues/7036

[2021-05-25 12:24] Rakshith-R commented on #7950
Rook currently starts csi drivers in go routine(`go csi.ValidateAndConfigureDrivers`) to not block the cluster initialization, see  https://github.com/rook/rook/commit/6c249e751b12425602351eae6b393da6973ccaef.
https://github.com/rook/rook/blob/fcf634e3b7808e4338e7fd261c047aae4793e99b/pkg/operator/ceph/operator.go#L258

This may lead to race conditions(when second configmap change go routine call f

[2021-05-25 13:11] psavva opened #7988 "All services with a selector for the mgr daemon should be updated if there are multiple mgr daemons and the active mgr changes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I have setup my rook-ceph cluster, and have enabled the dashboard in the CephCluster CRD.
[code]

I have also installed the External Dashboard nodeport service
[code]

When visiting the ceph dashboard, i'm redirected to a wrong URL.
You will notice that I'm accessing my internal IP and nodeport, and I'

[2021-05-25 13:19] nixpanic opened #7989 "Add `jq` to the Ceph toolbox"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add the `jq` executable to the Ceph toolbox.

**What is use case behind this feature:**
Many Ceph commands allow outputting as JSON. For scripting actions, procedures or logging through the Ceph toolbox, it would be useful to have the `jq` executable available.

**Environment**:
Example for OpenShift Co

[2021-05-25 13:57] travisn commented on #7989
@nixpanic The toolbox image is the same as the [Rook operator image](https://github.com/rook/rook/blob/master/images/ceph/Dockerfile), which only adds what is directly needed for Rook. Since jq would be for working with the ceph commands in the toolbox, adding jq to the base ceph image would be preferable.

[2021-05-25 14:05] leseb commented on #7989
We could argue the same for the base ceph image :).
Also, wherever we add `jq` we will need to add it downstream as well.

Embedding `jq` in our makefile might be easier for both upstream and downstream.

[2021-05-25 14:07] travisn commented on #7950
@Rakshith-R I'm not following the race condition. From the original issue, seems like if the [startDrivers()](https://github.com/rook/rook/blob/fcf634e3b7808e4338e7fd261c047aae4793e99b/pkg/operator/ceph/csi/csi.go#L43) method fails, we just need to try again several times in a `for` loop until it succeeds.

[2021-05-25 14:19] Rakshith-R commented on #7950
Actually go routine `csi.ValidateAndConfigureDrivers` fails inside startdriver().
I meant race condition may happen with the go routine function call.
Looping over in a go routine will lead to more complications, like having a good stop condition and handling race condition with next config update.

[2021-05-25 14:21] ahmedTouati opened #7991 "OSDs not provisioned"
I followed this [link ](https://rook.io/docs/rook/v1.6/ceph-disaster-recovery.html#backing-up-and-restoring-a-cluster-based-on-pvcs-into-a-new-kubernetes-cluster)to simulate a Disaster Recovery using velero which backups PVs, PVCs, Configmaps, and Secrets to restore my first cluster into a second one.

All resources seemed to recover except for the OSDs, when I see the prepare OSDs logs I get the

[2021-05-25 14:51] Rakshith-R commented on #7950
@travisn We would need a mutex lock inplace to ensure one go routine is running at a time and we would also need to decide how to handle if another config update event triggers updatedriver function when one is running.

Any reason not to use the same reconciler for starting driver after cluster initialization?
It would be simpler to handle failures and multiple event triggers.

[2021-05-25 15:09] parth-gr commented on #7988
@psavva which node IP address you are using for calling the dashboard service? You should use the IP address of the Node on which the MGR pod is created.
PS: You'll be able to contact the NodePort service, from outside the cluster, by requesting  `<NodeIP>:<NodePort>`.

[2021-05-25 15:20] travisn commented on #7989
If it's really only needed in the toolbox, I'm not against including it in the rook image. But if it's needed downstream only I'm not sure we need to include it upstream. Downstream has a slightly different build process so we should consult with the build team on that.

[2021-05-25 15:22] travisn commented on #7950
It would be simpler to handle failures and multiple event triggers.

Can you explain this more? What do you mean to use the same reconciler?

[2021-05-25 15:43] Rakshith-R commented on #7950
`startDrivers` is one of the callbacks here, which internally calls updatedriver which creates csiconfigmap then calls go routine `validateandconfiguredriver`.

The reason for placing it before `initialcluster` as I understand is we need the csicpnfigmap to be created first and usage of go routine is to not block cluster creation.

My proposal is to just create csicpnfigmap in the same position an

[2021-05-25 15:49] leseb commented on #7991
Why is this disk not clean?

[2021-05-25 15:52] ahmedTouati commented on #7991
@leseb because I wanted to recover the old data from cluster one

[2021-05-25 16:25] travisn commented on #7950
Rook has a number of goroutines to help make operations more parallel and unblocking. If we change the control flow for the csi driver, it will have other implications like delaying starting the csi driver until the end of the cluster reconcile, which isn't desired either. The CSI driver is really independent of the cluster CR, we just want to delay starting it until the first cluster is created.

[2021-05-25 16:59] psavva commented on #7988
I'm certainly using the correct IP address, you can see I've hit the service and the response is a redirect.

I've made sure by Access via port forwarding and node IP, both methods fail.

I'm able to access my other dashboards fine.  This is a new bug.

I have simulated it on 2 different clusters.

[2021-05-25 17:28] travisn commented on #2079
@thotz After support is added for the k8s certs, it probably makes sense to deprecate the existing format

[2021-05-25 18:11] travisn commented on #7968
@sfxworks Since you have `useAllDevices: true` and `useAllNodes: true`, Rook will always scan all the devices and attempt to start OSDs on them.

Did you [delete the data from the disk](https://github.com/rook/rook/blob/master/Documentation/ceph-osd-mgmt.md#delete-the-underlying-data) after the OSD was removed? If not, Rook will see the disk previously configured and attempt to start the same OSD

[2021-05-25 18:54] sebastian-philipp commented on #7854
I can't think of a way to do that other than setting `server_addr`.

https://github.com/ceph/ceph/blob/731f4f70ee58a5df63e1a7f46540005d1e7206f8/src/pybind/mgr/dashboard/module.py#L104-L136

maybe you want to do a `ceph config dump | grep 10.0.0.3` to be on the safe side here.

[2021-05-25 20:03] #5670 closed

[2021-05-25 20:37] icpenguins opened #7994 "Cannot Mount CephFS No Timeout, mount error 5 = Input/output error"
# Bug Report

**Deviation from expected behavior:**
On most hosts, mounting the CephFS will not succeed. On one host, a Raspberry PI 4, it did mount. However, immediately after mounting, a simple `cp filea.txt /cephfs/filea.txt` fails. Creating a directory did work, but the `mkdir /cephfs/test` hangs.

***Ceph mon stat***
[code]

***Dmesg output***
[code]

**Expected behavior:**
Mounting a CephFS

[2021-05-25 21:07] dimm0 commented on #7862
I have this error too, but it's not looping

[2021-05-26 05:08] sfxworks commented on #7968
The disk was removed and was reformatted long before the addition of this new node.

[2021-05-26 06:10] gemfield commented on #4896
strange. ..I resolved this issue by restart mds deployment:
[code]

[2021-05-26 06:12] kingudk commented on #7874
Generally I have just used the defaults, they seem to fit quite well. What have changed over time is the of historical interest: configuration of the CephCSI driver and dynamic volume expansion prior to it being managed up by the operator.

What struck me here was that the old and the new openshift-operator.yaml was that a lot of configuration was shifted around.

The full diff of the changes of m

[2021-05-26 07:02] jpsn123 commented on #7987
@Madhu-1  thank your anwser. currently both issue have not been started yet since you open them, and now, i want to depoly rook for product. can make operator to avoid modifying CSI configmap if it exist?

[2021-05-26 07:34] parth-gr commented on #7988
Are the other clusters are using the same Rook and Ceph version? Or Is it like you are able to access your first dashboards for the `Ceph object store` and for the second `Ceph object store` you are not able to access it, If that the problem then [IMPORTANT](https://rook.io/docs/rook/v1.6/ceph-dashboard.html): `Please note the dashboard will only be enabled for the first Ceph object store created

[2021-05-26 08:47] Madhu-1 commented on #7987
AFAIK Not possible for now. Modifying CSI configmap and adding some more fields might not be backward compatible we might break, Better to wait for official support in Rook.

[2021-05-26 12:54] sdgmf commented on #4862
same problem

[2021-05-26 13:14] subhamkrai commented on #4862
@sdgmf please open a new issue with the template

[2021-05-26 18:26] travisn commented on #7987
@jpsn123 The operator updates the csi configmap to keep the list of mons updated in case a mon is failed over. Why do you want to modify the configmap?

[2021-05-26 18:29] travisn commented on #7988
@psavva If you're getting a redirect, the response is coming from the standby mgr. The active mgr would respond properly, but the standby mgr only responds with redirects. When two mgrs are deployed, Rook periodically updates the dashboard service to direct traffic to the active mgr. If you're defining your own dashboard service based on a node port, you would also need to update it to only direct

[2021-05-26 18:43] travisn commented on #7874
I see `ROOK_HOSTPATH_REQUIRES_PRIVILEGED` was still there in the diff, so it's not clear why it wasn't applied. Perhaps there is something subtle in the whitespace that caused it to be missed.

[2021-05-26 19:08] psavva commented on #7988
Thank you for this info, I'll update my configuration in the morning, and report back.  It however seems that this should be automated somehow... Maybe the use of a new label to indicate the active manager would be a good solution, also would require an update on the current deployment manifest for Kubernetes

[2021-05-26 19:20] psavva commented on #7914
For the health warn, check https://github.com/rook/rook/issues/7746

[2021-05-26 19:26] travisn commented on #7988
Rook does automatically update the `rook-ceph-mgr-dashboard` service when the active mgr changes. Can you pick up on those selectors? Rook doesn't update the labels on the mgrs for which one is active for several reasons including the node may be down where the previously active mgr was running, and that the implementation is from a sidecar on the mgr pods that doesn't have the ability to update i

[2021-05-26 20:11] #7226 closed

[2021-05-26 20:32] travisn commented on #7226
Note that a helm chart for the cephcluster CR (and support for different namespaces) is coming soon with #7778.

[2021-05-26 20:44] travisn commented on #7968
@sfxworks After you purge the bad osd, you don't see that osd's auth from the toolbox with `ceph auth ls`, right?

From this message there is certainly something leftover from the prior OSD
[code]

[2021-05-26 21:14] travisn commented on #7968
I was not able to repro this in a test cluster. After purging an OSD, a new OSD was able to be created with the same ID. It is expected that Ceph re-uses the same OSD IDs after they are purged. If you see that everything was purged as expected, you please try the latest Rook v1.6 and Ceph v16 releases to see if it helps.

[2021-05-26 21:33] travisn commented on #7862
@psarossy Did the cluster go offline during the upgrade, or was it only the operator and/or toolbox that was unresponsive to ceph commands? Did you upgrade the toolbox, or just the operator?

From the operator v1.5.11.log, it looks like no ceph commands were successful, so I expect none of the ceph pods were upgraded and the cluster should have remained running even if the operator was dysfunction

[2021-05-26 22:21] prazumovsky opened #7999 "Reducing Ceph monitors based on placement, not first entry"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
This feature allows to improve current way of removing Ceph Monitors, if desiredMonCount lesser than real number of Ceph Monitor deployments. The current state is removing first entry of monmap, which could be incorrect due to specified placement. The feature suggests to choose first of all such monitor

[2021-05-26 22:52] travisn commented on #6101
@parth-gr @paalkr How about if we move ahead with the following growth policy for the number of OSDs?
[code]

For now, OSD size growth can still be left as a manual update to the cephcluster CR. At a later time we may choose to implement a size growth such as:
[code]

[2021-05-26 22:57] travisn commented on #7837
To accommodate the v1 or v1beta1 versions of the CronJob, we likely need the following approach:
- Check the K8s version
- If less than 1.21, use the package `k8s.io/api/batch/v1beta1`
- Else use the package `k8s.io/api/batch/v1`

This may mean some (hopefully minimally) duplicated code to initialize the structs of the different versions.

The alternative is to use yaml templates similar to how we

[2021-05-26 23:51] psarossy commented on #7862
@travisn
The cluster was/is happily serving cephfs clients throughout all of this.

For the v1.3.5 > v1.4.9 upgrade all the pods got upgraded (mons/osds etc) just fine, and I didn't notice that I could not run commands from the operator anymore as the toolbox was not automatically updated so it stayed on 1.3.5.

Once everything settled, I did the steps for the v1.4.9 > v1.5.11 and noticed that the

[2021-05-27 02:55] jpsn123 commented on #7987
@travisn  see this https://github.com/ceph/ceph-csi/issues/1884 , i want to isolate my company different business groups through `subvolumeGroup` or `namespace` whice concept in ceph. but now , I have modified the source code to prevent operator from modifying the configMap every time. this is temporary measure, and I hope see features of the first close as soon as possible. thanks guys!

[2021-05-27 02:56] #7987 closed

[2021-05-27 06:06] oaudry commented on #7659
@SerialVelocity kubectl edit crd cephobjectzones.ceph.rook.io  and set the field spec.preserveUnknownFields to false and restart helm upgrade should do the trick

[2021-05-27 06:50] paalkr commented on #6101
First of all, I'm absolutely no Ceph expert and I'm fully aware that I have a limited understanding of Ceph operations. @parth-gr , can you please elaborate on why scaling horizontally is preferred over scaling vertically? I understand thought, that at some point you will have to scale a Ceph cluster horizontally to increase capacity and performance.

In our scenario we have a setup where each PVC

[2021-05-27 07:16] kingudk commented on #7874
It seems quite strange yes.
I'm not quite sure if this is possible or meaningful to pursue the issue further. It is unexpected behavior, but there is a workaround (re-applying the operator). So on my part it is fine to close the issue.

[2021-05-27 08:01] #7909 closed

[2021-05-27 12:21] prazumovsky opened #8007 "Granular resource requirements distribution for OSDs with different deviceClasses"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
This feature is a result of conversation about use case: https://rook-io.slack.com/archives/CK9CF5H2R/p1619725897181100

This feature provides more granular resource requirements distribution for raw devices OSDs by deviceClass. Currently CephCluster.spec.resources allows to specify resources requiremen

[2021-05-27 13:09] parth-gr commented on #6101
@paalkr How Ceph store chunks of data in the storage devices? can answer why we need horizontal scaling.
As the logic it implements for storing the data makes the cluster self-healing and self-balancing.
 [Document](https://ceph.io/geen-categorie/how-data-is-stored-in-ceph-cluster/): It stores replicas of the same data onto different OSDs, So in the future, if there is a failure(ex: node down) we

[2021-05-27 13:25] travisn commented on #7874
Sounds good, will close this issue for now, and let's reopen if it is hit again.

[2021-05-27 13:25] #7874 closed

[2021-05-27 14:36] sfxworks commented on #7968
I should also mention there was a metadata device associated with the osd. Unfortunately I cannot test an upgrade as I have switched storage providers. The intent was to report everything I could here before the migration.

[2021-05-27 16:58] BlaineEXE commented on #6101
IMO, it would be better to hook Prometheus into adjusting the CephCluster CRD based on events than to immediately work on baking this into Rook. We already have so many features we need to stay on top of, and it's rare that we have something that so nicely allows for a completely external implementation.

I think it is still a valuable addition to the Rook codebase to have an example of hooking in

[2021-05-27 17:19] travisn commented on #7987
@Madhu-1 Should we reopen this to allow the fields like that to be editable?

[2021-05-27 18:41] #2109 closed

[2021-05-27 20:34] briantopping commented on #7305
/lifecycle frozen

[2021-05-27 20:47] travisn commented on #7999
@prazumovsky This is certainly a fair request to find a way to target removing specific mons. This has come up in the past also for scenarios where the number of desired mons doesn't change, but they just need to be migrated to other nodes.

The challenge is that mons are scheduled with "mon canaries pods" where we just wait for the K8s scheduler to decide where a mon should be placed, then we ass

[2021-05-27 21:14] travisn commented on #8007
For this to work smoothly, the OSD prepare job would need to detect the device classes, instead of waiting for the OSD daemons to initialize the device class. As I recall, ceph-volume does not evaluate the deviceClass, but the detection is delayed until the OSD daemon is started. If we don't know the device class until after the daemon starts, it is too late unless we can restart the OSD again wit

[2021-05-27 21:16] prazumovsky commented on #7999
@travisn today I tried to play with this placement rules and stuck in this overminded variety of node chosing, also with this "canary" mechanic. It seems that kubernetes "...RequireDuringExecution" rules will help us a lot (the most hard-working case is handling affinity), but unfortunately it is not implemented yet :)

I paused in playing with placement rules and tried to play with current mon he

[2021-05-27 21:32] travisn commented on #6101
It's an interesting thought to allow the desired state be modified automatically in the CephCluster CR based on some metrics. The example linked is about auto-scaling pods. How would this fit together in this scenario where the cluster CR would be updated based on a Ceph health warning?

Today we assume all the desired state lies with the admin, who carefully creates the CRs. Handing this responsi

[2021-05-27 21:36] travisn commented on #7999
Yes, that is an effective way to reschedule a mon. A perhaps less disruptive mon failover can also be triggered by scaling down the mon deployment. After some time (default 10 minutes) a new mon would be created and the old one would be removed.
[code]