[2022-07-08 17:52] hdiass commented on #10568
Yes it does, but i can't change this service because linkerd replicates it from another cluster. Would be nice to be able to ignore it even with that label, i'm checking if can avoid this service to be auto replicated between all clusters(only to the ones i want), and this should sort.. but would like to have a better solution from rook operator

[2022-07-08 17:56] hdiass commented on #10568
Like having a option to ignore "xyz" service, so that service not managed by the operator doens't impact the deployment

[2022-07-08 17:58] szczepl commented on #7731
Actually, my colleague found the RC. OSDs are not created, because our domain name in the Openshift cluster and hostnames are very long. Together, with full cluster resource name they extend 63 chars.

The following error is thrown in the rook-ceph namepace job:

  Warning  FailedCreate  3m23s  job-controller  Error creating: Pod "rook-ceph-osd-prepare-xx-xxxx-xxx02-xxx01.xxxxxxxx02.--1-25hr8" is

[2022-07-08 18:11] travisn commented on #7731
Hmm I thought Rook handled longer host names. If you find it repros on a more recent release, would you mind opening a new issue for this? I don't recall a fix for long host names since v1.5, but perhaps I'm forgetting.

[2022-07-08 20:48] BlaineEXE commented on #10522
This still sounds like Kubernetes behavior. I don't see how Rook can control what pods are allowed to be scheduled.

[2022-07-08 20:56] BlaineEXE commented on #10110
I see similar behavior here to this old Ceph thread: https://tracker.ceph.com/issues/11313

The key takeaway from that thread is that when the underlying system has other processes running that compete for resources, it can slow the mons down too much and cause Ceph to be unstable.

I suspect this could also happen, and especially, if you are running mons on `dataDirHostPath` that is a standard sp

[2022-07-09 00:42] hdiass commented on #10568
I think it's ideal to ignore it because linkerd is managing that service and that service is not linked with this operator but another one on another cluster.. so for me the ideal scenario is to have a away to make operator ignore this service

[2022-07-09 05:39] anthr76 commented on #10559
Not sure which yaml you exactly would want to see but I do see these two mounts:

[code]

[code]

[2022-07-09 11:04] hdiass commented on #10568
Also how can I add custom annotations on the default created by operator services ?

[2022-07-09 18:04] leiw324 opened #10573 "no osd created"
Hello,

I am testing k8s latest version in Centos 8, with KVM, one master with three workers (this four node is 2 vcpu and 4GB ram), after installed rook-ceph cluster that no osds.

`[root@k8s01 examples]# cat /etc/redhat-release
CentOS Stream release 8`

`[root@k8s01 examples]# uname -a
Linux k8s01 4.18.0-394.el8.x86_64 #1 SMP Tue May 31 16:19:11 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

`[root@k

[2022-07-09 20:02] #10193 closed

[2022-07-11 02:10] ningjunwei2 commented on #9660
@adityarap  i try delete the operator pod ,then it will start a new operator pod ,but it dont work

[2022-07-11 05:14] chenlein commented on #10110
@BlaineEXE Thanks, I'm testing on the same infrastructure，However, Everything works fine on CentOS 7.9.1810 and Ubuntu 20.04.4. I've always suspected that some kernel parameter is causing it, but can't be sure.

[2022-07-11 08:43] spdfnet commented on #9831
Solved by upgrading to cephadm.

[2022-07-11 08:43] #9831 closed

[2022-07-11 09:00] jqueuniet commented on #10110
I'm experiencing the sane issue as described in the first message, with Fedora CoreOS 36 virtual machines. All storage is SSD-based, all mons are running on separate nodes. Latest Rook, hypervisor is running Proxmox 7.2, and cluster is on Kubernetes 1.24.2 with Calico as CNI.

[2022-07-11 14:46] shalevpenker97 opened #10574 "EnableRBDStats not working"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Setting enableRBDStats: true in CephBlockPool does not expose ceph_rbd metrics.

**Expected behavior:**
Enabling enableRBDStats: true in CephBlockPool should expose ceph_rbd metrics.

**How to reproduce it (minimal and precise):**
Create Cephcluster
Create CephBlockPool
Set enableRBDStats
Scrape metric

[2022-07-11 17:29] rajha-korithrien opened #10576 "After upgrade from 1.7.2 to 1.8.10 OSD prepare job fails and no PV is created"
The symptoms are similar to: #8726 but I am not using a USB device or a Pi

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After adding new entry to the "devices" section for a specific node in a non-PVC cluster, with the intention of adding a new OSD, the operator creates a "prepare" job that fails.

further no physical volume is created on the ne

[2022-07-11 18:20] travisn commented on #10576
From this message, rook did call `ceph-volume` to request an OSD to be created on the zd16 that is available:
[code]

The key error her is the last line that a fast device was passed, but is not available. A metadataDevice can only be used once, or else all the OSDs on the same metadataDevice have to be created at the same time. A new OSD cannot be added to the same metadataDevice that is already

[2022-07-11 19:17] rajha-korithrien commented on #10576
Thanks for the information. I understand now that I need to explicitly specify a new metadata device instead of using the existing one. To do this I have changed my configuration to:

[code]
With the intention of using a new metadata device "rook0-metadata-1" with a new OSD backed by "rook0-data-1".
Indeed the prepare pod seems to understand the intention as can be seen in these logs:
[code]
As it

[2022-07-11 19:42] BlaineEXE commented on #10110
@jqueuniet what kernel version is running on those FCOS nodes? Could you post `uname -a` for us?

[2022-07-11 20:03] #10211 closed

[2022-07-11 20:07] travisn commented on #10568
@hdiass Custom [annotations and labels](https://rook.io/docs/rook/latest/CRDs/Cluster/ceph-cluster-crd/#annotations-and-labels) can currently only be added to the pods. Perhaps we need new categories under `annotations` in the cluster CR for `mon-svc` and `mgr-svc` so we can apply them. @galexrt thoughts?

[2022-07-11 20:26] travisn commented on #10573
Please see the [troubleshooting guide](https://rook.github.io/docs/rook/v1.9/Troubleshooting/ceph-common-issues/#monitors-are-the-only-pods-running) for more ideas. In particular, the operator log likely shows an error.

[2022-07-11 21:01] galexrt commented on #10568
@travisn It more and more sounds reasonable in regards to things like service meshes, like Linkerd, other service meshes, external-dns operator, etc.

Question would be more where should these annotations options be added in the CephClutser CRD?

[2022-07-11 21:17] hdiass commented on #10568
I don't have any specific requirement on how it should be in the cephcluster CRD in terms of yaml organization but something like would work..
[code]

[2022-07-11 21:27] BlaineEXE commented on #10576
Ceph-volume is detecting that the disk is not available, which I think means it may be in-use. It may be necessary to ensure the new disks are wiped with `sgdisk --zap-all` to remove any other content from the disks. Or there may be another process that has locked the disk.

[2022-07-11 22:24] #2047 closed

[2022-07-12 02:43] rajha-korithrien commented on #10576
Thank you for your help. The "disks" in this case are volumes created from a ZFS pool. I can create and destroy them at will so they are guaranteed not to have any kind of already written partition/layout information. If we ensure the volumes are empty:
[code]
We see (after a restart of the operator to force the creation of new prepare jobs) in the operator logs:
[code]
And in the prepare job logs

[2022-07-12 04:53] Madhu-1 commented on #10559
@anthr76 Need `csi-rbdplugin-provisioner` deployment yaml output and need csi-rbdplugin container output (above logs contains default container csi-provisioner) logs

[2022-07-12 17:19] rajha-korithrien commented on #10576
To try and help provide more context, I have captured the actual `ceph-volume.log` file created by the command:
[code]
Which in turn runs the command:
[code]
The log below is the (slightly redacted to remove the irreverent devices) `/tmp/ceph-log`:
[code]

The errors:
[code]
Are (I think) why we see:
[code]

It seems like something in the preparation process got skipped to either create physical v

[2022-07-12 18:05] jqueuniet commented on #10110
I can't post a uname outright right now as our lab is out of order for network changes, but the file output should be close enough.

[code]

[2022-07-12 18:11] jqueuniet commented on #10110
And in case this is important too, the CRI used is containerd 1.6.4

[2022-07-12 20:12] rajha-korithrien commented on #10576
I can confirm that Rook is not calling `ceph-volume` correctly because of the change in device names.

Rook makes this call:
[code]
Which results in not creating the desired OSD. That call results in:
[code]

I manually migrated the OSD prepare job to a Deployment so I could get a shell inside and if I manually run:
[code]
I am able to get `c-v` to recognize the new metadata and data device:
[code

[2022-07-12 22:36] travisn commented on #10568
I still am not seeing how it makes sense to skip updating services. To be clear on the reason this is being done... The mgr services must have a selector for the **active** ceph mgr pod. If one of the mgr pods goes down, ceph will promote the backup to be the active mgr, then rook will detect the change, then update the selectors on all the mgr services to point to the new active mgr. If any servi

[2022-07-12 22:52] BlaineEXE commented on #10576
I would expect that both should work. I'm honestly not sure why the first form is failing. It would seem to be an error with ceph-volume. Have you tried emailing the ceph-users@ceph.io list or on Ceph's IRC? https://ceph.io/en/community/connect/

[2022-07-13 01:35] voarsh2 commented on #8802
Just chiming in here to ask if this all means that once you've deployed Rook Ceph you can't change it without tearing it all down (any data loss to the OSD's?)?

[2022-07-13 08:18] zhucan commented on #10573
@leiw324  Can you paste the logs of the operator?

[2022-07-13 13:58] travisn commented on #8802
@voarsh2 Changing the host networking setting is not supported in a running cluster. It may be possible, but would be a complex process to update the mons with new ips.

[2022-07-13 20:02] #10220 closed

[2022-07-13 20:02] #10215 closed

[2022-07-14 00:32] dimm0 opened #10593 "Operator hangs on update 1.7->1.8: "starting the controller-runtime manager""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Operator hangs on:

[code]

**Expected behavior:**
Operator upgrades the cluster

**Environment**:
* OS (e.g. from /etc/os-release): Ubuntu 20.04
* Storage backend version (e.g. for ceph do `ceph -v`): multiple
* Kubernetes version (use `kubectl version`): 1.22.5
* Kubernetes cluster type (e.g. Tectoni

[2022-07-14 00:36] dimm0 commented on #10593
Needed ROOK_CURRENT_NAMESPACE_ONLY=false

[2022-07-14 00:36] #10593 closed

[2022-07-14 03:42] dimm0 commented on #6830
@Madhu-1 is `fsGroupChangePolicy: "OnRootMismatch"` possible with the current CSI driver?

[2022-07-14 03:51] Madhu-1 commented on #6830
@dimm0 `fsGroupChangePolicy` is the pod security context, you can configure CSI driver with values specified here https://kubernetes-csi.github.io/docs/support-fsgroup.html#supported-modes

[2022-07-14 04:07] dimm0 commented on #6830
If I need `fsGroupChangePolicy: "OnRootMismatch"` to work in the pod security context, do values in CSI driver matter?
I jsut upgraded rook to 1.8.10, and still can't acieve the "OnRootMismatch"

[2022-07-14 04:18] Madhu-1 commented on #6830
Please set the csi fsgroup to `File` and check. tagging @humblec as is having PR https://github.com/rook/rook/pull/10503, he can provide more details.

[2022-07-14 04:23] Madhu-1 commented on #6830
Please give a try with latest cephcsi:canary image also as its having few fixes related to chmod and cephfs subvolume permission

[2022-07-14 05:31] #10486 closed

[2022-07-14 15:25] raj-katonic opened #10596 "Uneven OSD utilization in the latest version"
Hi,

I am using the latest version of rook. I've deployed a cephcluster on 2 nodes out of which 1 node has 2 disks attached of 150GB each and other node has 1 disk attached of 150GB.
I've deployed the cephfilesystem with failure domain=osd. Here's the configuration of cephfilesystem

<img width="716" alt="Screenshot 2022-07-14 204505" src="https://user-images.githubusercontent.com/81794052/1790180

[2022-07-14 16:19] anthonyeleven opened #10597 "Rook 1.9.7 toolbox version"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

OSD container:
sh-4.4# ceph -v
ceph version 17.2.1 (ec95624474b1871a821a912b8c3af68f8f8e7aa1) quincy (stable)

toolbox:
sh-4.4$ ceph -v
ceph version 16.2.9 (4c3647a322c0ff5a1dd2344e039859dcbd28c830) pacific (stable)

**Expected behavior:**

Toolbox CLI version matches the daemon container version.  Si

[2022-07-14 16:27] travisn commented on #10597
The ceph version inside the base image for the toolbox is the same as the operator, it might not match the running version of the ceph daemons. That said, there is a change in the master branch that will be part of the Rook v1.10 release where the toolbox will allow you to specify the ceph image, instead of the rook image, so you could easily test it with v17.2.1. The [new toolbox spec](https://gi

[2022-07-14 16:43] parth-gr opened #10598 "Adding support for rgw and external-rgw in external-cluster"
With code released to date, I believe we have 3 operating permutations:
1. Local CephCluster with Local CephObjectStore
2. External-mode CephCluster with Local CephObjectStore (mons and osds are remote, but we run the RGW inside k8s) ([doc](https://rook.github.io/docs/rook/v1.9/CRDs/Cluster/external-cluster/#cephcluster-example-management))
3. External-mode CephCluster with external-mode CephObjec

[2022-07-14 16:43] leiw324 commented on #10573
`[root@k8s01 ~]# kubectl logs --tail 10 rook-ceph-operator-b5c96c99b-m7cjh -n rook-ceph
2022-07-14 16:42:02.407569 I | op-mon: updating maxMonID from 1 to 2 after committing mon "c"
2022-07-14 16:42:03.176859 I | op-mon: saved mon endpoints to config map map[csi-cluster-config-json:[{"clusterID":"rook-ceph","monitors":["10.97.122.138:6789","10.96.189.116:6789","10.108.9.7:6789"],"namespace":""}] d

[2022-07-14 16:44] leiw324 commented on #10573
This cluster is 1 master and 3 worker

[2022-07-14 16:45] parth-gr opened #10600 "Should add a proper end-to-end CI for external-mode"
Think of investigating more on the CI for external-cluster so these small mistakes won't repeat.

_Originally posted by @parth-gr in https://github.com/rook/rook/pull/10590#discussion_r920784046_

CI should be capable of testing StorageClass creation and its underlying PVC creation, like the overall cluster status if it's in good state

[2022-07-14 16:52] #10492 closed

[2022-07-14 16:54] travisn commented on #10525
/assign

[2022-07-14 16:59] parth-gr commented on #10600
/assign

[2022-07-14 17:21] #10451 closed

[2022-07-14 17:24] travisn commented on #10573
Could you share the full operator log? This snippet doesn't show any errors, just that it is waiting for the mons to be running.

[2022-07-14 17:54] leiw324 commented on #10573
`2022-07-14 17:45:22.640112 I | rookcmd: starting Rook v1.9.0-alpha.0.437.g37a4d9e95 with arguments '/usr/local/bin/rook ceph operator'
2022-07-14 17:45:22.640357 I | rookcmd: flag values: --enable-machine-disruption-budget=false, --help=false, --kubeconfig=, --log-level=INFO, --operator-image=, --service-account=
2022-07-14 17:45:22.640368 I | cephcmd: starting Rook-Ceph operator
2022-07-14 17:45

[2022-07-14 20:54] BlaineEXE commented on #10598
Thanks for opening this, Parth.

In addition to the investigation, I think something that would be good to do is to:
1. Decide whether we want to continue supporting permutation 2
    - plan and announce the breaking deprecation if we drop support
    - we could officially say this is unsupported but try to keep existing support on a reasonable-effort basis for now
2. write CI tests for the suppor

[2022-07-15 06:22] clcc2019 opened #10603 "minio pvc FailedMount"
MountVolume.MountDevice failed for volume "pvc-a27b1cfb-194e-4a1e-845f-342e0b792299" : rpc error: code = Internal desc = rbd image replicapool/csi-vol-6547ec07-a9a4-11ec-8794-4a4838419698 is still being used
  Warning  FailedMount             3m20s              kubelet                  Unable to attach or mount volumes: unmounted volumes=[data], unattached volumes=[minio-token-bbp7n data]: timed o

[2022-07-16 06:03] leiw324 commented on #10573
@travisn

This is new fresh installation with CentOS 8.6 in KVM (3 master and 3 worker), I think no need check /var/lib/rook.

Also, you can see above the operator log, and the below is pods status.

`[root@k8s01 ~]# kubectl get pod -n rook-ceph
NAME                                              READY   STATUS      RESTARTS      AGE
csi-cephfsplugin-provisioner-7b867fbd5f-kbmjn     6/6     Running

[2022-07-17 03:20] onedr0p commented on #10406
Something definitely changed. Pre rook 1.9 I was able to create a cephblock PVC and use it as an `existingClaim` in a deployment and it appears the volume would be chowned with the user and group of the UID/GID of the running container.

Now with rook 1.9 I have to be explicit and set a pod security context like below for the application to be able to access the `existingClaim`. The UID and GID ar

[2022-07-17 21:31] kahirokunn commented on #1960
Keep open

[2022-07-18 05:43] namaiiee2222 opened #10609 "Crash csi-cephfsplugin pod after k8s upgrade 1.21 to 1.22"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary:
*
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary:
* k  -n rook-ceph logs  csi-cephfsplugin-6d255 -c csi-c

[2022-07-18 06:20] sp98 commented on #6374
Hi. I've started looking into it. Will update more about the progress.

[2022-07-18 15:17] arcreigh opened #10612 "rook-ceph-mgr-dashboard defaults to http port on pod recreation when ssl: true"
* Bug Report

**Deviation from expected behavior:**
When SSL=true and a pod gets recreated the service defaults ports to 7000 "http"

**Expected behavior:**
When SSL is true the service should use the port configured for HTTPS vs HTTP

**How to reproduce it (minimal and precise):**
delete the active mgr pod that is tied to the service.

**Environment**:

* Rook version (use `rook version` inside o

[2022-07-18 18:02] travisn commented on #10406
@Antiarchitect @onedr0p
1. You are just using the csi version deployed by default with Rook, right? In v1.9.x this default is currently csi [v3.6.2](https://github.com/rook/rook/blob/release-1.9/pkg/operator/ceph/csi/spec.go#L126), and in v1.8.x this default would be csi [v3.5.1](https://github.com/rook/rook/blob/release-1.8/pkg/operator/ceph/csi/spec.go#L104).
2. These are just rbd volumes affect

[2022-07-18 18:57] Antiarchitect commented on #10406
1. Yes, I use csi provided by rook by default
2. I've noticed on RBD volume but have not so many CephFS usecases overall

[2022-07-18 18:57] #10574 closed

[2022-07-18 18:59] onedr0p commented on #10406
@travisn

1. Yes, default. I am on rook-ceph 1.9.7. Manifests for the Helm releases are [here](https://github.com/onedr0p/home-ops/tree/main/cluster/core/rook-ceph/cluster) and [here](https://github.com/onedr0p/home-ops/tree/main/cluster/core/rook-ceph/operator).
2. I do not mess around much with cephfs, all of my volumes are RDB/RWO/Ceph Block.

You can try a quick test with this container which

[2022-07-18 22:35] travisn commented on #10573
The error is:
[code]

Where osd.1 had already been created on vdb in a different cluster. So it appears to be a reinstall and you need to wipe the disk.

[2022-07-19 02:41] Madhu-1 commented on #10406
I think it's due to https://github.com/ceph/ceph-csi/pull/2697, I will let @humblec confirm it. in next cephcsi release we will have same for cephfs also

[2022-07-19 02:44] Madhu-1 commented on #1960
@travisn it will be in the next cephcsi 3.7.0 release.

[2022-07-19 02:54] leiw324 commented on #10573
Hi Travis,

Why different clusters?.....

Do you mean osd 1 is worker node 01? I can rclone the VM in KVM and add
fresh disk.

Thanks

Travis Nielsen ***@***.***> 於 2022年7月19日 週二 清晨6:35寫道：

--
Best Regards,

Wilson Kwok
Marvelconnect Technology Limited

Tel: 3955 9605
Mobile: 6053 2013
Email: ***@***.***
Address: Unit 1701, 17/F, Enterprise Square Three, 39 Wang Chiu Road,
Kowloon Bay, Kowloon, Ho

[2022-07-19 03:04] Madhu-1 commented on #10609
@namaiiee2222 few questions

* what is the cephcsi version?
* Is it happening on all the nodes?
* only it's crashing for the cephfs plugin pod not for any other pods?

[2022-07-19 03:11] Madhu-1 commented on #10603
RWO pod is expected to run on only one node at a time. if you have issue with node failure please try node-loss in the [csi troubleshooting guide](https://rook.io/docs/rook/latest/Troubleshooting/ceph-csi-common-issues/#node-loss) @travisn shared

[2022-07-19 12:37] jinwonkim93 commented on #9782
@PierreRAFFA @dinghui40 I guess many people are encountering this issue. Do you know the root cause of this problem?

[2022-07-19 12:54] parth-gr commented on #10612
@arcreigh I tried deleting mgr pod there is no change in the service,

And are you trying to access the cluster externally like this https://www.rook.io/docs/rook/v1.9/Storage-Configuration/Monitoring/ceph-dashboard/#node-port?

Can you please share logs and examples?

[2022-07-19 13:23] arcreigh commented on #10612
I'll be happy to but do bear with me this week I am getting married. I am actually using an nginx ingress to access the dashboard. That is tied to the service and points to port 8443.

[2022-07-19 13:50] Rajpratik71 opened #10615 "csi-rbdplugin pods remains in "CrashLoopBackOff" due to old version of modprobe"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

csi-rbdplugin pods should not remains in "CrashLoopBackOff" after the installation of rook-ceph

**Expected behavior:**

csi-rbdplugin pods should come up fine after the installation of rook-ceph

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), t

[2022-07-19 13:57] Rajpratik71 commented on #10615
This is happening becuase in newer kernel , module are coming with ".zst" compression

![image](https://user-images.githubusercontent.com/12658912/179767839-9f2cd4c0-7288-4ae2-a40b-26905a061682.png)

which older version of "modprobe" can't handle

as it is only supported by recent versions of "kmod/modprobe" package

![image](https://user-images.githubusercontent.com/12658912/179768481-6e6c170f-48

[2022-07-19 15:00] parth-gr commented on #10535
@willzhang  Are you working on it?

[2022-07-19 17:09] travisn commented on #10573
Yes you need a fresh disk. The same disk cannot be used between different clusters.

[2022-07-19 21:19] vyom-soft commented on #4410
I see the following
* metadata.finalizers: Invalid value: "": name part must be non-empty
* metadata.finalizers: Invalid value: "": name part must consist of alphanumeric characters, '-', '_' or '.', and must start and end with an alphanumeric character (e.g. 'MyName',  or 'my.name',  or '123-abc', regex used for validation is '([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]')
* metadata.finalizers: Forb

[2022-07-20 02:37] zhucan commented on #10573
@leiw324 Rebuild the ceph cluster again and use the same disk?

[2022-07-20 02:39] zhucan commented on #10573
https://github.com/rook/rook/blob/master/Documentation/Storage-Configuration/ceph-teardown.md#zapping-devices Take a look

[2022-07-20 09:49] vyom-soft commented on #2668
Still I cannot delete those. It just hangs.

[2022-07-20 11:02] vyom-soft commented on #10474
I was also in same situation. It helped me.  Thank you.

[2022-07-20 17:40] leiw324 commented on #10573
Hello,

Three workers added new disk kin KVM, after around 15mins installation, the ODS appeared, but one rook-ceph-mgr-a-675fcf84d9-xg5np CrashLoopBackOff

[root@k8s01 examples]# kubectl get pod -n rook-ceph
NAME                                              READY   STATUS             RESTARTS        AGE
csi-cephfsplugin-h95n5                            3/3     Running            0               3

[2022-07-20 20:02] #9852 closed

[2022-07-21 16:19] BlaineEXE commented on #6374
I think using the vault agent injector would be one of the simplest ways for us to implement this feature. https://www.vaultproject.io/docs/platform/k8s/injector

From the Rook operator side, when we create/update a Secret, instead of creating/updating the secret, we would instead create/update the key in Vault (via Go API) from the operator, and then we would add labels onto the pod such that the

[2022-07-21 23:19] vumrao opened #10619 "In Ceph - the upgrade should set noout, nodeep-scrub and noscrub and unset when upgrade will complete"
Ceph upgrade should set noout, nodeep-scrub, and noscrub and unset when the upgrade will complete

- This was the case when we used to use ceph-ansible
- This is a kind of feature parity b/w ceph-ansible and cephadm

- This feature can be designed as optional with default as True so if some users/admins do not want then can set it to false.

Benefits:

1. Less load from scrubbing during the upgrad

[2022-07-22 00:17] oliverkane commented on #10276
Is there an intended way to allow a User to access multiple buckets?  If not, is the intended design to use one set of credentials per bucket?

[2022-07-22 05:10] thotz commented on #10276
The OBC(or the future COSI) design is to provide access for the bucket upon request(multiple can access can be provided, so one set of credentials per bucket may not be the case). As of now, this access cannot be reused for multiple buckets

[2022-07-22 05:30] nasirudheen commented on #6374
@BlaineEXE
+1
Running `init container` would be the easiest. And most of the solutions available for Vault integration already make use of init container/side car + labels/annotations.

[2022-07-22 14:19] oliverkane commented on #10276
Cool.  I'll make our app handle the different credentials for each bucket. That's easy enough and I'll stop hitting my head on the wall of something that's not the intended design.

Thanks for telling me about COSI.  That's a real interesting development. I've long wanted a native Object Storage mechanism for K8s.  It's just so much easier than traditional disk for so many things.

[2022-07-22 20:02] #9705 closed

[2022-07-23 03:23] vicnoah opened #10621 "mon liveness probe execution error"
Manually executing the command in pod returns this error, which causes the cluster storage to drop out frequently
[code]

[2022-07-23 04:04] rajeshkodali-sf opened #10622 "rbdplugin Daemonset pods doesn't update image when helm is updated"
What ensures csi-rbdplugin image updates when helm chart values are updated?

I have been updating the helm chart values and update the chart but I don't see them updated. How to force updates or component is responsible for that?

[2022-07-24 02:34] glyslxq opened #10623 "Multiple Filesystems: When creating second filesystem need actively restart csi-cephfsplugin-provisioner"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

csi-cephfsplugin-provisioner logs
[code]

After actively r

[2022-07-24 14:48] leiw324 commented on #10573
Hello,

**I just startup 6 nodes in KVM for checking, now the status is below:**

NAME                                              READY   STATUS             RESTARTS      AGE
csi-cephfsplugin-h95n5                            3/3     Running            3             3d21h
csi-cephfsplugin-provisioner-7b867fbd5f-dsq6g     6/6     Running            6             3d21h
csi-cephfsplugin-provisioner-

[2022-07-24 16:08] stefanfritsch opened #10624 "skipUpgradeChecks and continueUpgradeAfterChecksEvenIfNotHealthy don"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`

[2022-07-24 16:24] stefanfritsch opened #10625 "skipUpgradeChecks and continueUpgradeAfterChecksEvenIfNotHealthy don't work"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

According to the docs the options `skipUpgradeChecks` and `continueUpgradeAfterChecksEvenIfNotHealthy` should let an upgrade proceed even if the cluster is in `HEALTH_ERR` state, but it doesn't.

**Expected behavior:**

The upgrade proceeds

**How to reproduce it (minimal and precise):**

The cluster

[2022-07-24 16:24] stefanfritsch commented on #10624
I have no idea how I accidentally posted this :)

[2022-07-24 16:24] #10624 closed

[2022-07-25 03:41] zhucan commented on #10573
@leiw324 Please check the status of your cluster? It seems like the apiserver is unreachable.

[2022-07-25 05:12] Madhu-1 commented on #10623
@glyslxq have you deleted and recreated the filesystem with the same name? If yes this is expected if no please please let me know below is the case to hit this one

* Create a filesystem with the name `myfs-a` (example)
* Create Storageclass and PVC from filesystem `myfs-a`
* Create filesystem with name `myfs-b` (example)
* Create StorageClass and PVC from `myfs-b` -> the PVC creation is failing

[2022-07-25 05:15] Madhu-1 commented on #10622
@rajeshkodali-sf what is the value of `.Values.csi.rbdPluginUpdateStrategy` is it OnDelete on RollingUpdate? please provide rbdplugin pod template (`kubectl get po/name -oyaml` output) and rbdplugin daemonset template (`kubectl get ds/name -oyaml` output)

[2022-07-25 05:55] thotz commented on #10322
The idea was to find out gaps in the external rgw server configured with multisite settings for Rook. In recent testing, it was working fine with Rook

[2022-07-25 05:55] #10322 closed

[2022-07-25 08:36] subhamkrai opened #10627 "mgr pod is crashing on Ceph v17.2.2"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
mgr pod in CLBO in master version, also CI  runners are failing. No error in the rook operator log(in debug mode too)
log from mgr
[code]

pod list

[code]

**Expected behavior:**
mgr pod should be running

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom res

[2022-07-25 08:37] subhamkrai commented on #10627
@jmolmo any idea?

[2022-07-25 08:42] subhamkrai commented on #10597
@anthonyeleven 1 .10 will somewhere around 2nd half of next month @travisn can answer better.
But I think you can run toolbox yaml from the master which will give you the option to change ceph version. See https://github.com/rook/rook/blob/master/deploy/examples/toolbox.yaml

[2022-07-25 14:23] anthonyeleven commented on #10597
Thanks!  In our case we'll wait for 1.10, this will be a good test case for upgrading Rook before we get to real production.

[2022-07-25 14:31] travisn commented on #10627
This is likely related to 17.2.2 that just came out Thursday. The timeline looks the same for when the CI started failing since it uses the `v17` tag to always pick up the latest.

[2022-07-25 14:40] parth-gr commented on #10627
Yes even it was failing locally with the rook deployment,
@Rakshith-R informed me.

[2022-07-25 14:49] Rakshith-R commented on #10627
Yup,
https://github.com/ceph/ceph/compare/v17.2.1...v17.2.2
I see these were the commits added between version

@kotreshhr  can you please take a look?
Thanks

[2022-07-25 15:09] nixpanic commented on #10627
Here is a full [mgr.log](https://github.com/rook/rook/files/9182363/mgr.log) from a segfaulting mgr instance. It seems to be related to the `devicehealth` module.

[2022-07-25 16:06] piersharding commented on #9782
seeing what appears to be the same error:
[code]

[2022-07-25 16:54] vumrao commented on #10627
Ceph tracker - https://tracker.ceph.com/issues/56700

[2022-07-25 17:50] travisn opened #10631 "Object store is failing to reconcile in CI against Ceph main images"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The `smoke-suite-ceph-master` tests of the [daily rook CI](https://github.com/rook/rook/actions/workflows/daily-nightly-jobs.yml) suite is failing to reconcile the object store against the Ceph main image. Setting the application on the `.rgw.root` pool is failing.
[code]

**Expected behavior:**
Daily

[2022-07-25 18:56] travisn commented on #10625
These messages about skipping reconcile only apply to the filesystem and block controllers, so the main cluster (mon/mgr/osd) should still reconcile and be updated even if there is a health error.
[code]

Did you paste the full operator log? The cluster controller isn't even showing that it is reconciling. There are no messages about mons or osds, so something else isn't right.
- Does `ceph status

[2022-07-25 18:58] travisn commented on #10621
As a test workaround, does the mon stay healthy if the [liveness probe is disabled](https://rook.io/docs/rook/latest/CRDs/Cluster/ceph-cluster-crd/#health-settings)? You could also try adjusting the timeouts or other parameters on the liveness probe.

[2022-07-25 19:38] rajeshkodali-sf commented on #10622
BTW, I figured out the issue. I had to delete the config map rook-ceph-operator-config and then delete daemonset, crd and upgrade the helm chart to fix it. Here is the values.yaml file. Ignore the images, these are my internal images.
[code]

[2022-07-25 19:42] travisn commented on #10619
Setting `noout` and related flags has been discussed in the past around several scenarios such as during upgrades, or during node upgrades.

 The PDB management does currently set `noout` when a node is draining as mentioned in the [design doc](https://github.com/rook/rook/blob/master/design/ceph/ceph-managed-disruptionbudgets.md):
"When an node is drained, we will also delay it's DOWN/OUT process

[2022-07-25 21:57] travisn commented on #10627
Ceph v17.2.2 is not recommended for Rook users as the mgr consistently crashes. We will look forward to v17.2.3 with the fix.

The details:
- The fix is in Ceph main, and being backported Quincy (see ceph tracker mentioned previously)
- Rook daily CI shows that tests against Ceph main builds are passing with that fix
- Rook daily CI shows that tests against Ceph quincy-devel builds are failing wit

[2022-07-25 23:33] jinwonkim93 commented on #9782
i also encounter permission denied so i did this

umount -lf /var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-1739b858-93b0-4ac4-b59e-773a84d3ea83/globalmount

so the permission does not show but i cant read the file.

![image](https://user-images.githubusercontent.com/26476095/180891902-fa1ed1e4-2ba7-483c-be9c-392f13362c9d.png)

[2022-07-26 01:22] vicnoah commented on #10621
I found that all the probes of rook-ceph are not working properly, when I turn off the probes everything is fine. But the csi plugin sometimes restarts.

[2022-07-26 04:19] ftab commented on #8023
Getting this error on a fresh test cluster

The weird thing is this is using the same version of rook (1.9.1), ceph (v17.2.0-20220420), almost the same cluster yml, and the same storageclass (deploy/examples/csi/rbd/storageclass.yml) as my production cluster which has been running for a while (but wasn't stood up directly on 1.9.1 / v17.2.0-20220420, it was upgraded to that from an older version).

[2022-07-26 18:14] eringet commented on #9584
Hi all, sorry for the confusion but did something actually get implemented for this issue?  I don't see any PRs, but it did get the Done in 1.9 status.  I don't see a PR or updates where we could add a volume with certs(s) to trust.

Thank you,
Eringet

[2022-07-26 18:18] travisn commented on #9584
@eringet No implementation, the stale bot closed the issue since there was no reply. Would you mind reviewing @BlaineEXE 's comments above?

[2022-07-27 03:39] glyslxq commented on #10623
@Madhu-1 yes,I deleted the file system with the same name and recreated it.

[2022-07-27 04:47] Madhu-1 commented on #10623
Yes, if you delete and recreate the filesystem with the same name it's expected. You need to restart the csi-provisioner pods.

[2022-07-27 06:31] thotz opened #10640 "CephObjectStoreZone pool spec cannot be updated"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The zones creation by ceph-object-zone-controller only creates pools if the zone doesn't already exist. If a user updates the pool spec after zone creation, the pools won't be updated, but the reconcile will still succeed, suggesting that the pools have the latest config when they do not in reality.

*

[2022-07-27 15:08] voarsh2 commented on #966
Well, that's a shame...... how would one go about migration a cluster to a freshly installed one with host networking? That sounds like a huge pain, let alone expensive for large ceph clusters, extra hardware........... why can't it be in in-place?

[2022-07-27 16:08] travisn commented on #10631
Oh I should have remembered that the issue is that Rook still can't detect the difference for Reef builds due to https://github.com/ceph/ceph/pull/45817. We need that to merge to get this fixed, so you can close #10635 as not necessary, thanks.

[2022-07-27 17:38] BlaineEXE commented on #10640
RGW may create pools if Rook doesn't, so in this case RGW may create pools automatically. However, the pool properties may not be set as specified by the user, which is an issue.

[2022-07-27 18:52] travisn commented on #966
The main complication is the [mon identity is tied to its IP address](https://rook.io/docs/rook/latest/Storage-Configuration/Advanced/ceph-mon-health/#monitor-identity).

It may be possible to convert the cluster from non-host networking to host networking by updating the host networking setting, then triggering [mon failover](https://rook.io/docs/rook/latest/Storage-Configuration/Advanced/ceph-mo

[2022-07-28 07:12] Madhu-1 commented on #8783
@travisn @BlaineEXE sorry missed replying here, this is not useful as it's not configured for the liveness probe or if someone's not consuming GRPC metrics for debugging. we should disable it by default as it avoids opening 2 node ports(one for cephfsplugin and one for rbdplugin) on all the nodes.

[2022-07-28 14:40] leiw324 commented on #10573
Hello,

I just startup VMs, all pods find, I don't know why no error there, but only one rook-ceph-osd....

Below is logs:

[root@k8s01 ~]# kubectl get pod -n rook-ceph
NAME                                              READY   STATUS      RESTARTS         AGE
csi-cephfsplugin-h95n5                            3/3     Running     6                7d21h
csi-cephfsplugin-provisioner-7b867fbd5f-dsq6g

[2022-07-28 14:49] hohoqq opened #10648 "OSD is not created. Objectstore pods not starting"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
`ceph status`
[code]

`kubectl describe pod rook-ceph-rgw-ceph-objectstore-a-6bb94dd6c-8bfcv -n rook-ceph`
[code]

**Expected behavior:**
rook-ceph-rgw-ceph-objectstore pods starting and healthy.
Cluster health is healthy

**How to reproduce it (minimal and precise):**
Install [Rook Ceph Operator](http

[2022-07-28 14:53] eringet commented on #9584
hi @travisn and @BlaineEXE , thank you for following up.  I am not sure now, if we did try setting rgw_verify_ssl in the rook_config_override or not, as it has been a while.  We are going to setup a test, but it won't be until early next week.  If that does allow the replication over ssl, then that solves my use case, I do not have a hard requirement for the certs to be verified.  I will comment b

[2022-07-28 15:21] hohoqq commented on #10648
[code]

[2022-07-28 20:53] nihr43 commented on #9432
works for me too with rook 1.9 microk8s 1.24.  [here is a more stable link](https://github.com/rook/rook/blob/release-1.9/deploy/examples/operator.yaml#L117) to the parameter in 1.9.  I ended up deleting and recreating my operator which seems to be fine.

[code]

[2022-07-28 23:38] satoru-takeuchi commented on #10648
I guess there is a problem in CephCluster CR. Could you show me your `cluster.yaml` and the result of `lsblk` in a node on which you want to create OSDs. If you use PVCs to create OSDs, please show me the manifests of these OSDs.

[2022-07-28 23:44] arcreigh commented on #10612
Was there anything else you needed from me?

[2022-07-29 02:13] zhucan commented on #10573
Only /dev/vdb can be used, rook will skip the devices of  "nbd*" and system device(/dev/vda)

[2022-07-29 05:36] hohoqq commented on #10648
@satoru-takeuchi Here are cluster.yaml (added .txt because Github don't accept .yaml):

- [cluster.yaml.txt](https://github.com/rook/rook/files/9216451/cluster.yaml.txt)
- [rook-ceph-operator-689b4ffd6c-9rjj5.log](https://github.com/rook/rook/files/9216450/rook-ceph-operator-689b4ffd6c-9rjj5.log)

[code]

sdc-sdf are for OSD.

[2022-07-29 06:03] leiw324 commented on #10573
@zhucan

Three worker nodes have /dev/vdb already, but still cannot create OSDs....

[2022-07-29 07:39] hohoqq commented on #10648
When installing via helm charts, do I need to add something to make the OSD pods appear? Now we have `rook-ceph-rgw-ceph-objectstore-a` pod restarting, 0 OSD in ceph status

[2022-07-29 08:08] zhucan commented on #10573
The pods of the osd is created?

[2022-07-29 08:22] zhucan commented on #10573
![image](https://user-images.githubusercontent.com/13997135/181716853-1bda8d2b-2af0-448b-bd6a-01fba63d3942.png)

[2022-07-29 08:28] jansmets commented on #4297
Can we please add the option to the helm chart to run the toolbox as privileged?

[2022-07-29 08:41] zhucan commented on #10648
@hohoqq Could you show the full logs of the operator? there is no any logs for creating osd.

[2022-07-29 08:58] hohoqq commented on #10648
@zhucan Sorry. Didn't pay attention.
[rook-ceph-operator.log](https://github.com/rook/rook/files/9218371/rook-ceph-operator.log)

[2022-07-29 10:10] zhucan commented on #10648
![image](https://user-images.githubusercontent.com/13997135/181737056-e5dc14a2-cf0d-4016-bfa9-ad520fd6d997.png)
@hohoqq Take look at the cluster.yaml, the rbac  is missing.

[2022-07-29 10:32] hohoqq commented on #10648
Shouldn't Helm create this resource?
Please suggest what needs to be changed to fix this?

[2022-07-29 11:05] leiw324 commented on #10573
Hello,

I just startup VMs, all pods find, I don't know why no error there, but only one rook-ceph-osd....

Below is logs:

[root@k8s01 ~]# kubectl get pod -n rook-ceph
NAME READY STATUS RESTARTS AGE
csi-cephfsplugin-h95n5 3/3 Running 6 7d21h
csi-cephfsplugin-provisioner-7b867fbd5f-dsq6g 6/6 Running 12 7d21h
csi-cephfsplugin-provisioner-7b867fbd5f-v6ptv 6/6 Running 12 7d21h
csi-cephfsplugin-rzl82

[2022-07-29 11:13] zhucan commented on #10648
The value.yaml is? Do you enable the monitoring?

[2022-07-29 11:21] parth-gr commented on #10612
Thanks for the details I missed your message, will  look into this on Monday and try to reproduce it.

[2022-07-29 11:49] twelho commented on #7198
`subFailureDomain` for EC pools like mentioned in https://github.com/rook/rook/issues/7198#issuecomment-1047193282 is still needed. In my case I need to account for both VM and physical host failures, which requires two failure domains. Is there any technical limitation that would restrict `subFailureDomain` being a top-level, pool type independent attribute? Example for two nodes per two zones:

[2022-07-29 12:21] spacex commented on #10532
I ran into this same problem and was able to resolve it using 'http-dashboard' instead of 'https-dashboard' in the ingress spec. Port-forwarding and trying to access the https-dashboard directly (even when spec.dashboard.ssl was set to true) did not work.

[2022-07-29 14:49] hohoqq commented on #10648
Indeed, the monitoring was true. Fixed it and now osds are up and running. Thank you!

[2022-07-29 14:49] #10648 closed

[2022-07-29 20:02] #10287 closed

[2022-07-30 20:03] jansmets opened #10649 "hostNetwork not a spec.gateway setting in CephObjectStore CRD"
A recent feature introduced the ability to enable/disable hostnetworking for the rgw (perfect timing!)
However the hostNetwork setting should be under spec.gateway instead of spec in the ObjectStore CRD.

https://github.com/rook/rook/blob/release-1.9/pkg/apis/ceph.rook.io/v1/types.go#L1289-L1329

https://rook.io/docs/rook/v1.9/CRDs/Object-Storage/ceph-object-store-crd/#gateway-settings

Thanks

[2022-07-31 06:40] qinzl opened #10650 "Operator and osd can't connect mon cluster if operator restart when failoverMon start a new mon and still in waitForMonsToJoin stage"
**Is this a bug report or feature request?**

* Bug Report

**Deviation from expected behavior:**

ceph have mon-a mon-b mon-c， when mon-b's host CPU load was too high or network issues over 10 minutes,  failoverMon() will be trigger to create and new mon-d to take place the fail or disconnected mon.  when whe mon-d start, it will run waitForQuorumWithMons() to wait 30 * 5s to wait for monitors to

[2022-07-31 06:43] qinzl opened #10651 "Operator and osd can't connect mon cluster if operator restart when failoverMon start a new mon and still in waitForMonsToJoin stage"
**Is this a bug report or feature request?**

* Bug Report

**Deviation from expected behavior:**

ceph have mon-a mon-b mon-c， when mon-b's host CPU load was too high or network issues over 10 minutes,  failoverMon() will be trigger to create and new mon-d to take place the fail or disconnected mon.  when whe mon-d start, it will run waitForQuorumWithMons() to wait 30 * 5s to wait for monitors to

[2022-07-31 16:22] solacelost opened #10653 "prometheus-ceph-rules definition invalid in deploy/examples/localrules.yaml"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
PrometheusRule examples in localrules.yaml are not valid, with an incorrect indentation level starting at line 749 and continuing through 759.
https://github.com/rook/rook/blob/master/deploy/examples/monitoring/localrules.yaml#L749,L759

**Expected behavior:**
YAML files are valid and and indentation i

[2022-08-01 08:20] zhucan commented on #10573
How many k8s work node avaible? Only on pod of osd-prepare up.

[2022-08-01 08:38] leiw324 commented on #10573
@zhucan

The cluster have 3 master and 3 worker.

[2022-08-01 10:06] Rakshith-R opened #10655 "Support volumereplication operation as part of csi-addons"
This issue is to track the work required to support movement of standalone [volume replication operator](https://github.com/csi-addons/volume-replication-operator) into the kubernetes-csi-addons repo as a new controller.

TODOs:
- [ ] Add documentation for upgrade steps.
- [ ] Remove volume replication operator as a sidecar.

Refer:

* https://github.com/csi-addons/kubernetes-csi-addons/issues/116

[2022-08-01 11:01] yxiaoy6 opened #10656 "Re-added osd but did not join the cluster normally"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
![image](https://user-images.githubusercontent.com/43592152/182132898-fff5c78f-bbd6-4a29-ad40-c277ab507d4f.png)

**Expected behavior:**

**How to reproduce it (minimal and precise):**

I first removed 192.168.22.80 and osd, and then rejoined the cluster
**File(s) to submit**:

* Cluster CR (custom reso

[2022-08-01 11:13] mancubus77 commented on #4896
I had same issues as others in this thread, I'm not sure what exactly triggers it, but I was not able to deploy ACS on OpenShift.
To fix that I had to do:
- deploy rook-toolkit
- find rdb by volume-id
[code]
- delete rbd
[code]
- relaunch deployment
- create rdb manually
[code]

 Looks like a glitch of provisioner...

[2022-08-01 11:14] yleiymei commented on #4896
这是来自QQ邮箱的假期自动回复邮件。邮件已收到，我会尽快回复您!

[2022-08-01 12:30] sp98 commented on #10656
Hi @yxiaoy6  Please confirm if you followed the steps to [remove the osd](https://rook.io/docs/rook/v1.9/Storage-Configuration/Advanced/ceph-osd-mgmt/?h=osd+management#remove-an-osd) and [add the osd back.](https://rook.io/docs/rook/v1.9/Storage-Configuration/Advanced/ceph-osd-mgmt/?h=osd+management#remove-an-osd)

[2022-08-01 12:56] thotz commented on #10649
@jansmets, do you want to fix the documentation? @zhucan can PTAL ?

[2022-08-01 14:22] #10651 closed

[2022-08-01 14:32] parth-gr commented on #10650
Yaa I can understand the problem, it's a race condition which occured,

Thanks for explaining this up I will discuss with the team about this issue,

Till then you can make your cluster healthy probably by again re-starting the operator.

[2022-08-01 14:44] parth-gr commented on #10650
As an operator, it should reconcile to keep up the desired state,

So even after re-start, the operator should check for mon desired state which is `3` and should remove one mon, right?

[2022-08-01 14:45] parth-gr commented on #10532
@vyom-soft can you confirm, as I see one more similar issue here too https://github.com/rook/rook/issues/10612

That normal `http` work fine?

[2022-08-01 14:51] jansmets commented on #10649
I'd think it's the other way around. It"s a gateway setting, so i'd be tempted to say the crd would need adjusting.

[2022-08-01 14:55] parth-gr commented on #10612
Which pod `pod gets recreated` are you talking about,

Can you do me a favour of reapplying the settings in cluster.yaml to `ssl:true`  and removing the already existing service that is being created,

Or re-starting the mgr pod,

And see if the bug re-produce

[2022-08-01 14:56] parth-gr commented on #10532
@spacex but in the mgr dashboard service mentioned above I can see the port is `8443`

[2022-08-01 15:14] rdziwinski opened #10658 "Can't connect after ceph cluster upgrade to 17.2.2"
* Bug Report

**Deviation from expected behavior:**
After upgrade external Ceph cluster to 17.2.2 I can't connect to cluster from Kubernetes.

**Expected behavior:**

**How to reproduce it (minimal and precise):**
Upgrade working cluster from 16.2.9 to 17.2.2 and upgrade rook to newest version.

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
c

[2022-08-01 15:40] vbnrh opened #10660 "Create cluster-peer-token secret for external mode clusters"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
For external mode clusters, create a secret with the FSID of the cluster.

**What is use case behind this feature:**
For Disaster Recovery, we require to have the FSID of the cluster to correctly sync data with backup clusters. This is already being done by Rook for converged mode and is used by MCO ope

[2022-08-01 16:08] rdziwinski commented on #10658
I notice that i have to add --set image.tag=v1.9.0.466.g2b3adbeaf to helm install command. This image version use 17.2.1 ceph.
Additionally i added

[code]
to section to ceph.conf manually in container.

Unfortunately i ran kubectl delete -f external-cluster.yaml and deleted finalizer. It's save to continue deleting connection to external cluster via rook and create crd cephcluster again without l

[2022-08-01 17:44] travisn commented on #8783
Sounds good to disable it by default, can we get this soon? Removed the keepalive label so the bot will remind us again if it's not done...

[2022-08-01 17:47] travisn commented on #10627
v17.2.3 is released now with the fix. v17.2.2 should not be used with Rook.

[2022-08-01 17:47] #10627 closed

[2022-08-01 17:52] travisn commented on #10658
For the client ceph.conf overrides see [this topic](https://rook.io/docs/rook/latest/Storage-Configuration/Advanced/ceph-configuration/#custom-csi-cephconf-settings).

You shouldn't need to specify the ceph image in the cluster CR when connecting to an external cluster since the ceph daemons are not being installed locally.

Also note that v17.2.2 is not recommended with rook due to a crashing mgr

[2022-08-01 18:54] travisn commented on #4297
@jansmets Please open a new issue that describes the need for a privileged toolbox. In the meantime, you might use the [direct-tools.yaml example](https://rook.io/docs/rook/latest/Troubleshooting/direct-tools/).

[2022-08-01 18:55] Madhu-1 commented on #8783
@travisn https://github.com/rook/rook/pull/10647 is the fix for it

[2022-08-01 18:58] #8783 closed

[2022-08-01 20:03] #9614 closed

[2022-08-01 20:10] travisn commented on #9419
This is resolved already by #10383

[2022-08-01 20:10] #9419 closed

[2022-08-01 20:48] travisn commented on #10653
@solacelost Would you mind sharing the error message you're getting?

[2022-08-01 23:12] travisn commented on #10649
Agreed, let's move the setting under the gateway type. It's a new enough feature that the change is worth it. @zhucan Sound ok?

[2022-08-01 23:30] solacelost commented on #10653
As I mentioned in the PR, I'm deploying in kind of a weird way. I'm pointing the `kubernetes.core.k8s` Ansible module at the release branch manifests in apply mode, so the YAML is being parsed down to a Python object by `pyyaml` before being sent to the API server. Here's the code snippet where I'm applying, with a slight tweak, and the output of this task:

[code]

[code]

Yes, I know I'm probabl

[2022-08-02 01:29] qinzl commented on #10650
@parth-gr , Yes, the mons cluster still working, just /var/lib/rook/rook-ceph/rook-ceph.config file invalid make the operator and osd can't establish with mons, If is possible to ignore the duplicate mon IP:PORT in rook-ceph.config, the operator will success  reconcile the cluster. At lease cluster still keep working even after osd restart.

[2022-08-02 02:19] zhucan commented on #10649
good suggesstion, do you want to fix it? @jansmets

[2022-08-02 02:20] zhucan commented on #10649
@travisn  sound ok for me.

[2022-08-02 06:24] vbnrh commented on #10660
@travisn Please take a look

[2022-08-02 09:28] zhucan commented on #10573
@leiw324 Only one pod of osd-prepare up. The cluster.yaml is?

[2022-08-02 10:06] rdziwinski commented on #10658
Thank's for your replied.
This resolve my problem! I made csi-ceph-conf-override and rook-config-override.

I think specified image is required because if a don't do it i have below error:

`failed to detect and validate ceph version: failed to validate ceph version between external and local: failed to get ceph mon version: failed to run 'ceph version': exit status 1` because ceph operator use v1

[2022-08-02 10:48] leiw324 commented on #10573
@zhucan

Default cluster.yaml

[2022-08-02 11:34] cite opened #10665 "Trying to create more OSDs than asked for"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

In a host based cluster with OSDs located on LVMs, after the cluster was successfully built, a reconciliation run is trying to add even more OSDs, and failing:

[code]

However, there are already 5 valid OSDs:

[code]

And we also didn't ask for more than 5 OSDs:

[code]
(note: the helm chart's values

[2022-08-02 11:37] cite commented on #10665
Here are the logs for the second cluster.
[operator-chi1pro.log](https://github.com/rook/rook/files/9241800/operator-chi1pro.log)
[cluster-chi1pro-crd-yaml.txt](https://github.com/rook/rook/files/9241802/cluster-chi1pro-crd-yaml.txt)
[ceph-cluster-values-chi1pro-helm.txt](https://github.com/rook/rook/files/9241803/ceph-cluster-values-chi1pro-helm.txt)

[2022-08-02 11:52] cite commented on #10665
[code]

[2022-08-02 12:10] cite commented on #10665
Logs from OSD prepare pod.
[rook-ceph-osd-prepare-94a5152b5c9ac0dfac79dc125ca0f3e4-x62n4.log](https://github.com/rook/rook/files/9242044/rook-ceph-osd-prepare-94a5152b5c9ac0dfac79dc125ca0f3e4-x62n4.log)

[2022-08-02 13:13] cite commented on #10665
Interestingly, the volumes are found from within an OSD:

[code]

[2022-08-02 13:32] LittleFox94 commented on #10276
So the use case of having a single object store user that has a defined set of object store buckets (instead of creating the buckets itself, making an intransparent mess) is not planned? This is what Gitlab currently requires - single set of credentials but multiple buckets

[2022-08-02 13:40] rdziwinski commented on #10658
I'm trying to deploy new pvc and get `0/8 nodes are available: 8 pod has unbound immediate PersistentVolumeClaims.` .

[code]

Events from pvc:
[code]

waiting for a volume to be created, either by external provisioner "rook-ceph.cephfs.csi.ceph.com" or manually created by system administrator

I'm not sure if override csi ceph.conf setting working well.
[code]

[code]

Schould I connect from this

[2022-08-02 14:11] travisn commented on #7198
Reopening for discussion on subFailureDomain applying also to the EC pools.

Since the property already under the `replicated`, it seems best if we also add it under `erasureCoded` so we won't have any backward compatibility issues. Though I'm not sure the subFailureDomain property has been tested outside stretch cluster scenarios even for replicated pools. So this will need some investigation.

[2022-08-02 15:23] travisn commented on #10653
Thanks for the context on the tools you're using, I was really curious why we hadn't seen the errors before with our testing.

[2022-08-02 15:24] #10653 closed

[2022-08-02 19:20] rajha-korithrien commented on #10576
I have not reached out the Ceph project yet.
Given that I have found a workaround and this seems to be a Ceph issue, I will close this ticket and reach out to the Ceph project.

Thanks for your help!

[2022-08-02 19:20] #10576 closed

[2022-08-02 20:02] travisn commented on #10660
Are the following valid assumptions about the FSID for the external cluster scenario?
- The FSID is uniquely generated for the local Rook cluster that is configured to connect to an external Ceph Cluster.
- The FSID is different from the Ceph FSID of the external cluster

I see the secret is generated in [GenerateBootstrapPeerSecret()](https://github.com/rook/rook/blob/de448d31f9c3fb21420b783d4a2f

[2022-08-02 20:08] travisn commented on #10658
The `already exists` error seems related, @Rakshith-R could you take a look?

[2022-08-03 03:00] vbnrh commented on #10660
@travisn From my point of understanding, the FSID generated for converged mode ( cluster-peer-token-* ) is the Ceph FSID. We use it to identify between regional (different ceph fsids to two different cephclusters)  and metro (same fsid to one external ceph cluster).

So in this case, I assume the FSID is the external CephFSID but you could correct me if i am wrong. I am not sure whether Rook clust

[2022-08-03 04:13] ningjunwei2 opened #10671 "How to recover a deleted ceph cluster"
os ubuntu 20.04. Linux rd-k8s-ceph-test-master-01 5.11.0-49-generic https://github.com/rook/rook/issues/55 SMP Wed Jan 12 17:36:34 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
kubectl ： v1.23.2
ceph:v16.2.9
rook:v1.9.5
![image](https://user-images.githubusercontent.com/88232846/182522477-5cfacca2-8186-4e2a-884f-d782afff2e6f.png)
my rook ceph cluster  is deleting， how should i restore it？

[2022-08-03 04:20] ningjunwei2 commented on #7200
@travisn
![image](https://user-images.githubusercontent.com/88232846/182523192-205cab63-ddb6-47bf-b142-93bad797ed7f.png)
my cluser have the problem ,but i don't want to delete cluster , is anyway to fix  ?

[2022-08-03 05:31] thotz commented on #10276
@LittleFox94: I see, we saw similar use case for datalake applications. If there are a lot of such use cases we can definitely bring it up in COSI community. And consider it for future versions. COSI also plans to provide IAM-style authentication with help of the k8s service account. It's not implemented yet, will that resolve your use case? I know credentials won't static for this mechanism. But

[2022-08-03 07:05] Rakshith-R commented on #10658
Yes, use mon ips to execute commands.
take a look at https://github.com/rook/rook/blob/master/Documentation/Troubleshooting/ceph-csi-common-issues.md

[2022-08-03 09:32] rdziwinski commented on #10658
Thank's!
If i run ceph -v command from csi-cephfsplugin-provisioner pod i get version of ceph at this container. I don't see any files related to my external cluster. When i add ceph.conf and client.admin.keyring files with configration of my external cluster i can connect to them.
The same situation is at csi-cephfsplugin pod.

According to ceph-csi-common-issues.md:
I can connect to the mon:
[co

[2022-08-03 09:47] Rakshith-R commented on #10658
https://github.com/rook/rook/blob/master/Documentation/CRDs/Cluster/external-cluster.md

make sure this is configured properly

If i run ceph -v command from csi-cephfsplugin-provisioner pod i get version of ceph at this container. I don't see any files related to my external cluster. When i add ceph.conf and client.admin.keyring files with configration of my external cluster i can connect to them

[2022-08-03 11:21] rdziwinski commented on #10658
I think yes. I checked adminID and adminKey for client.csi-cephfs-provisioner etc and all match.
I also check StorageClass and another secert and all seems ok;

[code]

Everything was working well since upgraded Ceph from 16.2.9 to 17.2.2. During that all Kubernetes node (it's VM with RBD disk) shut down because no client can't connect to ceph. That was problem with bad crc. When I added

[code]
t

[2022-08-03 11:24] Rakshith-R commented on #10658
Can you refer to this and try again?
 https://github.com/rook/rook/blob/master/Documentation/Storage-Configuration/Advanced/ceph-configuration.md#custom-csi-cephconf-settings

[2022-08-03 11:31] rdziwinski commented on #10658
I deleted old ConfigMap, create new as below:
[code]
and I deleted rook operator pod. Then that happened:

[code]
Now i have:

[code]

[2022-08-03 13:21] travisn commented on #7200
See #10671

[2022-08-03 14:25] parth-gr commented on #10660
@vbnrh Yes the FSID is the cephFSID,

There already a `rook-ceph-mon` secret created which contains the cephFSID so you can make use of it,

[code]

Or let me know there is a requirement to create a separate secret just for FSID.

[2022-08-03 15:09] parth-gr commented on #10612
@arcreigh can you try deleting the dashboard service and restarting the mgr pod?

[2022-08-03 15:17] arcreigh commented on #10612
Sure! Give me a few and i'll give it a shot.

[2022-08-03 15:39] parth-gr commented on #10650
@qinzl You might edit the `rook-ceph-config` config map

[2022-08-03 17:29] kuhar2007 opened #10672 "Degraded data redundancy"
Hello,
I try make fresh install rook with helm. Ceph cluster installed but I always have message in checking health:
Degraded data redundancy: 246/738 objects degraded (33.333%)
I use k8s with 3 masters and 2 workers, each worker have 2 NVMe drives one for OS and second for ceph. (3.5Tb each).
My storage config in helm (v1.9.7 rook-ceph):
[code]
Full ceph health:
[code]

[code]
Could somebody help

[2022-08-03 17:29] thotz commented on #4315
Sorry to ping you again any update??

[2022-08-03 17:30] kuhar2007 commented on #10672
I tried re-create cluster with 2 additional nvme drives, but I got same error.

[2022-08-03 18:33] eringet commented on #9584
hi all, thank you again for looking into this.  While it still might be nice to have a way to trust self signed ssl certs, setting rgw_verify_ssl in rook-config-override does work for my use case.  Thanks!!

[2022-08-03 20:19] travisn commented on #10672
If you're creating the default pools, they require OSDs across three hosts. Since you have 4 OSDs across 2 hosts, you have one of these options:
- Set `replicated.size: 2` in the pools
- Set `failureDomain: osd` in the pools and keep replica 3.

The latter option with replica 3 is generally recommended for more data safety unless you're ok with replica 2

[2022-08-03 22:35] arcreigh commented on #10612
deletion of the service recreates the service with the expected port of 8443, deleting the associated pods to the service causes the service to be rebuilt with port 7000.

[2022-08-03 22:39] arcreigh commented on #10612
Deleting the service after it was recreated w/ port 7000 creates the service w/ port 7000 over again.

[2022-08-03 22:45] arcreigh commented on #10612
in rook-common.yaml the HTTP ports are commented out as such.
[code]
these are the only places in my yaml files for rook where port 7000 is found.

Of note I do see under cluster.yaml that the dashboard port is set as 8443 however commented out as if it is a default value.

[code]
Perhaps I should remove the comment on that and see if that helps.

[2022-08-03 22:56] arcreigh commented on #10612
Re-applying w/ the above changes does not help. If the pods the mgr-dashboard service points to get recreated the service still re-creates itself with port 7000.

[2022-08-04 02:08] ningjunwei2 commented on #10671
thanks

[2022-08-04 05:11] parth-gr commented on #10650
@qinzl for editing the `rook-ceph.config` you can try editing the config map(rook-ceph-csi-config,rook-ceph-mon-endpoints) which will reflect changes there,

`Kubectl get cm -nrook-ceph`

You also need to re-start the demon after that so the changes can reflect on it.

[2022-08-04 05:11] vbnrh commented on #10660
@parth-gr thanks, i will try to make use of this secret. If it works, i'll close the issue

[2022-08-04 05:19] parth-gr commented on #10612
For me, I can't reproduce it,

I tried deleting the mgr pod but the mgr-dashboard service didn't changed,

Any specific steps so this can be reproduced?

Till then I think I need to debug in your cluster, So can provide me with the operator logs,
`kubectl logs operator-pod-name -nrook-ceph`

[2022-08-04 07:09] qinzl commented on #10650
@parth-gr Yep, I already reproduced this issues and  solved it with below solution before I reported this issues.
But it take hours to troubleshooting,  I suppose it is perfect if operator able to handle the invalid config to auto complete reconcile.

1、remove the duplicate  IP:PORT record from configMap rook-ceph-mon-endpoints

[code]

2、remove mon-d deploymnet

[code]

3、restart operator, it wil

[2022-08-04 07:18] parth-gr commented on #10650
Thanks for the update that your cluster is back healthy:),

For this race condition, the operator should also monitor the cm,  will investigate operator so it can  handle the invalid config to auto-complete reconcile
Thanks

[2022-08-04 07:18] parth-gr commented on #10650
./assign

[2022-08-04 09:53] satoru-takeuchi commented on #10665
@cite I'm trying to reproduce this problem. Please wait for a while.

[2022-08-04 11:19] rdziwinski commented on #10658
After changes describe higher i can create pvc and pv is Bound but if i try create PVC and use with pod (for example when installing some helm charts) it's imposible and i get below error:

[code]

[2022-08-04 12:06] LittleFox94 commented on #10276
@thotz for Gitlab itself it would probably work

I'm not working on Gitlab though (at this time at least), but trying to migrate my existing VM-based install over to k8s as cleanly as possible - and for that the cleanest way I can see rn (from memory when I last touched that though), is creating a single user, a bunch of buckets belonging to that user and configure the credentials and bucket names

[2022-08-04 14:31] arcreigh commented on #10612
See logs here. https://pastebin.com/DzperPs9

[2022-08-04 14:34] arcreigh commented on #10612
As for specific steps, you need to see which mgr pod is active by describing the mgr-dashboard service. Deleting the pods that are described by the service is what causes the issue for me.

[2022-08-04 15:10] Rakshith-R commented on #10671
Closing this issue, since the query is answered.

@ningjunwei2 feel free to open a discussion thread if you any more queries

[2022-08-04 15:10] #10671 closed

[2022-08-04 15:13] Rakshith-R commented on #10658
@rdziwinski
Can you try mounting using this guide ?
https://github.com/rook/rook/blob/master/Documentation/Troubleshooting/direct-tools.md

Have you upgraded to ceph v17.2.3 which has the fix for mgr crashloopback?

[2022-08-04 16:05] rdziwinski commented on #10658
Yes, I can mount volume by command `mount.ceph 10.8.11.1:6789:/ /mnt/cephfs/ -o name=admin,secret=1234qazwsx==`

Where are a lot's of CSI volumes (some output ommited):

[code]

I also can write some files to volumes.

Yes, I updated Ceph to v17.2.3.
Rook container is from master tag.

[2022-08-04 18:30] voarsh2 commented on #4006
I found to have this issue as well.

[2022-08-04 22:11] vumrao commented on #10619
Thank you, @travisn. The proposed approach looks good to me. When all the related tests would pass with ```skipSetOSDUpgradeFlags: true` then the default can be changed to `true`? I will open a downstream RFE bug also so we can verify it end-to-end downstream also!

[2022-08-04 22:17] vumrao commented on #10619
Downstream bug - https://bugzilla.redhat.com/show_bug.cgi?id=2115558

[2022-08-05 04:52] Rakshith-R commented on #10658
@rdziwinski

Is this problem concurring on all the nodes ?
try restarting csi-cephfs pods/ node reboot ?
Bump csi log levels to 5 https://github.com/rook/rook/blob/03a9ebdc555a2ae09551aaac895e02d9b62f06f0/deploy/examples/operator.yaml#L47 and collect logs

[2022-08-05 08:08] rdziwinski commented on #10658
Yes, on all nodes.
Yes, I restarted all nodes.

Logs after change level:

[code]

Afer change CRC settings to

[code]
and recreate Rook operator via Helm some container are running... I'm checking it.

[2022-08-05 08:39] zhucan commented on #10573
Cloud you exec "rm -r /var/lib/rook" on the nod that the mon is not running?  the mon[f] is not healthy @leiw324

[2022-08-05 12:29] parth-gr opened #10678 "Investigate If we can support --restricted flag for upgraded external cluster"
**Is this a bug report or feature request?**
* Feature Request
Investigate If we can support --restricted flag for upgraded external cluster #10678

We would be needing to update StorageClass with new secretes,

Also ODF operator need to change this

**What should the feature do:**

**What is use case behind this feature:**

**Environment**:

[2022-08-05 12:30] parth-gr commented on #10678
/assign

[2022-08-05 15:37] BlaineEXE opened #10679 "Crash in lib-bucket-provisioner when updating object bucket claims (OBCs)"
**Is this a bug report or feature request?**
* Bug Report
Track lib-bucket-provisioner bug https://github.com/kube-object-storage/lib-bucket-provisioner/issues/219

[2022-08-05 17:37] travisn commented on #10619
Reading through this again, perhaps the setting is overkill, or at least setting the default to `true` seems reasonable.

[2022-08-05 17:47] travisn commented on #10573
@leiw324 You have the default cluster.yaml with `useAllNodes: true` and `useAllDevices: true`? Then if you have three nodes, you should see three osd-prepare pods. Are any of the nodes tainted?

[2022-08-05 18:43] vumrao commented on #10619
Ahh, I did not read the option correctly now when I read it again :) I think the default `false` means that flags will be set during the upgrade. I understood the opposite sorry,  that is why I was asking the default to change to `true`. In any case in general we want these flags to be true during the upgrade but to start with we can go with default as `true` and when the tests would be fine and m

[2022-08-06 00:57] #10394 closed

[2022-08-08 03:33] clcc2019 commented on #10603
This is not a duplicate mount issue, we store a lot of metadata in minio which makes the pod mount volume timeout

[2022-08-08 03:35] clcc2019 commented on #10603
The ceph rbd is correctly mounted to the node and can access the file, but the pod shows that the mount has timed out. After about 12 hours, the pod is running.

[2022-08-08 07:28] hansbogert commented on #10390
Never saw your questions until now, but **yes**, that step idd.

I think the problem was that I never realized that I am using the admission controller. In my perception I only ever used the bare minimum deploy, so when the documentation referred to a **optional** admissions controller, I quickly skipped it.

Perhaps for the future the documentation should give a command that the user can run to c

[2022-08-08 08:43] kuhar2007 commented on #10672
Thanks. It's really helped me. I close issue.

[2022-08-08 08:43] #10672 closed

[2022-08-08 20:02] #10355 closed

[2022-08-08 20:24] travisn commented on #10428
Fixed with #10664

[2022-08-08 20:24] #10428 closed

[2022-08-09 05:47] sp98 commented on #10656
@yxiaoy6 any update on this?

[2022-08-09 05:49] yxiaoy6 commented on #10656
Thanks, it's working fine now

[2022-08-09 05:49] satoru-takeuchi commented on #10665
I tried to create an OSD on LVM in a host-based cluster and restart oeprators (and prepare pods) several times but it worked fine. Hmm...

I'll try to again with the environment as same as yours.

OSD on LVM is so-called "raw mode" OSD. So it is listed in `ceph-volume raw list` which is for raw mode osds. However, it's not listed in `ceph-volume lvm list` which is for lvm mode OSDs.

[2022-08-09 07:20] avanthakkar opened #10687 "introduce ceph-exporter container"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Introduce container for `ceph-exporter` ceph daemon which is responsible for collecting perf counters of daemons from their socket files and exposing it to a http server for prometheus to scrape.

**What is use case behind this feature:**
To replace perf counters call from prometheus module as it has pe

[2022-08-09 07:21] jclab-joseph opened #10688 "external cluster - waiting for ceph monitors upgrade to finish. (Compare CommitID)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Ceph-object-controller is not able to create ObjectStore. Instead it is stuck with the follwing error message:
[code]

Maybe same issue #9544

**Expected behavior:**
Ceph-object-controller should successfully create ObjectStore.

**How to reproduce it (minimal and precise):**

Same #9544

**Environmen

[2022-08-09 10:23] t3hmrman opened #10689 "Support for Ceph SQLite VFS"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add support for [Ceph SQLite VFS on RADOS](https://docs.ceph.com/en/latest/rados/api/libcephsqlite/).

It seems like a new CRD (`SQLiteVFS`?) would be the way to do this in fitting with the rest of Rook's API.

It's not immediately clear how to use a `CephClient` to surface the relevant credentials to b

[2022-08-09 12:29] cite commented on #10665
I believe the problem might be that the OSD prepare job is only looking for Ceph OSDs in the output of `ceph-volume lvm list`, where the created volumes are not listed. It then seems to proceed directly to trying to create a new OSD, which, of course, fails. At least that's my reading from the OSD prepare job's output.

[2022-08-09 13:54] travisn commented on #10689
I believe all the needed API is already there to support VFS in Rook, most of the configuration will be in the application pod instead of in Rook or the CSI driver. Try this:
- Create the CephClient CR with the needed privileges. The cephx key will be added to a secret (see the `status` of the CR for the secret name)
- Define your client pod spec with:
   - Mount the secret (from step 1) as a volu

[2022-08-09 14:02] t3hmrman commented on #10689
Hey @travisn thank you, that's exactly what I needed to make it a bit clearer *how* to use the `CephClient`, I'll find some time to give this a try.

Maybe it's more a documentation change than anything!

[2022-08-09 14:05] travisn commented on #10689
Yes, it would be great to document these steps after you confirm it's working.

[2022-08-09 14:29] jclab-joseph commented on #10688
@travisn
I don't know what object-external.yaml means.

What I've checked is this:
- Check the version with ceph --version in proxmox. (The same is shown in CephCluster's status.)
- Check the version with ceph --version in the ceph docker image.
- Both versions are the same, only the commit id is different.
- Install canonical ceph on proxmox. rook-ceph-operator no longer throws an error.

It seem

[2022-08-09 14:35] parth-gr commented on #10688
What commit-id is difference?

Does this solves your problem?

[2022-08-09 14:36] travisn commented on #10688
@jclab-joseph I was referring to [this example external object manifest](https://github.com/rook/rook/blob/master/deploy/examples/object-external.yaml).

[2022-08-09 14:41] jclab-joseph commented on #10688
In proxmox : ` ceph version 16.2.9 (a569859f5e07da0c4c39da81d5fb5675cd95da49) pacific (stable)`
In docker : `ceph version 16.2.9 (4c3647a322c0ff5a1dd2344e039859dcbd28c830) pacific (stable)`

Canonical ceph means that installed it with cephadm.
This solved the problem.

[2022-08-09 14:46] parth-gr commented on #10688
Yaa so the problem is with `DeepEqual` ,

So what do you want us to fix, I see in the latest ceph versions we install ceph using `cephadm` only

[2022-08-09 14:50] jclab-joseph commented on #10688
I'd like to suggest comparing the version parts (major, minor,...) instead of DeepEqual.

Installing with cephadm from Proxmox is not a normal way. I have a dependency problem.

[2022-08-09 14:56] parth-gr commented on #10688
Installing with cephadm from Proxmox is not a normal way. I have a dependency problem.

Okay, thanks for the information.

We are into more investigation of `cluster-external-management.yaml` currently need to check from you,
That the [cluster-external.yaml](https://github.com/rook/rook/blob/master/deploy/examples/cluster-external.yaml) already makes the cephcluster spec to external, so there is a

[2022-08-09 15:03] jclab-joseph commented on #10688
I referenced this link: https://documentation.suse.com/ses/7.1/html/ses-all/admin-caasp-crd.html

And I see below

So, Instead of using create-external-cluster-resources.py , I imported the cluster information using ROOK_EXTERNAL_ADMIN_SECRET .

[2022-08-09 20:02] #10364 closed

[2022-08-09 20:34] travisn commented on #10317
Implemented by #10204.

[2022-08-09 20:34] #10317 closed

[2022-08-09 20:36] travisn commented on #10291
For now the plan is to just go with the manual enabling in the [quickstart guide](https://rook.io/docs/rook/latest/Getting-Started/quickstart/#monitoring) and no need for cluster CR updates.

[2022-08-09 20:36] #10291 closed

[2022-08-09 20:38] travisn commented on #10370
Will be resolved by #10381

[2022-08-09 23:48] jdloft opened #10691 "CephPoolGrowthWarning grouping"
**Is this a bug report or feature request?**

* Bug Report

**Bug Report**

**Deviation from expected behavior:**

CephPoolGrowthWarning doesn't exclude instance and pod from grouping.

[code]

**How to reproduce it (minimal and precise):**
Restart any mgr pod.

#10070 reported that the `CephPoolGrowthWarning` rule was failing and it was removed with e45781d0d3a5adece2dcfb40a7e04bdf99a5c77a but wa

[2022-08-10 00:08] jdloft commented on #10691
Something like taking the max value would probably work since we don't expect the same mgr to be reporting metrics at the same time.
[code]

[2022-08-10 05:15] Madhu-1 opened #10692 "CephFS RWO PVC is getting attached to different pods on different nodes"
**Is this a bug report or feature request?**
* Bug Report

RWO is meant to be used only on multiple pods on a single node, but I can start multiple pods in different nodes which use the RWO PVC. This is happening with Rook master and cephcsi canary.

[code]

this might be due to https://github.com/rook/rook/issues/10428.

[2022-08-10 05:15] Madhu-1 opened #10693 "CephFS RWO PVC is getting attached to different pods on different nodes"
Is this a bug report or feature request?

Bug Report
RWO is meant to be used only on multiple pods on a single node, but I can start multiple pods in different nodes which use the RWO PVC. This is happening with Rook master and cephcsi canary.

[code]

[2022-08-10 07:02] #10693 closed

[2022-08-10 07:32] satoru-takeuchi commented on #10665
I see. `ceph volume raw list` is not called in the log of your osd prepare pod. In my environment, this command is called in od prepare pod as expected.

[code]

[2022-08-10 08:29] cite commented on #10665
It might already be too late at that point, since it previously is declared available already:

[code]

[2022-08-10 08:50] satoru-takeuchi commented on #10665
Probably I found the root cause.

The output of `lsblk` doesn't show the expected FSTYPE "ceph_bluestore" for "/dev/dm-5", on which OSD exist,

[code]

In my environment (the device name is "/dev/dm-0" here):
[code]

I guess that it's because your "/dev/dm-5" is recognized as an ATARI partition (see "ID_PART_TABLE_TYPE=atari" in the following command output).

[code]

I'll try to bypass this probl

[2022-08-10 10:07] cite commented on #10665
Ah, interesting find. According to `blkid -k`, the `ceph_bluestore` type is not supported. OEL 8.6 ships with `blkid from util-linux 2.32.1  (libblkid 2.32.1, 16-Jul-2018)`.

[2022-08-10 10:15] rdziwinski commented on #10658
I notice that after creating csi-ceph-conf-override ConfigMap and deleted operator pod this settings are not put to CSI containers.
To fix it I have to edit some ENV at rook-ceph-operator-config and then all works fine.

However main problem was bad CRC setting.

[2022-08-10 10:17] bruse-peng opened #10697 "only few pod when i apply cluster.yaml the cluster installed by kind"
when i kubectl apply -f cluster.yaml why only has a few pods not like the document list below:
kind v0.14.0 go1.18.2 linux/amd64
![image](https://user-images.githubusercontent.com/47881861/183877074-9e74f257-d17b-4a30-8547-d86ac0c23a89.png)

![image](https://user-images.githubusercontent.com/47881861/183877281-56acff28-da58-473b-9bc5-1c425767841c.png)

[2022-08-10 10:20] satoru-takeuchi commented on #10665
OK, So is it possible to use the newer version of `util-linux`? Then this problem would disappear.

[2022-08-10 10:24] cite commented on #10665
I don't believe it is. The package seems to be integrated pretty deep into the distribution, and I didn't find any backports for it.

[2022-08-10 11:30] zhucan commented on #10697
Can you paste the logs of  operator? @bruse-peng

[2022-08-10 11:57] satoru-takeuchi commented on #10665
@cite Could you try this rook-operator container ("satorutakeuchi/ceph:v1.9.8-fix-10665") as a hotfix?

https://hub.docker.com/layers/269763522/satorutakeuchi/ceph/v1.9.8-fix-10665/images/sha256-2c6bf8d5aaf3a37bb8a4d213bd441f2532d22f3a45b55ba06846f9d804a78cf6?context=repo

This is rook v1.9.8 plus the following patch to add an extra check for the existence of an OSD.
https://github.com/rook/rook/c

[2022-08-10 13:10] satoru-takeuchi commented on #10665
OK, I'll make an official fix later. Let's keep this ticket open till then.

[2022-08-10 14:23] satoru-takeuchi opened #10698 "ci: use github Ubuntu 20.04 actions runner"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Currently, we use the Ubuntu 18.04 actions runner. [This runner will be deprecated at the beginning of Dec](https://github.blog/changelog/2022-08-09-github-actions-the-ubuntu-18-04-actions-runner-image-is-being-deprecated-and-will-be-removed-by-12-1-22/). So should change the runner to 20.04 (or [22.04

[2022-08-10 16:24] bruse-peng commented on #10697
我的问题需要等很久才会显示其他的pod，按照官方文档，不需要apply 几个yaml文件就行，不需要修改什么吧？除了cluster。yaml里面的dataDirHostPath 是吧？

[2022-08-10 18:15] travisn commented on #10691
Yeah the rule was removed based on [this discussion](https://github.com/rook/rook/issues/10070#issuecomment-1099455108), and it does appear unintentional that it came back without being fixed.

@jdloft Are you able to test that new condition on your cluster to see if it works as expected? I'm not sure on the details of the syntax.

[2022-08-10 20:02] #9922 closed

[2022-08-10 22:58] jdloft commented on #10691
Yes, I currently have that syntax deployed and it is working. It essentially takes the max value for each hour in the 2d window and uses it to compute the predict_linear.

[2022-08-11 02:20] zhucan commented on #10697
only need to exec "kubectl apply -f dcluster.yaml" if you want to use all devices on all nodes.

[2022-08-11 05:12] #10656 closed

[2022-08-11 09:12] degorenko opened #10702 "rgw: objectstore is not removed if bucket resource present"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
CephObjectStore is not removed when objectbucketclaim resources are exists

**Expected behavior:**
CephObjectStore is removed

**How to reproduce it (minimal and precise):**
Create some objectbucketclaim resources, remove CephObjectStore.

[code]

Related ObjectBucketClaim resource is:

[code]

Rook ve

[2022-08-11 09:44] wjentner opened #10703 "No storage class exists matching configured Rook orchestrator storage class which currently is <local>. This storage class can be set in ceph config (mgr/rook/storage_class)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When clicking in the Dashboard on: Cluster -> Physical Disks a 500 error appears.
The mgr log shows the following:
[code]

**Expected behavior:**

No 500 error.

**How to reproduce it (minimal and precise):**

We have a working cluster (HEALTH_OK) with 6 OSDs and an Ceph Filesystem (3 pools: mgr, ceph

[2022-08-11 11:05] bruse-peng commented on #10697
when i edit service rook-ceph-mgr-dashboard  from ClsuterIP to NodePort,after few seconds it revovery  ClsuterIP again what is th reason
![image](https://user-images.githubusercontent.com/47881861/184119901-596bfd13-82bb-4a7b-baee-c2048c91a373.png)

[2022-08-11 15:22] travisn commented on #10702
This is by design to prevent accidental data loss. You can remove the finalizer on the CR to force removal. Does that work for you?

[2022-08-11 15:26] degorenko commented on #10702
remove finalizer on the which CR? objectbucketclaim? If yes, then it will not work, i tried. Rook waits until real bucket is removed (i did that with radosgw-admin bucket rm ...) - then it continued deletion process. If remove finalizer for object store - no, that will not work.

[2022-08-11 15:36] BlaineEXE commented on #10702
Rook intentionally doesn't delete object stores when buckets exist (including OBCs) to prevent data loss. It should be possible to remove the finalizer on the CephObjectStore to have the resource removed by Kubernetes.

[2022-08-11 15:38] degorenko commented on #10702
but  just remove finalizer from cephojbectstore - it will not remove correctly objectstore from ceph itself, in case if ceph cluster itself is going be used, but without rgw

[2022-08-11 15:40] BlaineEXE commented on #10702
That's correct. To safely remove the store, Rook requires the the user to remove all buckets. This prevents accidental data loss when users accidentally delete a resource or the whole namespace, giving them time to back up their cluster data.

[2022-08-11 15:52] degorenko commented on #10702
yes, my point is that when someone forgot to remove user/bucket (in my case bucket) it is impossible to properly continue remove process:
* started objectstore remove;
* error - bucket present;
* i tried to remove that bucket (objectbucketclaim resource) via k8s api;
* it hangs and Rook operator can't properly manage;
I'm concerned about such situation. Why in that case, if objectbucketclaim resou

[2022-08-11 16:30] travisn commented on #10702
Ah, so you're seeing that rook won't delete the obc if the object store is already in a deleted state. In that case, agreed that rook should continue with the obc deletion.

[2022-08-11 16:34] BlaineEXE commented on #10702
Agreed. The OBC should still attempt to delete, even if the object store is in deleting state.

[2022-08-11 16:34] degorenko commented on #10702
Exactly. Rook just looping over check bucket is still present in rgw and not checking that objectbucketclaim resource has now deletion timestamp. That's the case.

[2022-08-11 16:37] BlaineEXE commented on #10702
The object store controller isn't aware of OBCs specifically. It only checks buckets.

But if the OBC controller isn't deleting an OBC because the store is deleting, that is an issue. Are you seeing an issue with the OBC controller not removing a bucket?

[2022-08-11 16:39] degorenko commented on #10702
yep, for some reason it won't delete OBC when objectstore is also deleting

[2022-08-11 17:31] travisn commented on #10697
@bruse-peng Rook reconciles these services to what it expects for access internal to the cluster. See [this topic](https://rook.io/docs/rook/latest/Storage-Configuration/Monitoring/ceph-dashboard/#viewing-the-dashboard-external-to-the-cluster) and create a new service for external access to the dashboard.

[2022-08-11 17:35] #10688 closed

[2022-08-11 17:40] travisn commented on #10703
@jmolmo Do you know what storage class the dashboard is looking for? Looks like we need a fix in the rook orchestrator module

[2022-08-11 18:47] Capitrium opened #10706 "Operator doesn't detect new storage nodes until restart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The rook-ceph-operator doesn't detect new storage nodes after a storage node failure until the operator is restarted.

I've been simulating storage node failure/failover, and the operator consistently requires a restart before new prepare-osd jobs and osd pods will be launched on new nodes. There are n

[2022-08-11 21:42] #10679 closed

[2022-08-11 22:35] wjentner commented on #10703
This is probably unrelated but our toolbox with rook version 1.9.8 shows for `ceph -v`
```ceph version 16.2.10 (45fa1a083152e41a408d15505f594ec5f1b4fe17) pacific (stable)```
I assume this is only the version of the CLI? Because
```ceph tell osd.* version```

shows:
[code]

[2022-08-11 22:48] travisn commented on #10703
Correct, `ceph version` only shows the version of the ceph client in the image. `ceph versions` will show what all the daemons are running. Since the mgr would be running the same version as the other ceph daemons, there shouldn't be a version issue.

[2022-08-12 01:47] bruse-peng commented on #10697
question 1:
tell me why i can not change the service  cluster type ?

question 2:
if i want change the default images should i remove annotation below and change the image?

![image](https://user-images.githubusercontent.com/47881861/184269892-7d1283e8-71f2-4e7b-8762-14216cb3ef90.png)

question3:
 i am in china ,  many images are blocked by firewall  should you push the image into  alibaba image r

[2022-08-12 02:14] bruse-peng commented on #10697
my kubernets cluster installed by kind  but when i install rook-ceph-mgr-dashboard-external-https  it can not access
![image](https://user-images.githubusercontent.com/47881861/184272469-cf7ebdb1-481b-4492-86ed-3e341bc93948.png)

![image](https://user-images.githubusercontent.com/47881861/184272483-501d047e-55c9-4d60-91bc-6b01ca698e84.png)
![image](https://user-images.githubusercontent.com/4788186

[2022-08-12 02:20] zhucan commented on #10697
You only need to push the image to the alibaba image registry.

[2022-08-12 02:22] zhucan commented on #10697
for question 2: you only neeed to push image to the alibaba image repo and  modifty the image repo in the yaml with the new repo.

[2022-08-12 02:28] zhucan commented on #10697
for question 3:  https://localip:30357

[2022-08-12 02:40] zhucan opened #10712 "The status of cephblockpoool is always "Progressing"?"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The status of the cephblockpool is always "Progressing"

**Expected behavior:**
The status of the cephblockpool is active or failed.

**How to reproduce it (minimal and precise):**
1. create a empty crushroot
![image](https://user-images.githubusercontent.com/13997135/184274606-31405e82-d06c-4c21-a65e-

[2022-08-12 02:47] zhucan commented on #10712
Beacuse of the  invalid crushroot, hangs on "rbd pool init replicapool1 --cluster=rook-ceph --conf=/var/lib/rook/rook-ceph/rook-ceph.config --name=client.admin --keyring=/var/lib/rook/rook-ceph/client.admin.keyring", there is no timeout config for this cmd:
https://github.com/rook/rook/blob/113970c4163fd3ff4dba18ee5271693fe16a016a/pkg/operator/ceph/pool/controller.go#L390

[2022-08-12 04:36] bruse-peng commented on #10697
in pod i can not access rook-ceph-mgr-dashboard below

![image](https://user-images.githubusercontent.com/47881861/184285793-e7abd224-b387-4017-817c-7c8f0daccbc3.png)

[2022-08-12 06:46] wjentner commented on #10703
Regarding your previous question:

[code]
returns

[code]
This is also stated in the error message.

[2022-08-12 08:41] s0und0fs1lence opened #10713 "OSD not detected when adding new nodes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When adding new nodes to kubernetes cluster that is running rook with ceph, new osds aren't created in the new nodes

**Expected behavior:**
When adding a node, the osd should be created in that node

**How to reproduce it (minimal and precise):**

install rook with helm chart [Rook.io helm chart](http

[2022-08-12 10:18] sagar-shah-uipath opened #10714 "Rook-ceph got stuck in deleting phase"
**Is this a bug report or feature request?**
* Bug Report
We noticed that rook-ceph is getting stuck in deleted phase even though rook-ceph is healthy at the time of upgrade
![image](https://user-images.githubusercontent.com/89075615/184334401-120089b3-79c4-42cb-ab3e-0a72f54a66ae.png)

We want to understand in which cases this can go in to deleting phase and how can we manually stop this deletion

[2022-08-12 10:38] bruse-peng opened #10715 "rook-ceph-operator logs throw error"
kubectl  logs -f rook-ceph-operator-b5c96c99b-9k67m -n rook-ceph

2022-08-12 10:30:44.859743 E | op-mon: failed to schedule mon "c". failed to schedule canary pod(s)
2022-08-12 10:30:44.864921 I | op-mon: cleaning up canary monitor deployment "rook-ceph-mon-a-canary"
2022-08-12 10:30:44.872279 I | op-mon: cleaning up canary monitor deployment "rook-ceph-mon-b-canary"
2022-08-12 10:30:44.880028 I |

[2022-08-12 10:45] bruse-peng commented on #10715
more error shows

2022-08-12 10:43:35.525209 E | ceph-spec: failed to update cluster condition to {Type:Progressing Status:True Reason:ClusterProgressing Message:Configuring the Ceph cluster LastHeartbeatTime:2022-08-12 10:43:35.514027856 +0000 UTC m=+90.335510785 LastTransitionTime:2022-08-12 10:43:35.514027729 +0000 UTC m=+90.335510662}. failed to update object "rook-ceph/rook-ceph" status: Oper

[2022-08-12 14:16] travisn commented on #10697
If you curl the IP do you get a response?
[code]

[2022-08-12 14:21] travisn commented on #10715
The last error can be ignored for now. The main error is that the mons are failing to be scheduled. Do you see any other messages in the operator log about why they couldn't be scheduled? Or look at the `kubectl describe` of the canary pods such as `rook-ceph-mon-a-canary` before they are deleted. Do you have at least three nodes? If not, the three mons cannot be scheduled. If this is a test clust

[2022-08-12 14:23] travisn commented on #10714
Does the cephobjectstore metadata also show that it was deleted? If it is deleted, you can attempt to restore it with [this approach](https://rook.io/docs/rook/latest/Troubleshooting/disaster-recovery/#restoring-crds-after-deletion).

[2022-08-12 14:26] travisn commented on #10713
This issue sounds the same as #10706, let's track with that issue why the node isn't triggering OSDs.

[2022-08-12 14:35] travisn commented on #10712
Right, we would need to use `RunWithTimeout()` since `rbd` doesn't have a built-in timeout parameter. Want to open a PR for that?

[2022-08-12 14:43] travisn commented on #10706
When searching the operator debug log for "node watcher", there are messages about the nodes being unschedulable or not tolerable.
[code]
Which nodes are you expecting to be available? And there are tolerations for the OSDs to run there?

When a node is added, rook only evaluates it once and then ignores future events about the node to reduce noisy node events. It's possible that ignoring the node

[2022-08-12 15:12] Capitrium commented on #10706
@travisn Those are unrelated nodes. Looking at our metrics, I can see that both of those nodes are labelled with `node.kubernetes.io/role: gpu`, while our rook/ceph pods are configured to run on nodes labelled with `node.kubernetes.io/role: storage`.

<img width="889" alt="Screen Shot 2022-08-12 at 11 53 22 AM" src="https://user-images.githubusercontent.com/5111534/184384427-1d429c44-2fdb-4b27-a44

[2022-08-12 15:27] Capitrium commented on #10706
@travisn There are 4 valid storage nodes in the timespan covered by the logs:
[code]
<img width="1677" alt="Screen Shot 2022-08-12 at 12 20 19 PM" src="https://user-images.githubusercontent.com/5111534/184387624-53d16a3e-5c1d-4730-84d6-34a603a72fee.png">

A failure was simulated on `ip-10-0-37-178.ec2.internal` at roughly `19:03`:
<img width="1677" alt="Screen Shot 2022-08-12 at 12 20 39 PM" src="

[2022-08-12 15:57] travisn commented on #10706
Ok the logs regarding that new node show that a reconcile was triggered when the node became ready, the key being the "reconcile is necessary":
[code]

The operator [returns true](https://github.com/rook/rook/blob/de448d31f9c3fb21420b783d4a2f9e788bfa83a9/pkg/operator/ceph/cluster/watcher.go#L117-L118) from this method, which should indicate to the controller runtime that a reconcile should be trig

[2022-08-12 16:12] Capitrium commented on #10706
No, it always fails to create the OSD without an operator restart, 100% of the time.

[2022-08-12 16:45] zhucan commented on #10712
Ok

[2022-08-12 21:17] Antiarchitect commented on #10406
Is that possible to return back an old behavior by some config option on in other way?

[2022-08-12 21:37] travisn commented on #10706
@parth-gr Could you take a look at why the controller runtime isn't responding to rook's node watcher? It's possibly related to #7568, but more likely from some other controller runtime issue.

[2022-08-12 23:41] bruse-peng opened #10718 "all pod running but ceph status warm"
[root@longhorn kind]#
[root@longhorn kind]# kubectl  get pod -n rook-ceph
NAME                                                              READY   STATUS      RESTARTS   AGE
csi-cephfsplugin-88qt4                                            2/2     Running     0          11h
csi-cephfsplugin-m7rht                                            2/2     Running     0          11h
csi-cephfsplugin-provis

[2022-08-13 01:49] zhucan commented on #10718
No osd was created

[2022-08-13 01:54] zhucan commented on #10718
If you don’t know whether it’s a bug，you can open it as a QA not a issue.

[2022-08-14 02:01] bruse-peng commented on #10715
when i acess dasboard service it can not be access,  although you the document is easy   but i can not run normal follow the document, does your team memeber have enough test
[root@longhorn kind]# kubectl  get node
NAME                           STATUS   ROLES           AGE   VERSION
multi-node-k8s-control-plane   Ready    control-plane   38h   v1.24.0
multi-node-k8s-worker          Ready    <none

[2022-08-14 04:48] superbrothers opened #10719 "The controller continues to hold the expired certificate"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I faced the following error:

Helm chart now uses a certificate generated by cert-manager with the following PR, but that certificate has expired.

- https://github.com/rook/rook/pull/7325

The certificate was automatically renewed by cert-manager, but the controller did not have the ability to reload

[2022-08-14 09:48] tianweipeng opened #10720 "ceph-cluster-controller: failed to reconcile CephCluster "rook-ceph/rook-ceph". failed to reconcile cluster "rook-ceph": failed to configure local ceph cluster: failed the ceph version check: allowUnsupported must be set to true to run with this version "17.2.3-0 quincy""
deploy
kubectl create -f crds.yaml -f common.yaml -f operator.yaml
kubectl create -f cluster.yaml

then
 the rook-ceph-mon, rook-ceph-mgr, or rook-ceph-osd pods are not created
see the operator log:

2022-08-14 07:50:27.864519 I | ceph-cluster-controller: validating ceph version from provided image
2022-08-14 07:50:27.896532 E | ceph-cluster-controller: failed to reconcile CephCluster "rook-ceph/r

[2022-08-14 14:46] YashasviChaurasia commented on #10458
@parth-gr @travisn @hunter I would like to work on this issue.
Thank you.

[2022-08-15 01:20] bruse-peng commented on #10718
i obey he  offical document  install,why osd was created,  i have no idea

[2022-08-15 02:22] zhucan commented on #10718
Paste the logs of the "osd-prepare-*".

[2022-08-15 02:25] bruse-peng commented on #10718
one pod logs of osd-prepare
[root@longhorn examples]# kubectl logs -f rook-ceph-osd-prepare-multi-node-k8s-worker-bmb57 -n rook-ceph
Defaulted container "provision" out of: provision, copy-bins (init)
2022-08-15 02:02:20.860602 I | rookcmd: starting Rook v1.9.0-alpha.0.516.g113970c41 with arguments '/rook/rook ceph osd provision'
2022-08-15 02:02:20.861544 I | rookcmd: flag values: --cluster-id=01

[2022-08-15 02:55] zhucan commented on #10718
**skipping osd.1: "24f3a1e4-3db0-4e7f-91f9-9d2a8184d63f" belonging to a different ceph cluster "cf0fb7de-da7b-46df-ade2-8de15f752dfe",**  you need to delete the cluster and cleanup the disk.
refrence: https://rook.io/docs/rook/latest/Storage-Configuration/ceph-teardown/#delete-the-data-on-hosts, and rebuild the cluster.

[2022-08-15 02:58] bruse-peng commented on #10718
after i kubectl delete -f cluster.yaml   i do the opration rm -rf /var/lib/rook/* on all kubernets nodes

[2022-08-15 03:28] zhucan commented on #10718
If the device was been used to pre cluster, you need to run "sgdisk --zap-all $DISK" to zap the disk and reuse it.

[2022-08-15 11:02] galexrt commented on #10698
I stumbled upon the github action we use for setting up minikube and found out that the action added support for Ubuntu 22.04 in the latest 2.7.0 release, see https://github.com/manusa/actions-setup-minikube/releases/tag/v2.7.0

Maybe updating to that version helps with the issue(s) we have (https://github.com/rook/rook/blob/master/.github/workflows/integration-test-config/action.yaml#L20).

[2022-08-15 11:18] galexrt commented on #10398
Closing as already resolved in #10405.

[2022-08-15 11:18] #10398 closed

[2022-08-15 13:22] gauravsitlani commented on #1950
Hi @microyahoo are you still seeing this issue with the latest master ?

[2022-08-15 13:51] gauravsitlani opened #10723 "Failure while running the integration tests locally : E | testutil: Errors Encountered while executing helm command"
I'm experiencing following errors while executing the integration tests locally:

[code]

Pastebin link : https://pastebin.mozilla.org/gcNdri0v

My fork has the code from the latest master branch.
Exported helm path : `export TEST_HELM_PATH=/usr/bin/helm`

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it

[2022-08-15 20:02] #10414 closed

[2022-08-15 20:02] #10402 closed

[2022-08-16 02:51] dimm0 commented on #6830
Sorry, can't really test on production cluster... I'll wait until it's resolved in stable version.

[2022-08-16 10:57] sybadm commented on #2517
I'm still facing this issue, Linux worker node hosting OSD's having hard time to restart

Kubernetes version : v1.24.2
ceph version 17.2.1 (ec95624474b1871a821a912b8c3af68f8f8e7aa1) quincy (stable)

Tried setting flags on all k8s nodes and restarting kubelet as well,
KUBELET_KUBEADM_ARGS="--container-runtime=remote --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock --pod-infra

[2022-08-16 11:59] subhamkrai commented on #10719
@superbrothers for now you can disable the webhook until we fix his https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph/values.yaml#L412 here

[2022-08-16 12:01] subhamkrai commented on #10723
@gauravsitlani seems like you don't have helm installed.  what is the output of `whereis helm`?

[2022-08-16 13:08] gauravsitlani commented on #10723
@subhamkrai here's the output :
[code]

I have helm installed on my system.

[2022-08-16 13:34] gauravsitlani commented on #4607
@leseb @yanchicago  think this can be done with docker, I found the following reference links online :
https://www.techtarget.com/searchitoperations/tutorial/How-to-scan-Docker-images-for-vulnerabilities-with-Clair
https://github.com/arminc/clair-scanner
https://systemweakness.com/docker-image-container-security-scan-with-clair-installation-355f80201ef5

@travisn wanted to ask for your thoughts re

[2022-08-16 13:52] subhamkrai commented on #10723
@gauravsitlani trying upgrading helm https://github.com/helm/helm/issues/3134#issuecomment-344094420

[2022-08-16 14:42] t3hmrman commented on #10689
Hey @travisn thanks for the help, after a bunch of tinkering I got it working.

I'll find some time this week or next to write it up, but basically the relevant YAML looks like this:

[code]

[code]

To make the `initContainer` stuff work out, you'd need the following RBAC resources:

[code]

Once I did this I was able to get it successfully working with some trial & error.

First to load and get

[2022-08-16 15:39] galexrt commented on #10723
@gauravsitlani `helm` seems complaining that there is already a release with that name (run `helm ls -a -A` to see all releases in your env). If there is no release, something seems to be broken there.

[2022-08-16 16:31] kfox1111 commented on #9283
Saw this on a prod cluster today. Seems like the upgrade from nautilus -> octopus causes the osd to fsck for a while. Long enough the liveness probe kicks in and shoots it before its done recovering. then it restarts and tries all over again for a while, then reaches a crashloop and never recovers. It may be a good idea to avoid liveness checks during upgrades.

[2022-08-16 19:39] BlaineEXE commented on #5296
After revisiting this, I have an updated summary of the issue which can be worked on:

There are no memory limits/requests issues at play here since emptyDirs don't use RAM by default. There is still a possibility of an interrupted/corrupted copy operation as initially described.

I think the updated tasks become:
- change the `getCopyBinariesContainer()` method to use `cp -a` on the rook binary
-

[2022-08-16 20:02] #10432 closed

[2022-08-16 20:07] onedr0p commented on #10467
Not stale

[2022-08-16 22:03] tadrian88 commented on #9769
@travisn I'd appreciate if you can share the steps related to OSD auth issues since I have data in the cluster

[2022-08-17 06:07] sagar-shah-uipath commented on #10714
@travisn We can see metadata is already there, rook-ceph is cluster is healthy. We just want to know is there any way we can stop this deletion process because it seems to be in stuck state now.

These are logs from operator
[code]

[2022-08-17 09:26] gauravsitlani commented on #10723
I had the following version of helm installed on my Fedora system :
[code]

Further i upgraded the helm version by installing it again from script : https://helm.sh/docs/intro/install/#from-script
which installed the latest helm version :
[code]

Now `helm ls -a -A` shows the following output while the integration tests are being run :

[code]

[2022-08-17 09:28] gauravsitlani commented on #10723
I believe the overall issue was the older helm binary which was coming from Fedora, after upgrading the integration tests are running in progress. I'll close this issue with the following result :
[code]

[2022-08-17 09:41] gauravsitlani commented on #10723
After the `TestCephHelmSuite ` passed I get the following failures :
[code]

[2022-08-17 09:56] MCOfficer commented on #4772
In case you're stuck with powershell:
[code]

[2022-08-17 14:32] microyahoo commented on #1950
I didn't try to use latest master, and I'll try it later to see if it can reproduce. @gauravsitlani

[2022-08-17 15:42] BlaineEXE commented on #10720
You appear to be running a master build of rook based on Rook v1.8 which does not support Ceph v17. Please use Rook tag `v1.9.9`.

[2022-08-17 15:48] parth-gr commented on #10720
@BlaineEXE they also need to update go version?
I see they are using `go: go1.16.12`

[2022-08-17 15:50] #6432 closed

[2022-08-17 17:14] travisn commented on #10714
There is no way to stop the deletion of a K8s resource that is pending deletion, but there is a workaround linked in my previous comment. Did you try that?

[2022-08-17 17:27] travisn commented on #10715
Now I see the mons started and the osd prepare jobs ran, but no OSDs were created. See the [OSD prepare logs](https://rook.io/docs/rook/latest/Troubleshooting/ceph-common-issues/#symptoms_4) for more details on why they didn't create.

[2022-08-17 17:37] travisn commented on #10723
Since the CRDs already exist, there must have been an issue in the previous test during the uninstall. Since the CI has been so reliable in the github actions and we have the ability to connect to the action runner, we have found it more effective to troubleshoot that way instead of trying to run the tests locally where we have so many cleanup issues after failed tests. Or if the tests are run loc

[2022-08-17 17:51] travisn commented on #2517
Do you have the critical priority classes set as in the [cluster example](https://github.com/rook/rook/blob/master/deploy/examples/cluster.yaml#L219-L223)? This should ensure the critical ceph daemons and the csi driver are the last pods to be evicted from a node when it is being shut down, and thus allowing the application pods to unmount the rbd volumes.

[2022-08-17 17:56] travisn commented on #4607
The security scan would certainly be a good thing, an action would just need to be added for it. Is there a github action our CI can consume? Glancing at those links, I don't see one.

[2022-08-17 18:33] travisn commented on #9769
@tadrian88 See [these steps](https://github.com/rook/rook/issues/4238#issuecomment-664627282) for recovering the osd auth

[2022-08-17 19:58] ktarplee opened #10731 "Add cephfs-shell to the admin tool pod"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
For maintaining the ceph filesystem the command `cephfs-shell` is handy.  It is currently unavailable in the rook-ceph-tool pod.  It would be nice if this package could be added to that image.

https://docs.ceph.com/en/latest/man/8/cephfs-shell/

**What is use case behind this feature:**

It is convenie

[2022-08-17 21:03] travisn commented on #10731
The rook toolbox is based on the ceph image. Any desired tools would need to be added to the base ceph image with a request in the [ceph-container](https://github.com/ceph/ceph-container) repo.

[2022-08-17 21:22] travisn commented on #10650
#10717 will help with this failover condition as long as the `defer` failover method is allowed to run to cleanup the aborted mon failover. This should be the case in most scenarios except perhaps a power outage on the node where the operator is running. @qinzl After #10717 merges it would be great to get your validation that the failover is improved in your scenario.

[2022-08-17 22:59] BlaineEXE commented on #10720
That just indicates the version of Go that was used to build the binary. For example, a recent Rook master image shows:
[code]

I don't believe the user is building their own image but likely using `rook/ceph:<some-tag>` that is quite old.

[2022-08-18 07:27] Alan-huan opened #10734 "We need to find a way to mount the ceph file system created by rook"
we try to mount the FS outside of Kubernetes, it will not work.
Our first idea was to change the type of service from ClusterIP to NodePort, But when we tried to mount the FS again. Unfortunately it did not work.
We need to find a way to mount the ceph file system created by rook.

[2022-08-18 07:45] zhucan commented on #10734
set howtNetwork=true to the cluster.yaml, you can try it. @Alan-huan

[2022-08-18 08:08] Alan-huan commented on #10734
Is there any other way besides using hostNetwork?
I do not want to change it to hostNetwork.

[2022-08-18 08:09] Alan-huan commented on #10734
Is there any other way besides using hostNetwork? @zhucan
I do not want to change it to hostNetwork.

[2022-08-18 08:10] jansmets commented on #8993
Same issue here, the` insecureSkipVerify: true` doesn't help.

2 problems:

a) bucket provisioning

[code]
2) bucket health check

[code]

@travisn @leseb : do we need/want a new issue for this?

[2022-08-18 08:37] zhucan commented on #10734
I don't know other way. It not same as s3.

[2022-08-18 09:17] subhamkrai commented on #10723
@gauravsitlani I think we're able to resolve the above issue right?

[2022-08-18 11:20] Tyler-Cash commented on #10219
Just in case someone stumbles into this. I'm running a bare metal k3s cluster (on a proxmox hypervisor if that's relevant).

I tried everything to get raw drives detected.

I tried passing them through in Proxmox and also mounted them on the host then created a virtual disk and mounted that to my VM. Both instances had a whole raw 4TB disk that would be recognized but then get this error. I must h

[2022-08-18 13:20] subhamkrai commented on #10698
I tried but that didn't work that's why I backed to using 20.04 but I'll be continuing looking to other options to fix the issue. Thanks

[2022-08-18 14:17] parth-gr commented on #10713
@travisn adding a new node doesn't seems a problem, osd-prepare pods get created for added node,

@s0und0fs1lence can you add your operator nodes.

[2022-08-18 15:02] gauravsitlani commented on #10723
@travisn @subhamkrai yep marking this issue as resolved.

[2022-08-18 15:02] #10723 closed

[2022-08-18 16:08] nirs opened #10741 "Incomplete note about rbd mirroring"
RBD mirroring docs:
https://www.rook.io/docs/rook/v1.9/Storage-Configuration/Block-Storage-RBD/rbd-mirroring/#rbd-mirroring

Contains incomplete note:

    This document sheds light on rbd mirroring and how to set it up using rook.
    For steps on failover or failback scenarios

Looks like text was truncated by mistake.

[2022-08-18 16:43] travisn commented on #5709
The [krew plugin](https://github.com/rook/kubectl-rook-ceph) has a new option for `debug start <deployment>` to start a pod for running commands against an offline mon or osd daemon. More documentation to come...

[2022-08-18 18:22] travisn commented on #10734
Since the cluster network is not available outside K8s, the only way really is with host networking enabled.
Note that configuring with host networking needs to be enabled in a new cluster. An existing rook cluster with the default cluster networking cannot be configured to host networking.

[2022-08-18 23:49] taxilian commented on #10734
Depending on which CNI you are using and what your setup is you may be able to make it work, but you'd need to make it possible for your machines outside of kubernetes to access the networks inside kubernetes. There are likely a lot of ways to do that, but the one that I've used is to use BGP peering with calico (other CNIs may also be able to do this).

In my setup I have my router (running OPNSe

[2022-08-18 23:53] taxilian commented on #10649
Ahh, I've been trying to use this feature... I guess now I know why it isn't working :-(  The 1.9 documentation claims `hostNetwork` is in the gateway section but it doesn't seem to do anything.

Since it sounds like this will be changing I put the key both under `spec` and under `gateway` and it looks to be working now! yay!

[2022-08-19 00:36] satoru-takeuchi commented on #10665
Probably my co-worker and I will create the official fix.

[2022-08-19 01:04] zhucan commented on #10649
We plan move it from spec to spec.

[2022-08-19 03:58] satoru-takeuchi commented on #10219
@Tyler-Cash Thank you for your detailed explanation.

Yes, please share me this image.

[2022-08-19 04:44] Tyler-Cash commented on #10219
Shared it to your email address on your profile. Thanks

[2022-08-19 07:01] s0und0fs1lence commented on #10713
Ok, after looking deeper at the configuration, i think i found the issue.

**operator_val.yaml**

[code]

Changing the value of _hostpathRequiresPrivileged_  and _enableDiscoveryDaemon_  to true, started the "prepare osd " job and so started the osd on the new node.
I don't know if this is intended.

[2022-08-19 11:38] Tyler-Cash commented on #10219
I was just double checking that if I run only a wipefs -a on the disk, to ensure v1.9.2 is able to onboard it successfully. Interestingly I actually still get this error. But the OSD manages to get setup correctly.
[code]

[2022-08-19 14:10] hdiass commented on #10568
I wish this implemented because there are services on a cluster rook namespace that are mirrored (and managed) by linkerd, so i want that rook ignore them and does not touch them.

[2022-08-19 14:33] taxilian commented on #10649
Was that supposed to ber "from spec to spec.gateway"? That's what I understood from the comments.

It should be noted though that right now the documentation is wrong, since it says that it is already under spec.gateway and it isn't. I guess this is a new feature, so maybe it's not worth worrying about yet, but it does seem like a somewhat less than ideal situation.

[2022-08-19 15:25] travisn commented on #10568
@hdiass So if Rook doesn't update the services, you understand from my previous comment that they will be broken if the active mgr changes?

[2022-08-19 15:26] hdiass commented on #10568
Yes, but i don't want rook to update those ignored services anyway

[2022-08-19 16:34] taxilian opened #10743 "CephObjectStore CRD - gateway.port partially ignored when hostNetwork disabled"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I set `gateway.port` on my cephobjectstore to `80` but when I later set `hostNetwork: false` (see issue #10649) it ignored that and set the port for the gateway to `8080`. Worse, the health checks still tried to check on port 80, which caused them to fail and the pod never came up. I only figured out

[2022-08-19 20:56] travisn commented on #10568
What if rook skipped updating the mgr services that have the following annotation or label?
[code]

[2022-08-19 20:56] atilaromero commented on #6439
setting
    osd_crush_chooseleaf_type = 0
in /etc/ceph/ceph.conf solve it for me

[2022-08-19 21:10] travisn commented on #10649
@zhucan Would you mind fixing it in the expected place in the spec? thanks

[2022-08-19 21:13] travisn commented on #10713
I don't know if this is intended.

If you enable the discovery daemon, new devices detected on a node would trigger the operator to create new OSDs. Good to hear this is fixed for you.

[2022-08-20 02:04] zhucan commented on #10649
ok

[2022-08-20 11:05] chenhuazhong opened #10746 "overall HEALTH_WARN 1/3 mons down, quorum g,i"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
overall HEALTH_WARN 1/3 mons down, quorum g,i
One Mon did not start normally

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) l

[2022-08-20 11:07] chenhuazhong commented on #10746
This mon has modified the nodeselector of deployment

[2022-08-20 11:08] chenhuazhong commented on #10746
[rook@rook-ceph-tools-595d748f7d-p8xt9 /]$ ceph health detail
HEALTH_WARN 1/3 mons down, quorum g,i
[WRN] MON_DOWN: 1/3 mons down, quorum g,i
    mon.f (rank 0) addr [v2:172.188.95.136:3300/0,v1:172.188.95.136:6789/0] is down (out of quorum)

[2022-08-20 11:46] hdiass commented on #10568
Wouldn't work because this service is from another rook instance on the external cluster then the external cluster itself would ignore it too

[2022-08-20 13:31] chenhuazhong commented on #10746
After restarting the rook operator, a new mon is created

[2022-08-20 13:32] chenhuazhong commented on #10746
[rook@rook-ceph-tools-595d748f7d-p8xt9 /]$ ceph health detail
HEALTH_OK

[2022-08-20 13:33] #10746 closed

[2022-08-20 20:02] #10377 closed

[2022-08-20 20:55] MerouaneBen opened #10747 "osd's are not starting when metadata device is specified"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When I start the cluster, all the `rook-ceph-osd-prepare-*` start failing and eventually no OSD's  are provisioned.

**Expected behavior:**
Cluster should start without issues when specifying `metadataDevice`
**How to reproduce it (minimal and precise):**

start cluster and define  `metadataDevice`
**F

[2022-08-21 01:40] taxilian commented on #10515
I am seeing this as well :-/ trying to figure out how to resolve it without deleting and re-adding the object store...

[2022-08-21 01:48] taxilian commented on #10515
Ahh, looks like restarting the rook-ceph-operator pod did it

[2022-08-21 01:52] taxilian opened #10748 "ceph/rgw - CephObjectStore should be able to override the hostname"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

For a number of reasons I wanted to allow direct access to the RGW gateway pods rather than going through a load balancer; unfortunately when I attempted the configure an sslCertificateRef in `spec.gateway` everything external worked but internally to the system the health checks began failing because

[2022-08-21 02:28] taxilian opened #10749 "CephNFS - allow setting hostNetwork: false"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Allow you to set hostNetwork: false on the NFS Ganesha pods even if your cluster uses host networking.

My recommendation would be to put it on `spec.server.hostNetwork`.

**What is use case behind this feature:**

I want to be able to expose NFS shares from ceph but some of my nodes already have nfs s

[2022-08-21 21:08] satoru-takeuchi commented on #10747
Specifying metadatadevice is not allowed for OSD on LV but its validation was not implemented by mistake. I'll fix it later.

[2022-08-21 22:26] mostafaghadimi commented on #7362
Try deleting the CRDs manually.

[code]
After doing the above operations, make sure there isn't any CRD existed any more:
[code]

In case the result was not empty, try deleting the listed CRDs. (Before doing this, make sure you have removed `finalizers` from their manifest using `kubectl edit crd <crd-name>` command)
[code]

[2022-08-22 02:15] #10603 closed

[2022-08-22 04:23] thotz commented on #6342
I am closing this issue, there is no need to support zone/zonegroup/realm config for external cluster

[2022-08-22 04:23] #6342 closed

[2022-08-22 12:15] hohoqq commented on #4780
Did I understand correctly that <id_rgw> is a name of CephObjectStore? And we can figure it out this way:
[code]

So I got in the rook-ceph-tools container:
[code]

Set rgw_dns_name for my CephObjectStore:
[code]

Make sure the value is applied:
[code]

[code]

Set the pod's IP to the ceph-s3.domain-name.com hostname in the /etc/hosts on the K8s server for test. And see these answers:
[code]
[code

[2022-08-22 15:15] parth-gr commented on #10706
@Capitrium

I was trying to reproduce it locally on minkube, by deleting one one node and bringing it back,

My prepare-osd pods where getting created on the node which is added back,
FOllowing are the logs aatached for the scenario:

[code]

[2022-08-22 15:17] parth-gr commented on #10706
Mybe something gone wrong with your cluster,
I will re-check your logs
THanks

[2022-08-22 17:59] #10649 closed

[2022-08-22 18:45] travisn commented on #10568
If you specify `mgr.count: 1` in the cluster CR, this behavior of updating services would not be enabled. When there is only a single mgr, the services are not updated.

Keeping `mgr.count: 2` doesn't make sense since any services pointing at the active mgr would be broken if the active mgr changes in ceph as mentioned in the [previous comment](https://github.com/rook/rook/issues/10568#issuecommen

[2022-08-22 20:02] #10441 closed

[2022-08-22 20:02] #10410 closed

[2022-08-22 21:47] #10689 closed

[2022-08-23 08:56] subhamkrai opened #10765 "document rook-ceph krew plugin in troubleshooting doc"
1. Mention krew plugging in the troubleshoot doc on how to use debug mode for debugging pod.

2. Mention status command in troubleshooting doc to check common errors in the cluster. Also, point that link to the issue template to require the command output while reporting the error.

It will be helpful to link how to install the plugin and then installing rook-ceph plugins too.

[2022-08-23 13:29] parth-gr opened #10766 "Use direct reference to links in docs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I see some docs mentioning the link to the doc in a manner like
https://github.com/rook/rook/blame/master/.github/ISSUE_TEMPLATE/bug_report.md#L39
`[Rook Ceph toolbox](https://rook.io/docs/rook/latest/Troubleshooting/ceph-toolbox/#interactive-toolbox))`

We can use direct reference something like `/Do

[2022-08-23 13:31] parth-gr commented on #10766
@galexrt also need to understand how we are handling the doc version for a specific rook doc releases.

[2022-08-23 13:46] dhs-rec opened #10767 "CephFilesystem (and maybe others): No phase in JSON until ready"
When I create a `CephFilesystem` and want to wait for it to finish using
[code]
the command fails because there is no ".status.phase" until it's ready (after 60-70 seconds). OTOH, I can do the same for `CephCluster`, like
[code]
or
[code]
because it provides a value of "Progressing" right from the beginning.

**Deviation from expected behavior:**
Command fails until the state is "Ready"

**Expecte

[2022-08-23 15:03] galexrt commented on #10766
Are you talking about the aliases like `latest-release` and `latest`?

[2022-08-23 15:10] parth-gr commented on #10766
NO, how we segregate 1.9 and 1.8 etc

[2022-08-23 15:55] parth-gr commented on #10766
Closing as it is not a issue

[2022-08-23 15:55] #10766 closed

[2022-08-23 20:02] #10466 closed

[2022-08-23 20:02] #10455 closed

[2022-08-23 20:13] jmasud opened #10773 "Stretch mode not enabled when updating CephCluster settings"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When setting stretch mode, the default "zone" is not recognized, and errors when attempting to restart monitors.  Sometimes monitor will restart but then will stay in a `pending` state and never fully start.   Hence unable to get cluster to enable stretch mode.

We have 6 nodes in both LAX and DFW are

[2022-08-24 03:27] zeaone opened #10775 "The Func SetDefaultConfigs of mon looks like run more than once"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
the func SetDefaultConfigs will run more than 1  time
**Expected behavior:**
the func SetDefaultConfigs should run 1 time
**How to reproduce it (minimal and precise):**

every time to create cluster will reproduce
the code was in this place [`pkg/operator/ceph/cluster/mon/mon.go`](https://github.com/ro

[2022-08-24 05:32] dhs-rec commented on #10767
1. Yes, it's the `deploy/examples/filesystem.yaml` where only the name has been changed
2. When the `CephFilesystem` becomes ready? Yes
3. For what?

I don't understand how this is related to the `.status.phase` field not being available until it's value is "Ready" (as opposed to `CephCluster`, where it is available right from the beginning.

[2022-08-24 09:14] rafaribe commented on #9442
Same happened to me, any known workaround?

[2022-08-24 10:05] microyahoo commented on #10767
check `rook-ceph-operator-57cfdf5c4b-nnglq` log like below through `kubectl logs -n rook-ceph rook-ceph-operator-57cfdf5c4b-nnglq`
[code]

[2022-08-24 10:14] dhs-rec commented on #10767
Again: What is this info good for?

The problem is with the `cephfilesystem.ceph.rook.io` CRD, which doesn't provide a `.status.phase` field in its JSON output (for example if you do an `kubectl -n rook-ceph describe cephfilesystem.ceph.rook.io/<name> -o json`) until the state is "Ready", which makes it impossible to run above `kubectl wait` command to wait for it. This *would* be possible if the

[2022-08-24 12:34] nbisson opened #10782 "Cannot create lvm encrypted OSD - IndexError : list index out of range"
Hi,

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When [`encryptedDevice`](https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/values.yaml#L314) option is enabled, `rook-ceph-osd-prepare` pod gets the following error while preparing the OSD.

[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**

Crea

[2022-08-24 12:36] ryanschaaf-dmc opened #10783 "Allow configuration of imagePullPolicy for underlying images"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Users should be able to not only customize the CSI/Ceph images used by rook (defined in the operator and cluster respectively), but also the pullPolicy for those associated images.

**What is use case behind this feature:**
Due to a unique production environment, we do not have control over the images i

[2022-08-24 17:01] travisn commented on #10783
I could see this working with a new env var in the [rook-ceph-operator-config](https://github.com/rook/rook/blob/master/deploy/examples/operator.yaml#L18) configmap, to indicate the image pull policy to be applied to the csi driver and all the ceph pods. This env var makes sense (instead of a setting in the CephCluster CR) since it should apply the same to the entire environment, rather than needi

[2022-08-24 17:20] drohnow opened #10788 "How To Retrieve Ceph Pod Coredump?"
We have an issue where the rgw-rook-ceph-store pod is continuously crashing and is impacting storage access for our application.

rook-ceph        rook-ceph-rgw-rook-ceph-store-a-7c8ddb9dcd-rxkl4          1/1     Running     866 (4d3h ago)    7d7h

The pod debug indicates that there is a segfault:

debug 2022-08-18T19:52:38.827+0000 7f7932d82280  0 deferred set uid:gid to 167:167 (ceph:ceph)
debug

[2022-08-24 17:26] #10416 closed

[2022-08-24 18:31] travisn commented on #10775
@zeaone Why should this only run once? Rook is a desired state operator, which means every time it runs, it will ensure the desired state. Do you want to override the default settings in `SetDefaultConfigs()`?

[2022-08-24 19:48] travisn commented on #10773
Converting an existing cluster to a stretch cluster is not currently supported. As seen in the error:
[code]
Rook is expecting all existing mons to belong to a zone. The zone metadata is stored in the `rook-ceph-mon-endpoints` configmap. As a prototype, perhaps you could create a new test stretch cluster and compare that configmap to see the values needed, and then try assigning the mons to a zone

[2022-08-24 20:43] Capitrium commented on #10706
@parth-gr Regarding your minikube test - do your minikube nodes have any taints? Does your `cluster.yaml` include any custom `placement` or `storage` settings, or are you using the defaults? Have you tried testing with nodes that are labeled/tainted as indicated in the `cluster.yaml` I provided with this ticket? I'm a bit sceptical that your minikube test is properly replicating the environment wh

[2022-08-24 23:52] satoru-takeuchi commented on #10782
OSD on LVM inhost-based cluster doesn't support encryptedDevice and I fotgot to add the logic to ignore this configuration. I'll add this filtering logic and will add the description about this limitation  to the official document later.

[2022-08-25 07:29] akessner opened #10792 "PodSecurityPolicy has been deprecated but is still used in the example and prevents install on K8s 1.25"
**Is this a bug report or feature request?**

* Bug Report

**Bug Report**

**Expected behavior:**

No warnings when installing the examples.

**Deviation from expected behavior:**

This line of the common config in the examples is throwing an error:
https://github.com/rook/rook/blob/386117de4be610fb3af4d3f7016c0ae213cd42d2/deploy/examples/common.yaml#L755

'Warning: policy/v1beta1 PodSecurityPoli

[2022-08-25 09:16] jinjimosd commented on #10792
I just created a new k8s cluster, deployed rook-ceph and found out it's not compatible with v1.25. I am waiting for the next update from rook-ceph.

[2022-08-25 09:20] Madhu-1 commented on #10792
@travisn this need to be considered for the next rook release

[2022-08-25 14:09] rdziwinski commented on #10658
Hello,
I decide reopen this issue because this problem is more significant.
After recreate container csi-rbdplugin-provisioner or rook-ceph-operator (i'm not sure) config wrote at csi-ceph-conf-override ConfigMap not apply. As I describe above I have to edit some ENV (for example debug level) at rook-ceph-operator-config and than all containers are recreated with settings at csi-ceph-conf-override

[2022-08-25 15:21] #10765 closed

[2022-08-25 15:21] #5709 closed

[2022-08-25 15:25] travisn commented on #10792
We will need to break out the PSP to a separate yaml for those users still requiring it on older clusters, but avoid breaking 1.25 deployments. @BlaineEXE could you take a look?

[2022-08-25 15:32] BlaineEXE commented on #10792
Yeah. Let's split out the psp to a new yaml for 1.10.

[2022-08-25 16:05] jhoblitt opened #10796 "cephClusterSpec.dashboard.ssl: false results in a broken dashboard"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Under rook v1.9.9, installed from the charts with the same version, the `ceph-mgr` process in `rook-ceph-mgr-a` pod is only listening on port 8443 w/ tls while the pod is exposing port 7000.

**Expected behavior:**

In rook 1.6 - 1.8 setting `ssl: false` resulted in a `rook-ceph-mgr-a` pod with port 7

[2022-08-25 17:10] jhoblitt commented on #10796
While this isn't a big deal issue to work around, it is a breaking change when trying to upgrade my 1.7.x/1.8.x deployments to 1.9.9.

[2022-08-25 17:49] advancedwebdeveloper opened #10798 "GO_STATIC_PACKAGES on RISC-V"
CC @lazyparser

Got such an error:

[2022-08-25 20:35] travisn commented on #10470
Still an interesting scenario

[2022-08-25 20:56] travisn commented on #10798
To build on the new platform will certainly require some updates to the makefiles. For example, in the main Makefile there is a [PLATFORMS_TO_BUILD_FOR](https://github.com/rook/rook/blob/master/Makefile#L72), which later feeds into the [GO_STATIC_PACKAGES](https://github.com/rook/rook/blob/master/Makefile#L97).

[2022-08-26 07:41] zhucan commented on #10743
yes, I will fix it.  Thanks. @taxilian

[2022-08-26 07:41] zhucan commented on #10743
/assign @zhucan

[2022-08-26 09:47] hohoqq opened #10805 "Failed to create CephObjectStore, object store deployments, pools, crush rules"
**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**

We can create thousands of CephObjectStore.

**How to reproduce it (minimal and precise):**

1. Deploy Rook operator with [Helm chart](https://github.com/rook/rook/tree/master/deploy/charts/rook-ceph) v.1.9.9
2. Deploy Ceph cluster with [Helm chart](https://github.com/rook/rook/tree/master/deploy/charts/rook-ceph-cl

[2022-08-26 11:01] microyahoo commented on #10767
Sorry for misunderstanding what you meant earlier. I noticed that `CephFilesystem.Status` is a pointer to struct, but `CephCluster.Status` is a struct.
https://github.com/rook/rook/blob/6dbf415492d91afdb6ccbea670be375ac6802dc6/pkg/apis/ceph.rook.io/v1/types.go#L53
https://github.com/rook/rook/blob/6dbf415492d91afdb6ccbea670be375ac6802dc6/pkg/apis/ceph.rook.io/v1/types.go#L997

[2022-08-26 11:31] dhs-rec commented on #10767
Looked at that file. Looks pretty much like AmigaOS code of the late 80s where they simulated OOP in pure C... ;-)

[2022-08-26 11:33] hohoqq commented on #10805
Redepoyed cluster with ceph version 16.2.10. Problem still exists.

Is it possible to remove this restriction (256+ crush rules)? Or set to use one CRUSH rule and profile for all pools?

[2022-08-26 12:44] nbisson commented on #10782
Thanks for the explanation.
Following [this answer](https://github.com/rook/rook/discussions/7349#discussioncomment-2175227), I have created local `PersistentVolume`, a `StorageClass` and the encryption works with `storageClassDeviceSets`. Thanks.

[2022-08-26 16:55] travisn opened #10809 "Raise the min supported K8s version to 1.19 in Rook v1.10"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Supporting older versions of K8s becomes more difficult over time.

K8s 1.17 is the current min version for Rook v1.9 and it is becoming difficult to continue support as it is **nine** versions old since 1.25 came out.

As an example, #10699 shows some of the complexity added because of supporting as o

[2022-08-26 17:04] travisn commented on #10792
Reopening to get the psp removed from common.yaml.

[2022-08-26 18:37] travisn commented on #10805
Ceph must have that limit because it's really not designed to run with hundreds of pools and so many PGs. Are you creating so many object stores because you need multitenancy? If so, I'd suggest breaking it down into smaller rook clusters and have multiple rook clusters per K8s cluster.

[2022-08-26 20:02] #10476 closed

[2022-08-26 20:02] #10443 closed

[2022-08-26 21:04] vumrao commented on #10805
Also if the use case is to have multiple ObjectStore daemons (RGWs) to provide more client connections and more parallel work behind LB that is fully supported in standalone Ceph I am not sure if the rook is capable enough to have different objectstorage(RGW) pods using same rgw_realm, zongroup, zones!

[2022-08-26 21:07] vumrao commented on #10805
Just like multiple MGR, MON, OSD, and MDS daemons!

[2022-08-26 21:11] travisn commented on #10805
Rook does allow creating multiple object stores, which will create separate pools and rgw pods for each store. Each object store will have separate realms, zone groups, and zones.

[2022-08-26 21:13] vumrao commented on #10805
Okay, I think then we should open a feature request where if admin/user wants they can have multiple endpoints(RGW PODs) within single realm, zonegroup and zone! FYI @thotz !

[2022-08-27 14:36] polivbr opened #10810 "Optionally include clientID/clientKey and/or adminID/adminKey to secret generated from CephClient"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Optionally include clientID/clientKey and/or adminID/adminKey to secret generated from CephClient.

**What is use case behind this feature:**

This would allow the generated secret to be directly used by the CSI driver without having to extract the key and generate a new secret.

[2022-08-28 12:18] hohoqq commented on #10805
Thank you for your answers!

Yes, we need multitenancy.

According to my calculations, the minimum starting config of each Rook cluster (the sum of the requests of the required pods) is 30 CPU, 80 GB RAM. Recommended (sum of the limits) - 62 CPU, 100 GB RAM. It is very wasteful to maintain such a backend for every 40 object stores.

If multiple object stores within single realm, zonegroup and zone

[2022-08-28 12:35] hohoqq commented on #10805
Perhaps we can move the already created object stores in one realm, zonegroup and zone, crush rule and delete the other ones?

[2022-08-28 20:20] satoru-takeuchi commented on #10160
Some users gave me a hint to reproduce this problem. So keep this issue open for now.

[2022-08-28 21:04] ibotty commented on #10160
Just a note:  I ran into this issue when hitting resource limits.  Raising them allowed the osds to be created in two clusters.

[2022-08-28 21:11] andy108369 commented on #2997
Can confirm.

Once expanded the OSD, don't forget to tell bluestore about this, otherwise the newly added space will get reported as `RAW SIZE` only, without actually letting you use it as available/free space.

[code]

Ignore these errors:

[code]

The reason for these errors is explained [here](https://youtu.be/e0J0gft2jEY?t=779)

cc @travisn

[2022-08-29 11:04] Rakshith-R opened #10812 "CephNFS does not work properly with multus enabled"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
https://github.com/rook/rook/runs/8068748535?check_suite_focus=true
Testing cephnfs with multus fails.

**Expected behavior:**
cephnfs should run successfully with mutlus.

**How to reproduce it (minimal and precise):**

- deploy a multus based ceph cluster
- Apply CephNFS CR

**Logs to submit**:

refe

[2022-08-29 14:45] drohnow commented on #10788
Just checking in on this one.  Any recommendation here?

[2022-08-29 15:42] hohoqq commented on #4780
Another workaround suggested in Slack channel. We need to modify zonegroup in the toolbox container.
[code]

[2022-08-29 15:51] #10698 closed

[2022-08-29 17:18] travisn commented on #10792
Fixed now with #10816, to be backported to v1.9.10

[2022-08-29 17:18] #10792 closed

[2022-08-29 17:37] drohnow commented on #10788
Hi @subhamkrai!  For sure! Here you go:

[rook-ceph-operator-5557df7466-62tqm-previous.log](https://github.com/rook/rook/files/9446787/rook-ceph-operator-5557df7466-62tqm-previous.log)
[rook-ceph-operator-5557df7466-62tqm.log](https://github.com/rook/rook/files/9446789/rook-ceph-operator-5557df7466-62tqm.log)

[2022-08-29 20:54] travisn commented on #10788
@drohnow Rook has a crash collector daemon that watches for the dumps and reports them to ceph, so they can be viewed from the toolbox. Do [these commands](https://docs.ceph.com/en/latest/mgr/crash/) in the toolbox help?

[2022-08-29 21:29] travisn commented on #10796
The [default for the dashboard is `ssl: true`](https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/values.yaml#L128). Is it possible  you didn't override that default during the upgrade? If it reverted to the default, then I could see this happening. Not sure why otherwise.

[2022-08-29 21:32] jhoblitt commented on #10796
I have been setting it to false since, I think, early 1.6.x days and manually creating an ingress resource. For the upgrade to 1.9.9, I switched to using the `rook-ceph-cluster` chart to managing the ingress resource.  The `ssl` flag is being respected in that setting to to false changes the port the pod listens on to 7000 and setting to to true changes it to 8443.  The issue is the mgr process it

[2022-08-29 22:47] drohnow commented on #10788
Specifically this is the

Oh super!  Thanks @travisn.  We will give it a go and get back to y'all.

[2022-08-30 00:25] ruckc opened #10826 "rook-ceph upgrade fails on kubernetes 1.25 with 1.9.10"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Upgrade won't succeed

**Expected behavior:**

Upgrade will succeed

**How to reproduce it (minimal and precise):**
1. With kubernetes cluster at version 1.24
2. Install rook-ceph 1.9.9
3. Upgrade kubernetes to 1.25
4. Attempt upgrading rook-ceph to 1.9.10

**Logs to submit**:

[code]

**Environment**

[2022-08-30 00:26] ruckc commented on #10826
Seems like this is due to helm trying to compare the prior state (which included the PSP) so it can remove it.

[2022-08-30 07:46] parth-gr opened #10829 "Convert all the troubleshooting docs to use the krew plugin,"
Agreed, would be a good to convert all the troubleshooting docs to use the krew plugin, and in a follow-up PR instead of this one.

_Originally posted by @travisn in https://github.com/rook/rook/pull/10768#pullrequestreview-1084343772_

Place to encourage users will be where we are calling to visit the toolbox document,

Like https://rook.io/docs/rook/v1.9/Upgrade/health-verification/#status-outpu

[2022-08-30 08:31] satoru-takeuchi commented on #10219
@Tyler-Cash Sorry for the late reply. I tried to reproduce this problem with your image. However, rook succeeded to initialize an OSD without any problem. My environments are...

- Ceph v16.2.7
- Ceph v1.9.2 and v1.9.3
- Ubuntu 20.04 virtual machine on top of hyper-v
- A 4 TiB virtual disk attached to the above-mentioned VM. The beginning of this disk is filled with dev.img which you provided.

It

[2022-08-30 08:46] satoru-takeuchi commented on #10219
@Tyler-Cash Could you tell me the result of `parted /dev/<raw disk device> p` and from which device you got dev.img?

[2022-08-30 15:18] polivbr commented on #10810
Sorry... I should have been more clear. The CSI driver needs a secret with "clientID" and "clientKey" fields (for static PVs) or "adminID" and "adminKey" (for provisioned PVs). Currently I have to create a CephClient, programatically extract the key from  the generated secret, and write out a new secret with clientID/clientKey fields for the CSI driver to consume. It would be very handy if the sec

[2022-08-30 16:30] travisn commented on #10810
So you are creating the secrets used by the [storage class](https://github.com/rook/rook/blob/master/deploy/examples/csi/rbd/storageclass.yaml#L67-L72)?

Those secrets have "userID" and "userKey" entries such as:
[code]
What if the ceph client CR added those keys to the same secret it's already generating? Or you're asking for a separate secret to be written?

[2022-08-30 16:34] polivbr commented on #10810
Sorry.. my bad. I meant userID/userKey, not clientID/clientKey. I was just thinking they could be written to the same secret that's already being generated. Kills two birds with one stone.

[2022-08-30 16:39] BlaineEXE commented on #10141
I understand from @subhamkrai that there are a lot of pretty big changes caused by updating to a new version. This potentially stands to cause some issues for anything that relies on the upstream v1.10 release, and we've seen a lot of seemingly minor changes cause headaches for dependent entities. I would suggest that we work on this for just the master branch and let it go out with v1.11 to give

[2022-08-30 16:40] travisn commented on #10810
Sure, that seems simple enough just to write two more keys to the same secret.

[2022-08-30 16:43] travisn commented on #10826
@ruckc Did you find a workaround? Not sure what we could do here other than document a workaround.

[2022-08-30 16:47] travisn commented on #10141
The csv generation has mainly only been used for downstream, so perhaps we can learn what other projects are doing downstream as well since that's where we risk breaking something.

Agreed that this work will target 1.11.

[2022-08-30 17:06] ruckc commented on #10826
I have not yet.  Should definitely make recommend upgrading to 1.9.10 prior to upgrading to 1.25.  Still digging into a workaround, so far i'm thinking i'll have to modify the helm release secret to forget about the PSP.

[2022-08-30 20:12] travisn commented on #10809
Based on some discussion, let's start by raising to 1.19 first so it's not such a big jump in v1.10.

[2022-08-30 20:48] andy108369 opened #10835 "the osd resize support for lvm-based OSDs"
I've noticed there is `getExpandPVCInitContainer` function but is only for the `raw` devices, not for the `lvm`:
https://github.com/rook/rook/blob/v1.9.9/pkg/operator/ceph/cluster/osd/spec.go#L503-L530

Please support the osd resize for lvm-based OSDs.

Ref.
- https://github.com/rook/rook/discussions/10214#discussioncomment-3507328

[2022-08-30 21:22] drohnow commented on #10788
@travisn We executed the directions to configure the crash module but received the error below when attempting to fetch the key:

kubectl exec -it deployment/rook-ceph-tools -n rook-ceph -- ceph auth get-or-create client.crash mon 'profile crash' mgr 'profile crash'
**Error EINVAL: key for client.crash exists but cap mgr does not match**

What would be the course of action to recover from this err

[2022-08-31 05:44] #10665 closed

[2022-08-31 08:21] satoru-takeuchi commented on #10665
@cite The fix for this problem was merged into master and was backported to both v1.9 and v1.10 release branch. Please update your hotfix container to the next official release (probably v1.9.11 and v1.10.0 or later).

[2022-08-31 09:42] phifre commented on #10835
Could this be implemented for PVC based **and** host based clusters?

After adding support for lvm host based clusters in 1.9.8 there is to my understanding no way to resize the lv without recreating the osd.

So this should especially be added [here](https://github.com/rook/rook/blob/v1.9.9/pkg/operator/ceph/cluster/osd/spec.go#L528).

[2022-08-31 10:28] #10809 closed

[2022-08-31 15:27] #10743 closed

[2022-08-31 16:30] travisn commented on #10788
Do you see a crash collector pod already running? It should have collected the crashes for you and reported them to ceph. From the toolbox, do other commands such as `ceph crash ls` show info about crashes?

[2022-08-31 16:41] drohnow commented on #10788
@travisn I can see information about crashes: here is command and associated output.

kubectl exec -it deployment/rook-ceph-tools -n rook-ceph -- ceph crash ls-new

2022-08-30T14:58:21.814136Z_a6cf2c04-7018-4f74-9989-e2bf1cc1a83b  client.rgw.rook.ceph.store.a   *
2022-08-30T15:03:40.365653Z_6cf97f14-2995-4182-a451-72f4eb4af359  client.rgw.rook.ceph.store.a   *
2022-08-30T15:08:56.176513Z_24c81c1c-

[2022-08-31 16:48] travisn commented on #10788
Ok great, so that answers your question? You can also get details about each crash with `ceph crash info <crashid>`.

[2022-08-31 18:18] drohnow commented on #10788
Ok, got it.  Here is the crash info (below).  I expected to see information that would allow us to understand the issue; however, I don't see any info that is an indicator of the issue or is actionable.  Any recommendations here?

kubectl exec -it deployment/rook-ceph-tools -n rook-ceph -- ceph crash info 2022-08-30T14:58:21.814136Z_a6cf2c04-7018-4f74-9989-e2bf1cc1a83b

{
    "backtrace": [

[2022-08-31 21:48] leasley199 opened #10851 "monitors keep rebooting and PVC are not being served."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Pods staring post helm deploy, but 2 of the 3 monitor instance keep restarting in error and PVC can not be served. Happening in two seperate K8s Clusters.

**Expected behavior:**
Monitors to become healthy upon initial deployment and storage claims to be deligated to requested pods.

**How to reproduce

[2022-08-31 23:52] szinn opened #10852 "krew rook-ceph health giving warnings when it shouldn't"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]

Note the warnings for the three mons and three osds. As you can see from the k get pods, they are indeed running on 3 different nodes.

As well - the warning message should read 'At least three xxx pods should BE running on different nodes.

**Expected behavior:**

No warnings if all three are

[2022-09-01 00:49] jclab-joseph opened #10853 "error provisioning bucket: Provision: can't create ceph user: no user name provided and unable to generate a unique name: failed to get ceph user"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I've been using S3. But when I try to create a new bucket I get an error.

**Expected behavior:**

**How to reproduce it (minimal and precise):**

[code]

**File(s) to submit**:

Same error as #9625 , but the environment is different.

**operator log: **
[code]

[code]

**Environment**:
* OS (e.g. fro

[2022-09-01 00:49] jclab-joseph commented on #10455
Reopen #10853

[2022-09-01 07:16] subhamkrai commented on #10852
@szinn It is just the way the currently tool logs, it is just a logging issue.
BTW, the issue belongs to the repo https://github.com/rook/kubectl-rook-ceph and I see a similar issue opened there https://github.com/rook/kubectl-rook-ceph/issues/51

Let just continue there and thanks you for trying the tool and opening the issue

[2022-09-01 08:41] zhucan commented on #10853
Please check the rgw ip:port is reachable?

[2022-09-01 08:45] jclab-joseph commented on #10853
rgw is managed by rook-ceph and works as a Kubernetes Pod. So it can be accessed from inside Kubernetes.

[code]

[2022-09-01 09:11] zhucan commented on #10853
it can create bucket normally?

[2022-09-01 09:15] jclab-joseph commented on #10853
The issue is that the bucket cannot be created. The first body of this issue contains the status of CephObjectStore.

[2022-09-01 09:25] zhucan commented on #10853
https://github.com/rook/rook/blob/1283180c7a00903b5388b7822bc9bdd203fb0486/pkg/operator/ceph/object/health.go#L183 it looks like testBucketHealth failed, can you check the user and bucket exists? if the bucket is not exists, please try to create bucket with this user.

[2022-09-01 09:31] satoru-takeuchi opened #10859 "Write down a table in doc to show which configurations are allowed to create osds"
**Is this a bug report or feature request?**
* Feature Request

Write down a table to show the allowed configuration to create osds.

**What should the feature do:**

Provide an easy way to understand whether osds can be created on top of their devices with their configuration in the CephCluster resource.

- osd on device or on PVC
- on top of raw disk, part, lv, mpath, and crypt
- with metadata d

[2022-09-01 10:52] andy108369 commented on #10160
Can confirm... `400Mi` limit appears to be too small. (My disks are of 7 TiB each, but that's probably not related to that).

So changing the [`prepareosd`](https://github.com/rook/rook/blob/v1.9.9/deploy/charts/rook-ceph-cluster/values.yaml#L259-L262) resource limit fixes that.

Fix:

[code]

With the default `400Mi` it gets OOM-killed:

[code]

Default is `400Mi`:

[code]

[2022-09-01 10:52] andy108369 commented on #10219
I've just had the same issue, fixed by https://github.com/rook/rook/issues/10160#issuecomment-1234103306

and yeah, `_read_fsid unparsable_uuid` is not an error on its own.

rook-ceph 1.9.9

[2022-09-01 12:00] qinzl commented on #10650
@travisn Sorry for reply late, Thanks a lot for your help.
I have upgrade rook from 1.8.0 to 1.9.10 to verify this case. The operator still can't self-recovery.

**reproduce steps:**

1) make sure ceph cluster is heath,

2) deny one mon-h host network to simulate the host disconnect from cluster

[code]

3) wait a few minute to trigger failover

In version 1.8.0, after 10 minutes timeout, the time

[2022-09-01 13:31] lerminou opened #10860 "Cluster unavailable after node reboot, symlink already exist"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I'm using Rook Ceph with specifics devices, identified by ids
[code]

Linux disk letter sdX can change when rebooting, and should not break the application
Actually, when starting the OSD, the init container `activate` detects the right new disk, but a symlink is already present to the old one

[code]

[2022-09-01 14:22] #10370 closed

[2022-09-01 14:25] travisn commented on #10531
I would think the INPUT_FILE is a temporary file that has the settings to be applied, then it's deleted after the assimilate-conf command is run.

[2022-09-01 14:38] BlaineEXE commented on #10531
That was my thinking as well. It should be a temp file. And the OUTPUT_FILE should be cleaned up as well.

[2022-09-01 14:40] subhamkrai commented on #10531
That sounds good, will start working on this

[2022-09-01 15:06] #10361 closed

[2022-09-01 15:30] #10747 closed

[2022-09-01 19:48] andy108369 opened #10872 "rook-ceph can't create `osd.0` and yet it says "entity osd.1 exists but key does not match","
rook-ceph 1.9.9 with cephVersion: 17.2.0 (first stable Quincy release)

## History
- have upgraded rook-ceph from 1.7.4 to 1.9.6 and then 1.9.9;
- have previously had `osdsPerDevice: 3` and have scaled this down to `osdsPerDevice: 1` using this procedure I wrote https://gist.github.com/andy108369/0ca177fb2ecd9f9d8fb2f427c971c830 ;
- at some point of time, I think I've scaled Ceph Operator to 0 too

[2022-09-01 19:50] andy108369 commented on #10872
Humm, after `ceph auth rm osd.1` (even that `osd.1` was not present upon `ceph osd tree`) it moved few things, now am having 2 more OSD's which are `down`:

[code]

[2022-09-01 19:56] andy108369 commented on #10872
Have found about 5 stale auth's using `ceph auth ls`.
I think these are the leftovers when I've scaled down the Rook Ceph Operator too early..

Have removed the stale ones with `ceph auth rm osd.<id>`, cleared the disks.. restarted Rook Ceph Operator..

And, lo and behold, things are looking way better now! :)

Just that one node - k8s-node-6 has 1 less OSD.. gonna clear the VG/PV and recreate it.

[2022-09-01 19:57] #10872 closed

[2022-09-01 20:29] travisn commented on #10851
Wow, you've had a lot of mon failures if your mon IDs are up to eq, ev, and ew. This typically indicates a configuration issue with the network, try checking the [Ceph network requirements](https://docs.ceph.com/en/latest/rados/configuration/network-config-ref/). While you're investigating your network config, you might also see if it helps to disable or change the params for the [liveness probes]

[2022-09-01 20:34] travisn commented on #10788
hmm, the backtrace is certainly not helpful. All of the traces are this unhelpful?

[2022-09-01 20:53] drohnow commented on #10788
Yes, unfortunately.  Any other recourse or recommendation on how to 1) remediate the crash and/or 2) understand root cause

[2022-09-01 22:31] travisn commented on #10650
Ok, good to see your confirmation that by removing the duplicate entry from the ceph.config, the operator was able to recover. Avoiding the duplicate entries would be a small fix in the case of host networking.

[2022-09-02 02:26] jclab-joseph commented on #10853
I checked the bucket list with the `radosgw-admin buckets list` command, but the bucket I am trying to create is not created.
And also I checked the user list with the `radosgw-admin user list` command, but the user "ceph-user-7KcWGlvh" shown log does not exists.

[code]

Sorry, but I don't know how to create one.

[2022-09-02 09:47] microyahoo commented on #4078
It comes to normal after fix clock skew.

[2022-09-02 10:06] manikanth04 commented on #10829
@parth-gr I am interested to work on this. Could you please assign this issue to me

[2022-09-02 10:07] manikanth04 commented on #10810
@travisn I am interested to work on this.

[2022-09-02 10:21] parth-gr commented on #10829
For sure, thanks for taking this up!!

In future you can also use auto assign issues by https://github.com/parth-gr/rook/pull/1 `/assign`

[2022-09-02 12:47] leasley199 commented on #10851
@travisn problem with the liveness probe option is that it just silents the mon pods as opposed to resolving the problem. We are using cilium CNI and 3 of of the 5 clusters we have built work with no issues for rook-ceph, which is weird. Also, yea haha eq - ew mons; not sure why but it decided to deploy out of box with those tags. Do you know what requirements need to be met for K8s networking, we

[2022-09-02 13:26] travisn commented on #10829
@manikanth04 Before you start updating the docs, I would suggest that we discuss here which specific changes to make in the docs, and will be good as small PRs instead of one big change to the docs. Thanks for working on this!

[2022-09-02 14:23] travisn commented on #10851
Yes, changing the liveness probe is just a workaround to see if it helps temporarily.

You don't know of any difference between the clusters? I wonder if there is some obscure network setting that is different and causing the problem.

If the cluster has been running for a while on the flaky network, rook could have easily arrived at those mons after many failovers.

The Ceph network doc linked in

[2022-09-02 15:11] drohnow commented on #10788
@travisn Just checking in hear as we continue to see the seg fault but the crash dumps are not revealing anything meaningful.

Here is the latest error message from the rgw pod logs:
grep -irn seg rook-ceph-rgw-rook-ceph-store-a-5dd9d75d8f-tgmmt
rook-ceph-rgw-rook-ceph-store-a-5dd9d75d8f-tgmmt/rgw.log:35:*** Caught signal (Segmentation fault) **
rook-ceph-rgw-rook-ceph-store-a-5dd9d75d8f-tgmmt/rgw

[2022-09-02 15:22] drohnow commented on #10788
@travisn I am re-reading the crash module documentation; my understanding is that the crash info command (ceph crash info <crashid>) only provides the summary of the crash. How do we get to the meta file to see the contents of the crash dump?  (doc says run this command:  ceph crash post -i <metafile>).

However we received an error when we ran this command (see above as well):

kubectl exec -it d

[2022-09-02 21:19] travisn commented on #10169
#10190 is in progress

[2022-09-03 20:02] #10499 closed

[2022-09-04 15:13] microyahoo commented on #10860
The drive symbol may change due to disk replacement or re-plugging, etc., but the `path id` of the same disk will not change. Is it possible to use `path id` instead of drive symbol when executing ceph commands? @satoru-takeuchi

[2022-09-04 16:18] microyahoo opened #10888 "ceph cluster created a redundant osd, the status is down"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Under normal circumstances, only 6 osds should be created, but currently 7 are created, and one is empty.

**Expected behavior:**

**How to reproduce it (minimal and precise):**

It's unclear how to reproduce

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if n

[2022-09-04 17:08] lerminou commented on #10860
Or maybe force the symlink or remove the old one, if not possible in the ceph command?

[2022-09-04 20:03] #10509 closed

[2022-09-05 08:54] satoru-takeuchi commented on #10860
@microyahoo Although I don't recall the reason now, we should use kernel name here. I'll investigate how to resolve/mitigate your issue.

@lerminou Thank you for your hint. I'll check whether your suggestion work. It might cause a kind of race.

[2022-09-06 10:28] kycfeel commented on #2997
Thanks, @andy108369.

I was having the exact same issue and was able to fix it by running the `ceph-bluestore-tool` as you mentioned.

For those ones who are wondering how to run the `ceph-bluestore-tool` on the Kubernetes rook-ceph environment, you could modify the `deployment` of your OSDs to add it as an `initContainer`.

[code]

Volla.

[2022-09-06 11:44] SPodjasek opened #10894 "rook-ceph-cluster chart uses wrong provisioner for objectStore `StorageClass`"
**Is this a bug report or feature request?**
* Bug Report

This issue was already described, discussed and closed in #10153 - but it still exists, so IMHO changes introduced in 36a93745553f624f92b0dfbe59f8492677635de7 break things now.

**How to reproduce it (minimal and precise):**

1. Deploy operator to default namespace `rook-ceph`
2. Deploy cluster chart to different namespace (ex. `cluster-na

[2022-09-06 12:06] Rakshith-R opened #10895 "csi: add NFS snap, clone e2e"
Please have a TODO to add E2E test cases for this

Depends on: #10518

_Originally posted by @Madhu-1 in https://github.com/rook/rook/pull/10892#pullrequestreview-1097435758_

[2022-09-06 12:22] subhamkrai opened #10896 "CI random failure where using `working-directory`"
CI randomly failure where we are using `working-directory` key with this error
[code]

seems like this field is not required anymore.

action runner link https://github.com/rook/rook/runs/8183513355?check_suite_focus=true

[2022-09-06 14:07] travisn commented on #10894
Did you set the `operatorNamespace` in the chart values? The default for that setting is the same namespace as the object store, but you will need to set it to the other namespace. This setting is picked up by the storage class [here](https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/templates/cephobjectstore.yaml#L16).

[2022-09-06 14:35] SPodjasek commented on #10894
Yes it's set to `rook-ceph`.
Maybe I've understood the comment above it wrong:
[code]
so I thought it refers to namespace where [Rook Ceph Operator](https://rook.io/docs/rook/v1.9/Helm-Charts/operator-chart/) is deployed, not the namespace where I want my cluster and resources to be deployed....

[2022-09-06 14:45] SPodjasek commented on #10894
Looking at the docs further:

So in my case, operator was installed in default namespace `rook-ceph` so the value was set correctly.

But the operator won't work with provisioner `rook-ceph.ceph.rook.io/bucket` (as set by chart values), only `cluster-namespace.ceph.rook.io/bucket` works.

[2022-09-06 15:15] #10896 closed

[2022-09-06 16:48] travisn commented on #10894
I see, the object provisioner prefix should be the namespace of the object store. @BlaineEXE Is that correct?

This is different from the rbd, cephfs, or nfs storage classes which use the operator namespace as the prefix.

[2022-09-06 16:52] drohnow commented on #10788
@travisn Just checking for an update.  Thx.

[2022-09-06 16:52] #10372 closed

[2022-09-06 17:30] BlaineEXE commented on #10894
Yes, I believe the prefix should be the cluster namespace, not the operator namespace. From what I can tell, I think the bucket controller watches for new ceph clusters and then that controller spins up bucket provisioner routines for each cluster.

[2022-09-06 17:40] BlaineEXE commented on #10894
@SPodjasek would you like to validate the fix in #10904 before it's merged?

[2022-09-06 17:59] travisn commented on #10888
Could you share the osd-prepare log that shows where osd-2 was created? Is there an osd-2 pod? Or just the down osd according to ceph?

Not sure it's related, but it's unexpected that the `ceph osd tree` doesn't show that the OSDs belong to a host. For the OSDs that are up, at least they should all show up under a host instead of just directly on the default `root`. The OSD pod spec for one of tho

[2022-09-06 18:59] tonygilkerson opened #10905 "Need ability to set the priorityClassName on the rook-ceph-tools pod created by the operator"
* Feature Request

**What should the feature do:**

Allow the user to specify `priorityClassName` in a `values.yaml` file when doing a `helm install` of the operator chart located here `https://charts.rook.io/release`

The following values already exist for a similar purpose in the chart's `values.yaml`:
[code]

so maybe all that is needed is something like:

[code]

**What is use case behind this

[2022-09-06 19:45] travisn commented on #10905
Did you enable the `toolbox.priorityClassName` property in [this example](https://github.com/rook/rook/blob/release-1.10/deploy/charts/rook-ceph-cluster/values.yaml#L34-L35)?

[2022-09-06 20:02] #10534 closed

[2022-09-06 20:02] #9961 closed

[2022-09-07 04:21] t3hmrman commented on #10623
Just commenting to confirm @Madhu-1's comment, I needed to restart the CSI provisioner pod after creating a CephFS filesystem & storageclass:

[code]

[2022-09-07 04:59] Madhu-1 commented on #10623
@t3hmrman Yes, let me see if can make fix this one and avoid restarting the csi provisioner.

[2022-09-07 05:03] subhamkrai commented on #10852
will be fixed in rook-ceph krew repo, pr link https://github.com/rook/kubectl-rook-ceph/pull/55

[2022-09-07 06:46] Madhu-1 commented on #10623
https://github.com/ceph/ceph-csi/pull/3375 make thins better.

[2022-09-07 06:46] Madhu-1 commented on #10623
This will be available in 3.7.2 release (next week)

[2022-09-07 08:06] SPodjasek commented on #10894
@BlaineEXE Yes it works after using chart from this PR

[2022-09-07 10:03] parth-gr commented on #10812
./assign

[2022-09-07 10:33] Rakshith-R opened #10907 "add e2e for cluster wide KMIP encryption with pykmip"
This issue is to track e2e for cluster wide KMIP encryption with pykmip.

This is a follow-up of https://github.com/rook/rook/pull/10889

[2022-09-07 11:58] cy-ddg opened #10910 "insecureSkipVerify not respected in bucket provisioner"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Creating an ObjectBucketClaim for an object store with external Let's Encrypt certificate does not result in creation of ObjectBucket even though insecureSkipVerify is set in certificate.

**Expected behavior:**
ObjectBucket should be created

**How to reproduce it:**
I took a look at the code in https

[2022-09-07 12:03] satoru-takeuchi opened #10911 "failed to create an encrypted osd on part"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Failed to create an encrypted OSD on a partition with the following storage configuration.

[code]

Originally reported in the following slack discussions.
https://rook-io.slack.com/archives/CK9CF5H2R/p1661341359420179
https://rook-io.slack.com/archives/CK9CF5H2R/p1661001784710299

We should skip crea

[2022-09-07 14:01] Hello-Linux opened #10914 "Ceph dashboard not showing up"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**
kubectl get service -n rook-ceph
![1662559258863](https://user-images.githubusercontent.com/17851645/188897600-7bab7973-27da-4a16-b73b-964f85b78bfc.png)

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary

[2022-09-07 14:27] #10655 closed

[2022-09-07 14:28] #10894 closed

[2022-09-07 14:54] samos667 commented on #2997
Hi, i have use your example:
I stopped the OSD with kubectl -n rook-ceph scale deployment rook-ceph-osd-<id> --replicas=0
After i increment the disk in proxmox to add 50Gb
I check if fdisk -l show the correct new size
![image](https://user-images.githubusercontent.com/50653464/188909937-625ffbb3-8d85-44a9-a28c-a7adcd46ddd1.png)

I get the deployment YAML of the OSD with kubectl -n rook-ceph get de

[2022-09-07 22:11] tylerauerbeck opened #10924 "docs: Update docs to point to where encryption keys are actually stored"
**Is this a bug report or feature request?**
* Bug Report

https://rook.github.io/docs/rook/v1.9/Storage-Configuration/Advanced/key-management-system indicates that the encryption secrets are stored in a kubernetes secret (when not using a key management system). However, that is currently not the case. According to a slack conversation

[code]

**Deviation from expected behavior:**
encryption sec

[2022-09-07 22:45] travisn commented on #10914
@Hello-Linux Try accessing the dashboard by creating another service instead of using the internal cluster ip. See the [external access dashboard topic](https://rook.io/docs/rook/latest/Storage-Configuration/Monitoring/ceph-dashboard/#viewing-the-dashboard-external-to-the-cluster).

[2022-09-08 02:01] Hello-Linux commented on #10914
@travisn  Hello, I am referring to the nodeport type service created by this tutorial. not use the internal cluster ip , My host has a public network ip address, which is directly mapped to the port address on the node . The access method always jumps to the address inside the pod，and my config is below, Why is the public network address of my browser accessing the node transferred to the internal

[2022-09-08 02:02] little-guy-lxr opened #10926 "discover devices udevadm cmd not wait result in zombie process"
os found zombie process that is caused by udevadm cmd not wait

[code]

[2022-09-08 02:26] GounGG opened #10928 "Why is the osd pod not created?"
using rook-ceph and rook-ceph-cluster deployment,The deployment is normal, and the osd prepare is also normal, but the osd pod is not created。

k8s: v1.18.17
os: 3.10.1160(centos 7)
chart: v1.10.0

pod rook-ceph-osd-prepare log:
[code]

cluster:
[code]

pod:
[code]

[2022-09-08 04:38] gouki777 opened #10929 "mgr not created"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
* The operator is stuck, mgr is never created

**How to reproduce it (minimal and precise):**
* I don't know, i just have follow the quickstart
* no mgr pod
[code]
**File(s) to submit**:
[code]

**Logs to submit**:

*** Operator's logs, if necessary : ***
* https://pastebin.com/7uf6bNe6
*** Mon pod(s)

[2022-09-08 07:47] samos667 opened #10930 "Raw OSD increment not add as available space but as taken"
* Bug Report

**Expected behavior:**
When i increment RAW virtual disk in proxmox of the OSD, the size incremented is not added as available but as taken.

**How to reproduce it (minimal and precise):**
Deploy rook-ceph with HELM on 6 proxmox VM. With the default configuration. Each kubernetes worker need to have 1 disk unused for rook can use it as OSD.
In my setup, disks are virtualized with Vir

[2022-09-08 10:29] yajo opened #10932 "csi-cephfsplugin fails on NixOS"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Fails when host OS is NixOS.

Basically, this is the resurrection of https://github.com/rook/rook/pull/2190. That PR fixed the problem for old flex volumes mode, but with new CSI mode the problem is happening again. In 0a0b9c98bd809fbfd70ad629c2b6683803879d17 the fix was deleted, and thus here we have

[2022-09-08 11:24] yajo commented on #10932
Yes, please.

FWIW I managed to workaround it by applying this [patch](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/) after rook is deployed:

[code]

My guess is that NixOS will always need some specific details like this. I wouldn't be surprised if I find more similar scenarios.

Do you think it'd be helpful to add some flag to the helm chart such as

[2022-09-08 11:28] Madhu-1 commented on #10932
Not possible to have auto detection but we can make `/run/current-system/kernel-modules/lib/modules/` as configurable but why do you need `/nix/store` to be mounted?

[2022-09-08 11:37] yajo commented on #10932
It's because `/run/current-system` is a symlink to a built derivation. And possibly some paths inside of it are other symlinks. And those point always to resources found under `/nix/store`, using absolute paths. If I don't mount `/nix/store`, then all symlinks will be broken inside the pod.

Basically that's how NixOS works and why it's so special. It builds everything inside `/nix/store` using ab

[2022-09-08 13:41] xuanhr commented on #8023
****

same as me

[2022-09-08 14:24] diamonwiggins commented on #10788
Hello 👋 . I'm working with @drohnow on this issue and just an FYI that our customer in this case is considering reinstalling. If we can't get the next steps for gathering the core dump or any diagnostic information before then, we'd still be interested in knowing so we can update our docs in case something like this happens again.

[2022-09-08 14:33] malayparida2000 opened #10935 "Support for Topolgy based provisoning"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
We are adding support for Replica-1 Non-Resilient pools for ocs/odf.

But we currently don't have support from rook side, for it.
So we have to manually patch things like rbac cluster roles & deployments to get the thing working.

We are using this.

`#Patch rbacs
CLUSTER_ROLE1=$(kubectl get clusterrole

[2022-09-08 15:00] travisn commented on #10935
@Madhu-1 @Rakshith-R These changes would be needed to the csi rbac and csi pod specs. Who could take this?

[2022-09-08 15:23] travisn commented on #10928
The log shows the devices can't create new OSDs:
[code]

Was this a reinstall? You may need to [wipe the disks](https://rook.io/docs/rook/latest/Storage-Configuration/ceph-teardown/#zapping-devices).

[2022-09-08 15:25] microyahoo commented on #10888
[osd-prepare.log.tar.gz](https://github.com/rook/rook/files/9528133/osd-prepare.log.tar.gz)
Sorry for delay. The attachment is osd prepare log.

there is no osd-2 pod, just a osd.2 with down status.

We have custom the crush root and set ceph.conf with `osd crush update on start = false`

[2022-09-08 15:29] gauravsitlani commented on #10788
Hi @diamonwiggins i can share the steps for gathering coredump

[2022-09-08 15:33] microyahoo opened #10936 "ceph osd crash with `ceph_assert_fail` and `segment fault`"
**Is this a bug report or feature request?**
* Bug Report
one osd crash with the following trace:
[code]
Another osd has down again with `segmentaion fault`
[code]

**Deviation from expected behavior:**
ceph osd crash

**Expected behavior:**
osd works well

**How to reproduce it (minimal and precise):**

not sure how to reproduce

**File(s) to submit**:

* Cluster CR (custom resource), typically c

[2022-09-08 15:40] gauravsitlani commented on #10788
@diamonwiggins is the process continuously segfaulting or you're trying to collect it on a live running process ?

[2022-09-08 15:51] microyahoo commented on #10936
host:
[code]
We have a total of 9 machines for deploying ceph, where each machine has 1 ssd + 9 hdd disks, for a total of 108 osds.
The 9 osds of SSD type correspond to a crush root, and the remaining osds correspond to a crush root. These two crush roots are used to create the `object store` respect to metadata pool and data pool.
The following is osd crash log:
[node03.osd_crash.tar.gz](https://

[2022-09-08 16:06] subhamkrai commented on #10852
closing this since the latest krew release has this fix.

[2022-09-08 16:06] #10852 closed

[2022-09-08 17:04] travisn opened #10939 "Latest docs point to either 1.9 or 1.10, depending on which one was pushed most recently"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The [latest rook docs link](https://rook.io/docs/rook/latest-release/), which is used from the main rook website, will point to either v1.9 or v1.10, depending on which branch was pushed most recently. At this moment, the link points incorrectly to v1.9.

**Expected behavior:**
While we could backport

[2022-09-08 17:35] travisn commented on #10929
The mons are not forming quorum. The operator shows it is waiting for quorum:
[code]

The mon-a log shows only itself is in quorum:
[code]

This usually indicates a networking error. See the [troubleshooting guide](https://rook.io/docs/rook/v1.10/Troubleshooting/ceph-common-issues/#monitors-are-the-only-pods-running).

[2022-09-08 22:18] travisn commented on #10888
I don't see any indication in the osd prepare logs of osd.2 either. If you can't repro, I'd suggest just [purging the osd.2](https://rook.io/docs/rook/latest/Storage-Configuration/Advanced/ceph-osd-mgmt/#remove-an-osd).

Ok, makes sense

[2022-09-08 22:23] travisn commented on #10936
@rzarzynski Any insights to this osd call stack?

[2022-09-08 22:27] travisn commented on #10914
Looks like the address to the nodeport should be https://10.68.0.166:30770. The browser is updating that to 10.68.110.110:8443? I don't see in your example where the other endpoints come from.

Does `curl -k https://10.68.0.166:30770` respond with the dashboard or does it see the same behavior?

[2022-09-08 23:43] vumrao commented on #10936
I think we saw the first one mentioned in this tracker, once here - https://tracker.ceph.com/issues/52464.

@microyahoo can you please also provide the backgroun what you mentioned in the slack, like the changes you were making and after that you started seeing this issue.

[2022-09-09 01:02] microyahoo commented on #10936
The only thing I have done is to delete device_health_metrics pool and recreate it through ceph command. As mentioned in the above, I am not used default crush root.
After done that, two osds crashed one after another.

[2022-09-09 02:10] Madhu-1 commented on #10935
@Rakshith-R can you please help here

[2022-09-09 02:31] microyahoo commented on #10936
The crash osds log: [osd.log.tar.gz](https://github.com/rook/rook/files/9531857/osd.log.tar.gz)

[2022-09-09 05:22] Hello-Linux commented on #10914
@travisn  the service type is nodeport and the address should be 172.31.5.140:30770, not https://10.68.0.166:30770, and my node public ip is 123.123.123.123,so I should use 123.123.123.123:30770 to access the dashboard,but the browser rewrite to internal pod ip, and I use 172.31.5.140:30770 to access the dashboard is working,but use public ip will rewrite!! why?

[2022-09-09 08:19] #10926 closed

[2022-09-09 10:47] Rakshith-R opened #10944 "Documentation Support for Topology based provisioning"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
We are adding support for Replica-1 Non-Resilient pools for ocs/odf.

But we currently don't have support from rook side, for it.
So we have to manually patch things like rbac cluster roles & deployments to get the thing working.

We are using this.

    #Patch rbacs
    CLUSTER_ROLE1=$(kubectl get clus

[2022-09-09 10:54] subhamkrai commented on #10944
@Rakshith-R isn't this issue similar to #10935 ?

[2022-09-09 11:06] Rakshith-R commented on #10944
That issue will have only code changes, this issue is to track the doc changes as followup pr.

cc @malayparida2000

[2022-09-09 12:34] malayparida2000 commented on #10944
/assign

[2022-09-09 15:50] travisn commented on #10914
Does the mgr pod log show the dashboard request even when the endpoint is rewritten? If the request is not in the log, there must be some routing issue outside the mgr's control.

[2022-09-09 17:13] gouki777 commented on #10929
thanks~

[2022-09-09 17:13] #10929 closed

[2022-09-09 18:29] gouki777 opened #10947 "rook-ceph-osd-prepare-set1-data status Pending"
**Deviation from expected behavior:**

rook-ceph-osd-prepare-set1-data status Pending

**Expected behavior:**
rook-ceph-osd-prepare-set1-data status running
I don't know, How to modify the configuration cluster-on-local-pvc.yaml

**How to reproduce it (minimal and precise):**
I just have follow the quickstart.

[code]

**File(s) to submit**:
* cluster-on-local-pvc.yaml
[code]
**Logs to submit**:

[2022-09-09 20:30] travisn commented on #10947
What is the status of the `PersistentVolume`s created in cluster-on-local-pvc.yaml? They must not be binding to the PVCs requested by Rook for the OSDs. Did you also update the PVs for the host names and devices on your nodes? For example, this example likely doesn't match your cluster:
[code]

[2022-09-09 20:34] travisn commented on #10930
@samos667 Do the OSD pod specs have an init container that expands the size of the OSD? The command of the container would be `ceph-bluestore-tool` and an arg: `bluefs-bdev-expand1`. If so, it is expected to expand. If not, sounds like a bug that the init container is missing.

[2022-09-10 20:02] #10548 closed

[2022-09-10 20:02] #10434 closed

[2022-09-11 03:12] gouki777 commented on #10947
I have N nodes. I see on node21 showing that the binding succeeded.

Pv is bound to three units( node 21,29,30)

rook-ceph-operator-log     // It is normal to view rook-ceph-operator-log
https://pastebin.com/J0e8Mbwn
[code]

[2022-09-12 05:21] sp98 commented on #10947
Looks like you are using a local `storageClass` (`ceph-storage`).
I'm assuming that it uses static provisioning and the volumes `local0-0, local1-0, local2-0 ` were created manually before rook was deployed.

All the three volumes (local0-0, local1-0, local2-0) have been used by mon.  There are no volumes left to be utilized by osds.
I think you might need to create more volumes (PVs) for the osds

[2022-09-12 07:25] samos667 commented on #10930
No, there is no init container to run ceph-bluestore-tool.

`apiVersion: v1
kind: Pod
metadata:
  annotations:
    cni.projectcalico.org/containerID: 6b329cc7dd7b35d3b8dfe02282a0f2d273bbb575b0ffdd3b3d12eb4e2adb2fe8
    cni.projectcalico.org/podIP: 10.10.186.131/32
    cni.projectcalico.org/podIPs: 10.10.186.131/32
  creationTimestamp: "2022-09-08T07:37:30Z"
  generateName: rook-ceph-osd-2-78c9b4cc

[2022-09-12 07:29] samos667 commented on #10930
No, there is no init container to run ceph-bluestore-tool command.

[Here ](https://gist.github.com/samos667/574ce39fb129250897800006ae050ccd#file-osd-pod-2-yaml) a dump of my pod YAML.

[2022-09-12 07:32] satoru-takeuchi commented on #10930
@samos667 @travisn ok, i'll try to reproduce this problem.

[2022-09-12 09:26] smsmsajjad commented on #4410
kubectl patch crd/cephclusters.ceph.rook.io -p '{"metadata":{"finalizers":[]}}' --type=merge

[2022-09-12 11:55] andy108369 commented on #10930
I think that's when a single drive gets split into a more than 1 OSD, so the LVM gets there, leading to https://github.com/rook/rook/issues/10835

[2022-09-12 13:14] samos667 commented on #10930
@andy108369 Each OSD are on unique drive. Its 3 node proxmox cluster and worker are split on each of them. So each OSD are provided by different disk.

But i have a question about this, proxmox provide virtual disk with LVM and interface it with virtIO. And in my VM, disks are announced as /dev/vdX. I don't know if Ceph "see" it as LVM-based because of this.

[2022-09-12 13:57] galexrt commented on #10939
@travisn We could go back to the previous "is this the latest release branch" and change the `sort` command.

[code]

I can submit a PR for this, though for prerelease version branches we would need an additional check there (or we'll just write a script that handles that logic). What do you think?

[2022-09-12 14:09] samos667 commented on #10930
https://asciinema.org/a/uTGG829bLYJUDTyIu3B2yXFnb

[2022-09-12 14:27] cccsss01 opened #10953 "Create clear uninstall/clean documentation"
Currently it is difficult to find the uninstall/clear rook, and clean the disk.

Creating a separate tab in the left pane of https://rook.io/docs/rook/v1.10/Troubleshooting could be ideal.

But I believe this should be as common as the install, is the uninstall/restore as well.  I think having it in two locations troubleshooting and https://rook.io/docs/rook/v1.10/Getting-Started would be great.

[2022-09-12 14:30] travisn commented on #10939
After I submitted #10871 and backported it to the branches, I was thinking that it was actually very simple that way since mergify makes it so easy to backport. If we had a different behavior in the prerelease branch, IMO it would be more complicated than just backporting the update to the `LATEST_DOCS_BRANCH=release-1.10`. Sound good if I just close this issue?

[2022-09-12 14:31] tadrian88 commented on #5065
Encountered this issue but resolved it like this:

VXLANCrossSubnet - pods weren't able to talk to each other.
After switching encapsulation to VXLAN, everything started to work correctly.

More info here:  https://github.com/projectcalico/calico/issues/6568

[2022-09-12 15:52] avanthakkar commented on #10783
/assign @avanthakkar

[2022-09-12 16:09] travisn commented on #10953
Have you found the [cleanup guide](https://rook.io/docs/rook/latest/Storage-Configuration/ceph-teardown/) in the Storage Configuration tab? Agreed it can be difficult to find though.

[2022-09-12 16:39] microyahoo commented on #10936
@travisn @rzarzynski any progress?

[2022-09-12 17:21] travisn commented on #4410
See the latest Rook documentation on [removing finalizers](https://rook.io/docs/rook/latest/Storage-Configuration/ceph-teardown/#removing-the-cluster-crd-finalizer) as well.

[2022-09-12 19:42] #10415 closed

[2022-09-12 20:00] cccsss01 commented on #10953
Yep, i've found it.  I believe that's an important peace that should warrant it's own tab in the left pane, and/or top pane.

[2022-09-12 20:02] #10557 closed

[2022-09-12 20:02] #10538 closed

[2022-09-12 20:29] cccsss01 opened #10958 "Unsure if bug or feature request"
https://rook.io/docs/rook/v1.10/CRDs/Object-Storage/ceph-object-store-crd/
Selecting Pool CRD sends you to Block Pool CRD, as I'm looking at Object storage, and not Block Storage, I am not confident this is correct.

If this is correct, simply labeling the link Pool CRD to Block Pool CRD would be beneficial, as well as a note, stating they use the same CRD's.

[2022-09-12 20:29] travisn commented on #10525
@CO-lhageman @orelops Is this still an issue for you? We just haven't been able to repro, and no other reports of this issue.

[2022-09-12 20:38] travisn commented on #10958
Yes, the Pool CRD refers to the Block Pool CRD.

[2022-09-12 20:59] travisn commented on #10953
I could vote for moving the Cleanup page from the `Storage Configuration` tab to the `Getting Started` tab, as the last topic on the page. That would be more discoverable than buried in the storage config. @galexrt wdyt?

[2022-09-12 21:36] travisn commented on #10619
Per discussion with @BlaineEXE, an improvement on the proposal would be to only mark the specific OSD IDs as `noout` for which upgrade is actively in progress. If an OSD has not yet been upgraded or is completed upgrade, `noout` should not apply to it.

Once implemented, this seems like a reasonable behavior and I don't know why we would need to make a setting available to disable it. One case cou

[2022-09-12 22:11] cccsss01 commented on #10953
I'd prefer both

On Mon, Sep 12, 2022, 3:59 PM Travis Nielsen ***@***.***>
wrote:

[2022-09-13 00:45] voarsh2 commented on #3832
So, are you saying my only option is to delete my rook-ceph-block storageclass and recreate it with the mount discard option?

[2022-09-13 02:35] voarsh2 commented on #10391
From this link, https://rook.io/docs/rook/v1.9/Storage-Configuration/Ceph-CSI/ceph-csi-drivers/#csi-addons-operation, I see it only mentions one target PVC per cron job. I'd like it to be done for all PVC's. I have 60+. Would be painful to set this up for all one them individually? Any ideas?

[2022-09-13 02:42] shangjin92 commented on #10110
Is there any update on this issue? I have a similar issue as this.

[2022-09-13 04:03] Madhu-1 commented on #10391
Please try annotation way of reclaiming the space https://github.com/csi-addons/kubernetes-csi-addons/blob/v0.5.0/docs/reclaimspace.md#annotating-perstentvolumeclaims

[2022-09-13 04:06] Madhu-1 commented on #3832
@voarsh2 you can make use of reclaimspace functionality provided by csi-addons

[2022-09-13 05:26] sp98 commented on #10947
@gouki777 any updates on this issue?

[2022-09-13 09:53] satoru-takeuchi opened #10964 "CI failed because actions-setup-minikube failed to extract crictl"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Sometimes CI failed because actions-setup-minikube failed to extract crictl.

https://github.com/rook/rook/actions/runs/3039246303/jobs/4903811060#step:3:203

In this case, arm64 `ubuntu-focal-aarch64-01` runner is used.

@travisn @subhamkrai I guess the root cause is that the self-hosted- runner used

[2022-09-13 10:42] advancedwebdeveloper commented on #10798
With respect to you claimed.

and

[2022-09-13 11:36] thotz commented on #10640
@BlaineEXE: I am trying to understand the underlying here, Here zones will be created after creating pools, so if operator restarts how it results in creating zone without creating pools.
[code]

[2022-09-13 13:30] travisn commented on #10964
@satoru-takeuchi Thanks for looking at this, do you want to open a PR or should @subhamkrai look at it?

[2022-09-13 13:49] satoru-takeuchi commented on #10964
@travisn This problem can't be resolved only by PR. We need to change the label of `ubuntu-focal-aarch64-01` self-hosted runner. Probably only Red Hat guys can access this runner. I can't access "settings" tab of rook repo.

https://docs.github.com/en/actions/hosting-your-own-runners/using-labels-with-self-hosted-runners

[2022-09-13 13:57] parth-gr opened #10971 "CI: Has health warning most of the time"
**Is this a bug report or feature request?**
* Bug Report
* CI has ceph cluster heath warning always
 `ceph-cluster-controller: Health: "HEALTH_WARN", code: "MON_DISK_LOW", message: "mon a is low on available space"`
**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called

[2022-09-13 14:58] BlaineEXE commented on #10640
After poking through the code, you are right. It's not an idempotency issue, but the pools still won't be updated if a user changes the pool spec. I'll rename the issue and change the description.

[2022-09-13 15:33] BlaineEXE commented on #10619
Yes. I was thinking a bit more, and it may be good for Rook to look at the ceph config dump and unset any `noout`, `nodeep-scrub`, and `noscrub` settings set for individual OSDs before every OSD reconcile so that we avoid any corner cases where the operator might crash immediately after updating an OSD but before the `noout` etc are unset and accidentally leave them all set.

[2022-09-13 15:45] parth-gr commented on #10964
[mon]
 mon compact on start = true

[2022-09-13 15:52] BlaineEXE commented on #10619
I wonder if managing `noout` from OSD reconciliation and PDB management will have race interference if we do this.

[2022-09-13 15:56] BlaineEXE commented on #10964
I worry about compact on start because (1) that only applies on mon start afaiu, and (2) it makes the monitors take longer to start up. I think it might be better to use  `mon_data_size_warn` and `mon_data_avail_warn`

[2022-09-13 15:57] parth-gr commented on #10971
[mon]
mon compact on start = true

[2022-09-13 16:12] parth-gr commented on #10971
right place for this comment https://github.com/rook/rook/issues/10964#issuecomment-1245614096

[2022-09-13 16:48] travisn commented on #10964
@BlaineEXE Is this comment meant for #10971?

[2022-09-13 17:31] #10691 closed

[2022-09-13 17:34] travisn commented on #10619
Agreed on those points to make sure the noout does not stay enabled, and we will need to coordinate between the OSD and PDB reconciles.

[2022-09-13 17:35] BlaineEXE commented on #10971
I worry about compact on start because (1) that only applies on mon start afaiu, and (2) it makes the monitors take longer to start up. I think it might be better to use  `mon_data_size_warn` and `mon_data_avail_warn`

[2022-09-13 17:36] #10782 closed

[2022-09-13 19:26] #10911 closed

[2022-09-13 19:34] travisn commented on #10964
On the runner, I updated the label from `ubuntu-20.04` to `ubuntu-20.04-arm64`

[2022-09-13 19:34] satoru-takeuchi opened #10984 "support encrypted osd on partition"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Support encrypted osd on partition. We've not support this feature but [Recent Ceph supports raw mode encrypted device](https://github.com/ceph/ceph/commit/159c30d29f009c07e51a4bd7cd5ecea8cf6c8739).

[2022-09-13 19:38] #10964 closed

[2022-09-13 19:54] BlaineEXE commented on #10174
Reopening. Just not the highest priority item w/ other nfs feature work

[2022-09-13 20:02] #10567 closed

[2022-09-14 08:36] parth-gr commented on #10971
/assign

[2022-09-14 13:44] #10678 closed

[2022-09-14 13:46] sybadm commented on #2517
thanks for your response @travisn

Apologies, I was unable to update this thread. In past one month we were trying many storage solutions. Now I'm back to rook again as it stand out with the features

We have this in out cluster.yaml, what entry we should add to this list?

  priorityClassNames:
    #all: rook-ceph-default-priority-class
    mon: system-node-critical
    osd: system-node-critical

[2022-09-14 15:41] lazyparser commented on #10798
@realqhc @melonedo any suggestions?

[2022-09-14 16:52] travisn commented on #2517
Actually, the critical settings would be the priority classes for the [CSI driver](https://github.com/rook/rook/blob/release-1.10/deploy/examples/operator.yaml#L114-L118), do you have those set?

[2022-09-14 20:02] #10522 closed

[2022-09-14 21:08] vumrao commented on #10619
Thank you, @travisn and @BlaineEXE for your feedback here. Looks like we planning to use the OSD level noout flag as compared to the cluster-wide noout flag, if I understand the workflow it would be something like following:
https://docs.ceph.com/en/quincy/rados/troubleshooting/troubleshooting-osd/#stopping-w-out-rebalancing

1. Detect the OSD that needs to be upgraded - (restart/reconcile will ha

[2022-09-14 21:14] vumrao commented on #10805
if possible you could do that!

Also, @hohoqq I have done some testing and I think you can use the `instances` field in objectCRD. https://rook.io/docs/rook/v1.10/CRDs/Object-Storage/ceph-object-store-crd/#example

`The number of pods in the rgw deployment`
    `instances: 1`

If you have different nodes to deploy RGW you can easily deploy the number of instances in the same objectstore - realm,zo

[2022-09-14 21:18] vumrao commented on #10805
@thotz WDYT - is it possible to add such config to have multiple instances of RGWs possible in one node? just like what we have in standalone ceph?

[2022-09-15 06:34] thotz commented on #10805
@vumrao there are two ways to increase RGW instances in Rook,
1.) as you increase the instance count in the cephobjectstore, it will increase the RGW pod and services. If you use Pod affinity then rgws servers will be running in different servers. I am not quite sure how we can n servers in a node. The drawback of the this method, all the rgw servers will be unique. For example the port issue whic

[2022-09-15 07:50] parth-gr opened #10993 "Have a proper uninstall functionality"
**Is this a bug report or feature request?**
* Feature Request
There is no proper methods for complete uninstall of rook-ceph cluster,
We do support it in docs https://github.com/rook/rook/blob/master/design/ceph/ceph-cluster-cleanup.md#cleanup-job-spec https://rook.io/docs/rook/latest/Storage-Configuration/ceph-teardown/#delete-the-data-on-hosts

But it never automated the job creation for deleti

[2022-09-15 08:03] ifalex opened #10994 "Make rook helm chart CIS compliant"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Rook/ceph should be CIS compliant.
Currently having rook/ceph included in a PAAS solution fail to pass some Kubernetes CIS tests/recommandations.

**What is use case behind this feature:**
CIS - 5.4.1 Prefer using secrets as files over secrets as environment variables

There a couple objects created by

[2022-09-15 08:31] mecseid commented on #10703
"Suffering" from the same issue.

Kubernetes
[code]

Operator:
[code]

Ceph:
[code]

[2022-09-15 08:46] sybadm commented on #2517
@travisn thanks for your quick response

Both are set as below, which default I believe
  CSI_PLUGIN_PRIORITY_CLASSNAME: "system-node-critical"
  CSI_PROVISIONER_PRIORITY_CLASSNAME: "system-cluster-critical"

[2022-09-15 08:54] mecseid opened #10995 "Dashboard services return 500, if Ganesha NFS enabled"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I got an HTTP 500 error when the dasboard wants to call `/api/service`

**Expected behavior:**
Get HTTP 200 OK response with the expected (running services) result.

**How to reproduce it (minimal and precise):**
* Create a `CephNFS` custom resource
* Open dashboard
* Go to Cluster --> Services

**File