[2018-01-25 22:40] travisn commented on #1349
Right now the `rgw dns name` is set to the name of the rgw service. The side effect of this is that the hostname in the URL of s3 client requests must match that name. For now, setting the default to be blank is the right thing until it's more clear how to use the bucket names with the wildcard.

@jpds do you have any more insight into how we can configure k8s to get this to work?

[2018-01-25 23:33] kokhang opened #1438 "When you delete a cluster, the configmap `rook-ceph-osd-orchestration-status` and service `rook-ceph-mgr` are not deleted"
When deleting a cluster, the configmap `rook-ceph-osd-orchestration-status` and service  `rook-ceph-mgr` are not deleted.

The issue with the `rook-ceph-osd-orchestration-status` configmap not being deleted is that the rook-operator, upon cluster creation, will wait for the old osd status to update.

So i get a bunch of:
`op-osd: waiting on orchestration status update from node 172.17.4.101`

[2018-01-25 23:38] kokhang commented on #1438
Also the dataDirHostPath needs to be deleted. I know we are trying to leverage localvolume but for now can we deleted when a cluster is deleted. This can be done by listening to the TERM signal. This is currently done in the rook-agent. Rook-agent will delete the driver executeble from the host when the rook-agent pod is deleted. https://github.com/rook/rook/blob/master/pkg/daemon/agent/flexvolume

[2018-01-25 23:40] travisn commented on #1438
how can the pod tell the difference between stopping and restaring, and when the user really wants to destroy the cluster? We can't delete the `dataDirHostPath` unless we know the user really wants to destroy the cluster

[2018-01-25 23:43] kokhang commented on #1438
When the user does delete the `cluster` doesnt that imply destroying the cluster and thus deleting the `dataDirHostPath`. I guess apart from checking the SIGTERM, we can check whether the cluster object is deleted.

[2018-01-25 23:45] travisn commented on #1438
the operator is aware of the cluster deletion, but the  mon and osd pods are the ones that are using the dataDirHostPath. The would require some communication between the operator and mon/osd pods to signal the deletion.

[2018-01-25 23:47] kokhang commented on #1438
Couldnt the mon or osd pod, when they get the SIGTERM, check if the cluster CRD exists? And if it doesnt exist, then it is safe to assume the user wants to destroy the cluster and thus it should delete the `dataDirHostPath`?

[2018-01-26 00:00] travisn commented on #1438
is it worth trying to get that right before we just switch to local volumes? that would also require more RBAC privileges in the mon/osd pods. Not likely a big deal, but it seems like a short term problem that already will have a solution.

[2018-01-26 00:10] kokhang commented on #1438
I want to be able to do `kubectl -n rook delete cluster rook` and then do `kubectl create -f rook-cluster.yaml`

I am not sure when LocalVolume will be on by default. Hopefully 1.10.

[2018-01-26 00:32] kokhang commented on #1438
i also noticed that if i bring up OSDs with specific directories (and different than the `dataDirHostPath`, i have to manually delete those as well.

[2018-01-26 16:27] patrickstjohn opened #1439 "Have operator choose sane defaults for PGs based on environment"
Is this a bug report or feature request?

* Feature Request

**Feature Request**

Are there any similar issues already existing: #1329

What should the feature do: Choose sane-defaults for PGs based on environment and update based on environment.

What would be solved through this feature: Operator understanding the environment and putting best-practices in place. This should obviously be somethin

[2018-01-26 16:38] galexrt commented on #1439
This seems to be a duplicate of https://github.com/rook/rook/issues/1191. @patrickstjohn What do you think?

[2018-01-26 16:54] patrickstjohn commented on #1439
@galexrt absolutely, apologies for missing it in my initial run-through. Count this as another vote for #1191 and I'll close this.

[2018-01-26 16:54] #1439 closed

[2018-01-26 17:01] caniszczyk opened #1440 "Add CII Best Practices Badge (CNCF requirement)"
A CNCF graduation requirement is to follow the CII Best Practices Badging:
https://bestpractices.coreinfrastructure.org/

[2018-01-26 22:37] caniszczyk opened #1445 "Add GOVERNANCE.md"
As part of joining CNCF, you need to define your governance.

I recommend looking at Envoy or CNI as simple examples to follow :)

https://github.com/envoyproxy/envoy/blob/master/GOVERNANCE.md
https://github.com/containerd/containerd/blob/master/MAINTAINERS
https://prometheus.io/governance/
https://github.com/fluent/fluentd/blob/master/GOVERNANCE.md
https://github.com/containernetworking/cni/blob/

[2018-01-27 01:02] kokhang opened #1446 "Upgrade docs does not work from v0.6.2 to master"
I have deployed `v0.6.2` and tried to follow the instruction in the update [docs](https://rook.github.io/docs/rook/master/upgrade.html) to upgrade to `master`. But i am seeing some issues. There are some issues i was able to fix but other i couldnt fix. Here are the two that im not sure how to fix.

**Operator upgrade**
After upgrading the operator. I get the following output from `ceph -w`. This

[2018-01-27 01:04] kokhang commented on #1446
@jbw976 @travisn @galexrt Wondering if you know what could be causing these two issues? From `0.6.2` to `master` the biggest change was a new ceph binary, correct?

[2018-01-27 08:09] jbw976 commented on #1446
@kokhang it looks like the OSD pod is going through the OSD removal process.  Do you have the operator logs and the OSD pod logs so we can see what about the upgrade process is making it think that?  The output of `kubectl -n rook get cluster rook -o yaml` may be useful as well.

The OSD getting reweighted to 0 and getting marked as out is what is causing the PGs to go to an unknown state.  They h

[2018-01-27 16:06] jbw976 opened #1447 "operator does not have permissions to remove node when deployed via Helm"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened: When deploying Rook via Helm charts and then attempting to remove a node later on by editing the cluster CRD, the operator does not have the required permissions to do so.  This error is found in the operator log:
[code]

How to reproduce it (minimal and precise):

1. Deploy Rook operator via a Helm chart
1. Cre

[2018-01-29 10:53] beatlejuse commented on #1278
@kokhang  @galexrt
Any idea about this problem?
I recall, when I restart the node k8s-cluster, after rebooting lost mons and is not automatically restored.
Is this problem just me?
when you restart the node k8s-cluster,  ceph-cluster is not destroyed?
If so, could you share for me the full set of operating YAML configs to operator and cluster?
I now use the image rook/rook:v0.6.2 .
as far as I can

[2018-01-29 15:33] bassam opened #1449 "Update CONTRIBUTING.md"
CONTRIBUTING.md needs to be updated to reflect changes in DCO enforcement and license scanning.

[2018-01-29 15:36] bassam opened #1450 "Update code of conduct"
Update the code of conduct to match CNCF's code of conduct.

[2018-01-29 16:59] abalasu1 opened #1451 "rook operator on kubernetes 1.8.3 gives error"
Yes, none found.

Is this a bug report or feature request?

* Bug Report

**Bug Report**
create rook operator on kubernetes 1.8.3 gives an error.

What happened:
rook operator pod fails to come up with this error:
[code]

What you expected to happen:
Expected rook operator pod to come up.

How to reproduce it (minimal and precise):

Install rook operator on IBM Cloud Private Community Edition (kub

[2018-01-29 17:01] jbw976 commented on #1314
How exactly did #1346 (upgrading tini version) fix this issue?

[2018-01-29 18:17] bassam commented on #1314
it didn't. I change the title. The security model changes will help openshift tremendously.

[2018-01-29 18:24] travisn commented on #1451
@kokhang there are a number of places where rook parses the version of kubernetes to determine different behavior. In the future I'm sure there will be other needs to parse the version. In this case, yes we could create a CRD by default. But in other cases the default might not work. Is there another helper that would truncate the suffix separated by the `+`?

[2018-01-29 18:45] jbw976 commented on #1314
so this issue should be re-opened right? i think it got closed automatically by PR #1346 because that PR referenced this issue in its description.

[2018-01-29 19:07] #1447 closed

[2018-01-29 19:17] kokhang commented on #1451
yes i just saw that the external-storage project also uses this for parsing version. https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go#L304

@abalasu1 is there a way you can modify the Kubernetes version and make it SemVer compartible?

[2018-01-29 19:43] caniszczyk opened #1453 "Update README to mention being a CNCF project"
All CNCF projects require to mention CNCF in the README/website.

[2018-01-29 22:45] bassam commented on #1453
The first part went into #1454. Website next.

[2018-01-30 00:25] pradn28 opened #1455 "rook doesnt make object-size param configurable while creating ceph rbd images"
when the provisioner creates an rbd image, it doesn't specify the `--object-size` param so it uses the default
Seeing poor performance for latency sensitive workloads like databases where a default object size of 4MB doesnt help.
So need this parameter to be configurable through rook.

http://docs.ceph.com/docs/master/man/8/rbd/
--object-size size-in-B/K/M
Specifies the object size in B/K/M. Objec

[2018-01-30 02:24] abalasu1 commented on #1451
@kokhang, @travisn Thank you, I will pursue changing kubernetes version to make it SemVer compatible.

[2018-01-30 03:55] bassam commented on #1453
https://rook.io updated (see bottom).

[2018-01-30 03:55] #1453 closed

[2018-01-30 12:20] evgeniwk commented on #1382
I have kube 1.9.3 with calico on 3 nodes. Rook cluster has `useAllNodes: true` and `monCount: 3`. Each mon placed on each node initially, but after node3 rebooted I got the same issue too:
[code]
after restart I see that mon3 is started on node1 and look like it is not connected to any other mon, also it has:
[code]
my multiple fs includes:
[code]
both of failed pods have:
[code]

[2018-01-30 14:18] #1450 closed

[2018-01-30 14:18] #1449 closed

[2018-01-30 17:12] ITler opened #1460 "OSD pods aren't created: SecurityContext.RunAsUser is forbidden"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
For simple testing if rook works on MS **AzureGermanCloud**, I'm running through Quickstart guide.
Without changing definitions, after basic applying, I see pods: 1 api, 2 managers, 3 mons, but **NO** osd
Manager0 pod logs:
[code]
Other pods don't show logs indicating an error state and look ok for my sake.

Wha

[2018-01-30 17:26] andrewmyhre opened #1461 "Filestore devices aren't correctly looking up the partition where the OSD's data lives"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened: After updating a rook cluster config map to remove a node the rook operator updates the node's OSD replicaset to use a configmap `rook-config-override`. That configmap appears to be empty. The OSD then begins to crash loop. The replicaset for the OSD still exists. The operator waits for the OSD to report some suc

[2018-01-30 19:25] jbw976 commented on #1460
Hi @ITler, do you happen to have the rook-operator pod logs that may give us more information about why no OSD pods were created?  The state of the Rook cluster CRD may also be useful.  These commands will get that information, feel free to add them to a [gist](https://gist.github.com/) and link it here in a comment.  Thanks!
[code]

[2018-01-30 22:42] kokhang commented on #1451
I will close this issue for now. Thank you.

[2018-01-30 22:42] #1451 closed

[2018-01-31 03:15] limiao2008 opened #1463 "bluestore-block File size automatically grows, the actual only 20G, but a single node bluestore-block size of more than 80G"
[code]
[code]

[2018-01-31 06:49] kokhang commented on #1463
Can you give us more information about your environment? How many nodes in the cluster? Also what is your cluster manifest? `kubectl -n rook get cluster rook -o yaml`?

[2018-01-31 07:42] ITler commented on #1460
Hello Jared,
thanks for offering help. See this gist:
https://gist.github.com/ITler/3f751a3323d13b22c6b1f022f62b3460
Again I want to mention, that I took sources from git tag `v.0.6.2`.

[2018-01-31 10:15] chenhonggc opened #1464 "Create ceph mon error"
**Bug Report**

What happened:
[code]

What you expected to happen:
[code]

**Environment**:
* OS: centos 7.3-1611
* Kernel: 4.4.98-1.el7.elrepo.x86_64
* hardware configuration:
CPU： Intel(R) Xeon(R) CPU  X5650  @ 2.67GHz 2 cores
MEM：4G
DISK： 100G
* Rook version: v0.6.0-196.gcec49a6
* Kubernetes version: v1.8.5+coreos.0
* Kubernetes cluster type: bear metal

[2018-01-31 12:34] FaKod commented on #1433
@lorenz I assume you've enabled --feature-gates=VolumeScheduling=true for the API Servers and Kubelets?

[2018-01-31 15:09] lorenz commented on #1433
That was the issue, I have multiple masters and not all of them had it enabled on every service.

[2018-01-31 16:12] jbw976 commented on #1463
Just as a note, the `bluestore-block` file, when the user has specified a directory for the OSD, is "thinly provisioned" up front.  i.e. the file descriptor is set to the full size of the disk, but blocks for the file are NOT allocated up front.  You'll see the file size be much bigger than will actually be reported by `du -sh bluestore-block`.

What does the following report when run from the OSD

[2018-01-31 16:29] jbw976 commented on #1460
Thanks for sharing the gist @ITler.  It looks like the Rook cluster is set to use all nodes for storage (`useAllNodes: true`) and that the operator successfully created a DaemonSet for the OSDs.  There must be something preventing the DaemonSet from starting up any OSD pods.  Can you also add the output from the following commands to your gist?
[code]

[2018-01-31 18:44] kokhang commented on #1464
@chenhonggc did any mon pods get created? `kubectl -n rook get pod`.

[2018-01-31 18:59] kokhang commented on #1455
Wondering what is the best way to do this. One thing we can do is add these custom params to the storageclass and have the provisioner consume it when creating the volume.

[2018-01-31 21:42] bassam opened #1466 "Move our CI system to CNCF-CI"
We need to start moving our CI system to CNCF's cluster. This is a placeholder.

[2018-01-31 23:01] steven-sheehy opened #1467 "https://charts.rook.io is unreachable"
**Bug Report**

What happened:
[https://charts.rook.io](https://charts.rook.io) is unreachable. It is mentioned in the published [documentation](https://rook.github.io/docs/rook/v0.6/helm-operator.html) for v0.6 so I thought I would be able to connect to it.

What you expected to happen:
charts.rook.io should be reachable

How to reproduce it (minimal and precise):
[code]

[2018-01-31 23:08] travisn commented on #1467
there is a temporary dns resolution issue while the `rook.io` domain is being transferred to the cncf that hopefully will be resolved soon

[2018-02-01 01:12] chenhonggc commented on #1464
@kokhang
[code]

[2018-02-01 08:18] chenhonggc commented on #1464
Recreate it, it OK, Thanks.
[code]

[2018-02-01 08:18] #1464 closed

[2018-02-01 15:57] travisn commented on #1027
Note that multiple file systems is still considered an [experimental feature](http://docs.ceph.com/docs/master/cephfs/experimental-features/#multiple-filesystems-within-a-ceph-cluster) in ceph. Perhaps rook makes it too easy to go down this path of an experimental feature.

[2018-02-01 17:15] steven-sheehy commented on #1467
Looks like it is back up. Thanks

[2018-02-01 17:15] #1467 closed

[2018-02-01 21:44] galexrt commented on #1403
For CephFS, see https://kubernetes.io/docs/concepts/storage/volumes/#cephfs-
For RBD mounting see a guide like https://sysdig.com/blog/ceph-persistent-volume-for-kubernetes-or-openshift/ or https://crondev.com/kubernetes-persistent-storage-ceph/.
Where the mon IPs are the IPs of the nodes the mons run on, need to be kept uptodate for each PersistentVolume created.

[2018-02-02 10:56] ITler commented on #1460
There it is. Found it... it is a problem with the daemon set, which I did not recognize before :-/

    Error creating: pods is forbidden: SecurityContext.RunAsUser is forbidden

See gist for details.

Not sure, but my first search results seem to point to creating a [SecurityContext](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/), but I'm currently not that deep into

[2018-02-02 11:00] galexrt commented on #1460
@ITler This doc page should contain information on how to use/create a PodSecurityPolicy and other stuff to fix the issue you are experiencing, see: https://rook.io/docs/rook/master/rbac.html#rbac-for-podsecuritypolicies.

[2018-02-02 11:02] ITler commented on #1460
thank you @galexrt , will check asap and report back

[2018-02-02 16:05] steven-sheehy opened #1468 "Helm delete doesn't cleanup all kubernetes resources"
**Bug Report**

The helm chart doesn't properly cleanup the resources it creates when deleted. It cleans up resources that it created explicitly but apparently not the resources that the rook-operator created implicitly. I expected the helm delete --purge command to leave my system in the state it was before the helm install, with the exception of the underlying data still being present.

What hap

[2018-02-02 21:57] jbw976 commented on #1435
For the case where a disk is completely dead, we can consider using the `ceph osd lost` command described here:
http://docs.ceph.com/docs/master/rados/troubleshooting/troubleshooting-pg/

[2018-02-03 16:02] lorenz commented on #1463
I have one cluster that runs on the same thinly provisioned files and heavy write loads (70% write) cause the bluestore-rook file to blow up to 5 times the used data volume according to `ceph status`. I don't think that this can be solved easily since it would basically rely on TRIM/UNMAP being passed through to the filesystem layer and then freeing up these blocks.

[2018-02-04 03:33] chris-mccoy opened #1470 "Build depends on Ubuntu Zesty Zapus, which just went end-of-support"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:

While creating docker rootfs-builder-amd64 image, observed the following message.

[code]

Looks like Zesty Zapus [is EoS](https://wiki.ubuntu.com/ZestyZapus/ReleaseNotes) and packages are no longer being provided from archive.ubuntu.com.

What you expected to happen:

Successful build.

How to reproduce it (mi

[2018-02-04 04:41] travisn commented on #1470
@chris-mccoy can you check if you have rebased against the latest? this should have been fixed by #1418

[2018-02-04 15:02] #1419 closed

[2018-02-05 06:41] travisn commented on #1470
no problem, good to note that if we needed to release an update to 0.6 we would need to backport #1418.

[2018-02-05 10:57] ITler commented on #1460
@galexrt
Unfortunately, I still face same issue even after applying the setting described in the document.

[2018-02-05 13:54] leseb commented on #347
This should be solved naturally once we have https://github.com/rook/rook/issues/1342.

[2018-02-05 13:56] leseb commented on #1342
Plus I just noticed that OSDs are not 'portable', basically, Rook does not use the OSD disk to store OSD's metadata (key, type, fsid, block paths etc) but only relies on `HostPath` from the host running the OSD pod. That's a serious blocker if the machine dies, disks could normally move to another machine and just restart the OSD on their own.

[2018-02-05 14:28] lorenz commented on #1397
Dup of #1463

[2018-02-05 16:54] jbw976 commented on #1397
@beatlejuse @lorenz so a bluestore OSD's local size never decreasing does not appear to be related only to CephFS, but rather a general bluestore issue?

[2018-02-05 18:02] lorenz commented on #1397
Yes, this is not restricted to CephFS. But this is (at least to me) expected behaviour since bluestore is designed for actual disks and not files. It behaves similarly to ext4 on a loopback device which will also never free data on the underlying file (unless you use discard/unmap).

[2018-02-05 21:25] beatlejuse commented on #1397
@jbw976  @lorenz
Oh my God!
Why did you use this defective thing?
this made Ceph doomed to die.
one day the disk space will run out and the OS will die.
and there's no way to avoid that?
now I have to use a difficult and long process of backing up data from Ceph. then I re-create ceph cluster and restore the data.
so I avoid running out of free disk space and the OS death.
it is just incredible!

[2018-02-05 21:53] lorenz commented on #1397
@beatlejuse Don't use the Bluestore backend on shared filesystems, use Filestore instead. Unless you really know what you are doing I wouldn't use a shared filesystem for Ceph either way. It is not really designed for that and its storage accounting logic might act up if you run into edge cases.

I have one cluster where can't use a separate block device and run Filestore but you can easily kill y

[2018-02-06 01:43] mvording opened #1472 "rook-agent cannot get persistentvolumes at the cluster scope"
**Bug Report**

What happened:
Installed rook helm chart with rbac enabled
   created storage class, pool, cluster  from example yamls in the documentation
   helm install --name rook --namespace rook rook-alpha/rook

   Installed elasticsearch helm chart, which creates two PVCs.
   The volumes were created and bound.

   However, in the elasticsearch pods utilizing the volumes, permissions errors

[2018-02-06 11:37] jpds commented on #966
I feel that the fix for this one would be to make the monitor IPs of type `LoadBalancer` and then using something like http://metallb.universe.tf/ to externally expose them outside the cluster.

[2018-02-06 15:03] beatlejuse commented on #1397
ok

[2018-02-06 15:03] #1397 closed

[2018-02-06 16:16] steven-sheehy commented on #1438
I've noticed most of the [common problems](https://rook.io/docs/rook/master/common-problems.html) have a solution as delete the dataDirHostPath. This was a definite pain point for me during testing.

How about making the delete dataDirHostPath a configuration option on the Cluster? It could be similar to the volume [Reclaim Policy](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#re

[2018-02-06 22:48] travisn commented on #1347
@liewegas  here are my thoughts on these questions (somehow I missed this while on holiday):
- Some refactoring of the cluster CRD is being considered for #1375. This would make it clear which properties are specific to ceph and which would be needed by multiple backends. Rook itself doesn't need any settings in the cluster CRD since it's all about orchestrating the backend(s).
- hostNetwork does

[2018-02-06 22:54] travisn commented on #1342
thanks @leseb we definitely need to make sure the OSD disk is used to store the metadata. That has been a worry of mine as well. I see now in the [bluestore config doc](http://docs.ceph.com/docs/master/rados/configuration/bluestore-config-ref/) that we should create a partition for the data dir.

[2018-02-07 15:43] leseb commented on #1191
I think the decision should be taken by the backend itself, in the current situation Ceph. This is not Rook's job.

[2018-02-08 00:20] jpds opened #1476 "CoreOS XFS mount error"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:

I'd like to use XFS as the filesystem for my RBD block devices, however when I provision a PVC under a CoreOS host I get the following error:

[code]

It's not clear which executable it's looking for.

**Environment**:
* OS (e.g. from /etc/os-release): CoreOS stable
* Kernel (e.g. `uname -a`): 4.14.14
* Cloud pr

[2018-02-08 00:44] jbw976 commented on #1476
do you happen to have the rook-agent pod logs for the node that this happened on?

[2018-02-08 05:13] kokhang commented on #1476
Yes.. This also happens when using `btrfs`. This is only reproducible in CoreOS. I believe it is because kubelet is running inside a container/rkt and it doesnt have the mkfs.xfs command.

The workaround i can think of is to add the bind mount to the kubelet similar to `https://github.com/coreos/coreos-kubernetes/blob/master/Documentation/kubelet-wrapper.md#allow-pods-to-use-rbd-volumes`. But yeah

[2018-02-08 05:19] kokhang commented on #1476
Found the CoreOS bug:
https://github.com/kubernetes/kubernetes/issues/58826
https://github.com/coreos/coreos-kubernetes/issues/467

Here is the PR that fixes it. It was just added very recently. https://github.com/kubernetes/kubernetes/pull/56937

[2018-02-08 15:16] malins opened #1477 "Default OSD dir is removed after pod restart"
Hello!

**Bug Report**

I followed quick start introductions, which worked so far.
However, one OSD is failing with the following error:

[code]

Beside that error I was able to create a block storage and use it from within a pod, so in principle it works. However, I assume that I have no redundancy currently.

I have absolutely no idea how to resolve this issue. Do you have any hints? Thank you!

[2018-02-08 16:02] rootfs opened #1478 "Including vendor pkgs"
Is this a bug report or feature request?
* Bug Report

Include vendor repos

**Bug Report**

What happened:
Currently vendor repos are not committed or tracked, but in event that repos disappears, there will be troubles. This is best seen in https://github.com/jteeuwen/go-bindata/issues/5

What you expected to happen:
All vendor pkgs need to be part of the repo

[2018-02-08 16:02] rootfs commented on #1478
cc @bassam

[2018-02-08 16:35] jbw976 commented on #1477
do you happen to have the full OSD pod logs and the operator pod logs also?  for some reason the operator has decided to tell the OSD pod that it should remove itself, but that should never happen if you just simply followed the quickstart instructions.  Were there any other steps you took, such as editing the rook cluster after creating it?

Full log gathering instructions: https://rook.io/docs/r

[2018-02-08 21:28] malins commented on #1477
No, I didn't make any modifications.

[rook-logs.gz](https://github.com/rook/rook/files/1708853/rook-logs.gz)

[2018-02-09 03:13] dimm0 opened #1480 "Fails creating OSDs on servers with multiple drives"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
I installed rook on one node with ~30 drives, and it failed on 16th. I did not record the error exactly, but it was complaining about hitting the limit of fs.aio-max-nr, which is equal to 65536 in CentOS 7.
After that the OSD pod restarted and was never able to recover, complaining that the OSD folder already exi

[2018-02-09 13:41] beatlejuse commented on #1278
@kokhang @galexrt ping

[2018-02-10 15:06] jbw976 commented on #1477
Thank you for sharing the logs @malins.  I see that `useAllNodes: true` is being used and the operator did not explicitly tell the node to remove the OSDs from it.  It *looks* like the OSD pod restarted and in the case of using just the default dir, the OSD thinks it should remove it (since the default dir is not explicitly passed in as an cmd line arg).

I'll need to reproduce on my end to verify

[2018-02-12 10:02] dgonzalezruiz opened #1483 "RGW: Ceph managers enter in a crashloop."
**Bug Report**

Ceph MGRs enter in a crashloop all of a sudden when the replica count if an objectstore is bigger than 1

How to reproduce it (minimal and precise):
Just set the replicacount to any natural number bigger than 1. The issue is that the rados gateways run all with the same name, and do not have any random suffix to them.

[2018-02-12 16:26] r0xsh opened #1487 "Pod using more than one Rook StorageClass causes failures"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:

Rook can't mount fs inside a Pod :cry:

###### Agent log
[code]
###### `dmesg | tail` the Agent
[code]

But wait a minute.. here are the logs of the operator !

[code]

On my server I installed
* RBD Kernel module :green_heart:
* Ceph `via yum install ceph ceph-common` :green_heart:

I feel like I have already t

[2018-02-12 16:58] jbw976 commented on #1487
From the operator logs above, the pool and storage class don't seem to be in agreement:
[code]
I wonder if this mismatch is leading to the failure to find the block image?

Can you share the output of `rookctl block ls` from the [toolbox](https://rook.io/docs/rook/master/toolbox.html)?

[2018-02-12 17:23] travisn opened #1488 "docs: Clarify removing the cluster and finalizer"
When removing a cluster if the resources are not removed in the correct order, the namespace will stay in the delete pending state indefinitely.
- Document a "common problems" topic for how to remove the finalizer if needed
- Clarify documentation around ordering of cleaning up the components

[2018-02-12 17:40] jbw976 commented on #1480
We currently determine if an OSD is "created" by checking for the `whoami` file.  If it doesn't exist then we assume the OSD is brand new and we go through the OSD mkfs process.  It looks like in this scenario, the OSD mkfs failed before the `whoami` file was created, so when we retried we ran mkfs again but it failed because there were some existing artifacts already present.

One way to address

[2018-02-12 17:42] liewegas commented on #1480
The last file the osd mkfs process creates is called 'ready'. That's the file you should be checking for.

[2018-02-12 17:48] d-horner commented on #1488
I have just seen this, having struggled myself, I wrote a oneliner to deal with it (if it is use to anyone in the meantime!)

`kubectl proxy &;kubectl get ns rook -o json > /tmp/rook.json ;sed -i '' '/"kubernetes"/d' /tmp/rook.json;curl -H "Content-Type: application/json" -X PUT --data-binary @/tmp/rook.json http://127.0.0.1:8001/api/v1/namespaces/rook/finalize;rm /tmp/rook.json;kill %1`

NB: sed

[2018-02-12 17:51] r0xsh commented on #1487
OMG D: How could I miss that !!
I think you put your finger on the problem :)

Here are the `rookctl block ls` output
[code]

[2018-02-12 17:54] r0xsh commented on #1487
OMG D: How could I miss that !
I think you put your finger on the problem :)

Here are the output of `rookctl block ls`
[code]

[2018-02-12 18:03] jbw976 commented on #1414
@travisn this looks like the same issue that you fixed in #1376, so I've assigned it to you

[2018-02-12 18:06] travisn commented on #1488
@d-horner so you had to remove the finalizer on the namespace? I was thinking the issue was removing the finalizer on the cluster CRD, though I hadn't seen confirmation that it was the root cause either.

[2018-02-12 18:58] d-horner commented on #1488
Sorry I was on the way out the house before - after browsing further down my notes I do remember that the CRD caused the namespace to hang whilst "Terminating" also:

I was in a bit of a pickle trying to get rid of it all, browsing my shell history isn't a pretty sight!

I do think you are right concerning the CRD requiring deletion prior to the namespace, as I recall having the issue of trying to

[2018-02-12 19:02] travisn opened #1490 "Automate cleaning up of the dataDirHostPath"
As per discussion in #1438, it would be very helpful to automate cleaning up the contents of the `dataDirHostPath` when the cluster CRD is deleted. When the mon and osd pods receive the SIGTERM, they would need to check if the cluster CRD exists and if it has been deleted, they could clean up the directory as part of the shutdown. Some considerations:
- This is a very destructive action. We may wa

[2018-02-12 19:03] travisn commented on #1438
Will track the dataDirHostPath cleanup question with #1490 and resolve the original intent of this issue with #1489

[2018-02-12 19:15] kokhang commented on #1490
You can leverage the pod lifecycle hooks. https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-details

So adding a `prestop` hook that will run when the pod is terminated.

[2018-02-12 20:31] #1438 closed

[2018-02-12 20:52] d-horner commented on #1488
Ok, so I managed to replicate it with a teardown as so:

[code]

Here you can see our problem persists, again it is hanging on the finalizer "customresourcecleanup.apiextensions.k8s.io", using the one-liner to patch the CRD it is immediately removed:
[code]

[code]

Et voila - lesson learnt is to delete the CRD prior to everything else. If you don't, you can patch the CRD. I'm not overly familiar

[2018-02-12 21:14] travisn commented on #1488
ok, if tearing down in that order you will definitely run into issues. The finalizer won't be automatically removed from the crd and the rook volumes won't be unmounted from any pods that may have consumed them. Thus, i'll look at making the [Teardown instructions](https://rook.io/docs/rook/master/quickstart.html#teardown) easier to find. While I'm in there I'll plan on adding a topic on how to cl

[2018-02-12 21:16] travisn commented on #1488
also note that by deleting the crd properly, you should expect all the artifacts created for the cluster to be cleaned up automatically. For example, you won't need to explicitly delete the mon, osd, mgr, or mds deployments, daemonsets, or replicasets.

[2018-02-12 21:33] d-horner commented on #1488
I do think the documentation could do with a more newbie-proof level of verbosity - whilst the high level of abstraction is sterling, the issues I have faced are largely due to not having sufficient under-the-hood knowledge of kubernetes in general yet. For example, I dug this hole due to a faint recollection having read:

After realising the namespace/crd hadn't followed suit, I set about trying

[2018-02-12 21:40] travisn commented on #1488
Yes, absolutely sounds great to have a "Getting Started with Rook" topic for newbies. Maybe we could also have a FAQ page next to the getting started and quickstart pages. Your thoughts and questions would provide a great start to all of that!

[2018-02-12 21:41] jbw976 commented on #997
This work is not completed yet, it was only partially addressed by #1473

[2018-02-13 06:50] #1414 closed

[2018-02-13 10:46] r0xsh commented on #1487
I found more precisely how to reproduce the problem :smile:
In my deployment file I have two PVCs with two different storage class

[code]

I tried both possible combinations (both `rook-block-ssd` and both `rook-block-hdd`) and it works perfectly :+1:

But if the pod uses two storage class different, the problem occurs :disappointed:

[2018-02-13 16:00] beatlejuse opened #1494 "manually repair OSD after rook cluster fails after k8s node restart"
I was faced with the problem of falling OSD after restarting any node k8s.
It is alleged that the OSD needs to stand up for himself,
But it's not working for me.
The problem is described in more detail here: https://github.com/rook/rook/issues/1278

And here I want to discuss possible ways to get OSD to work manually.

[code]

I have tried the following methods found in the documentation:

[code]

[2018-02-13 16:15] travisn commented on #1483
@dgonzalezruiz you are referring to the replica count of the rgw deployment, right? I tried a couple of different configurations and am not seeing the mgr crash. Could there be some other step to the repro? I did the following:
- Start minikube and create the 1-node rook cluster
- Edit rook-object.yaml to set the gateway instances to 3
- kubectl create -f rook-object.yaml
- Three rgw instances sta

[2018-02-13 17:31] travisn commented on #1494
@beatlejuse there is no command for bringing the osd up because the osd daemon is responsible for reporting that it is up. Is there an osd pod running on host 10-1-29-34 where osd.2 should be running? The logs for that pod would hopefully show something about why the osd is not starting.

[2018-02-13 20:20] bryanlarsen opened #1495 "deleting and recreating filesystem causes problems"
**Bug Report**

What happened:

During an upgrade, I deleted the rook.io Filesystem object and then recreated it with the exact same parameters.   The new pods failed to mount the filesystem.

The rook agent logs displayed their "mounting" message:

[code]

But they never displayed the message `flexdriver: ceph filesystem clara-static has been attached and mounted` which they had done for previous

[2018-02-14 08:14] beatlejuse commented on #1403
@galexrt how can i export mons port to nodes?

[2018-02-14 09:49] galexrt commented on #1403
@beatlejuse When using `hostNetwork: true`, the other cluster is required to have access to all your Rook storage nodes from your cluster with the Ceph components MONs, OSDs and MDS on them.
You use the Node IPs on which the MONs are currently running on to connect to them from the other cluster.

For more details checkout to mount CephFS in your other cluster checkout the links from my previous c

[2018-02-14 20:13] #1477 closed

[2018-02-15 08:11] beatlejuse commented on #1494
because manual OSD recovery is not possible, this issue can be closed.

[2018-02-15 08:21] beatlejuse commented on #1278
during the development of this issue there have been many changes. I will sum up:
1. i have k8s v1.8.1 on CoreOS 1520.8.0 on bare-metal (vmware).
2. I renamed back the namespace "rook-cluster" to "rook"
3. I rolled back from version 0.6.2 to version 0.6.0.215

I again rebooted one node kubernetes cluster and see the following situation:
[code]

[code]
[code]

[2018-02-15 08:45] beatlejuse commented on #1278
and this is my deploy configs:
https://gist.github.com/beatlejuse/9ca3156dacaf0abd391b0d125326b5b8
https://gist.github.com/beatlejuse/913eb1a6b23b1199d23c83eec207c2f4

[2018-02-15 09:16] dgonzalezruiz commented on #1483
Hi @travisn

I haven't been able to reproduce this either in the minikube setup. This does impact both my stage and "production" clusters, though. Editing the deployment and setting the rgw host property to $HOSTNAME solves the issue, with whichever replica count of the rgw deployment. The only reason why I find this necessary is because of both the reason above (it solves the situation in my clus

[2018-02-15 13:58] alwinmark commented on #1487
As you are running Rook on a baremetal Kubernetes. What filesystem are you using? I had the same problems especially when I used replication > 1. After I changed from ext4 to xfs everything works no just as smooth as promised.

[2018-02-15 14:37] alwinmark opened #1499 "Limit IOPS per volume via Storageclass"
Is this a bug report or feature request?

* Feature Request

**Feature Request**

Are there any similar features already existing:

Not in Rook as far as I can tell.
In the Openstack world there is sth. similar implemented for Cinder and Nova: https://ceph.com/geen-categorie/openstack-ceph-rbd-and-qos/

Also there seems to be a mechanism in docker itself:
https://docs.docker.com/engine/reference/c

[2018-02-15 16:47] travisn commented on #1278
@beatlejuse  ok so the issue is that osd.1 isn't coming back? I see the osd pod running, but the osd is not found in ceph.
@jbw976 any ideas for why osd.1 would be in the overall [osd dump](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/osd/health.go#L63), but then not be found when [looked up by id](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/client/osd.go#L94)?

[2018-02-15 17:56] #1480 closed

[2018-02-15 18:17] dimm0 opened #1500 "Erasure-coded pool unusable"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
I was trying to create the standard rbd pool for blockstorage with erasureCode: codingChunks: 2  dataChunks: 3. Right after it was created, a PV claim failed with:

`
create operation with name "provision-perfsonar/cassandra-data-esmond-cassandra-0[18f9ba57-1226-11e8-9422-0cc47a6be994]". An operation with that n

[2018-02-15 18:43] jbw976 commented on #1500
@dimm0 are you using filestore by any chance?

[2018-02-15 18:55] NiraliSupe opened #1501 "Timeout expired waiting for volumes to attach/mount for pod (rook plugin not found)"
k8s version: v1.9
env: VirtualBox
os: Coreos

It is 1 node kubernete cluster
I followed the below steps:
1. Followed https://rook.io/docs/rook/v0.5/k8s-pre-reqs.html and updated the kubelet with
[code]
2. Installed ceph utility
[code]
All rook pods are working but MySQL pod fails with error 'timeout expired waiting for volumes to attach/mount for pod'
[code]
Error when I describe pod : FailedMount

[2018-02-15 19:07] dimm0 commented on #1500
bluestore

[2018-02-15 19:07] dimm0 commented on #1500
https://github.com/dimm0/prp_k8s_config/blob/master/rook/rook-nautilus.yaml

[2018-02-15 20:06] jbw976 commented on #1278
This looks like #1477 that was fixed in master just yesterday.  Starting with `rook/rook:v0.6.0-219.g09dc9b8`, this should not happen anymore.  Once getting the rook container image with the fix, you may need to mark the OSD as back in the cluster and give it a weight similar to other OSDs in the cluster that are the same size.
[code]

[2018-02-15 20:11] jbw976 opened #1502 "Storage class clusterName should be named clusterNamespace"
Currently, when creating a cluster CRD, the cluster name and the namespace it is deployed to must match exactly.  The codebase is not 100% consistent on when it uses cluster name and when it uses the namespace.

for instance, i think the dynamic provisioner would fail to create a block image because it would use the wrong cluster name when exec’ing to `rbd`

we should either:
* perform an inventor

[2018-02-15 22:28] dmick commented on #1502
The former is far preferable; cluster names are generally acknowledged to have been a bad idea, and using "ceph" for the name is to be strongly preferred.

I have interest in working this issue but will refrain from assigning myself until I can get my build system proved out again.

[2018-02-15 22:40] travisn commented on #1502
A few thoughts around this:
- There is one rook cluster per namespace. The name of the k8s namespace is the important thing. The `name` of the cluster CRD should be ignored everywhere by Rook, except that it is required by k8s to identify the CRD. If someone tries to create multiple cluster CRDs in the same namespace I believe we have some basic error checking, but more may be needed here.
- Today

[2018-02-15 23:10] bassam commented on #1502
#1412 makes an argument for letting the cluster-admin control namespaces and not forcing one cluster-per-namespace on them. A kubernetes namespace is a unit of security policy, quotas and other things beyond just naming.

[2018-02-16 00:13] travisn commented on #1502
I'm really just arguing for simplicity. If 99% of users are only running one storage cluster in one namespace or would be fine using multiple namespaces for multiple clusters, simplicity is good.

[2018-02-16 00:43] liewegas commented on #1502
If namespaces are a policy construct, then perhaps the cluster name and namespace name shouldn't be related at all.  For example, the cluster name (as far as kubernetes/rook are concerned) could default to ceph, but be something else if you choose to have multiple clusters within the same namespace.

From the outside, having them both and requiring them to match seems a bit silly.

I have no idea

[2018-02-16 00:58] bassam commented on #1502
it does seem silly to require the namespace name and cluster to match.

How about the following (similar to what's in #1412):

* Keep the cluster `name` and default it to the name of the backend `ceph`
* The cluster admin should decide which namespace the pods are created in by setting `namespace`.
*  Rook pod name should use a `cluster.name` prefix for example `ceph-mon0-cv78d` etc.

So the follo

[2018-02-16 01:31] liewegas commented on #1502
Works for me (if the multiple clusters per namespace is deemed worth the complexity).

[2018-02-16 01:33] travisn commented on #1502
@jbw976 where did you see it not working when the cluster name was different from the namespace? I just ran through the file, block, and object samples and all seems to be working when the name was `foo`, with a namespace of `rook`. The name `foo` looks ignored by everything as expected.

If you wanted to support multiple clusters in the same namespace, the name of the cluster would need to be inc

[2018-02-16 02:00] travisn commented on #1488
@d-horner feel free to comment on #1503 thanks!

[2018-02-16 07:07] jbw976 commented on #1502
@travisn I dug into this more tonight.  Even though we have lots of places in the code using the cluster namespace and also places using the cluster name, it ends up not really mattering in the current code base for the vast majority of scenarios.

This is because when the [`ClusterInfo` struct](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/mon/info.go#L20) is persisted as a k8s secret,

[2018-02-16 07:33] dangula opened #1504 "Rook CI builds failing on jenkins"
* Bug Report
 CI builds failing - GCE agents appear offline.
**Bug Report**

What happened:
Looks like GCE build agents are offline and all build are failing
What you expected to happen:
Build passes
How to reproduce it (minimal and precise):
 - Run a build from jenkins.rook.io

[2018-02-16 07:34] dangula commented on #1504
fixing the by moving all build agents to aws.

[2018-02-16 11:51] alwinmark commented on #720
I have the same error (but honestly I was messing arround trying to add a clone into a pod for QA purposes). Now I deleted the pod and everything but the rbd image is still there. I can move it to trash but I can't delete it

I see one client watching:

[code]

But I don't know how to blacklist the client or close the connection. Also I can't find an docker image with the IP:
`kubectl -o jsonpath=

[2018-02-16 15:24] travisn commented on #1502
Right, if the `clusterName` on the storage class doesn't match the namespace you would have that issue. Perhaps it should be called `clusterNamespace`.

[2018-02-16 16:44] jbguerraz commented on #720
yep this is it :)

[2018-02-16 19:03] yoshz commented on #1472
Same problem here.

[2018-02-17 05:37] dimm0 opened #1507 "On NodeLost, the new pod can't mount the same volume."
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
A PV was attached to a POD. The node running the POD lost the power. Currently the status for the node is NotReady.

Deployment is trying to restart the POD on another node, but rook doesn't let the volume remount:

[code]

The status for old pod is not running, as it's claiming:
[code]

What you expected to happ

[2018-02-17 05:49] dimm0 opened #1508 "After loosing some nodes, rook's mons are crashlooping"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
rook cluster lost a couple nodes (were powered off). Now 2 out of 4 mons are crashlooping. ceph is not usable.

[code]

Full logs from one of mons are attached.

What you expected to happen:
Handle the loss of nodes, restart somewhere else.

How to reproduce it (minimal and precise):
Not sure what exactly caused

[2018-02-17 05:55] dimm0 commented on #1508
`ceph osd tree` shows all OSDs are up.
`ls` in the mounted blockdevice works fine. `cat`'ing a file hangs.

[2018-02-17 08:05] dimm0 commented on #1508
#1027

[2018-02-17 08:11] dimm0 commented on #1027
Any way to fix this?

[2018-02-17 17:16] r0xsh commented on #1487
I have this problem using xfs, I'll try to inverstiger on the problem.
If it is a bug from rook, I will submit a pull request to fix that :)

[2018-02-18 23:37] dimm0 opened #1510 "clusters.rook.io CRD removal is impossible in a broken cluster"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
The rook cluster is in a completely broken state now after a couple nodes lost the power. I'm trying to reinstall rook, and now it's stuck on deleting the rook namespace and clusters.rook.io CRD.

kubectl describe crd clusters.rook.io:
[code]

What you expected to happen:
Ability to delete the rook cluster when

[2018-02-18 23:48] dimm0 commented on #1510
`ETCDCTL_API=3 etcdctl --endpoints=localhost:2379 del /registry/apiextensions.k8s.io/customresourcedefinitions/clusters.rook.io` helped cleaning so far..

[2018-02-19 00:56] jbw976 commented on #1510
This could be a dupe of #1488

[2018-02-19 01:01] dimm0 commented on #1510
Yes. Should I close this one?

[2018-02-19 20:52] jbw976 commented on #1504
@dangula: @travisn updated the jenkins config so that the "test connection" buttons report success for all the GCE config.  However, we are still not seeing any GCE instances starting when a build runs.  Do you know where else we should look to remedy this issue?

[2018-02-19 22:32] dangula commented on #1504
looking at the logs will be the first step, you can find them under `Manager Config -> system log`.
The logs are failry verbouse and they usually point to the issue.
    If "test connection" is reporting success, then the next step would be to check slave agent configuration, under Manage Config -> configure systems. At the bottom of the page there should be multiple configurations for all the plu

[2018-02-19 23:30] travisn commented on #1504
Ok, found how to apply the service account to hook up Jenkins to GCE again. The config that @jbw976 mentioned was the correct config, but had actually not been applied mistakenly. The builds are going successfully now.

[2018-02-19 23:30] #1504 closed

[2018-02-19 23:36] #1488 closed

[2018-02-20 00:54] #1461 closed

[2018-02-20 03:46] #1483 closed

[2018-02-20 10:04] TimJones opened #1511 "Helm chart wait for TPRs\CRDs"
**Feature Request**

A very simple quality-of-life feature for the Helm chart installation to wait until the TPRs\CRDs are available before finishing. This helps in cases such as using a [helmfile](https://github.com/roboll/helmfile) to deploy the operator, and a cluster.

I saw the idea in [prometheus-operator](https://github.com/coreos/prometheus-operator/blob/release-0.17/helm/prometheus-operat

[2018-02-20 13:02] beatlejuse commented on #1278
@travisn  @jbw976  ok!
i'm rebuild my k8s cluster and update rook image to 0.6.0.219
after restart one node i see this:
ceph status
https://gist.github.com/beatlejuse/9a5afa8ef80d849d0227a906d1a75177
ceph osd tree
https://gist.github.com/beatlejuse/687e0611446dcd19f2de807f9d3927fb

ceph osd tree
https://gist.github.com/beatlejuse/b281a69a2968c34e721cf3fe102f207a

ceph osd tree
https://gist.github.

[2018-02-20 16:08] jbw976 commented on #1511
This sounds like a very useful idea @TimJones, I like it!  I'd be happy to see a pull request with this enhancement :)

[2018-02-20 21:11] TimJones commented on #1511
Opened a PR, hope it gets in to 0.7 :)

Also noticed in the docs you're looking for contributions for charts for the resources themselves, were you thinking a chart per kind, or a generic one that can configure multiple clusters\pools\etc...

[2018-02-21 01:56] kilsoo75 commented on #1110
Hi ~
I installed the rook on my k8s cluster today but I got the same issue on my k8s environment.

**[environment]**
- OS : CentOS Linux release 7.4.1708 (Core)
- ROOK image : rook/rook:master (v0.6.0)
- Log
_2018-02-21 01:33:50.520556 E | flexdriver: Attach volume replicapool/pvc-03a5fc0d-1624-11e8-9c9e-0699d760d333 failed: failed to attach volume replicapool/pvc-03a5fc0d-1624-11e8-9c9e-0699d760d

[2018-02-21 03:09] jbw976 commented on #1110
We've seen this before on 3.x kernels.  If it's not feasible to upgrade the kernels then a workaround suggested by @kokhang would be:

[2018-02-21 14:06] kilsoo75 commented on #1110
@jbw976 Many thanks for your mention. I did the 'modprobe rbd' on the host node and the container mounted the volume successfully. Additionally, I will try to upgrade the kernel version of host machine.

[2018-02-21 17:16] #1511 closed

[2018-02-21 23:24] travisn commented on #1446
I'm not seeing the crash loop after upgrading from 0.6.2 to 0.7.0, but I am seeing an issue in the osd pod where the osd fails to start with the error
[code]

We need to update the docs for the changed pod spec for the osd.

[2018-02-22 00:04] jbw976 commented on #1446
@travisn the issue that @kokhang saw may only be triggered if you are using `useAllNodes: false` that would have more logic in the operator to trigger an OSD removal.

[2018-02-22 00:31] kokhang commented on #1446
Yes i did specify the devices manually when upgrading. I was testing the replicaset OSDs as supposed to the daemonset ones.

For the `cluster-id is required for osd`, i did fix it but was not merged. You can see the work here. https://github.com/rook/rook/pull/1431

[2018-02-22 00:32] kokhang commented on #1446
By the way, when i said "fix", i meant i had docs in the upgrade document that solved that issue :)

[2018-02-22 00:37] jbw976 commented on #1446
@kokhang can you be specific about what exactly in the upgrade doc changed in order to avoid a `cluster-id is required for osd` error?

[2018-02-22 15:58] kilsoo75 opened #1516 "Document Operator config options"
I have five worker nodes and I would like to use two node of them for storage dedicated node.
So I set the label and taint at the two storage dedicated nodes like following.

[code]

After then I performed the rook-operator.yaml. At that time, rook-agent pod has been created automatically by rook-operator. But I could not find the configuration of nodeSelector and taint tolerations in the rook-ope

[2018-02-22 18:15] kokhang commented on #1516
@kilsoo75 The tolerations for the agents can be added as shown here: https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-operator.yaml#L128.

But i agree that there should be an explicit document about the Operator and all its config options.

[2018-02-22 18:37] jbw976 opened #1517 "helm repo index was not updated for v0.7"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:  I ran the rook/promote target on Jenkins to promote v0.7 to alpha, but the index files on https://charts.rook.io/ (both alpha and master) have not been updated to v0.7.

What you expected to happen:  The alpha and master helm repos to have been updated to v0.7.

[code]

[2018-02-22 19:12] travisn commented on #1446
I was able to repro the issue with unknown pgs when there was one pool. If I also created an object store or filesystem, I did not see the issue after upgrade. The resolution was to upgrade the osds. No other side effects were observed while the pgs were in unknown state, though I wasn't exercising the data path during the upgrade.

[2018-02-22 22:07] jbw976 commented on #1446
Did the operator logs give any indication that it attempted to remove the OSDs?

[2018-02-22 23:48] travisn commented on #1446
@jbw976 i haven't seen anything in the logs about the operator attempting to remove an osd, whether using all nodes true or false.

[2018-02-23 02:15] jbw976 commented on #1517
The last version that made it into the helm repo index was `v0.6.0-202.gdb919ac`, corresponding to this commit: https://github.com/rook/rook/commit/db919acdf742f9a93028b7c073f9d3e24f3fce29

This is right around the time when the domain names were transferring over to the CNCF.  My best guess is that the https://charts.rook.io/ domain and S3 bucket transferred over to the CNCF, so the [`promote.hel

[2018-02-23 02:48] #1446 closed

[2018-02-23 07:38] kilsoo75 commented on #1516
@kokhang Thanks your reply.

I also saw the comment of the "rook-operator.yaml".
I thought the rook-agent just installed the dedicated storage node.

I'm confusing. According to the below comment, rook-agent should be installed on all nodes which want to use the persistence volumes provided by ROOK??

[code]

[2018-02-23 16:17] galexrt commented on #1516
@kilsoo75 The Rook Agent DaemonSet is used for mounting/unmounting volumes. It "installs" a binary into a Kubernetes volume plugin dir which is used, as written, for mounting/unmounting of volumes through the kubelet.
As you wrote, you need Rook Agent on every node you want to use persistent volumes on.

[2018-02-23 16:54] kilsoo75 commented on #1516
@galexrt Thanks for your reply.

I have a  questions.
The rook-agent has been install on every worker nodes (node 1~3) like following.

[code]

And the cluster has been installed on the dedicated storage nodes(node 4~5) like following.
I used the taint/toleration/nodeSelector.

[code]

After then, I deployed an pod and it was scheduled on node2. Then pv/pvc also were created using storageClass.
Bu

[2018-02-23 17:26] galexrt commented on #1516
@kilsoo75 Could you post the error of the Pod (`kubectl describe pod POD_NAME`)?
You don't need to have the Ceph cluster components on each node for that. You only need Rook Agent on the nodes storage/persistent volumes will be consumed.

[2018-02-23 19:32] travisn commented on #1510
@dimm0 please reopen this issue if the documentation around #1488 does not solve it.

[2018-02-23 19:32] #1510 closed

[2018-02-23 19:35] jbw976 commented on #1487
@r0xsh are you saying that this issue happens when 1 pod uses 2 PVCs that use different storage classes?  That would be surprising to me, but I want to confirm that's exactly what you are seeing.

[2018-02-23 20:04] mcwienczek commented on #1312
+1
Having the same issue with rook on master (SHA 8064b285447a815ada1b2994aa6e98ee25bba2a0)
single-node CentOS 7 KVM 28GB RAM 4CPUs

[2018-02-24 02:28] dmick opened #1520 "Set of small problems with multi-node build env"
**Bug Report**

What happened:

Trying to build with the recommended procedure in https://github.com/rook/rook/blob/master/Documentation/development-environment.md, I encounter several issues:

1) build-rook.sh tries to preserve existing .kube/config's, but doesn't check to see if the existing config is already the rook version, so generates multiple backup files containing the same info (easily f

[2018-02-24 02:29] dmick commented on #1520
@leseb since this is yours perhaps you can advise, but in case others can I made it a public issue

[2018-02-24 12:17] rootsongjc commented on #1147
## Environment

- kubernetes 1.9.1
- CentOS7
- Docker 1.12.6
- rook 0.6.2 alpha

## Logs

I use the `mysql.yaml` file from this repo to create a mysql, it's ok, but when I create wordpress, it's wrong, the PV cannot be attached to pod.

**rook agent log**

[code]
**Describe pod**

Describe the wordpress pod.

[code]

[2018-02-24 20:07] pierreozoux commented on #1517
I think it is now fixed.

Another (related) question, as rook is considered beta, shouldn't we add the beta channel there?

[2018-02-26 09:52] hacor opened #1523 "Using separate networks for Ceph cluster"
Hello,

I wanted to ask a question about the implementation of the [Ceph config parameters for networking](http://docs.ceph.com/docs/master/rados/configuration/network-config-ref/#ceph-networks).
I'm trying to use different networks for my Rook cluster to be able to use QoS on my network switches to make sure the Rook cluster always has the bandwidth available it needs.
I was walking through the R

[2018-02-26 09:56] dev10 commented on #1517
Unfortunately It's still not fixed.
Also, you can download this: [https://charts.rook.io/alpha/rook-v0.6.2.tgz](https://charts.rook.io/alpha/rook-v0.6.2.tgz)
but not this [https://charts.rook.io/alpha/rook-v0.7.0.tgz](https://charts.rook.io/alpha/rook-v0.7.0.tgz), even though both are [listed](https://charts.rook.io/alpha).
The latter link goes to an empty directory.

[2018-02-26 10:07] galexrt commented on #1520
@dmick The `error: unable to recognize "rook-cluster.yaml": no matches for rook.io/, Kind=Cluster` means that the operator hasn't started yet and registered the Rook CRDs yet. This is fixed by adding a check before the `kubectl create -f rook-cluster.yaml` to look for the Rook CRD(s).

[2018-02-26 10:11] galexrt commented on #1312
@leseb @mcwienczek Just to make sure it is not kernel related, could you check if this error also appears with a newer kernel version (e.g. 4.x)?

[2018-02-26 10:52] junaid-ali opened #1524 "ResourceQuota not working for rook-block storage class"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
Resource quota constraints not working for Rook storage class. I created an nginx deployment with 2 replicas in a namespace where ResourceQuota constraints were applied, replicaset controller fails with error: `Error creating: pods "nginx-deploy-598c9bf7-4wcqv" is forbidden: status unknown for quota: rs-quota-ex

[2018-02-26 11:14] pierreozoux commented on #1517
Yes, realized later too :/

How could we help to fix that?

[2018-02-26 12:51] karstensi commented on #1507
I have the exact same experience on environment:
* OS
  Debian GNU/Linux 9 (stretch)
* Kernel
  Linux <hostname> 4.9.0-5-amd64 #1 SMP Debian 4.9.65-3+deb9u2 (2018-01-04) x86_64 GNU/Linux
* Cloud provider
  AWS
* Rook version
 rook: v0.7.0-4.g8064b28
* kubernets version:
  Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", G

[2018-02-26 16:17] kilsoo75 commented on #1516
@galexrt Hi , I re-installed the rook cluster for checking the above issue today.
Above issue did not replicated. A pod scheduled on worker node mounted the volume successfully.
Many thanks for your advice.

[2018-02-26 16:19] galexrt commented on #1516
@kokhang @kilsoo75 I would like to rename this issue to "Document Operator config options". Anything against it?

[2018-02-26 16:22] travisn commented on #1516
Agreed, let's get this documented thanks.

[2018-02-26 16:43] kilsoo75 commented on #1516
I agreed too. Thanks

[2018-02-26 16:45] travisn commented on #1524
@junaid-ali should that be `requests.storage` instead of `requests.io`? It looks like if there is an invalid quota name it will give the access denied error.

[2018-02-26 16:56] travisn commented on #1523
@hacor these network settings are not exposed in the cluster yaml today. It was originally implemented as a feature of the standalone rook for #116, before we were focusing on kubernetes. You should be able to get this working with the configmap override. Did you try adding `public addr` and `cluster addr` to the override?

[2018-02-26 17:50] dimm0 commented on #1507
Yup, never goes away until the node is started or deleted from the cluster. K8s can't clear the pod from non-running node..

[2018-02-26 18:05] dmick commented on #1520
@galexrt: thanks.  I saw the container running normally and assumed it must have registered, but I guess there needs to be more time there.  Reproducing the create cluster succeeds this morning.

Is there a straightforward way to query for "this CRD is valid"?

[2018-02-26 18:11] galexrt commented on #1520
@dmick Depends on what you find as a "straightforward way". ;)
I would use something like this:
[code]

[2018-02-26 18:22] dmick commented on #1520
"get crd clusters.rook.io" is what I was after.  tnx.

[2018-02-26 18:25] travisn commented on #1507
ok, looks like we will need to add that condition for attaching.

[2018-02-26 18:41] travisn opened #1528 "Pick up Luminous 12.2.3"
Since Luminous 12.2.3 came out five days ago, I would have expected it to be picked up by the next Rook build. However, the latest master builds are still picking up 12.2.2.

The issue appears to be that the build machine is caching the docker layers. Until there is a change to the Dockerfile, 12.2.3 will not be picked up in the builds. Either we need the builds to check automatically if there is

[2018-02-26 19:05] bassam commented on #1528
once the work in the ceph-container project is complete we would be able to refer to a specific image like `ceph-base:v12.12.3` image. /cc @BlaineEXE @leseb

[2018-02-26 19:08] travisn commented on #1528
Ok, for now the easiest way to pick up 12.2.3 is to change the whitespace on [this line](https://github.com/rook/rook/blob/master/images/rook/Dockerfile.base#L19) so it will invalidate the cache. That worked for me locally.

[2018-02-26 19:12] leseb commented on #1528
I'm expecting this work to be completed this week or the next one. Once we have images online I'll submit a PR to switch.

[2018-02-26 20:31] travisn commented on #1528
The latest master build `v0.7.0-6.ga9d1528` now contains 12.2.3, as will all future builds including from the 0.7 release branch. Both jenkins agents were deleted and re-created.

[2018-02-26 20:31] #1528 closed

[2018-02-26 20:42] travisn commented on #1318
with the release of 0.6 this should not be hit anymore with the alpha tag.

[2018-02-26 20:42] #1318 closed

[2018-02-26 20:43] travisn commented on #1516
Actually, we have #1302 to track the doc so we can close this one, right?

[2018-02-26 20:50] galexrt commented on #1516
@travisn Right! Closing this.

[2018-02-26 20:50] #1516 closed

[2018-02-26 21:08] travisn commented on #1394
@hoanhdo this is resolved, right?

[2018-02-26 21:08] #1394 closed

[2018-02-26 21:09] travisn commented on #1390
this should not be an issue since we've released 0.7

[2018-02-26 21:09] #1390 closed

[2018-02-26 21:11] #1363 closed

[2018-02-26 21:14] travisn commented on #1349
@jpds please reactivate if #1437 was not sufficient

[2018-02-26 21:14] #1349 closed

[2018-02-26 21:18] travisn commented on #1338
I can't repro with the given object store yaml with the `kind: ObjectStore` as mentioned by @kokhang. @jpds please reactivate if you can repro again with any more details on the repro.

[2018-02-26 21:18] #1338 closed

[2018-02-26 21:21] travisn commented on #1291
@cboothe please re-open if that does not fix your issue.

[2018-02-26 21:21] #1291 closed

[2018-02-26 21:22] travisn commented on #1233
@mossinfan please re-open if there is still an issue here

[2018-02-26 21:22] #1233 closed

[2018-02-26 21:25] #984 closed

[2018-02-26 21:26] travisn commented on #984
just install rook before running the tests with the skip_install_rook flag

[2018-02-26 21:29] travisn commented on #780
@hailong226 please reopen if this is still an issue on 0.7

[2018-02-26 21:29] #780 closed

[2018-02-26 21:30] travisn commented on #704
No need for making the api optional since it is being removed in #1474

[2018-02-26 21:30] #704 closed

[2018-02-26 21:34] travisn commented on #255
let's revisit this when required

[2018-02-26 21:34] #255 closed

[2018-02-26 23:13] jbw976 commented on #1331
This behavior will be addressed by #1341

[2018-02-26 23:13] #1331 closed

[2018-02-27 08:19] hacor commented on #1523
No, I didn't, but can I create an override per node? Because the `public addr` and `cluster addr` need to be fixed addresses not a a CIDR value as far as I remember... This means I need an address override for node1, node2, node3,... to give each of them the correct address.

[2018-02-27 15:51] galexrt commented on #1507
@travisn The problem I see is that `Terminating` doesn't have to mean the Pod is already down on the broken node it still could be running and still consuming the storage. For example it could possibly be that the node the Pod runs on just has an issue with kubelet and kubelet has "crashed"/been stopped for some reason where the Pods continue running.

[2018-02-27 15:51] steven-sheehy commented on #1517
Seems like this ticket fixes it for the next release, but the helm index is still not updated for 0.7. Is there any way someone can manually update it?

[2018-02-27 17:18] dgonzalezruiz opened #1531 "Several symlinks are missing at OSD creation"
**Bug Report**

I have several devices encrypted with dm-crypt. Those devices are normal devices `/dev/sdb`, `/dev/sdc`... When those get encrypted, you map then to something like `/dev/dm-10`, symlinked to `/dev/mapper/${provided_name}`. The node name of the device is `dm-10` and therefore it's the only way to let rook know about this device.
When you give the cluster the option to use devices ma

[2018-02-27 23:43] dyusupov opened #1532 "Add support for NexentaEdge backend"
We need to add support for EdgeFS (OSS core of NexentaEdge) backend to be a part of 0.8 milestone if that is ok.

EdgeFS is high-performance and low-latency object storage system released under Apache License v2.0 developed in C/Go. It provides Kubernetes integrated Multi-Head Scale-Out NFS (POSIX compliant, Distributed RW access to files), Amazon S3 compatible API, iSCSI or NBD block interfaces,

[2018-02-28 08:00] zhwenh opened #1533 "v0.7.0 not support OpenShift: configmaps "rook-config-override" is forbidden: cannot set blockOwnerDeletion"
rook-operator v0.7.0 show Error after starting！
but rook-operator v0.6.2 is OK ，There is no problem。

**Bug Report**
rook-operator v0.7.0 show Error after starting：
[code]
**Please refer to similar mistakes：
https://github.com/kubeless/kubeless/issues/390**

**Environment**:
* Rook version (0.7.0):
* Kubernetes version (1.7):
* Kubernetes cluster type (OpenShift3.7):
* Ceph status (OK](https://Roo

[2018-02-28 13:03] jbguerraz opened #1534 "OSD and Mapped Devices"
**Bug Report**

What happened: Rook OSD tries to use a mapped device (which has a partition) and fails (https://gist.github.com/jbguerraz/5111fa3217c6fc4c314d065b5e0a16de) because of inconsistence between `lsblk --all --noheadings --list --output KNAME` output and `df --output=source,fstype` : `lsblk` kname is `dm-0` but `df` source is `/dev/mapper/usr` (and not `/dev/dm-0` - https://gist.github.c

[2018-02-28 13:33] galexrt commented on #701
I think this would be something to implement in the operator-kit. So everyone using it will get this feature.

[2018-02-28 18:57] jbw976 commented on #1000
API aggregation may enable us to perform some of this rich validation easier.

[2018-02-28 18:57] jbw976 commented on #1408
We'll address the architecture of the individual features as needed.

[2018-02-28 18:57] #1408 closed

[2018-02-28 19:02] jbw976 commented on #1330
We have addressed this with a documentation update and the ability to lookup the volume plugin path at runtime from kubelet config appears to be no longer supported.

[2018-02-28 19:02] #1330 closed

[2018-02-28 19:13] jbw976 commented on #701
As per @bassam:

[2018-02-28 19:15] jbw976 commented on #919
This has applicability for beyond just OSD pods, e.g. using AWS EBS or Google PD as the underlying storage for other backends.

[2018-02-28 19:17] travisn commented on #1122
We will plan on removing the api and rookctl, rather than deprecating

[2018-02-28 19:19] jbw976 opened #1535 "Convert CRDs to API aggregation"
Starting with k8s 1.7, API Aggregation is available to provide a much richer experience around extending kubernetes with custom resources.  We should consider switching our CRDs to use API aggregation instead.

More info:
https://kubernetes.io/docs/concepts/api-extension/custom-resources/#api-server-aggregation

[2018-02-28 19:30] jbw976 opened #1536 "Ceph Mimic support"
Before the Ceph Mimic release comes out, we should take the necessary steps to ensure integration with it is smooth and any interesting new features are supported.

[2018-02-28 19:46] jbw976 opened #1538 "CI pipeline failures have become more frequent recently"
We've seen more failures recently in our CI pipelines.  This may potentially be related to resetting the Jenkins agents recently, but that's not certain.  It appears that the tests are not cleaning up some state between runs.  The most common failure seen is:
[code]
We should figure out what the root cause for the failures is and make the tests more reliable.

[2018-02-28 23:37] jbw976 commented on #1129
This issue looks like it covers #1360 and #1500

[2018-02-28 23:38] jbw976 commented on #1360
I believe this is a duplicate of #1129, please follow that issue which is part of the 0.8 milestone.

[2018-02-28 23:38] #1360 closed

[2018-02-28 23:38] jbw976 commented on #1500
I believe this is a duplicate of #1129, please follow that issue which is part of the 0.8 milestone.

[2018-02-28 23:38] #1500 closed

[2018-02-28 23:47] jbw976 commented on #1533
The operator now in 0.7 sets owner references for all objects that it creates so that they will be deleted automatically when a cluster is deleted.  It looks like this is not compatible with a security setting or permission in OpenShift:
[code]

[2018-02-28 23:50] jbw976 commented on #1517
@steven-sheehy. we will be running a new minor release 0.7.1 that will fix this issue for 0.7.  We are having issues with our build instance which has delayed this release a bit.  In the meantime, newer builds in master have already started publishing helm charts again if that works for you.

[2018-03-01 00:12] jbw976 commented on #1407
The 0.6 docs mentioned by @travisn address this issue I believe.

[2018-03-01 00:12] #1407 closed

[2018-03-01 01:16] jbw976 commented on #1326
Thanks @AceHack, we can definitely make improvements for managing the lifecycle of config/metadata in Rook clusters.  Besides the long term local storage effort in #796, a more short term effort will be tracked in #1490.

[2018-03-01 01:16] #1326 closed

[2018-03-01 01:24] jbw976 commented on #1337
Thanks for bringing this up @christianhuening, I believe this issue is now covered by #1389 and its associated design write-up: https://github.com/rook/rook/blob/master/design/security-model.md.  That issue is in the 0.8 milestone.

[2018-03-01 01:24] #1337 closed

[2018-03-01 01:41] jbw976 opened #1539 "Custom resource validation, progress, status"
After we are using API aggregation from #1535, we can enable a rich experience for custom resources that involves:
* validation: let the user know up front if there's any issues or errors with the custom resource.  This could be because of improper syntax or it could be a more complicated issue related to the environment they are running in.
* progress: update the custom resource over time with pr

[2018-03-01 01:45] jbw976 commented on #928
I believe this was fixed in #1480, good job @jbw976 :)

[2018-03-01 01:45] #928 closed

[2018-03-01 01:47] jbw976 commented on #506
The rookctl tool will be removed in #1122

[2018-03-01 01:47] #506 closed

[2018-03-01 01:53] jbw976 opened #1540 "multi node dev environment for Mac"
Similar to what @leseb enabled on Linux hosts with #1405, it would be really beneficial to have a development environment with multiple nodes running on a host Mac.  I'm not sure of the exact reasons preventing that solution from working on Mac, so it would probably be wise to start there and see if something could be done for cheap.

Otherwise, a solution using vagrant and kubeadm should be feasi

[2018-03-01 04:54] jbw976 commented on #1228
The issue of device names changing across reboots was addressed in the cluster update design doc at https://github.com/rook/rook/blob/master/design/cluster-update.md#device-name-changes

However, also adding support for `/dev/disk/by-id/` and the like would still be quite useful.

[2018-03-01 09:29] galexrt opened #1541 "Pickup Ceph 12.2.4"
Tracking ticket because of the Ceph MGR Prometheus metrics issue users are currently experiencing.
The issue with the metrics is fixed in the latest Ceph releases.

[2018-03-01 09:31] zhwenh commented on #1541
yes,12.2.4 is released，It has modified a lot of bugs。

[2018-03-01 15:00] zhwenh commented on #1533
I found the problem.

[2018-03-01 17:52] mdimonte commented on #1312
Also facing a very similar problem ... but running Kubernetes 1.9.3:

`[kubernetes@k8s-canal-master ~]$ kc -n rook-system logs -f rook-operator-698654c8dd-l792m
2018-03-01 17:13:59.178420 I | rook: starting Rook v0.7.0-4.g8064b28 with arguments '/usr/local/bin/rook operator'
2018-03-01 17:13:59.178713 I | rook: flag values: --help=false, --log-level=INFO, --mon-healthcheck-interval=45s, --mon-out-

[2018-03-01 18:28] jbw976 opened #1542 "docs: consider adding entry in common issues for "modinfo: ERROR: could not get modinfo from 'rbd': Exec format""
For 3.x kernels, the rook-agent fails to use modinfo/modprobe for the rbd kernel module.  We're seeing users run into this a few times, we should consider adding this topic to the common issues page in the https://rook.io/docs/rook/master/common-issues.html#pod-using-rook-storage-is-not-running section.

Details:
https://github.com/rook/rook/issues/1110#issuecomment-367199838

[2018-03-01 18:37] rootfs opened #1543 "Enable golangci-lint as a git action"
Is this a bug report or feature request?
* Feature Request

**Feature Request**
I came across quite some coding issues: errors are silently dropped, unexported variables/methods are capitalized, etc. Run code checkers can detect these problems.

Admittedly, `go lint` already reports hundreds of issues, it is going to be lots of work to fix them all. A possible solution is to use e.g. inspecode to

[2018-03-01 19:52] patrickstjohn commented on #717
In order for us to recover from a similar situation (including dd'ing drives) we had to run the following where wipefs hadn't worked:

[code]

Where device is the actual device that's failing. This created a drive UID and got us to a point where the osd's could properly create within ceph.

[2018-03-01 21:07] jbw976 commented on #1543
Thanks for suggesting this @rootfs.  This is related to #495 which is the issue tracking `go lint` issues in general.  I'm more concerned with the functional issues that you mention, than just the simple commenting issues that don't have functional impact.

[2018-03-02 16:38] jbw976 commented on #1237
We recently reorganized the document structure on https://rook.io/docs/rook/master/ to make the setup flow easier to follow.  Let us know if there are specific changes that would still be required.  Thank you!

[2018-03-02 16:38] #1237 closed

[2018-03-02 19:32] rootfs commented on #1543
+1 for functional impact

I spent sometime debugging why my mon was not started and found out the error was silently dropped [here](https://github.com/rook/rook/blob/master/pkg/operator/cluster/ceph/mon/mon.go#L138).

Running gomegalinter can detect this.

[code]

[2018-03-02 20:14] rootfs commented on #1543
[code]

[2018-03-04 08:18] barakmich commented on #1011
I'd like to request this specifically, with a few more details:

Suppose I have some durable storage on bare-metal, on which I'm storing all of `/var/lib/rook`, the OSD data, and the MON data. These are safe throughout.

Now suppose my cluster gets completely fried. etcd loses it's mind, and everything in the cluster needs rebuilding.

My data, in some sense, is still present, but now I've lost al

[2018-03-04 14:57] bassam commented on #1011
@barakmich that should be possible if we can find all the underlying `/var/lib/rook` dirs. There is enough state in those directories to bring up the cluster.

Would be great if we also snapshotted the CRDs somewhere as you point out.

[2018-03-04 19:11] barakmich commented on #1011
@bassam Good to know. Should I file a separate issue?

[2018-03-04 20:18] jpalpant opened #1544 "rook-operator: config map result channel closed loop"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened: rook-operator does not orchestrate changes to the cluster based on changes to the CRD, prints out log messages about configmap watcher being closed

What you expected to happen: rook-operator stays operation and can orchestrate changes to the cluster

How to reproduce it (minimal and precise):
Create rook-operat

[2018-03-05 02:34] rossedman commented on #1472
Also happening to me

[2018-03-05 17:10] Paxa opened #1546 "How to get disk usage?"
Hello, is there some way to get disk usage for persistent volumes? may be some API?

The only way I found:
[code]

Result:
[code]

[2018-03-05 17:50] bryanlarsen opened #1548 "[hostNetwork] new mon come up with 127.0.0.1"
Bug Report

What happened:

I rebooted a machine, and it was down long enough to trigger a mon rollover.   The new mon came up on 127.0.0.1 and in a bad state.

What you expected to happen:

a new mon comes up in a good state.

How to reproduce it (minimal and precise):

With a 4 machine kubernetes cluster, shut down one of your machines.

**Environment**:
* OS (e.g. from /etc/os-release):  Ubuntu

[2018-03-05 17:51] pierreozoux opened #1549 "Leverage node labels for storage devices in Cluster CRD"
* Feature Request

**Feature Request**

Are there any similar features already existing: no

What should the feature do:
Currently, you configure the devices available in a node from the `Cluster` CRD.
Following registration/discovery pattern, it would feel nicer to set labels in the node itself to `register` what devices it has available for ceph.
Then the operator would discover them and configu

[2018-03-05 17:54] bryanlarsen commented on #1548
https://rook-io.slack.com/archives/C46Q5UC05/p1520270168000697

[2018-03-05 19:27] kokhang commented on #1549
@pierreozoux This is a great idea. I agree that having to specify devices on the Cluster CRD is not ideal.

There are been talks about how to best approach this feature in the past. A proposal that has been brought forward is to leverage [LocalVolumes](https://kubernetes.io/docs/concepts/storage/volumes/#local) to define devices on nodes to be used by Rook. That way devices can be simply added/rem

[2018-03-05 20:10] jbw976 commented on #1544
Thanks for sharing this information @jpalpant, I think I know what is causing this now, as described in https://github.com/kubernetes/client-go/issues/334#issuecomment-370546764.  I wonder if there's a way to easily test for the condition where the resource version to start watching from has been compacted.  From what I've seen so far, the watcher is created OK but the channel appears closed.  I'm

[2018-03-06 04:36] bassam commented on #1541
master build is broken now I'm assuming due to 12.2.4 being picked up and arm64 packages missing from upstream repos:

[code]

cc @leseb @dmick @liewegas any known issues?

[2018-03-06 07:47] beatlejuse opened #1550 "Allow setting resources limits on the agent"
i try to set resources limits as:
https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-cluster.yaml
and it's not working.
resource limits simply do not apply.
they are not present in a config if to look kubectl describe po.

Environment:
    OS (e.g. from /etc/os-release): CoreOS 1632.3.0
    Kernel (e.g. uname -a): Linux 4.14.19-coreos #1 SMP Wed Feb 14 03:18:05 UTC 2018 x86_

[2018-03-06 08:08] whisper-bye commented on #1517
follow the docs https://github.com/rook/rook/blob/master/Documentation/helm-operator.md

$ helm search rook

[code]

$ helm install rook-master/rook --name rook --version v0.7.0-10.g3bcee98

[code]

[2018-03-06 08:10] galexrt commented on #1550
The `v0.6.x` release didn't include resource requests and limits, see https://github.com/rook/rook/blob/release-0.6/cluster/examples/kubernetes/rook-cluster.yaml.
The feature was first included with `0.7.x`, see https://github.com/rook/rook/blob/release-0.7/cluster/examples/kubernetes/rook-cluster.yaml.

I suggest to use the specific `release-X.x` branch for the release you are running, to get the

[2018-03-06 10:10] beatlejuse commented on #1550
@galexrt  ok.
I've updated to v0.7.0-10.g3bcee98
now resource requests and limits works for rook-operator, api, mgr, mon and osd.
But not works for mds and rook-agent

[2018-03-06 10:14] galexrt commented on #1550
The rook-agent doesn't have resource requests and limits exposed through the Cluster CRD.
Only components listed in the Cluster CRD (see https://github.com/rook/rook/blob/release-0.7/cluster/examples/kubernetes/rook-cluster.yaml#L59-L70) will receive resource requests and limits.

MDS get resource requests and limits through their respective Filesystem CRD, see https://github.com/rook/rook/blob/re

[2018-03-06 10:20] pierreozoux commented on #1517
@whisper-bye you still need to wait the 0.7.1 release.

[2018-03-06 17:00] jbw976 opened #1551 "Add NFS as a storage backend"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: Ceph is an existing storage backend for Rook and this would add NFS as another storage backend.

What should the feature do: From this feature, Rook would be able to orchestrate and deploy Network File System(s) in Kubernetes clusters.

What would be solved through this

[2018-03-06 17:24] jbw976 opened #1552 "Design for volume snapshot and backup policy"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: Not within Rook, but there is a sig-storage effort for snapshot support that we should consider aligning with.  See:
https://github.com/kubernetes/kubernetes/issues/44172
https://github.com/kubernetes/features/issues/543

What should the feature do: A user of a kubernet

[2018-03-06 19:44] jbw976 commented on #1517
@whisper-bye @pierreozoux this may actually be an issue that is not related to the still pending 0.7.1 release.  The line that appears to be failing is https://github.com/rook/rook/blob/release-0.7/cluster/charts/rook/templates/wait-on-resources-job.yaml#L25 that is attempting to compare the Kubernetes version against "1.7".  I don't know a lot about how the `semverCompare` check works, but from t

[2018-03-06 19:55] TimJones commented on #1517
@whisper-bye can you post the output of `helm version` and `kubectl version`??

[2018-03-07 01:24] whisper-bye commented on #1517
@TimJones yes, sure.

$ helm version
[code]

$ kubectl version
[code]

[2018-03-07 03:36] jbw976 opened #1553 "rook-agent formatted an in use volume"
Users @chaosaffe and @apinnecke reported their mongoDB data completely wiped out and it appears the rook-agent caused this to happen.  The best guess at the repro steps right now are to delete a pod with a rook-block volume.  The environment is also on very slow infrastructure which may be causing a timing issue to be surfaced.

Log and related objects can be found in https://gist.github.com/jbw97

[2018-03-07 03:37] jbw976 commented on #1553
@kokhang it would be good to get your take on this issue if you can find the time.

[2018-03-07 03:40] jbw976 commented on #1517
Thanks @whisper-bye, that confirms that the Kubernetes server version is indeed blank for major and minor fields.  That's what's causing the semver check to fail.

@TimJones can that condition be handled in a template, or is this an invalid configuration?

@whisper-bye how did you deploy your kubernetes cluster?  Not sure i've seen blank major/minor versions before.

[2018-03-07 04:52] whisper-bye commented on #1517
@jbw976 minikube for gitlab devops env.

$ minikube version
[code]

[2018-03-07 07:13] beatlejuse commented on #1278
@travisn @jbw976  I found the cause of my problem!
I have a var/lib/docker cleanup step in my node load script to remove old containers and images.
if I disable this step, the node returns to the ceph cluster when it reboots.
as I understand it, when cleaning var/lib/docker node is necessary to add not as existing, and as new.
how can I do that?

[2018-03-07 08:56] TimJones commented on #1517
@whisper-bye Seems like you're running into kubernetes/minikube#2505

Not sure how it's an upstream issue though, as in my bare-metal & aws clusters version reporting works as expected.

@jbw976  As for a workaround, we could simply skip the whole wait job if we don't have `.Capabilities.KubeVersion.Major` or `.Capabilities.KubeVersion.Minor` (or assume to wait for CRDs but I don't really like tha

[2018-03-07 15:58] shamalco opened #1554 "Rook not creating PVC and errors"
Hi,

I am sure I am doing something wrong, but can't figure it out. I create everything is up from a operator and cluster perspective(double confirmed the cluster is OK) but when I am creating PVC using mysql example, and I am not able to. I am just get Pending in pvc get:
`mysql-pv-claim   Pending                                       collectiveblock   19s`

When I describe it I get the following

[2018-03-07 16:09] galexrt commented on #1554
@shamalco Could you please fill out the other fields from the issue template, see https://github.com/rook/rook/issues/new

[2018-03-07 16:16] jbw976 commented on #1548
do we understand the root cause of this issue yet?  do we have a good workaround that we can document here until a fix can be put in place?

[2018-03-07 16:18] galexrt commented on #1548
@jbw976 I'm currently implementing a fix in the code and writing a documentation to fix the issue until the fix is in the code and released.

[2018-03-07 17:01] galexrt commented on #1027
This seems like a Ceph issue with the FS Map when MDSs are running in `standby-replay` mode.

[2018-03-07 17:02] galexrt commented on #1382
From the error message, this seems to be a duplicate of #1027.

[2018-03-07 17:04] kokhang commented on #1553
This is an odd issue. Does the format happens every time  an attach occurs? As mentioned by @jbw976 , the agent checks whether the disk is formatted by runing `lsblk`. Look here https://github.com/kubernetes/kubernetes/blob/release-1.9/pkg/util/mount/mount_linux.go#L540.

If the result is empty, then it means it doesnt have a filesystem. It would be interesting what the output of that command is.

[2018-03-07 17:53] shamalco commented on #1554
Thanks I am going to go ahead and close the case. I think I figured out what is happening, I will reopen with the correct format if I can't resolve it.

Excellent Project huge fan!

[2018-03-07 17:53] #1554 closed

[2018-03-07 19:44] jbw976 commented on #1382
Closing this to track on #1027 which this issue does appear to be a duplicate of.

[2018-03-07 19:44] #1382 closed

[2018-03-08 07:06] lorenz commented on #1507
As far as I know this needs RBD fencing which is not properly supportable in container-based environments without full-force unmapping. Basically one needs to fence the old node of the volume using Ceph fencing before reattaching to a different node (to prevent corruption arising from two nodes having the device mapped). The old node needs to execute a full-force unmap (discarding all IO) once it

[2018-03-08 09:55] aolwas commented on #1501
Same error here

* k8s 1.9.3 deployed with kubespray on Openstack cluster
* Calico network
* rook operator v0.6.2 deployed with helm
* rook cluster from doc's example (bluestore in /var/lib/rook on every node)
* pool with 1 replica

PVC and PV creation works fine but got a timeout when mounting the PVC in a pod

[2018-03-08 10:04] galexrt commented on #1501
@NiraliSupe Can you please provide the full describe output for the Pod that is unable to mount the PV? `kubectl describe po wordpress-mysql-557ffc4f69-8zxsq`.
Also what Rook version are you running and which kernel is used?

[2018-03-08 16:04] travisn commented on #1278
@beatlejuse not sure I follow, what are you trying to accomplish by deleting /var/lib/docker? If you're trying to reboot the node and have the osd recover after restart, you would need to keep the docker folder.

[2018-03-08 18:15] virtuman commented on #1501
here's an example of exact same issue, same setup as @aolwas

[code]

[2018-03-08 18:34] virtuman commented on #1501
same error here:
k8s 1.9.3
calico
rook installed using rook-master/rook helm chart with version

[2018-03-08 20:15] #1548 closed

[2018-03-08 22:30] jbw976 commented on #1517
@TimJones thanks for your input. how simple of a change to the job would that be to just skip if we don't have version numbers? is that something you could open a PR for?

[2018-03-08 22:42] jbw976 commented on #1541
latest in master is now using 12.2.4:
[code]
The 0.7 release branch will pick this up as well next time we run a release build.

[2018-03-08 22:42] #1541 closed

[2018-03-09 00:27] sjdevries commented on #1228
I'd love to see /dev/disk/by-path/

IIRC,  on my server the SAS expander backplane or the HBA has limits on mixing SAS / SATA,  ssd/hdd drives.  Specifically bays 0-1 are supposed to be the two used for cache drives when mixing types.

It would be great to be able to set metadata to the /dev/disk/by-path/ for those 2 bays and storage to the paths for the other 10.

Not sure if newer hardware has s

[2018-03-09 05:55] jbw976 commented on #1501
Has the common issues entry on this topic been useful for anyone yet?  there are a few parts of it that may give some guidance: https://rook.io/docs/rook/master/common-problems.html#pod-using-rook-storage-is-not-running

the rook-agent logs and sometimes the kubelet logs for the node that the pod is scheduled on can be especially useful here too.

[2018-03-09 06:57] TimJones commented on #1517
@jbw976 It's a simple 2 line fix. I'll create a PR shortly.

[2018-03-09 20:38] beatlejuse commented on #1278
@travisn
the folder /var/lib/docker and exactly /var/lib/docker/overlay consumes too much space.
if the disk runs out of free space, the reason for this is the /var/lib/docker/overlay folder.
as you know, kubernetes exclude the node from the cluster, if free space becomes less than 20%.
clearing the /var/lib/docker folder with the startup script allows the node to be returned to the cluster again

[2018-03-09 21:40] #1520 closed

[2018-03-10 16:02] mikeatm opened #1565 "Unable to mount shared filesystem in a pod, same filesystem works in rook tools, tmpfs mounted instead."
Yes, looked around, nothing similar exists, not in chat either.
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
Created a rook  setup
[code]
This is the contents of swift-fs.yaml

[code]
Attempted to mount it in a pod.

[code]
The shared filesystem does not  get mounted properly, instead i get this in the mountPath
[code]

Apparently in the pod its mounting s

[2018-03-10 20:32] mikeatm commented on #1565
This was done with one node,  but changing the  `size` and `erasureCoded`  [Using this fs](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-filesystem.yaml),
still does not solve the issue.

[2018-03-11 06:15] rossedman commented on #1517
@TimJones @jbw976 I am running into this error and my metadata output is not empty, so my install is trying not to skip the wait job. This chart worked for me not too long ago, old versions aren't cached or saved?

[code]

[code]

[2018-03-11 11:50] pdf commented on #1228
Even ignoring reboots, being able to reference backing disks by stable device names would be very useful, particularly for environments where the disks may be attached dynamically, and (along with rook) programmatically.

[2018-03-12 09:24] aolwas commented on #1501
Hi everyone,

I've finally figured out why rook was not working on my setup.

Using the default deploy mode, kubespray reconfigures the location for volume plugin to `/var/lib/kubelet/volume-plugins`.

However, The Rook agent still deploy the flexvolume plugin in the default location: `/usr/libexec/kubernetes/kubelet-plugins/volume/exec`.

Thus when trying to mount the volume in the pod, the plugi

[2018-03-12 09:30] TimJones commented on #1517
@rossedman Thanks for the extra info!
@jbw976 It looks like there are more permutations of versions than I accounted for. `GitVersion` looks more stable (if the `v` prefix is dropped), but I could end up just chasing all edge-cases as the bug reports come in...

[2018-03-12 09:33] galexrt commented on #1501
@aolwas There is documentation available for Rook to change the flevolume plugin path, here: https://rook.io/docs/rook/master/flexvolume.html (see the `FLEXVOLUME_DIR_PATH` env var for the rook-operator).

[2018-03-12 10:22] aolwas commented on #1501
@galexrt I honestly don't know how I have missed this. there's even a reference to this in the first post of this issue ... sorry, my bad :-(

With the env var, it works as expected.

[2018-03-12 15:25] travisn commented on #1278
Yes, in 0.7 Rook will add new nodes to the cluster. If you set `useAllNodes: true`, the new nodes should be picked up automatically. If you have `useAllNodes: false` and specify nodes individually, you would need to add the new node to the cluster crd.

[2018-03-12 15:47] jbw976 opened #1567 "helm wait-on-resources-job.yaml template doesn't handle invalid semvers"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened: Installing Rook operator with Helm chart in a Kubernetes environment with an invalid k8s semver fails with the following error:
[code]

What you expected to happen: Installing Rook operator with helm to succeed

How to reproduce it (minimal and precise): Install Rook operator using the Helm v0.7.1 Helm chart usin

[2018-03-12 15:48] jbw976 commented on #1517
@TimJones @rossedman I've opened https://github.com/rook/rook/issues/1567 to track this in its own issue.

[2018-03-12 15:54] jbw976 commented on #1567
@TimJones can any of the other functions in https://github.com/Masterminds/semver (I believe this is the library used by Helm) be used to validate the semver is valid before any other checks are performed?  Currently we are checking for empty strings at the top of the template, but if we could use a validation function from that library then we'd have all based covered without having to chase down

[2018-03-12 15:56] jbw976 commented on #1517
@rossedman we do keep previous versions available, you should be able to install using the `--version` argument that is mentioned in https://rook.io/docs/rook/master/helm-operator.html:
[code]

[2018-03-12 16:10] jbw976 commented on #1553
@travisn could you please take a look into this issue as well?

[2018-03-12 16:44] TimJones commented on #1567
@jbw976 I have been looking into if the `.Capabilities.KubeVersion.GitVersion` is parsable as a semver object and using that. Then I discovered that Helm supports checking for APIs directly with `.Capabilities.APIVersions.Has` so I'm currently testing that and will move to use it if it proves fruitful :)

[2018-03-12 17:09] galexrt opened #1568 "Graceful termination of storage backend components"
**Feature Request**

Are there any similar features already existing:
Partly, in the operator, flexvolume driver and OSD code.

What should the feature do:
Gracefully terminate storage backend components.

What would be solved through this feature:
The storage backend components would terminate gracefully allowing the component and Rook to run certain clean up functions before (force/kill) termina

[2018-03-13 18:35] patrickstjohn commented on #562
+1 Here, we're attempting to introduce rack aware failure domains for our deployment. It would be wonderful if rook handled this based on node labels that we could apply giving the system awareness of the topology. Something like the following:

[code]

Currently, doing this manually for erasure coded shared filesystem and a replicated block pool and it would be great if rook handled those cases a

[2018-03-13 20:00] #1567 closed

[2018-03-13 23:51] F21 opened #1574 "Deployment of default cluster on minikube does not succeed"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
I tried to stand up a rook cluster following the [quick start](https://rook.io/docs/rook/master/quickstart.html). The `rook-ceph-mon` pod goes into a crash loop.

What you expected to happen:
The rook cluster should be created properly.

How to reproduce it (minimal and precise):
1. Start minikube 0.25.0
2. Switc

[2018-03-13 23:54] travisn commented on #1553
@jbw976 @kokhang independent of whether ceph-volume would be able to do better at detecting whether to format, why is the volumeattach deleted before the detach is actually performed as @jbw976 pointed out [here](https://github.com/rook/rook/blob/master/cmd/rookflex/cmd/unmount.go#L89)? Shouldn't that happen after the successful detach to prevent another attach until it's actually detached?

[2018-03-13 23:58] jbw976 commented on #1574
Did you happen to have the mon pod logs available?  more details about full log collection can be found at https://rook.io/docs/rook/master/advanced-configuration.html#log-collection

[2018-03-14 00:05] F21 commented on #1574
Rook operator and rook mon logs as attached.
[logs-from-rook-ceph-mon-in-rook-ceph-mon0-8ghxn.txt](https://github.com/rook/rook/files/1809106/logs-from-rook-ceph-mon-in-rook-ceph-mon0-8ghxn.txt)
[logs-from-rook-operator-in-rook-operator-77cf655476-t9sgs.txt](https://github.com/rook/rook/files/1809107/logs-from-rook-operator-in-rook-operator-77cf655476-t9sgs.txt)

[2018-03-14 00:09] jbw976 commented on #1574
The logs indicate the monitor pod has no free space on the filesystem hosting its `/var/lib/rook` directory:
[code]
Can you check on the free space for that dir?

[2018-03-14 00:23] F21 commented on #1574
I sshed into the minikube node. The `rook` directory does not exist under `/var/lib`.

[2018-03-14 00:26] jbw976 commented on #1440
This is Rook's specific badge: https://bestpractices.coreinfrastructure.org/en/projects/1599#

Looks like a lot of things to make progress on.  I seem to have edit access to the project on that site, so we will continue to make progress.

[2018-03-14 00:28] caniszczyk commented on #1440
Thanks, no rush!

On Tue, Mar 13, 2018 at 7:26 PM Jared Watts <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-03-14 00:43] jbw976 commented on #1574
what does `df -h` say when ssh'd into minikube?  I have:
[code]

[2018-03-14 00:53] F21 commented on #1574
This is what I have:

[code]

[2018-03-14 02:16] F21 commented on #1574
I deleted the minikube cluster and recreated everything, but I am still seeing the problem.

[2018-03-14 07:16] amiga23 commented on #1553
K8s: 1.9.3
Rook: alpha/0.7.1

If I delete a pod of a Deployment, a new pod is created immediately. This new pod shows error because the volume is still mounted to the old pod. After some seconds the old pod is gone and the new pod enters running state ; with a freshly formatted volume.

This is reproducable.

If I scale the deployment to 0, wait till the old pod is deleted and then scale up to 1 a

[2018-03-14 07:53] justinbarrick commented on #1463
Why is this *still* completely undocumented on the website? Bluestore should not be the default.

[2018-03-14 16:58] travisn commented on #1463
Agreed, will make it priority to get this documented clearly with a warning. Bluestore in a directory was intended to be a test scenario, but it seems users are finding it useful beyond that.

Upstream, bluestore in a directory was also intended to be for testing scenarios rather than production. A change was just merged upstream that will improve this situation of the space never being reclaimed:

[2018-03-14 17:59] jbw976 commented on #1553
I could not reproduce this just now using by deleting the pod from the mysql deployment defined in
 https://raw.githubusercontent.com/rook/rook/master/cluster/examples/kubernetes/mysql.yaml.  I created a hello file on the volume before deleting the pod and when the new pod came up with the volume attached, the hello file was still there.

I was using a recent master build of Rook (`v0.7.0-11.g4335

[2018-03-14 18:20] lorenz commented on #1463
@travisn Are you sure that is the case? It looks like this will only work on block devices, not necessarily on filesystems.

[2018-03-14 19:46] beatlejuse commented on #1278
i using "useAllNodes: true".
I mean, I want the rook cluster to forget the failed node and add it to the cluster as a new one after it's back to normal. how can i tell rook cluster to forget the failed node?

[2018-03-14 20:03] travisn commented on #1278
From Rook's perspective, deleting the `dataDirHostPath` on the node would cause new OSDs to be created. The old OSDs would be marked as `down` and `out` by ceph.

[2018-03-14 20:09] jbw976 commented on #1574
It looks like the Ceph logic to check free space is getting unexpected results, like it's overflowing:
[code]
This is the call from the Ceph code to get filesystem stats: https://github.com/ceph/ceph/blob/master/src/ceph_mon.cc#L471

Maybe one of the Ceph team members has insight into why this would fail.  One possibility would be that it looks like you're running Minikube on Windows.  Has anyone

[2018-03-14 20:11] travisn commented on #1574
@F21 what is your setting for `dataDirHostPath` in the cluster crd? You may need to use `/mnt/sda1/var/lib/rook` instead of the default `/var/lib/rook`

[2018-03-14 20:14] jbw976 commented on #1574
oh right that's a strong possibility.  From https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-cluster.yaml#L16:

I would have expected an error to be manifested before this behavior though if `/var/lib/rook` was unable to be created.

[2018-03-14 20:34] beatlejuse commented on #1278
however, experience has shown that a new OSD is not created.
and me seems, that the old need to remove.
I think there should be an appropriate command.

[2018-03-14 20:34] travisn commented on #1463
yeah, i'm not sure if this would help with the filestore

[2018-03-14 21:30] travisn commented on #1278
you have deleted the `dataDirHostPath` as part of the reboot and it didn't help? I don't see how the old osds could stick around. What is the `state` of the osds in the `ceph osd status`?

[2018-03-14 22:21] F21 commented on #1574
Updating `dataDirHostPath` to `/data/rook` worked for me!

[2018-03-15 00:09] jbw976 commented on #1574
Thanks for confirming @F21.  So this is a duplicate of #1192, thankfully @travisn was able to get to that more quickly than I could.  It sounds like we should improve the documentation (common issues section?) or experience here somehow if people are still running into this and it wasn't immediately known by the dev team what the issue was.

[2018-03-15 09:00] beatlejuse commented on #1278
yes. https://github.com/rook/rook/issues/1278#issuecomment-366970355
but about this question we can until forget
---
now I'm testing a node reboot and found a new problem - after a consecutive reboot of all 5 nodes I can no longer connect to either ceph-fs or ceph-block
https://gist.github.com/beatlejuse/d6fc62e824772d2cc075b25ee56ad9ed
https://gist.github.com/beatlejuse/536baeb85d2de5f88e846ebb66

[2018-03-15 11:33] mxey opened #1575 "OSD pods with new IP lead to duplicate OSDs in Prometheus metric ceph_osd_metadata"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:

The Prometheus metric `ceph_osd_metadata` shows multiple results with different `cluster_addr` for some OSDs. The old address belongs to an old generation of the rook-ceph-osd DaemonSet pods.

Having duplicate results for OSDs confuses monitoring, because `count(ceph_osd_metadata)` is 19, while `sum(ceph_osd_up

[2018-03-16 16:29] #1122 closed

[2018-03-16 19:01] brianoppenheim commented on #1552
Hi,
I'm interested in taking this up as a part of GSoC '18. I have experience with Golang as well as the theory behind distributed systems (global state and finding consistent snapshots included). Are there any prerequisites, and is this project still on the table?

[2018-03-16 23:33] travisn commented on #1553
@jbw976 ok, to summarize this means that before we format and mount, we need to check if the volume already has a filesystem. The critical time to check would be [here](https://github.com/rook/rook/blob/master/cmd/rookflex/cmd/mount.go#L132)?

[2018-03-17 03:36] dmick commented on #1342
Looked a bit at this tonight; one thing to be fixed is that ceph-volume currently assumes it can read cepn.conf to find the cluster fsid.

[2018-03-17 13:14] galexrt commented on #1027
@travisn We need to implement a limit to just one FS as more and more users are currently hitting this.
Additionally adding a link to the `path` parameter (see https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/kube-registry.yaml#L49-L50) for volumes should be added to the docs. This would tell the users they can use one FS for/with multiple applications at the same time but also

[2018-03-17 15:04] travisn commented on #1342
Yes, the daemons should use the config in the default location as mentioned in #1347 if you want to take that issue on.

[2018-03-17 18:29] dimm0 commented on #1551
NFS already works fine as volumes in kubernetes. What would be the advantage of doing this with rook?

[2018-03-17 18:38] dimm0 opened #1581 "Replicate mgr pod"
Is this a bug report or feature request?

* Feature Request

**Feature Request**

Today I rebooted the node running rook mgr0, and during the reboot all ceph IO stopped. I found that having mgr is required for running the filesystem: http://docs.ceph.com/docs/master/mgr/

Is there a way to start more than one instance of manager? Should it be the default setting?

What should the feature do:
Start

[2018-03-17 22:49] jbw976 commented on #1553
yes @travisn that block is where more knowledge of RBD would help reliably determine if its safe to mount.  note that the k8s `FormatAndMount` function will do the format for you if it thinks it's safe, so we'd need to circumvent that some way.

also the logging in https://github.com/rook/rook/blob/master/cmd/rookflex/cmd/mount.go#L146 is misleading because that's saying a format always happens wh

[2018-03-17 23:07] jbw976 commented on #1552
Awesome @brianoppenheim, thanks for reaching out and we're happy to hear your interest.  All of the [Rook projects](https://github.com/cncf/soc#rook) for Google's Summer of Code are still available, as the selection process does not start until March 27th according to the [timeline](https://summerofcode.withgoogle.com/how-it-works/#timeline).

The next step would be to submit an application/propos

[2018-03-18 08:33] christianhuening commented on #1553
I did some futher testing of the involved code in kubernetes and found that the code indeed recognizes the disk to be formatted on a node where the `lsblk -o FSTYPE /dev/rbd?` command doesnt actually return an actual FSTYPE. Here's what's happening:

First I ran lsblk on the node we're using:

[code]

So for a mounted and used volume at `/dev/rbd3` `lsblk` doesn't see an acrtual FSTYPE.
Yet the fo

[2018-03-19 14:26] patrickstjohn commented on #605
@travisn We encountered this issue over the weekend in one of our data centers. It looks like what happened was a mon system rebooted, took awhile to come up and the operator spun up another one. Once the initial mon came back up there was 4 then 3 mons as it scaled back and things were out of sync and not in quorum. After that it appears as though 80 of our 120 OSDs dropped out and turned into a

[2018-03-19 15:16] travisn commented on #1581
@dimm0 we actually recently had running another mgr in standby mode. In #1334 we reverted the change due to an issue with the prometheus metrics module, and also Kubernetes is expected to failover the mgr pod. Before you rebooted the node, did you drain the pods?

[2018-03-19 15:27] travisn commented on #1553
@christianhuening did you truncate the variable `outputFromANode` in the post? It looks like `GetDiskFormat` would simply return the string `FSTYPE` since it is the first line of the text passed to the method.

[2018-03-19 15:32] christianhuening commented on #1553
@travisn no, that is what `lsblk` outputs on my ContainerLinux nodes with mounted and working /dev/rbd? devices. Just
[code]

[2018-03-19 15:38] travisn commented on #605
@patrickstjohn do you have the operator logs that shows where the mon is failed over? The operator should not failover or remove a fourth mon unless quorum is established at each step. Do all your symptoms look the same as this ticket? If not, it might be worth opening a new ticket to focus on what you saw. There are a number of old issues referenced in this issue that don't seem relevant.

[2018-03-19 15:54] travisn opened #1583 "Define a CRD for object store users"
Creating a user for the object store requires access to the rook toolbox to run some specific commands for `radosgw-admin`. This escapes the expected pattern of using K8s resources to configure the cluster.

A K8s secret would be created to store the sensitive secret for the user.
For object store users to query the creds for a user, two attributes would be added to the CRD under the `status` sect

[2018-03-19 17:12] dimm0 commented on #1581
I couldn't drain the pods. The node ran out of memory, and I couldn't kill a single pod - that was the reason to reboot.
Tried to find the discussion about prometheus.. Could you plz direct me to that problem discussion? What exactly is the problem with prometheus?

[2018-03-19 17:26] travisn opened #1584 "Design for synchronizing object stores across clusters"
The object store has the capability to sync to another object store in the same cluster or another cluster in a different geographical region. See the [Ceph docs](http://docs.ceph.com/docs/master/radosgw/multisite/). Rook needs to enhance the object store CRDs to enable this scenario to seamlessly replicate between object stores.

Rook currently creates a realm, zone group, zone, and new pools for

[2018-03-19 17:33] travisn commented on #1581
In #1154 it looks like the prometheus metrics will be empty for the standby mgr. However, it's not clear to me why we would need to not have a standby mgr for this reason. @galexrt do you recall why this blocked the metrics change? In this scenario hit by @dimm0, the standby mgr would have enabled the cluster to continue working during the reboot.

[2018-03-19 17:44] galexrt commented on #1581
@travisn The metrics were not empty, the standby mgr responded with connection refused because the port is not listening until it is active.
Why is the/a mgr needed for the cluster to continue working in that case? It is a stateless part of the cluster which only:

But that doesn't mean that the cluster won't work when no mgr is running.

Overall the Ceph Manager is advertised as "not required" fo

[2018-03-19 18:17] travisn commented on #1581
oh right, the mgr shouldn't be required. @dimm0 were there other pods on that node such as the `mds`? If all mds pods were down, it would certainly stop the filesystem from working.

[2018-03-19 19:38] dimm0 commented on #1581
The node is also running 1 of 5 monitors, and 1 of OSD. I thought restarting an OSD shouldn't affect the IO, since the pool has replication factor of 2 and min_size 1, but now I'm looking at previous restarts for other OSD nodes, and looks like every lost of OSD causes IO to stop.. So probably it's not the MGR's fault.
My guess is that more OSDs go offline once they lose connection to the restarte

[2018-03-19 19:40] travisn commented on #1581
@dimm0 ok thanks for confirming. Ready to close this issue or is there something else to investigate?

[2018-03-19 19:41] dimm0 commented on #1581
Let's close for now. I'll reopen if I have more troubles.
Thanks for your help!

[2018-03-19 19:41] #1581 closed

[2018-03-20 19:04] jbw976 commented on #1551
@dimm0 my understanding with NFS in Kubernetes from https://kubernetes.io/docs/concepts/storage/volumes/#nfs is:

With the feature tracked by this issue, Rook would be able to orchestrate/deploy NFS server instances (in addition to dynamically provisioning NFS volumes) so that they user doesn't have to do that themselves.

[2018-03-20 19:10] dimm0 commented on #1551
Ah! Got it. Thanks

[2018-03-21 02:53] inv8r opened #1588 "Add RBD mirroring support"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing:
Yes.

What should the feature do:
The feature should extend Rook to allow for orchestration of rbd-mirror daemon pod. See [ceph docs](http://docs.ceph.com/docs/jewel/rbd/rbd-mirroring/) for more information about RBD mirroring.

What would be solved through this feature

[2018-03-21 03:45] inv8r commented on #1540
@jbw976 can you assign this ticket to me please? I work on a mac and am in the process of setting up my multi node development environment. I can take this opportunity to make a first contribution. Thanks.

[2018-03-21 15:21] travisn opened #1589 "Document supported device types"
A frequently asked question for rook is what devices are or are not supported. The current filter used by Rook is found [here](https://github.com/rook/rook/blob/master/pkg/clusterd/disk.go#L79).

For example, multipath devices (ie. `dm-0`) are not supported directly by ceph according to [this issue](https://tracker.ceph.com/issues/23337). A logical volume should be created on top of the multipath

[2018-03-21 16:43] jbw976 commented on #1540
That would be awesome @inv8r! a few of us contributors to the project would be personally grateful for this improvement.  I know i'd use it frequently.

you should see an invitation to join the Rook organization, apparently Github doesn't allow you to assign issues to someone unless they are a member of the organization.

[2018-03-21 20:02] #1463 closed

[2018-03-21 23:05] patrickstjohn commented on #605
@travisn I don't have them anymore and the testing we've done so far to reproduce the issue when we have properly labeled things hasn't manifested itself again (which is good). I'll see if I can reproduce on our dev cluster this week and I'll open a new ticket with logs if it crops up.

[2018-03-22 02:04] hunter commented on #1551
What about adding support for the NFS Ganesha backend for Ceph (FS or RGW)? ceph-container already includes the packages so just a matter of exposing via Rook?

[2018-03-22 14:54] travisn commented on #605
@patrickstjohn yes please do open a new issue with the logs when you hit it, thanks

[2018-03-22 21:14] tboerger opened #1592 "Operator logs a lot failedDeleteThreshold messages"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:

The operator complains over and over again that it failed to delete a volume:

[code]

What you expected to happen:

That the log doesn't get flooded by the above message over and over again

How to reproduce it (minimal and precise):

I don't know how this can be reproduced, but the PVC is not listed anymore:

[2018-03-22 23:33] jbw976 commented on #1535
I don't think that API aggregation is the right way to go for Rook, as described in PR #1587

[2018-03-22 23:33] #1535 closed

[2018-03-23 03:26] zhijiansd opened #1595 "Can't delete “rook” namespace"
[code]
I don't know if this is a bug。When I continue to delete，The following error occurred
[code]
My English is not good. I hope you can read it and give me an answer.

[2018-03-23 05:33] recall704 commented on #1595
[code]

how about this ?

[2018-03-23 05:40] zhijiansd commented on #1595
Yes,After deleting, namespace rook has been in Terminating state
NAME      STATUS        AGE
rook      Terminating   2d

[2018-03-23 06:06] travisn commented on #1595
@zhijiansd can you check if the cluster crd still exists? See this help topic: https://rook.io/docs/rook/master/teardown.html#removing-the-cluster-crd-finalizer

[2018-03-23 08:39] zhijiansd commented on #1595
I cannot edit  cluster CRD
# kubectl -n rook edit cluster rook
error: clusters "rook" could not be patched: the server does not allow this method on the requested resource (patch clusters.rook.io rook)
You can run `kubectl replace -f /tmp/kubectl-edit-nyxxv.yaml` to try this update again.

[2018-03-23 15:26] f0 opened #1600 "Consider Switching to a less CVE havy baseimage"
Hi,

rook uses ubuntu/debian based docker images , if you take a look at the cve report from clair (cve sacnner from coreos)

there are overe 100 known unfixed CVEs

[analysis-registry.xxx.net-rook-v0.7.1_thirdparty.0.html.txt](https://github.com/rook/rook/files/1842104/analysis-registry.xxx.net-rook-v0.7.1_thirdparty.0.html.txt)

the most CVes are unfixed in Debian/Ubuntu

If you take a look at c

[2018-03-23 22:18] patrickstjohn opened #1601 "Docker Upgrade Causes OSD Failure"
* Bug Report

**Bug Report**
Upgrade of docker in a bare-metal deployment (Kubernetes 1.9.5, Rook 0.7.1, RHEL 7.4).

During an RPM upgrade of Docker 17.03 to 17.09.1 the Ceph cluster became unhealthy with the following errors on many OSD's. The pods would not come out of this error state until the directory was wiped clean. Unfortunately, this continued in a cascading fashion with all the OSD pods

[2018-03-23 22:25] jbw976 commented on #1601
Thanks for reporting this @patrickstjohn.  Did you already get a chance to checkout the manual upgrade steps and considerations in the docs? https://rook.io/docs/rook/master/upgrade.html

There's some applicable guidance in there I believe.  Let us know how it can be improved, thanks!

[2018-03-26 12:15] andrzejwp commented on #1554
Hi @shamalco can you please let us know what was your issue - I'm experiencing the same.

[2018-03-26 15:04] patrickstjohn commented on #1601
@jbw976 Thanks for the pointer. This will be useful when upgrading Rook. A few points that might be worthwhile to add and might be obvious to someone with more experience:

- Recommend deploying with labels. Upgrades or node-level issues have caused us stability issues where core ceph infrastructure moves around temporarily (mons for instance).
- Upgrades of core components that Rook and Ceph rely

[2018-03-26 15:08] patrickstjohn commented on #1595
@zhijiansd We've run into this once or twice. Verify everything in the rook ns has been deleted (any rogue pvc's etc. hanging around will also prevent the ns from cleanly deleting). In our cases once this is done deleting the CRD finalizer has allowed us to delete the ns if it's still stuck.

[2018-03-26 16:10] k0105 opened #1603 "Status of S3 and CSI"
* Feature Request

What should the feature do: Mount S3 volumes, ideally via CSI
What would be solved through this feature: Integration with any S3-compatible storage provider
Does this have an impact on existing features: Not sure.

I would like to mount an S3 bucket via rook.io, but am not sure whether this is currently possible. Thus:

a) Could you point me to documentation or a tutorial for us

[2018-03-26 21:10] vfarcic opened #1604 "Failed to create file system rook-fs"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:

[code]

What you expected to happen:

The last command should have returned Pods for Shared File System `rook-fs`. Instead, there are no Pods.

The output of `kubectl -n rook-system logs rook-operator-5c5db8db4c-jdmhw` is as follows.

[code]

How to reproduce it (minimal and precise):
Execute the commands from *

[2018-03-26 22:28] bassam commented on #1600
This came up in numerous discussions. I'm not opposed to switching rook images to centos. With the multiple backend design #1587 the image choice is somewhat backend specific anyway.

Also it sounds like with centos we would be able to `pin` ceph versions more precisely.

/cc @leseb @BlaineEXE

[2018-03-26 22:35] jbw976 commented on #1604
It looks like enabling EC overwrites failed because some of the OSDs are using filestore instead of bluestore:
[code]
Then the CephFS deployment failed because the pool didn't get the overwrite support setup correctly (as shown above):
[code]

Do you have an environment that is using Bluestore instead to try this out?  https://rook.io/docs/rook/master/cluster-crd.html#storage-configuration-setting

[2018-03-26 23:29] vfarcic commented on #1604
That's it. Thanks.

[2018-03-26 23:29] #1604 closed

[2018-03-27 04:56] f0 opened #1606 "Add Option to enable Ceph REST API"
**Feature Request**

*What should the feature do:*
Add an Option to enable Ceph Rest Api

*What would be solved through this feature:*
Monitoring Agents like metricbeat, using the Ceph Rest API for mointoring, and with this enables they would work out of the box

[2018-03-27 07:28] BlaineEXE commented on #1600
I think switching to CentOS 7 for security sounds like a good choice. Erwan (see ceph-container project) and I have been talking about how best to specify specific point releases in ceph-container as well. Since the CentOS repos keep old package versions, pinning is indeed easier on CentOS. I'm quite sure openSUSE doesn't keep old package versions, and we talked last week about how Ubuntu doesn't

[2018-03-27 09:33] ITler commented on #1460
The reason could be, that AdmissionController was not activated. I can't check at the moment, so I close this for now and would re-open if still needing assistance

[2018-03-27 09:33] #1460 closed

[2018-03-27 10:26] hunter commented on #1603
Are you referring to the S3-compatible Object Storage in Ceph (RadosGW) or generally S3-compatible Object Stores?

From what I understand neither is supported as a Persistent Volume (Flexdriver or CSI) yet. Mounting either approach would require a FUSE driver (or the NFS Ganesha plugin for Ceph) and would have a bunch of limitations - slow performance, poor support for things that modify files (DB

[2018-03-27 14:50] k0105 commented on #1603
Thank you. Your last paragraph seems like an interesting suggestion, but I'm not sure I quite follow. I'm talking about getting an S3 service outside Ceph, e.g. AWS S3, mounted into a specific container or set of containers. How would I use the service catalog with FUSE? Mount my S3 bucket via s3fs and then bind it to some pods? Could you elaborate on that?

Thank you in advance.

[2018-03-27 17:01] rootfs commented on #1553
@christianhuening per https://github.com/kubernetes/kubernetes/pull/59050#issue-166035953, you need to install udev rules https://github.com/ceph/ceph/blob/v13.0.0/udev/60-ceph-by-parttypeuuid.rules

[2018-03-27 17:27] jbw976 commented on #1389
The design has been completed with https://github.com/rook/rook/blob/master/design/security-model.md.  The implementation is ongoing by @ichekrygin in #1471

[2018-03-27 17:57] brettjacobson opened #1608 "Helm Operator docs do not specify namespace"
The helm operator  installation documentation does not specify a namespace for the install.  Good practice with helm is to specify the namespace using the --namespace flag on the helm install command, and rook users typically use rook-system for this purpose.
It would be nice if the documentation included specifying the namespace on  the helm command lines.

[2018-03-27 18:03] caitlinbestler commented on #1584
This is an example of a service where we would need for multiple storage backends to each advertise their capabilities. With most storage backends there is probably an inter-site replication method available which will be more efficient than rook applying generic replication code. But you still want there to be a generic fallback algorithm that can be applied when doing sync between any two arbitr

[2018-03-27 18:18] travisn commented on #1421
The recommendation from the discussion this morning in the community meeting is to remove 1.6 support for the 0.8 release. The 0.7 release will continue to support 1.6 with TPRs. The features in the 0.8 release will be too difficult to support with TPRs.

[2018-03-27 19:12] shqnayaz commented on #605
[root@cephlumin-osd4 ~]# ceph --version
ceph version 12.2.4 (52085d5249a80c5f5121a76d6288429f35e4e77b) luminous (stable)
[root@cephlumin-osd4 ~]# grep -i 192.168.136.0 /var/log/ceph/ceph-osd.0.log | more
2018-03-27 20:20:20.341872 7f726472c700 -1 osd.0 400 heartbeat_check: no reply from 192.168.136.0:6803 osd.2 ever on either front or back, fi
rst ping sent 2018-03-27 20:20:00.185383 (cutoff 2018-

[2018-03-27 19:21] caitlinbestler opened #1610 "Support for Multiple Tenant Access Pods"
The goal of multiple tenant access pods is to enable access to the same backend service, presumably storage, from multiple tenants each with their own tenant scoped network access.

Kubernetes already supports the ability to define a network namespace to which only specified containers have access. This is typically enforced by VLANs or VxLANs.

A typical tenant-scoped virtual network would contai

[2018-03-28 04:30] dyusupov commented on #1610
Currently kubernetes cannot provide "multi-homed" or true "multi-tenant" networking isolation. But good news is that Network plumbers folks working on it:

https://docs.google.com/document/d/1Ny03h6IDVy_e_vmElOqR7UdTPAG_RNydhVE1Kx54kFQ/edit

Meanwhile, multi-homed network can be fairly easily constructed with Intel's "multus" CNI plugin:

https://github.com/Intel-Corp/multus-cni

[2018-03-28 09:46] brlbil commented on #1411
Hi

I would also like to see armhf support for rook and naturally ceph
There are not yet that much great arm64 hardware for small educational or personal use,
but there are some for arm32v. For example [Hardkernel H1](http://www.hardkernel.com/main/products/prdt_info.php?g_code=G150229074080),  [Hardkernel H2](http://www.hardkernel.com/main/products/prdt_info.php?g_code=G151505170472)

I think cep

[2018-03-28 14:17] caitlinbestler commented on #1610
Kubernetes does not yet provide "multi-homed" or "multi-tenant" Pods. It is not clear when Intel's Multus project will provide plug-and-play Virtual NICs rather than just multiple Virtual NICs.

To support on-demand creation and deletion of Tenants we need to add and drop the Tenant Access networks. What I am proposing is doing this by having single interface Pods connect with each other through l

[2018-03-28 20:15] caitlinbestler commented on #1610
Clarification:
Where the Intel Multus project is relevant is in provisioning the Backend Pod to use a 2nd NIC for the Backend Network.

Without that it would either:
* Have to be controlled by both NICs, wth Kubernetes still understanding that it was one host.
* Have Kubernetes control if via the front end NIC but only provision the POD to access the backend NIC.
* Provision the backend NIC as an

[2018-03-28 20:28] jbw976 opened #1612 "Output from `rbd` failures is blank"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:  When a `rbd` command fails, the output is blank, making troubleshooting issues more difficult.  We've seen this a lot recently from user reports where the root causes ends up being #1502.

What you expected to happen: When a failure occurs, I expect the error output to also be included in the message.

[2018-03-28 22:07] #1612 closed

[2018-03-28 22:47] jbw976 commented on #1347
@kfox1111 resources in Kubernetes are fully qualified with an API group and version also.  For example, Kind=Cluster is actually fully named something like `cluster.rook.io/v1alpha1`, which prevents any conflict with other types of cluster objects that may be defined as extensions to k8s.  Does that address your concern?

[2018-03-28 23:31] kfox1111 commented on #1347
not sure. I'm use to seeing the names on the cli.
how does it work when you have cluster.rook.io/xxxxx kind=cluster, and watheverelse.io/xxx kind=cluster.

how does:
kubectl get cluster behave?

Thanks,
Kevin

[2018-03-28 23:47] jbw976 commented on #1347
It looks like this comment addresses that behavior, but not sure if it's still the case in current day `kubectl`: https://github.com/kubernetes/kubernetes/issues/42521#issuecomment-284164886

[2018-03-29 00:14] kfox1111 commented on #1347
Yeah. Thats what I'm wondering about. Maybe k8s should probably decide the expected behaviour, and then we set the kind= based on that recommendation?

Just worried about writing a bunch of scripts that use kubectl get cluster and then when some user adds something else, those scripts break in really weird ways.

[2018-03-29 03:56] jbw976 commented on #1347
Could your script just use the fully qualified name?  `kubectl -n rook get cluster.rook.io` should work reliably.

[2018-03-29 13:22] leseb commented on #1600
Opened the discussion on ceph-container: https://github.com/ceph/ceph-container/issues/984

[2018-03-30 02:29] hickey commented on #1259
The rook provisioner is not honoring the reclaimPolicy from the storageclass (i.e. the PV is created with the Delete policy no matter what). If after the PV was created one edits the definition and changes the `persistentVolumeReclaimPolicy` to Retain, then the PV will not be deleted when it is unbound.

I took a quick look at the `provisioner.go` code and that seemed pretty rational. The `persist

[2018-03-30 21:31] allen13 commented on #1533
Just ran into the same issue. Any updates on getting this fixed?

[2018-03-30 21:46] jbw976 commented on #1533
The suggested fix of removing the `BlockOwnerDeletion: &blockOwner` line may work for this specific scenario in this specific environment, but it would break other things such as teardown of clusters.

This is the last discussion I could find on this topic, someone needs to do the research to figure out the right way to set up openshift security/policies to allow the rook-operator to successfully

[2018-03-30 21:55] allen13 commented on #1533
Looks like kubeless had the same problem and eventually just removed that property as well: https://github.com/kubeless/kubeless/pull/580/files

[2018-03-31 01:43] jpiper commented on #1387
I don’t know if you have a plan for this, but for some other applications that I run on Kubernetes that require stable identity per node I inject spec.Node via the downward API and then use this for the node identity (or if a numeric ID is required, I usually use something derived from the IP address). Obviously you have to have your antiaffinity set up correctly for this to work!

[2018-04-02 18:07] PaulCapestany commented on #1507
FWIW I seem to be running into this issue as well. Even **_after_** restarting the previously-powered-off node the logs still show `Volume is already attached by pod`, and this prevents a new pod from attaching (e.g., having followed Rook's Wordpress tutorial, the `wordpress-mysql` pod ends up stuck in a `ContainerCreating` status).

[2018-04-03 08:35] hunter commented on #1603
It does sound like this is more of a general question about accessing S3 from the filesystem and not Rook specific.

It seems someone has created a flexdriver for mounting an S3 bucket as a Persistent Volume. You might want to try this out: https://github.com/informatics-lab/s3-fuse-flex-volume

[2018-04-04 00:56] ichekrygin opened #1620 "Bug: Perpetual Loop in helm_helper.go"
* Bug Report

**Bug Report**

What happened: Install `rook` via `helm char` in local `minikube` environment
[code]
The initial install command fails due to time-out:
[code]
All subsequent install attempts fail with:
[code]

What you expected to happen: `rook-operator` is up and running

How to reproduce it (minimal and precise):
This issue was discovered while testing #1471, specifically when helm

[2018-04-04 04:31] #1620 closed

[2018-04-04 13:27] PatrickHuetter commented on #1595
Same problem as described in @zhijiansd answer here. Can't patch the rook cluster.

[2018-04-04 20:00] #1375 closed

[2018-04-04 21:43] jbw976 opened #1622 "Refactor for multiple storage providers and define new types"
As described in the [design document](https://github.com/rook/rook/blob/master/design/multiple-storage-types-support.md), we need to refactor the Rook repo a bit to get set up for supporting multiple storage providers.  We also need to define new CRD types and `*Spec` types so they are ready for integration with new storage providers we want to onboard.

At the end of this ticket, Ceph should stil

[2018-04-04 22:07] jbw976 opened #1623 "Include Kubernetes 1.10 in testing platforms"
Our CI builds should be updated to include the new release of Kubernetes 1.10.

It would also be nice to update `minikube.sh` so that 1.10 is the new default.

[2018-04-05 04:41] hacor commented on #1183
I was wondering whether there was some evolution on this matter?

[2018-04-05 18:14] k0105 commented on #1603
Already looked at it, but it is too closely tied to their use case and infrastructure for now. But thank you.

[2018-04-05 19:26] jbw976 commented on #1603
@k0105 we were kicking around ideas related to this topic recently.  nothing concrete is planned or on the roadmap right now, but expect more on this in the near future

[2018-04-05 19:31] #1341 closed

[2018-04-06 20:19] Ulexus opened #1627 "Recovery after loss of (just) an OSD metadata disk is not handled cleanly"
Loss of an OSD metadata disk results in a loss of the OSD(s) using that MD (so far as I am aware), but the OSD wrapper (agent and daemon) does not appear to handle the loss (and subsequent replacement) of a metadata disk cleanly.

Currently, after replacing a metadata disk, the old metadata disk is still stored in the PerfScheme for the node, which blocks the new metadata disk from being used.

I

[2018-04-07 18:11] Ulexus commented on #1627
It would appear this will require a bit more infrastructure than currently exists.  Presently, the OSD removal is limited to whole node removal anyway; removal of discrete OSDs is not a supported automatic operation.

Any views on the safety of comparing the stored partition schema to the current partition schema and culling discrepancies?  Unless we are dealing with removable media, I believe tha

[2018-04-07 23:40] #1608 closed

[2018-04-09 07:13] zmlcc opened #1629 "support ipv6"
Is this a bug report or feature request?

* Feature Request

**Feature Request**

Are there any similar features already existing:
not found

What should the feature do:
support ipv6 address of ceph pod

What would be solved through this feature:
make rook work in  ipv6 kubernetes cluster

Does this have an impact on existing features:
no

**Environment**:
* OS (e.g. from /etc/os-release):  centos

[2018-04-09 12:21] cornelius-keller opened #1631 "Service Monitor will not work if it is in rook namespace"
https://github.com/rook/rook/blob/e388eae6aa257622f18ac95a158522c18b91182a/cluster/examples/kubernetes/monitoring/service-monitor.yaml#L5

The service monitor will not work as documented if it is created in the rook namespace.
See discussion here: https://github.com/coreos/prometheus-operator/pull/813

[2018-04-09 12:24] galexrt commented on #1631
@cornelius-keller It is assumed that you use the Prometheus manifests for the prometheus-operator as shown in the docs which are deployed to the `rook` namespace: https://rook.io/docs/rook/master/monitoring.html#prometheus-instances.

[2018-04-09 12:26] cornelius-keller commented on #1631
ah ok. then it will work. Sorry for confusion.

[2018-04-09 14:28] travisn commented on #1631
@cornelius-keller, shall we close this then?

[2018-04-09 15:48] keeperAndy commented on #1523
@hacor I was able to get rook to use my separate cluster network with `hostNetwork: true` using this configMap override that defines the `public addr` and `cluster addr` as empty along with the CIDRs you had already tried:

[code]

You can confirm that your OSD traffic is indeed running on the cluster network by checking that TCP ports in the 6800s are listening on the OSD nodes: `netstat -vatn |

[2018-04-09 23:04] dimm0 commented on #1592
Same thing here

[2018-04-10 00:23] dmick opened #1632 "kubectl fails when Vagrant VM restarted; kubelet fails to run because swap is enabled"
**Bug Report**

What happened:
Restarting vagrant VM in multinode environment (as described in https://github.com/rook/rook/blob/master/Documentation/development-environment.md) causes kubelet not to restart,
meaning the cluster is not usable.  kubelet startup error is:

`Error: failed to run Kubelet: Running with swap on is not supported, please disable swap! or set --fail-swap-on flag to false.`

[2018-04-10 01:51] Data-drone opened #1633 "rook operator terminates with fatal error if there is more than 1 container in pod"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
rook operator terminates with a fatal error if there is more than 1 container in pod. This happens when istio sidecar is auto injected by the system.

What you expected to happen:
rook operator should run as per normal

How to reproduce it (minimal and precise):
run `kubectl create -f rook-operator.yaml` with ist

[2018-04-10 16:06] jbw976 commented on #1553
@christianhuening this looks like this won't reproduce anymore on Kubernetes 1.10, have you guys upgraded yet to 1.10?  If you have not yet, is it feasible to install the udev rules as @rootfs suggested? Thanks!

[2018-04-10 16:11] jbw976 commented on #1633
This also could affect other places of the code (OSD operator) where we are checking the number of containers in a pod

[2018-04-10 17:41] travisn commented on #1018
@demonister @FaKod have you hit this issue recently? This issue hasn't been touched for some time. It would be helpful to know if it repros on a more recent build of rook and k8s.

[2018-04-10 20:00] christianhuening commented on #1553
@jbw976 Yes we updated to 1.10 by now. It's working and it was working with 1.9.x as well. What i was wondering is WHY it was working with the output generated from 'lsblk' as there was no real information in it and the code basically just checked for the line with "FSTYPE" being present.

[2018-04-10 21:37] dmick commented on #1632
Actually, looking deeper, I guess this is actually a kubespray bug.

[2018-04-10 21:45] #1632 closed

[2018-04-11 03:40] zmlcc commented on #1629
I‘ve run the modified code in my ipv6 k8s cluster.
**It works all fine**

[2018-04-11 07:01] FaKod commented on #1018
@travisn Hi Travis, did not test this again. My suggestion would be to leave the issue open and I'll try again, maybe next week.

[2018-04-11 11:19] grebois commented on #718
@jpds

`sudo sgdisk --zap /dev/sda`

should fix that

[2018-04-11 16:52] travisn opened #1636 "CRD handling prevents updating the number of mons"
The operator has already implemented the ability to change the number of mons in the quorum. During the health checks, if more mons are desired, one will be added at a time. If fewer mons are desired, one at a time will be removed until we reach the desired state.

When the `monCount` is updated in the cluster CRD, the operator logs the message that the update is not supported. Restarting the oper

[2018-04-11 17:29] batrick commented on #1027
http://tracker.ceph.com/issues/23658

[2018-04-11 22:14] kesavkolla opened #1638 "Is it possible to inject sidecars for rook service?"
How to integrate rook with service mesh (istio) in kubernetes?  istio side car injection will be useful to manage the routes for object gateway.  Any pointers in this direction would be appreciated.

[2018-04-13 05:58] SDLyu commented on #1147
@rootsongjc
Seems your issue can find in [common-issues#volume-mounting](https://rook.io/docs/rook/master/common-issues.html#volume-mounting)

[2018-04-13 08:13] arm64b opened #1643 "`build/run make -j2 build.all` failed to build rootfs on arm64"
I am wondering if the `build.all` can build all the binaries or container images for arm64 on amd64 host machine. Below is the output of command `build/run make -j2 build.all` on amd64:
[code]
But `build/run make -j2 build` will succeed.

Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
`build/run make -j2 build.all` failed to build `rootfs-build`
What you exp

[2018-04-13 08:34] arm64b commented on #1643
But interesting the CI for rook can pass for the `build/run make -j2 build.all`  command:
[](https://jenkins.rook.io/blue/rest/organizations/jenkins/pipelines/rook/pipelines/rook/branches/PR-1639/runs/1/nodes/25/steps/26/log/?start=0)

[2018-04-13 10:58] jbw976 commented on #1501
Yes @SDLyu that does look like the main issue, good debugging.  The explanation and workaround can be found in https://github.com/rook/rook/issues/1110#issuecomment-367199838.  We have a docs bug to address this with #1542, it would be great if someone could open a quick PR for this soon :)

[2018-04-13 19:31] caitlinbestler commented on #1610
The following blogs are relevant for explaining the rationale of this proposal:
https://nexenta.github.io/blog/2018/04/12/BeyondVirtualDisks.html
https://nexenta.github.io/blog/2018/04/12/MultipleTenantAccessToSharedStorage.html

[2018-04-13 23:22] mmisztal1980 opened #1645 "Rook fails to start after installing via Helm"
# Bug Report

## What happened:

[code]

[code]

## What you expected to happen:
I expected to have rook up and running after installing it via **Helm** from the master channel.

## How to reproduce it (minimal and precise):
- Follow rook installation guide via Helm

**Environment**:
* OS (e.g. from /etc/os-release):
[code]
* Kernel (e.g. `uname -a`):
[code]
* Cloud provider or hardware configurat

[2018-04-14 01:18] mmisztal1980 commented on #1645
Just noticed the same effect after trying `kubectl apply -f rook-operator.yaml`.
Am I missing anything?

[2018-04-14 04:50] JeromeGe opened #1646 "Does recreate cluster need to delete operator and agent recreate first?"
I deleted cluster and recreate it, sometimes it succeeded, sometimes it does not create any resources and no logs. I need to delete and recreate operator and agent before recreate cluster.

**Environment**:
* OS (e.g. from /etc/os-release): ubuntu 16.04
* Kernel (e.g. `uname -a`): 4.4.0-63-generic
* Cloud provider or hardware configuration: Aliyun cloud
* Rook version (use `rook version` inside of

[2018-04-14 07:17] christianhuening commented on #1553
hmm so I guess we've got to put that one into the mystery section? Or are there anymore ideas?

[2018-04-14 21:03] mmisztal1980 commented on #1645
Found the issue to be the missing `FLEXVOLUME_DIR_PATH` env variable. Rook starts nicely.

[2018-04-14 21:03] #1645 closed

[2018-04-15 19:33] kaarolch opened #1648 "Missing rook helm chart documentation about agent.flexVolumeDirPath"
Is this a bug report or feature request?

* Feature Request
In the helm documentation there is no information about change `flexVolumeDirPath` since Kubernetes 1.9.X
**Feature Request**

Are there any similar features already existing: no

What should the feature do:
There should be information that default value of `agent.flexVolumeDirPath` for Kubernetes 1.9.X have to be changed.

What would be

[2018-04-15 20:26] #1381 closed

[2018-04-16 04:15] SDLyu commented on #1501
Hi @jbw976 sorry for late response.

I already run command `modprobe rbd` and check module loaded in all nodes.

[code]
But still get

[code]

<img width="1204" alt="test_-_kubernetes_dashboard_ _1_____tmux_" src="https://user-images.githubusercontent.com/2996108/38789871-c2801256-416f-11e8-9ebc-93c581516dd4.png">

[2018-04-16 21:33] guilhermeblanco commented on #1507
Experienced the same issue today during `kops` upgrade from 1.8.7 to 1.9.6.
I have a dedicated `InstanceGroup` of i3 nodes called `nodes-data`. During the upgrade, the instances are cordoned and new nodes are brought up. This means that NVMe nodes-data will have their data trashed.
As the upgrade progressed, upon first k8s worker node, I started to face FailedMount issues, similar to the previous

[2018-04-16 21:36] tonya11en commented on #1129
Filesystem is definitely already doing the right thing here:
https://github.com/rook/rook/blob/f192defee101b918a5cb3987cca954a6419a29be/pkg/daemon/ceph/mds/filesystem.go#L86

One problem I foresee with enabling EC overwrites for all EC pools is that it's unnecessary for object stores, so I'll just switch off overwrites for object storage to avoid any unnecessary performance degradation.

[2018-04-16 22:52] lorenz commented on #1507
@guilhermeblanco This issue is about mounting volumes previously attached to pods without clean detachment (because the node hung/disconnected/crashed). Your issue is about your underlying Ceph cluster failing. Just a small comment about that: Ceph will not gracefully handle trashing its data. The cluster will fail and usually take your data with it. If you need to migrate the data, you need to ex

[2018-04-16 23:31] tonya11en commented on #1129
We're having difficulty getting this issue assigned to me, so I'll just link the PR: https://github.com/rook/rook/pull/1651

[2018-04-17 19:36] brlbil commented on #1411
/cc @bassam

[2018-04-17 22:48] pokoli opened #1652 "Rook osd unable to start block devices on scaleway"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:

I have a node with 3 spare block devices which I pretend to use as storage for the rook cluster.
Devices are named  /dev/nbd1,  /dev/nbd2 and  /dev/nbd3

I've added the following device filter to use them:

`deviceFilter: ^nbd[1-9]`

The rook cluster does not start as the osd is in a crashbackLoop. Here are the

[2018-04-18 04:33] #1648 closed

[2018-04-18 12:56] iedwin commented on #1595
I ran into this issue today as well in my k8s v1.9.0 cluster. I finally managed to delete the stuck ns by running the follow command after login into etcd pod.
[code]

[2018-04-18 13:16] simplysoft commented on #1338
we had the same problem. here is what we get as output of the command

[code]

After turning of DEBUG log level for the operator, we a better looking output

[code]

[2018-04-18 15:30] #1129 closed

[2018-04-19 11:36] michalzxc opened #1653 "Recovering Rook cluster after Kubernetes cluster loss"
Is this a bug report or feature request?

* Feature Request

**Feature Request**

Are there any similar features already existing:
n/a

What should the feature do:
Assuming I have backup of rook directory from nodes and I lost my kubernetes cluster I would like to be able to restore persistent volumes after kubernetes cluster redeployment making sure at the same time that existing PVs will be clai

[2018-04-19 17:33] webwurst commented on #1652
Also reported in https://github.com/rook/rook/issues/851.

[2018-04-20 11:04] michalzxc commented on #1600
This report is garbage (like the reports from dockerhub), registry only checks packages versions and Debian is backporting security fixes without changing package version

[2018-04-20 12:08] leseb commented on #1600
@bassam FYI, we are almost done pushing arm64 images for Luminous CentOS 7. One more step with `docker manifest` and I'll resume the work to use `ceph/daemon-base` for Rook.

[2018-04-20 15:38] travisn commented on #1653
This has come up several times, the question of how to recover the cluster when you lose the k8s cluster, but still have the ceph config and data persisted to disk. We'll start with docs around this, then eventually have tools to assist.

[2018-04-20 15:47] travisn opened #1655 "Discover devices independently of starting osd pods"
For the [one osd per pod](https://github.com/rook/rook/blob/master/design/dedicated-osd-pod.md) design, the devices need to be discovered initially before any clusters are deployed. Then when a cluster crd is created, the operator can make decisions about what osd pods to deploy, one for each device.

This will be a new daemon that would run on any node that is labeled to be used as a storage node

[2018-04-20 15:53] travisn opened #1656 "Create one osd deployment per device"
Per the [one osd per pod](https://github.com/rook/rook/blob/master/design/dedicated-osd-pod.md) design, the operator should create one deployment per device. First, the device will need to be provisioned with a bath job, then the osd deployment can be started.

[2018-04-20 16:17] #1643 closed

[2018-04-20 16:29] travisn commented on #1646
@JeromeGe Could you confirm if you followed all the steps in the [cleanup guide](https://rook.io/docs/rook/master/teardown.html)? And do any pods or rook namespaces exist after you are done cleaning up? Here are some steps to troubleshoot [here](https://rook.io/docs/rook/master/common-issues.html#troubleshooting-techniques). Note that a common issue with teardown is that the crd is not removed. Se

[2018-04-20 16:34] #1631 closed

[2018-04-20 16:43] travisn commented on #1610
@caitlinbestler could you summarize how Rook can help with this design? There appears to be a number of broader design issues around networking and multi-tenancy than what Rook could help with. Rook is more about orchestrating the needs of the storage backend. But the networking and data path is ultimately outside Rook.

[2018-04-20 16:59] caitlinbestler commented on #1610
While network related code would remain a Kubernetes issue, there are a few areas where specific kubernetes strategies can be of benefit to all storage clusters:
* Enabling multiple-tenant isolated access to a shared storage cluster, as opposed to needing to create tenant specific storage clusters.
* Provisioning high-performance low latency backend networks that where switchports can be dynamical

[2018-04-20 17:11] jbguerraz commented on #1476
On hyperkube 1.10.1 (`quay.io/coreos/hyperkube:v1.10.1_coreos.0`) `mkfifo       mkfs         mkfs.bfs     mkfs.cramfs  mkfs.ext2    mkfs.ext3    mkfs.ext4    mkfs.minix   mkfs.xfs`
Looks like it's ok now; going to give it a try!

[2018-04-20 19:38] #1633 closed

[2018-04-20 21:44] travisn commented on #1610
Certainly, wherever there is a common benefit to the storage clusters, Rook either documenting or facilitating the feature is the goal. With multi-tenant access to the storage, however, I am struggling to see where the commonality is. The data protocol is likely where the tenant enforcement comes. For example, object naturally has users that present their creds to the s3 interface, and ceph rgw ha

[2018-04-20 22:37] caitlinbestler commented on #1610
Some of Ceph's storage services are multi-tenant. Their NFS also uses
Ganesha, and hence each instance is single-tenant.

Multi-tenant protocols, such as Ceph rgw or S3, can isolate users based
on tenant-specific authentication but do expose
the service to non-tenant DoS attacks.

NexentaEdge prefers to use a dedicated backend storage network so that
it can manage congestion control itself. Quotas

[2018-04-20 22:46] travisn commented on #1610
Good point that NFS Ganesha is similar. Wherever there is similarity, that's where we can get the benefits of sharing the platform. And as we add more backends it will become more clear the places where there is overlap that will benefit from common orchestration.

[2018-04-21 11:44] rgembalik opened #1657 "Very slow overwriting speed in block storage."
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
1. I installed rook using default yml files and block storageclass.
1. I created busybox with PVC based on `rook-block` storage class.
1. I entered busybox, and executed `dd if=/dev/zero of=/volume/file bs=1M count=1k`
1. It shown writing speed of 729.1MB/s
1. I executed `dd if=/dev/zero of=/volume/file bs=1M co

[2018-04-21 11:47] galexrt commented on #1657
@rgembalik Did you use the default yaml files from the docs (https://rook.io/docs/rook/v0.7/block.html) or from https://github.com/rook/rook/tree/master/cluster/examples/kubernetes ?

[2018-04-21 11:49] rgembalik commented on #1657
I think they were from a cloned git repository (https://github.com/rook/rook/tree/master/cluster/examples/kubernetes).

[2018-04-22 05:33] saravanakumar-periyasamy commented on #1356
I do get the same error... and I do have the `storageclass ` created

[code]

[2018-04-23 07:28] rgembalik commented on #1657
@galexrt Please let me know if there is any other useful info I could provide.

[2018-04-23 17:21] HaveFun83 opened #1659 "kubelet_volume* / persistent volume metrics missing"
Is this a bug report or feature request? **BUG**

* Bug Report

**Bug Report**
/kind bug

What happened:
 I am trying to get kubelet_volume_* metrics working. According this google/cadvisor#1702 (comment) there should be support after 1.8 kube. However, I am now using kube 1.10.0 and still cannot see anything in /metrics? Should these be there or not?

[code]
[code]

What you expected to happen:

[2018-04-23 18:27] mimizone opened #1660 "OSD can't access configmap resulting in CrashLoopbackoff"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened: All the OSDs pods are in CrashLoopBackOff all the sudden. Rook was working properly.

What you expected to happen: OSDs running.

How to reproduce it (minimal and precise):
not sure how to reproduce.

**Environment**:
* OS (e.g. from /etc/os-release): ubuntu 16.04
* Kernel (e.g. `uname -a`): 4.4.0-116-generic #14

[2018-04-23 18:28] mimizone commented on #1660
let me add that it impacts all OSDs. The entire cluster is basically unusable.

[2018-04-23 18:50] travisn commented on #1660
@mimizone was there any change that might have impacted the cluster such as a restart or power outage? Since it was working correctly for some time, any clue about what might have changed would be helpful.

[2018-04-23 19:03] mimizone commented on #1660
investigating...

I see for instance in the kubelet logs of one of the rook OSD nodes.
[code]

[2018-04-23 19:46] mimizone commented on #1660
Only major event in the cluster prior to the error messages was an upgrade of the Rancher Server 2.0 server that imports this RKE based cluster. It happened about 30h before the error messages started to appear. The k8s cluster is managed/deployed manually, not with Rancher Server though. There is little chance it's related...

[2018-04-23 21:18] mimizone commented on #1660
In case it may be useful, here's the logs of the kube-apiserver around the time of the error. You can see the HTTP 404 returned by rook2/events OSD pods, but nothing else.
<details><summary>KUBE-APISERVER logs</summary>
<p>
[code]
</p>

[2018-04-23 21:35] mimizone commented on #1660
Observing that syslog/docker on one of the rook nodes is reporting some aufs issues right after the time of the first time rook errors.

<details><summary>Syslog</summary>

[code]
</details>

[2018-04-24 00:10] travisn commented on #1638
@kesavkolla since #1633 is fixed now, would be great if you could verify if the sidecars can be injected now. The automatic injection in theory should work.

[2018-04-24 00:34] travisn commented on #1553
After spending more time on this, I haven't been able to repro it or find the solution. When a pod is deleted, the fencing is preventing the pod from being mounted again until it is ready. I did observe that lsblk is not as reliable at detecting whether the volume has been formatted. At least from the toolbox pod, `lsblk` shows blank info for the FSTYPE, while `blkid` shows the correct file system

[2018-04-24 04:54] christianhuening commented on #1553
@travisn No, the code in 1.10.x has changed and hence i cannot repro it anymore. Another suggestion by @chaosaffe was that maybe the volumes in the error cases don't get fully mounted in the first place but the system thinks so. All writes would then go to the local host and thus essentially into thin air upon pod restart. But I haven't tested his theory yet.

[2018-04-24 08:28] arm64b commented on #1643
PR #1654 just resolve the native build issue on AArch64.  For the `build.all` issue on amd64 host machine, the final solution is to run below commands on the host:
[code]
After that, `build/run make -j2 build.all` will run smoothly on amd64 host and build all the binaries and docker images for other platforms.

[2018-04-24 11:11] xetys opened #1662 "graceful removal of OSDs"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: moving ceph mons from tainted nodes

What should the feature do: In general, the user can decide were OSDs are placed using taints/nodeSelector, but it might happen that the user still needs to remove deployed OSDs gracefully, without risking a data lost. While moving m

[2018-04-24 11:12] galexrt commented on #1662
@jbw976 Do you think this could be done by utilizing your logic for adding/removing directories/devices for OSDs which makes sure the cluster healthy on removal/creation?

[2018-04-24 12:27] arm64b commented on #1643
@galexrt  Sure, of course. But would you pls point me to the dev/build environment? I am not sure if it's a doc file or other 😃

[2018-04-24 12:31] galexrt commented on #1643
@arm64b I think this one would fit https://github.com/rook/rook/blob/master/Documentation/development-environment.md or this https://github.com/rook/rook/blob/master/Documentation/development-flow.md.

[2018-04-24 12:52] xetys commented on #1662
A possible approach to solve this would be inventing a new CRD called "OSD".

If rook deploys a new OSD, the operator creates an OSD CRD with all relevant data (device, capacity, etc).

When a user is deleting it with a command like `kubectl delete osd osd-xxx -n rook`, the operator performs the above-mentioned steps to actually delete the OSD.

Another approach would be the same stuff but storing

[2018-04-24 13:45] arm64b commented on #1643
@galexrt, OK, I will try to put related block to the link tomorrow 😍

[2018-04-24 14:19] jbw976 commented on #1662
Thanks for the suggestion @xetys.  I think that the graceful removal of an OSD without data loss should be completely covered by the scope of #1435.  All additions and removals of storage to the cluster should be done by editing the cluster CRD, I don't think any new CRD types are needed for this.

The graceful removal of OSDs is already implemented at the node level in master (entire node's worth

[2018-04-24 14:19] #1662 closed

[2018-04-24 15:09] fabianvf commented on #1533
@travisn if there's anything I can do to help (even testing or whatever), feel free to ping me.

[2018-04-24 15:40] galexrt opened #1663 "metadataDevice on a per node basis"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing:
Devices can be specified per node.

What should the feature do:
In the Cluster CRD there should be the possibility to specify a `metadataDevice` on a per node basis too.

What would be solved through this feature:
Allowing more granular configuration per node for the me

[2018-04-24 17:13] tonya11en opened #1664 "Change code generation script to be portable and work on Linux"
## **Bug Report**

**What happened:**
Running `make codegen` does not work on GNU/Linux. This is because of the `sed` usage in `build/codegen/codegen.sh`:
[code]

Currently, this will only work on OSX/BSD ([here is more info on that](https://stackoverflow.com/questions/2320564/i-need-my-sed-i-command-for-in-place-editing-to-work-with-both-gnu-sed-and-bsd)). We need a portable way to do this string

[2018-04-24 18:44] travisn commented on #1553
@mickymiek do you still have this cluster running by chance? Or can you let me know if you hit this again? I'm looking for a repro on 1.10. Thanks

[2018-04-25 00:01] jbw976 commented on #1538
The CI tests seem to be more stable again now since we opened this issue.  Closing this issue until we see something more actionable to investigate again.

[2018-04-25 00:01] #1538 closed

[2018-04-25 00:06] jbw976 opened #1665 "PR status check `continuous-integration/jenkins/pr-head` points to unconfigured-jenkins-location sometimes"
PR #1582 is another example where the Jenkins build actually succeeded, but the Github UI is showing failure and pointing at http://unconfigured-jenkins-location/job/rook/job/rook/job/PR-1582/1/display/redirect.  Note the `unconfigured-jenkins-location` in the URL (edited).

Some notes on this issue can be found in https://github.com/rook/rook/pull/1582#issuecomment-381105578, but further discussi

[2018-04-25 00:08] jbw976 commented on #1018
@FaKod did you get a chance to reproduce this issue? We're scrubbing the 0.8 milestone and will close this for now, please re-open if you have more details about this issue that we can investigate with.  Thanks!

[2018-04-25 00:08] #1018 closed

[2018-04-25 00:10] jbw976 commented on #1389
There is more work to do here to complete the design described in https://github.com/rook/rook/blob/master/design/security-model.md

[2018-04-25 08:13] galexrt commented on #1663
@travisn Yeah, I looked at the docs again and found that for node settings there is a ref to the storage selection settings.

[2018-04-25 08:13] #1663 closed

[2018-04-25 08:25] galexrt commented on #1663
@christianhuening

[2018-04-25 08:36] christianhuening commented on #1663
It does that AFAIK as per the docs. So i meant to not specifiy the cluster wide metadataDevice but instead add it to each node settings and leave it out at the one where we dont have an nvme drive

[2018-04-25 08:37] galexrt commented on #1663
@christianhuening Yes removing the cluster wide and adding it to each node would allow to do that.

Still a better solution would be to change the type of the`metadataDevice` and other similar options from `string` to `*string`, so if unset it is `nil` and if user wants it empty it is `""`.

[2018-04-25 14:31] harmjanblok opened #1667 "Remove tini for Docker 1.13 or greater"
Is this a bug report or feature request?
* Feature request

**Feature Request**
We've recently upgraded to docker 1.13.1, and rook Pods now show a warning in the logfiles regarding `tini`:

[code]

As described on https://github.com/krallin/tini#using-tini, Tini is included in Docker itself, when you are using Docker 1.13 or greater.

What would be the correct way to handle this and simultaneously

[2018-04-25 14:46] hameno commented on #1463
How do I change from bluestore to filestore?

[2018-04-25 15:44] travisn commented on #1463
@hameno it will require bringing up new OSDs and then removing the old ones after the data has been replicated. The Ceph documentation describes the process [here](http://docs.ceph.com/docs/master/rados/operations/bluestore-migration/). Unfortunately there is not an in-place migration for individual OSDs.

[2018-04-25 16:09] hameno commented on #1463
Thanks, that's basically what I ended up doing.

[2018-04-25 19:39] travisn opened #1672 "Builds failing due to missing arm64 ceph packages"
ceph-mon, ceph-osd, and ceph-mgr packages are missing from arm64 builds in the latest luminous 12.2.5 release.

[code]

In the packages defined [here](http://download.ceph.com/debian-luminous/dists/xenial/main/binary-arm64/), the missing packages are not listed.

[2018-04-25 21:03] travisn commented on #1672
ceph team confirmed the arm64 packages should be published by tomorrow, so builds will be in a bad state until then.

[2018-04-26 01:54] chr55 opened #1673 "Enable NFS on RGW"
I have created Rook ObjectStorage (instead of Block Storage) so that I can upload file remotely. I am able to connect to this storage from my macOS.  I followed https://rook.io/docs/rook/master/object.html
I have this:
[code]

I now want to consume this storage. I see Wordpress examples for the Block Storage but not for ObjectStorage.

The example for block is
[code]

What would this be for Object

[2018-04-26 06:16] travisn commented on #1673
@chr55 since object storage is accessible with the s3 api, which is over an http endpoint, there isn't the same concept of binding mounting the block or file device. You'll need to use an s3 client. See [here](https://rook.io/docs/rook/master/object.html#consume-the-object-storage) for an example.

[2018-04-26 16:04] bassam commented on #1411
@brlbil we're open to re-adding armhf support if it becomes available in upstream ceph. I don't believe there are plans for testing on armhf for both rook or ceph, so it would need to be experimental and best-effort support.

If you would like to drive the changes we'd be happy to help you get going.

[2018-04-26 17:35] travisn commented on #1672
Builds are running again. Ceph team published arm64

[2018-04-26 17:35] #1672 closed

[2018-04-26 17:38] travisn commented on #1673
It sounds like you really need block storage inside the pods if you want to mount it and treat it as a filesystem. Applications would need to talk to an s3 endpoint if you want object storage. Feel free to join the team [slack](https://rook-slackin.herokuapp.com/) for more discussion.

[2018-04-26 20:02] tobru opened #1677 "modprobe: FATAL: Module rbd not found"
**Bug Report**

Mounting fails:
[code]
`ceph-common` is installed, version `10.2.9-0ubuntu0.16.04.1`.

What you expected to happen: Mount works.

How to reproduce it (minimal and precise): Install rook as documented on an arm64 environment.

Directly on the host:
[code]

In an agent pod:
[code]

**Environment**:
* OS (e.g. from /etc/os-release): Armbian, based on Ubuntu Xenial
* Kernel (e.g. `unam

[2018-04-26 21:53] jbw976 opened #1679 "Support orchestration of CockroachDB with an operator"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: The Ceph operator performs orchestration for Ceph distributed storage, which has similar concepts for deploying cloud-native storage in kubernetes.

What should the feature do:  This feature would introduce new CRD types for CockroachDB and an operator that performs the

[2018-04-26 21:56] galexrt commented on #1677
@tobru You need to run `modprobe rbd` directly on the hosts, that is because of the old kernel you are using.
The issue doesn't appear with 4.x kernels (not 100% sure which minor it was fixed).

So the fix is to either add `rbd` kernel module to `modules-load.d`/`modprobe.d` on the hosts or upgrade the kernel to 4.x.

If that doesn't fix the issue, than this maybe something arm64 related which we

[2018-04-26 21:59] jbw976 opened #1680 "Support orchestration of Minio with an operator"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: The Ceph operator performs orchestration for Ceph distributed storage, which has similar concepts for deploying cloud-native storage in kubernetes.

What should the feature do:  This feature would introduce new CRD types for Minio and an operator that performs the deplo

[2018-04-26 22:57] #1502 closed

[2018-04-26 23:06] travisn commented on #1673
i'll assume further discussion will be in slack, but please to reopen if you have a suggestion for the behavior or the docs.

[2018-04-27 05:45] brlbil commented on #1411
@bassam I would like to help if I can.

[2018-04-27 08:11] tobru commented on #1677
Thanks @galexrt As you may see in the description, I've already tried to run modprobe directly on the node:

[code]

Upgrading is unfortunately not possible because of the lack of hardware support (missing patches).

The question is: Where does the rbd Kernel module come from? Is it part of the Kernel, or is it installed with a package?

[2018-04-27 11:05] tobru commented on #1677
I'll ask the Armbian community if they know anything about it. In the meantime, I tried to load the module on a RasbperryPi with `Raspbian GNU/Linux 9 (stretch)` and Kernel `4.14.34-v7+`, but I hit the same issue:

[code]

[2018-04-27 12:40] HaveFun83 commented on #1677
Maybe you can try to install inux-image-extra-`uname -r` to get the rbd kernel module.

[2018-04-27 13:27] tobru commented on #1677
Too bad, it's not available =(

[code]

[2018-04-27 14:09] mhcvs2 opened #1681 "rbd map exceed 1 minute"
Is this a bug report or feature request?

* Bug Report
* Feature Request

**Bug Report**

What happened:
when I create a pod with ceph pvc:
[code]
I use a device /dev/sdb which is 4TB.

The error is because: "rbd map" command is not successfully within one minute which is specified in mon.go.

This timeout named "cmdExecuteTimeout" should be logger or config with env.

What you expected to happen:

[2018-04-27 14:19] jbw976 opened #1682 "Restoring mon quorum page should not be first entry in docs navigation tree"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

The new "Restoring Mon Quorum" page in the docs does not have any navigation/hierarchy information, so it is listed as first in the docs navigation tree.  See the attached screenshot.

It should be placed correctly underneath the Advanced Configuration or Common Issues section.
![screen shot 2018-04-27 at 7 16 41 am](https://us

[2018-04-27 14:26] jbw976 commented on #1682
Does anyone know the full supported syntax for controlling the navigation tree on the docs site (https://github.com/rook/rook.github.io)?

Are multiple levels of indentation supported?  In the existing docs, I only see indentation as a boolean.
[code]

[2018-04-27 14:34] vijaykumark commented on #1638
I have tested it with Istio 0.7.1. Rook came up but the pvc were hanging in Pending state.

There are the logs I could find in rook-operator pod:
[code]

[2018-04-27 15:40] travisn commented on #1682
@jbw976 i understand that only one level of indentation is supported in the hierarchy.

For this topic specifically, i was not sure it was ready to be included in the docs since it is such an advanced topic, so it was unintended that the docs picked it up from the subfolder. But until we make the docs more flexible such as a better hierarchy, agreed that we should add it to the advanced section

[2018-04-27 22:37] arthur0 opened #1685 "Unable to create PVCs"
# Bug Report

What happened:
---
1. Bootstrap the rook operator (`image: rook/rook:master`), the needed RBAC and CRDs (Pool and Cluster)
2. Create the Cluster custom resource
3. Create the Pool custom resource and the Storage Class
4. Try to create the PVC pointing to Storage Class (tree scenarios):
4.1 SC with the parameter **clusterNamespace**: `invalid option "clusterNamespace" for volume plugi

[2018-04-27 22:40] galexrt commented on #1685
@arthur0 Can you also post your Cluster CRD YAML

[2018-04-27 22:47] travisn commented on #1685
this looks related to #1614 which was merged yesterday. Is there any chance you have an older master build than yesterday?

[2018-04-27 22:48] arthur0 commented on #1685
@galexrt Of course I do:
[code]

[2018-04-27 23:30] arthur0 commented on #1685
@travisn I'm not sure. I used the `rook/rook:master` image (v0.7.0-81.g141e719)
So, I tried to change to `v0.7.1` version, but I got a new error on rook-operator (not related, I think):
[code]
[code]
Logs of operator:
`operator: failed to init resources. failed to create custom resource. customresourcedefinitions.apiextensions.k8s.io "volumeattachments.rook.io" is forbidden: User "system:serviceac

[2018-04-27 23:35] travisn commented on #1685
ok, sounds like you have some incompatibilities between the builds. To use the latest master since  yesterday, you will need tag v0.7.0-102.gd6141bb or newer. Your build is from a couple weeks ago (see [dockerhub](https://hub.docker.com/r/rook/rook/tags/). Trying to downgrade to 0.7.1 at this point then looks like it brings other issues.  Can you clean up the cluster and start from scratch? And if

[2018-04-27 23:54] arthur0 commented on #1685
@travisn You're right.
I changed the version of rook to "v0.7.0-106.gb9ae002" and it woks.
My fault not verify the dockerhub tags.
I used the `rook/rook:master` and I don't know the reason of my setup pulled a older image.
Thank you.

[2018-04-27 23:54] #1685 closed

[2018-04-28 06:35] 13567436138 opened #1686 "how to add a hard disk to rook"
how to add a hard disk to rook

[2018-04-28 07:25] 13567436138 opened #1687 "ailed to remove dirs. failed to remove osd.4. failed to wait for cluster rebalancing after removing osd.4: max retries exceeded"
[code]

[2018-04-28 08:01] 13567436138 opened #1688 "how to reduce osds osd: 10 osds: 2 up, 3 in"
# ceph -s
  cluster:
    id:     2821d7c2-947a-4012-b2c7-ba78abaa4345
    health: HEALTH_WARN
            noscrub,nodeep-scrub flag(s) set
            1 osds down
            3 hosts (4 osds) down
            clock skew detected on mon.rook-ceph-mon4, mon.rook-ceph-mon0

  services:
    mon: 3 daemons, quorum rook-ceph-mon1,rook-ceph-mon4,rook-ceph-mon0
    mgr: rook-ceph-mgr0(active)
    osd: 10

[2018-04-28 08:21] 13567436138 opened #1689 "failed to remove dirs. failed to remove osd.4. failed to reweight osd.4 to 0.0: failed to crush reweight: ex"
[code]

[2018-04-28 10:14] vijaykumark commented on #1638
rook-agent pods do not show any logs after creating pvc. Looks like some connection issues betweek rook components and k8s apiserver.

Here are the rook-agent pod logs
[code]

Here are the rook-ceph-osd logs from one of the nodes
[code]

When I installed `rook:v0.7.0-102.gd6141bb` without istio then it worked fine. I was able to create pvc.
Looks like some connection issues between rook components

[2018-04-28 17:08] coolpalani commented on #1623
Is it supporting Kubernetes 1.10.1 version

[2018-04-28 17:10] jbw976 commented on #1686
Hi @13567436138, currently in Rook v0.7, there is only official support for adding and removing entire nodes (with all their disks and directories).  This can be done by editing the cluster resource, as described in https://rook.io/docs/rook/master/cluster-crd.html#node-updates.

Further work to support adding and removing individual disks and directories is being tracked by #1435.

Unofficially,

[2018-04-28 17:10] #1686 closed

[2018-04-28 17:14] jbw976 commented on #1623
Yes @coolpalani, the integration testing support that @travisn has right now in his pull request is for 1.10.1: https://github.com/rook/rook/pull/1644/files#diff-58231b16fdee45a03a4ee3cf94a9f2c3R73

[2018-04-28 17:43] coolpalani commented on #1623
I deployed Kubernetes 1.10.2 using kubeadm and top of installed the rook but when I tried to provision storage, it's not provisioning.

[2018-04-30 01:00] kesavkolla commented on #1638
Yes the with the new update the istio side car container getting injected along with rook objectstore.  I'll have to test the traffic routes further.

[2018-04-30 01:00] #1638 closed

[2018-04-30 06:35] vijaykumark commented on #1638
@kesavkolla  Are you able to create PVCs using storageclass "rook-block" after starting Rook on Istio?

[2018-04-30 09:07] t3hmrman commented on #543
Hey all,

I'm not sure if this belongs here, but was looking through the issues -- I wanted to note that if I set up a PVC and use it from two different pods (in my case, actually 2 replicas in the same `Deployment`), the second replica fails with an error stating that the volume is attached to another pod (the first replica to boot), on rook `v0.7.0`.

I've confirmed that the PV is `RWX`, so I wa

[2018-05-01 12:30] shamalco opened #1692 "Unexpected MON deploy and pulling from rook/rook:latest"
**Bug Report**

What happened:

Restarted a node in my cluster, and when the node recovered its failing to pull the image because its trying to pull rook/rook:latest although the other mons are pulling rook/rook:master. Also the mon trying to pull rook/rook:latest is a four one although I deploy only three in the cluster.
[code]
What you expected to happen:

The mon should only be three and pull f

[2018-05-02 06:27] 13567436138 opened #1693 "unable to find a keyring on /etc/ceph/ceph.client.admin.keyring,/etc/ceph/ceph.keyring,/etc/ceph/keyring,/etc/ceph/keyring.bin: (2"
**Bug Report**

What happened:

[code]

What you expected to happen:

How to reproduce it (minimal and precise):

[code]
[code]
[code]

**Environment**:
[root@node1 dev]# cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/

[2018-05-02 07:50] 13567436138 opened #1694 "fail to check rbd image status with: (executable file not found in $PATH), rbd output: ()"
[code]

[2018-05-02 15:32] travisn commented on #1533
Looks like this was fixed with https://github.com/kubernetes/kubernetes/pull/62810, following up to confirm

[2018-05-02 19:39] travisn commented on #1673
An approach to enable a file system on top of the object store is to enable [NFS over rgw](http://docs.ceph.com/docs/master/radosgw/nfs/). I'll reopen this issue to track that work.

[2018-05-02 21:21] #1682 closed

[2018-05-03 02:10] #1694 closed

[2018-05-03 02:10] #1693 closed

[2018-05-03 02:11] 13567436138 opened #1696 "Failed to complete 'rbd': exit status 2. . output: modinfo: ERROR: could not get modinfo from 'rbd': Exec format error"
[code]

[2018-05-03 02:50] JeromeGe commented on #1646
@travisn I deleted all the crds according to the cleanup guide. The rook namespace and pod and other resources have been deleted.

[2018-05-03 04:26] jbw976 commented on #1680
Yes @hunter you can run all the Rook operators and the storage providers that they orchestrate at the same time.  There may be a demo here at Kubecon EU that shows them all running together :)

[2018-05-03 05:55] hunter commented on #1680
Shame I couldn't make it over to Kubecon. Looking forward to seeing it shared later :)

[2018-05-03 12:44] kjean667 opened #1697 "Monitor crashes after reboot inhibiting cluster recovery"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
Restarting all nodes, at the same time, in a three node cluster results in a rook state that does not recover. Two of the monitors on the nodes get stuck in CrashLoopBackOff.
The nodes were restarted using "reboot now" command in shell on all three nodes.

What you expected to happen:
Rook cluster up and running

[2018-05-03 13:35] galexrt commented on #1692
@shamalco Can you run`rook version` in the rook-operator and post the output?

[2018-05-03 13:41] galexrt commented on #1697
@kjean667 The problem is that you have two filesystems running. Ceph has a bug which causes the mons to fail because of that.
An issue has been created a Ceph upstream tracker: http://tracker.ceph.com/issues/23658.
The fix is currently pending backport at Ceph. When the fix has been backported and a new Luminous version has been released we will go ahead and pick up the new version ASAP.

This is

[2018-05-03 17:51] dimm0 opened #1699 "Rook operator tries to schedule mons on NotReady nodes"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
I have a couple nodes in the cluster which are broken and are in NotReady state. Currently there's one mon scheduled to run on one such node, and will never start on it.

What you expected to happen:
Only schedule mons on nodes which are available

How to reproduce it (minimal and precise):
Add a node, stop dock

[2018-05-03 20:40] travisn commented on #1699
@dimm0 is it possible that the mon had already been assigned to the node when the node was ready, then it went to the `NotReady` state? The operator checks [here](https://github.com/rook/rook/blob/c7e9b0f51988f61d7a06cb85ce58091e08624769/pkg/operator/cluster/ceph/mon/util.go#L250) if the node is ready before mons are assigned to it.

[2018-05-03 20:51] travisn commented on #1697
I'll close this as a dup. We'll get this in soon!

[2018-05-03 20:51] #1697 closed

[2018-05-03 20:53] travisn commented on #1692
agreed, this smells like an old issue. The `latest` tag should not be used. I also see `versionTag` in the spec, which hasn't been there for a couple releases.

[2018-05-03 20:59] travisn commented on #1689
@13567436138 do you have any more details on what the issue was? How many devices on the node? Was there a reboot? Had the cluster been healthy before this? Or is this the first run? Was it an existing cluster and you added a new node? etc

[2018-05-03 21:02] travisn commented on #1688
@13567436138 how many OSDs are you expecting? 5? You can use the ceph tools from the rook toolbox to remove the extra osds. The command you might want is `ceph osd crush remove <osd>`. See [this page] for more potential usage of the ceph tools.

And was there some error condition when rook was creating the osds? We should understand why extra osds were created.

[2018-05-03 21:04] travisn commented on #1687
#1689 was hit at the same time as this? Looks like about the same issue.

[2018-05-03 21:09] travisn commented on #1681
@mhcvs2 can you look at the logs for the rook-agent pod on that node where it was trying to mount? Perhaps it was formatting for a long time with a large volume, or else it could be an old kernel as mentioned in [this issue](https://github.com/rook/rook/issues/1110#issuecomment-367199838).

[2018-05-03 21:49] dimm0 commented on #1699
That node was never ready, I'm sure about that.. It's totally broken :)

[2018-05-03 23:15] tonya11en opened #1700 "Replace pkg.util.sys.Awk() with strings.Fields()"
**Feature Request**

**Are there any similar features already existing:**
No

**What should the feature do:**
Replace the custom Awk() function and all of its tests with the [strings.Fields()](https://golang.org/pkg/strings/#Fields) function found in the standard library. We don't rely on the 0th index special case and there's not a clear reason for keeping this function around.

**What would be s

[2018-05-04 14:41] mickymiek commented on #1553
Hi @travisn , sorry to keep you waiting.
We now have a cluster running on 1.10.1, we didn't encountered this problem since my last comment, but I haven't actively tried to reproduce. Will do tests tomorrow, I'll let you know about the results.

[2018-05-04 21:03] travisn opened #1701 "Flex driver conflicts when multiple rook system namespaces are running"
When there are multiple rook namespaces running, we observe that the flex volume drivers for the namespaces will conflict.
- The agent pods will be watching the same unix socket
- If one namespace is terminated, the unix socket will be deleted from under the agent in the other namespace

The latter is an issue commonly in the integration tests running in jenkins. Immediately after one test suite i

[2018-05-04 22:27] dimm0 commented on #1699
Ok, closing the ticket until I'm 100% sure the node was always NotReady.

[2018-05-04 22:27] #1699 closed

[2018-05-05 00:43] dimm0 commented on #1687
I'm trying to remove a node from the cluster and hitting the same issue...
last error: current used space and pg count for osd.94 has not decreased still

The node was out for a while. The cluster was healthy.

I'm looking at this code: https://github.com/rook/rook/blob/284c1b3411996eb54cade31acfcbf3d5351666f7/pkg/daemon/ceph/osd/agent.go#L561

What if initial usage was 0? (In my case it was 0)

[2018-05-05 01:30] dimm0 commented on #348
I see this issue in 0.7.1 cluster.
[code]

[2018-05-05 09:33] coolpalani commented on #1546
@Paxa

I request you configure Grafana to monitor your ceph cluster status.
You will get report like in blow url
[https://files.slack.com/files-pri/T47C56S7Q-FAHLELRC0/image.png](https://files.slack.com/files-pri/T47C56S7Q-FAHLELRC0/image.png)

[2018-05-05 13:41] zhwenh commented on #1565
Yes, I also found that rook filesystem cannot be mounted in statefulset

[2018-05-07 05:11] christianhuening opened #1703 "Rook Operator sets noscrub, nodeep-scrub"
* Bug Report

**Bug Report**

What happened:
Healthy cluster switched to HEALTH_WARN with noscrub, nodeep-scrub set.
from a monitor's log:
[code]

10.200.6.20 is my operator pod:
[code]

It appears to set the flags right after startup
[code]
It turns out the logs in the operator report a rogue node, which it still wants to setup, but which isn't available anymore. We tested around with a new match

[2018-05-07 14:42] bassam opened #1704 "Add support for Dynamic Database Provisioning"
**Feature Request**

What should the feature do:
With CockroachDB now added to the Rook project, we need to enable a dynamic database provisioning similar to dynamic volume provisioning in Kubernetes. The goal is that application developers need not care about which service (managed services or in-cluster implementation) is providing the database for them. Cluster admins should be able to specify

[2018-05-07 14:47] bassam opened #1705 "Add support for Dynamic Bucket Provisioning"
**Feature Request

With Minio and Ceph RGW support now in the Rook project, we need to enable a dynamic bucket provisioning similar to dynamic volume provisioning in Kubernetes. The goal is that application developers need not care about which service (managed services or in-cluster implementation) is providing the bucket for them. Cluster admins should be able to specify a BucketClass that includ

[2018-05-07 15:09] deitch commented on #1704
Thanks for the link to this issue via twitter.

I have a real use case to which I would love to apply this now. Obviously, it isn't ready, so we will work around. Hopefully, our practical use case will help in definitions.

We have services that require a backing data store (in our case, Postgres, but it could be anything). We actually provision them via RDS, but, again, it could be anything. Idea

[2018-05-07 15:17] mickymiek commented on #1553
I tried to reproduce many times without success.
We're now running a new cluster (different machines). So I ran tests to see if disks change could have impacted the results, but it doesn't seem like it. So what changed since the last time we lost data is our k8s upgrade and the coreOS version we're using (1745.0.0 -> 1758.0.0).

I'll keep in touch if I happen to reproduce, but everything seems sta

[2018-05-07 15:33] travisn commented on #1553
@mickymiek thanks for looking into it, we will keep this issue active for now to confirm that it is stable on k8s 1.10.

[2018-05-07 16:46] fabianvf commented on #1314
@travisn if there's anything I can do to help (even testing or whatever), feel free to ping me.

[2018-05-07 18:05] travisn commented on #1314
@fabianvf I'm following up with the openshift team today on the issue where the rook pods are not able to write to a hostpath volume, even though the pod is privileged. I've created a simple pod that shows the issue. It would be great if you want to take a look at getting this sample working. Thanks!
https://gist.github.com/travisn/4c59b34cc2f9fc146e61cb47b79c2c72

[2018-05-07 23:32] dimm0 commented on #348
Rebooting the OSD according to http://lists.ceph.com/pipermail/ceph-users-ceph.com/2018-January/024222.html seems to have fixed the issue

[2018-05-07 23:50] travisn commented on #1490
This will not be necessary when we move to the local storage PVs. dataDirHostPath is only a short term solution

[2018-05-07 23:50] #1490 closed

[2018-05-08 04:04] hunter commented on #1704
Will this be something different to Open Service Brokers?

[2018-05-08 14:00] jbw976 commented on #1687
Hi @dimm0, could you share the output of `ceph osd df`? And also the full OSD pod logs?

You may be onto something that if the initial usage is 0 then this logic may not work.  I thought that was handled earlier in the code flow, but i'm not seeing it right now...

@13567436138 I believe is seeing a different underlying cause.  We start up the OSDs that are going to be removed so that they can hel

[2018-05-08 14:45] #1655 closed

[2018-05-08 15:09] travisn commented on #1314
Tracking issue created [here](https://github.com/openshift/origin/issues/19649)

[2018-05-08 16:06] travisn commented on #1553
@christianhuening can you confirm if you are seeing this issue on 1.10?

[2018-05-08 19:25] aocheretnoy opened #1706 "3x performance degradation with cephfs vs rbd"
We did performance tests with rook on AWS.
We use 6 i3.4xlarge instances for ceph storage (each has 2 x 1900 NVMe SSD ) and cluster config
[code]
We used next command:
[code]

When we use pool:
[code]
and mount rbd device to pod we have good performance
[code]
When we use filesystem:
[code]
we had a big drop in performance:
[code]
Is this performance fall inevitable for shared filesystem or we can

[2018-05-08 20:21] GJKrupa opened #1707 "Failure due to optimistic locking on rook-ceph-osd-orchestration-status with 3 OSDs"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
I'm trying to run rook on a small self-hosted cluster.  3 OSDs are configured to use /dev/sdb (a 100GB volume attached to each of 3 worker nodes).

Invariably, one of the OSDs will fail with the following message and then never recover, showing as down when running ceph osd status or ceph osd tree:

`failed to u

[2018-05-08 21:16] #1421 closed

[2018-05-09 01:35] jbw976 commented on #1687
@dimm0 and I were able to get the node in his cluster completely removed by a bit of manual intervention.  His issue does look to be because his initial usage for the node was 0 and the pod was waiting for that to start going down before moving on.  If initial is 0 then we just move on right away to the next step.  I'll open a ticket specific to that issue and include the workaround steps there.

[2018-05-09 01:40] jbw976 opened #1708 "Node cannot be removed from the cluster when its usage is 0"
When a Ceph node is being removed from the cluster, the OSD pod waits for the usage or PG count of the OSDs to start going down, indicating that rebalancing has started before it moves on to the next step.  If the usage is 0 though, this value will never go down and the wait will eventually time out with an error similar to `last error: current used space and pg count for osd.94 has not decreased

[2018-05-09 01:42] jbw976 commented on #1708
These are the anonymized workaround steps we took to get the node fully removed from @dimm0's cluster:

[code]

[2018-05-09 08:13] christianhuening commented on #1553
@travisn I did not see that issue on 1.10 again.

[2018-05-09 08:17] edillmann commented on #1169
any progress on this ?

[2018-05-10 08:40] galexrt commented on #1261
@travisn I think with your [Rook - Disaster Recovery Documentation](https://rook.io/docs/rook/master/disaster-recovery.html) added this is redundant?

[2018-05-10 11:30] galexrt commented on #815
I think the issue is not related to the `No module...` message as written previously, and is also potentially not reproducible anymore with the latest Ceph version `12.2.4` in the Rook version `0.7.1`.

There was probably more or less an underlying issue with Rook and Ceph together that caused the lose of the cluster state.

I'm going to close this issue for now.
If you are able to reproduce the i

[2018-05-10 11:30] #815 closed

[2018-05-10 11:35] galexrt commented on #1681
This can potentially be fixed when nbd is used for mounting instead of rbd, from what I heard.
The overall problem here which was "fixed" some time ago by setting the timeout to 1 minute, needs to be looked at again.
Though the problem with simply increasing the timeout is that it is in question what type of timeout is going on, because it is either just taking an amount of time to map/mount the v

[2018-05-10 11:39] galexrt commented on #1677
@tobru I'm thinking that this is more or less a problem of the platform you are running on not having the `rbd` kernel modules available.
I'm not seeing what Rook can do to fix the issue.

What do you think?

[2018-05-10 11:41] galexrt commented on #1665
@jbw976 Is this still an issue? I don't think I saw a PR in the last 2-3 weeks that had this issue and if they had this issue from previously, a force push fixed the issue.

[2018-05-10 11:44] galexrt commented on #1692
@shamalco Could you please try using the latest tagged manifests from here https://github.com/rook/rook/tree/v0.7.1/cluster/examples/kubernetes and see if the issue persists?

Due to an issue with the tagging, you need to change `0.7.0` to `0.7.1` in this file: https://github.com/rook/rook/blob/v0.7.1/cluster/examples/kubernetes/rook-operator.yaml#L122

[2018-05-10 11:44] tobru commented on #1677
@galexrt I agree, let's close this issue. I try to get this fixed in Armbian.

[2018-05-10 11:44] #1677 closed

[2018-05-10 11:46] galexrt commented on #1677
@tobru Please keep us updated when this is fixed on Armbian so other Raspberry Pi users know about it.

[2018-05-10 11:55] galexrt commented on #1646
@JeromeGe Did you also wait completely until all resources are cleaned up, before deleting the Rook operator?

[2018-05-10 11:59] galexrt commented on #1550
@travisn We need to find a good way to allow setting resource limits on the rook-agent DaemonSet.
One way I can think of is to let the user create the rook-agent DaemonSet or either use flags on the operator (environment variables) to allow rook-agent DaemonSet resources to be set.

What do you think?

[2018-05-10 12:00] galexrt commented on #1546
This seems to be related to #1659.

[2018-05-10 13:56] galexrt commented on #543
@t3hmrman Block storage is not available for `RWX`, that is where a network filesystem such as CephFS comes in.
Currently you can only use CephFS directly in the `volumes` section of a Deployment, #1125 covers usage of CephFS through PVCs.

***

Closing this issue as there have been no comments against closing this and using #1125 to track being able to consume CephFS through PVCs.

[2018-05-10 13:56] #543 closed

[2018-05-10 15:20] travisn commented on #1550
I like the idea of just letting the user create the agent daemonset. There isn’t much special about it. We can provide an example yaml that would start the agent. If you don’t create the agent yourself, the operator would still create it automatically. You would just need to create the agent before starting the operator. The operator would then recognize that the daemonset already exists and skip

[2018-05-10 15:24] #1261 closed, assigned to galexrt

[2018-05-10 20:28] patrickstjohn opened #1713 "Provide operator support for authenticated Docker Registries"
* Feature Request

We are using VMWare Harbor for our private Docker registry. Rook does not currently support authenticated Docker registries. As a workaround we have an unauthenticated repository which is hosting the Rook containers but it would be ideal if the Rook operator supported this. Ideally, the imagePullSecret used to obtain the Rook operator would be included in any follow on deploymen

[2018-05-11 00:13] t3hmrman commented on #543
Hey @galexrt thank you very much for clarifying!

[2018-05-11 00:14] tonya11en commented on #1704
@hunter this will be different to open service brokers (OSBs).

The OSB API is essentially giving a cluster operator a workflow that looks something like:
* Ask the service catalog API server what services are available and the associated plans for those services.
* Initiate the provisioning of a new managed service instance from that list.
* Bind to that managed service instance (credential detai

[2018-05-11 09:10] deitch commented on #1704
This is something I have been trying to understand. So is the assumption that to use an OSB, an app would need to use the programmatic API, whereas with Rook (or any other such CRD/Operator), you would just do it declaratively? If so, the CRD/Operator _could_ use the OSB under the covers, but wouldn't necessarily need to?

I have been working on an open source database provisioner, whenever I can

[2018-05-11 09:17] edillmann commented on #1169
FYI I found this reference on kubernetes side : https://github.com/kubernetes/community/pull/1700

[2018-05-11 15:46] bassam commented on #1704
correct. we think `PersistentDatabase` and `PersitentBucket` should be abstractions just like `PersistentVolume` today. Obviously, Databases vary a lot but you can find lots of commonalities if you normalize on the popular open source options like mysql and postgres.

Can we collaborate? :-)

[2018-05-11 15:52] BlaineEXE commented on #1667
I looked into this a bit myself, and I think with kubernetes 1.7+, there may be no need to use tini because of k8s's new PID namespace sharing enables a zombie reaper for all pods.
https://www.ianlewis.org/en/almighty-pause-container

Please correct me if I am wrong, but I think one-osd-per-pod will require PID namespace sharing, and therefore, we can assume that this feature is enabled. I am not

[2018-05-11 16:34] BlaineEXE commented on #1404
Ceph-container is in a good spot to enact this work. Talking to @travisn, I propose going about this in 2 phases. It makes sense to me to do both separately, but phase 1 will be less work if I can do phase 2 at the same time.

### Phase 1
Switch Rook over to use CentOS instead of Ubuntu. This fixes issue #1600, for one. For another, ceph-container is most well-tested on centos. No one from the ubu

[2018-05-11 16:37] bassam commented on #1404
If we are going to switch I would do it in one shot to minimize testing burden.

[2018-05-12 19:35] deitch commented on #1704
OK, thanks, makes sense. I think I see where Rook is going now.

Sure. I am a little overloaded - I spend most of my time either doing DevOps transforms for clients or working on product strategy for other clients, not to mention time spend on WorksOnArm and AccelerateWithOptane, so OSS work is a side for me (LinuxKit too, and other projects I have released). I will try to find time to do some of