[2022-02-14 14:06] leseb commented on #9731
Like you said it looks like there is an issue with the CNI as per:

[code]

Unfortunately, this is not a Rook issue and I'm not sure you will get the assistance you are looking for.
I'd suggest to look at the Kubelet logs on the node the pod was scheduled onto and open an issue on the wave repo directly.

If you find anything that might be related to Rook please let us know and we will re-open thi

[2022-02-14 14:06] #9731 closed

[2022-02-14 14:44] travisn commented on #6439
@rezabojnordi Please open a new [discussion](https://github.com/rook/rook/discussions) and include more details about the issue. There can be many reasons that OSDs are down, such as the pods crashing, the liveness probes failing, etc. The pod descriptions, OSD logs, and operator log may be helpful to troubleshoot.

[2022-02-14 15:02] travisn commented on #9736
@mulbc Replica 1 pools are allowed today. Did you test this and see the error, or is this just from code inspection? This code path is not expected to error out with replica 1 since `replicasPerFailureDomain` defaults to 0 and is only expected to be set in stretch clusters where there are two replicas per domain. Though we probably should not have exposed that setting and just dealt with it intern

[2022-02-14 15:07] mulbc commented on #9736
I did face an issue here, because the minimum for this field is set to 1:
https://github.com/rook/rook/blob/3fc49f2b9a070b5c9a785b5d2db0af94334a5068/pkg/apis/ceph.rook.io/v1/types.go#L862

I did not use Rook-Ceph directly, but tried this with a modified version of ocs-operator.

It looks like I was just able to circumvent this issue by setting the reconcileStrategy to init.

[2022-02-14 18:41] travisn commented on #9736
It's also tagged with `+optional` so it doesn't need to be specified.

[2022-02-14 19:46] jmmaloney4 commented on #9283
I'm also having this issue, but with startup probes for OSDs has anyone found a solution?

[code]

[2022-02-14 20:13] travisn commented on #9283
@jmmaloney4 What version of Rook are you running? Does [disabling the liveness probe](https://github.com/rook/rook/issues/9283#issuecomment-983828488) get you past this at least temporarily?

[2022-02-14 20:31] #9697 closed

[2022-02-15 02:00] zhucan commented on #3220
If we want to use ceph cli tools from outside k8s cluster,  what can I do?  @leseb

[2022-02-15 02:03] zhucan opened #9740 "Can we close the cephx with rook?"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

**What is use case behind this feature:**

**Environment**:

[2022-02-15 04:51] jmmaloney4 commented on #9283
@travisn Yes. Thanks for the quick response. Something was causing the OSD to take a long time to startup. I tried lengthening the time the startup probe had, but I didn't make it long enough. After disabling the probe the cluster went back to normal. OSD seems to be starting up quickly again now.

[2022-02-15 07:26] thotz opened #9741 "tests : use local image for http-server for bucket-notification end-to-end tests"
**Is this a bug report or feature request?**
* Bug Report

The bucket notification test uses a third party [image](https://quay.io/repository/jthottan/pythonwebserver) from [repo](https://quay.io/repository/jthottan/pythonwebserver) with script and docker file of the rook repo as well. It is better to find a way to run this image locally and use it in end-to-end testing

[2022-02-15 07:47] log1cb0mb commented on #7575
@solacelost It is indeed kubelet that should handle SELinux relabling by telling container runtime to do it with ":Z" option.
In order for kubelet to be able to do that, following conditions must be met([Reference](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1710-selinux-relabeling/README.md#volume-mounting)):

In your case(typhoon and same env as mine), kubelet is runn

[2022-02-15 11:28] leseb commented on #3220
Assuming the network connectivity is in place and routing is configured, you can:

* run a toolbox pod in the k8s cluster
* copy the `/etc/ceph/ceph.conf` file outside of the cluster
* copy the `/etc/ceph/keyring` file outside of the cluster
* run ceph commands

[2022-02-15 15:14] #9716 closed

[2022-02-16 02:11] zhucan commented on #3220
@leseb  ok, because of  the version between the client and server are too different.

[2022-02-16 02:26] Jiawei0227 commented on #5732
Run into the same issue and finally get connected with https://github.com/rook/rook/issues/5732#issuecomment-719507668 I am running the rook v1.8 and ceph 15.2.14

Havent try OGW and RBD yet

[2022-02-16 06:25] clcc2019 opened #9747 "After the osd host restarts abnormally, the osd cannot be started"
<img width="1363" alt="image" src="https://user-images.githubusercontent.com/46099295/154208269-b799881b-dfd7-43f2-913f-d46b53108449.png">
reraise_fatal: default handler for signal 6 didn't terminate the process?

ceph 16.2.4

[2022-02-16 08:10] leseb commented on #3220
Then you would need to update.

[2022-02-16 08:52] thotz opened #9750 "objectstore: provide way to give zone/zonegroup/realm for external ceph cluster"
**Is this a bug report or feature request?**
* Bug Report
For the RGW running in the external cluster, the only viable parameter is the `EndpointAddress`, but Rook sets zone/zone group/realm value as `objectstore` name in `objectContext`. This may fail internal s3 operations / `radosgw-admin` commands if there are multiple zonegroup/zones that exists in the external cluster. If it can be fixed by

[2022-02-16 08:53] leseb commented on #9747
For daemon crashes please open a ticket at https://tracker.ceph.com/ and paste the full log. Thanks!

[2022-02-16 08:53] #9747 closed

[2022-02-16 09:10] leseb commented on #9750
Dup of https://github.com/rook/rook/issues/6342?

[2022-02-16 09:10] leseb commented on #9750
If so, please close an amend https://github.com/rook/rook/issues/6342 with more content if appropriate

[2022-02-16 10:10] #9589 closed

[2022-02-16 11:52] thotz commented on #9750
#6342  is one way of doing it, other way is pass the zone/zone group/realm as part of external Spec in the objectstore CR, since we already have CRs for zone/zonegroup/realms and also support obc, cephobjectstoreuser for external rgw server. We use #6342 approach

[2022-02-16 11:52] #9750 closed

[2022-02-16 13:14] MurzNN commented on #4210
I've got the same issue, but only when I try to access Dashboard via http protocol, opening using https protocol magically resolves the issue!

[2022-02-16 13:23] electrical commented on #8538
Any ideas about this issue? I have no idea how to progress this.

[2022-02-16 16:18] parth-gr opened #9755 "Ability to write better unit tests"
Rook has a lot of legacy unit tests, and I think Rook's overall stability will be improved in the future if more of us have the ability to write better unit tests.

Because `c` is a resource that is scoped outside of this test sub-function, modifying it here modifies it outside of this sub-test's scope. Doing this isn't **always** bad, but it is **almost always** best to make sure that all unit te

[2022-02-16 20:01] #9381 closed

[2022-02-17 09:25] #9488 closed

[2022-02-17 10:36] yuvalif opened #9757 "osd is crashing after couple of hours"
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**
instruction are [here](https://gist.github.com/yuvalif/becb7705b4626d3b302a1b2f5f9b56ec)
the crash is happening after a couple of hours. note that the instructions are for "master", but the issue happens in 1.8 as well

**File(s) to submit**:

* Cluster CR (custom resource): in the reproductio

[2022-02-17 11:07] leseb commented on #9757
I see `(5) Input/output error`, could it be an issue with the underlying VM disk?

[2022-02-17 16:18] frouzbeh opened #9764 "disk zapping script for OSD used by Rook fails at removing the device mappers"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[Disk zapping script](https://github.com/rook/rook/blob/master/Documentation/ceph-teardown.md#:~:text=host%20paths%2C%20etc.-,Zapping%20Devices,-Disks%20on%20nodes) sometimes returns error when removing the device mapper:
[code]
For now I added `set -e` to the script, so I still would be able to unlock

[2022-02-17 18:49] travisn commented on #9764
@frouzbeh The suggestion is to add `set -e` to the script so errors can be addressed instead of skipped?

[2022-02-17 18:56] frouzbeh commented on #9764
@travisn I guess `set -e` is an option. But a better solution would be finding where the device is busy and free it. For example if we can use `lsof` or any other tools.

[2022-02-17 19:47] BlaineEXE commented on #9764
I have encountered the same issue where `dmsetup remove` hangs, but that isn't an issue that Rook can fix. Ultimately, this script is meant to be helpful to as many users as possible, but we can't ensure its correctness across all possible operating systems. I do however have something else to update with regards to this doc, so I will try to make that more clear in an upcoming update.

[2022-02-17 20:19] #9623 closed

[2022-02-17 20:33] BlaineEXE commented on #9736
It seems like this is possible with Rook already today, so closing this issue.

[2022-02-17 20:33] #9736 closed

[2022-02-17 20:35] BlaineEXE commented on #6291
Thanks @degorenko. Have you verified that the issue doesn't persist with Rook v1.8?

[2022-02-17 20:43] BlaineEXE commented on #9088
Thanks for keeping us up-to-date @sebastianriese.

[2022-02-17 22:15] BlaineEXE commented on #8245
This could have been related to the fixes that I did to make sure the operator doesn't keep the same health checker info from previous CephObjectStore installs. This is the behavior I saw when that error was happening, but it doesn't mean this was the only cause.

[2022-02-18 00:51] satoru-takeuchi commented on #8245
@BlaineEXE In my case, I use Ceph v16.2.7 + the following patch to fix the root cause than bypassing this bug in Rook.

https://github.com/ceph/ceph/pull/44413

So this issue can close if @subhamkrai don't encounter this problem.

[2022-02-18 10:18] TacoNaco47 opened #9768 "404 Link in the Ceph Documentation"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Page is missing on [ceph-multisite design overview](https://rook.io/design/ceph/object/ceph-multisite-overview.md) in the following part of the documentation: https://rook.io/docs/rook/v1.8/ceph-object-multisite.html#object-multisite

**Expected behaviour:**
Get to the multisite overview as in the sour

[2022-02-18 14:10] walter-pietroni opened #9769 "Crash loopback off error in OSD pods"
I am trying to run rook-ceph in my OCP 4.8.27 cluster but my OSD pods are having status crash loop back error.
I have used repo:
**https://github.com/rook/rook --single-branch --branch v1.5.6**

[code]

I used all default yaml files for common, operator-openshift and cluster.
Plus I used the following to create the CephObjectStore my-store:

[code]

**This is my output:**
[code]

**This is the log

[2022-02-18 17:13] thenonsequitur commented on #7746
In case it helps anyone else in the future, I just ran into this warning after a rook upgrade, and for me all I had to do was restart all the csi plugin pods and the warning went away.

[2022-02-18 20:58] nyarly commented on #9324
@leseb Is this really wontfix?

[2022-02-21 01:39] czhfe opened #9771 "cephfs mount failure.permission denied"
[code]

[2022-02-21 01:57] kconde2 commented on #9166
Hello, I just lost all my data while installing the demo on [KiND](https://kind.sigs.k8s.io) a cluster. I think people should be informed.

[2022-02-21 03:34] HYQ1314 opened #9772 "cephfs-mirror"
1、Although peers are configured in Filesystem,Cephfs-mirror still indicates that there is no external cluster kerring
/etc/ceph/ceph.client.mirror_remote2.keyring,/etc/ceph/ceph.keyring,/etc/ceph/keyring,/etc/ceph/keyring.bin,: (2) No such file or directory
2、Filesystem After a mirror is configured，fsMirrorBootstrapPeerSecretName: fs-peer-token-myfs  Not created。
3、secondary-cluster-peer didn't wo

[2022-02-21 07:10] zhucan commented on #7198
/reopen

[2022-02-21 09:06] leseb commented on #9772
Please re-open using the "issue" template and fulfill all requested information. Thanks.

[2022-02-21 09:06] #9772 closed

[2022-02-21 09:29] leseb commented on #9771
Please re-open using the default "issue" template. Thanks.

[2022-02-21 09:29] #9771 closed

[2022-02-21 15:15] #9542 closed

[2022-02-21 15:15] #9764 closed

[2022-02-21 15:54] HYQ1314 opened #9776 "ceph-fs-mirror unable to find a keyring on /etc/ceph/ceph.client.mirror.keyring"
the snapshot is successfully configured for cluster A and the peer token of cluster B is imported，Log as follows

[clusterA]# kubectl logs -f -n rook-ceph rook-ceph-fs-mirror-7f4f94978c-8gp74
2022-02-21 15:00:45.029986 I | cephclient: successfully added snapshot schedule retention h 12 to ceph filesys"/"
2022-02-21 15:00:45.029989 I | ceph-file-controller: reconciling create cephfs-mirror peer con

[2022-02-21 16:22] HYQ1314 commented on #9776
How to import  the ceph.client.mirror.keyring (clusterB )  to  ceph-fs-mirror (clusterA)

[2022-02-21 19:24] travisn commented on #7198
@zhucan Can you describe more your scenario? Is it only for erasure coding? The link in the original feature request is not working, would be helpful if you also know of an updated link. Thanks!

[2022-02-21 19:32] haslersn commented on #7198
I think [this article](http://cephnotes.ksperis.com/blog/2017/01/27/erasure-code-on-small-clusters) is the same or at least very close to the original one. I updated the original post.

I think it can not just be used for erasure coding but also for replication. However, for replication it would only be useful if the replication factor is higher than the number of hosts, which is rarely the case.

[2022-02-21 19:35] travisn commented on #9454
@1998729 Did you try restarting the operator pod? Every time the operator starts, it will look for new disks and add new OSDs.

If you want the auto-discovery to work, check again that the `ROOK_ENABLE_DISCOVERY_DAEMON` is enabled on the operator deployment (`kubectl -n rook-ceph get deploy rook-ceph-operator | grep DISCOVERY`). Perhaps it was just applied on your local yaml file.

[2022-02-21 19:47] travisn commented on #9769
Yes, if the OSDs are all down, the object store cannot be initialized and the rgw daemon will not be started.

Is this a new cluster or an existing cluster with data? If it's a new cluster, it may be easier to just reinstall clean and try again. But if you have data in the cluster, this sounds like an old issue where the OSD auth is lost and needs to be restored. I'll have to dig up those steps...

[2022-02-21 19:49] travisn commented on #9166
@kconde2 Sorry to hear that! There is a note in the [developer guide](https://rook.github.io/docs/rook/v1.8/development-environment.html#minikube) that warns to run in a VM and not on your host, but we need to make it more obvious in the main quickstart guide.

[2022-02-21 21:38] BlaineEXE commented on #9776
@HYQ1314 please reopen this issue using Rook's [bug template](https://github.com/rook/rook/issues/new?assignees=&labels=bug&template=bug_report.md) with all fields filled out so that we have the necessary information to help you with this issue.

Also, please use triple-grave marks to include logs and code blocks to preserve formatting.

[2022-02-21 21:38] #9776 closed

[2022-02-21 22:38] #9659 closed

[2022-02-22 02:04] czhfe opened #9782 "cephfs mount failure.permission denied"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Unable to mount cephfs

**Expected behavior:**
It is possible to mount cephfs normally

**How to reproduce it (minimal and precise):**

[code]

**Environment**:
* OS (e.g. from /etc/os-release): CentOS 7 X86
* Kernel (e.g. `uname -a`): 5.4.172
* Cloud provider or hardware configuration:
* Rook version

[2022-02-22 02:29] zhucan commented on #7198
@travisn we want to create pool on designated osd with rook-ceph
examples:
      ceph osd crush add-bucket ssd root
      ceph osd crush add-bucket node1-ssd host
      ceph osd crush add-bucket node2-ssd host
      ceph osd crush add-bucket node3-ssd host
      ceph osd move add-bucket node1-ssd root=ssd
      ceph osd move add-bucket node2-ssd root=ssd
      ceph osd move add-bucket node3-ssd ro

[2022-02-22 08:07] walter-pietroni commented on #9769
It is a new cluster with no data yet.
Can you clarify the exact steps to follow to reinstall clean?
I have tried something in the past but I'm worried I'm losing something and I always restart from a dirty scenario....

However, if you have the steps to recover current broken cluster I'm willing to give them a try.
Thanks

[2022-02-22 08:50] michalskrivanek commented on #3197
@subhamkrai @BlaineEXE hey, any update on refactoring and feasibility of OLM releases?

[2022-02-22 14:27] degorenko commented on #6291
@BlaineEXE not yet. Continue using 1.7.6 version, since it is not a critical issue. But i guess soon we will upgrade on 1.8+ and i'll let you know. Thanks.

[2022-02-22 15:16] BlaineEXE opened #9784 "test multus in CI"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Test multus support in CI

**What is use case behind this feature:**

**Environment**:

I have been able to do basic multus networking tests locally using minikube with the following methods...

First, start minikube with the flannel network (or some other CNI network). This is important since minkikube

[2022-02-22 17:33] jbw976 commented on #9508
rook-dev close message posted to https://groups.google.com/g/rook-dev/c/uJe650ZMOag

[2022-02-22 17:37] jbw976 commented on #9508
Group has been "closed" by following the "Stop members from posting to a group" instructions on https://support.google.com/groups/answer/2646833?hl=en.  This issue should be resolved now :)

[2022-02-22 17:37] #9508 closed

[2022-02-22 17:46] #9768 closed

[2022-02-22 18:58] travisn commented on #7198
@zhucan I believe the combination of [node topology labels](https://rook.github.io/docs/rook/v1.8/ceph-cluster-crd.html#osd-topology) and device classes for the OSDs will already solve your desire to create volumes/pools on particular OSDs by setting the [pool deviceClass property](https://github.com/rook/rook/blob/master/deploy/examples/pool.yaml#L33). See this Ceph blog on [device classes](https

[2022-02-22 19:00] travisn commented on #9769
@walter-pietroni See the [uninstall guide](https://rook.github.io/docs/rook/v1.8/ceph-teardown.html) for all the steps to cleanup before reinstalling. The most frequently missed step is that data needs to be deleted from the hosts, so please read through the full doc. Perhaps the [zapping devices](https://rook.github.io/docs/rook/v1.8/ceph-teardown.html#zapping-devices) was missed previously and c

[2022-02-22 20:09] travisn commented on #9387
@manjo-git Please let us know if this is still an issue for you, we were not able to repro

[2022-02-22 20:09] #9387 closed

[2022-02-22 20:11] travisn commented on #9066
This is already in v1.8, I assume we don't need to backport to v1.7 at this point.

[2022-02-22 20:11] #9066 closed

[2022-02-22 23:32] travisn commented on #9614
@svolland-csgroup I was not able to repro this when installing two clusters in minikube. Does this repro consistently for you or perhaps you found the resolution?

The error doesn't actually look like a conflict between the pods in different namespaces as I initially suspected, but looks like a bad pod spec.
[code]

[2022-02-23 03:24] zhucan commented on #7198
@leseb I known,  Is it needed to  create the deviceClass manually?

[2022-02-23 10:52] Antiarchitect opened #9792 "Ceph: Failed to delete filesystem"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Failed to delete filesystem

**Expected behavior:**
Filesystem successfully deleted

**How to reproduce it (minimal and precise):**

Having not-suitable for multiple filesystems Ceph Octopus external cluster, try to create the filesystem which places it in Failure phase.
Then try to delete it.

**File(

[2022-02-23 12:47] yuvalif commented on #9757
any idea on how to debug that?

[2022-02-23 14:46] #9519 closed

[2022-02-23 17:17] walter-pietroni commented on #9769
@travisn I followed https://rook.github.io/docs/rook/v1.5/ceph-teardown.html (my version is 1.5.6) and I think I removed everything apart from "Zap the devices" (I just did
ls /dev/mapper/ceph-* | xargs -I% -- dmsetup remove %
and
rm -rf /dev/ceph-*
).

However when I reinstalled the cluster I got the same behavior and OSD pods cannot be started.
At the moment they are in status:

[code]

Maybe th

[2022-02-23 17:37] travisn commented on #9792
To summarize, the operator should not fail the reconcile during filesystem deletion if the error is just downing the filesystem...

[2022-02-23 18:59] travisn commented on #9769
@walter-pietroni The [zapping devices documentation in v1.8](https://rook.github.io/docs/rook/v1.8/ceph-teardown.html#zapping-devices) is updated and much more clear. It applies to older versions like v1.5 as well, even though we didn't update those docs. Hopefully it helps answer the questions so you can reinstall.

[2022-02-23 20:43] BlaineEXE opened #9797 "NFS services not removed when scaling down CephNFS cluster"
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**
1. Install Rook, CephCluster, and CephFilesystem
2. Install CephNFS with `spec.server.active: 2` (or more)
3. Reduce `spec.server.active` to `1`
4. Wait for reconcile to complete
5. Observe that the number of NFS deployments is reduced to one (ID: `a`)
6. Observe that the number of `rook-ceph-

[2022-02-23 21:34] #9620 closed

[2022-02-24 05:01] praveenkumar commented on #9757
This error happen around ~2-3 hour later of running the operator, any info around understanding if underlying disk image is culprit would be useful.

[2022-02-24 08:16] leseb commented on #9757
You can look at the kernel log in the VM for that.

[2022-02-24 08:17] leseb commented on #9757
`(5) Input/output error` this **is** the information.

[2022-02-24 14:00] krim404 commented on #7519
I just want to give the information, that i have the exact same issue on a rollout with cephadm and a fresh debian 11 install with docker as engine. But this time it is a little bit more tricky, as the problem started after a reboot long after the creation of the OSDs (and placing data on it).

after changing the uid of the debian maintained ceph user from 64045:64045 to 167:167 it will start up a

[2022-02-24 14:56] amiga23 commented on #4297
To toolbox needs to run privileged if you want to use rbd map, e.g. to manually repair a volume with fsck.

[2022-02-24 15:24] walter-pietroni commented on #9769
After having zapped the devices the osd pods came up and after I have created the cephobjectstore my-store the rgw pod also came up.
Thanks for help! We can close this issue ;-)

[2022-02-24 15:47] stephan2012 opened #9802 "Operator does not detect changes to configmap rook-config-override"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The Rook Ceph Operator does not detect changes to the Kubernetes ConfigMap `rook-config-override`.

**Expected behavior:**
The Rook Ceph Operator picks up changes in the ConfigMap `rook-config-override` and propagates them to the Ceph components.

**How to reproduce it (minimal and precise):**

Change

[2022-02-24 15:57] #9769 closed

[2022-02-24 15:58] travisn commented on #4297
For those operations note that we still have the [direct mount example](https://github.com/rook/rook/blob/master/deploy/examples/direct-mount.yaml), which is just a modified toolbox that runs privileged.

[2022-02-24 17:15] #9792 closed

[2022-02-24 19:47] travisn commented on #9802
The current documentation for the [custom ceph.conf](https://rook.github.io/docs/rook/v1.8/ceph-advanced-configuration.html#custom-cephconf-settings) indicates:
[code]
Commonly when there is a change to the ceph.conf, it only applies to a subset of the daemons and all of them don't need to be restarted. So there may be a difference in opinion for whether the operator really should automatically re

[2022-02-25 11:06] stephan2012 commented on #9802
Thanks for your feedback, @travisn.

Right, using the toolbox, I could apply almost any change. However, this is not convenient, error-prone, and not ideal when config changes must be applied automatically to many daemons in production systems. The operator is the natural place to push config changes to Ceph since it knows all components and their state. It feels wrong having to address this with

[2022-02-25 15:21] matthiasr opened #9806 "rook-ceph-operator-config-controller fails to reconcile if configmap is missing"
Original bug report below. After investigation, @travisn found that this is a consequence of the rook-ceph-operator-config-controller not running if the configmap is missing altogether.

As a workaround, create an empty ConfigMap `rook-ceph-operator-config` in the operator namespace (typically `rook-ceph`). This also re-enables reading configuration from the environment.

---------

**Is this a bu

[2022-02-25 16:11] travisn commented on #9806
@matthiasr
- Does restarting the operator workaround the issue?
- Do you see the following messages in the operator log? If so, the setting should have been reconciled, otherwise it just isn't being triggered.
[code]

[2022-02-25 16:30] travisn commented on #9802
Understood, it would be helpful on those occasions. Hopefully you're not needing this very often though if it's to workaround bugs.

A workaround could be to apply a change to the cluster that will cause a restart of the daemons that need to be restarted. For example, adding [labels](https://github.com/rook/rook/blob/master/deploy/examples/cluster.yaml#L175-L181) will cause the daemons to be resta

[2022-02-25 20:02] #9436 closed

[2022-02-25 20:02] #9297 closed

[2022-02-27 05:12] mtn199300 commented on #3940
+1  书本里的安装方式一直失败 参考这里的方式解决了

[2022-02-27 05:12] zsping1989 commented on #3940
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-02-27 20:02] #9238 closed

[2022-02-28 09:09] matthiasr commented on #9806
No, after a restart it's all the same.

I see `successfully started`, but not `done reconciling`. There are messages from various components about the config map not existing (which is true).

I cleaned up the full log so I can post it now:
[operator.log](https://github.com/rook/rook/files/8151956/operator.log)

Is the config map required now, or is configuring the operator through environment var

[2022-02-28 18:49] travisn commented on #9806
It's intended that the environment variables are still supported, and the configmap would just allow the env vars to be overridden. But I see now that in v1.8 changes, if the configmap doesn't exist the discovery daemon won't be started. As a workaround, does creating an empty configmap work?

[2022-03-01 08:40] sandrobonazzola commented on #3197
Just an update, we now have OKD operator hub: https://github.com/redhat-openshift-ecosystem/okd-operators so shipping an operator there won't cause duplicated entries when running on OCP.

[2022-03-01 08:50] matthiasr commented on #9806
Indeed, that got everything unstuck! I misunderstood the k8sutil code then, the discovery daemonset logic is sound but the data it references is not properly initialised if the configmap does not exist at all?

[code]

[2022-03-01 10:51] matthiasr commented on #9806
Updated the title and description to match this finding.

[2022-03-01 15:45] abhijitchaudhari1 opened #9817 "Radosgw not available after restarts with error "Initialization timeout, failed to initialize" when osd become full"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When OSD become full , radosgw pod continue to run in read only mode until restart. When a new radosgw pod gets created during OSD full situation , radosgw pod never boots up and continue to fail the liveness/readiness probe.

**Expected behavior:**
When OSD become full , radosgw pod continue to run in

[2022-03-01 17:39] travisn commented on #9806
I'm inclined to just document that the `rook-ceph-operator-config` must exist even if empty in order to configure the discover daemon. Clusters created with the helm chart will have the configmap, and upgraded clusters that had been created with [operator.yaml as old as v1.2](https://github.com/rook/rook/blob/release-1.2/cluster/examples/kubernetes/ceph/operator.yaml) would also have the configmap

[2022-03-01 17:47] travisn commented on #9817
@abhijitchaudhari1 The status of the RGW pod running in read only is only a ceph configuration, there is nothing Rook controls here. Could you instead open a [Ceph tracker issue](https://tracker.ceph.com/projects/ceph) for this? Thanks!

[2022-03-02 03:49] df-bingo opened #9819 "osd-pod always crashes every few days"
* Bug Report
Yes I think so

**How to reproduce it (minimal and precise):**
osd-pod always crashes every few days, the problem still exists after upgrading from 1.7 to 1.8

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary
[53.log](https://github.com/rook/rook/files/8168332/53.l

[2022-03-02 05:00] kakkotetsu commented on #7522
I agree.

I tested dual stack `CephCluster`, on Kubernetes `v1.23.3` + Rook `v1.8.6`.
<details>
<summary>CephCluster</summary>

[code]
</details>

When kubelet with `--node-ip <IPv4 addr>,<IPv6 addr>`, `ceph-mon` is started with `--public-addr=<IPv4 addr>`, and listen only IPv4. So, MON can not communicate with OSDs.

<details>
<summary>OSD are all down.</summary>

[code]
</details>

<details>
<su

[2022-03-02 09:01] matthiasr commented on #9806
Works for me, PR created!

[2022-03-02 14:51] sl1288 opened #9822 "osdsPerDevice not working"
Settings:

[code]
ceph osd tree
[code]
kubectl get all -A | grep osd
[code]

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Only 1 osd is created per device

**Expected behavior:**
2 or 3 osds per device as configured

**Environment**:
* OS: Alpine Linux
* Kernel (e.g. `uname -a`): `Linux k3shost 5.15.16-0-lts #1-Alpine SMP Wed, 26 Jan 2022 16:46:1

[2022-03-02 19:16] BlaineEXE commented on #3197
@michalskrivanek @sandrobonazzola it seems that your desire for this feature is much greater than the priority we are able to allot it. Perhaps you would be able to make a pull request to contribute this to Rook?

[2022-03-02 19:24] travisn commented on #9819
@df-bingo I don't see a crash in those osd logs. What does `kubectl describe pod <osd-pod>` show for the liveness probe? Perhaps the liveness probe is killing the osd? If needed, you could try disabling the osd liveness probe [here](https://github.com/rook/rook/blob/master/deploy/examples/cluster.yaml#L279-L280).

[2022-03-02 19:30] BlaineEXE commented on #9822
Could you show logs from the `rook-ceph-osd-prepare` pod as well? And ideally run the Rook operator with `ROOK_LOG_LEVEL=DEBUG`.

[2022-03-02 21:07] michaelgeorgeattard opened #9824 "Avoiding storage waste when data is already replicated at an application-level, while maintaining high-availability"
We have multiple HA applications that replicate their data across members (ex. Consul, Kafka, ETCD etc.)

As an example, let's take a cluster of 3 ETCD members storing data in a CephFS PVC which in turn has 3 replicas of the data stored in Ceph.

In this case 1GB of actual data would take 1X3X3 = 9GB of disk space.

If we tweak the CephFS storage class to have 1 replica, we would suffer downtime d

[2022-03-02 21:12] travisn commented on #9824
If the application has its own replication, it’s likely preferred for the application to use local storage. The downside is of course you lose portability of the application to other nodes.

Ceph really doesn’t handle replica 1 well. Since the data is spread across all the OSDs, the outage of any OSD would cause the data to become unavailable, so the min recommendation is replica 2 or erasure codi

[2022-03-02 22:01] travisn commented on #8538
@electrical Is this a fair summary?
- CephFS volumes cannot be provisioned when the MDS is running in the local cluster while the mons/osds are in the external cluster
- CephFS volumes can be provisioned if the MDS is in the external cluster along with the mons/osds
- Block and Object store is working as expected from the rook cluster to the external ceph cluster, so the private network appears to

[2022-03-03 01:18] df-bingo commented on #9819
It's true that the liveness probe is killing the osd, but why does this happen? Can I only choose to turn off the liveness probe?

debug 2022-03-02T00:59:42.698+0000 7f5e73198080  0 _get_class not permitted to load lua
debug 2022-03-02T00:59:42.698+0000 7f5e73198080  0 _get_class not permitted to load kvs
debug 2022-03-02T00:59:42.698+0000 7f5e73198080  1 osd.53 64898 warning: got an error loading

[2022-03-03 06:46] mtt0 opened #9825 "CephFS storage class should use named data pool instead of default data pool"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

PVC Pending

**Expected behavior:**

PVC Bound

**How to reproduce it (minimal and precise):**

1. Install rook cluster with named data pool like
[code]

2. Create PVC
[code]

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if ne

[2022-03-03 06:58] mtt0 opened #9826 "CephFS storage class should use named data pool instead of default data pool"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

PVC Pending

**Expected behavior:**

PVC Bound

**How to reproduce it (minimal and precise):**

1. Install rook cluster with named data pool like
[code]

so we got:
<img width="1081" alt="image" src="https://user-images.githubusercontent.com/17849741/156512219-384b6c79-2a54-4413-b82a-65bada376720.png"

[2022-03-03 07:03] #9825 closed

[2022-03-03 07:09] mtt0 commented on #9822
I experience this yesterday and give it up finally, didn't keep log files...

`rook-ceph-osd-prepare` find devices and shows that osdPerDevice is 1, didn't take configuration in `values.yaml`

[2022-03-03 08:29] stephan2012 commented on #9802
That would basically externalize the process of propagating changes to Ceph, but it seems feasible.

Is there any reasonable way to propagate changes online, i.e., without restarts?

Probably. Will test occasionally.

[2022-03-03 10:34] sl1288 commented on #9822
I reset my VM to provide you clean logs.
Settings:
[code]

[rook-ceph-operator.log](https://github.com/rook/rook/files/8177030/rook-ceph-operator.log)
[rook-ceph-osd-prepare.log](https://github.com/rook/rook/files/8177035/rook-ceph-osd-prepare.log)

ceph osd tree
[code]

[2022-03-03 10:52] electrical commented on #8538
Hi @travisn that is a correct summary yeah.
We configured the MDS to run on the external cluster but then don't work. Only when we configure them on the storage cluster it works. but I don't see how I then can have the external cluster connect to them.
Also we have multiple external clusters connecting to the storage cluster so not sure how that can be configured.

[2022-03-03 14:03] sathieu commented on #9826
This is probably related: rook removes the `dataPool`'s `name`:

[code]

[2022-03-03 14:06] spdfnet commented on #9824
This would be better classified as an anti-pattern, not waste.

[2022-03-03 14:23] sl1288 commented on #9822
I was using an empty block device (I guess thats raw mode).
Is there any documentation on what I need to do, to use the OSDsPerDevice feature ?

[2022-03-03 14:39] electrical commented on #8538
To clarify ( in case it got confusing )
we have 2 external clusters ( compute clusters ) and one storage cluster.
The external clusters connect to the storage cluster via the internal network. No firewalling in place.

At the moment we setup the MDS' and all the required cephfs & storage class on the external cluster which doesn't work.
If we setup it up on the storage cluster directly it all work

[2022-03-03 14:42] travisn commented on #9802
The only way for the ceph daemons to pick up changes to the ceph.conf overrides is by restarting the daemon. If you want to avoid the daemon restarts you would need to use the `ceph config set` command from the toolbox as mentioned earlier. The daemons pick up those updates without a restart.

[2022-03-03 14:43] #9806 closed

[2022-03-03 14:46] travisn commented on #9826
@mtt0 The storage class specifies the cephfs data pool, did you change the value [here](https://github.com/rook/rook/blob/master/deploy/examples/csi/cephfs/storageclass.yaml#L17)?

[2022-03-03 15:28] spdfnet opened #9831 "Rook 1.8.6: creating OSDs with LVM?"
I see that now devices are used 'raw' and the infamous atari partition IDs are to stay.
But I don't seem to find a way to create OSDs with LVM, to keep existing production clusters sane.

~~I've also seen multiple partitions being created on some devices, similar to what happens when you want to keep RocksDB on the first sectors of a disk. But that just speculation on my part.~~
(lsblk doesn't lik

[2022-03-03 15:48] BlaineEXE commented on #9822
Rook may be choosing raw mode because it's a block device. We should make sure raw mode isn't used if a user specifies osds-per-device on any devices.

[2022-03-03 15:49] spdfnet opened #9832 "Define plugin for erasure code pools"
Erasure code plugins (and their settings) can not be set while creating CephFS data pools, getting the suboptimal defaults.
~~This is a problem with the CSI side of things if pools are created manually.~~

[2022-03-03 15:58] michaelgeorgeattard commented on #9824
Given the example above with 3 ETCD pods, each bound to a different `PVC` backed using a `CephFilesystem` with a replication factor of 1.

Would it be possible to have that replica for each PVC on a different Ceph host? The host could be where the ETCD pod is running or otherwise.

Not sure if the above is an anti-pattern, but it might need rephrasing due to my limited knowledge on Rook and Ceph i

[2022-03-03 16:09] spdfnet commented on #9824
What I meant was, given the ETCD example, each member of the cluster expects its storage to be isolated.
If there is a Ceph issue, the whole ETCD cluster would be down.
That is more than just a waste of space, it is also a way to compromise the distributed nature of ETCD.

[2022-03-03 16:23] michaelgeorgeattard commented on #9824
I found https://github.com/rook/rook/issues/2959, please close this issue if it doesn't add any value.

[2022-03-03 16:25] michaelgeorgeattard commented on #9824
Partial Ceph failures (1 host is down) wouldn't have an impact on ETCD if we are using a replication factor of 3 for example no?

[2022-03-03 16:39] spdfnet commented on #9824
There are multiple scenarios where the primary OSD of a Placement Group would have a byzantine failure, and block writes to that PG.
For linear/atomic systems like ETCD, Postgres, etc. it means loss of service, even if 99% of data is active+clean in Ceph.

[2022-03-03 17:28] travisn commented on #9832
@spdfnet What is your filesystem CR? Are you following [this example](https://github.com/rook/rook/blob/master/deploy/examples/filesystem-ec.yaml#L25-L28) to create the filesystem with EC pools? More details are needed to know what is your issue.

[2022-03-03 17:31] travisn commented on #9831
The atari partition IDs are not expected on the latest rook and ceph releases. If you see some atari partitions, please do provide more details so we can troubleshoot it.

Again, more details will help understand the issue so we can get you past this.

[2022-03-03 17:37] travisn commented on #8538
If you setup the cephfs in the storage cluster, then you should be able to do the following in the external cluster:
- Start rook in [external mode](https://rook.github.io/docs/rook/v1.8/ceph-cluster-crd.html#external-cluster)
- Create the cephfs storage class, and set the [pool name](https://github.com/rook/rook/blob/master/deploy/examples/csi/cephfs/storageclass.yaml#L17) as needed for the cephf

[2022-03-03 17:42] travisn commented on #9819
The liveness probe thresholds can actually be customized, there is an example in the docs [here](https://rook.github.io/docs/rook/v1.8/ceph-cluster-crd.html#health-settings). For example:
[code]

This seems unrelated, not sure it's an issue.

[2022-03-03 17:55] computerquip-work commented on #2746
Should I start a new issue up? This still seems to be a problem, regardless of volume attachment being present or not.

[2022-03-03 18:02] travisn commented on #9824
Even if you can configure the storage to run on particular nodes by using the deviceClass or other properties, Ceph still requires at least replica 2. By nature, Ceph is a distributed storage system and does not provide local node affinity. What are you trying to gain with Ceph instead of a local volume in this case?

[2022-03-03 20:05] rexagod commented on #9711
/assign

[2022-03-03 20:21] rexagod commented on #9711
Hey @travisn, could you please elaborate your comment with an example? I didn't quite get the part where you talk about deserializing a complex type.

[2022-03-03 21:20] travisn commented on #9711
@rexagod Try searching rook for examples of the `yaml.Unmarshal` method. You can basically take a string and deserialize the required type. In this case, we want to deserialize the `v1.NodeAffinity` type.

[2022-03-03 21:33] BlaineEXE commented on #9831
There is nothing Rook can do to prevent the linux kernel from recognizing certain on-disk formats as atari partitions. This is because the linux kernel's implementation of atari support is more loose than the atari spec. However, Ceph has been patched and should not be negatively affected by the atari partitions any more.

Unless you are seeing the Rook create more disks than it should, or if ther

[2022-03-03 21:39] BlaineEXE commented on #9819
It may be that your nodes are a little bit short on resources. An OSD could be getting starved of CPU cycles by other processes, which could result in the liveness probe not returning quickly. Setting pod limits and requests might help.

[2022-03-03 21:41] michaelgeorgeattard commented on #9824
The ability to use CSI snapshots for example, however you might raise the point that snapshots might not be the best way to backup a workload that is replicated at an application-level.

Another advantage is the ability to schedule the workload pod on different nodes if needed.

Finally we have the ability to Ceph mirroring to replicate data outside of the cluster for DRP, we would need to have a

[2022-03-03 23:03] libmonsoon-dev opened #9835 "CephObjectRealm's endpoint field validation issues"
After updating rook to v1.8.5, when creating a CephObjectRealm, I get an error:

`CephObjectRealm.ceph.rook.io "object-store" is invalid: spec.pull.endpoint: Invalid value: "": spec.pull.endpoint in body should match '^https*://'`

CephObjectRealm is created with the following code:
[code]

This worked in earlier versions, but stopped after an update.
I think it's a matter of serialization of stru

[2022-03-04 01:10] travisn commented on #9819
Good point, you might also need to set resource limits on the OSD. See [this topic](https://rook.github.io/docs/rook/v1.8/ceph-cluster-crd.html#cluster-wide-resources-configuration-settings).

[2022-03-04 01:42] travisn commented on #9835
Looks like we need to add the following to the [pullSpec.Endpoint](https://github.com/rook/rook/blob/release-1.8/pkg/apis/ceph.rook.io/v1/types.go#L1553):
[code]
@alimaredia Could you take a look? thanks

[2022-03-04 01:49] travisn commented on #9824
If you need all that functionality, then Ceph is certainly going to be the right platform, but it really does require its own replication, which means duplicate storage for the applications that have their own replication.

Applications that have their own replication also typically want to have the higher performance of a local disk, which Ceph will not be able to keep up with since there is a ne

[2022-03-04 01:54] mtt0 commented on #9826
https://github.com/rook/rook/blob/v1.8.6/Documentation/ceph-filesystem.md#create-the-filesystem
https://github.com/rook/rook/blob/v1.8.6/Documentation/ceph-filesystem-crd.md#pools

Rook v1.8.6 docs: dataPool's name is **optional, and highly recommended**

[2022-03-04 02:34] df-bingo commented on #9819
thank you all!I will try again.

[2022-03-04 05:02] libmonsoon-dev commented on #9835
We already have +optional directive on [CephObjectRealm.Spec](https://github.com/rook/rook/blob/release-1.8/pkg/apis/ceph.rook.io/v1/types.go#L1531), but it doesn't seem to work

[2022-03-04 05:57] libmonsoon-dev commented on #9835
By the way, I already tried to generate manifests in the fork with an optional endpoint field, it did not work, the error remained the same

[2022-03-04 06:24] wolf27w opened #9839 "ceph-object-controller-detect-version has been restarted without error"
ceph version 16.2.7
The service is always restarted. It will be automatically deleted after successful creation. There is no error. The event indicates that the creation is successful

[2022-03-04 08:26] spdfnet commented on #9832
Actually, this affect any kind of pool created via Rook.

[2022-03-04 08:28] spdfnet commented on #9831
If that was not clear enough, Rook v1.8.5 creates new OSDs with LVM.
1.8.6 has a different behaviour that cannot be overridden.

[2022-03-04 08:41] yelnylee commented on #6155
in rook 1.8.6 ,need set the path to "kubeletDirPath" properties

[2022-03-04 09:47] electrical commented on #8538
We haven't tried it in this specific way. Will give this a try and report back

[2022-03-04 10:31] sathieu commented on #9826
@mtt0 I have specified the name, but it was removed (probably from the controller). No idea why ..

[2022-03-04 10:54] sathieu commented on #9826
I've upgraded to 1.8.6 and problem is gone for me (so this is not the same problem). Sorry for the noise.

[2022-03-04 11:43] mtt0 opened #9840 "CephFS: allowMultipleFilesystems seems not work?"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

As [Ceph: multifs](https://docs.ceph.com/en/pacific/cephfs/multifs/) says that:

[code]

But rook ceph seems not. I only got one:

<img width="887" alt="image" src="https://user-images.githubusercontent.com/17849741/156753065-3fd8ce50-9e65-4d18-9491-bb0c4a79927f.png">

**Expected behavior:**

Multiple

[2022-03-04 11:44] mtt0 commented on #9826
Never mind~

[2022-03-04 14:36] travisn commented on #9826
@mtt0 If the name is being removed from the CR, you must not have the latest CRD schema. Have you applied the latest v1.8.6 crds.yaml? Or if you install with helm, have you upgraded to the latest operator helm chart?

[2022-03-04 15:19] travisn commented on #9840
The operator log likely shows an error when creating the second filesystem. I believe the EC pool cannot be the first data pool. Using an EC pool for the filesystem requires a replica pool for both the metadata pool and the first data pool. So you could also try just adding the EC pool to your first filesystem, then specify the EC pool in your storage class. See [this topic](https://rook.github.io

[2022-03-04 15:22] travisn commented on #9826
Ah, I see this is a helm chart issue as fixed by #9838

[2022-03-04 15:33] travisn commented on #9832
@spdfnet You can set any pool property with the [parameters](https://github.com/rook/rook/blob/master/deploy/examples/pool-ec.yaml#L19-L22) on the pool. The example pool just shows compression as an example, but you can update any setting such as the compression algorithm. Is that what you're looking for?

[2022-03-04 16:57] travisn commented on #9831
@spdfnet Can you clarify the requirement to create OSDs with LVM? Our assumption is that it is not required in most scenarios.

[2022-03-04 16:59] travisn commented on #9839
If there is no error, what is the issue you are reporting? If you have a question, starting a [discussion](https://github.com/rook/rook/discussions/new) is preferred. If you have an issue, please provide the details that are in the issue template so we can understand the issue.

[2022-03-04 16:59] #9839 closed

[2022-03-04 17:02] travisn commented on #9835
@libmonsoon-dev As a workaround, can you just remove the validation [here](https://github.com/rook/rook/blob/master/pkg/apis/ceph.rook.io/v1/types.go#L1558) and generate the crd again? Or just remove the url validation from the crds.yaml you create.

[2022-03-05 03:03] cdy07341 opened #9843 "Startup probe failed: admin_socket: exception getting command descriptions: [Errno 13] Permission denied"
**Is this a bug report or feature request?**

* Bug Report
* Feature Request

**Bug Report**
[code]

**Expected behavior:**

**Deviation from expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, us

[2022-03-05 07:58] Alt-Shivam opened #9844 "Ceph Rook crashes after 2 min of Healthy state"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Kubernetes cluster as well as ubuntu machine crashes after 2 min of Ceph-Rook healthy run.

**Expected behavior:**
It should run continuously without any crashes,
as it runs in the beginning for 2 min.

**How to reproduce it (minimal and precise):**
Just create a 4 node kind cluster with 1 master and 3

[2022-03-05 08:05] Alt-Shivam commented on #9844
Also,
Here are some Screen Shots of Ubuntu machine
after rook-ceph crashes.
![Screenshot from 2022-03-05 13-34-01](https://user-images.githubusercontent.com/81817735/156874560-93a61caf-4f4c-4168-8c4b-f82475e15c69.png)
![Screenshot from 2022-03-05 13-33-46](https://user-images.githubusercontent.com/81817735/156874566-c9b0b832-7e9b-41b6-8965-ddb3b293a528.png)
![Screenshot from 2022-03-05 13-33-32](h

[2022-03-05 20:02] #9498 closed

[2022-03-05 22:54] steepestascent opened #9845 "Ceph Cluster errors after deploying CephObjectStore"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Deploying objectstore with `kubectl create -f object.yaml` fails. Prior to deploying the objectstore the mon are in quorum. After deploying the objectstore mon-a and mon-b continue to restart. Looks like from the operator logs the metadata pools are not created.

**Expected behavior:**
Following the qu

[2022-03-07 08:31] wolf27w commented on #9839
This error does not affect the use. It is built according to the official website and can be used normally after it is built. It only appears later. This is like the scheduled task check version. The pod log error is: unable to retrieve container logs for C ontainerd://b2761d674608f8445ae888f1c646e5b5304f22e5e4b56388e09ed6a96c7e37bc

[2022-03-07 08:35] wolf27w commented on #9839
rook version 1.8.2
ceph version 16.2.7

[2022-03-07 09:35] willzhang opened #9846 "Startup probe failed: no valid command found; 10 closest matches"
**Environment**:
* rook version

[code]

* OS (e.g. from /etc/os-release):
[code]
* Kernel (e.g. `uname -a`):
[code]

* Kubernetes version (use `kubectl version`):
[code]

## what happend

one osd pod is down

[code]

the osd logs
[code]
i delete this  `startupProbe` section and pod running success

[code]

[2022-03-07 09:45] #9846 closed

[2022-03-07 10:14] parth-gr commented on #9846
@willzhang can I what was the issue with the startup probes,
I see another issue opened with the same problem https://github.com/rook/rook/issues/9843
Thanks!

[2022-03-07 13:40] mtt0 commented on #9840
@travisn Thank you~, my bad.

Follow your suggestion, it work properly. So I don't need multi filesystem at all.

<img width="1099" alt="image" src="https://user-images.githubusercontent.com/17849741/157043416-a2f6f06c-0a17-4821-94dc-39894baf959a.png">

`kubectl describe pvc -n test-ceph clod-test-pvc-cf`:

[code]

[2022-03-07 13:40] #9840 closed

[2022-03-07 14:09] #9588 closed

[2022-03-07 16:20] aaronber0614 commented on #9283
We are running Rook 1.6.2 and encountered failing liveness probes after a reboot. During this time, we also noticed NTP synch issues on nodes.  After resolving NTP issues, the problem went away. Could the time skew between nodes cause OSD startup delays?

[2022-03-07 17:23] dmolik commented on #9843
I'm also having this issue, I assume there's an issue with filesystem permissions someplace

[2022-03-07 17:30] dmolik commented on #9843
Is it possible the startup probe isn't being executed as the ceph user?

[2022-03-07 17:31] dmolik commented on #9843
if I exec into the container and run id, I'm the rook user

[2022-03-07 17:39] #9822 closed

[2022-03-07 17:44] dmolik commented on #9843
this should work if we run as the ceph (167) user, right? so set it under the securitycontext, and then drop the `sh -c`?

[2022-03-07 17:55] travisn commented on #9845
The key here is that the pools are not being created. This is surprising since the mons are in quorum, mgr is running, and multiple OSDs are running. I would only expect the pools not to be created if the cluster had not progressed that far. A few questions:
- Anything interesting in the log for the mon that is out of quorum?
- Are you able to create a different pool, such as a CephBlockPool in po

[2022-03-07 18:14] Alt-Shivam commented on #9844
Thanks @travisn for responding.
I am using a VM for this.

[2022-03-07 18:16] Alt-Shivam commented on #9844
Is there any way to change loopback device selection in Rook-Ceph ?
so that It cannot conflict with VM's operating system mount-points.

[2022-03-07 18:19] dmolik commented on #9843
this is the patch I have going, haven't tested yet:
[code]

[2022-03-07 18:24] travisn commented on #9844
There are several ways to select which devices Rook should consume, such as with the `deviceFilter`. See the documentation [here](https://rook.github.io/docs/rook/v1.8/ceph-cluster-crd.html#storage-selection-settings).

[2022-03-07 18:26] Alt-Shivam commented on #9844
Got it,
Thanks @travisn

[2022-03-07 18:29] #9844 closed

[2022-03-07 20:39] steepestascent commented on #9845
**Anything interesting in the log for the mon that is out of quorum?**
The liveness probe fails for mon.a and mon.b. That starts issues with quorum.  mon.c liveness probe succeeds. I did disable the liveness probes in the values.yaml but it didn't fix the issues.

**Are you able to create a different pool, such as a CephBlockPool in pool.yaml?**
I tried this too but it also failed. I also tried ru

[2022-03-07 21:33] travisn commented on #9845
Something sounds off with the operator connections to the cluster, perhaps network issues? Though it's still surprising that rook was able to get through creation of all the daemons. Is it an option to try [tearing down](https://rook.github.io/docs/rook/v1.8/ceph-teardown.html) the cluster and starting fresh?

[2022-03-07 21:36] travisn commented on #9283
Time skew has many unexpected side effects, it wouldn't surprise me if tit were related. If there is ever time skew the first recommendation is to fix it and see if other issues are resolved.

[2022-03-07 22:01] steepestascent commented on #9845
I did try a fresh install before submitting the bug report. It sounds like it may be something with my cluster setup and not rook. I'll do some more debugging. Thanks for your feedback @travisn

[2022-03-07 22:37] BlaineEXE commented on #9845
I wonder if the addition of new pods is starting to starve the mons of resources. If this is a VM with not very many resources, mon quorum can be unstable.

[2022-03-07 22:46] BlaineEXE commented on #9843
I'm a bit confused here. Are you seeing startup probe errors on canary pods?

[2022-03-07 22:56] BlaineEXE commented on #9839
@wolf27w if you are experiencing an issue, it is not clear what that is from the description so far. If you wish to report a rook bug, please use "New Issue" and choose the "Bug Report" option. Fill out all fields so we can understand how to help.

[2022-03-07 23:05] BlaineEXE commented on #9831
And indeed LVM is not preferred since it adds more failure modes to running Ceph OSDs. Raw mode is preferred when possible to ensure OSDs are maximally stable.

[2022-03-07 23:07] BlaineEXE commented on #9832
@spdfnet could you be more clear as to which scenario you are attempting and what the failure mode is?

[2022-03-07 23:09] steepestascent commented on #9845
Good to know. I think the resources were adequate. The nodes were on baremetal. However, the nodes are some PC builds I piece together. I did end up deploying minio to get the objectstore functionality in the cluster for some code i'm writing against s3. I will do some more debugging to see if there is a resource issue for the mon pods. thx @BlaineEXE

[2022-03-08 05:09] willzhang opened #9852 "Startup probe failed: no valid command found; 10 closest matches"
**Environment**:
* rook version

[code]

* OS (e.g. from /etc/os-release):
[code]
* Kernel (e.g. `uname -a`):
[code]

* Kubernetes version (use `kubectl version`):
[code]

## what happend

one osd pod is down

[code]

the osd pod  describe
[code]
osd pod logs

[code]

[2022-03-08 05:11] willzhang commented on #9846
my problems not resolve, i create a new issue
https://github.com/rook/rook/issues/9852

[2022-03-08 05:17] willzhang commented on #9852
[code]

[2022-03-08 05:24] willzhang commented on #9852
mon.b pod logs
[code]

[2022-03-08 07:51] wolf27w commented on #9839
My problem is that the CEPH object controller detect version service has been restarted, but it does not affect the use. I want to know whether the restart is normal

[2022-03-08 08:40] xiaokangshuai opened #9853 "Prometheus Monitoring enalbed failed"
kubernetes 1.20.10
os:centos7.8
I follow the documentation to deploy prometheus monitoring （https://rook.io/docs/rook/v1.6/ceph-monitoring.html）
When I execute the deployment file, I find that the pod is always in the state of being created and deleted

![image](https://user-images.githubusercontent.com/21293110/157199564-fe491f7a-e93a-4ecb-b9ce-2a2ac4fcaaf5.png)

[2022-03-08 13:53] TomHellier opened #9855 "Cannot set resource request/limit on rook ceph tools pod for helm"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
It should be possible to set the resource request/limit on the rook-ceph tools pod

**What is use case behind this feature:**
letting kubernetes know how much resources this container requires, will help with the binpacking problem.

**Environment**:

[2022-03-08 14:34] BlaineEXE opened #9857 "changing CephFilesystem activeStandby `true` to `false` has no effect"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When changing CephFIlesystem ``spec.metadataServer.activeStandby` from `true` to `false` (with `activeCount: 1`), Rook does not scale down the number of deployments.

**Expected behavior:**

**How to reproduce it (minimal and precise):**
1. Install CephFilesystem with `filesystem-test.yaml` (`activeCou

[2022-03-08 14:42] BlaineEXE commented on #9857
Also similarly, when updating `activeCount` from `2` to `1` (downscaling), no MDSes are removed. Rook operator also seems to ignore MDS C and D in this case on reconcile. Even if Rook needs to keep the old MDSes in place to preserve metadata, Rook should (1) throw an error in the downscaling cases, and (2) not forget that higher-ID-ed MDSes exist

Relevant operator logs
[code]

[2022-03-08 14:49] perezjasonr commented on #8038
I haven't been able to work on the PR due to my work obligations but i think this should be opened as a valid feature request still.

[2022-03-08 17:57] travisn commented on #9852
To summarize, the osd pod is failing with the following details:
[code]

It is curious that only a single OSD pod would be affected. All the OSDs have the same pod specs for the startup probe, perhaps there is sometimes an issue with the ceph admin socket not initializing properly.

As a workaround, please try disabling the startup probe in the CephCluster CR:
[code]

[2022-03-08 18:39] travisn opened #9858 "Enable resource requests/limits on all the rook and ceph pods by default in the helm chart by default"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
We should consider applying the resources requests/limits for all the rook and ceph components in the operator and cluster helm charts. The pods would include:
- CSI driver provisioners and volume plugins
- CephCluster: mons, mgr, osds, osd prepare, crash collector, log collector, cleanup
- CephObjectSt

[2022-03-08 20:30] BlaineEXE opened #9860 "Keyring secrets no longer deleted with deployments"
**Is this a bug report or feature request?**
* Bug Report

At one time, keyring secrets `<deployment-name>-keyring` were created with an owner reference belonging to the deployment itself. This made deletion of keyrings implicit with deletion of a deployment. At some point, this was changed, and the keyring secrets are now owned by the resource itself (e.g., CephCluster, CephFilesystem, etc.). As

[2022-03-08 20:43] travisn commented on #9860
Just to be clear, which deployments have keyrings associated with them? mds? any others? I don't recall offhand.

[2022-03-09 04:23] subhamkrai commented on #9462
moved to 1.9

[2022-03-09 06:21] prbakhsh commented on #6067
I had Same Error. My issue solved just by install https://github.com/kubernetes-csi/external-snapshotter/tree/master/client/config/crd
Note: kustomization.yaml doesn't need install.

[2022-03-09 07:00] xiaokangshuai commented on #9853
rook version is 1.6.1
prometheus logs
![image](https://user-images.githubusercontent.com/21293110/157389155-0571a241-8596-4ec9-b5e1-0fb006359fb8.png)

[2022-03-09 07:04] xiaokangshuai commented on #9853
describe pod
![Uploading image.png…]()

[2022-03-09 07:07] xiaokangshuai commented on #9853
describe pod message
![image](https://user-images.githubusercontent.com/21293110/157390109-0b6e0710-c290-4d7e-95c2-64d9a2164e75.png)

[2022-03-09 07:35] df-bingo commented on #9819
After adjusting according to your method, there is no problem for several days, but after the server restarts, the same situation occurs again, and several osds have crashloopbackoff.

kubectl -n rook-ceph get pod|grep osd|grep -i crash

[code]

kubectl -n rook-ceph edit cephclusters.ceph.rook.io

[code]

kubectl -n rook-ceph describe pod rook-ceph-osd-63-78dbf4b68-b2gx7
[rook-ceph-osd-63-78dbf4b6

[2022-03-09 08:03] #9819 closed

[2022-03-09 11:13] willzhang commented on #9852
i delete this osd and add it again, and now it seems everything ok
[code]

[2022-03-09 14:16] subhamkrai opened #9866 "CI: add pylint in CI"
Add python linter in CI to maintain and check syntax errors python external script.

[2022-03-09 16:08] TomHellier opened #9867 "Setting CSI plugin/provisioner resources does not work properly"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
It should be possible to set the resource limits/requests using the method outlined in [the helm charts here](https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph/values.yaml#L109-L256)

**Expected behavior:**
Uncommenting these values provides resource limits/requests for these values

I'v

[2022-03-09 17:03] electrical commented on #8538
@travisn @Madhu-1 it works! We've created the CephFilesystem on the storage cluster and then the StorageClass on the compute clusters for 2 different environments.
Everything now works as expected.

I think it would be good to clarify this in the documentation when it comes to using external clusters for cephfs.

Thank you all so much for your assistance!

[2022-03-09 17:16] BlaineEXE commented on #9860
All deployments, with a special exception for mons which all share a single keyring.

During any reconcile, Rook uses `ceph auth get-or-create` to get (or create) the most up-to-date key for a daemon. It then puts the key into a secret with the name `<deployment-name>-keyring`. That secret is mounted into the deployment for the daemon inside to read in order to auth with the Ceph cluster.

[2022-03-09 17:32] #9855 closed

[2022-03-09 17:40] #9867 closed

[2022-03-09 20:30] BlaineEXE commented on #9797
Closed by #9859

[2022-03-09 20:30] #9797 closed

[2022-03-09 22:51] travisn commented on #9852
Good to see you were able to get past it. In the future if we can get a repro, we would like to try increasing the timeouts to see if it makes a difference. Following are the defaults, for example the `timeoutSeconds` perhaps needs to be increased to `2` in case the node is slow:
[code]

Although the error for not even recognizing the ceph command just makes it seem that the ceph admin socket is b

[2022-03-10 01:54] aBradleyUno commented on #9843
👀 I'm following a tutorial and I found myself with this same message...

[2022-03-10 02:02] xiaokangshuai commented on #9853
I installed the recommended rook version;prometheus-operator:v0.40

[2022-03-10 07:01] olivejing opened #9880 "Does rook support directly upgrading from 1.1 to 1.5, 1.1 to 1.6 or others?"
From rook documents, it supports:
[Upgrade 1.5 to 1.6](https://rook.io/docs/rook/v1.6/ceph-upgrade.html)
[Upgrade 1.4 to 1.5](https://rook.io/docs/rook/v1.5/ceph-upgrade.html)
[Upgrade 1.3 to 1.4](https://rook.io/docs/rook/v1.4/ceph-upgrade.html)
[Upgrade 1.2 to 1.3](https://rook.io/docs/rook/v1.3/ceph-upgrade.html)
[Upgrade 1.1 to 1.2](https://rook.io/docs/rook/v1.2/ceph-upgrade.html)
[Upgrade 1.

[2022-03-10 09:55] zhucan opened #9883 "will add 'additionalPrinterColumns' for cephblockpool like "status"?"

[2022-03-10 09:56] zhucan commented on #9883
![image](https://user-images.githubusercontent.com/13997135/157637299-7dec6196-78f1-4124-bae7-3bdb9ce4f80c.png)

[2022-03-10 13:44] osaffer opened #9885 "bluefs _allocate unable to allocate 0x90000 on bdev 1"
ceph-version: 16.2.6-0
rook-version: v1.7.4

Hi,

One nice morning that all of my osd pod were crashed, except one by node.
When I check OSD log I can see :
ebug     -7> 2022-03-10T09:59:05.158+0000 7ff21a9db080  4 rocksdb: EVENT_LOG_v1 {"time_micros": 1646906345165107, "job": 1, "event": "recovery_started", "log_files": [17870]}
debug     -6> 2022-03-10T09:59:05.158+0000 7ff21a9db080  4 rocksdb:

[2022-03-10 14:21] leseb commented on #9324
It's not, I just need a reply on https://github.com/rook/rook/issues/9324#issuecomment-997828321. So from my perspective, it is the expected behavior since a pod is running.

[2022-03-10 14:29] parth-gr commented on #9880
Probably you can only do a sequential jump of 1.

[2022-03-10 14:41] leseb commented on #9860
The only thing I remember is that we ended up in some sort of a deadlock. Isn't that related to one of the things in https://github.com/rook/rook/issues/4089?

[2022-03-10 14:51] parth-gr commented on #9843
Do everyone see startup probe issue with canary pods,
The permission might look like a permission issue, have you tried restarting the pods which are in this state,
I hope it might work, otherwise, it might be something wrong with the keyring or maybe in ceph config.

[2022-03-10 15:01] parth-gr commented on #9858
Just a thought, Can we have something centralized way for all the requests and limits, which we can go and apply to every pod.

Like a resource class, we were implementing in https://github.com/rook/rook/issues/8752#issuecomment-925857505?

[2022-03-10 15:04] parth-gr commented on #9782
Can you share the operator logs and the configuration you used
I see somthing like PVC not able to bound, maybe the case of disk not permitting it to do,

Also please share the details of other pods.

[2022-03-10 15:05] parth-gr commented on #9784
Do we just need to add the script scenario you mentioned above to the CI?

[2022-03-10 15:06] parth-gr commented on #8068
@BlaineEXE any update, can we please have a discussion regarding this?

[2022-03-10 15:10] subhamkrai commented on #9858
how we can customize different CRS from one place? and we don't want to same resources for all pods as their requirement is not the same I guess.

[2022-03-10 15:56] leseb commented on #9784
We might need to adapt some thinks with the runner's env (nic name) and this might not work since we use the Docker driver and I suspect @BlaineEXE was testing on a minikuke VM.

[2022-03-10 17:23] nyarly commented on #9324
Does the crash-collector run on any node with any daemons? Does that include CSI plugins?

I don't have representative operator logs because I've had to disable the crash-collector because in GCP it impedes cluster upgrades. I appreciate @onedr0p 's contribution here, but I think our situations are a little different. Since this is GKE, I can assure your, there are no Rook pods running on control

[2022-03-10 17:23] travisn commented on #9885
Yes, that command in the toolbox should work. Another way to set it is in the [ceph.conf overrides](https://rook.github.io/docs/rook/v1.8/ceph-advanced-configuration.html#custom-cephconf-settings).

[2022-03-10 17:28] travisn commented on #9883
Can you be more specific? If you look at the status of the cephblockpool CR (`kubectl -n rook-ceph get cephblockpool -o yaml`), what fields do you see that would be useful to expose in the additional printer columns?

[2022-03-10 17:30] osaffer commented on #9885
I have added disk, I thought rebalanced could help, but no

Many of the OSD are down.

Do you have any idea ?

ceph health detail
HEALTH_ERR 1 filesystem is degraded; 1 MDSs report slow metadata IOs; mons aa,z are low on available space; 2/314120 objects unfound (0.001%); noup,nodown flag(s) set; 8 osds down; 5 nearfull osd(s); 1 scrub errors; Reduced data availability: 460 pgs inactive, 51 pgs do

[2022-03-10 17:32] osaffer commented on #9885
debug     -9> 2022-03-10T09:59:05.158+0000 7ff21a9db080  4 rocksdb: [version_set.cc:4568] Recovered from manifest file:db/MANIFEST-013853 succeeded,manifest_file_number is 13853, next_file_number is 17873, last_sequence is 1730541083, log_number is 17870,prev_log_number is 0,max_column_family is 0,min_log_number_to_keep is 0

debug     -8> 2022-03-10T09:59:05.158+0000 7ff21a9db080  4 rocksdb: [ver

[2022-03-10 17:35] travisn commented on #9843
As discussed separately, the startup probe needs to be removed from the mon canary pods.

[2022-03-10 18:15] travisn commented on #9858
All the daemons have different recommended requests/limits, so I don't think we can pull from a common template or setting. But the helm chart can hide all the complexities by:
1. Default settings similar to the [recommended values](https://rook.github.io/docs/rook/v1.8/ceph-cluster-crd.html#cluster-wide-resources-configuration-settings). For mons and OSDs, though we may want to double the min to

[2022-03-10 18:17] travisn commented on #9568
Work is in progress with #9837 that will allow the prometheus rules to be customizable with a helm post processor. @akalenyu Please take a look to confirm this will be covered.

[2022-03-10 18:46] BlaineEXE commented on #8068
This is on my to-do list for NFS. Has this come up again elsewhere @parth-gr ?

[2022-03-10 19:53] #9843 closed

[2022-03-10 21:56] BlaineEXE commented on #9784
That's correct.

[2022-03-10 22:01] BlaineEXE commented on #9860
It does look related to #4089, but I don't think that's all of it. Elise Gafford updated the secret generation to be two-parted in response to that issue. One for creating the secret and the other to `associate` the secret. Those `associateX` methods seem like they have since been stripped out of Rook.

[2022-03-10 22:10] BlaineEXE commented on #9860
It looks like @leseb your PR https://github.com/rook/rook/pull/5319 removed those `associate` calls. It's not clear to me why though.

[2022-03-10 22:24] AdarshdeepCheema opened #9893 "ReadWriteMany PVC is behaving like ReadWriteOnce"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
PVC share volume is only accessible from the latest pod( pod that is created at last)

**Expected behavior:**
PVC share volume should be accessible from the all the pods

**How to reproduce it (minimal and precise):**
**1 . Create a PVC using rook-cephs storage class**

[code]

**2. now create a pod li

[2022-03-11 02:01] zhucan commented on #9883
Because of  we want to get the status not throught the "-o yaml" or "kubectl describe"

[2022-03-11 06:12] czhfe commented on #9782
**1、Rook Operator manifest**
[code]

[2022-03-11 10:53] leseb commented on #9784
@parth-gr are you asking because you want to work on this?

[2022-03-11 11:50] parth-gr commented on #9784
yup, I can take this next.

[2022-03-11 14:08] cellsbigoO commented on #9843
I have such a problem. After waiting for a long time, started a mon-a. I checked `ceph statu` and displayed `mon is allowing secure global_ ID reclaim`, then I execute `ceph config set mon auth_ allow_ insecure_ global_ id_ reclaim false`

[2022-03-11 14:08] osaffer commented on #9885
Hi,

It has been fixed.
1. Extend disk
2. resize pvresize /dev/sdX
3. pvdisplay -m to find the disk associated
4. lvextend -L +10G /dev/mapper/ceph--eda319c5--cce0--4a33--90d1--9ecf950676f5-osd--data--08884bac--6bac--4ae5--8a28--cdc43de1b85e

When done, put a sleep inside the pod
Edit osd deployment, change command ceph-osd to
command:
- sh
- -c
- sleep 10000
Open session inside osd pod
ceph-blues

[2022-03-11 14:51] travisn commented on #9782
Please also review the [CSI troubleshooting guide](https://rook.github.io/docs/rook/v1.8/ceph-csi-troubleshooting.html) to see if there is any resolution.

[2022-03-11 16:49] #9054 closed

[2022-03-11 16:56] Alt-Shivam commented on #9844
Hey @travisn sir
I am facing an issue with ceph-mon
showing CrashLoopBackOff due to some fssid error
could you please help me out.

[2022-03-11 16:57] Alt-Shivam commented on #9844
Logs

+ export LC_ALL=C
+ LC_ALL=C
+ : 1
+ : /etc/ceph/ceph.mon.keyring
+ : /etc/ceph/ceph.client.admin.keyring
+ : /var/lib/ceph/bootstrap-mds/ceph.keyring
+ : /var/lib/ceph/bootstrap-osd/ceph.keyring
+ : /etc/ceph/ceph.conf
+ [[ ! -e /etc/ceph/ceph.conf.template ]]
++ mon_host_from_k8s_ep ceph ceph-mon-discovery
++ local ns=ceph
++ local ep=ceph-mon-discovery
++ '[' -z ceph ']'
++ '[' -z ceph-mo

[2022-03-11 20:02] #9507 closed

[2022-03-11 20:02] #9505 closed

[2022-03-12 22:30] yuvalman opened #9897 "GetLogCollectorResources doesn't take the right resources for the log collector"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
GetLogCollectorResources should take the resources of log collector instead of crash collector:
https://github.com/rook/rook/blob/master/pkg/apis/ceph.rook.io/v1/resources.go#L93

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or

[2022-03-13 01:08] willzhang commented on #9852
i am sad to say problem not resolved:
[code]
i have config startupprobe to 2,  and i will watch sometime

[code]

[2022-03-13 01:16] willzhang commented on #9705
i have similar problem ,and i do what you do ,but some days later it error again, my issue:https://github.com/rook/rook/issues/9852

[2022-03-13 01:48] willzhang commented on #9852
its logs Rook-Log-Collection:
https://gist.githubusercontent.com/willzhang/e67513c3d8070b99bf1f38601699d3d4/raw/9bd8922c05e095d0e95ac61bbc31a87bda8f2c13/Rook-Log-Collection.log

[2022-03-13 13:21] willzhang commented on #6450
20220313  can it support define nodeport service with dashboard ?

[2022-03-13 20:02] #6183 closed

[2022-03-14 05:03] funkypenguin opened #9899 "DISCOVER_TOLERATIONS is ignored by osd-discover jobs"
* Bug Report

**Deviation from expected behavior:**

OSDs pods are created with tolerations inherited from `cephClusterSpec.placement.osd`, but the "osd-prepare" jobs per-node do not include the same tolerations, and so are un-scheduleable.

**Expected behavior:**

OSD prepare pods inherit the tolerations which are later applied to the OSD pods themselves.

**How to reproduce it (minimal and preci

[2022-03-14 05:41] thotz commented on #9486
After discussing with Rook and ceph devs apparently `region` is not needed as the Storage Class parameter for RGW use case, hence we are planning to remove it from CRDs and documentation

[2022-03-14 05:41] #9486 closed

[2022-03-14 15:51] #9462 closed

[2022-03-14 16:22] #9866 closed

[2022-03-14 16:38] travisn commented on #9899
@funkypenguin Please try the keyword `prepareosd` for the tolerations. We are just missing an example for the tolerations. There are examples of that key under other sections such as labels and annotations.

[2022-03-14 18:04] travisn commented on #9852
@willzhang Did you see a difference since changing the timeout? Or same thing?

[2022-03-14 20:02] #9495 closed

[2022-03-14 20:02] #9422 closed

[2022-03-14 20:10] funkypenguin commented on #9899
Thanks @travisn, I confirm that worked correctly! :)

[2022-03-14 22:29] travisn commented on #9082
Expected to be customizable after #9837.

[2022-03-14 22:56] rexagod opened #9909 "Empty IP address in External Object Store should fail"
[code]
***
Is this bit weird @leseb, empty IP address works but `ExternalRgwEndpoints` is nil. Should we handle empty IP address as well(may be different PR)

_Originally posted by @thotz in https://github.com/rook/rook/pull/9710#discussion_r821475526_

[2022-03-14 23:00] rexagod commented on #9909
Working on it.

[2022-03-15 01:05] Antiarchitect commented on #5782
Same problem with external ceph cluster 35 TB total.

[2022-03-15 05:18] zerkms commented on #9555
I have not re-verified it recently, but unless it was fixed by accident - it should still be there?

[2022-03-15 05:26] defengnee commented on #9782
I am also facing the mounting issue.

Here is the link of some details. Not sure if I need to provide the same information in this thread. Please advise.

https://stackoverflow.com/questions/71417480/ceph-shared-file-system-mounting-error-permission-denied

Tried the troubleshooting guide tips, but not helpful for this issue.

[2022-03-15 07:35] czhfe commented on #9782
Thanks. I've looked at this piece before, but I didn't find any available help

[2022-03-15 08:05] kutovoy commented on #6654
I had a similar but different error with IndexError (I was trying to install OSD to lvm with pre-existing lv using ceph-ansible, branch for ceph octopus), I fixed it by using OSD drives config like this (example):

lvm_volumes:
  - data: data-lv1
    data_vg: data-vg1
    db: db-lv1
    db_vg: db-vg1
    wal: wal-lv1
    wal_vg: wal-vg1
  - data: data-lv2
    data_vg: data-vg2
    db: db-lv2
    d

[2022-03-15 10:06] stephan2012 commented on #9802
Okay, applying a change to an annotation seems to work well.

@travisn, shall we close this issue or keep it as a feature request?

[2022-03-15 12:19] Madhu-1 commented on #9782
This issue is same as https://github.com/ceph/ceph-csi/issues/970?

[2022-03-15 12:31] Madhu-1 commented on #9893
I dont think there is an issue with the CSI driver here. this could be a problem with the SCC and service accounts. cephcsi nor Rook will do the SELinux labeling/relabeling in the kubernetes.

[2022-03-15 13:00] AdarshdeepCheema commented on #9893
@Madhu-1 we are using the below YAML to create the service account and doing Role-binding to privileges SCC
[code]

[2022-03-15 13:04] AdarshdeepCheema commented on #9893
yes it is there, I verified it
pods do have : openshift.io/scc: privileged

[2022-03-15 13:28] AdarshdeepCheema commented on #9893
[apipodyaml.log](https://github.com/rook/rook/files/8253690/apipodyaml.log)
This is the pod we use in our testing ENV. ( it is different from what I mentioned in the STEPS TO REPRODUCE)
If I create its  2 replicas then only 1 gets the access to PVC

[2022-03-15 13:29] manachyn opened #9911 "Monitoring (mon, osd, status) does not start after stopping"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After reloading operator's CRDs manager and cancelling all orchestrations status monitoring does not start and Ceph status is not updated on the cluster CR

**Expected behavior:**

Ceph status is synchronized with the value in the cluster resource.

**File(s) to submit**:

* Cluster CR (custom resourc

[2022-03-15 13:30] travisn commented on #9802
@stephan2012 I'm inclined to just add a note to the [ceph.conf override docs](https://rook.github.io/docs/rook/v1.8/ceph-advanced-configuration.html#custom-cephconf-settings) about how to use the annotations workaround. Let's keep this open until that's updated.

[2022-03-15 13:49] Madhu-1 commented on #9893
The value for `pod.spec.securityContext.seLinuxOptions` need to be set to same or else random values will get chosen because of that you are seeing the issue in the first pod as the relabeling is done to provide access to the second pod.

[2022-03-15 14:08] travisn commented on #9911
So the issue is that you updated the CephCluster CR, then the operator just cancelled everything and stopped working? In this log snippet, I assume you removed the details about the update on the first line? Normally it is quite verbose for the changes.
[code]

Did restarting the operator pod workaround the issue to get everything working again?

If this repro's consistently for you, it would be h

[2022-03-15 15:18] manachyn commented on #9911
Yes, this problem is reproduced constantly in my environment. Restarting the operator solves the problem.

[https://github.com/rook/rook/blob/v1.8.7/pkg/operator/ceph/cluster/monitoring.go#L40](url)

Looking at the code, it seems to me that the case is not processed if health.internalCtx.Err() != nil: when monitoring was stopped (the context was canceled, but the value of health remained in the ma

[2022-03-15 15:23] travisn commented on #9911
Even though it's cancelled, the monitoring should be restarted by the next reconcile, so the issue seems that the next reconcile was not triggered. @leseb thoughts?

[2022-03-15 15:31] BlaineEXE opened #9912 "nfs: optionally enable new (alpha) NFS Ceph-CSI driver"
**Is this a bug report or feature request?**
* Feature Request

Ceph upstream community is working to add NFS export provisioning to the ceph-csi driver. We would like to enable this driver optionally in Rook (not deployed by default). We would like to have this option for Rook's v1.9 release with notes that the feature is in alpha state.

Tasks involved with this:
- [x] Deploy NFS export provisio

[2022-03-15 15:46] manachyn commented on #9911
Next reconcile is triggered, but it does not reach the monitoring enable point, because the memory entry remains with the old value of cluster.monitoringRoutines[daemon]

[2022-03-15 16:59] akalenyu commented on #9568
The idea is that we give an escape hatch for workloads that are expected to take up the entire PVC by design,
so a critical alert won't pop up for them.

We would then annotate our PVCs to exclude them from being able to trigger the alert in https://github.com/kubevirt/containerized-data-importer.
Is something similar to https://github.com/openshift/cluster-monitoring-operator/pull/1493 not a reas

[2022-03-15 18:07] AdarshdeepCheema commented on #9893
thanks it helped

[2022-03-15 18:07] #9893 closed

[2022-03-15 19:43] #9802 closed

[2022-03-15 22:11] BlaineEXE commented on #9568
@akalenyu did you miss Travis's comment here? https://github.com/rook/rook/issues/9568#issuecomment-1064357345

[2022-03-15 22:21] BlaineEXE commented on #9555
@zerkms please re-verify. I believe this was fixed by #9603

[2022-03-15 22:23] #9025 closed

[2022-03-15 22:27] zerkms commented on #9555
@BlaineEXE right, thanks! Let's put it different way then: I will create a task in an internal bug tracker to re-verify it later when I have spare time for that, and if it's still reproducible on a later version - I will reopen this report. Until then - I'm closing it here.

Thanks again! :-)

[2022-03-15 22:27] #9555 closed

[2022-03-15 22:48] BlaineEXE commented on #5782
This is likely a result of some configuration of the hardware Ceph is being run on. The issue may be caused by slow OSDs, and the cause can be many, many things. I would suggest looking into Ceph issues explaining what may be happening to debug individual clusters.

I would also suggest considering whether you may have CPU, memory, or network bottlenecks on your nodes that make access to OSDs slow

[2022-03-15 23:26] BlaineEXE commented on #6450
Which dashboard? If via the Ceph dashboard, no. If via the kubernetes dashboard, I think that may be possible

[2022-03-16 07:05] stephan2012 commented on #9802
Thank you, @travisn!

[2022-03-16 07:59] Antiarchitect commented on #5782
For me, only rebooting one of the K8s worker nodes (only client for ceph, no ceph entities on it as the cluster is totally external) did the trick.

[2022-03-16 09:51] akalenyu commented on #9568
Sorry I should have been clearer about this; we can't really edit ceph rules from our project, we're looking to handle this just by annotating the objects we are managing (PVCs). That is why the OpenShift monitoring approach worked for us.

[2022-03-16 14:57] Madhu-1 commented on #8783
reopening this one, as its still makes sense to disable this one.

[2022-03-16 15:00] Madhu-1 commented on #9832
what is the exact problem with CSI?

[2022-03-16 15:19] travisn commented on #8783
Is there a particular need to disable the liveness probe? Or just nice to have as an option similar to the [cluster CR liveness probe options](https://github.com/rook/rook/blob/master/deploy/examples/cluster.yaml#L288-L294)?

[2022-03-16 18:39] BlaineEXE commented on #9852
I also see a lot of pod restarts in general in your cluster. This suggests to me that your systems may not have enough CPU to keep up with the ceph daemons running on them.

[code]

[2022-03-16 18:40] BlaineEXE commented on #8783
From a previous discussion, should we disable the liveness probe by default and only enable it if requested?

[2022-03-16 19:23] BlaineEXE commented on #9885
Closing this since it seems resolved.

[2022-03-16 19:23] #9885 closed

[2022-03-16 20:02] #9466 closed

[2022-03-17 01:10] defengnee commented on #9782
No, the volume was never mounted. Not due to the network issue.

[2022-03-17 04:35] zhucan commented on #5821
@travisn I have a question, why the default_osd_memory_target is 4G, but we need to set requests/limits on the OSDs？ And why ceph osd pod memory consumption very high more than 4G?

[2022-03-17 04:35] zhucan commented on #5821
@travisn I have a question, why the default_osd_memory_target is 4G, but we need to set requests/limits on the OSDs？ And why ceph osd pod memory consumption very high more than 4G?

[2022-03-17 07:47] fengjiankui121 opened #9920 "More mons will be deleted during the mon health check"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

During the health check of mon, after a mon is deleted, quorumStatus.MonMap.Mons is not updated synchronously, resulting in len(quorumStatus.MonMap.Mons) unchanged, which leads to the deletion of more mons.

**File(s) to submit**:

[2022-03-17 07:57] fengjiankui121 commented on #9920
quorumStatus, err := client.GetMonQuorumStatus(c.context, c.ClusterInfo)
	.........
        ........
	for _, mon := range quorumStatus.MonMap.Mons {
		inQuorum := monInQuorum(mon, quorumStatus.Quorum)
		// if the mon is in quorum remove it from our check for "existence"
		// else see below condition
		if _, ok := monsNotFound[mon.Name]; ok {
			delete(monsNotFound, mon.Name)
		} else {
			if inQuo

[2022-03-17 07:59] fengjiankui121 commented on #9920
The relevant logs are as follows: After deleting mon c, the current number of mons is 2, and the code still thinks that the number of mons is 3 at that time

2022-03-17 07:23:43.834543 W | op-mon: mon "c" not in source of truth but in quorum, removing
2022-03-17 07:23:43.834579 I | op-mon: ensuring removal of unhealthy monitor c
2022-03-17 07:23:44.457770 I | op-mon: removed monitor c
2022-03-17 0

[2022-03-17 08:02] fengjiankui121 commented on #8989
it is worth fixing the phase

[2022-03-17 08:07] Alt-Shivam commented on #9844
Hey @travisn sir
While trying to deploy ceph, I came across an error with osd creation
and I am using physical disks for osd creation.

LOGS:
+++osd-common-ceph-volume.sh:108:locked(): pvdisplay -ddd -v /dev/xvdb
File descriptor 10 (/var/lib/ceph/tmp/init-osd.lock) leaked on pvdisplay invocation. Parent PID 25891: /bin/bash
  WARNING: Failed to connect to lvmetad. Falling back to device scanning.

[2022-03-17 08:28] MurzNN opened #9921 "rook-ceph-osd-prepare job takes more than 20 minutes to complete `ceph-volume inventory` process on 1Mb disk"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I've got a problem with hanging for more than 20 minutes the `rook-ceph-osd-prepare-xxxx` jobs on all nodes with `ceph-volume inventory` step, here is logs from one of the job:
[code]
So the `ceph-volume inventory --format json /dev/sda1` command executes 22 minutes, while the /dev/sda1 is the simple 1

[2022-03-17 08:33] MurzNN commented on #9921
Here is logs from other node, where it takes more than 2 hours:
[code]

[2022-03-17 08:38] toshipp opened #9922 "AccessDenied: UnknownError happens if creating bucket fails and re-create succeeds"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Any requests to rgw using s3 API fail.

**Expected behavior:**
Requests to rgw using s3 API succeed.

**How to reproduce it (minimal and precise):**

1. Apply an obc to kubernetes

[code]

2. rook fails to create a bucket for obc, but tries it again, then creates it successfully.
3. access to rgw using

[2022-03-17 09:06] czhfe commented on #9782
No, the kubernetes pod is not started yet, and the above exception is thrown when the volume is not mounted. The performance phenomenon looks the same.

![image](https://user-images.githubusercontent.com/19341806/158775041-fa5c1dfc-9afc-4f5a-91b6-9ba1dd90802e.png)
![image](https://user-images.githubusercontent.com/19341806/158775108-ffe4d019-5e2a-4f76-a7bc-7919f45610b7.png)

The problem I mentione

[2022-03-17 09:36] #9673 closed

[2022-03-17 10:20] akalenyu commented on #9568
I am not an admin of a particular cluster, no.
I am working on a [project](https://github.com/kubevirt/containerized-data-importer) which is basically a Kubernetes controller that offers abstraction over PVCs, so the only way for us to silence this for our PVCs (which are expected to take up all space) is by labeling them.

We don't install rook ourselves as part of the project, I noticed this ale

[2022-03-17 10:27] MurzNN opened #9923 "Rook is refusing to use as OSD an empty and zapped disk partition with error "Used by ceph-disk" in prepare job"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I have an empty and unused by other processes partition on disk, do the zap of it (via dd and other ways too), but `rook-ceph-osd-prepare` job refuses to use it as OSD with those log lines:
[code]

The device `/dev/sda4` is not used by any other processes, here is lsblk of it:
[code]
and here is `fdis

[2022-03-17 12:26] MurzNN commented on #9923
I've resolved this issue! The source of this problem was the label 'ceph-osd1` that I have attached to that partition using GParted, when was doing initial partitioning!

I've detected this via those log lines in prepare job:
[code]

So the source of the problem was the `/dev/disk/by-partlabel/ceph-osd1` symlink that exists.

The strange thing is that this label is not shown on lsblk:
[code]

Via

[2022-03-17 12:26] #9923 closed

[2022-03-17 13:06] manachyn opened #9924 "Building from the cross container returns error"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Build fails with an error

[code]
Running as superuser returns another error

[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**
[code]

**File(s) to submit**:

* Build log
[code]

**Environment**:
* OS (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="16.04.7 LTS (Xenial

[2022-03-17 15:05] parth-gr commented on #9591
I don't see much potential in removing the script that we already have, if we remove this we still have to add another script that will make use of python script and it would be complicated in terms that we need to unmarshal the output and all,
So seems like we should keep the upstream with the shell script only.

Anyhow I will update the docs with creating and connecting the external cluster step

[2022-03-17 15:05] travisn commented on #5821
I'm not sure about the `default_osd_memory_target`, the OSD must not respect that strictly like it will respect the `osd_memory_target` that is picked up by the OSD when the resource limits/requests are set.

[2022-03-17 17:05] travisn commented on #9920
@fengjiankui121 What version of rook are you running? If a recent version, i'm not sure how to hit this since every time the `removeMon()` is called, there is a return statement from the method. In other words, only a single mon should be removed in each health check.

Can you give more details on your repro steps? Did you reduce the cluster CR `mon.count` from 3 to 2? Did you wait for the operato

[2022-03-17 17:11] travisn commented on #9922
@toshipp Some basic questions first... Does the `ceph status` show that the cluster is healthy? And you have at least three OSDs on separate nodes?

[2022-03-17 17:45] Alt-Shivam commented on #9844
Thanks for the reply @travisn sir
will definitely try this out \

[2022-03-17 19:58] travisn commented on #9568
Openshift has a [proposal for alert customization](https://github.com/openshift/enhancements/pull/958) that would benefit OCS. Until then if you don't have control of the PrometheusRule CRs created by OCS/Rook, not sure how you can suppress these.

[2022-03-18 00:55] toshipp commented on #9922
When the issue happened, ceph status was HEALTH_WARN because of slow ops.
We deployed 24 osds on different nodes.

[2022-03-18 06:11] aruniiird commented on #9591
Why remove the existing shell script and add another script? Can't we change the existing script to call the python command to run `create-external-cluster-resources.py`. Users won't (or should not be) bothered about what is inside the script, as long as the functionality and the way the script is being called is not changed.

[2022-03-18 06:13] MurzNN commented on #9921
Seems devices was blocked with some Rook Ceph recovery process, because in that time also the zap process hangs for many minutes (and even Ctrl+C wasn't stop it):
[code]
And after ~20 hours of some background processes in Ceph - all becomes to work normally.

[2022-03-18 06:13] #9921 closed

[2022-03-18 06:26] MurzNN opened #9928 "Ceph Rook cluster stops attaching volumes to pods with errors "an operation with the given Volume ID XXXX already exists""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I’ve got a problem that Ceph Rook cluster stops attaching volumes to pods with errors `an operation with the given Volume ID XXXX already exists`, here are pod describe events:

[code]
Here is link to Slack thread about this problem: https://rook-io.slack.com/archives/C46Q5UC05/p1647448585180649

## He

[2022-03-18 06:27] MurzNN commented on #9928
This problem is magically auto-resolved without any special actions, but after ~20 hours of cluster downtime.

[2022-03-18 06:27] #9928 closed

[2022-03-18 06:29] MurzNN commented on #9928
Also the interesting thing that while this problem is active - all `zap` commands and `ceph-volume inventory` was hanging for long time, here is issue about this: https://github.com/rook/rook/issues/9921

[2022-03-18 10:55] manachyn commented on #9924
Helm is installed on my host. The build command on the host is successful.
`make -j4 IMAGES='ceph' build`

The build fails in a cross container.
`build/run make -j4 IMAGES='ceph' build`

Helm is not installed in image
[https://github.com/rook/rook/blob/master/images/cross/Dockerfile](https://github.com/rook/rook/blob/master/images/cross/Dockerfile)

[2022-03-18 11:02] CO-lhageman commented on #9591
So you mean removing the create-external-cluster-resources.py and keeping the .sh? Or porting everything from python to bash?

I use the python script as the shell script is missing a *lot* of functionality (or at least was the last time I checked it).

I agree with aruniiird here, it shouldn't matter to the end user what language the script was written in. I prefer keeping the script in python wh

[2022-03-18 13:25] iluminae commented on #9283
as another voice here, I also ran into this. A couple OSDs (2/6) were stuck crashlooping after the `livenessProbe` failed with invalid command. OSDs were able to start only after disabling both `livenessProbe` and `startupProbe` via the CRD. There is no time shift across cluster, to address the last comment.

Relavent versions:
[code]

[2022-03-18 17:32] aaronber0614 commented on #9283
We just reproduced this today and the cluster did not have NTP sync issues.  It was observed on 2 OSD pods right after rebooting a node which didn't have these 2 pods that went into CrashLoopBackOff and is having "no valid command found".

Relevant versions:
K8s 1.21.2, Rook 1.6.2, Ceph 16.2.5

[2022-03-19 02:27] clcc2019 opened #9933 "osd init error"
![image](https://user-images.githubusercontent.com/46099295/159103287-dd441d05-c1dd-4ca6-832c-06eb0979b81c.png)

[2022-03-20 08:30] anoworl commented on #7206
@agaoglu Thank you! I could do it using your method!

[2022-03-21 01:37] GoZippy commented on #2197
were you able to sort this?

[2022-03-21 13:15] #9883 closed

[2022-03-21 13:53] parth-gr commented on #9591
@aruniiird @CO-lhageman
Hey, So I was proposing to use python script instead  of the shell script in the above issue and stop using shell script,
As you also mentioned shell script lacks features currently.

The main goal for it is to use one script(preferred python) and should contain all the latest features.

So the question is still there for @CO-lhageman how did you use the JSON output from th

[2022-03-21 14:25] CO-lhageman commented on #9591
I'm probably not the "default" user here. We use Terraform to manage our kubernetes deployments and Hashicorp Vault to store secrets. I generate the json and one by one copy over the secrets to vault by hand. On the Terraform side I wrote a Terraform module that dynamically gets the correct secrets from vault and deploys the rook operator and additional resources.
We do not use it in a production

[2022-03-21 17:23] Blorpy opened #9937 "Rook trying to remove pool during reconciliation"
**Is this a bug report or feature request?**

* Bug Report

**Bug Report**

**Expected behavior:**

Rook does not try and remove a pool that appears to be properly setup.

**Deviation from expected behavior:**

Rook tries to remove the pool, but fails because there are images/snapshots. It does this continuously.

**How to reproduce it (minimal and precise):**

Unclear at this time.

Block pool:

[2022-03-21 18:07] Blorpy commented on #9937
Closing since it appears that this was happening since *Something*, unknown what (but likely our fault and not rook) tried to delete the CRD in the past and the deletion timestamp got set. Worked around this by removing the finalizer from the object and recreating it.

[2022-03-21 18:07] #9937 closed

[2022-03-21 18:14] travisn commented on #9937
For future reference, we also have a similar workaround to restore accidentally deleted CRs [here](https://rook.github.io/docs/rook/v1.8/ceph-disaster-recovery.html#restoring-crds-after-deletion).

[2022-03-21 22:59] #9082 closed

[2022-03-21 23:16] travisn commented on #9005
Fixed by updating the latest rules in #9837, to be included in v1.9.

[2022-03-21 23:16] #9005 closed

[2022-03-22 05:25] thotz commented on #9922
Yaa, Rook / adminsOps api `bucket Exist` as not error. IMO it is better to delete the backend bucket via `radosgw-admin` command. Also better to use  `generateBucketName`(prefix) to `bucketName`avoid such errors

[2022-03-22 06:13] brathina-spectro commented on #9826
For anyone else checking about this problem, we ran into this when upgrading from rook-ceph 1.8.0 > 1.18.3

CephFileSystem spec in 1.8.0
[code]
**Filesystem created:**

[rook@rook-ceph-tools-846884d59b-j5zbn /]$ ceph fs ls
name: myfs, metadata pool: myfs-metadata, data pools: [myfs-data0 ]

[2022-03-22 06:26] gongysh2004 opened #9938 "ceph rgw client version 0.12 does not have RemoveUserCap function"
**Is this a bug report or feature request?**
* Bug Report

[{
	"resource": "/Users/yongshenggong/rook/pkg/operator/ceph/object/user/controller.go",
	"owner": "_generated_diagnostic_collection_name_#0",
	"code": {
		"value": "MissingFieldOrMethod",
		"target": {
			"$mid": 1,
			"external": "https://pkg.go.dev/golang.org/x/tools/internal/typesinternal?utm_source%3Dgopls#MissingFieldOrMethod",
			"p

[2022-03-22 06:51] gongysh2004 commented on #9938
please have a look at my pull request https://github.com/rook/rook/pull/9939, thanks.

[2022-03-22 20:02] #9532 closed

[2022-03-22 20:02] #9121 closed

[2022-03-23 07:04] thotz commented on #9938
@gongysh2004 : I can see https://pkg.go.dev/github.com/ceph/go-ceph not listing caps API in v0.12 but this was added in https://github.com/ceph/go-ceph/blob/v0.12.0/rgw/admin/caps.go. The files had a `ceph_preview` build tag which was removed in a later release, this might be related to that. But irrespective of this issue it is always better to use the latest go-ceph API versions. So please corre

[2022-03-23 10:12] parth-gr commented on #9711
@rexagod okay, you can take this up :)
Thanks in advance for contributing to Rook!

[2022-03-23 10:18] cchriso commented on #2047
👀

[2022-03-23 17:52] BlaineEXE commented on #2197
If you just want to change the threshold, this stackoverflow has info: https://stackoverflow.com/questions/63602827/rookio-ceph-cluster-mon-c-is-low-on-available-space-message

I suspect that compacting mon data will help for a short time, but eventually it will likely grow again.

The ceph docs recommend 60GB of disk space per mon. (Ref: https://docs.ceph.com/en/latest/start/hardware-recommendati

[2022-03-23 20:02] #9165 closed

[2022-03-23 21:07] GeroL commented on #2197
Thank you that helped a lot. I set the threshold for kubernetes garbage collection to a lower value and it immediately freed 40%. I will consider an additional partition when upgrading my KVM servers.

[2022-03-24 02:37] summer908 opened #9943 "RECENT_CRASH: 2 daemons have recently crashed"
mon  unhealthy，
I synchronized the time，but no effect
How do I go further

[2022-03-24 16:42] fzhan opened #9945 "rook-ceph-rgw-my-store-a failed to start with host ip:80 no route to host"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
1. following the example in deploy/
2. cluster setup with public network
3. object-test.yaml successfully created
4. rgw service with 1 daemon active
5. rgw svc pod failed to start, log:   Startup probe failed: dial tcp 10.173.59.205:80: i/o timeout; Startup probe failed: dial tcp 10.173.59.205:80: con

[2022-03-24 20:02] #9132 closed

[2022-03-25 06:00] fzhan commented on #9945
After exec into toolbox, the error is clear:

`curl rook-ceph-rgw-my-store.rook-ceph.svc:80
curl: (6) Could not resolve host: rook-ceph-rgw-my-store.rook-ceph.svc
`
however

`curl 10.152.183.149
<?xml version="1.0" encoding="UTF-8"?><ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>anonymous</ID><DisplayName></DisplayName></Owner><Buckets></Buckets></ListAllMyBucke

[2022-03-25 07:06] vishalk663 commented on #4553
I am also facing this error. after reinstalling also we are getting the same error.
We zap the disk and remove the socket files as well related to ceph from /var/lib/kubelet/puugins and /var/lib/kubelet/plugins_registry directory

[2022-03-25 07:08] fzhan commented on #9945
it appears to be a conflict between network set to host, and DNS module not being enabled by microk8s.

[2022-03-25 07:08] #9945 closed

[2022-03-25 20:02] #9182 closed

[2022-03-26 14:58] superbrothers opened #9947 "Failed to apply manifests generated from the rook-ceph-cluster chart with SSA"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Applying the manifest file generated by `helm template` command from the rook-ceph-cluster chart with Server-Side Apply (SSA) results in the following schema error.

[code]

On the other hand, Client-Side Apply succeeds.

I uses Flux for GitOps tool and Flux uses SSA to apply manifests, so I face this

[2022-03-26 18:46] smuth4 opened #9948 "osd-prepare job failing due to false error from `sgdisk`"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After a restart of the operator pod, the osd-prepare job started failing for one of the hosts:
[code]
The operator does notice that the job has failed, but everything else completes:
[code]
Here's the output from the sgdisk command:
[code]

This same sgdisk errors shows up for 5 devices total on the s

[2022-03-26 20:02] #9575 closed

[2022-03-27 01:27] zerkms commented on #8735
Not stale.

[2022-03-27 20:02] #9608 closed

[2022-03-28 04:48] satoru-takeuchi commented on #9948
@smuth4 It might be caused by #9701. I have some questions and requests.

* What is the previous Rook version?
* Have you add new disks/osds after upgrading to v1.8.7?
* Could.you provide your cluster.yaml?
* Could you provide the log of operator and the failed osd-prepare-pod?

[2022-03-28 07:07] spdfnet commented on #9832
Stumbled on this:
[code]

Which means the default profile needs to exist before creating any pool with Rook.
That also means, the plugin and settings can be manually specified there... each time.

According to the documentation, this should be supported:
https://github.com/rook/rook/blob/master/design/ceph/data-model.md?plain=1#L25-L26

But only 'algorithm' is exposed
https://github.com/rook/rook/

[2022-03-28 07:19] spdfnet commented on #9831
I can see there is still logic to create LVM OSDs in certain circumstances, and the Rook project is maintaining those flows.

[2022-03-28 18:27] #9897 closed

[2022-03-28 18:39] BlaineEXE commented on #9618
I believe this is made irrelevant by https://github.com/rook/rook/pull/9837. Closing this for now. We have the option to reopen if it is still relevant with the changed method of deploying prometheus metrics rules.

[2022-03-28 18:39] #8735 closed

[2022-03-28 20:03] dimm0 commented on #6830
...

[2022-03-28 20:58] zerkms commented on #8735
It indeed made it irrelevant, sorry.

[2022-03-29 02:32] microyahoo commented on #5821
@travisn I have noticed that `osd_memory_target` is 4G, but osd memory usage is far more than 4G when not set resource limits/requests like follows.
[code]
![](https://github.com/microyahoo/microyahoo.github.io/blob/master/images/rook/rook%20ceph%20osd%20high%20memory.png?raw=true&ynotemdtimestamp=1648520450059)

[2022-03-29 07:32] leseb opened #9958 "ci test "encryption-pvc-kms-ibm-kp" fails"
I believe the token we use is outdated:

[code]

I will look at renewing the credentials.

[2022-03-29 08:01] chintha-v commented on #5882
Hi, "ceph df" command shows 94% used. We exec into all pods using rook-ceph-block storageclass pvc and ran "df -kh". Consolidated value is not at all matching with 94%. How to check which one is using how much space from rook-ceph OSDs?

[2022-03-29 08:32] chintha-v commented on #5882
Hi @travisn , Could you please help us here with above query. Need to identify which pod used more space of rook-ceph block storage.

[2022-03-29 09:01] fengjiankui121 commented on #9920
rook of 1.5.4 @travisn

[2022-03-29 09:16] fengjiankui121 opened #9961 "The node obtained by canary is consistent with the deployed mon"
**Is this a bug report or feature request?**
* Feature Request

The node ip obtained by canary will be recorded in rook-ceph-mon-endpoints, and the data in rook-ceph-mon-endpoints will be synchronized to rook-ceph-config, and the ip of rook-ceph-config is finally used to start ceph mon, osd, etc., it is necessary to ensure that the data in rook-ceph-config is consistent with the actual mon ip, so

[2022-03-29 19:40] BlaineEXE commented on #9584
@eringet, you can set `rgw_verify_ssl` in the `rook-config-override` configmap or set it using the `ceph` CLI from the toolbox pod if you wish to solve the issue that way.

This option may not be ideal for all users, so we will keep examining a broadly useful way to get certificates into the RGW pod so RGW will trust connections from nodes.

[2022-03-29 19:46] BlaineEXE commented on #9584
I believe that in the scenario outlined by @eringet, all that needs to be done is add a volume and mount to the `rook-ceph-operator` deployment that puts the CA's used by the cluster into the right location in the operator pod. If we assume the CAs are present on host machines, simply using a hostPath volume mount in read-only mode should do the trick.

[2022-03-29 19:47] BlaineEXE commented on #9584
If RGW pods need the certificates (I'm not sure why they would right now), then we may have to make code changes to rook and/or identify a good CA injector utility that users could use.

[2022-03-29 20:42] alimaredia commented on #9256
unstale

[2022-03-29 22:49] BlaineEXE commented on #9947
I'm not sure why this would be behaving differently with server side apply. We'll have to look into this. To help us better understand, what is the kustomize patch you are using to fix the issue?

[2022-03-29 22:51] BlaineEXE commented on #9943
There is not enough information to understand the issue. Please fill in the bug template as requested so we have the information needed to help debug the issue. https://github.com/rook/rook/issues/new?assignees=&labels=bug&template=bug_report.md

[2022-03-29 22:51] #9943 closed

[2022-03-29 23:20] BlaineEXE commented on #9922
I'm not sure how I missed this BZ. The behavior here is unexpected and obviously wrong. And very confusing. The log reports that Rook successfully deleted user `ceph-user-YeSVM3M2`.

I think you may be on the right track.

[code]

We should probably be treating `s3.ErrCodeBucketAlreadyExists` as an error but `s3.ErrCodeBucketAlreadyOwnedByYou` as a success. Furthermore, the underlying issue is lik

[2022-03-29 23:57] superbrothers commented on #9947
I'm using the following patch to remove the unnecessary field.

[code]

[2022-03-30 12:20] leseb commented on #9958
Looks like the error was intermittent after all.

[2022-03-30 15:10] parth-gr commented on #9961
We sync it here mon-ip with endpoint details here, https://github.com/rook/rook/blob/5a82a1cbd737a9062df883cb48c2785c253fa1f5/pkg/operator/ceph/cluster/mon/mon.go#L558

[2022-03-30 15:29] jpluemer commented on #8277
We have the same error. Did you found any solution to this?

[2022-03-30 16:42] travisn commented on #4553
@vishalk663 Want to open a new issue (or even better a PR) so we can get this documented in the [cleanup guide](https://github.com/rook/rook/blob/master/Documentation/ceph-teardown.md)?

[2022-03-30 17:20] #8701 closed

[2022-03-30 18:40] travisn commented on #5882
@chintha-v Did you try `ceph osd df`? It should show the usage for each OSD. For more discussion, try the rook slack, or start a [discussion](https://github.com/rook/rook/discussions) instead of commenting on this old issue.

[2022-03-30 18:44] travisn commented on #5821
@microyahoo Did you try setting the resource limits? Setting the resource limits is the recommended way to have the OSDs respect memory usage instead of growing so large like that.

[2022-03-30 18:48] travisn commented on #9961
Let's use the discussion item #9960 for this question, thanks

[2022-03-30 18:53] travisn commented on #9920
@fengjiankui121 Can you update to a newer rook version? Even if possible to try v1.5.12, which is the latest from that minor release.

See my other questions as well.

[2022-03-30 20:23] travisn commented on #8277
@jpluemer Which rook and ceph versions are you running? Did you also see a mon failover trigger when this error happened? Do you have the operator log from that timeframe?

[2022-03-30 21:07] travisn commented on #9831
@spdfnet Is this about keeping track of which devices are in use by rook osds? If so, disks consumed for raw mode can be seen by looking at the disk label such as:
[code]

Or is there another reason to require lvm? If there is a need we could allow overriding to use lvm instead of raw mode, but we have seen better stability with raw mode so we hesitate to support lvm when it otherwise doesn't need

[2022-03-30 21:12] travisn commented on #9832
hmm, not sure the algorithm is properly set anymore from rook, those may be a couple of old references you found. How did you get that error? You set the parameters in the pool CR? Could you share the pool CR?

[2022-03-31 04:39] thotz commented on #9922
I have created a PR bit back to handle a similar situation https://github.com/rook/rook/pull/6619

[2022-03-31 05:17] chintha-v commented on #5882
Hi @travisn ,  I really appreciate you took out time and replied on closed thread. Yeah, all ceph commands are giving stats at OSD level, but we need info which pods are consuming those OSDs and how much they are consuming individually? We tried "df -kh" in individual pods and consolidated rbd values which is lesser than  "ceph osd df" output.
Anyway I created new [https://github.com/rook/rook/dis

[2022-03-31 07:41] spdfnet commented on #9832
You can get the same error by:
[code]

[2022-03-31 08:16] jpluemer commented on #8277
@travisn We are using Rook `1.7.9` and Ceph `16.2.5`. Currently, we are gathering further information about the incidence and cannot determine when or how the disaster occurred yet. We do have failing `mgr` and `osd` pods in our cluster.

What we discovered so far, is that there were several attempts to restart failing monitors, e.g. in `/var/lib/rook/` contains

[code]

[2022-03-31 13:51] #9911 closed

[2022-03-31 14:40] microyahoo commented on #5821
@travisn No, I didn't set the resource limits. I'm just curious why the `osd_memory_target` setting doesn't take effect to control memory usage.

[2022-03-31 16:25] BlaineEXE commented on #9922
I think the problems I see with that approach, given this PR are that we should keep in mind that operator behavior should default to being idempotent. I would instead treat `s3.ErrCodeBucketAlreadyExists` as an error and treat `s3. ErrCodeBucketAlreadyOwnedByYou` as a success so that calling `createBucket()` twice won't cause an error unnecessarily.

I think we also would want to handle the under

[2022-03-31 16:49] cbodley commented on #9922
if you're deleting an rgw user that you know was created by rook (so doesn't own other unrelated buckets/data), you might consider doing that with `radosgw-admin user rm --purge-data` which also deletes the user's buckets/objects

[2022-03-31 18:58] cbodley commented on #9922
it probably returns ENOENT in that case

[2022-03-31 19:06] travisn commented on #8277
Wow that's a lot of mon failovers, it certainly sounds related. For future reference you may want to increase the timeout for mon failover. See [the example config here for 600s, but that's just the default](https://github.com/rook/rook/blob/master/deploy/examples/cluster-test.yaml#L47-L51).

[2022-03-31 20:36] travisn commented on #9958
This has been failing pretty consistently in master and release-1.8 for a few days. For example, see the [master history](https://github.com/rook/rook/actions/workflows/canary-integration-test.yml?query=branch%3Amaster). It seems to be happening since the merge of #9906. However, #9906 CI does not show those failures so perhaps it's coincidental.

[2022-03-31 21:17] BlaineEXE commented on #9564
Working on this with https://github.com/rook/rook/pull/9915

[2022-04-01 01:40] smuth4 commented on #9948
Sorry for the delay @satoru-takeuchi, it looks similar to the atari issue but not quite the same. It's only sgdisk that reports the phantom partitions, other tools used in the prepare job work as expected:
[code]

* The previous rook version was 1.8.6, I tried downgrading and still encountered the issue. I don't mind upgrading but it doesn't look like that fix is in 1.8.8.
* I have not, I do have

[2022-04-01 05:10] thotz commented on #9922
There are other cases that need to be considered here like brownfield bucket, reclaim policy etc.

[2022-04-01 15:24] hackaholic commented on #9543
@leseb  yes it the virtual machine

[2022-04-01 15:34] hackaholic opened #9971 "ceph disk usage reported by prometheus does not match linux df command output"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
prometheus **ceph_cluster_total_used_bytes**
![image](https://user-images.githubusercontent.com/3721438/161294490-4b1dbfff-bfcb-4aee-9c9d-693013da9366.png)

from df cmd after mounted ceph on host.
![image](https://user-images.githubusercontent.com/3721438/161295338-0223dc98-c43f-4823-95eb-57dfd6620750.

[2022-04-01 16:54] travisn opened #9972 "Skip build-related CI actions with the skip-ci label"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The following

**Expected behavior:**
When the `skip-ci` label is added to a PR it is expected to skip all of the build-related actions.
- macos-build
- linux-build-all
- unittests
- codegen

**How to reproduce it (minimal and precise):**

Create a doc PR and add the skip-ci label. See those build acti

[2022-04-01 19:19] travisn commented on #9971
Where did you run `df` on the host? Not sure it's comparable to the total ceph bytes. The space reported by ceph is going to be different because of ceph's redundancy, some internal overhead, etc.

[2022-04-01 20:02] #9636 closed

[2022-04-01 20:16] travisn opened #9973 "Integrate the Ceph-CSI 3.6 release as the default driver version with Rook v1.9"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Ceph-CSI v3.6 is due out in the next few days, so Rook v1.9 should pick it up as the default.

**What is use case behind this feature:**
Deploy the latest CSI driver with Rook.

[2022-04-02 16:48] smuth4 commented on #9948
It doesn't look like rook actually needs the output of sgdisk for my setup according to the code, and even for my "good" disks the GUID gets generated randomly. If I'm reading things correctly, the UUID is actually entirely optional, since it's [skipped if sgdisk isn't installed](https://github.com/rook/rook/blob/05775b068d95b5917ed73cd4682d4ca061a259e2/pkg/util/sys/device.go#L259) and there's a [

[2022-04-02 20:02] #9445 closed

[2022-04-02 21:50] satoru-takeuchi commented on #9948
@smuth4 Thank you for your input. But I can't look into it for a while (probably about 1 week?) because my family got sick.

Could you take a look at this issue if poosible @travisn ?

[2022-04-03 20:02] #9648 closed

[2022-04-03 20:02] #9646 closed

[2022-04-04 04:13] hackaholic commented on #9971
@travisn yes on the host

[2022-04-04 11:40] richaiter08 opened #9978 "rook-ceph-osd pods are not getting created, while the monitoring pods are created"
I am currently configuring the rook-ceph cluster and pods and services for storage to replicate fraud detection use-case with open data hub.

But on setting the cluster on persistent volume chain yaml, the rook-ceph monitoring pods get created and OSD pods are not getting created. So I am unable to proceed further.

I am trying the same in OCP 4.7 cluster in opentlc

Please find snippet of the pod

[2022-04-05 04:49] abh opened #9986 "pv-migrator failure - rbd rename - error opening source image: (2) No such file or directory"
* Bug Report

**Deviation from expected behavior: `pv-migrator` failed with an error, after completion the pvc can't be mounted.

**How to reproduce it (minimal and precise):**

I ran pv-migrator like this `pv-migrator --pvc=mailserver-rainloop  --pvc-ns=mailserver   --destination-sc=rook-ceph-block-repl` which resulted in the output below and upon scaling back the deployment it fails with

[code]

[2022-04-05 04:53] Madhu-1 commented on #9986
@Yuggupta27 @subhamkrai PTAL

[2022-04-05 04:58] Madhu-1 commented on #9986
@abh is your existing pvc in flex is using the same pool as the destination storageclass. can you please paste source and destination storageclass?

[2022-04-05 05:10] abh commented on #9986
Thanks @Madhu-1. I tried renaming the image manually, but that still left the PVC broken,

[code]

The pool in the flex storage class ("rook-ceph-block") is different than in CSI ("rook-ceph-block-repl"). When we setup CSI way back when it came out it wasn't clear to me that we could use the same pool.

It sounds like to fix this I need to setup a new CSI-based storageclass that's using the origin

[2022-04-05 05:11] Madhu-1 commented on #9986
Yes @abh you need to use the same pool for the migration.

[2022-04-05 05:16] Madhu-1 commented on #9986
This is because we cannot rename/move the images between pools? @Yuggupta27 @subhamkrai can we document this one, please.

[2022-04-05 05:18] subhamkrai commented on #9986
@Madhu-1 sure, will look into this

[2022-04-05 05:19] abh commented on #9986
Ah, ok. I imagine you aren't updating pv-migrator anymore but it'd be handy to have a check for that (or maybe just mention it in the documentation).

Two follow-up questions then:

1) Is there a reasonable way to recover the PVC that got lost in this migration? It's not super important, I intentionally tested first with one that's recoverable by other means.

2) If I `rbd cp` the old images to th

[2022-04-05 05:23] subhamkrai commented on #9986
We can update pv-migrator depending on requiremt and uses :slightly_smiling_face:

[2022-04-05 05:25] Madhu-1 commented on #9986
This new one needs a lot of changes in the tool. I suggest documenting this one.

Currently, there is no way, this is tracked with https://github.com/ceph/persistent-volume-migrator/issues/19

Yes, you can recreate the PVC and the PV objects manually but it's a tricky one as you need to regenerate the volumeHandle and update few VolumeAttributes in the PV object as the poolID  differs.

[2022-04-05 05:35] abh commented on #9986
Ok, great. Thank you! Right now the PVC I migrated (that failed) is "Lost" (but the image is still there, of course), so I'll experiment with that to see if I can get back by re-creating the PV / PVC manually.

[2022-04-05 05:49] abh commented on #9986
Alright, that was pretty easy.  My volumeHandle's are either `0001-0009-rook-ceph-0000000000000001` or the same but suffixed with `4` instead of `1`. I picked a random one and added the UUID / image name to the volumeHandle and created the PV and PVC and it came up ok.

Thank you for the brilliantly quick response to this issue!  I'll make a storageclass using the old ceph pool to migrate the flex

[2022-04-05 05:52] Madhu-1 commented on #9986
0000000000000001 is the poolID you can replace with the poolID of the new pool. if that solves the issue we can close this one?

[2022-04-05 06:06] Yuggupta27 commented on #9986
Sure Madhu! We can do that :+1:

[2022-04-05 06:34] abh commented on #9986
oh, interesting. I actually used the wrong one but either it worked anyway or I had such a spectacular list of mistakes of mixed PVC IDs that I was mounting the old copy of the image (?!).

I got it sorted out now; again thank you for the quick help today (tonight for me).

[2022-04-05 06:34] #9986 closed

[2022-04-05 07:30] nazarewk opened #9987 "Ceph OSD's class (`ssd`) is not the same as the one requested by OSD Pod (`nvme`)"
I've described it as i went at https://rook-io.slack.com/archives/CK9CF5H2R/p1649132093217969

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Having [NVMe partition used through a PV](https://github.com/nazarewk-iac/k8s-configs/blob/73c49bcd70ba498f21efa721ff60c600b1b7b707/services/rook/ceph/cluster/pvs.yaml#L10-L40), all steps on the way discover

[2022-04-05 13:33] #7035 closed

[2022-04-05 13:43] #9972 closed

[2022-04-05 14:59] travisn opened #9994 "Support golang 1.18 in the CI"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Golang 1.18 was released recently. Since our goal is to support the two most recent minor releases of golang I'd suggest the following:
- Add 1.18 to the CI job that build with different versions of go
- Remove 1.16 from the CI build job
- The release build should still use 1.17 for official releases
-

[2022-04-05 15:26] travisn opened #9995 "Upgrade guide from Rook v1.8 to v1.9"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The upgrade guide needs to be updated for the v1.9 release

**What is use case behind this feature:**
Upgrades should work and be documented!

[2022-04-05 17:49] BlaineEXE opened #9996 "Discussion: Rook still creates resources that could be monitoring-implementation specific"
Rook still creates CoreOS/Prometheus related ServiceMonitors for external clusters. ServiceMonitor, from my reading, still seems to be specific only to Prometheus, so we should consider whether it continues to be within Rook's purview to create and manage this resource.

Rook keeps this resource up-to-date when the active manager switches over. So there may be some reason to still keep it in Rook;

[2022-04-05 18:44] travisn commented on #9996
From our [discussions a couple months back](https://github.com/rook/rook/pull/9503#issuecomment-1018910785), we had similar questions but I don't see it captured in that thread. The key point for me is that the PrometheusRule CR is static and will not change at runtime beyond any customization from a post-processor. However, the service monitor needs to be updated with label selectors to point to

[2022-04-05 20:02] #9580 closed

[2022-04-05 20:09] BlaineEXE commented on #9996
Yes. And I can see that happening in the code. This could still be a bit of a problem if other monitoring applications have their own version of ServiceMonitor. Then we might be obligated to do the same thing. I understand the utility as the code is written, and I certainly don't have full domain understanding, so I could be missing something. That said, it sill seems non-ideal to have Rook create

[2022-04-05 20:21] BlaineEXE commented on #9996
To my point above, if Rook doesn't create a ServiceMonitor, I believe we can just instruct the user to create an **External**ServiceMonitor: https://jpweber.io/blog/monitor-external-services-with-the-prometheus-operator/

[2022-04-05 20:40] BlaineEXE opened #10001 "Reconsider Horizontal Pod Autoscaler docs for CephObjectStore"
I am concerned the documentation for KEDA Horizontal Pod Autoscaler (HPA) documented in the CephObjectStore won't work in production. I believe any time the CephObjectStore is reconciled, Rook will reset the replicas to 1. This could result in disrupting user workloads.

_Originally posted by @BlaineEXE in https://github.com/rook/rook/pull/9202#pullrequestreview-932473714_

We should investigate w

[2022-04-05 21:09] travisn commented on #9996
That blog is discussing how to monitor a service that is external to the k8s cluster. In this case, the monitoring endpoint is inside the cluster so it seems different. Also, that blog also creates a ServiceMonitor resource, so we're back to requiring a ServiceMonitor CR anyway.

I don't see any design issue with treating specific types of resources as first class citizens. Prometheus is a core se

[2022-04-05 21:35] BlaineEXE commented on #9996
I believe integrating tightly with Prometheus is fine. I also believe the Helm chart is the better place to do that. Using the ExternalServiceMonitor to point to the mgr Service doesn't require Rook to create the ExternalServiceMonitor, and I believe allowing users to choose whether to deploy that or not via Helm is a better design. There is no need to build that into the operator. By removing unn

[2022-04-05 21:40] travisn commented on #9987
Try the annotation seen [here](https://github.com/rook/rook/blob/master/deploy/examples/cluster-on-pvc.yaml#L123-L124) on the storageClassDeviceSet.volumeClaimTemplate:
[code]

Looks like you're only setting this custom annotation instead:
[code]

[2022-04-05 21:46] travisn commented on #9996
Is there a resource type `ExternalServiceMonitor`? I don't see it in the blog. Or you're just referring to using a different approach where a static ServiceMonitor can be used to point to the mgr service? Sounds great if we can make the service monitor static, installed by the helm chart, and stop updating it from the operator code.

[2022-04-06 04:38] thotz commented on #10001
I am not quite sure how reconciliation will impact HPA, by default HPA can work with memory and CPU with any special configuration, so I highly doubt reconciliation of resources can affect HPA.
Do the Rook operator restart after HPA scaling validates this use case?

During CI testing it validates all the yamls in `deploy/examples` since KEDA CRDs were not installed, creation of the `keda-rgw.yaml`

[2022-04-06 15:28] BlaineEXE commented on #9996
I must have gotten that confused with something else I was reading. Upon re-reading, it seems like ServiceMonitor should looks at k8s services and not pods, so it should be easy for users to create a ServiceMonitor themselves to point to Rook's mgr Service. And it should ideally continue work upon mgr failover with only a slight blip when the mgr converts the endpoint to point to the latest mgr. S

[2022-04-06 15:33] serewicz opened #10007 "docs: Links in website do not work, different than github"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Inside of the docs [Contributing](https://rook.io/docs/rook/latest/development-flow.html#design-document) section when trying to go to the design folder or design template the page shows an oops.  The URL it is going to is rook.io/design.  There is no rook.io/design page.

When going to edit in github

[2022-04-07 08:38] yuvalif commented on #9757
@praveenkumar is the issue fixed with the new CRC/OpenShift?

[2022-04-07 16:01] #10007 closed

[2022-04-07 18:03] travisn opened #10013 "Daily tests against Ceph master are failing during pool configuration"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The daily tests against ceph master are failing in two places during pool configuration.

The default RGW pool is failing configuration:
[code]

The NFS pool is failing configuration:
[code]

For example, see [these tests](https://github.com/travisn/rook/actions/runs/2105967201).

In the [history for t

[2022-04-07 20:07] satoru-takeuchi commented on #9948
@smuth4 @travisn I'm back and will work on it the next week.

[2022-04-07 22:51] travisn opened #10021 "rgw-multisite-testing integration test is failing due to connection error"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Since earlier today, the `rgw-multisite-testing` integration test is failing, The test log shows the error:
[code]

The [action history](https://github.com/rook/rook/actions/workflows/canary-integration-test.yml?query=branch%3Amaster) shows that this started happening today after the merge of #9997, wh

[2022-04-07 22:53] BlaineEXE commented on #10021
I don't see how docs could cause the failure. I wonder if it's just coincidental that the failures are happening since that PR. Could there be an underlying issue? Perhaps Azure is a little bit slower now? Or a Ceph change?

[2022-04-08 02:14] ilovekate19 opened #10022 "failed to deploy prometheus rule"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
2022-04-08 00:07:08.001314 E | op-mgr: failed to deploy prometheus rule. failed to set owner reference to prometheus rule "prometheus-ceph-v16-rules": cross-namespace owner references are disallowed, owner's namespace rook-ceph, obj's namespace monitoring

**Expected behavior:**
prometheus rule deploye

[2022-04-08 14:12] subhamkrai opened #10024 "Add admission controller validation in integration test"
**What should the feature do:**
In the integration test, create an invalid cluster, pool, and object store CR that will each be rejected by their admission controller.

https://github.com/rook/rook/pull/9934#discussion_r843316148

[2022-04-08 14:14] subhamkrai opened #10025 "refactor webhook creation"
refactor webhook creation using helper funtion

[2022-04-08 19:40] travisn commented on #10022
While #10028 will fix this issue in the next v1.8.x release, note that this issue will not apply in the v1.9 that is due out in the next few days. The new approach will create the prometheus rules purely from the helm chart and will never set the ownerref even if in the same namespace as the operator. The helm chart will fully own the rules rather than the cephcluster.

[2022-04-08 20:02] yleiymei commented on #4896
这是来自QQ邮箱的假期自动回复邮件。邮件已收到，我会尽快回复您!

[2022-04-08 23:52] mateuszdrab commented on #9470
This definitely shouldn't be closed

[2022-04-09 09:21] caibirdme opened #10030 "Unable to deploy ceph-cluster using default config with helm"
I deploy a self-hosted k8s cluster and want to deploy a ceph-cluster on that by helm. I just try to run helm install command like: `helm install --create-namespace --namespace rook-ceph rook-ceph-cluster    --set operatorNamespace=rook-ceph rook-release/rook-ceph-cluster`, but it reports error:

[code]

Am I missing something?

**Is this a bug report or feature request?**
* Bug Report

**Expected

[2022-04-09 20:02] #9681 closed

[2022-04-09 20:02] #9679 closed

[2022-04-09 20:02] #9625 closed

[2022-04-11 05:26] ilovekate19 commented on #10022
Thanks @travisn for your quick clarification.
FYI, I used a workaround now by putting additional rule on prometheus helm chart.
Let me close this after new release comes.

[2022-04-11 08:04] #10021 closed

[2022-04-11 09:53] Rakshith-R opened #10034 "Add some basic E2E for CSI RBD encryption"
Adding some basic E2E should help us to cover any issues. we can track it as a separate issue.

_Originally posted by @Madhu-1 in https://github.com/rook/rook/pull/9940#pullrequestreview-937512344_

[2022-04-11 17:05] travisn commented on #10030
@caibirdme Did you install the [operator helm chart](https://rook.github.io/docs/rook/v1.9/helm-operator.html) first? It will install the CRDs for you, looks like they are missing.

[2022-04-11 17:26] travisn commented on #9470
We really need to find more checks to ensure unintended devices aren't picked up...

[2022-04-11 20:02] #9691 closed

[2022-04-11 20:02] #9442 closed

[2022-04-11 20:02] #9032 closed

[2022-04-11 20:28] galexrt commented on #9470
As a quick "fix" to improve the docs, we could look into adding a red warning box to the Rook Ceph prerequisites and quickstart doc pages.
The red warning box would look like this (screenshot contains the "you are on the latest docs" warning box):
![image](https://user-images.githubusercontent.com/3718398/162825579-9d1d8002-a10d-4cfd-a42b-df9131d110c8.png)
We can change the color as well.
What do

[2022-04-11 21:32] travisn commented on #9470
Since this issue was opened, we added a sentence in bold text to the opening section of the [Quickstart guide](https://rook.github.io/docs/rook/v1.9/quickstart.html#ceph-quickstart). I wonder if it would be sufficient just to add a "WARNING:" prefix to make it more obvious, or move it to be the first thing in the prerequisites section.

[2022-04-11 22:11] withernet commented on #9470
I think this error occurs when you use a tool to play with rook that isnt `minikube`; it may be better to just make it abundantly clear to only use `minikube` and that usage of any other tool is at the users own risk and then to reference this bug.

[2022-04-12 16:23] #9784 closed

[2022-04-12 16:31] #9711 closed

[2022-04-13 07:45] tahsinrahman opened #10060 "Creating CephNFS from external cluster doesn't create NFS cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
- applied CephNFS crd in external cluster
- nfs cluster is not provisioned (verified by `ceph nfs cluster ls`)

**Expected behavior:**
- nfs cluster to be provisioned

**How to reproduce it (minimal and precise):**

cluster.yaml
[code]

cluster-external.yaml
[code]

ceph-nfs.yaml
[code]

operator log
[

[2022-04-13 10:53] hezise opened #10061 "rook 1.8.3 - redeploying init chart takes approx. 20 min."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
when redeploying rook-init chart in verstion 1.8.3 it takes approx. 20 min.
while in 1.5.8 it takes a few seconds
both are running under helm 3.2.1

**Expected behavior:**
takes a few min
**How to reproduce it (minimal and precise):**

need to deploy the init cahrt ( which deploy the operator)
then red

[2022-04-13 17:04] travisn commented on #10061
@hezise
- Does this repro consistently for you across different versions of the helm chart?
- During the 20 minute delay, does the operator pod start? Or this is just the time for the helm install command to complete? If it's just for helm to complete, it sounds like something external to anything rook can control.

[2022-04-13 20:02] #9698 closed

[2022-04-14 02:29] onedr0p opened #10070 "PrometheusRule issues with Helm Chart 1.9.0"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Getting an issue with `PrometheusJobMissing` and `PrometheusRuleFailures`:

<img width="1323" alt="image" src="https://user-images.githubusercontent.com/213795/163301555-eb7bd089-b529-48bb-b05b-d1e05869754c.png">

**Expected behavior:**

The rules to be correct and not be alerted

**How to reproduce i

[2022-04-14 06:52] hezise commented on #10061
hi @travisn ,
I'm using the flags --wait and --timeout 360 that means it waits up to 6 min for all components in the chart to be deployed otherwise it fails the deployment.
I can see also in the log that nothing happens to operator and if there was an error helm should fails it once it reaches timeout.
I know that this mechanism is working, because I've tested it. ( deploying bad chart )
All my ot

[2022-04-14 07:18] hezise commented on #10061
hi @travisn,
I tested it with helm 3.7.2 and it took several seconds.
I'm closing the issue
thanks for you quick response

[2022-04-14 07:18] #10061 closed

[2022-04-14 07:18] hackaholic opened #10072 "options to configure rook-ceph containers args .."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

One cannot change ars for csi-porviosioner container, like --timeout
 **csi-provisioner**:
    Container ID:  docker://c830f588d7ebc80ea63fe79d1c5fa60e02c4b45852b1fdd36af2130bcc16926b
    Image:         rt-monitoring_csi_provisioner:v2.0.4
    Image ID:      docker://sha256:82a3b8324d58f06137c68f3a866

[2022-04-14 07:20] Madhu-1 commented on #10072
We can make the timeout configurable it might help in some cases.

[2022-04-14 08:00] dinghui40 opened #10073 "Seek a solution"
W0414 07:09:22.125298       1 client_config.go:615] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
2022-04-14 07:09:22.243593 E | ceph-cluster-controller: failed to reconcile CephCluster "rook-ceph/rook-ceph". failed to reconcile cluster "rook-ceph": failed to configure local ceph cluster: failed to create cluster: failed to start ceph mgr: faile

[2022-04-14 08:18] hackaholic commented on #10072
@Madhu-1 yes, as sometime is kube-api dosent respond or restart, In some cases I have seen k8s api unresponsive for more than 150 sec, so in that case I want to increase the timeout.
 **not only timeout any other parameters should be configurable.**

[2022-04-14 08:30] Madhu-1 commented on #10072
Please list the what other options you think need to be configurable. #10074 makes timeout configurable for now.

[2022-04-14 10:15] bjw-s commented on #10070
Just chiming in to let you know that I am seeing the exact same behavior

[2022-04-14 10:19] budimanjojo commented on #10070
I'm using the manifest in `deploy/example` directory and I have the same 'PrometheusJobMissing` alert but not `PrometheusRuleFailures`

[2022-04-14 12:17] onedr0p commented on #10070
The `PrometheusRuleFailures` seemed to have gone away after I cleaned up the old Prometheus rule.

`k delete prometheusrule prometheus-ceph-v16-rules -n rook-ceph`

[2022-04-14 13:44] travisn commented on #10073
@dinghui40 As mentioned, the issue template would help provide more details about your rook version and how you installed. For this error I suspect you need to [install Prometheus](https://rook.github.io/docs/rook/v1.9/ceph-monitoring.html#prometheus-operator).

[2022-04-14 14:48] BlaineEXE commented on #10001
We should update our CephObjectStore reconciliation. I think a small design would make sense. Questions I have, which I think are orthogonal:
- Should Rook continue to create one deployment per RGW for its own scaling, or should it update the replica count on a single deployment?
- Should Rook only set a replica count on RGW deployments only if they don't exist and allow the value to be different

[2022-04-14 16:13] BlaineEXE commented on #9912
Done and in the process of being backported to `release-1.9` for the v1.9.1 release.

[2022-04-14 16:13] #9912 closed

[2022-04-14 16:26] felipegutierrez commented on #2945
is there a way to define a different region? I cannot find how to do it.

[2022-04-14 16:45] Omar007 opened #10083 "Helm Chart missing default resources for some provisioner sidecars"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Default resources are not supplied for all provisioner sidecars in the rook-ceph Helm Chart.

**Expected behavior:**
Default resources are set for all provisioner sidecars.

**How to reproduce it (minimal and precise):**
Grab the 1.9.0 release which introduces default resources and check the provisione

[2022-04-14 16:47] taxilian opened #10084 "upgraded to 1.9.0 and ceph 17.1 and require_osd_release not updated automatically"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After upgrading my cluster to 1.9.0 and to ceph 17.1 my cluster was left in a warning state with `OSD_UPGRADE_FINISHED: all OSDs are running quincy or later but require_osd_release < quincy`

**Expected behavior:**

The operator should have set the expected version

**How to reproduce it (minimal and

[2022-04-14 17:06] travisn commented on #10070
For the PrometheusRuleFailures, I see now that it is coming from the `pools` group in the new rules here: https://github.com/rook/rook/blob/master/deploy/examples/monitoring/localrules.yaml#L727-L791

Is there a description that shows any more details? If one of these rules fails, there should be some other details such as the pools being nearly full.

[2022-04-14 17:35] onedr0p commented on #10070
In my prometheus logs this is the error I see that might be causing the `PrometheusRuleFailures`

[code]

[2022-04-14 17:46] bjw-s commented on #10070
Agreed, that is the same error that I am seeing in Prometheus for the `CephPoolGrowthWarning` rule:

[code]

[2022-04-14 17:53] rust84 opened #10085 "Operator fails to update OSDs after v1.9.0"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The operator is stuck in a crash loop when attempting to reconcile the cluster.  I just upgraded from v1.8.8. The cluster is healthy and unaffected but the operator continues to crash.

**Expected behavior:**

Cluster reconciles successfully.

**Operator logs:**

[code]

[2022-04-14 18:21] travisn commented on #10084
I was able to repro by:
1. Install Rook v1.9 with Ceph v16.2.7
2. Update to Ceph v17.1
3. See the warnings.

The rook operator needs to set the minimum osd version after all the OSDs are upgraded.

In the meantime, the workaround is to run this from the toolbox:
[code]

[2022-04-14 18:40] travisn commented on #10085
@rust84
- What version of K8s is running?
- Does the issue continue if the operator is restarted?

[2022-04-14 18:52] rust84 commented on #10085
Talos k8s 1.23.5

I have restarted the operator several times and same result.

[2022-04-14 19:29] travisn commented on #10083
@yuvalman want to take a look at this to follow up from #9894?

[2022-04-14 19:34] yuvalman commented on #10083
@travisn Yes, I'll take a look at this issue

[2022-04-14 19:36] travisn commented on #10085
The error `gave up to run the operator manager` has been around since #8607 and was at least part of the v1.8 release. I'm not sure what would have caused it in the upgrade to v1.9.
@leseb Any ideas?

[2022-04-14 20:32] travisn commented on #10070
@pcuzner Could you take a look at these issues?
1. In `PrometheusJobMissing`, where does the `ceph` job come from in this condition? It must not be created in rook deployments: `absent(up{job="ceph"})`
2. In `CephPoolGrowthWarning`, this condition seems to indicate the pool is going to fill, but it's unexpected. Any recommendations on troubleshooting?

[2022-04-14 21:44] travisn commented on #10001
@thotz KEDA updates the replica count on the rgw deployment, right? So all Rook will really notice during a reconcile is that the deployment replica count is incorrect? In that case, I'm thinking we should do the following to keep it simple to support KEDA:
- When the object store is initialized, create the rgw deployment with replicas according to the setting in the CR (`gateway.instances`)
- Dur

[2022-04-14 23:44] pcuzner commented on #10070
@travisn presumably the alerts were taken verbatim, so the job name is the job name used in the cephadm environment that defines the scrape config. So this will be different in the context of rook

[2022-04-15 02:45] hackaholic commented on #10072
These below option needs to be configurable:
**--leader-election-lease-duration <duration>**: Duration, in seconds, that non-leader candidates will wait to force acquire leadership. Defaults to 15 seconds.

**--leader-election-renew-deadline <duration>**: Duration, in seconds, that the acting leader will retry refreshing leadership before giving up. Defaults to 10 seconds.

**--leader-election-ret

[2022-04-15 07:36] timbuchwaldt opened #10090 "Defaulting priorityClassName"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Default the priorityClassName to `system-node-critical`.

**What is use case behind this feature:**
rook-ceph is an integral part of the cluster that in most usecases should not be de-scheduleable.

In a recent outage I saw the storage nodes under high disk pressure (fluentbit spooling went crazy, filli

[2022-04-15 13:19] leseb commented on #10085
@rust84 is your system running under pressure and/or low resources?

[2022-04-15 13:38] rust84 commented on #10085
@leseb The cluster is not particularly busy as you can see below. Lots of CPU and memory available 🙂

![Screenshot 2022-04-15 143655](https://user-images.githubusercontent.com/23284108/163577332-17498e76-99cf-4762-a71e-e5ea61e484b8.gif)

[2022-04-15 14:46] #10084 closed

[2022-04-16 14:10] rust84 commented on #10085
I've downgraded to v1.8.8 to test and everything has reconciled as normal. As a bonus the Prometheus alerts have cleared 😄

[2022-04-18 13:52] travisn commented on #9741
@thotz I assume you are still planning on this? thanks!

[2022-04-18 15:25] travisn commented on #10090
Agreed on this, it has been on the back of my mind for too long, time to take care of it!

[2022-04-18 17:01] timbuchwaldt commented on #10090
Glad to hear I could give the push needed, thank you for the change! :)

[2022-04-18 19:36] BlaineEXE commented on #10085
This issue is with a controller that is new in v1.9. It's possible that the CRD for rados namespaces isn't installed correctly. I think a good first troubleshooting step would be to double check that RBAC and CRD updates are applied from the `release-1.9` branch. @rust84 would you try applying `crds.yaml` and `common.yaml` (again?) from v1.9 and report back whether the issue remains or is fixed.

[2022-04-19 06:56] ppoetz commented on #5663
Would be really great to have this feature in a future release.
Our use-case is pretty simple: We need to have publicly accessible objects (Read) so our react app can access well known bucket urls to load its images. But the out-of-the-box bucket-claim is permissive and so we need an additional scripted k8s job which sets permissions right via some s3 client.

[2022-04-19 09:07] banna2019 commented on #4604
I will also ask this, kubeadm install V1.22.2, rook version V1.8.8
I use osd-purge to clear osd.5 normally in the ceph cluster, and the cluster also enables "removeOSDsIfOutAndSafeToRemove: true"; but why the deployment of osd.5 is still frequently awakened

The following is the status of osd.5 in kubernetes

[root@kuber01 ~]# kubectl get pods -n rook-ceph
NAME

[2022-04-19 09:57] thotz commented on #5663
The COSI project(new upgrade for BucketClaims) initially planned to add bucket policies in their API path. But now they are not planning to implement the alpha version. Hence didn't move forward with this feature, waiting more COSI to map out their plan

[2022-04-19 11:29] chenchensheng commented on #9614
Same error when I run 2 ceph clusters in different namespaces.
Unless I modify CephCluster CRD with
[code]

[2022-04-19 13:28] travisn commented on #9614
@leseb Any ideas on this error?

[2022-04-19 13:54] #10072 closed

[2022-04-19 15:26] #7032 closed

[2022-04-19 15:39] BayOfBlackFox opened #10105 "ceph-fs-mirror daemon unable to find a keyring"
Is this a bug report or feature request?

    Bug Report

Deviation from expected behavior:
auth: unable to find a keyring on /etc/ceph/ceph.client.mirror.keyring,/etc/ceph/ceph.keyring,/etc/ceph/keyring,/etc/ceph/keyring.bin,: (2) No such file or directory

Expected behavior:

How to reproduce it (minimal and precise):

    Install CephFilesystemMirror with filesystem-mirror.yaml
    Add mirrorin

[2022-04-19 18:15] caffeinism opened #10107 "OSD created by wrong deviceClass"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Device class applied incorrectly in OSD.

**Expected behavior:**
OSD should be set automatically well or be configurable manually.

**How to reproduce it (minimal and precise):**

I have 3 machines with 4 SSDs and 4 NVMEs per machine, with the following settings:
[code]
Then osd tree was like this:
[co

[2022-04-19 20:01] travisn commented on #10107
In the OSD prepare pod log do you see the `--crush-device-class` parameter that matches the behavior you're seeing? This parameter must have a bug when a metadata device is specified.

As a workaround, you could correct the device class from the toolbox with [this documentation](https://docs.ceph.com/en/latest/rados/operations/crush-map/#device-classes).

[2022-04-19 20:02] #9719 closed

[2022-04-19 20:05] horazont commented on #9088
In the meantime, https://github.com/ceph/go-ceph/pull/644 has been proposed and merged, which means that our main focus of work is currently implementing the rook extension itself. I don't think there's a PR yet. @sebastianriese?

[2022-04-19 21:02] satoru-takeuchi commented on #8245
I don't encounter this issue any more.

[2022-04-19 23:09] log1cb0mb commented on #10107
I have seen this behaviour as well that device class is detected incorrectly even though it detects just fine on exactly same type of node, same OS and same hardware. It's mostly random that SSDs classified as HDD.

Last I checked, it seemed like classifying in my environment SATA SSDs were getting correct class while SAS SSDs classified as HDD. Though I am not entirely if that is somehow relevant

[2022-04-19 23:15] log1cb0mb opened #10110 "Ceph monitors in crash loop"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
With new deployment, ceph mons keep crashing and cluster is never created completely or never in healthy state

**Expected behavior:**
Rook operator and cluster deployment is completed successfully.

**How to reproduce it (minimal and precise):**
It is difficult to say as same method or deployment is b

[2022-04-20 04:17] caffeinism commented on #10107
@travisn  I know it can be set with the ceph command, but I want it to be fixed automatically within the rook config.

[2022-04-20 04:22] caffeinism commented on #10107
And the following command is executed. There is no setting for ssd here. Logs from storage-01.
[code]

[2022-04-20 07:33] leseb commented on #10105
This is a bit misleading message that does not necessarily mean things are not working. Can verify the status of the mirroring and/or see if it is working?
IIRC this was fixed in a Ceph version I just don't remember which one.

[2022-04-20 07:36] mtt0 commented on #9099
If you got two objectstore like this:

[code]

Create the same user 'dashboard-admin' with the same `access_key` and `secret_key`

[code]
You can operator these two objectstore by dashboard now~

[2022-04-20 08:51] BayOfBlackFox commented on #10105
I see that the client is in the filesystem, but mirroring does not work. I think that when creating folders on the first cluster, they should appear on the second cluster.
![изображение](https://user-images.githubusercontent.com/25629980/164189877-38ac8a76-ec19-489a-9ac9-956a46230817.png)

[2022-04-20 12:37] log1cb0mb commented on #10110
<details>
    <summary>Mon logs with debug level set to 3</summary>

[code]
</details>

[2022-04-20 13:39] #10090 closed

[2022-04-20 14:21] travisn opened #10115 "Update min K8s version supported to 1.17"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
K8s 1.16 is currently the min version supported by Rook, but it has the following limitations:
- CSI has a number of limitations such as snapshots are not stable
- Priority classes are not supported

The proposal is to remove support for K8s 1.16 in the next Rook v1.9.x release.
- Development will be si

[2022-04-20 14:42] muenchdo commented on #10115
We are still using K8s 1.16 in some places

[2022-04-20 14:56] travisn commented on #10115
What version of Rook are those running? If older than v1.9, they will be fine to continue for example on v1.8. The future v1.8 releases will also continue to support K8s 1.16.

[2022-04-20 15:04] travisn commented on #10110
@log1cb0mb What are your liveness probe values now to get it working?

[2022-04-20 15:11] travisn commented on #9099
@mtt0 Thanks for the input! Looks like we just need to create this dashboard user in each object store's realm.

[2022-04-20 16:03] log1cb0mb commented on #10110
@travisn Its not exactly working. The mon daemon is still crashing, its just that due to increased probe timeout the pod stays alive and by the time probe would fail, the mon daemon/service comes back up going through its same loop all over again.
I did that in order to increase debug logs level and collect them (provided above). Timers that I used:
[code]

[2022-04-20 16:10] log1cb0mb commented on #10110
I went ahead and i even dared to test with latest quincy release (v17.2.0) and same behaviour. With quincy, there were other issues as well for e.g OSD prepare failing claiming there is filesystem on drive (ceph_bluestore) even though the filesystem itself was created by OSD prepare job. I think during preperation the Pod/jobs fails or dies unexpectedly and when it comes back up, it finds the blue

[2022-04-20 18:41] from-nibly opened #10121 "BUG?: /lib/modules directory empty on nixos, can't configure the mount point?"
**Is this a bug report or feature request?**
* Unsure

**What should the feature do:**
For whatever reason nixos puts modules in `/run/current-system/kernel-modules/lib/modules` instead of `/lib/modules` the csi-rbdplugin daemonset mounts the `/lib/modules` directory. I'm not seeing a way to change the directory that daemonset mounts in the CephCluster configuration.

So if a way doesn't exist yet

[2022-04-20 18:49] from-nibly commented on #10121
OK maybe I was confused about something. It looks like running `modprobe rbd` on the machine must have fixed it because it's working now. I'm not sure how because it initially complained about that module not being there but it hasn't crashed. so IDK.

[2022-04-20 18:49] #10121 closed

[2022-04-20 18:54] travisn commented on #10085
We have just merged a fix with #10023 that may potentially fix this issue. If you have a test cluster, please try running the rook operator with the image `rook/ceph:v1.9.0-42.g82fde5ea4` to see if that helps. This image is essentially the same as the v1.9.1 release that we are planning on tomorrow.

[2022-04-21 01:09] rust84 commented on #10085
Have just tested the new image and it's looking good so far. Thank you.

[2022-04-21 03:43] dinghui40 commented on #10073
thank

[2022-04-21 07:01] dhankani commented on #10085
Hi @rust84  Can you send me your file as i am facing the same issue so just want to have a look

[2022-04-21 07:52] muenchdo commented on #10115
We're on v1.8, which should be fine for us as long as it will continue to support K8s 1.16.

[2022-04-21 10:38] log1cb0mb commented on #10110
I believe, i have narrowed down the issue. It starting to seem like not ceph related issue but some FCOS release updates. Managed to reproduce the issue in virtual environment as with latest FCOS `35.20220327.3.0` release.

However the crash occurs at that very exact command `osd pool create`
[code]

Will investigate more and verify packages updates on FCOS end.

[2022-04-21 10:42] log1cb0mb commented on #10110
@travisn Any suggestions regarding particular packages I should be looking at FCOS end that are required/used by ceph?

[2022-04-21 12:47] log1cb0mb commented on #10110
Narrowed down last working release. Issue occurs with releases after `35.20220213.3.0`:

- `35.20220227.3.0`
- `35.20220313.3.1`
- `35.20220327.3.0`

Among other changes, one major upgrade is Kernel from `5.15.x.` to `5.16.x` plus container runtime from `1.5.8` to `1.6.0`

[2022-04-21 14:01] Madhu-1 opened #10126 "mon entries in csi configmap is not updated for subvolume group/rados namespace in external cluster mode"
The mon IP are updated only for the default cluster ID in case of the external mode and more subvolume groups created, Below is the configmap output.

[code]

For cluster-ID `rook-ceph` we have all 3 monitors Rook reconciled but for the cluster-ID `301f300cac48f552a5cd6b837c49d355` we have only one Mon. Rook should update all the clusterID belonging to one ceph cluster with required mon informatio

[2022-04-21 14:01] Madhu-1 commented on #10126
cc @travisn

[2022-04-21 14:10] parth-gr commented on #10126
Are entries working fine with the normal rook-ceph mode?

[2022-04-21 14:34] Madhu-1 commented on #10126
A restart will not work because of the predicate we added, as there is no change in CR it will not get reconciled again.

[2022-04-21 14:49] travisn commented on #10126
What versions do we need to worry about? It seems like a new feature that we could assume starting fresh, no?

[2022-04-21 14:53] Madhu-1 commented on #10126
Existing cluster which already have subvolumegroups created?

[2022-04-21 14:53] Madhu-1 commented on #10126
Am fine with new clusters also.

[2022-04-21 15:13] travisn commented on #10126
This has been in v1.8 so I guess there could be some clusters. Perhaps it would be simple for rook to just convert those entries to the new format if it finds them. I'll look at that.

[2022-04-21 20:20] qrpike commented on #2221
We also had this same problem and it turned out to be failed multipart uploads. By default there is no lifecycle policy on S3 objects, and if you upload 999GB of a 1TB file and it fails, the multipart ( chunks ) data sticks around forever until you manually clean them up or add a lifecycle policy.

Each multipart chunk is listed inside the omap index files. However, the index does not count them i

[2022-04-21 21:59] rust84 commented on #10085
I've just upgraded to 1.9.1 and can confirm the issue is now resolved.  Thanks again.

[2022-04-21 21:59] #10085 closed

[2022-04-22 04:16] travisn commented on #10126
Per offline discussion, #10131 isn't feasible since the unique clusterID for each subvolumegroup and rados namespace is key to the current design.

What I want to avoid is that the operator should not have to update the mon endpoints in multiple places if there are multiple subvolumegroups and rados namespaces. The list of mons should only be defined in a single place for each cluster. What if we

[2022-04-22 09:04] sbskas commented on #9648
I'm installing rook with the operator helm chart and a cephcluster object.

We already discussed with the ceph-csi about the missing parts for topologysupport in ceph-csi :
[Make ceph-csi domainLabels usable with Rook](https://github.com/ceph/ceph-csi/issues/2962).
For this to work, one has to give the topology label on the ceph-csi-attacher command line which is not configurable in rook.
For now,

[2022-04-22 09:48] manachyn opened #10136 "Unable to create CephObjectRealm object using Golang client"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The Spec field for the CephObjectRealm object is optional. But creating an object without a specification using the go client we get an error

[code]
**Environment**:
* Rook version 1.8 - 1.9

[2022-04-22 15:14] parth-gr opened #10140 "Update to Ceph Quincy"
I see officially the Quincy build is out https://ceph.io/en/news/blog/2022/v17-2-0-quincy-released/,
So we can go upgrade our ceph image to quincy

[2022-04-22 15:31] travisn commented on #9648
@sbskas Could you open a new issue for this? We'd much rather support the option in rook than to require anyone to install the csi driver separately. :)

[2022-04-22 16:14] travisn opened #10141 "Upgrade operator sdk for csv generation and remove placeholder RGW role and role binding"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
A placeholder role and binding were added in #10108 for the new rook-ceph-rgw service account solely for the purposes of csv generation. If we update to the latest operator sdk v1.8 we can use a new flag for `--extra-service-accounts`, then we can remove the placeholder role and binding.

**Expected be

[2022-04-22 17:55] mayank-reynencourt commented on #4896
Hi all,

i'm also having the same issue on rook (v1.8.8) external ceph (16.2.7)
`controller.go:1337] provision "default/pvc-4" class "rc-fs-storage": started
I0422 17:54:44.196780       1 event.go:285] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"default", Name:"pvc-4", UID:"9c09aa0d-cfc3-484c-b536-f3e686e54f52", APIVersion:"v1", ResourceVersion:"71143", FieldPath:""}): type:

[2022-04-22 17:56] #10126 closed

[2022-04-23 18:15] smuth4 commented on #9948
I took a risk and upgraded to 1.9.1, and the issue still occurs. I was able to get things through a full operator reconciliation with the following simple patch:
[code]
That change certainly doesn't seem suitable for general use, but it's still not clear to me when sgdisk's UUID would actually be required.

[2022-04-23 19:00] satoru-takeuchi commented on #9948
@smuth4 I was offline again until last week for various reasons. My apologies.
I will definitely work on this issue starting this Monday. And thank you for your input.

[2022-04-24 19:43] dw86uk opened #10148 "Deploy crds.yaml issue"
Trying to run kubectl create -f crds.yaml, crds.yaml unchanged from that in the repo, but am getting a timeout -context deadline exceeded on a k3s cluster running on baremetal raspberry pis running ubuntu 21.XX
This is what happens when I try to recreat the crds.yaml:

Error from server (AlreadyExists): error when creating "crds.yaml": customresourcedefinitions.apiextensions.k8s.io "cephblockpoolr

[2022-04-25 04:58] parth-gr commented on #10148
Looks like the teardown is was not completely successfull,

Can you remove the CRDs and create it again.
Steps:
Kubectl delete -f crds.yaml
Kubectl create -f crds.yaml

[2022-04-25 08:56] #9994 closed

[2022-04-25 11:57] fzyzcjy opened #10152 "Is Rook suitable to be used on a public cloud?"
Hi thanks for the library! I wonder whether it is suitable to be used on a public cloud? When I self-create the kubernetes cluster (using microk8s), the public cloud I am using does not provide CSI provisioners, so I want to use Rook. However, the disks attached to cloud servers are not "physical" disks that is "physically" directly connected to the server, but instead cloud disks. Therefore, I wo

[2022-04-25 12:06] fzyzcjy commented on #9470
Hi, is there any updates? This sounds like a big problem.

[2022-04-25 12:24] bitfisher opened #10153 "rook-ceph-cluster chart wrong provisioner for obejctstore storageclass"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Provisioner for StorageClass of ObjectStore uses Release.Namespace instead of oeratorNamespace
https://github.com/rook/rook/blob/29c598bc36309ce8c3447aa5a7b2afc903eb2fe7/deploy/charts/rook-ceph-cluster/templates/cephobjectstore.yaml#L16

**Expected behavior:**
Use of operatorNamespace like StorageClass

[2022-04-25 13:50] satoru-takeuchi commented on #9948
@smuth4 I succeeded to reproduce this problem. I'll try to find what commit introduced this problem as a first step.

[2022-04-25 13:58] fzyzcjy commented on #6673
Hi is there any updates?

[2022-04-25 14:20] fzyzcjy commented on #10152
@travisn Well, for cluster-on-pvc, I guess it is not possible for my public cloud. The reason is that, my public cloud does *not* provide any storage provisioner if I create my own k8s cluster (unlike AWS or GCE). That is mainly why I have to create my own.

By the way, I have just read your blog about half an hour ago, and then see your reply ;)

[2022-04-25 14:50] BlaineEXE commented on #10110
It looks like there are instances of failures including `handle_command mon_command` causing all mons to crash: https://tracker.ceph.com/issues/54558

I suspect this issue is a Kernel issue since containers still use the host kernel. This is probably an issue that should be raised with the Ceph tracker since I don't think Rook itself would be introducing this issue.

What is the version of Ceph (i

[2022-04-25 15:46] subhamkrai opened #10157 "golangCI linter should report gostatic errors"
**Is this a bug report or feature request?**
* Bug Report

Our golangCI linter not reporting go static errors but seems like static check lint is enabled by default in golangCI lint https://golangci-lint.run/usage/linters/
Maybe we updating golangCI works.
more details https://github.com/rook/rook/pull/10147#issuecomment-1108728369

**Deviation from expected behavior:**
golangCI linter does not re

[2022-04-25 16:01] subhamkrai opened #10158 "encryption-pvc-kms-vault-token-auth test is failing"
[encryption-pvc-kms-vault-token-auth](https://github.com/rook/rook/runs/6160644379?check_suite_focus=true#logs) canary test is failing in `deploy vault` stage.

error
[code]

[2022-04-25 17:30] travisn commented on #6673
Let's reopen this issue, agreed that using a non-default service account would still be preferred. There is just a related issue #10141 that we need to resolve first.

[2022-04-25 17:54] travisn commented on #9470
Would the clarification in the docs suggested [here](https://github.com/rook/rook/issues/9470#issuecomment-1095587699) be sufficient from your view?

[2022-04-25 17:57] travisn commented on #7198
Based on the previous response with link to documentation were you able to get the device classes working?

[2022-04-25 18:29] bmwinstead opened #10160 "rook-ceph-osd-prepare fails with bluestore(/var/lib/ceph/osd/ceph-1/) _read_fsid unparsable uuid"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD creation fails with

[code]

**Expected behavior:**
OSD creation succeeds

**How to reproduce it (minimal and precise):**

Unclear if it's easily reproducible outside my environment. I've tried wiping the disks as per [cleanup guide](https://rook.github.io/docs/rook/v1.4/ceph-teardown.html) and inc

[2022-04-25 18:37] galexrt commented on #9660
@travisn I haven't seen this with #10137. The PR is improving the "does the user exist in the object store" detecting in general and not just when two object stores exist.

When the PR has been merged, a fix should be to delete the `dashboard-admin` user from the object store(s) and wait till the operator has reconciled the object store(s). `radosgw-admin user rm --uid=dashboard-admin --rgw-realm=

[2022-04-25 20:30] dw86uk commented on #10148
Thanks, I've done that several times but the error is replicated, this is what happens on a delete...

dwood@F32-LAPTOP-1 rook-ceph]$ kubectl delete -f crds.yaml
customresourcedefinition.apiextensions.k8s.io "cephblockpoolradosnamespaces.ceph.rook.io" deleted
customresourcedefinition.apiextensions.k8s.io "cephblockpools.ceph.rook.io" deleted
customresourcedefinition.apiextensions.k8s.io "cephbucke

[2022-04-25 20:33] dw86uk commented on #10148
After several delete and create repeats its now working but when I come to create the cluster I get the following error

error: error validating "cluster.yaml": error validating data: ValidationError(CephCluster): unknown field "placement" in io.rook.ceph.v1.CephCluster; if you choose to ignore these errors, turn validation off with --validate=false

[2022-04-25 20:38] travisn commented on #10148
The indentation must not be correct. The `placement` should be the first-level entry, similar to indentation for `storage`, `mon`, etc.

[2022-04-25 20:38] dw86uk commented on #10148
Now fixed, user error, sorry!

[2022-04-25 20:38] #10148 closed

[2022-04-25 20:56] travisn commented on #9660
It seems I'm the only one not seeing the object store not working. Are you testing in minikube as well? Even testing with #10137 I still see that the dashboard says it is not configured.

[2022-04-25 20:58] galexrt commented on #9660
@travisn I have checked on a multi node live cluster :dagger:
Can you check if `ceph dashboard get-rgw-...key` returns something in the minikube cluster? Maybe something isn't getting correctly initialized.

[2022-04-25 21:06] travisn commented on #9660
Yes, it has a dashboard key configured in the test cluster:
[code]
I tried both with v16 and v17, restarted the mgr pod, refreshed the browser, etc, and still can't get the object store to show in the dashboard.

[2022-04-25 21:07] galexrt commented on #9660
@travisn Are you getting the same error in the logs? I'll try to reproduce it tomorrow.

[2022-04-25 21:46] travisn commented on #9660
The error in the logs is still the same as posted [earlier](https://github.com/rook/rook/issues/9660#issuecomment-1026323910).
Do you see a `dashboard` user in your cluster where it is working? Or consistent rgw user info compared to [this comment](https://github.com/rook/rook/issues/9660#issuecomment-1029457591)?

[2022-04-25 23:44] fzyzcjy commented on #9470
@travisn Well, not really... Without reading this issue, I almost forgot that sentence (because you know we have to read a lot of documentation and compare multiple storage engine etc in a short time). If it is in a big red box it may be better - but that may make people think Rook very dangerous.

[2022-04-25 23:46] fzyzcjy commented on #9470
Thus, IMHO this bug should be fixed (and of high priority - it is quite dangerous). It can be either fixed in the Rook level, or fixed by adding some protection in Helm chart, etc.

[2022-04-25 23:59] fzyzcjy opened #10164 "Small-scale deployment of Rook (e.g. 5 machines each of 4 core 8 GB memory)"
Hi thanks for the wonderful library! I wonder whether small-scale deployment of Rook is suitable? I have around 5 machines each of 4 core 8 GB memory, and need a storage provisioner. I hope it is not very memory hungry (totally <2GB), not of bad performance, and is easy to operate.

[2022-04-26 01:18] fzyzcjy commented on #2997
Hi, I am quite confused (I am new to rook). So, in my case, my disk attached to server A is running out of space. Then I enlarge that disk using consoles of my public cloud provider. Then what should I do in Rook to let it understand the disk is bigger? Will it remove all my data on the disk?

I have seen discussions above and seems that OSD does not allow resizing; but some people also suggests t

[2022-04-26 01:32] ksanislo commented on #6210
Thank you for this... it also resolved this problem on an older (started as jewel, currently 16.2.7) single-zone cluster as well.

[2022-04-26 02:11] zhucan commented on #7198
We need toi create the deviceClass manually @travisn

[2022-04-26 02:13] rust84 commented on #10160
Same issue when building a new cluster on v17.2.0. Am also running Talos.

![Screenshot 2022-04-26 015431](https://user-images.githubusercontent.com/23284108/165205251-579e605e-3bc9-4c8a-b2fe-d23fa12548af.gif)

![Screenshot 2022-04-26 015726](https://user-images.githubusercontent.com/23284108/165205260-624446ad-eaca-4d5a-892f-0a9851bb0d4a.gif)

![Screenshot 2022-04-26 015756](https://user-images.g

[2022-04-26 02:29] fengjiankui121 commented on #9920
@travisn mon's health check process is the same

[2022-04-26 02:34] fengjiankui121 commented on #9636
@travisn The rook version used by wo is v1.0.4. In this version, there is an offline function for osd, but during the offline process, when osd no longer exists in ceph, but the deploy of osd still exists, at this time, rook will still perform reweight on osd, an exception will be reported.

[2022-04-26 03:18] fengjiankui121 opened #10165 "mon: quorumStatus.MonMap.Mons changed to Quorum"
**Is this a bug report or feature request?**
* Bug Report

During mon's health check, when the mon isn't in the clusterInfo, but is in quorum and there are enough mons in quorum, remove it.

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necess

[2022-04-26 03:20] fengjiankui121 commented on #10165
The current condition for judging whether a mon should be deleted is whether there are enough mons in the monMap.The relevant code is as follows：

if _, ok := monsNotFound[mon.Name]; ok {
delete(monsNotFound, mon.Name)
} else {
if inQuorum && **len(quorumStatus.MonMap.Mons) > desiredMonCount** {
logger.Warningf("mon %q not in source of truth but in quorum, removing", mon.Name)
if err := c.removeMo

[2022-04-26 03:21] fengjiankui121 commented on #10165
It should be changed to:

if _, ok := monsNotFound[mon.Name]; ok {
delete(monsNotFound, mon.Name)
} else {
if inQuorum && **len(quorumStatus.Quorum) > desiredMonCount** {
logger.Warningf("mon %q not in source of truth but in quorum, removing", mon.Name)
if err := c.removeMon(mon.Name); err != nil {

[2022-04-26 03:22] df-bingo commented on #10160
I had the same problem and the log reported the same error. but no matter how to zapped the disk, reinstall still can't reconcile the OSDs successfully.

[2022-04-26 07:41] df-bingo commented on #8023
Also 16.2.7 still has this issue; i retested and seen this issue again happening on all hosts.

[2022-04-26 09:41] log1cb0mb commented on #10110
I suspect it to be kernel issue as well. There is no Ceph or related packages installed by default on FCOS.
I will raise the issue under Ceph tracker.

[2022-04-26 10:47] bitfisher commented on #5675
Am i missing something here?
I don't see any change when setting `enableOBCWatchOperatorNamespace` to `false`.
CM is correctly updated and even after manual restart of the operator there os no change.

[code]

Environment:

* OS (e.g. from /etc/os-release): Flatcar Container Linux by Kinvolk 3139.2.0 (Oklo)
* Kernel (e.g. uname -a): Linux 5.15.32-flatcar SMP
* Rook version (use rook version inside

[2022-04-26 11:22] bitfisher commented on #10153
Unfortunately even after setting the correct namespace for provisioner reconciling OBC fails with `unsupported provisioner`.

See https://github.com/rook/rook/issues/5675#issuecomment-1109644166

[2022-04-26 14:06] travisn commented on #10165
Thanks for pointing out this improvement, it looks technically correct to me. Would you like to open a PR with this improvement? See the [developer guide](https://rook.github.io/docs/rook/v1.9/development-flow.html#submitting-a-pull-request).

How did you find this? Did you see an issue in a live cluster where a mon was removed when it shouldn't be?

[2022-04-26 14:32] travisn commented on #2997
I believe in that case you just need to restart the OSD pod after increasing the size and the OSD will update automatically. If you see otherwise, please open a new issue.

[2022-04-26 16:29] BlaineEXE commented on #5675
Let's not co-opt this old issue to report this new issue. Let's use https://github.com/rook/rook/issues/10153 for ongoing discussions.

[2022-04-26 16:38] BlaineEXE commented on #10153
@bitfisher , there's not enough information here for us to debug. Please create a gist of the full operator logs for us to analyze. It would also help to set `ROOK_LOG_LEVEL: DEBUG` so we can get debug info from the logs as well.

[2022-04-26 18:24] #10115 closed

[2022-04-26 20:17] travisn opened #10169 "Operator should run Ceph commands with rook username(s) instead of `client.admin`"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The operator currently generates and always executes commands with the `client.admin` user. Instead, consider:
- The rook operator should generate and use a `client.rookoperator` account
- The toolbox should use a `client.rooktoolbox` account

In the mon and mgr logs, then it will be more clear the sour

[2022-04-26 21:11] travisn commented on #9470
Fixing it of course is desired, but detecting when it's an invalid environment is the challenge. Do you have a suggestion on how rook can detect when to prevent installation? Or we need to gather more logging as mentioned [here](https://github.com/rook/rook/issues/9470#issuecomment-1020136363).

[2022-04-27 00:49] fzyzcjy commented on #9470
@travisn I am not an expert here. But I guess Rook should not destroy volumes that originally have data inside it?

[2022-04-27 00:50] fzyzcjy commented on #2997
Thank you!

[2022-04-27 04:09] fengjiankui121 commented on #10165
@travisn  Yes, I would like.

[2022-04-27 06:19] chenchensheng commented on #9614
@leseb `UID in object meta:` It does appear.
When I change the second cluster `spec.crashCollector.disable` from `true` to `false`,  the log output is as follows:

[code]

And then it just keeps repeating.

[2022-04-27 06:57] tahsinrahman opened #10174 "Deleting CephNFS CRD doesn't delete exports"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Deleting a CephNFS CRD doesn't delete NFS exports

**Expected behavior:**
Deleting a CephNFS CRD should delete relevant exports

**How to reproduce it (minimal and precise):**

[code]

[code]

Then delete the CephNFS crd
[code]

verify the ceph-nfs cluster is deleted
[code]

apply the CephNFS CRD again

[2022-04-27 07:40] bitfisher commented on #10153
Unfortunately setting log level to debug via CM didn't provide more info.
Anyway [here](https://gist.github.com/bitfisher/6e02775a0e8086f8fece25dec46fe111) is the gist with all additional info's and log's.
Please let me know if there is anything missing.

[2022-04-27 09:51] #10158 closed

[2022-04-27 10:13] thotz commented on #10153
Do bucket provisioner from `rook operator namespace`, I thought of it was from the combination of `ceph cluster namespace` and `ceph.rook.io/bucket`(default value). At least in the current code flow it is using `ceph cluster namespace` [here](https://github.com/rook/rook/blob/master/pkg/operator/ceph/object/bucket/util.go#L46)

[2022-04-27 10:44] bitfisher commented on #10153
I don't get the point.
Do you mean the provisioner should be set to `ceph.rook.io/bucket` and not to `{operator-ns}.ceph.rook.io/bucket`?

[2022-04-27 10:47] bitfisher commented on #10153
Just gave it try ...
Set provisioner to `ceph.rook.io/bucket` worked ;)

[2022-04-27 12:46] thotz commented on #10153
I meant setting to `operator-ns` may not work with the current code

[2022-04-27 14:40] fzyzcjy commented on #9470
@travisn Well I am a bit confused. This bug report seems to mention the files are destroyed. So that is *existing* filesystem or partitions, so Rook should not allow using them.

[2022-04-27 14:45] TimothySutton81 opened #10178 "Mon not reaching quorum after uninstall/reinstall in k3s cluster with operator"
I have uninstalled rook-ceph and then attempt to reinstall from my k3s cluster. Some of the times this appears to work just fine with out issue other times it appears that my mon doesn't reach quorum. It seems similar to the issue that is being pointed to here https://rook.github.io/docs/rook/v1.9/ceph-common-issues.html#monitors-are-the-only-pods-running, but none of the things this is pointing a

[2022-04-27 14:56] leseb commented on #9614
It looks similar to https://github.com/kubernetes/kubernetes/issues/71139. Given that @travisn couldn't repro, could it be an issue with the etcd version?

[2022-04-27 14:59] galexrt commented on #9470
@fzyzcjy I'll try to clear up the confusion, the problem seems to be when using Kind/k3os (and similar environment where the host's disks can be seen from the node), the disks look like they are "empty" for some reason and are therefore used by Rook Ceph as OSDs, e.g., https://github.com/rook/rook/issues/9470#issuecomment-1016761244.

@leseb To get the `ceph-volume` debug logs, do I just need to s

[2022-04-27 15:38] chenchensheng commented on #9614
@leseb
Both of my two K8S clusters (version 1.19.7 and 1.19.12) encountered this problem.

[2022-04-27 16:06] bmwinstead commented on #10160
A few of us worked around it by using the default in the helm chart instead of setting it to 17.2. Seems to be a bug in that version of ceph or a rook/ceph incompatibility. Which could honestly be known by the rook team and why they haven't bumped to ceph 17😀

[2022-04-27 16:13] #9099 closed

[2022-04-27 16:16] chenchensheng commented on #9614
3.4.13-0

[2022-04-27 16:32] davesargrad commented on #10178
I've seen such issues as well.
I fear that resolving these types of sticky issues are often left to the users (guys like you and me) deploying the platform.

Such users (even those that are technical experts in linux and platform integration) typically do not have the targeted expertise to easily resolve the underlying problems.

I think that this kind of "hardening issue" slows down adoption of R

[2022-04-27 16:51] travisn commented on #10178
This error indicates Ceph is explicitly denying connection, which likely means an invalid cephx keyring. This should only happen if the dataDirHostPath was not fully cleaned up from a previous install. You're sure the [cleanup guide](https://rook.github.io/docs/rook/v1.9/ceph-teardown.html#delete-the-data-on-hosts) was fully followed, especially cleaning up the host path under `/var/lib/rook`? Cou

[2022-04-27 17:43] #10107 closed

[2022-04-27 21:24] travisn commented on #10107
@caffeinism Did you find a solution or just using the workaround? I have been meaning to look if a code fix is needed for this.

[2022-04-27 22:49] travisn opened #10180 "arm64 daily integration test is failing to run the operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Since [run 194](https://github.com/rook/rook/runs/5209079116?check_suite_focus=true) on Feb 16th, the [arm64 integration daily test](https://github.com/rook/rook/actions/workflows/daily-nightly-jobs.yml?page=3) has been failing.

No other rook or ceph pods are running besides the operator. The test jus

[2022-04-27 22:58] BlaineEXE commented on #10180
The operator logs are pretty barren. I wonder if there is an issue with the arm image build

This is the FULL operator log...
[code]

[2022-04-27 23:07] BlaineEXE commented on #10180
Here is a list of PRs merged between Feb 15 and Feb 17 (accounting for possible time zone skews). I'm looking now to see if anything could relate to arm builds or the arm nightly test: https://github.com/rook/rook/pulls?q=is%3Apr+merged%3A2022-02-15..2022-02-17

[2022-04-27 23:52] rnasani opened #10181 "Ceph cleanup job does not close OSD luks device in pvc-based CephClusters"
Checked in the rook/ceph channel https://rook-io.slack.com/archives/CK9CF5H2R/p1651073042760609

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Crypt device presence after cleanup jobs are done
[code]

**Expected behavior:**
No dmcrypt after deleting Ceph Cluster and cleanup jobs are done

**How to reproduce it (minimal and precise):**
- Configure

[2022-04-27 23:56] rnasani commented on #10181
Cleanup job log

[code]

[2022-04-27 23:58] rnasani commented on #10181
Deviceset config

[code]

[2022-04-28 00:10] bmwinstead commented on #10160
Sure I can open that. Thanks!

[2022-04-28 04:41] thotz commented on #10153
AFAIR the older version the provisioner name was only `ceph.rook.io/bucket` and @leseb  made the change to include namespace to the provisioner name and introduce `ROOK_OBC_WATCH_OPERATOR_NAMESPACE` option in Rook Operator

[2022-04-28 06:18] zamnuts commented on #9283
had an OSD go offline, would not recover in the usual way after rebooting the node. turns out the startup probe would keep restarting the OSD pod because the OSD startup was going into recovery mode (missing bluestore allocation data!) and never reaching a healthy state.

did a `kubectl edit` on the OSD pod to delete the `livenessProbe` and `startupProbe`, this relaunched the pod without probes an

[2022-04-28 08:00] #9924 closed

[2022-04-28 08:21] yuvalif opened #10182 "manage RGW Lua scripts via CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
we should support [Lua script management](https://docs.ceph.com/en/quincy/radosgw/lua-scripting/) via CRDs.
we should support both script management and luarocks dependency management via CRDs (for simplicity we should try and use the same CR for both)

**What is use case behind this feature:**
list of

[2022-04-28 14:10] Rakshith-R commented on #10141
Similar clusterrole and binding placeholder has been added for csi-nfs-nodeplugin here https://github.com/rook/rook/pull/10183

[2022-04-28 16:56] travisn commented on #10181
@leseb Is the cleanup job missing something to cleanup encrypted devices?

[2022-04-28 16:59] travisn commented on #10178
Is the issue resolved then, or you're still investigating?

[2022-04-28 17:09] travisn commented on #10182
Looking forward to the design of the CRD(s)... I wonder if we can design such that we don't need to embed the script in the yaml. Embedding a script in a whitespace-sensitive format (yaml) is just bound to cause issues. Perhaps we just include an example of how to generate the CR with the lua script plus a template so they can test the script independently before dropping it in a CR.

[2022-04-28 22:49] beegmon commented on #1960
Bumping this as being able to set the object size, strip unit, and stripe count are use in our use-case (DBs on RDB images) and being able to better tune the underlying stripe count/unit/object size to something that better matches out DB page sizes may help improve overall performance for our workload.

[2022-04-29 00:10] Daxcor69 opened #10188 "Dynamically expand or SHRINK pvc"
**What should the feature do:**
Currently there is only a provision to expand a volume.  When I look the ceph docs I find this:

Ceph Block Device images are thin provisioned. They don’t actually use any physical storage until you begin saving data to them. However, they do have a maximum capacity that you set with the --size option. If you want to increase (or decrease) the maximum size of a Ceph

[2022-04-29 00:50] niconical commented on #6819
You may need to install snapshot CRD and controller on K8S:

kubectl apply -f https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/master/client/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml
kubectl apply -f https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/master/client/config/crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
kubectl apply -f h

[2022-04-29 08:19] leseb commented on #10181
So far, there is no code to close the encrypted device after the cleanup, I can work on a small patch for this.

[2022-04-29 15:14] MurzNN commented on #10105
The Rook's `keyring-store` configuration is mounted into the `/etc/ceph/keyring-store/` directory, but, regarding to logs, cephfs mirror daemon doesn't try to find it in that directory, with keeping scan defaults directories (/etc/ceph/ceph.client.mirror.keyring,/etc/ceph/ceph.keyring,/etc/ceph/keyring,/etc/ceph/keyring.bin).

So as workaround we can manually set the keyring path via editing confi

[2022-04-29 16:18] encausticcello opened #10192 "Error upgrading rook-ceph-cluster 1.9.2 via helm"
Hi, we're attempting to upgrade a 1.8.x cluster to 1.9.2 using Helm. The operator upgrade went fine, however, when we try to upgrade we're getting the following helm error:

Error: UPGRADE FAILED: cannot patch "ceph-objectstore" with kind CephObjectStore: Internal error occurred: failed calling webhook "cephobjectstore-wh-rook-ceph-admission-controller-rook-ceph.rook.io": Post "[https://rook-ceph-

[2022-04-29 17:04] travisn commented on #10192
@encausticcello Please share the rook operator log to see if there was some error starting the admission controller.
If this is blocking your upgrade, note you can disable the admission controller with [this setting](https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph/values.yaml#L407).

[2022-04-29 17:16] encausticcello commented on #10192
I'm not seeing any errors in the operator. I have noticed 1.9.2 of the operator is frequently getting OOMKilled events and restarting. The cluster upgrade still seems to have completed, even though helm upgrade threw the error above. I tried helm upgrade again, commenting out the resources + priorityClassName in the helm chart, and the helm upgrade was successful.

However, in troubleshooting an i

[2022-04-29 17:44] ondrej-smola commented on #10192
Same here,
when upgrading from 1.9.0 to 1.9.2 using ansible/helm got

`
fatal: [k8s-master1.maas]: FAILED! => {"changed": false, "command": "/usr/local/bin/helm --version=v1.9.2 upgrade -i --reset-values --values=/etc/ng/ceph.yml rook-ceph-cluster rook/rook-ceph-cluster", "msg": "Failure when executing Helm command. Exited 1.\nstdout: \nstderr: Error: UPGRADE FAILED: cannot patch \"ceph-objectstor

[2022-04-29 18:26] encausticcello opened #10193 "Issue configuring ingress"
Hi, I'm having issues getting a custom ingress to work (helm chart v1.9.2) Please review my values.yaml and let me know if I'm missing something. Thanks!

[code]

[2022-04-29 18:47] encausticcello commented on #10193
This is the ingress manifest helm is creating:

[code]

It looks like the service that is being rendered is using a different port name:

[code]

[2022-04-29 19:18] travisn commented on #10192
Were the operator and cluster charts upgraded around the same time? Perhaps the operator just happened to restart at the time the cluster chart was updated. If the operator is down it would cause the error, but a retry will likely succeed since the operator was only down temporarily.

[2022-04-29 21:06] travisn commented on #10192
That's helpful, the 256Mi default must not be sufficient for the memory limit.

[2022-04-30 18:18] onedr0p commented on #1507
I experienced this issue as well. I am using a `Deployment` with a strategy of type `Recreate` and there's a ceph-block volume attached. My node died overnight and there was a pod stuck in `Terminating` and a new one stuck in `ContainerCreating`.

I was recalling my time using Longhorn and in their documentation they have a specific section on how to handle this issue [here](https://longhorn.io/do

[2022-04-30 20:02] #9454 closed

[2022-04-30 20:02] #6291 closed

[2022-05-01 08:46] spdfnet commented on #9470
Rook has always ignored existing ext4 filesystems while using 'useAllDevices: true'.

[2022-05-01 09:09] spdfnet commented on #9831
Given some other open issues in Ceph and this very same repo, the new behaviour is unreliable and not properly tested.

[2022-05-01 16:57] yuvalif commented on #10182
i don't see an easy option if the lua code is not in the CR.
trying to point to a file would be difficult since it probably won't be accessible from inside the operator.

according to this: https://yaml.org/spec/1.2-old/spec.html#id2760844
it should be possible to embed literal string so that the yaml ignores newlines, spaces etc. in the string.
do you think this would be an option?

[2022-05-01 17:13] yuvalif commented on #10182
an initial proposal
based on the last example from [here](https://docs.ceph.com/en/quincy/radosgw/lua-scripting/):
[code]

[2022-05-02 09:08] Aurorxa opened #10194 "document description error"
**Is this a bug report or feature request?**
* Bug Report
  there has a command in this page "https://rook.io/docs/rook/v1.9/quickstart.html",
[code]
when i use this command in k8s (v1.21.10) ，i found this error，csi-cephfsplugin-provisioner and csi-rbdplugin-provisioner is alaways 5/6 and CrashLoopBackOff ，but when is use the following command，i found the error disappear
[code]

**Deviation from e

[2022-05-02 10:32] yuvalif commented on #10182
another issue is the fact that we can have only one script per "context".
because the CRs are named, we can have multiple CRs for the same context, but only one of them can apply,
any idea on how we should represent this?

[2022-05-02 13:59] travisn commented on #10194
@Aurorxa Do you have the pod logs and the pod description for the pods in crashloopbackoff? There isn't enough info to debug here. And it must be a coincidence with the commands you used to get the repo since there would be no difference in those two methods for how the pods are created. But more details will help determine.

[2022-05-02 16:22] yuvalif commented on #10182
suggested different structure to allow for bindings other than lua (e.g. web assembly):

based on [the "storage class" example](https://github.com/ceph/ceph/blob/master/examples/lua/storage_class.md) with relatively simple script embedded in the yaml:
[code]

based on [the "elasticsearch" example](https://github.com/ceph/ceph/blob/master/examples/lua/elasticsearch_adapter.md) with complex script r

[2022-05-02 16:24] yuvalif commented on #10182
as discussed. we would verify a single CR per context and tenant (and runtime, in the future).
we would reject a CR for the same context/tenant with a different name.
updates of the script using the same CR would be allowed.

[2022-05-02 17:40] taxilian opened #10196 "Default startupProbe isn't long enough to allow for OSD repairs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When an OSD needs to be repaired it should be repair itself except in particularly exceptional circumstances; in my case after having some server issues where I had to restart several I had 8 different OSDs which needed to be repaired but kept getting killed by the startupProbe timeout before they fin

[2022-05-02 17:47] travisn commented on #10193
@encausticcello What version of Rook are you installing? This may be fixed in v1.9.2 by the fix for #10132.

[2022-05-02 18:08] encausticcello commented on #10193
I've installed v1.9.2l https://github.com/rook/rook/tree/v1.9.2/deploy/charts/rook-ceph-cluster

[2022-05-02 18:38] encausticcello commented on #10193
In the helm values supplied above, I would expect the port name of the service to be "https-dashboard," since that's the backend service the ingress object is pointing to. However, it appears that the Rook operator is creating the service incorrectly with the port name "http-dashboard," even though dashboard.ssl=true is configured in cephClusterSpec.

[2022-05-02 18:40] #10192 closed

[2022-05-02 18:56] travisn commented on #10193
The operator should create the correct `https-dashboard` name for the service as seen here. https://github.com/rook/rook/blob/v1.9.2/pkg/operator/ceph/cluster/mgr/spec.go#L294-L297

Perhaps the operator is getting stuck and not reconciling. Are there any errors of note in the operator log? If you delete the service, then restart the operator, do you see the service created correctly after a couple

[2022-05-02 19:08] encausticcello commented on #10193
Ah, I see the issue. I'm setting  dashboard.ssl: true in the Helm chart, but after running helm upgrade, the changes are not happening in the CephCluster CRD object. Should I try editing the CRD object directly?

[2022-05-02 19:17] travisn commented on #10193
You're adding dashboard.ssl in the cluster chart (and not the operator chart), right? I would think the helm upgrade would apply the settings. But if helm isn't upgrading it, manually updating it may be necessary.

[2022-05-02 19:20] encausticcello commented on #10193
Yes, I'm using the rook-ceph-cluster chart and setting these via Helm:

[code]

[2022-05-02 19:27] encausticcello commented on #10193
Strangely, as I'm attempting to enable/disable SSL settings, the admissions controller error is popping up again. Even though Helm upgrade fails, the cluster is still reconciling. The operator isn't restarting though - I'll post operator logs once the cluster has been reconciled again here shortly

[code]

[2022-05-02 19:34] encausticcello commented on #10193
I disabled the dashboard, and then attempted to re-enable it, to see if the SSL settings would work. I got the admissions controller error again. Re-enabling the dashboard seems to have failed due to another error. However, I'm wondering if since the admissions controller error keeps popping up, maybe not all settings are getting applied to the cluster via Helm upgrade? Here's the operator logs:

[2022-05-02 20:13] encausticcello commented on #10193
Just FYI, whenever I'm having issues with the admission controller, restarting the operator seems to fix it temporarily. However, even after performing a successful Helm upgrade operation, it's not updating the dashboard settings for some reason. I was able to work around this though, by editing the CephCluster CRD object directly, and now the ingress is working.