[2018-10-16 17:45] Amos-85 commented on #779
Hi @IlyaSemenov,
you'll need to separate the osd to empty host directory that not sit on zfs dataset,
there is no issue the monitor data will be on zfs dataset,
if you don't set osd directory, the osd store object will mount on the same rook directory tree.

something similar to that configuration

[code]
I'm also using zfs on my servers and this configuration works for me,
Cheers.

[2018-10-16 19:00] jbw976 commented on #2062
as @rohan47 indicated in Slack, that seems reasonable so far to use the NFS provisioner from external-storage.  There may be more that is discovered as this gets taken further, but up front that seems OK.

[2018-10-16 19:38] rohan47 commented on #2037
@tsullens as per the code, It can take squash option other than `none`, but there is no code that validates the squash option. I am updating the feature request.

[2018-10-17 00:49] tsullens commented on #2037
@rohan47 that's what I thought after looking through the code, thanks for clarifying and clearing this up.

Am I right in believing the validation for this should happen in the [NFSController](https://github.com/rook/rook/blob/master/pkg/operator/nfs/controller.go)? If that is the case, I'm wondering what should happen if the squash option is invalid? Defer to the default none? Log an error and di

[2018-10-17 01:53] dimm0 commented on #2221
Already have 2 objects

[2018-10-17 06:04] IlyaSemenov commented on #779
On an another note, https://github.com/zfsonlinux/zfs/issues/224 has been closed a couple months ago (via https://github.com/zfsonlinux/zfs/pull/7823) and Direct IO is told to be available in zfs 0.8. Not sure if it will be directly supported by Cephs then.

[2018-10-17 10:42] wizurijyq opened #2223 "rook is using one node only for the storage"
* Bug Report

**Deviation from expected behavior:**
rook storage directory is created only on one node instead of being spread across the cluster. This leads to the pods running out of space quickly.

**How to reproduce it (minimal and precise):**
Create a cluster of a master and one worker
[code]
[code]
**Environment**:
* OS (e.g. from /etc/os-release): ubuntu 16
* Kernel (e.g. `uname -a`):ubuntu

[2018-10-17 10:47] galexrt commented on #2223
Do you want Rook Ceph components (e.g., OSDs and so on) to also be run on the master node? If so make sure to either remove the master taint from the master node or make sure you add the appropriate tolerations in the Cluster `placement` part.

[2018-10-17 18:58] billimek opened #2224 "mon pod stuck in crash loop"
* Bug Report

**Deviation from expected behavior:** After a reboot of a 3-node cluster, one of the three mons was stuck in a reboot loop. (see below for more details/logs)

**Expected behavior:** When rebooting a node, mons should start-up cleanly or clearly describe what the issue is if they are not able to start.

**How to reproduce it (minimal and precise):**  In this instance, it occurred afte

[2018-10-18 02:03] jbw976 commented on #1810
Any luck on getting helm charts working for you and understanding them deeper @farhaanbukhsh? if you have questions on Slack about development work in the Rook project and/or on CockroachDB support in Rook, feel free to @ mention me directly so I see it :)

[2018-10-18 02:07] jbw976 commented on #1703
That's correct @christianhuening, in both master and the 0.8 release branch, the OSD controller will disable scrubbing at the beginning of its reconcile attempt and defer the re-enabling of scrubbing until it returns, regardless of the OSD orchestration work it is going to do: https://github.com/rook/rook/blob/release-0.8/pkg/operator/ceph/cluster/osd/osd.go#L136

[2018-10-18 03:12] tsullens commented on #2037
I'm really not sure what I was thinking in the previous comment, the feature request pretty clearly points out what we should do for an invalid squash option.
I have opened a branch which has the changes for this and https://github.com/rook/rook/issues/2036, since it makes sense to validate all of these at once.
Ignore the first two commit references, I botched the branch for that and just opened

[2018-10-18 03:48] #1636 closed

[2018-10-18 08:58] rocket1024 commented on #597
hi matejc
met same issue, could u show how to add this group permission into ca?

[2018-10-18 09:01] cnicy opened #2227 "How to set rook-ceph-mgr HA"
I am deploying according to the official documentation:
https://rook.io/docs/rook/v0.8/ceph-quickstart.html
But rook-ceph-mgr is only one
How to set rook-ceph-mgr HA

[root@Master rook]# kubectl -n rook-ceph-system get pods -o wide
NAME                                 READY   STATUS    RESTARTS   AGE   IP                NODE       NOMINATED NODE
rook-ceph-agent-bhdks                1/1     Running

[2018-10-18 13:09] rocket1024 commented on #2217
how to try these in k8s by kubectl command?
-subj "/CN=admin/O=system:masters"

[2018-10-18 16:09] jamstar opened #2228 "add ROOK_HOSTPATH_REQUIRES_PRIVILEGED to operator helm chart"
in https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml
exists
- name: ROOK_HOSTPATH_REQUIRES_PRIVILEGED
  value: "false"

I run centos with selinx on my environment so had to add this manually to the https://github.com/rook/rook/blob/master/cluster/charts/rook-ceph/templates/deployment.yaml.  It would be really nice if this was added to the helm operator chart a

[2018-10-18 17:33] AceHack opened #2229 "consider local persistent volume support"
Consider local persistent volume support please.

[2018-10-18 17:38] jbw976 commented on #2229
Thanks for your input @AceHack. I think this is already covered by #796 and #919.  @galexrt is working on #919 right now in PR #2132, which according to https://github.com/rook/rook/issues/796#issuecomment-428460102 should cover this scenario.  I'm going to close this issue and continue tracking in the linked issues.

[2018-10-18 17:38] #2229 closed

[2018-10-18 19:37] galexrt commented on #2228
@jamstar Would you like to open a PR to add this to the Helm chart?

[2018-10-18 19:40] galexrt commented on #2217
Do you have PodSecurityPolicies admission controller enabled in your cluster?
Try creating the PodSecurityPolicies from the Rook RBAC page: https://rook.io/docs/rook/v0.8/rbac.html#rbac-for-podsecuritypolicies.

[2018-10-18 19:43] galexrt commented on #2227
Currently that is not possible due to "issues" in the Ceph MGR.

I'm closing this issue in favor of #1796 as it is tracking to run (at least) two (or more) MGRs and/or clear up if it is even viable to run more than one Ceph MGRs.

[2018-10-18 19:43] #2227 closed

[2018-10-18 19:58] galexrt commented on #2174
@dimm0 As an idea, could you use the https://github.com/digitalocean/ceph_exporter as a "workaround" for metrics till the RGW + MGR prom module issue is fixed? (and disable the Prometheus module using a CronJo (operator will enable the module again on every start)).

[2018-10-18 22:58] steebchen opened #2231 "Rook ignores placement options with existing cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook ignores/resets the `placement.all.nodeAffinity` in the kubernetes cluster resource after editing it and restarting the rook operator:
[code]

**Expected behavior:**
Setting:
[code]
and restarting the rook operator, seeing the same settings in the cluster resource.

**How to reproduce it (minimal a

[2018-10-19 08:32] rocket1024 commented on #2217
still fail, while nfs can work, and I also use below policy role and bindings, but same issue. does the name "privileged-psp-user" need to be change?
I know coreos would have already integrate CA with system:master, but for other platform, I believe all has this permission issue, any ideas?

https://github.com/kubernetes/examples/tree/master/staging/podsecuritypolicy/rbac

[2018-10-19 12:37] EdSchouten opened #2232 "Cockroach operator: Add resource limits to Cockroach pods"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Right now, resource limits for Cockroach containers cannot be specified. They are created without any limits in place. Ideally, the cluster configuration should allow you to specify the amount of CPU and memory.

**What is use case behind this feature:**
There are clusters on which per-container resourc

[2018-10-19 16:19] rootfs opened #2233 "instructions to use ceph-csi drivers with rook"
**Is this a bug report or feature request?**
* Feature Request
Per slack chat, we need to get instructions how to use ceph-csi to consume storage provisioned by rook. Specifically:

- instructions to deploy ceph-csi drivers on k8s 1.12
- create storage classes that use rook provisioned ceph storage
- additional ceph-csi features such as snapshot

**What should the feature do:**
have the above docu

[2018-10-19 16:20] rootfs commented on #2233
@mickymiek can you take this issue? thanks

[2018-10-19 17:46] travisn commented on #2221
@dimm0  Rook doesn't do anything currently to configure the resharding, but according to the docs resharding is enabled by default. Perhaps you need to add the bucket to the resharding queue with the command from the toolbox?
[code]

[2018-10-19 17:46] liewegas commented on #919
One quick note:  the two primary use-case I see are (1) provisioning EBS volumes to back OSDs, and (2) provisioning NVMeoF volumes to back OSDs.  In both cases, I assume the block PVs are what we want.  File-based PVs to back OSDs are IMO of limited interest/usefulness.

[2018-10-19 18:14] jamstar commented on #2228
sure! ive never done one before on github so i will have to work through it.  but it sounds like fun! ill start working on it next week.

[2018-10-19 19:09] wallnerryan commented on #1790
thanks @ToroNZ  on kubernetes 1.12 and rook/ceph 0.8 and had to restart kubelet as well on 1/3 workers. All plugin directories were there otherwise, and restart fixed a stuck `ContainerCreating`

[2018-10-19 20:15] travisn commented on #2228
@jamstar that would be great, let us know what questions you have along the way! To get started, you'll want to follow our [development guide](https://rook.io/docs/rook/v0.8/development-flow.html) to create a fork, branch, etc.

[2018-10-20 13:09] rohan47 commented on #2037
The PR for this looks good to me, It will be good to have the unit tests and the integration tests which you mentioned that you can handle :)

[2018-10-21 10:29] jan--f commented on #1342
I have a few comments inline and thoughts regarding this. I'm fairly ignorant how rook deploys OSD's currently so feel free to tell me to rtfm if I'm missing crucial points.

While ceph-volume supports raw block devices for some application (wal/db and journals) I think there is an argument to be made for limiting ourselves to LVM, mostly for ease of management. Imho it's easier to manage logical

[2018-10-22 05:50] travisn commented on #1342
As far as rook's creation of OSDs currently we kept it as simple as possible with two options. See [this section](https://rook.io/docs/rook/v0.8/ceph-cluster-crd.html#storage-selection-settings) for a few more details on these settings. The user can specify:
1. A raw device such as `sda`. Rook will partition it, call `ceph-osd mkfs` and start the osd. See the sample [with specific devices](https:/

[2018-10-22 10:01] snowmansora commented on #1501
@travisn
For some unknown reason, I encounter less of this issue now, but I still hit the issue like once per 20 K8s nodes generated by automation.

I am now deploying the following DaemonSet to workaround the issue:
[code]

When the issue occurs, I manually tried to deploy the above DaemonSet, and it fixes the issue for me. Hence, I have included that in my deployment automation now. I will let i

[2018-10-22 10:12] snowmansora commented on #1501
@travisn
For some unknown reason, I encounter less of this issue now. However, I still encounter it 1/~20 K8s nodes deployed by automation.

I am now using the following DaemonSet to workaround the issue:
[code]

Tried to deploy the above workaround manually when the issue occurs, and it seems to work. Now, I am deploying it during my automation.

However, the above workaround is not that good, as

[2018-10-22 14:40] travisn commented on #1501
@snowmansora thanks for trying that out. Are you saying that even with this workaround you still see the issue on about 5% of the nodes? Or was that before this workaround?

[2018-10-23 00:37] dimm0 commented on #2174
@galexrt hmm... would I need to rebuild the grafana dashboards?

[2018-10-23 02:17] snowmansora commented on #1501
@travisn
The 5% is before the workaround.
I just applied the workaround to automation yesterday, so it will take some time for it to run multiple times to confirm the workaround is working for me.

[2018-10-23 06:53] apacoco9861 opened #2235 "Rook Cluster Update not work (cannot add node to ceph cluster automatically when new node added to K8s)"
**Is this a bug report or feature request?** Yes
* Bug Report

**Deviation from expected behavior:** New nodes added to k8s but not reflected to cluster update.

**Expected behavior:** New nodes added are expected to join rook-ceph cluster

**How to reproduce it (minimal and precise):**

**Environment**: Ubuntu 18.04
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`): `Linux pro-docker-2

[2018-10-23 14:47] jbw976 commented on #2235
@apacoco9861 does this comment help explain your case? https://github.com/rook/rook/issues/2112#issuecomment-427142789

Do you have the rook-ceph operator logs?

[2018-10-23 17:39] #1905 closed

[2018-10-23 18:13] dimm0 commented on #2164
I was thinking about this and two questions came to my mind:
1. When ceph will make multiple filesystems available, and we'll want to separate ours to a fast (NVMEs) one and large (spinning drives), or to separate regions etc, will you have to redo this? Will users be able to choose which filesystem the secret belongs to?
2. Would it be possible to specify credentials for different mountpoints of

[2018-10-24 01:54] apacoco9861 commented on #2235
Thanks for your information. It works. Many thanks.

I have added operator.yaml
        - name: DISCOVER_TOLERATION
          value: "PreferNoSchedule"
        - name: AGENT_TOLERATION
          value: "PreferNoSchedule"
        - name: OSD_TOLERATION
          value: "PreferNoSchedule"

root@pro-docker-2-62:~/rook/cluster/examples/kubernetes/ceph# kubectl -n rook-ceph get all
NAME

[2018-10-24 08:10] apacoco9861 commented on #2235
when you kubectl delete pro-docker-2-66 and kubeadm --join, the rook cluster still unable to detect.

need to manual change operator.yml and cluster.yml
to comment and comment out
(in operator.yml)
- name: DISCOVER_TOLERATION
value: "PreferNoSchedule"
- name: AGENT_TOLERATION
value: "PreferNoSchedule"
- name: OSD_TOLERATION
value: "PreferNoSchedule"

(in cluster.yml) switch useAllNodes to false, a

[2018-10-24 08:13] rocket1024 opened #2236 "failed to run rook ceph agent. failed to create volume manager Failed to complete 'check builtin kmod': exit status 1"
failed to run rook ceph agent. failed to create volume manager Failed to complete 'check builtin kmod': exit status 1

rook-ceph-system   rook-ceph-agent-nlmgm                              0/1     CrashLoopBackOff   6          7m34s
rook-ceph-system   rook-ceph-agent-ss5mf                              0/1     CrashLoopBackOff   6          7m34s
rook-ceph-system   rook-ceph-agent-xp7rd

[2018-10-24 08:29] apacoco9861 opened #2237 "rook osd id reassignment problem"
**Is this a bug report or feature request?** Yes
* Bug Report

**Deviation from expected behavior:** When you ceph osd crush remove osd.4 (let say) this osd id will be assigned to new host. When you add back the previous host assigned osd.4, it will have osd.10 (let say), however, both osd.10 and osd.4 pod will assign to this host and crash the reassigned osd.4

**Expected behavior:** Only newly a

[2018-10-24 15:38] rootfs opened #2238 "capture ceph-csi integration plan discussion"
This is to capture chats and community discussions around ceph-csi integration

The initial csi deployment is to leverage [existing ceph-csi deployments](https://github.com/ceph/ceph-csi/tree/master/deploy) . #2234 has a detail walkthrough.

Second stage is to import ceph-csi pkg and build a `rookflex` equivalent executable. Rook operator will create appropriate deployment for the executable on ku

[2018-10-24 20:20] dimm0 commented on #1869
No progress on this yet?

I'm thinking about moving journal to faster drives, and I don't see any tips on how to do it in rook and what the caveats may be. Is that tested in rook?

[2018-10-25 15:37] gman0 commented on #2238
I'll pick up https://github.com/ceph/ceph-csi/issues/66 right after the summit if nobody else will do so by then.

[2018-10-25 17:58] travisn commented on #1957
The default directory should really only be used in test scenarios, but should still look at this...

[2018-10-25 19:08] BlaineEXE opened #2239 "ceph: cannot create object/rgw with ROOK_LOG_LEVEL="DEBUG""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook fails to create object storage or rgw's for a Ceph cluster when the `operator.yaml`'s `ROOK_LOG_LEVEL` is set to `"DEBUG"`.

**Expected behavior:**
Rook should be able to create object storage and rgw's for Ceph regardless of log level.

**How to reproduce it (minimal and precise):**
Set in Ceph's

[2018-10-25 19:13] BlaineEXE commented on #2239
@travisn @liewegas @dmick @jecluis :
Thoughts anyone?

[2018-10-25 19:19] dimm0 opened #2240 "Scrubbing is preventing cluster updates"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Changing the cluster CRD doesn't cause changes to the cluster with error:

[code]

**Expected behavior:**
Scrub is disabled before making changes

**How to reproduce it (minimal and precise):**
Try to make changes in provisioned cluster.
Manually setting noscrub and nodeep-scrub doesn't help since oper

[2018-10-25 19:40] dimm0 commented on #1592
Still seeing this in 0.8.2
Deleting a volume manually can take a couple hours.

[2018-10-25 20:10] dimm0 opened #2241 "Error starting a pod with a block volume attached"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Can't mount a block volume on node with flex driver, but mounts fine in tools

[code]

Logs from the rook-ceph-agent:
[code]

The volume has 300K files on it.

**Expected behavior:**
All volumes can be mounted by flex volume

**How to reproduce it (minimal and precise):**
Not sure how to debug this

**

[2018-10-25 22:44] travisn commented on #1342
After prototyping with ceph-volume in rook, I've started a design doc capturing the approach. @jan--f and everyone else on this issue, comments requested on #2242!

[2018-10-25 22:57] dmick commented on #2239
If radosgw-admin is documented to output JSON, it should output JSON, and it's a bug that higher verbosity pollutes that JSON (verbose logging should come to stderr).

[2018-10-25 23:11] dmick commented on #2239
so actually it's probably the librados logging controlled by, likely, the ceph logging options.  I would have thought log_to_stderr=true is the way we run, but this may not be true

[2018-10-25 23:16] dmick commented on #2239
this is "log file = /dev/stdout" in the config file.  A possible workaround is to add "--log-to-stderr=true" to the invocation of radosgw-admin, although I admit I'm a little surprised that *all* logging is going to stdout; I would have thought it would be stderr.

[2018-10-25 23:48] dimm0 opened #2243 "No retries for cluster update"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Related to https://github.com/rook/rook/issues/2240
After failing once to remove a node from the cluster, it never retries to do this again. The only way to retry is to restart the operator or to change something else.

**Expected behavior:**
The operator retries delete a node after a failure

**How to

[2018-10-25 23:49] dimm0 commented on #2164
@galexrt Could you please look at these questions?

[2018-10-26 00:01] dimm0 commented on #2241
Is there some sort of timeout on mount? Sometimes it takes longer to mount one...

Logs from dmesg:
[code]

[2018-10-26 07:44] bjornryden commented on #2174
From my vague memory, some metrics changes paths and some are added/removed. I think overall the metrics from the 3rd party exporter had more information than the build in one, but it's a year back since I looked at it.
I'm happy to rebuild the Grafana dashboard if it's just providing the json. If it's "scripted" dashboard, it's a bit beyond me at the moment.

[2018-10-26 07:47] galexrt commented on #2174
@dimm0 @bjornryden I think my dashboards were once compatible with the ceph exporter, so you can take a lucky guess and use an older revision from Grafana.com:
* "Ceph - Cluster" https://grafana.com/dashboards/2842/revisions
* "Ceph - OSD" https://grafana.com/dashboards/5336/revisions
* "Ceph - Pools" https://grafana.com/dashboards/5342/revisions

[2018-10-26 07:55] galexrt commented on #2164
@dimm0
1. You specify the name of the filesystem in the flexvolume parameters/StorageClass so the "credentials" will only be used for the flexvolume mount/StorageClass. No, the code is to "simply" use `mountUser` and get the `mountSecret` contents during the mount process. If there are multiple filesystems, the `fsName` parameter changes, which goes through the same mounting process.
2. Yes, you c

[2018-10-26 08:58] snowmansora commented on #1501
@travisn FYI: After running the automation number of times which deployed around 100 nodes, all of the nodes can mount rook ceph block storage, so the workaround seems to be working for me.

[2018-10-26 14:37] travisn commented on #1501
@snowmansora great to hear the workaround is working! then we should integrate a similar workaround into the rook agent.

[2018-10-26 17:49] dimm0 commented on #2174
At this point we're good with a single mgr

[2018-10-26 22:58] BlaineEXE commented on #2239
I think the problem with changing the log file to `/dev/stderr` is that containers are supposed to log to stdout. I don't believe stderr will show up in container logs, which would mean `kubectl logs <pod>` wouldn't return any information sent to stderr. @travisn am I correct here?

[2018-10-27 00:09] dmick commented on #2239
I believe both stdout and stderr are captured by Kube: https://kubernetes.io/docs/concepts/cluster-administration/logging/#logging-at-the-node-level  But there may be other reasons that everything was set to stdout.

[2018-10-27 17:04] galexrt commented on #2203
Added to v0.9 project as this is a small thing to do and partly done on my local branch.

[2018-10-28 10:11] rocket1024 opened #2246 "does rook bluestore osd support over lxd disk passthrough"
Is this a bug report or feature request?

    Bug Report: yes
    Feature Request

Bug Report:rook seems has issue support lxd disk passthough for bluestore binding of osd

Expected behavior:bluestore as ssd should be support osd over lxd disk passthrough

Deviation from expected behavior:
kc log rook-discover-xjpjp -n rook-ceph-system
2018-10-28 11:27:25.027665 W | inventory: skipping device nvme

[2018-10-28 10:13] rocket1024 commented on #2236
WA by using below helm install, close it

helm repo add rook-beta https://charts.rook.io/beta
helm install --namespace rook-ceph-system rook-beta/rook-ceph

[2018-10-28 10:13] #2236 closed

[2018-10-28 10:17] galexrt commented on #2246
@rocket1024 Please fill out the issue template (https://github.com/rook/rook/blob/master/.github/ISSUE_TEMPLATE.md) and use gist snippet/code blocks for the posted manifest so we know if the indention is correct.

[2018-10-28 11:40] rocket1024 commented on #2246
while filestore type with default setting is woking properly., when I switch to bind nvme disks, it fail launch the pod, but from discover logs, seems has issue with lsblk nvme bock, I have try unformat/format/partion both not working, but lsblk from host seems quick fine
nvme0n1     259:1    0 232.9G  0 disk
└─nvme0n1p1 259:2    0 232.9G  0 part
nvme1n1     259:0    0 232.9G  0 disk
└─nvme1n1p1 2

[2018-10-29 18:18] BlaineEXE commented on #2239
It does look like I was mistaken. This seems like a pretty quick investigation/fix. I'll get a PR up soon, and we can have more discussion about whether there are other reasons to not use `/dev/stderr`.

[2018-10-29 20:00] #1501 closed

[2018-10-30 02:04] dimm0 commented on #2240
Anybody?
Can't delete and re-add a node from the cluster to move journal to a faster disk... (or is there an easier way to do it?)

[2018-10-30 14:39] #2239 closed

[2018-10-30 17:52] dimm0 commented on #2112
https://gitlab.com/ucsd-prp/prp_k8s_config/blob/master/rook/rook-nautilus.yaml#L43

[2018-10-30 18:52] galexrt commented on #1943
I still want this, assigning to me for the weekend.

[2018-10-30 19:44] lbogdan opened #2248 "Creating a PVC takes a long time (~30 seconds)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Creating a ceph PVC takes a long time (~30 seconds).

**Expected behavior:**
Creating a ceph PVC should take a few seconds.

**How to reproduce it (minimal and precise):**
Create a ceph PVC when 1000+ PVCs already present.

**Environment**:
Not relevant.

Looking at the source, [`CreateImage()`](https:

[2018-10-30 19:50] travisn commented on #2248
since we know the pool and image name, I don't see any reason we would iterate through all of them. makes sense to query directly for the one needed.

[2018-10-31 06:13] farhaanbukhsh commented on #1810
Awesome I have pinged you and got a way to proceed will be actively working on this.

[2018-10-31 17:51] lkhomenk opened #2249 "true/false values in Affinity section"
* Bug Report

**Deviation from expected behavior:**
cluster creation with such affinity will fail
[code]
with operator error like:
[code]
quoted values are just fine

**How to reproduce it (minimal and precise):**
create cluster with affinity similar to above

**Environment**:
* OS (e.g. from /etc/os-release): CentOS 7
* Rook version (use `rook version` inside of a Rook Pod): 0.8.3
* Kubernetes ve

[2018-10-31 18:54] galexrt commented on #2249
This is not a "direct" issue with Rook. The Kubernetes `nodeAffinity` structure does only take values of type `string` in the `values` list.
See the Kubernetes API reference https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#nodeselectorrequirement-v1-core.

An issue exists to implement CRD validation which will then hopefully prevent a malformed object to be "deployed" to Kubern

[2018-10-31 21:33] tibers opened #2250 "FLEXVOLUME_DIR_PATH might not be being passed into operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
CEPHs comes up, the cluster looks happy from the external dashboard, nothing is crashing. However, provisioning pods which are supposed to consume the storage seem to be unable to map PVs.

Additionally in the operator logs I see verbiage like:
[code]

Inside of operator.yaml I have:

[code]

So it loo

[2018-10-31 21:37] tibers commented on #2250
I am an idiot and installing the operator from helm which is why the values in the yaml aren't being picked up.

[2018-10-31 21:37] #2250 closed

[2018-10-31 21:48] DMP2-Tech opened #2251 "PVC is pending"
Hi,
When i create a PVC this status is pending. I delete storageclass.yaml and i recreate. But i have an error` error: unable to recognize "storageclass.yaml": no matches for kind "Pool" in version "ceph.rook.io/v1beta1" `

Can you help me ?

[2018-11-01 07:35] jnummelin opened #2252 "Discovery not working with CRI-O >= 1.11.7"
**Is this a bug report or feature request?**
* Bug Report

Mainly to give heads-up for other users running with CRI-O and to track the related CRI-O issue.

**Deviation from expected behavior:**
Discovery pod broken:
[code]

**Expected behavior:**

Smooth sailing :)

**How to reproduce it (minimal and precise):**

Run Rook with CRI-O runtime, version 1.11.7+. 1.11.6 (and I expect older ones too) w

[2018-11-01 12:12] lkhomenk commented on #2249
@galexrt  thanks for pointing that out. that issues covers this one totally

[2018-11-01 12:12] #2249 closed

[2018-11-01 13:59] travisn commented on #2252
@jnummelin thanks for reporting so other users can be aware of the issue. just to be clear, there is no change you're expecting on rook's side, right?

[2018-11-01 14:38] jnummelin commented on #2252
Nope, no changes should be needed as this seems to be fully a bug on CRI-O side how they add some default flags to host mounts.

[2018-11-01 20:08] #1000 closed

[2018-11-01 20:25] #2143 closed, assigned to travisn

[2018-11-01 22:29] jbw976 commented on #2240
The warning in the log indicates that the operator will only think it's safe to remove a node when every single PG on the node is in `active+clean` state.  That may be too aggressive, but it's good to understand why not all the PGs are clean for that node.

@dimm0 do you have any insight into why the PGs on `k8s-nvme-01.sdsc.optiputer.net` are not returning to the `active+clean` state? There are 4

[2018-11-01 22:51] travisn commented on #2213
With #2187 merged the modules are enabled. However, there is an error where enabling rook as the backend fails, which will require an update to the base ceph image.

[2018-11-01 23:19] dimm0 commented on #2240
The operator thinks that scrubbing is bad, thus the error. We have scrubbing going all the time somewhere in the cluster..

[2018-11-01 23:19] dimm0 commented on #2240
When these 4 return to clean, some other ones will be scrubbed

[2018-11-01 23:20] travisn commented on #1315
/needed

[2018-11-02 00:10] jbw976 commented on #1804
This effort was started in #1866 and we should finish it.  Removing @tonya11en from this issue.

[2018-11-02 01:36] #2036 closed

[2018-11-02 08:44] galexrt commented on #1604
A PR is currently open #2144 to fix the issue that a deleted filesystem is not correctly cleaned up.

@rm-rf-etc That is not how you delete (just) the filesystem.
Deleting the `dataDirHostPath` will delete important cluster state (depending on your Ceph Cluster setup not only mon data but may also OSD data).
If you want to delete the "existing" filesystem, delete the object in Kubernetes `kubectl

[2018-11-02 17:38] jjgraham commented on #2221
Now fighting
LARGE_OMAP_OBJECTS 21 large omap objects
    21 large objects found in pool 'rooks3.rgw.buckets.index'
    Search the cluster log for 'Large omap object found' for more details.

[2018-11-02 17:42] dimm0 commented on #2221
`radosgw-admin reshard` is done on large buckets, `radosgw-admin  bucket limit check` is now happy for all buckets

[2018-11-02 18:32] dimm0 opened #2253 "Rook is deleting OSDs from nodes which are temporarily disabled"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently rook operator is checking whether OSD tolerations allow OSDs to be running on every node, and if not, the OSDs will silently not be created on a node. Also it will REMOVE the OSDs from such a node on restart if it finds that tolerations are not matching. This causes 2 issues:
1st issue:
https:

[2018-11-02 19:27] dimm0 opened #2254 "Container mounting CephFS with fsGroup stuck in ContainerCreating"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Starting the container with this definition:

[code]

The container stays in "CoontainerCreating" for a long time and never starts.

Logs from rook-ceph-agent on the node:

[code]

Once I comment out the fsGroup line, all works fine.

What's weird is that issue starts sometimes, and other times all wor

[2018-11-02 19:50] dimm0 commented on #2254
Seems like it's chown'ing all the files, it takes ~14 minutes to start when mounting a folder with lots of files

[2018-11-02 20:00] dimm0 commented on #2254
Does this https://github.com/kubernetes/kubernetes/issues/69699 apply to block volumes only, or flexVolumes too?

[2018-11-02 20:29] Capitrium opened #2255 "Many Pods mounting Ceph Shared Filesystem all get stuck in ContainerCreating"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When scaling up many replicas (we tried 50) on a deployment mounting a ceph shared filesystem, all the pods got stuck in `ContainerCreating`.

**Expected behavior:**
Pods scale up successfully, regardless of the number of pods started at once.

**How to reproduce it (minimal and precise):**
We have dep

[2018-11-02 22:07] travisn commented on #1501
@snowmansora #2245 was merged a few days ago that will periodically refresh the drivers similar to your workaround. When you get a chance it would be great to confirm if the latest master build works for you too. Note that you'll pick up some other changes this week in master, in particular let me know if #2187 gives you any surprises.

[2018-11-02 22:59] travisn commented on #2254
As an experiment we could try disabling fsgroup in the rook flex driver [here](https://github.com/rook/rook/blob/master/cmd/rookflex/cmd/init.go#L39), then implement a top-level chown instead of a recursive chown as seen in the [k8s codebase](https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/pkg/volume/volume_linux.go#L38). But that would impact all block and f

[2018-11-03 08:37] rtnpro opened #2256 "Add documentation for a kubernetes disaster recovery"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Add documentation for recovering rook cluster state post a complete kubernetes disaster, where entire kubernetes state is lost.

**What is use case behind this feature:**

- Recover rook cluster post a kubernetes disaster.

[2018-11-03 09:04] #2256 closed

[2018-11-04 04:06] jbw976 opened #2258 "Minio pods in crash loop with `no endpoint pointing to the local machine is found.`"
**Is this a bug report or feature request?**
* Bug Report

While testing latest Rook Minio operator from master on Minikube, I see the minio daemon pods are in a crash loop.

**How to reproduce it (minimal and precise):**
[code]

Details:
[code]

Further information can be found in this gist: https://gist.github.com/jbw976/23d2a41835caf9f7475d2cab31448e89

[2018-11-04 14:13] galexrt commented on #1880
Seems that this issue does not happen anymore (no recent Slack users with the problem and/or issues opened).

[2018-11-04 14:13] #1880 closed

[2018-11-04 16:03] jbw976 commented on #2258
After updating the `rook/minio` base image to `minio/minio:RELEASE.2018-10-25T01-27-03Z`, I see more details about the error:

[code]

I wonder if it's related to this change? https://github.com/rook/rook/commit/62da01c669809222136fc85e70123518d9a1a0c7

[2018-11-04 17:36] AceHack commented on #1364
Bump

[2018-11-04 17:39] laevilgenius opened #2260 "CephVersion.Name is empty after editing cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
`CephVersion.Name` (mimic) is empty after editing cluster.

**Expected behavior:**
`CephVersion.Name` should survive cluster updates.

**How to reproduce it (minimal and precise):**
`kubectl edit cluster rook-ceph`

**Environment**:
* Rook version (use `rook version` inside of a Rook Pod): `master`

[o

[2018-11-04 17:44] galexrt commented on #2260
There is no such in the Ceph Cluster CRD, see https://github.com/rook/rook/blob/master/Documentation/ceph-cluster-crd.md#cluster-settings.

Which documentation CRD/API docs are you referring to?

[2018-11-04 18:00] laevilgenius commented on #2260
I mean `Name` set by [setCephMajorVersion](https://github.com/rook/rook/blob/802549d33d6cb84db65ca50446c437dcd09af511/pkg/operator/ceph/cluster/cluster.go#L69).
This bug can break dashboard init: while being on `mimic` I get the following log entry:
`skipping cert and user configuration on luminous`

[2018-11-04 18:09] #1792 closed

[2018-11-04 18:09] #1575 closed

[2018-11-04 18:30] abh commented on #756
Has this been fixed?

[2018-11-04 18:31] abh commented on #1116
This would be nice, but I suspect it's tricky to get right.

[2018-11-05 06:00] aisensiy opened #2261 "Fail to terminate pvc and pod using ceph block storage"
I searched "terminating" "dead lock" but no specific solution fit for me. I don't have much experience working with ceph. I tried to access kubelet logs, osd logs, mon logs, mgr logs and tried to restart mon pod, mrg pod and kubelet service...but all of these did not helpful for this issue.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Delete po

[2018-11-05 12:14] #1565 closed

[2018-11-05 12:39] #1652 closed

[2018-11-05 13:31] Timer opened #2262 "Mon is never rescheduled"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Mon remains on a down host for extended period of time.

**Expected behavior:**

Mon should be moved to a new host after 5 minutes (or default) of health checking.

**How to reproduce it (minimal and precise):**

Disabling scheduling on a node containing a mon, note that after 5 minutes it hasn't been

[2018-11-05 15:58] travisn opened #2263 "Rook Orchestrator module fails to initialize on Nautilus"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
With the merge of #2187, the rook orchestrator module is enabled when configuring a Nautilus cluster. However, the module fails to be enabled.

**Expected behavior:**
The rook orchestrator module should succeed the configuration.

**How to reproduce it (minimal and precise):**
The operator log shows th

[2018-11-05 16:12] jbw976 commented on #2074
I did not see this on `minikube version: v0.30.0` with Kubernetes `v1.12.2`, closing.

[2018-11-05 17:36] jbw976 commented on #2258
It looks like that commit https://github.com/rook/rook/commit/62da01c669809222136fc85e70123518d9a1a0c7 did break Minio on Minikube, and perhaps environments that use the default cluster domain of `cluster.local`.  I'm wondering if we should either:

1. Allow the user to specify a custom cluster domain if they are using one.  The `NetworkSpec` from `rook.io/v1alpha2` may be a nice place to capture

[2018-11-05 17:39] #1966 closed

[2018-11-05 17:59] dimm0 commented on #1350
Now being solved in https://github.com/rook/rook/issues/2164

[2018-11-05 18:08] Capitrium commented on #2255
It looks like we're running into #2177 - any chance of getting a patch release that includes the fix being discussed in #2219 in the near future?

Related logs from one of our mds pods:
[code]

[2018-11-05 19:12] galexrt commented on #1350
I think this is kind of covered by #2216, what do you think @dimm0 @abh?

[2018-11-05 19:13] dimm0 commented on #1350
yes, I think it is

[2018-11-05 19:50] jbw976 opened #2264 "make codegen broken due to missing generate-groups.sh"
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**
[code]

Behavior:
[code]

I recently did a `make distclean` to clean out everything it looks like the necessary `k8s.io/code-generator/generate-groups.sh` script used by `make codegen` is not put into place by `make vendor`.

I believe the recent change to prune unused packages with dep is the

[2018-11-05 19:54] jbw976 commented on #2264
This comment in dep may be what we need (override prune settings for the `k8s.io/code-generator`): https://github.com/golang/dep/issues/1890#issuecomment-403393910

[2018-11-05 21:32] travisn commented on #2258
@jbw976 do you have an example of what option 1 would look like in the minio crd? The NetworkSpec type doesn't apply to any specific service. In this case we're appending the suffix to a specific endpoint for client communication with the service, right? If so, maybe it's a setting in the minio crd. But an example would help visualize it. Option 1 does sound better than option 2 so the admin can h

[2018-11-05 21:39] travisn commented on #2255
Similarly in #2259 we are looking at disabling the recursive chown. Seems like a good thing to combine the efforts here to disable recursive relabeling as well.

[2018-11-05 22:00] travisn commented on #1584
/keepalive

[2018-11-05 22:01] travisn commented on #1532
/keepalive

[2018-11-05 22:05] travisn commented on #2260
@laevilgenius the `cephVersion.Name` is intended to be detected automatically at runtime. The image is launched and `ceph --version` is called to determine what version of ceph is running. It is not intended to be persisted to the CRD.

If the `cephVersion.Name` is set in the CRD, this means the operator should ignore what it detects and treat the version as if it were the specified major version.

[2018-11-05 22:05] travisn commented on #1886
/keepalive

[2018-11-05 22:05] travisn commented on #562
/keepalive

[2018-11-05 22:07] travisn commented on #1495
#2144 is in progress to deal with this

[2018-11-05 22:07] travisn commented on #1549
/keepalive

[2018-11-05 22:09] travisn commented on #1347
i believe this is addressed by #2230

[2018-11-05 22:12] travisn commented on #1627
this issue will be handled by ceph-volume going forward, which is being worked on with #1342

[2018-11-05 22:15] laevilgenius commented on #2260
Well, as I mentioned, current behaviour breaks dashboard init: it works okay on a first run, but after CRD edit `Name` becomes empty and init code thinks it is on `luminous`.
This also breaks #1915 on `mimic`.

[2018-11-05 22:20] jbw976 commented on #2258
I'm going with option 1 and a PR should be out soon.  I think that in general having a spec to capture an alternate cluster domain would be generally useful, so I think it makes sense to include as a field in the common rook.io network spec.  This is what the usage looks like in the minio object store CRD:
[code]

[2018-11-05 22:33] travisn commented on #2258
ah, the minio ports will move under the `network` element as well? I don't see the `network` used in the current minio spec. makes sense.

Will this be applicable to other operators using the `network` element? For example, should ceph be appending this suffix somewhere with the rgw services? Or is it not needed since rook doesn't generate any config to connect to the rgw?

[2018-11-05 22:35] travisn commented on #2260
@laevilgenius i must have misunderstood the repro. You're saying that the operator thinks the 'cephVersion.Name` is set after you edit the cluster yaml, thus breaking things? I'll try the repro in a bit...

[2018-11-05 23:00] laevilgenius commented on #2260
I'll take dashboard init as an example:

On first `mgr` run everything is ok and `Name == "mimic"` here:
https://github.com/rook/rook/blob/c6c82218f9e5ce113cd5977ca67d968e40559359/pkg/operator/ceph/cluster/mgr/dashboard.go#L100-L104

Then I edit cluster (disable/enable dasboard for example), `mgr` restarts and `Name` becomes empty, so `initializeDashboard` returns early, thinking it's on `luminous

[2018-11-05 23:10] travisn commented on #2260
I see now, the problem is that `setCephMajorVersion()` is never called from the `onUpdate()` handler, so the `name` field remains empty. now it's obvious what you were describing...

[2018-11-05 23:48] jbw976 commented on #2074
Never mind, I am seeing this again right now with minikube version: `v0.30.0` with Kubernetes `v1.12.2`.

[2018-11-05 23:52] jbw976 commented on #2258
It's applicable to any storage operator that is affected by a cluster domain that has changed.  Some may not care or be affected at all.  We know that Minio is, but we haven't seen breaking functionality reported for other providers in environments where the cluster domain has been changed/customized.  I'd leave the other providers alone until an issue is reported, but having this value in the gen

[2018-11-06 01:45] anguslees commented on #2128
@galexrt I tried to describe the PDBs we should create explicitly above.  What further help are you looking for here before this can be implemented?

[2018-11-06 01:51] anguslees commented on #2262
Note in particular: `Node-Selectors:  kubernetes.io/hostname=fsicentk8s07`

Should this be an anti-affinity rule instead? (ie: schedule on separate hosts without mentioning explicit hostnames)

[2018-11-06 01:55] anguslees commented on #2254
Fwiw, this is the fsGroup cousin to #2177

[2018-11-06 02:10] travisn commented on #2262
Mons use the node selector because they are a stateful service and write their state to the `dataDirHostPath` on their node. If they were moved to another node, they would lose that state.

Can you share the operator log? The operator watches the mons and if one of them falls out of quorum, the operator will fail it over to a new node. The log should show if the operator is trying to fail over the

[2018-11-06 02:16] Timer commented on #2262
Sorry, I spent the whole day trying to fix it before I had to nuke it and restore from a backup. 😅

I'll try to replicate and get logs, but IIRC the operator logs didn't show anything regarding it trying to fail over (or it even knowing a mon was unhealthy).

[2018-11-06 08:07] galexrt commented on #1960
/keepalive

[2018-11-06 08:10] galexrt commented on #2128
@anguslees

Time, more time would be good.

To note here, draining two nodes at the same is a problem in this case as only a `replicated.size: 2` is used which is not really recommended in production (see http://lists.ceph.com/pipermail/ceph-users-ceph.com/2016-September/013237.html and/or ask your local Ceph expert), having `replicated.size: 3` or more is recommended.

[2018-11-06 10:03] killmeplz opened #2267 "ceph mgr is failing to start on newest docker image"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

ceph mgr is failing to start on newest docker image
i changed image tag to rook/ceph:v0.8.0-263.g9ba4fcc as a workaround

[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**

docker run -it rook/ceph:master ceph mgr --config-dir=/var/lib/rook

**Environment**:
* OS (e.g. fro

[2018-11-06 10:14] galexrt commented on #2267
@killmeplz Are you trying to run Rook using direct `docker run` commands or are your Pods in Kubernetes which have been spawned by the Rook Ceph operator not starting?

[2018-11-06 10:21] rohan47 commented on #2037
This issue was resolved by #2226

[2018-11-06 10:21] #2037 closed

[2018-11-06 10:30] killmeplz commented on #2267
@galexrt
I got this issue on a working k8s trying to update rook cluster. But you can also reproduce it running container manually.

[2018-11-06 17:35] jbw976 commented on #1802
Dmitry brought this up in the community meeting today, this makes even more sense now with Nexenta being added in #2268

[2018-11-06 17:52] aba182 commented on #1869
+1 I am seeing very poor write speeds on my rook cluster and was hoping to increase performance by adding SSD's for journal operations as suggested by standard ceph deployment documentation.

[2018-11-06 18:38] travisn commented on #2267
@killmeplz with the merge of #2187, the rook image no longer is used to run the ceph daemons. An image from `ceph/ceph` is used to run the daemons. Master build upgrades aren't officially supported, but you could try restarting the operator to get the update. If it doesn't work, you may need to delete the mgr deployments and then restart the operator.

[2018-11-06 22:45] #1902 closed

[2018-11-06 23:38] anguslees commented on #2128
Yes, but the problem and solution generalises to any level of redundancy.  See the commented-out expressions in the example yaml.

So you're ok with the proposal and the next step is implementing the PR?  I can help with that part!
I was concerned the 'help wanted' tag implied you were still uncertain regarding the problem/solution.

[2018-11-07 13:48] christianhuening opened #2270 "Support creation of liveness probes for ceph-manager via rook operator"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add liveness probes to manager deployments and check `/` on port `9283`
**What is use case behind this feature:**
Make sure stuck Managers are being recreated
**Environment**:

[2018-11-07 18:41] jbw976 commented on #2258
I've created upstream Minio issue https://github.com/minio/minio/issues/6775 to track there

[2018-11-08 09:03] thlassche commented on #1659
1.13 is in alpha now and it landed in the spec as well:
https://github.com/container-storage-interface/spec/blob/master/spec.md#nodegetvolumestats
So I guess it can be implemented soon? @kongslund

[2018-11-08 11:10] galexrt opened #2272 "Upgrade from v0.7 to v0.8 for nodes with long hostname broken"
**Is this a bug report or feature request?**
* Bug Report

**Bug Report**

**Expected behavior:**
New OSD Deployments to replace the existing OSDs running in one ReplicaSets per node.

**Deviation from expected behavior:**
New OSD Deployments have extended the Ceph cluster as new OSDs and not replaced the existing in ReplicaSets running OSDs per node.

**How to reproduce it (minimal and precise):*

[2018-11-08 17:08] rootfs commented on #2272
@galexrt can you post the operator logs?

[2018-11-08 17:11] rootfs commented on #2272
btw, does it happen to 0.8.2?

[2018-11-08 19:54] kainlite opened #2274 "Pending volumes, rook-operator is unable to find the config file"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Created a PVC and have it pending forever.
**Expected behavior:**
Create a PVC and get the PV bound.

**How to reproduce it (minimal and precise):**
I do not know how to reproduce it, because the cluster was working fine until today that the volumes were pending, the logs from the operator say it could

[2018-11-08 20:36] #2258 closed

[2018-11-08 20:36] #2264 closed

[2018-11-08 20:45] galexrt commented on #2272
@rootfs The update to v0.8.1 fails because of failure during creating the prepare job because of the long hostnames.
I didn't test v0.8.2, only upgrading from v0.7.1 to v0.8.3.

---

The problem seems that because of the change with "truncating" long hostnames, we use a different ConfigMap than exists. The ConfigMap which exists tells us that the disks are already in use, due to this Rook began us

[2018-11-08 23:41] Amos-85 commented on #1827
Is there any plans one the milestone for some tool to automate all of those tasks for device/osd removal that @jbw976 mentioned?

[2018-11-09 00:37] jbw976 commented on #1539
/keepalive

[2018-11-09 05:10] lubinsz opened #2275 "成都"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configuration:
* Rook version (use `rook version` inside of a Rook Pod):
* Kubernetes version (use `kubectl version`):
* K

[2018-11-09 05:11] #2275 closed

[2018-11-09 05:17] lubinsz opened #2276 "'make build.all' failed on x86 platform"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
'make build.all' failed on x86 platform

**Expected behavior:**
'make build.all' should be OK on x86 platform

**How to reproduce it (minimal and precise):**
Just simply test this command "make build.all"

**Environment**:
* OS (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="16.04.5 LTS (Xenial Xer

[2018-11-09 12:45] #1973 closed

[2018-11-11 05:13] tmc opened #2279 "attempt at gke installation: Error: failed to start container "rook-ceph-agent": Error response from daemon: error while creating mount source path '/usr/libexec/kubernetes/kubelet-plugins/volume/exec': mkdir /usr/libexec/kubernetes: read-only file system"
Having a GKE quickstart would be nice.

A fresh instalation of helm install of rook-beta/rook-ceph results in:

[code]

[2018-11-11 05:14] tmc commented on #2279
This is basically a dupe of https://github.com/rook/rook/issues/425 which talks about making it more clear the GKE isn't going to work out of the gate as an installation target.

[2018-11-11 05:14] #2279 closed

[2018-11-11 23:25] frouzbeh opened #2280 "error: unable to recognize "cluster-ceph.yml": no matches for kind "Cluster" in version "ceph.rook.io/v1beta1""

[2018-11-12 15:52] dkerwin commented on #2272
I can confirm that the workaround snippet worked for my cluster upgrade from v0.7.1 to v0.8.3 after a failed first attempt.

[2018-11-12 15:56] #1993 closed

[2018-11-12 19:18] dimm0 commented on #2240
Any updates? This looks like a really simple to fix one..

[2018-11-12 21:08] shawnj commented on #2255
We are experiencing a similar issue. Seems like the current PR #2219 would be related or possibly fix this issue.  We have found this issue pops up when we have mounted a file system with numerous files/folders.

Environment:
OS (e.g. from /etc/os-release): CoreOS 1855.5.0
Kernel (e.g. uname -a): 4.14.74-coreos
Cloud provider or hardware configuration: Azure
Rook version (use rook version inside o

[2018-11-13 00:14] Timer commented on #1011
Would love to see this. Bump. :-)

[2018-11-13 01:22] mabushey opened #2281 "Wordpress/mysql examples do not work with istio 1.0.3"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Wordpress cannot talk with mysql

**Expected behavior:**
functioning demo site

**How to reproduce it (minimal and precise):**
Add namespace of wordpress to wordpress and mysql examples.

This works:
[code]

This is broke:
[code]

Error:
[code]
**Environment**:
* OS (e.g. from /etc/os-release):
NAME="U

[2018-11-13 13:12] laevilgenius commented on #1973
@galexrt Can we keep this alive?

[2018-11-13 13:41] galexrt commented on #1973
@laevilgenius I think it would be better to just use #2005 for tracking. Please go ahead and voice the need for being able to tolerate all taint effects there.

[2018-11-13 13:48] jbw976 commented on #1885
/keepalive, we have to manually delete the beta tagged images for the other providers during each release, which is sort of busted

[2018-11-13 13:58] jbw976 commented on #1910
/keepalive, the Design PRs are still open #1931, #2135, etc.

[2018-11-13 14:00] laevilgenius commented on #2005
Also, it would be useful to be able to tolerate all taint effects, as described in #1973.

[2018-11-13 14:08] jbw976 commented on #997
/keepalive, it's in the roadmap

[2018-11-13 14:21] jbw976 commented on #1704
/keepalive

[2018-11-13 14:22] jbw976 commented on #1705
/keepalive

[2018-11-13 15:38] dkerwin commented on #1765
I can confirm that the localization issue still exists in the v.0.8.3 rook-tools image

[2018-11-14 05:09] travisn commented on #1841
/keepalive

[2018-11-14 06:29] travisn commented on #701
/keepalive

[2018-11-14 06:32] #2177 closed

[2018-11-14 10:43] #2260 closed

[2018-11-14 15:00] jbw976 commented on #2240
You're right @dimm0, this should be a fairly easy fix to add scrubbing related states, such as `scrubbing` and `deep` to the set of OK states in this function: https://github.com/rook/rook/blob/master/pkg/daemon/ceph/client/status.go#L139-L161.  I'll add this issue to the 0.9 milestone and tag it for help wanted.  I'd like to maybe get to this myself soon if I can after I'm back from Kubecon Shang

[2018-11-14 21:29] jbw976 commented on #1910
The main/overall design and the cluster creation design have been merged in #1931 and #2135.  We can close this ticket now for the 0.9 milestone since the key parts of the design have been fleshed out.  Great work @yanniszark!!

[2018-11-15 10:18] rohan47 opened #2283 "Support client access control for NFS volumes"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently, the NFS export can be accessed by any client. This feature will restrict volume access to specified clients and also it will implement squash and access control per client/clients as per the [NFS CRD design doc](https://github.com/rook/rook/blob/master/design/nfs.md#nfs-crd). An example of th

[2018-11-15 10:30] rohan47 commented on #2283
`nfsservers.nfs.rook.io` type already supports the allowed clients https://github.com/rook/rook/blob/master/pkg/apis/nfs.rook.io/v1alpha1/types.go#L84

[2018-11-15 15:07] lkhomenk commented on #1827
also got into this issue. edited `rook-ceph-cluster` - removed some device filters to scale down from 6 osd to 3. and  it seems that `osd-prepare` pod tried to skip that device `cephosd: skipping device nvme2n1 that does not match the device filter/list `nvme1n1`. <nil>` - but it still prepares all devices as they were used before. and operator was also OK with that `op-osd: 3 of the 3 storage nod

[2018-11-15 19:31] dimm0 commented on #2221
https://www.spinics.net/lists/ceph-users/msg49054.html

Seems like here's the fix. Is it something you could do in rook? Everybody having large buckets will have this problem..

[2018-11-16 00:56] #2017 closed

[2018-11-16 06:28] boxuan666 opened #2285 "I can't acces the dashborad. pls help me to reslove this."
I'm follow the quick start user guide to deploy my rook-ceph in my k8s cluster.

i'm doing follow step:
[code]

mycluster.yaml as followd:
[code]

**I can't access the dashboard from NodePort Whether http or https.**

operator logs like this:
[code]

rook-ceph-mgr log like this:
[code]

seem like not config the SSL certificate in ceph mgr ?
can u help me to find out what root case is ?

3. Did you

[2018-11-16 11:42] mxfj opened #2286 "MON_CLOCK_SKEW: clock skew detected on mon.b, mon.c"
Cluster log
    Audit log

2018-11-16 19:39:35.954444 [WRN]  mon.2 10.0.3.48:6790/0 clock skew 0.0784957s > max 0.05s
2018-11-16 19:39:35.954361 [WRN]  mon.1 10.0.3.47:6790/0 clock skew 0.060646s > max 0.05s
2018-11-16 19:34:35.953533 [WRN]  mon.1 10.0.3.47:6790/0 clock skew 0.0596566s > max 0.05s
2018-11-16 19:34:35.953483 [WRN]  mon.2 10.0.3.48:6790/0 clock skew 0.0774483s > max 0.05s
2018-11-16

[2018-11-16 11:45] mxfj commented on #2286
like this
[root@k8s-master1 ~]# kubectl -n rook-ceph get pod
NAME                                      READY   STATUS      RESTARTS   AGE
rook-ceph-mgr-a-558fbdbb5-mrjps           1/1     Running     0          30m
rook-ceph-mon-a-6cd54946bc-slndl          1/1     Running     0          34m
rook-ceph-mon-b-58894cfc97-9vtmx          1/1     Running     0          34m
rook-ceph-mon-d-9478f94-8fbf8

[2018-11-16 14:06] galexrt commented on #1799
/keepalive

[2018-11-17 14:55] tsullens commented on #2283
I can do this if you want to assign it to me.

[2018-11-18 07:09] voron commented on #1228
/removestale

[2018-11-18 17:57] yanniszark commented on #1788
I think this is still relevant and very important.
Lately, I have been using the existing tools to write integration tests and while they get the job done in simple tests, they can be difficult to extend.
Some changes that have to be made imo:
* Tests should use clients made for go and not invoke kubectl. Using kubectl makes error checking a lot more frustrating. Some restrictions I have noticed a

[2018-11-19 04:09] #1972 closed

[2018-11-19 07:12] rohan47 commented on #2283
@tsullens sure, go ahed

[2018-11-19 07:37] rohan47 commented on #2062
@MartinForReal are you working on this issue?

[2018-11-19 09:03] mmack opened #2288 "rook keeps creating osd's forerever"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Operator creates me new osd's every 2 minutes or so
**Expected behavior:**
osd.1 should become active and up again

**How to reproduce it (minimal and precise):**
ok i try to explain everything what happened:

- We have 4 storage nodes (vmware vms's) which have /dev/sdb assined to rook/ceph
- 2 of the

[2018-11-19 10:16] #2267 closed

[2018-11-19 14:41] deerjoe opened #2289 "Ceph-rook-agent and ceph-rook-discovery CrashLoopBackOff,failed to get driver name"
* Bug Report

* Deviation from expected behavior:

Only 2 nodes ceph-rook-agent and ceph-rook-discovery  CrashLoopBackOff。
crash ceph-root-agent get" failed to get driver name. Error getting server version: error getting server version: Get https://10.233.0.1:443/version?timeout=32s: dial tcp 10.233.0.1:443: connect: connection refused" .

log of operater

[code]

only agent & discovery on node1.n

[2018-11-19 17:09] #1064 closed

[2018-11-19 17:09] #2022 closed

[2018-11-20 00:46] dimm0 commented on #2240
Any update here?

[2018-11-20 00:51] #1814 closed

[2018-11-20 01:51] #1854 closed

[2018-11-20 01:51] #1855 closed

[2018-11-20 14:55] jbw976 commented on #1847
/keepalive part of roadmap

[2018-11-20 14:55] jbw976 commented on #1218
/keepalive part of roadmap

[2018-11-20 17:34] #2280 closed

[2018-11-20 17:51] #2025 closed

[2018-11-20 20:11] #2248 closed

[2018-11-20 20:16] travisn commented on #2240
are we saying the fix here should simply be to allow scrubbing related states such as this?
[code]

[2018-11-20 20:59] travisn commented on #2213
We'll track the remaining issue with #2263. With #2187 the code is now in place to enable the modules.

[2018-11-20 20:59] #2213 closed

[2018-11-20 23:43] travisn commented on #2240
@dimm0 do you have an example of the status during scrub? I don't have a cluster in that state. Based on previous comments in this issue, should we require that all PGs be in one of these two states? Are there any other combinations that we think represent a healthy state to continue?
- `active+clean`
- `active+clean+scrubbing+deep`

[2018-11-20 23:50] dimm0 commented on #2240
[code]

[2018-11-20 23:51] dimm0 commented on #2240
I'd replace && with || in your `if`, if I understand it correctly

[2018-11-21 16:37] jbw976 commented on #1744
/keepalive

[2018-11-21 16:55] jbw976 commented on #919
For 0.9, I would love to see at least the `rook.io` common types get this addition to allow specifying volume claim templates.  The full support for Ceph using the PV/PVCs does not need to be in 0.9. Thanks @galexrt!

[2018-11-21 17:02] jbw976 opened #2294 "Apache Cassandra Operator (all functionality)"
This ticket is for tracking the design outlined in #1910, which will incorporate a Cassandra operator into Rook.

[2018-11-22 04:24] jhzhu89 opened #2296 "Updating objectstore port crd should update the service port"
Why service is not updated when updating store?

I found that even I succeeded to edit the objectstore spec, for example, change port from 80 to 1080, the service was not changed, while rgw pods were re-created with new port 1080. I am not sure if this is a bug or expected behavior? If expected, why is that?

In code the service is only created accordingly, never updated or re-created. And in the

[2018-11-22 07:13] Lexing opened #2297 "Why two namespaces in ceph tutorial ?"
Have a question on the namespaces in ceph tutorial:

cluster/examples/kubernetes/ceph/operator.yaml creates rook-ceph-system

while the https://github.com/rook/rook/blob/master/Documentation/ceph-quickstart.md example creates another namespace rook-cepth

Wondering what's the reasons behind these ? Isn't using one namespace simpler ?

[2018-11-22 13:14] sebastian-philipp commented on #1716
This should be fixed with the upcoming c-v based inventory, right @travisn ?

[2018-11-22 21:10] jansmets opened #2298 "mgr fails to create self signed cert"
rook master, ceph v13
[code]

[2018-11-22 23:43] #1963 closed

[2018-11-23 10:42] JoshuaAndrew commented on #2174
Same Problem !
[code]

[2018-11-23 13:27] MartinForReal opened #2299 "monitor addr is not updated after operator applies cluster resource change"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
ceph.conf is not updated when monitor address is changed due to pod migration.
**Expected behavior:**
ceph.conf should be managed by operator and updated when monitor is added or removed.

**How to reproduce it (minimal and precise):**

edit cluster crd resource to recreate monitor and

**Environment**

[2018-11-24 21:03] DPerkunas commented on #2286
Noticed this as well, if you delete the mon pod in question, it gets recreated and health goes back to OK.

[2018-11-26 02:42] dylanzr opened #2300 "Cannot mount ceph PVC from multiple pods with ROX or RWX access modes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Even with RWX or ROX access modes, a PVC can only be mounted by one pod. Attempting to mount multiple times results in a Rook error.
[code]

**Expected behavior:**
With RWX or ROX modes the expectation is that the PVC could be mounted multiple times.

**How to reproduce it (minimal and precise):**

The

[2018-11-26 10:10] fkpwolf commented on #2297
`rook-ceph-system` is an Operator to create ceph cluster, which is `rook-ceph`. You can use the operator to create 1 or more Ceph cluster. Different namespace has different role and permission.

[2018-11-26 15:06] rootfs commented on #2238
cc @rohan47

[2018-11-26 19:45] #1583 closed

[2018-11-27 11:56] #2034 closed

[2018-11-27 11:56] #2046 closed

[2018-11-27 12:05] gerritjvv opened #2302 "Documentation update request for Flexvolume and rancher support"
I'm not sure where to make documentation update requests, but if I had this in the docs it would've saved me hours or struggling

when using rancher's RKE the kubetlet runs as a docker instance
which mean the host's volume-plugin-dir needs to be mounted as a docker volume.

This can be done via the cluster.yml as

[code]

and the rook operator.yml
[code]

[2018-11-27 13:19] Bruceforce opened #2303 "Only one mon in multi node environment"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
`kubectl -n rook-ceph get pod` shows that only one mon pod is started
However if we use the same vagrant setup with only 1 master and 1 node, the mgr, mon and osd pods all come up.

**Expected behavior:**
`kubectl -n rook-ceph get pod` should list mgr, mon and osd pods

**How to reproduce it (minimal a

[2018-11-27 13:30] bjornryden commented on #1750
I've just experienced the same thing. I have before and after contents of the rook-ceph-mon-X directory if anyone is interested.

[2018-11-27 15:16] travisn commented on #2302
@gerritjvv thanks for capturing this so we can get it updated on the [flex config page](Documentation/flexvolume.md). Want to open a PR?

[2018-11-27 15:30] #2272 closed

[2018-11-27 15:35] gerritjvv commented on #2302
cool. I'll open a PR with an edit in the rook/Documentation/flexvolume.md page

[2018-11-27 15:37] travisn commented on #2303
@Bruceforce It looks like there is an issue with the operator pod connecting to the mons, likely a network issue. The operator will validate the connection to one mon at a time as it creates the cluster. [This topic](https://rook.io/docs/rook/v0.8/common-issues.html#only-a-single-monitor-pod-starts) may have more clues.

[2018-11-27 15:39] travisn commented on #1750
@bjornryden could you also get the operator logs during this time? Thanks!

[2018-11-27 16:07] gerritjvv commented on #2302
@travisn  https://github.com/rook/rook/pull/2304 there you go. My first shot at it :P

[2018-11-27 18:06] aleks-mariusz commented on #1169
@voron per @kokhang flexvolume is not in the path of resizing, so is there something else holding this particular feature of rook-ceph performing resizes up ?

[2018-11-27 19:30] galexrt commented on #1011
For `ceph-volume` OSDs the metadata will be durable, see https://github.com/rook/rook/pull/2242/files/3a599e7fb43a4509efb4fbae36cdc7ccb751a347#diff-da4992f27747434e67a1ec76d4411fa0. Thanks @travisn!

[2018-11-27 20:13] Bruceforce commented on #2303
@travisn thanks for your reply.

I read the topic you linked to. I checked connectivity inside the pods.
Operator IP: 172.17.0.2/16
mon-a IP: 172.17.0.3/16

The ping works in both directions. Could you give some advice what could have failed there or how to further debug this? Because I assume that if the ping works from operator to mon-a and from mon-a top operator the connectivity shouldn't be a

[2018-11-27 20:16] travisn commented on #2303
@Bruceforce Do you have a firewall? The mons are listening on port 6790 as created by the `rook-ceph-mon` services in the `rook-ceph` namespace. It could be that port 80 is open in the firewall, but other ports are disallowed.

[2018-11-27 20:17] galexrt commented on #2303
@Bruceforce Use, e.g., https://github.com/apprenda/kuberang to check if your cluster network is correctly working.

[2018-11-28 00:31] #2240 closed

[2018-11-28 07:11] barlowliu opened #2307 "mds: don't report slow request for blocked filelock request"
The version of ceph used in the latest version of rook-ceph is 12.2.7. There is a bug in cephfs (reference: https://tracker.ceph.com/issues/22428), which has been fixed in ceph 13.0+.
When does rook plan to update to ceph13.0+?

[2018-11-28 17:30] BlaineEXE commented on #2289
This sounds like some issues I have had in the past with pod security policies blocking certain accesses. These PSP issues are unfortunately hard to debug, but you would likely see something in from running `journalctl -u kubelet` on your nodes. If you don't have PSP enabled, the kubelet log should still provide some more useful info.

[2018-11-28 17:31] jslusher opened #2308 "Support configurable annotations for ceph operator"
**What should the feature do:**
When defining a `Cluster` resource using the rook/ceph operator, there are cases when annotations added to the resulting pods would be very useful.

**What is use case behind this feature:**
 I would like to add datadog annotations to the ceph mgr pod so that it collects prometheus metrics.

**Environment**:
Monitoring in datadog is just one example. The ability to

[2018-11-28 17:36] BlaineEXE commented on #2297
@fkpwolf is correct. The different namespaces help to separate roles and permissions; I usually think of `rook-ceph-system` as being similar to `kube-system` but obviously specific to Rook.

I will close this issue, and you can feel free to reopen it if there are things that can still be clarified.

[2018-11-28 17:36] #2297 closed

[2018-11-28 17:44] BlaineEXE commented on #2307
Rook will allow updating Ceph to 13.x+ with the release of Rook 0.9 in the coming week or two.

[2018-11-28 17:44] #2307 closed

[2018-11-28 17:54] BlaineEXE commented on #2288
I think @travisn would be able to provide much better information here, but it would seem to me that cheethoe's steps to remove the OSD aren't really supportable. The steps manipulate the osd config map that Rook expects to manage itself (unless I am mistaken), and I don't think unexpected behavior after that is entirely surprising.

[2018-11-28 17:56] travisn commented on #2307
@barlowliu it would be great if you could test mimic with the master builds and see if it is working for you. For a complete description, see the [design doc](https://github.com/rook/rook/blob/master/design/decouple-ceph-version.md).

[2018-11-28 17:57] BlaineEXE commented on #2298
I think we need the complete logs from the operator as well as the yaml files used to create the cluster in order to understand what is causing the unexpected behavior. Additionally, the information from the issue template will provide more context which may be critical.

[2018-11-28 18:07] travisn commented on #997
For 0.9 the following is needed for upgrade:
- To help reduce the manual steps for upgrade, a small code change that will help tremendously is to update the deployment specs automatically for the ceph daemons. This is already done for the OSD deployments with the helper `k8sutil.UpdateDeploymentAndWait()` as seen [here](https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/osd/osd.go#

[2018-11-28 18:12] travisn commented on #2298
I believe I have seen this after a cluster is already configured and the operator is restarted. In that case, we don't need to regenerate a certificate for the dashboard. @jansmets is the dashboard actually working after you see this error? Can you confirm if the operator was restarted or if this is a new cluster?

[2018-11-28 18:18] Bruceforce commented on #2303
@travisn I'm using the https://app.vagrantup.com/bento/boxes/ubuntu-18.04 vagrant box without any manual firewall configurations.

@galexrt I tried kuberang with kubernetes v10.11, v.11.5 and v12.3.

**v10.11**
* kuberang: all checks but `Accessed Google.com from BusyBox` are OK
* CNI calico: Operator could not talk to nodes
* CNI weavenet: Cluster seems to be working correctly

**v11.5** and **v1

[2018-11-28 23:21] jansmets commented on #2298
I deployed a new cluster, but it could be that I did restart the operator while setting it up, I don't exactly remember. The dashboard is working and it has a certificate.
Perhaps not an issue at all.

[2018-11-29 06:51] #1523 closed

[2018-11-29 06:52] mmack commented on #2288
hehe ok :) so maybe the stacktrace can help you guys otherwise just close this issue...

[2018-11-29 07:00] #2057 closed

[2018-11-29 13:30] galexrt commented on #1653
/keepalive We still need this.

[2018-11-29 19:28] jtlayton opened #2313 "allow rook to spin up mds daemons for filesystems that already exist"
The ceph-mgr orchestrator/rook modules need to be able to request that rook spin up an mds daemon without first creating the filesystem (as we'll do that from inside ceph). According to `design/external-management.md`, this is done by omitting the pool information when requesting a new filesystem from rook.

Currently though if you try to start up an MDS this way, you'll get an error like this:

`

[2018-11-30 05:46] travisn commented on #1368
per conversation in huddle, moving to 1.0 so we can manage the risk earlier in the cycle and time to stabilize with other features such as ceph-volume.

[2018-11-30 06:02] travisn opened #2316 "Declare Ceph CRDs as v1"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Per various discussions with maintainers and others, we are planning to declare the Ceph CRDs as v1 in the v0.9 release. This will require a migration of the CRDs from beta to v1, similar to what was necessary in v0.8 when the CRDs went from alpha to beta.

[2018-11-30 09:03] #2302 closed

[2018-11-30 12:21] deerjoe commented on #2289
thanks a lot, it  only show up on master node.i have to teardown the k8s cluster, and redeploy it. close the issue

[2018-11-30 12:22] deerjoe commented on #2289
thanks a lot, it only show up on master node.i have to teardown the k8s cluster, and redeploy it. close the issue

[2018-11-30 12:22] #2289 closed

[2018-11-30 22:51] travisn commented on #2316
## Migration considerations
- CRD versioning was vastly improved in k8s 1.11. The [CRD versioning](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/) now can be managed during the upgrade.
- Rook v0.9 will support k8s v1.8. Since the versioning support needed is not in v1.8, we need to implement similar type conversions to v1 as we did w

[2018-12-01 15:47] travisn commented on #2136
This was completed with #2001

[2018-12-01 19:05] Quinncuatro commented on #1854
Bad bot.

[2018-12-02 15:10] travisn commented on #923
/keepalive

[2018-12-02 19:52] stefanfritsch commented on #1117
Hi,

as a stopgap until this is implemented, is there some documentation which traffic needs to be allowed if we want to enable NetworkPolicy ourselves?

Cordoning off the rook namespaces will keep the volumes from working but which pods need to be accessible for everything to work?

Thanks,
Stefan

[2018-12-03 05:31] bassam commented on #1798
this is fixed now.

[2018-12-03 05:31] #1798 closed

[2018-12-03 08:36] #2285 closed

[2018-12-03 14:59] travisn commented on #2316
["Volume"](https://kubernetes.io/docs/concepts/storage/volumes/) is a term in K8s for mounting into a specific pod. Using the volume term seems like it would cause confusion between a CephFS volume and K8s volume.

In general I would think the CRD names should stick with generally understood terms so users can more quickly understand what they might be capable of, instead of mapping them to underl

[2018-12-03 16:49] sebastian-philipp commented on #2316
We may need to update https://github.com/ceph/ceph/blob/master/src/pybind/mgr/rook/rook_cluster.py#L22

[2018-12-03 18:10] yanniszark commented on #1802
There is now a big mass of mds under `Documentation` which makes it very difficult for a user to navigate to the things he's interested in.
I propose that we start with the most needed thing imo, giving each storage provider its own folder.
[code]
Another subfolder could be `dev`, which will contain the documents about developing in rook.
@jbw976 @travisn @galexrt what do you think about doing the

[2018-12-03 18:15] travisn commented on #1802
Agreed, would be good to break it out in this structure. I believe the generated docs will pick up docs from all subdirectories, so if we move these source docs around he generated docs should not change.

The bigger change that will be interesting is to restructure the generated docs. I'd love it if we had a dropdown that let you select which backend you're interested in. This way you could easil

[2018-12-03 18:36] liewegas commented on #2316
In that vein, maybe CephPool should be CephBlockPool?

[2018-12-03 20:12] #2053 closed

[2018-12-03 21:28] BlaineEXE opened #2321 "Ceph: revise mon start/update procedures"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Check that each mon is in quorum before continuing to start/update the next mon. Also figure out the best way to check whether the mon upgrade has been successful factoring in that cluster healthy does not necessarily equate to the mons being okay and vise versa.

Mon start/update should follow *all* be

[2018-12-03 21:32] dimm0 commented on #2174
What's needed to fix this? Would new ceph version have the fix?
@galexrt @travisn

[2018-12-03 21:32] BlaineEXE opened #2322 "Ceph: prep mdses for upgrade before starting update of deployments"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Prep mdses for upgrade before starting the upgrade, and do checking to make sure the mds being upgraded isn't the active one, which would result in mds downtime. TBH, this can probably be left for later since we are kind of up against a time constraint with the 0.9 release impending.

**What is use case

[2018-12-03 21:44] galexrt commented on #2174
@dimm0 Possibly yes, because you can choose the Ceph version in master and v0.9 that is running, it isn't a problem anymore to change the Ceph version.
So in the "worst" case we simply need to advice people to use a more up-to-date Ceph version (for upgrades from v0.8 to v0.9 Ceph Luminous (latest release I think which could potentially already fix the issues posted about here) is used AFAIK).

[2018-12-03 21:55] dimm0 commented on #2174
Would you have the update then in place for 0.9?

[2018-12-03 21:55] galexrt commented on #2174
@dimm0 What update?

[2018-12-03 22:03] dimm0 commented on #2174
yup

[2018-12-03 22:15] galexrt commented on #2174
@dimm0 Yes it is included, as you can see in the https://github.com/rook/rook/blob/master/PendingReleaseNotes.md#notable-features the first point.

[2018-12-03 22:52] travisn commented on #2316
@liewegas CephBlockPool would be fine with me since it is specific to block from the user's perspective.

Something to consider is that internally the CRD properties for object stores and file systems use the pool type. For example, the filesystem specifies pools like so:
[code]

Does this mean we should rename the fields `metadataPool` to `metadataBlockPool` and `dataPools` to `dataBlockPools`? I

[2018-12-03 22:57] BlaineEXE commented on #2288
FWIW, during development on an unrelated feature, I was encountering an issue where OSDs were continuously being created while trying to create a directory-based OSD on a read-only partition on my local disk. After a few days of sleeping on it and rereading this issue, I think there may be some behavior exposed here that we can make better. IMO, if an OSD fails to create, retrying the creation lat

[2018-12-03 22:57] liewegas commented on #2316
I agree.  If anything I would possibly consider avoiding "Pool" in this CRD name since it may be multiple pools... it really maps to the StorageClass, right?  CephBlockPool is probably closest to what the ceph user is thinking about, though (since in the most common case it is a single pool).

[2018-12-03 23:03] BlaineEXE commented on #2286
After speaking with some of our kubernetes experts, I believe this is an environment issue. With NTP on the host systems properly working, Kubernetes should be able to keep all pods in sync automatically. If containers have privileged access to the host system, running an NTP daemon in a container would even appear to solve this issue for an entire node.

I believe the root solution is to make sur

[2018-12-03 23:05] travisn commented on #2316
Sounds good, i'll go with CephBlockPool. Good point on the storage class, i'll also rename the `pool` property in the [storage class](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/storageclass.yaml#L16) to be `blockPool`. I'll just have to allow the `pool` property still for backward compatibility.

To be clear, my example snippet was from the [filesystem CRD](https://g

[2018-12-04 00:21] BlaineEXE opened #2324 "Ceph: config: prune support for empty `dataDirHostPath`"
`dataDirHostPath` is enforced to be non-null, but there is Ceph code still supporting (and testing) usage of `""` as an empty dir. Remove the support from Ceph.

[2018-12-04 06:47] mmack commented on #2288
If you need more information or a look on the cluster ping me.

[2018-12-04 06:54] jessynt commented on #2079
any progress on this task?

[2018-12-04 09:16] sprdeepesh opened #2327 "mon and osd not getting scheduled on new nodes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
mon and osd pods are not scheduled on newly added nodes

**Expected behavior:**
pods should get scheduled when a new node is added

**How to reproduce it (minimal and precise):**
1. Create a cluster with one master and 2 worker nodes
2. Setup rook
[code]
3. Add 2 new worker nodes
    mon and osd pods d

[2018-12-04 10:13] liuruibin opened #2329 "serviceaccount "rook-ceph-cluster" not found"
`kubectl create -f cluster.yaml`

cloud not create `osd` pods

` kubectl describe jobs.batch -n rook-ceph rook-ceph-osd-prepare-xxx`
[code]

[2018-12-04 15:21] travisn commented on #2329
@liuruibin in master the `rook-ceph-cluster` serviceaccount no longer exists. It has been renamed to `rook-ceph-osd`. Can you check if you are using an operator.yaml and cluster.yaml that are from the same version of master?

[2018-12-04 15:32] liuruibin commented on #2329
@travisn that was my script
[code]

[2018-12-04 15:37] travisn commented on #2329
Something seems to have gone wrong during the deployment with inconsistent versions of the yamls. It is a new deployment? Or has this been running for some time? Can you try [cleaning up your cluster](https://rook.io/docs/rook/master/ceph-teardown.html) and deploy again?

[2018-12-04 15:58] BlaineEXE commented on #2316
@travisn

Given the [ZDnet article](https://www.zdnet.com/google-amp/article/kubernetes-first-major-security-hole-discovered/), what if we reduced our support to v1.10, v1.11, and v1.12? Do you think this (1) makes sense and (2) saves some work here?

[2018-12-04 16:01] galexrt commented on #2316
@BlaineEXE I think we should then also move the `AppsV1` for all Deployments, StatefulSets and so on, if this change should be done.

Could you please add it to the community meeting agenda https://docs.google.com/document/d/1exd8_IG6DkdvyA0eiTtL2z5K2Ra-y68VByUUgwP7I9A/edit

[2018-12-04 16:33] travisn commented on #2316
@BlaineEXE as long as 1.10 is supported we will need the changes in this PR. It's 1.11 and newer that has the improved crd version support. There is also a bunch of related cleanup that would be good to keep with this PR anyway. Realistically, dropping 0.8 and 0.9 support immediately would be a challenge for many users.

@galexrt moving to `AppsV1` makes sense. How do you see it tied to this chang

[2018-12-04 16:38] BlaineEXE opened #2330 "Update Upgrade Documentation for v0.8 -> v0.9"
Tracker for #2323. Upgrade doc needs updating before 0.9 can release.

[2018-12-04 17:00] galexrt commented on #2316
@travisn I see it tied to the change of reducing the Kubernetes supported versions.

In Kubernetes 1.9-1.10 >= one should "only" use the `apps/v1` APIs instead of `extensions/*` (for Deployments, StatefulSets and so on), as the `extensions/*` are possibly getting removed at one time for those objects.

[2018-12-04 17:09] sprdeepesh commented on #2327
So everytime we add a node do we have to restart rook operator to deploy OSD on new node? Will restarting rook operator cause any issue to existing rook PV's attached to pods?

[2018-12-04 18:41] BlaineEXE opened #2331 "Ceph mon: support minor version updates (update deployments)"
Currently the upgrade path for Ceph mons supports v0.8.x to v0.9.0. To support v0.9.0 -> v0.9.1, the operator needs to update the mon deployments; however, the simple approach used by the mgr and mds won't work for mons because of the double-loop which starts the mons and the fact that the monmap-init container uses the existing monmap makes the mons update every time a new mon is added.

Fix thou

[2018-12-04 18:41] Kralor-Guldan opened #2332 "How to fix: TOO_FEW_PGS"
I've looked at the related issues, and have not found a good answer.

When you have a large number of OSDs (100+), how do we fix the TOO_FEW_PGS warning?

[2018-12-04 18:45] dimm0 commented on #2332
http://docs.ceph.com/docs/mimic/rados/operations/placement-groups/#set-the-number-of-placement-groups
This should be run in rook toolbox pod

[2018-12-04 18:49] Kralor-Guldan commented on #2332
This should be integrated into the filesystem and block storage options in a future release.

[2018-12-04 18:49] Kralor-Guldan commented on #2332
@dimm0 - Thank you!

[2018-12-04 20:51] NickUfer commented on #2329
Same problem for me. Thought maybe the old cahed rook/ceph:master image uses somehow the old serviceaccount but then I realized, the latest version on docker hub is from 6 days ago, so before these group changes...maybe because of that

[2018-12-04 20:58] travisn commented on #2329
Ah, the problem is that the master build has hit random failures for the last several days. We need to get a successful build out since the changes were merged on Saturday. I'll start the build again.

[2018-12-04 22:54] #2164 closed

[2018-12-04 22:57] travisn commented on #2329
@NickUfer @liuruibin we have a master build published now, please confirm that it is working for you now.

[2018-12-05 07:12] NickUfer commented on #2329
Is working as expected now :+1:

[2018-12-05 08:10] lkt82 opened #2334 "agent stops watching resources"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
agent stops watching resources when the API closes the connection (AKS is a little unstable sometimes) resulting in new PVC's not being mounted in pods

streamwatcher.go:109] Unable to decode an event from the watch stream: http2: server sent GOAWAY and closed the connection; LastStreamID=1341, ErrCode

[2018-12-05 14:16] galexrt opened #2335 "Ceph MGR: 2 modules failed on default install"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Two Ceph MGR modules failed to come up causing the Ceph cluster to report `HEALTH_ERROR` state.

See logs: https://gist.github.com/galexrt/3626102e96dddcef071060b71d94e280

**Expected behavior:**
The dashboard and prometheus modules to work fine.

**How to reproduce it (minimal and precise):**
1. Use t

[2018-12-05 15:22] travisn commented on #2047
unfortunately need to move this to 1.0 as it is going to take more time than we have for 0.9

[2018-12-05 15:24] travisn commented on #997
With improvements in v0.9 including #2314 let's close this issue and track improvements with more fine-grained issues as needed.

[2018-12-05 15:24] #997 closed

[2018-12-05 17:16] tpaoletto opened #2336 "rook-ceph-osd-prepare device filter"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD preparation failed on udev triggered device.

**Expected behavior:**
OSD preparation success.

**How to reproduce it (minimal and precise):**

If the "deviceFilter" is specified in the cluster.yaml file and it is pointing to udev-triggered devices
the rook-ceph-osd-prepare will fail.

    storage:

[2018-12-05 17:30] NickUfer commented on #2335
Same problem for me. Ports are binded and reachable with curl on 127.0.0.1 and pod ip.

[code]

[2018-12-05 17:43] BlaineEXE opened #2337 "Ceph mgr: old replicaset fails to scale down during upgrade"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
During our testing, Kubernetes sometimes failed to scale down the v0.8 replicaset for the
Ceph mgr daemon. While we continue to investigate this issue, if you see two mgr pods running,
delete the old mgr replicaset in order for the new Ceph mgr to start up properly.

This has been observed on Kubernete

[2018-12-05 18:15] amaczuga commented on #1913
I am observing this behavior with RWX access mode claims. Rook 0.8.

[2018-12-05 19:37] dimm0 commented on #2042
Still interested in seeing this

[2018-12-05 19:46] jbw976 commented on #2294
This was fixed with #2207

[2018-12-05 20:56] jamstar commented on #2228
I haven't forgotten about this, just had some other work stuff

[2018-12-06 01:14] #2316 closed

[2018-12-06 02:05] yanniszark commented on #2294
@jbw976 I was thinking this could be an umbrella issue to track things, not for one specific PR (title also implies that). What do you think ?

[2018-12-06 12:26] papudatta opened #2338 "namespace rook-ceph has no resources"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]

**Expected behavior:**
We should see resources under `rook-ceph` namespace

**How to reproduce it (minimal and precise):**
[code]
**Environment**:
[code]

* OS (e.g. from /etc/os-release):
[code]

* Kernel (e.g. `uname -a`):
[code]
* Cloud provider or hardware configuration:
Running off of 3 Ub

[2018-12-06 15:04] travisn commented on #2338
@papudatta Can you also share the logs for the `rook-ceph-operator` pod in the `rook-ceph-system` namespace? Since you're testing with master, it's possible you need to sync the latest yaml files. The versions of the CRDs changed yesterday with the merge of #2326. For example, if the operator and yamls don't both have the change, the operator will not create the cluster. There was a delay of a few

[2018-12-06 15:41] papudatta commented on #2338
@travisn here are the logs:
[code]
I'll sync and redo the steps in a short while.

[2018-12-06 15:43] travisn commented on #2338
Ok, that confirms the CRDs are a different version than the operator expects, so you shouldn't hit this again after you sync.

[2018-12-06 15:50] leseb commented on #2280
What was the fix for this?

[2018-12-06 15:51] travisn commented on #2331
@BlaineEXE What if we made the following targeted fix for 0.9?
- While interating over mons, check if the rook version and ceph versions are expected in the existing mon pod specs. If not, go ahead and call the helper to update the deployments.

This would enable upgrades, and also make sure we don't always update the mon deployments with every iteration of the loop. The only downside is if there

[2018-12-06 15:59] frouzbeh commented on #2280
@leseb I couldn't find any solution for that when it happened, but I was getting this whenever I deleted rook, so I started with a new cluster and this hasn't happened anymore.

[2018-12-06 16:03] #2303 closed

[2018-12-06 16:06] leseb commented on #2280
@frouzbeh thanks!ç

[2018-12-06 20:55] aleks-mariusz commented on #1169
in any case, it looks like it made it into v1.13 per https://github.com/kubernetes/enhancements/issues/304#issuecomment-438019795 so can any progress be made to implementing this in ceph-rook now please? :-)

[2018-12-07 02:19] dyusupov commented on #1532
Pull request was merged. Closing this issue and will open new issues for the following 0.9.x and 1.0.0

[2018-12-07 02:19] #1532 closed

[2018-12-07 06:42] litaxc opened #2340 "Docs: Deploy with Helm Chart will encounter error: unable to recognize "rook/cluster.yml": no matches for kind "CephCluster" in version "ceph.rook.io/v1""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
Run
[code]
should create the ceph cluster, but result in:
[code]
This is because CustomResourceDefinition CephCluster is not included in the helm chart. So should the chart be updated or is it requires additional steps to setup ceph cluster with helm?

**How to reproduce it (min

[2018-12-07 09:15] MatthiasLohr commented on #1169
Yeah, please! :)

[2018-12-07 09:43] stucki commented on #2335
Had the same problem multiple times after starting over with a fresh setup.
Try this as a workaround:

[code]

[2018-12-07 16:33] tpaoletto commented on #2336
You can find a similar behavior on issue #1228

[2018-12-07 19:12] #1342 closed

[2018-12-07 20:45] yanniszark opened #2343 "[cassandra] Cluster Creation and Scale Up"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The cassandra operator should be able to create and scale up a Cluster.

[2018-12-07 20:47] yanniszark opened #2344 "[cassandra] Cluster Scale Down"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The cassandra operator should be able to scale down a Cluster by removing members from a Rack. A member should decommission and distribute its data across the Cluster before it is removed.

[2018-12-07 20:48] jbw976 commented on #2343
Fixed by #2207

[2018-12-07 20:48] #2343 closed

[2018-12-07 20:48] jbw976 commented on #2344
Fixed in #2325

[2018-12-07 20:48] #2344 closed

[2018-12-07 20:58] travisn opened #2345 "Upgrade with host networking causes mon pods to fail to start"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Mons fail to start because they are all running on port 6790. The pod spec shows the ports:
[code]

**Expected behavior:**
All mons are expected to start after upgrade from 0.8 to 0.9.

**How to reproduce it (minimal and precise):**

- Install 0.8 with hostNetworking: true
- Upgrade to 0.9
- See the mo

[2018-12-07 21:14] travisn commented on #2345
Here's the operator log. https://gist.github.com/travisn/63536df7110e2db69f95746f619f8f4f

[2018-12-07 21:36] travisn opened #2347 "Upgrade from v0.8 does not update the rgw deployment"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Upgrading the object store from 0.8 to 0.9 (master) does not update the rgw deployment or daemonset. They remain with the 0.8 pod spec, which is not expected.

The object store has a code path different from other daemons that checks if it exists and then returns if it does as seen [here in the code](h

[2018-12-07 21:47] travisn commented on #2337
Removing from 0.9 as there is a workaround in the upgrade guide.

[2018-12-07 23:50] #2347 closed

[2018-12-08 01:42] dyusupov opened #2351 "EdgeFS documentation needs more love.."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Some grammar errors, use of some confusing wording, etc.

**Expected behavior:**

Need a second pass for EdgeFS operator documentation

**How to reproduce it (minimal and precise):**

This is documenting bug.

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provi

[2018-12-08 02:39] #2345 closed

[2018-12-08 02:54] #2330 closed

[2018-12-08 04:48] travisn opened #2352 "RBD Mirror daemon is not updated during upgrade"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
RBD Mirror daemon remains on the same ceph image and is not updated during an orchestration.

**Expected behavior:**
The RBD mirrors daemons should be updated just like other daemons when the image changes.

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-releas

[2018-12-08 04:53] travisn opened #2353 "Major version is incorrect during a ceph upgrade"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a cluster orchestration is started, the version of the ceph image is determined by launching the image and getting the major version name from the output of `ceph --version`. When the crd is later updated with the intention of upgrading, the major version is correctly detected, but then is not upd

[2018-12-09 12:39] galexrt opened #2358 "Rethink model for supported Kubernetes versions"
**Is this a bug report or feature request?**
* Feature Request

**Description:**

We should revisit the Kubernetes versions supported, as it seems a bit much to (currently) support 1.8, 1.9, 1.10, 1.11, 1.12 and 1.13 (+ upcoming K8S releases).

My suggestion supporting the latest 3+1 Kubernetes versions, meaning that right now, 1.11, 1.12, 1.13 and an upcoming 1.14 would be supported.
When 1.15 wo

[2018-12-09 17:59] sabbot opened #2359 "EdgeFS: Wrong condition in devices discovery"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Should be able to create one disk(hdd) per node cluster without ssd

**How to reproduce it (minimal and precise):**
Create cluster with one hdd per node

[2018-12-10 02:05] Thingee opened #2361 "Ceph containers aren't using specified dataDirHostPath"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Container data directory is still set to /var/lib/rook after setting the dataDirHostPath in ceph/cluster.yaml to /data/rook

**Expected behavior:**

For the container processes mon-data and osd-data to use /data/rook as specified in ceph/cluster.yaml

**How to reproduce it (minimal and precise):**

1.

[2018-12-10 02:30] Thingee commented on #2361
Likely related ... trying the mysql example and doing a pod describe gives an unbound volume claim ... [unbound-volume-claim.txt](https://github.com/rook/rook/files/2661338/unbound-volume-claim.txt)

[2018-12-10 02:31] hunter commented on #923
I was looking through the 0.9 docs and couldn't see a way to configure options for OSDs (for `ceph-volume` dmcrypt support). Did anything like this make it into the release?

[2018-12-10 06:11] jbw976 commented on #2361
@Thingee from this output, it looks like the mons and OSD are using `/data/rook` like you asked?
[code]
Note that ceph containers get the `dataDirHostPath` bind mounted to `/var/lib/rook` inside the container always, so from the perspective of the container's process mount namespace, it will be using `/var/lib/rook` always.  But that should be bind mounted to `/data/rook` on the host machine, resu

[2018-12-10 06:49] travisn commented on #923
@hunter  The feature is actually implemented in 0.9, but it is not documented due to a blocking issue that I hit during testing. When `ceph-volume` is called with the `--dmpcrypt` option I am seeing it hang as described [here](https://gist.github.com/travisn/dce67953da35c4c75fb7490623d63165). It might be something in my environment, or some clues were pointing to some bind mount missing related to

[2018-12-10 07:51] #2361 closed

[2018-12-10 07:55] pennpeng commented on #2197
[code]

Environment:
CENTOS 7
Kubernetes 1.11.3
Rook version v0.9
ceph version: M

[2018-12-10 15:44] yanniszark opened #2363 "[operator framework] Add Admission Webhooks for improved UX - Validation"
* Feature Request: Validation Webhook for CRDs

**What should the feature do:**

Admission webhooks are HTTP callbacks that receive admission requests and do something with them.  At the moment, we can define [validation](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#validatingadmissionwebhook) and [mutation](https://kubernetes.io/docs/reference/access-authn-authz/

[2018-12-10 18:05] #2088 closed

[2018-12-10 21:33] lastessa commented on #2335
the same problem on fresh ubuntu with k8s cluster and rook install.

[2018-12-10 21:37] galexrt commented on #2335
@lastessa @NickUfer @stucki Could you please post your Rook Ceph MGR logs as an attachment or gist.

[2018-12-10 22:00] lastessa commented on #2335
https://gist.github.com/lastessa/784153cfb132e8701250be7441e59387

[root@krs-1 /]#  ceph status
  cluster:
    id:     476b51c2-9edc-4831-8b3a-a7655997c5fd
    health: HEALTH_ERR
            2 modules have failed

  services:
    mon: 4 daemons, quorum b,d,c,a
    mgr: a(active)
    osd: 3 osds: 3 up, 3 in

  data:
    pools:   1 pools, 100 pgs
    objects: 57  objects, 140 MiB
    usage:   82 GiB

[2018-12-10 22:40] dyusupov opened #2367 "EdgeFS Cluster CRD: storage config support for sync option"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

For performance vs. availability tradeoffs, EdgeFS allows flexible selection of sync operation. We need to provide a way to change it via cluster CRD. Example:

[code]

This has to be cluster  or node scope option. Default is 1, i.e. consistent in case of software crash or power loss.

**What is use ca

[2018-12-11 00:58] based64god commented on #2335
Same issue here. I've managed to nail down some repro steps, but feel free to ask away if anything else is needed that I may have missed.

My cluster is currently running ubuntu 18.04.1 with kernel 4.15.0-42-generic and docker.io/weaveworks/weave-npc:2.5.0 for CNI on all machines. The cluster also has the latest prometheus operator v0.26.0 and the prometheus, prometheus-service, and service-monito

[2018-12-11 01:45] #1828 closed

[2018-12-11 13:17] Amos-85 commented on #2340
Same issue for me in new rook version 0.9

[2018-12-11 17:14] slassh opened #2370 "Invalid option "dataBlockPool" for erasure coded pool"
* Bug Report
When you upgrade rook from v0.8.3 to v0.9 it fails to dynamically provision volumes with erasure coded pool.
` kubectl describe pvc`

` Events:
 Warning    ProvisioningFailed    10s (x4 over 41s)  ceph.rook.io/block rook-ceph-operator-86df7b5948-n2ndx 485a0cbf-fd42-11e8-9601-caa20481834d  Failed to provision volume with StorageClass "rook-ceph-block": invalid option "dataBlockPool" fo

[2018-12-12 00:20] jeblair opened #2371 "shared cephfs flexvolume not mounted in pod when running kubelet under atomic"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After running the quick-start and registry example on, the cephfs shared filesystem is not mounted as a volume in the registry pod.  Inside the registry pod, /var/lib/registry is on the host's root filesystem.

**Expected behavior:**
/var/lib/registry should be the shared filesystem ("myfs" from the qu

[2018-12-12 07:18] travisn commented on #2335
Ok, I was able to repro in minikube simply by using the default cluster yaml (that configures mimic), then looking at the cluster health in the toolbox. Within the first 30-60 seconds the mgr modules are fine, but then the prometheus and dashboard modules fail and the ceph status reports HEALTH_ERR with the two module failures. This does not repro when launching luminous. This does repro with naut

[2018-12-12 07:53] jbw976 commented on #2335
We saw this also today during the demo at the Rook intro session at Kubecon Seattle :)

[2018-12-12 14:19] emonty commented on #2371
This also seems related to #1921

[2018-12-12 15:39] emonty opened #2373 "Documentation around atomic flexvolume is confusing for OpenStack Magnum clusters"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The docs for Atomic point users to the OpenShift docs.

**Expected behavior:**
Having a specific FlexVolume path listed when possible.

[2018-12-12 15:41] travisn commented on #2371
@jeblair @emonty it looks like the flex driver is configured since it mounted, however since kubelet is in a container there is another step needed. The [flex volume config](https://rook.io/docs/rook/v0.9/flexvolume.html) topic mentions this in the Rancher section, so it looks like the docs need to be updated. Does that work for you?

[2018-12-12 15:45] sinqinc opened #2375 "MDS image version"
I upgraded to Rook v0.9 and cephVersion.image to ceph/ceph:v13.2.2-20181023. All pods have been upgraded to that image but the MDS is still using ceph/ceph:v12.2.9-20181026.

Is this normal ? Do I need to edit another CRD than CephCluster ?

Thank you

[2018-12-12 15:55] emonty commented on #2371
@travisn Thanks - trying now - if it does, I'll push up a doc update.

[2018-12-12 17:02] emonty commented on #2371
Ok. So ... if I look at the mounts on all of the minions, I see what looks like the cephfs mounted into a volume for the pod:

[code]
If I write files to /var/lib/registry in each registry pod:

[code]

I can see those files in the pod-specific directory that claims to be a cephfs mount on each minion - but only the file that was associated with the particular registry pod:
[code]

So it seems lik

[2018-12-12 17:38] emonty commented on #2371
Just a followup comment - because the above one may have actually muddied the waters:

In the kubelet container, we see the cephfs mounted on the pod storage directory:

/var/lib/kubelet/pods/581cf8c5-fe32-11e8-aeef-fa163eb20d90/volumes/ceph.rook.io~rook/image-store

If I write a file to that dir while in the kubelet container, it correctly writes to cephfs. If I jump to another minion, attach to

[2018-12-12 18:44] emonty commented on #2371
#2376 is a stab in the dark. I verified that in our environment the kubelet container is configured to mount /var/lib/kubelet as rshared. Also - other bind-mounted volumes below /var/lib/kubelet, such as the tmpfs volumes for secrets, ARE properly propagating to be visible on the host as expected, so one would imagine it has something to do with the actual mounting operation itself.

[2018-12-12 20:05] #2006 closed

[2018-12-13 01:42] planeo1105 opened #2377 "my rook-ceph-agent is CrashLoopBackOff"
One of the rook-ceph-agent is CrashLoopBackOff. Then look logs
[root@k8s-prelease ~]# kubectl logs -f rook-ceph-agent-g8lqx -n rook-ceph-system
2018-12-13 01:15:47.590627 I | rookcmd: starting Rook v0.9.0-4.g8a49531 with arguments '/usr/local/bin/rook ceph agent'
2018-12-13 01:15:47.590736 I | rookcmd: flag values: --help=false, --log-level=INFO
2018-12-13 01:15:47.592235 I | cephcmd: starting roo

[2018-12-13 06:54] marcstreeter commented on #1468
I'm seeing this as well. As soon as I learn how to make/edit helm charts I'd be happy to help.
I'm just so new to this I'm assuming this will be fixed before I get that far.

[2018-12-13 09:07] travisn opened #2378 "Mon failover takes an extra cycle to remove the failed mon"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a mon is failed over, a new mon is added to quorum ok, but the failed mon takes a couple minutes to be removed from the monmap. Messages in the operator log show that the operator is waiting incorrectly for the wrong number of mons to start. After that wait times out, the health check at the next

[2018-12-13 09:09] travisn opened #2379 "Updating the Ceph version requires an operator restart for rgw and mds"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When updating the ceph crd to update from luminous to mimic, the rgw and mds pods were not automatically updated. The operator had to be restarted in order for rgw and mds to be updated.

**Expected behavior:**
RGW and MDS should be updated during the main upgrade if the version changes.

**How to repr

[2018-12-13 09:51] rcgoodfellow commented on #1895
First off, thanks for Rook. It's pretty awesome.

I seem to be hitting this issue, but manifesting in a slightly different way. I'm seeing the following in the rook operator logs when my Ceph nodes are tainted.

[code]
seemingly from #1990. I'm using a combination of affinities and taints.

[code]

The Ceph nodes are tainted with the following, where `$x` is the node name.

[code]

According to my

[2018-12-13 11:08] ypnuaa037 commented on #1727
I had encountered this problem too, but I couldn't reproduce it. In my case, image has /dev directory, and pod mounted /dev from host as read-only, which worked well for most of time, but encountered this situation once. I mount /dev from host since I didn't notice the default terminationMessagePath, read-only problem seems reasonably because it is mounted as read-only, but why it worked well for

[2018-12-13 11:37] frederic-loui opened #2380 "docs: adding node via rook cluster CRD is buried in the docs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
I read the docs in the Documention folder. However updating a cluster via CRD (adding/removing node) document is still in the design folder. I stopped by Issue #934 but could not identify if this is now possible do actually perform safe addition to the ROOK cluster.

**What is use case behind this featu

[2018-12-13 15:09] jbw976 commented on #2380
Also here's a blog post I wrote about the feature when it was originally released, if you are in a reading mood :)
https://blog.rook.io/scale-out-your-cluster-with-rook-v0-7-6abf9bcad6a6

[2018-12-13 15:17] frederic-loui commented on #2380
I'll sure read it ! (Even now...)

Le jeu. 13 déc. 2018 à 16:09, Jared Watts <notifications@github.com> a
écrit :

[2018-12-13 18:42] sebastian-philipp commented on #2335
Ok, this seems to be closely related to CherryPy. Which exact CherryPy version is installed in the containers?

[2018-12-13 18:47] sebastian-philipp commented on #2335
Upstream: http://tracker.ceph.com/issues/37651

[2018-12-13 18:50] sinqinc commented on #2335
root@rook-ceph-mgr-a-55bb9c6474-9ddpn /]# python -c "import cherrypy;print cherrypy.__version__"
3.2.2

[2018-12-13 18:52] sebastian-philipp commented on #2335
This version is kind of old. Do you get the same error with 3.5.0 or newer?

[2018-12-13 18:56] sebastian-philipp commented on #2335
As this is a CentOS based image, @epuertat have you seen this in your RH downstream testing?

[2018-12-14 06:46] galexrt commented on #2377
Which rook image tag are you using?
You seem to be running a move-able image tag, e.g., `master`, which is not recommended as it is moving and in your case you now have servers with an image of state that is X days old and on a new/other machine an image of state "now".

[2018-12-14 10:06] pennpeng commented on #2335
+1

[2018-12-14 10:38] epuertat commented on #2335
I've seen that, but my common setup has been, you know, CentOS7 + custom Luminous backport of the dashboard.

Just run a search and found that this was also happening in [Luminous 12.2.5's Prometheus module](https://tracker.ceph.com/issues/24395) and [dashboard too](https://tracker.ceph.com/issues/20216). But it was mostly fixed with https://github.com/ceph/ceph/pull/15588.

In the past I was able

[2018-12-14 12:00] Amos-85 commented on #2335
I have the same issue and same ceph mgr errors like @galexrt publish in gist
[https://gist.github.com/galexrt/3626102e96dddcef071060b71d94e280](url)
+1

[2018-12-14 17:51] travisn commented on #2340
@litaxc @Amos-85 Could you try installing the `stable` helm chart? It looks like the docs need to be updated still.
[code]

[2018-12-14 18:00] Amos-85 commented on #2340
Thanks @travisn  ,
I'm already use the stable chart.
@galexrt helped me on slack yesterday and there was format issues in the cluster.yaml manifest.

[2018-12-14 21:56] travisn commented on #1716
The inventory is still based on rook's inventory so this behavior likely hasn't changed. Yes, we need to move in the direction of c-v inventory.

[2018-12-14 21:57] dyusupov opened #2383 "EdgeFS Cluster CRD on non-tagged nodes can get stuck on deletion"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

Cluster CRD has to terminate all associated objects.

**How to reproduce it (minimal and precise):**

Execute CRD on nodes which will be detected as invalid. Try to delete CRD.

**Environment**:

[2018-12-14 22:18] travisn commented on #2296
It has not been implemented yet to update the object service when the crd is updated.

[2018-12-14 22:22] #2299 closed, assigned to nobody

[2018-12-14 22:36] travisn commented on #1895
@rcgoodfellow Are you running Rook v0.9? It should have the tolerations working as seen in the source [here](https://github.com/rook/rook/blob/master/pkg/operator/k8sutil/node.go#L59). If not, could you open a new issue for this? Thanks

[2018-12-15 01:01] tcf909 commented on #2107
/reopen

[2018-12-15 05:53] rcgoodfellow opened #2384 "Taints prevent OSDs from running when sufficient tolerations in place."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Tolerations declared in cluster.yml do not allow OSD pods to run on tainted nodes.

**Expected behavior:**
Declaring a toleration in cluster.yml allows OSDs to be scheduled on nodes that have matching taints.

**How to reproduce it (minimal and precise):**
Use the following taint declaration in cluster

[2018-12-15 05:55] rcgoodfellow commented on #1895
Yes, we're running master, specifically `v0.9.0-4.g8a49531`. Created #2384.

[2018-12-15 14:01] yanniszark commented on #2107
Right now I'm working with @gnumoreno on something similar.
We're looking into using high performance Local Volumes on a GKE environment for the cassandra/scylla operator.
We have various interesting findings and we will compile a list of scenarios with local volumes on GKE. After GKE, we also plan to investigate other Kubernetes offerings (EKS, AKS).

[2018-12-15 15:39] #2091 closed

[2018-12-15 19:01] Amos-85 commented on #2335
@liejuntao001 as far as I understand from the community, we'll need to wait for ceph to publish docker version 13.2.3 in order to solve the prometheus & ceph dashboard bugs in mimic.
they suppose to publish it around Jan 2019.

[2018-12-15 22:15] #2351 closed

[2018-12-15 22:41] #2359 closed

[2018-12-16 01:32] kfox1111 commented on #2340
have chart upgrades been tested with the crd's in place? Helm has some outstanding issues with crd's.

[2018-12-16 01:33] kfox1111 commented on #2109
This could be useful.

[2018-12-16 02:07] kfox1111 opened #2388 "ceph statefulset"
* Bug Report

**Deviation from expected behavior:**
I deployed a test ceph cluster with 0.9 to test it out.
The cluster deployed with Deployment objects.
There is no guarantee that there will never be 2+ of the same pod running at the same time. This could lead to data corruption if not explicitly handled in code. I'm not seeing it though

**Expected behavior:**
Statefulset's should be used instea

[2018-12-16 05:39] jbw976 commented on #2107
Awesome @yanniszark, please do share your findings here.  This topic has general benefit to most all Rook storage providers.

[2018-12-16 07:05] travisn commented on #2388
@kfox1111 The deployments have a replication of 1 and creation strategy of [RecreateDeploymentStrategyType](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#recreate-deployment). We expect that only one instance of the pod will be running in this case.

[2018-12-17 14:50] travisn commented on #2353
Reopening for backport

[2018-12-17 15:12] travisn commented on #2388
I should have pointed out that in the case there is ever the possibility of running more than one instance of the pod, the mon and osd daemons will fail to start. This can be tested by changing the replication to 2 on the osd and mon deployments and see the pods enter crash loop backoff state.

[2018-12-17 16:17] sebastian-philipp commented on #2335
@epuertat :  @travisn was able to reproduce this with Nautilus

[2018-12-17 16:50] hagay-david opened #2391 "Pod failed to schedule/start on other node after node shutdown"
HI Rook support,
As part of the HA tests I am performing , I wanted to test that my Redis pod can reschedule on other node after  stopping the node which it was running on.
I have stooped the node which Resid was running on in clusterand i was expecting that the Pod will be reschedule on other node successfully after 5 min.

The POD description was prompting the following ERROR:
 **Events:
  Type

[2018-12-17 17:12] kfox1111 commented on #2388
the mons and osd's check for this themselves? how do they do that? I could see them doing that with net=host and there being a port conflict. but what about for net!=host?

[2018-12-17 17:41] travisn commented on #2353
Backported with #2390

[2018-12-17 17:41] #2353 closed

[2018-12-17 18:24] travisn commented on #2388
In a quick test of changing the replication to 2 to simulate this issue, I see the following errors when the second daemons trying to start. This is independent from net=host since the errors are from trying to lock the files on the host path.

MON:
[code]

OSD:
[code]

[2018-12-17 18:33] kfox1111 commented on #2388
ah. ok. That should be safe enough for now then.

There is another issue raised somewhere I saw that was talking about being able to run ceph on top of pv's (useful). In that mode, this may need to be reconsidered for that use case?

[2018-12-17 19:24] travisn commented on #2388
yes, good question, we will need to ensure this is still safe with the pv's. @galexrt thoughts?

[2018-12-17 21:31] ky-ma commented on #2370
Hello I also ran into the same issue on a clean setup of v0.9 and not from an upgrade.

[2018-12-17 21:52] #2367 closed

[2018-12-17 21:53] travisn commented on #2370
This was caused by the renaming of types when moved to v1 in [this function](https://github.com/rook/rook/blob/b6b569ba422be38490dd94760ef26358359932cc/pkg/operator/ceph/provisioner/provisioner.go#L195). Thanks @galexrt for taking a look!

[2018-12-17 23:41] dimm0 opened #2394 "Upgrade to 0.9 doc is not working for old namespaces"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The doc is saying:

We should start up the new toolbox pod before moving on, and this can be our first test of the namespace environment variables.

Although I'm getting:

[code]

When running `kubectl -n $ROOK_NAMESPACE create -f toolbox.yaml`

**Expected behavior:**
This works:
[code]

Please delete

[2018-12-17 23:45] galexrt commented on #2394
@dimm0 The better part would be to move the `sed` and env var configuration further up, as `sed` is correctly used to change the namespace to the one provided by the user, see https://rook.io/docs/rook/v0.9/ceph-upgrade.html#1-configure-manifests

[2018-12-18 00:46] dimm0 commented on #2394
sed command is much further in docs.. And if we move it up, it's possible somebody won't read one.
Not sure what would be better to do

[2018-12-18 01:37] #2370 closed

[2018-12-18 04:02] zdoherty opened #2395 "ceph: trailing slash on filestore osd path causes error in init-configs after 0.9 upgrade"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrading to v0.9.0, a Ceph filestore OSD was unable to initialize. Specifically, the init-configs container began throwing the following error:

[code]

It's worthy of note that both the original Cluster and the new CephCluster declarations specified a trailing slash in the relevant node configu

[2018-12-18 08:18] planeo1105 commented on #2377
@galexrt Thank you, Now I use rook image is master, I delete rook-ceph-operator.yml,and replace rook-ceph-operator.yaml. It's done

[2018-12-18 10:36] sanverm2 opened #2396 "mounting volume issue with kernel<3.15"
There is mounting volume issue with kernel<3.15 mentioned in the following URL:

https://github.com/rook/rook.github.io/blob/master/docs/rook/v0.7/common-problems.md#volume-mounting

The workaround proposed is:
[code]

Is this limitation still present in rook ceph or is has been fixed?

[2018-12-18 10:54] danishsh opened #2397 "HEALTH_ERR: 2 modules have failed in release-0.9"
Installed following https://rook.github.io/docs/rook/v0.9/ceph-quickstart.html
Getting ceph status "HEALTH_ERR: 2 modules have failed"
[code]

------------------------------------------------------
**Expected behavior:**
No Health Error

**How to reproduce it (minimal and precise):**
[code]

**Environment**:
[code]
* Kernel (e.g. `uname -a`):
uname -a
Linux hrca-na-baass01 4.15.0-34-generic #37-Ub

[2018-12-18 11:54] galexrt commented on #2397
Seems related to #2335.
Though different because of log messages such as:
[code]

[2018-12-18 14:53] slassh commented on #2391
Hi @hagay-david I think your issue is similar to this one https://github.com/rook/rook/issues/1507 .

[2018-12-18 15:07] yanniszark opened #2399 "[cassandra] User-Provided ConfigMap to tune JVM and Cassandra"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
A user can provide a configMap with custom settings for the JVM and Cassandra.
The operator then ensures the new settings are propagated throughout the cluster, by performing a rolling update.

**What is use case behind this feature:**
Depending on the workload, Cassandra and the JVM need tuning in orde

[2018-12-18 15:14] yanniszark opened #2400 "[rook common types] StorageSpec has Typemeta and deepcopy-gen"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In the rook common types, `StorageScopeSpec` is not a top-level type, yet it has `Typemeta` field and `deepcopy-gen` comment.

**Expected behavior:**
`StorageScopeSpec` should not have `Typemeta` field and `deepcopy-gen` comment.

**How to fix:**
1. Delete `Typemeta` and `deepcopy-gen` comment.
2. Run

[2018-12-18 15:23] dyusupov opened #2401 "EdgeFS: add documentation on how to configure Prometheus dashboard"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

EdgeFS supports detailed dashboard with Prometheus metrics. We should add documentation on how users can easily configure it.

**What is use case behind this feature:**

EdgeFS Prometheus metrics endpoint runs on "mgr" pod, port 8881. We need to add documentation on how to connect to it, few screenshot

[2018-12-18 16:35] #2110 closed

[2018-12-18 16:41] yanniszark opened #2402 "[cassandra] openapi validation is outdated"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OpenAPI validation for cassandra Cluster Objects is outdated and not working correctly.

https://github.com/rook/rook/blob/master/pkg/apis/cassandra.rook.io/v1alpha1/types.go
https://github.com/rook/rook/blob/a73ffc4ac0ba76616bfa2eaa371a0373456d17f5/cluster/examples/kubernetes/cassandra/operator.yaml#L

[2018-12-18 17:03] #2136 closed

[2018-12-18 17:14] sebastian-philipp commented on #2335
@lenzgr fyi.

[2018-12-18 18:35] jbw976 commented on #2402
This is the advantage of integrating with more advanced operator frameworks like kubebuilder as described in #1981.

Crossplane has done this already and we have a make target for `make manifests` that generates all the CRD schema, validation, etc. so it is always in sync with the code:
https://github.com/crossplaneio/crossplane/blob/master/Makefile#L62-L64

[2018-12-18 18:40] yanniszark commented on #2402
Totally agree with this.
In fact, I used the openapi-generator from controller-tools, which is the one kubebuilder uses, to fix the openapi definition this time.
The only thing missing from kubebuilder is the ability to specify filters for the listers/informers (eg only list objects with these labels, in this namespace etc.)

[2018-12-18 21:37] zcourts commented on #2371
We appear to be having the same issue on bare metal with kubelet running natively.

I tried:
[code]
on the `volumeMount` which in turn required

[code]
on the deployment container's decl.

otherwise I was getting
[code]

I was under the impression that `mountPropagation: Bidirectional` is equivalent to setting `rshared` on the mount, at least according to https://kubernetes.io/docs/concepts/storag

[2018-12-19 05:43] danishsh commented on #2397
@galexrt : Thanks for the help...after disabling prometheus and dashboard module it works fine....
kubectl -n rook-ceph exec -it $(kubectl -n rook-ceph get pod -l "app=rook-ceph-tools" -o jsonpath='{.items[0].metadata.name}') bash
ceph status     # reports HEALTH_ERR , 2 modules have failed
ceph mgr module disable prometheus
ceph mgr module disable dashboard
ceph status     # reports HEALTH_OK

Bu

[2018-12-19 06:52] travisn commented on #2335
Ok, I believe I have prototyped the fix... The setting on the mgr modules for `server_addr` needs to be set to the pod IP. By default the dashboard and prometheus modules are binding to `::` (all interfaces) as seen [here](https://github.com/ceph/ceph/blob/master/src/pybind/mgr/dashboard/module.py#L109), which is causing the issues in the k8s clusters.

The fix can be tested by running the followi

[2018-12-19 06:56] travisn commented on #2397
@danishsh I've found the fix for #2335. Can you reenable the modules and confirm if the fix works for you?

Yes, we would like to get a v0.9.1 release out in the next couple days with this fix. To see what the priorities are for v0.9 releases, you can follow [the project board](https://github.com/rook/rook/projects/10)

[2018-12-19 08:57] grayglj opened #2404 "ceph dashboard pop js load 500 error internal server error"
ceph dashboard open successful,but the page keep pop-up error message : 500 - Internal Server Error

and i can see the ceph manager pod raise an error as below:

 File "/usr/lib/python2.7/site-packages/cherrypy/_cprequest.py", line 656, in respond
    response.body = self.handler()
  File "/usr/lib/python2.7/site-packages/cherrypy/lib/encoding.py", line 188, in __call__
    self.body = self.oldhan

[2018-12-19 09:05] kaarolch commented on #1897
get the same problem on rook v0.8.3 unfortunately remove RS and restart Operator did not help.

[2018-12-19 09:22] libesz opened #2405 "[docs] Some documented Ceph cluster sample CRDs fail on validation"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Cannot create ceph cluster with some of the documented examples

**Expected behavior:**
All documented example shall be deployable

**How to reproduce it (minimal and precise):**
I followed the [CRD guide](https://rook.github.io/docs/rook/master/ceph-cluster-crd.html#samples) and created the first exam

[2018-12-19 10:36] lastessa commented on #2335
After restart mgr pod
kubectl -n rook-ceph delete pod -l app=rook-ceph-mgr

it's get another ip address different from ceph config set settings

[2018-12-19 13:45] kaarolch commented on #1897
Ok found workaround:
- remove replica set for affected mon instance
- remove mon folder from node where affected mon instance was scheduled
- restart operator

[2018-12-19 15:03] travisn commented on #2335
@lastessa I updated the instructions to restart the pod without deleting it. Does that work for you?

[2018-12-19 16:17] rohan47 commented on #2038
@nemesis09 are you working on this?

[2018-12-19 22:25] jkowalski opened #2406 "v0.9.0 binaries don't run on ARM64"
On ARM64:

[code]

the following commands fail:

[code]

I verified that on the same ARM64 machine, other multi-arch images work fine.

For comparison, on AMD64 both of these work fine:

[code]

BTW. I got the `sha256` IDs by examing manifest for `rook/ceph:v0.9.0` and it appears to have two platform-specific manifests, but there's something wrong with ARM64 version.

[code]

[2018-12-19 22:44] jkowalski commented on #2406
BTW I found some old images on docker hub - the last one that appears to be working is `rook/ceph:v0.7.0-146.gcd2b699`

[code]

But the next one after it does not:

[code]

[2018-12-20 01:08] rareshornet commented on #2298
Hi guys, same issue here, I haven't restarted the operator while setting it up. Here is the full log:

2018-12-20 01:00:34.329557 I | rookcmd: starting Rook v0.9.0-16.gbdbff45 with arguments '/usr/local/bin/rook ceph operator'
2018-12-20 01:00:34.330308 I | rookcmd: flag values: --alsologtostderr=false, --help=false, --log-level=INFO, --log_backtrace_at=:0, --log_dir=, --logtostderr=true, --mon-he

[2018-12-20 14:33] #2338 closed

[2018-12-20 14:33] papudatta commented on #2338
Was able to view resources after following steps:
[code]

[2018-12-20 16:53] nemesis09 commented on #2038
Hi rohan47,
Sorry for the delay from my side. Yes I am working on it. But I was stuck in some personal emergency and exams. So I would need some more time. Please assign the issue to someone else if I am harming the pace of the project.
Sorry for the inconvenience caused due to me.

[2018-12-20 16:54] travisn commented on #2298
I hit this today as well. It seems there is a race condition for the `ceph dashboard` commands to be available immediately after the dashboard mgr module is enabled. We will need to retry the operation in case of failure like this.

[2018-12-20 17:15] dyusupov opened #2409 "EdgeFS: need host check/prepare functionality"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Because EdgeFS is using accelerated networking backend, it needs to verify if networking buffers are set correctly on the host. In the future, same functionality can be extended to prepare for use with PMU acceleration (PF-RING based userspace stack networking offload).

**What is use case behind this

[2018-12-20 17:33] Kralor-Guldan commented on #2171
Fixing this issue automatically via Rook would be awesome.

We have IPV6 turned off in our High Performance clusters for stability, and this issue has been driving me nuts until I found this ticket.

[2018-12-20 18:43] rcgoodfellow opened #2411 "FailureDomain = host not enforced?"
**Is this a bug report or feature request?**
* Bug Report (possibly just documentation issue)

**Deviation from expected behavior:**
A block pool with the following deploys just fine on a cluster with just 1 worker node.

[code]
Here is my setup:

ceph block pool with host failure domain and a replicated size of 3
[code]

storage class that uses above replica pool
[code]

only 1 worker in this clu

[2018-12-20 19:48] allen13 commented on #1705
In combination with the CephObjectStoreUser CRD it seems like it would be pretty straight forward to create something like a CephObjectStoreBucket CRD using https://github.com/minio/minio-go. Is anyone still planning on implementing this?

[2018-12-20 21:37] travisn opened #2412 "Ceph dashboard fails to start on mimic with host networking"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The Ceph dashboard is not starting when running `mimic` and when `hostNetwork: true`.

The health status shows the following error, with a similar error in the mgr log.
[code]

**Expected behavior:**
The dashboard should start even when host networking is enabled.

**How to reproduce it (minimal and pr

[2018-12-20 21:38] galexrt commented on #2412
@travisn Which node is/was that on? `8443` is either used by another application or Kubernetes API server.

[2018-12-20 22:04] travisn commented on #2412
This was in minikube, so it likely is the k8s api server since nothing else is running. At a minimum the port needs to be configurable on the dashboard.

[2018-12-20 22:17] allen13 opened #2413 "Erasure Coded Block Storage Read Only [openshift 3.11]"
Environment: Openshift 3.11 on Red Hat Enterprise Linux Server release 7.6 (Maipo)
Kernel: 3.10.0-862.11.6.el7.x86_64

When mounting a erasure coded rbd using the examples the mount is read only. Everything else works as exepected including showing up in `df -ha`. Additionally I made sure that allow_ec_overwrites was enabled on the ec-data-pool

[code]

I read in the docs that Linux Kernel 4.11 is

[2018-12-20 22:37] liewegas commented on #1705
There is an project ongoing to prototype a PV-like workflow to do this.  Basic idea is that a StorageClass is associated with an particular object store (e.g., RGW), (or, in the future, perhaps an S3 region), app  create a ObjectStorageUserClaim and ...BucketClaim, rook goes and creates the user/bucket and populates secrets, and then the app can mount the secrets (or whatever) to access the bucket

[2018-12-21 00:01] dimm0 commented on #2174
Still an issue in rook 0.9, rgw & mgr v13.2.2-20181023

[2018-12-21 14:43] #2335 closed

[2018-12-21 14:43] #2298 closed

[2018-12-21 14:58] allen13 commented on #2413
Seems to be an Selinux Issue. Closing this issue and reopening another.

[2018-12-21 14:58] #2413 closed

[2018-12-21 15:36] allen13 opened #2417 "Selinux Labeling not working in Openshift v3.10.72"
Environment: Openshift v3.10.72 on Red Hat Enterprise Linux Server release 7.6 (Maipo)
Kernel: 3.10.0-862.11.6.el7.x86_64
Rook: rook/ceph:v0.9.0
Ceph: ceph/ceph:v13.2.2-20181023

Rook provisioner not labeling selinux mounts.

[code]

Disabled selinux on container host machine:

`setenforce 0`

Can now succesfully create a file in the /var/lib/ec directory

Disabling selinux permanently is not an o

[2018-12-21 15:37] allen13 commented on #2417
May be related to this: https://github.com/rook/rook/blob/master/cmd/rookflex/cmd/init.go#L45

[2018-12-21 19:41] bassam commented on #1705
There’s also work that we merged in crossplane that is related https://github.com/crossplaneio/crossplane/pull/226 would be good to discuss how these all come together.

This document describes our approach which is also inspired by PV:
https://docs.google.com/document/d/1whncqdUeU2cATGEJhHvzXWC9xdK29Er45NJeoemxebo

[2018-12-21 20:12] #2340 closed

[2018-12-21 21:20] allen13 commented on #2417
Changed this to true https://github.com/rook/rook/blob/master/cmd/rookflex/cmd/init.go#L45
and recompiled. It is now working. Would you accept a pull request that put this into an environment variable?

[2018-12-22 00:00] BlaineEXE commented on #2411
I am inclined to view this as a documentation issue as you mentioned. The text could be better worded to indicate that the example will work but that data redundancy will be degraded unless there are at least 3 osds on separate nodes.

This is the first time I've become aware of the `failureDomain` setting, however. The wording in the docs does suggest that because this value is `host`, the user s

[2018-12-22 00:12] BlaineEXE commented on #2396
This limitation is in Ceph, which often uses newer kernel features to improve security and/or performance. I would not consider the solution quoted as a workaround, because the behavior in Ceph is intentional.

[This Ceph doc](http://docs.ceph.com/docs/master/rados/operations/crush-map/#which-client-versions-support-crush-tunables3) shows which kernel versions are supported by various versions of

[2018-12-22 01:58] BlaineEXE commented on #2288
I can repro a situation similar to this one where I have no disks on one of my nodes and where my `dataDirHostPath` is on a btrfs partition, which Ceph does not support. This results in Rook attempting to create OSDs forever, and Ceph reports `33 osds 12 up, 12 in`, though there are only 12 disks available in the cluster.

I think there are pieces at play here:
- I disagree with the design decisio

[2018-12-22 04:54] #1487 closed

[2018-12-23 01:47] dimm0 opened #2424 "Path restriction OSD capabilities"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Following the guide at https://github.com/rook/rook/blob/master/Documentation/advanced-configuration.md#use-custom-ceph-user-and-secret-for-mounting, setting the caps to `osd 'allow rw tag cephfs data=YOUR_FS_DATA_POOL'` doesn't let the client write data. I'm reading docs for mimic, and according to ht

[2018-12-23 17:41] #2007 closed

[2018-12-23 17:44] stephan2012 opened #2425 "Rook Ceph Operator does not honor metadataDevice"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Although specified, Ceph Operator does not honor `metadataDevice`.

**Expected behavior:**
osd should be configured to use the specified `metadataDevice`.

**How to reproduce it (minimal and precise):**

1. Setup according to the docs
2. Take the example `cluster/examples/kubernetes/ceph/cluster.yaml`

[2018-12-24 16:15] jbw976 commented on #2151
We just implemented this in the Crossplane project and it really helps improve the UX: https://github.com/crossplaneio/crossplane/commit/802aad49166b9279e82866239c32a72ed45d2a27

It can be added to the CRDs manually, but this is another great reason to incorporate a more fully functioned operator/controller framework, like Kubebuilder (#1981)

[2018-12-24 20:06] travisn commented on #2151
Some columns were actually added with #2214. I'll close this and we can add more columns later as specific needs arise.

[2018-12-24 20:07] jbw976 commented on #2151
Those are only for Ceph, can we keep this open for the general desire to add custom columns for other storage providers?

[2018-12-25 13:39] #2137 closed

[2018-12-25 20:44] stephan2012 commented on #2425
Okay, probably a layer 8 problem. After moving `metadataDevice` to the `config` section, everything worked out as intended.

[2018-12-25 20:44] #2425 closed

[2018-12-26 00:48] kfox1111 commented on #2406
Went and tried to use rook v0.9.0 on arm64 and hit the same issue today. Very interested in trying out 0.9.0 on my arm64 cluster.

[2018-12-26 07:26] JoshuaAndrew opened #2426 "Erasure coded StorageClass invalid option dataBlockPool for volume plugin rookVolumeProvisioner"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]
**Expected behavior:**

[code]

**How to reproduce it (minimal and precise):**

  Step 1
[code]

  Step 2
[code]

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):  Linux k8s-master-1 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/

[2018-12-26 11:14] galexrt commented on #2426
Duplicate of #2370.
The PR #2393 which fixed #2370 has been merged to `master` and has been backported to the v0.9 branch, there will soon be a patch release for v0.9.

[2018-12-26 11:14] #2426 closed

[2018-12-26 18:43] will7200 opened #2427 "Create Persistent Volumes from Existing RBD images"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Imported a RBD images using the direct tooling and created a persistent volume pointing to the rbd image.
1. Create a PVC and Refer to a pv by using the volumeName
This made the scheduled pod for creation to wait for the existing storage to be mounted. Never got past the mounting stage.
2. Create a PVC

[2018-12-26 20:28] areed opened #2429 "Ceph OSD attempts to bind to wrong IP after operator restart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
On a 2 node cluster after deleting the operator pod in the `rook-ceph-system` namespace and restarting the Docker container of the OSD pod in the `rook-ceph` namespace, the OSD pod gets into a CrashLoopBackoff.

**Expected behavior:**
The Docker container of the OSD pod should restart without error aft

[2018-12-27 01:18] phaer commented on #2303
So the problem were wrong flags of `kubelet`? I seem to have a similar problem, while connectivity is fine - i can use `nc` to see a ceph banner for the 2 of 3 existing `ceph-mon` containers. But my /etc/default/kubelet is empty and kubelet args seem to be okay. Including `node-ip` and `volume-plugin-dir` which I set using `KUBELET_EXTRA_ARGS`:

[code]

[2018-12-27 06:46] travisn commented on #2406
@jkowalski @kfox1111 Could you confirm the following?
- If you use the image directly from the repo `rook/ceph-arm64` instead of relying on the manifest to pull the correct arch, do you see the same behavior? It would be helpful to rule out whether it's a manifest issue.
- Do you see this issue in v0.8.3? I'd be surprised if we haven't had any reports of this in the 0.8 release cycle.

@BlaineEXE

[2018-12-27 08:11] LinuxGit opened #2430 "[Ceph]removing osd node was not in line with expectations"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When I removed a node (172.16.30.114), osd and mon pod was removed correctly, but there's a rook-ceph-osd-prepare-172.16.30.114-q6v8g pod is pending. and ceph health reported that HEALTH_WARN noscrub,nodeep-scrub flag(s) set.

And I run the following command, and the status state was always `Updating`.

[2018-12-27 09:37] Bruceforce commented on #2303
When you say connectivity is fine have you tested with the above mentioned kuberang? https://github.com/apprenda/kuberang

If these checks are OK I would suggest you open a new issue and provide logs since in my case it was definitely a problem in my cluster and not with rook.

[2018-12-27 12:31] JoshuaAndrew opened #2431 "Edgefs: rook-edgefs-target CrashLoopBackOff"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]

[code]

[code]

**How to reproduce it (minimal and precise):**

Step 1
[code]
Step 2
[code]

[code]

**Environment**:
* OS (e.g. from /etc/os-release):  centos 7.3
* Kernel (e.g. `uname -a`):   3.10
* Cloud provider or hardware configuration:
* Rook version (use `rook version` inside of a Rook

[2018-12-27 14:58] BlaineEXE commented on #2406
The arm issue may be related to this PR which Seb and Erwan don't seem to be looking at despite my clarification and request for re-review: https://github.com/ceph/ceph-container/pull/1273

[2018-12-27 17:21] dyusupov commented on #2431
Thank you very much for the bug report!

CRD provided wants to utilize all the HDDs and SSDs without partitions.
Make sure you run "wipefs -a /dev/DEV" for all the devices you need prior
to CRD creation or else node configuration logic will not find the disks to
use.

On Thu, Dec 27, 2018 at 4:31 AM Wei Wei <notifications@github.com> wrote:

[2018-12-27 17:47] christianhuening commented on #2174
seeing the same here with rook v0.9.0-19.g8f94838 and CEPH v13.2.2-20181023

[2018-12-27 19:04] christianhuening opened #2433 "Allow to disable dashboard SSL"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow to configure `ssl: false` in dashboard config section of `CephCluster` resource. Just like `ceph config set mgr mgr/dashboard/ssl false` as described here http://docs.ceph.com/docs/mimic/mgr/dashboard/#ssl-tls-support
**What is use case behind this feature:**
I am running Nginx Ingress with Cert M

[2018-12-27 19:15] dyusupov commented on #2431
What's the output of "kubectl describe cm edgefs-config -n rook-edgefs" ?

On Thu, Dec 27, 2018 at 9:21 AM Dmitry Yusupov <dmitry.yusupov@nexenta.com>
wrote:

[2018-12-28 02:07] JoshuaAndrew commented on #2431
@dyusupov    all  device is blank on all node in my k8s cluster.

[2018-12-28 02:11] JoshuaAndrew commented on #2431
@dyusupov

[code]
All  nodes find the disks /dev/sdb to use.

[2018-12-28 06:18] dyusupov commented on #2431
Thanks. Not very clear what had happened here. Device array isn't listed
correctly.
We will try to figure this one out! I wonder if master branch has the same
issue?

Can you please try to switch to edgefs/edgefs-operator:latest (in
operator.yaml) and edgefs/edgefs:latest (in cluster.yaml) images and try to
deploy it again?

On Thu, Dec 27, 2018 at 6:11 PM Wei Wei <notifications@github.com> wrote:

[2018-12-28 07:10] travisn commented on #2417
This was just changed with #2219 due to the perf impact when it was enabled. It seems we need to expose this as a setting to the operator so it can be set as needed. Hopefully csi will improve this situation though.

[2018-12-28 07:12] travisn commented on #2412
We should likely expose a setting in the cluster crd, where the default is 8443:
[code]

[2018-12-28 07:15] travisn commented on #2411
It is expected that the IO will block during writes if there are not sufficient OSDs that satisfy the request. It is ceph's design to delay failing until this point in case more OSDs are configured before the time they are required during a write. Similarly, Rook does not prevent the configuration. I'm inclined to make it a doc issue as well.

[2018-12-28 07:55] rocket1024 opened #2434 "[k8s over lxd]pvc from storageclass fail to mount to example mysql pod"
rbd device path /dev/rbd1 does not exist, but it exist on lxd host /dev path, any ideas?

yes, but no similar issue occurs
Is this a bug report or feature request?

Bug Report
Deviation from expected behavior:
pvc mount to pod fail
Expected behavior:
pvc mount to pod should be ok
How to reproduce it (minimal and precise):
kubectl create -f operator.yaml
kubectl create -f cluster.yaml
kubectl creat

[2018-12-28 15:40] travisn commented on #2429
@areed Could you confirm a few items?
- Instead of using docker to delete the container, does it make a difference to delete the pod and allow the osd deployment to immediately start up a new pod?
- Is it just the first osd with the issue, or did the second osd start with the issue as well?
- Can you share the logs of the osd pod's `config-init` init container?

[2018-12-28 15:46] christianhuening opened #2435 "Setting sslCertificateRef for CephBlockStorage results in error at pod start"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Setting sslCertificateRef for CephBlockStorage results in error at pod start.
[code]
The cert-secret is available, named correctly and the mount is configured on the Pod

**Expected behavior:**
Pod starts and finds the cert.
**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. fr

[2018-12-28 19:17] areed commented on #2429
Yes that does make a difference. The OSD comes up again without error if you delete the pod. It's only if you delete the running docker container that the error occurs. I first noticed this because upgrading kubernetes with kubeadm restarts all the running containers without deleting any pods.

Yes, on a 2 node cluster it's only the first node's OSD that was already running that has the error. If

[2018-12-29 06:40] JoshuaAndrew commented on #2431
@dyusupov
I  tried to deploy edgefs again with latest tag, this problem remains, yes you are right master branch has the same issue.    the images I had used below:
[code]

logs of rook-edgefs-operator below, Maybe it will help you sort out the problems .

[code]

[2018-12-29 06:46] JoshuaAndrew commented on #2431
@dyusupov
In addition, what are the development plans and roadmap for edgefs? Are there any open source plans?
if there is an open source initiative, what licensing will it adopt?

[2018-12-29 09:35] dyusupov commented on #2431
I think I know what is going on here.
EdgeFS relying solely on SCSI UUID for disk name identification because kernels given names on boot aren't considered persistent. With VMWare you will need to explicitly enable it. You can follow some guidelines on internet how to do it for instance

https://www.suse.com/support/kb/doc/?id=7002966

[2018-12-29 09:41] dyusupov commented on #2431
It is going to be Apache v2 license. Hopefully within few months. Still cooking.

Once open, we will share roadmap but most importantly we will update and change it based on community set priorities.

[2018-12-29 11:53] tbool commented on #1312
Same issue on GKE with kubernetes v1.10.9-gke.5 and rook v0.9.0

[2018-12-29 15:00] JoshuaAndrew commented on #2431
@dyusupov
Amazing !   After I explicitly enable  **disk.EnableUUID=TRUE**  on all virtual machines, everything goes smoothly.

[code]

After I explicitly enable  **disk.EnableUUID=TRUE**   /dev/disk/by-id for scsi LUNs on VMWare ESX like this:
[code]

[2018-12-29 15:04] #2431 closed

[2018-12-29 16:15] joshuacox opened #2436 "no matches for minio.rook.io/"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

[code]

**Expected behavior:**

for the object store to create

**How to reproduce it (minimal and precise):**

start up a cluster then fire up the operator:

[code]

then wait for it to be ready, afterwards create the object store:

[code]

**Environment**:
* OS (e.g. from /etc/os-release):

[code]

[2018-12-30 06:18] jkowalski commented on #2406
@travisn not sure what you mean - https://hub.docker.com/rook/ceph-arm64 is a 404

I haven't used rook until few days ago when I decided to try it on my multi-arch cluster (3 x amd64 + 6 x arm64)

[2018-12-31 07:31] zdoherty commented on #2406
On an arm64 machine, reproducing the error on the v0.9.0 release container and exporting the filesystem:
[code]

Checking the architectures of the bins/libs in the container:
[code]

The rook binaries are the right architecture, but the base image isn't. The Dockerfile for the rook/ceph image is based off of `ceph/ceph:v13`, which supports multiple architectures, but my guess is the build server i

[2018-12-31 17:54] #2033 closed

[2019-01-01 19:31] #2406 closed

[2019-01-02 03:31] pennpeng opened #2442 "upgrade from v0.9 to v0.9.1 failed"
**Environment**:
* OS (e.g. from /etc/os-release): centos7.5
* Kernel (e.g. `uname -a`):3.10.0-862.11.6.el7.x86_64
* Cloud provider or hardware configuration: openstack
* Rook version (use `rook version` inside of a Rook Pod): v0.9.0
* Kubernetes version (use `kubectl version`): 1.11.3
* Kubernetes cluster type (e.g. Tectonic, GKE, OpenShift): kubernetes
* Storage backend status (e.g. for Ceph use

[2019-01-02 07:04] pennpeng commented on #2442
@travisn  Thank you. I've solved the problem,because the rook-ceph namespace  resourcequotas set too low。

[2019-01-02 07:04] #2442 closed

[2019-01-02 16:44] allen13 commented on #1991
Since containerized kubelets are no longer supported on openshift I'm closing this issue.

[2019-01-02 16:44] #1991 closed

[2019-01-02 17:23] yanniszark opened #2443 "[cassandra] wrong mount point for PersistentVolume"
* Bug Report

**Deviation from expected behavior:**
The cassandra operator should mount the persistent volume under `/var/lib/cassandra`. Instead, it mounts it under `/var/lib/cassandra/data`, which is the data directory. That means the commitlog gets written in the host disk, which results in a bottleneck.

**Expected behavior:**
PersistentVolume should be mounted under `/var/lib/cassandra`.

[2019-01-02 18:33] NickUfer opened #2445 "[Ceph] Unspecified filestore osds are created on operator recreation"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Not specified filestore osds are created

cephclusters.ceph.rook.io rook-ceph:
[code]

Instead of 4 osds 6 are created:

[code]
OSDs 4 and 5 are unexpected

**Expected behavior:**

Respect of the spec.storage.useAllDevices directive

**How to reproduce it (minimal and precise):**

Specify bluestore OS

[2019-01-02 21:43] canadiannomad commented on #2404
Same error rook version 0.9.1

[2019-01-03 02:31] LinuxGit commented on #2430
The behavior of removing node on rook-ceph-v0.9.1 was the same as rook-ceph-v0.9.0.

[2019-01-03 03:46] dimm0 commented on #2254
Which issue is now tracking this?
Should we get back to k8s, or there's hope to have this fixed in rook? It's still a big issue for us, since lots of scientists are working with large datasets

[2019-01-03 12:39] creinig opened #2446 "Ceph MON cannot connect to MGR : BADAUTHORIZER"
**Are you in the right place?**

* For general technical and non-technical questions, we are happy to help you on our [Rook.io Slack](https://Rook-io.slack.com).
  * I tried getting an invite via https://rook-slackin.herokuapp.com/ (linked from https://rook.io/docs/rook/v0.6/common-problems.html), but the captcha config there seems to be broken & it won't accept my input due to that.
* Did you alr

[2019-01-03 15:07] LinuxGit opened #2447 "[Ceph]Mount volume failed: failed to get persistent volume"
https://github.com/rook/rook/issues/2220
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

[code]
**Expected behavior:**

mysql pod mounts mysql-pv-claim correctly.

**How to reproduce it (minimal and precise):**

[code]

[code]

**Environment**:
* OS (e.g. from /etc/os-release):CentOS Linux release 7.5.1804 (Core)
* Kernel (e.g. `uname -a`):3.10.0-8

[2019-01-03 17:10] whereisaaron opened #2448 "Installing 'rook-ceph' helm chart on GKE fails with missing 'rbd' module"
**Is this a bug report or feature request?**
* Bug Report

Installing the `rook-ceph` helm chart on a GKE cluster following the [chart instructions](https://github.com/rook/rook/blob/master/Documentation/helm-operator.md) and [GKE-specific instructions](https://github.com/rook/rook/blob/master/Documentation/flexvolume.md#google-kubernetes-engine-gke) fails due to missing `rbd` module.

**Deviation

[2019-01-03 20:18] whereisaaron commented on #2448
Found that I need to go to https://slack.rook.io/ to request an account. Maybe add that link to the comment above?

[2019-01-03 20:40] whereisaaron commented on #2448
Thanks to @galexrt, the information missing from the documentation is that you can't use the default GKE configuration, you need to override GKE to use Ubuntu images for the node pool. I'll try that.

![image](https://user-images.githubusercontent.com/1109585/50660435-c1df4e80-0f6d-11e9-8e78-3a138ee9a6e5.png)

[2019-01-03 22:24] #2082 closed

[2019-01-04 05:17] LinuxGit commented on #2447
There's no problem on rook-ceph-v0.9.0.

[2019-01-04 09:50] #2044 closed

[2019-01-04 16:37] danielb42 commented on #1653
Any news on this?

My scenario is that I often have to create new kubernetes clusters from scratch and want to use a shared cephfs from previous k8s clusters.

The machines that I use as worker nodes have an always-persistent storage dir which I specified as dataDirHostPath in rook/ceph's cluster.yaml. Thus, those dirs contain `mon-x/, osdx/ and rook-ceph/` since I installed rook-ceph for the firs

[2019-01-04 18:59] vistalba commented on #1653
I think the scenario from daniel 42 is very importent. Also if one node has a disk failure and the dataDirHostPath is empty. (e.g. after disk replacement).

How to recover this situation?

[2019-01-04 20:23] whereisaaron commented on #2020
I had the same problem as @galexrt and have spent much time hacking the chart, and wondering why the chart appeared to broken that the deployed operator was unable to deploy `CephClusters`. The RBAC rights needed appeared to be in `rook-ceph-cluster-mgmt` ClusterRole but then not bound to anything. 😕

That's pretty unusual to create a operator chart with incomplete RBAC, I don't think users will e

[2019-01-04 20:49] yanniszark opened #2452 "[cassandra] documentation minor issues"
* Bug Report

**Deviation from expected behavior:**
There are a couple of minor issues with the cassandra docs:
1. In `cassandra.md` there are some extra spaces in front of headers that make it not render correctly on the [website](https://rook.io/docs/rook/v0.9/cassandra.html)
2. In `cassandra-cluster-crd.md` the placement example is wrong.

[2019-01-05 18:19] whereisaaron commented on #2433
Thanks @christianhuening I had the same problem. The `rook-ceph` dashboard is now HTTPS which is fine. But currently it appears it deploys only with a self-signed certificate. Which ironically makes it harder to expose the dashboard with a valid certificate.

There are a couple ways to fix this:
1. An `ssl: false` setting as @christianhuening suggests to run that dashboard over HTTP on port 7000 l

[2019-01-05 19:12] whereisaaron commented on #2433
@christianhuening in the meantime, if you are using `nginx-ingress` in your clusters then this Ingress a with `server-snippet` annotation will work around the problem of the self-signed certificate. It just tells ngnix not to try to verify the certificate, since we know it will fail.

Being able to get the dashboard to mount a valid certificate via a Secret would be ideal, but in the meantime we c

[2019-01-06 02:49] whereisaaron commented on #1125
We are using this external CephFS provisioner, which is ideal from our point of view. And something like this included in Rook would be great.

   https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/cephfs

In response to a PVC for the provisioner's StorageClass, the provisioner creates a Ceph user and PV which maps to a *directory* (named after the PV ID/name) in a *shared*,

[2019-01-06 09:03] christianhuening commented on #2433
thanks @whereisaaron very helpful!

[2019-01-06 15:38] #1858 closed

[2019-01-06 16:08] mykaul commented on #1125
I believe we'd prefer to move to CSI support (https://github.com/ceph/ceph-csi ) than the external provisioner?

[2019-01-06 19:12] whereisaaron commented on #1125
@mykaul sure, that's an implementation decision for the project to make. CSI is certainly a forward-looking option.  As a user, what I am looking for is the provisioning experience I describe above. In particular, the efficient management of large numbers of small PVC requirements. In a storage sub-system agnostic manner.

[2019-01-06 20:12] kfox1111 opened #2458 "0.9.0 chart broken rbac"
I helm installed the rook-ceph chart into minikube using the defaults in the rook-ceph namespace. then uploaded the test ceph cluster object.

2019-01-06 20:04:06.342239 I | op-cluster: skipping watching for legacy rook cluster events (legacy cluster CRD probably doesn't exist): the server could not find the requested resource (get clusters.ceph.rook.io)
2019-01-06 20:05:53.743416 I | op-cluster:

[2019-01-06 20:35] kfox1111 commented on #2458
looks like it must be deployed in a particular hardcoded namespace, rook-ceph-system to work properly.

[2019-01-06 20:35] #2458 closed

[2019-01-06 21:03] galexrt commented on #2458
@kfox1111 No, it is wanted that the user creates the RBAC for each Ceph Cluster on their own. Because users can create a Ceph cluster in *any* namespace, meaning that the bindings that would be created through the Helm chart would not be "valid" for the "user-given" namespace. This model is to prevent the Rook Ceph operator to have too much access to the cluster than needed.

If you follow the qui

[2019-01-06 21:38] kfox1111 commented on #2458
hmm.. that's https://github.com/rook/rook/issues/2109 I think.

[2019-01-07 02:13] zdoherty commented on #2404
I'm getting this same error, I see the following logged in the mgr pod logs right before the cherrypy error:

[code]

rook version: rook/ceph:v0.9.1
ceph version: ceph/ceph:v13.2.2-20181206

[2019-01-07 04:45] whereisaaron commented on #560
It looks like ceph instends to add the option to autoscale placement groups, so rook may not need to attend to this. Rook could calculate a good starting, or just wait for the autoscaling to increase the default 100.

http://docs.ceph.com/docs/master/rados/operations/health-checks/?highlight=backfillfull%20ratio#pool-too-few-pgs
[code]

Don't see this in 13.2.2, so maybe a later version.

[2019-01-07 04:49] GanKanTechnology opened #2460 "No OSD was created"
Hi guys ~

Well, after kubectl create -f cluster.yaml, there was NO pods like  :
rook-ceph-osd-0-xxxxx       Running,
only pods like :
 rook-ceph-osd-prepare-node1-xxxx       Completed
why no OSD  ?

do you have any ideas please ? I really need help about it .

[2019-01-07 04:56] GanKanTechnology commented on #2460
kubectl describe CephBlockPool replicapool -n rook-ceph
Name:         replicapool
Namespace:    rook-ceph
Labels:       <none>
Annotations:  <none>
API Version:  ceph.rook.io/v1
Kind:         CephBlockPool
Metadata:
  Creation Timestamp:  2019-01-07T04:55:06Z
  Generation:          1
  Resource Version:    27154
  Self Link:           /apis/ceph.rook.io/v1/namespaces/rook-ceph/cephblockpools/repli

[2019-01-07 11:52] GanKanTechnology commented on #2460
some detail information as follows:
------------------
kubectl  get pods -n rook-ceph
rook-ceph          rook-ceph-mgr-a-579779457d-r79p5      1/1     Running     0          111s
rook-ceph          rook-ceph-mon-a-7f585b57b5-9trt6      1/1     Running     0          2m23s
rook-ceph          rook-ceph-mon-b-df6dd855c-6ds67       1/1     Running     0          2m17s
rook-ceph          rook-ceph-mon-

[2019-01-07 13:04] galexrt opened #2461 "No way to specify tolerations for Ceph detect version"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
While trying to look into #2384 on a one node cluster, I found that no tolerations are set on the ceph detect version Job/Pod (even if `placement.all` has a toleration in it).
This means that the Job/Pod could not start and would then timeout.

**Expected behavior:**
User being able to either specify t

[2019-01-07 14:08] slassh commented on #2433
I get "400 Bad Request
The plain HTTP request was sent to HTTPS port" when I try to access the dashboard via an ingress , but it works fine the node port svc !

[2019-01-07 14:09] #2460 closed

[2019-01-07 14:14] galexrt commented on #2384
@rcgoodfellow I was unable to reproduce locally. Can you post the `kubectl describe` output for an OSD Pod and if you have OSD prepare Pods post the `kubectl describe` of them too.

[2019-01-07 19:48] whereisaaron commented on #2433
@slassh vanilla k8s Ingress's expect the upstream service to be HTTP. You need an Ingress with support for HTTPS upstream, and a way to disable certificate validation. If you are using a current `nginx-ingress` these annotations will do that:
[code]
Other Ingress Controller may be have similar options.

[2019-01-07 20:11] jamstar commented on #2417
its not just openshift, its anyone who runs with selinux is hit with this. i run a custom cluster with centos 7.x but run selinux.

other than just disabling selinux, can anything be done for this?

[2019-01-07 20:39] travisn commented on #2417
No workaround other than disabling  without a code change here. We need to make this configurable in an 0.9 release (v0.9.2) soon

[2019-01-07 21:04] #2405 closed

[2019-01-07 21:23] sinqinc commented on #2404
Same here

rook version: rook/ceph:v0.9.1
ceph version: ceph/ceph:v13.2.2-20181206

[2019-01-07 22:00] allen13 commented on #2417
Yeah, I'll start working on something!

[2019-01-08 00:14] travisn commented on #2397
Fixed by #2408

[2019-01-08 00:14] #2397 closed

[2019-01-08 07:49] creinig commented on #2446
"solved" the issue for now by completely taking down and re-creating the rook system.
There is still no "rook-api" pod running, but the system is usable again

[2019-01-08 08:40] galexrt commented on #2446
@creinig For Slack try using this link: https://slack.rook.io/.

Also before looking into this, you are on Rook v0.6.2 which is pretty outdated, as the current Rook release is v0.9.1. Can you try using the latest Rook version to see if you are able to reproduce?

[2019-01-08 09:06] creinig commented on #2446
That slack link worked, thanks.
Actually I seem to be using rook 0.8.3 -- the 0.6.2 is just the outdated toolbox I was using. Fixed in description..

I'll try the upgrade later, but since I'm not really willing to crash that server again I can make no promises about whether that will give more information in the short term. Longer term might be, since that box *is* kind of unstable.

[2019-01-08 09:07] #2452 closed

[2019-01-08 09:33] calder commented on #2162
AFAICT this was never addressed.

[2019-01-08 10:10] imdingtalk commented on #1169
+1   i need

[2019-01-08 10:50] galexrt commented on #1861
/keepalive @sebastian-philipp will look into it, to unblock your PR.

[2019-01-08 11:19] sebastian-philipp commented on #1861
Too many Sebastians here...

[2019-01-08 12:11] galexrt commented on #1861
@sebastian-philipp Sorry, my bad. I wanted to mention @sebastien-prudhomme.

[2019-01-08 12:48] #2183 closed

[2019-01-08 16:15] allen13 commented on #2417
Working on this now.

[2019-01-08 16:49] galexrt opened #2465 "Use a Secret for Minio access details"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Use a Kubernetes Secret for the Minio access details, combined with `envFrom` this makes it more "secure" instead of plain text copying the access details into the Minio Statefulset.

https://github.com/rook/rook/blob/360852d98df82590ae87a75a4b857d9ae1a48376/pkg/operator/minio/controller.go#L251

**What

[2019-01-08 22:13] allen13 commented on #2417
Merge request in. Let me know if I need to add anything additional. I wasn't sure if i need to add anything to pending release notes or do any kind of testing. Plan to test this on a live cluster tommorow.

[2019-01-08 22:27] #2185 closed, assigned to nobody

[2019-01-09 13:13] #1861 closed

[2019-01-09 13:14] galexrt commented on #1861
@sebastien-prudhomme This has been fixed now. A label named `objectstore` will now contain the value of the Object store instance.

[2019-01-09 15:06] galexrt commented on #2371
@zcourts The `mkdir` error is from the application inside the pod, right?
Have you tried running `sleep 3600` as the command of the Pod and then execing into to see if the container is running as the correct user (`id` and `whoami` commands).
If the Pod runs as a non-root user (`ID != 0`), it is okay that you can't access the mount as default perms on mounts are `root:root`. To fix that you need t

[2019-01-09 18:59] zcourts commented on #2371
@galexrt thanks for getting back. I didn't try that. It was part of an investigation work to do an upgrade which I parked to work on something else. I'll go back to it on Mon. as we do need to get around to the upgrade in short order. I'll let you know if that was indeed the problem next week.

[2019-01-09 21:43] SKD-SKD opened #2471 "have problem to create second cluster using properly namespaced and host path changed in new cluster.yaml PVC created but PV is not"
have problem to create second cluster using properly namespaced and host path changed in new cluster.yaml - PVC created and pending,  PV is not created

discussed with Alexander Trost on /rook-io.slack.com/

[2019-01-09 22:48] dimm0 commented on #2424
After talking to @galexrt, we found that specifying the `tag cephfs` works for his new cluster, but doesn't work for mine. The filesystem can be mounted, but no data can be written to OSDs:

[code]

[2019-01-09 22:58] #2433 closed

[2019-01-10 00:57] c-android opened #2472 "osd-prepare pod terminates when storage is mounted on btrfs - goes away with config change"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

rook-ceph-osd-prepare.* pod terminates
[code]

**Expected behavior:**
osd-prepare competes and launches osd node

**How to reproduce it (minimal and precise):**

Mount storage on btrfs colume
[code]

Run rook/ceph quickstart
https://github.com/rook/rook/blob/master/Documentation/ceph-quickstart.md
[co

[2019-01-10 03:14] SKD-SKD commented on #2471
# kubectl get pods --all-namespaces
NAMESPACE          NAME                                  READY   STATUS      RESTARTS   AGE
default            swordpress-mysql-dbd8bcb56-tcrls      0/1     Pending     0          36m
default            wordpress-mysql-6887bf844f-2nrj5      1/1     Running     0          3h11m
kube-system        coredns-86c58d9df4-84vt8              1/1     Running     0

[2019-01-10 03:15] SKD-SKD commented on #2471
storage class for the second cluster 👍 apiVersion: ceph.rook.io/v1
kind: CephBlockPool
metadata:
  name: sreplicapool
  namespace: srook-ceph
spec:
  failureDomain: host
  replicated:
    size: 3
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: srook-ceph-block
provisioner: ceph.rook.io/block
parameters:
  blockPool: sreplicapool
  # The value of "clusterNamespace" MUST be t

[2019-01-10 03:20] SKD-SKD commented on #2471
apiVersion: ceph.rook.io/v1
kind: CephBlockPool
metadata:
  name: sreplicapool
  namespace: srook-ceph
spec:
  failureDomain: host
  replicated:
    size: 3
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: srook-ceph-block
provisioner: ceph.rook.io/block
parameters:
  blockPool: sreplicapool
  # The value of "clusterNamespace" MUST be the same as the one in which your rook c

[2019-01-10 03:21] SKD-SKD commented on #2471
apiVersion: ceph.rook.io/v1
kind: CephBlockPool
metadata:
  name: sreplicapool
  namespace: srook-ceph
spec:
  failureDomain: host
  replicated:
    size: 3
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: srook-ceph-block
provisioner: ceph.rook.io/block
parameters:
  blockPool: sreplicapool
  # The value of "clusterNamespace" MUST be the same as the one in which your rook c

[2019-01-10 03:38] jeffvance opened #2473 "Object Store User Request to Support Storage Class"
The `CephObjectStoreUser` should reference a StorageClass rather than the object store directly. This relieves the developer from having to know the name and namespace of the object store. For the same reason, the generated secret name should not include the name of the object store.

Additionally, the `ownerReference` field should, imo, contain the name of the CephObjectStoreUser not the cluster

[2019-01-10 04:18] travisn opened #2474 "RGW instances are all created with the same name"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When rook creates the object store and starts the rgw instances, a deployment is created and the number of desired instances are set on the spec according to the `gateway.instances` setting in the object crd. All instances are started with the same arg, including the same name:
[code]

Since all rgw in

[2019-01-10 05:07] travisn opened #2475 "Operator cannot communicate with latest nautilus mons"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When setting up a cluster with the cluster crd using the latest nautilus image (`ceph/daemon-base:latest-master`), as of today the cluster will get stuck after creating the first mon. The operator is not able to communicate with the mon to confirm that it is in quorum and that the operator can continue

[2019-01-10 08:01] emedina commented on #2404
Also facing this issue:

[code]

[2019-01-10 08:05] nodanero opened #2476 "ceph toolbox missing tini"
* Bug Report

**Deviation from expected behavior:**
rook-toolbox cannot start

**Expected behavior:**
rook-toolbox container starts and remains running until killed

**How to reproduce it (minimal and precise):**
Deploy rook-toolbox with "./cluster/examples/kubernetes/ceph/toolbox.yaml" in OpenShift

Container keeps crashing with the error:
Error: failed to start container "rook-ceph-tools": Error

[2019-01-10 13:15] alfredodeza commented on #2475
known issue with the mons, a branch in ceph-ci may have the fixes: wip-fix-mon-bootstrap

[2019-01-10 13:56] alfredodeza commented on #2475
From a container ceph.conf, it seems that the ports need to be removed (both from `mon host` and `public bind addr`):

    # cat /etc/ceph/ceph.conf
    [global]
    fsid                      = 7ef9273a-20e2-48ea-9642-870a6832468f
    run dir                   = /var/lib/rook/mon-a
    mon initial members       = a
    mon host                  = 10.111.223.178:6790
    log file                  =

[2019-01-10 15:34] travisn commented on #2475
@alfredodeza Ok, we have certainly sprinkled the ports in many places. This was done for the case where there could be multiple mons on a single node, which is only a test scenario for really small (single-node) clusters. Does this mean it is not possible to use a different port now for the mons?

[2019-01-10 15:45] liewegas commented on #2475
let's table this for the moment.. i'm still working about the best way to define the mon_host config value when you have non-default ports and v2+v1 addrs at the same time.

[2019-01-10 16:09] jtlayton commented on #2475
FWIW, I hacked together a patch that made rook not put the ports into the mon's config file and it didn't seem to help.

[2019-01-10 16:34] sebastian-philipp commented on #2404
Was fixed in Nautilus by me:

https://github.com/ceph/ceph/commit/dc616c7d724a2580927ff8fb1fbc070d83dd67ef#diff-24e410817ffc0acf57da283811f4aa03R98

Looks like we need to rebase it.

[2019-01-10 16:42] sebastian-philipp commented on #2404
Do you see a log entry somewhere in the mgr log that says something like `Failed to query mirror settings` ?

[2019-01-10 16:55] christianhuening commented on #2404
@sebastian-philipp well I have the above posted error. there's this in there:
`PermissionError: [errno 1] error getting mirror mode`

[2019-01-10 17:17] #2409 closed

[2019-01-10 17:38] #2417 closed

[2019-01-10 18:04] sebastian-philipp commented on #2404
workaround would be to fix the permission errors. Make sure the dashboard can in fact get the rbd mirror mode.

[2019-01-10 18:16] travisn commented on #2404
@sebastian-philipp thanks for the insight on the fix. A few questions:
- Any thoughts on why we would be hitting this so frequently in rook?
- Does it require enabling of the rbd mirroring, or is this just hit by the dashboard even if the rbd mirroring is not configured?
- Is the fix being backported to mimic?

[2019-01-10 18:55] sebastian-philipp commented on #2404
I'd guess this is special to Rook. I'd think of a missing permission that prevents the mgr from querying the rbd mirrors. A typical setup shouldn't hit this bug (otherwise we would have caught this earlier)

Nope. It's independent of actually using rbd mirroring.

I'd say: yes.

[2019-01-10 20:37] huizengaJoe commented on #1125
fwiw, I was just doing some research on possible shared file system options, I knew that rook supported ceph block dynamic provisioning and was assuming it also had same support for filesystem, was surprised it was not available

[2019-01-10 20:39] travisn opened #2479 "OSD daemon logs are not being collected"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Since the decoupling of the ceph version, the ceph-osd log output is not being captured in the k8s logs. In the osd logs we see the output of ceph-volume and that the osd process is started, but nothing after that. It seems to be an issue with rook starting the ceph-osd process and not capturing the st

[2019-01-10 22:00] copejon opened #2480 "ObjectBucketClaim CRD and Controller"
## Proposed Feature

A generalized method of S3 bucket provisioning through the implementation of an `ObjectBucketClaim` CRD and controller.**

Users will request buckets via the Kubernetes API and have returned ConfigMaps with connection information for that bucket.

One ConfigMap will be created per `ObjectBucketClaim` instance.  ConfigMap names will be deterministic and derived from the `Object

[2019-01-10 22:02] syncroswitch commented on #2435
so it looks like the the `rgw` container in the deployment `rook-ceph-rgw-my-store` created on rook 0.9.0 is missing the secret mount if tls is enabled
[code]

[2019-01-10 22:08] travisn commented on #2435
When the init container refactoring was done, looks like the following `if` statement was added to the init container instead of the daemon container. [This block](https://github.com/rook/rook/blob/master/pkg/operator/ceph/object/spec.go#L166-L174) should be moved from the `makeConfigInitContainer()` method to the `makeDaemonContainer()` method.

[2019-01-10 23:13] travisn commented on #2475
For now, as @jtlayton found in a separate thread, a nautilus cluster can come up by changing the [default mon port](https://github.com/rook/rook/blob/d65713cc157e1045e8ca61d25073dc38a6822632/pkg/daemon/ceph/mon/init.go#L34) in rook to `6789`, which is expected as the default within ceph.

[2019-01-11 08:39] sebastian-philipp commented on #2404
Has anyone seen this with a Nautilus cluster?

[2019-01-11 08:41] sebastian-philipp commented on #2404
Refers to http://tracker.ceph.com/issues/37870

[2019-01-11 09:52] dac88 commented on #1507
From a users perspective i think the only option is to apply a node selector for a single node and attempt to duplicate the entire setup for resilience. Not ideal by any means as data is free to become out of sync.

[2019-01-11 17:37] sebastian-philipp commented on #2404
may relate to #2290

[2019-01-11 17:43] jbw976 commented on #2473
This link is giving me a 404: [dynamically provision S3 buckets](https://github.com/yard-turkey/rook/blob/object-bucket-claim-proposal/design/object-claim/object-bucket.md).  Has it been moved elsewhere?

[2019-01-11 17:48] kfox1111 commented on #2215
Still useful.

[2019-01-11 17:50] jeffvance commented on #2473
Link should be fixed now. Thanks!

[2019-01-11 18:13] jbw976 commented on #2480
Thanks for starting to drive this effort, I agree there is a lot of value in dynamic provisioning of resources beyond volumes, as we have captured in #1704 and #1705.  We have started a similar, but more generalized effort around dynamic provisioning of all types of resources in the [Crossplane project](https://github.com/crossplaneio/crossplane/).  I'd love to collaborate so we can converge on a

[2019-01-11 18:20] BlaineEXE commented on #2479
I'm unable to repro this with Rook master and Ceph 13.2.2. Is this an issue with Rook 0.9.1?

[2019-01-11 18:48] daohoangson commented on #2447
I have the same problem. Found lots of this in `rook-ceph-agent` pods:

[code]

And something like these in `rook-discover` pods:

[code]

Probably a RBAC issue? As a test, I have edited `clusterrole/rook-ceph-cluster-mgmt` and allow everything (apiGroups [*], resources [*], verbs [*]) but it still doesn't work.

[2019-01-11 18:48] travisn commented on #2479
Do you see any output in the osd log after the `ceph-osd` command? All I see is the output collected from ceph-volume, then the command to start ceph-osd. When debugging an issue yesterday with someone else, we found that setting the `log file` in the ceph config to a file instead of `/dev/stderr` gave us a bunch of output to the file

[2019-01-11 19:09] BlaineEXE commented on #2479
Here is a pastebin of the log from one of my osd containers. https://paste.opensuse.org/view//1664407a

It seems to me that this is what I would expect, but maybe there is data missing I don't see. My pods are running bluestore with `ceph-osd` as the entrypoint. It sounds like you could be using filestore.

[2019-01-11 21:45] Amos-85 commented on #2174
same issue in rook 0.9.1 / v0.9.0-60.gde8e141 & ceph v13.2.4-20190109
multiple rgw instances cause the mgr to crash.

[2019-01-11 23:11] galexrt commented on #2066
Still an issue.

[2019-01-12 03:32] GanKanTechnology opened #2485 "How to copy files into the PVC provided by rook please?"
### **Is this a bug report or feature request?**
Feature Request

### **What should the feature do:**
I  want  to move some backup  of  my  Mongodb    from other storage which uses ext4 files ystem to the PV&PVC  based  on  rook.io  so that the microservices on k8s-cluster may be able to  read the backup of my Mongodb.
Can that  be able to achieve?

### **What is use case behind this feature:**
Mo

[2019-01-12 22:16] #2196 closed

[2019-01-14 08:11] jan--f opened #2486 "hardcoded path to rookflex"
It is assumed that `rookflex` is installed in `/usr/local/bin`: https://github.com/rook/rook/blob/18b2da5fc5d7a303b9a48119ce55108b55af7f0e/pkg/daemon/ceph/agent/flexvolume/server.go#L45

Any reason `$PATH` is not used to locate it?
It's not a big deal but can be unexpected when packaging rook.

[2019-01-14 10:41] sebastian-philipp commented on #2404
We're now creating the mgr keyring in

https://github.com/rook/rook/pull/2290/files#diff-b0d5f3a5347e173debf150a8677e1248R102

as
[code]
I don't know, if `mon allow profile mgr` is sufficient for rbd mirroring

[2019-01-14 13:05] hydratim commented on #2261
I have the same issue:
K8s:
[code]
Uname -a:
[code]
rook version:
[code]
ceph status:
[code]
ceph osd status:
[code]
ceph df:
[code]

[2019-01-14 13:12] hydratim commented on #2261
When I re-insert the sc I get:
[code]

[2019-01-14 15:06] hydratim commented on #2261
Okay so from my tests this seems to be triggered by any helm chart (or other automated install platform) that contains a cephpool and/or a StorageController.

This is likely because of a lacking pre-condition in the rook/ceph drivers (for Storage Controller, Pool, etc) that should block the finalizer untill any pvc's or other "child" objects have been removed/cleaned up.

If K8s first removes the

[2019-01-14 16:33] copejon commented on #2480
@jbw976 I'm already a little familiar with the crossplane multilayer design (we stumbled onto your repo just before KubeCon actually :)  ).  I agree that it opens up a lot of room for collaboration and meshes well with this design.

@jeffvance and myself have spend 4+ weeks now refining and rewriting this design and hammering our some POC code.  After the nth iteration of trying to design a genera

[2019-01-14 18:43] travisn opened #2487 "Quickly creating many PVCs results gets stuck after binding only a few PVCs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When many PVCs are quickly created (~100) without any delay, the operator stops responding to the requests to create the PVCs after binding only a few of them (the first six in this repro).

The operator log is filled with the following messages as K8s keeps retrying the operations:
[code]

After some

[2019-01-14 18:44] galexrt commented on #2487
@travisn Is this related to the closed #2007?

[2019-01-14 19:21] travisn commented on #2487
Yes, it does look related, although the operator is not crash looping in this case. Let's reopen the other one as well.

[2019-01-14 22:06] KaelBaldwin commented on #2062
fyi https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client works well for this, you can just point it to your rook-nfs server. But it would be nice if it was built in.

[2019-01-14 22:15] syncroswitch opened #2490 "Ceph Object Store User's Secret not created if applied too soon after Ceph Object Store"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
If a manifest for the CephObjectStoreUser is created right after applying the manifest CephObjectStore and the CephObjectStoreUser had not been created by the operator yet, then the CephObjectStoreUser secret will not be created at all.

Applying the manifest again after the CephObjectStore is up will

[2019-01-14 23:09] noahdesu commented on #2479
I think the issue here is that the osd spec should use `-d` instead of `--foreground`. verifying...

[2019-01-15 06:06] nodanero commented on #2476
Wrong container image

[2019-01-15 06:06] #2476 closed

[2019-01-15 09:52] aisensiy opened #2492 "500 internal error to access dashboard in v0.9.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The dashboard failed after create a 3 mon 3 osd cluster with the cluster configuration:

[code]

**Expected behavior:**

**How to reproduce it (minimal and precise):**

Create a cluster with the docs. And

    kubectl port-forward svc/rook-ceph-mgr-dashboard 8443:8443 -n rook-ceph

Then open https://l

[2019-01-15 09:59] aisensiy commented on #2492
By the way, is there some way to put the dashboard up again? I don't want to reinstall the cluster just because the dashboard failed...

Thanks in advance.

[2019-01-15 19:57] travisn commented on #2479
@noahdesu Yes, collecting all the log output would be the goal. Files inside the pod are more easily lost when the pod is restarted.

[2019-01-15 20:12] travisn opened #2494 "Include more details in the CRD status"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The Ceph CRD currently only includes a single status field and the value is only "creating" or "created". The status should be expanded to include more detailed info that will be useful to users, or even rook itself for scenarios like upgrade where rook needs to know what version or settings were previo

[2019-01-15 22:21] #1799 closed

[2019-01-16 08:39] Negashev opened #2502 "provision in rook-ceph-osd-prepare-* jobs request memory/cpu like OSD"
When rook-ceph-operator create rook-ceph-osd-prepare-* provision pod always request memory/cpu like OSD

example cluster:
[code]

[2019-01-16 09:01] grayglj commented on #2404
it's work for me, ceph auth caps mgr.a mon 'allow *' osd 'allow *' mds 'allow *' ,thanks very much.

[2019-01-16 18:48] jtlayton opened #2505 "add ability to SIGHUP the ganesha daemon in cephnfs container"
The cephnfs CRD creates clusters of ganesha.nfsd daemons running in separate containers. All of the containers have a mostly-identical config that contains a %url include at the end that we point toward a RADOS object with the rest of the config (mostly EXPORT blocks).

Once we update those objects we need to be able to cue ganesha to reread its config to have them take effect. The usual way to do

[2019-01-16 19:30] liewegas commented on #2479
Yes, please just use the ceph defaults.

[2019-01-16 21:33] travisn commented on #1169
@rootfs does the csi driver take care of resizing?

[2019-01-16 21:35] travisn commented on #1552
CSI seems to solve this for us

[2019-01-16 21:46] #1807 closed

[2019-01-16 21:54] travisn commented on #560
Need to confirm that the mgr module for placement mgmt solves this

[2019-01-16 22:35] dyusupov opened #2506 "EdgeFS transition to Beta status CRDs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

As we working with some Alpha users and adding more polishing. We also finalizing our CRDs to get ready for Beta status. This issue is an umbrella for the Alpha -> Beta chages.

**What is use case behind this feature:**

**Environment**:

[2019-01-16 22:36] dyusupov commented on #2383
We still investigating this issue. Anton couldn't reproduce it yet. So, let's keep it open and unassigned for now please.

[2019-01-16 23:53] dyusupov opened #2507 "EdgeFS CSI for Block interface"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

As we working on extending CSI to support block interfaces to EdgeFS, we want to add proper Rook documentation and examples, explaining how this can be done. Some NFS CSI changes also need to be reflected.

**What is use case behind this feature:**

**Environment**:

[2019-01-17 01:40] dyusupov opened #2508 "EdgeFS add support for Local Site Management GUI with automated CRD wizards"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

EdgeFS comes with Management GUI, tailored to operate with Kubernetes services. Support for automatic provisioning of the GUI needs to be added to Cluster Mgr pod. Examples and documentation need to be provided.

**What is use case behind this feature:**

**Environment**:

[2019-01-17 01:45] dyusupov opened #2509 "EdgeFS OpenStack/SWIFT CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Add new CRD for configuring EdgeFS OpenStack/SWIFT REST API.

**What is use case behind this feature:**

**Environment**:

[2019-01-17 01:53] dyusupov opened #2510 "EdgeFS S3 bucket as DNS subdomain"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

EdgeFS S3 protocol enhancement to support bucket as DNS subdomain implemented in separate Docker image. Need a way to select image via existing S3 CRD and also additional properties.

**What is use case behind this feature:**

**Environment**:

[2019-01-17 08:45] galexrt commented on #1366
Having talked about this with @mmack a bit, I have come to the conclusion that something like this may possibly as a solution:
[code]

[2019-01-17 15:30] laurybueno commented on #2492
I can confirm this problem in a very similar setup. However, I've configured an ingress with a valid certificate so that the dashboard could be publicly available. (and my Ceph cluster is HEALTH_OK)

When I try to access it, the page loads indefinitely and the manager pod prints the same error message on its log.

[2019-01-17 17:05] dyusupov opened #2513 "EdgeFS failure domain and zoning provisioning support"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

EdgeFS supports flexible replication failure domain configuration. The default is host failure domain.  This feature would enable the ability to select between host and zone. It has to be integrated with existing zoning labeling whenever possible, in automatic ways.

**What is use case behind this feat

[2019-01-17 18:16] Amos-85 opened #2514 "Modified crush maps support"
when creating a new tree in the crush map for ssd hosts and osd's the state doesn't saved after restart osd deployments.

support it as an advanced topic for rook deployments will be appreciated.

@travisn has commitment in rook slack channel to support it.

[2019-01-17 20:08] stephan2012 commented on #2079
Just setup a PKI infrastructure with Vault and cert-manager which can now provide short-living TLS certificates. Relying on Kubernetes standard TLS secret would allow consuming these certs easily. By the way, does Rook pickup updated certificates?

[2019-01-17 20:17] stephan2012 opened #2517 "Docs needed: Node Shutdown with Rook/Ceph hangs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Please document the procedure how to cleanly shutdown a Rook operated Ceph. Anything special to consider? For native Ceph there are some [guidelines](https://ceph.com/planet/how-to-do-a-ceph-cluster-maintenance-shutdown/) available.

**What is use case behind this feature:**
Allow restarting Ceph in a c

[2019-01-17 20:19] travisn commented on #2517
@stephan2012 Is this guide what you're looking for? https://rook.io/docs/rook/v0.9/ceph-teardown.html

[2019-01-17 20:20] stephan2012 commented on #2517
@travisn: No, I do not want to delete my Ceph cluster but prepare it for a full Kubernetes cluster shutdown.

[2019-01-17 20:25] travisn commented on #2517
Ah thanks for the clarification that it's for maintenance.

[2019-01-18 07:14] aisensiy commented on #2492
I also try to use ingress, and failed...

[2019-01-18 08:34] scher200 commented on #2079
@stephan2012 sounds good, could you post a tutorial how to do that?

[2019-01-18 08:55] stephan2012 commented on #2079
@scher200: Will try to do this in the next days.

[2019-01-18 11:11] vistalba commented on #1507
I run into the same issue with rook. :(

One Node of a 3 node cluster goes down. Kubernetes tries to restart the pods on another node but they stuck in state "ContainerCreating" because the volume is already attached to the pod in state "Terminating".

Is anyone working on this issue? Is there any workaround or something like this?
I think this is a very important scenario and should be possible.

[2019-01-18 11:26] vistalba opened #2519 "Issue when draining a node to reboot with --delete-local-data"
I followed this to prevent hang on reboot:
https://github.com/rook/rook/blob/master/Documentation/common-issues.md#node-hangs-after-reboot

If I do "--delete-local-data" the rook cluster never become healty again after i uncordoned it.

Anyone else with this behavior?

[2019-01-18 12:51] lorenz commented on #1507
@vistalba Look at https://github.com/rook/rook/issues/1507#issuecomment-413604790, I've summarized the current state and possible solutions there.

[2019-01-18 16:17] gabibbo97 commented on #1169
https://github.com/ceph/ceph-csi/issues/101

[2019-01-18 16:33] vistalba commented on #1507
@lorenz Yes I saw this post but it's old and unfortunatly it looks like there is no progress :(

[2019-01-18 17:37] anarcat opened #2521 "Unable to mount volumes for pod, Couldn't get secret"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

A prometheus operator cannot create volumes provided by ceph deployed from Rook.

**Expected behavior:**

Everything should work fine! And it did, at some point, in one of the twenty times we've cycled through this process. It seems we did something wrong at some point in the cluster either when we to

[2019-01-18 18:54] galexrt commented on #1802
I have created an example org to try it out https://github.com/rook-new-site-design.

In this the documentation must be placed in folders, sub-folders and so on as can be seen here: https://github.com/galexrt/rook/tree/hugo_doc.
The result of this with the redesign combined is looking like this when on the docs:
![screencapture-localhost-1313-2019-01-18-19_51_44](https://user-images.githubusercont

[2019-01-18 19:12] travisn commented on #2487
I was able to easily repro this locally in minikube.
- Create the operator and the default cluster.yaml
- Create the storageclass.yaml
- Create PVCs quickly in a loop. Below is the template.
  - Creating two PVCs worked fine.
  - Creating 20 PVCs hung after binding 5 PVCs, but then the rest were bound within about a minute.
  - Creating 80 more PVCs hung after binding just 2 more PVCs. This time i

[2019-01-18 19:24] jbw976 commented on #2487
Looks like the external provisioner that we originally took from the external-storage repo has [been moved](https://github.com/kubernetes-incubator/external-storage/tree/master/#how-to-use-the-library) to https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner.

We copied this code into our tree initially because the nightmare of k8s dependencies that were in the external-storage r

[2019-01-18 19:42] travisn commented on #2487
@jbw976 thanks for the pointer! I'll definitely start by seeing if we can reference it and remove from our tree.

[2019-01-18 21:31] jbw976 commented on #1802
very cool @galexrt! a few comments:
* I like how we have more levels of nesting/indentation.  how is that controlled, is front matter still needed, or is the structure automatically picked up from the folder structure in the source repo?
* Grouping by Storage providers makes sense.  I see a few of them that are plural when they shouldn't be, like Cockroachdbs and Minios.  Is that a bug?
* I think

[2019-01-18 23:44] travisn commented on #2487
Ok, i was able to successfully reference the external provisioner code after much struggle with the dependencies. Now I am able to see PVCs get bound without getting stuck. It took about a minute to bind 100 PVCs.

[2019-01-19 10:43] davidhiendl commented on #1507
I was wondering if this (or similar) issue does apply to EdgeFS? I've read somewhere it already supports fencing and therefor might a viable workaround/alternative.

[2019-01-19 10:57] vistalba commented on #1507
Can someone confirm that the EdgeFS would work for this scenario mentioned by @davidhiendl ?

[2019-01-19 16:35] lorenz commented on #1507
At best partially (as in the new node can get the volume). But at least the equivalent of a force_unmap option is not available on either iSCSI or NFS which are used as access protocols by EdgeFS.

[2019-01-20 04:07] travisn commented on #2254
@JohnStrunk @humblec Have you perhaps seen this issue with mounting large Gluster volumes? We're looking for a way to workaround the recursive chown that K8s performs each time a volume is mounted. For large volumes this can take many minutes. https://github.com/kubernetes/kubernetes/issues/69699 doesn't appear to have a solution yet.

[2019-01-20 04:20] travisn commented on #2174
@dimm0 According to the [last comment in the ceph issue](https://tracker.ceph.com/issues/24982#note-15), the following setting in [ceph.conf](https://rook.io/docs/rook/v0.9/advanced-configuration.html#custom-cephconf-settings) may help. Can you see if this helps your cluster? It looks like you'll also need luminous 12.2.9 or newer, but I can't tell what version of mimic might contain a fix for sur

[2019-01-20 06:09] dimm0 commented on #2174
Hm... The mgr is not crashing, but some stats, like IOPS, throughput and operations, are not reported. Is that how it's supposed to work?

[2019-01-20 15:43] dimm0 commented on #2174
Thanks! I'll try updating to 13.2.4. I'm currently on 13.2.2

[2019-01-20 18:05] dyusupov commented on #1507
EdgeFS allows multi-head NFS exports with full RW semantics. See "instances" CRD parameter. However, please be advised that application-level synchronization still required, i.e. use of fcntl(2).

[2019-01-20 19:09] dimm0 commented on #1507
NFS is slow in general. I'd be curious how it works with iSCSI and ReadOnce PV

[2019-01-21 00:44] dimm0 commented on #1507
I'm talking about this specific issue. Applications using the block device in single-access mode. Those need to failover to a new node when node fails.

[2019-01-21 10:23] consideRatio commented on #2107
I'll start a journey to investigate if I could resolve this manually in a somewhat sustainable way by utilizing StatefulSets and their unique PVCs per replica along with suitable labels for setting up suitable affinities. But, this is currently a naive idea formed without any actual experience with Rook. Any pointers are appreciated!

Does this seem viable? If you quickly conclude "oh this will fa

[2019-01-21 11:27] leseb opened #2525 "[ceph] enable msgr2"
Ceph Nautilus added a new network protocol interface to communicate between daemons. As a result, Ceph Monitors now have to bind to a different IP than before (3300). Also the `ceph.conf` generation must change to accept the msgr2 style declaration.

Typically the `mon_host` section goes from something like this:

[code]

To:

[code]

Upgrading from Mimic to Nautilus would require something like:

[2019-01-21 12:56] leseb commented on #2525
Hum it looks like we need `mon_host = v1:127.0.0.1:6789/0,v2:127.0.0.1:3300/0
`so older clients can still talk to the mon.

[2019-01-21 12:58] leseb commented on #2525
When multiple mons, we need brackets:

`mon host = [v2:1.2.3.4:3300,v1:1.2.3.4:6789],[v2:1.2.3.5:3300,v1:1.2.3.5:6789]`

[2019-01-21 14:38] vietwow opened #2526 "Could not access Ceph dashboard"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
using https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml which enabled dashboard default but I cannot access ceph dashboard when port-forward or even exec into container :

$ kubectl -n rook-ceph exec -ti rook-ceph-mgr-a-976ccf6b9-k44xc bash
[root@rook-ceph-mgr-a-976

[2019-01-21 15:05] liewegas commented on #2525
- always put v2 before v1
- :+1: on the brackets
- we want the v2 + v1 addresses always, even for new clusters, since we need to support older clients (e.g., kernel) that only speak v1
- it's possible (likely?) that nautilus will default to having ``ms_bind_msgr2 = false`` by default and marked as experimental, at least for the first point release, so you may want to make this conditional.