[2022-05-02 20:42] travisn commented on #10193
Does it help if you increase the operator memory limits to 512 (see #10195). The admission controller issue sounds similar to #10192.

[2022-05-02 20:45] encausticcello commented on #10193
Since I set the memory limit of the operator to 512Mi yesterday, it hasn't restarted due to an OOM event. However, the admission controller is still randomly not accepting connections when performing helm upgrade commands, even though the operator has not restarted, and the admission controller seems to be ok (at least no errors seen in the operator logs)

[2022-05-02 22:28] travisn commented on #1507
By itself the policy of force deleting pods is dangerous, which is why we have not yet implemented it. The volume could become corrupted in the following scenario:
1. A node goes offline (e.g. power or partial network outage)
2. Rook force deletes the app pod(s) with rbd volumes on the unresponsive node
3. The app pods start on another node and start writing to the volume
4. The original dead node

[2022-05-03 03:57] zerkms commented on #1507
I'm not in the list @travisn asked for feedback, but I still have something to say! :-)

What if the step 4 (blocklisting) was implementing through another CRD (eg `RookCephBlockedNode`) with name matching the blocklisted node.

This would have at least these 2 huge benefits:

1. No need for additional tools for monitoring (just a "normal" configured prometheus should already be able to do it)
2.

[2022-05-03 06:44] Aurorxa commented on #10194
Sorry, when I retest today, I don't know why it seems that it can be started. It's hateful that I didn't save the error log at the beginning. It is also possible that the configuration of the machine is too low, because I remember that I have several nodes, and I have assigned 1 core。
![Snipaste_2022-05-03_14-44-11](https://user-images.githubusercontent.com/25677587/166413868-a3f6049f-c8d7-49c2-bc

[2022-05-03 06:44] #10194 closed

[2022-05-03 07:00] ibotty commented on #1507
Can't the `ceph-csi`-Pods detect that a node does not have any old mounts left, so it can remove the blocklist entry automatically or instruct some other process to do that?

[2022-05-03 08:01] nixpanic commented on #1507
There is still an issue with this step, I think:

_Kubernetes might still assume the volume is mounted on the non-responsive node, and will likely not mount it on an other node (RWO and RWOP volumes). Deleting or updating the `VolumeAttachments` for the unresponsive node might be required?_

In my opinion, blocklisting nodes is a cluster operation, so it is something that Rook should manage. Ceph-

[2022-05-03 08:25] nixpanic commented on #1507
Also note that we have implemented [`NetworkFence` from CSI-Addons](https://github.com/csi-addons/spec/blob/main/fence/README.md) in Ceph-CSI. The work is related, maybe Rook can build on top of that.

/cc @Yuggupta27

[2022-05-03 10:10] R-omk commented on #1507
Here's (https://github.com/kvaps/kube-fencing) something on a similar topic, take a look.

[2022-05-03 10:51] LittleFox94 commented on #9349
I just ran into this problem upgrading from v1.8.9 to v1.9.2, my previous operator deployment probably around since v0.4 or something - didn't see any mention in v1.9 upgrade guides, but maybe I missed something in v1.8 (which worked great though, at least after adding the CRD in v1.8.2).

[2022-05-03 14:00] leseb commented on #10182
This could be a detail for now but I'm wondering if requiring base64 for the script instead of the entire script would make sense too. Perhaps for simplicity and decoding.

[2022-05-03 14:43] yuvalif commented on #10182
sounds like a great idea. would solve indentation issues in the yaml.
probably will add that as another option, as some people might find it useful to have the yaml human readable: `scriptBase64`

[2022-05-03 15:28] #10181 closed

[2022-05-03 17:32] cgruver commented on #9923
Is this issue not actually a bug?

Is it expected behavior that a storage device cannot be referenced by `/dev/disk/by-partlabel/some-label`?

I have encountered something similar on OpenShift.

I had to delete the label on the partition, and modify my `CephCluster` to directly reference the partition device without prepending it with `/dev/` i.e. I have to reference it as `nvme0n1p5`, not `/dev/n

[2022-05-03 20:06] travisn commented on #9835
This was fixed by #10139

[2022-05-03 20:06] #9835 closed

[2022-05-03 21:43] zerkms commented on #1507
@nixpanic

Shouldn't ceph tolerate network or hardware failures though?

[2022-05-04 05:56] Madhu-1 commented on #10188
Dynamically expansion can be configured by external operators. SHRINK is not something supported by kubernetes.

[2022-05-04 08:03] leseb commented on #1507
While the proposal seems reasonable, I'm afraid this might go beyond what Rook is capable of doing. This looks to me like a machine-level type of problem and Rook is really high in the stack when trying to find out about the issue. Relying on the control plane to determine whether a node is alive or not might be sufficient. As far as I can tell (quick glance) this is how https://github.com/kvaps/k

[2022-05-04 09:12] Madhu-1 commented on #1507
This is getting addressed at the CSI level as @travisn mentioned in one of the comments (its really going slow) and also as @nixpanic mentioned we already have a CRD to fence and unfence the block of IP addresses using the [csi-addons](https://github.com/csi-addons/spec/blob/main/fence/README.md) repo.

[2022-05-04 11:18] galexrt commented on #9660
Does this still happen with the latest v1.9.2 release?

[2022-05-04 11:54] nixpanic commented on #1507
integrating blocklisting with kube-fencing, or https://github.com/medik8s would surely be a nice approach!

[2022-05-04 12:04] nixpanic commented on #1507
integrating blocklisting with kube-fencing, or https://github.com/medik8s would surely be a nice approach!

Yes, Ceph will take care of OSD issues, the storage managed by Ceph will not have any problems. However there is nothing that Ceph can do about partial data storage by applications (or a filesystem) running on a node that suddenly goes offline. When the application starts (or the filesystem

[2022-05-04 14:45] aneagoe commented on #8085
I've stumbled on this issue while going through the upgrade process. In order to make things easier and allow a certain degree of control, I've decided to take a different approach.
I've created a `MutatingWebhookConfiguration` and controller that would modify existing CSI PODs such that they use `hostNetwork: true`. This allowed me to cordon/drain nodes in a rolling fashion (thus gracefully movin

[2022-05-04 20:42] Daxcor69 opened #10207 "Documentation: Prometheus Operator"
If rook-ceph is installed and there is a prometheus running via a operator, the default rook installation will not get picked up by prometheus.  I would suggest linking to this issue.

[code]

https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack#further-information

[2022-05-04 21:13] travisn commented on #9660
With the latest master I still see the same failure. Was there a related change you hoped would fix it?

[2022-05-04 21:33] zerkms commented on #1507
@nixpanic then ceph/rook should not care about it: hardware is not reliable, network is not reliable, OS and system libs are not reliable, OOM may kill a process at any moment.

exactly the same will happen if a process is killed by the OOM or of the host machine suddenly losts power.

It must be there whether the app runs on kubernetes with rook/ceph, or on bare metal - the application either han

[2022-05-05 05:18] thotz opened #10210 "Improve code readablity in pkg/operator/ceph/object/spec.go"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Decouple conditions in pkg/operator/ceph/object/spec.go into functions, so that it improves code readablity for that file. This issue opened as part of https://github.com/rook/rook/pull/10204#pullrequestreview-961830327

**What is use case behind this feature:**

**Environment**:

[2022-05-05 06:58] nixpanic commented on #1507
Indeed, by blocklisting the node/vm that does not respond anymore, it should be possible to recover from a certain set of failures. It should just be clear that blocklisting/fencing is not a bulletproof solution. Even when Rook and Ceph-CSI do support the functionality, there will be failures that can not (easily) be recovered.

I hope Rook with Ceph-CSI can consume the [CSI-Addons `NetworkFence`]

[2022-05-05 08:57] telmich opened #10211 "Add support for default resource requests based on OSD size"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

If enabled (opt-in), add resource requests and resource limits to OSD pods. The suggest rule of thumb would be for memory:

* 1 GiB memory for 1 TiB storage size (i.e. storage size/1024)
* CPU limits: depending on the storage class, but in the direction of 2 cpu/hdd, 4 cpu/ssd, 8 cpu/nvme - i.e. depend

[2022-05-05 09:00] humblec commented on #1507
I agree with @nixpanic , its better to stick to the same fencing model we already have from csi-addons repository.

[2022-05-05 12:47] prabhinmp opened #10213 "How to resize the existing OSD"
HI,
I have 3 nodes where 50Gb raw disk is attached and used by ceph , configured with replicapool of size 3.
So all the data on the node1 disk is replicated to node2 and node3.

Now the situation is 50Gb is getting filled up and need to resize  50Gb to 100GB. Will rook ceph support this?

[2022-05-05 14:10] #10213 closed, assigned to nobody

[2022-05-05 14:29] spdfnet commented on #10196
...nor for compactions, deep-scrubs, slow drives, etc.

I recommend disabling all probes, since they become useless over time:
How often an OSD _really_ hangs but doesn't crash?

[2022-05-05 15:23] mosesdd opened #10215 "Phantom OSD can not be deleted"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
According to the [documentation](https://github.com/rook/rook/blob/master/Documentation/ceph-advanced-configuration.md#phantom-osd-removal) it should be possible to delete phantom OSDs but the ceph command expects a numerical value

`[rook@rook-ceph-tools-87994b6fd-c657z /]$ ceph osd out -7`
`Error EIN

[2022-05-05 15:31] mosesdd commented on #10215
I found a way to fix this, the phantom host can be deleted with:

`ceph osd crush remove <hostname>`

[2022-05-05 16:56] travisn commented on #10215
@mosesdd Does this doc on [OSD Removal](https://rook.github.io/docs/rook/v1.9/ceph-osd-mgmt.html#remove-an-osd) answer the question?

[2022-05-05 17:18] travisn commented on #10196
Given that Rook can't predict when the OSD will need to run those long operations at startup to disable the probes automatically, and it's painful to manually disable the probes when this issue is hit, it's a good question for whether probes should just be disabled by default for OSDs.
@leseb @satoru-takeuchi @BlaineEXE What if we disable the startup and liveness probes by default for OSDs?

[2022-05-05 17:22] travisn commented on #9923
The OSDs can be referenced by a path as shown in [this example](https://github.com/rook/rook/blob/release-1.8/deploy/examples/cluster.yaml#L235).

For raw devices and partitions, they typically just need their names without the `/dev` prefix, so it's expected to use `nvme0n1p5` in that case. @cgruver This is working for you?

[2022-05-05 17:47] travisn commented on #9831
@spdfnet Which issues are you referring to?

As a data point, OSDs on PVCs (following the cluster-on-pvc.yaml example) have always been on raw mode without issues.

[2022-05-05 18:39] angrieralien commented on #8792
I am also needing to map multiple buckets to a single user. I am using fluent-bit to ingest logs. I add the `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` as environment variables so this limits me to one user. Is there another way to map multiple buckets to a single user in an automated way?

https://github.com/fluent/fluent-bit-docs/blob/43c4fe134611da471e706b0edb2f9acd7cdfdbc3/administration/a

[2022-05-05 23:14] alyti opened #10219 "OSD Prepare fails due to "unparsable uuid""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-ceph-osd-prepare fails due to "unparsable uuid", leaves behind dirty drives and ignores them on retry, CephCluster has no OSDs

**Expected behavior:**
OSDs get prepared and CephCluster is alive and well.

**How to reproduce it (minimal and precise):**

single-node k3s cluster on dedi with 2 hdd de

[2022-05-05 23:25] blodone commented on #6327
reopen

[2022-05-06 01:49] satoru-takeuchi commented on #10196
@travisn

It looks reasonable.

[2022-05-06 05:10] thotz commented on #8792
You can set bucket policy on different buckets for that https://docs.ceph.com/en/quincy/radosgw/bucketpolicy/ currently, there are no automatic way for this in Rook

[2022-05-06 07:59] leseb commented on #10196
The startup probe is probably fine to disable, however, I'd keep the liveness probe if for some reason the OSD is still running/hangs but does not respond properly.

[2022-05-06 08:29] mosesdd commented on #10215
@travisn No it doesn't. There is now word about deleting phantom OSDs

[2022-05-06 09:16] Atomique opened #10220 "Mention the discover daemon in the troubleshoot readme to solve problems with missing osd-prepare pods"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
I had an issue while deploying the rook-ceph cluster into Kubernetes. The operator didn't create the osd-prepare Pods. While searching for the root-cause of this problem, I landed at this documentation: https://github.com/rook/rook/blob/master/Documentation/ceph-common-issues.md#osd-pods-are-not-created

[2022-05-06 12:06] galexrt commented on #9470
So... the good news I was able to reproduce the issue on first try, the bad news I need to reinstall my laptop and wasn't able to save the logs...

I'll probably have the `ceph-volume` debug logs from the `rook-ceph-osd-prepare` Pod in a few more hours available when I have my laptop ready for round 2.

@leseb Are you available today? I can gladly give you SSH access for you to get more debug info

[2022-05-06 13:33] #10207 closed, assigned to nobody

[2022-05-06 13:50] travisn commented on #10220
The discover daemon is only needed for a very small scenario, which is to actively watch for hotplug devices on which new OSDs could be created at a later time. The discover daemon therefore does not commonly need to be enabled in most clusters. Rook finds everything it needs to create OSDs when the OSD prepare jobs are run.

If the OSD prepare jobs are not created, this should mean that the Ceph

[2022-05-06 13:50] galexrt commented on #9470
@leseb Here you go:

[rook-operator.log](https://github.com/rook/rook/files/8641170/rook-operator.log)
[osd-prepare.log](https://github.com/rook/rook/files/8641171/osd-prepare.log)

Quick look from my side shows that ceph osd prepare reports the disk as empty (no partitions).

rook-discover correctly on the other detects that nvme0n1 has partitions:
[code]

[2022-05-06 14:07] galexrt commented on #9470
Added the `ceph-volume.log` file from the `/var/lib/rook` dir: [ceph-volume-node-log.log](https://github.com/rook/rook/files/8641263/ceph-volume-node-log.log)

[2022-05-06 14:09] galexrt commented on #9470
[ceph-volume-node-log-full.log](https://github.com/rook/rook/files/8641278/ceph-volume-node-log.log)

[2022-05-06 15:21] R-omk opened #10222 "Webhook admission panic during validate cluster obj"
**Is this a bug report or feature request?**
* Bug Report

[code]

**Environment**:

* Rook version: v1.9.2
* Kubernetes version: v1.22.8
* Storage backend status: HEALTH_OK

[2022-05-06 15:45] travisn commented on #10215
Got it. So all the steps in that section on removing a phantom id worked for you, except that one that required the host name? I didn't even realize any of those would work with the negative id.

In any case, we should probably move these instructions to the doc on [OSD Management](https://rook.github.io/docs/rook/v1.9/ceph-osd-mgmt.html). @galexrt sound good?

[2022-05-06 15:54] R-omk commented on #10222
This happens if you try to add a new one `StorageClassDeviceSet` to an existing cluster.
It need to compare elements by name and not by index

[2022-05-06 15:58] R-omk commented on #10222
https://github.com/rook/rook/blame/v1.9.2/pkg/apis/ceph.rook.io/v1/cluster.go#L84-L85

[2022-05-06 16:04] travisn commented on #10222
Thanks for the report, until we get this fixed note that you can disable the admission controller with [this setting](https://github.com/rook/rook/blob/release-1.9/deploy/examples/operator.yaml#L562).

[2022-05-06 23:00] neha-ojha commented on #10196
The issue described in https://github.com/rook/rook/issues/10196#issue-1223156454 is related to a new feature in Quincy (https://github.com/ceph/ceph/pull/39871). The OSD now rebuilds allocation information from the store during ungraceful shutdown in order to achieve better write performance. This will lead to additional startup time, but I am curious to know how much time it took in this case an

[2022-05-07 19:13] heilerich opened #10224 "Missing service account in common.yaml since 1.8 release"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When deploying a release > 1.8.0 with the example manifests the service account for the admission controller (`rook-ceph-admission-controller`) is missing. Therefore the admission controller will never start.

Before the manifest directories were restructured along with the 1.8.0 release, i.e. anythin

[2022-05-07 20:02] #9817 closed

[2022-05-07 23:59] wskibum opened #10225 "Rook/Cassandra Unable to set antiaffinity rules in cluster.yaml"
Ubuntu 20.04
Kubernetes 1.20.14
Casandra 3.11.6
Pods=5

I have tied nodeANtiAffinity, topologySpreadConstraintes, etc in the cluster.yaml file
I hate to complain as my pods come up and everything is working great, except they will only deploy to 2 Kubernetes workers out of 6 available.  They are all exactly the same config and load.  For HA I  would much prefer that the pods are spread out over th

[2022-05-08 06:21] taxilian commented on #10196
Not claiming that this is statistically significant, but after disabling my liveness and startup checks I did have one OSD go weird on me today where it was down but didn't crash... so it at least can happen =]

granted, my cluster is in a *very* foobarred state right now, so there could be many factors at play.

[2022-05-08 09:45] rangsaritv commented on #5065
In my case, I setup my cluster wrong. I did kubeadm init  with --pod-network-cidr=192.168.0.0/16 while my master node ip is 192.168.1.29.  After I rebuild the cluster with ip not overlapped (pod-network-cidr=192.167.0.0/16), It seems to work for me.

[2022-05-08 16:24] logan2211 commented on #8993
I'm struggling with usability of the workaround implemented in #9020.

I use cert-manager Certificate resources to issue RGW SSL certs. How can I make a Certificate resource that generates a TLS secret containing the `insecureSkipVerify` flag?

Currently I'm struggling with the following error that is preventing OBC's from working.

[code]

[2022-05-08 20:02] #6270 closed

[2022-05-09 05:05] thotz commented on #8993
@logan2211 : IF you are using k8s secret type as TLS for storing RGW certs, then this flag cannot be added. But if you are using k8s secrets normal opaque type then u can add this value in the data field of the secret

[2022-05-09 09:59] leseb commented on #9470
The issue is still in ceph-volume not detecting the device property correctly.

It looks like this will be fixed by https://github.com/ceph/ceph/commit/9f4b830dcfb45eda81eabf18a8461ac4e1bf642e. There is a pending backport so the next Pacific/Quincy should get the fix.

Also, Rook should have been capable of handling this too, I found a bug so I'm fixing it too.

[2022-05-09 10:05] #9948 closed

[2022-05-09 10:06] spdfnet commented on #10196
I don't think restarting it every 5 minutes would have made it any better.
IMO this kind of things need manual intervention.

[2022-05-09 17:02] travisn commented on #10196
The default startup probe currently only gives 90s for the OSD to start and respond on the admin port before it assumes the OSD needs to be restarted.

[2022-05-09 17:23] #10225 closed

[2022-05-09 19:15] heilerich commented on #10224
Interesting. Indeed the webhook service is actually pointing to the operator and everything works just fine. Somehow we just had a orphaned admission controller deployment in our test environment (which wasn't doing anything). I have no idea where it came from, probably something went wrong in cleaning up the environment before deploying the new version.

So this is entirely our fault :)

Thanks f

[2022-05-09 19:15] #10224 closed

[2022-05-10 00:07] #9470 closed

[2022-05-10 00:45] fengjiankui121 opened #10237 "Recreated as operator's StrategyType"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

Recreated as operator's StrategyType

**How to reproduce it (minimal and precise):**

1. During the upgrade of rook, the mirror and cluster of rook have changed.
2. The StrategyType of the operator is set to RollingUpdate,
3. Upgrade rook, cluster upgrade successfully
3. The ne

[2022-05-10 00:56] smuth4 commented on #9948
I built an image from the release-1.9 branch and it's working great. Thanks @satoru-takeuchi!

[2022-05-10 02:05] onedr0p opened #10238 "[Feature] Move CRDs to crds folder under helm chart instead of using helm values to install them"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Helm supports installing crds by having them placed outside the templates folder in directory called crds. This would deprecate the `crds.enabled` option in the helm values.

This would follow method one as described in helm chart best practices for crds:

https://helm.sh/docs/chart_best_practices/cust

[2022-05-10 13:22] spdfnet commented on #9831
The ones you are participating in and others, not hard to find.

Also, things like these... :
[code]
... basically confuse the OS, break some of the standard tooling and looks pathetic in the `ceph_volume.process` logs.
I know it was a Ceph decision, but who is using it in production after doing minimal tests?

[2022-05-10 14:13] #10222 closed

[2022-05-10 14:23] mrhein commented on #9614
this may help you we have also problem and needed to disable the operator

[2022-05-10 14:39] mrhein commented on #9614
you can get the yaml while terminating the operator it leaves still 0-n crashcollector deployments this needs to be modified for each host

<img width="869" alt="image" src="https://user-images.githubusercontent.com/1809310/167655162-c0089bde-4d12-4f36-ac3d-315e61854a5f.png">

[2022-05-10 18:52] travisn commented on #9614
@mrhein What did you change in the deployment spec so the crash collector would start? Hopefully that points us to what the fix needs to be in rook.

[2022-05-10 20:02] #9824 closed

[2022-05-10 20:57] travisn commented on #9831
The main issue with raw mode was really #7940 with the atari partitions. The fix had been fully validated, thus we reenabled the raw mode.

What standard tooling is broken? Do you mean it's difficult to detect which devices are in use? There are other ways to detect devices in use as mentioned previously [here](https://github.com/rook/rook/issues/9831#issuecomment-1083626044).

What is the issue w

[2022-05-10 22:31] travisn commented on #1507
Thanks all for the feedback, what I'm gathering now is that the process would be more like the following:
1. A node goes offline
2. Rook detects the unresponsive node
3. Wait for some configurable timeout, perhaps with a default of 15 minutes
4. Rook creates a NetworkFence CR that fences the unresponsive node (there is no longer a need for the `ceph osd blocklist` command, right?)
5. Rook [deletes

[2022-05-11 04:45] y1r opened #10243 "Unable to start rook-ceph-purge-osd due to missing PSP"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Purging OSD job cannot create pods due to PodSecurityPolicy. Following events are occuring:
[code]

**Expected behavior:**
Purging OSD pods are created.

**How to reproduce it (minimal and precise):**
[code]

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if ne

[2022-05-11 10:17] nixpanic commented on #1507
Indeed, the `NetworkFence` CR will go through the csi-addons controller which passes the request on to the CSI driver. In case of Ceph-CSI, it will execute `ceph osd blocklist` (or similar through go-ceph). @Yuggupta27 is the authority on it, so he may want to correct/confirm it.

[2022-05-11 14:41] #4841 closed

[2022-05-11 19:48] BlaineEXE commented on #10196
In order to keep the liveness probe at a reasonable timeout, wouldn't we need to know when the OSD is actually started? The startup and liveness probes are the same, so once the OSD process is running, the liveness probe will start unless we have the readiness probe. Instead of disabling the readiness probe, I wonder if it would be better to set the liveness probe to a very large value. Would 90 m

[2022-05-11 19:59] BlaineEXE commented on #9831
Also, just to reiterate, the AHDI partitions showing up are a Linux Kernel bug where Atari/AHDI detection is implemented to accept a more broad definition of an AHDI partition than the actual Atari spec. There are bug reports about this kernel behavior that go back 15+ years. It is neither a Ceph bug nor a Rook bug.

Additionally, the Atari code doesn't have an active maintainer that I am aware of

[2022-05-11 21:59] BlaineEXE opened #10251 "add more ceph telemetry metrics"
* Feature Request

**What should the feature do:**
Add more metrics to the Ceph `config-key` database for reporting via Ceph telemetry. We already implement `rook-version` in #10161.

### Potential other metrics that might be good for Rook to collect:
- [ ] `rook-kubernetes-version` - kubernetes version, which is similar to the already collected os/kernel versions
- [ ] `rook-ceph-csi-version` - C

[2022-05-11 22:03] travisn commented on #10251
+1

Rook runs a detect csi version job, so we should actually have this version already.

What if we report the following?
- Number of K8s nodes
- Number of rbd volume plugin pods
- Number of cephfs volume plugin pods

Is this the number of nodes on which ceph daemons are running? Perhaps we could gather that simply by the number of crash collector pods, which should have one per node with ceph da

[2022-05-11 22:20] BlaineEXE commented on #10251
I thought about that as a shorthand for finding the info, but the crash collectors can be disabled. For those clusters, we couldn't get this info. We could give a `nil` value (or `undefined` or `n/a` or something) if they have crash collectors disabled. Or we could go the long route to get it in such a way that it's possible each time.

I think all these are good ideas and very possible with the e

[2022-05-11 22:42] travisn commented on #10251
Yeah, would be nice if we could have that structure for CRD types to avoid going back and forth. But we don't add CRDs very often either.

I'm thinking of this as adding rook metrics, not just ceph, so overall node count seems useful. Most of the time it will likely be the same as other node metrics, but will be interesting to see how many clusters choose to use a subset of nodes for rook.

[2022-05-12 10:45] yuvalman opened #10252 "hostNetwork spec field of csi plugin pods is always true"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
changing enableCSIHostNetwork in values.yaml to false will change the hostNetwork in the spec csi plugin pods to false.

**How to reproduce it (minimal and precise):**

change enableCSIHostNetwork in values.yaml to false, and check the created csi plugin pod

**File(s) to submit

[2022-05-12 14:53] parth-gr commented on #10219
@alyti can you mention the operator logs, where you see it's unparsable,

And also what you provided in the yaml's(cluster.yaml,etc)

[2022-05-12 15:00] parth-gr commented on #10188
https://github.com/rook/rook/blob/master/tests/scripts/auto-grow-storage.sh this may help you

[2022-05-12 15:08] parth-gr commented on #10060
I am not sure if we have currently support for creating  NFS using an external cluster,

@BlaineEXE is the NFS code trigger with external-cluster mode,
@tahsinrahman and where did you get nfs-external, I even not see it is rook-ceph main branch example yamls

[2022-05-12 15:23] BlaineEXE commented on #10251
Closing to discuss as a design doc in #10254

[2022-05-12 15:23] #10251 closed

[2022-05-12 16:24] #10252 closed

[2022-05-12 16:25] #10196 closed

[2022-05-13 05:16] alyti commented on #10219
All the yamls are in the issue. I've since given up on trying to run rook on my server, instead I opted for longhorn that has been working without any issues for a week now.

Operator logs with error:
[code]

[2022-05-13 13:37] travisn commented on #10219
@alyti If in k3s, I believe you'll want to follow the [cluster-on-pvc](https://github.com/rook/rook/blob/master/deploy/examples/cluster-on-pvc.yaml) example (make sure to change the storage class to your environment), then rook will generate the needed PVCs to back the OSDs, instead of needing to attach the static disks.

[2022-05-13 16:04] logan2211 commented on #10219
I have the same "unparsable uuid" error when deploying new OSDs on 1.9.3. I've been deploying Rook clusters for years with:
[code]

The particular cluster I'm experiencing this issue on currently was deployed with 1.8.9. Then, after upgrading to 1.9.3, it will no longer add new OSDs because of the unparsable uuid error. Existing OSDs work fine. It doesn't seem feasible to completely rebuild using

[2022-05-13 16:17] anthr76 commented on #10160
This log may be useful? It seems to be expecting systemd

<details>

[code]
</details>

[2022-05-13 17:07] anthr76 commented on #10160
FWIW I'm facing this issue on one OSD that failed and trying to join it back to the cluster establishing quorum.

[2022-05-13 17:30] travisn commented on #10219
@logan2211 Thanks for the data point that this is a regression. This seems to be related to #10212, not sure there is a workaround other than sticking with v1.9.2.
@satoru-takeuchi Can you take a look? Sounds like a number of users are hitting this.

[2022-05-13 17:31] travisn commented on #10160
If you're running rook v1.9.3, this may be the same cause as #10219.

[2022-05-13 19:23] anthr76 commented on #10160
I am on v1.9.3.

I just tried v1.9.3 and reproduced the same logs above.

[2022-05-13 22:08] satoru-takeuchi commented on #10219
@travisn OK, I'll investigate this issue next week..

[2022-05-13 23:41] #10188 closed

[2022-05-14 02:55] xuguangyuansh commented on #9705
The problem happens again, let's go to :https://github.com/rook/rook/issues/9852, because the discussion is richer there!

[2022-05-14 03:24] xuguangyuansh commented on #9852
I also had this problem again #9705 . Given recent scenarios and my own IDC room testing, I support @BlaineEXE @travisn's point that: your systems probably don't have enough resources (cpu or network...) to keep up with the ceph daemons running on them.

[2022-05-14 03:26] xuguangyuansh commented on #9852
A few failures I've encountered are all occurred in a cloud provider's environment, and they never happened in my own IDC room.

[2022-05-14 07:49] Jean-Daniel opened #10267 "Helm chart adds createPrometheusRules property in generated CephCluster CRD"
* Bug Report

We have a Kubernetes configuration generator tool that try to validate all generated files before applying them.
Since rook 1.9, it now fails because the generated CephCluster resources includes an extra property not defined in the CRD schema.

**Deviation from expected behavior:**

The generated CRD cannot be validated using the OpenAPI CRD schema.

**Expected behavior:**

The gener

[2022-05-14 18:33] Greg-Tarr commented on #1960
I would like this 👀

[2022-05-15 14:04] satoru-takeuchi commented on #10219
"_read_fsid unparsable uuid" itself is not a bug. It is also shown when osd preparation succeeds.

[code]

The messages indicating each problem are in the previous lines.

[code]

However, I couldn't reproduce this problem yet. My condition is as follows.

- Rook v1.8.9, v1.9.2, and v1.9.3
- Ceph v16.2.7
- How to specify disk; `devices.name: "/dev/disk/by-id/XXXXXX"` and `devicePathFilter: "^/dev/

[2022-05-15 14:45] satoru-takeuchi commented on #10160
This problem is very similar to #7728 and #9646. This is also handled in [ceph issue tracker](https://tracker.ceph.com/issues/51034). Setting "bluefs_buffered_io = false" in the Ceph configuration files would fix this problem. Could you try to create `rook-config-override` ConfigMap and restart all OSD daemons after that?

https://github.com/subhamkrai/rook/blob/fd33b2eb6257bf8b7456171d7a5a62f8cca

[2022-05-15 18:00] alyti commented on #10219
I ran `wipefs` on both devices before doing a helm-release /w cluster. So I'd assume there was nothing there.

[2022-05-15 18:47] frittentheke commented on #10219
We observe this issue with a "regular" Ceph deployment on Ubuntu Focal using `ceph-osd --mkfs`. There I observe this unparsable UUID issue at random as well.

I was about to raise an issue on the ceph issue tracker about this when I found this here ...

[2022-05-15 20:02] #8538 closed

[2022-05-15 21:37] BFrancisA opened #10268 "Multisite fails with: ceph-object-realm-controller: failed to reconcile CephObjectRealm"
* Bug Report
Testing creating a multisite deployment on a K8S cluster which has a kube-master and 2 kube nodes.  These are all are hosted in VirtualBox.  I followed example yaml files and modified these to deploy site-a on kube01.  Once site-a is working I plan to add a site-b on kube02.

Tried to deploy just site-a on kube01.  The operator fails to create the OSD.
(Simple tests not using multsite

[2022-05-16 00:54] logan2211 commented on #10219
[code]

I confirmed that v1.8.9 works normally. I tested v1.9.0, 1.9.1, 1.9.2, and 1.9.3 and all produce the error above when preparing the OSD.

[2022-05-16 05:24] thotz commented on #10268
@BFrancisA it looks osd is down.
[code]

can u please check ceph status , pod list to confirm osd is up and running

[2022-05-16 07:56] ptmkarvinen opened #10270 "Unable to create Ceph snapshots using cluster-on-pvc configuration on GKE."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

`sudo mkdir /files/.snap/mysnapshot`

returns

`mkdir: can't create directory '/files/.snap/mysnapshot': Permission denied`

**Expected behavior:**

The above command would create a Ceph snapshot.

**How to reproduce it (minimal and precise):**

1. git clone --single-branch --depth=1 --branch v1.8.9 h

[2022-05-16 13:55] BFrancisA commented on #10268
There is just 1 OSD configured and it is running.
[code]

Details for the OSD pod:
[code]

[rook-ceph-osd.txt](https://github.com/rook/rook/files/8700225/rook-ceph-osd.txt)

Ceph Status
[code]

[2022-05-16 14:08] thotz commented on #10268
Yaa in the logs it has mentioned something with `pg health: "cluster is not fully clean. PGs: [{StateName:undersized+peered Count:32}]"` same with ceph status. looks like it is the issue.

[2022-05-16 14:33] travisn commented on #1960
@Madhu-1 As mentioned in [this comment](https://github.com/rook/rook/issues/1960#issuecomment-456146217), can the csi driver create the rbd images with the parameters stripe-count and stipe-unit? If not, how about an issue be opened in the ceph-csi repo?

[2022-05-16 14:34] BFrancisA commented on #10268
[code]

[2022-05-16 14:37] travisn commented on #10268
Yep, replication 3. You'll want to use the example object-test.yaml for replica 1.

[2022-05-16 17:15] travisn commented on #10267
What exactly is your values.yaml? The `createPrometheusRules` is not part of the CephCluster schema, but is rather a top-level monitoring setting that will be used to determine how the templates are created. (This section is *not* under `cephClusterSpec`):
[code]

[2022-05-16 17:16] travisn commented on #10268
Correct, you'd need to update it to replica 1. Good to hear it's working now.

[2022-05-16 17:43] BFrancisA commented on #10268
@travisn Sorry to have mislead you.  The yaml file I posted above is the original file  I have  been using from the beginning.  It is with this file that I am getting the issue that I have reported.  I haven't changed anything, and the error remains unchanged as well.

I think that the pool settings are not being used and that it is falling back on the defaults which must be replica size=3.

[2022-05-16 17:59] travisn commented on #10268
Looking in the operator log I don't see where rook created the rgw pools. Did you restart the operator since collecting the log? Or perhaps rook isn't getting to the point of pool creation and just getting stuck. You might try setting the Ceph default pool size in the override configmap to 1 as seen in [this example](https://github.com/rook/rook/blob/master/deploy/examples/cluster-test.yaml#L18).

[2022-05-16 19:42] Jean-Daniel commented on #10267
According to the chart template: (templates/cephcluster.yaml), the whole monitoring section is blindly copied in the generated CephCluster section.

This is why the `createPrometheusRules` property ends up in the generated resource.

[code]

[2022-05-16 19:57] travisn commented on #10267
Aha, I see what you're saying now. We'll need to just copy the relevant settings in the template instead of everything.

[2022-05-16 20:12] #9853 closed

[2022-05-16 20:12] #9324 closed

[2022-05-17 06:14] Madhu-1 commented on #1960
@travisn @leseb not sure how I missed 3 notifications on the issue, My Apologies for missing notifications on the thread. if this can be mentioned in the ceph.conf https://rook.io/docs/rook/v1.9/ceph-advanced-configuration.html#custom-csi-cephconf-settings, if this needs to be done at the rbd image creation. As you mentioned I would suggest opening up an issue in https://github.com/ceph/ceph-csi r

[2022-05-17 06:34] Madhu-1 commented on #1960
@idryomov can we expose stripe-count and stripe-unit in the RBD storageclass and use them for creating RBD images? is there any caveat here?

[2022-05-17 06:36] Rakshith-R commented on #10270
@ptmkarvinen please refer to https://github.com/rook/rook/blob/master/Documentation/ceph-csi-snapshot.md.

[2022-05-17 08:51] idryomov commented on #1960
This is incorrect.  `rbd_default_stripe_unit` and `rbd_default_stripe_count` are respected:

[code]

The change that the linked email talks about didn't affect `rbd_default_stripe_unit` and `rbd_default_stripe_count` handling at all.

I'm not sure why it appeared to not work for @webberb with Rook.

[2022-05-17 08:54] idryomov commented on #1960
No caveat -- that is how it should be done, similar to `imageFeatures`.  We really need to stop suggesting/using global config overrides for things that are not global at all.

[2022-05-17 09:02] Madhu-1 commented on #1960
Thanks for confirming @idryomov

[2022-05-17 10:56] LittleFox94 opened #10276 "Multiple OBCs owned by single user"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

I want to create multiple CephObjectBucketClaims (OBCs) belonging to a single Ceph RGW user.

A possible way of allowing this is creating a `CephObjectStoreUser` (but now we probably want them in other namespaces #8792) and define the user in the `OBC` like this:
[code]

**What is use case behind this

[2022-05-17 11:40] Madhu-1 commented on #1960
@ajarr @kotreshhr what about cephfs? is it possible to provide these options during subvolume creation? or do we need to set them after mounting the subvolume?

[2022-05-17 11:42] Madhu-1 commented on #1960
https://github.com/ceph/ceph-csi/issues/3124 to add support for rbd images.

[2022-05-17 14:57] satoru-takeuchi commented on #10219
I've not reproduced this problem yet in both v1.8.9 and v1.9.2.

@alyti @logan2211 @frittentheke Could you give me the first 100MB of your device on which rook fails to create an OSD? It can be got by the following command.

[code]

My aim is to inject this image into a block device and try to create an OSD on this device.

[2022-05-17 15:57] idryomov commented on #1960
Correct, but I don't think we should advertise this.  The right way to do it is through the storage class.

[2022-05-17 16:22] travisn commented on #1960
@idryomov Got it, so the support through the storage class would just require an update from the csi driver with https://github.com/ceph/ceph-csi/issues/3124.

[2022-05-17 16:27] idryomov commented on #1960
Yeah, the issue in Rook can be closed.

[2022-05-17 16:50] travisn commented on #1960
In this case I'm thinking we can leave this issue active to track when the csi driver update is integrated to rook.

[2022-05-17 21:42] BFrancisA commented on #10268
I added the override to my cluster-on-pvc.yaml and re-deployed allover again.  This time I do get an rgw pod running.

The ceph status looks correct:
[code]
The operator logs are attached.  They show some errors like:
[code]
Maybe these are expected, not sure.

[logs-from-rook-ceph-operator-in-rook-ceph-operator-5f456ccd6b-ggqck.txt](https://github.com/rook/rook/files/8711653/logs-from-rook-ceph-o

[2022-05-17 22:08] travisn commented on #10268
That error should have been temporary while the OSD was coming up. If you don't see it repeating in the logs since then, you can ignore it. Since the status shows the OSD is up now, it should be fine. Shall we close this issue then?

[2022-05-17 22:35] BFrancisA commented on #10268
Yes the issue is resolved with overriding the default value for OSD pool:
osd_pool_default_size = 1

Thank you very much.

[2022-05-17 22:36] #10268 closed

[2022-05-17 22:48] #10267 closed

[2022-05-18 07:18] ptmkarvinen commented on #10270
Hey,

Isn't that for pvc snapshots? CephFS has a built-in snapshot feature as documented here https://docs.ceph.com/en/quincy/dev/cephfs-snapshots/, is this method not usable with the csi-plugin? It definitely works on a configuration without it.

[2022-05-18 22:27] travisn opened #10282 "Publishing the master build is failing when installing mkdocs dependencies"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After fixing #10281, the [publish build action](https://github.com/rook/rook/runs/6497822436?check_suite_focus=true) is failing when building the docs due to the error:
[code]

A longer snippet of the log:
[code]

**Expected behavior:**
Publishing the build should succeed.

[2022-05-19 06:33] thotz commented on #10276
@LittleFox94 Why cant we use `cephobjectstoreuser` in this use case ??

[2022-05-19 07:50] Rakshith-R commented on #10270
Cephfs Pvc is basically a cephfs subvolume. https://docs.ceph.com/en/quincy/cephfs/fs-volumes.html#fs-subvolumes
You should be using a k8s snapshot implementation, which takes cephcsi supported snapshot of entire subvolume.

[2022-05-19 07:51] Rakshith-R commented on #10270
Cephfs Pvc is basically a cephfs subvolume. https://docs.ceph.com/en/quincy/cephfs/fs-volumes.html#fs-subvolumes
You should be using a k8s snapshot implementation, which takes cephcsi supported snapshot of entire subvolume.

[2022-05-19 09:58] galexrt commented on #10282
I think the issue is caused by our CI using Ubuntu 18.04 which might not have Python 3 already, we can try:

* switching the `pip` command to `pip3` instead
* update the image of the push-image-to-container-registry CI `push-build.yaml` to use `ubuntu-20.04` instead of `ubuntu-18.04`

[2022-05-19 18:03] alokhom opened #10287 "enable features for DR site backup of k8s PVC filestore and object store."
**Feature to backup and restore PVCs. filestore content, object store contents into a new location (instance) different from the rook ceph storage instance**

**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
* It should make use of CRDs and establish operator pods to help the user make a live copy of PVC/k8s-manifests into a all-new location which is

[2022-05-19 19:22] travisn commented on #10287
In Slack I just shared these two topics for RBD mirroring. (Our docs are going through some changes, so I'll post the new links)
- [RBD Mirroring](https://rook.github.io/docs/rook/latest/Storage-Configuration/Block-Storage-RBD/rbd-mirroring/)
- [Failover/failback](https://rook.github.io/docs/rook/latest/Storage-Configuration/Block-Storage-RBD/rbd-async-disaster-recovery-failover-failback/)

There

[2022-05-19 19:58] travisn commented on #10282
In #10289 I tested that the pip3 install would work with ubuntu 20.04. Is there anything else you would suggest testing to validate mkdocs before I make the real changes?

[2022-05-19 20:24] alokhom commented on #10287
Yes, i have seen them. These are specialised skills and I am not sure many k8s users who just want to get started have all the ceph skills.

I have personally witnessed a situation when a decision to adopt rook-ceph was being taken by a large enterprise and the big question that was asked was how do you backup the data because there were competitive storage solutions who also provided backup/resto

[2022-05-19 21:06] travisn commented on #10287
For offsite backup/restore of PVs, Velero has worked well for many users. Are you looking for individual PV backup, or to backup/restore the entire Ceph cluster? If it's the entire cluster, that's really where the DR becomes useful with the mirroring.

[2022-05-19 21:31] BlaineEXE opened #10291 "Add design for enabling metrics via CephCluster CR"
It would also be good to add a section started in #10254 on how we can allow users to enable telemetry. With a CephCluster CR setting? How will they opt into the new settings? Or is a CephCluster setting sufficient that we can just automatically opt-in to updates? That's the typical approach for rook, though the pattern doesn't feel right in this case since it would circumvent visibility into what

[2022-05-19 22:53] travisn commented on #10282
Reopening for two follow-up issues:
1. Since updating the publish workflow to ubuntu-20.04, the running is failing because it's an arm64 arch.

[code]
Connecting to the runner:
[code]

2. The release-1.8 build publish is failing, we must need to backport the new docs publishing there as well. For example see the failure [here](https://github.com/rook/rook/actions/runs/2354484680) after a backport

[2022-05-20 09:19] engineering-dotcms commented on #9268
Hi everyone,
I have the same problem: I've created the cluster via helm (version 1.9.2) but when I try to create an ObjectStorage the POD it doesn't startup because of startub probes failed: connection timeout on 8080.

Is there a workaround or something similar?
Regards

[2022-05-20 10:54] suneclausen commented on #9660
I have also experienced this issue (https://github.com/rook/rook/issues/9268) without resolving it. Hope this thread finds something that can make it work.

[2022-05-20 14:44] engineering-dotcms opened #10293 "Startup probes failed on new CephObjectStore"
### Discussed in https://github.com/rook/rook/discussions/10292

<div type='discussions-op-text'>

<sup>Originally posted by **engineering-dotcms** May 20, 2022</sup>
Hi,
I'm trying to create my first CephObjectStore with S3 access based on documentation https://rook.io/docs/rook/v1.9/ceph-object.html. When I create it, the relative pod marked as **rook-ceph-rwg-<object-name>** failed to startup b

[2022-05-20 16:00] davesargrad opened #10294 "Though Ceph and CephFileSystem seem perfectly healthy PVC stays pending"
I've spent a fair amount of time trying to resolve a problem with the CephFileSystem Provisioner.

I also put my findings onto the Ceph Slack channel. At this point this looks like a bug to me.

I've got a simple 2 Node cluster: 1 master, 1 worker. This is a cluster running on 2 Virtual Machines.
I've followed the process to stand up rook and ceph. In fact at this point, I have a fair amount of ex

[2022-05-20 17:12] davesargrad commented on #10294
I do have this cluster dedicated to resolving this problem at this point, so I can help with whatever diagnostics you require.

[2022-05-21 11:20] ClementGautier opened #10295 "Device skipped because it contains a filesystem "ceph_bluestore" even when cleaned properly"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I cleaned my disks after a first unsuccessful setup with sgdisk and dd like it's specified [here](https://rook.github.io/docs/rook/v1.9/ceph-teardown.html#delete-the-data-on-hosts) but I still get the following error from the osd-prepare

**Expected behavior:**
I expect the prepare osd job to pick the

[2022-05-21 11:26] ClementGautier commented on #10295
Ok, my bad, I forgot to partprobe ... nothing to see here 😅

[2022-05-21 11:26] #10295 closed

[2022-05-22 03:06] tahsinrahman commented on #10060
@parth-gr https://rook.io/docs/rook/v1.9/ceph-cluster-crd.html#external-cluster

https://github.com/rook/rook/blob/master/deploy/examples/cluster-external-management.yaml

[2022-05-22 08:22] Ericra95 commented on #8034
How can I authorize a new user to access the specified bucket?
I tried it, but still got 403 error no permission

[code]
s3 bucket prompts 403 error
[code]

[2022-05-22 10:44] Ericra95 commented on #8034
Have you solved this problem? How to set up a new user to have permission to access the OBC bucket?
What command can I use to find the default user of the OBC bucket? I can only find the secret here

[2022-05-22 14:28] alibahramiyan commented on #9121
Zapping the disks and restarting the rook-ceph-operator will fix the issue and osd pod will create

[2022-05-22 20:02] #9909 closed

[2022-05-22 23:57] satoru-takeuchi commented on #10219
I suspect that this problem may be related to bluefs_buffered_io parameter. All my tests were done with disabling this parameter, its the default value in Rook.

[2022-05-23 05:14] Madhu-1 commented on #10294
[code]
You will see the above message when cephcsi is not getting any response from the ceph cluster.

[code]

The ceph cluster not in healthy state, fixing ceph cluster should help here.

[2022-05-23 05:37] Madhu-1 commented on #10270
This is not a supported feature. If you need snapshot functionality please make use of kubernetes volumesnapshots https://github.com/rook/rook/blob/master/Documentation/ceph-csi-snapshot.md.

[2022-05-23 06:08] thotz commented on #8034
@Ericra95 : please don't confuse `user` caps with s3 protocol. AFAIR these caps used to send adminops request to RGW or more like rest interface for `radosgw-admin` commands. IMO the right to provide access for bucket in s3 protocol will via bucket policies

[2022-05-23 06:36] thotz commented on #10287
Wrt RGW IMO multisite replication will be replicating data between two clusters, but k8s resources like `obc` and' cephobjectstoreusers' are not handled correctly. So

[2022-05-23 07:51] satoru-takeuchi commented on #10219
Unfortunately, this problem didn't happen with bluefs_buffered_io=true.

[2022-05-23 07:55] engineering-dotcms commented on #10293
Closing issue because we're discussing into #10292

[2022-05-23 07:55] #10293 closed

[2022-05-23 08:04] bat79a commented on #9614
Hi.

I have deployed on a fresh scaleway k8s cluster (v1.22.9) with 3 nodes the Ceph operator and the Ceph Cluster with helm charts (rook-ceph-v1.9.3).
And I have 2 pods crash collector who starting/deleting again and again (1 pod is always running without trouble)

After an update of the helm chart for disable crash controller, 2 pods rook-ceph-mds are pending with the error : 0/3 nodes are avail

[2022-05-23 08:33] ptmkarvinen commented on #10270
Hey,

Thank you for the clarification. You may close the issue.

Have a nice week! :)

[2022-05-23 08:34] #10270 closed

[2022-05-23 11:58] mrhein commented on #10287
you can combine velero for config with https://github.com/kubernetes-csi/external-snapshotter/releases cronmanaged via https://github.com/backube/snapscheduler and both variants @travisn wrote (cephfs + rdb) the underling network can be paired with cluster mesh if you use something like cilium

[2022-05-23 12:25] mrhein commented on #9614
@travisn manual deployed it after stoping rook operator looks like a bug in the operator itself

[2022-05-23 13:01] gauravsitlani opened #10297 "make build is failing on master with invalid version dependency on libopenstorage/secrets"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
On my new laptop I'm trying to build Rook on Fedora 36 and its failing with the following Error :

[code]

**Expected behavior:**
Build shouldn't fail.

**How to reproduce it (minimal and precise):**
1. Cloned the rook repository
2. Ran `make build --debug` to build rook

**File(s) to submit**:

* Clus

[2022-05-23 13:03] gauravsitlani commented on #10297
@thotz I had noticed you had reported similar issue before on : https://github.com/libopenstorage/secrets/issues/50
Is the current issue similar to that ?

[2022-05-23 13:16] satoru-takeuchi commented on #10219
rook v1.9.3 + k3s + ubuntu22.04 + the following cluster-test.yaml reproduced "bad crc on label" but osd creations succeeded.

[code]

operator log:
[code]

[2022-05-23 13:54] #9938 closed

[2022-05-23 15:23] pvlbrbc opened #10299 "Cluster seems healthy but PVC status stays pending"
**Are you in the right place?**

- I hope so

1. For issues or feature requests, please create an issue in this repository.
3. For general technical and non-technical questions, we are happy to help you on our [Rook.io Slack](https://slack.rook.io/).
- It is quite specific question
5. Did you already search the existing open issues for anything similar? -->

I followed this https://github.com/rook

[2022-05-23 17:07] travisn commented on #10299
The ceph health looks good, it's not immediately obvious the issue. Please check the csi logs to see if there could be more details there. See the [CSI troubleshooting guide](https://rook.io/docs/rook/latest/Troubleshooting/ceph-csi-common-issues/).

[2022-05-23 18:14] travisn commented on #9614
@bat79a That error is saying that you don't have enough system resources for the MDS pods. You can try reducing the cpu/memory requirements in the values.yaml.

Please provide more details. What is the bug after stopping the operator?

[2022-05-23 19:03] mrhein commented on #9614
@travisn you got a "short" video via email

[2022-05-23 20:02] #8940 closed

[2022-05-23 20:14] travisn commented on #10282
For this issue, we won't be able to publish the docs in branches where the docs are not backported. So I suggest after the master branch is fixed, we backport to 1.9, then just disable the docs publishing in 1.8. If there is any further critical doc update for 1.8 or previous releases, we can merge a fix directly to the docs on rook.github.io.

[2022-05-23 20:33] pvlbrbc commented on #10299
Thank you for guide.
It seems I have network issue since only one mon can be connected using curl. I use host networking.

[code]

I will close the issue since this is not bug obviously. But may I ask for one thing? What network issue it could be? Is there some follow up guide?

[2022-05-23 23:09] travisn commented on #10282
The mkdocs dependencies are fixed now, but the docs publish now hits this issue in the [latest build]()https://github.com/rook/rook/runs/6564011559?check_suite_focus=true:
[code]

@galexrt PTAL

[2022-05-24 04:55] Madhu-1 commented on #10299
As you are using hostNetworking it could be some firewall issue. AFAIK we don't have a network debugging section in Rook Doc

[2022-05-24 05:55] thotz commented on #10297
@gauravsitlani please refer https://github.com/rook/rook/issues/6583

[2022-05-24 08:19] pvlbrbc commented on #10299
Thank you for your time. It is not a bug. Closing

[2022-05-24 08:19] #10299 closed

[2022-05-24 11:23] gauravsitlani commented on #10297
@thotz thanks. The issue went away after following : https://github.com/rook/rook/pull/6602#issuecomment-854994236

[2022-05-24 11:23] #10297 closed

[2022-05-24 14:24] davesargrad commented on #10294
@Madhu-1 Thanks for the response.

I do believe that something is not healthy. This is indeed why I wrote the issue. But I am looking for guidance on how to isolate and resolve. At the high level everything is presumably running, yet ceph fails.

I do agree that the Health Warning points to some problem. But as I am not a Ceph expert its hard for me to know where to focus attention.

I do see this

[2022-05-24 15:06] frittentheke commented on #10160
I observed similar issues at random when deploying Ceph 16.2.7 via Ansible inside a Gitlab CI pipeline to a VM:

`ceph-osd -i 4 --mkfs --osd-objectstore=bluestore --osd-uuid de84f0aa-601a-473a-ad0b-7a2d403d0588 --monmap /tmp/monmap`

return code is 250 and STDERR:

[code]

a retry with the exact same command works.

[2022-05-24 17:14] travisn commented on #10294
The key here seems to be that the PGs are not healthy:
[code]

You have two PGs, but likely there are pools with replica 3 that cannot satisfy the PGs. Does `ceph osd pool ls detail` show that pools require replica 3? If so, you will need to add at least one more OSD, or reduce the replication to 2.

[2022-05-24 18:22] djhoese commented on #5676
@mrmassis Did you ever get this to work as you expected? Did the expiration end up working/deleting your objects eventually?

[2022-05-24 18:55] thotz opened #10317 "object: supporting aws sse:s3 in RGW"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Configure RGW to handle `sse:s3` requests from client

**What is use case behind this feature:**
The server side encryption for s3 protocol

**Environment**:

[2022-05-24 18:57] thotz commented on #10317
Design doc posted in https://github.com/rook/rook/pull/10318

[2022-05-24 19:05] thotz opened #10320 "object: supporting service account authencation for RGW with vault"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Enable Service Account authentication for RGW with vault service. The

**What is use case behind this feature:**
It is most way in k8s workload to authenticate application with a service account

**Environment**:
If vault service is running in k8s environment

[2022-05-24 19:06] thotz commented on #10320
design doc for the feature  https://github.com/rook/rook/pull/10319

[2022-05-24 20:02] #9782 closed

[2022-05-24 20:02] #9568 closed

[2022-05-24 20:34] davesargrad commented on #10294
I see.. awesome feedback.. I'll try both!!!

[2022-05-24 20:39] davesargrad commented on #10294
@travisn Hi Travis.. I fed back the output above. The min_size is 2. How should I interpret what I have posted above, based on your guidance?

[2022-05-24 21:07] travisn commented on #10294
Correct, if the replicated size is 3, you need at least 3 OSDs on different hosts (unless you've changed the default to something else like osd, zone, etc). Adding a new OSD should help, or reduce the replica size to 2.

[2022-05-24 21:10] davesargrad commented on #10294
ok.. this will be easy for me to take a shot at fixing.. will post findings shortly.

[2022-05-25 02:03] ericinfra commented on #8034
How can I increase the permissions of a new user of type CephObjectStoreUser so that they can access buckets of type ObjectBucketClaim?

[2022-05-25 06:45] thotz commented on #8034
Using the credentials of OBC, set the bucket policy(something similar to below, not sure what is required)
[code]
aws cli command is `aws s3api put-bucket-policy --bucket <bucketname form obc configmap> --policy file://policy.json`

[2022-05-25 09:52] thotz opened #10322 "object: multisite support for external rgw server"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The user should be able to configure an external RGW server with zone/zonegroup/relam etc

**What is use case behind this feature:**
Mutisite common use-case for RGW server to replica data across different zones. It is only supported for the internal cluster. And Rook assumes the external RGW server bel

[2022-05-25 09:54] thotz commented on #10322
design doc : https://github.com/rook/rook/pull/10323

[2022-05-25 13:56] caffeinism opened #10327 "Deploying multiple OSDs on the same node with replication=1"
Hello! I tried to deploy multiple OSDs on the same node for testing, but the PG was only deployed on one OSD.
My settings are:

my cluster.yml
[code]

and rbd.yaml
[code]

In essence, this problem occurs because the crush rule of replicated_rule selects the host by default.

The following code seems to be related.
https://github.com/rook/rook/blob/1cdcb3746170fe47b635c7067fcb281f7e1e005c/pkg/opera

[2022-05-25 14:22] Yuggupta27 commented on #1507
Yes @nixpanic , the NetworkFence CR will call for `ceph osd blocklist add/rm` commands on the underlying ceph cluster, to blocklist/unblock operations from a particular CIDR range(of Node/s).

[2022-05-25 14:44] caffeinism commented on #10327
`failureDomain: osd` is configured well but replicated_rule is not.

detailed crush map is follow
[code]

[2022-05-25 14:47] travisn commented on #10327
Your pool `blockpool` will only use the CRUSH rule named `blockpool`. The `replicated_rule` will not be used by your pool, that's just a default rule created by ceph that will not be used by pools created by rook.

[2022-05-25 14:52] caffeinism commented on #10327
However, in my case, there was a problem that the number of pgs was increased according to the autoscale logic and did not actually extend to other OSDs, and the problem was solved by fixing this part to `step chooseleaf firstn 0 type osd`.

[2022-05-25 16:40] travisn commented on #10327
You changed that on `replicated_rule`? That shouldn't have affected the PGs for `blockpool`.

[2022-05-25 16:43] caffeinism commented on #10327
yes absolutely sure.

[2022-05-25 17:31] travisn commented on #10294
Ok, it looks correctly configured for a test cluster with a single OSD. You could suppress the health warning about pool replicas if you used the settings in cluster-test.yaml, but that shouldn't be critical.

Note that you could use `failureDomain: osd` on the pool settings in order to have multiple replicas on OSDs on the same node.

There must be something in the csi logs that will show why the

[2022-05-25 20:02] #9933 closed

[2022-05-25 23:09] travisn commented on #9614
@mrhein I was able to access the video. You were showing how you created the crash collector deployments manually? Can you point out here what are you changing in the spec so they will be created?

[2022-05-26 00:12] btobolaski commented on #9544
I'm experiencing this on 1.9.3.

[code]

[2022-05-26 02:12] dimm0 commented on #9349
Same here

[2022-05-26 05:29] caffeinism opened #10331 "Placement for osd-prepare"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
It seems obvious that the placement setting of osd should also work for osd-prepare. But it doesn't seem to be the case now. When a specific placement is specified in the OSD, osd-prepare is not deployed.

[code]

[code]

[code]

[2022-05-26 10:40] M-Gregoire opened #10334 "Single node can't use useOperatorHostNetwork"
* Bug Report

**Deviation from expected behavior:**

I've deployed `rook` (Using Helm) in a k3s single-node cluster and want to be able to mount volumes from outside the cluster. To do so, I've set `useOperatorHostNetwork` to `true` in the operator values (As described [here](https://github.com/rook/rook/issues/4601#issuecomment-570225323)).

I've set only one `mon` as I can't have more than 1 per

[2022-05-26 10:41] Madhu-1 commented on #6830
The feature got added in https://github.com/rook/rook/pull/6875 closing this one as it's a request to support adding the feature. if something is not working as expected we can track it in a different issue.

[2022-05-26 10:41] #6830 closed

[2022-05-26 10:42] Madhu-1 commented on #10334
@M-Gregoire please paste `cluster CR yaml output` and `kubectl get po -nrook-ceph`

[2022-05-26 10:46] Madhu-1 commented on #10334
@M-Gregoire useOperatorHostNetwork is only to run rook operator pod in host networking not to create ceph cluster on host networking. you need to enable host networking when creating the ceph cluster here https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/values.yaml#L126-L129

[2022-05-26 11:01] M-Gregoire commented on #10334
Thanks a lot! That did fixed it immediately and everything works as intended.

Sorry I missed it.

[2022-05-26 11:01] #10334 closed

[2022-05-26 15:04] travisn commented on #10331
The `placement.osd` is expected to be applied to the osd prepare jobs. Perhaps there is some issue with the whitespace in the cluster CR? If you run `kubectl -n rook-ceph get cephcluster -o yaml` do you see the tolerations as expected? As another data point, have you tried applying the tolerations to some other component such as mon or mgr to confirm they are applied?

[2022-05-26 15:20] travisn commented on #9349
@LittleFox94 @dimm0 Had you previously enabled the admission controller before updating to v1.9? Or it was just the upgrade to v1.9 with default operator settings? This sounds like a new issue than the original report of this issue, if you wouldn't mind opening a new issue with the details. Thanks!

[2022-05-26 15:27] caffeinism commented on #10331
Originally, I was using it by setting it to placement/all. However, I changed `all` to `osd` to get rid of mon, which made it impossible to deploy osd-prepare as an issue. However, when using `all`, it worked normally, so I think it was not a problem with cluster CR.

[2022-05-26 17:33] #9275 closed

[2022-05-26 17:38] caffeinism commented on #10331
Aha I forgot to comment on the code as prepareosd! It seems to be resolved. I will close the issue.

[2022-05-26 17:42] #10331 closed

[2022-05-26 20:30] travisn opened #10338 "Remove support for Ceph Octopus in Rook v1.10"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
In the Rook v1.10 release, only the Ceph Pacific and Quincy releases are expected to be supported. The support for Octopus is being removed. This means that before upgrading to Rook v1.10, users will need to first upgrade Ceph if they are still on Octopus (v15).

**What is use case behind this feature:*

[2022-05-26 21:03] grimmthetallest commented on #3197
Also very interested in seeing a release of this operator specifically for use with OKD. @travisn @subhamkrai are OLM changes still a blocker for this issue or will they possibly be resolved soon?

[2022-05-26 22:49] Timoses opened #10340 "Allow osd-prepare to skip scanning certain devices not in filter"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently, it appears that even though as an example `deviceFilter="^sda$"` is set, the `osd-prepare` pods on each node scan all devices. This is very time consuming (especially during debugging).

Before scanning devices, the filters could be applied to rule out devices that need not be scanned.

In my

[2022-05-27 11:57] davesargrad commented on #10294
@travisn

I'll review the logs. Ty for your diligence in helping me to solve this.

[2022-05-27 12:04] davesargrad commented on #10294
CSI diagnostic details per guidance provided [here](https://rook.github.io/docs/rook/v1.9/Troubleshooting/ceph-csi-common-issues/#shared-filesystem-cephfs)
[code]

[2022-05-27 14:59] davesargrad commented on #10294
Ok.. I've rebuilt my k3s cluster. I may have fixed what I did wrong the first time around.

My first test was simply to run [nginx ](https://kubernetes.io/docs/concepts/services-networking/service/)and [curl](https://nikgrozev.com/2020/07/29/debug-container-in-kubernetes/).

Looks health so far (networking seems ok)..
![image](https://user-images.githubusercontent.com/48793689/170725426-ca54da5f-1

[2022-05-27 15:37] davesargrad commented on #10294
![image](https://user-images.githubusercontent.com/48793689/170732294-7f18fa77-d3ff-43ce-91a3-6a11d1b08c62.png)

[2022-05-27 15:41] davesargrad commented on #10294
![image](https://user-images.githubusercontent.com/48793689/170733015-22589b23-ab9e-4a19-b795-993e95a4072f.png)

That will teach me.. My problem was in the establishment of my k3s agent. I had an old IP address that I registered with as the master URL. Silly me.

[2022-05-27 15:42] davesargrad commented on #10294
Ty for the help.

[2022-05-27 22:39] #10013 closed

[2022-05-28 01:12] SriRamanujam opened #10347 "Rook operator erroneously believes node is not in storage spec post-upgrade"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After upgrading my Rook operator from v1.7.4 to v1.8.9, it no longer recognizes one of my worker nodes with attached storage, saying that "it no longer exists in the spec":

[code]
However, it totally still is in the spec. All of my other nodes continue to be recognized with no issues.

**Expected beh

[2022-05-28 02:08] rafaribe commented on #10160
Same is happening to me:

provision [2022-05-28 01:39:04,558][ceph_volume.process][INFO  ] Running command: /usr/bin/chown -R ceph:ceph /dev/sdb
provision [2022-05-28 01:39:04,561][ceph_volume.process][INFO  ] Running command: /usr/bin/ln -s /dev/sdb /var/lib/ceph/osd/ceph-4/block
provision [2022-05-28 01:39:04,564][ceph_volume.process][INFO  ] Running command: /usr/bin/ceph --cluster ceph --name

[2022-05-29 20:02] #8072 closed

[2022-05-30 07:24] superbrothers commented on #9947
This issue was fixed by https://github.com/rook/rook/pull/10274.

[2022-05-30 07:24] #9947 closed

[2022-05-30 23:26] satoru-takeuchi commented on #10160
@rafaribe Could you tell me your `bluefs_buffered_io` configuration ("true" by default). If "true", could you try "bluefs_buffered_io=false"?

[2022-05-30 23:33] satoru-takeuchi commented on #10219
@frittentheke

Have you already open an issue?

[2022-05-30 23:59] satoru-takeuchi commented on #10160
I reported this problem in the following similar issue.
https://tracker.ceph.com/issues/51034#note-12

[2022-05-31 00:00] satoru-takeuchi commented on #9646
I reported this problem in the following similar issue.
https://tracker.ceph.com/issues/51034#note-12

[2022-05-31 11:23] sharmavickram opened #10355 "[ERR] MGR_MODULE_ERROR: Module 'dashboard' has failed: OSError("No socket could be created -- (('10.xx.xx.xx', 8443): [Errno 99] Cannot assign requested addre ss)",)"
I had configured ceph as storage to my cluster, all services are running fine except ceph dashboard.
![image](https://user-images.githubusercontent.com/9397194/171162145-c1d443f7-3b04-4b68-9172-61af8302e8bd.png)

initially it was working i created bucket using ceph dashboard UI but now i am not able to access dashboard.

please help me in fixing this issue.

[2022-05-31 11:39] parth-gr commented on #10355
Hey, Please share the operator logs and rook version,
feels like mgr pod has stopped running, Any specific step you did?

[2022-05-31 11:43] sharmavickram commented on #10355
osd's and mgr's was crashing so i restarted them

[2022-05-31 11:44] sharmavickram commented on #10355
@parth-gr
![image](https://user-images.githubusercontent.com/9397194/171165629-0c10350e-3e88-47a7-8c65-7c7010693eda.png)

[2022-05-31 12:30] parth-gr commented on #10355
Maybe the IP address is wrong with Prometheus and what dashboard except,

Do `ceph config dump` in the toolbox

[2022-05-31 13:52] prazumovsky opened #10356 "Node outage where operator and mgr live causes cephblockpool status "Failure""
**Is this a bug report or feature request?**
* Bug Report

We have a cluster where mgr pod and rook-ceph-operator pod live on the same node, ceph cluster health was HEALTH_OK.

For some external reason this node removed from cluster therefore rook-ceph-operator and mgr have been evicted from it.

After evict both recreated on another node but mgr pod creation was too slow. rook-ceph-operator start

[2022-05-31 17:51] zamnuts opened #10360 "Operator Deletes CephBlockPool CRD Instance, but Pool is Retained in Ceph"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook does not remove pool from Ceph cluster despite successfully deleting the CephBlockPool CRD instance. This leaves residual artifacts in Ceph itself, i.e. the pool and associated crush rule. [RBD Teardown steps in documentation](https://rook.io/docs/rook/v1.9/Storage-Configuration/Block-Storage-RBD/

[2022-05-31 18:11] zamnuts opened #10361 "Enhance Documentation to show `pg_num` and `pgp_num` parameters as part of CephBlockPool resource"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Enhance the documentation to show how to declare `pg_num` and `pgp_num` per pool within the `CephBlockPool` resource at path `spec.parameters`. This can be mentioned at ["Configuring Pools, Setting PG Count"](https://rook.io/docs/rook/v1.9/Storage-Configuration/Advanced/ceph-configuration/#setting-pg-co

[2022-05-31 18:25] travisn commented on #10360
The pool is expected to be deleted in this case. Since you see the message `deleting pool "ceph-block-pool-test"`, the [deletePool()](https://github.com/rook/rook/blob/4ea8cc6224efb0e9c18ffb8a39a6955f32d79a60/pkg/operator/ceph/pool/controller.go#L245-L247) method will be called. The only thing I can guess is that when rook lists the pools with `ceph osd lspools`, it isn't finding the pool. Do you

[2022-05-31 19:32] travisn commented on #10361
@galexrt Looks like you originally created [this topic](https://rook.io/docs/rook/v1.9/Storage-Configuration/Advanced/ceph-configuration/#configuring-pools), want to update that section with the parameters option instead of the toolbox commands? I just wouldn't want to expose these parameters in the main pool.yaml example or other non-advanced docs since PGs are an advanced topic.

[2022-05-31 19:44] zamnuts commented on #10360
launched rook toolbox rook@v1.9.4 (different patch that the original report, i just upgraded from 1.9.3 and was able to reproduce FYI). after creating the new pool, `ceph osd lspools` shows the pool:
[code]

[2022-05-31 20:05] travisn commented on #10360
I was able to repro locally, investigating...

[2022-05-31 20:31] zamnuts commented on #10360
https://github.com/rook/rook/blob/4ea8cc6224efb0e9c18ffb8a39a6955f32d79a60/pkg/operator/ceph/pool/controller.go#L424-L425
shape is different in CLI:
[code]
I'm not sure if this shape change is a ceph v17 thing, or if it is the same in ceph v16.

[2022-05-31 21:58] travisn commented on #10360
Tracked it down with #10362... The operator had a bug where the pool name was blank internally by the time the operator actually searched for the pool to delete, thus it wasn't being deleted.

[2022-06-01 00:52] toshipp commented on #9922
I think this still opens.

[2022-06-01 03:03] deadmandrive opened #10364 "Ceph OSD CrashLoopBackOff After Node Restart"
**Is this a bug report or feature request?**
* Bug Report
Ceph OSD CrashLoopBackOff after worker node restarted. I have 3 osd up and running for a month and there is a schedule update on worker node. After node updated and restarted I found out that some of redis pod (redis cluster) got data corrupted so I check pod in rook-ceph namespace. osd-0 is CrashLoopBackOff.

The one thing is I create rook

[2022-06-01 05:16] sharmavickram commented on #10355
![image](https://user-images.githubusercontent.com/9397194/171332750-1f3f2f4e-59a2-47a5-810e-ebe39caecf0d.png)

[2022-06-01 06:13] parth-gr commented on #10355
Can you try removing this adresses `ceph config rm mgr.a mgr/prometheus/a/server_addr` and `ceph config rm mgr.a mgr/dashboard/a/server_addr` and re-start mgr pod o r operator pod,
And share the mgr logs after it.

And if this doesn't helps try disabling the Prometheus `ceph mgr module disable prometheus`.

[2022-06-01 06:31] parth-gr commented on #10355
Have you tried the above steps,
removing the address and disabling Prometheus?

[2022-06-01 06:37] sharmavickram commented on #10355
![image](https://user-images.githubusercontent.com/9397194/171342740-bd9eebac-b439-4c69-b557-05f47ec2848b.png)

![image](https://user-images.githubusercontent.com/9397194/171342640-8aeca8a3-2b9a-4f26-be08-8392b7c16439.png)

[2022-06-01 06:43] parth-gr commented on #10355
Now re-start the operator and check the health

[2022-06-01 06:45] parth-gr commented on #10355
Is both the mgr pod running on same node,

`Kubectl get pods -nrook-ceph -o describe` and check it,

And can you share the logs of mgr

[2022-06-01 06:55] sharmavickram commented on #10355
![image](https://user-images.githubusercontent.com/9397194/171345617-3d93420e-4d3d-4c7e-96d9-8dfc55c468db.png)

[2022-06-01 07:04] parth-gr commented on #10355
Seems like the IP by which it is creating the socket is not equal to what mgr IP is,
@jmolmo @travisn that make sense?

[2022-06-01 12:44] parth-gr commented on #10355
You cannot change Ip, but you can match it with the right one

[2022-06-01 13:46] spdfnet commented on #9832
@bot remove wontfix

[2022-06-01 13:53] spdfnet commented on #9832
To prove the point that EC support is not configurable.

[2022-06-01 18:30] travisn commented on #10327
Ah, for a single node test deployment, you'll want to use the [cluster-test.yaml](https://github.com/rook/rook/blob/master/deploy/examples/cluster-test.yaml#L58-L67) example. It has an example of configuring the `.mgr` pool with replica 1.

[2022-06-01 18:32] #10360 closed

[2022-06-01 18:46] caffeinism commented on #10327
Is the builtin pool also overwritten by the rook's CephBlockPool?

[2022-06-01 19:30] guimou opened #10370 "Enhance documentation for sharing CephFS volumes across namespaces"
An interesting use case for CephFS volumes is to store shared elements: libraries of applications, documentation, project templates, shared data... Those volumes can be mounted as ReadOnlyMany (ROX) in multiple pods, or even ReadWriteMany (RWX) to create a shared workspace.

However, as PVCs are scoped to a namespace, it's impossible to simply share a PVC-based library between different namespaces

[2022-06-01 19:58] spdfnet commented on #9832
Yes, along with the [plugins](https://docs.ceph.com/en/latest/rados/operations/erasure-code/#table-of-content).

[2022-06-01 20:41] travisn commented on #10370
This is a frequent question for users, how to configure a shared filesystem PVC across namespaces. Since this can be accomplished with a static CephFS PV, we should document how this can be done. I'm thinking this can be a new section in the [filesystem-storage.md](https://rook.github.io/docs/rook/v1.9/Storage-Configuration/Shared-Filesystem-CephFS/filesystem-storage/) topic. @Rakshith-R Could you

[2022-06-01 20:49] travisn commented on #10327
Rook will not configure Ceph's default `.mgr` pool, unless you create a specific `CephBlockPool` CR as in that example I linked.

[2022-06-01 21:33] jfathman opened #10371 "How to confirm RBD PVC encryption is operating?"
Thank you for your excellent open source software.

I am using RBD PVC encryption on rook-ceph v1.9.2 on microk8s v1.23.3-2 running on Debian 10.11 buster cluster nodes.

An app file path based on an encrypted PVC works properly (write/read) for an app running in the cluster.  Good.

The SC runtime config indicates encryption is enabled:

[code]

The PV runtime config similarly indicates encryptio

[2022-06-02 01:07] xu-cheng commented on #9419
I want to add this bug is quite nasty due to the fact that `topology.kubernetes.io/region` and `topology.kubernetes.io/zone` set to the same value is quite common.

Would it make sense to workaround this issue by ignoring `topology.kubernetes.io/region` if it has the same value as `topology.kubernetes.io/zone`?

[2022-06-02 03:09] caffeinism commented on #10327
understand

[2022-06-02 03:10] #10327 closed

[2022-06-02 04:41] SriRamanujam commented on #10347
Yup, that was exactly it! There was a taint left on the node from a recent upgrade. Manually removing that taint got things unstuck.

[2022-06-02 04:41] #10347 closed

[2022-06-02 05:46] Madhu-1 commented on #10370
* create a PVC
* get the PV for the PVC and extract the volumeHandle
* Get the copy of PV and change the name of the PV and change reclaimPolicy to Retain (add not about PV deletion here we need to keep the main PVC until all static PVC's are deleted or change reclaimPolicy of the main PVC to Retain also)
* create more PV with new names
* Create more PVC in different namespaces and point PV in the

[2022-06-02 05:51] Madhu-1 commented on #10371
@jfathman if you exec in the application pod and run `df -h` you will see the mountPoint is pointing to the DeviceMapper path (which is encrypted path) or if you run `lsblk` in rbdplugin pod on the node where app is running you will see below output

[code]

[2022-06-02 06:31] Madhu-1 opened #10372 "CephNFS CSI driver should work with pod network/multus networking"
We support both pod networking and mutlus networking for rbd/cephfs csi (provisioner and daemonset pods).  We also need to support the same for the pod network/multus network also.

cc @travisn @leseb @BlaineEXE @nixpanic @Rakshith-R

[2022-06-02 08:55] subhamkrai opened #10374 "CI: add not used check for python"
Add ci bot to check not used code in python script

[2022-06-02 09:08] caffeinism commented on #10219
Slightly different question, but I'm curious as to why you used the bluefs_buffered_io=false option.
I also turned that option off for performance issues, and I reached this thread with the same issue.

[2022-06-02 12:58] heilerich opened #10375 "Encrypted OSD activation fails in v16.2.9"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After an upgrade from ceph `v16.2.7` to `v16.2.9` OSDs pods start crash looping due to a failing activation init container. After a rollback to 16.2.7 everything works fine again.

**Expected behavior:**
Rook 1.9.4 claims to support all Ceph Pacific versions v16.2.0 and higher

**How to reproduce it (m

[2022-06-02 13:18] satoru-takeuchi commented on #10219
Rook originally keeped this option as default (true). However, we turned this option off as default as a result of hitting this problem in CI and some reports from users.

https://github.com/rook/rook/pull/8185

This problem was reported in Ceph's issue tracker. But it's not fixed yet.
https://tracker.ceph.com/issues/54019

[2022-06-02 13:33] guimou commented on #10370
I followed the procedure and it seems to work well, although there is a small problem when I want to use the shared PVC in readonly mode in a pod (it's a shared library, so I don't want people to mess with it).
Here is what I did:
- I created a PVC in namespace 1, which created a PV (PV-base)
- I created another PV with another name (PV-base-copy) pointing to the same CephFS volume
- In namespace

[2022-06-02 13:50] Madhu-1 commented on #10370
@guimou great :+1: sounds good as you already experimented on this one, @Rakshith-R what do you say?

[2022-06-02 14:58] df-cgdm opened #10377 "OSD prepare is not working with pvc"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD pods are not created

**Expected behavior:**

**How to reproduce it (minimal and precise):**
I create a new cluster using pvc

[**File(s)](url) to submit**:
* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
[cluster.yaml.txt](https://github.com/rook/rook/files/8825049/cl

[2022-06-02 17:22] travisn commented on #9419
@xu-cheng That's a good suggestion. While it won't catch all cases, if this is the common pain point, then we can quickly add that check. Are you interested in opening the PR?

[2022-06-02 17:59] travisn commented on #10375
In my testing of v16.2.9, I also observed the following tests with Rook v1.9.4:
1. When configuring a v16.2.7 cluster **with encryption**, then upgrading to v16.2.9, the OSDs immediately hit the error reported in this issue
2. When configuring a v16.2.7 cluster **without encryption**, then upgrading to v16.2.9, the OSDs were upgraded properly
3. When configuring a new v16.2.9 cluster **with encryp

[2022-06-02 18:01] travisn commented on #10375
Updated the title since it affects all encrypted v16.2.9 clusters, whether new or upgraded.

[2022-06-02 18:21] travisn commented on #10377
The attached osd prepare log shows the device was skipped:
[code]

This is a clean device that has never been used before?

[2022-06-02 18:25] travisn commented on #10364
Can you [add a new OSD](https://rook.github.io/docs/rook/v1.9/Storage-Configuration/Advanced/ceph-osd-mgmt/#add-an-osd)? Then after the cluster health recovers you can remove the bad one.

[2022-06-02 18:37] travisn commented on #10375
#10333 seems to be the fix for this issue

[2022-06-03 04:59] Madhu-1 commented on #10371
@jfathman your application is using cephfs PVC not rbd PVC, you will see like below output in application pod

[code]

[2022-06-03 06:44] df-cgdm commented on #10377
Yes it a fresh one. It's the first time we're trying to deploy ceph on our flash array.

[2022-06-03 07:20] df-cgdm commented on #10377
To be sure I've retry to create a cluster.  Here are the log files of the operator and the two prepare job:
[](url
[rook-ceph-operator-5fbc764f69-7jnrf.log](https://github.com/rook/rook/files/8830332/rook-ceph-operator-5fbc764f69-7jnrf.log)
[rook-ceph-os
[rook-ceph-osd-prepare-huawei-data-12s4dl-52vtd.log](https://github.com/rook/rook/files/8830335/rook-ceph-osd-prepare-huawei-data-12s4dl-52vtd.lo

[2022-06-03 09:32] huanggx-sea commented on #1950
Encounter the same problem after upgrading from rook v1.7.3 to rook v1.8.9.

These pools are automatically created.
[code]

[2022-06-03 15:31] travisn commented on #1950
@huanggx-sea What is your configuration for the object store(s)? Do you have one object store, or multiple? I'm definitely curious on the repro steps since this is not expected, if you have any more details than upgrading.

[2022-06-03 15:38] travisn commented on #10377
It seems the main error is:
[code]

Then the osd creation attempts to roll back, but doesn't do it cleanly and leaves the ceph bluestore info on the disk, and any attempt after that will skip the disk because it appears in use already.

Are these PVCs status, or provisioned dynamically? Can you test [wiping them clean](https://rook.github.io/docs/rook/v1.9/Storage-Configuration/ceph-teardown/#zapp

[2022-06-03 16:47] jfathman commented on #10371
@Madhu-1 Thanks, that clarifies things.

https://github.com/rook/rook/blob/master/Documentation/Storage-Configuration/Ceph-CSI/ceph-csi-drivers.md

https://github.com/rook/rook/issues/7032

https://github.com/ceph/ceph-csi/issues/1563

We are using CephFS because we need RWX with multiple pods on separate nodes accessing the same storage.

If we switch to RBD, do we lose RWX and only have RWO per

[2022-06-04 07:07] df-cgdm commented on #10377
So here is what I've done.
1/ Create a new cluster, get the same error.
2/ stop the operator
3/ load the 2 pvc in a container to wipe the pvc using blkdiscard
4/  restart the operator

The result is similar

Here are the logs
- step 1 operator logs
[rook-ceph-operator-67f7d5c9b6-kdr8m.log](https://github.com/rook/rook/files/8837190/rook-ceph-operator-67f7d5c9b6-kdr8m.log)
- step4 operator logs and

[2022-06-04 11:52] hansbogert opened #10390 "Upgrading to 1.9 fails on admission controller"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Operator does not start correctly after upgrade from 1.8.x to 1.9.4:

[code]

**Expected behavior:**
Expected a working operator after the upgrade to 1.9

**How to reproduce it (minimal and precise):**
Followed the upgrade instructions from 1.7 to 1.8, but skipped **optional** instructions for the admi

[2022-06-06 04:18] Madhu-1 commented on #10371
You might need to wait for https://github.com/ceph/ceph-csi/pull/3158 (cephcsi v3.7.0 release)

RBD supports BlockMode RWX PVC, not the filesystem Mode.

The best option is to use osd encryption as cephcsi doesn't support cephfs encryption yet.

[2022-06-06 05:28] subhamkrai commented on #10390
@hansbogert you can disable admission controller https://github.com/rook/rook/blob/master/deploy/examples/operator.yaml#L563 but it is helpful to debug if you could share some logs
1. rook operator logs
2. secret lists(seems like the admission controller required secret is deleted)
3. kubectl get validatingwebhookconfiguration (in the namespace rook operator is present, looks like it `rook-ceph` o

[2022-06-06 06:57] liwh1111 opened #10391 "Ceph occupies space and is not released"
The capacity of CEPH has been increasing. Although some contents in PVC have been deleted, the capacity of CEPH has not decreased. May I ask how to deal with this?

Some ways to deal with it online:

1. Specify discard parameters when mounting the file system, for example, "mount -t ext4 -o discard device mountpoint".

2. "fstrim -v mountpoint"

Have excuse me what good solution?

[2022-06-06 07:02] Madhu-1 commented on #10391
Try https://rook.io/docs/rook/v1.9/Storage-Configuration/Ceph-CSI/ceph-csi-drivers/#csi-addons-operation to reclaim the space for rbd PVC.

[2022-06-06 07:05] Madhu-1 commented on #10391
discard will have performance issues.  fstrim can be automated with csi-addons-operator.

[2022-06-06 07:10] liwh1111 commented on #10391
Ok, let me see. Thank you very much

[2022-06-06 08:43] clcc2019 opened #10394 "How to add osd startup parameter bluefs-shared-alloc-size"
<img width="375" alt="image" src="https://user-images.githubusercontent.com/46099295/172127192-a7fabdd8-e508-4bb0-8e42-618f1094ab6d.png">

How to add osd startup parameter bluefs-shared-alloc-size=4096？

[2022-06-06 08:49] bmmpp opened #10395 "persistentvolume-controller waiting for a volume to be created, either by external provisioner "rook-ceph.cephfs.csi.ceph.com" or manually created by system administrator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
cephfs pvc pending

**Expected behavior:**
cehpfs pvc not pending

**How to reproduce it (minimal and precise):**

just refer to official doc   https://rook.io/docs/rook/v1.9/Getting-Started/quickstart/

1. git clone ...
2. cd   rook/deploy/examples/csi/cephfs
3. ...
4. kubectl apply  -f filesystem.yam

[2022-06-06 08:55] Madhu-1 commented on #10395
@bmmpp i dont see CSI pods created. can you please provide Rook operator pod logs.

[2022-06-06 09:23] bmmpp commented on #10395
yes,  There seems to be an error

Name:         rook-ceph-operator-b5c96c99b-s9sz2
Namespace:    rook-ceph
Priority:     0
Node:         k8s-node2/192.168.11.113
Start Time:   Wed, 01 Jun 2022 03:57:29 -0400
Labels:       app=rook-ceph-operator
              pod-template-hash=b5c96c99b
Annotations:  cni.projectcalico.org/containerID: 375b205ae26595f225e3524be7059c4fbeb5c79f3e588529bbfd40af8ccaeb5f

[2022-06-06 09:25] Madhu-1 commented on #10395
@bmmpp can you please provide rook operator logs from `kubectl logs`?

[2022-06-06 09:43] bmmpp commented on #10395
use command `systemctl statsus kubectl` ?  I don't know how to get that logs...
below is use command  `journalctl -u kubelet `  logs
6月 06 03:42:31 k8s-master kubelet[1044]: I0606 03:42:31.448218    1044 kubelet_resources.go:45] "Allocatable" allocatable=map[cpu:{i:{value:4 scale:0} d:{Dec:>
6月 06 03:42:31 k8s-master kubelet[1044]: I0606 03:42:31.448315    1044 kubelet_resources.go:45] "Allocatabl

[2022-06-06 09:47] Madhu-1 commented on #10395
`kubectl logs  -l=app=rook-ceph-operator -nrook-ceph --tail=-1` run this command and paste log here?

[2022-06-06 09:47] bmmpp commented on #10395
2022-06-06 09:12:53.148409 I | ceph-csi: successfully created csi config map "rook-ceph-csi-config"
2022-06-06 09:12:53.151048 I | op-k8sutil: ROOK_CSI_ENABLE_RBD="true" (configmap)
2022-06-06 09:12:53.151063 I | op-k8sutil: ROOK_CSI_ENABLE_CEPHFS="true" (configmap)
2022-06-06 09:12:53.151067 I | op-k8sutil: ROOK_CSI_ALLOW_UNSUPPORTED_VERSION="false" (configmap)
2022-06-06 09:12:53.151070 I | op-k

[2022-06-06 09:51] Madhu-1 commented on #10395
looks like you are using an older version of cephcsi (v3.3.0) newer version is `v3.6.1`, if you still want to use `v3.3.0` run below command.

[code]

Now, wait for CSI pods to come up, delete and recreate the PVC again.

[2022-06-06 09:52] Madhu-1 commented on #10395
The above is still valid but looks like you are using some older Rook release that expects cephcsi to be v3.3.0

[2022-06-06 13:37] humblec opened #10398 "accomodate changes from `node-role.kubernetes.io/master` to `node-role.kubernetes.io/control-plane`"
From kube v1.24 onwards, Kubeadm applies a "node-role" label to its control plane Nodes. Currently this label key is `node-role.kubernetes.io/master` which is renamed to` node-role.kubernetes.io/control-plane`. Kubeadm also uses the same "node-role" as key for a taint it applies on control plane Nodes. This taint key should also be renamed to "node-role.kubernetes.io/control-plane".
Refer #https:/

[2022-06-06 15:55] jfathman commented on #10371
@Madhu-1 Thanks for your assistance.  Very helpful.

[2022-06-06 15:55] #10371 closed

[2022-06-06 16:37] travisn commented on #10398
Sounds good to rename these example labels, some others were already previously updated, but these were missed. @humblec Are you planning to open the PR?

[2022-06-06 18:13] travisn commented on #10394
You can either use the [ceph.conf overrides](https://rook.github.io/docs/rook/v1.9/Storage-Configuration/Advanced/ceph-configuration/#custom-cephconf-settings) or set mon config store options. There is no way to customize the command line parameters for the osd pod without a code change. Please confirm if the overrides work for you.

[2022-06-06 18:31] travisn commented on #10377
In this environment, it seems that the osd is just failing to initialize.
@df-cgdm If you are configuring an encrypted cluster, it could be related to #10375.

@guits Any ideas what causes error 250 from ceph-volume?

From the operator log:
[code]

The osd prepare logs don't look useful since the osd init is attempting to config for the second time and then just failing with
[code]

[2022-06-06 19:55] guits commented on #10377
@travisn the rc 250 is returned by `ceph-osd`, not `ceph-volume`

that being said, there could be multiple reasons for `ceph-osd` to return 250: can't acquire lock on device, bluestore issue, ...

could it be related to https://tracker.ceph.com/issues/54019 ?

[2022-06-06 20:02] #9256 closed

[2022-06-06 20:36] travisn commented on #10377
@guits Thanks for the pointer!
@df-cgdm According to that linked ceph tracker, can you create the OSDs if you add the following setting to the [ceph.conf overrides](https://rook.github.io/docs/rook/v1.9/Storage-Configuration/Advanced/ceph-configuration/#custom-cephconf-settings)?
[code]

[2022-06-07 03:07] humblec commented on #10398
Sure, I can open a PR @travisn

[2022-06-07 05:18] Madhu-1 opened #10402 "Report More details about CSI in telemetry"
reporting sidecar versions are also useful.

rook/usage/storage-class/count/rbd
rook/usage/storage-class/count/cephfs
rook/usage/storage-class/count/nfs
rook/usage/storage-class/count/bucket

This will also take rados namespace and subvolumegroup into consideration?

The above metrics are per ceph cluster or consolidated output of all clusters.

rook/node/count/with-csi-cephfs-plugin - Number of n

[2022-06-07 05:26] bmmpp commented on #10395
Yes, thanks, I would like to use ceph csi newer vision v3.6.1 to deploy, but same error below

 "ailed to reconcile failed configure ceph csi: invalid csi version: ceph CSI image needs to be at least version "v3.3.0""

my step：
1. update operator.yaml "ROOK_CSI_CEPH_IMAGE"  to `ROOK_CSI_CEPH_IMAGE="quay.io/cephcsi/cephcsi:v3.6.1"`
  then `kubectl apply -f  operator.yaml`

Is there anything else I

[2022-06-07 05:27] Madhu-1 commented on #10395
`kubectl patch cm rook-ceph-operator-config -nrook-ceph -p $'data:\n "ROOK_CSI_ALLOW_UNSUPPORTED_VERSION": "true"'
`
you need to make this change and let Rook operator create CSI pods.

[2022-06-07 06:39] bmmpp commented on #10395
Yes, Thans a lot， it seems working now

[2022-06-07 06:57] yuvalif commented on #9757
cannot reproduce anymore

[2022-06-07 06:57] #9757 closed

[2022-06-07 07:05] Madhu-1 commented on #10395
Closing this one as its working fine.

[2022-06-07 07:05] #10395 closed

[2022-06-07 07:13] df-cgdm commented on #10377
I had the same result

But I'm not sure to have well configured. I've created the following config map before creating the cluster CRD. Is it correct?
[code]

Here are the logs:
[rook-ceph-operator-6864b469c9-xqgnv.log](https://github.com/rook/rook/files/8850910/rook-ceph-operator-6864b469c9-xqgnv.log)
[rook-ceph-osd-prepare-huawei-data-1bj9dl-7rt2s.log](https://github.com/rook/rook/files/8850911/

[2022-06-07 07:31] guits commented on #10377
I'm asking out of ignorance (I'm not sure whether it makes a difference), but shouldn't it be in the `[osd]` section?

[code]

[2022-06-07 08:09] oaudry opened #10403 "kvm vault configuration fail"
* Bug Report
kms configuration for s3 is not working

**Deviation from expected behavior:**

Configuration :

[code]
logs :

[code]

**Expected behavior:**

SSE-KMS backend should be vault and not barbican

**How to reproduce it (minimal and precise):**

fill CephCluster with  the provided security config

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if

[2022-06-07 08:12] thotz commented on #10403
Have configured with `cephobjectstore` with vault details, https://rook.io/docs/rook/v1.9/CRDs/Object-Storage/ceph-object-store-crd/#security-settings

[2022-06-07 08:18] oaudry commented on #10403
oh ... crap. Sorry. Let me check this.

[2022-06-07 08:34] oaudry commented on #10403
ok. That's correct. Sorry for the noise.

[2022-06-07 08:34] #10403 closed

[2022-06-07 10:35] Antiarchitect opened #10406 "1.9 Rook upgrade. Permission denied"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Formerly (1.8.9) my initContainer create directory on persistent volume well:

[code]

After upgrade to 1.9.x:

[code]

**Expected behavior:**

Note that the image sets USER to non-root.

Directory is created without permission problems.

Directory is created sussessfully

**How to reproduce it (minima

[2022-06-07 11:19] Madhu-1 commented on #10406
@Antiarchitect can you specify `SecurityContext` in the pod yaml and check this again?

[2022-06-07 12:54] Antiarchitect commented on #10406
What `SecurityContext` do you mean exactly? `runAsNonRoot` or it does not matter?

[2022-06-07 13:09] df-cgdm commented on #10377
I've tried but it doesn't change the result

[2022-06-07 13:36] Madhu-1 commented on #10406
Am able to create pod and use it as non root user

[code]
[code]

[2022-06-07 13:45] #10140 closed

[2022-06-07 13:53] Antiarchitect commented on #10406
I bet we use grafana https://github.com/grafana/grafana/blob/main/Dockerfile as the base image. So any official grafana image e.g. grafana/grafana:8.5.4

[2022-06-07 13:55] Madhu-1 commented on #10406
without securityContext it fails for me with security context it works fine. can you please try and let me know

[2022-06-07 15:12] Antiarchitect commented on #10406
Will try later. Do not want to disturb my team at work time. Could you try on 1.8.9. and tell if it work in both ways or with SecurityContext only?

[2022-06-07 15:39] Madhu-1 commented on #10406
You can try like below

[code]

[2022-06-07 15:39] Madhu-1 commented on #10406
I think its a change in cephcsi 3.6.0 which is present in 1.9 not in 1.8 i can test it and confirm tomorrow.

[2022-06-07 16:12] travisn commented on #10377
@df-cgdm The syntax looks correct. If you created the configmap before creating the CephCluster CR (cluster.yaml), it would be picked up. So it seems likely there is some other issue in the environment, but unfortunately not sure what.

[2022-06-07 16:21] zerols commented on #966
Is this possible ?   i found some related, he changed cluster.yaml
network:
  hostNetwork: true
but i not found this key in cluster.yaml

[2022-06-07 16:29] travisn commented on #966
@zerols A while ago the setting for host networking changed to:
[code]

And with host networking, this is most commonly the way cephfs can be exposed outside the cluster. Other network solutions may be possible now as well such as multus.

[2022-06-07 20:21] hansbogert commented on #10390
Sure but the problem is that this was completely unexpected during the upgrade from 1.8 -> 1.9

As usual with these things, the logs are volatile and once I fixed it with the workaround, I can no longer  retrieve the logs. I should invest in some fluentd magic in the foreseeable future.

I can confirm it was really there.

My situation probably already deviated heavily from the time where the erro

[2022-06-08 04:37] zerols commented on #966
i had change cluster.yaml and apply, but pod mon don't work, maybe because of i had install kube-multus-ds and whereabouts, i'm not sure is there  connection between.
[code]
![image](https://user-images.githubusercontent.com/35661759/172531744-ef78e90e-e9aa-4cf1-8013-b0a3a99498b4.png)
pod logs:
[code]
info ns rook-ceph
[code]

[2022-06-08 04:41] Madhu-1 commented on #10402
Currently we don't do it, we do it only for cephcsi image. we have two options to get the sidecar version

* We can do the same way we do for cephcsi pod -> start a job and run `cmd --version` and get the version
* All sidecar contains will have the version in the logs we can just read contains logs and exact it.

For radosnamespace and subvolumegroup we will have new storageclass which will point

[2022-06-08 05:27] subhamkrai commented on #10390
@hansbogert good to hear it worked after disabling, I'll keep open for a week or two if I get some time to reproduce.

[2022-06-08 06:27] dinghui40 commented on #9782
I also encountered the same problem, I found that the mount directory permissions caused by the problem, my solution is.

![d75c38524eeefc831768da71832cfef](https://user-images.githubusercontent.com/102201557/172546005-d04f46eb-ea65-4940-be71-db6a1403b90e.png)
![ff79f94cedf30cd1dcc1e9a02fcc935](https://user-images.githubusercontent.com/102201557/172546024-aa63fb10-c776-451c-81bd-de3f5f69d5e4.png)

[2022-06-08 06:28] #10073 closed

[2022-06-08 06:59] guits commented on #10377
[rook-ceph-operator-6864b469c9-xqgnv.log](https://github.com/rook/rook/files/8850910/rook-ceph-operator-6864b469c9-xqgnv.log)
[rook-ceph-osd-prepare-huawei-data-1bj9dl-7rt2s.log](https://github.com/rook/rook/files/8850911/rook-ceph-osd-prepare-huawei-data-1bj9dl-7rt2s.log)
[rook-ceph-osd-prepare-huawei-data-052vtf-77rm9.log](https://github.com/rook/rook/files/8850912/rook-ceph-osd-prepare-huawei-d

[2022-06-08 07:41] hansbogert commented on #10390
FTR, I did not disable it, I ran the **optional** upgrade instructions for the admission controller in the upgrade instructions of 1.7 -> 1.8.

[2022-06-08 07:45] subhamkrai commented on #10390
oh you mean this optional step https://rook.io/docs/rook/v1.8/ceph-upgrade.html#admission-controller

[2022-06-08 08:05] Antiarchitect commented on #10406
@Madhu-1 Please do if you can. Looks like some sort of regression.

[2022-06-08 09:34] Madhu-1 commented on #10406
[code]

This pod yaml which uses the non-root user works with Rook 1.8 and 1.9

[2022-06-08 09:58] Antiarchitect commented on #10406
I don't see you create directory inside mounted pv from within the container

[2022-06-08 09:59] Madhu-1 commented on #10406
[code]

[2022-06-08 10:11] simonebracaloni commented on #10110
We have a very similar issue here. The ceph cluster is only working for a few minutes that it comes the problem wit the monitors.
Where you able to get it solved?

**Environment:**

- OS : Linux 5.15.43-flatcar
- Kernel : 5.15.43-flatcar
- Cloud provider or hardware configuration: x86_64 Intel(R) Core(TM) i7-10700 CPU @ 2.90GHz GenuineIntel
- Rook version: 1.9.4
- Storage backend version :
- Kuber

[2022-06-08 10:58] hejiwen opened #10410 "how to acess cluster deployed by rook from external network?"
I deploy a cluster by rook and export mon‘s port， then replace the ceph.conf mon ip with the host's ip and export port，and copy the file to client node which not in the k8s cluster,   run ceph -s，but it doesn't work。

I use nc to test mon ip and port，it works fine，can't you give me some advice to deploy a cluster ，I can acess the cluster by client node which not in the k8s cluster？

[2022-06-08 14:25] bmmpp opened #10413 "pvc not found"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
when cephfs deploymen successfully,  used cephfs Deploy mysql8, but mysql pod always pending, mysql pod error log below
[code]
mysql.yaml below

[code]
**Expected behavior:**
pvc used by  mysql app,  mysql pod running

**How to reproduce it (minimal and precise):**

[code]

**File(s) to submit**:
* Clu

[2022-06-08 14:27] thotz opened #10414 "RGW mulitsite: add information about Endpoint details in zone group in realm secret"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently, users need to run radosgw-admin commands to fetch details endpoint for realm pull. instead, encode it to realm secret  or provide a configmap containing endpoints part of master zonegroup

**What is use case behind this feature:**
Make

**Environment**:

Multicluster environments

[2022-06-08 14:30] thotz opened #10415 "RGW multisite: delete pools created by zones"
**Is this a bug report or feature request?**
* Feature request

**Deviation from expected behavior:**
Pools created while zone creation is not deleted when zone is removed

**Expected behavior:**
Pools created by zones, need to remove if zone is deleted

**How to reproduce it (minimal and precise):**

creates zone and delete zones
**File(s) to submit**:

* Cluster CR (custom resource), typically c

[2022-06-08 14:33] thotz opened #10416 "RGW multisite: convert exisitng single site rgw server into multisite"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
converting single site rgw to multisite

**What is use case behind this feature:**
If the zone is not configured then the ceph object store will be created with realm/zone/zone group  ceph object's store name. Later if user needs to convert the single multisite, there are no specific steps for that via

[2022-06-08 15:08] travisn commented on #966
@zerols Applying the network settings is only expected to work in new clusters. Updating an existing cluster with different network settings isn't generally possible.

[2022-06-08 15:11] bmmpp commented on #10413
Thanks,  pvc used mysql namespace  pod running. Thanks a  lot !

[2022-06-08 15:17] #10413 closed

[2022-06-08 16:26] BlaineEXE commented on #10414
This seems like it is a potential implementation detail taken from https://github.com/rook/rook/pull/10323. Can we close this for now, and open it again if this implementation is the one we choose?

[2022-06-08 20:02] #9958 closed

[2022-06-08 20:02] #9543 closed

[2022-06-08 20:37] travisn commented on #10377
@guits Since the osd prepare failed, the osd daemon is not started, so I don't expect there would be logs in that case from the osd daemons.

[2022-06-08 21:22] guits commented on #10377
@travisn what is failing here is a `ceph-osd` command, so I was thinking it might print its error to a log file.
[code]

[2022-06-08 22:54] travisn commented on #10377
The `ceph-osd --mkfs` command runs in the osd prepare pod, so there may be more details in that log, but looks like the job is failing and being restarted (and resulting in a different error) before we can capture the original log.
@df-cgdm Could you try capturing the osd prepare log immediately upon first failure? You might only have a few seconds window to capture it though.

[2022-06-08 23:17] #10375 closed

[2022-06-09 03:57] microyahoo commented on #1950
@travisn I have encounter the same problem like follows. The `default.rgw.log` pool's pg are all in unknown state.
[code]
[code]

[2022-06-09 04:32] microyahoo commented on #1950
It cannot be reproduced 100%, about once every ten times.

[2022-06-09 06:38] hejiwen commented on #10410
thanks for you reply，i have deployed a cluster by host networking，and can access from external network。
  network:
    provider: host

I have 2 NIC and want to  used for public and network sperately for osd daemon ，how can I config with host networking  like multus as follows to assign IP  for public and network?

  network:
    provider: multus
    selectors:
      public: rook-ceph/rook-public-n

[2022-06-09 07:24] leseb commented on #9958
Actually this was fixed, the IBM KP instance and its credentials were gone so we created new ones and the CI passed again.

[2022-06-09 07:25] microyahoo commented on #1950
//reopen

[2022-06-09 10:02] df-cgdm commented on #10377
@travisn it was tricky but I've managed to capture the first osd prepare log.
Here it is:
[rook-ceph-osd-prepare-huawei-data-1pxmqd-7958g.log](https://github.com/rook/rook/files/8869276/rook-ceph-osd-prepare-huawei-data-1pxmqd-7958g.log)

[2022-06-09 11:21] parth-gr commented on #10340
@Timoses can you provide logs(osd-pepare pod), where you saw it's scanning for all devices even after the device filter is added.

[2022-06-09 13:45] nixpanic commented on #10372
On Wed, Jun 01, 2022 at 11:31:19PM -0700, Madhu Rajanna wrote:

Is there an issue reported in kubernetes-csi/csi-driver-nfs for this?

[2022-06-09 14:00] lugg1 opened #10427 "DOC missing for SubVolumeGroup in external cluster"
* Bug Report

**Bug Report**
Missing documentation for [subvolumegroup (PR 9694)](https://github.com/rook/rook/pull/9694) to handle in [external cluster](https://rook.io/docs/rook/v1.8/ceph-cluster-crd.html#external-cluster)

[2022-06-09 14:37] humblec opened #10428 "Remove unwanted attacher sidecar for CephFS CSI provisioner"
CephFS CSI driver dont have/advertise controller publish/unpublish capabilities, thus dont need attacher sidecar for its operations.
Also this removal take care of the burden on unncessary operation (round-trip) in the preparation of a volume for a container, and requires CSI Drivers to deploy an unnecessary sidecar container (external-attacher).

Some of the Advantags:

    ) One less Container i

[2022-06-09 14:56] humblec commented on #10428
CC @yati1998

[2022-06-09 15:58] frittentheke commented on #10219
No, but I will contribute to https://tracker.ceph.com/issues/54019 which is apparently tracking this.

[2022-06-09 16:19] BlaineEXE commented on #10291
Notes:
- users don't just opt into telemetry, they also opt into a license
- similarly, telemetry and license may be changed on an update
- docs should note if Rook auto agrees, and should link to telemetry docs and license

Possible manifest spec:
[code]

[2022-06-09 18:02] travisn commented on #1950
Interesting that you are just seeing this issue after it was first reported four years ago. It does look like the exact symptoms, so will reopen it. I am guessing the rgw daemon is causing those default pools to be created even though it's not configured to create them.
[code]

@thotz Do you know what might be creating these pools in this rare case?

[2022-06-09 20:19] travisn commented on #10427
@lugg1 Are you seeing specific issues with the subvolume groups in the external cluster, or it's just not clear how to configure it?

The [external cluster documentation]((https://rook.io/docs/rook/v1.9/CRDs/ceph-cluster-crd/#external-cluster)) is intended to be refactored to its own doc, and expanded upon. Thanks for the feedback!

[2022-06-09 20:35] travisn commented on #10410
@hejiwen Does this topic on the [OSD Dedicated Network](https://rook.github.io/docs/rook/v1.9/Storage-Configuration/Advanced/ceph-configuration/#osd-dedicated-network) answer your question?

[2022-06-10 00:01] kfox1111 opened #10432 "MKNOD is missing in PSP in 1.7.11 helm chart"
MKNOD permission on the psp is missing from the 1.17.11 chart. Adding it manually allowed the upgrade to finish then I was able to helm upgrade ok to 1.8.9 from there without needing further tweaks.

[2022-06-10 01:41] fengjiankui121 commented on #10237
@travisn
1. right
2. the failure is that the previous operator still exists, causing the newly created operator to fail to be created successfully.

[2022-06-10 02:27] zhucan opened #10433 "Network mode can be set separately for cephcluster and rgw?"

[2022-06-10 02:27] zhucan commented on #10433
https://github.com/rook/rook/discussions/10397

[2022-06-10 03:16] fengjiankui121 opened #10434 "Changes in config.StoreConfig.DatabaseSizeMB lead to restart of osd with device.storeConfig.DatabaseSizeMB set"
The envs in the deployment of osd contain config.StoreConfig.DatabaseSizeMB, and the change of config.StoreConfig.DatabaseSizeMB will cause the restart of osd.

The relevant code is as follows：rook\pkg\operator\ceph\cluster\osd\envs.go

func (c *Cluster) getConfigEnvVars(osdProps osdProperties, dataDir string) []v1.EnvVar {
.....

	if osdProps.storeConfig.DatabaseSizeMB != 0 {
		envVars = append(e

[2022-06-10 04:07] lugg1 commented on #10427
It is not clear how to use the subvolume groups of ceph filesystem in the storageclass of a external cluster.

[2022-06-10 04:20] hejiwen commented on #10410
@travisn Thank you very much， this topic solves my problem.

[2022-06-10 08:08] hejiwen commented on #10410
@travisn  I have a question about mon:

I use host networking and osd dedicated network solution to deply a cluster， it works fine， but I found that the mon‘s public addr differ from osd’s public network,  as follows,  how can I config to make sure mon's public is same with osd's public?

[global]
fsid                = 8d1cd0b7-7c8d-440b-af57-0ab8abb13b74
mon initial members = a b c
mon host

[2022-06-10 09:43] hackaholic opened #10435 "ceph-csi-detect-version pod not following node affinity, getting schedule in other node"
**Is this a bug report or feature request?**
* Bug Report
ceph-csi-detect-version pod not following node affinity, getting schedule in other node

**Deviation from expected behavior:**
ceph-csi-detect-version pod not following node affinity, getting schedule in other node

**Expected behavior:**
Rook-csi-detect version pod should respect node affinity rule applied in operator.yaml

**How to reprod

[2022-06-10 09:46] hackaholic commented on #10435
What i have observed only toleration policy is getting applied for rook-ceph-csi-detect-version pod
<pre>
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2022-06-10T09:05:42Z"
  generateName: rook-ceph-csi-detect-version-
  labels:
    app: rook-ceph-csi-detect-version
    controller-uid: af80d1a5-6706-4e8a-b9f9-aa61f7c79fe5
    job-name: rook-ceph-csi-detect-version
    rook-version: v1.

[2022-06-10 14:35] travisn commented on #10410
With host networking, rook uses the host ips for the mon endpoints. This won't be configurable from the ceph.conf overrides. The mons are treated differently than other daemons. See the [Ceph Network guide](https://docs.ceph.com/en/latest/rados/configuration/network-config-ref/) for more details.

[2022-06-10 14:47] travisn commented on #10433
@zhucan Please open an issue that includes the template for the feature request that describes the scenario and the repro steps. Even if the discussion is in #10397, it really helps to have the summary in the issue. Thanks!

[2022-06-10 14:47] #10433 closed

[2022-06-10 14:57] travisn commented on #9961
Reopening after further discussion in #9960.

From [this comment](https://github.com/rook/rook/discussions/9960#discussioncomment-2648277):

The operator was restarted before the reconcile of the mon failover was completed, and the mon canary chose a different node after the operator restart. The repro steps aren't going to be hit in production, but I could imagine an operator restart for some oth

[2022-06-10 15:38] travisn commented on #10434
Correct, any change to the OSD pod spec will lead to a restart. If you change that value, why would you not expect the OSD to restart?

[2022-06-10 15:46] kfox1111 commented on #10432
To the list here:
https://github.com/rook/rook/blob/release-1.7/cluster/charts/rook-ceph/templates/psp.yaml#L25

[2022-06-10 20:02] #9971 closed

[2022-06-11 07:29] Timoses commented on #10340
@parth-gr Difficult, unfortunately. I decided not to go with rook/ceph as it's too much overhead on the RPi cluster. If I break my cluster I can take a look into it before disaster recovery ; ).

[2022-06-12 19:30] ittrainingdotpro opened #10437 "deleted the mgr deployment and its not re-created"
yes

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I've deleted the rook-ceph-mgr deployment but the operator doesnt recreate it.
**Expected behavior:**
a new deployment with the mgr is created

**How to reproduce it (minimal and precise):**

kubectl -n rook-ceph delete deployment rook-ceph-mgr

**File(s) to submit**:

* Cluster CR (custom resourc

[2022-06-12 20:03] #9996 closed

[2022-06-12 20:03] #9987 closed

[2022-06-13 02:09] hejiwen commented on #10410
thank you very much。

with multus networking， the cluster's mon ip also bind to manager NIC(eth0), can you give me some tips to use public NIC(net1)。

[root@rook-ceph-mon-b-57dd9786f7-h7ktk ceph]# netstat -tlnp
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 172.10.219.96:3300      0.0.0

[2022-06-13 02:26] fengjiankui121 commented on #10434
@travisn
For the osd with device.storeConfig.DatabaseSizeMB set, the ROOK_OSD_DATABASE_SIZE in the env of the osd pod is config.storeConfig.DatabaseSizeMB

As shown below, the actual databaseSizeMB of osd is 2048, while the ROOK_OSD_DATABASE_SIZE in env is 1024:
    storage:
      config:
        databaseSizeMB: "1024"
        metadataDevice: ""
      nodes:
      - config: null
        devices:

[2022-06-13 06:56] thotz commented on #1950
AFAIR radosgw-admin cli creates these pools if you especially the zone/zonegroup related commands to point `default` zone/zonegroup, I don't exactly remember how/when these creations get triggers, but my guess is if there is a zone/zone group but master zone/zonegroup is not configured then rgw sets those to `default` or period commit performed without setting master zone/zonegroup

[2022-06-13 08:27] leseb commented on #10377
The `is not a valid LUKS device` is a bit misleading but it simply indicates that the device is not encrypted. So it's not a failure.

[2022-06-13 08:37] guits commented on #10377
No. Indeed, unfortunately, I don't see anything that can help here.
Just like that, it's hard to help.

Not sure if you can rerun the command `/usr/bin/ceph-osd --cluster ceph --osd-objectstore bluestore --mkfs -i 1 --monmap /var/lib/ceph/osd/ceph-1/activate.monmap --keyfile - --osd-data /var/lib/ceph/osd/ceph-1/ --osd-uuid d1def179-da8d-48b1-bd46-7127bdcdf249 --setuser ceph --setgroup ceph` 'manu

[2022-06-13 13:18] parth-gr commented on #10427
@lugg1 as per the commit what we have know is ``` If the present cluster CephCluster is external, the controller
(cephFilesystemSubVolumeGroup) won't handle creation nor deletion of sub-volume groups.
It just assumes that the given name is correct and the controller goes ahead with the
ceph-csi configuration. ```

So we need to create and delete it manually, like for example: `ceph fs subvolumegro

[2022-06-13 13:23] #10437 closed

[2022-06-13 23:32] jsnouffer commented on #10178
I am also experiencing this issue with a new rook-ceph install on a fresh k3s cluster. I have also tried tearing down the cluster using the automated cleanupPolicy, mentioned [here](https://github.com/rook/rook/blob/d3e7a17db99df9cd027584dd04a99d6d273c7b63/deploy/charts/rook-ceph-cluster/values.yaml#L160), and verified that /var/lib/rook is removed on each node, but the problem persists.

I'm not

[2022-06-14 04:21] yashg-altair opened #10441 "Rook-ceph cluster OSD's and Mgr pods are failing after restoration"
The requirement is to have a Backup setup by taking backup of whole AKS cluster and restoring it to another azure AKS cluster.
I used velero to backup all the K8's resources even CRD's to azure storage and then tried to restore it on another AKS cluster.
The restoration was successful as there were no errors reported but rook-ceph cluster OSD's were failing with **Init:CrashLoopBackOff** error and

[2022-06-14 04:37] Madhu-1 commented on #10435
@hackaholic what version of Rook is used?

[2022-06-14 04:45] Madhu-1 commented on #10435
If you are using Rook 1.6.5 it supports only toleration, not the affinity. https://github.com/rook/rook/blob/2c0d8f5dab09729ffc023a31005720c407559036/pkg/operator/ceph/csi/spec.go#L721-L726

[2022-06-14 05:33] Madhu-1 commented on #10427
Okay, looks like the issue doesn't capture details. This is a request on how to consume the clusterID generated when subvolumegroup and RadosNamespace are created. i think we need two trackers one for external cluster documentation and another one for consumption of subvolumegroup and radosnamespace in storageclasses.

[2022-06-14 06:11] l0nax opened #10443 "OSD gets killed on devicehealth scraping"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

The SMART data gets scraped.

**How to reproduce it (minimal and precise):**

The OSD gets restarted as soon as the devicehealth is scraped, e.g., by executing `ceph device scrape-daemon-health-metrics osd.2`.

The OSD container gets restarted by kubernetes because the liveness

[2022-06-14 08:50] Rakshith-R commented on #10435
this is fixed from rook v1.8.0+
https://github.com/rook/rook/pull/8965
https://github.com/rook/rook/commit/c1ef189b9199d57649cf47bcb5fc7d747ef13f9e

[2022-06-14 09:48] fmount commented on #10410
Hi @hejiwen,
in my understanding multus has no support for kubernetes Service, hence you can't bind the daemon to the rook-public-nw attachment definition.
Not sure @travisn can help pointing to a workaround or a known way to do that, but afaik it's not possible.

[2022-06-14 14:28] jsnouffer commented on #10178
To follow-up on my issue. I was able to resolve. I saw the following line when looking through journalctl:
`Memory cgroup out of memory: Kill process 90087 (cryptsetup)...`.

I resolved the issue by temporarily removing resource limits for rook-ceph-operator and cephcluster mgr, mon, osd, prepareosd.

[2022-06-14 14:59] TimothySutton81 commented on #10178
Yes this issue can be closed for me.

[2022-06-14 14:59] #10178 closed

[2022-06-14 20:52] BlaineEXE commented on #10001
Not a wontfix, but probably not able to prioritize until 1.11+

[2022-06-15 08:20] danielcb opened #10444 "regular rook-ceph-mgr crashes after update to ceph v17.2.0: too old resource version: 383042908 (383043544)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Since the update to ceph v17.2.0 we have regular (every 1-2 hours) crashes of the rook module in ceph.

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* cluster-on-pvc.yml:
[code]

* ceph crash log
[code]

**Environment**:
* OS (e.g. from /etc/os-release

[2022-06-15 12:01] parth-gr commented on #10444
It's smtg coming from k8's, seems like this is a common warning https://stackoverflow.com/questions/34322969/cause-of-apiserver-received-an-error-that-is-not-an-unversioned-errors-from-ku/34330607 while upgrades,

I would ask you to re-start the operator pod so watch in-memory cache can be updated.

[2022-06-15 12:06] parth-gr commented on #10441
Are you able to run ceph commands manually

`ceph health` on the toolbox?

[2022-06-15 12:22] yashg-altair commented on #10441
No, the ceph commands are getting timed out.

[2022-06-15 14:34] parth-gr commented on #10427
@Madhu-1 thanks for the clarification, so need to understand the process we need to add after subvolume manuall creation,

I got linked one discussion related to this https://github.com/rook/rook/issues/9551#issuecomment-1032846294, but updating the cluster-id would help and maybe why??

[2022-06-15 14:59] Madhu-1 commented on #10427
https://www.mrajanna.com/Consuming-storage-from-exteranal-ceph-in-rook/ might help you on how to consumer external storage for subvolumegroup/radosnamespace.

[2022-06-15 15:11] mgugino-uipath commented on #10416
You can create the corresponding realm/zg/zone objects, and update the objectstore object, and it should behave as multisite.  I cannot remember if the objectstore object encounters any reconcile errors, but worst case, you can delete the objectstore object and recreate, deleting the object won't remove the data, though the rgws you have deployed will be terminated until the objectstore object is

[2022-06-15 15:15] parth-gr commented on #10427
thanks this will really help

[2022-06-15 15:16] mgugino-uipath commented on #10415
This is covered via documentation: https://github.com/rook/rook/blob/master/design/ceph/object/zone.md#deleting-and-reconfiguring-the-ceph-object-zone

[2022-06-15 15:46] danielcb commented on #10444
I'm pretty sure it was restarted before (while updating), but it looks like another restart fixed it. Thanks!

[2022-06-15 17:09] thotz commented on #10415
I understand we manually do this, but idea is to automate it like during the deletion of Zone CR and if there are rgw servers in the zone then the deletion will be blocked until it is removed

[2022-06-15 18:10] mgugino-uipath commented on #10415
My point is, it's not a bug if it's documented behavior, it's working as intended.

Changing this behavior would be a substantial change to the API, and should be an opt-in change to the CR if this is going to be implemented.  EG:
[code]

or similar.

[2022-06-15 20:15] travisn commented on #10434
Oh, the issue is that you expected 2048 to be applied to that vdc OSD on node01, but instead you see 1024?

[2022-06-15 20:31] travisn commented on #10410
I see there is a [limitation documented here](https://rook.io/docs/rook/latest/CRDs/ceph-cluster-crd/#known-limitations-with-multus) for the mons being accessible via multus. @leseb Any update on that?

[2022-06-15 22:56] travisn commented on #10441
@yashg-altair Did you follow the [disaster recovery guide](https://rook.io/docs/rook/latest/Troubleshooting/disaster-recovery/#backing-up-and-restoring-a-cluster-based-on-pvcs-into-a-new-kubernetes-cluster) to attempt the full backup and restore?

For DR scenarios, you could also consider better mirroring solutions such as [RBD Mirroring](https://rook.io/docs/rook/latest/Storage-Configuration/Bloc

[2022-06-15 23:24] mgugino-uipath opened #10450 "Ceph multisite objecstore createSystemUser doesn't always run"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When creating a multisite objectstore in accordance with the docs, rgw user `<realm-name>-system-user` is not always created.  Interestingly, the k8s secret `<realm-name>-keys` seems to always be created regardless of whether the rgw user is created.  I do see the access key and secret key set on the z

[2022-06-16 02:54] zhucan opened #10451 "Network mode can be set separately for cephcluster and rgw?"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
separate the network for block and rgw, block use hostnetwork but rgw not.

**What is use case behind this feature:**
we want to access the block pool from external client out of the cluster. we want to create extra rgw on the same node with different port manually.

**Environment**:

[2022-06-16 04:33] yashg-altair commented on #10441
I have seen it but we preferably wants to use a backup and restore tool like velero which can backup all the applications running on the cluster and restore successfully. I also followed the disaster recovery guide shared by you but one of the mon out of three is failing with a warning of **Back-off restarting failed container**. What should we do now?

[2022-06-16 05:42] thotz commented on #10415
There is preservepool option for cephobjecstore CR, planning to add similar option for Zone CR.

[2022-06-16 07:24] microyahoo opened #10452 "radosgw user is not created but cephobjectstoreusers is in ready status"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
radosgw user couldn't be created after ceph objectstore user is ready, and there is no error message in logs and events.

**Expected behavior:**
radosgw user should be created after ceph objectstore user is ready.

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (cu

[2022-06-16 07:27] microyahoo commented on #10452
The following is some commands output and logs message:
[code]
ceph objectstore users
[code]

[2022-06-16 07:59] microyahoo commented on #10452
[log.tar.gz](https://github.com/rook/rook/files/8916828/log.tar.gz)

[2022-06-16 08:42] thotz commented on #10450
while listing have u used `--rgw-realm=<realm-name>` to the `radosgw-admin user` list command

The system user for a realm will be created after creating the first object store of master zone/zonegroup. And rook always sets initially created zone and zonegroups as master.

[2022-06-16 08:46] jclab-joseph opened #10455 "error provisioning bucket: Provision: can't create ceph user: no user name provided and unable to generate a unique name: failed to get ceph user"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I've been using S3. But when I try to create a new bucket I get an error.

**Expected behavior:**

**How to reproduce it (minimal and precise):**

[code]

**File(s) to submit**:

Same error as #9625 , but the environment is different.

**operator log: **
[code]

`radosgw-admin user list`:
[code]

**En

[2022-06-16 10:31] parth-gr opened #10458 "There are more places in other docs too where this is note is not updated..."
There are more places in other docs too where this is not updated...
Maybe we can open an issue for it.

_Originally posted by @parth-gr in https://github.com/rook/rook/pull/10234#discussion_r898109037_

[2022-06-16 12:48] leseb commented on #10410
No updates, investigation must be done to try out https://github.com/k8snetworkplumbingwg/multus-service, which isn't ready for production yet.

[2022-06-16 14:26] microyahoo commented on #10452
Yes, thanks for your reminder. After pass the `--rgw-realm` parameter, os-user2 can be returned normally. @thotz
[code]

[2022-06-16 14:26] #10452 closed

[2022-06-16 18:08] travisn commented on #10458
@parth-gr Could you summarize the issue in the title and body instead of just adding the link? thanks

[2022-06-16 18:11] travisn commented on #10441
1. What does `ceph status` show in the toolbox?
2. What do the logs show for the failing mon container?
3. If the other two mons are in quorum, rook should actually failover the bad mon and create a new one.
4. Please share the operator log.

[2022-06-17 05:16] thotz commented on #10455
@jclab-joseph can you please provide more details :
* enable debug logging for rook-operator pod
* how the rgw server is configured; is it internal or external to rook?
* can collect logs from rgw with a higher log level, `ceph config set <ceph auth client for rgw> debug_rgw 20`?

[2022-06-17 05:53] thotz commented on #10416
The above steps will work but it will destroy the old data since pools for cephobjectstore are changed. My idea was to extend simple plain object store to multisite without losing existing data

[2022-06-17 06:40] danielcb commented on #10444
After about 3 hours, the same crash happened again. Restarting didn't help.

[2022-06-17 08:06] l0nax commented on #10443
No, I execute the scrape command within the `toolbox` pod.

Yes, it's roughly within the three liveness probe checks.

All OSDs have the same liveness probe period set to 10 seconds:
[code]

Once I execute i.e. `ceph device scrape-daemon-health-metrics osd.9`  the OSD gets restarted by K8s because the liveness probe failed (roughly 28 seconds after I executed the scrape command):
[code]

The scrap

[2022-06-17 08:25] subhamkrai commented on #10444
please share operator logs  and mgr logs

[2022-06-17 15:40] R-omk opened #10466 "preservePoolsOnDelete==true may cause the file system to be deleted"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The option `PreserveFilesystemOnDelete` is not actually set to true when the option `preservePoolsOnDelete` is set. **This causes the file system to be deleted if the file system manifest is accidentally deleted.** What really happened to me.

[code]

The last line (`Pools not deleted`) from the logs

[2022-06-17 15:57] onedr0p opened #10467 "Move or copy deploy/examples/crds.yaml to deploy/crds/"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Move or create a new directory with the CRDs to `/deploy/crds` e.g.

[code]

[code]

**What is use case behind this feature:**

This would be very useful to install the CRDs with Kustomize, for example:

`kubectl apply -k ./path/to/folder/containing/file/below`

[code]

Thanks!

[2022-06-17 16:11] travisn commented on #10467
Since this is specific for kustomize, what about this structure?
[code]

[2022-06-17 16:16] onedr0p commented on #10467
That works perfectly!

It seemed cleaner to me if possible to break up the CRDs into different files, but thinking it over I am not sure what benefit that would bring other than not having a phat manifest.

[2022-06-17 16:29] onedr0p commented on #10467
### The kustomization in `./deploy/kustomize/kustomization.yaml` would just look like this

[code]

### A person that wants to apply the CRDs would need to create and `kubectl apply -k` a file like this:

[code]

[2022-06-17 16:32] travisn commented on #10443
That's really unexpected that scraping the metrics from an OSD went from ~30s to ~8 minutes. I wouldn't expect the liveness probe itself to affect the metrics. Even 30s seems like a long response time, but I'm not familiar with this command to know what is normal. If you scrape for a specific timestamp is it faster?
@pcuzner thoughts?

[2022-06-17 16:35] travisn commented on #10467
Ok great, no version needed in the repo itself. Want to [open a PR](https://rook.io/docs/rook/latest/Contributing/development-flow/#submitting-a-pull-request) for this?

[2022-06-17 16:38] l0nax commented on #10443
What do you mean by scraping for a specific timestamp?

[2022-06-17 16:52] travisn commented on #10466
#9915 is in progress to better prevent deletion of the filesystem.

For the last issue, the CephBlockPool CR has been deleted, and the operator is blocked from deleting it, but you want to undelete it? In that case, you can try re-creating the CephBlockPool CR similar to described in the topic [Restoring CRDs after deletion](https://rook.io/docs/rook/latest/Troubleshooting/disaster-recovery/#resto

[2022-06-17 17:00] R-omk commented on #10466
@travisn
thanks, I've figured this out by now. It worked out.

Now I'm trying to understand out how to save the file system, even taking into account that existing pv can be connected to it, maybe there is already a similar instruction somewhere?

[2022-06-17 17:25] travisn commented on #10466
This is the error for the filesystem not being created with error 22? This is happening when the operator tries to create the filesystem with this command:
[code]
Which in your case I believe would be:
[code]
You could get the exact command if you enabled debug logging in the operator.
If you run that in the toolbox do you get any more details in the error?

[2022-06-17 17:26] travisn commented on #10443
From the [Ceph documentation](https://docs.ceph.com/en/latest/rados/operations/devices/#scraping), I see this option:
[code]

[2022-06-17 17:28] l0nax commented on #10443
`get-health-metrics` returns the stored health metrics whilst `scrape-health-metrics` actually executes the `smartctl` command – if I'm not totally wrong.

[2022-06-17 17:38] R-omk commented on #10466
I followed [this](https://docs.ceph.com/en/quincy/cephfs/recover-fs-after-mon-store-loss/) instruction, found in the logs confirmation that the `fscid` was indeed equal to `1` and executed these commands:

[code]

and now I have
[code]
and all pods mounted to their pv
🎉🎉🎉

[2022-06-17 18:11] BlaineEXE commented on #10443
This seems like it is worth posting a bug to the Ceph project. IMO, the OSD should **not** be going unresponsive when someone queries metrics from it.

[2022-06-17 19:33] parth-gr commented on #10458
Like the way of mentioning a note has been changed,

**note** , > note to !!! note

So some places are missed to be updated, like https://github.com/rook/rook/blame/master/design/ceph/interacting-with-rook-resources.md#L43, https://github.com/rook/rook/blame/master/design/ceph/ceph-config-updates.md#L138 , etc

[2022-06-17 20:02] #10022 closed

[2022-06-17 20:06] kfox1111 opened #10470 "mon multiple storage class support"
* Feature Request

**What should the feature do:**
It would be nice to specify a list of storage classes for the mons, and have rook try and spread the mons out across those storage classes as much as possible.

**What is use case behind this feature:**
Having high availability in the mons, that are backed by low availability storage classes. A whole storage class could go unavailable then and eno

[2022-06-17 21:13] travisn commented on #10470
To capture scenario from the slack discussion... the scenario is where each datacenter would have its own storage class, instead of following the pattern of cloud providers that have a single storage class and affinity of PVs to an AZ.

[2022-06-17 23:54] travisn commented on #10434
Ok, I ran a quick test, and I see that the `config` is not being applied from the individual device section. The `config` is only honored from `storage.config`, or under an individual node. So in this case, you could apply different database size for the node. Does that help your scenario? Of course, this doesn't work if you need different settings for OSDs on the same node.
[code]

[2022-06-18 05:59] liwh1111 opened #10472 "Status Pending of the PVC"
The installation of rook-ceph version 1.9.0 succeeded, but the PVC creation failed

Rook version: 1.9.0
k8s version: 1.22.8

![image](https://user-images.githubusercontent.com/63097736/174425064-1407ba32-b69a-4232-92c3-f173c4b4e1ca.png)

Excuse me, what might have gone wrong

[2022-06-18 06:00] #10391 closed

[2022-06-18 11:43] galexrt opened #10473 "Look into Rook Helm Chart Annotations and Labels"
**Is this a bug report or feature request?**
* Feature Request

It seems that some of the annotations and labels currently set on the Rook K8S resources are "against" the Helm annotations and labels best practices, see https://helm.sh/docs/chart_best_practices/labels/.

For example some gitops tools, e.g., Fleet expect the `app.kubernetes.io/managed-by` label to have the value `Helm` and not `helm

[2022-06-18 12:26] c-seeger opened #10474 "not able to delete ceph cluster"
**Is this a bug report or feature request?**
* Bug Report

I have a dangling cephcluster laying around (seemingly from a previous deployment), i tried to force delete it but I get the following error
[code]

using `kubectl -n rook-ceph delete cephcluster rook-ceph` or trying to edit it using `kubectl -n rook-ceph edit cephcluster` and deleting finalizers

**Deviation from expected behavior:**

**E

[2022-06-18 12:46] c-seeger commented on #10474
fixed it on my own.
[code]
helped

[2022-06-18 12:46] #10474 closed

[2022-06-18 13:38] liwh1111 commented on #10472
I found an error in the csi-rbdplugin, can rook1.9.0 run on centos7.8?
![image](https://user-images.githubusercontent.com/63097736/174440161-48b37a50-1aab-4219-b41d-2a3697ec5349.png)

[2022-06-19 06:07] tcoupin opened #10476 "Do not use default for boolean in helm chart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Default value for `allowVolumeExpansion` in block pool array is `true` (boolean), so the storageClass has `allowVolumeExpansion` to `true`. But when I set it to `false` (boolean), the storageClass has  still `allowVolumeExpansion` to `true`.

In the template : `allowVolumeExpansion: {{ default "true" $

[2022-06-19 09:41] fengjiankui121 commented on #10434
@travisn What is the role of databaseSize in the environment variable of osd pod? Is it possible to remove from environment variables?

[2022-06-19 20:08] adrianlzt opened #10477 "Few memory for osd-prepare pods"
* Bug Report

**Bug Report**
The default amount of memory given for osd-prepare pods [200Mi](https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/values.yaml#L258) its too few for some cases.

In my case, using a 1.8TiB SSD disk, the memory used by ceph-volume was close to 300Mi.

This error was difficult to spot, as the prepare pod were deleted after the OOM killing them. So t

[2022-06-20 02:51] #10472 closed

[2022-06-20 06:03] subhamkrai commented on #10477
@adrianlzt you are suggesting increasing default memory for osd-prepare pods?
or you are facing other issues?

[2022-06-20 07:04] adrianlzt commented on #10477
Yes, that pod needs more memory, at least in my case.

And if you test setting that memory limit to something smaller, like 50MiB, you could see it's difficult to spot that the problem is the pod being killed.

[2022-06-20 14:20] galexrt commented on #10473
From my research I think the quick fix here would be to make the `app.kubernetes.io/managed-by` value `Helm` with the first letter uppercase or more future proof using the template var/function shown in the best practice document.

Anyone with more Helm knowledge able to chime in here?

[2022-06-21 05:58] Rakshith-R commented on #10435
@hackaholic Please use later versions of Rook for this feature.

Closing this issue, since the fix is already available from rook v1.8.0+

[2022-06-21 05:58] #10435 closed

[2022-06-21 06:23] microyahoo commented on #3140
I have met same issue due to 100 osds per node. The ceph document [osd-ip-tables](https://docs.ceph.com/en/latest/rados/configuration/network-config-ref/#osd-ip-tables) says each ceph OSD daemon on a ceph node may use up to four ports, but I found each osd occupies up to 8 ports(500ports/8=62 osds) like follows. Why do each OSD take up so many ports? @leseb @travisn
[code]
[code]

[2022-06-21 07:44] thotz commented on #6342
I have tried to reproduce this issue in 1.8 and 1.9 releases with ceph v17 and not been able to reproduce the issue. For external RGW cluster we are not running any `radosgw-admin` commands but use rest interface via adminops API. The rest interface does not require any zone/zonegroup/realm information since it sends request directly to rgw server endpoint

@hase1128 have you seen this in above ve

[2022-06-21 08:58] galexrt commented on #3140
@microyahoo Could you please provide some more insights into your CephCluster setup (e.g., are you using `hostNetwork: true`/`provider: host`, is multus used, etc.)

[2022-06-21 11:17] microyahoo commented on #3140
[cephcluster](https://github.com/rook/rook/files/8948326/cephcluster.txt)
@galexrt  Yes,  I use `hostNetwork: true` in my cluster definition. The attachment is my cephcluster.yaml.

[2022-06-21 15:23] travisn commented on #3140
@microyahoo As in the ceph networking guide that you linked, the OSDs have a large port range because many of the OSDs are communicating with each other for the data transfers. Since you're on the host network, the osds on the same host will consume the same port range. You can increase the port range with [these settings](https://docs.ceph.com/en/latest/rados/configuration/network-config-ref/#bin

[2022-06-21 15:58] microyahoo commented on #3140
Yes, increase the port range can resolve this issue, but I'm still confused why an osd takes up 8 ports.

[2022-06-21 16:36] travisn commented on #10434
In the [default cluster.yaml example](https://github.com/rook/rook/blob/master/deploy/examples/cluster.yaml#L231), this setting is commented out with the description:
[code]

If it is not specified, Ceph will default to an appropriate size for its metadata.

[2022-06-21 20:02] yleiymei commented on #4896
这是来自QQ邮箱的假期自动回复邮件。邮件已收到，我会尽快回复您!

[2022-06-22 00:56] zeaone opened #10482 "The 404 Not found in Doc"
<img width="990" alt="image" src="https://user-images.githubusercontent.com/15962991/174920255-d06e7f5f-6b6f-4525-9061-3d0dbd1f7652.png">
At the bottom of this page, the link to the  **design section guideline**  is  **404**

[2022-06-22 01:09] liwh1111 opened #10483 "nbd modprobe failed"
Install ROOK1.9.0, check csi-rbdplugin error, will this affect rook?

k8s version: 1.20.14
rook: 1.9.0
kernel version: 3.10.0-1127.el7.x86_64

![image](https://user-images.githubusercontent.com/63097736/174921585-74d0657c-6f91-48c1-9910-a1e3bf295d78.png)

[2022-06-22 04:55] parth-gr commented on #10482
@zeaone can you refer to https://github.com/rook/rook/blob/master/Documentation/Contributing/development-flow.md this for now

[2022-06-22 04:56] parth-gr commented on #10482
Thanks for raising this I also see some other places in docs and code that url links are not working,

[Alexander](https://github.com/galexrt) can you please look into these broken links

[2022-06-22 04:58] parth-gr commented on #10483
Are you able to create and provision rbd pvc,

@Madhu-1 may would be aware of this error

[2022-06-22 05:01] Madhu-1 commented on #10483
You dont have nbd module installed. this is just a warning you can discard it.

[2022-06-22 05:06] liwh1111 commented on #10483
@parth-gr The provision rbd pvc was created successfully and is ready for use
![image](https://user-images.githubusercontent.com/63097736/174947842-642e0ede-5696-42d9-aeea-ebddbf3b3cbf.png)

@Madhu-1 ok

[2022-06-22 05:20] fanchenxu-ship opened #10485 "RBD PVC encryption is not work"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After encryption, the files on the disk should be encrypted, but they are really plaintext

**How to reproduce it (minimal and precise):**
secret file:
   `apiVersion: v1
kind: Secret
metadata:
  name: storage-encryption-secret
  namespace: rook-ceph
stringData:
  encryptionPassphrase: test-encryption`

[2022-06-22 05:37] Madhu-1 commented on #10485
@fanchenxu-ship please provide more details and csi-rbdplugin logs from the node where the application pod is running.
You need to set CSI_LOG_LEVEL to `5` before collecting the logs.

[2022-06-22 05:48] fanchenxu-ship commented on #10485
Thanks for your reply, the disk is already shown encrypted, but the content is still in plainext. Is this normal?
<img width="1389" alt="image" src="https://user-images.githubusercontent.com/60562203/174952877-12668ea3-aac4-4b71-af98-9fb1f9d4c382.png">
<img width="1198" alt="image" src="https://user-images.githubusercontent.com/60562203/174952933-84e77737-1a71-40c7-b23f-b8eb577ef906.png">

[2022-06-22 06:01] Rakshith-R commented on #10485
Yes, from the pod perspective, the files are stored normally.
the data written to the rbd blocks will be encrypted by Luks.

[2022-06-22 06:07] fanchenxu-ship commented on #10485
How to write data to  rbd block ?How to verify that it is encrypted？

[2022-06-22 06:08] fanchenxu-ship commented on #10485
How to write data to rbd block ?How to verify that it is encrypted？

[2022-06-22 06:18] Rakshith-R commented on #10485
The filesystem is mounted and exists on the rbd block.

you can compare the mounts of a encrypted pvc vs a regular pvc
Try mounting with wrong encryptionPassphrase in the secret.

[2022-06-22 06:32] microyahoo opened #10486 "metadata device doesn't support `/dev/disk/by-path/xxxx`"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

Specify the metadata device as `/dev/disk/by-path/xxx`, rather than `/dev/sdx`.

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(

[2022-06-22 11:38] silvio201 opened #10487 "Existing RBDs fail to be mounted after enabling network compression"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After enabling network compression in the CephCluster Object, Pods which have RDB volumes fail to start and are stuck in ContainerCreating. The following event is logged multiple times:

`MountVolume.MountDevice failed for volume "pvc-a4d3a97f-64dc-444a-922c-3bd18eb51a33" : rpc error: code = Aborted d

[2022-06-22 12:29] silvio201 commented on #10487
Unfortunately I am not able to execute this commands, because I already rolled back by deactivating network compression again.

But as I said, my Cluster was healthy. In the dashboard the health status was HEALTH_OK.

[2022-06-22 17:07] BlaineEXE commented on #10451
I think this feature seems reasonable to me. IMO, the best way to implement this would be to add a `network` config to the CephObjectStore. For backwards compatibility, if the `network` config is omitted, the `CephObjectStore` would default to the network config of the CephCluster.

[2022-06-22 17:26] BlaineEXE opened #10489 "External object store can't reference a "parent" object store in another namespace"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

A CephObjectStore (ns: rook-ceph-secondary) cannot specify (via `externalRgwEndpoints`) the Service IP (ClusterIP) of a CephObjectStore's RGW cluster in another Kubernetes namespace (ns: rook-ceph).

Rook creates a Service for the external CephObjectStore (ns: rook-ceph-secondary) that points to all o

[2022-06-22 17:26] BlaineEXE commented on #10489
@parth-gr @travisn @leseb ^

[2022-06-23 02:50] fanchenxu-ship commented on #10485
sorry, maybe I need to clarify more. Actually, I check from node perspective, I go into the rdb block on the node and the file is also in plaintext, is it normal? On my understanding, I assume it should display encrypted data in the rdb blocks. Just like the picture below：

![image](https://user-images.githubusercontent.com/60562203/175196669-9836d338-8d99-4328-b461-2f4f28f5a286.png)

[2022-06-23 03:05] zhucan commented on #10451
If the network config is omitted in the CephObjectStore,  the default to the network config is false.

[2022-06-23 03:58] fanchenxu-ship commented on #10485
csi-rbdplugin logs  as below:

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/60562203/175205704-1337a015-5a67-4a89-80b6-e09d920c98da.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/60562203/175205916-62768c45-bf5d-4715-ba7f-3a0782a57d66.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/60562203/17520

[2022-06-23 04:04] zhucan commented on #10451
/assign @zhucan

[2022-06-23 04:11] subhamkrai commented on #10451
@zhucan thanks for picking

[2022-06-23 06:02] silvio201 commented on #10487
@Madhu-1 After reenabeling compression and reproducing the same issue, I am now able to provide you with the outputs of the commands:

`ceph -s`:

When trying to execute `ceph -s` in my toolbox pod, I get the following error message:
`2022-06-23T05:07:01.019+0000 7ff9e9984700  0 monclient(hunting): authenticate timed out after 300`

Usually, I have no problems executing `ceph status` on the toolbo

[2022-06-23 07:45] microyahoo commented on #10486
@parth-gr hi, I am working at this issue now, you can assign it to me if you have no bandwidth.

[2022-06-23 07:46] parth-gr commented on #10486
Thanks for picking this up, sure you can carry on...

[2022-06-23 08:09] parth-gr opened #10492 "Automate Assign issues to issue commenters"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
If a user comes and is a non-collaborator and they wanna try to work on the issue,
they should auto-asign by just putting a comment  `//assign`.

We can discuss further on this,
and how to add this may be by a script or Bot.

**What is use case behind this feature:**

**Environment**:

[2022-06-23 10:32] ChenJhua opened #10493 "Normal ceph suddenly abnormal, do not know what happened"
**Is this a bug report or feature request?**
* Bug Report
I originally had three nodes and it worked fine
[code]
now have d, c disappears, a,b failed
[code]

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessa

[2022-06-23 10:58] subhamkrai commented on #10493
@ChenJhua  was there any node(node master-002) down or something since crash collector which on that node seems restarted or created again

[2022-06-23 11:02] ChenJhua commented on #10493
@subhamkrai The node does not restart normally, and there is a network interruption in the middle. Why can't ceph automatically restore to the previous mon-a b c, but c becomes d, a, b can't get up all the time

[2022-06-23 11:05] subhamkrai commented on #10493
I see some of the pods are in init and terminating stage at the same time, could you check later if every pod is running?

or the pods are like this only for some time?

[2022-06-23 11:09] ChenJhua commented on #10493
Sorry, I don't know how to check if both are running. I have no information on describe pod here. These pods are running before, I have created ceph pvc. ceph status is normal.
What information do I need to provide to assist in the investigation?

[2022-06-23 11:12] subhamkrai commented on #10493
[code]

you see here same  `osd-1` pod are in `init` state and terminating stage, same for other pods like mon, mgr, myfs.

I was asking to check after some time if this gets resolved and all duplicate pods are gone or it is always like this only?

Also, pleasse share the rook operator pod logs

[2022-06-23 11:28] ibotty commented on #8993
How can I configure radosgw to serve using a certmanager-issued certificate while still allowing rook to reconcile?

[2022-06-23 15:17] parth-gr commented on #10482
Some more places https://rook.io/docs/rook/latest/CRDs/ceph-cluster-crd/#commands-on-the-k8s-consumer-cluster

Ig we need to overlook the docs, and find the links broken and fix them

[2022-06-23 15:23] parth-gr commented on #10482
The error is `https://rook.io/docs/rook/latest/development-flow.html#design-document`

This should be updated to `https://rook.io/docs/rook/v1.9/Contributing/development-flow/#design-document`

[2022-06-23 15:49] BlaineEXE commented on #10492
This is more streamlined: https://github.com/bdougie/take-action

[2022-06-23 17:33] travisn commented on #10487
If you want to use the helm chart, you would just add the `mounter: rbd-nbd` in the `storageClass` settings. But since storage classes cannot be modified, you would need to delete the existing storage class first. So instead of updating the helm chart storage class, you could just create a separate storage class based on [this example](https://github.com/rook/rook/blob/master/deploy/examples/csi/r

[2022-06-23 20:08] BlaineEXE opened #10499 "NFS CSI: fix uninstall"
The NFS CSI test does not successfully uninstall the CephNFS, but the test still proceeds anyway and reports success. This is increasing our test time, and it suggests that there is a bug somewhere. The bug is probably with the test cleanup since I have successfully deleted CephNFSes manually in local testing.

[2022-06-23 20:30] mgugino-uipath commented on #10489
Are you sure you don't have a network policy preventing communication or something?  This works for me using the answer accepted on SO:

[code]

[code]

[2022-06-23 23:20] fengjiankui121 commented on #10434
@travisn Yes，the correct databasSizeMB is being applied in the osd prepare pod.

[2022-06-24 02:46] fanchenxu-ship commented on #10485
@Rakshith-R I did rbd encryption based on this [document,](https://rook.io/docs/rook/v1.9/ceph-csi-drivers.html) and I don't know if I need to do extra action

[2022-06-24 02:50] ChenJhua commented on #10493
Sorry to bother you, this problem is caused by a network problem. Because a colleague configured caclio isolation

[2022-06-24 02:50] #10493 closed

[2022-06-24 03:53] Rakshith-R commented on #10485
@fanchenxu-ship
The csi pod logs you've collected is for the regular PVC, unencrypted one.

[2022-06-24 05:44] Madhu-1 commented on #10487
This happens when cephcsi does not receive any response from the ceph. to confirm you can exec in to the csi-rbdprovisioner/csi-rbdplugin  container and try to create the rbd image manually.

[2022-06-24 06:15] silvio201 commented on #10487
Hello again,

@travisn

I already tried adding rbd-nbd in the storageClass settings of the cephBlockPools section, but even if I add it, it does not get applied to the created storage class. And as I looked through the template file [here](https://github.com/rook/rook/blob/release-1.9/deploy/charts/rook-ceph-cluster/templates/cephblockpool.yaml) there does not seem to be integrated support for mou

[2022-06-24 06:20] Madhu-1 commented on #10487
You need to exec into rbd provisioner pod and create rbd image only if you have issue with creating PVC. if you are having issue with mounting please check https://rook.io/docs/rook/v1.9/Troubleshooting/ceph-csi-common-issues helps. and check dmesg on the node where pod mounting is failing.

[2022-06-24 06:22] fanchenxu-ship commented on #10485
ok.I made some changes，enable dm-crypt kernel module  on all nodes,  Does this mean that centos 7.9 does not support rbd encryption?
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/60562203/175474699-882fdba7-13ea-4cd9-9e9a-d86c0c369f76.png">

[2022-06-24 06:27] danielcb commented on #10444
Yes, it's still happening.

[2022-06-24 06:31] fanchenxu-ship commented on #10485
The comprehensive logs are below：
<img width="1424" alt="image" src="https://user-images.githubusercontent.com/60562203/175476292-ea3c365c-005f-4783-9175-085b393f2a56.png">
<img width="1348" alt="image" src="https://user-images.githubusercontent.com/60562203/175476275-cffe6845-b616-4999-afa2-f9342f984d97.png">
<img width="1421" alt="image" src="https://user-images.githubusercontent.com/60562203/17

[2022-06-24 06:33] thotz commented on #8993
`sslCertificateRef` in https://rook.io/docs/rook/v1.9/CRDs/Object-Storage/ceph-object-store-crd/#gateway-settings clearly mention how RGW can be configured with TLS certs

[2022-06-24 06:35] ibotty commented on #8993
Yes it does, but it's afaict it's impossible to instruct certmanager to inject the extra key in the secret.

[2022-06-24 06:37] thotz commented on #10489
yaa exposing internal rgw service via Nodeport so that IP of the host will be accessible from other namespace. I can main issue here is that `Endpoint` struct for `Objectstorespec` only supports IP than fqdn

[2022-06-24 06:40] Rakshith-R commented on #10485
Those are for other rbd image features.

You can see from the logs you pasted that rbd block device is mapped with dm-crypt for luks encryption.

all the data being written to the rbd block will be encrypted.
you will not be able to open the device without encryptionPassphrase from the secret you created.

[2022-06-24 06:40] ibotty commented on #8993
To elaborate:  if you want, say, letsencrypt-verified certificates, you'll need another process that postprocesses the generated secret, every time the certificate is updated.

In general: I'd argue, that using a certificate signed by public CAs is or ought to be common.  In that case it's impossible to get a signed certificate with the servicename.

[2022-06-24 06:54] fanchenxu-ship commented on #10485
Actually, i can  open the device without encryptionPassphrase ,and the file is also in plaintext,
<img width="1386" alt="image" src="https://user-images.githubusercontent.com/60562203/175479817-ad20703f-2218-4d74-b7f9-ff7e953391c5.png">

[2022-06-24 06:58] Rakshith-R commented on #10485
You are writing into an  filesystem mounted on a device that is already opened by cephcsi.

Try mapping rbd device directly and check the contents. https://github.com/rook/rook/blob/master/Documentation/Troubleshooting/direct-tools.md

[2022-06-24 07:09] silvio201 commented on #10487
After trying to recreate the successful provisioning with the custom StorageClass with the mounter option, the provisioning failed again with the same error...

[code]

I investigated the logs of the csi pods and discovered that discovered that in all `csi-rbdplugin` containers of the `csi-rdbplugin-provisioner` pod the following error is logged:

[code]

Could it be that this error is the underly

[2022-06-24 07:42] LittleCadet opened #10504 "pvc is pending status"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
pvc status is pending

[code]

**Expected behavior:**
pvc status is bound

**How to reproduce it (minimal and precise):**
[code]

yesterday : everything is fine , but , today : i re-create cephCluster.  then , pvc status is pending .

**File(s) to submit**:
1.  rook-ceph-mon-a-54c944bfc9-p6hm9 :
[code]

[2022-06-24 07:44] LittleCadet commented on #10504
kubectl describe pvc -n kube-system:

`Name:          cephfs-pvc
Namespace:     kube-system
StorageClass:  rook-cephfs
Status:        Pending
Volume:
Labels:        <none>
Annotations:   volume.beta.kubernetes.io/storage-provisioner: rook-ceph.cephfs.csi.ceph.com
               volume.kubernetes.io/storage-provisioner: rook-ceph.cephfs.csi.ceph.com
Finalizers:    [kubernetes.io/pvc-protection]
Cap

[2022-06-24 07:47] Madhu-1 commented on #10504
@LittleCadet looks like you have 1 OSD. please paste the filesystem yaml. if you are planning to test Rook ,please choose Replica value as 1 or use filesystem-test.yaml

[2022-06-24 08:08] LittleCadet commented on #10504
@Madhu-1 now : use filesystem-test.yaml : the pgs look better than before ,   but : pvc is still pending .

some description about pvc in kube-system namespace:

`[root@master01 cephfs]# kubectl describe pvc -n kube-system
Name:          cephfs-pvc
Namespace:     kube-system
StorageClass:  rook-cephfs
Status:        Pending
Volume:
Labels:        <none>
Annotations:   volume.beta.kubernetes.io/sto

[2022-06-24 08:53] LittleCadet commented on #10504
@Madhu-1  sorry , i am a newer 。

i will use the pic  instead of markdown.

some description about pvc in kube-system namespace:
<img width="1659" alt="图片" src="https://user-images.githubusercontent.com/40167192/175500408-eb0d3470-8b3b-4f84-b5a6-3ee5b908713a.png">

then ceph status :
<img width="524" alt="图片" src="https://user-images.githubusercontent.com/40167192/175500304-e52eafe7-525a-46ea-837f

[2022-06-24 11:54] parth-gr commented on #10444
Can you try to add some labels in the mgr pod, by that the resource version will change and try to see if it solves the problem,

Or maybe you can make replica zero of mgr deployment and then make it back to what it was set, it will re-make the mgr pod

And does during the update there were some issues because I can't see else reporting this, maybe you can share those logs.

What's your current ro

[2022-06-24 13:45] LittleCadet commented on #10504
i re-craete rook , now the ceph status :
[code]

but still not fixed the question :  pvc is pending .

i  need some help , please.

[2022-06-24 19:21] travisn commented on #10504
What does `ceph osd pool ls detail` show in the toolbox? It probably shows replica 3, which means you need at least 3 OSDs on different hosts by default. For a test where there is only one OSD, please create filesystem-test.yaml as @Madhu-1 mentioned, which only requires a single OSD.

[2022-06-26 00:58] LittleCadet commented on #10504
now ,  I create rook in this method:
[code]

ceph osd pool ls detail :
[code]

and found something in csi-cephfsplugin-provisioner-86d7c46746-87cmf :
[code]

and the logs of rook-ceph-operator-785cc8f794-bhbmt：
[code]

and describe pvc/cephfs-pvc:
[code]

some questions here :
1.  use cluster-test.yaml , ceph status is HEALTH_OK , but the logs of operator show 1 of 2 OSD ,  should it be ?
2. what

[2022-06-26 02:08] LittleCadet commented on #10504
check crd, it is ok
[code]

i have no idea about this question:
[code]

[2022-06-26 10:19] m4w0lf opened #10508 "Use of CEPHFS subpath instead of /volumes/csi/"
Hi everyone,
I'm currently struggling with the follwing problem:
csi-provisioner-cephfs seems to be unable to use a subpath of ceph file system, instead of using / (and then /volumes/csi)

is there any kind of parameter in order to change this default behaviour?

Thank you,
Alex

[2022-06-26 14:28] LittleCadet commented on #10504
now,  solve the problem !!!
actually , everything is fine in rook and in ceph . but my problem is special .  the true reason is my k8s network not right.

my k8s cluster do not use any network plugin.  so the kubelet log like this :
[code]

finally : the method is : re-create k8s cluster and install the network plugin : flannel . then . the pvc in  bound status:

[code]

haha

[2022-06-26 14:32] LittleCadet commented on #10504
close issue

[2022-06-27 05:04] ChenJhua opened #10509 "rook-ceph exception"
**Is this a bug report or feature request?**
* Bug Report

I have three master k8s cluster. Deploying ceph works fine. When I stop docker, kubelet starts in about ten minutes. It was found that the ceph was abnormal, and the k8s component was also abnormal. The error is a mounting problem
**Deviation from expected behavior:**

**Expected behavior:**
not exception

**How to reproduce it (minimal an

[2022-06-27 06:15] ChenJhua commented on #10509
@subhamkrai can you tell me what to do next

[2022-06-27 06:19] #10504 closed

[2022-06-27 06:23] Madhu-1 commented on #10508
@m4w0lf this is not possible. we will use default /volumes/csi when creating PVC with cephfs, this is not configurable.

[2022-06-27 11:38] subhamkrai commented on #10509
@ChenJhua if you stopped the stop docker, then I believe minikube cluster is stopped, and hence the issue. I'm not what you are expecting since you stopped docker it was like cluster off till docker is down

[2022-06-27 12:52] ChenJhua commented on #10509
I started docker and kubelet after stopping for ten minutes. The k8s cluster is normal.
[code]
Is there a way to restore it?

[2022-06-27 13:00] danielcb commented on #10444
Recreating as describe above did not help either. Same error after about 2-3 hours.

[2022-06-27 13:51] parth-gr commented on #10444
Does it shows the same resourceversion,

Have you tried adding a label the resource version should have updated by that.

[2022-06-27 14:29] subhamkrai commented on #10509
you can look at this https://rook.github.io/docs/rook/latest/Troubleshooting/disaster-recovery/

[2022-06-27 16:48] travisn commented on #10509
@ChenJhua Did all the ceph pods start again? Or they are stuck in the crashing state?
But why did you stop the docker daemon? Are you just testing for resiliency?

[2022-06-27 16:56] yuvalif opened #10513 "Use Ceph image for the toolbox"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
take the commandline binaries from the [ceph image](https://github.com/rook/rook/blob/master/deploy/examples/cluster-test.yaml#L31) that the cluster spec points to.

**What is use case behind this feature:**
currently, it is possible to test ceph developer builds by pointing the ceph image to them as pa

[2022-06-27 17:44] #10165 closed

[2022-06-27 18:28] BlaineEXE commented on #10489
This is correct. With the current Rook code/behavior, I can't think of a way a user can create a Service that would make it so the health checker routine could validate the external connection to the parent RGW.

[2022-06-27 18:47] BlaineEXE opened #10515 "Updating port of an external object store does not update health checker"
**Is this a bug report or feature request?**
* Bug Report

Updating the port of an external object store does not update the health checker routine. For example, if the user initially supplies port `80` and changes the spec to `8080` afterwards, the health checker keeps trying to check port `80`.

The easiest way to resolve this may be to stop the health checking goroutine and restart it every tim

[2022-06-27 19:17] mayank-reynencourt commented on #10160
HI all,
same error i saw when trying to install ceph 16.2.7 (pacific) on ubuntu 20.04 using ceph-ansible
let me know if we have some fix for that
[code]

[2022-06-27 21:40] galexrt opened #10516 "CI is trying to access a non existing file github.com/rook/rook/.../local-build/deploy/examples/crds.yaml"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

CI tries to access a non existing file from the GitHub rook/rook repo:

![image](https://user-images.githubusercontent.com/3718398/176039834-84078bdb-c423-415d-911a-abb8b52a7080.png)

https://github.com/rook/rook/runs/7081299571?check_suite_focus=true#step:4:1342

This doesn't seem to cause a CI run f

[2022-06-27 22:16] BlaineEXE opened #10518 "NFS CI test is disabled"
**Is this a bug report or feature request?**
* Bug Report

NFS CI test is flaky.

In two of the tests I've reviewed, I see these errors reported by the nfs-plugin-provisioner pod.

See `logs--csi-nfsplugin-provisioner-75f7b7c7d8-jjh4m.txt` in the artifact below.
[ceph-smoke-suite-artifact-v1.23.0.zip](https://github.com/rook/rook/files/8995930/ceph-smoke-suite-artifact-v1.23.0.zip)

This appears t

[2022-06-28 05:42] Rakshith-R commented on #10518
@BlaineEXE , links to those ci runs would be nice.

[2022-06-28 06:47] ChenJhua commented on #10509
i look this, but it didn't work for me

[2022-06-28 06:48] ChenJhua commented on #10509
yet, start again but not start hang on `Unable to attach or mount volumes`.
not crashing state
Yes, for testing usability

[2022-06-28 06:50] satoru-takeuchi commented on #10160
@mayank-reynencourt Adding "bluefs_buffered_io = false" in the Ceph configuration would solve your problem.

[2022-06-28 08:15] danielcb commented on #10444
We're using the dashboard and I'm not aware of explicitly activating the orchestrator myself. Isn't that part of rook/ceph? If it can be disabled and the only downside of it being that the dashboard is kind of read-only wouldn't be a problem at all.

[2022-06-28 08:32] mayank-reynencourt commented on #10160
@satoru-takeuchi , is this issue related to swap memory, i have disabled swap in ceph vms and then i got this issue

[2022-06-28 09:50] frittentheke commented on #10160
I'd be careful to jump to conclusions on causes for a randomly appearing issue. I only observe the issue every 20th or even 50th or so time when running mkfs on an OSD. It seems, also according to https://tracker.ceph.com/issues/54019 that switching `bluefs_buffered_io` to `false` avoids the issue.

[2022-06-28 10:03] Rakshith-R commented on #10518
Hey @BlaineEXE
Lets close this and track the same in https://github.com/rook/rook/issues/10499.

[2022-06-28 10:05] Rakshith-R commented on #10499
ci runs and logs https://github.com/rook/rook/actions/runs/2574175808
Sometimes the nfs create export fails
[code]
Other times, nfs create export cmd works while nfs delete export fails
[code]

I've added code to executed the following cmd in ci
[code]
here
https://github.com/rook/rook/blob/a57137361a2aab50f511763a5965c1e4078ff5f8/tests/integration/ceph_base_nfs_test.go#L45-L59

I am not sure what

[2022-06-28 11:32] telmich opened #10522 "Pods are scheduled on nodes without the csi-rbdplugin"
**Is this a bug report or feature request?**
* Bug Report

Pods that are scheduled on control planes (having `node-role.kubernetes.io/control-plane:NoSchedule`) and using PVCs based on rook fail to unmap the RBD image.

We have a funky stale RBD situation: it seems for some reason (??) the RBD image was mounted, but there is no csi-rbdplugin pod running, so the deletion of the pod left an rbd mapp

[2022-06-28 11:36] telmich commented on #10522
Not sure if this is related, but trying to manually unmap on the node, I get the following errors:

[code]

[2022-06-28 18:21] BlaineEXE commented on #10518
This is separate from #10499, even if the root cause is the same. Let's focus on this issue as the **main** one, and if the issue in #10499 is fixed with this work, then that is good. Otherwise, we can focus on #10499 after this.

[2022-06-28 18:22] BlaineEXE commented on #10518
Copying @Rakshith-R 's comment from https://github.com/rook/rook/issues/10499#issuecomment-1168515880

ci runs and logs https://github.com/rook/rook/actions/runs/2574175808
Sometimes the nfs create export fails
[code]
Other times, nfs create export cmd works while nfs delete export fails
[code]

I've added code to executed the following cmd in ci
[code]
here
https://github.com/rook/rook/blob/a5713

[2022-06-28 18:50] CO-lhageman opened #10525 "Operator failing to set telemetry keys after update"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator is throwing warnings about not beeing able to set certain telemetry keys (access denied):
[code]

**Expected behavior:**
I would not expect any errors and the operator should be able to set the appropriate keys

**How to reproduce it (minimal and precise):**
update rook via helm chart from

[2022-06-28 19:38] orelops commented on #10525
hi all !

same error as @CO-lhageman, The operator is throwing warnings about not beeing able to set certain telemetry keys.

[code]

Environment:

- OS (e.g. from /etc/os-release): Talos 1.0.4

- Kernel (e.g. uname -a): 5.15.36-talos

- Rook version (use rook version inside of a Rook Pod): 1.9.6

- Storage backend version (e.g. for ceph do ceph -v): 16.2.9

- Kubernetes version (use kubectl versi

[2022-06-28 19:40] BlaineEXE commented on #10522
If you wish to run pods on tainted nodes, you need to configure the Rook CSI drivers with a placement configurations to tolerate those taints. The `operator.yaml` manifest has those configs included in the `rook-ceph-operator-config` configmap

[2022-06-28 19:44] BlaineEXE commented on #10444
I would suggest disabling the rook module then. If you feel like you're missing some bit of functionality after that, let us know.

[code]

[2022-06-28 19:50] BlaineEXE commented on #10174
This issue has been on my radar. Not stale. My current thinking has been to add a config similar to the CephFilesystem's `preserveFilesystemOnDelete`. By default, when deleting the CephNFS, all exports and configs should be removed. But if `preserveFilesystemOnDelete` is set, then the current behavior (don't delete exports or configs) should be followed.

[2022-06-28 19:58] BlaineEXE commented on #9564
Should be resolved with #9915.

[2022-06-28 20:02] #10427 closed

[2022-06-28 20:44] yaarith commented on #10525
@jdurgin any ideas why setting the mon kv store causes this error (rook uses the admin key)?

[2022-06-28 21:11] jdurgin commented on #10525
Is rook literally using client.admin, with 'mon allow *' permissions?

'ceph auth list' to show the capabilities would help clarify things - IIRC config-key and some other commands may only be accessible with 'mon allow *' rather than 'mon allow rw' permissions

[2022-06-28 21:20] travisn commented on #10525
Correct, rook is using full auth:
[code]
This error is only happening in a handful of clusters and everything else in the cluster looks healthy, just not sure what's different in these clusters to cause only a failure to write the telemetry to the mon store.

[2022-06-29 00:55] #10513 closed

[2022-06-29 07:06] thotz commented on #8993
Oh I see now I understand your issue completely. @travisn @BlaineEXE currently we can option to skip SSL check-in if the k8s secret is an opaque type. It won't work if the k8s secret type is tls. Do we move this option to objectstoreSpec??

[2022-06-29 08:26] satoru-takeuchi commented on #10160
I'm not sure. The root cause of this problem is not known yet.

[2022-06-29 09:19] CO-lhageman commented on #10525
I just checked, my client.admin is indeed what travis showed:
[code]

[2022-06-29 11:35] Tank-Tong commented on #6542
In the single ceph node, also has this problem. How to debug which op slow

[2022-06-29 12:49] chenlein commented on #10110
I have a similar problem
[code]

The normal monitor
[code]

The failed monitor(running but ready):
[code]
- Kernel: 4.19.90-17
- Rook: 1.9.6
- Kubernetes: 1.22.7

[2022-06-29 15:38] willzhang opened #10529 "Separate image name and tags for helm chart"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

i use myself pravite registry，so every time i deploy a new version rook with helm , i must find what image tag it use , so is it possible let image name and tags Separate  for helm chart,

eg
[code]

and where it is now:

[code]

**What is use case behind this feature:**
easy install for helm when some

[2022-06-29 16:18] travisn opened #10530 "Enable Canary CI tests on K8s 1.24+"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Even since #10249, the Canary tests are still running on K8s 1.23. The `--cni=calico` flag did not seem to work with the latest deployment, and disabling that flag caused the multus test to fail.

**Expected behavior:**
Canary tests should use the latest K8s.

[2022-06-29 18:42] travisn commented on #10529
Instead of having a separate tag var with a default, I'm thinking:
- Keep the same `image` settings we already have today, no change from the helm chart settings
- In the operator when the `image` settings are loaded, if the tag is not specified (e.g. if the `:` character is not included in the image), then the operator could append the default tag.

The only side effect is that it hijacks the "la

[2022-06-29 20:17] travisn opened #10531 "Use assimilate-conf to ingest multiple ceph settings instead of individual sets on the mon store"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
For every setting in the mon store, rook has a separate call to add or update the setting. We should consider using [ceph config assimilate-conf](https://docs.ceph.com/en/latest/rados/configuration/ceph-conf/) to ingest groups of settings at the same time.

For example, to enable msgr2, we have three se

[2022-06-29 20:18] vyom-soft opened #10532 "Ceph dashboard not showing up"
Hello,
I followed the standard procedure and installed the rook-ceph by using Helm as describe in the official document of rook-ceph.
https://rook.io/docs/rook/v1.9/helm-operator.html
https://rook.io/docs/rook/v1.9/helm-ceph-cluster.html

Ceph dashboard not showing up
<img width="800" alt="image" src="https://user-images.githubusercontent.com/18686082/176655981-c54b1f8d-212f-4829-8a20-4702b73283b1

[2022-06-29 20:36] travisn commented on #8993
What's the proposal? We need an option for the k8s secret type to be tls? Please open a new issue with the issue summarize and the potential proposal.

[2022-06-30 03:10] willzhang opened #10534 "ceph dashboard login failed for nodeport service"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
login failed for dashboard, and the url address from nodeip+port jumpd to kubernetes service ip +port

https://192.168.72.40:30190/#/dashboard ---> jump to
https://10.233.96.39:8443/

chrome error
[code]

**Expected behavior:**
dashboard login success with nodeport service

**How to reproduce it (minim

[2022-06-30 03:13] willzhang opened #10535 "add rook ceph dashboard `service type` to helm chart values.yaml"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

add rook ceph dashboard service type to helm chart values.yaml.
i want define nodeport type service for dashboard.

**What is use case behind this feature:**
easy access dashboard without ingress.

**Environment**:

rook v1.9.6

add     service-type: NodePort to values.yaml
https://github.com/rook/rook

[2022-06-30 03:27] willzhang commented on #10529
ok, can you do this?

[2022-06-30 08:00] fengjiankui121 commented on #10434
@travisn Can the env be ignored?

[2022-06-30 08:08] fengjiankui121 commented on #9961
@travisn  I am referring to version 1.5，but but it still exists

[2022-06-30 08:10] fengjiankui121 commented on #9961
1、Deploy rook-ceph to create mon.a, mon.b, mon.c
2、On the node of mon.a, copy /var/lib/rook/mon-a as /var/lib/rook/mon-d, and copy /var/lib/rook/mon for mon-a and mon-d -a/data/store.db is deleted, so that both mon-a and mon-d can't get up
3、Wait for the health check of rook-ceph to create the deploy of mon-d
4、Restart the operator, and wait for the operator to create a mon-d canary (this time it

[2022-06-30 12:22] parth-gr commented on #10492
/assign

[2022-06-30 12:34] thotz commented on #8993
it works if both ports are opened, otherwise end up in same situation

[2022-06-30 13:49] mgugino-uipath opened #10538 "Using mismatch operator version and ceph breaks rgw"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Mixing ceph 16.x and 15.x components breaks rgw syncing and possibly other issues

**Expected behavior:**
Operator should clearly define which versions it supports

**How to reproduce it (minimal and precise):**
Setup multi-site utilizing rook-ceph v1.8.9 and ceph 15.2.9.  Create users and buckets via

[2022-06-30 13:52] subhamkrai commented on #10531
@travisn I'm interested in picking this, I don't have the bandwidth for now but I think since this is a 1.10 feature, we have time and I can assign it to myself?

[2022-06-30 18:21] travisn commented on #10529
@Rakshith-R Would you want to take a look at this?

[2022-06-30 18:24] travisn commented on #10434
Yes, I expect it will be ignored since it's only used during provisioning.

[2022-06-30 23:20] #10516 closed

[2022-06-30 23:22] travisn commented on #10518
Any update with the test? It frequently fails the CI, so we will need to disable the test if we can't find the fix in the next couple days. Thanks!

[2022-07-01 01:47] chenlein commented on #10110
I can create pvc when my replicas of mon is set to 1 and probes are disabled.

[2022-07-01 06:45] fengjiankui121 commented on #10434
@travisn Would you allow me to submit a pr for this issue

[2022-07-01 06:46] zeaone commented on #10482
Thanks, new link is working.

[2022-07-01 06:48] zeaone commented on #10482
Thanks, new link is working.

[2022-07-01 12:10] thotz commented on #4315
@LouNauSRC  @threepw00d @jhoblitt anyone interested to test this feature, I can provide builds if needed. Otherwise I am planning to close this PR and issue

[2022-07-01 13:40] travisn commented on #10434
Certainly! The fix you are proposing is to not add this env var to the OSD pod?

[2022-07-01 13:53] reitermarkus opened #10541 "Operator crashes trying to apply Cluster CRD change"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Operator crashes.

**Expected behavior:**

Operator does not crash.

**How to reproduce it (minimal and precise):**

I was experiencing https://github.com/rook/rook/issues/9660 and I ran `radosgw-admin user rm --uid=dashboard-admin --rgw-realm=OBJECTSTORE_NAME as suggested in https://github.com/rook/r

[2022-07-01 14:15] jhoblitt commented on #4315
I'm willing to test.

[2022-07-01 14:50] #10508 closed

[2022-07-01 22:15] BlaineEXE commented on #10110
@chenlein are all mons running on the same host?

[2022-07-02 02:00] fengjiankui121 commented on #10434
@travisn Yes, Is this method feasible?

[2022-07-02 16:14] aesca1er opened #10546 "Operator & helm chart do not set `spec.template.spec.securityContext.{runAsUser, runAsGroup}` for pod-creating resources"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook operator creates pod-creating resources without securityContext runAsUser or runAsGroup
rook operator helm chart does not set securityContext runAsUser or runAsGroup
cephcluster CRD does not have a field for securityContext configuration for pod-creating resources
**Expected behavior:**
rook opera

[2022-07-02 20:02] #10157 closed

[2022-07-03 20:02] #10152 closed

[2022-07-03 20:02] #9920 closed

[2022-07-03 21:09] chrisjsimpson commented on #10152
To add to this, dependong on public cloud provider your instances may or may not passthrough enough information to ceph to detect the 'virtual' disks.

commands to help:
[code]

[2022-07-04 05:55] Rakshith-R commented on #10483
Closing the issue as the doubt is resolved.

[2022-07-04 05:55] #10483 closed

[2022-07-04 06:27] thotz commented on #4315
@jhoblitt
[code]
Above is docker image on top of the master

[2022-07-04 06:50] thotz commented on #10538
Checking from @cbodley from the upstream tracker and errors in the logs both look like a similar issue.  Here sync failed while decoding the bucket info. And as per @cbodley the bucket layout changed from octopus to pacific which may trigger this failure.  @cbodley do we support two different ceph versions with multisite.

[2022-07-04 09:18] sp98 commented on #10237
@fengjiankui121 Need some information about the `Steps to reproduce` mentioned in the description.

If I'm not wrong, the rook operator upgrade is the first step. After the operator pod (with upgraded rook image) is started, other resources get upgraded. How came we reach a situation where cluster is upgraded before the operator starts with the upgraded image (as mentioned in step 6)?

[2022-07-04 17:55] nikhiljha opened #10548 "N osds: 0 up, N in for v4/v6 Dual-Stack Cluster"
I figured out this issue already, but this seemed basically un-debuggable so I'm making a GitHub issue to add this failure case to the QuickStart documentation.

DId you just make a new rook-ceph cluster? v4/v6 dual stack? All your OSDs come up and appear to not have errors, but your OSDs show as down and your ceph commands all hang? Somehow some network requests return but with empty responses(??

[2022-07-04 19:02] telmich commented on #10522
@BlaineEXE That totally makes sense. However: pods that reference rook PVCs *are* already running on the control plane nodes, even without adding tolerations in the operator.yaml.
Or in other words: it totally makes sense to specify them, without specifying them, pods *are* scheduled and are *started* on control planed nodes just by referencing the PVCs and from what I can see, they work.

Until t

[2022-07-04 20:02] #9283 closed

[2022-07-05 01:03] reitermarkus commented on #10541
Yes, exactly.

It did fix itself after a while it seems and I was able to apply the Cluster CRD change.

It did notice a few other Operator restarts today with the same ` :9443: bind: address already in use` error. Not sure what that means or what that port is used for.

Here's the log, starting right after the diff of the Cluster CRD change:

[code]

[2022-07-05 04:26] thotz commented on #10210
Part of this will be fixed https://github.com/rook/rook/pull/10204

[2022-07-05 05:19] chenlein commented on #10110
@BlaineEXE all mons are running on the different host when the replicas is set to 3. and in this case, the osd pool can not be created. when i change replicas to 1 to redeploy rook, the pool and pvc can be created. However, during the creation of the pool, the mon's health check will fail for a few minutes or so, so disable the mon's probe is necessary.

[2022-07-05 05:24] sp98 commented on #10548
@nikhiljha This is already covered in the cluster CRD documentation [here](https://rook.io/docs/rook/v1.9/CRDs/ceph-cluster-crd/?h=network+configuration+settings#network-configuration-settings)

This doesn't look like something that should be added to the quick start documentation.

Let me know if that works and feel free to close this bug if it does.

[2022-07-05 05:31] nikhiljha commented on #10548
I know, I saw that documentation. I feel like there has to be a way to give this better first-class IPv6 support though -- maybe the example CRD should include this but commented out?

[2022-07-05 05:49] sp98 commented on #10548
Do you mean the example [CR]?  It mentions about `dualStack` and comments it out already. (https://github.com/rook/rook/blob/8b512a14bb5726c8b7368c796ea60add2529f0e7/deploy/examples/cluster.yaml#L108)?

IMO, the current documentation should suffice. But I'll check with the team and get back to you.

[2022-07-05 06:24] sp98 commented on #10546
@aesca1er What do you mean by `pod-creating resources`? Can you please elaborate this a bit more.

[2022-07-05 11:38] aesca1er commented on #10546
Pod creating resources are things like jobs or deployments.

[2022-07-05 12:46] mgugino-uipath commented on #10538
FYI, we're not attempting two separate versions of ceph in multisite, each ceph cluster is the same version, only the operator and tools pods have different ceph binary versions than the ceph cluster itself.

[2022-07-05 15:03] aesca1er commented on #10546
@sp98

Yes, and there is no option to configure them in the CephCluster CRD or operator helm chart.

[2022-07-05 16:14] galexrt commented on #10482
We need to update the link in the `design/README.md` to point to https://rook.io/docs/rook/v1.9/Contributing/development-flow/

[2022-07-05 16:18] Sheetalpamecha commented on #10482
@galexrt I can send a PR for it.

[2022-07-05 17:41] #10237 closed

[2022-07-05 17:54] travisn commented on #10434
If you are observing the correct value applied in the OSD from the prepare pod, and it is being ignored by the OSD daemon pod, then there is no need for the var on the OSD daemon pod.

[2022-07-05 19:22] #10482 closed

[2022-07-05 20:02] #10105 closed

[2022-07-05 20:27] travisn commented on #10541
A couple more ideas:
- Try changing the port for the operator's webhook [here](https://github.com/rook/rook/blob/master/deploy/examples/operator.yaml#L483)
- Or just disable the admission controller [here](https://github.com/rook/rook/blob/master/deploy/examples/operator.yaml#L564-L565), it's not a critical service.

[2022-07-05 21:02] reitermarkus commented on #10541
I'm using the Helm chart to deploy it. It seems like there is no `ports` section in https://github.com/rook/rook/blob/release-1.9/deploy/charts/rook-ceph/templates/deployment.yaml. Maybe that's the problem?

[2022-07-05 21:16] travisn commented on #10541
Right, looks like the section is missing from the helm chart:
[code]
So for now you could disable it in the chart with `disableAdmissionController: true`

[2022-07-06 06:20] thotz commented on #10538
@mgugino-uipath : can you please confirm all the rgw pods in the same ceph versions by running `ceph version` from each pod? Is this error happens when you execute `realm pull` from toolbox pod or something? AFAIR the `realm pull` executed from operator pod during reconciliation of `cephObjectStoreRealm`but not sure whether it is executed every time or just during creation. I can check on that par

[2022-07-06 06:29] sp98 commented on #10546
Also wanted to check if starting privileged pods is something that might be helpful in the mean time. See [here](https://github.com/rook/rook/blob/1ae867049b49079b76696e68ee9b8f30216528bd/deploy/examples/operator.yaml#L522)

[2022-07-06 06:35] ningjunwei2 opened #10555 "op-osd: OSD is not ok-to-stop. will try updating it again later"
os ubuntu 20.04. Linux rd-k8s-ceph-test-master-01 5.11.0-49-generic #55-Ubuntu SMP Wed Jan 12 17:36:34 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
kubectl ： v1.23.2

i remove osd.3  osd.4  osd.5 with  https://rook.io/docs/rook/v1.9/Storage-Configuration/Advanced/ceph-osd-mgmt/#purge-the-osd-from-the-ceph-cluster
i dont do  anything   with  osd.0 osd.1 osd.2

but my operator log is：
2022-07-06 14:05:44

[2022-07-06 06:39] sp98 commented on #10555
what is the `ceph status` ouput?

[2022-07-06 09:41] ningjunwei2 commented on #10555
@sp98 ceph status is good,i find the reason ,beacuse i  only set 1 replicate size for a test data，then i remove  that osd.but pg not rm clean . thanks for you reply

[2022-07-06 10:34] ningjunwei2 opened #10557 "dashboard's object gateway 500"
os ubuntu 20.04. Linux rd-k8s-ceph-test-master-01 5.11.0-49-generic https://github.com/rook/rook/issues/55-Ubuntu SMP Wed Jan 12 17:36:34 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
kubectl ： v1.23.2

my ceph dashboard have problem，my object gateway is 500，other panel is ok。

![image](https://user-images.githubusercontent.com/88232846/177530773-a2adde3a-e335-4a71-b79f-f6e6cb6b9bc7.png)
![image](https:

[2022-07-06 11:55] sp98 commented on #10557
@ningjunwei2 Can you try disabling (`dasbhoard.enabled: false`) the dashboard from the cluster CR ?
And once the dashboard is disabled,  enable (dasbhoard.enabled: true`) it again.

The issue looks related to https://github.com/rook/rook/issues/9660

[2022-07-06 11:58] mgugino-uipath commented on #10538
All the rgw pods are the same version.  realm pull works fine, it's run via the operator the first time, there's not normally a need to run it from the toolbox pod.

The problem seems to be, when a 16.x client performs bucket create or modify operations on a 15.x cluster, those buckets get stored with the 16.x format.  Then the RGWs attempt to read that data at some point and are unable to decode

[2022-07-06 13:08] anthr76 opened #10559 "ceph-csi `--extra-create-metadata=true` appears to have no effect"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Consider:

[code]

**Expected behavior:**

ceph to present image metadata of what pvc request the rbd backing image. It would be nice to see which pvc this rbd image belonged to in a DR like scenario.

**How to reproduce it (minimal and precise):**

Deploy rook and expect metadata on rbd images of wha

[2022-07-06 13:11] Madhu-1 commented on #10559
@anthr76 please provide rbdprovisioner yaml output and also csi-rbdplugin logs from the rbdprovisioner pod.

[2022-07-06 15:10] aesca1er commented on #10546
It looks like this only applies to the ceph mon and osd pods. The first issue I have encountered is regarding the securityContext for the csi-discover job.

[2022-07-06 15:44] yaarith commented on #10525
@yehudasa suggests: need to verify that it uses the correct keyring... do these operations manually with the same ceph client and see if it works or fails

[2022-07-06 17:29] thotz commented on #4315
@jhoblitt any update??

[2022-07-06 17:35] jhoblitt commented on #4315
Ugh. I haven't gotten to it yet...

[2022-07-07 01:52] nasirudheen commented on #6374
Any update on this issue ? Is there any plan to implement this feature ?

Thanks !

[2022-07-07 02:23] ningjunwei2 commented on #10557
@sp98 I try disable dashboard.enabled:false, then  I enable true for it . But  it is still the same

[2022-07-07 02:36] ningjunwei2 commented on #10557
is right for the  log  "unable to get monitor info from DNS SRV with service name: ceph-mon" ?

[2022-07-07 17:57] #10473 closed

[2022-07-07 21:35] #10338 closed

[2022-07-08 09:50] szczepl commented on #7731
I'm facing exactly the same issue. OSDs cannot be created on old Gen7 machines, 10 worker nodes have /dev/sdb of 600GB available, but no OSDs are created by rook-ceph :(

+-

[2022-07-08 11:38] telmich opened #10567 "Reduce the bootstrap time"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Reduce the time for a new rook cluster to bootstrap

**What is use case behind this feature:**

At the moment it takes in the area of 20-30 minutes to bootstrap a cluster with 5 mons, 3 osds.
Many times there are waiting times in the operator such as:

[code]

**Environment**:

- kubeadm based
- 1.24.2

[2022-07-08 11:56] hdiass opened #10568 "Nil error during cluster bootstrap"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook ceph operator crashes with following message : panic: assignment to entry in nil map while trying to bootstrap the cluster. Have the same config in other clusters and didn't had any issue.
**Expected behavior:**
Normal bootstrap
**How to reproduce it (minimal and precise):**

**File(s) to submit**

[2022-07-08 12:11] telmich commented on #10567
Following up on this one:

* I upgrade rook to 1.9.7 with the same behaviour, the same cluster is still bootstrapping about 30 minutes later:

[code]

It seems that no quorom was established so far

[code]

[2022-07-08 12:17] quantiphi-adityaraparthi-ayla commented on #9660
I had faced the similar issue when i replaced my failed OSD.. I was able to access all the pages in dashboard apart from daemon,users and bucket which are not loading and getting message as "Page Not Found" , although all those are getting access by s3 client..
Later i restarted the operator then the issue got resolved automatically in sometime..

[2022-07-08 12:21] adityarap commented on #9660
I had the similar issue when i have replaced my failed OSD then Object Storage page does not load in the Ceph dashboard.
Although it can be accessed by using s3 client.. Later i have restarted operator then the issue got resolved automatcially..

[2022-07-08 13:01] parth-gr commented on #10568
Can please you share the operator logs?

[2022-07-08 13:04] parth-gr commented on #10567
@telmich Do you have any ideas that would make it possible,

The above logs say the mon quorum is not achieved so they have to wait till it is achieved,

@travisn cc, can we perform when one mon is ready?

[2022-07-08 13:13] parth-gr commented on #10532
Everything looks okay to me,

Can you do me a favor can you use the service node port https://www.rook.io/docs/rook/v1.9/Storage-Configuration/Monitoring/ceph-dashboard/#node-port
For a sake of testing as it the general works.

[2022-07-08 14:34] #10541 closed

[2022-07-08 15:29] hdiass commented on #10568
[code]

[2022-07-08 17:02] travisn commented on #10568
It's failing on this line, the Selector map must not be initialized:
https://github.com/rook/rook/blob/v1.9.6/pkg/operator/ceph/cluster/mgr/mgr.go#L310

The Selector should be initialized to the labels that rook expects. What does the spec for your mgr services show? Do you have a custom service? I'm suspecting the custom service needs to initialize its selectors (as a workaround until we fix this

[2022-07-08 17:32] travisn commented on #7731
@szczepl You see the same error in the osd prepare log? What release of rook and ceph are you running? Perhaps [this topic](https://rook.io/docs/rook/latest/Troubleshooting/ceph-common-issues/#osd-pods-are-not-created-on-my-devices) would help.

[2022-07-08 17:48] travisn commented on #10568
@hdiass Does that service have the label `app=rook-ceph-mgr`? Rook will only iterate over services with that label in this code path.