[2019-08-10 06:11] mmack commented on #3575
By destruction i mean all deployments of all mons and osds are deleted.
Also the configmaps. Alex has seen it yesterday in a screensharing session.

Am 10. August 2019 01:13:10 schrieb Travis Nielsen <notifications@github.com>:

[2019-08-11 09:08] nktpro opened #3599 "osdsPerDevice config is broken after commit f3ef680"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
osdsPerDevice is broken after this commit:

https://github.com/rook/rook/commit/f3ef680298c8b3da6aa09a52f028ee492cbccf0c

which was due to this change:

https://github.com/rook/rook/commit/f3ef680298c8b3da6aa09a52f028ee492cbccf0c#diff-715ffbe3e68cc184a213d04310c8e811R500

which was a variable scoping b

[2019-08-11 13:26] mvollman commented on #3599
@nktpro My apologies for missing the variable scoping.  I will have a patch up to correct the issue shortly.

[2019-08-11 18:26] #2941 closed

[2019-08-11 20:21] tedder commented on #2526
ceph/ceph/pull/26635 contains a fix for `::8443` causing  the dashboard to barf on startup, however it still only listens to `:::8443`, which is a problem in Kubernetes; it really should be listening to `0.0.0.0:8443`. To see where your dashboard is listening, run something like this:
[code]

In my case I see this:
[code]

You can see this (and the `server_addr` hack-fix) in #2171 and #3334.

Ther

[2019-08-12 03:19] merkinbob commented on #3157
Had same issue here. The version of ceph in the release latest 1.0 branch (ceph/ceph:v14.2.1-20190430) has a bug.

Updated mine to ceph/ceph:v14.2.2-20190722 and seemed to solved the issue.

[2019-08-12 04:18] infa-ddeore commented on #2905
on my mac with `minikube version: v1.3.0` i had to change `vda1` to `sda1`

[2019-08-12 08:58] majian159 opened #3602 "cephosd: 0 ceph-volume osd devices configured on this node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
osd pod not create.

**Expected behavior:**
create osd pod.

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

cluster.yaml
[code]
logs
[code]
 To get logs, use `kubectl -n <namespace> logs <pod name>`
When pasting logs, always surround them with backticks or use the `insert code`

[2019-08-12 09:45] xieyanker commented on #3578
@tripledes I have resolved the problem, My ceph image was based on ubuntu, then I changed it to a centos ceph image, it worked. However, It seems that not same as yours.

[2019-08-12 10:05] mamoit commented on #2587
I was on Friday trying to decommission some of my ceph dedicated nodes, I'm using rook 1.0 and kops 1.12 running on AWS.
I tried cordoning the nodes that I wanted to decommission (one by one, so I never got really past the 1st one), and deleted the MON pods in the node.
This will basically make the operator get stuck while updating the deployment correspondent to the deleted MON.
On Friday night I

[2019-08-12 14:03] yanchicago commented on #3157
@merkinbob Which rook release do you use with ceph v14.2.2?

[2019-08-12 14:15] leseb commented on #3344
@travisn I guess I'm fine with the rational, it's just that things like this: https://github.com/rook/rook/blob/master/pkg/operator/ceph/object/admin.go#L27-L31 could/should be simplified.

The fix, as you said would be to switch some internal variables to prefer Namespace against ClusterName.

[2019-08-12 15:07] BlaineEXE commented on #2587
@mamoit's error message seems to indicate that something is changing the mon-c deployment other than Rook, and Rook should be the only thing modifying its deployments. Does kops do any modifications to deployments?

[2019-08-12 15:08] mamoit commented on #2587
No, it does not.

[2019-08-12 15:26] mamoit commented on #2587
I forgot to state that the operator hangs doing:
[code]
And it does not timeout after 10min neither does it succeed.
Hence my problem tracing to `deployment.go`.

[2019-08-12 15:27] BlaineEXE commented on #3540
Having the udev filtering be configurable seems a good decision to me.

[2019-08-12 15:31] BlaineEXE commented on #3315
@travisn do we know if this is still an issue?

[2019-08-12 15:34] travisn commented on #3315
#3601 will help with performance, but I haven't heard beyond that. @ajarr are you aware of another issue here?

[2019-08-12 15:47] #919 closed

[2019-08-12 15:52] leseb commented on #2640
Shouldn't this be a property of c-v instead of Rook?

[2019-08-12 15:53] leseb commented on #2206
@devyanikota still interested in working on this? If so, then I'd suggest going ahead with @travisn's suggestion. Thanks.

[2019-08-12 16:10] mmgaggle commented on #3132
@bengland2 It appears the osd_memory_target is downwardly adjusted from the container Limit by 80% by default?

https://github.com/rook/rook/blob/9af701c5dc1ca2731de310e387ad14989c214211/pkg/operator/ceph/cluster/osd/spec.go#L52
https://github.com/rook/rook/blob/9af701c5dc1ca2731de310e387ad14989c214211/pkg/operator/ceph/cluster/osd/spec.go#L160-L166

[2019-08-12 16:40] bengland2 commented on #3132
@mmgaggle yeah, but Ceph OSD had been [overriding its osd_memory_target here](https://github.com/ceph/ceph/commit/fc3bdad87597066a813a3734b2a79e803340be36#diff-a9faffcf40600fd57aea5451cef5abe9).   So it didn't matter what rook did.  See [tracker 41037](https://tracker.ceph.com/issues/41037) .

[2019-08-12 17:10] timstoop commented on #919
:tada:

[2019-08-12 17:12] ron1 commented on #3132
@bengland2 Your post is the information I was looking for. Thanks. So indeed, using the rook configmap override mechanism for bluestore osd_memory_target does not work. However, I suspect it does work for for filestore. If so, that would explain the results I have seen with filestore. Are you able to confirm?

[2019-08-12 17:58] dimm0 commented on #3123
Full chown is working as expected, but root folder chown is now still broken

[2019-08-12 17:59] dimm0 commented on #3124
Happens when ceph breaks in the kernel. Probably ok to close, since this needs a node reboot

[2019-08-12 17:59] #3124 closed

[2019-08-12 18:18] travisn commented on #3575
I wonder if this could be related to the ownerReferences change, backported to v1.0.3 with [this change](https://github.com/rook/rook/commit/c7e0eecbede4d0032f4f55d1d68a8ea07d0daf99)

Thought it's still not clear what would trigger the resources to be garbage collected. The only side effects of that issue I've observed is that it fixed the garbage collection in OpenShift, but no change in behavior

[2019-08-12 18:20] travisn commented on #2254
@dimm0 I'm rather baffled why this was working, then stopped when you updated to v1.0.3. There was not change to the flex driver in the release branch (or master) since [this change](https://github.com/rook/rook/pull/3277/commits/05f7e611c7bfe8e382baffa67f487059a1095d1f). Any more clues on your side if this is related to k8s 1.15? Or did you confirm if the fix is still working for you if you go ba

[2019-08-12 18:40] noahdesu commented on #3106
@mumrau thanks! yes, that looks like the correct way to revert the workaround.

CC @jmolmo

[2019-08-12 19:52] Negashev commented on #2254
@dimm0
I think this comes from the fact that some user is launched in the root directory and everything overwrites all rights, setfsGroup A dangerous tool, it demolishes all the settings, you need to use it very carefully, in my cluster I will disable FSGROUP on rook operator.

[2019-08-12 19:53] noahdesu opened #3603 "ceph: ssl port configuration option name change in nautilus"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The dashboard port configuration option in the CRD maps to the Ceph config option `server_port`, but in https://github.com/ceph/ceph/commit/e3f2ede6b39be9ddb109a20c1c25f9f9bdf7e86e there is a separate port option `ssl_server_port` used when SSL is enabled.

See https://github.com/rook/rook/issues/3508

[2019-08-12 19:53] noahdesu commented on #3508
see: https://github.com/rook/rook/issues/3603

[2019-08-12 19:54] noahdesu commented on #3603
@jmolmo

[2019-08-12 20:06] noahdesu commented on #3334
@iMartyn backported into Nautilus https://github.com/ceph/ceph/commit/3fdf6d0b810fb90ba612055553b357ca62108fc4 should be in 14.2.3

[2019-08-12 20:06] noahdesu commented on #3334
CC @jmolmo

[2019-08-12 20:08] noahdesu commented on #3474
The fix for changing the port is being tracked here #3603

[2019-08-12 20:08] noahdesu commented on #3474
CC @jmolmo

[2019-08-12 20:24] travisn opened #3604 "Helm chart missing psp declarations"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The helm chart should install all the resources necessary to run a cluster. With psp enabled it is failing to install with (reported from slack user deng zhou):
[code]

The psp resources are included in [common.yaml](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/common.yaml#

[2019-08-12 21:57] dimm0 commented on #2254
I don't think it would be a good idea to rollback the rook version to check... So I can't really tell which update broke this
The main use case we have for this is Jupyter Notebooks - they always run as user 1000, never root, and new users automatically get a volume created. So when it broke, all new users registrations broke - those volumes belong to root now.

[2019-08-12 22:10] dimm0 commented on #3448
I'm going to add another node to the cluster, and I'm confused what are my options now..
Will all 3 of `databaseSizeMB`, `walSizeMB` and `journalSizeMB` work? I thought those are now combined to a single partition?
Which scheme will be used for a new node?
What size should I choose considering the above?

[2019-08-12 22:14] travisn commented on #3448
@dimm0 With ceph-volume creating the OSD you don't need to worry about those size settings anymore. So no need to specify them in the cluster CR.

[2019-08-12 22:16] dimm0 commented on #3448
How will it slice my NVME then?

[2019-08-12 22:19] merkinbob commented on #3157
@yanchicago ago my issue was exactly like @tibkiss

I was messing around with another storage solution, decided to go back to rook.  Fresh zap on 3 hard drives, fresh install of ubuntu on all 3 nodes and master in my dev cluster.

OS:

[code]

K8 version:

[code]

Rook version:
[code]

CephCluster
[code]

As mentioned above, `ceph/ceph:v14.2.1-20190430` crash looped while `ceph/ceph:v14.2.2-201907

[2019-08-13 01:10] funky81 commented on #2721
Any progress on this on guys?

[2019-08-13 04:22] travisn commented on #2107
With #3451 merged we have most of these changes in place. The one remaining work item is to remove the node selector from mons if backed by PVCs. @noahdesu is there a tracking issue for that?

[2019-08-13 08:07] galexrt commented on #3602
Is `vda` the disk you want to use on the listed nodes?
From the logs the `vda` disk is not empty, you need to wipe it (e.g., `wipefs`) for it to be able to be picked up.

[2019-08-13 08:13] galexrt commented on #3129
I think this would be in some what resolved by current draft PRs: #3554 and #3573.

[2019-08-13 09:01] weisongf commented on #3215
We have the same problem：
ceph-volume-log:
/bin/ceph-osd --cluster ceph --osd-objectstore bluestore --mkfs -i 2 --monmap /var/lib/ceph/osd/ceph-2/activate.monmap --keyfile - --bluestore-block-db-path /dev/ceph-block-dbs-e6b8a104-f95f-4677-9b7a-8b43e4d39944/osd-block-db-4cd22dba-33b5-4182-ab88-01c38573c91b --osd-data /var/lib/ceph/osd/ceph-2/ --osd-uuid a3b85d88-ca8e-4eda-b35e-c05c8b7461b7 --setuse

[2019-08-13 10:15] ajarr commented on #3315
It's recommended to use the CephFS kernel client mounter rather than FUSE client mounter for good performance. Since kernel clients >= 4.17 support quotas and snapshots, https://docs.ceph.com/docs/master/cephfs/kernel-features/#quotas, it's the mounter to use.

There is on-going discussion in the Ceph CSI community to used kernel as the default mounter for CephFS CSI. For now, you can set this by,

[2019-08-13 11:28] sp98 opened #3605 "[OSD on PVC][Enhancement] Replace file operations to update the lvm.conf from "sed" to golang"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Update code to replace the file operations on lvm.conf file from "sed" commands to native golang file handling operations.

**What is use case behind this feature:**
This is a follow up on this PR comment - https://github.com/rook/rook/pull/3451#discussion_r308957614

**Related to:**
Bug #919
PR #3451

[2019-08-13 12:04] #3331 closed

[2019-08-13 12:38] frelon opened #3608 "NodeSelector in operator helm chart only sets nodeSelector for deployment"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When installing rook-operator using helm and setting nodeSelector in the values.yaml file in the following way

`helm install --name rook-ceph rook-release/rook-ceph --namespace storage -f values.yaml`

and the values.yaml as follows:

[code]

The nodeSelector is only set on rook-ceph-operator, not on

[2019-08-13 13:00] christianhuening commented on #2600
ping

[2019-08-13 13:02] rohan47 commented on #2721
No progress as of now @funky81

[2019-08-13 13:03] masantiago commented on #3315
@ajarr, sure. I will give it a try by updating kernel in my VM and using kernel client mounter.

The ceph image version in my deployment was: ceph/ceph:v14.2.1-20190430

Do you recommend using the same ceph and latest rook? Some days ago I tested a recent nautilus ceph version (14.2) with wrong behavior. I did not have time to make diagnostics, but rather not to mix things up.

[2019-08-13 13:11] tripledes commented on #3578
@xieyanker thanks for letting me know, I'll open a new issue

[2019-08-13 13:23] leseb commented on #2600
This was fixed by https://github.com/rook/rook/pull/2901

[2019-08-13 13:23] #2600 closed

[2019-08-13 13:36] sp98 opened #3610 "[OSD on PVC] Integration tests for storage class device sets"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
- Write Integration tests for StorageClassDeviceSets that help create OSDs on top of PVC

[2019-08-13 14:34] leseb commented on #2668
This usually happens when the operator is deleted before the cluster CR. The doc already has a mention of that: https://rook.io/docs/rook/v1.0/ceph-teardown.html

[2019-08-13 14:57] sp98 opened #3612 "[OSD on PVC] OSD fails randomly while running on PVC"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
- While running multiple OSD on top of PVCs, some of the OSD fail randomly.

**Expected behavior:**
- All the OSD should run successfully without failure.

**How to reproduce it (minimal and precise):**
1. Create the cluster environment. (AWS or any local setup with Vagrant).
2. Have Persistence Volume

[2019-08-13 14:59] sp98 commented on #3612
[ceph-volume-logs (2).txt](https://github.com/rook/rook/files/3497568/ceph-volume-logs.2.txt)

[2019-08-13 16:00] BlaineEXE commented on #3595
Closing. Not a bug.

[2019-08-13 16:00] #3595 closed

[2019-08-13 17:49] #2632 closed

[2019-08-13 17:56] netzzer opened #3615 "RBD storageclass name in examples directory needs to be changed to csi-rbd"
The storageclass name in ~/rook/cluster/examples/kubernetes/ceph/csi/rbd in storageclass.yaml and storageclass-test.yaml needs to be changed from 'rook-ceph-block' to 'csi-rbd', This storageclass name is consistent with 'csi-cephfs' and is used in the pod.yaml example in ~/rook/cluster/examples/kubernetes/ceph/csi/rbd.

[2019-08-13 17:59] ajarr commented on #3315
@masantiago, recommend using latest rook and its defaults. A CephFS issue in v14.2.2 was resolved by a temporary fix in rook master. Can you please give it an another try? The ceph-csi project's end to end CI that tests this configuration for basic PV creation and mount has been passing.

[2019-08-13 19:33] travisn opened #3617 "CSI storage class examples missing namespace in provisioner name"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The storage classes for using the csi driver do not include the namespace in the provisioner name. This is for both the rbd and cephfs provisioners:
- [CephFS](https://rook.io/docs/rook/master/ceph-filesystem.html#provision-storage)
- [RBD](https://rook.io/docs/rook/master/ceph-block.html#provision-sto

[2019-08-14 01:38] #3578 closed

[2019-08-14 01:59] #3052 closed

[2019-08-14 03:03] majian159 commented on #3602
Thank you, this is the case, I added a new disk sda, no problem.

[2019-08-14 03:03] #3602 closed

[2019-08-14 05:14] majian159 opened #3619 "ceph slow performance"
cephfs pv 10mb/s,is this normal?
![image](https://user-images.githubusercontent.com/10176784/62995923-421b4a00-be95-11e9-8eff-cdfc53311154.png)
![image](https://user-images.githubusercontent.com/10176784/62995930-4d6e7580-be95-11e9-8502-edc77b7b82b9.png)

[2019-08-14 05:16] Madhu-1 commented on #3619
this is PVC created by cephfs CSI?

[2019-08-14 05:17] majian159 commented on #3619
node > node iperf3 test result:

![image](https://user-images.githubusercontent.com/10176784/62996036-c53ca000-be95-11e9-9a0e-14c7bf4f7d9e.png)

node dd test result:
![image](https://user-images.githubusercontent.com/10176784/62996061-dbe2f700-be95-11e9-9a5a-c800e0c3d4a7.png)

[2019-08-14 05:18] majian159 commented on #3619
@Madhu-1 ye, storageclass yaml is:
[code]

[2019-08-14 05:19] Madhu-1 commented on #3619
@majian159 thanks for the info. is this related to https://github.com/rook/rook/issues/3315 ?

[2019-08-14 05:27] majian159 commented on #3619
thanks, much like, i should update centos7 kernel to >=4.17 and set mounter: kernel?
@Madhu-1

[2019-08-14 05:28] Madhu-1 commented on #3619
yes, look like that's the suggestion.

[2019-08-14 05:42] majian159 commented on #3619
thank you very much, i try.
@Madhu-1

[2019-08-14 06:09] Jawenba opened #3620 "host's status Losted when I tested reboot one host of edgefs cluster!"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
rook detect host is online，the status of edgefs ui data container is  online.
**How to reproduce it (minimal and precise):**

**File(s) to submit**:
1、reboot  host：ros-190-162
2、checked follow these when host was up:
[code]
![image](https://user-images.githubusercontent.com/4796

[2019-08-14 09:41] leseb commented on #3615
It looks like a different approach was taken here: https://github.com/rook/rook/pull/3618/files
I'm closing this, feel free to re-open if you have any more concerns.

Closed by https://github.com/rook/rook/pull/3618

[2019-08-14 09:41] #3615 closed

[2019-08-14 10:22] ajarr commented on #1125
Since https://github.com/rook/rook/pull/3562 merged in rook master, rook master uses Ceph CSI by default to dynamically provision PVs backed by CephFS. Documentation is here,
https://github.com/rook/rook/blob/master/Documentation/ceph-filesystem.md#provision-storage

@travisn ,  should this issue be open until rook v1.1 is released?

[2019-08-14 13:12] leseb commented on #3583
This is tricky, the error looks valid to me since one monitor is down. It's hard to detect that this is an operator restart and we shouldn't be doing anything and simply proceed. Let me look into this.

[2019-08-14 14:59] travisn commented on #3575
Ok, this issue was fixed by #3530, which wasn't backported. This issue will only be hit in clusters where the `name` of the CR is different from the `namespace` of the cluster. See #3530 for more explanation.

[2019-08-14 15:05] christianhuening commented on #3575
@travisn is there an ETA for `1.0.5`?

[2019-08-14 15:12] travisn commented on #3575
Due to the severity of this issue and that the fix has already been verified in master, I'll see if we can get this backported and even release v1.0.5 today.

[2019-08-14 17:58] travisn commented on #3582
@copejon You might try disabling the ceph user chown by commenting out this [pod lifecycle hook](https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/rbd/spec.go#L87) to see if permissions to your custom remote.conf would be affected by the ceph user context.

[2019-08-14 18:20] sabbot opened #3627 "EdgeFS: Add option to force host time into EdgeFS containers"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Additionaly mount host /etc/localtime into EdgeFS containers

**What is use case behind this feature:**
EdgeFS services should use host time/timezone instead of default UTC

**Environment**:

[2019-08-14 20:31] travisn commented on #3575
Fixed in #3623, preparing the release now...

[2019-08-14 20:31] #3575 closed

[2019-08-14 21:16] fannyfan414 commented on #673
how did you solve this problem? i use it with ingress and also get error

[2019-08-14 21:28] #3617 closed

[2019-08-14 23:17] dimm0 commented on #3314
With wrong user the pods fail to terminate, kubelet restart is required

[2019-08-14 23:29] travisn commented on #3575
To be clear, this issue will only potentially hit clusters that have changed either the `name` or the `namespace` where the CephCluster CR is created. If they are both the same, the issue will not be hit. Since the default for both is `rook-ceph` (see the [default example](https://github.com/rook/rook/blob/release-1.0/cluster/examples/kubernetes/ceph/cluster.yaml#L15-L16)), most clusters will not

[2019-08-15 04:18] phantooom opened #3629 "minio support nas gateway"
i want support minio nas gateway.

there are 2 way define crd.
1. user define pvc we only mount pvc to data path.
[code]
2. user only provide nfs info

[code]

 Which do you prefer?

[2019-08-15 08:17] ceyhunn commented on #3133
Hi @jonashartwig, I resized the pvc 10GB to 12GB. Pod works fine, but kubectl pvc shows me 10GB. Is it ok?
![Screenshot from 2019-08-15 12-15-19](https://user-images.githubusercontent.com/5506156/63082173-963a3300-bf56-11e9-81cc-942035b8394f.png)

[2019-08-15 13:13] RiaanLab commented on #3580
Same here
K8s 1.13.3 and rook 1.02

[2019-08-15 16:50] noahdesu commented on #3580
fyi @yanchicago use three single quotes instead of one when pasting logs: ``` ```

[2019-08-15 16:54] yanchicago commented on #3580
@noahdesu Any additional log you need?

[2019-08-15 16:58] noahdesu commented on #3580
@yanchicago no, sorry if i wasn't clear. in your post it is difficult to read the log output because you've used inline-style single quotes. using three single quotes will retain the new lines.

[2019-08-15 17:23] dimm0 commented on #3133
Yup, that's fine. It doesn't matter much after it's been allocated.

[2019-08-15 19:01] mmgaggle opened #3632 "OSD on PV breaks topologyAware"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

If toplogyAware is set to true in the cluster-on-pvc.yaml example, kubernetes topology information is not reflected in the crush map.

**Expected behavior:**

If toplogyAware is set to true in the cluster-on-pvc.yaml example, kubernetes topology information should be reflected in the crush map.

Presu

[2019-08-15 20:05] screeley44 commented on #3582
adding more info here for tracking, from my remote clusters toolbox, I can do a `ceph status` to cluster1 passing in a remote.conf and remote.client.admin.keyring file and get correct information:

from cluster2 to cluster1
[code]

From cluster1 to cluster2:
[code]

[2019-08-15 20:15] screeley44 commented on #3582
btw...the last comment is from a new cluster - using latest yaml files (common.yaml, operator-openshift.yaml and cluster.yaml). Just to show I have proper connectivity it appears. I do have one working mirror cluster(s) that I was able to mirror successfully, but trying to reproduce on new clusters and can't. getting the original error posted here for `can not read ceph conf permission denied`

[2019-08-15 21:33] #3627 closed

[2019-08-15 22:19] BlaineEXE opened #3635 "Ceph CSI -pidlimit flag "not defined" error"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
`csi-cephfsplugin-provisioner` and `csi-rbdplugin-provisioner` containers fail with message
[code]

**How to reproduce it (minimal and precise):**
Install Rook master using default `operator.yaml` and `cluster.yaml`.

**File(s) to submit**:
**Environment**:
* OS (e.g. from /etc/os-release): openSUSE Le

[2019-08-15 23:09] markprice commented on #1565
I have the same issue.  I'm using rook and ceph in a kubernetes cluster.

The mountPath has 6 files:
02cfa04add7de40a56cdce2435dad7733c2f86ece3a1940cb2589adaf5b5f73b-stdin   init-stderr
02cfa04add7de40a56cdce2435dad7733c2f86ece3a1940cb2589adaf5b5f73b-stdout  init-stdin
config.json                                                              init-stdout

df -T shows:
tmpfs                tmpfs

[2019-08-15 23:45] dimm0 commented on #3448
@travisn what's the current scheme for journals? I'd like to check it did the right thing after I add a node..

[2019-08-16 02:29] jbw976 commented on #3629
hey there @phantooom! super cool that you are interested in [Minio NAS Gateway](https://docs.min.io/docs/minio-gateway-for-nas.html) support.

The Minio spec is already using the common Rook `StorageScopeSpec`, which includes a variety ways of selecting the underlying storage that Minio will use.  More details can be found in the [Minio docs](https://rook.io/docs/rook/v1.0/minio-object-store-crd.h

[2019-08-16 02:57] #3512 closed

[2019-08-16 03:10] phantooom commented on #3629
i see thx.

[2019-08-16 06:09] galexrt commented on #3635
Interesting to see this after #3565 is already merged since two days.
Is there a Ceph CSI release that needs to be done for it to work? @Madhu-1

[2019-08-16 06:11] Madhu-1 commented on #3635
@BlaineEXE do you have latest docker image in your environment?

[2019-08-16 08:05] tarjintor opened #3636 "[rook/nfs example]In pvc.yaml resources.resources.resources=1Mi，but in fact use all nfs server storage"
I use the nfs example
It works but with a bug
when I enter busybox pod run 'df -h'
find
`10.110.169.40:/nfs-ceph-claim      1.9G      6.0M      1.9G   0% /mnt`
but in pvc.yaml
[code]

it only request 1Mi storage
===================================
My guess is nfs not support request.storage,but I'm not sure

I also have some doubt

As my understanding,kubernetes design storage class and pvc to dif

[2019-08-16 09:28] majian159 commented on #3619
I upgraded the kernel to 5.x to solve this problem. If you use cephfs in a low kernel version, you can only use flexvolume.
RBD volume has no such troubles.

[2019-08-16 09:28] #3619 closed

[2019-08-16 09:55] masantiago commented on #3315
I'm working on the test. After dealing with some issues for the kernel, I managed to do it:
[code]
Now I'm facing the installation of rook:

- **helm installation**: from the release branch dated 2019-08-14T22:57:07.000Z
[code]
- **ceph**: from the image ceph/ceph:v14.2.2-20190722

But, how do I install the csi plugins if used the helm package? The documentations seems to be no update as it refers

[2019-08-16 10:03] masantiago commented on #3619
@majian159 , did you install csi plugin using helm? Can you advise?

[2019-08-16 10:46] masantiago commented on #3315
It seems that helm from master and from release are totally different right? I moved to release because version 1.0.5 was bigger than that of master 1.0.0. It made me some confusion.

As far I read, the master branch has CSI activated by default, and then there is no need any plugin.

I look forward to hearing from your comments.

[2019-08-16 10:55] ajarr commented on #3315
@Madhu-1 any ideas?

[2019-08-16 11:26] ajarr commented on #3315
Yeah, the naming is confusing. Master definitely is the latest. Can you use the image,
rook/rook:v1.0.0-409.gbfe867e ?

v1.0.5 doesn't have the commits to set up the CSI driver by default

Correct.
https://github.com/rook/rook/commit/0a3fbf62f37ee9

[2019-08-16 14:25] masantiago commented on #3315
Done.
[code]

csi cephfs plugin is running
[code]

Unfortunately, something is missing in terms of RBAC permission as the containers inside the provisioner are complaining all the time:

[code]

That prevents from any PVC to work. Thank you very much for all your help!

[2019-08-16 14:35] ajarr commented on #3315
@masantiago , can you post your deployment issues on rook's slack  (and join #ceph-csi channel there) ? You'll have more eyes on your issue, and better responses.

https://github.com/rook/rook/blob/master/README.md#contact

[2019-08-16 17:27] masantiago commented on #3315
Ok. I have already suscribed to the channel and waiting replies...

BUT.. **I've got it!** I found a problem in helm construction of the master package. In template clusterrole.yaml, line 207, there is a if-clause :

[code]
that, IMHO, should finish in line 237. Otherwise, there are many cluterrole's that are not created with the defaults. If not, please let me know the **mountSecurityMode** that

[2019-08-16 18:04] mmgaggle opened #3639 "Dynamic MDS pinning by PVC node topologyKeys"
**Is this a bug report or feature request?**
* Feature Request

Dynamically pin an affine MDS to the filesystem leaf corresponding to the failure-domain of the node the PVC is being bound to.

**What should the feature do:**

Rook-Ceph could provision MDS pods per failure-domain (eg. zone). The CSI provisioner could then use topologyKeys from the CSINode object to statically pin an affine MDS to t

[2019-08-16 20:27] mmgaggle commented on #3332
Similarity, the `failure-domain.beta.kubernetes.io/zone` toplogyKey should be an option here.

[2019-08-17 07:04] christianhuening commented on #3327
well aside from the ENV flag i am having the same issue as @chh315 in that my OSDs are not updated. Mons and MGR are updated, but OSDs are not.
The operator in DEBUG mode just has a lot of
`op-cluster: Skipping cluster update. Updated node node-7.<redacted> was and it is still schedulable`

Any ideas?

[2019-08-17 07:12] christianhuening commented on #3136
@erikjanhofstede you godlike person! Thanks a lot!

[2019-08-17 07:30] christianhuening commented on #3136
so for me the orchestrator orchestrates the changes away again...
What can we do about it?

[2019-08-17 10:32] AliMD opened #3640 "[BUG]: All OSDs (in special node) failed after restart a node!"
We are using Rook Ceph in production and need urgent support, Thanks in advance.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After restarting a node, all OSDs are failed (CrashLoopBackOff) and marked as down in Ceph. In other words, after restarting the nodes we lose the Ceph cluster!

**Expected behavior:**
OSDs should have a normal state afte

[2019-08-17 10:34] AliMD commented on #3640
This is not a duplicate issue, I double-check all related issue and it's different because all OSDs down every time I restart a node!
And we use container base os!

[2019-08-17 10:37] AliMD commented on #3640
My `1-operator.yaml` if needed

[code]

[2019-08-17 11:04] AliMD commented on #3640
Am I need https://rook.io/docs/rook/master/container-linux.html ?
I used kubctl drain manually.

[2019-08-17 11:14] willipreuk commented on #2541
Any new updates? Or tipps how to get data out of the PVCs?

[2019-08-17 18:38] AliMD commented on #3640
manual `lvscan` on host

[code]

[2019-08-17 18:48] AliMD commented on #2591
I think I have the same problem, any solution? #3640

[2019-08-17 19:06] AliMD commented on #3640
After many searches, Problem solved after `sudo vgchange -ay` on the host ssh and delete OSD pods!
Any automatic solution?
Why OSD doesn't `vgchange -ay` automaticaly?

[2019-08-17 19:49] iExalt commented on #3491
Getting the same error when manually deleting PV. For some reason, PVCs even with the reclaim policy of Delete will never delete their PVs, requiring manual cleanup which then leads to this bug.

[2019-08-18 10:11] #2607 closed

[2019-08-18 10:55] AliMD commented on #3640
@galexrt I really appreciate for your time and support.
In container Linux OS like CoreOS and RancherOs and etc, we don't have `lvm-*.service` and `use_lvmetad = 0` in the config.
Could you please make any automatically process for fix this issue?
And update [common-issues](https://github.com/rook/rook/blob/master/Documentation/ceph-common-issues.md) document until that?
Thank you in advance

[2019-08-18 13:19] smirnov-mi commented on #3370
I have the same issue. I use rook-ceph (pretty much as-is settings) on k8s and I had one mgr pod. Since it crashed, it's not able to come up again and it's not even possible to run "ceph status" on the operator.

[2019-08-18 15:14] albertdb commented on #2959
Bad bot. Don't close.

[2019-08-18 18:46] tombarron commented on #3200
Is this a *raw* block volume [1] ? Since k8s 1.13 raw block volumes which have no filesystem on them are supported.  These can be "mounted" RWX  -- there is no filesystem and it's up to the users to access them by offset rather than POSIX path and to coordinate among themselves to avoid corruption and races.  Admittedly this is different than the general purpose RWX access supported by NFS, Gluste

[2019-08-18 21:02] kd7lxl commented on #3522
Thanks for this report. I'm seeing the same behavior with microk8s installed via snap. The paths differ and need to be overridden. Where is `/var/lib/kubelet/pods` defined? I can't figure out where to override it.

[2019-08-18 21:47] dimm0 commented on #3200
I'm talking about the ceph RBD devices, which can only be written to by a single client, and get corrupted on simultaneous writes

[2019-08-19 10:56] zwindler commented on #3370
Same issue for me. I used the quickstart manifests in the rook/cluster/examples/kubernetes/ceph folder

Pod showing the issue

[code]

Last logs from the pod

[code]

From k8s events

[code]

Removing the liveness from the deployment as a workaround seems to be working (I can query the ceph cluster)

[code]

[2019-08-19 12:22] rohantmp commented on #3577
The managed PDBs PR #3596 will introduce a pattern within rook to shift controllers to switch from informers to controller-runtime controllers.

[2019-08-19 13:54] leseb commented on #3612
Could it be that it's trying to provision an already provisioned OSD?

The following is strange:

[code]

So OSD 3 is requested but somehow 7 is used for some operations.

[2019-08-19 14:32] mjrepo2 commented on #2785
We are seeing the same problem with Rook 1.0.4 and Ceph 14.2.2

`NAME                                    READY   STATUS             RESTARTS   AGE    IP             NODE      NOMINATED NODE   READINESS GATES
rook-ceph-agent-8lmgd                   1/1     Running            0          105m   10.98.0.34     wmd-xs3   <none>           <none>
rook-ceph-agent-gdwgx                   1/1     Running

[2019-08-19 14:39] mjrepo2 commented on #3157
We are seeing the same problem with Rook 1.0.4 and Ceph 14.2.2 with HostNetwork: True

NAME READY STATUS RESTARTS AGE IP NODE NOMINATED NODE READINESS GATES
rook-ceph-agent-8lmgd 1/1 Running 0 105m 10.98.0.34 wmd-xs3
rook-ceph-agent-gdwgx 1/1 Running 0 105m 10.98.0.35 wmd-xs4
rook-ceph-agent-sk484 1/1 Running 0 105m 10.98.0.33 wmd-xs2
rook-ceph-mds-myfs-a-788446d966-j6rg9 1/1 Running 5 89m 10.98.0

[2019-08-19 14:54] aperullo opened #3646 "Ceph Teardown - Deleting the data on hosts"
The [Ceph teardown ](https://github.com/rook/rook/blob/master/Documentation/ceph-teardown.md#delete-the-data-on-hosts) docs say that `In the future this step will not be necessary when we build on the K8s local storage feature.`

What is the status of this and what does this mean exactly, and how would one utilize this to not have to manually scrub the filesystem?

[2019-08-19 15:28] travisn commented on #3332
@anguslees What anti-affinity did you end up using for the mds daemons? Agreed that `requiredDuringSchedulingIgnoredDuringExecution` would be optimal here.
@ashishranjan738 @sp98 @umangachapagain Could one of you take a look at this?

[2019-08-19 16:26] #3136 closed

[2019-08-19 18:03] #3605 closed

[2019-08-19 18:09] travisn commented on #3646
@aperullo That comment was based on the feature described in #919 where the OSDs would be backed by PVs. This feature just merged a few days ago, so the comment you found in the docs can be clarified now.

If the OSDs are backed by PVs, the cleanup of the PVs would be dependent on the PV reclaim policy. In theory you could just delete the PVs and they would be cleaned up by automatically by their

[2019-08-19 18:26] #3127 closed

[2019-08-19 20:07] aperullo commented on #3646
Oh well that is good to hear. Still, reading through that doesn't give me a clear idea of exactly what that pr means for the manual clean up step. How would I configure my rook storage class to have this automatic cleanup? Thanks

[2019-08-19 20:26] #3156 closed

[2019-08-19 20:28] #3327 closed

[2019-08-19 20:31] travisn commented on #3646
There are two different storage classes to consider:
1. The Rook storage class, which allows you to consume the Ceph storage. This will be the storage classes in rook documentation, such as [here](https://rook.io/docs/rook/master/ceph-block.html). During cleanup, the pods consuming the rook storage class should be removed before Rook is deleted. Otherwise, your pods will hang trying to connect to

[2019-08-19 21:36] travisn commented on #3517
This was fixed by #3373

[2019-08-19 21:36] #3517 closed

[2019-08-19 23:38] travisn commented on #3448
@dimm0 From slack conversation... Since you're on v1.0.x and nautilus, rook will call `ceph-volume` to create the OSDs instead of using its own partitioning scheme. I understand that `ceph-volume` will create LVs on the `metadataDevice` for the db/wal, divided proportionally depending on the number of (spinning) data devices. @alfredodeza correct?

[2019-08-20 06:16] travisn opened #3648 "CRUSH map should have option to be based on nodes for OSDs on PVs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
When OSDs are based on PVs, the CRUSH map currently uses the name of the PVC in place of the host. This has the assumption that the OSDs will be portable across hosts. For example, in AWS or VMWare, the devices are not tied to a node and could move with the pod during maintenance.

However, in some scen

[2019-08-20 08:34] rohan47 commented on #3612
@leseb thanks, we did not notice that OSD 3 is requested and 7 is being used.
Will look into it.

[2019-08-20 09:04] rohantmp commented on #3632
@jarrpa @rohan47 @sp98 @ashishranjan738 this is urgent.

[2019-08-20 11:40] alfredodeza commented on #3448
Just the block.db will be divided proportionally unless the bluestore_block_db_size gets changed in ceph.conf or on the CLI. It defaults to "as large as possible". Also note that *journals* have nothing to do with bluestore, so setting a size for journal will not do anything for block.db

[2019-08-20 11:41] alfredodeza commented on #3448
If data is spilling over, you must go through proper sizing. In Bluestore this is documented here: https://docs.ceph.com/docs/master/rados/configuration/bluestore-config-ref/#sizing for the minimum requirements you should have to avoid spilling over

[2019-08-20 13:38] sp98 commented on #3612
@leseb could this just be case of mangled ceph-volume logs on that node. I actually couldn't see the `/var/lib/ceph/osd/ceph-7/` created in the corresponding `provision` container when I `exec` into it.

[2019-08-20 13:42] prsurve opened #3651 "OSD pods went into crashloopbackoff when pvc are deleted"
**Is this a bug report or feature request?**
* Bug Report

**Observed behavior:**
deleted all pvc, and osd pods went in crashloopbackoff

**Expected behavior:**
PVC should not get deleted rook should prevent deletion

**How to reproduce it (minimal and precise):**

oc create -f common.yaml
oc create -f operator-openshift.yaml
oc create -f cluster-on-pvc.yaml

oc delete pvc --all

[2019-08-20 13:55] Confusingboat opened #3652 "All non-rotational devices consumed as metadataDevice when only one was specified"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Ceph consumes all flash devices for block.db and wal when one specific device was configured as a `metadataDevice`.

**Expected behavior:**
Rook should configure Ceph to only use the device specified for block.db/wal.

**How to reproduce it (minimal and precise):**
Create a Rook Ceph cluster with two (

[2019-08-20 13:58] travisn commented on #3211
@petr-balogh The only documentation for the operator env vars is in the operator.yaml.

Closing this issue since the csi driver is enabled now by default and the operator-openshit-with-csi.yaml was removed.

[2019-08-20 13:58] #3211 closed

[2019-08-20 14:13] sebastian-philipp opened #3653 "Missing CRD valiation for storageClassDeviceSets"
The `CephClusterCRD` doesn't have a openAPI validation specification. Not having this specification is probably going to block the Ceph orchestrator from creating those from Ceph. See

See https://github.com/ceph/ceph/pull/29427 and #3534

@rohan47 , is this something for you?

[2019-08-20 14:14] guits commented on #3539
From what I'm understanding this can even happen when upgrading from nautilus v14.2.0 or v14.2.1 to v14.2.2, right?

[2019-08-20 14:16] aperullo commented on #3646
Ah I see, point 1 is clear. I didn't realize there were two things called storage class.

My confusion with point 2 probably stems from my lack of familiarity with how rook works under the hood. The field that the PR adds support for is for the custom resource, so is the configuration for it [this field?](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml

[2019-08-20 14:18] dimm0 commented on #3448
Is it possible to use several NVME devices for DB?

[2019-08-20 14:19] alfredodeza commented on #3448
Yes. If you create them all at once, ceph-volume will create one VG with all of them. This might not necessarily be what you want though. You can by-pass this behaviour by matching devices with an nvme and running several times

[2019-08-20 14:35] travisn commented on #3448
In Rook, if you specify `metadataDevice` as the nvme, rook will call c-v once with that device and all the other devices on the node at the same time. A change would be needed in rook if we would need to support data devices each having a db on separate nvme.

[2019-08-20 14:47] dimm0 commented on #3448
Is this possible in rook?

[2019-08-20 15:01] slieer opened #3654 "quay.io/k8scsi/csi-snapshotter:v1.1.1 not found"
**[root@serv20 ceph]# git config -l**
core.repositoryformatversion=0
core.filemode=true
core.bare=false
core.logallrefupdates=true
remote.origin.url=https://github.com/rook/rook.git
remote.origin.fetch=+refs/heads/*:refs/remotes/origin/*
branch.master.remote=origin
branch.master.merge=refs/heads/master
[root@serv20 ceph]# git branch
master
**[root@serv20 ceph]# git pull**
Already up-to-date.
**[ro

[2019-08-20 15:22] rohan47 commented on #3653
@ashishranjan738 can you have a look at this?

[2019-08-20 15:23] BlaineEXE commented on #2587
Yes. The deployment already exists, because Rook has previously created it, but when it goes to update it, the one in Kubernetes has changed from what Rook has created somehow according to the `the object has been modified`. It's not clear to me how the deployment is different. It would be helpful to get the output from `kubectl -n rook-ceph get -o yaml deployment rook-ceph-mon-c` when you are see

[2019-08-20 15:26] BlaineEXE commented on #3635
I don't know. Possibly not, but the user shouldn't have to manually update images to get a working environment. How can we make sure this doesn't happen for users?

[2019-08-20 15:31] galexrt commented on #3635
@BlaineEXE as far as I can tell, that is right now becuase `quay.io/cephcsi/cephcsi:canary` is used.
For `1.1` and already hopefully soon `master` that `canary` will be changed to, e.g., `v1.0.0` (and increased on every Ceph CSI release).

[2019-08-20 16:53] Confusingboat commented on #3640
@AliMD I solved this problem on Rancher OS by adding this to my cloud-config:
[code]

[2019-08-20 16:53] travisn commented on #3654
@slieer What build of rook were you using? I believe this has been fixed in master. If needed, you can override this to use a different property [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L167)

[2019-08-20 17:04] travisn commented on #3448
@dimm0 no, i believe we would need some changes to support this. @mvollman has been making changes in this area, he could correct me if i'm missing something.

[2019-08-20 17:08] travisn commented on #3646
Correct, point 2 is based on the volume claim templates that you referenced.

[2019-08-20 17:15] travisn commented on #3652
@Confusingboat This issue is known that we don't have a good way to instruct c-v on which device should be used for the db/wal.
@mvollman Could you take a look at this? Thanks!

[2019-08-20 17:18] dimm0 commented on #3448
https://github.com/rook/rook/pull/3213 this has been merged already

[2019-08-20 17:19] travisn commented on #3651
There isn't a way to prevent deletion of K8s resources currently. If the admin issues a delete command, it will be deleted. We need support at the K8s for this feature. Here is a related request: https://github.com/kubernetes/kubernetes/issues/10179

[2019-08-20 17:26] travisn commented on #3612
@sp98 Were these the pod logs? If so, they should be independent between the different pods, so it is certainly suspicious to see both osd 3 and 7 in the logs

[2019-08-20 18:36] mvollman commented on #3652
As of ceph version 14.2.1, c-v now includes `--db-devices` and `--wal-devices` args that could be used to explicitly set `metadataDevice`, but older versions of ceph would not have support for these.  Does it make sense to use the args when available and default back to the current behavior for older ceph versions?

You are correct the node level databaseSizeMB config is currently ignored and only

[2019-08-20 18:50] mvollman commented on #3448
Yea #3213 will allow you to specify a `metadataDevice` per each OSD on a node.  It only accepts a single string argument, it does not currently allow for a list of metadata devices.

[2019-08-20 19:52] Confusingboat commented on #3652
I may be out of line here, but I think having the `metadataDevice` option available but no functional support for it (as is the current case) is rather silly. I think a more transparent option would be to bifurcate how metadata devices are handled based on Ceph version, and add a new, more generic config setting to the effect of `useAllNonRotationalDevicesForMetadata: true|false` that all supporte

[2019-08-20 22:29] dimm0 commented on #3448
Any estimate on when this could be implemented? I need to expand the storage, but would rather wait to add a node with multiple NVMEs...

[2019-08-20 22:37] travisn commented on #3652
@Confusingboat Rook's support for metadataDevice is currently:
- metadataDevice can be specified per device (1:1)
- metadataDevice can be specified with multiple data devices (1:n)

If metadataDevice isn't specified, one OSD will be created per device, with db/wal/data all on the same device.

To specify multiple db/wal devices we do need a newer version of ceph and a change in rook as @mvollman m

[2019-08-20 23:29] slieer commented on #3654
OK, thanks.

[2019-08-20 23:30] jeffvance opened #3655 "Add admin documentation for ceph bucket provisioning"
Related to #3067

Beyond the design doc (intended audience is developers), we need documentation for admins. Either we could add a new section to the ceph-object.md page, or a new page just below this in the TOC that discusses creating buckets. The yamls mentioned in the ceph-examples.md are a start, but the user really needs more info. Some of this design doc could even be moved/copied to the doc

[2019-08-20 23:42] travisn opened #3656 "OSD PVC lookup is slow for large clusters"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Related to #3633 as seen in [this comment](https://github.com/rook/rook/pull/3633#discussion_r315376832), the lookup of PVCs corresponding to an OSD can be slow for large clusters. This is an infrequent operation, but since it's n^2 we would be looking at a slow loop if we had hundreds or thousands of

[2019-08-21 02:02] Confusingboat commented on #3652
@travisn I think there may be a little confusion here; I understand the supported scenarios, and my intention was to leverage a single db/wal device, not multiple (1:n using an Intel P3700, which should be supported). The reason I created this issue is because Rook is not executing the config as described by the documentation.

The documentation states that a single device will be used for metadat

[2019-08-21 05:44] travisn commented on #3652
@Confusingboat Aha, thanks for the clarification. Yeah, we definitely need to get this fixed to use the new ceph-volume options. Otherwise, ceph-volume makes the decision on its own about which volume(s) to use for the db/wal.

[2019-08-21 09:28] sebastian-philipp opened #3660 "Further CRD Validation with Kubernetes 1.14"
Yaml has an unfortunate property that different empty values have different meanings:

1. ```yaml
    spec:
      storage:
[code]
3. ```yaml
    spec:
      storage: {}
[code]

* 1 and 2 are identical.
* 3 will set `spec.storage` to the empty object
* 4 will omit the `storage` key altogether.

Before 1.14, there is no way to properly validate case 1 and 2. 1.14 adds a way to mark those keys as `nu

[2019-08-21 10:23] rohantmp commented on #3648
Additional requirements for CRUSH and OSD:

- The OSD should be labeled with the value if it's portable or not.
- The OSD should expose in the label which failure domain it's in.

[2019-08-21 12:49] sp98 commented on #3612
@travisn These were the logs created on `/var/lib/rook/log` on the host

[2019-08-21 12:50] leseb commented on #3612
Could be.

[2019-08-21 13:22] #3654 closed

[2019-08-21 14:43] travisn opened #3662 "yum install fails from the ceph toolbox"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When attempting to install packages in the rook-ceph toolbox, it fails with the following error:
[code]

**Expected behavior:**
Should be able to add packages during development to the toolbox. In particular, `s3cmd` is mentioned in the rook docs for consuming object storage.

**How to reproduce it (mi

[2019-08-21 17:08] vinayjain15 commented on #3127
Re-opening the issue ..

I am using  image: ceph/ceph:v14.2.2-20190722

There is nothing in the logs, operator is running fine and no entry in operator log for the claim.
I was able to create volume and mount using rbd directly in toolbox pod

in osd log there is an entry stating: osd.2 10 set_numa_affinity unable to identify public interface 'eth0' numa node: (2) No such file or directory

pvc ha

[2019-08-21 17:31] vinayjain15 opened #3664 "pvc pending waiting for a volume to be created, either by external provisioner "rook-ceph.rbd.csi.ceph.com" or manually"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
pvc pending  waiting for a volume to be created, either by external provisioner "rook-ceph.rbd.csi.ceph.com" or manually created by system admin
**Expected behavior:**
pvc should be bound
**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release): RHEL 7
* Kernel

[2019-08-21 19:07] yevgenypats opened #3665 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-21 19:16] aperullo commented on #3646
I can't seem to get that example working based on the new documentation [here](https://github.com/rook/rook/blob/master/Documentation/ceph-cluster-crd.md#storage-class-device-sets)

[code]

The mgr is reporting

[code]
Only after this did the OSD-prepare jobs show up. This makes it seem like the mgr isn't waiting long enough for the osd's to appear but I'm really not sure. It seems to work fine if

[2019-08-21 19:34] mmgaggle commented on #1796
Relatedly, we should use anti-affinity placement features by failure-domain labels. Basically the same issue as #3332 this, but for MGR vs MDS.

[2019-08-21 20:14] dmick commented on #3662
The root cause is that containers based on released ceph should not refer to chacra repos.   Why the code creates such an image is not yet clear.

[2019-08-21 22:59] noahdesu opened #3667 "ceph/mon: use kubernetes scheduler for monitor placement"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Monitor pods--when possible--should avoid using the node selector so that, for instance, monitors running on PVCs may migrate without relying on heavyweight failover mechanisms. When a node selector is required (e.g. when using HostPath storage), the k8s scheduler should still be used to make the place

[2019-08-21 23:10] dmick commented on #3662
So this https://docs.ceph.com/docs/master/rbd/iscsi-target-cli-manual-install/ sort of makes it seem that the various packages are not available, or not in late-enough versions, from normal repos.  That might mean the only option is from ceph builds, but it still doesn't explain why the repos aren't hosted on download.ceph.com.

[2019-08-21 23:31] dmick commented on #3662
@dillaman, any ideas?

[2019-08-22 00:17] dimm0 commented on #3448
I was thinking, can't I create a VG myself and give it to rook? @mvollman

[2019-08-22 00:18] dillaman commented on #3662
The container is pointing to a "latest" available build [1], but chacra only keeps a few around. Therefore, the container needs to be rebuilt so that it pulls the latest and greatest as a short-term. Longer term, we need to do an official release of the ceph-iscsi 3.x to download.ceph.com so that the ceph-container project can just point to it instead of chacra.

[1] https://github.com/ceph/ceph-c

[2019-08-22 00:32] dmick commented on #3662
Yeah, I was aware of the latest avail problem, but more asking about "is it expected we don't have a release of ceph-iscsi and friends".  This is kind of a weird intermediate ground.

[2019-08-22 00:35] dillaman commented on #3662
It is indeed a weird intermediate ground -- just needs to be built and copied over there.

[2019-08-22 00:58] dmick commented on #3662
Who's responsible for that?

[2019-08-22 02:00] dillaman commented on #3662
Good question? If you can figure it out, here is the last official release repo [1] where the RPMs can get signed and copied over to download.ceph.com.

[1] https://3.chacra.ceph.com/r/ceph-iscsi/3/ec80bb1cc8b288b40bc35e03e4ba4c60daced938/centos/7/flavors/default/

[2019-08-22 03:50] Madhu-1 commented on #3664
@vinayjain15 can you provide rbd provisioner logs, just want to make sure everything is fine with rbd csi provisioner

[2019-08-22 05:32] #2979 closed

[2019-08-22 10:12] sp98 commented on #3612
so I got the separate logs for each of the OSD prepare POD:

Scenario:
 - 1 Node
 - 6 pvc on that node.
 - Trying to create 6 OSDs on the 6 block mode PVC on this single node.

 2 out of 6 OSD prepare pod failed.

 log details:
 - ceph-volume-logs-set1-0.txt
 - ceph-volume-logs-set1-1.txt
 - ceph-volume-logs-set1-2.txt
 - ceph-volume-logs-set1-3.txt  (Failed)
 - ceph-volume-logs-set1-4.txt
 - ceph

[2019-08-22 11:49] alfredodeza commented on #3612
To me this looks telling:

[code]

The first line talks about /var/lib/ceph while the second one mentions /var/lib/rook/rook-ceph. I guess this is a symlink since ceph-volume doesn't deal with custom paths. How is this symlink created and by what? Rook? what are the permissions there?

If this failure is inconsistent, can we get some clarification on how the symlink process is done? ceph-volume wi

[2019-08-22 12:24] dillaman commented on #3662
... I pinged David Galloway this morning to see if he can help sign and move the RPMs over.

[2019-08-22 12:29] leseb commented on #3662
Once RPMs move to download.ceph.com we can do the appropriate changes in the container image.

@djgalloway FYI. ^

[2019-08-22 12:32] dillaman commented on #3662
@leseb I wonder if it makes sense in the container image to add "enabled=0" for those ceph-iscsi related repos (at least for python-rtslib and tcmu-runner since we shouldn't be hosting third-party tools on "download.ceph.com" and they would still be pointing to chacra).

[2019-08-22 13:03] sp98 commented on #3612
Just to add to this point,  I  do see the same behavior with the other PODs (ceph-volume-set1-0.txt, ceph-volume-set1-2.txt) that ran successfully.

[2019-08-22 13:10] alfredodeza commented on #3612
It is fine in the sense that it worked elsewhere and not in this case. My point is that this looks like a race in which *something is creating this symlink* and the permissions are not right when that happens at the time when it is needed, so again, i would like some clarification on how that is done to take a closer look and see if *that process* needs to be done better.

I don't know what ceph-v

[2019-08-22 13:18] sp98 commented on #3612
sure. Right now I'm also not aware of how this is happening in rook. Let me check on this and get back to you.

[2019-08-22 13:42] #3332 closed

[2019-08-22 13:45] leseb commented on #3640
@AliMD do you mind send a doc PR for RancherOS? Thanks.

[2019-08-22 14:00] mleklund commented on #3465
fwiw I see a similar behavior, but when I query the config of my OSDs they have `osd_objectstore = bluestore` set.   Seems global is being set to filestore, but individual osds are being set to bluecore.

[2019-08-22 14:04] leseb commented on #3465
I tracked it down like a month ago but haven't had the time to fix this yet.

[2019-08-22 14:15] echel0n opened #3671 "Unable to use separate external network post-cluster creation"
Using the latest Rook v1.0.5 and hostNetwork set to true with the following override config below I am not able to get the OSDs to find an IP to bind to, I'm using Flannel for my CNI, any ideas ?

[code]

Environment:

Rook version (use rook version inside of a Rook Pod):
v1.0.5

Kubernetes version (use kubectl version):
[code]

[2019-08-22 17:42] #3177 closed

[2019-08-22 18:24] #3599 closed

[2019-08-22 22:44] travisn commented on #3646
The OSDs are created after the mgr is started, so you can ignore those messages in the mgr until the OSDs come up. Or maybe I'm missing what error you're referring to.

The helm chart only configures the operator. Everything related to the Ceph cluster is really in the cluster.yaml, which is not part of the helm chart.

Yes, I believe that's true, but I can't say I've tested the local provisioner

[2019-08-22 23:08] vinayjain15 commented on #3664
ah my bad .. i was supposed to use flex storageclass..

[2019-08-22 23:08] #3664 closed

[2019-08-23 02:52] cameronbraid opened #3674 "EdgeFS Operator Missing RBAC"
* Bug Report

Cluster is unable to start due to the following rbac grants missing in clusterrole rook-edgefs-global - unable to create services, statefulsets and deployments

So I patched the following and added services next to persistentvolumeclaims

[code]

Then I had to add the following

[code]
I may have added verbs that aren't needed, just coppied an existint list

* Cluster CR (custom reso

[2019-08-23 02:55] cameronbraid opened #3675 "EdgeFS missing readiness and liveness check scripts"
* Bug Report

Missing readiness probe in ```rook-edgefs-target-1```

[code]

Missing Liveness probe in ```ook-edgefs-mgr-977dd6578-kdttm```

[code]

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
[code]

* Operator's logs, if necessary

[code]

**Environment**:
* Rook version (use `rook version` inside of a Rook Pod):

```v1.0.5```

* Kubernetes version (use `kubectl

[2019-08-23 03:11] cameronbraid commented on #3675
Sorry, I was using the wrong image versions from latest.. changing to the correct version fixed it.

[2019-08-23 03:11] #3675 closed

[2019-08-23 03:45] cameronbraid opened #3676 "edgefs-system/rook-edgefs-cluster: serviceaccount "rook-edgefs-cluster" not found"
* Bug Report

Cluster is unable to start due to the following error starting the host prepare job pod

[code]

Workaround that seems to work is

```kubectl -n rook-edgefs-system create serviceaccount rook-edgefs-cluster```

However does this service account also need to be bound to rook-edgefs-global ClusterRole ?

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
[code

[2019-08-23 06:01] travisn commented on #3612
Since there is a permissions error I wonder if this could be related to running as the ceph user.

@leseb The `PodLifeCycle()` execution happens after the pod is started and timing is unpredictable, right? As an experiment it might be worth disabling that and just running as root. You'd need to remove the args `--setuser ceph --setgroup ceph` from running the osd as well.

@sp98 I'd suggest lookin

[2019-08-23 07:44] Liuxiayu opened #3677 "osd ip"
Hello, everyone. I want to know a question: in terms of storage of ceph, if osd pod goes down, will the IP or host name of this osd change when the osd pod is restored? How does rook know that he is the original osd pod that went down?

[2019-08-23 07:51] Liuxiayu opened #3678 "osdip"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

**What is use case behind this feature:**

**Environment**:

[2019-08-23 07:52] #3678 closed

[2019-08-23 08:02] sash2727 opened #3679 "Ceph Operator unable to read rbac policies and refuses to start up mon pods."
Hi!

I have been running into an issue with my rook-ceph-operator on my Openshift cluster, trying to start up the mon pods but they are failing with this following error. Can someone please assist me and tell me what might be going on with my cluster and the issue I am seeing?

[code]
Here is the information that I think may be useful to help me debug this:

**Environment**
OC version
[code]
*Here

[2019-08-23 08:06] sash2727 opened #3680 "Ceph Operator unable to create mgs and osd pods but creates mon pods"
Hi!

I have been running into an issue with my rook-ceph-operator on my Openshift cluster, trying to start up the mon pods but it does not start up the osd or the mgr pods. Can someone please assist me and tell me what might be going on with my cluster and the issue I am seeing?

[code]
Here is the information that I think may be useful to help me debug this:

**Environment**
OC version
[code]
*Th

[2019-08-23 08:06] #3679 closed

[2019-08-23 08:58] zanhsieh opened #3681 "Rook should look for node labels to customize which devices should be used for OSDs"
Hi,

I tried to combine nodeAffinity and nodes.[*].devices together but without success:

https://github.com/rook/rook/blob/master/Documentation/ceph-cluster-crd.md#node-affinity
https://github.com/rook/rook/blob/master/Documentation/ceph-cluster-crd.md#storage-configuration-specific-devices

My scenario is, I built my k8s cluster with KOPS on AWS. I decided to create an instancegroup (ig) dedicat

[2019-08-23 10:08] evrardjp commented on #3477
If this is a duplicate, should we close it?

[2019-08-23 13:08] leseb commented on #3662
@dillaman makes perfect sense, I'll send a PR to disable the repos using chacra once the packages have been installed. That'll prevent further issues in the future.

[2019-08-23 13:18] dillaman commented on #3662
FYI -- new repo is ready @ http://download.ceph.com/ceph-iscsi/3/rpm/el7/noarch/

[2019-08-23 13:31] leseb commented on #3662
@dillaman can you confirm that ceph-iscsi 3 works with at least Nautilus and that for Octopus we should use `https://shaman.ceph.com/api/repos/ceph-iscsi/master/latest`? Thanks!

[2019-08-23 13:32] dillaman commented on #3662
@leseb Yes, using v3.x for Nautilus and pointing to the latest ceph-iscsi master for the in-development Octopus sounds good-to-me.

[2019-08-23 13:43] leseb commented on #3662
@dillaman as far as I can tell 2 things seem incorrect:

* https://download.ceph.com/ceph-iscsi/2/rpm/el7/ceph-iscsi.repo does not exist in ceph-iscsi 3
* https://download.ceph.com/ceph-iscsi/2/rpm/el7/ceph-iscsi.repo points to latest which points to ceph-isci 3

We need ceph-iscsi with its own ceph-iscsi.repo file I suppose.

[2019-08-23 13:50] travisn commented on #3677
@Liuxiayu The OSDs are tied to a device with an ID. When the OSD starts, it knows its ID for the device and reports this to the mons. If the hostname or IP for the OSD has changed, this is also reported and updated to the system. Thus, it is handled if the OSD hostname or IP changes.

[2019-08-23 14:20] txg1550759 commented on #2917
I also had problems with OSD disks in the KVM virtual machine raw format.

Whether XFS or ext4 volumes report superblock errors, pod can not mount pvc, and then k8s can not identify whether the volume is formatted or not

In the next few seconds or so, the pod volume mounted PVC successfully

k8s:v1.14.1
system: centos7.5
kernel :5.2.8-1.el7.elrepo.x86_64 #1 SMP Fri Aug 9 13:40:33 EDT 2019 x86_64

[2019-08-23 14:21] txg1550759 commented on #2917
I also had problems with OSD disks in the KVM virtual machine raw format.

Whether XFS or ext4 volumes report superblock errors, pod can not mount pvc, and then k8s can not identify whether the volume is formatted or not

In the next few seconds or so, the pod volume mounted PVC successfully

k8s:v1.14.1
system: centos7.5
kernel :5.2.8-1.el7.elrepo.x86_64 #1 SMP Fri Aug 9 13:40:33 EDT 2019 x86_64

[2019-08-23 14:30] txg1550759 commented on #2917
### pod can not mount pvc
I also had problems with OSD disks in the KVM virtual machine raw format.

Whether XFS or ext4 volumes report superblock errors, pod can not mount pvc, and then k8s can not identify whether the volume is formatted or not

In the next few seconds or so, the pod volume mounted PVC successfully

## system
k8s:v1.14.1
system: centos7.5
kernel :5.2.8-1.el7.elrepo.x86_64 #1 SMP

[2019-08-23 14:31] mumrau opened #3683 "Ceph dashboard not showing rbd provisioning status"
* Bug Report

**Deviation from expected behavior:**
The `rbds` on the ceph dashboard are not showing usage.
![image](https://user-images.githubusercontent.com/14805850/63599965-f36f5d80-c5c2-11e9-80a3-b27cd2729e28.png)

**Expected behavior:**
On the other hand, `rbd --pool ony-of-my-pools du` shows perfect disk usage and provisioning state, including used storage.
I would expect the dashboard to s

[2019-08-23 16:05] BlaineEXE commented on #3640
@jan--f does it make sense to add the functionality in `ceph-volume` to run `vgchange -a y` if it doesn't find the VGs?

[2019-08-23 16:23] mvollman commented on #3652
I have a patch nearly ready that will implement `--db-devices` for ceph versions 14.2.2 and newer.   I have a few more scenarios to test before I create the PR.

[2019-08-23 16:33] leseb commented on #3612
@travisn yes but I don't think the permission denied is the root cause here, but we can definitely give it a try. I've seen that error before and AFAIR it's harmless.

[2019-08-23 19:22] travisn commented on #3583
I see this as a critical issue for production and blocker for v1.1. I just hit this again in my test environment when testing mon failover. While my repro was contrived (deleted a mon deployment), in a production cluster a mon could be down for another reason.

An important point to consider is that it is common for the operator to run an orchestration even though something unrelated changed. The

[2019-08-23 23:58] jeffvance opened #3685 "Add unit tests for ceph bucket provisioning"
#3067 brings ceph-rgw bucket provisioning to rook and includes (greenfield) integration tests.
Unit tests need to be created.

[2019-08-24 00:01] jeffvance opened #3686 "Add "brownfield" integration tests for ceph bucket provisioning"
#3067 brings ceph-rgw bucket provisioning to rook and includes greenfield integration tests.
Brownfield, meaning buckets already exist tests need to be created.

[2019-08-24 00:03] holoGDM opened #3687 "OSDs are not starting on previous usad disks"
Hello

I created rook stack with operator one time but there was some unexpected behaviousr with mounting pvses. After that i removed all installation to try with newst version of rook - 1.0.5. Before next install I cleaned used raw  disks with:

[code]

But during second deployment of rook operator and cluster creation OSD started only on one previously not used server. After we clean again that

[2019-08-24 04:33] echel0n commented on #3671
I ended up having to manually add "hostNetwork: true" to each OSD deployment spec and change the dnsPolicy from "ClusterFirst" to "ClusterFirstWithHostNet".

After doing the above I was able to delete the OSD pods and confirm that the OSDs were infact using a public and private IP address derived from my external 10Gb network.

I would of expected these changes to have been automatically applied b

[2019-08-24 11:02] nabokihms commented on #2530
I think we need to keep the issue opened because of the pull request above.

[2019-08-24 14:35] laevilgenius commented on #3132
I have similar stalls and apparently they only happen when I'm using `fstype: xfs`.
(`v1.0.0-403.gdd7a82f` / `v14.2.2-20190722`)

[2019-08-24 23:05] echel0n commented on #3687
`sudo sgdisk --zap /dev/sdX` and remove the osd folder from `/var/lib/rook`

[2019-08-25 10:28] #2162 closed

[2019-08-25 13:11] jedblack commented on #2865
Also seeing this error on K8S 1.14.5 with cri-o 1.14.10

[2019-08-25 18:53] stekylsha commented on #3207
This is a request to include the minimum size limitation for xfs volumes in the rook documentation.  Is there a better place to document it?

[2019-08-25 20:59] yarokifor opened #3690 "Rook fails to bring up CephNFS"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook fails to bring nfs server from CephNFS CRD.

**Expected behavior:**
Rook brings up a nfs server that can be consumed.

**How to reproduce it (minimal and precise):**
`kubectl apply -f cephnfs.yaml`
See gist for cephnfs.yaml file.

**File(s) to submit**:

All related files are located in the gist:

[2019-08-25 22:10] DennisGlindhart commented on #3219
I found this by searching and matching error messages and I might experience the same underlying issue - At least there is some match of symptoms, which might help track the actual issue down.

I'm trying to create simple test-cluster from scratch with only directory and no raw disks ( Basically just  Quickstart TL;DR from the docs ).

[code]
After last command mgr-a + mon-a is starting and in the

[2019-08-26 09:06] leseb commented on #3207
@stekylsha the Rook doc is good place for this, do you mind sending a pull request for this? Thanks.

[2019-08-26 09:18] leseb opened #3691 "Add integration test for External Cluster"
We need to add tests in the test framework to validate the external cluster functionality.

[2019-08-26 09:19] leseb opened #3692 "Simplification of the addOrRemoveExternalMonitor()"
Just like mentioned here: https://github.com/rook/rook/pull/3346/files#r315985710, it'd be better to translate the mon query to ClusterInfo.

[2019-08-26 09:28] liuyongqing1 opened #3693 "RuntimeError: could not find osd.0 with fsid"
yes
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Server abnormal shutdown，Rook failed to anticipate using an already existing disk，

**Expected behavior:**

Rook should use the previous disk

**How to reproduce it (minimal and precise):**

I don't

**File(s) to submit**:

![image](https://user-images.githubusercontent.com/13477384/63680503-688e9

[2019-08-26 09:43] #3662 closed

[2019-08-26 09:44] leseb commented on #3662
Waiting for a new container build now.

[2019-08-26 13:17] #2621 closed

[2019-08-26 13:26] albertdb commented on #3225
Bad bot. Don't close.

[2019-08-26 14:05] leseb commented on #3588
Which image are you looking at? If you use  `ceph/ceph:v14.2.2-20190722`, you will see the right version.

[code]

We don't have Ubuntu images AFAIK.
I'm closing this, feel free to re-open if you have any more concerns.

[2019-08-26 14:05] #3588 closed

[2019-08-26 14:18] leseb commented on #3583
@travisn working on it!

[2019-08-26 17:00] karmab opened #3697 "ceph csi side car containers not started"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
when deploying a ceph cluster, csi pods dont appear

**Expected behavior:**
csi pods should be running

**How to reproduce it (minimal and precise):**

deploy rook and a ceph cluster

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs

[2019-08-26 17:32] travisn opened #3699 "Ceph CSI liveness sidecar is failing"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The liveness sidecar is failing in the csi driver. From the pod description, it is terminating iwth exit code 2, but no error message. The pod description shows the following:
[code]

See the full pod description here:
[liveness-pod-description.txt](https://github.com/rook/rook/files/3542162/liveness-p

[2019-08-26 20:27] #3697 closed

[2019-08-26 20:36] iMartyn commented on #3132
@laevilgenius unfortunately, whilst I have just taken the time to convert all my PVCs from xfs to ext, the unrecoverable stall we see is mostly using cephfs, which doesn't actually care what your PVCs are formatted as because it just mounts `-t ceph`

[2019-08-26 20:37] iMartyn commented on #3132
@travisn Do you know if there's a recent image built containing the backport that we can test yet?

[2019-08-26 20:55] iMartyn commented on #3132
Excellent, I'll give that a whirl.

[2019-08-26 21:16] #3529 closed

[2019-08-27 02:28] Liuxiayu commented on #3677
Ok, thank you.In terms of ceph storage, how does PVC map to osd? What is osdmap generated from?

[2019-08-27 05:38] #3699 closed, assigned to nobody

[2019-08-27 07:02] letsmailshiv commented on #2917
I am also facing same issue issue.

2019-08-27 06:50:39.530671 I | flexdriver: calling agent to attach volume replicapool/pvc-5e65d113-c896-11e9-a628-06d52c681ac3
2019-08-27 06:50:39.539833 I | ceph-volumeattacher: volume replicapool/pvc-5e65d113-c896-11e9-a628-06d52c681ac3 is already attached. The device path is /dev/rbd19
2019-08-27 06:50:39.579562 I | flexdriver: E0827 06:50:39.567845    7160 m

[2019-08-27 09:02] gbonazzoli opened #3706 "rook-ceph-tools container exposes the physical host"
The problem is very simple to reproduce:

We have a Rook installation running smoothly:

`
root@kube-master:~# kubectl get pods -n rook-ceph

NAME                                      READY   STATUS      RESTARTS   AGE
....
rook-ceph-tools-7cf4cc7568-jjwb6          1/1     Running     3          2d
....
`

If we enter in rook-ceph-tools-7cf4cc7568-jjwb6 we have:

`
root@kube-master:~# kubectl exec

[2019-08-27 09:07] leseb commented on #3706
You can remove this https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/toolbox.yaml#L31-L32 and the container won't be privileged anymore.

I don't see this as a bug since the behavior can always be modified at will.

[2019-08-27 10:09] Ebrithil95 commented on #3132
@iMartyn i just testet with `ceph/daemon-base:latest-nautilus-devel` and still got the hungs after throwing some io load (multiple fio containers) at the cluster.
Can you confirm that the latest image doesn't fix the issue?

[2019-08-27 12:06] rjasper-frohraum commented on #3318
My system showed similar symptoms. The `rdb` command got stuck because I misconfigured the auth entry for `client.kubernetes`. However, the cause might not be the same since `--id admin --key=<admin key>` worked just fine in my case.

[2019-08-27 19:29] champtar opened #3709 "Rook Ceph fails when requested storage is too small"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Doing simple test to confirm that my rook deployment is working, I was trying to start a busybox container and do a simple touch in a 1Mi PVC

Container is stuck with FailedMount event
[code]

**Expected behavior:**
It works

**How to reproduce it (minimal and precise):**
[code]
Everything work until r

[2019-08-27 21:34] DonAndrey opened #3713 "Error when I try to set up an external cluster"
There is an error when I execute kubectl create -f cluster-external.yaml. I get an error that says: validation failure list: spec.mon in body is required.
A workaround is to add mon: to the cluster-external.yaml, but it is supposed that you it should work without the mon: property.

[2019-08-28 01:59] dimm0 opened #3714 "Default features for RBD volumes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I'm looking at rbd volumes created by rook. They all have `features: layering` only. (`rbd info ...`)

If I create a new volume by hand, it's created with all latest features:

[code]

**Expected behavior:**
RBD volumes created with recent features

**How to reproduce it (minimal and precise):**
Creat

[2019-08-28 03:50] liuyongqing1 commented on #3693
anybody help？ @travisn

[2019-08-28 08:01] christianhuening commented on #3652
not sure i am reading this right. So there's no patch coming for ceph 13.2.x ?

[2019-08-28 09:22] Madhu-1 commented on #3518
@travisn can we close this one?

[2019-08-28 10:35] christianhuening commented on #1499
Was it a decision to not do that? Or did it just went stale?

[2019-08-28 11:07] galexrt commented on #1499
It just went stale.

On the other hand from Ceph side, the kernel client and / or fuse client depending on which is used (e.g., with Ceph CSI both are possible if I remember correctly) needs to implement that as far as I know.

[2019-08-28 11:28] Bessonov commented on #1228
Activity!

[2019-08-28 11:39] #3216 closed

[2019-08-28 12:14] melnik13 opened #3718 "CSI RBD Plugin can't connect to the monitors"
**Bug Report**
Either I'm doing something wrong, or v1.0 has certain difficulties with the CSI drivers... :-(

**Expected behavior:**
CSI RBD Provisioner should provision an RBD

**Deviation from expected behavior:**
CSI RBD Provisioner doesn't provision an RBD

**How to reproduce it (minimal and precise):**
It seems that it's enough to follow the documentation when trying to set up the CSI RBD Pr

[2019-08-28 13:09] melnik13 commented on #3718
Ah, I've almost figured it out.

I should have added the `parameters.monitors` parameter to my storageclass manifests, something like that:
[code]
Also I shouldn't have encode the key of the `admin` user if I create the secret with `--from-literal`.

Now everything works fine, but I'd like to ask a couple of questions if anyone doesn't mind.

1. I added the list of monitors to the storageclass, th

[2019-08-28 13:15] Madhu-1 commented on #3718
@melnik13 your question will be addressed with rook master

with rook master mons will be updated by the rook, user don't need to mention monitors in the storage class, only he needs to mention the clusterID, which inter a key  to the mon list on the configmap maintain by the operator if a mon is deleted the config map values are updated

with rook master no need to create a user, secret will be a

[2019-08-28 13:25] melnik13 commented on #3718
Yes, I'm testing CSI with v1.0 (v1.0.5, to be exact).

How soon these features will be released in a stable version?

[2019-08-28 13:50] stephan2012 commented on #2517
When the filesystem on the rbd is mounted, does it have the `_netdev` mount option set? If not, can you remount with this option followed by `systemctl daemon-reload` and check if shutdown works correctly then?

I remember a similar problem with an NFS mount which was resolved after adding the `_netdev` flag because the filesystem is then handled by systemd's `remote-fs.target` instead of `local-f

[2019-08-28 14:26] AsherShoshan opened #3719 "k8s ceph.rook.io/block does not support block volume provisioning"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
PVC created

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs

[2019-08-28 14:59] stephan2012 commented on #2517
`_netdev` was not invented by systemd, but is available also by SysV init. So chances are that it helps for most systems.

@champtar: Thanks for testing!

[2019-08-28 18:11] #3714 closed, assigned to nobody

[2019-08-28 18:41] BlaineEXE opened #3720 "Existing NFS resources aren't orchestrated on operator restart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The Rook operator doesn't orchestrate existing NFS resources when the operator is restarted. `upCephNFS` is only called `onAdd` and `onUpdate`.

**Expected behavior:**
It should get called from `StartWatch` as well. (all in `pkg/operator/ceph/nfs/controller.go`)

**How to reproduce it (minimal and prec

[2019-08-28 22:44] BlaineEXE commented on #3720
I think I may have been seeing a manifestation of something else when doing my testing. The `onAdd` hook does seem to fire when the watcher is started. Closing this.

[2019-08-28 22:44] #3720 closed

[2019-08-29 00:21] #3648 closed

[2019-08-29 00:57] #3713 closed

[2019-08-29 01:41] 904715872 opened #3722 "Common.yaml file does not work after deployment .Version is 1.0.5"
kubectl describe  -n rook-ceph crd cephclusters.ceph.rook.io
 Last Transition Time:  2019-08-28T11:06:06Z
    Message:               [spec.validation.openAPIV3Schema.properties[spec].properties[cephVersion].type: Required value: must not be empty for specified object fields, spec.validation.openAPIV3Schema.properties[spec].properties[dashboard].type: Required value: must not be empty for specified

[2019-08-29 06:18] #3722 closed

[2019-08-29 06:26] 904715872 commented on #3722
My yaml format is wrong

[2019-08-29 09:13] melnik13 opened #3726 "Can't attach a PV created by a CSI driver, cannot find NodeID for driver "rbd.csi.ceph.com" for node "***""
*Bug Report*

**Expected behavior:**
A PV should be attached to a container

**Deviation from expected behavior:**
A newly-created PV isn't being attached to a container

**How to reproduce it (minimal and precise):**
It seems that it's enough to follow the documentation when trying to set up the CSI RBD Provisioner. :-)

**Environment**:
* OS (e.g. from /etc/os-release):
`CentOS Linux release 7.6

[2019-08-29 09:17] melnik13 commented on #3718
To be frank, I'm not just testing it, going to use it in production. Am I mad? :-)

[2019-08-29 09:20] Madhu-1 commented on #3726
@melnik13 can you provide logs from the node-plugin from worker2, check all csi pods are in  running state

[2019-08-29 09:27] Madhu-1 commented on #3718
@travisn can give info on next rook release

[2019-08-29 09:34] Madhu-1 commented on #3312
closing this as its  fixed

[2019-08-29 09:34] #3312 closed

[2019-08-29 09:35] melnik13 commented on #3726
Thank you for your attention to this issue!

All the pods are running:
[code]

Here is the log of the `csi-rbdplugin` container of the `csi-rbdplugin-7fnc5` pod (running on the `worker2` node):
[code]

Here is the log of the `driver-registrar` container of the same pod:
[code]

[2019-08-29 09:37] melnik13 commented on #3726
I'd also like to add the log of the `csi-rbdplugin-attacher` container of the `csi-rbdplugin-provisioner-0` pod:
[code]

It seems that it's a permissions-related matter, am I right?

[2019-08-29 09:41] Madhu-1 commented on #3726
yes, next was to check attacher, as you pointed  out that the  issue can you add below to the provisioner roles

[code]
and check

[2019-08-29 10:06] melnik13 commented on #3726
I've done that.

If I'm not wrong, this is clusterrole `rbd-external-provisioner-runner-rules`, right?

I edited `/cluster/examples/kubernetes/ceph/csi/rbac/rbd/csi-provisioner-rbac.yaml` and added the following stansa:
[code]

Applied this file and got the following:
[code]

Now this clusterrole has the following:
[code]

But the problem hasn't gone. The pod still can't run (of course, I recreate

[2019-08-29 10:12] melnik13 commented on #3726
By the way...

`kubectl api-resources` shows that there is no `csi.storage.k8s.io` in my cluster. But I have `csinodes.storage.k8s.io`:
[code]

When I do `kubectl get csinodes.storage.k8s.io` (as the cluster administrator), I see the following:
[code]

Should `csinodeinfos.csi.storage.k8s.io` be present in the output of `kubectl api-resources`?

Thanks.

[2019-08-29 10:14] Madhu-1 commented on #3726
@melnik13, in that case, can you update  to `csinodes.storage.k8s.io` and check

[2019-08-29 10:15] Madhu-1 commented on #3726
updated my las comment it should be `storage.k8s.io`

[2019-08-29 10:21] melnik13 commented on #3726
I've done that, the `rbd-external-provisioner-runner-rules` clusterrole now has this:
[code]

But the attacher still tries to address to the `csinodeinfos.csi.storage.k8s.io` and I'm getting the permission error too:
[code]

So we have to fix the attacher, right? Or I have to add the `csi.storage.k8s.io` API to my cluster somehow, right?

[2019-08-29 10:28] Madhu-1 commented on #3726
one last thing is can you update the `external-attacher` to `v1.2.0` as you are using kube 1.15+

[2019-08-29 10:50] melnik13 commented on #3726
I'll gladly do that. Would you be so kind as to point me to any manual on how to do that? Sorry if this question seems a bit stupid.

[2019-08-29 11:01] Madhu-1 commented on #3726
as you already having the cluster, just edit the statefulset object and change image

[2019-08-29 11:16] kshlm opened #3727 "ceph: osd-prepare pods not getting scheduled when using StorageClassDeviceSets"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

In a CephCluster with OSD configured using StorageClassDeviceSets, the osd-prepare jobs do not get scheduled. This is preventing the osds from starting, and from the cephcluster coming up.

**Expected behavior:**

The pods should get scheduled and started, to allow actual osd pods to start and the clu

[2019-08-29 11:17] kshlm commented on #3727
cc @travisn

[2019-08-29 11:17] melnik13 commented on #3726
Yes, that's exactly what I did, thank you.

Well... Something has changed. :-) I've modified the image tag (`v1.2.0`) and also I had to change the `rbd-external-provisioner-runner-rules` clusterrole again, as I needed to give these permissions:
[code]

And the new attacher says that:
[code]

Sounds good, right? No error messages, as I can see...

But the pod is still unhappy with that:
[code]

It

[2019-08-29 11:24] Madhu-1 commented on #3726
you need to provide the secret you have used  for your testing and `rbd auth ls`  output from toolbox pod if possible

[2019-08-29 11:28] rohan47 opened #3728 "Ceph status showing node name instead of PVC name in `ceph osd status` command"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Not sure if this the expected behaviour or not.
When OSDs are based on PVCs and are portable, the exepected behaviour is to have host name as the name of the PVC.
when running `ceph osd status` command in the Rook ceph toolbox we get the following output
[code]
While running `ceph osd tree` command we

[2019-08-29 11:29] rohan47 commented on #3728
@liewegas Is `ceph osd status` independent of crush hostname?

[2019-08-29 11:41] melnik13 commented on #3726
Yes, sure.

Here's my `csi-rbd-secret`:
[code]

And here's my `ceph auth ls`:
[code]

As per `rbd auth ls` - alas, `rbd` says that it doesn't recognize these parameters, so it seems it was a typo.

[2019-08-29 11:55] rohan47 commented on #3728
@travisn Hope I am not missing any info here

[2019-08-29 12:01] Madhu-1 commented on #3726
the issue seems to be with storage class
[code]

if you look at the v1.0.5 example we don't have `clusterID` in storage class and even we don't have node stage secret, can you follow the v1.0.5 examples?

[2019-08-29 12:21] melnik13 commented on #3726
Thank you, I've changed the storageclass, removed the `parameters.clusterID`, now it looks like that:
[code]

Alas, it didn't help, I see the same:
[code]

[2019-08-29 12:24] Madhu-1 commented on #3726
you need to use node-publish secret instead of node stage secret in storageclass

[2019-08-29 12:42] melnik13 commented on #3726
Oh, I'm sorry, that was my fault!

Now the `csi-rbd` storageclass looks like that:
[code]

That's what happens with the pod:
[code]

The `csi-rbdplugin` container in the `csi-rbdplugin-9g7fp` pod now says that:
[code]

It doesn't have `ceph.conf`, why can it be?

Thank you!

[2019-08-29 13:03] Madhu-1 commented on #3726
[code]
acutal issue is rbd connection timeout during rbd mapping

[2019-08-29 13:25] melnik13 commented on #3726
I tried to connect to all the monitors (`rook-ceph-mon-a.rook-ceph.svc:3300`, `rook-ceph-mon-b.rook-ceph.svc:3300` and `rook-ceph-mon-c.rook-ceph.svc:3300`) from this pod, and all of them reply with the following:
[code]

At the same time, there are several lines in the log that concern me:
[code]

Can the timeout be caused by the authentication failure?

[2019-08-29 13:28] leseb commented on #3709
Typically, this kind of issues is handled via [limit ranges](https://kubernetes.io/docs/tasks/administer-cluster/limit-storage-consumption/#limitrange-to-limit-requests-for-storage) (`kind: LimitRange`).

It's up to you to configure your infrastructure not to allow block PVC < 1GiB for example. In this case, Rook via Flex only tries to honor the desired PVC request but is not responsible the Claim

[2019-08-29 13:28] #3709 closed

[2019-08-29 13:34] Madhu-1 commented on #3726
this issue is fixed with csi recently. related to logging.

no idea about it, have you manually tried mapping rbd image in the container?

[2019-08-29 14:24] melnik13 commented on #3726
In the freshly-created `csi-rbdplugin` container I didn't have `/etc/ceph/ceph.conf` and `/etc/ceph/keyring`, so I even couldn't do `rbd ls`. That's what I got in reply:
[code]

OK, I took these files from `rook-ceph-operator`, here are their contents.
`/etc/ceph/ceph.conf`:
[code]
`/etc/ceph/keyring`:
[code]

Now I'm able to do `rbd ls` from the `csi-rbdplugin` container and `rbd map` works too.

[2019-08-29 14:32] leseb opened #3731 "Handle cluster updates for external cluster"
Currently, the external cluster feature is really strict on the Ceph version, it'll fail if the specified image has a different version from the external cluster. Currently it has to be identical.
This obviously brings an upgrade issue. The external cluster must be upgraded before, no matter what.
At least, to prevent issues where the external cluster got upgraded to a different minor version let'

[2019-08-29 14:37] melnik13 commented on #3726
So, the pod-consumer shows the following (I've just recreated it):
[code]

OK, it's assigned to the `worker1` node, so I go to the `csi-rbdplugin` of the `csi-rbdplugin-8pvkp` pod that works on the same node. We know that it tries to map the `pvc-325fc0ed-8ec5-40c9-94c1-ff6a7ff6d742` RBD, but it can't. OK, that's what I do next. I go to this container and do the mapping manually (`rbd map pvc-325f

[2019-08-29 14:58] Madhu-1 commented on #3726
we do have `etc/ceph/ceph.conf` in rbd plugin

[code]

[2019-08-29 15:02] melnik13 commented on #3726
Hmmm... Somewhy I don't see `ceph.conf` in the `/etc/ceph` directory of the freshly-created container. :-( Image is `quay.io/cephcsi/rbdplugin:v1.0.0`.

[2019-08-29 15:04] Madhu-1 commented on #3726
I think it added  after  v1.0.0

[2019-08-29 15:05] melnik13 commented on #3726
So, shouldn't it be fixed in the rook-1.0.6?

[2019-08-29 15:08] melnik13 commented on #3726
Also can I ask about `/etc/ceph/keyring`? It's absent too... How is it being put there?

[2019-08-29 15:15] Madhu-1 commented on #3726
the above-mentioned issues are  fixed in cephcsi:v1.1.0
with cephcsi v1.0.0 no one reported this issue (not sure why  you are hitting it)
@humblec can confirm

for rook part @travisn is the best person to answer

[2019-08-29 15:29] melnik13 commented on #3726
I deployed Rook Ceph Operator v1.0.5 (did `git checkout v1.0.5` before to deploy it). So, the version of Ceph CSI is set by its manifest: https://github.com/rook/rook/blob/v1.0.5/cluster/examples/kubernetes/ceph/operator-with-csi.yaml

Should I use another version of Rook Ceph Operator?

Thank you!

[2019-08-29 15:43] #3583 closed

[2019-08-29 16:50] travisn commented on #3718
v1.1 is planned for release around Sept 10th. Stay tuned! CSI was marked as experimental in v1.0 so it isn't recommended to go to production in that release. The main challenge is that there may be issues upgrading later.

[2019-08-29 16:55] #3727 closed

[2019-08-29 18:26] #3472 closed

[2019-08-30 01:04] #2834 closed

[2019-08-30 01:37] Liuxiayu opened #3733 "pvc to pool"
hello everyone, I want to know how does PVC map to Pool? Can you tell me more about it ?

[2019-08-30 03:16] 904715872 commented on #3536
i get the seem  result，Have you solved it there?

[2019-08-30 07:45] #3521 closed

[2019-08-30 07:49] #3652 closed

[2019-08-30 08:26] iMartyn commented on #3132
So having moved the PVCs from xfs to ext I have not experienced a hang since but I have not had time when I can make this cluster unavailable to push a high load in so I'm not confident this has completely fixed it but it _does_ seem to have made an improvement.

[2019-08-30 13:48] alialshamali opened #3735 "Edgefs no matches for kind "NFS""
* Bug Report
Error in creating NFS target, CRD not found.
`error: unable to recognize "Desktop/bug_out/rook/rook-edgefs/nfs/infra-nfs.yml": no matches for kind "NFS" in version "edgefs.rook.io/v1"`

The manifest I use to create nfs target.
[code]

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
[code]
* Operator's logs, if necessary
[code]

**Environment**:
* OS (e.g.

[2019-08-30 14:10] mrmassis opened #3736 "cmd reporter"
Hi everyone.
After enable the graylog in the lab my cluster broken. I tried delete and create a new cluster but it was unsesufull. The follow error message apper to me when I try create a cluster.

"op-cluster: unknown ceph major version. failed to extract ceph version. failed to parse version from: Error response from daemon: configured logging driver does not support reading"

I read that the pr

[2019-08-30 14:28] travisn commented on #3652
@alfredodeza is the flag `--db-devices` already backported to mimic, or planned for backport? If so, what version would include it? If so, we could update the rook version check to include that version of mimic for this feature.

[2019-08-30 14:34] alfredodeza commented on #3652
It was added to mimic in December of last year (https://github.com/ceph/ceph/commit/0c645faa845) so the most recent mimic release should have it.

[2019-08-30 14:36] travisn commented on #3448
This is a low risk backport for 1.0

[2019-08-30 14:44] leseb commented on #3736
The cmd-reporter was introduced during the 1.1 cycle so in order to get it you need to upgrade your operator to 1.1 once released.

[2019-08-30 14:44] #3736 closed

[2019-08-30 16:04] kshlm opened #3740 "ceph: mgr pod fails scheduling"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavio

r:**

When a CephCluster is created with following placement config for the mgr pods (full cluster manifest is attached below), the ceph-mgr fails to get scheduled.

[code]

The operator logs the failure as,
[code]

**Expected behavior:**

The mgr pod should be scheduled.

**How to reproduce it (minimal a

[2019-08-30 16:08] obnoxxx commented on #3740
@travisn @leseb FYI

[2019-08-30 16:09] kshlm commented on #3740
The CephCluster was created by the ocs-operator. It sets up the placement config.
It doesn't set `topologyKey: ""`. That is just the default value, and should be ignored.

[2019-08-30 16:19] mrmassis commented on #3736
Tkz for answer,
where i can find the 1.1 image?
Tkz

[2019-08-30 16:21] #3560 closed

[2019-08-30 16:33] #3735 closed

[2019-08-30 17:02] travisn commented on #3736
@mrmassis For now you can test with the `rook/ceph:master` image. The v1.1 release is due out in less than two weeks.

[2019-08-30 18:36] trotyoung commented on #3635
I have the same issue, do you find a workaround? I think the docker image was the problem .

[2019-08-30 18:49] travisn commented on #3740
@kshlm According to the error, the `topologyKey` is required for anti-affinity.
[code]

If setting this value, the anti-affinity works fine in my minikube cluster, even if that label doesn't exist. However, the [documentation](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity) indicates this key should actually exist on the nodes.
[code]

Eithe

[2019-08-30 18:49] #3740 closed

[2019-08-30 20:48] travisn commented on #3448
Will be in v1.0.6

[2019-08-30 20:48] #3448 closed

[2019-08-30 21:18] hightoxicity opened #3744 "cephfs with csi external provisioner, PV provisioned, pod stuck in creatingContainer status"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Configuring a storageclass to provision pv over csi with cephfs with rook v1.0.5, everything well configured to let the csi cephfs provisioner do its job well (secrets present), the pv is created and is getting Bound, the same for PVC but the container consuming this PVC is staying stucked in containe

[2019-08-31 07:16] alialshamali commented on #3735
Thanks issue resolved! I used `kubectl apply -f cluster/examples/kubernetes/edgefs/upgrade-from-v1beta1-create.yaml` and updated the target manifests from betav1 to v1, including redeploying cluster resource.

[2019-08-31 12:12] Jawenba commented on #3620
@dyusupov Thanks for your works! yes,I had a try,it is addressed now,but the ui service discovery is not resolvesed  ,  so I  create a ingress for rook-edgefs-ui。So, you need  to fix it good,thank you very much!

[2019-08-31 16:17] travisn opened #3746 "Helm values.yaml is generated in place causing dirty builds"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The helm values.yaml is generated with version information during the build. When generated in place it causes the file to remain checked out. Developers unexpectedly see the diff in their local changes and the CI reports the build with a `dirty` suffix since a file remains checked out in the enlistmen

[2019-08-31 18:53] k0da commented on #3746
@travisn oh, I'll take a look.

I there a simple command where I can verify it is fixed?

[2019-08-31 20:49] travisn commented on #3746
A simple build with a `make` command should show that there is not a file changed in the enlistment. Generating it to an ignored file like previously may be the easiest thing

[2019-09-01 15:37] joshuacox commented on #3744
I think I have reproduced this bug

https://gist.github.com/joshuacox/30c0b0871622b233195a8bb5229ee5e4

It seems that both `release-1.1` and the current `master` branch also exhibit this issue.

[2019-09-01 18:02] masantiago commented on #3361
I also have the same error. I do agree that it may have something to do with the absence of a storage class. Any ideas about how to force unmount?

[2019-09-02 00:03] joshuacox opened #3748 "Following official example results in `waiting for a volume to be created`"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Following the official docs does not result in a running mysql and wordpress. And ends with:

[code]

**Expected behavior:**

Running mysql and wordpress like as the official [docs](https://rook.io/docs/rook/v1.1/ceph-block.html)

**How to reproduce it (minimal and precise):**

I have reproduced this

[2019-09-02 05:38] #3620 closed

[2019-09-02 07:33] leseb commented on #3719
As a matter of fact, Rook does support block volume provisioning: https://rook.github.io/docs/rook/v1.0/ceph-block.html.

I'm closing this issue since there is no information being provided.

[2019-09-02 07:33] #3719 closed

[2019-09-02 07:40] computingforgeeks opened #3749 "Error from server (UnsupportedMediaType): error when applying patch:"
I get the error below on OpenShift when i run `oc apply -f operator-openshift.yaml`

[code]

The environment is:

[code]

[2019-09-02 07:41] leseb commented on #3671
1.0.5 has the following code: https://github.com/rook/rook/blob/5db568468e2d9a5fbc92944df0586570c29234be/pkg/operator/ceph/cluster/osd/spec.go#L259-L262 so I'd think this is supported.

[2019-09-02 07:45] leseb commented on #3687
If it's hanging on `2019-08-23 18:24:18.349115 I | exec: Running command: ceph auth get-or-create-key client.bootstrap-osd mon allow profile bootstrap-osd --connect-timeout=15 --cluster=rook-ceph --conf=/var/lib/rook/rook-ceph/rook-ceph.config --keyring=/var/lib/rook/rook-ceph/client.admin.keyring --format json --out-file /tmp/405599919` it looks more like a network issue than a disk issue since t

[2019-09-02 07:55] leseb commented on #3690
Can we get the logs of one of the grace job? For example: job rook-ceph-nfs-ganesha-rados-grace.
Thanks.

[2019-09-02 08:05] #2916 closed

[2019-09-02 09:27] sebastian-philipp commented on #3252
Relates to https://github.com/ceph/ceph/pull/29520

[2019-09-02 10:00] Liuxiayu opened #3750 "osd's migration"
If there are multiple osds running on a node, but this node is down, why not migrate this osd to another available node ？

[2019-09-02 10:02] Liuxiayu commented on #3750
In the rook cluster, if the previously assigned node fails, all pods running on non-master nodes are not migrated to another available node. Why?

[2019-09-02 11:24] leojonathanoh commented on #2787
agree, this is needed for existing clusters under resource pressure that want to add rook as their storage for some workload. Without `PriorityClass` support, some rook `mon`s might never be scheduled.

[2019-09-02 11:53] albertdb commented on #3225
That circumvents the issue, specially when setting an ownerReference pointing to the corresponding Pod on each PVC. The ideal would be avoid using PVC for Pods wanting to consume volatile storage, because they won't be truly persistent nor intended to be. Now, with more experience in Kubernetes, I see that this would not interesect with Kubernetes use cases (due to lacking features more than anyth

[2019-09-02 11:54] mykaul commented on #3750
Can you specify how are you testing and which Rook version you are using, etc.?

[2019-09-02 12:40] leseb commented on #3750
OSDs are not migrated because they are tight to a local disk on a physical machine unless you're running on a Cloud environment. When using OSD on PVC though the OSD will be rescheduled.

And yes, we need more context on your request.

[2019-09-02 12:53] leseb commented on #3733
A PVC has a [storage class](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/csi/rbd/pvc.yaml#L12) which maps to a [Ceph pool](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/csi/rbd/storageclass-test.yaml#L22).

[2019-09-02 12:53] #3733 closed

[2019-09-02 13:29] leseb commented on #3222
I think having a purge been triggered when the CR goes away is really risky.

[2019-09-02 13:53] travisn commented on #3222
Agreed on the riskiness of doing it automatically. Instead of an automatic purge, I'm thinking it would be a job that the user would need to be triggered separately. The admin would have to very consciously create the purge job. For example: `kubectl create -f purge-ceph-persistent-data.yaml`.
1. If the operator or CRDs still exist, abort
1. The yaml would take as input the `dataDirHostPath` and n

[2019-09-02 14:11] DonAndrey opened #3751 "Rook is unable to mount the volume"
Hi everyone. I was able to setup rook (using the master) and ceph (nautilus 14.2) on my k8s, but now I am facing an error related to following: MountVolume.SetUp failed for volume "pvc-838a8f1a-ca9c-11e9-8f57-005056b19842" : mount command failed, status: Failure, reason: Rook: Mount volume failed: failed to attach volume replicapool/pvc-838a8f1a-ca9c-11e9-8f57-005056b19842: failed to map image rep

[2019-09-02 14:16] leseb opened #3752 "configOverrides are not honored"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

If I remove any entry from the `configOverrides` list, options applied remain. This "kinda" makes sense but breaks the promise of a CR maintaining the desired state.

**Expected behavior:**

An option is removed, its value is reverted in the mon config store.

**How to reproduce it (minimal and precis

[2019-09-02 15:02] mamoit commented on #2587
I'm sorry, but I can no longer provide logs for this issue, I had the cluster in a very weird state, it was probably something I did along the line.
I created a new one, but am still very uncertain about day to day operations of rook.
I was used to a more barebones ceph deployment using ceph-container and wanted to give this a try, but it may be a little bit too much of an abstraction with way too

[2019-09-02 17:26] NicolaiSchmid commented on #3751
You didn't post any logs.
Though here are mine from one of the agents where to pod is scheduled:
[code]

[2019-09-02 22:45] #3223 closed

[2019-09-03 03:56] Liuxiayu commented on #3750
I used version 0.9.2.

[2019-09-03 03:58] Liuxiayu commented on #3750
Ok, thanks!If osd fails, how do you think you can failover and recover osd in a rook cluster?

[2019-09-03 07:22] leseb commented on #3750
Again, you need to be more precise, send the logs of the failing pod. Thanks.

[2019-09-03 08:11] benceszikora opened #3754 "Operator crashing because leader election keeps failing"
Our operator is crashing with the following messages:
[code]
This doesn't happen instantly when it starts up, it always works for a while and then crashes after a few minutes.

This is on a brand new cluster, it happens from the start, even while setting up the ceph cluster. I tried setting up the cluster again from scratch a few times, but I get the same issue.

Any idea what might be going on he

[2019-09-03 08:33] AsherShoshan commented on #3719
I have version 0.9 installed in openshift 4.2.
The issue is when I try to create a pvc with blockmode:
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: test2
spec:
  #storageClassName: k8srbd
#kubevirt-hostpath-provisioner
  accessModes:
    - ReadWriteOnce
  volumeMode: Block
  resources:
    requests:
      storage: 20Mi

Then describe the pvc , you'll see the message it's not su

[2019-09-03 08:39] leseb commented on #3719
You should use Rook 1.0, get the latest here: https://github.com/rook/rook/releases/tag/v1.0.6

[2019-09-03 08:59] AsherShoshan commented on #3719
10x,
Is there a way to upgrade or just uninstall/install?

On Tue, Sep 3, 2019 at 11:39 AM Sébastien Han <notifications@github.com>
wrote:

[2019-09-03 09:19] leseb commented on #3719
https://rook.io/docs/rook/v1.0/ceph-upgrade.html

[2019-09-03 10:42] sp98 opened #3756 "OSD on PVC: Error while running ceph-osd daemon"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]
**Expected behavior:**
Not sure whether its a bug or if its impacting the OSD daemon in any way. Can someone confirm on this behavior?

**How to reproduce it (minimal and precise):**

- Setup a cluster (I'm using OC on AWS)
- Kubectl apply -f common.yaml
- kubectl apply -f operator.yaml
- kubect

[2019-09-03 10:51] sp98 commented on #3756
Just confirmed. This is not an issue.

[2019-09-03 10:51] #3756 closed

[2019-09-03 11:17] tareqalayan opened #3757 "operator-openshift.yaml point to the master image image: rook/ceph:master"
It should be pinned to some tagged image.
This way you will get whatever in master which is moving target.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, i

[2019-09-03 11:27] mykaul commented on #3757
Doesn't look like a bug to me. On master you get master. You may argue that on other branches you should get a stable build - have you checked it?

[2019-09-03 12:02] tareqalayan commented on #3757
i am talking about tag v1.1.0-beta.0

[2019-09-03 12:26] giorgio076 commented on #3751
Provide:

kubectl describe pv pvc-838a8f1a-ca9c-11e9-8f57-005056b19842

could be very useful.

[2019-09-03 14:11] AsherShoshan commented on #3719
10x,
Installed 1.0.6.
Still have the issue.
Pls look again at the pvc.yaml; have you tried this in your env?
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: test2
spec:
  #storageClassName: k8srbd
#kubevirt-hostpath-provisioner
  accessModes:
    - ReadWriteOnce
*  volumeMode: Block*
  resources:
    requests:
      storage: 20Mi

On Tue, Sep 3, 2019 at 12:20 PM Sébastien Han <not

[2019-09-03 14:32] mykaul commented on #3757
So you expect image: rook/ceph:master to be instead using v1.1.0-beta.0? Makes sense... Can you test it? I can send a PR (it's a one-liner...)

[2019-09-03 15:39] Brandon21318 opened #3760 "Upgrade from 0.9.3 to 1.0.5 Mons not joining quorum"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After an upgrade to 1.0.5 from 0.9.3, while restarting  mons to migrate them to port 6790, the new mons are joining the cluster.

**Expected behavior:**
New mons join existing cluster while migrating from 6789 to 6790

**How to reproduce it (minimal and precise):**

I have reproduced this on 2 of my pr

[2019-09-03 15:59] giorgio076 opened #3761 "Ceph: NFS - NFS Server pod has not been instantiated"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After deploying `operator` and `provisioner` when creating Ceph NFSServer, Pod doesn't start.

**Expected behavior:**
Pod starts and let share a NFS File system

**How to reproduce it (minimal and precise):**

I'm working on K8S deployed using UCP:

[code]

I've loaded NFS `operator` and `provisioner`

[2019-09-03 18:07] #3746 closed

[2019-09-03 18:13] lbogdan commented on #2650
I'd argue the feature parity is incomplete, as you still can't define a `StorageClass` having different metadata and data pools using the CSI provisioner, see https://github.com/ceph/ceph-csi/issues/199 .

[2019-09-03 18:15] travisn commented on #3757
There are a number of yamls that need to point to the new tag instead of master since the release-1.1 branch was just created. This was missed in the process to create a beta tag.

[2019-09-03 18:31] travisn commented on #2650
@lbogdan Agreed that the feature parity is not there yet. Would you mind opening a new ticket for that specific issue? Having a general ticket like this is too hard to track the remaining work.

[2019-09-03 18:41] bengland2 commented on #3744
@joshuacox did your cephfs get created with filesystem.yaml?   Specifically did you see MDS pods running?   Today's master branch did not do that for me today.   I have topologyAware: true but that shouldn't break Cephfs.   The cluster came up, just not the MDS pods.  I can see it attempted to create myfs but all I get from "ceph mds stat" is "myfs:0"

[2019-09-03 18:41] lbogdan commented on #2650
@travisn Isn't this a https://github.com/ceph/ceph-csi issue, though? I guess I'm a bit confused as to how the responsibilities for the rook ceph CSI plugin are distributed.

[2019-09-03 18:50] travisn commented on #2650
Right, this is a ceph-csi feature to implement, though a new feature in ceph-csi will need some integration work with rook in order to be made available. Typically this would be an update to the example yaml and documentation. So there will be a corresponding change in rook to track with the csi feature.

[2019-09-03 19:29] mmgaggle commented on #3132
That makes me believe there are two orthogonal issues here.

1. A Performance regression, possibly attributed to XFS.
2. The osd_memory_target behavior is wonky depending on what version of Rook and Ceph are used

Should we create distinct issues?

[2019-09-03 19:35] bengland2 commented on #3132
osd_memory_target is supposedly [fixed in tracker 41037](https://tracker.ceph.com/issues/41037), also backported to Nautilus.

[2019-09-03 19:38] lbogdan opened #3763 "Ceph CSI: support for different metadata and data pools in RBD StorageClass"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Allow specifying different metadata and data pools in a CSI RBD `StorageClass`, similar to what Flexvolume allows in e.g. [filesystem-ec.yaml](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/filesystem-ec.yaml).

**What is use case behind this feature:**

Define a ceph RBD `St

[2019-09-03 19:43] lbogdan commented on #2650
Added #3763 and updated this PR's description with a to-do list.

[2019-09-03 20:14] galexrt commented on #3719
@AsherShoshan Rook Flexvolume does not support block devices attached in block mode.
This would need to be implemented in Ceph CSI, as I don't think we'll put too much work in to Flexvolume anymore.

Probably to good to check the Ceph CSI repo https://github.com/ceph/ceph-csi and / or open an issue if that feature is not implemented (partially related to, e.g., #2650). /cc @Madhu-1

[2019-09-03 20:36] travisn opened #3764 "Mon canary pod remains pending even when not needed anymore"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The mon canary pod may remain in a pending state even if not needed. In the following pod status we see that mons a, b, and c have been restarted successfully while the canary pod remains pending. If the mons come back in quorum, the pending pod should be cleaned up.

[code]

**Expected behavior:**
The

[2019-09-03 21:22] travisn opened #3765 "Handle errors reported by gosec tool"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
gosec reports ~100 issues of various severity levels.

**Expected behavior:**
When running the gosec tool we should see a clean report, or else suppress the failures that we don't expect to be fixed.

**How to reproduce it (minimal and precise):**

[code]
Results are in attached log:
[gosec.log](https:

[2019-09-03 21:52] travisn opened #3766 "Pick up ceph-csi v1.2.0 before Rook v1.1 release"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook is currently using the ceph-csi `canary` image tag. We cannot ship v1.1 with this version of the csi driver. We must reference a release version. We are dependent on the next version of csi which is v1.2 due anytime now.

**Expected behavior:**
Rook should reference ceph-csi v1.2
@Madhu-1 Could yo

[2019-09-04 00:28] yanchicago commented on #3580
Can someone help to take a look at the issue? It blocks our field deployment.

[2019-09-04 00:46] #2074 closed

[2019-09-04 04:15] Madhu-1 commented on #3766
yes @travisn will do it

[2019-09-04 04:58] Madhu-1 commented on #3744
@joshuacox I have tested your script file with some modification, PVC went to Bound state, you need to wait for a few more minutes as it takes time to deploy cluster and cephcsi.

here is  the modified script i used for testing
[code]

[code]

after waiting for a few more minutes

[code]

[2019-09-04 04:59] Madhu-1 commented on #3744
@hightoxicity somehow attacher is missing from v1.0.5 but https://github.com/rook/rook/pull/3134/ PR was added it, @travisn can you check why this is not included in v1.0.X?

[2019-09-04 05:58] namku commented on #2261
Is it solved with rock v1.1 beta?

[2019-09-04 06:01] Madhu-1 commented on #3748
@joshuacox can you check all pods are in running state. PVC will go to bound state once all csi pods are in running state

the script you are  using does not wait till the cluster is created and all csi pods go to  running state

[2019-09-04 06:27] Madhu-1 commented on #3635
a workaround will be manually pulling cephcsi docker image on all nodes

[2019-09-04 11:17] albertdb commented on #3751
Same problem with v1.0.6.

[code]

The last version that works OK for me is v1.0.3.

[2019-09-04 13:29] noahdesu commented on #3764
Hmm. The `assignMons` method has a deferred function that deletes canaries after the scheduling process is complete. I wonder if on the health check side of things there is a path that misses that cleanup?

[2019-09-04 13:33] NicolaiSchmid commented on #3751
For me, it doesn't work with versions: `rook/ceph:v1.0.0-416.gf09441f`, `rook/ceph:v1.0.3-6.gc26c069`, current `master` (`docker-pullable://rook/ceph@sha256:f145776563a8e64dbd401219b7f484e6fb41ae8a5abc3103fc85d6e6e31075a5`

Will any other logs help?

[2019-09-04 13:35] joshuacox commented on #3748
@Madhu-1 at which point in the script should I be introducing a wait?

[2019-09-04 14:40] DonAndrey commented on #3751
Yes, same case here. I decided to use rook v1.0.3 and ceph 14.2 since that combination works for me.

[2019-09-04 20:51] BlaineEXE commented on #3540
Is this in progress and near ready for review? How important is this to the 1.1 release?

[2019-09-04 20:53] BlaineEXE commented on #2977
How critical is this for us in 1.1? It doesn't seem like any of the devs have reported being able to repro this.

[2019-09-04 20:55] BlaineEXE commented on #2796
I don't like the security implications of storing the password without it being in a secret.

[2019-09-04 20:57] BlaineEXE commented on #2796
This is already documented in `Documentation/ceph-dashboard.md#credentials`

[2019-09-04 20:57] #2796 closed

[2019-09-04 21:02] yanchicago commented on #2899
[https://github.com/rook/rook/issues/3580]

[2019-09-04 21:22] BlaineEXE commented on #3540
In 1.1: add `nbd` to the filter
For 1.2: implement the more configurable solution

[2019-09-04 21:25] BlaineEXE opened #3772 "Make discover daemon filter configurable"
From discussion here, implement a configurable solution for discover daemon filtering. https://github.com/rook/rook/issues/3540

Likely a blacklist is all that is necessary. Possibly globs would be needed.

[2019-09-04 21:50] BlaineEXE commented on #2950
Release for 1.1 seems to be going well. Revisit for 1.2 release to retrospect and consider if improvements needed.

[2019-09-04 21:54] dyusupov opened #3773 "ISGW service got killed by cgroup"
**Is this a bug report or feature request?**
* Bug Report

ISGW service got killed by cgroup

**Deviation from expected behavior:**

It shouldn't be killed

**Expected behavior:**

The issue is likely due to misuse of chunk cache. By default, it is set to 75%, which is too high. For isgw services it isn't adding much value, so reducing it to 25% is going to be sufficient.

**How to reproduce it (m

[2019-09-04 22:02] yarokifor commented on #3690
config-init
`2019-09-04 21:54:06.844849 I | rookcmd: starting Rook v1.0.6 with arguments '/usr/local/bin/rook ceph config-init'
2019-09-04 21:54:06.845047 I | rookcmd: flag values: --admin-secret=*****, --ceph-config-override=/etc/rook/config/override.conf, --cluster-name=rookcluster, --config-dir=/var/lib/rook, --fsid=, --help=false, --keyring=*****, --log-flush-frequency=5s, --log-level=INFO, --

[2019-09-04 22:16] BlaineEXE commented on #2128
Thanks for your patience and keeping up with this.

[2019-09-04 22:19] BlaineEXE commented on #3132
I will take the action to lower the OSD memory limits built into Rook from 4G to 2G, hopefully alleviating some of the issues seen here. I will leave the issue open, as it's not yet clear to me whether there are other factors at play.

[2019-09-04 22:21] travisn commented on #2128
This was fixed with #3596. The design can be found here: https://github.com/rook/rook/blob/master/design/ceph-managed-disruptionbudgets.md

[2019-09-04 22:21] #2128 closed

[2019-09-04 22:31] dyusupov opened #3776 "Need configuration option for mdpsize"
**Is this a bug report or feature request?**
* Feature Request

Need configuration option for mdpsize

**What should the feature do:**

mdpsize can be used to adjust metadata offloading device's page size.
Default is 8192, which can be too expensive in terms of allocated capacity efficiency.

**What is use case behind this feature:**

Reduce offloading SSD to HDDs ratio by 30%.

**Environment**:

[2019-09-04 22:40] laevilgenius opened #3777 "Helm: CSI RBAC errors in the operator log"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
PVC is stuck in pending state.

**Environment**:
* Rook version: v1.0.0-597.g5c59a1e
* Storage backend version: v14.2.2-20190722
* Kubernetes version: v1.15.3

I get a lot of RBAC-related errors in logs:

- `kubectl logs -n rook-ceph csi-rbdplugin-provisioner-68f5664455-8wtxm csi-provisioner`
[code]
-

[2019-09-04 23:18] travisn commented on #3764
The repro steps may have included losing power to a node. If the operator pod died like that, the canary pod wouldn't be cleaned up after operator restart, right?

[2019-09-04 23:42] noahdesu commented on #3764
Oh I must have missed that aspect of the repro. That sounds like a plausible scenario.

Since the health checker takes a lock out on the orchestration process (?) it should be safe to delete any canaries that exist. Assuming that lock is taken so it doesn’t nuke canaries involved in an ongoing round of the main reconciliation loop.

[2019-09-05 03:52] Madhu-1 commented on #3748
@joshuacox introducing wait can cause an issue when you have a slow network, better instead of introducing  wait, check  all pods related to ceph cluster is running  and also all csi pods are running

[2019-09-05 07:45] #3731 closed

[2019-09-05 08:41] jeffreyvdhondel commented on #3744
We seem to have the same problem the csi-cephfsplugin-provisioner is missing the attacher.
So the pod timeouts on mounting the volume. We debugging with the toolkit we can successfully(manually) mount the storage.

Is there a work around to spawn an attacher?

[2019-09-05 09:00] Madhu-1 commented on #3744
@jeffreyvdhondel workaround is  added here https://github.com/rook/rook/issues/3744#issue-487674501

[2019-09-05 09:02] jeffreyvdhondel commented on #3744
@Madhu-1 We are trying the following workaround by deploying the:
csi-cephfsplugin-attacher.yaml
csi-attacher-rbac.yaml
from: https://github.com/ceph/ceph-csi/tree/csi-v1.0/deploy/cephfs/kubernetes

Is this the same workaround?

[2019-09-05 09:07] Madhu-1 commented on #3744
yes, that should fix it.

[2019-09-05 09:18] NicolaiSchmid commented on #3751
I've tried that combination with `ceph/ceph:v14.2.1-20190430` and `rook/ceph:v1.0.3-6.gc26c069`. Could you provide the exact docker tags you used? Maybe I can work for me as well

[2019-09-05 09:20] hightoxicity commented on #3744
RBAC with my rook deplmoy ns in it (please note that I added rbac around events because attacher was failing without it):

https://gist.github.com/hightoxicity/c2645e90203b8027bbf41bfee4f861a4

The attacher deploy:

https://gist.github.com/hightoxicity/69b8a65761ec66504c449473c114f364

[2019-09-05 09:41] jeffreyvdhondel commented on #3744
Thanks for the yaml files now the storage is mounted to the pod on DigitalOcean :)

[2019-09-05 10:20] #2623 closed

[2019-09-05 11:34] hightoxicity commented on #3744
You are welcome guy :-)

[2019-09-05 12:41] nathanmartins commented on #2884
Has the fix been deployed? Is it safe to update?

[2019-09-05 12:54] bengland2 commented on #3132
@BlaineEXE I think the fix to rook to set osd_memory_target below CGroup limit is now in place in latest ceph/ceph image dated yesterday - our group tested it and saw a difference.   You might want to experiment with that one.

[2019-09-05 15:02] jmolmo commented on #3334
It was not possible for me to reproduce the bug with my environment (see env below) , but i have checked and prepared a workaround that will alleviate the problem until the [fix](https://github.com/ceph/ceph/commit/38e7083301f4d5e419f4c7c1fb596d529d3ab83c) (only in master) will reach existent installations.

@iMartyn: the workaround we proposed you (#2171) must work, the problem you saw is because

[2019-09-05 15:57] joshuacox commented on #3748
@Madhu-1 which pods specifically?  I don't see any rook/ceph pods in a non-`Running` state:

[code]

and at which point do I need to introduce this conditional wait?

I have updated the gist to include a wait function:

https://gist.github.com/joshuacox/30c0b0871622b233195a8bb5229ee5e4

But it doesn't seem to have made a difference.

[2019-09-05 16:18] DonAndrey commented on #3751
Hey @NicolaiSchmid, I used these tags: rook/ceph:v1.0.3 , ceph/ceph:v14.2.1-20190430

I hope they work for you.

[2019-09-05 17:19] jedblack opened #3783 "Ceph Dashboard continually throwing Server Error 500"
**Is this a bug report or feature request?**

* Bug Report

**Deviation from expected behavior:**
Yes
**Expected behavior:**
Not to throw server error 500

**How to reproduce it (minimal and precise):**
Deploy the latest version(at time of writing v1.06)

**File(s) to submit**:

Manager Pod Logs
[ceph-rook-mgr-pod-logs.txt](https://github.com/rook/rook/files/3580441/ceph-rook-mgr-pod-logs.txt)c

*

[2019-09-05 17:53] travisn commented on #3783
@jmolmo could you take a look?

[2019-09-05 18:18] athurner commented on #3777
I'm getting the same error

[code]

but running the [common.yaml](https://github.com/rook/rook/blob/release-1.0/cluster/examples/kubernetes/ceph/common.yaml)
[code]

is not fixing the issue.

Did you use a different common.yaml or something esle to make it work?

[2019-09-05 19:08] laevilgenius commented on #3777
@athurner Did you apply `common.yaml` from master or from 1.0 release (as your link indicates)? I applied the master's version right after `helm install` and that seemed to do the trick.

[2019-09-05 19:42] jedblack commented on #3783
Thanks everyone, on the slack channel someone suggested I upgrade CEPH to fix this issue as its not related to rook specifically.  I upgraded to 14.2.3 and the issue is now resolved.

[2019-09-05 19:42] #3783 closed

[2019-09-05 19:54] dkowsley commented on #3186
@travisn @leseb This seems like a pretty significant issue that shouldn't be marked wontfix.

[2019-09-05 20:07] dkowsley commented on #3651
Just passing through the issues list to keep up on whats going on and saw this. Running `oc delete pvc --all` blindly is an egregious misuse of the tool. This is no different than running `rm -rf /` as both `rm -rf /` and `oc delete pvc --all` are superuser-scoped commands. You can't blindly delete everything in a cluster-resource and expect the cluster to function normally.

[2019-09-05 20:09] athurner commented on #3777
that worked for me as well. Thank you

[2019-09-05 20:14] travisn commented on #3777
#3778 fixes the issue with the PodDisruptionBudgets
#3784 fixes the issue with the objectbucket.io group

[2019-09-06 00:39] #3071 closed

[2019-09-06 01:12] #3773 closed

[2019-09-06 01:16] WanLinghao commented on #2884
@nathanmartins  In my case, it is fixed in 14.2.2

[2019-09-06 03:22] rohantmp commented on #3777
I'd like to eventually document somewhere all the different sources of RBAC, CRs, CRDs, etc

[2019-09-06 05:22] mmgaggle commented on #3132
I guess what I was trying to point out is that some versions of nautilus didn't have the fix, and the check in rook-ceph was only inspecting the major release. All was good if you happened to use a newer nautilus, but for a while the example cluster.yaml defaulted to a nautilus image that didn't have the necessary fix. This meant your osd_memory_target behavior was "wonky"

It appears the cluster.

[2019-09-06 05:52] tan208123 commented on #3726
I deployed Rook Ceph v1.0.6 with the same problem which pod can not consume pvc. I had also to do 2 things manually.
1)Propagated /etc/ceph/ceph.conf and /etc/ceph/keyring.
2)Mapped the RBD manually.

[2019-09-06 07:35] mmgaggle commented on #3332
It appears that #3659 does not handle failure-domain.beta.kubernetes.io/zone along the lines of #3355. Should this issue be re-opened or should I create a new distinct issue?

[2019-09-06 07:40] umangachapagain commented on #3332
This could be re-opened with details on the failure.

[2019-09-06 09:07] thotz opened #3792 "OBC : Object operation is failing on Brownfield cases"
While consuming OBC for brownfield case(for already existing bucket), any bucket operation(like ls)/ object operations(put/get) is failing with access denied.  Reproduced 3 out of 3 times and green filed cases it works fine. For this new user, secret, cm, obc,ob everything getting created successfully. All the operation with "user" which got bucket created is working fine

From the logs I suspect

[2019-09-06 12:59] #3612 closed

[2019-09-06 13:47] melnik13 commented on #3726
I'd like to mention that I tried `v1.1.0-beta.0` (to be exact - commit `5c59a1e41187b2b19bdeabdc7d8a5b71bc44c2c6`) and it works pretty well.

[2019-09-06 14:00] MichaelJiangPlus commented on #3580
I also encountered this problem, and even more unfortunately the problem occurred in my production system.When I create a new pv, pvc, it works fine, but when I mount the previous pv, pvc, everything is messed up.

Environment:

- OS (e.g. from /etc/os-release): Ubuntu 16.04.6 LTS
- Kernel (e.g. uname -a):Linux BlackWalnutLabs-Headquarters004 4.4.0-145-generic #171-Ubuntu SMP Tue Mar 26 12:43:40 U

[2019-09-06 14:23] NicolaiSchmid commented on #3751
No, unfortunately it didn't

[2019-09-06 14:44] sp98 opened #3795 "osd prepare pod fails with ceph version v14.2.3-20190904"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD prepare pod fails to start

**Expected behavior:**
OSD prepare pod should start successfully.

**How to reproduce it (minimal and precise):**

1. apply common.yaml
2. apply operator.yaml.
3. apply cluster-on-pvc.yaml with ceph image - ceph/ceph:v14.2.3-20190904
4. Observer that the OSD prepare job

[2019-09-06 14:44] joshuacox commented on #3748
@Madhu-1 I've wrapped the entire thing into a [katacoda scenario](https://www.katacoda.com/thoth/scenarios/tryoutrook), which should be free for anyone to try out and/or fork and modify yourself [here](https://github.com/joshuacox/katacoda-scenarios/tree/master/TryOutRook)

[2019-09-06 14:59] sp98 commented on #3795
Possible root cause is root is no longer reading the output of the `ceph lvm prepare` command.
The output of this command is used to fetch the logical volume path created by ceph-volume. OSD prepare pod is failing because the output is empty!

[2019-09-06 15:09] DonAndrey commented on #3751
@NicolaiSchmid  same error? Did you clean every node before try a new installation? (I mean, did you delete the directories related to rook like: /var/lib/rook)

[2019-09-06 15:33] #3776 closed

[2019-09-06 15:34] rohantmp opened #3796 "CI failing randomly with helm command not found."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

relevant Jenkings logs:
[code]

It looks like it can't find the helm executable.
Is there some race between the helm executable being installed and this script being executed? I think I've seen this before.

Usually right after the TestCassandraSuite (I think)

[2019-09-06 15:36] rohantmp commented on #3796
@yanniszark I got your name from the owners file. Could it be something to do with TestCassandraSuite?

[2019-09-06 15:40] BlaineEXE commented on #3795
At first glance, this feels like an issue in Ceph to me.

[2019-09-06 15:42] galexrt commented on #3263
Closing as duplicate of #1125.

[2019-09-06 15:42] #3263 closed

[2019-09-06 15:45] galexrt commented on #1125
@ajarr Let's keep this issue open, in lights of this PR #3264 as it might or might not still implement the feature for Rook CephFS flexvolume driver.

But yes in generally as Ceph CSI is the direction going forward, the issue itself is "resolved" with the latest merges to `master`.

[2019-09-06 16:39] NicolaiSchmid commented on #3751
Yes I did. Now I fixed it
In the agent pods you can check the dmesg logs to see what is causing the error:
`kubectl -n rook-ceph exec -it rook-ceph-agent-rbw6d bash`
`dmesg | tail`
Which showed that the rbd-client used by the agent didn't support specific image features.
[code]

After some research I found that my kernel (`4.4.0`) was to old, so I upgraded to the latest supported kernel of Ubuntu

[2019-09-06 17:09] DonAndrey commented on #3751
That is a good catch! So which rook and ceph tags are you using now?

[2019-09-06 18:54] yanchicago commented on #3580
https://github.com/rook/rook/issues/2899
The above issue is also related.

[2019-09-06 18:58] yanchicago commented on #2899
[https://github.com/kubernetes/kubernetes/pull/75019#issuecomment-477226304](url)

[2019-09-06 18:58] #3635 closed

[2019-09-06 18:58] #3766 closed

[2019-09-06 19:34] #560 closed

[2019-09-06 19:59] #3632 closed

[2019-09-06 21:26] travisn commented on #3764
fwiw, i observed that when a canary pod was pending and the operator was restarted, the canary pod was deleted and then re-created. However, this was in the startup case where the original quorum had never been formed instead of the failover scenario. I suspect this would only affect the failover scenario, but should not be a common occurrence in any case.

[2019-09-06 21:36] dyusupov opened #3798 "latest changes requires newer versions of EdgeFS - update version in examples"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`

[2019-09-06 22:11] jeffvance commented on #3792
@thotz Are you trying to use the credential from the secret which is created by the library for granting access to the existing bucket (via the obc)?

[2019-09-06 22:38] #3798 closed

[2019-09-06 22:50] BlaineEXE commented on #3795
Related to this? https://tracker.ceph.com/issues/41660

[2019-09-07 09:15] NicolaiSchmid commented on #3751
Version `rook/ceph:v1.0.3-6.gc26c069` for Rook (Operator, Agent, etc)
Version: `ceph/ceph:v14.2.1-20190430` for Ceph

[2019-09-07 11:07] leojonathanoh commented on #3751
@NicolaiSchmid same issue on `ubuntu 16.04.6`. How did you get the latest `4.15.x` kernel, through `apt` or by reinstalling ubuntu16.04  with another `.iso` that has the latest kernel ?

[2019-09-07 11:11] NicolaiSchmid commented on #3751
On some old images the latest kernel is not installed automatically. Ubuntu has a feature to patch your version with a newer, rolling kernel version: https://wiki.ubuntu.com/Kernel/RollingLTSEnablementStack
To enable it, install the following package:
`sudo apt-get install --install-recommends linux-generic-hwe-16.04`

[2019-09-07 11:13] leojonathanoh commented on #3751
@NicolaiSchmid  🐎 boom that was a very fast reply. Will try that out and report back

[2019-09-07 11:31] leojonathanoh commented on #3751
it worked 🚗  ! thanks a million @NicolaiSchmid

## Upgrade kernel  to `4.15`

[code]

## agent logs

[code]

[2019-09-07 12:42] leojonathanoh commented on #3751
@NicolaiSchmid From the [ceph docs](https://docs.ceph.com/docs/master/start/os-recommendations/#platforms), ceph `14.2.x` supports kernel `.4.4`? Could this be a rook bug?

[2019-09-07 12:48] leojonathanoh commented on #3751
@NicolaiSchmid forgot to mention i'm actually using `rbd` for pvc. The same page says:

I suppose then they recommend using at least kernel `4.14`.

[2019-09-07 13:32] laevilgenius commented on #3777
@travisn I'm still getting `failed to acquire lease rook-ceph/rook-ceph-rbd-csi-ceph-com` errors in `v1.1.0-beta.0.57.g9bdc301`.

Also, I found another issue: setting `enableFlexDriver` to `false` makes no effect as it doesn't set `ROOK_ENABLE_FLEX_DRIVER` at all, triggering the default behavior. The same probably goes for `enableDiscoveryDaemon` too.

[2019-09-07 19:02] NicolaiSchmid commented on #3751
There is a difference between the rbd client and the OS for the cluster itself.
My issue was and the client side, where rbd tried to mount the image.
And reading your quote it seems like they recommend a kernel version of at least 4.14 otherwise some features may not be working, which in my case, was the issue (as stated above)

[2019-09-07 19:06] travisn opened #3804 "Helm: Boolean settings not applied if set to false and default is true"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Helm settings are not applied if they are type boolean, the default is true, but the desired value is false. This applies to at least several settings: enableCsiRbdDriver, enableCsiCephfsDriver, enableFlexDriver, enableDiscoveryDaemon
@laevilgenius

**Expected behavior:**
The helm settings should be ho

[2019-09-07 19:10] travisn commented on #3777
@laevilgenius
- Reopening this issue to track the issue with csi rbac
- yep, that's an issue with the helm chart, thanks for the report. I see what the problem is, #3804 is tracking it and marked for the 1.1 release.

[2019-09-07 20:05] leojonathanoh commented on #3751
@NicolaiSchmid yes, as i suspected. The ceph cluster runs perfrectly on  kernel `4.4`, but the mounting node (if using `rbd` must be at least kernel `4.14`). Guess that clears things up.

[2019-09-08 11:01] #3214 closed

[2019-09-08 15:01] #2567 closed

[2019-09-08 15:01] #2181 closed

[2019-09-08 17:52] travisn commented on #2181
This was already fixed with #2901

[2019-09-09 05:55] sp98 commented on #3795
ceph-volume lvm prepare logs for 14.2.3
[code]

ceph-volume lvm prepare logs for 14.2.2
[code]

[2019-09-09 06:57] colilo commented on #3026
Kubernets:
[code]
Rook:
[code]
Ceph Image:
[code]
I changed the dashboard config ssl to false and port to 7000, and created the rook ceph cluster as order:
  1. kubectl create -f common.yaml
  2. kubectl create -f operator.yaml
  3. kubectl create -f cluster.yaml
  4. kubectl create -f dashboard-external-http.yaml
  5. kubectl create -f object.yaml
  6. kubectl create -f object-user.yaml
  7. kube

[2019-09-09 08:20] Liuxiayu opened #3809 "configure monmap, osdmap and crushmap"
Hi everyone, I want to know how to configure and where to configure monmap, osdmap and crushmap

[2019-09-09 08:24] Liuxiayu commented on #3750
Osd has been waiting for the old node to start without moving to other available nodes

[2019-09-09 08:59] jan--f commented on #3795
Correct, 14.2.3 introduced a change, where ceph-volume stops printing status/log messages to stdout and prints them to stderr instead.

[2019-09-09 09:04] sp98 commented on #3795
@jan--f Thanks for confirming this . By "change" do you mean this is a new  and expected behavior, or an issue that will be addressed soon?

[2019-09-09 09:09] AdlerFleurant commented on #2788
Is there a plan to fix this?

[2019-09-09 09:13] jan--f commented on #3795
This new behaviour is intended and expected.

[2019-09-09 10:42] alexcpn commented on #3748
Maybe instead of shallow cloning  install like this;

[code]

[2019-09-09 13:50] travisn commented on #3795
@sp98 If the output is going to stderr, this should be a quick fix in rook to call `ExecuteCommandWithCombinedOutput()` instead of `ExecuteCommandWithOutput()` when calling ceph-volume

[2019-09-09 13:57] travisn commented on #2788
We can add tolerations to the agent and discovery daemonsets with options in the operator deployment. See the [AGENT_TOLERATION_KEY](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator-openshift.yaml#L132) and [DISCOVER_TOLERATION_KEY](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator-openshift.yaml#L158). Are the tolerations sufficie

[2019-09-09 14:05] travisn commented on #3809
@Liuxiayu Configuration of Ceph from Rook can be done with the [toolbox](https://rook.io/docs/rook/v1.0/ceph-toolbox.html) pod. But Rook does its best to hide the details of these configurations so it isn't expected you will commonly need to configure them. For further questions you can join the [Rook Slack](https://github.com/rook/rook#contact) where it would be great to discuss your requirements

[2019-09-09 14:06] #3809 closed

[2019-09-09 14:43] michas2 opened #3810 "Dashboard port / service very missleading"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Ceph dashboard should work out of the box even with https disabled.

**Expected behavior:**

A few manual tweaks are required.

**How to reproduce it (minimal and precise):**

As hinted in [this issue](https://github.com/rook/rook/issues/2809#issuecomment-472666545) the [config code](https://github.co

[2019-09-09 15:20] BlaineEXE commented on #3795
Question: why are we parsing the output of this command in Rook as we do? This has exposed the fragility of parsing the CLI output of commands.

[2019-09-09 15:29] travisn commented on #3795
@BlaineEXE This was the only way in the short term to get results from the ceph-volume command. What we need from `ceph-volume` is that results in json format so we can parse it reliably. @rohan47 Did you already discuss with alfredo what this would take and/or open an issue?

[2019-09-09 15:32] BlaineEXE commented on #3795
@jan--f is the new maintainer of `ceph-volume`. Does Alfredo still work the project at all?

[2019-09-09 15:43] travisn commented on #3795
Right, that's an old habit to ping alfredo for c-v issues. :) @rohan47 can you sync up with @jan--f?

[2019-09-09 15:57] DonAndrey opened #3812 "Scalability issue"
* Bug Report

Hello, today I performed a test where basically I added a new node to the ceph cluster. As expected rook operator started all the necessary process to include the new node to the cluster.
After that process and do some tests, I decided to remove a node from the ceph cluster just to see the behavior of the rook operator and see if the corresponding osd pods was deleted, but nothing ha

[2019-09-09 16:10] rohantmp opened #3813 "Ceph: drain-detection logic should take tolerations from the placement configuration."
Currently managedPDBs won't work with tolerations. Will have a fix tomorrow.

[2019-09-09 16:40] joshuacox commented on #3748
@alexcpn I added your modifications with a few other tweaks to the [gist](https://gist.github.com/joshuacox/30c0b0871622b233195a8bb5229ee5e4#file-gistfile1-txt-L65-L68) and tried:

[code]

on a cluster here as well as the generic katacoda kubernetes scenario, both hang at waiting for the pvc claim as usual though, so I'm not certain the shallow checkout was to blame.

I went ahead and added it all

[2019-09-09 16:43] rajha-korithrien commented on #3106
When will this make it into a patch release?
I just updated to Rook ```v1.0.6``` from a previous ```v1.0.1``` deployment but I find I am still using ceph image ```ceph/ceph:v14.2.1-20190430```.

Have I misunderstood and I need to take explicit action to cause my ceph deployment to use ```v14.2.2-20190722```?

[2019-09-09 17:10] King6moh commented on #3106
@rajha-korithrien there is a separation between the Operator and the Ceph versioning as of Rook 0.9.0+. See https://rook.io/docs/rook/v1.0/ceph-upgrade.html specifically the last section that talks about Ceph Version Upgrades. This was introduced back in 0.9.0 and refined over the next few releases. Here's the blog post about it: https://blog.rook.io/what-version-of-ceph-would-you-like-with-that-8

[2019-09-09 17:57] #3777 closed

[2019-09-09 18:52] thotz commented on #3792
Yes I am. As I mentioned before the issue is wrt to brownfield cases only, for green field it works fine

[2019-09-09 19:07] cbenien commented on #2281
If anyone is interested in a solution, have a look at https://github.com/istio/istio/issues/10062

For me (Istio 1.2.5), I had to delete the default mesh policy and change the mysql yaml file by using "name: tcp" for mysql 3306 ports.

[2019-09-09 19:36] copejon commented on #3792
This is probably down to the bucket policy that associates the new user's credentials to the pre-existing bucket.  Will take a look.

[2019-09-09 20:09] #3795 closed

[2019-09-09 22:06] ybnelson opened #3816 "Incorrect hostname in YugaByte example"
]**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
https://github.com/rook/rook/blob/master/Documentation/yugabytedb.md
In the YugaByteDB quickstart page, the command:
kubectl exec -it yb-tserver-rook-yugabytedb-0 /home/yugabyte/bin/ysqlsh -- -h yb-tserver-rook-yugabytedb-0  --echo-queries
contains an incorrect hostname from the previous example clust

[2019-09-10 00:01] laevilgenius commented on #3238
Csi daemons also need this. AFAIK, currently there is no mechanism to set tolerations and affinities for them.

[2019-09-10 03:56] travisn commented on #3238
@laevilgenius Could you open a new issue for the CSI driver? This issue is really about finding a better way to expose the configuration than the env settings, but it's not clear at least to me how to do that since we don't have an operator crd.

[2019-09-10 03:58] #3804 closed

[2019-09-10 05:16] travisn commented on #3238
Here is a thought on how we might approach this. It is still a bit hacky, but it allows for full specs for tolerations/affinity/anti-affinity to be specified... If we agree on this, no need to open a separate issue for the csi driver to implement the existing env vars hack.

The flex agent and csi drivers are delayed starting until the first cephcluster CR is created. At that point, the `startSyst

[2019-09-10 06:25] Madhu-1 commented on #3719
@galexrt @AsherShoshan block volume is supported in ceph-csi

[2019-09-10 06:43] mumrau commented on #3106
@rajha-korithrien in short words, yes you should migrate your CephCluster to cephVersion `v14.2.2-20190722`.

[2019-09-10 07:12] rohantmp opened #3818 "Tolerations for drain-detection canary pods"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Drain detection canaries have no Tolerations
**Expected behavior:**
Drain detection canaries should be schedulable on any node an OSD is schedulable on.

[2019-09-10 08:11] rohantmp commented on #3818
This is a dupe of 3813. I opened that one while very sleepy.

[2019-09-10 08:11] #3818 closed

[2019-09-10 10:05] albertdb commented on #3751
With Ubuntu 16.04 and kernel 4.15, Rook v1.0.6 now sometimes works, but sometimes the mount fails:

Pod describe events:

[code]

Rook logs regarding that PVC:

[code]

dmesg on node:

[code]

Full logs in the same interval of time show that Rook operator restarted when the provisioning started and it seem that it retried volume provisioning too soon, which made some pices unaware of the volume. T

[2019-09-10 10:40] albertdb commented on #3754
This is what happened in https://github.com/rook/rook/issues/3751#issuecomment-529866667

In my case is not constantly failing, but sometimes it does, leaving unusable the volumes that are being provisioned at the very same moment.

[2019-09-10 13:12] pkavajin opened #3821 "Nodes becoming unresponsive after I/O spikes"
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**
After some I/O spikes storage isn't working anymore on the node creating the spikes, writes will block and kernel prints tons of hung task warnings. Using tools like iotop isnt possible afterwards, they'll block as well.

**Expected behavior:**
Storage should continue to work, node should not get into a

[2019-09-10 13:40] laevilgenius commented on #3238
@travisn I didn't put much thought into it, but what if we create a separate CRD for partial pod template overriding? That would allow to change other things too, such as resources.
(Inspired by elasticsearch's [approach](https://github.com/elastic/cloud-on-k8s/blob/c523e1045c11283136193a6e1c87925d29d15eb4/config/samples/elasticsearch/elasticsearch.yaml#L17).)

[2019-09-10 13:45] sebastian-philipp commented on #2606
Causes https://tracker.ceph.com/issues/41746

[2019-09-10 14:09] rimolive commented on #2294
I'm using OpenShift and I noticed the current implementation needs some tweaks to make this work. With that being said, I'd like to ask the following:

1) Do I need an issue opened to monitor this task?
2) Who should I ask for help if I need?

[2019-09-10 14:36] alfredodeza commented on #3795
I certainly still do ceph-volume work :) Happy to assist here if needed, but it is fine also to talk directly to Jan.

[2019-09-10 15:49] BlaineEXE opened #3824 "ceph-csi version detection"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The Rook operator should run a job to detect the version of `ceph-csi` running in the container similarly to how the Ceph version is checked, and Rook should "fail fast" if the CSI version doesn't meet Rook's requirements. At the time of writing, Rook supports CSI v1.2.0.

**What is use case behind this

[2019-09-10 17:22] rajha-korithrien commented on #3106
@King6moh @mumrau It is clear now thank you for taking the time to help!
I can confirm that after following the provided instructions for updating the Ceph image version my dashboard works as expected.

[2019-09-10 18:04] NicolaiSchmid commented on #3751
The dmesg says the image doesn't exist. Also the pvc events say it is unbound. (Meaning there's no image behind it)
Maybe there's an issue with your storage class or it could be an old pvc.
Try "rbd ls" in rook tools and see if the referenced pv (in the pvc) has an rbd image behind it.

[2019-09-10 20:16] travisn commented on #2294
@rimolive Could you open a new github issue with the updates that are needed here? @yanniszark Could provide any feedback around the Cassandra PRs. Thanks!

[2019-09-10 20:26] travisn commented on #3238
@laevilgenius I see the `placement` in the cephcluster CR as very similar to the elasticsearch example since we aggregate that placement to the pod spec.

I'm leaning towards using the existing cephcluster CR instead of creating a new CR for these reasons:
- There is only one CR per operator. What if they create multiple CRs in the same namespace as the cluster? We're back to the problem of multip

[2019-09-10 21:19] BlaineEXE commented on #3238
I have some scattered thoughts:

We have also talked about disabling the multi-cluster behavior in Rook. It's been a while though, and I'm not sure if  some of the rationale might have changed since then. But that could be a way to make the problem space a little simpler for us.

We have talked about the Ceph CSI drivers needing to not be duplicated if there are multiple Rook operators. Is this st

[2019-09-10 22:10] laevilgenius commented on #3238
@travisn I had in mind something more like [PodPreset](https://kubernetes.io/docs/concepts/workloads/pods/podpreset/), but with ability to override a pod template entirely. It can be seen as more advanced feature few users would use. I agree, though, that a multitude of such CRs would make a mess.

But if we don't keep the multi cluster functionality, then cephcluster CR is probably the way to go.

[2019-09-11 06:17] rohantmp opened #3826 "Ceph NFS CRD is not in the CSV."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Ceph NFS CRD is not in the CSV.

**Expected behavior:**
Ceph NFS CRD should be in the CSV or rook should detect when a CRD is not present and not start a watch.

[2019-09-11 07:54] invidian commented on #3175
There is a PR for this issue opened, can we re-open it until it's merged?

[2019-09-11 09:53] travisn commented on #3175
Yes, reopening!

[2019-09-11 13:00] albertdb commented on #3751
@NicolaiSchmid Not really the case. The storage class is the one I always use (rook-ceph-block in examples) and PVC was newly created as part of a new StatefulSet. In fact, you could see at the end (older lines of log) that the image was created succesfully.

[2019-09-11 13:19] rohantmp commented on #3826
Deploying with CSV results in:
[code]

[2019-09-11 15:59] #3540 closed

[2019-09-11 16:53] #2613 closed

[2019-09-11 20:13] kfox1111 commented on #1011
Is this still relevant?

[2019-09-11 20:20] aarnaud opened #3831 "Support Ceph iSCSI Gateway"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Kubernetes krbd driver doesn't support latest rbd imgae features. Although rbd-nbd driver supports those features, RHEL/Centos have builtin nbd driver, so it is not easy to use rbd-nbd driver.

We can use Ceph iSCSI gateway and iSCSI volume to use rbd images that have features not supported in krbd.

**

[2019-09-11 20:21] aarnaud commented on #3831
Same as https://github.com/rook/rook/issues/1865

[2019-09-11 20:22] aarnaud commented on #3831
https://docs.ceph.com/docs/mimic/rbd/iscsi-overview/
https://docs.ceph.com/docs/mimic/rbd/iscsi-target-cli/

[2019-09-11 21:11] leojonathanoh opened #3832 "Bug: Disk usage not reclaimed when files are deleted"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Disk space is not reclaimed.

**Expected behavior:**

Disk space should be reclaimed.

**How to reproduce it (minimal and precise):**

1. Check disk usage using `ceph -s` inside the `tools` pod:

[code]

2. exec into a container with rook pvc mount and create some files:

[code]

3. Check that disk us

[2019-09-12 07:52] #3603 closed

[2019-09-12 14:51] leseb opened #3835 "ceph-nfs fails to deploy of not ceph-mds is present"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

It's a sort of a bug, but Rook should be able to tell that no mds are present and thus, deploy or fail the deployment of ceph-nfs.

**Expected behavior:**

**How to reproduce it (minimal and precise):**

Deploy a ceph-nfs server and no ceph-mds.
It'll fail complaining the mds pool does not exist.

**F

[2019-09-12 16:00] BlaineEXE opened #3836 "Distributed Rook binary is GPLv3, not Apache?"
https://github.com/kube-object-storage/lib-bucket-provisioner/blob/master/LICENSE

GPL section 5.c
 https://github.com/kube-object-storage/lib-bucket-provisioner/blob/master/LICENSE#L222

License to anyone who comes into possession of a copy.  This
License will therefore apply, along with any applicable section 7
additional terms, to the whole of the work, and all its parts,
regardless of how they

[2019-09-13 05:07] #3836 closed, assigned to nobody

[2019-09-13 08:27] leseb commented on #3651
This is not a Rook bug, I'm closing this. Feel free to re-open if you have any concerns.

[2019-09-13 08:27] #3651 closed

[2019-09-13 08:46] leseb commented on #3752
Closing this since we reverted `configOverrides`.

[2019-09-13 08:46] #3752 closed

[2019-09-13 08:49] leseb commented on #3832
@leojonathanoh do you see the discard mount option for rbd? Did you run fstrim? This should work with krbd.

[2019-09-13 09:06] leseb commented on #3380
Are you still experiencing this issue?

[2019-09-13 13:32] Ludea opened #3845 "Unable to deploy CephFilesystem"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
CephFilesystem is not created.
There are no pod with `kubectl -n rook-ceph get pod -l app=rook-ceph-mds`
**Expected behavior:**
pods like : rook-ceph-mds-myfs-...

**How to reproduce it (minimal and precise):**

deploy Rook by helm chart
Create ceph cluster as
[code]

Create CephFileSytem as
[code]
**F

[2019-09-13 13:45] leseb commented on #3845
Did you use `common.yaml`? Or at least a recent version of it? You need the one corresponding to your Rook version.

[2019-09-13 13:47] leseb commented on #3812
I don't remember exactly but I *think* we have a timeout to remove the old osd deployments, so yes I think it's accepted that it does not happen right away. I think it's an hour or something.

@travisn do you know?

[2019-09-13 13:51] Ludea commented on #3845
I did not use it.
I see https://github.com/rook/rook/blob/release-1.1/cluster/charts/rook-ceph/templates/clusterrole.yaml .
So maybe I don't need to apply common.yaml

[2019-09-13 14:02] leseb commented on #3845
I'm not that knowledgeable with Helm, sorry.

[2019-09-13 14:30] travisn commented on #3845
The common.yaml is effectively embedded inside the helm chart, so it shouldn't be necessary. @Ludea can you share the operator log?

[2019-09-13 14:33] travisn commented on #3812
In the v1.1 release we will remove the OSD pod if it is marked as safe-to-destroy (after all its data has been backfilled). The hour timeout is only used if the osd was just created less than an hour ago. @DonAndrey If you're running on v1.0.3, it's expected that the osd won't be removed.

[2019-09-13 15:04] Ludea commented on #3845
Nevermind, I fix it.
I forgot to do `helm update`. I do `helm ls` and see my mistake -_-'

[2019-09-13 15:04] #3845 closed

[2019-09-13 15:33] leojonathanoh commented on #3832
@leseb

Following the steps [here](https://ceph.io/geen-categorie/ceph-and-krbd-discard/)
on the node where the pod is running with a `krbd` mount, there is no `discard` option among the mount options. Running `fstrim` did not  free up the space.

[code]

Here's the rbd `block-storageclass.yaml`

[code]

and the actual storageclass

[code]

## deployment.yaml

[code]

## pvc.yaml

[code]

[2019-09-13 15:38] liewegas commented on #3539
See https://github.com/ceph/ceph/pull/30264 ... bluestore will automatically convert itself (quickly) on startup, coming soon to a nautilus point release near you!

[2019-09-13 15:52] rslinckx opened #3846 "OSD pod fails to start when using disk encryption with rook 1.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD pod fails to start:

[code]

**Expected behavior:**
It should start up normally

**How to reproduce it (minimal and precise):**
The problem doesn't happen with rook 1.0, but happens in rook 1.1, the cluster needs to have disk encryption enabled for the problem to manifest. Without disk encryption e

[2019-09-13 15:53] rslinckx commented on #3846
My hypothesis is that the ceph command to fetch the dmcrypt key is not configured properly (missing --config XXX?) and so doesn't know how to find the MON (and falls back to the DNS SRV query which doesn't work)

[2019-09-13 21:00] travisn commented on #3846
@mvollman Is this something you could look into? thanks

[2019-09-13 21:05] ron1 opened #3849 "Object Bucket Provisioner should allow explicit definition of BucketHost"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Object Bucket Provisioner should allow explicit definition of BucketHost to support cases where the RGW Service SSL Certificate has an external CA with no "svc.cluster.local" SANs. In these cases, a client service running in OpenShift needs to connect to RGW via a passthrough Route whose Host property m

[2019-09-13 21:37] travisn opened #3850 "Support IPv6 single stack for Ceph"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Rook operators will need to handle new IPv4/IPv6 dual stack feature that is coming in K8s 1.16. See the [IPv4/IPv6 dual stack](https://kubernetes-io-vnext-staging.netlify.com/docs/concepts/services-networking/dual-stack/) docs on the topic.

Ceph only supports either v4 or v6. See the `ms bind ipv6` set

[2019-09-14 00:14] yarokifor commented on #3690
Yes!

[code]

[2019-09-14 00:28] xieyanker commented on #3380
@leseb I have never encountered a similar problem. Maybe I should close this issue.

[2019-09-14 00:30] #3380 closed

[2019-09-14 02:54] laevilgenius opened #3851 "Helm: Role bindings are missing for pod security policies"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:** Helm chart doesn't work with enabled Pod Security Policies

**Environment**:
* Rook version: v1.1.0
* Kubernetes version: v1.15.3

I believe these bindings are missing: https://github.com/rook/rook/blob/82a2d018a2fb201878a1169b897588580b38673d/cluster/examples/kubernetes/ceph/common.yaml#L1158-L1212

[2019-09-14 04:42] ron1 opened #3852 "OSD on PVC: Accommodate multiple devices per OSD when using a StorageClassDeviceSet"
* Feature Request

**What should the feature do:**
When using a StorageClassDeviceSet to configure OSDs, allow multiple volumeClaimTemplates with different storageClassNames to be defined as described in the following example: https://github.com/rook/rook/blob/master/design/ceph/storage-class-device-set.md#example-5-multiple-devices-per-osd. This is needed to achieve optimal performance by allowin

[2019-09-14 07:27] christianhuening commented on #3370
same here with ceph `14.2.3` and rook `1.1.0`

[2019-09-14 22:58] DonAndrey commented on #3812
Thanks for the information @leseb  and @travisn .

[2019-09-14 22:58] #3812 closed

[2019-09-15 12:26] Liuxiayu opened #3853 "rook vs ceph-ansible"
Hello, I wonder what benefits rook-ceph has compared to ceph-ansible

[2019-09-15 13:04] joshuacox commented on #3853
Does ceph-ansible work?

I am very interested in utilizing ceph but I have yet to see rook-ceph work.  I have an [issue here](https://github.com/rook/rook/issues/3748), despite having tried it in many different environments the results are always the same.

[2019-09-15 14:44] stephan2012 opened #3854 "Failed to update mds deployment after cephfilesystem delete/add"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook does not recreate CephFS when it has been deleted and added again

**Expected behavior:**
Rook creates CephFS

**How to reproduce it (minimal and precise):**

1. Setup Rook Operator
2. Setup Ceph cluster via Rook
3. Request `cephfilesystem`:

[code]

4. Delete `cephfs` object and wait for the Rook

[2019-09-15 14:52] joshuacox commented on #3748
If I let it run long enough it ends in:

[code]

[2019-09-15 14:54] Madhu-1 commented on #3748
@joshuacox can you provide below output
* List pods in rook-ceph namespace
* Logs from the rbd provisioner logs

[2019-09-15 14:59] stephan2012 opened #3855 "Allow specification of CSI Docker image registry in Rook Helm Chart"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The Helm Chart for Rook v1.1.0 should include values for the CSI images so Rook with CSI can pull the required images from a private container registry. This is required when a Kubernetes cluster is not Internet connected. In `rook-ceph-v1.1.0-beta.0.79.gaf60060`, these values are not available.

At the

[2019-09-15 15:20] joshuacox commented on #3748
@Madhu-1 the full output is:

[code]
[code]

[code]

I am very happy to supply any other debugging logs that one might need.

[2019-09-15 15:23] Madhu-1 commented on #3748
sure will debug it
is this storage-class created `rook-ceph-block` ? if yes please provide me the logs of
[code]

[2019-09-15 15:41] joshuacox commented on #3748
the storage class is created by this [line](https://gist.github.com/joshuacox/30c0b0871622b233195a8bb5229ee5e4#file-gistfile1-txt-L102)

I have also tried using other definitions of the storageclass as well (e.g storageclass.yaml right next to that storageclass-test.yaml and the others found under `ook/cluster/examples/kubernetes/ceph`).

the output of `kubectl logs po/csi-rbdplugin-provisioner-5c

[2019-09-15 15:44] joshuacox commented on #3748
I definitely messed up the storageclass somehow, as I did get a success from master just now on the katacoda plain jane kubernetes scenario:

[code]

[2019-09-15 15:46] Madhu-1 commented on #3748
@joshuacox yeah some issue with storage-class

anything else is needed with this issue if not can you please close it?

[2019-09-15 15:50] joshuacox commented on #3748
@Madhu-1  Let me verify by reproducing the success in a few other environments, and then I will close this issue.

[2019-09-15 15:51] Madhu-1 commented on #3748
@joshuacox sure :)

[2019-09-15 17:15] Liuxiayu commented on #3853
I wonder what benefits rook-ceph has compared to ceph-ansible.

[2019-09-15 17:18] Liuxiayu opened #3856 "osd fault migration"
Hello, everyone. I want to know how to do fault migration or repair if the osd of one node is broken in the rook-ceph cluster.

[2019-09-15 20:51] #2521 closed

[2019-09-15 21:49] jjo commented on #1827
Documentation on this (or pointers to already added, if so) is really needed, specially if rook wants to be production ready.

[2019-09-16 01:35] Liuxiayu opened #3857 "rook for python project"
Since there is rook-ceph, what should we start from if we want to do a rook-pythonproject？

[2019-09-16 06:22] stephan2012 opened #3858 "Additional instances of Mgr, Mon, OSD scheduled on Kubernetes cluster restart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After a full Kubernetes cluster restart (power-on from all Kubernetes nodes down), a second instance for Mgr, Mon, and OSD is scheduled:

[code]

**Expected behavior:**
Rook tackles Kubernetes cluster restart and avoids inappropriate replicas.

**How to reproduce it (minimal and precise):**

1. Setup a

[2019-09-16 06:48] umangachapagain opened #3859 "Rename ClusterStatus.State to ClusterStatus.Phase in CephCluster CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Change the CephCluster CRD status spec from ClusterStatus.State to ClusterStatus.Phase. This does not bring in new functionality but helps to integrate CephCluster Status into OLM user Interface.

**What is use case behind this feature:**
Currently, CephCluster stores system state in .Status.State spec.

[2019-09-16 06:51] umangachapagain commented on #3859
@travisn @leseb What do you guys think about this? Can we target this for 1.1.1? Or, since it is a CRD change, this should probably go in 1.2?

[2019-09-16 06:57] umangachapagain opened #3860 "Automate CRD changes propagation"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently, changing a CRD requires changes to be made at multiple places. It would be good to add some kind of automation that takes care of this. Also, we could add tests which notifies that CRD has been changed and is out of sync in one of these files. This could be added to CI.

**What is use case be

[2019-09-16 06:58] leseb commented on #3859
I guess I'm also worried about breaking backward compatibility, which might mean having both.

[2019-09-16 07:00] leseb commented on #3857
I'm not sure I understand, are you saying re-writting Rook in Python instead of Go?

[2019-09-16 07:07] umangachapagain commented on #3859
Is having both a good idea? (Redundant Information)
We could add both and eventually deprecate use of .Status.State in later releases. But, this is not a "must have" so we can look at what is justified from Rook's perspective.

If we are fine with having both, I'd also like to propose adding .Spec.Version which is equivalent to .Spec.CephVersion. This will report Ceph Version to OLM UI.

These are

[2019-09-16 07:08] umangachapagain commented on #3859
@nizamial09 See this.

[2019-09-16 07:09] leseb commented on #3860
I'm not sure I understand correctly, can you give an example? Thanks!

[2019-09-16 07:11] leseb commented on #3859
I guess I should have said "both for a certain period of time" :-). If there is a really high demand from OLM users then this could be a reason why Rook would do this.

[2019-09-16 07:14] umangachapagain commented on #3860
If you look at https://github.com/rook/rook/pull/3788/files , it was a simple change to PrinterColumn which required manual changes to 4 different files. This is duplication of work and error prone if not aware of the files being affected. @travisn and I were discussing about the possibility of adding some kind of automation/templating to make this simpler or at least a test to notify that more ch

[2019-09-16 08:24] leseb commented on #3853
It's difficult to compare them, I'd say they are two different worlds. Rook leverages various Kubernetes features such as auto-scaling, healing, daemon's recovery, node discovery where ceph-ansible is more "static", if something fails only systemd will try to restart the daemon and it won't try to reschedule anything on another node. For node addition, you need to edit a yaml file.

ceph-ansible i

[2019-09-16 09:12] leseb commented on #3854
I cannot reproduce, the only difference is that my CR does not specify any placement.

[2019-09-16 09:40] yizhishang commented on #2884
where can we download 14.2.2

[2019-09-16 10:09] mamoit commented on #2884
@yizhishang check the available versions [here](https://hub.docker.com/r/ceph/ceph/tags) and set it in the `CephCluster` definition.
For example, to use the latest, greatest and unstable(est) version, do:
[code]

[2019-09-16 10:13] yizhishang commented on #2884
Thanks

[2019-09-16 10:45] yizhishang opened #3866 "pod has unbound immediate PersistentVolumeClaims"
| Unable to mount volumes for pod  "nginx-688c4d48cb-xljz9_default(a6cb67b2-d86d-11e9-a9a3-000c291bfc6d)":  timeout expired waiting for volumes to attach or mount for pod  "default"/"nginx-688c4d48cb-xljz9". list of unmounted  volumes=[http-file]. list of unattached volumes=[http-file  default-token-hmsm9]
-- | --
![image](https://user-images.githubusercontent.com/12756407/64951897-872a0600-d8b1-1

[2019-09-16 11:17] carlinhos700 opened #3867 "external cephcluster (other namespace) stuck in "connecting" state (docker EE)"
* Bug Report

**Expected behavior:**

an external cephcluster created (version 1.1)

**How to reproduce it (minimal and precise):**
kubectl create -f common.yaml
kubectl create -f operator.yaml
kubectl create -f cluster.yaml
kubectl create -f common-external.yaml
kubectl create -f cluster-external.yaml

**File(s) to submit**:

kubectl get cephcluster --all-namespaces
NAMESPACE            NAME

[2019-09-16 11:19] monester opened #3868 "Missing ServiceAccounts for csi"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Service accounts `rook-csi-cephfs-provisioner-sa` and `rook-csi-rbd-provisioner-sa` for CSI aren't created after upgrade to 1.1, and there is no mention of manual creation requirement in upgrade documentation.
In replicasets on describe services following errors:
[code]

**Expected behavior:**
Service

[2019-09-16 12:12] leseb commented on #3867
@carlinhos700 did you inject the connection information?

[2019-09-16 13:11] carlinhos700 commented on #3867
No, I didn't.
After inject the conection information the operator's logs show this:

2019-09-16 13:05:19.912437 I | op-mon: parsing mon endpoints: a=192.168.145.77:6789
2019-09-16 13:05:19.912468 I | op-mon: loaded: maxMonID=2, mons=map[a:0xc000a50120], mapping=&{Node:map[]}
2019-09-16 13:05:19.912475 I | op-cluster: found the cluster info to connect to the external cluster. mons=map[a:0xc000a5012

[2019-09-16 13:16] leseb commented on #3867
Did you read the documentation? Take a look: https://rook.io/docs/rook/v1.1/ceph-cluster-crd.html#external-cluster.

The log says the external cluster is not reachable.

[2019-09-16 13:33] carlinhos700 commented on #3867
yes, I followed the instructions.

This is the config files generated:

[root@rook-ceph-operator-6f8f94f798-nsk54 /]# more /var/lib/rook/rook-ceph-external/client.admin.keyring

[client.admin]
	key = AQBwX39dP5xBCxAAnJjaxrRP/pzJzQlKUj8Epw==
	caps mds = "allow *"
	caps mon = "allow *"
	caps osd = "allow *"
	caps mgr = "allow *"

[root@rook-ceph-operator-6f8f94f798-nsk54 /]# cat /var/lib/rook/rook-c

[2019-09-16 13:38] leseb commented on #3860
Got it, I was discussing that with @travisn too, especially in the context of the CI.

[2019-09-16 13:42] annismckenzie commented on #3284
I'll test it again with Rook v1.1 (and there was something about this in the v1.0.6 changelog) but that's gonna take a week and I don't think it's been fixed. We've worked around it for now on our cluster with custom iptables rules. Can someone prevent this issue from being closed by the stale bot, please?

[2019-09-16 13:42] leseb commented on #3867
On the external cluster:

* what's the ceph version?
* is msgr2 enabled?
* try replacing `mon host = v1:192.168.145.77:6789` with `mon host = v2:192.168.145.77:3300`, if msgr2 is enabled. Then try the ceph command again.

Thanks.

[2019-09-16 14:06] carlinhos700 commented on #3867
msgr2 appear to be enabled, is listening in port 3300, I made the changes but the ceph command still gave up due time out

[root@rook-ceph-operator-6f8f94f798-nsk54 /]# cat /var/lib/rook/rook-ceph-external/rook-ceph-external.config
[global]
fsid                      = 93c37833-6289-4f84-9acd-ae68adc19afb
run dir                   = /var/lib/rook/rook-ceph-external
mon initial members       = a
mon

[2019-09-16 14:45] mhaluska commented on #2591
I think you can close this issue. LVM prereq is mentioned in doc now:
https://rook.io/docs/rook/v1.1/k8s-pre-reqs.html (section LVM package)

[2019-09-16 15:14] sebastian-philipp commented on #2206
Relates to #2963 (where Rook creates pools)

[2019-09-16 16:06] christianhuening opened #3872 "Rook 1.1 upgrade to Nautilus is blocked"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrading the operator image to the latest Nautilus release (v14.2.3), the operator starts rolling over the first OSD pod. Then it the next pod is stuck with the following message:
[code]

The cluster is in HEALTH_OK state and all PGs are in `active+clean` state. So the issue is that upon deletin

[2019-09-16 16:08] christianhuening opened #3873 "ceph-mgr errors with KeyError mimic in rook 1.1.0 and Nautilus 14.2.3"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After starting the mgr pod issues the following logs over and over again

[code]

I did not yet run the feature update to nautilus since the upgrade is not yet completed.

**Expected behavior:**
ceph mgr works as normal without this error.

**Environment**:
* OS (e.g. from /etc/os-release): containerli

[2019-09-16 16:12] carlinhos700 commented on #3867
I found the problem, I was using the mon pod ip instead the node ip, now is working great!

Tanks for your help!

[2019-09-16 16:12] #3867 closed

[2019-09-16 17:58] travisn commented on #3855
@Madhu-1 could you take a look?

[2019-09-16 18:45] travisn commented on #3873
@christianhuening The title of the issue says this happens with ceph v14.2.3, but your comment says you haven't yet updated to nautilus. Can you clarify the repro steps? thanks

[2019-09-16 18:48] travisn commented on #3872
If the PGs are active+clean, all the OSDs should get updated. @leseb Could you take a look? Does the `ok-to-stop` check find more OSD health issues than what `ceph status` reports?

[2019-09-16 18:50] christianhuening commented on #3873
@travisn I am halfway through. mgr and mons are on 14.2.4 already, 2 of the OSDs as well. The remaining bits not yet. This is the condition this is happening in.

[2019-09-16 18:51] christianhuening commented on #3872
The cluster is at around 45-55% usage. @galexrt pointed out that indeed there might not be sufficient space to rebalance a complete disk away. However at 50% usage I think it should be possible.

[2019-09-16 18:51] travisn commented on #3868
It appears we missed adding the CSI RBAC to the upgrade-from-v1.0-create.yaml manifest. @Madhu-1 could you take a look?

[2019-09-16 18:58] travisn commented on #3860
The challenge here is that there are really different formats to take into account:
- Example manifests: We may have multiple example manifests with different settings depending on the scenario. For example, we have multiple examples of cluster.yaml.
- Helm chart: Adds processing for inserting variables
- Integration tests: Needs to test different parameters

Ideally we would update a template in

[2019-09-16 19:00] eknudtson commented on #3868
It looks like a few other items from common.yaml are missing from the upgrade-from-v1.0-create.yaml, namely the `rook-privileged` podSecurityPolicy and associated RBAC resources

[2019-09-16 19:04] travisn commented on #3858
@stephan2012 Can you get the output of `kubectl describe` on the pods that are in the state `MatchNodeSelector`? Do those pods have a node selector? I wouldn't think the mgr-a pod should have a node selector even if the mons and osds do.

[2019-09-16 19:12] eknudtson opened #3874 "rook-ceph-csi secret not created during cluster upgrade to 1.1.0"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The rook operator is only creating the `rook-ceph-csi` secret during cluster creation, and not during an upgrade to v1.1.X.

**Expected behavior:**
The rook operator should create the `rook-ceph-csi` secret during an upgrade such that the CSI driver works out of the box.

**How to reproduce it (minimal

[2019-09-16 19:25] eknudtson commented on #3874
Proper CSI operation post-upgrade is also blocked by https://github.com/rook/rook/issues/3868

[2019-09-16 20:10] eroji opened #3875 "Clarify CSI-based documentation for 1.1.x Ceph"
The current documentation for quickstart is more geared towards flex driver method of install for Ceph but the example YAML included has changed slightly, with added subdirectories. This created some confusion on which file is which, and which to use to stand up the cluster along with creating the storage class. It seems like some updates are needed for the documentation and explain which set of e

[2019-09-16 20:19] travisn commented on #3873
@sebastian-philipp any ideas on this failure in the mgr modules?

[2019-09-16 21:07] kadomino commented on #3875
Another missing area is how to set a separate metadataDevice (or should I say metadataSet or metadataStorageClass?) for the OSDs when using the storageClassDeviceSets style of configuration.

[2019-09-16 21:35] travisn commented on #3859
@umangachapagain What are the requirements for the OLM `phase`? The status has custom behavior that may not be expected anyway so copying it over may not satisfy what OLM is looking for:
- Rook defines its own states. Does OLM expect certain states?
- Every time the operator starts an orchestration, the states are updated. This may cause confusion to the average user looking at the UI. To make it

[2019-09-17 00:11] #3835 closed

[2019-09-17 01:57] yexia553 opened #3877 "rook-ceph deployed ink8s，k8s cluster crashed because of insufficient memory，then allPVCs stay in pending state"
**Is this a bug report or feature request?**
* No

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
 my cluster.yaml is original

 To get logs, use `kubectl -n <namespace> logs <pod name>`
When pasting logs, always surround them with ba

[2019-09-17 04:25] Madhu-1 commented on #3855
@travisn sure

[2019-09-17 04:54] 326068345 opened #3878 "Container storage is enabled and tls is used, container cannot be created successfully"
environment：
OS: CentOS 7.6.1810
kernel: 3.10.0-957.el7.x86_64
kubernetes: v1.15.3 ,Install using kubeadm,1master,3node
    kubelet Setting: --fail-swap-on=false --volume-plugin-dir=/var/lib/kubelet/volumeplugins
helm: v2.14.3
rook-ceph: v1.0.6,v1.1.0
    installed:
       helm repo add rook-release https://charts.rook.io/release
       helm install --name rook-ceph  --namespace rook-ceph rook-rel

[2019-09-17 05:49] umangachapagain commented on #3859
It just expects a .Status.Phase spec. We can choose what (string) values it can have. Since, we are trying to reflect the overall system status which .Status.State already does, copying it over shouldn't be an issue.

This is the most realistic system state information that we can provide. However, agreed that it will create confusion to a lot of users.

What do you suggest are the appropriate Pha

[2019-09-17 06:02] umangachapagain commented on #3860
Agreed that automating this is a much bigger problem than I thought.

Maybe we should start with something simple like

But, there's another problem I see. How do we differentiate CRD changes vs Other changes (like name or namespace)? Maybe the make target should just `Suggest` the users that some files might need to be updated if intentional changes to CRD were made (with a diff of CRD files poss

[2019-09-17 06:07] umangachapagain commented on #3860
https://github.com/rook/rook/issues/3868#issuecomment-531908929
https://github.com/rook/rook/issues/3868#issuecomment-531912228

Looks like other resources also need similar checkpoint.

[2019-09-17 06:58] sebastian-philipp commented on #3873
https://tracker.ceph.com/issues/41878

[2019-09-17 07:00] christianhuening commented on #3873
@sebastian-philipp sorry i have a typo in there where it says I would be on 14.2.4. of course I am on 14.2.3. I am afraid you copied that over to the ceph issue tracker.

[2019-09-17 07:08] 13567436138 opened #3881 "ceph dashboard index page show error"
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

install rook ceph oprerator ,create a cluster.open dashboard

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

[2019-09-17 07:30] sebastian-philipp commented on #3873
As a workaround, you could make sure, all host versions displayed in the ceph dashboard show `nautilus`

[2019-09-17 08:24] christianhuening commented on #3873
the login for the dashboard does not work sadly...
Throws this:

[2019-09-17 08:35] sebastian-philipp commented on #3873
[code]

[2019-09-17 08:50] epuertat commented on #3873
Isn't this the same as https://github.com/rook/rook/issues/3424 (https://tracker.ceph.com/issues/40754) ? `stay_signed_in` is a login property from Mimic that was removed in Nautilus. It remains in the stale cached HTML/JS assets. Refreshing any intermediate proxy/caching layer should resolve this.

[2019-09-17 08:52] christianhuening commented on #3873
@epuertat yeah that was my local browser cache, sorry...

[2019-09-17 08:54] sebastian-philipp commented on #3873
Nevertheless, might make sense to improve the UX here.

[2019-09-17 09:03] epuertat commented on #3873
Great, @christianhuening! Not sure how we can avoid these quirks without losing cache efficiency.

Sure. A suggestion would be to introduce an API versioning (https://tracker.ceph.com/issues/40909), so we can easily detect front-end and back-end versions mismatches, and instead report a user-friendly actionable message (e.g.: "Please refresh your browser cache").

[2019-09-17 09:35] chenlein opened #3885 "How can I set `imagePullPolicy: IfNotPresent ` for csi-snapshotter!"
How can I set it to 'IfNotPresent'.
[code]
rook version: 1.1.0

[2019-09-17 09:47] leseb commented on #3877
If you don't have enough memory to run k8s and it crashes, I don't see how this is a bug.
If you are running out of resource, the end result is expected.

I'm closing this as won't fix. Feel free to re-open if you have any more concerns.

[2019-09-17 09:47] #3877 closed

[2019-09-17 09:58] sebastian-philipp commented on #3873
Yeah, the Dashboard is already tightly coupled to the backend. Might make sense to make sure, the frontend version exactly matches the backend version

[2019-09-17 11:09] galexrt commented on #3866
@yizhishang You are not specifying the right `storageClassName` to use in the PVC.
The example file `storageclass-test.yaml` (https://github.com/rook/rook/blob/release-1.0/cluster/examples/kubernetes/ceph/storageclass-test.yaml) has a `StorageClass` named `rook-ceph-block` you are trying to use a StorageClass named just `ceph`, you need to change that to fit the `StorageClass` `rook-ceph-block` yo

[2019-09-17 11:15] yizhishang commented on #3866
@galexrt yes, you're right.
but even if i modify the storegeclass to "rook-ceph-block", it still go wrongs

[2019-09-17 11:38] #3866 closed

[2019-09-17 12:18] sebastian-philipp commented on #3873
I expect the fix to end up in Nautilus 14.2.4

[2019-09-17 12:51] sebastian-philipp opened #3888 "Finding a better place for ceph-volume logs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Right now, ceph-volume logs are written to `/var/lib/rook/log/rook-ceph/ceph-volume.log` on the host machines. Having the logs stored there is cumbersome.

Would it be possible to store the logs in a place accessible without SSH access?

We have the osd prepare pods. might make sense to add them there?

[2019-09-17 14:17] Madhu-1 commented on #3868
@travisn this service account should be  created in v1.0 itself and its present in v1.0 rbac folder
https://github.com/rook/rook/blob/v1.0.6/cluster/examples/kubernetes/ceph/csi/rbac/rbd/csi-provisioner-rbac.yaml#L4 https://github.com/rook/rook/blob/v1.0.6/cluster/examples/kubernetes/ceph/csi/rbac/cephfs/csi-provisioner-rbac.yaml#L4

let me know anything else is required

[2019-09-17 14:19] nizamial09 commented on #3859
Hey,
I am new to this Open source coding platform. This is my first project. Any way I added the ClusterStatus.Phase and assigned it with ClusterStatus.State. But when I try to build the file it returns the below error:

make[1]: *** [build/makelib/golang.mk:161: go.vet] Error 2
make: *** [Makefile:102: build.common] Error 2

Any idea why this issue pops up.

[2019-09-17 15:05] christianhuening commented on #3872
Ok I am irritated right now. My replicapool states its 89% full, which would explain @galexrt reasoning about the cluster not having enough free space to rebalance a disk.

![Bildschirmfoto 2019-09-17 um 17 03 28](https://user-images.githubusercontent.com/738953/65053997-26600380-d96d-11e9-8bac-0598264ff297.png)

Now my overall raw capacity states it still has 50% free space:
![Bildschirmfoto 2019

[2019-09-17 16:08] leseb commented on #3872
What I'm seeing here does not look like an issue to me. At least, we acknowledge what the `ok-to-stop` flag says. At this point, the only thing I can think of is a CR property to force the upgrade anyways. I can already hear @travisn saying Hooray! to this one 😂  as we have been discussing this so many times.

We can't wait for a fix in Ceph to unblock you. I'll work on something tomorrow.

[2019-09-17 16:10] leseb commented on #3872
@liewegas what do you think about this, should `ok-to-stop` behave differently here?

[2019-09-17 16:26] #3205 closed

[2019-09-17 17:34] travisn commented on #3859
What does it mean to break OLM compatibility? OLM still works without this, right? Seems like we aren't doing the right thing by adding a property that is deprecated. We should also review the values we actually want to show to the user. This seems like a bigger work item to do the right thing.

@nizamial09 Did you check out the [developer guide](https://rook.io/docs/rook/v1.1/development-flow.htm

[2019-09-17 17:43] travisn commented on #3868
@Madhu-1 Clusters that were created before v1.1 will not have the csi driver configured by default. We need all of those clusters to be configured for CSI during the upgrade process to v1.1. The method for doing this is described in the "Update Modified Permissions" section of the [Ceph Upgrade Guide](https://rook.io/docs/rook/v1.1/ceph-upgrade.html). In that section the admin is instructed to cre

[2019-09-17 18:03] travisn commented on #3888
All the output from ceph-volume is written to the logs for the osd prepare pod and can be seen in the `provision` container logs. For example, you can access it like this:
[code]
Is that sufficient, or are you seeing different logs written to disk on the host?

[2019-09-17 18:10] travisn commented on #3873
@sebastian-philipp Was it in today's release of 14.2.4? Or will it actually be in 14.2.5?

[2019-09-17 18:25] walkerandco commented on #2953
I agree, I'm having the same issue with `k3s`. I've not actually successfully bound. I've used to WP and Mysql examples from the Rook repo and I'm left with the same issue of the pod timing out when trying to attach the filesystem. The PV to PVC is immediate, but the attachment to the underlying filesystem is extremely slow.

[2019-09-17 19:09] NicolaiSchmid commented on #3751
I'm out of ideas, I'm sorry

[2019-09-17 19:13] #3874 closed

[2019-09-17 19:31] travisn commented on #3875
@kadomino You're referring to [scenario 5](https://github.com/rook/rook/blob/master/design/storage-class-device-set.md#example-5-multiple-devices-per-osd) in the design doc? That isn't implemented yet. We will need to add this to a future release.

[2019-09-17 19:36] ron1 opened #3893 "OSD on PVC: Assign custom OSD deviceClass to a StorageClassDeviceSet"
* Feature Request

**What should the feature do:**
PR https://github.com/rook/rook/pull/3593 allows a deviceClass to be associated with a traditional OSD via a config option under storage/nodes/devices/config for setting a custom crush device class per OSD. Similar functionality is needed for an OSD on PVC.

**Environment**:
Rook 1.1 on OCP 3.11

[2019-09-17 19:52] christianhuening commented on #3873
From the release notes 14.2.4 "only" includes this: https://tracker.ceph.com/issues/41660

[2019-09-17 21:06] galexrt commented on #3751
@albertdb Is your Ceph cluster healthy `ceph -s`? Do you see that the rbd volume exists `rbd -p replicapool ls`?
Are you sure all servers are running the same kernel (e.g., rebooted after kernel update)?

[2019-09-17 23:30] dimm0 commented on #1507
Not stale

[2019-09-18 02:01] Liuxiayu opened #3896 "access service process and storage mount process in rook-ceph cluster"
Hello everyone, could you please explain to me the whole access service process and storage mount process of ceph block storage wordpress+mysql example?  Thank you very much. The more detailed the better!

[2019-09-18 04:10] Madhu-1 commented on #3868
@travisn before opening a PR I have few questions
* what if the csi driver is deployed with the release 1.0.x as CSI was experimental, to which file the CSI updates should go to.
* if CSI is not deployed to which file I need to add all CSI roles and SA
* if CSI was deployed by v1.0.x in Kubernetes 1.14.x (earlier we used to deploy provisioner as the statefulset with rook 1.1.0 we are deploying the

[2019-09-18 04:18] thotz commented on #3792
@copejon @jeffvance  any update wrt this issue

[2019-09-18 05:22] travisn commented on #3868
If they deployed the 1.0 experimental driver, some/most/all of these service accounts and RBAC will already exist, right? I'd suggest we add them to the create.yaml and put a note in the upgrade guide that they can ignore errors about the resources already existing if they had installed the csi driver. But if the resources have changed and needed to be updated, we may need a new step in the upgrad

[2019-09-18 05:23] Madhu-1 commented on #3868
@travisn Thanks for clarifying the doubts I will make a PR

[2019-09-18 05:53] 13567436138 commented on #1685
how this problem been solved，I also face the problem，pvc is pending

[2019-09-18 05:59] 13567436138 commented on #3748
how to solve this problem，I am facing the same one

[2019-09-18 06:20] Madhu-1 commented on #3748
@13567436138 what rook version you are using?

[2019-09-18 06:29] jeffvance commented on #3792
Yes, this log line seems to indicate a problem:
[code]
Can you show what the same log line is for greenfield? Thanks

[2019-09-18 06:52] sebastian-philipp commented on #3873
Hm, predicting the future always comes with a risk of being wrong.

[2019-09-18 07:06] #3288 closed

[2019-09-18 07:11] sebastian-philipp commented on #3888
perfect. Do we need the `/var/lib/rook/log/rook-ceph/ceph-volume.log` file then at all?

[2019-09-18 07:29] danielxolsson commented on #1507
I have to inform you that this did not work if the crashed node comes up again. Sometimes the old pod starts and get the volume mounted (which is already mounted) which can cause corrupted filesystem. It happend to me :( Ceph do allow a second mapping (rbd map ...) of volume. However rook-ceph kubernetes driver should not allow multiple rw mount of same volume, but sometimes it does which can caus

[2019-09-18 07:42] vkrishr opened #3897 "PVC not mounting to Kubernetes POD"
$ kubectl get pvc -n appops
NAME               STATUS    VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS      AGE
mongodb-pv-claim   Pending                                      rook-ceph-block   1h

$ kubectl describe pvc mongodb-pv-claim -n appops
Name:          mongodb-pv-claim
Namespace:     appops
StorageClass:  rook-ceph-block
Status:        Pending
Volume:
Labels:        app=mongodb
Annotat

[2019-09-18 08:09] Liuxiayu opened #3899 "mon osd"
Hello, where is the correspondence between mon and osd to be seen, for example, which osds does mon monitor

[2019-09-18 08:24] leseb commented on #3888
c-v generates this file. Also, the current location is more common than `kubectl -n rook-ceph logs <osd-prepare-pod> provision`. And I believe the output differs from the log (TBC), where the log file has more content/more verbose.

I'm not sure I fully understood the rationale behind that request.

[2019-09-18 08:43] sebastian-philipp commented on #3888
In general it's unusual for K8s PODs to write physical log files on the host system, as retrieving them is cumbersome as you need direct access to the machine.

[2019-09-18 09:17] kadomino commented on #3875
Thanks travisn, this is exactly it. I think that it is worth mentioning in the doc - in an prominent spot - that this is not yet available. I spent some time trying to make it work, read the design scenario as well, but did not realize that it was not implemented. The reason I tried is because I have it working with the "device style" on Rook 0.9.3, so it's likely other people will try too...

[2019-09-18 09:29] #3810 closed

[2019-09-18 10:03] nizamial09 commented on #3859
@travisn Yeah I did everything as in the developer guide. I've tried cloning the repository into another directory and still it gives this error.

[2019-09-18 10:06] #3293 closed

[2019-09-18 10:47] Liuxiayu opened #3905 "Storage expansion and contraction"
In the rook-ceph cluster, how to carry out dynamic expansion, how to increase osd, delete osd.Let's say I have three osds, how can I expand to four osds.

[2019-09-18 10:54] dkrizic opened #3906 "Question: Mixed cluster"
Hi,

I have a generic question: I have a Kubernetes cluster. Some nodes (kube0 and kube1) provide storage. I would like to consume storage on the other nodes (kube2, kube3). What do I have to consider to make the storage (PVC via StorageClass) available? Should this work automatically or do I need the add the nodes kube2 and kube3 to a CephCluster?

[2019-09-18 10:58] leseb commented on #3728
I think `status` might fall back to `meta` which calls `uname` to get the hostname, wild guess.

[2019-09-18 12:56] #3855 closed

[2019-09-18 14:03] stephan2012 commented on #3855
Cool, thanks!

[2019-09-18 14:03] albertdb opened #3911 "Ceph Cluster migration"
**Is this a bug report or feature request?**
* Feature Request (kind of, maybe there's a way already)

**What should the feature do:**

Allow migrating the Ceph Cluster from one Kubernetes Cluster to another.

**What is use case behind this feature:**

Rebuilding a Kubernetes Cluster while keeping PVs and PVCs.
Cold upgrades.

**Side notes**

I've already resolved (automated) OSD disks reuse acros

[2019-09-18 14:06] #3290 closed

[2019-09-18 14:06] #2776 closed

[2019-09-18 14:06] #2808 closed

[2019-09-18 14:24] leseb commented on #3905
They are 2 differents options:

1. If you specified the devices "manually" in the CR, you need to edit the cluster CR and add a new device
2. If you have used `useAllDevices`, if a new device is plugged it'll be detected within the next hour IIRC

Also please read https://rook.io/docs/rook/v1.1/ceph-cluster-crd.html#settings.

[2019-09-18 14:24] #3905 closed

[2019-09-18 14:32] sebastian-philipp commented on #2785
Experiencing the same issue. After

1. calling `ceph orchestrator osd create kubic-1:vdb`
1. waiting for the osd
1. calling `ceph purge osd.0` and others command to remove the osd again
1. calling `ceph orchestrator osd create kubic-1:vdb` a second time

Then, the osd-prepare job went fine, but starting the OSD itself fails:

[code]

Would be cool, if Rook could provide a __better error message__

[2019-09-18 14:49] sebastian-philipp commented on #3899
https://docs.ceph.com/docs/master/start/intro/

[2019-09-18 14:49] #3899 closed

[2019-09-18 14:51] sebastian-philipp commented on #3857
Or, do you want to control rook from a Python project?

[2019-09-18 15:42] leseb commented on #2785
This https://github.com/rook/rook/pull/3894 *might* solve this issue.

[2019-09-18 15:50] sebastian-philipp commented on #2785
that would be awesome!

[2019-09-18 16:00] Liuxiayu commented on #3899
Hello, I mean in which configuration file you can see the osds that mon is monitoring？

[2019-09-18 16:05] sebastian-philipp commented on #3899
just run `ceph osd ls`

[2019-09-18 16:09] Liuxiayu commented on #3899
Hi, how do you see what the disks are for each osd?  thanks

[2019-09-18 16:13] travisn commented on #3899
@Liuxiayu Could you join the [Rook slack](https://slack.rook.io/)? That is a better place for general questions. The github issues better for bugs and feature requests. Thanks!

[2019-09-18 16:14] Liuxiayu commented on #3899
okay，thanks！

[2019-09-18 16:26] travisn opened #3912 "Finalizer should not check for flex volumes if flex is disabled"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The CephCluster currently has a finalizer that will prevent the cluster from being deleted until the volumes are cleaned up. This is necessary to abort the deletion if there are any volumeAttachments. Otherwise, the volumes would hang and never be able to detach.

If the flex driver is disabled and the

[2019-09-18 17:06] ron1 commented on #3290
I experienced the same problem with the Rook 1.1 upgrade running on OCP 3.11.

[2019-09-18 17:21] travisn opened #3913 "Finalizer should check for csi volumes before allowing removal"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator adds a finalizer to the CephCluster so that when a cluster is deleted we can clean up the volumes before the cluster is stopped. Currently this check only happens for flex volumes in the [handleDelete()](https://github.com/rook/rook/blob/f7df86df16f75c25cf6195bcd8849beb399709e8/pkg/operato