[2019-05-29 06:01] jonashartwig commented on #1169
amazing, thank you!

[2019-05-29 06:44] jonashartwig commented on #3133
Hi, here is a list of commands executed in the toolbox pod:

[code]

which seem to work (xfs_growfs stated: blocks changed from 2621440 to 52428800). However my pod still thinks it is out of disk. What am I missing?

regards

[2019-05-29 07:14] Shrivaibavi opened #3233 "Making MDS count to 0 should not be allowed when did "oc apply -f filesystem.yaml""
Description:
Making the MDS count to 0 via "oc apply -f filesystem.yaml" should not be allowed. Error message like" Cannot set the active count to 0" should be thrown.
[code]

* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or

[2019-05-29 07:36] nabokihms commented on #2896
@invidian has great idea to make config map with operator settings and mount it to operator pod.

Seems good. @BlaineEXE @galexrt I can prepare the PR, if it's all right.

[2019-05-29 10:17] HaveFun83 commented on #3133
How do you extend the pvc within kubernetes?
I got the following error
[code]

[2019-05-29 10:21] elek opened #3235 "Support Apache Hadoop Ozone as a storage provider in Rook"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Install Apache Hadoop Ozone by a new rook operator based on CRD.

**What is use case behind this feature:**

Ozone is a new generic storage system. It is highly scalable and can be used via multiple interface:

 * It works as an S3 compatible file system
 * It can be used as a Hadoop compatible file sy

[2019-05-29 11:00] jonashartwig commented on #3133
you do not need to. it works fine without.

[2019-05-29 11:44] HaveFun83 commented on #3133
Thanks for the info. can you show me your storageclass object?
I use the storageclass provide by the rook docu https://rook.io/docs/rook/v1.0/ceph-block.html

[2019-05-29 11:50] jonashartwig commented on #3133
Hi, I use the very same. However I do not define any persistent volume. only persistent volume claims. That way they are dynamically provisioned and can be changed.

[2019-05-29 12:59] muhlba91 commented on #1633
@Data-drone @jbw976 could you please share the configuration you used?
I tried creating a cluster using Istio 1.1.7 now and it hangs with `rook-ceph-detect-version`. This job never finishes - probably due to sidecar injection? In fact, the operator never continues bootstrapping the cluster. Also, if I kill the pod manually the operator doesn't detect multiple containers in it, resulting in:
[code]

[2019-05-29 13:00] muhlba91 commented on #1638
@kesavkolla @vijaykumark  could you please share the configuration you used?
I tried creating a cluster using Istio 1.1.7 now and it hangs with `rook-ceph-detect-version`. This job never finishes - probably due to sidecar injection? In fact, the operator never continues bootstrapping the cluster. Also, if I kill the pod manually the operator doesn't detect multiple containers in it, resulting in:

[2019-05-29 13:23] mape90 opened #3236 "RBD CSI uses hardcoded monitor addresses."
* Bug Report
**Deviation from expected behavior:**

RBD CSI uses hardcoded monitor addresses. This then causes problem when monitors get replaced.

There is already open issue in ceph-csi: https://github.com/ceph/ceph-csi/issues/13

Replacement of monitor happens when node where mon was running gets removed from cluster. If all monitors get replaced this will eventually cause that none of the mon

[2019-05-29 13:55] creiche opened #3237 "useAllNodes getting removed by Operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When submitting a CRD for a new cluster, UseAllNodes is set to false but once the operator updates the CRD, the line is gone and it is trying to setup mons on nodes not specified.  They never deploy because they do not match the nodeselector.

**Expected behavior:**
useAllNodes: false forces setup on t

[2019-05-29 14:42] travisn commented on #3186
@liewegas What would cause the OSD auth key to disappear? This has happened in several clusters and it's not clear what the cause is.

To repair it, do we just add the auth key back in with the command mentioned in the [add osd docs](http://docs.ceph.com/docs/nautilus/rados/operations/add-or-rm-osds/#adding-an-osd-manual)?
[code]

[2019-05-29 14:50] travisn commented on #3236
@mape90 This is tracked with #2649 and is highest priority for the CSI work for rook 1.1. We will track it with that issues, thanks!

[2019-05-29 14:50] #3236 closed

[2019-05-29 15:08] msdemt commented on #3114
@travisn Can you tell me what should I do to run rook-ceph with firewalld open? THANKS

[2019-05-29 15:56] BlaineEXE commented on #3132
I believe this may be an issue with Ceph itself. It's my understanding that the Ceph OSDs with Bluestore can use a lot of CPU in some circumstances. I think this is especially true for clusters with many OSDs and clusters with very fast OSDs.

Bluestore will generally result in better performance compared to Filestore, but the performance also comes with more CPU overhead. It's also my understandi

[2019-05-29 16:15] liewegas commented on #3186
The key can get removed by ``ceph auth rm osd.NNN`` or (more likely?) by ``ceph osd purge osd.NNN``.  If it's the latter, you'll also see that the OSD is removed from the CRUSH map (i.e., missing from ``ceph osd crush tree``).

Adding the auth key back should be sufficient, because when the OSD comes up it will add itself back to the CRUSH map on its own.

[2019-05-29 16:16] liewegas commented on #3186
BTW the cluster's audit log should tell you whether/which of the auth rm or osd purge commands was run.  IIRC by default it's going into the mons' stderr log output prefixed by ``audit``.  Or it'll be in the mons' log dir as ``ceph.audit.log``.

[2019-05-29 16:34] BlaineEXE opened #3238 "Need to allow setting multiple tolerations, affinities, and anti-affinities for all resources"
**Is this a bug report or feature request?**
* Bug Report

Rook should allow setting multiple tolerations, affinities, anti-affinities, priorities, etc. for all daemons. This includes `discover` and `rook-ceph-agent` as well as the Ceph daemons.

https://github.com/rook/rook/pull/2985 has an environment-variable-based solution to the issue, but I believe we should support this use case using the o

[2019-05-29 17:07] bengland2 commented on #3132
@BlaineEXE To see what they are doing about it, see [project crimson](https://cephalocon2019.sched.com/event/M7i7/rebuilding-a-faster-osd-with-future-kefu-chai-radoslaw-zarzynski-red-hat).   Ceph was designed in a world of HDDs, with 3 orders of magnitude less random IOPS per device.   So yes it needs an overhaul, and they are doing that.   Ceph is not the only application that is dealing with thi

[2019-05-29 19:23] vitobotta commented on #3132
An update... as suggested by @BlaineEXE I did my usual test but using the latest Mimic image instead of Nautilus. It worked just fine with two clusters and managed to finish copying the test data with a very low CPU usage. I repeated this twice with two different clusters, successfully both times. For the third test, I just updated Ceph to Nautilus on the second cluster, and surprisingly the test

[2019-05-29 19:52] travisn commented on #3227
Looks like a retry would help in this situation instead of just immediately logging the error and returning [here](https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/controller.go#L274).

[2019-05-29 19:53] BlaineEXE commented on #3132
Is @sp98 still working on this issue? It would be great to see if there are any noticeable differences between how Rook starts up a Mimic cluster compared to how it starts up a Nautilus cluster to determine if Rook is the cause. We should also pay close attention to the behavior of ceph-volume, as the initial OSD prep using Mimic's c-v could be different than the prep using Nautilus' c-v.

[2019-05-29 20:47] strowi commented on #3059
seeing similar errors, with the rook-ceph-rgw-store-main-* pods being gone afterwards.. will try to get some debug logs...

[2019-05-29 20:49] noahdesu commented on #3059
@strowi logs would be great, thanks. there are several issues all related to device detection and we're trying to get them all resolved for the next point release soon.

[2019-05-29 20:50] BlaineEXE commented on #3235
I see no reason why Rook shouldn't support Apache Hadoop Ozone. Backends are added and maintained by those interested, so if you have interest in contributing and maintaining it in Rook, then all that is to be done is to submit a pull request to Rook with your POC as well as a design doc for the backend located in the `design/` directory. The design doc normally covers things like the overall arch

[2019-05-29 20:53] BlaineEXE commented on #2896
I would counter propose that the agent and discover options added to the operator CRD rather than a ConfigMap unless there are known reasons why a config map would be preferable. @travisn ?

[2019-05-29 20:54] BlaineEXE commented on #2896
Related: #3238

[2019-05-29 20:58] invidian commented on #2896
@BlaineEXE what CRD exactly you talk about here? Would you like to create CRD for Discovery and Agents then?

[2019-05-29 21:00] BlaineEXE commented on #2997
I'm not sure this is a supported case, and I don't believe we should go out of our way to support it. Ceph storage space can be easily expanded by adding more disks.

[2019-05-29 21:00] noahdesu commented on #3106
https://tracker.ceph.com/issues/39586

[2019-05-29 21:13] nabokihms commented on #2896
A think there is no reason to create additional crd for agents and discovers. It leads us to billions of crd in future.

We can describe agents and discovers settings in Cluster CRD. Seems good for me.

[2019-05-29 21:16] travisn commented on #3235
Agreed, the Rook community is open to new storage providers and this looks like a very valid case. It would be great for you to join the next [community meeting](https://github.com/rook/rook#community-meeting) to present this idea. Thanks!

[2019-05-29 21:18] invidian commented on #2896
IIUC, agents and discovers are scheduled by the operator. There is no need to create Cluster CRD to get those deployments running. Would Cluster CRD change those deployments then? If so, maybe they shouldn't be created at all until at least one Cluster object is created?

(I'm just trying to understand where would it be placed and why)

[2019-05-29 21:21] nabokihms commented on #2896
Steps:
* Describe New crd format
* Deploy the crd
* Deploy the operator
* Operator wait for crd with settings in rook namespace
* Operator deploy agents and descovers

[2019-05-29 21:27] invidian commented on #3175
Ah, I forgot about this issue. I have implemented a POC which I use for my deployment and it's working as expected if anyone is interested. You can find it here: https://github.com/rook/rook/compare/release-1.0...invidian:client-crd?expand=1

Then you deploy it with:
[code]

[2019-05-29 21:47] nabokihms commented on #2896
If steps ok, I will work on it.

[2019-05-29 21:52] sebastian-philipp commented on #3106
https://github.com/ceph/ceph/pull/26341 still needs backporting to Nautilus, which is blocked by https://github.com/ceph/ceph/pull/28040

[2019-05-29 21:54] invidian commented on #2896
What would be the benefit of CRD over ConfigMap? I think watching, validation etc can be done already with ConfigMap? Structure validation with kube apiserver then?

[2019-05-29 22:30] jbw976 commented on #3235
btw, i already added it to the [June 4th agenda](https://docs.google.com/document/d/1exd8_IG6DkdvyA0eiTtL2z5K2Ra-y68VByUUgwP7I9A/edit#heading=h.k50hjgn3g1hq), but please let us know if the following meeting (June 18th) would be better for you.

[2019-05-29 23:04] travisn commented on #2896
I don't see a CRD as needed for the operator. If we have settings that indicate the overall behavior of the operator, the settings should be available when the operator is launched. There are several ways I'm thinking this could be improved:
- A configmap could be defined that contains all of the operator settings. It would be created before the operator (as part of operator.yaml).
- If the settin

[2019-05-29 23:08] noahdesu commented on #2074
I placed CPU limits on pods to be `100m` and got some dmesg output before lockup. kube-scheduler got OOM killed, followed by `rbd` device complaining about some stuff, and then a loop in which the `mysql` process/pod gets OOM killed which is continuously restarted. This loop continued for a while until the machine locked up. I'm not sure if another issue ended up being the cause of the lockup (sin

[2019-05-29 23:14] travisn commented on #3114
@msdemt Here is some ceph documentation on which ports are required: http://docs.ceph.com/docs/nautilus/rados/configuration/network-config-ref/#ip-tables

[2019-05-29 23:15] nabokihms opened #3239 "Use configmap for rook-ceph-operator settings"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
https://github.com/rook/rook/issues/2896#issuecomment-497139691
* Store all rook-ceph-operator settings in config map.
* Make operator watch for config map and renew the settings.
* Map settings from config map to env variables.

**What is use case behind this feature:**
Operator settings structure impr

[2019-05-29 23:17] nabokihms commented on #2896
#2985 cover my case. Thanks to @invidian. I created the issue about config map for future.

[2019-05-29 23:22] travisn commented on #3237
@creiche With openshift, all pods created in a namespace by default will be put on worker nodes. To change this default, see #3004, which we still need to get into the documentation.

Note that the `useAllNodes` setting only applies to OSDs, not mons. Besides the openshift namespace issue, another way to specify placement of the mons on specific nodes is with the [placement](https://github.com/roo

[2019-05-29 23:35] travisn commented on #3221
The resource cleanup works fine for Kubernetes, but this is an issue with OpenShift where CRDs `ownerReferences` are ignored if the reference is to a CRD type. This is the same issue as #2944.

[2019-05-29 23:35] #3221 closed

[2019-05-29 23:40] travisn commented on #2944
Following up on comments in #1533...

[2019-05-30 01:04] mattchan-tencent commented on #3219
I'm new to rook, but it seems to me like the OSDs are ignoring the `dataDirHostPath` variable. The orchestrator is still reading from `--conf=/var/lib/rook/`. Not sure if someone else can confirm though.

[2019-05-30 02:26] creiche commented on #3237
Thanks @travisn for clarifying I will give those a try.  But I was still seeing my useAllNodes: false line disappear when the operator would update it.  Is that expected behavior if I have nodes defined?

[2019-05-30 02:45] #2694 closed

[2019-05-30 03:45] #2689 closed

[2019-05-30 04:09] anguslees commented on #2286
I get this frequently too fwiw.  I have ntp (systemd-timesyncd) running on all nodes, and the clocks are in sync.  I think the warning is load related (host cpu and/or network) and spurious, since the skew warning occurs more often when cluster load goes up, even though obviously the clocks don't change their accuracy during this time.

My plan is just to increase the warning threshold to 0.1s, be

[2019-05-30 04:18] travisn commented on #3237
If it's disappearing, it must be because `false` is the default value for a boolean. The operator doesn't update the contents of the CR other than the status section.

[2019-05-30 06:01] christianhuening commented on #3186
@travisn where would I execute that command? I tried a few things but either cannot access the keyring (from toolbox pod) or have no connection to ceph (from osd pod on same node).
I think i did something like that in the past, but cannot remember it ;-) Can you give me a headsup?

[2019-05-30 06:25] kariae commented on #2274
same issue with v1.0.0

[2019-05-30 06:44] kariae opened #3242 "PVC pending forever"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
PVC pending
**Expected behavior:**
PVC created
**How to reproduce it (minimal and precise):**

download the v1.0.0 release, create the `common.yaml`, `operator.yaml` and `cluster.yaml` ressources from the `cluster/examples/kubernetes/ceph` folder and run the `wordpress.yaml` example
**Environment**:
*

[2019-05-30 07:28] Madhu-1 commented on #3242
@kariae have you created `storageclass` and `blockpool` from `https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/storageclass.yaml`

[2019-05-30 07:43] kariae commented on #3242
@Madhu-1 yes I created it from the example file `storageclass.yaml`

[2019-05-30 07:58] Deepak1100 commented on #3140
Hi,
I am facing the same issue. i am using vpc cni so node has multiple secondary private ip addresses
https://github.com/aws/amazon-vpc-cni-k8s

[code]

[2019-05-30 08:32] elek commented on #3235
Thanks a lot the answers. June 4h is fine, I will join to the call. (And will check the existing design docs until that. Thanks the hint).

[2019-05-30 10:09] strowi commented on #3059
@noahdesu after fixing the rook-ceph-rgw-store-main-* about 12h ago, i dumped these operator-logs ~5-10min. after the rgw-deployment has gone and s3 is not reachable anymore.
[rook-ceph-operator.log.gz](https://github.com/rook/rook/files/3236513/rook-ceph-operator.log.gz)

[2019-05-30 10:40] Surya4DevOps opened #3243 "Unable to create osd pods in vagrant k8s kubespray cluster"
**Is this a bug report or feature request?**
* Bug Report

2019-05-30 10:01:32.875150 I | op-osd: start running osds in namespace rook-ceph
2019-05-30 10:01:32.938779 I | op-osd: 4 of the 5 storage nodes are valid
2019-05-30 10:01:32.938817 I | op-osd: start provisioning the osds on nodes, if needed
2019-05-30 10:01:32.996567 I | op-osd: osd provision job started for node master2
2019-05-30 10:01:

[2019-05-30 10:44] Surya4DevOps commented on #3243
Attaching k8s resources
![image](https://user-images.githubusercontent.com/34916534/58627925-050fd480-82f6-11e9-9ec9-0dcb4d316aa0.png)

[2019-05-30 13:20] creiche commented on #3237
I am still running into issues with the selection of mons.  I have set:

[code]
And yet the operator still creates mon deployments that point to the nodes that do not meet that node affinity:
[code]

I do see the affinity settings being set in the deployment spec:

[code]

But obviously that node does not meet the affinity so it never schedules.

Here is my current CR:

[code]

[2019-05-30 13:59] travisn commented on #3242
@kariae Since the PGs are all inactive, you likely don't have any OSDs created. The `ceph status` in the toolbox will show if this is the case. You'll need to attach devices to your nodes in order to create OSDs.

[2019-05-30 15:23] sp98 commented on #3132
@BlaineEXE Yes. But had to move to #2696. Will jump back up to this one in few days time. Thanks for those  updates above. I'll try that and update my findings here.

[2019-05-30 16:48] travisn commented on #2645
This should already be fixed with #2835

[2019-05-30 16:48] #2645 closed

[2019-05-30 16:52] BlaineEXE commented on #2896
Travis' comment here is really important I think and this is the largest reason **not** to use a configmap, and I think this reason is quite good. I'm against using a configmap if there are other options available.

I spent some time looking at the etcd and Prometheus operators, and I think the way Prometheus does it makes sense. https://github.com/coreos/prometheus-operator/blob/master/example/no

[2019-05-30 16:56] BlaineEXE commented on #2896
Travis brought something up in today's huddle meeting that I thought was a good idea: since we are moving toward a 1-operator-1-cluster model for Rook-Ceph, I think it makes sense to include the discover daemon and agent in the cluster CRD.

On a similar note, I've been noticing that our CRD is acting as a passthrough for a lot of Kubernetes configurations. Tolerations, affinities, anti-affinities

[2019-05-30 16:59] BlaineEXE commented on #2896
Also, @nabokihms and @invidian I really appreciate your help tracking the issues related to the larger topic here and your patience while we talk about the best way to proceed in Rook. I'd like to see multiple-toleration support done and ready in Rook v1.1 if possible.

[2019-05-30 18:19] noahdesu commented on #3059
@strowi i'm not sure the issue you are seeing is related to device detection. if the log you posted I see a lot of device map updates, but they are noops since nothing in the map changed (ie `op-cluster: device lists are equal. skipping orchestration`). is there something I'm missing? if the rgw-deployment is gone, it sounds like you might want to open a new ticket for that issue.

[2019-05-30 19:29] strowi commented on #3059
@noahdesu oh sorry, i must've misread..  will do.

[2019-05-30 19:40] strowi opened #3245 "rook-ceph-rgw-store-main-* being undeployed after a while"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After some time the rgw is missing and s3-storage unaccessible.

**Expected behavior:**
rgw should be running, s3 accessible

**How to reproduce it (minimal and precise):**
- using tag v1.0.1 on a bare-metal rancher2-k8s 1.13.5.
- deploy rook + ceph following documentation, manifests attached.
- deploy

[2019-05-30 19:56] Negashev opened #3246 "EdgeFS cluster nodes end up in networking split"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When i kill any pod (mgr, targer) -> the cluster is falling apart
Help only recreate cluster

**Expected behavior:**

Cluster and all deployments return to green status

**How to reproduce it (minimal and precise):**

1) deploy k8s cluster
2) deploy operator with edgefs/edgefs-operator:1.1.18
3) deplo

[2019-05-30 19:57] dkowsley commented on #3186
@christianhuening @travisn my repair method was to modify the deployments for the OSDs to sleep instead of starting the OSD. I run a cluster that has strict security so the following step was more complicated than it would be for standard deployments. After the PODs were up again, I ran a script that went to each host to docker exec into the containers to mount the device and extract the credentia

[2019-05-30 21:16] jcuzzi commented on #3136
I rebuilt my entire cluster using rook 1.0.1 and ceph 14 but ran into major issues with OSDs crashing.  Eventually was able to use rook 1.0.1 with ceph 13, but had to disable the ceph dashboard to get anything running.

Even after all that, all my PGs claim to be "inactive" as described here, however, I am able to create new volumes and use them without issue.

[2019-05-30 22:13] dkowsley commented on #3186
@liewegas are you suggesting that something in rook ran either the `osd purge` or `osd auth rm`?

[2019-05-30 22:18] liewegas commented on #3186
No idea if it was rook or a human or something else... but i'm guessing *something* did one command or the other to get the cluster in this state.  Checking the cluster logs (before they rotate away!) would help confirm?

[2019-05-30 22:59] travisn commented on #3186
If rook decided to remove an osd it should be much more destructive than just removing the auth. And since the cluster CR wasn't updated, the operator wouldn't have hit this case. Rook doesn't remove the osd auth by itself either. Though to confirm it would be helpful to see the operator logs around the time this happens next.

[2019-05-31 00:54] timyinshi opened #3249 "Some Ideas about Rook"
I'm an Inspur engineer and we decided to use root to manage CEPH. I have several questions that need your help. I hope to get your answers.
1. Blockstore, filesystem and objectstore services type are all clusterid by default, so that services outside the k8s cluster can not be accessed. Can we change the service type to nodeport or externaluip?
2. Ceph is divided into public network and cluster ne

[2019-05-31 01:05] travisn commented on #3249
@timyinshi To summarize the slack conversation, hopefully this answers the questions. Welcome to Rook!
1. If the services need to be accessible outside the cluster, you will likely need to set `hostNetwork: true` in the cluster CR. This way the host IPs will all be available externally. However, if you are only using object (rgw), then you would only need to create an external service endpoint for

[2019-05-31 01:25] timyinshi commented on #3249
@travisn thanks
hostNetwork: true  ,There is a problem, it will directly change the pod IP to hostip, if both pod on a host, because the cause of the port conflicts, will lead to one of the pod can't start, I think it is not exposed to the outside of the cluster service good choice, and no load balancing ability to use the service, I think should revise the service type for the nodeport or externa

[2019-05-31 02:22] maurodelazeri commented on #2460
This def solves the problem

[code]

Adding this information in the documentation will be very useful, I think this is a common mistake

[2019-05-31 02:42] maurodelazeri commented on #2460
This def solves the problem, adding this information to the documentation will be very useful, I think this is a common mistake

[2019-05-31 03:23] travisn commented on #2460
Interesting timing, a PR was just opened today to update the docs for this issue. Please review #3244 to see if the doc update will be clear. Thanks!

[2019-05-31 04:09] travisn commented on #3243
@Surya4DevOps Could you review #3244 to see if this resolves your issues creating the OSDs? Thanks!

[2019-05-31 04:37] dyusupov commented on #3246
Thank you for the comprehensive bug report! An impressive collection of the info!
I found this line in corosync.log:

[code]

That means that corosync coordination network that we use within a local cluster segment isn't seeing more than one member, i.e. in a split.

This is a known issue and we are working on it.
The workaround  is to login to a target node(s) toolbox and execute the following co

[2019-05-31 05:17] christianhuening commented on #3186
@travisn I still have the logs from our logging system and was able to find the spot in time where it happened:

[code]

So apparently rook thought osd.11 (and 15) should've been removed from the cluster and they in fact ran `ceph auth del`. As I said we had network issues with heavy disconnection errors. But how could that possibly cause rook to think we don't want that osd anymore?

[2019-05-31 06:48] Negashev commented on #3246
@dyusupov Cool `corosync-cfgtool -R` help me!

[2019-05-31 07:56] gianluca-sabena commented on #3136
I confirm I had exactly the same issues. I have a vagrant box to create a openshift cluster to test rook <https://github.com/gianluca-sabena/openshift-playground>

[2019-05-31 09:21] teramucho commented on #2623
i have same issue...

it looks like onwership error, but i don't know exactly...

[2019-05-31 12:46] Surya4DevOps commented on #3243
Hi @travisn Thanks for your quick reply. Yes, after having below modifications to my cluster.yaml (copied from examples) it just worked. Thanks a ton for saving my day. For others benefit here I am highlighting the sections I modified.
#cluster.yaml

[code]
[code]
Thanks,
@Surya4DevOps

[2019-05-31 12:47] #3243 closed

[2019-05-31 13:26] encodeflush commented on #2274
same issue with v1.0.1

[2019-05-31 13:42] vitobotta commented on #3132
Just tried once again with a new cluster, again with the latest version from the start, same problem. As of now I am still unable to actually use Rook/Ceph :( It's not like there are things that I could do wrong because it's so easy to install etc... so I don't know where to look. This time the problem occurred very quickly after I started copying data into a volume.

I was wondering, could it be

[2019-05-31 14:01] travisn commented on #3132
@vitobotta Can you confirm if you have had this issue when deploying mimic (v13) or only with nautilus (v14)? If you haven't tried mimic with rook 1.0, could you try that combination? It would be helpful to confirm if this is a nautilus issue, or if it's rook 1.0 that causes the issue and it happens on both mimic and nautilus.

@markhpc @bengland2 Any other secrets up your sleeve for tracking down

[2019-05-31 14:27] vitobotta commented on #3132
Hi @travisn , I did a couple of tests with Mimic the other day and didn't have any problems with it. I just tried again with Mimic (v13.2.5-20190410) right now and all was good. Since I was always using Rook 1.0.1, it seems like it may be an issue with Nautilus? I am using Ubuntu 18.04 with 4.15.0-50-generic, if that helps somehow. Once I did a test with Fedora 29 (I think?) as suggested by @galex

[2019-05-31 14:55] alfonsomthd commented on #2722
@travisn Right, Mimic and newer.
With this `image: ceph/ceph:v14.2.1-20190430` it's working as expected.

[2019-05-31 16:18] maurodelazeri commented on #2460
@travisn much better, the disk part is always tricky and we have always a lot of nuances

[2019-05-31 20:02] BlaineEXE opened #3252 "Idea: A way for Rook to report information to Ceph and/or users"
**Feature Request**

Tangent to #3247

While writing up the design in #3247, I realized that if Ceph is requesting Rook to take certain actions, Rook may need to report information back to Ceph. For example, if there are errors during OSD provisioning, Rook should have a mechanism for reporting the error back to Ceph.

More than this, however, it would be very beneficial for users to be able to un

[2019-05-31 20:11] travisn commented on #3252
Having more detailed status in the CR is something on my mind for a while. We've had several issues tracking such things at a high level like #2494. In 1.0 we added the ceph health status to the CR, which has been helpful. Adding more visibility to the operator internal status will make rook more debuggable for sure.

[2019-05-31 21:25] kyleowens10 commented on #2517
We have also encountered this issue, in our case it leads to a necessary hard reset of the system, as when attempting to shutdown and/or reboot it will hang indefinitely. Automated system patching and rebooting becomes very tough in this instance, as it will always require manual intervention.

[2019-05-31 23:38] kichristensen commented on #3071
Please take into account that the annotation is deprecated as of K8S 1.13 and removed in 1.14 according to the documentation, instead pod priorities should be used, https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/

[2019-06-01 02:08] msdemt commented on #3140
I'm meeting the same issue. using the rook version 1.0.1 stable release with k8s 1.4.0.
the following is my install process:
**kubectl create -f common.yaml
kubectl create -f operator.yaml
kubectl create -f cluster-test.yaml**

![image](https://user-images.githubusercontent.com/38455670/58742147-8ed5b400-8454-11e9-9b8f-fa59244b2c0e.png)

the operator pod's log as follow:
kubectl logs -n rook-ceph

[2019-06-01 06:19] #3242 closed

[2019-06-01 07:50] timyinshi commented on #3249
@travisn
hostNetwork: true,This configuration will change the IP of osd and MGR to hostsip, but will not change the IP of mon to hostsip, so it cannot be accessed outside the cluster. Is this a bug?

[2019-06-01 07:51] timyinshi commented on #3249
@travisn
I installed a ceph-common on the k8s cluster to connect to the ceph deployed by rook, and I found that to connect mon, you need to specify the mon-service clusterip:6789 to access it. Even if you change the type of mon-service to externalip, you cannot connect properly through hostip:6789, are you know the reason?Without this scaling, rook cannot be accessed outside the cluster.

[2019-06-01 10:29] vitobotta commented on #3132
Hi all, I have done some more tests with interesting results. By "tests" I don't mean anything scientific since I lack deeper understanding of how this stuff works. I mean the usual download of data into a volume as described earlier.

I have repeated the same test with multiple operating systems and these are the results:

- Ubuntu 18.04: download/copy fails each time. Starts OK but then at some

[2019-06-01 12:01] strowi commented on #3245
rook-ceph-mgr.log
[rook-ceph-mgr-a.log.gz](https://github.com/rook/rook/files/3243729/rook-ceph-mgr-a.log.gz)

[2019-06-01 13:06] vitobotta commented on #3132
Guys... I tried again with the 5.0.0.15 kernel and it happened again :( The first test copying the data into the volume was fine, but then I did a backup with Velero followed by a restore and the system became unresponsive during the restore, as usual...

[2019-06-01 14:43] BarthV commented on #2587
+1
Draining a kubernetes node should gracefully remove all its osds from Ceph cluster.

AFAIK, There's no proper way to remove a node and all its osds ( at least when using `useAllNodes: true` and `useAllDevices: true` )

[2019-06-01 16:34] dyusupov commented on #3132
I'm not a Ceph expert but I do deal with lots of storage systems,
architectures, and technologies.
My first recommendation would be to consult with optimal hardware
requirements to ensure that software operates within boundaries of tested
matrix:

http://docs.ceph.com/docs/jewel/start/hardware-recommendations/

I would not recommend to just go with minimal requirements.
Double the numbers. Verify

[2019-06-01 17:26] immesys commented on #2587
For those looking for a workaround, I found that ignoring cordoning and instead using the nodeAffinity with labels on the nodes works better. To "cordon" a node, remove that label and the rook operator does appear to handle that correctly.

[2019-06-01 18:36] mahmoudalhabbal commented on #2460
Hello All,

I have same issue.

Could you confirm this point again: Rook/Ceph require disk on each k8s worker, and this disk will be managed by Ceph not by Linux filesystem. in another work, it is **NOT** simple folder on Linux

Following the log from "osd-prepare" pods

[code]

[2019-06-02 12:22] simis2626 commented on #2517
Agreed, also affected by this issue and would like to see a fix implemented in rook code.

[2019-06-03 08:20] hydratim commented on #2261
IIRC I was using the defaults from the helm charts, however I don't recall precisely.

[2019-06-03 08:22] r0bj commented on #2582
It's still a valid issue.

[2019-06-03 09:26] leseb commented on #3214
Which Rook version is that? This https://github.com/rook/rook/commit/5f16f8e27f568bd4f6952450180538ba0d43b246 fixed the problem.

[2019-06-03 09:36] yanniszark commented on #2402
This issue will be immediately fixed once we upgrade to controller-runtime+controller-tools.

[2019-06-03 13:19] leseb commented on #3252
When it comes to exposing what Rook does, I think the orchestrator logs are saying enough, perhaps we could revisit our logging messages to make sure they are meaningful and consistent across different actions.
I agree we need a mechanism to highlight orchestration errors more clearly so that error logs don't get missed by the new info from the operator logs. Perhaps we can work on adding more inf

[2019-06-03 13:53] travisn commented on #2448
Fixed by #2456

[2019-06-03 13:53] #2448 closed

[2019-06-03 13:54] travisn commented on #2375
This upgrade issue was fixed in the 1.0 release. The MDS (and all daemons) will be upgraded with a ceph upgrade.

[2019-06-03 13:54] #2375 closed

[2019-06-03 14:03] sebastian-philipp commented on #3252
And this is also true for the orchestrator modules: There is no way to report intermediate state: All we can return is an end-result. Meh.

[2019-06-03 14:51] leseb commented on #3140
@msdemt ceph version?

[2019-06-03 15:11] creiche commented on #3237
@travisn Any advice on this issue?  I am stuck here and unable to deploy.

[2019-06-03 15:28] jeffvance commented on #2473
@travisn This issue will be marked stale. I still think it is relevant. Thoughts?

[2019-06-03 15:39] msdemt commented on #3140
@leseb i used rook-ceph v1.0.1 release version，Sorry, I don't know the specific version of ceph.

[2019-06-03 15:47] travisn commented on #2473
Agreed, still very relevant! The bot is just configured to mark issues stale when there is no activity on the issue in the last 90 days.

[2019-06-03 16:01] hightoxicity commented on #3122
https://github.com/kubernetes-client/python-base/issues/136

[2019-06-03 16:04] hightoxicity commented on #3122
If some people hit the same issue using an intermediate CA, you can turn on PodPreset as an admission controller and inject the cert bundle (root ca + kube intermediate one) with :

[code]

[2019-06-03 17:19] #2720 closed

[2019-06-03 20:26] leseb commented on #2460
@mahmoudalhabbal to use directories you need: https://github.com/rook/rook/pull/3244/files#diff-7cf9e2c73aec0d2fdd2ab1cfae84ac9fR91

[2019-06-03 23:08] pavgup commented on #3114
For what it's worth, I experienced almost EXACTLY the same problem. It turns out Centos 7's firewalld competition with K8S iptables is what led me down a dark, complex path. For the poor souls that find this one day, tread lightly, but you can swing a heavy hammer by running `sudo systemctl stop firewalld && sudo systemctl disable firewalld && sudo systemctl status firewalld` on your masters and n

[2019-06-04 04:01] timyinshi commented on #3249
@travisn Thanks for your help. Now I have access to ceph outside k8s cluster through the configuration of hostwork:true, and support cluster network through the configuration of rook-config-override, thanks

[2019-06-04 04:01] #3249 closed

[2019-06-04 07:58] leseb commented on #3219
@yanchicago did you make sure your directory have no leftover file? Can you share a log of a failing OSD?

[2019-06-04 08:32] leseb commented on #3186
It seems that Rook determined nodes were removed from the cluster thus triggering osds deletion...
@christianhuening do you have the logs before `2019-05-28 08:45:53.948659 I | op-osd: processing removed osd rook-ceph-osd-11`?

Thanks!

[2019-06-04 08:46] leseb commented on #3136
@all, please make sure your mgr pod can connect to your OSD, look at the mgr logs and paste them here. Thanks.

[2019-06-04 08:52] PCatinean commented on #2997
This provider does not have storage provision nor does it provide a kubernetes service. It's just an interface that provisions VM's with an API and can attach block storage devices to those VM's on command. Kubernetes was installed from scratch on them and then rook to allow usage of the storage within the k8s cluster.

It's the best solution I could find to use here, I wouldn't be crazy an try to

[2019-06-04 10:04] leseb commented on #2997
Just FYI we do not support OSD online-resizing or OSD resizing at all. Ceph is not planning to support that any time soon and thus nor Rook. So I suggest we close this as *won't fix*. Thanks.

[2019-06-04 10:26] PCatinean commented on #2997
Not a problem, that's why I mentioned I was not sure if it was a bugfix or a feature request :)

[2019-06-04 11:15] leseb commented on #2997
@PCatinean thanks for your understanding :-)

[2019-06-04 11:15] #2997 closed

[2019-06-04 12:34] melosalz commented on #2898
any update? met the same issue

[2019-06-04 12:50] leseb commented on #3162
Fix proposed here: ceph/ceph#28159, so we have to wait for 14.2.2.

[2019-06-04 12:50] leseb commented on #3180
I'm closing this because dup of https://github.com/rook/rook/issues/3162

[2019-06-04 12:50] #3180 closed

[2019-06-04 13:07] proligde commented on #2884
Affects us still on v1.0.1

[2019-06-04 14:17] travisn commented on #2898
If the mgr is not starting, there must be an issue forming the mon quorum. Please see the [troubleshooting guide](https://rook.io/docs/rook/v1.0/ceph-common-issues.html#monitors-are-the-only-pods-running) to see what might be happening with the mons.

When cluster-minimal.yaml is created, it is actually not expected to create any OSDs as seen [here](https://github.com/rook/rook/blob/master/cluster

[2019-06-04 14:17] #2898 closed

[2019-06-04 15:11] aperullo commented on #2490
This issue seemingly also appears when using helm to deploy the object store and object user as a template, which happens very fast after one another.

[2019-06-04 15:33] BlaineEXE opened #3260 "ceph: add client users via CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
It is possible to create users for object stores. We should be able to do the same for arbitrary Ceph clients. Users should be configured at least with name and permissions.

e.g.,
[code]

I'm not sure what critical client configs I might be missing. @leseb may have thoughts here. We could also specify

[2019-06-04 15:35] BlaineEXE commented on #3260
Would like to get input from @leseb and @liewegas
Potentially @ajaeger and @dirkmueller ?

[2019-06-04 15:37] yanchicago commented on #3219
The deployment starts with no directory on the host. And the directory( /data0/rook-storage) is created by rook. And this issue can be reproduced every time.

Again, the same lab setup works with rook v0.8.3.

[root@ceph-worker-01 ~]# ls -ldsZ /data0/rook-storage/osd4
drwxr--r--. root root system_u:object_r:unlabeled_t:s0 /data0/rook-storage/osd4
[root@ceph-worker-01 ~]# ls -ldsZ /data0/rook-stora

[2019-06-04 15:50] liewegas commented on #3260
Overall I think this makes a lot of sense.  I would be inclined to take one of two paths, though:

- Just make this a simple dict that has the verbatim caps (like the second block above), and don't try to understand what they mean.  This is fully expressive but means that ceph cap definitions leak into CR yamls.
- Expose only a very simplified form of caps, like "rbd user", or "cephfs user", and h

[2019-06-04 16:23] leseb commented on #3260
Dup of https://github.com/rook/rook/issues/3175?

[2019-06-04 18:34] noahdesu commented on #2603
@travisn v1.1?

[2019-06-04 19:08] travisn commented on #2603
Actually, this should be covered by #3093. @vreon Could you review that change and confirm if it covers your scenario? Thanks!

[2019-06-04 19:48] yanchicago commented on #2884
Don't have similar issue on v1.0.1.

[2019-06-04 19:52] vreon commented on #2603
@travisn Definitely! #3093 covers OSDs, fixing #2883 and #1366, but I don't think it covers this scenario (mon placement treating nodes as the failure domain rather than consulting labels).

[2019-06-04 20:04] travisn commented on #2603
Yep, that's only for OSDs, got my wires crossed. Added to the 1.1 milestone.

[2019-06-05 03:24] zhangxingdeppon commented on #1689
hi,guy,did you reslove this problem.I also have this problem,can you help me?

[2019-06-05 05:30] abheyogy commented on #2551
Same issue here, having a kops installed cluster on AWS.

[2019-06-05 10:26] caisan opened #3263 "Dynamic provisioning for CephFS storage"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently, the ceph filesystem supports in Rook requires the user to create a external storage cephfs provisioner to provision cephfs volume that will be consumed by a pod. The user has to look up the IP address of the Mon IP address, run a external storagre provisioner pod , etc., which is a cumbersome

[2019-06-05 11:09] Ferdinanddb commented on #3140
I'm facing the exact same issue of @msdemt with the same kind of logs.
Ceph version : `image: ceph/ceph:v14.2.1-20190430`  (available in the cluster.yaml file @msdemt)
Rook version : v1.0.1

[2019-06-05 11:39] Ferdinanddb commented on #3140
Just tested with the version `ceph/ceph:v13.2.6-20190604` and everything works ! I've tested the mysql example to be sure and the PVC is mounted :-)

[2019-06-05 11:49] adrianlzt commented on #3245
Same here.
I wonder why the operator decides to remove the rgw deployment:
[code]

[2019-06-05 12:06] strowi commented on #3245
@adrianlzt do you also see warnings about configmap versions in the operator? I wonder if those are somehow considered too old or sth. and are being ignored, which would make the operator remove those..

[2019-06-05 12:52] adrianlzt commented on #3245
Correct:

[code]

Deleted the operator pod and the new one recreated the rgw

El mié., 5 jun. 2019 a las 14:06, Roman v. Gemmeren (<
notifications@github.com>) escribió:

[2019-06-05 13:58] sdiebler-f9 commented on #3140
Same bug was opened 20 days ago here: https://github.com/rook/rook/issues/3189

The logs tell the story: it's trying to bind to the wrong IP address (x.y.z.1 instead of the pod IP address of x.y.z.7 or whatever).

[2019-06-05 14:14] #2904 closed

[2019-06-05 14:21] yanchicago commented on #2696
When will this fix be available? Will this be part of 1.0.x?

[2019-06-05 19:28] Capitrium commented on #3136
@leseb yes, the mgr pod cannot connect to the osd pods, which causes the PGs to be reported as `unknown`.

The question is, _why_ can't the mgr pod connect to the osds after the upgrade? The mgr pod logs from my cluster are below, and mgr pod logs are also [included in the original bug report](https://github.com/rook/rook/files/3156513/mgr.log), but they don't seem particularly helpful/informative

[2019-06-05 20:02] namku commented on #2261
I have the same issue when I shutdown one node de pod stuck in terminating state..

[2019-06-06 01:46] dkowsley commented on #3186
Looking at the logs provided by @christianhuening, I have to say that those logs very much align with what I experienced. I will check the crush map to check the weights to see if it modified mine, as well. Thank you for your logs, Christian. Otherwise, I wouldn't have thought to check the crush weights.

@liewegas, If this happens again, I'll make sure to get a log dump of all of the rook logs as

[2019-06-06 03:37] liuyongqing1 opened #3267 "Separate Storage Groups osd lost"
yes

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

Osd information will not be restored to default

**How to reproduce it (minimal and precise):**

After creating the ceph cluster, add ssd osd to ssd crush and create storageclass to specify ssd crush.
Create sts using storageclass.
Found that osd information is lost in ssd

[2019-06-06 05:38] christianhuening commented on #3186
@dkowsley you theory sounds solid and match what we experienced!

@leseb I am afraid the log rotation kicked in while I was on vacation :(

We're back to normal operation btw by re-adding the auth keys. Then the two rogue OSDs got back in.

[2019-06-06 05:52] travisn commented on #2696
Yes, this is being backported and will be out in 1.0.2 hopefully in a couple days. I'll reopen to track the backport.

[2019-06-06 06:51] BlaineEXE commented on #3260
Yes. Is a duplicate of #3175

[2019-06-06 06:51] #3260 closed

[2019-06-06 06:56] BlaineEXE commented on #3175
I have given another context for this feature request in #3260. I think this could be valuable, because not all applications (OpenStack being one) will always want to connect to Ceph via PVC and may still want users created.

I don't know enough about CSI to say for certain whether it does or does not meet this need. I'd propose to add this issue to milestone v1.1, and completion of this will eith

[2019-06-06 07:04] strowi commented on #3245
I'd love to provide additional info, but not sure which logs/infos might be useful.
Right now the rgw is vanishing on a daily basis. So i'm open for ideas ;)

[2019-06-06 14:30] yanchicago commented on #2613
Any guidance or workaround on this? Tried to set the operator image back to old one and it failed.

[2019-06-06 14:51] jbmcfarlin31 commented on #3201
@marcstreeter this was an upgrade from v0.9.3. I was going to go to 1.0 first but saw 1.0.1 was out with bug fixes, so figured i'd try that one. Interestingly enough though, that issue you referenced talks about the OSD pods having crashloops. In my particular case, I don't even see the OSD's coming up.

Perhaps it could be a wrong configuration on my head as like what travisn said above - but no

[2019-06-06 15:44] travisn commented on #2613
@yanchicago What was the failure? The operator actually doesn't prevent a downgrade today. It will go ahead and deploy the version requested. While Ceph doesn't always support the downgrade, most of the time it should work if downgrading a patch release.

[2019-06-06 15:52] ftab commented on #3132
I'm running into this problem as well. It's causing my Kubernetes node to flap back and forth between NotReady and Ready; containers fail to start up, even a web browser or the system monitor lock up. The system ends up with over 1,000 processes eventually, and I think it's also causing my VirtualBox to not be able to start

Currently on a bare metal single node master--k8s 1.14.1, rook deployed f

[2019-06-06 20:03] travisn commented on #2696
#3266 is merged, so this will be included with 1.0.2...

[2019-06-06 20:03] #2696 closed

[2019-06-06 20:34] travisn commented on #3178
Reopening for backport to 1.0

[2019-06-06 20:42] travisn commented on #3267
@liuyongqing1 To create pools based on different types of media, it's recommended to use the [device class](https://ceph.com/community/new-luminous-crush-device-classes/) and specify it in the pool as seen in #3146. While that feature didn't quite make it into 1.0, it is scoped enough that we should consider backporting to 1.0. @sp98 want to open a backport PR for it? thanks

@liuyongqing1 From yo

[2019-06-06 21:27] travisn commented on #1841
I see that the integration tests could be modified upstream to be supported for OpenShift by doing the following:
- Add a new boolean argument to the GetRookOperator() such as `enableOpenShift`
- If `enableOpenShift` is true, that method would also include the scc and operator settings needed to run in openshift

The follow-up step is then to enable Jenkins to run OpenShift to trigger a test with

[2019-06-07 00:38] dkowsley commented on #3186
Yep. Just confirmed our cluster topology. The issue occurred along a rack boundary. I had four devices per node and eight nodes in the second rack. All 36 of the OSDs that were broken were contained within that rack. UPS or switch failure for that rack explains the trigger. This should be relatively simple to replicate.

[2019-06-07 04:02] dyusupov opened #3273 "Enable usage of Metadata Only ISGW replication"
**Is this a bug report or feature request?**
* Bug Report

Property metadataOnly isn't applied correctly.

**Deviation from expected behavior:**

Metadata Only geo-replication should be enabled as a configurable "all" or "versions"

**Expected behavior:**

metadataOnly: all | versions

**How to reproduce it (minimal and precise):**

All v1.0.x affected.

**Environment**:
* OS (e.g. from /etc/os-re

[2019-06-07 07:25] schmitch commented on #3245
actually my rook-ceph deployment has the same problem, we need to restart the operator roughly every two days. everything else seems to work fine, besides that we already exessivly killed osd's and reprovisioned them.

[2019-06-07 11:04] Ferdinanddb commented on #3189
Hey i'm facing the exact same issue when I set `hostNetwork: true` and if not it's the same situation as here  (#3140 ), does anyone have any update on this?

[2019-06-07 11:14] Ferdinanddb commented on #3140
Any update on this, i'm facing the same issue as commented here with Rook 1.0.1 and Ceph 14.2.1.

[2019-06-07 13:58] vitobotta commented on #3132
Has anyone had a chance to try and reproduce this issue?

I doubt it is a problem with the specs. First, I have tried with servers with 8 dedicated cores and 32 GB of ram, which I think is more than sufficient for my test workloads; second, the problem appears to occur only with Ubuntu so far. I have just tested twice again with CentOS (same config and same tests as usual, apart from the OS) and e

[2019-06-07 14:09] leseb commented on #3162
Closed via https://github.com/ceph/ceph/pull/28382. The fix will be included in 14.2.2.

[2019-06-07 14:09] #3162 closed

[2019-06-07 14:15] sp98 commented on #3132
@vitobotta I'll trying it out soon (was stuck with another ticket which is complete now). Just getting the environment ready for this ( as my local dev environment won't be sufficient to test this out).

[2019-06-07 14:19] vitobotta commented on #3132
Thanks... I think I spoke too soon :( I was doing a restore with Velero/Restic on the CentOS server, and it got stuck at 15 of 24 GB with IO wait at 40+ constantly. I rebooted the server, started the restore again and it's proceeding slowly although the IO wait is almost 0. Load is ~12 now.

[2019-06-07 14:28] vitobotta commented on #3132
It completed the second time. I don't know what happened earlier with the iowait, perhaps it was the disk? At least I didn't have the problem as with Ubuntu - i.e. the system didn't become unresponsive. I am going to try with another CentOS server/cluster.

[2019-06-07 15:05] andrewwebber commented on #3245
I managed to find a log file where the object store deployment gets deleted and never comes back

## Rook Deployments
[code]

## Operator logs
[code]

[2019-06-07 15:07] creiche commented on #3237
@travisn I got this running today.  I did not realize that the operator does not look at the default project nodeselector when scheduling mons.

Adding:

 scheduler.alpha.kubernetes.io/node-selector: node-role.kubernetes.io/compute=true

To the namespace fixed it and now it is scheduling mons on my compute nodes as desired.

[2019-06-07 15:07] #3237 closed

[2019-06-07 15:47] travisn commented on #3237
OpenShift didn't add the default node selector to the namespace for compute=true? On a related note, we have this doc issue #3004 tracking what it takes in openshift if you don't want the worker nodes to be used. Could you comment on #3004 so we can update the docs around your scenario at the same time? Thanks!

[2019-06-07 15:54] travisn commented on #2254
Reopening for backport to 1.0

[2019-06-07 15:55] #3059 closed

[2019-06-07 15:55] #3131 closed

[2019-06-07 15:55] travisn commented on #3185
Reopening for backport to 1.0

[2019-06-07 16:31] creiche commented on #3004
OpenShift has
"projectConfig:
  defaultNodeSelector: node-role.kubernetes.io/compute=true"
in the master-config.yaml

It does not put the scheduler.alpha.kubernetes.io/node-selector annotation on the namespace.  And instead applies it to all pods without a specified nodeSelector value.

The operator does not look at the default project nodeselector in the master-config when scheduling mons.

Addin

[2019-06-07 16:33] creiche commented on #3237
Updated the issue with my findings.  Thanks!

[2019-06-07 16:44] travisn commented on #3227
Reopening for backport to 1.0

[2019-06-07 17:51] travisn commented on #3273
Reopening for backport

[2019-06-07 17:54] galexrt commented on #3004
@creiche Would you be up for writing a section for the documentation about this? :slightly_smiling_face:

[2019-06-07 18:14] noahdesu commented on #2603
hey @galexrt as part of looking into this issue, I went through a lot of existing provisioning code from https://github.com/rook/rook/commit/2873558ecd61dfadc841a0c03e6b0e09c9485d0a and https://github.com/rook/rook/commit/e7d20647aa120dda0145a116b89943c83315f55b used to prefer that monitors not be scheduled on the same node.

when considering failure domains, i'm looking at some of the topology aw

[2019-06-07 18:16] travisn commented on #3166
Reopening for backport to 1.0

[2019-06-07 18:46] adrianlzt commented on #3245
Looking at the code:

[code]
comes from [``startRGWPods``](https://sourcegraph.com/github.com/rook/rook@f2c49ea0342446ea80d07d96dc55ee41e546da8b/-/blob/pkg/operator/ceph/object/rgw.go#L93:25).

After that deletion it should call [``startDeployment``](https://sourcegraph.com/github.com/rook/rook@f2c49ea0342446ea80d07d96dc55ee41e546da8b/-/blob/pkg/operator/ceph/object/spec.go#L32:25), but the follow

[2019-06-07 18:56] creiche commented on #3004
I'm not sure if this is a documentation issue or an operator behavior issue.  Mainly the operator needs to be able to tell if it is running on OpenShift and if
[code]
is set to schedule the mons on nodes that fit that selector.

[2019-06-07 18:58] scroogie commented on #3136
We worked around this by using host networking for now. I'd have to look up the final combination of Ceph and rook version we ended up using, we tried so many.
Unfortunately I dont have detailed logs, because we were in a hurry to get it working, but I had the impression that the containers were picking up the wrong network address from somewhere. If I remember correctly there is a file created so

[2019-06-07 19:17] vumrao opened #3278 "Ceph Mon pod stuck as Pending while using operator-openshift with rook version - v1.0.0-86.gfb22976."
**Environment**:
* OS (e.g. from /etc/os-release):
RHEL 7.6

* Rook version (use `rook version` inside of a Rook Pod):
[code]

* Kubernetes version (use `kubectl version`):

[code]

* Kubernetes cluster type (e.g. Tectonic, GKE, OpenShift):
OpenShift

- Did the following:

[code]

-  Status:

[code]

- Events

[code]

- Mon pod describe -

[code]

- Operator log:

[code]

[2019-06-07 19:19] vumrao commented on #3278
- I am not sure why the monitors are going to infra node. where compute is not true.

[code]

- Show label:

[code]

[2019-06-07 19:28] vumrao commented on #3278
- Not sure if it is OpenShift version issue.

[code]

[2019-06-07 19:58] travisn commented on #2707
Reopening as this fix was lost in the rgw config refactoring.

[2019-06-07 21:16] andrewwebber commented on #3245
@adrianlzt I'm happy to assist if I can.
I'm concious that I only get one shot to kill the operator and what to do it correctly. Am I right in assuming this should not be killed with kubectl delete?
I'd also like to avoid making a mistake and losing the stack trace. Would I retrieve these with kubectl logs -p ?

[2019-06-07 23:12] adrianlzt commented on #3245
First of all, I'm not a developer of rook, just trying to guess what is
happening here.

"kill -ABRT" is used to get stack traces of go programs, so I guess that
will work here also.

To get the logs. I will keep a "kubectl logs -f" against the container and
hope that it is shown there.
Not 100% that it is going to work to be honest.

El vie., 7 jun. 2019 a las 23:16, andrew (<notifications@github

[2019-06-07 23:34] strowi commented on #3245
since my rgw just vanished again, i killed the operator from a shell inside the container. These were the last logs i could capture. They didn't show up in kubectl logs..

[rook-ceph-operator-ABRT.log.gz](https://github.com/rook/rook/files/3267882/rook-ceph-operator-ABRT.log.gz)

[2019-06-08 00:34] dimm0 commented on #2254
Seems like fixed!!! 🎉🎉🎉🎉🎉
Thanks all 👍

[2019-06-08 00:44] adrianlzt commented on #3245
Nothing interesting :/
Just some goroutines watching for events as far as I understand.

@strowi , the logs of that operator after seeing these two lines?
[code]

[2019-06-08 05:45] ksingh7 commented on #2918
[code]

[2019-06-08 06:30] dimm0 commented on #2918
Is your kubectl updated?

[2019-06-08 06:36] ksingh7 commented on #2918
@dimm0  it is up-to-date

[2019-06-08 06:37] ksingh7 commented on #2918
Interestingly everything works like charm on ``v1.13.0``

[code]

[code]

[2019-06-08 06:45] dimm0 commented on #2918
Usually that error happens with older kubectl

[2019-06-08 07:46] strowi commented on #3245
That's what i thought..;(
I can't see anything more useful in the operator log too.. but pls see for yourself.
[rook-operator.log.gz](https://github.com/rook/rook/files/3268311/rook-operator.log.gz)

[2019-06-09 11:54] vitobotta commented on #3132
Had again the same problem with high iowait with CentOS. The system doesn't become unresponsive like with Ubuntu, so I don't have to reboot it etc, but backups or restores etc get basically stalled because of the iowait.

Is there anyone here using Rook/Ceph with clusters deployed with Rancher? Can it be something related to how Rancher deploys Kuberrnetes? What do you use?

[2019-06-09 22:23] ddobrijalowski commented on #2922
I had the same issue (capacity defined in G instead of Gi). Cluster deployed from release-0.9 branch works fine with G. After switching to release-1.0 I had to switch to Gi. In both cases I'm using the same patches applied on top of yamls and do a full wipe of disks (including system and ceph disks).

If this is not a bug then please consider adding a note to changelog and/or upgrade guide.

[2019-06-09 23:20] #2713 closed

[2019-06-09 23:20] #2751 closed

[2019-06-09 23:20] #2754 closed

[2019-06-09 23:20] #2568 closed

[2019-06-09 23:20] #2352 closed

[2019-06-09 23:20] #2371 closed

[2019-06-09 23:20] #2334 closed

[2019-06-09 23:21] #2243 closed

[2019-06-09 23:21] #2527 closed

[2019-06-10 01:56] liuyongqing1 commented on #3267
It is ssd but the display on the cloud is hdd,

[2019-06-10 07:24] adrianlzt commented on #3245
If it is failing, check the operator container if it had process hanging.
I saw two ceph-radosgw commands hanging because a crash loop in on the the OSDs.

[2019-06-10 08:10] pogogirls commented on #1488
I used this method and my problem was solved

[2019-06-10 08:21] #2445 closed

[2019-06-10 08:21] #2552 closed

[2019-06-10 08:21] #2544 closed

[2019-06-10 08:21] #2519 closed

[2019-06-10 08:21] #2472 closed

[2019-06-10 08:21] #2471 closed

[2019-06-10 08:21] #2535 closed

[2019-06-10 08:21] #2446 closed

[2019-06-10 08:21] #2358 closed

[2019-06-10 08:21] #2395 closed

[2019-06-10 08:21] #2391 closed

[2019-06-10 08:21] #2434 closed

[2019-06-10 08:21] #2746 closed

[2019-06-10 08:21] #2743 closed

[2019-06-10 08:21] #2733 closed

[2019-06-10 08:21] #2714 closed

[2019-06-10 08:21] #2588 closed

[2019-06-10 08:21] #2642 closed

[2019-06-10 08:21] #2589 closed

[2019-06-10 08:21] #2556 closed

[2019-06-10 08:34] Amos-85 commented on #2551
I deal with the same issue with on-premise environment.
rook version 0.9

[2019-06-10 11:25] andrewwebber commented on #3245
Do I need to build an operator that checks the operator? :)

[2019-06-10 11:59] andrewwebber commented on #3245
@adrianlzt I'm not sure if I got lucky capturing the logs before and after killing the operator

## Pre-restart
[code]

## Post restart
[code]

[2019-06-10 12:45] strowi commented on #3245
@adrianlzt no, didn't seem like there was any other process hanging.
I managed to get another log including some stracktrace after "kill -ABRT 8". Seems before the logs were gone too fast from the pod.
Now i got operator pod-log including the trace.. might be worth a quick look..
[rook-ceph-operator-st.log.gz](https://github.com/rook/rook/files/3272066/rook-ceph-operator-st.log.gz)

[2019-06-10 14:24] sgalla commented on #2788
Has there been any update or has anyone solved this issue? I'm having the same problem trying to run OSD pods on infra nodes.

[2019-06-10 14:45] sgalla commented on #2788
Has there been any update or has anyone solved this issue? I'm having the same problem trying to run OSD pods on infra nodes

[2019-06-10 15:14] leseb commented on #2474
Patch coming soon.

[2019-06-10 15:17] leseb commented on #2474
Is anyone using `allNodes: true` on object deployments? We are thinking of removing this feature.

[2019-06-10 16:33] andrewrynhard commented on #2980
Came across this just now: https://bugzilla.redhat.com/show_bug.cgi?id=1676612

Looks like it describe what I am seeing pretty accurately.

[2019-06-10 16:37] andrewrynhard commented on #2980
Does rook provide a way for a user to add options to `lvm.conf`? Looks like I should try `obtain_device_list_from_udev=0`.

[2019-06-10 17:31] andrewrynhard commented on #2980
provisioning eventually works, but it takes forever, just as the bugzilla report says:

[code]

[2019-06-10 19:21] anarcat commented on #2521
this is still a bug. i can't reopen the bug for some reason and do not understand why it was closed without explanation.

[2019-06-10 19:42] travisn commented on #2707
@leseb Could you take another look at this? I don't see beast used for nautilus with this change.

[2019-06-10 19:49] travisn commented on #2521
@anarcat That's just a bot closing things that don't have activity for 90 days. Reopening...

[2019-06-10 20:00] anarcat commented on #2521
i *know* about that bot. what i don't understand is why i can't reopen the issue even if it tells me i should reopen if it's still a bug.

[2019-06-10 20:04] travisn commented on #2521
ah, i thought you should be able to reopen an issue if you opened it originally, will look into that...

[2019-06-10 20:37] travisn commented on #2699
Current approach is to have the CSI image version separately rather than including everything in the same image. Will go ahead and leave this issue closed.

[2019-06-10 20:37] #2699 closed

[2019-06-10 23:16] travisn commented on #3026
@meirhazonAnyVision The steps in #3255 worked for me. Could you also verify?

I would suggest the following to automate this when rook configures an object store:
- Create a system object user (call it `rook-system-<store>`, for example `rook-system-my-store`)
- Configure the dashboard module with the needed variables:
[code]

[2019-06-10 23:30] travisn commented on #2922
@ddobrijalowski This is a change in k8s 1.14 that requires `Gi`, independent from rook. This is certainly an unexpected change from rook's perspective. See https://github.com/kubernetes/kubernetes/issues/78669

[2019-06-11 03:47] liuyongqing1 commented on #3267
After using the device class, restart a node, this node osd will still be restored @travisn
![image](https://user-images.githubusercontent.com/13477384/59242589-ae33c480-8c3e-11e9-8202-b820fa0b35ad.png)

[2019-06-11 07:01] elek commented on #3235
I tried to attach a PR to this issue, but it didn't work well. I will close this issue. It was discussed on the last community meeting:

 * The idea was welcomed
 * The next step is a creation of a design doc

I created a new PR for the design doc: #3282

[2019-06-11 07:27] leseb commented on #2811
Closed via https://github.com/rook/rook/pull/3258

[2019-06-11 07:27] #2811 closed

[2019-06-11 08:38] leseb commented on #1488
The doc was recently updated again: https://github.com/rook/rook/pull/3276

[2019-06-11 08:42] ddobrijalowski commented on #2922
@travisn Thank you for the link. It cannot be completely independent from rook:
1. When I'm using as base those deployments:
- https://github.com/rook/rook/raw/release-0.9/cluster/examples/kubernetes/ceph/operator.yaml
- https://github.com/rook/rook/raw/release-0.9/cluster/examples/kubernetes/ceph/cluster.yaml
It works fine with G.
2. After switching base to:
- https://github.com/rook/rook/raw/rel

[2019-06-11 08:58] HaveFun83 commented on #1659
@galexrt is there any tracking when this merge will be available in the stable release tree

[2019-06-11 09:02] galexrt commented on #1659
@HaveFun83 The PR got merged to `master` so it will be available in the next release `v1.1`.

If there is a high need for this to be in v1.0, I would recommend joining the Community Meeting and bringing it up as a point (best to add an agenda item point, see Readme of repo).

@travisn @jbw976 What do you think on the spot about backporting this to v1.0 and possibly get this released in a patch rel

[2019-06-11 11:25] annismckenzie opened #3284 "Ceph mgr not honoring configured cluster network when using host network"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
We're using Rook with host network turned on and it's been running fine so far. We've setup a Wireguard network between our small-ish multi-zone cluster that transparently encrypts all inter-node traffic (the CNI plugin doesn't know this is happening).

All orchestrated components of Ceph are using the

[2019-06-11 11:30] pmorillon commented on #3267
If i understand correctly, using classDevice instead of crushRoot, no need to separate hdd and ssd into the crushmap. The rook operator will always place the osd into `default` due to the generated `ceph.conf` with :

[code]

But the classDevice will modify the crush rule to use class device :

[code]

instead of :

[code]

Would be great to backport #3146 to 1.0

[2019-06-11 11:34] teralype commented on #1030
Can Rook listen for events related to eviction of pods? And in those cases, perform the cleanup at that point in time?

[2019-06-11 11:36] liuyongqing1 commented on #3267
@pmorillon How should I solve this problem now?

[2019-06-11 11:57] leseb commented on #2707
@travisn I do see it, are you running on master?

[code]

Closing this again, feel free to re-open if you have any more concerns.

[2019-06-11 15:45] carletes opened #3285 "v14.2.1-20190430 mgr memory leak"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:

The Ceph `mgr` from image `ceph/ceph:v14.2.1-20190430` leaks memory, very much as described in https://github.com/ceph/ceph-container/issues/1320 for v13.2.4-20190109.

How to reproduce it (minimal and precise):

I set up a Kubernetes v1.14.3 cluster (controller node and 4 worker nodes) running stock Ubuntu 18.

[2019-06-11 15:46] jbmcfarlin31 commented on #3220
@iExalt this doesn't answer or solve the problem - however I was curious, it sounds like you are able to access your ceph cluster deployed through rook external from your kubernetes cluster? The reason I ask is because I am looking for a way to leverage a dedicated k8s cluster (call it storage) that has rook deployed on it, and ceph via rook and another k8s cluster. I want to be able to have a clu

[2019-06-11 15:49] carletes commented on #3285
Oops, should I have filed this issue under https://github.com/ceph/ceph-container/ instead?

[2019-06-11 16:29] jbmcfarlin31 opened #3286 "Minio object store not deploying"
**Is this a bug report or feature request?**

* Bug Report

**Bug Report**
When deploying a minio object store, the `my-store-x` pods create but shortly after enter a `CrashLoopBackOff` state due to the liveliness check not being executed successfully.

**Expected behavior:**
Potentially not fail the pod, but alert that something isn't correct. The store should come up.

**Deviation from expected

[2019-06-11 16:30] leseb commented on #3285
If it's a memory leaks then please open an issue on Ceph https://tracker.ceph.com.

[2019-06-11 16:40] jbw976 commented on #3286
This looks similar to #3040, where the readiness probe was also failing.

Is there any more information in the the minio pod logs, e.g. `my-store-0`?

[2019-06-11 17:48] BlaineEXE commented on #3285
Closing this, as it is a Ceph bug.

[2019-06-11 17:48] #3285 closed

[2019-06-11 17:53] BlaineEXE commented on #3284
Could you provide a couple pieces of additional information?
 - the `/etc/ceph/ceph.conf` file text from the mgr pod
 - output from `kubectl describe pod rook-ceph-mgr-a-<id>`

[2019-06-11 17:54] carletes commented on #3285
Reported on Ceph as https://tracker.ceph.com/issues/40260 (thanks for the hint, @leseb!).

[2019-06-11 18:19] BlaineEXE opened #3287 "Ceph CI: Additional Rook-Ceph CI outside of Rook CI and Teuthlogy"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The Rook-Ceph project needs additional CI outside of the CI which runs as part of Rook. Rook's Ceph CI is already large enough. Teuthology is able to test bare-metal Ceph installs but unable to test against Rook-Ceph clusters -- and extending Teuthology to do so would be prohibitively difficult.

We nee

[2019-06-11 18:21] BlaineEXE commented on #3287
@travisn @leseb @liewegas @shaas @sebastian-philipp please take a look at the requirements and add thoughts you may have.

[2019-06-11 19:07] carletes commented on #2707
I just deployed a slightly modifiied `object.yaml` from Git tag `v1.0.2`:

[code]

and I still see civitweb, I think:

[code]
[code]

[2019-06-12 08:27] nehaberry commented on #2987
@Madhu-1 "csi-attacher-rbac.yaml"  and "csi-cephfsplugin-attacher.yaml" are still not part of rook repo (

[2019-06-12 08:31] Madhu-1 commented on #2987
attacher will be deployed as a container in provisioner statefulset. @nehaberry the above mentioned files is not avaiable anymore.

[2019-06-12 08:33] nehaberry commented on #2987
@Madhu-1 also, the process for deployment in kubernetes and downstream OCP differ.

In downstream OCP, we are enabling CSI using only these 3 steps:
 1. Run common.yaml --> $oc create -f common.yaml
2.  Create RBAC used by CSI drivers --> $oc apply -f ./csi/rbac/rbd/ ; oc apply -f ./csi/rbac/cephfs/
3. Run operator-openshift-with-csi.yaml --> $oc create -f operator-openshift-with-csi.yaml
4. Run c

[2019-06-12 08:35] nehaberry commented on #2987
@Madhu-1 in that case, if I use the current rook repo and bring up rook-ceph-csi using the steps mentioned above, my cephfs pvcs are not getting bound to the pod.

Aren't we supposed to use operator-openshift-with-csi.yaml and the rbac files from rook repo ?

[2019-06-12 08:42] Madhu-1 commented on #2987
i havent tested `operator-openshift-with-csi.yaml`

if you using rook you don't need to follow docs in ceph csi repo

if you using rook you don't need to follow docs in ceph csi repo

[2019-06-12 08:42] pogogirls commented on #1501
I encountered the same problem, Through the following methods,the pod was running.
Configuring the Rook operator.yaml:
env:
[...]
- name: FLEXVOLUME_DIR_PATH
  value: "/var/lib/kubelet/volumeplugins"

[2019-06-12 08:43] Madhu-1 commented on #2987
what issue you are facing? can I get the logs?

[2019-06-12 08:47] nehaberry commented on #2987
@Madhu-1 the issue is the same as the bug raised. Due to absence of attacher pod

Error from oc describe

Events:
  Type     Reason              Age                  From                                                Message
  ----     ------              ----                 ----                                                -------
  Normal   Scheduled           51m                  default-sc

[2019-06-12 09:01] Madhu-1 commented on #2987
@nehaberry check attacher container logs, you will come to know what the issue.

[2019-06-12 09:16] pennpeng commented on #3205
+1

[2019-06-12 09:23] leseb commented on #2957
The reason why we do this is to keep the desired state uniform across all the deployments. So if you edit the spec and change something, all the pods must have their spec updated.
With https://github.com/rook/rook/pull/3283 we loop so pods are killed one by one, this means their should not be service interruption.

[2019-06-12 09:55] christianhuening commented on #2957
@leseb That would be fantastic and very useful indeed!

[2019-06-12 12:20] kariae opened #3288 "Unable to mount volumes for pod"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
To have the volume mounted to the pod

**How to reproduce it (minimal and precise):**

Following [the doc](https://rook.io/docs/rook/master/ceph-csi-drivers.html) to create a CSI driver with Rook, I created a deployment that use the `pvc` from the `csi` example folder, the `pod`

[2019-06-12 12:21] Madhu-1 commented on #3288
@kariae please provide  the attacher logs for more info

and also let me test it out as we discussed out chat

[2019-06-12 12:34] kariae commented on #3288
@Madhu-1 done, thank for your help

[2019-06-12 12:34] annismckenzie commented on #3284
Of course!

Here you go:
1. `/etc/ceph/ceph.conf`
[code]

2. `kubectl describe pod -n rook-ceph rook-ceph-mgr-a-865db6b997-cdc8s`
[code]

[2019-06-12 14:00] dab-q opened #3289 "OSD pods fail after reboot"
* Bug Report

After rebooting a node (power cycle), the OSD pod failed to activate

**Expected behavior:**
OSD pods should recover and rejoin the Ceph cluster

**How to reproduce it (minimal and precise):**
Brought up a 4 node cluster, each node has one 100GB virtual disk for Rook/Ceph
Brought up Rook, everything came up as expected all 4 disks were joined to the Ceph cluster.
Power cycled one nod

[2019-06-12 14:04] Steuf commented on #3205
Same problem here with a fresh installation.

rook Relase (1.0.2) installed via helm.
The Cluster Config : https://pastebin.com/kP2gKRtU
The Operator Config : https://pastebin.com/4qL0BLRN
The StorageClass Config : https://pastebin.com/CbJ6hUdz
The pod for testing PVC and munt : https://pastebin.com/Vu9ScscZ

==> Errors outputs on the pod : https://pastebin.com/Xtz4U5XK

For complement some logs :

[2019-06-12 14:37] mmgaggle commented on #3197
Infinispan / JBOSS Data Grid is another example of having community / downstream operators available in OpenShift, FWIW.

[2019-06-12 14:47] Steuf commented on #3205
Ok I have found the problem in my case.

The pool for CSI is named replicated-rbd on my setup. But on the doc the user kubernetes is setup for rights on "rbd" pool:

I have delete user kubernetes, re-create it with the good pool config, recreate the secret and now is working !

[2019-06-12 14:55] jbmcfarlin31 commented on #3286
@jbw976 after leaving the pods up and running, it appears that it tries to create the minio cluster because subsequent pods get created (e.g. `my-store-0`, `my-store-1`, `my-store-2` etc) but they all result in the same `CrashLoopBackOff` status with the liveliness/readiness probe failed.

I managed to grab the pod logs, this was in all of the pods that were created:
`kubectl -n rook-minio logs my

[2019-06-12 16:14] ron1 opened #3290 "Ceph OpenShift missing required field "priority" in SecurityContextConstraints"
**Deviation from expected behavior:**

Command execution `kubectl create -f operator-openshift.yaml` generates the following error:

error: error validating "operator-openshift.yaml": eror validating data: ValidationError(SecurityContextConstraints): missing required field "priority" in com.github.openshift.api.security.v1.SecurityContextConstraints; if you choose to ignore these errors, turn vali

[2019-06-12 17:17] noahdesu commented on #3233
Why is this a bug?

[2019-06-12 18:23] dab-q commented on #3289
The `lvm2` package was not installed on my systems.  This is documented in the pre-requisites section at https://rook.io/docs/rook/v1.0/k8s-pre-reqs.html#lvm-package.  Once I installed `lvm2`, then the osd pods came back after a reboot.

[2019-06-12 18:23] #3289 closed

[2019-06-12 20:00] noahdesu opened #3291 "devices: incorporate reliable serial device parsing into hotplug"
thanks to @liewegas , we hit the jackpot on this obscure normalization logic

https://github.com/ceph/ceph/blob/master/src/ceph-volume/ceph_volume/util/device.py#L197
https://github.com/ceph/ceph/tree/master/src/test/common/blkdev-udevadm-info-samples

which will be useful to matching disk identities across device scans

[2019-06-12 20:35] andrewwebber commented on #3245
Got a nice long log after upgrading to v1.0.2.

Operator seems to crash and restart, after-which the gateways are never recreated.
Currently killing us every day in production :(

[code]

## Pre-crash logs
[code]

## Post crash logs
[code]

[2019-06-12 20:45] travisn commented on #3245
The issue with rgw pods disappearing will be fixed with #3283 and #2901. @leseb Perhaps we should consider backporting those to 1.0.

For now, can you confirm that restarting the operator pod will restore the rgw service?
It will also help reduce or eliminate the occurrence of this issue if you set [ROOK_DISABLE_DEVICE_HOTPLUG](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/c

[2019-06-12 21:11] BlaineEXE opened #3292 "Log messages in Rook operator after node/OSD failure are unclear"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a Kubernetes node fails and Rook is waiting for the OSDs to come back online or to time out, the warning messages output to the operator log are unclear, and this has confused at least one user from Slack.

[code]

**Expected behavior:**
The warning message is not very clear. It should state why R

[2019-06-12 21:14] adrianlzt commented on #3245
As a workaround you can scale=0 the operator :D

[2019-06-12 21:22] travisn commented on #3292
Rook doesn't really take action anymore on these. Several releases ago in "direct" rook mode (pre-k8s) i believe there was some side effect in place, but that was removed long ago. In any case, I believe #3117 will improve these error messages and take the correct action.

[2019-06-12 21:27] travisn commented on #3245
@adrianlzt point taken, let's get a fix :), although I hope the suggested workaround in my previous comment will help.

[2019-06-12 21:36] #2582 closed

[2019-06-12 21:43] travisn commented on #2922
Ok, thanks for the clarification that you only see this on rook v1.0. I'm sure somebody reported in the past that they didn't see this issue when they were running v1.0 on K8s 1.13, so there must be some combination of v1.14 and rook v1.0. Time spent on the flex driver is limited at this point as development is focused on the CSI driver, but if someone can track this down it would be most helpful

[2019-06-12 21:44] #2486 closed

[2019-06-12 22:36] andrewwebber commented on #3245
@travisn thanks for the comment, I was not aware of that recommendation. I will give it a try.

[2019-06-13 00:53] jbw976 commented on #3291
Is this logic something that could be ported to the common rook.io package(s)?

[2019-06-13 00:54] anguslees commented on #2128
Dear stalebot, I appreciate the ongoing value you bring to this issue, please keep up the good work.

[2019-06-13 00:56] noahdesu commented on #3291
@jbw976 ahh, yeh for sure. ceph just happens to be the only current consumer.

[2019-06-13 01:00] jbw976 commented on #3291
Awesome @noahdesu! The more value we can put into the common rook.io, the more folks will start consuming it and contributing to it and building a bigger ecosystem around it.  Love it!!

[2019-06-13 03:51] travisn commented on #3235
Reopening... Github will auto-close this issue when the design doc PR is resolved based on the "Resolves" keyword which is now added to the PR description.

[2019-06-13 07:38] strowi commented on #3245
@travisn for me deleting the operator-pod fixes the issue and s3 is reachable again after the restart.

[2019-06-13 07:44] xvzf commented on #2490
Kubernetes version 1.14 also affected.

[2019-06-13 07:56] obnoxxx commented on #3233
@Shrivaibavi are the MDS actually scaled down to 0 or is the ceph status unchanged?

[2019-06-13 08:45] liuyongqing1 commented on #3267
My question has been processed at this address https://ceph.com/community/new-luminous-crush-device-classes/, except that it is manually edited by getcrushmap. I hope that at some point I can solve the problem of the official document providing method. Here I pass my crush file

[code]

[2019-06-13 08:45] #3267 closed

[2019-06-13 08:58] zhangxingdeppon opened #3293 "How do I delete osd that status is down"
**Is this a bug report or feature request?**
* Bug Report
I have a k8s cluster ,recently I have faced a problem that I don't know how  delete the osd that status is down ,I tried some methed to delete it ,but  fail

for example:
situation：
![image](https://user-images.githubusercontent.com/16789841/59417609-2692b500-8dfa-11e9-8624-9ca34de94481.png)

![image](https://user-images.githubusercontent.c

[2019-06-13 09:56] shtripat opened #3294 "Deploy ceph alerting rules post ceph cluster creation"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Post creation of ceph cluster, Rook should deploy the ceph alerting rules. The steps required for the same would be as below
* Enable monitoring for namespace in which Ceph is deployed (e.g. openshift-storage)
  oc label namespace openshift-storage openshift.io/cluster-monitoring=true
  oc policy add-ro

[2019-06-13 10:00] marcstreeter commented on #3201
you may be right, at this point however unless you selected mimic even moving to 1.0.x would result in the OSD's that do come up to fail again (and enter the aforementioned crash loop). Probably is best to stay in the version of rook prior to Nautilus until it points to the version of Ceph that fixes this issue.  There probably just needs to be some automated testing implemented here so that relea

[2019-06-13 10:15] #2553 closed

[2019-06-13 10:28] leseb commented on #2707
@carletes v1.0.2 does not contain the fix. Wait for v1.0.3, thanks. Also please don't use `allNodes`, we are currently deprecating it in favor of `instances`.

[2019-06-13 10:45] carletes commented on #2707
@leseb thanks for the tips!

[2019-06-13 10:57] albertdb commented on #3140
Same with Rook v1.0.2. One of the OSD tries to bind to address of another node.

[2019-06-13 10:59] chrono2002 commented on #2551
same here

[2019-06-13 11:04] ChrisScottThomas commented on #3140
still and issue with v1.0.2.  Seems odd to create the rook-ceph.config file for each OSD then ignore its contents? 🤔

All three of my OSDs are trying to bind to the .1 address:
![Screen Shot 2019-06-13 at 12 03 18](https://user-images.githubusercontent.com/47419381/59427754-4a8ed000-8dd3-11e9-986a-5ea08981e8a0.png)

`2019-06-13 11:00:14.150 7fb920957700 -1 osd.0 195 set_numa_affinity unable to ide

[2019-06-13 11:17] carletes commented on #3140
Same issue here, running Ceph version 14.2.1 (d555a9489eb35f84f2e1ef49b77e19da9d113972) nautilus (stable), from image [carletes/ceph:latest](https://hub.docker.com/r/carletes/ceph) (which is `ceph/ceph:v14.2.1-20190430` plus a `RUN yum install --assumeyes google-perftools` for diagnostics).

My cluster is a 4-node Kubernetes v1.14.3 installation set up with `kubeadm`, using the Weave CNI plugin. T

[2019-06-13 12:07] jeinwag commented on #2424
I just ran into the same problem on a new nautilus cluster deployed via ceph-ansible, looks like application tags are missing on the pools. This should fix it:

[code]

[2019-06-13 12:10] Steuf commented on #3133
Other simply method (with ext4) :

- On ceph dashboard, edit image and change the size
- Delete the deployment used by volume
- Run this job: https://pastebin.com/viKFsdW5
- Re-deploy your app with the volume

If you add the package "resize2fs" on your app container, you can just run on it "resize2fs /dev/rbd[number]" after resize the image on Ceph admin for avoid service downtime.

[2019-06-13 12:15] muhlba91 commented on #3106
I am running into the same issue with `v1.0.2` and ceph version `v14.2.1-20190430`. Any information when we can expect a fix to be released and how to update? :)

[2019-06-13 12:26] leseb commented on #3245
The issue here is that after deleting the deployment, rook re-creates it, since we reach the timeout, nothing happens but the pod is still being terminated. That should be fixed soon as @travisn mentioned.

[2019-06-13 12:47] HaveFun83 commented on #1659
Thx for the info.
Backporting will be great if possible

[2019-06-13 13:32] travisn commented on #1659
Sounds good to backport, it's a low risk change.

[2019-06-13 13:40] leseb commented on #3290
@netzzer have you ever seen that? Thanks.

[2019-06-13 13:40] travisn commented on #2707
Reopening for backport

[2019-06-13 14:20] leseb commented on #2707
backport here: https://github.com/rook/rook/pull/3295

[2019-06-13 15:58] jbmcfarlin31 commented on #3201
@marcstreeter I did upgrade and deploy rook v1.0.2 that was released - and now I can get OSD pods to deploy and come up. I can leverage storage as well though now the ceph dashboard seems to constantly throw 500 errors. I'm thinking of just downgrading back to v0.9.3 until some of this stuff is ironed out...

I need to be able to have ceph storage and minio object storage which both seem to be bro

[2019-06-13 16:44] leseb commented on #3287
Thanks for the write-up @BlaineEXE, I'd like to simplify this a bit for the start with what I believe is crucial:

* testing against N numbers of Kubernetes version as well as
* testing a real case scenario (3 nodes HCI with disks)
* testing upgrades
* testing with Ceph master as described in: https://github.com/rook/rook/issues/2828
* testing stable branches of rook
* pin a Rook version with a Ce

[2019-06-13 16:54] Amos-85 commented on #3106
same for me in version v14.2.1-20190430

[2019-06-13 16:55] iExalt commented on #3220
@jbmcfarlin31 I was holding off commenting until I had the full picture but I've come across a Good™ solution: Use something like [Calico](https://docs.projectcalico.org/v3.7/networking/service-advertisement#about-advertising-kubernetes-services-over-bgp) to expose the ClusterIP of the mons outside of the cluster. Host networking doesn't need to be on. Tested using Ceph admin cli/rbd cli to mount

[2019-06-13 16:56] #3220 closed

[2019-06-13 17:26] noahdesu commented on #3106
These fixes seem to have been merged into upstream Ceph. It takes a while before they are backported, point releases cut, and new containers are built.

[2019-06-13 17:40] leseb commented on #3227
Closing again since the backport has merged and present in 1.0.2.

[2019-06-13 17:40] #3227 closed

[2019-06-13 17:42] leseb commented on #3210
Looks more like a Ceph Mgr thing than a Rook one.
Can you elaborate, what do you exactly mean by resetting?

Thanks!

[2019-06-13 17:44] leseb commented on #3185
Closing since 1.0.2 is out.

[2019-06-13 17:44] #3185 closed

[2019-06-13 17:46] noahdesu commented on #3233
Scaling down to zero MDS should remove those MDS pods, but the file system should not be deleted. Should verify what the current behavior is.

[2019-06-13 17:47] leseb commented on #3137
I can't reproduce on `v1.0.0-114.g165a652a`.
@sebastian-philipp have you seen this error with a more recent version of Rook too?

Thanks.

[2019-06-13 17:48] leseb commented on #3033
@noahdesu didn't you solve that recently?

[2019-06-13 17:50] leseb commented on #3113
@noahdesu haven't we solved that in 1.0.2?

[2019-06-13 17:50] leseb commented on #3114
I'm closing this as it appears to be a firewalling issue. Feel free to re-open if you have any more concerns. Thanks.

[2019-06-13 17:50] #3114 closed

[2019-06-13 17:51] noahdesu commented on #3033
a patch went in recently that should resolve all the issues that have been reported so far, but haven't yet exposed this configuration (we just have the big disable-hotplug button right now).

[2019-06-13 17:52] leseb commented on #3201
@jbmcfarlin31 as per your last comment, it seems your initial issue has been resolved. Closing this, feel free to re-open if you have any more concerns. Thanks.

[2019-06-13 17:52] #3201 closed

[2019-06-13 17:52] travisn commented on #3210
@mjrepo2 Are you running rook from `master`? If so, this could be related to the new liveness probe for the mgr

[2019-06-13 17:52] leseb commented on #3033
So closing this or not? :)

[2019-06-13 17:53] leseb commented on #3021
I'm closing this as it appears to be a configuration issue on the underlying host time. It's nor Rook's, nor Ceph's fault. Thanks.

[2019-06-13 17:53] #3021 closed

[2019-06-13 17:55] noahdesu commented on #3033
please leave open.

[2019-06-13 17:56] sebastian-philipp commented on #3137
@leseb haven't tried tbh. This only happens, if you're building a new environment from scratch. :-)

[2019-06-13 17:56] noahdesu commented on #3113
yep. i found 3 duplicates that got closed when we merged the fixes, but this one slipped through.

[2019-06-13 17:56] #3113 closed

[2019-06-13 17:57] leseb commented on #2874
I can't reproduce, could it be an issue with your env?
Have you seen this again recently?

Thanks!

[2019-06-13 18:22] betonmoewe opened #3297 "no volume mount any more (no plugin available) after node reboot"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
timeout expired waiting for volumes to attach or mount after node reboot
**Expected behavior:**
mount the volume
**How to reproduce it (minimal and precise):**

After fresh install of rook I could create/mount volumes on every node on my containers. After reboot of one node it is not possible any more

[2019-06-13 18:54] #2205 closed

[2019-06-13 19:04] BlaineEXE commented on #3292
@travisn it looks like #3117 would indeed fix this. :)

[2019-06-13 20:11] Bessonov commented on #1704
Activity!

[2019-06-13 20:11] Bessonov commented on #1827
Activity!

[2019-06-13 23:24] dimm0 opened #3298 "rbd volume mapped on multiple nodes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I frequently see a single RBD mapped on multiple nodes. Usually after something is not working as expected, but today saw it right after creating a new PVC of 1TB.

Some protection against this is needed, since it usually corrupts the filesystem, and repair is not always possible

**Expected behavior:*

[2019-06-13 23:26] erinaboyd commented on #1705
/keepalive

[2019-06-13 23:50] travisn commented on #3294
Here are a few thoughts on how this might be done. Since the metrics are part of the ceph-mgr, I would recommend doing this as part of the mgr orchestrator. The rules would only be created if a new setting in the CR indicates they should be installed. This setting also sets the expectation that prometheus is already installed and there is **no need** for the operator to attempt to retry until the

[2019-06-14 00:52] michaelcourcy commented on #3140
Same issue

2019-06-14 00:41:41.113261 I | 2019-06-14 00:41:41.111 7f6313fc7700 -1 osd.3 140 set_numa_affinity unable to identify public interface '' numa node: (2) No such file or directory
2019-06-14 00:41:42.585055 I | 2019-06-14 00:41:42.583 7f6309fb3700 -1  Processor -- bind unable to bind to v2:10.128.12.1:7300/54630 on any port in range 6800-7300: (99) Cannot assign requested address
2019-0

[2019-06-14 05:54] umangachapagain commented on #3294
Meaning directly attempt to deploy rules and if it fails, just log the error and move on?

Should we make it `enable: true`? As we will be creating `service monitor` which allows cluster to expose it's metrics, and `prometheus rule` which provides alerting on top of these metrics. These two are of separate concerns, I think a generic field is better.

1. `common.yaml` is currently used for deploym

[2019-06-14 06:24] umangachapagain commented on #3294
+ How do I add yaml file to the operator container? I am unable to locate a dockerfile.
+ How do you suggest we update the rules in Operator, every-time there is  a notable update in ceph-mixins?
+ How do we keep track of rule yamls for different versions of ceph in operator?

[2019-06-14 06:39] shtripat commented on #3294
@umangachapagain somehow I feel a new release for Rook everytime there is new release of ceph-mixins would be too much. But still I will leave this to @travisn to comment.
Can we try to come up with some design like version-wise we maintain the alerting rules YAML file with Rook and deploy them with operator POD?

[2019-06-14 08:02] guymguym opened #3302 "CockroachDB initCluster is retries for clusters that already exist"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

This is not a functional bug as nothing wrong happens.

When restarting the CockroachDB operator after a cluster was already inited, it starts and watches for the Cluster CRD, but it always receives an `onAdd` event, even when the cluster is not new. This is like when using `kubectl get pod -w` then t

[2019-06-14 09:23] pavgup commented on #3140
Definitely seems like this may still be going on -- I've got OSDs bouncing around reporting:

[code]

[2019-06-14 09:48] betonmoewe commented on #3297
ok I found the following: if I delete the ds for the agents, empty the /var/lib/kubelet/plugin directory on the respective node and then restart the operator it will work again. Just deleting the agent doesn't help.
Is there a way to roll out only a single agent without affecting the other nodes (as workaround)?
Or is there a way to init a plugin reload /rescan?

[2019-06-14 10:30] sebastian-philipp commented on #3106
https://github.com/ceph/ceph/pull/28552

[2019-06-14 12:16] sebastian-philipp commented on #2884
Could you please post the actual error you're getting?

[2019-06-14 13:28] #2960 closed

[2019-06-14 16:38] mamoit commented on #796
Is the objective of this issue to use [raw block volume support](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#raw-block-volume-support) which is beta in kubernetes 1.13?
This would allow for rolling upgrades in nodes where the data would be moved along with them, which is a must have in environments such as GKE and EKS, and maybe even (who knows), running ceph nodes in preemptib

[2019-06-14 16:40] travisn commented on #3197
Finally getting back to you... There is a plan to get this in as a community operator, so reopening the issue. The timing is the next question... There has been concerned feedback about running rook based on the flex driver in OpenShift. We really need to get the CSI driver in place to get the new stack working from the beginning for OpenShift users. CSI is getting very close to being ready so the

[2019-06-14 16:50] travisn commented on #2977
Reopening to investigate why the orchestration still isn't triggered sometimes...

[2019-06-14 17:06] travisn commented on #796
@mamoit Yes, in order to work independently from the host path, we will have a more complete design based on PVCs. It will be more general than just the local storage as described in this issue, but will use any storage class to create the PVCs, whether using the local storage provisioner, ebs, etc. This design is actively in progress and @jarrpa will have a design doc out there in the next few da

[2019-06-14 17:06] ron1 commented on #3197
Thanks for the update. I'm glad to hear of plans for a community operator. Are you able to characterize the reported concerns running Rook on the Flex driver in Kubernetes 1.11/OCP 3.11?

[2019-06-14 17:08] mamoit commented on #796
@travisn Thank you very much for your prompt reply, I'll track #919.
If you need some stress testing let me know :)

[2019-06-14 17:15] travisn commented on #3197
@ron1 The concern I heard was really around doing the right thing for OCP 4. That's a good question for OCP 3.11 where CSI isn't an option, let me get back to you on that.

[2019-06-14 17:26] andrewwebber commented on #3245
My current workaround while waiting for v1.0.3. Maybe someone might find it useful.

[code]

[2019-06-14 17:28] baptisteArnaud commented on #1407
I have this problem when trying to deploy rook-celph in my cluster using helm chart :

The command I run:
`helm install --namespace rook-ceph rook-release/rook-ceph`

Pod status : ImagePullBackOff

[2019-06-14 17:35] baptisteArnaud commented on #1411
Any update on this ?

I have this error as well :

`Normal   Pulling    10s (x3 over 48s)  kubelet, k8s-worker-02  Pulling image "rook/ceph:v1.0.2" Warning  Failed     9s (x3 over 47s)   kubelet, k8s-worker-02  Failed to pull image "rook/ceph:v1.0.2": rpc error: code = Unknown desc = no matching manifest for unknown in the manifest list entries`

Does this mean I can't deploy a rook orchestrator i

[2019-06-14 17:37] ron1 commented on #3197
Am I correct that Rook-Ceph RGW-only users are unaffected by any Flex vs. CSI driver issues? If so, at least this set of users would immediately benefit from availability of a Community Operator that is functionally equivalent to the current upstream operator.

[2019-06-14 17:53] #2649 closed

[2019-06-14 18:11] ravibagri5 commented on #2746
You can get rid of this issue by manually editing the pv and then removing the finalizers which looked something like this:

`- kubernetes.io/pv-protection
`
e.g

[code]

[2019-06-14 18:24] travisn commented on #3197
Correct, object users would not be affected by CSI.

[2019-06-14 21:18] #2474 closed

[2019-06-14 21:48] leseb commented on #2957
Closed via #3283.

[2019-06-14 21:48] #2957 closed

[2019-06-14 22:10] travisn commented on #3140
@Blaine @leseb Any ideas on this issue with OSDs having port conflicts? #3189 also seems to be the same issue. It smells like we have a configuration issue and we’ll need to backport a fix to 1.0.
- We didn’t overhaul the osd config like the other daemons, but @Blaine can you think of config changes that might have affected the OSDs?
- @leseb Are there osd settings that might be affecting the bind

[2019-06-15 09:40] hansbogert opened #3304 "can't successfully start OSD"
* Bug Report

**Deviation from expected behavior:**

Adding a new host to the cluster successfully installs an OSD on it, but subsequently stops with the following log:

[code]
The first thing that strikes me is the multiple errors of

[code]
I get these on my working nodes as well, however the following differs:
1. 'They' appear only once, so just one line
2. between the single quotes, `eth0` is

[2019-06-15 10:01] carletes commented on #3140
@travisn It seems that the issue is not a port conflict, but the `ceph-osd` daemon picking the wrong IP address.

In my scenario above, the config file contained the right value for the pod IP:

[code]

but the OSD process, somewhere in [pick_address()](https://github.com/ceph/ceph/blob/master/src/common/pick_address.h#L25), decided to use 10.34.0.0 instead.

Also in [pick_addresses.cc](https://gi

[2019-06-15 15:45] jarrpa opened #3305 "Define cluster storage by device sets rather than nodes"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
This feature builds upon #919 by extending it even further. The proposal is to define a mechanism whereby an admin can describe the types of devices they want to provide storage rather than defining nodes and individual devices.

**What is use case behind this feature:**
The target use cases are rook-ce

[2019-06-15 20:02] Negashev opened #3307 "Update helm logo 1.x"
Please update logos for https://charts.rook.io/release

[2019-06-15 21:45] martin31821 commented on #1125
@konvergence can you share the manifests to build a setup like yours? Would be very helpful since we're running in the same issue.
Also, some performance numbers on block device vs cephfs would be nice.

[2019-06-15 22:24] pavgup commented on #3140
`hostNetwork: true` absolutely brought the cluster back to a healthy state. there's an interesting problem with this bug that among my nodes that were spinning up OSDs, ONE of them ended up being successful while the rest failed. here's some additional log data I scooped up before using @carletes' suggestion:

[code]

[2019-06-15 22:38] pavgup commented on #1329
Just ran into exactly this issue; this leaves the cluster in an "HEALTH_WARN" status, but it's unclear if this is truly a warning or something potentially more serious. I suspect docs here might be really awesome...

[2019-06-16 00:51] michaelcourcy opened #3308 "After few reinstalls OSD does not appear anymore, and nothing in the logs"
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**
If OSD does not appear anymore I should have at least a log message from the operator explaining why it can't start the osd

**Expected behavior:**
Having a log message from the operator, at least an error message explaining why he was unable to start the osds

**How to reproduce it (minimal and precise)

[2019-06-16 08:53] michaelcourcy commented on #3308
Actually watching more closely I can see this error

[code]

in the operators logs

[code]

It look like trying to execute an osd command but I cant's see which one.

I'm very new to rook and ceph is there a way to improve the verbosity of the logs

[2019-06-16 15:53] danacr commented on #1677
I ended up just recompiling the kernel and installing the newer version: https://github.com/danacr/kubernetes-the-fun-way/blob/master/docs/04-rook-ceph.md

[2019-06-16 17:38] zlbabe opened #3309 "Enable hostIPC in psp"
* Bug Report

For k8s with  PodSecurityPolicy Admission Controller enabled  `hostIPC` is required.

[code]

the updated psp should look like
[code]

[2019-06-16 19:28] lcasassa opened #3310 "Scylla"
Hi!

Im using rook cassandra operator: rook/cassandra:v1.0.2 and this is how I made it work.

The namespace were I want to deploy is `graph`. The operator is deployed as in the rook documentation (namespace `rook-cassandra-system`).

[code]

I commented out the repository so it uses default value and used the latest tag found in dockerhub resulting: `image: scylladb/scylla:3.0.7`

First a service

[2019-06-16 20:52] hansbogert commented on #3140
I seem to be having the same problem as you having a single OSD which refuses to start and as I verified with `ceph osd dump` also has an IP with `x.x.x.0`.
However, I'm completely lost on how to start debugging this. The entry of participating has become enormous as I simply don't know how to create a docker image with a custom Ceph build.

[2019-06-16 22:08] michaelcourcy commented on #3308
Downgrading into rook 0.8 all the osd start and everything work really fine.

As I'm very new to rook or ceph, it's hard to say that we are dealing with a regression. Looking at the code in cluster.go

[code]

I could not find in the log the logs `failed to start the ceph mgr.` that could explain why we did not reach the creation of the OSD.

[2019-06-17 00:38] davidkarlsen commented on #2274
And same with v1.0.2

[2019-06-17 06:01] vincent927 commented on #3140
same probelm

[2019-06-17 06:48] vincent927 opened #3311 "osd cannot assign requested address"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
pod always CrashLoopBackOff

**Expected behavior:**
pod running

**How to reproduce it (minimal and precise):**

i'm running 3 node in kubernetes,and have 2 osd,today 1 osd was error.

error log
[code]
**Environment**:
* OS (e.g. from /etc/os-release):
[code]
* Kernel (e.g. `uname -a`):
[code]
* Cloud

[2019-06-17 07:09] nehaberry opened #3312 "CSI based RBD pods go into CrashLoopBackOff upon deployment"
**Description**

The recent changes in ceph/csi/rbd/templates folder and addition of ceph-csi-config (PR#[3271](https://github.com/rook/rook/pull/3271))  seems to be affecting rook-CSI deployment. The csi based rbd pods are unable to come up in Running state upon fresh deployment.

**Steps performed for creating the setup:**

1. Cloned the [rook repo](https://github.com/rook/rook)
2. Navigated to

[2019-06-17 07:19] leseb commented on #3311
Dup of #3140.

[2019-06-17 07:19] #3311 closed

[2019-06-17 07:28] nehaberry commented on #3312
Note: Logs attached:

1. Operator log
2. logs from cs-rbdplugin-* pods and their containers
3.  oc get configmap -o yaml
[logs-issue-3312.zip](https://github.com/rook/rook/files/3295669/logs-issue-3312.zip)

[2019-06-17 09:16] davidkarlsen commented on #2047
related to https://github.com/rook/rook/issues/1228

[2019-06-17 10:01] leseb commented on #3140
This reminds me of something. Can someone try this image `ceph/ceph-amd64:ocp-snd2`?
Thanks!

[2019-06-17 10:10] leseb commented on #3140
Oops sorry forget my previous message, please use `ceph/daemon:latest-master` image for your cluster CR and override this config option: `ms_learn_addr_from_peer: false`.

Thanks!

[2019-06-17 10:27] carletes commented on #3140
Something like this?

[code]

While I'm at it, shall I raise the debug level?

[2019-06-17 10:37] leseb commented on #3140
Yeah debug would be nice indeed, thanks @carletes

[2019-06-17 10:47] ShyamsundarR commented on #3312
The case seems to be due to missing configmap `ceph-csi-config` when bringing up the Ceph-CSI related pods. @phlogistonjohn the step that rus `oc create -f operator-openshift-with-csi.yaml` can create an empty config file for the pods to start successfully, is that feasible?

[2019-06-17 11:18] carletes commented on #3140
It works! Thanks a lot, @leseb. I'm able to create an object store, and to read/write data from/to it.

I'm running now with the following configuration (diff from rook v1.0.2):

[code]

The resources snipper for `mgr` is to address a memory leak I reported earlier, nothing to do with this issue.

With this setup I see no errors in the logs, and Ceph looks healthy:

[code]

Notice the health warni

[2019-06-17 11:39] leseb commented on #3140
The warning is not an issue but we should have something to remove it as reported here: https://github.com/rook/rook/issues/3138. I've made a backport of the Ceph patch that fixes this (https://github.com/ceph/ceph/pull/28589) and should be in 14.2.2 when it's released.

[2019-06-17 12:03] leseb commented on #3304
@hansbogert looks like a dup of #3140, I'm closing this, feel free to re-open if you have any more concerns. Thanks.

[2019-06-17 12:03] #3304 closed

[2019-06-17 12:51] nehaberry commented on #3312
@ShyamsundarR it may be the case. I have attached the output of oc get configmap -o yaml in the logs for your reference.

Thanks

[2019-06-17 13:47] EnigmaCurry commented on #1162
This is broken in rancher/k3os - the ENV var fix for FLEX_VOLUME_DIR_PATH in operator.yaml worked though - setting it to  `/var/lib/rancher/k3s/agent/kubelet/plugins` - https://github.com/rook/rook/issues/1162#issuecomment-343743163

[2019-06-17 14:58] jbmcfarlin31 commented on #3286
Just to update, I have redeployed the entire minio controller and object-store. These are my findings.

1) Upon first deployment of the object-store, the minio pods don't come up right away due to waiting to connect the pod to their associated PVs. After a couple of minutes, they finally come up.
2) After those pods have been up for a few minutes, they begin the cycle of the `CrashLookBackOff` due

[2019-06-17 16:55] lewismarshall commented on #2853
@travisn  - So it turns out I had subtly updated yamls from v0.9.3  - see diff output below where `cluster-rbac-upstream.yaml` are the rbac roles from v0.9.3 and `cluster-rbac.yaml` is our definition:
[code]

I think I was simplifying what RBAC roles would have been required given the operator rbac roles given by the Chart.  As our next step will be to upgrade the yaml to be in line with the lates

[2019-06-17 17:15] phlogistonjohn commented on #3312
The configmap(s) don't get created until the cluster cr is created. Until then the csi pods will be in this state. I agree with linking this issue to #2939 as the csi is pretty useless without a cluster.
I woudln't bother with trying to work around this for now, I just suggest ensuring the pods do come up after the cluster is established.

[2019-06-17 18:12] hansbogert commented on #3140
But that is just a workaround right? Why is it picking the wrong IP, `x.x.x.0` ?

[2019-06-17 19:36] leseb commented on #3140
@hansbogert this is not a workaround, this is intended to be false when running on a SDN.

[2019-06-17 20:15] dimm0 opened #3314 "On cephFS mount error, the pod starts mounting the root filesystem"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
If entering a wrong cephFS key with security enabled, the pdo starts with root filesystem mounted

**Expected behavior:**
The pod does not start

**How to reproduce it (minimal and precise):**
Give a wrong key to cephFS with security enabled

Logs:
[code]

**Environment**:
* OS (e.g. from /etc/os-relea

[2019-06-17 21:05] travisn commented on #3294
@umangachapagain

Yes

Sounds good to set `enable: true` rather than a more specific setting.

Currently common.yaml is not separated for openshift because there wasn't a need. If needed we could create a `common-openshift.yaml`. However, if we can avoid the duplication in the upstream it would be preferred.

The yaml files in the rook upstream are just samples. Creating the resources in the speci

[2019-06-17 21:14] travisn commented on #3294
@umangachapagain

See [this commit](https://github.com/rook/rook/commit/f6c15bfb5a8ca33e32b9bfed173fb655a3cd64b1) for an example of where the csi yamls were added to the image.

Yes, whenever there is is a notable update in ceph-mixins, a PR would be opened for the new yaml in the rook repo.

If a different yaml is needed for different major versions of ceph, we could do the following:
- Include t

[2019-06-17 21:17] masantiago opened #3315 "Very low performance of PVs with CephFS CSI driver"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The performance of volumes dynamically created by CephFS CSI StorageClass is quite low compared to a traditional flexVolume. Find below some results obtained in a simple vagrant single-node test:

[code]

[code]

**Expected behavior:**
Both use cases should perform likewise because they are using the s

[2019-06-17 22:17] hansbogert commented on #3140
@leseb When I look at https://github.com/ceph/ceph/pull/28589 the rationale is about NAT, however in my situation with a Flannel network, NAT'ing between pods should not occur. So what is it about SDN in this case that 28589 is necessary for this issue?
Sorry about nagging on about this, but this issue has cost me a lot of time so far, and I really would like to know, but based purely on the code

[2019-06-18 01:08] nehaberry commented on #3312
Yeah thats correct. But the csi-rbdplugin pods stayed in containerCreating state until the cluster CRD was created. Upon creation of cluster CR, they almost immediately went into Crashloop state, stating some connection error to unix socket.
Atleast after creating cluser CR, the cluster-config should have got populated and the csi-rbdplugin podd should have come up :)

Complete log attached in the

[2019-06-18 05:51] umangachapagain commented on #3294
Agree that we should make generic changes upstream and make opinionated changes downstream only.
This should address most of the issues.

[2019-06-18 07:53] HaveFun83 commented on #1827
Some documentation about this process will be really helpful

[2019-06-18 08:38] leseb commented on #3309
@zlbabe thanks for reporting this!

[2019-06-18 10:02] galexrt commented on #1048
Closing this in favor of #1796, as it has more information on the status of implementing this.

[2019-06-18 10:02] #1048 closed

[2019-06-18 10:03] galexrt commented on #2538
As you want to have more than one MGR running, I'm going to close this in favor of #1796. #1796 is looking into running (at least) two MGRs.

[2019-06-18 10:03] #2538 closed

[2019-06-18 10:22] ShyamsundarR commented on #3312
The issue seems to be that the CSI images in use still expect the `metadatastorage` flag in the parameters to the container, but the pod manifest has changed to not mention the same. The pod manifest is correct as master rook branch is getting integrated with the v1.1 CSI code (or CSI master at present), but the image specification in the case of openshift is incorrect.

The CSI images in use by t

[2019-06-18 10:27] nehaberry commented on #3312
@ShyamsundarR thanks for the analysis. So, in that case if we just change the contents of "operator-openshift-with-csi.yaml" to include changes specified [here](https://github.com/rook/rook/blob/8da222129643350dfd066370f30488b2fff9f897/cluster/examples/kubernetes/ceph/operator-with-csi.yaml#L43-L48), we are good to go ?

I remember @Madhu-1 mentioning that the canary image is not yet 100% ready. S

[2019-06-18 10:33] ShyamsundarR commented on #3312
Changing the images to the mentioned values should help make forward progress in the openshift environment.

Note: jFYI for the moment, the mentioned canary images are a pre-version of 1.1 as the image name, in ceph-csi master, has changed (with some more configuration changes) to cephcsi, but rook has not caught up to these changes yet.

[2019-06-18 10:36] kariae opened #3318 "CSI is not able to communicate with ceph cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
PVC stuck in pending

**Expected behavior:**
Created PVC

**How to reproduce it (minimal and precise):**

Not sure how to reproduce it, the cluster was working fine until some pods (that use some PVCs stopped working), the logs of the provisioner container shows:
[code]

When I checked the processes on

[2019-06-18 10:36] Madhu-1 commented on #3312
we need code changes and also test changes to use the canary tagged images
@phlogistonjohn we should use `cephcsi` image ( as we are deprecating `rbdplugin` and `cephfsplugin` images)

@ShyamsundarR @nehaberry am working on bringing the cephcsi v1.1.0 changes in rook
i will post a PR soon

[2019-06-18 10:40] Madhu-1 commented on #3318
@travisn can you please tell how to proceed further? rbd commands are struck for long time

[2019-06-18 10:44] ShyamsundarR commented on #3312
@Madhu-1 till the changes to bring in ceph-csi:v1.1 are being done, should we just fix the file `operator-openshift-with-csi.yaml` to use images as in this [comment](https://github.com/rook/rook/issues/3312#issuecomment-503044237)? (just to get things moving as till now it looks like 3 folks have hit this particular issue).

If affirmative, I would suggest using the images as in the other file (ce

[2019-06-18 10:50] Madhu-1 commented on #3312
yes, let's have a PR to make image changes from v1.0.0 to canary  for openshift and also we need to have a doc to fetch the clusterID in config map and use it in storage-class (i see we have not documented this step)

[2019-06-18 11:22] nehaberry commented on #3312
Thanks for raising the PR. Can you please let us know when we are good to go.

[2019-06-18 11:52] danielxolsson commented on #1507
Solved this by using following config:
     terminationGracePeriodSeconds: 0
     tolerations:
     - effect: NoExecute
       key: node.kubernetes.io/unreachable
       operator: Exists
       tolerationSeconds: 300

Tested with kubernetes v1.12 with rook-ceph v14.2. Note that FlexVolume is used.

[2019-06-18 14:13] #2741 closed

[2019-06-18 14:13] #3292 closed

[2019-06-18 15:25] jbw976 opened #3320 "Prow: Automate code change approval process"
We have implemented a new code change approval process that is described in https://github.com/rook/rook/blob/master/CONTRIBUTING.md#change-approval.

It's a manual process right now, but we can improve this process as mentioned in https://github.com/rook/rook/blob/master/CONTRIBUTING.md#automation.  One suggestion is the Kubernetes Prow system: https://github.com/kubernetes/test-infra/tree/master

[2019-06-18 15:34] yanchicago commented on #3157
Any work around?

[2019-06-18 15:48] #3309 closed

[2019-06-18 16:22] djgalloway commented on #3138
I reproduced this (unintentionally) using OpenShift 4.2.

[code]

[2019-06-18 16:26] BlaineEXE commented on #2834
Not stale, just taking a while.

[2019-06-18 16:27] leseb commented on #3138
I'm gonna fix that one soon!

[2019-06-18 18:59] dimm0 commented on #1507
How does it prevent node from reconnecting to ceph and damaging the ceph volume when network conenction is reestablished?

[2019-06-18 20:03] carletes commented on #3140
@leseb: With the changes suggested here, the memory leak in `ceph-mgr` from https://github.com/ceph/ceph-container/issues/1320 does not happen anymore :)

[2019-06-18 22:09] BlaineEXE commented on #2394
Fixed in #3198

[2019-06-18 22:09] #2394 closed

[2019-06-18 22:09] travisn commented on #2707
Closing since backport is complete. Will be included in the 1.0.3 release.

[2019-06-18 22:09] #2707 closed

[2019-06-18 22:14] travisn commented on #3140
Reopening for backport

[2019-06-18 22:55] travisn commented on #3318
Typically if the rbd commands are stuck, it's because the mons are either not accessible (network issue), the mons have lost quorum, or the driver doesn't have the latest list of mons. Since you probably created the cluster before #3271 was just merged, you may have outdated mons since that list had to be populated manually in the past. If the operator has failed over the mons, the list of mons ma

[2019-06-19 04:07] shtripat commented on #3294
Sounds reasonable to me.

Regards,
Shubhendu

On Tue, Jun 18, 2019 at 11:21 AM Umanga Chapagain <notifications@github.com>
wrote:

[2019-06-19 05:26] kariae commented on #3318
@travisn thanks for the explanation, so a turnaround for this would be to upgrade to master branch since the latest release doesn't include the PR?

Is there anyway to upgrade the current cluster, or should I remove it and re-create everything again?

[2019-06-19 06:20] Madhu-1 commented on #3318
@travisn as you can see `rook-ceph-mon-a.rook-ceph.svc.cluster.local:6789,rook-ceph-mon-b.rook-ceph.svc.cluster.local:6789,rook-ceph-mon-c.rook-ceph.svc.cluster.local:6789` CSI is using service URL to communicate with mon pods.

any pointer to check network issue on the quorum lost status?

@kariae can you paste operator pod logs?

[2019-06-19 06:29] danielxolsson commented on #1507
Below some assumptions:

If node is just shutdown and when booted it will reconnect with kubernetes, then the pod will not start at all.

In a split-brain scenario ceph will not allow a second rw mount of the volume. The opposite is true if node lost connection to kubernetes, but has connection to ceph.

Just wanted to share what worked for me...

[2019-06-19 06:44] humblec opened #3323 "Request for a new branch in this repo for CSI transition from Flex"
**What should the feature do:**

I would like to request a new branch in Rook to smooth the transition to Ceph CSI from "flex" based driver. That said, whatever changes we have to make on deployment artifacts can be done in this branch and later once its in shape we could merge back or retain the branch accordingly.

The suggested branch name is `csi` or `csi v.1.1.0`

[2019-06-19 06:44] humblec commented on #3323
@travisn @Madhu-1 FYI

[2019-06-19 06:44] humblec commented on #3323
Early bed for #https://github.com/ceph/ceph-csi/issues/353

[2019-06-19 06:52] humblec commented on #3318
I am wondering `rook-ceph-mon-a.rook-ceph.svc.cluster.local` is a resolvable url or not ?

[2019-06-19 06:59] Madhu-1 commented on #3318
@humblec the above URL is resolvable we are using the same in csi
https://github.com/ceph/ceph-csi/blob/7f993707ca9f575fabd78926806d3a6532d3e356/e2e/utils.go#L138

[2019-06-19 07:00] humblec commented on #3318
Yeah, I was pointing to this specific setup.

[2019-06-19 07:12] zerkms commented on #1507
is it actually the case?

[2019-06-19 07:37] davidhiendl commented on #1507
What about writes inside a network partition that occurred in the timeframe where the node was partitioned and not yet evicted? If the partition reconnects and the main group has had writes since then there is no way to resolve that. Sounds risky.

[2019-06-19 07:41] zerkms commented on #1507
@davidhiendl a few comments above I suggested something that would provide a guaranteed yet simple solution for the problem, for the cost of adding another concept of a `fencer`: https://github.com/rook/rook/issues/1507#issuecomment-457466226

[2019-06-19 10:04] clkao commented on #2047
It appears #2100 code still applies cleanly (except pending notes) to master. we should probably revisit it and see if that would allow lvm.

[2019-06-19 11:34] hameno commented on #2062
Nice feature, but I'm wondering why two separate PVCs share the same folder on the nfs share - shouldn't that be scoped?

[2019-06-19 13:49] travisn commented on #3323
I would recommend someone create a branch in their own fork and grant access to those who need to work there. We shouldn't need to create a branch in the main rook repo. Also to consider is that if we can do it with individual PRs, the changes could all go into master directly. But if multiple people are working on the effort, the branch could certainly be helpful.

[2019-06-19 15:06] proligde commented on #2884
@sebastian-philipp

I'm repeatedly getting (with every page refresh) a red Toaster-Message on the Dashboards start page showing:

[code]
Most of the menus and contents work well, though. Only the "Cluster -> CRUSH-Map" shows the same error.

[2019-06-19 15:21] leseb commented on #3137
Ok found it! Patch incoming!

[2019-06-19 15:54] lewismarshall opened #3327 "No upgrade of rook-ceph cluster from v0.9.3 to v1.0.x in rook-ceph namespace"
Searched for `ROOK_CURRENT_NAMESPACE_ONLY` with no results

**Is this a bug report or feature request?**
* Bug Report
Rook operator fails to update cluster to v1.0.2 from v0.9.3 when ceph cluster is deployed to `rook-ceph` namespace when using the chart yamls.

**Deviation from expected behavior:**
rook-ceph-mgr/mon/ods deployments left alone.

**Expected behavior:**
rook-ceph-mgr/mon/ods deployme

[2019-06-19 16:41] #2827 closed

[2019-06-19 16:56] betonmoewe commented on #3297
no idea what the reason (bug?) might be (kubelet ignores rook flexvolume plugin after reboot) and how to avoid having to delete all node agents to re-deploy them and reactivate the plugin with this action? Is there no way to reinit an agent on only one node?

[2019-06-19 17:06] lorenz commented on #1507
Honestly this really needs to be done by Ceph. I've seen many distributed systems go down or destroy data because of separation of logic and functionality critical to their correct operation (like fencing or locking). And depending on how you attach the RBD device Ceph will absolutely allow multiple R/W attachments.

[2019-06-19 18:37] dimm0 commented on #1507
I've broken several RBDs already like that... With data loss, xfs couldn't recover
https://github.com/rook/rook/issues/3298

[2019-06-19 18:46] masantiago commented on #3315
I've found out that the PODs using dynamically created PVs are using **ceph-fuse** as filesystem:

[code]

Therefore, I assume that the low throughput has to do with the user space as mounting point. Does it make sense to have such a difference of 30x? Or is there any parameter to configure?

[2019-06-19 20:25] zerkms commented on #3298
I reported something like this some time ago and it was closed due to inactivity https://github.com/rook/rook/issues/2535

[2019-06-19 20:48] travisn commented on #3298
Hmm, need to make sure this isn't overlooked, even if we are moving to the CSI driver soon!

[2019-06-19 23:41] #1716 closed

[2019-06-19 23:41] #2805 closed

[2019-06-20 05:30] mariusv commented on #2587
@immesys so how do you run your `kops rolling-update` with rook deployed ?

[2019-06-20 05:51] immesys commented on #2587
It's a manual process. I create a new instance group, migrate one node at a time from the old instance group to the new instance group by changing nodeAffinity (and moving the EBS volumes), and then when all the rook nodes have been migrated I remove the old instance group.

I would really, really, like to have a normal rolling-update...

[2019-06-20 05:57] Madhu-1 commented on #3312
@nehaberry can you verify this issue

[2019-06-20 06:33] nehaberry commented on #3312
It worked with following steps. Apart from changing the image name in operator-openshift-with-csi.yaml, we did not change anything else. USed the latest rbac files from rook repo.

1. Used the  following images in operator-openshift-with-csi.yaml:

[code]

2. Created the rook operator.
 $ oc create -f  operator-openshift-with-csi.yaml

3.  With new changes, the agent and csi pods came up after run

[2019-06-20 06:36] nehaberry commented on #3312
@Madhu-1

Adding the clusterroles output for your reference.

[code]

[2019-06-20 06:36] Madhu-1 commented on #3312
@nehaberry Thanks for confirming,
@travisn can we close this issue or we have to keep it open?

[2019-06-20 08:33] mariusv commented on #2587
@immesys there is another way...keep rook on it's own instance group and then don't update them by using `--instance-group` on `kops rolling-update`

[2019-06-20 09:09] rohan47 commented on #2062
What do you mean by two seperate PVCs share the same folder on the nfs share?

[2019-06-20 09:41] #2772 closed

[2019-06-20 09:41] #2332 closed

[2019-06-20 09:54] xenolinux opened #3330 "crashed osd pods should be deleted, and new osd pods should be spawned by rook"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After detaching and reattaching disk to a worker node, the pods which are in `CrashBackLoopOf` state are not getting deleted by Rook. Also if the disk is re-attached then new pod doesn't get spawned.

**Expected behavior:**
As soon as an osd is re-attached, a new osd pod should be created and old crash

[2019-06-20 13:08] nehaberry commented on #3330
Thanks for raising this bug. We have also seen this issue while adding new disks. The new disks are getting detected mostly after we perform a manual re-spin of operator pod, which shouldn't be the workaround.

[2019-06-20 15:45] Steuf commented on #3072
Should be great ! We can't add new exports on existing nfs server, when we need new nfs volume for a project we need to create a new nfsserver.

Must be great to just update an existing nfsserver with new export.

[2019-06-20 15:47] Steuf commented on #3072
Just according to this design document https://github.com/rook/rook/blob/master/design/nfs.md ;)

[2019-06-20 18:03] #2514 closed

[2019-06-20 18:56] Informatic commented on #2047
Took a look at it today - rebasing #2100 onto current master makes rook see LVM device-mapper devices, but, these need to be passed in configuration as `dm-0` (which would be much more likely to change in contrast to physical disk device names, as per #1228)

Additionally during provisioning ceph-volume seems to still fail with incomprehensible error:
[code]

[2019-06-20 19:03] #2322 closed

[2019-06-20 19:03] #1539 closed

[2019-06-20 19:03] #1847 closed

[2019-06-20 20:03] #1347 closed

[2019-06-20 20:03] #1368 closed

[2019-06-20 21:50] xenolinux commented on #3330
Yes. Right !

On Thu, Jun 20, 2019 at 6:38 PM nehaberry <notifications@github.com> wrote:

[2019-06-20 22:24] #3323 closed

[2019-06-20 22:30] xrow commented on #2079
please also think of openshift

[2019-06-20 23:03] travisn opened #3331 "Ceph-CSI Driver support for multiple ceph clusters from a single operator"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The ceph-csi integration with rook currently requires a single ceph cluster to be configured. This is due to the mon endpoints being updated on a per-cluster basis as seen in #3271. This will work fine as long as there is only ceph cluster deployed per operator.

To support multiple clusters per operato

[2019-06-21 02:40] carpenike commented on #2582
@r0bj  -- I'm running into the same problem, though I'm trying to only have it apply for osd placement.

Did you ever get it resolved?

[code]

[2019-06-21 02:55] humblec commented on #3331
@travisn thanks for writing this down. It matches with the thought or solution I have in mind.

I doubt this work seemlessly in all the setup atm.

[2019-06-21 03:26] Madhu-1 commented on #3331
@humblec it will work if both operator and cluster are created in the same namespace

[2019-06-21 03:31] Madhu-1 commented on #3331
just a note there will be one CSI per operator. if there are `N operator` each operator is managing  different clusters then there will be `N CSI pods`  deployed in operator namespaces

[2019-06-21 03:36] humblec commented on #3331
Thats what my point was , is it always guaranteed that ceph cluster and operator are created in same namespace ?

[2019-06-21 03:38] humblec commented on #3331
That assumption is correct, but is there a scenario of `N operators`  ?

[2019-06-21 03:39] Madhu-1 commented on #3331
its configurable https://github.com/rook/rook/blob/818ad9c7ca4d352a9bed202e619d47b05f1a4dab/cluster/examples/kubernetes/ceph/operator.yaml#L16-L18

https://github.com/rook/rook/blob/818ad9c7ca4d352a9bed202e619d47b05f1a4dab/cluster/examples/kubernetes/ceph/cluster.yaml#L13-L16

[2019-06-21 03:47] humblec commented on #3331
@Madhu-1 I am aware of that configuration :), the point I am making here is, we have to convey that to users ( may be via documentation) , failed to see it in the documentation. May be I missed, if not, I can send a PR

[2019-06-21 04:06] Madhu-1 commented on #3315
@ajarr can you help with this?

[2019-06-21 05:16] #2838 closed

[2019-06-21 05:23] anguslees opened #3332 "mds active/standby lack anti-affinity"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

[code]

Both mds instances were scheduled on the same host.  This seems bad for something that exists to be a failover pair (aiui).

Sure enough, the k8s config for these pods has `affinity: {}`.

**Expected behavior:**

I think there should be a AZ/host pod anti-affinity rule configured.  Something l

[2019-06-21 06:16] #2826 closed

[2019-06-21 09:27] lewismarshall commented on #3092
When devices are presented using RAID controllers or in cloud they will often present as non-rotational e.g. SSD even when they are either HDD or slow EBS:
[code]

Would like to be able to override this behaviour to be able to add metadataDevice to existing clusters.

[2019-06-21 11:37] ShyamsundarR commented on #3331
Is there a case where there can be multiple operators? The above talks about a single operator managing multiple clusters, hence asking if the multiple operator scenario is also a possibility.

If yes, then the CSI drivername should be made specific to each operator name, such that multiple such instance can exist in a single Kubernetes cluster.

Other than the above detail, rest of the design/app

[2019-06-21 13:22] travisn commented on #3331
While not common, we should allow for multiple operators. Each operator would start in its own namespace and each operator would start its CSI driver in the same namespace as that operator. Where would the CSI driver name be visible? In the storage class?

[2019-06-21 14:14] ShyamsundarR commented on #3331
The drivername [1] would be used in the storage class, as the `provisioner` [2] field.

[1] drivername configuration:
cephfs: https://github.com/ceph/ceph-csi/blob/master/docs/deploy-cephfs.md#configuration
rbd: https://github.com/ceph/ceph-csi/blob/master/docs/deploy-rbd.md#configuration

[2] Use of drivername in the StorageClass:
cephfs (similarly in rbd): https://github.com/ceph/ceph-csi/blob/7

[2019-06-21 14:17] jarrpa commented on #3331
Sorry if I'm coming in blind, but the driver name shoul dbe configurable form Rook in this case. If multiple CSI drivers share the same driver name, they will all listen for the same provisioning events and it will be nondeterministic which one will pick up a given event first.

[2019-06-21 14:20] ShyamsundarR commented on #3331
Yes, Rook SHOULD specialize the drivername as per the operator instance.

The latter half of the observation is right, we cannot have multiple CSI instances advertising the same name, it would just not work.

[2019-06-21 14:45] iMartyn opened #3334 "mgr fails to start dashboard, prometheus on IPv6-disabled nodes"
**Is this a bug report or feature request?**
* Bug Report

#2171 Provided a workaround for this issue but this codepath has been refactored away and now there is no way to set the listen IP in rook.

**Deviation from expected behavior:**

Ceph dashboard and prometheus modules fail to listen on pods that are scheduled on machines with IPv6 forcibly disabled.

**Expected behavior:**

Ceph dashboard

[2019-06-21 15:01] iMartyn opened #3335 "FlexVolume doesn't error for nonexistent CephFileSystem"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When specifying an incorrect CephFS using the CephFS FlexVolume, instead of failing, the pod starts and mounts ephemeral storage in it's place.

**Expected behavior:**
I would expect when mounting a CephFS FlexVolume in a pod that if I get the name of the CephFS wrong, the pod would not start and would

[2019-06-21 15:42] iMartyn commented on #3334
Pinging @noahdesu Just so you're aware :-)

[2019-06-21 16:36] yanchicago opened #3336 "Further orchestration is blocked: osd/rgw deployment is blocked when a mounted device failed on vgcreate"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Further operation is blocked when a mounted device (in-use /dev/vde ) failed for vgcreate.  The mounted device(vde) is configured for non-rook usage. After vgcreate failure, the deploy operation returned without going through the other available devices(i.e., vdf). Also the rgw deploy was not tried eit

[2019-06-21 20:54] dimm0 opened #3337 "Rook 1.0.2 attaches unwanted drives"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
With
[code]

rook attaches the drives on nodes I want, and also some small space from system drive that was unused (~50GB)

**Expected behavior:**
Rook only uses the space I told it to use

**How to reproduce it (minimal and precise):**
Not sure how to reproduce..

**Environment**:
* OS (e.g. from /etc

[2019-06-21 20:56] noahdesu commented on #3337
Does " also some small space from system drive that was unused " mean you see Ceph using some partition (on a drive with other partitions) to create an OSD? It would be helpful to produce a log or report of the devices, partitions, and how Ceph is using them for the node in question.

[2019-06-21 21:23] dimm0 commented on #3337
Yes

That's actually all nodes... Which exactly logs should I send?
The provision pods are gone before I could get anything from them..

Does this look right?

https://gitlab.nautilus.optiputer.net/nrp/rook/blob/master/nrp-cluster.yaml

Or I missed something and it's still doing "all drives"?

[2019-06-22 02:29] andrewrynhard commented on #2980
@alfredodeza Any idea how I might supply a custom `lvm.conf`?

[2019-06-22 11:52] lucj commented on #2982
Hi, any hints for this one ?

[2019-06-22 18:25] graham-web commented on #2982
I think your best bet for the moment is to try the [CSI driver](https://rook.io/docs/rook/v1.0/ceph-csi-drivers.html) instead...

The root of the problem looks to be that DigitalOcean puts their kubelet inside a Docker container. This means that the Flexvolume driver provided by Rook is unavailable, and mounts fail.

There is a workaround for this [same problem happening in Rancher environments](h

[2019-06-23 05:11] chh315 commented on #3327
I got this one too.

all osds not upgrated.
rook-ceph-mgr-a         req/upd/avl: 1/1/1      rook-version=v1.0.2
rook-ceph-mon-a         req/upd/avl: 1/1/1      rook-version=v1.0.2
rook-ceph-mon-b         req/upd/avl: 1/1/1      rook-version=v1.0.2
rook-ceph-mon-c         req/upd/avl: 1/1/1      rook-version=v1.0.2
rook-ceph-osd-0         req/upd/avl: 1/1/1      rook-version=
rook-ceph-osd-1

[2019-06-23 08:07] sfxworks commented on #3178
Hi
[code]
Similar experience after the steps above here https://github.com/rook/rook/issues/3178#issuecomment-494643596

- upgraded from 0.9 to 1.0
- wanted to remove a node/osd
- deleted the osd via ceph tooklkit
- drained a node
- deleted the node via kubectl
- terminate the host
- scaled deployment down/up
- now getting these within the operator

[2019-06-23 09:44] chh315 commented on #3327
@lewismarshall
did you see this log at rook-operator?

I cleared this one, and worked.

[2019-06-23 15:18] andrewwebber opened #3339 "Container Linux - Daemonsets missing required field "selector""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Cannot create before and after daemonsets with the error
[code]
**Expected behavior:**
No errors when creating the daemonsets

**How to reproduce it (minimal and precise):**
[code]

After the following changes the update operator daemonsets could be created.

[code]

**Environment**:
* OS (e.g. from /e

[2019-06-24 06:22] rohantmp commented on #2874
Looks like it was a problem with my env!

[2019-06-24 06:22] #2874 closed

[2019-06-24 07:16] leseb commented on #2047
@Informatic please open an issue on https://tracker.ceph.com under the ceph-volume component with your error logs, thanks.

[2019-06-24 08:52] michalzxc commented on #1653
/keepalive We still need this.

[2019-06-24 09:04] iMartyn commented on #3334
IMO there is no need to in k8s ever listen on '::'.  Even on IPv6 enabled clusters, the idea is to be able to access external services via IPv6 and for Ingresses (sometimes) to listen on IPv6.  Internal to the cluster there should never be a need to listen on IPv6.  Therefore we should just use the initcontainer for all versions.

[2019-06-24 09:05] iMartyn commented on #3334
Logs from an mgr restart here :
[code]

[2019-06-24 10:42] nberlee opened #3342 "rook-ceph-operator crash when adding new osd"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
after a node add into the kubernetes cluster, the node gets picked up until rook-ceph-operator crashes:
[code]

[2019-06-24 12:23] jiuchen1986 commented on #1233
Seeing this issue in v1.0.2 after redeploying. Any update on this issue?

[2019-06-24 12:37] iMartyn opened #3343 "Custom InitContainer definition."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Accept a custom initcontainer per pod type and add it in the operator.  If with volume support, even better.

**What is use case behind this feature:**

Use Case 1:
* Run manual prepare steps prior to running an OSD on a machine for cleanup (dangerous), attaching external disks, or other preparatory ste

[2019-06-24 13:19] leseb opened #3344 "Rook assumes namespace = cluster name"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

In too many places, the namespace is treated as the cluster name.

**Expected behavior:**

Rook must not assume namespace = cluster name

**How to reproduce it (minimal and precise):**

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configur

[2019-06-24 13:44] travisn commented on #3344
Rook requires the `clusterName` to be the same as the namespace. So it is only a naming issue where some variables are called `clusterName`, while others are called `namespace`.

[2019-06-24 13:57] travisn commented on #3343
While powerful, this would be a pretty risky feature to provide that much flexibility. Rook wouldn't really be able to support the side effects of using that feature.

Note that for use case 2, it's a work in progress to add support for mons and OSDs on top of PVCs. See #3306.

[2019-06-24 14:00] travisn commented on #1233
@jiuchen1986 If the ceph status isn't responding, there is an issue in your environment where the mons are either not in quorum or there is not network connectivity from the client. [This topic](https://rook.io/docs/rook/v1.0/ceph-common-issues.html#monitors-are-the-only-pods-running) may help troubleshoot.

[2019-06-24 14:21] iMartyn commented on #3343
Yeah, I understand, and the risks should be accepted by whoever uses it, but right now we have a 3-stage Jenkins pipeline to do a whole load of prep and because we're in an auto-scaling environment, with the lack of `daemonJob` kinds in k8s, we're getting to the point where we write an operator for rook! I'm sure this would really be helpful in multiple use cases I think and the potential harm, as

[2019-06-24 14:39] leseb commented on #3344
It might require that but this requirement is not enforced as I can tell :/

[2019-06-24 15:42] yanchicago commented on #3336
Here's more log of operator failure to proceed.
-----------------BEGIN logs from pod: rook-ceph-operator-567c9957b-wvxrj-----------------
2019-06-21 06:13:35.585917 I | rookcmd: starting Rook v1.0.2 with arguments '/usr/local/bin/rook ceph operator'
2019-06-21 06:13:35.586177 I | rookcmd: flag values: --alsologtostderr=false, --csi-attacher-image=quay.io/k8scsi/csi-attacher:v1.0.1, --csi-cephfs-im

[2019-06-24 15:47] xrow commented on #2721
I have the same issue

[2019-06-24 16:39] #3141 closed

[2019-06-24 17:07] nick-lehmann opened #3348 "Ceph not able to find other OSDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After following the tutorial using three on-premise nodes, ceph is not able to find the other nodes/OSDs and PVCs get stuck.

**Expected behavior:**

The ceph cluster should be healthy and PVC should get created.

**How to reproduce it (minimal and precise):**

- Follow the [kubeadm tutorial](https://

[2019-06-24 18:32] noahdesu commented on #3348
@nick-lehmann could you clarify something for me? you  mention that you follow the setup guide and everything is OK:

Then you mention that you setup block storage, and reference cluster.yaml (which would have been part a prior step taken in setting up the cluster that you observed to be healthy):

[2019-06-24 18:39] noahdesu commented on #3336
Question:

Did you perform this step by hand?

[2019-06-24 19:02] yanchicago commented on #3336
Yes, I have to manually change "vde" to be valid for rook for the deploy to proceed. But again "vde" is not supposed to be used for rook on this node.

[2019-06-24 19:05] r0bj commented on #2582
@carpenike yes, in my case there was variable `useAllNodes ` mistakenly set to `false`. After I changed to `true` everything worked as expected.

[2019-06-24 19:33] nick-lehmann commented on #3348
Thanks, that was worded quite badly, I apologize. I followed the quickstart guide which included creating the cluster (with `cluster.yaml`), then checked its health which was ok, and after that continued with block storage. After creating the first PVC, the health was reported as bad (see output of `ceph status` at the end of the description).

[2019-06-24 19:57] iExalt opened #3349 "Support for custom pg_num in Ceph Block Pool CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
When creating a Ceph Block Pool through the CRD, there is currently no support for changing the number of placement groups. The [Ceph documentation](http://docs.ceph.com/docs/nautilus/rados/operations/placement-groups/#placement-groups-tradeoffs) stresses the importance of choosing a proper number of pl

[2019-06-24 20:30] noahdesu commented on #3349
Hi @iExalt you can change the number of placement groups manually using the Ceph toolbox. You can also set a default number of placement groups for new pools.

I think that is a +1 for not expanding the CRD, unless it becomes a big hassle for users.

[2019-06-24 20:38] #3349 closed

[2019-06-24 20:40] iExalt commented on #3349
Closed for now. Didn't see that the pg_autoscaler is due to be enabled by default in newer versions of Ceph. That removes a lot of the need for specifying pg_num manually.

[2019-06-24 20:49] noahdesu commented on #3349
Cool. Certainly if that plan changes then this would become more useful.

[2019-06-24 22:09] noahdesu opened #3351 "ceph: mon's should use persistent volume storage"
Currently the storage that a monitor uses is based on the `dataDirHostPath` specified in the cluster CRD. This feature request will use the persistent volume abstraction to provide storage to monitors that are provisioned in the cloud (e.g. an ebs volume) or a local volume.

**note**: the `dataDirHostPath` should remain (perhaps renamed) to hold logging and crash data.

When backed by a network vo

[2019-06-25 01:10] jeffvance commented on #2473
/assign @travisn   // temporarily assigned to Travis since I will be doing other work shortly...

[2019-06-25 02:30] jbw976 commented on #1809
Hey there @ZYecho, I was just taking a look at this again.  To support secure mode in the CockroachDB operator, I think the operator should follow the model of what the CockroachDB Helm chart does.  It uses an initContainer (default image `cockroachdb/cockroach-k8s-request-cert`) that will request the certificate:
https://github.com/helm/charts/blob/master/stable/cockroachdb/values.yaml#L67-L76
ht

[2019-06-25 11:55] #3041 closed

[2019-06-25 11:57] iMartyn commented on #3334
As a further point to help prioritize the fix for this - On Azure AKS this makes it impossible to use prometheus to create alerting for rook as their clusters are ipv6 disabled (at least in 50% of the nodes - one AZ).

[2019-06-25 12:25] dorsany opened #3354 "support seaweedfs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
support seaweedfs:
```SeaweedFS is a simple and highly scalable distributed file system```

https://github.com/chrislusf/seaweedfs

**What is use case behind this feature:**
use rook benefits as a storage kubernetes Orchestration to deploy and use seaweedfs distributed file system

**Environment**:
kube

[2019-06-25 12:26] leseb commented on #2721
@rohan47 have you stopped working on this?

[2019-06-25 12:31] #3339 closed

[2019-06-25 14:22] lucj commented on #2982
Thanks a lot, will try it !

[2019-06-25 14:55] alfredodeza commented on #2980
this looks like a problem of a pod/container not exposing the things LVM needs, rather than a configuration with LVM itself. Even though it appears that the change in configuration you are suggesting might do the trick, I would rather see the container expose what is needed for this to work properly as it does in baremetal/VM setups.

[2019-06-25 15:58] andrewrynhard commented on #2980
@alfonsomthd are you on the rook slack? Maybe we can resolve this issue faster there?

[2019-06-25 16:06] noahdesu commented on #2980
looks related to issues we've seen (and fixed) before with bind mounting the correct udev host paths into the container. Any chance you can try Rook 1.0? It's not exactly clear if some of those changes are present in the 0.9.0-dev version you're running.

[2019-06-25 16:11] andrewrynhard commented on #2980
@noahdesu Still seeing this issue with 1.0 rook:

[code]

[2019-06-25 16:12] BlaineEXE commented on #3348
If your nodes don't have any disks on them, Ceph won't have anything to use as storage.

[2019-06-25 16:12] noahdesu commented on #2980
Thanks. I forgot to ask, could you provide the output of `kubectl describe` for one of the prepare pods that is hanging?

[2019-06-25 16:13] andrewrynhard commented on #2980
[code]

[2019-06-25 16:14] andrewrynhard commented on #2980
And FWIW, we have switched over to `eudev` and still seeing this issue.

[2019-06-25 16:17] noahdesu commented on #3348
@BlaineEXE you're referring to `osd: 0 osds: 0 up, 0 in`? Ah, I suppose that as long as no pools exist, then Ceph will report itself healthy if no osd have been created. Yeh, need to consume some disks.

[2019-06-25 16:26] noahdesu commented on #2980
Does `talos` mount its udev database at a different location?

[2019-06-25 16:29] xrow commented on #2721
@rohan47 Yes feedback would be appreciated. Also it would be nice to know if you plant o fix it for Rook Release 1.x or if you leave it broken.

[2019-06-25 21:31] nick-lehmann commented on #3348
@BlaineEXE Ah ok, I see. I checked using the toolbox and you're right, there are no devices attached and @noahdesu's explanation seems reasonable.

[code]

The cluster was indeed created with `useAllDevices` set to false. I did not think I would need this settings, because I assumed ceph would use the first block device it could find, and since my Kubernetes cluster is running on VPS there is only

[2019-06-25 21:39] andrewrynhard commented on #2591
This is something I'm hoping to see as well. Having a host dependency doesn't work for us in https://github.com/talos/talos-systems. I have noticed that the rook `CSI` implementation also has host dependencies.

[2019-06-25 22:16] noahdesu commented on #3348
The most common approach is to feed Ceph empty raw devices. This may help answer some of your questions: https://rook.io/docs/rook/v1.0/ceph-cluster-crd.html#storage-selection-settings

[2019-06-25 23:10] #2651 closed

[2019-06-25 23:49] ndeixonne commented on #1653
For some reasons, my rook cluster was deleted and I wanted to redeploy it.
Since /var/lib/rook (dataDirHostPath) contains data from the previous cluster deployment, it cannot be deployed.
I still have data on it and some PV are actually bounded to it.

We will need a solution to recover a rook cluster also in this case.

Right now, we cannot store any sensitive data on Rook due to the recovery tha

[2019-06-26 00:07] Queuecumber commented on #1653
The more I think about this problem the more I really want to know why the data is stored in two places. From an engineering perspective it sounds like a really bad idea to have data in two places that needs to be kept in sync and which will result in corruption if either one changes without the other one being updated.

Why not install the data to one place e.g. on disk and if rook detects that t

[2019-06-26 00:16] vumrao commented on #3278
As suspected it was label `compute=true` issue. Fixing label fixed the issue.

[code]

[code]

[code]

[2019-06-26 00:16] #3278 closed

[2019-06-26 00:34] andrewrynhard commented on #2980
@noahdesu So it looks like we needed to run `udevadm trigger` on first boot to ensure that the events are fired off to create the `udevd` database. I think we can close this issue as it seems our Golang `udevd` implementation is lacking the essentials features to run rook/ceph. The only thing we are seeing now is that the old pod does not survive a node reboot. I see the `lvm2` requirement at the

[2019-06-26 05:52] whereisaaron commented on #1653
This conflict is because rook is not yet Kubernetes-native, it still partially relies on storage volumes and metadata that is external to the Kubernetes cluster and not managed by the cluster. Once rook starts using Kubernetes PV/PVC block storage instead of Linux block devices then Kubernetes will be able to reassemble Ceph clusters automatically, even after the complete deletion of the Kubernete

[2019-06-26 06:27] alfonsomthd commented on #2980
You meant @alfredodeza , right?

[2019-06-26 06:32] andrewrynhard commented on #2980
@alfonsomthd sorry yes I did.

[2019-06-26 07:08] bradbeam commented on #2591
Worked a bit with @andrewrynhard on our cluster and the rook prepare pod is sufficient to do what is necessary. It seems like it mainly boils down to activating the volume group ( `vgchange -a y` ) and then the kernel does the rest. If lvm is installed on the host, the volume groups are typically auto activated on boot (configurable via lvm.conf) which creates the /dev/vgxx/lvxx device files.

In

[2019-06-26 09:16] grzechukol commented on #3140
I confirm that patch you've prepared had fixed this issue. Thank you for your support!

[2019-06-26 11:13] giorgio076 opened #3356 "Issue with starting pod operator"
I'm not able to start pod operator.

Working on kubernetes version:

`$ kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:17:28Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1

[2019-06-26 11:34] galexrt commented on #3356
This messages means that your cluster has PodSecurityPolicies in place to prevent the ServiceAccounts of Rook to run privileged and other points Pods in your cluster.

Try to setup PodSecurityPolicies as described in the documentation: https://rook.io/docs/rook/v1.0/psp.html#rbac-for-podsecuritypolicies

[2019-06-26 12:08] nehaberry opened #3357 "RBD pvc not getting bound in rook-v1.0.0-154.g004f795 and rbd.csi.ceph.com version: 1.0.0"
**Description of problem:**

In the latest rook + csi setup (after PR -https://github.com/rook/rook/pull/3324 was merged) , rbd pvcs are not getting bound with below mentioned error message

$oc get pvc

rbd-pvc      Pending                                                                        csi-rbd
  18m

Events:
  Type       Reason                Age                From

[2019-06-26 12:08] nehaberry commented on #3357
Log snip
============

(new-ocs-ci) [nberry@localhost ocs-ci]$ oc logs csi-rbdplugin-provisioner-0 -n openshift-storage -c csi-provisioner -f --tail 10
I0626 11:17:16.536147       1 controller.go:442] CreateVolumeRequest {Name:pvc-e1ee1e2d-9803-11e9-9ad2-0a13693d844a CapacityRange:required_bytes:1073741824  VolumeCapabilities:[mount:<fs_type:"ext4" > access_mode:<mode:SINGLE_NODE_WRITER > ] Parame

[2019-06-26 12:09] nehaberry commented on #3357
Additional info:
=====================
Adding all the yamls

--------------------------------------------------------------

$$ cat secret.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: csi-rbd-secret
  namespace: default
data:
  # Key value corresponds to a user name defined in Ceph cluster
  admin: QVFCdVBSTmRxSFJTTmhBQVNGMmxlVkJkVGV3T3NBWFJHZnFxVXc9PQ==
  # Key value corresponds to a us

[2019-06-26 12:11] Madhu-1 commented on #3357
@nehaberry @ShyamsundarR will be  sending PR to fix this issue

JFYI its  already discussed here https://rook-io.slack.com/archives/CG3HUV94J/p1561548666081000

[2019-06-26 12:15] nehaberry commented on #3357
Thanks Madhu for the heads up :)

[2019-06-26 13:44] giorgio076 commented on #3356
@galexrt  tanx a lot for suggestion.

I've created a PSP:

`$ kubectl get psp\
NAME         PRIV      CAPS      SELINUX    RUNASUSER   FSGROUP    SUPGROUP  READONLYROOTFS   VOLUMES
privileged   true                RunAsAny   RunAsAny    RunAsAny   RunAsAny   false       configMap,emptyDir,projected,secret,downwardAPI,hostPath,flexVolume
`

then I created roles:

`
\# privilegedPSP grants access to

[2019-06-26 14:37] nehaberry opened #3359 "Panic reported in operator logs and operator pod restarted"
**Description of problem:**

Rook csi ceph setup = latest rook + csi setup (after PR -https://github.com/rook/rook/pull/3324 was merged)

In a 3 master + 3 worker(ceph nodes) setup, deleted a machine. The corresponding MON and OSD pods went into Pending state. But machineset added a new node to the cluster automatically.

Then, after some time, a new mon(mon-d) came up on the new node( to keep the

[2019-06-26 14:38] nehaberry commented on #3359
[bz-1724238.zip](https://github.com/rook/rook/files/3330554/bz-1724238.zip)

Logs attached

[2019-06-26 14:42] Madhu-1 commented on #3359
@nehaberry this is not related to CSI @travisn can confirm

[2019-06-26 15:07] noahdesu commented on #3359
@rohan47 this related to your safe-to-destroy patch?

[2019-06-26 15:52] bradbeam commented on #2591
Perhaps we can add an init container to do the vg activation if `osd.CephVolumeInitiated` in pkg/operator/ceph/cluster/osd/spec.go#makeDeployment ?

[2019-06-26 16:18] noahdesu commented on #2980
where are you seeing the lvm2 dependency at the host level? i don't think the host level necessarily needs lvm2 tools and libraries, but AFAIK there are other bits like lvmetad daemon that relates to scanning disks by ceph-volume. With dmcrypt there are also IPC interactions between the container and host daemons. I think @alfredodeza might have some more insight here, too.

[2019-06-26 16:46] mmiller1 commented on #2922
fwiw, I'm running kubernetes 1.13 & rook 1.0 and ran into this issue.

[2019-06-26 16:52] andrewrynhard commented on #2980
@noahdesu See https://github.com/rook/rook/issues/2591

[2019-06-26 17:03] noahdesu commented on #2980
Ah thanks. It looks like lvm2 package is doing something like installing lvm udev rules on the host which ceph-volume is relying on to do some of the initial device creation / mounting.

[2019-06-26 17:08] alfredodeza commented on #2980
That's right, if there aren't any udev triggers working for LVM then the devices never show up and ceph-volume isn't able to find the LVs associated with the OSDs. LVM is absolutely required.

Another reference issue that explains this well: https://bugzilla.redhat.com/show_bug.cgi?id=1670527

[2019-06-26 17:12] andrewrynhard commented on #2980
@alfredodeza Did you see https://github.com/rook/rook/issues/2591#issuecomment-505749427?

[2019-06-26 17:18] #2427 closed

[2019-06-26 17:26] bradbeam commented on #2591
Trying something like
[code]

[2019-06-26 18:40] phlogistonjohn opened #3360 "Can not start rook-ceph using multiple namespaces"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

From the provided documentation and example files it is unclear how to start a working ceph cluster via rook in a separate namespace.
Attempting to follow the recommendation of changing common.yaml below the line containing the text "Beginning of cluster-specific resources.".
The previous namespace va

[2019-06-26 20:31] dimm0 opened #3361 "Unmounting cephFS volumes failing"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

After some failures, k8s can't unmount cephFS:

[code]

**Expected behavior:**
Volumes can be unmounted

**How to reproduce it (minimal and precise):**
Not sure

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
4.15.15 - 5.1.7
* Cloud provider or hardware configuration:
*

[2019-06-26 20:35] laurybueno commented on #1653
@whereisaaron I'm under the impression that Rook actually allows node replacement.

https://rook.io/docs/rook/v0.9/ceph-cluster-crd.html

Am I missing something?

[2019-06-26 21:47] yanchicago opened #3362 "Failed to deploy osd when prepare provision container hangs at "ceph-volume lvm list""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The prepare job hangs, the operator is waiting, the target osds are not brought up.

**Expected behavior:**
The job should proceed even with failure. There's not much logs indicating why it hangs.

**How to reproduce it (minimal and precise):**

1). Deploy a cluster with 3 storage node. Each node has 2

[2019-06-26 21:54] noahdesu commented on #3334
@iMartyn do you have the exact ceph version that you are running? I think this is a duplicate issue that we fixed in upstream Ceph https://github.com/ceph/ceph/pull/26635. In order to have that fix you'd need to be using a version of Ceph with the fix. We should have also accounted for that delayed release of Ceph in Rook by checking versions, but there could a bug there, or perhaps this is an ent

[2019-06-26 22:01] noahdesu commented on #3362
1. it's ok to provide the entire operator log output
2. same for the prepare pod log output
3. please provide the output of `kubectl describe` for the prepare pod.

Also, do you have lvm2 package dependencies installed on the centos host os?

[2019-06-26 22:23] Queuecumber commented on #1653
What happens when a node fails though? When I was evaluating if rook was production ready, I tried intentionally failing nodes. Sometimes it came back, sometimes I completely lost the storage cluster.

[2019-06-26 22:31] noahdesu commented on #1653
@whereisaaron there are currently in progress issues to back OSDs and monitors by PV/PVC. The rest of the daemon types do not require persistent storage, so this will be a big step forward.

@Queuecumber failing nodes will cause Ceph to take measures to prevent data loss such as making additional copies of data on other nodes. Of course this requires have spare capacity and redundancy in the clust

[2019-06-26 22:39] Queuecumber commented on #1653
Consider the scenario that I was describing. I lose my hardware, lets say there's a fire in my datacenter or something worst-case scenario. Machines and SSDs (e.g. root drives) are hosed but my team pulls the disks and they're usable for recovery. I have all the bytes of my data that ceph was storing intact. Can I pop these drives in new machines and restore my customers data?

[2019-06-26 23:53] noahdesu commented on #1653
@Queuecumber ahh, that kind of recovery :) i'm not sure what the state of disaster recovery is from the pov of **rook**, so i think this thread should live on!

[2019-06-27 00:00] Queuecumber commented on #1653
Actually maybe not even disaster recovery, let's say I have my data stored in rook ceph, and for whatever reason I need to tear down and rebuild the cluster from scratch. E.g. I know exactly when and how the downtime will happen and I can plan accordingly and make backups of root drives/`dataDirHost`s / dump config maps whatever I need to do. Afaik there is not a way for me to do that and recover

[2019-06-27 00:00] whereisaaron commented on #1653
That's great news @noahdesu. I look forward to trying rook again when that hits a rook release. 🚀

@laurybueno true, and with the right process you can achieve an upgrade by incrementally adding a node, mount, zap, and configure the Linux device on the new node, delete an old node, wait for Ceph to reduplicate the deleted node data, then move to the next node. But then you end up copying the entir

[2019-06-27 01:31] yanchicago commented on #3362
Yes, lvm2 is installed on the host os. All 3 storage nodes are configured the same.  Attached is the requested logs.
[prepare_pod_copybin.log](https://github.com/rook/rook/files/3332509/prepare_pod_copybin.log)
[prepare_pod_provision.log](https://github.com/rook/rook/files/3332510/prepare_pod_provision.log)
[describe_prepare_pod.log](https://github.com/rook/rook/files/3332511/describe_prepare_pod.

[2019-06-27 04:24] nehaberry commented on #3359
@Madhu-1 yeah this looks to be rook issue.

[2019-06-27 06:12] nehaberry opened #3363 "The "host" signature in "ceph osd status" remains unchanged on moving an OSD disk from failed node to a new node"
**Description of problem:**

Rook csi ceph setup = latest rook + csi setup (after PR -https://github.com/rook/rook/pull/3324 was merged)

When a node with OSD is removed permanently from OCP cluster, and the corresponding OSD disk is added to a new OCP node( through AWS console), the OSD is indeed recovered but the "host" name under "ceph osd status" still lists the hostname of the failed node ins

[2019-06-27 06:12] nehaberry commented on #3363
Some additional outputs

==============================

1. Initially in a a 3 master + 3 worker(ceph nodes) setup, there were 1 OSD in each worker node.

rook-ceph-osd-0-cd8c5475d-pmzw5                1/1     Running     0          3h26m   10.129.2.17    ip-10-0-149-134.us-east-2.compute.internal   <none>           <none>
rook-ceph-osd-1-6d4f65667b-xw7w7               1/1     Running     0

[2019-06-27 06:13] nehaberry commented on #3363
[bz-1724428.zip](https://github.com/rook/rook/files/3333168/bz-1724428.zip)

[2019-06-27 06:43] xieyanker opened #3364 "rook's pod only schedule to slave node"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
I deploy rook on my k8s, but all of the pods in rook-ceph namspace only schedlue to slave node,I  don't know why.
My k8s cluster have 3 master nodes and 1 slave node.
[code]
`rook-ceph-mon-a` has been scheduled to slave1,and `rook-ceph-mon-b` also wants to schedule to slave1, bu

[2019-06-27 07:49] Jawenba opened #3365 "csi-cephfsplugin can't be created"
* Bug Report
hello, when  i deploy rook cephfs with csi, the errors are following these:
rancher@ros-node-191-10:~/rook/cluster/examples/kubernetes/ceph$ kubectl get pods -n rook-ceph
NAME                                          READY   STATUS              RESTARTS   AGE
csi-cephfsplugin-4c4m9                        0/2     ContainerCreating   0          114m
csi-cephfsplugin-phzjm

[2019-06-27 08:48] iMartyn commented on #3335
This also occurs if you specify a path that doesn't exist in the cephfs for reference.  e.g. I `mkdir /team.name/folder` and specify `/team.name/fodler` as the `Path:` element in options.

[2019-06-27 10:04] lewismarshall opened #3366 "No way to update ceph cluster metadataDevice to enable use of new SSD device"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Ideally it should be possible to add a metadataDevice to nodes and have rook/ceph re-configure and migrate the cluster to use the device.

Failing that, documentation to carry out the migration would be very useful.

**What is use case behind this feature:**

If a production cluster has been built affor

[2019-06-27 10:34] sagalovms commented on #1693
Hello, i take the same problem. Can you take advise about solve this problem? Did you dolve it? And How?

[2019-06-27 10:40] Bedotech commented on #3364
This is not a bug, normally master nodes don't schedule pod for execution, this is because of the taint they have, for remove this taint use `kubectl taint nodes --all node-role.kubernetes.io/master-`.

But be careful, now all pods can be scheduled on master too.

[2019-06-27 10:51] lewismarshall commented on #3366
I suspect this issue may be related - https://github.com/rook/rook/issues/3092#issuecomment-504359091

[2019-06-27 10:57] leseb commented on #1693
Go into the operator pod or create a toolbox.

[2019-06-27 11:40] xieyanker commented on #3364
@Bedotech Thanks for your reply, you are right. But if I don't want to remove the taint, can I add toleration to pod by using some config? And I also wonder why rook still create pod instead of ending with a quantity of 1, whether cephCluster's spec.mon.count working?

[2019-06-27 12:57] GauravRatnawat commented on #2980
Hi... I am getting same issue on windows 10 machine.. do we have any solution for that..  I have logical volume present in my machine. any suggestion?

[2019-06-27 13:05] rohantmp commented on #3364
I think a toleration can be set under placement configuration.

[2019-06-27 13:15] iMartyn commented on #3334
@noahdesu We're running ceph ceph/ceph:v14.2.1-20190430
I saw the fix to ceph, it's not a fix, it fixes the validation error, but still tries to listen on `::` which is invalid, so the module crashes.

[2019-06-27 13:43] alfredodeza commented on #2980
@andrewrynhard thanks for pointing out to that comment, I believe that calling out to `vgchange` is not the right way to solve this - I don't know for sure what other things might cause problems because lvm2 is not installed.

Let's fix this by installing the missing package as it is recommended.

[2019-06-27 15:13] j-griffith commented on #3312
This currently fails on kubernetes release 1.15 as well with the same error.

[2019-06-27 15:15] iMartyn commented on #3334
@noahdesu https://github.com/ceph/ceph/pull/28246/commits/38e7083301f4d5e419f4c7c1fb596d529d3ab83c actually fixes the problem but is currently only in `master`.

[2019-06-27 15:24] nabokihms commented on #2922
I have the same problem with Kubernetes 1.11.10 and Rook 1.0.2. Can it be because of updating kubernetes clienet from 1.11.3 to 1.14.0 in [Rook 1.0](https://github.com/rook/rook/releases/tag/v1.0.0)?

[2019-06-27 15:52] noahdesu commented on #3334
Oh, great. This must be an issue of non-standarization. Removing the validation (and leaving "::") had fixed the error for multiple users that had ipv6 disabled. I'll look to see what we can do as a workaround for this since it will be a while before that fix that works for your environment makes its way down into the backports and containers.

[2019-06-27 17:24] noahdesu commented on #3364
@xieyanker the `allowMultiplePerNode` setting will allow multiple monitors to be created on a single node. you can disable this, but it is (currently) ignored when initially deploying a cluster.

can we close this issue?

[2019-06-27 17:45] noahdesu commented on #2543
+1 to choosing a good default. since this is directly related to tolerance and risk choices it might be a good candidate for exposing through the crd. being configurable could also be useful for development environments (e.g. its the choice in vstart)

[2019-06-27 18:43] noahdesu commented on #3363
@nehaberry  It looks like this should be working correctly with `osd crush update on start` and the correct `crush location` specified in the ceph.conf. Would it be possible to get a log from the OSD with debug level turned up? This should dump out the command that the OSD is issuing to update its own location.

[2019-06-27 18:58] noahdesu commented on #3363
the only thing I see in rook that might be doing this is

[code]

but this should only occur for new osds and i don't see this showing up in the logs.

[2019-06-27 20:03] noahdesu commented on #3362
@yanchicago thanks. how long did you let `ceph-volume lvm list` run? we've hit issues with this taking a long time because of manual scans, and have mostly fixed that. @alfredodeza can you think of any reasons with `ceph-volume lvm list` might hang, before we start down some more intrusive debugging techniques.

[2019-06-27 20:16] #2844 closed

[2019-06-27 21:12] alfredodeza commented on #3362
@noahdesu there is this that might be related: https://github.com/ceph/ceph-ansible/pull/4132

[2019-06-27 21:17] noahdesu commented on #3336
i do think that there are parts of the orchestration whose failure should not block the rest of orchestration. an issue configuring a device does seem like such an instance. @travisn ?

[2019-06-27 21:27] noahdesu commented on #3337
I was thinking something like the output of `ceph-volume lvm list` might be helpful and `lsblk`. It'd be nice to see what devices / partitions are being automatically consumed that _shouldn't_ be consumed. i think only a single node with this behavior would be sufficient. for the logs, the operator, discover, and osd prepare pod logs should be good.

[2019-06-27 23:16] #2174 closed

[2019-06-28 02:09] xieyanker commented on #3364
@rohantmp Thank you, I got it

[2019-06-28 02:12] xieyanker commented on #3364
@nakabonne  OK,thanks!

[2019-06-28 02:12] #3364 closed

[2019-06-28 02:47] Jawenba commented on #3365
I edit the volume of pods for : The Path on the Node must be "a directory,or create if it does not exist".Then it can be running.
$ kubectl get pods -n rook-ceph
NAME                                          READY   STATUS      RESTARTS   AGE
csi-cephfsplugin-dc6z6                        2/2     Running     0          12m
csi-cephfsplugin-nm2fz                        2/2     Running     0

[2019-06-28 03:12] andrewrynhard commented on #2980
IMHO, depending on the host is not desirable. What I'm trying to understand is exactly why `lvm2` is required? I'd like to understand it.

[2019-06-28 03:27] bradbeam commented on #2591
Was missing the `/dev` mount in the previous patch.
[code]
( or yaml to be more presentable )
[code]
works for creating the necessary volume group / logical volume special files

[2019-06-28 06:30] Strange-Account opened #3370 "MGR Liveness Probe fails"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
mgr pod get constantly restarted

**Expected behavior:**
no pod restart

**How to reproduce it (minimal and precise):**
install rook on OpenShift cluster
common.yaml
operator-openshift.yaml
cluster.yaml

**Environment**:
* OS (e.g. from /etc/os-release):
CentOS 7.6
* Kernel (e.g. `uname -a`):
3.10.0-95

[2019-06-28 06:37] martin31821 commented on #3360
I built a helm chart to automate this: https://github.com/deinstapel/k8s-rook-ceph

[2019-06-28 07:02] leseb commented on #3360
@phlogistonjohn please look at this commit: https://github.com/rook/rook/pull/3346/commits/e755695e2f678620963944d7de91e7234d81e697

[2019-06-28 07:11] leseb commented on #3118
Rook currently relies on `crush create-or-move` CLI call to do crush placement as well as setting `crush location` under the `ceph.conf`. The former is not indeed and could as a result place OSD into a different location when executed. If the location is properly set in the `ceph.conf` there is no need to run the crush command. So the right fix for this should be to remove the CLI and just keep th

[2019-06-28 07:14] leseb commented on #3370
@Strange-Account was the mgr re-scheduled to a new node?

[2019-06-28 07:21] felixx opened #3371 "rook ceph mon cannot start"
OS: centos 7.6
[root@host1 ceph]# cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)
k8s: v1.15.0
[root@host1 ceph]# kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Server Versi

[2019-06-28 07:25] leseb commented on #3371
Please share the pod logs and format when you paste content. Thanks.

[2019-06-28 07:35] Strange-Account commented on #3370
afaik not

[2019-06-28 07:50] felixx commented on #3371
when I use `kubectl logs`, it just tell me pod not found
[root@host1 ceph]# kubectl logs -p rook-ceph-mon-a-77bb8d68fb-rqqn6
Error from server (NotFound): pods "rook-ceph-mon-a-77bb8d68fb-rqqn6" not found
are there any other ways to collect the pod logs? thanks.

[2019-06-28 07:51] leseb commented on #3371
You forgot to specify the namespace, add `-n rook-ceph`.

[2019-06-28 07:53] JoshuaAndrew opened #3372 "No mgr, osd, or other daemons are created"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

(1) install rook ceph operator and cluster.yaml
[code]

(2)  rook-ceph-tool
[code]

(3)  pods
[code]

(4)  rook-ceph-mon-xxx logs
[code]

**Did you already search the existing open issues for anything similar**:

https://github.co

[2019-06-28 08:00] felixx commented on #3371
thanks, when add namespace
[root@host1 ceph]# kubectl logs -p rook-ceph-mon-a-77bb8d68fb-rqqn6  -n rook-ceph
Error from server (BadRequest): previous terminated container "mon" in pod "rook-ceph-mon-a-77bb8d68fb-rqqn6" not found
[root@host1 ceph]# kubectl logs rook-ceph-mon-a-77bb8d68fb-rqqn6  -n rook-ceph
Error from server (BadRequest): container "mon" in pod "rook-ceph-mon-a-77bb8d68fb-rqqn6" is

[2019-06-28 08:02] Madhu-1 commented on #3312
@j-griffith hope your issue is resolved and we can close this one

[2019-06-28 08:06] JoshuaAndrew commented on #3372
**I had search the existing open issues for anything similar above. but That does not work.**
In my case:
  (1) Rook operator is running.
 (2) all there mon is [a,b,c] is running.
 (3) k8s network works fine.
 (4) there is no timeout in rook operator logs.

Finally: I found key log in mon
[code]
and  clock skew 552.477s
[code]

so. I sync all host time with master, then everything works fine

[cod

[2019-06-28 08:06] #3372 closed

[2019-06-28 08:17] felixx commented on #3371
after one hour, the mon started in other worker, but those workers have the same OS & k8s & docker
[root@host1 k8s]# kubectl get pod -o wide -n rook-ceph
NAME                                  READY   STATUS                  RESTARTS   AGE    IP             NODE    NOMINATED NODE   READINESS GATES
rook-ceph-agent-qmhmr                 1/1     Running                 0          146m   172.30.10.83

[2019-06-28 08:28] leseb commented on #3371
You don't need to search for the previous logs (don't use `-p` here). Without logs there is nothing we can do. I'm closing this, feel free to re-open if you can provide more mon pod logs. Thanks.

[2019-06-28 08:28] #3371 closed

[2019-06-28 08:35] leseb commented on #2543
Why don't we just let Ceph's default? And then use the toolbox to tune that if necessary? I'm personally not a big fan of exposing anything and everything in the CRD.

[2019-06-28 08:53] felixx commented on #3371
I found an error in docker logs:
ceph-mon: error opening mon data directory at '/var/lib/ceph/mon/ceph-a': (13) Permission denied
is it the root cause to this problem?

[2019-06-28 09:31] felixx commented on #3371
I found the cause is selinux need be disabled

[2019-06-28 10:57] wdbasson commented on #3140
Running into the same issue on latest OKD v3.11 and rook 1.0.2.

Can successfully deploy and claim block storage using `ceph/daemon:master-908d2dd-master-centos-7-x86_64`, `allowUnsupported: true` and `ms_learn_addr_from_peer = false`.

[2019-06-28 11:39] leseb commented on #3371
Instead of disabling selinux, you can set container labels and/or verify permissions haven't changed?

[2019-06-28 12:07] leseb commented on #3178
@sfxworks are you using `v1.0.2`?

[2019-06-28 14:12] phlogistonjohn commented on #3360
@leseb it turns out I got things working late yesterday but hadn't gotten back to update this issue yet. In my case I just studied the templates in the tests and the differences between the old tempates and found there were a few namespace values in the latter half of "common.yaml" I should not have changed to match my 2nd namespace.
However your changes there do  seem like they'd do the trick of

[2019-06-28 14:17] leseb commented on #3360
@phlogistonjohn Thanks, we will close this once my PR gets merged.

[2019-06-28 14:43] leseb commented on #3082
output of `kubectl -n rook-ceph get cephcluster.ceph.rook.io rook-ceph`?

[2019-06-28 15:04] noahdesu commented on #2543
It looks like at least in the latest version of Ceph a value of 0 will default to the min-min/2 default.

[2019-06-28 15:44] yanchicago commented on #3362
@noahdesu the "ceph-volume lvm list" hangs for a couple of hours. I was able to recover the issue by rebooting the host. But it would be good to know the cause.

[2019-06-28 16:43] klinamen commented on #2785
I am having the same problem with v1.0.0 on my experimental on-premise deployment with 3 nodes running on the same physical ESXi host. The problem popped up after an unexpected reboot of the host.

This is what I tried to recover from the situation, unfortunately, without success:
* drain all the K8s nodes;
* on each node (1):
  * remove dataDirHostPath (/var/lib/rook) directory;
  * ls /dev/mappe

[2019-06-28 16:48] rohan47 commented on #3178
I am not able to reproduce this @sfxworks
It will be nice to get more details on how to reproduce this

[2019-06-28 16:52] rohan47 commented on #3359
Yes it is, working on it

[2019-06-28 16:56] rohan47 commented on #2721
I am not working on this right now. Will work on it as soon as I get time. Till then its open for anyone to fix it.

[2019-06-28 17:28] gtorre commented on #3140
Same issue here. Although I'm able to deploy and OSDs come up, once I attempt to use the block storage the entire cluster crumbles (all I'm doing is applying the mysql manifest from the example in the repo.) I've been chatting with @chaosaffe about this.

[2019-06-28 17:51] noahdesu commented on #3362
@yanchicago how many disks are in the nodes that are taking a long time with the listing command? if a lot, perhaps thats related to the previous comment / ceph-ansible issue.

if you are up for it, i think the most efficient way to debug this is to grab an `strace` output from the `ceph-volume lvm list` command to see if its blocked on some system call, and failing that, looking quickly at a gdb

[2019-06-28 18:54] noahdesu commented on #3118
related? https://github.com/rook/rook/issues/3363

[2019-06-28 19:10] yanchicago commented on #3362
@noahdesu
There're two disks. And two listing commands are hanging.
Without knowing the possible cause, I won't be able to reproduce it. I may run strace next time when the same issue is encountered.

[2019-06-28 19:46] noahdesu commented on #3362
ok. please feel free to ping me on slack if you hit this again and we can try to get some more data.

[2019-06-28 19:47] noahdesu commented on #3362
(also... if you exec into a pod on the same node now, you might be able to reproduce by the running the ceph-volume lvm list command directly)

[2019-06-28 20:15] yanchicago commented on #3362
<3). Login provision pod. It shows "ceph-volume lvm list" hangs. Manually run the command and it hangs.
I did run the list command directly and it hung as well.

[2019-06-28 20:19] noahdesu commented on #3362
the first thing I'd try is to get a process listing `ps auxf` in the pod while the command is hung. `ceph-volume` runs many external commands, so it'd be nice to see if it can be narrowed down to something outside ceph-volume.

[2019-06-30 03:14] dyusupov opened #3374 "Disk discovery need to accept device by path"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Currently, we take kernel device name as enumerated by the kernel. While this is easy, it is not safe. Name needs to be autoselected based on full path to one of dev link specified.

**What is use case behind this feature:**

Extend rook Device object with FullPath support.

**Environment**:

[2019-06-30 11:28] Informatic commented on #2047
After further research, `ceph-volume lvm batch` seems to be only suitable when using full drives. In case of setting up OSDs on already created LVs, `ceph-volume lvm create` would need to be used.  If I understand it correctly, `lvm batch` prepares LVM/VG/PV/LV on a set of drives, and then executes `lvm create` on all of them. (per http://docs.ceph.com/docs/master/ceph-volume/lvm/batch/ and http:/

[2019-06-30 13:15] AlphaSocket commented on #2447
Hi,

Had the same issue with operator v1.0 deployed using helm

[code]

[code]

Deleting the pods fixed issue:
[code]

Racing condition between RBAC service account definition and spinning the pods?

[2019-07-01 05:53] alialshamali commented on #2673
@galexrt  is seems to be related I think attached is the cluster configuration:
[code]

[2019-07-01 06:07] galexrt commented on #2673
@alialshamali Yes, you should upgrade to 1.0.x (1.0.2 is the latest at this time) to check if the issue still persists afterwards.

As written #2976 has fixed the issue code wise as far as I can tell.

[2019-07-01 08:40] iMartyn opened #3376 "Dashboard should not be disabled and reenabled on operator restart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When monitoring a rook-ceph cluster via prometheus, if the operator restarts for any reason, the operator disables and reenables the dashboard.  This has two issues that I'm aware of and potentially more :
* metrics are unavailable for a short period
* configuration of listen_address vanishes (whatever

[2019-07-01 10:15] wdbasson commented on #1869
+1 would like to add an SSD caching tier to our rook ceph cluster. Any documentation on how this can be achieved?

[2019-07-01 12:05] albertdb commented on #3140
Please release 1.0.3 with this fix, having to use master is not desirable at all. Thanks.

[2019-07-01 13:36] travisn commented on #3336
Agreed, if a device fails to be configured, we would want to continue configuring other devices and complete the orchestration as much as possible.

[2019-07-01 14:37] itmuckel commented on #3203
No one? I mean, isn't the most import thing when working with data the backup procedure? What do you do, when your cluster dies for some reason? How do you restore your data?

[2019-07-01 14:49] galexrt commented on #3203
For a Kubernetes "native way" most people use either https://github.com/appscode/stash or https://github.com/heptio/velero.

You can also use Ceph native tools like `rbd export`, http://backy2.com/, etc.

[2019-07-01 15:43] alfredodeza commented on #3362
Behind the scenes, `ceph-volume lvm list` is calling out to `lvs` a lot, so you can narrow down the debugging by calling `lvs` and see if that slows things down - in the end, there is little the ceph-volume does besides parsing results from LVM itself. It doesn't do it efficiently either, so there is an exponential cost to calling out to `lvs`, but removing the ceph-volume layer and checking for L

[2019-07-01 16:48] travisn commented on #2543
So rook would need to set min_size to 0 in order to get the default min-min/2? I do tend to agree with @leseb that Ceph should be picking the default here and advanced users can run a ceph command to change it.

[2019-07-01 17:02] travisn commented on #2944
Reopening to consider for backport to 1.0.

[2019-07-01 18:27] #2895 closed

[2019-07-01 18:36] noahdesu commented on #2543
it looks like in luminous/mimic/nautilus, the default that ceph will use is:

[code]

this means that for a simple dev cluster with 1 osd, I/O will be blocked using _only_ defaults on the rook side. this doesn't currently happen because rook appears to change these defaults in `pkg/operator/ceph/config/defaults.go` to:

[code]

it seems like we should (1) remove these default and use the ceph defa

[2019-07-01 18:52] noahdesu commented on #3362
thanks alfredo. this will save some time. based on this issue report, it sounds like the commands are actually blocked rather than slow. we encountered this at one point when rook didn't have Host IPC sharing enabled and dmcrypt shared a semaphore across the container boundary! hopefully not something that weird is happening here :)

[2019-07-01 19:58] travisn commented on #2543
Ah, that's where the default of 1 comes from. The replication size is required in the pool yaml, and we have separate [test](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/pool-test.yaml#L13) and [production](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/pool.yaml#L17) example yamls, which seems sufficient. So we can just remove these default

[2019-07-01 20:05] Defilan commented on #2906
This issue was resolved back in March with a new Packer image build. Closing issue.

[2019-07-01 20:05] #2906 closed

[2019-07-01 20:14] noahdesu commented on #2668
[code]

[2019-07-01 20:15] noahdesu commented on #2668
Updating title: this is still an issue

[2019-07-01 22:27] BlaineEXE opened #3379 "Deprecate directory-based and Filestore OSDs"
**Is this a bug report or feature request?**
* Feature Request

## Deprecation plan (updated 26 Nov 2019)

### Goal 1: Focus on OSDs created with ceph-volume
Rook-Ceph will focus only on creating new OSDs using `ceph-volume`. Rook already implicitly enforces this for Bluestore OSDs. Rook will support running existing (legacy) Filestore and Bluestore OSDs on disks that Rook had previously manually

[2019-07-01 22:28] BlaineEXE commented on #3379
I'd like to invite @invidian to comment here since they provided good user voice in an old OSD planning PR.

Also the usual suspects: @travisn @leseb @jan--f @sebastian-philipp @liewegas

[2019-07-01 23:23] invidian commented on #3379
I'm wondering if sparse file as block device/partition would be an option for small/testing setups. This way user would not have to dedicate storage for Ceph, since OS could still use the space and directory based OSDs could be deprecated without problem.

If this would work, then with good documentation, lack of directory based deployments shouldn't be a problem IMO.

[2019-07-02 01:21] djgalloway commented on #3138
I'm still seeing this.

[code]

Here's the full archive of OpenShift and Rook logs: [archive.zip](https://github.com/rook/rook/files/3347844/archive.zip)

[2019-07-02 07:39] ctyjrsy commented on #1659
I am running a k8s cluster on digital ocean, are do-block-storage volume type supported in prometheus monitoring via publish of kubelet_volume* metrics. I can not access these metrics via grafana (Prometheus Operator setup)

Running K8S 1.12+

[2019-07-02 07:59] xieyanker opened #3380 "rook-ceph-operator CrashLoopBackOff, parsing config file error"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Hi, I deploy rook on my k8s, but the pod `rook-ceph-operator-864d97965d-tmjvh` is not running
[code]
I print its log as follows:
[code]

**Expected behavior:**
I deploy rook on some different k8s clusters, this is first I got ` Errors while parsing config file!`,
Who can help me what's wrong about it?

[2019-07-02 10:31] sfxworks commented on #3178
Sorry for the delay and lack of detail. I am also running a baremetal cluster, so I am not eliminating that as a factor.

[code]

[code]

I followed the guide provided with some minor issues.

[code]
https://github.com/rook/rook/blob/master/Documentation/ceph-upgrade.md
Scaling down and up the mons still left me with them using the v1 protocol for example.

[2019-07-02 10:32] sfxworks commented on #3178
@leseb I am using v1.0.0. Apologies, was this resolved in a later variant?

[2019-07-02 11:26] alwinmarkcf commented on #3285
As far as I understand, this is a ceph bug and can be prevented by adding another mgr. How can I achive this with rook?

[2019-07-02 14:28] galexrt commented on #1659
@ctyjrsy Are you using DigitalOcean Block storage with Rook or without Rook?

If just using DigitalOcean block storage, it depends on their Flexvolume / CSI driver to implement the needed interfaces for such metrics.

[2019-07-02 14:49] nick-lehmann commented on #3348
Thank you @noahdesu, setting the `deviceFilter` and a `hostPath` did the trick for me. Thank you for your help! It works a lot better than my previous glusterfs deployment.

[2019-07-02 14:49] #3348 closed

[2019-07-02 15:37] djgalloway commented on #3138
@leseb do you have any idea what could be happening here off the top of your head?  I don't see the word `firefly` almost anywhere in the rook repo that could be causing this at this point.  Is that tuneable a Ceph default or something?

[2019-07-02 15:41] ekuric opened #3381 "cephfsplugin-provisioner-0 goes to CrashLoopBackOff when many PVC are created with csi-cephfs storageclass"
**Is this a bug report or feature request?**
* Bug Report
Only visible with `csi-cephfs` storageclass

Issue not visible if same test is executed with `csi-rbd` storageclass.

**Deviation from expected behavior:**
PVC are not created and `cephfsplugin-provisioner-0` pod goes in `CrashLoopBackOff` status
**Expected behavior:**
PVC to get created

**How to reproduce it (minimal and precise):**

Test

[2019-07-02 15:53] travisn commented on #3138
@djgalloway was there an upgrade involved? Or this is just a clean install?

[2019-07-02 16:02] djgalloway commented on #3138
@travisn Clean install.

[2019-07-02 16:08] travisn commented on #3245
Reopening to consider backporting

[2019-07-02 16:43] #2990 closed

[2019-07-02 17:26] pkavajin commented on #2551
Can reproduce this issue when having multiple cephclusters, might be related?

[2019-07-02 18:33] #2891 closed

[2019-07-02 18:45] jbw976 commented on #3379
Thanks for bringing this up @BlaineEXE.

Is there a specific timeline in upstream Ceph for when support for filestore or directory based OSDs would be removed completely?

Some concerns about removing this filestore and directory based OSDs from Rook:

1. [Replicated (SaaS distribution for on-premises)](https://www.replicated.com/) mentioned they were using directory based OSDs for the backing sto

[2019-07-02 20:03] ShyamsundarR commented on #3381
The crash messages from the logs look as below,
[code]

It looks like python is unable to start a new thread is one of the problems, but subsequently the cephfs plugin also crashed in a go routine.

Still need to debug this to its root cause, but current thoughts is around  some resource leak or resource starvation on these pods causing it to not have enough resources available.

[2019-07-02 20:28] galexrt commented on #3381
I think this seems to be like the same problem as Rook operator has when many RBD volumes are created and / or deleted.
The operator in that case runs out of resources (memory if I remember correctly) and / or number of files allowed to open.

Having a (configurable) rate limit in the Ceph CSI provision driver sounds like a good idea to prevent this, if the issue is the same.

[2019-07-02 20:39] travisn commented on #2551
If this is failing when there are multiple clusters, this should be fixed in v1.0.2. See the release notes for https://github.com/rook/rook/releases/tag/v1.0.2 and #3261.
@fhchina @abheyogy @Amos-85 @chrono2002 Can you confirm if you had multiple clusters or if you are still seeing the issue?

[2019-07-02 21:01] travisn commented on #2274
Assuming this is caused by failing to detect the ceph version, this would be fixed by #3257, which was included in the v1.0.2 release. If someone can repro this on v1.0.2, let's see if we can get more info on the repro, otherwise we can close it.

[2019-07-02 21:14] yanchicago commented on #2977
In my failure case, one node/host failed and was rebuilt and brought into the cluster.
But the re-built node was not identified by the operator. The osd-prep pod on the rebuilt node was not started and osd failed with "failed to fetch mon config". After operator was restarted, all osd-prepare pods were restarted. The agent, discover and osd pod were restarted on the rebuilt node. Everything recove

[2019-07-02 21:28] noahdesu commented on #3337
Hi @dimm0 I think what you might be seeing is that Rook is creating an extra OSD on the root drive, but not actually consuming a partition on the root device? that extra osd may come from here: https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster-test.yaml#L37

[2019-07-02 22:07] noahdesu commented on #3178
@sfxworks looks like the fix is in v1.0.2

https://github.com/rook/rook/commit/fb22976750536208cef985ab3174d0f1441c93a7

[2019-07-02 22:44] obnoxxx commented on #1366
II think this the same as #2883 which was implemented with #3093? @jarrpa @leseb @liewegas @travisn

[2019-07-02 22:47] travisn commented on #1366
Agreed, looks like this is covered by #3093. @galexrt Does this match your earlier comment on the approach?

[2019-07-02 22:50] dimm0 commented on #3337
Hmm.. Are you saying it's expected?
I'm looking at logs, and 2nd OSDs don't have a record like the 1st ones do: `bluestore block path = /var/lib/ceph/osd/ceph-0/block`
So are those only to store some metadata?

[2019-07-02 22:51] dimm0 commented on #3337
I'm glad I didn't delete those then 😅

[2019-07-02 22:56] travisn commented on #3337
@dimm0 In v0.9 and earlier an OSD was created by default under the dataDirHostPath. So if you upgraded from v0.9 that OSD would still exist and likely explains it. If you have a fresh install on 1.0 without the `directories` specified in the cluster.yaml, this OSD wouldn't be expected.

[2019-07-02 22:59] dimm0 commented on #3337
I gave a link earlier to my config: https://gitlab.nautilus.optiputer.net/nrp/rook/blob/master/nrp-cluster.yaml

[2019-07-02 23:36] travisn commented on #3166
Already included with v1.0.2

[2019-07-02 23:36] #3166 closed

[2019-07-02 23:37] travisn commented on #3273
Already included with v1.0.2

[2019-07-02 23:37] #3273 closed

[2019-07-03 01:36] dimm0 opened #3383 "Seeing kubelet 1.15.0 crashing in volume_stat_calculator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
In kubelet logs see a bunch of:

[code]

Should I submit it to kubernetes or it's something with rook? Is it tested with 1.15?

**Expected behavior:**
No errors

**How to reproduce it (minimal and precise):**
Use with k8s 1.15

**Environment**:
* OS (e.g. from /etc/os-release):
Centos 7.6
* Kernel (e.g

[2019-07-03 03:48] Madhu-1 commented on #3381
@travisn can you transfer this issue to the ceph-csi repo?

[2019-07-03 05:09] travisn commented on #3383
The integration tests for the master branch are [passing on 1.15](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-3328/3/pipeline/54) with #3328. I don't see why this would be different in v1.0.2 compared to master.

Yes I would recommend opening an issue in k8s as this isn't in the rook code path. Perhaps the issues is in the flex driver stats collected by the kubelet?

[2019-07-03 05:11] travisn commented on #3381
@Madhu-1 We can't transfer the issue directly, so feel free to open one there and then we can close this one. Thanks.

[2019-07-03 05:22] Madhu-1 commented on #3381
@ekuric @travisn created an issue in ceph-csi https://github.com/ceph/ceph-csi/issues/455

[2019-07-03 05:33] #2888 closed

[2019-07-03 08:14] bk201 opened #3384 "Fail to deploy a Ceph cluster with Octopus image"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When deploying a new Ceph cluster with Octopus image, the operation fails because of mon pod error.

$ kubectl -n rook-ceph get pods
[code]

$ kubectl -n rook-ceph describe pod rook-ceph-mon-a-fcfd5554b-qtnh7
[code]

We can see init-mon-fs container was restarted. Log of second run:
[code]

This does