[2022-09-15 08:57] parth-gr commented on #10995
I think you need to also create the pool CR `.nfs`, https://github.com/rook/rook/blob/eaee34872b5ba19cfea1864caf088f998d42b0a0/deploy/examples/nfs.yaml#L95

Something similar we do for [nfs-test](https://github.com/rook/rook/blob/eaee34872b5ba19cfea1864caf088f998d42b0a0/deploy/examples/nfs-test.yaml#L16)
For a single node.

[2022-09-15 09:21] mecseid commented on #10995
I followed this description: https://rook.io/docs/rook/v1.10/Storage-Configuration/NFS/nfs/
This one says that I have to create `.nfs` only if I want to change anything in the configuration: https://rook.io/docs/rook/v1.10/Storage-Configuration/NFS/nfs-advanced/#changing-configuration-of-the-nfs-pool

And actually looks like the operator created the `.nfs` pool:
[code]

[2022-09-15 09:34] Jean-Daniel commented on #10160
Thank you for the tip.
I did just had the same issue with large SSD (7TiB) and increasing memory limit solved it.

[2022-09-15 14:16] #10531 closed

[2022-09-15 14:20] travisn commented on #10993
Are you referring to the cleanupPolicy with the `yes-really-destroy-data`? It's documented [here](https://rook.io/docs/rook/latest/Storage-Configuration/ceph-teardown/#delete-the-cephcluster-crd), so we should be already covered for this automation.

Although a related thought is that the krew plugin could have a command that force deletes a cluster, removes finalizers, etc.

[2022-09-15 14:33] parth-gr commented on #10993
https://rook.io/docs/rook/latest/Storage-Configuration/ceph-teardown/#zapping-devices
I can't see these steps any where in the repo

[2022-09-15 14:55] travisn commented on #10993
It's a bit higher on the page, around this:
WARNING: DATA WILL BE PERMANENTLY DELETED AFTER DELETING THE CephCluster CR WITH cleanupPolicy.

[2022-09-15 15:17] parth-gr commented on #10993
Thnkx @travisn I see this job it runs `ceph clean` on all nodes,

But how about
[code]

These cmds, I can't see if we run them

[2022-09-15 15:21] travisn commented on #10993
The implementation of disk cleanup is found [here](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/cleanup/disk.go). It doesn't run those exact commands from the cleanup docs though.

[2022-09-15 15:21] parth-gr commented on #10826
@travisn
For a workaround can the users degrade to k8s1.24 and then upgrade the rook and k8s version?

Maybe this can have a fix but we need another patch in which we would fix this, so instead of that, I thought this workaround.

[2022-09-15 16:09] #10971 closed

[2022-09-15 17:45] travisn commented on #10994
CIS - 5.4.1 states that it is preferred to use files instead of env vars in case the pod were to inadvertently log its environment. While this is a valid concern, we are not aware of any instances of the ceph pods actually logging their secrets. If you find any instances of this happening, we will fix them. But to change the general design of using env vars would be a big undertaking that I don't

[2022-09-15 17:55] travisn commented on #10805
Multiple rgw pods can run on a node, it's not a problem unless host networking is configured. Each object store could configure where its rgw pods run with the [placement](https://github.com/rook/rook/blob/release-1.10/deploy/examples/object.yaml#L58-L81), but does the placement really matter?

@thotz A couple questions:
1. Are you saying multiple object stores could share the same pools? Or that

[2022-09-15 17:58] travisn commented on #10995
Ceph will create the `.nfs` pool automatically if there is no pool CR defined for it, so you're correct no need to create it explicity.

@jmolmo Ideas on this dashboard issue?

[2022-09-16 11:05] mtt0 opened #11005 "SSD osds performance get worse after 2 weeks running"
**Is this a bug report or feature request?**
* Bug Report
or
* Ask for help

**Descriptioin:**

1. **SSD ceph cluster become slower and slower. As beginning , I thought it was SSDs problem, so I removed the 2 slow SSDs keep the remain 3 SSDs. (2022-08-18)**

The slow osd.1 config:
[code]

[osd.1-config-show.txt](https://github.com/rook/rook/files/9583408/osd.1-config-show.txt)

The slow OSDs ops d

[2022-09-16 14:25] travisn commented on #11005
Could you remove the resource limits on the OSDs (or increase the memory/cpu to some really high value)? Since you're seeing the change in perf over time with the same limits perhaps it won't make a difference, but let's at least start by confirming that the resource limits aren't causing an issue.

[2022-09-16 15:52] jfathman opened #11009 "Does Rook CephFS shared file access from multiple writers require file locking?"
I have Rook CephFS working on a three node microk8s cluster.  I can write and read a shared file from any of the three cluster nodes.

Does Rook CephFS serialize write access to the shared file, or do I need to add application level file locking to prevent write contention?

[2022-09-16 17:30] travisn commented on #11009
@jfathman The CephFS volumes are safe to share from multiple clients in RWX mode, this is what it's design specifically for, to avoid corruption. See also the Ceph docs on [CephFS](https://docs.ceph.com/en/latest/cephfs/).

[2022-09-16 17:33] #10932 closed

[2022-09-16 18:45] #11009 closed

[2022-09-16 21:08] bdun1013 opened #11011 "Support setting StorageClass volumeBindingMode in rook-ceph-cluster Helm chart"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

The [rook-ceph-cluster Helm chart](https://github.com/rook/rook/tree/master/deploy/charts/rook-ceph-cluster) supports creating [StorageClass resources](https://kubernetes.io/docs/concepts/storage/storage-classes) for ceph-block, ceph-object, and ceph-filesystem. The [volume binding mode](https://kubern

[2022-09-17 16:56] Jeansen commented on #10914
Seems to be still an issue, See https://github.com/fischerscode/my-k3s/issues/42, https://github.com/rook/rook/issues/2526#issuecomment-487363346

I had the same problem and solve it by using the API Server link, as described above.

[2022-09-18 13:57] Links2004 commented on #7962
thanks for the script.
for mass updating this may help:
[code]

`/tmp/fix_pvc.sh` is the script from https://github.com/rook/rook/issues/7962#issuecomment-845646556

[2022-09-18 20:02] #10559 closed, assigned to nobody

[2022-09-19 02:37] willzhang commented on #10535
no, i'm not.

[2022-09-19 06:10] thotz commented on #10805
Yes, if multisite is configured, then pools are linked with Zone, not stores It is not a feature request already implemented with mutlisite. Otherwise we can have multiple instance of RGW with single object store CR. But the downside is all the object stores will same set of configurations.

[2022-09-19 07:34] Tomor1984 opened #11015 "unable to find a keyring on /etc/ceph/ceph.client.admin.keyring,/etc/ceph/ceph.keyring,/etc/ceph/keyring,/etc/ceph/keyring.bin: (2) No such file or directory"
### Discussed in https://github.com/rook/rook/discussions/11014

<div type='discussions-op-text'>

<sup>Originally posted by **Tomor1984** September 19, 2022</sup>
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-volume
  labels:
    type: local
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
    - ReadOnlyMany
  rbd:
    monitors:
      - '10.97.25.174:6789'

[2022-09-19 08:02] Madhu-1 commented on #11015
Please refer to https://www.rook.io/docs/rook/v1.9/Storage-Configuration/Ceph-CSI/ceph-csi-drivers/#static-provisioning for static pvc. You need to alter driverName and clusterID and other things as per your requirement and also the current one you are using is too old and not supported/tested with Rook.

[2022-09-19 08:04] jmolmo commented on #10995
I think this can be solved with [46321](https://github.com/ceph/ceph/pull/46321):

Note: I do not know why this is still not merged, it was solved long time ago. I will contact with the orch team directly to see if we can merge this asap.

[2022-09-19 08:20] Tomor1984 commented on #11015
Thanks, I'll try

[2022-09-19 08:31] jmolmo commented on #10914
@Hello-Linux :
The config seems to be correct, but the behavior you are describing in your browser:

This behavior probably indicates that you have something in the host where the browser is running that is "redirecting" the request... Could it be you have somekind of "translation" in your etc/hosts?

Another of your comments:

Also points in this direction,, internally the dashboard is accessible

[2022-09-19 09:23] jmolmo commented on #10796
Hi @jhoblitt :
You say :

Can you confirm that running in the ceph toolbox "ceph mgr services"?

I have tried to reproduce and the change in the port and protocol is happening properly. I mean:
ssl: true -> https enabled, mgr listening on 8443, dashboard cluster ip service pinned to 8443
ssl:false -> http enabled, mgr listening on 7000, dashboard cluster ip service pinned to 7000

[2022-09-19 09:46] Sheetalpamecha commented on #10958
/assign

[2022-09-19 11:39] sp98 commented on #6374
@BlaineEXE @nasirudheen This got delayed as I was looking into some other tasks. I'll work on this in the coming weeks.
Thanks for suggesting the vault agent approach for injecting secrets into pods.
Any thoughts on [external secrets](https://external-secrets.io/v0.6.0-rc1/)?

[2022-09-19 11:56] jmolmo commented on #10532
Hi @spacex , @vyom-soft :
The first thing to see is where is really listening the dashboard:
Use the ceph tool box, with the command "ceph mgr services":
[code]

The @spacex comment:

Points towards the configuration applied for the dashboard was without https.

Another important point to take into account:

The Ceph dashboard module, has two different settings for adjust the port used with/withou

[2022-09-19 12:04] Antiarchitect commented on #10406
@Madhu-1 Is there any progress on this?

[2022-09-19 13:30] nasirudheen commented on #6374
@sp98
I think `ExternalSecrets` is not what we are looking for. Because `ExternalSecrets` will fetch the credentials from Vault(or other supported KMS) backend and create the corresponding secrets in Kubernetes cluster, in the usual `Base64` encoded format. What we need is some solution like init container or/and side car that will fetch the sensitive data from the Vault and make it available for

[2022-09-19 15:29] jmolmo commented on #10995
Merged. I have asked also to back port this issue to Quincy asap.

[2022-09-19 19:55] leojonathanoh commented on #3832
@voarsh2  What I did to which worked on my k8s v1.15 cluster was to create a new storage class called `rook-ceph-block-discard`, then use that new storage class on deployments that needed `discard`. You don't have to delete the existing `rook-ceph-block` storage class, you can keep it for apps that don't need `discard`. I didn't need `csi-addons` or any new stuff.

[2022-09-20 02:06] travisn commented on #1960
Ceph-CSI 3.7.0 is included with Rook v1.10 now. For an example of enabling striping, see [this rbd storage class](https://github.com/ceph/ceph-csi/blob/devel/examples/rbd/storageclass.yaml#L137-L144).

[2022-09-20 02:12] #10958 closed

[2022-09-20 04:30] Madhu-1 commented on #1960
Thanks @travisn Yes correct, we can close this one :+1:

[2022-09-20 04:30] #1960 closed

[2022-09-20 04:55] Madhu-1 commented on #10406
@Antiarchitect missed your ping sorry for that, sure we can do it, please open a feature request/issue in the cephcsi repo https://github.com/ceph/ceph-csi

[2022-09-20 05:32] thotz commented on #10853
@jclab-joseph Is RGW pod is up and running ??

[2022-09-20 05:42] thotz commented on #10788
Is there any anyway to core file @travisn , at least I can with RGW devs, the log says the PUT operation on the bucket ended up segfaulting, can you increase log level of RGW pod from toolbox pod and collect the logs again

[2022-09-20 06:19] microyahoo commented on #10936
https://tracker.ceph.com/issues/57602

[2022-09-20 06:41] thotz commented on #10748
@taxilian I am guessing following is your scenario but I am not sure what you are referring to hostname override

s3 client <--> LB <-> RGW server, certs are generated for LB and if the client is trying to use different hostname all the requests will fail. Since Rook itself contains s3 client with RGW and always uses RGW service endpoint, all the requests from Rook will fail. Is you requirement is

[2022-09-20 08:06] Antiarchitect commented on #10406
@Madhu-1 Auto-attached here. I don't know issue is correct and have a good description. Do not hesitate to ask to fix it accordingly.

[2022-09-20 09:48] thotz commented on #10702
@degorenko have u deleted the bucket from the backend before deleting OBC, then OBC deletion may stuck.

Same happens if object store CR is deleted before removing OBC(checks for object store repeatedly)

@travisn and @BlaineEXE do we need to handle the above situation gracefully for OBC CR deletion scenarios ??

[2022-09-20 09:50] Rakshith-R commented on #10406
I don't think we should be doing this.
It'll be better to promote the current change of not having 777 perm and practice of having security context in pods.

Having an option to return to old behavior would defeat the purpose of getting rid of chmod with 777 for better security.

[2022-09-20 10:01] hohoqq commented on #10805
Thank you for your answers!

@thotz Multiple CephObjectStores really works in one Zone! I created 150 of them without problems. And now the question - is it possible to somehow isolate them from each other?

Now, if I created a bucket "test" in one CephObjectStore, I can no longer create a bucket with the same name "test" in another - 409 BucketAlreadyExists.

Another problem is security - if I se

[2022-09-20 10:17] Rakshith-R commented on #10406
@humblec do you have any suggestions to help in this case?

[2022-09-20 10:19] hohoqq commented on #10805
Maybe we can somehow create different Pools using one Crush rule?

[2022-09-20 11:29] lovese opened #11026 "What's wrong?"
Install ROOK1.10.1, check csi-rbdplugin error, will this affect rook?

k8s version: 1.23.8
rook: 1.10.1
kernel version: 3.10.0-1160.76.1.el7.x86_64
os:  centos7.9

![image](https://user-images.githubusercontent.com/13268438/191245472-5aab0627-9e92-439e-8738-ab567768a7e0.png)

[2022-09-20 11:31] lovese commented on #11026
Prompt to pull the image failed

[2022-09-20 11:40] subhamkrai commented on #11026
@lovese can you describe the event of one of the failing pods?

[2022-09-20 15:08] BlaineEXE commented on #10702
I believe there are 2 distinct cases you outlined above. To make sure we are on the same page, I think the behavior we want is as follows:

The underlying code that does deletion of buckets for OBCs should be idempotent. If the bucket doesn't exist, then the delete operation should be a success.

If the CephObjectStore that an OBC references gets deleted forcibly, then we should allow the OBCs tha

[2022-09-20 15:57] sybadm commented on #2517
Anyone else could possibly with the issue we have. Simple Google search on github.com with rook-ceph issues comes with similar issues with tool in past but there is not much discussed about possible solution. I’m sure so many people are using rook-ceph solution and would like to know how it actually works as simple tests of restarting host fails. I’m even able to reproduce the issue with just stop

[2022-09-20 16:37] BlaineEXE commented on #10936
Just an update to note that there is investigation going on here but that neither we nor the Ceph engineers we've been talking to have any definitive information yet. The current working theory is that rocksdb may be picking up old data on the disk, and that may also happen when deleting an inbuilt pool.

[2022-09-20 17:20] rzarzynski commented on #10936
[code]

This is exactly the same assertion like in https://tracker.ceph.com/issues/52464 mentioned by Vikhyat. I'm reopening this bug and assigning to BlueStore.

[2022-09-20 18:21] quetdn opened #11027 "ceph-spec: CR has changed for "ceph-filesystem" - MetadaServer ActiveCount changed in a continous loop"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Active MDS count changes every some minutes

**Expected behavior:**
Active MDS remains constant

**How to reproduce it (minimal and precise):**

ROOK 1.9.9 Ceph: Pacific
Upgrade Ceph to Quincy. Explained behavior started.

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluste

[2022-09-20 18:52] taxilian commented on #10748
Yes, that's the scenario. The certificates that I use are generated by ACME / cert-manager -- I can't add additional SANs to it or LetsEncrypt will not sign the certificate. I don't actually know of any publicly trusted certificate providers that will allow that, in fact... are you expecting that anyone using this would be using their own internal CA? I guess I'm confused why this seems strange an

[2022-09-20 20:02] #10596 closed

[2022-09-21 02:32] microyahoo commented on #10936
Thanks @BlaineEXE @rzarzynski

[2022-09-21 02:52] travisn commented on #2517
If the CSI driver is not able to respond on a node, as you would see in a sudden node termination, the application pod is not able to unmount the volume and it would be prevented from starting on a new node. The node needs to be [marked as lost](https://rook.io/docs/rook/v1.10/Troubleshooting/ceph-csi-common-issues/#node-loss) by the admin to allow the RWO volumes to be mounted on another node. Th

[2022-09-21 02:56] #11026 closed

[2022-09-21 02:59] lovese commented on #11026
Thank you ,just Internet problem.

[2022-09-21 03:12] travisn commented on #11027
Are you sure you don't have a rogue script that is updating the filesystem CR? Rook really doesn't ever update the CR specs automatically. Rook only responds to the CR updates and only updates status on the CRs.

[2022-09-21 04:54] jclab-joseph commented on #10853
@thotz Yes, RGW pod is running.

[code]

[2022-09-21 05:43] thotz commented on #10748
@travisn @BlaineEXE since a lot of similar issues are poping can we make Rook as trusted client for RGW and use always skip TLS cert check for the clients inside Rook?

[2022-09-21 06:29] thotz commented on #10853
@jclab-joseph can u do curl on  http://rook-ceph-rgw-RGW-STORE-NAME.rook-ceph.svc:80 from rook operator and see whether it works

[2022-09-21 07:25] satoru-takeuchi commented on #10835
@phifre Theoretically both types can support this feature. I'll check whether it can actually do it.

[2022-09-21 08:10] harrykas commented on #9885
@osaffer I've encountered the same issue and your plan works, thank you very much.
Just want to ask - what the exact reason of this and how to prevent it to happen again?

[2022-09-21 08:36] jclab-joseph commented on #10853
[code]

[2022-09-21 09:55] sybadm commented on #2517
Thanks for your response @travisn. Really appreciate it.
Does that mean provisioning of Block Storage with RWO is not possible with rook-ceph?

Thanks, Abhi

[2022-09-21 10:45] sybadm commented on #2517
I have now moved to rook-ceph.cephfs.csi.ceph.com with RWX volumes. My new pods are now able to attach volumes on other worker node, though previous pods are still in Terminating state. But my original problem remains same, the previous node where OSDs were allocated still hangs indefinitely on init 6 - reboot.

[2022-09-21 12:19] quetdn commented on #11027
No, I do not have anything that changes the CR. I tested that when I manually change the ActiveCount the behavior is the same. Something changes this value again constantly. But I do not know what is changing it. The operator detects those changes and starts creating or removing MDS pods.
In fact, with Pacific the number of MDS was stable, and after migration to Quincy that behavior started.
I hav

[2022-09-21 15:43] taxilian commented on #10748
That would probably be the easiest option, if it's viable. Searching the slack channel I found 5 or 6 other people with the same issue

[2022-09-21 17:14] thotz commented on #10853
@jclab-joseph I mean please the service endpoint as I mentioned in the previous command
rook operator uses that to communicate with RGW

[2022-09-21 19:20] BlaineEXE commented on #10748
Agreed that we definitely need to resolve this issue and that the unintended and hidden assumption that users have their own CA is not a great experience. Thanks @taxilian for breaking this down so clearly.

Before we rush into a solution, I want to make sure we are all on the same page and have an idea for what an adequate solution will look like:

1. Firstly, I want to make sure we keep security

[2022-09-21 20:23] osaffer commented on #9885
Some OSD were full If I remember well ... I would say, monitor your OSD :D
I have enabled prometheus and I monitor with Grafana

[2022-09-21 21:20] BlaineEXE opened #11031 "Revise RGW health checker"
**Is this a bug report or feature request?**
* Bug Report (kind of)

In a discussion @cbodley @thotz @alimaredia and I had, Casey expressed some concerns about the health checker. He especially expressed concern that metadata operations on clusters in a multisite configuration are much more expensive than in standalone clusters due to the replication.

Casey suggested that a simple HTTP probe shou

[2022-09-22 01:06] rust84 commented on #10160
Same issue with a 500GB OSD and mem limit set to 200Mi. Increasing the limit as @andy108369 suggested has fixed it.

 The  ` _read_fsid unparsable uuid` appears to be misleading (in my case).

[2022-09-22 01:09] satoru-takeuchi opened #11032 "clarify that logical volumes are pickeced by osd prepare pod only if specified by exact device name"
**Is this a bug report or feature request?**
* Feature Request

It's ambiguous the fact that logical volumes are picked by osd prepare pod only if specified by the exact device name. It prevents users from understanding why their logical volumes aren't picked when they used device filters or `useAllDevices`.

**What should the feature do:**

Write down how to consume logical volumes as osd in deta

[2022-09-22 03:48] travisn commented on #11027
How are you changing the value? Are you using a helm chart, or applying a yaml, or kubectl edit, or something else?

[2022-09-22 04:35] thotz commented on #10702
@BlaineEXE : Yeah above are the exact cases which I am referring to

[2022-09-22 04:39] thotz commented on #10853
@jclab-joseph above command does not have a port, may it error out due to that , can you please rgw service is also up and running. I have never encountered a scenario in which pod is working but the rgw service is down

[2022-09-22 05:28] jclab-joseph commented on #10853
The port uses port 80.

[code]

[2022-09-22 05:42] Madhu-1 commented on #10406
IMHO changing the behavior (whether it's a bug fix or not) without notifying the users is bad. We should have documentation of a breaking change in existing applications as a caution to the user that this is what it is. As a storage admin, you will not have control over all the apps running in the cluster. Because of this one, the whole upgrade will mess up things; We have the below options.

* Br

[2022-09-22 06:29] harrykas commented on #9885
@osaffer hehe, you're right, that ceph instance was full. It is for development and another team supports it so I have no monitoring for it. Yet :)
Thank you!

[2022-09-22 07:01] thotz commented on #10853
@jclab-joseph what I meant was can you try curl including port from operator pod on rgw service endpoint

[2022-09-22 07:16] jclab-joseph commented on #10853
I already tried curl inside the rook operator pod. I now include `:80` , is this what I meant?

[code]

[2022-09-22 08:01] osaffer commented on #9885
You are welcome ... my environment is also a development one so , I had not configured any monitoring.
But thanks to the problems, we acquire good knowledge :D

[2022-09-22 08:50] YiteGu opened #11036 "make build release-1.10 branch failed"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**
1. git clone https://github.com/rook/rook.git
2. cd rook && git checkout -b release-1.10 remotes/origin/release-1.10
3. $ go version
go version go1.18.6 linux/amd64
4. $ helm version
version.BuildInfo{Version:"v3.10.0"
5. make buil

[2022-09-22 09:03] quetdn commented on #11027
I edit with Lens or kubectl edit  cephfilesystem.ceph.rook.io -n rook-ceph ceph-filesystem

[2022-09-22 09:26] quetdn commented on #11027
After your comment, I was looking for another way to change the value.
I did with kubectl patch:
kubectl -n rook-ceph patch  cephfilesystems ceph-filesystem --type=merge -p "{\"spec\": {\"metadataServer\": {\"activeCount\": 1}}}"

But, that happened after some seconds:
2022-09-22 09:22:18.525688 I | ceph-spec: CR has changed for "ceph-filesystem". diff=  v1.FilesystemSpec{
  	... // 2 identical fi

[2022-09-22 09:44] YiteGu commented on #11036
[code]
Dose this mean that it has been successful? why make report failed?

[2022-09-22 09:57] dkeven opened #11038 "Raw partitions get skipped by rook-discover"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Raw partitions aren't picked up by rook-discover, when `useAllDevices` is set to true

**Expected behavior:**
Raw partitions should be picked up by rook-discover, according to the documentation.

**How to reproduce it (minimal and precise):**

Plug in a disk with a single, unformatted partition (In my

[2022-09-22 12:08] sp98 commented on #11038
Raw partitions are supported by design.  The code snippet here only skips the partitions (with `part` label) but they get added in the `LocalDisk` struct intitalized in this method [here](https://github.com/rook/rook/blob/dbb98224bcef0a542d1df18c813e199eb16a01d3/pkg/daemon/discover/discover.go#L453)

So this behavior with this code snippet correct, its not filtering out partitions.

[2022-09-22 12:14] sp98 commented on #11038
@dkeven Can you please share the complete operator logs and also the logs from osd prepare pods. Thanks.

[2022-09-22 12:52] sp98 commented on #11038
were there any osds running before new disk was plugged in?

[2022-09-22 13:26] dkeven commented on #11038
Yeah, there is already an OSD running on a different HDD.

[2022-09-22 13:56] sp98 commented on #11038
Thanks. I think I'm able to reproduce this issue locally and what you mentioned in the description might be the correct root cause. I'll check a bit more and update you.

[2022-09-22 15:01] parth-gr opened #11039 "NFS pod in CLBO when multus in enable"
This would need a follow up investigation for
`rook-ceph-nfs-my-nfs-a-5cfb7f5978-zsjsg        1/2     CrashLoopBackOff   1 (5s ago)   14s`
As the nfs pod that is started is in CLBO state

_Originally posted by @parth-gr in https://github.com/rook/rook/issues/10898#issuecomment-1255155143_

[2022-09-22 17:19] dkeven commented on #11038
Correct me if I'm wrong, but before all of this, all disks that have partitions within it were alreay filtered out in
 https://github.com/rook/rook/blob/41acfe38d53b406885452844f5589bcf34c18363/pkg/clusterd/disk.go#L98-L100

Same with our target partition's parent disk, and there's even a followed logging, which makes it more like an intentional behavior.

Also, even if our target partition's pare

[2022-09-22 17:54] kfox1111 opened #11040 "upgrade order"
* Bug Report

**Deviation from expected behavior:**
ceph has a particular recommended upgrade order. rook doesn't seem to be honoring it:

**Expected behavior:**
The recommendation is followed.

**How to reproduce it (minimal and precise):**
I upgraded from octopus to pacific using rook 1.8.10. The mds's upgraded way too early in the process:
[code]

even before the osds/mgr.

[2022-09-22 20:12] travisn commented on #2517
Yes, it's possible to handle RWO volumes as well as mentioned in the [comment above](https://github.com/rook/rook/issues/2517#issuecomment-1253141874).

[2022-09-22 20:30] travisn commented on #11027
That's very bizarre. Do you have multiple clusters with this issue, or just this one?

[2022-09-22 21:03] cccsss01 commented on #4315
I'm not sure i'm the best candidate to test this, but I can give it a go.

[2022-09-22 21:31] jhoblitt commented on #4315
@thotz I apologize.  I have been stuck in one fire drill after another for the last couple of months.

It looks like the registry repo isn't public:
[code]
Is that a direct build of #8750?

[2022-09-22 21:36] jhoblitt commented on #4315
Ugh.
[code]

[2022-09-22 21:41] jhoblitt commented on #4315
There doesn't appear to be a v0.1.14 tag in hashicorp/vault...

[2022-09-22 21:48] quetdn commented on #11027
Only one cluster.

[2022-09-23 02:05] realqhc commented on #10798
with this commit it is possible to crosscompile to linux-riscv64 on x86_64 platform [https://github.com/realqhc/rook/commit/0fb5dc732ac0f9504785805caa91cc0581ce04f9](url), however it is unable to compile on riscv64 natively as helm is not distributing riscv64 binary and does not officially support riscv64 [https://github.com/rook/rook/blob/master/build/makelib/helm.mk ](url)

[2022-09-23 07:57] sybadm commented on #2517
@travisn Thanks for the clarifying it. You are awesome!

It seems K8S need to gracefully mark worker node out of cluster when it is unreachable than forcing pod to be deleted or marked node lost in volume manager

[2022-09-23 11:16] jmolmo commented on #10703
A Rook cluster created using

[2022-09-23 17:19] vumrao commented on #11040
Thank you, @kfox1111!

@travisn Looks like rook is not following set order, first MGR, then MONs, and then OSDs and then clients like RGWs, MDSs!

[2022-09-23 19:10] jhoblitt opened #11045 "build broken on master (as of 2965373) by github.com/hashicorp/vault/sdk"
[code]

[code]

[2022-09-23 20:45] travisn commented on #2517
We do have a design to handle it discussed [here](https://github.com/rook/rook/issues/1507#issuecomment-1122965274), but it's not implemented yet.

[2022-09-23 20:49] travisn commented on #10798
Great to hear you have it building now. So if #10967 is updated with that change, it would just need to also disable the helm build on riscv64.

[2022-09-23 20:55] travisn commented on #11045
There is a tip in the [developer guide](https://rook.io/docs/rook/latest/Contributing/development-flow/#build) on how to set a proxy to help with this error. This error isn't happening in the CI, so it seems local to your build.

[2022-09-23 21:59] jhoblitt commented on #11045
Eh, interesting. I thought that if `GOPROXY` was unset that it defaulted to the google proxy.  Setting the env var does get the build working but the that/ref does not exist in the source repo.  The build is only working because the google proxy, thus far, doesn't expire content.

[2022-09-23 22:59] travisn commented on #11040
There has been much discussion about the ordering in the past, though it's not fully captured...

Originally in Rook all of the reconciles were essentially sequential with mons, mgr, osd, mds, rgw. In #5319 and follow-up fixes, Rook updated the usage of the controller runtime and the controllers started behaving more in parallel.
- There is still a single controller for the mons, mgr, and osds, an

[2022-09-23 23:01] travisn commented on #11045
Good to hear it's building for you now, but we should certainly look into fixing this issue.

[2022-09-23 23:10] jhoblitt opened #11047 "Ability to set ceph dashboard rgw-api access/secret keys for multisite configuration"
**What should the feature do:**

Set/update the ceph rgw api credentials used by the dashboard to access rgw instances. The equivalent of:

[code]

Ideally, this would be controlled by the creation of a `secret` within the same namespace as the `cephcluster`.  A secret per `cephbobjectstore` is not needed as the api credentials are "global" to the cluster.  E.g.:

[code]

**What is use case behind

[2022-09-23 23:22] travisn commented on #11036
Did you get the build to succeed yet? It does appear the core build succeeded, but a command at the end of the build failed. Error 2 usually means a tool was not found, but it doesn't say which tool.

[2022-09-23 23:25] jhoblitt commented on #4315
The build failure was reported as #11045.  With help from @travisn, I was able to make a build of #8750. Which I have published as `jhoblitt/rook:ceph-amd64-ldaprgwsupport-25f319821` but haven't tested yet.

https://hub.docker.com/layers/jhoblitt/rook/ceph-amd64-ldaprgwsupport-25f319821/images/sha256-8d7e6ddc23fa1c789f4423720fca10364e9d7a1f209a45532e688f943587eba0?context=repo

[2022-09-23 23:44] travisn commented on #10406
If I'm understanding correctly, we really should revert this change because it's breaking volumes during upgrade. Some questions:
- The expectations is to set the securityContext?
- Is there any other workaround?
- What scenarios exactly does this affect? Is this affecting everyone that upgrades to csi 3.6 (rook v1.9), right? Does it only affect some users such as with SELinux enabled? It must not

[2022-09-24 00:01] kfox1111 commented on #11040
I had a rook managed cephfs go down and need repairing once. So may or may not be related. I then started paying more attention to watching the upgrades and noticed it doing the different order, and knowing that the manual upgrade notes don't do it that way. But I have no hard proof its a problem.

[2022-09-24 15:46] stronger123456789 opened #11049 "RADOS permission denied (error connecting to the cluster) ."
Who can help to analysis this?

]#kubectl -n rook-ceph-external  get CephCluster
NAME                 DATADIRHOSTPATH   MONCOUNT   AGE   PHASE       MESSAGE                                     HEALTH
rook-ceph-external                                36h   Connected   Failed to configure external ceph cluster   HEALTH_ERR
[root@dc8-r2-srv31-init external_cluster]#                       kubectl -n r

[2022-09-25 18:47] #10720 closed

[2022-09-25 20:02] #10615 closed

[2022-09-26 03:37] microyahoo commented on #11049
Your ceph cluster is `HEALTH_ERR`, so you should make sure ceph cluster is OK/WARN before to create object store.

[2022-09-26 03:43] stronger123456789 commented on #11049
Thanks, yes my ceph cluster if OK,

[2022-09-26 04:16] tayyabjamadar opened #11050 "PVs unable to be attached to the pods"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
We have an application that uses cephfs RWX volume, on a couple of nodes the volume is not being attached to pods. Pod events  log says that it is unable to attach or mount volumes with additional info saying timed out waiting for the condition and the given volume already exists, and similar logs are

[2022-09-26 04:17] Madhu-1 commented on #11050
@tayyabjamadar is your ceph cluster healthy? please share `ceph -s` output

[2022-09-26 04:43] tayyabjamadar commented on #11050
`  cluster:
    id:     4bf363ae-b772-4a18-ad95-2c071db26e67
    health: HEALTH_ERR
            1 filesystem is degraded
            1 filesystem has a failed mds daemon
            1 filesystem is offline
            insufficient standby MDS daemons available

  services:
    mon: 3 daemons, quorum f,h,i (age 2d)
    mgr: a(active, since 2w)
    mds: 1/2 daemons up (1 failed), 1 hot standby
    o

[2022-09-26 05:10] Madhu-1 commented on #11050
You need to fix the ceph cluster health https://rook.io/docs/rook/v1.9/Troubleshooting/ceph-common-issues/, one ceph health is back to `OK` state things should be back to normal

[2022-09-26 05:24] tayyabjamadar commented on #11050
Just deleted the fs which was causing the issue, The health state is now OK, but still facing the error with volume attachments

[2022-09-26 05:29] Madhu-1 commented on #11050
try deleting the rook operator pod or csi pods

[2022-09-26 06:09] Rakshith-R commented on #10812
NFS pods need to come up with ready state and csi should be able to create PVC,
the related pr only has partial fixes.

This issue can only be marked resolved after all related TODOs are uncommented.

[2022-09-26 06:35] parth-gr commented on #10812
Please refer the follow-up issue opened for the same https://github.com/rook/rook/issues/11039,
And can you please elaborate the ` TODOs are uncommented` in the follow up issue

[2022-09-26 06:35] #10812 closed

[2022-09-26 06:41] Rakshith-R commented on #11039
https://github.com/rook/rook/blob/2965373ea9b45a475222a84c17fd4fb9008ffb03/.github/workflows/canary-integration-test.yml#L1406-L1409

https://github.com/rook/rook/blob/2965373ea9b45a475222a84c17fd4fb9008ffb03/tests/scripts/github-action-helper.sh#L481

these should be done as part of this issue too as follow up of issue #10812.
Without these fixes NFS will still not function properly on mutlus.

@

[2022-09-26 06:42] parth-gr commented on #11039
Sure I can take this up.
/assign

[2022-09-26 06:45] Rakshith-R commented on #11039
Thanks!

[2022-09-26 06:57] thotz commented on #10853
Honestly I have no idea why rgw service endpoint is not accessible from the rook-operator pod, that seems to issue.
@travisn @BlaineEXE @subhamkrai any idea why the service endpoint is not accessible from the rook operator pod?? Using the IP it works

[2022-09-26 06:58] thotz commented on #4315
@cccsss01 ^^ please try with this build

[2022-09-26 07:26] jclab-joseph commented on #10853
We modified the zone group to use two rgw stores in one rook-ceph cluster.

Could this be the cause?

[code]

[2022-09-26 08:10] kadomino opened #11053 "Ceph re-deploys without OSDs"
* Bug Report

In principle, it is possible to remove a Ceph cluster and re-deploy it, which seems impossible in my environment. Unless I am missing something obvious or my environment is not supposed to work, this is a bug.

**Deviation from expected behavior:**

I deployed Rook/Ceph v1.10.1 without a hitch up to using RBD & Ceph FS. This is a deployment that I have been using for years and as a r

[2022-09-26 08:24] kadomino commented on #11053
Some additional comments:

- Note that I tried Rook v1.10, v1.9 & v1.8, so this does not seem related to some recent regression - consistent with the fact that the first time the Ceph cluster came up fine.
- My understanding of the osd-prepare log is that it "thinks" that the volumes (they are the correct ones, by the way) are not empty and therefore tries to determine whether they are not encrypt

[2022-09-26 08:41] parth-gr commented on #11039
Will be fixed

This is already done with previous PR

[2022-09-26 09:07] parth-gr commented on #11039
@Rakshith-R
[code]

These are the events, do you understand that might be related to your changes.

[2022-09-26 09:10] parth-gr commented on #11039
THese are some Nfs pod logs:

[code]

[2022-09-26 09:17] jmolmo commented on #10612
PTAL: https://github.com/rook/rook/issues/10532#issuecomment-1250921483

[2022-09-26 09:18] parth-gr commented on #11053
Have you tried this procedure for disk cleanup,
https://rook.io/docs/rook/latest/Storage-Configuration/ceph-teardown/#zapping-devices
Maybe the disk won't successfully cleaned up

[2022-09-26 09:22] Rakshith-R commented on #11039
No, I haven't done any changes to nfs pods.
@BlaineEXE can you please take a look.

[2022-09-26 09:42] kadomino commented on #11053
Thanks @parth-gr - yes, I did.

In fact, I did this clean up on:
- the PVs
- the undelying LVM volumes
- even on the the disks themselves on the hypervisor after removing all the LVM stuff.

Also, when I mount the PVs in a test pod, I can see that the block device is indeed zeroed-out (binary zeroes).

The log is from the osd-prepare job itself, this is why you do not see the operator starting the

[2022-09-26 10:03] parth-gr commented on #11049
Your ceph cluster and its connection to external rook looks in bad state,
Do you see the keyring file present in ceph cluster ,check in /etc/ceph/ directory

Can you describe the scenario that you are trying to achieve looks like you are creating rgw over external-cluster.

[2022-09-26 10:18] kadomino commented on #11053
Unfortunately, my observation that the PVs are zeroed-out is indirect, i.e. I can only do it before I launch the Ceph Cluster creation. After that, the PVC are bound by Rook and I cannot run a test pod... I cannot use the command:
[code]
either, as there are no OSD pods running...

[2022-09-26 10:21] parth-gr commented on #11053
`cephosd: failed to determine if the encrypted block "/mnt/ceph8g-data-0fqjfx" is from our cluster. failed to dump LUKS header for disk "/mnt/ceph8g-data-0fqjfx". Device /mnt/ceph8g-data-0fqjfx is not a valid LUKS device.: exit status 1`

This would be probably the reason of failure,
Have you on the encryption before while using it,

And looks like the disk is still encrypted on which it is trying

[2022-09-26 10:34] willzhang commented on #9445
not effiect

[code]

[code]

[2022-09-26 11:38] satoru-takeuchi commented on #10860
I'm still investigating this issue. This problem might be in ceph...

[2022-09-26 14:11] kadomino commented on #11053
Actually, I am not sure that this is the problem (presence of some encryption related cruft on the volumes previously used for OSD storage). Indeed, I tried to deploy a simpler Ceph cluster on new volumes that had never been used for OSD storage... and the result is the same.

It seem that:
- either there is some deeply embedded information that makes Ceph beleive that **whatever volume I try to u

[2022-09-26 15:33] sp98 commented on #11053
Try `shred` maybe. I see that's what is being used in the disk sanitization in the clean up jobs in rook.

[2022-09-26 15:42] BlaineEXE commented on #11053
I'm interested by this log line from the prepare pod (from the description):

[code]

Are you running in a Kubernetes environment where pods are prevented from writing to `/tmp` for some reason?

[2022-09-26 15:57] kadomino commented on #11053
Hm.. that's possible. Talos (the OS of my nodes)  is as read-only as possible, but I think that /tmp is not read-only...

Also, if that was the case and was the reason for preventing the creation of the Ceph Cluster, then it would have never worked. In my case, I was able to create it easily the first time...

Concerning shred, is not it a tool that operates on file systems? In my case I have to c

[2022-09-26 16:01] kadomino commented on #11053
Also, Talos recommends (with detailed instructions) Rook/Ceph for production-level distributed storage. That rules out any systemic reason (like /tmp being read-only) for failure.

[2022-09-26 16:05] taxilian commented on #4772
Just as a data point, I ran that and none of the csi pods say they are using it

[2022-09-26 16:15] kadomino commented on #11053
Can someone explain the logic of the osd-prepare job? It looks to me like this:
1. Identify the candidate-OSD-volumes (this seems to be fine in my case)
2. If the device(s) is/are "Empty:true", then proceed with creation of the OSD (in my case we do not branch into this)
3. Otherwise (as in my case), try to poke around the volume to determine whether it is not part of an encrypted OSD from our clu

[2022-09-26 17:20] jhoblitt commented on #4772
@taxilian did you take a look at #8322 ?

[2022-09-26 18:08] BlaineEXE commented on #11053
[code]

Are there non-ascii characters in your ceph.conf? Are you using the `rook-config-override` configmap?

Can you edit one of the osd prepare jobs to change the command to `sleep infinity` (and args to nothing) and then `exec` into the pod that runs to check out the `ceph.conf` file?

[2022-09-26 18:50] kadomino commented on #11053
Thanks for looking into this:-) I am using the rook-config-override config map. Here is the full values.yaml for the cluster helm chart:
[code]
I will try to connect to the osd-prepare jobs per your suggestion. I just hope that the operator does not remove the jobs...

[2022-09-26 20:26] taxilian commented on #4772
I meant to come check back; somehow I missed it, it was actually listed on those but I didn't find it until I dug around and figured out how to check what watchers it had. Then circled back and found that somehow I must have been searching for the wrong name. At any rate, I don't know why kubernetes didn't release it but I had to manually unmount and unmap it and then it started working.

[2022-09-27 00:22] ikogan opened #11056 "Allow disabling the automatic configuration of `mgr/prometheus/rbd_stats_pools`."
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently, the Rook operator sets the `mgr/prometheus/rbd_stats_pools` configuration to include any Ceph pool that corresponds to a `CephBlockPool` resource that has `enableRBDStatus: true`. This is generally good but causes problems if Rook's pools are not the only ones in the cluster. If no `CephBlock

[2022-09-27 00:53] jclab-joseph commented on #10853
I tried removing only endpoints from the JSON above. but, same result...

[code]

[code]

[2022-09-27 06:45] sp98 commented on #11053
Curious to know why is the device showing `Empty:False` in your case.

```&{Name:/mnt/ceph8g-data-0fqjfx Parent: HasChildren:false DevLinks:/dev/disk/mon/wwn-0x10000000fffffffe /dev/disk/by-path/pci-0000:00:04.0-scsi-0:0:0:1 /dev/disk/by-id/scsi-310000000fffffffe /dev/disk/by-id/wwn-0x10000000fffffffe Size:8589934592 UUID:84b1a0bd-b4b5-472b-a45a-8f6212324295 Serial:310000000fffffffe Type:data Rota

[2022-09-27 06:54] sp98 commented on #10947
@gouki777 Closing this issue due to lack of updates. Please feel free to reopen if you still have this issue and above comments don't help resolve it.

[2022-09-27 06:54] #10947 closed

[2022-09-27 07:15] kadomino commented on #11053
Thanks everyone, I took the following actions and it worked:
- removed the rook-config-override configMap
- zeroed-out the underlying block devices of the PVs for the mon

I am not sure which of the 2 actions fixed it, but the bottom line is:
- either the configMap contained spurious characters,
- or it contained parameters that make the osd-prepare jobs fail,
- or the normal procedure of cleaning

[2022-09-27 09:34] stronger123456789 commented on #11049
Hi Author,
     Yes, I can see the keyring  under in /etc/ceph directory.

]# ls -l
total 36
-rw-rw-r-- 1 ceph ceph 1302 Aug 19 15:59 ceph-dashboard.crt
-rw------- 1 ceph ceph 1704 Aug 19 15:59 ceph-dashboard.key
-r-------- 1 ceph ceph  151 Aug 19 15:47 ceph.client.admin.keyring
-rw------- 1 ceph ceph  131 Aug 19 16:02 ceph.client.crash.keyring
-rw-r--r-- 1 ceph ceph  489 Aug 19 15:46 ceph.conf
-r

[2022-09-27 09:53] parth-gr commented on #11049
Are you able to run ceph cmds in the ceph cluster??
ceph -s, etc

[2022-09-27 09:56] stronger123456789 commented on #11049
Yes, the ceph command is ok

# ceph mon stat
e1: 3 mons at {dc8-r1-srv1=[v2:10.252.11.61:3300/0,v1:10.252.11.61:6789/0],dc8-r1-srv3=[v2:10.252.11.63:3300/0,v1:10.252.11.63:6789/0],dc8-r1-srv5=[v2:10.252.11.65:3300/0,v1:10.252.11.65:6789/0]}, election epoch 54, leader 0 dc8-r1-srv1, quorum 0,1,2 dc8-r1-srv1,dc8-r1-srv3,dc8-r1-srv5
***@***.*** ceph]# ceph -s
  cluster:
    id:     4849e591-27f7-477b

[2022-09-27 10:20] parth-gr commented on #11056
I didn't understand your feature request,
Are you trying to say you have both kinds of pool in `CephBlockPool` the ceph and the proxmox managed,
And you want ceph pools to be managed and other to be disable?

[2022-09-27 10:23] parth-gr commented on #11049
`RADOS permission denied (error connecting to the cluster)` didn't give much hint,

Can you also please share describe even of cephcluster,
`kubectl describe cephcluster -nnamespace -o yaml`

[2022-09-27 10:30] thotz commented on #10853
@jclab-joseph you have added the `hostname` to zonegroup info which may end up in this situation, now only that hostnames work for rgw, I guess you may need to add rgw-service endpoint to the hostname list of zonegroup

[2022-09-27 10:33] parth-gr commented on #11053
In your config override
[code]
`mon data avail warn = 20` this should be one word `mon_data_avail_warn`

[2022-09-27 12:01] umangachapagain opened #11059 "Add metadata to OSD pod about rotational disks"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
If OSD prepare pod detects rotational disk, label or annotate the OSD pod with that information.

**What is use case behind this feature:**
We want to know if OSDs are using rotational disks or not. Having this metadata as label would allow us to query all OSDs using rotational disks.

**Environment**:

[2022-09-27 12:09] stronger123456789 commented on #11049
Hi,
You can check this logs
***@***.*** ~]# kubectl describe pod rook-ceph-operator-7b6b8b87d-txdz9 -n rook-ceph
Name:         rook-ceph-operator-7b6b8b87d-txdz9
Namespace:    rook-ceph
Priority:     0
Node:         dc8-r2-srv11/10.141.2.111
Start Time:   Fri, 23 Sep 2022 02:31:37 +0000
Labels:       app=rook-ceph-operator
              pod-template-hash=7b6b8b87d
Annotations:  cni.projectcalico.o

[2022-09-27 12:21] parth-gr commented on #11049
I am more interested in this output
`kubectl describe cephcluster rook-ceph-external -n rook-ceph-external`

[2022-09-27 12:26] stronger123456789 commented on #11049
Thank you for care:
# kubectl describe cephcluster rook-ceph-external -n rook-ceph-external
Name:         rook-ceph-external
Namespace:    rook-ceph-external
Labels:       <none>
Annotations:  <none>
API Version:  ceph.rook.io/v1
Kind:         CephCluster
Metadata:
  Creation Timestamp:  2022-09-23T02:53:18Z
  Finalizers:
    cephcluster.ceph.rook.io
  Generation:  2
  Managed Fields:
    API Vers

[2022-09-27 12:40] kadomino commented on #11053
Thanks @parth-gr, well done spotting this :-)

It turns out that my problem appears whenever I define an override configMap (no matter what it contains - correct or incorrect parameters) in the Helm values!

I can now reliably reproduce both the success and the failure. The complications around volume clean up are essentially a red herring, even though it is clear that there is much to improve in

[2022-09-27 12:48] parth-gr commented on #11053
Would love to hear suggestions from you on the clean-up process,
We are tyring to make it more clear but still need to hear from you,
What all think is missing and what all is already there but doesn't seem to be straightforward.
Thanks

[2022-09-27 12:58] parth-gr commented on #11059
The operator should self detect if the disk is rotational,
Or user provide this information while providing the disk?

[2022-09-27 13:05] kadomino commented on #11053
Here are some thoughts:

- Allow for zapping of the OSD volumes with a configurable parameter to define how many bytes we want to zap from the beginning of the volume (otherwise it takes for ever on large disks).
- Allow for the possibility to ask the clean up jobs to zap the OSD volumes unconditionally. Currently, the zap is skipped if "the OSD is not part of our cluster" (whatever that means:-)

[2022-09-27 13:25] dahorak opened #11060 "create-external-cluster-resources.py didn't properly handle --rgw-tls-cert-path parameter"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When is the `create-external-cluster-resources.py` script called with `--rgw-endpoint` and `--rgw-tls-cert-path` parameters (first pointing to the RGW Endpoint, second to the path with certificate, it fails with following vague error:
[code]
The problem is, that the path from `--rgw-tls-cert-path` para

[2022-09-27 13:26] parth-gr commented on #11060
./assign

[2022-09-27 13:28] sp98 commented on #11059
`ceph osd tree` output can be used to get this information.  Will that help?

[2022-09-27 13:50] stronger123456789 commented on #11049
Yes
***@***.*** /]# ceph health detail
HEALTH_OK

From: Parth Arora ***@***.***>
Sent: 2022年9月27日 20:53
To: rook/rook ***@***.***>
Cc: Wang, Qiang 3. (NSB - CN/Beijing) ***@***.***>; Author ***@***.***>
Subject: Re: [rook/rook] RADOS permission denied (error connecting to the cluster) . (Issue #11049)

Are all the mon's up??

—
Reply to this email directly, view it on GitHub<https://github.com/roo

[2022-09-27 13:50] dahorak commented on #11060
There is also similar problem in the `get_rgw_fsid` method. In following code:
[code]
It uses both `cert` and `verify` arguments of the `get` method, but in wrong meaning[1]:

[1] https://requests.readthedocs.io/en/latest/api/

[2022-09-27 14:19] #11038 closed

[2022-09-27 15:14] parth-gr commented on #11039
Operator LOgs:

[2022-09-27 15:43] BlaineEXE commented on #11039
The operator logs look like everything is healthy there.

[2022-09-27 15:45] BlaineEXE commented on #11053
This is a long shot, but out of curiosity, are you using Windows from the machine you are calling Helm from? I wonder if a non-ascii character could be coming from OS line endings.

[2022-09-27 15:59] kadomino commented on #11053
No problem @BlaineEXE, I do not use Windows at all...

[2022-09-27 16:23] travisn commented on #11059
I'm assuming ceph commands aren't an option to run directly in this scenario. @umangachapagain?

[2022-09-27 18:00] jhoblitt opened #11064 "ceph mgr randomly has dashboard ssl enabled when `ssl: false` in helm cephClusterSpec"
**Deviation from expected behavior:**

I have created test ceph clusters multiple times per day, most business days, for the last couple of weeks. All cephcluster have been created with `rook-ceph-cluster` chart `1.10.1` using the same chart values, which contain:

[code]
The mgr pods and svc are reliably configured to expose port 7000. E.g.

[code]
However, twice now I have observed the mgr pod h

[2022-09-27 19:16] quetdn commented on #11027
Following this note:
"Ceph NFS management with the Rook mgr module enabled has a breaking regression with the Ceph Quincy v17.2.1 release"
I have disabled mgr module.
**The problem disappeared**.
mds_autoscaler is on, and as documented:
"The MDS Autoscaler Module monitors file systems to ensure sufficient MDS daemons are available. It works by adjusting the placement specification for the orchestr

[2022-09-27 20:02] #10060 closed

[2022-09-27 20:36] cccsss01 commented on #4315
I've modified the rook-ceph-operator deployment to use the image specified above, this recreated the operator.  Then when attempting to edit the cephobjectstore with the contents listed below I receive validation error.  (i'm assuming the ldap url will need to be changed)
Also, can I expect these to be listed in the rook-ceph-rgw-mystore /etc/ceph/ceph.conf?

  zone:
    name: ""
  ldap:
    enabl

[2022-09-27 21:41] BlaineEXE commented on #11053
When I play with the helm chart templating, I'm not able to get the override configmap to generate any non-ASCII characters. I'm puzzled.

[2022-09-27 22:32] jhoblitt commented on #4315
@cccsss01 I am just starting to look at this.  In order to test it, you will need to update the CRDs to allow the ldap key to pass validation. E.g.

[code]

[2022-09-27 22:33] travisn commented on #10805
Even if different pools are created with the same Crush rule, Ceph will quickly hit other limits, such as number of PGs per OSD.

Sharing a zone for multiple objects stores doesn't give good security separation as you already pointed out.

@hohoqq Would [OBCs](https://rook.io/docs/rook/latest/Storage-Configuration/Object-Storage-RGW/ceph-object-bucket-claim/) give you sufficient multi-tenancy for

[2022-09-27 22:45] BlaineEXE commented on #11039
Oh wait! I think I see what's going on. The `ganesha-rados-grace` command ALSO needs to be run remotely on the mgr, but it currently isn't, and it's hanging. Let's chat about this in huddle @parth-gr :)

[2022-09-27 22:51] mgugino-uipath opened #11068 "rgw-admin-ops-user cannot create bucket checker user"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Bucket health checks fail, cephobjectstore goes into Failed status with error 'failed to get details from ceph object user <bucket-checker-user>: InvalidAccessKeyId ... <long token>'

Digging into this, I see a 403 on the rgw pod logs for the GET for that user.  I hopped onto the tools pod, radosgw-adm

[2022-09-27 23:22] jhoblitt commented on #4315
The good news is that this does appear to be setting flags to rgw. E.g.

[code]

[code]
The bad news is I can't seem to get it to work.  I followed the instructions for creating a token from the ceph docs: https://docs.ceph.com/en/quincy/radosgw/ldap-auth/

Running `radosgw-token --encode` in the toolbox has no output. It seems that an extra flag might be needed: `radosgw-token --encode --ttype=ld

[2022-09-28 00:34] travisn opened #11070 "Support mirroring across clusters with overlapping networks"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Kubernetes clusters are frequently setup with a standard networking configuration, which results in clusters having overlapping networks. For example, the subnet of one cluster may be `10.0.0.0/16`. Internally to the cluster network there will be no conflicts, but another cluster may also be using `10.0

[2022-09-28 00:45] jhoblitt commented on #4315
These are the rgw log messages:

[code]

I will try to debug it tomorrow.

[2022-09-28 07:53] umangachapagain commented on #11059
It's not. We can not run ceph commands to get this info. It needs to be on some K8s resource.

[2022-09-28 12:42] avanthakkar commented on #11056
/assign @avanthakkar

[2022-09-28 13:23] #10783 closed

[2022-09-28 13:37] parth-gr commented on #10936
@microyahoo Does your OSD-pepare pod is also failing??

Can you share it's logs

[2022-09-28 14:00] parth-gr commented on #11039
PLease update your thoughts on this I will miss today's huddle

[2022-09-28 14:01] parth-gr commented on #11049
This is the first time you are trying to connect to the external cluster???

Can you check check the communication of mon's with the cluster by sh into them, are the configured correctly with this cluster.

[2022-09-28 14:25] mgugino-uipath commented on #9584
The rgw already supports ca injection via a spec value ca_bundle_ref (I believe).  It uses an init side-car to inject a CA bundle into the rgw pods at startup.  We could adapt this to other pods deployed via rook as well.

Unfortunately, injecting just the rgw pods is insufficient.  I'm not sure what other pod needs the CA's injected, possibly the mgr pods?  I assumed the communication was rgw<->r

[2022-09-28 15:18] BlaineEXE commented on #11039
The `ganesha-rados-grace` command needs to be modified to be run with a timeout, for one. But more importantly, I think it needs to be run remotely if the context is multus.

Just like here: https://github.com/BlaineEXE/rook/blob/005000212ced0dfbab1f34eaaacd79353cf93511/pkg/daemon/ceph/client/command.go#L119-L141

And that also means adding a case for it here: https://github.com/BlaineEXE/rook/blo

[2022-09-28 16:09] jhoblitt commented on #4315
It doesn't look like rook has support for rgw debug? I was able to edit the rgw deploy and add in `--debug-rgw=20/20`.

[2022-09-28 16:14] jhoblitt opened #11074 "support setting --debug-rgw=<x/y> flag in rgw deploys"
**What should the feature do:**

Provide a mechanism to set the `--debug-rgw=<x/y>` flag on rgw deploys to allow controlling log verbosity.

**What is use case behind this feature:**

I needed to manual edit the deploy to set this flag while debugging #4315 / #8750.

**Environment**:

* ceph 17.2.3
* rook 1.10.2

[2022-09-28 16:19] ideepika commented on #11070
for some more context, rbd mirroring actually uses librados C++ api to configure: fsid, client id, mon host and key in form of token, which is then consumed on secondary cluster https://github.com/ceph/ceph/blob/main/src/librbd/api/Mirror.cc#L1289-L1514

[2022-09-28 16:31] travisn commented on #11074
The log level should also be customizable from the toolbox with a command such as: `ceph config set client.rgw debug_rgw 20`

[2022-09-28 16:33] jhoblitt commented on #11074
I will give it a try.  `client.rgw` isn't listed on https://docs.ceph.com/en/latest/rados/troubleshooting/log-and-debug/#subsystem-log-and-debug-settings , which I did check before resorting to cli switches.

[2022-09-28 17:34] jhoblitt commented on #11074
`ceph config set client.rgw debug_rgw 20` is confirmed as working. Thank you!

[2022-09-28 17:34] #11074 closed

[2022-09-28 17:52] jhoblitt commented on #4315
I've made progress.  The ldap client in rgw was refusing to connect to 389ds because ipa uses its own internal CA.  Changing over to `ldap://ipa1.ls.example.com:389` got past that error and I can now seeing ldap queries hitting the server.

[code]

So I'm guessing I now need to figure out how permissions are supposed to be setup in ldap.

[2022-09-28 20:00] #11032 closed

[2022-09-28 21:05] richardelling commented on #11059
caveat: the rotation information delivered to Linux, and subsequent consumers such as ceph, is unreliable. It has the best chance of working for real hardware, but is not 100% correct for all hardware in the universe. For virtual disks, all bets are off.

[2022-09-28 21:13] #10953 closed

[2022-09-28 21:29] Jeansen commented on #3197
Another ping here. I recently came along the OLM and what I see is that the operator there is very, very old (version 1.1.1). Any update when a more recent release will be available?

[2022-09-28 22:03] jhoblitt commented on #4315
The test cluster I'm using has another zone (used for mutlisite testing) and the ceph dashboard was able to list users from it but not the ldap test zone. I was able to list users via `radosgw-admin` and see that `jhoblitt-test` user had been automatically created after authing against ldap but wasn't able to create a bucket via s3.  I'm tearing down the test zone to try again from scratch.

[2022-09-28 22:05] jhoblitt commented on #4315
I have rebased #8750 on current master (74e7d3cc0) and re-published as `jhoblitt/rook:ceph-amd64-ldaprgwsupport-6201bfdd1`.

- https://github.com/jhoblitt/rook/commit/6201bfdd16802be738fc0a2668ab5db3757517fd
- https://hub.docker.com/layers/jhoblitt/rook/ceph-amd64-ldaprgwsupport-6201bfdd1/images/sha256-888bc4729508ca3fa7c488f85a77ab6fe396eeafd8aa051f428ebdd386f72f7f?context=repo

[2022-09-28 22:43] jhoblitt opened #11078 "unable to delete cephobjecstore resources when health checks are failing"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

`cephobjectstore` deletion seems to hang indefinitely when bucket checks are enabled but failing.  The operator will actually create pools and attempt to stand up an rgw deploy even while the `cephobjectstore` object is in the `Deleting` phase.

Here is an example of trying to delete the `cephobjectst

[2022-09-28 23:19] jhoblitt commented on #4315
After blowing away and recreating the `cephobjectstore` (and manually updating the keys for the `dashboard-admin` user), the ceph dashboard inability to list user/buckets was resolved.

I also have sorted out permission failure.  It was user error.  I was not specifying the region... which I think is not required when there is only a single rgw zone but there are multiple zones currently in my tes

[2022-09-28 23:47] jhoblitt commented on #4315
The last hurdle for me to declare this ready for use is getting ldaps working.  The good news is that there is already a `caBundleRef` in the CRD.  The bad news is that that public ca cert bundle + my ipa ca seems to be getting too close to the etcd size limit and I'm getting an http 413.

[code]

[2022-09-29 03:07] wjentner commented on #10703
@jmolmo Thank you for the explanation.
Why is the storage information not being provided by the OSD daemon itself? It should have access to any type of device in every case?

[2022-09-29 07:24] Hello-Linux commented on #10914
@jmolmo I use the browser of other hosts to access the same results

[2022-09-29 07:25] Hello-Linux commented on #10914
@travisn  yes,the logs is show in mar pod log

[2022-09-29 07:28] Hello-Linux commented on #10914
@travisn @jmolmo
The k8s dashboard of my local cluster uses the node public IP+ node_port(123.123.123.123:30771), access is working, only ceph_dashboard will jump to the  pod internal address(172.20.107.223:8443)

[2022-09-29 07:28] jmolmo commented on #10914
What about your etc/hosts? any traslation?

[2022-09-29 07:31] Hello-Linux commented on #10914
@jmolmo  the /etc/hosts  file does not have any special configuration, because I use the node's public network address+port to access it directly

[2022-09-29 07:33] Hello-Linux commented on #10914
@jmolmo  I think we can build a ceph cluster to simulate my environment
node_ip + node_port == working
public_node_ip + node_port == not working(rewrite to pod internal ip + 8443)

[2022-09-29 07:42] subhamkrai opened #11080 "deploy multus in latest kubernetes version in CI"
**Is this a bug report or feature request?**
* Bug Report

Multus deployment of k8s version newer than 1.24 is failing in ci due to other dependencies like minikube cni and whereabouts network plugin projects

_more details [comment](https://github.com/rook/rook/pull/10536#issuecomment-1260762533)_

**Deviation from expected behavior:**
Multus deployment failing in k8s newer than 1.24 in CI

**Exp

[2022-09-29 08:20] jmolmo commented on #10914
@Hello-Linux :
Maybe the problem is that your "public_node_ip" is not pointing the right node. The dashboard is running in the active manager pod. To access it you need to use the ip of the node running the active manager pod, or if you have a public ip address this address must point to this node.
Lets verify the following:

1. Check what is your active manager (use the ceph tool box to run the c

[2022-09-29 09:35] lincate opened #11081 "Monitor reboot after create storageclass"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After create Storageclass rook-ceph-block, `provisioner: rook-ceph.rbd.csi.ceph.com`, monitor will rebooting again and again.
Then, the PVC which reference rook-ceph-block status is pending.

**Expected behavior:**
Storageclass can be created, PVC can be bound.

**How to reproduce it (minimal and preci

[2022-09-29 09:58] vertexvaar opened #11082 "Lots of `ldconfig` zombie processes"
**Is this a bug report or feature request?**
* Bug Report (Or rather looking for help)

**Deviation from expected behavior:**
We are experiencing a growing amount of zombie processes, all `ldconfig` as childs of ceph-osd, ceph-mds, and ceph-mgr. Only `ldconfig` zombie processes exist and only ceph processes have zombies.
Sending `SIGCHLD` to any of the parents does not kill the zombies.

<details>

[2022-09-29 10:51] Hello-Linux commented on #10914
@jmolmo I have verified the points you listed one by one, and there is no problem，I only have one node. There are two network cards on this node. One is the LAN address and the other is the public address, curl --trace - -k -I  http://123.123.123.123:30770 while rewrite to 172.20.107.223:8443, and curl node_ip+node_port is working

[2022-09-29 10:52] idryomov commented on #11070
I don't think this is specific to the monitors.  The "must recognize the IP address that was used by the client to connect" restriction is coming from Ceph messenger (this is an excerpt from `ProtocolV2.cc` but IIRC `ProtocolV1.cc` has a similar check):

[code]

So I believe this goes for any Ceph daemon that clients can connect to, most notably OSDs.

Putting aside the need to repeat this exercis

[2022-09-29 15:36] microyahoo commented on #10936
@parth-gr Sorry, the environment has been cleaned up, I can try to reproduce if needed.

[2022-09-29 16:04] parth-gr commented on #11039
Just for rememberring
[code]

[2022-09-29 16:09] parth-gr commented on #10993
@travisn
Continuing the discussion here with you,

Should we add the [Zapping disk ](https://rook.github.io/docs/rook/v1.10/Getting-Started/ceph-teardown/#zapping-devices)steps also for the clean-up, as this is something we propose to the users when the data on the host is not deleted.

Second thing:
There can be any specific reason for a particular disk not being cleaned up,

If someone is on bar

[2022-09-29 16:18] travisn commented on #11081
Some questions:
- This is a default install, or did you modify the cluster.yaml? If you added resource limits on the mons, they may need to be increased
- The liveness probes may be failing for the mons. You could try [disabling the liveness probes](https://rook.io/docs/rook/latest/CRDs/Cluster/ceph-cluster-crd/#health-settings) to see if it helps.

[2022-09-29 16:35] Jeansen commented on #3197
@BlaineEXE OK, I'll see what I can do. But I bett it will take some time ..... anyway, I'll try!

[2022-09-29 16:44] BlaineEXE commented on #3197
Thanks @Jeansen :)
I believe @subhamkrai is working on updating our tooling that generates CSVs (or will be soon). It may be worth waiting for his work to wrap up (it may be a couple months). I'm hoping that will make this task a bit simpler.

[2022-09-29 19:16] jhoblitt commented on #4315
I had to walk through the init container logic but I know understand that a ca bundle from a secret is added to the existing default trust anchors by p11-kit, and I don't need to try to cram everything into the secret.

[2022-09-29 19:20] jhoblitt commented on #4315
I have a completely function setup that is able to bind via ldaps/636 to freeipa instance with this configuration:

[code]

[code]

@thotz This is working for me -- thank you!  I am working on adding support for `rgw_ldap_searchfilter` on top of #8750 in https://github.com/rook/rook/compare/master...jhoblitt:rook:ldaprgwsupport

[2022-09-29 20:37] jhoblitt commented on #4315
Build of #8750 rebased onto current master + support for `searchfilter`:

- https://github.com/rook/rook/commit/b8584360eeade321ac2e6298640a0e442fba1b50
- https://hub.docker.com/layers/jhoblitt/rook/ceph-amd64-ldaprgwsupport-b8584360e/images/sha256-0cd44d6ff3dad3cf26b73ec79ed8fb266bd7436e4962576915497f90c11c40db?context=repo

[2022-09-29 21:13] jhoblitt commented on #4315
Eh, I can't seem to find a good ldap server chart for an integration test. There doesn't appear to be an ipa chart in a working state.  There are a few openldap charts being updated but I'm not sure if any of them are a good choice to deploy on a single node kind cluster.

[2022-09-29 23:07] travisn commented on #10993
We don't need the full list of steps from the upstream cleanup doc since the job is intended to do some very specific cleanup depending on the scenario, detect if it's a raw or lvm OSD and do the proper cleanup, etc.

But one shortcoming of the cleanup job is that it only wipes disks that are under `/dev` from a host-based install. As seen in the method [cleanupJobTemplateSpec()](https://github.co

[2022-09-30 01:24] kierdavis opened #11092 "Ceph dashboard can't serve on privileged ports (< 1024)"
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**

Set `spec.dashboard.port` to 80 on a CephCluster instance and wait for reconciliation.

**Expected behavior:**

Either:
* the dashboard becomes accessible at the service address on port 80, or
* it's documented that values below 1024 aren't permitted, and any attempt to modify a CephCluster i

[2022-09-30 07:10] Jeansen commented on #3197
OK, then let's keep this ticket open until you give me a ping. I'll check out the contribution docs in the meantime.

[2022-09-30 09:47] thotz commented on #4315
I guess we can have unit tests than integration if it's difficult to do end to end testing

[2022-09-30 10:21] thotz commented on #11031
We do have liveness probe check and readiness probe check for RGW pod IMO that's sufficient which generally whether RGW is accessible and ready to consume than bit heavy this health check routine of creating user then the bucket and deleting them.
CCing @satoru-takeuchi into this loop

[2022-09-30 10:23] jclab-joseph opened #11093 "Error creating: pods "rook-ceph-detect-version-" is forbidden: PodSecurityPolicy: unable to admit pod: []"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The 'rook-ceph-detect-version' pod is not created.

[code]

**How to reproduce it (minimal and precise):**

1. install rook-ceph-v1.10.2 with helm
2. setup cluster

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary

**Environment**:
* OS (e.g. from /

[2022-09-30 10:57] jclab-joseph commented on #11093
I changed the namespace in https://github.com/rook/rook/blob/master/deploy/examples/psp.yaml and applied it, and it works.

[2022-09-30 10:57] #11093 closed

[2022-09-30 13:16] parth-gr commented on #11039
@BlaineEXE
I am in doubt about how the executor is been called,

I see `ganesha-rados-grace` is calling `r.context.Executor.ExecuteCommandWithEnv(env, cmd, args...)`  -> which call `	cmd, stdout, stderr, err := startCommand(env, command, arg...)` -> `err = cmd.Start()`,

So how it is calling `func (c *CephToolCommand) run() ([]byte, error) {` https://github.com/BlaineEXE/rook/blob/005000212ced0dfb

[2022-09-30 13:18] parth-gr commented on #10993
Should it need a separate job for local PVC or just an additional doc step for this cleanup?

[2022-09-30 15:11] #7335 closed

[2022-09-30 16:10] jhoblitt commented on #4315
@thotz You did all the hard work!

I think integration tests are certainly possible. It is simply a matter of finding a solution that will work on kind without consuming a lot of memory, wanting PVCs, etc.

I have made some progress experimenting with various openldap charts. However, I haven't used slapd in almost a decade and I think I'm wrestling with permissions issues.

This is able to create

[2022-09-30 18:19] BlaineEXE commented on #11039
It seems like we need to add an `env` property to the ceph command so that we can locally or remotely run commands with env set. That will require some larger changes. @parth-gr do you want to attempt this? I know you are working on a lot, and I have time to take over if you'd like to focus on your other work. We can discuss Monday in huddle. :)

[2022-09-30 20:02] #10625 closed

[2022-09-30 20:02] #10597 closed

[2022-09-30 20:02] yleiymei commented on #4896
这是来自QQ邮箱的假期自动回复邮件。邮件已收到，我会尽快回复您!

[2022-09-30 23:09] jhoblitt commented on #4315
An integration test is working in #11091.

[2022-10-01 01:15] abh opened #11095 "LVM volumes not picked up"
I'm running 1.10.2 (ceph 17.2.4) and my new LVM volumes aren't being picked up by osd-prepare.

The host is configured in the cluster with the following (I've tried various variations):

[code]

It seems like `ceph-volume` is failing, but no output is added to the logs (I think).

[code]

The full osd-prepare output is attached.

[osd-prepare.txt](https://github.com/rook/rook/files/9689257/osd-pre

[2022-10-01 01:40] abh commented on #11095
Curiously when I changed one of the disks to just be a raw disk (removed the VG / PV and passed /dev/disk/by-id/scsi-... in the cluster parameter) both that disk and the LVM volume was picked up and used.

[2022-10-01 18:36] gregsfortytwo commented on #11070
Yeah. I really don't like the idea, but the cheapest solution in terms of developer effort we came up with was to add yet another messenger to all the daemons, that could be given the "external IP". And hopefully submariner could set up that IP for all external clusters.

This has some notable costs, of course:
* inflating all the maps more, for the extra IP addresses
* adding another messenger/di

[2022-10-01 20:02] #10622 closed

[2022-10-01 20:02] #10621 closed

[2022-10-01 21:51] gpabdo commented on #8733
Getting the same issue, was this ever solved? @norbertkeri

[2022-10-02 11:22] mecseid commented on #10995
I updated the operator to v1.10.2, and ceph to v17.2.4-20220930, deleted the `cephnfses.ceph.rook.io`, the `.nfs` pool, and disabled the `nfs` mgr module.

Afther that I recreated the `cephnfses.ceph.rook.io`, and reenabled the `nfs` mgr module.
I went to the NFS page in the dasboard, but got the following error:
[code]

Operator log:
[code]

MGR log:
[code]

[2022-10-02 19:31] norbertkeri commented on #8733
No, we ended up switching to longhorn, partially because of this issue, but also because we found out that if a rook cluster fills up all the free space, it gets stuck in a failed state, and nothing we did managed to get it out of that.

[2022-10-03 12:26] mecseid opened #11096 "Dashboard NFS page returns 500"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I got an HTTP 200 with error message when the dashboard wants to call `/ui-api/nfs-ganesha/status`.
I think this issue is related to https://github.com/rook/rook/issues/10995.

**Expected behavior:**
Show NFS page without any error.

**How to reproduce it (minimal and precise):**

* Create a CephNFS cu

[2022-10-03 14:56] ikogan commented on #11056
Rook sets `mgr/prometheus/rbd_stats_pools` to a comma separated list of the names of all `CephBlockPool` resources that have `enableRBDStats = true`. It does not care what was in there before. I believe that a brand new Rook install with 0 `CephBlockPool` resource will always just wipe out `mgr/prometheus/rbd_stats_pools` no matter what was in there before. At the very least, in my cluster, having

[2022-10-03 17:39] taxilian commented on #10826
I'm in the same boat, trying to upgrade from v1.10.1 to v1.10.2 and I get the same error

[2022-10-03 17:42] taxilian commented on #10826
https://github.com/helm/helm/issues/11287 -- related

[2022-10-03 17:45] taxilian commented on #10826
so I guess the issue is that helm tries to compare previous state (as mentioned above) but because PodSecurityPolicy is no longer a real thing it can't get that, which causes that to fail... huh. that's ... frustrating

[2022-10-03 22:40] satoru-takeuchi commented on #11031
IMO {startup, liveness,readiness}Probe mechanish is enough for health check of RGW and rit's nice to remove Rook's own health checker (create bucket, put an object, and delete this bucket).

[2022-10-03 22:53] satoru-takeuchi commented on #11095
I have three questions.
- Does "/dev/mapper/vgsdc-rook" is on top of a vg consist of sdc and "/dev/disk/by-id/dm-name-vgsdd-rook" is on top of a vg consist of sdd?
- Could you provide the result of lsblk and blkid?

[2022-10-04 01:40] kfox1111 commented on #10219
I had the same problem. upping the memory limit resolved it. 1G wasn't enough. 2 was. so somewhere in between.

[2022-10-04 03:17] #10660 closed

[2022-10-04 07:46] xyxjames opened #11097 "How to expose rook-ceph-rgw to an external application outside the k8s cluster"
Hi there, I have successfully deployed ceph on my k8s cluster using rook, but I encountered a problem when trying to access **rook-ceph-rgw-my-store-external** from an external application (outside the k8s cluster) according to [this](https://rook.io/docs/rook/v1.10/Storage-Configuration/Object-Storage-RGW/object-storage/#access-external-to-the-cluster) part of the official documentation, where th

[2022-10-04 07:48] chaojin0310 commented on #11097
I've encountered the exact same problem before. I'd like to know how to make it, too.

[2022-10-04 14:07] travisn commented on #11097
At the end of that section in the document it says: "All you need is the hostname for any machine in the cluster, the external port, and the user credentials." So instead of the external-ip field on the service, use the IP of a host and combine it with the node port, for example: http://host:31277

That example uses a node port service. There are other methods such as an ingress or load balancer a

[2022-10-04 14:59] travisn commented on #11096
This looks specific to the nfs mgr module, but @jmolmo thanks for taking the first look

[2022-10-04 16:30] jmolmo commented on #11096
@Travis, @mecseid :
I think this is the bug [55605](https://tracker.ceph.com/issues/55605) solved in pr [#46321 ](https://github.com/ceph/ceph/pull/46321)

I think it was [backported](https://tracker.ceph.com/issues/57601) to Quincy only 12 days ago...

@mecseid could it be that your cluster was installed previously? If your cluster is new i will try to reproduce. :-)

[2022-10-04 18:07] mecseid commented on #11096
@jmolmo As I saw from https://github.com/ceph/ceph/blob/v17.2.4/src/pybind/mgr/rook/module.py#L353, the v17.2.4 release doesn't contain the mentioned PR. :(

[2022-10-04 18:23] travisn commented on #10993
IIRC we decided not to launch a cleanup job for the PVs since 1) they might not need cleanup (e.g. ebs or other cloud volumes), and 2) even if we wiped the disk there might be other cleanup steps (e.g. cleanup a symlink for LSO).

@sp98 For LSO, there is documentation for cleaning up the PVs, correct? In that case, we should just point them to LSO cleanup guide.

[2022-10-04 18:53] 3u13r commented on #10110
We are also encountering an issue with similar symptoms.
We are using the Rook/Ceph quickstart with cluster-on-pvc.yaml on Azure (non-AKS!) with the official Azure CSI driver and fc36. Downgrading containerd to 1.5.X (e.g. 1.5.9) rook fully deploys. When using containerd 1.6.0 and above one mon is always out of quorum.
Sadly, it isn't isolated to containerd, since it works fine on e.g. GKE on the

[2022-10-04 22:44] abh opened #11100 "disruptionmanagement, removed host "has flags noout""
Running 1.10.2, with the disruption management feature enabled.

We're moving a cluster to new hardware a node at a time. One of the removed notes got "stuck" with the noout flag, despite being long since removed. It's possible that this node got drained and then removed abruptly without all the resources cleared off first.

[code]

The ceph dashboard doesn't show the node, and the `ceph orch` com

[2022-10-04 22:46] abh commented on #11097
We use an ingress similar to this

[code]

[2022-10-04 22:50] abh commented on #11095
@satoru-takeuchi -- yeah, exactly. It was an attempt at dividing one of the disks (sdc) up to also be used for local storage on the node.

[code]

[code]

[code]

[2022-10-04 22:56] satoru-takeuchi commented on #10219
@travisn Many users have hit this problem. So It seems to be better to add 'resource' field to prepare pods in CephCluster CR examples by default. Does it make sense?

[2022-10-05 02:51] xyxjames commented on #11097
Thanks for your reply. Our k8s cluster is built directly on bare-metal servers, so I assume 'the IP of a host' you mentioned should refer to the public IP of one of the nodes in our cluster. We tried this but it doesn't work.

For example the IP address of node0 in our cluster is 128.115.10.1 and the port is 31277 (as shown in the figure above), we tried the command
[code]
but it failed to upload

[2022-10-05 08:11] leseb commented on #11040
I don't think we had any solid rationale as to why rgw/mds don't wait for osd to be updated. I think it might be on the verge of something like, they are stateless services. There is probably a bit of legacy here as well and this could be a good opportunity to change the upgrade sequence if needed. However, we don't really have proof that the current process is harmful.

Reading this [page](https:

[2022-10-05 08:20] abh commented on #10835
FWIW I did the bluefs-bdev-expand command from https://github.com/rook/rook/issues/2997#issuecomment-1237966127 and it solved it for me on an LVM backed OSD.

[2022-10-05 08:51] jmolmo commented on #11096
@mecseid : If you are interested in fix the problem in your cluster, you will need to upgrade to a Ceph version including the change:
I have seen that you have a Quincy version v17.2.4-20220930 that must include the fix, (it was merged on 20220923).

So upgrade your cluster CRD with:
    image: quay.io/ceph/ceph:v17.2.4-20220930

Note: Follow [upgrade documentation](https://rook.io/docs/rook/v1.10

[2022-10-05 09:19] mecseid commented on #11096
@jmolmo Yes, I thought too that `v17.2.4-20220930` will contain the fix, but it not. I already upgraded to the mentioned version, but the problem still exists, and as I saw in GitHub, the v17.2.4 doesn't contain the modification.

Running pods:
[code]

[2022-10-05 14:33] travisn commented on #10219
Please review #11103. My suggestion there is to increase the limits in the helm chart and add a note to the documentation about being generous with the limits when applied.

As a side note, I was wondering why we didn't hit this issue with downstream and I found that we aren't applying limits at all to the osd prepare job, which means it would never be OOM killed.

[2022-10-05 15:09] travisn commented on #11096
If you need to test the fix that didn't make it into 17.2.4, there is a daily image build for everything that is merged to the quincy branch: `quay.io/ceph/daemon-base:latest-quincy-devel`. It's not technically supported since it's not an official release, but at least it's there for testing.

[2022-10-05 15:13] travisn commented on #11100
@abh From the toolbox, try unsetting the noout something like this:
[code]

[2022-10-05 17:07] tayyabjamadar commented on #11050
Tried with suggested pods restarts, but no luck in that.  This has been resolved after the node host restart, will keep you guys updated if this re-emerges. Thanks

[2022-10-05 17:13] jmolmo commented on #10914
@Hello-Linux : That is a really weird issue... no clues about what can be the cause. Could it be manager blocking dashboard module?

Please try to execute (in toolboox):
# ceph mgr fail

And check again...

[2022-10-05 17:39] travisn commented on #11092
Good discussion points, I went with the second bullet in #11104. Agreed this is optimal since there will be no concern for backward compatibility, and no need for exposing a new setting.

[2022-10-05 19:00] #10219 closed

[2022-10-05 20:22] travisn commented on #11097
@xyxjames Was there an rgw pod running on the node where you provided the public IP? If not, try the host IP where the rgw pod is running. You could also run an rgw pod on each node by increasing the `gateway.instances` in the object store CR and setting pod antiaffinity so they run on different nodes, then put them behind a load balancer such as haproxy.

[2022-10-05 21:20] #11092 closed

[2022-10-05 21:30] abh commented on #11100
Yes, that fixed it! We decommissioned a handful of other nodes since and this scenario didn't reappear. Hopefully if someone else runs into it they'll search the issues and find this.

Thank you, @travisn!

[2022-10-05 21:30] #11100 closed

[2022-10-05 23:19] kierdavis commented on #11092
Nice, thank you!

[2022-10-05 23:45] mgugino-uipath commented on #11068
I hit this again on another run without executing the default zone deletes as well.

[2022-10-06 02:15] #11097 closed

[2022-10-06 07:36] mecseid commented on #11096
Cool, thank you so much @jmolmo and @travisn .
Because it's not an official release, I will wait for the next bugfix version. :)

[2022-10-06 07:58] jmolmo commented on #11096
Duplicate of https://github.com/rook/rook/issues/10995

[2022-10-06 07:58] #11096 closed

[2022-10-06 09:24] LoicGombeaud opened #11114 "The cluster chart can't create an external cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Using the `rook-ceph-cluster` chart, when I try to create a cluster with `cephClusterSpec.external.enable: true`, the creation fails because of the default values : they include entries for `mon`, `dashboard`, `monitoring`, `network`, `disruptionManagement`, `storage`, which is not compatible with an

[2022-10-06 12:58] Sid-22 commented on #6140
Rook Operator version: v1.9.9
Ceph version: v17.2.3

Hi @travisn , We are able to see the changes  in the file /etc/ceph/ceph.conf in all pods (osd,mon,mgr) but still in rook-toolbox pod when we run below command, output shows default value

`ceph config get osd.2 bluestore_cache_size_ssd`

![image](https://user-images.githubusercontent.com/46243481/194317985-427fc12f-3516-4889-aa3e-dc25acd6822f.p

[2022-10-06 14:19] travisn commented on #6140
Looks good, the `ceph daemon` is the actual value, as the toolbox does not have daemon-specific settings that are overridden by ceph.conf.

[2022-10-06 16:41] travisn commented on #11114
Instead of setting a single property with `--set`, how about specifying a the full values.yaml as recommended in the [Rook helm docs](https://rook.io/docs/rook/latest/Helm-Charts/ceph-cluster-chart/#release)? This should allow you to replace the whole cluster spec with the external cluster spec.

[2022-10-06 17:24] #11039 closed

[2022-10-06 17:35] LoicGombeaud commented on #11114
Thanks for the suggestion; this is actually what I do in my workflow, I only used the `--set` to showcase a reproducible example.

Using a `values.yaml` file doesn't solve the issue, because the `cephClusterSpec` map gets merged (and not replaced) with the one defined in the `values.yaml` file of the chart. A possible solution would be to set e.g. `cephClusterSpec.mon` to `null` to unset it, but a

[2022-10-06 18:03] #10518 closed

[2022-10-06 20:55] alimaredia commented on #11031
@BlaineEXE just to go into a little more detail about where Casey was coming from.

Sending a curl request to the RGW invokes the same processing of a http request down the rgw_op code paths  and returning a response to the client as creating a user or a bucket. It's just in the curl case http requests aren't to create a bucket or object and the client receiving the response isn't the aws-go-sdk.

[2022-10-06 20:58] BlaineEXE commented on #11031
Thanks everyone for chiming in. Given the complexity of this task and that I have a bit of time right now, I am going to take this on, hopefully quickly.

[2022-10-07 00:16] ammarzuberi opened #11121 "Switch to host networking on a running cluster"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The documentation states that it's not possible to switch a running cluster using overlay networking to host networking. My feature request is either more documentation around how it could be changed manually and/or support in the operator for redeploying pods with host networking.

**What is use case b

[2022-10-07 12:59] parth-gr commented on #10993
@travisn
Are you telling about this step,
[code]

This was there in the doc I see

[2022-10-07 17:55] LoicGombeaud opened #11126 "Toolbox from the helm chart: simplify setup"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Ensure that the toolbox created by the helm chart `rook-ceph-cluster` works out of the (tool)box (sorry for the horrible pun, couldn't resist).

**What is use case behind this feature:**
It took me a while to figure out:
- why the image used by the toolbox deployment was different from the one used by t

[2022-10-07 20:02] #9832 closed

[2022-10-07 20:09] travisn commented on #10993
Yes, that should do it.

[2022-10-07 23:34] mattster98 commented on #7904
Late to the party, but just just upgraded from 14.something to 16.2.10.  That went smoothly but then ceph health said all OSDs reporting legacy (not per-pool) BlueStore omap usage stats.  I found this issue and set bluestore_fsck_quick_fix_on_mount true and started restarting each OSD one by one.  0-8 went fine, then OSD 9 hung at some point and went into crashloopbackoff.  The last line in the lo

[2022-10-08 05:38] mtt0 commented on #11005
Thanks for your reply~

I changed the OSDs/MGR/MON resource limit to high value (like 4000m, 16Gi) and removed the **resource limit**, both **made no difference**.

The 2 removed **SSDs** were returned to the factory for inspection and **found no problems**, only the firmware was upgraded. So I **rejoined** the 2 SSDs to the cluster and **changed the replica from 1 to 3**.

Now the **Cluster CR**

[2022-10-08 20:08] kerryeon commented on #10160
I think this commit (https://github.com/rook/rook/pull/11109) will resolve the osdprepare memory limit issue.

[2022-10-08 20:47] mdbooth opened #11130 "ceph status reports 'mon a is low on available space' when fs is 8% used"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
`ceph status` reports `mon a is low on available space`, but the mon has plenty of space. Executed directly from the mon pod:

[code]

**Expected behavior:**
A healthy cluster

**How to reproduce it (minimal and precise):**

This is a quickstart setup using cluster-test.yaml on a single node running FC

[2022-10-09 18:40] XtremeOwnageDotCom commented on #5726
@ijackcy

Would be nice if you posted exactly what you did/found to resolve the issue... That way when other people, such as myself, find this issue from googling a very similar issue- it helps us too.

[2022-10-10 07:23] leseb commented on #11031
The simple HTTP check looks much simpler indeed, it feels weaker too. I can think of a scenario where the HTTP succeeds because the radosgw process is running but the backend (OSDs) are not ready or failing. So yes the gateway is up and running but all the requests will fail. That's why checking for data creation is ideal and yes perhaps expensive. There is a liveness probe already IIRC but it doe

[2022-10-10 09:09] shangjin92 commented on #11081
It maybe similar to https://github.com/rook/rook/issues/10110

[2022-10-10 09:29] Madhu-1 commented on #10406
Yes expectation is to set securityContext

AFAIK no workaround

I think all running apps running with nonRoot images will be affected.

i dont think its possible as nothing can control it, only possible solution is using old version of cephcsi.

[2022-10-10 10:05] Antiarchitect commented on #10406
Personally, I've reworked all my pain points and upgraded to the latest Rook

[2022-10-10 12:25] DjVinnii commented on #10719
This problem also occurred to me today. A quick restart of the operator pod did the trick for me.

[2022-10-10 12:42] subhamkrai commented on #10719
missed the track, will back to this. Good to hear it's working for you now

[2022-10-10 13:26] parth-gr commented on #11130
Are you using cluster-test.yaml for your deployment?

[2022-10-10 13:39] mdbooth commented on #11130
Yes

[2022-10-10 13:50] PSTobiasMueller opened #11132 "Can't mount CephNFS exports manual/external"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I can´t mount created persistent volumes that are exports on a nfs Ganesha server create via CephNFS
[code]

**Expected behavior:**
I can mount the exports as described in the [documentation](https://rook.io/docs/rook/v1.9/ceph-nfs-crd.html)

**How to reproduce it (minimal and precise):**
I installed R

[2022-10-10 13:54] travisn commented on #10160
#11109 was included in v1.10.3 and v1.9.12. Removing the memory limits on the osd prepare is expected to resolve this issue.

[2022-10-10 13:54] #10160 closed

[2022-10-10 14:17] mdbooth commented on #11130
This does make the warning go away and solves my immediate problem, thanks! Specifically: changing `mon_data_avail_warn` to 30 in `rook-config-override` and then manually killing the mon pod because it's not updated automatically (at least not when there's only 1 of them).

I wonder if there are a couple of opportunities to improve the UX here, though:

How was the '500M' value being parsed previo

[2022-10-10 15:08] jmolmo commented on #10995
Fix available in quay.io/ceph/daemon-base:latest-quincy-devel .

[2022-10-10 15:08] #10995 closed

[2022-10-10 15:44] BlaineEXE commented on #11132
The first thing I notice is that normally, `rook-ceph-nfs-my-nfs-a` wouldn't be a valid DNS name unless you have set this via some ingress/load balancer. If you haven't specifically done this, you will need the service "address" and not the service "name".

[2022-10-10 16:14] #11130 closed

[2022-10-10 16:38] wjentner commented on #10703
@jmolmo thanks for the info. Yes, that makes sense!

[2022-10-10 17:07] PSTobiasMueller commented on #11132
For the tests I've deployed a ubuntu pod inside the rook-ceph namespace. That's why i could call the service directly.  But i tried it with the ip of the service and the ip of the pod, too. I always get the same error.

[2022-10-10 17:31] mattster98 opened #11135 "Documentation: How to use ceph-bluestore-tool"
* Feature Request

**What should the feature do:**
Document how to run/use the ceph-bluestore-tool in the rook-ceph environment.

**What is use case behind this feature:**
I upgraded ceph and need to update the BlueStore omap usage stats - automatic methods aren't working so guidance is to run the tool manually to see what is going on.  I can't find any explanation on how to run it in this environ

[2022-10-10 17:55] travisn commented on #11135
Yes, you're on the right track with the krew plugin. The procedure would be the following on a running rook cluster:
1. Determine an OSD that needs maintenance
2. Start the [debug pod for the OSD](https://github.com/rook/kubectl-rook-ceph/blob/master/docs/debug.md) with the krew plugin. This will stop the OSD daemon and replace it with a "debug" pod where you can run the ceph tools while the daemo

[2022-10-10 18:31] mattster98 commented on #11135
Wow, once you say it, it seems obvious. :)

Thanks so much!

On Mon, Oct 10, 2022, 1:56 PM Travis Nielsen ***@***.***>
wrote:

[2022-10-10 19:46] travisn commented on #10180
Since Oct 2nd, the [arm64 daily job](https://github.com/rook/rook/actions/runs/3170648893/jobs/5163372806) has been failing with:
[code]

So we need to get the runner back online.

Before that, the error was about [yq not existing](https://github.com/rook/rook/actions/runs/3166709095/jobs/5156611129):
[code]

[2022-10-10 20:02] #10276 closed

[2022-10-11 00:27] ericjee opened #11137 "[Help]It's there a way to recover shared file system that were mistakenly deleted."
Hi Community,  I deleted `CephFilesystems` from my production cluster for some stupid reason. Now MDS is gone, cephfs data pool and metadata are also gone.
Do I get a chance to recover the filesystem? I only got my disk backup for osds.

ceph status, I can see my used capacity keep reducing.
`
  cluster:
    id:     148c8fc8-692f-4a1c-a008-1a83f3fbbb14
    health: HEALTH_WARN
            nobackfil

[2022-10-11 04:14] subhamkrai commented on #10180
The above errors pointed that not all the label machine is available to run on, these labels
https://github.com/rook/rook/blob/b32152455d0662854780444363f63796b5ad026c/.github/workflows/daily-nightly-jobs.yml#L13

can you confirm if we have those runners active

[2022-10-11 06:39] #11132 closed

[2022-10-11 09:28] stronger123456789 commented on #11049
I found below error from CEPH dockers.

debug 2022-09-24 16:08:01.106 7f0f856ea700  0 cephx server client.healthchecker:  attempt to reclaim global_id 24693 without presenting ticket
debug 2022-09-24 16:08:01.106 7f0f856ea700  0 cephx server client.healthchecker:  could not verify old ticket

From: Parth Arora ***@***.***>
Sent: 2022年9月27日 20:53
To: rook/rook ***@***.***>
Cc: Wang, Qiang 3. (NSB -

[2022-10-11 14:18] ideepika commented on #10470
seems interesting, can I pick this one up or is anyone working on it @travisn ?

[2022-10-11 14:29] travisn commented on #10470
Sounds good, it would be good to first have a design doc (even if small) so we can agree on the approach.

[2022-10-11 16:21] travisn commented on #10180
@xin3liang From #7710 it looks like you own the arm64 runner. Is the machine down now? Github says the runner is down. Thanks!

[2022-10-11 17:02] travisn commented on #11137
What pools are remaining? Does `ceph osd pool ls detail` in the toolbox show that the pools still exist or that they were really deleted? By default the filesystem and pools should be preserved in ceph even when the filesystem is deleted, according to [this setting](https://github.com/rook/rook/blob/master/deploy/examples/filesystem.yaml#L44).

[2022-10-11 17:36] travisn commented on #3985
This will be solved by a new command in the krew plugin. See https://github.com/rook/kubectl-rook-ceph/pull/61

[2022-10-11 18:01] BlaineEXE commented on #11031
@alimaredia these are the probes on the RGW deployment. Do these look correct for what we want to rely on here, or should they be changed?

- Startup should tell when the RGW has started successfully.
- Liveness should tell if the RGW stops responding, meaning Kubernetes will kill the pod to have it rescheduled. (This is currently the same check as startup.)
- Readiness determines if the RGW is re

[2022-10-11 20:02] #10573 closed

[2022-10-11 20:12] travisn commented on #10470
The operator really needs to become aware of zones and be able to associate a storage class with each zone. This is very similar to what was implemented for the stretch clusters. In the example [here](https://github.com/rook/rook/blob/release-1.10/deploy/examples/cluster-stretched-aws.yaml#L22-L43), the operator is made aware of the zone names, which one is arbiter. Also not seen in that example i

[2022-10-11 21:31] travisn commented on #11121
The main challenge is converting the mons. The mon IP is a core part of their ceph identity. In a host network cluster, the mons use the host IP, while in a cluster network the mons will use the clusterIP of a K8s service created by the operator. So if you have a host network, you could try the following to convert the mons:
1. Change the setting in the cluster CR from host networking. You'll like

[2022-10-12 02:07] xin3liang commented on #10180
Hi @travisn let me check it.

[2022-10-12 02:33] xin3liang commented on #10180
The runner is down. And I start it then the arm64 daily job is running now.

[2022-10-12 05:46] #11137 closed

[2022-10-12 14:30] travisn commented on #11137
@ericjee Were you able to recover it?

[2022-10-12 14:31] #10712 closed

[2022-10-12 14:33] travisn commented on #10180
@xin3liang Thanks, I see the arm64 test ran today! Now we just need to fix the test.

[2022-10-12 20:20] #11056 closed

[2022-10-13 05:48] microyahoo commented on #11005
I think you can start with:
1. Make sure the ceph status is OK
2. Investigate what caused the osd crash?
3. Try to release the resource limit of mon and mgr
4. Check network and disk performance, because your osd latency is so high.

[2022-10-13 05:54] chauncyAAA opened #11147 "ceph: Dashboard Web no response"
**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**
Dashboard home page should work,and not restart once and once again

**How to reproduce it (minimal and precise):**

install ceph with rook-1.9.12

Log on the mgr pod:
[code]

**Environment**:
* OS (e.g. from /etc/os-release):
[code]
* Kernel (e.g. `uname -a`):
[code]
* Cloud provider or hardware configuration:
[code

[2022-10-13 14:21] travisn commented on #10180
Reopening to investigate remaining issue

[2022-10-13 15:46] tayyabjamadar commented on #11050
Closing since not facing anymore will re-open if see this again.

[2022-10-13 15:46] #11050 closed

[2022-10-13 17:50] BlaineEXE opened #11148 "Convert to a controller-runtime-compatible structured logger"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

The controller-runtime project supports using a `logr`-compatible logger. It would be good for Rook to convert to using controller-runtime's logger, which also means switching to `logr` or a `logr`-compatible logger implementation.

**What is use case behind this feature:**

`logr` is a "structured" lo

[2022-10-13 18:24] BlaineEXE commented on #11148
I did a quick test to see if we could get something that looks a lot more like the current rook logging, and I think it looks good:

https://go.dev/play/p/svrpLNTUkAc

[code]

[2022-10-13 19:09] BlaineEXE commented on #11148
Controller-runtime adds all of this information to the logger by default. I only configured the logger itself to blindly print the args with no processing.

[code]

[2022-10-13 20:15] travisn commented on #11148
If the logs become less readable, IMO it would be a regression that doesn't outweigh the benefits of the structured logging. We've put a lot of effort into making the logging readable which makes troubleshooting more feasible.

I don't doubt that the new logging would help ensure we have all the details of everything that is logged, such as the resource name and namespace it belongs to. But since

[2022-10-14 09:12] parth-gr opened #11149 "Add CI test for external ceph cluster with SSL enabled for RGW"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

The feature should test the `--rgw-tls-cert-path`  functionality on a cluster where SSL enabled for RGW

Steps:
1) Need to figure out how to get ceph cluster where SSL enabled for RGW
2) Test python script using --rgw-tls-cert-path flag

**What is use case behind this feature:**

**Environment**:

[2022-10-14 10:22] alinalex1392 opened #11150 "Rook Upgrade failure from 1.9.4 -> 1.9.9"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook operator cannot upgrade the system to 1.9.9.

**Expected behavior:**
Rook operator should successfully upgrade to 1.9.9

**How to reproduce it (minimal and precise):**

We are upgrading the Rook from 1.9.4 to 1.9.9

Operator image -> rook:v1.9.9

The operator cannot proceed because of the followin

[2022-10-14 10:45] jmolmo commented on #11147
Hi @chauncyAAA : Unfortunately I cannot infer what could be the possible cause. Would you mind to provide more information? Thanks in advance!

Please obtain and provide the output of the following commands:

From your kubernetes cluster:
[code]

From the host where you try to access the Ceph dashboard, access the Dashboard service (use the same url you write in your web browser):
`# curl -vvv htt

[2022-10-14 11:35] gauravsitlani opened #11151 "Documenting steps for capturing coredump of a process"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
- Collect the coredump of a process.

**What is use case behind this feature:**
- For troubleshooting purposes.

**Environment**:

There are 2 cases for capturing the coredump:
1. For a process which is segfaulting
2. Capture the coredump of a live process.

[2022-10-14 12:03] gauravsitlani commented on #11151
1. Here are the steps for the process which is segfaulting:

For example for a monitor pod/process:
- Make sure to check if the pod/deployment has the following securityContext:
[code]
- Take a backup of the deployment.
- Copy the command of the process from the pod from `ps aux|grep <ceph_process>` output
- Remove the startup and liveness probes from the deployment.
- Modify the deployment, remov

[2022-10-14 12:16] gauravsitlani commented on #11151
@travisn @galexrt can you please review the above steps for documentation purposes.

If we can make the above coredump collection process easier, maybe we can automate this in `rook-ceph` krew plugin if possible.

[2022-10-14 14:34] travisn commented on #11150
Does the `rook-ceph-detect-version` configmap exist? If so, please try deleting it then restarting the operator. It seems the operator is not able to delete this configmap, but the error message doesn't have the details about why.

[2022-10-14 14:48] ngangadhar-pki commented on #6819
Thanks @niconical. This worked for me

[2022-10-14 15:50] leseb commented on #10788
Has anyone looked into `/var/lib/systemd/coredump` on the host machine were the rgw is crashing?

[2022-10-14 16:08] travisn commented on #11151
Based on [this comment](https://github.com/rook/rook/issues/10788#issuecomment-1279179168), it's expected for the core dumps to be on the host without any further config from Rook. If we can confirm this, I don't know that we have much to do in rook or krew.

[2022-10-15 13:39] vyom-soft opened #11153 "image: rook/ceph:VERSION"
Kubernetes v1.24.6
In the values.yaml file, For the toolbox what should be the value of VERSION
I used v1.10.3. ToolBox never get installed
MountVolume.SetUp failed for volume "mon-endpoint-volume" : configmap "rook-ceph-mon-endpoints" not found

kubectl describe pod rook-ceph-tools-55d94c94b-6sht7 -n rook-ceph
<img width="1286" alt="image" src="https://user-images.githubusercontent.com/18686082/1

[2022-10-16 09:35] jansmets opened #11155 "crush map not updated after modifying deviceClass of exsting object store pool"
Rook 1.9.12
Ceph 17.2.3

I have an all nvme cluster where I have initially created 2 pools :

[code]

Note that the object store pools do not have a         deviceClass.

The crush map for the block pool is
[code]

The crush map for the rgw DATA pool is:

[code]
So far this is all expected.

Next I changed the object store pools to add `deviceClass: nvme`
The operator logs show this is being picke

[2022-10-16 16:23] uhthomas commented on #7918
Hey, I'm still seeing this issue with the latest version of Rook (v1.10.3).

The Kubernetes cluster was offline for a bit, and is not able to come back up.

[code]

Some OSDs came online, but others didn't and continue to not even after restarting the nodes a few times.

The devices are explicitly requested by `/dev/disk/by-id/scsi-*`, but I understand Rook does not really care about this and tran

[2022-10-16 19:22] XtremeOwnageDotCom opened #11156 "Backups"
The use-case here is quite simple.

There, is little to no documentation on how to properly take backups of rook-ceph's DATA.

Searching through the documentation site, I found this: https://rook.io/docs/rook/v1.10/Storage-Configuration/Block-Storage-RBD/rbd-mirroring/?h=backup#backup-restore

However, there are indeed, no actual steps for backing up Physical data.

My ask is simple- document a si

[2022-10-16 20:02] #10692 closed

[2022-10-16 21:02] alinalex1392 commented on #11150
If I delete it, a new config map name poping up, I tried to also do a script but to no avail, after one day the system is recovered, I presume a sequence on the operator where it deletes those configMaps is the main problem.

[2022-10-17 03:42] AlexHill opened #11157 "Add k8s manifest format option to create-external-cluster-resources.py"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
[create-external-cluster-resources.py](https://github.com/rook/rook/blob/v1.10.3/deploy/examples/create-external-cluster-resources.py) should have a `--format manifest` option which directly generates a valid K8s manifest that describes the K8s resources required to integrate with an external cluster. T

[2022-10-17 06:17] chauncyAAA commented on #11147
[code]
- toolbox command
[code]

- does it works using an incognito window?
[code]

[2022-10-17 08:23] DjVinnii commented on #11153
If I'm correct, the toolbox also uses Ceph images as of Rook v1.10. `quay.io/ceph/ceph:v17.2.3` would be a valid image. There is an open PR to fix this in the Helm charts: #11127

[2022-10-17 08:45] gauravsitlani commented on #10788
@leseb I looked into `/var/lib/systemd/coredump` directory on the host with the default core_pattern i.e. : `|/usr/lib/systemd/systemd-coredump %P %u %g %s %t %c %h %e` during my testing but the coredump file wasn't present.

[2022-10-17 08:45] gauravsitlani commented on #11151
@travisn based on the default kernel core_pattern i didn't find the coredump at the location @leseb mentioned.

[2022-10-17 09:18] jmolmo commented on #11147
@chauncyAAA :
I suspect that something in the k8s nodeport service is causing a wrong redirection.
Can you check if after a couple of "ceph mgr fail" it works?. I explain:

Execute two commands "ceph mgr fail"
Check what is your active manager with "ceph -s". and use the ip address of that node with the port 30871 in your browser. Does it works?

Note: you forget to attach the ceph mgr log

[2022-10-17 09:21] leseb commented on #10788
Can you enable the logCollector and try again?  I think we either need `ShareProcessNamespace` or `HostPID` for this to work correctly.

[2022-10-17 11:16] vyom-soft commented on #11153
I used quay.io/ceph/ceph:v17.2.3 for the toolbox. The same error persist.

toolbox:
  enabled: true
  image: **quay.io/ceph/ceph:v17.2.3**
  tolerations: []
  affinity: {}
  resources:
    limits:
      cpu: "500m"
      memory: "1Gi"
    requests:
      cpu: "100m"
      memory: "128Mi"

`Events:
  Type     Reason       Age                   From               Message
  ----     ------       ----

[2022-10-17 11:19] Madhu-1 commented on #11153
can you please provide `kubectl get pods` output to check is ceph cluster is created and we have all the requried pods?

[2022-10-17 11:22] vyom-soft commented on #11153
@Madhu-1 Thank you.
I don't think it is created.
<img width="572" alt="image" src="https://user-images.githubusercontent.com/18686082/196164639-48298cc3-b494-454f-8da8-1b22c6129b83.png">

[2022-10-17 11:23] Madhu-1 commented on #11153
okay that is the problem, once ceph cluster is created toolbox will go to running state. That is expected.

[2022-10-17 11:33] vyom-soft commented on #11153
Thank you for. I have attached the operator & cluster yaml.
Once the ceph cluster is created. May I know how long it will take to create it?.

[2022-10-17 11:35] Madhu-1 commented on #11153
@DjVinnii what version of Rook you are using? please share rook operator logs and rook operator and cluster yaml outputs.

[2022-10-17 11:55] vyom-soft commented on #11153
I am using Helm chart to install.
Attached is the rook operator log.
I already attached the ceph-cluster-values & operator-values  yaml file above. Please see the same.
[rook-ceph-operator-5-log.txt](https://github.com/rook/rook/files/9800089/rook-ceph-operator-5-log.txt)

[2022-10-17 12:18] parth-gr commented on #11156
Yes there is snapshot functionality available https://rook.io/docs/rook/v1.10/Storage-Configuration/Ceph-CSI/ceph-csi-snapshot/#rbd-snapshots
For rbd and cephfs

@Rakshith-R do you wanna add smtg more to it.

[2022-10-17 12:32] Madhu-1 commented on #11153
value files are not helpful as it doesnt container more details (status), having `kubectl get -oyaml` files helps

[2022-10-17 12:50] gauravsitlani commented on #10788
Hi @leseb after enabling `logCollector` when i killed the RGW process with `kill -6 <pid>` and `kill -11 <pid>` signals, I noticed the coredump files in that directory :
[code]

This essentially means that we need to have logCollector enabled regarding the same. I can test and try for the other daemons and we can update that in the docs.

[2022-10-17 12:53] gauravsitlani commented on #11151
Based on [this comment](https://github.com/rook/rook/issues/10788#issuecomment-1280809186l) i think we should have `logCollector` enabled in order to collect the coredump . @travisn do you think we should have it enabled by default ?

[2022-10-17 13:08] vyom-soft commented on #11153
<img width="428" alt="image" src="https://user-images.githubusercontent.com/18686082/196183049-7d688b29-5f61-40eb-8a36-d89ef1ff371a.png">
[rook-ceph-tools-deployment.txt](https://github.com/rook/rook/files/9800719/rook-ceph-tools-deployment.txt)
[rook-ceph-operator-deployment.txt](https://github.com/rook/rook/files/9800720/rook-ceph-operator-deployment.txt)

Unfortunately no ceph cluster is create

[2022-10-17 14:21] travisn commented on #11150
@alinalex1392 So this issue resolved itself now?

The configmap would be created each time the job runs, it's just not expected to cause an issue. @BlaineEXE any ideas?

[2022-10-17 14:26] travisn commented on #10788
I wonder if we should always enable the needed property so the core dumps would be enabled by default. But at the same time, `ShareProcessNamespace` and `HostPID` are significant privileges to have enabled by default, so maybe we should just document to enable the log collector since that gives the privileges.

[2022-10-17 17:28] uhthomas commented on #7918
The only solution I could come to was to power up the nodes with none of the physical devices, and bring said physical devices online one at a time manually (sliding the caddies in).

[2022-10-17 19:25] travisn commented on #11155
IIRC the deviceClass is only set during initial pool creation and the crush rule will not be updated later. You may need to either delete the pool and create it again to have a clean slate, or you may try updating the device class manually from the toolbox if you can find the needed ceph commands. And we should likely have the operator support the deviceClass update as well.

[2022-10-17 19:39] travisn commented on #11153
Some questions:
- Please share the log for the operator pod
- After creating the helm charts, do you see the cephcluster CR exists? For example: `kubectl -n rook-ceph get cephcluster`

[2022-10-17 20:02] #10390 closed

[2022-10-17 20:23] nirs commented on #10741
Ping

[2022-10-17 22:45] mnaser commented on #9088
👋 @sebastianriese -- have you had a chance to follow up on the rest of this?

[2022-10-18 00:45] XtremeOwnageDotCom commented on #11156
@Rakshith-R  My goal is to quite simply- have a way to backup the data stored in rook-ceph.

Ideally- in a way, that doesn't involve sending data to another ceph cluster.

I have spent quite a bit of time looking for a method to simply- backup the data over NFS, and, so far, I have came up pretty empty handed.

For me- I have a decent TrueNAS Server with tons of spare capacity for backing up thing

[2022-10-18 00:47] XtremeOwnageDotCom commented on #11156
Although, I will note, while doing research during the writing of the above post- I did stumble upon....

https://benji-backup.me/container.html

this seems like it can meet the use-case, and does support rook-ceph.

[2022-10-18 01:43] chauncyAAA commented on #11147
When i execute the command "ceph mgr fail",it works!

[code]
[mamager.log](https://github.com/rook/rook/files/9805691/mamager.log)

[2022-10-18 01:49] MerouaneBen commented on #9179
can we have this PR in the next release, it is very useful for helm chat users. thanks

[2022-10-18 06:48] jmolmo commented on #11147
I think we can improve a little bit the error management in the Ceph dashboard module, but in this case the final result will be the same, ( dashboard is not shown).
In my opinion the problem is linked with the way k8s is managing the https request to the manager module, it would be interesting to have more information about the issue trying to debug the service request.

Would you mind to help me

[2022-10-18 07:17] alinalex1392 commented on #11150
The operator issue is resolved after approx 1 day without any intervention, I presume the problem is in the sequence for deleting and creating those CMs.

[2022-10-18 07:47] use-epoll opened #11162 "ceph-immutable-object-cache"
rook version: 1.9.10
How do I use ceph-immutable-object-cache in rook

[2022-10-18 09:33] Madhu-1 commented on #10658
@rdziwinski can you please shrea the csi-ceph-conf-over content and also exec into the csi-rbdplugin or csi-cephfsplugin container of provisioner pod and share `/etc/ceph/ceph.conf` content also try above steps after restarting rook operator pod.

[2022-10-18 10:42] vyom-soft commented on #11153
Thank you for the attention.
[rook-ceph-operator-5-log.txt](https://github.com/rook/rook/files/9809473/rook-ceph-operator-5-log.txt)

After execution of the above Helm chart command, The cephcluster  CR is not getting created. The toolbox get blocked as mentioned above. I am not sure where I am going wrong.

[2022-10-18 14:02] travisn opened #11166 "Security scan failing in the latest master"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The [Snyk security scan is failing](https://github.com/rook/rook/actions/workflows/synk.yaml) in master and release-1.10 branches. Looks like we need to update the go dependencies.

From the [failure log](https://github.com/rook/rook/actions/runs/3266221432/jobs/5369640484):
[code]

**Expected behavior

[2022-10-18 15:11] #11060 closed

[2022-10-18 15:40] netthier opened #11169 "Cannot use RGW overview in web dashboard"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When clicking on the "Object Gateway" section of the Ceph dashboard, I get the error "Page not found", and a small window at the top-right indicating a 500 Internal server error.
Interestingly, the overview of the dashboard correctly shows "3 total" in the "Object Gateways" box.
**Expected behavior:**

[2022-10-18 15:59] travisn commented on #10631
The CI is passing now against the latest reef images from ceph main

[2022-10-18 15:59] #10631 closed

[2022-10-18 16:04] netthier commented on #11169
Re-creating the `CephObjectStore` object seems to have fixed this.

[2022-10-18 17:09] travisn commented on #11153
Whitespace is a common issue with yaml since indentation must be exact. However, it's not obvious to me in your ceph-cluster-values.txt what the issue is with your spec. Since the cephcluster CR is not being created, something must not be correct in the values.

[2022-10-18 17:26] #10895 closed

[2022-10-18 18:41] travisn commented on #11070
Addressing this scenario is obviously going to take some time to design and implement. Is there any workaround that could be considered in the meantime? For example, could the check for mon identity be relaxed so it could accept rerouted requests to the mons? Or perhaps that doesn't get us very far since without handling it in the monmap, the mons just really wouldn't know how to route the clients

[2022-10-18 18:42] ehassan1312 commented on #4651
I made the same mistake and deleted the PV manually .

How can I cleanup ceph ?

[2022-10-18 19:17] BlaineEXE commented on #11150
@alinalex1392 when posting command history and logs on github, please enclose blocks in triple-grave accents (` ``` `)so they are formatted as shown below. Logs are incredibly difficult to read otherwise. I edited your initial description as best as possible for you this time.

[code]
    example
[code]

[2022-10-18 19:23] BlaineEXE commented on #11150
There is no reported error. It seems to me like there could have been an issue with a Kubernetes component that wasn't registering or following through with the CM deletion.

A description of the configmap that is failing to be deleted would be the best thing to debug that. I don't see it in the logs.

[2022-10-19 01:46] satoru-takeuchi commented on #11095
@abh In my environment (both rook v1.10.2 and v1.10.3) succeeded in create two OSDs.

[code]

Could you show me your cluster.yaml and the OS version (e.g. Ubuntu 20.04)?

[2022-10-19 07:23] Madhu-1 commented on #4651
@ehassan1312 try https://www.mrajanna.com/tracking-pv-rados-omap-in-cephcsi/ you will find a way to track down the mapping between rbd image in the pool and the pv. if the pv is not present delete rbd image and rados object.

[2022-10-19 08:29] subhamkrai commented on #10741
@gauravsitlani FYI this coming from https://github.com/rook/rook/pull/10265/files#diff-896a1fac51e7601b3adacb44cc5397056e4e00f64066c331243d1086f0d2ff64L30

[2022-10-19 08:47] #10775 closed

[2022-10-19 08:52] zeaone opened #11174 "Importance of PDB for Rook"
The usage scenarios of PDB are limited. Protection of the cluster by the PDB except for executing the `kubectl drain` command. Does the production environment need to enable PDB?

[2022-10-19 09:34] Rajpratik71 opened #11176 "Build services with updated go version"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Build services with updated go version

**What is use case behind this feature:**
Twistlock vulnerability scan show a lot of vulnerability in services container image and remedy is to build the services with updated go version or patch version

**Environment**:
In general, applicable to all K8S environm

[2022-10-19 09:48] sp98 commented on #11174
The main use case is to prevent data unavailability or loss that might happen in case of node drain event. For example: OSD pdb will prevent users from draining more than one OSD pods from different failure domain.

It is recommended to use it for the production environment. User can also remove it from the cephCluster CR.

[2022-10-19 11:22] sp98 commented on #11174
Closing this for now. Please open a github discussion or reach out on Rook slack if you want to discuss more about this.

[2022-10-19 11:37] #11174 closed

[2022-10-19 13:18] #11169 closed

[2022-10-19 13:22] parth-gr commented on #11162
This will be a good feature idea, that Rook should have it.

[2022-10-19 13:25] parth-gr commented on #11156
@XtremeOwnageDotCom do you want us to integrate https://benji-backup.me/container.html with Rook operator?

[2022-10-19 13:32] parth-gr commented on #11082
The above output is from your machine, not inside the cluster,

Do you want to have `kill zombie process` feature or what do you aspect from this?

[2022-10-19 13:35] parth-gr commented on #11064
[code]

Have also seen this scenario when installing the cluster and operator manifest

[2022-10-19 13:40] parth-gr commented on #10734
Any reasons why you don't want `hostNetwork` enabled?

[2022-10-19 13:42] parth-gr commented on #11149
Procedure needs to follow

1) Create a root CA
2) Create a certificate  request for the RGW daemon
3) Sign the certificate request using the root CA
4) Create a spec file as described in https://access.redhat.com/documentation/en-us/red_hat_ceph_storage/5/html-single/object_gateway_guide/index#configuring-ssl-for-beast_rgw

[2022-10-19 14:21] travisn commented on #11176
Can you share the Twistlock report? Is it actually finding vulnerabilities in the rook binary, or other files in the image? I suspect most of the issues reported are coming from the [ceph/ceph:v17](https://quay.io/repository/ceph/ceph?tag=latest&tab=tags) image, which is the base image for the rook image.

[2022-10-19 15:06] XtremeOwnageDotCom commented on #11156
@parth-gr  to be honest- I am not sure exactly what I am asking for- Just started learning K8s a few weeks ago.

But- my intended goal- is to have an easy method of backing up this data, to an external location.

Coming from my previous experiences- I half-way expected rook-ceph to have some backups functionality, which is what brought me here.

Longhorn, has this feature, for example- https://sta

[2022-10-19 15:41] hohoqq commented on #10805
@travisn Thank you for this proposal.

Is it impossible to create a bucket claim with the help of S3 API? Our goal is to create many independent repositories controlled via S3 API.

Concerning other limits, except Crush rules. I could not find an information of such restrictions in Ceph. Limiting the number of PGs per OSD can be disabled. And in the [Ceph documentation there are arguments about ho

[2022-10-19 17:02] horazont commented on #9088
We're still working on getting the tests right--as this will depend on Keystone for integration tests, much of the recent work has been on integrating that somehow sensible.

We've still got this on our list and intend to finish it before the end of the year.

[2022-10-19 18:34] #10788 closed

[2022-10-19 18:48] travisn commented on #10805
Are you saying you want to create a bucket claim with the S3 API instead of with the OBC CRD? The S3 API doesn't know about K8s, so maybe I misunderstood the question.

[2022-10-19 19:05] Rajpratik71 commented on #11176
Hi @travisn ,

"Go" related vulnerability got introduced in rook image, in base ceph image only one "Go" related vulnerability is there which also indirect , means came through "rsyslog" package.

Sharing report below

[ceph_v1.9.12-vulnerability-report-external.csv](https://github.com/rook/rook/files/9823430/ceph_v1.9.12-vulnerability-report-external.csv)

[ceph_v1.9.12-vulnerability-report-exter

[2022-10-19 20:02] #10697 closed

[2022-10-19 20:02] Rajpratik71 commented on #11176
Report of latest release

Same Observation, "Go" related vulnerability got introduced in rook image.

[ceph_v1.10.3-twistlock-report-external.csv](https://github.com/rook/rook/files/9823856/ceph_v1.10.3-twistlock-report-external.csv)
[ceph_v17.2.3-twistlock-report-external.csv](https://github.com/rook/rook/files/9823875/ceph_v17.2.3-twistlock-report-external.csv)

[2022-10-19 23:22] travisn commented on #11082
We used to have `tini` running as pid 1 so that the zombies would be cleaned up (removed in #8805), but when we removed it, we didn't anticipate that the ceph daemons would have child processes. @leseb thoughts?

[2022-10-20 01:33] chauncyAAA commented on #11147
[code]

[2022-10-20 01:58] use-epoll commented on #11162
Thanks, I look forward to your good news!

[2022-10-20 06:40] aruniiird commented on #9148
Taking this issue...

[2022-10-20 07:53] Madhu-1 commented on #11156
@XtremeOwnageDotCom Please check do you want whole ceph cluster backup or you want some rbd/cephfs volumes backup?

[2022-10-20 09:57] hohoqq commented on #10805
@travisn Without the ability to create buckets through S3 API, the result is no longer a full-featured S3-compatible storage.

For now I see the only way to provide full S3 functionality, isolation with multiple S3 storages is to create different Pools using one Crush rule. Is it possible to test this option?

[2022-10-20 12:09] XtremeOwnageDotCom commented on #11156
I would prefer having the entire cluster backed up.

[2022-10-20 15:03] #10458 closed

[2022-10-20 15:14] #3985 closed

[2022-10-20 17:39] #11166 closed

[2022-10-20 18:09] travisn commented on #11156
@XtremeOwnageDotCom Backing up a volume is much different from backing up a storage platform. Ceph has many moving parts so it's much more complicated than backing up a volume. Consider these points:
- Ceph provides redundancy and data safety within a cluster through replication, snapshots, toleration for failure in a topology configuration (whole zones or nodes can go down without affecting the d

[2022-10-20 18:17] XtremeOwnageDotCom commented on #11156
@travisn  Understood, I do appreciate the feedback received here-

Having spent the last week or two digging, and researching-

I think either Velero, or Veeam should provide the backup capabilities I am looking for.

[2022-10-20 18:17] #11156 closed

[2022-10-20 20:31] travisn commented on #11176
@Rajpratik71 Could you scan today's release v1.10.4? With #11170 I'm hoping the update to the latest versions of modules will fix a number of issues.

The CI should also be running with the latest version of go 1.18 as seen [here](https://github.com/rook/rook/blob/master/.github/workflows/push-build.yaml#L30). We could try updating that to 1.19 without restricting the go versions to stop supportin

[2022-10-21 07:50] kerryeon commented on #10110
We also had that issue in our environment using `Flatcar OS`.
A problem occurred when configuring a bare-metal cluster using `Kubespray`.

When deploying the cluster, configuring the containerd version `containerd_version` to v1.5.9, the problem was **not** solved.
* In `Kubespray` v2.20.0, the default `containerd` version is v1.6.8.

**Environment:**

    OS : Linux 5.15.70-flatcar
    Kernel : 5

[2022-10-21 12:08] gauravsitlani opened #11196 "rename the master branch to main"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
- Rename the master branch to main

**What is use case behind this feature:**
- In an effort to use more inclusive language, suggesting to rename the master branch to main.

**Environment**:

[2022-10-21 12:16] kerryeon commented on #10110
If the following procedure was completed, the Ceph cluster was able to operate normally with a multiple monitors.

1. After changing **the number of monitors to 1**, distribute the Ceph cluster through Helm, etc.
1. Wait until all Ceph storageclass CRs are in the `Connected` or `Ready` state.
1. Wait for CephCluster CR to become `Ready`.
1. If such all initial deployment tasks are completed, chang

[2022-10-21 13:11] vyom-soft commented on #11153
Thank you for introspection, indeed there was problem with values file, the alignment was not correct.
I after going thoroughly again. I see cluster in progressing state.
[ceph-cluster-dep.txt](https://github.com/rook/rook/files/9839244/ceph-cluster-dep.txt)

<img width="781" alt="image" src="https://user-images.githubusercontent.com/18686082/197203499-7e5a7e86-0d20-4d00-a042-98e83e850c29.png">

[2022-10-21 13:33] travisn commented on #11153
Do you see mon pods now? The toolbox seems to be failing because the mons weren't created, but that doesn't match with the above message that the OSDs are being configured. The operator log may show some error.

[2022-10-21 13:58] 3u13r commented on #10110
Thanks, this workaround also solves the issue for us.

[2022-10-21 13:59] vyom-soft commented on #11153
The operator log
[rook-ceph-operator-log.txt](https://github.com/rook/rook/files/9839644/rook-ceph-operator-log.txt)

[2022-10-21 13:59] travisn commented on #11196
I hope everyone feels we have a very inclusive culture in practice in the rook community. In my view, the name of the branch does not reflect being inclusive or not, but it's about the words and actions of the team members. Given the amount of disruption this would cause for everyone on the project and the pain of renaming the branch, impact on the CI, etc, my vote is to not change it.

[2022-10-21 14:06] subhamkrai commented on #11196
+1

also, I feel like I have finger memory I always type `master` and kind of daily practice now 😅

[2022-10-21 14:28] travisn commented on #11153
The toolbox pod is still crashing? Try deleting and re-creating it.

[2022-10-21 15:10] BlaineEXE commented on #11070
FWIW, this concern is not specifically limited to the monitors, though they are certainly the most important component. We should consider any component that may need to be addressed from both inside and outside of a Kubernetes cluster. Specifically, I think we need to consider the CephFS MDSes. We might consider the MGR as well, though I'm less familiar with this. I don't believe we need to consi

[2022-10-21 19:36] travisn commented on #10805
Buckets can be created already today with the full S3 API, that will work fine. But whoever has those s3 creds to create buckets is an admin, so if you want to have isolated admins, then correct, you would need separate object stores each with their own pools.

Perhaps in the pool spec we could add a property `existingCrushRuleName` that would be used for the pool instead of always using the rule

[2022-10-21 20:02] #10718 closed

[2022-10-21 20:04] travisn commented on #10110
For those hitting this issue:
1. Do yo have memory limits on the pods? They are enabled by default in the [helm chart](https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/values.yaml#L246-L252).
2. If you have limits set, does it help to raise the limits?
3. If you don't have limits set, are the nodes low on resources or could there be resource contention?
4. Has this been a r

[2022-10-21 21:14] travisn commented on #11070
From the discussion earlier today, my takeaway is that there are two overall approaches to consider.

### Fully Addressable

Make all Ceph daemons addressable across clusters. Every mon, osd, and mgr daemon would require an endpoint that is globally addressable. If we are interested in cross-cluster scenarios other than mirroring, those daemons would also need to be addressable. Possible implement

[2022-10-21 21:19] 3u13r commented on #10110
1. We are following the [Rook/Ceph quickstart](https://rook.io/docs/rook/v1.10/Getting-Started/quickstart/#tldr) with `cluster-on-pvc.yaml` so we are directly applying the .yaml files out of the repository. We've also (internally) documented this [here](https://github.com/edgelesssys/constellation/blob/main/.github/docs/nfs.md#deploy-rook). As far as I can see, those don't have limits.
2. (see 1)

[2022-10-22 04:14] ammarzuberi commented on #11121
Thanks a lot for the reply - this does help. However, I don't think I was clear in communicating that I want to switch from overlay networking (calico) **to host networking**, not the other way around as you described.

[2022-10-22 05:39] kerryeon commented on #10110
It's a little different from the current flow, but by using the cluster settings below, I was able to solve the problem of constantly restarting the monitor.

[code]

[2022-10-22 11:19] edwardchenchen commented on #11064
I can confirm I have the same issue
using
[code]
the log in the manager pod
[code]
![image](https://user-images.githubusercontent.com/6397192/197336143-e27592e6-27fb-4ece-b195-c985f7a328e5.png)
![image](https://user-images.githubusercontent.com/6397192/197336151-f9988b78-d609-483a-9651-5a6b9bc38917.png)
and then causing the rook-dashboard service to be exposed in a wrong port
![image](https://user

[2022-10-23 10:09] vyom-soft commented on #11153
After reinstalling toolbox. It is running fine. thank you
<img width="740" alt="image" src="https://user-images.githubusercontent.com/18686082/197386257-62c324f5-1ba0-4a5f-bf8e-489595465a94.png">

[2022-10-23 11:39] vyom-soft commented on #9121
I did deleted the entry  /var/lib/rook still I see
2022-10-23 11:38:50.306918 I | clusterdisruption-controller: reconciling osd pdb reconciler as the allowed disruptions in default pdb is 0
2022-10-23 11:38:59.016680 I | clusterdisruption-controller: all "host" failure domains: []. osd is down in failure domain: "". active node drains: false. pg health: "cluster is not fully clean. PGs: [{StateNam

[2022-10-24 13:11] voarsh2 opened #11201 "MountVolume.MountDevice failed for volume "pvc" :- is still being used"
After  an ETCD restore of the cluster I have several issues around deleting PVC's, but I would need to check if the RBD image for them actually exists.

The main issue I am having is some workloads are not able to use PVC's because of the following error:

MountVolume.MountDevice failed for volume "pvc-df5fa52a-6c5e-4d7e-81aa-275c99affc74" : rpc error: code = Internal desc = rbd image replicapool/

[2022-10-24 13:25] travisn commented on #11153
You have zero OSDs. See [this topic](https://rook.io/docs/rook/latest/Troubleshooting/ceph-common-issues/#osd-pods-are-not-created-on-my-devices) and the osd prepare logs to see how to create OSDs.

[2022-10-24 13:44] travisn commented on #11201
Please give more background on the etcd restore.
1. Is this a test or was there an issue in the production cluster?
2. Were the PVCs created between the time of etcd backup and the restore? If so, some CRs for the volume attachments may be missing.
3. This only affects some PVCs, correct? Can you think of anything else different for the PVCs affected?

[2022-10-24 14:51] Madhu-1 commented on #11201
@voarsh2 please also refer to https://rook.io/docs/rook/v1.10/Troubleshooting/ceph-csi-common-issues/#node-loss if there is node loss/ or node IP's got changed.

[2022-10-24 16:13] senolcolak commented on #11005
Seems like you have trimming issues, by default they are not enabled on rook/ceph
first enable the parameter
[code]
than recreate the OSD pods (delete them, one by one, they will respawn)

[2022-10-24 17:31] #11031 closed

[2022-10-24 18:36] vyom-soft commented on #11153
<img width="563" alt="image" src="https://user-images.githubusercontent.com/18686082/197600277-a522c0e1-057c-4122-8d1d-facfc2b31706.png">

[2022-10-24 18:39] quetdn commented on #10826
Is there any advance on this issue? I am locked in 1.9.9 and I cannot upgrade.

[2022-10-24 19:49] travisn commented on #11064
There seems to be a race condition for the operator to configure the dashboard ssl setting. In a test cluster, I see the operator configured the ssl here:
[code]

In the mgr log, the following is observed. Notice the ssl is first using the default of `ssl=yes` two seconds before the timestamp of the operator setting it to `false`.
[code]

When the dashboard is configured, the module is first enabl

[2022-10-24 20:02] #10731 closed

[2022-10-24 20:02] #10715 closed

[2022-10-24 20:02] #10714 closed

[2022-10-24 21:43] travisn commented on #11155
For example, to change the device class on a pool you could first create a new pool with `deviceClass: nvme`. You won't use this pool, but rook will create the needed CRUSH rule for you.

Then from the toolbox, run a command to update the original pool to use the new CRUSH rule. For this example, let's say the original pool is named `pool1` and the temporary pool is `pool1-nvme`.
[code]

Then if y

[2022-10-24 22:01] travisn commented on #11121
Yes I would anticipate the process is the same either way.

I'm taking a look at how we could make this conversion work more smoothly. In a quick test conversion, the operator was stuck as I suspected after step 1. I'll report back when I find something more helpful on how to get this working...

[2022-10-24 22:56] voarsh2 commented on #11201
No node IP's changed, at the time of ETCD restore, all nodes were were running fine.

Trying to use this PVC just results in container creating (forever) and the error listed in the issue:
"rbd image replicapool/csi-vol-fe8ab815-02a8-11ed-90c3-4e2c2a481635 is still being used"

This was a production environment. There were issues that required restoring ETCD - dangling orphaned CSI snapshots in Ce

[2022-10-25 07:40] Madhu-1 commented on #11201
"rbd image replicapool/csi-vol-fe8ab815-02a8-11ed-90c3-4e2c2a481635 is still being used"

If you are seeing this error in the csi-rbdplugin daemonset pods means some one already holds a lock on this one, if you are sure about that **No one** is using this rbd image you can go and remove the wather, the above paste link will help you.

Same here if someone is using the rbd image cephcsi will not al

[2022-10-25 08:29] zhucan opened #11204 "Need to check the fs whether it's exists"
https://github.com/rook/rook/blob/0937eaee38999ddf3eaf618b5933112dc9128d1b/pkg/operator/ceph/file/controller.go#L248
if we delete the ceph fs with "ceph cmd" and the delete ceph fs from apiserver, because of the ceph fs not in backend storage, so check the dependencies failed, the ceph fs will not be deleted  forever. we need to remove fanalizer manually.

[2022-10-25 09:49] ericinfra opened #11206 "rook-ceph 1.10.4 mon status is abnormal, quorum failed"
**Install the latest version of rook-ceph 1.10.4 on almalinux9.0 kubernetes 1.24, found that the mon election is abnormal, there is always a mon prompt down, and the 6789 port can telnet normally, rook-ceph cluster not working**

**Is this a bug report or feature request?**
* MON Bug Report

**Cluster CR (custom resource), typically called `cluster.yaml`, if necessary

[clusteryaml.zip](https://gi

[2022-10-25 13:45] travisn commented on #11206
There must be something related to the network config. At least everything seems to get connected initially, but if the operator has all the timeouts in the log, it must not be maintaining a connection. A related topic to troubleshoot the connections is [here](https://rook.io/docs/rook/latest/Troubleshooting/ceph-common-issues/#monitors-are-the-only-pods-running), in case it helps.

[2022-10-25 15:22] #10623 closed

[2022-10-25 16:16] mnaser commented on #9088
awesome.  we've got a workaround that works for now at our side in the meantime.

[2022-10-25 16:33] Rajpratik71 commented on #11176
Hi @travisn

Please find the report for  release v1.10.4

Still seeing lots of vulnerability

[ceph_v1.10.4-vulnerability-report-external.csv](https://github.com/rook/rook/files/9862226/ceph_v1.10.4-vulnerability-report-external.csv)

[2022-10-25 16:50] travisn commented on #11176
To see the exact version of go that build a rook version, start the rook operator pod:
[code]

So in v1.10.4, we are using go 1.18.7, which is the latest patch release for v1.18. What I don't understand is why those vulnerabilities are still in the report since the "Fix Status" column shows that they have mostly all been fixed in 1.18.7 or earlier.

[2022-10-25 16:53] Rajpratik71 commented on #11176
Yess, right @travisn  , same I observed.

These issues are not reported by https://github.com/aquasecurity/trivy  and  https://github.com/anchore/grype

[2022-10-25 17:11] BlaineEXE opened #11208 "CephObjectStore in external mode with SSL-enabled RGW does not work"
**Is this a bug report or feature request?**
* Bug Report

I'm trying to configure External mode cluster with SSL enabled for RGW.

In the events I see following error, which seems to be the root cause:
[code]

**Deviation from expected behavior:**

The certificate SSL/TLS certificate is only valid for specific nodes that contain Ceph RGWs. Attempting to address the RGWs via the Kubernetes Service

[2022-10-25 17:13] BlaineEXE commented on #10748
Updated thought: are external mode RGWs affected?

[2022-10-25 20:03] #10467 closed

[2022-10-25 20:03] #9755 closed

[2022-10-25 21:01] travisn opened #11210 "RGW KMS tests take 60s to complete"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
RGW KMS tests are taking too long to complete. They should be completing in seconds, but are taking 60s in the `TestCheckRGWKMS` and `TestCheckRGWSSES3Enabled/Vault_Secret_Engine_is_kv_with_v1` tests.

[code]

**Expected behavior:**
Unit tests should complete in seconds.

**How to reproduce it (minimal

[2022-10-25 21:37] travisn commented on #11210
The `BackendVersion()` function is timing out after 60s since there is no vault to connect to.

[2022-10-25 21:41] travisn commented on #11121
With the change in #11211, the mons will remember their individual network config and be able to continue running after the host network setting is changed. Then the mons could be failed over to the alternate network settings.

[2022-10-26 00:45] voarsh2 commented on #11201
The CSI doc page doesn't have documentation on removing a watcher.

I tried rbd showmapped - and I don't see ```csi-vol-fe8ab815-02a8-11ed-90c3-4e2c2a481635``` as mapped.

I ran this:
[code]

If it were mapped I could do:
[code]

[code]

So, I am not really sure how to remove the watcher.

[2022-10-26 02:22] zhucan commented on #11204
But I think before we check the dependencies, we need to check the cephfs whether it exists.

[2022-10-26 05:42] dhs-rec commented on #10767
Obviously, two months isn't enough for fixing an issue, so please disable that lousy bot or at least give it a longer time period before chiming in.

[2022-10-26 06:40] zhucan opened #11212 "Can not delete an objectstore that if it's status is failure."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**
The objectstore can be deleted successfully

**How to reproduce it (minimal and precise):**
1. Set the name of object store is "os-0f66d936-cd12-430a-841c-de9ea90dbe33"
2. Create the object store with this name
3. The deployment of the rgw will not be deployed but the pools was

[2022-10-26 09:18] hohoqq commented on #10805
Thank you for this suggestion. If I understand correctly, I can just hardcode `crushRuleName = "CrushRule"` in the code for testing purposes. But I don't know how to apply this part of the code to a cluster deployed through a helm chart. Please clarify this moment.

[2022-10-26 10:10] vyom-soft commented on #11153
I have 6 nodes available.
# Ability to override ceph.conf   [ceph-conf](https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/values.yaml#L15)
configOverride: |
  [global]
  mon_allow_pool_delete = true
  osd_pool_default_size = 6
  osd_pool_default_min_size = 4

Can I proceed this configs. To avoid that too many PGs per OSD

[2022-10-26 14:18] travisn commented on #11204
Would you like to open a PR to check for it?

[2022-10-26 15:05] vyom-soft commented on #11153
I edited the rook-config-override and applied it.  kubectl -n rook-ceph edit configmap rook-config-override

And then I read this also [rook-config-override](https://rook.io/docs/rook/v1.9/Storage-Configuration/Advanced/ceph-configuration/#example) i.e I restarted the operator
The changes are not seen in the cluster ?
[rook-config-override.txt](https://github.com/rook/rook/files/9870749/rook-confi

[2022-10-26 15:23] parth-gr commented on #11212
My major concern is
[code]

Object store not creating just because of name error,
i see the c.store.name is big `os-0f66d936-cd12-430a-841c-de9ea90dbe33` which has to be reduced

[2022-10-26 15:28] parth-gr commented on #11212
THis name is probably given by user through CRD which needs to be small by defalut from the user end,

Should be need to add checks for name passing through the crds?

[2022-10-26 15:52] BlaineEXE commented on #11212
The easiest fix for this would be to add validation to the CRD to limit the length of the cephobjectstore name to 38 chars.

[2022-10-26 16:28] travisn commented on #11153
You'll need to look at the osd prepare logs on each node where you don't see an osd pod created. Rook must be skipping the `sdb` devices if they appear in use. If so, try [wiping them clean](https://rook.io/docs/rook/latest/Getting-Started/ceph-teardown/#zapping-devices) again on those nodes where they aren't being created.

Instead of setting those ceph settings in the override, with rook you'll

[2022-10-26 16:31] travisn commented on #10805
You'll need to build a new rook operator image (see the [development guide](https://rook.io/docs/rook/latest/Contributing/development-flow/)), push it to a repository where your cluster has access, then set your image in the values.yaml to apply with the helm chart.

[2022-10-26 16:38] travisn commented on #10767
But aren't you glad it reminded us to work on it? :)

[2022-10-26 17:57] #11027 closed

[2022-10-26 18:01] Rajpratik71 opened #11215 "dependabot workflow automation for updating dependency"

[2022-10-26 18:10] quetdn commented on #10826
Yes @taxilian , I saw that, but I am not sure if it is safe to do it with no risk of losing pools and data.
If you try it, please share it. I have not a test environment to do it.
Also, I hope that rook people will provide us with a proven and safe solution.

[2022-10-26 18:16] travisn commented on #11215
@Rajpratik71 Could you provide more details about the bot?

[2022-10-26 18:24] Rajpratik71 commented on #11215
Hi @travisn ,

@dependabot is used for automatically updating known dependency updates.

It will open a PR if it finds a version update in "go.mod" file.

Mainly it will add automation for updating versions, those PR will automatically got tested by CI.

Earlier it was a separate project but now it is natively integrated with Github as Github acquired it in [2019](https://www.crunchbase.com/acquis

[2022-10-26 18:46] BlaineEXE opened #11217 "Ability to create new RGW AdminOps users"
**Is this a bug report or feature request?**
* Feature Request

### Use-cases
- Environments where there are multiple administrators managing S3 users/buckets manually who should each have different credentials.
- Multi-tenant environments where CephObjectStores in external mode (i.e., using `externalRgwEndpoints`) connect to a "parent" CephObjectStore.

### Benefits
Users may wish to create new a

[2022-10-26 19:07] #11217 closed

[2022-10-26 19:08] BlaineEXE commented on #11217
admin ops users may be able to be created already by specifying caps.

[2022-10-26 19:17] taxilian commented on #10826
I have had several people report no issues doing it. I'll try it soon

[2022-10-26 19:27] travisn commented on #10826
@taxilian Thanks for the verification!

[2022-10-26 20:02] #10713 closed

[2022-10-26 20:02] #9278 closed

[2022-10-26 20:37] travisn commented on #11215
Thanks for the pointer, let's give it a try.

[2022-10-26 20:59] idryomov commented on #11070
It's important to get the terminology right here.  The way I see it, this would be a RADOS gateway, not an RBD Mirror gateway.  This new gateway must be optional, so rbd-mirror daemon should continue to speak RADOS on the backend as it does today.  The new gateway should therefore be a generic RADOS gateway, essentially combining all monitor, manager, OSD, MDS, etc endpoints in a single process th

[2022-10-26 23:06] quetdn commented on #10826
@taxilian , I executed those commands and they worked fine. You were right. Yo can add another success on this workaround. Thanks !!!

[2022-10-27 02:28] zhucan commented on #11212
yes, because of the name is too long,  so we can not delete the objectstore in the faliure status.

[2022-10-27 02:32] zhucan commented on #11204
yes

[2022-10-27 03:36] microyahoo commented on #10767
Is it recommended to use a structure or a pointer for resource `status` in k8s? I noticed that there are two ways to use it in rook. @travisn

[2022-10-27 05:35] dhs-rec commented on #10767
A simple reminder doesn't attach a "wontfix" label to things... ;-)

[2022-10-27 06:59] cupnes commented on #10930
@samos667 Sorry for the late reply. I succeeded to reproduce your problem. This problem happened because the host-based cluster doesn't have host-based cluster doesn't have `expand-bluefs` init container. I guess that you use the host-based cluster. Is it correct?

[2022-10-27 09:24] Rajpratik71 commented on #11176
Hi @travisn,

We found the root cause of the "Go" related vulnerability which got introduced in the rook image.

Twistlock scan was reporting the right issue but not clearly.

The issue was in the "s5cmd" binary, till now v1.4.0 is being used which is a bit old and was built using "Go 1.16".

i.e. why we were seeing a lot of  "Go 1.16" related issues.

I updated "s5cmd" to "v2.0.0" at #11223

[2022-10-27 12:52] leseb commented on #11208
A few questions:

- Have we considered allowing insecure TLS? for `CephObjectStoreUser`, I believe libbucketprov allows it already so users could work around that problem
- Aren't we breaking the transparency promise between managed and external clusters? One goal was to provide the same experience, thus creating a Service with the endpoint slice.
- I wonder if we have a list of what we "lose" by

[2022-10-27 13:48] travisn commented on #11153
You need quotes around the "4" in parameters. I know it's confusing since `size: 6` does not need quotes around the 6.

[2022-10-27 13:54] #11215 closed

[2022-10-27 14:14] voarsh2 commented on #11201
No one can tell me how to mount this rbd/volume so I can fsck it?

[2022-10-27 14:59] Madhu-1 commented on #11201
If you are trying it from the toolbox pod you need to try it from the direct-mount jobhttps://rook.io/docs/rook/v1.10/Troubleshooting/direct-tools/?h=map+rbd#start-the-direct-mount-pod

[2022-10-27 15:14] voarsh2 commented on #11201
Thanks for the heads up - I was able to mount and fsck the image.

[2022-10-27 15:25] parth-gr commented on #11212
I was also thinking the above validation also for `labels`

[2022-10-27 15:31] BlaineEXE commented on #11208
I wonder if Kube DNS does anything at all given the struct's description:

[code]

[2022-10-27 15:51] BlaineEXE commented on #11208
Can we do this for an external RGW where Rook can't control its configuration? I have assumed not, but I may be wrong.

In some ways, I think the proposed changes are more transparent. But they do break the promise of being the same experience for both cases for sure. That's an important consideration.

One thing of note is that the Endpoint we create can't route to another Service in my testing (

[2022-10-27 17:34] #11121 closed

[2022-10-27 19:06] vyom-soft commented on #11153
Thank you for the attention. I did not use the min_size as. I went ahead without it. I think it is not working even after surrounding with quotes. I used the replicated with size 6.
I did cleaned up as per suggestion. ([wiping them clean](https://rook.io/docs/rook/latest/Getting-Started/ceph-teardown/#zapping-devices))

As of now the status is still in WARN

And in the operator log .
| op-osd: wai

[2022-10-27 19:17] travisn opened #11235 "Log rotate sidecar should run as ceph user"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The log rotate container needs to create the security context for the ceph user to avoid running as root.

**Expected behavior:**
All ceph daemon containers are expected to run as the ceph user id 167.

[2022-10-27 19:24] taxilian commented on #10749
This is really needed, please don't mark it as won'tfix!

[2022-10-27 20:02] #10515 closed

[2022-10-27 21:16] BlaineEXE commented on #10749
Would it make more sense to allow a `port` configuration for the CephNFSes?

[2022-10-27 21:43] BlaineEXE commented on #11208
I joined the RGW upstream sync today and got some clarification. Indeed, Rook can use insecure TLS for the connection. This is certainly an option. However, I think this may not be something we want to do realistically. Using an insecure connection means that Rook would be susceptible to man-in-the-middle attacks. My inclination is to prioritize security over a consistent experience.

In an attemp

[2022-10-28 01:42] satoru-takeuchi commented on #10860
In addition to finding the root cause, I'm trying to find a workaround.

[2022-10-28 03:04] taxilian commented on #10749
I'm not sure what you mean by that; the issue is that if you use host networking for your ceph cluster (which is recommended in several places in the documentation) then it will use host networking for any NFS pods that are created.... but if you do that, then it tries to use the NFS ports on the host network as well. On my network that renders the NFS pod unusable because I have NFS shares on my

[2022-10-28 12:58] netthier commented on #11169
Experiencing this again with a different object gateway, this time I dont have the possibility of recreating it since it already contains data.
Errors are exactly the same

[2022-10-28 15:05] #11196 closed

[2022-10-28 18:17] travisn commented on #9660
Still seems an issue

[2022-10-28 18:19] travisn commented on #11169
Shall we track with #9660? It looks similar.

[2022-10-28 20:02] #10568 closed

[2022-10-28 22:16] BlaineEXE commented on #11208
I created an external mode CephObjectStore and confirmed that when a Service is created with no selectors and the Endpoints object is created manually with IPs in the `addresses` field, Kubernetes doesn't do any health checking to ensure the endpoints are reachable. None of the addresses move to `notReadyAddresses`, and curl calls to the service sometimes succeed and sometimes fail. It appears tha

[2022-10-30 20:02] #10773 closed

[2022-10-31 06:05] clcc2019 opened #11242 "create pool error"
<img width="839" alt="image" src="https://user-images.githubusercontent.com/46099295/198941643-bb131a40-9694-498b-8844-d4bff2f355a9.png">

The rbd pool created by the three mon clusters will cause the mon cluster to be abnormal, the cpu of the ms_dispatch process is high, and a large number of bad file descriptor errors. Redeploying the cluster of a single mon everything works fine

[2022-10-31 06:06] clcc2019 commented on #11242
[code]

[2022-10-31 06:07] clcc2019 commented on #11242
<img width="797" alt="image" src="https://user-images.githubusercontent.com/46099295/198942334-d3f37209-2a41-4aa9-893d-bc8bfde91188.png">

[2022-10-31 06:10] clcc2019 commented on #11242
<img width="1511" alt="image" src="https://user-images.githubusercontent.com/46099295/198942749-b1b67402-36db-4e0a-996e-d17eb09656fe.png">

[2022-10-31 06:10] clcc2019 commented on #11242
<img width="1511" alt="image" src="https://user-images.githubusercontent.com/46099295/198942811-d1577411-8d0e-467d-aee3-43e64235005e.png">

[2022-10-31 12:49] nexus2204 commented on #10487
Same error here in the csi-rbdplugin container:
`1 cephcsi.go:196] Failed to get the PID limit, can not reconfigure: could not find a cgroup for 'pids'`

[2022-10-31 13:38] rdziwinski commented on #10658
Hello, here you go:
<pre>
rdziwinski@dell:~$ k get cm csi-ceph-conf-override -o yaml
apiVersion: v1
data:
  ceph.conf: |
    [client]
      ms_crc_data=false
      ms_crc_header=true
kind: ConfigMap
</pre>
<pre>
rdziwinski@dell:~$ k exec csi-rbdplugin-provisioner-6c6684798-lrlww -c csi-rbdplugin -- cat /etc/ceph/ceph.conf
[client]
  ms_crc_data=false
  ms_crc_header=true
</pre>
Now is great becaus

[2022-10-31 14:05] parth-gr commented on #10487
I hope PID limit is just a configuration, what I remember @Madhu-1 , and this log doesn't say there would be any failure,
Did you see your cluster in a bad state?

[2022-10-31 14:21] parth-gr commented on #11242
Can you plz share the operator logs?

[2022-10-31 14:22] Madhu-1 commented on #10487
Yes its only failure about PID limit configuration

[2022-10-31 14:59] gregsfortytwo commented on #11070
While I'd love to not have to develop a separate CephFS gateway, this wasn't the impression I had from that discussion — I thought we were talking about the rbd mirror daemon growing some kind of protocol (or, more probably, a wrapper interface somewhere in its code base?) to handle this.

Happily, in further discussions it sounds like we can get the full networking we need with GlobalNet and sett

[2022-10-31 16:06] parth-gr commented on #10810
@manikanth04 can I know your progress on this? Are you planning to open a PR?

[2022-10-31 18:46] avanthakkar commented on #10810
/assign @avanthakkar

[2022-10-31 20:02] #10706 closed

[2022-10-31 20:10] taxilian commented on #10734
I'm not the one without `hostNetwork` enabled, but I can think of a few reasons off the top of my head:

1. If you install your rook cluster without `hostNetwork` enabled there is no easy way AFAIK to change it -- you're stuck unless you can rebuild your cluster

2. There are still at least some things which simply aren't yet fully usable with `hostNetwork` -- specifically I'm thinking of #10749 w

[2022-11-01 02:56] clcc2019 commented on #11242
<img width="1507" alt="image" src="https://user-images.githubusercontent.com/46099295/199148642-c65ec926-7997-4788-9451-02cbe2e040a9.png">

[2022-11-01 03:08] clcc2019 commented on #11242
operator is normal

[2022-11-01 07:28] greatljn opened #11253 "rook-ceph not starting properly on kylin V10 SP1"
rook Version：1.7.7
ceph Version：16.2.5
system Version：Kylin V10 SP1
kernel Version: 4.19.90-17.ky10.x86_64
Kubernetes Version：1.16.8
the rook-ceph cluster started at  first
![image](https://user-images.githubusercontent.com/17653563/199180330-9d404c47-1ea6-4974-beaf-e1290e92541e.png)
but then we found the obc we created stuck at pending status
![image](https://user-images.githubusercontent.com/176

[2022-11-01 07:49] mtt0 commented on #11005
Thanks for your reply~~~!  So sorry for the delay.
I modified config map `rook-ceph-override` as https://github.com/rook/rook/issues/6964:
[code]

`ceph config show osd.0`:

<img width="1785" alt="image" src="https://user-images.githubusercontent.com/17849741/199180116-51aa7ea3-7f7d-4226-8155-bc229828c5f1.png">

But `ceph osd perf` ... still remain the same:
<img width="467" alt="image" src="https

[2022-11-01 08:13] senolcolak commented on #11005
One more step left.
After changing the parameters the OSD pods needs to be restarted. The configuration is not applying the changes directy. You need to delete(they will be recreated) the OSD pods, the ceph executable will run with the trimming parameter.. wait for some time 1-2 h and the problem would be vanished.

[2022-11-01 08:20] mtt0 commented on #11005
Yes, I deleted the OSD depolyments and they were recreated. Now it makes no difference, I'll wait 1-2h to see the changes~

Thank you verh much !

[2022-11-01 08:21] mtt0 commented on #11005
Yes, I deleted the OSD depolyments and they were recreated. Now it makes no difference, I'll wait 1-2h to see the changes~

Thank you verh much !

[2022-11-01 08:27] pbkh-kimheang commented on #2987
@Madhu-1  can I have a question here?

[2022-11-01 08:40] senolcolak commented on #11005
can you enter to the OSD pods and issue
`fstrim -av`
if the parameter works you should not see GB's of trimming values. I am still suspicious that trimming is not activated on your pods.

[2022-11-01 10:20] samcday commented on #10110
Hello, we've noticed this issue with FCOS as well. We have some bare metal that was running a Ceph cluster just fine on stock Ubuntu 22.04. Same hardware exhibits this issue under stable FCOS 36.20221001.3.0 (`5.19.12-200.fc36.x86_64`).

As mentioned, the bare metal was running a 5 node Ceph cluster (all nodes running mon quorums, 1-2 OSDs each, and sharing mgr/rgw/mds duties) just fine on Ubuntu

[2022-11-01 10:29] Madhu-1 commented on #2987
@pbkh-kimheang are you using csi pod networking and fuse client?

Please share the rook version you are using and also the below output

* Rook operator pod logs
* kubectl get cm rook-ceph-csi-config -nrook-ceph -oyaml output

[2022-11-01 12:38] clcc2019 commented on #11253
As far as I know it's a compatibility issue

[2022-11-01 14:21] travisn commented on #11253
@greatljn Does the rook operator log also show timeouts or other errors?

[2022-11-01 14:32] travisn commented on #11242
@clcc2019 This sounds very similar to #10110

[2022-11-01 15:12] travisn commented on #11235
Completed with #11219

[2022-11-01 15:13] travisn commented on #11235
Actually, #11219 just addressed the crash collector

[2022-11-01 16:26] kerryeon commented on #11242
Yes, obviously. Exactly the same symptoms.

[2022-11-01 20:37] travisn commented on #10829
Rather than track this effort with an issue, we can update the docs over time as we touch related areas

[2022-11-01 20:37] #10829 closed

[2022-11-02 00:28] clcc2019 commented on #11242
Yes, we are all linux distribution systems, not centos, debian, ubuntu。

[2022-11-02 01:24] pbkh-kimheang commented on #2987
@Madhu-1. Sir. I am not sure it is my first time working on it.

https://github.com/ceph/ceph-csi/tree/devel/examples#running-cephcsi-with-pod-networking
- This part I really don't understand.
- I have 3 Kube nodes, Do I really need Demonset? I see all of them sometimes active and sometimes not.

Here is the result output, I don't think my kubernets server using rook.
![image](https://user-images.

[2022-11-02 01:32] pbkh-kimheang commented on #2987
@Madhu-1
How I test is: I download and deploy it as in the example.
I did not do anything related to pod networking.
I just deploy it.
Do I need to do other things? I am sorry.

[2022-11-02 03:07] pbkh-kimheang commented on #2987
![image](https://user-images.githubusercontent.com/49144089/199386082-b9535cae-6ca0-4228-b700-be3abae8588f.png)

[2022-11-02 03:14] pbkh-kimheang commented on #2987
What is wrong, Sir?
![image](https://user-images.githubusercontent.com/49144089/199387046-65f09a23-1a69-4174-bef3-3ca26d4911ca.png)

[2022-11-02 04:03] greatljn commented on #11253
yes, it will show ceph get version or status timeout, and radosgw-admin create/get user timeout
![image](https://user-images.githubusercontent.com/17653563/199392894-608bdaed-439c-4ff4-b805-1a79f84cf713.png)

[2022-11-02 04:03] greatljn commented on #11253
thanks, we will try some other way

[2022-11-02 04:06] greatljn commented on #11253
Do you know what exactly causes the compatible problem？

[2022-11-02 04:54] pbkh-kimheang commented on #2987
@Madhu-1 when Demonset on Kubenode 1 failed, The deployments created on kubenode 1 cannot finding cephfsplugin to mount and it status is `pending`.
But when deployment is created on node 3 (demonset on node3 is running fine). it status is `wating` and the log is:
https://github.com/rook/rook/issues/2987#issuecomment-1298206301

[2022-11-02 05:05] pbkh-kimheang commented on #2987
@Madhu-1  do I need to install `ceph-fuse` on Kubernetes server?

[2022-11-02 07:55] Madhu-1 commented on #2987
please remove netNamespaceFilePath https://github.com/ceph/ceph-csi/blob/devel/examples/csi-config-map-sample.yaml#L65 entry from configmap and try. please open issue in https://github.com/ceph/ceph-csi repo as you are not using Rook.

[2022-11-02 08:31] pbkh-kimheang commented on #2987
@Madhu-1 . Thank you, sir.
After I remove `netNamespaceFilePath`, the deployment working fine and it is the log:
![image](https://user-images.githubusercontent.com/49144089/199438120-9ffbff8a-46b5-4846-8597-673d00592dd9.png)
But I don't think it mount to cephfs successfully because I don't see anything in mount directory `/var/lib/www/html` of this deployment
https://github.com/ceph/ceph-csi/blob/

[2022-11-02 08:38] Madhu-1 commented on #2987
If the pod is running means the subvolume is mounted, you can exec in to the pod and run `df -h` and see ceph is mounted to `/var/lib/www/html`. its a fresh subvolume when you created a PVC, not sure what you expect to see in the mount directory.

[2022-11-02 08:40] pbkh-kimheang commented on #2987
@Madhu-1 Thank you, Sir.
It works fine now after I test.
Thank you so much for your support!

[2022-11-02 10:29] mtt0 commented on #11005
Thanks for your time very very much~!

I tried in  Rook Ceph OSD Pod, but it complains `fstrim: /etc/hosts: not a directory`

So I run `fstrim -av` on all k8s worker node which mount RBDs, one of results:

<img width="1798" alt="image" src="https://user-images.githubusercontent.com/17849741/199465723-c215d708-6000-4532-b850-c87d9fd5cf1f.png">

`ceph osd perf`:
<img width="474" alt="image" src="htt

[2022-11-02 11:12] pbkh-kimheang commented on #2987
@Madhu-1 Sir.
I am sorry again for your inconvenience.
On the above I test on Minikube it work fine (stand alone)
But in real k8s I have 3 node.

- Node 1 : failed
- Node 2: `driver-registrar` -> failed
- Node 3: running success

I tried to create deployment and assign to Node 3 but I cannot mount success.
Here is the log:

[code]

Could you help please?

[2022-11-02 11:53] Madhu-1 commented on #2987
Looks like you dont have the cephfs kernel client; please have it installed. The fuse client is not production ready for now, we have some issues with it.can you Please open an issue in cephcsi repo with more details?

[2022-11-02 16:10] #11151 closed

[2022-11-02 16:23] travisn commented on #11253
What do the logs for the rook-ceph-mgr-a pod show? That pod seems to be crashing and restarting frequently. It shouldn't cause all the failures you're seeing, but perhaps it is related.

[2022-11-02 20:15] travisn commented on #11235
After working through this, running the logrotate container as the ceph user is complicated with the following:
- The `/etc/logrotate.d/ceph` config file is from the base ceph container. The log rotate container modifies the config before running `logrotate`. If we need to modify this file, an init container needs to chown that file, copy it to a temporary directory in an empty directory volume, t

[2022-11-03 02:37] pbkh-kimheang commented on #2987
@Madhu-1 Excuse me, Sir.
I am not sure ` cephfs kernel client` means installing `ceph-fuse`?

[2022-11-03 03:27] pbkh-kimheang commented on #2987
@Madhu-1  Sir.
Sorry, on the server (stand-alone) that I use minikube, I did not additionally install ceph-common and ceph-fuse but it works fine.
Is it related to the Kubernetes version?
- minikube: v1.23.3
- my real deploy kubernetes: v1.18.12

[2022-11-03 04:01] pbkh-kimheang commented on #2987
Sir.
on this driver: https://github.com/ceph/ceph-csi/blob/devel/deploy/cephfs/kubernetes/csidriver.yaml#L11
`fsGroupPolicy` does not known on k8s v1.18 so I remove it. Can it be the problem?

[2022-11-03 04:22] pbkh-kimheang commented on #2987
[container (4).log](https://github.com/rook/rook/files/9925608/container.4.log)
Here is the log of Driver registrar on node 1.

[2022-11-03 04:22] pbkh-kimheang commented on #2987
[code]

[2022-11-03 07:13] greatljn commented on #11253
sometimes, the mgr pod just quit without any logs
and other times, it started for a while and then show logs as below
![image](https://user-images.githubusercontent.com/17653563/199664732-3c86448f-9777-40b9-b62d-423db7dc2a56.png)

[2022-11-03 07:23] clcc2019 commented on #10110
Create 3 mons normally, check the mon node process after initialization, you will find that ms_dispatch and fn_monstore will have cpu 100% problem, and pg pool is being created at this time. Quickly kill these two processes ceph cluster is normal

[2022-11-03 08:02] clcc2019 commented on #11253
Create 3 mons normally, check the mon node process after initialization, you will find that ms_dispatch and fn_monstore will have cpu 100% problem, and pg pool is being created at this time. Quickly kill these two processes ceph cluster is normal.

[2022-11-03 09:27] Madhu-1 commented on #2987
fsGroupPolicy does not known on k8s v1.18 so I remove it. Can it be the problem?

If it's not supported you can remove it

Is it related to the Kubernetes version?

Minikube comes with cephfs kernel client in the ISO image, can you please tell me where you are deploying kubernetes cluster and what is the base OS on the machine?

@pbkh-kimheang please open a new issue here https://github.com/ceph/c

[2022-11-03 10:13] pbkh-kimheang commented on #2987
@Madhu-1 Thank you, Sir.
I will create the isseue soon.
I get it so Minikube is the full set.
The base OS is Ubuntu 16.04 sir.

[2022-11-03 11:06] pbkh-kimheang commented on #2987
@Madhu-1 I have created the issue, sir.
I don't know how to write it well.
Please check it.
https://github.com/ceph/ceph-csi/issues/3493

[2022-11-03 13:32] senolcolak commented on #11005
My pleasure @mtt0 , I hope I can help you solve your problem.

I think your situation is, your SSD's got overloaded. My last suggestion would be to zero (wipe) your SSD's and put them back to the cluster again.
6-7 Years ago that worked for us, we were using Glusterfs on SSD's and after some time (6-10 months) the SSDs become performing incredibly bad. We wiped them and readded them to the cluster

[2022-11-03 14:01] yajo opened #11258 "Crash loop for CrashCollector for not supporting taint `node-role.kubernetes.io/control-plane=:NoSchedule`"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
If one of my nodes have the taint `node-role.kubernetes.io/control-plane=:NoSchedule`, the operator attempts to schedule its crashcollector pod, which fails always.

I managed to workaround the problem by adding this configuration to the cluster:

        placement:
          all:
            toleratio

[2022-11-03 14:55] #11059 closed

[2022-11-03 16:04] XtremeOwnageDotCom opened #11262 ""Zombie" host lingering"
![image](https://user-images.githubusercontent.com/5262735/199770459-04c9d36c-582a-4a7c-a8fa-ef789d968ec9.png)

Issue is- the host "kube04" does not exist.

The node itself, was completely removed from the cluster.

[code]

[code]

There is no lingering OSD for this host.

Clicking on the host, yields an error.

![image](https://user-images.githubusercontent.com/5262735/199771432-fa4253ed-4e61-4a5

[2022-11-03 16:07] XtremeOwnageDotCom commented on #11262
Fixed my own issue-

Found a lingering reference in rook-ceph-mon-endpoints, and removed it.

[2022-11-03 16:07] #11262 closed

[2022-11-03 16:46] #11212 closed

[2022-11-03 16:55] travisn commented on #11258
@yajo The crash collector pods are expected to start on each node where a ceph daemon pod (mon, mgr, osd, mds, rgw) is running. Are those pods running on the tainted nodes as well? It would be unexpected if the crash collector daemon  were started on tainted nodes with no other ceph pods.

[2022-11-03 17:15] bootc opened #11265 "Ability to set resources on discovery DaemonSet"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
It should be possible to set `resources` on the `rook-discover` DaemonSet / Pods.

**What is use case behind this feature:**
I have a cluster where it's particularly important to be able to manage resource requests/limits for all pods, and the `rook-discover` pods are the only ones I seem to be unable t

[2022-11-04 02:59] ikogan commented on #10748
So I have an external mode RGW and I'm having trouble. I do have my own CA but it looks like external mode RGWs completely ignore any certificate related flags in the `CephObjectStore` CRD. I tried specifying `caBundle` and it still claims it cannot validate the cert even though `openssl` in another pod (with a proper ca-bundle setup) can validate the cert against the service the operator created.

[2022-11-04 07:09] mtt0 commented on #11005
@senolcolak Thank you~! I'll try it. Have a good day~

[2022-11-04 09:24] yajo commented on #11258
Yes, they are.

[2022-11-04 11:46] greatljn commented on #11253
I ran in kubernetes, and didn't find ms_dispatch and fn_monstore in osd pods

[2022-11-04 14:08] parth-gr commented on #11265
Does the resources property for `rook-discover` should be listed in CLuster CR, asking this because it is created during operator directly not exposing any other details from the cluster

[2022-11-04 14:19] travisn commented on #11258
The crash collector has tolerations that are added from the same tolerations that had been applied to the ceph pods as seen [here](https://github.com/rook/rook/blob/master/pkg/operator/ceph/cluster/crash/reconcile.go#L193-L203). When the crash collector was not starting due to the lack of tolerations, the other ceph pods had the tolerations, right? They should have been picked up.

[2022-11-04 14:33] travisn commented on #11265
The discover daemon is started similar to the csi driver, it corresponds to the overall operator and not to the cephcluster CR. So these resources would follow as similar pattern as the other [discovery settings](https://github.com/rook/rook/blob/master/deploy/examples/operator.yaml#L544-L568).

[2022-11-04 15:22] yajo commented on #11258
I think that the main problem was that I first deployed rook, and later I added the taints to those nodes. Strangely, all pods kept running instead of becoming faulty.

Later, when upgrading Rook, it attempted to recreate some pods, and then it became unable to schedule them.

[2022-11-04 17:29] travisn commented on #11258
Understood now, the tolerations needed to be applied before applying the taints in order to continue uninterrupted.

[2022-11-04 18:00] jansmets commented on #11155
For reference,
I had one pool that was created with deviceClass: nvme and other pools without it.
For te 'apps' pool the crush root was 'default~nvme'.
Having pools with different crush roots breaks the pg autoscaler.

[code]
Te resolve I first renamed the existing crush rule:
`ceph osd crush rule rename apps apps-nvme`
Then created a new crush rule with the correct root: (`default` instead of `de

[2022-11-04 22:06] taxilian commented on #10748
@ikogan AFAIK until this is fixed your best bet is to use an ingress controller for RGW access

[2022-11-04 22:17] ikogan commented on #10748
Yeah, mostly I'm looking for the ObjectBucketClaim automation, which also won't work here because the controller can't validate the cert. At the moment this is in a PoC environment so I'm just not using tls 😓

[2022-11-05 00:39] taxilian commented on #10748
right -- you use the ingress controller to provide TLS and don't use TLS on the RGW pod itself

[2022-11-05 20:03] #1950 closed

[2022-11-06 09:32] yajo commented on #11258
Then I guess this was my fault. Seems like `NoSchedule` doesn't have an effect if it was previously scheduled. Weird, I thought k8s was "declarative". Thanks anyway!

[2022-11-06 09:32] #11258 closed

[2022-11-07 00:09] satoru-takeuchi commented on #10860
You can resolve this problem after encountering this problem.

1. Stop the operator pod by `kubectl scale deloy rook-ceph-operator --replicas=0`
2. Stop the osd pod by `kubectl scale deploy rook-ceph-osd-<osd ID> --replicas=0`
3. Delete the simlink to the device file corresponding to the problematic OSD, in your case, `/var/lib/rook/rook-ceph/<osd id>/block`
4. Restart the osd pod by `kubectl scal

[2022-11-07 09:12] BinaryWorld2099 opened #11272 "install jenkins in K8s with rook-ceph, with error "failed to provision volume with StorageClass "rook-ceph-block": rpc error: code = Internal desc = rados: ret=-22, Invalid argument: "invalid pool layout 'replicapool' -- need a valid data pool"""
I was trying to install jenkins with three replica and Access Modes ReadWriteMany in PVC, in K8s with rook-ceph,
with error "failed to provision volume with StorageClass "rook-ceph-block": rpc error: code = Internal desc = rados: ret=-22, Invalid argument: "invalid pool layout 'replicapool' -- need a valid data pool""

below is my yaml config
---
apiVersion: ceph.rook.io/v1
kind: CephFilesystem
me

[2022-11-07 09:17] zhucan commented on #11272
The pool whether it's exists? and the status is? please run "rados lspool" and show the results.

[2022-11-07 09:18] Madhu-1 commented on #11272
@BinaryWorld2099 can you please paste below output from the toolbox pod?

`ceph -s`
'ceph fs ls`

and more over you are mixing both rbd and cephfs terminologies in storageclass.

[2022-11-07 09:19] Madhu-1 commented on #11272
Delete storageclass and PVC and Remove the below from your storageclass and recreate storageclass and PVC

[code]

[2022-11-07 09:21] BinaryWorld2099 commented on #11272
![image](https://user-images.githubusercontent.com/106383882/200273667-cd5514b5-be27-44e9-a486-d671a4afc3b5.png)

[2022-11-07 09:23] BinaryWorld2099 commented on #11272
Trying you suggestion

trying your suggestion, thanks

[2022-11-07 09:25] BinaryWorld2099 commented on #11272
pool: replicapool
provisionVolume: "true"
imageFormat: "2"
imageFeatures: layering

[2022-11-07 09:55] lerminou commented on #10860
Hi @satoru-takeuchi, Yes this is my actual workaround,
but the cluster is unavailable during the detection/fix frame

[2022-11-07 13:27] parth-gr commented on #11265
./assign

[2022-11-07 14:31] travisn commented on #11258
Taints are certainly more disruptive than the average declarative state

[2022-11-07 17:51] #11208 closed

[2022-11-07 18:52] travisn commented on #10734
Note that with #11211 (included in v1.10.5), Rook will allow the host networking setting to be updated. More validation of this conversion would be helpful if you have a test cluster you want to try it on.

@BlaineEXE Like RGW, makes sense to allow configuration of only the nfs daemon to use host networking if desired.
@Alan-huan If nfs supported host networking without the entire cluster using ho

[2022-11-08 00:23] yan636 commented on #11201
Is there a fix for this?

[2022-11-08 01:05] BinaryWorld2099 commented on #11272
seems working now, thanks
Where can I check the related configuration?

[2022-11-08 01:07] BinaryWorld2099 commented on #11272
One more thing,
What does "ret=-22" means in the error message?

[2022-11-08 08:26] Madhu-1 commented on #11272
please refer to https://rook.io/docs/rook/v1.10/Getting-Started/example-configurations/#shared-filesystem

[2022-11-08 08:26] #11272 closed

[2022-11-08 08:28] Madhu-1 commented on #11201
What fix are you looking for? If it's for `is still being used,` its a safer check to avoid corruption, there is no automated way of recovery, it still needs admin intervention.

[2022-11-08 08:29] Madhu-1 commented on #11201
Closing this onf as user is able to mount and run fsck on the image and able to recover

[2022-11-08 08:29] #11201 closed

[2022-11-08 18:33] vumrao opened #11282 "[RFE] Ceph cluster logs should go to separate log files not in monitor log files"
[RFE] Ceph cluster logs should go to separate log files, not in monitor log files

Version of all relevant components (if applicable):
ODF 4.x

This feature will make sure that rook deployed Ceph has the default behavior that a default Ceph deployment will have.

In Ceph the cluster logs are very important from a troubleshooting point of view and for now in the rook deployed cluster these logs go

[2022-11-08 20:22] travisn commented on #10944
Resolved with #10943

[2022-11-08 20:22] #10944 closed

[2022-11-08 20:42] travisn commented on #11282
There was some discussion in the past related to this in #9580. The takeaway was that all the info was available in the single log, so why separate it? Keeping a single log per daemon simplifies the log rotation as well.

If we look at an extract from the mon pod log, we see the different debug, audit, and cluster logs together:
[code]

Would it not be simple enough to grep for the needed prefix i

[2022-11-09 07:32] satoru-takeuchi commented on #10860
Great.

Of course, I'm trying to create a PR to fix this problem.

[2022-11-09 13:33] seastranger opened #11284 "Support for encrypted image volume expansion"
**Is this a bug report or feature request?**

*Bug report
We are using following versions:
rook-ceph:
  image:
    tag: v1.9.4
cephcsi: v3.6.1
registrar: v2.5.0
provisioner: v2.2.2
snapshotter: v3.0.3
attacher: v3.4.0
resizer: v1.4.0
**Expected behavior:**
Encrypted volume can be expanded
When trying to expand encrypted volume, the resizing fails and error event is generated:
**Deviation from expe

[2022-11-09 13:38] Madhu-1 commented on #11284
This has been supported in cephcsi for a long time. Can you check the cephcsi version you are using?

[2022-11-09 13:39] seastranger commented on #11284
v3.6.1

[2022-11-09 13:40] seastranger commented on #11284
which version starts supporting it ?

[2022-11-09 13:40] Madhu-1 commented on #11284
Can you paste ceph-csi rbdplugin container logs from the rbd provisioner pod

[2022-11-09 13:41] Madhu-1 commented on #11284
As per https://github.com/ceph/ceph-csi/releases/tag/v3.4.0 its supported in 3.4.0

[2022-11-09 13:47] seastranger commented on #11284
[csi-rbdplugin.log](https://github.com/rook/rook/files/9971599/csi-rbdplugin.log)
i can see there the log:
[code]

[2022-11-09 14:15] seastranger commented on #11284
i have tested in another cluster with newer version of ceph, and the issue does not reproduce there.
thanks and sorry for bothering!

[2022-11-09 14:15] #11284 closed

[2022-11-09 14:27] #10810 closed

[2022-11-09 14:45] mikelsid opened #11286 "Readiness probe endpoint for RGW returns 404"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rgw container fails to start due to readiness probe returning 404

**Expected behavior:**
container starts normally

**How to reproduce it (minimal and precise):**

Apply attached CR on rook v1.10.5

**File(s) to submit**:

* ObjectStore CR:
[code]

**Logs to submit**:
* Crashing pod(s) logs, if necess

[2022-11-09 15:55] BlaineEXE commented on #11286
I suspect an issue with the RGW since the probe hasn't changed.

We'll need 2 things to continue:
- full pod describe for the RGW pod instead of the cropped output
- logs from the RGW pod

[2022-11-09 15:59] BlaineEXE commented on #10489
Resolved by #11208

[2022-11-09 15:59] #10489 closed

[2022-11-09 16:33] BlaineEXE commented on #10515
Resolved by https://github.com/rook/rook/pull/11124

[2022-11-09 17:16] #10650 closed

[2022-11-09 20:02] #10851 closed

[2022-11-10 01:32] peng225 opened #11291 "CI fails intermittently on TestHelmUpgradeSuite test"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

TestHelmUpgradeSuite test failed repeatedly as follows.
https://github.com/rook/rook/actions/runs/3429367420/jobs/5722535828

[code]

This test is kicked by the following backport PR.
https://github.com/rook/rook/pull/11287

But it also occurs on other backport PR's CI.
https://github.com/rook/rook/ac

[2022-11-10 12:35] virtualluke commented on #11206
We are seeing what seems to be the same problem.  The operator logs on cluster creation have all the same timeouts.

All versions are as above except on rh 9 as the OS.

For us, it took 3-4 hours for the timeouts to be clear enough that all OSDs were up and in and then they have stayed up and in.
We still are consistently getting a mon to drop out and rejoin after some amount of time.

The operato

[2022-11-10 12:56] parth-gr commented on #11291
https://github.com/rook/rook/actions/runs/3436742359/jobs/5730628343 It ran fine on my latest push,
Looks like a intermittent, you can re-run the test

[2022-11-10 13:25] satoru-takeuchi commented on #11291
This test failed in #11287 seven times. However, it might be resolved by some reasons. I'll try again.

[2022-11-10 14:25] travisn commented on #11291
Sometimes I have seen that to get a clean test run we need to force push to the branch instead of re-running the same job. This issue does seem intermittent though, not related to #11287.

[2022-11-10 14:59] #11265 closed

[2022-11-10 20:11] virtualluke commented on #11206
perhaps related to: https://github.com/rook/rook/issues/10110 ?

[2022-11-10 22:22] travisn commented on #11291
I went ahead and merged #11287. The tests are passing in master since #11268 was merged. Let's keep an eye on this test to see if it becomes consistent besides that PR though.

[2022-11-10 22:27] travisn commented on #11291
It looks like the helm upgrade test on K8s 1.19 is failing consistently only in the release-1.10 branch since #11202 was backported, but in the master branch it is passing.

[2022-11-10 22:37] travisn commented on #11291
The error seems related to `status.endpoints` on the object store:
[code]

[2022-11-10 23:17] ausias-armesto opened #11297 "OSD prepare job cannot create volumes with alias /dev/mapper"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The kubernetes job `rook-ceph-osd-prepare-<server-name>` is not able to complete correctly when trying to create a OSD whose device is created by a LVM and has an alias starting by `/dev/mapper`. The job fails trying to create a `ceph-volume`

It looks like the assumption taken in this PR #4285  is not

[2022-11-11 08:11] Voolodimer commented on #3595
I have the same problem, after logining in `rook-ceph-mon-c` container i try to get `monmap_config` using `ceph mon getmap` and i get similar error:
[code]
Can anyone help me ?

[2022-11-11 08:29] #11153 closed

[2022-11-11 09:10] Voolodimer commented on #3965
I have the same problem, after logining in `rook-ceph-mon-c` container i try to get `monmap_config` using `ceph mon getmap` and i get similar error:
[code]
I want to change ip-addresses on monitors.
Can anyone help me ?

[2022-11-11 15:13] travisn commented on #3965
@Voolodimer Mon IPs cannot be changed. If you need new IPs, you can [failover the mons](https://rook.io/docs/rook/latest/Storage-Configuration/Advanced/ceph-mon-health/#failing-over-a-monitor) to get new IPs. I'd suggest opening a new [Discussion](https://github.com/rook/rook/discussions) or joining the rook slack for further questions.

[2022-11-11 21:35] travisn commented on #10939
Fixed with #11008

[2022-11-11 21:35] #10939 closed

[2022-11-13 07:28] kerryeon commented on #10110
When I changed the container runtime from `containerd` to `docker`, everything worked fine. It seems that the problem is caused by the `containerd + minor Linux distribution` combination.

[2022-11-13 13:15] rmvangun opened #11302 "Setting configOverride fails in rook-ceph-cluster Helm chart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Setting `configOverride` value in rook-ceph-cluster chart results in the following error as the configmap has already been created:

[code]

**Expected behavior:**
Setting `configOverride` value in rook-ceph-cluster chart successfully creates a `rook-config-override` configmap

**Environment**:
* Helm

[2022-11-13 20:02] #10905 closed

[2022-11-13 22:04] haslersn opened #11304 "OSD prepare job fails with KeyError: 'KNAME'"
I removed a broken OSD following the [guide](https://rathpc.github.io/rook.github.io/docs/rook/v1.4/ceph-osd-mgmt.html#remove-an-osd). Then I deleted the corresponding block-mode PV, PVC, and OSD Deployment. Then I closed the OSD's LUKS volume via `cryptsetup close` and wiped the disk via `wipefs -a`. Afterwards I recreated the PV and expected Rook to automatically recreate the OSD. However, the O

[2022-11-14 00:11] reefland commented on #5358
Had `rook-ceph-osd` pod stuck in `CrashLoopBackOff` after attempting to adjust OSD RAM Limit below 2Gi (based upon Goldilocks recommendation from watching prometheus) on a small K3S cluster. Got the error below, seems the important part is `FAILED ceph_assert(r >= 0)` which as noted above is a memory condition.

Bump up to `2Gi` and OSD started right up.  Hope this helps someone else who comes acr

[2022-11-14 02:30] zeaone commented on #3754
Can you describe in detail the changes in controller-runtime before v1.3? Like how was it implemented before v1.3?

[2022-11-14 07:45] alexandersm commented on #10110
Docker is deprecated , therefore it is not a option anymore. I confirm the same issue on my Kubernetes 1.25 cluster with ```containerd ```

[2022-11-14 07:46] samcday commented on #10110
Slightly off-topic, but this isn't 100% true, please see https://github.com/Mirantis/cri-dockerd/releases/tag/v0.2.6

[2022-11-14 13:37] parth-gr commented on #11304
It looks like a cep error,
@travisn we should move this to ceph team?

[2022-11-14 13:40] parth-gr commented on #11302
Can share more details on how the config map was before and what you have updated,

Seems like the upgrade might fail because the formatting was not in the correct manner and would be missing some mandatory values.

[2022-11-14 16:59] travisn commented on #11302
Helm adds a couple annotations to all the resources it owns. Look at the annotations the other resources have for helm, then add those to the configmap before installing the helm chart. And we should add these annotations to the rook docs too.

[2022-11-14 17:48] travisn commented on #11304
@haslersn It sounds like something may not have been fully cleaned up on the disk. Can you check again with the cleanup guide for [zapping the disk](https://rook.io/docs/rook/latest/Getting-Started/ceph-teardown/#zapping-devices)?

[2022-11-14 18:56] haslersn commented on #11304
I tried it. Specifically, I deleted the PV and PVC again and then followed the guide:

[code]

(The `blkdiscard` command failed, which is probably because the SSD is attached to an LSI HBA instead of onboard.)

Then I recreated the PV, deleted the previosly failed prepare Job and restarted the `rook-ceph-operator` Deployment. Rook created a new PVC binding to the PV and a new prepare Job. The prep

[2022-11-14 20:02] #10928 closed

[2022-11-14 20:02] #10924 closed

[2022-11-14 20:02] #10907 closed

[2022-11-14 22:32] travisn commented on #11162
Reading through the ceph docs on [immutable cache](https://docs.ceph.com/en/pacific/man/8/ceph-immutable-object-cache/) and an [RCHS 5 explanation](https://access.redhat.com/documentation/en-us/red_hat_ceph_storage/5/html/block_device_guide/management-of-ceph-immutable-object-cache-daemons#doc-wrapper), I don't see how it could be configured with Rook. The client would need to connect via libceph

[2022-11-14 22:53] travisn commented on #11304
After wiping the disk could you also restart the node? The node restart has been found necessary in some cases, though would really like to understand the root cause and avoid it if possible.

[2022-11-14 22:59] jalajk24 commented on #11149
Can I proceed on this issue? I am new to open source and don't know a lot on how to proceed with this.

[2022-11-14 23:27] travisn opened #11312 "Snyk security report incorrectly reporting a failure"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The [Snyk CI](https://github.com/rook/rook/actions/workflows/synk.yaml) is failing due to a recent CVE:
- [Sync Failure](https://security.snyk.io/vuln/SNYK-GOLANG-GITHUBCOMROOKROOK-3112358) for [CWE-250](https://cwe.mitre.org/data/definitions/250.html)
- [CVE-2022-3931](https://www.cve.org/CVERecord?id

[2022-11-15 01:51] use-epoll commented on #11162
Just a suggestion, for example, if I deploy rook-ceph with immutable cache enabled, the ceph_immutable_cache_daemon can be started on the corresponding or tagged node and the socket files can exist in the host's file system namespace in the form of a host mount directory. The ceph_immutable_cache_daemon can also be configured via ceph.conf

[2022-11-15 02:14] jclab-joseph opened #11313 "Is it a bug that failureDomain doesn't change?"
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**

Replaced failureDomain in CephBlockPool or CephObjectStore .
It is detected. but it does not change.

is this a bug? Is this intentional?
If that's intended, I think the Operator should at least throw an error.

**Expected behavior:**

crush_rule should change. (Or throw an error)

**How to reproduce it

[2022-11-15 07:14] parth-gr commented on #11162
BUt how should rook do this if you can explain, What I see in the [docs](https://access.redhat.com/documentation/en-us/red_hat_ceph_storage/5/html/block_device_guide/management-of-ceph-immutable-object-cache-daemons#explanation-of-ceph-immutable-object-cache-daemon_block) is we need to run this cmd on host `[root@ceph-host1 ]# vi /etc/ceph/ceph.client.ceph-immutable-object-cache.user.keyring` so h

[2022-11-15 11:53] Voolodimer opened #11314 "OSD in CrashLoopBackOff - start interval does not contain the required bound"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
mons, osd, mds pods don't start after moving the K8S cluster to another network
**Expected behavior:**

**How to reproduce it (minimal and precise):**
I changed all the IP addresses in my cluster nodes and then I started all the nodes.
After that, 3 mon's, 3 osd, mgr, mds didn't work for me.
Then I rep

[2022-11-15 14:03] parth-gr commented on #11313
According to the rook Ceph-block-pool-crd [docs](https://github.com/rook/rook/blame/master/Documentation/CRDs/Block-Storage/ceph-block-pool-crd.md#L194)  I can see the failureDomain can be changed.

Can you update the logs of the operator and what is the failuredomain and to what you are trying to change it.

But I see this feature is introduced from 1.8 so you need to update the rook version for

[2022-11-15 14:07] jclab-joseph commented on #11313
Thank you.
Rook I used is out of date, so I close the issue.

[2022-11-15 14:07] #11313 closed

[2022-11-15 16:06] BlaineEXE commented on #11149
I was planning on taking this up. I have several files that should help us in testing already set up from my manual tests. @jalajk24 perhaps I could `@` you on the PR, and you could see an example and ask questions to help get started with Rook?

[2022-11-15 18:24] travisn commented on #11314
@Voolodimer Have you tried deleting the OSD pods so they can get a clean start? (Don't delete the OSD deployments, just the pods so they can restart)

[2022-11-15 18:38] travisn commented on #11162
I'm thinking the following approach is our best hope:
- Rook starts a daemonset for the immutable cache daemon. It mounts a host path that other clients can access.
- The client application pod mounts the same host path
- The client's ceph.conf is updated with the needed ceph settings for librbd to connect to the cache. I would hope this would work with the [CSI ceph.conf](https://rook.io/docs/roo

[2022-11-15 20:05] Voolodimer commented on #11314
@parth-gr
1. Operator log https://pastebin.com/zL8Um6dm
2. Unfortunately now I can only deliver the log OSD-1 https://pastebin.com/J3gsFajf, OSD-0 in "activate" state

[2022-11-15 20:10] Voolodimer commented on #11314
@travisn I deleted 2 pods (osd-1 and 0sd-2) and it caused the same error

[2022-11-16 00:06] BlaineEXE commented on #11162
I wonder if it could also be run as part of Ceph-CSI. It could be a sidecar for the driver (not provisioner), and then Rook wouldn't have to create a new daemon type or coordinate where to mount the files on the host: they would just be in the CSI driver pod.

[2022-11-16 00:18] ubombi commented on #10914
Faced similar issue. Dashboard has hardcoded IP addresses.  Initial page was almost opening, then JS was trying to call cluster IPs.

simple kill (restart) of provider pod helped.