[2018-05-13 19:35] ticruz38 opened #1715 "the server could not find the requested resource (get clusters.rook.io)"
**Bug Report**

What happened:
On rook-operator pods log

What you expected to happen:

How to reproduce it (minimal and precise):
Initiated with kubeADM, Using calico CNI, and scaleway provider on 3 start1M machines

**Environment**:
* OS (e.g. from /etc/os-release): Ubuntu 18.04
* Kernel (e.g. `uname -a`): Linux kube1 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64 x86_64 x8

[2018-05-13 19:48] ticruz38 commented on #1715
Scaleway recently changed their machine and infrastructure, do you think it could be related to a firewall settings?

[2018-05-13 20:28] galexrt commented on #1715
@ticruz38 Which manifests did you use to create the operator?
I suspect that you are using an old manifest which uses the `master` tag for the operator and which do not contain the CRDs and other components that the operator nowadays does not create anymore (but are created through the cluster admin).

Can you verify that you either have Rook operator running on `0.7.1` and used the https://github

[2018-05-14 10:22] jcsp opened #1716 "Base discovery inventory of devices on ceph-volume"
**Bug Report**

Built+installed master Rook on an existing baremetal cluster, checked the configmap output from the new drive detection code (https://github.com/rook/rook/pull/1637).

The resulting output has "empty: true" for all the hard drives in the system, including two drives already used by a baremetal Ceph cluster, and the OS drive.

Seems like the code is just reporting drives as empty if

[2018-05-14 17:03] ashayh opened #1717 "Helm is unable to install rook-alpha/rook -- fails to parse template version string."
**Bug Report**

What happened:

_Tried to install rook-operator from alpha repo._

What you expected to happen:

_Helm should install rook-alpha operator._

How to reproduce it (minimal and precise):
[code]
**Environment**:

* Cloud provider or hardware configuration:
Google
[code]

* Rook version (use `rook version` inside of a Rook Pod):
_NA -- Ceph not installed_

* Kubernetes version (use `kub

[2018-05-14 21:39] #1701 closed

[2018-05-15 04:18] kc8apf commented on #1472
I just ran into this as well.  Looks like the ClusterRoleBinding was created for rook-agent in the default namespace rather than in rook-system.

[code]
'kubectl edit clusterrolebinding rook-agent' and changing it to rook-system namespace get it all working.

[2018-05-15 04:31] jbw976 commented on #1472
Thanks for explaining how you fixed this @kc8apf!

Do we have an understanding of why the `ClusterRoleBinding` for `rook-agent` is getting created in the wrong namespace sometimes?  It would be nice to either fix the root cause so this doesn't happen anymore, or to create a [common issues](https://github.com/rook/rook/blob/master/Documentation/common-issues.md) entry to help others fix this issue

[2018-05-15 07:15] Coolfeather2 commented on #1027
Any way to recover?

[2018-05-15 16:17] rootfs commented on #1716
cc @travisn

[2018-05-15 16:19] batrick opened #1720 "Rook should not enable experimental multi-filesystem flag by default"
This is related to #1027 which we are backporting.

The Ceph team does not consider multifs stable yet and we're not even certain it will be stable for the N release. Whatever service Rook is providing that creates multiple file systems needs to be considered experimental.

cc @travisn

[2018-05-15 19:30] jbw976 opened #1721 "rook.io/block provisioner does not persist volume config"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:  The rook volume provisioner does not persist the configuration for volumes that it creates, so if the operator is ever restarted, it will not be able to delete or clean up any persistent volumes.

Every time a volume is provisioned, the config for **that** volume is stored in memory only, such as the cluster nam

[2018-05-15 19:30] jbw976 commented on #1721
This could have been what was being seen in #1592

[2018-05-15 20:04] travisn commented on #1720
since multiple file systems will be considered experimental for some time still, agreed that we should disable multiple file systems by default. This could be done by an environment variable to the operator similar to [these](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-operator.yaml#L186). If false, the operator would only create the first file system that is requeste

[2018-05-15 20:47] #1542 closed

[2018-05-15 21:18] travisn commented on #1665
@jbw976 right, i've seen the PR status get updated after the build is restarted.

[2018-05-15 23:10] #1623 closed

[2018-05-16 10:58] ajarr commented on #1720
@travisn  can you please add the 'ceph' and 'filesystem' labels to this issue

[2018-05-17 00:32] kfox1111 commented on #997
Any update on this issue?

[2018-05-17 00:53] JeromeGe commented on #1646
@galexrt I do not want to delete the oprator, just want to delete the cluster and recreate it. block and file resources have not yet been created.

[2018-05-17 01:38] travisn commented on #1646
@JeromeGe are you by chance running the 0.7 build? I believe there is a fix since then that will allow you to delete a cluster and create a new one without deleting the operator.

[2018-05-17 16:19] iMartyn opened #1724 "Incorrect cluster definition should not DOS apiserver."
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:

What you expected to happen:

How to reproduce it (minimal and precise):
Create a cluster definition with the basic yaml but a slightly wrong spec e.g. don't specify "path:" in "directories:" :
[code]
This causes rook to constantly request the spec without a backoff and DoS apiserver.  I could not retrieve logs

[2018-05-17 20:46] ticruz38 commented on #1715
thanks it worked as you said, I used an older version

[2018-05-17 20:46] #1715 closed

[2018-05-17 23:27] tonya11en opened #1725 "build: Replace /bin/bash with /bin/sh"
**Feature Request**

**Are there any similar features already existing:**
No.

**What should the feature do:**
Replace /bin/bash in our scripts with /bin/sh.

**What would be solved through this feature:**
/bin/sh is standardized and exists in environments without bash.

**Does this have an impact on existing features:**
No

[2018-05-17 23:56] #1725 closed

[2018-05-18 00:31] aaronmcohen opened #1727 "Discovery pod fails when /dev is mounted read only"
**Bug Report**

What happened:

[code]

What you expected to happen:

- [ ] Graceful exit
- [ ] Document the behavior in a rook troubleshooting section on the quick [start page](https://rook.github.io/docs/rook/master/quickstart.html)

How to reproduce it (minimal and precise):

1.  mount /dev read only on kubernetes worker
2. git clone rook master branch
3. cd cluster/examples/kubernetes
4. kubec

[2018-05-18 00:32] aaronmcohen commented on #1727
See https://rook-io.slack.com/archives/C46Q5UC05/p1526599038000092 for root/cause analysis of the issue

[2018-05-18 07:27] sdkfzv opened #1728 "OSD is marked 'DOWN' after killing OSD pod multiple times"
I'm not sure whether it's a bug or not. Just set it as a bug first.

* Bug Report

**Bug Report**

What happened:
I create the cluster with "rook/cluster/examples/kubernetes/rook-operator.yaml" and "rook/cluster/examples/kubernetes/rook-cluster.yaml"

After the cluster is up, I write about 200GB data with object storage.
Then I restart the osd pod several times by using "kubectl -n rook delete po

[2018-05-18 09:38] euiko commented on #1652
I'm also experiencing the same issue on scaleway, is there an update?

[2018-05-18 14:55] fabianvf commented on #1314
Tracking issue has been closed it seems, should we create and apply a specific SCC with proper permissions for the operator?

[2018-05-18 15:10] travisn commented on #1314
I should have updated this issue sooner. Yes, by creating a new scc and with a few Rook code changes I am now able to get a Rook cluster running. I'll open a PR for this today. What I have still been investigating is to test that it works end to end. I have not been able to get a flex volume to be loaded in my minishift or docker for mac environments. I'd like to think it is just a simple configur

[2018-05-18 15:13] #1720 closed

[2018-05-18 15:17] travisn commented on #997
@kfox1111 automation for the upgrade has not been started yet. The plan is to work on the automation after a beta has been declared. Until then we are documenting the manual steps for upgrade with each release.

[2018-05-18 20:00] kfox1111 commented on #997
Any timeline on the beta (rough. like, 1 month, 6 months, a year... )?

[2018-05-19 09:08] mvasilenko commented on #1707
probably hit the same issue here,
env is different
Cloud provider `OpenStack`, Linux `Ubuntu 16.04.4`, Kernel `4.10.0-28-generic`, Ceph `ceph-12.2.5`, Kubernetes `v1.9.5`, Kubernetes cluster type: `kubespray`

rook-cluster.yaml
[code]

[code]

Expected result: 3 OSD up, actual result: one random OSD is down. If I wipe it's disk, I can connect it later as 4th OSD.

The docker container of failed OS

[2018-05-19 10:07] shamalco commented on #1692
@galexrt Sorry getting back to you late, I was out. Please find the outputs requested:
[code]
I will attempt to upgrade from 0.7.0 to 0.7.1 as request and will come back with the feedback.

[2018-05-19 11:02] shamalco commented on #1692
@galexrt No change I upgrade everything to 0.7.1 but no changes its still failing and trying to pull latest.
[code]
But I resolved the problem in strange way, I change the hung mon4 to 0.7.1 using:
`kubectl -n warehouse set image replicaset/rook-ceph-mon4 rook-ceph-mon=rook/rook:v0.7.1`
and then deleted it, its recreated the mon4 change stated to running then prompted terminated itself. Now the mo

[2018-05-19 11:16] shamalco commented on #1692
Sorry I was talking too soon, I just notice mon4 is trying to spinning up and then crash looping, and then vanishing again, not sure what to do now? Below is the logs from the rogue mon4 crashing:
[code]

[2018-05-19 17:33] jbw976 commented on #1588
I like this idea @inv8r because it helps with backups, disaster recovery and multi-cluster/multi-cloud scenarios.

[2018-05-19 18:43] jbw976 commented on #1627
@Ulexus can you help me better understand the resiliency of a bluestore OSD after losing both its database and write ahead log?  Can the OSD recover at all, or would it have to be entirely scrapped? That would have a big impact on how we'd need to deal with losing the metadata disk on a node. Thanks!

[2018-05-19 19:13] Ulexus commented on #1627
I do not have an authoritative answer, as I have not looked at the code, but my understanding from experiment and personally-constructed model is that the OSD would be scrapped.  It may be theoretically possible to recover the data in the same sense that you can recover data from a filesystem whose table is corrupt, but it seems that that would be impractical as a standard practice.

[2018-05-19 19:15] Ulexus commented on #1627
I don't believe bluestore changes this general operation.  Bluestore was mainly about replacing the custom-designed store with a more modern, more standard key-value store to obtain better performance and maintainability.  (Again, this is my perception as an outsider looking in.)

[2018-05-19 19:26] Ulexus commented on #1627
Of course, I should say that you are correct:  the _deployment_ characteristics are different.  Bluestore's storage metadata is integral.  It's deployment-modeled metadata is actually its WAL, as you mention, and I don't actually see any reason that _that_ should have to scrap the OSD on its loss.

I don't actually know what the practical result of the loss of the WAL is, though.  I don't have exp

[2018-05-22 18:42] aaronmcohen opened #1731 "Update RBAC documentation for allowPrivilegeEscalation"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
[code]
What you expected to happen:

How to reproduce it (minimal and precise):
* Follow [Quickstart](https://rook.github.io/docs/rook/master/quickstart.html) guide for installing rook
* Follow [RBAC](https://rook.github.io/docs/rook/master/rbac.html) instructions for creating a privileged-psp-user and rook-agen

[2018-05-22 18:42] aaronmcohen commented on #1731
See https://rook-io.slack.com/archives/C46Q5UC05/p1527014018000596

[2018-05-23 13:16] emedina opened #1732 "Add taint configuration to the rook-discover DaemonSet"
Is this a bug report or feature request?
Feature Request

**Feature Request**
Currently, when setting the `tolerance` for the `rook-operator` through the use of the env variable `AGENT_TOLERATION`, the DaemonSet `rook-agent` gets the toleration, but not the `rook-discover`.

What should the feature do:
Similar to this for OSDs:
https://github.com/rook/rook/blob/7230ad71d0b420b699a4967761d1e209c958

[2018-05-23 13:18] galexrt commented on #1713
@patrickstjohn Would it be enough to add a `imagePullSecret` to "all" components created by the Rook operator?
So that an admin "only" needs to create the Secrets in the namespace(s) where the cluster and other components (rook-agent, rook-discover) will run in.

[2018-05-23 14:30] civik commented on #1706
I think you would need to do far more testing for your specific use case to determine if there is an actual 3x performance degradation.  In this particular test you are trying to keep 16 threads 16 deep in the queue doing small random I/Os to a single file. Is that actually the IO pattern of your workload?

Without doing any analysis, I'd guess what you are seeing here is the performance differenc

[2018-05-23 14:37] liewegas commented on #1706
Generally speaking, you'll see somewhat better performance from RBD vs CephFS because with RBD all of the file system metadata is managed at the client side, whereas most CephFS metadata updates require a round trip to the MDS (it's a shared file system).

Whether it's inevitable depends on your workload.  For things like streaming writes you should see similar throughput.  What are you using to g

[2018-05-23 14:41] civik commented on #1706
^ Listen to that guy

[2018-05-23 15:20] benceszikora opened #1733 "Block storage using erasure coding doesn't work"
**Bug Report**

What happened: When trying to use block storage with an erasure coded pool I get the following errors in the operator:
[code]

What you expected to happen: The volume is created and attached.

How to reproduce it (minimal and precise):
Apply:
[code]
And create a pod with a PVC using rook-block.

From what I understand based on [https://www.spinics.net/lists/ceph-users/msg39489.html

[2018-05-23 18:15] #1622 closed

[2018-05-24 05:46] JeromeGe commented on #1646
@travisn I'm using the v0.7.0-118.gbfd48e2 version and have this problem too.

[2018-05-24 08:53] benceszikora commented on #1733
@tonya11en I was using an older version that I thought, I'll give it a go on master now, thanks!

[2018-05-24 15:29] benceszikora opened #1738 "Rook OSD doesn't use devices that it "owns""
**Bug Report**

What happened: The OSD refuses to use some devices as it thinks it doesn't "own" them:
[code]

What you expected to happen: Rook realizes that it owns the devices and starts using them.

How to reproduce it (minimal and precise):
Try to use devices have been used by rook previously.

The issue seems to be that `udevadm info --query=property` returns only a subset of the information

[2018-05-24 18:45] rohan47 commented on #1551
Here is the design document for this feature request https://docs.google.com/document/d/1JTuSBudKD-DhEb6aWNCCVg7xP49f8FjPTSZlU-DOZRk/edit?usp=sharing

[2018-05-24 20:16] t3hmrman opened #1739 "ceph-authtool command fails in operator after install on baremetal rktnetes machine"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:

When starting `rook` the `rook-agent` starts, but `rook-operator` ends up error-looping (so no `mon`s or `osd` pods are created).

Here's what the logs say:

[code]

It looks like the failure was during the running of `ceph-authtool` but it's not really clear *why* it failed. At first I was getting a warning abo

[2018-05-24 20:19] t3hmrman commented on #1739
I do want to note that the exact same configuration I have worked on the same exact machine when using `containerd` -- I do think it has something to do with `rkt` probably intersecting with the fact that `--cap mon 'allow *'` is being used...

[2018-05-24 20:32] travisn commented on #1739
@t3hmrman If you run the ceph-authtool command in the operator pod directly, do you get the same error with the core dump?
[code]

[2018-05-24 20:34] galexrt commented on #1739
@t3hmrman `--cap mon 'allow *'` is a flag of the `ceph-authtool` not for the container or something.
The flag is for the `ceph-authtool` command.
The flags in this case create a "role" which has the capability to access everything of the mons (`mon allow *`) in Ceph context. This Ceph "role" is used for the mons to be able to access each other.

The actual error message (which could be caused by `

[2018-05-25 01:49] #1721 closed

[2018-05-25 03:36] t3hmrman commented on #1739
Thanks for the feedback @travisn and @galexrt -- my next step will be to increase the logging on the operator and see if I can get more output (and try and run it from a shell inside the pod). @galexrt thanks for clarifying on the meaning of `--cap`, my hunch was that it was a kernel-related option and maybe that's why the system call was core dumping.

I will find out what's really going on by us

[2018-05-25 03:56] jbw976 opened #1742 "Reduce size of container images"
After #1714 that uses a Centos base for all image builds, the size of all container images has gone up about 61%.

For example, from the `rook/ceph` [docker hub page](https://hub.docker.com/r/rook/ceph/tags/):

| Tag | Size | Updated |
| --- | ---- | -------- |
| master | 260 MB | an hour ago |
| v0.7.0-146.gcd2b699 | 161 MB | a day ago |

Some discussion/analysis from @BlaineEXE: https://github.c

[2018-05-25 03:56] jbw976 commented on #1742
Some links for building small CentOS images from @f0: https://github.com/rook/rook/pull/1714#issuecomment-391767601

[2018-05-25 04:44] jbw976 opened #1744 "Support wildcards in storage scope spec"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

What should the feature do: As described in https://github.com/rook/rook/blob/master/design/multiple-storage-types-support.md#storagescopespec,  wildcards/patterns/globbing should be supported on multiple resource types (such as nodes and devices), removing the need for the current `useAllNodes` and `useAllDevices` bo

[2018-05-25 04:47] jbw976 opened #1745 "Support fullPath for devices in StorageScopeSpec"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: Yes, devices can currently be selected by name.

What should the feature do:  As described in https://github.com/rook/rook/blob/master/design/multiple-storage-types-support.md#storagescopespec, a user should be able to use the StorageScopeSpec to select devices not just

[2018-05-25 04:49] jbw976 commented on #1745
Looks like we already have a similar tracking issue in #1228.  I will add this info to that issue and track there.

[2018-05-25 04:49] #1745 closed

[2018-05-25 04:50] jbw976 commented on #1228
As described in https://github.com/rook/rook/blob/master/design/multiple-storage-types-support.md#storagescopespec, a user should be able to use the StorageScopeSpec to select devices not just by name, but other more persistent properties such as `by-id` or `by-path`.

[2018-05-25 14:49] dgonzalezruiz commented on #1705
I would see more value in creating users for S3/Swift. Also, at least in the case of RGWs, the buckets need to be owned by an UID. Please let me know if I can provide more details on the usecase.

[2018-05-25 17:02] bassam commented on #1705
@dgonzalezruiz yes please! :-)

[2018-05-25 17:05] travisn commented on #1705
@dgonzalezruiz #1583 should be what you want and definitely needed!

[2018-05-25 18:47] jbw976 opened #1747 "Integration tests no longer use raw block devices"
It doesn't look like the integration tests are testing with raw block device (disk) support anymore. This was initially implemented for #1039, but somewhere along the way we seem to have lost this support.

Some test needs to specify devices to the `CreateK8sRookClusterWithHostPathAndDevices` function.  From what I can tell, all paths to this function from the test suites are saying to not use dev

[2018-05-25 20:14] jbw976 commented on #1738
I ran into this today as well, I can confirm this behavior reproduces.

[2018-05-25 20:22] jbw976 opened #1748 "Bluestore DB/WAL partitions are no longer created"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened: The partitions for Bluestore's database and write ahead log are no longer created during OSD provisioning.  This may have been a recent regression.

What you expected to happen:  All 3 partitions (block, DB, WAL) to be created and functional.

How to reproduce it (minimal and precise): Deploy a Rook cluster using

[2018-05-25 20:27] travisn commented on #1748
@jbw976 have you seen any side effects to the user for this? If not, we could wait for #1342 to fix the partitioning issues with ceph-volume.

[2018-05-26 20:26] #1738 closed

[2018-05-27 08:10] t3hmrman commented on #1739
Hey I figured it out -- I noticed the `PodSecurityPolicy` in the helm chart and wondered if now (or always??) Rook required the operator to be run as a privileged pod. I could have sworn it didn't before, but for my setup that's what fixes it.

Explains the bad system calls -- the system calls allowed by `rkt` versus `containerd` might be different, but in the end adding the `securityContext: priv

[2018-05-27 08:36] t3hmrman commented on #1739
I think I've narrowed it down a little more... Looking at the error:

[code]

If I look [at the code that's running gen secret](https://github.com/rook/rook/blob/cd2b69915958e7453b3fc5031f59179058163dcd/pkg/operator/ceph/cluster/mon/util.go#L277), I assume it's trying to setuid to root, and that's why it's having a hard time -- I think this behavior is `rkt` specific.

[2018-05-27 18:29] jbw976 opened #1749 "Ensure upgrade guide works for upgrade to v0.8"
There have been many architectural changes in the v0.8 milestone that need to be covered in the upgrade user guide:  https://github.com/rook/rook/blob/master/Documentation/upgrade.md

The migration to support multiple storage types/providers has been included and tested, but there are some other items that will need to be addressed:
* `/run/udev` is now a required mount for the OSD pods that are u

[2018-05-28 06:32] missnebun commented on #1312
Same problem here: CentOS 7.5

2018-05-28 05:48:14.969355 I | rook: starting Rook v0.7.1 with arguments '/usr/local/bin/rook agent'
2018-05-28 05:48:14.969557 I | rook: flag values: --help=false, --log-level=INFO
2018-05-28 05:48:14.972210 I | rook: starting rook agent
2018-05-28 05:48:14.991309 I | exec: Running command: modinfo -F parm rbd
2018-05-28 05:48:14.994493 N | ceph-volumeattacher: fail

[2018-05-28 07:27] danderson opened #1750 "Rook mon failover stuck due to garbage directory"
* Bug Report

**Bug Report**

What happened:

On a test cluster where I rebooted nodes a bunch of times without first draining, I managed to get rook into a wedged state. I think what happened is that I rebooted a node while Rook was in the middle of failing over a mon onto it.

The situation: cluster has 3 nodes, `prod-{01,02,03}`, and one Rook-managed Ceph cluster on it. The operator has 3 mons,

[2018-05-28 09:38] t3hmrman commented on #1739
re-closing, this is an issue with `rkt`: https://github.com/rkt/rkt/issues/3823 and https://github.com/rkt/rkt/issues/3368 are the relevant issues there

[2018-05-28 09:38] #1739 closed

[2018-05-29 16:21] benceszikora commented on #1733
@tonya11en I have tested this again on v0.7.0-126.gf6abaec and I am still seeing the same issue. Is there a something I am not setting, or should it just work with this config?

[2018-05-29 17:55] tonya11en commented on #1733
Using your provided config on an even older Rook version (rook: v0.7.0-86.g6d7ca2c9), I'm creating the following:
[code]

If the Rook cluster is using the default `storeType`, then I get the following error on creation:
[code]

However, setting `storeType: bluestore` yields no error. Are you using bluestore or the default storeType?

[2018-05-29 20:27] travisn opened #1751 "Mon names should not include numbers"
Mons names are not recommended to include an integer in the name. It can be confusing when looking at log files that have the `quorum` or other indices that will not match the mon name. For example, `rook-ceph-mon0` might not be `0` in the quorum. Instead, we should have a string name and avoid integers. To keep the mon names simple, we could translate the index into a string where `0` maps to `a`

[2018-05-29 20:57] travisn opened #1752 "Ceph daemon names should match k8s pod names where possible"
To make it easier to troubleshoot the Ceph daemons, the pod names should match the daemon names wherever possible.

### Stateless daemons

#### MDS
The name of the mds will be the same as the pod name. MDS is stateless therefore maintaining a consistent name is not needed.

Currently the mds daemon name only consists of the random k8s pod suffix such as `fn72k`, which means now we would use more o

[2018-05-30 08:55] benceszikora commented on #1733
We are using bluestore, this is the cluster config I am using:
[code]

The error is the same even after updating:
[code]

[2018-05-30 12:09] lix0st opened #1754 "Ceph OSD fails to init after node reboot"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:

After a node reboot (drained the node beforehand) the OSD pod on that node is creating new OSD.
In the OSD pod there are errors concerning an OSD that can't be initialized (ERROR: osd init failed: (2) No such file or directory) :
[code]
The OSD pod created 3 new OSD's (even I have only configured 3). So now I e

[2018-05-30 12:27] benceszikora commented on #1754
I have the same issue (on a bit older version v0.7.0-134.g9b5c092, kubernetes 1.9.3, RHEL 7.3). I was just testing restarting the OSD pod and I am getting the same error.

[2018-05-30 12:46] galexrt commented on #1748
@travisn @jbw976 Could this issue also be related https://github.com/rook/rook/issues/1754 ? Though it is the block storage so that the OSD fails to start.

[2018-05-31 08:02] jomeier opened #1755 "Bug: Bluestore storage destroyed if using block storage with file system and fs being mounted"
Hi,

we had a strange effect in the last week. Our ceph cluster suddenly became unavailable.

All OSDs were in autoout state and down.

ceph-bluestore-tool fsck showed strange errors (I posted everything on the rook slack channel).

We found out that we had formatted the hard disk we used for bluestore with ext4 and mounted it to a directory before the installation of rook.

Our assumption is now,

[2018-05-31 15:26] jbw976 commented on #1466
Tracking issue in the CNCF crosscloudci repo: https://github.com/crosscloudci/cross-cloud/issues/137

[2018-05-31 15:41] jbw976 commented on #1748
I don't know if there are side-effects @travisn, from my testing it seems like block storage provisioning (e.g. for mysql) works OK.  I'm pretty sure this is a recent regression, so I'd like to understand how it happened and what we need to do to fix it.

[2018-05-31 18:33] travisn commented on #1751
Instead of naming them with the alphabet, another thought is to use the node name. This would assume that we could re-use the same mon name at a later time. For example, let's say node `x` is unhealthy and we fail the mon over to `y`. At a later time if `y` becomes unhealthy we might failover to `x` again if it is healthy. Any reason we couldn't use the same mon name if we properly clean up during

[2018-06-01 11:31] abh opened #1757 "ceph ping doesn't work"
**Bug Report**

What happened:

[code]

What you expected to happen:

mon to be ping'ed.

How to reproduce it (minimal and precise):

See above. My cluster is unhealthy, so maybe that's why. In that case the error message is just very unhelpful. I tried copying a ceph.conf from another system than the toolbox, but I get the same error.  I also tried different mon.* parameters (mon.mon30, etc), to

[2018-06-01 11:42] abh commented on #1757
on slack @dgonzalezruiz helped me figure out to run this command

`kubectl -n rook exec rook-ceph-mon31-4kkmd  -- ceph --admin-daemon /var/lib/rook/rook-ceph-mon31/rook-mon.rook-ceph-mon31.asok quorum_status`

which showed that the mons thought they had a 4th mon to figure out quorum with, I think. Still investigating...

[2018-06-01 12:13] abh commented on #1757
With @dgonzalezruiz's help I figured that the mon's didn't have quorum. I got an old mon started again and quorum was regained and the cluster immediately started working again.

[2018-06-01 12:13] #1757 closed

[2018-06-01 15:03] lyptt opened #1758 "Unable to create volume (executable file not found in $PATH)"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
I installed RabbitMQ which creates a volume and a claim. The creation process fails behind the scenes, with the following logs:

[code]

What you expected to happen:
Volume creation to work

How to reproduce it (minimal and precise):
No idea.

**Environment**:
* OS (e.g. from /etc/os-release):
CentOS 7.3
* Kerne

[2018-06-01 15:27] saravanakumar-periyasamy commented on #998
we also got the same error today

[code]

and we are running `image: rook/ceph:v0.7.0-160.g3060813`

[2018-06-01 15:29] saravanakumar-periyasamy commented on #998
could be this issue - https://tracker.ceph.com/issues/22096#note-15?

[2018-06-01 16:39] galexrt commented on #1758
@lyptt You can get the Rook version by `kubectl exec`ing into one of the Pods in the namespace where you created the Rook Cluster in.

[2018-06-01 16:45] lyptt commented on #1758
Hi @galexrt, I've torn down my cluster for now, but it should be on whatever the latest is. I initialised Rook using the Kubernetes files [here](https://github.com/rook/rook/tree/master/cluster/examples/kubernetes), replacing a few details like the device, etc.

[2018-06-01 16:59] galexrt opened #1759 "Ceph MGR not reporting metrics when osds are going down"
Is this a bug report or feature request?
* Bug Report

I have opened an issue at the Ceph bug tracker: http://tracker.ceph.com/issues/24379

**Bug Report**

What happened:
The Ceph MGR does not report Prometheus metrics when one or more OSDs are down.

What you expected to happen:
The Ceph MGR to continue reporting metrics no matter the OSD(s) status.

How to reproduce it (minimal and precise):
1.

[2018-06-01 17:36] tcsullens opened #1761 "Ceph OSDs marked down, OSD devices being skipped on OSD pod startup"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
Ceph cluster health degraded due to OSDs showing down status.
This started occurring sometime after an initial successful setup of rook / ceph and provisioning of k8s PV resources.
Restarting OSD pods had no effect, but checking their logs show that they are skipping the devices that are supposed to be used for

[2018-06-01 17:50] travisn commented on #1761
@tcsullens since `ownPartitions` is false, can you see what the `ID_PART_ENTRY_NAME` property is on each of the partitions? For example:
[code]

`ownPartitions` should only be false if the partition name does not have the prefix `ROOK-OSD` as seen [here](https://github.com/rook/rook/blob/master/pkg/util/sys/device.go#L345).

[2018-06-01 18:01] tcsullens commented on #1761
Yea so the interesting thing with that is running it from the k8s nodes I see it:
[code]
However running it from _inside_ an OSD pod (specifically running on node 02):
[code]
I went through all of the partitions and it's the same behavior.

[2018-06-01 18:08] travisn commented on #1761
ah, actually this should have been fixed a few days ago by #1746. Could you try a newer build?

[2018-06-01 18:20] tcsullens commented on #1761
I definitely can on Monday... though I'm not clear on how I should update my existing deployment... any documentation you could point me to there (didn't look like the upgrade docs were appropriate for this)?

[2018-06-01 18:22] christianhuening commented on #1759
Thanks for opening the issue @galexrt !
Here's the environment:
OS: Container Linux by CoreOS 1745.4.0 (Rhyolite)
Kernel: 4.14.42-coreos
Cloud Provider: Bare-Metal, Dual Xeon x10 Cores, 96 GB memory,
Rook Version: 0.7.1
Kubernetes Version: 1.10.3
K8s Cluster Type: Bare-Metal "the-hard-way"
Ceph Status: by now HEALTH_OK, during error HEALTH_WARN

[2018-06-01 18:29] travisn commented on #1761
hmm, upgrading master to master builds is difficult when so much is still changing. With #1743 coming in since the build you're running on, your best bet will be to follow the upgrade doc even if some steps are not applicable (ie. removing the legacy api service).

[2018-06-01 18:30] galexrt commented on #1761
@travisn @tcsullens It should be enough when the `master` tag is used to pull the image on all nodes and restart all Pods one by one, so they use the updated image.

[2018-06-01 18:32] travisn commented on #1761
@galexrt yes that might normally be possible, but #1743 complicated this by renaming the image

[2018-06-01 18:33] galexrt commented on #1761
@travisn Oh right, I thought he was already on the `rook/ceph` image version. Still editing the Deployments, ReplicaSets to use the `ceph` could do the trick ;)

[2018-06-02 12:28] lyptt commented on #1758
I managed to figure it out during the process of moving to a storage folder rather than a block device. I was missing the `e4fsprogs` package in my CentOS image for some reason, which meant the mkfs tools didn't exist.

It would probably be helpful if more information was present in the error, however I understand if this isn't possible / too much work.

[2018-06-02 13:35] galexrt commented on #1732
@emedina Can you try using the `DISCOVER_TOLERATION` and `DISCOVER_TOLERATION_KEY` variables on the operator? You may need to delete the `rook-discover` DaemonSet before updating the Rook operator env vars.

I have created a PR to document and add the env vars to the helm chart and the Rook `operator.yaml`.

[2018-06-02 14:30] travisn commented on #1758
@lyptt Great to hear you found the issue. At the minimum I will reopen this issue so we can document it in our troubleshooting steps.

[2018-06-02 19:13] emedina commented on #1732
@galexrt It works now.

[2018-06-02 19:13] #1732 closed

[2018-06-03 09:59] soakes opened #1765 "[BUG] rook/ceph-toolbox:master locale"
While debugging some issues, I found when executing `$ kubectl -n rook-ceph exec -it rook-ceph-tools bash` generated a load of locale error messages.

[code]

I hate error messages of any kind so decided to squash them.  The solution is simple but you might want to add the changes in the docker image.

Run the following:
[code]

This will regenerate the locales.  If you do not reinstall `glibc-com

[2018-06-03 11:30] galexrt commented on #1727
/cc @rootfs do you know why that happens?

[2018-06-03 11:31] galexrt commented on #1713
@patrickstjohn Could you give the docs you sent a go to see if that works?
If it does, let us know if you are up for sending a PR to change the docs.

[2018-06-03 11:36] galexrt commented on #1717
@ashayh Could you try checking out the rook repository on branch `release-v0.7` and directly using the helm chart if the error persists.

@TimJones meant on Slack that it could possibly that an old Helm manifest was used.

[2018-06-03 11:54] galexrt commented on #1692
@shamalco That the mon4 is crashing is because the operator has "already" remove from the cluster again because it was "offline" too long.

You should be able to safely delete the ReplicaSet as far as the message `mon.rook-ceph-mon4@1(probing) e7  removed from monmap, suicide.` goes.

[2018-06-03 18:26] galexrt commented on #1536
@jbw976 Is there a reason why we moved Mimic to 0.9?
It seems that Mimic has just been released about two days ago, see https://ceph.com/releases/v13-2-0-mimic-released/.

[2018-06-03 18:29] galexrt commented on #1540
@jbw976 What about this solution for Kubernetes multi node cluster? https://github.com/kubernetes-sigs/kubeadm-dind-cluster.
At least from their README it seems to work in Mac as long as Docker is "installed" (e.g. Docker for Mac), and `md5sha1sum` is installed, see https://github.com/kubernetes-sigs/kubeadm-dind-cluster#mac-os-x-considerations.

[2018-06-03 18:31] galexrt commented on #1507
@dimm0 @guilhermeblanco @lorenz Is still happening with the `0.7.1` release?
At least for me it seems that this issue isn't occurring anymore.

[2018-06-03 18:32] galexrt commented on #1508
@dimm0 Are you okay with closing this issue and using #1027 to track the issue behind this?

[2018-06-03 18:34] galexrt commented on #1027
@Coolfeather2 I think someone on the Slack said that you can potentially remove the second FS by modifying the fsmap directly but I can't tell you the exact steps.

[2018-06-03 18:38] galexrt commented on #1476
@jpds Could you please check if this was fixed with the Hyperkube >= 1.10.1 image which now contains xfs tools as @jbguerraz wrote?

[2018-06-03 18:39] lorenz commented on #1507
@galexrt This definitely happens in 0.7.1. Spawn in 3 nodes and blow one up by either purposely crashing it (echo c > /proc/sysrq-trigger) or fully disconnecting all networking. Then a new pod will be spawned which will stay in Creating until the original node is brought back up again.

[2018-06-04 08:50] dgonzalezruiz commented on #1705
@bassam @travisn Sorry for the delay! I will point to my personal usecase in #1583. Thanks Travis!

[2018-06-04 08:52] dgonzalezruiz commented on #1583
I am very much interested on this! Would gladly self-assign this, as would hugely benefit from it.

My personal usecase/operation is the following:
1) Create user
2) Configure some user settings (specifically, I change the default `max_buckets` and set an user  quota of X bytes (so that the user is only allowed to use a share of the cluster, in a more graceful way than using ceph pool quotas). Als

[2018-06-04 09:35] lix0st commented on #1754
@benceszikora Sorry I don't know. I've started using rook two weeks ago by using the `master`. I'm also trying to get a production cluster, but as you say, for now it's not possible with this bug.
@galexrt Thanks for the info, I will try `v0.7.1`

[2018-06-04 11:34] lix0st commented on #1754
I've just tested with `v0.7.1` and I can confirm that this bug isn't happening. I can reboot nodes without any new OSDs appearing and having a healthy cluster.

[2018-06-04 11:57] JohnnyQQQQ opened #1767 "latency related metrics are missing"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:

I setup the monitoring using https://github.com/rook/rook/tree/v0.7.1/cluster/examples/kubernetes/monitoring. For some reason some metrics are missing. I don't get any latency related metrics from the `/metrics` endpoint that is scraped: `ceph_osd_apply_latency_ms`, `ceph_osd_commit_latency_ms` and `ceph_monito

[2018-06-04 12:08] JohnnyQQQQ commented on #1767
Here are the metrics from the `mgr` pod
[ceph_mgr_metics.txt](https://github.com/rook/rook/files/2068121/ceph_mgr_metics.txt)

[2018-06-04 13:14] benceszikora commented on #1754
Thanks, `v0.7.1-4.g4233e03` seems to work fine for me as well.

[2018-06-04 14:21] travisn commented on #1754
I noticed this on Friday as well and have a fix with #1762. It is related to the same change as #1748, though that symptom actually isn't the cause for this issue. I'll get the fix in today, just need to add a test for it.

[2018-06-04 14:40] travisn commented on #1583
@dgonzalezruiz sounds great for you to take this. Here are a few thoughts...

While we will want the users to be created for both ceph and minio, I believe the design would involve having separate CRDs for Ceph and Minio object store users. The two object stores will certainly have different features in the long term and the separate CRDs would allow them to specialize.

Under the covers there is

[2018-06-04 15:16] travisn commented on #1536
@galexrt each major ceph release is expected to come with some dev effort to integrate the release. While it would be great to start prototyping with mimic and see how much work will actually be involved, I'd recommend we focus on completing 0.8. We can discuss in the next community meeting.

[2018-06-04 17:21] jbw976 commented on #1767
if these metrics are coming directly from ceph-mgr prometheus module, is there anything in the rook codebase that can be done to fix this? I believe that this would need a change in the ceph-mgr code, but please someone correct me if I am wrong.

[2018-06-04 17:30] jbw976 commented on #1540
good question @galexrt,  @dangula and @aramisjohnson originally had the end to end integration tests running in a setup that was using the dind approach.  it had some issues back then with RBD attach operations hanging, and I don't think we've tried it since then.  That was also on Linux machines.

I'm not sure how exactly this would work on the Mac with things that require kernel module operation

[2018-06-04 18:12] tcsullens commented on #1761
OK I ran through the upgrade process and am now running version
`
 rook: v0.7.0-162.gd13032a
`
from the rook/ceph:master image, however I'm seeing the same behavior with the OSD pods: the devices are being skipped and the volume mount for `/run/udev/` is not in the OSD daemon set description.

I edited the deamon set directly to add the necessary volume mount.. I am thinking that in order for this

[2018-06-04 18:29] JohnnyQQQQ commented on #1767
I just checked if the command works that should generate this data

[code]

seems to work for me when doing it manually

[2018-06-04 18:49] dimm0 commented on #1508
I'm fine with closing this

[2018-06-04 19:10] JohnnyQQQQ commented on #1767
I dived a little deeper, those metrics where implemented this January. The current used version is 12.2.2 from November.

I close it for now.

[2018-06-04 19:10] #1767 closed

[2018-06-05 01:43] jbw976 commented on #1747
i believe that disks do get attached to GCE instances still, but we never tell the setup functions to use them.

I cannot verify that right now though since the GCE nodes are offline and we cannot figure out why yet.

[2018-06-05 01:47] jbw976 commented on #1765
Thanks for reporting this @soakes.  Do you know what steps would need to be done at image build time to prevent this?

Is it the bash shell itself that is trying to call `setlocale` which generates the error messages? i'm trying to understand better why this is happening in the first place.

[2018-06-05 01:52] jbw976 commented on #1758
@lyptt so are we saying that it is required to have the `e4fsprogs` package on the host machine? i thought the mounting tools were included in the container image that `rook-agent` uses and that would be sufficient.  Can you help me understand why the tools included in the `rook-agent` pod's image were not sufficient?  Thank you.

[2018-06-05 05:06] lyptt commented on #1758
@jbw976 I assume that it's not using anything on the pod image to perform the formatting step. I verified this behaviour myself, and this is definitely the case. Unfortunaetly I don't know the inner workings of rook-agent, so I can't really help you further.

[2018-06-05 12:37] erikbsap opened #1770 "No way of debugging?"
Hi, I seem to be too stupid, but the suggestion to use rook slack seems to require me to have a rook.io email address when registering. So sadly I can't join there.

So, I'm trying to debug a rook on k8s issue. After some time (usually 3 days) the whole thing dies. And it seems to kill the nodes with it. They are still listed, but state is "NotReady" and it's not possible to retreive any logs, or

[2018-06-05 12:47] galexrt commented on #1770
@erikbsap You can use whatever email you want to register for the Slack.

Please fill out the issue template for this issue as we need information about your environment, see https://raw.githubusercontent.com/rook/rook/master/.github/ISSUE_TEMPLATE.md.

[2018-06-05 12:59] erikbsap commented on #1770
I know the following doesn't sound too polite. Sorry for that. Not sure I can formulate it more polite. Please assume it's the heat in our unclimatized office if you feel it's not good enough. Thanks.

One cannot choose the part behind the @ in the slack registration. It is not part of the text field.

The rook docker image is version `v0.7.0-106.gb9ae002`, everything else *about debugging* should

[2018-06-05 15:52] galexrt commented on #1770
@erikbsap To register for the Rook.io Slack you go to https://rook.io/ and click the Slack button in the left corner, then you should get to https://rook-slackin.herokuapp.com/. There you can register with any email for the Rook.io Slack.

The environment information is important so that we can guide you in the right direction.
For general debugging, see this doc page https://rook.io/docs/rook/mas

[2018-06-05 17:31] travisn commented on #1553
Closing this for now since we have not had a report of it since 1.10. Please reopen if we get a repro  on 1.10 or newer

[2018-06-05 18:35] soakes commented on #1765
Hi @jbw976

You're very welcome.

Yes its bash shell itself trying to call setlocale which the basic/common one is missing hence needed to be regenerated.

Without checking the dockerfile, the locale file(s) are missing which may be due to size/shrinking image but consuming most ppl would enter this image to do tests/tweaks etc to ceph, it would IMO be better if they were present.

Will take a loo

[2018-06-05 23:12] yehudasa commented on #1705
@tonya11en @bassam Bucket provisioning for RGW via kubernetes service broker:
https://github.com/yehudasa/rgw-object-broker

Might be somewhat related.

[2018-06-06 00:42] #1754 closed

[2018-06-06 14:06] andrewrynhard commented on #1758
@galexrt Any insight here?

I am running into the same issue, and I also thought that the agent would have everything needed to handle any filesystem type.

[2018-06-06 17:27] #1664 closed

[2018-06-06 22:17] mingfang opened #1773 "Feature Request: Ceph Cluster CRD should allow node selector"
**Feature Request**
The CRD should allow a nodeSelector setting to match nodes by label.
The behavior should be similar to this https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#step-two-add-a-nodeselector-field-to-your-pod-configuration

Are there any similar features already existing:
Currently the CRD allows a list of nodes by name.

What should the feature do:
All nodes matchi

[2018-06-06 22:19] galexrt commented on #1773
@mingfang Just wondering, is `nodeAffinity` not an option?
* https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L26-L33
* https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#node-affinity-beta-feature

[2018-06-07 05:32] jbw976 commented on #1761
You are definitely correct @tcsullens, the new volume mount for `/run/udev` needs to be added during the upgrade process from `v0.7`.  I've tried to capture this in #1749, so we will not exit the `v0.8` milestone until upgrade is fully vetted. Thanks for your help.

[2018-06-07 05:32] #1761 closed

[2018-06-07 05:36] galexrt commented on #1749
To note here: @travisn @rootfs and I are looking into the upgrade path for OSD Pods.

[2018-06-07 16:21] #1386 closed

[2018-06-07 16:32] ganeshmaharaj opened #1775 "JournalPartitionType exists in code but not used"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
JournalPartitionType exists in the code today but will never be used to create a journal partition either collocated or on a stand-alone drive. Given it is not used, a small code clean-up would be good to avoid future confusions.

What you expected to happen:
Code Cleanup

How to reproduce it (minimal and precise

[2018-06-07 20:42] fritchie opened #1776 "osd id changes after osd pod deletion"
**Bug Report**

What happened:

When I create a new cluster I will have osd.0, osd.1 and osd.2.

If I delete an OSD pod I will have an OSD with a new id, ie osd.3, when the new OSD pod starts.
The original OSD will be marked as down.

What you expected to happen:

OSD ids would remain constant.

**Environment**:
* OS (e.g. from /etc/os-release): `CentOS Linux release 7.4.1708 (Core)`
* Kernel (e.g

[2018-06-07 23:02] #949 closed

[2018-06-07 23:59] tonya11en commented on #1770
Verified you can log in with any email via https://rook-slackin.herokuapp.com/.

[2018-06-07 23:59] #1770 closed

[2018-06-08 14:41] jbw976 commented on #1751
If you use the node name in the mon name, what happens when there is more than 1 mon on a node? Or can that **never** happen, even when there is only a single node in the cluster, after #1710?

[2018-06-08 14:50] jbw976 commented on #1659
I'm not sure I fully understand how the `kubelet_volume*` metrics feature works as described in https://github.com/kubernetes/kubernetes/issues/62644.  Is it the responsibility of each volume plugin to report metrics back to the Kubelet?  Does the in-tree Ceph RBD plugin already support this? Any pointers? Thanks!

[2018-06-08 16:44] travisn commented on #1751
Since #1710 was finalized, there will still be an option to run multiple mons on the same node for testing, so you are correct that the mon name itself will not be sufficient.

[2018-06-08 21:32] galexrt commented on #1540
@inv8r Due to demand for upgrade testings, I have quickly built this project together https://github.com/galexrt/k8s-vagrant-multi-node.
@travisn and @jbw976 have confirmed that it works on Mac (except a few weird warnings from Vagrant), and I now also think that I have squashed most bugs out of the project.

What do you think about creating a script (such as the `minikube.sh`) to integrate with m

[2018-06-08 21:44] tonya11en commented on #1667
So it looks like configurable PID namespace sharing is alpha in k8s 1.10 and set for beta in k8s 1.12:
https://github.com/kubernetes/features/issues/495

Since it's going to remain in alpha until 1.12, we can expect people to enable it via a flag to k8s, so it seems we'll need to rip out `tini` for quite a while.

[2018-06-09 00:56] jbw976 commented on #1667
I'm not sure I understand all of this, but I'm trying to piece it together.

So Docker 1.13+ has tini built in and will be used automatically if `--init` flag is passed, e.g., `docker run --init`.  Does Kubernetes pass this flag to `docker run` in the versions Rook supports (1.7+)?

k8s 1.10+ has PID namespace sharing, but it must be turned on with the `PodShareProcessNamespace` feature gate, [as

[2018-06-09 17:06] fritchie commented on #1776
same result with:

rook: v0.7.0-182.gcd746df

[2018-06-09 22:02] ivdelchev commented on #1259
@kokhang How would one achieve that part - "Also, if you want to make the PV available again, you would have to manually create the PV object and reference the underneath RBD image in it."

Some real-world yaml would be greatly appreciated.

[2018-06-10 02:12] motecshine commented on #1110
@jbw976  `3.10.0-862.3.2.el7.x86_64` thks a lot  , `modprobe rbd` work for me

[2018-06-11 03:31] jbw976 commented on #1592
I believe that the root cause for this was #1721, which is fixed in the upcoming v0.8 milestone.  I'm going to close this for now and re-open later on if we still this in current master builds or after v0.8 is released. Thanks!

[2018-06-11 03:31] #1592 closed

[2018-06-11 03:35] jbw976 commented on #1703
Thanks @christianhuening.  An improvement here would be for the operator to only set the no scrub flags when it knows it's going to be making changes to OSDs that will have churn, not during every orchestration run.

[2018-06-11 03:41] jbw976 commented on #1169
This could be possible to implement in the volume provisioner, and may already have some logic in the upstream provisioner controller in Kubernetes external storage repo: https://github.com/kubernetes-incubator/external-storage/blob/master/lib/controller/controller.go

According to the sig-storage planning sheet, volume expansion will go to beta in k8s 1.11: https://docs.google.com/spreadsheets/d/

[2018-06-11 15:31] robertrbruno commented on #1280
I too am seeing very long mount time for large volumes.  I created a pod with 4 volumes two fairly small and two 10TB a piece.  The pod took about 2+ hours to create and the error was mounting issues of the two large volumes.  The volumes were in a bound state very quickly.

Talking in Slack there was though it may be some of the configured time out values.  If this is the case until a full workar

[2018-06-11 16:06] dimm0 commented on #1280
It seems like the issue was fixed, at least for me. It does take a long time, but eventually a pod starts.

[2018-06-11 16:19] robertrbruno commented on #1280
Yes for me it does not hang just takes a long period of time.  I am trying to gauge is 2+ hours for 2 x 10TB volumes expected behavior.

[2018-06-11 17:40] jbw976 commented on #1280
Can someone from the Ceph team comment on if mapping a large RBD volume is expected to take hours like is being reported? Any recommended troubleshooting steps?

/cc @travisn @rootfs @dmick

[2018-06-11 17:43] tonya11en commented on #1667
No, there's no way to do this, but my understanding is that the PID namespace sharing accomplishes the same thing via the pause container.

No current environment. I misspoke above. We **won't be able to** rip out `tini` for quite a while.

[2018-06-12 00:14] dmick commented on #1280
I've never heard of mounts taking a long time, no.  That sounds like something else is wrong.  But I guess Rook/Kubernetes will be doing more than mounting (like maybe mkfs), and maybe the mkfs is pathological somehow?...

[2018-06-12 03:31] dimm0 commented on #1280
Yeah, that's most likely because of formatting
Should we try optimizing settings for xfs?
f.e. https://unix.stackexchange.com/questions/344800/mkfs-is-extremely-slow

[2018-06-12 04:44] jbw976 commented on #1280
From my recollection, this timeout was from the `rbd map` attempt, before any subsequent commands such as mounting/formatting were ever attempted.  Next time I see logs for this issue I will try to confirm.  @robertrbruno did you have recent logs from the rook agent pod when you ran into this recently?  Thank you.

[2018-06-12 20:39] danpe commented on #1595
Thanks @iedwin! that worked!

[2018-06-12 23:22] tonya11en commented on #1705
@yehudasa the goals between the two are different. To consume buckets via the rgw-object-broker, the user needs to know the `bucket name, the RGW endpoint, and the credentials` according to the documentation. We cannot accomplish "write once, run anywhere" portability with the object broker this way since it requires the user to have knowledge about the Ceph cluster in the environment the applicat

[2018-06-13 14:00] yehudasa commented on #1705
@tonya11en not quite.  Sorry if the docs were misleading, I may need to make them a bit clearer. The admin that sets up the system does need to know the RGW endpoint and have an admin user credentials ahead of time. A user of the system (e.g., a client app) doesn't. It just needs to know the name of the broker (e.g., rgw-bucketbroker). Then it can list the existing plans (currently there's only on

[2018-06-13 14:33] liewegas commented on #1705
If we go with a service broker-based approach, presumably that first part (configuring the broker itself) would be done by rook automagically.

I'm by no means an expert on kubernetes or service brokers, but it seems to me like the real question here is whether the user experience for magically getting the bucket is a rook-invented workload based on rook CRDs or whether it aligns with the service

[2018-06-13 15:00] yehudasa commented on #1705
In any case, whatever the direction and decision you make, keep in mind that the service broker code exists and works and provides the functionality that is needed for RGW. It can probably be used for minio with some modification (the RGW specific stuff deals with RGW user management).

[2018-06-13 15:36] bassam commented on #1705
At a high level it seems that both approaches are trying to achieve similar goals -- make it easy for users to consume buckets from pods. It would be great if we can collaborate on a common solution.

Rook's approach is modeled after PersistentVolumes and StorageClass APIs in Kubernetes proper. At a high level I'm not sure why we would even expose the user with the concept of a "broker" when what

[2018-06-13 16:00] yehudasa commented on #1705
@bassam while not necessary, a user can be used when setting ACLs on objects.

[2018-06-13 20:49] checkaayush commented on #1700
@tonya11en I'd like to take this up. Although, this would mean
[code]
will now look something like this:

[code]
Does that work?

[2018-06-13 21:00] tonya11en commented on #1700
Sure, there's nothing wrong with that. What's going on is actually clear. We might even consider renaming `Grep` to something that's actually descriptive of what it does.

[2018-06-13 21:49] travisn commented on #1776
@fritchie If `udevadm` does not have a value for either `ID_FS_UUID` or `ID_PART_TABLE_UUID`, rook will assume the device is new and install a new osd at startup. From your dump of udevadm this looks to be the case. I was also able to see this behavior in this [multi-node environment](https://github.com/galexrt/k8s-vagrant-multi-node). Rook will need to identify the existing osd even when the uuid

[2018-06-13 21:59] tonya11en opened #1788 "Refactor integration test code to accomodate multiple backends"
**Feature Request**
=

As it stands now, there is a single namespace and set of files for all integration tests for all Rook back-ends. As more back-ends are implemented, this scheme becomes unsustainable. I'm filing this issue to track the following efforts:

**Multi-backend integration test design**
-

This includes investigation into common abstractions and a workflow for adding new integration

[2018-06-13 22:07] rootfs commented on #1776
@fritchie can you dump udevadm again on the host (not container) with just ` udevadm info /dev/sdb `? thanks

[2018-06-13 22:09] travisn commented on #1776
here is the output from my machine with the repro:
[code]

[2018-06-13 22:43] rootfs commented on #1776
@fritchie thanks, do you see any partitions on the disk (/dev/sdb) and udevadm info those partitions (e.g udevadm info /dev/sdb1)

[2018-06-13 23:15] #1775 closed

[2018-06-13 23:27] fritchie commented on #1776
[code]

[code]

[code]

[code]

[2018-06-13 23:39] tonya11en opened #1789 "test: Modify functions in install_data.go to use .yaml files"
**Feature Request**
=

Currently the functions in `test/framework/installer/install_data.go` have inlined the CRD and operator manifests as a string. These seem to be a copy of whatever you would find in `cluster/examples/kubernetes/ceph/...`, so it's bad practice to inline them like we're currently doing.

We should be reading these manifests from their appropriate files to avoid a scenario where

[2018-06-13 23:42] fritchie commented on #1776
since I am using a raw device with BlueStore I assume

ID_FS_UUID or ID_PART_TABLE_UUID

will never be set on the device /dev/sdb

[2018-06-13 23:46] fritchie commented on #1776
I guess since I am using BlueStore on a raw device

ID_FS_UUID or ID_PART_TABLE_UUID

will never be found on the device (sdb in this case)

[2018-06-14 09:11] r-moiseev opened #1790 "Unable to mount volume"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened:
I have deployed rook-operator with helm chart and very basic cluster and block-storage pool from doc.
When i created PVC, PV was created, but can not be mounted to a pod. I have this:
[code]
I can see that volume was successfully created in operator logs

What you expected to happen:
Volume mounted to a pod

How

[2018-06-14 10:02] Inumedia commented on #1488
For those who still stumble on this and get the `list element types are not identical: [[customresourcecleanup.apiextensions.k8s.io] []]` error when trying to patch like above,

this command worked for me:

`kubectl patch crd clusters.ceph.rook.io  -p '{"metadata":{"finalizers": []}}' --type=merge`

( Sorry for pinging everyone on this issue, I ran into this and spent a good couple hours figuring

[2018-06-14 11:37] zhwenh commented on #1790
Support rbd-nbd for mounting operations on Ceph rbd volumes

**What this PR does / why we need it**:
This PR improves Ceph RBD support by allowing the pkg/volume/rbd to use the rbd-nbd client. This client is based on the common and broadly adopted (librados) librbd library, and it is being actively developed and maintained&nbsp;as part of the ceph upstream code base, unlike krbd.

**Which issue(s)

[2018-06-14 11:39] zhwenh commented on #1790
Add support for accessing Ceph RBD with the rbd-nbd client

Add support for the recently emerged rbd-nbd feature-rich client to improve support for Ceph RBD in Kubernetes.

Background

Kubernetes already offers support for Ceph RBD based on the krbd kernel client. Unfortunately, due to obvious reasons, krbd can't use the librbd user-space space library that gets most of the development focus. This

[2018-06-14 11:39] galexrt commented on #1790
@r-moiseev Can you check your kubelet logs for volume mount errors such as `no volume plugin matched`?
Is your kubelet configured to use the same flexvolume directory as the Rook operator? See https://rook.io/docs/rook/v0.7/flexvolume.html.

[2018-06-14 11:42] galexrt commented on #1790
@zhwenh Seems to be a Kubernetes issue/PR description you have posted. Could you elaborate on your comments? I don't see how this is directly related to this issue.

[2018-06-14 12:17] r-moiseev commented on #1790
I have this error in kubelet:
[code]

[2018-06-14 12:28] galexrt commented on #1790
@r-moiseev The `no volume plugin matched` means that the kubelet can't find the Rook volume plugin in the flexvolume directory.
Can you check that your flexvolume plugin dir path contains a directory named `rook.io~rook`. Check that the Rook operator has the `FLEXVOLUME_DIR_PATH`  environment variable set to the same path as the kubelet flexvolume plugin dir path. In both cases try deleting the ro

[2018-06-14 12:40] galexrt commented on #1758
@andrewrynhard The formatting is done by kubelet AFAIK, not by the agent.
As @lyptt wrote in his case, the `e4fsprogs` were missing on his node.

[2018-06-14 12:41] r-moiseev commented on #1790
@galexrt rook-operator has no `FLEXVOLUME_DIR_PATH` at all

[2018-06-14 12:44] galexrt commented on #1790
@r-moiseev But your kubelet nodes have the flexvolume dir flag set? If so, delete the `rook-agent` DaemonSet and add the `FLEXVOLUME_DIR_PATH` env var to the operator.
See https://rook.io/docs/rook/v0.7/flexvolume.html.

[2018-06-14 13:06] r-moiseev commented on #1790
Manually added this variable to helm chart, redeployed operator, recreated agent, and its working now.

Thank you.

[2018-06-14 13:23] galexrt commented on #1790
@r-moiseev To document here the helm chart also has an option for it https://rook.io/docs/rook/v0.7/helm-operator.html#configuration `agent.flexVolumeDirPath`.

[2018-06-14 14:13] dgonzalezruiz opened #1792 "Ceph MGR prometheus endpoint hangs"
* Bug Report
AND
* Feature Request

**Bug Report**

After some time, the ceph manager prometheus endpoint stopped providing metrics. When one tried to query them, the request hanged and the manager failed to deliver the expected metrics. I had to kill the pod manually to get them back.
The only messages repeatedly appearing in the ceph mgr logs were:

[code]

What you expected to happen:

The ceph

[2018-06-14 14:13] dgonzalezruiz commented on #1792
I will work on a PR for this.

[2018-06-14 14:34] galexrt commented on #1792
@dgonzalezruiz I'm against killing the Pod automatically, this bug should be fixed in the Ceph MGR prometheus module upstream (and be backported) instead of "working around it".

Adding a ready and liveness probe sounds good though. Have you checked that the http status code returned by the MGR went bad (not 200) when the MGR stopped reporting metrics? Otherwise ready and liveness probe may not re

[2018-06-14 14:41] checkaayush commented on #1765
Seems like this is it: https://github.com/rook/rook/blob/master/images/ceph-toolbox/Dockerfile.base#L42

[2018-06-14 14:53] robertrbruno commented on #1280
Looking at the logs I do see quite a few entries that state:

"flexdriver: Ignore error about Mount failed: exit status 32. Kubernetes does this to check whether the volume has been formatted.  It will format and retry again...."

I see several (over 30 times) of those in the log from the day I was building the pod.  I see the pattern of flexdriver saying the volume has been attached and mounted,

[2018-06-14 15:21] dgonzalezruiz commented on #1792
The problem is not that a wrong status is reported, it is that there are timeouts. This is also measurable by kube-probe. I do agree that in general, restarting things like crazy does not work, but I believe it is the best we can do if a service stops responding to requests and becomes zombie. Indeed, these are just workarounds, but in general this is becoming the way to solve problems in the end.

[2018-06-14 15:27] travisn commented on #1488
@Inumedia would be great to add this to the [help topic](https://github.com/rook/rook/blob/master/Documentation/teardown.md#removing-the-cluster-crd-finalizer) on cleaning up the crd. Want to open a PR for that? Btw, this is the command that worked on my test cluster:
[code]

[2018-06-14 15:35] andrewrynhard commented on #1758
@galexrt Thanks!

[2018-06-14 16:49] travisn commented on #1765
Note that this issue exists in both the `rook/ceph` and `rook/ceph-toolbox` images. I found that by adding these two lines to their dockerfiles solved this issue:
[code]
Note that this adds about 12MB to the uncompressed image size. I wonder if there are any other side effects to glibc in the image that could affect ceph.

[2018-06-14 18:45] tonya11en opened #1793 "Adopt usage of a Golang linter in code reviews"
Our stance on Rook's Golang style is as follows:

We should be using Golint for this. Gofmt simply reformats Go code and `go vet` just reports suspicious constructs. Neither of these can be relied on for finding style issues. To adopt a common coding style (comment structures, error handling, variable naming schemes, etc) we should include Golint repots as part of the code review process.

https:/

[2018-06-14 19:03] travisn commented on #1793
Is this the same as #495? Note that `make lint` will also run it. There are only 640 issues to fix right now. :)

[2018-06-14 20:15] tonya11en commented on #1793
@travisn looks like the right thing, but I was hoping for something to stop the bleeding as the codebase grows.  It would be nice to have a way to determine new linter errors introduced with a PR.

[2018-06-15 14:01] patrickstjohn commented on #1280
Running into the same issue as described above. After we have approximately 1PB in our cluster across the object store and RBD creating new volumes of anything above 1TB takes more than an hour. Rolling out any sort of large scale statefuleset then becomes essentially unusable.

[2018-06-15 14:48] galexrt commented on #1501
@SDLyu Can you check your kubelet logs if you have `no volume plugin matched` messages in it?
If so, make sure your kubelet is able to reach your flexvolume directory (e.g. `/var/lib/kubelet/volumeplugins`).
If the flexvolume directory (e.g. `/var/lib/kubelet/volumeplugins`) contains no folder named something with `rook`, then

[2018-06-15 14:55] patrickstjohn commented on #1681
We're running into similar issues to this and #1280 that are making large deployments unusable for anything larger than a few nodes with large volumes. This appears to only really manifest itself in our case when our cluster gets filled with a fair amount of data (+1PB). My guess is things are finally getting slow enough that we're running up against the timeout value.

[2018-06-15 16:44] mbrownie1 opened #1795 "Erasure coding pools should set min_size to the number of data chunks"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:  By default, the min_size is set to "3" when building a 3 node OSD cluster using Rook.IO.  This is problematic since the cluster can no longer process I/O if a single OSD is lost.

root@rook-ceph-tools:/# ceph osd pool get my-store.rgw.buckets.data min_size
min_size: 3

What you expected to happen:  Expected "mi

[2018-06-15 16:47] galexrt commented on #1795
The problem is more in the point that the `min_size` is wrongly set as far as I understand from the Slack conversation.
At least for replicated pools it is `1` allowing reads (and writes) with all except one lost copies of data, which I think should also be set for erasure coded pools.

/cc @travisn Is that right?

[2018-06-15 16:53] travisn commented on #1795
@galexrt Right, this is specific to erasure coding pools that should set min_size to the number of data chunks.

[2018-06-15 17:51] galexrt opened #1796 "Run two MGRs to have one in standby mode"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing:
No.

What should the feature do:
Run two MGRs (again #1334) instances.
See #1048.

What would be solved through this feature:
Running two MGRs would allow to have better HA for Ceph metrics, because if one node is `NotReady` for Kubernetes it takes up to 5 minutes till

[2018-06-15 18:10] liewegas commented on #1796
@jcsp Is there anything to worry about here with the way mgr failover happens?  I seem to recall something about how failover across instances is slower than when the same instance name restarts.

Perhaps that doesn't actually matter here, though, since if you have mgr.x and mgr.y and x fails, it will restart just as quickly regardless of whether there is also a mgr.y, so this can only improve thi

[2018-06-15 19:53] #1752 closed

[2018-06-15 20:04] dimm0 commented on #1280
Btw, deleting volumes is slow too... I have a bunch of `Exceeded failedDeleteThreshold threshold: 15, for volume "pvc-0a5f0eba-6385-11e8-8d4e-0cc47a6be994", provisioner will not attempt retries for this volume` in operator logs, and I manually clean those from rbd and then remove the pv from kubernetes. One 150TB volume is already being deleted manually for more than a day, and so far it's deleted

[2018-06-16 16:40] galexrt commented on #1733
@tonya11en The PR you point does not fix this completely.

From what I read about erasure coded (at least for) RBD pools, two pools are needed, kind of like with CephFS having two pools (by default).
One for metadata and for data, so when `rbd create` is called the `--data-pool` option needs to be given pointing to the data pool but for the "image prefix" one needs to use the metadata pool[1].

[1

[2018-06-16 16:55] AntonioMeireles commented on #1733
@galexrt thanks for clarifying this!

[2018-06-17 07:51] doka commented on #1312
Same issue on CentOS 7.5 with Kubernetes version v1.10.4 and rook/rook:v0.7.0

Workaround: load the RBD module at boot:
[code]

[2018-06-18 07:19] jcsp commented on #1796
Yeah, recovery with the same instance name is faster (no timeout), just like how the MDS works.  However, in this case I think we're talking about using Ceph's timeout-based failover just because it's snappier than the k8s node failure handling, so either way it's a timeout.

I didn't realise the k8s timeout on a failed node was so long (5m) -- since mon_mgr_beacon_grace is only 30s, they'll clear

[2018-06-18 13:57] benceszikora opened #1797 "Rook partitions disappearing"
**Bug Report**

What happened: The WAL and the DB partitions have disappeared from the disks used by rook:
[code]
This has happened to *all* disks on one of my OSD nodes (let's called it node A), and I can see the same thing on some of the disks on another one (if the number of these increases I'll report back).

When the OSD pods are restarted, all the OSDs show up as `up` for a while, and then t

[2018-06-18 15:51] travisn commented on #1796
@jcsp Since the mgr and mds have a built-in health monitor and failover, what monitoring would be effective for rook to add in addition? I'm not sure we can do better than the K8s timeouts. When K8s determines a node is NotReady, its pods should already be evicted and started elsewhere immediately. Before that happens, the mgr and mds wouldn't perform their own failover of the active node since th

[2018-06-18 16:28] jcsp commented on #1796
For an unexpected node failure, in general Ceph's timeouts would have already kicked in at the point that k8s timeouts do.  However, I imagine in some cases the k8s node death might be somehow intentional/orchestrated, so we would like the cue from k8s that the node is dead, rather than waiting for the Ceph timeout.  Conceivably, k8s might also have better knowledge of node failures, e.g. tipped o

[2018-06-18 16:58] travisn commented on #1796
Got it, will definitely keep that in mind to look for ways to proactively monitor the daemons. And hand waving is acceptable at this point too. :)

[2018-06-18 18:48] jbw976 commented on #1733
added as nice to have in v0.8 since this was intended to be fixed entirely in #1129 via #1651, but there is apparently more work to do.

[2018-06-19 01:11] #1700 closed

[2018-06-19 04:51] #1679 closed

[2018-06-19 10:55] checkaayush commented on #1665
Have we tried this: https://stackoverflow.com/questions/46483609/jenkins-slack-notification-shows-unconfigured-jenkins-location?

[2018-06-19 12:02] JohnnyQQQQ commented on #1292
I'm facing the same issue on ubuntu with ext4.

[2018-06-19 14:04] AntonioMeireles commented on #1733
@jbw976 in the meantime (specially *if* getting it  merged ends taking a fair bit) IMHO it may make sense to clearly indicate in the `master` docs that as of now this is not working, to manage users's expectations ...

[2018-06-19 14:04] r-moiseev opened #1798 "Helm repo is unavailable in browser"
* Bug Report

**Bug Report**

What happened:

`Error: [object Object]` on  https://charts.rook.io/alpha

[2018-06-19 16:31] jbw976 commented on #1733
as per @galexrt, we should look also at the docs/samples to see if the default paths are using erasure coding.  if EC doesn't work by default for block storage, that should not be the default.

[2018-06-19 16:33] liewegas commented on #1733
even if it does work, i'm not sure EC is a good default for RBD given the performance tradeoff.

[2018-06-19 16:53] jbw976 commented on #1540
Letting @galexrt take this issue over with his recent effort on the vagrant multi-node solution.

[2018-06-19 17:22] ajarr opened #1799 "NFS gateways for rook's Ceph filesytem and Object (RGW) stores"
**Feature Request**

What should the feature do:
Implement NFS-Ganesha CRD that will launch highly available, and scalable NFS-Ganesha server pods as NFS gateways to rook's Ceph filesystem and object (RGW) store.

What would be solved through this feature:
Ceph fileystem shares and object store can be consumed via the widely used NFSv4 protocol.

Are there any similar features already existing:
Th

[2018-06-19 18:47] BlaineEXE commented on #1468
I'm also finding that even without installing via Helm, resources that the operator creates may not be deleted. Specifically, the `rook-ceph-agent` serviceaccount isn't being deleted.

[2018-06-19 21:11] #1776 closed

[2018-06-20 00:08] jbw976 opened #1802 "Restructure docs navigation to support multiple providers better"
The documentation navigation on https://rook.io/docs/rook/master/ needs to be organized a little better now that Rook supports multiple storage providers.

* Users that only care about 1 of the storage providers should be able to see only docs relevant to it
* Quickstart example should link to a quickstart for each provider, right now its entirely Ceph focused

[2018-06-20 00:11] jbw976 opened #1803 "make build should be able to build only 1 storage provider"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing:

What should the feature do:  When a developer wants to build, they should be able to only build the container image for a single storage provider, such as Ceph.  Something like `make build ceph` should only build the Ceph image and skip others such as CockroachDB or Mi

[2018-06-20 00:22] jbw976 opened #1804 "End to end integration test for Minio"
We need an end to end integration test for Minio to sanity/smoke test its basic functionality as part of continuous integration.  This test should be dependent on #1788 so that we ensure our test solution scales as more providers are added.

[2018-06-20 02:05] jbw976 opened #1806 "cockroachdb integration test fails intermittently with multiple replicas"
The `CockroachDBSuite` sometimes can fail to set up a functional cockroachdb cluster in the integration test environments.  I have never been able to reproduce this locally with minikube. Some observations/thoughts:

* The operator will actually succeed with its `cockroach init` operator, indicating that the cluster should be OK and ready to handle requests
* Instances will be restarted multiple t

[2018-06-20 02:15] jbw976 opened #1807 "CockroachDB will fail to install when there's no default StorageClass"
In environments with no default storageClass, the CockroachDB operator will fail to get the cluster up and running successfully.  This is because the StatefulSet that runs the instances uses a volumeClaimTemplate that uses the default storageClass (via a null storage class name field).  If there is no default storageClass then the PVs for the instances can not be bound and the pods cannot get runn

[2018-06-20 02:29] hunter commented on #1807
Is `hostpath-provisioner` recommended? [Local volumes](https://kubernetes.io/docs/concepts/storage/volumes/#local) is beta in 1.10 and should handle scheduling workloads better than hostPath.

[2018-06-20 02:37] jbw976 commented on #1807
Agreed @hunter, local volumes would be an improved solution over the hostpath provisioner.  Maybe we can give instructions for that on k8s 1.10+ but also give instructions for hostpath provisioner for older versions of kubernetes.

[2018-06-20 02:48] hunter commented on #1807
Looks as though for older versions, we can use the [external-storage](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume#version-compatibility) version. Less features but does give an easier migration path.

[2018-06-20 03:32] jbw976 commented on #1665
By looking at the history of statuses for a given commit in a PR, we can see the history of status updates that in turn influence the status of the PR.  Take this status history for example from #1769 that can be found in full at
https://api.github.com/repos/rook/rook/statuses/100e80250f2e3f266bb80f5522477bae45abf245:
[code]
Note that build 6 is in a success state, then a day later @DoubleDensity

[2018-06-20 03:33] #1629 closed

[2018-06-20 11:21] thecodeassassin commented on #1798
I can confirm this is still an issue

[2018-06-20 11:54] galexrt commented on #1798
@r-moiseev @thecodeassassin  Is just the web view of the helm repo (e.g. S3 folder view) not working or are you also unable to install helm charts by using `helm install`?

[2018-06-20 11:57] r-moiseev commented on #1798
helm is working now, yesterday was unavailable for few hours.

[2018-06-20 12:58] thecodeassassin commented on #1798
@r-moiseev  For me, web view is not working. I wanted to check the default values.yaml.

[2018-06-20 14:56] clkao commented on #1636
This is a regression of what #1096 implemented.

[2018-06-20 15:35] patrickstjohn commented on #1280
Potential workaround: change the default filesystem from ext4 to xfs in your StorageClass. The timeouts don't happen and our build goes from 2-3hrs down to 15minutes. Additionally, it looks like Ceph recommends xfs as your default filesystem format so that probably should be the sane default.

[code]

[2018-06-20 15:37] patrickstjohn commented on #1681
Referenced a workaround in #1280 changing the filesystem type from ext4 to xfs appears to work much better.

[2018-06-20 17:41] jbw976 commented on #1681
I believe this issue is the same as #1280 so I am going to close this one for now as a duplicate.  Please let me know if there is a clear difference between these two issues, thanks!

[2018-06-20 17:41] #1681 closed

[2018-06-20 17:43] jbw976 commented on #1280
@patrickstjohn would you be interested in submitting a PR that updates the default to xfs? :sunglasses:

[2018-06-20 17:46] jbw976 opened #1808 "recent master builds have a dirty tag"
Starting with `v0.7.0-205.g357b7b8.dirty`, image tags for all containers that Rook builds are now marked as dirty, meaning that something is changing in the local clone during the build.  I cannot reproduce this locally, so we need to investigate on the Jenkins build machine.

This started happening after the cockroachdb operator was merged to master with this commit: https://github.com/rook/rook/

[2018-06-20 17:58] jbw976 commented on #1798
@thecodeassassin on https://charts.rook.io/, are you seeing a page with just the content below?

This is what the chrome dev tools show me, I wonder if that is the cause:
[code]

[2018-06-20 17:59] thecodeassassin commented on #1798
Yep, getting the same here.

Op wo 20 jun. 2018 19:58 schreef Jared Watts <notifications@github.com>:

[2018-06-20 18:14] jbw976 opened #1809 "Support secure installation of cockroachdb"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: CockroachDB can be installed by its operator in insecure mode only currently.

What should the feature do: When the secure flag of the `cluster.cockroachdb.rook.io` CRD is set to `true`, the operator should create and deploy a secure CockroachDB cluster, as described in

[2018-06-20 18:23] jbw976 opened #1810 "Helm chart support for cockroachdb"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: Ceph has helm chart support, but CockroachDB does not.

What should the feature do:  Users should be able to install and configure CockroachDB through a helm chart, similar to the existing support for Ceph: https://rook.io/docs/rook/master/helm-operator.html

[2018-06-20 18:23] jbw976 commented on #1810
`minikube.sh helm` would need to be updated to call `copy_image_to_cluster` for the `rook/cockroachdb` image too.

[2018-06-20 19:17] patrickstjohn commented on #1280
@jbw976 absolutely happy to. It looks like the default is being pulled in from Kubernetes instead of being explicitly set by Rook. https://github.com/rook/rook/pull/847 and https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L472

I updated the example and the documentation but an override of Kubernetes defaults is probably a larger discussion for your team.

[2018-06-20 19:46] jbw976 opened #1812 "cockroachdb cluster fails to initialize when a non default port is used"
Is this a bug report or feature request?
* Bug Report

**Bug Report**

What happened: When using a non default grpc port (e.g. 26258 instead of the default 26257), the clusters fails to get initialized.

What you expected to happen:  Cluster to be fully initialized and functional.

How to reproduce it (minimal and precise):
Follow steps to setup cockroachdb as listed in https://rook.io/docs/rook/m

[2018-06-20 20:24] jbw976 opened #1813 "cockroachdb operator should have minimal RBAC access"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: Originally captured in #1389 and implemented in #1736 for Ceph.

What should the feature do: Similar to the Ceph operator in the PR above, the cockroachdb operator should get service accounts and roles that are scoped to just the namespaces that should have cockroachdb

[2018-06-20 23:42] tonya11en opened #1814 "minio: Helm chart support"
Feature Request
=
Users should be able to install and configure Minio through a helm chart, similar to the existing support for Ceph: https://rook.io/docs/rook/master/helm-operator.html

[2018-06-20 23:44] tonya11en opened #1815 "minio: Minimize RBAC access"
Feature Request
=
Investigate reducing RBAC permissions for the Minio operator.

[2018-06-20 23:56] jbw976 commented on #1815
Related to #1389 for Ceph and #1813 for cockroachdb

[2018-06-21 01:46] jbw976 commented on #1808
Since I do not have the SSH key to connect to the Jenkins machines, I tried to be clever and take an EBS snapshot of their disks then examine those by attaching them to a temporary micro instance.  Unfortunately, it looks like the path where the git repo is cloned and a build is performed (e.g., `/home/ubuntu/workspace/rook_rook_master-G4HNCZNZ2QMMOJ26BOE5XMCO6OW7CRWPLLQRL3H6IRM22IZR4NPA`) is only

[2018-06-21 05:19] dimm0 commented on #1280
xfs is not helping the issue, we're using it by default

[2018-06-21 10:49] r-moiseev commented on #1798
And again i is unavailable with helm install

[2018-06-21 15:35] benceszikora commented on #1797
This has just happened again on a completely clean setup (same version). All of the OSDs only have the BLOCK partition left. Weirdly they still show as up, but we are starting to see inconsistent PG errors with `read_errors`.
I see a bunch of these messages earlier, but not much else:
[code]

[2018-06-21 19:06] bsqrd commented on #1797
We discovered that the WAL and DB partitions for the OSDs were apparently migrated from the original OSD SCSI block devices over to a NVMe device that we specified for metadata in our cluster definition:

`
    "storage": {
      "deviceFilter": "^((sd[e-z])|(sda[a-s]))",
      "metadataDevice": "nvme0n1",
      "storeConfig": {
        "storeType": "bluestore"
      },
`

Here is the partitions t

[2018-06-21 19:45] jbw976 commented on #1808
Using the groovy script console in the jenkins admin UI for the slave nodes, I was able to run `git status` and see that it's the vendoring that is changing during the builds.
[code]

[2018-06-21 19:56] jbw976 commented on #1808
As far as I can tell, the changes being made to `Gopkg.lock` during the `make vendor` step of the build are only whitespace related.  Each package list is getting each entry on its own line, e.g.,:
[code]
The dep version `v0.4.1` was [released back in January](https://github.com/golang/dep/releases/tag/v0.4.1), and Gopkg.toml and Gopkg.lock haven't changed in months:
https://github.com/rook/rook/c

[2018-06-21 23:00] jbw976 commented on #1808
For future knowledge, the keypair name is `CR-AWS-DD` on the Cloud - Amazon EC2 section of the main configuration page, not the credentials management page.

[2018-06-21 23:20] jbw976 commented on #1808
https://github.com/golang/dep/issues/1595 and https://github.com/pelletier/go-toml/pull/217 look related to this issue.

[2018-06-22 00:21] jbw976 commented on #1798
I'm looking into this again today, I still see the same error on https://charts.rook.io/.  I updated the CORS configuration as per https://stackoverflow.com/a/35278803/467462, but that did not resolve the error.  I can't imagine that a more complicated solution outlined in https://medium.com/statup/statups-workaround-long-term-solution-to-an-aws-cors-issue-68d0b68555db, that would be a bit ridicul

[2018-06-22 01:38] jbw976 commented on #1280
Thanks for your input @dimm0, that would imply that the `rbd map` command itself that performs the map/attach does take a significant amount of time.

[2018-06-22 11:13] FlyClover commented on #1553
I'm using rook 0.7.1. The same issue happened on a node with kubelet 1.10.3:

[code]

The cluster's master is running kubelet 1.9.4. However, I cannot reproduce it by deleting pod or scale deployment...

Entire log is [here](https://gist.github.com/FlyClover/bed019a23e0b77b128ca5e2b73930ad0)

[2018-06-22 15:17] fritchie opened #1818 "BlueStore not using device specified in CRD"
Bug Report

What Happened:

BlueStore is using files in /var/lib/rook (/dev/sda) for block storage rather than using the specified raw device (/dev/sdb).

What did I expect to happen:

BlueStore using raw devices (/dev/sdb).

OS: CentOS Linux release 7.4.1708 (Core)
Kernel: 3.10.0-693.21.1.el7.x86_64
Provider: On premise Nutanix VM
Rook Version: rook: v0.7.0-211.gf8866e6
Kube Version: 1.9.5
Kube C

[2018-06-22 16:38] #1680 closed

[2018-06-22 17:19] jbw976 commented on #1665
I haven't seen this issue since removing the write permissions from the @DoubleDensity account.  I'm going to close this issue since the massive annoyance of PRs going from green to red within a day seems to have been addressed.

[2018-06-22 17:19] #1665 closed

[2018-06-22 17:24] galexrt commented on #1665
@jbw976 finally, thanks! Though we should look into updating the Jenkins regardless ;)

[2018-06-22 20:52] fritchie commented on #1818
CRD:

[code]

[2018-06-23 10:07] AntonioMeireles commented on #1808
FWIW this issue come back from the grave ... (cf. https://hub.docker.com/r/rook/ceph/tags/).

have a great weekend!

[2018-06-23 17:52] jbw976 commented on #1808
You are right @AntonioMeireles, thank you very much for the heads up on that! I will look into this again 😣

[2018-06-23 18:11] jbw976 commented on #1808
It is the `Gopkg.lock` file changing again, but I understand why this time with help from https://github.com/golang/dep/issues/1392#issuecomment-346305224.  Only the `inputs-digest` changed.  A diff of the `dep hash-inputs` output from the last clean build and then the minio PR being merged shows a new import of `k8s.io/api/apps/v1beta2` that was previously only a transitive dependency. That's why

[2018-06-23 18:19] bassam commented on #1808
agree. we should catch these at a PR level, i.e. ensure the `make vendor` results in no changes before committing a PR.

[2018-06-23 18:19] paalkr opened #1821 "No devices discovered"
**Bug Report**

What happened:
Deployed rook according to documentation on a K8s cluster.

The discover pods fail to recognize any devices to mount, failing with the following error messages
[code]

executing the `sgdisk --print /dev/nvme0n1` manually from a node needs sudo
[code]
[code]

What you expected to happen:
That EBS and/or ephemeral devices would be discovered

**Environment**:
* OS (e.g

[2018-06-23 18:34] fritchie commented on #1821
this may also explain https://github.com/rook/rook/issues/1818

[2018-06-23 19:51] #1808 closed

[2018-06-23 19:54] jbw976 opened #1822 "make vendor should be checked for no changes in all PRs"
We've had a couple problems in master recently where the `Gopkg.lock` file changes during `make vendor` resulting in a dirty build.  This was tracked and fixed in #1808 but we need a better long term solution.  Every PR should have a check before being merged to master that all the imports/dependencies are up to date and `make vendor` results in no changes.

Latest analysis can be read in https://

[2018-06-23 19:55] jbw976 commented on #1808
Tracking the longer term check in #1822

[2018-06-24 09:55] sordfish commented on #1659
I could also do with a work around.

@jbw976 I'm no expert but looking at the cinder code mentioned in kubernetes/kubernetes#62644 this is also in the in-tree RBD plugin.

[2018-06-24 10:54] evgeniy-klemin opened #1823 "New mon0 running with 127.0.0.1 addr on bare metal cluster"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:

New mon0 running with 127.0.0.1 addr on bare metal cluster

What you expected to happen:

mon0 should start with ips assigned by cluster

How to reproduce it (minimal and precise):

After some installs, new rook operator (master channel) create first rook-ceph-mon0 with 127.0.0.1 ips.
Logs in rook-ceph-mon0 pod

[2018-06-24 11:10] galexrt commented on #1823
Can you post your Cluster CRD and a node YAML (`kubectl describe node NODE_NAME`)

[2018-06-24 11:38] evgeniy-klemin commented on #1823
[code]

[code]

[2018-06-24 11:54] galexrt commented on #1823
I didn't mean the CRD object. I mean the Cluster object (YAML manifest of your Ceph cluster) you created, e.g. should show it `kubectl get -n rook-ceph clusters.ceph.rook.io rook-ceph -o yaml`.

[2018-06-24 12:00] evgeniy-klemin commented on #1823
Perhaps the same as in the init message:

[code]

[2018-06-24 12:03] evgeniy-klemin commented on #1823
Original CRD cluster.yaml was:

[code]

But in the command in prev message, spec.mon.count=0, ...

[2018-06-24 16:45] galexrt opened #1824 "Use ceph osd safe-to-destroy instead of own logic"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing:
Yes, currently this code[1] is used to determine if it is safe to remove an OSD (Pod).

What should the feature do:
Use `ceph osd safe-to-destroy <osd-id>` instead of our own logic, as Ceph is probably in the better position to decide if an OSD is ready to go.

What wou

[2018-06-24 16:53] evgeniy-klemin commented on #1823
I tried to exclude node1 for mon. Now all 3 mons are running successfully.
But osd in host node1 infinitely restarts.

Modified cluster yaml:

[code]

In osd(node1) logs:

[code]

osd tree:
[code]

osd.1 config(node1):

[code]

All nodes are identical (except disks). K8s was installed with kubespray.

Something wrong with node1, but other k8s apps working without trables on all nodes.

[2018-06-24 16:57] galexrt commented on #1823
Can you post the output of the ReplicaSet on node1 `kubectl get -n rook-ceph replicaset rook-ceph-mon0-... -o yaml`

[2018-06-24 19:38] evgeniy-klemin commented on #1823
It was fixed after re-add the node1 in cluster with kubespray.

[2018-06-24 19:38] #1823 closed

[2018-06-25 06:10] kongslund commented on #1659
It is the responsibility of each volume plugin to provide metrics. [FlexVolume](https://github.com/kubernetes/kubernetes/blob/5044a3d12cd8a7c01045651646d6a76864661027/pkg/volume/flexvolume/mounter.go#L35) and [CSI volume](https://github.com/kubernetes/kubernetes/blob/5044a3d12cd8a7c01045651646d6a76864661027/pkg/volume/csi/csi_mounter.go#L69) do not support metrics at the moment. It is not clear to

[2018-06-25 15:18] travisn commented on #1821
@paalkr thanks for the detailed investigation. We will need to run the discover pod privileged in order to detect the device uuids. @fritchie yes, this looks like the same issue.

[2018-06-25 18:12] jbw976 commented on #1824
It would be good to have a better/clear understanding of what the `safe-to-destroy` subcommand does under the covers.  The OSD agent logic linked above in this issue is about synchronization of the orchestration process, checking to make sure that rebalancing of data has started and has finished so the operator knows when the next step in orchestration can be started.  I don't know if `safe-to-des

[2018-06-25 19:36] jbw976 opened #1826 "integration tests need to better handle previous runs being cleaned up still"
When an integration test pipeline is run on a machine that just finished a run for a previous build, there can be some leftover state that is still being cleaned up from the previous run.  Here are 2 recent examples where namespaces and CRD objects still exist from the previous run:

https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-1825/1/pipeline
[code]

https://jenkins.ro

[2018-06-25 19:53] #1389 closed

[2018-06-25 20:22] jbw976 opened #1827 "documentation for how to remove, replace or recreate OSD"
We've had a handful of support requests about how to remove, replace or recreate an OSD.  Currently, all OSDs are in a single pod and there is only official support to remove an entire node of OSDs right now.

## v0.8+ manual instructions
@cheethoe has written up manual instructions for this process that should work on Rook v0.8+: https://gist.github.com/cheethoe/49d9c1d0003e44423e54a060e0b3fbf1

[2018-06-25 20:58] soggiest commented on #1233
I'm seeing the same issue as the original post. I've tried destroying and recreating the cluster a handful of times and I get the same response.

[2018-06-25 21:31] #1818 closed

[2018-06-26 03:19] sinqinc opened #1828 "Can't create new Pods using CephFS"
**Bug Report**

What happened:
I can't create new pods using Flex Volume CephFS. The node is completely hanging and need to be rebooted because the node begin to flap the Kubernetes Cluster. The Pod cannot be removed too.

 I can create POD using RBD only if using a new claim.

the host is mounting the volume.

What you expected to happen:

Pod get created successfully.

How to reproduce it (minim

[2018-06-26 07:16] bjornryden commented on #1828
Sorry if I'm suggesting the obvious, but did you set the correct flex volume path?
https://github.com/rook/rook/blob/master/Documentation/flexvolume.md

[2018-06-26 11:34] sinqinc commented on #1828
Yes i did, i have 13 other pods connected to the same FS. The problem begin after a cluster reboot. All current pod are recreated without problem.

[2018-06-26 14:14] sinqinc commented on #1828
I can mount it in the Rook Toolbox

`root@rook-tools:/# rookctl filesystem mount --name share --path /tmp/registry
succeeded mounting shared filesystem share at '/tmp/registry'`

[2018-06-26 14:21] sinqinc commented on #1828
it seems related to the Flex volume indeed. but.. In Rancher if I do "Add a new Persistent Volume (claim)" and use a Rook Storage Class, the deployment is created successfully

[2018-06-26 21:16] konfiot opened #1830 "MountVolume.SetUp failed for volume mount command failed, status: Failure, reason: Rook: Mount volume failed: failed to get persistent volume Unauthorized"
Hello,
I run into an issue when setting my rook cluster, everything works fine untill I try to attach block storage to my pods, I've created the sc, the pvcs ar bound, but the pods fails tou mount it with the following error : ```MountVolume.SetUp failed for volume "pvc-0c1d462b-7985-11e8-8ed8-00e081344c0e" : mount command failed, status: Failure, reason: Rook: Mount volume failed: failed to get p

[2018-06-26 21:19] galexrt commented on #1830
@konfiot Please fill out the issue template (which is normally inserted by default in this form), see https://raw.githubusercontent.com/rook/rook/master/.github/ISSUE_TEMPLATE.md.

Without it we are lacking important information to effectively help with your issue.

[2018-06-27 00:20] sinqinc commented on #1828
The problem seems be related to the number of files on the volume. I removed a lot of files and it can now mount without problem.

[2018-06-27 06:19] konfiot commented on #1830
Oh, yes, sorry, went a bit fast when filing the issue...
What you expected to happen:
The pod being able to use the volume and mount it

How to reproduce it (minimal and precise):
[code]

OS : debian 9
Kernel : 4.16.12-1
Installed on bare metal
rook v0.7.0-227.g21f4be9
kubernetes v1.10.5
installed with kubeadm
Ceph health: HEALTH_OK

[2018-06-27 12:51] konfiot commented on #1830
If I checkout the v0.7.1 tag it works though, it is a problem with the master ?

[2018-06-27 15:15] jbw976 commented on #1830
Master does have some recent security changes for providing permissions scoped to only the namespace that a cluster is being deployed to as opposed to all namespaces.  There may be a mismatch with what you have locally on your cluster.  Can you confirm that your local clone is fully up to date so that the yaml files are the latest in master?  What does `git log -n 1` show for you?

[2018-06-27 15:46] konfiot commented on #1830
[code]

[2018-06-27 19:34] jbw976 opened #1832 "project versioning updates for v0.8"
We should move from a single project level status to a more granular status per API group.  This allows new storage providers and support in Rook to have independent version and status.

We should also update the Ceph API group version to v1beta1, reflecting the statement that we will continue to support the ceph.rook.io CRDs going forward and any changes will be made in a way that honors backward

[2018-06-28 02:17] HighwayofLife commented on #1233
I've also started seeing this pop up, and it's stumping me at the moment.

[2018-06-28 08:47] konfiot commented on #1830
[code]

[2018-06-28 08:50] konfiot commented on #1830
Okay, now it seems to be working...

[2018-06-28 08:50] #1830 closed

[2018-06-28 08:53] galexrt commented on #1830
@konfiot Just note here, you are running a `master` version of Rook (probably `master` as the image tag) which can cause such issues because on "new" nodes the image can have pulled a newer pulled image tag that has "new" features.
New features such as the Rook Ceph operator RBAC security improvement which cause your issue.

[2018-06-28 09:09] sebastien-prudhomme opened #1833 "ClusterRole rook-ceph-system-psp-user is missing in the Helm chart"
Seems the serviceaccount rook-ceph-system is missing the rook-ceph-cluster-mgmt role.

Logs in the rook-ceph-operator:

[code]

[2018-06-28 09:13] galexrt commented on #1833
@sebastien-prudhomme Can you please post some more info.
Which version of the Helm chart was used?

[2018-06-28 10:00] sebastien-prudhomme commented on #1833
I'm using the one in the master branch.

If i look at tests/framework/installer/install_data.go, the missing code should be like this:

[code]

[2018-06-28 10:03] sebastien-prudhomme commented on #1833
I add this YAML code to the chart and all seems ok now:

[code]

[2018-06-28 10:12] galexrt commented on #1797
@travisn @jbw976 I have added this to 0.8 project/milestone, so we make sure this does not happen with `master`/0.8.

[2018-06-28 10:13] galexrt commented on #1833
@sebastien-prudhomme Are you sure that you are on the latest `master`? I'm unable to reproduce the error in Minikube with latest `master` being at https://github.com/rook/rook/commit/11bac2707aa37f0b682ccebc4d118f57cc21c432.

[2018-06-28 10:48] sebastien-prudhomme commented on #1833
Sure about that. Just do a "git pull" to verify. No changes in cluster/charts/rook-ceph/

Using a 1.10 cluster build with RKE on 6 nodes, RBAC enabled.

[2018-06-28 10:58] sebastien-prudhomme commented on #1833
There is also a problem with the missing rook-ceph-system-psp-user clusterrole

This PR seems to be the cause: #1736

[2018-06-28 11:15] galexrt commented on #1833
@sebastien-prudhomme Can you post your `values.yaml`.

I'm assuming that you have created a Cluster CRD and then the operator error, or did the operator directly error?
The `rook-ceph-cluster-mgmt` will be bound in the Cluster namespace, see https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L22-L35.
Can you try using the latest Cluster manifest, https://github.

[2018-06-28 13:06] sebastien-prudhomme commented on #1833
Got it! Didn't realize that i should use a RoleBinding and not a ClusterRoleBinding with the new security model.

There is still the small problem with rook-ceph-system-psp-user

[2018-06-28 15:33] travisn commented on #1833
Ok, looks like the clusterrole `rook-ceph-operator-psp-user` in clusterrole.yaml needs to be renamed to `rook-ceph-system-psp-user`.

[2018-06-28 19:08] jbw976 commented on #1747
I was able to log into GCE and look around.  The instances that are spawned in GCE by the [Google Compute Engine Plugin for Jenkins](https://wiki.jenkins.io/display/JENKINS/Google+Compute+Engine+Plugin) do not have any additional disks beyond the boot disk.  In the Jenkins configuration for this plugin (search the general Jenkins system config page for `gce_1.9.x`), I do not see any way to specify

[2018-06-28 19:56] jbw976 commented on #1747
@travisn pointed out that it's actually AWS not GCE that has additional devices.  I've updated the 1.10 template in Jenkins to use `Block device mapping: /dev/xvdb=:20` just like 1.7 and 1.8 are using.  The integration tests in the `rootfs/osd-per-pod-all` branch should be using devices now, which will be in the 0.8 milestone.

[2018-06-28 23:05] thrawn997 opened #1836 "minio operator unable to handle custom k8s domains (anything aside from cluster.local)"
Is this a bug report or feature request?

* Bug Report

**Bug Report**

What happened:
Followed the instructions from https://rook.io/docs/rook/master/minio-object-store.html

What you expected to happen:
Have a working minio cluster

How to reproduce it (minimal and precise):
change your k8s domain from cluster.local to dev.cluster.local (in kube-dns and kubelet)
Followed the instructions from ht

[2018-06-28 23:13] thrawn997 commented on #1836
I *think* the issue is

minioServerSuffixFmt     = "%s.svc.cluster.local"
 in
rook/pkg/operator/minio/controller.go

I am not sure why you would need to specify this?  Using the unqualified domain should work fine in kubernetes.

[2018-06-29 02:32] jbw976 commented on #1836
Thank you for reporting this issue and sharing your debugging findings @thrawn997.   I think you are right, that code you shared should probably not be hard-coding the `cluster.local` suffix: https://github.com/rook/rook/blob/master/pkg/operator/minio/controller.go#L46

Do you want to submit a pull request to fix with something that works more broadly across all kubernetes deployments?  That would

[2018-06-29 17:12] rootfs opened #1839 "Ensure no device holders before declaring the devices empty"
* Feature Request
Currently when discovering if an OSD device is in-use, discovery pod doesn't check if there are any holders that have opened the device.
This is a follow up of #1698 per @leseb

cc @travisn
Does this have an impact on existing features:

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configuration:
* Rook version (use `

[2018-06-29 18:07] thrawn997 commented on #1836
Pull request submitted: https://github.com/rook/rook/pull/1838

[2018-06-29 18:39] travisn opened #1840 "Enable CI tests for K8s 1.11"
Since K8s 1.11 was released, Jenkins needs to add it to the pipeline.

[2018-06-29 19:48] #1836 closed

[2018-06-29 22:20] travisn opened #1841 "Integration tests for OpenShift"
Given OpenShift's differences, particularly around security settings, we need integration tests to run as part of the CI.

[2018-06-30 06:40] zhwenh commented on #1841
I tested the rook 0.8 rook/ceph:master version today. In the openshift 3.9 version, I found it still not working or I still need to delete it.
func ClusterOwnerRef(namespace, clusterID string) metav1.OwnerReference {
//blockOwner := true
return metav1.OwnerReference{
APIVersion: ClusterResource.Version,
Kind: ClusterResource.Kind,
Name: namespace,
UID: types.UID(clusterID),
// BlockOwnerDeletion:

[2018-07-01 17:40] sploiselle commented on #1812
@jbw976 I assume the desired behavior is to have all of the CockroachDB nodes use the port you've specified, i.e. in your example `rook-cockroachdb-2.rook-cockroachdb.rook-cockroachdb` should also use 26258? When you're using a non-standard port, you have to specify it in the join flag for each node, as well, e.g.

[code]

should work

[2018-07-01 18:03] grebois commented on #1501
Same issue with v.1.11.0, works fine with v.1.9.9

[2018-07-01 18:06] jomeier opened #1842 "Bug: rook-tools not working anymore?"
Hi,

I'm using the current documentation to install rook-tools.

I had to change the namespace in toolbox.yml from rook-ceph to rook-ceph-system but the rook-tools container doesn't start.

[code]

show this:

[code]

What's the reason for that? Can someone help me in getting rook toolbox working again?

Btw: Can someone adjust the yaml file and the documentation, please?

Thanks a lot,

Josef

[2018-07-01 18:08] galexrt commented on #1842
@jomeier What Rook version are you running?
As you wrote that you had to change `rook-ceph` to `rook-ceph-system` you are probably on Rook v0.7.x using the `master` toolbox, please try with the v0.7.x toolbox, see https://rook.io/docs/rook/v0.7/toolbox.html.

[2018-07-01 19:00] grebois commented on #1795
@galexrt you can specify this on your replicapool:

[code]

[2018-07-01 19:46] galexrt commented on #1795
@grebois There is no `min_size` option on the Pool CRD, see https://rook.io/docs/rook/master/ceph-pool-crd.html#spec.

This issue is about setting the `min_size` correctly on erasure coded pools. Replicated pools are not affected as they always get `min_size` set to `1` in the "background" and as written there is no option for that on the Pool CRD (yet).
I have to say I don't see a reason to add `

[2018-07-01 22:17] jomeier commented on #1842
@galexrt
Yes you are right. My versions of rook and the toolbox were different. My fault.

I'll close this issue.

Thanks a lot.

[2018-07-01 23:03] jomeier opened #1843 "wordpress example: Container stays in ContainerCreating state"
Hi,

I installed rook today like described in the documentation and tried the wordpress sample.

I'm on CentOS 7.5, Kernel 3.10.0-862.2.3.el7.x86_64

Result:

[code]

[code]

[code]

Does anybody have an idea what's wrong?

Best regards,

Josef

[2018-07-02 00:33] grebois commented on #1707
Same here:

[code]

[2018-07-02 10:14] motecshine commented on #1507
`
  Normal   Scheduled              19s               default-scheduler  Successfully assigned ebills-694dbc577d-6t8fm to node2
  Normal   SuccessfulMountVolume  18s               kubelet, node2     MountVolume.SetUp succeeded for volume "log"
  Normal   SuccessfulMountVolume  18s               kubelet, node2     MountVolume.SetUp succeeded for volume "code"
  Normal   SuccessfulMountVolume  18s

[2018-07-02 14:07] travisn commented on #1841
@zhwenh actually i need to merge #1729 before rook will run on openshift. Could you try building from my branch from that PR and confirm that it works for you? Thanks!

[2018-07-02 15:56] jbw976 commented on #1843
Thanks for reporting this issue @jomeier. Can you please provide the rook-ceph-agent pod logs for the one that is on the same node as the wordpress/mysql pods that can't start?

[2018-07-02 15:57] #1842 closed

[2018-07-02 16:04] jbw976 commented on #1809
Thanks for the pointer @sploiselle. CockroachDB has great docs, by the way! :muscle:

[2018-07-02 16:09] jbw976 commented on #1747
Confirmed in the logs for 1.10 in https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-1698/116/pipeline/47 that a device is being discovered and we have tests that are passing `useAllDevices=true`.
[code]

[2018-07-02 16:09] #1747 closed

[2018-07-03 04:46] jomeier commented on #1843
@jbw976
We found the problem: The

flexvolume

paraneter was commented out in the operator.yml file from the examples folder.

Formerly that seemed to work out of the box.

Issue can be closed.

[2018-07-03 05:54] jbw976 commented on #1843
Ah yes, thank you for following up and sharing your discovery with us.  This changed on us on the Kubernetes side in 1.9, so a non-default volume plug-in path must have this value set in the operator.yaml.  Hopefully this will become much simpler once CSI is fully supported/developed, as flexvolume is not getting anymore support.

Here's the full issue that was originally tracking this issue you f

[2018-07-03 05:54] #1843 closed

[2018-07-03 06:21] galexrt commented on #1828
@sinqinc Have you checked if disabling SELinux helps (maybe something with file labeling)? How much files did you delete from the FS? Does a "direct" mount on the host(s) work (e.g. `mount -t cephfs ...`)?

[2018-07-03 14:42] travisn commented on #1841
@zhwenh yes it is the branch in https://github.com/travisn/rook/tree/openshift-compatible

[2018-07-03 15:33] dac88 opened #1844 "Pod Rescheduling - Ceph Block ReadWriteMany"
Hi,

If a pod is rescheduled because of a node failure, not having ReadWriteMany capability prevents the Persistent Volume from being re-used.

Is this definitely a feature that cannot be implemented or have a manual workaround? It seems to go against the design pattern of having persistent storage and ephemeral containers.

Thanks,
Dean.

[2018-07-03 15:50] galexrt commented on #1507
Can you please try out these settings https://fatalfailure.wordpress.com/2016/06/10/improving-kubernetes-reliability-quicker-detection-of-a-node-down/ and report if it still happens.The link shows how to lower the timeout for node NotReady detection and decrease the time to pod eviction of Pods on NotReady nodes.

[2018-07-03 15:51] galexrt commented on #1844
Duplicate of #1507.

Please close the issue if you are okay with tracking this in #1507.

[2018-07-03 16:09] zhwenh commented on #1841
I tested https://github.com/travisn/rook/tree/openshift-compatible ，and again there's no anything created, no mon or osd pod created！

env:
- name: RBAC_ENABLED
value: 'false'
- name: ROOK_ALLOW_MULTIPLE_FILESYSTEMS
value: 'true'
- name: ROOK_LOG_LEVEL
value: INFO
- name: ROOK_MON_HEALTHCHECK_INTERVAL
value: 45s
- name: ROOK_MON_OUT_TIMEOUT
value: 300s
- name: ROOK_SKIP_SET_OWNER_REF
value: 'true'

[2018-07-03 16:11] galexrt commented on #1841
@zhwenh Could you please post the Rook operator logs and also add code blocks around your manifest so it is better readable.

[2018-07-03 17:21] jbw976 opened #1845 "Latest release builds should be encouraged instead of master builds"
We are pointing new users to use builds from master, which is not desirable for a number of reasons.  It makes support more difficult and it encourages deployments that have features that may be temporary or not finalized that can then be broken by a real release.  There are 2 main places that encourage installing master:
* Docs link from https://rook.io/ points to the master docs.
* All examples

[2018-07-03 17:24] jbw976 opened #1846 "Release criteria and checklist"
We need to author a set of criteria (a checklist) for everything that must be accomplished and verified before we declare a release build from master.  https://github.com/rook/rook/blob/master/build/release/README.md goes into some detail but not nearly enough.

We should use this checklist to know with confidence that we are ready for 0.8.

[2018-07-03 17:29] jbw976 opened #1847 "Longhaul and regression testing pipelines need to be updated"
Longhaul and regression testing pipelines have not been touched in awhile and are probably out of date.  The cloud resources may not even exist to run these tests anymore either.  We need to spend some time to update and integrate these pipelines into our workflow again.

They should be added to the release criteria and checklist captured in #1846

[2018-07-03 20:57] #1844 closed

[2018-07-03 22:28] pirogoeth commented on #1653
Any updates on this?

[2018-07-03 22:47] travisn commented on #1533
@zhwenh I suspect that you have an older version of my branch. Can you check if you need to pull? The setting `ROOK_SKIP_SET_OWNER_REF` no longer exists in the branch. See the [operator yaml](https://github.com/travisn/rook/blob/openshift-compatible/cluster/examples/kubernetes/ceph/operator.yaml) for the latest example.

[2018-07-04 05:50] zhwenh commented on #1841
@travisn  Can you give me  a image which replace the docker.io/rook/ceph image for test openshift.

[2018-07-04 09:35] zhwenh opened #1849 "how can I add a disk to rook cluster"
I have a question
Today,I added a hard disk to the cluster config, but new osd is not generated.
     - config: null
        devices:
          - name: vdc
          - name: vdd   #I add this disk into cluster config. but new osd is not generated
        name: 10.1.41.50

from the ROADMAP https://github.com/rook/rook/blob/master/ROADMAP.md
Ceph features and improvements:
          Disk management

[2018-07-04 09:49] galexrt commented on #1849
@zhwenh For technical and non-technical general questions, as written in the issue template, we are happy to help you on our [Rook.io Slack](https://Rook-io.slack.com).

Additionally please fill out the issue template so we have the information we need to further help you, see https://github.com/rook/rook/blob/master/.github/ISSUE_TEMPLATE.md.

[2018-07-04 12:09] mmack opened #1850 "Volume mount only works after a kubelet restart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
timeout expired waiting for volumes to attach or mount

**Expected behavior:**
Should mount the volume

**How to reproduce it (minimal and precise):**
Create a pvc. Pod will timeout after a few minutes trying to mount the volume. I go to the host where the pd was scheduled and restart the kubelet and t

[2018-07-04 12:14] mmack commented on #1850
Additional Info:
We run kubelet via a systemd unit file in a docker container.

[2018-07-04 15:46] zhwenh commented on #1841
Great, I passed the test(https://github.com/travisn/rook/tree/openshift-compatible),
 can create mon, osd, mds normally.
name: ROOK_SKIP_SET_OWNER_REF
value: 'true'
name: ROOK_HOSTPATH_REQUIRES_PRIVILEGED
value: 'true'

[root@rook-tools-1-w6b5j /]# ceph -s
 cluster:
   id:     1a6bdf60-74a0-416f-b64b-ad1fd43ef97e
   health: HEALTH_OK

 services:
   mon: 3 daemons, quorum rook-ceph-mon0,rook-ceph-m

[2018-07-04 22:43] gun1x commented on #653
I am still having this issue. I deployed k8s using kubespray and ceph using ceph-ansible, luminous.
I added ceph-common to the k8s nodes using the luminous xenial repo, but containers till won't start. what am I missing?

[2018-07-05 00:11] aziemski commented on #1790
is there workaround for k8s v1.11.0?

[2018-07-05 01:54] zhwenh commented on #1533
I passed the test(https://github.com/travisn/rook/tree/openshift-compatible),
can create mon, osd, mds normally.in openshift 3.9(one master+ two slave)
name: ROOK_SKIP_SET_OWNER_REF
value: 'true'
name: ROOK_HOSTPATH_REQUIRES_PRIVILEGED
value: 'true'

[root@rook-tools-1-w6b5j /]# ceph -s
cluster:
id: 1a6bdf60-74a0-416f-b64b-ad1fd43ef97e
health: HEALTH_OK

services:
mon: 3 daemons, quorum rook-ceph-

[2018-07-05 07:11] galexrt commented on #1533
@zhwenh The issue is not resolved until the fix/feature is in `master`. The issue should be automatically closed on merge of the PR (e.g. #1729).

[2018-07-05 07:42] bjornryden opened #1851 "OSDs are not being created in v0.7.0-237"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Discover function seems broken in master (v0.7.0-237) resulting in no OSDs being created.
Changing to to v0.7.0-184 solved the issue and sdb was discovered.

**Expected behavior:**
sdb is used to build cluster, leading to the creation of the OSDs.

**How to reproduce it (minimal and precise):**
Create

[2018-07-05 09:51] F21 opened #1852 "Support custom annotations for cockroachdb operator"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Support configuring custom annotations for cockroachdb pods deployed by the operator.  See the etcd-operator's implementation here: https://github.com/coreos/etcd-operator/blob/master/doc/user/spec_examples.md#custom-pod-annotations

**What is use case behind this feature:**
We want to use istio as our

[2018-07-05 13:56] omyno opened #1853 "cluster fails to start"
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**
Set up cluster on Ubuntu 18.04 with kubeadm and follow the commands below.

**Environment**:
* OS (e.g. from /etc/os-release): Ubuntu 18.04
* Kernel (e.g. `uname -a`): 4.15.0-24-generic
* Cloud provider or hardware configuration: baremetal
* Rook version (use `rook version` inside of a Rook Po

[2018-07-05 15:11] #1849 closed

[2018-07-05 15:20] jbw976 commented on #1852
Thanks for opening this issue @F21! Do you want to take a stab at implementing this? Contributions are very welcome :)

[2018-07-05 20:45] PierrickI3 opened #1854 "Wordpress example unbound PersistentVolumeClaims"
I looked in several places but could not find how to fix this issue

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Wordpress example shows an error "Pod has unbound PersistentVolumeClaims"

**Expected behavior:**
Wordpress example should load without any errors

**How to reproduce it (minimal and precise):**
Self-hosted Kubernetes 1.11 (created wi

[2018-07-05 21:24] #1845 closed

[2018-07-05 22:46] F21 commented on #1852
Hey @jbw976, I currently don't have enough bandwidth to familiarize myself with the code base. I'll see if I can find some time for it, but I can't make any guarantees.

[2018-07-06 05:11] F21 opened #1855 "Support executing curl command for liveness probes in CockroachDB operator"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The operator currently uses HTTP liveness probes to check service health. This works really great in a lot of setups. However, if you're using a service mesh such as Itsio with mutual TLS enabled, the liveness probes will fail. This is because all traffic in a pod will ingress or egress through the envo

[2018-07-06 19:32] travisn commented on #1314
See [this topic](https://rook.io/docs/rook/master/openshift.html) for running with openshift since #1729 was merged.

[2018-07-07 07:23] jomeier opened #1858 "Pod with dynamic volume stays in 'unknown' state if node powers off. Delete not possible"
Hi,

we are using rook (ceph) as storage solution in our kubernetes cluster.

If we deploy the mysql demo from rook everything works as expected. But if we kill the node which hosts the mysql pod, the mysql pod gets this status, the newly spawned pod is stuck in ContainerCreating forever:

[code]

Deletion of the pod with this method doesn't work:

[code]

The pod with the 'unknown' pod will be st

[2018-07-07 14:05] HighwayofLife opened #1859 "osd's can't connect to mons: client.admin authentication error (110) Connection timed out"
After a node restarted, a new mon was started on a different node, but the osd(s) did not connect to the new mon.
Rook toolbox cannot connect to the ceph cluster with the same client.admin authentication error (110) connection timeout.

**How to reproduce it (minimal and precise):**
Create a cluster of Container Linux machines with Kubernetes, spin up the default configuration of Rook 0.7.1, resta

[2018-07-07 15:18] HighwayofLife commented on #1859
I restarted all of my worker nodes -- these nodes are the ones running the osd's and mons, and the rook/ceph cluster came back successfully. It took about 30 minutes for the file system to be mountable, the Jenkins pod would get a mount special device does not exist error when executing the mount command to the quorum of mons service endpoints.

[2018-07-08 15:55] sebastien-prudhomme opened #1860 "Non default Minio port not taken into account by the operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Whatever port you configure in Minio ObjectStore, the minio process in the container is still using port 9000 whereas Kubernetes uses the right configured port as "containerPort".

**Expected behavior:**

Either Minio process listen on the port configured in ObjectStore or remove the "port" configurat

[2018-07-08 17:04] sebastien-prudhomme opened #1861 "Allow creating several Minio ObjectStores in the same namespace"
**Is this a bug report or feature request?**

* Feature Request

**What should the feature do:**

Because the Minio operator is using the same fixed label "app: minio" for all objectstores, it's impossible to creates several objectstores in the same namespace: services created reference all pods as endpoints.

Adding another label with the objectstore name or using the objectstore name as the "app

[2018-07-09 03:38] zhwenh commented on #1656
Hello everyone, today I tested the version: rook/ceph:v0.7.0-240.gc568dd6 In the openshift 3.9 cluster(One master node,Three salve node), I found an osd deployment（name: 10.10.41.50） with two osd processes.
root       259     7  0 03:20 ?        00:00:04 ceph-osd --foreground --id=2 --cluster=rook --osd-data=/var/lib/rook/osd2 --conf=/var/lib/rook/osd2/rook.config --keyring=/var/lib/rook/osd2/keyr

[2018-07-09 05:54] galexrt commented on #1851
@bjornryden Can you post the Rook Ceph OSD Pod logs? The Ceph OSD Pod will decide if the device will be used.

[2018-07-09 06:04] galexrt commented on #1860
@sebastien-prudhomme Two solutions possible here:
1. Tell Minio to listen on the port.
2. Add `targetPort: 3000` to the Service and discourage use of Minio Pods directly.

I personally would go for number 2 because it feels better keeping the `containerPort` the same as the application "normally" uses and Services like this should only be accessed through their Service and not by Pod.

[2018-07-09 06:34] sebastien-prudhomme commented on #1860
If someone can explain me also why there is a service declared in the example chart as the operator creates another one.

[2018-07-09 06:54] jomeier commented on #1755
This ticket can be closed. It really seems to be a fault of our own. See description above.

[2018-07-09 07:53] galexrt commented on #1860
@sebastien-prudhomme You mean the https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/minio/object-store.yaml manifest (there is no chart for the Rook Minio operator yet)?

The reason for that is that the Service created by the Rook Minio operator is a headless Service. A headless Service does not do "any" load balancing (nor create/use a Service IP). The DNS record behind the Ser

[2018-07-09 08:30] omyno commented on #1853
The same happens when I checkout the master branch. There, the error message the operator log yields is:
[code]

Still, at no point is /var/lib/rook created.
[code]

[2018-07-09 13:31] #1656 closed

[2018-07-09 19:41] sebastien-prudhomme commented on #1861
Looking how the coreos etcd-operator build the pods for an etcd cluster, it uses both "app: etcd" and "etcd_cluster: MY_CLUSTER_NAME" as labels.

If i follow that kind of best practices, adding "minio_objectstore" label will be a good answer to he problem.

[2018-07-09 20:21] #1833 closed

[2018-07-10 10:16] bjornryden commented on #1851
I had to revert to a previous release. Today I had time to test again and went with newest master (258) which seems to at least start up OSDs, however now I have issues with sgdisk failing, which I'll open a new issue for.

[2018-07-10 10:16] #1851 closed

[2018-07-10 11:50] bjornryden commented on #1798
The rook-master still seems to have issues, but rook-alpha is working fine.

`09:35 $ helm search | grep rook-master
rook-master/rook                                  v0.7.0-136.gd13bc83                                       File, Block, and Object Storage Services for yo...
rook-master/rook-ceph                             v0.7.0-240.gc568dd6                                       File, Block, and

[2018-07-10 15:15] jbw976 commented on #1798
@travisn the originally reported issue still exists, visiting https://charts.rook.io/ in a browser gives an error page that says `Error: [object Object]`.

[2018-07-10 15:17] travisn commented on #1798
ah, i didn't look at the original title

[2018-07-10 15:22] jbw976 commented on #1798
## WORKAROUND
To list all the versions for a given Rook charts repo/channel, you can use the following curl commands:

master:
[code]
alpha:
[code]

[2018-07-10 15:27] aland-zhang opened #1864 "Operator restart unexpectedly created new osds in default directory"
**Environment**:
* OS: centos7.4
* Kernel :4.17
* Rook version :rook/ceph:v0.7.0-240.gc568dd6
* Kubernetes version:1.9.1
* Kubernetes cluster type:OpenShift 3.9 (one master node and tree compute nodes)
 I just cleaned up the cluster and rm -rf /var/lib/rook.
I tested rook/ceph:v0.7.0-240.gc568dd6 ， found that the operator did not create osd according to the cluster configuration file. the log and

[2018-07-10 15:29] travisn commented on #1864
I was able to repro after troubleshooting these logs. When devices are set explicitly (and useAllDevices is false), if the operator is restarted, the device list is not passed to the provisioner so the operator creates new osds in the default directory.

[2018-07-10 16:56] rootfs opened #1865 "Support Ceph iSCSI Gateway"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Kubernetes krbd driver doesn't support latest rbd imgae features. Although rbd-nbd driver supports those features, RHEL/Centos have builtin nbd driver, so it is not easy to use rbd-nbd driver.

We can use [Ceph iSCSI gateway ](http://docs.ceph.com/docs/mimic/rbd/iscsi-overview/) and iSCSI volume to use

[2018-07-10 19:42] #1864 closed

[2018-07-10 20:50] travisn opened #1868 "Design doc for Rook integration with external orchestrator"
We need a design doc that captures the requirements around integration of Rook with an external manager of the Ceph cluster. Some basic scenarios include:
- A Ceph cluster is already running and Kubernetes is started in the environment. Rook could potentially start managing the cluster by monitoring mons and automatic failover, scheduling RGW, MDS, and MGR pods, or detecting when OSDs are down.
-

[2018-07-10 21:20] jcsp commented on #1868
Extra related document on managing OSD devices from ceph-mgr/ceph-volume via the nascent orchestrator interface: https://docs.google.com/document/d/1iwTnQc8d9W3BpQHgGYTMZSKvN6J7s0z8kQaYNxYvLho

[2018-07-10 22:02] jcsp commented on #1868
The scenario I'm most interested in at the moment is where a new mon+mgr cluster has been created, and then the user wants to drive everything else from the dashboard.  In that case, all services are Rook managed, and it's only the logical Ceph bits (filesystems, RGW zones) that need the flags for making pool creation optional.  So for me, the really essential flag is the `skipPoolConfig` on Files

[2018-07-10 22:07] jcsp opened #1869 "Design doc for complete Ceph OSD management (SSD journals, drive replacement)"
Related: https://docs.google.com/document/d/1iwTnQc8d9W3BpQHgGYTMZSKvN6J7s0z8kQaYNxYvLho (apologies for google doc, @jcsp can grant access as needed)

When driving Rook from higher level UIs, we are mostly interested in the explicit device selection format, where we pass rook a list of nodes and list of devices for each node:

[code]

The simple list of device names is quite a limited syntax, and

[2018-07-10 22:07] jcsp commented on #1868
(BTW, thanks for opening this @travisn , you've inspired me to open the somewhat-related https://github.com/rook/rook/issues/1869)

[2018-07-10 22:21] liewegas commented on #1868
I think a robust "adoption" function that moves an existing cluster under ceph management is going to be pretty important (eventually!).  Having some manual steps initially is probably okay but in the end I suspect we'll have to have a process for adopt that allows rook to start managing the cluster before the mons move, since moving mons into kube will involve new ips and changes to 'mon hosts' i

[2018-07-10 22:47] travisn commented on #1868
To adopt a cluster, I am seeing that we need some tool/scripts that will pick up everything needed from an existing cluster, populate the k8s configmaps, secrets, etc that Rook expects, then start the Rook operator. It won't be something that would require settings in the CRD, but will prime the pump so the operator will just think it's a normal cluster.

After populated by the tool, the operator

[2018-07-10 23:39] travisn commented on #1869
I'm struggling with using the CRD to communicate details like the OSD ID that the device corresponds to. I don't think the OSD ID belongs in the desired state, although I can't think of a different way. The OSD ID is an implementation detail.

From the desired state perspective, replacing a disk could be similar to adding or removing disks to a node. Let's say we add a new disk to a node. Today th

[2018-07-11 02:43] aland-zhang commented on #1864
verion： docker.io/rook/ceph:v0.7.0-264.gdff99d5 and  openshift3.9

Great ，I tested all the features, including Add disk、 Filesystem and ObjectStore and restarted the operator repeatedly, and there were no exceptions. Now all the functions are normal!

[2018-07-11 04:51] jbw976 opened #1870 "cockroachdb integration test fails because check is not idempotent"
In [master build 663](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/master/663/pipeline), the `TestCockroachDBClusterInstallation` integration test fails as shown in the [full logs](https://jenkins.rook.io/blue/rest/organizations/jenkins/pipelines/rook/pipelines/rook/branches/master/runs/663/nodes/41/steps/90/log/?start=0):
[code]

This test performs a check on the cockroac

[2018-07-11 12:18] jcsp commented on #1869
Right, it doesn't exactly fit under what we'd call "desired state" --  we're kind of straining against the limits of using a declarative moment-in-time model.

An alternative way to express this is to store somewhere (an element of the cluster CRD or elsewhere) a map of "in progress" OSD ID re-mappings  that would act as an overlay on the cluster's list of devices.  That might be a bit conceptuall

[2018-07-11 12:40] mmack commented on #1850
Turns out that kubelet running as a docker container needs /dev mounted inside. Thanks and cheers to @galexrt.

[2018-07-11 12:40] #1850 closed

[2018-07-11 12:48] omyno commented on #1853
The MTU within Cilium was wrong and had to be set with https://github.com/cilium/mtu-update. Now the discover pods and the cluster starts just fine.

[2018-07-11 12:48] #1853 closed

[2018-07-11 13:12] ags131 opened #1872 "arm64 images are using 64bit images and binaries"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
arm64 images download, then contain x86_64 binaries

**Expected behavior:**
arm64 binaries

**How to reproduce it (minimal and precise):**

Pull on an arm64 device, image will refuse to run. Extracting a binary and running through `file` shows it to be x86_64.
I checked the binary format with the follo

[2018-07-11 14:15] galexrt opened #1873 "Auto generate Rook CRD specifications documentation"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Auto generate the documentation for "coded" things such as the Rook CRD specifications.

Example: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md

**What is use case behind this feature:**
Not having to write documentation twice, only once in the code as comments which wil

[2018-07-11 15:49] travisn commented on #1846
Draft of the recommended release criteria:
- All documentation is reviewed for accuracy
- Test the QuickStart guide
- Test all examples in the storage provider documentation
- Test with a single-node configuration
- Test with a multi-node configuration with at least three nodes
- Upgrade from 0.7:
    - From a single-node cluster
    - From a multi-node cluster
    - Includes directories and devic

[2018-07-11 16:21] jbw976 commented on #1850
@mmack thanks for following up with the solution.  If the documentation should be improved, we'd very gladly accept a contribution from you that makes that improvement 😁

[2018-07-11 16:29] jbw976 commented on #1853
Thank you for following up with us on the solution you found @omyno!

[2018-07-11 16:33] bassam commented on #1872
@BlaineEXE @leseb do you have time to take a look here? It looks like the base ceph image is the wrong arch.

[2018-07-11 16:38] #1708 closed

[2018-07-11 16:45] travisn commented on #1797
@bsqrd are you saying your WAL and DB partitions moved from the original OSD to the nvme? Did your CRD change or was it always specified like this?
[code]
It is expected that the operator would create the partitions as you see here, though it is not expected that they would change after initial creation. Rook certainly wouldn't do anything to migrate the data with a change of configuration like th

[2018-07-11 17:29] #1832 closed

[2018-07-11 20:12] travisn commented on #1494
This is still an issue with osds not coming back up after being `out`. @dmick could you look into this one?

[2018-07-11 22:59] bsqrd commented on #1797
Yes, the order of operations is unclear for us.  But I believe @benceszikora does believe the initial configuration was correct with the following directive:
[code]
And then subsequently the partitions were moved/lost.

[2018-07-12 00:32] jbw976 commented on #1847
@travisn pointed out that [regression pipeline](https://github.com/rook/rook/blob/master/tests/pipeline/Jenkinsfile.regression) may not actually be any different than our normal test pipeline that is run on every build/PR.

The longhaul pipeline is definitely different and is not being run currently, that is a true gap in coverage.

[2018-07-12 08:23] leseb commented on #1872
This is using `ceph/daemon-base:v3.0.5-stable-3.0-luminous-centos-7` right?

[2018-07-12 17:17] travisn commented on #1872
@leseb yes that's correct. See https://github.com/rook/rook/blob/master/images/Makefile#L19

[2018-07-12 17:53] #1846 closed

[2018-07-12 21:41] travisn opened #1877 "After upgrade operator logs are full of errors failing to list legacy CRDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrade and 0.7 CRD definitions are deleted, the logs are full of errors about not being able to find them.
[code]

**Expected behavior:**
Once the legacy CRDs are deleted, I would expect once the errors about the CRDs, then the operator would stop watching them.

**How to reproduce it (minimal a

[2018-07-12 21:44] travisn commented on #1877
Restarting the operator causes the operator to have a clean start and not hit this issue anymore.

[2018-07-12 22:29] jbw976 commented on #1877
Do you think we should add an instruction to the upgrade guide to restart the operator after deleting the legacy CRDs?

[2018-07-12 22:34] travisn commented on #1877
@jbw976 that seems sufficient rather than worrying about a code fix

[2018-07-13 00:54] dmick commented on #1494
I'll see if I can reproduce

[2018-07-13 01:35] laevilgenius commented on #1501
v1.11.0, same issue.
Helm chart version `v0.7.0-278.gcbd9726`.
[code]
Didn't see any errors in rook's pods.
Kubelet can't load flexvolume plugin:
[code]
Eventually only `rook.io/rook` driver gets loaded, but it doesn't match to the driver in my pv (`ceph.rook.io/rook-ceph-system`), so volume mount fails.
I'm also getting `not a flex volume` errors from [flexvolume/util.go#L60-L68](https://github.c

[2018-07-13 14:07] ivanovaleksandar opened #1880 "OSD pods cannot recover after kubelet restart: cephosd: skipping device <device> that is in use (not by rook). fs: , ownPartitions: false"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When restarting a kubelet/node (data nodes) that had osd pods running on it, it seems that the OSDs are does and cannot recover, so as I result, the PVC/PV cannot be attached to the desired pods.

Here are some logs and execs from commands that should help with troubleshooting:
[code]
[code]

[code]

[

[2018-07-13 14:33] galexrt commented on #1802
I could probably take a look when I'm also redoing the theme for the docs.
In the redo of the theme, I will especially look into having a better side navigation/side toc list.

[2018-07-13 15:32] leseb commented on #1872
Hum I have a different behaviour when pulling `ceph/daemon-base:v3.0.5-stable-3.0-luminous-centos-7`, see:

[code]

Why don't you simply use `ceph/daemon-base:v3.0.5-stable-3.0-luminous-centos-7`? The Docker Hub is set up with a manifest that contains both arm64 and amd64 archs.
Thanks!

[2018-07-13 17:09] travisn commented on #1749
upgrading from 0.7.1 with both devices and directories worked for me, following the detailed instructions [here](https://github.com/rook/rook/blob/master/Documentation/upgrade.md).

[2018-07-13 17:10] jbw976 commented on #1749
Upgrade also worked for me as well, @travisn and I have both verified and I'll close this issue.

[2018-07-13 17:10] #1749 closed

[2018-07-13 17:37] travisn commented on #1872
@leseb agreed that should work, I see why the build machine would always pick up amd64 for the base image. I'll try this, thanks.

[2018-07-13 17:53] travisn opened #1884 "Need error message when the dataDirHostPath is blank"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator attempts to start a cluster even when the cluster's `dataDirHostPath` is empty. The operator waits and times out for the osd pods that are never created.

**Expected behavior:**
The operator should log an error and not attempt to start the cluster. Ideally we would also have crd validation

[2018-07-13 20:16] jbw976 opened #1885 "Update promote pipeline to match the release process"
Currently, the `release/promote` pipeline in Jenkins will call the `promote` target on the `build/release/Makefile`, which operates on all images (Ceph, CockroachDB, Minio) and helm charts.  This means that if we wanted to promote Ceph to the beta channel, then the other storage providers come along for the ride too.  We should be able to only promote specific storage providers instead of all of t

[2018-07-13 21:34] iharijono opened #1886 "Support a new storage, Alluxio, to rook"
* Feature Request
This FR is focused to add a new type of storage, Alluxio (https://www.alluxio.org), to rook.
It also serves as an initial discussion, tracking and to solicit comments and feedback about the idea.

**What should the feature do:**
Alluxio is a virtual distributed storage system at the memory speed. It unifies data access and bridges computation frameworks and various underlying sto

[2018-07-13 22:08] sbconsulting opened #1888 "timeout expired waiting for volumes to attach or mount"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Following the wordpress tutorial, the pvc was bound, but the mysql pod is stuck in this state:

[code]

Checking Kubelet logs, this error is repeated:

[code]

The directory `/var/lib/kubelet/volume-plugins/` is empty. This is the directory specified in the `--volume-plugin-dir` option to kubelet. The

[2018-07-13 22:10] galexrt commented on #1888
@sbconsulting Have you also set the flexvolume directory on the Rook Ceph operator, as seen here: https://rook.io/docs/rook/master/flexvolume.html#for-kubernetes--19x ?

[2018-07-13 22:31] #1877 closed

[2018-07-13 22:52] travisn commented on #1827
Adding a device or directory can be done now that #1698 was merged with one-osd-per-pod. Each time the operator runs the orchestration, the `prepare` pod will be started for each node to ensure the desired devices and directories are initialized.

In some scenarios, the CRD may not trigger the operator to restart the orchestration. For example, if you're using a device filter or `useAllDevices: tr

[2018-07-13 22:53] travisn commented on #1305
Now the default is that directories will use filestore and devices will use bluestore. I believe that will cover this scenario, but please reopen if there is another issue here.

[2018-07-13 22:53] #1305 closed

[2018-07-13 22:58] sbconsulting commented on #1888
That was it. Thanks, @galexrt!

[2018-07-13 22:58] #1888 closed

[2018-07-15 10:33] galexrt commented on #1795
@travisn I think we should get this in 0.8 or at least in a patch release as this blocks HA for erasure coded pools.

[2018-07-15 11:15] galexrt commented on #1574
@F21 @jbw976 I don't have any issues using minikube with the default `cluster.yaml` in the `example/` directory (using latest `master`)..
Are we sure this is not an "issue" with Minikube for some reason having "different" partition layouts (e.g. `/`, under which the `dataDirHostPath` falls), only a few GB big in size causing the mons to not come up because of the critical "no disk space" available

[2018-07-16 06:36] sdkfzv opened #1889 "The https://charts.rook.io/master seems unreachable"
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**
[code]
If I access the https://charts.rook.io/ from the web broswer, there it shows:
`Error: [object Object]`

I aways got this result even if I used some other vpn.
So the https://charts.rook.io/ seems unreachable...

[2018-07-16 09:52] galexrt commented on #1889
@sdkfzv I'm unable to reproduce the `helm repo add` failure:
[code]

The list view on https://charts.rook.io is currently broken, see #1798.

[2018-07-16 09:55] galexrt opened #1890 "Rook Docs: File links not working"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Links to files/directories in the repository are linking to the wrong location.
Example:
https://rook.io/docs/rook/v0.7/quickstart.html The `1.5 folder` link points to https://rook.io/cluster/examples/kubernetes/1.5 instead of https://github.com/rook/rook/tree/release-v0.7/cluster/examples/kubernetes/1

[2018-07-16 12:18] pavansai1 opened #1891 "Rook fails to run mds pods when i try to create a filesystem in my cluster."
**Is this a bug report or feature request?**
* Bug Report

filesystem.yaml
-----------------------
apiVersion: ceph.rook.io/v1alpha1
kind: Filesystem
metadata:
  name: myfs22
  namespace: rook-ceph
spec:
  metadataPool:
    replicated:
      size: 3
  dataPools:
    - erasureCoded:
       dataChunks: 2
       codingChunks: 1
  metadataServer:
    activeCount: 1
    activeStandby: true
kubectl crea

[2018-07-16 14:54] benceszikora commented on #1797
@travisn @bsqrd In the initial configuration we definitely had the nvme set already.

I am not 100% sure that on this specific occasion all of these were created as partitions first, they might have correctly been created on the nvme first. However I have seen the cluster with the same errors before, where I do remember that most of the partitions were on the block devices, but a few had them miss

[2018-07-16 14:58] travisn commented on #1891
@pavansai1 could you share the logs of the rook-operator pod?

[2018-07-16 15:36] zieg8301 commented on #1494
We think we may have found a manual recovery method.

1. Spin up fresh 3 osd cluster
2. Down a k8s node long enough for related OSD to autoout
3. Bring node back up and wait for it to reschedule all pods
4. Ceph osd rm the offending OSD
5. Kill the pod which was running the offending OSD

The pod will be rescheduled and almost immediately the OSD will be UP and IN. Cluster remains fully RW to rado

[2018-07-16 20:34] dmick commented on #1494
I have an osd in a bad state after a node reboot; trying to figure out what state exactly

[2018-07-16 23:07] BlaineEXE commented on #1868
I agree that cluster "adoption" functionality is something that needs to happen, and I want to agree and emphasize the "eventually." I think cluster adoption is not really a "basic scenario," at least as far as development effort is concerned.
I don't want to downplay the importance of this; looking toward the future here is good, and sketching out steps seems a good start. Something that I am won

[2018-07-17 01:20] dmick commented on #1494
(I had not previously allowed the OSD to be marked 'out'.  I waited for that, and still it came right back up and in on node restart.)

[2018-07-17 05:34] travisn commented on #1891
@pavansai1 it looks like there is an error in your yaml syntax. This is the error: `Placement: readObjectStart: expect { or n, but found ", error found in #10 byte of ...|acement":"`. The yaml must be passing a general yaml parser, but cannot be parsed by the golang converter for the `MetadataServerSpec` type. Do you see the error in the yaml or can you share the yaml?

[2018-07-17 05:52] hunter commented on #1536
Any chance Mimic could make it into the 0.8 release? There is a [bug](http://tracker.ceph.com/issues/21142) that is affecting Luminous that seems to have a higher likelihood of impacting Kubernetes deployments (it has hit us on two seperate ceph-container based clusters). Fixed in Mimic but the patch hasn't made it back to [Luminous](https://github.com/ceph/ceph/pull/22744)

[2018-07-17 06:11] pavansai1 commented on #1891
Here is my rook-operator.yaml file please have a look into this

apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: Namespace
    metadata:
      name: rook-ceph-system

  - apiVersion: apiextensions.k8s.io/v1beta1
    kind: CustomResourceDefinition
    metadata:
      name: clusters.ceph.rook.io
    spec:
      group: ceph.rook.io
      names:
        kind: Cluster
        listKind: Cl

[2018-07-17 06:54] jansmets commented on #1536
A related bug was backported though. http://tracker.ceph.com/issues/21142 / http://tracker.ceph.com/issues/24588

Updated by Sage Weil 12 days ago
related to Bug #24588: osd: may get empty info at recovery added

[2018-07-17 06:59] pavansai1 commented on #1891
Thanks got it

[2018-07-17 07:06] hunter commented on #1536
I can't see that the patch made it in to 12.2.6 (or unreleased 7) though. It seems the serious [regression](https://github.com/ceph/ceph/pull/23057) has taken most of the focus away

[2018-07-17 07:27] mkjpryor-stfc opened #1893 "Add tolerations option for Rook operator pods to Helm chart"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The Helm chart already allows a `nodeSelector` to be set for Rook operator pods, but in order to fully control pod placement, it also needs to allow `tolerations` to be set for operator pods.

**What is use case behind this feature:**
I am setting up a cluster which has nodes specifically reserved for i

[2018-07-17 07:33] pavansai1 opened #1894 "rookctl command not found"
**Is this a bug report or feature request?**
* Bug Report

when i try to enter into rook-tool box pod it is showing some warnings

kubectl -n rook-ceph exec -it rook-ceph-tools /bin/bash
the above command produces the following
warning: setlocale: LC_CTYPE: cannot change locale (en_US.UTF-8): No such file or directory
bash: warning: setlocale: LC_COLLATE: cannot change locale (en_US.UTF-8): No suc

[2018-07-17 07:37] galexrt commented on #1894
@pavansai1 You are probably running a Rook toolbox with image tag `master`. `rookctl` and `rook-api` has been removed in `master`.

If you run Rook `v0.7.1`, use the Rook toolbox image `rook/rook:v0.7.1`. To be on the safe side, please use the v0.7 release branch for the manifests: https://github.com/rook/rook/tree/release-0.7/cluster/examples/kubernetes

[2018-07-17 07:40] galexrt commented on #1893
@mkjpryor-stfc We are happy to see contributions to Rook. Let us know if you would like to contribute this feature.

[2018-07-17 07:41] mkjpryor-stfc commented on #1893
@galexrt: I'm happy to make the change to the Helm chart.

[2018-07-17 08:31] Segflow opened #1895 "Tolerations in osd pods not being set"
My Storage nodes have the label `role=storage-node` and tainted with `storage=true:NoSchedule`.

In my cluster config, I have this under placement field:
[code]
Every thing works fines, mon pods are being scheduled in the storage nodes, agent in all nodes.

But no osd pod get scheduled. They stay in pending state because no Node is available for them. Using the dashboard I check their manifest fil

[2018-07-17 08:47] arm64b commented on #1872
Although the `ceph/daemon-base` is multi-arch already(support both `arm64` and `amd64`), but docker doesn't support to pull a different arch image than the host running the `docker pull`, IOW, `docker pull` doesn't support the `--platform` flag yet, so if you run `docker pull ceph/daemon-base:v3.0.5-stable-3.0-luminous-centos-7` on `amd64`, it always to pick up the arch matching the host arch, the

[2018-07-17 09:03] michalmikolajczyk commented on #1064
Rook Operator is available from their Helm charts https://charts.rook.io/alpha `alpha` is the official release channel and `master` is the latest.

https://rook.io/docs/rook/v0.7/helm-operator.html

FYI I managed to spin up a Rook cluster in Rancher 2.0 and consume a PV by a PVC, which specified the Rook storage class. The cluster and storage class had to be created using kubectl.

[2018-07-17 09:14] leseb commented on #1872
@arm64b do you expect a different behavior?

[2018-07-17 09:38] pavansai1 commented on #1891
Here is my rook-operator.yaml file

apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: Namespace
    metadata:
      name: rook-ceph-system

  - apiVersion: apiextensions.k8s.io/v1beta1
    kind: CustomResourceDefinition
    metadata:
      name: clusters.ceph.rook.io
    spec:
      group: ceph.rook.io
      names:
        kind: Cluster
        listKind: ClusterList
        plural: clu

[2018-07-17 09:48] LittleFox94 opened #1897 "Ceph-Mon not starting due to "not in monmap but has been in a quorum""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Scheduled ceph monitor does not start. Relevant log seems to be this:
[code]

**Expected behavior:**
Scheduled ceph monitors are starting and working

**How to reproduce it (minimal and precise):**
I tried simulating a lot of planned downtimes (draining a node, rebooting, uncordon - repeat for all node

[2018-07-17 13:31] galexrt commented on #1880
This needs to be resolved in `master` then. Because `master` will be the upcoming `v0.8`.

[2018-07-17 14:09] zieg8301 commented on #1494
Here's another hunch: We are using hostpath/filestore in our cluster.yaml not bluestore and physical devices. One of our engineers did a little further research last night and found the following when the k8s node came back up:

After downing a node and letting the OSD autoout, we exec'd into the pod and redirected the output of ps to a file, that file contains the following:
`[root@rook-ceph-osd-

[2018-07-17 14:46] sscheit commented on #1494
Thanks @dmick  - i did find one problem in the new OSD that doesn't join the cluster.  The osd process  looks to be running with invalid uuid.  we are using hostpath

`root       614     7  0 03:39 ?        00:00:00 ceph-osd --foreground --id=2 --cluster=rook-ceph --osd-data=/rook/storage-dir02/osd2 --conf=/rook/storage-dir02/osd2/rook-ceph.config --keyring=/rook/storage-dir02/osd2/keyring --osd-u

[2018-07-17 15:23] travisn commented on #1536
@hunter moving to mimic would the testing for 0.8 and is anticipated to require more effort to ensure the upgrade path is tested. It looks like there is a workaround for that issue to set `osd_build_past_intervals_parallel` to `false`. What if we set that flag for 0.8?

[2018-07-17 15:45] #1893 closed

[2018-07-17 15:47] bassam commented on #1872
@arm64b we're not relying on docker to pick the arch of the base ceph image. We're explicitly passing in `PLATFORM_ARCH`. With #1887 the issues of picking images is fixed, but unfortunately in uncovered another issue.

[2018-07-17 16:20] travisn commented on #1880
@ivanovaleksandar I believe this was fixed with #1801. The build you are using likely had this issue in it. Can you try the latest master build?

[2018-07-17 16:31] jbw976 commented on #1885
As @bassam suggested, we should consider removing the concept of channels completely because there is no project status as a whole.  Combine alpha/beta/stable channels into just a stable channel.  Keep master/dev as those are used in development workflow.

[2018-07-17 16:36] dmick commented on #1494
@zieg8301 uuid mismatch would do it, and I am not using hostpath...will try.

[2018-07-17 17:40] jbw976 opened #1901 "test: include more architectures in test pipeline"
Is this a bug report or feature request?
* Feature Request

**Feature Request**

Are there any similar features already existing: Yes, we have existing CI pipelines for amd64.

What should the feature do:  We should add CI pipelines for the other architectures that we support, such as arm and arm64.  A recent regression to arm64 (#1872) was not caught before it was released in the master builds.

[2018-07-17 18:10] jbw976 commented on #1891
It looks like the issue here is that you are using the rook operator from 0.7.1 combined with a filesystem yaml from master (which uses new Ceph beta types).  I suspect that if you based your filesystem yaml off the following resources then it should work:
https://github.com/rook/rook/blob/release-0.7/cluster/examples/kubernetes/rook-filesystem.yaml
https://rook.io/docs/rook/v0.7/filesystem.html#c

[2018-07-17 18:15] jbw976 commented on #1795
I have put this onto the 0.8 project board (https://github.com/rook/rook/projects/9#card-11403238) to opportunistically pick up perhaps in a minor release, but I would not hold/block the 0.8.0 release for this issue.

[2018-07-17 18:17] travisn commented on #1797
@benceszikora i have not been able to repro this issue when specifying a `metadataDevice` in the candidate v0.8 build (latest master). After restarting the operator I also confirmed that the metadata devices was detected as in-use and the same osd pods and partitions remained running. How about if I close this issue for now? Please re-open if you can get a repro.

[2018-07-17 18:17] #1797 closed

[2018-07-17 19:01] laevilgenius opened #1902 "Add url_prefix setting for ceph dashboard"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add `url_prefix ` setting for ceph dashboard as described [here](http://docs.ceph.com/docs/mimic/mgr/dashboard/#reverse-proxies).

**What is use case behind this feature:**
Allows serving dashboard behind a reverse proxy under a subpath.

[2018-07-17 19:16] jbw976 commented on #1902
Thanks for this idea @laevilgenius, sounds like something that could be added to the `DashboardSpec` type defined here: https://github.com/rook/rook/blob/master/pkg/apis/ceph.rook.io/v1beta1/types.go#L77

We are always accepting contributions, please feel free to take a stab at this in a pull request.  Contribution/development flow documentation can be found here: https://rook.io/docs/rook/v0.7/de

[2018-07-17 19:34] #1895 closed

[2018-07-17 19:55] travisn commented on #1894
closing since this appears already covered by other issues as @galexrt pointed out

[2018-07-17 19:55] #1894 closed

[2018-07-17 20:42] dmick commented on #1494
is the hostpath data preserved across node restart?  obviously if the OSD data dir is deleted, restart won't work

[2018-07-17 20:46] mkjpryor-stfc commented on #1893
@galexrt

I was just wondering how often the Helm repository https://charts.rook.io/master gets rebuilt, and I can expect to see these changes in there?

Thanks!

[2018-07-17 21:07] jbw976 commented on #1893
@mkjpryor-stfc the master channel of the helm repo gets updated with every master build.  You can follow along with master build activity here: https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/activity?branch=master

Looks like one just succeeded 31 minutes ago, `v0.7.0-290.g237c582`, which corresponds to https://github.com/rook/rook/commit/237c582ee47d7ccda28b394f67342e0c42d83b05

[2018-07-18 01:53] hunter commented on #1536
`osd_build_past_intervals_parallel` is an option but I'm not sure it will land until 12.2.8? It still hasn't been [merged](https://github.com/ceph/ceph/pull/22744)

[2018-07-18 03:22] SDLyu commented on #1488
Comman `kubectl -n rook-ceph patch clusters.ceph.rook.io rook-ceph -p '{"metadata":{"finalizers": []}}' --type=merge` works for me!

[2018-07-18 05:11] travisn commented on #1872
@leseb @ErwanAliasr1 could you look at this issue with the arm64 image? With the fix currently jn #1887, the issue now is that `yum install` always fails for the arm image. The command can be seen on [this line](https://github.com/rook/rook/blob/master/images/ceph/Dockerfile#L17) for the rook ceph image and [this line](https://github.com/rook/rook/blob/master/images/ceph-toolbox/Dockerfile.base#L2

[2018-07-18 06:56] sdkfzv commented on #1889
This should be my proxy issue.
It's ok on another machine.

[2018-07-18 06:56] #1889 closed

[2018-07-18 07:18] mkjpryor-stfc commented on #1893
@jbw976

It doesn't seem like the builds are being propagated to the Helm repo. Even after waiting overnight, I am still only getting versions from the 13th July:

[code]

Perhaps the Helm repo updates are on a slower schedule?

[2018-07-18 09:41] pcm32 opened #1903 "failed to create cluster in namespace... failed to start the mons"
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**

After starting operator through helm, and create cluster through kubectl, cluster doesn't seem to be created, operator log repeatedly shows (until giving up):
[code]

**Expected behavior:**

Cluster gets created.

**How to reproduce it (minimal and precise):**
[code]

rook-config.yaml:
[code]

rook-clus

[2018-07-18 09:44] galexrt commented on #1903
@pcm32 You have not created the required RBAC roles for a cluster, please try again with this manifest: https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml
The manifest contains RBAC roles, ServiceAccounts and so on which are needed for the operator to access the namespace in which the Rook Cluster was created.

[2018-07-18 09:54] pcm32 commented on #1903
Thanks for the prompt answer! So these are not created then by the Helm chart? Documentation seems to lead users to go straight from helm chart installation to cluster setup (or then I missed something).

I'll try what you suggest and report back.

[2018-07-18 10:10] pcm32 commented on #1903
Ok, chugging along apparently! but I guess documentation needs to point out that these RBAC related objects need to be created by the user [here](https://rook.io/docs/rook/v0.7/quickstart.html) in between the part `You can also deploy the operator with the Rook Helm Chart.` and section `Create a Rook Cluster`.

Albeit different, after a number of other messages, operator logs read now:
[code]

is

[2018-07-18 10:34] pcm32 commented on #1903
Will close this as the solution by @galexrt sorted my original issue.

[2018-07-18 10:34] #1903 closed

[2018-07-18 12:17] pcm32 opened #1904 "failed to create cluster in namespace ... . failed to start the osds"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

osd orchestration status never comes up, logs in the operator show, in the last trial:
[code]

I tried with host network set both to true and false (as I thought it could be a node name resolution problem), with the same result. Shown logs are with hostNetwork: true.

**Expected behavior:**

osds to s

[2018-07-18 14:33] travisn commented on #1494
ok, good to know the root cause. @dmick you're were right on track with the host path not persisting.

[2018-07-18 14:33] #1494 closed

[2018-07-18 14:46] travisn commented on #1904
@pcm32 The "osd prepare" pod logs likely show an issue here. I suspect there is a misconfiguration with the rook-ceph-cluster service account that is preventing the osds from updating the configmaps.

[2018-07-18 14:48] travisn commented on #1890
@galexrt do you have examples of the broken links in master?

[2018-07-18 14:53] pcm32 commented on #1904
Thanks! I couldn't find any such osd pods running when doing it, only some jobs with osd in their nameas, but I couldn't find any pods associated to them. I will re-create the cluster and post the available pods. The only pods I had in addition to agents, discover and operator where some mon pods.

[2018-07-18 15:04] leseb commented on #1872
I cannot reproduce this, see:

[code]

[2018-07-18 15:32] travisn commented on #1872
@bassam we are the only ones that have seen the failure from our macs. Since @BlaineEXE and @leseb have both confirmed the arm64 build succeeds and the image is correct, and our jenkins build has succeeded, I would recommend we merge #1887. To unblock the 0.8 release, we can open a separate issue for the cross builds on mac. Just to confirm the jenkins build is consistent, I just triggered a new b

[2018-07-18 15:35] bassam commented on #1872
yes just confirmed that this does not happen on linux -- just Mac with docker for Mac. We still need to fix this but it does not block 0.8

[2018-07-18 15:40] travisn commented on #1904
@pcm32 was the job named such as this? `rook-ceph-osd-prepare-<node>`. If a pod wasn't created for that job, does `kubectl describe job` for the osd job show anything helpful?

[2018-07-18 15:48] pcm32 commented on #1904
Pods available after creating the cluster:

[code]

Jobs:
[code]

Ok, now the Jobs show something in the events (maybe last time I tried it took me too long to get there to see any events):

[code]

Available service accounts:
[code]

So, is `rook-ceph-cluster` meant to be a separate service account to `rook-ceph-system` (in which case I need to figure out why or where it wasn't created), or do I

[2018-07-18 15:58] travisn commented on #1904
the intention is for `rook-ceph-system` to be for the operator, agent, and discover, and the `rook-ceph-cluster` will be for the cluster-specific resources. (You can have multiple clusters although that is not the common scenario). The `rook-ceph-cluster` SA in the examples can be found in cluster.yaml.

[2018-07-18 16:04] pcm32 commented on #1904
Great, will use that! Does it need to live in a particular namespace, or putting everything on the same namespace is fine?

[2018-07-18 16:04] pcm32 commented on #1904
So shouldn't `rook-ceph-system` be created by the helm repo when creating the operator and agents?

[2018-07-18 16:12] travisn commented on #1904
Yes, the `rook-ceph-system` SA should have been created by the helm chart as seen [here](https://github.com/rook/rook/blob/master/cluster/charts/rook-ceph/templates/serviceaccount.yaml).

It is fine to put everything in the same namespace, or different namespaces than the example. The only restriction currently is that you can only have a single Rook Ceph cluster CRD defined in a namespace.

[2018-07-18 16:15] #1872 closed

[2018-07-18 16:19] travisn opened #1905 "Arm64 build fails on a mac"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
`make build.all` fails from a mac, but succeeds from linux machines.

The failure (as first noted in #1872) is:
[code]

**Expected behavior:**
The cross build should work from a mac as well.

**How to reproduce it (minimal and precise):**

From a mac, run `make build.all`

**Environment**:
* OS (e.g. f

[2018-07-18 16:22] pcm32 commented on #1904
Should I be using a different version of the helm chart? Currently doing:

[code]

Thanks!

[2018-07-18 16:30] pcm32 commented on #1904
Ahh, you are right, I meant rook-ceph-cluster, ok that makes sense. Will try adding the additional service account.

[2018-07-18 16:31] dmick commented on #1494
@sscheit, could nonpersistent hostpath be your problem as well?

[2018-07-18 16:58] bassam commented on #1905
I have a suspicion its this bug (again!) https://github.com/docker/for-mac/issues/1621#issuecomment-398957839

[2018-07-18 17:12] sscheit commented on #1494
Yes, we are actually teammates...thanks for your help, again, our apologies.

[2018-07-18 17:51] jbw976 commented on #1872
The first image build (`rook/ceph-arm64:v0.7.0-294.gd537df8`) from master looks OK with the fix:
[code]

[2018-07-18 20:36] travisn commented on #1707
This was fixed with #1698, which merged 9 days ago. This status configmap with the contention was changed to be a per-node status so there won't be a conflict anymore

[2018-07-18 20:36] #1707 closed

[2018-07-18 20:38] travisn commented on #1689
@13567436138 I believe this was fixed by #1892, but please reactivate if you see again on the latest builds.

[2018-07-18 20:38] #1689 closed

[2018-07-18 20:59] travisn commented on #1574
Looks like this issue was resolved already

[2018-07-18 20:59] #1574 closed

[2018-07-18 21:07] travisn commented on #1313
@leseb I believe this is working now, but please reactivate if something was missed

[2018-07-18 21:07] #1313 closed

[2018-07-18 21:13] travisn commented on #962
We haven't had reports of this for a long time. Please open again if see on the latest builds.

[2018-07-18 21:13] #962 closed

[2018-07-18 21:20] pcm32 commented on #1904
Adding the `rook-ceph-cluster` service account as
[code]
sorted my issue, as suggested by @travisn. Thanks!

[2018-07-18 21:20] #1904 closed

[2018-07-18 21:32] pcm32 commented on #1604
I'm running into the same error because my cluster was configured to use filestore instead of bluestore. Is it impossible to use filesystem with filestore instead of bluestore? Thanks!

[2018-07-18 21:34] galexrt commented on #1604
@pcm32 Do you try to create a Filesystem with `erasureCoded`?
Filestore doesn't really support `erasureCoded` AFAIK

This should work with filestore:
[code]

[2018-07-18 21:41] pcm32 commented on #1604
Yes, thanks! I was just going to paste that removing the erasureCoded bit made it work!

[2018-07-18 22:41] dmick commented on #1494
ah.  :)  Well that's great news; thanks for your patience.

[2018-07-19 06:15] ribozz commented on #1472
Also happened to me. Thanks @kc8apf for solution!

One thing that may be helpful (or confusing): The problem happened with a freshly installed Kube cluster after 2 days of normal work (including fully-functional rook). Two things that happened before things get broken: prometheus installation with some custom permission policies applied, ark-nightly backup added. Seems to be, problem appears after

[2018-07-19 07:29] mmack opened #1907 "upgrade to 0.8 - failed to create osd - hostname too long"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Update of osd's failed

**How to reproduce it (minimal and precise):**
Use very long hostnames:
k8s-worker-50.lxdev.ka.de.${domain with 20 chars}

**Environment**:
* OS (e.g. from /etc/os-release):
Container Linux by CoreOS 1745.7.0
* Kernel (e.g. `uname -a`):
4.14.48-coreos-r2
* Cloud provider or hard

[2018-07-19 11:07] mmack commented on #1907
I can confirm that this fix works for us. Thank you for the fast fix!

[2018-07-19 12:36] yanniszark opened #1910 "Apache Cassandra Operator"
**Is this a bug report or feature request?**
* Feature Request
Use the rook framework and leverage the existing codebase, in order to integrate Cassandra with Kubernetes.
Cassandra is a highly availably, P2P, distributed database. While it is incredibly performant, running a Cassandra cluster is a painfully manual job. We will take the operational knowledge about running Cassandra and automate it

[2018-07-19 16:30] gustavomr opened #1911 "Permission denied when deploying cluster.yaml with Ceph"
Hi,

I'm deploying rook with ceph following this tutorial: https://rook.github.io/docs/rook/master/ceph-quickstart.html and operator is ok, but deploying cluster.yaml I get this error:

Error message: failed to generate mon config files. failed to create keyring directory for /var/lib/rook/rook-ceph-mon0/keyring: mkdir /var/lib/rook/rook-ceph-mon0: permission denied

I saw that the directory /var/

[2018-07-19 16:36] travisn commented on #1911
@gustavomr are you running in OpenShift or other restrictive environment? If so, you likely need to set the `ROOK_HOSTPATH_REQUIRES_PRIVILEGED: true` in the operator as seen on this [page](https://rook.io/docs/rook/v0.8/openshift.html)

[2018-07-19 16:42] gustavomr commented on #1911
@travisn I'm running using virtualbox. I'm not using openshift.

[2018-07-19 16:44] travisn commented on #1911
Ok, can you check if the path is valid for `dataDirHostPath`? Likely `/var/lib/rook` is not valid. For example, in minikube you might use the path `/data/rook`.

[2018-07-19 16:45] gustavomr commented on #1911
@travisn I changed ROOK_HOSTPATH_REQUIRES_PRIVILEGED: true on operator.yaml and worked!

[2018-07-19 17:24] BlaineEXE commented on #1869
Could we implement a "desired state" with automatic replacement by adding devices from `/dev/disk/by-part/pci-0000:00:17.0-ata-1`, for example? If I understand correctly, even if I replace this disk with another one, it will still have the same pci address. If we had rook create every osd with an ID and tied to a disk by pci address above, there could be an init container that checks if the disk i

[2018-07-19 17:35] travisn commented on #1911
@gustavomr what type of kubernetes cluster are you running in? Is SELinux enabled? I'd like to understand why the flag was needed.

[2018-07-19 17:41] gustavomr commented on #1911
@travisn I'm using on master and nodes centos-release-7-5.1804.el7.centos.2.x86_64 and SELinux enabled.

I checked using sestatus:

SELinux status:                 enabled
SELinuxfs mount:                /sys/fs/selinux
SELinux root directory:         /etc/selinux
Loaded policy name:             targeted
Current mode:                   permissive
Mode from config file:          enforcing
Policy ML

[2018-07-19 17:42] travisn commented on #1911
Ok, thanks for confirming that SELinux is enabled, that explains it.

[2018-07-19 18:40] #1911 closed

[2018-07-19 18:43] gustavomr opened #1913 "Volume is already attached by pod"
Trying to create a deployment (with 3 replicas) with PVC. The first pod attached to PVC sucessfully.

The second and third pod shows the same error:

MountVolume.SetUp failed for volume "pvc-ed04a6ce-8b7f-11e8-ab36-08002759a5f7" : mount command failed, status: Failure, reason: Rook: Mount volume failed: failed to attach volume pvc-ed04a6ce-8b7f-11e8-ab36-08002759a5f7 for pod default/nginx-deployme

[2018-07-19 20:19] erickeliseo opened #1914 "The size is not reduced in CEPH"
**Is this a bug report or feature request?**

Deviation from expected behavior:

Hi, I created several Cassandra, Couchbase and Elastic clusters on kubernetes and for storage I used Rook.

The inconveneinte that I have is that the size of bluestore-block is not reduced after removing the services of Cassandra, Couchbase or Elastic and their respective PVC; although I have eliminated all the PVC an

[2018-07-19 22:42] jbw976 commented on #1913
Hi @gustavomr, the volumes provisioned and mounted by `rook-ceph-block` are `ReadWriteOnce` meaning they can not have more than one writer attach to the same volume.  See https://github.com/rook/rook/blob/release-0.8/cluster/examples/kubernetes/mysql.yaml#L24.

Were you intending for them all to access/share the same volume?  If so, you could look at using a shared filesystem instead: https://rook

[2018-07-19 23:57] jbw976 opened #1917 "*-arm image repos have no tags"
**Is this a bug report or feature request?**
* Bug Report

All of the `*-arm` image repos (linked below) do not have any tags in them.
* https://hub.docker.com/r/rook/ceph-arm/tags/
* https://hub.docker.com/r/rook/ceph-toolbox-arm/tags/
* https://hub.docker.com/r/rook/cockroachdb-arm/tags/
* https://hub.docker.com/r/rook/minio-arm/tags/

Do we only support amd64 and arm64?  Can these repos be dele

[2018-07-19 23:59] #1795 closed

[2018-07-20 06:16] jbw976 commented on #1027
@travisn, it looks like Luminous 12.2.7 is out now? Does it have this fix? http://docs.ceph.com/docs/master/releases/luminous/#v12-2-7-luminous

[2018-07-20 12:49] Ramorous opened #1918 "rook-ceph-mgr redeploy"
I'm looking to redeploy rook-ceph-mgr-a after it was deleted/removed. I have a screenshot of configuration points and ports, but just wondering the best approach to accomplish this as the cluster is already deployed

[2018-07-20 13:21] galexrt commented on #1918
@Ramorous Restarting the Rook operator will recreate the rook-ceph-mgr Deployment and Service.

[2018-07-20 13:30] Ramorous commented on #1918
Are there any dc yaml files for rook-ceph-mgr already? Want to make sure I don't miss anything.

[2018-07-20 13:32] galexrt commented on #1918
@Ramorous What do you mean with `dc yaml files`?
The rook-ceph-mr Deployment and Service is created automatically by the Rook Ceph operator.

[2018-07-20 13:35] Ramorous commented on #1918
Is there a way to get rook-operator to recreate it with all environment variables, etc set? That's one thing I don't have a copy of.

[2018-07-20 13:39] galexrt commented on #1918
@Ramorous The Rook Ceph operator just creates it as it was newly created for a Rook Ceph cluster.
It adds the `ROOK_*` env vars as the Rook Ceph operator created it during the Rook Ceph cluster creation.

As written please try restarting the Rook Ceph operator to see that the rook-ceph-mgr Deployment and Service is recreated.

[2018-07-20 13:43] Ramorous commented on #1918
That did the trick. So far. Thanks!

[2018-07-20 13:43] #1918 closed

[2018-07-20 16:35] galexrt opened #1919 "Ceph Config for OSDs needs to updated on container start"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The Ceph config file is not being updated automatically (on container restart).

**Expected behavior:**
The Ceph config file being kept up-to-date all the time.

**How to reproduce it (minimal and precise):**
1. Create a Rook cluster.
1. Wait for the cluster creation to be completed.
1. As an example w

[2018-07-20 16:38] galexrt opened #1920 "Change the OSD Deployment updateStrategy to Recreate"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When an OSD Deployment is modified right now, a new OSD Pod will be started which will crashloop at first because the old OSD Pod is still running due to the updateStrategy `rollingUpdate` used right now.

**Expected behavior:**
The current OSD Pod to terminate and then the new OSD Pod to start up.

**

[2018-07-20 16:54] travisn commented on #1027
yes, we can pick up this fix now.

[2018-07-20 17:39] travisn commented on #1027
@leseb when should we expect a ceph-container v3.0.7 release that includes luminous 12.2.7? my previous comment missed that we would require that release first.

[2018-07-20 17:45] travisn commented on #1907
Reopening to backport to 0.8

[2018-07-20 17:59] fabianvf opened #1921 "Volumes mounted as root in OpenShift, non-privileged containers can't write to them"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a pod consumes a PVC and the volume is mounted, the volume is owned by `root:root` and has the permissions set to `drwxr-x---`. In a non-privileged pod this makes it impossible to use the mounted volume.

**Expected behavior:**
The volume is mounted in a way that is consumable by the application,

[2018-07-20 18:00] fabianvf commented on #1921
ping @travisn

[2018-07-20 21:59] liewegas commented on #1869
We should be careful getting our hopes up about unprivileged OSDs:

- Encrypted devices will need ceph-volume to get the key metadata, fetch the decryption key from the key manager (mon normally), set up the decrypted dm volume (via cryptsetup... this needs root) and then start the OSD
- The new smartctl device metric scraping needs root.  With systemd we rely on sudoers.d to sudo smartctl.  In th

[2018-07-20 23:25] BlaineEXE commented on #1869
@liewegas, I could be misunderstanding something you are trying to get at, but running applications in the container as root does not necessitate running the container with the 'privileged' flag.

Not getting our hopes up seems a wise warning, but I don't think we should make design decisions today that will corner us into using privileged containers for the forseeable future. Even if privilege is

[2018-07-21 00:43] aland-zhang commented on #1921
please add this lines in pod :
restartPolicy: Always
schedulerName: default-scheduler
securityContext:
  runAsUser: 0

[2018-07-21 01:42] aland-zhang opened #1922 "osd pod Can't start normally after restarting the docker service or modify the osd Deployment"
Rook version (use rook version inside of a Rook Pod):
rook: v0.8.0
Kubernetes version (use kubectl version):
(using oc version instead)
oc v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master.example.org:8443
openshift v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657
Kubernetes cluster type (e.g. Tectonic, GKE, OpenShift):

osd pod Can't s

[2018-07-21 01:49] aland-zhang opened #1923 "Set public network and cluster network can't access the cluster"
Rook version (use rook version inside of a Rook Pod):
rook: v0.8.0
Kubernetes version (use kubectl version):
(using oc version instead)
oc v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master.example.org:8443
openshift v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657
Kubernetes cluster type (e.g. Tectonic, GKE, OpenShift):

I set rook-conf

[2018-07-21 01:54] aland-zhang opened #1924 "the osd does not automatically modify the rook.config file after modifying configmap rook-config-override"
Rook version (use rook version inside of a Rook Pod):
rook: v0.8.0
Kubernetes version (use kubectl version):
(using oc version instead)
oc v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master.example.org:8443
openshift v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657
Kubernetes cluster type OpenShift

After modifying configmap rook-config-

[2018-07-21 09:54] arkanmgerges opened #1925 ""OSD Prepare running on nodes that are 'invalid'" (e.g. placement not matching)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**
Add taints to the storage nodes and modify cluster.yaml and operator.yaml to use these node storage

**Environment**:
* OS (e.g. from /etc/os-release):
[code]

* Kernel (e.g. `uname -a`):
Linux node1 4.4.0-130-generic #156-Ubuntu S

[2018-07-21 09:59] galexrt commented on #1923
Being able to use different networks is already tracked here: #1523 and partly here #1610.
Closing this as a duplicate.

Please fill out an issue template next time.

[2018-07-21 09:59] #1923 closed

[2018-07-21 10:01] galexrt commented on #1924
This is tracked in #1919.
Closing as duplicate.

[2018-07-21 10:01] #1924 closed

[2018-07-21 10:03] galexrt commented on #1922
This is tracked in #1920.
Closing as duplicate.

[2018-07-21 10:04] #1922 closed

[2018-07-21 12:49] mingfang commented on #1011
I have a similar scenario such that Rook takes over the EBS volumes so that my hosts are ephemeral.
The EBS volumes should be partitioned so that /var/lib/rook can live in one partition and bluestore can take over the rest.  That way no matter what host the EBS device is attached Rook can simply continue working.

[2018-07-21 14:02] liewegas commented on #1011
If we're only concerned about OSD data, then partitions won't be needed. ceph-volume labels the LVM volumes with the metadata needed, so you just need to map one EBS volume per OSD, and it will be able to be attached to any host, discovered, and the OSD started.  Once we make the ceph-volume switch in 0.9.

The mon data, on the other hand, has no magic.  It's just a directory with some random file

[2018-07-23 02:36] allen13 commented on #1790
I'm running on openshift-enterprise 3.9.33 with rook v0.8 and I'm having this issue even when the FLEXVOLUME_DIR_PATH is set.

`journalctl -f -u atomic-openshift-node`

`Jul 22 19:28:18 ocp-06 atomic-openshift-node[2438]: E0722 19:28:18.930350    2462 desired_state_of_world_populator.go:289] Failed to add volume "alertmanager-main-db" (specName: "pvc-f282459a-8e1f-11e8-b0ef-0800270fad8c") for pod

[2018-07-23 13:09] liewegas commented on #1869
Also, moving all devices to a new host to cope with motherboard/NIC/whatever failure.

[2018-07-23 15:00] BlaineEXE commented on #1869
These are strong reasons. And I've been having some further thoughts over the weekend about how drive groups might work/affect Rook. For a drive to be prepared with a drive group implementation in ceph-volume, it seems to me that there will have to be an osd prepare step for the entire drive group, unless you have other thoughts. So there will be some pod that get drive group info and access to al

[2018-07-23 15:10] aland-zhang commented on #1523
I set rook-config-override  [global]
 public network = 192.168.192.0/24
cluster network = 192.168.200.0/24
public addr = ""
cluster addr = ""

and I set  rook-ceph-mon dc  env:
           - name: ROOK_PRIVATE_IP
             Value: 192.168.200.153
           - name: ROOK_PUBLIC_IP
             Value: 192.168.192.153
But the port is only bound to an ROOK_PRIVATE_IP
netstat -nltp | grep 6790
tcp

[2018-07-23 17:00] #1803 closed

[2018-07-23 23:07] travisn commented on #1925
As discussed in slack, the osd prepare jobs are being started on the nodes even if they don't match the `placement`. If the placement is set for `osd`s, the osds should not be scheduled on the nodes that don't match the filter.

[2018-07-24 00:13] jbw976 commented on #1925
Are we not applying the user's placement config to the OSD prepare pods here? https://github.com/rook/rook/blob/release-0.8/pkg/operator/ceph/cluster/osd/pod.go#L256

Do we understand why the OSD pods themselves, on the nodes that are OK to run on, were in a crashloop?

[2018-07-24 00:21] #1907 closed

[2018-07-24 00:52] rootfs commented on #1925
@arkanmgerges can you get the following info? thanks

[code]

[2018-07-24 05:36] travisn commented on #1925
@jbw976 Applying the user's placement config will only work for pods where k8s is defining the placement. In this case, we are creating a job with a node selector for a particular machine. The node selector is defined [here](https://github.com/rook/rook/blob/release-0.8/pkg/operator/ceph/cluster/osd/pod.go#L57). Since we require the job to run on that particular machine, we can't use the placement

[2018-07-24 05:38] travisn commented on #1925
@jbw976 and the nodes in a crash loop seems like a separate issue unrelated to this original issue, so we need a separate issue to track it. I don't see the crash looping osds in this description, just in the separate discussion from slack.

[2018-07-24 06:46] arkanmgerges commented on #1925
Hi,
I'm writing what @rootfs asked for

[code]

[code]

[code]

Thanks

[2018-07-24 07:38] arm64b opened #1932 "arm64 image build failure"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The PR #1887 seems doesn't work on both my amd64 and arm64 server. With the latest code,
On amd64, when I run the `make build.all`, the command will fail with error message like this:
[code]

On arm64, when I run `make build`, the error message is similar:
[code]
**Expected behavior:**
`make build.all`

[2018-07-24 09:13] galexrt opened #1933 "Dirty tags on Docker Hub"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The latest tags on Docker Hub `rook/ceph` are dirty.
Example:
[code]
(see https://hub.docker.com/r/rook/ceph/tags/)

**Expected behavior:**
No dirty tags.

I think the issue is `make vendor`.

Relates to #1428 and #1808.

[2018-07-24 13:33] leseb commented on #1027
@travisn it's here!

[code]

[2018-07-24 14:15] #1933 closed

[2018-07-24 15:57] travisn commented on #1027
@leseb thanks!

[2018-07-24 16:04] galexrt commented on #1933
The PR has fixed it: `v0.8.0-15.g986e930	260 MB	14 minutes ago`.

[2018-07-25 10:10] JulijaB commented on #1541
Hello, I am trying to run ceph-deploy install command for my nodes but I still keep receiving the error as mentioned by @bassam above - even though I am installing luminous release. Please let me know how to solve this issue? thank you

[2018-07-25 10:18] JulijaB opened #1938 "ceph-deploy install error - unable to locate package ceph-osd, ceph-mon"
Hello - I am trying to install ceph luminous but once I run ceph-deploy install on all my nodes I get the following output:

![cepherror](https://user-images.githubusercontent.com/27481473/43195243-5bcc11d2-8ffc-11e8-997c-f1ef695d496c.png)

please let me know how should  I solve this issue or is this a bug?

[2018-07-25 10:43] galexrt commented on #1938
@JulijaB Are you sure that you are at the right repo/project?

Rook's Ceph images do not use `ceph-deploy` and `ceph-deploy` program/script is not developed here.
You are probably looking for the mailing list of Ceph, see https://github.com/ceph/ceph-deploy#resources.

***

Also have you tried cleaning the `apt` cache and/or re-running the `ceph-deploy` command?

[2018-07-25 12:59] FaKod opened #1939 "OSD Pods fail with unable to open config file"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
is not able to start OSD Pods. They are failing with:
[code]

**How to reproduce it (minimal and precise):**
I configured my cluster with separate node entries like this:
[code]

**remarks**
- provision jobs complete successfully and the config file is at the desired location on node local SSD
- IMHO t

[2018-07-25 13:50] FaKod commented on #1939
The operator creates this:

[code]

Manually changing volumeMounts to ` /var/lib/rookdata`solves it.

[2018-07-25 14:30] jbw976 commented on #1541
@JulijaB, I'm not aware of the need to run `ceph-deploy` in any of the Rook scenarios covered in https://rook.io/docs/rook/v0.8/.  Can you provide some more context about your use case that is requiring you to run `ceph-deploy` directly?

[2018-07-25 14:40] jbw976 commented on #1939
I think the original issue here is that you can't add the `dataDirHostPath` as a specific directory to use for storage (ownership) by an OSD also.  That would result in 2 different mounts for the OSD pod coming from the same underlying directory.

I believe the goal here is to have everything Rook needs, both a config/data dir and a storage dir, to be coming from the same single location on the ho

[2018-07-25 15:50] FaKod commented on #1939
OSD Pods still fail with:
[code]

however, I do not understand why this should work, because the OSD container does not mount anything to(!) /var/lib/rookdata.

[2018-07-25 15:53] galexrt commented on #1939
@jbw976 The problem is that the OSD expects to find its data at `/var/lib/rookdata/storage/osd0` but the OSD Deployment mounts the `/var/lib/rookdata/storage` directory to `/var/lib/rook`.
The Ceph OSD expects its data dir at `/var/lib/rookdata/storage/osd0` though.

The Ceph OSD data path needs to be `/var/lib/rook/storage/osd0` or that the volumemount is moved from "always" `var/lib/rook` to the

[2018-07-25 15:55] galexrt commented on #1939
@travisn Which way do you want to go with the OSDs? Should a `directory` be mounted to `/var/lib/rook/osd123` or mounted to the "original" directory path (e.g. directory `/my-data/rook` on the host to `/my-data/rook` in the OSD)?

[2018-07-25 16:21] travisn commented on #1939
I'm looking at some mounting issues related to this for #1919, so I'll look into it at the same time.

[2018-07-25 16:40] travisn commented on #1939
By always mounting the config directory to /var/lib/rook, there were a number of simplifications in the daemons. At this point it would be a much bigger and more difficult change to mount the path to the actual path instead of `/var/lib/rook`.

@FaKod is your goal to have one osd co-located with the data dir? If so, you actually get one automatically in that location if you do not specify any dire

[2018-07-25 16:52] BlaineEXE opened #1942 "Should we set runAsNonRoot explicitly when false now that Kubernetes version 1.6.4 is unsupported?"
Browsing through the code, I found the line below:

https://github.com/rook/rook/blob/986e930f5ef6fc62152090e775753813cd1d8cac/pkg/operator/ceph/cluster/osd/pod.go#L363-L365

I believe k8s 1.6 is now unsupported. Should these lines throughout the code be un-commented and changed back to `runAsNonRoot := false`?

[2018-07-25 16:59] galexrt opened #1943 "Document required RBAC Role and (Cluster)RoleBindings on Prerequisites page"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Document the required RBAC Role and (Cluster)RoleBindings on the Prerequisites page (https://rook.io/docs/rook/v0.8/k8s-pre-reqs.html).

**What is use case behind this feature:**
If a user does not use the quickstart cluster.yaml they most likely fail because this is not documented in the prerequisites.

[2018-07-25 17:04] FaKod commented on #1939
@travisn yes, renaming the cluster CRD directory entries to `/var/lib/rkdata` solves it...

[2018-07-25 17:19] travisn commented on #1943
@galexrt what if we move [this section](https://rook.io/docs/rook/v0.8/ceph-cluster-crd.html#common-cluster-resources) higher on the crd page instead of at the end? Then we could reference it from the quickstart. It's not really a prerequisite in my mind, but should be created with the crd.

[2018-07-25 17:46] jbw976 commented on #1939
@travisn are you saying that `dataDirHostPath` must always be `/var/lib/rook` now?  I don't see that explained in https://rook.io/docs/rook/v0.8/ceph-cluster-crd.html#cluster-settings and I don't understand why that would be the case.

Or are you instead saying that the mount path **inside** the rook-ceph pods, which shouldn't matter to the end user at all, will always be `/var/lib/rook`.  That I

[2018-07-25 17:50] jbw976 commented on #1942
It looks that way @BlaineEXE, the fix appears to be in upstream k8s 1.7+: https://github.com/kubernetes/kubernetes/pull/47009/commits/07a67c252cacdb64da6dd951fcb0357aa1a10f75

[2018-07-25 17:53] travisn commented on #1939
@jbw976 The latter, `/var/lib/rook` is always mounted inside the pods. This does lead to strange behavior if you try to use either `/var/lib/rook` or the dataDirHostPath as a directory. I'm testing a change now that would prevent those two paths as directories. Subpaths of those directories should be fine, however.

[2018-07-25 19:17] BlaineEXE opened #1944 "Paring down pod privileges"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Reduce the privileges available to pods to the bare minimum to eliminate security vulnerabilities that may allow Rook pods to allow further intrusion into the host system(s).

**What is use case behind this feature:**
Security hardening.

-----

There are a lot of things that could be done here. When po

[2018-07-25 20:21] BlaineEXE commented on #1944
## Preliminary `/dev` investigation

### Testing procedure
Create a basic deployment for manually testing some of the tools that Rook uses to see if privilege can be reduced.

[code]

1. Get a minimal Rook cluster going (mons only, no osds)
2. Use `kubectl create -n rook-ceph-system -f test-manifest.yaml` to create the deployment.
3. Attach to the test pod 'kubectl exec -it -n rook-ceph-system bla

[2018-07-25 21:37] #1027 closed

[2018-07-26 06:23] bitfisher opened #1948 "Creating a second ObjectStore doesn't create a second RGW Deamonset/Deployment"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Creating a second ObjectStore doesn't create a second RGW Deamonset/Deployment.

Also the amount of created pools are different.

**Expected behavior:**
For each created ObjectStore a RGW Daemonset/Deployment should be created and the same amount of pools should be created too.

**How to reproduce it (

[2018-07-26 08:03] benceszikora commented on #1827
@jbw976 I have tried to follow the instructions in your gist, but I get this error when I try to remove the node:
[code]

[2018-07-26 14:18] deveshk0 opened #1949 "Rook Osd are not starting on new Slave Nodes."
After adding the new slave in kubernetes
Rook OSD is not starting,

Giving this in log

Provisions and runs the osd daemon
 Usage:
 Flags:
      --admin-secret string           secret for the admin user (random if not specified)
      --ceph-config-override string   optional path to a ceph config file that will be appended to the config files that rook generates
      --cluster-name string

[2018-07-26 14:37] benceszikora opened #1950 "RGW pools appearing without objectstore present"
I have created a new cluster from scratch using v0.8.0. I have created an objectstore call `rook-objectstore` When I do `ceph osd pool ls`, I can see these pools:
[code]
Where do the `default.` pools come from? Can I safely delete them?

[2018-07-26 16:11] PierrickI3 opened #1951 "Pool cannot change to replicated"
I am unable to join your slack. Does this require an invitation?
I am new at Rook and I am trying to create a cluster on top of a new kubernetes 1.11 that I just brought up on CentOS 7 on a baremetal

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Should create a shared filesystem and the associated pods

**Expected behavior:**
mds pods should be c

[2018-07-26 16:15] galexrt commented on #1951
@PierrickI3 The error `Error EINVAL: pool 'myfs-data0' cannot change to type replicated` means that the pool is erasure coded. An erasure coded pool can't be changed to replicated.
Could it be that you have/had created a pool/filesystem before with `erasureCoded` config?

[2018-07-26 16:16] PierrickI3 commented on #1951
I did create one before and then I saw that it was not supported by my environment (by looking at the issues here). I deleted it and then removed the `erasureCoded` part of the config and now I get this error.

[2018-07-26 16:18] galexrt commented on #1951
@PierrickI3 Then you may need to manually delete the fs and/or pools.

You can join the Slack by using the Slack button in the top of the Rook website, here: https://rook.io or use the direct link to the slack inviter: https://rook-slackin.herokuapp.com/ so we can help you with the deletion of the fs/pools.

[2018-07-26 16:52] PierrickI3 commented on #1951
Turns out you have to delete the existing fs even if it did not succeed.
* First, use the `ceph osd lspools` command in the toolbox pod to list the existing pools.
* Restart the ceph operator pod
* Run `ceph osd pool delete <pool name> <pool name> --yes-i-really-really-mean-it` to delete a pool
* Create a filesystem in the same namespace than the operator

[2018-07-26 16:52] #1951 closed

[2018-07-26 16:53] galexrt commented on #1951
@PierrickI3 The filesystem needs to be created in the same namespaces as the Ceph cluster you want the Filesystem to be created in, not the operator namespace.
You also need to make sure the Ceph Filesystem object is deleted before the ceph operator pod.

Could you please update the instructions in your comment.

[2018-07-26 20:31] travisn commented on #1925
reopening for backport to 0.8

[2018-07-26 20:48] travisn commented on #1920
reopening for backport to 0.8

[2018-07-27 02:42] deveshk0 commented on #1949
Hi @travisn
I am running v0.8 version of rook opeartor.
when i initially started i had 5 machine in cluster. after that i added 3 more machine to the kubernetes cluster, now osd daemon on these new nodes is failing. It keeps on crashing.

The attached log is from osd daemon from new nodes where it is crashing.

I didn't restarted the cluster. when i added new slave nodes. osd daemon automaticallys