[2020-12-25 13:47] satoru-takeuchi commented on #5877
There are 265 merge commits between v1.4.0 and v1.5.0. Today I tried the following commits.

#133: 259505cb8: PASS
#198: 788709f67: PASS
#230: f91616f1e: PASS
#248: 22da5e299: PASS

It means the root cause is between the merge commit 249 and 265.

Here 248 is merged in Aug 3 and this issue is opened in Jul 23. So I guess there are at least two problems.

[2020-12-25 20:55] yanchicago commented on #6182
Please keep this open for further improvement on hte recovery procedure.

[2020-12-25 23:12] zerkms commented on #5663
.

[2020-12-26 05:17] satoru-takeuchi commented on #5877
I found that #6589 introduced this problem.

https://github.com/ceph/ceph/blob/656386e9c0dd1d212221ac030b0060dac6b2bf10/src/pybind/mgr/rook/rook_cluster.py#L195

Rook module gets device information from "rook-discover" cm, that is created by the discovery daemon.  However, this daemon is disabled by this commit.

I'm looking for other ways to get the device information.

[2020-12-26 07:08] AceHack commented on #3455
Bump

[2020-12-26 08:58] CodingSpiderFox commented on #6075
Still a mystery to me. I need more information about how the Ceph Cluster is secured.

[2020-12-26 17:49] CrossRoast commented on #6848
I meant I wasn't sure if the operator rotates the passwords of ceph users. After searching through the code, it looks like you use `ceph auth get-or-create-key` and I couldn't find any `ceph auth import` lines, so it looks like the users don't change.

Please, let me know if I'm wrong. For now, I'll close the issue since all my questions were answered and I was able to get the CSI to use volume en

[2020-12-26 17:49] #6848 closed

[2020-12-26 23:55] travisn commented on #5049
This is really improved by the [advanced documentation topic](https://rook.github.io/docs/rook/v1.5/ceph-advanced-configuration.html#using-alternate-namespaces). Let's close this and work on the helm improvements independently since this is addressed now.

[2020-12-26 23:55] #5049 closed

[2020-12-27 21:54] hansbogert opened #6882 "Wrong ceph version in Upgrade instructions for Ceph (not rook)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Following upgrade instructions for ceph (not rook) leads to operator ignoring existing cluster

**Expected behavior:**
Follow upgrade instructions for ceph (not rook) should lead to operator upgrading all ceph instances

**How to reproduce it (minimal and precise):**
Follow upgrade instructions, especi

[2020-12-28 02:31] liwh1111 opened #6884 "After running rook-Ceph for a while, some PODS suddenly failed to start"
![image](https://user-images.githubusercontent.com/63097736/103185542-cf7b0500-48f7-11eb-8510-3fa90010fff1.png)
![image](https://user-images.githubusercontent.com/63097736/103185547-d9046d00-48f7-11eb-8b32-b120a9a03de3.png)
How can I solve this problem

[2020-12-28 06:37] dpaks opened #6885 "v1.4.8 cannot be installed using helm"
**Is this a bug report or feature request?**
* Bug Report

https://charts.rook.io/release doesn't contain v1.4.8 but v1.4.7 and others. Hence, the following command fails.
`helm install rook-release/rook-ceph --version=v1.4.8 -n rook-ceph`
![image](https://user-images.githubusercontent.com/6995187/103194311-3f43bc80-4905-11eb-82bf-48c1e4bf0064.png)

[2020-12-28 11:47] varshar16 opened #6886 "Cleanup nfs-ganesha recovery and grace rados objects"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

On deleting nfs-ganesha cluster, the recovery and grace objects are not removed. This can lead to unexpected behaviour on redeployment of nfs-ganesha cluster with same name.

**Expected behavior:**

 The recovery and grace objects should be removed.

**Environment**:

Reproducible with all ceph and ro

[2020-12-28 21:18] travisn opened #6887 "release-1.4 branch build is failing due to helm v2 issue"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The release-1.4 build is failing due to the following error with helm v2 as seen [here](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/release-1.4/191/pipeline):
[code]

**Expected behavior:**
Build must succeed.

**How to reproduce it (minimal and precise):**

Run the build on t

[2020-12-29 02:57] #5728 closed

[2020-12-29 05:10] MaXinjian commented on #6342
Hi @leseb, I'm trying to create OBC in external cluster, but seems failed due to this issue. So there is no way for us to  create
OB/OBC in external cluster?

[2020-12-29 10:04] cfuntis opened #6889 "osd not created on fresh ubuntu 20.04 installation"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSD not created.

**Expected behavior:**
After adding a new disk under ubunto 20.04, rook should create a new OSD Pod.

**How to reproduce it (minimal and precise):**
Existing Rook/Ceph Cluster with 3 OSD running on RancherOS, removed OSD 1 and tried to replace the Node/OSD with a new one (OS Ubuntu 20

[2020-12-29 10:05] RyanW8 opened #6890 "Rook Ceph - Resource Limits for OSDs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

In the CephCluster CRD setting the OSDs resource requests/limitsl ike s
[code]

results in all the containers in the OSD pod having those limits (Including the initContainers).

**Expected behavior:**

These resource requests/limits should only be set on the OSD container and not the initContainers wi

[2020-12-29 14:08] SAshish19 opened #6892 "Does Rook support Cinder Block Storage"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Need to check if Rook can be used by Cinder Block Storage

**What is use case behind this feature:**
Conformation on implementation with Cinder block storage

**Environment**:

Hi Team,

We have a 6 node Kubernetes cluster with 3 master and 3 worker nodes. All the worker nodes are having individual Cind

[2020-12-30 08:26] paalkr commented on #6101
What would it require to att the suggested features?

[2020-12-30 16:54] Brawn1 opened #6893 "OSD not creating successfully on new cleaned disk"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
not creating osd from disk.

**Expected behavior:**
Add wiped disk and create the osd.n (in this case osd.2).

**How to reproduce it (minimal and precise):**
Remove 1 osd from cluster and wipe it, after that step, add disk to cluster with operator restart (--replicas=0/1).
The osd prepare pod show the

[2020-12-31 02:01] darkrift commented on #6893
I'm getting the same with brand new Kingston SSDs

Logs of the osd-prepare-controller
[code]

Extract of `fdisk -l`
[code]

[2021-01-01 04:43] blampe commented on #6244
Not Daniel but I had the same issue! Downgrading to 1.4.2 also resolved it for me.

Before downgrading, my operator was 1.5.4 and its logs were full of this:
[code]

[2021-01-02 13:45] jakoberpf opened #6894 "Error when creating csi-cephfsplugin-provisioner and csi-rdb-plugin-provisioner"
Hello, I have an issue with setting up rook ceph cluster on raspberry pis. Since there is no official arm support I am using the raspbernetes images like the guide [rook on arm](https://medium.com/swlh/how-to-develop-for-arm-on-a-budget-bfc433bdad07), I hope I am in the right place to ask for guidance. Similar guides like [G1](https://blog.codegiant.io/how-to-deploy-a-ceph-cluster-on-kubernetes-wi

[2021-01-02 14:14] rockkoca opened #6895 "NFS pods crashed for fsec running in 1.5.4 and filesystem does work"
**Is this a bug report or feature request?**
* Bug Report
NFS pods crashed for filesystem-ec  after applying nfs-ec.yaml
rook-ceph-ec-block and rook-ceph-block are working well. But, I need to use readWriteMany. So, I wanted to set up a nfs server.
**Deviation from expected behavior:**
One NFS pod started but crashed. Nothing happened after applying filesystem.yaml
**Expected behavior:**
NFS pods

[2021-01-04 02:46] jproig opened #6896 "Support taint toleration in the nfs CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow to run the NFS servers in specific tainted cluster nodes.

**What is use case behind this feature:**
For example, in GCP, in order to support high IOPS some specific machine type is desired and I would like to place the NFS servers in those specific nodes.

**Environment**:

[2021-01-04 03:43] minhnnhat commented on #4553
It's perfectly work, thank you so much !

[2021-01-04 10:48] billy98 opened #6897 "root-ceph-operator CrashLoopBackOff"
I deployed the Rook-Ceph version 1.5.4 and started the Operator using the following command。
[code]

[code]

[code]

**Environment**:
* OS (e.g. from /etc/os-release):CentOS 7
* Kernel (e.g. `uname -a`):Linux k8s-master-01 3.10.0-957.el7.x86_64 #1 SMP Thu Nov 8 23:39:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* Cloud provider or hardware configuration:4core 8G memory
* Rook version (use `rook vers

[2021-01-04 10:53] subhamkrai commented on #6897
@billy98 please see this https://rook.io/docs/rook/v1.5/ceph-quickstart.html#deploy-the-rook-operator

`kubectl create -f crds.yaml -f common.yaml -f operator.yaml`

[2021-01-04 13:53] leseb commented on #4238
Not that I can think of. I can look into this.

[2021-01-04 14:46] subhamkrai commented on #6789
can I take this up?

[2021-01-04 15:33] rookfan opened #6900 "OSDs not created on fresh rook cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
No OSDs are created. However before installing rook I wiped the disks as described in https://rook.io/docs/rook/v1.5/ceph-teardown.html#delete-the-data-on-hosts

The container 'osd-prepare' seems to prepare the clean disk by configuring LVM2 on it. After that it complains 'skipping device "sda" because

[2021-01-04 16:58] #6882 closed

[2021-01-04 17:25] rookfan commented on #6900
Rook 1.5.3 completed osd provisioning successfully so I'm using this version for now.

[2021-01-04 17:32] leseb commented on #6832
Closing as per https://github.com/rook/rook/issues/6832#issuecomment-749467092, Rook can only use partitions or raw devices. It won't accept LVM members.

[2021-01-04 17:32] #6832 closed

[2021-01-04 19:40] lukonjun opened #6903 "Ceph Dashboard Problems due to MGR Liveness Probe fails"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
mgr Pod is constantly restarting, this results in unpredictable errors in the Ceph Dashboard, getting logged out, 401, ...

**Expected behavior:**
Pod is up and running, Dashboard works flawlessly

**How to reproduce it (minimal and precise):**
oc create -f crds.yaml
oc create -f common.yaml
oc create

[2021-01-04 19:41] #6682 closed

[2021-01-04 19:43] travisn commented on #6834
Rook doesn't control the external cluster config.
@joscollin Can you take a look to confirm if there is anything Rook should change?

[2021-01-04 19:46] travisn commented on #6862
@electrical Did you try deleting the mon pod first, or just the deployment? The pod should recover immediately, while the delay for re-creating the deployment is harder to fix. Restarting the operator would be a workaround to create the mon more quickly, if that helps.

[2021-01-04 20:58] travisn commented on #6872
@Sabarish41 Ceph support for Windows clients isn't there. Are you trying the recent [Windows driver](https://ceph.io/planet/suse-publishes-first-steps-towards-windows-clients/)? Even if you're trying the client driver or another client protocol such as iSCSI or CIFS, I don't anticipate Ceph itself will be supported on Windows anytime soon.

[2021-01-04 21:13] travisn commented on #6876
@ycy1766 Did you find those settings defined in [this design doc](https://github.com/rook/rook/blob/3e7e31fd3e24e8965fdc53eb8b78c021900eac65/design/ceph/ceph-volume-provisioning.md#new-features)? Those actually weren't implemented in Rook. We are moving away from LVM and recommending raw devices and partitions to avoid the dependency on LVM. Is that a possibility for you?

[2021-01-04 21:15] travisn commented on #6877
@BlaineEXE Does the brownfield scenario for OBCs cover this case?

[2021-01-04 21:23] travisn commented on #6878
Consider that you may not need a new build of Rook in order to immediately fix Ceph security issues. You can already update the version of Ceph deployed by Rook but setting the ceph image in the cluster CR (cluster.yaml). The only pod that is using the Rook image is the operator, which is not likely affected by many Ceph security issues.

[2021-01-04 21:28] travisn commented on #6881
@tbrandstetter You're referring to this error?
[code]

This would be coming from `ceph-volume`, so will need to open an issue in the ceph repo instead of Rook.

Note that Rook is moving away from LVM-based OSDs so we can purely use "raw" mode and no need for LVM. In #4879 we will hopefully be able to create all the OSDs in raw mode.

[2021-01-04 21:30] mmahler opened #6906 "rook cassandra arm64 image contains amd64 binaries."
* Bug Report
Unable to create Cassandra cluster on ARM64 based cluster. The operator creates and starts ok, but after creating a cassandra.rook.io/v1alpha1 Cluster, the rook-install container crashes while trying to run "/bin/sh -c cp -a /sidecar/* /mnt/shared".

kube logs show "standard_init_linux.go:211: exec user process caused "exec format error" which would suggest that sh, cp or both are the

[2021-01-04 21:43] saranicole commented on #6789
This issue appears to apply to tolerations as well in that `placement: all:` tolerations do not apply to OSDs, resulting in the OSDs needing tolerations added separately.

A workaround for this is to add tolerations in both places, like so
[code]

The desired behavior is that tolerations added under `placement: all:` should apply to all pods including OSDs.

[2021-01-04 22:05] travisn commented on #6900
This is likely an environment issue with the disk. LVM can be a pain like this during reinstall, sometimes requiring a node restart to clear it out completely.

[2021-01-04 22:07] travisn commented on #6895
@varshar16 Any ideas on this issue with the NFS daemon?

[2021-01-04 22:09] travisn commented on #6893
This is likely an environment issue with the disk. LVM can be a pain like this during reinstall, sometimes requiring a node restart to clear it out completely. Has Rook not been installed on this disk before? Hopefully soon we can get rid of the dependency on LVM with #4879.

[2021-01-04 22:18] travisn commented on #6101
With #6126 the OSDs should at least all be expandable, but the auto-expansion is certainly still interesting.
@satoru-takeuchi Is this a feature you'd be interested in implementing?

[2021-01-04 22:21] rookfan commented on #6900
Thank you very much for responding that fast! I didn't mention it above, but I rebooted each host after wiping the disks. However if I'm the only one facing this issue it may be closed.

[2021-01-04 22:21] #6900 closed

[2021-01-04 22:25] travisn commented on #6892
@SAshish19 See the [Rook prerequisites for disks](https://rook.github.io/docs/rook/v1.5/ceph-prerequisites.html#ceph-prerequisites). Is the storage from Cinder available from a storage class? If so, this should be simple with the [cluster-on-pvc](https://rook.github.io/docs/rook/v1.5/ceph-cluster-crd.html#pvc-based-cluster) scenario.

[2021-01-04 22:30] BlaineEXE commented on #6892
The state of OpenStack may have changed since I gave this talk, but it could provide some answers for you.

https://www.youtube.com/watch?v=mCljCGIE-hM

[2021-01-04 22:32] travisn commented on #6890
@RyanW8 The [K8s resource docs](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#resources) mention that a pod will be scheduled based on the highest limit of the init containers, or the sum of the app containers, whichever is greater. Rook is currently setting the resource limits the same on all init containers and the daemon container, which means the OSD pod should be schedul

[2021-01-04 22:33] BlaineEXE commented on #6893
It seems like the disk might have pre-existing LVM info on it already. You may need to use LVM tools to remove the old VG, PG, and LV from the disk in question. Additionally, I have found that doing a `dd` to wipe the first 5 gigabytes of the disk is sometimes needed to remove LVM data from it. And as Travis mentioned, restarting can sometimes be necessary.

[2021-01-04 22:37] travisn commented on #6885
@dpaks The helm chart is currently only pushed during Rook's "promote" pipeline, which is intended to make the latest helm chart available. After the v1.5.0 release came out, it was intended to be the latest helm chart to be available, rather than the v1.4 patch releases. But agreed that we should still make the patch releases all available when a specific version is requested.

[2021-01-04 22:39] travisn commented on #6884
@liwh1111 What version of Rook are you running? This sounds related to #6162 which was fixed a while back.

[2021-01-04 22:54] BlaineEXE commented on #6895
I'm pretty stumped by this also. Is there any reason why https://tracker.ceph.com/issues/48514 would apply to this? It could be that we need to backport https://github.com/ceph/ceph/pull/38510, but I don't think this is likely.

[2021-01-04 23:06] travisn commented on #6903
@lukonjun You can try disabling the mgr liveness probe with a setting in the [cluster CR](https://rook.github.io/docs/rook/v1.5/ceph-cluster-crd.html#health-settings).

The mgr looks like it isn't starting the admin socket as expected.
[code]

@leseb any ideas?

[2021-01-04 23:19] BlaineEXE commented on #6877
It does not. The brownfield scenario is only encountered when using a pre-existing bucket. There is no option for a pre-existing user. The configuration is actually done in the storageclass with `parameter:bucketName`, and the OBC library handles this case specially.

We have some options here:
1. bake the `userName` into the OBC config
2. allow OBC lib code to interpret a `userName` field in the

[2021-01-05 01:08] jeffvance commented on #6877
@BlaineEXE At first glance I prefer option  3. I agree user name handling should not be in the lib, and in general, the lib should not interpret _SC.parameters_, which we violate with brownfield bucket names.

[2021-01-05 07:19] predakanga commented on #6877
Apologies in advance for the long comment, I'll try to keep it clear.

### Usecases
- I run a service which accesses several buckets from a single container. The service only accepts one set of credentials. I would like to use ObjectBucketClaims to create these buckets, and the corresponding ConfigMap/Secret with envFrom to provide credentials to that container.
- I manage a local Gitlab deploymen

[2021-01-05 08:38] liwh1111 commented on #6884
ceph/ceph:v14.2.9

I found that restarting rook-ceph- operators would restore

[2021-01-05 09:58] varshar16 commented on #6895
@rockkoca Don't use erasure-coded pool for storing NFS client recovery data. Also there is no need to use the same fs data pool for nfs.

[2021-01-05 09:58] billy98 commented on #6897
rook-ceph-osd-prepare CrashLoopBackOff
![image](https://user-images.githubusercontent.com/13307862/103632516-63e00a00-4f7f-11eb-9237-15e0c3082544.png)

cluster.yaml
[code]

[code]

[2021-01-05 09:59] varshar16 commented on #6895
It is not related.

[2021-01-05 10:04] subhamkrai commented on #6897
@billy98  I'm seeing `Message:      binary "lvm" does not exist on the host, make sure lvm2 package is installed: binary "lvm" does not exist on the host`

see this https://rook.io/docs/rook/v1.5/ceph-prerequisites.html#lvm-package if it helps

[2021-01-05 10:05] leseb commented on #4827
So this is intermittent? Do you have a good reproducer?

[2021-01-05 10:10] leseb commented on #6861
Can you share some operator's logs?

[2021-01-05 10:38] leseb commented on #6863
Please re-open using the issue template.

[2021-01-05 10:38] #6863 closed

[2021-01-05 10:44] leseb commented on #6889
@cfuntis which disk are you expecting to become an OSD?

[2021-01-05 10:52] cfuntis commented on #6889
from "lsblk": sdb - disk was unused before, ceph-** are automatically created from the operator but not found (tried multiple time, cleaned everything as described in the documentation)

[2021-01-05 11:05] lukonjun commented on #6903
Hi @travisn thanks for your advice, I disabled the livenessprobe of the mgr by editing the cluster.yaml as described.
The pod is now not restarting anymore, however the Application is still crashing (getting logged out in the dashboard, cant log in, 401, ...)
The logs also look fairly similar, besides the missing probes, any ideas how i can further debug?
[code]

[2021-01-05 11:21] rockkoca commented on #6895
I am following the example. The filesystem.yaml did not work at all. So, I used the erasure-coded pool instead. A filesystem is required before start the NFS example.

[code]

[2021-01-05 14:19] synarete opened #6908 "Rook Ceph: Create pools over specific nodes"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow users of large ceph clusters to define pools over specific nodes

**What is use case behind this feature:**
When working on large clusters, ceph admins may want to segregate the underlying nodes into distinct pools,
which provides implicit QoS (capacity, performance). Alternative use-case is deplo

[2021-01-05 14:26] travisn commented on #6884
@liwh1111 And what version of Rook? You can see it in the operator image, or the first line of the operator log. I'd at least recommend updating to the latest patch release of your minor version, if not already.

[2021-01-05 14:26] leseb commented on #6908
Isn't that possible already with node labeling and setting `crushRoot` with the appropriate CRUSH leaf in the CephBlockPool CRD?

[2021-01-05 14:30] leseb commented on #6893
Agreed, I think `lvremove`, `vgremove`, `pvremove` are missing, the disk should be available after that.

[2021-01-05 14:30] #6893 closed

[2021-01-05 14:31] leseb commented on #6893
Oops clicked the wrong button, I feel like this can be closed anyway, if you feel otherwise, let us know. Thanks @Brawn1

[2021-01-05 14:36] leseb commented on #6244
Depending on when those messages appear they can be considered harmless. Was that after the operator was starting or something?

[2021-01-05 14:37] travisn commented on #6908
To capture my thoughts from another thread, I see this working with the deviceClass. All OSDs in a `storageClassDeviceSet` can be created with the same `crushDeviceClass`, then a pool can be created specifying the same name for the `deviceClass`. No need for separate CRUSH roots with this approach.

[2021-01-05 14:37] leseb commented on #6342
What is the issue? Do you have the operator's logs? Do you have a realm/zone/zonegroup setup?
The problem should manifest by a stack trace from the radosgw command when trying to perform s3 operations.

[2021-01-05 14:55] leseb commented on #6889
Make sure you remove the `dm` before each attempt. Rook refuses dm devices.

That should do the trick.

[2021-01-05 15:05] leseb commented on #6892
I would think that Cinder would connect to Ceph-CSI directly, not necessarily to Rook. @SAshish19 can you describe in more detail what you are trying to achieve? Thanks

[2021-01-05 15:16] electrical commented on #6862
Hi @travisn I can't remember exactly but I most likely deleted the deployment so it would recreate the deployment it self.

[2021-01-05 15:22] electrical commented on #6861
Unfortunately I don't have the full logs anymore.
All relevant info is in a slack thread https://rook-io.slack.com/archives/CK9CF5H2R/p1608322408345900
it contains some of the log entries.

[2021-01-05 15:23] leseb commented on #6903
The socket already exists and it was cleaned earlier? But it's hard to say if it's harmful or not, I would say no and this is just misleading us to the right problem.

The real error might just be:

[code]

Although it does not make much sense to me.

@alfonsomthd @jmolmo any idea?

[2021-01-05 15:27] leseb commented on #6871
Can you run s3cmd with a debug level?

[2021-01-05 15:36] leseb commented on #6760
@Sabarish41 do you have disks? Where is the issue now? If the issue remaining is in #6832 then we explained what to do there and closed it, so doing the same here.
Feel free to re-open if you have any concerns.

Thanks.

[2021-01-05 15:36] #6760 closed

[2021-01-05 15:55] leseb commented on #6849
Not sure what is the right fix for this in 1.5, https://github.com/rook/rook/pull/4879 is appealing but has its own limitations...

[2021-01-05 16:04] leseb commented on #6826
Personally, I would just push this as a Ceph tracker bug and let the mon handle its own memory management, just like it does today. On the Rook side, a doc fix should be enough.

@teozkr would you mind opening a bug in https://tracker.ceph.com/? And link this issue, thanks!

@BlaineEXE @travisn thoughts?

[2021-01-05 16:11] leseb commented on #6881
@tbrandstetter out of curiosity isn't `/dev/sdb` already a PV member? Or at least is/was already used has an LVM member?
Anyway, you still need to open a tracker issue here: https://tracker.ceph.com/

Thanks.

[2021-01-05 16:11] #6881 closed

[2021-01-05 16:20] leseb commented on #6738
@icpenguins you must remove any dm traces, so use `dmsetup remove` and try again. This is a really common case that should work, don't give up.

[2021-01-05 17:02] varshar16 commented on #6895
NFS client recovery data cannot be stored in an EC data pool. True, filesystem is required before deploying NFS cluster and following the above example will work because EC data pool is not used. If you are using EC data pool with cephfs then manually create a new data pool which is not erasure coded and use this for storing NFS client recovery data.

What error did you get on deployment with file

[2021-01-05 18:15] icpenguins commented on #6738
@leseb thanks bud! I meant to reply to the thread with my results. I believe a documentation update could be in order for this as well. I believe the docs just say to `delete` the osd, but it must be a `purge`. Also, I deleted the host name from the `crush map` as well.

IMHO, I believe this is a correctable, or at least logged, scenario from ROOK and believe this should be a code update.

[code]

[2021-01-05 18:18] tbrandstetter commented on #6881
@travisn thanks for your feedback. I will open the issue in the ceph repo.
@leseb No, I cleared and wiped the disk before.

[2021-01-05 18:21] travisn commented on #6826
Rook does already set `POD_MEMORY_REQUEST` and `POD_MEMORY_LIMIT` on all the daemon pods, including the mons. @leseb Agreed that given these vars, the mon should be able to manage its own memory similarly to the OSDs.

[2021-01-05 19:54] BlaineEXE commented on #6826
I think baking it into Ceph is the better idea. It's a difficult pattern to maintain if we have to identify all the mem tunables for all daemons in Rook. For now, users can set Ceph configs via the CLI/toolbox or via the override configmap pretty easily.

[2021-01-05 20:08] BlaineEXE commented on #6877
A question for @jeffvance :  why was lib-bucket-provisioner not designed to take pre-existing bucket names and instead relegating that to a storageclass parameter? It seems to me that claiming an existing bucket is pretty directly related to OBCs. And I would think that specifying a bucket user also makes sense. Both bucket name and user are common to all object storage types, yes?

[2021-01-05 21:29] jeffvance commented on #6877
@BlaineEXE The bucket lib design handles brownfield relatively poorly. Our thinking was that the user/app developer may/should not know the name of an existing bucket. The main reason is that often bucket names are long and random, and needing to know an unintuitive bucket name in addition to the name of the SC seemed like an extra burden on the user. There are several downsides to putting the bro

[2021-01-05 21:30] quindar83 commented on #4827
Same problem here, also trying to re-install rook-ceph, since i ran into #6849 and had to downgrade my ceph version.
I deleted /var/lib/rook and /var/lib/kubelet/plugins/rook-ceph*, but /var/lib/kubelet/plugins_registry was empty in my case.
I also tried to manually create the secret, now mon-a is in a reboot-loop.

I'm pretty sure this is some sort of cleanup issue, but i could not find any guide

[2021-01-06 01:03] BlaineEXE commented on #6877
I have asked a question about this in k8s slack's COSI channel. I think my understanding is that the COSI spec makes this use-case an option. IMO, the best thing that could happen is for Rook to convert OBCs to COSI resources. I'm not sure if COSI is ready for real-world use, but I foresee us proceeding similarly to the flexvolume to CSI conversion: add COSI integration into Rook alongside OBCs fo

[2021-01-06 01:30] jacobbaek commented on #6876
Hi @travisn.
I think the [docs](https://github.com/rook/rook/blob/3e7e31fd3e24e8965fdc53eb8b78c021900eac65/design/ceph/ceph-volume-provisioning.md#new-features) have to update.
we were confusing when deploy the ceph with specific configuration such as logicaldevice.

[2021-01-06 01:47] MaXinjian commented on #6342
After I create OBC, OB will not be created

`
2020-12-18 14:03:47.085716 I | op-bucket-prov: initializing and setting CreateOrGrant services
2020-12-18 14:03:47.085772 I | op-bucket-prov: getting storage class "rook-ceph-delete-bucket"
2020-12-18 14:03:47.119186 I | op-bucket-prov: Provision: creating bucket "ceph-bkt-acb2b680-ff53-4152-baf2-326573139a6e" for OBC "ceph-delete-bucket"
E1218 14:03:4

[2021-01-06 04:29] PhoenixMage commented on #2079
I am looking to use rook object stores with cert-manager also

[2021-01-06 07:00] thotz commented on #6877
Out of scope from the above discussions: I had a similar idea providing access to different buckets for [cephobjectstoreuser](https://github.com/rook/rook/blob/master/design/ceph/object/bucketpolicy.md#proposal-details) using bucket policy feature, but didn't progress much due to other priorities

[2021-01-06 07:50] liwh1111 commented on #6884
Rook v1.3.6

[2021-01-06 08:37] leseb commented on #6738
Locally on the drive, you can wipe it with `ceph-volume lvm zap --destroy /dev/sda`

[2021-01-06 09:24] yarnA commented on #4896
How can it be solved?   I Hitting the same issue...
This is pod Events information :
[code]

[2021-01-06 09:44] nirav-chotai commented on #4896
My Issue is resolved after fixing RBAC, the operator was not able to do some operations in a different namespace due to lack of permissions. I am using only one operator to manage 3 Ceph clusters in different namespaces.

[2021-01-06 11:56] universenl opened #6911 "Unable to get osd's on 3 different nodes in 3 different zones on Azure AKS"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After running cluster-on-pvc only 2 of the 3 storage nodes have osd's running.

**Expected behavior:**
All 3 storagenodes need to take care of osd's

**How to reproduce it (minimal and precise):**
Clean aks setup, create 1 more storage pool with 3 nodes in 3 zones and add: --node-taints storage-node=tr

[2021-01-06 12:18] shibumi commented on #6812
@travisn

[code]

[code]

I have no idea how to debug this. I am really just following your tutorial.

[2021-01-06 12:31] sp98 commented on #6911
The `SetupLog_Operatore.txt` file does show that third OSD (`osd.2`) was started.
[code]
Are you not seeing this the third OSD at all or is there a failure like `crashLoopBackoff` etc ?

[2021-01-06 12:34] universenl commented on #6911
The 3e osd is there but not on node 3. (aks-npstorage-19598758-vmss000000 in kube)
Here you can see that 2 osd's are on the same node:

[code]

[2021-01-06 12:36] SerialVelocity commented on #4896
I think there are many things that can cause this error and we need documentation about how to debug and figure out what is causing the issue.

[2021-01-06 13:00] rockkoca commented on #6895
No errors. Nothing happened... No pod was launched. It does not make sense.

[2021-01-06 13:32] satoru-takeuchi commented on #6101
@travisn I'm not so interested in this feature since my cluster is on top of bare-metal servers. We'll increase the count of OSDs if we want more free space.

Just FYI, if I want this kind of feature, I'll implement it as an external tool.

1. Write a configuration file as 'growthPolicy'
2. Check the free space of OSD, for example, by 'ceph df'
3. Expand the corresponding PVC.

My team's PVC-autor

[2021-01-06 13:34] leseb commented on #6908
Even if you use `deviceClass` like we use `crushDeviceClass` in the `storageClassDeviceSet`, we still need to create a new CRUSH root. We might need a new crush device class if this is not done by ceph-volume when registering the OSD. I know c-v will assign it to the OSD, I'm just not sure if it shows up in the `ceph osd crush device class ls` too, I assume it does though.

Also, there are still a

[2021-01-06 13:43] pando85 commented on #6881
After some days trying to clean correctly the two disk which were failing I just downgraded from 15.2.8 to ceph 15.2.7 and problem was solved.
Rook operator v1.5.4
Ceph cluster image v15.2.7

[2021-01-06 13:45] leseb commented on #6881
@pando85 is it the same extend issue? Did you open a tracker bug on Ceph? This looks serious enough. Thanks.

[2021-01-06 14:26] travisn commented on #6884
Ok I would recommend updating at least to v1.3.11

[2021-01-06 14:46] varshar16 commented on #6895
Please share operator log (`rook-ceph-operator-69f6bc957f-zsp8h`)

[2021-01-06 14:51] varshar16 commented on #6895
Is this clear ?

[2021-01-06 14:52] rockkoca commented on #6895
[logs-from-rook-ceph-operator-in-rook-ceph-operator-69f6bc957f-zsp8h.txt](https://github.com/rook/rook/files/5776393/logs-from-rook-ceph-operator-in-rook-ceph-operator-69f6bc957f-zsp8h.txt)

[2021-01-06 14:52] rockkoca commented on #6895
Yes. I understood.

[2021-01-06 15:06] rockkoca commented on #6895
This one might be useful. I tried to delete filesystem-ec. But, it still there. I enabled ROOK_ALLOW_MULTIPLE_FILESYSTEMS in order to test. It seems still does not work.

![image](https://user-images.githubusercontent.com/13160255/103783509-c87c9100-5073-11eb-848a-bd3010d7390d.png)

[logs-from-rook-ceph-operator-in-rook-ceph-operator-79f445db5b-hj92j.txt](https://github.com/rook/rook/files/5776465

[2021-01-06 16:06] pando85 commented on #6881
@leseb yep, it is the same but I didn't open the bug. I lost the traces It was similar but in amd64 instead of arm64.

[2021-01-06 16:08] #6087 closed

[2021-01-06 16:08] travisn commented on #6908
@leseb Why do we need to create a new crush root? I didn't follow that. If we assign the custom deviceClass to the OSDs, I would expect it to show up in the OSD just like `hdd` or `ssd`.

[2021-01-06 16:21] onmyflow commented on #2079
@PhoenixMage We have solved the issue by just using a proxy that can do TLS termination. Since the S3 API is based on HTTP anyways, you can just use an everyday nginx ingress. We -- for example -- use Istios VirtualService to direct our s3.domain.tld requests to the rgw service while terminating the TLS in isto itself. It's actually very simple and much cleaner than having ceph do the termination

[2021-01-06 16:27] tbrandstetter commented on #6881
I'm going to open the bug on Ceph with the information I wrote above. I will update the information in this issue for your information.

[2021-01-06 16:32] BlaineEXE commented on #6877
From user wlan0 on the COSI slack:

Since we are automating the credential provisioning process along with the bucket provisioning process,  users should not need a mechanism to use an existing access token

i.e. an access token created out of band of COSI and tokens from pre-existing BA (edited)

In case you still want to get around this, an admin could manually create a BA object with the approp

[2021-01-06 19:06] travisn commented on #6911
@universenl There are a couple different things you could try:
1. Specify required pod antiaffinity for `rook-ceph-osd-prepare` to get one in each zone. No need for anti-affinity on the `rook-ceph-osd` since the osd daemons must start in the same AZ where its corresponding OSD prepare job ran
2. Since antiaffinity is not known to be perfect, you could create three different storageClassDeviceSets,

[2021-01-06 19:10] travisn commented on #6812
@shibumi Did you run `ceph status` in the [toolbox](https://rook.github.io/docs/rook/v1.5/ceph-toolbox.html)? It won't work in a different pod. I don't see the toolbox pod running in your cluster. It would appear that you don't have any OSD pods created. Try [this guide](https://rook.github.io/docs/rook/v1.5/ceph-common-issues.html#pvcs-stay-in-pending-state). These are necessary for the core stor

[2021-01-06 19:11] mleklund commented on #4896
I worked with someone in slack, and we suspect the issue is kernel related.  I have not gotten to the point where I can test a kernel update due to software freezes.

[2021-01-06 21:55] travisn opened #6916 "Endpoint is not available on object store status causing a crash on the operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I was digging through an operator log in the CI and stumbled upon this crash:

[code]

It looks like the status is not yet initialized when this line is called:
[code]

**Expected behavior:**
The endpoint needs to be initialized reliably.

**How to reproduce it (minimal and precise):**

Create an objec

[2021-01-07 00:36] liwh1111 commented on #6884
Okay, thank you

[2021-01-07 06:07] shibumi commented on #6812
@travisn  found the issue. The bug lies on my side. I thought rook/ceph is able to use a directory on the root filesystem as data store. With an unpartitioned attached disk it works as expected, the OSD pods come up and the ceph cluster get's in a healthy state :) Thanks for your help.

[2021-01-07 06:07] #6812 closed

[2021-01-07 06:38] SxunS commented on #4896
I think i resolve the problem.
Just stop & disable the firewalld
`systemctl stop firewalld
systemctl disable firewalld
`
Now everything be nice.

Hope this could be helpful for someone.

[2021-01-07 08:12] leseb commented on #6908
Right, I got things mixed up in my previous comment, the root will be created automatically based on the node labeling (actually mentioned that in my previous response).

[2021-01-07 08:31] varshar16 commented on #6895
Because of this:
[code]
And nfs pods are also failing due to it:

[code]

I would suggest creating a new cluster. Also before creating filesystem ensure cluster is running successfully and first create filesystem with replica pools `filesystem.yaml`. If the mds pods don't come up then share the operator log. Don't create filesystem with erasure coded pool in the same cluster, first let's see what'

[2021-01-07 10:34] universenl commented on #6911
Thanks, i ll try that tomorrow when i am @work again.

[2021-01-07 10:53] alexcpn commented on #5732
Ran into this again with rook 1.4 version.

[code]
 This time edited and removed first ceph.username field.

Then I got this error

[code]
So actually got this from https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/create-external-cluster-resources.sh

[code]

and added it and then understood it was not needed and removed it from mon secrets

Final secrets file
[code]

[cod

[2021-01-07 11:27] leseb commented on #4827
@quindar83 I suspect there is a networking issue, it looks like you are using hostnetworking. Is the operator able to reach out to the mon container?

One more thing, why is the mon shutting down?

[code]

Is it  kube that restarts the mon?

[2021-01-07 12:26] satoru-takeuchi commented on #5877
@travisn I'd like to get your advice.

As I described above, the root cause is the missing of rook-discover cm and the corresponding pods. This problem can simply be fixed by force-enabling discovery daemon if rook mgr module is used. Does it make sense? Or do you have better solutions?

[2021-01-07 12:55] quindar83 commented on #4827
@leseb
I think the main problem here is the re-install.
During the first setup, i could follow the guide and everything worked, until i ran into the partition problem (#6498).

When trying to re-install / downgrade, i ran into a new problem with rook-ceph-crash-collector-keyring, which now needs to be manually created. This is not mentioned in https://github.com/rook/rook/blob/master/Documentation

[2021-01-07 14:11] leseb commented on #4827
@quindar83 we are diverging from the original issue, please open a new bug report for this so we can better track it down. Thanks

[2021-01-07 14:32] constanine commented on #4896
same team，my parter means stop and disabled the firewwall both side，not only ceph-server，but also ceph-client，ceph-server disabled firewall will let ceph-rdb bound ok,but when mount pvc ，it will mount failed like this issue if ceph-client has started firewalld

[2021-01-07 16:24] quindar83 opened #6922 "When re-installing rook-ceph the monitor state is CrashLoopBackOff"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When re-installing rook-ceph, the monitor status is CrashLoopBackOff.

[code]

[code]

**Expected behavior:**
No CrashLoopBackOff

**How to reproduce it (minimal and precise):**
1. Install rook-ceph
`git clone --single-branch --branch v1.5.4 https://github.com/rook/rook.git`
`mv -v rook rook-1.5.4`
`cp

[2021-01-07 16:25] quindar83 commented on #4827
@leseb
Sure, here you go: #6922

[2021-01-07 16:52] BlaineEXE commented on #6877
COSI won't be available in k8s until 1.21 to my understanding. I think I should be able to enable OP's use-case fairly quickly using a `userName` field in the `StorageClass` to enable this for Rook with OBCs. I have a few items that have been in my backlog to get to, but I'm still hopeful we can get this into master in time for Rook v1.6

[2021-01-07 19:56] travisn commented on #5877
Agreed, for the CephMgrSuite test suite let's enable the discovery daemon since it is requirement.

[2021-01-07 20:11] travisn commented on #6922
@quindar83 Nearly every time reinstall fails like this, it's because of some issue during cleanup that was missed. From your description, looks like you have cleaned everything up though. Can you double check that the dataDirHostPath was removed from the node where the mon was started? Did you also delete the operator.yaml? I don't see that in your cleanup steps. It's always better to delete the o

[2021-01-07 22:16] PhoenixMage commented on #2079
@onmyflow that's what I am doing now, and would be fine for something like istio with a sidecar and controller however we are using traefik V1 which means the SSL is not necessarily terminated on the node itself which means it will be in the clear over the cluster network which is far from ideal. Great suggestion though

[2021-01-07 23:38] knkarthik opened #6924 "Can't get ceph dashboards working with kubectl port-forward"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Connection refused when accessing dashboard. Tried with both ssl enabled and disabled
[code]

**Expected behavior:**

Should open dashboard.

**How to reproduce it (minimal and precise):**

[code]

I tried workarounds mentioned in https://github.com/rook/rook/issues/2526 but still doesn't work.

[2021-01-08 08:47] quindar83 commented on #6922
@travisn

You are right, i missed the operator. The command should be
`kubectl delete -f rook-01a-crds.yaml -f rook-01b-common.yaml -f rook-02-operator.yaml -f rook-03-cluster.yaml -f rook-04-toolbox.yaml`
But the namespace rook-ceph was always removed, so no pods remained.
I tried it again with this command and it does not change anything.

Here is the kubernetes cleanup output:
[code]

Here is t

[2021-01-08 09:13] leseb commented on #6922
Once all the above is done, you can re-inject the common.yaml, crds.yaml, operator.yaml and cluster.yaml and everything should be fine.

[2021-01-08 09:30] schroedt opened #6928 "rook/ceph status: Reduced data availability: 33 pgs inactive"
Hi everyone,

I am facing an issue, `ceph status` reporting `WARN`:

[code]

I am on a Kubernetes (on-prem) setup. After a couple of days (not using anything of ceph, yet) Ceph throws this status.
- What does it mean?
- How correcting it? (I did not use ceph yet, no data stored there)

### cluster.yaml
[code]

[2021-01-08 09:35] quindar83 commented on #6922
@leseb
Yes, that is the expected behavior.
But it ends up with the monitor (and mgr / osds) in CrashLoopBackOff as described above.

I could suppress that this with
[code]
but i think livenessProbe is here for a reason and i guess it is not a good idea to do that.
Also i could not see this behavior during the first setup with ceph version v15.2.8, which is unable to handle my partitions.
However,

[2021-01-08 09:53] leseb commented on #6924
I just re-opened #2526 and closing this, we don't need to re-open a new one. Please comment over there.

[2021-01-08 09:53] #6924 closed

[2021-01-08 10:25] jmolmo commented on #6903
I think we need more information in order to find out the root cause of the problem.

@lukonjun: Any modification in the "dashboard" or "monitoring" sections in your cluster.yaml file?

After disabling the mgr live probe, you have said:
"The pod is now not restarting anymore, however the Application is still crashing (getting logged out in the dashboard, cant log in, 401, ...)"

I guess that the "

[2021-01-08 10:25] leseb commented on #6928
You have no OSD so it's normal, what are the logs from the prepare job? Thanks

[2021-01-08 10:51] satoru-takeuchi commented on #2388
@kfox1111 There is a problem in exclusive control between multiple OSD pods. It will be fixed in #6793

[2021-01-08 10:51] alexcpn commented on #6865
After reinstalling my cluser with **Rook 1.4 /Ceph  ceph/ceph:v15.2.7.** no OSD was coming up even after cleanly wiping disks

I am getting the same error in the prepare pods

```cephosd: skipping device "vdd" because it contains a filesystem "LVM2_member"```

[2021-01-08 10:57] tbrandstetter commented on #6881
Created a bug report on the Ceph tracker site: https://tracker.ceph.com/issues/48797

[2021-01-08 11:03] leseb commented on #6865
How did you clean?

[2021-01-08 11:10] alexcpn commented on #6865
Used the script given at rook tear down

[code]

[2021-01-08 11:15] leseb commented on #6865
Can you print `blkid`'s output as well as listing `/dev`?

[2021-01-08 11:24] alexcpn commented on #6865
Sure

[code]

[2021-01-08 11:30] leseb commented on #6865
Ok now, `pvs`? Looks like the device is held by LVM. If so, run `pvremove /dev/vdd`

[2021-01-08 11:45] alexcpn commented on #6865
Thanks @leseb  for the tip reg 'blkid' .
I re-ran the dd command and then re-checked and confirmed that the disk wipe was clean - that is there was no LVM2 reference. After that restarted the rook operator and the OSD came up.
Strange why it did not clean this reference in the first place

[code]

[2021-01-08 12:02] leseb commented on #6865
Indeed it's weird, glad to see it's gone now and working!

[2021-01-08 13:09] artbalnov commented on #6865
I have same issue on **Rook v1.5.4/Ceph v15.2.8** cluster.
But after cleaning disk and restarting `rook-ceph-operator`,
I see this message again in `rook-ceph-prepare-osd` logs
[code]
and the disk can't get into the ceph topology

[2021-01-08 14:24] lukonjun commented on #6903
Hi @jmolmo, thanks for you reply. The cluster.yaml is only modified on a few parts (dataDirHostPath and disabling the livenessprobeof the mgr pod), i did a diff of the cluster.yaml (i used for deploying ceph) and a fresh pull from the repository which i named cluster.yaml.tmp. This is the output:
[code]
Yes, with Application i mean the Ceph Dashboard that crashes and I am not able to log in.
Im lo

[2021-01-08 14:26] schroedt commented on #6928
Hi @leseb,

[code]

[code]

[2021-01-08 14:28] leseb commented on #6928
`2021-01-07 21:19:08.472202 I | cephosd: skipping osd1: "a32d00cd-6d0d-4dc4-b423-6f4cc234e690" running on a different ceph cluster "7889656d-29d1-4817-b1e6-1d640cafaed4"``

Wipe your disks and re-install the cluster.

[2021-01-08 14:30] schroedt commented on #6928
Hi @leseb,

is there a command available for doing so? Or do I need to shut down the VM, delete the disk and re-create the same?

[2021-01-08 14:41] leseb commented on #6928
Yes, `lremove`, `vgremove`, `pvremove`, then `dd`.

[2021-01-08 14:42] schroedt commented on #6928
is there anything of it quick? Looks like it will take 2 days... :-/

[code]

[2021-01-08 14:43] leseb commented on #6928
I've never said you should use `wipe`.

[2021-01-08 14:51] schroedt commented on #6928
Hmm all commands look very complicated for utilization.
Is it easier shutting down all VMs, delete the hard disks and re-create the same?

[2021-01-08 14:53] leseb commented on #6928
If it's easier for you then feel free to go with this approach, I'm closing this issue now that you know what to do.

[2021-01-08 14:53] #6928 closed

[2021-01-08 15:02] #6789 closed

[2021-01-08 19:18] satoru-takeuchi opened #6936 "ceph: discovery daemon container is not changed after upgrading to v1.5"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

If upgrade to v1.5.x, discovery daemons still use old Rook container. It happens because the discovery daemon is disabled in operator.yaml.

**Expected behavior:**

Upgrade the discovery daemon's container to.

**How to reproduce it (minimal and precise):**

1. Create a v1.4.x or older cluster with en

[2021-01-08 20:13] travisn commented on #6936
In upgraded clusters, it's expected that `ROOK_ENABLE_DISCOVERY_DAEMON=true` by default. If the new value `false` is assigned, then the operator should remove the discovery daemonset, rather than update it.

[2021-01-08 20:23] travisn opened #6937 "Update admission controller to v1 from v1beta1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Let's update the admission controller to v1 from v1beta. When looking in the CI logs I stumbled on this message:
[code]

No need to support 1.16 or older for the admission controller it's still an experimental feature until we can figure out how to enable it by default.

**Expected behavior:**
No warni

[2021-01-09 17:31] arminfelder opened #6939 "commands to mon-mgr stuck"
**Deviation from expected behavior:**
at least the following commands run from rook-ceph-toolbox get stuck, and won't return anything after waiting for minutes
ceph fs volume ls
ceph fs volume create
ceph fs subvolume ls
ceph fs subvolume create

**Expected behavior:**
commands succed

**How to reproduce it (minimal and precise):**
kubectl exec -it rook-ceph-toolbox-... -- ceph fs volume ls

**Env

[2021-01-11 07:37] seanjhulse commented on #6897
The missing "lvm" binary is something I'm also experiencing:

`$ k3d cluster create test`
`$ kubectl create -f crds.yaml -f common.yaml -f operator.yaml`
`$ kubectl create -f cluster-test.yaml`

This produces:

[code]

I've tried downgrading the image to `image: ceph/ceph:v14.2.16` as per another thread on this issue but it did not resolve my problem.

[2021-01-11 08:13] billy98 commented on #6897
@seanjhulse  Install the lvm2 package with yum or apt

[2021-01-11 08:51] seanjhulse commented on #6897
Hm... I attempted that earlier as well and it didn't help. My host (an Ubuntu 20.10 VM) installed lvm2 with `$ sudo apt-get install -y lvm2` then I rebooted the VM and the issue persisted. :/ maybe it's my own issue though. If that's the solution, it's probably a problem on my end that isn't related to the rook repo.

[2021-01-11 09:09] #6897 closed

[2021-01-11 09:31] leseb commented on #6939
What's about the Ceph status? `ceph -s` from the toolbox.

[2021-01-11 11:57] schroedt commented on #6928
Worked out, even tough `mon-a`has not been cleared up during reboot:

![grafik](https://user-images.githubusercontent.com/6430367/104179600-64a7ee80-540c-11eb-9f4a-e9b81fe37c53.png)

![grafik](https://user-images.githubusercontent.com/6430367/104179667-85704400-540c-11eb-83bd-34c59a8dbd25.png)

[2021-01-11 11:58] thotz opened #6943 "ceph : run rgw with different daemon name for a deployment"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently when creating a cephobjectstore instance and deployment will be generated, in which a pod with rgw daemon is running on it. If u spin-off another pod out of deployment it rgw daemon running on the second will have the same daemon. Using this feature each RGW instance from the same deployment w

[2021-01-11 12:37] epuertat commented on #6903
@lukonjun, the reason you are getting kicked out from the dashboard is because the ceph-mgr is restarted, but that's expected behaviour and we can do little about that.

On the CherryPy `The Application mounted at '' has an empty config` trace I don't think that's Dashboard's, since based on your screenshots it's up & running. However, there's another module using CherryPy: the Prometheus exporter

[2021-01-11 13:28] universenl commented on #6911
Hi,
I created 3 different devicesets and lock them in to the aks zones:

` nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: agentpool
                operator: In
                values:
                - npstorage
              - key: topology.kubernetes.io/zone
                operator: In

[2021-01-11 13:32] universenl commented on #6911
I did create 3 devicesets in 3 different zones bound and that worked!
[code]

Thank you!

[2021-01-11 13:32] #6911 closed

[2021-01-11 21:35] yanchicago opened #6945 "The clusterrole rook-ceph-global is out of sync between charts and common.yaml in rook1.5.4"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The clusterrole rook-ceph-global defined in "clusterrole.yaml" ( rook-1.5.4/cluster/charts/rook-ceph/templates) is short of
"k8s.cni.cncf.io" apiGroups comparing to "common.yaml" file ( rook-1.5.4/cluster/examples/kubernetes/ceph/common.yaml ).

**Expected behavior:**
Expect all the definition between

[2021-01-11 22:21] travisn commented on #6945
@yanchicago You're referring to this?
[code]

I see in the helm chart that it is in the `Role` for `rook-ceph-system`, while in the common.yaml it is in the `ClusterRole` for `rook-ceph-global`.
@rohan47 Which is the correct location?

[2021-01-11 22:39] travisn commented on #6887
Fixed by #6910

[2021-01-11 22:39] #6887 closed

[2021-01-11 22:44] yanchicago commented on #6945
@travisn I'm referring clusterrole "rook-ceph-global" definition as stated.

[2021-01-12 00:43] jshen28 commented on #1796
Hi I understand mgr is not going to work under load balancing, but I think we still could have more than 2 mgr and let them all registered in prometheus. By doing this we could associate individual services to each deployment. and I recall prometheus could collect metrics by labels.. How do you like this idea?

[2021-01-12 06:19] #6824 closed

[2021-01-12 07:18] hezise commented on #6527
@travisn attached the log file
[rook-logs.zip](https://github.com/rook/rook/files/5800359/rook-logs.zip)
It's tgz file

[2021-01-12 09:06] viveksinghggits opened #6946 "Restoring volumeSnapshot doesn't restore the data"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When we snapshot a volume that provisioned using rook-ceph-block storage class (`rbd`), and then restore that snapshot we should get the volume back, as well as the data that was inserted into that volume.
But in my case the volume is being restored but I am not able to get the data that was there in t

[2021-01-12 10:43] arminfelder commented on #6939
cluster:
    id:     cabb6b7d-d181-449b-bc39-5b49fc3392c2
    health: HEALTH_OK

  services:
    mon: 3 daemons, quorum e,f,g (age 40h)
    mgr: a(active, since 40h)
    mds: fs:1 {0=fs-a=up:active} 1 up:standby-replay
    osd: 6 osds: 6 up (since 40h), 6 in (since 40h)

  data:
    pools:   3 pools, 128 pgs
    objects: 18.72k objects, 67 GiB
    usage:   205 GiB used, 19 TiB / 19 TiB avail
    p

[2021-01-12 10:55] satoru-takeuchi opened #6948 "ceph: enable to remove an arbitrary OSD in PVC-based cluster"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Currently, we can only remove the OSD which corresponds to the PVC having the highest index.
https://github.com/rook/rook/blob/master/Documentation/ceph-osd-mgmt.md#remove-an-osd-from-a-pvc

It's inconvenient especially when we need to remove an unhealthy OSD.

**What is use case behind this feature:**

[2021-01-12 11:09] satoru-takeuchi commented on #6948
I found an unofficial workaround that replaces two PVC-backed OSDs without decreasing `count` field.

[code]

I consider at least one of the following two changes is necessary.

- Describe the above-mentioned steps in the ceph-osd-mgmt.md.
- Provide the way to remove an arbitrary OSD removal.

Eventually, it would be better to do both changes.

[2021-01-12 12:05] joscollin commented on #6834
@karasjoh000 Could you please send us the mgr logs to check what's going on?

[2021-01-12 13:02] jackbauer123 commented on #5898
@jobin-AT do you have resolved it? I have the same problem.

[2021-01-12 18:17] travisn commented on #6939
@arminfelder If you create the cephfs volumes with the csi driver as described in the [Filesystem](https://rook.github.io/docs/rook/v1.5/ceph-filesystem.html) topic, are the volumes created? Not sure if the cephfs volume creation works properly from the toolbox.

Do you also see the OSDs across at least nodes? `ceph osd tree` in the toolbox would show this. Otherwise, cephfs could get stuck.

[2021-01-12 18:20] arminfelder commented on #6939
no, the volume creation via CSI driver does not work, it times out, this is actually the reason I started fiddling around with rook-toolbox.

[code]

[2021-01-12 18:21] travisn commented on #6948
This is the same root cause as #6287. Basically, we would need to use labels to associate the PVCs with a device set instead of a naming convention.

[2021-01-12 18:25] travisn commented on #6939
I'd suggest looking in the logs for the rook-ceph-mds pod as well as the csi driver logs for the cephfs provisioner. @joscollin Any other ideas?

[2021-01-12 18:56] arminfelder commented on #6939
csi-cephfsplugin-provisioner logs:
[code]
mds logs:
[mds_a.log](https://github.com/rook/rook/files/5804174/mds_a.log)
[mds_b.log](https://github.com/rook/rook/files/5804175/mds_b.log)

[2021-01-12 20:05] travisn commented on #6527
I see now, when the the `dashboard.ssl` is `false`, the dashboard module will always be restarted with every reconcile. Is it an option to set it to [true](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L60)? This is preferred in production. But in any case we will fix this.

[2021-01-12 21:08] travisn commented on #6885
@dpaks The helm v1.4.8 chart is now available, and will be available going forward for all patch releases, including scenarios that I mentioned in the previous comment. The concerns around the CI causing negative side effects with the `promote` pipeline were investigated and confirmed not to be an issue, and the chart is now published.

[2021-01-12 21:08] #6885 closed

[2021-01-12 21:49] satoru-takeuchi commented on #6948
So we need at least the following two changes.

- Provide the way to specify pvc's label in removing OSD.
- Allow holes in the index of pvc name.

[2021-01-12 21:57] travisn commented on #6948
When removing an OSD I don't know if we need to specify a label. If you know the PVC by name, you can just delete it (the osd purge job will also find it and purge it by name).

Yes, this is a code change for the operator to use labels instead of exactly generated PVC names. I was looking at this a few months ago, I'll take another look at it soon...

[2021-01-12 23:43] #6527 closed

[2021-01-12 23:45] DavidRadan commented on #5782
Hi Guys ,
I'm using the latest version 15.2.8 I had similar problem but I managed to reduce the slow messages by simply improving the network layer , when you receive slow message on your ceph most of the time it's network issue ( in case the disks are healthy ) .
Check network layer and mds tuning as much as possible , I advise using one mds ( if possible )  instead of mutli-active this is not al

[2021-01-13 00:28] jshen28 opened #6955 "Allow configuring multiple MGRs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Allow user configuring multiple ceph managers.

**What is use case behind this feature:**

The use case is simple, users could be allowed to configure multiple ceph
managers as they want.

**Environment**:

[2021-01-13 00:31] jshen28 commented on #6955
Sorry for bringing this up again, and I hope I am aware and understand the discussion of #1796. And I think we actually do not need to worry about k8s service's load balancing. I think we could configure prometheus to collect metrics from each of ceph managers and since only one of them return metrics, the other two are actually idle and I think it is fine.

[2021-01-13 03:32] dpaks commented on #6885
Thanks, @travisn

[2021-01-13 09:01] hezise commented on #6527
I'm using istio

[2021-01-13 09:25] jshen28 commented on #6955
For example, prometheus could be configured like follows,

[code]

[2021-01-13 09:39] hezise commented on #6527
thanks for your reply :)

[2021-01-13 12:58] vtutkevich opened #6957 "OSD pods go to the Init:CrashLoopBackoff state"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The blkdevmapper container inside OSD pods goes to the **Init:CrashLoopBackoff** state after several hours of use. Pods themselves are workable. It looks like bkldevmapper container restarts and tries copying pv inside the main container of the pod with the name /var/lib/ceph/osd/ceph-0/block. This fil

[2021-01-13 13:44] weisongf commented on #6955
Great ,
We've experienced a cep-mgr deadlock problem in an environment where we actually use rook deployments where the mgr doesn't work properly, affecting the acquisition of ceph  monitoring data.

[2021-01-13 14:39] leseb commented on #6957
Will be fixed by https://github.com/rook/rook/pull/6793

[2021-01-13 16:16] #6689 closed

[2021-01-13 20:05] lyind opened #6964 "rook-ceph: Bluestore: DISCARD Disabled: SSD Performance Degradation"
**Is this a bug report or feature request?**
* Bug Report

**Bug Report**

**Expected behavior:**
Rook-ceph configures Bluestore OSDs so that:
[code]
Diagnostic tools show actual discards happening (**kB_dscd/s != 0**) on the DM devices:
[code]

Ceph Bluestor OSDs performance stays within the same order of magnitude after a few months of IDLE load.

**Deviation from expected behavior:**

SSDs writ

[2021-01-13 20:08] lyind commented on #6964
Due to the complex nature of the matter and the SSD state/firmware being a bit of a blackbox, I may have misdiagnosed this issue.

Please correct me if I am wrong and this slowdown is related to some other issue.

After enabling TRIM via `rook-config-override` the performance seems to *very slowly* recover, but I will re-provision the cluster soon to quickly restore performance.

[2021-01-14 03:02] runzhliu commented on #6542
Check if the Monitor time is synchronized.

[2021-01-14 07:45] jshen28 opened #6971 "Expose more info for upgrade"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Expose more info to the `CephCluster` status during osd upgrade. Such that cloud
operator has a chance to know which node/osd is being processed without turning
to the logs.

**What is use case behind this feature:**

Expose progress of current upgrade to the cephcluster status so that cloud operator
c

[2021-01-14 09:53] lyind commented on #6964
If ETCD is run on one of the storage nodes, too (converged architecture) these or similar messages are logged:
[code]
I mention this just in case somebody suffers from a similar performance degradation issue and doesn't know where to look, only seeing the ETCD log messages.

[2021-01-14 10:58] viceice opened #6973 "Add common docker image labels"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add opencontainers docker image labels ( see [here](https://github.com/opencontainers/image-spec/blob/master/annotations.md)

**What is use case behind this feature:**
I'm using [renovatebot](/renovatebot/renovate) to update helm `values.yml` files. Renovate uses `org.opencontainers.image.source` label

[2021-01-14 11:07] lyind commented on #6964
This is one possible workaround:
[code]

[2021-01-14 11:14] leseb commented on #6973
If it's just about adding labels that shouldn't be a problem, you can send a PR. Thanks

[2021-01-14 13:40] satoru-takeuchi commented on #6936
I confirmed that rook-operator doesn't delete rook-discover daemonset after setting ROOK_ENABLE_DISCOVERY_DAEMON=false.

[2021-01-14 17:58] travisn commented on #6964
@bengland2 Thoughts on this perf issue? thanks

[2021-01-14 18:46] bengland2 commented on #6964
@travisn thx for pointing this out to me, this is a very interesting problem that I haven't thought much about, synchronous trim is prohibitively expensive, not sure why the default options aren't working though.  What's alarming : the latency spikes up to 1/3 sec !   Not acceptable for etcd and for many other latency-sensitive apps.     Maybe this can be tuned somehow to trim more often but not h

[2021-01-14 18:58] lyind commented on #6964
To clarify:
This bug report is about Cephs **async TRIM feature** being apparently **not enabled by default** by rook-ceph setup, which leads to bad SSD performance (as time passes and the flash cells fill up). The `iostat` output posted comes from nodes already badly affected from disabled TRIM's consequences (the OSDs need to be re-created, SSDs cleared using secure-erase).

I doubt that the sys

[2021-01-14 19:28] electrical opened #6976 "Dashboard switch from SSL true to false doesn't recreate the dashboard service"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I switched the SSL setting for the dashboard from true to false. It did restart the mgr process but didn't recreate the dashboard service to expose the http port

**Expected behavior:**
Expected behaviour was to recreate the dashboard service automatically.
Removing the service forced the operator to r

[2021-01-14 19:30] electrical opened #6977 "Rancher CephCluster state shows error while ready"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rancher CephCluster resource details show confusing status.
The cluster is up and running fine and there are no errors further, but the 'error' state can be very confusing.

Screenshot:

![Screenshot 2021-01-14 at 19 16 28](https://user-images.githubusercontent.com/271677/104638980-c7181d80-569e-11eb-9

[2021-01-14 19:42] travisn commented on #6977
From the [slack discussion](https://rook-io.slack.com/archives/CK9CF5H2R/p1610650897015100), it seems the problem is that the `ProgressingCompleted` condition is set to `false` instead of `true`.
[code]

[2021-01-14 20:44] viceice opened #6980 "Overriding ceph cluster livenessProbe should not require all fields"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook operator ignores `livenessProbe` cluster settings.

[code]

[code]

**Expected behavior:**
I expect that the cepth cluster is respecting my `livenessProbe` overrides and propagate them to the pods..

**How to reproduce it (minimal and precise):**

Simply add the cluster `healthCheck` settings abov

[2021-01-14 20:45] viceice opened #6981 "livenessProbe cluster settings not working"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook operator ignores `livenessProbe` cluster settings.

[code]

[code]

**Expected behavior:**
I expect that the cepth cluster is respecting my `livenessProbe` overrides and propagate them to the pods..

**How to reproduce it (minimal and precise):**

Simply add the cluster `healthCheck` settings abov

[2021-01-14 20:45] #6981 closed

[2021-01-14 20:51] viceice commented on #6980
OK, looks like it not supported 😕
https://github.com/rook/rook/blob/85ff00f046ac5f424298c41530135ba8d5066368/pkg/apis/rook.io/v1/types.go#L84-L87

[2021-01-14 20:55] travisn commented on #6980
Try this schema, you might just be missing the `probe` element.
[code]

[2021-01-14 21:01] viceice commented on #6980
sadly i need to override `exec` and `initialDelaySeconds` too

[code]

[2021-01-14 21:04] travisn commented on #6980
Ah right, specifying the probe requires all the properties, so you could look at the defaults set by rook and then specify those.

[2021-01-14 21:05] viceice commented on #6980
And hope the next update don't change them 😕

It would be nice to allow overriding the seconds and thresholds only.

[2021-01-14 21:07] travisn commented on #6980
Right, that should be very doable. @leseb?

[2021-01-14 22:41] electrical commented on #6977
Here is the full yaml output of the CephCluster resource https://gist.github.com/electrical/4276dd79df2886d2e84229739c9e6e85

[2021-01-15 01:49] zerkms commented on #6889
Just experienced it as well: identical symptoms. Reverted to 1.4.3 to get the operator working back.

[2021-01-15 08:28] leseb commented on #6980
Yes and No, unless we want to start exposing specific fields of the liveness probe. We don't want that, because today someone wants to override the seconds, then tomorrow it's the timeout, then the retries. We don't want to create a precedent. That's why we expose the entire definition and not specific fields.

[2021-01-15 08:32] leseb commented on #6889
Please share the complete prepare pod logs.

[2021-01-15 08:43] zerkms commented on #6889
I don't have it handy, but it looked the same like in the original post. Next week I'm planning to iteratively upgrade from 1.4.3 to 1.4.8 one version at a time to find at what version exactly it was broken. When I do that I will share prepare pod logs. Anything else you'd like me to capture in particular when I find it?

[2021-01-15 09:12] predakanga opened #6983 "Allow setting the namespace for ServiceMonitors"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
The ServiceMonitor created when a CephCluster has monitoring enabled is always created in the CephCluster's namespace.

The admin should be able to specify which namespace to create the ServiceMonitor in through the CRD, as with rulesNamespace.

Happy to provide a PR if the feature is accepted.

**What

[2021-01-15 09:15] leseb commented on #6889
The prepare job logs are all we need as well as some `lsblk` outputs from the machines.

[2021-01-15 11:49] thotz commented on #6943
@leseb and @travisn @BlaineEXE: As discussed in the mail chain, I tried to use the custom name by giving `--name` in makeDaemonContainer(), RGW pods are not coming up. Following error is shown in rgw pod log
[code]

I guess `--name` should match `--id`, it worked with following changes instead of custom name
[code]
In `vstart.sh` it uses `--name` instead of `id` and it matches with `cephxuser`
Am

[2021-01-15 14:46] travisn commented on #6980
I'm thinking the liveness probe spec in the CR wouldn't change. After Rook deserializes the Probe struct, if any fields are empty or 0, Rook could set its defaults on those individual fields.

[2021-01-15 15:23] travisn commented on #6983
@predakanga Should the service monitor namespace be the same as the rules namespace? Or it could even be a different namespace? If so, makes sense to add another setting in the CephCluster CR next to the rulesNamespace, then apply it [here](https://github.com/rook/rook/blob/3b9dad94c9243078b3974bebca29e9b1a422a439/pkg/operator/ceph/cluster/mgr/mgr.go#L353). Sounds good if you want to open a PR.

[2021-01-15 15:53] travisn commented on #6943
You're saying it worked by passing `name`? If it worked, what is the remaining question? The error makes it look like the cephx key doesn't exist.

I thought the `name` would need to be the pod name in order to give a unique name for each rgw daemon that starts up. The `name` would not match the cephx key, but if the `id` matches the cephx key, that seems like it would work.

To clarify, maybe you

[2021-01-15 16:08] leseb commented on #6943
The error message is incomplete, the difference between (at least that I'm aware of) `name` and `id` is:

* `--name`: `client.foo`
* `--id`: `foo`

I believe name works because it matches the name inside the keyring file, e,g: `client.rgw.my.store.a`?

[2021-01-15 16:13] #4938 closed

[2021-01-15 17:57] SleepingShell commented on #6685
@leseb I have come across another metadata device error:

I have attempted to use a metadata device by specifying a udev symlink to it. For example, I have symlinked ``/dev/nvme-1tb-1`` to ``/dev/nvme1n1`` using a udev rule, and attempted to use it as a metadata device (``metadataDevice: "nvme-1tb-1"``), but the osd-preparation fails. I *can* successfully use ``nvme1n1``as the metadataDevice.

I c

[2021-01-15 23:34] travisn opened #6990 "Remove CockroachDB storage provider from Rook due to lack of community support"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The CockroachDB storage provider has not had sufficient community or maintainer support to continue to release its operator as part of Rook. The proposal is to remove CockroachDB from Rook in the v1.6 release (March timeline).

See the full proposal [here](https://docs.google.com/document/d/1TSPfqX3D08

[2021-01-15 23:39] travisn opened #6991 "Remove EdgeFS storage provider from Rook since it has been deprecated for some months"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The EdgeFS storage provider has been deprecated for a number of months and the owners have indicated a replacement is in the works. When the replacement is added, it can be added under the new guidelines mentioned below. For the short term, the proposal is to remove EdgeFS from Rook in the v1.6 release

[2021-01-15 23:43] travisn opened #6992 "Remove YugabyteDB storage provider from Rook and point to the replacement operator"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The YugabyteDB storage provider has not had sufficient community or maintainer support to continue to release its operator as part of Rook. The proposal is to remove YugabyteDB from Rook in the v1.6 release (March timeline).

YugabyteDB has a competing operator [here](https://github.com/yugabyte/yugaby

[2021-01-16 02:08] Sathishkunisai commented on #6162
similar issue noticed on kubernetes version "v1.16.10" . this rook setup running for a long time, not sure how to handle this issue in production.

 122 ceph/ceph:v15.2.4
  64 quay.io/cephcsi/cephcsi:v3.1.0
   8 quay.io/k8scsi/csi-attacher:v2.1.0
  24 quay.io/k8scsi/csi-node-driver-registrar:v1.2.0
   8 quay.io/k8scsi/csi-provisioner:v1.6.0
   8 quay.io/k8scsi/csi-resizer:v0.4.0
   8 quay.io/k8scs

[2021-01-16 12:36] rajivml commented on #6542
am also running into this, with rook 1.4.3,

[code]

[2021-01-16 15:34] galexrt commented on #6542
@rajivml All your pools don't seem to have any replicas configured. What is the `replicated.size` in your CephBlockPool, CephObjectStore and CephCfilesystem objects?

Which yaml files did you use for your Rook Ceph cluster? The files ending in `-test.yaml`?
Are all your Ceph OSDs up'n'running? `ceph -s` and `ceph osd tree` can help here.

[2021-01-16 22:11] Trackhe commented on #6519
I have the same Problem. on the arm64 version.

[2021-01-17 20:53] arminfelder commented on #6939
I found out that this is indeed the same issue as: #5938

[2021-01-17 20:53] #6939 closed

[2021-01-17 20:59] arminfelder commented on #5938
@lotress @sp98 I have the same issue with rook 1.5.5 , the patch provided by @lotress is still required

[2021-01-17 21:13] arminfelder commented on #4251
@xiaoqge I have the same issue, it turned out that it was related to #5938

[2021-01-17 21:16] arminfelder commented on #4006
@nimmichele in my case it is caused by: #5938 , and happens with weavenet but not calico

[2021-01-17 23:56] lyind opened #6994 "rook-ceph-csi-detect-version fails: IO timeout getting config map"
## Bug Report

**Deviation from expected behavior:**
The rook 1.5 rook-ceph-csi-detect-version pod permanently fails (IO timeout getting config map). A `curl ...` in the detect-version pod also times out. Other pods in the rook-ceph namespace or other namespaces have no problem accessing the api-server.

The rook 1.4 rook-ceph-csi-detect-version pod does work properly.

**Expected behavior:**
The

[2021-01-18 00:06] lyind commented on #6994
Probably related to a network configuration/firewall issue.

[2021-01-18 00:06] #6994 closed

[2021-01-18 10:22] thotz commented on #6943
If my understanding is correct we cannot have `custom name` different from `id`, as mentioned in @leseb previous comment. If `--id=foo` then `--name` can only `client.foo` otherwise rgw pod is not coming up

[2021-01-18 10:36] #6936 closed

[2021-01-18 14:27] leseb opened #7002 "Add support for CephFS mirroring deployment"
**Is this a bug report or feature request?**
* Feature Request

With the Ceph Pacific release, CephFS will support asynchronous replication of snapshots to a remote CephFS file system via cephfs-mirror tool. Snapshots are synchronized by mirroring snapshot data followed by creating a snapshot with the same name (for a given directory on the remote file system) as the snapshot being synchronized.

[2021-01-18 14:57] leseb opened #7003 "Add CephFS stats per filesystem"
**Is this a bug report or feature request?**
* Feature Request

Just like we have RBD stats for images, we should be able to activate for CephFS so that Ceph-CSI/Prometheus can explore Filesystem metrics.
For more details: https://github.com/ceph/ceph/blob/master/doc/cephfs/cephfs-top.rst

**What should the feature do:**

**What is use case behind this feature:**

**Environment**:

[2021-01-18 19:46] Trackhe commented on #6519
And the orchestrator is also not working in dashboard. it only displays "Orchestrator is not available. Please consult the documentation on how to configure and enable the functionality."

[2021-01-18 22:28] yanchicago opened #7004 "Failure messages in operator pod when upgrading from v1.4.8 to v1.5.5"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrade from v1.4.8 to 1.5.5, the operator pod shows several error messages.

**Expected behavior:**
No error issue is expected.

**How to reproduce it (minimal and precise):**

1). Deploy rook 1.4.8
2). kubectl apply -f common.yaml -f crd.yaml
3). Update operator's image and env variables ( CSI

[2021-01-19 01:08] danielzhanghl commented on #6280
@Madhu-1 could the mon cluster IP be as part of input when deployment? then it won't change during recreate.

[2021-01-19 04:57] Madhu-1 commented on #6280
The Mon-IP's are updated in the configmap by the Rook. cephcsi won't cache the Mon Ip's. For each request, it will read the IP from the mounted configmap

[2021-01-19 05:17] Madhu-1 opened #7005 "Add more documentations for CSI configurations"
There is a lot of cephcsi configuration are available in the operator.yaml and values.yaml it is good to document the default configurations and the available configuration and also provide more details about the configurations for the Users.

[2021-01-19 05:59] Madhu-1 commented on #6162
can you please check you have any owner Reference set on the csidriver objects?

[2021-01-19 06:57] jshen28 opened #7006 "Allow configure cache tier for pool"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

provide a way to configure cache tier pool for a give pool

**What is use case behind this feature:**

Sometimes users might want to accelerate write/read by adding
a cache tier.

**Environment**:

[2021-01-19 07:58] leseb commented on #7004
These are harmless and will eventually go away once the operator is done initializing. IIRC this was fixed here https://github.com/rook/rook/pull/6925 which is in 1.5.5, not sure why you are hitting this if you run 1.5.5.

[2021-01-19 08:25] leseb commented on #7006
I thought Ceph had abandoned this functionality long ago, did I miss something?

[2021-01-19 09:04] jshen28 commented on #7006
Oh... this is really new to me.. this actually makes doubt why we use cache tier in production...

Btw would be appreciated to have some references on the reason of preventing use of cache tier...

[2021-01-19 13:15] TomHellier opened #7007 "Helm - Ability to configure the ROOK_ALLOW_MULTIPLE_FILESYSTEMS on the rook operator pod"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
[I believe we should be able to set arbitrary environment values inside this section of the helm chart.](https://github.com/rook/rook/blob/master/cluster/charts/rook-ceph/templates/deployment.yaml#L29-L270)

**What is use case behind this feature:**
I would like to enable the flag `ROOK_ALLOW_MULTIPLE_F

[2021-01-19 14:52] yanchicago commented on #7004
Yes, I'm running 1.5.5.  And the error message will not go away. And it becomes worse. Below are the new error messages when leaving it  overnight.
[code]

[2021-01-19 15:28] fritchie commented on #2079
When using the Beast frontend with RGW you should be able to supply a separate TLS cert and key

https://docs.ceph.com/en/latest/radosgw/frontends/#options

[2021-01-19 15:47] yanchicago commented on #7004
On new install 1.5.5, Only see below error message initially. This is not the case after upgrade from 1.4.8.
[code]

[2021-01-19 17:36] travisn commented on #6908
@synarete Are any changes in Rook needed for this scenario? For example, I believe this sequence enables the scenario:
- The admin adds topology labels to the nodes
- A storageClassDeviceSet is created in the CephCluster CR:
   - Add a node selector to run on the desired nodes
   - Specify a unique `crushDeviceClass` that will be applied to all OSDs in the device set
- Create a pool with the desir

[2021-01-19 19:07] travisn commented on #7004
In the operator log it seems all those errors resolve themselves except this one:
[code]

@thotz Can you take a look at that?

[2021-01-19 21:18] eknudtson opened #7011 "Nonexistent ceph clusters reported after upgrading from 1.4.7 to 1.5.5"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After upgrading to rook 1.5.5, I see the following errors show up in the rook operator logs:

[code]

We have a separate `kafka` namespace that should be totally isolated from rook/ceph.  There is only one Ceph cluster resource in the cluster as reported by kubectl :

[code]

**Expected behavior:**
No

[2021-01-19 21:39] travisn commented on #7011
This should just be an invalid log message. @sp98 Could you take a look?

[2021-01-19 22:29] travisn commented on #6955
@weisongf Did you perhaps disable the liveness probe on the mgr? Or you saw that the liveness probe was still successful even while the mgr was not responding?

[2021-01-20 00:39] #6530 closed

[2021-01-20 03:29] zerkms commented on #6889
Okay, in my case it was a dangling `ceph auth` for the `osd` and the prepare was crashing quickly and docker happily cleaned up logs before I checked them. But now as I knew where to look at I could catch it:

[code]

In other words: in my case `ceph auth rm osd.3` was a solution.

But: I still think it's a bug that in case if prepare crashes like in this case - it leaves the device in a case that

[2021-01-20 03:44] zerkms opened #7015 "Make `csi-snapshotter` optional in rbdplugin-provisioner"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

In my kubernetes deployment I don't use and don't need snapshots, yet rook deploys `csi-snapshotter` nevertheless.

It leads to TONS of noise in the logs:

[code]

Would it be possible to make it possible, the same way like `csi-omap-generator` is optional already?

[code]

**What is use case behind th

[2021-01-20 07:44] synarete commented on #6908
Admin would likely need to define proper 'placement' of 'storageClassDeviceSets' in case of multiple sets/pools, but other than that, you are correct (and there is **no need** for extra manipulation to CRUSH).

I am investigating various cases, and will update this issue soon.

[2021-01-20 08:32] schnes4 opened #7016 "Manager init container crash loop backoff"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Manager Pod stucks at Init:CashLoopBackOff for init container init-set-dashboard-server-addr

**Expected behavior:**
Manager starts up normal

**How to reproduce it (minimal and precise):**

I'm not sure how this situation came up. I only saw my monitoring alerts that not all osds are running.

**File(

[2021-01-20 09:31] leseb commented on #7006
Perhaps this would help? https://docs.ceph.com/en/latest/rados/operations/cache-tiering/#a-word-of-caution

[2021-01-20 10:04] jshen28 commented on #7006
Hmm.. thank you very much for the link.

[2021-01-20 10:11] #7006 closed

[2021-01-20 12:56] Madhu-1 opened #7020 "csi: update csidriver object from betav1 to V1"
Currently. the betav1 CSI driver is created by the rook operator. and the  storage.k8s.io/v1beta1 CSIDriver deprecated in v1.19+, unavailable in v1.22+. Rook needs to use storage.k8s.io/v1 API for the csidriver objects.

[code]

[2021-01-20 14:27] synarete commented on #6908
@travisn : You are correct: rook provides all needed ingredients, yet the recipe isn't trivial:

1. Admin sub-devide nodes into sub-sets and label all the nodes within a each
   subset with a unique label (e.g.: rook.io/ssd-set1=true, rook.io/ssd-set2=true etc.)

2. Admin defines 'PersistentVolume' and binds to nodes using 'nodeSelectorTerms'
   (in 'nodeSelectorTerms', use the labels defined in s

[2021-01-20 14:35] leseb commented on #6908
Can you paste the output of:

[code]

Thanks!

[2021-01-20 14:39] synarete commented on #6908
[code]

[2021-01-20 14:40] synarete commented on #6908
[code]

[2021-01-20 15:12] leseb commented on #6908
Thanks @synarete, looks good I guess I wasn't sure if the device class would get created, it seems that's the case. I assume you used the  `deviceClass` property from the CephBlockPool CRD too right?

[2021-01-20 15:15] synarete commented on #6908
Indeed so @leseb

[code]

[2021-01-20 19:18] travisn commented on #7016
Looks like there is also an osd down. You've also had the mons failover many times as well since you're up to the mon naming with two letters. Do you have frequent network or other pod instability?

That failure in the mgr seems unexpected since the toolbox is responding ok to the ceph commands. Does deleting the mgr pod help it restart? Or it still crash loops?

[2021-01-20 19:59] eknudtson commented on #7004
We are seeing that bucket error as well, on Rook 1.5.5 w/ Ceph Nautilus.

In our setup we use a TLS cert for RGW which does not contain a SAN for the service hostname created by rook.  Instead, we create a duplicate service and use externalDNS to create a hostname matching the TLS cert.  Any chance that could be related?

[2021-01-20 21:08] yanchicago opened #7022 "The operator pod failed to update mds and rgw deploy/pod automatically when "logCollector" is enabled or disabled."
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When the cephcluster is updated with "logCollector" from "true" to "false" or "false" to "true", the mds and rgw deploy/pod were not updated. Note: the osd and mon deploy/pods were updated correctly.

**Expected behavior:**
The mds and rgw deploy/pod can be updated automatically, similar to osd and mon

[2021-01-20 21:19] schnes4 commented on #7016
Yes all three OSDs are down and also the rook-ceph-mds-ceph-fs pods.
I'm not really see network or pod instability.
I already tested deleting the manager pod but still the same problem with the same error message.
Is this a problem with rook itself or with ceph?

[2021-01-21 03:20] billy98 opened #7028 "ERROR: S3 error: 403 (AccessDenied)"
Here are my steps, but I still can't upload the file to the bucket

[code]

[2021-01-21 08:11] umangachapagain commented on #6983
It could be a different namespace. The main thing is that the intended Prometheus should be able to access it.

ServiceMonitors are namespaced. So it makes sense to make the namespace configurable.
But, I'd still prefer the default to be the namespace where CephCluster being monitored is deployed.

[2021-01-21 08:25] rwanito commented on #6872
Hi !
If I create a kubeadm cluster with rook, can I use Ceph inside 3 linux workers and 3 windows workers without any adds ?
Or, I need to install something like the link you gave (it's not production ready) ?

Or, how can I have a cluster with ceph with linux/windows with kubernetes ?
Thanks for your help !

[2021-01-21 09:18] leseb commented on #7016
Looks like the assert is around the mon communication, what the content of :

[code]

Also make sure the IP are correct and reachable.

[2021-01-21 09:45] Madhu-1 commented on #6314
with some CNI plugins cephfs has some issue please check https://github.com/rook/rook/issues/4006

[2021-01-21 09:46] Madhu-1 commented on #6314
@acidwars in your case looks like the cephfs filesystem is not created.

[2021-01-21 09:52] schnes4 commented on #7016
Content of endpoints:

[code]

[2021-01-21 10:13] Madhu-1 opened #7032 "Add documentation for CSI RBD PV encryption"
cephcsi supports RBD PV encryption with  KMS (vault) and custom kubernetes secrets. It's good to document the new Encryption Feature. The same Encryption Feature for CephFS will be added in the future.

- [ ] New configmap creation and mapping it to csi pods (template)
- [ ] Documentation of how to add new KMS encryption configurations
etc.

[2021-01-21 10:17] Madhu-1 opened #7033 "Add Documentation for Metro Disaster Recover"
For Metro DR a single external ceph cluster will be used by multiple kubernetes clusters. The user/admin created PVC,PV objects can be moved from the primary cluster to the secondary cluster in case of DR. we need to document the step on User/Admin can recover the PVC when one for the kubernetes site goes down.

[2021-01-21 10:20] thotz commented on #7028
@billy98 : I don't understand the bucket created by OBC will be `ceph-bkt-50023a70-a903-428f-b374-05d30d407c8a`, but you are putting to health checker bucket(used internally by rook)

[2021-01-21 10:22] Madhu-1 opened #7034 "Add Documentation for RBD Async Disaster Recover"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Rook already support Enable Mirroring between two ceph clusters. The user can choose to either enable Pool Level mirroring or Image level mirroring. In case if the user wants to Use Image level mirroring he need to perform few steps. Rook needs to document the steps required for the same.

**What is use

[2021-01-21 10:26] thotz commented on #7004
Above bucket is internal to rook for health check so I guess external DNS with TLS cert should not effect this one IMO

[2021-01-21 10:27] thotz commented on #7004
If the object store is not accessible this error is expected, right?

[2021-01-21 10:52] Madhu-1 opened #7035 "Add support for RBD namespace creation"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add support to create multiple RBD Namespace is a pool.
**What is use case behind this feature:**

This would allow multiple kubernetes clusters or multiple tenants in a kubernetes cluster to share one unique ceph cluster without creating a pool per kubernetes user. Pools in ceph can be computationally

[2021-01-21 10:56] Madhu-1 opened #7036 "Add support to create multiple subvolume groups in a filesytem"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
user should be able to create multiple subvolume groups within a  filesystem
**What is use case behind this feature:**

This would allow multiple kubernetes clusters or multiple users in a single kubernetes cluster to share one unique ceph cluster without creating multiple filesystems per kubernetes use

[2021-01-21 10:59] Madhu-1 opened #7037 "Add support to create ceph users with different capabilities"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

The admin/User should be able to create ceph users to the capabilities he wants.

**What is use case behind this feature:**

With support for rbd namespace https://github.com/rook/rook/issues/7035 and ceph subvolume group creation https://github.com/rook/rook/issues/7036. it makes more sense to expose

[2021-01-21 11:06] leseb commented on #7037
Like the CephClient CRD?

[2021-01-21 11:11] Madhu-1 commented on #7037
@leseb sorry I didn't notice that we already have a CRD for User creation. Anything pending on that. Maybe we can add more details on how users can customize the different capabilities or we can directly point to the ceph document for the same?

If we have the required support we can close this issue.

[2021-01-21 11:15] leseb commented on #7037
No worries :). I think we do have the support, last week I completed the migration to use controller-runtime in https://github.com/rook/rook/pull/6958. We have docs too https://rook.io/docs/rook/v1.5/ceph-client-crd.html.

I'd say that we have all we need at the moment. Feel free to close if we are on the same page.

[2021-01-21 11:16] Madhu-1 commented on #7037
Thank you @leseb, Closing this one as we have the support for ceph user creation.

[2021-01-21 11:16] #7037 closed

[2021-01-21 11:30] Madhu-1 commented on #6851
This is a helm lint bug helm/helm#9197 not related to rook. closing for the same reason. please feel free to reopen if its not.

[2021-01-21 11:30] #6851 closed

[2021-01-21 12:04] Trackhe commented on #6183
I have the same problem.

[2021-01-21 13:31] davidhiendl opened #7038 "Helm upgrade to 1.5.x fails with "cannot convert int64 to float64""
Attempting to upgrade rook ceph operator via Helm from 1.5.1 to 1.5.5 fails with an error related to `cephclusters` CRD:
`cannot convert int64 to float64`

**Update: Workaround for anyone encountering the same issue:**
I've noticed that downgrading to Helm 3.4.x or lower allows upgrading rook and other charts encountering a similar issue. This was later confirmed by other people.

**Deviation from

[2021-01-21 14:02] leseb commented on #6943
Do you have a prototype already?

[2021-01-21 14:28] sd-hd commented on #4553
I had to use this:

kubectl -n rook-ceph create secret generic --type kubernetes.io/rook rook-ceph-crash-collector-keyring

[2021-01-21 14:58] leseb commented on #6685
` 1 fast devices were passed, but none are available`, would be nice to have the ceph-volume.log which can be found on the /var/lib/rook/log on the host when the prepare pod was running

[2021-01-21 16:18] #7015 closed

[2021-01-21 17:05] leseb commented on #7022
Ahhh yes, this is because the other CR will only reconcile if there a cluster upgrade (image changes from the CephCluster CRD). Shame, I need to fix that.

[2021-01-21 17:53] #6937 closed

[2021-01-21 18:15] #7007 closed

[2021-01-21 18:31] travisn commented on #7038
@davidhiendl I tested the helm upgrade from rook v1.5.1 to v1.5.5, using your cluster.yaml (with only the needed values changed for nodes), and did not see the failure. What version of helm do you have? I'm on v3.4.

[2021-01-21 20:53] davidhiendl commented on #7038
@travisn I'm on Helm 3.5.0. I can reliable reproduce this with my clusters, gonna try v3.4 later to see if that fixes it.

[2021-01-21 21:36] carldanley opened #7046 "Upon reboot, manager dashboard is not accessible via port-forward due to $(ROOK_POD_IP)"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

I was able to view the dashboard prior to reboot. I was *not* able to view the dashboard post-reboot.  Link to discussion in Slack: https://rook-io.slack.com/archives/C46Q5UC05/p1611262042002500

**Expected behavior:**

On a fresh installation and working cluster, I expected to be able to enable the m

[2021-01-21 21:43] travisn opened #7047 "Admission controller v1 cannot start on K8s 1.15"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The integration tests are failing in master on K8s 1.15 because the admission controller v1 type is not defined.
[code]

The admission controller will need to be disabled for tests on k8s 1.15 or older.

The tests also have a [reference](https://github.com/rook/rook/blob/b9fc942d651a71c1edaf5543447612c

[2021-01-21 21:59] carldanley commented on #2526
This is exactly the same issue I was having today; see my issue here: https://github.com/rook/rook/issues/7046.

Btw, closing that issue for continued discussion on this thread.

[2021-01-21 21:59] carldanley commented on #7046
Closing this in favor of #2526

[2021-01-21 21:59] #7046 closed

[2021-01-21 22:14] aasraoui opened #7048 "rook ceph operator in pending state"
Master-1 ceph]$  kubectl -n rook-ceph get pod
NAME                                  READY   STATUS    RESTARTS   AGE
rook-ceph-operator-6dd84fc776-sxsl2   0/1     Pending   0          3h15m

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (c

[2021-01-21 22:16] travisn commented on #2526
According to [this comment](https://github.com/rook/rook/issues/2492#issuecomment-467185200), the binding to the pod IP implemented in #2773 was only supposed to be temporary and did not apply to newer versions of Ceph after a certain fix was merged ~2 years ago. In #4850, it looks like the change was mistakenly made that the pod IP would always be applied instead of removing it as suggested in th

[2021-01-22 01:48] satoru-takeuchi opened #7049 "ceph: missing the process to restore mon quorum if all mon are unhealthy"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Ceph has a process to restore cluster without healthy mons.

https://docs.ceph.com/en/latest/rados/troubleshooting/troubleshooting-mon/#recovery-using-osds

However, Rook only provides the restoring process with at least one healthy mon.

https://github.com/rook/rook/blob/master/Documentation/ceph-disa

[2021-01-22 01:53] BlaineEXE commented on #7048
Please inspect `kubectl describe pod` on the operator pod and `kubectl describe deployment` on the operator deployment to see why Kubernetes is not scheduling the pod. This is unlikely a Rook issue.

[2021-01-22 05:52] aasraoui commented on #7048
is there sample cluster yaml config where user can specify host info for osds,mon,rgw ,storage devices.. i suspect my yaml config is not complete!!!

[2021-01-22 11:08] Sangshaai opened #7054 "Failed to build ceph-cluster, failed the ceph version check"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

I replaced the official ceph image in cluster.yaml，and build rook-ceph. It can't build any ceph components in release 1.5. NO MON, NO MGR, NO OSD.

When using master branches, I can create a ceph cluster, but the version is not th

[2021-01-22 12:43] ron1 opened #7055 "Fix ProgressingCompleted CephCluster status condition creation to always have a type"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
CephCluster status condition with reason "ProgressingCompleted" is created without a type. GitOps engines such as Rancher Fleet appear to get confused when they encounter status conditions without a type field.

**Expected behavior:**
CephCluster status condition with reason "ProgressingCompleted" is a

[2021-01-22 14:57] travisn commented on #6799
@fantastic2085 I believe this is sufficiently addressed with @BlaineEXE 's changes in #6809. With those changes, see the documentation explaining how to [handle multiple namespaces](https://rook.github.io/docs/rook/v1.5/ceph-advanced-configuration.html#using-alternate-namespaces). Please try that and let us know if you see any issues with it. The changes are in v1.5.

[2021-01-22 15:45] timhughes commented on #4238
I can repeat this every time using minikube.

## Minikube

Install minikube:

    curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
    install minikube-linux-amd64 ~/.local/bin/minikube
    rm minikube-linux-amd64

Clean up any old install:

    minikube delete

Start a new minikube:

    minikube start --cpus=8 --memory=8G --cni=calico --addons=metallb --addon

[2021-01-22 15:53] timhughes commented on #4238
I also get a similar issue with a rgw for an object store. Not sure if this is the same issue or needs a new issue raised.

Do all the same as above but creat an objectstore, storageclass and claim

[code]

Restart minikube

The `chown-container-data-dir` container has the logs:

    ownership of '/var/log/ceph' retained as ceph:ceph
    ownership of '/var/lib/ceph/crash' retained as ceph:ceph

[2021-01-22 16:15] #7047 closed

[2021-01-22 16:29] leseb commented on #7054
Are you building your own Ceph image? That's not supported so your error is expected.

[2021-01-22 16:39] BlaineEXE commented on #7048
If the operator is stuck in a pending state, that is not a problem with the cluster yaml. Please inspect the `kubectl describe` from the `deployment` and the `pod` that are deployed to see why kubernetes cannot start the deployment.

[2021-01-22 17:08] BlaineEXE commented on #4238
I thought the code that creates/updates OSD deployments also created the keyring secret for the OSD after doing `ceph auth get-or-create` for the OSD ID. Would we be able to fix this step to retrieve preexisting keys, or does this need info from the OSD's on-disk data?

[2021-01-22 18:25] travisn commented on #7055
Yes, always setting the following in the `else` block looks correct, thanks for the investigation and offering the PR!
[code]

[2021-01-22 23:54] tareqhs commented on #6530
Hi @satoru-takeuchi , I have the OSD pods configured with strict node anti-affinity and still 2 OSDs suddenly crashed and ran int crash loop backoff due to constant errors in expand-bluefs init container.
[code]
If I remove the init container manually from the problematic osd deployments they go up and become healthy without any issues. Is this case covered by your fix?

[2021-01-24 09:47] Sangshaai commented on #7054
Yes, I built my Ceph image, but I didn't change much, and I referred to the official Dockerfile.
I also used 'allowUnsupported: true'.
Why not support it?

What is the logic of rook to check the Ceph image?

[2021-01-24 14:19] fantastic2085 commented on #6799
Very happy to hear this and thank the community@travisn

[2021-01-24 14:52] thotz commented on #6943
@leseb: So as of now rook creates RGW deployment with a `cephxuser` and rgw daemon is running using that user. Each daemon requires one cephxuser and `name` or `id` represents `cephxuser`. HPA just scales the pods in the Deployment or more like cloning the existing or running pods.
IMHO (mostly based on assumption, not sure how much is feasible). Rook needs to watch over HPA CRs, then it needs to

[2021-01-25 01:12] CrossRoast opened #7060 "Add the ability to specify rbdplugin and cephfsplugin node affinities separately"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Add Rook Ceph operator configs for node affinities specific to rdbplugin and cephfsplugin.

**What is use case behind this feature:**
If some nodes use only one of the two plugins, there's no need for both of them to occupy resources.

**Environment**:

[2021-01-25 02:20] satoru-takeuchi commented on #6530
@tareqhs I'm not sure yet. At least your backtrace seems to be a bit different from [mine](https://tracker.ceph.com/attachments/download/5213/osd-9-bluefs.txt). Your OSDs seem to be inconsistent anyway so I recommend you to re-construct these OSDs.

[code]

[2021-01-25 05:39] thotz commented on #7028
closing as not a bug

[2021-01-25 05:39] #7028 closed

[2021-01-25 07:52] leseb commented on #7054
It's failing because the ceph binary you build outputs a different format for the `ceph --version` command. You had `ceph version v15.2.8-20210121` but we expect `15.2.8`, this is the regex:

[code]

[2021-01-25 08:01] Sangshaai commented on #7054
thanks for your reply.
The version I checked here, https://github.com/rook/rook.github.io/blob/master/docs/rook/v1.2/ceph-cluster-crd.md#ceph-container-images
![Uploading image.png…]()

I will try to change it

[2021-01-25 08:29] #7022 closed

[2021-01-25 09:04] #6990 closed

[2021-01-25 09:24] leseb opened #7063 "Add support for CephFS mirroring peers configuration"
- Allow adding peers to configure mirroring between Ceph clusters.
- Add integration tests on Pacific

[2021-01-25 09:24] leseb commented on #7063
Waiting for https://github.com/ceph/ceph/pull/39050

[2021-01-25 14:53] stefanfritsch opened #7064 "How-to for actually using the Ceph NFS CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Currently the docs on the Ceph NFS CRD describe how to spin up a ganesha server. But now I have a ganesha server without exports.

1. The [doc](https://rook.io/docs/rook/v1.5/ceph-nfs-crd.html) points me to the [wiki for the NFS Ganesha project](https://github.com/nfs-ganesha/nfs-ganesha/wiki#Documenta

[2021-01-25 15:01] travisn commented on #6799
@fantastic2085 Shall we close this issue, or is there any other suggestion you have for this feature?

[2021-01-25 15:20] chromafunk opened #7065 "Can you dynamically resize ( auto-expand ) cephfs volumes ?"
I am setting up a cluster, and trying now to determine when to use block storage and shared storage. There are certainly a couple of places where dynamically resized cephfs would work well on our setup. Is this possible ? It's not clear to me if this only works with BRD, or also with CEPHFS ? Is there a document on how to make rook-ceph pvc's auto-expandable on demand ?

Thanks !

[2021-01-25 16:17] travisn commented on #7065
@chromafunk Yes, rbd and cephfs PVCs support resizing and can be resized as other [K8s volumes](https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/). What auto-expansion are you referring to though?

[2021-01-25 18:47] travisn commented on #7064
@varshar16 @jtlayton Suggestions on the nfs exports?

[2021-01-25 19:09] travisn commented on #6943
@thotz The challenge is that the pod spec must be exactly the same for all 5 instances. In order to generate the cephx keys for all 5 in advanced, we need to use both unique and predictable names. I believe the only unique name for the pod will be the pod name, which is not predictable. Have you seen if the pod scaling has a more predictable pod name or some other property that we could use from t

[2021-01-26 00:45] SerialVelocity commented on #6355
@leseb After upgrading to Kubernetes 1.20 this has become pretty important. The ceph status command doesn't complete within 1s and the "fix" in Kubernetes for exec probes causes my mds pods to die constantly.

[2021-01-26 02:19] SerialVelocity commented on #6355
#6883 fixes this, right?

[2021-01-26 03:04] Sangshaai commented on #7054
![image](https://user-images.githubusercontent.com/33752750/105794571-3575ad80-5fc6-11eb-9843-2020570f4836.png)

Does this mean I can use my own version of ceph

[2021-01-26 04:48] #7055 closed

[2021-01-26 04:51] travisn commented on #6355
Yes, this is expected to be fixed by #6883, which was included in v1.5.5. Let us know if you see any issues with it.

[2021-01-26 08:18] leseb commented on #7054
Well you can build something like `15.2.8-myownversion` and that would work.

[2021-01-26 08:21] Sangshaai commented on #7054
Thank you very much. After I modified the version of ceph, it was no problem.

But the version of rook-ceph does look inconsistent with expectations. My ceph version is 15.2.8. Use ceph -v to see that it is 15.2.4, which is the same as in the rook image.

[2021-01-26 10:17] devlifealways commented on #6922
Any update about this issue ?

[2021-01-26 14:55] leseb commented on #7016
Can all the endpoints connect to each other?

[2021-01-26 16:06] jmolmo commented on #6903
@lukonjun: I think that the problems exposed here are due this bug:
"cheroot (cherrypy) indefinitely hangs under a moderate rate of requests and never recovers"
https://bugzilla.redhat.com/show_bug.cgi?id=1920461

Both Prometheus (mgr liveness probe) and the dashboard mgr module (ceph dashboard) use CherryPy and probably affected by this issue.

The issue can be fixed by manually applying this pat

[2021-01-26 16:08] SerialVelocity commented on #6355
@travisn @jshen28 I don't think that PR works. `v1.Container` is a struct, not an interface, so you have to use the return value of `ConfigureLivenessProbe`:
https://github.com/rook/rook/blob/v1.5.5/pkg/operator/ceph/file/mds/spec.go#L44
[code]

[2021-01-26 16:58] bothorsen opened #7069 "Documentation improvement for OSD dedicated network"
**Is this a bug report or feature request?**

* Feature Request (actually a documentation request)

**Feature Request**

In the documentation about how to set up a dedicated network for the OSDs, there are a couple of possible improvements.

If someone only wants to set one of the public or cluster network, is this possible? If not, what should be written, if we don't want to change one of them? F

[2021-01-26 17:46] SerialVelocity commented on #6355
Also, not sure if it is related to the liveness probe or not, but I have a tonne of defunct ldconfig processes left over in the ceph-mds container. @travisn Do you mind checking if it happens in your mds container as well?

[code]

[2021-01-26 18:21] #6799 closed

[2021-01-26 18:30] #6991 closed

[2021-01-26 20:08] #6326 closed

[2021-01-26 20:08] #6297 closed

[2021-01-26 20:08] #6265 closed

[2021-01-26 20:08] #6246 closed

[2021-01-26 20:08] #6221 closed

[2021-01-26 20:08] #6201 closed

[2021-01-26 20:08] #6165 closed

[2021-01-26 20:08] #6140 closed

[2021-01-26 20:08] #6115 closed

[2021-01-26 20:08] #6113 closed

[2021-01-26 20:37] briantopping commented on #6394
I'd still like to see this. It might be good to keep it active so someone with experience could find it.

[2021-01-26 22:00] #6287 closed

[2021-01-26 22:08] travisn commented on #6313
@bengland2 @rohan47 Is this still an issue, or should be fixed by other multus fixes?

[2021-01-26 22:16] partcyborg opened #7073 "Setting "min_size" in CephBlockPool parameters is ignored"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When creating a CephBlockPool with the parameter `min_size: 2`, this value is not inserted into the crushmap.

**Expected behavior:**
`min_size` should be set correctly

**How to reproduce it (minimal and precise):**
Here is my CephBlockPool:
[code]

When creating the above `CephBlockPool`, I saw the

[2021-01-26 22:18] partcyborg commented on #7073
Here is my rook-ceph-operator log.
[rook-ceph-operator.log](https://github.com/rook/rook/files/5876490/rook-ceph-operator.log)

[2021-01-26 23:06] travisn commented on #6355
@SerialVelocity Good catch, the container must be assigned on the return from the method. @jshen28 Want to open a follow-up to #6883 to fix this?

[2021-01-26 23:11] travisn commented on #6355
@SerialVelocity I don't see the defunct processes in my mds pods, but it's just a test cluster without any load. You may want to open a ceph tracker issue for that. @joscollin Any idea on this?

[2021-01-27 00:05] travisn commented on #7073
@partcyborg What do you see for the min_size with the pool commands such as the following?
[code]

I believe the min_size you see in the crush rule is not the same setting.

[2021-01-27 00:16] advancedwebdeveloper commented on #6472
@travisn , ping on you

[2021-01-27 00:28] jshen28 commented on #6355
I'll definitely look into the bug

[2021-01-27 00:29] travisn commented on #6472
@advancedwebdeveloper What is your proposal?

[2021-01-27 00:42] travisn opened #7074 "CodeGen CI action does not fail when there are changes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The codegen CI action always appears to be succeeding. In recent merges to remove storage providers we have had some changes to codegen that were missed by the action.

The action notices there are changes, but succeeds anyway:
[code]

**Expected behavior:**
The codegen CI action should fail if there a

[2021-01-27 01:09] yanchicago commented on #6374
Please keep it open.

[2021-01-27 01:18] partcyborg commented on #7073
@travisn I had already manually changed my crushmap for `replicapool`, so I created a new pool called `replicapool-test` using the exact same config and confirmed that you are correct:
[code]

My apologies, I was unaware that these two identically named parameters were different.  Do you offhand know what the difference is?  If not that is fine, I will go off and research on my own.

[2021-01-27 01:18] #7073 closed

[2021-01-27 05:57] varshar16 commented on #7064
@stefanfritsch What ceph version are you using ? Please share the mgr logs.
@travisn The document needs to be updated with links to dashboard and volumes/nfs plugin export management.  Also about how to create an export manually.

[2021-01-27 19:11] quindar83 commented on #6922
@devlifealways
I'm still stuck with this issue.
Unfortunately, I'm relatively new to  Kubernetes and don't know how to troubleshoot livenessProbe problems yet. Haven't had time to investigate further though.

[2021-01-27 19:11] stefanfritsch commented on #7064
Ceph is version 15.2.7

mgr logs (I don't think they contain anything about this):
[code]

Operator logs:

[code]

The pod with the ganesha server:

[code]

[2021-01-27 19:32] travisn commented on #6922
If a Rook install succeeds the first time and the mons fail to start when the cluster is reinstalled, it's almost always an issue with something being missed during the uninstall of the previous Rook cluster. Please double check the [cleanup guide](https://rook.github.io/docs/rook/v1.5/ceph-teardown.html), especially for deleting the dataDirHostPath on each host. An indicator of the cleanup issue

[2021-01-27 20:01] quindar83 commented on #6922
@travisn
I have done the reinstall multiple times and the result is always the same.
I've posted the monitor logs and my cleanup steps 3 weeks ago, see above.
I'm pretty sure my cleanup is correct. Do you see anything indicating otherwise?

[2021-01-27 20:07] #6085 closed

[2021-01-27 20:07] #6080 closed

[2021-01-27 20:07] #6061 closed

[2021-01-27 20:07] #6055 closed

[2021-01-27 20:07] #6051 closed

[2021-01-27 20:31] travisn commented on #6922
@quindar83 It looks like you've cleaned up everything, I guess I was responding more to @devlifealways who may have a general cleanup issue.
@quindar83 From the mon log, it seems the mon is healthy, but the operator can't connect to it to confirm the quorum so it can continue configuring the cluster. Try:
- Connect to the operator pod
- Curl the mon endpoint to see if there is a response: `curl 10

[2021-01-27 21:25] travisn commented on #6071
This doc doesn't really apply anymore. The solution to working well with updating K8s nodes is to use the pod disruption budgets, which are managed by Rook. Now we just need to enable the [PDB settings](https://github.com/rook/rook/blob/release-1.5/cluster/examples/kubernetes/ceph/cluster.yaml#L211-L215) by default.

[2021-01-27 22:59] ThomasTacke commented on #6865
I have same issue as @artbalnov on Rook v1.5.5 cluster.
I also tried all mentioned method to clean the disks.
But after the the `rook-ceph-prepare-osd` the `TYPE=LVM2_member` reappears and the message `cephosd: skipping device "sda" because it contains a filesystem "LVM2_member"` is again in the logs.
Any advise on this?

[2021-01-28 01:48] satoru-takeuchi commented on #6948
Resolved in #6982.

[2021-01-28 01:48] #6948 closed

[2021-01-28 01:49] satoru-takeuchi commented on #6415
It's resolved as described in the previous comment.

[2021-01-28 01:49] #6415 closed

[2021-01-28 01:52] satoru-takeuchi commented on #6414
It's one of intermittent failures. Let's keep it open. I'll deal with it later.

[2021-01-28 01:52] satoru-takeuchi commented on #6391
It's one of intermittent failures. Let's keep it open. I'll deal with it later.

[2021-01-28 01:52] satoru-takeuchi commented on #6389
It's one of intermittent failures. Let's keep it open. I'll deal with it later.

[2021-01-28 05:12] rohantmp commented on #6042
closing temporarily as I don't know how to prevent this from blocking the release

[2021-01-28 06:02] varshar16 commented on #7064
Set dashboard log level to debug `ceph config set mgr mgr/dashboard/log_level debug` and then try creating exports. We should see something logs. Do you have rook mgr module enabled ?

[2021-01-28 06:03] mengjinmm opened #7087 "ceph's io persistent occupation is high"
**Is this a bug report or feature request?**
No other programs are running on the server, only ceph is running.But ceph’s io occupies a lot, and write io has reached 60M/s.Ceph's status is healthy.

**Deviation from expected behavior:**
Io occupies too high, it will drop when mds is turned off.

**Expected behavior:**
Normal reading and writing should be at 500k/s

**How to reproduce it (minimal a

[2021-01-28 06:56] mengjinmm commented on #7087
# ceph osd pool stats
[code]

[2021-01-28 07:25] thotz commented on #6943
@travisn: Currently, I don't have set up now to cross-check. AFAIR, I didn't see anything special for pods generated by autoscaler, it has a similar spec as the original pod and  similar pod hash value

[2021-01-28 07:45] #6071 closed

[2021-01-28 09:55] lukonjun commented on #6903
Hi Guys,
the bug seems to be solved, the Dashboard is now running flawlessly.
I did a fresh installation of rook-ceph on a updated Openshift Cluster 4.6.0-0.okd-2021-01-17-185703 and it is working now.
We also changed from OpenShift SDN to OVNKubernetes which could maybe solved the issue, so the ticket can be closed in my opinion.

Just out of curiosity, Im unsure how to check the prometheus versi

[2021-01-28 10:15] artbalnov commented on #6865
@ThomasTacke I noticed, that I get this error only for ssd disks.
What type of disc are you trying to add?

[2021-01-28 11:31] l4z4rus opened #7091 "Rook fails to mount volume for pod because it is already attached"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a pod fails and Kubernetes restart it, Rook in some cases doesn't unmount the corresponding volume and the restart of the pod fails.
**Expected behavior:**
Rook unmounts correctly the volume of the pod in failed state
**How to reproduce it (minimal and precise):**

kubectl delete po <pod_name> -n

[2021-01-28 13:44] leseb commented on #7087
Would you mind opening the same issue on https://tracker.ceph.com/ instead, so it will get more attention from Ceph core developers?

[2021-01-28 16:46] #5790 closed

[2021-01-28 20:02] #5938 closed

[2021-01-28 20:07] #5959 closed

[2021-01-28 20:07] #5944 closed

[2021-01-28 20:07] #5914 closed

[2021-01-28 20:07] #5902 closed

[2021-01-28 20:07] #5896 closed

[2021-01-28 20:07] #5889 closed

[2021-01-28 23:12] ThomasTacke commented on #6865
@artbalnov yes it's an SSD. I am going to try it with an HDD. Thanks for the tip.

[2021-01-28 23:20] travisn commented on #7091
@l4z4rus A few questions:
- Why type of storage class are you using? block or file?
- What is the `ceph status` in the toolbox? Are all the OSDs and PGs healthy?
- Logs for the CSI volume plugin may show an error on the node where it's expected to be unmounted
- How reliably does this reproduce when you delete the pod?

[2021-01-28 23:31] travisn commented on #6903
The dashboard is no longer restarted since #6950 was fixed in v1.5.5. That seems to have helped some of your issue, but your other changes must have helped too.
The operator creates all the pod specs, including adding the livenessprobe for the mgr pod. The prometheus version will depend on your deployment, the Ceph mgr just exposes the prometheus metrics on that endpoint on port 9283.

[2021-01-29 02:09] hhstu opened #7099 "osd deplyment name"
now, each of osd  deployment names  just like:   rook-ceph-osd-1, rook-ceph-osd-2 and so on, it`s  not fulfilling， I can`t get  more  info form it.    I want  osd deployment name just  like this:    ceph-osd-{nodename}-{dev name} , for example:   rook-ceph-node001-sdc .  how do you think about it?

for chinese:
目前的osd deployment的名字在命名上没有任何意义，如： rook-ceph-osd-1    rook-ceph-osd-2 ，我们无法根据 name 简单的获取

[2021-01-29 13:18] leseb opened #7101 "Generate CRDs automatically based on the API definition"
We should stop manually writing CRDs and have them generated by the API spec. There are tools available to do so, a popular one is [ controller-gen](https://github.com/kubernetes-sigs/controller-tools). We should use it to avoid typo and yaml linting too.

I have a prototype branch already that I'll push soon for review.

[2021-01-29 16:08] travisn opened #7102 "Intermittent integration test failures related to the admission controller"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The integration tests are failing intermittently due to failing to connect to the admission controller.

For example, in [this build](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/PR-7100/5/pipeline/58), the [SmokeSuite failed](https://jenkins.rook.io/blue/rest/organizations/jen

[2021-01-29 16:09] #7002 closed

[2021-01-29 16:38] SerialVelocity commented on #6355
Just posting this here so everything is linked:
- Initial attempt at configuring/disabling probes (broken): #6883 (1.5.5 backport: #6942)
- Fix for actually modifying/disabling the probe: #7077 (1.5.6 backport: #7090)

[2021-01-29 19:57] travisn commented on #7099
@hhstu For the node name, there are a couple of ways to find the node, even if it is not in the pod name:
- The node selector on an OSD pins it to a node
- There are topology labels that could be queried on each of the OSD pods such as:

[code]

To find which device corresponds to the OSD, it would definitely be useful to add that label to the OSD pods if possible. I see in the osd prepare job (se

[2021-01-29 20:07] #5842 closed

[2021-01-29 20:07] #5835 closed

[2021-01-29 20:07] #5801 closed

[2021-01-29 21:46] travisn commented on #6955
To raise the priority on multiple mgrs, the [stretch cluster](https://rook.github.io/docs/rook/v1.5/ceph-cluster-crd.html#stretch-cluster) really needs two mgrs running, one in each of the two failure domains. In stretch clusters the design explicitly requires high availability even when an entire datacenter goes offline.

To expand on the [design suggestion](https://github.com/rook/rook/pull/6995

[2021-01-30 01:12] jshen28 commented on #6955
I personally think using operator to update service selector should work and using side cars sounds too hacky for me and to coordinate between different side cars might be hard too...

[2021-01-30 20:07] #5797 closed

[2021-01-31 00:45] satoru-takeuchi commented on #5791
It will be covered by fixing #3433.

[2021-01-31 00:45] #5791 closed

[2021-01-31 06:53] SleepingShell commented on #6685
I currently don't have the ability to test this with the metadataDevice, however I attempted to create a storage OSD with the the symlink'd name and it appeared to have caused the same ` 1 fast devices were passed, but none are available` error. This is odd since I was able to create an nvme storage OSD with the symlink name before while testing.

Here is the ``/var/lib/rook/rook-ceph/log/ceph-vol

[2021-01-31 18:55] CrossRoast opened #7107 "When OSD deployment is manually deleted, the rook ceph operator doesn't ever recreate it"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
If an OSD deployment is manually deleted via kubectl, the rook ceph operator doesn't ever recreate it. Even if the operator is restarted or the PVC is deleted and recreated.

**Expected behavior:**
The OSD deployment gets recreated after deletion.

**How to reproduce it (minimal and precise):**

Set up

[2021-02-01 01:17] jshen28 commented on #4718
actually I thought `min_size` could be manually changed for example,

[code]

[2021-02-01 08:20] stephan2012 commented on #4718
@jshen28 You are totally right and I am using this setting for a while already.

[2021-02-01 08:31] leseb commented on #7099
Perhaps we can encode the device name using base64 and put it in a label?

[2021-02-01 08:49] hhstu commented on #7099
[code]

why not use "sdb"  but "ceph--55555-fdf-fdfas-dfasdfas-fdfasdfasf-dfasdfasdfa-dfasdfasfsdaf"?

[2021-02-01 09:35] satoru-takeuchi commented on #7099
@travisn IMO, writing down how to identify the topology information in OSD management document looks good to me.

First, it's not suitable to encode node name in OSD deployment because portable OSDs are not binded to specific node. In addition, I guess that labeling would be difficult since we should consider both OSD on device and OSD on PVC. Especially it's hard to manage OSD on PVC case. We mig

[2021-02-01 11:15] chromafunk commented on #7065
sorry, but I just kinda started with k8s ... I was referring to, if there is some kind of policy where you can automatically resize volumes when it's reaching a certain threshold. Our first cluster is a centralized monitoring / logging cluster and volumes keep on aggregating data. I was wondering if there is a way to expand volumes on demand. Thank you !

[2021-02-01 13:18] toabi commented on #7107
Kind of similar experience: Sometimes on initial setup, the provisioning of one OSD fails. It for example only creates 5 of 6 OSD deployments.

Because it apparently doesn't check for missing `Deployments` it will never fix this itself.

[2021-02-01 13:50] aglahe commented on #7038
I'm seeing the same thing, on Helm v3.5.1, but, seeing it upgrading from 1.5.5 -> 1.5.6

Env:  K8S 1.19.6, "bare metal", Centos 7

[2021-02-01 15:37] olevitt opened #7113 "skipping device "sdc" because it has child, considering the child instead"
Hi,

We are successfully running a ceph cluster on Kubernetes powered by rook.
We are now trying to add more OSD from new kubernetes nodes.
The node has an empty disk ready for it (just like for the other currently working nodes).
lsblk before :
[code]

But when we apply the new `CephCluster` CR containing the new device the disk, a lvm partition is created :
[code]

which is expected but the logs

[2021-02-01 16:13] travisn commented on #6977
I believe this is fixed by #7059 in the v1.5.6 rook release last week. @electrical Do you see it is fixed now after upgrading?

[2021-02-01 16:17] travisn commented on #7065
No there is not auto-expansion for PVCs that I am aware. A simple solution may be to over-provision the volume. Ceph thinly provisions all volumes, meaning that you can create a volume much larger than you need without reserving space in the cluster.

[2021-02-01 16:18] #7074 closed

[2021-02-01 17:28] electrical commented on #6977
I'll verify as soon as possible. Thanks!

[2021-02-01 18:37] travisn commented on #7099
@satoru-takeuchi Agreed that we don't need to include the node in the labels, I believe the topology labels already accomplish this. The question is how to easily identify the disk being consumed by the OSD. For example, if you want to remove an OSD, it's a challenge to identify which device if there are multiple OSDs on the node.

@hhstu One of the challenges is that `sdb` could be renamed when t

[2021-02-01 18:53] travisn commented on #7107
@CrossRoast After the OSD deployment is deleted, Rook is expected to notice the missing deployment and immediately reconcile, though it may take several minutes to get to that OSD. Some questions:
- Do you see the osd prepare job being restarted that corresponds to that OSD? If so, the logs may indicate why it isn't re-created.
- Please share the operator log as well

@leseb The operator actively

[2021-02-01 19:13] travisn commented on #6955
@jshen28 The challenge for the operator is back to my last comment, the operator is not HA. For example, let's say the operator is running on node A and we have two mgrs, one on node A (active) and one on node B (passive). Now what happens when node A goes down?
- The mgr on node B will become active (automatically done by Ceph)
- The operator is down until it is started on another node. This coul

[2021-02-01 21:06] yanchicago opened #7120 "Operator log shows "failed to delete object in bucket""
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator pod prints errors in sunny day case.

**Expected behavior:**
There should not be any error messages in operator pod.

**How to reproduce it (minimal and precise):**

Restart the operator pod.

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if neces

[2021-02-01 21:06] travisn commented on #7038
I still can't repro even on helm 3.5.1 and K8s 1.20. Does it repro if you don't upgrade the K8s version? That's the only step I see that I was missing from your steps, but not sure why the K8s upgrade would be an issue unless it's specific to K8s 1.19.6.

[2021-02-01 21:17] ThomasTacke commented on #6865
@artbalnov with an HDD it worked also for me. When I figure more out I post it here.

[2021-02-01 21:52] travisn commented on #7120
The first failures should be fixed by #7056, we will plan to include it in v1.5.7.

@BlaineEXE Thoughts on this error?
[code]

[2021-02-02 02:15] iSignal commented on #6992
@travisn : We (YugabyteDB) don't think we will be able to put in the effort needed to move the Rook YugabyteDB operator to Beta status, at least this year.

Like you mentioned, we maintain another k8s operator at https://github.com/yugabyte/yugabyte-operator. That operator has moved forward a bit compared to the Rook YugabyteDB operator and would provide community users with a better supported alt

[2021-02-02 08:46] jshen28 opened #7121 "ceph-volume: lvm batch --prepare failed to add new osds on the same metadata device"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

ceph version: `ceph version 14.2.15-4`

during testing, we found that provisioning new devices failed on the existing metadata device with the following log,

hold other new ones.

[code]

[code]

Right now I am suspecting that [this](https://github.com/ceph/ceph/blob/391cd0cd46833cb6ad17680e9cf8f3652

[2021-02-02 08:58] mug3n451 opened #7122 "csi-rbdplugin an operation with the given Volume ID "xxx" already exists"
**Is this a bug report or feature request?**
* Bug Report
Error when try to mount an existing pvc to node with error log:  an operation with the given Volume ID "xxx" already exists
**Deviation from expected behavior:**
The pvc is not mounted
**Expected behavior:**
mount the pvc on node
**How to reproduce it (minimal and precise):**

Set replica to 0 of a statefulset that use pvc created with rook

[2021-02-02 09:34] toabi commented on #7107
Just upgraded form v1.4.0 to v1.5.6 but the missing `rook-ceph-osd-5` `Deployment` was not created.

[2021-02-02 10:27] anilthalari opened #7124 "rpc error: code = DeadlineExceeded desc = context deadline exceeded"
**pod describe**

  Normal   Scheduled               10m                   default-scheduler        Successfully assigned default/wordpress-7b989dbf57-q4mrk to k4
  Normal   SuccessfulAttachVolume  10m                   attachdetach-controller  AttachVolume.Attach succeeded for volume "pvc-d9ebb103-cdd6-456b-9328-49e2ab27a12f"
  Warning  FailedMount             8m34s                 kubelet

[2021-02-02 11:13] davidhiendl commented on #7038
I tried with Helm 3.5.0/3.5.1 on various Kubernetes version and can reproduce, but also encountered this problem with cert-manager Helm chart now. By chance I was using my notebook today and did not upgrade to Helm 3.5.x on it yet, I was still using Helm 3.4.2 and the problem does not occur here. Perhaps its a combination of 1.19.6 and Helm 3.4.2. But I can still reproduce it with 3.5.x and 1.19.6

[2021-02-02 11:26] jshen28 commented on #7121
I am thinking maybe we need to feed all devices, unavailable or not, to lvm batch...

[2021-02-02 12:02] jshen28 commented on #7121
also, is it to good idea to switch to `lvm prepare` without **batch**?

[2021-02-02 13:52] sp98 commented on #7011
was able to produce this
`2021-02-02 13:30:44.034655 E | clusterdisruption-controller: cephcluster "test/" seems to be deleted, not requeuing until triggered again`.

This happens because the `podDisruptionBudget` watcher watches in all the namespaces. So reconciler gets triggered if a PDB in a different namespace (other than rook-ceph) is changed. I'll try to raise a PR soon.

[2021-02-02 16:36] aasraoui opened #7129 "rook ceph operator image download"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`

[2021-02-02 17:07] subhamkrai commented on #7129
@aasraoui can you complete the issue template? Thanks

[2021-02-02 20:07] #5766 closed

[2021-02-02 20:07] #5723 closed

[2021-02-02 20:07] #5665 closed

[2021-02-02 20:07] #5499 closed

[2021-02-02 20:07] #5479 closed

[2021-02-02 20:07] #5463 closed

[2021-02-02 20:07] #5435 closed

[2021-02-02 20:07] #5358 closed

[2021-02-02 20:07] #5351 closed

[2021-02-02 20:07] #2953 closed

[2021-02-02 20:14] tareqhs commented on #2526
hi @travisn , any update on this? i need to upgrade to 1.5.6 due to important fix in this release and currently i'm skeptical whether to proceed and give up the dashboard or not.

[2021-02-02 20:17] travisn commented on #5752
We can turn this blog into rook docs: https://www.mrajanna.com/troubleshooting-cephcsi/

[2021-02-02 20:25] mecseid opened #7134 "NFS Provisioner not upgraded after NFS Operator upgrade"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The NFS provisioner and NFSServer deployments not upgrading with the NFS Operator.

**Expected behavior:**
After I upgraded the NFS Operator from v1.4.6 to v1.5.4 and v1.5.6, the rook-nfs-provisioner pods not upgraded.

I deployed the NFS operator (v.1.4.6), which created the rook-nfs-operator and rook

[2021-02-02 20:30] mecseid opened #7135 "Helm chart for NFS Operator"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
It will be grateful if the NFS Operatos has a Helm chart as the Ceph Operator has one.

**What is use case behind this feature:**
The upgrade path between NFS Operator deployments not so difficult, but the Helm chart will make it even more better.

Useful side effects with a Helm chart:
* Manageable wit

[2021-02-02 21:40] travisn commented on #7121
@guits Is adding new OSDs with a db-device a supported scenario for c-v? I believe it wasn't supported. Any input on this issue? Thanks!

[2021-02-02 21:41] travisn commented on #7124
@anilthalari Does this [csi troubleshooting guide](https://www.mrajanna.com/troubleshooting-cephcsi/) help?

[2021-02-02 21:47] travisn commented on #7107
@toabi If you increased the count by 1 and saw a new OSD created, what is the issue? OSD 6 was created, but OSD 5 is never re-created since you deleted it? The OSD prepare job logs that prepared OSD 5 may have an error. Was there another OSD prepare job created after you started the operator? For clusters on PVCs, prepare jobs will only be created for new OSDs, or OSDs that are being repaired like

[2021-02-02 22:40] travisn commented on #7122
@mug3n451 Does this [CSI troubleshooting guide](https://www.mrajanna.com/troubleshooting-cephcsi/) help?

[2021-02-02 22:50] travisn commented on #2526
@tareqhs Thanks for the reminder, i'm looking at fixing this in time for v1.5.7 next week...

[2021-02-03 00:12] jshen28 commented on #7121
hmm... btw is replacing a failed disk same as adding a new one?

[2021-02-03 01:09] satoru-takeuchi commented on #3433
I'm writing...

[2021-02-03 05:25] matti commented on #5471
still an issue, unstale

[2021-02-03 06:40] anilthalari commented on #7124
is there any extra configuration setup required for lxc kubernetes runtime(crio).

[2021-02-03 06:56] Madhu-1 commented on #7124
@anilthalari take a look at https://github.com/ceph/ceph-csi/issues/1820 it might help.

[2021-02-03 07:19] toabi commented on #7107
Okay to recap:

On initial deploy time the `storageClassDeviceSets` looks like this:

[code]

Then I noticed that I have just 5 OSDs running. `osd-0` to `osd-4`. There is also no `Deployment` for `osd-5`. But the PVC for 5 was provisioned.

I then increased the count of `my-region-1b` from 3 to 4 and it created *one* new OSD Deployment (named `osd-5`).
It also provisioned a new PVC named `my-regio

[2021-02-03 08:17] vmozgovoy commented on #4840
https://github.com/rook/rook/blob/13bc3f3deafe4d9d9cd1d33bb4da337afcaf2492/cluster/charts/rook-ceph/values.yaml#L257

[2021-02-03 09:11] mug3n451 commented on #7122
@travisn thanks for the support. i resolve the problem following the guide you post.
Cristian

[2021-02-03 09:11] #7122 closed

[2021-02-03 10:37] tumido opened #7146 "Bucket quota can't be updated"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When creating `ObjectBucketClaim` user can specify `.spec.additionalConfig` values like `maxSize` and `maxObjects`. This value is enforced as a quota on the bucket. However if user later decides to update the spec and increase the quota, this change doesn't trigger reconciliation. New quota is not prop

[2021-02-03 12:36] anilthalari commented on #7124
2021-02-03 12:18:42.347839 E | ceph-crashcollector-controller: node reconcile failed on op "unchanged": Operation cannot be fulfilled on deployments.apps "rook-ceph-crashcollector-k2": the object has been modified; please apply your changes to the latest version and try again

[2021-02-03 12:42] anilthalari commented on #7124
**operatorlogs**

2021-02-03 12:18:42.347839 E | ceph-crashcollector-controller: node reconcile failed on op "unchanged": Operation cannot be fulfilled on deployments.apps "rook-ceph-crashcollector-k2": the object has been modified; please apply your changes to the latest version and try again.
2021-02-03 12:18:39.893931 E | ceph-crashcollector-controller: node reconcile failed on op "unchanged":

[2021-02-03 13:01] anilthalari commented on #7124
***ceph health detail***
unable to get monitor info from DNS SRV with service name: ceph-mon
[errno 2] RADOS object not found (error connecting to the cluster)

[2021-02-03 13:11] anilthalari commented on #7124
[ceph-volume.log](https://github.com/rook/rook/files/5918604/ceph-volume.log)
stderr Udev is running and DM_DISABLE_UDEV environment variable is set. Bypassing udev, LVM will obtain device list by scanning device directory.
stderr Failed to find physical volume "/dev/sdb".
Running command: /usr/bin/ceph-bluestore-tool show-label --dev /dev/sdb
stderr unable to read label for /dev/sdb: (2) No such

[2021-02-03 13:21] joscollin commented on #6355
@SerialVelocity
If you confirm that this is a Ceph related issue (I don't think so), open a tracker with necessary logs and we will check it. Thanks.

[2021-02-03 13:50] anilthalari commented on #7124
[syslog.txt](https://github.com/rook/rook/files/5918821/syslog.txt)
[syslog.txt](https://github.com/rook/rook/files/5918857/syslog.txt)

[2021-02-03 14:37] anilthalari commented on #7124
***csi-provisioner***
1 csi-provisioner.go:121] Version: v2.0.0
I0203 12:15:23.097220       1 csi-provisioner.go:135] Building kube configs for running in cluster...
I0203 12:15:23.118155       1 connection.go:153] Connecting to unix:///csi/csi-provisioner.sock
I0203 12:15:25.025813       1 common.go:111] Probing CSI driver for readiness
W0203 12:15:25.029051       1 metrics.go:142] metrics endpoi

[2021-02-03 15:00] SerialVelocity commented on #6355
@joscollin @travisn It looks like that zombie process issue is because rook is using exec probes. See here:
https://youtu.be/QKI-JRs2RIE?t=1419

[2021-02-03 17:12] travisn commented on #6355
@SerialVelocity Good call, I'm surprised we haven't had reports of this before. The liveness probes really need to be running with tini so they're cleaned up properly. As a quick short term fix we can at least increase the timeout from the default 1s.

[2021-02-03 17:26] leseb commented on #6355
Hum wait a second, what is calling `ldconfig`? Our liveness probe is just calling the Ceph CLI like this: `ceph --admin-daemon /run/ceph/ceph-mds.0.asok status`.

I wonder where this `ldconfig` is coming from. I have the impression that we might be mixing things up...

[2021-02-03 18:25] travisn commented on #7107
Rook never removes OSDs to prevent accidental data loss, so it is expected that the OSDs will stay in place after you reduce the size. However, during a rook or ceph upgrade you may not see the OSD updated, I don't recall for sure...

My suspicion for this issue is that there was an issue in one of the OSD prepare jobs, and it failed to provision the missing OSD. If you can repro, let's take a loo

[2021-02-03 18:31] travisn commented on #7121
Correct, they are the same since ceph-volume basically only creates new OSDs for Rook. IIRC ceph-volume has an option to replace an OSD, but not sure it would work in this case either with the metadata device.

A more robust solution for using the db/wal devices is to base them on PVCs as seen in the cluster-on-pvc.yaml example. In that case, you can have more fine-grained control over the db/wal

[2021-02-03 18:42] stefanfritsch commented on #7064
Hi,

the rook manager module is activated according to the dashboard.

Here is the CephNFS CRD:

[code]

Btw. the docs state

but don't really elaborate how the CRD knows that it should use "myfs". I assume it's by specifying `pool: myfs-data0` for the recovery objects?

These are the mgr logs after setting the `log_level` to `debug` from the first appearance of "nfs". I've removed tokens and line

[2021-02-03 19:09] #7011 closed

[2021-02-03 19:20] travisn commented on #6355
Oh right, I overlooked that question in my last response, not sure about that.

[2021-02-03 19:56] electrical commented on #6977
@travisn I've done a fresh deployment on a new cluster and it's not fixed.

Output of the cephClusters resource: https://gist.github.com/electrical/c2f489f8f96da6adb562930bc1eb5be7

[2021-02-03 20:07] #6513 closed

[2021-02-03 20:07] #6507 closed

[2021-02-03 20:07] #6502 closed

[2021-02-03 20:07] #6488 closed

[2021-02-03 20:07] #6486 closed

[2021-02-03 20:07] #6465 closed

[2021-02-03 20:07] #6463 closed

[2021-02-03 20:07] #6456 closed

[2021-02-03 20:07] #6454 closed

[2021-02-03 20:07] #6446 closed

[2021-02-03 20:07] #6378 closed

[2021-02-03 20:07] #6368 closed

[2021-02-03 20:07] #6363 closed

[2021-02-03 20:07] #6364 closed

[2021-02-03 20:07] #6349 closed

[2021-02-03 20:07] #6325 closed

[2021-02-03 20:07] #6324 closed

[2021-02-03 20:07] #6053 closed

[2021-02-04 00:12] jshen28 commented on #7121
the concern is will it sacrifice performance? will a pvc layer introduce extra latency to OSD? I think it will really nice to allow users adding new devices on the same metadata device.. since a failed device is pretty common scenario..

[2021-02-04 00:31] travisn commented on #6977
The "Ready" action is "true" since the cluster is done being configured and the "Progressing" action is "false" because it has completed. Is Rancher expecting "Progressing" to be "True"? That doesn't seem right either.
[code]

[2021-02-04 00:51] jshen28 commented on #7121
besides, for c-v in v12.2.12 batch prepare will actually use & extend vgs if necessary, so do you think it sounds like a good idea to adopt c-v and allow using existing db devices again or somehow changes rook logic and switch to maybe directly prepare?

[2021-02-04 04:31] jshen28 commented on #7121
I've created a pr https://github.com/ceph/ceph/pull/39286 and hopes it will make it work for cases of adding new osds.
test is still in progress.

[2021-02-04 08:48] #7102 closed

[2021-02-04 08:55] yyt6200 opened #7156 "need help,rbd can create pvc but cephfs cannot"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
cephfs create pvc,but pvc is pending.

**Expected behavior:**
cephfs ceate pvc

**How to reproduce it (minimal and precise):**
#kubernetes v1.18.8 on Centos 7
kubectl apply -f ceph/common.yaml
kubectl apply -f ceph/operator.yaml
kubectl apply -f ceph/cluster.yaml
kubectl apply -f ceph/filesystem-test.y

[2021-02-04 09:05] guits commented on #7121
In fact, it works.

In your case, I guess `/dev/vdc` and `/dev/vdf` are the devices that were already deployed initially both using `/dev/vdd` as db device.
In a second step, you are trying to deploy a new osd `/dev/vde` with still `/dev/vdd` as db device since there's still 30Gb free.

I see the command run was :
[code]
unless I'm missing something, it should have been :
[code]

`ceph-volume lvm

[2021-02-04 09:36] jshen28 commented on #7121
@guits correct, but somehow it is not how rook uses it....

[2021-02-04 10:03] electrical commented on #6977
I think it's related to the `lastHeartbeatTime ` from what can see ?

[2021-02-04 10:04] electrical commented on #6977
As an example, this is from the remote cluster connecting to the ceph cluster:
In this case the`lastHeartbeatTime` for the connected status is after the connecting status.

[code]

[2021-02-04 12:52] guits commented on #7121
It means rook doesn't consume ceph-volume correctly

not sure I'm following you, could you elaborate a bit more?

[code]

[2021-02-04 13:16] jshen28 commented on #7121
@guits for example, I am using `sdb` as metadata device `sdc` & `sdd` will all use `sdb` as metadata device but they will have different device-class assigned.

[2021-02-04 14:50] #2526 closed

[2021-02-04 16:11] onedr0p commented on #6617
This is an excellent idea for the reasons you mentioned.

[2021-02-04 16:36] guits commented on #7121
@jshen28 sorry but what you say here is still lacking some clarifications, so it's still unclear to me, what do you mean by "but they will have different device-class assigned."?

If `sdc` and `sdd` are both either rotational disks or ssd disks, they will have the same class.

[2021-02-04 18:38] BlaineEXE opened #7164 "ceph: Rook should clean up OSD status ConfigMaps"
**Is this a bug report or feature request?**
* Feature Request

Rook-Ceph often leaves dangling OSD status ConfigMaps from OSD provisioning. Occasionally these cause issues for users where they must delete configmaps before OSD provisioning can succeed successfully.

Possible strategies Rook could take:
- remove ALL OSD provisioning status ConfigMaps after the OSD provisioning loop completes
   -

[2021-02-04 18:44] aasraoui opened #7165 "Unable to delete replicapool on a ceph cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespace> logs <pod name>`

[2021-02-04 19:48] #6617 closed

[2021-02-04 20:43] travisn commented on #7164
The OSD provisioning jobs don't ever get removed until the next time they run, so this won't be an option.

I'm thinking that at the start of an OSD reconcile, we could delete all the existing status configmaps. My only hesitation about that is if an osd prepare job is still in progress, there may be a status misfire when it is completed. If an osd prepare job is still in progress we don't delete

[2021-02-04 22:06] aasraoui commented on #7165
root@rook-ceph-tools-664b7555b8-5bjdg /]# ceph version
ceph version 15.2.8 (bdf3eebcd22d7d0b3dd4d5501bee5bac354d5b55) octopus (stable)

kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:56:40Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Ser

[2021-02-04 22:30] travisn opened #7168 "Integration tests failing on K8s 1.15 due to missing cephfs mirroring CRD"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The integration tests are failing in master on K8s 1.15. The operator log shows:

[code]

**Expected behavior:**
Integration tests should pass

[2021-02-04 22:56] BlaineEXE commented on #7164
Maybe we can delete all configmaps that don't have a running prepare job associated with them. And we can furthermore check the prepare jobs and kill them and the configmaps if they aren't completed and were started more than some number of minutes ago (equal to OSD provisioning timeout?).

[2021-02-04 22:59] aasraoui commented on #7129
resolved, thanks!

[2021-02-05 00:09] jshen28 commented on #7121
@guits sorry for not being clear.  both `sdc` and `sdd` could be rotational disk but I would like to use different `crush-device-class` for them. such that `ceph osd tree` command could show something like, such that both `osd.1` and `osd.2` use the same
metadata device

[code]

[2021-02-05 00:28] jshen28 commented on #7121
Besides, I personally think using the command by enumerating every disk (potentially there could be 20 disks more per node) is pretty anti-intuitive and not very friendly to cloud operators. Why do I need to list all pre-existing disks to make it work?

In my own opinion, if I do not specify slots and give a specific metadata device size, lvm batch does not really need to compute data slots becaus

[2021-02-05 02:01] Sangshaai commented on #7054
rook-ceph‘s version is affected by rook image. I rebuild rook image  to make it consistent with the ceph image version and solved the problem.

[2021-02-05 02:01] #7054 closed

[2021-02-05 07:21] guits commented on #7121
@jshen28 not sure this is what you are looking for: https://docs.ceph.com/en/latest/ceph-volume/lvm/prepare/#crush-device-class ?
If so, @travisn does rook allow you to consume that option?

[2021-02-05 07:38] guits commented on #7121
That's a good question, this is the way `ceph-volume lvm batch prepare` was implemented.
To be frank, I couldn't say why exactly, maybe @andrewschoen has a better insight?

[2021-02-05 10:33] #7129 closed

[2021-02-05 11:24] glyslxq opened #7171 "rook-ceph-osd-prepare caused the docker to hangs ?"
# rook-ceph-osd-prepare caused the docker to hangs ?
I've had this problem several times.
Same node,docker hangs.Then all containers on the host don't work.

- It looks more like a docker version problem，because several other different versions of the node did not appear this problem.
- Nodes that don't run rook-ceph-osd-prepare don't have this problem.

Has anyone ever had the same problem？I woul

[2021-02-05 11:27] jbguerraz commented on #5745
interesting issue. keeping it alive!
@AceHack any news on your side about it ? how did it end up ?

[2021-02-05 11:35] jbguerraz commented on #2531
:+1:

[2021-02-05 14:56] SerialVelocity commented on #6355
Afaik, it is an expected process that runs inside the container. Whether it is by the liveness probe or the main process I am not sure though.
https://securityhub.dev/falco-rules/rook lists it as expected.

[2021-02-05 18:22] ShyamsundarR commented on #4238
Adding in to report that in a similar minikube setup, on restart found the issue with rbd-mirror pods as well. This was with rook 1.5.

Followed the same steps as rgw case and imported the auth for `client.rbd-mirror.a` to get the rbd mirror pod functioning again.

[2021-02-05 20:09] galexrt commented on #6514
Reopening as the issue is assigned.

[2021-02-05 20:24] jproig opened #7174 "NFS operator should be able to use custom images for the NFS server pods."
* Feature Request
Ability to specify the image that the NFS operator will use in order to create nfs servers.

**What should the feature do:**
Permit users to specify the image that the operator will use for the nfs-server pods.

**What is use case behind this feature:**
In GCP users can use Binary Authorization policy, which requires all images to be signed and pushed to GCR (Google container reg

[2021-02-06 00:24] kyle-rf opened #7175 "Upgraded to 1.5.6: Pods still fail to mount volumes - 'fsGroupPolicy seen as nil or empty'"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Fails to mount the volume to pod after latest version upgrade.

**Expected behavior:**
Creating pods can successfully mount rook-ceph-block PVCs.

**How to reproduce it (minimal and precise):**

Running Kubernetes Cluster Version 1.20.0
Performed Upgrade of Rook:
  Reapplied crds.yaml, skipped, common.

[2021-02-06 01:15] ron1 commented on #6977
Maybe Rancher is simply looking for the status to be True of the lastest condition, i.e., the condition with the most recent lastHeartbeatTime in the case of CephCluster. If so, can the rook-ceph operator be modified to set conditions in such a way that Rancher expectations are satisfied?

[2021-02-06 10:46] electrical commented on #6977
Had another look at the output:

[code]

For some reason the `ProgressingCompleted` event gets updated frequently. I'm not sure what process within Rook-ceph handles that.

[2021-02-06 12:21] ron1 commented on #6977
And maybe rook-ceph should ensure that under normal circumstances it follows up a ProgressingCompleted condition with a condition whose status is "true".

[2021-02-06 14:30] guimou commented on #5471
Hi @humblec
As you wanted to know more about use cases, here is my scenario where I need this information:
- I'm working on an extension PoC for OpenDataHub.
- I want to provide a shared library of scientific apps/packages to many containers. It works really well with an RWX PVC with the ocs-storagecluster-cephfs storage class. I mount it read-only in the containers when they are spawned and they

[2021-02-06 18:49] paalkr opened #7176 "Placement of device set OSDs are merged with the .spec.resources.osd"
Seems like https://github.com/rook/rook/pull/6918 introduced a regression when using both PVC OSDs and raw device OSDs in the same ceph cluster, which was added in https://github.com/rook/rook/pull/6822

If the raw device OSDs and the PVC OSDs have different resource requests and placement config, the .spec.resources.osd merges with what's defined at the deviceset placement spec.

cluster spec to

[2021-02-06 20:06] #6520 closed

[2021-02-06 21:27] ahmedTouati opened #7177 "How to use the same directory path over multiple namespaces when using dynamic provisionning of PVs"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Ifi create two provisionned PVs in different namesapces both of them must point to the same directory(share the same filesystem)**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs,

[2021-02-07 05:21] yyt6200 commented on #7156
@travisn Excuse me ,can you help me ?

[2021-02-07 09:44] mback2k commented on #2047
This is still an issue and now the linear mdraid workaround also no longer working, because the device is not accepted.

[2021-02-08 08:08] #6992 closed

[2021-02-08 08:58] humblec commented on #5471
@guimou thanks for the detailed explanation. Indeed I see your use case. As mentioned earlier its kind of exposing all the details to the end user. however while we record this in the PV object, which is normally the admin property , I believe its OK. The UUID generation and may be its manipulation can change in future, so take a precaution while deriving the logic in your software , with that, le

[2021-02-08 09:44] varshar16 commented on #6270
Don't close the issue
New rook mgr module issues:
https://tracker.ceph.com/issues/49127
https://tracker.ceph.com/issues/49126
https://tracker.ceph.com/issues/48534

[2021-02-08 10:01] tamil-balasubramani commented on #6530
@satoru-takeuchi I am also having same issue as @tareqhs mentioned, our 2 OSD nodes were crashed, since then "expand-bluefs init container" is keep crashing backoff and if I manually remove this init container, it starts working. Do you know how these OSDs can be re-constructed? is there any set commands to be followed ?

[2021-02-08 11:16] varshar16 commented on #7064
@stefanfritsch: You should disable rook mgr module, see this issue https://github.com/rook/rook/issues/6147

That's not correct. Actually fs is not required for deploying NFS services. But you need it for creating exports. With the sample NFS-CRD, fs is required because same fs data pool is used for storing recovery objects.  I will update the doc.

[2021-02-08 11:37] terorie commented on #5675
@thotz Our cluster has been through a few Rook upgrades, and still has a StorageClass with the old provisioner. `ceph.rook.io/bucket`

Currently, with Rook v1.4 and v1.5 ObjectBucketClaims reconciliation is broken, same exact error as OP is seeing.

The CephCluster and CephObjectStore are in `rook-ceph`. The ObjectBucketClaims are all in the `default` namespace.

Am I correct in saying the Storage

[2021-02-08 11:41] Nicetobecat commented on #6865
Hi! I have the same issue. Rook OSD prepare pod skips SSD disks, because it contains a filesystem "LVM2_member" and don't create OSD daemons on them. With HDD works fine and OSD created successfully.

[2021-02-08 11:45] terorie commented on #5675
Nevermind, I found the fix.
It was patching `ROOK_OBC_WATCH_OPERATOR_NAMESPACE` to `"false"` to support provisioning OBCs outside the `rook-ceph` namespace.

[code]

[2021-02-08 12:14] satoru-takeuchi commented on #6530
@tamil-balasubramani You can re-construct the broken OSD as follows.

1. Remove your broken OSD

https://github.com/rook/rook/blob/master/Documentation/ceph-osd-mgmt.md#remove-an-osd

2. Add it again.

[2021-02-08 12:48] ron1 commented on #6977
@travisn @electrical What do you think about this [patch](https://github.com/rook/rook/compare/master...ron1:fix-ceph-cluster-ready-status-condition-ordering) for the issue that orders the conditions such that the false condition is created before the true Ready condition?

[2021-02-08 12:51] tareqhs commented on #6530
@satoru-takeuchi this is a known last-resort, but it is not suitable for being applied frequently in a productive environment. adding a new OSD and waiting for it to backfill can take some time, during which existing data is degraded and the ceph cluster is in a risky state.

[2021-02-08 13:32] mattbenjamin commented on #6943
It seems we need a way to provide a (predictable?) parameter to the
pod?  like a number from 1..n?

Matt

On Mon, Jan 25, 2021 at 2:09 PM Travis Nielsen <notifications@github.com> wrote:

--

Matt Benjamin
Red Hat, Inc.
315 West Huron Street, Suite 140A
Ann Arbor, Michigan 48103

http://www.redhat.com/en/technologies/storage

tel.  734-821-5101
fax.  734-769-8938
cel.  734-216-5309

[2021-02-08 16:59] travisn commented on #6977
Agreed, the only thing I can see here as well is that the timestamps aren't ordered as Rancher expects them, moving that check up would make sense in that case. Please do open a PR for that, thanks!

[2021-02-08 19:18] travisn commented on #6943
Per separate email thread, the proposal is to use the RADOS client session ID to register the RGW daemon and use it as the unique identifier for each RGW pod. This removes the requirement to pass different arguments to the pods, which won't be possible since they all have the same pod spec.

[2021-02-08 19:21] travisn commented on #7177
K8s requires a RWX dynamically provisioned PVC to be used from within the same namespace.
@Madhu-1 Thoughts about using a static volume?

[2021-02-08 19:46] ron1 commented on #6977
@travisn Since the false condition is now created before the true Ready condition, it seems that the setting of LastTransitionTime and LastHeartbeatTime to metav1.NewTime(time.Now()) should provide the desired behavior. Am I missing something?

[2021-02-08 20:06] #6525 closed

[2021-02-08 21:26] travisn commented on #6977
If there was a transition, I see both those timestamps updated to `time.Now()` in the code [here](https://github.com/rook/rook/blob/d99092dcfc82b3d02c412358e1b84c7287f4f4bf/pkg/operator/ceph/config/conditions.go#L75-L79). Is this what you're looking for?

Perhaps what we need is that the progress condition not have the heartbeat updated if it's not in progress (and it didn't just complete being in

[2021-02-08 21:52] travisn commented on #7156
@yyt6200 We are adding a CSI troubleshooting guide to the docs in #7157. Check if the filesystem pool exists, and the csi provisioner logs for errors in that doc. Does that help?

[2021-02-08 22:46] travisn commented on #7176
To allow for the specifying different node affinity for the non-PVC OSDs and the PVC OSDs, it seems we cannot merge the affinity if specified in both places.
@subhamkrai Could you look at not merging the affinity in this fallback case? For example, if the affinity is specified in the storageClassDeviceSet, it wouldn't fallback to merge the main OSD affinity.

[2021-02-08 22:52] paalkr commented on #7176
Thanks for looking into this.

The case applies to resource requests/limits, nodeAffinity and toleration. In my opinion the values defined in the storageClassDeviceSets should not be  merged or altered in any way if specified. If not configured, applying the global osd config make sense.

[2021-02-08 23:03] travisn commented on #7176
I thought that only the nodeAffinity was being merged, while the resource requests/limits and tolerations would just use one or the other without merging. You're observing they are all being merged?

[2021-02-08 23:08] paalkr commented on #7176
Sorry, I didn't put that very clear. I'm not sure if the merge problem actually applies to tolerations and requests. I was just pointing out that we should check if it did, and make sure to not touche any defined config in the deviceSets. So probably the issue only applies to the nodeAffinity. I can only recall to have observed nodeAffinity config being merged.

[2021-02-08 23:59] travisn commented on #7165
@aasraoui Check the operator log, it likely shows an error about block images still existing in the pool so the pool cannot be deleted. If you want to override this and force delete the pool, you will need to remove the finalizer on the CR as described [here](https://rook.github.io/docs/rook/v1.5/ceph-teardown.html#removing-the-cluster-crd-finalizer).

[2021-02-09 00:08] travisn commented on #7121
@jshen28 No, the PVC layer doesn't add any performance overhead. The OSD still has direct access to the device.

@guits Aha, that's what we are missing! Although, agreed with @jshen28 that it seems odd to require passing all the device names if they have already been configured.

If so, @travisn does rook allow you to consume that option?

@guits Yes, rook does pass the `--crush-device-class` flag

[2021-02-09 00:12] guits commented on #7121
I think https://github.com/ceph/ceph/pull/39286 addresses all of this

[2021-02-09 00:14] travisn commented on #7121
Perfect, I hadn't taken a look yet...

[2021-02-09 00:45] ron1 commented on #6977
But since the false condition in the patch is now created before the Ready true condition, `time.now()` for the false condition will be earlier than the true condition which is the requirement.

[2021-02-09 01:34] jshen28 commented on #7121
@travisn thank you very much for the clarification.
About the device class part, I guess I still need to issue batch prepare multiple times to use different device class per group of osd.

[2021-02-09 06:22] subhamkrai commented on #7176
I believe with [this](https://github.com/rook/rook/commit/369ad40cf437001ce547c67c6a1f8fec1eca9479#diff-da51f1d1cd0bcb44d1bfec78f7fbc3f63eae4baa2173b7c404144b7cbeea3b61R612-R616) check will not merge any `NodeAffinity, PodAffinity...`.

[2021-02-09 06:24] satoru-takeuchi commented on #6530
@tareqhs However, there is no other ways to re-construct OSD. OSD is already broken. Although removing initContainer enable us to launch OSD daemon, the corresponding bluefs is already in a bad state.

[2021-02-09 08:56] leseb opened #7183 "code hygiene: tasks for 1.7"
To remove:

* removeExtraMirrors(): follow up from https://github.com/rook/rook/pull/7180
* remove client.IsMultiFSEnabled(): follow up of https://github.com/rook/rook/pull/7307/

[2021-02-09 10:39] varshar16 commented on #6147
I have reported this issue here: https://tracker.ceph.com/issues/49224

[2021-02-09 12:46] SerialVelocity commented on #5250
Looks like it is planned for 1.6?

[2021-02-09 13:47] PBXForums commented on #6865
Switch to 15.2.6 in cluster.yaml, that works :)

[2021-02-09 15:31] #7168 closed

[2021-02-09 16:39] panyang1217 opened #7188 "pvc pending and got error message " rpc error: code = Internal desc = rados: ret=-95, Operation not supported""
help !!

a new installed ceph cluster, when using pvc, the pvc got pending status and the event showen:

[code]

and csi-rdbplugin logs shows:

[code]

**Environment**:
* OS (e.g. from /etc/os-release): unbunt 20.04
* Kernel (e.g. `uname -a`): 5.4.0-65-generic
* Cloud provider or hardware configuration:
* Rook version (use `rook version` inside of a Rook Pod): v1.5.6
* Storage backend version (e.g

[2021-02-09 17:43] BlaineEXE opened #7189 "ceph: object store should support HTTPS-only gateways"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently CephObjectStore supports `gateway:port` (HTTP) and optionally `gateway:securePort` (HTTPS).
Rook should support creating HTTPS-only CephObjectStores where gateways only have `securePort` connections (i.e., `gateway:port = 0`. Currently, setting `gateway:port = 0` gives an error that the requir

[2021-02-09 17:49] BlaineEXE commented on #7189
This may merely be an issue where the user needs to upgrade from Rook v1.4.x to v1.5.x.

[2021-02-09 18:58] travisn commented on #6977
Agreed, this should do it, I thought you were referring to some other need to set the timestamp.

[2021-02-09 19:15] travisn commented on #7188
@panyang1217 We have a CSI troubleshooting doc about to be merged. Try looking at this doc: https://github.com/rook/rook/pull/7157/files

[2021-02-09 20:12] satoru-takeuchi commented on #6600
Will fix.

[2021-02-09 23:01] travisn commented on #7113
@olevitt Zapping the devices still does not seem to always completely clean the LVs in some environments. I would definitely like to understand what will get this working for you since others have also reported similar behavior. As I recall, others were able to workaround this by restarting the host. Any luck with that?

[2021-02-09 23:04] travisn commented on #7113
And do the comments in #6865 help? If so, let's figure out the gaps in documentation...

[2021-02-09 23:08] olevitt commented on #7113
I will try rebooting after cleaning and looking at the comments you linked tomorrow. I will post my results here afterwards.
Thanks !

[2021-02-10 00:51] BlaineEXE commented on #7164
I did find something wrong in my testing. The below YAML doesn't propagate the `deviceFilter` to preparing OSDs on nodes. Somehow it is getting lost, as evidenced by the debug message at bottom. I don't think my changes would affect this, but I will investigate.

[code]

[code]

[2021-02-10 01:55] dimm0 commented on #6067
I followed the guide for installing the new cluster, and hit this error

[2021-02-10 08:54] thotz commented on #6943
Pasting link for ceph PR for reference https://github.com/ceph/ceph/pull/39380

[2021-02-10 10:44] olevitt commented on #7113
Bad news ahead :
I tried almost everything :
- Rebooting after wiping the disk
- Manually wiping LVM partitions (afterthought : the newly creating LVM member / partition does not have the same id as the old one so that may indicate that it's not a reappearing partition)
- Removing the node / disk from the CephCluster CR inventory, rerunning the operator then adding the node / disk back to the inve

[2021-02-10 11:22] galexrt commented on #6067
@dimm0 In this case I think it would be better to create a new issue so we get all your clusters information (e.g., K8S and Rook version) to be able to look into the issue. Thanks!

[2021-02-10 14:27] leseb commented on #7113
How did you clean your disks?

[2021-02-10 15:06] olevitt commented on #7113
I followed the script here : https://github.com/rook/rook/blob/master/Documentation/ceph-teardown.md#zapping-devices
I also (one time) deleted the virtual device and recreated a new raid-0 drive. I also tried using lvm commands such as pvremove as stated here : https://github.com/rook/rook/issues/6865#issuecomment-756707177
Also tried various ideas gathered from https://www.linuxquestions.org/ques

[2021-02-10 15:57] leseb commented on #7189
I was under the impression this was already working...

[2021-02-10 16:33] BlaineEXE commented on #7189
@subhamkrai added this feature in PR https://github.com/rook/rook/pull/5986. I will close this as it should be included in Rook v1.5. If there are further issues, feel free to comment on this PR, and we will reopen it.

[2021-02-10 16:33] #7189 closed

[2021-02-10 17:06] dimm0 commented on #6067
I think it works in general, just the sidecar complains.. So I guess it's fine.

[2021-02-10 18:06] haslersn opened #7198 "Two-step CRUSH rule with subFailureDomain for EC pools"
## Feature Request

When using a replication or erasure coding mode where the number of hosts is less than the number of shards, it would be nice to have the option to distribute the shards uniformly. This would give you fault tolerance against host failures, while having a higher level of fault tolerance against OSD failures.

It can be achieved using a custom rule as described [here](http://ceph

[2021-02-10 20:26] mmueen commented on #6865
Changed to 15.2.6 in cluster.yaml but still seeing the error `cephosd: skipping device "sda3" because it contains a filesystem "LVM2_member"`

[2021-02-10 23:38] ron1 commented on #7189
When I tried removing CephObjectStore spec.gateway.port on Rook 1.5.6, the rgw pods started crashlooping I think because the liveness probe was failing. Does that make sense?

[2021-02-11 08:29] OPSTime opened #7200 "Warning: Detected changes to resource object-store which is currently being deleted."
Version：
kubernetes：v1.20.2
rook/ceph: v1.5.6

$  kubectl apply -f object.yaml
Warning: Detected changes to resource object-store which is currently being deleted.
cephobjectstore.ceph.rook.io/object-store configured

$ cat object.yaml |grep -v '#'
[code]

[2021-02-11 09:32] electrical commented on #6977
The logic sounds good yeah. Looking forward to try it out :-)

[2021-02-11 09:40] vaassi opened #7202 "ceph-cluster-controller: node watcher: do not use all Nodes in cluster "rook-ceph-external", skipping"
Try to connnect Rook with external ceph cluser but get
[code]

**Bug Report**

kubectl -n rook-ceph logs rook-ceph-operator-d96599976-wdkms -f

[code]

**Environment**:
* OS (e.g. from /etc/os-release):
`NAME="CentOS Linux"
VERSION="8 (Core)"
`

* Kernel (e.g. `uname -a`):
`Linux 4.18.0-193.19.1.el8_2.x86_64 #1 SMP Mon Sep 14 14:37:00 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

* Cloud provider or h

[2021-02-11 10:36] Madhu-1 opened #7203 "Disable hostnetworking for CSI drivers"
currently, cephcsi daemonset pods are using the hostnetworking by default. with https://github.com/ceph/ceph-csi/pull/1450 we don't need hostnetworking anymore for the RBD driver and the CephFS driver is already working fine without hostnetworking (tested during multus integration).

We can provide an option to disable the hostnetworking for now. For the existing cluster after the upgrade cephcsi

[2021-02-11 10:41] Madhu-1 commented on #7203
cc @humblec

[2021-02-11 10:41] leseb commented on #7203
I thought we had discussed that is https://github.com/rook/rook/pull/6310, isn't this enough https://github.com/rook/rook/pull/6310#issuecomment-756718432?

[2021-02-11 10:43] Madhu-1 commented on #7203
@leseb sorry I totally forgot about the effort. Thanks for the reminder. for the safer side. configuration to enable hostnetworking is missing in that.

[2021-02-11 11:16] idryomov commented on #7203
As I said in https://github.com/ceph/ceph-csi/pull/1450 more than once, I think we need to unify multus and non-multus configurations, i.e. use pod networking with noudev mapping option in all cases.

One particular issue with host networking that came up is host port allocation.  It appears that ceph-csi is using port tcp/9091 to its expose metrics but that port is going to be taken by ovn-kubern

[2021-02-11 11:18] leseb commented on #6865
You need to wipe the disk and remove any LVM metadata if you want Rook to use that partition.

[2021-02-11 13:40] leseb commented on #7203
Right, we still need a flag to enable/disable host-networking on the Operator config.

[2021-02-11 13:43] leseb commented on #7113
@olevitt once this patch https://github.com/rook/rook/pull/7194 is backported to the 1.5 branch you will be able to use it and it will help us a lot in understanding what's going on with your environment.

Rook 1.5.7 should roll out soon so please be patient.

[2021-02-11 13:54] leseb commented on #7063
Merged!

Will resume soon.

[2021-02-11 16:07] ron1 commented on #6977
The CephCluster Status in the test results her: https://pipelines.actions.githubusercontent.com/iiogn9Wx5zqXCM87xPkIxnTPJIdS2VhbCKrLZsm52MBx3qEW56/_apis/pipelines/1/runs/20818/signedlogcontent/12?urlExpires=2021-02-11T16%3A06%3A18.4258477Z&urlSigningMethod=HMACV1&urlSignature=w8KHCU4aoNkFWYiRYnRbs%2BK5cs8R%2Bu%2FFUlMG3GKnMkQ%3D for the revised patch look promising.

[2021-02-11 16:32] leseb commented on #7035
I suspect that we would need to update the ceph-csi cephx caps to access any namespace, right?

[2021-02-11 16:46] mmueen commented on #6865
The process that worked for me.

My problem was that I a partition (1TB) , which was holding the LV for my system files. Total capacity of the drive was 1TB.
I created a new partition from that and then let rook use that for OSD. The process was :

OS: Unbuntu 20.04

[code]

Now you can restart the rook operator by `kubectl -n rook-ceph get pods` and then 'kubectl -n rook-ceph delete pod <operator

[2021-02-11 17:26] #5752 closed

[2021-02-11 17:48] travisn commented on #7200
@OPSTime If the object store CR is being deleted, K8s won't allow you to make changes to it. Did you intentionally delete the object store?

[2021-02-11 17:59] matulek opened #7206 "Loopback devices aren't supported by Rook"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
I've tried to create a cluster based on the loopback block device, not the physical disk. Rook disallows me to do that with

**Expected behavior:**
Cluster finds and recognizes my loopback devices as usable by ceph.

**How to reproduce it (minimal and precise):**
Create cluster on nodes with loopback d

[2021-02-11 20:16] #6977 closed

[2021-02-11 20:21] #6552 closed

[2021-02-12 00:09] anilthalari opened #7209 "FailedMount kubelet"
* Bug Report

  Warning  FailedMount  30m (x13 over 66m)  kubelet  Unable to attach or mount volumes: unmounted volumes=[mypvc], unattached volumes=[mypvc default-token-bhhnf]: timed out waiting for the condition
  Warning  FailedMount  21m (x6 over 57m)   kubelet  Unable to attach or mount volumes: unmounted volumes=[mypvc], unattached volumes=[default-token-bhhnf mypvc]: timed out waiting for th

[2021-02-12 05:30] subhamkrai opened #7210 "Update docs according to the convention"
Whenever there are commands we should follow similar convention all over the docs so that docs are meaningful to the users.
We follow it in maximum places but not all the places.

We want to do something like this
[code]
Example:
[code]
[code]

[2021-02-12 05:37] subhamkrai opened #7211 "Add check for condition when both port and `securePort are 0"
If both `port` and `securePort` are 0, We should add to check in the admission controller and return an error.

[2021-02-12 05:39] abursavich opened #7212 "Extract API into separate module with minimal dependencies"
Because this module imports `k8s.io/kubernetes`, its go.mod is a rats nest of gigantic dependencies and module replace hacks which are foisted upon any user that wants to use the rook API packages.

If the dependency on `k8s.io/kubernetes` cannot be removed, it would be kind to extract the API packages (i.e. `github.com/rook/rook/pkg/apis/...`) to their own module (e.g. `github.com/rook/api/...`)

[2021-02-12 05:49] subhamkrai commented on #7211
There was a [comment](https://github.com/rook/rook/pull/5986#discussion_r467226108) by @travisn to add this check when I was working on a similar issue (#5986) but at that time it was not related to the PR and later on I forgot, opened this issue to track this so that I don't forget this time. :)

[2021-02-12 07:59] ibotty opened #7213 "publish on quay.io"
With docker.io rate limits, it is sometimes not possible to fetch images.

[2021-02-12 08:02] leseb commented on #7206
ceph-volume, the tool Rook is using to prepare OSD disk does not support loop devices. So in order to get support in Rook, you would need to explicitly open a request here https://tracker.ceph.com/, under the ceph-volume component.

I suspect using raw mode might be yet again the answer. See https://github.com/rook/rook/pull/4879, we should be able to merge this soon.

[2021-02-12 08:03] leseb commented on #7213
Thanks for reporting this, we will investigate that possibility soon.

[2021-02-12 08:24] OPSTime commented on #7200
Yes, I want to recreate it。
What should I do?

[2021-02-12 08:50] mduasope opened #7214 "Update Disaster Recovery procedure for Mon Quorum - command terminated with exit code 137"
* Feature Request

**What should the feature do:**
We have followed the steps from
https://rook.io/docs/rook/v1.5/ceph-disaster-recovery.html
and we may fail to complete the whole procedure.

I tried to follow the steps assuming mon-c was the good one:

BUT I was stuck on this step:

Patch the rook-ceph-mon-b Deployment to run a sleep instead of the ceph mon command:
kubectl -n rook-ceph patch dep

[2021-02-12 10:01] matulek commented on #7206
@leseb sorry, but looking at this file: https://github.com/rook/rook/blob/master/pkg/clusterd/disk.go#L37 I assume that this is the right repository.

[2021-02-12 10:31] leseb commented on #7206
The main issue with loopback devices is that we tell the lvm filter to ignore them when deploying a cluster on PVC. When dynamically attaching PV, kubelet also creates a loopback device, so if we don't ignore those in the lvm filter the OSD will be reported twice and ceph-volume will break.

It's not a scenario we intend to support at the moment since we are focusing on production scenarios. Allow

[2021-02-12 16:49] #6980 closed

[2021-02-12 16:53] jbw976 commented on #7213
Hey there @ibotty, thanks for bringing this up.  You've seen this in your clusters now? Any chance you can show what the error looks like? i haven't seen it yet myself and I'd love to know more about how it shows itself.  Thank you!

[2021-02-12 17:41] travisn commented on #7200
@OPSTime You'll need to delete the object store CR before creating a new one. First check the operator log to see if there are any errors about deleting the object store. As a last resort, you can remove the finalizer on the CR as described [here](https://rook.github.io/docs/rook/v1.5/ceph-teardown.html#removing-the-cluster-crd-finalizer).

[2021-02-12 17:41] evankanderson commented on #2079
It appears that Beast is available since v13.2.0 (Mimic), but it's not clear to me how to use rook to select which frontend to use.

[2021-02-12 19:17] haslersn commented on #6849
I'm also affected by this problem. Is there a workaround?

[2021-02-12 19:49] ibotty commented on #7213
Yes, I have seen that on several on my clusters.  Unfortunately I don't have any events anymore.  It was the usual

[code]

Or similar.

[2021-02-13 00:57] BlaineEXE commented on #7198
That article is pretty old. @liewegas or @leseb do you know if that is still relevant for Ceph Octopus (or upcoming Pacific)?

[2021-02-13 01:21] BlaineEXE commented on #7206
I think it should be possible to create a loopback device and create a Kubernetes Local PersistentVolume (LPV) on it, then tell Rook to use that LPV via `storageClassDeviceSets`.

[2021-02-13 01:28] BlaineEXE commented on #7113
@olevitt you might also try updating the `dd` command to wipe a larger part of the disk. Try 1GB instead of 100MB. It's possible there is LVM meta-info still present on the disk.

[2021-02-13 02:11] OPSTime commented on #7200
Thank you !
I found “finalizers” in CephObjectStore.

$ kubectl edit CephObjectStore -n rook-ceph
`apiVersion: ceph.rook.io/v1
kind: CephObjectStore
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"ceph.rook.io/v1","kind":"CephObjectStore","metadata":{"annotations":{},"name":"object-store","namespace":"rook-ceph"},"spec":{"dataPool":{"failureDom

[2021-02-13 13:04] OPSTime commented on #7200
i find error log from deploy/rook-ceph-operator:
2021-02-13 12:58:29.185118 E | ceph-object-controller: failed to reconcile failed to create object store deployments: failed to create object pools: failed to create data pool: failed to create pool object-store.rgw.buckets.data for object store object-store.: failed to create replicated pool object-store.rgw.buckets.data. Error ERANGE:  pg_num 32 s

[2021-02-13 18:07] OPSTime commented on #7200
Error:
[code]

$ cat t.sh
[code]

$ bash t.sh
[code]

run export command
run "s3cmd ls --no-ssl --host=rook-ceph-rgw-object-store.rook-ceph.svc --host-bucket= s3://$BUCKET"
[code]

[2021-02-13 19:51] matulek commented on #7206
unfortunately I don't, It's hard with this vendor to get additional block devices attached to their VPSes. I intend to try it, but I wanted to go on with my setup before I get them to do it.

Thanks, I'll try to do this.

Thank you for claryfing, so it's not easy thing to do. I'm closing this issue then.

[2021-02-13 19:51] #7206 closed

[2021-02-13 20:59] ron1 commented on #2079
Rook uses the beast frontend. Ceph rgw beast front-end needs to support separate ca_file parameter to achieve ideal rook integration.

[2021-02-13 23:06] travisn commented on #4841
@Madhu-1 Do you have an idea which RBAC is not needed, or it's just time to review thoroughly?

[2021-02-14 05:18] valkmit commented on #6849
I am also looking for a potential fix for this!

[2021-02-14 22:15] Antiarchitect commented on #7038
[code]

Also cannot upgrade from 1.5.5 to 1.5.7 due to the error.

[2021-02-15 08:12] leseb commented on #6849
@hasheddan @valkmit what about this? https://github.com/rook/rook/issues/6849#issuecomment-748314135 is it not feasible for you?

[2021-02-15 08:15] leseb commented on #7206
Just to clarify one thing, the LVM filter story is actually outdated, because we use a different method to prepare OSD on PVC (we call it RAW mode since there is no LVM layer anymore) then it should work if you create a local PV. You can take some inspiration from this script: https://github.com/rook/rook/blob/master/tests/scripts/localPathPV.sh

[2021-02-15 10:30] leseb commented on #7213
@jbw976 do you know who owns Rook's quay org at the moment? Thanks!

[2021-02-15 10:47] TomHellier opened #7223 "Multiple file systems need to be quoted in helm chart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The multiple filesystems parameter recently added in [my recent change](https://github.com/rook/rook/issues/7007) doesn't work, due to a quoting issue.

**Expected behavior:**

**How to reproduce it (minimal and precise):**

Attempt to configure the helm chart for rook-ceph, using the parameter `allowM

[2021-02-15 11:22] leseb commented on #7198
From my perspective, the article is still valid and the request legit, custom rules is something we somewhat introduced internally and not really exposed since they can be really advanced.
Also, the EC's interest has never been high from my perspective, so we would need to see when we have the bandwidth for this, even though the scope is bigger than EC :).

[2021-02-15 11:24] leseb commented on #6042
Assigned to @iamniting, did you sync with @rohantmp that it was ok to work on this?

[2021-02-15 11:28] #7223 closed

[2021-02-15 11:34] iamniting commented on #6042
Yes, I synced up with @rohantmp before working on it.

[2021-02-15 12:19] Madhu-1 commented on #4841
i will take a look at it soon, Thanks for the reminder @travisn

[2021-02-15 12:23] Madhu-1 commented on #7035
Yes, the current users should be able to access all the namespaces, but I would expect the user to create their own cephx users and secrets for secure-auth.

[2021-02-15 14:00] Jasper-Ben opened #7226 "RBAC issues when creating ceph cluster on different namespace"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The `rook-ceph-detect-version` job created by the rook operator fails with

```Warning  FailedCreate  1s (x2 over 11s)  job-controller  Error creating: pods "rook-ceph-detect-version-" is forbidden: error looking up service account rook-ceph-mirror/rook-ceph-cmd-reporter: serviceaccount "rook-ceph-cmd-

[2021-02-15 15:13] Jasper-Ben commented on #7226
I tried to work around this issue by recreating the rules, rulebindings and serviceaccounts within the desired namespace. However now I run into https://github.com/rook/rook/issues/6448

[2021-02-15 15:20] Jasper-Ben commented on #7226
Found https://github.com/rook/rook/pull/5573, which would resolve this, but does not have a related issue, thus keeping this open.

[2021-02-15 16:16] travisn commented on #7226
@Jasper-Ben Does [this topic](https://rook.github.io/docs/rook/v1.5/ceph-advanced-configuration.html#using-alternate-namespaces) help for using a different namespace?

[2021-02-15 19:15] haslersn commented on #6849
@leseb with v15.2.7 I get a different error. [Full log](https://gist.github.com/haslersn/5b83690dcee7db2f5b44c329b9dbeb4f). Tail of the log:

[code]

[2021-02-15 19:25] travisn commented on #7200
@OPSTime Can you summarize what issue you need help troubleshooting? Were you able to create the new object store or not? Now when creating a new pool, you're also reaching the PG limit. This could be increased through the toolbox.

[2021-02-15 20:11] jstewart612 opened #7233 "NFS Admissions Webhook cert errors"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Error from server (InternalError): error when creating "nfsserver.yaml": Internal error occurred: failed calling webhook "validation.nfsserver.nfs.rook.io": Post "https://rook-nfs-webhook.rook-nfs-system.svc:443/validate-nfs-rook-io-v1alpha1-nfsserver?timeout=30s": x509: certificate signed by unknown

[2021-02-15 20:52] kyle-rf commented on #7175
After reviewing Rook's code, I suspected issue is actually directly related to Kubernetes.

Although the feature CSIFSGroupPolicy is supposed to be enabled by default in Kubernetes 1.20.  I had to explicitly set it on kubelet and kube-apiserver in order for the csidriver resources to successfully set the parameter.

I am able to set it now.  Not a bug in Rook, closing ticket.

[2021-02-15 20:52] #7175 closed

[2021-02-15 23:14] jbw976 commented on #7213
I think @travisn and I both have access to it as admins.  We can follow up privately for any chances needed :)

[2021-02-16 04:40] toshipp opened #7236 "CSI_ENABLE_CEPHFS_SNAPSHOTTER is not assigned correctly by helm"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

The rendered deployment manifest for `rook-ceph-operator` has no value for a `CSI_ENABLE_CEPHFS_SNAPSHOTTER` environment variable.

**Expected behavior:**

`"true"` for `CSI_ENABLE_CEPHFS_SNAPSHOTTER` should be assigned as described in https://github.com/rook/rook/blame/a1b3682d9d31031f84879b681649f0c

[2021-02-16 08:20] leseb commented on #6849
I don't know what's going on, could please open a bug here? https://tracker.ceph.com/ under the ceph-volume component?
Thanks

[2021-02-16 08:50] jaxels10 commented on #6776
Hi @ron1. I wanted to join this conversation as I am right now sitting with the choice of how to install `rook-ceph` with helm charts. I read your post and first I have a question. Why doesn't it work as suggested in [method #1 in the helm chart docs](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/) to just put the CRDs into a `crds` folder and then the CRs into the `templat

[2021-02-16 10:01] vaassi commented on #7202
change namespace from` "rook-ceph-external"` to `"rook-ceph"` during installation helps me to solve this issue.

[2021-02-16 13:17] Jasper-Ben commented on #7226
@travisn using the helm chart for creating multiple operators breaks, as clusterroles are already defined (as is expected). It _might_ work using kubectl, but as my concept moved away from having multiple clusters, I will not pursue this any further, at least for now. Thanks for your help nevertheless! I will keep this issue open, as it relates to https://github.com/rook/rook/pull/5573.

[2021-02-16 18:17] #6716 closed

[2021-02-16 18:28] travisn commented on #7226
@Jasper-Ben The helm chart should allow installing to a different namespace, just not multiple namespaces. Did you get the failure with multiple namespaces, or even just installing to a single namespace that wasn't `rook-ceph`?

[2021-02-16 18:40] travisn commented on #7202
@vaassi What was the issue? Looks like this issue title is referring to some debug logging messages, but it doesn't seem like an error.

[2021-02-16 19:20] travisn commented on #7236
Ah yes, it looks like the `enableCephFSSnapshotter` in values.yaml does not match the casing `enableCephfsSnapshotter` in deployment.yaml.

[2021-02-16 20:31] vaassi commented on #7202
Hello @travisn, the problem was that rook stuck in connecting state to external cluster forever.
[code]
So I decided to reinstall rook and do not use rook-ceph-external namespace. I create all secrets in rook-ceph and I see that rook connect to external cluster successfully.
[code]
Right now I have another problem, pvc claim not works:
[code]

**# kubectl -n rook-ceph logs csi-rbdplugin-provisione

[2021-02-16 21:13] melnik13 commented on #5670
@surajssd, thank you, `--patch '{"spec":{"csi":{"controllerExpandSecretRef":{"name":"rook-csi-rbd-provisioner","namespace":"rook"}}}}'` worked like a charm.

[2021-02-16 21:42] mecseid opened #7244 "Error messages about non-existent cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The operator push this message on a daily approach:
[code]
I don't know why it thinks that I have a "logging" named cluster, because I only have one: (although I have a namespace with name logging)
[code]

**Expected behavior:**
Not see the messages about the non-existent clusters.

**Environment**:
*

[2021-02-16 21:55] travisn commented on #7244
@sp98 It seems the pdb controller is printing messages for unrelated pdbs. How about we suppress this message?

[2021-02-16 22:28] haslersn commented on #6849
@leseb Thanks, I will do so after my registration is approved.

Could it be that it's not allowed to have metadata pools on partitions? See https://tracker.ceph.com/issues/47966#note-3

[2021-02-17 00:10] olevitt commented on #7113
Hi all !
I'm happy to finally announce that I got it working !

My findings on what I believe happened :
* We had a running cluster with 4 osd
* We tried to add a new osd to the cluster but it failed (from what I gathered, due to missing lvm binary on the system but I may be wrong on this). In fact, it failed but had still partially created a new osd on the cluster (`ceph auth list` returned one m

[2021-02-17 00:10] #7113 closed

[2021-02-17 04:24] valkmit commented on #6865
Following this thread. I also have an SSD that ceph is not accepting into the topology for this LVM2 message

[2021-02-17 04:33] ron1 commented on #6776
Hi @jaxels10. Method #1 does work for day one installs. However, compared to Method #2, it is less flexible because 1). it couples crd management which is a cluster admin function with other functions that only require namespace-level privileges 2). it offers "no support at this time for upgrading or deleting CRDs using Helm". With Method #2, a cluster admin will likely have more flexibility when

[2021-02-17 04:37] #7236 closed

[2021-02-17 08:12] ahmedTouati opened #7252 "Unable to force the creation of OSDs each on different AZ"
I want to create a cluster-on-pvc using Rook and CephFS with 3 OSDs, when using the default configuration i can get each OSD on different AZ when i have 3 nodes in my cluster with each on different AZ, but when i have only two nodes running in the cluster i expected that one of the 3 OSDs will remain in the pending state until a new node with the corresponding AZ is added, but i can see that the t

[2021-02-17 08:19] PBXForums commented on #6865
I've given up using ceph for other reasons but just to put anyone who may be trying to debug this on track, this is what I saw happening roughly....

You start of with a blank drive, some LVM info was then written to the drive, I cannot remember exactly but in my case, maybe it was LV but the size needed was 1 thing more than it should have been for for example the message was something like 12345

[2021-02-17 10:11] leseb commented on #6849
Could be but I'm not sure, c-v's partition support is still confusing.

[2021-02-17 16:02] travisn commented on #7252
@ahmedTouati Are you seeing the required nodeAffinity applied to the OSD deployments? It sounds like the node affinity is not being applied, otherwise it should remain pending as you expect. For example, do you see the affinity when you look at the deployment spec?

Try using the `placement` instead of `preparePlacement`. Also check the indentation, something like this:
[code]

[2021-02-17 20:06] #6608 closed

[2021-02-17 20:06] #6597 closed

[2021-02-18 08:11] jaxels10 commented on #6776
@ron1 thanks a lot for your response. I agree that splitting the CRDs and the CRs into different charts seems to be the way to go. I have already done that in my project. I can definitely contribute with that. I have to look more into Kustomize before I am able to join a discussion on that. Would your proposal to use Kustomize have any influence on the structure of the Helm charts for Rook(other t

[2021-02-18 08:38] ahmedTouati commented on #7252
@travisn  I thought that setting the nodeAffinity in the preparePlacement is enough since OSDs pods will be placed on the same node as prepare-osd pods but i'll try setting it in the placement section as you said

[2021-02-18 10:09] ron1 commented on #6776
@jaxels10 Thanks for the feedback. I proposed the optional use of Kustomize to avoid having to accommodate every possible CR configuration in the non-crd helm chart. I was thinking maybe that chart handles the Operator and one of either a CephCluster

[2021-02-18 10:22] derek-eb commented on #7175
Hi @kyle-rf , would you mind to let me know how do you set the parameter in detail?

[2021-02-18 12:41] DjangoCalendar commented on #6849
@travisn does this issue affects upgrades as well.

Let's say I am using:
- ceph:v15.2.7
- rook/ceph:v1.5.3

with this setup I am running on raw partitions.

Will I be able to upgrade to version for example:
- ceph:v15.2.8
- rook/ceph:v1.5.7

Asking in shorter way:
Does this is issue affects only fresh deployment or upgrades as well ?

[2021-02-18 13:14] cbartz commented on #6849
@DjangoCalendar You can upgrade and use your existing ODS. But if you want to setup a fresh OSD it wont work on partitions.

[2021-02-18 14:12] kyle-rf commented on #7175
Hi @derek-eb,

On every node of my cluster I edited the "kubeadm-flags.env" file.  It was located at /var/lib/kubelet/kubeadm-flag.env on my systems.  Then restart the kubelet service on all nodes after editing the file.

For example, my file looks like this:

`
KUBELET_KUBEADM_ARGS="--network-plugin=cni --pod-infra-container-image=k8s.gcr.io/pause:3.2 \
	--feature-gates=CSIVolumeFSGroupPolicy=tru

[2021-02-18 18:08] Jasper-Ben commented on #7226
@travisn I was trying to install multiple clusters, so this was the issue then :) So as I understand installing multiple clusters is possible, just not with the helm chart.

[2021-02-18 19:46] BlaineEXE commented on #7226
If you look in the `common.yaml` for resources that are created in namespaces with comments `# namespace:cluster`, those need to be created in any namespace where the cluster should be run.

[2021-02-18 19:55] BlaineEXE commented on #6776
I'm concerned about the practicalities of user updates by separating the helm charts. Sometimes updates to Rook require udpates to the CRDs, and if users do not update CRDs when updating Rook, they could encounter bugs.

To my understanding, this PR makes it so that CRDs won't be deleted by Helm, but they will still be updated.
https://github.com/rook/rook/pull/7167

[2021-02-18 20:03] BlaineEXE commented on #7202
I don't believe the errors in the CSI plugin like `an operation with the given Volume ID` are cause for alarm.

[2021-02-18 20:09] BlaineEXE commented on #4942
Closing due to removal of CockroachDB operator.

[2021-02-18 20:09] #4942 closed

[2021-02-18 22:07] ron1 commented on #6776
Hi @BlaineEXE. The expectation is that the rook-ceph-crd and rook-ceph charts would be versioned together. This is a best practice that Rancher has adopted with their Operator-based charts including https://github.com/rancher/charts/tree/dev-v2.5/charts/rancher-logging, https://github.com/rancher/charts/tree/dev-v2.5/charts/rancher-monitoring, and other charts in repo https://github.com/rancher/ch