[2019-12-20 19:48] travisn opened #4577 "Incorrect error handling could result in finalizer not being removed"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

This is faulty logic surrounding the removal of a finalizer. If the cast of ​obj​ fails, the finalizer will be reported as removed.
If ​obj​ is not successfully cast into an e​ dgefsv1.Cluster​, ​ok​ will be ​false​, resulting in the .Update(cluster)​ operati

[2019-12-20 19:52] travisn opened #4578 "Enable gosec tool with CI"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Prevent code quality issues from being introduced by running the `gosec` tool as part of the CI.

In order to enable this tool, we first need to have a clean slate from gosec as mentioned in #3765, which is in progress with #4498.

**What is use case behind this feature:**
Increasing code quality.

[2019-12-20 22:04] yanchicago commented on #3336
Not in 1.2 release yet.

[2019-12-20 22:09] travisn opened #4579 "Remove use of MkdirAll"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

The application makes use of `MkdirAll()`​, which has a subtle semantic issue: Errors are not returned when a directory exists but is not of the requested permission. This may lead to a situation wherein an attacker has created directories prior to Rook, and

[2019-12-20 22:12] travisn opened #4580 "Use most narrow file and directory permissions possible"
**Is this a bug report or feature request?**
* Bug Report

Follow-up from security review with [TrailOfBits](https://www.trailofbits.com/):

Throughout the repository there are areas in which files and directories are written and created with statically defined permissions. Many of these permissions are rather open, potentially allowing other system tenants to view and interact with their contents

[2019-12-21 05:51] ashishranjan738 commented on #4579
i would like to work on this @travisn

[2019-12-21 08:08] stellirin commented on #4470
I tried Rook v1.2.0 and the operator behaviour is still the same, it took 6 hours to do the initial provision. But this time all of the `rook-discover` pods have `ceph-volume` running at 100% on one CPU core.

Can you think of any changes between v1.1 and v1.2 on the `rook-discover` service that may cause this additional change in behaviour?

[2019-12-21 10:58] stefanfritsch commented on #4558
This can be fixed by editing the osd deployment and adding the following to the `env` section of the `activate-osd` `initContainers`:

[code]

And this to the `volumeMounts` of the same `initContainers`:

[code]

Unfortunately this is not permanent and there is no easy fix using just kubernetes. Instead it has to be fixed in the source and the operator has to be recompiled and that new version app

[2019-12-21 13:36] ron1 commented on #4548
@travisn Thanks for your detailed response.

I expect Red Hat to be that "someone from the community to step and contribute to the release process" and support k8s 1.11/OKD 3.11/OCP 3.11 for an extended period of time given the following barriers to moving off its legacy OKD/OCP 3.11 Kubernetes distros:

- in-place upgrades from OCP 3.11 to a follow-on OCP version, i.e., OCP 4, are not supported
-

[2019-12-21 16:41] stefanfritsch opened #4581 "csi cephfs PVCs not working after upgrade to 1.2"
**NOTE**: I suffer from #4558 which could impact rook overall. But as the ceph cluster is working, block devices are working and mounting the file system with direct-mount is working, I'd say it's a separate problem with rook 1.2.0

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Since the upgrade to 1.2 cephfs pvc no longer connect with the pvc st

[2019-12-21 16:59] stefanfritsch commented on #4581
Adding a random annotation to the `CephCluster` CRD and deleting the operator pod afterwards seems to have solved the issue. `csi-provisioner` and friends are back.

[2019-12-21 16:59] #4581 closed

[2019-12-21 18:18] #3856 closed

[2019-12-21 23:47] #2884 closed

[2019-12-22 06:16] travisn commented on #2175
External clusters and dynamic provisioning are actually already supported in v1.1 with the external cluster feature and CSI driver.

[2019-12-22 06:16] #2175 closed

[2019-12-22 06:19] travisn commented on #3856
@Liuxiayu This new [Ceph OSD Mangement](https://rook.io/docs/rook/v1.2/ceph-osd-mgmt.html) doc may help answer your questions

[2019-12-22 11:58] Bessonov commented on #1809
activity...

[2019-12-23 03:15] shuaiwang8765 commented on #1169
hello, ceph offical has supported csi-resizer,so I want to know wheather  the rook can support csi volume expand .  what the time?

[2019-12-23 06:10] zoetrope opened #4582 "placement doesn't work with OSD on PVC"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When I specified `podAntiAffinity` for `storage.StorageClassDeviceSets.placement` to distribute each OSD pods over the different nodes, it doesn't work correctly.

There were three worker nodes in my Kubernetes cluster and the DeviceSet's count is also 3. So OSD pods should be spread over each worker n

[2019-12-23 06:12] #3878 closed

[2019-12-23 07:38] leseb commented on #4529
From an OS perspective, it's hard to make a distinction between an actual drive or a USB dongle. So the only thing we can do is treat by size or using excluding filters.
Just like Travis mentioned we have documentation for this, so I'm closing this.

[2019-12-23 07:38] #4529 closed

[2019-12-23 07:54] crombus commented on #4572
I wish to take up this issue

[2019-12-23 08:24] leseb commented on #4572
It's yours now.

[2019-12-23 08:38] zoetrope commented on #4397
Can you show your `standard` storageClass resource?
If `volumeBindingMode` is `Immediate`, the PV will not be provisioned on the same node as the Pod.
Please try `volumeBindingMode: waitForFirstConsumer`.

ref. https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/local-ssd

[2019-12-23 09:03] code-chris commented on #4397
@zoetrope
This is the standard StorageClass created by GKE. I checked this now and the bindingMode is Immediate.
I will try this again in January, when I'm back at work. Thanks for the tip!

[2019-12-23 09:11] leseb commented on #4558
@stefanfritsch I don't think we will be able to release a 1.2.1 quickly since everyone is almost on leave. I built a fix on top of 1.2, in the meantime here: `leseb/testing:fix-4558` if you're interested.

[2019-12-23 09:44] bmillemathias-1a commented on #4529
I don't know what are the OSes you target but there is a "removable" property available in udev for devices that's why I suggested such filter could be added by default.

[2019-12-23 09:53] leseb commented on #4529
Unfortunately, our filter does not work with udev. The only thing we do is look at the naming on `/dev`, that's why I meant it's hard to tell is `/dev/sda` is an actual drive or a USB key.

[2019-12-23 09:58] bmillemathias-1a commented on #4529
Yes exactly, on bare metal the usb drive can even change name over reboot.
does supporting udev filters could be a sensible feature request ?

[2019-12-23 14:16] leseb commented on #4529
The goal is to ultimately rely on `ceph-volume` to validate devices. I have some code for this pending. I don't think we went to go to the business of introspecting devices again. So c-v has filters already if they need to be expanded/altered/disabled then it's more a c-v feature request at this point. Once it's there we can expose those.

[2019-12-23 14:17] stefanfritsch commented on #4558
Hi @leseb,

thank you very much. Unfortunately your fix is not working. I still need to add

[code]

Could you please reopen?

[2019-12-23 14:21] kookone commented on #4553
I also encountered this problem，I tried but it still doesn't work

[2019-12-23 14:23] leseb commented on #4558
Rargh!! Yes... Sending a new PR for this.

[2019-12-23 14:24] stefanfritsch commented on #4558
Apart from that, many, many thanks a lot for the quick `leseb/testing:fix-4558` build. 👍

I hope you can provide one for the fix with `ROOK_CEPH_MON_HOST` as well.

It's not a nice feeling, knowing that the cluster can go offline any time if the operator relaunches the osd pods. It's not exactly production but a few people might notice. And the bug should affect more people as well.

[2019-12-23 14:41] leseb commented on #4558
Yes sorry about that, I should have paid more attention, so many things to finish before going on PTO. I just built `leseb/testing:fix-4558-2` I think this one is good now. Let's hope!

Yeah sorry about this issue, we should have caught that from our CI... We need to add an encrypted test.

[2019-12-23 15:12] stefanfritsch commented on #4558
Hi,

unfortunately, it's still not working.

It has to be defined in this order:
[code]

But it looks like this:
[code]

This results in the error:

[code]

[2019-12-23 15:19] leseb commented on #4558
Please try: `leseb/testing:fix-4558-3`.

[2019-12-23 15:41] stefanfritsch commented on #4558
That worked! Thanks so much.

I'll put your image in the first post.

[2019-12-23 15:41] #4558 closed

[2019-12-23 17:25] code-chris opened #4590 "CSI pods intermittently disappear"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
- The Ceph-CSI-Pods (Plugin and Provisioner) should not beeing killed if the Operator is restarted for whatever reason...

**Expected behavior:**
- The CSI-Pods are running normally.

**How to reproduce it (minimal and precise):**
- Create a CephFS-Cluster with the current images (Rook 1.2.0), I used h

[2019-12-23 22:12] #3751 closed

[2019-12-24 08:22] beelzetron commented on #4560
I've added this block to my rook-ceph-operator deployment:
[code]
The resulting rook-ceph-agent DS now has this toleration:
[code]
but the pod are still not getting scheduled to master nodes because of the same nodeSelector setting only present in the pod definition and not in the DS itself.

[2019-12-24 08:25] #3897 closed

[2019-12-24 11:11] revengel commented on #4345
The same issue

[2019-12-25 01:25] #3320 closed

[2019-12-25 07:23] houey commented on #1447
Trying to have the internal only hostname removed from this issue if possible

[2019-12-25 14:48] annismckenzie commented on #3284
This isn't fixed with 1.1.x. Can someone please reopen it?

[2019-12-26 05:46] satoru-takeuchi commented on #4387
One of my co-workers @tapih made a branch that enables topologySpreadConstraints.

https://github.com/cybozu-go/rook/commit/b4bd2eef5529290ccb317f3872649a96687cef01

This branch is on top of the following branch.

https://github.com/rook/rook/pull/4408

When topologySpreadConstraints goes into beta, I'll make a PR based on this branch.
Any comments are welcome.

NOTE:
Unfortunately, this feature a

[2019-12-26 08:21] nfrush opened #4591 "Add ability to specify image tag for CockroachDB Operator"
**Is this a bug report or feature request?**
* Feature Request

**Feature Request**

**Are there any similar features already existing:**
Ceph has a similar ability in the config.yaml currently

**What should the feature do:**
Currently, we can specify the images to use for the Ceph operator. There should be similar options for the CockroachDB operator

**What would be solved through this feature:

[2019-12-26 14:57] travisn commented on #3284
@annismckenzie From the original description I'm understanding that Rook is correctly configuring the mgr to the cluster network with the override settings. Could you also confirm this in the v1.2.x release? If this is the case, more investigation would be needed from the ceph mgr rather than in rook.

[2019-12-26 15:25] travisn commented on #3953
The OSD removal process is now documented [here](https://rook.io/docs/rook/v1.2/ceph-osd-mgmt.html). The operator is not expected to remove OSDs automatically.

[2019-12-26 15:25] #3953 closed

[2019-12-26 15:57] #3896 closed

[2019-12-26 18:19] travisn commented on #4590
@code-chris This line indicates that the operator successfully verified that the csi driver daemonset(s) were created when it started:
[code]
A change in v1.2 that may be related is that ownerReferences are now set on the CSI driver daemonsets so they will be cleaned up when the cluster is deleted. But the owner references are not parented to the operator. Instead, they are parented to the ConfigM

[2019-12-26 22:52] jbw976 commented on #1447
ah sorry about that @houey, I don't see a way to delete the issue entirely, but I have scrubbed that data from the details now. hope that works, thanks!

[2019-12-27 07:55] code-chris commented on #4590
No, the ConfigMap is still there, but the DaemonSet and the Provisioner-Deployment are gone.
A restart does not always bring back the pods again. This is random....

[2019-12-27 14:34] code-chris commented on #4590
Hm, I had an eye today on this behavior and on the csi restarts.
The CSI pods disappeared very often when the operator was restarted (manually or on crash), but not always.
They came back on the next restart every time today (a few days before, it was more random and only after four or five restarts...)

When the CSI-Pods are restarted the Pods which consume storage loose their mount, is this corr

[2019-12-27 17:34] vitobotta commented on #3132
Hi guys. I am the user who originally started the thread. I stopped using Rook/Ceph a few months ago because of this issue. I would like to try it again but it seems that it hasn't been resolved yet?

[2019-12-27 20:31] satoru-takeuchi commented on #3132
@vitobotta Probably it's not resolved yet and it would be the kernel's problem. I've waited for the answer to the following request from someone, but I haven't got it yet.

https://github.com/rook/rook/issues/3132#issuecomment-557726362

I'm not sure whether any other people are tuckling this issue.

[2019-12-27 20:45] ceyhunn commented on #2591
After  restart, `/dev/ceph-....` directory disappears.  I have the same issue, but it doesn't work, neither patch nor init container, but `vgchange` makes `/dev/ceph-....` active, only problem I can't see the directory, that is why osd pod fails.  `/dev/ceph-....` can't be restored. I use rancher os. Please help me, what am I missing?

[2019-12-28 05:09] hh commented on #4051
@cyb70289 it might be possible for us to get an arm64 hardware node for CI via the CNCF and/or Packet.

If we did, could we plumb the node for testing rook ARM deployments to get around the travis limits?

[2019-12-28 05:55] cyb70289 commented on #4051
Thanks @hh
One difficulty is how to plug an external node into Travis CI system. And per my understanding, we cannot direct Travis CI job to some specific node.
Another issue is that we may need several arm64 machines to support daily development. Enough resources are necessary to make sure community CI runs smoothly.

[2019-12-28 06:33] hh commented on #4051
It might be possible to use a secondary CI in addition to Travis.
Prow, gitlab, jenkins all support adding arm CI nodes.

What are the requirements from the nodes resource workflow wise?

[2019-12-28 13:23] chechuironman opened #4594 "rook-ceph is not available message on OpenShift"
I deployed rook-ceph, and works fine. However, I always see the message "rook-ceph is not available" on the main dashboard, and I can not see any persistent volume dashboard on the persistent volume tab

[2019-12-28 14:03] leojonathanoh commented on #2517
This happens on `rook v1.1.6`

[2019-12-28 15:39] Hugome commented on #3132
Hi all, i have the same issue on my cluster.
High CPU -> High IO wait without any real IO -> lot of blocked process (D state) so a deadlock.
With the "hung_task_panic" at 1, i have some stacktrace :
[code]
You can also find stacktrace with`sudo cat /proc/<PID of a D process>/stack`

I have no idea how to reproduce this behavior. I was upgrading my cluster, draining node after node. And in the drai

[2019-12-28 15:44] albertdb commented on #3132
@Hugome Try with ext4. The high CPU usage will still be a problem, but no-one has experienced (and reported) a deadlock yet.

[2019-12-28 16:01] Hugome commented on #3132
@albertdb Ok thanks, I will try.
Maybe I'm a little naive, but do you think there is some method to migrate existing XFS -> EXT4 withtout recrating the pool ? I was thinking something like stop every rook/ceph process/pod.
Migrate every `/dev/rdbXX` with `fstransform`, change my storage class with the good  `csi.storage.k8s.io/fstype` and the restart rook/ceph. I don't think it can work without an

[2019-12-28 17:53] secret104278 commented on #4574
Hi, I would like to fix this issue. What should be done are
* Validate if `CephObjectStore.Gateway.Port` / `CephObjectStore.Gateway.SecurePort` between 1 and 65535

I will soon open a PR, leave a comment if you found anything should be done additionaly.

[2019-12-29 00:10] stopsopa opened #4595 "Homepage button "Try it out now" leads to 404 page"
I didn't know where to report that so here it goes, should be easy to fix i gues.

[2019-12-29 00:33] satoru-takeuchi commented on #3132
@Hugome Great. IIRC, It's the first time to get the kernel backtrace that would be related to this problem. It's very useful to find the locks and the logics that cause this problem. I'll search whether the similar bug fixes and any bug reports exist or not. In addition, I'll read kernel code.

Could you provide any other process's back traces if you have?

@albertdb At least @vitobotta , the firs

[2019-12-29 09:30] albertdb commented on #3132
@satoru-takeuchi Not with ext4. With XFS yes, deadlocks are easy to reach due to this issue.

[2019-12-29 11:29] #3952 closed

[2019-12-29 14:29] #3646 closed

[2019-12-29 14:29] #2865 closed

[2019-12-29 14:29] #3718 closed

[2019-12-29 14:29] #3536 closed

[2019-12-29 14:29] #2785 closed

[2019-12-29 15:08] cjyar commented on #4051
Probably also worth considering GitHub Actions. Lots of projects seem to be moving that direction, and it supports [self hosted runners](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/about-self-hosted-runners).

[2019-12-29 15:29] #2850 closed

[2019-12-29 15:29] #2849 closed

[2019-12-29 18:51] galexrt commented on #4595
Thanks for reporting I have opened https://github.com/rook/rook.github.io/pull/79 to fix the issue.

[2019-12-29 20:45] rofra commented on #3132
I still encounter the issue with Rook 1.2.0 on Ubuntu 18.04 updated, server totally freezes, only responding to ping, nothing more.

[2019-12-29 22:29] #2723 closed

[2019-12-30 01:50] cyb70289 commented on #4051
Transfer to new CI system is a non-trivial task. Unless it has strong benefits, I guess upstream maintainers may not very interest in doing it.
Regarding nodes requirement, it depends on project. For projects with many active PRs and heavy jobs, CI nodes(cluster) should have enough resources(cpu/memory/...) and stable enough without delaying or blocking community reviews.

[2019-12-30 02:58] CalvinHartwell commented on #3132
Hi @rofra, others

Out of interest, can you please give the specs of the machine you are using for rook? Can you show memory, core count, substrate (virtual or physical) and how many drives/OSD(s) are attached to the machine?

Cheers,

- Calvin

[2019-12-30 06:44] rofra commented on #3132
3 Hosts on Hetzner:
- Node 1: Master + Worker: 2 VCPU,  4Go RAM
- Node 2: Master + Worker: 2 VCPU,  8Go RAM
- Node 3: Worker only: 2 VCPU,  8Go RAM

Each node has 1 OSD attached (100Gi) as physical drive with bluestore on a CephCluster with FLEX driver, no CSI.

Attached, a file with CPU, you will see the 100% CPU on the right, 15 hours after I launched the machine. After, I just dropped the machi

[2019-12-30 07:59] guogang1990 commented on #2517
I also encountered this problem. Seeking a solution?
I found that my OSD was hung up, then I went to that node to check, and found that the docker service started error, which caused my kubelet to fail to start.

-The result is failed.
Dec 30 15:41:35 02 systemd [1]: docker.service failed.
Dec 30 15:41:35 app02 polkitd [5393]: Unregistered Authentication Agent for unix-process: 319: 1426594267 (sy

[2019-12-30 08:30] jmolmo commented on #4528
Hi @vbnrh, as we commented this does not affect functionality, the service monitor and the prometheus rule already exits, and what we are seeing is just the errors in the log file when the operator is trying to create them again. Probably the only thing needed is to improve the log messages to make clear that "the work is done" .

[2019-12-30 12:35] annismckenzie commented on #3284
Aye, I'll upgrade Rook to v1.2.x by end of next week and will provide an update.

[2019-12-30 12:47] chaosaffe commented on #4548
@ron1 I just wanted to make a note that the document you referenced is significantly out of date. The current Kubernetes release is `v1.17`, with the oldest supported release being `v1.14`. `v1.11` hasn't been in support for over a year now.

One of the many disadvantages of leveraging OKD/OCP is that while you do have some guarantees that the platform itself will be supported the vast majority of

[2019-12-30 13:13] #3544 closed

[2019-12-30 19:40] mykaul commented on #4548
@ron1 :
- OKD 4 is closer than you think. Preview is already available - see https://github.com/openshift/okd/blob/master/README.md#getting-started
- Red Hat offers its customers a migration service from OCP (and OCS) 3.x to 4.x.
- I doubt the OKD4 will have a hard deps on an unafamiliar OS. Fedora CoreOS is a great OS. ;-)

@chaosaffe :
- OCP cadence of release pretty much follows K8S.

Lastly, e

[2019-12-30 20:25] dimm0 opened #4597 "rook-discover pods are running constantly, logs are filling node disks"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
rook-discover pods are constantly outputting huge amounts of logs. One node was evicting pods with out of ephemeral storage, discovery pod log was taking 47GB

**Expected behavior:**
Either logs are limited, or there's no constant activity in pods

**Environment**:
* Rook version (use `rook version` in

[2019-12-30 20:29] dimm0 commented on #4597
Hmm, I think it was just running for too long...
There are other pods like that
Nevermind :) I'll disable logs

[2019-12-30 20:29] #4597 closed

[2019-12-30 23:52] CalvinHartwell commented on #3132
Hi Rofra,

Although there could be other issues at play, I.E kernel bugs, its best to remember that Rook is just a wrapper for Ceph. There are many sources for recommended Ceph practices and requirements (manuals, blog posts, etc), but a general rule of thumb:

It's debatable if this should be one physical core or one vCPU/HT core. If you're running your OS + Ceph + Container workloads I can easil

[2019-12-31 01:56] clkao commented on #3140
The fix seems to address the only the v14 cases by disabling the ms_learn_addr_from_peer flag. For [scenario 2 and 3](https://github.com/rook/rook/issues/3140#issuecomment-493058313) mentioned above, do we know why the osd gets an incorrect address to bind?

[2019-12-31 06:08] nizamial09 commented on #4579
@ashishranjan738 Sorry. But I was already working on a similar issue related to this and made PR earlier.

[2019-12-31 06:10] ashishranjan738 commented on #4579
not an issue @nizamial09 I will pick something else to work on.

[2019-12-31 06:10] nizamial09 commented on #4579
@travisn While running the gosec tool, wherever the 0755 permission is coded, it is expecting a 0750 instead. This is the case for most of the directory permission that is set. What I am concerned is if we change the set permission, will it affect the overall working of the rook operator?

[2019-12-31 06:11] nizamial09 commented on #4579
@ashishranjan738 Thank you.

[2019-12-31 13:57] nielsbasjes commented on #4553
I also have this problem when trying to install everything on a set of old servergrade systems.

I also have the

     rook-ceph-crashcollector-node8-f549c46d6-4dtgs

fail with

    MountVolume.SetUp failed for volume "rook-ceph-crash-collector-keyring" : secret "rook-ceph-crash-collector-keyring" not found

At this moment I seem to see the pattern that this ONLY happens on the node where the ```r

[2019-12-31 14:51] nielsbasjes commented on #4553
I think I figured it out. Writing this down here for others to find.
I had done several tests installing rook ceph in Kubernetes.
Cleaning a system for a new run takes more than just removing the /var/lib/rook directory.
I also found some sockets in the /var/lib/kubelet directory related to rook ceph
On my system it worked after removing these too.

[2019-12-31 16:44] D1abloRUS opened #4599 "Auto pg repair"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Checking PG_DAMAGED if possible run pg repair

**What is use case behind this feature:**

**Environment**:

[2019-12-31 16:50] #3984 closed

[2019-12-31 19:54] Bessonov commented on #2109
Happy New Year!

[2019-12-31 20:57] kfox1111 commented on #4037
kind of relevent kind of not. the crds need to be ported to work with helm3. helm3 has an option to skip crds. So maybe we skip this for helm2 and just make it a part of porting to helm3?

[2019-12-31 22:39] elinesterov commented on #4557
I think you should use `staticVolume: "true"` instead of  `preProvisionedVolume: "true"`

[2020-01-01 11:16] vahide opened #4601 "external access to block image"
How can access externally to block image in rook?
I made NodePort for mon-X services and create client in ceph to access block storage but when client want to connect and execute "rbd --pool PoolName ls", error "**connect protocol error (bad banner) on peer**" is printed. client edit /etc/ceph/ceph.conf mon_host with masterIP and NodePorts.
In general, as object store external access using rgw-ext

[2020-01-01 13:50] #3687 closed

[2020-01-02 04:14] Madhu-1 commented on #4051
we are planning to support ceph-csi on multi-architecture as experimental as we cannot test this on CI  only pending things is the verification of  pushing a multi-arch  image to quay https://github.com/ceph/ceph-csi/pull/707#issuecomment-567451646

AFAIK  still kubernetes CSI sidecar images are not multi-arch supported. so we cannot use rook+CSI on other architecture

[2020-01-02 04:18] Madhu-1 commented on #4590
This is true only if you are using cephfs-fuse  or rbd-ndb

[2020-01-02 04:21] Madhu-1 commented on #4345
can you please provide below details
* kubectl describe of storage class
* kubectl describe of PVC
* Logs from rbd-plugin container from the node where the mount is failing

[2020-01-02 07:43] code-chris commented on #4590
@Madhu-1 That's good to know. I don't use any of them :smile:

[2020-01-02 08:39] Madhu-1 commented on #4389
Fixed by https://github.com/rook/rook/pull/4496

[2020-01-02 08:39] #4389 closed

[2020-01-02 09:16] alialshamali opened #4602 "Edgefs Upgrade failed from 1.2.62 to 1.2.127"
* Bug Report

**Deviation from expected behavior:** Not upgrading to 1.2.127 stuck and job failed.
[code]

[code]

**Expected behavior:** Upgrade jobs and complete successfully and cluster is upgraded to 1.2.127

**How to reproduce it (minimal and precise):** Patch cluster object from 1.2.62 to 1.2.127

**File(s) to submit**:
[code]

**Environment**:
* OS (e.g. from /etc/os-release):
* Kernel (e.g

[2020-01-02 10:24] stellirin commented on #4470
I have eliminated Rook or Ceph as the cause. I used the same Fedora CoreOS config on RedHat CoreOS, the ceph cluster starts in a matter of minutes:

[code]

[2020-01-02 11:58] yanniszark commented on #2294
/reopen

[2020-01-02 13:11] #4577 closed

[2020-01-02 14:16] galexrt commented on #4602
@rook/edgefs

[2020-01-02 14:35] galexrt commented on #4601
Checkout https://github.com/rook/rook/pull/3572#pullrequestreview-273382501 comment. Right now the way to expose a Rook Ceph cluster outside of a Kubernetes cluster is to set `hostNetwork: true` during initial creation (don't change it after you have created the cluster) of the Rook Ceph cluster.

Related to #3404 and #4270

[2020-01-02 14:42] galexrt commented on #4367
@travisn This seems like an issue in the failureDomain management of Rook as all the Pods have the same label attached to it:
[code]

[2020-01-02 14:45] galexrt commented on #4468
@kchakry So are you able to reproduce the issue or not?

Please fill out the issue description with your environment information.

[2020-01-02 14:47] galexrt commented on #4282
Ping @danilorsilva what is your status on the issue? Are you still experiencing it?

[2020-01-02 15:28] galexrt commented on #4035
@leseb #2606 has been closed by #4053. Can this be closed then or does this need to be tested?

[2020-01-02 15:39] ron1 commented on #4548
Hi @mykaul:

It's my understanding that an OKD 4 release that is a true upstream for an OCP 4 release (like OKD 3.11 is for OCP 3.11) is not that close since OKD 4 and FCOS depend upon Ignition v3, current OCP 4 releases depend upon Ignition v2, and Ignition v2 and v3 are incompatible. I suspect most OKD 3.11 users would not want to upgrade to OKD 4 in production until OKD 4 is a true upstream for

[2020-01-02 16:07] #4595 closed

[2020-01-02 17:07] mkhpalm commented on #4274
I think there are 2 problems going on here from what we've seen:

1. Did you notice the container restarting when it lost leader election? When it does crash it comes back in a blank state and starts trying to do everything any time a control plane has an issue. I assume that behavior is undesirable right? Losing a leader election shouldn't result in a crash. (examples above)

2. Is maybe more of

[2020-01-02 18:13] nizamial09 commented on #4317
This is being said to be a kubernetes issue rather than a rook issue. More about this can be found in this discussion: https://github.com/kubernetes/kubernetes/issues/22024

They have a fix in but apparently it doesn't fix the bug well.

[2020-01-02 21:12] ztl8702 commented on #4438
@Madhu-1

One reason to use flexVolume is that a.t.m. ceph-csi is not quite as convinent with flexVolume when it comes to mounting a fixed path on a shared CephFS filesystem to Pods.

The (Rook v1.2 doc CephFS example)[https://rook.io/docs/rook/v1.2/ceph-filesystem.html#consume-the-shared-filesystem-k8s-registry-sample] creates a dynamic PV, which will be stored at some unpredictable directory `/c

[2020-01-02 22:01] secops360 commented on #4553
It is not quorum, operator pod can't access (port 6789 for ceph mon) for some reason. (try it with curl -v inside operator pod). I've moved operator pod to the same node with mon node and it worked. Deleting  sockets in /var/lib/kubelet/plugin didn't help, @nielsbasjes most likely you had operator pod and mon pod sitting on same node after your cleanup. Can't explain why can't talk to mon on other

[2020-01-02 23:00] #2388 closed

[2020-01-02 23:38] kfox1111 commented on #2388
Can someone please confirm this is not an issue?

[2020-01-03 05:04] Place1 opened #4604 "operator does not respect removeOSDsIfOutAndSafeToRemove: true"
* Bug Report

setting `removeOSDsIfOutAndSafeToRemove: true` in the ceph cluster configuration does not cause the operator to remove an OSD when it is both out and safe-to-destroy.

I've marked an OSD as out+up and can see that the operator is executing the `ceph osd safe-to-destroy` commands. I can also see that the OSD is safe to destroy when I execute the same command from the rook-toolbox but

[2020-01-03 09:46] leseb commented on #4594
Please re-open using the bug template provided.

[2020-01-03 09:46] #4594 closed

[2020-01-03 09:54] leseb commented on #4604
Please re-open using the bug template. This lacks info. Also if you're running on master we don't remove OSD automatically anymore, see: https://github.com/rook/rook/pull/4478.

[2020-01-03 09:54] #4604 closed

[2020-01-03 10:13] unkls commented on #2047
Any update on this ? I have an error like this.
I try to use custom LV to provide my CRD cluster and my osd-prepare always failed.

[2020-01-03 10:28] leseb commented on #3284
@annismckenzie any updates?

[2020-01-03 14:11] leseb commented on #4599
I'm not sure this is something we can easily do, I'd think that this is something Ceph itself should do. So the opening a tracker issue in Ceph is probably best. Thanks.

[2020-01-03 14:11] #4599 closed

[2020-01-03 16:28] yanchicago commented on #4436
Any insight on this issue?

[2020-01-03 17:42] BlaineEXE commented on #1169
@Madhu-1 do you have an official answer here?

[2020-01-03 17:43] BlaineEXE commented on #4470
Thank you for the updates. Closing as invalid for Rook.

[2020-01-03 17:43] #4470 closed

[2020-01-03 17:44] yanchicago opened #4607 "Perform clair scan for rook image"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Before image delivery, perform clair security scan to avoid unnecessary security violation.

**What is use case behind this feature:**
After the image built, perform clair security scan or similar security scan.

**Environment**:

[2020-01-03 17:50] Madhu-1 commented on #1169
Cephfs and rbd resize will be part of cephcsi v2.0.0 release. Refer https://github.com/ceph/ceph-csi/issues/557 for more info

[2020-01-03 17:59] BlaineEXE commented on #1169
It seems this is not complete with CSI then, so reopening.

[2020-01-03 18:00] BlaineEXE commented on #1169
It seems this is not complete with CSI then since it looks like Rook currently uses ceph-csi v1.2.2, so reopening.

[2020-01-03 18:06] Madhu-1 commented on #1169
Assigning to myself, once cephcsi 2.0.0 release is done, will make required changes in rook to support resize

[2020-01-04 09:49] vahide commented on #4601
Thanks @galexrt
I done it by changing hostNetwork: true in cluster.yaml file.
I saw this video "**Rook: A new and easy way to run your Ceph storage on Kubernetes**"and its URL is: [https://www.openstack.org/videos/summits/denver-2019/rook-a-new-and-easy-way-to-run-your-ceph-storage-on-kubernetes](url)

[2020-01-04 10:14] #4601 closed

[2020-01-04 14:36] travisn commented on #3376
@jmolmo Can you see if you can repro?

[2020-01-04 14:51] #4568 closed

[2020-01-04 14:55] travisn commented on #4436
It seems the operator was not informed by the CR update. Do you see any messages in the operator log about the `CephCluster` being `too old` such as this?
[code]

[2020-01-04 15:50] travisn commented on #3975
This was likely caused by an incompatibility with the aggregated rules for RBAC. We likely should revert the changes from #2975 since we fully control the RBAC rules. Aggregated rules are not about simplifying the upgrade (as was the hope).

[2020-01-04 16:44] shikhar7 opened #4611 "When using encryption in rook i have to attach new volume every time i reinstall rook."
I am using rook 1.1 with encryption when i am trying to re deploy rook after clearing the hostDirectoryPath the osd pods does not come up it says that volume attached is still being used.

So in order to deploy rook again i have to attach new volume.

Is there some way i can format or clean my previously attached volume.I am using rhel 7.6.

The screen shot of command lsblk after installing rook i

[2020-01-04 17:36] nizamial09 commented on #4571
How about instead of using `math/rand` package, we can use `crypto/rand` package to generate the Password. Its more secure and uses CSPRNG - Cryptographycally Secure Pseudo Random Number Generator. Its slower than `math/rand` but it provides the necessary security while generating a password.

[2020-01-04 18:41] annismckenzie commented on #3284
As I said above:

I'm still on holiday and back at work next week. :)

[2020-01-04 22:49] pdf opened #4613 "Expand EdgeFS by adding VDEVs, not just nodes"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Modifying the list of specified devices (when `useAllDevices: false`) should cause those devices to be added to the storage pool. This should first trigger a rebuild of the `discover`ed devices, to ensure new device metadata is available. Possibly, when `useAllDevices: true`, as new devices are detected

[2020-01-04 22:56] pdf opened #4614 "Set EdgeFS UI password from Cluster resource/secret"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow configuration of the UI admin password through the Cluster resource (best practice would document that this should be stored in a secret), and apply this password via entrypoint/init container on pod creation, so that the password is consistent cluster-wide.

**What is use case behind this feature

[2020-01-06 04:27] minh-nguyenquang opened #4615 "Waiting on orchestration status update from 1 remaining nodes"
**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**
I cannot bring my 6th OSD up because it is blocked by below error
[code]
Not sure why I keep receiving this error.
[code]
**How to reproduce it (minimal and precise):**
I don't know how to reproduce this

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`
[03_cluster.yml](https://

[2020-01-06 08:48] minh-nguyenquang commented on #4615
Volume is attached but OSD cannot up
[code]

[2020-01-06 09:07] paalkr opened #4616 "Node topology labels are not applied to PV backed OSDs on rook 1.2.0 after upgrade from v1.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When upgrading from rook 1.1.7 to 1.2.0 the node lables for region and zone described in https://github.com/rook/rook/blob/release-1.2/Documentation/ceph-cluster-crd.md#osd-topology
[code]
are not applied to the OSD, causing the crush map to change during the upgrade.
![image](https://user-images.githu

[2020-01-06 09:19] paalkr commented on #4616
Probably the same issue as reported in https://github.com/rook/rook/issues/4543

[2020-01-06 11:04] rajatsingh25aug commented on #4494
So I tried reproducing this issue but in my case, after following the minimal request, all of my four provisioner pods logs say that the GPRC requests and response is empty.
Here are the logs
[code]

[2020-01-06 15:47] rnetser commented on #2286
@anguslees I'm trying to increase the clock drift allowed to more than 0.05 but not sure how to do it as /etc/ceph/ceph.conf is readonly file in the mon pods.
Any other way of doing this?

[2020-01-06 15:47] rnetser commented on #2286
@leseb Could you please also advise?

[2020-01-06 16:11] sebastian-philipp commented on #4571
cc @lenzgr

[2020-01-06 18:18] BlaineEXE commented on #2286
See the docs section on using the override configmap

[2020-01-06 18:51] travisn commented on #4616
Looks like #4543 only fixed this issue for the scenario of restarting the operator, assuming you had initially deployed a v1.2 cluster. If upgraded from v1.1, the fix for #4543 does not apply. If the `--crush-location` property is not found on the pod spec, the operator will need to determine the value based on the node labels instead of skipping this setting.

[2020-01-06 20:49] yanchicago opened #4619 "The rook v1.2.0 has 6 security vulnerabilities."
**Is this a bug report or feature request?**
* Bug Report
Clair scan report shows rook v1.2.0 image has 6 security violations shown as below. Could you rebuild rook v1.2.x after ceph rebuild?

[code]

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`,

[2020-01-06 22:15] yanchicago opened #4620 "Rook manages PV/PVC request based on the storage capacity and availability"
**Is this a bug report or feature request?**
* Feature Request
When a client requests storage by pv/pvc request, if the available rook storage is less than being requested, rook denies the request.

**What should the feature do:**
Rook keeps track of the storage capacity and storage availability. If a new request comes in and there's not enough storage available, rook denies the request.

**What i

[2020-01-06 23:03] travisn commented on #4517
@leseb Why would osd commands hang when an osd is down?

[2020-01-06 23:07] #4571 closed

[2020-01-06 23:32] travisn commented on #4615
@minh-nguyenquang The upgrade is blocked from proceeding since the PGs are not clean. You can workaround this with the [skipUpgradeChecks](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml#L37-L38) setting. Also read that documentation in that link to determine if that is safe for you.

[2020-01-07 01:11] dimm0 commented on #2424
👀

[2020-01-07 03:22] edude03 opened #4622 "LIB_MODULES_DIR_PATH doesn't seem to propagate to csi-rdbplugin"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Rook `csi-rbdplugin` daemonset is created mounting `/lib/modules` for the `lib-modules` volume mount, despite setting `LIB_MODULES_DIR_PATH` to a different value in https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml

**Expected behavior:**
csi-rbdplugin should honor

[2020-01-07 03:30] minh-nguyenquang commented on #4615
@travisn my original setting is `skipUpgradeChecks: false`. I did try to set it to `true` but it doesn't help. I still face the same issue

[2020-01-07 03:36] danielsand commented on #4615
@travisn @minh-nguyenquang have the same issue

enabled *skipUpgradeChecks:true*

now the OSD's are crashing

[code]
i applied the CRD & RBAC updates

FYI - will monkeypatch the RBAC issues

[2020-01-07 04:58] minh-nguyenquang commented on #4615
I have 3 dedicated nodes for rook-ceph and I only see `rook-ceph-osd-prepare` pod created on 2 nodes.
[code]

So I think this issue might be cause of `rook-ceph-osd-prepare` is not created on all nodes so this causes the issue
[code]

[2020-01-07 07:44] rnetser commented on #2286
Thank you, will do,

[2020-01-07 08:18] leseb commented on #4517
If the CLI hangs, this means mons are not responding correctly, most likely. Please check your monitors.

[2020-01-07 08:22] leseb commented on #4619
1.2.1 just got out yesterday. So we will respin a new build of the base image before 1.2.2.

[2020-01-07 08:26] leseb commented on #4619
Just spun a rebuild, we will use it soon, here:

* https://2.jenkins.ceph.com/job/ceph-container-build-ceph-base-push-imgs/245
* https://2.jenkins.ceph.com/job/ceph-container-build-ceph-base-push-imgs-arm64/228/

[2020-01-07 08:36] rajatsingh25aug commented on #4494
cc @leseb @hightoxicity @stephan2012  @joscollin
I need some more info on this issue. Because after following this discussion and trying out all the ceph commands above, my PVC was still in the pending state.

- Did you deployed this cluster  on AWS
- If not on AWS then where and what was the storage class for the PVC. Can you please point me to the YAML that is being applied.

Thanks.

[2020-01-07 10:44] nizamial09 commented on #4531
I let the mon-quorum check timeout error to happen for some minute longer and it succesfully start up all the mons and mgr pod. However, the log looks like this.

[code]

[2020-01-07 10:59] joscollin commented on #4494
@rajatsingh25aug Please create a new ticket describing your issue instead.

[2020-01-07 11:02] rajatsingh25aug commented on #4494
I was assigned this issue and started to work on it.
After following the thread and applying the ceph commands mentioned above, my PVC was still in pending but I  see that for other folks, those ceph commands worked.
That’s why I wanted to know particular  things and that’s what I asked above. :)

[2020-01-07 12:08] xenolinux commented on #4029
@travisn Could you please assign this issue to me? I would like to work on it.

[2020-01-07 12:33] mjschmidt commented on #2053
This is still an issue? Should a new issue be opened?

[2020-01-07 12:50] paalkr commented on #2053
I don't think this issue still applies.

[2020-01-07 13:03] mjschmidt commented on #2053
mmmm are osd prepare jobs the same thing? In my deployment when I use the following yaml file to [deploy a ceph cluster](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/cluster.yaml) the osd prepare job doesn't seem to ever be cleaned up.

How to duplicate:
Create a cluster and deploy ceph with 5 nodes
turn off one worker node
simulate catastrophic node failure by removin

[2020-01-07 14:34] rajha-korithrien commented on #4517
@leseb What logs do you want to see from my mons? Many CLI commands work correctly, for example:
[code]
In that example it is expected to have 0 OSD nodes as none are currently up, but the mon nodes are up and running. Even when all but 1 of my OSD nodes are up the results are the same certain ceph commands hang for example ```ceph osd status``` and ```ceph orchestrator status```. Please advise wh

[2020-01-07 14:55] hseipp opened #4624 "Rook/Ceph CSI 1.1.8 and later: Restore snapshot to PVC is pending forever"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
PVC created from a ceph rbd snapshot in the `default` namespace forever remains in `Pending` state.

**Expected behavior:**
PVC that is created from a snapshot should be successfully `Bound` as [documented](https://rook.io/docs/rook/v1.2/ceph-csi-drivers.html). Note that this works with rook 1.1.7 on t

[2020-01-07 17:05] #4567 closed

[2020-01-07 18:09] ybnelson opened #4625 "Feature request: gflag passthrough for YugabyteDB"
* Feature request
For YugabyteDB instantiation, provide a way to passthrough a gflag to cluster instantiation
https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/yugabytedb/cluster.yaml
For example:
yb-master --replication_factor=1

@arnav15

*Use case*
For test/dev environments to use fewer resources, PVs, allow RF=1 instead of default RF=3 so that only single replicas of master/

[2020-01-07 19:21] BlaineEXE opened #4627 "Support default values in CRD"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
With k8s 1.17 and with `apiextensions.k8s.io/v1` (we use `apiextensions.k8s.io/v1beta1` currently for our CRDs), we can support default values for our CRDs. This isn't required, but it could be a useful feature for new users.

This page tells about `defaulting` for CRDs
https://kubernetes.io/docs/tasks/

[2020-01-07 19:22] BlaineEXE commented on #4627
@travisn I'm not sure if we can update to `apiextensions.k8s.io/v1` for k8s versions below 1.17 or if that won't be supported. I don't  have the experience to know what the upgrade story for this would be. Has Rook done an update like this before?

[2020-01-07 19:23] danielsand commented on #4615
ok it seems on my side it was the missing clusterrole & clusterrolebinding that prevent from happening the upgrade happening on the osds.
fixing that and restarting the involved nodes fixed the problem
[code]

[2020-01-07 22:18] #4563 closed

[2020-01-08 02:51] minh-nguyenquang commented on #4615
@danielsand so upgrade helps to solve the problem with your case, right? I also did try to use version 1.2.1 but it doesn't work in my case

[2020-01-08 02:55] satoru-takeuchi commented on #2047
I'll try this. However, there is one concern. @zoetrope and I are trying to fix #4582 and the fixes of #2047 and #4582 would conflict very much. In my opinion, I'd like to fix #4582 first and fix #2047 after that.

I'll discuss with @travisn about the proper way of proceeding.

[2020-01-08 04:32] satoru-takeuchi commented on #4582
Copy-and-paste the result of the discussion with @ashishranjan738 in Rook slack.

He said his cluster works correctly with the following configuration.

Cluster CR:
[code]

OSD prepare job spec:
[code]

I'll share him any of OSD pod spec later.

[2020-01-08 05:21] ashishranjan738 commented on #4582
`OSD prepare jobs as init container`. This idea was brought up earlier as well. I think when we were discussing the design of storageClassDeviceSet. We felt some resistance regarding this.  Here is a link for reference https://github.com/rook/rook/pull/3306#discussion_r294336925

[2020-01-08 06:48] code-chris commented on #4397
The change of the volumeBindingMode fixed it. So I think we can close this. All other placement-related bugs can be discussed in the linked issue.

[2020-01-08 06:48] #4397 closed

[2020-01-08 07:34] paalkr commented on #2053
No, that is not the same issue that I initially described in the OP. I'm not sure if it's a real problem that the osd prepare jobs are not automatically garbage collected.

[2020-01-08 07:53] paalkr commented on #4616
Will both this issue and the issue addressed in https://github.com/rook/rook/issues/4543 be targeted at the 1.2.2 release?

[2020-01-08 11:11] ahuret opened #4633 "Ceph operator: devicesInUse should be set to false when initialization fail"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When initialization of cluster failed, `devicesInUse` variable can be set to `true` (if `spec.storage.useAllDevices` is set to true)  and then, when we update `CephCluster` k8s manifest (to get initialization to work), `devicesInUse` is already set to `true` and "using all devices in more than one name

[2020-01-08 14:39] travisn commented on #4616
@paalkr Yes I would expect this to be fixed in v1.2.2. The issue fixed by #4543 was already included in v1.2.0.

[2020-01-08 15:08] alialshamali commented on #4602
Hi @sabbot, its v1 but will take a look at the documentation again, although I upgraded from beta previously.

[code]

[2020-01-08 15:22] mjschmidt commented on #2053
It makes your UIser interface and kubectl return commands messy. I don't see a reason not to have a low priority ticket to clean up these jobs if they shouldn't exist?

But I am not on the rook-ceph team.

[2020-01-08 17:00] ron1 commented on #4548
Since supporting and testing Rook against numerous k8s versions is costly, what would you think about minimizing such costs by supporting every 4th k8s version for an extended time period (say 2 - 2.5 years) and supporting other versions for 1 year only? In this case, existing k8s versions 1.11 and 1.15 would be declared Rook k8s long-term support versions such that k8s version 1.11 is supported u

[2020-01-08 17:38] benwbooth opened #4635 "security vulnerability with ceph dashboard"
## Content removed

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get logs, use `kubectl -n <namespa

[2020-01-08 21:19] VictorHavard opened #4636 "Ceph subsystem health in OCP 4.2 shows as "rook-cluster is not available" but works fine"
**Is this a bug report or feature request?**
* Bug Report

**Bug Report**

**Expected behavior:**
Install rook/ceph on OCP 4.2 and it works

**Deviation from expected behavior:**
Dashboard under "Cluster Health" shows "rook-ceph is not available" even though the ceph cluster is up and healthy and I can successfully provision PVCs against it.

![image](https://user-images.githubusercontent.com/1305

[2020-01-09 05:05] scotty-g commented on #4624
I am seeing the same issue while attempting to restore a snapshot.

- Minikube v1.6.2 (MacOS 10.13.6)
- Kubernetes v1.17
- Rook: v1.2.1

Downgrading to Rook v1.1.7 gets everything working.

Thank you @hseipp for logging this issue, it allowed me to progress with my experimentation with rook/ceph.

[2020-01-09 05:40] travisn commented on #4624
@Madhu-1 This sounds related to a CSI change that was included in [v1.1.8](https://github.com/rook/rook/releases/tag/v1.1.8). Can you take a look?

[2020-01-09 07:48] agaoglu commented on #2543
@leseb I'd suggest the same (letting ceph handle the min_size) for EC pools if that's possible. Currently it's [set](https://github.com/rook/rook/blob/master/pkg/daemon/ceph/client/pool.go#L236) to data chunk count and even if we change it to something else, it's reset the next time operator runs. We've already got bitten by it once.

[2020-01-09 07:53] travisn commented on #2543
Agreed rook just shouldn't set the min size so Ceph can set its calculated default and it can be overridden by the admin as needed. I was thinking we removed it a while back, but looks like it's still there: `OsdPoolDefaultMinSize:  1`

[2020-01-09 08:27] leseb commented on #2543
Closing for #4638

[2020-01-09 08:27] #2543 closed

[2020-01-09 09:16] valentinedy opened #4640 "fs: LVM2_member, ownPartitions: true"
hello，my kubernetes version is 1.17.0，use rook-master
ceph/ceph                                                         v14.2.5             f676708b0232        4 weeks ago         825MB
quay.io/cephcsi/cephcsi                                           v1.2.2              d46311d35105        7 weeks ago         984MB
quay.io/k8scsi/csi-snapshotter                                    v1.2.2

[2020-01-09 09:49] sp98 commented on #4640
`fs: LVM2_member` is suggesting that the device `sdb` already having a filesystem on it.  Rook can't create OSD on device that already has a filesystem.

[2020-01-09 10:19] hseipp commented on #4624
Thank you for looking into this issue. I think the csi-provisioner sidecar image [change](https://github.com/kubernetes-csi/external-provisioner/pull/283/commits/a3196715292dfc529d951e90f3d13c33806b332c) only surfaced the problem. Root cause seems to be that ceph-csi is not setting the [ContentSource](https://github.com/container-storage-interface/spec/blob/master/lib/go/csi/csi.pb.go#L1398) prope

[2020-01-09 10:41] Madhu-1 commented on #4624
@hseipp Thanks for looking into it, as CSI spec says ContentSource is optional ceph-csi is not setting this value now, need spec update for the same please check https://github.com/container-storage-interface/spec/issues/404

[2020-01-09 10:53] nizamial09 commented on #4636
Try once after making the `monitoring: enable: true` in the cluster.yaml

[2020-01-09 11:20] jmolmo opened #4641 "Ensure MDS pod placement adheres to fault domain topology"
**Feature Request**
When the Rook operator creates the MDS pods it should include a placement definition to ensure active and standby mds pods are placed in different fault domains.

**What should the feature do:**
Avoid to create all MDS pods in the same zone

**What is use case behind this feature:**
Minimize filesystem disruption to clients during planned node maintenance and upgrades.

**Envir

[2020-01-09 11:44] agaoglu opened #4642 "Speedup orchestration"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Rook orchestration for ceph should be able to complete faster.

**What is use case behind this feature:**
For an already running or partially running cluster, an orchestration run spends too much time waiting for osd deployment updates. There always is a need for a second (and third...) orchestration ru

[2020-01-09 12:01] ashishranjan738 opened #4643 "resourceLimits not getting applied to the OSDs when the storageClassDeviceSets are updated"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The resource limits to OSDs are not getting applied when the resource limits in the storageClassDeviceSets are updated.

**Expected behavior:**
The operator should update the OSD's deployments with the resource limits applied to their corresponding storageClassDeviceSet.

**How to reproduce it (minimal

[2020-01-09 12:03] ashishranjan738 commented on #4643
**Note: The currently known workaround is to delete the already provisioned OSD deployments  after updating the cephCluster yaml with resource limits.

[2020-01-09 12:26] ThomasJou commented on #3683
I have the same problem on ceph-ansible nautilus version 14.2.5
any update ?

[2020-01-09 12:34] cann0nf0dder opened #4644 "cephcluster changes don't persist"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When updating ceph cluster via updated cluster.yaml or via kubectl patch, the changes disappear after a minute or so when trying to set osd memory limits, similar for other changes.
**Expected behavior:**
1. Deploy ceph cluster
2. Update cluster.yaml osd memory limit (or update it via kubectl patch or

[2020-01-09 12:52] cann0nf0dder commented on #4644
updated as it seems that making other changes also don't persist after a longer while.

[2020-01-09 13:16] galexrt commented on #4644
@cann0nf0dder Your CephCluster object is wrongly structured / indented that is why the "changes" disappear.
Patch:
[code]

Please let us know if fixing the structure of your CephCluster object fixes the issue.

Closing for now as it doesn't seem to be an issue with Rook at the moment.

[2020-01-09 13:16] #4644 closed

[2020-01-09 13:42] cann0nf0dder commented on #4644
thanks @galexrt that was it, silly me!

[2020-01-09 15:19] jteeg opened #4645 "Ceph 14.2.4 Seemingly Not Respecting osd_memory_target"
**Is this a bug report or feature request?**
Bug Report

**Deviation from expected behavior:**
After upgrading to Rook 1.1.2 / Ceph 14.2.4 (Nautilus), we began noticing that the OSDs began consuming much more Memory than before (up to 50% on our 32 GB w4r nodes - aka 16 GB). After reaching out to the Rook Community, we were pointed at the new(?) memory auto-tuning and the `osd_memory_target` setti

[2020-01-09 15:44] danielsand commented on #4615
yes it did.

would suggest to check the osd pre and osd on the not upgrading node on your side.
also check the kernel & syslog on the nodes for any kind of errors.

that led me to the missing clusterole + clusterrolebindings on my problem.

[2020-01-09 16:34] mickymiek commented on #1033
Unless I'm missing something and it's already been done since, I think this issue should be reopened. No way of managing log levels per component is a real pain when using a centralized logging system for example.

[2020-01-09 18:53] travisn commented on #1033
@mickymiek The current approach for increasing log level is that the [ROOK_LOG_LEVEL](https://rook.io/docs/rook/v1.2/ceph-advanced-configuration.html#custom-cephconf-settings) can be set for the operator. The log level for ceph daemons would be increased by using [custom ceph settings](https://rook.io/docs/rook/v1.2/ceph-advanced-configuration.html#custom-cephconf-settings) to increase the log lev

[2020-01-09 19:37] tbool commented on #4582
If in the podAntiAffinity rule there are matchExpressions for both rook-ceph-osd-prepare and rook-ceph-osd, then that rule only applies to nodes where both these pods are available, but as rook-ceph-osd-prepare is only a completed job these pods will disappear after a reboot of the node, in which case this podAntiAffinity rule has no effect anymore and OSD pods can ramdomly be scheduled on any nod

[2020-01-09 20:23] leseb commented on #1033
I think @mickymiek  meant logging for each Rook's subsystem (go packages) not Ceph daemon logging level but I might be wrong.

[2020-01-09 20:32] AXington opened #4647 "crashcollector deployments/pods not cleaned up after node removal"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After a node is removed, the relevant crashcollector deployments, replicasets, and pods are left around, with the pods in a 'pending state'

**Expected behavior:**
The crashcollector pods, rs's, and deployments are removed after the node is no longer part of the cluster.

**How to reproduce it (minimal

[2020-01-09 20:33] AXington commented on #4647
for now I've been using this command to clean them up:
[code]

[2020-01-09 20:34] AXington commented on #4643
I have ran into this issue as well.

[2020-01-10 01:40] onedr0p opened #4649 "Ceph Dashboard not loading with nginx-ingress"
Hi, I am new here. I am trying to reverse proxy the Ceph Dashboard but running into an issue. The dashboard is returning the favicon and the HTML header loads however the body is a whitepage. The javascript files do not load they receive a 504.  When I run `kubectl proxy` I can get to the dashboard and log in fine on my local network.

Other services in my cluster do the reverse proxying just fine

[2020-01-10 02:08] #4488 closed

[2020-01-10 07:28] code-chris opened #4651 "Ceph-CSI: Data retains if PV is deleted"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
- The data in the Ceph-Storage retains even if I delete the PV.

**Expected behavior:**
- If I delete a PV which was provisioned from the Ceph-CSI-Driver I expect, that the data is deleted from the Ceph-Cluster.

**How to reproduce it (minimal and precise):**
- Mount the Ceph-Cluster to a directory to

[2020-01-10 07:30] Madhu-1 commented on #4651
@code-chris have you created and deleted PV or PVC?

[2020-01-10 07:32] code-chris commented on #4651
Both created and both deleted

[2020-01-10 07:43] Madhu-1 commented on #4651
@code-chris you have created PV or PVC?

[2020-01-10 07:44] minh-nguyenquang commented on #4615
@danielsand may I know your kernel version and os as well?

[2020-01-10 07:45] code-chris commented on #4651
- I created a Deployment which triggered a dynamic provisioning of a PV and a corresponding PVC.
- I deleted the Deployment, the PVC and the PV in this order.

I created the PV or PVC not manually. The CSI-Driver did.

[2020-01-10 07:48] Madhu-1 commented on #4651
have you deleted the PV manually if yes its not  an issue, if no this is a cephfs issue

[2020-01-10 07:49] code-chris commented on #4651
I deleted the PV manually, as the ReclaimPolicy of the StorageClass is Retain.
Why is this not an issue? The Cluster stores data which can never be accessed again?

[2020-01-10 08:00] Madhu-1 commented on #4651
the  user should not delete the PV object (the provisioner as to delete the PV object after deleting the backend image), check provisioner logs

[2020-01-10 08:11] code-chris commented on #4651
Yes, there are logs which indicate, that the provisioner tries to sync the folders with PVs. I will test that.
When would the provisioner delete the PV and the stored data? When the PVC is deleted and the PV changes to "Released" state? This would only be correct for the "Delete" reclaimPolicy and not for "Retain"...

[2020-01-10 08:15] Madhu-1 commented on #4651
yeah sorry i didn't noticed the reclaim policy, in that case even if you delete PV and PVC admin need to manually cleanup the backend storage. This is not a bug working as expected see https://kubernetes.io/docs/concepts/storage/persistent-volumes/#retain

[2020-01-10 08:19] code-chris commented on #4651
ah ok, seems I missed that. Thanks.
I thought, that the PV and the backend storage is always deleted at the same time and the policy only decides if this happens automatically or manually.
Then this is not an issue.

[2020-01-10 08:19] #4651 closed

[2020-01-10 08:29] minh-nguyenquang commented on #4615
@travisn I think I know why my 6th OSD cannot be brought up.
The root cause it `rook-operator` didn't create `rook-ceph-osd-prepare` on one on my node as what I mention above https://github.com/rook/rook/issues/4615#issuecomment-571434398

When I create the job manually exported from another `rook-ceph-osd-preprare` pod as attached. I'm able to bring my 6th OSD up.
[job.yaml](https://github.com/ro

[2020-01-10 12:26] satoru-takeuchi commented on #4582
Quoted from the @ashishranjan738 message in Rook slack's:

Yes, the information in `placement` is reflected to OSD pod correctly. However, this information doesn't work by default. It's because the following logic as  @zoetrope wrote.

[code]

It seems to be bypassed by setting `labelSelector` for both `ceph-osd-prepare` and `ceph-osd` as you did.

[code]

However, I consider this workaround is ha

[2020-01-10 15:19] leseb commented on #4517
All of your OSDs are down so requesting the state of the OSDs is not possible.

[2020-01-10 15:22] leseb commented on #4615
If the job fails to be scheduled the operator logs should print that. @minh-nguyenquang anything relevant from the op logs?

[2020-01-10 15:24] leseb commented on #2047
@satoru-takeuchi c-v won't accept dm AFAIR, I even skipped them here: https://github.com/rook/rook/pull/4454.

[2020-01-10 15:37] rajha-korithrien commented on #4517
It is also expected that this hangs ```ceph orchestrator status```? If this is expected ceph behavior and not something wrong with the Rook orchestrator then we can close this bug as not a but and I apologize for taking up your valuable time.

[2020-01-10 16:12] leseb commented on #4642
Yes, the operator waits up to 30 times every 2 seconds. We can change this to be up to 60 times every second.

@travisn any idea why 2 seconds?
@agaoglu does that sound reasonable to you?

Also, we thought of being able to tell if there is an upcoming change of not. However, if there is nothing to change, the update will be a no-op so very fast.

[2020-01-10 16:34] dkrizic commented on #4649
I configured it like this (a while ago)

[code]

Maybe it helps.

[2020-01-10 17:40] travisn commented on #4582
The OSDs by design require a two-step process. The first step is the osd prepare job and the second step is the osd daemon. This design is described [here](https://github.com/rook/rook/blob/master/design/ceph/dedicated-osd-pod.md). We won't be able to change this approach.

I believe the operator should be setting the same placement rules on the osd prepare pods as on the osd daemons. In this way,

[2020-01-10 17:45] harryleesan commented on #4553
This bug seems to appear in Rook 1.2 when connecting to an **external** Ceph cluster.

After creating the CRs: `CephCluster` (external=true) -> `CephFilesystem`, the `rook-ceph-crash-collector-keyring` secret is not created and crash reporter fails to start.

I had to create the rook-ceph-crash-collector-keyring manually.

[2020-01-10 19:01] BlaineEXE commented on #4553
@leseb is this something you've seen in your testing or something you have tested?

@harryleesan if you look at the operator logs, do you see any permissions errors like `nodes ... is forbidden: User ... cannot get resource in API group ...`?

[2020-01-10 19:03] travisn commented on #4642
There are two issues here:
1. We need to understand why the orchestration is triggered 2-3 times. There are several expected reasons for this behavior such as if a new node was detected or a new disk was added.
   - If watching for new disks is not expected or needed, you could disable the [hotplug](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L155) setti

[2020-01-10 20:38] agaoglu commented on #4642
@leseb 1 second would mean half total time like 10 minutes instead of 20. Or 2 hours instead of 4. It might be OK when necessary, like during an upgrade, since we'd wait more than a few seconds for each osd to restart, but I think we could do better if we know we won't change anything.

@travisn 1. In my case, most re-reruns are because operator times out waiting for prepare jobs. It takes a bit m

[2020-01-10 22:26] satoru-takeuchi commented on #2047
@leseb Thank you for letting me know. I'll read #4454 .

[2020-01-11 00:34] nfrush opened #4657 "Allow option to config image for YugabyteDB deployment"
**Is this a bug report or feature request?**
Feature Request

**Are there any similar features already existing:**
Ceph has a similar ability in the config.yaml currently

What should the feature do:
Currently, we can specify the images to use for the Ceph operator. There should be similar options for the YugabyteDB operator

**What would be solved through this feature:**
I have custom compiled im

[2020-01-11 02:59] anguslees commented on #2286
Yep, check the docs.  Basically it involves creating a `rook-ceph/rook-config-override` ConfigMap, with a `config` key, and you can put various ceph settings in there. Fwiw, my config is:
[code]

[2020-01-11 03:31] danielsand commented on #4615
sure thing

4.15.0-72-generic
Ubuntu 18.04.3 LTS

[2020-01-11 05:37] liejuntao001 commented on #3132
I was able to consistently reproduce this problem running rook-ceph v1.0.6.
I tried many things until latest work-around - separate the nodes which serve rook-ceph and the nodes using the persistent volume.
Apply node label "node-role.kubernetes.io/rook-storage" to all the nodes that you allow rook-ceph to run

In CephCluster, define
  placement:
    all:
      nodeAffinity:
        requiredDuring

[2020-01-11 12:20] Arkalys commented on #3132
@liejuntao001 Are you using proxmox ?

[2020-01-11 18:41] harryleesan commented on #4553
@BlaineEXE I don’t see any errors in the operator logs.

**Extra info:**
After creating **CephCluster** (external=true), I had to manually create `rook-config-override` configmap to create **CephFilesystem**.

[code]

[code]

Events from the rook-ceph-crashcollector:
[code]

[2020-01-12 00:42] onedr0p commented on #4649
Adding the following seemed to fix the issue, I don't understand why since I have `ssl: false` in my cluster config, odd.

[code]

[2020-01-12 00:42] #4649 closed

[2020-01-12 07:44] rnetser commented on #2286
Thank you! That is very helpful; modified "mon clock drift allowed" as described.

[2020-01-12 16:20] stephan2012 commented on #3449
Still desirable but since I do not know currently if this is achievable by leveraging PVs and nobody else seems to be interessted in I'm closing this issue.

[2020-01-12 16:20] #3449 closed

[2020-01-13 01:51] minh-nguyenquang commented on #4615
I find one job cannot be deleted like the others, so I manually delete the job and the problem is gone.
[code]

[2020-01-13 02:00] minh-nguyenquang commented on #4615
@travisn I manage to solve the issue but should this be consider as a bug? Because I have to delete the previous job manually.

[2020-01-13 03:04] minh-nguyenquang opened #4660 "Pool ID (8) not found in Ceph cluster"
**Is this a bug report or feature request?**
* Bug Report

**How to reproduce it (minimal and precise):**
I try to remove osd with this document `Phantom OSD Removal` https://rook.io/docs/rook/v0.7/advanced-configuration.html
Not sure if rook still reads on the old data

**File to upload**
[03_cluster.yml](https://github.com/rook/rook/files/4051975/03_cluster.txt)

**Logs**:
Kubelet cannot mount d

[2020-01-13 03:08] Madhu-1 commented on #4660
@minh-nguyenquang have you deleted and recreated the pool with the same name?
and also please tell us how to exact step to reproduce this issue.

[2020-01-13 03:20] minh-nguyenquang commented on #4660
@Madhu-1 Let me go to the detail as much as possible
I encounter this issue  https://github.com/rook/rook/issues/4615. Firstly, I think my OSD is broken and I didn't pay attention about checking log of operator. So I decided to remove OSD from ceph cluster.

I use below command to fully remove the OSD and clean data for volume reuse.
[code]
This morning I manage to solve it by deleting the job man

[2020-01-13 03:23] Madhu-1 commented on #4660
@ShyamsundarR isn't this looks like the issue with ceph-csi when the pool is recreated with the same name?

@minh-nguyenquang can you try to restart csi pods and check if it fixes the issue and also please try to create and mount new PVC.

[2020-01-13 03:27] minh-nguyenquang commented on #4660
@Madhu-1 I did try to restart csi pods few times but the issue is still there. PVC is bounded but kubelet cannot attach

[2020-01-13 03:29] Madhu-1 commented on #4660
@minh-nguyenquang have you restarted provisioner pods also? if not please restart the provisioner pod also, and also have you created the PVC after restart both provisioner and plugin pods?

[2020-01-13 03:40] minh-nguyenquang commented on #4660
@Madhu-1 I have deleted all the pods of rbdplugin
[code]
But I still get the same issue. As what I see in the log, rook might use old data compared to current what is updated on ceph.
[code]
This is current osd tree. Hope this helps
[code]

[2020-01-13 03:47] Madhu-1 commented on #4660
the logs you are providing now is related to volume delete, have you deleted the rbd pool before deleting the PVC?. if we can use the rook slack channel to debug the issue that will be good.

[2020-01-13 03:57] Madhu-1 commented on #4660
created ceph-csi issue  https://github.com/ceph/ceph-csi/issues/781 for now, I need to reproduce the issue and investigate it.

[2020-01-13 04:19] minh-nguyenquang commented on #4660
@Madhu-1 I think when I delete pvc, it was blocked because pod still in ContainerCreating status and volume is attached to already. So pvc will not be deleted until pod get deleted.
I already join rook-io slack workspace, let me ping you directly

[2020-01-13 05:54] alialshamali commented on #4602
@sabbot Resolved after upgrade

[2020-01-13 05:54] #4602 closed

[2020-01-13 08:52] betonmoewe opened #4664 "how to upgrade from 1.1 to 1.2.x if rook was deployed via helm"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
* the documentation should describe the upgrade path from x to y if helm was used for deployment
**What is use case behind this feature:**
* Upgrading rook without cloning the rook git repository
**Environment**:

[2020-01-13 09:00] betonmoewe commented on #4664
Hi,

I have not found a description of how to upgrade from v1.1.x to v1.2x after rolling out rook with helmet without having to clone the project locally. the upgrade procedure is only based on rolling out by hand. Or is this not possible at all?

Best regards
betonmoewe

[2020-01-13 09:35] mickymiek commented on #1033
@travisn I was talking about your latest comment here: https://github.com/rook/rook/issues/1033#issuecomment-337761946

I think it would be nice/easier to have a way to tell Ceph (probably in the config-override CM) the verbosity we want for each of its components (mon,osd,mgr...) maybe with values like "debug", "info", "warn", "error", without going into the details of Ceph configuration. What do

[2020-01-13 10:24] valentinedy commented on #4640
i am use centos7 1908
lsblk /dev/sdb --bytes --pairs --output NAME,SIZE,TYPE,PKNAME
NAME="sdb" SIZE="53687091200" TYPE="disk" PKNAME=""

i don't see any filesystem
[root@node1 ~]# pvs
  PV         VG     Fmt  Attr PSize   PFree
  /dev/sda2  centos lvm2 a--  <49.00g 4.00m
[root@node1 ~]# lvs
  LV   VG     Attr       LSize   Pool Origin Data%  Meta%  Move Log Cpy%Sync Convert
  root centos -wi-ao---

[2020-01-13 10:25] valentinedy commented on #4640
func GetDevicePartitions(device string, executor exec.Executor) (partitions []Partition, unusedSpace uint64, err error) {

	var devicePath string
	splitDevicePath := strings.Split(device, "/")
	if len(splitDevicePath) == 1 {
		devicePath = fmt.Sprintf("/dev/%s", device) //device path for OSD on devices.
	} else {
		devicePath = device //use the exact device path (like /mnt/<pvc-name>) in case of P

[2020-01-13 10:31] anmolsachan opened #4665 "ceph: Wrong pod name and hostname shown in alert CephMonHighNumberOfLeaderChanges"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Wrong Pod name and hostname is shown in the alert CephMonHighNumberOfLeaderChanges.
Eg:Ceph Monitor "rook-ceph-mgr": instance 10.131.0.16:9283 has seen 2.85 leader changes per minute recently.

**Expected behavior:**

The alert mentions "rook-ceph-mgr", which is not a ceph monitor. The message needs to

[2020-01-13 13:11] likid0 opened #4667 "Using operator-openshift.yaml deploying an external cluster in namespace rook-ceph-external fails"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
when using operator-openshift.yaml deploying an external cluster in namespace rook-ceph-external fails. This is because operator-openshift.yaml  env variable ROOK_CURRENT_NAMESPACE_ONLY is set to false.

So the operator can only watch for CRD modifications on the rook-ceph namespace/project and when we

[2020-01-13 13:55] phal0r opened #4669 "CephFS CSI volume expand capacity / quota"
Hi,

I have provisioned a volume via CSI and CephFS backed storageclass. So far everything works fine. Now I want to expand the capacity of the volume. Mounting is done via ceph-fuse. Kernel version is 5.4.1.

What I did:
- change the capacity of the persistent volume in kubernetes
- change the requested capacity of the persistent volume claim
- rededployed the app

What needs to be done to update

[2020-01-13 14:30] leseb commented on #4091
@dingsongjie if they are partitions without fs then you will be able to use them soon thanks to: https://github.com/rook/rook/pull/4435

[2020-01-13 14:32] ShyamsundarR commented on #4660
If pool is deleted and recreated with the same name, then the existing PV is pretty much invalid, as there is no image of CSI journal (which is stored in the pool) to refer and operate on.

So the [issue](ceph/ceph-csi#781) opened against ceph-csi to possibly return successful return code when pool is no longer valid, for DeleteVolume requests, is the way to proceed.

In this case I am not certain

[2020-01-13 14:34] leseb commented on #4640
@valentinedy please `blkid` against your device and print the output.

[2020-01-13 15:08] leseb opened #4670 "use ceph-volume inventory to list available devices"
We want to rely on c-v to spit out which drives are available to become OSDs.
However, we cannot fully move away from the `lsblk` approach yet for scanning all disks since c-v is not capable of reporting partitions (see https://tracker.ceph.com/issues/43579).

This should be a followup from https://github.com/rook/rook/pull/4435 and once c-v is enhanced.

So the goal is to refactor `Provision()` f

[2020-01-13 15:22] Madhu-1 commented on #4669
you may need to update the size of the backend cephfs subvolume then redeploy the app

but I would suggest you wait for ceph-csi v2.0.0 release which supports official resize https://github.com/ceph/ceph-csi/issues/557#issuecomment-566493396

[2020-01-13 16:38] BlaineEXE commented on #4553
Try making the cluster name and cluster namespace the same and then doing this. Rook expects these to be the same in most cases. Try this and see if the problem persists.

[2020-01-13 16:56] #4667 closed

[2020-01-13 17:14] BlaineEXE commented on #4232
Closing, as I think we are tabling this until such a point that we have a user experiencing the issue. It is an unlikely corner case.

[2020-01-13 17:14] #4232 closed

[2020-01-13 17:21] #2584 closed

[2020-01-13 17:21] #1944 closed

[2020-01-13 20:05] travisn commented on #1033
@mickymiek With the flexibility of the config override CM, I don't see us adding a different verbosity level for the ceph components. If you want to change the logging level for ceph components, you should understand how to configure the ceph components with the ceph config override.

Agreed that the csi driver log level should be configurable. Want to open a separate issue for that?

[2020-01-13 20:09] travisn commented on #4615
@minh-nguyenquang Can you list out the repro steps so it's clear why deleting the job fixed the issue? The operator is supposed to delete previous prepare jobs automatically. If it didn't do this it sounds like a bug. Simplified repro steps would just help track it down. thanks

[2020-01-13 21:33] travisn commented on #2053
@mjschmidt Does the new [OSD removal](https://rook.io/docs/rook/v1.2/ceph-osd-mgmt.html) topic help answer the question? Rook intentionally doesn't automatically remove OSDs. If the osd prepare pods are completed, they won't have any side effects of not being cleaned up. You're just suggesting they should be deleted automatically? Or are you seeing the pods stuck in pending or failed state for the

[2020-01-13 22:08] yanchicago commented on #4371
In below condition, if the pod on the node specified in the attachment doesn't exist, the attachment should be allowed as well. Is it valid?
[code]

[2020-01-13 23:17] Bessonov commented on #592
This would be a disaster! :D

[2020-01-13 23:26] travisn commented on #4548
With #4673 I'm proposing:
- Rook release branches will test older versions of K8s. For v1.2 this means testing back to K8s 1.11. For v1.3 we can consider keeping it at v1.11 as well. With each release we can re-evaluate.
- If we hit some issue with an older version of K8s, we will have to decide on a case-by-case basis if we can continue to support that version. Since Rook will add a version check

[2020-01-13 23:26] #4574 closed

[2020-01-14 01:13] ron1 commented on #4548
@travisn Thanks much for your support!

[2020-01-14 06:04] #4625 closed

[2020-01-14 08:39] dimm0 commented on #4282
Having this after updating to k8s 1.17 for CSI volumes

[2020-01-14 08:53] minh-nguyenquang commented on #4615
@travisn Let me go to the detail as much as possible
I encounter this issue  https://github.com/rook/rook/issues/4615. Firstly, I think my OSD is broken and I didn't pay attention about checking log of operator. So I decided to remove OSD from ceph cluster.

I use below command to fully remove the OSD and clean data for volume reuse.
[code]
This morning I manage to solve it by deleting the job man

[2020-01-14 08:56] Madhu-1 commented on #4282
am closing this one as the issue template is not filled, difficult to debug based on the info provided. please create a separate issue and don't forget to fill template which helps in debugging

[2020-01-14 08:56] #4282 closed

[2020-01-14 09:03] dimm0 opened #4677 "CSI volumes not mounting after updating to k8s 1.17"
**Is this a bug report or feature request?**
* Bug Report
CSI volumes (rbd and cephFS) not mounting after updating to k8s 1.17

**Deviation from expected behavior:**
Above

**Expected behavior:**
Volumes can mount

**File(s) to submit**:
[code]

The only error I could find.

**Environment**:
* OS (e.g. from /etc/os-release):
Centos 7.7
* Kernel (e.g. `uname -a`):
5.3.2
* Cloud provider or hardware

[2020-01-14 09:21] hseipp commented on #4624
@Madhu-1 Does this mean that the ceph-csi code stays as-is until the spec is changed?
Aren't we on the same page that
1. It is correct that the csi-provisioner checks the validity of the ContentSource field for a CreateVolume request that has VolumeSnapshot as DataSource.
2. The spec needs to get adjusted so that ContentSource is mandatory for CreateVolume requests with VolumeSnapshot DataSource

[2020-01-14 09:23] Madhu-1 commented on #4624
Fix already merged to master and will be part of ceph-csi v2.0.0 release

[2020-01-14 09:37] dimm0 commented on #4677
Something changed after I tried mounting CSI volume from 2nd ceph cluster in parallel with 1st cluster, now seems to work.
Closing

[2020-01-14 10:28] hseipp commented on #4624
Thank you @Madhu-1 that was quick! I should have checked the ceph-csi commit history. I'm looking forward to testing the ceph-csi v2.0.0 release.

[2020-01-14 11:56] annismckenzie commented on #3284
Unfortunately, I can't upgrade our Rook cluster right now. I hope (🤞) to get to it by the end of next week. 😞

[2020-01-14 11:59] galexrt commented on #2066
Still happening from time to time

[2020-01-14 12:32] harryleesan commented on #4553
I have made the cluster name and cluster namespace the same. The issue persists.

rook-operator logs:
[code]

`kubectl get po`:
[code]

`kubectl describe po rook-ceph-mds-myfs-a-5cb944748f-tzh5t`:
[code]

After I have created the `rook-config-override` configmap, the `mds` pods are able to start up.

[2020-01-14 14:23] beelzetron commented on #4560
Found the cause: starting from openshift 3.11 a defaultNodeSelector is defined in the master-config.yaml.
I solved the issue by setting this annotations to the rook-ceph namespace:
`openshift.io/node-selector: ""`

[2020-01-14 14:23] #4560 closed

[2020-01-14 14:58] #4665 closed

[2020-01-14 16:37] chicofranchico commented on #3524
Do we have any way to monitor the Rook operator itself?

[2020-01-14 17:07] BlaineEXE commented on #4553
The operator should create the configmap on startup for both external and non-external clusters. I'm not sure why it isn't. A link to a pastebin of the full operator logs are probably needed.

[2020-01-14 18:30] BlaineEXE commented on #3132
For all current and future conversation participants, the version of Ceph used, the kernel version of the host, and the kernel version in the container may also be very important parts of this issue. Please include that information with reports.

[2020-01-14 22:27] xdsxc commented on #4582
Ran into this issue myself today. I confirmed that the OSD prepare pod has the same affinity as the OSDs:

This is on the placement job pod:
[code]

And on the OSD:
[code]

It seems like the OSD prepare jobs complete so quickly that it is possible for the anti-affinity rules to be satisfied for the same hostname because by the time another job is scheduled, the previous job has already been comple

[2020-01-14 22:57] #4616 closed

[2020-01-15 07:37] foolwc opened #4685 "cephfs cannot mount"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]
mds0 IP was  Node IP  but not mds pod IP.
**Expected behavior:**

**How to reproduce it (minimal and precise):**

**File(s) to submit**:

* Cluster CR (custom resource), typically called `cluster.yaml`, if necessary
* Operator's logs, if necessary
* Crashing pod(s) logs, if necessary

 To get lo

[2020-01-15 07:58] zoetrope commented on #4582
@travisn

We do not suggest to change the two-step process; what we meant is that, for OSD on PVC cases, the first step can be done with an initContainer instead of a separate prepare Job.

IIUC, the purpose of the prepare Job is to initialize OS block devices at once according to the given deviceFilter for OSD on _Node_ cases.  In OSD on PVC, a prepare Job initializes only a single PVC/PV. Theref

[2020-01-15 08:10] likid0 opened #4686 "rook-ceph: Error while deploying RGW(object-openshift.yaml) when using cluster-external.yaml"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

When only deploying an external cluster with rook(so we have no previous internal ceph cluster) in the rook-ceph namespaces we get the following error when deploying the RGW services( object-openshift.yaml or object.yaml):

[root@helper ~]# oc get pods | grep rgw
rook-ceph-rgw-my-store-a-56b664447d-67

[2020-01-15 09:59] leseb commented on #4553
Sorry for the late reply, https://github.com/rook/rook/pull/4688 will fix your issue @harryleesan

[2020-01-15 10:07] jmolmo commented on #4635
I have review the capture and what i can conclude is that there is a security breach in the CherryPy component of the dashboard because it allows to process http requests outside the application domain.
In Rook we cannot solve this problem. I pass this information to the Ceph dashboard team to inform about the problem

Details:
In TCP packets 1210, 12

TCP packet 1210: request directly the etc/pas

[2020-01-15 10:11] leseb commented on #4582
@zoetrope The problem with the initcontainer approach is that it'll rely on the "rook" binary, so if the operator is upgraded, a new image will be provided. The problem is that every deployment that has this image in its spec will get restarted even if the object actually didn't change.
This is something we are getting rid of in various places already.

[2020-01-15 12:23] tbool commented on #4582
I have been following this discussion for a while, and I noticed that the only reason we have this whole discussion is because there would be a "need" to bind OSD pods to the same node that the corresponding OSD prepare job once existed.

But is this dependancy really necessary?

Over the last week I have been experimenting  with a shared filesystem using the cluster-on-pvc.yaml in the examples di

[2020-01-15 12:44] leseb commented on #4582
When running on PVC, the prepare and the osd pod don't need to be running on host but we do require it so that we can compute the CRUSH location. Technically, if we were able to know the name of the host the osd would be running on, the prepare pod could run everywhere.
This is only true for PVC because blocks are attached/detached for each prepare/osd container.

[2020-01-15 13:57] tbool commented on #4582
But the current placement rule only states where the OSD pod is NOT supposed to run, not where it should/must run...

Certainly on clusters with more nodes than OSD's and after some rescheduling of pods due to maintenance on the kubernetes cluster, over time it will be impossible to guarantee that a specific pod will still run on a specific node. Not to mention that is also very much against the k

[2020-01-15 14:29] travisn commented on #4635
@benwbooth thanks for reporting the security issue, we are working on the fix. Since it is a security issue, content from the github issue is removed now. For future reference, we will soon have instructions for reporting security issues as described in #4395. Thanks!

[2020-01-15 16:17] travisn commented on #4126
@rajatsingh25aug Can you see if you can repro this? thanks

[2020-01-15 16:19] leseb commented on #4686
Can you print your `cluster-external.yaml`? If the image is empty then the cm does not get created.

[2020-01-15 16:19] leseb commented on #4686
Also, I'd like to see your operator logs. Thanks

[2020-01-15 16:21] mickymiek opened #4690 "Make CSI verbosity configurable"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
We should be able to specify a log level to set for CSI components
**What is use case behind this feature:**
Currently CSI components produce a lot of logs (mostly `csi-snapshotter` and `csi-rbdplugin` in my case), it would be nice to have a way to manage it.

[2020-01-15 16:24] Madhu-1 commented on #4690
I was planning to work on this, will send a patch soon, this is needed for all sidecar containers and also for both cephfs and rbd

[2020-01-15 16:24] mickymiek commented on #1033
Alright.

Sure, here it is: https://github.com/rook/rook/issues/4690

Closing this then, thank you.

[2020-01-15 16:24] #1033 closed

[2020-01-15 16:44] #4619 closed

[2020-01-15 17:08] leseb commented on #4633
What kind of initialization error are you referring too? Can you print an error?
But overall I understand the concern, it should be easy to fix this.

[2020-01-15 17:19] leojonathanoh commented on #3832
this issue should not be closed. at the present moment i am not aware whether the ceph CSI has implemented the `discard` flag yet. If it has, there would be the need to test it to ensure that the pvc flags result in the intended behaviour in rook’s backend.

[2020-01-15 19:03] travisn opened #4693 "Integration test failure for the helm suite object tests"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Since master build [1654](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/master/1655/pipeline/52/) we’re getting a failure in k8s 1.13 with this error:
[code]

**Expected behavior:**
Integration tests should pass in master

[2020-01-15 19:22] dimm0 commented on #4677
Still having the issue. After updating all nodes, no CSI is working...
I found this in master logs:

[code]

[2020-01-15 19:23] dimm0 commented on #4677
`Invalid attach limit value 0 cannot be added to CSINode object for "rook-system.cephfs.csi.ceph.com"`

[2020-01-15 20:30] ShyamsundarR commented on #4677
It seems like the feature gate [`AttachVolumeLimit`](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) is GA with kubernetes v1.17.

ceph-csi [`NodeGetInfo`](https://github.com/ceph/ceph-csi/blob/327fcd1b1b0f4f2d8324fe8fad4e80ae3fa2a8c3/pkg/csi-common/nodeserver-default.go#L57-L63) is responding only with the node ID and no other fields of the `NodeGetInfoResponse`,

[2020-01-15 20:40] travisn commented on #4371
@yanchicago If the pod doesn't exist, it is checked a few lines earlier and allow the attachment.
[code]

Is that the check that you were looking for?

[2020-01-15 20:59] dimm0 commented on #4677
Will try updating rook to recent

[2020-01-15 21:44] phal0r commented on #4669
@Madhu-1
Thanks for the response. I am aware of the resize feature in the next release, but what if I need to resize the volume now?

There is an issue on how to do it for RBD and of course it is just a workaround, but it is still better than creating new volumes and copying all the content.

Do you know a way how to do it with ceph tools like it was discussed for rbd?

[2020-01-15 22:21] adrianleh commented on #3425
@alexcpn How did you add the node and just the node back after removing it?

[2020-01-15 22:22] adrianleh commented on #3425
@alexcpn Did you manage to fix the issue/find a workaround

[2020-01-15 22:40] yanchicago commented on #4371
@travisn Unfortunately, the below search would include the new pod that's current in request of attachment. If the search includes the node/host name of the pod location that's specified in the volumeattachment record, it would work.
For pod in a statefulset, the requesting pod would fit in below checking. So the "orphaned" volume scenario is not correctly identified.
[code]
Also, could you shed a

[2020-01-15 22:41] likid0 commented on #4686
Hi,

Thanks for taking a look, I was missing the point that the cm override should get created even during external deployment, so you can for example override an option on the RGW config that is on K8s and not on the external cluster?
[operator-log.txt](https://github.com/rook/rook/files/4067851/operator-log.txt)

this is the cluster-external.yaml file:

# cat cluster-external.yaml | grep -v ^\#

[2020-01-16 00:34] dimm0 commented on #4677
Same after the update

[2020-01-16 00:58] travisn commented on #4371
For #4180 The check was added for whether the pod was on the same node because there was corruption without the check. The only way the driver can know that it won't be causing corruption is by blacklisting the other client from connecting. This is work being done in the csi driver in https://github.com/ceph/ceph-csi/issues/578, but not the flex driver currently.

[2020-01-16 01:08] dimm0 commented on #4677
On some nodes it never mounts, on some it's taking ~8 minutes to mount
Any option to debug this?

[2020-01-16 01:39] dimm0 opened #4695 "Can't unmount cephFS flexVolumes"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Can't unmount flexVolumes (kill pods) with cephFS after upgrading to 1.2.1

**Expected behavior:**
Volumes can be unmounted clearly

**How to reproduce it (minimal and precise):**
Mount a cephFS folder using flexVolume specification

Logs from kubelet:

`Jan 15 17:35:36 k8s-gpu-02.calit2.optiputer.net

[2020-01-16 01:40] dimm0 commented on #4695
Btw there's no persistent volume, it's defined straight in the pod spec:

[code]

[2020-01-16 01:59] dimm0 commented on #4677
https://github.com/kubernetes/kubernetes/issues/86281 related?

[2020-01-16 03:44] alexcpn commented on #3425
@adrianleh  I dont remember much now than what I documented

After this I just removed the node from k8s and added back and this error is gone;

Hope that helps

[2020-01-16 08:50] adrianleh commented on #3425
@alexcpn Thanks - but I found a different

**Solution that worked for me**

- Find a rook and ceph version that play nicely (in my cases rook 1.1.1 and ceph 14.2.6)
- Make sure lvm2 is installed on all storage nodes (missed it on one of them)
- Ensure you run the clear script and `rm -rf /var/lib/rook` if you mess up your cluster

Hope that helps future people visiting this thread

[2020-01-16 12:14] gemfield commented on #3619
With kernel 5.3.0-26-generic and kernel client, I got a 25x IO performance improvement. Here is a brief report: https://zhuanlan.zhihu.com/p/81417869

[2020-01-16 14:11] zionmenahem opened #4699 "Multi-Attach error"
**Is this a bug report or feature request?**
* Bug Report
shutting down a node which runs a pod with a PV mount, requires PV re-mount by the new pod, however re-mount operation takes very long time (20 mins is the least observed, other times it's still stuck after several hours)

**Expected behavior:**
PV is re-mounted successfully on new pod, right after node failure is detected.

specifically, t

[2020-01-16 14:14] Madhu-1 commented on #4699
please provide below information

* Are  you suing cephfs and rbd
* PVC is RWO or RWX
* iF RBD  PVC mode is  FileSystem  or Block

[2020-01-16 14:20] stephan2012 commented on #2079
Issue is not yet solved…

[2020-01-16 16:28] ShyamsundarR commented on #4677
Checked with @bertinatto on the above. A value of 0 implies unlimited, so this particular message is benign and should not be the cause of the problem.

Message being: `Invalid attach limit value 0 cannot be added to CSINode object for "rook-system.cephfs.csi.ceph.com"`

[2020-01-16 18:10] dimm0 commented on #4677
Things suddenly started working. Volumes map in seconds now.
Yesterday I updated rook, no luck.. Then at night the rook operator suddenly deleted all csi daemonsets... I restarted the operator, and it created csidrivers (which were missing before, not sure if those are needed), and since then everything's working
It seemed like the controller-manager was stuck on something for a while, like an inf

[2020-01-16 18:12] travisn commented on #4677
Good to hear it's resolved now, although intermittent issues like that are of course disturbing

[2020-01-16 18:14] #2215 closed

[2020-01-16 19:53] #4531 closed

[2020-01-16 19:55] dimm0 opened #4703 "Update shouldn't change the default S3 zone"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Updating rook to 1.2.1 changed the default S3 zone to default.

**Expected behavior:**
Keep the current one, or let configure it in CRD

**How to reproduce it (minimal and precise):**
Initially I had the "default" and "rookS3" zones, and it was using rookS3 for everything. Then the pool got corrupted,

[2020-01-16 19:58] travisn commented on #4703
@thotz Can you take a look?

[2020-01-16 20:03] #4633 closed

[2020-01-16 21:57] batrick opened #4707 "Add mds_join_fs config to MDS pods"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

Pass via CLI the config option "mds_join_fs" to any MDS pods it spins up. See also: https://github.com/ceph/ceph/pull/32015

**What is use case behind this feature:**

Have MDS pods Rook creates for a file system only join that file system.

**Environment**:

[2020-01-16 23:03] #3888 closed

[2020-01-16 23:41] xdsxc opened #4711 "Device path filter creates misleading log messages"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The following log message prints out when scanning devices
[code]

This is misleading because it looks like the device path filter successfully matches the device, when it actually doesn't. In this example it looks like `/dev/disk/by-path/pci-0000:18:00.0-scsi-0:0:4:0` is matched by the filter `/dev/di

[2020-01-16 23:54] xdsxc commented on #4711
In #4712 I moved the log message to only print if the filter matches. If its desired that these log messages print out every time then I would suggest rewording the log message to say something like 'device ... matches/does not match device path filter....'

[2020-01-17 02:40] rmartinez3 opened #4713 "Ceph prepareosd cpu request/limit doesn't seem to get set"
So not sure if doing something wrong but have been trying to set higher cpu for prepareosd since node im trying to set osd has so many lvm devices . Want to provide more cpu .

cephcluster crd for resources was set like this
[code]

the job was created with correct memory however only have 1m of cpu

[code]

when resources were set to empty limit/requests for cpu and memory was set to 0

Not sure

[2020-01-17 02:47] zoetrope commented on #4582
@leseb
Got it. So I understand that this is a limitation rather than a bug.
Should I add documentation that users must specify both `rook-ceph-osd` and `rook-ceph-osd-prepare` on `labelSelector` for placement?

[2020-01-17 04:26] rmartinez3 commented on #4713
https://github.com/rook/rook/blob/76a617e5ea9c82ee0695ae5ec99ddbee8ea7f930/pkg/operator/ceph/cluster/osd/spec.go#L1034

guessing reason this is occurring is how resources are calculated.
Any reason why can't just be passed as is ?

[2020-01-17 05:20] rmartinez3 commented on #4713
https://github.com/rook/rook/blob/76a617e5ea9c82ee0695ae5ec99ddbee8ea7f930/pkg/operator/ceph/cluster/osd/spec.go#L882

switching this to
		Resources: c.prepareResources,
should solve.

Not sure what osdPrepareResources those with osdClainName since the string is not in use.

[2020-01-17 07:17] minh-nguyenquang commented on #4660
@Madhu-1 as your recommendation to use kernel `4.17+` in order to solve this issue.

I have tested this on one of my environment with kernel upgraded to `4.19.96` and issue has gone.

So I will proceed to work on other environments to make sure that this issue is caused by old kernel version `3.10.x`

[2020-01-17 09:04] toydarian commented on #4553
I encounter this issue with a local (non-external) cluster with rook on master and the latest master image from ceph.
Disabling the crash-collector works as a workaround. Is it planned to fix the issue?

[2020-01-17 09:11] leseb commented on #4553
@toydarian did you wait enough time? Sometimes it can take a couple of seconds but eventually, the secret gets created and the crash pod starts.

[2020-01-17 09:38] toydarian opened #4715 "Monitors fail to form quorum when deployed on kubernetes cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After the first monitor starts, the  no further monitors join the quorum and die one after another.

**Expected behavior:**
Three monitors form quorum

**How to reproduce it (minimal and precise):**

Kubernetes v1.16.3 deployed using kubespray v2.12.0 on ubuntu 18.04.3 LTS (Bionic Beaver)
Using `master

[2020-01-17 10:19] toydarian commented on #4553
After over 20 minutes the container still hasn't started:
[code]
I'm using rook master and the latest ceph image: `ceph/daemon-base:latest-master`

[2020-01-17 11:03] hightoxicity opened #4716 "Config generation of discovered ips for each OSD satisfying IP CIDR"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**

It would be a must have to be able to set (optionally) on the CephCluster CRD two fields:
- public_network
- cluster_network

Those two configs fields would represent the same one as public network and cluster network in the ceph config global section (that is to say network adresses in the CIDR notati

[2020-01-17 11:46] beelzetron commented on #4685
Hit the same issue on Openshift 3.11 with rook 1.2.2 and ceph 14.2.6.

[2020-01-17 13:03] zops commented on #4624
Have the same problem

rook：1.2.1
k8s:1.17
os：centos 7.7

log:
waiting for a volume to be created, either by external provisioner "rook-ceph.rbd.csi.ceph.com" or manually created by system administrator

[2020-01-17 14:23] eliaswimmer opened #4717 "Ceph external cluster, repeatedly saving mon endpoints to config"
**Is this a bug report or feature request?**

* Bug Report

**Bug Report**

Rook rewrites configs for external ceph cluster repeatedly every few seconds.

**Expected behavior:**

Only rewrite configs when cluster changes.

**Deviation from expected behavior:**
[code]

**How to reproduce it (minimal and precise):**

Use rook 1.2.1 with a external cluster with 3 mons.
[code]
**Environment**:
* OS: C

[2020-01-17 14:25] leseb commented on #4717
@rajatsingh25aug PTAL this is due to https://github.com/rook/rook/pull/4150.

[2020-01-17 14:41] rajatsingh25aug commented on #4717
It's happening due to this, this was written in this way only.
https://github.com/rajatsingh25aug/rook/blob/65fb5684f28854def6ac719ef0e3e079efa76a87/pkg/operator/ceph/cluster/mon/health.go#L330
I don't think

[2020-01-17 18:23] travisn commented on #4715
The communication from the operator to the mons is based on these endpoints.
[code]
The `v2` endpoint is preferred. The operator must have been able to connect to `10.233.41.56:3300` for mon-a, but is failing to connect to `10.233.39.112:3300` for mon-b. This is odd that the operator can connect to the first mon but not the second one. From the operator pod can you ping both the mon-a and mon-b en

[2020-01-17 20:13] stephan2012 opened #4718 "Ceph: Allow setting min_size for pools to prevent suspended I/O"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Allow specification of `min_size` for Ceph pools (RBD and CephFS).

**What is use case behind this feature:**
In our Rook operated Ceph cluster (4 worker/storage nodes, 2 workers per datacenter, `failureDomain` set to `zone`, node labels set accordingly) with `.spec.replicated.size` set to `2` in `CephB

[2020-01-17 20:14] stephan2012 commented on #4718
https://github.com/rook/rook/issues/2543 seems to be related.

[2020-01-17 21:37] yanchicago commented on #4371
Yes, agree #4180 fixed the original corruption issue.
But it also blocks the rescheduled pod attaching the volumes while the old pod is gone. The "orphaned" volume checking should include the node name.

[2020-01-18 20:16] onedr0p commented on #2485
@GanKanTechnology were you ever able to figure this out?

[2020-01-19 07:36] weisongf opened #4720 "rook v1.1.0 release notes misspelled"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Storage Class Device Sets(Hyperlinks). 404.
https://rook.io/docs/rook/v1.1/ceph-cluster-crd.htlm#storage-class-device-sets

**Expected behavior:**
Storage Class Device Sets(Hyperlinks).
https://rook.io/docs/rook/v1.1/ceph-cluster-crd.htlm#storage-class-device-sets
to
https://rook.io/docs/rook/v1.1/ceph

[2020-01-19 09:18] satoru-takeuchi commented on #3132
I couldn't find any commit that would be related to this problem, both in the upstream Linux's master branch and XFS development branch. In addition, I couldn't find any discussions that would be related to this problem, in linux-xfs mailing list.

From the kernel back traces that is provided by @Hugome , I found there would be a problem in the transaction commit of XFS. In both of two traces, the

[2020-01-19 09:26] weisongf opened #4721 "Different types of osd nodes have different ceph.conf configurations"
## Different types of osd nodes have different ceph.conf configurations

**Is this a bug report or feature request?**

* feature request

**What should the feature do:**

For example, the same ceph cluster contains a mix of mechanical and solid state osd nodes, all SSD nodes; however, the configuration for osd may be different.

* mix osd
bluestore_block_db_size = 21474836480
bluestore_block_wal_s

[2020-01-19 12:50] nielsbasjes commented on #4553
FYI: I now have everything running.

From what I understand now I did two things "wrong" (I may be wrong in this analysis, but I'm sharing it anyway with you guys)

1. I was too impatient. I did the the steps one by one and waited until everything was finished before I did the next step. Some things "look green" but are really jobs that need to complete before you can proceed.
2. I switched from f

[2020-01-19 13:27] #3491 closed

[2020-01-19 16:27] #4069 closed

[2020-01-20 04:01] dimm0 opened #4722 "Operator crashing when checking monitors quorum on ceph update"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Operator is producing a long stacktrace when updating ceph regarding monitors quorum

**Expected behavior:**
Checking monitors

**How to reproduce it (minimal and precise):**
Update ceph with 3 mons

**File(s) to submit**:

[log.txt](https://github.com/rook/rook/files/4084377/log.txt)

**Environment**:

[2020-01-20 04:10] dimm0 commented on #4722
Maybe not crashing... But is this stack trace expected?

[2020-01-20 07:06] rajatsingh25aug commented on #4717
cc @eliaswimmer can you please check the link that I provided?.
Thanks

[2020-01-20 08:43] leseb commented on #4716
This will likely be addressed once I resume https://github.com/rook/rook/issues/4716.

[2020-01-20 09:04] zionmenahem commented on #4699
Hi,
According to our settings:

  1.  We’re using cephfs driver. From our helm values:
csi:

  enableRbdDriver: false

  enableCephfsDriver: true

  enableGrpcMetrics: true

  1.  We use both. We have several PVs and PVCs, only one of them is RWX and the rest are RWO
  2.  We create both CephFileSystem and CephBlockPool storage class

Please let me know if there’s more information you need.

Thank

[2020-01-20 09:19] Madhu-1 commented on #4699
RWO PVC can  be attached in multiple pods on the same nodes, if you try to attach RWO PVC on multiple nodes  you will face  this error

are you facing issue with RWX PVC?

[2020-01-20 09:30] eliaswimmer commented on #4717
@rajatsingh25aug Yes that's the function rewriting the config over and over.
I had the time to learn some go over the weekend, I will try to fix this.
I think the indented functionality was to only write the config when some mons join or leave.

[2020-01-20 09:38] rajatsingh25aug commented on #4717
Yes that's absolutely correct. But l think that modifying this might break
the code from several places.
But feel free to raise a PR and I'll review it.
Thanks

On Mon, 20 Jan 2020 at 3:00 PM, Elias Wimmer <notifications@github.com>
wrote:

[2020-01-20 09:57] leseb commented on #4722
It's not a crash. Fixed in https://github.com/rook/rook/releases/tag/v1.2.2 as part of https://github.com/rook/rook/pull/4617.

[2020-01-20 09:57] #4722 closed

[2020-01-20 10:21] leseb commented on #4717
This issue is important, @rajatsingh25aug please keep track of it. We need to backport this fix in 1.2.

@eliaswimmer do you commit to fixing this issue? Thanks.

[2020-01-20 10:51] leseb commented on #4718
When it comes to `min_size` we deliberately decided to let Ceph choose the right value. If you think the value should be different you should either:

* change it manually (just like you did)
* open a bug tracker in ceph https://tracker.ceph.com/

Unfortunately, this is not something we are willing to fix in Rook.

[2020-01-20 10:51] #4718 closed

[2020-01-20 11:56] joscollin commented on #4494
@stephan2012 Could you please provide more information on @rajatsingh25aug query. Thanks.

[2020-01-20 12:00] yannleretaille commented on #3522
As far as i can see the current doc on master has not changed, not sure if closing this was right.

[2020-01-20 12:46] leseb opened #4724 "Docs: Removal of OSD on directory, Filestore OSD and Rook legacy OSD support"
# What's changing in Rook 1.3?

With https://github.com/rook/rook/pull/4435, Rook is introducing a major refactor in the way OSDs are handled and configured. Essentially, this change will:

* remove support for Filestore OSDs
  * existing Filestore OSDs will continue to run if on a block device
  * creation of Filestore OSDs is not supported anymore
* remove support for osd running on directories

[2020-01-20 12:56] stephan2012 commented on #4494
@joscollin @rajatsingh25aug Sorry, no, I do not have additional information besides what I've posted. Obviously Rook forgot “something” during the upgrade process.

[2020-01-20 13:08] leseb commented on #4718
Rook aims at deploying/managing/upgrading and maintaining a desired state for a storage cluster. The goal is not to create yet another interface on top of Ceph, the priority is to get Ceph smarter so if defaults are not suitable then Ceph should tune itself. We have been doing this on several occasions and we will continue to do so.
The only time where Rook can help is when something critical rise

[2020-01-20 13:20] galexrt commented on #3522
Reopening.

We are happy to see a PR to update the docs with the Rancher specific Flexvolume plugin directory and / or the CSI directory.

[2020-01-20 13:58] leseb commented on #4724
Note, this issue is subject to change and edits will be made until https://github.com/rook/rook/pull/4435 gets merged.

[2020-01-20 14:11] rcgoodfellow commented on #2775
This happened to us after updating the k8s TLS certs. Had to run

[code]

and then restart the operator pod.

Having a guide for what to do for rook when updating k8s certs would be highly useful. We updated our certs and rook ground to a halt.

[2020-01-20 14:56] zionmenahem commented on #4699
Currently it looks like there are no issues with the RWX PV.

Regarding our issue - those are our PVs and PVCs:

root@zmrook143vm2:~# kubectl get --all-namespaces pv
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS   CLAIM                                                            STORAGECLASS       REASON   AGE
pvc-1fdb24ff-3b7a-11ea-88b4-000d3aaf9747

[2020-01-20 15:03] eliaswimmer commented on #4717
@leseb @rajatsingh25aug Please review my PR

[2020-01-20 16:20] cultcom commented on #4494
Currently I am having the same issue with 1.2.2 when I try to create a PVC:

[code]

[2020-01-20 20:49] #4078 closed

[2020-01-21 01:58] #4088 closed

[2020-01-21 07:29] paalkr commented on #4616
I can confirm that upgrading does work as expected with the 1.2.2 release. Thanks!

[2020-01-21 08:33] sbktc commented on #4636
I've run across the same issue. Have changed the spec.monitoring.enabled to true. Howver I am still getting the message 'rook-ceph is not available', while storage can PV's can automatically be created.
The build in prometheus is supposed to be for cluster monitoring, so I guess rook-ceph should fall within that category. Is it missing RBAC or service-monitor?

[2020-01-21 08:40] paalkr commented on #1169
cephcsi 2.0.0 was releases yesterday :)
https://github.com/ceph/ceph-csi/releases/tag/v2.0.0

[2020-01-21 08:41] Madhu-1 commented on #1169
am working on a PR to update ceph-csi in rook

[2020-01-21 10:01] joscollin commented on #4494
@rajatsingh25aug You need to read the comments in this ticket again from the beginning. At-least from [this comment](https://github.com/rook/rook/issues/4494#issuecomment-566438755) onwards. Now Stephan's and Markus's issues are fixed using the workaround. But you need to do the actual code fix on the Rook side as discussed earlier with @leseb , so that this issue doesn't come again.

[2020-01-21 11:54] sbktc commented on #4636
It seems like I found a solution:
1) The rook-ceph namespace should be labled cluster-monitoring=true, run: `oc label namespace rook-ceph "openshift.io/cluster-monitoring=true"`
2) Apply a slightly modified version of the RBAC file fount here: https://github.com/rook/rook/blob/release-1.2/cluster/examples/kubernetes/ceph/monitoring/rbac.yaml
The RBAC should be changed so that last role-binding app

[2020-01-21 11:56] penumbra23 opened #4727 "CephFS on custom cluster"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Monitors not starting on all nodes, OSD-prepare pods not starting at all

**Expected behavior:**

Monitors and OSD pods started and running

**How to reproduce it (minimal and precise):**

1. Create a VM on AWS and one on Google Cloud
2. Join them in one VPN (with Amazon VPC, Customer Gateway and Clie

[2020-01-21 12:03] toydarian commented on #4715
I can ping both:
[code]

I can establish TCP connections as well:
[code]

[2020-01-21 12:05] zionmenahem commented on #4699
Just wanted to emphasise that in our 3 nodes cluster, a single pod (with a specific RWO PV attached) is running on a node we’re turning off. A new pod is created on one of the remaining nodes. This pod is not ready for quite a long time, waiting to attach to the same PV (events are attached in previous post).

Hope that clarifies our issue.

[2020-01-21 14:18] leseb commented on #4645
What you're describing looks more like a Ceph issue than a Rook one.
Rook will pass limits and requests to the pod and Ceph should auto-tune based on those values.

I think you should also open an issue here: https://tracker.ceph.com/.
Thanks.

[2020-01-21 14:19] leseb commented on #4645
If this appears to be a bug in Ceph, we can try to quickly work around it in Rook.

[2020-01-21 16:02] cultcom commented on #4494
I followed the upgrade documentation steps from 1.0 to 1.1 and then 1.1 to 1.2. There were several roles missing as well. I had to reapply "common.yml" on top of upgrade-from-1.x-apply.yaml.

[2020-01-21 16:04] rajatsingh25aug commented on #4494
You can deploy the cluster with 1.1.2 image version itself. You just have to change the operator image.
https://github.com/rook/rook/blob/release-1.2/cluster/examples/kubernetes/ceph/operator-openshift.yaml#L114

[2020-01-21 16:08] #4713 closed

[2020-01-21 16:25] jmolmo commented on #2963
I think this issue has some dependencies with https://github.com/rook/rook/pull/4520

[2020-01-21 17:04] benceszikora commented on #4345
@Madhu-1 apologies for the delay, please find those below
[code]

[code]

There isn't much in the `csi-rbdplugin` container on the node:
[code]

Logs from the `driver-registrar` container on the node:
[code]

[2020-01-21 21:28] NurPech opened #4733 "csi-rbdplugin missing after node failure"
**Is this a bug report or feature request?**
* Bug Report
After a worker node fails there isn't any csi-rbdplugin pod anymore. How can I recreate them? For details see this output:

[code]

**Deviation from expected behavior:**

**Expected behavior:**
There should be the csi plugins.

**How to reproduce it (minimal and precise):**
One worker runs out of memory so it stopped some pods.

**File(s) t

[2020-01-22 05:48] zedtux commented on #4156
Yeah, let's play the bot game .... 🤦‍♂

[2020-01-22 06:37] Madhu-1 commented on #4733
if you restart operator pod the csi pods should get recreated. but can you paste `kubectl cm -n<rook-namespace>` output?

[2020-01-22 07:39] Madhu-1 commented on #4345
everything looks fine, can  you paste the `rook-dir` from kubelet configuration

[2020-01-22 08:30] NurPech commented on #4733
Thank you, the pods were recreated.

Do you have a typing error in the command? kubectl doesn't know the subcommand `cm`

[2020-01-22 08:34] Madhu-1 commented on #4733
sorry mybad typpo in above comment, that should get configmap `kubectl get cm -n<rook-namespace>`  and also `kubectl get cm rook-ceph-csi-config -o yaml <rook-namespace>`

[2020-01-22 08:46] leseb commented on #4647
@AXington can you share a log on that pod? Please use the `describe` subcommand. I'm wondering why the pod remains in pending.

[2020-01-22 08:48] leseb commented on #4643
@ashishranjan738 @AXington do you know if this is only happening on PVC? Thanks.

[2020-01-22 09:01] benceszikora commented on #4345
@Madhu-1 Sorry, I am not quite sure what I am looking for. Is this a config file on the kubelet?

[2020-01-22 09:04] Madhu-1 commented on #4345
sorry there was a typo in  https://github.com/rook/rook/issues/4345#issuecomment-577048498

if root-dir in kubelet is other than `/var/lib/kubelet` can cause this issue

[2020-01-22 09:11] benceszikora commented on #4345
Ah, that makes sense, thanks. We don't override `root-dir` and it defaults to `/var/lib/kubelet` I believe. I also checked `/var/lib/kubelet` and it certainly looks like it's being used.

[2020-01-22 09:18] Madhu-1 commented on #4345
i should have checked  this earlier. Are you using CSI ? from the logs provided in https://github.com/rook/rook/issues/4345#issue-525105893
shows you are using Flex Driver not CSI. can you  please check
`Nov 19 09:55:15 fpig-kubeletl042 kubelet[55855]: W1119 09:55:15.298978   55855 driver-call.go:150] FlexVolume: driver call failed: executable: /usr/libexec/kubernetes/kubelet-plugins/volume/exec/r

[2020-01-22 09:25] rajatsingh25aug commented on #4126
cc @kfox1111  @travisn
Here's what I did.

So I drained a worker node on which a pod was running and apart from mon pods, i.e  `rook-ceph-crashcollector-ip-10-0-153-129-784b675f69` and `rook-ceph-mon-a-567bdbf85f`, all other pods got schedules to different nodes.
I think the reason being for this is because not more than one MON is supposed to run on a specific node. And that is why the MON pod is

[2020-01-22 09:27] benceszikora commented on #4345
I don't think I have set anything specifically to use Flex Driver. Where is this set?

[2020-01-22 09:29] Madhu-1 commented on #4345
have you created storage-class from the CSI  folder? ie https://github.com/rook/rook/tree/master/cluster/examples/kubernetes/ceph/csi/rbd

[2020-01-22 09:30] Madhu-1 commented on #4345
check ENV in operator pod to know are you using Flex or CSI?

[2020-01-22 09:31] benceszikora commented on #4345
Aha, no, we kept going with the storageclass setup we had from rook 0.6. Let me give that a go!

[2020-01-22 10:02] leseb commented on #4686
@likid0 managing resources like mds/rgw/nfs on k8s when using external cluster is not mandatory. That's why the cm is only created if an image is specified in the CR.

I think I've found the bug, sending a PR to fix it. Thanks for reporting.

[2020-01-22 10:12] NurPech commented on #4733
sure
`NAME                              DATA   AGE
local-device-vsrvk8w001           1      7d21h
local-device-vsrvk8w002           1      7d21h
local-device-vsrvk8w003           1      7d21h
rook-ceph-csi-config              1      7d21h
rook-ceph-mon-endpoints           4      7d21h
rook-ceph-osd-vsrvk8w001-config   1      7d21h
rook-ceph-osd-vsrvk8w002-config   1      7d21h
rook-ceph-osd-vsrvk8

[2020-01-22 10:20] benceszikora commented on #4345
So the `RegisterPlugin` errors remained, but I am getting slightly different errors afterwards:
[code]

From `kubectl describe pod`:
[code]

[2020-01-22 10:22] Madhu-1 commented on #4345
can you please provide the output of rbdplugin  logs from  the node where the mount is failing, if you  want to debug this issue now, rook slack is the best option

[2020-01-22 10:22] galexrt commented on #3958
@dyusupov Ping, is this still an issue or has this been resolved?

[2020-01-22 10:25] Madhu-1 commented on #4733
looks like https://github.com/rook/rook/issues/4590 and this one are similar?

[2020-01-22 10:26] galexrt commented on #2485
You create your PVC(s) (for StatefulSet scale it up as needed once and scale it down again), then you can use the Rook Ceph toolbox to copy in the files by mounting the RBD block volume behind the PVC or CephFS depending on what you use.

You could also run a Pod on a certain on which you have the backup(s) mounted in using a `hostPath` volume and copy them to the PVC which could also be attached

[2020-01-22 10:28] michas2 commented on #3958
It's probably still an issue for everyone in a similar situation.
The fix looks kind of trivial, but the issue currently does not bother me anymore as I switched back to ceph because of that issue.

[2020-01-22 10:42] galexrt commented on #2424
@dimm0 Do these instructions in the Ceph documentation https://docs.ceph.com/docs/nautilus/cephfs/client-auth/#path-restriction work for you?

[2020-01-22 11:07] benceszikora commented on #4345
Thanks a lot for the help @Madhu-1.

We managed to fix this by switching our storageclass to use the CSI driver. We also had a networking issue, we had a networkpolicy to allow traffic to the rook namespace, but the rbdplugin pod uses host networking so that didn't apply.

[2020-01-22 11:07] #4345 closed

[2020-01-22 11:27] zanhsieh commented on #3681
.

[2020-01-22 13:42] #4686 closed

[2020-01-22 15:49] #4717 closed

[2020-01-22 17:14] galexrt commented on #3832
Ping @Madhu-1 has this been addressed in the latest Ceph CSI release?

[2020-01-22 19:00] kfox1111 commented on #4126
I believe the setup at the time was:
8 nodes
3 initially labeled for mons.
hostnetworking true.
I labeled an additional one of the 8 nodes with the mon label so it could be used. It did not contain a mon.
I then unlabeled one of the inital mon labeled nodes and deleted the mon from it.
The mon did not get recreated on the new node. active mon count stayed at 2.

[2020-01-23 01:41] AXington commented on #4647
@leseb the pod remains in pending because it's going to a specific node that no longer exists. And unfortunately I can't, it's been deleted now (has been 13 days).

[2020-01-23 01:42] AXington commented on #4643
@leseb unfortunately, I do not know, all my clusters are PVC backed, so I have nothing to compare with.

[2020-01-23 04:13] Madhu-1 commented on #4669
@phal0r here  is the link fo slack discussion on how to resize cephfs  subvolume https://rook-io.slack.com/archives/CK9CF5H2R/p1578908578097600

[2020-01-23 04:14] Madhu-1 commented on #4660
@minh-nguyenquang any update on this?

[2020-01-23 04:19] Madhu-1 commented on #4427
posted upstream PR https://github.com/kubernetes-csi/node-driver-registrar/pull/61 in sidecar to fix this issue

[2020-01-23 04:21] Madhu-1 commented on #4365
this is fixed in sidecar container, closing

[2020-01-23 04:21] #4365 closed

[2020-01-23 04:26] Madhu-1 commented on #4178
Fixed in https://github.com/rook/rook/pull/4302

[2020-01-23 04:26] #4178 closed

[2020-01-23 04:29] Madhu-1 commented on #4051
ceph-csi is pushing new arm image here   https://quay.io/repository/cephcsi/cephcsi?tab=tags `quay.io/cephcsi/cephcsi:v2.0.0-arm64`, if any help is required please feel  free to reopen it

[2020-01-23 05:03] minh-nguyenquang commented on #4660
@Madhu-1 Mad I have tested several times with kernel higher than `4.17.+` and I'm able to attach block devices into Kubernetes pod. But I still get this log, this doesn't affect on block devices attaching but old volume info still store in some places.
[code]

[2020-01-23 07:20] jmolmo commented on #4126
@kfox1111 , it would be nice to have information about what happened in the moment that you have the pending mon pod. (basically the output of a kubectl describe pod command, and the operator log).
In any case it seems that something prevents to schedule the mon pod in any of the remaining nodes, as @rajatsingh25aug has stated, only one monitor can run in each node,  so there was theorically 6 oth

[2020-01-23 07:25] rajatsingh25aug commented on #4126
@kfox1111 , try to describe the pod by `oc describe pod <podname>` and you can see the error of why it's in the pending state.
You can post the same error message here and then we can have a more precise idea of what happening.

cc @jmolmo

[2020-01-23 08:24] #4582 closed

[2020-01-23 08:25] jti989 commented on #4643
We ran into this problem as well. Deleting the operator pod helped, when it restarted the osds were restarted with the limits. Now the OSDs don't come up again, staying at CrashLoopBackOff. I will open a separate issue for that.

[2020-01-23 08:42] jti989 opened #4738 "OSDs crashing after applying memory limit"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
OSDs stay in CrashLoopBackOff state after adding a memory limit.

**Expected behavior:**
OSDs should come back up.

**How to reproduce it (minimal and precise):**
Create a CephCluster without memory/cpu limits.
Change the cluster.yaml to have memory limits, apply it.
Comment out memory limits and apply

[2020-01-23 09:18] #4711 closed

[2020-01-23 09:48] metti-himself opened #4739 "Inject Config into mon"
**Is this a bug report or feature request?**
* Bug Report
Im trying to fix a health Warning:

[code]
[code]
**Deviation from expected behavior:**
The Warning is still ongoing, I restarted all mons, restarted the mgr. I tried to edit the rook-ceph-config and added the config option there, restarted the mons and mgr again but the warning is still there

**Expected behavior:**
The Warning disappears.

[2020-01-23 09:50] leseb commented on #4739
Use `ceph config set` command instead.

[2020-01-23 09:54] leseb commented on #4738
First, please upgrade to the latest stable Ceph version 14.2.6.
Then if not solved open an issue against https://tracker.ceph.com/ under RADOS.

Thanks.

[2020-01-23 09:54] #4738 closed

[2020-01-23 10:14] Antiarchitect commented on #4733
Having a similar problem. RBD and CephFS pods are getting missing after a while. Not sure it's about the node failure.

[2020-01-23 10:21] metti-himself commented on #4739
This fixed it: ceph config set mgr mon_pg_warn_max_object_skew 0

Thanks!

[2020-01-23 10:21] #4739 closed

[2020-01-23 10:30] #4707 closed

[2020-01-23 10:51] ashishranjan738 commented on #4643
yeah, I haven't seen this problem without PVC.

[2020-01-23 12:29] onedr0p commented on #4051
Would it be possible to keep this issue open until we are able to build a multi arch image? It's hard to integrate rook-ceph into a multiarch Kubernetes cluster without this.

[2020-01-23 12:31] Madhu-1 commented on #4051
Reopening

[2020-01-23 13:52] leseb commented on #4647
Do you still have the op logs by any chance?

[2020-01-23 14:08] leseb commented on #4643
@ashishranjan738 are you working on fixing this? Can I assign it to you?

[2020-01-23 14:37] leseb commented on #4519
I don't think there is any logic in k8s to get a diff of 2 objects but we could search/build it.

Agreed.

There is no effect per se but since they are all part of the same orchestration flow then yes there are dependencies.

[2020-01-23 15:21] NurPech commented on #4733
It seems so. My issue is solved now. Thank you very much

[2020-01-23 16:45] kfox1111 commented on #4126
The cluster has not existed in this state since mid October. Its in production now so I can reproductive it at the moment. I filed an issue since I saw a problem. Sorry I can't debug it further.

When I looked, I could not see any reason for it to not failover. I believe that it did have enough resources to launch, but it didn't attempt to. This is trying to remember 3 months ago though. so please

[2020-01-23 18:21] phal0r commented on #4669
Thanks @Madhu-1 . This is what I was after.

And for the sake of documentation:
- run ceph toolbox
- use this command to change the quota: `ceph fs subvolume create myfs csi-vol-44792a21-35de-11ea-b653-0a580a8002ae --size 5368709120 --group_name csi`

[2020-01-23 18:25] rajatsingh25aug commented on #4126
Do you want us to close this issue?.
Thanks

[2020-01-23 18:30] kfox1111 commented on #4126
I filed it, as it was a bug I saw. Others may see it as well eventually if its not explored/fixed. I bothered to file an issue because I wanted to provide feedback on my experience to help fix the issue. You can ignore the feedback, and close the issue. But in my thinking, the underlying issue probably will remain.

[2020-01-24 02:44] #3011 closed

[2020-01-24 03:15] ftab commented on #4438
I'm running into the same issue, but I've deployed it with the flex driver enabled and CSI drivers disabled. I've chosen to do this at this time because of #1169 not being finished for the CSI driver (I may need to expand the volumes, which is not currently possible with CSI)

I'm so confused because my setup is so similar in another location except for the number of replicas (I have only one in t

[2020-01-24 04:07] ftab commented on #4438
Face, meet palm.

My problem was that kubespray changed at some point. The default is now to use the same volume plugin dir as rook expects by default. I was telling it the wrong plugin dir.

[2020-01-24 07:57] ashishranjan738 commented on #4643
yeah i can try.

[2020-01-24 14:07] galexrt commented on #4438
@ftab Would you mind creaeting a PR to update the flexvolume dir docs for the Kubespray version in which it changed?

[2020-01-24 15:17] BlaineEXE opened #4743 "Improve CSI storageclass user experience"
A StorageClass definition using Rook-Ceph's CSI driver looks like below. There are a few points I will comment inline below using `# <<< comment >>>`

[code]

Tagging @Madhu-1

[2020-01-24 15:38] leseb commented on #3852
https://github.com/ceph/ceph/pull/32828

[2020-01-24 16:50] BlaineEXE commented on #3132
@satoru-takeuchi please report this as an issue. Thanks for lending your kernel expertise to us.

[2020-01-25 03:24] ftab opened #4746 "Improve documentation for flexvolume configuration"
During my last kubespray and rook deployment, I ran into a `no volume plugin matched` error. I found #4438, thinking it was the same as my issue, and pitched in my setup and logs.

I later identified that kubespray had changed its flexvolume plugin dir since the time the documentation was written, therefore I had mistakenly instructed rook to use a custom flexvolume plugin dir.

I am no longer sur

[2020-01-25 03:32] ftab commented on #4438
@galexrt - done, see #4746 and #4747

I made a separate issue for doc update since I think now that I know what happened I'm only tangentially related to what's happened to the other folks in this thread. They are explicitly configuring the flexvolume path in kubelet and the rook flexvolume path, and I was just configuring rook flexvolume path according to the doc, not explicitly setting a flexvol

[2020-01-25 10:18] galexrt commented on #4438
Thanks! Closing in favor of #4746 and #4747 then.

[2020-01-25 10:18] #4438 closed

[2020-01-25 10:26] galexrt commented on #4438
@karthikvee Not knowing in what environment you run, have you set your flexvolume directory `/var/lib/kubelet/plugin` on the operator Deployment?

In your case looking at the pod list, you seem to have CSI enabled (default since v1.1) which means that flexvolume is disabled. Do you want to use flexvolume instead of Ceph CSI? If so then you need to set the env vars on the operator Deployment to dis

[2020-01-25 10:28] galexrt commented on #4139
@yq513 Should you still experience issues mounting storage, please open a new issue with the template filled out, errors logs + events and other such information.

[2020-01-25 10:45] shaekhhasanshoron commented on #3582
I was trying to implement mirroring feature between two ceph clusters deployed on kubernetes using rook on different data centers. But I am facing some issues with connection from master cluster to the remote cluster. I have copied the configuration and keyring file from toolbox pod of remote ceph cluster to the toolbox pod of master ceph cluster and saved as "remote.conf" & "remote.client.admin.k

[2020-01-25 10:48] shaekhhasanshoron opened #4749 "[CEPH:Mirroring] Failed to check ceph status from one ceph cluster to another ceph cluster"
I was trying to implement mirroring feature between two ceph clusters deployed on kubernetes using rook on different data centers. But I am facing some issues with connection from master cluster to the remote cluster. I have copied the configuration and keyring file from toolbox pod of remote ceph cluster to the toolbox pod of master ceph cluster and saved as "remote.conf" & "remote.client.admin.k

[2020-01-25 11:01] galexrt commented on #4176
@travisn The Helm Charts are pushed to an AWS S3 bucket, so the caching is probably on AWS S3 side.

[2020-01-25 16:24] bsperduto opened #4750 "CephFS Erasure Coded CRD Conflict"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Using the Erasure Coded example generates an invalid spec error due to missing "spec.dataPools.replicated.size in body should be greater than or equal to 1"
**Expected behavior:**
Should be able to specify an erasure coded data pool without specifying a replica size as in previous versions
**How to rep

[2020-01-25 17:42] dyusupov commented on #3958
We will look into it in Feb/March!! Thanks for the hints.

[2020-01-26 21:27] Antiarchitect commented on #4733
@NurPech How exactly you solved this issue? I still need to kill rook operator once a day for rbdplugin and cephfsplugin pods be reanimated.

[2020-01-27 03:16] Madhu-1 commented on #4733
if anyone faces this issue again. can you please check daemonset object is deleted?  if not please  provide `kubectl describe` output of it

[2020-01-27 05:40] satoru-takeuchi commented on #3132
Reported this issue to linux-xfs ML.

https://marc.info/?l=linux-xfs&m=158009629016068&w=2

[2020-01-27 06:00] Antiarchitect commented on #4733
@Madhu-1
`csi-cephfsplugin` and `csi-rbdplugin` daemonsets and `csi-cephfsplugin-provisioner` `csi-rbdplugin-provisioner` deployments are deleted when I restart the operator pod.

[2020-01-27 06:03] Madhu-1 commented on #4733
@travisn @egafford any idea why this is happening?

[2020-01-27 06:11] Antiarchitect commented on #4733
@Madhu-1 I will try to catch ds/deploy when pods are gone if any and let you know.

[2020-01-27 13:04] #4519 closed

[2020-01-27 13:23] leseb commented on #3852
My thinking for this would be to have another `storageClass` from which we would request storage too, not a block device. Following the PVC mindset, we should be claiming for a certain amount of storage of a particular type, then we would use it as a metadata device for Bluestore.
We can have up to 3 `storageClass` in the end:

1. block: the main OSD data store
2. db: rocksdb database
3. wal: rock

[2020-01-27 13:59] #4473 closed

[2020-01-27 14:58] martin31821 opened #4752 "[Doc] [Ceph] Mounting CephFS/RBD not possible with Cilium & host-reachable-services."
In the following setup, mounting a CephFS/RBD is not possible:
- Cilium >= 1.6.5
- Rook 1.2.2 (all versions with CSI enabled)
- CoreOS 2303 (most likely older versions affected as well)
- Cilium Config `enable-host-reachable-services: true`

This is caused by cilium optimizing the ServiceIP <-> PodIP NAT step by hooking into the connect(), sendmsg(), recvmsg() syscalls using eBPF. Unfortunately, t

[2020-01-27 14:58] #4752 closed

[2020-01-27 15:01] Frankkkkk commented on #3850
Hi,
As a workaround for now, we put the `ms bind ipv6` in the `rook-ceph-override` configmap and it actually works well.
But indeed, an option in the CR would actually be interesting and cleaner.

Cheers

[2020-01-27 18:09] travisn commented on #4051
@onedr0p @Madhu-1 Since it's now possible to run the CSI driver on arm64 the original issue is fixed. Would you mind closing this issue and opening a new issue to track the multi-arch image?

[2020-01-27 18:30] onedr0p opened #4753 "Provide multi-arch Container image for CephCSI"
We now have a amd64 Docker image `quay.io/cephcsi/cephcsi:v2.0.0-arm64` but Quay current doesn't support multi-arch images, so once they do it would be nice to build the image as multi-arch (amd64,arm64, and others if possible)

[2020-01-27 18:30] onedr0p commented on #4051
Here you go https://github.com/rook/rook/issues/4753

Please close this issue.

[2020-01-27 18:33] travisn commented on #4051
Thanks!

[2020-01-27 19:02] travisn commented on #4156
@rohantmp Could this be related to the new controller added in v1.1 for managed pdbs? The error message is not at all helpful to narrow it down, but it smells like an informer for the new controller.
[code]

[2020-01-27 19:26] travisn commented on #4727
The key is that the operator needs to be able to connect to the mons in order to verify that they are in quorum. From the logs it appears the operator cannot complete this verification so there must be some other aspect of the networking that is missing.

[2020-01-27 19:27] travisn commented on #4636
@umangachapagain can you take a look at this?

[2020-01-27 19:29] #4145 closed

[2020-01-27 21:49] #4693 closed

[2020-01-28 00:02] sylflo commented on #4590
I have no idea if it's this but I encountered the same behavior where CSI-pods and the operator crashed.
[code]

What surprised me, it's the fact it happens when doing intensive network request.
For example I tried to use Weave Net and Rook and the pods could not stop crashing after I use Calico it works fine. But if I am doing intense network request the CSI pod crashed.

[2020-01-28 00:16] dimm0 commented on #4677
Still https://github.com/kubernetes/kubernetes/issues/86281

[2020-01-28 00:19] travisn commented on #4677
@humblec @ShyamsundarR @Madhu-1 I was chatting with @dimm0 and this CSI issue on K8s 1.17 is really slowing down attachments when there are 100s of volumes. Can you also investigate https://github.com/kubernetes/kubernetes/issues/86281? It is also being hit by other CSI drivers, not just rook. But it's a significant issue for any Rook user as well with many volumes. Thanks!

[2020-01-28 06:18] #4148 closed

[2020-01-28 06:30] humblec commented on #4677
Sure, let me take a look at this .

[2020-01-28 07:20] Madhu-1 commented on #4590
@sylflo can you please check which container is crashing in provisioner pod when there is a high network load?

[2020-01-28 08:10] penumbra23 commented on #4727
I've managed to bash into the operator and ping all the monitors with their private cluster IPs, so it's reachable at least for ICMP. Are there any other ports or env vars that I should check?

TBH, I think it's more K8s related, because our other app sometimes also has connectivity issues.

[2020-01-28 10:25] vahide opened #4754 "Object store swift gateway"
I want to put ceph object store as openstack swift back end. I put keystone info in rook-config-override.
[code]
 And put gateway type as swift in object store CRD.
[code]
When I curl ceph rgw endpoint, s3 type is responded.
How can I use swift gateway in object store?

[2020-01-28 10:44] vahide commented on #4749
You shoud put master mon ip and **user** keyring in remote rook-config-override by command:
`kubectl -n rook-ceph edit configmap rook-config-override`
Follow ceph rbd mirroring URL:[https://access.redhat.com/documentation/en-us/red_hat_ceph_storage/3/html/block_device_guide/block_device_mirroring](url)

[2020-01-28 13:38] mjrepo2 commented on #4738
We updated our Rook/Ceph to latest versions, now when we edit the limits on the cephcluster resource they are not applied to the OSDs or the OSDs Replicasets.
We are doing this with: `"kubectl -n rook-ceph patch cephcluster rook-ceph -p '{\"path\": \"/spec/resources\", \"value\": {\"osd\": { \"limits\": {\"memory\": \"3Gi\"}, \"requests\": {\"memory\": \"3Gi\"}}}}' --type merge"`

[2020-01-28 13:51] rohantmp commented on #4156
Looking into it!

[2020-01-28 16:00] leseb commented on #4754
Interestingly, as far as I can see, this option is not used anywhere. @travisn any idea?
So `type: Swift` does nothing.

[2020-01-28 16:28] travisn commented on #4754
Correct, only `s3` is currently supported by rook. @mkogan1 Thoughts on what it would take to support swift in place of s3?

[2020-01-28 18:12] dimm0 opened #4756 "Slow operator restart"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The provision pods are running unnecessary commands which take lots of time. For example:

[code]
If the list of OSDs to configure is empty, what is it doing for 2 minutes? Is it possible to skip the steps that are not needed?

**Expected behavior:**
Restarting operator without cluster modifications is

[2020-01-28 19:55] dimm0 opened #4757 "Provisioned nodes don't come up after node reboot"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
After successfully adding a node, I reboot the machine, and OSD doesn't come up with:

[code]

**Expected behavior:**
Can reboot a node

**Environment**:
* Rook version (use `rook version` inside of a Rook Pod):
1.2.2

[2020-01-28 19:57] dimm0 commented on #4757
I see the LVM on the node:
[code]

[2020-01-28 20:02] dimm0 commented on #4757
[code]

[2020-01-28 20:08] dimm0 commented on #4757
Hmm... Looks good after several reboots...
Will look more

[2020-01-28 20:08] #4757 closed

[2020-01-28 20:41] #1169 closed

[2020-01-28 20:41] #4624 closed

[2020-01-28 20:41] #4669 closed

[2020-01-28 21:03] onedr0p commented on #1169
@BlaineEXE are we awaiting a release to the rook helm chart inorder to start using this?

[2020-01-28 21:29] travisn commented on #1169
@onedr0p The plan is to backport this to the release-1.2 branch and include the CSI 2.0 driver in the next patch release, perhaps by end of week. It won't be enabled by default yet, but will have instructions on how to enable it in v1.2 clusters. See [ceph-upgrade.md](https://github.com/rook/rook/blob/master/Documentation/ceph-upgrade.md#enabling-the-csi-v20-driver) for the instructions. In the ne

[2020-01-28 23:19] #4641 closed

[2020-01-28 23:59] dimm0 opened #4761 "Node provision fails"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Node provision fails most of the time. Prepare log attached.

**Expected behavior:**
Not fails

**File(s) to submit**:

[prepare.log](https://github.com/rook/rook/files/4125498/prepare.log)

**Environment**:
* Rook version (use `rook version` inside of a Rook Pod):
1.2.2
* Kubernetes version (use `kube

[2020-01-29 00:06] dimm0 commented on #4761
[ceph-volume.log](https://github.com/rook/rook/files/4125525/ceph-volume.log)

[2020-01-29 00:06] travisn commented on #4761
The critical issue is the core dump
[code]

@leseb any ideas on this one?

[2020-01-29 00:22] dimm0 commented on #4761
It's in dmesg!!

[code]

[2020-01-29 02:18] #3911 closed

[2020-01-29 06:27] Madhu-1 opened #4762 "Failed to upgrade rook cluster from 1.1.9 to custom version(1.2.3)"
**Is this a bug report or feature request?**
* Bug Report
I have build a custom image to test upgrade from 1.1.9 to 1.2.3(which is next rook release) the operator pod is crashing due to ceph version check failure in recomcile

**Deviation from expected behavior:**

**Expected behavior:**
Upgrade should be successful

**How to reproduce it (minimal and precise):**

* Deploy rook using v1.1.9 branch

[2020-01-29 06:33] Madhu-1 commented on #4762
@leseb @egafford  can you please take a look, i think we need to check for `Status.CephVersion` is `nil` in https://github.com/rook/rook/blob/ca29b9d16f40d01268dd5c8a8649d1ea9a797dcd/pkg/operator/ceph/cluster/crash/reconcile.go#L211

[2020-01-29 07:13] satoru-takeuchi commented on #3132
I got a comment from an XFS guy.

https://marc.info/?l=linux-xfs&m=158018349207976&w=2

He said the root cause would be kernel RBD driver. I'll ask about this problem in Ceph's kernel side
mailing list (ceph-devel ML).

[2020-01-29 08:47] leseb commented on #4761
ceph version?

[2020-01-29 08:48] leseb commented on #4761
low memory limits on the prepare job?

[2020-01-29 08:50] leseb commented on #4761
oh ok

[code]

Looks like this OSD exists already.
So you likely removed the osd.9 but not its key.

Run `ceph auth del osd.9`. That should fix your issue.

[2020-01-29 10:01] SergeyKaydalov opened #4765 "edgefs: memory/CPU resources limits issue"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
1. Cluster CRD's `chunkCacheSize` is applied only when `resourceProfile: embedded`. It needs to be applied regardless of `resourceProfile` value.
2. If the CPU limit is set in Cluster's CRD, it needs to be exposed to the target container by means of a dedicated environment variable.
3. Cluster CRD's `t

[2020-01-29 17:17] #4765 closed

[2020-01-29 18:04] dimm0 commented on #4757
Needed lvm2 package installed

[2020-01-29 18:13] dimm0 commented on #4761
Latest Ceph, v14.2.6-20200115

Those jobs use around a hundred megabytes, and have limit of 4G. Also I checked all other components, no resource bottlenecks...

I found the osd.9 later and fixed it, still hitting the issue

Have 5 more nodes to provision now :)

[2020-01-29 18:43] travisn opened #4768 "OSD raw mode (no LVM) for the non-PVC devices"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
With the recent changes to the OSDs to remove use of LVM, this will be a very positive change also in other areas beyond what was done by #4435. The common case is where OSDs are running on a raw device or partition with no PVC, no metadataDevice specified, and no encryption required. We will still need

[2020-01-29 18:59] #4762 closed

[2020-01-29 19:32] #3764 closed

[2020-01-29 19:53] eknudtson opened #4771 "OSD orchestration inconsistency"
**Is this a bug report or feature request?**
* Bug Report
OSDs are unnecessarily restarting during orchestrations due to what appears to be inconsistent ordering of crush map locations in the OSD command args.

**Deviation from expected behavior:**
OSDs are restarting during orchestrations when they should have no changes applied.

**Expected behavior:**
OSDs with no changes do not restart during

[2020-01-29 20:00] travisn commented on #4771
This was actually just fixed by #4729. It will be included in the v1.2.3 release, targeted for the next couple of days. Thanks!

[2020-01-29 20:00] #4771 closed

[2020-01-29 20:00] eknudtson commented on #4771
Cool, I missed that. Much appreciated!

[2020-01-29 20:06] eroji opened #4772 "FailedMount rbd image is still being used"
I have a K8s cluster running Rook 1.2.2 with Ceph storage on 4 worker nodes. There was a network event that caused one of the nodes to disconnect. Now, I have a pod with PVC/PV that it cannot mount back successfully.

![image](https://user-images.githubusercontent.com/13228540/73392838-6de98b00-428f-11ea-80f3-0c0b12242a0f.png)

I looked around for help on how to solve this and it appears that I ne

[2020-01-29 20:15] paalkr commented on #4590
I'm encountering a very similar issue, but not identical to what's describe in the OP. Deleting and restarting the operator pod does not cause any harm, and the csi-cephfsplugin daemonset and the csi-cephfsplugin-provisioner deployment stays intact. But a rolling update of the master nodes, for some reason causes the csi-cephfsplugin daemonset and the csi-cephfsplugin-provisioner deployment to get

[2020-01-29 20:43] paalkr commented on #4590
Further observations. The issue happen just when a master node that has been drained and cordoned as part of the rolling update procedure, are removed from the cluster. If I just terminate one master node without draining the node first, the issues does not happen and the csi pods continue to run.

The difference is that in a controlled rolling replace of the a node, the node drainer daemonset is

[2020-01-29 23:16] #3691 closed

[2020-01-29 23:32] riking opened #4775 "docs: write short guide for how to respond to Ceph HEALTH_WARN"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Write a short guide and link it from the Ceph quickstart & other documents that talks about the dangers of ignoring a HEALTH_WARN and how to investigate and fix it when it occurs.

This can consist mostly of links to other existing resources, but it's important to be on the Rook Ceph site.

**What is us

[2020-01-29 23:52] riking opened #4776 "docs: ceph: create a single page for dataPool configuration"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Create a single page in the Ceph section explaining the options for dataPool durability configuration.

**What is use case behind this feature:**
Allow cluster admins to make informed choices that won't result in data loss.

**Environment**:

Ceph

[2020-01-30 00:05] travisn commented on #4775
What about adding a section in the [common issues](https://rook.io/docs/rook/v1.2/ceph-common-issues.html) doc?

[2020-01-30 00:21] riking commented on #4776
goals:

mention additional configurations like 4:3 and 3:2
Encourage having enough nodes to retain HEALTH_OK under a failure, not just the bare minimum
describe `failureDomain: host` as the default for k8s setups and `failureDomain: osd` as a specialized configuration for when you have hot-swappable physical drives

[2020-01-30 11:06] tvvignesh commented on #4317
Yup. I am getting the same logs as well.

![Screenshot from 2020-01-30 16-35-30](https://user-images.githubusercontent.com/1165845/73444421-8f757000-437e-11ea-9f3b-067c4db59ba4.png)

[2020-01-30 11:17] tvvignesh commented on #3142
@travisn @dimm0 Hi. I am trying to use Rook with Ceph on GKE (version 1.15.4-gke.22) with Ubuntu-cos image and the PVs stay pending and does not provision the storage.

Using the default `cluster.yaml` `flex/storageclass.yaml`

Have set flexvolume in `operator.yaml` like this:
[code]

This is my `pvc.yaml` (Tried both ReadWriteOnce and ReadWriteMany)
[code]

All resources have been applied to the

[2020-01-30 12:06] tvvignesh opened #4778 "PV pending on GKE v1.15 with Rook 1.2.2 for Ceph"
Hi. I am trying to use Rook with Ceph on GKE (version 1.15.4-gke.22) with Ubuntu-cos image and the PVs stay pending and does not provision the storage.

Using the default `cluster.yaml` `flex/storageclass.yaml`

Have set flexvolume in `operator.yaml` like this:
[code]

This is my `pvc.yaml` (Tried both ReadWriteOnce and ReadWriteMany)
[code]

All resources have been applied to the cluster and no e

[2020-01-30 15:12] ashangit opened #4780 "ceph: support for S3 buckets as DNS subdomain style"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Currently only the bucket Path style is supported.
The feature should provide capability to configure CephObjectStorage for S3 buckets as DNS subdomain style (same feature than https://github.com/rook/rook/pull/2685 but for ceph)
To do so rados gateways should be started with `--rgw-dns-name` parameters

[2020-01-30 15:16] pcornelissen opened #4781 "rook-ceph helm chart problem with kubernetes 1.17.1"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
Helm chart does not work with recent kubectl+kubernetes

**Expected behavior:**
It works ;-)

**How to reproduce it (minimal and precise):**
[code]
**Environment**:
* OS (e.g. from /etc/os-release): MAC
* Kernel (e.g. `uname -a`):
* Cloud provider or hardware configuration:
* Rook version (use `rook ve

[2020-01-30 15:51] travisn commented on #4778
@tvvignesh If the PVC is staying in pending state, the most common cause is that the CSI driver directory needs to be changed for your environment. The setting can be found [here](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L216-L218). I thought this was in our docs, but I'm not seeing it now.

[2020-01-30 15:55] tvvignesh commented on #4778
@travisn Thanks. Will try it out. I had another issue which @galexrt clarified which was the fact that I had no OSDs. I used cluster-pvc yaml to make that work. Now encountering some other errors when trying to create a shared filesystems where even if you apply the filesystem.yaml file, it keeps saying filesystem myfs not found. Anyways, I guess I am doing something wrong. Will create a separate

[2020-01-30 15:55] #4778 closed

[2020-01-30 15:57] travisn commented on #4778
Ok, if you don't have any OSDs that likely is also preventing the filesystem from being created.

[2020-01-30 16:23] st0ne-c0ld opened #4782 "EdgeFS: Can't specify more than one path in spec.storage.directories"
* Bug Report

**Deviation from expected behavior:**

when specify more than one directory in spec.storage.directories

[code]

we get error message on 'target' pods:

```create Pod rook-edgefs-target-0 in StatefulSet rook-edgefs-target failed error: Pod "rook-edgefs-target-0" is invalid: spec.volumes[5].name: Duplicate value: "rook-edge"```
[operator_logs.txt](https://github.com/rook/rook/files/41

[2020-01-30 21:23] xenolinux commented on #4029
I tried to reproduce the issue, and it was reproducible.

The steps I used to reproduce are as below:
1. Created replicated CephBlockPool with default failureDomain `host`. https://rook.io/docs/rook/v0.9/ceph-pool-crd.html
2. Changed `failureDomain` from `host` to `osd` in CephBlockPool 's CRD.
3. The applied changes didn't reflect in ceph CRUSH map when extracted in ceph toolbox.

[2020-01-30 23:23] satoru-takeuchi commented on #3132
I got an answer from a Ceph kernel guy. Here is the summary from the user's point of view.

- When does this problem happen?
  - Making an XFS filesystem on the top of network devices like RBD and NDB.
    - This problem might also happen with other filesystems. However, XFS's aggressive memory reclaiming logic makes its probability far higher than other filesystems.
   - Its possibility gets high

[2020-01-30 23:30] eknudtson commented on #4351
Hi,

I'm still seeing this crash on rook 1.2.2 when I set mgr annotations.

[2020-01-31 03:02] travisn commented on #4351
I see where the fix is needed. As a workaround if you specify "all" annotations in addition to the specific component such as "mgr", the annotations will be applied.

[2020-01-31 04:33] minh-nguyenquang commented on #4660
I manually deleted Ceph rbd-image this command https://docs.ceph.com/docs/mimic/rbd/rados-rbd-cmds/#removing-a-block-device-image
[code]
I manually deleted Ceph rbd-image this command https://docs.ceph.com/docs/jewel/rados/operations/pools/#delete-a-pool
[code]
I did these operations because I'm trying to solve the issue with volume cannot be attached on the pod which is caused by kernel incompati

[2020-01-31 04:51] ymmt2005 commented on #4387
topologySpreadConstraints will become beta in Kubernetes 1.18.
https://github.com/kubernetes/enhancements/pull/1482

[2020-01-31 05:54] #4079 closed

[2020-01-31 08:18] LenzGr commented on #3132
@BlaineEXE wouldn't it possible to create a bug reporting template on github that contains this guidance?

[2020-01-31 09:10] leseb commented on #3132
This is perfect for the "common issues" section of the Rook documentation, https://rook.io/docs/rook/v1.2/ceph-common-issues.html.

[2020-01-31 09:16] satoru-takeuchi commented on #3132
@leseb I'll send a PR.

[2020-01-31 09:19] leseb commented on #3132
Great thanks!

[2020-01-31 15:06] toydarian commented on #4715
I found the issue and share it here in case somebody encounters this. It cost me around 50h to find it.
I was using calico and kubernetes was communicating over virtual interfaces that were assigned to vlans. The network looks like this, the k8s nodes were using the 10.7.0.0/21 network to communicate:
[code]
The pods were able to communicate (see post above) but the mons didn't form quorum.
The ne

[2020-01-31 15:06] #4715 closed

[2020-01-31 15:07] toydarian commented on #4553
I fixed my problem. Description what went wrong in my very specific setup is in this comment: https://github.com/rook/rook/issues/4715#issuecomment-580770591

[2020-01-31 17:35] #4351 closed

[2020-01-31 18:54] #4690 closed

[2020-01-31 23:54] travisn opened #4797 "Legacy OSDs on devices are being skipped in the upgrade to v1.2.3"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
The upgrade integration test is failing in the `release-1.2` branch since [build 54](https://jenkins.rook.io/blue/organizations/jenkins/rook%2Frook/detail/release-1.2/54/pipeline/).

It seems the upgrade is jumping straight from v1.0 to master, skipping over the v1.1 upgrade, which is needed to complet

[2020-02-01 09:35] travisn commented on #4797
The root cause of the failing test is that the legacy OSDs that were created on Rook partitions are not getting upgraded. With the new partitioning support, the devices with the Rook partitions are being skipped. In the upgrade test in the release-1.2 branch, the upgrade test configures OSDs with v13.2.0, which doesn't have c-v support yet. Thus, when upgrading to v1.2 the partitioning detection c

[2020-02-03 05:37] thotz opened #4801 "build : docker image building fails while downloading tini"
While building image for rook/ceph fails with following error
=== docker build build-6d836edb/ceph-amd64
Sending build context to Docker daemon  78.59MB
Step 1/10 : FROM ceph/ceph-amd64:v14.2.6-20200115
 ---> 0fe3d0247e54
Step 2/10 : ARG ARCH
 ---> Using cache
 ---> a0ac862376e8
Step 3/10 : ARG TINI_VERSION
 ---> Using cache
 ---> 43e024b070e1
Step 4/10 : RUN curl --fail -sSL -o /tini https://gith

[2020-02-03 08:14] leseb commented on #4801
Did you try to re-run the build? Is it happening all the time? Or once?

[2020-02-03 08:28] toydarian commented on #4715
Update in case someone finds this thread:
I tried flannel, which yielded the same result. But then I found this issue https://github.com/rook/rook/issues/3109 and voila, setting the interface for flannel to bind to solved the issue.

[2020-02-03 11:11] #2530 closed

[2020-02-03 14:39] travisn commented on #4247
the operator always uses topologyAware since the 1.2 release and I haven't heard of a repro of this issue, so must have been fixed by #4131

[2020-02-03 14:39] #4247 closed

[2020-02-03 17:15] Jimmol-Singh opened #4804 "Agent pods is not created after running kubectl -f apply operator.yaml"
OS: Ubuntu 16.04
Kernel: 4.4.0-170-generic
Rook version: v1.2.3

Hello,

I'm facing a problem where my agent pod is not created when I run kubectl -f apply operator.yaml

`kubectl get pods -n rook-ceph`

NAME                                  READY   STATUS    RESTARTS   AGE
rook-ceph-operator-79d66f97c8-cgsll   1/1     Running   1          45m
rook-discover-5nn6d                   1/1     Running

[2020-02-03 17:19] Madhu-1 commented on #4804
Flex driver is disabled by default, if you want to use it please enable it during operator deployment see
  https://github.com/rook/rook/blob/3a3394ae32f72525f49a5d5d230b366ae049aa00/cluster/examples/kubernetes/ceph/operator.yaml#L169

[2020-02-03 17:20] Madhu-1 commented on #4804
CSI driver will be enabled by default in rook 1.2

[2020-02-03 19:17] #4636 closed

[2020-02-03 19:34] travisn commented on #3582
@screeley44 You were able to configure rook for rbd mirroring, right? Can you elaborate on what steps you might have required to get it running? thanks

[2020-02-03 19:37] #4746 closed

[2020-02-03 19:39] travisn commented on #4126
I believe #4216 was actually the fix for this issue. The fix is in a v1.1 patch release and the v1.2 release since this issue was opened. But if we see a repro please do re-open.

[2020-02-03 19:39] #4126 closed

[2020-02-03 21:35] ron1 opened #4807 "Define ObjectBucket and ObjectBucketClaim CRDs with sensible support for get and list verbs"
* Bug Report

Define ObjectBucket and ObjectBucketClaim CRDs with sensible RBAC to enable support for get and list verbs

**Deviation from expected behavior:**
A user is unable to get and list ObjectBuckets. A user with view privileges in the namespace is unable to get and list ObjectBucketClaims in that namespace.

**Expected behavior:**
A user is able to get and list ObjectBuckets. A user with v

[2020-02-03 21:42] fabianotessarolo commented on #4715
Hi @toydarian I spent also many hours on that but found also this issue when using calico... On my case to make work I've changed for network host. Later will try to find out how to make it work with calico.

[code]

[2020-02-03 22:05] travisn commented on #4807
@ron1 As I think through this more, my impression is that creating this RBAC should be left up to the admin to create. The only place Rook currently defines RBAC is really in `common.yaml` (or the helm chart). The operator doesn't have privs to create RBAC at runtime.

Do you have an example of the RBAC that you would expect Rook to create? It's a possibility if we statically included it in `commo

[2020-02-03 22:18] Antiarchitect commented on #4733
Deployment and DS are gone with the pods - expectable (pods are not trying to regenerate). This thing is killing me guys :(

[2020-02-03 22:21] travisn commented on #4733
@Antiarchitect Have you deployed v1.2.3? The fix is included with #4788 in that release, I just missed tagging this issue with the fix.

[2020-02-03 23:28] screeley44 commented on #3582
@travisn @shaekhhasanshoron

It's been a little bit, but when I did test this out I documented my steps as a reference point, below is the `manual` approach I did (not using bootstrap):

of course, all of this depends on net connectivity between your clusters - so make sure your mon pods can communicate with each other over port 6789

[code]

[2020-02-04 03:12] ron1 commented on #4807
@travisn I was thinking out-of-the-box edit and view roles would be defined as described here for the example CronTabs CRD: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles.

Specifically, ObjectBucket would have a ClusterRole aggregate-object-bucket-view and ObjectBucketClaim would have both ClusterRoles aggregate-object-bucket-claim-view and aggregate-object-

[2020-02-04 08:08] Antiarchitect commented on #4733
@travisn I just deployed. Will watch for some time.

[2020-02-04 09:03] #3132 closed

[2020-02-04 11:23] mumrau commented on #3013
Back at it.

[2020-02-04 12:26] yanniszark commented on #3013
@mumrau thanks for bumping this :)
This is an interesting issue that I'd love to take on when I have the time.
In addition, if you are using the Cassandra Operator in production, it would help a lot if you could fill this Rook survey: https://www.surveymonkey.com/r/9KD5KRV

[2020-02-04 12:27] toydarian commented on #4715
Hi @fabianotessarolo I guess that makes sense, as setting `hostNetwork: true` makes the container use the host network stack, so it will not use a network plugin.

[2020-02-04 12:27] thotz commented on #4801
it is reproducible on two machines, it happens when I clone the new repo and do make -j4 IMAGES="ceph". If I do make -j4 and followed by make -j4 "images=ceph". This is no seen IMO

I have another query do "make distclean" should remove all the files (including .cache directory created inside the repo) ?
@leseb

[2020-02-04 12:39] michael-db opened #4810 "PVC OSD prepare CrashLoopBackoff if PV not blank"
Rook 1.2.3 but from a quick look at the source code the bug appears still to be present on master.
On this line in pkg/daemon/ceph/osd/daemon.go
[code]
deviceOSDs is empty.

**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
[code]

**Expected behavior:**

Clean failure instead of crash if the PV is not cleared for use.

**How to reproduce it (minimal

[2020-02-04 13:36] leseb commented on #4810
I guess I can fix it as part of https://github.com/rook/rook/issues/3852

[2020-02-04 16:00] michael-db opened #4812 "PVC OSD deployment clobbered by non-PVC OSD deployment"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

With a cluster config including
[code]
change count: to 1 so that a PVC backed OSD deployment is launched.
Within a minute, the new OSD deployment with the appropriate persistentVolumeClaim without a persistentVolumeClaim, which looks just like any of the local device (i.e., non-PVC) deployments, whic

[2020-02-04 16:11] leseb commented on #4812
I quickly read this, so hopefully, I didn't miss anything useful.
If the orchestration fails because you are trying to do both osd on pvc and non-pvc then this use case is not supported and likely intended to fail.

However, the code should probably fail appropriately.

[2020-02-04 16:15] rofra commented on #1507
I'm experiencing the same issue, any update for flex volume ?

[code]

[2020-02-04 16:58] michael-db commented on #4812
Thanks for your reply, Sébastien.
On review, one might infer that this usage is not supported from "There are two different modes to create your cluster, depending on whether storage can be dynamically provisioned" in the docs, but it would be good to make it explicit that a mixture of the two is not allowed.
We would like the flexibility to be able to add dynamic storage to local disks, and I ass

[2020-02-04 17:26] dimm0 commented on #1507
Delete the node from the cluster is the only way I know for now

[2020-02-04 17:50] R-omk commented on #1507
it can be used.  Read the sources for more explanations.
https://github.com/kvaps/kube-fencing

Fencing is the only way to guarantee that the volume will not be damaged

[2020-02-04 20:50] ntolia commented on #4724
I can understand why this change is being made but the lack of OSDs running on directories will hurt quick experimentation (minikube, Docker Desktop, etc.) where it is harder (impossible?) to provision extra volumes or partition.

[2020-02-04 20:52] yanchicago commented on #4274
With rook 1.1.7 release, I've seen rook-ceph-operator restarted as well due to "leaderelection lost". And it mostly correlates to k8s api server not responding.

In my case, the cluster is not disappearing. But some osds were restarted by the operator orchestrating.
`
2020-02-04 11:08:33.964808 I | op-osd: deployment for osd 1 already exists. updating if needed
2020-02-04 11:08:33.970133 I | op-mo

[2020-02-04 20:54] fabianotessarolo commented on #4715
Hi @toydarian more update from my side, for future reference. After a huge tshooting me and @apmartins85 found that the problem was actually on Cri-O and Calico. We are using Kubespray to deploy our cluster and on version 1.11 to 1.12, a changed was made on [crio.conf](https://github.com/kubernetes-sigs/kubespray/blob/370a0635fae8b4904bb6bf7936884195d1ab327f/roles/container-engine/cri-o/templates/

[2020-02-04 20:55] fabianotessarolo commented on #3109
https://github.com/rook/rook/issues/4715#issuecomment-582110333

[2020-02-04 23:29] travisn commented on #4807
Ah, good point to use the aggregation rules to give the view and edit capabilities.

[2020-02-05 00:06] travisn commented on #3610
Integration tests for OSDs and Mons on PVCs added with #4151

[2020-02-05 04:20] dimm0 commented on #4703
Any update on this? Not sure it's safe to update to the new version...

[2020-02-05 07:09] #3439 closed

[2020-02-05 08:18] Madhu-1 commented on #4772
@eroji you need to unmap from the node where is it mapped not from the toolbox pod

[2020-02-05 08:23] Madhu-1 commented on #4743
@BlaineEXE the below info will not be passed to CSI driver by external provisioner

[code]
external-provisioner and external-resizer will fetch the secret from the name and namespace provided in storage class and sends it to the CSI if we want to implement our own logic to fetch the keys we will be bypassing the CSI spec.

[2020-02-05 08:25] Madhu-1 commented on #4733
closing this one as #4788 Fixed the issue, please feel free to reopen if the issue presists

[2020-02-05 08:25] #4733 closed

[2020-02-05 08:39] Madhu-1 commented on #4622
@edude03 currently CSI is not handling lib modules form the operator.yaml . can you please tell us what issue you are facing is this cephfs or rbd?

[2020-02-05 08:43] Madhu-1 commented on #4699
This will be fixed once we fix https://github.com/ceph/ceph-csi/issues/578, to avoid this issue you need to use RWX, but RBD doesnot support Filesystem RWX PVC, you can switch to cephfs if you need Filesystem RWX.

[2020-02-05 09:10] stephan2012 commented on #3975
While investigating volume attachment timeouts I found this in csi-attacher container of csi-cephfsplugin-provisioner:

[code]

Is this the same issue?

[2020-02-05 09:34] stephan2012 opened #4814 "Ceph volume attachment timeout"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
When a Pod is created a CephFS volume attachment runs into a timeout. The csi-attacher logs in csi-cephfsplugin-provisioner show:

[code]

Maybe #3975 is related.

**Expected behavior:**
Volume attachments succeed.

**How to reproduce it (minimal and precise):**

Not sure. Rook Ceph Operator was provis

[2020-02-05 09:36] stephan2012 commented on #4814
Looks like roles `cephfs-external-provisioner-cfg` and `rbd-external-provisioner-cfg` lack the `update`verb for `configmap` resources. After

[code]

everything seems to work as expected.

[2020-02-05 10:54] mattirantakomi opened #4816 "External cluster details are not populated to configmap rook-ceph-csi-config"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**

Rook release 1.2.3 contains fix: Ceph external cluster repeatedly saving mon endpoints to config (#4717, @eliaswimmer), https://github.com/rook/rook/issues/4717

It seems that this fix is faulty as now the `rook-ceph-csi-config` is not populated with cluster details at all.

After external cluster cre

[2020-02-05 11:53] thotz commented on #4703
@dimm0
Sorry to reply lately. I missed  this one initially.

At least from code reading in rook, objectstore will added to "default realm" if it was not able to find any existing realm. In r case may it was not able to do so.
And it looks straightway reproducible, but i am facing issue to set up rook due https://github.com/rook/rook/issues/4724. I will debug further after setting to rook enviromen

[2020-02-05 12:45] fulii commented on #4113
We are running heavy workload next to our ceph pods, and we would like this option too.

[2020-02-05 13:34] danilo404 commented on #4207
Hi @melnik13. You've probably found the same work around by now but just in case and for future reference. I had the exact same problem after performing node restarts in the cluster and the solution that worked for me was deleting the key from the ceph configuration kv store and creating the certificates again. I did this from the ceph tools pod:
[code]

[2020-02-05 13:49] PavloZabudskyi commented on #4645
Same with rook 1.2.3 and ceph 14.2.6

[code]
`rook-ceph-osd-4-74dd45cbcb-s86ll                     97m          17327Mi`

[2020-02-05 16:21] mumrau commented on #4664
Some documentation need to be added around this I confirm.
On my end I took the opposite path because `ceph` obviously is an incredibly critical component, I'd rather be safe and upgrade throughout the documented procedures.

But at the end of the day, `rook-ceph` is the only component (except for the `kube-system` static components) that isn't managed through `helm` on my clusters.

[2020-02-05 16:31] leseb commented on #4724
@ntolia there are options to attach block devices to a VM, it's easy when using the libvirt provider, also virtual box can do this for you so minikube is still relevant.

[2020-02-05 16:36] leseb commented on #4801
AFAICT this https://github.com/krallin/tini/releases/download/v0.16.1/tini-amd64 is reachable for me and the CI is passing that step all the time, so I believe it's on your side.

[2020-02-05 16:39] mumrau commented on #4044
I would like to bump this up. I suppose a _lot_ of users that kept upgrading their clusters are facing this issue. By nature, `ceph` is the kind of workload that needs consistency and that isn't recreated ever.

I suppose we all are also scared, that someday the migration procedures won't be usable with 2 separate namespaces, and we would be quite screwed.

[2020-02-05 16:46] rofra commented on #1507
As far as I understand it, it is due to an error on **StatefulSet** pod deletion, due to "kubectl drain" or classic "kubectl delete pods" commands with **--force --grace-period=0** options.

On https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/pod-safety.md

On: https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/

@R-omk, maybe @d

[2020-02-05 16:55] ntolia commented on #4724
@leseb Yes, I understand but one frequently doesn't have access to the VM (e.g., Docker Desktop on Mac) and this will make life more difficult and local tests more complicated in general. As I said, I understand the reasoning behind the change but did want to raise its potential impact on non-Rook devs.

[2020-02-05 18:05] Jimmol-Singh commented on #4804
Thanks! The agent pod is up and running after I ran cluster.yaml. Which is weird because I thought the operator.yaml file would start the agent pod along with the discover pod. Oh well, either way before I would ran the cluster.yaml file but the agent pod wouldn't show up but after changing line 169 in operator.yaml to 'true', the agent pod is running.

rook-ceph-agent-2ggnj

[2020-02-05 18:05] #4804 closed

[2020-02-05 18:05] eroji commented on #4772
@Madhu-1 how exactly do I unmap it?

[2020-02-05 18:06] paalkr commented on #4590
Unfortunately rook 1.2.3 has not fixed this issue. I'm still experiencing the csi deployment and daemonset being removed. This is a very serious issue, as no pods using the csi driver are able to start.

Lately I have experienced this not only when the master nodes or the operator are being replaced, but at any random and unpredictable time.

[2020-02-05 19:03] travisn commented on #4044
All of the Rook CI tests run the operator in a separate namespace from the CephCluster CR. There is no plan to change this pattern from being supported with the operator running in a separate namespace from the cluster.

The bigger question really is about migrating to the CSI driver from the flex driver. PVs can't just change which driver they're being managed by. The flex driver is still being s

[2020-02-05 19:10] dimm0 commented on #4703
Upgraded with no issues this time... Will keep the ticket open until you test this

[2020-02-05 19:11] travisn commented on #4590
Ok, we'll need to revert #4354 until we can find a fix that is working more consistently. The culprit is finding the right `apiVersion` [here](https://github.com/rook/rook/pull/4354/files#diff-adea344e7490060e9266f3fdb267f088R180-R185). #4788 must not have been the correct value.

[2020-02-05 19:24] paalkr commented on #4590
Thx. We encountered a rather serious outage in a production cluster today, due to this issue. Of course the outage didn't last long, as the fix is pretty straight forward (restart the operator).

Just today I have seen the csi pods being removed twice.

[2020-02-05 20:08] #4572 closed

[2020-02-05 20:11] yanchicago commented on #4044
@travisn Thanks for your response.

Even two-namespace is not deprecated soon, the migrating procedure will still help reducing the support/troubleshooting effort in maintaining two kinds of rook deployment in the fields.

<The bigger question really is about migrating to the CSI driver from the flex driver.
I have a ticket #4043 opened separately for the above as well.

[2020-02-05 20:26] R-omk commented on #1507
@rofra

This is exactly what kubelet is trying to do.

But the most important thing is to unmount the partition, or physically break the link so that nothing could damage the data, this is exactly what fencing does.

So, if you kill processes that could write to the file system on such a partition (it about `docker stop`), dont forget to make sure that file system services (such as journaling) do

[2020-02-05 20:39] travisn commented on #4816
@eliaswimmer or @leseb could you take a look at this issue? thanks

[2020-02-05 20:45] travisn commented on #4814
@stephan2012 Did you enable the CSI 2.0 driver, or this is just with the rook defaults (that don't run CSI 2.0 yet)?
@Madhu-1 Do you know the related change in the CSI driver that required updating the configmap? I'd like to understand what versions of csi/rook would be affected by this missing permission.

[2020-02-05 20:45] R-omk commented on #1507
Another idea is to have a hot standby pod that will start on volum's snapshot.

Something like operator determines that the main pod is down then
- removes the old pod from the balancer (ie patch service)
- creates a ceph volume snapshot (I hope is safe for data)
- creates PV linked with the new volume
- creates a new pod with the new PV

software continues to work while the old pod is stuck waiti

[2020-02-05 20:49] Antiarchitect commented on #1507
I'm not an expert, but it seems fsfreeze would be nice for data integrity. I saw it appliance in several VMs like VmWare and Proxmox before doing snapshots.

[2020-02-05 20:52] dimm0 commented on #1507
Ceph RBD already has exclusive-lock feature, isn't it supposed to fix this?

[2020-02-05 21:00] travisn opened #4819 "Admission controller for improved error reporting on invalid CRs"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
An admission controller would improve the feedback to admins creating CRs when there are error conditions. The static openapiv3 schema checking can only do so much to check for the errors. Without the admission controller, the operator has to check for invalid settings when applying the CR and errors wo

[2020-02-05 21:01] paalkr commented on #4590
As a workaround to prevent an immediate crises, I deleted the owner reference for the csi deployment and daemonset.

[2020-02-05 21:03] R-omk commented on #1507
@dimm0 I do not quite understand what you mean, but title of this issue contains "can't mount the same volume", so it need to mount another 😄

[2020-02-05 21:03] travisn commented on #4590
Sounds good, that should hold as long as the operator doesn't restart.

[2020-02-05 21:04] dimm0 commented on #1507
The issue is that we want to mount the same volume from a different node, right? And in my understanding exclusive-lock should somehow tell ceph which node is now in control of RBD

[2020-02-05 21:15] paalkr commented on #4590
So an operator restart will patch the csi daemonset and deployment during startup, even if they are present? Well, that was a little disappointment.

Any other suggested workarounds? I'm unfortunately not feeling to happy about the cluster health at the moment.

PS, No hard feelings though. I have for the most found Rook to be an extraordinary good piece of technology.

[2020-02-05 21:37] travisn commented on #4590
i'm testing a fix today, and will potentially have a release tomorrow. At a minimum I expect a build with the fix in case it takes longer for the official release. I can't think of another workaround in the meantime.

[2020-02-05 22:05] ShyamsundarR commented on #1507
As various updates to this issue poured in today, I was also working to establish what problems were present in ceph-csi, that disallowed the mount on a second node. So here is my update, which also closely mirrors other comments made above.

**NOTE:** All testing that I did was using kubernetes v1.17

There are 2 categories of problems being discussed here,
1) Recovering from a node failure: allo

[2020-02-05 22:33] paalkr commented on #4590
Thanks a lot, I appreciate your dedication and kind help.

[2020-02-05 22:37] dimm0 commented on #2424
Nope.. Once I add a tag, it starts mounting read-only

[2020-02-05 23:16] #4810 closed

[2020-02-06 06:59] travisn commented on #4590
The fix has been backported to the release-1.2 branch and will be included in v1.2.4, which I'd like to plan on tomorrow. In the meantime, this intermediate release build has the fix if you want to get it going now: `rook/ceph:v1.2.3-6.ga24e3d3`

[2020-02-06 07:09] travisn opened #4824 "CSI driver no longer removed with uninstall"
**Is this a bug report or feature request?**
* Bug Report

**Deviation from expected behavior:**
With #4820, the ownerReferences for the CSI resources on the CSI configmap had to be reverted because it was intermittently causing the CSI resources to disappear since the v1.2 release, as described in #4590. The owner reference was working correctly as long as the UID was being used by the garbage co

[2020-02-06 09:53] crombus commented on #4620
i wish take this up.

[2020-02-06 10:03] leseb commented on #4620
This should be in ceph-csi, not Rook. Rook is not in the PVC request path. Also, since devices are sparse, it's not straightforward to do this restriction, we need to have an overcommit ratio. But again, this has to be in ceph-csi. Please move it there.

[2020-02-06 10:03] #4620 closed

[2020-02-06 10:18] thotz commented on #4801
Exactly. I can do the same from my machine as well, Only from make I see this issue

curl --fail -sSL -o /tini https://github.com/krallin/tini/releases/download/v0.16.1/tini-amd64 && chmod +x /tini
echo $?
0

ls /tini
/tini

Firewall is disabled  and selinux is permissive mode as well

[2020-02-06 11:38] harshalkwagh opened #4827 "rook-ceph-crash-collector-keyring secret not found after node restart"
- I installer rook-ceph cluster on 3 node k8s cluster and verified the installation
- After that i stopped the VMs and the restarted on next day

**Deviation from expected behavior:**
- I found that "rook-ceph-crashcollector" pods are stuck in Init state forever
![Screenshot at 2020-02-06 16-39-26](https://user-images.githubusercontent.com/22464777/73932271-002d0700-4900-11ea-8685-8e887664388f.png

[2020-02-06 14:51] windayski opened #4828 "Data is not present after PVC restore from snapshot using cephcsi"
I use the example yaml files of https://github.com/rook/rook/tree/master/cluster/examples/kubernetes/ceph/csi/rbd to create and restore a snapshot, but data is not present after PVC is restored.
Did I do something wrong?

**How to reproduce it (minimal and precise):**

in Old pod, add some file in PVC, the mount path is /data in pod.

[code]
create snapshotclass and snapshot of the PVC.
1. `kubect

[2020-02-06 15:01] BlackCetha commented on #4727
I also have this problem. It seems like the Operator is unable to create MONs. It starts the canary deployment pods, but they get stuck. The termination of these deployment pods is stuck and the operator gives up on waiting for them. Sometimes a single MON is started, but it is still unresponsive.
After this, a crashcollector pod pops up but fails to start due to a missing secret.

Things I've tri

[2020-02-06 15:42] leseb commented on #4812
@michael-db will try to catch that more elegantly, thanks!

[2020-02-06 15:45] leseb commented on #4827
Operator logs please.

[2020-02-06 15:58] stephan2012 commented on #4814
No, just defaults:

[code]

Helm values:

[code]

(This is the full `values.yaml` file)

[2020-02-06 18:09] onedr0p commented on #1659
Do I need to do anything specific to enable these metrics? I am not seeing them in Prometheus. My rook-ceph deployment is [here](https://github.com/onedr0p/k3s-gitops/tree/master/deployments/rook-ceph)

[2020-02-06 18:15] travisn commented on #1659
@onedr0p Did you find help topic for [enabling monitoring](https://rook.io/docs/rook/v1.2/ceph-monitoring.html)?

[2020-02-06 18:17] onedr0p commented on #1659
Yes, I have done that and I can see `ceph_*` metrics in Prometheus, however no `kubelet_volume_*` metrics.

[2020-02-06 18:26] travisn commented on #1659
@onedr0p If you're using the flex driver (not enabled by default in rook anymore), the metrics should be available by default. With the CSI driver, there are some metrics enabled by default as well with [this setting](https://github.com/rook/rook/blob/release-1.2/cluster/examples/kubernetes/ceph/operator.yaml#L183-L184). [Here](https://github.com/ceph/ceph-csi/blob/ae67534a448161ed0128e0212788d268

[2020-02-06 18:26] #4565 closed

[2020-02-06 18:29] dimm0 commented on #1659
I can see metrics fine from rook

[2020-02-06 19:23] onedr0p commented on #1659
Thanks @travisn I will debug more on my end before opening an issue.

[2020-02-06 20:38] travisn commented on #4797
Fixed by #4799

[2020-02-06 20:38] #4797 closed

[2020-02-06 20:55] travisn commented on #4635
This has been fixed in the Ceph [v14.2.7 release](https://docs.ceph.com/docs/master/releases/nautilus/#v14-2-7-nautilus)

[2020-02-06 20:55] #4635 closed

[2020-02-06 21:13] travisn commented on #4295
See the [Rook docs](https://rook.io/docs/rook/v1.2/ceph-quickstart.html)

[2020-02-06 21:13] #4295 closed

[2020-02-06 21:15] travisn commented on #4278
@foux The operator watches for events of nodes being added and will start and orchestration to create OSDs. However, there is a race condition that sometimes causes the event to be missed by the operator. The workaround is to restart the operator after adding the new node until we get this fixed.

[2020-02-06 21:17] travisn commented on #4264
As nice as this would be, we can live without it for now

[2020-02-06 21:17] #4264 closed

[2020-02-06 21:18] travisn commented on #4242
@rohan47 can you take a look at this? thanks

[2020-02-06 21:31] travisn commented on #3706
Fixed with #4318

[2020-02-06 21:31] #3706 closed

[2020-02-06 21:37] travisn commented on #3681
When `useAllNodes: false`, the `nodes` must be listed individually and the node affinity from the cluster CR will be ignored.

What Rook needs to do in this scenario is look for labels on the node that indicate what device(s) to consume on that node.

[2020-02-06 21:46] travisn commented on #4724
Related to #3379

[2020-02-06 21:52] travisn commented on #3133
Resize is working in both the flex and csi drivers now, so closing this issue.

[2020-02-06 21:52] #3133 closed

[2020-02-06 21:54] travisn commented on #2959
Closing since the CRUSH hierarchy and specify the crushRoot property in the pool is already supported. If a locality is needed for a volume on a specific node, a local storage PV should be used instead of Rook.

[2020-02-06 21:54] #2959 closed

[2020-02-06 21:57] #2465 closed

[2020-02-06 22:01] onedr0p opened #4834 "Unable to see kubelet_volume_* metrics in Prometheus"
**Is this a bug report or feature request?**
* Bug Report

I am unable to see kubelet_volume_* metrics in Prometheus, what can I do to help debug my issue?

**Expected behavior:**

Should be able to view kubelet_volume_* metrics in Prometheus

**How to reproduce it:**

Deploy rook-ceph Helm chart on k3s

**File(s) to submit**:

My entire rook-ceph deployment is [here](https://github.com/onedr0p/k3

[2020-02-06 22:07] leseb commented on #3379
Done in https://github.com/rook/rook/issues/4724 already?

[2020-02-06 22:10] travisn commented on #1653
As a reference, we have a doc now for disaster recovery either when mon quorum is lost of the whole kubernetes cluster is lost. See the [disastery recovery guide](https://rook.io/docs/rook/v1.2/ceph-disaster-recovery.html).

There is still more to simplify and document around this, so leaving this issue open...

[2020-02-06 22:11] #3379 closed

[2020-02-06 22:19] travisn commented on #1610
It's still not clear to me what Rook can provide here. At the K8s and network layer there are features such as supporting ipv4/v6 dual stack, multus, etc. Each storage provider will need to implement the multi-tenancy. We can discuss again how it can be shared after one storage provider implements something here.

[2020-02-06 22:19] #1610 closed

[2020-02-06 22:21] travisn commented on #1466
There is no plan to move the CI

[2020-02-06 22:21] #1466 closed

[2020-02-06 23:00] onedr0p commented on #4834
Are these `kubelet_volume_` metrics part of this ServiceAccount? I am just having a hard time figuring out how to debug my issue and the documentation is pretty limited.

[code]

[2020-02-06 23:26] #4750 closed

[2020-02-07 04:28] Madhu-1 commented on #4814
leaderelection should be of type leases for external-attacher see https://github.com/kubernetes-csi/external-attacher/blob/v1.2.1/cmd/csi-attacher/main.go#L72

if the atttacher image is v1.2.0 we are setting the leaderelection type to leases in the template also https://github.com/rook/rook/blob/release-1.2/pkg/operator/ceph/csi/spec.go#L223  and https://github.com/rook/rook/blob/v1.2.3/cluster/ex

[2020-02-07 05:17] crombus commented on #4575
I wish take this up

[2020-02-07 06:33] BlackCetha commented on #4727
Seems to work fine with flannel instead of calico, but I can't see why. Probably has to do with calico's policy model.

[2020-02-07 07:37] stephan2012 commented on #4814
Using leases over configmaps perfectly makes sense.

However, I'd prefer a quick fix now and a general solution later. Right now it takes manual intervention to prevent volume attachment timeouts after updating the operator Helm chart.

[2020-02-07 07:39] Madhu-1 commented on #4814
@stephan2012 can you please paste cephfs deployment template

[2020-02-07 07:44] stephan2012 commented on #4814
@Madhu-1: Do you need more besides https://github.com/rook/rook/issues/4814#issuecomment-582973627?

[2020-02-07 07:48] Madhu-1 commented on #4814
@stephan2012 yes I would like to see cephfs deployment and attacher built  version

[code]
and also attacher version from attacher container
[code]

[2020-02-07 07:53] leseb commented on #4575
Next time, don't ask, if there is no assignee and no PR just take it and leave a message here. Thanks.

[2020-02-07 08:00] stephan2012 commented on #4814
Here we go. CephFS provisioner plugin:

[code]
Attacher version:

[code]

Please let me know if you need more input.

[2020-02-07 08:31] Madhu-1 commented on #4814
as expected the leaderelection is not set in deployment thats why its using default type which is configmap

here is what is suggest you for a workaround

can you please update the attacher image to v2.1.0 and apply RBAC mentioned in https://github.com/rook/rook/blob/v1.2.3/Documentation/ceph-upgrade.md#enabling-the-csi-v20-driver

that should fix this issue.

@travisn do  you have any idea why th

[2020-02-07 09:57] rohantmp commented on #4156
I've eliminated the controller-runtime parts as a candidate. The issue is reproducible even once I've disabled all those parts.

[2020-02-07 13:06] nizamial09 commented on #4819
@aruniiird Please have a look at this.

[2020-02-07 13:38] eliaswimmer commented on #4816
@travisn Oh! I will do so.

[2020-02-07 15:07] travisn commented on #4814
Agreed, this code looks right as long as the v1.2 tag is being used for the attacher image

That is certainly odd that the deployment type is `extensions/v1beta1`. Since the CSI driver has been deployed in Rook v1.0 it has always used `apps/v1`.

[2020-02-07 17:01] onedr0p commented on #1659
For anyone coming here looking for the same information as me, check out this issue: https://github.com/coreos/prometheus-operator/issues/2359 and https://github.com/kubernetes/kubernetes/issues/68522

My ask to anyone here who has it working, what did you do? It seems like it doesn't work out of the box with Prometheus Operator. Does there need to be any documentation written around this?

[2020-02-07 17:03] onedr0p commented on #4834
Seems to be an issue with Kubernetes and Prometheus Operator, if anyone has any idea how to get this working I'd appreciate it. I will close this issue since it's not a fault of rook, but maybe there could be documentation on how to enable it.

https://github.com/rook/rook/issues/1659#issuecomment-583501273

[2020-02-07 17:03] #4834 closed

[2020-02-07 20:54] Jimmol-Singh opened #4837 "osd, mon and mds pods is not created when running cluster.yaml"
kernel: 4.7
Rook version: 1.2.3
Kuberentes version: 1.15.9

Hello, When I run kubectl apply -f cluster.yaml, I believe i should see the osd, mon and mds pods up and running but I dont. Instead. I see only the csi-cephfsplugin and csi-rbdplgin showing up. Any idea on what I might be doing wrong?

csi-cephfsplugin-provisioner-5849d8889f-w8xwn   0/4     Pending   0          19s
csi-rbdplugin-8tv9k

[2020-02-08 16:24] lilHermit opened #4840 "pod/csi-rbdplugin - CrashLoopBackOff"
I'm trying to get rook-ceph running on a DigitalOcean K8S cluster.

Pods
[code]

The logs from the failed pods shows

[code]

Versions
[code]

[2020-02-09 10:05] #3404 closed

[2020-02-09 11:32] shaekhhasanshoron commented on #3582
@screeley44 I have followed your procedure. Actually I have deployed the two ceph clusters in two different datacenters. So I have just changed the IP of the mon host with the server IP and nodeport which is forwarded to mon pod as following. I have also created the testc1 image, enabled journaling and mirrored on cluster 1 as you have mentioned but my image did not arrive from cluster 1 to cluste

[2020-02-09 15:21] lilHermit commented on #4840
Fixed this with help from Rook Slack channel. I was mislead by `systemd-run output: Failed to create bus connection: No such file or directory` this issue was port 9090 was already in use on the node.

[2020-02-09 15:21] #4840 closed

[2020-02-10 06:41] Madhu-1 opened #4841 "Revisist RBAC rules for ceph-csi"
**Is this a bug report or feature request?**
* Bug Report

There are few RBAC which are not required are getting deployed when we use common.yaml, we need to remove the unwanted RBAC rules for cephcsi

**Deviation from expected behavior:**
There are more RBAC for cephcsi which are not required
**Expected behavior:**
only required RBAC should be granted for ceph-csi

**How to reproduce it (minimal

[2020-02-10 07:34] mumrau commented on #3589
I'm not using the helm chart anymore, but I do believe this can still be part of the backlog. Maybe someone can `label` it so that it doesn't get stalled?

[2020-02-10 09:55] rohantmp commented on #4156
I think this might be an upstream kube bug. Trying to see if there's a workaround in client-go

[2020-02-10 13:26] leseb opened #4842 "Force balancer module enabling"
Reported by @paalkr

I'm experimenting this feature in a test-cluster right now, and I'm not able to activate the balancer module due to some of my clients in kernel mode are reporting being jewel, due to the bug mentioned here. #4784 (comment)

I get this error in the logs
exec: Error EPERM: cannot set require_min_compat_client to luminous: 9 connected client(s) look like jewel (missing 0x8000000

[2020-02-10 15:00] hightoxicity opened #4845 "Consistency errors between consuming pod and Volumes.rook.io (flexvolume)"
Sometimes we have issues with pods (most of the time, with statefulset) that are stucked in ContainerCreating state reclaiming for a PVC, most of the time it occurs after a node went out of the cluster, pod are scheduled on new nodes, the kubelet is calling flexvolume exec binary that fails complaining the pvc is yet consumed by another pod with the same name and on another node.

It looks like a

[2020-02-10 17:34] leseb commented on #4768
I think it's doable easily for the all-in-one use case where block/db/wal are on the same device. However, once people will try to allocate metadata device (because we don't run on PVC) we will fallback to the LVM mode. This might be confusing for some users...
We wait to hold on that transition once LSO is here and ready to use.

Still need more thoughts I guess but nothing really prevents us fro

[2020-02-10 18:03] chadmayfield commented on #4259
We are seeing the same thing on rook-nfs v1.2.2.  Node running NFS server is using over 14G and running for about a week.

`top - 18:02:04 up 6 days, 20:33,  4 users,  load average: 3.27, 2.88, 1.75
Tasks: 463 total,   1 running, 462 sleeping,   0 stopped,   0 zombie
%Cpu0  :  4.2 us,  2.1 sy,  0.0 ni, 93.8 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
%Cpu1  :  4.1 us,  4.1 sy,  0.0 ni, 91.8 id,  0.0 wa

[2020-02-10 18:15] robinbraemer opened #4846 "Doesn't create BlockPool: clusterName for this namespace not yet known"
**Is this a bug report or feature request?**
* Bug Report

**Expected behavior:**
- Operator should create a ceph block pool in the ceph cluster

**Deviation from expected behavior:**
- Operator instead logs irritating log message

**How to reproduce it (minimal and precise):**
- create ceph block pool Custom Resource

**File(s) to submit**:
Operator log:
[code]

Status of CephCluster CR:
[code]

[2020-02-10 18:22] #4846 closed

[2020-02-10 20:03] graham-web commented on #4259
@chadmayfield Thanks for saving me the effort of testing a newer version - we’ve been holding off deployment of Rook NFS because of the issue.

I wondered if it may have something to do with the verbose logging the server outputs which the Rook binary tails, but not dug far enough to [dis]prove this.

[2020-02-10 21:44] dimm0 commented on #4756
Much better with

[code]

Closing

[2020-02-10 21:44] #4756 closed

[2020-02-10 21:45] dimm0 commented on #4756
Although it's interesting that it requires an unreleased version of ceph...

[2020-02-10 22:15] yanchicago opened #4848 "CSI priority class support"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Tested in rook v1.2.3.
The priorityClass is supported for most of the component of the rook ( agent, discover, osd, mon, mgr..). But not for csi-rbdplugin assuming provision use the same priorityClass.

**What is use case behind this feature:**
Similar use case as agent/discover pods.

**Environment**: